[2021-12-15 00:45] #17828 closed

[2021-12-15 05:59] varungbt opened #19373 "NodeJS process crashes when DefaultAzureCredential retrieval fails"
- **Package Name**: @azure/identity
- **Package Version**: 2.0.1
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 16.13.0

- [x] **typescript**
    - **version**: 4.4.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
From time to time, I see that defaultazure

[2021-12-15 06:02] varungbt commented on #19373
could be related this issue reported for dotnet process crashes
https://github.com/Azure/azure-sdk-for-net/issues/14362#issuecomment-780828362

[2021-12-15 09:16] HarshaNalluru commented on #18957
@andre-laskawy [`@azure/app-configuration - 1.3.1 version`](https://www.npmjs.com/package/@azure/app-configuration/v/1.3.1) has just been released and it should have the fix.
Can you try the new version and let me know if you're still facing issues?

[2021-12-15 11:57] cthakor commented on #19138
@jeremymeng  Can you please let us know which version of @azure/core-http will have this updated version?

[2021-12-15 15:36] #19327 closed

[2021-12-15 15:37] #19329 closed

[2021-12-15 15:37] #19328 closed

[2021-12-15 15:38] #19330 closed

[2021-12-15 15:38] #19331 closed

[2021-12-15 15:39] #19332 closed

[2021-12-15 15:39] #19333 closed

[2021-12-15 15:39] #19334 closed

[2021-12-15 15:39] #19335 closed

[2021-12-15 15:39] #19336 closed

[2021-12-15 15:39] #19337 closed

[2021-12-15 15:41] #19349 closed

[2021-12-15 15:41] #19348 closed

[2021-12-15 15:41] #19347 closed

[2021-12-15 15:42] #19346 closed

[2021-12-15 15:42] #19345 closed, assigned to nobody

[2021-12-15 15:42] #19344 closed

[2021-12-15 15:43] #19343 closed

[2021-12-15 15:43] #19342 closed

[2021-12-15 15:43] #19341 closed

[2021-12-15 15:44] #19340 closed

[2021-12-15 15:44] #19339 closed

[2021-12-15 15:44] #19338 closed

[2021-12-15 17:05] sadasant commented on #19373
Hello @varungbt ! I’m Daniel. I’ll do my best to help.

In the screenshot you’re sharing, some of the code could be obstructed by the tooltip. What is the code exactly? `new DefaultAzureCredential()` with nothing else?

[2021-12-15 17:41] jeremymeng commented on #19138
@cthakor it hasn't been released, but the version would be `2.2.3`.

[2021-12-15 18:22] ramya-rao-a commented on #19160
This should be done as part of #19219

[2021-12-15 18:23] ramya-rao-a commented on #19219
For anyone considering taking up this task, please take up #19160 at the same time in the same PR

[2021-12-15 18:30] ramya-rao-a commented on #19162
This task should be picked up along with #19224

[2021-12-15 18:30] #19162 closed

[2021-12-15 18:30] ramya-rao-a commented on #19224
This task should be picked up along with #19162

[2021-12-15 18:31] ramya-rao-a commented on #17109
Closing this in favor of the bot created #19183 and #19161

[2021-12-15 18:31] #17109 closed

[2021-12-15 18:35] ramya-rao-a commented on #19183
https://github.com/Azure/azure-sdk-for-js/pull/9402 is the ongoing work to remove the dependency on `fs-extra` and `@types/fs-extra`

[2021-12-15 18:35] ramya-rao-a commented on #19161
https://github.com/Azure/azure-sdk-for-js/pull/9402 is the ongoing work to remove the dependency on `fs-extra` and `@types/fs-extra`

[2021-12-15 18:41] ramya-rao-a commented on #19165
This task should be taken up along with #19231

[2021-12-15 18:41] ramya-rao-a commented on #19231
This task should be taken up along with #19165

[2021-12-15 18:42] ramya-rao-a commented on #17772
Closing in favor of the bot generated #19166

[2021-12-15 18:42] #17772 closed

[2021-12-15 18:59] #19360 closed

[2021-12-15 18:59] azure-sdk opened #19380 "Dependency package @types/jwt-decode has a new version available"
We have identified a dependency on @types/jwt-decode (2.2.1). A new version (3.1.0) is available now.

[2021-12-15 19:16] ramya-rao-a commented on #19204
This task should be taken up along with #19226

[2021-12-15 19:16] ramya-rao-a commented on #19226
This task should be taken up along with #19204

[2021-12-15 19:17] ramya-rao-a commented on #19240
This task should be taken up along with #19167

[2021-12-15 19:17] ramya-rao-a commented on #19167
This task should be taken up along with #19240

[2021-12-15 20:14] ramya-rao-a commented on #19183
Post discussion in #9402, we are retaining the dependency on fs-extra, so please use this issue to track the work needed to upgrade it

[2021-12-15 20:14] ramya-rao-a commented on #19161
Post discussion in #9402, we are retaining the dependency on fs-extra, so please use this issue to track the work needed to upgrade it and `@types/fs-extra`

[2021-12-15 20:28] #19364 closed

[2021-12-15 20:38] #19166 closed

[2021-12-15 22:20] ramya-rao-a commented on #19380
This task should be picked up along with #19224

[2021-12-15 23:11] ramya-rao-a commented on #18688
Looks like this is being done in #19043, yay!
Thanks @AlonsoMondal

[2021-12-15 23:42] #19303 closed

[2021-12-15 23:50] timovv opened #19385 "Changes to recorder variables API"
Implement option 3 from [this document](https://gist.github.com/timovv/354590b29e6a541d42c07e45a634aa98) for a less error-prone API for variables in the recorder. The new API for variables should look like:

[code]

Cc: @HarshaNalluru

[2021-12-15 23:53] #17075 closed

[2021-12-16 00:00] timovv opened #19386 "[Unified recorder] Investigate passing recordings path through dev-tool"
Currently, we require a `RECORDINGS_RELATIVE_PATH` environment variable to pass the full path (from the repo root) of where the recordings should be located to the proxy tool.

Instead of this, we should investigate mounting the recording path directly as a docker volume using the dev tool, eliminating the need for this environment variable.

[2021-12-16 00:11] timovv opened #19387 "[Unified Recorder] NoOpCredential helper"
Create a helper that wraps `NoOpCredential` and `ClientSecretCredential` (or perhaps `AzureDefaultCredential`?), automatically selecting `NoOpCredential` when in playback mode and `ClientSecretCredential` when in record mode.

This helper needs to be in a separate package to the usual `@azure/test-utils` package to avoid creating a cyclic dependency with Identity.

We should create an internal `@a

[2021-12-16 03:02] sadasant commented on #17489
Concrete changes ordered by impact:

Here’s a list of quality improvements I’d like to do on Identity:

| Task | Impact level | Impact | Cost | Done |
| -- | -- | -- | -- | -- |
| Simplify the HTTP request mock for [Node](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/test/httpRequests.ts) and the [Browser](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity

[2021-12-16 03:39] qiaozha commented on #19352
This has been resolved by PR https://github.com/Azure/azure-sdk-for-js/pull/18840 and the package has been released.

[2021-12-16 04:25] ramya-rao-a commented on #19352
Thank you!

[2021-12-16 04:25] #19352 closed

[2021-12-16 05:01] sudeepghosh0 opened #19394 "next(): Promise<IteratorResult<T,T>>; -> Method from core-paging is giving a error."
- **@azure/core-paging/types/3.1/core-paging.d.ts**:
- **"@azure/storage-blob": "^12.8.0"**:
- **Operating system**:
- [ ] **nodejs**
    - **v.12.13.0**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2021-12-16 09:33] HarshaNalluru opened #19410 "[Service Fabric] (ARM) Playback failed for the "update" test"
https://github.com/Azure/azure-sdk-for-js/pull/18840/commits/9a220491fdeba9649c1ced515356018065c92434

## TODO
- [ ] Investigate the test failure in playback and resolve the issue
- [ ] Unskip the test once the issue is resolved

reported by @qiaozha

[2021-12-16 10:30] varungbt commented on #19373
Thanks @sadasant
Yes it is just `new DefaultAzureCredential()`

[2021-12-16 10:32] varungbt commented on #19373
@sadasant  here is the permalink
https://community.opengroup.org/osdu/platform/domain-data-mgmt-services/seismic/seismic-dms-suite/seismic-store-service/-/blob/master/app/sdms/src/cloud/providers/azure/credentials.ts#L67

When the `credential.UnavailableMessage!=null`, the nodejs process crashes

[2021-12-16 12:58] andre-laskawy commented on #18957
@HarshaNalluru works fine now :) Thanks for your help!

[2021-12-16 12:58] #18957 closed

[2021-12-16 17:16] maorleger opened #19411 "[Identity] - Troubleshooting link for VSCodeCredential is invalid"
I'm investigating a customer performance issue and noticed they are using VSCodeCredential. I tried to replicate this, but forgot to sign in.

The error message is:

[code]

But that is not a valid aka.ms link.

[2021-12-16 18:40] sadasant commented on #19373
@varungbt thank you! — Investigating.

[2021-12-16 19:06] #17608 closed

[2021-12-16 19:36] sadasant commented on #19373
@varungbt I’m still investigating, but so far, I can’t see a scenario in which `credential.UnavailableMessage` can be null.

While I continue investigating, please keep in mind that there could be another reason why the Node process is crashing.

[2021-12-16 19:45] sadasant commented on #19373
@varungbt oh, so let me first answer to the body of this issue. I have a perspective that I believe will help.

The image you’ve shared:

![](https://user-images.githubusercontent.com/4632477/146131512-b5ed6aa4-022f-445f-bcaf-314153c2026b.png)

It shows that an instance of `DefaultAzureCredential` has a property called `UnavailableMessage` which is not null. It’s never null.

`UnavailableMessage`

[2021-12-16 19:56] danieljurek commented on #18065
I think this just needs to be done for nightly branch https://github.com/Azure/azure-sdk-for-js/blob/main/eng/pipelines/templates/stages/archetype-js-release.yml#L317

[2021-12-16 20:08] danieljurek opened #19412 "Docs.ms ToC creation automation"
Generate from metadata -- https://github.com/Azure/azure-sdk/tree/main/_data/releases/latest

[2021-12-16 20:13] maorleger opened #19413 "[core-tracing] - cache TracingClientImpl._instrumenter..."
Not for this PR but I wonder if instead of getting the instrumenter in every operation like we do here we should get it once and cache it - this way we are still deferring getting it to allow setup to succeed but we won't end up in a situation where half the calls use noop but the other half uses OTel or something weird...

_Originally posted by @maorleger in https://github.com/Azure/azure-sdk-for

[2021-12-16 20:24] ramya-rao-a commented on #19394
@sudeepghosh0 Can you please share a code snippet that can show how to reproduce the error?

[2021-12-16 20:38] #14333 closed

[2021-12-16 20:58] jeremymeng opened #19414 "core-crypto - use shared roll up config from dev-tool"

[2021-12-16 20:59] jeremymeng opened #19415 "app config - use shared roll up config from dev-tool"

[2021-12-16 20:59] jeremymeng opened #19416 "schema registry avro - use shared roll up config from dev-tool"

[2021-12-16 21:36] #19385 closed

[2021-12-16 21:59] danieljurek opened #19418 "Ensure docs branch named "master" is properly handled"
When we renamed `master` to `main` in the docs repo the branch name `master` was no longer significant. As a result someone or something can push to the branch named `master` as they might push to any other branch (e.g. `feature/123`). Something has been pushing to the `master` branch.

We should:
1. Enable branch protection for master
2. Delete the branch or put in a README.md file that redirects

[2021-12-16 22:15] #19353 closed

[2021-12-16 22:28] timovv commented on #17826
The track 1 perf tests aren't currently built by CI, so enabling the linter in this way won't do anything. And I believe we're planning on combining the `recorder-new` package and the old `recorder` package sometime in the near future, so it may be worth holding off on enabling the linter until that stage. I think this issue can now be closed, unless there's any objection.

[2021-12-16 23:02] witemple-msft commented on #18879
This happens because the storage samples don't specify a `target` in their TSConfig, meaning that they target ES3 by default and use old-style classes. An old-style class cannot extend an ES6 class. Our out-of-the-box support for syntax older than ES2017 has ended, as Azure Core targets ES2017.

This will be resolved when Storage samples are migrated to Samples V2 (which I'm starting over the next

[2021-12-16 23:21] ramya-rao-a commented on #17826
Sounds good to me

[2021-12-16 23:21] #17826 closed

[2021-12-16 23:24] sadasant opened #19420 "[Identity] Simplify the HTTP request mock for Node and the Browser"
The HTTP request mock for [Node](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/test/httpRequests.ts) and the [Browser](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/test/httpRequests.browser.ts) are overly complicated. It should be possible to simplify them into something much simpler. Perhaps a mock to the core-rest-pipeline classes instead

[2021-12-16 23:26] sadasant opened #19421 "[Identity] Run browser tests using CasperJS"
Write browser tests executed via [CasperJS](https://www.npmjs.com/package/casperjs). This will enable us browser authentication testing from node, including navigation. This is useful for both live tests and playback tests, as azure’s interactive login can be mocked.

(Originally from: https://github.com/Azure/azure-sdk-for-js/issues/17489#issuecomment-995395486)

[2021-12-16 23:26] sadasant opened #19422 "[Identity] Test the debugging of DefaultAzureCredential and ManagedIdentityCredential"
Review of the debugging capabilities of `DefaultAzureCredential` and `ManagedIdentityCredential`, improve the experience when possible, then write tests to ensure this experience doesn’t deteriorate over time.

[2021-12-16 23:28] sadasant commented on #17489
Closing on favor of these new issues:

- https://github.com/Azure/azure-sdk-for-js/issues/19420 (February Milestone)
- https://github.com/Azure/azure-sdk-for-js/issues/19421 (Backlog)
- https://github.com/Azure/azure-sdk-for-js/issues/19422 (Backlog)

[2021-12-16 23:28] #17489 closed

[2021-12-17 00:00] #9569 closed

[2021-12-17 00:00] #15936 closed

[2021-12-17 00:00] #18125 closed

[2021-12-17 00:53] HarshaNalluru opened #19425 "[Unified Recorder] Split TestProxyHttpClient into RecorderClient and httpClient"
More info here - https://github.com/Azure/azure-sdk-for-js/pull/19210#discussion_r770791682 discussion

[2021-12-17 01:34] #19411 closed

[2021-12-17 03:09] v-jiaodi commented on #16638
The latest failure has this issue. For more details check here:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1253224&view=results

[2021-12-17 03:16] v-jiaodi commented on #19314
The latest failure also has this issue. For more details check here:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1252036&view=results

[2021-12-17 05:35] v-jiaodi opened #19432 "[App Configuration] etags Get and set, enabling etag checking using onlyIfUnchanged failing in nightly runs"
App Configuration nightly test runs are failing with:

    at assertThrowsRestError (/mnt/vss/_work/1/s/sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts:167:13)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1254175&view=results

[2021-12-17 05:36] v-jiaodi opened #19433 "[Storage - File Datalake] SAS generation Node.js only for directory SAS "before each" hook for "DataLakeDirectoryClient.generateSasUrl() should work" failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

RequestId:5d23b90a-f01e-003c-7d6b-f1a6bf000000
Time:2021-12-15T04:22:04.1932125Z
    at handleErrorResponse (/Users/runner/work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:274:17)
    at /Users/runner/work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:179:47
    at runMicrotasks (<anonymous>)
    at proces

[2021-12-17 06:16] zzhxiaofeng commented on #18680
@maorleger Do you have any progress? The method `pollUntilDone` maybe is also one of reason that cause the issue by my investigation. Maybe you can have a look on this when you are free.

[2021-12-17 07:47] varungbt commented on #19373
@sadasant thank you for the update.

So in this case if it is not an error/bug, how do we ensure we avoid such crashes? Could it be related to some cache token expiry?

[2021-12-17 08:11] v-xuto commented on #18386
@MalcolmTyrrell  Any ideas?

[2021-12-17 08:12] v-xuto commented on #18880
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-js/pull/18901 merged.

[2021-12-17 08:12] #18880 closed

[2021-12-17 09:27] zzhxiaofeng opened #19442 "[Form Recognizer]It will return error when use documentAnalysisClient with AAD authentication to run integration tests on UsGov cloud and China cloud"
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
When we use `documentAnalysisClient` with azure active directory credential to run integration tests on UsGov cloud and China cloud, it will return an error. The error message is shown as following, for more deta

[2021-12-17 10:46] joaomoreno commented on #19075
Here's the outcome of applying the workaround:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/22350/146532990-fcee74ef-855d-48ea-bc8b-fb5bf4d889d7.png)

[2021-12-17 11:14] HarshaNalluru commented on #19432
Already logged here https://github.com/Azure/azure-sdk-for-js/issues/19355 🙂
Closing this in favor of that.

@JonathanCrd is working here #19361 on the fix.

[2021-12-17 11:14] #19432 closed

[2021-12-17 16:05] joheredi opened #19447 "[Template] Update template project to use corev2"
Template project still uses core-http, we should update it to use corev2 to cause less friction when creating a new package,

[2021-12-17 18:18] ramya-rao-a commented on #17110
This is now done, thanks @JonathanCrd!

[2021-12-17 18:18] #17110 closed

[2021-12-17 18:19] ramya-rao-a commented on #19172
Closing as we removed the dependency on assert in #17110

[2021-12-17 18:19] #19172 closed

[2021-12-17 19:24] deyaaeldeen opened #19449 "[core-rest-pipeline] v3 wishlist"
- [x] ~Revisit the default max retries count (currently it is 10) and consider bringing it down. This could be discussed with other languages.~ (Resolved by #20423)

[2021-12-17 19:49] KarishmaGhiya commented on #10335
Resolved with #18910

[2021-12-17 19:49] #10335 closed

[2021-12-17 21:49] #19355 closed

[2021-12-17 22:00] #19387 closed

[2021-12-17 22:17] #19094 closed

[2021-12-17 22:18] HarshaNalluru opened #19453 "[Perf Tests] Reduce the test duration to make the builds faster"
![image](https://user-images.githubusercontent.com/10452642/146614272-77aa37f7-da7f-4e37-868f-b1dde2cca227.png)
1 second duration should be enough/

Pipeline https://dev.azure.com/azure-sdk/public/_build/results?buildId=1255574&view=logs&j=8e53f975-cb08-5633-c657-6f4278fa23cb&t=d0da546f-b3bd-553c-3f72-decf28755e2e&l=421

[2021-12-17 23:23] timovv commented on #19447
Definitely something we should get on soon, but we actually already have an issue for it at https://github.com/Azure/azure-sdk-for-js/issues/18044!

[2021-12-17 23:23] #19447 closed

[2021-12-17 23:23] sadasant commented on #6484
Now that the retry policies have been refactored to re-use key components under a new unified `retryPolicy`, we will be able to reduce most of the retry code on App Config.

How it would happen is that App Config’s throttling try policy here: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/appconfiguration/app-configuration/src/policies/throttlingRetryPolicy.ts would be written similar to

[2021-12-17 23:24] sadasant commented on #15809
@HarshaNalluru During this migration, it should be possible to re-use core-rest-pipeline’s new retry code. See the following comment: https://github.com/Azure/azure-sdk-for-js/issues/6484#issuecomment-997087707

It’s possible we might benefit from exporting some of the retry strategies. I didn’t preemptively exported them, but App Config could be the reason to export them.

[2021-12-17 23:41] HarshaNalluru commented on #18044
Also, while doing this, please consider extending the package to have create and delete methods rather than just get.

[2021-12-17 23:58] sadasant commented on #19373
@varungbt I don’t think I have enough information to determine that our packages are causing the crashes. Do you mind sharing more information about the crash? What happens before the crash? Are you able to trace an error? Do you know at which exact line the crash is caused?

[2021-12-18 02:11] KarishmaGhiya commented on #18814
This PR should fix it. https://github.com/MicrosoftDocs/azure-docs-sdk-node/pull/1348 The package name in toc was wrong

[2021-12-19 08:10] jbizcloud commented on #18694
Hi @ramya-rao-a, hope you are well. Thank for confirming that v14 is supported.

Can I suggest updating the Docs page then? At the moment it says that it supports until v12 only.

Thanks.

[2021-12-19 14:54] mfatima21 commented on #18759
@sajeetharan

According to your above suggestion, I passed the partitionKey as query options. But the output was a null array. (Although the data is present)

Posting my updated query and response with partitionKey in here.

[code]
<img width="745" alt="Screenshot 2021-12-19 at 7 52 07 PM" src="https://user-images.githubusercontent.com/49593327/146679395-32aff226-d1ce-443f-8a73-493682037190.png">

[2021-12-20 05:36] lirenhe commented on #1811
@colawwj, could you check whether the latest swagger contains the fix?

[2021-12-20 05:37] lirenhe commented on #3894
@qiaozha , could you help to check whether the swagger is updated?

[2021-12-20 05:38] lirenhe commented on #4320
@talam, could you check whether you still face this issue with the latest version of JS SDK?

[2021-12-20 05:40] lirenhe commented on #4842
@qiaozha, could you help to double check the Swagger for arm-resources

[2021-12-20 05:42] lirenhe commented on #5085
@colawwj, could you help to check whether this incorrect behaviour still exists?

[2021-12-20 05:47] lirenhe commented on #7090
@colawwj, please help to release track 2 SDK for Azure monitor and update the sample for that RP.

[2021-12-20 05:50] lirenhe commented on #7336
@colawwj, please help to confirm the api version used in the latest version of arm-resources

[2021-12-20 05:58] lirenhe commented on #10138
@ruowan, do you still need this issue to be fixed?

[2021-12-20 06:15] colawwj commented on #1811
This issue still exists in latest swagger.

[2021-12-20 06:30] ruowan commented on #10138
No. I think we don't have this issue now. Close it.

[2021-12-20 06:30] #10138 closed

[2021-12-20 06:34] colawwj commented on #5085
I'm not sure wehether this issue has been fixed,but my test shows the pythonversion is hidden in response. thanks
![image](https://user-images.githubusercontent.com/70128817/146722306-b56d69e7-8033-4e97-ac8a-916ead03dd2d.png)
![image](https://user-images.githubusercontent.com/70128817/146722387-e4fb5afe-9d24-4dc4-928e-a76f71446d0c.png)

[2021-12-20 07:09] sudeepghosh0 commented on #19394
Steps to reproduce the error:-
Create a simple project in angular - 8.
Run - npm install @azure/storage-blob
Create a angular service and implement a uploadblob function.
When you are done with the above steps do "ng serve" and you should get the error.
Attaching my service file for reference.
[sample-service-file.txt](https://github.com/Azure/azure-sdk-for-js/files/7743179/sample-service-file.txt

[2021-12-20 14:05] azure-sdk opened #19467 "Dependency package fast-xml-parser has a new version available"
We have identified a dependency on fast-xml-parser (3.21.1). A new version (4.0.0) is available now.

[2021-12-20 17:07] joheredi commented on #18985
This issue should be fixed in the latest dev version `13.0.1-alpha.20211217.1`

[2021-12-20 17:40] krisalay opened #19468 "Retry in Service Bus is not working"
- **@azure/service-bus**:
- **^7.4.0**:
- **MAC**:
- [x] **nodejs**
    - **16.13.1**

**Describe the bug**
I am trying to make a auto retry for failed messages in service bus. But seems like the SDK is ignoring the retry configuration provided, and its always retrying for 10 times.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The message should be retried only

[2021-12-20 17:45] jeremymeng commented on #19394
The latest supported TypeScript version is 3.4.5 for Angular 8.  We probably support more down-level versions like we did in #10599

[2021-12-20 17:54] joheredi commented on #18297
#17792 has been merged

[2021-12-20 17:54] #18297 closed

[2021-12-20 17:57] panchagnula commented on #5085
Unfortunately, I am not the owner for portal or API & cannot provide any assistance here. Please open a support case directly if needed. Thanks!

[2021-12-20 18:05] jeremymeng commented on #19394
Ah, we deleted our hand-crafted 3.1 type definition, and replaced it with the output of api-extractor #16732, which doesn't have the expected types. Look like downlevel-dts cannot handle the breaking changes in the type definitions.

[2021-12-20 18:12] jeremymeng commented on #19394
So we had had a hand-crafted core-paging.d.ts for 3.1 where we used `IteratorResult<T>`.  After replaced it with downlevel-dts and api-extractor output, we now have `IteratorResult<T,T>` which isn't expected by lower versions (< 3.6) of TypeScript compiler

[2021-12-20 19:11] joheredi commented on #19313
After spending some time investigating the live test errors, I was able to find the root cause. It is because generateSas test is mocking the system's timer and we were incorrectly restoring the timers after each test. This causes the following test to use the mocked timers hence producing invalid signatures

[2021-12-20 20:37] joheredi commented on #19243
Thanks for reporting @craxal ! I'm currently working on a fix

[2021-12-20 21:22] #19313 closed

[2021-12-20 21:33] ramya-rao-a commented on #10288
We shouldnt need to have configurations specific to individual packages. If the defaults don't work for a package, then an issue should be logged for requests to change the default configuration in the [generate-doc tool](https://github.com/azure/azure-sdk-for-js/tree/main/eng/tools/generate-doc) with reasons.

[2021-12-20 21:42] ramya-rao-a commented on #2485
@praveenkuttappan We now have automation logging issues for outdated packages. Does that cover the deprecated ones too?

[2021-12-20 22:00] ramya-rao-a commented on #11859
PR to update the spec: https://github.com/Azure/azure-rest-api-specs/pull/17145

[2021-12-20 23:06] #15140 closed

[2021-12-20 23:06] #15724 closed

[2021-12-20 23:06] #16713 closed

[2021-12-20 23:06] #18035 closed

[2021-12-20 23:19] deyaaeldeen opened #19476 "[Text Analytics] Language Pillar Commitments for Text Analytics (July 2021-March 2022)"
[Azure Cognitive Service for Language](https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/) is an AI service that can extract information, classify text, understand conversational language, answer questions and more.

The [@azure/ai-text-analytics](https://www.npmjs.com/package/@azure/ai-text-analytics) package provides the SDK for JavaScript & TypeScript developers to writ

[2021-12-20 23:34] joheredi commented on #19021
Fixed with #19469

[2021-12-20 23:34] #19021 closed

[2021-12-20 23:34] joheredi commented on #19019
Fixed with #19469

[2021-12-20 23:34] #19019 closed

[2021-12-20 23:59] ramya-rao-a commented on #15133
We hope to move the storage packages to core-rest-pipeline by March 2022

[2021-12-21 00:13] ramya-rao-a commented on #17707
@jeremymeng All the new mgmt plane packages are using core-rest-pipeline now.  Can you check if your findings above still apply?

[2021-12-21 00:18] #13455 closed

[2021-12-21 00:33] ramya-rao-a commented on #18563
Done with #18938

[2021-12-21 00:33] #18563 closed

[2021-12-21 00:36] ramya-rao-a commented on #19138
@cthakor You should be able to use the latest version of node-fetch v2 even if we don't increase the min version we use. Can you not update your lock file regardless of our release of core-http?

[2021-12-21 00:45] ramya-rao-a commented on #18044
@HarshaNalluru Please log a separate issue for the create and delete asks

@JonathanCrd The rest of this task is about using the latest version of the code gen to re-generate the files under the `generated` folder and fixing up any resulting errors in the rest of the code that uses the generated code

[2021-12-21 00:49] #18814 closed

[2021-12-21 00:52] KarishmaGhiya commented on #17706
Moving to backlog - like other languages

[2021-12-21 01:13] jeremymeng commented on #19468
@krisalay thank you for reporting this issue!  We will have a look shortly.  Would you mind telling us on which error code you were retrying?

[2021-12-21 02:11] v-jiaodi opened #19483 "[Event Grid] EventGridPublisherClient #send (CloudEvent schema) enriches events with distributed tracing information failing in nightly runs"
Event Grid nightly test runs are failing with:

    at Context.<anonymous> (test/public/eventGridClient.spec.ts:248:12 <- dist-test/index.browser.js:42572:23)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1257147&view=results

[2021-12-21 02:11] v-jiaodi opened #19484 "[Storage - File Datalake] Highlevel browser only upload should work with Blob, ArrayBuffer and ArrayBufferView failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

  type: 'text/plain',
  arrayBuffer: [Function: arrayBuffer],
  slice: [Function: slice],
  stream: [Function: stream],
  text: [Function: text] } to deeply equal { size: 10,
  type: 'text/plain;charset=utf-8',
  arrayBuffer: [Function: arrayBuffer],
  slice: [Function: slice],
  stream: [Function: stream],
  text: [Function: text] }

[2021-12-21 02:42] KarishmaGhiya commented on #17880
We can enable min-max testing on this package once this PR is merged. For this issue, one needs to remove the following from tests.yml file and resolve any reference issues causing the pipeline failures in min-max testing as linked below
-      MatrixFilters:
        - DependencyVersion=^$
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1258077&view=logs&j=6080fc5e-b925-535b-661b-6

[2021-12-21 02:51] joheredi commented on #18865
Fix went in with PR #18914 the latest @dev version in npm should include the fix.

[2021-12-21 03:24] KarishmaGhiya commented on #9442
- No more work left for this. The packages that are left are being tracked in this issue - https://github.com/Azure/azure-sdk-for-js/issues/17830
- Other infrastructure behavior for min-max is being covered in this PR - https://github.com/Azure/azure-sdk-for-js/pull/18796

[2021-12-21 03:24] #9442 closed

[2021-12-21 03:37] KarishmaGhiya commented on #5198
@sadasant I think so. If the intention for this issue was to test the public API then this is covered by min-max tests already.

[2021-12-21 03:38] KarishmaGhiya commented on #9446
We can close this in favor of - https://github.com/Azure/azure-sdk-for-js/issues/17830

[2021-12-21 05:39] colawwj commented on #7090
released,https://www.npmjs.com/package/@azure/arm-monitor/v/7.0.0

[2021-12-21 06:26] colawwj commented on #7336
I can't reprduce this issue,it seems to ok in my test's response
![image](https://user-images.githubusercontent.com/70128817/146881469-03766642-f3d2-4afa-a1c3-1e1f74eefec2.png)

[2021-12-21 06:27] qiaozha commented on #18918
@praveenkuttappan here's another examlle of smoke-test being triggered for mgmt plane release. https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1258282&view=logs&j=d27fc5b7-18e4-5f9a-dd9b-9d9a42ff4cd2

[2021-12-21 06:47] qiaozha commented on #18978
@beyerleinf We have tried to repro your issue and found out it's working on our side, have you checked whether your client secret has the permission to that appservice resource in Azure Portal RBAC not the api permission ?

[2021-12-21 06:56] qiaozha commented on #7336
I guess this issue should have been resolved with the latest @azure/arm-resources packages. @aperona-hai Could you have a try of the latest release and let us know if it works for you ?

[2021-12-21 07:20] qiaozha commented on #5085
@pskrbasu we will close this issue as this is a service side issue and here's the link for you on how to open a support case https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request.

[2021-12-21 07:20] #5085 closed

[2021-12-21 07:26] HarshaNalluru commented on #12882
This is applicable for the unified recorder too!
Keeping it open.🙂

[2021-12-21 08:24] #19425 closed

[2021-12-21 08:42] cthakor commented on #19138
@ramya-rao-a  No, we can't. As we are using "azure/core-http" as a dependent package of "mssql". We need to get update all parent packages as well.
@jeremymeng When we can expect the latest version to be released?

[2021-12-21 08:50] EmmaZhu commented on #17447
Rerun passed. Will try to have a fix when it reproduces again.

[2021-12-21 08:50] #17447 closed

[2021-12-21 08:55] EmmaZhu commented on #17448
Case passed with a rerun, but lost the original details. Close this issue for now, if the error happens again, it should open a new issue.

[2021-12-21 08:55] #17448 closed

[2021-12-21 08:58] EmmaZhu commented on #18262
Hi @jeremymeng ,

The error reported from `core-http` didn't indicate detailed error message on the failed request. Is it possible to throw out more detailed error info in our code?

Thanks
Emma

[2021-12-21 14:20] ArielYehezkely opened #19494 "Data tables - Support all OData filters when listing tables"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently listing tables under the storage account can't be filtered by most of the OData filters such as 'startswith', 'endswith', 'indexof' etc. When trying to pass a filter which uses one of the above the response error code is 'NotImpl

[2021-12-21 15:24] gsamal opened #19495 "LastModifiedDateTime of the folder is not being updated when a file is added or updated."
This is a general query, not related to this perticular sdk, although I am using this sdk to add/update files. I noticed that when I add a new file in a folder, the last write time or updated time of the folder doesn't change.

Is it a limitation of azure file share?

Thanks!

[2021-12-21 16:54] jeremymeng commented on #19138
We normally release at the beginning of a month.  No, 2.2.2 has been published and we cannot change it.

I am curious about how you plan to upgrade to @azure/core-http 2.2.3?  It's a transitive dependency. Anything you plan to do should in theory apply to node-fetch, right?

[2021-12-21 16:57] jeremymeng commented on #18262
@EmmaZhu the xhr error event doesn't have more information about the error. I believe it's for security reason.

https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/error_event

[2021-12-21 17:01] jeremymeng commented on #19484
Related to the assert to chai change. /cc @JonathanCrd

[2021-12-21 17:11] #10288 closed

[2021-12-21 17:45] jeremymeng commented on #17707
@ramya-rao-a many packages still contain `openTelemetryCommonJs`, for example

[code]

[2021-12-21 17:49] #18865 closed

[2021-12-21 17:57] joheredi commented on #19243
#19470 has been merged with a fix for this issue

[2021-12-21 17:57] #19243 closed

[2021-12-21 18:08] joheredi commented on #19467
We are in the latest stable release already. 4.0.0 doesn't have a stable release yet
![image](https://user-images.githubusercontent.com/21109913/146977913-a60a1ff9-0074-4ee7-87d4-680da73956ba.png)

Closing this issue

[2021-12-21 18:08] #19467 closed

[2021-12-21 19:04] #19215 closed

[2021-12-21 19:04] joheredi commented on #19215
https://github.com/Azure/azure-sdk-for-js/pull/19499 has been merged

[2021-12-21 19:04] HarshaNalluru commented on #13961
Closing this issue as we now have the NoOpCredential with the unified recorder

[2021-12-21 19:04] #13961 closed

[2021-12-21 19:05] KarishmaGhiya commented on #14955
1. The libraries impacted are - keyvault-admin, keys, secrets and certificates
2. The symptoms are just that the test files may be getting replaced by empty files if it's not able to find the references within public folder, it will treat a reference outside the public folder as code's `internal` references. As a result we might be getting fewer test coverage than expected for min-max. Even if it

[2021-12-21 19:10] deyaaeldeen opened #19500 "[Recorder] Better handling for ephemeral headers"
The recorder records all headers in received responses. For example, it records the `Retry-After` one in this example: https://github.com/Azure/azure-sdk-for-js/blob/6097c1ab37080b0e6ffbe4d6a6f41b1122ca0807/sdk/compute/arm-compute/recordings/node/compute_test/recording_virtualmachines_create_test.js#L127-L128
Which causes the test to wait for an extra 3 seconds in playback mode. This header could

[2021-12-21 19:10] #17502 closed

[2021-12-21 19:16] joheredi commented on #19494
@ArielYehezkely unfortunately, the Tables Service doesn't support `startsWith` filter. Here is the documentation describing the supported filters: https://docs.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators.

As you mentioned, adding this filter clientside is not efficient because it would require loading all the tables in memory to filter

[2021-12-21 20:24] maorleger commented on #8934
This issue is 2 years old and we have not heard any customer complaints about this. Is this still needed? I am going with no and closing but feel free to reopen if you disagree!

[2021-12-21 20:24] #8934 closed

[2021-12-21 20:32] maorleger commented on #18680
@zzhxiaofeng mind helping me out here? I don't have easy access to china cloud. It was setup at some point, but I will need to have it set up. In the meanwhile - what happens if you add `this.enableTimeouts(false);` to the test (first line in the test itself like:
[code]
)

What is the longest you see that test running in china cloud say 10 times? If we're close we might bump the timeout for china

[2021-12-21 20:40] HarshaNalluru commented on #19500
Not doing the second one for the old recorder since it is not required/urgent.
First issue will be fixed with #19501

[2021-12-21 20:41] HarshaNalluru commented on #19500
Tracking in https://github.com/Azure/azure-sdk-for-js/issues/15829 for the unified recorder

[2021-12-21 22:00] #16731 closed

[2021-12-21 22:00] #14950 closed

[2021-12-21 22:47] HarshaNalluru opened #19504 "[Unified Recorder] Public API - document it from the perspective of the user"
Something similar to https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/README.md

[2021-12-21 23:05] ramya-rao-a commented on #19220
None of the [changes for eslint-plugin-promise](https://github.com/xjamundx/eslint-plugin-promise/blob/development/CHANGELOG.md) in v5 or v6 seem to have any affect for us. So, we should be safe to upgrade

Code pointers:
- [Set up your dev environment](https://github.com/Azure/azure-sdk-for-js/blob/main/CONTRIBUTING.md#setting-up-your-environment)
- Run `rush lint` to run the linter across all th

[2021-12-21 23:21] ramya-rao-a commented on #19219
Code pointers:
- [Set up your dev environment](https://github.com/Azure/azure-sdk-for-js/blob/main/CONTRIBUTING.md#setting-up-your-environment)
- Run `rush lint` to run the linter across all the packages. This should succeed without any errors. If you see any errors, try to fix them first in a separate pull request and then continue here
- Update the version of `eslint` and `@types/eslint` used in

[2021-12-21 23:44] #13457 closed

[2021-12-21 23:44] #15059 closed

[2021-12-21 23:44] #18102 closed

[2021-12-21 23:55] jeremymeng commented on #17928
hmm, if the error thrown is an AbortError, I'd expect the first assertion failing.
[code]
we only throw this abort error at one place: https://github.com/Azure/azure-sdk-for-js/blob/2103dfa84a84c23820a0e024001d8dd247a77e49/sdk/servicebus/service-bus/src/core/streamingReceiver.ts#L574-L579. It can only happen when the receiver is suspended, which means `receiver.close()` has been called.

I wonder

[2021-12-22 00:22] deyaaeldeen commented on #19394
Hi @sudeepghosh0, thanks for filing this report! I created a fix in https://github.com/Azure/azure-sdk-for-js/pull/19507. Until the fix is released, you can use this [patched package](https://artprodcus3.artifacts.visualstudio.com/A0fb41ef4-5012-48a9-bf39-4ee3de03ee35/29ec6040-b234-4e31-b139-33dc4287b756/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL2F6dXJlLXNkay9wcm9qZWN0SWQvMjllYzYwNDAtYjIzNC00ZTMxLWI

[2021-12-22 01:46] EmmaZhu commented on #19484
I'm working on this issue. The test case should validate buffer content of the Blob instance instead of checking its type. I'll fix it.

[2021-12-22 03:39] EmmaZhu commented on #18943
This is a new feature and should have been enabled on all tenant now. Close this issue.

[2021-12-22 03:39] #18943 closed

[2021-12-22 06:06] sajeetharan commented on #18759
@mfatima21 Is it possible for you to upload the code file or push it under a repo?

[2021-12-22 06:32] gsamal commented on #19495
Based on [this](https://stackoverflow.com/a/6228317/3964095), does this mean that the azure file share implements FAT file system?

[2021-12-22 06:43] EmmaZhu commented on #19495
Hi @gsamal ,

I'm asking service team about this behavior. They should be able to provide more detailed answer about it.

Thanks
Emma

[2021-12-22 08:14] sudeepghosh0 commented on #19394
Thanks for the quick response.
can you please tell me how can i use the patched package in my project.
if i run  "npm i @azure/core-paging@1.2.0" its installing the old packages only.
" next(): Promise<IteratorResult<T, T>>;"

[2021-12-22 08:21] deyaaeldeen commented on #19394
@sudeepghosh0 please download the tarball file from [the link I shared above](https://artprodcus3.artifacts.visualstudio.com/A0fb41ef4-5012-48a9-bf39-4ee3de03ee35/29ec6040-b234-4e31-b139-33dc4287b756/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL2F6dXJlLXNkay9wcm9qZWN0SWQvMjllYzYwNDAtYjIzNC00ZTMxLWIxMzktMzNkYzQyODdiNzU2L2J1aWxkSWQvMTI1OTY5Ny9hcnRpZmFjdE5hbWUvcGFja2FnZXM1/content?format=file&subPath=%2Fa

[2021-12-22 08:47] lirenhe commented on #9087
@cveld, the latest API version we use for armresources is 2021-04-01,  could you help to check whether you still face this problem?

[2021-12-22 08:54] lirenhe commented on #10457
@ejizba, in the latest version of the Swagger, https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/WebApps.json  & https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/AppServicePlans.json

"x-ms-error-response": true is added for 404 code.  This problem shou

[2021-12-22 09:00] lirenhe commented on #10552
The feature is supported by the service team. https://github.com/Azure/azure-rest-api-specs/blob/7206f4dbff3a878e33d9a3f87106f4743402ecdd/specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/CommonDefinitions.json#L2455
Close this issue.

[2021-12-22 09:00] #10552 closed

[2021-12-22 09:17] sudeepghosh0 commented on #19394
Thank You.

[2021-12-22 09:17] #19394 closed

[2021-12-22 17:21] ramya-rao-a commented on #19394
@deyaaeldeen Please use the patched package only for testing and not in production. For your production usage, please wait for the official release which we should be able to get out in the first week of January 2022

[2021-12-22 17:55] jeremymeng commented on #17891
dupe of #17890. closing

[2021-12-22 17:55] #17891 closed

[2021-12-22 18:14] maorleger commented on #13852
Going to close this. While I agree this is a nice-to-have it's not a mainline scenario for us and no customers have asked for this. If a customer does bring this up we will of course add a sample here

[2021-12-22 18:14] #13852 closed

[2021-12-23 02:14] qiaozha commented on #18815
Hi @ramya-rao-a, I think this issue should have been resolved. and I will close this for now, let me know if you have other comments

[2021-12-23 02:14] #18815 closed

[2021-12-23 02:19] qiaozha commented on #18323
Hi @ramya-rao-a , I think this issue should have been resolved, see from here  https://docs.microsoft.com/en-us/javascript/api/overview/azure/arm-eventhub-readme?view=azure-node-latest I will close this issue, feel free to let me know if you other comments.

[2021-12-23 02:19] #18323 closed

[2021-12-23 02:29] lirenhe commented on #1811
As this is a Swagger problem and the JS SDK is generated from Swagger, create issue https://github.com/Azure/azure-rest-api-specs/issues/17168 to track this problem.

[2021-12-23 02:30] #1811 closed

[2021-12-23 02:30] qiaozha commented on #18269
@andrejpk Could you try the latest release of @azure/arm-appinsights  and see if your issue has been resolved.

[2021-12-23 02:34] qiaozha commented on #18171
@d-burr has you issue been resolved with the latest release of @azure/arm-apimanagement ?

[2021-12-23 02:35] qiaozha commented on #17461
Hi @diberry, I believe this issue should have been resolved, so I will close this issue, and feel free to reopen it if it isn't.

[2021-12-23 02:35] #17461 closed

[2021-12-23 02:53] EmmaZhu commented on #18549
Fixed with PR: https://github.com/Azure/azure-sdk-for-js/pull/19511

[2021-12-23 02:53] #18549 closed

[2021-12-23 03:01] EmmaZhu commented on #17966
Current readme doesn't have the error anymore.

@jeremymeng , @ramya-rao-a ,  I'd intend leave the published package as it is. What would you suggest?

[2021-12-23 03:02] lirenhe commented on #8981
As this is the service behaviour which is not controlled by SDK, could you post this feature request directly in https://docs.microsoft.com/en-us/answers/topics/azure-traffic-manager.html?
Close this item.

[2021-12-23 03:02] #8981 closed

[2021-12-23 03:03] EmmaZhu commented on #16793
Fixed with PR: https://github.com/Azure/azure-sdk-for-js/pull/19511.

[2021-12-23 03:03] #16793 closed

[2021-12-23 03:04] EmmaZhu commented on #17449
Fixed this failure here: https://github.com/Azure/azure-sdk-for-js/pull/19511

[2021-12-23 03:04] #17449 closed

[2021-12-23 05:16] lirenhe commented on #11470
@sigmer, quick check with you, as the latest api version of network is 2021-05-01, do you still need that api version to be in dogfood?

[2021-12-23 05:32] lirenhe commented on #13398
Close this item as this workaround works.
@hund030, please let me know if you have further questions. Thanks

[2021-12-23 05:32] #13398 closed

[2021-12-23 05:51] lirenhe commented on #14833
As this requirement is for ms graph, let's use https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/424 for the follow up.
Close this item.

[2021-12-23 05:51] #14833 closed

[2021-12-23 06:27] colawwj commented on #7090
The sample link: https://github.com/Azure-Samples/azure-sdk-for-js-samples/blob/main/samples/monitor/monitor_examples.ts

[2021-12-23 06:37] zzhxiaofeng commented on #18680
@maorleger
(1) Well, when I add `this.enableTimeouts(false);` to the test, it wll not continue to run the test until the timeout. The error happens **inconsistently**. The error message is shown as following, for more details please check [here](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1259850&view=logs&j=2d58ef99-3586-51f6-7222-e453fbfa77bc&t=0a77b67b-e995-53a7-193a-6425db5

[2021-12-23 08:09] colawwj commented on #13497
This issue still exists in latest sdk,need to involve service team for further explaination.

[2021-12-23 08:28] colawwj commented on #15347
The parameters has been added in swagger file.

[2021-12-23 08:36] EmmaZhu commented on #19221
Upgraded to execa with PR: https://github.com/Azure/azure-sdk-for-js/pull/19522 for storage. Delete "storage"  for this issue.

[2021-12-24 01:25] colawwj commented on #13123
This issue has been fixed in latest JS sdk .Thanks.

[2021-12-24 02:32] EmmaZhu opened #19544 "[Storage]Enable test cases which require additional test source settings."
[Storage]Enable test cases which require additional test source settings.

[2021-12-24 03:04] lirenhe commented on #10036
@leaderiop, we didn't see furthur reply from service team on this.
As this repo is mainly for SDK issue, so could you post your feature request for service in https://docs.microsoft.com/en-us/answers/products/azure?product=networking?
We will close this item and let me know if you have further questions.

[2021-12-24 03:04] #10036 closed

[2021-12-24 03:16] lirenhe commented on #14109
@jigar288, in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/StreamingPoliciesAndStreamingLocators.json#L565, the service team defines the type as string instead of enum.
I believe the main purpose here is for future extension, but even they update the definition as below, in JS SDK, we will still convert tha

[2021-12-24 03:16] #14109 closed

[2021-12-24 03:32] dw511214992 commented on #15997
@Abhyudaya1 we have released latest package and I think it can meet your requirements. Cloud you try it? Thanks

[2021-12-24 03:46] lirenhe commented on #14429
@Azbesciak, as SDK is generated from the service API definition, it is better to check whether this function is provided by service first. So could you post your question in https://docs.microsoft.com/en-us/answers/topics/azure-cost-management.html?
I will close this item and please let us know if you need further information. Thanks

[2021-12-24 03:46] #14429 closed

[2021-12-24 05:34] v-jiaodi opened #19546 "[Metrics Advisor] [AAD] MetricsAdvisorClient Feedback creates ChangePoint feedback failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

    at handleErrorResponse (/Users/runner/work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:274:17)
    at /Users/runner/work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:179:47
    at processTicksAndRejections (node:internal/process/task_queues:96:5)
    at GeneratedClient.sendOperationRequest (/Users/runner/work

[2021-12-24 05:34] v-jiaodi opened #19547 "[Event Hubs] EventData round-tripping AMQP encoding/decoding null body failing in nightly runs"
Event Hubs nightly test runs are failing with:

    at Test.Runnable._timeoutError (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:442:10)
    at Timeout.<anonymous> (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:252:24)
    at listOnTimeout (internal/timers.js:554:17)
    at processTimers (interna

[2021-12-24 06:02] lirenhe commented on #14673
@SumitPopat  @Abhyudaya1,  I check the Swagger and is this the API you are looking for?https://github.com/Azure/azure-rest-api-specs/blob/35f8a4df47aedc1ce185c854595cba6b83fa6c71/specification/storage/data-plane/Microsoft.QueueStorage/preview/2018-03-28/queue.json#L599

That should be the function provided by @azure/storage-queue, so could you double check?

[2021-12-24 06:12] dw511214992 commented on #15421
I have sent an email to @omrodrig ask whether we can release the sdk, and hope to get response.

[2021-12-24 06:15] lirenhe commented on #17907
@darko1979, this seems to be a livesite issue and it is better to investigate in the service side.. Could you create a support ticket for Azure? https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2021-12-24 06:27] dw511214992 commented on #12761
I have sent an email to @mkarmark @naveedaz @cschen13, and is waiting for response.

[2021-12-24 06:53] dw511214992 commented on #12756
This issue still exisits on latest api version `2021-02-01`.

[2021-12-24 07:12] dw511214992 commented on #11761
As it's the mismatch of swagger and service, and we cannot do anything in sdk side, I will close this issue and track it in https://github.com/Azure/azure-rest-api-specs/issues/17177

[2021-12-24 07:12] #11761 closed

[2021-12-24 07:32] dw511214992 commented on #8468
Hi @xirzec I think your requirement needs bot service to support adding a new facebook page in update rest api, instead of inputting all previous queried pages. It's out of sdk's scope and we cannot do anything in sdk side. Could you please create a ticket in https://docs.microsoft.com/en-us/answers/topics/azure-bot-service.html ? I will close this issue. Thanks

[2021-12-24 07:32] #8468 closed

[2021-12-24 07:35] #12756 closed

[2021-12-24 08:10] d-burr commented on #18171
It has, thanks @qiaozha

[2021-12-24 08:10] #18171 closed

[2021-12-24 10:28] darko1979 commented on #17907
As I'm not on the project where we encountered that issue I'm going to relay your message to the people still on the project.

[2021-12-24 10:28] #17907 closed

[2021-12-24 12:42] fvdnabee opened #19549 "Unable to bundle @azure/cosmos for the browser in umijs application framework project"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.15.0
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: typescript@4.5.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When bu

[2021-12-24 16:21] nidri opened #19550 "Connection to Azure redis failing."
Tried to follow the code sample to connect to Azure Cache For Redis, however the client (nodejs) won't connect. It throws ClientClosedError. I'm guessing it could be with the version of Redis npm package but not sure. I'm still debugging with ^4.0.1.

ClientClosedError: The client is closed
    at Commander._RedisClient_sendCommand (C:\Users\krish\Work\Apps\redis\node_modules\@node-redis\client\di

[2021-12-24 20:25] nidri commented on #19550
With the new versions of redis (probably 3.1.0 and later), client connection should be established in the below format.

`const client = redis.createClient({
    socket: {
        host: AzureRedisHostName,
        port: 6380,
        tls: true
    },
    password: azureRedisKey,
});`

[2021-12-25 06:00] ramya-rao-a commented on #19549
Thanks for reporting @fvdnabee and also for including such details.

Since it is the holiday season, we ask for your patience as we will be able to get to this only in the first week of January 2022.

[2021-12-27 06:16] qiaozha commented on #3894
@vinnybrown Thanks for reporting this and provide your finds, The following code samples should be more straightforward for your scenario.
[code]
let me know if it's not.

[2021-12-27 08:10] qiaozha commented on #4842
In the latest track2 SDK, the parameters is generated as
`parameters?: Record<string, unknown>;`

I guess this already resolved this issue. but @joheredi  I think from the parameter description here
[code]
It will accept both key value pair type and string type, I guess either by change it into a dictionary definition or our current track2 generation result could truely work for `a well formed JSO

[2021-12-27 08:19] qiaozha commented on #11998
@JensForstmann we have started to add some changelog for our packages https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/compute/arm-compute/CHANGELOG.md, As this is our first next generation release, we just put the quickstart guide and the migration guide here. In the next releases, we will put the changelog here that contains what exactly has been changed since last version. feel free to l

[2021-12-27 08:24] mfatima21 commented on #18759
Hi @sajeetharan Sure.
You can find the associated code in the following repo.
https://github.com/mfatima21/pagination-in-cosmosdb

Thanks again for your assistance.

[2021-12-27 08:24] qiaozha commented on #13083
This issue should have been resolved in the latest track2 SDK
![image](https://user-images.githubusercontent.com/55688292/147451422-390bcb97-1387-411c-b1a4-d25cdfb08bbf.png)

[2021-12-27 08:31] qiaozha commented on #16996
@racchen @kwan-su Can we close this issue now?  As there's an email thread to track on this as I know.

[2021-12-27 09:12] #16996 closed

[2021-12-27 17:30] jeremymeng commented on #19550
@nidri Thanks for the report! Could you please share what NPM package you were using and its version?

[2021-12-27 17:59] nidri commented on #19550
@jeremymeng I was using redis package (https://www.npmjs.com/package/redis) and the version was 4.0.1

[2021-12-27 18:42] #13083 closed

[2021-12-27 18:50] #13123 closed

[2021-12-27 18:54] ramya-rao-a commented on #17966
@EmmaZhu, @jeremymeng We cannot fix readmes of already published versions. The fact that the readme for the latest version is accurate is good enough here

@diberry Version 12.0.0 was published 2 years ago. I would recommend updating the documentation from where you got the link to version 12.0.0-preview.6 to not have any versions in the url

[2021-12-27 18:54] #17966 closed

[2021-12-27 19:04] jeremymeng commented on #19550
@nidri the repository for that package is at https://github.com/redis/node-redis. I'd suggest that you also check and log an issue there.

[2021-12-27 19:17] #17928 closed

[2021-12-27 20:58] HarshaNalluru opened #19559 "[Unified Recorder] Allow passing "undefined" keys to the sanitizers"
- [ ] Allow passing undefined to the sanitizers so that devs don't have to add additional checks if the env.CONNECTION_STRING exists in different test modes while being passed to the sanitizers.
- [ ] Instead, add internal checks to make sure "undefined" sanitizers are not added to the session

[2021-12-27 21:00] HarshaNalluru opened #19560 "[Unified Recorder] Offer delay from recorder to speed up playback"
- waiting for expected time in record/live modes
- to be a no-op in playback

[2021-12-27 22:02] #18985 closed

[2021-12-27 23:18] jeremymeng commented on #14984
For NodeJS first we need to use the experimental loader to load module from a url.
https://nodejs.org/docs/latest-v16.x/api/esm.html#https-loader

But then it hit an issue where skypack only serves browser code: https://github.com/skypackjs/skypack-cdn/issues/252

[2021-12-27 23:27] jeremymeng commented on #14984
Draft PR to add some browser integration tests: #19564

[2021-12-28 00:27] jeremymeng commented on #19251
My sample code has no problem running on MacOS either (Intel based). @Vic-tator if possible, please share a minimal project that demonstrates the issue.

[2021-12-28 01:49] qiaozha commented on #16470
@YitongFeng-git Since this is no longer a SDK related issue, could you ask your question in https://docs.microsoft.com/en-us/answers/topics/azure-bot-service.html to get a better support from the service team directly ? Thanks

[2021-12-28 02:36] v-jiaodi opened #19567 "[Service Bus] ServiceBusClient live tests Random scheme in the endpoint from connection string failing in nightly runs"
Service Bus nightly test runs are failing with:

    at Object.should.equal (/Users/runner/work/1/s/common/temp/node_modules/.pnpm/chai@4.3.4/node_modules/chai/lib/chai/interface/should.js:98:35)
    at testPeekMsgsLength (/Users/runner/work/1/s/sdk/servicebus/service-bus/test/public/utils/testutils2.ts:558:10)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/proc

[2021-12-28 02:43] qiaozha commented on #18554
I guess this issue could be closed as we have almost refreshed all the previewed track2 RPs.

[2021-12-28 06:21] HarshaNalluru opened #19572 "[Unified Recorder] Debug and Unskip the continuation sanitizer test"
In the recorder-new package, 7400079 commit skipped a test that was failing in playback in browser(only).

[2021-12-28 07:23] qiaozha commented on #13497
@DarkPitch As this is not a SDK related issue, Could you open a ticket here https://docs.microsoft.com/en-us/answers/topics/azure-webapps.html to get better support from the service team directly ? Thanks

[2021-12-28 07:25] qiaozha commented on #15347
@james-zhou-inspire11 Can you try the latest version of JS SDK @azure/arm-mysql and see if your issue has been resolved ? Thanks

[2021-12-28 07:29] qiaozha commented on #4842
@weswigham I believe your issue has been resolved with the latest version of the SDK, Could you have a try and let us know if you still found problems with it? Thanks

[2021-12-28 07:32] qiaozha commented on #17452
@lirenhe The only issue here is the mismatch between the swagger and service backend now, Could you file an issue in the rest api specs repo for this ? Thanks

[2021-12-28 07:35] qiaozha commented on #17787
@revarcline As this is not a issue with the JS SDK, could you file an issue here https://docs.microsoft.com/en-us/answers/topics/azure-virtual-machines.html to get better support from service team directly ? Thanks

[2021-12-28 07:38] qiaozha commented on #18420
@diberry As this is not a SDK issue here, I am afraid you probably need to ask the service team directly to get the answer. You may open a ticket here https://docs.microsoft.com/en-us/answers/topics/azure-virtual-machines.html to get the support. Thanks

[2021-12-28 07:40] qiaozha commented on #18316
As we have almost refreshed most of the RPs for track2, we are not going to fix it in the track1 now. @ramya-rao-a Does this make sense to you ? Thanks

[2021-12-28 07:41] qiaozha commented on #18326
As we have refreshed most of the RPs for track2 SDK, we are not going to fix it in the track1 SDK, @ramya-rao-a  @lirenhe
 @nickzhums  does this make sense to you ?

[2021-12-28 09:19] kmusicman opened #19581 "[Javascript][Calling SDK] Failed to createView, reason=Failed to render stream, timeout, code=408"
- **Package Name**:  communication-calling
- **Package Version**: 1.3.2
- **Operating system**: nodejs
- [ ] **browser**
    - **name/version**: iOS 15.1.1 Safari

I got error "Failed to createView, reason=Failed to render stream, timeout, code=408" on iphone safari after participant start share screen.

[2021-12-28 09:51] nickzhums commented on #18326
track 1 SDK is still going to be used by customers for a while, is this something we can make a note somewhere without manually refreshing every track 1 package?

[2021-12-28 10:03] qiaozha commented on #17499
@MRayermannMSFT Hi, sorry for the late response, I tried on my side and the accessSas is not undefined, Would you mind share some of your code with us so that we can look into the root cause of this issue?

[2021-12-28 15:59] nidri commented on #19550
@jeremymeng will do. My suggestion is to update documentation to have examples using newer versions and formats of redis.
https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-nodejs-get-started

[2021-12-28 18:56] jeremymeng commented on #19550
Thank you @nidri! I got it now. The feedback button links to this repo. We will find the proper owner to verify and update the docs.

[2021-12-28 20:09] jeremymeng commented on #18554
Closing. Looks good if codegen handles this already.

[2021-12-28 20:09] #18554 closed

[2021-12-28 22:29] #19559 closed

[2021-12-28 22:29] #19560 closed

[2021-12-28 23:49] ramya-rao-a commented on #18326
Yes, but these would be existing customers who have already used and deployed their code
Anyone trying to use these packages in the browsers from here on forth would be downloading the latest version unless there are some old samples guiding them otherwise

It is not possible to update the package readme in npm without publishing an update.

@nickzhums does this make sense to you ?

That is fine b

[2021-12-28 23:59] ramya-rao-a commented on #18316
@qiaozha If you decide not to fix this, please close https://github.com/Azure/autorest.typescript/issues/1212 as well

[2021-12-29 11:52] ArielYehezkely commented on #19494
Hi @joheredi,

Thanks! Is there a way to request this feature from the service?

[2021-12-29 18:50] jeremymeng commented on #17780
Closing in favor of bot created #19231

[2021-12-29 18:50] #17780 closed

[2021-12-29 22:02] #10457 closed

[2021-12-29 22:27] cveld commented on #9087
Thanks for the heads up! I did a test. Had to rework the tested code due to the introduction of the package @azure/identity. Updated the description text. Still a comparable error is yielded:

[code]

[2021-12-30 01:57] maorleger opened #19590 "Re-enable Backup/Restore tests"
Tests are consistently failing and the service team asked us to temporarily disable them.

[2021-12-30 03:03] EmmaZhu commented on #19495
Hi @gsamal ,

I asked service team about this.
Following is answer from service team:

Thanks
Emma

[2021-12-30 06:13] qiaozha opened #19594 "[DevTool] sample publish doesn't work"
it will report errors like this
![image](https://user-images.githubusercontent.com/55688292/147726353-97fe514f-aa1f-452c-8562-f9ab7e3f3950.png)
when you run `dev-tool samples publish -f` now.

which is probably caused by https://github.com/Azure/azure-sdk-for-js/pull/19496/files this PR.

[2021-12-30 06:13] ranrolls commented on #4972
I am getting error when trying to fetch GET docs using created permission with below PermissionDefinition as:

[code]

Below is error when trying to get docs from collection through rest api using permission resource token as:

[code]

using header for url as:
// to read specific doc
https://{{DocumentDBHost}}/dbs/<db-name>/colls/<coll-name>/docs/<doc-id>

// to read all docs in collection
https:/

[2021-12-30 08:56] v-jiaodi commented on #19549
It is the same as #19148, it can work in package version `3.14.1`  .

[2021-12-30 20:33] jeremymeng commented on #19594
@qiaozha the error means that `?.` syntax is not supported in the lowest version of platforms that we support. it should be replaced with something like

[code]
@witemple-msft there seems to be some minor bug in the suggested replacement.

[2021-12-31 06:30] v-jiaodi commented on #17834
It has been found that the same issue still exists.
For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1268006&view=results

[2021-12-31 07:12] v-jiaodi opened #19604 "[Form Recognizer] [API Key] FormRecognizerClient NodeJS only receipts url failing in nightly runs"
Form Recognizer nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:251:17)
    at deserializeResponseBody (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:159:43)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

-

[2021-12-31 07:13] v-jiaodi opened #19605 "[Communication - Identity] CommunicationIdentityClient [Playback/Live] [AAD] successfully revokes tokens issued for a user failing in nightly runs"
Communication - Identity nightly test runs are failing with:

    at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:274:17)
    at /mnt/vss/_work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:179:47
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at IdentityRestClient.sendOperationRequest (/mnt/vss/_work/1

[2021-12-31 08:02] #18338 closed

[2021-12-31 10:29] ranrolls commented on #12445
Need to know how permission token can be used to access all docs in collection

https://github.com/Azure/azure-sdk-for-js/issues/4972#issuecomment-1002887905

[2021-12-31 12:42] jfvilasPlexus commented on #19148
Same issue ussing 'string' constructor. This is my CosmoClient constructor code:
`var client = new CosmosClient.CosmosClient("AccountEndpoint=https://xxxxxxxxxxx.documents.azure.com:443/;AccountKey=xxxxxxxxxxxxxxx;");
`
Connection string parsing is correct. When debugging code on browser (i'm using edge) the problem seems to be on URL checking. This is my stacktrace:

[code]

Thanks.

[2021-12-31 12:44] jfvilasPlexus commented on #19148
In addition...:

This is "checkURL" source code:
[code]

And this is "url" source code:
[code]

[2021-12-31 13:16] jis260 commented on #4972
In Python when I am creating permissions, I use the following resource links:

Container/Collection Level, ResourceLink:
dbs/<database_name>/colls/<container_name>/

(note the / after the <container_name> and there is no need to set a particular partition if you want to read ALL documents from the container / collection)

Container/Collection Level and Partition:
If you need to set permission for

[2022-01-01 08:02] #19136 closed

[2022-01-02 11:07] beyerleinf commented on #18978
Hi @qiaozha, thanks for checking it out. I would assume the Service Principal has the right permissions as it is creating the AppService beforehand. Would you be able to share what you set on the Service Principal so I can compare it with what I have?

[2022-01-02 14:23] ranrolls commented on #4972
Yes, your solution worked for me in first try

I have tried token creation with resource as

{
            id: "readStoreTbl", permissionMode: "all",
            resource: "dbs/db-one/colls/stores/"
          }

Yes, the root cause is last / which I am missing for permission

and then all crud operation are working success through postman

[2022-01-03 08:07] fvdnabee commented on #19549
Verified that the issue is not present in 3.14.1 (`yarn upgrade @azure/cosmos@3.14.1` in the example repo).

[2022-01-03 14:05] azure-sdk opened #19607 "Dependency package fast-xml-parser has a new version available"
We have identified a dependency on fast-xml-parser (3.21.1). A new version (4.0.0) is available now.

[2022-01-03 14:50] petrsvihlik commented on #19605
no changes were done to the SDK code prior to these failures + the service returns correct status codes. there must have been some intermittent problem with the core library. the builds are succeeding now.

[2022-01-03 14:50] #19605 closed

[2022-01-03 15:11] witemple-msft commented on #19594
@jeremymeng Yes, the suggestions can only go so far if the expression is highly compound. Your alternative is probably what I'd write as well.

The other two errors are caused by this `import x from "module"` syntax. In ECMAScript module syntax, this is a default import, but because of `esModuleInterop` we can't know whether it is actually importing the `default` symbol or if it's equivalent to `i

[2022-01-03 16:18] witemple-msft commented on #19604
This is a known issue related to ongoing degradation of the preview endpoint.

[2022-01-03 16:18] witemple-msft commented on #19604
We aren't able to get a passing test run in Canada Central either: https://github.com/Azure/azure-sdk-for-js/pull/19365

[2022-01-03 17:11] ramya-rao-a commented on #19607
@praveenkuttappan, @jeremymeng  As seen in #19467, the stable version of fast-xml-parser is not yet released. We should not be logging issues for such dependency updates. I would imagine rush should not be providing these as recommended updates either. Can we follow up with the rush team on this?

[2022-01-03 18:07] joshfree opened #19609 "Azure Identity January - April 2022 Releases"
# Azure Identity January - April 2022 Releases

## Milestone 1: February Release Cycle - (January 3rd - February 4th)

### **Beta-1 Features**

1.  **Feature: Web Account Manager (WAM) Support**
    - MSAL supports [Web Account Manager (WAM)](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/wam) now. Azure PowerShell is asked to WAM support and we hope Azure.Identity to

[2022-01-03 19:07] xirzec commented on #8468
I think @dw511214992 meant to tag @Hadza the issue opener.

[2022-01-03 19:51] deyaaeldeen opened #19610 "[Event Hubs] Revisit scenarios when error handles are/are not called"
Based on ideas in https://github.com/Azure/azure-sdk-for-js/pull/19189#issuecomment-999752896

[2022-01-03 21:24] joheredi commented on #19494
@mario-guerra do you know where service feature requests can be submitted?

[2022-01-03 23:31] #19500 closed

[2022-01-04 03:00] v-jiaodi opened #19617 "[App Configuration] Failed to run sample failing in nightly runs"
App Configuration nightly test runs are failing with:

 {
  "name": "RestError",
  "statusCode": 404,
  "request": {
    "streamResponseStatusCodes": {},
    "url": "***/kv/secret1641261418170?api-version=1.0",
    "method": "GET",
    "headers": {
      "_headersMap": {
        "accept": "application/vnd.microsoft.appconfig.kv+json, application/json, application/problem+json",
        "user-agent

[2022-01-04 03:47] qiaozha commented on #19594
as this default export is related to RLC. @joheredi can you take a look at it ? Thanks

[2022-01-04 05:23] qiaozha commented on #18978
I just add contributor role in the resource group level.

[2022-01-04 07:32] colawwj commented on #18978
@beyerleinf
Could you remove ```clientSecretSettingName``` in parameters and try it again?

[2022-01-04 17:33] mario-guerra commented on #19494
I will reach out to the service team PM to ask about where to submit this request.

[2022-01-04 19:00] craxal commented on #14293
@EmmaZhu Following up on this issue. Has any progress been made?

[2022-01-04 19:14] MRayermannMSFT commented on #17499
@qiaozha can you confirm what version of arm-compute you are using? I'm still on 16.5, but it seems like 17 was released recently. The breaking changes for that are significant enough that it will take a while for us to onboard to that. So let me know with what version you do not reproduce this issue.

[2022-01-04 20:00] #19363 closed

[2022-01-04 22:33] timovv commented on #19045
When the test-proxy container is run as a non-root user, the server can't access the HTTPS dev certificates and so fails to start, so fixing this will be a bit more involved than I expected and may require changes to the test-proxy docker image.

[2022-01-05 00:21] qiaozha commented on #17499
I tried both 16.5.0 and the latest one and it works on my side. Here's my code, hope it's helpful.
import { ComputeManagementClient } from '@azure/arm-compute';
import { ClientSecretCredential, DefaultAzureCredential } from '@azure/identity';
[code]

[2022-01-05 00:30] qiaozha commented on #17499
Here's the result on my side
![image](https://user-images.githubusercontent.com/55688292/148142088-f52e592f-002a-4083-a792-5227ea0b2294.png)

[2022-01-05 00:35] MRayermannMSFT commented on #17499
So you do reproduce the issue then. :) Check the typing for what grant access returns. The `accessSAS` property is supposed to be a top level `string` property. Right?

[2022-01-05 00:52] jeremymeng commented on #15308
I agree with @richardpark-msft. The sample fix is enough and at this point there are no work planned here.  Closing

[2022-01-05 00:52] #15308 closed

[2022-01-05 01:04] jeremymeng commented on #17048
I haven't seen this test failing in the past 30 days.  Closing for now.

[2022-01-05 01:04] #17048 closed

[2022-01-05 01:08] jeremymeng commented on #17736
Not seeing this in the past 30 days. Closing for now.

[2022-01-05 01:08] #17736 closed

[2022-01-05 02:55] qiaozha commented on #17499
I see your point now

[2022-01-05 04:02] #4842 closed

[2022-01-05 04:59] lirenhe commented on #17452
Created https://github.com/Azure/azure-rest-api-specs/issues/17229

[2022-01-05 05:03] lirenhe commented on #18316
@qiaozha, it makes sense, please close https://github.com/Azure/autorest.typescript/issues/1212

[2022-01-05 05:07] qiaozha commented on #18316
okay.  [Azure/autorest.typescript#1212](https://github.com/Azure/autorest.typescript/issues/1212) closed. Also close this one.

[2022-01-05 05:07] #18316 closed

[2022-01-05 06:26] kmusicman commented on #19581
Sometimes I still have this problem.
I ran into a problem when sharing my screen from chrome to safari.
This problem occurred at safari.

[2022-01-05 07:16] qiaozha commented on #17452
close this issue as this is not a issue in JS SDK side. please use https://github.com/Azure/azure-rest-api-specs/issues/17229 to track the issue.

[2022-01-05 07:16] #17452 closed

[2022-01-05 07:18] qiaozha commented on #18246
sample generation PR has been merged.

[2022-01-05 07:18] #18246 closed

[2022-01-05 07:23] qiaozha commented on #18326
As we have agreed to not fix it for track1. I will close this issue. Thanks

[2022-01-05 07:23] #18326 closed

[2022-01-05 07:31] EmmaZhu commented on #14293
Hi @craxal ,

We'd intend to have a consistent behavior between SDKs for different languages, I'm starting a discussion to determine on the correct behavior.

Thanks
Emma

[2022-01-05 07:55] lirenhe commented on #9087
As this is the issue from service/swagger side, i have created https://github.com/Azure/azure-rest-api-specs/issues/17229 for service team to take a look.
I will close this item as the root cause is not related to the SDK. Let me know if you have further questions.

[2022-01-05 07:55] #9087 closed

[2022-01-05 08:02] #18829 closed

[2022-01-05 08:52] lirenhe commented on #11631
Create https://github.com/Azure/azure-rest-api-specs/issues/17241 as the change would impact all SDKs.
Close this item.

[2022-01-05 08:52] #11631 closed

[2022-01-05 11:58] AlexSpelt opened #19700 "UUID deprication warning"
- **Package Name**:
@azure/ms-rest-js
- **Package Version**:
- **Operating system**:
- [x] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
UUID version 3 is deprecate

[2022-01-05 17:28] maorleger commented on #19590
We ended up not disabling these tests in JS, so we can close this

[2022-01-05 17:28] #19590 closed

[2022-01-05 21:49] mwerghemmi opened #19704 "Join a teams meeting using a meeting token"
Hi,

To enable certain Scenarios we need to join with ACS SDK a teams meeting using the teams meeting token.
are there a method for that?

Many thanks!

[2022-01-05 21:56] ramya-rao-a commented on #18694
Thanks for reporting @jbizcloud
The docs are now updated

[2022-01-05 21:56] #18694 closed

[2022-01-05 22:25] #17817 closed

[2022-01-05 23:58] joheredi commented on #19594
@witemple-msft we use default exports for Rest Clients. How should we import in our samples?

[code]

Would it be possible to add some metadata to the default import to tell the `dev-tool` we are actually doing a `default` import vs a `* as` import?

[2022-01-06 01:23] jeremymeng commented on #19414
core-crypto is already using the shared rollup config from dev-tool. It also has additional test rollup config files for testing webworker.  Closing as no more work to be done.

[2022-01-06 01:23] #19414 closed

[2022-01-06 07:09] cthakor commented on #19138
We will inform all parent packages to update their dependency to your latest version to fix this vulnerability.

[2022-01-06 08:02] #18948 closed

[2022-01-06 18:04] ramya-rao-a commented on #19704
@mwerghemmi Can you please share which package are you using here?

[2022-01-06 19:02] maorleger commented on #19138
@cthakor unrelated to our release schedule I was wondering if you tried `npm update node-fetch`? Since @azure/core-http's dependency on node-fetch is not pinned to the exact version you should be able to run the above command to update your lockfile.

For example using `mssql` 7.3.0 and `node-fetch` 2.6.0:

[code]

Figured this might help you avoid chasing all upstream dependencies to resolve this

[2022-01-06 19:08] jeremymeng commented on #19416
already using shared rollup config.

[2022-01-06 19:08] #19416 closed

[2022-01-06 19:20] maorleger opened #19714 "Key Vault for JavaScript (February 2022)"

[2022-01-06 19:32] harsha-nalluru commented on #16876
As this was brought up again here https://github.com/Azure/azure-sdk-for-js/pull/19628#discussion_r779022819

This comment is to summarize all the thoughts and concerns.

### Need
- Exposing/accessing "pipeline" in a standard way across SDKs is something that is needed for both the perf tests and the tests with the new recorder based on the proxy tool
- As @mikeharder said, other languages expose

[2022-01-06 19:33] maorleger opened #19715 "[KeyVault] - Add support for OKP key type"
In order to support OKP key types and EdDSA algorithm, the following changes need to be made:

1. A new Key Type is added - OKP and OKP-HSM
2. A new Key Curve is added - Ed25519
3. Sign and verify using the EdDSA algorithm is added to cryptography client

In addition, we should add a new `createOkpKey` convenience method similar to `createRsaKey` (with similar support for the `hsm` option)

[2022-01-06 19:49] mikeharder commented on #16876
I want to re-iterate that I believe this is the right thing for external customers, either for their own testing/logging purposes, or for production scenarios (e.g. adding a custom header to all requests).  It has little cost for customers who don't need it, a large benefit for customers or scenarios that do need it, and makes JS more consistent with other languages like .NET where this is already

[2022-01-06 20:24] maorleger opened #19716 "[KeyVault] - Add support for OKP key type"
In order to support OKP key types and EdDSA algorithm, the following changes need to be made:

1. A new Key Type is added - OKP and OKP-HSM
2. A new Key Curve is added - Ed25519
3. Sign and verify using the EdDSA algorithm is supported by cryptography client
4. SignData and VerifyData using the EdDSA algorithm is supported by cryptography client using sha256 for hashing. We should probably documen

[2022-01-06 20:36] #18949 closed

[2022-01-06 21:08] maorleger opened #19717 "[KeyVault] - Invesitgate local cryptography support for OKP Key Types"
Investigate whether we can provide local verification for OKP key types using platform-supported cryptography APIs

[2022-01-06 21:09] #19715 closed

[2022-01-06 21:33] witemple-msft commented on #19594
@joheredi Do you think it's safe to simply assume that if the package's namespace is `@azure-rest` that we can allow it? Basically it would just be extending the allowed default imports.

The problem is that without the metadata you're describing, it's impossible for me to know if a "Default Import" in typescript represents a true ES default import (binding the export _named_ `default`), or an int

[2022-01-06 21:37] witemple-msft commented on #19594
Currently I only allow it for relative modules and node builtins, but we could add an allow list or something if it's really necessary, but I think the best solution is to just decide which Azure SDK packages to allow to use default exports. They're forbidden in convenience-layer SDKs, for example (because of how they interact strangely with CommonJS).

[2022-01-06 21:56] witemple-msft commented on #18028
@deyaaeldeen based on the discussion should we close this issue?

[2022-01-06 21:57] witemple-msft commented on #19442
@deyaaeldeen I know you've been working on similar issues in TA. What's your advice here?

[2022-01-06 22:00] witemple-msft commented on #18043
I think I've done what I can here for my part in the MQ season. There is work outstanding to move packages to use the new sample tool, but I've closed issues assigned to me that are tagged with dev-tool with the exception of one issue that has an ongoing discussion, so I'm closing this. @jeremymeng feel free to reopen and reassign if this epic should continue past MQ.

[2022-01-06 22:00] #18043 closed

[2022-01-06 22:01] deyaaeldeen commented on #18028
@witemple-msft I am not sure but I am proposing that published samples should be self-contained so that it is easy for customers to copy and paste them. However, there are currently samples that are not, e.g., Service Bus ones listed in the issue description.

[2022-01-06 22:02] witemple-msft commented on #15810
@ramya-rao-a at one point, I definitely was planning to update v3, but this is more or less blocked on advice from @sarangan12 based on the research and work he's been doing about whether or not it's breaking. Given that we already have a new FR package that _does_ use corev2, I'm really inclined now to say that we're just not going to update v3.

I'm going to close this issue and may reopen it if

[2022-01-06 22:02] #15810 closed

[2022-01-06 22:07] deyaaeldeen commented on #19442
@witemple-msft we went to the archboard for this as tracked by https://github.com/Azure/azure-sdk/issues/3353. Next step is to design the actual cloud configuration.

[2022-01-06 22:17] jeremymeng commented on #19138
@azure/core-http v2.2.3 has been released to npmjs.

[2022-01-06 22:20] #2485 closed

[2022-01-06 23:38] witemple-msft commented on #16876
I don't like that `client["_client"]` bypasses privacy modifiers in TypeScript. It's a **very** odd feature of the compiler that it treats element access different from property access in this way and IMO is a programming pattern that should be avoided. Once we can use private identifiers this won't work anyway, because they will be truly private _at runtime_.

As long as we/customers only interac

[2022-01-06 23:53] witemple-msft commented on #19442
@deyaaeldeen I'm mortally certain that I've seen an automatic cloud config system somewhere in really old code. ms-rest-azure-js maybe?

[2022-01-06 23:54] witemple-msft commented on #19442
@ramya-rao-a This won't make it into January. I'm going to add it to Feb and take a look at adding something like an `audience` field to `FormRecognizerCommonClientOptions`.

[2022-01-06 23:58] witemple-msft commented on #19549
@sajeetharan It seems like these mappings came unglued in the last update. We should get these fixed up for a 3.15.1 hotfix release as soon as we can.

Thank you @fvdnabee for reporting this.

[2022-01-06 23:59] timovv opened #19725 "[Unified Recorder] Print a user-friendly message when the test-proxy image fails to start"
## Problem

Currently, when using the dev-tool test proxy commands, if the Docker image fails to start, the script just exits without explanation. At the moment, this can happen easily if, for example, the Docker daemon is not running, or the current user does not have permission to run docker commands.

## Possible fix

Add a helpful error message that prints when the Docker command used by dev-t

[2022-01-07 01:17] maorleger opened #19727 "[tracing] - use propagator APIs to serialize and deserialize traceparent header"
We do not need to implement our own serialization logic. There are APIs that serialize and deserialize traceparent headers and we will be better off using them...

To implement this:
- createRequestHeaders should take an optional TracingContext instead of a TracingSpanContext
- same for parseTraceparentHeader
- OTel instrumenter should change as follows:

[code]

`inject` mutates the object passed

[2022-01-07 05:42] v-jiaodi opened #19730 "[Communication - Phone Numbers] PhoneNumbersClient - lro - update [AAD] can update a phone number's capabilities failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at handleErrorResponse (/Users/runner/work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:274:17)
    at /Users/runner/work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:179:47
    at processTicksAndRejections (node:internal/process/task_queues:96:5)
    at LROPolicy.sendRequest (/Users/runner/work/

[2022-01-07 05:42] v-jiaodi opened #19731 "[Storage - File Datalake] DataLakeFileSystemClient with soft delete Verify PagedAsyncIterableIterator(generator .next() syntax) for listDeletedPaths failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

    at getYieldedValue (/mnt/vss/_work/1/s/sdk/test-utils/test-utils/src/getYieldedValue.ts:13:12)
    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/storage/storage-file-datalake/test/filesystemclient.spec.ts:709:16)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

For more details check here:

- https://dev.azur

[2022-01-07 05:45] v-jiaodi opened #19732 "Azure Core Client Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/core/core-client#examples):

![image](https://user-images.githubusercontent.com/80496810/148481304-cb00c1af-0e97-403e-a104-49da43d51ddc.png)

Suggestion:
Add link for  `samples`  : https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/core/core-client/samples

2.
Section [link](https://github.com/Azure/azure-sdk-for-js/tre

[2022-01-07 05:50] ramya-rao-a commented on #19732
Thanks for reporting @v-jiaodi
Please feel free to send a PR with your suggested changes

[2022-01-07 05:55] v-xuto commented on #18386
@MalcolmTyrrell  Any ideas on this issue?

[2022-01-07 06:09] hrgondaliya commented on #19138
@jeremymeng
Thanks for this information. But our issue is still not resolved as we have an issue with package "@types/node-fetch" which is "deprecated". This package is still using "node-fetch" version "2.5.12".

“/unresolve”

[2022-01-07 06:11] cthakor commented on #19138
@jeremymeng
Thanks for this information. But our issue is still not resolved as we have an issue with package "@types/node-fetch" which is "deprecated". This package is still using "node-fetch" version "2.5.12".

“/unresolve”

[2022-01-07 08:04] v-jiaodi commented on #19732
OK, I've sent a PR to fix it.

[2022-01-07 17:35] harsha-nalluru opened #19735 "Test Commands - Differences and Consistency"
Do we really even use this? This is not a comment about this PR, but there is zero difference between this and running from the TS source. ts-node will just compile the TS sources into ESMs first. It runs the exact same suite of tests as our unit-tests, so it's not really a different kind of testing.

_Originally posted by @witemple-msft in https://github.com/Azure/azure-sdk-for-js/pull/19628#disc

[2022-01-07 17:54] witemple-msft commented on #19735
@harsha-nalluru I think the commands in dev-tool are named fine. They tell me exactly what the commands do (test from TS sources vs. test from JS modules), but I just wonder if we actually need to make a distinction between "integration" and "unit" tests. Most packages just have one set of tests.

If the difference is only that "integration" tests run code coverage and "unit" tests do not, then th

[2022-01-07 18:27] timovv commented on #19735
To chip in my two cents here, as someone unfamiliar with what these commands did I was a bit confused by the naming of these commands and what their differences are (since in many cases it seems that integration-test and unit-test run the same tests! I would have assumed by the name that they were different test suites entirely).

[2022-01-07 18:43] jeremymeng commented on #19735
The history goes back to when we attempt to standardize the tests scripts. Just some background, we wanted to
- have `unit-test` runs the playback tests and `integration-test` runs the live tests.  We used to have cross-env passing in TEST_MODE before calling mocha.  This no longer applies.
- only run code coverage on live tests because playback tests are only a subset of live tests.
- have covera

[2022-01-07 18:50] #19732 closed

[2022-01-07 19:03] deyaaeldeen opened #19737 "[Communication Phone Numbers] Regenerate with the latest code generator"
Currently, the package has been generated using an older version of code gen (Feb 2021). This issue is to track regenerating using a newer version of code gen to bring in improvements and bugfixes to the client. Notably, LRO operations options will get a new option for updating the polling interval which could be helpful to both customers and internal tests in playback mode.

To regenerate, you sh

[2022-01-07 19:08] AlonsoMondal commented on #19737
Hey guys, as I'm no longer a part of this team I'd like to transfer it to someone on the team
If you decide to use the new @azure/core-client, checkout [how I did the migration for communication-short-codes](https://github.com/Azure/azure-sdk-for-js/pull/19043) (still closing this one out)
Feel free to ask me if you have any questions

[2022-01-07 19:22] deyaaeldeen commented on #19735
@harsha-nalluru I think it would be better to list here the testing commands in dev-tool with a description of what they do.

[2022-01-07 19:23] jeremymeng commented on #19138
@cthakor yes `@types/node-fetch` is deprecated and `v2.5.12` is the latest version.

We have not move to node-fetch v3 because it has some issue blocking us. (there's a draft PR https://github.com/Azure/azure-sdk-for-js/pull/19142)
- https://github.com/node-fetch/node-fetch/issues/1263

We do have https://github.com/Azure/azure-sdk-for-js/issues/19165 to track the upgrade.

[2022-01-07 19:48] maorleger commented on #19727
I snuck this into the mega-pr since it really only impacts the soon-to-be-beta-forever opentelemetry instrumentation pacakge. So I can close this.

[2022-01-07 19:48] #19727 closed

[2022-01-07 19:50] maorleger opened #19738 "[tracing] - Add samples"
At some point we should add some samples for `@azure/core-tracing`

Core tracing scenarios:
1. Using a tracingClient as a package owner
2. Calling `useInstrumenter` - maybe. It's really not a champion scenario and is meant to be used by the opentelemetry instrumentation package. But listing it here to think about it

[2022-01-07 19:51] maorleger commented on #19738
Assigning both of us for now, this might be a good one for Karishma to help me with but we can load-balance

[2022-01-07 19:58] maorleger opened #19739 "[test-util] - Consider a mockist approach to `supportsTracing`"
Pulling this issue out from a recent PR review - today we setup a mock tracer, create it globally, track spans, etc. But from a package owner's perspective in most cases all they care about is that they called `tracingClient#withSpan` with the right arguments.

This issue tracks the investigation of a lighter approach to validation

1. What's the cost in terms of runtime of the current approach? H

[2022-01-07 19:58] maorleger commented on #19739
Really no rush here, especially if we never hit a wall with the current approach

[2022-01-07 20:13] mario-guerra commented on #19494
This issue has been submitted to the Cosmos DB community page where feature requests are tracked:
https://feedback.azure.com/d365community/idea/0376c31a-f66f-ec11-a81b-000d3a7cc2c1

Further updates on this issue will be posted on the community page by the service team.

[2022-01-07 20:13] #19494 closed

[2022-01-07 20:34] xirzec commented on #16876
Thinking about this some more, I think I am personally okay with exposing `pipeline` on clients, since we've backed into it as a de facto standard and I don't believe it's really worth fighting the desire path at this point. I'd want to get full consensus from @bterlson, @jeremymeng, and @ramya-rao-a before we commit to it, though.

The naming conflict was a little unfortunate, since the specific

[2022-01-07 20:40] #16197 closed

[2022-01-07 20:53] ramya-rao-a commented on #19737
We can hold off on using `@azure/core-client` because we are still debating if that can be done without any breaking changes. We were able to update communication-short-codes as it is still in beta

@JonathanCrd Can you give this a try? Use the latest version of the code gen, but use the `--use-core-v2: false` flag as well

[2022-01-07 21:45] harsha-nalluru commented on #16876
Reference - https://github.com/Azure/azure-sdk-for-js/pull/19628#discussion_r779940068

[2022-01-07 22:55] harsha-nalluru opened #19743 "[Unified Recorder] Rebrand recorder-new as @azure-tools/test-recorder 2.0.0"
## What's going on?

- [x] Publish `@azure-tools/test-recorder@1.0.2` with the unreleased changes
- [ ] Delete the existing recorder `sdk/test-utils/recorder`
- [ ] Rename `recorder-new` -> `recorder`
- [ ] `@azure-tools/test-recorder-new@1.0.0` -> `@azure-tools/test-recorder@2.0.0`

[2022-01-08 03:59] KarishmaGhiya opened #19747 "Enable creation feedback tests through AAD once service issue is resolved"
- [ ] Enable creation feedback tests through AAD once service issue is resolved - the tests that were disabled in [this PR](https://github.com/Azure/azure-sdk-for-js/pull/19742) for AAD.
- [ ] Enable creation of changepoint feedback and period feedback tests through API once service issue is resolved. The test was disabled in [this PR](https://github.com/Azure/azure-sdk-for-js/pull/20105)

[2022-01-08 08:02] #19373 closed

[2022-01-08 13:12] mwerghemmi commented on #19704
Hi @ramya-rao-a ,
I am using the javascript sdk, version 1.3.2
https://www.npmjs.com/package/@azure/communication-calling
thanks,

[2022-01-09 08:31] cthakor commented on #19138
@jeremymeng  Do we have any ETA for this?

[2022-01-10 04:46] qiaozha commented on #19594
@joheredi Should we remove the default export in RLC if that's the case ?

[2022-01-10 06:01] v-jiaodi commented on #19314
The latest failure also has this issue. For more details check here:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1283003&view=results

[2022-01-10 06:12] v-jiaodi opened #19754 "[Key Vault - Administration] Integration test libraries failing in nightly runs"
Key Vault - Administration nightly test runs are failing with:

      at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:251:17)
      at deserializeResponseBody (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:159:43)
      at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev

[2022-01-10 06:25] v-jiaodi opened #19755 "[Service Bus] Streaming with sessions UnpartitionedSubscriptionWithSessions failing in nightly runs"
Service Bus nightly test runs are failing with:

    at translateServiceBusError (D:\a\_work\1\s\sdk\servicebus\service-bus\src\serviceBusError.ts:86:63)
    at MessageSession._init (D:\a\_work\1\s\sdk\servicebus\service-bus\dist-esm\src\session\messageSession.js:39:282)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at Function.creat

[2022-01-10 08:32] beyerleinf commented on #18978
Hi @colawwj and @qiaozha, thanks for the suggestions!

It wasn't working at first, but I noticed that there had been a new major version of the package. After the update it seems to work fine. Sorry about that.

[2022-01-10 08:32] #18978 closed

[2022-01-10 17:35] Axel92Dev opened #19759 "AVRO deserialization fails on Service Bus Subscription Trigger to Azure Function"
- **Package Name**: @azure/schema-registry-avro
- **Package Version**: 1.0.0-beta.5
- **Operating system**: Linux
- [x] **nodejs**
    - **version**: 14
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.3.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe

[2022-01-10 17:35] ketangupta34 commented on #18759
@sajeetharan  do we have any update on this issue?

[2022-01-10 18:34] JonathanCrd commented on #9329
All "prettier" dependencies in the repo have been upgraded to Prettier 2 (`^2.5.1`)

[2022-01-10 18:34] #9329 closed

[2022-01-10 19:07] sajeetharan commented on #18759
@ketangupta34 Are you getting the same issue ? Not yet able to execute the code provided above.

@mfatima21 will you be able to provide an executable version with sample dataset. looks like the above code has dependencies.

[2022-01-10 19:21] joheredi commented on #19594
@witemple-msft I think it would be safe to allow default imports for @azure-rest. I'd be okay also if we disallow by default and add metadata in our samples something like. Either way should be okay

[code]

@qiaozha I don't think we should remove default exports for RLC, it looks like the dev-tool could whitelist @azure-rest or take metadata to allow default imports in the samples

[2022-01-10 19:25] ketangupta34 commented on #18759
@sajeetharan I am from the same team as fatima. so from now, i will be handling this issue. If you need any infomation, please let me know!

[2022-01-10 22:35] KarishmaGhiya commented on #19014
I don't see this issue in the docs anymore. Checked with Adam, closing this issue.

[2022-01-10 22:35] #19014 closed

[2022-01-10 22:54] KarishmaGhiya commented on #19018
Discussed offline with Adam. If we add aad auth samples for different sdks it will be an evergrowing list, that will add overhead in terms of maintainability. Also, for every library readme, we have an "Authenticate the client" section where we enlist samples for both AAD and other types of authentications supported for that library, which the users can find easily and may not necessarily look at

[2022-01-10 22:54] #19018 closed

[2022-01-10 23:35] sarangan12 commented on #17893
Task Completed with PR https://github.com/Azure/azure-sdk-for-js/pull/19740

[2022-01-10 23:35] #17893 closed

[2022-01-11 01:13] #19022 closed

[2022-01-11 02:30] KarishmaGhiya commented on #19017
@kasobol-msft The web portal for metrics advisor is different. I mentioned that in order to find the web portal for metrics advisor - we need to check the overview section of the metrics advisor resource on the azure portal.
![image](https://user-images.githubusercontent.com/8968058/148870762-0fcfb8ff-4cb6-499f-a636-3bae0107f506.png)

After that we need to go to that web portal and login and on th

[2022-01-11 08:02] #4320 closed

[2022-01-11 08:34] Axel92Dev commented on #19759
If anyone is still suffering from passing binary data to Azure triggered Functions, you need to add this parameter...

[code]

I think the documentation here https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=javascript#configuration should be improved to document this field.

Thanks

[2022-01-11 09:35] qiaozha commented on #18918
@praveenkuttappan Is there any update on this issue ? Just found out another example https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1286721&view=logs&j=5db230da-fcea-5eac-c715-b1c1ba3fbfec

[2022-01-11 15:56] danieljurek opened #19776 "Generate ToC from onboarded packages"
Using onboarded packages generate a ToC

Structure:

[code]

Things to do:
* [x] Clean up metadata CSV
  * [x] Ensure packages that are currently onboarded are in the metadata and not excluded
  * [x] Add packages in ToC but not onboarded to CSV metadata
  * [x] Clean up service names
* [x] Adjust naming of package overview files to fit generated names (use `name.Replace(' ', '-')`)
* [x] Ensure t

[2022-01-11 16:22] maorleger opened #19777 "[KeyVault] - Consider an extensible enum for hashAlgorithm"
I think we should make this an enum like we do for signature algorithms. Having free-form input like this will be difficult for any language to support. Remember that we have to make decisions on this with `signData` and `verifyData` to know how to actually has the data.

_Originally posted by @heaths in https://github.com/Azure/azure-sdk-for-js/pull/19749#discussion_r781608835_

[2022-01-11 16:29] witemple-msft commented on #15001
@bterlson I'm thinking of implementing `"apiRefLink": null` for this rather than allowing the option to be omitted. That way you at least will still need to _declare_ it.

[2022-01-11 16:53] maorleger commented on #19777
Something along the lines of

[code]

Which would be hand-authored

[2022-01-11 17:14] witemple-msft commented on #19594
@joheredi Alright. I'll put up a patch to allow default imports for anything in any `@azure-rest/*` package since it's part of the programming pattern in RLC. I'm hesitant to add support for the metadata item because it will introduce a lot of extra comment-parsing that we don't currently have.

[2022-01-11 17:48] jeremymeng commented on #16876
Exposing the `pipeline` in JS would make us an outlier across languages. Other languages only allow adding policies when creating the clients and the pipeline is immutable after creation.

is custom `httpClient` not enough for core v2 for the new recorder? If not, would providing an option to add policy in addition work?

[2022-01-11 18:24] deyaaeldeen commented on #16876
@jeremymeng I see. For the custom http client, I think that depends on how http clients vary between packages.

Providing an option to add a policy at the client creation time sounds interesting and will actually bring JS to align with other languages.

[2022-01-11 18:27] kasobol-msft commented on #19017
This was a first time I was using metrics advisor in my life. I totally missed the meaning of that text. Probably because I was reading it left to right and got hang up on the part that asked to look for API keys in "web portal" - I assumed at this point that "web portal" is Azure Portal.
I'd suggest changing this part is such a way that user first discovers existence of separate "web portal" befo

[2022-01-11 19:24] xirzec commented on #16876
C# at least has a static place they put user-specified policies and a different static place they put client-specified policies. I'm not sure that following them and creating a second, more limited way to insert policies is the right way.

[2022-01-11 20:00] #19218 closed

[2022-01-11 20:04] mikeharder commented on #16876
Here's how this works today in .NET.  I'm not saying JS should necessarily port this directly, but I do think the .NET pattern works well.

1. All SDK client constructors accept a parameter derived from `ClientOptions`.  For example, the `BlobServiceClient` ctor accepts a parameter of type `BlobClientOptions`.
2. The `ClientOptions` type exposes APIs to change the `Transport` and/or add `Policies`

[2022-01-11 20:20] witemple-msft commented on #16876
Is there any difference between allowing our users to add policies vs. allowing them to specify `httpClient`, which might apply some transformation to the request before forwarding it to the default http client, or a client of their choosing?

In the analogous .NET example, is it not possible to apply the same kinds of transformations in the `Transport` and then pass the request along to a default

[2022-01-11 20:30] HarshaNalluru commented on #16876
There is only one httpClient option, it can be used only once. Whereas policies can be incremental and are more convenient to add a new policy at a later point without touching the existing code.

[2022-01-11 20:36] mikeharder commented on #16876
@witemple-msft: In .NET, redirecting to the test proxy could be done using either `Transport` or `Policy`.  The guidance I heard was to use `Policy` if you can since it's a higher-level construct, and only modify `Transport` if you can't accomplish what you want using `Policy`.

[2022-01-11 21:27] KarishmaGhiya commented on #19017
Thanks! It might be confusing to a customer too then. I will try to change this for more clarity.

[2022-01-11 22:08] HarshaNalluru opened #19787 "Release pipeline for (internal) tools"
We had instances of releasing `@azure-tools/test-recorder` to the npm. Each time, @praveenkuttappan had to do the release manually.

This issue is to track the work to setup the release pipeline so that anyone can release the package without depending on ENG SYS and their time. 🙂

[2022-01-11 22:48] sadasant commented on #16876
—wait, why do we need to access the pipeline from a client instead of just sending a custom pipeline via parameters?

[2022-01-11 23:19] sarangan12 commented on #17577
Code complete with PR https://github.com/Azure/azure-sdk-for-js/pull/19781

[2022-01-11 23:19] #17577 closed

[2022-01-11 23:29] jorgegarchirota commented on #19704
@mwerghemmi, we have a [Quickstart to introduce interop scenarios](https://github.com/Azure-Samples/communication-services-javascript-quickstarts/tree/main/join-calling-to-teams-meeting) under ACS calling, let us know if that scenario is the one that you are working on.

[2022-01-11 23:30] maorleger commented on #17843
Going to close this out as we purposely did not add perf tests to kv-admin. If it ever becomes a _must_ we can reopen

[2022-01-11 23:30] #17843 closed

[2022-01-11 23:54] ramya-rao-a commented on #17827
@maorleger If applicable, please log issues for keys and admin as well and add them to this epic

[2022-01-11 23:56] #19020 closed

[2022-01-12 00:12] maorleger opened #19791 "[KeyVault] - Add multi-version tests for KV Admin"
See #17827 for more details

[2022-01-12 00:31] ramya-rao-a commented on #17768
Closing as duplicate of the automated issue #19160

[2022-01-12 00:31] #17768 closed

[2022-01-12 00:50] #18227 closed

[2022-01-12 00:56] heaths commented on #19777
Not sure if "Known" makes sense in this context. That's useful for when we don't directly support or process a particular enum value in any meaningful way, but if that value is something we need to validate - client- or server-side - I think we drop the "Known" prefix a la `SignatureAlgorithm`.

Of course, this hinges on whether we even support `signData/verifyData`. If we don't, I think we remove

[2022-01-12 00:59] jeremymeng opened #19794 "[communication-chat] Remove custom rollup test config"
Customized test configs are still needed in PR #19722.  This tracks the removal of the custom test rollup, after
- communication-identity GA release another GA version
- singling client package adds ESM support

[2022-01-12 01:00] jeremymeng opened #19795 "[communication-network-traversal] remove the custom rollup test config"
Customized test configs are still needed in PR #19722.  This tracks the removal of the custom test rollup, after
- communication-identity GA release another GA version

[2022-01-12 02:44] ansrin commented on #19704
@mwerghemmi, yes, we have API to join a ACS user to Teams meeting using couple of different ways.
Checkout the documentation here : https://docs.microsoft.com/en-us/azure/communication-services/how-tos/calling-sdk/teams-interoperability

[2022-01-12 02:59] KarishmaGhiya commented on #17797
Min-max tests have been enabled on identity.

[2022-01-12 03:00] #17797 closed

[2022-01-12 03:12] #19016 closed

[2022-01-12 03:12] #19017 closed

[2022-01-12 06:59] lirenhe commented on #10562
@danvass, we don't have the detailed information for the behavior of those parameters. Could you post your question in https://docs.microsoft.com/en-us/answers/topics/azure-container-registry.html to ask service team directly?

[2022-01-12 08:02] #7336 closed

[2022-01-12 08:52] mwerghemmi commented on #19704
/unresolve

[2022-01-12 16:07] #18644 closed

[2022-01-12 17:47] ramya-rao-a commented on #19704
@mwerghemmi Please provide details as to why the issue is unresolved for you so that we can help

[2022-01-12 17:52] mwerghemmi commented on #19704
hi @ramya-rao-a, sorry i missed to submit the comment !
my question is are there a way to connect ACS to teams meeting with a token.
In the lin above we find an example for example
const locator = { meetingLink: '<MEETING_LINK>'}
const call = callAgent.join(locator);

we have an application that uses Graph communication API, we escalate in certain scenarios p2P meeting to a meeting and we obtain a

[2022-01-12 18:00] #17812 closed

[2022-01-12 18:07] ramya-rao-a commented on #19704
Thanks @mwerghemmi

@jorgegarchirota, @mwerghemmi, can you please help with the above query?

[2022-01-12 18:08] maorleger commented on #18400
The service team pushed the release back

[2022-01-12 18:10] #11181 closed

[2022-01-12 18:10] maorleger commented on #11181
I am proposing closing this issue. MHSM has already GA'd and there are some well-known differences in behavior. Feel free to reopen if you disagree

[2022-01-12 18:18] #19415 closed

[2022-01-12 18:31] maorleger opened #19806 "Key Vault for JavaScript (March 2022)"

[2022-01-12 18:31] maorleger opened #19807 "Key Vault for JavaScript (April 2022)"

[2022-01-12 18:47] jorgegarchirota commented on #19704
@ansrin can you please provide more details about Graph integration?

[2022-01-12 18:50] #17807 closed

[2022-01-12 19:33] witemple-msft commented on #16452
@HarshaNalluru -- can the new recorder help us address this at all, or should I look for a more creative solution?

CC @scbedd -- The issue is that buffering large request bodies in the HTTP client takes a long time, even when the request is not actually transmitted. In Form Recognizer, we frequently deal with big files like uncompressed images.

I think FR is the only client doing anything like t

[2022-01-12 20:14] HarshaNalluru opened #19809 "[Recorder] Support the string sanitizers"
Support the string sanitizers that are being added to the proxy tool
https://github.com/Azure/azure-sdk-tools/pull/2530

[2022-01-12 20:19] HarshaNalluru commented on #16452
I'm unsure what's causing the issue.
Can only know better if I know who's causing the delay.

Or perhaps you can start migrating to the new recorder and see if it solves the issue or we can come up with a workaround in case it doesn't solve.

[2022-01-12 21:18] ansrin commented on #19704
@mwerghemmi , not sure what you mean by meeting token, but if you are using GraphAPI to create ( or get) a online meeting, then you should be able to get the meeting join url from the response, it is called joinWebUrl.

Form Graph API documentation:
https://docs.microsoft.com/en-us/graph/api/application-post-onlinemeetings?view=graph-rest-1.0&tabs=http

[2022-01-12 21:24] mwerghemmi commented on #19704
Hi @akania ,
thank you for your quick response.
Actually we are not creating the meeting with Graph api with the create meeting API.
the token we are getting is a result of adding user to a call.
we do have an application (A)  that receives calls from user (USER1) ,it answers, plays some messages (p2P) call
and then we add another user (USER2)  (so the call is escalated) and we obtain a meeting to

[2022-01-12 21:39] maorleger commented on #19754
This is a known service-side issue when they are parsing the api-version querystring parameter. I'll follow up in a week or so once the fixes have been rolled out globally

[2022-01-13 00:10] ansrin commented on #19704
@mwerghemmi , it sounds like you are escalating a peer-to-peer call into a groupcall by adding the third participant, so what you are left with is a groupcall not a meeting, and in ACS SDK we dont support joining a Teams group call.
In other words, what we officially support from ACS SDK is joining to a Teams meeting via meeting url or meeting coordinates  both of which you can obtain via Graph AP

[2022-01-13 02:06] dw511214992 commented on #12761
Hi @CYoderDev Cloud you please try the latest version of sdk? If you still encounter this issue, please let us know. Thanks

[2022-01-13 13:54] BasiaMH opened #19835 "Sorting arm-consumption 'usage details' by resource group"
I am using the arm-consumption package to get the usage details for a subscription and finding it difficult to sort the results in a meaningful way.  I need to get them by resource group, but 1) it does not appear to be possible to filter the details by resource group when getting the data from azure and 2) the 'resource group' property on the usage details items does not correspond directly to th

[2022-01-13 16:08] #14483 closed

[2022-01-13 16:08] #18879 closed

[2022-01-13 16:10] witemple-msft commented on #18879
Storage samples are now using a higher compile target and should not suffer from this anymore. Please re-open this issue if it persists.

[2022-01-13 17:07] witemple-msft commented on #19549
Quick update: we'll include a fix for this in 3.15.1.

A small change in our TypeScript compiler options caused the root directory to lift up by one directory from `cosmos/src/` to `cosmos/`. We missed updating the browser mappings to account for this, and a fix is now merged to the main branch and pending release.

I'll validate that the package can be bundled with webpack and rollup before relea

[2022-01-13 17:08] #19549 closed

[2022-01-13 17:38] witemple-msft commented on #19148
We merged a change that should fix this issue. We'll validate that the issue is resolved and then release a hotfix version 3.15.1. The issue is that a small change to our typescript configuration in the last version caused the compilation root directory to lift up by one level, making the `browser` path mappings in the cosmos package.json incorrect.

We merged https://github.com/Azure/azure-sdk-fo

[2022-01-13 19:17] jeremymeng commented on #19305
In general we'd like to use a single one version across repo using this command.
[code]

[2022-01-13 19:57] jeremymeng commented on #19305
@deyaaeldeen I assume package A refers to a package in our repo?  We need to run the above command under a folder that is managed by rush. To run it under repo root we need to pass `--all`.

I did a quick test and found that the two have slightly different results:
1. running under a sdk library folder (without the `--all` option): 167 packages are updated
2. running under root with `--all` option

[2022-01-13 20:00] deyaaeldeen commented on #17821
Ryan Cavanaugh (TypeScript team) recommends following [DefinitelyTyped's two year sliding window](https://github.com/DefinitelyTyped/DefinitelyTyped#support-window) since TypeScript itself does not have one.

[2022-01-13 20:03] jeremymeng commented on #19305
ah, I see, `--all` would add the dependency to all projects, definitely not what we want.

[2022-01-13 20:11] jeremymeng commented on #19305
So `rush add --make-consistent -p package-name@^new-version` under a project folder that depends on the package.  Add `--dev` for dev dependencies.

[2022-01-13 20:14] deyaaeldeen commented on #19305
@jeremymeng I thought adding the tag would help just with triaging the issue and understanding the impact, but I agree with you that in most cases, adding the `-m` param should be enough when upgrading.

[2022-01-13 20:24] HarshaNalluru commented on #18534
Closing since the new recorder would not have the same problem and since tables is being migrated

[2022-01-13 20:24] #18534 closed

[2022-01-13 20:26] HarshaNalluru commented on #19141
They are running now 🙂

[2022-01-13 20:26] #19141 closed

[2022-01-13 22:14] deyaaeldeen opened #19841 "[Event Hubs] Add a sample for buffered producer"
PR: https://github.com/Azure/azure-sdk-for-js/pull/18674

[2022-01-13 22:33] #19300 closed

[2022-01-13 23:11] #17973 closed

[2022-01-14 00:20] lilyjma commented on #13344
Hi @prashanthmadduri, I'm going to mark this as addressed. Please feel free to /unresolve if you'd like further discussion.

[2022-01-14 01:07] zoran-milosevic commented on #13281
You can always use REST API Reference for Azure Cosmos DB. Example:

https://github.com/zoran-milosevic/deno-microservice

[2022-01-14 01:09] deyaaeldeen opened #19843 "[Epic] Introducing support policy for typescript minimum version"
This has been discussed with the TypeScript team and our architects and we agreed to follow [DefinitelyTyped's two year sliding support window](https://github.com/definitelytyped/definitelytyped/#support-window).

- [ ] Discuss the support policy language With CELA and add it in
  - [ ] [SUPPORT.md](https://github.com/Azure/azure-sdk-for-js/blob/main/SUPPORT.md)
  - [ ] [Website](https://azure.git

[2022-01-14 01:12] deyaaeldeen commented on #11319
Closing this in favor of https://github.com/Azure/azure-sdk-for-js/issues/19843

[2022-01-14 01:12] #11319 closed

[2022-01-14 01:12] deyaaeldeen commented on #8275
Closing in favor of https://github.com/Azure/azure-sdk-for-js/issues/19843

[2022-01-14 01:27] lirenhe commented on #18286
Close it as the majority of the issues for mgmt SDK are taken care of.
There are some remaining items that would take extra effort but we won't use MQ to track that effort.

[2022-01-14 01:27] #18286 closed

[2022-01-14 03:08] #19420 closed

[2022-01-14 06:09] daredevilteja commented on #19217
May I work on this issue?

[2022-01-14 06:39] v-jiaodi opened #19846 "[App Configuration] packagejson related tests user agent string matches the package version failing in nightly runs"
App Configuration nightly test runs are failing with:

    at Object.openSync (node:fs:585:3)
    at Proxy.readFileSync (node:fs:453:35)
    at Context.<anonymous> (/Users/runner/work/1/s/sdk/appconfiguration/app-configuration/test/internal/node/package.spec.ts:27:12)
    at callFn (/Users/runner/work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:374:21)
    at

[2022-01-14 06:39] v-jiaodi opened #19847 "[Communication - Chat] Deploy test resources failing in nightly runs"
Communication - Chat nightly test runs are failing with:

Line |
 711 |          $deployment = Retry {
     |                        ~~~~~~~
     | Exception calling "Invoke" with "0" argument(s): "The running
     | command stopped because the preference variable
     | "ErrorActionPreference" or common parameter is set to Stop:
     | 05:10:36 - The deployment 't6f6b2d50de454fee' failed with

[2022-01-14 06:39] v-jiaodi opened #19848 "[Communication - Chat] ChatClient Chat Operations successfully deletes a thread failing in nightly runs"
Communication - Chat nightly test runs are failing with:

    at SerializerImpl.serialize (/Users/runner/work/1/s/sdk/core/core-client/src/serializer.ts:148:13)
    at calculateUrlReplacements (/Users/runner/work/1/s/sdk/core/core-client/src/urlHelpers.ts:81:52)
    at getRequestUrl (/Users/runner/work/1/s/sdk/core/core-client/src/urlHelpers.ts:21:27)
    at ChatApiClient.sendOperationRequest (/Us

[2022-01-14 06:40] v-jiaodi opened #19849 "[Communication - Identity] CommunicationIdentityClient [Playback/Live] successfully revokes tokens issued for a user failing in nightly runs"
Communication - Identity nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-http\src\policies\deserializationPolicy.ts:274:17)
    at D:\a\_work\1\s\sdk\core\core-http\src\policies\deserializationPolicy.ts:179:47
    at processTicksAndRejections (node:internal/process/task_queues:96:5)
    at IdentityRestClient.sendOperationRequest (D:\a\_work\1\s\sdk\cor

[2022-01-14 06:40] v-jiaodi opened #19850 "[Communication - Phone Numbers] PhoneNumbersClient - lro - update can update a phone number's capabilities failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at NodeFetchHttpClient.sendRequest (D:\a\_work\1\s\sdk\core\core-http\src\nodeFetchHttpClient.ts:257:15)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)
    at NodeFetchHttpClient.customHttpClient.sendRequest (D:\a\_work\1\s\sdk\communication\communication-phone-numbers\test\public\utils\recordedClient

[2022-01-14 06:40] v-jiaodi opened #19851 "[Key Vault - Keys] Keys client - create, read, update and delete operations key rotation failing in nightly runs"
Key Vault - Keys nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-http\src\policies\deserializationPolicy.ts:274:17)
    at D:\a\_work\1\s\sdk\core\core-http\src\policies\deserializationPolicy.ts:179:47
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at TracingPolicy.sendRequest (D:\a\_work\

[2022-01-14 06:40] v-jiaodi opened #19852 "[Storage - File Datalake] LeaseClient from Directory breakLease failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

    at Context.<anonymous> (test/pathclient.spec.ts:18:7 <- dist-test/index.browser.js:65840:19)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1295534&view=results

[2022-01-14 08:02] #18269 closed

[2022-01-14 08:02] #12255 closed

[2022-01-14 08:02] #11470 closed

[2022-01-14 08:02] #7090 closed

[2022-01-14 08:22] qiaozha commented on #19835
@BasiaMH I think you can pass a scope parameter to get all the usage details within one resource group https://github.com/Azure/azure-rest-api-specs/blob/main/specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/UsageDetailsListByManagementGroup.json#L6 . let me know if that works for you ? Thanks

[2022-01-14 10:05] petrsvihlik commented on #19849
caused by recent RP issues. all green again -> closing

[2022-01-14 10:05] #19849 closed

[2022-01-14 13:23] BasiaMH commented on #19835
Thanks,
I can pass subscriptions/{subscriptionId} in the scope, which returns all
usage details for our subscription, but if I try to pass the
resourceGroups/{resourceGroupName} I get no results.

What is returned is an array with one item, containing a url
https://costmanagement.trafficmanager.net/subscriptions/c9e88f4c-b9f3-4941-b51e-c9cbbfb9742e/resourcegroups/dicomweb-group/providers/Microsoft

[2022-01-14 14:16] maorleger commented on #19851
This is a known service-side issue as key rotation preview feature was recently disabled globally. I am waiting on an ETA from service team before deciding whether to pend or keep open.

For now, I will keep this issue open and check on it next week.

[2022-01-14 17:24] maorleger opened #19854 "[Instrumentation] - Add samples"
Once we have a package upgraded to use @azure/core-tracing >= preview.14 we can add a sample that demonstrates how to enable tracing using the @azure/opentelemetry-instrumentation-azure-sdk package. Until then, any sample we add won't be meaningful and won't be demonstrating an end-to-end scenario that works.

[2022-01-14 18:06] rhyashu commented on #15893
We are using Azure cloud stream binder for event hubs and getting the same error however we are getting it when consumer instances are started.
One question: Does these error can cause events to get lost in any way as when we see these error there are few events missing in the output files that we are writing?

[2022-01-14 18:33] ramya-rao-a commented on #19737
@JonathanCrd Please wait until https://github.com/Azure/azure-sdk-for-js/pull/19805/ is merged to start on this

[2022-01-14 19:40] heaths opened #19857 "Regenerate, make sure immutable property is added"
Now that https://github.com/Azure/azure-rest-api-specs/pull/17270 has been merged for 7.3-preview, please regenerate and make sure that the `immutable` property has been correctly added.

Testing might include setting a release policy and marking immutable `true`, then trying to change or remove the release policy which should err.

[2022-01-14 19:57] #11859 closed

[2022-01-14 19:58] #15974 closed

[2022-01-14 20:10] HarshaNalluru opened #19858 "[Recorder] Fix "If-None-Match" header issue in playback for recorder 2.0 tests"
![imgpsh_mobile_save](https://user-images.githubusercontent.com/10452642/149578657-a2aa4b88-48e6-456b-b6bd-aecc6a7cff2c.jpg)

[2022-01-14 20:11] HarshaNalluru commented on #19858
Being fixed at https://github.com/Azure/azure-sdk-for-js/pull/19724/

[2022-01-14 20:12] joheredi opened #19859 "[core-rest-pipeline] Make FetchClient the default browser httpclient"
Currently, we are blocked on this by `Playback` tests as the recorder is tightly coupled with xhr. Once the SDKs that depend on CoreV2 are migrated to the new recorder we should be able to make the switch. This is a list of the SDKs that need to be migrated:

@joheredi
- [x] ./sdk/documenttranslator/ai-document-translator-rest/package.json (`.pipeline`) - https://github.com/Azure/azure-sdk-for-js/

[2022-01-14 20:13] joheredi commented on #18298
https://github.com/Azure/azure-sdk-for-js/pull/19530

[2022-01-14 20:13] #18298 closed

[2022-01-14 20:14] HarshaNalluru opened #19860 "[Recorder] [test-utils-ci pipeline] Browser test fails with "Referer" header mismatch in playback"
[code]
![imgpsh_mobile_save](https://user-images.githubusercontent.com/10452642/149579039-64a360dd-e2e5-4e04-b67c-909a50316e29.jpg)

### Observations
- Failure observed only in the CI
- Succeeds on my codespaces
- I thought the "Referer" header was ignored(meaning.. should not match), why is the test failing now and causing the build to fail?
- The only difference is that in the CI, we run the "do

[2022-01-14 20:14] joheredi commented on #16368
https://github.com/Azure/azure-sdk-for-js/pull/19530 adds a new HttpClient based on the new Fetch API. https://github.com/Azure/azure-sdk-for-js/issues/19859 tracks the work to make this the default httpClient in core-rest-pipeline

[2022-01-14 20:14] #16368 closed

[2022-01-14 20:16] HarshaNalluru commented on #19860
Investigated and discussed with @scbedd.
Fix comes with https://github.com/Azure/azure-sdk-tools/pull/2554, tag and version update for the proxy tool.

[2022-01-14 20:24] ramya-rao-a commented on #17707
Looks like apart from the generated mgmt plane packages, the only package using `openTelemetryCommonJs` function is the one for synapse-monitoring, but it uses the one from shared-config.

@jeremymeng Can you review the case for synapse-monitoring and then log an issue in the code generator for the required changes?

[2022-01-14 20:30] ramya-rao-a commented on #13391
Thanks to @bterlson we now have the guideline updated for CIDR: https://github.com/Azure/azure-sdk/pull/3719

[2022-01-14 20:30] #13391 closed

[2022-01-14 20:36] #17728 closed

[2022-01-14 20:44] maorleger commented on #19857
Commit sha to generate from: b7d6b00a7f388f048772ea249114a63773312538

[2022-01-14 21:58] lmazuel opened #19863 "Support for Partner Channel Name"

[2022-01-15 00:20] #19743 closed

[2022-01-15 00:20] #19858 closed

[2022-01-15 00:20] #19860 closed

[2022-01-15 00:52] #18691 closed

[2022-01-15 01:22] jeremymeng commented on #17707
Codegen tracking issue: https://github.com/Azure/autorest.typescript/issues/1282

[2022-01-15 08:02] #15997 closed

[2022-01-15 08:02] #14673 closed

[2022-01-17 01:51] qiaozha commented on #19835
@BasiaMH Did you pass the scope like `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}` ?

[2022-01-17 01:53] BasiaMH commented on #19835
That's exactly what I tried, yes.

(Before that I tried including resourceGroups in a filter, but that just
returned all the data unfiltered.)

On Sun., Jan. 16, 2022, 8:52 p.m. Qiaoqiao Zhang, ***@***.***>
wrote:

[2022-01-17 02:21] qiaozha commented on #19835
Looks like we need some help from service team.
@mitagarg Is it possible that you could help here, as I see you are the author of this PR https://github.com/Azure/azure-rest-api-specs/pull/17013

[2022-01-17 08:02] #3894 closed

[2022-01-17 10:28] lirenhe commented on #6487
@elweilando, thanks for reporting this issue. As this issue is not related to SDK, and the service team did not follow up on this for long time,  could you help to post your question directly in https://docs.microsoft.com/en-us/answers/topics/azure-container-instances.html to get the support from service team?
I will close this item as this is a service issue. Let me know if you have further quest

[2022-01-17 10:28] #6487 closed

[2022-01-17 14:03] azure-sdk opened #19880 "Dependency package @types/concurrently has a new version available"
We have identified a dependency on version 6.4.0 of @types/concurrently. A new version (7.0.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such pack

[2022-01-17 20:51] MBurchard opened #19883 "Azure servicebus error handling causes high ressource usage"
- **Package Name**:  @azure/service-bus
- **Package Version**: 7.0 - 7.4
- **Operating system**: Windows and Linux
- [x] **nodejs**
    - **version**: 14 - 16.13.2
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.1 - 4.5.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsof

[2022-01-18 03:27] v-jiaodi opened #19884 "[Storage - File Datalake] Execute Samples failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

    "streamResponseStatusCodes": {},
    "url": "https://***.blob.***/newFileSystem1642220133187?restype=REDACTED",
    "method": "PUT",
    "headers": {
      "_headersMap": {
        "x-ms-version": "REDACTED",
        "accept": "application/xml",
        "user-agent": "azsdk-js-storagedatalake/12.8.0-beta.2 (NODE-VERSION v12.22.9; Win

[2022-01-18 03:27] v-jiaodi opened #19885 "[Service Bus] Operation Options Tracing getNamespaceProperties with tracing failing in nightly runs"
Service Bus nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/servicebus/service-bus/test/internal/operationOptionsForATOM.spec.ts:279:14)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1304697&view=

[2022-01-18 03:27] v-jiaodi opened #19886 "[Communication - Phone Numbers] Deploy test resources failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

Line |
 219 |      Az.MSGraph.internal\Get-AzADServicePrincipal @PSBoundParameters
     |      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | ClientSecretCredential authentication failed: AADSTS70011: The
     | provided request must include a 'scope' input parameter. The
     | provided value for the input

[2022-01-18 03:27] v-jiaodi opened #19887 "[Event Grid] EventGridPublisherClient #send (CloudEvent schema) enriches events with distributed tracing information failing in nightly runs"
Event Grid nightly test runs are failing with:

    at Context.<anonymous> (test/public/eventGridClient.spec.ts:260:15 <- dist-test/index.browser.js:43244:23)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1304688&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1307982&view=results

[2022-01-18 03:50] JasonPan opened #19888 "Add support for Directory signed resource for blob service SAS generation"
**Is your feature request related to a problem? Please describe.**
Via the Azure Portal, I have been able to generate a SAS for a blob service Directory resource. However, via the SDK (`@azure/storage-blob@12.8.0`), I have not been able to. For our use case, we are trying to implement the [valet key pattern](https://docs.microsoft.com/en-us/azure/architecture/patterns/valet-key) for a range of res

[2022-01-18 08:03] #19251 closed

[2022-01-18 08:03] #18420 closed

[2022-01-18 08:03] #17787 closed

[2022-01-18 08:03] #16470 closed

[2022-01-18 08:03] #15347 closed

[2022-01-18 08:03] #13497 closed

[2022-01-18 08:03] #11998 closed

[2022-01-18 15:10] maorleger commented on #19887
I'll take this, it's related to #17973

[2022-01-18 15:11] maorleger commented on #19885
I'll take this, it's related to #17973

[2022-01-18 15:12] maorleger commented on #19854
Make sure to remove the text matrix filter added here: https://github.com/Azure/azure-sdk-for-js/pull/19855/files#diff-1e748e5e9dfdc5f6f0d7123b19ac1c9a2909a257c55b19411056e845c75e4720R8-R9

[2022-01-18 16:06] maorleger commented on #19716
https://github.com/Azure/azure-sdk-for-js/pull/19749 for WIP

[2022-01-18 16:39] maorleger commented on #18655
Hector was able to integrate these changes into application insights. So we can close this 👍

[2022-01-18 16:39] #18655 closed

[2022-01-18 17:21] ramya-rao-a commented on #19880
@deyaaeldeen I believe this is coming from the test utils in dev-tool

[2022-01-18 17:25] maorleger commented on #19851
Looks like KV re-enabled key rotation and the tests are passing again. Closing but feel free to reopen if you see this again

[2022-01-18 17:25] #19851 closed

[2022-01-18 17:51] jeremymeng commented on #17707
Closing. all remaining open telemetry commonjs workarounds have separate issues to track the removal of them

[2022-01-18 17:51] #17707 closed

[2022-01-18 17:53] #17643 closed

[2022-01-18 18:47] ramya-rao-a commented on #19224
@DominikMe The dependency on `jwt-deocde` was added in this very first mega PR for ACS packages in #11385. Do you recall the reason you went with v2 and not v3 of `jwt-deocde`?

[2022-01-18 18:51] ramya-rao-a commented on #19224
Code pointers for anyone wanting to contribute to fix this issue:
- [Set up your dev environment](https://github.com/Azure/azure-sdk-for-js/blob/main/CONTRIBUTING.md#setting-up-your-environment)
- Move to folder `sdk/communication/communication-common`
- Update the version of `jwt-decode` and `@types/jwt-decode` used in the package.json file in the above folder
- Run `rush update` to ensure the ne

[2022-01-18 18:52] ramya-rao-a commented on #19380
For code pointers for anyone wanting to contribute a fix to this issue, please see https://github.com/Azure/azure-sdk-for-js/issues/19224#issuecomment-1015723435

[2022-01-18 18:56] #19161 closed

[2022-01-18 18:56] #19183 closed

[2022-01-18 18:56] ramya-rao-a commented on #19225
Code pointers for anyone wanting to contribute to fix this issue:
- [Set up your dev environment](https://github.com/Azure/azure-sdk-for-js/blob/main/CONTRIBUTING.md#setting-up-your-environment)
- Move to folder `sdk/servicebus/service-bus`
- Update the version of `long` used in the package.json file in the above folder
- Run `rush update` to ensure the new versions gets installed
- Check the [cha

[2022-01-18 19:04] AlonsoMondal commented on #18688
As discussed with @DominikMe, the credential policy code will need reconciliation once communication-common and other communication packages have been migrated, so ShortCodes uses the common library instead of its own files, e.g.: deleting https://github.com/Azure/azure-sdk-for-js/blob/2be2a6a23c4ecfa8cd555f1fb80c54287a637038/sdk/communication/communication-short-codes/src/utils/encodeUtils.browse

[2022-01-18 19:29] #19885 closed

[2022-01-18 19:29] #19887 closed

[2022-01-18 19:55] maorleger commented on #18680
Thank you, I am working on getting china cloud test subscription access and will investigate

[2022-01-18 21:12] jeremymeng commented on #19607
fxp now has a 4.0.1 stable release on npmjs

[2022-01-18 21:36] deyaaeldeen commented on #19880
@ramya-rao-a done!

[2022-01-18 22:05] mwerghemmi commented on #19704
Hi @ansrin ,

Please find below an example of a meeting token received from Graph API communications.
let me know if you need any other infos.

{"@odata.type":"#microsoft.graph.tokenMeetingInfo","token":"eyJhbGciOiJSUzI1NiIsImtpZCI6InBid0FFbGduc25NSGc4aWhucElISHlKdmI5USIsInR5cCI6IkpXVCIsIng1dCI6InBid0FFbGduc25NSGc4aWhucElISHlKdmI5USJ9.eyJhcHBJZCI6ImU3OTZmMmUzLTI2Y2YtNDlkZS1iM2VkLTNhODIyMTRkNWJmZCI

[2022-01-18 22:26] jeremymeng commented on #19880
It's strange that we didn't get an issue created for the library package `concurrently` whose latest is 7.0.0.  I checked and it is not reported by `rush`.

Anyway, we should upgrade the @types dependency together with the library dependency.

[2022-01-18 22:44] jeremymeng commented on #19880
btw logged a rush issue https://github.com/microsoft/rushstack/issues/3169

[2022-01-19 00:58] maorleger commented on #18680
My observation is that sometimes the DELETE call returns 200 OK but doesn't actually delete the certificate. Then we poll forever waiting for it to show up in the deleted certificates collection. I am engaging the service team with traces. Stay tuned!

[2022-01-19 01:07] jeremymeng commented on #19138
@cthakor We are targeting beginning of Feb to address the @types/node-fetch deprecation issue.

[2022-01-19 01:34] craxal opened #19899 "Int32 data type is returned for integer-like Double values"
- **Package Name**: @azure/data-tables
- **Package Version**: 13.0.1-alpha.20220112.3
- **Operating system**: Windows 11
- [X] **nodejs**
    - **version**: 16.3.1
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 4.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

[2022-01-19 05:27] EmmaZhu commented on #19888
Thanks @JasonPan for bring this to us.  I'll add this to the feature support backlog. I'd need to discuss about this with owners of SDK for other languages. Will update you with any progress.

Thanks
Emma

[2022-01-19 09:02] snuffykl commented on #19231
Hi just checking any update to upgrade node-fetch to 2.6.7 ?

[2022-01-19 17:59] maorleger opened #19912 "[dev-tool] - samples publish command no longer honors `--force` flag"
Just something I noticed in passing. See output below:

[code]

It's a little impactful because it makes it harder to iterate on a sample in a dev-loop

[2022-01-19 18:05] JaeEmAre67 opened #19913 "Module not found: Error: Can't resolve 'url' in ... node_modules\@azure\cosmos\dist-esm\src\utils"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.15.0
- **Operating system**: Windows 10 Enterprise
- [ ] **nodejs**
    - **version**: 17.3.1
- [ ] **browser**
    - **name/version**: Chrome/97.0.4692.71
- [ ] **typescript**
    - **version**: 4.5.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [X] SDK API docs on https://docs.micro

[2022-01-19 18:11] ramya-rao-a commented on #19231
Hey @snuffykl

Our current dependency on node-fetch is using the semver notation `^2.6.6` which should give you the latest minor and patch updates with major version 2. Are you looking for node-fetch to be updated to v3?

[2022-01-19 19:11] HarshaNalluru commented on #19846
This is resolved now https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1311673&view=results

[2022-01-19 19:11] #19846 closed

[2022-01-19 19:15] Leodecko commented on #19394
Hello, is there a fix for this issue? I have the same problem.

[2022-01-19 19:23] HarshaNalluru commented on #16493
Coming back after a couple of months.

Last I investigated(August 2021), I could not repro the issue on my local/codespaces even with 100s of iterations. I think this was service flakiness which was only seen in the CI.

For the past 2 months and beyond.. looked at the CI/pipeline again, and this test hasn't failed even once.
I consider closing this issue at this point.

If it ever fails again, we

[2022-01-19 19:23] #16493 closed

[2022-01-19 19:41] Sandido commented on #17499
Hi @MRayermannMSFT ,

1. Why do you say 'accessSAS' is supposed to be a top level property?
2. What type is accessSAS currently?
3. Is the expected behavior supposed to be DiskGrantAccessResponse.accessSAS ?

[2022-01-19 19:47] MRayermannMSFT commented on #17499
@Sandido

Because that is what the typing indicates?
![image](https://user-images.githubusercontent.com/21112697/150202854-9d031cde-54ee-487e-b3c4-69472f8cabda.png)
![image](https://user-images.githubusercontent.com/21112697/150202889-c9b9f0ba-c9ab-4719-bde3-523aff266a8b.png)

Do you mean in the typing? A `string`. See my above screenshot.

That is what the typing indicates, yes.

[2022-01-19 19:56] #19315 closed

[2022-01-19 19:58] jeremymeng commented on #19755
possibly dup of #14441

[2022-01-19 20:06] benbp commented on #19886
This issue seems related to the deployment script updates we made to support the new Az powershell versions which switched from using AAD graph to using the MS graph API.

[2022-01-19 20:21] deyaaeldeen commented on #19394
@Leodecko Could you please share the version of @azure/core-paging installed in your project and the typescript compiler? [v1.2.1](https://www.npmjs.com/package/@azure/core-paging/v/1.2.1) has the fix in https://github.com/Azure/azure-sdk-for-js/pull/19507.

[2022-01-19 20:23] Leodecko commented on #19394
Actually the azure/storage-blob library is the one that is causing the issue I'm not using @azure/core-paging, the version that we are using in our angular 8 protect is : 12.8.0
Thanks in advanced

[2022-01-19 20:28] deyaaeldeen commented on #19394
Thanks @Leodecko for the information!

Could you please share the full error and the version of `@azure/storage-blob` you're using?

[2022-01-19 20:47] Leodecko commented on #19394
![image](https://user-images.githubusercontent.com/16636591/150210999-abb97366-736c-4abe-9f8e-9e0de9ae7c09.png)

When we try to build the app this is the error that is throwing us.

[2022-01-19 21:26] deyaaeldeen commented on #19394
@Leodecko thanks! The error is coming from core-paging which is one of the dependencies of `@azure/storage-blob`. [`@azure/core-paging@1.2.1`](https://www.npmjs.com/package/@azure/core-paging/v/1.2.1) is the most recent version of that package and has a fix for this issue. Could you please upgrade the dependencies in your project by deleting the node_modules folder and running `npm install` again

[2022-01-19 21:49] paule96 commented on #15298
@juancamilor and @ashwinder,

we started now Q1 of 2022 and I just try to ask if this is still the plan for Q1. And if there is any help needed.

Thanks for your work ✌️

[2022-01-19 22:06] jeremymeng commented on #19567
This is a failure in the macos run that is much slower than usual.  It is most likely machine/network issue.  Haven't seen it recently.  Closing.  Please re-activate if this happens again.
![image](https://user-images.githubusercontent.com/7583839/150221744-e4f9f9e6-4c03-44ba-a6f1-67c480c1021c.png)

[2022-01-19 22:06] #19567 closed

[2022-01-19 22:23] jeremymeng commented on #18592
Likely a transient network issue. This hasn't happened again since Nov 8.  Closing.  Please re-activate if the same failure happens again.

[2022-01-19 22:23] #18592 closed

[2022-01-19 22:34] timovv opened #19917 "[Unified recorder] Fix lint errors and enable eslint in CI"
Now that we have moved the new recorder over to the `@azure-tools/test-recorder` package, we should look into picking back up the work from #17826 for it and enable the linter in CI.

[2022-01-19 22:35] timovv commented on #19917
Just kidding, [looks like we did this already](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/package.json#L32).

[2022-01-19 22:35] #19917 closed

[2022-01-19 22:41] witemple-msft commented on #10569
Just want to revisit this since @sadasant asked for my input.

I can't remember exactly what we discussed or where we landed on this, but _knowing what I know now_ and _given the developments since_ (Samples V2, which we didn't introduce until several months after this issue), I wouldn't advise the proposed solution anymore.

At the time, we had a different samples process. Currently, `prep` is on

[2022-01-19 22:45] sadasant commented on #10569
@witemple-msft Thank you! I’ll move this back to the backlog 👍

[2022-01-19 23:05] #19149 closed

[2022-01-19 23:05] #19150 closed

[2022-01-19 23:05] #19151 closed

[2022-01-19 23:05] #19152 closed

[2022-01-19 23:05] #19153 closed

[2022-01-19 23:05] #19154 closed

[2022-01-19 23:05] #19155 closed

[2022-01-19 23:12] #19738 closed

[2022-01-19 23:54] snuffykl commented on #19231
Hi @ramya-rao-a

I am looking to get it to 2.6.7. Good to know it will give me 2.6.7.

Thank you.

[2022-01-20 00:04] maorleger commented on #19394
@Leodecko just FYI, Deya and I chatted and we want to recommend that instead of installing `@azure/core-paging` as a top-level dependency can you try the following:

[code]

Hopefully that helps get you on a version of core-paging that contains the fix without deleting node_modules or your lock-file. let us know if that resolves your issues!

Just FYI - if nothing happens after you run `npm update

[2022-01-20 01:36] #15811 closed

[2022-01-20 01:45] KarishmaGhiya commented on #17002
This has been resolved on the service side. And the tests have been enabled and are passing.

[2022-01-20 01:45] #17002 closed

[2022-01-20 01:48] #15817 closed

[2022-01-20 03:27] qiaozha commented on #17499
@Sandido  The SDK is generated from the swagger file. And as you can see the definition https://github.com/Azure/azure-rest-api-specs/blob/main/specification/compute/resource-manager/Microsoft.Compute/stable/2021-08-01/disk.json#L3044-L3057 for AccessUri here, and the response model that refers to AccessUri https://github.com/Azure/azure-rest-api-specs/blob/main/specification/compute/resource-mana

[2022-01-20 04:14] KarishmaGhiya commented on #16239
Verified that the results per page are 200 for the list feedback API, when we don't pass in the maxPageSize. Issue has been resolved from the service side.

[2022-01-20 04:14] #16239 closed

[2022-01-20 09:02] AlphaWong opened #19942 "Azure MySQL example is incorrect"
mysql2 example is incorrect
[code]
reference:
https://github.com/sidorares/node-mysql2/blob/master/documentation/Examples.md#connecting-over-encrypted-connection

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 130289e8-eb3a-f428-2282-1eced5119806
* Version Independent ID: 89da1874-5ca1-07e9-2a82-1

[2022-01-20 11:01] MichaelZp0 commented on #18386
I think this issue was fixed with this pull request here #18648.

[2022-01-20 11:55] MalcolmTyrrell commented on #18386
@ramya-rao-a @v-xuto : Apologies for not seeing this earlier. My team switched away from this product.

The client contacts the Mixed Reality STS service [via this SDK](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/mixedreality/mixed-reality-authentication), to get authenticated for using the remote rendering service. This introduces a little subtlety into the different ways the client i

[2022-01-20 15:11] BasiaMH commented on #19835
Hi, is there any update or further information on this problem?  Or a different workaround someone could suggest to somehow get the usage and cost per resource or per resource group?

Thanks

[2022-01-20 17:17] ajlam commented on #19942
Tagging @mksuni and @savjani

[2022-01-20 17:34] sabicd opened #19952 "Azure Form Recognizer client sdk fails to call the endpoint while deployed to an AWS Fargate Container"
- **Package Name**:[@azure/ai-form-recognizer]( https://www.npmjs.com/package/@azure/ai-form-recognizer)
- **Package Version**: 3.2.0
- **Operating system**: linux
- [ ] **nodejs**
    - **version**: 14.18.3
- [ ] **docker**
    - **version**:  20

**Describe the bug**
The form recognizer  API does not respond as expected while calling it from an AWS ECS Fargate container.
Using the SDK to handle

[2022-01-20 17:43] fizampou commented on #19581
Hello @kmusicman

Can you share your code how you are handling the subscriptions for

'videoStreamsUpdated' for every participant

and then for every stream that is added the 'isAvailableChanged' how do you handle the renders?

Have a look on the sample [here](https://github.com/Azure-Samples/communication-services-web-calling-tutorial) if needed.

[2022-01-20 18:28] malavika1 commented on #19730
This issue was caused by an auth blip in the test environment.

[2022-01-20 18:28] #19730 closed

[2022-01-20 18:30] malavika1 commented on #18434
This issue was fixed and is now passing on more recent runs.

[2022-01-20 18:30] #18434 closed

[2022-01-20 19:05] ramya-rao-a commented on #18386
Thanks for the clarification @MalcolmTyrrell!

The catch with providing examples for the different credential types is that we will always have newer credentials for newer scenarios and expecting each Azure SDK package to enumerate all would not be right.

So, in terms of credential usage, we would still recommend sticking to DefaultAzureCredential and then pointing to the `@azure/identity` readme

[2022-01-20 19:06] savjani commented on #19942
Adding @shreyaaithal to help as well

[2022-01-20 19:28] ramya-rao-a commented on #19883
Thanks for reporting and providing a repo that we can use to replicate the issue. We will look into this and get back soon

[2022-01-20 19:33] #17890 closed

[2022-01-20 20:03] jeremymeng commented on #19913
@witemple-msft is this the same issue that has been fixed in 3.15.1?

[2022-01-20 22:13] danieljurek commented on #19412
Duplicate of #19776

[2022-01-20 22:14] #19412 closed

[2022-01-21 01:36] jeremymeng commented on #19883
@MBurchard Thanks for the report!  The issue is that in the SDK we provide the convenience of auto-reconnecting when the connection is disconnected.  In this case we just keep retrying and getting the same errors.  It makes sense to have some delay between retries.  I will discuss this with the team and work on a solution.  Meanwhile, a workaround could be adding some delay in your `processError`

[2022-01-21 02:05] v-xuto commented on #18386
Close this issue, due to PR  #18648 merged.

[2022-01-21 02:05] #18386 closed, assigned to FlorianBorn71

[2022-01-21 03:57] sajeetharan commented on #19913
@jeremymeng Yes, correct. This will be fixed with the hotfix release version 3.15.1

We merged #19836 to correct this.

CC @witemple-msft

[2022-01-21 03:57] #19913 closed

[2022-01-21 03:58] sajeetharan commented on #18759
@ketangupta34 Just checking if there is any update!

[2022-01-21 04:02] #13344 closed

[2022-01-21 04:39] snuffykl opened #19977 "Azure Service Bus v7 maxMessageAutoRenewLockDurationInSeconds"
**Is your feature request related to a problem? Please describe.**
I wanted to upgrade from v1 to v7 of @azure/service-bus, however I've noticed I can't extend renewLockDuration in V7.

Our processing of messages might be longer & we want to extend the lockDuration of a message where in V1 this option can be define using property name **maxMessageAutoRenewLockDurationInSeconds**

**Describe the so

[2022-01-21 06:16] snuffykl commented on #19977
Close this as I found the property which is available during createReceiver.

[2022-01-21 06:16] #19977 closed

[2022-01-21 09:25] MBurchard commented on #19883
We have a delay in our solution. We throttle the output into the error log to only once per minute.

[code]

Nevertheless we see the high CPU usage because also the throttle is a calculation that needs to be done. So the laptop get's hot and wastes battery power...

[2022-01-21 13:24] FlorianBorn71 commented on #19030
This is due to a conversion service issue, where SAS tokens are parsed too strictly. This issue will be mitigate dwith our next release, still in January

[2022-01-21 13:24] FlorianBorn71 commented on #18335
This is due to a conversion service issue, where SAS tokens are parsed too strictly. This issue will be mitigate dwith our next release, still in January

[2022-01-21 13:25] FlorianBorn71 commented on #18335
can't add the 'tracking-external-issue' since my team membership approval is still pending

[2022-01-21 13:26] FlorianBorn71 commented on #19030
can't add the 'tracking-external-issue' since my team membership approval is still pending

[2022-01-21 15:36] joheredi commented on #19899
This problem can be reproduced when the `Edm.Double` value stored in the service has no decimals for example **123.0**

When the SDK retrieves the entity the service doesn’t send `odata.type` metadata about the type of the property. When parsing the response payload with JavaScript’s native JSON parser the **.0** gets lost. So when the SDK gets the chance to work with the data we are no longer abl

[2022-01-21 20:04] #19886 closed

[2022-01-21 20:33] benbp commented on #19886
Above PR has restored functionality. Passing pipeline: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1319218&view=results

[2022-01-21 20:49] youngbob opened #19994 "Incomplete documentation for ascLocation parameter of SecurityCenter client"
- **Package Name**: @azure/arm-security

- Is the bug related to **documentation** in
  - [x] README.md

**Describe the bug**

Unlike every other API client in the SDK, the SecurityCenter client in `@azure/arm-security` takes an additional required `ascLocation` parameter. The README.md file has the following example:

[code]

However, this will not actually work. The client will throw the error `

[2022-01-21 23:03] HarshaNalluru commented on #19617
Should be green now, with https://github.com/Azure/azure-sdk-for-js/pull/19957 :)

[2022-01-21 23:03] #19617 closed

[2022-01-22 00:45] jeremymeng opened #20000 "[test] `js - eventhubs-checkpointstore-table - tests` failing after upgrading `nyc` to v15"
running without nyc, or downgrading nyc to v14 make the test pass

Error message:

[code]

[2022-01-22 00:46] jeremymeng commented on #20000
Not seeing any related `nyc` [v15 breaking changes](https://github.com/istanbuljs/nyc/blob/master/CHANGELOG.md#-breaking-changes)

[2022-01-23 20:18] WeiJun428 commented on #15746
Hi, I would like to get some clarification on where to incorporate `eslint-plugin-markdown` plugin into the repo. Specifically, I am wondering whether should I put my config in `.eslintrc.json` or `azure-sdk-base.ts` in `eslint-plugin-azure-sdk`, or both? (I noticed they works on very different environment but I am unsure which is the right place to add the plugin)

[2022-01-24 02:26] v-jiaodi commented on #19730
The same issue reappears.
For more details check here: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1320096&view=results

[2022-01-24 03:15] v-jiaodi opened #20011 "[Data Tables] Access Policy operations should send a null AP failing in nightly runs"
Data Tables nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/tables/data-tables/test/public/accessPolicy.spec.ts:60:12)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1318346&view=results

[2022-01-24 03:15] v-jiaodi opened #20012 "[Storage - File Datalake] SAS generation Node.js only for delegation SAS GenerateUserDelegationSAS should work with agentObjectId failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

RequestId:83a77632-201f-0090-4580-0eabec000000
Time:2022-01-21T04:35:23.3448384Z
    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-http\src\policies\deserializationPolicy.ts:274:17)
    at D:\a\_work\1\s\sdk\core\core-http\src\policies\deserializationPolicy.ts:179:47
    at processTicksAndRejections (internal/process/task_queues.j

[2022-01-24 03:15] v-jiaodi opened #20013 "[Service Bus] ServiceBusClient live tests Random scheme in the endpoint from connection string failing in nightly runs"
Service Bus nightly test runs are failing with:

    at Object.should.equal (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/chai@4.3.4/node_modules/chai/lib/chai/interface/should.js:98:35)
    at testPeekMsgsLength (/mnt/vss/_work/1/s/sdk/servicebus/service-bus/test/public/utils/testutils2.ts:558:10)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queu

[2022-01-24 03:15] v-jiaodi opened #20014 "[Event Grid] Build test package failing in nightly runs"
Event Grid nightly test runs are failing with:

eventGridClient.spec.ts(59,38): error TS2322: Type 'import("/mnt/vss/_work/1/s/sdk/core/core-client/types/latest/core-client").FullOperationResponse' is not assignable to type 'import("/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/@azure+core-client@1.4.0/node_modules/@azure/core-client/types/latest/core-client").FullOperationResponse'.
eventGrid

[2022-01-24 11:37] joaomoreno opened #20024 "`@azure/identity` has `@types/stoppable` as a runtime dependency"
- **Package Name**: azure/identity
- **Package Version**: 2.0.1
- **Operating system**: all

**Describe the bug**

`@azure/identity` has `@types/stoppable` as a runtime dependency.

[code]

**Expected behavior**
There's no obvious reason why a `@types/*` package is a runtime dependency.

[2022-01-24 13:31] ketangupta34 commented on #18759
@sajeetharan
Please go through this Repo
[https://github.com/ketangupta34/pagination-in-cosmosdb](https://github.com/ketangupta34/pagination-in-cosmosdb)

I have tried to document everything in there

[2022-01-24 15:55] JesperJakobsen opened #20026 "@azure/arm-consumption - Issues on getting correct data - v9.0.0"
Hi,

I'm currently upgrading @azure/arm-consumption from 6.3.0 to 9.0.0, but I'm hitting issues on 9.0.0 that I'm not able to overcome.

I'm using the library in the following way:
[code]

My problem then comes in the form of missing information in the azBillingEntity, there is no information about the actual UsageDetails  there should be available on the response.

I've tried to use used the exac

[2022-01-24 16:13] m0sk1t opened #20027 "@azure/service-bus failed to build project due to dependency error"
- **Package Name**:
- service-bus (v7.4.0)
- core-amqp (v3.0.0)
- **Package Version**:
- current
- **Operating system**:
- Ubuntu Linux 16, MacOS BigSur, Windows 10
- [x] **nodejs**
    - **version**: 16.13.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.5.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [

[2022-01-24 16:26] maorleger opened #20028 "[Aggregate-reports] build failing in nightly runs"
Aggregate reports nightly builds are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1320119&view=results

[2022-01-24 17:13] sajeetharan opened #20030 "Support DedicatedGatewayRequestOptions and MaxIntegratedCacheStaleness"
[DedicatedGatewayRequestOptions](https://docs.microsoft.com/en-us/java/api/com.azure.cosmos.models.dedicatedgatewayrequestoptions?view=azure-java-stable) This ask is to release support for these APIs in the Node.js SDK.

**Feature Documentation :**

**Dedicated GateWay :** https://docs.microsoft.com/en-us/azure/cosmos-db/dedicated-gateway

**Integrated Cache :** https://docs.microsoft.com/en-us/az

[2022-01-24 17:13] maorleger commented on #19777
Closing this as no longer applicable

[2022-01-24 17:13] #19777 closed

[2022-01-24 18:35] schaabs opened #20031 "[Identity] fix casing of Troublshooting.md to match other top level md files"
The file name casing of https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/Troubleshooting.md doesn't match the convention of using all uppercase for top level md files, such as README.md and CHANGELOG.md.
- [x] Rename Troubleshooting.md to TROUBLESHOOTING.md
- [x] Update all references in the readme or other docs, as well as any aka.ms links.

[2022-01-24 18:46] deyaaeldeen opened #20032 "[Text Analytics] Support cancellation of the healthcare LRO operation"
Currently, `beginAnalyzeHealthcareEntities` return a poller with a default `cancel` method that sets the cancellation status of the poller to true but does not actually make a DELETE call to the service, see:
https://github.com/Azure/azure-sdk-for-js/blob/39f5c71321759f6694582720527dd897631747c5/sdk/core/core-lro/src/lroEngine/operation.ts#L123-L126

See design guidelines for LROs to learn more ab

[2022-01-24 19:54] deyaaeldeen commented on #15746
@WeiJun428 thanks for following up! [`azure-sdk-base.ts`](https://github.com/Azure/azure-sdk-for-js/blob/main/common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts) is the place for configuring 3rd party plugins so I believe this is what you're looking for. On the other hand, [`.eslintrc.json`](https://github.com/Azure/azure-sdk-for-js/blob/main/common/tools/eslint-plugin-azure-sdk/.e

[2022-01-24 21:29] #17999 closed

[2022-01-24 23:54] hivyas commented on #18976
Acknowledging

[2022-01-25 00:39] sadasant opened #20039 "[Identity] Add ClientClaimCredential"
Add `ClientClaimCredential`, to support OpenID Connect (OIDC).

More information:

- Protocol https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc
- Ensure you have the refdocs and exceptions covering this scenario -
In order to successfully request an ID token from the /authorization endpoint, the app registration in the registration portal must have the implicit gran

[2022-01-25 00:44] sadasant opened #20040 "[Identity] Allow specifying a user defined Managed Identity by Resource Id"
Addressing managed identities by ID requires storing them as configuration. However, their resource IDs can be derived by convention. ManagedIdentiyCredential should accept this ResourceID as well as the ClientId.

- Related (.NET): https://github.com/Azure/azure-sdk-for-net/issues/24249
- Related (.NET): https://github.com/Azure/azure-sdk-for-net/issues/20651
- .NET’s PR: https://github.com/Azure

[2022-01-25 00:47] sadasant commented on #20040
Add `resourceId` to the `ManagedIdentityCredentialOptions`, and `managedIdentityResourceId` to the `DefaultAzureCredentialOptions`. Make sure this property is properly used in the outgoing requests.

[2022-01-25 01:03] nturinski opened #20042 "@azure/arm-appservice WebManagementClient.containerApps.listSecrets function doesn't accept rgName parameter"
- **@azure/arm-appservice*:
- **11.0.0*:
- **Windows 11*:

**Describe the bug**
The webClient.containerApps.listSecrets(name) doesn't accept a resource group name property which results in this error when called:
`"The Resource 'Microsoft.Web/containerApps/app1' under resource group '<null>' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"`

**To Reproduce**
Step

[2022-01-25 01:31] jeremymeng commented on #20027
From the linked issue, it looks that rhea 2.0.8 fixes this.

[2022-01-25 04:04] KarishmaGhiya opened #20054 "[Monitor Query] Track the logs for failing monitor query service timeout test over a month"
The monitor query service timeout tests only fail intermittently on the CI, in different env but mostly ubuntu or mac. Unable to reproduce this locally. This was the original issue - https://github.com/Azure/azure-sdk-for-js/issues/19314 and logging has been enabled here - https://github.com/Azure/azure-sdk-for-js/pull/19963
Purpose of this issue is to track and monitor the logs on the nightly bui

[2022-01-25 04:06] #19314 closed

[2022-01-25 04:06] sadasant commented on #20024
Thank you, @joaomoreno ! I’ll clean this up asap.

[2022-01-25 04:09] KarishmaGhiya commented on #19314
The test on server timeout expects the error object to be in a particular shape. And we throw an error if the error object doesn't have the details property. The mismatch in the error object shape happens on the CI, sometimes on varied environments - sometimes mac/ ubuntu and once happened on windows in the live test pipelines. I am unable to reproduce this error locally.

I have updated the logic

[2022-01-25 08:02] #19495 closed

[2022-01-25 15:08] DominikMe commented on #15814
@RoyHerrod Is your team working on migrating the Sms package to Core v2?

[2022-01-25 15:13] DominikMe commented on #15814
@Azure/acs-identity-sdk @petrsvihlik Is the identity team working on migrating to Core v2?

[2022-01-25 15:15] DominikMe opened #20056 "Migrate communication-common auth policies to Core v2"
This is a dependency for #15814, please follow links in the issues to learn about the Core v2 migration effort.

The HMAC credential policy code in the common package needs to be migrated to the new core-rest interfaces. Once that is done, the consumers of ACS HMAC auth need to consume the new pipelines when doing their migration.

These consumers are `communication-phone-numbers`, `communication-

[2022-01-25 15:36] petrsvihlik commented on #20056
@DominikMe thanks for the heads up. we'll track it and process it soon (ADO ref: https://skype.visualstudio.com/SPOOL/_workitems/edit/2707328)

[2022-01-25 16:33] maorleger opened #20057 "locale (en-us) links go undetected in source code"
I was looking into any instances where we have a locale link (en-us in the URL) and noticed that there are many such links in source code. I know our aggregate pipelines currently detect and warn against such links in markdown files (with a warning: DO NOT include locale /en-us/ information in links) - I believe it's a miss that we currently do not validate source code, although maybe there are te

[2022-01-25 16:56] weshaggard commented on #20057
We have a similar issue in .NET repo https://github.com/Azure/azure-sdk-for-net/issues/22216

The biggest issue is we don't have a great way to find all the links in a JS file. Parsing the entire text and looking for links might be overkill as there might be lots of code that looks like it is a link but isn't. If you can help come up with a strategy that allows us to find the list of links we coul

[2022-01-25 17:27] sadasant commented on #6484
I haven’t seen updates on https://github.com/Azure/azure-sdk-for-js/issues/15809 , so I’m moving this to the next milestone.

[2022-01-25 17:51] maorleger commented on #20013
@v-xuto I updated the assignee spreadsheet just FYI - service bus and event hubs test issues can be assigned to @jeremymeng

[2022-01-25 18:01] witemple-msft commented on #19952
@sabicd Could you provide an example of which calls you were using and with whether you are using a URL request (e.g. `FromUrl` methods) or uploading a file body as a stream?

Just to clarify: this is about a Form Recognizer client application that is deployed inside of an ECS container, but is contacting the public Form Recognizer service at cognitiveservices.azure.com?

[2022-01-25 18:03] witemple-msft commented on #19952
Given that the linked error seems like it's from a Python caller I'm going to forward this issue to the Python SDK team and the service team as well. This is likely something that we will need their help to investigate.

[2022-01-25 18:04] joheredi commented on #20011
Fixed with #20035

[2022-01-25 18:04] #20011 closed

[2022-01-25 18:31] jeremymeng commented on #20057
We could probably do some minimum work via eslint rule? like matching strings having both `https://docs.microsoft.com/` and `en-us`

[2022-01-25 18:34] maorleger commented on #20028
Hi @qiaozha I wanted to bring this to your attention. there are a few issues here so I'll try to provide an explanation for each one as I understand it.

The first refers to a link verification check we run against main. It detected a locale link (link containing language/region - en-us in this case) which we generally avoid. I believe this is the link https://github.com/Azure/azure-sdk-for-js/blo

[2022-01-25 18:37] maorleger commented on #20057
@jeremymeng I think that's a great idea! it'll be flagged in PRs and easy to skip per-line due to any false-positives. Although I would say anything with `http:.*/en-us/.*` we can flag as we have many MDN links which also can contain locale information

[2022-01-25 19:11] weshaggard commented on #20057
As part of our builds don't we produce the ref docs as html? If so we could pass the output of that directory to our link verification script that should flag any issues with the links in the generated documentation.

[2022-01-25 19:17] maorleger commented on #20057
@weshaggard we do produce ref docs in PR builds 👍 do you think something like this would be feasible then?

Example: https://dev.azure.com/azure-sdk/public/_build/results?buildId=1322757&view=artifacts&pathAsName=false&type=publishedArtifacts where I pulled docs under packages -> {package-name} -> documentation

[2022-01-25 20:47] deyaaeldeen opened #20061 "[Schema Registry Avro] Improve the encoder according to architects feedback"
It has been recommended by the messaging architect that the encoder should produce and consume messages that customers can send and receive directly using their favorite messaging service.

[2022-01-25 21:01] deyaaeldeen opened #20062 "[Schema Registry Avro] Add backward compatibility"
Versions 1.0.0-beta.5 and below of the encoder encodes values into a buffer with a preamble format. Subsequent versions of the encoder are producing and consuming messages with encoded payload instead. However, the newer decode method should be able to decode messages with the payload that was created using earlier versions of the encoder.

This backward compatibility will help our customers trans

[2022-01-25 21:02] deyaaeldeen opened #20063 "[Schema Registry Avro] Remove backward compatibility in the first stable release"
In the first stable release of the encoder, we expect customers to encode and decode messages that have been created by that stable encoder so the backward compatibility with beta.5 and earlier added in https://github.com/Azure/azure-sdk-for-js/issues/20062 should be removed.

[2022-01-25 21:05] deyaaeldeen opened #20064 "[Schema Registry Avro] Update cache policy to be LRU with max 128 entries"
This cache policy was proposed by the SDK archboard as a starter policy for now in https://github.com/Azure/azure-sdk-for-js/issues/17697.

[2022-01-25 21:23] azure-sdk opened #20065 "Dependency package rhea has a new version available"
We have identified a dependency on version 2.0.8 of rhea. A new version (3.0.2) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package (/sdk/servi

[2022-01-25 22:14] KarishmaGhiya commented on #18972
@danieljurek Is this spelling error found in other languages too for this library?

[2022-01-25 22:16] KarishmaGhiya opened #20068 "Developer Customer Support needs an Azure Identity Trouble Shooting Guide"
Feature: Developer Customer Support needs an Azure Identity Trouble Shooting Guide (TSG) for JS

Update Language-specific sections of TSG (Azure Identity OneNote) and participate in CSS recorded brownbag session
TSG will be localized into multiple languages; ensure writing is easily translatable.

- [x] Make sure to check that we don't have authenticationrequirederror for cases where there is an i

[2022-01-25 22:18] #19791 closed

[2022-01-25 22:29] weshaggard commented on #20057
Yes I do think that is possible and worth a try. See https://github.com/Azure/azure-sdk-for-js/blob/main/eng/pipelines/templates/steps/analyze.yml#L38 where we verify the links of the MD files. We should be able to have a similar step that points to the ref docs output and runs across those files.

[2022-01-25 22:55] joheredi commented on #19138
Unfortunately we won't be able to upgrade to v3 in the short term. The reason as @jeremymeng mentioned before, is because node-fetch v3 dropped support on commonjs modules. In order to migrate we'd need to make our packages ESM-only which we are not ready to do at the moment.

There seems to be a big number of community members impacted by the commonjs drop in node-fetch (for reference: node-fetch

[2022-01-25 22:55] #19138 closed

[2022-01-25 23:01] joheredi commented on #19231
Unfortunately we won't be able to upgrade to **v3** in the short term. The reason is that node-fetch v3 dropped support on commonjs modules. In order to migrate we'd need to make our packages ESM-only which we are not ready to do at the moment.

There seems to be a big number of community members impacted by the commonjs drop in node-fetch (for reference: node-fetch/node-fetch#1263)

@praveenkutta

[2022-01-25 23:01] sadasant commented on #20068
Don’t we have a troubleshooting guide already? What does this issue mean for us?

[2022-01-25 23:02] joheredi commented on #19165
Version 3.0.3 is deprecated we should stay in the 2.x.x range. @praveenkuttappan is there any way to have the automation tool to only check for new version in the 2.x.x range for this package?

[2022-01-25 23:19] ansrin commented on #19704
@mwerghemmi , thanks for providing the token./
Like I suspected this token doesnt contain the meeting data because the underlying call is a group call ( and not a Teams meeting ) and hence cannot be used by a ACS user to join.
If you have a business use case for ACS user and Teams user to participate in same call, then I would recommend going via  the Teams (scheduled/adhoc )meeting interop with A

[2022-01-25 23:19] #20024 closed

[2022-01-25 23:51] jeremymeng commented on #19231
We will only log issues for available major version updates. v2.x.x will be auto updated when our automation do `rush update --full`.

We could move this to backlog then check back in the future.

[2022-01-25 23:56] jeremymeng commented on #19138
@cthakor just want to point out that @types/node-fetch@2.5.12 is not tagged as deprecated on npmjs.org. Only version 3.0.3 is.

[2022-01-26 00:02] deyaaeldeen opened #20072 "[Schema Registry Avro] Consider wrapping avsc errors"
`@azure/schema-registry-avro` depends on `avsc`, a third party package for Avro encoding, and it throws exceptions in certain cases. If in the future we decide to switch away from `avsc` to some other library, `@azure/schema-registry-avro` will be throwing new and different exceptions.

To get around this issue, consider wrapping `avsc` exceptions in `@azure/schema-registry-avro` exceptions so tha

[2022-01-26 00:03] deyaaeldeen commented on #18608
Closing this in favor of https://github.com/Azure/azure-sdk-for-js/issues/20072 and https://github.com/Azure/azure-sdk-for-js/issues/20064

[2022-01-26 00:03] #18608 closed

[2022-01-26 00:04] deyaaeldeen commented on #17697
Closing this in favor of https://github.com/Azure/azure-sdk-for-js/issues/20064

[2022-01-26 00:04] #17697 closed

[2022-01-26 00:35] alexweininger commented on #19231
@joheredi Do you have long term plans to migrate to v3 and make the SDK packages ESM-only?

[2022-01-26 01:42] #20061 closed

[2022-01-26 02:20] EmmaZhu commented on #19888
Hi @JasonPan ,

Current behavior is by design. The directory concept is for Datalake, blob are all flat, so we don't support directory operations on blobs.

Thanks
Emma

[2022-01-26 02:24] EmmaZhu commented on #15044
Hi @ralphie97 ,

It's not changed before, but not guarantee to not change in the future.

Thanks
Emma

[2022-01-26 02:40] EmmaZhu commented on #18117
Hi @himadrinath ,

Did you see consistently memory usage increasing in the operation?

Thanks
Emma

[2022-01-26 03:48] colawwj commented on #20042
@nturinski
We can repro this issue in my local,and found it's also not add resourceGroup in [swagger reference](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/ContainerApps.json#L263)
When we try to add resourceGroup in refenerce and regenerate the sdk,it's still not return anything in my test.
![image](https://user-images

[2022-01-26 05:14] EmmaZhu commented on #14797
https://github.com/Azure/azure-sdk-for-js/pull/20074

[2022-01-26 05:15] EmmaZhu commented on #8163
https://github.com/Azure/azure-sdk-for-js/pull/20073

[2022-01-26 05:20] EmmaZhu commented on #14876
https://github.com/Azure/azure-sdk-for-js/pull/15364

[2022-01-26 06:45] himadrinath commented on #18117
It's resolved it's not because of sdk their is some bug in pm2 cluster mode it's not releasing memory. Thanks

[2022-01-26 06:46] #18117 closed

[2022-01-26 07:43] v-jiaodi opened #20078 "Azure Tables Sample Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/tables/data-tables/samples/v13/javascript/generateTableSAS.js#L51), [link2](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/tables/data-tables/samples/v13/javascript/generateTableSAS.js#L81), [link3](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/tables/data-tables/samples/v13/typescript/src/generateTableSA

[2022-01-26 08:11] qiaozha commented on #19835
@BasiaMH Hi, Since this is probably an issue on the service side, Could you open a ticket here https://docs.microsoft.com/en-us/answers/topics/azure-cost-management.html so that you can get direct support from the service team ?

[2022-01-26 08:15] qiaozha commented on #19994
@youngbob Hi, Thanks for reporting this, we are still trying to figure out whether it's appropriate to put the ascLocation parameter as part of the client constructor signature. If it turns out indeed should put it here, we will update the code snippet in our readme.md later.  If it's not, then we probably should release a new version.

[2022-01-26 09:23] EmmaZhu commented on #14224
https://github.com/Azure/azure-sdk-for-js/pull/20079

[2022-01-26 09:23] EmmaZhu commented on #14229
https://github.com/Azure/azure-sdk-for-js/pull/20079

[2022-01-26 09:23] qiaozha commented on #20028
Thanks @maorleger for telling me these useful information.

For the first one, it actually comes from the description of service swagger https://github.com/Azure/azure-rest-api-specs/blob/main/specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/deploymentmanager.json#L6.

For the next few items about the inappropriate terms, actually they are all

[2022-01-26 14:48] joheredi commented on #19231
@bterlson should be able to comment about the long-term plans for ESM-only packages in this repo.

[2022-01-26 15:20] JesperJakobsen commented on #20026
Just to add some context, the JSON I'm getting back from the code above are in the following format.

[code]

So it's basically missing all the useful information in the JSON object, as far as I can see I'm only getting `UsageDetail` and not the full `LegacyUsageDetail`.

[2022-01-26 15:57] angular-git-user opened #20081 "ServiceBus connection disconnects silently after remaining idle for certain hours/days"
- **@azure/service-bus**:
- **7.3.0**:
- **Operating system**: Windows/Linux/Ubuntu
- [ ] **nodejs**
    - **14.X.X**:
- [ ] **browser**
    - **N/A**:
- [ ] **typescript**
    - **4.X.X**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The service bus connection disconnects s

[2022-01-26 15:58] jmiguel77 opened #20082 "cannot create container because the partition key is invalid"
I am using the 3.15.1 version of the SDK; when trying to create a new container without specifying the partition key i get this error

`Partition key path /_partitionKey is invalid for MongoDB API`

If i define a partition key with this info

`partitionKey: {kind: 'Hash', paths: ['/documentType']}`

i get this error

`Partition key path /documentType is invalid for MongoDB API`

I cannot create an

[2022-01-26 16:12] danieljurek opened #20083 "Consider onboarding packages in the docs.ms ToC to docs.ms"
Following packages are listed in the old docs.ms ToC but not in the package onboarding. That is, no documentation was being built for these packages but if it was these packages would have a place in the ToC.

Packages:

[code]

[2022-01-26 16:44] maorleger commented on #20028
Sure, glad it was helpful!

I wonder if that needs to change - would it be possible to contact the service team and ask?

With Policheck the context is very important - there are many false positives. Looking at this here, it seems to refer to positioning and can be left unchanged. The other ones are suspected false positives too - FFS is part of a base64 encoded string and _not_ the abbrevation o

[2022-01-26 18:24] #19725 closed

[2022-01-26 20:26] ramya-rao-a commented on #20078
@joheredi If you agree with the recommendation here, then @v-jiaodi can send a PR to fix this

[2022-01-26 21:55] sima-zhu opened #20588 "Cleanup JS credscan baseline errors"
It is clean up the errors in Js aggregate reports before enable the credscan in PR

[2022-01-26 22:21] deyaaeldeen opened #20086 "Move `MessageAdapter` interface to a central place to be imported from"
[`MessageAdapter`](https://github.com/Azure/azure-sdk-for-js/blob/c7024562e97b1643fe3a0928863216ff84fc93f6/sdk/schemaregistry/schema-registry-avro/src/models.ts#L22) is an interface meant to be implemented by all messaging packages (Event Hubs, Service Bus, and Event Grid at least). The implementing objects are meant to be used with the Schema Registry Avro encoder. Currently the encoder and Event

[2022-01-26 22:26] ramya-rao-a opened #20087 "Update rush from 5.55.1 to the latest version"
We are currently using 5.55.1 of rush that pulls in a few packages that have security vulnerabilities. Please refer to the guide at [update rush version](https://github.com/Azure/azure-sdk-for-js/wiki/Rush#upgrade-to-a-newer-version-of-rush) to move to the latest version

[2022-01-26 22:42] witemple-msft commented on #16452
Given that we don't have a concrete resolution to this I am going to experiment with the new recorder and remove test-reliability from this issue.

[2022-01-26 22:45] witemple-msft commented on #18749
Closing in favor of #19604. Form Recognizer is currently a beta package targeting a preview REST API, so some amount of noise around service deployments and large changes is expected, but we'll continue to track issues with the Form API in the newest issue until they are resolved.

Thank you!

[2022-01-26 22:45] #18749 closed

[2022-01-26 22:45] witemple-msft commented on #18333
Closing in favor of #19604. Form Recognizer is currently a beta package targeting a preview REST API, so some amount of noise around service deployments and large changes is expected, but we'll continue to track issues with the Form API in the newest issue until they are resolved.

Thank you!

[2022-01-26 22:45] #18333 closed

[2022-01-27 00:34] #19453 closed

[2022-01-27 02:27] praveenkuttappan commented on #19165
Automation is filing issue based on rush update output. We don't have control at package level.

[2022-01-27 03:31] v-jiaodi commented on #19546
This issue reappears.
For more details check here: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1328311&view=results

[2022-01-27 04:03] v-jiaodi opened #20092 "[Communication - Phone Numbers] PhoneNumbersClient - lro - search throws on invalid search request failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/communication/communication-phone-numbers/test/public/lro.search.spec.ts:69:16)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1327831&view=results

[2022-01-27 04:03] v-jiaodi opened #20093 "[Storage - Queue] Execute Samples failing in nightly runs"
Storage - Queue nightly test runs are failing with:

Options:
  --help	<boolean> display this help message
COMMAND indicates the subcommand to be run. It can be one of the following:
  test:node-ts-input	runs the node tests using mocha with the default and the provided options; starts the proxy-tool in record and playback modes
  test:node-js-input	runs the node tests using mocha with the default

[2022-01-27 04:03] v-jiaodi opened #20094 "[Aggregate-reports] Link verification check failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

![image](https://user-images.githubusercontent.com/80496810/151289326-9982391c-c589-4e0f-b98b-c7f303436b9c.png)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1326164&view=results

[2022-01-27 04:14] EmmaZhu commented on #14742
https://github.com/Azure/azure-sdk-for-js/pull/20095

[2022-01-27 05:54] EmmaZhu commented on #20093
https://github.com/Azure/azure-sdk-for-js/pull/20097

[2022-01-27 06:23] KarishmaGhiya commented on #19546
This seems to be failing on API key now

[2022-01-27 06:30] EmmaZhu commented on #8163
Just fixed the issue, the fix will be included in the next release.

[2022-01-27 06:30] #8163 closed

[2022-01-27 06:35] shreyaaithal commented on #19942
Hi @AlphaWong , thanks for calling this out. The reference example has been corrected.

[2022-01-27 08:02] #10186 closed

[2022-01-27 16:02] lirenhe commented on #20028
@qiaozha, I believe Swagger team cleanup all the potential issues for credscan about a year ago, but from the API version of the file, this seems to be a new issue. We need to double check whether credscan is running for each PR in Swagger Repo.
And last time, the suggestion from security team is to use a place holder for the secret, so this issue should be fixed in Swagger repo

[2022-01-27 16:05] maorleger commented on #20028
@lirenhe do you know if there's a list of commonly used placeholders in the swagger repo somewhere? I'd like to see how it compares to the ones we keep in our various SDK repos

[2022-01-27 17:36] joheredi commented on #20078
Yes, this is a great suggestion! @v-jiaodi feel free to send out a PR and I'll be happy to review!

[2022-01-27 18:16] Sandido commented on #17499
I'll let @qiaozha continue with this and involve someone from the JS SDK team for better input.
I don't know why the JS code indicates accessSAS should be a top level property. The swagger file for disk.json defines the accessSAS property response as being within a [Properties](https://github.com/Azure/azure-rest-api-specs/blob/30fca88fa23112e4296322f38610e02da522d390/specification/compute/resourc

[2022-01-27 18:28] Sandido commented on #17499
Perhaps this is an Autorest issue that occurs in the SDK generation for JS.

[2022-01-27 18:43] #19942 closed

[2022-01-27 18:47] danieljurek commented on #19776
@ramya-rao-a -- JS is the first customer for automated ToC generation. I've made some changes to the ToC layout and metadata, who can help us sign off on these changes?

Since this information is backed by the [Metadata CSV](https://github.com/danieljurek/azure-sdk/blob/add-js-docsms-toc-packages/_data/releases/latest/js-packages.csv) we can always change it going forward.

Preview: https://review

[2022-01-27 19:08] timovv opened #20101 "[Unified recorder] Unit tests for sanitizers"
The new sanitizer code is more compartmentalized and therefore testable. We should consider adding some unit tests.

Cc: @HarshaNalluru @sadasant

[2022-01-27 19:14] alcail opened #20102 "[communication][package update][bot security alert] Need to update node-fetch to version 2.6.7 or later"
- **Package Name**: @azure/communication-identity
- **Package Version**: 1.1.0-beta.1
- **Operating system**:
- [x] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Ou

[2022-01-27 20:13] alcail commented on #20102
nevermind, removing package-lock.json and node_modules to do a clean npm install in our repo fixed the package version of node-fetch.
Closing this issue

[2022-01-27 20:13] #20102 closed

[2022-01-27 20:14] maorleger commented on #20094
Thank you for monitoring this pipeline for us! A few days ago I opened https://github.com/Azure/azure-sdk-for-js/issues/20028 which covers this failure and a few others, so I am going to close this as duplicate. I went ahead and updated the tracking spreadsheet to point to https://github.com/Azure/azure-sdk-for-js/issues/20028 instead of this.

Thank you again!

[2022-01-27 20:14] #20094 closed

[2022-01-27 20:53] #19809 closed

[2022-01-27 20:59] #19857 closed

[2022-01-28 00:24] KarishmaGhiya commented on #17563
@deyaaeldeen @ramya-rao-a We did not run the Metrics Advisor tests on Sovereign or US Gov, I don't think the service team expected any customers using these clouds.

[2022-01-28 00:33] davidemontanari opened #20107 "[@azure/search-documents] Expose additional headers in Search API response object"
**SDK**: https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/search/search-documents/

**Is your feature request related to a problem? Please describe.**
This is about improving the search API troubleshooting. When executing search requests, the headers coming from the API response are not exposed in the response object returned by the SDK.

**Describe the solution you'd like**
When executin

[2022-01-28 00:48] qiaozha commented on #17499
@Sandido I don't think there's anything wrong in the SDK generator for JS for this issue. According the issue and above comment, there's a clear inconsistency between **the swagger response definition** and **the live traffic response** and SDK response type is always the same with the swagger definition, if you think the live traffic response we get is the correct one, then you should fix the swg

[2022-01-28 03:39] lirenhe commented on #20028
The suggestion from security team is 'To clean up the code, I would recommend replace it with [PLACEHOLDER]. So, everyone knows they are fake credential.'

@ruowan , could you help to answer the question from  @maorleger?

[2022-01-28 09:53] ruowan commented on #20028
The swagger examples are contribute by service team, there are various placeholder like <secret>, <clientSecert>, [secret],etc.

Currently, we don't have a list for secret placeholder.

Btw, every PR in swagger running credential scan. For this example file, it actually passed credential scan. https://github.com/Azure/azure-rest-api-specs/pull/16933.

How do we fix this issue? update swagger examp

[2022-01-28 13:47] ketangupta34 commented on #18759
@sajeetharan any updates on this or if you need anything?

[2022-01-28 18:23] heaths opened #20121 "Add TROUBLESHOOTING.md for sdk/keyvault"
Add a TROUBLESHOOTING.md file (case-sensitive for consistency) to sdk/keyvault and/or package directories. You can use Azure/azure-sdk-for-net#26636 as a template. Feel free to copy whatever you want, but please be sure to change anything that is language- or SDK-specific.

For .NET I decided to have a single TSG inside the service directory and link bacvk to it from each package since most troubl

[2022-01-28 18:39] kevintechie commented on #19231
Please consider updating to patch v2.6.7 to address high vulnerability issue per: https://github.com/advisories/GHSA-r683-j2x4-v87g

Update seems more urgent now.

[2022-01-28 21:08] #19546 closed

[2022-01-28 21:36] #20064 closed

[2022-01-28 22:19] #19581 closed

[2022-01-28 22:20] fizampou commented on #19581
Closing it, Please comment if issue still persists to investigate it.

[2022-01-28 22:50] #20087 closed

[2022-01-28 22:55] joheredi commented on #19231
We already updated to 2.6.7. Also since our dependency on node-fetch is a caret one, running npm update on your side would get you the latest version 2.6.7 without core-http releasing a new version

[2022-01-28 23:15] ellismg commented on #19483
These tests are passing now.

[2022-01-28 23:15] #19483 closed

[2022-01-28 23:36] chidozieononiwu commented on #20028
I have fixed up all PoliCheck issues for JS.

Regards

----------------------------------------------------------------------------
Chidozie J. Ononiwu | Azure SDK Engineering Systems

From: Ruoxuan Wang ***@***.***>
Sent: Friday, January 28, 2022 1:54 AM
To: Azure/azure-sdk-for-js ***@***.***>
Cc: Dozie Ononiwu ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-js] [Aggregate-re

[2022-01-28 23:43] ramya-rao-a commented on #19277
Closing in favor of #19157

[2022-01-28 23:43] #19277 closed

[2022-01-29 01:55] #20014 closed

[2022-01-29 01:58] EmmaZhu commented on #16987
I tried to repro the issue with downloading a 14MB blob with following code:
[code]

Tried several times, but didn't encounter a hang.

@AyushG25 , did you try with upgrade node-fetch? Can this mitigate your issue?

Thanks
Emma

[2022-01-29 02:07] #14955 closed

[2022-01-29 02:10] EmmaZhu commented on #15539
It's not a SDK issue. Close this issue. Any further assistant needed, please feel free to reopen it.

[2022-01-29 02:10] #15539 closed

[2022-01-29 02:17] KarishmaGhiya commented on #19026
@kasobol-msft We don't create sample sources, they were provided to us by the service team. They consist of time series metric data. I am adding a bullet point about doing data ingestion through the data sources as a prerequisite and linking that to the service doc.

[2022-01-29 05:54] baoj-dfo commented on #12967
1) can't a trivial example "here"  <------- can't open the url
2) https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4455

@maorleger , I desperately need access key vault's secretes/keys/certificates  name list at least from browser app without any server-side effort

[2022-01-29 06:04] winterAndvelvet opened #20131 "[ServiceBus]queue client (receiver/sernder)close hang"
- **Package Name**: azure/service-bus
- **Package Version**: 7.4.0
- **Operating system**:linux debian
- [ ] **nodejs**
    - **version**: 14.15.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A

[2022-01-30 03:04] EmmaZhu commented on #18799
Thanks @jeremymeng for the suggestions.

I tried the way you mentioned, the plain text would work fine for `BlobClient.generateSasUrl()` after the change.

We also have interface `generateBlobSASQueryParameters` which still requires to know the exact permission type and doesn't work with plain text.  To support plain text in interface `generateBlobSASQueryParameters`, we'd need to change interface

[2022-01-30 03:50] AyushG25 commented on #16987
We changed our approach instead of streaming data directly from blob storage, now we are downloading the file and then processing it. We could not figure out the RCA.

[2022-01-30 05:20] v-yilinhu opened #20134 "[Communication - Phone Numbers] PhoneNumbersClient - lro - update [AAD] can update a phone number's capabilities failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1330342&view=results

[2022-01-30 05:34] v-yilinhu opened #20135 "[Monitor - Opentelemetry Exporter] Test OpenTelemetry Versions - Monitor failing in nightly runs"
Monitor - Opentelemetry Exporter nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1332233&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1335124&view=results

[2022-01-30 05:40] v-yilinhu opened #20136 "[OpenTelemetry Instrumentation] Rush update failing in nightly runs"
OpenTelemetry Instrumentation nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1333973&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1330946&view=results

[2022-01-30 05:44] v-yilinhu opened #20137 "[Search Documents] Build test package failing in nightly runs"
Search Documents nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1335663&view=results

[2022-01-30 07:41] zedy-wj commented on #18680
@maorleger - We reproduced this issue on China cloud, it looks unstable.

The latest tests in pipeline at [here](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1335168&view=logs&j=149ff929-ae3e-5798-4c4c-c63ffdf0fcef&s=609b77cc-9f2f-5028-c6f6-006040ed284b&t=bf3db483-2ae8-5b9f-7f66-7db9cee7b3e4&l=167).

**Error Message**: Timeout of 350000ms exceeded. For async tests and hooks, ens

[2022-01-30 17:31] Rantoledo opened #20138 "Can't use pagination \ continuation token with new ResourceManagementClient"
- **Package Name**: @azure/arm-resources
- **Package Version**: 5.0.0
- **Operating system**: linux

**Describe the bug**
Can't use pagination \ continuation token with the new ResourceManagementClient.
I used to get all tags from my resources using a pagination token. Now when I upgraded my package to 5.0.0 I can't figure out how to do that.
He's my function that worked before 5.0.0 came out:

[c