[2020-02-14 18:27] jeremymeng commented on #7296
Closing as the issue is fixed.

[2020-02-14 18:27] #7296 closed

[2020-02-14 18:29] jeremymeng commented on #5873
@nastia723 We just release a new version of the @azure/storage-blob package v12.1.0.  Please give it a try and let us know whether it resolves the issue you are seeing.

[2020-02-14 18:31] jeremymeng commented on #5764
Reopened #5873 to keep communication with customer.  Closing this with #7298

[2020-02-14 18:31] #5764 closed

[2020-02-14 21:05] sadasant opened #7402 "[Recorder] Do not use any"
We use `any` on several places in the recorder. Let's not use any.

Here's some context: https://github.com/Azure/azure-sdk-for-js/pull/7254#discussion_r379632581 (also, other comments on this PR might be relevant.

[2020-02-14 21:14] sadasant opened #7403 "[KeyVault] Document that "csr", "x5c", and "cer" are base64-encoded"
These properties use base64-encoded. We should be clear about that.

[2020-02-14 22:44] #7077 closed

[2020-02-15 01:49] heaths opened #7407 "Importing PEM-encoded certificates may not work"
While fixing azure/azure-sdk-for-net#9963, I found that we are base64-encoding PEM files but, despite the parameter name and description in swagger, the service expects PEM files as plain strings. On top of that, we don't know how the developer encoded the PEM file so we can't correctly decode it unless we ask or, instead, add a string overload and handle encoding/decoding internally ourselves.

[2020-02-15 05:49] cx5168 opened #7408 "get a listblobs by the container have a error"
"@azure/storage-blob": "^12.0.2"

let iter = await containerClient.listBlobsFlat();
for await (const blob of iter) {}

errormessage:
InvalidUri: The requested URI does not represent any resource on the server.

have any way?

[2020-02-15 06:05] jeremymeng commented on #7408
@cx5168 could you please share more details on how you created the containerClient?

[2020-02-15 08:39] cx5168 commented on #7408
@jeremymeng  the container already exists.
this is my source:
const {
    BlobServiceClient,
    StorageSharedKeyCredential,
    newPipeline
} = require('@azure/storage-blob');
const sharedKeyCredential = new StorageSharedKeyCredential(Constants.StorageAccountName, Constants.StorageAccountAccessKey);
const pipeline = newPipeline(sharedKeyCredential);
const blobServiceClient = new BlobServiceClient

[2020-02-16 08:04] changlong-liu commented on #7342
Add service team attention here.
A constraint [ minLength>0 for "AutomationAccountNameParameter" ] should be defined in swagger to prevent this happen.

[2020-02-16 08:26] jiacfan commented on #7408
Hi, @cx5168

Would you please check if the StorageBlobUrl and containerName is valid? Possibly, please concat StorageBlobUrl with containerName, and see if the url is accessible, e.g. with tool [Storage explorer](https://azure.microsoft.com/en-us/features/storage-explorer/).

A valid container URL may look like:
`https://testaccount.blob.core.windows.net/atestcontainer01`

Thanks,
Jiachen

[2020-02-16 08:48] cx5168 commented on #7408
@jiacfan
the file was uploaded and downloaded from the site by the same url. it is successed!
so, i think the url is valid.

[2020-02-16 08:57] cx5168 commented on #7408
my debug result:

[2020-02-16 12:58] nastia723 commented on #5873
Thanks so much, Bterlson,  jeremymeng.
I upgrade my Meteor from 1.8 to 1.9.
Then that works. If there are any problems. I will ask for you.
Thanks again.

[2020-02-16 17:34] jeremymeng commented on #7408
Could you double check to ensure that the url passed to ContainerClient is not the url to the blob? I.e., the url doesn't include a blob name

[2020-02-16 19:04] jeremymeng commented on #5873
@nastia723 Glad to know that it works!  I am closing this issue.

[2020-02-16 19:04] #5873 closed

[2020-02-17 01:25] cx5168 commented on #7408
@jeremymeng
my url is [const StorageBlobUrl = `https://${StorageAccountName}.blob.core.windows.net`;].

[2020-02-17 08:31] jiacfan commented on #7408
Hi, @cx5168

Would you share the requestId for the request? If there is more details in the error, please provide them to us. I can help to check what it looks like in service side.

Thanks,
Jiachen

[2020-02-17 09:23] cx5168 commented on #7408
Error: ﻿<?xml version="1.0" encoding="utf-8"?>
<Error><Code>InvalidUri</Code><Message>The requested URI does not represent any resource on the server.
RequestId:1d15b074-701e-0003-4b73-e58334000000
Time:2020-02-17T09:19:16.8345215Z</Message></Error>

but, Each request ID is different. Are you talking about this?

[2020-02-17 10:48] ljian3377 opened #7415 "[storage] browser tests ignoring .only"
browser tests always run with the whole set of test cases, ignoring the `.only`.

[2020-02-17 11:53] ljian3377 commented on #7415
My bad. `.only` is added to node only tests. So browser tests have to run all cases.

[2020-02-17 11:53] #7415 closed

[2020-02-18 04:06] #6117 closed

[2020-02-18 19:35] HarshaNalluru commented on #7158
Closing this since this is an equivalent of the abort signal set to time out, and we might be recommending the usage of abort signal to our users. More info - https://github.com/Azure/azure-sdk-for-js/pull/7159#issuecomment-580907849

[2020-02-18 19:35] #7158 closed

[2020-02-18 20:05] sadasant commented on #7403
This is not needed and actually misleading. The problem reported by Heath is about being in control of the input format for mergeCertificate. That is a separate problem than the one described in this issue, and we haven't arrived to a definitive action item, so I'll close this for now.

[2020-02-18 20:05] #7403 closed

[2020-02-18 21:20] kurtzeborn commented on #7344
This is a general issue, not specific to JS language support.  The pipeline template we use is the same for all languages.

[2020-02-18 21:53] JimSuplizio commented on #7344
//CC: @KarishmaGhiya
@kurtzeborn, this issue actually is specific to JS. The ServiceDirectory variable isn't being plumbed through to the release pipelines. It's an easy fix and I'll link that PR to this issue.

[2020-02-18 23:51] joelrbrandt commented on #6656
@jeremymeng any update on this? Looking at master, the core-http dependency is still `"^1.0.0"` and the 12.1.0 release 6 days ago also specifies `"^1.0.0"`. Thank you!

[2020-02-19 01:05] jeremymeng commented on #6656
I chatted earlier with @bterlson on this. He recommended that we keep the version as general as possible. I am not aware of any packages that depend on core-http and pin its version.  Is there a real scenario where `^1.0.0` causes things to break?

[2020-02-19 01:12] joelrbrandt commented on #6656
@jeremymeng thanks for the quick reply! I may be mistaken, but I _think_ one scenario where it matters is if: I ran `npm install` before 1.0.3 was released, and then updated my storage-blobk

[2020-02-19 13:44] ljian3377 commented on #7385
When releasing v10, we decided to go without storage-common.
@JeffreyRichter @bterlson @
As this is revisited, what's your suggestion?

In my view, some of the util functions might be common enough that we may consider providing them by `azure-xxx` or simply depending on some mature open source package, for example, `Batch`, `RetriableReadableStream`.

[2020-02-19 16:24] diberry opened #7433 "Arm-Subscriptions SDK sample code in readme is wrong"
- **Package Name**:  @azure/arm-subscriptions
- **Package Version**: 2.0.0
- **Operating system**: windows 10
- [ ] **nodejs**
    - **version**:  v10.15.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 3.5.3
- Is the bug related to **documentation** in
  - [ x] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Desc

[2020-02-19 17:29] JimSuplizio commented on #7344
Both JS and Python were fixed. The changes were checked in yesterday so I'm going to close this.

[2020-02-19 17:29] #7344 closed

[2020-02-19 18:29] heaths opened #7435 "Add new Soft Delete properties to Key Vault data plane"
Add the new `recoverableDays` property from https://github.com/Azure/azure-rest-api-specs/pull/8223/files#diff-01e396717629c41e5cdbf565ed5a764a to models and, as needed, the new enumeration values therein.

[2020-02-19 18:43] jeremymeng opened #7436 "[FormRecognizer] addtional headers to whitelist for logging"

[2020-02-19 18:44] jeremymeng opened #7437 "[FormRecognizer] Design clients"

[2020-02-19 18:44] jeremymeng opened #7438 "[FormRecognizer] Design return types for training results"

[2020-02-19 18:44] jeremymeng opened #7439 "[FormRecognizer] create README"
- [x] readme conforming to the guideline
- [ ] example code snippets

[2020-02-19 18:44] jeremymeng opened #7440 "[FormRecognizer] create live tests"
- [x] add initial tests for FormRecognizerClient and FormTrainingClient
   - [x] storage input training and testing documents
- [ ] generate recordings for CI
- [x] add and enable live test build pipeline

[2020-02-19 18:45] jeremymeng opened #7441 "[FormRecognizer] samples"
- [x] align with other languages on what samples to add
   - python PR to add samples: https://github.com/Azure/azure-sdk-for-python/pull/10815
- [x] clean up existing samples
   - change import/require to reference real package name
   - change url/file names to valid ones or place holder
   - add a couple of input document to the repo for sample (and test use)?
- [x] get samples building using o

[2020-02-19 18:45] bterlson commented on #6656
@joelrbrandt I think you're right, we should update the version dependency. This will come in the next release! In the meantime, for anyone finding this, `npm update` should pull in the latest core-http (1.0.3 at time of writing).

[2020-02-19 18:45] jeremymeng opened #7442 "[FormRecognizer] Ensure proper reference docs"

[2020-02-19 18:48] heaths opened #7443 "Allow customers to parse certificate, key, and secret IDs from URLs"
We will add methods to parse URLs into VaultUri, Collection, Name, and optional Version components for Certificates, Keys, and Secrets

[2020-02-19 19:10] mikeharder commented on #7385
I think the duplicate code should be removed **somehow**, either via a shared public package like `storage-common` or via our build process sharing source files across packages (this is easy in languages like .NET, not sure about JS).  The current practice of copying source files across packages is a big anti-pattern, and I can see the files are already diverging as people make changes in one copy

[2020-02-19 20:05] jeremymeng opened #7445 "[FormRecognizer] preview.1 api review"

[2020-02-19 20:05] jeremymeng opened #7446 "[FormRecognizer] Release track 2 preview 1"

[2020-02-19 20:10] sadasant commented on #7295
Fixed by #7349

[2020-02-19 20:10] #7295 closed

[2020-02-19 20:15] sadasant opened #7447 "[KeyVault] Explore moving common code to a common folder"
The convenience layer KeyVault clients currently share duplicated code. This could be fixed by moving this code to a common location outside of each client's folders. Based on that, let's do the following steps:

- [ ] Make a PR moving the least possible common code to a separate location, making sure that everything works correctly.
- [ ] Make another PR moving the rest of the shared code to that

[2020-02-19 20:27] sadasant commented on #7139
Moved to April as discussed with the KeyVault team.

[2020-02-19 20:54] xirzec commented on #7385
I prefer sharing code files between packages without creating a runtime common package that has to be released/versioned alongside. @sadasant is going to prototype this approach using TS project deps

[2020-02-19 22:08] bterlson commented on #7385
I agree we should not be duplicating code, however it must be balanced against the complexity introduced by the abstraction. During pre-GA times, we went with the expedient approach that avoids versioning and servicing burdens.

Going forward, we should fix this. I wonder if we should do a source-level dependency rather than a new package? The primary downside, I think, is that we won't be sharing

[2020-02-19 22:39] #6732 closed

[2020-02-19 22:47] jeremymeng opened #7451 "PR build pipeline should fail, if api.md changes contains warning about forgotten exports"
as of commit e6289b777

There are two warnings about public API signature changes.  API review files should be included in associated PRs so they get properly reviewed.
[code]

**Edited**: the above is tracked by #4282.  This issue is updated to track that we'd like to also have build failure, if the api change introduces forgotten export warnings like

[code]

[2020-02-19 22:47] jeremymeng commented on #7451
/cc @KarishmaGhiya

[2020-02-19 23:26] southpolesteve commented on #7451
IMO:
- API review files should get rebuilt in PRs and fail the build if there are changes
- forgotten exports should also fail the build

[2020-02-19 23:37] jeremymeng commented on #7451
We have cases where we chose to not export some types and caused forgotten exports warning though.

[2020-02-19 23:46] lilyjma opened #7455 "testing bot"

[2020-02-19 23:50] southpolesteve commented on #7451
I'd see that as an exception rather than the rule. If there is a missing export warning for Cosmos, 99/100 times it is because I did actually forget to export something.

[2020-02-20 00:43] jeremymeng commented on #7451
Found #4282.  Updating this one to track forgotten export warnings

[2020-02-20 03:25] JerryPei1997 commented on #6404
Hi @chandrakantaS,
Does this still an issue?
Following [SDK Sample](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/arm-storage#sample-code) with newest package(13.1.0), method **client.storageAccounts.create** works well. The detailed code is shown below for how to use method **client.storageAccounts.create**:
[code]
Please give a try. Let me know if there is any problem.

@jong

[2020-02-20 04:41] noelbundick opened #7462 "Typescript + Node compilation failure with @azure/storage-queue"
- **Package Name**: @azure/storage-queue (and/or @azure/core-http)
- **Package Version**: 12.0.3
- **Operating system**: Ubuntu 18.04
- [x] **nodejs**
    - **version**: v12.16.1
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.7.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs

[2020-02-20 10:41] XiaoningLiu commented on #7395
Jeremy is correct. File RESTful doesn't support AAD/OAuth right now.

[2020-02-20 10:42] #7395 closed

[2020-02-20 13:18] chandrakantaS commented on #6404
@JerryPei1997 Thanks for all these info. I think I got the fix and no more issue right now.
Thanks

[2020-02-20 14:36] Roma36 commented on #6870
@chradek

Does [v1.1.3](https://github.com/Azure/azure-sdk-for-js/releases/tag/%40azure%2Fservice-bus_1.1.3) fix the issue?

[2020-02-20 14:57] ahmedspiir opened #7467 "arm-compute is not using @azure/identity"
The examples in
https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/compute/arm-compute
Is referencing to use `msRestNodeAuth` and as far i know the new way to get credentials is to use `@azure/identity` https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/identity/identity.
So am i supposed to use both of `msRestNodeAuth` and `@azure/identity` side by side or arm-compute is behind in t

[2020-02-20 15:43] ahmedspiir opened #7468 "Is it possible to create disk snapshot using arm-compute"
- **Package Name**:
    "@azure/arm-compute": "^13.0.0",
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I'm usin

[2020-02-20 17:53] heaths opened #7470 "KeyOperations needs to support "import" for 7.1-preview"
We also need to support the "import" key_ops value per:

* https://github.com/Azure/azure-rest-api-specs/blob/56b2d1fccfc7707c48a7c30cd82716d914845196/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.1/keys.json#L1348
* https://github.com/Azure/azure-rest-api-specs/blob/56b2d1fccfc7707c48a7c30cd82716d914845196/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.1/keys.json

[2020-02-20 18:35] sadasant commented on #7141
Regarding the comment described in the body of this issue, let's dig through the action items:

- `Support specifying a service API version.`
  The way to do this is to decide an approach for receiving the service version through the constructor of the clients, then limit what service versions we support.
- `Add configurability to soft-delete.` and `Apply the schema changes of the new service API

[2020-02-20 18:53] heaths commented on #7141
I talked a bit with our architect and some of this is up to us to pave the way. Storage has done some of this already, so to enumerate what they do combined with what I'm thinking initially:

1. We need to device the "V7_1_Preview" service version, or however that would look in your language.
2. *When* 7.1 GAs, we need to define *in addition* "V7_1" and make that the default (always latest release

[2020-02-20 18:56] Drewm3 commented on #7117
To get a list of VMs that include the tags, then we suggest using Azure Resource Graph. For example, here is a PowerShell example to get a list of all VMs and their tags from a specific subscription:

Search-AzGraph -Query "Resources | where type == 'microsoft.compute/virtualmachines' | where subscriptionId == '<insert SubID>' | project name, tags"

[2020-02-20 19:21] jeremymeng commented on #7462
Related to #6821

[2020-02-20 19:26] KarishmaGhiya opened #7472 "rename versioning folder"
- Inside the eng-sys/tools folder, since the utils folder includes functions that are useful outside of the versioning, we can rename the package and path and the filenames related to versioning to accurately represent their purpose.
- rename scripts for running the versioning tools/ modify paths for the scripts and paths in yml files pointing to those as neccessary

[2020-02-20 19:27] xirzec commented on #7462
/cc @bterlson

[2020-02-20 19:42] willmtemple opened #7473 "[ai-text-analytics] Update README with examples and new language"
- [ ] Add examples for all five `TextAnalyticsClient` methods
- [ ] Rework Key Concepts section to match the Python README
- [ ] Add deploy-to-azure button
- [ ] Check other language READMEs for consistency

[2020-02-20 19:44] mikeharder commented on #7385
In this specific case, I would probably lean towards source-level dependency since the shared code is pretty small.

[2020-02-20 19:48] danieljurek commented on #7472
Suggested names: `package-utils`, `packaging`

[2020-02-20 20:03] willmtemple opened #7474 "[ai-text-analytics] Renamings around confidence scores"
For preview 3, we have some renamings around the sentiment confidence scores:

- [ ] Rename `sentimentScores` to `confidenceScores` in both `DocumentSentiment` and `SentenceSentiment`.
  - [ ] Mention in ref docs that this refers to the result of a softmax
- [ ] Rename type `SentimentScoresPerLabel` back to `SentimentConfidenceScorePerLabel`

[2020-02-20 20:12] willmtemple opened #7475 "[ai-text-analytics] Add "none" country hint"
Per discussion in Text Analytics meetings, we want to accept `"none"` as a value for `countryHint` in `detectLanguage` should invoke the default behavior (by not sending any country hint to the service).

Open question: should we throw on `undefined` or treat it normally?

(CC @bterlson )

[2020-02-20 20:29] willmtemple opened #7476 "[ai-text-analytics] Rename id to dataSourceEntityId"
... in `LinkedEntity` models.

[2020-02-20 20:35] willmtemple opened #7477 "[ai-text-analytics] Add convenience enum/object for entity variants"
We'd like to provide a convenience object that enumerates the known values for entity `category` and `subcategory`. Unfortunately, this isn't modeled in the swagger, so we can't use a strict string enum. In Java/.NET, they are using an extensible enum class. In JS/TS, we can accomplish something similar by having an object that names the known variants.

(CC @bterlson )

[2020-02-20 20:36] willmtemple opened #7478 "[ai-text-analytics] Epic: 1.0.0-preview.3"

[2020-02-20 20:43] southpolesteve opened #7479 "Cosmos Bulk APIs"
# Cosmos Bulk APIs

Cosmos recently added bulk API support to REST API. [.NET has already added it to the SDK](https://devblogs.microsoft.com/cosmosdb/introducing-bulk-support-in-the-net-sdk/) and we want to add it to JavaScript as well.

# REST API

Requests are sent to the normal document endpoint as a POST with the body containing an array of operations.

## Headers

### Required
`x-ms-cosmos-i

[2020-02-20 20:58] southpolesteve commented on #7479
cc/ @bterlson Did the arch board decide on guidance for bulk operations?

[2020-02-20 21:00] southpolesteve commented on #6494
@chadbr @PatrickQuintal FYI we have support now for bulk operations at the API level. I'm going to be tracking adding bulk APIs to the SDK over at https://github.com/Azure/azure-sdk-for-js/issues/7479 where I have some early implementation ideas.

[2020-02-20 21:01] chadbr commented on #6494
Awesome!

[2020-02-20 21:01] #6494 closed

[2020-02-20 22:36] maggiepint commented on #7185
Since it's been a while with no response going to close this one and assume Ramya got you the right repo. Feel free to re-open an issue if you need further help.

[2020-02-20 22:36] #7185 closed

[2020-02-20 22:45] maggiepint commented on #7118
Hi @milashenko - I work with our documentation teams to ensure everything is up to date, and have noted this particular issue as a problem. I will also follow up with the storage team on better error handling in this case.

I am curious - would you be able to tell me what out of date documentation you were using? It helps me to see if I can do anything SEO wise to make sure people find the right t

[2020-02-20 23:01] maggiepint commented on #7089
Hi, since we haven't heard back going to close this one, but feel free to re-open if you have further questions.

[2020-02-20 23:01] #7089 closed

[2020-02-20 23:27] xirzec commented on #7467
The management libraries (i.e. all packages with `arm-` in their name) are not compatible with `@azure/identity`.

/cc @daviwil

[2020-02-21 00:06] bterlson opened #7484 "Investigate options for default per-operation timeout"
Some users have observed that when our client libraries send a request but a response never comes back, the behavior is less than desirable. Namely, you get a ECONNRESET sort of error after many minutes, and no retries occur.

We should investigate potential solutions to this problem, including:

* Adding a default, retryable, per-operation default timeout. Strawman: 20 seconds. This default could

[2020-02-21 00:51] richardpark-msft commented on #7367
Fixed by PR #7374

[2020-02-21 00:51] #7367 closed

[2020-02-21 02:07] #6624 closed

[2020-02-21 02:44] tzhanl commented on #6404
Close since it is fixed.

[2020-02-21 02:44] #6404 closed

[2020-02-21 02:45] tzhanl commented on #5499
We are going to close this issue because we haven’t heard from you in a few days, but please re-open it if the issue still persists.

[2020-02-21 02:45] #5499 closed

[2020-02-21 02:47] KarishmaGhiya commented on #5578
https://dev.azure.com/azure-sdk/internal/_git/azure-sdk-build-tools/pullrequest/138?_a=overview

[2020-02-21 03:08] KarishmaGhiya opened #7489 "browser-coverage-reports are not being generated with the integration test"
- Some packages like storage do not generate the browser coverage reports - since it cannot find the file  `coverage-browser/cobertura-coverage.xml` - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=264826&view=results
- Some packages like keyvault-secrets dont have the separate browser src due to which the code coverage generated get mixed up - https://dev.azure.com/azure-sdk/inte

[2020-02-21 07:18] Drewm3 commented on #7468
From the REST API perspective you create a snapshot from a disk using the following example: https://docs.microsoft.com/en-us/rest/api/compute/snapshots/createorupdate#create-a-snapshot-from-an-existing-snapshot-in-the-same-or-a-different-subscription

Just replace the sourceResourceId with the resource ID of the source disk.

@LianwMS, could you provide guidance on how to execute this backend API

[2020-02-21 08:28] milashenko commented on #7118
Hi @maggiepint
I definitely used https://github.com/Azure/azure-storage-node/issues/600 and https://stackoverflow.com/questions/54907534/how-to-upload-a-file-to-azure-storage-blob-container-after-getting-sasqueryparam as an examples. Might be something from https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-storage-blob/12.0.0-preview.5/globals.html which I missed was outdated.

Hope

[2020-02-21 10:36] RodgeFu commented on #7467
Remove the "Service Attenion" label added by mistake. Sorry for any confusing.

[2020-02-21 11:30] ahmedspiir commented on #7468
Thanks for your answer @Drewm3 .
What i want to do is taking a disk snapshot and not taking a snapshot of a snapshot.
Sorry for the misunderstanding.

[2020-02-21 12:33] ahmedspiir commented on #7468
Thanks for the help @Drewm3 .
I managed to convert it to SDK format and it worked.
[code]
I'm not sure if i'm doing the right thing by using `import { Snapshot } from '@azure/arm-compute/esm/models';`

[2020-02-21 17:09] jeremymeng commented on #5336
Haven't seen the same for a while. Closing

[2020-02-21 17:09] #5336 closed

[2020-02-21 18:57] xirzec commented on #7467
Yeah after some internal discussion, it seems like this isn't planned to be supported at the moment, so you are doing the correct thing (using both auth libs side by side.)

[2020-02-21 18:57] #7467 closed

[2020-02-21 19:36] #5578 closed

[2020-02-21 21:37] HarshaNalluru opened #7499 "Refactor the duplicated karma.conf across SDKs"

[2020-02-21 21:58] #6226 closed

[2020-02-22 02:14] #7489 closed

[2020-02-22 03:10] KarishmaGhiya opened #7509 "move remaining packages to src from lib (core-http, core-tracing, core-arm)"

[2020-02-22 04:11] qiaozha commented on #7117
Thanks @Drewm3
@natinati8520  Then I think you can use this way in JS SDK
[code]

[2020-02-22 05:15] jiacfan commented on #7408
Hi, @cx5168

This should help! While due to some connectivity issue, I didn't get access to service log in the early days. And now, the log for provided request ID has already been rolled out. Would you help to provide a fresh request ID?

Thanks,
Jiachen

[2020-02-22 06:51] cx5168 commented on #7408
@jiacfan

<Error><Code>InvalidUri</Code><Message>The requested URI does not represent any resource on the server.
RequestId:a8bf7587-201e-001b-024c-e9aea1000000
Time:2020-02-22T06:50:05.4447047Z</Message></Error>

Thank you for your enthusiasm!

[2020-02-22 08:21] HarshaNalluru opened #7514 "[Recorder] Missing node tests & hidden bugs in the tests"
- `integration-test:node` command relies on `dist-esm/test/*.spec.js` files to run the tests(to generate code coverage)
- whereas `unit-test:node` command relies on `dist-test/index.node.js` rollup generated files.

For the recorder package, tests under the node folder are not added in the `integration-test:node` command. As a consequence, the test count is different for both the commands.

When t

[2020-02-22 08:21] HarshaNalluru commented on #7514
Fix here #7512

[2020-02-22 09:06] jiacfan commented on #7408
Hi, @cx5168

The container name identified in service side is `areanews%2Fimages%2F169`, this is illegal, as in Azure:

Would you double check if container name is composed correctly?

Thanks,
Jiachen

[2020-02-22 10:13] cx5168 commented on #7408
@jiacfan
my container name is 'areanews/images/169'.  the upload and download was successed by that. Where is illegal?

[2020-02-22 10:51] cx5168 commented on #7408
@jiacfan
I found a solution. thank you for your help!

[2020-02-22 10:51] #7408 closed

[2020-02-22 22:02] emily-curry commented on #7258
@ramya-rao-a, @dw511214992, Is there a reason why a major version update should be avoided in this case? Adding a note that v3 of `ms-rest-nodeauth` isn't supported isn't a solution that works for my project, when I also have dependencies that _only_ support v3 of `ms-rest-nodeauth`.

I have a scenario where I want to use `ms-rest-nodeauth` to generate credentials for managing resources, specifica

[2020-02-24 07:22] Drewm3 commented on #7117
@natinati8520, please let us know if this will work for you. If yes, then I'll close this out.

[2020-02-24 14:50] erwinbooij commented on #5290
Hi there we are experiencing the same issue with the @azure/service-bus package, will this also be fixed in the same release?

[2020-02-24 15:23] LianwMS commented on #7468
Hi @ahmedspiir  I think its ok. or you can just use
`import` { Snapshot } from @azure/arm-compute;

[2020-02-24 19:15] willmtemple commented on #6821
This was fixed in core-http in #7500, and `ai-text-analytics` and the `template` were able to remove `dom` dependencies.

Still-outstanding work is:
- Remove lib:dom from keyvault
- Remove lib:dom from storage
- Remove lib:dom from all sample packages

Keyvault and Storage actually _do_ use dom types in some places, so they will have to mimic the pattern from core-http of importing dom in a d.ts f

[2020-02-24 19:15] willmtemple commented on #6821
(CC @jeremymeng let's track this work here rather than a new issue)

[2020-02-24 20:19] ahmedspiir commented on #7468
Hi @LianwMS
I tried to do it but i got this error message

[2020-02-24 20:21] xirzec commented on #382
Closing this one, since we ended up needing the await for tracing spans anyway.

[2020-02-24 20:21] #382 closed

[2020-02-24 20:21] #329 closed

[2020-02-24 20:22] xirzec commented on #1310
Assuming this is for track2, I believe we do this for all packages. Feel free to re-open if I am mistaken.

[2020-02-24 20:22] #1310 closed

[2020-02-24 20:22] xirzec commented on #1343
@bterlson I think this is resolved now?

[2020-02-24 20:22] #1343 closed

[2020-02-24 20:24] xirzec commented on #1328
This file doesn't exist, so I think this issue is no longer valid

[2020-02-24 20:24] #1328 closed

[2020-02-24 20:26] xirzec commented on #1344
I think this is done for all packages?

[2020-02-24 20:26] #1344 closed

[2020-02-24 21:19] bterlson commented on #1343
@xirzec Agreed.

[2020-02-24 23:29] xirzec commented on #1109
I believe this has been resolved

[2020-02-24 23:29] #1109 closed

[2020-02-25 01:36] LianwMS commented on #7433
The sample is incorrect. working on fix it.

[2020-02-25 03:10] caleteeter opened #7526 "SubscriptionClient error when using interactiveLogin to MSA (work/school) based account"
- **Package Name**: @azure/subscriptions
- **Package Version**: 2.0.0
- **Operating system**:Windows 10 1909
- [ X ] **nodejs**
    - **version**: 12.16.0
- [ ] **browser**
    - **name/version**:
- [ X ] **typescript**
    - **version**: 3.7.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Desc

[2020-02-25 05:57] pvrk commented on #5910
Both .NET and Python packages were released in Nov for this version of API

https://www.nuget.org/packages/Microsoft.Azure.Management.RecoveryServices.Backup/4.0.0-preview
https://pypi.org/project/azure-mgmt-recoveryservicesbackup/0.5.0/

We have later versions also available now.

[2020-02-25 06:07] pvrk commented on #5910
Closing since packages are available.

[2020-02-25 06:07] #5910 closed

[2020-02-25 06:13] LianwMS commented on #7468
@ahmedspiir the following is my code, and it works:

`client.snapshots.createOrUpdate('lianw', 'randomname2', {
    location: 'westcentralus',
    creationData: {
      createOption: "Copy",
      sourceResourceId: "/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/lianw/providers/Microsoft.Compute/disks/jssdkissue7468_disk1_7116e1e3961d4587809f05f1fb9b80af"
    }}).then((result)

[2020-02-25 08:33] ahmedspiir commented on #7468
Thanks for the example @LianwMS.
Yes, i know it will work with the type but it will be nice to be able to use `Snapshot` type so i can see the available options that i can provide instead of going to the docs of the REST API.

[2020-02-25 08:53] XiaoningLiu opened #7528 "[Storage][Datalake GA] Add more samples & built-in comments"
As Datalake GA is coming, we'd like more samples and detailed API comments for customers. Datalake now has one basic sample ([link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-file-datalake/samples/javascript)), while blob has more detailed samples ([link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-blob/samples/javascript)). It's better

[2020-02-25 10:31] kensugasa commented on #5966
The correct link looks below.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/authenticate-multi-tenant

[2020-02-25 17:45] kurtzeborn commented on #7209
Hey @RodgeFu, most of these branches were opened by autorest.  Not sure who on your team would be responsible for cleaning these up.

[2020-02-25 17:45] kurtzeborn commented on #7209
Hey @RodgeFu, most of these branches were opened by autorest.  Not sure who on your team would be responsible for cleaning these up.

[2020-02-25 17:46] jeremymeng commented on #7044
This is fixed in Pipeline constructor.

[2020-02-25 17:46] #7044 closed

[2020-02-25 18:04] edmclinn opened #7529 "CORS field x-ms-useragent is not allowed by Access-Control-Allow-Headers in preflight response."
Getting CORS Error when making getConfigurationSetting call.

**dependencies**
"@azure/app-configuration": "^1.0.1",

import { AppConfigurationClient } from '@azure/app-configuration';

response = await client.getConfigurationSetting({ key: featureName});

Access to XMLHttpRequest at 'https://????-???-???-config.azconfig.io/kv/.appconfig.featureflag%2FQuickSearch?api-version=1.0' from origin 'http

[2020-02-25 18:45] edmclinn commented on #7529
I see https://github.com/Azure/azure-sdk-for-js/issues/6530 that discusses x-ms-useragent and x-ms-command-name.  It states x-ms-command-name was not whitelisted by AppConfig which caused the CORS pre-flight check to fail.  Am I running into this same issue now with the x-ms-useragent?  What is the solution for this as I am currently in development of implementing Feature Flagging in my current sp

[2020-02-25 19:16] HarshaNalluru commented on #7067
Draft #7527

[2020-02-25 19:17] HarshaNalluru commented on #7066
#7368 Done

[2020-02-25 19:17] #7066 closed

[2020-02-25 19:19] HarshaNalluru commented on #6903
#7369 Done

[2020-02-25 19:19] #6903 closed

[2020-02-25 19:21] HarshaNalluru commented on #6816
#7372, fix will be shipped starting from the version-2.0.0-preview.1.

[2020-02-25 20:01] HarshaNalluru commented on #7320
#7312 done.

[2020-02-25 20:01] #7320 closed

[2020-02-25 20:04] sadasant opened #7532 "[ARM templates] Avoid code in the parameters"
Our current ARM templates specify code in some of the parameters, for example, for "baseName", we have:

[code]

This appears as is when the user uses this ARM template through a deploy button, like in the following example:

[![](http://azuredeploy.net/deploybutton.png)](https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2FAzure%2Fazure-sdk-for-js%2Fma

[2020-02-25 20:31] mikeharder commented on #7172
Another repro on 2/21/20:

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=267022&view=ms.vss-test-web.build-test-results-tab&runId=8997566&resultId=100036&paneView=debug

[2020-02-25 20:54] mikeharder commented on #7076
Another repro on 2/25/20:

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=271046&view=ms.vss-test-web.build-test-results-tab&runId=9094896&resultId=100188&paneView=debug

[2020-02-25 21:25] jeremymeng opened #7534 "[Storage] should we retry on CannotVerifyCopySource error?"
The startCopyFromUrl operation could throw the following error, when the url is not available. Some times the url is valid, but may be unavailable briefly due to network connection etc. Should we retry on this error to tolerate bad connection?

`<Error>CannotVerifyCopySource<Message>The specified resource does not exist. RequestId:d29b423b-601e-006a-5249-ea9526000000 Time:2020-02-23T13:02:56.71291

[2020-02-25 21:36] jeremymeng opened #7535 "[Storage] full url should be used in BatchRequest multi-part API"
There's a customer reported issue for python where token credential would fail to work with batch request that doesn't have full url.

https://github.com/Azure/azure-sdk-for-python/issues/9534

I believe we have same issue as we only use the path and query

[code]

[2020-02-25 21:44] GeekJosh commented on #5910
This repo relates to the JS packages, not NuGet or Python

[2020-02-25 22:30] aweber1 commented on #6411
For anyone encountering this issue that is looking for a temporary workaround, I did the following:

Instead of adding a `content-encoding` header to the `blobHTTPHeader` object, I added a `contentencoding` metadata property to the blob for identification during download. If the `contentencoding` metadata property is found when downloading, the data is decompressed.

This approach prevents `node-f

[2020-02-25 22:37] JasonYeMSFT opened #7536 "Be consistent when processing custom UserAgentPrefix"
- **Package Name**: storage-blob
- **Package Version**: 12.0.0

- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
In storage-blob/src/TelemetryPolicyFactory.ts, constructor of TelemetryPolicyFactory class, the line
[code]
will trim the first space of the user's custom userAgentPr

[2020-02-25 22:44] JasonYeMSFT commented on #7536
Also please let me know if there is a standard that no space character should be included in the user agent string.

[2020-02-26 00:29] SomaSharath commented on #6616
@ramya-rao-a @xirzec  Do we have any examples (node.js) on how do we restart the receiver when streaming fails?

It would really help.Thanks in advance.

[2020-02-26 01:08] jeremymeng commented on #7076
Another one
[code]

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=271232&view=ms.vss-test-web.build-test-results-tab&runId=9098166&resultId=100188&paneView=debug

[2020-02-26 01:28] richardpark-msft commented on #6616
@SomaSharath - the service bus SDK had some issues prior to the current release where we would fail to report error status, or fail to restart dead links. Restarting should no longer be required.

The SDK does not provide a way to restart things in place. The simplest and most complete restart would be to `close()` and recreate your `ServiceBusClient` instance. This will shut down all receiver/sen

[2020-02-26 01:36] mikeharder commented on #7076
I wonder if this could be a race condition between the calls to `setAccessPolicy()` and `listFilesAndDirectories()`, where the service has accepted the SAS policy but it hasn't been fully propagated yet, so there is a small delay where the SAS policy cannot be used yet.

https://github.com/Azure/azure-sdk-for-js/blob/0ce15cc/sdk/storage/storage-file-share/test/node/sas.spec.ts#L302-L330

https://g

[2020-02-26 01:37] mikeharder commented on #7076
This still may be a bug in the service, depending on the expected behavior.  Is the service supposed to guarantee a SAS policy can be used as soon as it is set?

[2020-02-26 01:44] RodgeFu commented on #7209
I think they are created by swagger pipeline directly. @akning-ms from swagger team

[2020-02-26 02:01] mikeharder commented on #7076
According to the [documentation](https://docs.microsoft.com/en-us/rest/api/storageservices/define-stored-access-policy#creating-or-modifying-a-stored-access-policy):

So I think the best fix here is to wrap the call which uses the stored access policy in a retry loop, and retry on say once every second up to 30 seconds, but only retry on HTTP 403.

[2020-02-26 02:02] akning-ms commented on #7209
Hi @nullMDR Can you help have a check for this?

[2020-02-26 02:57] NullMDR commented on #7209
Assigned to myself. Will look into this issue later.

[2020-02-26 11:14] ljian3377 commented on #4679
A similar issue in pipeline:

IntegrationTest Browser_Linux_Node10
[code]

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=271045&view=logs&j=8789e0f2-e003-5d27-34e7-7aecb36f1f42&t=3c3aa637-23e6-5f2d-050c-210a13d3d4f6

[2020-02-26 11:20] ljian3377 opened #7541 "[Storage][test] live test failure - renewLease timeout"
[code]
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=270754&view=logs&j=84bf07a8-cb34-5cff-7973-062fa4a8d0b8&t=d3a5319d-c8e2-55a9-49bb-c36db205fa20

[2020-02-26 11:29] ljian3377 commented on #7172
Fixing this issue with #7293.
We suspect the "soft-delete enabling" won't take effect immediately/after waiting for 15 seconds.

[2020-02-26 11:56] ljian3377 commented on #7541
Also need to delele the duplicate "renewLease" test case.

[2020-02-26 12:29] ljian3377 opened #7542 "[Storage][test]PageBlobClient startCopyIncremental failed with 'CannotVerifyCopySource'"
[code]
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=268560&view=logs&j=20cb2345-898c-5bf0-e148-f9f650214fe6&t=17af30b3-36a4-56ed-0656-f42044ff32ef

[2020-02-26 12:57] ljian3377 commented on #7534
Saw your discussion in Teams; will fix this following Mike's suggestion.
Also getting 'CannotVerifyCopySource'  error with PageBlobClient startCopyIncremental: #7542

[6:43 AM] Mike Harder

<https://teams.microsoft.com/l/message/19:5a5cd5c35c2049879dfda379bba223f7@thread.skype/1582670589511?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&amp;groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&amp;parentMes

[2020-02-26 17:10] weshaggard commented on #6446
@mitchdenny you have thought about this from the unified pipeline prospective have you done any further digging that would enable us to run a pipeline with some sort of configuration option that would enable us to filter it to a package?

[2020-02-26 17:53] ramya-rao-a commented on #3191
@willmtemple The latest version 5.0.1 of the `@azure/graph` package shouldn't have this issue. If so, please close this issue

[2020-02-26 18:08] ramya-rao-a commented on #7529
cc @xirzec, @jeremymeng

[2020-02-26 18:23] richardpark-msft commented on #7529
I've submitted an issue to the AppConfig team:

https://github.com/Azure/AppConfiguration/issues/277

AppConfig was allowing that header at one point but it appears to have regressed.

[2020-02-26 18:27] jeremymeng commented on #6821
Does this mean any downstream packages that depends on, for example, our storage libraries and using dom types would have to do similar changes as well?

[2020-02-26 20:05] mikeharder opened #7543 "[Storage][test] Flaky test "LeaseClient from Container breakLease""
Test `LeaseClient from Container breakLease` is flaky.  It failed once with this error:

[code]

Maybe this is another race condition, where the service does not guarantee the lease is available in `getProperties()` immediately after it is acquired or modified?

https://github.com/Azure/azure-sdk-for-js/blob/0ce15cc2d26f82befce12d8c9ec79af9cb087e38/sdk/storage/storage-blob/test/leaseclient.spec.ts

[2020-02-26 20:17] KarishmaGhiya opened #7544 "Use of compiler options instead of reshipping source files"
Summary from the discussion on https://github.com/Azure/azure-sdk-for-js/pull/7507 -

The rollup version of the source map includes a sourcesContent member, whereas the source maps for the ES (module) output does not. So the TS files are needed for the modularized output. We probably can fix this with the compiler option inlineSources instead of reshipping source files
cc: @xirzec @chradek

[2020-02-26 20:26] Sexysmiles81 commented on #6979
``sed -i '' -e "s/$1/$2/g" README.md

[2020-02-27 00:52] grbspltt opened #7552 "@azure/arm-cdn cannot use @azure/ms-rest-nodeauth"
- **Package Name**: @azure/arm-cdn
- **Package Version**: ^4.2.0
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 10.16 64-bit
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.8.2
- Is the bug related to **documentation** in
  - [x] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bu

[2020-02-27 02:14] mitchdenny commented on #6446
I haven't done any thinking here beyond some top-level spit balling. What I was thinking was some kind of script that runs in every pipeline that determines whether the pipeline is running as a PR and then goes and reads the tags on the PR and inserts their presence into a variable.

This variable could then be used to conditionalize certain steps in the pipeline. That would be a base change that

[2020-02-27 12:38] igilham opened #7558 "[Storage] need access to writeable stream for a new Blob"
**Is your feature request related to a problem? Please describe.**

I have a Container full of small files. I need to iterate through them and add them to a Zip archive then store the archive in a Blob for transfer to a third party.

The old SDK had a feature to support this using a writeable stream - `BlobService.createWriteStreamToNewAppendBlob`. The new SDK does not.

**Describe the solution yo

[2020-02-27 16:31] caleteeter commented on #7526
UPDATE: I have found that if the tenant associated with the Azure subscription is passed to the interactiveLogin function, it works.

[code]
This, of course, takes place as part of the authentication (ms-rest-nodeauth), to allow an access token has the appropriate authorization for the subscription.  I will need to figure out how to map this back so the users don't need to pass in their tenant id.

[2020-02-27 17:43] kurtzeborn commented on #7451
@jeremymeng, we look to the TypeScript client team to define the policy here, so thank you for driving this.  If you need assistance in getting these changes into the pipeline, @KarishmaGhiya is the one to help you from the EngSys team.

[2020-02-27 18:09] xirzec commented on #7552
Thank you for posting this issue @grbspltt . It's possible that `@azure/arm-cdn` has not been upgraded to be compatible with the latest version of `@azure/ms-rest-nodeauth`. Can you try using version 2.0.5 and see if that solves your trouble?

Related issue: #7258

[2020-02-27 18:28] grbspltt commented on #7552
@xirzec Changed the version of @azure/ms-rest-nodeauth to 2.0.5 and got this error:
`TypeError: Cannot read property 'interactiveLogin' of undefined`

[2020-02-27 19:30] KarishmaGhiya opened #7563 "Move all track 2 autogenerated libraries to rush workspace"
- Create uni\fied pipelines etc, whatever needs to be done,
- Make sure documentation for onboarding is up-to-date

[2020-02-27 21:05] jeremymeng opened #7568 "[core-paging] T[] isn't inferred for PagedAsyncIterableIterator.byPage()"
when I have the following code, there's an error for `byPage()`.  I would expect `T[]` since I didn't specify the second type argument `PageT`.  However it is inferred to be `never`

[code]

Edited: added definition here for complete repro.
Edited: add reference to esnext.asynciterable

[2020-02-27 21:07] jeremymeng commented on #7568
[code]

[2020-02-27 22:44] #7509 closed

[2020-02-27 22:47] mikeharder commented on #7076
Another repro on 2/27/20:

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=273380&view=ms.vss-test-web.build-test-results-tab&runId=9144172&resultId=100188&paneView=debug

[2020-02-28 00:16] jeremymeng commented on #6446
three keyvault live tests pipeline usually take 40, 30, and 30 minutes respectively.

storage-blob and storage-file-share can each runs close to 1 hour and passing. One hour is the timeout for the pipelines. storage-queue queue takes 20~30 minutes.

[2020-02-28 03:05] Oblarg opened #7581 "enableCrossPartitionQuery missing from FeedOptions interface"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.6.1
- **Operating system**: Windows

**Describe the bug**

The typescript [FeedOptions interface](https://docs.microsoft.com/en-us/javascript/api/@azure/cosmos/feedoptions?view=azure-node-latest) for SQL queries does not have a key for enabling cross-partition queries.  The javascript examples use this, and it is unclear how to do this in

[2020-02-28 05:57] shabbyrobe commented on #6505
Sorry if this is a bit OT, but will `EventHubReceiver` remain `@internal` or be removed? It seems like the "lower-level" library could still be useful in my situation, where I want to broadcast from `latestEventPosition` to a group of WebSockets and don't care about checkpointing - it's fine to just use the latest. I also considered passing in a "null" `CheckpointStore` but the docblock says "User

[2020-02-28 15:03] rajatagarwal opened #7586 "userIdentityClientId"
**Is your feature request related to a problem? Please describe.**
Unable to execute queries on LogAnalytics Workspace from the function-app inside another stack using User-Managed Identity in Azure SDK for JS

**Describe the solution you'd like**
I'm using NodeJs. I am trying to access LogAnalytics Workspace to run Queries and fetch results. I am facing problem with the permissions when trying to

[2020-02-28 15:04] rajatagarwal opened #7587 "Unable to use User-Managed Identity from my function app to access LogAnalytics Workspace."
**Is your feature request related to a problem? Please describe.**
Unable to use User-Managed Identity from my function app to access LogAnalytics Workspace. Both function app and LogAnalytics Workspace sits in different stacks.

**Describe the solution you'd like**
I'm using NodeJs. I am trying to access LogAnalytics Workspace to run Queries and fetch results. I am facing problem with the permiss

[2020-02-28 15:05] #7586 closed

[2020-02-28 15:05] rajatagarwal commented on #7586
duplicate

[2020-02-28 15:10] chradek commented on #6505
@shabbyrobe
If you instantiate EventHubConsumerClient without a checkpointstore, that should also give you the behavior you’re looking for. We included constructor overloads that don’t take a checkpointStore for those that want to do what you’re describing.

[2020-02-28 16:36] danieljurek commented on #6446
@mitchdenny, @weshaggard and I chatted yesterday about a pipeline architecture that would keep per-package live test pipelines. We're planning to start prototyping this with JS soon.

We can close this issue as collapsing the per-package pipelines is no longer particularly relevant given these requirements.

[2020-02-28 16:36] #6446 closed

[2020-02-28 18:22] southpolesteve commented on #7581
@Oblarg The flag is no longer necessary. 3.0 enabled cross partition queries by default. Can you point me to the sample where you see it being used?

[2020-02-28 18:34] Oblarg commented on #7581
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-nodejs-get-started

In particular:

[code]

[2020-02-28 19:29] jeremymeng opened #7588 "[FormRecognizer] not all items are extracted for some receipt"
http://2.bp.blogspot.com/_LqCB_lgYPw0/TOpQyM_1PFI/AAAAAAAAACw/Qpx0wZ25GC4/s1600/tesco1receipt.jpg

May be a service limitation? the image has more items after CAKE COVERING
[code]

[2020-02-28 20:09] jeremymeng opened #7589 "[core-http] samples needs update"
- [ ] samples still reference a test drive link which doesn't seem to exist any more

[code]

proposal using Azure CLI

[code]

- [ ] the browser sample `index.html` is broken as we no longer have RawTokenCredential type in core-http.  Need to copy the TestTokenCredential from the node-samples.ts

[code]

[2020-02-28 20:14] southpolesteve commented on #7581
PR in docs repo https://github.com/MicrosoftDocs/azure-docs/pull/49188

[2020-02-28 20:14] #7581 closed

[2020-02-28 20:30] jeremymeng commented on #7589
also the sample builds fine, but failed with error

[code]

[2020-02-28 20:51] jeremymeng opened #7590 "[core-http] Add downlevel d.ts to work with typescript < v3.5"
currently src\sdk\core\core-http\samples\node-sample.ts failed to compile with tsc v3.1

[code]

[2020-02-28 23:26] xirzec commented on #7587
Hi @rajatagarwal, thanks for filing an issue.

If I understand your problem, you are trying to use a user-assigned managed identity to make an authenticated call from a function app written in JS to the Log Analytics REST API using the `@azure/loganalytics` NPM package.

`@azure/identity` isn't compatible with `@azure/loganalytics`, so they cannot be used together.

It does appear that `@azure/ms-

[2020-02-29 00:01] willmtemple commented on #3191
Yes, the 5.0.1 patch for the AAD Graph SDK `@azure/graph` fixed this issue. It was a code-generation issue that only manifested in graph when an Azure environment wasn't configured in the credential (as the issue mentioned in the original report). Setting `baseUri` manually should not be required as of `@azure/graph` 5.0.1.

[2020-02-29 00:01] #3191 closed

[2020-02-29 00:03] xirzec commented on #7552
Can you share a code snippet about how you are importing from `@azure/ms-rest-nodeauth` and calling `interactiveLogin`?

[2020-02-29 00:34] haonliu commented on #6841
Thanks.

Please update the docs on the methods that uses options as well.

For example:

https://github.com/Azure/azure-sdk-for-js/blob/83fcc44a23ad771128d6e0f49043656b3d1df990/sdk/cosmosdb/cosmos/src/client/Item/Items.ts#L47

This make me think I still need to specify the partionKey inside the options.

[2020-02-29 10:25] shabbyrobe commented on #6505
Ah thanks so much @chradek, that does look like what I'm looking for. I didn't see it at first when I clicked into the typings but it's there alright! As a further side note (apologies once again for being marginally OT), is this actually safe to do? To always just use latest and never store the checkpoint? Are there any caveats you're aware of?

[2020-02-29 14:26] grbspltt commented on #7552
`import msRestNodeAuth from '@azure/ms-rest-nodeauth';`
`import {CdnManagementClient} from '@azure/arm-cdn';`
`const subscriptionId = process.env['AZURE_SUBSCRIPTION_ID'];`
`export async function purgeCDN() {`
`  const credentials = await msRestNodeAuth.interactiveLogin();`
`  const client = new CdnManagementClient(credentials, subscriptionId!);`
`  const result = await client.profiles.list();`
`

[2020-02-29 21:21] jongio opened #7597 "[FEATURE REQ] Azure.Identity - Support KnownAuthorities like Python SDK"
Azure.Identity

It would be great if we provided a "KnownAuthorities" concept, like we have in the Python SDK.
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/identity/azure-identity/azure/identity/_constants.py

Right now, in JS, devs have to provide the url for the environment they are targeting `https://login.microsoftonline.us` for Gov, for example.

With Python
[code]

With JS
[

[2020-03-01 13:30] qiaozha commented on #7552
@grbspltt  you probably need to change to first line as
`import * as msRestNodeAuth  from '@azure/ms-rest-nodeauth';`

[2020-03-01 13:59] qiaozha commented on #7526
@caleteeter  Thanks for reporting this. But I think the problem is in ms-rest-nodeauth instead of @azure/arm-subscriptions. will have to check on that.

[2020-03-01 22:57] jonathandturner commented on #6764
Fixed in PR #7416

[2020-03-02 01:00] tzhanl opened #7598 "Update DefaultAzureCredential Exception Message"
Update the JS defaultAzureCredential exception message to match the new one that is in the .NET SDK.

https://github.com/Azure/azure-sdk-for-net/pull/9821
https://github.com/Azure/azure-sdk-for-net/pull/9958

[2020-03-02 01:03] Zyclotrop-j commented on #7395
Also see https://feedback.azure.com/forums/217298-storage/suggestions/6078420-acl-s-for-azurefiles .
[code]

[2020-03-02 01:58] atcustomercentral commented on #3733
Hi @tony-gutierrez, I am interested in the same problem. Did you ended up continuing using the old azure-sdk-for-node, did you found a solution that let you use the new azure-sdk-for-js or did you ended up building your own REST client?

Hi @qiaozha, any luck finding a solution on your side? Did you guys just drop support for managing registrations to push notification services with node?

[2020-03-02 02:02] tony-gutierrez commented on #3733
We are still using the old SDK for both Service Bus, and Notification Hub. It has been a while since I have checked, but I don't think any progress has been made on a new notification hub SDK to complement the new service bus sdk.

[2020-03-02 02:13] atcustomercentral commented on #3733
Thanks! I do not think it is a priority for the Azure team, unfortunately.

[2020-03-02 02:13] qiaozha commented on #3733
@ramya-rao-a  @xirzec  Can you help confirm that Service Bus, and Notification Hub data-plane sdks haven't been moved to js sdk repo?

[2020-03-02 03:10] jiacfan commented on #7558
Hi, @igilham

Thanks for reaching us and illustrating the requirement clearly.

For the requirement, in current SDK, there is an API([link](https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/blockblobclient?view=azure-node-latest#uploadstream-readable--undefined---number--undefined---number--blockblobuploadstreamoptions-)):
[code]

Where we can use Duplex stream, to pipe the write

[2020-03-02 06:47] LianwMS commented on #7468
O... but Snapshot seems not be export now.

[2020-03-02 09:16] ahmedspiir commented on #7468
@LianwMS I see, will it be possible to expose it? Since it's the interface that you match the fields within the library.

[2020-03-02 17:05] chradek commented on #6505
@shabbyrobe With regards to if it's safe to not checkpoint, that really depends on your application's needs and whether it's ok for your app to potentially miss out on processing some events.

One thing that might be useful to know is that if you don't pass in a checkpointstore, you can still call `updateCheckpoint(event)` on the partitionContext passed into your processEvents handler. Then if the

[2020-03-02 18:44] KarishmaGhiya opened #7602 "Cosmos dev package published daily"
Cosmos dev package has been publishing daily. Investigate why this is happening even though code changes are not done everyday. There is some diff in the index.js.map file that should be investigated.

https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdev.azure.com%2Fazure-sdk%2F590cfd2a-581c-4dcb-a12e-6568ce786175%2F_apis%2Fbuild%2Fbuilds%2F270680%2Flogs%2F111&amp;data=02%7C01%7CK

[2020-03-02 19:59] xirzec commented on #3733
@richardpark-msft are you familiar with Notification Hub?

[2020-03-02 20:00] xirzec commented on #7597
/cc @jonathandturner

[2020-03-02 20:39] xirzec opened #7605 "@azure/azure-sdk/ts-apisurface-supportcancellation doesn't work with OperationOptions"
The custom rule `@azure/azure-sdk/ts-apisurface-supportcancellation` doesn't seem to work with a type alias of OperationOptions as a parameter object e.g.

[code]

See [the source code for this rule](https://github.com/Azure/azure-sdk-for-js/blob/main/common/tools/eslint-plugin-azure-sdk/src/rules/ts-apisurface-supportcancellation.ts) as well as [the eslint-plugin-azure-sdk package directory for s

[2020-03-02 20:47] xirzec opened #7608 "Disable @typescript-eslint/member-ordering"
I think this rule is contentious since it prevents colocating a private helper next to its public method. I'm not convinced strong member ordering in a class definition is that useful.

See [the documentation for this rule](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/member-ordering.md).

[2020-03-02 20:49] xirzec opened #7609 "lint: @azure/azure-sdk/ts-pagination-list rule doesn't support type aliases"
The rule "@azure/azure-sdk/ts-pagination-list" doesn't handle cases where you alias a PagedAsynciterableIterator. In general type aliases seem to be a bit broken, maybe there's a common fix for these kinds of issues to resolve to the base types.

See the source code for this rule: https://github.com/Azure/azure-sdk-for-js/blob/main/common/tools/eslint-plugin-azure-sdk/src/rules/ts-pagination-list.

[2020-03-02 20:59] xirzec opened #7610 "lint: `@azure/azure-sdk/ts-doc-internal` doesn't work with exported function"
Not sure why, but the below function trips `@azure/azure-sdk/ts-doc-internal` even though it is a valid exported function:

[code]

See the source code for this rule: https://github.com/Azure/azure-sdk-for-js/blob/main/common/tools/eslint-plugin-azure-sdk/src/rules/ts-doc-internal.ts

[2020-03-02 22:16] #7189 closed

[2020-03-02 22:25] #7190 closed

[2020-03-02 22:26] #7192 closed

[2020-03-02 22:26] #7193 closed

[2020-03-02 22:26] #7188 closed

[2020-03-02 22:27] #7194 closed

[2020-03-03 01:39] richardpark-msft opened #7616 "[event-hubs] Use Long when representing sequence number (and offset)"
ServiceBus uses a Long class to represent the sequence number in messages.

According to the docs the sequence number is a 64-bit integer. Javascript, through `number` can only handle 53-bits.

The documentation for ServiceBus states:

    The SequenceNumber value is a unique 64-bit integer assigned to a message as it is accepted and stored by the broker and functions as its internal identifier. F

[2020-03-03 01:46] richardpark-msft opened #7618 "[service-bus] track2 - when a session is already locked the error message is uninformative"
The error message in JS when a session is already locked is just not helpful.

For example, in .NET:
   Unhandled exception. Microsoft.Azure.ServiceBus.SessionCannotBeLockedException: The requested session 'helloworld' cannot be accepted. It may be locked by another receiver.

In JavaScript:
    (node:24832) UnhandledPromiseRejectionWarning: MessagingError: Received sessionId 'undefined' does not

[2020-03-03 01:51] richardpark-msft opened #7619 "[service-bus] Track2 - peek() operations need to allow for specifying max messages _and_ max wait time"
Interestingly enough we have two kinds of timeouts that might apply here:

1. The core-amqp timeout
2. The other kind of timeout we usually mean in our messaging libraries - return when 'n' messages arrive _or_ 'x' timeout expires.

The first one is 1 minute and we aren't currently exposing it. I'm not actually sure it's one we want to expose in the first place - we should talk about what we did f

[2020-03-03 05:59] jeremymeng commented on #7590
Fixed by #7604

[2020-03-03 06:18] jeremymeng opened #7627 "[core-http] samples should follow the guidelines"
current there's only a `samples\node-samples.ts` and an `index.html`.  We should have

- [ ] samples under javascript folder
- [ ] samples under typescript folder
- [ ] proper readme file under samples with metadata so that samples are zipped and made available on docs site.

[2020-03-03 06:18] jeremymeng commented on #7627
README.md also needs update once we have samples running

[2020-03-03 07:29] xyz-tw opened #7629 "outdated dependency on uuid, @types/uuid"
- **Package Name**: cosmos, event-hubs, event-processor-host, common/smoke-test
- **Package Version**: latest
- **Operating system**:
- [x] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

[2020-03-03 12:13] JesperJakobsen opened #7630 "arm-recoveryservicesbackup - getting BackupJobs are missing nextLink"
- **Package Name**: arm-recoveryservicesbackup
- **Package Version**: 4.1.0
- **Operating system**: Windows
- [x] **nodejs**
    - **version**:  12.14.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 3.7.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe

[2020-03-03 15:37] Zell211 commented on #6121
Hello @ramya-rao-a,

Sorry to ask this here but does this mean `@azure/event-processor-host` will be deprecated and people using EPH should migrate to `@azure/event-event-hubs` ?

I don't see any mention of this on the README files of both library, only comments from you in severa issues concerning EPH.

Thanks in advance.

[2020-03-03 16:51] igilham commented on #7558
Hi @jiacfan,

I got your suggestion to work using a simple Transform stream with an empty transform operation. There may be a simpler way to do this, but here's an example partial implementation in case it helps you write better docs.

[code]

[2020-03-03 17:31] jeremymeng commented on #7558
@igilham I wonder whether it also works if you pass the `zipper` stream directly to `uploadStream()`?

[2020-03-03 19:26] sadasant opened #7633 "[KeyVault] Set per-test-case timeout to 180000 ms"
Based on @mikeharder 's analysis, our tests on CI should all pass in fewer time than 3 minutes. Set mocha's timeout to 180000 ms and also add another package.json script with no timeout, for development.

[2020-03-03 19:41] sadasant opened #7634 "[KeyVault] Make the "purge all" tests not run on CI."
At the moment, the environment against which we run our tests is always a fresh, newly generated resource that exists only for the purpose of those tests. Before that, we used to run on weird bugs because the resources were full of information that wasn't useful for our test cases. These "purge" tests remain valid for our development cycle, but they should not run on CI.

[2020-03-03 20:32] xirzec commented on #7629
@xyz-tw thanks for reporting this! I see that we're depending on uuid `^3.3.2` which does appear to be a bit old.

I'm a little confused though why this is breaking you, since I'd expect npm to provide a second copy of uuid that is compatible with the `3.x.x` rather than re-using the 7.0.1 version from the consuming application.

@chradek can you please take a look into this?

[2020-03-03 21:10] chradek commented on #7629
@xyz-tw
Are you encountering an error, or are you suggesting we update our uuid dependency? Following your steps, I do see that two versions of UUID are installed, and that event hubs is using the 3.x version. When I send an event I don't encounter any errors.

I agree we should update our dependency since we don't want to end up pulling in multiple versions in a bundle if we can help it, but want

[2020-03-03 22:40] richardpark-msft commented on #5565
This got done as part of a big push by @sadasant . We can close this now.

[2020-03-03 22:40] #5565 closed

[2020-03-03 23:00] AlexGhiondea opened #7638 "AzConfig backlog"
This tracks the backlog work for AzConfig

[2020-03-04 01:30] richardpark-msft commented on #3733
@qiaozha I don't see any mention of notification hub in our track 2 repo today. I went looking for the older one to see if there's a breadcrumb to trace:

(for reference, this is the SDK that I believe we're all talking about)
https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/serviceBus/lib/notificationhubservice.js

It doesn't look like we could just copy it over as it uses som

[2020-03-04 01:48] #2248 closed

[2020-03-04 02:02] xirzec opened #7644 "[search] log additional headers"
After removing the ones from the default list, these are left from the service:

[code]

/cc @bterlson in case he objects to anything on this list being logged

[2020-03-04 02:03] xirzec commented on #7644
Related to Azure/azure-sdk-for-java#8686

[2020-03-04 02:07] brjohnstmsft commented on #7644
My bad -- `Access-Control` shouldn't be on that list.

[2020-03-04 02:17] xirzec commented on #7644
no worries, removed it!

[2020-03-04 03:32] dw511214992 commented on #7258
Hi @emily-curry.
Because the mangemant libraries and ms-rest-nodeauth may depend on different ms-rest-azure-js and ms-rest-js, we only can do a major version update and release to make sure they depend on the same ms-rest-azure-js and ms-rest-js. However, we only can release a major version update along with service team's release requests. So we need to wait the release request from service team

[2020-03-04 06:55] #7590 closed

[2020-03-04 10:03] igilham commented on #7558
@jeremymeng That should work but quite a lot of libraries to not expose their underlying streams via a public API. It looks like `archiver` expects to be given a `Writable` stream to write to.

[2020-03-04 13:28] julie-ng opened #7647 "[KeyVault][Certificates] - Get certificate AND private key?"
### Use Case

As a developer, I want to secure communication between services with client/server certificates. I want to authenticate via client certificate to a server using a custom `httpsAgent` per [Node.js documentation](https://nodejs.org/api/https.html#https_https_request_options_callback)

But... how to get both the public certificate **_AND_ private key** from key vault?

This is standard,

[2020-03-04 17:31] #7475 closed

[2020-03-04 17:31] #7476 closed

[2020-03-04 18:13] xirzec commented on #7647
@sadasant can you take this one?

[2020-03-04 18:43] jeremymeng commented on #7558
@igilham Got it.  Thanks for the answer!

[2020-03-04 19:08] #7633 closed

[2020-03-04 20:07] sadasant commented on #7647
@julie-ng I'm gathering information to give you the best response I can. I'll be back as soon as possible 🌞

[2020-03-04 20:37] bterlson commented on #7644
These seem good to me. I think the CORS headers can be added to the default allow list in core-http?

[2020-03-04 22:10] grbspltt commented on #7552
yes that was it, thank you!

[2020-03-04 22:10] #7552 closed

[2020-03-04 23:35] sadasant commented on #7647
Hello @julie-ng,

Thank you so much for getting in touch with us! We're here to help.

When a certificate is retrieved from the KeyVault `CertificateClient`, one of the properties of the returned abstraction is called `cer`. This property indeed contains the x509 certificate. The property's value is similar to what would be obtained out of [PowerShell's Export-Certificate command][ExpCertcmdlet].

[2020-03-05 00:05] HarshaNalluru opened #7651 "Re-imagining the samples across the repo"
Will and I had gone through back and forth with ideas to manage samples and upon discussing with the team, we ended up with the following plan.

### Things to not compromise
- Developer experience while working with the src code
- Executing the samples in the CI (Validation - to stay in sync with the src code)
- Publishing the samples(only the stable version) to docs.microsoft.com
- Discoverabilit

[2020-03-05 03:16] atcustomercentral commented on #3733
@richardpark-msft thanks for looking into this. The SDK you linked is the one we are currently using, specifically the APNS and GCM part in our case. We would be happy to know if there is any plan to move this into the new SDK and to cover the complete set of endpoint available in the REST API.

[2020-03-05 08:14] chethanack opened #7661 "Pausing and resuming option in azure blob upload using javascript."
How to pause the on progress upload of browser files to azure storage account and resume when required using azure storage blob javascript(v12) library file?

[2020-03-05 09:47] qiaozha commented on #7630
@JesperJakobsen  Hi Thanks for reporting this.
@nickzhums  Can you find some one from the service team to take a look at it? I think they should add
[code]
inside the response object definition's properties in here.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/bms.json#L3610-L3627

[2020-03-05 10:05] nickzhums commented on #7630
I pinged the PM of Recovery Services offline, will wait for his update :)

[2020-03-05 10:11] pvrk commented on #7630
@qiaozha : I see that the nextLink property is already present in the same file.
[code]
Also, the nextLink is also present in the example mentioned in the [REST API page in sample response](https://docs.microsoft.com/rest/api/backup/backupjobs/list#list-jobs-with-time-filter)

So, can I get more details on where this is missing?

[2020-03-05 10:13] qiaozha commented on #7630
ummm, I see. let me check.

[2020-03-05 11:47] #7558 closed

[2020-03-05 13:08] ljian3377 commented on #7535
Are you suggesting use `request.url` directly instead of `getURLPathAndQuery( request.url)`.
[code]

[2020-03-05 16:08] jeremymeng commented on #7535
Yes

[2020-03-05 17:15] #7167 closed

[2020-03-05 17:15] #7361 closed

[2020-03-05 19:46] #7644 closed

[2020-03-05 20:37] julie-ng commented on #7647
Wow, thanks @sadasant for the _very_ thorough response. I did not know I could fetch the secret, just by using the different client.

Ideally as a developer, I would want to just pull the certs out of Key Vault and pass them in memory (no need to write them to files) to `https.Agent`.

I think this is where we need to improve. Azure has its own way of thinking that doesn't necessarily align with h

[2020-03-05 20:38] willmtemple commented on #4730
@vinnybrown I believe there is some confusion around which Graph API is being used.

https://graph.__microsoft.com__/ is the endpoint for the Microsoft Graph, which is the newer replacement for the Azure Active Directory Graph (AAD graph is no longer actively developed). This package `@azure/graph` is for the older Azure AD Graph, which uses the https://graph.__windows.net__/ endpoint and does req

[2020-03-05 20:38] #4730 closed

[2020-03-05 20:46] willmtemple commented on #4841
@weswigham I believe there is some confusion around which Graph API is being used here.

https://graph.__microsoft.com__/ is the endpoint for the Microsoft Graph, which is the newer replacement for the Azure Active Directory Graph (AAD graph is no longer actively developed). This package `@azure/graph` is for the older Azure AD Graph, which uses the https://graph.__windows.net__/ endpoint and does

[2020-03-05 20:46] #4841 closed

[2020-03-05 21:23] sadasant commented on #7647
@julie-ng sounds good!

[2020-03-05 23:47] danieljurek opened #7670 "Smoke tests: enable failure notifications"
* move smoke test yml file into smoke test folder
* set CODEOWNERS for smoke test folder (service owners)
* update pipeline configuration to use smoke tests folder

[2020-03-05 23:56] danieljurek opened #7671 "Gov Cloud: Get Smoke Tests working"
Identity advice: https://blog.jongallant.com/2020/02/azure-identity-other-clouds/

[2020-03-06 02:11] richardpark-msft opened #7673 "[core-amqp] Shared code between ServiceBusMessageBatch and EventDataBatch should be moved to core-amqp"
EventHubs has an EventDataBatch class that allows the user to incrementally add messages to a batch, checking if the message batch doesn't exceed the EventHub's max message size.

We need to add an equivalent to ServiceBus and _ideally_ we should be able to share code. This might mean moving some of the batch code into core-amqp.

[2020-03-06 02:46] Connor-Wood opened #7674 "Service Bus Send Reliability"
- **Package Name**: azure/service-bus
- **Package Version**: 1.1.1
- **Operating system**: linux node:8.16-slim

**Describe the bug**
Sending messages to service bus will often encounter errors during platform service bus updates, deployments and other transient issues.

1. Sends taking too long, There appears to be a very long or no timeouts for send. Further, there is so SLA or any guidelines to

[2020-03-06 03:08] JerryPei1997 opened #7676 "Required properties in comments of function generateBlobSASQueryParameters() need to be updated"
Issue https://github.com/Azure/azure-sdk-for-js/issues/7118 mentioned that there is some confusing when using **generateBlobSASQueryParameters()** of package **@azure/storage-blob**.

Based on [**Storage Services REST API**](https://docs.microsoft.com/en-us/rest/api/storageservices/create-service-sas#specifying-the-access-policy), property **expiresOn** is **Required**, but it marked as optional i

[2020-03-06 03:47] HarshaNalluru commented on #7673
Issue logged already - https://github.com/Azure/azure-sdk-for-js/issues/7067
Here's my draft PR that adds sendBatch - https://github.com/Azure/azure-sdk-for-js/pull/7527, just waiting for the final API to rebase and implement on :)

[2020-03-06 04:57] tmschbgr commented on #6473
Would be great to get an update on that issue

[2020-03-06 09:27] tzhanl commented on #7676
@jongio

[2020-03-06 10:15] #6904 closed

[2020-03-06 12:17] tzhanl commented on #7118
close this. Follow up with #[7676 ](https://github.com/Azure/azure-sdk-for-js/issues/7676)

[2020-03-06 12:17] #7118 closed

[2020-03-06 19:26] xirzec commented on #7674
@chradek can you please take a look at this?

[2020-03-06 19:51] evandropomatti opened #7689 "Message receiver does not resolve neither reject after internet connection loss"
- **Package Name**: @azure/service-bus
- **Package Version**: 1.1.3
- **Operating system**: Ubuntu 18
- [x] **nodejs**
    - **version**: v12.16.1
- [ ] **typescript**
    - **version**:
- [ ] **browser**
    - **name/version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2020-03-06 20:01] richardpark-msft opened #7690 "[service-bus] track2: Make our message interface names consistent"
As @conniey has pointed out our message interfaces have deviated and need to made consistent. There are two main types of messages - messages that have been received (`ReceivedMessage`) that have things like a lockToken, sequenceNumber's etc... and things that are sent (`ServiceBusMessage`, at the moment) which don't.

Here's @conniey's table:
JS: SendableMessageInfo
.NET: ServiceBusMessage
Java:

[2020-03-06 20:44] HarshaNalluru opened #7691 "[Service Bus] Peeking into an empty session-enabled queue throws an error"
Peeking into an empty session-enabled queue would run into either of the following errors..
 1. OperationTimeoutError: Unable to create the amqp receiver 'unpartitioned-queue-sessions-794f89be-3282-8b48-8ae0-a8af43c3ce36'  on amqp session 'local-1_remote-1_connection-2' due to operation timeout.
 2. MessagingError: Received an incorrect sessionId 'undefined' while creating the receiver 'unpartitio

[2020-03-06 21:38] kevboutin opened #7692 "[service-bus] message is not able to be parsed as it is not valid JSON."
- **Package Name**: @azure/service-bus
- **Package Version**: ^1.1.3
- **Operating system**: Deployed as azure function
- [ ] **nodejs**
    - **version**: 10.14.1
- [ ] **browser**
    - **name/version**: N/A
- [ ] **typescript**
    - **version**: N/A

**Describe the bug**
The message returned is not valid JSON. This prevents parsing the message and processing it appropriately in Javascript. The

[2020-03-06 23:58] xirzec commented on #7689
@chradek another service bus issue, if you could please take a look when able

[2020-03-07 00:19] HarshaNalluru opened #7694 "[Service Bus] Closing the receiverClient loses deferredMessages"
![image](https://user-images.githubusercontent.com/10452642/76131966-653e5000-5fc5-11ea-96c7-0738b59ba950.png)

Not completely sure if this is due to opening multiple connections or multiple receivers (might be a drawback of the 2-client API). Need to revisit and investigate once the API with Top-level client is finalized and implemented.

To repro -
- create sender and receiver clients
- sender.s

[2020-03-07 00:20] HarshaNalluru commented on #7694
Might be that the receiverClient is closed before the deferring is done.

[2020-03-07 00:39] chradek commented on #7689
@evandropomatti
Thanks for reporting this issue. I noticed that your sample doesn't have a catch block. Would it be possible to add a catch to your try and log any errors you hit?

The other thing is you may need to close your sbClient in the finally block after closing your queue client. When I ran your modified sample locally I was able to catch errors from the receive call. If you can verify if

[2020-03-07 01:53] voidfoo commented on #7535
Although we might not have a bug because we might not have the credential similar to what python has (`beakTokenCredentialPolicy` in the linked issue)

[2020-03-07 02:07] HarshaNalluru commented on #7694
`freshResource` flag wasn't passed to `getSenderReceiverClients` which is why the entity was re-created and the message was lost.

[2020-03-07 02:07] #7694 closed

[2020-03-07 09:40] ljian3377 opened #7701 "[storage] add CreateIfNotExists, DeleteIfExists"
Add `CreateIfNotExists`, `DeleteIfExists` for all packages.
For datalake, refer to https://github.com/Azure/azure-sdk-for-net/pull/9996.

[2020-03-07 21:46] #7141 closed

[2020-03-07 21:46] #7435 closed

[2020-03-07 21:46] #7470 closed

[2020-03-08 08:45] DanielRosenwasser opened #7706 "`tsconfig.json` is published within packages"
Right now, the package I'm using `@azure/cosmos` contains a `tsconfig.json` within it, but it's probably not necessary to publish it. In fact, the reason I noticed it was "go to next error" in VS Code jumped to one of these files because it there was a project reference to a path that didn't exist.

While TypeScript might be smarter about ignoring these in `node_modules`, it doesn't seem like thes

[2020-03-08 22:33] JesperJakobsen commented on #7630
Just a quick update from my end, the SDK tells me that nextLink is undefined.

I've also looked in the file mentioned above and there is no header present as there should be when i look at the file here https://github.com/Azure/azure-rest-api-specs/blob/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/bms.json#L861-L923 and there is no x-ms-

[2020-03-09 06:43] NullMDR commented on #7209
Cleaned all the branch starts with restapi_auto or sdkAutomation

[2020-03-09 06:43] #7209 closed

[2020-03-09 08:37] Zell211 commented on #6121
Hello @ramya-rao-a,

Sorry to insist on this.

I also cannot put my hand on the migration guide you refer to.

[2020-03-09 14:17] qiaozha commented on #7630
I think it's a SDK problem.
@ramya-rao-a  @daviwil Can you take a look at autorest.typescript? I think the swagger should be correct that the `JobResourceList` has two properties. one is `NextLink` inherent from `ResourceList`, the other is `value`, an array of `JobResource`.
But the JS SDK code is like this
![image](https://user-images.githubusercontent.com/55688292/76221109-83b97b00-6253-11ea-95

[2020-03-09 16:24] ljian3377 opened #7716 "[storage] throw more friendly when calling "node.js only" function in browser"
Throw more friendly when calling "node.js only" function in browser.

[2020-03-09 16:30] mizquierdosg opened #7717 "QnAMaker's API ReplaceKbDTO inner object named "qnAList" instead of "qnaList""
- **Package Name**: cognitiveservices-qnamaker
- **Package Version**: 3.1.0
- **Operating system**: Mac OS X Catalina
- [ ] **nodejs**
    - **version**: v12.13.0

**Describe the bug**
QnAMaker's API ReplaceKbDTO inner object named "qnAList" instead of "qnaList" as the rest of the DTOs are and the API Documentation states. Please check implementation at https://github.com/Azure/azure-sdk-for-js/bl

[2020-03-09 16:36] richardpark-msft commented on #6121
@Zell211 - the migration guide (if you're still looking for it) is here:
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-hubs/migrationguide.md

[2020-03-09 17:22] evandropomatti commented on #7689
@chradek Thanks for the feedback. However I was not able to get errors when my internet is out for a long time.

I modified the code, and also extracted it so it's easier to debug.

Now the program just exists without exception or error after 1:20 min waiting to receive messages.

Just to be clear:

1. I start the program and it locks at the `receiveMessages` operation.
2. I turn off the Wi-Fi
3.

[2020-03-09 17:28] #7407 closed

[2020-03-09 19:11] HarshaNalluru opened #7720 "[Service Bus] Get rid of the `--exit` flag in mocha test command"
Once https://github.com/Azure/azure-sdk-for-js/pull/7626 is merged, get rid of the `--exit` flag, investigate and make the test step finish without forcefully closing it.

https://github.com/Azure/azure-sdk-for-js/pull/7626#discussion_r389446966

[2020-03-09 19:46] xirzec commented on #7706
I got rid of a bunch of these tsconfigs in #7615, but I'm not sure if I touched cosmos/storage.

I'm fine removing them everywhere as part of that PR if @bterlson is cool with it. I'm not sure why we included it to begin with.

[2020-03-09 20:15] bterlson commented on #7706
I didn't intend for tsconfig.json to be included in packages, looks like that's inconsistent and could be fixed.

That said, I kinda wish it could be. Including TS source code in our package or sourcemaps without a tsconfig feels bad because the tsconfig is sometimes necessary to understand how the code works (e.g. whether strict is enabled or not).

[2020-03-09 20:18] DanielRosenwasser commented on #7706
That's a good point - I think in this case the only problem was that `./tests` wasn't available. If it was, then I wouldn't have noticed. I guess if there was a self-contained tsconfig it might've been fine.

[2020-03-09 20:28] jonathandturner opened #7722 "Move Identity dependency to a devDependency"
Currently, the following packages use @azure/identity as a dependency rather than a devDependency:

* app configuration - cc @richardpark-msft
* event hubs - cc @chradek
* text analytics - cc @willmtemple

[2020-03-09 21:40] weshaggard commented on #7209
@NullMDR thanks for cleaning up the branches. Is it expected that the automation will use branches in  a fork now?

[2020-03-09 21:47] HarshaNalluru opened #7726 "[Service Bus] Revisit the commented tests after the top-level client is implemented"
Some of the service-bus tests have been commented as part of the migration to track 2 API 2-client version(sender/receiver clients).
We need to revisit the commented tests once the top-level client is implemented.
`#RevisitCommentedTestsAfterTheSingleClientAPI` - Added this tag in the test files wherever the tests are commented for better search/visibility.

[2020-03-09 21:48] xirzec commented on #6282
Is this still planned?

[2020-03-09 21:50] HarshaNalluru opened #7727 "[Service Bus] Migrate the stress/perf tests to track 2 API"
Reference - https://github.com/Azure/azure-sdk-for-js/pull/7626#discussion_r389978629
- test/stress and test/perf have been excluded in the tsconfig.
- Revisit and update the tests once the top-level client version is implemented.

[2020-03-09 21:52] kaerm commented on #6282
No, I cleaned the README to not have anything that would need to be constantly updated

[2020-03-09 21:52] #6282 closed

[2020-03-09 21:53] xirzec commented on #5687
Agreed with @ramya-rao-a that this is not a concern now that the timeout is nested in the new OperationOptions shape.

[2020-03-09 21:53] #5687 closed

[2020-03-09 21:56] #7187 closed

[2020-03-09 21:59] xirzec commented on #6371
I'm going to close this issue again, we can revisit it during the design review for core-tracing GA

[2020-03-09 21:59] #6371 closed

[2020-03-09 22:02] chradek commented on #2773
Closing this as we've got a PR to add the IoT Hubs sample and have determined which operations can be called using an IotHub connection string.

[2020-03-09 22:02] #2773 closed

[2020-03-09 22:04] chradek commented on #7398
event-hubs version 5.0.2 added the security_token fix for Azure Stack. We also created a sample for eventhubs-checkpointstore-blob that shows how to downlevel the storage-blob container client for azure stack.

[2020-03-09 22:04] #7398 closed

[2020-03-09 22:23] xirzec commented on #7692
I'll let @chradek handle the specifics of this issue, but I think console.log() is formatting the class name of the object type as a pretty-print feature rather than giving you direct JSON.

Using `console.log(JSON.stringify(messages))` might help.

[2020-03-09 22:40] chradek commented on #6500
This was completed in #6602

[2020-03-09 22:40] #6500 closed

[2020-03-09 22:43] chradek commented on #6499
Completed by #6602

[2020-03-09 22:43] #6499 closed

[2020-03-09 22:49] chradek commented on #2541
We've fixed issues with bundling event-hubs for browsers in version 5.0.1. Closing this issue, but feel free to open a new one if still facing issues bundling the SDK.

[2020-03-09 22:49] #2541 closed

[2020-03-09 23:21] HarshaNalluru commented on #4733
Migration - replacing node-abort-controller with @azure/abort-controller https://github.com/Azure/azure-sdk-for-js/pull/5335 caused issues which finally led us reverting back to node-abort-controller #5555

[2020-03-09 23:28] schaabs opened #7731 "[Identity] AzureCliCredential should validate scopes passed to it before using in command line parameters."
The command line argument needs to be validated to prevent unintended execution.

The validation from the .NET version of this credential can be found here, https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/src/ScopeUtilities.cs#L46-L54.

[2020-03-10 00:44] HarshaNalluru opened #7734 "[Service Bus] Tests for settlement methods in "receiveAndDelete" mode"
https://github.com/Azure/azure-sdk-for-js/pull/7626#discussion_r389969617

[2020-03-10 00:46] HarshaNalluru opened #7735 "[Service Bus] Add samples for track 2 service-bus"
Add samples for track 2 service-bus in a separate folder without disturbing the existing samples for the stable version.

[2020-03-10 01:19] xirzec commented on #7706
It feels weird to make consumers spelunk around in our package to see how our TS output is configured though. Perhaps we should make a standard README section that talks about what TS config is needed (if any, e.g. lib) to consume the package?

[2020-03-10 01:25] bterlson commented on #7706
IMO: If I'm looking at TypeScript that is inside a package, I would expect to find a tsconfig in that package, similar to how I expect to find tsconfig next to source files in this repo. I would not expect a readme to contain this information. Note there is a large distinction between settings you need in your tsconfig to consume our package, which is fine README material, vs. settings we have to

[2020-03-10 01:33] bterlson commented on #7706
But for the record I'm +1 on removing all the tsconfigs from our packages since they're pretty tied up with our monorepo structure. I'd support some build process that allows us to include a working tsconfig in our packages, however!

[2020-03-10 02:33] hally9k commented on #6706
@chradek Hey! I am finally back around to this and we are now fully blocked by this issue. Can we jump on a call and get to the bottom of this one asap? It would be awesome if we could resolve this!

[2020-03-10 02:42] NullMDR commented on #7209
@weshaggard Yes. Automation will no longer create branches in SDK repo.

[2020-03-10 03:52] KarishmaGhiya commented on #7563
we don't want to move @azure/synapse to rush, since it doesn't have any characteristics of a track 2 library. it is more aligned with management plane libraries, since it uses arm-templates for autogeneration. Closing this task.

[2020-03-10 11:06] kevboutin commented on #7692
Ummm no. This is not going to work. The response must be fixed.

2020-03-10T11:05:45.836 [Information] Caught an error trying to receive messages or closing the queue. TypeError: Converting circular structure to JSON
    at JSON.stringify (<anonymous>)

[2020-03-10 13:34] ljian3377 opened #7743 "[storage][test] Highlevel downloadToFile failed"
Highlevel downloadToFile should success

[code]

[2020-03-10 13:48] sadasant opened #7744 "[KeyVault] Move code to a common folder"
Here is a list of the code that I think can be moved to a common folder:

- The test utils, which contain 6 files and a file with unit tests. I have a PR for this already: #7612
- From the core folder, `KeyVaultClient`, `challengeBasedAuthenticationPolicy` and the `parseKeyvaultIdentifier`.

[2020-03-10 16:10] chradek commented on #7692
@kevboutin
`receiveMessages` returns an array of [ServiceBusMessage](https://docs.microsoft.com/en-us/javascript/api/@azure/service-bus/servicebusmessage?view=azure-node-latest). This is a class that contains the message data as well as methods to settle the message.

The `body` field on each message should contain the data that was in the message body when it was sent to Service Bus.

[2020-03-10 16:18] chradek commented on #6706
@hally9k
Can you share more about the environment your code is running in? A VM in Azure, a container, locally, etc? Are you able to connect to your event hub from a different environment? Also is this with event-hubs version 5.x?

If you reach out to support again they should be able to help set up a call/go deeper with troubleshooting if we need info from the service team as well.

[2020-03-10 16:25] kevboutin commented on #7692
@chradek Yes, this I know. Refer to my code above and you'll see that I used the statement:
`context.log('Message:', messages[0]);`
to paste the logged message I shared.
I cannot parse the ServiceBusMessage instance due to no colon in the malformed JSON.

[2020-03-10 16:41] chradek commented on #7692
@kevboutin
`messages[0]` is referring to an instance of `ServiceBusMessage`. This is a class, and to @xirec's point when you log it with context.log it isn't logging a JSON object, but a text representation of the class. I believe what you want to log is `messages[0].body`, which should contain the actual body of your message which you can then parse.

[2020-03-10 16:44] chradek commented on #6706
@hally9k
Can you also run `npm ls rhea-promise` in your project root and see if multiple versions of rhea-promise are showing up?

[2020-03-10 16:54] #7473 closed

[2020-03-10 16:55] willmtemple commented on #7477
We have decided to leave this modeled as a string in JS. We might revisit this later, but this is closed for now.

[2020-03-10 16:55] #7477 closed

[2020-03-10 16:57] kevboutin commented on #7692
@chradek I tried it. The logged message is:
2020-03-10T16:55:25.197 [Information] Message: null

The code:
[code]

[2020-03-10 17:27] chradek commented on #7692
Can you share how messages are being sent to the queue? Are `userProperties` being set instead of `body`? Based on what you logged earlier I can see that the label was set, but can't tell what the body contains. Is it possible some messages were sent without a body?

If you want to get more depth out of the `message` logged by context.log, you can override the depth by setting [util.inspect.defaul

[2020-03-10 17:45] kurtzeborn commented on #3739
@KarishmaGhiya, not sure if this is still a problem.  Please take a look.

[2020-03-10 18:02] kurtzeborn commented on #5418
Adjusting labels on this issue to reflect where the work needs to happen.  The client team needs to clean up/disable all current ESLint errors.  Then they can easily work with @KarishmaGhiya to make the small pipeline change needed to treat ESLint errors as build breaks in PR/CI.

[2020-03-10 18:24] xirzec commented on #7099
Released on npm as v 11.0.0-preview.1

[2020-03-10 18:24] #7099 closed

[2020-03-10 18:58] kevboutin commented on #7692
Here is the sender code:
`    const sbClient = ServiceBusClient.createFromConnectionString(connectionString);

    // If sending to a Topic, use `createTopicClient` instead of `createQueueClient`
    const queueClient = sbClient.createQueueClient(queueName);
    const sender = queueClient.createSender();

    try {
        for (let index = 0; index < listOfScientists.length; index++) {

[2020-03-10 19:23] chradek commented on #7692
@kevboutin
Thanks for sharing the sender code. For reference, here are the fields that can be set on the message that is sent:
https://docs.microsoft.com/en-us/javascript/api/@azure/service-bus/sendablemessageinfo?view=azure-node-latest

I think what you're expecting is for the fields you have in `message` to be treated as a JSON body. To do that you'll need to modify your message code to somethin

[2020-03-10 19:26] hally9k commented on #6706
@chradek I got to the bottom of this yesterday, it was resolved by uninstalling all other @azure packages, but when I tried to reinstall them in a stripped down reproduction it didn't reproduce. A dependency resolution bug basically. I'm happy to close this although I've had transient dependency resolution issues with the the @azure packages before so maybe it's something to look into in terms of

[2020-03-10 19:33] HarshaNalluru commented on #5264
Re-opening since

[2020-03-10 19:33] chradek commented on #6706
@hally9k
Thanks for sharing! Were you previously using any of the preview versions of the SDK by chance? We were pinning to specific versions of some dependencies while libraries were in preview which might have caused some dependencies to be rolled into individual package node_modules rather than the project root node_modules folder. Once the libraries went GA we pinned to major versions of our d

[2020-03-10 19:34] HarshaNalluru commented on #5270
#7736

[2020-03-10 19:34] #5270 closed

[2020-03-10 19:34] HarshaNalluru commented on #5597
#7732

[2020-03-10 19:34] #5597 closed

[2020-03-10 19:35] HarshaNalluru commented on #4733
Closing the EPIC.

[2020-03-10 19:35] #4733 closed

[2020-03-10 19:36] HarshaNalluru commented on #5264
@bterlson 's workaround - https://github.com/Azure/azure-sdk-for-js/pull/6045

[2020-03-10 19:39] kevboutin commented on #7692
This fixes the issue. Thank you for that. Definitely would have expected a message/error on the sender side to prevent this.

[2020-03-10 19:39] #7692 closed

[2020-03-10 20:04] m12m3r commented on #2933
Hi @Kirushanr & @tonytamps, Did you find a solution? It is happening randomly - Thanks

[2020-03-10 21:58] jeremymeng opened #7752 "Investigate why we need Symbols.iterator polyfill for IE 11"
https://github.com/Azure/azure-sdk-for-js/pull/7747

As I can remember the storage browser tests used to work on IE 11 without this polyfill.  What change caused it to be needed now?  There are some known related things:

- async iterator definition changed in recent version of TypeScript
- we changed the PageT default in code-paging

not high priority though since its IE 11 only.

[2020-03-10 22:19] jongio commented on #7597
@jonathandturner - Can we try to get this in April?  We have .net and python done.

[2020-03-10 23:40] ljian3377 commented on #7076
Partially fixed by #7600. Still need to do Data Lake.

[2020-03-11 00:39] chradek commented on #7689
@evandropomatti
That's really interesting that the process is exiting in the case where your internet is disabled for 1:20 minutes. That shouldn't happen unless the client was closed, which also shouldn't happen unless `receiveMessages` returns with messages or an error! It's also odd that the `finally` block doesn't seem to get called in this case.

Can you turn on some logging so we can see what

[2020-03-11 03:03] hally9k opened #7762 "[Event Hubs] Long running consumers crashing with rhea-promise error"
- **Package Name**: @azure/event-hubs
- **Package Version**: 5.0.2
- **Operating system**: macOS 10.14.6
- [x] **nodejs**
    - **version**: 11.7.0
- [x] **typescript**
    - **version**: 3.7.2

**Describe the bug**
Long running consumers exit with:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Leave consumer client running

**Expected behavior**
Should not crash.

[2020-03-11 03:05] hally9k commented on #7762
@chradek This is where I got to after solving the dependency issues we were having.

My azure dependencies are as so:

[code]

[2020-03-11 03:28] LianwMS commented on #7433
Fix in the Readme temporarily and create the issues for generate readme code: https://github.com/Azure/autorest.typescript/issues/576

[2020-03-11 03:28] #7433 closed

[2020-03-11 03:58] dennisseah opened #7763 "@azure/arm-containerregistry: Argument of type 'ApplicationTokenCredentials' is not assignable to parameter of type 'ServiceClientCredentials"
- **Package Name**:
@azure/arm-containerregistry 7.0.0
@azure/ms-rest-nodeauth 3.0.3

- **Operating system**:
mac-os

- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ x] **typescript**
    - **version**: 3.8
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe

[2020-03-11 05:38] ljian3377 opened #7764 "[storage][feature] tune default settings (initialTranferSize) for paralle upload/download"
# Goal
Tune the default initialTranferSize and chunkSize for paralle upload/download to get better performance.

# Current behavior

## upload

Except for uploadStream(as can't get the size), we will do a single upload if data size is smaller than some threshold.

### For BlockBlob

If data size smaller than maxSingleShotSize (default 256MB) will be uploaded via a single PUT BLOB.
Else, block of b

[2020-03-11 05:46] ljian3377 opened #7765 "[storage][feature] Blobs new SAS generation API"
Discussed here: https://github.com/Azure/azure-sdk/issues/1040

[2020-03-11 13:33] sadasant commented on #5508
@jonathandturner hi! Do you think we can close this now? Now we're allowing users to pass in the version they want to use.

[2020-03-11 13:34] sadasant commented on #7277
This is done now! I'm closing this 🌞

[2020-03-11 13:34] #7277 closed

[2020-03-11 16:21] chradek commented on #7762
@hally9k
Can you run `npm ls rhea-promise` and `npm ls rhea` to check if multiple copies of either library is being pulled in? Also is there more to the stack trace?

Are you using a single EventHubConsumerClient/subscribe call to receive events from your event hub when you see this occur? Can you tell if this happens after a `processClose` handler gets invoked?

[2020-03-11 17:34] #7544 closed

[2020-03-11 17:34] #7706 closed

[2020-03-11 17:39] ramya-rao-a opened #7783 "Release Event Hubs April 2020 update for JavaScript"
This is a parent issue tracking the work planned for Event Hubs for the April update.
Code complete date: April 3rd, 2020

## API design
- [ ] **In Progress** Propose smarter send APIs such that the user doesnt have to one by one fill the `EventDataBatch` to be able to send events
- [ ] **In Progress** Propose API to control greedy claiming of partitions by the Event Processor

## Features
- [x] C

[2020-03-11 17:42] ramya-rao-a commented on #7310
Pending tasks have been moved to the April update as tracked in #7783

The March update for Event Hubs is version 5.0.2
Read the [Changelog](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-hubs/CHANGELOG.md#502-2020-03-09) for details.

[2020-03-11 17:42] #7310 closed

[2020-03-11 18:04] #7455 closed

[2020-03-11 19:53] evandropomatti commented on #7689
@chradek this was the output.

The program failed at 60 seconds, and then exited 20 seconds later).

[code]

I switched the timeout on `receiveMessages` to 10 seconds (instead of the default 60) and the error changed a bit:

[code]

[2020-03-11 21:19] xirzec commented on #7763
I believe this is similar to #7258; can you try using v2.0.5 of ms-rest-nodeauth?

I realize this may create an issue if you are depending on two different management libs that need different versions of ms-rest-nodeauth.

[2020-03-11 22:09] jongio commented on #6473
We just released a preview that enables az cli credentials via DefaultAzureCredential: https://www.npmjs.com/package/@azure/identity/v/1.1.0-preview1

Please try it out and provide feedback.

Thanks,
Jon

[2020-03-11 22:10] jongio commented on #6221
I saw this same issue today and we believe it was due to the SP being in a different tenant than the KeyVault.

[2020-03-11 22:45] evandropomatti commented on #7689
@chradek I was running on WSL 2 Ubuntu, so to make sure I installed the program on my Windows and the same problem happened.

[2020-03-11 23:13] munozemilio opened #7785 "client.versions.importMethod"
- **Package Name**: "@azure/cognitiveservices-luis-authoring":
- **Package Version**:  "4.0.0-preview.1",
- **Operating system**: Windows 10
- [ X] **nodejs**
    - **version**:  v12.1.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 3.5.1
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on http

[2020-03-12 00:34] dennisseah commented on #7763
Thanks @xirzec for your response to this issue. I cannot downgrade ms-rest-nodeauth to v2.0.5 because it is used by other people in the team. there is a not so nice workaround for this problem by using `any`

[code]

looking forward for a fix to address this. Thanks again

[2020-03-12 00:56] chrimc62 commented on #7785
A composite is defined as:
“composites”: [{“name”: “add”, “children”: [“a”, “b”]}]

The swagger file defines composites.children as objects—not strings.  This happened when hierarchical entities were introduced—and hierarchical entities are not allowed in composites.  This causes the cognitive service mapping/validation layer to try to turn strings into objects so the above would look like this:
“

[2020-03-12 01:04] HarshaNalluru opened #7786 "[Service Bus] Follow up items for `sending messages - "$cbs" endpoint time out issue`"
### CONTEXT
**When does "$cbs" endpoint time out error occur?**
Firstly, the top-level client initiates the connection, then the user gets a sender.
The message sender in service-bus determines "whether the AMQP sender link is open", before it tries to send the message. If the AMQP sender link is closed or never opened(example - sending the very first message),
  - SDK initializes the sender sessi

[2020-03-12 07:26] xyz-tw commented on #7629
@chradek we mistook it for an azure error, indeed each package includes it's sub-dependencies as required.
I have confirmed that it was an internal error, so I'll close this. Thanks for following up!

[2020-03-12 07:26] #7629 closed

[2020-03-12 08:12] qiaozha commented on #7763
@xirzec  will release a new package of arm-containerregistry solve that problem?

[2020-03-12 08:23] ljian3377 commented on #5969
Hey, as Data Lake is GA. Could you help with removing the `next` tag?

[2020-03-12 08:29] xirzec commented on #7763
I think if the new autorest codegen is used, then yes. @chradek can you confirm?

[2020-03-12 08:33] mortezasoft opened #7797 "Receiving TimeoutError from the SDK"
- **@azure/cosmos**:
- **3.6.2**:
- **Azure function app**:

**Describe the bug**

We are using Azure Cosmos DB nodejs SDK in an azure function. From time to time the process fails and we receive the following error response. It happens every few days.

`{"code":"TimeoutError","name":"TimeoutError","headers":{"x-ms-throttle-retry-count":0,"x-ms-throttle-retry-wait-time-ms":0}}`

There is no sign o

[2020-03-12 08:34] qiaozha commented on #7763
I am using 4.2.2 by the way

[2020-03-12 11:22] henriktuszynski commented on #6473
Just tried https://www.npmjs.com/package/@azure/identity/v/1.1.0-preview1 and it works.

[2020-03-12 14:25] ramya-rao-a commented on #5969
@KarishmaGhiya, Please help with removing the `next` tag on the data lake package

[2020-03-12 16:37] jeremymeng commented on #7701
specifically from Ted: make sure FileShares package doesn’t have a FileClient.CreateIfNotExists method as it can't be implemented safely.

[2020-03-12 17:00] kurtzeborn opened #7799 "DataLake library incorrectly has 'next' tag on it still"
The storage DataLake client libraries have GA'd but it appears that they still have the 'next' tag attached to their GAd libraries.  @KarishmaGhiya, please take a look.

Some comments in https://github.com/Azure/azure-sdk-for-js/issues/5969 about this.

[2020-03-12 17:01] kurtzeborn commented on #7799
@KarishmaGhiya is there any way we can automate this process so that the transition to GA automaticaly changes the tags on the package?

[2020-03-12 17:02] kurtzeborn commented on #5969
Closing this old issue. I've opened a new issue to track this here: https://github.com/Azure/azure-sdk-for-js/issues/7799

[2020-03-12 17:02] #5969 closed

[2020-03-12 18:34] a2441918 opened #7800 "Upgrade from v10 to v12"
Hi, I am trying to upgrade my code from v10 to v12 but have no idea on how to go forward. Can someone help me out with it please?

	import {
		Aborter,
		AnonymousCredential,
		BlobUploadCommonResponse,
		BlockBlobURL,
		StorageURL,
		uploadBrowserDataToBlockBlob
	} from '@azure/storage-blob';

	import { Upload } from '../types/models';

	const CREDENTIALS = new AnonymousCredential();
	const PIPEL

[2020-03-12 18:52] a2441918 commented on #7800
@XiaoningLiu @ramya-rao-a Can you enlighten me on this please as I could not find an upgrade guide for the same?

[2020-03-12 19:46] southpolesteve commented on #7797
Thanks for the report. Some questions for you:

1. Have you been able to reproduce the issue locally?
2. Are you manually setting any timeouts or using abort controllers anywhere?
3. How often are the functions getting called relative to the # of timeouts?

[2020-03-12 22:12] seank-com opened #7801 "Missing systemProperties when consuming messages from IoTHub"
- **Package Name**:
@azure/event-hubs
- **Package Version**:
5.0.0
- **Operating system**:
Linux in a node:alpine Docker container
- [ ] **nodejs**
    - **version**: 13.8.0
- [ ] **browser**
    - **name/version**: N/A
- [ ] **typescript**
    - **version**: N/A
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.mi

[2020-03-13 01:49] KarishmaGhiya commented on #7799
I can definitely look into automating that. Highlighting a few cases here:
When to remove next tag-

	- Current package to release is not a preview (semver detection) - condition:
		○ Published packages latest and next have same versions, then automatically delete the next tag
		○ Latest!=next but current semver > next semver and current semver > latest semver (test if 1.1.0-prev1 > 1.0.3)

[2020-03-13 02:23] galvesribeiro commented on #7479
Yo! Was looking for exactly this. I'm migrating a CosmosDB-based EventStore from .Net Core to TypeScript and strumbled on the lack of this API. The project is a no go now since we can't do batch conditional writes using this SDK.

The only workaround we see is by adding a stored procedure that takes the array of events to be written but I would like to avoid it since maintenance of stored procedur

[2020-03-13 02:51] XiaoningLiu commented on #7800
Hi @a2441918

There are some breaking changes during migration from v10 to v12:
- newPipeline() is now a global function
- Highlevel methods like uploadBrowserData() is member methods of blockBlobClient

Find latest API references for V12 from here: https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-storage-blob/12.1.1/classes/blockblobclient.html#constructor

Take following example

[2020-03-13 03:00] XiaoningLiu commented on #7676
@JerryPei1997 Thanks for reporting! Will check and update for comments and descriptions. In the same time, welcome to contribution.

For the 2nd suggestion about "se" to "expiresOn". This message is returned from Azure Storage service.

[2020-03-13 03:35] HarshaNalluru opened #7806 "[Service Bus] Move the settlement methods out of ServiceBusMessage"
https://github.com/Azure/azure-sdk-for-js/pull/7803#discussion_r391966740

[2020-03-13 08:07] SumitPopat opened #7807 "List/Get/Delete calls for network watcher flow logs are not available in the azure-sdk-for-js library"
- **Package Name**: @azure/arm-network
- **Package Version**: 16.0.0
- **Operating system**: Mac OS Catalina
- [ ] **nodejs**
    - **version**: 10.17.0
- [ ] **browser**
    - **name/version**: Chrome/80.0.3987.122
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.

[2020-03-13 09:54] mortezasoft commented on #7797
1. Not really. That does not happen so often and it's only in production.
2. Nope. There is no setting for that.
3. The function gets executed 3 times a minute  and hits Cosmos DB 15 times in total. The errors occur once or twice a week and total number of exceptions are about 20 and number of failed requests less than 10.

[2020-03-13 13:57] a2441918 commented on #7800
Thanks man. This worked. Appreciate your timely response.

[2020-03-13 13:57] #7800 closed

[2020-03-13 17:15] #7587 closed

[2020-03-13 17:55] chradek opened #7810 "[event-hubs] support receiver redirect"
## Background
The Event Hubs service supports redirects for amqp receiver links. When the client creates an amqp receiver link with redirects enabled, the service will respond with an `amqp:link:redirect` error if it also supports redirects. The error contains the information needed to create a new connection to the service.

The main benefit of receiver redirect is it allows a more direct connect

[2020-03-13 19:15] xirzec commented on #7801
@chradek can you please look into this? Seems like we have an opportunity to better document for contributions too.

[2020-03-13 19:20] xirzec commented on #7763
maybe @daviwil also knows

[2020-03-13 19:43] iscai-msft opened #7814 "[text analytics] Rename input parameter"
Change `inputs` parameter name to `documents`.

Make sure to update all references in readme and samples, and docstrings

[2020-03-13 19:49] daviwil commented on #7763
`@azure/ms-rest-nodeauth` 3.0.3 is not compatible with `@azure/arm-containerregistry` 7.0.0 because `@azure/arm-containerregistry` depends on `@azure/ms-rest-js` 1.0 (`@azure/ms-rest-nodeauth` depends on `@azure/ms-rest-js` 2.0).  This causes a compile-time incompatibility between a credential from `ms-rest-nodeauth` and the `ServiceClient` class from `arm-containerregistry`.

As Jeff suggests, yo

[2020-03-13 20:14] richardpark-msft opened #7815 "[service-bus] track2 - ensure proper identification of topic/subscription vs queue with forward slashes"
Basic issue here is that it's perfectly legal to create a queue with slashes in the name.

Internally somebody (we won't name names) added code that does a string match across entitypath. We should add in better logic (storing entity _type_ seems like a simple way to do that).

This is explained throughly in @HarshaNalluru's comment here: https://github.com/Azure/azure-sdk-for-js/pull/7803#discuss

[2020-03-13 20:17] richardpark-msft opened #7816 "[service-bus] track2 - provide validation for entity name to make sure it matches if the user passes in a connection string with an entity name"
If the user uses a connection string with an entity name encoded in it we should provide validation in the various methods that allow you to instantiate and make sure the entity name matches.

Easy fix :)

_Originally posted by @HarshaNalluru in https://github.com/Azure/azure-sdk-for-js/pull/7803#discussion_r391969073

[2020-03-13 21:02] richardpark-msft opened #7818 "[service-bus] Track2 - migrate settlement methods back to the message"
After some more discussion we've come to the conclusion that moving the settlement methods back to the Message makes sense.

- Gives track 1 users an easier transition
- One less object to pass back and into methods for both subscribe() and iteration based models
- Allows better decoupling between the receiver and the message.

[2020-03-13 21:17] jongio commented on #7079
I get the following when installing @azure/keyvault-secrets

`npm WARN deprecated @opentelemetry/types@0.2.0: Package renamed to @opentelemetry/api, see https://github.com/open-telemetry/opentelemetry-js`

[2020-03-13 21:45] Tyriar opened #7819 "Cosmos type ResourceResponse.resource should be optional"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.4.2
- **Operating system**: (not relevant)
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

The types for `ResourceResponse` are not accurate as `.resource` does not come back if no items are returned from the result of

[2020-03-13 21:56] HarshaNalluru commented on #7815
This issue could very well be scrapped now.. if Ramya's new proposal for having the subscription manager separately on the top-level client gets finalized. 🥇

[2020-03-13 22:07] mayurkale22 commented on #7079
We rename the package from `@opentelemetry/types` to `@opentelemetry/api` since `0.4.0`.

[2020-03-13 22:08] richardpark-msft commented on #7815
Yes, yes it could :) It'd be nice to not have it be ambiguous. Also, not requiring the user to create a Receiver.

[2020-03-13 22:20] jongio commented on #7079
Are you saying this is resolved and waiting to be deployed?

[2020-03-13 22:30] mayurkale22 commented on #7079
`@opentelemetry/api` is already published to `npm`. This is the PR: https://github.com/open-telemetry/opentelemetry-js/pull/727

[2020-03-13 22:31] jongio commented on #7597
While Python uses the name KnownAuthorities, KnownAuthorityHosts looks like the better name for the other languages.

[2020-03-13 22:35] jongio commented on #7079
Correct, My comment was to confirm that we are still referencing types.  Need to update to api.

[2020-03-13 22:43] dyladan commented on #7079
This repo is still referencing `types` and needs to be updated to reference `api`. I also suggest that you change your semver scheme from `^x.y.z` to either `~x.y.z` or lock versions with `x.y.z` otherwise you may receive breaking changes during updates until we reach stable `1.0.0`.

[2020-03-13 23:03] richardpark-msft commented on #1424
- Do dead letter queues interact with sessions at all?

[2020-03-14 01:50] southpolesteve commented on #7479
The only current workaround is the one you mentioned, using stored procedures. This is on my plate, but I don't have a firm ETA yet

[2020-03-14 02:05] xirzec commented on #7079
@jongio are you blocked by this? Our plan was to release our final preview with OT beta (eta Mar 16)

@dyladan caret ranges for `0.x.x` work differently than after major version 1. Specifically, caret does not allow the left-most non-zero value to change. E.g. `^0.3.0` will not accept `0.4.0` or higher. source: https://docs.npmjs.com/misc/semver#caret-ranges-123-025-004

[2020-03-14 02:13] galvesribeiro commented on #7479
Ok thanks, I'll keep an eye here. Thanks!

[2020-03-14 02:16] jongio commented on #7079
No. Just included in case some Googles that message.

________________________________
From: Jeff Fisher <notifications@github.com>
Sent: Friday, March 13, 2020 7:05:33 PM
To: Azure/azure-sdk-for-js <azure-sdk-for-js@noreply.github.com>
Cc: Jon Gallant <Jon.Gallant@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-js] OpenTelemetry types package renaming (#7079

[2020-03-14 02:22] galvesribeiro commented on #7479
@southpolesteve one question... I've looking at the REST API docs for the API that support batch but I can't find the docs. I was wondering if while you don't have the SDK updated, I could post the rests there. It is a pretty simple scenario we have here which only requires batch append and on a few use cases a replace/upsert request so maybe we can use the REST API while the SDK isn't out.

Do yo

[2020-03-14 02:30] southpolesteve commented on #7479
The API isn't public yet. The above is just based on my own notes.

[2020-03-14 02:32] galvesribeiro opened #7825 "CosmosDB Stored procedures fail to marshall multiple parameters"
If you have a procedure defined as this:

[code]
The output would be the `[` character since the input is being received as an string.

However if you define the procedure like this:

[code]

That would print the proper json object.

We're using the `@azure/cosmos: 3.6.2`.

On the first procedure, we are invoking by passin an array `[streamId, events, eTag]` while on the second, I'm passing a sing

[2020-03-14 02:33] galvesribeiro commented on #7479
Oh! Ok. So I wonder how the .Net SDK is working then...

[2020-03-14 02:36] southpolesteve commented on #7479
The .NET SDK actually uses a slightly different API internally. Since .NET has "direct mode" where it makes a direct TCP connection to a backend replica, it can do some things we cannot do yet in the JS SDK.

[2020-03-15 06:48] seekerlee opened #7828 "Cannot construct NetworkManagementClient because type incompatible @azure/arm-network"
- **Package Name**: @azure/arm-network
- **Package Version**: 19.1.0
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [x] **browser**
    - **name/version**: Edge dev preview
- [x] **typescript**
    - **version**: 3.8.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bu

[2020-03-15 09:41] julie-ng commented on #7647
@sadasant  thanks for the thorough changes. The customer use case with the Azure Function turned out to be a Networking issue or at least out of SDK scope.

So closing for now.

[2020-03-15 09:41] #7647 closed

[2020-03-15 17:59] jonathandturner commented on #7597
Yes, we should be able to. Should I grab the list of known authorities from the python version?

[2020-03-15 18:03] jongio commented on #7597
Yep. Thanks 🙏

[2020-03-15 18:25] tonytamps commented on #2933
@m12m3r I did solve it but I don't remember how.

I'm using `@azure/storage-blob` and it's _pinned_ to version `10.3.0` - Don't remember why.

Here is the code I'm successfully working with:

[code]

[2020-03-15 18:30] tonytamps commented on #2933
I have a vague memory that it had something to do with a dependency version mismatch. Maybe even to do with Azurite. Not sure if you're using Azurite @m12m3r ?

[2020-03-15 20:42] jonathandturner commented on #7731
Fixed as part of https://github.com/Azure/azure-sdk-for-js/pull/7669

[2020-03-15 20:42] #7731 closed

[2020-03-15 20:43] jonathandturner commented on #7597
Current PR: https://github.com/Azure/azure-sdk-for-js/pull/7829

[2020-03-15 23:02] RDalziel opened #7830 "@azure/arm-authorization API Version used for Role Definitions incorrect"
- **Package Name**: @azure/arm-authorization
- **Package Version**: 8.3.2
- **Operating system**: Windows
- [X] **nodejs**
    - **version**: 12
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 3.8.3
- Is the bug related to **documentation** in
  - [x] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug

[2020-03-16 08:42] zidaneymar opened #7833 "How to create an app registration with azure js sdk?"
For now I can register an app on azure portal

![image](https://user-images.githubusercontent.com/9328933/76737984-bd830800-67a4-11ea-973e-e5ce2661e932.png)

How can I register an application with this JS sdk? Thanks

[2020-03-16 09:44] nickzhums commented on #6343
The changes are live so closing this issue

[2020-03-16 09:44] #6343 closed

[2020-03-16 16:53] jeremymeng commented on #5011
#7211 enabled username and password in proxy url strings in @azure/core-http.  Need to port the fix to ms-rest-js for management libraries.

[2020-03-16 17:45] AlexGhiondea opened #7835 "[search] Update package name and namespace"
`Azure.Search` -> `Azure.Search.Documents` or equivalent

Also reset version to 1.0.0-preview.2

[2020-03-16 18:32] xirzec commented on #7835
We don't have namespaces in JS, so does this mean we want to change the package name? Since nightly already published to `@azure/search` that name is spent up to version 11 now.

[2020-03-16 18:40] xirzec commented on #7833
I'm not sure that there is an API to automate this process right now. Perhaps @qiaozha can say definitively?

[2020-03-16 18:43] xirzec commented on #7828
This seems to be another instance of a management package needing to be regenerated to work with the newer version of `ms-rest-js`, see #7763

[2020-03-16 18:55] richardpark-msft opened #7836 "[service-bus] Track 2 - processError() is not actually async"
[ edit - originally this issue was to figure out how to make the internals async (to match what we do in EventHubs). However, the internals of Service Bus make that not critical - it's okay to simply let the error handler run without coordinating that with processMessage ]

Make it so we properly call the user's async processError() by handling any thrown any exceptions. Like in EventHubs we'll ju

[2020-03-16 19:38] AlexGhiondea commented on #7835
Yes -- the package name. That is unfortunate... I don't suppose there is anything we can do there, correct?

[2020-03-16 20:10] xirzec commented on #7835
My understanding is we could delete it but it would be forever gone at that point.

Details: https://docs.npmjs.com/unpublishing-packages-from-the-registry

For now we can deprecate it and link to the new name when it is released.

[2020-03-16 21:37] xirzec commented on #7835
Current candidate: `@azure/search-documents`

/cc @bterlson do you like this name?

[2020-03-16 21:58] xirzec opened #7837 "[search] Implement index management operations"
Things to consider

- How to represent extensible enums (e.g. analyzers)
- Fixing bad codegen with abstract baseclasses
- An object model for fields when creating/modifying an index

[2020-03-16 22:00] xirzec opened #7838 "[search] React to preview 1 feedback"
Naming updates, method signature changes. Make sure to document any breaking changes in the changelog.

[2020-03-16 22:01] xirzec opened #7839 "[search] design / implement skillsets"
Initial convenience surface for skillsets

[2020-03-16 22:02] xirzec opened #7840 "[search] design/implement synonymmap support"
Initial convenience layer methods/functionality

[2020-03-16 22:05] xirzec opened #7841 "[search] Implement batching model that aligns to other languages"
We should have a batch class that has convenience methods for adding specific types of batch operations and have a submitBatch method instead of the current manually assembled payload.

This helper class should also do validation on the batch itself. .NET will share guidance for what checks should be performed client-side.

[2020-03-16 22:10] xirzec opened #7842 "[search] Investigate/implement strong typing for facet results"
See if there is a way to return strongly typed facet information for queries that use faceting.

[2020-03-16 22:11] xirzec opened #7843 "[search] unify on continuation token design"
See what other languages come up with -- current proposal is taking the params + service version and using base64 to encode it.

[2020-03-16 22:13] xirzec opened #7844 "[search] unify on what to do about GeographyPoint / consider moving to Core"
GeoJSON point data is represented in other languages as a common type. We implemented a simple GeographyPoint type in preview 1, but we should look at what cosmos did and consider creating a generic class / interface in Core.

[2020-03-16 22:41] bterlson commented on #7835
My only real concern is that we'll have `@azure/search` there forever at this point. Should we just use it since we already burned it?

If we really do want to align here, then `@azure/search-documents` is fine by me!

[2020-03-17 01:13] Adrian-in-Aus opened #7848 "struggling to create [storage] SAS blob signatures without SDK"
I'm sure what I'm about to share is trivial,  however I been at this for days,   with the help of the helpdesk,  and we are get to find the working combination.   Unfortunately I am writing in javascript in an environment unable to Import SDKs so need to author the signing logic from primatives.

With reference to:  https://docs.microsoft.com/en-us/rest/api/storageservices/create-account-sas , I a

[2020-03-17 03:59] #7819 closed

[2020-03-17 07:24] qiaozha commented on #7833
@nickzhums  Looks like we don't have app registration in swagger as a RP ? Can you help to confirm ？ Thanks.

[2020-03-17 07:35] qiaozha commented on #7763
@daviwil   I found when I using @microsoft.azure/autorest.typescript 4.2.2, the dependencies of ms-rest-js and ms-rest-azure-js also changed into 2.0.+. Is it enough for @azure/ms-rest-nodeauth ？
![image](https://user-images.githubusercontent.com/55688292/76832753-f387c100-6864-11ea-8204-e9c9e5eb1475.png)

[2020-03-17 14:17] subesokun opened #7855 "Role assignment on storage account container level"
**Is your feature request related to a problem? Please describe.**

I'd like to add/remove role assignments on a storage account container level (not on a resource level), similar to the CLI command as described in https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac-cli

[code]

Is there a way to do that already with the current JS SDK? If not, could you add support for tha

[2020-03-17 16:21] southpolesteve commented on #7825
@galvesribeiro I'm not able to reproduce this issue. Here is my code:

[code]

Can you add code showing how you are calling the stored procedure?

[2020-03-17 17:43] KarishmaGhiya opened #7857 "Transition to Typedoc 0.17.x"
- New Typedoc 0.17.x is out. Simply changing the version from 0.16.x to 0.17.x exposes some private fields and Typings etc. Review and make changes to the settings and configs for Typedoc command -
- https://typedoc.org/guides/options/#excludeprivate
- Be sure to run and generate the docs for all packages and have it reviewed by all library owners
- Reference discussion - https://github.com/Azure/

[2020-03-17 17:54] weshaggard commented on #2575
@KarishmaGhiya I assume we are not going to do this based on the approach you are going to tackle https://github.com/azure/azure-sdk-for-js/issues/7050 correct? If so please close this issue.

[2020-03-17 17:55] weshaggard commented on #5337
@KarishmaGhiya  have we separated these for unit tests yet?

[2020-03-17 18:38] richardpark-msft commented on #7529
From the service team issue, this fix has been deployed. Closing this issue.

[2020-03-17 18:38] #7529 closed

[2020-03-17 19:12] xirzec commented on #7848
Hi @eagorx, I'm not the expert in this space (I'll let @XiaoningLiu  answer definitively), but I did find this code that seems to be a way to accomplish what you want: https://github.com/Azure/azure-sdk-for-js/blob/9954ed19b7bf3dd5d61c5d07097e13fdee9b8e19/sdk/storage/storage-blob/src/AccountSASSignatureValues.ts#L113

Though it seems to be Node-only because it's using the NodeJS crypto module when

[2020-03-17 20:07] KarishmaGhiya commented on #2575
I think i can give this method a shot on my local nad see how it works. If it gives me the same issue that i was running into before with rush (the builds and tests failing due to internal source references) then i will proceed with whatever i have planned for #7050

[2020-03-17 22:52] lilyjma commented on #5364
Hi @trylle  I was wondering if you'd be willing to share with us your experience working with this library so far. We're committed to improving our SDK, GitHub support process, and documentation. Your feedback is extremely helpful to us, so please let us know if we can hop on a quick call to discuss it. Thanks!

[2020-03-17 23:35] #7690 closed

[2020-03-17 23:35] #7818 closed

[2020-03-18 02:42] KarishmaGhiya commented on #5337
We have one unit-test step which runs both browser and node tests.  so the question is do we want to run both browser and unit tests as a separate job or just separate tasks where the browser tests continue even when node tests fail?

[2020-03-18 02:55] KarishmaGhiya opened #7866 "Limit sdk bot to run only on releases from master"
Reference conversation - https://github.com/Azure/azure-sdk-for-js/pull/7863#issuecomment-600383089

[2020-03-18 03:15] galvesribeiro commented on #7825
For this sproc:

[code]

This invokation:

[code]
That works just fine.

However for this sproc:

[code]

With this invokation:

[code]

I get a `[`. It looks like the sproc in the second case makes the `events` parameter a `string`. Hence why `event[0]` is the first character of the (JSON array) string `[`.

[2020-03-18 03:49] #7671 closed

[2020-03-18 03:54] danieljurek opened #7867 "Smoke Tests should use dynamic resource allocation"

[2020-03-18 05:24] qiaozha commented on #7828
@xirzec  The version of Network SDK is already 2.X  https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/network/arm-network/package.json#L7 why there still has problems.

[2020-03-18 06:20] eagorx commented on #7848
thank you @xirzec,    reading through the code,  and the corresponding IMPORT'ed code.  And still find myself pausing at the line:
`signature: string = sharedKeyCredential.computeHMACSHA256(stringToSign);` unclear how that performs what the instructions say:

- _The signature is an HMAC computed over the string-to-sign and key using the SHA256 algorithm, and then encoded using Base64 encoding."_ o

[2020-03-18 07:48] zidaneymar commented on #7833
Yes, I can't find a specific package under js sdk to do this thing.
But I find a doc about how to register applications with [msgraph api](https://docs.microsoft.com/en-us/graph/api/application-post-applications?view=graph-rest-1.0&tabs=http), but it seems that the token responded by the azure login is different from the msgraph token.

Do we have a workaround to register applications on code leve

[2020-03-18 08:13] nickzhums commented on #7833
@zidaneymar Right, there is no swagger for this service so we don't have SDKs for it. did you look through Powershell or Azure CLI ?

[2020-03-18 08:51] xirzec commented on #7848
The implementation of that method is here: https://github.com/Azure/azure-sdk-for-js/blob/b06155cee36974954fc955cd65d36496c72946d4/sdk/storage/storage-blob/src/credentials/StorageSharedKeyCredential.ts#L70

Hope that helps!

[2020-03-18 08:55] HarshaNalluru commented on #5337
Sounds good.

[2020-03-18 09:44] RodgeFu commented on #7830
Assign to Chunyu to have a look. thanks

[2020-03-18 10:01] chenjianfei2017 commented on #7807
here "not available" means these three calls interfaces vanished or these calls return some errors from service?

[2020-03-18 10:09] SumitPopat commented on #7807
The `flow log` details were earlier available in the `networkWatchers.get` call.
https://github.com/Azure/azure-sdk-for-js/blob/a8002ae32fe4239fb35a4fa45add095077e04ce6/sdk/network/arm-network/src/operations/networkWatchers.ts#L86
It's doesn't return the flow log details anymore.
Also, there are no new API calls available for the flow logs.

[2020-03-18 15:55] weshaggard commented on #7866
Instead of focusing on the branch we should instead focus on the version update is greater then what is in master and if it is then submit the PR if it is less then it should not submit the PR. We should be able to implement that logic in the version script, but we need to figure out how to pull the latest version from master.

[2020-03-18 16:01] zidaneymar commented on #7833
I'm trying to do this in a node js service so I need to avoid using Azure CLI or Powershell.

By the way, do we have any operations inside sdk which could deploy the local dotnet service to azure web app service? I found a doc [here](https://docs.microsoft.com/en-us/azure/app-service/deploy-zip), but it needs Azure CLI. Does Azure js sdk support this?

[2020-03-18 17:22] ebower12 opened #7869 "firewallRules listByServer throws Invalid Array Length error."
- **Package Name**: @azure/arm-sql
- **Package Version**: 6.0.0 and 7.0.0
- **Operating system**: macOS Catalina 10.15.3
- [x] **nodejs**
    - **version**: 11.8.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.7.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

[2020-03-18 19:18] xirzec commented on #7828
Actually, this looks like a subtly different bug with types. One mistake that was made was typing public interfaces with a concrete class (`WebResource`) instead of using an interface type that omits private members. We have similar issues inside `@azure/core-http`.

@daviwil can you take a look at what is going on here specifically?

[2020-03-18 20:58] southpolesteve commented on #7825
@galvesribeiro I'm having trouble telling what is going on with just that code. I can't see where you are creating the sproc or logging out the header that has the console log information.

Can you try repurposing my code to reproduce the issue? I've modified it to create the sproc so I know we'll be using the exact same function body. That will help me debug this:

[code]

[2020-03-18 22:02] Connor-Wood opened #7874 "Service Bus Receive Reliability"
- **Package Name**: azure/service-bus
- **Package Version**: 1.1.1
- **Operating system**: linux node:8.16-slim

**Describe the bug**
Message receiver has a bug where it will continuously fail until service restart. The below error occurs in the onError handler of registerMessageHandler. Recreating the receiver does not fix the issue. We have seen this issue multiple times that lasted for upwards

[2020-03-18 23:34] KarishmaGhiya opened #7877 "npm audit failing on manangement plane pipelines"
This is happening due to indirect dependencies on minimist library though gulp and @types/gulp
- eg pipeline- https://dev.azure.com/azure-sdk/public/_build/results?buildId=315291&view=logs&j=625e83d6-b5c7-5b2a-171b-c444b3fa368e&t=deee3440-509a-5348-122f-0dfcaa39b893

[2020-03-19 00:10] richardpark-msft opened #7882 "[service-bus] track2 - in the message handler options, maxConcurrentCalls isn't being respected"
When subscribe'ing to a queue or subscription you can specify, as part of the options, a `maxConcurrentCalls` parameter.

The doc for that option is:

[code]

(edited)

In track 1 the behavior was modulated, properly, by only adding credits as the user's callback resolved. This appears to have regressed in track 2 and is now doing the opposite of what I wrote above - it appears to only execute the

[2020-03-19 00:51] ifeoluwaokunoren commented on #4337
@KarishmaGhiya  do you mind providing more information on what is needed from the Azure Resource Manager(ARM) team since you added the ARM-Core label to this issue.

[2020-03-19 05:39] chunyu3 commented on #7830
I tried 'list' and 'createOrUpdate' method of role-definition SDK (version 8.3.2). And I cannot reproduce the issue.

[2020-03-19 06:51] zidaneymar opened #7885 "How to deploy a zip file to Azure app service?"
- **Package Name**: @azure/arm-appservice
- **Package Version**: latest

**Describe the bug**

I want to deploy a zip file including my dotnet service to Azure as an application serivce, but I don't know how to do that with this Azure js sdk.

I found [a doc about the Azure CLI way](https://docs.microsoft.com/en-us/azure/app-service/deploy-zip), does Azure JS SDK support this? (I can't use Azure C

[2020-03-19 07:40] trylle commented on #5364
Hi,

Our team has a Teams meeting with Elena Raikhman at 09-10:00 UTC today.
It looks like you're included in that meeting, so I guess we'll see you
then.

Regards,
	Frits Talbot.

On 17.03.2020 23:52, lilyjma wrote:

[2020-03-19 07:42] trylle commented on #5364
Sorry, that's 09:00-10:00 (UTC-08:00) Pacific Time (US & Canada).

Regards,
	Frits Talbot.

On 19.03.2020 08:40, Frits Talbot wrote:

[2020-03-19 18:03] jeremymeng opened #7896 "[FormRecognizer] consistency with other languages"

[2020-03-19 18:13] ramya-rao-a commented on #7882
The number of in-flight callbacks matches the number of credits which matches maxConcurrentCalls.

[2020-03-19 19:59] #7563 closed

[2020-03-19 20:43] HarshaNalluru opened #7903 "[Service Bus] Observe peek behaviour to make design decisions"
Attempt to peek a particular session that is known to be locked by a different receiver.

To Do -
- Send many messages to a sessionful entity with the same session-id
- With a session receiver, stream the messages which would mean the session is locked, then peek into the entity.
Case 1. In parallel, with a normal receiver, peek into the same entity
Case 2. In parallel, with a session receiver, pe

[2020-03-19 20:47] ramya-rao-a commented on #7801
@seank-com, Apologies for the delay in responding

Can you elaborate on how you do this so that we can try and repro this?

[2020-03-19 20:47] HarshaNalluru opened #7904 "[Service Bus] Test utils - Make `verifyAndDeleteAllSentMessages` more robust"
https://github.com/Azure/azure-sdk-for-js/blob/b2a067636d2e8fef8104342a8a616c8c0785d2b2/sdk/servicebus/service-bus/test/utils/testutils2.ts#L151

To do
- Can check more properties here other than just messageId and body
- Peek into the entity to make sure there are no messages left in the entity and throw error if there are messages left

[2020-03-19 20:51] HarshaNalluru opened #7905 "[Service Bus] Provide docs and samples `how to handle errors thrown`"
Documenting in the readmes telling what to do after the default SDK retries fail.
(`retryable`, `non-retryable` errors)

- What should the user do when the flag retryable set to true?
    - Default retries failed, do retry from your end ?
- What should the user do when the flag retryable set to false?
    - Maybe re-initiate the connection and then retry from your end ?
    - Maybe revisit the con

[2020-03-19 21:22] HarshaNalluru commented on #7067
Merged

[2020-03-19 21:22] #7067 closed

[2020-03-19 21:32] RDalziel commented on #7830
Just had another run - no luck! Running SDK 8.3.2  Running node 12.16.1

![image](https://user-images.githubusercontent.com/3485935/77117065-2aa6cf80-6a29-11ea-8296-8d5f326f628e.png)

[2020-03-19 21:39] #7799 closed

[2020-03-19 21:51] HarshaNalluru commented on #7673
Hmmm, didn't think that, code from getMaxMessageSize can be moved. Keeping the issue open to migrate shared code.

[2020-03-19 21:52] HarshaNalluru commented on #7734
#7787 Merged

[2020-03-19 21:52] #7734 closed

[2020-03-19 22:13] RDalziel commented on #7830
I think i've resolved it - It related to the scope i used in the parameters. Anything other than subscription/{subid} was causing issues!
Should the param just be subId? What scopes can you apply to?
Either way it's working so happy to close this :)

[2020-03-19 22:13] #7830 closed

[2020-03-19 22:29] xirzec commented on #7874
@chradek can you please take a look?

[2020-03-19 22:49] richardpark-msft commented on #7882
[ edited - added note about how this behavior appears to have regressed in track 2]

[2020-03-19 23:02] chradek commented on #7874
Thanks, I believe we'll be discussing this offline tomorrow. We can post back here what our findings are.

[2020-03-19 23:22] MikkoSaarikko opened #7907 "[service-bus] Type error: Missing 'host' in configuration"
- **Package Name**:  @azure/service-bus
- **Package Version**: 1.1.4
- **Operating system**: OS X Catalina 10.15.3
- [x] **nodejs**
    - **version**: 8.9.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe t

[2020-03-19 23:43] seank-com commented on #7801
@ramya-rao-a the repo steps above were not sufficient?

[2020-03-19 23:43] MikkoSaarikko commented on #7907
Noticed was using old Node.js version. Error still happening with latest LTS version (12.16.1)

[2020-03-19 23:57] richardpark-msft commented on #7882
Gah. Totally closing this - I apparently had stale code even after I thought I'd rebuilt. NEVER MIND!

[2020-03-19 23:57] #7882 closed

[2020-03-20 00:19] KarishmaGhiya commented on #4905
#7817 - Experimentation done

Closing this issue since the piepline caching is not adding any improvement to the overall performance in the build/analyze/test tasks. I have added pipeline caching for just the rush install step. It infact adds a few more seconds to each of the tasks.

Reference build without caching where rush install takes 53 secs- https://dev.azure.com/azure-sdk/public/_build/res

[2020-03-20 00:21] #4905 closed

[2020-03-20 01:45] KarishmaGhiya commented on #5337
#7909

[2020-03-20 02:29] ramya-rao-a commented on #7801
Thanks @seank-com

Do you mean the final contents in the storage blob?

@serkantkaraca,
Is the message id, content type and correlation id discussed above expected to be part of the event coming from Event Hubs?

[2020-03-20 02:45] qiaozha commented on #7885
Based on discussion offline. Don't think there's a such definition in swagger that can create deployments for now. https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/WebApps.json#L2390

Add @service-attention @nickzhums
It's a new feature requirement in SDKs.

[2020-03-20 02:47] jiacfan commented on #7855
Thanks for reaching us!

As I know, assigning role assignment is orthogonal to Azure storage and is related to Policy Administrator Service(and it's REST API is under [Authorization](https://docs.microsoft.com/en-us/rest/api/authorization/roleassignments) tree).

+ @ramya-rao-a Any suggestion on contactor suitable for this requirement?

Thanks,
Jiachen

[2020-03-20 03:04] Connor-Wood commented on #7674
Hi, just for another data point we just had an issue where 50% of the sends on a connection (over multiple connections) would fail with "amqp:link:detach-forced:detach-forced". Happened for an hour until we restarted the service.

This could have been a platform issue since it appears to have migrated from one service that isn't using this library to another one that is, (i.e. first service stoppe

[2020-03-20 04:44] serkantkaraca commented on #7801
@ramya-rao-a yes. See code here for the complete set of properties - https://github.com/Azure/azure-sdk-for-net/blob/1264615ef858e1c368e1ba2b89771fdb1be69428/sdk/eventhub/Microsoft.Azure.EventHubs/src/Amqp/AmqpMessageConverter.cs#L219

[2020-03-20 04:57] #7438 closed

[2020-03-20 05:11] jeremymeng opened #7920 "[FormRecognizer] Switch to use the new code gen"

[2020-03-20 16:29] jeremymeng opened #7923 "[FormRecognizer] Implementation"

[2020-03-20 16:57] richardpark-msft commented on #7903
From a terminology perspective - "Generic peek" here is "peek the queue/subscription without needing to acquire a session lock", right?

[2020-03-20 17:09] HarshaNalluru commented on #7903
yes.

[2020-03-20 17:23] #1424 closed

[2020-03-20 17:23] #7815 closed

[2020-03-20 18:19] ramya-rao-a commented on #7801
Thanks @serkantkaraca

@chradek Let's have the changes @serkantkaraca has pointed above in the upcoming April update

[2020-03-20 18:23] ramya-rao-a commented on #7801
Another reference to the missing properties based on the spec from AMQP can be found in section 3.2.4 in http://www.amqp.org/sites/amqp.org/files/amqp.pdf

[2020-03-20 19:11] heaths opened #7924 "PatternAnalyzer and PatternTokenizer should accept an array of RegexFlags"
Because it's expected that multiple `RegexFlags` may be used in `PatternAnalyzer` and `PatternTokenizer`, the `flags` property should be an array of `RegexFlags` that de/serialize as a |-delimited string.

[2020-03-20 19:17] ramya-rao-a commented on #7673
The code for `getMaxMessageSize` is fairly small and is tightly coupled with the need to initialize the sender link if it does not exist which we do for a few other operations as well. Therefore, I dont see the benefit of moving it to core-amqp

The code for the batch class itself on the other hand is big enough and shares a lot of event hubs and therefore is a candidate to be moved to core-amqp.

[2020-03-20 19:18] richardpark-msft commented on #1424
Answering my own question - they do not. The dead letter queue is not session enabled.

[2020-03-20 19:26] ramya-rao-a commented on #7619
#4376 introduces retry options on the client that will apply to all operations in the package. Whether we support customizing these options at sender/receiver level is yet to be decided.

The retry options allow you to define operation timeout which will cater to your point above

This applies to the normal receive operations because the package receives messages one by one and therefore there is

[2020-03-20 19:26] ramya-rao-a commented on #7619
cc @HarshaNalluru, @chradek

[2020-03-20 20:35] xirzec commented on #7907
@chradek Seems like a problem with a malformed connection string maybe?

/cc @ramya-rao-a

[2020-03-20 20:56] #5337 closed

[2020-03-20 23:10] #7837 closed

[2020-03-20 23:10] #7924 closed

[2020-03-21 01:16] ramya-rao-a commented on #7689
The PR #6601 attempted to fix this exact problem when #6065 was logged.

This log gets written as a prefix to the error seen when the underlying AMQP connection fires one of the below events
- disconnected
- error
- protocolError

In the PR #6601, we placed the fix to be triggered when the `disconnected` event occurs on the AMQP connection.

@chradek, When you are trying to repro the case, I belie

[2020-03-21 03:41] ramya-rao-a commented on #7907
@MikkoSaarikko This error can occur when the `Endpoint` in your connection string doesnt start with `sb://` as we use it to extract out the "host" from the value of Endpoint. Can you check your connection string? Did you get the connection string from the portal or via some other means

cc @HarshaNalluru, @richardpark-msft

[2020-03-21 03:46] ramya-rao-a commented on #4246
The package [@azure/storage-file-datalake](https://www.npmjs.com/package/@azure/storage-file-datalake) is now out of preview.

Please do try it out and share any feedback you have

[2020-03-21 03:46] #4246 closed

[2020-03-21 04:01] HarshaNalluru opened #7932 "Update mocha to 7.0.0"
After #7931 is merged..

Update to `mocha@7.0` is working fine in the repo when tested. Though it works, some tests might need a revamp..

Example test failure - https://dev.azure.com/azure-sdk/public/_build/results?buildId=326116&view=logs&j=23e2e6de-b7c3-5918-7121-f16b46172e49&t=7bd26578-88b4-5baa-f548-7813777930ca

[2020-03-21 04:02] #7920 closed

[2020-03-21 04:02] HarshaNalluru commented on #7932
@xirzec

[2020-03-21 04:05] #7437 closed

[2020-03-21 04:07] HarshaNalluru opened #7933 "[core-http] Update test scripts for consistency"
Followup issues from https://github.com/Azure/azure-sdk-for-js/pull/7931

`core-arm` and `core-http` packages have `mocha.opts` file.
TO DO - Remove the `mocha.opts` file and update test scripts in package.json accordingly to stay consistent with the other packages in this repo.

[2020-03-21 04:21] HarshaNalluru opened #7934 "Move the reporter options to the rush-yaml-scripts from individual `package.json`s"
Context - https://github.com/Azure/azure-sdk-for-js/pull/7931#discussion_r395959906

- The `--reporter` options are exactly same for all the SDKs.
- For local runs - we only need `spec reporter`  and not `junit-reporter`.
- `spec reporter` is the default reporter when we don't specify a reporter.
- Both `junit-reporter` and `spec reporter` are required in the CI.

One proposal is to move the repor

[2020-03-21 14:48] seank-com commented on #7801
@ramya-rao-a , yes after the messages land dump the contents of the json file.

[2020-03-21 21:46] evandropomatti commented on #7689
Hi @ramya-rao-a, here is the output.

Just so you know I'm at home now and got the same results.

[code]

[2020-03-21 22:46] alex-p-mai opened #7935 "SDK for cosmosdb Working for Mongo API"
- **Package Name**:  azure/cosmos
- **Package Version**: 3.2
- **Operating system**: Mac OSX
- [x] **nodejs**
    - **version**: 10.14.1
- [ ] **browser**
    - **name/version**:
- [x ] **typescript**
    - **version**: 3.6.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
This

[2020-03-22 01:28] HarshaNalluru opened #7936 "[Service Bus] Fix ClientType and its references in track 2 API"
![image](https://user-images.githubusercontent.com/10452642/77240281-65cc0e80-6ba1-11ea-800f-5155cad07322.png)
![image](https://user-images.githubusercontent.com/10452642/77240286-711f3a00-6ba1-11ea-8258-666f9a0c5bac.png)

- We no longer have QueueClient, TopicClient and SubscriptionClient
- Senders/Receivers are not being referred to as clients.
- And update docs wherever relevant.

[2020-03-22 01:28] HarshaNalluru commented on #7936
cc - @richardpark-msft

[2020-03-22 01:56] ramya-rao-a commented on #5291
@joheredi

Looks like some of the cognitives services sdk readme do have the note that the sample is in Typescript, see https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/cognitiveservices/cognitiveservices-customvision-training#how-to-use

Please review the readme of all the [cognitive services sdks](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/cognitiveservices) to ensure we

[2020-03-22 02:04] ramya-rao-a commented on #7874
Looks like there was a problem with either the receiver link or the entire AMQP connection and attempts were made to re-create a new link and session. [Opening this session has timed out](https://github.com/amqp/rhea-promise/blob/master/lib/connection.ts#L503).

@Connor-Wood, How did you eventually resolve the problem?

[2020-03-22 09:16] tchelidze opened #7938 "ServiceBusAtomManagementClient is not accessible"
Run [atomManagementApi.js](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/javascript/atomManagementApi.js) sample

Error

[code]

[2020-03-22 18:22] MikkoSaarikko commented on #7907
Hi,

Thanks for the reply. The problem was indeed with the connection string. I used the Azure PHP SDK before and in there the sb:// connection string yielded an error but https:// worked so it didn't even cross my mind that the problem might be there.

[2020-03-22 21:02] jsquire opened #7939 "Nightly Test Run Integration for Samples"
# Summary

In order to ensure that our samples are up-to-date and in good working order, they should be routinely validated by smoke testing them as part of the nightly test runs.

# Scope of Work

- Devise an approach to allow published samples to be smoke tested and run as part of the live test suite.

- Validate the design with your language team, architect, and, if needed, the engineering team

[2020-03-23 05:21] ramya-rao-a commented on #7907
Thanks for sharing that @MikkoSaarikko

@richardpark-msft, @HarshaNalluru,
Before closing this issue, lets find out the different schemes that we are to support in the connection string.

[2020-03-23 17:00] richardpark-msft opened #7951 "[Discussion] Proposal for a Session Manager for @azure/service-bus@7.0.0-preview.2+"
_The intent of this issue is to solicit feedback from the community in
advance of the GA of the next major version of the Service Bus library
(which will follow several Preview releases)._

_As a reference, the JavaScript Azure SDK guidelines can be found here:
https://azure.github.io/azure-sdk/typescript_introduction.html#_

## Introduction

Sessions allow a user to logically subdivide a queue or

[2020-03-23 17:26] joheredi commented on #5291
@ShunyaWatanabe thanks for bringing this up!

@ramya-rao-a, just looked at the other cognitive services SDKs and Custom Vision Prediction is the only one missing the note. I have sent out a PR to fix it

[2020-03-23 18:48] richardpark-msft commented on #7619
I'm good with that explanation. Closing....

[2020-03-23 18:48] #7619 closed

[2020-03-23 18:50] richardpark-msft commented on #2885
@HarshaNalluru  - will this come for free with the work you're doing for track 2 and propagating retries?

[2020-03-23 18:59] xirzec commented on #7938
@tchelidze can I ask what version of `@azure/service-bus` you are using? I think what may be going on is this sample is for 2.x.x and you are using a 1.x.x package.

[2020-03-23 19:14] NoelAbrahams opened #7957 "[CosmosDB] Provide TypeScript definitions out of the box"
Hi,

I couldn't find any up-to-date TypeScript definitions for CosmosDB.
Ideally the typings should be installed with the package when CosmosDB is installed via npm.

That is now some of the other Azure packages work, for example [Blob Storage](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage).
With that package, it's just a case of `npm install @azure/storage-blob` and then

[cod

[2020-03-23 19:25] chradek commented on #7938
@tchelidze
Sorry for the broken sample. We had been doing work to support the Atom Management client in service-bus but it has not been completed. It isn't currently exported, though it looks like the docs mistakenly picked up the class.

May I ask what you're trying to do with the Atom Management client? Does the [`@azure/arm-servicebus`](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/

[2020-03-23 19:29] richardpark-msft commented on #7806
Don't need to do this anymore since we literally decided to do the opposite and keep them on ServiceBusMessage.

[2020-03-23 19:29] #7806 closed

[2020-03-23 19:45] #6280 closed

[2020-03-23 20:37] richardpark-msft opened #7958 "[service-bus] Dead lettering a message with a reason and description doesn't work with deferred messages"
Deadlettering a message received via the management link (ie, getting deferred messages) doesn't properly set the dead letter reason or the dead letter error description fields.

This is an easy fix, coming in my next PR.

[2020-03-23 21:36] richardpark-msft opened #7959 "[service-bus] deadLetter() doesn't properly set custom properties for non-deferred messages"
In the course of fixing #7958 I found that the custom properties for messages are not properly plumbed if the message is not a deferred message (ie, doesn't come from the management link).

This isn't as serious as the original bug but is something we should fix before Track 2 GA.

[2020-03-23 21:37] xirzec commented on #7957
@NoelAbrahams this should work, we are [including types with the cosmos package](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/package.json#L36).

What version of TypeScript and `@azure/cosmos` are you using?

[2020-03-23 21:44] HarshaNalluru commented on #7806
Yes, thanks!

[2020-03-23 21:46] HarshaNalluru commented on #2885
@richardpark-msft, I can take care.

[2020-03-23 22:17] richardpark-msft commented on #2087
@ramya-rao-a - There's extensive information in those issues but I wanted to quick-check that switching over to core-amqp was expected to fix this.

Just tested this with track 2 and I'm able to send 5000 messages with a single Promise.all() and I'm not seeing this error. Or perhaps this was resolved quite awhile ago and this issue should be closed as well.

[2020-03-23 23:14] jeremymeng opened #7962 "[FormRecognizer] auto-detection of stream content-types"
requires the stream to be seekable

[2020-03-24 05:26] ramya-rao-a commented on #2087
That's right @richardpark-msft

The use of `AwaitableSender` in the PR #7369 for Service Bus by @HarshaNalluru should solve this issue in the upcoming version of the package.

[2020-03-24 05:26] #2087 closed

[2020-03-24 05:29] ramya-rao-a commented on #3376
With the use of `AwaitableSender` in PR #4446 for the latest Event Hubs library as part of #3375, this problem should be fixed.

@chradek, @richardpark-msft Can either of you verify?

[2020-03-24 07:37] jeremymeng opened #7980 "[FormRecognizer] Move to use the new AzureKeyCredential from core"

[2020-03-24 07:40] NoelAbrahams commented on #7957
@xirzec I tried CDB version `3.6.2`, which is listed as the latest on npm. But from the link you posted, the change seems to have been effected in `3.6.3`. Is that right? When are you releasing it?

My TypeScript version is `3.8` but that's probably not important.

[2020-03-24 08:16] tchelidze commented on #7938
`"@azure/service-bus": "^1.1.4"` which afaik should be the latest version, isn't it ?

[2020-03-24 08:21] tchelidze commented on #7938
I'm trying to list queues/topics/subscriptions for a given azure service bus namespace and use a connection string for auth.
`ServiceBusClient` doesn't seem to offer that functionality.
Is there an alternative way to do that?

[2020-03-24 09:15] zidaneymar commented on #7885
I find a way with using kudu api to do this thing.

[2020-03-24 09:16] zidaneymar commented on #7833
I finally notice that their is a graph client inside this SDK, and it exists a graph api to do this.

[2020-03-24 09:16] #7833 closed

[2020-03-24 10:45] nickzhums commented on #7833
@zidaneymar Thanks, let us know if you need any more help

[2020-03-24 12:11] telekosmos commented on #6870
I don't think [v1.1.3](https://github.com/Azure/azure-sdk-for-js/releases/tag/%40azure%2Fservice-bus_1.1.3) fixed the issue. At least, we have a wrapper around the library and in several of our services we found an error like:

[code]

I think this is pretty much the same as people were comented along this issue...

[2020-03-24 15:10] chethanack opened #7983 "Parallel file uploading using azure blob storage javascript library (v12)"
How to upload multiple files parallelly to Azure Storage account using azure javascript library(v12) ?

[2020-03-24 17:40] richardpark-msft opened #7984 "[service-bus] Track2 - update samples and readme for new API surface"

[2020-03-24 18:07] #7442 closed

[2020-03-24 18:12] jeremymeng opened #7985 "[FormRecognizer] Release track 2 preview 2"

[2020-03-24 18:25] shlomiassaf opened #7986 "[Service Bus]: registerMessageHandler is not deterministic"
**Is your feature request related to a problem? Please describe.**

The call to `registerMessageHandler` accept's an `onError` callback which throws an `Error` for any connection related issue or `MessageError` for any issue thrown while handling an incoming message.

This creates a problem when trying to determine the result of the connect operation.

- If Fail: `onError` is invoked with the erro

[2020-03-24 18:28] jeremymeng opened #7987 "[FormRecognizer] returning iterators for extract results?"
Currently the analyze operations return pages in an array.  The PDF page limit is 2000.  It would be nice to support enumerating those pages for potential stream processing in the future, instead of array?

[2020-03-24 18:48] jonathandturner commented on #7722
Ping @willmtemple, @chradek, @richardpark-msft

[2020-03-24 19:18] chradek commented on #7722
This was done for event-hubs as part of #7669.

It looks like app-configuration and text-analytics were updated there as well:
https://github.com/Azure/azure-sdk-for-js/pull/7669/commits/1727353f192d640727b14131b1311d601308bb3b

I think this is safe to close now.

[2020-03-24 19:19] chradek commented on #7722
Confirmed all 3 packages have identity as a devDependency. Closing.

[2020-03-24 19:19] #7722 closed

[2020-03-24 19:25] richardpark-msft commented on #3376
@chradek , I'll take a look.

[2020-03-24 20:19] southpolesteve commented on #7935
@alex-p-mai The @azure/cosmos SDK is intended to be only used with SQL API accounts. You should use Mongo tooling to interact with Mongo accounts. Some of the control plane calls might work, but it is not something that is intended to be used. Data plane calls definitely will not work correctly and may leave your data unreadable by Mongo.

[2020-03-24 20:19] #7935 closed

[2020-03-24 20:46] #7958 closed

[2020-03-24 21:01] aiwilliams opened #7989 "arm-storage fails to handle retry headers"
- **Package Name**: arm-storage
- **Package Version**: 13.1.0
- **Operating system**: MacOS 10.15.3
- [x] **nodejs**
    - **version**: 12.13.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When

[2020-03-24 21:06] shlomiassaf commented on #7938
This is why it looks like it's exported

https://github.com/Azure/azure-sdk-for-js/blob/3e5e2da1a318e97d7d0889e4312658b6f579cdee/sdk/servicebus/service-bus/samples/typescript/src/atomManagementApi.ts#L10-L15

However, it's not, so I wonder how these tests pass :)

[2020-03-24 21:06] danieljurek opened #7990 "Smoke tests should validate Known Authority Constants"

[2020-03-24 21:13] ramya-rao-a opened #7991 "Unused exports in Service Bus package since version 1.1.3"
The `@azure/service-bus` package has interfaces being exported that are not in use. These correspond to the management api features that have been implemented internally, but are not ready for public use yet.

#7315 took care of ensuring these features are not accidentally exported, but it missed cleaning out a few interfaces.

https://github.com/Azure/azure-sdk-for-js/commit/8329a7cde7dcd95bc6629

[2020-03-24 21:15] chradek commented on #7991
Related to #7938

[2020-03-24 21:18] ramya-rao-a commented on #7938
Apologies for the confusion here

The ATOM management client is still under works. We have an implementation working, but we are still discussion the design for it and the APIs might change.

@HarshaNalluru, Let's delete the related sample for now to avoid the confusion.

[2020-03-24 21:26] richardpark-msft commented on #3376
Just tried this out - the API surface has changed so I ended up sending 2000 individual batches with one message apiece, simultaneously. No issue.

Also, traced down the code and we are indeed using AwaitableSender now.

Closing.

[2020-03-24 21:26] #3376 closed

[2020-03-24 21:28] danieljurek commented on #7990
Awaiting merge of: https://github.com/Azure/azure-sdk-for-js/pull/7829

[2020-03-25 00:36] MolochkoVitaly commented on #6870
@telekosmos yes, I also think so
Today We caught the following error: `Invalid protocol header for AMQP` and  `Unable to create the amqp sender/session` is still open.

@chradek Could you please tell us the status of this issue? Thanks in advance

[2020-03-25 00:37] MolochkoVitaly commented on #6870
This bug is super annoying

[2020-03-25 01:21] xirzec commented on #7957
The version in master always gets bumped after release. I don't think that will cause any trouble for this case, since `3.6.2` should work.

I installed `@azure/cosmos` locally (version `3.6.2`) and was able to see typings showing up for it:

![image](https://user-images.githubusercontent.com/639216/77491862-31a05a00-6dfc-11ea-97b1-c783bbbd1275.png)

Can you provide some repro code that isn't work

[2020-03-25 01:28] #7514 closed

[2020-03-25 01:31] HarshaNalluru opened #7999 "[Recorder] Test improvements"
https://github.com/Azure/azure-sdk-for-js/pull/7512#discussion_r382896329

- Instead of mocking the files at the hard-coded 1 level - 3 levels above, we can improve this specific test by pinpointing the recordings folder and mock accordingly.
- To cover more cases other than just the rollup and dist-esm ways of testing that we currently have for the SDKs.

[2020-03-25 03:25] dw511214992 commented on #7989
Create an issue for codegen team to fix this issue: https://github.com/Azure/autorest.typescript/issues/597

[2020-03-25 07:23] XiaoningLiu commented on #7983
@chethanack SDK provides async upload methods. You can do parallal control using popular JS libraryies like `async`, or you can simpliy do by your self like:

[code]

[2020-03-25 11:31] simonauner commented on #7991
Thanks for picking this up. I was actually trying to create the SO question with the tag `azure-sdk-js` mentioned in the README, but since no questions have been asked with that tag previously I couldn't add it (too low rep to create new tags).
And yes, it looks like @tchelidze in #7938 is trying to achieve the same thing.

[2020-03-25 16:40] #7801 closed

[2020-03-25 16:46] HarshaNalluru opened #8019 "[Service Bus] SendBatch test failed for messages with multiple `session-id`s"
### SendBatch test failed during clean-up for messages with multiple `session-id`s.
- Test sends about 125 messages(each with a different session-id) and verifies the contents of the sent messages by receiving all of them in receiveAndDelete mode.
- Sending the batch message is fine, `receive` receives one less than expected.
- Doesn't happen all the time, some sort of race condition while cleanin

[2020-03-25 16:58] telekosmos commented on #6870
@chradek not sure if it helps but I can paste here our layout for `rhea` library:
[code]

[2020-03-25 17:29] richardpark-msft commented on #7986
@shlomiassaf - one change we've been talking about (to solve a slightly different but related issue) is to provide a way for the user to do a "init connection" without having to do a send/receive operation. So this would occur via an explicit call (where that method exists is under discussion).

Would something like that also work for your needs?

[2020-03-25 18:32] shlomiassaf commented on #7986
@richardpark-msft yes.
It will now be a 2 step operation?

What happens if there is no connection when registering?

What happens on disconnect?

Thabks

[2020-03-25 19:54] sadasant commented on #5508
After speaking with @jonathandturner , here's an update:

Since the KeyVault clients are now, in their latest preview version, allowing users to specify a service API version, there are no changes needed on the autorest side of things. This is compatible with our current product and the goals in our proximity.

I'm closing this.

[2020-03-25 19:54] #5508 closed

[2020-03-25 19:55] sadasant opened #8026 "[KeyVault] Improve the documentation around the service API version parameter"
We're now allowing users to specify a service API version. This should be documented appropriately.

[2020-03-25 20:36] jeremymeng opened #8028 "[FormRecognizer] add unit tests"
Add (non-live) tests

[2020-03-25 21:14] jonathandturner opened #8030 "[Identity] Add testing to VSCodeCredential"
**Is your feature request related to a problem? Please describe.**
As a follow-on from https://github.com/Azure/azure-sdk-for-js/pull/7994, we need to add some way to test VSCodeCredential to ensure it continues to work. We could take a page from the work on AzureCLICredential and mock the connection to keytar.

**Describe the solution you'd like**
Mock a keytar connection that successfully return

[2020-03-25 21:23] joecoolish commented on #7938
I'm also interested in the ATOM management client.  I'd like to get the Active Message counts for my topic subscriptions.  Is that functionality going to be made available in the ATOM management client?

[2020-03-25 21:40] richardpark-msft opened #8031 "[service-bus] track2 - test websocket/proxy related options"
Come up with and document the method for doing this.

Ref: https://github.com/Azure/azure-sdk-for-js/pull/7997#discussion_r397553212

[2020-03-25 21:50] richardpark-msft commented on #7986
@shlomiassaf - basically we'd give the user a choice of _when_ the initialization happens - either explicitly (new functionality we could add) or implicitly (what we do today).

So no change to normal user's workflow but, for people that want more control, you'd have a way of triggering the connection initialization at an explicit time rather than just on first send/receive.

(As I said, just an i

[2020-03-25 22:15] KarishmaGhiya commented on #7934
Rush doesn't have support for passing additional arguments from the command line yet. But they have an issue for requesting this feature. Just like npm allows something like - `npm run unit-test:node -- --reporter "path to reporter.js"` We don't have an equivalent for this in rush yet, look at issue - https://github.com/microsoft/rushstack/issues/1232#issuecomment-590611637

[2020-03-25 22:37] richardpark-msft commented on #7735
Still need this?

[2020-03-25 22:50] #7984 closed

[2020-03-26 02:10] HarshaNalluru commented on #7735
#7997 closed this.

[2020-03-26 02:10] #7735 closed

[2020-03-26 02:35] ramya-rao-a commented on #7938
Please subscribe to https://github.com/Azure/azure-sdk-for-js/issues/1057 to get notified when the ATOM management client makes it to the public api surface.

Until then, please use `@azure/arm-servicebus` for all the management needs.
If you cannot use AAD and have to use connection string for these features, then use the older `azure-sb` package until `@azure/service-bus` has similar features.

[2020-03-26 02:35] #7938 closed

[2020-03-26 03:53] shlomiassaf opened #8041 "[Service Bus] upgrade ms-rest-nodeauth due to critical bug"
- **Package Name**:  azure-sdk-for-js
- **Package Version**: 1.1.5
- **Operating system**: osx
- [ ] **nodejs**
    - **version**: 12

**Describe the bug**
A clear and concise description of what the bug is.

The service-bus package depends on `@azure/ms-rest-nodeauth` ^0.9.2.

The current version of `ms-rest-nodeauth` is 3.0.3

The problem with version `^0.9.2` (or any other version up to 3.0.3)

[2020-03-26 15:55] ramya-rao-a commented on #8041
Thanks for reporting @shlomiassaf

@chradek, I recall removing the dependency on ms-rest-nodeauth from amqp-common preview 7. See https://github.com/Azure/azure-sdk-for-js/blob/amqp-common/sdk/core/amqp-common/changelog.md#2019-9-11-100-preview7

Can you check how that got reverted? I'd prefer if we had no dependency on this package in Service Bus at all

[2020-03-26 16:15] chradek commented on #8041
@ramya-rao-a It looks like we removed some runtime code that depended on it, but didn't remove the actual dependency in #5010 It's actually still being imported by amqp-common.

I can work on removing this dependency and rereleasing service-bus.

[2020-03-26 16:30] ramya-rao-a commented on #8041
I believe @bterlson's thoughts at the time was that since the current usage is only in method signatures, the final bundle shouldn't have the ms-rest-nodeauth dependency at all

[2020-03-26 16:35] chradek commented on #8041
I can investigate if it is showing up in the final bundle.
@shlomiassaf, are you taking a direct dependency on `@azure/ms-rest-nodeauth`, and if so what version? Can you also run `npm ls @azure/ms-rest-nodeauth` in your project so where copies of this package are sitting in node_modules?

[2020-03-26 17:18] chradek commented on #8041
@ramya-rao-a
Keeping backwards-compatibility in mind, I think our best option is to update amqp-common and service-bus to accept an interface we control (much like TokenCredential) instead of specific AAD classes.

This would allow us to completely remove the `@azure/ms-rest-nodeuath` dependency from amqp-common and service-bus. The only potentially breaking issue I see with this is we'd have to c

[2020-03-26 18:13] sadasant opened #8057 "[PerfStress] Performance/Stress test infrastructure for TS/JS"
This epic was created to associate the pending work related to the _PerfStress_ tests, based on @mikeharder 's https://github.com/mikeharder/azure-sdk-perf

[2020-03-26 18:17] sadasant opened #8058 "[PerfStress] Initial implementation"
Make a PR with an initial implementation of the PerfStress test-utils package.

[2020-03-26 18:18] sadasant opened #8059 "[PerfStress] Use the PerfStress framework on KeyVault Keys"
Use the PerfStress framework on KeyVault Keys.

[2020-03-26 18:20] sadasant opened #8060 "[PerfStress] Use the PerfStress framework on Storage Blob"
Use the PerfStress framework on Storage Blob.

[2020-03-26 18:22] sadasant opened #8061 "[PerfStress] Implement the circular stream utility"
Implement a class or function that returns a buffer that seems to be of any size, yet only loops over and over some small finite data. It should feel intuitive to use in JS/TS.

Here's Mike Harder's implementation: https://github.com/mikeharder/azure-sdk-perf/blob/master/net/Azure.Test.PerfStress/CircularStream.cs

[2020-03-26 18:24] sadasant opened #8062 "[PerfStress] Implement the random stream utility"
Implement a class or function that returns a buffer that contains random values.

Here's Mike Harder's implementation: https://github.com/mikeharder/azure-sdk-perf/blob/master/net/Azure.Test.PerfStress/RandomStream.cs

[2020-03-26 18:28] sadasant opened #8063 "[PerfStress] Integrate with Docker"
Make it easier to run PerfStress tests inside of docker instances.

Each client should have a Dockerfile potentially similar to:

[code]

Also a PowerShell script to build this Docker instance, potentially like:

[code]

And another PowerShell script to run the tests, potentially like:

[code]

[2020-03-26 18:30] sadasant opened #8064 "[PerfStress] Should run in browsers"
Add all the configurations necessary to run the PerfStress framework in the browsers. Make sure any existing use case of the PerfStress framework runs in a browser.

[2020-03-26 18:31] sadasant opened #8066 "[PerfStress] Should run on CI"
Align with Mike Harder's Engineering Systems work to execute the dockerized PerfStress tests on CI.

[2020-03-26 18:33] sadasant opened #8067 "[PerfStress] Make new issues to track the adoption of the PerfStress framework"
Once the PerfStress framework is integrated with KeyVault Keys https://github.com/azure/azure-sdk-for-js/issues/8059 and Storage Blob https://github.com/azure/azure-sdk-for-js/issues/8060 , make new issues to track the integration with all of the other clients we are currently releasing.

[2020-03-26 19:05] richardpark-msft commented on #4666
Moving to backlog for now - this is probably good cleanup but doesn't seem like a priority (welcome any disagreement on this)

[2020-03-26 22:57] #7841 closed

[2020-03-27 00:05] xirzec commented on #7844
Cosmos for JS doesn't seem to have this type, so I don't think we have to worry here.

/cc @southpolesteve in case it's on the horizon

[2020-03-27 00:05] #7844 closed

[2020-03-27 00:13] southpolesteve commented on #7844
I don't think there is an overlap. We have some new spatial indexing stuff (
https://github.com/Azure/azure-sdk-for-js/blob/8c4020efdce34caee5061bf09f66adb55b648a89/sdk/cosmosdb/cosmos/src/documents/IndexingPolicy.ts#L16-L39
)
, but the types in the actual document are still just strings

On Thu, Mar 26, 2020 at 7:05 PM Jeff Fisher <notifications@github.com>
wrote:

[2020-03-27 01:56] xirzec commented on #7842
@bterlson offered [a solution](https://www.typescriptlang.org/play/index.html?ssl=1&ssc=1&pln=24&pc=17#code/JYOwLgpgTgZghgYwgAgMoIBYQLZwDwAqyEAHpCACYDOyVYUoA5gHzIDeAsAFDK-IIB7ADYBXbCABcyAgBpuAX27dQkWIhQAlCFRFCwqDHAAOKTjz5RtusFSl0GIRgG0AugG4F3MAE8TyLTp6BL4QeADWNKTk1LT0TKwAvOzcfMhOYcigyBEuUgHWBsYQHlyKXEpcFBAIQnCWyDAiIAhgwAIgDQICeCl8AKrEZBCUNPZMcua8RFHDMU4AdIvoWLh4fcyuLtzMABR1UFLLOPjrrgCUeVZBIWvMJdxC

[2020-03-27 04:37] #7439 closed

[2020-03-27 09:30] babaikawow opened #8078 "Raised "stream.push() after EOF" after destroying stream on 8.6.16v of node.js"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.0.0
- **Operating system**: Windows 10 x64
- [ ] **nodejs**
    - **version**: 8.16.2

**Describe the bug**
Issue:
 After receiving stream from azure blob storage i try to destroy stream by using method:

After i send response to the user node raised the next error:

[code]
So in this case after destroying stream fired error and aft

[2020-03-27 13:12] NoelAbrahams commented on #7957
@xirzec I'm seeing the typings after a second installation. It may have been a problem with the npm installation.

[2020-03-27 13:12] #7957 closed

[2020-03-27 15:11] iscai-msft opened #8085 "[text analytics] Add samples"
- [x] Demonstrate authentication using API key
- [x] Demonstrate authentication using AAD
- [x] Demonstrate TextDocumentInput

[2020-03-27 16:44] dougmolineux opened #8086 "Ability to list available Topics for a Service Bus Namespace"
**Is your feature request related to a problem? Please describe.**
It would allow users to easily build a service bus explorer.

**Describe the solution you'd like**
It would be nice if the ServiceBusClient class had a method called "getTopics" or something similar. This would return a list of topics that are available under this namespace.

**Describe alternatives you've considered**
Well right n

[2020-03-27 16:46] telekosmos opened #8087 "documentation missing"
Guys, you have the https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-service-bus/5.0.0-preview.1/interfaces/receiver.html#receivebatch link broken... actually so broken

The previous one is the link to the API Reference Documentation found at https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/servicebus/service-bus/

Cheers

[2020-03-27 16:56] sadasant opened #8088 "[guidelines] Write down how to use the VSCode debugger with the Azure SDK"
I have never used this feature. Someone with experience can do it faster than me, and I can learn from them!

[2020-03-27 17:12] xirzec commented on #7957
Happy to hear it's working for you! 😃

[2020-03-27 17:18] #7478 closed

[2020-03-27 17:29] jeremymeng opened #8089 "[FormRecognizer] Error model"
Handle errors similar to how other cognitive service libraries (TextAnalytics) do it.

[2020-03-27 19:38] Connor-Wood commented on #7874
@ramya-rao-a we manually restarted the service.

[2020-03-27 19:40] jongio commented on #7597
#7829 Merged into master, so closing this issue.

[2020-03-27 19:40] #7597 closed

[2020-03-27 19:41] Connor-Wood commented on #7874
@ramya-rao-a @chradek Just noticed a larger issue that I thought we had resolved a few months back. It seems our listeners are silently failing and not receiving messages. We dont receive an error, it is behaving the same as the first time we brought this up: all nodes in the same cluster stop receiving at the same time. Any suggestions?

[2020-03-27 19:48] xirzec commented on #7844
Thank you @southpolesteve for the confirmation!

[2020-03-27 21:40] xirzec commented on #8086
/cc @ramya-rao-a

[2020-03-27 21:41] xirzec commented on #8087
Sorry about the broken link! Thank you for reporting it!

/cc @ramya-rao-a @kaerm

[2020-03-27 21:51] chradek commented on #8087
@telekosmos
Thank you for reporting this issue. We're currently working on a new major version of service bus that will be in preview. We're in the process of preparing the preview for its first release so you caught this issue in the README on our GitHub before the preview has been published.

You can find the docs for the current version (1.1.5) of service bus at either https://azuresdkdocs.blob

[2020-03-27 22:37] chradek commented on #8086
@dougmolineux
Thanks for creating this issue! This is something we want to make available in `@azure/service-bus` and is being tracked by #1057.

In the meantime, you can use either [@azure/arm-servicebus](https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-arm-servicebus/3.2.0/classes/topics.html#listbynamespace) which is the Azure Resource Management library for Service Bus, or the

[2020-03-27 23:28] richardpark-msft commented on #8031
Tested!

The _absolute_ simplest way to do this is simply to launch Fiddler. By default it creates a proxy on port 8888.

So:
1. Set your proxy server to http://localhost:8888
2. Run the useProxy.js sample
   (for more fun add in some actual sends and receives)
3. Done.

[2020-03-27 23:29] #8031 closed

[2020-03-27 23:54] #8087 closed

[2020-03-28 00:32] #7816 closed

[2020-03-28 04:42] ramya-rao-a commented on #8086
Closing this issue in favor of #1057

@dougmolineux Please subscribe to the above issue to get notified on when it will be part of the `@azure/service-bus` package.

[2020-03-28 04:42] #8086 closed

[2020-03-30 03:26] XiaoningLiu commented on #8078
This sounds like Node.js Readable stream issue. According to Node.js stream specification.

"readable stream will release any internal resources and subsequent calls to push() will be ignored".

However, in Node.js v8 it doesn't honor the behavior, instead it throws error for the push operation.

![image](https://user-images.githubusercontent.com/6889160/77872150-bb2aae80-7278-11ea-8a10-a41247758a

[2020-03-30 03:57] ramya-rao-a commented on #7689
Thanks for the logs @evandropomatti

We can see from the logs that the [callback for the `disconnected` event](https://github.com/Azure/azure-sdk-for-js/blob/%40azure/service-bus_1.1.3/sdk/servicebus/service-bus/src/connectionContext.ts#L78) on the AMQP connection object is indeed being called, and the client reacts as expected by [calling the appropriate method on the batching receiver](https://g

[2020-03-30 03:58] ramya-rao-a commented on #7689
cc @buccfer since we have been discussing this issue offline via emails

[2020-03-30 05:14] ramya-rao-a commented on #6524
Do you have the timestamp for when the upgrade happened? I wonder if the `ConnectionForcedError` you see in the logs match with the time when the upgrade happened.

From your logs below is the sequence of events that I can see. Dumping the summary here for our discussions so that we don't have to go back to the logs
- 4:57:01
   - The AMQP connection along with all its sessions and links get close

[2020-03-30 05:18] ramya-rao-a commented on #6524
Does the timestamp of the upgrade match with the timestamp of the `ConnectionForcedError` that you see in the logs?

We believe that the errors we see in these cases are retryable errors and we have code in place to recover broken link and connection when we encounter retryable errors. So, an explicit reconnect method should not be required.

On analyzing your logs, it is seen that this recovery m

[2020-03-30 05:25] ramya-rao-a commented on #8041
Thanks @chradek

@shlomiassaf, Can you change your direct dependency on ms-rest-nodeauth to be 3.0.3 and see if that works? Use this version to create the credentials and pass them to Service Bus package

[2020-03-30 05:28] ramya-rao-a commented on #7991
Closing this issue as we have now released version 1.1.5 with the unused exports mentioned above removed from the public api surface as well as the documentation. The lone sample that used the management features is removed as well until we have the feature ready for public use

Please subscribe to https://github.com/Azure/azure-sdk-for-js/issues/1057 to get notified when the ATOM management clien

[2020-03-30 05:28] #7991 closed

[2020-03-30 08:44] ramya-rao-a commented on #7986
Another option we are considering is to make the `createReceiver()` method return a promise. Whether the promise gets resolved or rejected depends on whether the receiver links was successfully established or not.

Regarding disconnect, we already have code in place to recover broken links when faced with retryable errors. On exhausting all retries or on facing a non retryable error, the `onError`

[2020-03-30 09:34] NoelAbrahams commented on #1057
@ramya-rao-a, can you please clarify the scope of this issue? What exactly is ATOM?

We are looking for a way to create/delete/list available subscriptions on a predefined topic.

Are these CRUD operations going to be implemented as part of this feature? Also any indication of when this will be pushed to the public will be very helpful.

Thanks

[2020-03-30 14:02] gastonyelmini commented on #6870
Same issue

[code]

[2020-03-30 15:22] evandropomatti commented on #7689
@ramya-rao-a

The code that I provided is the only code that I am running. I extracted it to isolate the problem.

I've uploaded the code if you want to try it:
https://github.com/evandropomatti/servicebus-timeout

Here is the output:

[code]

[2020-03-30 17:39] richardpark-msft opened #8105 "[core-amqp] validate() will string-ize 'undefined'"
In #8074 we discovered that core-amqp's validate() method will helpfully do a string-izing of the entity path field in the connection options.

Unfortunately, if the field is undefined it actually stringizes it instead, leaving you with entityPath: 'undefined'.

We should fix this and just make sure nobody is depending on it working that way in our code (EH and SB).

(NOTE: SB should be fine but y

[2020-03-30 18:30] ebower12 commented on #7869
I've found this same error being thrown in the `serverAzureADAdministrators.listByServer()` method. Traced it back to the same function call in the `ms-rest-js` library and everything.

[2020-03-30 22:47] xirzec commented on #7842
An [updated solution](https://www.typescriptlang.org/play/#code/C4TwDgpgBAKuEDkCGBbCBZJYoF4oG8BYAKCjKgGdgAnASwDsBzALkpocYBoTyp6BXFACMI1VgOGiSAXxIkGwUQDMkAY2gBlVQAsIKJBu1ZoRUuQD05qKoD2AG0H0otClCRQAREP527FbbTAzvSK1BQQqsC0NvQenG4A1u7uVHRMUMBGQQAmNhAU9ADkQQDutNkQTsA2bGmMPOS2Dij0rAAUqRxQAGQE0gCUUAA+nh4NZKCQrAkQIDZKsPDIaJhgANwycsSTmjp6SABK+T7AADwwAHy4sFAQAB6K9NmuWrr6hsZQAPxQR7bU2XOAG0PE1HB4ALrxUy8Wz8ELi

[2020-03-31 01:07] HarshaNalluru opened #8110 "[Recorder] Take changes from mocha@7.0.0"
Previously, afterEach was skipped if the test is skipped, the behavior is changed with mocha@7.0.0, afterEach gets executed even if the test is skipped.

This breaks the playback tests since the skipped tests do not have the recordings for the HTTP requests in afterEach.

Update the tests with recordings so that we don't have to check if the test is pending in afterEach. ( `!this.currentTest?.isPe

[2020-03-31 02:07] HarshaNalluru opened #8111 "[Service Bus] Do not create `MessageSession` inside renewSessionLock"
Comments by @ramya-rao-a - https://github.com/Azure/azure-sdk-for-js/pull/7972#discussion_r400598753

The method is to renew session lock. The assumption is that we have the lock on a session and that it needs to be renewed. If we don't already have a session in hand, then this method should throw an error or be a no-op.

TODO - Do not call `_createMessageSessionIfDoesntExist` inside renewSessionL

[2020-03-31 05:53] ramya-rao-a commented on #1057
@NoelAbrahams I've updated the issue title and description, hope that helps.

We may have a preview for this feature in the coming months, this issue will be updated accordingly.

[2020-03-31 08:28] shlomiassaf commented on #8041
@ramya-rao-a

There is an issue with the types when trying to work with `ServiceBusClient.createFromAadTokenCredentials`

[code]

All of the types of `credentials` are coming from `@azure/ms-rest-nodeauth` but 0.9.2, however when using 3.0.3 and trying to set `credentials` with types from 3.0.3 I get this:

[code]
If I cast the type I provide to the method into a `any` it works, so I guess it's ty

[2020-03-31 08:46] shlomiassaf commented on #7986
@ramya-rao-a I think that returning a promise from `createReceiver()` might do some damage, for several reasons.

1) It's a breaking API, `createReceiver` is currently lazy and this might break stuff due to unhandled promise rejections.

2) `createReceiver` should not connect automatically on creation unless explicitly instructed to as it connects to the bus in various ways (receiveMessages, regis

[2020-03-31 08:49] MolochkoVitaly commented on #6870
@chradek you're right, there is no `_process` related issue. Now all issues are caught here:

![image](https://user-images.githubusercontent.com/11045746/78005950-fc889000-7344-11ea-8f53-01786eff329a.png)

And there is no matter whether sender or receiver:
- `Unable to create the amqp sender 786g4h5h-4dgf-2s56-879j-gn2d24gf65bt due to operation timeout.`
- `OperationTimeoutError: Unable to create

[2020-03-31 08:54] MolochkoVitaly commented on #6870
I've found out that [v1.1.5](https://www.npmjs.com/package/@azure/service-bus) has been recently released. Let me update lib version and check how  it will work

[2020-03-31 11:50] Mansi1 opened #8117 "Metadata Property key always lowercase"
Maybe its not a bug here in the sdk, but wenn i add some metadata in kamelcase and i get it back it will be in lowercase

![image](https://user-images.githubusercontent.com/12079044/78023149-6eb5a080-7356-11ea-95e3-0643b4dc99a1.png)

-->

![image](https://user-images.githubusercontent.com/12079044/78023224-94db4080-7356-11ea-8e45-16bf2fe9c4ca.png)

[2020-03-31 12:26] snuffykl commented on #6524
Thank you @ramya-rao-a. There is 2 timestamp in the logs for a single line. Thus, if u take a sample as below:
``` Dec 12 13:06:15 listener core[deployment-7d8847586d-cv8fh] 2019-12-12T05:06:15.235Z azure:service-bus:receiver [connection-2] Cleared the message renew lock timer for message with id '37d03f3a-c1c3-4aba-b9d4-3f37066a89ee'. ```
First timestamp is UTC +8:00 (Dec 12 13:06:15 )
second tim

[2020-03-31 14:07] MolochkoVitaly commented on #6870
There is a [log file with errors](https://raw.githubusercontent.com/MolochkoVitaly/Azure-Service-Bus-Logs/master/ServiceBusLogs-v1.1.5.txt)
Lib version 1.1.5
@chradek could you please take a look?

[2020-03-31 17:51] HarshaNalluru commented on #8019
#8025

[2020-03-31 17:51] #8019 closed

[2020-03-31 18:26] #7932 closed

[2020-03-31 18:47] xirzec commented on #8117
According to this: https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata#metadata-names

Metadata is supposed to preserve its case. I don't see anything in storage-blob that would make this be an intentional choice.

I think it may be caused by this line: https://github.com/Azure/azure-sdk-for-js/blob/4555a454b5effde0d7e52b39e6b4996861c4d8

[2020-03-31 18:54] aflinchb opened #8121 "HTTP 400 Dependency Failures on Cosmos DB"
- **Package Name**: azure/cosmos
- **Package Version**: 3.6.2
- **Operating system**: Linux
- [x] **nodejs**
    - **version**: v12.0.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.8.2

**Describe the bug**
We are using Application Insights with an Azure App Service Web App for Containers (REST API) that queries a Azure Cosmos DB.  We only have GET/read endpo

[2020-03-31 19:23] xirzec opened #8123 "[search] Update README for preview2"
Open question: should we incorporate version number?

- [x] check links
- [x] linkify NodeJS
- [x] Add new key concepts for service?
- [x] Add new code examples for creating/updating index
- [ ] One click button for creating a search service?
- [x] Add missing reference docs from review.md

[2020-03-31 19:32] jeremymeng opened #8125 "[FormRecognizer] Address doc review feedback"
For README.md

- add link to NodeJS
- remove AAD for preview.1
- add link to logger's doc

[2020-03-31 19:35] richardpark-msft opened #8126 "[service-bus] (track2) Address feedback from service bus readme review"
Need to fix a few items in our readme (based on document review):
- "Prerequisites" - just validate this looks the same in FormRecognizer and Text Analytics
- "Key Concepts" should be expanded to cover some more of the key classes within the library
- Given this readme predates most standards, take a look at the updated [documentation standards](https://aka.ms/joinTheSDK/docs) and make sure we're

[2020-03-31 19:52] jeremymeng commented on #8117
This is a known issue due to the node-fetch behavior

[2020-03-31 19:54] jeremymeng commented on #8117
Refer to https://github.com/Azure/azure-sdk-for-js/issues/4966 for past discussions.

[2020-03-31 20:04] xirzec commented on #8117
@jeremymeng I see we added doc comments, but perhaps some additional docs in the README would help? It doesn't seem like we have a section/example on metadata at all.

[2020-03-31 20:14] jeremymeng commented on #8117
Yes, I agree more samples would help. I am not sure README is the proper place though as there are too many features/topics in storage blobs to fit there. When storage is in its own repo there is wiki page. In mono-repo wiki page might not scale well.

It would be great to have a place to put FAQ/quirks/etc.

[2020-03-31 20:33] xirzec commented on #8117
Quirks.md?

[2020-03-31 21:19] jeremymeng opened #8128 "[core-auth] need down level dts to work with lower versions of typescript compiler"
tried to compile a sample with typescript 3.1.6 and got this error

[code]

[2020-03-31 21:29] jeremymeng commented on #8128
Will is working on a fix

[2020-03-31 22:38] ramya-rao-a commented on #6524
@snuffykl My question was whether Dec 12, 5:01 UTC was the the time when the upgrade happened to your Service Bus namespace

[2020-03-31 22:41] southpolesteve commented on #8121
This is expected. The .NET issues you linked cover some of the history, but the gist is that the 400 response is an intentional error in response to an query that cannot be served directly by the gateway. We handle this internally and it is not bubbled to the user. You can opt-out of this behavior by forcing a query plan request using the [`forceQueryPlan` option](https://github.com/Azure/azure-sd

[2020-03-31 22:41] #8121 closed

[2020-03-31 23:21] xirzec commented on #7842
Postponed to preview3

[2020-03-31 23:22] xirzec commented on #7838
I think this got taken care of with the batch work.

[2020-03-31 23:22] #7838 closed

[2020-03-31 23:48] chradek commented on #8041
@shlomiassaf
You are correct, I'm seeing TypeScript compilation errors using the newer ms-rest-nodeauth. Apologies, I must have made too many changes when I tested earlier, I thought I had checked that correctly.

@ramya-rao-a
I did verify that updating the version of ms-rest-nodeauth that the SDK depends on then causes compilation errors when trying to use an older version of ms-rest-nodeauth. I

[2020-04-01 00:14] snuffykl commented on #6524
I got your question now. Yes I got the information from Microsoft support team that the period of the time that's when the upgrade happens. Below is the screenshot from Microsoft:

![image012](https://user-images.githubusercontent.com/324180/78086479-acff9e00-73f0-11ea-9d06-8f3e82acbbf5.jpg)

[2020-04-01 00:40] aflinchb commented on #8121
Got it - thank you!

[2020-04-01 03:03] danieljurek opened #8135 "Possible npm install issue in release archetype"
In both the public and internal versions of archetype-sdk-release.js is an `npm install` with no working directory.

https://github.com/Azure/azure-sdk-for-js/blob/master/eng/pipelines/templates/stages/archetype-js-release.yml#L122

Here's log of the command running during a release from the context of the source directory (not `eng/tools/versioning`: https://dev.azure.com/azure-sdk/internal/_buil

[2020-04-01 06:09] alextran1502 commented on #2706
Hello @ramya-rao-a, this error has not been fixed, can you please check?

On line 4 in
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-amqp/src/util/utils.ts

It should be `import * as AsyncLock from "async-lock";`

I need this to be fixed so that the package `@azure/event-hubs` can properly compile during production build.

Thanks

[2020-04-01 06:54] ramya-rao-a commented on #2706
@alextran1502 What is the error that you are seeing? Can you please log a new issue with the error details along with the information on whether you have configured either `esModuleInterop` or `allowSyntheticDefaultImports` in your tsconfig? See https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/servicebus/service-bus#configure-typescript

[2020-04-01 06:56] ramya-rao-a commented on #8041
That makes sense @chradek, lets go ahead with that plan

[2020-04-01 07:07] ramya-rao-a commented on #6870
Thanks for the logs @MolochkoVitaly

While we take a look at them, can you reach out to Azure support to see if there were any service side problems or upgrades happening during this time?

We throw the `OperationTimeoutError: Unable to create the amqp session due to operation timeout` error when we are trying to establish a session with the service and the service does not respond within 60 secon

[2020-04-01 08:35] #8028 closed

[2020-04-01 12:30] sgosulazc commented on #8128
@jeremymeng does hotfix release is planned? or do we have any workaround until then?

[2020-04-01 16:17] jeremymeng commented on #8128
@sgosulazc Yes, we will release a hotfix soon.

[2020-04-01 16:21] sgosulazc commented on #8128
Ok. Do we expect Today or Tomorrow?

[2020-04-01 16:22] jeremymeng commented on #8128
Today

[2020-04-01 16:23] sgosulazc commented on #8128
Awesome!

[2020-04-01 16:44] #8125 closed

[2020-04-01 17:55] richardpark-msft opened #8143 "[service-bus] Track2 - remove receiver and sender caching from track 1"
Track 1 had a singleton architecture that would ensure only a single receiver and sender were created per entity.

This caching seems to have little benefit compared to just giving the user control over managing the lifetime of senders and receivers.

Oddly enough this is related to #7936, which spurred all of this investigation and helped uncover this caching.

Some items to consider:
- [x] These

[2020-04-01 18:00] richardpark-msft commented on #8143
CC: @ramya-rao-a  who had the history on this particular bit of behavior.