[2019-10-27 18:45] ramya-rao-a commented on #5859
Thanks for reporting @galkin

@XiaoningLiu I believe the same issue will affect storage v12 as well right?

[2019-10-27 21:49] jeremymeng commented on #5859
We have pipelines running against node v12 I doubt I is a problem. Likely node types needs update at the same time too?

[2019-10-27 21:49] jeremymeng commented on #5859
We have pipelines running against node v12 I doubt I is a problem. Likely node types needs update at the same time too?

[2019-10-28 02:02] southpolesteve commented on #5005
This was resolved in 3.3.4

[2019-10-28 02:02] #5005 closed

[2019-10-28 02:07] southpolesteve commented on #4884
This now works on master with the new groupBy work

[2019-10-28 02:07] #4884 closed

[2019-10-28 03:19] HarshaNalluru opened #5872 "[Storage] Remove BreakingChanges.md Doc in storage for consistency"

[2019-10-28 03:48] leonbrag opened #5873 "Cannot use azure/storage-blob in the ReactJS app"
Version:
`    "@azure/storage-blob": "^12.0.0-preview.5",`

Neither of two lines below work in ReactJS app (created using Create React App):

[code]

Following error is reported:

`TypeError: The "original" argument must be of type Function
    at Object.promisify (d:\Work\JavaScript\RampUp\node_modules\node-libs-browser\node_modules\util\util.js:605:1)
    at Module.<anonymous> (d:\Work\JavaScrip

[2019-10-28 04:15] bterlson opened #5874 "Sourcemaps appear incorrect"
Sourcemaps across all libraries appear to be mapping paths based on our monorepo layout, but should instead reference node_modules in a way that matches a typical npm install. We may need to find a way to configure the sourcemaps plugin, else do a manual find/replace of monorepo paths.

[2019-10-28 04:20] bterlson commented on #5873
Thanks for the report, and sorry for the troubles!

Closing this as a duplicate of #4890. Also the fix is at #5767, and currently under review!

[2019-10-28 04:27] leonbrag commented on #5873
Thank you, @bterlson

I appears https://github.com/Azure/azure-sdk-for-js/pull/5767 is not yet merged.

What should I do in the meanwhile to get it working?
thanks

[2019-10-28 04:33] bterlson commented on #5873
If you're not yet ready for production, development builds work.

Otherwise, I'm not sure there's a good workaround short of building the library yourself. If you're up for that, there are fairly comprehensive instructions in [CONTRIBUTING.md](https://github.com/Azure/azure-sdk-for-js/blob/master/CONTRIBUTING.md) (that we'd love feedback on too 😁).

[2019-10-28 04:39] bterlson commented on #5873
I suppose you could also do the changes in #5767 directly in your node_modules folder as a temporary workaround (be careful not to do another `npm install`). Rather than editing the .ts files, you would edit the corresponding .js files under the `dist-esm` folder. You'd be moving the BlockBlobClient, AppendBlobClient and PageBlobClient classes into the BlobClient.js file, deleting `internal.js`, a

[2019-10-28 04:41] leonbrag commented on #5873
I can also use @azure/storage-blob@10.5.0, since this bug was introduced in v12., right?

[2019-10-28 04:44] leonbrag commented on #5873
I guess not, the same error with

`"@azure/storage-blob": "^10.5.0",`

`  602 | var kCustomPromisifiedSymbol = typeof Symbol !== 'undefined' ? Symbol('util.promisify.custom') : undefined;
  603 |
  604 | exports.promisify = function promisify(original) {

  606 |
  607 |   if (kCustomPromisifiedSymbol && original[kCustomPromisifiedSymbol]) {
  608 |     var fn = original[kCustomPromisifiedSymbol];

[2019-10-28 04:56] leonbrag commented on #5873
Is there a NPM for dev builds to try?

[2019-10-28 05:08] #5769 closed

[2019-10-28 05:09] HarshaNalluru opened #5876 "[Storage] Update version numbers to preview.6"

[2019-10-28 05:11] #4890 closed

[2019-10-28 05:15] ramya-rao-a commented on #4890
The next update of the storage blob library will have the fix to this issue

[2019-10-28 05:56] galkin commented on #5859
@jeremymeng, yes. Common expectation is equal typing and Node.js versions.

[2019-10-28 06:02] HarshaNalluru commented on #5873
Hey @leonbrag,

The fix just got merged and the next release(this week) shouldn't have this issue.
As a temporary solution for you, please try out the generated artifacts from the build that has fixed this issue.

Here's the link to the artifacts - https://dev.azure.com/azure-sdk/public/_build/results?buildId=170706&view=artifacts

Instructions to install the storage-blob package from the artifact

[2019-10-28 06:06] HarshaNalluru commented on #5873
And thanks for letting us know that the issue is present in 10.5.0.
We'll fix and release a patch for that soon.

For now, please try out the v12 fix and let me know if it is working for you.

[2019-10-28 07:01] HarshaNalluru commented on #5874
As I mentioned offline, tested this locally with storage packages,
VS Code debugging seems to work fine which means the source maps are intact I believe.
(could successfully navigate even down to the level of core packages.)

Hence, closing the issue. Please reopen if source maps still cause any problems or if I missed anything.

[2019-10-28 07:01] #5874 closed

[2019-10-28 07:12] HarshaNalluru opened #5880 "[Storage] V10.5.0 is broken for react apps"
@leonbrag in https://github.com/Azure/azure-sdk-for-js/issues/5873#issuecomment-546788871 says V10.5.0 fails for react apps.

https://github.com/Azure/azure-sdk-for-js/pull/5762 fixed an issue in V12 where `fs.stat` is not available in browsers.
The similar issue seems to be present in V10.

Might need to fix the issue with both blob and file packages and release a patch for V10.

cc - @XiaoningLi

[2019-10-28 07:48] XiaoningLiu commented on #5817
Thanks @craxal! We can apply a simply fix by filtering out "" for parameter prefix.

[2019-10-28 13:59] #5422 closed

[2019-10-28 14:49] andreujuanc commented on #5655
I don't want to be harsh on anyone, but, few weeks ago I found that the new SDK for Service Bus is very poor, feature wise. And now I find myself in the same spot while trying to query table storage data that has been saved there by another Microsoft product.

I find this very disconcerting.

Personally I like the new SDK's design, but I often have to resolve to Rest APIs to interact with azure. :

[2019-10-28 14:52] leonbrag commented on #5880
Is importing in ReactJS or just in the browser part of the smoke test ?
I would think this would be easy to catch. Don’t even need to use api, just import it.

[2019-10-28 14:56] michaelbats opened #5882 "@azure/identity .getToken(anything) returns null for Default/Environment, does not work with keyvault either, no error, no nothing."
Related Stackoverflow threads with full details:

https://stackoverflow.com/questions/58591649/azure-keyvault-secrets-request-is-missing-a-bearer-or-pop-token-error-401

https://stackoverflow.com/questions/58593048/azure-identity-credentials-gettokenopenid-returns-null-instead-of-token-for

[2019-10-28 15:17] michaelbats commented on #5882
This was because the tenant ID wasn't valid, but no error was being thrown when being used with vault or when trying to achieve token. It failed completely silent.

Also, there's no mention of access-policy configuration being necessary beyond role assignment on the @azure/identity's documentation and although in the CLI example provided in @azure/keyvault-secrets you are setting policies, if you

[2019-10-28 15:23] pacific202 commented on #5655
Note to Azure folks who might be reading this issue...

This is the sort of thing that makes an architect start to evaluate AWS and GCP for migration away from Azure.

[2019-10-28 16:47] schaabs opened #5883 "Rename @azure/keyvault-keys enumerations to be consistent"
We need to rename the following enumerations to be consistent with the key vault libraries across other languages, as well as internally consistent with the naming of these enumerations.

JsonWebKeyCurveName -> KeyCurveName
JsonWebKeyOperation -> KeyOperation
JsonWebkeyType -> KeyType
JsonWebKeyEncryptionAlgorithm -> EncryptionAlgorithm
KeySignatureAlgorithm -> SignatureAlgorithm

[2019-10-28 17:25] ramya0820 opened #5885 "[Service Bus] Investigate JSON parse and stringify requirements for ATOM management API feature"
For all of the API, we accept a JSON input for describing the entity attributes, this JSON object is stringified and parsed before being subject to XML serialization.
This conversion seems avoidable but on removal breaks the functionality.
This issue is to investigate this further and avoid the stringifying and parsing, if possible.

[2019-10-28 17:42] xirzec commented on #5883
This is pretty easy to do (thanks TypeScript!), and I do like shorter names.

Some questions though:
*  In the code it's `JsonWebKeySignatureAlgorithm`, which I assume should be `SignatureAlgorithm`
* Should we rename the `JsonWebKey` interface to be simply `Key`? or is that not what other languages do?

Right now these all are exported type aliases, so they're not actually a runtime artifact that

[2019-10-28 17:56] xirzec commented on #5725
I believe this issue was resolved by @bterlson's #5811

[2019-10-28 17:56] #5725 closed

[2019-10-28 18:00] ramya-rao-a commented on #5725
This is done with #5831 and #5851

[2019-10-28 18:04] HarshaNalluru opened #5887 "Consider automated testing for our libraries in React apps along with the live tests"
We had to fix two bugs for the current release to solve issues with our storage preview libraries in webpack and react apps.
It's good to automate testing this so that we don't regress.

cc - @bterlson @ramya-rao-a

[2019-10-28 18:27] schaabs commented on #5883
@xirzec Specifically it's the types that need to be renamed as users could import these for instance from the API extractor output:

[code]

[2019-10-28 18:37] xirzec commented on #5883
Looks like it's still `JsonWebKey` in .NET: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.Keys/src/JsonWebKey.cs

So I'll leave that one alone.

[2019-10-28 18:44] ramya0820 commented on #5858
This was noted earlier but since other SDKs (.NET, Python) don't handle this any differently, I considered this as a nice to have improvement to types and user experience.
But since this format is driven by the service, we should probably not have to worry about maintaining, documenting it and let it be driven by the service.

[2019-10-28 20:03] joheredi opened #5894 "[Storage] Inconsistent startTime and expiryTime names in Queue an Blob"
There are a couple instances where `startTime` and `expiryTime` are still used in Blob and Queue. These should be `startOn` and `expiresOn` instead.

i.e AccountSASSignatureValues.startTime and AccountSASSignatureValues.expiryTime

[2019-10-28 20:14] bterlson commented on #5894
`startsOn`, otherwise I agree!

[2019-10-28 21:25] bterlson commented on #5880
@leonbrag it's not yet, but it will be! I believe bundling our package output with webpack in production mode would find issues like this.

[2019-10-28 21:53] joshfree opened #5898 "Azure.Identity Conceptual Docs (with language-specific code samples)"
This is a tracking item to finish writing Conceptual Documentation for Identity before the November SDK update.

This is something @ellismg began last week, but it needs to be expanded with language-specific code samples as well.

Per offline discussion, this conceptual docs will be PR'd to all 4 repos and each language-specific package owner will fill-in the language-specific portion in the markd

[2019-10-28 22:45] schaabs opened #5900 "[core-auth] GetTokenOptions should have the same shape as OperationOptions from core-http"

[2019-10-28 23:56] #5883 closed

[2019-10-29 00:00] #5900 closed

[2019-10-29 00:50] rozele opened #5901 "Improve API version documentation for @azure/cognitiveservices-luis-runtime"
**Is your feature request related to a problem? Please describe.**
I was trying to figure out which version of `@azure/cognitiveservices-luis-runtime` was appropriate to target the LUIS v2 APIs, as we are working from an account that has not yet enabled the v3-preview APIs. There is no documentation or compatibility matrix for the `@azure/cognitiveservices-luis-runtime` package. It is pretty trivi

[2019-10-29 01:53] HarshaNalluru opened #5905 "[Storage] Move to the unified swagger"
- [x] Blob
- [x] Queue
- [x] File

[2019-10-29 01:53] HarshaNalluru commented on #5905
Blob - https://github.com/Azure/azure-sdk-for-js/pull/5864
Queue - https://github.com/Azure/azure-sdk-for-js/pull/5890

[2019-10-29 02:55] ramya-rao-a opened #5906 "[Keyvault] Docs feedback for keys & secrets"
Options parameters
-  [x] The docs for some of the optional parameters for KeyClient methods follow the format of `An interface representing the optional parameters that can be passed to {@link methodName}`. This should be done for all "options" interfaces both in `KeyClient` and `CryptographyClient`.
- [x] In the description for `KeyPollerOptions` we link to `beginDeleteKey` where as it gets used

[2019-10-29 05:43] ramya-rao-a opened #5907 "[Keyvault] API feedback for Keys & secrets"
- KeyClient
    - [ ] `pipeline` & `credential` need not be properties on the client. They are used only inside the constructor
    - [ ] Why is `ListKeysOptions` is being aliased as `GetKeysOptions` and exported that way?
- SecretClient
    - [ ] `pipeline` & `credential` need not be properties on the client. They are used only inside the constructor
     - [ ] The options for the `listProperties

[2019-10-29 05:57] ramya-rao-a commented on #5805
@SensitiveMix Your code receives 3 messages every 1 second. If you want to process more messages, then you will have to increase the number of messages you receive in a single call and/or use a higher frequency.

[2019-10-29 09:29] NtierDev opened #5908 "Getting an npm error on Windows trying to install the @azure/storage-file-share"
I am getting following error running npm install on windows. Same also if the preview version explicitly mentioned too.

npm install @azure/storage-file-share
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@azure%2fstorage-file-share - Not found
npm ERR! 404
npm ERR! 404  '@azure/storage-file-share@latest' is not in the npm registry.
npm ERR! 404 You should bug the auth

[2019-10-29 12:19] mrsufgi commented on #5033
[code]

v10.5.0

[2019-10-29 15:58] GeekJosh opened #5910 "Invalid API version for GetBackupProtectedItems"
- **Package Name**: @azure/arm-recoveryservicesbackup
- **Package Version**: 4.1.0
- **Operating system**: Windows 10 / CentOS 7
- [x] **nodejs**
    - **version**: 11.10.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: N/A
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microso

[2019-10-29 16:19] sadasant commented on #5906
Thank you! This issue really helped me see what to look for to improve these docs. This will be really useful later for the certificates client too.

Some notes:

I changed it to `allowed`, since it just means that these are the supported algorithms.

[2019-10-29 16:41] danieljurek opened #5911 "Version incrementer can set hotfix version"
The version incrementing tool only increments GA and previews, it should support a `--hotfix` switch to increment the patch version as well.

Workflow would look something like:
1. Release a package
2. Create a hotfix branch locally
3. Run `increment.js` with the `--hotfix` switch which will increment the `patch` version and append a `-preview.1` prerelease label
4. Push the hotfix branch to upstr

[2019-10-29 17:20] joheredi opened #5912 "[Storage][File] Consistency on startsOn and expiresOn"
We need to make start and expire consistent with Queue and Blob, similar to PR #5895

[2019-10-29 17:28] joshfree commented on #5898
Removing `blocking-release` as this is purely documentation that does not impact the shipping package.

[2019-10-29 17:28] #5894 closed

[2019-10-29 17:35] ramya0820 commented on #5339
Closing as this is fixed as part of #4922

[2019-10-29 17:35] #5339 closed

[2019-10-29 18:07] ramya0820 opened #5914 "[Service Bus] Improve ATOM management API names and shape"
This issue is to track investigation and efforts for naming of the ATOM based management API so that there are no confusions, unintended conflicts with existing data plane API and operations.

Can use this issue to investigate user experience of using data plane and management plane operations alongside each other, and refactor more if needed.

cc: @AlexGhiondea @ramya-rao-a

[2019-10-29 18:13] ramya0820 commented on #5858
Going by previous guidelines for JS/TS and discussions we had while working on time related things in Event Hubs/Service Bus data plane, a proposal for this might be to have the values be supplied in milliseconds and we internally map to the format Service Bus requires?

- lock duration -> lockDurationInMs
- duplicateDetectionHistoryTimeWindow -> duplicateDetectionHistoryTimeWindowInMs
- autoDelet

[2019-10-29 18:14] HarshaNalluru commented on #5793
This is more than that, it has some history.

- V10 used to throw the errors whenever any error event is raised in the rs/ws streams.
In V10, there was a race condition where it tries to delete a file before it was completely downloaded. (A 'File Not Found' error was thrown)
Mike has fixed this in V10 by resolving the promise only after write stream is closed(`ws-close` event as opposed to the `ws

[2019-10-29 18:31] HarshaNalluru commented on #5908
Thanks for reaching out, @NtierDev.
`@azure/storage-file` package has been renamed to `@azure/storage-file-share`.
And `@azure/storage-file-share` package hasn't been published to npm yet. (We'll most likely be publishing this week.)

Please checkout the NPM Link for `@azure/storage-file` package - https://www.npmjs.com/package/@azure/storage-file

[2019-10-29 18:38] KarishmaGhiya opened #5916 "[core-http] [core-tracing][core-arm] Rename `lib` folder to `src` folder"
Rename `lib` folder to `src` folder to match the latest guidelines for the package structures in the JS repo.
- core-http
- core-tracing
- core-arm

[2019-10-29 18:40] bterlson commented on #5907
I think `pipeline` and `credential` could be removed for now (and added back later if people want them). They are possibly useful if you want to create another client from an existing client, but it's kinda niche.

To follow conventions maximally, ListOperationOptions could be `ListPropertiesOfSecretsOptions`. I think the intent was to have a shared option type for list methods. Am OK changing it

[2019-10-29 18:43] schaabs commented on #5907
- Keys
  - Agree we should make `pipeline` and `credential` non-public
  - Should it be `ListPropertiesOfKeysOptions`? it's a bit wordy. If not I agree we should remove the alias
- Secrets
  - Agree we should make `pipeline` and `credential` non-public
  - Agree `ListSecretOptions` unless we want to go with the more wordy version above
- Cryptography
  - Agree we should make `pipeline` and `creden

[2019-10-29 18:53] sadasant commented on #5907
Also:
- Don't export parameters for non-published methods, like: RecoverDeletedKeyOption (see this for more context: https://github.com/Azure/azure-sdk-for-js/pull/5896/files#r340264530 )

[2019-10-29 19:02] ramya-rao-a opened #5917 "Remove @member annotation in interface member documentation"
It turns out that documentation for interface members that have the `@member` annotation is being totally ignored on our documentation website. For example, below is the `Lease` interface from storage blob

<img width="546" alt="Screen Shot 2019-10-29 at 11 39 37 AM" src="https://user-images.githubusercontent.com/16890566/67798496-d894eb80-fa40-11e9-93fd-1b841afefc49.png">

And below is how this g

[2019-10-29 19:15] sadasant opened #5918 "[smoke-test] Fix KeyVault's smoke test"
This one: https://github.com/Azure/azure-sdk-for-js/blob/master/samples/SmokeTest/KeyVault.ts

[2019-10-29 19:21] ramya-rao-a commented on #5880
@XiaoningLiu, @jiacfan,
Assigning this to you if you want to consider a patch release for v10.
Otherwise, please close this issue

[2019-10-29 19:23] ramya-rao-a commented on #5876
Closing this issue as @danieljurek is handling version updates across the board and we dont need service specific issue tracking

[2019-10-29 19:23] #5876 closed

[2019-10-29 19:23] ramya-rao-a commented on #5872
@XiaoningLiu, @jiacfan, Do you have any concerns before we go ahead with removing the BreakingChanges.md file?

[2019-10-29 19:23] HarshaNalluru commented on #5876
How about readmes?

[2019-10-29 19:24] HarshaNalluru commented on #5876
I think we can remove the preview version from the npm install step in the readmes because we'll be releasing with the latest tag rather than the next tag.

[2019-10-29 19:25] HarshaNalluru commented on #5876
@joheredi Please keep in mind and make a PR for this too if you're looking at the readme code snippets.

[2019-10-29 19:34] ramya-rao-a commented on #5745
Completed with #5868

[2019-10-29 19:34] #5745 closed

[2019-10-29 20:34] SamJarmanPP commented on #5282
I've also noticed this, and heres what I did to try reproduce it:

1) I started my service on my local machine
2) I polled isClosed, returned false
3) I disconnected wifi
4) Polled again at regular intervals, but isClosed remained false.

I would expect it to tick over to true at some point after the internet connection was lost.

cc @ramya-rao-a

[2019-10-29 21:09] ramya0820 commented on #2896
Closed with #5638

[2019-10-29 21:16] ramya0820 commented on #4704
Following are results of experiments carried out in local and on VMs to receive 1000 messages:
- autoComplete disabled): 1212.628ms | 1504.236ms | 1128.053ms | 1260.830ms
- peekLock mode (autoComplete enabled): 711.803ms | 715.551ms | 721.626ms
- receiveAndDelete mode: 1713.555ms | 1144.770ms | 960.334ms | 899.197ms | 844.466ms | 789.568ms | 933.328ms | 930.445ms

The results do not reflect any 10

[2019-10-29 21:16] #4704 closed

[2019-10-29 21:32] sadasant opened #5922 "[keyvault] Fix JavaScript samples"
The JavaScript samples are using outdated shapes of the API (KeysClient, SecretsClient).

[2019-10-29 22:24] ramya-rao-a opened #5925 "[Service Bus] Return types for management apis have no mandatory properties"
Based on the work being done in #4922, types like `QueueDetails` and `TopicDetails` have only optional properties. This issue is to explore if they should have a few mandatory fields for say name, path, createdAt etc.

[2019-10-29 22:35] ramya-rao-a opened #5926 "[Service Bus] Review all errors thrown from the management api feature"
As part of #4922, we are now introducing a new set of errors that can get surfaced to the user. This issue is to review their code & message.

@ramya0820 Please make a list of these errors here and we can review them with @bterlson and @AlexGhiondea

[2019-10-29 22:49] NtierDev commented on #5908
Thanks for the information.
It will be helpful if the same is mentioned explicitly in the documentation.
The instructions for install in the https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-file-share  states that npm install @azure/storage-file-share is best way to install this package.  Your note can be explicitly stated there.
(Present documentation in the site, where y

[2019-10-29 23:07] HarshaNalluru commented on #5732
@kaerm

[2019-10-29 23:16] #5918 closed

[2019-10-29 23:16] #5922 closed

[2019-10-29 23:23] SamJarmanPP commented on #5282
I have found that `(receiver as any)._context.streamingReceiver._receiver.isOpen()` (private, I know) correctly reports the dead link (returns false) once wifi is off, and returns true when the network returns

[2019-10-29 23:28] SamJarmanPP commented on #5282
A question is how long does the link try to self heal? I've seen up to 50 retries in my testing. With 15 seconds between each one (is that right?) that represents significant delay to processing when a link may well be very much dead (transient nature of azure)

[2019-10-29 23:34] wiazur commented on #4248
Hi @stephanbisser, yeah that sample you found is a year old. The snippet below is current and working. Instructions on how to run are found here: https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/javascript/BingSpellCheck/bing_spell_check_quickstart.js

[code]

[2019-10-29 23:52] HarshaNalluru commented on #5908
Thanks for the suggestion, @NtierDev .
We'll update the instructions to make it clear.

Closing this issue since it has been resolved.
Feel free to open new issues if you face any other problems with Azure SDKs.

[2019-10-29 23:52] #5908 closed

[2019-10-30 00:25] xirzec opened #5930 "[core-tracing] Missing source files cause sourcemap errors"
It seems we are not including the `src` folder in the core-tracing package, and not bundling the source contents inside the map files, so there are a lot of errors when a tool like parcel tries to consume it:

[code]

We should include our TS sources for sourcemap support, like how `storage-blob` does.

[2019-10-30 00:33] ramya-rao-a commented on #5917
Keyvault keys & secrets are handled in #5896

[2019-10-30 01:08] SensitiveMix commented on #5805
@ramya-rao-a Thank you for your prompt reply. Ok, my goal is that I want to keep collecting the messages in the service bus, so taking the setInternal method, I tried to increase the number of messages processed in a single operation and still make the outgoing become very high. Is there a better way to continue to get messages from the service bus?

[2019-10-30 01:16] ramya-rao-a commented on #5917
Based on https://jsdoc.app/tags-member.html, the `@member` tag was useful in JavaScript code, but in Typescript structures like interfaces, they add no value.

[2019-10-30 01:21] HarshaNalluru opened #5935 "[Storage] Remove the note `#5934` once storage-file-share package is published to npm"

[2019-10-30 01:44] #5906 closed

[2019-10-30 01:44] HarshaNalluru opened #5937 "[Storage Queue] Pick the swagger - 2019-02-02 version"

[2019-10-30 02:09] KarishmaGhiya opened #5940 "[Client] Incorrect references to the docs in the code"
All the links that I found in the code are here:
- https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-certificates/src/index.ts#L221
- https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-secrets/src/index.ts#L143
- https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-keys/src/cryptographyClient.ts#L672

These links should be u

[2019-10-30 03:02] ramya-rao-a commented on #5940
@sadasant Please sync up with @daviwil on the best way we want to document the `credential` parameter to our constructors.

We should be consistent regarding this matter across our libraries.
So, please co-ordinate with @HarshaNalluru for storage as well

[2019-10-30 03:03] HarshaNalluru commented on #5937
Also, revert the transformation for updating the version to "2019-02-02"

[2019-10-30 03:43] #5917 closed

[2019-10-30 03:44] ramya-rao-a commented on #5917
Storage got covered in #5938

[2019-10-30 04:32] #5907 closed

[2019-10-30 10:07] smarlhens opened #5943 "@azure/storage-datalake: Unable to access FileSystem of Azure Data Lake Gen2 with Angular using MSAL"
- **Package Name**: [@azure/storage-datalake](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-datalake)
- **Package Version**: 0.2.0
- **Operating system**:
- [x] **typescript**
    - **version**: 3.4.5

### I do not know if what I wanted to do is possible or not.

**Describe the bug**
I am developing an application with **Angular 8** and trying to connect to Azure Data L

[2019-10-30 10:33] smarlhens commented on #5943
The scope was wrong and I changed it to `['https://datalake.azure.net/.default']` and it worked.

[2019-10-30 10:33] #5943 closed

[2019-10-30 15:24] Evertvdw opened #5944 "Cannot send messages, connection error after some period of time. Does not get reestablished."
- **Package Name**: @azure/event-hubs
- **Package Version**: 2.1.1
- **Operating system**: Linux container
- [x] **nodejs**
    - **version**: 10 (node:10) docker container
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.c

[2019-10-30 18:50] schaabs opened #5949 "ChainedTokenCredential and DefaultAzureCredential should fail on unexpected errors"
Currently the `ChainedTokenCredential` and `DefaultAzureCredential` will swallow errors raised from credentials contained within the chain. This is problematic in the case that users specify incorrect credentials as they might end up authenticating with credentials that they didn't intend.

In .NET we have added a specific exception type, `CredentialUnavailableException` as a sentinel for errors w

[2019-10-30 18:53] sawyerh opened #5950 "Maintain the CosmosDB changelog"
The Cosmos DB package's [`changelog`](https://github.com/Azure/azure-sdk-for-js/blob/662738385d36984a7135e710ec25af6589bfab1b/sdk/cosmosdb/cosmos/changelog.md) has been poorly maintained, making it difficult for developer's to quickly see what has changed in new releases. Since this is a monorepo of many other packages, it's difficult to look at the commits to see what changes are being made to a

[2019-10-30 19:23] bterlson opened #5951 "Eliminate usage of rollup-plugin-shim"
Many packages rely on rollup-plugin-shim to shim node modules in browsers. This works great for us, but it means that our users bundling with Rollup need a similar config.

A better strategy is to use actual code shims and package.json browser mappings. This will likely result in better bundles in Webpack and Parcel as well, as their more heavyweight shims won't be required.

[2019-10-30 19:29] ramya0820 opened #5952 "[Service Bus] Browser tests are failing on CI"
Some of the browser tests are failing on live test runs on CI.
This issue is to track investigation and related fix for it.

[2019-10-30 19:53] ChrisHMSFT commented on #4248
Closing the ticket given there has not been a response. Please re-open if this issue has not been resolved.

Thanks,
Chris

[2019-10-30 19:53] #4248 closed

[2019-10-30 20:35] #5940 closed

[2019-10-30 20:41] #5898 closed

[2019-10-30 21:07] ramya0820 commented on #5926
Following are the different errors being thrown by the ATOM based management API feature for review
- From atomXmlHelper.ts, we build and throw a `RestError`  with message  `ResponseNotInAtomXMLFormat - ${err.message}`

- For HTTP response statuses <200 and >=300, we throw a `RestError` with message `ATOM Service Error: ${errorMessage}` and code as the HTTP response status code details

- For unkn

[2019-10-30 21:33] jfggdl commented on #5944
@Evertvdw , thank you for creating this issue. We are investing this issue and will be back to you with our findings.

[2019-10-30 21:52] willmtemple opened #5959 "Decide whether or not to include ES6-style imports in package READMEs"
This is a tracking issue.

We've been discussing whether or not to include ES module-style imports as alternatives in our READMEs, since `require` (which we landed on in all of the JavaScript samples) may not be friendly for bundlers.

CC @xirzec, since this could be part of the bundling docs.

[2019-10-30 22:00] ramya0820 commented on #5952
Looks like the
[code]
is not present in master. It seemed like reverting to use Node 6 and not 8 fixed it.
But is now not reproducible on master..

On fixing above, 1 other test was failing about `errorThrown flag mismatch`.
Looks like this was because the errorThrown flag was not being updated correctly.. this seems to have been fixed with change at #5958
However, testing few more things to confi

[2019-10-30 22:13] chradek commented on #5805
@SensitiveMix
Just to make sure I understand, it sounds like you're trying to continuously receive messages, but don't want to make a lot of extra receive calls if the queue doesn't have messages. Is that about right?

If so, I think there are 2 alternative ways for receiving messages you might be interested in.

1.  [register a message handler](https://github.com/Azure/azure-sdk-for-js/tree/maste

[2019-10-30 22:13] xirzec commented on #5959
require works fine in the bundlers I tested, but ultimately I would like to move away from it in favor of ES6.

The only hangup I have is node still views ES6 as experimental, right? https://nodejs.org/api/esm.html

[2019-10-30 22:54] ramya0820 commented on #4140
When waiting on the individual message operations, can confirm that the `MessageLockLostError` explains the scenario. The program doesn't hang and exits as expected.
If it did hang, it's likely because the `close()` calls are not made correctly - please post the entire relevant code so we can verify this.

Following sample can be run against version 1.0.2 as well to verify that the error gets thro

[2019-10-30 22:56] ramya-rao-a commented on #5944
@Evertvdw Can you provide more logs? After removing the lines with ` | tsi-molding_dev` there is very little for us to work with.
You can keep the `INFO` ones as they show us when an attempt to send a message is made, but if you can remove the `| tsi-molding_dev` lines and share more logs, we would appreciate it.

[2019-10-30 22:57] ramya-rao-a commented on #5944
Also, if you can log a support ticket, we can also carry out investigations on the service side. Please consider doing that and sharing the ticket number here.

[2019-10-30 23:20] ramya0820 commented on #4509
The tests and samples have been added and ready to merge as part of #4922.

Using this issue is to track on advanced testing and improvements to sample

[2019-10-30 23:25] ramya0820 commented on #4748
Closed with #5758

[2019-10-30 23:25] #4748 closed

[2019-10-31 01:56] SensitiveMix commented on #5805
@chradek Thank you for your reply, I will try the above two ways, and then see if there is still a problem.

[2019-10-31 06:31] #5371 closed

[2019-10-31 06:35] joshfree opened #5966 "[Identity] Support cross-tenant authentication"
Support the scenario described in https://docs.microsoft.com/bs-latn-ba/azure/azure-resource-manager/authenticate-multi-tenant.

To test it, the shared image gallery scenario takes advantage of this type of authentication header: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/share-images-across-tenants

A previous issue which users were able to workaround: https://github.com/Azure/

[2019-10-31 06:49] Evertvdw commented on #5944
I'm not sure I understand. `tsi-molding_dev` is the container name and since I get these logs from Greylog this name is gonna be on every line. I don't have a method yet for getting the raw logs, but I'm working on that. As soon as I can get that I will share more logs.

Regarding the support ticket, I will do that, thanks for the suggestion!

[2019-10-31 07:02] Evertvdw commented on #5944
More logs (cleaner):

[code]

[2019-10-31 07:11] Evertvdw commented on #5944
@ramya-rao-a The ticket ID for the azure support is: 119103122000087

[2019-10-31 07:49] XiaoningLiu opened #5968 "[Storage] GA folllow-up items"
- [x] (minor) We should remove ThirdPartyNotices.txt from blob & queue repo
- [x] (minor) Rollup.config.js still generate browser bundle by default, should remove it.
- [x] When file removes browser bundle from npm, it should do above 2 checks too.
- [x] Samples in general readme.md in storage folder should update to @azure/logger package, instead of customized log interface implementation

@ramya

[2019-10-31 07:51] XiaoningLiu opened #5969 "[Storage] When to drop next npm tag after GA"
FYI. After GA, latest tag points to track2, `next` tag is not "next" anymore.

@ramya-rao-a

[2019-10-31 09:29] n-sviridenko opened #5970 "Cannot delete management policy"
- **Package Name**: @azure/arm-storage
- **Package Version**: ^11.0.0
- **Operating system**:
- [ ] **nodejs**
    - **version**: v10.16.0
- [ ] **browser**
    - **name/version**: -
- [ ] **typescript**
    - **version**: -
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I don

[2019-10-31 14:05] sadasant opened #5972 "[KeyVault-Certificates] Cross-language changes"
From the .Net communications:
- [x] ~Add WellKnownIssuerNames "enum" with "Self" and "Unknown" values.~ Ensure that all of our "enums" allow different values to arrive from the service.
- [x] _Remove Self and Unknown static properties from CertificateIssuer, and update construction documentation to mention WellKnownIssuerNames._ I do not understand this.
- [x] ~Rename CertificateError -> Certifica

[2019-10-31 16:22] willmtemple commented on #5959
Support is experimental and gated behind the `--experimental-modules` flag, and then it's only applied for `.mjs` files... The conventional solution to this problem was to use a transpiler like babel (or just write TypeScript). Using ESMs in JavaScript without a transpiler seems like it's still a can of worms.

[2019-10-31 19:14] southpolesteve commented on #5950
@sawyerh Sorry about that. In the switch to the monorepo it is a practice we lost track of. I have opened a PR that updates the change log to current and I'll make sure to keep it updated going forward https://github.com/Azure/azure-sdk-for-js/pull/5974. You can also view the commit history for only the cosmos package at this URL https://github.com/Azure/azure-sdk-for-js/commits/master/sdk/cosmosd

[2019-10-31 19:14] #5950 closed

[2019-10-31 20:23] bgklein commented on #5496
I will be closing this issue due to no response.  Please reach out further if this issue is still impacting you.

[2019-10-31 21:03] xirzec commented on #5607
keyvault-keys and keyvault-secrets currently instrument list* operations, but the parent span ends as soon as the iterator is created, which isn't great, since then child spans can be longer.

It looks like appconfiguration maybe does the same.

[2019-10-31 21:07] xirzec commented on #5607
Same in keyvault libs

[2019-10-31 21:16] HarshaNalluru opened #5976 "Run the samples with artifacts and published package"
### **Proposing a plan for samples**

By default - Samples should import "../../src" code

Things to solve
- Run the samples all at once with the src code
  - The current execute-samples.js script does that
- Run the samples with the provided artifact - .tgz file
- Run the samples with published package 

For the cases 2 and 3, dev can either provide path to the tgz file or the package name and th

[2019-10-31 21:18] HarshaNalluru commented on #5976
@ramya-rao-a, please provide comments if you want to change something in this.

[2019-10-31 21:39] HarshaNalluru commented on #5141
GA is done!

[2019-10-31 21:39] #5141 closed

[2019-10-31 21:49] HarshaNalluru commented on #5968
Remove the gulpfile that zips the browser bundle too.

[2019-10-31 22:10] manishsat commented on #5496
job manager reads messages from storage queue and create tasks using Batch Service API.
And it waits for the all tasks to be completed due to this inconsistency, the job-manager thinks (because the wrong information has been return by Batch Service SDk or back end) that there is 1 pending tasks and it keeps waiting. This wait period never ends and we need to manually terminate the job manager.

Th

[2019-10-31 22:16] ramya-rao-a commented on #5926
General comments after sync up with @ramya0820 and @bterson

- Errors coming from parsing service output should all be `RestError` with the code as `RestError.PARSE_ERROR`. The error message should provide context on what part of the response is in unexpected format.
- Errors due to unexpected http status code need not have the "atom" related prefix
- SAS credential error: Try relying on the servi

[2019-10-31 22:17] bgklein commented on #5496
I will reopen this since there has been more information provided. We have an ongoing hotfix which may be related to this issue. @antoniowmsft  can you comment if this is related?

Additionally, One thing we normally emphasize is that the 'Count' apis are not deterministic/follow an eventual consistency model, so if you want just in time data on are there any tasks running, it is best to use an ef

[2019-10-31 22:18] manishsat commented on #5496
Currently to remediate this problem. we have put the condition to terminate job manager after 5 hours. This is not an ideal solution so your fix will give us advantage to terminate job manager on actual condition (where all tasks are completed).

[2019-10-31 22:23] manishsat commented on #5496
@bgklein you mean https://github.com/microsoft/accessibility-insights-service/blob/master/packages/job-manager/src/batch/batch.ts#L104
is not the best way to get count information?

[2019-10-31 22:28] manishsat commented on #5496
This is our current condition to break job-manager.
https://github.com/microsoft/accessibility-insights-service/blob/master/packages/job-manager/src/worker/worker.ts#L41-L43

poolMetricsInfo.load.activeTasks === 0 && poolMetricsInfo.load.runningTasks === 1 --> This means only job-manager is running and none of the tasks created by job-manager are active.

[2019-10-31 23:11] bgklein commented on #5496
The alternative would be replacing the count API with https://docs.microsoft.com/en-us/azure/batch/batch-efficient-list-queries (sorry for the samples being in C#), with a select on id and state, and a filter on running/active. Then you can do length checks on the returned arrays. This is essentially seeking through a storage table, so it has its own pro's and con's (ie you have to follow the next

[2019-10-31 23:21] ramya0820 opened #5983 "[Service Bus] Remove use of dedupe flag in rollup"
This issue is track investigation and efforts on re-appearance of de-dupe issue that was caught as part of work on Service Bus' management API feature
Goal is to try and not have rollup use this flag before we ship the feature

[2019-10-31 23:48] ramya0820 commented on #4508
Closed with #4916 and #4922

[2019-10-31 23:48] #4508 closed

[2019-10-31 23:49] ramya0820 commented on #5914
Closing since we have sign off on current state and defer other improvements later to Track 2

[2019-10-31 23:49] #5914 closed

[2019-10-31 23:52] ramya0820 commented on #5516
Closing as no issue is raised on CI

[2019-10-31 23:52] #5516 closed

[2019-10-31 23:57] ramya0820 commented on #4983
Closing as service side team is informed and engaged

[2019-11-01 00:10] ramya0820 commented on #1757
Closing per https://github.com/Azure/azure-sdk-for-js/pull/5946#discussion_r341412395

[2019-11-01 00:10] #1757 closed

[2019-11-01 00:16] ramya0820 commented on #5952
On testing and investigation, found that the `InvalidFieldError` was showing on master as of 10/24/2019 but not anymore.
This is again showing on #4922 PR in which `dedupe` flag was used to get around this.
This issue should have been fixed as of https://github.com/Azure/azure-sdk-for-js/issues/3326 but is needing more investigation.
Looking into this with @bterlson
cc: @mikeharder

Closing issue

[2019-11-01 00:16] #5952 closed

[2019-11-01 00:30] ramya-rao-a opened #5985 "[Service Bus] Use the atom apis to create/delete entities in tests when run in node & browser"
Currently, we have taken a dependency on the arm service bus package in order to delete/create test resources for each test being run.

Now that we have the atom based management apis, we should update the tests to use them and remove the dependency on the arm package.

[2019-11-01 06:19] ramya-rao-a commented on #5969
I believe it is safe to remove the `next` tag from the non preview releases.
@bterlson, @xirzec Any concerns?

The one thing I can think of is to update any `@next` references from our last release notes in case doing an `npm install` using the tag `@next` for  a package with no such tag causes failures

[2019-11-01 06:21] ramya-rao-a commented on #5959
cc @XiaoningLiu as he had the initial concerns from https://github.com/Azure/azure-sdk-for-js/pull/5936#discussion_r340419968

[2019-11-01 17:47] manishsat commented on #5496
@bgklein Thank for the update.

[2019-11-01 18:27] xirzec commented on #5969
I think it's reasonable to remove the `next` tag and use it on the next preview.

[2019-11-01 18:35] #4208 closed

[2019-11-01 19:31] ramya-rao-a commented on #5783
I dont believe other libraries are ready to take the change in.
In some cases, the fix needs to be in upstream dependencies.
So this has to be done one by one

[2019-11-01 20:03] scbedd opened #5994 "Documentation - simplify index build to single script"
Right now the build steps are spread across extensive `doc-index.yml` build definitions. We should make these simpler powershell scripts present in each repository.

At the very least users will be able to repro the build of the index locally.

[2019-11-01 20:54] HarshaNalluru opened #5997 "[Storage] Examples/Code snippets are not rendered properly in VS Code"
![image](https://user-images.githubusercontent.com/10452642/68055915-08e1c180-fcaf-11e9-828f-7c4091bedf1f.png)

@ramya-rao-a

[2019-11-01 21:55] mikeharder opened #5999 "[core-amqp] Consider moving rhea-promise from peerDependencies to dependencies"
In `core-amqp`, we should consider moving `rhea-promise` from `peerDependencies` to `dependencies`.  Peer dependencies are generally problematic in JS (e.g. they cause issues with the Rush toolchain).

[2019-11-01 22:50] HarshaNalluru commented on #5564
@bterlson

[2019-11-01 22:56] sadasant opened #6002 "[KeyVault] Simplify optional properties' documentation"
Instead of, for example:

[code]

Make it:

[code]

[2019-11-01 23:07] deborahc opened #6003 "[Cosmos] GROUP BY query in Portal doesn't show query execution metrics"
- **Package Name**: azure-cosmos
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The Cosmos DB Portal uses the Ja

[2019-11-01 23:55] HarshaNalluru opened #6005 "[Storage] Update `examples` section in storage/readme file"
https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage#examples

Remove the existing code and probably update with links to samples in storage packages.

[2019-11-02 00:18] sadasant opened #6006 "[Common Recorder] Folder structure suggestions"
As a general recommendation, we should specify in our documentation that if people keep skipping tests in certain TEST_MODE cases, they should probably be separating these tests in clearer folders instead. For example, folders like this:

[code]

These are just suggestions though!

[2019-11-02 00:25] sadasant commented on #6006
I feel lucky when I see a Palindromic Issue!

[2019-11-02 00:26] HarshaNalluru commented on #4114
Closing this in favour of #5698

[2019-11-02 00:26] #4114 closed

[2019-11-02 21:46] leonbrag opened #6008 "Not able to create ContainerClient in ReactJS using URL"
Version:
[code]
used in ReactJS app create using create react app

Objective: enumerates blobs in the container using SAS Key.

According to constructor ContainerClient can be called with 3 params like this:

[code]

However in the following call:

[code]

Error is generated:

[code]

Please provide explanations how ContainerClass can be created using full URL that includes SAS signature and conta

[2019-11-03 00:11] leonbrag opened #6009 "Provide examples how to iterate over containers and blobs without using await keywoard"
All of the example use await keyword when enumerating containers and blobs.
Please provide an example how to use Promise and .then clause.

Thanks

[2019-11-03 19:29] ramya-rao-a opened #6010 "[Keyvault] Remove @interface annotation on interface documentation"
It turns out that documentation for interface that have the `@interface` annotation is being totally ignored on our documentation website. For example, below are the interfaces exported from the keys package.

![image](https://user-images.githubusercontent.com/16890566/68090786-d4940f80-fe2c-11e9-87d3-a42d055262e4.png)

Despite there being docs present for these, they get ignored

![image](https:/

[2019-11-03 19:33] ramya-rao-a opened #6011 "[Keyvault] Types re-exported with a different name carry docs with old name"
For example `KeyCurveName` having docs that refer to `JasonWebKeyCurveName`

![image](https://user-images.githubusercontent.com/16890566/68090854-be3a8380-fe2d-11e9-9897-8d9ef154d409.png)

[2019-11-03 19:59] ramya-rao-a opened #6012 "Docs with links to classes, interfaces and methods with class qualifiers dont get rendered"
It looks like the only time the `@link` syntax works as expected for symbols is when it is for methods without class qualifiers. This is resulting in a whole lot of `<xref` in our docs at the moment

![image](https://user-images.githubusercontent.com/16890566/68091183-70c01580-fe31-11e9-9db7-a9466deb7500.png)

cc @willmtemple

[2019-11-04 00:56] jeremymeng commented on #6008
Can you please try removing the last two arguments? The particular constructor overload expects a URL, and an optional credential, and an optional pipeline options object (i.e., not a pipeline).

[2019-11-04 01:29] leonbrag commented on #6008
Yes, it worked. Thank you. It would be great to update docs or better provide an example in the TS file on how to use with SAS key

[2019-11-04 01:29] #6008 closed

[2019-11-04 01:58] #5805 closed

[2019-11-04 03:17] ramya-rao-a commented on #6009
Thanks for reporting @leonbrag

Which of the examples would you like to see the `.then` being used?
[Samples](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-blob/samples), [readme](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/storage/storage-blob/README.md) or the code snippets in the reference docs

[2019-11-04 03:25] ramya-rao-a commented on #6008
Thanks for the feedback @leonbrag

@XiaoningLiu, @HarshaNalluru Do we have samples to create a container client using the SAS key?

[2019-11-04 05:49] leonbrag commented on #6009
Thank you for considering. It would be great to have it as one of the examples, is the sample directory.

[2019-11-04 20:12] HarshaNalluru opened #6016 "[Storage File] DownloadToBuffer overload to not pass the buffer"
Replicate the changes in #5624 and https://github.com/Azure/azure-sdk-for-js/pull/5671 for storage-file-share-package

[2019-11-04 20:15] HarshaNalluru opened #6017 "[Storage File] unified method uploadData to take NodeJS buffer over the existing uploadBrowserData method"
https://github.com/Azure/azure-sdk-for-js/pull/5477#discussion_r334103217

[2019-11-04 20:19] tmschbgr commented on #5782
I had the same issue, but I noticed the constructor was renamed from 'SecretsClient' to 'SecretClient'. Its not documented in the Changelog, but you can find it in the [samples](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-secrets/samples/javascript/helloWorld.js).

This works for me in version 4.0.0

[2019-11-04 20:22] HarshaNalluru opened #6019 "[Storage File] Standardize `maxRetryRequests`"
**API Review discussion - https://github.com/Azure/azure-sdk-for-js/pull/5477#discussion_r334107393**

**Comments for `maxRetryRequests` added by @XiaoningLiu in V10**

[code]

[2019-11-04 20:24] HarshaNalluru opened #6020 "[Storage File] Rename `blobBody` -> `contentAsBlob`"
https://github.com/Azure/azure-sdk-for-js/pull/5477#discussion_r334111010

[2019-11-04 20:30] HarshaNalluru opened #6022 "[Storage File] Rename DownloadFromAzureFileOptions"
https://github.com/Azure/azure-sdk-for-js/pull/5477#discussion_r334398443

[2019-11-04 20:32] HarshaNalluru opened #6023 "[Storage File] Rename `optionalbody` to `body`"
https://github.com/Azure/azure-sdk-for-js/pull/5477#discussion_r334120299

[2019-11-04 21:34] HarshaNalluru opened #6024 "Release Storage for JS January update"

[2019-11-04 21:54] ramya-rao-a commented on #5969
I have updated the release notes that were referencing `@next` in the `npm install` step to use specific versions. So we should be good to go with removing the `next` tag.

[2019-11-04 21:58] ramya-rao-a commented on #5969
@KarishmaGhiya Please drop the `@next` tag on the below packages
- `@azure/storage-blob`
- `@azure/storage-queue`
- `@azure/keyvault-keys`
- `@azure/keyvault-secrets`

[2019-11-04 22:09] HarshaNalluru commented on #5328
@chradek , I believe the inconsistencies are fixed. Anything else to do here? If not, can we close the issue?

[2019-11-04 22:16] ramya0820 opened #6025 "[EngSys] Fix rush reset-workspace script"
Since the pnpm.lock file is regenerated on local, during merge conflicts, it ends up overriding many of the changes if present on master.

Specifically, running `rush reset-workspace` `rush update` didn't update the versions to latest ones as we might expect.
And since merge conflicts in this file can be pretty large, things may get missed like it happened in #5983.
Deleting the file and running a

[2019-11-04 22:17] ramya0820 commented on #5983
@mikeharder @KarishmaGhiya
In PR https://github.com/Azure/azure-sdk-for-js/pull/4922/files#diff-eb16709e5d35de0b13886e760c91041d
@bterlson and I took a look at this and we see that the actual package versions were not getting updated if not already updated in the lock file.
For instance, in current issue, `buffer` remained at 5.4.0 and not updated to 5.4.3 which was what caused this issue.

Filed

[2019-11-04 22:27] ramya0820 commented on #6025
Looks like this would impact all the libraries and work being pushed to master.
As I don't think there was any guideline to delete the pnpm.lock file and regenerate as such?
Since pnpmp.lock file gets checked in as part of almost every other PR, this also likely explains the intermittent browser test failures on CI as of Oct 24th.
cc @AlexGhiondea @ramya-rao-a @mikeharder

[2019-11-04 23:54] bterlson commented on #6025
We need to be intentional about updates to this file.

PRs which don't add/remove dependencies should have no changes to the lockfile. During development, you should not be running `rush update --full` or deleting the lockfile.

If you need to add/remove a dependency, the only changes to the lockfile should be the added/removed dependencies. I think Rush is configured such that this happens today

[2019-11-04 23:57] sarangan12 opened #6030 "Modify the behavior of --clear-output-folder option"
**Is your feature request related to a problem? Please describe.**
While generating the JS SDKs, we have an option ```clear-output-folder``` that can be passed to the autorest. This option will clear the contents of the output folder. While this feature is good, this has a side effect. This will remove all the additional files that are available in the folder. For example, if the folder has a test

[2019-11-05 00:02] KarishmaGhiya commented on #6025
Yes I agree with @bterlson.  I'll cc @bsiegel on this. I know we don't always want to delete the pnpm-lock file and want to do the minimal changes to pnpm lock file, so I don't think defaulting the behavior to deleting the lock file everytime is an option. In cases you have merge conflicts in pnpm-lock file, you can follow these steps :
	1. copy pnpm-lock from master
	2. rush update
	3. git add .

[2019-11-05 00:06] ramya-rao-a commented on #6009
The samples directory has different files for different scenarios.
Having some of them follow await/async and others follow the promise + .then syntax might not be helpful.

@bterlson, @xirzec What are your thoughts here?

[2019-11-05 00:15] KarishmaGhiya commented on #5969
Done

[2019-11-05 00:20] ramya-rao-a commented on #5969
perfect, thanks @KarishmaGhiya!

[2019-11-05 03:00] ramya-rao-a commented on #5858
Turns out @bterlson knows what the PTM format is all about.

@bterlson, Can you suggest some verbiage that we can use to document the such properties?

[2019-11-05 03:20] bterlson commented on #5858
I wouldn't wrap this in any additional types. I'm also against converting to milliseconds. For one, a duration like `P1Y` is a pain to achieve with MS-based durations: `1000*60*60*24*365`. But more critically, I believe the definition of `P1Y` differs depending on whether it's a leap year or whether there's a leap second. Likewise `P1D` and `PT24H` mean subtly different things in the presence of D

[2019-11-05 03:23] ramya-rao-a commented on #5858
Thanks @bterlson

@ramya0820 Please use the above to update the documentation on the 4 fields. Preferably, add a 1 line description referring to ISO-8601, follow it up with one or two examples.

[2019-11-05 03:24] ramya-rao-a commented on #5354
@ramya0820 Are the pending items in the above comment still applicable or are there any updates?

[2019-11-05 03:50] southpolesteve commented on #5263
Additional notes from our last meetings:

- getPartitionKeyDefinition -> readPartitionKeyDefinition
- Top level CosmosClient methods

  - get -> read
- CosmosClientOptions
  - Should add pipelineOptions on move to core-http
- De-pascal case everything external. If it is internal, does not matter
- Actual constants -> SCREAMING SNAKE CASE if top level
- InMilliseconds -> InMs everywhere
- FeedOptio

[2019-11-05 04:22] ramya-rao-a commented on #4509
Some areas that we should have more test coverage are:

- atomManagement.spec.ts
   - Updating non existing entity should fail
   - Listing when no entities exist should return empty array in the response
   - Passing invalid options returns expected error in places where we have added checks and are returning type errors
   - Listing with skip & top options
   - existing create & update tests do

[2019-11-05 04:24] ramya-rao-a commented on #5925
Discussed with @bterlson offline. We agree that the properties that are returned by the service should not be kept as optional in the return type.

We understand that this forces us to use different types for input and output, because all properties are optional in input.

[2019-11-05 04:32] southpolesteve commented on #5721
I've synced with the IoT team. `ENOTFOUND` will not result in a failover by design. It is not a reliable indicator that something is wrong with the server. Local client issues can result in an `ENOTFOUND` error. [Such as being out of file descriptors](https://nodejs.org/api/dns.html#dns_dns_lookup_hostname_options_callback). In the future, we may let users opt into failover on this error, but we c

[2019-11-05 04:32] #5721 closed

[2019-11-05 11:25] n-sviridenko commented on #5970
Any updates on this?

[2019-11-05 15:18] galkin commented on #5859
Greetings @ramya-rao-a @XiaoningLiu @HarshaNalluru
Do you have any updates?

[2019-11-05 15:27] ncksol opened #6037 "Unable to build Angular app with ServiceHub package"
- **Package Name**: service-bus
- **Package Version**: 1.1.0
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: 12.10.0
- [ ] **browser**
    - **name/version**: Chrome
- [ ] **typescript**
    - **version**: 3.5.3

**Describe the bug**
I am trying to implement receiving Service Bus messages in an angular app. Upon running 'ng serve' I get the following exceptions:
`ERROR in ./

[2019-11-05 16:15] ramya-rao-a commented on #3993
Is this still applicable now that we are removing the circular dependencies by moving the code to the same file?

[2019-11-05 17:44] danieljurek opened #6038 "Update smoke tests packages for October preview"

[2019-11-05 17:44] danieljurek opened #6039 "Update smoke tests packages for GA"

[2019-11-05 17:44] danieljurek opened #6040 "Update smoke tests packages for October preview"

[2019-11-05 17:44] danieljurek opened #6041 "Update smoke tests packages for GA"

[2019-11-05 18:09] ramya-rao-a commented on #5660
This has been done with #5646

[2019-11-05 18:09] #5660 closed

[2019-11-05 18:14] ramya-rao-a commented on #4728
@maggiepint, @kaerm Can either of you pick this up?

[2019-11-05 18:54] #5367 closed

[2019-11-05 19:48] xirzec commented on #6009
Hmm I suppose we could have some generic sample in the repo for how to use async iterators without await, it's just not as nice of a syntax, e.g.

[code]

[2019-11-05 20:01] ramya0820 commented on #5983
Closed with https://github.com/Azure/azure-sdk-for-js/pull/6027

[2019-11-05 20:01] #5983 closed

[2019-11-05 20:21] HarshaNalluru commented on #3993
**Regarding `eval` warning -**
It's unrelated to storage and should be tracked under the common recorder.

Nevertheless, logged an issue in the sinonjs/nise repo regarding `eval`.
https://github.com/sinonjs/nise/issues/110

[2019-11-05 20:34] HarshaNalluru commented on #3993
**Current warnings -**
![image](https://user-images.githubusercontent.com/10452642/68243916-7b60e300-ffc8-11e9-8b50-2f996c0f4ba8.png)

Circular references are being fixed at #5993 and #5998

[2019-11-05 21:12] bsiegel commented on #6025
So `reset-workspace` is meant as a workaround to the problem that `git clean` will screw up your workspace because of Rush's use of symlinks. So the script just removes the symlinks, runs `git clean`, and then restores the symlinks. It's not really meant to do anything else.

If we want to make it easier to remove/regenerate the lockfile, we should do it in a different script. However, on the topi

[2019-11-05 21:37] KarishmaGhiya opened #6049 "Update versions of packages released last week - preview/GA"

[2019-11-05 21:40] KarishmaGhiya opened #6050 "Update Rush/PNPM to latest"

[2019-11-05 21:43] KarishmaGhiya opened #6051 "Service name updates for docs to be consistent with other languages"

[2019-11-05 21:48] jonathandturner opened #6052 "[KeyVault-Certificates] Add DefaultPolicy"
There isn't a way in JS/TS to get the DefaultPolicy like you can in .NET, which would help with the create certificate operation.

Eg from .NET: client.StartCreateCertificate(certName1, CertificatePolicy.Default);

[2019-11-05 21:50] KarishmaGhiya commented on #6049
FYI : I have no idea how that pipeline got changed from Javascript to .Net thing = don't know how to revert it :(

[2019-11-05 22:00] HarshaNalluru commented on #5697
The correct behaviour should be that afterEach block should be executed when a test is skipped just like the beforeEach block which would ensure that the ongoing recording is stopped with `recorder.stop()`.

**This is a bug in the `mocha` library that afterEach block is not being executed if a test is skipped unlike beforEach.**
- Related issue - https://github.com/mochajs/mocha/issues/2546
- Bug

[2019-11-05 23:01] HarshaNalluru commented on #6022
Fixed with #5650

[2019-11-05 23:01] #6022 closed

[2019-11-05 23:20] ramya-rao-a opened #6055 "[Service Bus] Investigate errors from management apis that are in odata format"
In https://github.com/Azure/azure-sdk-for-js/pull/5984#discussion_r341760746, we discuss the possibility of the Service Bus ATOM based management apis returning responses which contain error in odata format.

We didnt have an test cases to test this out with, so removed it from the first iteration of the management api feature.

This issue is to track the investigation to find out if there is inde

[2019-11-06 00:14] ramya0820 commented on #5926
Closed with https://github.com/Azure/azure-sdk-for-js/pull/5984

[2019-11-06 00:14] #5926 closed

[2019-11-06 00:21] ramya0820 commented on #4509
They do as part of the "all properties" test cases right?

They check for the error code, such as 409. Any reason why we should check the error message? The service should be free to update any typos/language in the details and we shouldn't need to react to them.

[2019-11-06 00:23] #5185 closed

[2019-11-06 00:49] ramya-rao-a commented on #6037
For now, the below needs to be stubbed when using Service Bus in web apps
- dns
- fs
- net
- tls

See #5364 for more details which tracks this issue.

Please let us know if you can use the workaround specified there

[2019-11-06 00:53] joshfree opened #6059 "Review MSAL Dependency and Upgrade As Appropriate"
MSAL for Java and Python released v1.0.0 GA over the weekend; as part of updating Java and Python dependencies, we should also quickly audit our JS dependencies and determine if we should upgrade to a newer version.

[2019-11-06 01:19] ramya-rao-a commented on #4509
Ah, yes. We should do the same for update.

To test that we are deserializing the error message properly.

[2019-11-06 01:31] ramya-rao-a commented on #5901
Hey @rozele,

Thanks for reporting and our apologies for taking a while to respond.

This is a very valid point. I agree that this should be done and we can get on it.

This would need an update to the publishing pipeline. I'll try and get the ball rolling here.

@kayousef Can you answer the above question?

[2019-11-06 04:42] ramya-rao-a commented on #5944
Thanks for the logs @Evertvdw and our apologies for not responding sooner.

Can you share a code snippet showing how you are sending the messages?
From the logs, the error `Too much pending tasks` is the one that is appearing consistently for every send attempt.
Having a look at exactly how you are using the send methods will help us determine the root cause better.

[2019-11-06 04:57] ramya-rao-a commented on #5944
@chradek, Some observations about the sequence of events to aid in investigation while we wait for a response from @Evertvdw
- A send request is made
- We observe that there is no sender link available, so we [take a lock to create one](https://github.com/Azure/azure-sdk-for-js/blob/%40azure/event-hubs_2.1.1/sdk/eventhub/event-hubs/src/eventHubSender.ts#L344)
- Its this attempt of getting a lock t

[2019-11-06 05:31] ramya-rao-a commented on #6009
Ah! I totally missed the part about this being about async iterators. I assumed it was about simple async/await vs then

@leonbrag Just to confirm, you are referring to the `for await of` syntax and wanting an alternative for that right?

[2019-11-06 09:14] ncksol commented on #6037
@ramya-rao-a I am sorry, I am not very proficient with Angular. Could you please elaborate on how do I create those stubs? I can't seem to find anything related to webpack config in my app.

[2019-11-06 09:21] kayousef commented on #5901
Hello @rozele

I'm not sure what do you mean by "enabling" the API version. Runtime API v2.0 and v3.0 are both enabled by default for all users. V2.0 is deprecated now, so we stopped supporting it in new SDK versions.

[2019-11-06 15:09] grahambates opened #6065 "[Service Bus] receiver.receiveMessages() doesn't reject when connection lost"
It's possible for the promise returned by `receiver.receiveMessages()` to complete without rejecting or resolving. Here is the scenario I encountered:

1. `receiver.receiveMessages()` has been called and is polling the service bus.
2. The connection is lost e.g. due to network problems.
3. From debug logging you can see that the `BatchingReceiver` has been closed.
4. This does not result in the `r

[2019-11-06 16:29] richardpark-msft opened #6066 "[app-configuration] API committee renames and typing for fields"
Review feedback is here: #5471

The renames are pretty simple:

* `readOnly` in `ConfigurationSetting` should be `isReadOnly`
* `lastModifiedHeader` should be:
  * A `Date` type instead of a string
  * Have the `header` suffix trimmed off
  * (possibly changed to `lastModifiedOn` (re-review API committee video)
* `GetConfigurationSettingOptions`, `ListSettingOptions` (and others) need to change th

[2019-11-06 16:35] richardpark-msft commented on #5562
@ramya-rao-a - looks like this issue got under the wrong epic. Where should it go?

[2019-11-06 16:38] richardpark-msft opened #6067 "[app-configuration] Renames from user feedback study for readOnly"
User feedback results have come in and the winner is to remove `clearReadOnly` and make it so `setReadOnly` takes a bool.

[2019-11-06 16:48] richardpark-msft opened #6068 "[app-configuration] sync token consistency"
The sync token header is used so app config can maintain a consistent "session" for a user. Without it it's possible (in some high concurrency situations) for a user to write a value (which exists in the cache) and read it back before it's been committed.

The sync token, if it comes back in any API call, should be stored internally in the client and re-sent in any subsequent API call and then pot

[2019-11-06 16:49] richardpark-msft opened #6069 "[app-configuration] Add support for setting RequestID, Correlation Id and Correlation Context"

[2019-11-06 17:42] ramya-rao-a commented on #5562
Fixed the epics

[2019-11-06 17:44] ramya-rao-a commented on #6037
@joheredi is looking into this and will post his findings soon

[2019-11-06 18:30] leonbrag commented on #6009
Yes, it would be great to see .then syntax for both iterators and for await for loop.

[2019-11-06 19:08] ramya-rao-a commented on #5944
@chradek There are some ETIMEDOUT related errors in the logs above that we should investigate, but apart from that what I described above was also captured in #3376

[2019-11-06 19:18] HarshaNalluru opened #6070 "[Storage File Share] CodeGen Bug - `isXML: true` vs `isXML: false`"
**Issue**
- Autorest generated code has `isXML: true` for `createPermissionOperationSpec` as opposed to the expected `isXML: false`.
- Had to manually revert this specific change.
(Both with the Xstore swagger and the unified swagger)

**Reference**
- https://github.com/Azure/azure-sdk-for-js/pull/6032#discussion_r342782823

**To do**
- Either fix the swagger/autorest and get the expected `isXML:

[2019-11-06 19:20] HarshaNalluru commented on #6070
/cc - @jeremymeng @XiaoningLiu @willmtemple @joheredi

[2019-11-06 19:27] joheredi commented on #6037
Thanks for reporting this @ncksolcan, can you please try adding the following to your package.json and let me know if the build error goes away?

[code]

[2019-11-06 19:28] #5776 closed

[2019-11-06 19:41] #5595 closed

[2019-11-06 22:12] bterlson commented on #5859
@galkin can you say more about what you're trying to do? Are you attempting to build the library with the Node 12 types, or are you trying to consume the library from npm with Node 12 types?

If the latter, it should work with the Storage v12 package we just released.

If the former, we are deliberately using Node v8 types. Libraries should generally use the types that correspond to the lowest ver

[2019-11-06 22:25] bterlson commented on #5859
FWIW, the type error is a result of Buffer.from changing from `(string, string)` in the v8 types to `(string, BufferEncoding)` in v12, where `BufferEncoding` is a union of string literal types corresponding to the allowable encoding options. The underlying runtime semantics didn't change.

[2019-11-06 22:26] chradek opened #6075 "[Event Hubs] Support prefetching events in subscribe method"
Our current subscribe method retrieves up to N events at a time (N is specified by the user). It then waits to retrieve the next N events until the user has finished processing their existing events.

This issue is to track having a prefetch queue of events. The idea is that behind the scenes, the subscribe method can continue retrieving events while the user is processing them to reduce the delay

[2019-11-06 22:27] chradek commented on #3308
Closingin favor of #6075 as we've switched to using the `subscribe` method to receive events.

[2019-11-06 22:27] #3308 closed

[2019-11-06 22:28] sarangan12 commented on #6030
Closing this in favor of https://github.com/Azure/autorest.typescript/issues/473

[2019-11-06 22:28] #6030 closed

[2019-11-06 22:31] ramya0820 commented on #2542
Agree with handling case for when `body` is not specified and input is not an object.

P.s If TS can crossover to JS at runtime, by emitting say 'property X is required' TypeError (say with a compiler flag or something), tht would be cool.

[2019-11-06 22:34] chradek commented on #5692
Completed as part of https://github.com/Azure/azure-sdk-for-js/pull/5746

[2019-11-06 22:34] #5692 closed

[2019-11-06 22:34] chradek commented on #5712
Completed as part of https://github.com/Azure/azure-sdk-for-js/pull/5746

[2019-11-06 22:34] #5712 closed

[2019-11-06 22:35] chradek commented on #5017
Closing as we've rolled up `EventProcessor` into `EventHubConsumerClient`.

[2019-11-06 22:35] #5017 closed

[2019-11-06 22:40] #6052 closed

[2019-11-06 22:47] chradek commented on #2541
We need to review if this is still an issue given all the changes to core-amqp/identity.

[2019-11-06 22:50] chradek commented on #2845
Work has been started in #5401 but needs work due to some major refactoring that's occurred.

[2019-11-06 22:51] galkin commented on #5859
@bterlson,
1) I updated to v12.0.0 at last week. There are the same problem. I changed issue name.
2) Right now my I fixing that by adding postinstall script what add lines as the opened pull request #6078
3) I'm totally agree with you regarding reasons of the bug. The problem is related to typescript build time with v12 Node.js types only. It's not related to run time or building with Node.js typ

[2019-11-06 22:52] chradek commented on #3518
Current warnings are only on internal constructors. Keeping this issue open so we make sure to review that this is still the case before GA.

[2019-11-06 22:57] bterlson commented on #5859
@galkin are you attempting to build the storage library yourself, or are you trying to consume the storage library from npm?

[2019-11-06 23:00] chradek commented on #4349
Closing. We've consolidated consuming events into the `subscribe` method. subscribe returns an object with a `close` method on it to finish consuming events.

[2019-11-06 23:00] #4349 closed

[2019-11-06 23:00] richardpark-msft opened #6080 "[Event Hubs] EventHubConsumerClient Constructor parity with Python regarding PartitionManager"
From @ramya-rao-a:

If we push it into the options bag, then it doesnt get the attention it deserves.
Therefore, we need to figure out if PartitionManager should stay in the subscribe method or move to the constructor

[2019-11-06 23:01] richardpark-msft opened #6081 "[Event Hubs] Address architect feedback (on<event> => process<event>, move receive events into subscription options)"

[2019-11-06 23:02] chradek commented on #4868
This has been partially done, but need to run through methods to see if this has been done across the board.

[2019-11-06 23:02] richardpark-msft opened #6082 "[Event Hubs] createBatch() should take a list of events and just return a batch and the remainder"

[2019-11-06 23:02] wiazur opened #6083 "Cognitive Services / Face / Person Group create() parameter"
- **Package Name**:
- **Package Version**:
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: v12.13.0
- [ ] **browser**
    - **name/version**: Edge
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
In the Cognitive Ser

[2019-11-06 23:09] chradek commented on #5441
The latest preview version has been published!
https://www.npmjs.com/package/@azure/event-hubs/v/5.0.0-preview.6

[2019-11-06 23:09] #5441 closed

[2019-11-06 23:17] galkin commented on #5859
@bterlson, we use npm, not building. My mistake, I checked that file with the problem is exist at v12, it was automatically changed by postinstall script. But I didn't check is that problem reproducible.

So we didn't have the problem.

[2019-11-06 23:17] #5859 closed

[2019-11-06 23:32] AskYous opened #6085 "Submitting a new prompt moved the QnA set to Production."
- **Package Name**: @azure/cognitiveservices-qnamaker
- **Package Version**: ^3.0.0
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: 10.3.0
- [x] **browser**
    - **name/version**: Chrome/78.0.3904.87
- [x] **typescript**
    - **version**: 2.4.2
- Is the bug related to **documentation** in
  It's not a documentation issue

**Describe the bug**
When I download my QnA maker k

[2019-11-06 23:34] chradek commented on #5328
I believe this was fixed in #5663, where tests were also updated to check the error.name matched `AbortError`. I don't see issues in the CI for live browser tests, so believe this is good to close.

[2019-11-07 00:26] wiazur opened #6087 "Cognitive Services / Face Identify indentify() parameter"
- **Package Name**: @azure/cognitiveservices-face
- **Package Version**:
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: v12.13.0
- [ ] **browser**
    - **name/version**:  Edge
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe

[2019-11-07 00:32] #5246 closed

[2019-11-07 00:58] bterlson commented on #5859
@galkin no problem! Happy to help if you run into more issues. Also, let us know what you think of the new storage libraries 😁

[2019-11-07 01:08] HarshaNalluru commented on #5764
cc - @bterlson

[2019-11-07 01:25] ramya-rao-a commented on #6065
Thanks for reporting @grahambates

How did you simulate the loss of connection? By disabling wifi/network while the `receiveMessages` is running or by some other means?

[2019-11-07 01:25] ramya-rao-a commented on #6065
Can you also please share the version of the Service Bus library you are using?

[2019-11-07 01:57] ramya0820 commented on #2542
Discussed offline, since this would involve making a breaking change we decided to close it for time being.

[2019-11-07 01:57] #2542 closed

[2019-11-07 02:06] #6050 closed

[2019-11-07 07:30] galkin commented on #5859
`@azure/storage-blob` v12 has awesome API. We migrated from v10 at the first day and it was pleasure to do this. Thank you for your work!

[2019-11-07 07:58] HarshaNalluru opened #6091 "[Storage] Ensure that the tests and samples clean up the resources after each run"
Tests don't clean up all the resources after the test runs.
We might need to update some tests to make sure resources are cleaned up successfully. This issue is to track the same.

Reference -
https://github.com/Azure/azure-sdk-for-js/pull/6062#pullrequestreview-313160619

[2019-11-07 08:36] HarshaNalluru commented on #5328
Reverting https://github.com/Azure/azure-sdk-for-js/pull/5327 in #6086

[2019-11-07 10:17] grahambates commented on #6065
Yes, disabling wifi or pulling out a network cable seems to be the easiest way to reproduce this.
We're using version 1.1.0.

[2019-11-07 10:35] Evertvdw commented on #5944
@ramya-rao-a Yes I can, maybe there is something wrong with the approach I take:

[code]
I listen to a Kafka topic and on every message I receive there this function is called. So especially on the initial connection a lot of data can come through and this function is called a lot of times. I'm currently not waiting for the function to finish before it can be called again, is that what causes the

[2019-11-07 10:38] Evertvdw commented on #5944
Here is an image of the TSI environment, where you can see that somewhere on 29-10 the data stopped coming in, and started steadily again at around 2-11.
![image](https://user-images.githubusercontent.com/5757159/68381939-00780380-0153-11ea-9f5b-08f1ecfa0c67.png)

[2019-11-07 10:53] Evertvdw commented on #5944
[code]

[2019-11-07 16:34] richardpark-msft commented on #6082
@ramya-rao-a  - based on the standup discussion it sounds like we want to move this out to a later epic?

[2019-11-07 17:19] AskYous commented on #6085
On qnamaker.api, they add a query parameter: `?getFlattened=true`. And this returns all the results. Is this possible using the SDK?

[2019-11-07 17:35] ramya-rao-a commented on #6087
Thanks for reporting @wiazur

@ChrisHMSFT Can you please route this to the right person in the cognitive services - face team?

[2019-11-07 17:40] ramya-rao-a commented on #6085
Thanks for reporting @AskYous

@ChrisHMSFT Can you loop in the right person from the QnA team to answer the above questions?

[2019-11-07 17:41] ramya-rao-a commented on #6083
Thanks for reporting @wiazur

@ChrisHMSFT Can you please route this to the right person in the cognitive services - face team?

[2019-11-07 18:35] sadasant opened #6093 "[KeyVault] Have separate examples with poll and pollUntil done"
For the pollers that are visible in the README, have separate examples within the README for poll and pollUntilDone.

[2019-11-07 18:53] daviwil commented on #6059
We are currently using the latest release of MSAL.js, [1.1.3](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/v1.1.3).

[2019-11-07 18:53] #6059 closed

[2019-11-07 19:31] #3450 closed

[2019-11-07 20:38] richardpark-msft commented on #6069
Closing this - the JS SDK always allows the user to add custom headers to the underlying HTTP request (via the OperationOptions) as well as read back custom header values in the response (the _response property for each returned model).

Considering this complete.

[2019-11-07 20:38] #6069 closed

[2019-11-07 21:10] #4835 closed

[2019-11-07 21:11] #4626 closed

[2019-11-07 21:11] #4832 closed

[2019-11-07 21:17] #6049 closed

[2019-11-07 21:17] #4877 closed

[2019-11-07 21:18] #3031 closed

[2019-11-07 21:18] #5368 closed

[2019-11-07 22:02] SealedSaint opened #6115 "API documentation link is 404ing"
Hi! The link to the API Documentation (https://docs.microsoft.com/en-us/javascript/api/%40azure/cosmos/?view=azure-node-latest) is giving me a 404 page. Is there a different link I should be using?
<img width="1680" alt="Screen Shot 2019-11-07 at 3 01 26 PM" src="https://user-images.githubusercontent.com/11187206/68431461-80ac6200-016f-11ea-8c13-bc42298e6113.png">

[2019-11-07 22:11] scbedd opened #6099 "[Documentation] Preview and GA Eventhub Content is Broken"
This URL: https://docs.microsoft.com/en-us/javascript/api/@azure/event-hubs/?view=azure-node-preview

Should be showing preview eventhubs. Currently it's from GA track 1 eventhub.

[2019-11-07 22:22] AlexGhiondea commented on #5497
This is a REST doc issue. Please reactivate if this is still an issue.

[2019-11-07 22:22] #5497 closed

[2019-11-07 22:25] #5820 closed

[2019-11-07 22:26] ramya-rao-a opened #6101 "Release EventHubs January update for Javascript"

[2019-11-07 22:30] #6081 closed

[2019-11-07 22:33] ramya-rao-a opened #6103 "[Event Hubs] Hot fixes to v2.x.x of Event Hubs library"

[2019-11-07 22:34] ramya-rao-a commented on #5765
This got done in #6043

[2019-11-07 22:34] #5765 closed

[2019-11-07 22:36] sadasant commented on #5782
Hi! @vaderj , please try our latest version https://www.npmjs.com/package/@azure/keyvault-secrets/v/4.0.0 I'll close this issue for now, but let us know if you find something else! Thank you and @tmschbgr for your time.

[2019-11-07 22:36] #5782 closed

[2019-11-07 22:37] ramya-rao-a commented on #5290
Thanks for reporting @fashaikh
This is currently not possible to do in the 2.1.1 version of the event hubs library.

We are working on a new version of this library at the moment and will get back to this issue in January with updates if any

[2019-11-07 22:41] chradek commented on #5163
Since we have prior art via storage libraries for vending a SharedKeyCredential, we're going to continue using that rather than force it to follow the TokenCredential interface. Either way, it would be an event hubs-specific credential and not portable to other services.

[2019-11-07 22:41] #5163 closed

[2019-11-07 22:48] chradek commented on #4869
Closing since the current behavior is what we want for event hubs. We treat this a bit differently in service bus due to being able to get a lock on a message in that world. In event hubs, there is no locking on messages.

[2019-11-07 22:48] #4869 closed

[2019-11-07 22:49] chradek commented on #4752
Closing as refactoring has made this irrelevant.

[2019-11-07 22:49] #4752 closed

[2019-11-07 22:55] sadasant commented on #4670
We haven't had activity regarding this for months. I'll close it.

[2019-11-07 22:55] #4670 closed

[2019-11-07 22:55] ramya-rao-a commented on #2656
No namespaces or modules are used in the user facing surface, so closing this

[2019-11-07 22:55] #2656 closed

[2019-11-07 23:00] ramya-rao-a opened #6105 "[Event Hubs] Remove overlap between CheckPoint and PartitionOwnership interfaces"
Gist with more details: https://gist.github.com/srnagar/a81ec29f4a742952d0875036d1d4732d

[2019-11-07 23:05] chradek commented on #6105
Gist with more details: https://gist.github.com/srnagar/a81ec29f4a742952d0875036d1d4732d

[2019-11-07 23:06] ramya-rao-a opened #6107 "[Event Hubs] Ensure same casing of blob properties across languages for interopability"
The Azure portal actually won't let me save differently cased metadata keys. So we're okay there.

As far as the actual names themselves the only outlier is C# which is using underscores - everyone else is good (some with different casing, but apparently that doesn't matter).

- [x] [python](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/eventhub/azure-eventhubs-checkpointstoreblob/

[2019-11-07 23:11] chradek opened #6108 "[Event Hubs] Revisit load-balancing algorithm initialization"
Currently, EventProcessor will grab 1 partition at a time during load-balancing. Depending on the number of processors, it can take a long time before all partitions are assigned a processor.

Another strategy was to take all available partitions and allow other processors to steal as necessary.

[2019-11-07 23:27] chradek commented on #3961
Covered by #3518, we no longer have a separate EPH package for track 2.

[2019-11-07 23:27] #3961 closed

[2019-11-07 23:43] richardpark-msft commented on #5162
@ramya-rao-a  - Is it important for them to configure it per-partition or simply to allow them to provide a fallback?

We have this option now that can be passed by subscribe()'rs:

  /**
   * The event position to use when claiming a partition if not already
   * initialized.
   *
   * Defaults to EventPosition.earliest()
   */
  defaultEventPosition?: EventPosition;

[2019-11-07 23:54] xirzec commented on #5263
There are only three such methods on CosmosClient, `getDatabaseAccount`, `getWriteEndpoint`, and
`getReadEndpoint`.

None of them sound particularly improved by this conversion, especially the last two: `readDatabaseAccount`, `readWriteEndpoint`, `readReadEndpoint`

This seems like longer-lead work than simple renames. Is it really something we want to bundle with the other work?

I'm not seeing w

[2019-11-07 23:58] chradek commented on #5944
@Evertvdw
Thanks for providing a sample of how you're sending events. It seems likely that you're seeing the `Too much pending tasks` error due to sending a large (> 10000) number of events right away.

This is because behind the scenes, the first time you call `send` or `sendBatch`, the SDK will create what's called a `link` to the service. To prevent extra links from being created, we acquire a

[2019-11-08 00:02] xirzec commented on #5263
I'd also appreciate if @southpolesteve or @bterlson could clarify what is meant by 'aliasing'.

For example, I could leave the method `getPartitionKeyDefinition` and have it simply return the result of calling `readPartitionKeyDefinition`, but it's subtler what we should do for interfaces.

Like for `ErrorResponse` if we rename `retryAfterInMilliseconds` to `retryAfterInMs`, do we have to go to ev

[2019-11-08 00:34] markwolff opened #6113 "[EventHubs][DistributedTracing] addLink should not be called after span creation"
- **Package Name**: event-hubs
- **Package Version**: 5.0.0-preview.6

**Describe the bug**
`span.addLink` is no longer supported by [OT Span API](https://github.com/open-telemetry/opentelemetry-specification/pull/258). If core-tracer is set as an opentelemetry tracer, it will crash here
https://github.com/Azure/azure-sdk-for-js/blob/b2e14affe164b363615c731c755176887b081ad4/sdk/eventhub/event-hubs

[2019-11-08 00:36] ramya-rao-a commented on #6113
cc @xirzec and @chradek

[2019-11-08 00:40] xirzec commented on #6113
Perhaps it's time for me to dust off #5606 with the latest types?

[2019-11-08 00:54] daviwil commented on #4774
We are still planning to implement `InteractiveBrowserCredential` for Node.js but didn't have time to include it in the 1.0 GA release.  We hope to get it implemented in a future feature update in early 2020.

[2019-11-08 00:58] AskYous commented on #6085
I found out some more on the issue. The sdk does not bring all the results. It only brings, perhaps, page 1 of the results. When I would `update` the prompts of a qna set, it would push that qna set to the end of the list, and the SDK only returns page 1 of the list. I have also received the same results the [api console](https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd13686

[2019-11-08 01:04] richardpark-msft commented on #5162
After talking with the other team members it looks like what we're offering is functionality equivalent to what other teams are offering as well. Closing this issue.

[2019-11-08 01:30] richardpark-msft commented on #5162
@ramya-rao-a  brought up an interesting point that the other SDKs allow you to return the offset from your callbacks (which we don't) which gives the user the option to use other critiera (per partition) to figure out the start offset. I can extend our code to allow the same.

[2019-11-08 03:15] #6010 closed

[2019-11-08 10:09] BigBd1 commented on #5810
I have just tried with the latest version (1.0.0-preview.7) and the issue is still here. Does someone meet the same problem ?

[2019-11-08 16:51] sadasant commented on #4087
I'll close this for now. I believe further progress should be done in the READMEs of our libraries and in the recording tool we're using. Please let me know if anyone thinks otherwise.

[2019-11-08 16:51] #4087 closed

[2019-11-08 17:20] craxal opened #6117 "Access policy properties in `SignedIdentifier` for queues should be optional"
- **Package Name**: @azure/storage-queue
- **Package Version**: 12.0.0
- **Operating system**: All
- [x] **nodejs**
    - **version**: 10.17.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.6.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2019-11-08 17:26] richardpark-msft commented on #5162
Okay, after talking with @chradek - the simple solution here is to allow the user some flexiblity.

They can pass a constant EventPosition (ie, EventPosition.latest(), EventPosition.earliest()) or they can pass us a callback (@chradek  calls it a provider) that can take a partition ID and return an EventPosition, giving them more freedom to pick where they want to start.

[2019-11-08 17:45] scbedd commented on #6099
Super confused here. Verified that the preview build is definitely targeting the correct package.

![image](https://user-images.githubusercontent.com/45376673/68498719-6ecccc80-020c-11ea-8926-2856bdda8a81.png)

Still digging.

[2019-11-08 18:13] chradek opened #6118 "[Event Hubs] investigate connection disconnect behavior in linux"
Some other language SDKs could keep a connection open despite a socket no longer receiving traffic in linux. A fix in those SDKs was to add an idle timeout. A quick search suggests the JS SDK already has an idle timeout of 60 seconds, but this issue is to track confirming that it is working correctly.

[2019-11-08 19:46] HarshaNalluru opened #6119 "[Storage] Refactor the common code in the upload methods"
There is a lot of common code among the upload methods(mostly parameter validations),
`uploadSeekableBlob`, `uploadResetableStream`, (and the new private method `uploadBuffer`) which can be refactored.

This issue is to track the same. (for both blob and file-share packages)

Reference - https://github.com/Azure/azure-sdk-for-js/pull/6060#issuecomment-551965751

[2019-11-08 19:48] HarshaNalluru opened #6120 "[Storage Blob] Unified uploadData method for Blob"
Replicate unified uploadData method of file-share https://github.com/Azure/azure-sdk-for-js/pull/6060 for blob, a new uploadData method for storage-blob instead of uploadBrowserData.

Reference - https://github.com/Azure/azure-sdk-for-js/pull/6060#discussion_r342888276

[2019-11-08 19:53] ramya0820 commented on #4140
Closing since issue hasn't been reproducible in `peekLock` mode and there hasn't been any activity.

[2019-11-08 19:53] #4140 closed

[2019-11-08 20:02] ramya0820 commented on #5885
Closed with #6057

[2019-11-08 20:02] #5885 closed

[2019-11-08 20:03] danielepattuzzi1 opened #6121 "[Event Processor Host]: same event processed multiple times after checkpoint has been set"
- **Package Name**: @azure/event-processor-host
- **Package Version**: 1.0.6
- **Operating system**: Linux
- [x] **nodejs**
    - **version**:   8.16.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bu

[2019-11-08 20:12] ramya-rao-a opened #6122 "[Storage] Reference links to v12 Blobs should point to latest and not preview docs"
Go to [Introduction to Blob](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blobs-introduction).

On the toc, go to "Reference" and then the "JavaScript (version 12.x)". This is pointing to preview docs. Now that blobs and queues have gone GA, they should point to the latest docs.

https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/?view=azure-node-latest

![image](h

[2019-11-08 20:16] ramya-rao-a opened #6123 "[Storage] Reference links to v10 Queues should be replaced with v12"
Go to [What are Queues](https://docs.microsoft.com/en-us/azure/storage/queues/storage-queues-introduction).

On the toc, go to "Reference" and then the "JavaScript (version 10.x)".

This toc node should be renamed to "JavaScript (version 12.x)" to be in sync with what we are doing in Blobs. Also because the link goes to v12

![image](https://user-images.githubusercontent.com/16890566/68507796-97ab

[2019-11-08 20:34] ramya-rao-a commented on #6122
Same applies for the Python link that appears right below the JS link.

cc @annatisch, in case you want a separate issue for Python, feel free to copy this one over :)

[2019-11-08 20:34] ramya-rao-a commented on #6123
Same applies for the Python link that appears right below the JS link.

cc @annatisch, in case you want a separate issue for Python, feel free to copy this one over :)

[2019-11-08 20:49] ramya-rao-a opened #6125 "[Keyvault] Update Quickstarts to use the new packages"
The [QuickStart for Nodejs](https://docs.microsoft.com/en-us/azure/key-vault/quick-create-node) uses the old package. We should be showcasing the new package `@azure/keyvault-keys` that we have released instead.

We can do this by create a PR with changes to the markdown file https://github.com/MicrosoftDocs/azure-docs-pr/blob/master/articles/key-vault/quick-create-node.md

Please sync up with @Al

[2019-11-08 20:52] sadasant commented on #6125
Just for future reference, the Python docs seem to have been updated already: https://docs.microsoft.com/en-us/azure/key-vault/quick-create-python

[2019-11-08 21:02] ramya-rao-a commented on #6122
cc @maggiepint

[2019-11-08 21:03] ramya-rao-a commented on #6123
cc @maggiepint

[2019-11-08 21:09] ramya0820 commented on #2853
(That's odd - there should have been this comment on here but seems missing now).

Discussed with @bterlson, we decided to add in @throws to the documentation for user benefit to code defensively against the API.

Other considerations as discussed -
- We will not be documenting `TypeError` and other minor ones which can be caught upfront based on bad input.
- We'll be only capturing errors that ar

[2019-11-08 21:21] sadasant commented on #4353
I'm testing this in the latest versions (1.0.0) and this seems to be working fine now. Please help me confirm!

[2019-11-08 21:47] HarshaNalluru commented on #4353
Tested storage packages recently, they seem good.

[2019-11-08 21:59] ramya-rao-a commented on #2557
Hello all,

We have come a long way working on the next version of the Event Hubs library.
We are still in preview, but would like your thoughts and feedback on the new model.

Please checkout [v5.0.0-preview.6](https://www.npmjs.com/package/@azure/event-hubs/v/5.0.0-preview.6) of the Event Hubs library. Below are some useful links to get started

- [Package (npm)](https://www.npmjs.com/package/@a

[2019-11-08 21:59] sadasant commented on #4353
Thank you everyone! Closing this issue.

[2019-11-08 21:59] #4353 closed

[2019-11-08 22:06] HarshaNalluru commented on #6117
Thanks for opening the issue, @craxal!

@jiacfan, Can you take a look?  In case we update, V10 might need the fix too.

[2019-11-08 22:45] #5912 closed

[2019-11-08 23:07] ramya-rao-a commented on #2557
One more point, the capabilities of the older Event Processor Host is now folded into the main Event Hubs library. See the [sample for receiving events with load balanced](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-hubs/samples/receiveEventsWithLoadBalanced.ts) for details

[2019-11-08 23:27] ramya-rao-a opened #6130 "Missing reference docs for Preview packages for Keyvault Certificates, Storage File Shares, Event Hubs"
This issue is to track the missing reference docs for the below 3 libraries that are currently in preview
- `@azure/keyvault-certificates` 4.0.0-preview.9
- `@azure/storage-file-share` 12.0.0-preview.6
- `@azure/event-hubs` 5.0.0-preview.6
- `@azure/eventhubs-checkpointstore-blob` 1.0.0-preview.4
- `@azure/app-configuration` 1.0.0-preview.7

[2019-11-08 23:31] ramya-rao-a opened #6131 "Misleading preview docs for blobs, queues, keys, secrets, identity & core"
This issue is to track the need to remove the reference docs under "Preview" for the below packages as they are no longer in preview

-  `@azure/keyvault-keys`
-  `@azure/keyvault-secrets`
-  `@azure/storage-blob`
-  `@azure/storage-queue`
-  `@azure/storage-file`
- All core packages except `@azure/core-tracing`
- `@azure/identity`

![image](https://user-images.githubusercontent.com/16890566/68517

[2019-11-08 23:36] ramya-rao-a opened #6132 "Missing reference docs for Service Bus & Event Hubs"
This issue is to track the missing reference docs for Service Bus and Event Hubs

Below is the screenshot for Event Hubs. The Client node which should contain reference docs for `@azure/event-hubs` is missing.
![image](https://user-images.githubusercontent.com/16890566/68517621-2ed20d80-023d-11ea-9d5c-1e96b9c69fc8.png)

Below is the screenshot for Service Bus. The Client node which should contain

[2019-11-08 23:43] KarishmaGhiya opened #6133 "Refactor the pipeline parameters in azure-sdk-integration"
Refactor the pipeline parameters in azure-sdk-integration like the post-integration and pre-integration steps so that they directly import the steps instead of the file name

cc: @danieljurek

[2019-11-09 00:00] danieljurek commented on #6133
This refactor is complete when the `PreIntegrationSteps` and `PostIntegrationSteps` are specified as YAML structures and not strings. We want to do this so that one can specify template parameters to the `PreIntegrationSteps` and `PostIntegrationSteps`.

https://github.com/Azure/azure-sdk-for-js/blob/master/eng/pipelines/templates/jobs/archetype-sdk-integration.yml#L95 -- currently imports a templ

[2019-11-09 00:14] richardpark-msft commented on #5162
And the final final design is now in PR - which is to just provide a method on partition context that the user can call to set the position.

If no position is retrieved from a checkpoint and nothing is specified by the user we default to EventPosition.earliest().

[2019-11-09 01:06] daviwil commented on #5539
Hey @leonbrag, sorry for the delay.  It appears that the "Owner" role is not sufficient for listing blobs inside of your blob storage account.  You'll have to use one of the "Storage Blob Data *" roles (like "Storage Blob Data Owner" before you can list blobs or containers.  This seems to be the intended behavior of the blob storage service.

[2019-11-09 01:07] daviwil commented on #5539
Also, one thing that might help you in the future is to set the environment variable `AZURE_LOG_LEVEL` to `info` in your App Service configuration.  We now write out logs for our authentication flow and service calls, so it gives a better picture of what might be going wrong.

[2019-11-09 01:11] daviwil commented on #5178
@devaradhanm can you tell us the exact role name you are using?  The "Contributor" role itself is not enough, you must use one of the roles like "Storage Blob Data Contributor" otherwise it won't work.

@mromanch if you're still having trouble I'd recommend filing an issue over at the [azure-sdk-for-net](https://github.com/Azure/azure-sdk-for-net) repository since you're using the .NET SDK (this i

[2019-11-10 19:36] jonathandturner commented on #5681
Remaining items are already part of #5576

[2019-11-10 19:36] #5681 closed

[2019-11-10 19:43] jonathandturner commented on #5576
Folding into #5972

[2019-11-10 19:43] #5576 closed

[2019-11-10 20:18] ramya-rao-a commented on #6132
The reference docs are back, so closing this.
Thanks @scbedd

- [Event Hubs - @azure/event-hubs](https://docs.microsoft.com/en-us/javascript/api/@azure/event-hubs/?view=azure-node-latest)
- [Service Bus - @azure/service-bus](https://docs.microsoft.com/en-us/javascript/api/@azure/service-bus/?view=azure-node-latest)

[2019-11-10 20:18] #6132 closed

[2019-11-10 20:21] ramya-rao-a commented on #6130
While certificates & file-shares dont have a presence in the preview toc tree at all, the [node for event hubs](https://docs.microsoft.com/en-us/javascript/api/@azure/event-hubs/?view=azure-node-preview) contains Track 1 references

[2019-11-10 21:13] ramya-rao-a opened #6136 "[Service Bus] Skip the jsdoc comments on the function implementation on createReceiver()"
When we have function overloads, its the jsdoc comments on the overloads that get used by tools (tools for rendering docs, text that appears on hovering over the symbol in editors, text that appears in the auto-completion widget in editors) and not the one on the function implementation. The jsdoc comments on the function implementation should be removed altogether.

[code]

[2019-11-10 21:27] ramya-rao-a opened #6137 "[Service Bus] Better documentation for MessagingError"
In Service Bus, the `MessagingError` is a class of error that we use for scenarios when an error has occurred out of the control of the client. These are the errors that the user can catch, inspect the `name` or `condition` and take appropriate steps.

With #6088, we do document which user facing api can throw the `MessagingError`.
But we dont talk about how the user should/could handle this progr

[2019-11-11 00:38] jonathandturner commented on #4979
Closing, as I'm not able to repro with the latest.  We've recently added a tsconfig.samples.json for the samples to prevent .js files from being built beside them, so that might account for the fix.

[2019-11-11 00:38] #4979 closed

[2019-11-11 06:41] ramya-rao-a commented on #1892
`createReceiver()` is not an async function, so having a call to management apis is not going to be an option without making this a breaking change.

We havent gotten any feedback around the need for this feature, so closing this for now.

[2019-11-11 06:41] #1892 closed

[2019-11-11 06:49] ramya-rao-a commented on #5317
@ramya0820 Is there a sample code you can share where you saw this?

[2019-11-11 06:53] ramya-rao-a commented on #3116
The update here is that we are currently working on this feature and ironing out the last few details.
We will post another update once the feature is released.

Thanks for your patience!

[2019-11-11 06:54] ramya-rao-a commented on #3116
Meanwhile, please do try out the [@azure/arm-servicebus](https://www.npmjs.com/package/@azure/arm-servicebus) library that provides the management apis you are looking for if you have AAD set up.

[2019-11-11 07:09] ramya-rao-a commented on #3762
@jpeterson88 Apologies for the very late reply. In your case what was the count of messages in the subscription before you started the above code?

One thing to keep in mind is that `peek()` will always return an array of either length 0 or 1. It takes a count as input which defaults to 1 if you dont provide any. Similarly, `peek(2)` will return an array of length either 0, 1, or 2.

So, `peek()`

[2019-11-11 16:48] chradek opened #6141 "[Service Bus] ATOM parsing throws error in node.js 8.x"
In service-bus, the `atomXmlHelper.ts` uses the global `URL` object:
https://github.com/Azure/azure-sdk-for-js/blob/7e7d30bd5a6a3a17662aee61b8683960a1ddeb9a/sdk/servicebus/service-bus/src/util/atomXmlHelper.ts#L306

This works in browsers and node.js 10.x+, but causes an error to be thrown in Node.js 8.x since `URL` is not in the global scope:
https://nodejs.org/dist/latest-v12.x/docs/api/url.html

[2019-11-11 17:09] kaerm commented on #6121
@danielepattuzzi1 thanks for reporting this, our team will look into it! //cc: @ramya-rao-a

[2019-11-11 20:10] #5731 closed

[2019-11-11 20:18] #4876 closed

[2019-11-11 20:18] #6002 closed

[2019-11-11 21:08] #6093 closed

[2019-11-11 21:39] #6011 closed

[2019-11-11 21:49] ramya0820 opened #6146 "[Service Bus] Investigate request headers options for the management API operations"
This issue is to track efforts for investigation and changes to support and document the `ForwardTo` and `UserMetadata` fields which both seem to have to do with setting the request headers.

Once figured, the management API tests will need to be updated

[2019-11-11 22:35] jonathandturner commented on #5972
Checklist complete. There are a couple doc-related issues which have been moved to https://github.com/Azure/azure-sdk-for-js/issues/5489

[2019-11-11 22:35] #5972 closed

[2019-11-11 23:02] ramya0820 opened #6147 "[amqp-common] Introduce new retry operation type"
This issue is to track changes to make in amqp-common for adding new retry operation type for message settlement.

Subsequently `messageReceiver` and `messageSession` in Service Bus will need to be updated to use this type.

[2019-11-12 00:20] ramya-rao-a opened #6148 "[Cosmos] Cross Partition Validate Query test failing in CI"
The below test has been failing in CI since 11/9

![image](https://user-images.githubusercontent.com/16890566/68631288-20832c00-049f-11ea-81d2-f3a37a4d76a8.png)

cc @southpolesteve

[2019-11-12 00:22] ramya-rao-a commented on #6141
cc @bterlson

[2019-11-12 00:53] xirzec opened #6149 "[cosmosdb] Rename RetryOptions parameters"
currently `RetryOptions` looks like this:

[code]

There is desire to align with core-http so that these options look like

[code]

[2019-11-12 01:04] xirzec commented on #5263
Notes from chatting about this:

- [ ] alias changes as best we can (getters, mostly)
- [x] skip retryoptions changes
- [x] add issue tracking refactoring retryoptions and renaming [Created #6149]
- [ ] skip cosmosclient method renames, add issue for refactoring later [Created #]
- [ ] add issue for moving to core-http, link to retryoptions [Created #]
- [ ] rename readChangeFeed() to changeFeed()

[2019-11-12 01:06] xirzec opened #6150 "[cosmosdb] Rename `CosmosClient` methods"
There was feedback to rename top-level methods on `CosmosClient` with `read` instead of `get`, but that doesn't really make sense for the methods `getWriteEndpoint` and `getReadEndpoint`. It's also not clear how/where these are used.

[2019-11-12 01:08] xirzec opened #6151 "[cosmosdb] Move to use core-http"
This package should depend on `core-http` and as part of that we should align `RetryOptions` per #6149

[2019-11-12 03:10] mitchdenny commented on #5079
I am going to close this down. After the GA release, it became clear that there are lots of reasons for us to switch up the publishing order, having this be too rigid might end up having us snooker ourselves. :)

[2019-11-12 03:10] #5079 closed

[2019-11-12 16:41] SkyaTura opened #6152 "[arm-dns] Client hangs when trying to create recordSet"
- **Package Name**: `@azure/arm-dns`
- **Package Version**: `3.2.0`
- **Operating system**: `MacOS Mojave 10.14.16`
- [x] **nodejs**
    - **version**: `v10.16.3`
- [ ] **browser**
    - **name/version**: N/A
- [ ] **typescript**
    - **version**: N/A
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

[2019-11-12 19:56] xirzec opened #6155 "vscode eslint extension doesn't run correctly when opened against the repository root"
1) Open VSCode against the root of the repo
2) Open a TS file inside one of our packages
3) Look at the ESLint output channel (in the command palette)

[code]

I tried adding eslint and the plugins we use to the root package.json, but while that got rid of the above errors, it didn't actually supply lint corrections to any files. It did, however, occasionally supply a callstack where v8 ran out of

[2019-11-12 20:39] willmtemple commented on #6155
The short answer is that if the current version of [the azure sdk eslint plugin](https://github.com/Azure/azure-sdk-tools/tree/master/tools/eslint-plugin-azure-sdk) is published, we will be able to eliminate this problem by getting rid of `sdk/.eslintrc.js`, since the new version includes all the settings from `sdk/.eslintrc.js` as an extendable ruleset.

--

This is related to how eslint resolves

[2019-11-12 20:53] TheLarkInn opened #6159 "Create ESM Output Target for SDK"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Bundling is a common usecase for server side node/js applications! Bundlers work best with ES Modules tree shaking, dead code elimination.

Co

[2019-11-12 22:29] mikeharder opened #6160 "[Storage] Build warning "Import declaration conflicts""
The `storage-blob` build has the following warnings:

[code]

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=182344&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t=acc99708-be46-50ff-f197-4ecb2c3cab18&l=360

I believe these were introduced in #5993.

[2019-11-12 22:33] #4952 closed

[2019-11-12 22:34] #5772 closed

[2019-11-12 22:47] kaerm opened #6162 "Create a samples folder from the root with the README"
We need a readme that describes all the places where samples can be found placed in the /samples root directory that in the future will store samples that work across services:

For context, this is the .NET samples readme that Krzysztof wrote (it's okay to copy paste and adjust links and samples per language):
https://github.com/Azure/azure-sdk-for-net/blob/master/samples/README.MD

cc: @ramya-ra

[2019-11-12 22:49] kaerm commented on #5679
@ramya-rao-a

[2019-11-12 22:49] kaerm commented on #5666
@ramya-rao-a

[2019-11-12 22:49] #5664 closed

[2019-11-12 22:55] HarshaNalluru commented on #6160
Thanks @mikeharder, I'll check.

[2019-11-13 01:18] #4901 closed

[2019-11-13 04:13] hally9k opened #6177 "Event properties are not being sent to the event hub"
- @azure/event-hubs:next
- **Operating system**:
- [x] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I am setting some properties in each event in the producer:

[c

[2019-11-13 07:02] #6177 closed

[2019-11-13 15:51] sadasant commented on #4057
Hi @sprour . I believe we need more information to help you. Please answer to the following questions:

1. The link you shared in the description of the issue cannot be accessed! plasma-cash-mvp seems either doesn't exist or is a private repository. Can you provide a working link?
2. KeyVault should indeed support ECDSA256 for signing requests. However, this is called either ES256 or ES256K (the l

[2019-11-13 17:21] craxal opened #6179 "No properties returned for blob prefix items"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.0.0
- **Operating system**: All
- [x] **nodejs**: 10.11.0
- [x] **typescript**: 3.2.2

**Describe the bug**
No properties are returned for prefixes. While this is fine for ordinary blob containers, this is not fine for containers in HNS-enabled storage accounts!

This is a regression from the ADLS Gen2 client library provided to the

[2019-11-13 17:39] kaerm commented on #6115
The docs publishing was fixes and the link should work now

[2019-11-13 17:39] #6115 closed

[2019-11-13 17:44] ramya-rao-a opened #6180 "[Keyvault] Update samples repo app-service-msi-keyvault-node"
The samples repo https://github.com/Azure-Samples/app-service-msi-keyvault-node is using the old azure-keyvault.

This needs to be updated to use the newer keyvault packages

@kaerm, What is the general plan for such repos?
Are we to have samples for both old and new packages in 2 different folders?
Or replace the entire old sample with the new?

[2019-11-13 17:51] kaerm commented on #6125
The content team has been rewriting these for all languages - let me follow up why this one is not there

[2019-11-13 18:01] kaerm commented on #6125
Update - JS will be up by the end of the week

[2019-11-13 18:25] sadasant commented on #5419
If this documentation links are generated by our READMEs, some of the reported issues have been already addressed. Namely:

- "Configure Typescript" is already "Configure TypeScript".
- "## Authenticating the client" is considerably different now, and the title is "## Authenticating with Azure Active Directory".
- "setCertificate creates a certificate" no reference to `setCertificate` remains sinc

[2019-11-13 18:31] rfink commented on #5882
I'm having an issue here as well, from container instances. I have the access policy set for the key vault, but still just getting a simple 401 error (as above).

[2019-11-13 18:42] #5420 closed

[2019-11-13 19:23] #5568 closed

[2019-11-13 19:24] #5968 closed

[2019-11-13 20:33] xirzec commented on #6159
Sorry if I'm mistaken, but isn't this what we do already?

Our packages have `"module": "./dist-esm/src/index.js"`

[2019-11-13 21:28] #5419 closed

[2019-11-13 21:36] #6148 closed

[2019-11-13 21:53] HarshaNalluru commented on #6019
@alzimmermsft says JAVA SDK doesn't have the download options for **file**,
 whereas the download method for **blob** has the `DownloadRetryOptions` class with `int maxRetryRequests`.

[2019-11-13 22:08] HarshaNalluru commented on #6019
Python SDK doesn't have any `max_retry_requests` in the options - [download method](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py#L540)

.NET SDK too - [download method](https://github.com/Azure/azure-sdk-for-net/blob/79c6fee4392b1599c3b305c53ddaa25666db3393/sdk/storage/Azure.Storage.Files.Shares/src/ShareFile

[2019-11-13 22:15] daviwil commented on #4530
Hi @kepikoi, I tried to reproduce this issue with `@azure/keyvault` 0.1.0 (`@azure/ms-rest-js` 1.8.13 and `@azure/ms-rest-nodeauth` 1.1.1) and did not encounter the same error.  If you're still using `@azure/keyvault` could you try again and let us know if the issue still persists for you?

Also, we've deprecated this library in favor of the `@azure/keyvault-keys` and `@azure/keyvault-secrets` lib

[2019-11-13 22:21] daviwil commented on #4793
Hi @ak99372, it is intentional that `@azure/keyvault` does not support `ms-rest-js` 2.0; many of our libraries don't currently support it because we have been moving over to a new stack that is based on `@azure/core-http`.

`@azure/keyvault` is now deprecated in favor of `@azure/keyvault-keys` and `@azure/keyvault-secrets`.  Could you try one of those libraries to verify that it works for you in t

[2019-11-13 22:21] #4793 closed

[2019-11-13 22:40] daviwil commented on #5178
I'm going to close this issue in the short term because I am quite sure this is a configuration issue and not a bug in `DefaultAzureCredential`.  @devaradhanm, if you try this again with the correct role configured and the problem still persists, let us know and we will reopen the issue to investigate further.

[2019-11-13 22:40] #5178 closed

[2019-11-13 22:42] daviwil commented on #5543
Thanks @leonbrag!  It seems like the concern in this issue has been addressed so I'll close it now.  Please let me know if you have any other questions!

[2019-11-13 22:42] #5543 closed

[2019-11-13 22:44] daviwil commented on #5539
Hi @leonbrag, I believe this issue will be resolved by using the appropriate role in the access policy for your storage account so I'm going to close this issue for now.  If you try with one of the roles I recommended and you still experience this issue, please let me know and I'll reopen it so that we can investigate further.  Thanks a lot!

[2019-11-13 22:44] #5539 closed

[2019-11-13 22:51] willmtemple commented on #5997
I did some digging into this when I was working on storage docs.

The storage examples (across shares, blobs, and queues all the same) are formatted incorrectly. `@example` in JSDoc doesn't require code fences to work, because there `@example` is a special directive. Typedoc does not support the `@example` tag at all, instead treating it as if it has no special meaning.

See: TypeStrong/typedoc/is

[2019-11-13 23:37] manishsat commented on #5496
@bgklein Any update when the fix is going to get released?

[2019-11-13 23:46] bgklein commented on #5496
@manishsat  The preliminary fix has been rolled out completely so you should be seeing improvements. There are some code paths which are still being investigated, the release should have fixed most issues.

[2019-11-14 01:39] bterlson commented on #6137
My feeling is that #1 is a must regardless. #2 and #3 I would do if people find them useful, but I can't say I see them getting used personally.

[2019-11-14 02:38] lmolkova commented on #6113
addLink now should be called on SpanBuilder - when [creating span](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#span-creation), not after it is started. So it does not go away, just should be called on the different type

[2019-11-14 03:52] ramya-rao-a commented on #6179
Thanks for reporting @craxal
I'll let @XiaoningLiu reply with details, but is this issue different from the other one you logged around prefixes? #5817?

[2019-11-14 04:05] wiazur commented on #6083
This issue is now resolved with the recent Node SDK update.

[2019-11-14 04:05] #6083 closed

[2019-11-14 04:59] #6160 closed

[2019-11-14 06:57] ramya-rao-a commented on #6162
I like the general format used in the .Net readme with the below exceptions
- Listing samples for each libraries will not scale. Would suggest having a bulleted list of libraries that link to individual sample folders
- the common set of "how to guides" are helpful and can link to docs we have in the Documentation folder

cc @bterlson, @xirzec

[2019-11-14 07:03] ramya-rao-a commented on #5679
Below are the applicable packages in the order of priority
- storage-blob
- storage-queue
- keyvault-keys
- keyvault-secrets
- storage-file-share
- keyvault-certificates
- event hubs
- app configuration

All packages have a samples directory with samples
All packages except Keyvault have a readme

@willmtemple Please sync up with @kaerm on what kind of advanced scenarios are we looking for and we

[2019-11-14 07:05] ramya-rao-a commented on #5666
@jonathandturner, @richardpark-msft  Please do the needful here for Keyvault and Event Hubs respectively.

[2019-11-14 07:06] ramya-rao-a opened #6190 "Update service level readmes for Event Hubs"
_Copying from #5666 by @kaerm_

Update the service level and add READMEs (like [this one](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage)) to help directing people to the right package in the repo. Make sure to describe all of the packages and signal which one should be used for what

[2019-11-14 07:07] ramya-rao-a commented on #5666
Created separate issue for Event Hubs #6190

[2019-11-14 07:10] ramya-rao-a commented on #5823
@willmtemple, This can be closed now right?

[2019-11-14 07:11] ramya-rao-a commented on #5679
@kaerm The samples themselves are up to date. Please log new issue for any specific missing samples. Updating this issue title to reflect changes to only the readme files for samples.

[2019-11-14 07:59] dparkar opened #6191 "Quota API"
I went through the documentation and APIs under management package. I can't seem to find anything related to get current quota and its usage information.

REST API : https://docs.microsoft.com/en-us/rest/api/azurestack/quotas%20(compute)/list

Is there a way to achieve the same or should I query REST API directly ?

[2019-11-14 08:27] csanghvi opened #6192 "Unable to set contentType when uploading file using uploadFile"
If i am uploading a file, there isnt a property to set the content type. File is then saved in blob storage with default applicaiton/octet mime type.
[code]

Edited: code formatting

[2019-11-14 11:06] shanmuksai opened #6193 "Cancelling Uploading File Once Uploading Started"
In Our Application, We had a file input control once we select a file we are uploading that file to the blob. We need to upload 1Gb File so it will take some time to upload. If a user wants to change that file then we don't want to upload that file completely. In that case, we want to abort the file upload and upload a new file. To achieving that functionality We are searching for a feature to can

[2019-11-14 14:15] kepikoi commented on #4530
Hi @daviwil strange, I cannot reproduce it anymore... I will close the issue then.

I'm also looking into @azure/keyvault-keys but as far as I can see there seems no way to get the continuation token or URL from the `listPropertiesOfKeys().byPage()` iterable. @azure/keyvault's `getKeys()` does return `nextLink` as part of the server response though.
Oddly enough `listPropertiesOfKeys().byPage()` d

[2019-11-14 14:15] #4530 closed

[2019-11-14 15:46] sadasant commented on #5508
I wonder if this could be defined as part of the core-http PipelineOptions? or something similar? In case every service requires it.

[2019-11-14 17:53] chradek commented on #6193
@shanmuksai
Which version of the `@azure/storage-blob` library are you using?

If you're using version 12.0.0, you can pass an `abortSignal` as one of the options to your [upload](https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/blockblobclient?view=azure-node-preview#uploadbrowserdata-blob---arraybuffer---arraybufferview--uploadtoblockbloboptions-) method.

You can get an `abor

[2019-11-14 18:17] daviwil commented on #4530
Could you tell me a little more about what you're trying to accomplish by using the nextLink or continuationToken directly?  It does look like we don't expose that directly anymore so it'd be helpful to understand whether there's another use case we could account for.

[2019-11-14 18:22] willmtemple commented on #5823
Yes!

[2019-11-14 18:22] #5823 closed

[2019-11-14 18:22] #6067 closed

[2019-11-14 18:58] #6020 closed

[2019-11-14 18:58] HarshaNalluru commented on #6023
#6183

[2019-11-14 18:58] #6023 closed

[2019-11-14 18:59] #5328 closed

[2019-11-14 19:11] ramya0820 opened #6197 "[Service Bus] Update tests and infrastructure for management API feature"
Some APIs and test scenarios such as empty list() operations require that the Service Bus namespace used for live tests on CI to be empty.

This issue is to track investigation and decisions around the approach to take for the implementation and subsequently adding in the list() tests.

Context on test scenarios and other work arounds that were considered - https://github.com/Azure/azure-sdk-for-j

[2019-11-14 19:38] kaerm commented on #6122
done

[2019-11-14 19:38] #6122 closed

[2019-11-14 19:38] kaerm commented on #6123
done

[2019-11-14 19:38] #6123 closed

[2019-11-14 19:42] AlexGhiondea opened #6198 "Address API changes in certificates"
- [x] make vaultUrl public
- [x] subjectAlternativeName changes https://github.com/Azure/azure-sdk-for-js/issues/6205
  - [x] Require either subject or subjectAlternativeNames.
  - [x] Make subjectAlternativeNames work as the generated SubjectAltenrativeNames type.
  - [x] Make the new SubjectAlternativeNames require at least one property, with at least one value.

[2019-11-14 20:00] heaths opened #6199 "Remove duplicate cancel method from CertificateClient"
Since the LRO for CertificateOperation already has a `cancel` method, please remove it from `CertificateClient` for QA. If we hear feedback it's not as discoverable we can always add it back later.

[2019-11-14 20:14] daviwil commented on #5508
The presence of this parameter is caused by how `autorest.typescript` decides which constructor parameters should be added to `KeyVaultClient` and `KeyVaultClientContext`.  The critical path is [this logic](https://github.com/Azure/autorest.typescript/blob/dec223e96ff2f3fd01a8cb4848c712fb1e7f0509/src/vanilla/Model/CodeModelTS.cs#L390-L393):

[code]

This dictates that any required parameter withou

[2019-11-14 20:48] xirzec commented on #6162
Seems reasonable to link to a README inside specific sample folders that list out each individual sample

[2019-11-14 21:23] jonathandturner commented on #4530
@kepikoi - you can get access to the continuationToken via the page settings object.

Something like:

[code]

[2019-11-15 00:00] heaths opened #6205 "Accept multiple types of Subject Alternative Names"
Since posting multiple types of subject alternative names are possible for CertificatePolicy, change the SubjectAlternativeNames model (or property structure) as follows:

[code]

Additionally, in a language-idiomatic way, try to ensure that 1 or both of subject and/or subjectAlternativeNames are specified; otherwise, pass to the service as-is and let it validate and return an error response.

[2019-11-15 02:17] ramya0820 commented on #5354
Another point to investigate and likely discuss with service team on how best to handle are about properties that don't get updated as expected. These are documented, noted in the management API tests.

[2019-11-15 03:32] shanmuksai commented on #6193
@chradek this worked for us. Thanks for your quick response.

[2019-11-15 03:32] #6193 closed

[2019-11-15 03:40] ramya0820 opened #6210 "[Service Bus] Message and error message handlers are not registered correctly for session receivers"
Uncovered issue where the handlers on session receivers are not instantiated correctly.

This would involve same fix used as part of https://github.com/Azure/azure-sdk-for-js/issues/5541

[2019-11-15 09:54] kepikoi commented on #4530
@daviwil I employ a lots of keys per Key Vault and need to return key properties to my client's management frontend swiftly. Iterating over almost 2000 keys takes right now ~2 minutes that is why I pass the continuationToken to the frontend allowing to fetch results incrementally.

@jonathandturner works for me! thank you very much

[2019-11-15 15:06] loic-git commented on #3009
I am facing the same issue.
I see @azure/arm-notificationhubs module, but this one doesn't allow to send notification.
Do we know when notificationHub will be integrated into "azure-sdk-for-js"?

[2019-11-15 15:26] #5093 closed

[2019-11-15 16:30] #5666 closed

[2019-11-15 17:03] southpolesteve commented on #6003
FYI The fix for this will also fix TOP and GROUP BY not playing nice together

[2019-11-15 18:33] willmtemple opened #6213 "[Storage] Documentation for downloadToBuffer should explain its limitations"
Node.js Buffers have size limitations (around 2GiB on 64-bit architectures), and it would be nice if our doc comments for `downloadToBuffer` methods in Storage Blob clients and Storage File Share clients could call this out for our users and advise them to use other alternatives for large items.

See: [#6804 (comment)](https://github.com/Azure/azure-sdk-for-js/pull/6084#discussion_r346645906)

[2019-11-15 19:11] #4761 closed

[2019-11-15 19:11] #6051 closed

[2019-11-15 19:14] KarishmaGhiya opened #6215 "Publish Dev Feed Packages only when there is a change in package diff"
Publish Dev Feed Packages only when there is a change in source code of package/ package diff other than the dev versions. Compare with the latest dev version published

[2019-11-15 19:30] ramya-rao-a commented on #6210
@ramya0820 Does this issue cover any scenario that is not covered in #5541? If so, please provide details for the same.

[2019-11-15 20:19] kaerm opened #6217 "More docs.microsoft.com ref docs cleaning"
- [ ] In the GA TOC storage has management packages listed as common instead of management

- [x] azure storage datalake in listed as Other in GA TOC and should be placed in preview in Storage

[2019-11-15 22:18] #5930 closed

[2019-11-15 22:19] chradek commented on #6121
@danielepattuzzi1
Can you share a little more about how quickly you are receiving events and if your processing is non-blocking?

The reason I ask is because one thing that could be happening is that you have multiple calls to `checkpointFromEventData` for the same partition at the same time.

This could happen if you have non-blocking tasks in the callback you pass to event processor host because

[2019-11-15 23:35] danielepattuzzi1 commented on #6121
Hey,

Yeah that’s exactly the case. We currently are calling async methods in the processing event business logic and EPH is not waiting before receiving the next event.
Also, this was causing our service to not be able to respond to our health service (which periodically pings the container).
We will definitely move to the new library soon. Some teams in my organization started adopting the Event

[2019-11-15 23:57] craxal commented on #6179
@ramya-rao-a Yes, this issue is completely different. There's already an internal discussion going on about how to solve this with the platform team.

[2019-11-16 01:04] ramya0820 opened #6219 "[Service Bus] Improve type validation checks on user inputs"
An improvement to the management API feature would be to have stricter type checks on inputs.
Currently there are about 10-15 properties per each entity type's input options.

Throwing errors for all would result in having 10-15 x 4 number of checks to be added.

If input options used for create() API is made to be different for update() API (since some properties can be specified only at time of

[2019-11-16 19:00] richardpark-msft opened #6220 "[event-hubs] Move `CheckpointStore` to constructor"
Some finer points:

- [ ] Now that the checkpoint store is a constructor parameter it's no longer possible for the user to swap it out. To prevent simple mistakes we should check that the user doesn't accidentally subscribe to overlapping partitions.
- [ ] There are basically two paths through - one where the user supplies their own checkpoint store (the production case) and the one where nothing

[2019-11-17 19:09] #6205 closed

[2019-11-17 21:22] jonathandturner commented on #6198
done. we can reopen if the metaissue needs to grow

[2019-11-17 21:22] #6198 closed

[2019-11-17 23:13] ramya-rao-a commented on #5783
This is done with #5998

[2019-11-17 23:13] #5783 closed

[2019-11-17 23:22] ramya-rao-a commented on #4728
Update:
- The link to the Storage Overview page: https://docs.microsoft.com/en-us/javascript/api/overview/azure/storage?view=azure-node-latest&branch=master
- Samples should be updated to refer to the v12 version of `@azure/storage-blob` library with pointers to corresponding queue and file-share packages

[2019-11-17 23:23] ramya-rao-a commented on #4728
Also, all the samples link in the overview page are broken leading to 404

<img width="383" alt="Screen Shot 2019-11-17 at 3 23 00 PM" src="https://user-images.githubusercontent.com/16890566/69015950-36389b80-094e-11ea-9d2d-ef05a9a99652.png">

[2019-11-17 23:25] ramya-rao-a commented on #6016
This has been completed by @willmtemple in #6084

[2019-11-17 23:25] #6016 closed

[2019-11-18 09:54] XiaoningLiu commented on #6192
@csanghvi Will take a look.

[2019-11-18 10:23] Evertvdw commented on #5944
Thank you for the explanation, will close this issue.

[2019-11-18 10:23] #5944 closed

[2019-11-18 14:17] XiaoningLiu commented on #6179
Thanks Ramya. The issue is from blob endpoint behavior for ADLS interop enabled storage account. We can close this as this is not SDK issue, and there is an internal disucssion on going.

[2019-11-18 15:03] pconnell99 opened #6221 "AKV10032 - Invalid Issuer"
- **Package Name**:  @azure/identity, @azure/keyvault-secrets
- **Package Version**:  1.0.0, 4.0.0
- **Operating system**: Azure Web Application
- [ ] **nodejs**
    - **version**:  8.9.4
- [ ] **browser**
    - **name/version**:  N/A
- [ ] **typescript**
    - **version**:  3.4.1

**Describe the bug**
Whenever I try to MSI authenticate my Web Application this error is thrown.
[code]
The `<redacte

[2019-11-18 16:27] kaerm commented on #4728
Thanks! The content team is aware of it and should be getting to it soon

[2019-11-18 18:08] #6199 closed

[2019-11-18 18:16] chradek opened #6224 "[Event Hubs] Ensure empty OwnerId in PartitionOwnership is treated as unclaimed"
For EventProcessor load-balancing, we need to ensure that a PartitionOwnership that has an empty string for `OwnerId` is treated as unclaimed.

[2019-11-18 18:21] chradek opened #6225 "[Event Hubs] EventProcessor partition close should clear OwnerId on PartitionOwnership"
When the EventProcessor stops processing a partition because it has been stopped (__not__ due to another processor stealing the partition), it should set the `OwnerId` for any partitions it owns to an empty string.

This will allow other running EventProcessors to more quickly claim these partitions for processing.

[2019-11-18 18:36] willmtemple opened #6226 "Move eslint-plugin-azure-sdk to be in this repo"
We've had a few issues (#6155 #5172) come up that will be significantly simpler to resolve if our ESLint plugin is moved into this repo and added to `rush.json`. After discussing it seems everyone is agreed that it should be moved here. A good place for it would probably be `/common/eslint-plugin-azure-sdk`.

I can create a PR that moves it into the tree, but I don't know if we should try to prese

[2019-11-18 18:51] indis-io commented on #1303
Is there any progress on this or a workaround, I am experiencing it as well. And with our api design the OPs workaround is not really practical.
Thanks.

[2019-11-18 19:05] mikeharder opened #6228 "Convert core-http rollup config from TS to JS"
The rollup config in `core-http` should be coverted from `rollup.config.ts` to `rollup.config.js` to match other Track2 packages.

[2019-11-18 20:10] ramya-rao-a opened #6231 "[Event Hubs] Use offset, not sequence number when creating AMQP receiver link"
We have heard from the service team that it is more efficient for them to find the position in the stream using offset than sequence number.

Currently, we use sequence number to create an `EventPosition` when attempting to re-connect broken receiver links

This issue is to update the above to use offsets instead.

[2019-11-18 20:49] xirzec commented on #6159
I'm going to close this for now, until we can get more details about what is going wrong here.

[2019-11-18 20:49] #6159 closed

[2019-11-18 20:53] SlothFriend opened #6232 "Items.readChangeFeed optional changeFeedOptions is not actually optional"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.4.2
- **Operating system**: MacOS Catalina
- [x] **nodejs**
    - **version**: 12.13.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Th

[2019-11-18 20:58] jspruance opened #6233 "LUIS authoring - Apps 'add' - support 'tokenizerVersion' parameter"
The LUIS authoring code for creating an application does not appear to support the 'tokenizerVersion' request paramter, as documented here:
https://westeurope.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c2f

Could we add this property to the 'applicationCreateObject' model so that it can be passed into the 'add' method and included in the requ

[2019-11-18 21:02] jspruance opened #6234 "LUIS authoring - version exportMethod - format"
The LUIS authoring code for exporting a version does not appear to support the 'format' request paramter, as documented here:
https://westeurope.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c40

Could we add this property the 'exportMethod' method so that it gets included in the request body?

[2019-11-18 21:56] marcodalessandro opened #6235 "[Event Hubs] Sequence number = 0 force event processor to start always from the beginning of the stream."
- **Package Name**: @azure/event-hubs
- **Package Version**: 5.0.0-preview.6
- **Operating system**: Linux
- [x] **nodejs**
    - **version**: 8.16.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug*

[2019-11-18 22:08] #5263 closed

[2019-11-18 22:33] richardpark-msft opened #6237 "[Event Hubs] Migrate the storage-based CheckpointStore to the new interface"

[2019-11-18 23:17] xirzec commented on #6226
I wouldn't worry about history, you can link the old repo in the commit message if folks need to do archaeology.

[2019-11-18 23:30] #6235 closed

[2019-11-19 00:32] #6113 closed

[2019-11-19 00:50] jeremymeng commented on #6019
I asked @XiaoningLiu earlier about this option.  Each retry in this function actually starts a new pipeline, thus in theory the maximum number of total retries could be `m * n` if this option is set to `m` while the pipeline option retry policy has `n` max retries.

[2019-11-19 01:26] #5238 closed

[2019-11-19 01:32] ramya-rao-a commented on #6234
Thanks for reporting @jspruance
Can you share the name and the version of the luis authoring package you are using?

cc @kayousef

[2019-11-19 01:33] ramya-rao-a commented on #6233
Thanks for reporting @jspruance
Can you share the name and the version of the luis authoring package you are using?

cc @kayousef

[2019-11-19 02:21] XiaoningLiu commented on #6019
Just like Jeremy explained. So what's the purpose for this issue?

[2019-11-19 04:02] ramya-rao-a commented on #6019
cc @bterlson

[2019-11-19 04:05] ramya-rao-a commented on #5033
@XiaoningLiu Do you have any leads on this?

[2019-11-19 04:08] ramya-rao-a commented on #6120
The comment https://github.com/Azure/azure-sdk-for-js/pull/6060#discussion_r342888276 talks about deprecation and I dont believe we have a guideline around deprecation yet.

Looping in @bterlson into the discussion and moving this task out of December milestone

[2019-11-19 04:20] ljian3377 commented on #6192
You can specify the content type with `BlockBlobParallelUploadOptions.blobHTTPHeaders.blobContentType`.
[code]

[2019-11-19 04:23] ramya-rao-a commented on #5997
I dont see docs.microsoft.com getting updated to respect `@example` anytime soon. If this is something that is currently benefiting only azure.github.io, then my vote is for option 1 i.e remove `@example` and keep the code fences.

cc @bterlson, @xirzec

[2019-11-19 04:28] ramya-rao-a commented on #6179
Thanks @XiaoningLiu

Closing this issue as it is not related to SDK.
We can re-open if there is a follow up needed on the SDK side

[2019-11-19 04:28] #6179 closed

[2019-11-19 04:41] ramya-rao-a commented on #1303
We were able to reproduce the issue using the underlying rhea library and had started investigations there, please see https://github.com/amqp/rhea/issues/204

Apologies as we couldnt back with concrete results sooner, we will revisit this and share any findings we have.

@indis-io Can you share a sample code that mimics the way you are receiving from Service Bus along with the version of Service

[2019-11-19 05:27] ramya-rao-a commented on #1303
@indis-io, @niceandneat
Can you also share if you are using partitioned queues/topics or unpartitioned ones?

[2019-11-19 05:53] ramya-rao-a commented on #3993
@willmtemple Now that the PRs for fixing the circular references are merged, can you update this issue with a screenshot of remaining warnings from rollup?

[2019-11-19 06:03] ramya-rao-a opened #6249 "[Keyvault] Remove unused core-arm dependency in keyvault-certificates"
The `@azure/core-arm` dependency in `@azure/keyvault-certificates` is not being used and so can be removed

[2019-11-19 06:03] ramya-rao-a commented on #6249
cc @sadasant, @jonathandturner

[2019-11-19 08:58] soates commented on #5757
When will this be merged and released? We are seeing this exact issue.

[2019-11-19 10:01] HarshaNalluru commented on #6019
Continuing the discussion from https://github.com/Azure/azure-sdk-for-js/pull/5477#discussion_r334107393, and to check with other languages for consistency.

[2019-11-19 17:26] richardpark-msft opened #6250 "[event-hubs] Improve the checkpoint sample to not checkpoint after every event"
The current sample for consuming with checkpoints checkpoints after _every_ event which isn't the pattern that customers should adopt.

Change the sample so it shows a bit more technique about how the customer can checkpoint after a series of events.

_Originally posted by @ramya-rao-a in https://github.com/Azure/azure-sdk-for-js/pull/6214_

[2019-11-19 19:22] jspruance commented on #6233
thanks @ramya-rao-a

we're using 'azure-cognitiveservices-luis-authoring', v2.1.1
https://www.npmjs.com/package/azure-cognitiveservices-luis-authoring

[2019-11-19 19:23] jspruance commented on #6234
we're using 'azure-cognitiveservices-luis-authoring', v2.1.1
https://www.npmjs.com/package/azure-cognitiveservices-luis-authoring

thanks

[2019-11-19 19:28] richardpark-msft opened #6254 "[event-hubs] Add a streaming use case for the sendEvents sample"
In the review meeting, there were talks about updating the send sample to show a more "streaming" case of incoming data that need to be sent.

Do we plan to make that change in a separate PR and track in a separate issue?

_Originally posted by @ramya-rao-a in https://github.com/Azure/azure-sdk-for-js/pull/6214_

[2019-11-19 19:44] xirzec commented on #5997
I'm a little confused about the fallout of removing `@example`. Does it render correctly on VS Code? And does it still look like anything on azure.github.io?

[2019-11-19 19:56] heaths opened #6257 "Add/rename AdministratorContacts property on CertificateIssuer"
On `CertificateIssuer`, make sure the property that returns a list of type `AdministratorContact` is named `AdministratorContacts`.

[2019-11-19 20:27] southpolesteve commented on #6232
@SealedSaint Thanks for the report. Looks like a bug. I'll open a PR but in the meantime, you can work around by passing `{}`

[2019-11-19 21:15] sarangan12 opened #6259 "Create Test Harness for the autorest.typescript"

[2019-11-19 21:44] ramya-rao-a commented on #3993
Moving this issue to the Jan milestone to follow up on leftover warnings if any

[2019-11-19 22:10] ramya-rao-a opened #6260 "Release KeyVault January update for JavaScript"

[2019-11-19 23:01] sampaioletti commented on #1303
@ramya-rao-a sorry I am indis-io..i didn't realized i was logged in under another account when i posted. I was able to recreate it intermittently with

[code]
Sorry its difficult to mimic what my project is doing...but this seems to cause it after you run it a few times

[2019-11-19 23:11] kaerm opened #6261 "Missing old JS ref docs on docs.microsoft.com"
Onboard old versions of JS libraries under the legacy moniker:
- [ ] Storage Blob https://www.npmjs.com/package/@azure/storage-blob/v/10.5.0
- [ ] Storage Queue https://www.npmjs.com/package/@azure/storage-queue/v/10.3.0
- [ ] KeyVault https://www.npmjs.com/package/azure-keyvault

[2019-11-19 23:11] ramya-rao-a commented on #6080
Closing in favor of #6220

[2019-11-19 23:11] #6080 closed

[2019-11-19 23:23] ramya-rao-a commented on #6107
Please log an issue in the python repo and close this

[2019-11-19 23:25] ramya-rao-a commented on #6237
Can be tracked as part of #6105

[2019-11-19 23:25] #6237 closed

[2019-11-19 23:31] bsiegel opened #6262 "Produce a dependency graph during CI"
Anywhere that we currently generate a dependency report we should also publish a dependency graph. #6000 and Azure/azure-sdk-tools#278 will be needed for the implementation.

[2019-11-19 23:31] sampaioletti commented on #1303
ok sorry, took me a minute to think it throuth..this reproduces it reliably

[code]
and a trace from the error

[code]

[2019-11-20 00:01] sampaioletti commented on #1303
So the observations from the rhea thread you started seem correct the issue is just having multiple connections open at the same time in my case. if I modify the example to the following it works

[code]

[2019-11-20 00:23] ramya-rao-a commented on #6257
cc @sadasant, @jonathandturner

[2019-11-20 00:24] ramya-rao-a commented on #6260
cc @sadasant, @jonathandturner

[2019-11-20 00:28] ramya-rao-a commented on #6234
Thanks @jspruance

That package is not in active development and has been replaced with `@azure/cognitiveservices-luis-authoring`. Please try out https://www.npmjs.com/package/@azure/cognitiveservices-luis-authoring.

If you want to target v2 of the luis authoring apis, then use version 3.0.0 of the above library
If you want to target the newer v3 of the luis authoring apis that is in preview, the

[2019-11-20 00:28] ramya-rao-a commented on #6233
Thanks @jspruance

That package is not in active development and has been replaced with `@azure/cognitiveservices-luis-authoring`. Please try out https://www.npmjs.com/package/@azure/cognitiveservices-luis-authoring.

If you want to target v2 of the luis authoring apis, then use version 3.0.0 of the above library
If you want to target the newer v3 of the luis authoring apis that is in preview, the

[2019-11-20 01:07] ramya-rao-a opened #6263 "[Keyvault] Add entry in changelog for 4.0.1 for Keys & Secrets"
There are changes in the master branch for keys & secrets after we shipped 4.0.0
This issue is to track the need to capture the above under 4.0.1 in Changelog

cc @sadasant, @jonathandturner

[2019-11-20 05:19] ramya-rao-a commented on #2677
@bterlson The latest state for Event Hubs is as below

<img width="635" alt="Screen Shot 2019-11-19 at 9 17 18 PM" src="https://user-images.githubusercontent.com/16890566/69211160-02a66e80-0b12-11ea-8559-559c3f1e1799.png">

`WebSocketImpl` from `rhea-promise` is the only type used from rhea.

This is an interface used to provide the WebSocket implementation.

Do you recommend that we have a compat

[2019-11-20 05:27] ramya-rao-a commented on #6231
Code Pointer: https://github.com/Azure/azure-sdk-for-js/blob/dd090dddfc7643b5401dbac8414ea8187d5bcb7c/sdk/eventhub/event-hubs/src/eventHubReceiver.ts#L519

[2019-11-20 05:34] ramya-rao-a commented on #6231
On second thoughts, this might not be the ideal thing to do. AMQP receiver link is created in 2 cases
- A brand new receiver is created, in which case the position is provided by the user or the default position gets used. So, no changes here.
- There is a broken receiver that we are attempting to recover. This is when we use the sequence number of the last seen event. In this case, if we use the

[2019-11-20 05:35] ramya-rao-a commented on #6231
cc @chradek and @richardpark-msft

[2019-11-20 05:35] #6231 closed

[2019-11-20 08:01] ramya-rao-a commented on #5757
Thanks for reporting @soates

We are working on the fix at the moment and should have a patch update ready soon.
We will post an update here when ready.

Meanwhile, can you share which version of the service bus library you are currently using?

[2019-11-20 08:10] ramya-rao-a opened #6270 "[Service Bus] In flight messages get ignored in batch receiver if timer runs out"
This issue is a follow up from https://github.com/azure/azure-sdk-for-js/pull/6004#pullrequestreview-314683141

When `receiveMessages()` is called we resolve the returned promise in the below scenarios
- required number of messages are collected
- or the wait time that was provided has elapsed
- or more than 1 sec has passed since last message was received

In the second and third cases, it can be

[2019-11-20 11:15] shanmuksai opened #6271 "Abort Control package was throwing issue in production build"
-**Package Name**:  azure/storage-blob
- **Package Version**: 1.0.0
- **Operating system**:   win32 x64
- [ ] **nodejs**
    - **version**: v11.15.0
- [ ] **browser**
    - **name/version**:  chrome
- [ ] **typescript**
    - **version**: 3.2.0

**Describe the bug**
We are using the @azure/abort-controller package. we included that package in angular. while building it for production we are facing

[2019-11-20 14:49] sampaioletti commented on #1303
Just as an aside the following from the old azure-sb package works with no problems

[code]
Just making the case that if its a limitation/intended design of the amqp implementation i would like to see the old library (https://github.com/azure/azure-sdk-for-node) receive continued support. In my scenario i cant figure out how to use the amqp based library because my services need to both send and r

[2019-11-20 16:18] prashanthmadi opened #6272 "connect cosmosdb via proxy url"
Could you help us with a code snippet to connect cosmosdb via proxy url.. we tried below and it hasn't worked fine or socket hangs.

Below link has relevant info...
https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-cosmos/3.3.6/interfaces/cosmosclientoptions.html

[code]

[2019-11-20 16:34] Pinif opened #6273 "Cosmos DB Node JS client fails to connect when working behind corporate proxy"
- **Package Name**: azure/cosmos
- **Package Version**: 2.1.7
- **Operating system**: Windows
- [ ] **nodejs**
    - **version**: v8.9.4 (and up)
- [ ] **browser**
    - **name/version**: any
- [ ] **typescript**
    - **version**: N\A
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2019-11-20 16:46] Pinif commented on #6273
Attaching the **Python code snippet** as the markup "teared" some of the code parts above:

[test_cosmos_db.txt](https://github.com/Azure/azure-sdk-for-js/files/3870314/test_cosmos_db.txt)

[2019-11-20 16:52] Pinif commented on #6273
The require directive I used for running the **Node JS code** snippet above is:

`const CosmosClient = require("@azure/cosmos").CosmosClient;`

[2019-11-20 17:11] prashanthmadi commented on #6272
duplicate of https://github.com/Azure/azure-sdk-for-js/issues/6273 .. closing this

[2019-11-20 17:11] #6272 closed

[2019-11-20 17:11] willmtemple commented on #5997
@xirzec neither docs.microsoft.com nor azure.github.io properly support `@example` from JSDoc. If we remove it and keep the code fences, all the examples will render in both platforms (compared to now where they don't render at all in docs.microsoft.com), and the only difference on azure.github.io is that the little "example" badge next to them will disappear.

[2019-11-20 17:16] ramya-rao-a commented on #6271
Thanks for reporting @shanmuksai

Can you share a code snippet of how you are using the abort controller package?

cc @bterlson, @chradek, @xirzec

[2019-11-20 17:35] chradek commented on #6271
@shanmuksai
Can you also share what your tsconfig.json/tsconfig.app.json files look like?

A code sample may help as well. When I followed the following steps I wasn't able to reproduce:
1. Run `ng new test-app`
2. Run `ng add @azure/abort-controller`
3. Add `abortController` to `app.component.ts` and instantiate the controller.
4. Run `ng build --prod`

[2019-11-20 17:43] #6249 closed

[2019-11-20 18:39] danieljurek commented on #6040
Duplicate of #6038

[2019-11-20 18:39] #6040 closed

[2019-11-20 18:49] ramya0820 opened #6276 "[Service Bus] Issue with service side scalability of management API operations"
When multiple related operations are in flight side by side, such as CRUD on subscriptions/rules tied to same topic, the service often returns the error “Resource Conflict Occurred. If this is a retry for failed operation, background clean up is still pending.”.
Some of these did not disappear even when inducing an explicit delay. Customers have faced this issue as well https://social.msdn.microso

[2019-11-20 18:53] sfiguemsft commented on #6152
@KarenHammons @rohinkoul can you look into this please?

[2019-11-20 18:53] richardpark-msft commented on #6107
https://github.com/Azure/azure-sdk-for-python/issues/8745

[2019-11-20 18:53] #6107 closed

[2019-11-20 18:54] abouroubi opened #6277 "items.query<T> has mandatory FeedOptions"
- **Package Name**: @azure/cosmos
- **Package Version**: v3.4.2
- **Operating system**: Linux
- [X ] **nodejs**
    - **version**: 10.4.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 3.6.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [X] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The

[2019-11-20 20:04] kaerm opened #6280 "Update samples for next wave of releases"
Make sure there are enough samples covering the most important scenarios and more advanced examples in the repo for the following packages:
- [ ] storage-file-share
- [ ] keyvault-certificates

cc: @ramya-rao-a

[2019-11-20 20:13] kaerm opened #6281 "Create a samples readme for the services in the next release"
Follow the guidelines found here: https://aka.ms/AA6lov1
At minimum ensure they have the information provided in: https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/keyvault/azure-keyvault-keys/samples/README.md
This applies to the following packages:
- [ ] storage-file-share
- [ ] keyvault-certificates

cc: @ramya-rao-a

[2019-11-20 20:21] kaerm opened #6282 "Update the root readme with new releases"

[2019-11-20 20:53] xirzec commented on #5997
Sounds good to me

[2019-11-20 21:13] willmtemple commented on #5905
Closing as #5980 was merged

[2019-11-20 21:13] #5905 closed

[2019-11-20 21:23] willmtemple commented on #5152
Closing, since #6202 was merged and now file-share, blob, and queue all have shared recorder support.

[2019-11-20 21:23] #5152 closed

[2019-11-20 22:19] #6099 closed

[2019-11-20 22:19] willmtemple opened #6284 "[test-utils-recorder] `beforeEach` recording even when the test is skipped"
If a test is skipped, ideally it would generate no recording. When we were using `recorder.ts` in the various packages, the recording would be cancelled as soon as it would go to look for a recording and find that it was configured to be skipped, so that was the case.

In the common recorder, however, if a test suite contains setup logic in `beforeEach` that makes a request, then that request will

[2019-11-20 22:47] daviwil commented on #6221
Hi @pconnell99, is the Key Vault account owned by a different tenant than your Web App instance?  Also, did you add your Web App's system-assigned identity to an Access Policy on your Key Vault account?  More information on how to do that here:

https://docs.microsoft.com/en-us/azure/key-vault/managed-identity#grant-your-app-access-to-key-vault

[2019-11-20 23:03] bterlson commented on #6271
I also can't repro this. Would very much appreciate a sample I can check out.

It's also possible it has something to do with the triple-slash reference directive used in the abort-controller package. I wonder if some angular tooling isn't handling that properly

[2019-11-20 23:25] #5162 closed

[2019-11-20 23:40] richardpark-msft commented on #6066
Completed via #6102 and #6097

[2019-11-20 23:40] #6066 closed

[2019-11-21 00:10] ramya0820 commented on #6146
Findings:
-  `forwardTo` and `forwardDeadLetteredMessagesTo` properties are treated similarly and result in setting of appropriate service specific custom headers on the HTTP request.
- Once above changes were added in, the tests were failing as `autoDeleteOnIdle` parameter was failing from being set when supplying input value to the `forwardDeadLetteredMessagesTo` parameter.

Can be taken up as p

[2019-11-21 00:13] sfiguemsft commented on #6152
@karravi-msft looks like the operation is failing with a 5xx error which can be due to problems in ARM or DNS frontend - can you look into this please?

[2019-11-21 00:35] bterlson commented on #6019
While I don't particularly like this API (or its behavior, esp. WRT n*m total retries which I think is super confusing), I don't think this is important enough to change at this point.

[2019-11-21 00:35] #6019 closed

[2019-11-21 01:19] bdelville commented on #2540
In my case it fails without throwing an error
Just wondering in such case, do we have access a status so the client can have the knowledge that it won't received any message?

This one return false:
receiver.isClosed

[2019-11-21 02:11] #6257 closed

[2019-11-21 02:33] jonathandturner opened #6291 "[KeyVault-Certificates] Alignment review results"
## create certificate

- [x] should return GetCertificateWithPolicy

## get certificate

- [x] should return GetCertificateWithPolicy

## update certificate

- [x] should be updateCertificateProperties
- [x] Note: keys and secrets, what is the update function named for keys/secrets
- [x] Note: for certificate properties what is write-able in the properties vs what is in the options bags. Confirm t

[2019-11-21 02:52] ramya-rao-a commented on #5157
@sadasant Can you clarify which API are we referring to here when we say "Update the KeyVault packages to use the latest API"?

Also, when you say "Follow the list here: #4229", do you mean the entire list there or just the below?
![image](https://user-images.githubusercontent.com/16890566/69300019-f29c9680-0bc6-11ea-97bb-f3856f91bb26.png)

cc @jonathandturner

[2019-11-21 03:18] ramya-rao-a commented on #1303
Thanks for all the details @sampaioletti

Using your code snippet in https://github.com/Azure/azure-sdk-for-js/issues/1303#issuecomment-555764681, I can reproduce the issue if I use an unpartitioned queue in ReceiveAndDelete mode.
I dont see the issue when
- using partitioned queue
- or when using unpartitioned queue in PeekLock mode

Can you confirm if you are seeing the same behavior as above?

[2019-11-21 03:28] sampaioletti commented on #1303
I did the above to mimic my use case. The queue name is dynamic and is passed in as a argument to the method (mocked by the read method) based on a call to our api from our users. We are then using SB to route the message appropriately. It was working quite well with the old library, but we needed the ability to cancel scheduled messages, which is why I was working on upgrading to the newer api.

[2019-11-21 03:46] ramya-rao-a commented on #1303
Thanks for explaining your scenario @sampaioletti

Can you also please answer the question around partitioned vs unpartitioned queues and peeklock vs receiveAndDelete mode?

[2019-11-21 03:50] ramya-rao-a commented on #6281
@kaerm We have #5679 tracking something similar. Is this different?

[2019-11-21 03:55] ramya-rao-a commented on #6280
#5109 is tracking the sample updates to all 3 storage libraries
We have the important scenarios for keyvault certificates already in https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/keyvault/keyvault-certificates/samples/javascript.

@jonathandturner Was there plans to add any more samples among the keyvault crew?

[2019-11-21 04:02] southpolesteve commented on #6277
Thanks, @abouroubi. I have already addressed in #6258. We should have a release out in the next few days.

[2019-11-21 04:02] #6277 closed

[2019-11-21 04:09] ramya-rao-a commented on #5985
Currently, the browser tests do not create/delete entities because they could not use the arm package. With atom apis, the browser tests can also create/delete entities now

[2019-11-21 04:11] ramya-rao-a commented on #6276
Using lro would definitely change the api shape.
Do we see this issue only in one of the CRUD operations or is it non deterministic?

[2019-11-21 04:12] southpolesteve commented on #6273
@Pinif Are you able to upgrade to the latest version of the SDK? In version 3.x.x we [use allow passing a custom agent](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/src/CosmosClientOptions.ts#L42-L45) to configure the proxy which we found to be more reliable for nodeJS

[2019-11-21 04:16] ramya-rao-a commented on #6197
One approach to consider is to not have the empty list scenario be a live test.
If we know what the response looks like for the case when service bus has no entities, then we can use that and test that our api returns an empty array.

[2019-11-21 04:19] ramya-rao-a commented on #6219
Can you please list the cases where we throw type validation errors? For example: string passed when number expected, a non array passed when an array was expected etc?

[2019-11-21 04:25] ramya-rao-a commented on #5354
@ramya0820 Are the pending items in https://github.com/Azure/azure-sdk-for-js/issues/5354#issuecomment-538583879 still applicable or are there any updates?

[2019-11-21 04:28] jeremymeng commented on #6070
The related autorest plugin issue: https://github.com/Azure/autorest.typescript/issues/465

[2019-11-21 07:38] shanmuksai commented on #6271
@bterlson
What you said is correct is exactly correct. I changed that code and build the solution. It was working fine.
I got that issue with the Angular build optimizer package.
Can I update that code and raise a pull request.

[2019-11-21 08:30] Pinif commented on #6273
I upgraded to azure cosmos client version 3.4.2.
Still getting the same problem -- the client hangs when trying to perform some request (createIfNotExist, read, etc...)

[2019-11-21 09:57] pconnell99 commented on #6221
I've since moved away from MSI and am using a separate service principal in my code - that seems to work.

To answer those though - yes, the Keyvault is in the same tenant.  Yes, the MSI SP was registered in access policies in the KV for Secret Management (all 7 perms on secrets).

One wrinkle may be - the Web App 'PLAN' is a .net setup shared by other web apps, which we are then `web.config` 'ing

[2019-11-21 12:16] karungithub opened #6292 "virtualMachine runcommand() hangs does not return"
- **Package Name**:
azure-arm-compute
- **Package Version**:
11.0.0
- **Operating system**:
- [ ] **nodejs**
10.15.2
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
We upgraded

[2019-11-21 12:17] karungithub commented on #6292
Please help us here as we are stuck and it is very urgent for us to resolve this.

[2019-11-21 15:01] #6232 closed

[2019-11-21 15:24] southpolesteve commented on #6273
@Pinif Can you paste the code you are using? Can you also try running the example code from `proxy-agent`: https://github.com/TooTallNate/node-proxy-agent#example and see if the issue persists?

Trying to determine if the problem is specific to the cosmos SDK or a more general node issue.

[2019-11-21 15:48] southpolesteve commented on #5373
This is done on master

[2019-11-21 15:48] #5373 closed

[2019-11-21 16:56] kaerm commented on #6281
Well that one was supposed to be for the November releases, this is December :)

[2019-11-21 16:57] sampaioletti commented on #1303
yes i can confirm that running the example does not result in the credit error when using partitions/peeklock.

But it still feels like something is still wrong, given a new example (sorry this may end up being a different issue, but may be related)

[code]
So far the only way i've been able to use the library without any issues is with awaiting all the things, or using a pool pattern (pool of 1 s

[2019-11-21 17:12] kaerm commented on #6280
Just want to make sure all elements are in place. If you are already done I'll be extremely happy if you close so that I can take it off my list @ramya-rao-a :)

[2019-11-21 17:20] SlothFriend commented on #6232
Thanks, @southpolesteve

[2019-11-21 17:41] ramya-rao-a commented on #6292
Thanks for reporting @karungithub

The `azure-arm-compute` has been replaced with the newer `@azure/arm-compute` library.
The main difference between the two is that the former runs only on node, and the latter runs on both node & browser. Other benefits the latter has that it has types being shipped in the package as well.

All active development has moved to `@azure/arm-compute` and it recently

[2019-11-21 17:55] mikeharder commented on #6025
Personally, I would just remove the `reset-workspace` command, and tell people to manually run `rush unlink` followed by `git clean`.

[2019-11-21 17:58] ramya-rao-a commented on #6281
In https://github.com/Azure/azure-sdk-for-js/issues/5679#issuecomment-553754655 I have listed both the November and December releases.

@willmtemple has been using file-shares as a pilot for the kind of changes we want for samples readme and then will follow up with the rest.

Closing this issue in favor of #5679

[2019-11-21 17:58] #6281 closed

[2019-11-21 19:36] #6213 closed

[2019-11-21 22:02] ramya0820 commented on #2853
Closed with https://github.com/Azure/azure-sdk-for-js/pull/6088

[2019-11-21 22:02] #2853 closed

[2019-11-21 22:04] ramya0820 commented on #5858
Closed with https://github.com/Azure/azure-sdk-for-js/pull/6044

[2019-11-21 22:04] #5858 closed

[2019-11-21 22:06] ramya0820 commented on #4509
Closed with https://github.com/Azure/azure-sdk-for-js/pull/6112

[2019-11-21 22:06] #4509 closed

[2019-11-21 22:06] ramya0820 commented on #5925
Closed with #6054

[2019-11-21 22:06] #5925 closed

[2019-11-21 22:17] ramya0820 commented on #6276
It would need more investigation and seems non deterministic as to which specific operations - but it is on almost all things topics reoperationslated (topic, subscriptions, rules) and not queues.

[2019-11-21 22:25] ramya0820 commented on #5354
I've updated the comment with notes **inline**.
Overall the pending items that I plan on looking into and work with service team on confirming about are:
-   Clarify on if there is any recommended order of properties that we are to use, which maybe different from .NET SDK (Can double check take notes on if .NET behaves differently for some of these properties)
- Discuss with service team on how be

[2019-11-21 22:45] sadasant opened #6295 "[Recorder] Recording should clear previously built files and directories"
Recordings can fail if previously built .js files are stale, and picked up while testing. Before recording, we should make sure that the directories that have built files are cleared, and that the built files are re-generated.

Ideally this should be done as part of the recorder repository, and not something the user of this tool should have to configure in their repo. If that can't be done, just

[2019-11-21 22:49] sadasant opened #6296 "[Recorder] Update the documentation based on all of the EPIC changes"
Once https://github.com/Azure/azure-sdk-for-js/issues/4229 is finished, make sure the documentation has been properly updated. Make sure that no public method is undocumented.

[2019-11-21 22:50] sadasant opened #6297 "[Recorder] Tests with abortSignals cause the other playback tests to be skipped"
During playback, once a test with abortSignal is reached, this test ends successfully, and the rest of the tests are skipped.

[2019-11-21 22:52] sadasant opened #6298 "[Recorder] Ensure that source maps can be used to debug errors during record and playback"
Currently, if there's any error during record or playback, the trace of the error only routes through built files, making it almost impossible to debug.

[2019-11-21 22:54] sadasant opened #6299 "[MQ] Tool to generate live test resources"
Have a standard tool across languages to generate the resources for live tests on command, before the tests actually run. This will probably be in PowerShell and bash, have a NPM script as part of our package.jsons, and use the Azure CLI to authenticate, as well as set the environment variables before running the recording tests.

The Engineering team is already working on this, but we can help. A

[2019-11-21 22:58] sadasant opened #6300 "[Recorder] Update the current libraries using the recorder to use the latest API"
Update the current libraries using the recorder to use the latest API and follow the guidelines. Re-record when necessary. Remove unnecessary files and code. It is likely that several of the exported methods of the common recorder have copies in KeyVault, at least.

[2019-11-21 23:12] AlexGhiondea commented on #6276
Related to #6197

[2019-11-21 23:51] #6017 closed

[2019-11-22 00:01] bterlson commented on #6271
@shanmuksai our guidelines generally call for avoiding triple slash references when possible, so in general I support removing it. However, it may be there because other alternatives were less palatable - I can't recall at this point. That said, I think if you can get a build working without the triple slash reference, we'd take that pr. /cc @xirzec

That said, this seems like a bug with some of a

[2019-11-22 00:57] ramya-rao-a opened #6302 "[Storage] Changelog updates for blobs, queues and file shares for December release"
This issue is to track the changelog updates for blobs, queues and file shares for the December release

cc @willmtemple

[2019-11-22 01:43] sadasant commented on #5157
It's all of it, the keyvault packages have a recorder that remains from the older code we had, it also has references to methods to obtain unique strings and delays. The recorder now has some of this, but I want to make sure that it addresses what we address in KeyVault. I haven't wanted to do that preemptively because I think there's not a perfect overlap. I will clean this up, for sure.

[2019-11-22 02:02] ramya-rao-a commented on #5157
Closing in favor of #6300

[2019-11-22 02:02] #5157 closed

[2019-11-22 02:16] ramya-rao-a commented on #6105
Done with #6286

[2019-11-22 02:16] #6105 closed

[2019-11-22 02:30] ramya-rao-a opened #6303 "[Event Hubs] Support batching in subscribe method"
This issue is to track the support for batching in the subscribe method so that users can receive events in batches

cc @chradek, @richardpark-msft

[2019-11-22 02:51] XiaoningLiu commented on #5033
`fetch` is a method in `NodeFetchHttpClient` provided in @azure/core-http, which not directly depended by convenience layer.
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-http/lib/fetchHttpClient.ts

I cannot reproduce this in my environment. @jeremymeng What's your reproduce steps?

[2019-11-22 07:06] qiaozha commented on #5910
@GeekJosh  This package hasn't been released recently, Did you come into this before or just recently? Only this operation has this error or all operations of this package have this error?

[2019-11-22 07:22] ngcammayo commented on #4609
Hi, it seems that there is a typo instead of Prediction**API**Client in the sample provided it was Prediction**Api**Client.

[2019-11-22 07:34] qiaozha commented on #5970
@n-sviridenko Hi, if you mean the code is confusing, I think the managementPolicyName is passed by the options parameter. at line 148 to 157 of sdk/storage/arm-storage/src/operations/managementPolicies.ts. hope that helps.

[2019-11-22 08:46] GeekJosh commented on #5910
I've been using this package for a long time with no problems, however following [Microsoft's announcement that they were deprecating the version of the API used by this package](https://azure.microsoft.com/en-us/updates/recovery-services-rest-api-version-deprecation-notice/), it has stopped working.

I don't use all of the methods provided by this package, however of the ones I do use, this was t

[2019-11-22 09:30] qiaozha commented on #6152
@SkyaTura  I think your parameters definition is not right. you can refer to line 270 to 453 of sdk/dns/arm-dns/src/models/mappers.ts. parameters here should have common properties of a RecordSet. So I changed the parameters properties TTL to tTL, TXTRecords to txtRecords and found it succeeded.

[2019-11-22 11:30] HarshaNalluru commented on #6284
Documented here https://github.com/Azure/azure-sdk-for-js/pull/4336

[2019-11-22 15:06] southpolesteve opened #6305 "Cosmos v4 RFC"
There are no immediate plans for a v4 Cosmos SDK, but we are starting to collect some changes that would be nice to include in an eventual v4 release:

- Remove `ClientSideMetrics` https://github.com/Azure/azure-sdk-for-js/pull/5381
- Remove `TimeSpan`
- Force all queries to use the query plan. Remove the ability to query the gateway directly or expose on another method
- Rename some client method

[2019-11-22 17:36] yungezz commented on #3733
hi @qiaozha  could you pls help to check if this still an issue in new js sdk?

[2019-11-22 17:58] yungezz commented on #4226
HI @daviwil  can this issue be closed since PR merge? Thanks.

[2019-11-22 18:02] yungezz commented on #3956
HI @daviwil  is this related to @azure/core-http? Could you pls help to have a look firstly? Thanks.

[2019-11-22 19:07] jeremymeng commented on #5033
Sorry I don't remember repro'ing this issue. My earlier comments might have been based on the report, or was meant for another different issue.

[2019-11-22 20:02] #5997 closed

[2019-11-22 20:30] lmolkova opened #6310 "TracingPolicy does not set HTTP span attributes"
- **Package Name**: azure-core
- **Package Version**:  latest
- **Operating system**: N/A
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
[Tracing policy](https

[2019-11-22 21:22] ramya-rao-a commented on #4609
Thanks for reporting the typo @ngcammayo

I have put a PR out to fix the docs, will update this thread once its been merged.

[2019-11-22 21:27] ramya-rao-a opened #6311 "Update API reference links in package ReadMe to point to docs.microsoft.com for GA packages"
The Readme files for each of the below packages need to be updated to use the docs.microsoft.com reference docs in the place of the azure.github.io docs

- storage-blob
- storage-queue
- keyvault-keys
- keyvault-secrets
- identity

cc @kaerm, @bterlson, @xirzec

[2019-11-22 22:13] #5299 closed

[2019-11-22 22:14] #5300 closed

[2019-11-22 22:15] #5301 closed

[2019-11-22 22:16] #5302 closed

[2019-11-22 22:16] #5303 closed

[2019-11-22 22:17] #5304 closed

[2019-11-22 22:18] #5305 closed

[2019-11-22 22:19] #6259 closed

[2019-11-22 22:20] #5306 closed

[2019-11-22 22:20] #5307 closed

[2019-11-22 22:21] #5308 closed

[2019-11-22 22:22] #5309 closed

[2019-11-22 22:23] #5310 closed

[2019-11-22 22:23] #5312 closed

[2019-11-22 22:24] #5313 closed

[2019-11-22 22:25] #5314 closed

[2019-11-22 22:25] #5315 closed

[2019-11-22 22:26] sarangan12 commented on #4795
Closing this issue in favor of https://github.com/Azure/autorest.typescript/issues/482

[2019-11-22 22:26] #4795 closed

[2019-11-22 22:33] #6003 closed

[2019-11-22 22:51] scbedd commented on #6261
CI Updated. ToC updates Incoming.

[2019-11-22 22:58] scbedd commented on #6217
`@azure/storage-datalake` removed from GA Pipeline. Added to Preview Pipeline.

[2019-11-22 22:59] scbedd commented on #6217
[Submitted PR](https://github.com/MicrosoftDocs/azure-docs-sdk-node/pull/644) For update.

[2019-11-22 23:01] daviwil commented on #5882
@rfink Could you try setting the environment variable `AZURE_LOG_LEVEL="info"` for your application and gather the logs that are written to the console when authentication is attempted?  That will help us narrow down the issue.

@michaelbats I apologize that there wasn't a useful error message when you tried this.  I've improved error reporting in `EnvironmentCredential` in PR #6313 so that it wil

[2019-11-22 23:05] #5817 closed

[2019-11-22 23:37] xirzec commented on #6310
@lmolkova Thanks for the bug!

I just want to double-check my understanding before I make the requested changes.

`http.status_code` is supposed to be set on the span after the request is made, since wouldn't know it before, is that right?

Is `requestId` just a guid we generate for each request we make? Is it 1:1 with the span then?

Where does `serviceRequestId` come from? I searched through the

[2019-11-23 00:18] sadasant commented on #6291
I'll update this in a bit.

[2019-11-23 00:21] sadasant opened #6315 "[core-lro] Make PollerLike work like PollerLike<DeletedCertificate>"
(Idea from @xirzec)

Make it work like:
PollerLike<DeletedCertificate>
since everything in the middle is inferred
PollerLike should be able to express to the user everything about the shape they expect given a single generic argument.

Related to: #6291

[2019-11-23 00:36] richardpark-msft commented on #4534
Fixed by #6214

We basically plumb any relevant (ie, non abort) errors through the user's provided processError callback

[2019-11-23 00:36] #4534 closed

[2019-11-23 00:42] lmolkova commented on #6310
you are right. Is it possible to update span after response is received?

it is. Basically this is a guid Azure service support would need to troubleshoot (we are working on supporting W3C Trace-Context everywhere, but didn't happen yet), so it's useful for users to have it on their telemetry for now.

This comes from response header [like this one](https://docs.microsoft.com/en-us/rest/api/storag

[2019-11-23 00:55] #5882 closed

[2019-11-23 03:07] qiaozha commented on #4982
@mikeharder Actually both js - mgmt - pr and js - mgmt - ci are CI pipelines. the release pipeline is another pipeline https://dev.azure.com/azure-sdk/internal/_release?view=mine&definitionId=42&_a=releases. the js - mgmt - pr pipeline is meant to run for every auto-generated packages. it will check and test the PR. However, the js - mgmt - ci is to build and run artifacts for every changed auto-g

[2019-11-23 04:52] Tyriar opened #6317 "Clicking on contributors on Cosmos REST API microsoft docs page redirects to a dead link"
While trying to figure out how to contribute to this page https://docs.microsoft.com/en-us/rest/api/cosmos-db/create-a-collection I clicked the contributor icons and it redirects to a dead link

![image](https://user-images.githubusercontent.com/2193314/69473508-e43ab000-0d69-11ea-8cf5-36bf215e9a30.png)

https://github.com/Azure/azure-docs-rest-apis/blob/master/docs-ref-conceptual/cosmos-db/create

[2019-11-23 05:05] sadasant commented on #6291
Some notes and questions:

- Jonathan's branch wasn't up to date with master, but I took inspiration from the work he did!
- `create certificate should return GetCertificateWithPolicy` Done.
- `get certificate should return GetCertificateWithPolicy`, getCertificate already returns `CertificateWithPolicy`. I marked it as done.
- `updateCertificate` should be `updateCertificateProperties`. Done.
- `

[2019-11-23 05:15] Tyriar commented on #6317
Found it 🤦‍♂ https://github.com/MicrosoftDocs/azure-docs/issues/

[2019-11-23 05:15] #6317 closed

[2019-11-23 05:58] qiaozha commented on #3733
Hi Catherine, I've checked the js sdk repo, but can't find the listRegistrationsByTags operation. I've also checked the swagger specs repo, and can't find the path definition in listRegistrationsByToken operation either.  I think it was replaced by other operations or being deprecated.

[2019-11-23 12:30] SkyaTura commented on #6152
I'll check it as soon as possible, but in that case, the error shouldn't be 4xx?

[2019-11-23 18:46] #4954 closed

[2019-11-24 07:11] Pinif commented on #6273
The issue persists when using proxy-agent or https-proxy-agent (tried them both).
My code with proxy-agent:

var ProxyAgent = require('proxy-agent');
var proxyUri = 'https://genproxy.amdocs.com:8080';
let proxyAgent2 = new ProxyAgent(proxyUri);

const cosmosClient =  new CosmosClient({
    agent: proxyAgent2,
    endpoint: ...,
    auth: { masterKey: ... }});

const dbResponse = cosmosClient.datab

[2019-11-24 21:28] ramya-rao-a commented on #6210
@ramya0820 I was not able to replicate the problem of #5541 with session receivers. Please respond to the question in the previous comment as to whether this issue is tracking the same scenario as in #5541 or if there is more to it

[2019-11-24 23:42] jongio opened #6323 "Contributing guide 404 in azure.github.io"
https://azure.github.io/azure-sdk-for-js/#contributing

Contributing guide link 404s

[2019-11-25 02:29] southpolesteve commented on #6273
@Pinif I tried to reproduce the issue using [a local node proxy server](https://www.npmjs.com/package/proxy) and everything worked as expected:

[code]

Do you have a mechanism for debugging or logging from inside your proxy server? I would still like to have you run the proxy agent example code to verify there is no issue with your proxy or network. Assuming your proxy lets you talk to the public

[2019-11-25 04:35] qiaozha commented on #6152
I feel that's strange too, but I did change the parameter properties and it works for me. If problem still exists, I need to involve relevant team to take a look.

[2019-11-25 08:36] soates commented on #6065
Also seeing this issue. Do we know when this will be pushed out?

[2019-11-25 08:40] soates commented on #5757
Hey, we are using version 1.1.0. We really want to use this package in production but are running into many issues which we did not expect with the stability of this package..

[2019-11-25 12:18] Pinif commented on #6273
@southpolesteve I tried the code you pasted regarding connecting to microsoft.com via our proxy, and it didn't work (getting connection reset). Also there was a small typo there (should be https.get instead of http.get :-)).

However, the following 3 code parts DO work ok (using request, using http and using axios) and connect to microsoft.com through Amdocs proxy, so there is no issue neither wit

[2019-11-25 12:29] Pinif commented on #6273
@southpolesteve I assume there are some differences between a local node proxy server and a real corporate proxy server...

It is possible that the Cosmos DB Node JS client was tested and works vs. a node proxy server, but does not work vs. corporate proxy (which explains why the specific code snippet you sent me does not work, but other libraries do work OK with Amdocs proxy and get to microsoft.

[2019-11-25 14:58] abouroubi opened #6324 "Replace document with partition key"
- **Package Name**: `@azure/cosmos`
- **Package Version**: `3.5.0`
- **Operating system**:
- [X] **nodejs**
    - **version**: 12
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When I try to repl

[2019-11-25 15:05] southpolesteve commented on #6324
That is correct. The partition key value cannot be updated. You must delete the document and then create it again with the new partition key value. If you want to force creation of a new document you can use `upsert` but your old document will still exist.

[2019-11-25 15:05] #6324 closed

[2019-11-25 16:15] abouroubi commented on #6324
@southpolesteve thanks for the quick answer, is it mentioned in the docs ? I can't find where

[2019-11-25 17:37] ramya-rao-a commented on #6323
Thanks for reporting @jongio

@KarishmaGhiya, @scbedd The corresponding link in the repo readme is fine. The one rendered in the azure.github.io docs is the one that is invalid. Please take a look

[2019-11-25 17:43] ramya-rao-a commented on #5757
@soates We should be able to get the patch update out by tomorrow.

Can you create a new issue for all the other issues you are finding with the package? We would like to help in any way we can and would appreciate any feedback you have to make the package better.

[2019-11-25 17:45] willmtemple commented on #4966
Closing since we've discussed the options and have added documentation of the behavior in #6308.

[2019-11-25 17:45] #4966 closed

[2019-11-25 18:10] ramya0820 commented on #6210
I see - the message handlers are to be assigned as soon as the receiver object is created. Is there a reason why we wouldn't want to do that?
Can take a closer look if session receivers do not use lazy instantiation or there's something else about the implementation that isn't surfacing a problem - but ideally the user provided handlers should be assigned/made available on receiver instance immedi

[2019-11-25 18:20] willmtemple commented on #6302
With #6312 these are up to date as of today.

[2019-11-25 19:02] scbedd commented on #6261
Legacy Moniker does not exist in the publishingconfig on the repo. Currently Adding one.

[2019-11-25 19:09] kaerm commented on #6125
Up on docs: https://docs.microsoft.com/en-us/azure/key-vault/quick-create-node

[2019-11-25 19:09] #6125 closed

[2019-11-25 19:44] southpolesteve commented on #5581
@tony-gutierrez I'm sorry, it looks like this issue slipped through the cracks as we were transitioning work over to the mono repo. Are you still seeing this problem? maxItemCount is passed straight to the backend via a header. There is no SDK side behavior.

[2019-11-25 20:36] ramya0820 opened #6325 "[Service Bus] Investigate browser test resources setup for management API"
Noticed flakiness on browser test runs on CI and is likely due to Node and browser tests running in parallel on the management API feature.

This issue is to investigate on and possibly disable the live tests being run in browser mode, as the service side feature anyway doesn't support operations via browser from secure clients.

[2019-11-25 20:44] ramya-rao-a commented on #6302
Missing:
- Doc clarification on node buffer size limits
- Doc clarification on metadata properties casing

Though there are just doc updates, its worthwhile to call them out

[2019-11-25 20:50] jeremymeng opened #6327 "[Storage] running autorest code gen overrites package version in generated storageClientContext.ts"
To repro the issue, run `rushx build:autorest`.  Below is the diff

![image.png](https://images.zenhubusercontent.com/5c51efcef73cf865af8994d5/622404d9-8f39-4b8a-994f-16c3a39589e6)

It is specified in the `//metadata` section of `package.json` that this version constant will be updated by a tool.

Possible fix:

- add the version to the swagger README.md.  However, the swagger readme files will be

[2019-11-25 21:16] scbedd commented on #6217
![image](https://user-images.githubusercontent.com/45376673/69578677-d3ff1c80-0f85-11ea-8dda-210ff39c36dc.png)

Master reflects source of truth. Will merge to `live` today.

[2019-11-25 21:40] southpolesteve commented on #6324
I thought it was, but I cannot find it either.

[2019-11-25 22:32] ramya-rao-a commented on #6210
The discussion at https://github.com/Azure/azure-sdk-for-js/pull/6322#discussion_r350408260 goes over why we need not assign the handlers until the `receive()` call in the `StreamingReceiver` class is made.

When it comes to `MessageSession` class, the same class can be used for batching and streaming cases. So, handlers **have** to be assigned only when the corresponding receive related call is m

[2019-11-25 22:53] ramya-rao-a commented on #6327
In the absence of the npm script, we would have passed the right version number to the autorest command. So, updating the npm script to use the package version sounds like the right approach to me

[2019-11-25 23:03] ramya0820 commented on #6210
Discussed offline:
- In case of #5541, the background retries get triggered when the receiver encounters an error during the receiver setup step. With changes in https://github.com/Azure/azure-sdk-for-js/pull/6322 we concluded that the background retries shouldn't happen during create phase.
- Since background retries via `onDetached` handling is not in for sessions at all - the issue wouldn't exi

[2019-11-25 23:26] ramya0820 commented on #6210
Closing as registering the handlers for _after_ receiver setup completes is as intended

[2019-11-25 23:26] #6210 closed

[2019-11-26 00:50] kaerm opened #6332 "Onboard december releases on docs.microsoft.com"
- [ ] On-board/ensure existence of the following packages:
**Latest:**
`@azure/storage-file-share`  12.0.0
`@azure/storage-blob` 12.0.1
`@azure/storage-queue` 12.0.1
`@azure/cosmos` 3.5.1
`@azure/identity` 1.0.2
`@azure/keyvault-secrets` 4.0.2
`@azure/keyvault-keys` 4.0.2
**Preview:**
`@azure/storage-file-datalake` 12.0.0-preview.6
`@azure/event-hubs` 5.0.0-preview.7
`@azure/eventhubs-checkpointst

[2019-11-26 02:07] #6303 closed

[2019-11-26 02:23] yungezz commented on #3733
hi @tony-gutierrez is this issue still valid for you? as @qiaozha mentioned, the operation couldn't be found today.

[2019-11-26 02:41] SkyaTura commented on #6152
I've tried as you said and that worked fine.

[2019-11-26 02:41] #6152 closed

[2019-11-26 02:50] tony-gutierrez commented on #3733
As far as I know, there is no new sdk for notification hub.

There is a new service bus sdk, but it doesn't include notification hub functionality like the old service bus sdk did.

So basically, if you use both, there's no point in trying to use the new service bus sdk because you will lose support for notification hub. It's not a good situation. That is probably why your can't find it.

[2019-11-26 03:02] qiaozha commented on #3733
Actually, there is a independent package notificationhubs in JS SDK https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/notificationhubs/arm-notificationhubs ,  I searched it,  the path definition in listRegistrationsByToken operation is not in there as well.

[2019-11-26 03:28] tony-gutierrez commented on #3733
That's just the management sdk, not the usage sdk.

[2019-11-26 16:28] Burnett2k commented on #2540
I have been having a similar issue when using `registerMessageHandler` while listening to a queue.  Occasionally, I will check my app and messages will be backed up in the queue even though no errors have been thrown in the error callback.  My app runs 24x7 and I'm concerned with stability because I don't want to be checking it every day to make sure it is still reading from the queue. Are there a

[2019-11-26 16:30] Burnett2k commented on #2540
Can we re-open this issue since it appears to still be happening for multiple people?

[2019-11-26 17:35] rfink commented on #5882
For some reference here, I definitely have the permissions configured correctly. I replaced the getToken function with a manual http call, and it works fine. See below:

[code]

[2019-11-26 17:58] ramya-rao-a commented on #2540
When there is a retryable error for the receiver, the library tries to recover the link behind the scenes. But this retry happens for a finite number of times. Once the max retry count is reached, the library fails to call the user's error handler.

We are currently working on fixing this and should have an update soon.

[2019-11-26 18:10] #5560 closed

[2019-11-26 19:07] jeremymeng commented on #6070
Closing this.  Before the autorest.typescript issue is fixed, there isn't anything we could do other than manual patch the generated code.

[2019-11-26 19:08] #6070 closed

[2019-11-26 20:53] rohinkoul commented on #4320
@talam could you elaborate on what is the server error you are getting. If this is a server-side error then we'd need to investigate the error from DNS service team side; however, if this is a problem with retry logic we'd need to reroute this to the appropriate team.

[2019-11-26 23:15] #6291 closed

[2019-11-27 01:01] jeremymeng commented on #5937
The current generated code is already from a local copy of 2019-02-02 queue.json.  This is blocked until 2019-02-02 version becomes available in the https://github.com/Azure/azure-rest-api-specs repo.

[2019-11-27 01:18] ramya-rao-a commented on #6302
This should now be done with #6328

@willmtemple Can we close this?

[2019-11-27 01:20] ramya-rao-a commented on #6131
The preview docs at https://docs.microsoft.com/en-us/javascript/api/overview/azure/?view=azure-node-preview no longer show the packages that have gone GA.

Thanks @scbedd !

[2019-11-27 01:20] #6131 closed

[2019-11-27 01:20] willmtemple commented on #6302
Yes, meant to close this when I merged that this morning.

[2019-11-27 01:20] #6302 closed

[2019-11-27 01:21] ramya-rao-a commented on #6130
The preview docs at https://docs.microsoft.com/en-us/javascript/api/overview/azure/?view=azure-node-preview now have the right nodes with the right content

[2019-11-27 01:21] #6130 closed

[2019-11-27 01:22] ramya-rao-a opened #6341 "[App Config] Reference docs for App Config Preview are showing up in "Other""
The reference docs for App Config is showing up under "Other" instead of under a node of its own

![image](https://user-images.githubusercontent.com/16890566/69685477-5c0e2080-1071-11ea-8550-dd00468c7b88.png)

[2019-11-27 01:25] ramya-rao-a opened #6342 "Reference docs for a few management libraries are showing up under "Other""
Quite a few management libraries have their reference docs show up under the "Other" node instead of a node of their own

![image](https://user-images.githubusercontent.com/16890566/69685560-b0190500-1071-11ea-9761-6c8040d5c183.png)

[2019-11-27 01:29] kaerm commented on #6342
I'm assuming the onboarding team didn't know what services those were. I have no idea either tbh. I think for this we can create an issue for them but I do not know what to tell them where these should be placed (other than app service :) ) - do you have any ideas on where they can find this info?

[2019-11-27 01:32] ramya-rao-a opened #6343 "Update overview pages in reference docs to use the newer management libraries"
As part of the move from azure-sdk-for-node repo to azure-sdk-for-js repo, all management libraries were regenerated such that
- they run in both node and browser
- they have types being shipped
- they are generated in TS

But, in a lot of the landing pages in our reference docs, we are still refering to the older packages. This is bad for 2 reasons
- Since there is no active work in the older pac

[2019-11-27 01:32] kaerm commented on #6180
@jongio is this something we could add to the backlog of samples that are being moved over?

[2019-11-27 01:34] ramya-rao-a commented on #6342
Can we not use the same name as those used in https://azure.github.io/azure-sdk-for-js/?

cc @qiaozha

[2019-11-27 01:40] ramya-rao-a commented on #6332
Updated the numbers for keys & secrets

[2019-11-27 01:44] ramya-rao-a commented on #6217
The above changes went live today. So, closing.

[2019-11-27 01:44] #6217 closed

[2019-11-27 01:52] ramya-rao-a commented on #6311
Now that we have the docs.microsoft.com pages for the preview packages as well, we can use the links to the same for non GA packages as well.

Using the same format as in this PR will redirect to the preview package reference docs.
Once the GA package is released, we dont need to update the links as the same will get re-directed.

[2019-11-27 02:11] ramya-rao-a commented on #6065
We have found the root cause for this problem and are in the process of trying out a few different solutions. #6338 is the draft PR that discusses one such solution.

We will post back here once we have an update.

[2019-11-27 04:06] #6224 closed

[2019-11-27 04:48] qiaozha commented on #6343
I will take a look.

[2019-11-27 05:07] ramya-rao-a commented on #6225
This has been resolved with #6333

cc @chradek, @richardpark-msft

[2019-11-27 05:07] #6225 closed

[2019-11-27 11:55] navneeth-battula commented on #6271
@bterlson @shanmuksai @xirzec

Created a PR with above change. Please find it in the below link

https://github.com/Azure/azure-sdk-for-js/pull/6344

[2019-11-27 14:54] moritz-tr commented on #4132
We are facing a similar issue with event-processor-host 2.1.0 which uses event-hubs 2.1.1 as a sub dependency.
We were able to reproduce the error with debug logs
[event-hubs-error-log.pdf](https://github.com/Azure/azure-sdk-for-js/files/3897346/event-hubs-error-log.pdf). There we can see that there was a connection problem (OperationTimeoutError) to the event-hub on 11/22/19 17:12:53.619. From th

[2019-11-27 16:38] talam commented on #4320
@rohinkoul My sample app in my original comment doesn't throw and log any server errors. Maybe they get swallowed?

The logs typically look like the below. You can see that the DNS request that should get called eventually hangs. The same happens for the other request after enough time and then there are no more logs at all.
[code]

[2019-11-27 16:53] sadasant commented on #4230
Here are some of the things that I've spotted. Before going through this, please bring others to the conversation:

1. Most of the methods are missing a decent tsdocs cleanup and review.
2. `async function blobToString(blob: Blob): Promise<string>` uses `fileReader.onloadend = (ev: any) => {` which can be `fileReader.onloadend = (ev: ProgressEvent<FileReader>) => {`.
3. `String.prototype.padStart(

[2019-11-27 18:15] jeremymeng commented on #5397
We have
[code]

I feel it's better to rename `build:js-samples` to `build:node-clean` or  `rebuild:node`. I like the first one because it is group with other build scripts in alphabetical order. What do you think @ramya-rao-a?

[2019-11-27 20:17] ramya-rao-a commented on #5757
@soates This bug has been fixed in the latest version (1.1.1) of the `@azure/service-bus` package.

Thanks for your patience.

[2019-11-27 20:17] #5757 closed

[2019-11-27 20:28] ramya-rao-a opened #6349 "[Service Bus] ReceiveAndDelete mode gets lesser messages than PeekLock mode when using receiveMessages"
The below code uses `receiveMessages` to receive 100 messages with max wait time of 10 seconds in PeekLock mode from a service bus queue

[code]

We can consistently see that the messages are received under a second.
But, change the same to use ReceiveAndDelete mode and the time varies between 5 seconds to 10 seconds.

[2019-11-27 20:30] ramya-rao-a commented on #5757
Some details on the root cause for this bug for future reference:
- The promise returned by the `receiveMessages` method is resolved if more than 1 second has elapsed since the last message that was collected.
- This was important for PeekLock mode as waiting too much resulted in earlier messages getting their locks expired.
- ReceiveAndDelete mode is slower (#6349 is logged to investigate why), t

[2019-11-27 20:35] ramya-rao-a commented on #5541
We do not have retries for errors that occur during receiver set up. A faulty token provider results in error during receiver set up. User is expected to react to such errors and retry on their own.

There was bug where such failed receiver was being cached. Cached receivers are recovered when there is an error on the connection which in this case was the service closing the connection due to it b