[2019-11-27 20:35] #5541 closed

[2019-11-27 21:38] ramya-rao-a commented on #2540
@bdelville,

Just wondering in such case, do we have access a status so the client can have the knowledge that it won't received any message?
This one return false:
receiver.isClosed

You can try the `isReceivingMessages` property on the receiver.

@Burnett2k, @bdelville,

We have just released an update (1.1.1) to the `@azure/service-bus` package which has the fix to the issue of the library neve

[2019-11-27 21:58] #6220 closed

[2019-11-27 23:10] gamaya-developer opened #6352 "option 'onProgress' breaks stageBlock"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.0.0
- **Operating system**:  macOS Catalina
- **Electron**: 7.1.2
- [ ] **nodejs**
    - **version**: 12.8.1
- [ ] **browser**
    - **name/version**:  electron
- [ ] **typescript**
    - **version**: 3.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https:

[2019-11-28 00:13] #6068 closed

[2019-11-28 01:12] ramya-rao-a commented on #6311
Done with #6340 and #6354

[2019-11-28 01:12] #6311 closed

[2019-11-28 01:15] ramya-rao-a commented on #6263
Completed with #6346

[2019-11-28 01:15] #6263 closed

[2019-11-28 11:12] qiaozha commented on #6342
@ramya-rao-a  I am not familiar with how the docs are generated yet? do you have any idea who I can contact with?

[2019-11-29 09:45] XiaoningLiu commented on #6352
Hi @gamaya-developer What does "uploaded incorrectly." mean? Any error message here?

[2019-11-29 10:55] gamaya-developer commented on #6352
Hi! The final blob file, in my case the image. When you open it is easy to understand that is broken. During uploading no errors
![banter-snaps-ChFD5fj6Rqc-unsplash 2](https://user-images.githubusercontent.com/44970163/69864352-6580ce00-12a7-11ea-9275-cf360eaad910.jpg)
![broken_banter-snaps-ChFD5fj6Rqc-unsplash](https://user-images.githubusercontent.com/44970163/69864353-6580ce00-12a7-11ea-80f3-23

[2019-11-29 17:30] southpolesteve commented on #6273
@Pinif Without a way to reproduce the issue, I am not sure how else I can help here. We do have other customers using us via their corporate proxies. I would recommend looking into any methods of debugging from the proxy side of the connection. You can also run the script calling Cosmos with `NODE_DEBUG` environment variables set to `"https,http"`. That will provide the full debug logs for nodes h

[2019-12-01 05:21] ramya-rao-a commented on #4132
Thanks for the logs @moritz-tr

While we look at the logs, please consider using version 2.1.3 of the `@azure/event-hubs` library.
We have made a few improvements around the [error handling scenarios](https://github.com/Azure/azure-sdk-for-js/releases/tag/%40azure%2Fevent-hubs_2.1.2) which should help.

[2019-12-01 09:42] Pinif commented on #6273
Not exactly. Your code is not using the connection policy nor the agent settings when sending the request from within Cosmos DB.

If you look at your code under @azure/cosmos/src/request/request.ts, the function createRequestObject:

/** @hidden */
export function createRequestObject(
  connectionPolicy: ConnectionPolicy,
  requestOptions: https.RequestOptions,
  body: Buffer
): Promise<Response<a

[2019-12-01 09:46] Pinif commented on #6273
(This is from Cosmos client version 2.1.7)
The function gets the connection policy object (with the proxy details set inside it), and does not do anything with it.

This causes the request to be sent incorrectly, from what I saw...

[2019-12-01 09:53] Pinif commented on #6273
Node debug log when using agent settings:

(node:18556) Warning: Setting the NODE_DEBUG environment variable to 'http' can expose sensitive data (such as passwords, tokens and authenticati
on headers) in the resulting log.
Server listening on port: 3001
HTTP 18556: outgoing message end.
Waiting for the debugger to disconnect...

[2019-12-01 09:55] Pinif commented on #6273
Node debug log when using connection policy settings (reminder: this works **OK** when using **Python** Azure Cosmos DB client):

HTTP 11800: call onSocket 0 0
HTTP 11800: createConnection genproxy.amdocs.com:8080:::::::::::::::::: { host: 'genproxy.amdocs.com',
  port: 8080,
  headers: {},
  method: 'CONNECT',
  path: null,
  agent: false,
  secureEndpoint: true,
  _defaultAgent:
   Agent {

[2019-12-01 10:03] Pinif commented on #6273
Here's another potential bug I found in an earlier stage, this time in the **CosmosClient constructor itself** (from @azure/cosmos/src/CosmosClient.ts):

The code checks for the following setting (see bolded below):

constructor(private options: CosmosClientOptions) {
    options.auth = options.auth || {};
    if (options.key) {
      options.auth.key = options.key;
    }

    options.connectionPo

[2019-12-01 10:05] Pinif commented on #6273
Note the line "if (!this.options.agent)" in your code above... It will initialize the related agent settings only in case the agent is **NOT** set in the options I pass, which is incorrect.
So when i set agent in the options i pass when doing new CosmosClient, this initialization code is skipped.

You should omit the "!" from this line.

[2019-12-01 12:29] fildidi opened #6359 "Tutorial implementation ends with "Unexpected end of JSON input""
- **@azure/cosmos**:
- **3.5.1**:
- **MacOS**:
- **nodejs**
    - **v10.15.1**:

**Describe the bug**
I am following the tutorial from [here](https://www.npmjs.com/package/@azure/cosmos) and when I try to call the endpoint I get the following error

`invalid json response body at https://<my bd name>.cassandra.cosmos.azure.com/ reason: Unexpected end of JSON input`

When I try to connect to the DB

[2019-12-01 18:09] fildidi commented on #6359
I switched to Core instead of Cassandra and the issue has been resolved

[2019-12-01 18:09] #6359 closed

[2019-12-02 03:19] southpolesteve commented on #6273
Since you said above you have the same issue in v3, I want to remain focused on debugging that issue. There are fewer parts involved and any issue there will likely still happen in v2 even if other v2 bugs exist. The v2 code definitely has some complexity which is why we redid it in v3.

Can you confirm again the problem persists in v3?

Looking back through your original code, the only difference

[2019-12-02 11:04] Pinif commented on #6273
Ok, now with v3 I got a local certificate error, but the following settings has resolved it:

process.env["NODE_TLS_REJECT_UNAUTHORIZED"] = 0;

So now from my point of view the issue is closed.

[2019-12-02 12:49] coderbyheart opened #6361 "@azure/ms-rest-nodeauth latest npm dist tag points to 2.0.5"
STR:

[code]

index.ts:

[code]

npx tsc index.ts:

[code]

[2019-12-02 15:54] #6273 closed

[2019-12-02 17:08] moritz-tr commented on #4132
Thanks for the feedback @ramya-rao-a . We now installed the latest `@azure/event-hubs` and wait till the next OperationTimeout Error occurs. We'll keep you posted!

[2019-12-02 18:30] jeremymeng opened #6362 "Samples run fails in CI"
We have samples run enabled for storage-file-share. However, after replacing the imports/requires statements to use the real package names the sample runs started failing.

- [ ] issue 1: we added the prep-samples.js script that is supposed to patch the samples but it currently only works for typescript
- [ ] issue 2: the `execute-samples.js` script try to run all files and failed at a later added

[2019-12-02 20:26] jake-wickstrom-lb opened #6368 "Argument of type 'ApplicationTokenCredentials' is not assignable to parameter of type 'ServiceClientCredentials'"
- **Package Name**: @azure/ms-rest-nodeauth & @azure/eventgrid
- **Package Version**: 3.0.0 & 1.5.0
- **Operating system**: Windows 10
- [] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.6.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.microsof

[2019-12-02 20:26] ramya-rao-a opened #6369 "[Event Hubs] Use the latest version of amqp-common"
The latest version of the amqp-common library (1.0.0-preview.8) has the change to [consider ETIMEOUT error from dns.resolve()](https://github.com/Azure/azure-sdk-for-js/commit/47126b7157b343bbc38e8e304a15ed78b252ee48) as network disconnected. This needs to be incorporated in the Event Hubs library.

cc @chradek

[2019-12-02 20:27] jake-wickstrom-lb commented on #6368
@rayma-rao-a

[2019-12-02 21:17] southpolesteve opened #6370 "Add autopilot support"
Once autopilot is out of preview, add support to the JavaScript cosmos SDK

[2019-12-02 21:30] chradek opened #6371 "[core-tracing] revisit how to handle multiple tracer versions"
The `@azure/core-tracing` package stores a global tracer object. This was intended to work around the case where the package is loaded multiple times but are compatible with each other.

However, while core-tracing is still in preview, there can be breaking changes between versions. For this reason, our GA libraries depend on a specific version of core-tracing rather than a major version. If core-

[2019-12-02 21:30] chradek commented on #6371
/cc @ramya-rao-a @xirzec @bterlson

[2019-12-02 22:39] js-kyle opened #6375 "Intermittent timeout errors from @azure/storage-blob"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.0.0
- **Operating system**: Windows Azure App Service
-  **nodejs version** 10.14.1

**Describe the bug**
I am looking for any help troubleshooting a frequent error I am getting using this SDK. The error details are as below, and it happens intermittently

[code]

**To Reproduce**
Steps to reproduce the behavior:
I do not have relia

[2019-12-03 00:47] ramya-rao-a opened #6376 "[Event Hubs] Update network disconnected checks to include dns timeouts"
We recently updated `amqp-common` library to [treat ETIMEOUT errors from dns.resolve() as network disconnected](https://github.com/Azure/azure-sdk-for-js/commit/47126b7157b343bbc38e8e304a15ed78b252ee48) case. The same change needs to be done in `core-amqp` library to benefit the newer Event Hubs library too.

[2019-12-03 00:53] ramya-rao-a opened #6378 "[Event Hubs] Ensure names of receivers are unique"
In Event Hubs library, users can currently provide a name for the receiver that gets created when they initiate a `receive` call. This name is internally used in a cache that we maintain for receivers which is used to recover broken receivers

Since users can provide the same name when using receive against different partitions, our internal cache gets to a bad state resulting in not being able to

[2019-12-03 01:01] ramya-rao-a opened #6380 "[EPH] Release with updated min version of Event Hubs"
We have been releasing patch updates to the Event Hubs library, the latest being 2.1.3, the next involving fixes to #6378, #6369 and #6118

Our EPH library needs to be updated to use version 2.1.4 of Event Hubs as the min version to ensure these fixes benefit our EPH users who might have pinned the Event Hubs dependencies.

@chradek, any thoughts if the above is relevant?

[2019-12-03 16:25] annelo-msft opened #6384 "[AppConfiguration] listConfigurationSettings() and listRevisions() don't handle reserved characters"
https://github.com/Azure/azure-sdk-for-js/blob/5ebf9a8cbb6d03685121fda7dffcc60efd398b58/sdk/appconfiguration/app-configuration/src/internal/helpers.ts#L79

See: https://github.com/Azure/AppConfiguration/blob/master/docs/REST/kv.md#filtering

[2019-12-03 16:25] annelo-msft commented on #6384
@richardpark-msft

[2019-12-03 17:58] kurtzeborn commented on #6039
@danieljurek, after the code changes to get the smoke tests in line with what we GA'd the goal should be to get these running against nightly builds on our dev feeds and if they fail, notify the repo owners.

[2019-12-03 17:59] kurtzeborn commented on #6041
@danieljurek, after the code changes to get the smoke tests in line with what we GA'd the goal should be to get these running against nightly builds on our dev feeds and if they fail, notify the repo owners.

[2019-12-03 18:09] jspruance commented on #6234
@ramya-rao-a @kayousef

Thanks for the suggestion. I tried out the '4.0.0-preview.1' since we're targeting LUIS API v3.0.

However, I don't see that the optional 'format' request parameter is supported in either the old (v2.1.1) or new (4.0.0-preview.1') for versions 'importMethod' or 'exportMethod.' Can you confirm if this is or is not supported? Thanks.

For reference - 'format' param (see 'Expo

[2019-12-03 19:26] jeremymeng opened #6387 "[Storage] HTTP_PROXY no longer supported"
Looks like we lost the support in commit 5823d3ce57 when `getDefaultProxySettings` was removed.

[2019-12-03 19:31] jeremymeng commented on #6387
Maybe we should try loading from environment in the constructor of `ProxyPolicy` if the passed in setting is undefined?

[2019-12-03 20:31] chradek commented on #6380
Yes, I think this will be useful to do. It isn't strictly needed since installing EPH will also pull in the latest version of event hubs, but if someone is using a package-lock.json then they'll be stuck on whatever version was available when they originally installed it. This helps call out that there are improvements that benefit EPH as well.

[2019-12-03 20:32] ramya-rao-a commented on #6368
Thanks @jake-wickstrom-lb

@joheredi Can you please re-generate the `@azure/eventgrid` library using the latest v4 version of the code generator?

Ideally we would have asked the customer to use v2 of ms-rest-nodeauth which would be compatible with the current `@azure/eventgrid`. But the corresponding management library `@azure/arm-eventgrid` has already moved ahead and is compatible only with v3

[2019-12-03 20:40] weshaggard commented on #6371
As best I can tell #6373 only moves the error to the point of when they enable tracing. If they enable tracing any they have multiple versions loaded they will still get the error. What is our solution for those folks? This is a really bad place to be, especially given all our GA packages are dependency on preview versions of our tracing library, which is generally a not a good idea for these exac

[2019-12-03 21:25] scbedd commented on #6261
Located issue. We also needed to output the files referenced in the `openpublishing.config` as part of the docfx configuration. I have added that necessary piece and have one additional pending adjustment to the ToC.

Current Look:

![image](https://user-images.githubusercontent.com/45376673/70091101-4bf5c400-15d0-11ea-9965-2b80d45775d1.png)

Just removing the orphaned `Other` section, as no other

[2019-12-03 21:28] xirzec commented on #6371
The main problem here is that OpenTelemetry hasn't come to GA as quickly as we had hoped. It's only at 0.2 and is still making breaking changes.

Our approach to tracing has been to not be overly opinionated as JS doesn't really have a de facto tracing story like .NET or other runtimes. As such `core-tracing` is currently a rather thin wrapper around OpenTelemetry and we allow for manual span prop

[2019-12-03 22:52] #6038 closed

[2019-12-03 22:52] ramya-rao-a commented on #6361
Thanks for reporting @coderbyheart

The `@azure/arm-storage` version 10 and above is compatible with only v3 and above of `@azure/ms-rest-nodeauth`.

Any reason why you wouldnt want to update the version of `@azure/ms-rest-nodeauth` you are using?

[2019-12-03 23:04] jeremymeng opened #6394 "[Storage] blob/file downloading method should not return types from codegen"
`download()` and `downloadToFile()` returns `Promise<BlobDownloadResponseModel>`/`Promise<FileDownloadResponseModel>`

Instead we should return the types in the convenience layer implementing these interfaces (thus should not be a breaking change?)

[2019-12-03 23:45] ramya-rao-a commented on #6387
Yes, if no proxy settings were provided, then we should run `getDefaultProxySettings` and pass then same to `proxyPolicy()`

My question would be if this can be moved inside `proxyPolicy()`

cc @daviwil

[2019-12-04 00:16] ramya0820 commented on #6055
.NET SDK isn't parsing any custom ODATA fields afaiu.
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Microsoft.Azure.ServiceBus/src/Management/ManagementClient.cs#L969 is where we look at "Detail" property alone on the response.
Since ODATA fields encompass custom properties in general, the .NET's XML parser doesn't seem to inherently pull those in either.

We might want to

[2019-12-04 00:36] ramya-rao-a commented on #6332
@scbedd. @kaerm The below packages are released at the moment. Can we get the ball rolling for reference docs update for these? Please prioritize the preview packages before the latest ones if there is a need to prioritize one over the other

**Latest:**
`@azure/identity` 1.0.2
`@azure/keyvault-secrets` 4.0.2
`@azure/keyvault-keys` 4.0.2
**Preview:**
`@azure/event-hubs` 5.0.0-preview.7
`@azure/eve

[2019-12-04 00:58] weshaggard commented on #6371
Sigh that kind of sucks. Do we at least have docs somewhere we can point folks at about these issues? Have we considered not failing but instead ignoring issues? It seems like a bad idea to have tracing bring down applications as it is generally optional data.

[2019-12-04 01:01] mikeharder opened #6396 "PublishTestResults is very slow"
In JS, the `PublishTestResults` DevOps task is very slow, taking about 5 minutes on Linux and 15 minutes on Mac/Windows.  This problem is specific to JS, since other languages complete this task in a few seconds.

.NET (15 seconds): https://dev.azure.com/azure-sdk/public/_build/results?buildId=201932
JS (15 minutes): https://dev.azure.com/azure-sdk/public/_build/results?buildId=201717

[2019-12-04 01:21] hally9k opened #6398 "[@azure/core-amqp@1.0.0-preview.6] @azure/core-auth@1.0.0 dependency returning a 404 on npm"
- **Package Name**:
@azure/core-amqp
- **Package Version**:
1.0.0-preview.6
- **Operating system**:
- [x] **nodejs**
    - **version**:  11.7.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.7.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug*

[2019-12-04 01:33] jongio commented on #6180
Yes, I'll add this to the backlog.  Please assign to me.

[2019-12-04 01:45] xirzec commented on #6371
The reason we have this throw right now is because if you set a global tracer the SDK to use, but you are using mismatched SDK bits that are locked to different version of OpenTelemetry, you then have to set one global tracer per OT version... which isn't easy to do and if you *don't* do that, then the first one that gets called would be the only one that will record data.

[2019-12-04 03:45] ramya-rao-a commented on #6398
Thanks for reporting @hally9k

1.0.0 of `@azure/core-auth` is available on npm, so am not sure why you would get a 404.
I am able to run `npm install @azure/core-amqp@1.0.0-preview.6` without any issues.

Are you seeing this only with yarn or with npm too?

[2019-12-04 03:57] jeremymeng commented on #6387
My thinking is if this is handled in azure.core then all libraries get it for free.

[2019-12-04 04:25] #3083 closed

[2019-12-04 09:57] chandrakantaS opened #6404 "Type check of parameters for function that creates a storage account."
- **Package Name**: @azure/arm-storage
- **Package Version**: 7.0.1
- **Operating system**: Mac
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
While trying to

[2019-12-04 11:04] coderbyheart commented on #6361
Those two versions were installed through npm without passing a version argument.

Note that `@azure/ms-rest-nodeauth` version `3.0.3` is not the `latest` on npm: https://www.npmjs.com/package/@azure/ms-rest-nodeauth

[code]

[2019-12-04 12:51] psytechno604 opened #6406 "await createContainer(...) never exits"
- **Package Name**: @azure/storage-blob
- **Package Version**: "^12.0.1"
- **Operating system**: Mac OS Mojave 10.14.6
- [ ] **nodejs**
    - **version**: 12.13.0

 const sharedKeyCredential = new StorageSharedKeyCredential(az.settings.storageAccount, az.settings.storageKey)

 const blobService = new BlobServiceClient('https://' + az.settings.storageAccount + '.blob.core.windows.net', sharedKeyCre

[2019-12-04 13:35] kayousef commented on #6234
@jspruance You are right, format is not yet supported in import/export scenarios. This will be available in the next release.

[2019-12-04 13:57] qiaozha commented on #6361
@coderbyheart @ramya-rao-a  ms-rest-nodeauth package has recently changed the latest version from 3.X back to 2.X. you can refer to this PR https://github.com/Azure/ms-rest-nodeauth/pull/78.

[2019-12-04 14:09] coderbyheart commented on #6361
Ok, so I understand this is intentional and one has to know *somehow* which version is compatible.

[2019-12-04 14:09] #6361 closed

[2019-12-04 14:18] ljian3377 commented on #6352
@ramya-rao-a
After some investigation, I think it might be a bug in the core-http library. Could you take a look?

I reproduced this issue with the following sequence:
1. create container
2. stageBlock with the onProgress option set, body = 'hello world'
3. following stageBlock without the onProgress option.

The second stageBlock failed with an 'invalid http verb'. According to the server log, th

[2019-12-04 14:47] askeroglu opened #6407 "Azure Service Bus Topic/Subscription in React App"

[2019-12-04 14:55] askeroglu commented on #6407
I am using service bus with Topic/Subscription with the following sample in React.
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/javascript/gettingStarted/receiveMessagesStreaming.js

Can I listen service bus subscription with socket by using only this library in React or should I use socket.io kind of dependencies?

I do get the following errors when I u

[2019-12-04 15:08] navneeth-battula commented on #6271
@bterlson @xirzec

I see that @xirzec has approved my PR.

When can we expect a new build with this change included?

@shanmuksai FYI

[2019-12-04 17:05] weshaggard commented on #6371
Personally I would prefer to lose some tracing data then to bring down my app. In any case do we at least have some docs somewhere talking about this issue? If not we should get some so that we can point folks to them.

[2019-12-04 18:33] xirzec commented on #6371
We can always add more docs, either to the package README or in some central place. I think our concern was that tracing data doesn't matter, until it really does (e.g. you hit some rare production issue) and we didn't want users to be silently losing diagnostic data without realizing it because they are depending on incompatible tracers.

The idea was that once OpenTelemetry goes GA, this will be

[2019-12-04 19:30] et13 opened #6408 "AppConfigurationClient does not retry when a request is throttled"
- **Package Name**: @azure/app-configuration
- **Package Version**: 1.0.0-preview.9
- **Operating system**: Win10 Enterprise 1909
- [x] **nodejs**
    - **version**: 12.13.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.7.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.micr

[2019-12-04 20:10] ramya-rao-a commented on #6352
cc @jeremymeng, @daviwil

[2019-12-04 20:13] ramya-rao-a commented on #6361
@qiaozha https://github.com/Azure/ms-rest-nodeauth/pull/78 tells me that the bug fixes in v3 were cherry-picked to v2, but it doesn't mention anything about why v3 is not having the `latest` tag.

@daviwil Are you aware of any reason why v3 of ms-rest-nodeauth wouldn't have the `latest` tag?

[2019-12-04 20:20] ramya-rao-a commented on #6332
The below packages were released last night

`@azure/storage-file-share`  12.0.0
`@azure/storage-blob` 12.0.1
`@azure/storage-queue` 12.0.1

cc @scbedd

[2019-12-04 20:21] ramya-rao-a commented on #6332
Also, now that `@azure/storage-file-share` has gone GA, please remove it from the preview node

[2019-12-04 20:21] daviwil commented on #6361
I think this happened because of how the release automation for this repository works.  Because 3.0.3 was published *before* 2.0.5, the latter got marked as `latest` by the release script.  We can have someone fix that.

[2019-12-04 20:30] ramya0820 commented on #5354
We decided to try and maintain parity with .NET SDK and investigate user experience collectively later
- #6395 updates settable parameters on Queues, Topics, Subscription and related validation. Specifically, adds support for  `status` input.

Other pending things are:
- Investigating support for normalizing URLs so that expected user input format is same across SDKs for URL based properties
- Inv

[2019-12-04 20:33] jeremymeng commented on #6352
I will take a look.  I added this transform to fix an issue where we report the progress even before uploading data.

[2019-12-04 20:36] galkin opened #6411 "[Blob Storage] Question: Data corruption failure error"
Hi, @bterlson. I have a problem with downloading **compressed** files from blob storage.

When I using an example from [the Readme.md](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-blob#download-a-blob-and-convert-it-to-a-string-nodejs) with such compressed file, I have error:
`Data corruption failure: Received more data than original request, data needed offset is 1153

[2019-12-04 22:13] ramya0820 commented on #6141
Closed with #6377

[2019-12-04 22:13] #6141 closed

[2019-12-04 22:16] daviwil commented on #6387
What @ramya-rao-a suggests is [definitely the behavior](https://github.com/Azure/azure-sdk-for-js/blob/b38ae36b293f08f72b80dbb1d75cb4d276098fa1/sdk/core/core-http/lib/serviceClient.ts#L667-L670) for the new `PipelineOptions` support in `core-http` so it seems like the corresponding logic was missed when Brian changed the Storage library to have a lookalike implementation.

I agree with @ramya-rao-

[2019-12-04 22:16] ramya-rao-a commented on #6055
So the .Net SDK only looks for `Code` and `Message` in the response?

[2019-12-04 22:19] daviwil commented on #6387
I guess the one reason **not** to do this is because there's currently no other way in `PipelineOptions` to explicitly say that you don't want to use the `proxyPolicy`.  Right now we use `undefined` to indicate that `proxyPolicy` shouldn't be added to the pipeline.  `getDefaultProxySettings()` may return `undefined` if no proxy environment variables are found, thus no `proxyPolicy` gets added.  Do

[2019-12-04 22:20] sadasant opened #6414 "[Recorder] A copy of a single recorded test with a new name, with an accordingly name recorded file, should work as is on play."
Jeff reported that this happens in Storage.

[2019-12-04 22:29] ramya-rao-a commented on #6387
When `undefined` gets passed to the `proxyPolicy()` it should essentially behave like a no-op policy.
The only downside is that everyone will now have the proxy policy, it will be no-op unless user provides the proxy settings or if `getDefaultProxySettings()` returns `undefined`.

Am ok with that

[2019-12-04 22:30] #6368 closed

[2019-12-04 22:39] sadasant opened #6415 "[Recorder] Ensure that no recordings have time-sensitive information stored"
We have methods to remove these properties from the recordings already. Figure out what properties need to be removed. This should clean up noise from the PRs.

[2019-12-04 22:56] jeremymeng opened #6416 "[Stoage][Tests] possible to reduce running time of tests that verify onProgress"
There are some blob tests that verify progress report of downloading. However, they abort after the first events. We should only need to upload enough data to ensure we have more than one events. This can save time uploading big chunk of data.

[2019-12-04 23:21] xirzec commented on #6271
@navneeth-battula `@azure/abort-controller` version 1.0.1 is now published on npm with your fix.

Can you consume the new package and confirm that your issue is now resolved?

[2019-12-04 23:39] jeremymeng commented on #6387
sounds good.  I will make the fix in storage libs

[2019-12-04 23:40] sadasant commented on #6414
@xirzec

Here's an example with KeyVault:

If we copy this test:
[code]

Like this:
[code]

(Note that the keyName used to create the key needs to change to have the previous test name, since we were using this.test.title in the original test, and this has changed.)

And we make a copy of the recorded file, so that it looks like this in the tree:
[code]

The following command works:
[code]

[2019-12-04 23:43] xirzec commented on #6414
If this works, then I think it's my other bug, e.g. put an `assert.equal(1,2, "this should fail")` at the end of the test after `flushKey` and see if that assert shows up in the output while on playback

[2019-12-04 23:47] sadasant commented on #6414
This is the error that I get:

[code]

In this case, the bug is the same as the source map bug https://github.com/Azure/azure-sdk-for-js/issues/6298 is that correct?

[2019-12-05 00:13] ramya0820 commented on #6055
It looks only for Detail

[2019-12-05 00:27] xirzec commented on #6414
yeah that's entirely possible, the only other thing would be if it was something storage specific

[2019-12-05 00:33] sadasant commented on #6414
I'll test.

[2019-12-05 00:33] richardpark-msft commented on #6384
After a rousing email thread it appears that we'd prefer to just simply remove any escaping altogether and just document the rules properly for the user to encode it themselves.

(correct me if I'm wrong @annelo-msft)

[2019-12-05 01:05] ramya-rao-a commented on #6368
@jake-wickstrom-lb We just released version 2.0.0 of the `@azure/eventgrid` package which is compatible with version 3 and above of `@azure/ms-rest-nodeauth`. Please give that a try.

[2019-12-05 01:06] ramya-rao-a commented on #6361
@coderbyheart We have fixed the tag issue. The `latest` tag now points to version 3.0.3

Thanks a lot for reporting this!

[2019-12-05 01:12] ramya-rao-a commented on #6387
The fix should be in `core-http`.

The expectation out of `proxyPolicy()` should be as follows
- If any proxy settings are passed, respect them
- Else if `getDefaultProxySettings()` returns settings, respect them
- Else do nothing. The policy acts as a no-op policy

[2019-12-05 07:18] ramya-rao-a commented on #6407
Thanks for reporting @askeroglu

Can you share a small sample app where we can try and replicate this issue?

[2019-12-05 07:47] askeroglu commented on #6407
I have App.js and Receive.js in React. This code mimics what I am trying to do

import React, { useEffect, useState, useRef } from "react"
import {
  Route,
  Switch,
  Redirect
} from "react-router-dom"
// Service Bus
import recieveServiceBusMessages from './serviceBus/recieve'

function App(props) {
  const [ notificationsState, setNotificationsState ] = useState([])
  // userId from Redux
  con

[2019-12-05 16:51] Ethan-Arrowood opened #6425 "SentimentResponse is missing SentimentBatchResult type"
- **Package Name**: @azure/cognitiveservices-textanalytics
- **Package Version**: 4.0.0
- **Operating system**: Mac OS
- [x] **nodejs**
    - **version**: v12.13.0
- [x] **typescript**
    - **version**: v3.3.3

**Describe the bug**
SentimentResponse type is missing the SentimentBatchResult type like the other types have.

The SentimentResponse type:
https://github.com/Azure/azure-sdk-for-js/blob/

[2019-12-05 17:12] manishsat commented on #5496
@bgklein Thanks for the update. Any plans when can I expect fixes for other codepaths?

[2019-12-05 17:32] MRayermannMSFT opened #6426 "Proxy Issues With @azure/storage-blob"
- **Package Name**: @azure/storage-blob
- **Package Version**:  12.0.0
- **Operating system**: Windows (probably also macOS and Linux)
- [x] **nodejs**
    - **version**: 10.11.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.micro

[2019-12-05 21:10] ramya0820 commented on #5354
#6395 has been updated to address above pending items. Please see description of the PR for more notes

Another point is that we could try and maintain shape parity with ARM Service Bus package on the properties naming. https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/arm-servicebus/src/models/mappers.ts
Thoughts? This might make us want to revert some of the naming improvement

[2019-12-05 21:33] jeremymeng commented on #5502
Closing as packages have been published

[2019-12-05 21:33] #5502 closed

[2019-12-05 21:35] #6327 closed

[2019-12-05 21:42] chradek commented on #6118
Confirmed that this is an issue in our amqp-based sdks.

We can make use of the `idle_time_out` parameter (supports minimum of 10 seconds) in rhea.

So far I've encountered 2 issues when trying to use `idle_time_out`.

https://github.com/amqp/rhea/issues/264 (resolved)
Rhea now notifies when the idle_time_out has been met by dispatching a `disconnected` event on a connection. Previously there was

[2019-12-05 21:46] jeremymeng commented on #5397
Might won't fix this, depending on what do we want to do with samples.  Currently we have a prep-samples.js in build:ts-samples. If we are doing similar thing for js-samples by adding a prep step in this NPM script then keeping `build:js-samples` is better.

[2019-12-05 22:32] #6261 closed

[2019-12-05 22:42] ramya-rao-a commented on #6376
Done with #6393 and is part of event hubs 5.0.0-preview.7

[2019-12-05 22:42] #6376 closed

[2019-12-05 22:47] ramya-rao-a commented on #4940
Assigning to Will to follow up with the work needed to add the relevant metadata

@willmtemple If you have another issue tracking this across all packages in a separate issue, then go ahead and close this

[2019-12-05 22:48] bgklein commented on #5496
@manishsat Are you still experiencing issues? We believe the release mentioned fixed the issue you were experiencing. If you are it may require further investigation, but we haven't heard otherwise.

[2019-12-05 22:54] sadasant opened #6429 "[Recorder] Ensure that source maps can be used to debug errors on browser tests"
Separated from #6298 since this seem considerably harder than the node solution.

[2019-12-05 22:55] sadasant commented on #6298
Made this other issue to track the browser fix: https://github.com/Azure/azure-sdk-for-js/issues/6429

Our current solution is to move `nyc` outside of the integration tests. The current problem is that nyc/istanbul is not mapping the sourcemaps correctly. Another plus side is that reporting slows tests considerably.

[2019-12-05 23:27] chradek commented on #6407
@askeroglu
Do you see the `OperationTimeoutError` every time you attempt to get messages, or are you able to receive some?

I tried reproducing by creating a new app with `create-react-app` and doing something similar to what you do:

#### App.js
[code]

#### receive.js
[code]
With this code I receive the messages after the 3 second timeout. Can you share how often your `useEffects` method is bein

[2019-12-05 23:41] ramya-rao-a commented on #4728
Any updates on this @kaerm?

[2019-12-05 23:46] ramya-rao-a commented on #5397
@willmtemple will be leading a separate generalized approach across packages regarding how to run samples. The issue here will be taken care of by that work

[2019-12-05 23:46] #5397 closed

[2019-12-05 23:53] chradek commented on #6118
https://github.com/amqp/rhea/pull/267 has been merged which fixes https://github.com/amqp/rhea/pull/266, so there shouldn't be any blockers left.

Next steps are:
- [ ] determine best place to expose idleTimeOut (client libraries or amqp libraries?)
- [ ] update amqp-common to pass `idle_time_out` as a rhea connection option.
- [ ] update core-amqp to pass `idle_time_out` as a rhea connection opti

[2019-12-05 23:54] ramya0820 commented on #6219
Types of erroneous inputs/usage that remain (other than high level validation of custom Types introduced) are if number, array, JS object or boolean is passed to string (and all such combinations) on the individual fields.

We currently do validation for JS object like  parameters and ensure they are an array of JS objects as expected. But we don't check on primitive types of the individual fields

[2019-12-05 23:56] sadasant commented on #6414
I tested in storage!

I made a copy of an existing test with a slightly different name:

[code]

Then made sure to add a copy of an existing recording with the appropriate name: `recordings/node/blobclient/recording_download_with_with_default_parameters_2.js`.

Then built with `rushx build:test` and ran the tests with `rushx unit-test:node`. The tests passed! 🌞

I'll close this for now.

[2019-12-05 23:56] #6414 closed

[2019-12-06 00:24] scbedd commented on #6332
**Latest**
- [ ] @azure/identity
- [ ] @azure/keyvault-secrets
- [ ] @azure/keyvault-keys
- [ ] @azure/cosmos
- [ ] @azure/storage-file-share
- [ ] @azure/storage-blob
- [ ] @azure/storage-queue

These are left deliberately blank WRT specific versions. Leaving a blank specifier for the `latest` CI pipeline means that it'll always pick up the latest non-preview package. This will really speed up th

[2019-12-06 01:17] ramya-rao-a commented on #6332
The docs are not showing contents from the latest version at the moment.
Some checks that you can make
- [getProperties](https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/blobclient?view=azure-node-latest#getproperties-blobgetpropertiesoptions-) should have the changes from #6308
- [beginDeleteSecret](https://docs.microsoft.com/en-us/javascript/api/@azure/keyvault-secrets/secretc

[2019-12-06 01:52] mikeharder opened #6434 "Release pipeline should support different tags per package"
Some of our release pipelines are currently used to publish multiple packages, with some GA and some preview.  This causes issues with tagging, since the GA and preview packages use different tag patterns (GA only updates `latest`, while preview needs to update both `latest` and `next`).  Many tags needed to be manually updated after the release which is time-consuming and error-prone.

The releas

[2019-12-06 01:56] jeroenterheerdt commented on #3722
@cbruno10 - closing this issue. Do not hesitate to reach out if you need more help.

[2019-12-06 01:56] jeroenterheerdt commented on #3722
@kurtzeborn go ahead and close this issue.

[2019-12-06 02:49] ramya-rao-a opened #6436 "[EPH] Tests for IotHub support failing consistently"
The test `should be able to receive messages from the event hub associated with an iothub.` has been failing consistently for EPH. This is most likely due to us re-using the connection string for IotHub between the tests for Event Hubs and EPH

The one for Event Hubs which is Track 2 needs event hub compatible connection string
The one for EPH which uses Event Hubs Track 1 needs the iothub connect

[2019-12-06 03:06] ramya-rao-a opened #6437 "[Event Hubs] Tests failing due to JavaScript heap out of memory"
The test `Receive from all partitions, no coordination` has been often failing due to ` JavaScript heap out of memory` error.

![image](https://user-images.githubusercontent.com/16890566/70292178-48aa3600-1792-11ea-809b-ea0c85bfd4cf.png)

cc @chradek, @richardpark-msft

[2019-12-06 03:09] ramya-rao-a opened #6438 "[Event Hubs] "should receive events from checkpoint" test is failing intermittently"
The test `should receive events from the checkpoint` is failing intermittently

![image](https://user-images.githubusercontent.com/16890566/70292298-b8202580-1792-11ea-9962-16b504b340ca.png)

cc @chradek, @richardpark-msft

[2019-12-06 03:12] ramya-rao-a opened #6439 "[Event Hubs] Load balancing tests failing intermittently"
The test `should ensure that all the processors maintain a steady-state when all partitions are being processed` has been failing intermittently

![image](https://user-images.githubusercontent.com/16890566/70292451-2fee5000-1793-11ea-8e81-807f96974970.png)

cc @chradek, @richardpark-msft

[2019-12-06 03:15] ramya-rao-a opened #6440 "[Keyvault] LRO tests in certificates failing intermittently"
The test `can resume from a stopped poller` in keyvault certificates has been failing intermittently

![image](https://user-images.githubusercontent.com/16890566/70292660-9c694f00-1793-11ea-8b2f-57eab5219608.png)

cc @sadasant

[2019-12-06 03:17] ramya-rao-a opened #6441 "[Keyvault] Test to create a secret failing intermittently"
The test `can get a secret (Non Existing)` in keyvault secrets is failing intermittently

![image](https://user-images.githubusercontent.com/16890566/70292816-20bbd200-1794-11ea-9789-c79d1ccd04f6.png)

cc @sadasant

[2019-12-06 03:20] ramya-rao-a commented on #6440
Another one:
![image](https://user-images.githubusercontent.com/16890566/70292872-477a0880-1794-11ea-961d-3d0d3cea5535.png)

[2019-12-06 03:32] ramya-rao-a commented on #6219
As long as the service returns errors for invalid inputs, we are good.
Additionally, the general recommendation around type validation is that we make them only if we are not able to form the request to the service.

[2019-12-06 04:46] ramya-rao-a opened #6442 "[Service Bus] Test only one of partition/un-partition, sessions/no-sessions variations when client behavior is being tested"
In Service Bus, we ensured that all tests that were written were run on all of the below variations
- partitioned queue, no sessions
- partitioned queue with sessions
- unpartitioned queue, no sessions
- unpartitioned queue with sessions
- partitioned topic, no sessions on subscriptions
- partitioned topic with sessions on subscriptions
- unpartitioned topic, no sessions on subscriptions
- unparti

[2019-12-06 05:09] ramya-rao-a commented on #1335
Closing this issue as we will be revisiting new requirements for Service Bus as part of our Track 2 efforts

[2019-12-06 05:09] #1335 closed

[2019-12-06 05:11] ramya-rao-a commented on #1466
@gmantri We have had a few more improvements to the ReceiveAndDelete feature. Can you try again and let us know if you still see the same problem?

[2019-12-06 05:18] ramya-rao-a commented on #2970
This has been long done :)

https://docs.microsoft.com/en-us/javascript/api/@azure/service-bus/?view=azure-node-latest

[2019-12-06 05:18] #2970 closed

[2019-12-06 16:48] chradek commented on #6439
If this and the other test failures only show up on the scheduled builds, it might be worth taking a look to see if the event processor host tests run at the same time with the same namespace/eventhub/consumer group.

[2019-12-06 16:56] ramya-rao-a commented on #6439
I believe its definitely a good idea to ensure that EPH tests use a different consumer group regardless of whether that's the cause here...

[2019-12-06 16:59] kaerm commented on #2671
According to architectural guidelines we keep samples in our repo. Azure-Samples existed to ingest samples into docs but we can do that from our repo now as well.

[2019-12-06 16:59] #2671 closed

[2019-12-06 17:02] kaerm commented on #4728
Content team is busy updating other documents but I believe @maggiepint volunteered for that one

[2019-12-06 17:04] kaerm commented on #6332
@scbedd correct me if I am wrong but I think the docs get published on Tuesdays

[2019-12-06 17:29] kaerm commented on #6180
PR here https://github.com/Azure-Samples/app-service-msi-keyvault-node/pull/7

[2019-12-06 17:52] richardpark-msft opened #6444 "[event-hubs] Error handling changes for SDK consistency"
During our recent review for error handling in EventHubs a few spots showed up as being different than we'd like to change:

(will do)
1. When claiming ownership do NOT eat errors unless they are specifically related to fighting for ownership over a blob (ie, etag related). Eating them can conceal underlying problems (storage account accessibility, etc..). This should be the standard for the Check

[2019-12-06 17:58] chradek commented on #6444
Yes this looks correct to me. Reiterating...all our checkpointstore implementations should throw errors instead of eating them when calling claimOwnership, unless the failure is due to an etag mismatch (since that will get indirectly handled as EventProcessor should see an OwnershipLost eventually)

[2019-12-06 18:14] jeremymeng opened #6445 "[Storage][Doc] call out the links to REST API"
In a UX study session, one participant clicked the link in the ref doc, thinking it will have details for the SDK api, but was confused by the REST API page that was opened.

Examples in storage code:
[code]

It might be useful to call out that it links to the REST API doc

[code]

There are many places of these in storage code.

[2019-12-06 18:32] scbedd commented on #6332
They do, but I am making a habit of getting PRs to live sooner than that.

[2019-12-06 18:40] kaerm commented on #6332
Good habit :) @ramya-rao-a I am assuming that is why you cannot see the latest version

[2019-12-06 18:56] danieljurek opened #6446 "Collapse per-package test pipelines to per-service pipelines"
The following services have pipelines per-package

* Event Hubs
* Key Vault
* Storage

These should be collapsed down to a single `tests.yml` file at the level of the service and the `tests.yml` should use a `ServiceDirectory` to keep with the way we're doing this in our `ci.yml` files.

[2019-12-06 18:57] ramya-rao-a commented on #6332
Update on the datalake package: This issue got the name wrong and my bad for not correcting it sooner

Package Name: `@azure/storage-file-datalake`
Version: 12.0.0-preview.6

[2019-12-06 19:09] jeremymeng opened #6447 "[Samples] use DefaultAzureCred in code"
Most of the samples and code snippets should use `DefaultAzureCredential`

(although it would be hard for users who want to just try out locally, since DefaultAzureCredential requires more setup than Shared Key/connection string/etc.

[2019-12-06 19:12] jeremymeng opened #6448 "[Storage][Samples] create clients directly when possible"
Some of the samples are going down the class hierarchy to create client, for example,
* new BlobServiceClient()
* blobServiceClient.getContainerClient()
* containerClient.getBlockBlobClient()

 when possible we should just create the client to use directly from URL

[2019-12-06 19:17] jeremymeng opened #6449 "[Readme] multiple links on a single line is hard to read"
UX study participants stated that they never look beyond first/second links

![image](https://user-images.githubusercontent.com/7583839/70349754-396ecb00-181a-11ea-9ab3-0e72b8550f98.png)

@HarshaNalluru has a PR to update guidelines in https://github.com/Azure/azure-sdk/pull/754. Once that's approved, we need to update all samples readme

[2019-12-06 19:37] jeremymeng opened #6450 "[Storage][Doc] More description for how to use the paged async iterators"
especially byPage() since we couldn't really add JS Doc for parameters that it's taking.

Can add more description on how the maxPageSize, continuationToken are optional and how to use them

[2019-12-06 19:42] jeremymeng opened #6451 "[Storage][Doc] Document exceptions/errors from a function"
(copied from #5788)

    Descriptions for errors for each and every function - For example, uploading a blob to a non-existing container

[2019-12-06 19:43] kaerm commented on #6342
@qiaozha, @rloutlaw is the right contact

[2019-12-06 19:49] jeremymeng opened #6452 "[Storage][Samples] Add more samples for hero scenarios"
We could use more samples, for example

* downloading - download() vs downloadToFile()
* samples around SAS generation and usage.

See https://godoc.org/github.com/Azure/azure-storage-blob-go/azblob#pkg-examples for some Go examples. The scenarios should still matter.

[2019-12-06 20:05] jeremymeng commented on #5788
Going to close this one.  I logged issues for actionable items.  Please review if there's any missing.

[2019-12-06 20:05] #5788 closed

[2019-12-06 20:56] #6384 closed

[2019-12-06 20:57] bterlson commented on #6444
I'll need more context to weigh in on the processing loop termination. Come find me to discuss 😀

[2019-12-06 21:24] ramya-rao-a commented on #6425
The text analytics library is currently auto-generated based on a swagger spec.

@HanLiMS looping you in here as you had authored the last update to the swagger spec for Text Analytics. Can you shed some light on this issue when using v2 apis for Text Analytics?

[2019-12-06 22:40] HanLiMS commented on #6425
@ramya-rao-a Ramya Rao Which version are we talking here?
For V2.0/V2.1, SentimentBatchResult should be there.
For V3.0-Preview, we only have SentimentResponse.

[2019-12-06 22:44] ramya-rao-a opened #6456 "App Config releases are not getting git tags"
Currently, there are no git tags for the app config preview packages that we have been releasing

![image](https://user-images.githubusercontent.com/16890566/70361552-cf185380-1836-11ea-9b75-8b1417947757.png)

cc @mikeharder, @weshaggard

[2019-12-06 22:52] ramya-rao-a commented on #6425
@HanLiMS The current package uses v2.1 api and was last regenerated on Sep 11, 2019. See PR #4955.
When was the last time the swagger for this version updated?

@joheredi, can we regenerate this package and see if there is any difference?

[2019-12-06 23:02] chradek commented on #6456
Interestingly, they do show up if you run `git tag -l` locally. I noticed the same is true for amqp-common...they just aren't showing up in the GitHub UI.

[2019-12-06 23:07] ramya-rao-a commented on #4182
My apologies @lenkan and @jfggdl, this issue is indeed with the client and was wrongly classified as service related.

When there is a connection issue, we try to recover the connection behind the scenes for quite a while before reporting the problem. While this is preferable on the receiving side (in case of the streaming receiver), I see that it is not ideal when sending.

The promise returned b

[2019-12-06 23:07] bterlson opened #6457 "[core-http] sendOperationRequest needs an overload that takes OperationOptions"
Presently the utility method OperationOptionsToRequestOptionsBase must be applied before calling into sendOperationRequest. This should not be necessary.

[2019-12-06 23:25] ramya-rao-a commented on #5282
Thanks for your patience everyone.

In the recent update for Service Bus (version 1.1.1), we have made some improvements around the error handling space that should help the scenarios described here. Checkout the [changelog for 1.1.1](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/changelog.md#2019-11-27-111) for details.

Can folks here give the latest version a

[2019-12-06 23:31] #6408 closed

[2019-12-06 23:40] weshaggard commented on #6456
This is a github bug they don't show up most tags in that UI. I've never figured out exactly why though. As @chradek said though the tags are there, you can get them through the command line:
[code]

You can also page through them at https://github.com/Azure/azure-sdk-for-js/tags but I honestly think the command line is the better experience.

[2019-12-06 23:40] #6456 closed

[2019-12-07 00:01] jeremymeng commented on #4906
Closing as the work is merged.

[2019-12-07 00:01] #4906 closed

[2019-12-07 00:56] ramya-rao-a commented on #6121
The root cause of the issue here is that there is no back pressure i.e the callbacks provided to the `receive` method are called in a fire and forget way i.e we dont wait for a callback to complete any async work it could possible be doing before calling the callback for the next event.

We are currently working on previews for the next version of the EventHubs library where we will be providing t

[2019-12-07 00:58] ramya-rao-a commented on #2557
**Update**:
We have released another version of the Event Hubs library, please checkout the version 5.0.0-preview.7.
It has small API changes from the previous version

We will keep this issue open until the above library moves out of the preview state

[2019-12-07 01:00] ramya-rao-a commented on #5042
@richardpark-msft Is this still applicable?

[2019-12-07 01:15] richardpark-msft commented on #5042
No longer applicable - everything's lowercase now, both when we write it and when we read it.

[2019-12-07 01:15] #5042 closed

[2019-12-07 01:23] richardpark-msft commented on #6408
Thank you for this very detailed bug report. I was able to merge in a fix and we'll look to publish this next week.

[2019-12-07 01:44] scbedd commented on #6332
keyvault secrets = g2g
blob I'm still seeing the mismatch. Starting to think this is an actual issue with the processing of the doccomment.

[On GitHub.IO, what it should be](https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-storage-blob/12.0.1/classes/blobclient.html#getproperties)
[On review.docs](https://review.docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/blobclien

[2019-12-07 02:32] richardpark-msft commented on #6444
I've got a PR out for the first two points since those seem universal.

[2019-12-07 02:56] richardpark-msft opened #6467 "[event-hubs] Create a migration guide from EventHubs v2 To v5"
EventHubs has changed enough that it'd be useful to have a migration guide.

We want to model it after this existing guide for storage:
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/migrationGuides/V10_V12.md

The core scenarios we want to cover:
- [x] EventProcessHost -> EventHubConsumerClient.subscribe
- [x] .send -> EventHubProducerClient
- [x] .receive/

[2019-12-07 22:38] sbutalia opened #6468 "Bulk Instance Status API"
Is there an API equivalent to AWS describeInstances:
https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html

We would like to query the statuses of a list of instances filtered by the instance type like
NV12s_v3
or
by a tag

Thank you.

[2019-12-08 06:10] qiaozha commented on #4320
@talam  May I know how long will this hang occur in your tests? I am trying to reproduce it but the problem doesn't show up for like more than 10 minutes.
Also, since you doubt the package `@azure/ms-rest-azure-js` and `@azure/ms-rest-js` have missing retry logic, Can I have your versions of these two packages?  Can you show me which part is missing as well?

[2019-12-08 19:17] talam commented on #4320
The issue eventually happens for me after a random amount of time. It could be 5-10 mins or longer. I suspect that once a request returns some error from the server it hangs and it's possible none of the requests during the test you ran produced an intermittent error.
[code]
I am not 100% certain that it's missing retry logic as I was guessing based no a quick search for retry logic when I last ch

[2019-12-08 20:40] ramya-rao-a commented on #3056
@kaerm Is this something you would prefer to do in general across services? i.e standardizing what goes into the `Next Steps` section of Quick Starts

[2019-12-08 20:43] ramya-rao-a commented on #3518
The only warning left is related to EventPosition

<img width="1077" alt="Screen Shot 2019-12-08 at 12 43 08 PM" src="https://user-images.githubusercontent.com/16890566/70395890-5b9e4f80-19b8-11ea-91c0-ca7f4296e409.png">

[2019-12-08 20:47] #4136 closed

[2019-12-08 20:51] ramya-rao-a commented on #5495
5.0.0-preview.7 of the `@azure/event-hubs` library was released last week along with 1.0.0-preview.5 of the `@azure/eventhubs-checkpointstore-blob` package

[2019-12-08 20:51] #5495 closed

[2019-12-09 00:28] hally9k commented on #6467
@richardpark-msft Yes please! Additionally is there a blog post or slack group where I could try and keep abreast of the evolution of the API through the 5.preview versions?

[2019-12-09 06:16] qiaozha commented on #4320
@talam  Can you upgrade this two packages as follow to see if problem still exists? I am using these two version
`    "@azure/ms-rest-azure-js": "^2.0.1",
    "@azure/ms-rest-js": "^2.0.4", `

[2019-12-09 06:43] ramya-rao-a commented on #6452
Can we use #5109 to track all the missing samples?

[2019-12-09 07:00] ramya-rao-a commented on #6447
Is this specific to Storage or a general observation?

cc @sadasant for Keyvault in case its the latter

[2019-12-09 07:01] ramya-rao-a commented on #6446
@danieljurek Am guessing this is related to the integration tests? Can you provide a few more details on the motivation behind this change?

[2019-12-09 07:04] ramya-rao-a commented on #6445
I'd like to take an approach that is standard across languages here. Do we have an idea of what is the purpose of linking to REST apis from reference docs? If its about return types, then the docs will have the return type and the user should be able to follow that right?

[2019-12-09 07:30] ramya-rao-a commented on #4057
@hosyvietanh, @sprour We hope that the details provided above regarding ECDSA256 support helps you. If you still see the issues regarding this, please feel free to log a new issue.

[2019-12-09 07:30] #4057 closed

[2019-12-09 07:32] ramya-rao-a commented on #5489
Closing this tracking issue as we have now released
- version 4.0.1 of `@azure/keyvault-keys` and `@azure/keyvault-secrets` libraries
- version 4.0.0-preview.11 of `@azure/keyvault-certificates`

[2019-12-09 07:32] #5489 closed

[2019-12-09 07:43] ramya-rao-a commented on #5810
Thanks for reporting @BigBd1 and our apologies for not responding sooner

@richardpark-msft Can you take a look at this issue please?

[2019-12-09 08:07] XiaoningLiu commented on #4246
Hi @t-my, we just released first preview version of npm package @azure/storage-file-datalake for adls gen2 support. Please refer to package https://www.npmjs.com/package/@azure/storage-file-datalake and source code if you like https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-file-datalake

[2019-12-09 14:06] raftAtGit commented on #6221
I have a similar issue with `key vault CLI`.

I can operate (set a secret value) on a key vault when it's in my default subscription, but got the above error when default subscription is different and I specify the subscription with the `--subscription` flag.

[2019-12-09 16:17] ahmedspiir opened #6473 "@azure/identity doesn't get MSI token for Azure CLI"
I'm trying to use the new library for Authentication, and my problem is that i can't use `DefaultAzureCredential` to get MSI token from Azure CLI which i used to have before when using `@azure/ms-rest-nodeauth` .

- **Package Name**:
[code]
- **Package Version**:
- **Operating system**:
MacOs
- [X] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - *

[2019-12-09 16:51] danieljurek commented on #6446
This is related to the live tests. We want to standardize the layout of pipelines to the approach we're taking for all other languages. This will make it easier to scale automation for creating pipelines (and pushing out changes across all pipelines like we saw in the conversation last week about triggering conditions).

Live test pipelines for all other languages are per-service instead of per-pa

[2019-12-09 17:12] kaerm commented on #3056
for sure @ramya-rao-a. I feel like there is no reason why eventhubs would need it and others would not

[2019-12-09 17:22] jeremymeng commented on #6445
@XiaoningLiu for question about the purpose of linking to REST API docs.

.NET has links to REST API docs too, though with different wording

https://github.com/Azure/azure-sdk-for-net/blob/888654670f74346317655f08dc7e6dd6b4967112/sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs#L212

[2019-12-09 17:51] jeremymeng commented on #6447
This is not storage-specific. We could also choose to only do this for code snippets that are included in README files.

[2019-12-09 17:53] jeremymeng commented on #6452
Yes, I forgot we have one already.  Closing this one.

[2019-12-09 17:53] #6452 closed

[2019-12-09 17:57] jeremymeng commented on #5229
The duplicate "HelloWorld" likely is due to the core-http issue #6352.

[2019-12-09 17:58] willmtemple commented on #5679
Closing #4940 to prefer this issue.

I'll fix up the /samples/README.md files in addition to the /samples/typescript/README.md and /samples/javascript/README.md files for any errors as I'm going through.

@ramya-rao-a @kaerm FYI this is blocked on figuring out why the samples don't currently render in docs.microsoft.com. Since #6208 was merged I expected to see the TS/JS samples for file-share onl

[2019-12-09 18:07] kaerm commented on #5679
This is not working because on our side we do not have the webhook configured. @scbedd - can you help enabling it for all the remaining repos?

[2019-12-09 18:47] #3722 closed

[2019-12-09 18:48] scbedd commented on #5679
@kaerm I'll sync with scotk today and get it done.

[2019-12-09 19:04] #4940 closed

[2019-12-09 19:08] richardpark-msft commented on #5810
@BigBd1  - yes, we definitely don't want you to have to splice through the list of policies.

I'll take a look and see what we can do.

[2019-12-09 20:08] richardpark-msft commented on #6250
Now that we're only doing batching this isn't applicable.

[2019-12-09 20:08] #6250 closed

[2019-12-09 20:32] jeremymeng opened #6475 "[Browser test] console.log weirdness"
I added some `console.log()` calls in one storage-file-share test FileClient.ts, namely

* `    console.log("# beforeEach");` in `beforeEach()`
* `    console.log("# afterEach");` in `afterEach()`
* `console.log("# uploadRange with progress event");` in the corresponding test case.

when running browser tests. A log of `\\` got dumped onto the screen

![image.png](https://images.zenhubusercontent.

[2019-12-09 20:48] jeremymeng commented on #5229
This issue is gone but another issue pops up. Will log a new issue.

[2019-12-09 20:48] #5229 closed

[2019-12-09 20:54] jeremymeng opened #6476 "[Record & Playback] Storage File Share FileClient "uploadRange with progress event" only failed"
To repro:

- comment out the `recorder.skip` line at https://github.com/Azure/azure-sdk-for-js/blob/aad3495bd8cd7b69dc531ab86ed17299b8bb1ad6/sdk/storage/storage-file-share/test/fileclient.spec.ts#L368
- run integration-test:browser with TEST_CODE=record

Actual:

[code]

[2019-12-09 20:54] jeremymeng commented on #6476
could be that the record and playback doesn't support callback events?

[2019-12-09 21:43] jeremymeng opened #6477 "[record & playback] Storage-blob BlobClient "download with progress report" failed in browser recording mode"
The test is added in PR #6428. When trying to record it failed in browser.  Looks like `beforeEach` was invoked again, even after this test case finished.

[2019-12-09 23:12] manishsat commented on #5496
@bgklein will test and let you know.

[2019-12-09 23:36] jeremymeng opened #6480 "[Storage] telemetry for browsers"
Storage is using its own TelemetryPolicy for setting User Agent string for NodeJS only, which means we don't get telemetry data for browsers.

https://github.com/Azure/azure-sdk-for-js/blob/aad3495bd8cd7b69dc531ab86ed17299b8bb1ad6/sdk/storage/storage-blob/src/policies/TelemetryPolicy.ts#L51

In core-http, for browsers, the user agent info by default is sent via the `x-ms-command-name` header

http

[2019-12-09 23:41] jeremymeng commented on #6480
Also storage services need to recognize this new header key.

[2019-12-10 00:37] jeremymeng commented on #6009
How would one loop across `.then()` though? The naive callback chain:

[code]

[2019-12-10 00:53] ramya-rao-a commented on #6009
@jeremymeng I believe the feedback was more to provide alternative for the the `for await of` syntax and not to not use await altogether. So perhaps

[code]

[2019-12-10 01:07] ramya-rao-a commented on #6446
For the nightly runs, this doesnt make much of a difference.
But they do make a difference when we trigger the live tests in PR via the azp command

Take the case of a PR made to keyvault keys. Today, we sometimes trigger the live tests for the same via the azp command in the PR. The PR is now blocked until the test run is done. With the changes in this PR, we will now be running the live tests fo

[2019-12-10 01:19] #6436 closed

[2019-12-10 01:37] richardpark-msft opened #6484 "[core] Unify the ThrottlingRetryPolicy in core and app-configuration"
As of PR #6431 we now have two implementations of the ThrottlingRetryPolicy - one in core-http and one in AppConfiguration.

We probably want to discuss how to properly merge them in a way that is non-breaking.

The differences between them are:

## .catch vs .then:
  * AppConfig's `ThrottlingRetryPolicy` attaches itself to the .catch of the returned promise
    (internally the HTTP client generat

[2019-12-10 01:41] richardpark-msft commented on #6484
CC: @ramya-rao-a , @johanste , @bterlson , @daviwil

[2019-12-10 01:43] js-kyle opened #6485 "Documentation for custom HttpClient usage"
**Is your feature request related to a problem? Please describe.**
I am struggling to implement a custom HttpClient for usage with the @azure/core-http. Previous azure modules allowed overriding the default Node.js global client, however my understanding is that the newer SDK provided the option to provide a custom HTTPClient to not affect other `http` usage.

**Describe the solution you'd like**

[2019-12-10 01:51] bterlson commented on #6484
As mentioned in another thread, I think the distinction between catch/then handling in the policy is likely not intentional. It's possible appconfig is doing a weird thing by mapping the 429 error code, but it seems reasonable to me and so I think the policy should handle both .catch and .then. But I would like @johanste to weigh in once he's back tomorrow (I think?).

[2019-12-10 01:53] kurtzeborn opened #6486 "Remove Storage Swagger Readme Transforms"
During the push to GA track 2, several transforms were added to the readme which need to be migrated to the swagger in azure-rest-api-specs.  This should be coordinated across all of the langauge swaggers.
- Apply any bugfixes (ie. batch return code)
- For client side renames, we should try to use `x-ms-client-name`

Once this is done, there should be no diffs in the generated code.

[2019-12-10 03:01] XiaoningLiu commented on #6480
@jeremymeng Is `x-ms-command-name` supported by all other Azure services?

[2019-12-10 03:05] qiaozha opened #6487 "the web socket of containerinstance excuteCommand response has 50 characters limitation"
- **Package Name**: arm-containerinstance
- **Package Version**: newest
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When using conta

[2019-12-10 03:06] XiaoningLiu commented on #6445
SDK interfaces are thin wrappers for RESTful APIs, while RESTful APIs are the truth, some long complex storage concepts and backgrounds are only avaiable in RESTful API documents.

[2019-12-10 03:17] XiaoningLiu commented on #6406
@jiacfan Can you help with this issue?

[2019-12-10 03:20] XiaoningLiu commented on #6411
@jiacfan @ljian3377 Please take a look~

[2019-12-10 03:26] XiaoningLiu commented on #6375
@ljian3377 @jiacfan Can you take a look?

[2019-12-10 03:29] XiaoningLiu commented on #6070
@jeremymeng Do we have any comments/records for this manually fix after every generation? Especially for new devs.

[2019-12-10 03:29] XiaoningLiu commented on #5872
@ramya-rao-a I don't have any concerns.

[2019-12-10 03:53] jiacfan commented on #6406
Hi, @psytechno604

Thanks for reaching us!

I noticed the option property `publicAccessLevel` is incorrect in your case. Is that by design?

Here is the definition of `ContainerCreateOptions`, where access instead of publicAccessLevel should be used:

[code]

And here is an [example ](https://github.com/Azure/azure-sdk-for-js/blob/e2ffafdff4c7b409ce18ce95baa0b38b8f229cc4/sdk/storage/storage-blob/t

[2019-12-10 04:13] jiacfan commented on #6406
<Update Status>

@ljian3377 tried to repro the issue with node.js 12.13.0, blob package 12.0.1, and provided code:
await blobService.createContainer(container, { **publicAccessLevel**: 'blob' })

And we didn't reproduce the issue in our side.

It could be related to running environment, so for the negative path issue, please try help to use fiddler to catch package, and possibly add some logging a

[2019-12-10 05:44] ramya-rao-a commented on #6445
@jeremymeng Perhaps we can come to a conclusion on the format to use here after discussing with rest of the crew offline?

[2019-12-10 05:45] ramya-rao-a commented on #5872
Great, we'll take this up for the current milestone.

[2019-12-10 08:42] jeremymeng commented on #6480
Most likely not. For example, we found an issue in keyvault where it is rejected by the service and are working with the service team to resolve it.

[2019-12-10 08:46] ljian3377 commented on #6375
@js-kyle
You can customize the retry, timeout settings by specifying them in the [`StoragePipelineOptions.StorageRetryOptions`](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/storage/storage-blob/src/StorageRetryPolicyFactory.ts#L15) when creating the client. The default settings are:
[code]
( You can also specify the individual timeout with `abortSignal` option. )

You can enable reque

[2019-12-10 09:09] jiacfan commented on #6411
Hi, @galkin

Thanks for reaching us!

The issue is possibly caused by SDK's usage of [node-fetch](https://www.npmjs.com/package/node-fetch).

In node-fetch's document, we see description:

And default setting is `true` for compress([link](https://www.npmjs.com/package/node-fetch#options)), which means  "// support gzip/deflate content encoding. false to disable"

And this might cause the downloade

[2019-12-10 13:40] ahmedspiir opened #6491 "Use Development in @azure/storage-blob"
I basically want to use `UseDevelopmentStorage=true` but with the new way of providing credentials using `StorageSharedKeyCredential` i only can share account name and key.

Example:
[code]

So where i'm supposed to use `UseDevelopmentStorage=true`?
The docs around the library are not clear enough and don't match all of the basic use cases!

[2019-12-10 16:23] #6444 closed

[2019-12-10 16:26] richardpark-msft commented on #6444
Closing this now that the PR is complete.

After talking with @bterlson we weren't able to come up with a good reason in the current JS API why user errors would terminate the processing loop.

There isn't a great way for us to know which user errors might be considered fatal, which might be recoverable, etc.. and the cost of spinning down the loop and starting it up should be made by the user the

[2019-12-10 17:07] richardpark-msft commented on #6467
@hally9k  - no slack group but, of course, we do respond to issues on our github repo. :)

Since I've got you here - can you give me an idea of which classes you're using in the current eventhubs library? Want to make sure we're covering common use cases.

[2019-12-10 17:33] daviwil commented on #6484
It looks like `core-http`'s `ThrottlingRetryPolicy` is also looking for `StatusCodes.TooManyRequests` so if that status only ever gets returned as a Promise rejection then we need to add `.catch()` logic there anyway to support it correctly.

[2019-12-10 18:08] jeremymeng commented on #6491
@ahmedspiir For `BlobServiceClient` you can use [the static function `fromConnectionString()`](https://github.com/Azure/azure-sdk-for-js/blob/3a810992fe520ce9ef96ec57e2e6d9da9126edcd/sdk/storage/storage-blob/src/BlobServiceClient.ts#L299).

For other clients there are constructor overload that takes a connection string, for example, `ContainerClient` has

[code]

https://github.com/azure/azure-sdk

[2019-12-10 18:12] jeremymeng commented on #6480
Actually it's app configuration, not keyvault. For the reference https://github.com/Azure/AppConfiguration/issues/217

[2019-12-10 18:18] jeremymeng commented on #6009
oh, but we already have that in our samples, for example, https://github.com/Azure/azure-sdk-for-js/blob/3a810992fe520ce9ef96ec57e2e6d9da9126edcd/sdk/storage/storage-blob/samples/javascript/iterators-containers.js

and in the README.md: https://github.com/Azure/azure-sdk-for-js/blob/3a810992fe520ce9ef96ec57e2e6d9da9126edcd/sdk/storage/storage-blob/README.md#L257-L263

@leonbrag please let us know

[2019-12-10 18:21] leonbrag commented on #6009
Unless I am missing something, it seems cited example all use await syntax. I was curious using await.

But maybe without await syntax will get to convoluted anyway.

[2019-12-10 18:27] kurtzeborn commented on #6446
The main reasons we want to do this collapse is for consistency (the other language live tests have already been collapsed) and efficiency (having them all in one pipeline will allow us to more easily pivot how often and how parallel the pipeline runs).  If there's a strong reasons for there to be multiple live test pipelines we can explore options there, but right now we're working on tooling to

[2019-12-10 18:29] jeremymeng commented on #6446
It would be nice to be able to trigger live tests per package.

[2019-12-10 18:36] xirzec commented on #6425
I regenerated the package against the stable version at the start of my track 2 work and didn't see any differences.

I see `SentimentBatchResult` defined in the package and used as the body mapper, but @Ethan-Arrowood is correct that `SentimentResponse` is not written correctly. I'm not sure why, maybe a bug in autorest? I keep looking at the swagger and it looks correct: https://github.com/Azure

[2019-12-10 19:11] xirzec commented on #6009
It is possible to do without `await`, but it is a little bit tricky to write.

To re-characterize Jeremy's example:

[code]

[2019-12-10 19:20] richardpark-msft commented on #6408
@et13 - a fix for this has been published.

https://www.npmjs.com/package/@azure/app-configuration/v/1.0.0-preview.9

[2019-12-10 19:21] jeremymeng commented on #6411
@galkin how did you upload the compress file? I am curious when seeing the following in retrieved properties of your blob.

and

When I tried to upload a comopressed `json.gz` using the Azure portal, my blob has `contentType: 'application/x-gzip'` and `contentEncoding: undefined`. I can then download the blob using the sample code without any errors.

[2019-12-10 19:32] hally9k commented on #6467
@richardpark-msft We are currently using 5.0.0.preview.6:
EventHubProducerClient,
EventHubConsumerClient,
ReceivedEventData,
PartitionContext,
PartitionCheckpointer,
Subscription,
EventPosition

I am gearing up to do the jump to preview.7 but there is a lot of movement in the API and I'm struggling to find a good understanding of this evolution path.

[2019-12-10 19:35] #6387 closed

[2019-12-10 20:38] jeremymeng commented on #6411
@galkin Just found out that you were using `deflate` while I am using gzip.  I changed to use the following code

[code]

and hit an error, but it is different from what you get though:

[code]

There might be difference between my code and yours. If possible, could you please share your code snippets for uploading and downloading?  Thanks!

[2019-12-10 20:56] bdelville commented on #2540
Thank you for the prompt release, we do not observe anymore this issue for the previous 12 days. (So that also mean we didn't have a chance to test catching the error if something similar happen)

[2019-12-10 22:21] chadbr opened #6494 "cosmos bulk executor for nodejs?"
**Is your feature request related to a problem? Please describe.**
All the other nosql db's I use have bulk insert / upsert capabilities. I was expecting the same from cosmos.

**Describe the solution you'd like**
Either a bulk executor for nodejs or an extension to the api to take multiple documents in one api call.

**Describe alternatives you've considered**
As described here -- https://docs.mi

[2019-12-10 22:46] #6396 closed

[2019-12-10 23:58] HanLiMS commented on #6425
@ramya-rao-a The last time v2.1 version got updated was Feb 2019.
https://github.com/Azure/azure-rest-api-specs/commit/5df40b9b08b77fe7b78f90f6b7c470600b8ea063#diff-ca45a0e48722614fce123ceea154351a

[2019-12-11 00:00] richardpark-msft commented on #6484
Adding @xiangyan99  - looks like Python might need to change something as well, so just keeping him apprised of what's going on here.

[2019-12-11 00:46] jlian commented on #5053
@nberdy for DPS

[2019-12-11 01:47] ramya-rao-a opened #6498 "[Event Hubs] Use options to configure position instead of the initialize callback"
With the latest version of the event hubs library (5.0.0-preview.7), below is the before and after for receiving events from a single partition

![image](https://user-images.githubusercontent.com/16890566/70583994-4c640100-1b74-11ea-88e7-c2b3a0b7679d.png)

A few problems with this design:
- The mechanism to provide a position is more complicated than before. A pass by value is now a callback where

[2019-12-11 01:51] lmolkova opened #6499 "[FEATURE REQ] EventHub distributed tracing: add links on Send"
**Is your feature request related to a problem? Please describe.**

EventHubs Track2 SDK creates
- span per each message (when message is added to batch or sent).
- span for sending message/batch.

We assume that users, knowing their code, in most cases can figure out relationships between messages/send operations (they are most likely siblings).

The problem happens when we try to use automated t

[2019-12-11 01:54] ramya-rao-a commented on #6425
Thanks @xirzec and @HanLiMS

@joheredi This will need us to debug the code generator to see if we are missing something

[2019-12-11 02:08] lmolkova opened #6500 "[FEATURE REQ] EventHub distributed tracing: stamp EventHubs info on processing and message spans"
**Is your feature request related to a problem? Please describe.**
When EventHub processor receives messages, the only telemetry it generates is the processing span.  This span is not attributed with any event-hub specific info (endpoint, entity).

I.e. there is no way of knowing which EventHub certain app communicates with and processes messages from. Users may know it, but tools/visualizations d

[2019-12-11 03:36] ramya-rao-a commented on #6499
cc @chradek, @richardpark-msft

[2019-12-11 03:36] ramya-rao-a commented on #6500
cc @chradek, @richardpark-msft

[2019-12-11 03:38] PatrickQuintal commented on #6494
I'd 100% like to see the ability to do "bulk" operations within the @azure/cosmos package.

Currently for windows/.NET, there is
1. a tool.
https://github.com/azure/azure-documentdb-datamigrationtool

2. a nuget "extension" for another nuget package (This is half way deprecated? I guess? Its pretty confusing)
https://github.com/Azure/azure-cosmosdb-bulkexecutor-dotnet-getting-started

3. A new cos

[2019-12-11 03:55] ramya-rao-a commented on #6487
Adding the `customer-reported` label as this was originally logged by the customer in https://github.com/Azure/azure-sdk-for-node/issues/5127

@kaerm Do we know anyone from the Container Instances that we can tag?

[2019-12-11 04:01] ramya-rao-a commented on #6480
cc @bterlson, @daviwil, @xirzec

[2019-12-11 04:24] ramya-rao-a commented on #6468
Thanks for reporting @sbutalia

Can you provide a few more details around what instances are you looking to query?
Please also share the libraries that you have tried using to get this information till now.

[2019-12-11 08:32] ahmedspiir commented on #6491
Thanks @jeremymeng, i tried `BlobServiceClient.fromConnectionString` and it worked.

[2019-12-11 08:32] #6491 closed

[2019-12-11 09:27] qiaozha commented on #6342
@rloutlaw

[2019-12-11 10:16] jiacfan commented on #6117
Thanks @craxal! This is a valuable suggestion, and we'll fix it!

Best Regards,
Jiachen

[2019-12-11 13:23] chadbr commented on #6494
They’ve indicated here it is planned for 1h 2020 — looking forward to it...

https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/39225904-bulk-executor-for-nodejs?tracking_code=0afe730f28441c809051590a54363da2

[2019-12-11 13:27] chadbr commented on #6494
Also this seems to be an example of doing it yourself ...

https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/samples/BulkUpdateWithSproc.ts

[2019-12-11 16:39] kaerm commented on #6487
I do not, but maybe @maggiepint does

[2019-12-11 16:55] richardpark-msft commented on #6467
@hally9k

The previews have been a bit fast moving as of late - a large part of our
API reviews have uncovered some inconsistencies or areas that needed
improvement.

We don't have a guide for moving from preview to preview, unfortunately, but
I can give you a brief summary of the changes (and why):

* We moved `consumerGroupName` and `CheckpointStore` to the constructor for EventHubConsumerClient

[2019-12-11 21:02] richardpark-msft opened #6505 "[event-hubs] Refactor/cleanup for EventHubs now that the API has settled."
- [ ] Remove .receive() and associated tests
  The "firehose" of receiving events (all events, no specific ordering) has been superceded by
  receiveBatch() and the higher level `subscribe` methods.

  We can remove any tests related to receive as well as the receive method itself which will help our
  inner-loop and CI test times.
- [ ] Collapse/consolidate the object hierarchies for both EventHu

[2019-12-11 21:32] ramya-rao-a commented on #6118
Should we release an update for Service Bus with this fix?

[2019-12-11 21:34] chradek commented on #6369
Closed by #6497

[2019-12-11 21:34] #6369 closed

[2019-12-11 21:35] #6467 closed

[2019-12-11 21:51] AndrewCraswell commented on #2541
Running into similar issues trying to use Event Hub from a React application. Is there any good alternatives if it was built assuming the NodeJS?

[2019-12-11 22:01] joheredi commented on #6425
@HanLiMs looking at the swagger file, I realized that `/sentiment` is the only operation that doesn't define a "default" response for the error case, instead, it[ defines it as "500" ](https://github.com/Azure/azure-rest-api-specs/blob/a8353533efc393b1b72519ae10beb3c6a42a9a79/specification/cognitiveservices/data-plane/TextAnalytics/stable/v2.1/TextAnalytics.json#L232). This seems to be causing aut

[2019-12-11 22:19] bterlson commented on #6498
+1. However maybe it's ok to not allow the `map` form for the `startPosition` option - if receiving from single partition (or you want to use the same start position regardless), pass `startPosition`, otherwise pass `processInitialize` and call `setStartingPosition` as needed?

I like having a consistent interface. I think documenting that `processInitialize` and `processClose` are optional and li

[2019-12-11 22:19] richardpark-msft commented on #5487
@sadasant  - btw, this issue covers what you're doing. So please feel free to take it. :)

[2019-12-11 22:31] #5872 closed

[2019-12-11 22:36] richardpark-msft commented on #6498
Just to throw my two-cents in:

* If we're going to support passing in start position in the `subscribe` call we should
  **only** do it that way otherwise it's confusing which one (if they did both) takes
  precedence.

  The Map might be overkill (we have no idea since the feature is new) in which
  case we could say we only support a single `position` value and just use that
  for all partition

[2019-12-11 22:51] sadasant opened #6508 "[App Config] Document the necessary roles for the Token authentication"
Besides adding my user as an owner, I also had to add it under the "App Configuration Data Owner" role. I couldn't find this documented anywhere!

Thanks to @richardpark-msft for all the help so far! I couldn't have figured this out without you!

[2019-12-11 22:54] chradek commented on #6118
#6507 updates service bus and event hubs to take in these changes.

[2019-12-11 23:00] et13 opened #6509 "Support for adding a value to the user agent string when using AppConfigurationClient"
When using AppConfigurationClient, I'd like to add an additional value to the user agent string sent with the app configuration requests. That would enable us from the app configuration side to distinguish my feature's usage when looking at logging/telemetry.

Note: When making AppConfigurationClient calls, I found that I can use customHeaders to replace the user agent (but that will lose the part

[2019-12-11 23:07] chradek commented on #6498
As @richardpark-msft mentioned we talked about the single interface offline and I agree with what he wrote.

I'd also prefer to only have a single way to set the starting event position. I actually like Richard's suggestion to just accept a single position, and we can add support for a map in the future if it's needed.

Side-note...fallbackPosition vs startPosition? I kind of like the former since

[2019-12-11 23:11] ramya-rao-a commented on #6498
I disagree. Optional & Not applicable are two very different signals.
I am absolutely on board to use the same interface, but I'd prefer if the library does not call the init and close callbacks when user is calling `subscribe` for a single partition and update docs appropriately.

[2019-12-11 23:12] lmolkova opened #6510 "EventHubs distributed tracing: span kind changes"
**Is your feature request related to a problem? Please describe.**
Tracing visualiztion tools need to know when they are dealing with async messaging scenarios.

**Describe the solution you'd like**

EventHub spans kinds were not correct in the previous guidance. They should be changed to
- Message: 'producer' kind for OpenTelemtery (was 'internal').  OpenCensus does not support 'producer' - 'inte

[2019-12-11 23:14] richardpark-msft commented on #6498
Agreed on this....

....but the issue is that there's nothing wrong with them using those callbacks at all. In fact, if they do use them then their code (if they decide to switch over to one of the other subscribe() overloads) will work unchanged. I see this as a benefit (I swear, I'm not just trying to avoid work).

The only thing that does kind of bug me (but maybe not enough) is that CloseReaso

[2019-12-11 23:15] southpolesteve commented on #6494
@chadbr @PatrickQuintal Thanks for opening the issue. This is on my radar, but I don't have a firm ETA yet. We are still evaluating the best way to do this in JS. Can botn of you expand on your use case for this feature?

@chadbr you mention collecting and executing data during a set time period (2s). Would this be useful outside of a migration scenario? It would be hard to surface errors to the c

[2019-12-11 23:49] chradek opened #6512 "[Event Hubs] Closing a receiver while the connection is being initialized fails to close connection"
In `@azure/event-hubs` version 2.x, it's possible to get into a state where the receiver and client should be closed but the receiver continues to receive messages.

### Sample
[code]

In the above sample, after calling `stop` and `close`, the message handler starts receiving messages.
I believe this is related to what we saw with abortSignals, where when close is called while a connection is bein

[2019-12-12 00:09] bterlson commented on #2677
@ramya-rao-a sorry for late reply. Given how simple the interface is, and that it's describing reality (how web socket constructors ARE shaped, not how they should be shaped), I think it's fine as-is. I am a little interested about why API Extractor isn't insisting the related type WebSocketInstance not be exported, but again same rationale applies there.

[2019-12-12 00:12] ramya-rao-a commented on #2677
Thanks @bterlson

[2019-12-12 00:12] #2677 closed

[2019-12-12 01:26] jiacfan commented on #6117
My colleague @ljian3377 will help to fix this issue, and we'll update this thread when PR get merged.

[2019-12-12 01:35] ramya-rao-a opened #6514 "Tests to ensure user agent string has the same package version as in package.json"
All our packages use user agent string to set the package name and version along with other information in each request that is made to the service.
Currently, the version is a constant defined in the code and needs to be manually updated every time to match the version in the package.json.

This issue is to track the need for a unit test to catch the times we miss to do such updates.
Such unit te

[2019-12-12 03:58] iscai-msft opened #6518 "Certificates consistency fixes"
- [ ] certificatePolicy parameter -> policy in beginCreateCertificate
- [ ] version parameter in updateCertificateProperties should be optional
- [x] It appears you have a Contact, Contacts, CertificateContact, and CertificateContacts class. There should only be a CertificateContact class and every operation that deals with contacts should take in (if required) and output a CertificateContact[]. T

[2019-12-12 04:26] PatrickQuintal commented on #6494
@southpolesteve

My current use case is,
I've got an on-prem mongoDb that is pretty "legacy" (In the sense of poorly designed). I'm looking to migrate this to CosmosDB SQL API. In between, I want to do some data transformation to utilize cosmosDb features.

1. I run a pretty non-windows development environment, so its a bit annoying to have to crack out the windows VM to develop.
2. Data Factory i

[2019-12-12 08:40] HanLiMS commented on #6425
That's interesting. No I don't think so. Let me follow up with my team member who made this change. By the way, if that is the case, we can update the swagger to define "default" as needed.

[2019-12-12 09:04] snuffykl opened #6524 "[Service Bus] AMQP unable to reconnect after disconnection"
- **Package Name**: @azure/service-bus
- **Package Version**: 1.1.0
- **Operating system**: node10:alpine (docker image)
- [x] **nodejs**
    - **version**: 10
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describ

[2019-12-12 09:53] XiaoningLiu commented on #6480
Personally I'd like to have a way to monitor traffic from JS SDK in browsers. The only problem is storage server doesn't support that.

cc @vinjiang

[2019-12-12 11:25] qiaozha commented on #6468
@sbutalia  Maybe `@azure/arm-resources` this package can help you? https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/resources/arm-resources
For example, `ResourceManagementClient.resources.list()` and `ResourceManagementClient.resources.getById()`

[2019-12-12 11:49] qiaozha commented on #6404
@chandrakantaS  Are you using typescript? If yes and the argument type check should be done by tsc. I am not sure how you got the error value.match is not a function. Can you show me your code and the error log?
Also, A valid parameters accepted by Client can be found here https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019

[2019-12-12 14:09] nin-o opened #6526 "Using 'uploadBrowserData' with 'ReadableStream'"
Thank you for the work on this project!

I have a large file (2GB+), that I am encrypting before uploading to Azure. The output of this encryption is a ReadableStream (or a sequence of Uint8Array's). How would I be able to upload this via the browser?
[code]

There's a private function called `uploadSeekableBlob` that takes a `blobFactory`, which would be something similar I am looking for, howeve

[2019-12-12 16:36] sadasant commented on #6518
Some notes:

We don't have "Contact" nor "Contacts". That's for sure coming from outdated code.

[2019-12-12 16:38] #6118 closed

[2019-12-12 16:56] nberdy commented on #5053
@NOA-Louis Can you directly call the REST APIs from JS?

[2019-12-12 17:58] ramya-rao-a commented on #6510
cc @chradek, @richardpark-msft, @xirzec

[2019-12-12 18:00] ramya-rao-a commented on #6509
Thanks for reporting @et13

@bterlson, I believe the guidelines around user agent string allows end users to prefix/suffix custom strings to the value being set as user agent string. Can you confirm?

[2019-12-12 18:00] ramya-rao-a commented on #6509
@richardpark-msft The pipeline options should already allow this as far as I know

[2019-12-12 18:13] chradek commented on #6524
@snuffykl
Thank you for logging this issue and providing logs.

Version [1.1.1](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/changelog.md#2019-11-27-111) should help you detect when the reconnect attempts have been exhausted since it will now call the user-provided error handler at this point. However, there are up to 150 reconnect attempts with a 15 second dela

[2019-12-12 18:16] joheredi commented on #6425
Thanks, @HanLiMS! If you update the swagger switching 500 -> default SentimentBatchResult would be picked up by autorest

For reference, we have an issue in autorest which describes how response errors are handled and some suggested improvements we can make to handle specific errors [here](https://github.com/Azure/autorest.typescript/issues/463) /cc @ramya-rao-a

[2019-12-12 18:17] chradek commented on #6378
Closed by #6506

[2019-12-12 18:17] #6378 closed

[2019-12-12 18:25] jeremymeng opened #6529 "[Storage-Queue][Samples] add a scenario of receiving more than one messages with `receiveMessages()`"
current samples code only receives a single message

- current sample:

https://github.com/Azure/azure-sdk-for-js/blob/144a5f9ca9089db04d0bd44023aec6272693cc7d/sdk/storage/storage-queue/samples-dev/queueClient.ts

- for reference, test code that receive multiple messages:

https://github.com/Azure/azure-sdk-for-js/blob/1a9075230020283db0a9ac91748578c2a187d960/sdk/storage/storage-queue/test/queuecl

[2019-12-12 19:13] richardpark-msft opened #6530 "[core-http] We should use the the `x-ms-useragent` field rather than the `x-ms-command-name` field"
A user discovered that when we're reporting user agent in browsers we use the `x-ms-command-name` field for sending the user agent. We have to use a custom field for browsers since we can't change the User-Agent header.

This field was not whitelisted by AppConfig which caused the CORS pre-flight check to fail.

Our issue is two-fold:

* We need to make sure we work with services to support our cu

[2019-12-12 19:19] richardpark-msft commented on #5810
Didn't mean to close this. The SDK side of this is merged into master but we need to a service side change as well to whitelist the proper header.

[2019-12-12 19:24] richardpark-msft commented on #5810
Talked with the service team. This should be supported in their next deployment in early January.

Once again, thank you for reporting this. I'll update this issue again when everything has made it out to production.

[2019-12-12 19:26] richardpark-msft commented on #6254
Fixed as part of #6501

[2019-12-12 19:26] #6254 closed

[2019-12-12 19:40] jeremymeng opened #6532 "[Storage-file-share] Add `exists()` convenience functions for Share/Directory/File"
Should be similar to what we did for Blob.

[2019-12-12 20:15] shibbas opened #6534 "[Storage-file-share] Add create file with content to seed for convenience"
Create file currently creates or replaces an existing file with no content. Allow create to seed content in the created file.

[2019-12-12 20:53] jeremymeng commented on #6411
I found a repro (`.zip` is not the right format here)

[2019-12-12 21:07] ramya-rao-a commented on #6530
cc @bterlson, @daviwil

[2019-12-12 21:12] galkin commented on #6411
@jeremymeng, I'm sorry for delay in my answer. Could you provide advice how I can fix the issue?

[2019-12-12 21:12] jeremymeng opened #6538 "[Core-http] support specifying service versions for ServiceClient"
There are scenarios where clients with different service versions are desired. One example is to support features from multiple service versions in a single SDK library.

Currently we can only specify a service version (different from default) via `x-ms-version` header in RequestOptionsBase.customHeader. This is per operation. It would be nice to have option to set it at the client level.

.NET/Ja

[2019-12-12 21:13] sadasant opened #6539 "[Record and Playback] Environment variable is not properly replaced"
App Configuration use the following environment variable:

    AZ_CONFIG_ENDPOINT="https://myappconfig.azconfig.io"

When using setReplaceableVariables, this environment variable doesn't get properly replaced, so the recordings end up like:

    https://myappconfig.azconfig.io

However, on playback, it tries to match to:

    https%3A%2F%2Fmyappconfig.azconfig.io

[2019-12-12 21:28] heaths commented on #6518
All types in Keys like KeyType should have `Certificate` as a prefix, so `CertificateKeyType`. Your MIME type in the review showed "application/pem", which is why that comment was brought up. If it is now "application/x-pem-file" that is correct.

[2019-12-12 21:28] heaths commented on #6518
...and, yes, that code to handle 403 looks correct.

[2019-12-12 21:32] richardpark-msft commented on #5440
Some related issues to tracing:
* https://github.com/Azure/azure-sdk-for-js/issues/6499
* https://github.com/Azure/azure-sdk-for-js/issues/6500
* https://github.com/Azure/azure-sdk-for-js/issues/6510

[2019-12-12 21:48] sadasant commented on #6539
Changing filterSecrets from:

[code]

to:

[code]

Does work, but it needs to be tested.

[2019-12-12 22:04] jeremymeng commented on #6411
@galkin When `contentEncoding: 'deflate'` is specified on the blob, do you expect that the downloaded response contains the **uncompressed** data stream?

I think so and we think that the node-fetch client is doing the right thing to respect the HTTP specification, so this would be an issue in the storage-blob code that it cannot handle this case. @XiaoningLiu @jiacfan @ljian3377

/cc @bterlson

P

[2019-12-12 22:19] jeremymeng commented on #6009
would it be possible to cause stack overflow when there are many blobs to list?

[2019-12-12 22:21] galkin commented on #6411
In my particual case, we upload compressed files and use them at blob&CDN pair. Usually, I don't need to change files, but for new feature, I do this by uploading file with your package.

I think possible workarounds is making developer be able to configure this length check.

[2019-12-12 22:42] jeremymeng commented on #6411
I suppose that you hit this error when calling `blobClient.download()` or similar? This issue is in our downloading code path.  I believe the uploaded data should still be good.

[2019-12-12 22:48] ramya-rao-a commented on #6538
Is this in any way related to #5508?
cc @daviwil

[2019-12-12 22:53] bterlson commented on #6411
I believe our usage of node-fetch is correct given that in the browser, we don't have the `compress` flag and `fetch` will always decode before handing the data back to the user.

[2019-12-12 23:16] HanLiMS commented on #6425
Hi @joheredi @ramya-rao-a  , I just sent out a PR for a quick fix of this: https://github.com/Azure/azure-rest-api-specs/pull/7970. Could you take a review and let me know if there is more needed? Thanks!

[2019-12-12 23:23] bterlson commented on #6411
I suspect just fixing the error isn't enough - there may be a couple issues here. Looking into RetriableReadableStream.ts, there is an assumption that we are working with compressed data. In particular, RetriableReadableStream's `count` is provided by contentLength (so, compressed length), and `end` is calculated based on this. Meanwhile, `offset` is updated using decompressed length. Thus, I beli

[2019-12-12 23:24] chradek commented on #6380
Version 2.1.1 of `@azure/event-processor-host` has been released. It specifies a minimum version of `@azure/event-hubs` of 2.1.4.

https://www.npmjs.com/package/@azure/event-processor-host/v/2.1.1

[2019-12-12 23:24] #6380 closed

[2019-12-12 23:27] sadasant commented on #6518
Confirmed with @heaths that 403 is not relevant for the access control errors. The default behavior (throw because of a request error) is still valid. No changes needed, as far as I can tell.

[2019-12-12 23:35] sadasant opened #6543 "[KeyVault] update*Properties should receive the optional version in the options bag."
This is relevant for keys, secrets and certificates.
See this conversation for context: https://github.com/Azure/azure-sdk-for-js/pull/6527#discussion_r357365579

[2019-12-12 23:39] sbutalia commented on #6468
@ramya-rao-a @qiaozha I have tried this:
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/compute/arm-compute/src/operations/virtualMachines.ts#L149

I am looking for the instance status in the response:
`data.statuses`

Example:
data.statuses[0].code == 'ProvisioningState/updating'
data.statuses[1].code == 'PowerState/starting'

It would be great to get a list of instances filtered by `T

[2019-12-12 23:56] xirzec commented on #6009
I don't think .then() causes stack nesting like traditional recursive calls, since it's a clean stack with some system goop above.

[2019-12-13 00:25] jeremymeng commented on #6009
Cool. I will add one sample with @xirzec's method.  Thanks! Hope it is useful to users who cannot use `await`.

[2019-12-13 01:09] chradek commented on #6118
This fix is present in:
- `@azure/event-hubs` version 2.1.4
- `@azure/event-processor-host` version 2.1.1
- `@azure/service-bus` version 1.1.2

It will also go out in the next version of `@azure/event-hubs` 5.x.

[2019-12-13 01:13] chradek commented on #4132
We've released `@azure/event-hubs` 2.1.4, and `@azure/event-processor-host` 2.1.1 (which sets a minimum version for event-hubs to be the one above). This update allows the SDK to detect when the connection has gone idle (no data or heartbeat received from service) after 60 seconds so it can attempt to reconnect.

I'm going to close this issue due to the improvements made from versions 2.1.1-2.1.4

[2019-12-13 01:13] #4132 closed

[2019-12-13 01:28] richardpark-msft commented on #6505
@chradek  - per @ramya-rao-a 's request I'm making this more of a generic "refactors we should do now that we know what the actual surface API looks like". If you have more please add them.

[2019-12-13 02:25] XiaoningLiu commented on #6526
Hi @nin-o `uploadBrowserData` supports `Blob`, `File` or `Uint8Array` in browsers. If you are referring to `ReadableStream` https://developer.mozilla.org/en-US/docs/Web/API/ReadableStream, it doesn't support it yet. I think SDK should support this, will leave this as a feature request here.

[2019-12-13 02:29] et13 opened #6548 "AppConfigurationClient doesn't send a client request id with its requests"
For logging/analysis on the app configuration side, requests should include a client request id (`x-ms-client-request-id`).

I see that a consumer can provide a client request id via customHeaders when calling `AppConfigurationClient` methods. But if not provided, a client request id should be generated. Also, I checked the .NET SDK, and it does send a client request id by default.

[2019-12-13 03:05] wiazur commented on #4414
Hi @ramya-rao-a, I have tried the 2.0 version but getting a "Resource not found" error. The endpoint seems to be correct through most of the msrest library, but somehow fails in there somewhere.

It's the autoSuggest() API call, the result comes back as null. So far this issue has been found with the Java and the Python SDK too.

`var result = await client.autoSuggest("xb", null);`

[code]

[2019-12-13 03:28] snuffykl commented on #6524
Thank you @chradek. Let me know if you need more information to drill deeper.

I somehow able to simulate in my Dev environment(client - listener) by killing TCP that connects to ASB AMQP (port: 5671). Not exactly the same behavior but almost. Somehow I tend to suspect networking issue between our K8 node and Service Bus. I do not understand the ProtocolError `Invalid protocol header for AMQP`. Is

[2019-12-13 04:40] XiaoningLiu commented on #6411
Thanks @bterlson ! `RetriableReadableStream` is only avaiable in Node.js.

There are some considerations from Azure Storage side for this particular case, that's why I think for storage SDK node-fetch should not decompress the data. Thus `count`, `offset` and `end` alignes for comparision.

* From data integrity. Storage SDK should honor the incoming data and outgoing data and make them consistenc

[2019-12-13 06:20] snuffykl commented on #6524
Some additional logs from our test environment for the listener that hung even `netstat -an` show the connection is `ESTABLISHED` to AMQP (5671).

![image](https://user-images.githubusercontent.com/324180/70773536-b23dcc00-1db2-11ea-90b7-f8ac683d29a5.png)

Last message processing was on `Dec 12 13:06:15` after that suddenly it got disconnected/reconnect and hang with disconnection.

[code]

[2019-12-13 07:20] galkin commented on #6411
@jeremymeng,

Yes, you are right.

[2019-12-13 07:26] galkin commented on #6411
JFYI:
For fix this issue at my project I added `postinstall: node fix-modules.js`

<details><summary>fix-modules.js</summary>

[code]

</details>

I think this commented check should be configurable.

[2019-12-13 15:07] #6518 closed

[2019-12-13 17:00] macolso commented on #6487
Hey @mostafaez - could you take a look at this?

[2019-12-13 17:01] richardpark-msft opened #6552 "[event-hubs] Review samples from other languages, find gaps"
Core samples (apparently):

* Sending using a batch (bare-minimum)
  - [x] Java
  - [x] JavaScript
  - [x] .NET
  - [x] Python
* Streaming send (ie, add messages to batch, handle overflow, loop through and send)
  - [x] Java
  - [x] JavaScript
  - [x] .NET
  - [x] Python
* Limited batch size
  - [x] Java
  - [x] JavaScript
  - [x] .NET
  - [x] Python
* Produce to a single partition
  - [x] Java

[2019-12-13 18:23] chradek opened #6554 "[event-hubs] Remove support for load-balancing when reading from single partition"
When the user passes in a checkpoint store to an EventHubConsumerClient, we should __only__ use it for checkpointing and not load balancing when the user calls `subscribe` with a single partition id.

[2019-12-13 18:29] sadasant opened #6555 "[Recorder] Follow script guidelines"
We need to make sure to follow the guidelines on the required package scripts: https://github.com/Azure/azure-sdk-for-js/blob/master/CONTRIBUTING.md#other-npm-scripts

More information here: https://github.com/Azure/azure-sdk-for-js/pull/6430#issuecomment-564310553

[2019-12-13 18:50] chradek opened #6556 "[event-hubs] Investigate impact of receiving large messages on credits"
The Python SDK found that their implementation of amqp was incorrectly calculating the number of credits used when receiving messages > 512 KB. This issue is to verify that the JavaScript SDK does this calculation correctly.

Python saw this after receiving many large messages (possible over 100), so it is not enough to verify sending/receiving a single large message.

[2019-12-13 18:57] southpolesteve commented on #6494
@PatrickQuintal Got it. I can certainly appreciate not wanting to run a VM for Cosmos. I do most of my dev on non-Windows too.

Can you clarify the exact problem this would solve? Are you not able to move data fast enough from Mongo to Cosmos? Roughly what speeds are you seeing now and what is the total data size?

[2019-12-13 19:01] #6509 closed

[2019-12-13 20:22] chadbr commented on #6494
@southpolesteve

I guess my scenarios are a little different. I'm not concerned so much with migrations (although it's certainly a valid use case).

We have a UI where a user will be pasting 1000's of 'rows' into a grid and we're pushing these rows to the server as array chunks to reduce network traffic.
On the server (nodejs) we validate and then forward the arrays to the database for 'bulk upser

[2019-12-13 20:25] ramya-rao-a commented on #6543
Moving the version to the options bag for keys & secrets will be a breaking change.

cc @bterlson

[2019-12-13 20:38] ramya-rao-a commented on #4414
Thanks @wiazur, Can you please log a new issue and link the corresponding Java and Python SDK issues if any?

[2019-12-13 20:42] jeremymeng commented on #3993
Current warnings (test only)

![image](https://user-images.githubusercontent.com/7583839/70830802-e9f24700-1da5-11ea-99d3-3c1323f19799.png)

[2019-12-13 21:57] wiazur opened #6560 "Endpoint is not reaching autoSuggest() properly, making null results"
- **Package Name**:
Cognitive Services for AutoSuggest

- **Package Version**:
@azure/cognitiveservices-autosuggest@2.0.0

- **Operating system**:
Windows 10 - Node

**Describe the bug**
Endpoint is either changed or fails somehow in the msrest library.

It's the autoSuggest() API call, the result comes back as null. So far this issue has been found with the Java and the Python SDK too.

`var resu

[2019-12-13 22:30] ramya-rao-a commented on #6555
The guidance in https://github.com/Azure/azure-sdk-for-js/pull/6430#issuecomment-564310553 that all projects MUST have the npm scripts listed in https://github.com/Azure/azure-sdk-for-js/blob/master/CONTRIBUTING.md#other-npm-scripts is to ensure that all the projects are built and tested in various pipelines correctly.

The `recorder` package is an internal utility and as far as I know does not ha

[2019-12-13 22:34] bterlson commented on #6411
@XiaoningLiu just to be clear, you are fine with `compress` being `false` in node and `true` in browsers? In particular:

* For data integrity. Storage SDK should honor the incoming data and outgoing data and make them consistency. In this case, customer uploaded compress data as a blob.
  - this is not true in browsers, the browser networking stack will decompress automatically.
* For performance

[2019-12-13 22:35] sadasant commented on #6543
One non-breaking solution is to add overloads.

[2019-12-13 22:58] kaerm opened #6562 "Onboard January releases on docs.microsoft.com"
- [ ] On-board/ensure existence of the following packages:
**Latest:**
`@azure/event-hubs` 5.0.0
`@azure/eventhubs-checkpointstore-blob` 1.0.0
`@azure/app-configuration` 1.0.0
`@azure/keyvault-certificates` 4.0.0
**Preview:**
`@azure/storage-file-datalake` 12.0.0-preview.7
`@azure/ai-text-analytics` 1.0.0-preview1
**Legacy:**
`@azure/event-hubs` 2.1.4

- [ ] Remove from preview
`@azure/event-hubs`

[2019-12-13 23:30] sadasant commented on #6555
I'll close this then! Thank you.

[2019-12-13 23:30] #6555 closed

[2019-12-13 23:31] sadasant commented on #6543
Discussed with Brian and he agreed on adding overloads.

[2019-12-13 23:49] chradek opened #6564 "[event-hubs] Retry policy for disconnect/reconnect"
## Background
The `@azure/event-hubs` library has a feature where if a connection is disconnected due to a transient/retryable error, the connection and any links it had will be reconnected/recreated.

This was especially useful in the streaming receiver for event-hubs version 2.x since you the idea was you could effectively run it forever. However, there are a couple issues:
1. The SDK would retr

[2019-12-14 00:11] sadasant commented on #6543
Update certificate actually requires the version to be passed, so I will make it required again: https://docs.microsoft.com/en-us/rest/api/keyvault/updatecertificate/updatecertificate

[2019-12-14 00:13] sadasant commented on #6543
Also, this issue number is 6543! Neat.

[2019-12-14 00:24] sadasant opened #6567 "[KeyVault-Certificates] Last API changes for alignment with other languages"
- [x] (sadasant) UpdateCertificatePolicyOptions should not extend CertificateProperties, just coreHttp.OperationOptions.
- [x] (sadasant) beginRecoverDeletedCertificate should return a certificate with policy.
- [x] ~(sadasant) backupCertificate returns Promise<Uint8Array | undefined>, should return Promise<Uint8Array>~
- [x] (sadasant) Remove all the maxresults of all the list().byPage option bag

[2019-12-14 00:43] richardpark-msft commented on #6548
@et13  - thank you for reporting this. I've got a PR open now and I'll update this issue when we get a package out.

[2019-12-14 02:27] qiaozha commented on #6468
@sbutalia  if you're using Virtual Machine Scale Sets https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/overview. I think you can refer to https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json#L3474 this function.

Anyway, Add the relative labels.

[2019-12-14 03:30] NOA-Louis commented on #5053
@nberdy when I tried doing so, based on [Runtime Registration - Register Device](https://docs.microsoft.com/en-us/rest/api/iot-dps/runtimeregistration/registerdevice) docs I was not able to perform it via certificate x509. I tried with a "x509" type and "cert", "key" params with respectively the public and private keys of the certificate, but I always got an unauthorized access.

Could you please

[2019-12-14 14:07] Burnett2k commented on #2540
I have also not had an issue since upgrading to 1.1.1 about a week ago.  The long-running receiver did lose it's connection at one point, but it looks like it gracefully reconnected and none of the SB messages were stuck on the queue for a significant amount of time. 👍   It would be cool, if you could add an example to the examples section which shows how you'd implement retry logic if your receiv

[2019-12-15 20:35] southpolesteve commented on #6494
@chadbr Thanks for the info. It is super helpful to have the use cases laid out when I bring this back to the team.

I need to sync with the rest of the SDK folk on how we'll tackle this. .NET recently added a [new bulk API](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/923/files) that doesn't use sprocs, but I'm not sure yet how easily we can port it to JS.

It is not ideal, but In the mea

[2019-12-15 20:51] OP-Klaus commented on #6375
Just a followup on this problem (I work with @js-kyle): We think that this error is related to TCP connections not being reused despite `keepAlive` being enabled, which was resulting in many connections being created and hanging around waiting for other connections, and that was sometimes causing the total number of TCP connections to exceed the global limit.

We had a similar problem with `storag

[2019-12-15 23:22] jonathandturner commented on #6567
Took at look at a few of these and wanted to list what I found (sorry if there were any overlaps with WIP, just getting back after vacation):

* "CertificateOperation needs name and vaultUrl." -- guessing this is the certificateName and vaultUrl. Might be worth brainstorming how to do this, as we don't currently carry those with us for LTO (at least I don't *think* we do)
* "LifetimeAction's Actio

[2019-12-16 02:13] XiaoningLiu commented on #6534
Hi @shibbas We have `ShareFileClient.uploadFile()` and `ShareFileClient.uploadStream()` to create and append content to a file. Are they you are looking for?

[2019-12-16 02:23] jiacfan commented on #6375
@OP-Klaus thanks for sharing your insights to this problem. The network issue might become complex when it fall into PaaS case, as it's transparent to user how underlay distributes and manages the network resources. Your work around sounds feasible, and feel free to let us know if you need further assist from us.

[2019-12-16 02:25] XiaoningLiu commented on #6375
@ramya-rao-a @jeremymeng  Can you help check the keepalibve implementation in core-http? Check there is no connection leaking when keep alive is enabled.

[2019-12-16 02:25] jiacfan commented on #6406
@psytechno604 we will close this issue per no feedback. Please check above replies when you have time, and see if they helps, and feel free to let us know if you need further assist.

[2019-12-16 02:25] #6406 closed

[2019-12-16 04:13] XiaoningLiu commented on #6411
@bterlson This sounds an irreconcilable conflict between the browser decompress behavior (controled by browsers) with what we did for storage SDK practices (no decompress).

If have to chooose. Data interity and retry is more important especially for Node.js applications as backend service. In my previous large scale testing, downloading blob up to hundreds of GB or even TB takes hours even days,

[2019-12-16 09:03] JerryPei1997 commented on #6560
Hi @wiazur ,
Following your "To Reproduce", I created a Cognitive Service and got the expected output.

![image](https://user-images.githubusercontent.com/49467823/70892631-832e9100-2024-11ea-9fac-20c8f9c951d3.png)

Then, I tried using different kinds of services (eg QnAMaker, TextAnalitics ...) a few times, and when I used "**key**" and "**endpoint**" of "**QnAMaker**", I saw the error you descri

[2019-12-16 09:22] JerryPei1997 commented on #6560
Can you check and let me know the kind of service you used?

[2019-12-16 10:14] middiu opened #6576 "@azure/cosmos not working with CORS"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.5.2
- **Operating system**: Mac
- [ ] **nodejs**
    - **version**: v10.17
- [ ] **browser**
    - **name/version**: any
- [ ] **typescript**
    - **version**: 3.7.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
No m

[2019-12-16 14:47] jsquire commented on #6552
The filenames for .NET are outlined in our guidelines.   We're required to use the "SampleXX_Scenario" scheme.

[2019-12-16 14:49] jsquire commented on #6552
A set of the .NET examples aren't included here, specifically those around reading events from a single partition, reading events across partitions, and using an Azure Identity credential.

The processor set of scenarios isn't touched on either; ours are fairly extensive.

[2019-12-16 14:50] jsquire commented on #6552
Added in those for .NET that weren't originally checked but exist.

[2019-12-16 14:53] #6543 closed

[2019-12-16 17:07] richardpark-msft commented on #6552
You're right, I'm not sure why I didn't see those. No excuse except that after awhile of reviewing samples your mind tends to wander....
(stares off into distance)

Do you mind editing the issue and adding in ones you think are critical and shared?

[2019-12-16 17:26] jsquire commented on #6552
No worries.  Always easier to critique than do the initial legwork.  😄

Done; though I took the lazy route of adding them without looking across the other languages.

[2019-12-16 18:08] southpolesteve commented on #6576
@middiu Can you try it with endpoint discovery turned off?

[code]

There is a known bug around CORS and the endpoint discovery call which we are actively working to fix.

[2019-12-16 18:15] nberdy commented on #5053
@NOA-Louis The body should just need the registration ID in it ([appropriate REST doc](https://docs.microsoft.com/en-us/rest/api/iot-dps/runtimeregistration/registerdevice)). You should be able to spelunk in the Node device client SDK for how to structure the call.

[2019-12-16 19:01] willmtemple commented on #5679
@kaerm @scbedd Any update on this? Not seeing the existing ones in docs.microsoft.com/samples if I browse to TypeScript/JavaScript and Azure Storage. Is it a matter of merging a change to those files and kicking off a web hook for the docs pipeline to start the ingestion process? #6496 should be merged soon, and I think it's all formatted and annotated correctly, but without being able to see the

[2019-12-16 19:07] OJezu opened #6577 "Copying empty (zero-length) block blob with `syncCopyFromUrl` fails with `CannotVerifyCopySource` error"
- **Package Name**:  @azure/storage-blob
- **Package Version**: 12.0.1
- **Operating system**: linux
- [X] **nodejs**
    - **version**: 12.13.1
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 3.6.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug

[2019-12-16 19:10] scbedd commented on #5679
@weshaggard was taking care of adding the webhook (I do not have admin perms on the repo). It was lower on his priority list, so it's a possibility it's not already done. Wes?

[2019-12-16 19:13] middiu commented on #6576
too easy. Thanks @southpolesteve, this fixes the issue.

Thanks a lot

[2019-12-16 19:14] sbutalia commented on #6468
@qiaozha Scale sets doesn't work for us. We need to be able to get bulk instance state of VM's by Tag or Type. Thanks.

[2019-12-16 19:15] southpolesteve commented on #6576
@middiu Glad it worked. I am going to reopen this in case other people run into it and will close it later

[2019-12-16 19:45] sadasant commented on #6567
My answers so far:
- `we don't currently carry those with us for LTO (at least I don't think we do)` if we can confirm this together, we should bring that up to the team.
- `we can't assume we're getting one of the fields back from the service` I agree! Let's chat with Scott or let's post it in KeyVault.
- `| undefined` this was more of a question. I wrote it imperatively by mistake. I agree with

[2019-12-16 20:12] ramya-rao-a commented on #6562
The below 2 packages are available now to be updated

`@azure/core-tracing` 1.0.0-preview.7
`@azure/service-bus` 1.1.2

[2019-12-16 20:14] ramya-rao-a commented on #6332
@scbedd Can we have the below 2 packages updated too?

`@azure/core-tracing` 1.0.0-preview.7 : needs onboarding
`@azure/service-bus` 1.1.2 : needs updating

[2019-12-16 20:23] ramya-rao-a commented on #6564
The one disadvantage I see in the new model is that the `receiveBatch` call bears the tax of reconnecting vs the library recovering a broken link while the user is processing events.

Are we planning to take the same approach for send?

[2019-12-16 20:35] chradek commented on #6564
I'm not sure making receiveBatch bear this tax is actually making things much worse now that we use EventProcessor under the hood.

If our retries are exhausted, then we'll call the user's `processError` and `close` error handler, and close the receiver link. Then in the EventProcessor loop we would create a new receiver link...so in this scenario we're creating a new link anyway.

[2019-12-16 20:37] ramya-rao-a commented on #6560
Thanks for reporting @wiazur

I just ran your code snippet above and I was able to get the right responses. Can you share what value you passed to the endpoint?

Also, endpoint is optional. The library should work with just your subscription key as well.

[2019-12-16 20:42] scbedd commented on #6332
@azure/core-tracing -> preview
@azure/service-bus 1.1.2 -> latest

I'll add these.

[2019-12-16 21:02] andrewmweaver89 opened #6578 "@azure/arm-servicebus - InvalidApiVersionParameter (2017-04-01)"
- **Package Name**:
@azure/arm-servicebus
- **Package Version**:
3.2.0
- **Operating system**:
- [x] **nodejs**
    - **version**: v12.13.0
- [ ] **browser**
    - **name/version**:
- [x ] **typescript**
    - **version**: 3.6.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A

[2019-12-16 21:08] chradek commented on #6564
I think we should take the same approach for send. Send is a little different than receiveBatch since it will actually throw an OperationTimeout error (or something similar) if it can't send the message within a certain amount of time, whereas receiveBatch will return an empty list if it can't get any events within the maxWaitTime.

I think it'd still be helpful if the error gave more info on the

[2019-12-16 21:11] jeremymeng commented on #6375
@js-kyle @OP-Klaus do you have more information (code pattern/api used/etc.) that can help us reproduce the issue?  We made a fix in https://github.com/Azure/azure-sdk-for-js/pull/5552 to reuse agents when keepAlive or proxy is used. There could be some situation where our caching didn't work as expected. /cc @daviwil

[2019-12-16 21:27] andrewmweaver89 commented on #6578
#6579

[2019-12-16 21:47] andrewmweaver89 commented on #6578
I had opened  and subsequently closed #6579, which simply updated the apiVersion globally. this looks like it fixes the .namespaces methods, but breaks the operation resource type.

ie/ ```   The resource type 'operations' could not be found in the namespace 'Microsoft.ServiceBus' for api version '2019-11-01'. The supported api-versions are '2014-09-01,2015-08-01,2017-04-01'.```

Therefore, I am n

[2019-12-16 21:51] ramya-rao-a commented on #6578
Thanks for reporting @andrewmweaver89

The `@azure/arm-servicebus` is an auto-generated library based on the swagger specification for the service at https://github.com/Azure/azure-rest-api-specs/tree/master/specification/servicebus/resource-manager

Therefore, fixing the code by hand is not going to be the right approach here.

@axisc Any idea why the api version `2017-04-01` is being treated as

[2019-12-16 22:05] andrewmweaver89 commented on #6578
@ramya-rao-a , @axisc  -- sorry. looks like I was just forming the request wrong. ```client.namespaces.createOrUpdate('https://testing.servicebus', '1', { location: 'East US' });```
failed as reported. But when I use a valid resource ```client.namespaces.createOrUpdate('https://testing.servicebus', '1', { location: useast' });``` it now works.

[2019-12-16 22:11] ramya-rao-a commented on #3121
Notes from Azure Core triage meeting:

- Missing parsing username, password from env variables
- Missing NO_PROXY env var support
- Digest

Follow up: Check proxy support implemented for Event Hubs

[2019-12-16 22:16] chradek commented on #3601
This was completed in https://github.com/Azure/azure-sdk-for-js/pull/5663

[2019-12-16 22:16] #3601 closed

[2019-12-16 22:19] #6578 closed

[2019-12-16 22:20] ramya-rao-a commented on #4195
https://github.com/Azure/azure-sdk-for-js/issues/4108 tracks the need to make `ms-rest-nodeauth` creds work with core-http

[2019-12-16 22:20] #4195 closed

[2019-12-16 22:23] ramya-rao-a commented on #4544
@daviwil to confirm if the above still applies now that we have moved away from axios

[2019-12-16 22:26] daviwil commented on #4544
This code still exists in the new fetch-based design, it was moved to `proxyAgent.ts`:

https://github.com/azure/azure-sdk-for-js/blob/master/sdk/core/core-http/lib/proxyAgent.ts#L20

[2019-12-16 22:26] ramya-rao-a commented on #4918
@bterlson, any thoughts here?

[2019-12-16 22:36] bterlson commented on #5143
I have tested various electron app configurations running the sdk in both render and main process. However, I was using a bundler, which ensured the code I ran in the main process was bundled for node, and code running in the render process was bundled for web. Thus, the render process code would never try to use node-fetch.

@gamaya-developer if you're still around, it might be helpful to say mor

[2019-12-16 22:37] ramya-rao-a commented on #5438
@HarshaNalluru Can you provide more details on what the expectation here is?

[2019-12-16 22:50] ramya-rao-a commented on #5687
@bterlson is this still applicable now that we are using a nested operation options base?

[2019-12-16 22:56] bterlson commented on #5804
We should solve this problem of libraries subclassing ServiceClient and needing custom pipelines before exposing this machinery to users.

[2019-12-16 23:01] gamaya-developer commented on #5143
Hi @bterlson! I think the main reason of issue is approach to use node.js in angular services. You can check boilerplate https://github.com/maximegris/angular-electron, the file where is the conditional imports is https://github.com/maximegris/angular-electron/blob/master/src/app/core/services/electron/electron.service.ts.

In my case I have to import azure package inside condional import  to use

[2019-12-16 23:14] #6310 closed

[2019-12-16 23:14] HarshaNalluru commented on #6539
Sounds good!

[2019-12-16 23:21] richardpark-msft commented on #6508
So far this is the only spot that appears to document the roles:
https://github.com/Azure/AppConfiguration/blob/master/docs/REST/authorization/aad.md

[2019-12-16 23:31] chradek commented on #5087
This is no longer needed. `core-tracing` has a test tracer that can be used for testing:
https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/core/core-tracing/lib/tracers/test

[2019-12-16 23:31] #5087 closed

[2019-12-16 23:44] HarshaNalluru commented on #6362
#6496 is merged!

[2019-12-16 23:44] #6362 closed

[2019-12-17 01:02] ramya-rao-a commented on #6055
I would suggest to follow the approach taken by the .Net SDK as that is what closely matches the expectations out the of the service response.

[2019-12-17 01:13] ramya0820 commented on #6055
Yes, this is the current state as both .NET and JS SDKs look for message details in the 'Detail` field

[2019-12-17 01:28] ramya0820 commented on #6055
Discussed offline - concerns seem to be about
- JS SDK doing things in addition to what .NET SDK does and undoing those to maintain parity.
- And to have more discussions (cc: @bterlson) if error hierarchy mimicking .NET's exception class hierarchy/categorization makes sense to do so for the atom management API feature.

[2019-12-17 01:54] jeremymeng commented on #5508
There's need to pass apiVersion to the client constructor for Storage so user can create clients targeting specific service versions. It is supported by .NET/Java but not in JS today.

[2019-12-17 02:50] XiaoningLiu commented on #6577
@OJezu Request is failed because copy resource is not found with 404 error. Please check your copy source Url and make sure it exists.

[2019-12-17 08:23] hally9k opened #6596 "[Event Hubs] ConsumerClient throwing empty object literal and Closing with reason "Shutdown""
- **Package Name**: Event Hubs
- **Package Version**: 5.0.0.preview.6 & 5.0.0.preview.7
- **Operating system**:
docker image node-alpine and osx locally

- [x] **nodejs**
    - **version**:
- [x] **typescript**
    - **version**: 3.7

**Describe the bug**
The consumer runs for a while and then throws an error which is caught by the onError handler and appears to be an empty object literal. The onC

[2019-12-17 10:16] snuffykl commented on #6524
Hey @chradek just an update I got from Microsoft support regarding my service bus namespace during that period of time. There is an upgrade going on and it causes the front node to be restarted. Hence the client connection was aborted between client and server side.

In this case, I was wondering, if that is the case can we somehow get some callback error specifying the abortion and maybe we can r

[2019-12-17 10:45] OJezu commented on #6577
@XiaoningLiu
Nope, the source file exists.
Working minimal reproduction:
https://gist.github.com/OJezu/6248584c52f9a2095576d24b3f4bed94

When content is empty, copy times out. Source file can always be downloaded with the printed link, no matter the source file length.

[2019-12-17 12:38] PatrickQuintal commented on #6494
@southpolesteve
I suppose I don't really have a problem now since I'm just planning to do some sproc stuff.

At the time it would of been nice if I could of just
`
while (stuff) {
   await container.bulkInsert(array, options);
}`
and the package just handles making the sproc and using it. Instead of fudging around with a bunch of different things.

Perhaps even just a "this is how you move data in

[2019-12-17 14:17] chadbr commented on #6494
I think @PatrickQuintal is saying essentially the same think I am... Bulk insert/upsert API.

[2019-12-17 17:41] chradek commented on #6596
@hally9k
Thanks for trying the preview version of the event hubs SDK and reporting this issue!

Do the logs indicate what caused the underlying receiver to be disconnected/deleted? Does it look like a network issue?

[2019-12-17 17:56] hally9k commented on #6596
@chradek Which logs are you referring to? If you could guide me I'd happily go and reproduce and post them up here.

[2019-12-17 17:56] hally9k commented on #6596
In the mean time I'll attempt to reproduce with the stable SDK and see what happens.

[2019-12-17 18:04] chradek commented on #6596
@hally9k
The logs you posted after setting `DEBUG` were what I meant. Were there any logs from before the error was returned? Also, when you say you set the batch size higher, how high are you setting it? It sounds like this issue happens consistently when you set the value high so we can try to reproduce it on our side as well.

[2019-12-17 18:12] hally9k commented on #6596
The speed to "Shutdown" seems to have a relationship with the batch size but the service still goes into "Shutdown" with a batch size of 1, in my case after about a minute. It happens a bit faster with a batch size of 100 and a little bit faster again at a batch size of 1000.

[2019-12-17 18:13] hally9k commented on #6596
Other things that are possibly relevant are that the payload sizes are quite big and I'm sending batches of 1-20 events at a time.

[2019-12-17 18:21] chradek commented on #6596
Can you share roughly how big the sizes of your events are? (Are we talking hundreds of KB?)

And thanks for the information you've given so far!

[2019-12-17 18:27] hally9k commented on #6596
@chradek I'll just do a quick capture so we can see...

[2019-12-17 18:34] jeremymeng commented on #3993
Adding `fs` to `output.globals` gets rid of the last warning, but not a proper fix.

[2019-12-17 18:42] hally9k commented on #6596
[37.avro.txt](https://github.com/Azure/azure-sdk-for-js/files/3974884/37.avro.txt)
@chradek I couldn't really infer the payload size but here's a capture file.

[2019-12-17 19:19] hally9k commented on #6596
@chradek I've just rewritten this with the stable @azure/event-processor-host package and it appears to be stable and processing as expected.

[2019-12-17 19:35] jeremymeng commented on #6538
As far as I can tell, #5508 is about generating constructors (whether apiVersion should be a required parameter).  I looked at service client code and haven't found any places where this version is passed to the base `ServiceClient` class. I have a draft PR that allows passing version via service client options.

[2019-12-17 20:26] bterlson commented on #6411
I'm sympathetic to that viewpoint, but I'm also worried about differences between Node and JS. We should strive to offer identical behavior as it enables writing application and library code that is agnostic about which platform it runs on. A difference in download behavior feels like a pretty big difference to have, and could result in issues for users and libraries intending to support both plat

[2019-12-17 20:40] chradek commented on #4303
https://github.com/Azure/azure-sdk-for-js/issues/6564 is being used to track these changes in event hubs.

This issue is still relevant for service bus. If we continue using the streaming receiver we'll need to handle the reconnect tuning differently.

[2019-12-17 20:46] ramya-rao-a opened #6599 "[Event Hubs] Document best practices for retry options, error and close handlers"
In v5 of the Event Hubs library, even when no checkpoint store is passed, we now have a loop running behind the scenes that ensures that after the close handler is called when processing a partition, a new receiver link is created and receiving continues.

This changes the expectation around receiving events in v2 vs v5

This issue is to track the need to document the expectations and best practic

[2019-12-17 20:49] ramya-rao-a opened #6600 "[Event Hubs] Avoid calling ownership related methods on checkpoint store when dealing with single partition"
In v5 of the Event Hubs library, one can pass a checkpoint store to the EventHubConsumerClient and then use `subscribe` to receive events from a single partition.

This results in a loop behind the scenes that ensures we receive for-ever and that we balance the load among partitions by using the ownership methods on the checkpoint store. But, in case of single partition, there is no load balancing

[2019-12-17 20:53] ramya-rao-a commented on #6600
Never mind.... This is a dupe of #6554

[2019-12-17 20:53] #6600 closed

[2019-12-17 21:02] jeremymeng commented on #5508
My guess is that there's only one valid value in the enum, so the generator simplifies it into a single string "2019-02-02" and hard-codes the value to `this.version`, therefore eliminates the need of a parameter.

[2019-12-17 21:14] weshaggard commented on #5679
The webhooks are setup and enabled now.

[2019-12-17 21:16] jeremymeng commented on #6538
I found that core-http walks up the hierarchy of ServiceClient, if the following is in the swagger, it can find the version value from `this.version`.

[code]

However, blob swagger has a different config

[code]

The enum line makes the codegen file to hardcode the version, because 2019-02-02 is the only valid value. Queue also has the version hard-coded.

[2019-12-17 21:17] jeremymeng commented on #6538
So in summary, it is already supported to create a client that targets a different api version, as long as the swagger json is properly authored to allow multiple versions.

[2019-12-17 21:24] ramya0820 commented on #4303
Updated title and other flags so it can be triaged as necessary @ramya-rao-a @AlexGhiondea

[2019-12-17 21:30] wiazur commented on #6560
Thanks @ramya-rao-a, I was able to get another subscription key and this worked. I had previously a key reconfigured, so something must have gone wrong in that process. Works now, thanks again!

[2019-12-17 21:30] #6560 closed

[2019-12-17 21:49] jeremymeng commented on #6538
After I added another valid version string to the enum in swagger json, the generated constructor has the required version parameter. So closing this because we already support multiple service versions.

![image](https://user-images.githubusercontent.com/7583839/71037061-d6135180-20d3-11ea-906f-927bea94a8e7.png)

[2019-12-17 21:49] #6538 closed

[2019-12-17 21:50] jeremymeng commented on #5508
Yes, adding another value in the enum array for blob swagger makes the constructor to include `version` as required parameter.

[2019-12-17 22:02] willmtemple commented on #5679
Awesome, thanks! Do we have an idea of how long it takes to go from a commit being merged to master to seeing the changes live?

[2019-12-17 22:29] ramya-rao-a opened #6604 "[Event Hubs] Migration guide improvements"
This issue is to track any improvements that can be made to our [migration guide for Event Hubs](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-hubs/migrationguide.md)

- consumer group was optional in v2, is mandatory in v5. A note on the reason here, the default value and that it can be changed when creating the consumer group/ event hub would be helpful
- A note in the

[2019-12-17 22:51] OP-Klaus commented on #6375
@jeremymeng here's a script that reproduces it for me on v12.0.1:

[code]

[2019-12-17 22:54] chradek commented on #6596
@hally9k
I've been trying to reproduce this issue but haven't had much luck yet. Can you share a code sample that reproduces the issue for you?

Here's what I'm using:
1. Docker on windows using node:alpine.
2. Script to send 15 KB events to event hubs (also tried events up to 512 KB in size)
[code]
3. Test script to receive events using `@azure/event-hubs@preview.7`
[code]
I'm setting the `maxBat

[2019-12-17 23:00] jeremymeng commented on #2820
I believe it is because we are running code coverage on the bundled single file.  I tried running nyc test on unbundled files (with the help of `esm` package).  The report looks as expected:

[code]

File |   | Statements |   | Branches |   | Functions |   | Lines |  
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
test |   | 97.94% | 1614/1648 | 87.58% | 134/153 | 100% | 147/147 | 97.41% | 1280/1

[2019-12-17 23:33] ramya0820 opened #6605 "[Service Bus] [MQ] Update all test cases to create and delete unique test resources"
We discussed offline about improving tests for both Service Bus and Event Hubs such that the test resources are at the very least cleaned up / deleted after the test runs.

We talked about having each test case use a uniquely generated test resource entity(s).
This issue is to track investigation and efforts on implementing the new tests infrastructure once the idea/approach is finalized.

cc: @Al

[2019-12-18 00:29] #6298 closed

[2019-12-18 00:40] #6009 closed

[2019-12-18 00:45] jeremymeng commented on #6009
Samples of iterating blobs without using await are added.  For creating blobs/deleting container `await` is still used.

[2019-12-18 01:17] ramya0820 opened #6611 "[Service Bus] Streamlining usage on error shapes"
This issue is to track efforts on investigation and implementation for end users of Service Bus to have a common/uniform experience of dealing with errors coming out from the library.

With https://github.com/Azure/azure-sdk-for-js/pull/6586 we look at ways to differentiate the service errors, but the `Code` returned is not deemed useful and so we add the custom code information on `code` property

[2019-12-18 02:30] kurtzeborn opened #6615 "Refresh JS dependencies"
- run `rush update full`
- follow up on the outdated dependencies by updating them
  - all patch versions and non-breaking changes are straight forward (one PR per package)
  - breaking changes which affect us need to have new issues opened for the libraries team to follow up on
- then verify that the build passes

Full steps are documented in the team OneNote.

[2019-12-18 02:33] kurtzeborn commented on #4088
@KarishmaGhiya, when we discussed this, you were suspicious it was already done.  If so, please close.

[2019-12-18 02:53] ramya-rao-a commented on #6605
@sadasant is working on this across all services. The idea is to use arm templates to set up resources for each test run. He has a PR out for Event Hubs. He will be following it up with Service Bus.

This issue is to track investigation and efforts on implementing the new tests infrastructure once the idea/approach is finalized.

For Event Hubs, this is not needed. Tests are able to share the same

[2019-12-18 02:54] ramya-rao-a commented on #2556
A last resort could be to make the http requests directly to the rest endpoints.

[2019-12-18 02:59] ramya-rao-a commented on #5239
Done with #6584

[2019-12-18 02:59] #5239 closed

[2019-12-18 03:03] ramya-rao-a opened #6616 "[Service Bus] Sample to show retries when using streaming receiver"
As per request in https://github.com/Azure/azure-sdk-for-js/issues/2540#issuecomment-565720327, this issue is to track the need for a sample that shows best practices around restarting the receiver when the streaming receive fails

cc @chradek

[2019-12-18 03:05] ramya-rao-a commented on #2540
Thanks @Burnett2k
#6616 tracks the need for a sample to show the retries. Please subscribe to that issue, we will get to it right after the holidays.

Closing this issue for now as the latest version of the library seems to have fixed different problems in this area.

Please log a new issue if you find any problems after the upgrade

[2019-12-18 03:05] #2540 closed

[2019-12-18 08:55] jeremymeng commented on #6375
@OP-Klaus Thank you very much for the repo code!  We will try it out and report back findings.

[2019-12-18 16:58] danieljurek opened #6623 "Mac OS agents are failing on npm install step"
Build failures seen last night... NPM that is on the machine looks like 3.10.10 according to documentation (https://github.com/microsoft/azure-pipelines-image-generation/blob/master/images/macos/macos-10.13-Readme.md#package-management)

Recommend using `--force` for now.

[code]

[2019-12-18 18:11] jeremymeng opened #6624 "Upload code coverage reports in build pipelines"
We are running nyc for integration/live tests pipelines, but the generated code coverage reports are not uploaded.

They should be uploaded and made available, at least as artifacts.  Better if integrated with devops reporting.

Report is generated to
- node: ./coverage directory
- browser ./coverage-browser directory

@KarishmaGhiya

[2019-12-18 18:24] willmtemple opened #6625 "[keyvault] Samples cause conflicts preventing them from running one after another"
In order to run our Key Vault samples in CI, we'll need to execute them in series. However, as they are now, we get errors that look like the following in keyvault-certificates:

[code]

And we get one error in keyvault-secrets:
[code]

I don't know enough about Key Vault to know what the recommended solution would be here, whether it's re-factoring the samples to make sure they only end once they

[2019-12-18 18:26] HarshaNalluru commented on #6624
Also, have the `coverage-integration-test:node` step in the CI for nightly tests than `integration-test:node` (need to update the yaml scripts and has to be done in co-ordination with https://github.com/Azure/azure-sdk-for-js/pull/6609 and it's followup PRs to make sure all the sdks have the script/cmd)

@KarishmaGhiya

[2019-12-18 18:27] daviwil commented on #5508
Yep, that's what I had found before.  If we update the KeyVault swagger we can fix this issue for ourselves but I don't know if it will have a negative impact on the other languages' generators.  Might be more appropriate to fix it with our new TypeScript generator.

[2019-12-18 18:29] jeremymeng commented on #5508
I also noticed the same simplification of single value string enum => string elsewhere. Is there a configurable option in autorest or the typescript plugin for enabling/disabling this behavior?

[2019-12-18 19:08] hally9k commented on #6596
@chradek After thinking about this I would adjust your reproduction case in two ways to try and simulate my case more accurately:

1. I think the throughput is much higher and multi event batches so I'd reduce the timeout from 100 ms and create random numbers of events per batch between 0 - 20.

2. After thinking about high throughput I realised that the other key difference is the processing I wa

[2019-12-18 20:48] #6510 closed

[2019-12-18 21:33] OP-Klaus commented on #6375
@jeremymeng no problem, thank you for looking into it. I have edited the script to be smaller now and confirmed the issue still happens

[2019-12-18 23:16] xirzec commented on #6457
As far as I can tell, `sendOperationRequest` is a generated method inside the ServiceClients, so the fix here would be to modify the autorest codegen.

@daviwil @joheredi - is this covered by the next-gen autorest work?

[2019-12-18 23:16] jeremymeng commented on #6375
I believe the cause is that For each of our clients (BlobServiceClient, ContainerClient, BlobClient, BlockBlobClient, etc.) there's an underlying ServiceClient instance that handles sending request and receiving response from the Azure service. We have cached Http connection at ServiceClient level. However, in our current design two storage clients will **not** share a same connection (even if the

[2019-12-18 23:31] sbutalia opened #6634 "microsoft graph : The request did not have a subscription or a valid tenant level resource provider."
- **Package Name**:
@azure/graph@5.0.0

- **Package Version**:
5.0.0

- **Operating system**:
OSx

- [ ] **nodejs**
    - **version**:
12.0.0
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**To Reproduce**
Steps to reproduce the behavior:
[code]

[2019-12-18 23:44] chradek commented on #6596
Thanks @hally9k.

I made some adjustments to the send script so that it no longer waits 100 ms to send a batch, I have multiple producers, and each batch contains between 0-20 events. I should mention I'm also sending/receiving to an event hub that has 3 partitions.

I also updated the test script for 2 different scenarios:
1. Add a non-blocking task that takes over a minute to complete. It's awai

[2019-12-19 00:11] jeremymeng commented on #6457
I may be wrong but generated files seem to just import ServiceClient from corehttp

[2019-12-19 00:14] xirzec commented on #6457
@jeremymeng nah, you're right, I got tricked by VS Code and go to definition. `this.sendOperationRequest` comes from core-http's `ServiceClient`, but I didn't notice we were using inheritance for it.

OK this bug is now actionable again.

[2019-12-19 00:28] HarshaNalluru commented on #5564
@willmtemple @ramya-rao-a

[2019-12-19 00:30] willmtemple commented on #5564
We could add that import plugin to our own eslint plugin as a dependency of the standard config after I add our plugin to this repo.

[2019-12-19 00:36] #6554 closed

[2019-12-19 00:48] hally9k commented on #6564
@chradek Sorry to but in here, what is the intended approach for long running services in v5 then? Manually resubscribe in the error handler? Is this what's meant by `Then in the EventProcessor loop we would create a new receiver link` above?

[2019-12-19 01:02] mitchdenny commented on #4905
When we opened this issue it didn't look like pipeline caching was going to make a lot of sense for JavaScript because of the lots of small files issue. However the Azure Artifacts team has made a change to Pipeline Caching where it now tars the files in the target directory as part of the caching step resulting in larger chunk sizes and theoretically fewer requests to acquire the cache (there cou

[2019-12-19 01:02] ramya-rao-a commented on #6624
I didnt get a chance to respond to https://github.com/Azure/azure-sdk-for-js/pull/6430 which added the new npm script for code coverage before the PR got merged.

I have concerns on having a new npm script that would repeat all the tests run by the integration script. If we run the code coverage script daily, we now have the test pipeline running the same tests twice. If we re-use the same pipelin

[2019-12-19 01:07] jeremymeng commented on #6624
can we use the same pipeline, but somehow can differentiate between triggered and scheduled builds so only enable code coverage for scheduled nightly build?

[2019-12-19 01:11] ramya-rao-a commented on #6605
Removing the Event Hubs from issue title and label

[2019-12-19 01:30] ramya-rao-a commented on #6298
The problem described here is for sourcemap issues caused by nyc during record & playback.

For playback, we use the npm script `unit` which doesnt use nyc
For record, we use the npm script `integration` locally only.

So, the problem seems to be only in the case of recording the tests, is that right @sadasant?

[2019-12-19 01:32] ramya-rao-a commented on #6298
Ah, looks like the npm script for unit is calling the npm script for integration which in turn was using nyc

[2019-12-19 01:45] #5698 closed

[2019-12-19 02:44] ramya-rao-a commented on #6605
Let's use this issue to track the work required to use arm template to create a Service Bus namespace for each test run #6628

[2019-12-19 05:56] #4088 closed

[2019-12-19 07:39] shanmuksai commented on #6271
@xirzec
Thanks for updating. I am closing the issue.

[2019-12-19 07:39] #6271 closed

[2019-12-19 08:53] shanmuksai opened #6640 "403 Un-Authorised Issue while uploading file to Blob using uploadBrowserData Method"
-Package Name: azure/storage-blob

Package Version: 1.0.0
Operating system: win32 x64
 nodejs
version: v11.15.0
 browser
name/version: chrome
 typescript
version: 3.2.0
**Describe the bug**
We are using @azure/storage-blob package to upload file to blob via UI.
we are issuing a sas token with expiry time of 20mins to upload the file.
If we are uploading the large file  greater than 256MB it was ta

[2019-12-19 16:48] anasimao opened #6643 "Lifetime Validation failed. Token is expired in ManagedIdentityCredential"
In this scenario an application is using the @azure identity npm package and a User-Assigned Identity to connect to the endpoint metadata/identity/oauth2/token in order to get dynamic credentials to allow other applications to write to the Azure Storage Account blob containers.

**The application is using the version 1.0.0 of the package.**
In terms of code, this is what the application is impleme

[2019-12-19 17:55] chradek commented on #6564
@hally9k Thanks for asking!
We're still discussing what we want the behavior to be around error handling.

Right now what would happen is that if the error handler is called but the user doesn't take any action to stop the processor, a new receiver link will be created internally and attempt to keep reading events. This will cause the `close` and `initialize` handlers to be called for the partitio

[2019-12-19 18:04] chradek commented on #6564
I should point out that the main difference you'd see when calling `subscribe` with my proposed changes is:
If the consumer exhausts its retries while trying to reconnect to a partition (retry policies would be configurable) then the processError handler gets called with the final error seen.

Right now since the retry policies for reconnect are not configurable, the SDK may try to reconnect up to

[2019-12-19 18:05] ramya-rao-a commented on #6634
Thanks for reporting @sbutalia
This looks like an error from the service, we will have someone from the Graph team take a look at it soon.

[2019-12-19 18:19] kartikshah9 commented on #5197
@XiaoningLiu can we consider closing this issue as i believe we have answered the query?

[2019-12-19 18:21] kartikshah9 commented on #5211
@mpoozd

Could you provide inputs to the above?

[2019-12-19 18:25] kartikshah9 commented on #5260
@XiaoningLiu can we consider closing this issue as we have provided guidance on the approach to take with V12 SDK for js

[2019-12-19 18:28] hally9k commented on #6564
Oh cool, thanks. I'm unsure as to whether my experience with preview.6 matches your description but it's super handy to now know the intended behaviour. I think I am seeing error and close handlers called but no initialise which could mean the link is *attempting* to reconnect but failing... ? I definitely see the logic in your approach. I feel like a whole bunch more handlers might be useful, for

[2019-12-19 18:30] kartikshah9 commented on #5278
@gamecubate does the above help answer your query? Accordingly we can close this issue

[2019-12-19 18:31] kartikshah9 commented on #5279
@XiaoningLiu can you provide inputs on the next steps for this

[2019-12-19 18:34] hally9k commented on #6596
I'll pull an old commit and reproduce for yo later today, I'll post the entire debug log so we can have a look through.

[2019-12-19 18:36] kartikshah9 commented on #5033
What are the next steps for this issue? Do we need additional inputs from customer - @XiaoningLiu

[2019-12-19 18:38] kartikshah9 commented on #5433
@sidkasat can you provide your inputs or can we go ahead and close the issue if your query is resolved

[2019-12-19 18:41] kartikshah9 commented on #5556
@timfpark can you provide inputs to the above query? Else if the issue is resolved let us know and we will close this issue

[2019-12-19 18:45] sadasant opened #6647 "MQ Goals"
This is an epic to track the MQ goals for this repository.

Guidelines: Ask internally.

What we have to do:

- Update the test-resources.json at the parent folder of each service client according to the new guidelines.
  - [x] KeyVault #6648
  - [x] App Configuration #6649
  - [x] Service Bus #6650
  - [x] Event Hubs #6651
  - [x] Storage #6652
- Update tests.yml on each service client folder acc

[2019-12-19 18:45] sadasant commented on #6299
I'll close this on favor of this epic: https://github.com/Azure/azure-sdk-for-js/issues/6647

[2019-12-19 18:45] #6299 closed

[2019-12-19 18:48] ramya0820 commented on #6197
Closing as a similar issue exists and is in progress https://github.com/azure/azure-sdk-for-js/issues/5985

[2019-12-19 18:48] #6197 closed

[2019-12-19 18:48] sadasant opened #6648 "[MQ] Update KeyVault tests.yml and test-resources.json"
For #6647

[2019-12-19 18:50] sadasant opened #6649 "[MQ] Update App Configuration tests.yml and test-resources.json"
For #6647

[2019-12-19 18:51] sadasant opened #6650 "[MQ] Update Service Bus tests.yml and test-resources.json"
For #6647

[2019-12-19 18:52] sadasant opened #6651 "[MQ] Update Event Hubs tests.yml and test-resources.json"
For #6647

[2019-12-19 18:53] sadasant opened #6652 "[MQ] Update Storage tests.yml and test-resources.json"
For #6647

[2019-12-19 18:54] xirzec commented on #6457
@jeremymeng OK what I was actually thinking about. The generated method signatures all take an options bag that extends from `coreHttp.RequestOptionsBase` - which I guess technically can be anything since it has a string index property on it.

I guess the ask in this issue is that we cheat and let that string indexer allow us to pass `OperationOptions` wholesale and then structurally recognize it

[2019-12-19 18:55] sadasant commented on #6648
Fixed by #6557

[2019-12-19 18:55] #6648 closed

[2019-12-19 18:59] KarishmaGhiya commented on #4763
#6645

[2019-12-19 19:00] hally9k opened #6653 "[Event Hubs] Where is the canonical reference for the current stable version?"
**Is your feature request related to a problem? Please describe.**
I'm unable to find the docs for the current stable version of @azure/event-hubs

**Describe the solution you'd like**
A link to the stable docs on the repo top level readme.

[2019-12-19 19:03] sadasant opened #6654 "[core-lro] PollerLike's getState(): TState"
Since PollerLike can have any type as the TState, even different from the actual Poller, it can return a safe version of the internal state, as defined by the consumer.

More information on how to use this can be seen here: https://github.com/Azure/azure-sdk-for-js/pull/6644

Thanks to @xirzec for spotting this use case of our abstract types 👏

[2019-12-19 19:06] jeremymeng commented on #6375
Or we could make our clients to share a same http client.

[2019-12-19 19:10] jeremymeng commented on #5033
@XiaoningLiu any changes between v10.1.0 and v10.2.0 that might be related?

[2019-12-19 19:45] joelrbrandt opened #6656 "[storage-blob] data corruption with BlockBlobClient.uploadFile"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.0.1 and 12.0.1-dev.20191212.1
- **Operating system**: macOS 10.15.2
- [x] **nodejs**
    - **version**: 13.5.0
- [ ] **browser**
    - **name/version**: n/a
- [ ] **typescript**
    - **version**: n/a
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs

[2019-12-19 19:49] joelrbrandt commented on #6656
When I run the test code I provided (in [this repo](https://github.com/joelrbrandt/azure-blob-bug)), I get the following output:

[code]

The `-bad.txt` file was uploaded with `maxSingleShotSize = 256*1024*1024; // 256mb`. The `-good.txt` file was uploaded with `maxSingleShotSize = 1*1024*1024; // 1mb`.

The test file itself is a 5.3MB file generated with `dd if=/dev/urandom bs=1024 count=4096 | b

[2019-12-19 20:26] gamecubate commented on #5278
@kartikshah9 Yes + apologies for forgetting to respond. This will do. Thanks!

[2019-12-19 20:26] #5278 closed

[2019-12-19 21:40] #6332 closed

[2019-12-19 21:50] ramya-rao-a commented on #6653
Here are a few links, let us know if you are looking for something else

version 2.1.4

- [API Reference docs](https://docs.microsoft.com/en-us/javascript/api/@azure/event-hubs/?view=azure-node-latest)
- [readme ](https://github.com/Azure/azure-sdk-for-js/tree/%40azure/event-hubs_2.1.0/sdk/eventhub/event-hubs)
- [samples](https://github.com/Azure/azure-sdk-for-js/tree/%40azure/event-hubs_2.1.0/sdk

[2019-12-19 23:13] jeremymeng commented on #6375
Another workaround: since we allow passing in an Http client when creating the client, you can do the following

[code]

[2019-12-19 23:20] jeremymeng commented on #6352
The fix will be included in the next version of `@azure/core-http`.

[2019-12-20 01:19] ramya0820 commented on #6219
Closing as discussed offline.

[2019-12-20 01:19] #6219 closed

[2019-12-20 04:15] jiacfan commented on #6640
Hi, @shanmuksai

Thanks for reaching us!

For the error reporting, what's your definition for method `this.onUploadError()`?

As `Promise.prototype.then()`'s definition [link](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/then):

[code]

onRejected should be a function with one argument.

For 403 itself, is it possible for you provider a SAS with longer l

[2019-12-20 05:07] KarishmaGhiya commented on #6323
PR - #6633

[2019-12-20 06:41] ramya-rao-a commented on #6611
From https://github.com/Azure/azure-sdk-for-js/pull/6586#issuecomment-567710533 by @ramya0820

Idea was that having a uniform experience for users to deal with errors would be good to aim for.

Unification of errors between the operations on the AQMP connection and the management operations on the REST apis are a non goal at the moment. The latter is currently using `RestError` which is a standard

[2019-12-20 07:01] jeremymeng commented on #6656
It might be the same onProgress bug. Could you pleas remove the console.log callback then try again?

[2019-12-20 07:36] ramya-rao-a commented on #6611
From https://github.com/Azure/azure-sdk-for-js/pull/6586#discussion_r359111012 by @ramya0820:

Re-opening this issue, but reducing scope to difference in using `name` in `MessagingError` vs `code` in `RestError` to detect error types.

[2019-12-20 09:06] jiacfan commented on #6656
Hi, @jeremymeng

Yes, your suspicion is correct. When would the fix in place?

I tried to repro with customer provided code and also the one without onProgress. When run without onProgress, the data is correct. @joelrbrandt FYI

Thanks,
Jiachen

[2019-12-20 09:30] shanmuksai commented on #6640
@jiacfan
We can increase the SAS token time but we can not predict the bandwidth of the user.So, we are trying to implement a retry mechanism to upload the same file by increasing the expiry time of token without user intervention. To achieve that process we need to receive an event when sas token got expired.
// we are expecting to get an event like this for sas token expiration.
Here i am attach

[2019-12-20 09:33] zzhxiaofeng commented on #4921
The app services created successfully when creating  two app service from the Azure Portal using the same app service plan. So it is an error of azure app service extension in vs code.

[2019-12-20 09:34] zzhxiaofeng commented on #4921
@jongio

[2019-12-20 09:54] JerryPei1997 commented on #5970
A lifecycle management policy is a collection of rules.

One storage account only have one policy based on rules and its name always be **'DefaultManagementPolicy'**.

Only provide method **client.managementPolicies.deleteMethod()** to delete the default policy associated with the specified storage account, and currently, there is no method to delete a specific rule by now.

To delete a specific r

[2019-12-20 09:56] JerryPei1997 commented on #5970
@jongio

[2019-12-20 15:10] joelrbrandt commented on #6656
@jeremymeng @jiacfan Thanks for looking into this so quickly. Just to be clear, are you talking about #6352 ?

According to that bug, ["The fix will be included in the next version of @azure/core-http"](https://github.com/Azure/azure-sdk-for-js/issues/6352#issuecomment-567720596). Can you give me a rough timeline on release?

If it's a long time from now, are there workarounds to get (rough) progr

[2019-12-20 16:20] #6448 closed

[2019-12-20 18:06] jeremymeng commented on #6656
@joelrbrandt Yes it's #6352. We hope to release a newer version of @azure/core-http in next month.  Meanwhile if you like you can use a report Transform [similar to what we did in core-http](https://github.com/Azure/azure-sdk-for-js/blob/a53a13c288105f1bf56354d0d294050f635d0533/sdk/core/core-http/lib/fetchHttpClient.ts#L20).

[2019-12-20 19:02] ramya0820 commented on #1057
Keeping issues in "Dev in PR" pipeline only if they are approved and ready to merge.
All of the items as of this week are in PR otherwise. Idea is once everything is ready to merge, will merge, test and close them (Because there are overlaps and I might want to merge changes in specific order) cc: @ramya-rao-a @AlexGhiondea

[2019-12-20 19:08] ramya0820 commented on #6611
One non-breaking approach I can think of is to replicate `name` property on `MessagingError` to an additional `code` property. That way we can achieve some level of parity in user experience. Thoughts? @ramya-rao-a @bterlson

[2019-12-20 19:18] joelrbrandt commented on #6656
Thanks. A follow up question: roughly how long does it take for a new version of core-http to get rolled up into a release of @azure/storage-blob? Trying to figure out if this is a bug I'll be working around for a long time or just a little while (because that will change my workaround strategy).

[2019-12-20 19:36] jeremymeng commented on #6656
@azure/storage-blob specifies a dependency using caret so I would assume npm get the new version (1.0.3) automatically?

https://github.com/Azure/azure-sdk-for-js/blob/9bc473f8af65487e1632b7e18e731ca7ff18b4b3/sdk/storage/storage-blob/package.json#L95

[2019-12-20 21:01] #2845 closed

[2019-12-20 22:43] #5440 closed

[2019-12-20 22:59] willmtemple commented on #5679
We're seeing the samples for storage live now. https://docs.microsoft.com/en-us/samples/browse/?products=azure-storage&languages=typescript

Thanks everyone!

[2019-12-20 23:07] ramya-rao-a opened #6669 "[Event Hubs] Use code instead of name to detect different kind of errors"
Below are the next steps from an offline meeting between me, @bterlson and @chradek regarding updating `MessagingError` to use `code` instead of `name` to differentiate between different error types

- Never change the `name` on a `MessagingError`. It should always reflect the class name
- **AMQP Error**: Use code instead of name to set the human readable pascal cased error names from the mapper.

[2019-12-20 23:07] ramya-rao-a commented on #6611
Below are the next steps from an offline meeting between me, @bterlson and @chradek regarding updating `MessagingError` to use `code` instead of `name` to differentiate between different error types

- Never change the `name` on a `MessagingError`. It should always reflect the class name
- **AMQP Error**: Use code instead of name to set the human readable pascal cased error names from the mapper.

[2019-12-20 23:07] #6611 closed

[2019-12-20 23:16] xirzec commented on #6425
@Ethan-Arrowood To give you an update on this issue, we figured out and fixed the root cause, but since we're in the middle of releasing a rewrite of the text analytics library, I'm not sure if we want to release a new version of the old package before the holidays.

As you mentioned, the API shape is in the package, just not connected to the result, so you should be able to work around this in yo

[2019-12-20 23:32] ramya0820 opened #6670 "[amqp-common] [core-amqp] Improve connection string parsing"
Based on discussion at https://github.com/Azure/azure-sdk-for-js/pull/6382#discussion_r360605501

It looks like we might be missing out support on few possible protocols that may be used in the connection strings, and other corner cases such as syntax and whitespace handling.

This issue is to investigate gaps in existing implementation and update implementation so as to attain improved checks and

[2019-12-20 23:44] ramya0820 commented on #5354
Closed with https://github.com/Azure/azure-sdk-for-js/pull/6395

Also discussed offline regarding the naming improvements concern - consensus is this isn't a major story and we are comfortable with making the improvements in the data plane SDKs

[2019-12-20 23:47] ramya-rao-a commented on #5354
@ramya0820 There are multiple places in the atomManagement.spec.ts file where there is references to `To be investigated further as part of https://github.com/azure/azure-sdk-for-js/issues/5354`

I assumed that this issue was going to be used for further investigations. Therefore, re-opening this issue.

If the comments were stale and don't apply anymore, please send a PR to clean them up and we c

[2019-12-21 00:17] jeremymeng opened #6672 "[Storage][Sample] Update sample code to remove confusion around "string".length vs byte length"
Current blob/file uploading sample code create a string, then upload the string, passing the length of the string. For example

https://github.com/Azure/azure-sdk-for-js/blob/690c5628105e76248ae7b63b3fa743564540487c/sdk/storage/storage-file-share/samples/javascript/basic.js#L50-L59

In this code, the length happen to be the same in bytes.  However, the uploading methods are actually expecting byte

[2019-12-21 00:27] ramya0820 commented on #5354
Addressed this as part of https://github.com/Azure/azure-sdk-for-js/pull/6382/commits/bb5fa475133e1e5f4452223b218c670a8fa6062c since this PR is next in queue and just absorbed changes from #6395. @ramya-rao-a

[2019-12-21 01:19] HarshaNalluru commented on #5821
Closing this since we have a proper way of showing how to import things.

https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-queue#import-the-package

[2019-12-21 01:19] #5821 closed

[2019-12-21 17:51] Ethan-Arrowood commented on #6425
Thanks for the update @xirzec

Yes I used something similar as a work around. I'm glad I was able to point this out to y'all so it can be fixed for other users.

Thank you and have a happy holidays 😁☃

[2019-12-23 05:08] NGPixel commented on #6577
I have the exact same issue when copying a non-empty blob:
[code]

The source blob exists and the URL provided is generated by the BlockBlobClient `url` property on the source blob itself.

[2019-12-23 17:55] #6567 closed

[2019-12-23 22:30] HarshaNalluru commented on #6295
It is unrelated to the recorder.

Even for the live tests, every time we run the test suites, the older dist-test or whatever built files have to be cleaned and the new ones have to be generated.

We ensure that in storage packages by doing the following.
[code]
`integration-test` - for live testing(scoped it to the CI)
`unit-test` - for running playback(scoped this as well to the CI)
`test` - for

[2019-12-23 22:51] ramya0820 opened #6682 "[Service Bus] [Eng Sys] Fix reference to corrupt Service Bus entity"
As part of the CI runs, we uncovered issue where a certain Service Bus entity seems to have gone corrupt.
Need more investigation on this in conjunction with service team.

Eng Sys would need to appropriately update the Service Bus namespace on CI if needed.

And once issue is resolved we could revert the name change back to original to stay consistent, in the Service Bus tests infrastructure setu

[2019-12-23 23:25] ramya0820 opened #6683 "[Service Bus] Verify and improve docs for send API to demonstrate sizeInBytes mapping"
This issue to track investigation and SDK updates to see if users have a clear enough way to determine what is the size in bytes of the message being sent to Service Bus entity, so they are able to accurately use the SizeInBytes and MaxSizeInBytes constraints on the entities if possible.

cc: @bterlson @ramya-rao-a @AlexGhiondea

[2019-12-24 02:11] HarshaNalluru commented on #6297
Please check #6684

[2019-12-24 17:18] buccfer opened #6690 "[Question] - Is there any getQueue in @azure/service-bus ?"
For now I'm getting the queue active message count using the `azure-sb` package as follows:

[code]

I was wondering if I could achieve the same using `@azure/service-bus` to minimize dependencies.

Thank you!

[2019-12-24 23:53] romainFocone opened #6692 "[Cosmo MongoDB 3.6] Error on test exemple not work with 3.6"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.5.2
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: v10.16.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When

[2019-12-25 03:15] akshaybabloo opened #6693 "Module not found: Error: Can't resolve './tracers/test/testSpan'"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.0.1
- **Operating system**: Mac
- [ ] **nodejs**
    - **version**: 12.14.0
- [x] **browser**
    - **name/version**: chrome 79
- [ ] **typescript**
    - **version**: 3.7.4

I am trying to bundle `@azure/storage-blob` for the browser using the instructions provided at https://github.com/Azure/azure-sdk-for-js/blob/master/documentat

[2019-12-25 08:51] #6692 closed

[2019-12-25 08:56] romainFocone commented on #6692
my bad, the problem was from the endpoint, for Mongo 3.2 endpoint is already the good in connection string pannel but for 3.6, we have to replace  mongo.cosmos.azure.com to documents.azure.com to be able to use CosmoClient, it's not very explicit with the new Api Mongo 3.6

[2019-12-25 23:13] ramya-rao-a commented on #6693
Thanks for reporting @akshaybabloo

@bterlson Can you take a look at the bundling issue above with `core-tracing`?

[2019-12-26 17:53] ramya-rao-a commented on #6690
Thanks for asking @buccfer

We are currently working on the management apis that would include the `getQueue` call you mentioned above.

Closing this issue in favor of #3116 which is tracking the same feature request.
Please subscribe to #3116 to get notified on the progress there.

[2019-12-26 17:53] #6690 closed

[2019-12-26 18:35] ramya-rao-a commented on #6682
Let's use a new entity to unblock CI and then follow up with the service team offline as to why the specific entity in question is corrupted.

Please create a new PR with just the name change for the entity in tests.

No EngSys work needed here, therefore updating the issue title and label.

[2019-12-26 18:56] ramya0820 commented on #6682
For the `feature/service-bus-atom` branch, this is already taken care of in PR https://github.com/Azure/azure-sdk-for-js/pull/6390#discussion_r361020352

Opened PR https://github.com/Azure/azure-sdk-for-js/pull/6700 for `master` branch

[2019-12-26 19:11] ramya0820 commented on #6146
Closed with https://github.com/Azure/azure-sdk-for-js/pull/6382

[2019-12-26 19:11] #6146 closed

[2019-12-26 19:34] lmolkova opened #6702 "[FEATURE REQ] Distributed tracing: set az.namespace attribute"
OpenCensus/OpenTelemetry exporters (such as Azure Monitor exporter) may need to reliably know which that call is made against certain Azure service.

Azure Monitor exporter will use this information to navigate to corresponding Azure resource from AzMon UX and show proper icons.

**Describe the solution you'd like**
Add 'az.namespace' attribute on all spans (convenience and http/physical), with va

[2019-12-26 19:44] ramya-rao-a commented on #6682
@ramya0820 Please close this issue once a successful live test run is complete either on the PR branch or in the master branch if the PR is merged

[2019-12-26 21:01] jonathandturner commented on #5966
Link to: https://docs.microsoft.com/bs-latn-ba/azure/azure-resource-manager/authenticate-multi-tenant appears to be broken

[2019-12-26 21:03] bterlson commented on #6693
@akshaybabloo I'll take a gander tomorrow. Just to confirm, that's webpack's output right?

[2019-12-26 21:48] ramya0820 commented on #6682
I think we can keep this issue open to track fix for when the original problem gets resolved.
So that we can eventually revert the workaround and have consistent naming of the Service Bus entities.
cc: @AlexGhiondea

[2019-12-27 00:03] ramya0820 commented on #6055
Closed with #6586

[2019-12-27 00:03] #6055 closed

[2019-12-27 03:44] XiaoningLiu commented on #6672
@ljian3377 Can you help with a quick update in your incoming PRs?

[2019-12-28 01:36] akshaybabloo commented on #6693
Yes, it is.

[2019-12-28 02:30] HarshaNalluru commented on #2937
If other SDKs have a similar problem, please refer https://github.com/Azure/azure-sdk-for-js/pull/6666

[2019-12-28 03:08] #2937 closed

[2019-12-28 23:35] hally9k opened #6706 "[Event Processor Host] amqp:not-allowed, invalid filter type"
- **Package Name**:
@azure/event-processor-host

- **Package Version**:
2.1.1

- **Operating system**: Debian Linux
- [x] **nodejs**
    - **version**: 11.7.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.7
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Desc

[2019-12-29 18:12] jonathandturner commented on #6473
@ahmedspiir - Thank you for the report. We're investigating this and will reply here with more information.

[2019-12-29 18:14] jonathandturner commented on #6643
@anasimao - Thank you for letting us know. I'll investigate to see if there was an issue that would have caused that unavailability. I'll reply here with more information as I find it.

[2019-12-30 02:39] akshaybabloo commented on #6693
Hey @bterlson have you had time to look at the error? Thanks.

[2019-12-30 18:16] ramya0820 commented on #5354
Closed with https://github.com/Azure/azure-sdk-for-js/pull/6382

[2019-12-30 18:16] #5354 closed

[2019-12-30 19:09] jeremymeng commented on #2820
browser part: #6666

[2019-12-30 19:10] #2820 closed

[2019-12-30 19:13] ramya-rao-a commented on #1251
From #3956,

`testhub` doesnt have a `src` folder

[2019-12-30 19:13] jeremymeng commented on #5976
This might have been done as part of @willmtemple's sample work.  Please close if so.

[2019-12-30 19:13] ramya-rao-a commented on #3956
We will use #1251 to track the concern with testhub and use this issue solely for the core packages

[2019-12-30 19:14] #6005 closed

[2019-12-30 19:16] #2239 closed

[2019-12-30 19:26] ramya-rao-a commented on #5192
Moving this to the next milestone as it can be implemented in a non breaking way and we are out of time for the current milestone.

[2019-12-30 19:45] ramya-rao-a commented on #6341
This is now fixed

https://docs.microsoft.com/en-us/javascript/api/overview/azure/appconfiguration?view=azure-node-preview

Thanks @scbedd!

[2019-12-30 19:45] #6341 closed

[2019-12-30 19:48] ramya-rao-a commented on #6425
Thanks everyone!

Closing this issue as there are no action items here for the current version of the package.

@Ethan-Arrowood You check for announcements at https://azure.github.io/azure-sdk/ for when we have a new version of this package ready for a preview.

[2019-12-30 19:48] #6425 closed

[2019-12-30 19:55] bterlson commented on #6693
@akshaybabloo Sorry I wasn't able to get to this last week, holidays and all. I did run through the bundling guide today and am not able to reproduce the issue. Can you maybe put up a git repo that I can poke around at? Can you also share the versions of your @​azure packages via something like ` npm list | grep "@azure"`? It's also possible a bug was fixed in the meantime - you can try re-install

[2019-12-30 19:57] HarshaNalluru commented on #5081
@XiaoningLiu, please add support for more kinds of connection strings if required, to be in sync with the .NET sdk.

[2019-12-30 20:15] jonathandturner commented on #6625
I wonder if we should (at least) do the follow:

* Ensure that all the keyvault samples use unique names for things
* Ensure that the samples teardown the resources correctly. I'd been meaning to go back over them and ensure that all the resources are deleted correctly

For the second one, we may want a way to delete/purge in one step that can detect if the keyvault is being used has "soft delete"

[2019-12-30 22:20] ramya-rao-a commented on #5999
As part of the changes in https://github.com/Azure/azure-sdk-for-js/commit/27d9cb1165e12c055ca61a505a9b1c2c7d15701b#diff-0357b9f7ee6fc3ac5e654f80e8ad6faa, `rhea-promise` is no longer a peer dependency

[2019-12-30 22:20] #5999 closed

[2019-12-30 22:45] jeremymeng opened #6714 "[core-http] defaultHttpClient test failure after auto updates of fetch-mock to v8.3.0"
We need to investigate whether it's a fetch-mock regression or whether we need to update our tests.
All failures have error messages like

[code]

[2019-12-30 22:47] ramya-rao-a commented on #5985
With #6390, we now have all the tests creating their own entity both in node and browser.

I believe we can now remove the ability to disable the `CLEAN_NAMESPACE` environment variable. Disabling this env variable was helpful in the past in 2 scenarios
- When running tests locally, we skip the need to recreate entities for each test
- When running tests in browser, we skip the need to recreate ent

[2019-12-30 22:50] jeremymeng opened #6715 "[Storage] Add `downloadBlob()` to ContainerClient"
Currently we have `uploadBlockBlob()` and `deleteBlob()` on ContainerClient.  `downloadBlob()` off container client should be convenient too.

/cc @bterlson

[2019-12-30 23:12] ramya-rao-a commented on #6624
With #6713, I hope we no longer need the new npm scripts for code coverage and can re-use the `integration` script to generate the code coverage

[2019-12-30 23:24] ramya0820 commented on #6276
On refactoring and updating tests to the initial state where same topic related management operations executed one after the other, the 409 conflict error with background clean in progress error is no longer showing. Unclear if service has rolled any changes pertaining to this.

But as of commit https://github.com/Azure/azure-sdk-for-js/pull/6603/commits/aa96a17ce368446a2afbdad7baf2e2f5ee5d24b2 in

[2019-12-30 23:33] ramya0820 commented on #5985
The environment variables are being refactored as part of https://github.com/Azure/azure-sdk-for-js/pull/6603 which builds over this issue.

Closing this issue as #6390 addresses it and is merged in. Lets track all new concerns or subsequent issues in https://github.com/Azure/azure-sdk-for-js/pull/6603 or new issues.

[2019-12-30 23:33] #5985 closed

[2019-12-30 23:36] HarshaNalluru commented on #4230
Agree with many of the points raised.

what? why?

[2019-12-30 23:37] bterlson commented on #6530
`x-ms-useragent` is definitely what we should be using across the board for user agent info. Possible work to include:

1. Update `msRestUserAgentPolicy.ts` to default to `x-ms-useragent` over `x-ms-commandname`. _This is possibly a breaking change_, however there may not be any services which both use core-http and expect the `x-ms-commandname` header.
2. Remove customization of this header in ap

[2019-12-30 23:45] ramya-rao-a opened #6716 "[Service Bus] Test runs to not expect any resource to exist other than the namespace"
Currently, the value for the environment variable `CLEAN_NAMESPACE` controls whether new entities (queues, topics, subscriptions) are created for each test. If set to true, new entities will be created.

Disabling this env variable was helpful in the past in 2 scenarios
- When running tests locally, we skip the recreating entities for each test to save time and efforts in setting up AAD related co

[2019-12-30 23:47] ramya-rao-a commented on #6716
This work will also serve as a pre-requisite to have a simpler arm template to set up the Service Bus namespace for each test run as mentioned in https://github.com/Azure/azure-sdk-for-js/issues/6605#issuecomment-567305888

[2019-12-31 00:04] ramya-rao-a commented on #6530
Services who have sdks that are current users of core-http
- Storage
- Keyvault
- App Config

We know that Storage currently doesnt read the user agent string from the headers. @jeremymeng or @XiaoningLiu to confirm

We know that App Config already uses `x-ms-useragent`

Keyvault had only the `@azure/keyvault` library that didnt ship GA which had browser support. So, we are good to make this chang

[2019-12-31 00:10] HarshaNalluru commented on #4196
@jiacfan @XiaoningLiu

Please remove the retry option in a branch for the tests and verify them by doing multiple runs to find the causes behind these transient issues.
Probably, need be handled on a case-to-case basis in a better way.
It is in our best interests to remove the retries and run the tests so that we may uncover any hidden bugs with the SDK or even the service.

[2019-12-31 00:14] #4763 closed

[2019-12-31 02:03] XiaoningLiu commented on #5260
Hi, in latest commits, we provided detialed samples and references for storage SDKs. Will close this issue.

[2019-12-31 02:03] #5260 closed

[2019-12-31 02:07] XiaoningLiu commented on #5279
Hi @nikodemrafalski Please try with latest @azure/storage-blob latest version 12.0.1.

This issue maybe related to ms-rest-js package which throws abort error after HTTP request completes. If 12.0.1 still has this, we need help from @ramya-rao-a to take a look in ms-rest-js or @azure/core-http implementation.

[2019-12-31 02:27] ramya-rao-a commented on #6276
In that case, let's close this issue. If the problem re-appears in our tests, we can investigate.

[2019-12-31 02:27] #6276 closed

[2019-12-31 02:31] XiaoningLiu commented on #5081
If a connection string doesn't mentioned in the doc, it should not be a official standard.

`BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;` doesn't include required account name and account key, which cannot make it a compelete connection string.

[2019-12-31 04:51] ramya-rao-a commented on #5279
cc @jeremymeng

[2019-12-31 19:38] ramya0820 commented on #6716
Based on discussion at https://github.com/Azure/azure-sdk-for-js/pull/6603#discussion_r362128495, we'll be using this issue to clean up the `recreateSubscription` utility as well

[2019-12-31 19:45] ramya0820 commented on #6605
Since this issue is to update all of the tests in Service Bus to use new namespace / unique test resources - the management API related tests will need to be updated too.
Specifically, the list related tests can be updated to use a more accurate check - https://github.com/Azure/azure-sdk-for-js/pull/6603#discussion_r362127334

[2019-12-31 20:10] ramya-rao-a commented on #6605
Closing this issue in favor of #6650 which @sadasant has created to track the work needed to have an ARM template that will create a Service Bus namespace for each test run.

Please note, "test run" here means the entire test run say for node or browser and not individual test cases.

[2019-12-31 20:10] #6605 closed

[2019-12-31 20:13] ramya0820 opened #6723 "[Service Bus] Update list() testcase to check namespace contents"
This issue is to track changes needed in Service Bus to update the list() related management API testcases to have a more accurate check.

This is possible once we use separate namespaces for browser vs Node with https://github.com/Azure/azure-sdk-for-js/issues/6650

[2019-12-31 20:33] jeremymeng opened #6724 "[event-hubs][test] Re-enable the verification of test span attributes in "partitionPump telemetry" test"
We didn't increment core-tracing version and this test is verifying features coming after core-tracing preview.7. It cause build failure after we bumped core-tracing version and rush started getting core-tracing preview.7 from npmjs. So we had to skip the verification until we move to depend on core-tracing preview.8.

https://github.com/Azure/azure-sdk-for-js/pull/6722/commits/ae2ab4ecc7f83d99672

[2019-12-31 21:14] ramya0820 commented on #6325
Closed with #6603

[2019-12-31 21:14] #6325 closed

[2019-12-31 21:35] natmegs opened #6725 "TypeError: t is not a function"
- **Package Name**: @azure/arm-subscriptions
- **Package Version**: "^2.0.0"
- **Operating system**: macOS 10.13.6
- [x] **nodejs**
    - **version**: 12.9.1
- [x] **typescript**
    - **version**: 3.7.3

**Describe the bug**
When I use the SubscriptionClient to try to perform operations such as listLocations, I get the error: `TypeError: t is not a function`. Additionally, following the example f

[2019-12-31 22:29] ramya0820 commented on #6716
This is taken care of on `feature/service-bus-atom` branch

Same as above

PR https://github.com/Azure/azure-sdk-for-js/pull/6726 addresses this

[2019-12-31 23:04] ramya0820 commented on #6442
Closed with https://github.com/Azure/azure-sdk-for-js/pull/6583

[2019-12-31 23:04] #6442 closed

[2019-12-31 23:45] jeremymeng opened #6731 "[core-http][test] browser test failures for Edge and Firefox"
to repro, run `npx karma start karma.conf.ts --single-run` after applying changes from https://github.com/Azure/azure-sdk-for-js/pull/6730

~~1. Edge doesn't support `TextEncoder`. needs polyfill~~
2. Unexpected DateTime format (~~Edge~~ and Firefox)
3. Unexpected user agent (Firefox)
4. XML parse error (~~Edge~~ and Firefox)

Failure logs:
<details>
<pre>
Edge 18.18975.0 (Windows 10.0.0) msrest s

[2020-01-01 00:46] HarshaNalluru opened #6732 "[Keyvault] Tests are not picking up env variables from .env file"
### keyvault-keys
- .env file is present in the `sdk/keyvault` folder
- Looks like dotenv is not configured properly to pick up the env variables though it is present here.
![image](https://user-images.githubusercontent.com/10452642/71636941-ff140600-2bec-11ea-87e4-00cfaac64310.png)

[2020-01-01 18:48] ramya-rao-a commented on #6596
Hey @hally9k,

Any updates here?

[2020-01-02 02:28] #6672 closed

[2020-01-02 10:09] JerryPei1997 commented on #6725
Hi @natmegs,
Which README are you referring to?
According to the official [README](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/subscription/arm-subscriptions#sample-code), it uses **@azure/ms-rest-nodeauth** instead of **ms-rest-azure**.
[code]

[2020-01-02 10:10] JerryPei1997 commented on #6725
@jongio

[2020-01-02 16:03] natmegs commented on #6725
@JerryPei1997 I tried using @azure/ms-rest-nodeauth but also have hit errors with that package as well. Separate GH issue linked in "Additional Content" section

[2020-01-02 17:47] akshaybabloo commented on #6693
webpack patch fixed it. thanks for your help

[2020-01-02 17:47] #6693 closed

[2020-01-02 18:00] ramya-rao-a opened #6738 "[Service Bus] Test improvements after node and browser use separate test resources"
Currently, the node and browser test runs in CI for Service Bus use the same namespace.

A list of improvements can be made to our tests once node and browser test runs stop using the same namespace
- remove the need for `-browser` suffix for entity names when running browser tests
- [remove the need for `getEntityNameMap()`](https://github.com/Azure/azure-sdk-for-js/pull/6726#discussion_r36229384

[2020-01-02 18:02] ramya-rao-a opened #6739 "[Service Bus] Use separate Service Bus namespace for browser tests"
Currently, the node and browser test runs in CI for Service Bus use the same namespace.
#6650 is tracking the work to provision Service Bus namespace for each test run by using ARM templates.

A list of improvements can be made to our tests once node and browser test runs stop using the same namespace. See #6738 and #6723

While #6650 may take a while to get started on (late next week), for the ti

[2020-01-02 18:21] #6498 closed

[2020-01-02 18:21] ramya0820 commented on #6136
Closed with https://github.com/Azure/azure-sdk-for-js/pull/6728

[2020-01-02 18:21] #6136 closed

[2020-01-02 18:24] ramya-rao-a commented on #6725
Thanks for reporting @natmegs
@daviwil will be looking at the upstream issue you logged https://github.com/Azure/ms-rest-nodeauth/issues/82 and we will get back to you with the findings

[2020-01-02 19:17] jeremymeng opened #6740 "[storage-file-share] test failure in live test build pipeline"
https://dev.azure.com/azure-sdk/internal/_build?definitionId=159&_a=summary

The `js - storage-file-share - tests` pipeline has been failing since Dec 20, 2019.

![image](https://user-images.githubusercontent.com/7583839/71686476-233c2800-2d50-11ea-9725-e14c8cf2519b.png)

Looking at the commits included in the Dec 20 build I don't see anything related to this failure. I manually triggered a run ag

[2020-01-02 19:50] willmtemple commented on #5976
This is _mostly_ how it would work with the current setup. The packages already have package.json so no npm-init is necessary. Just install the sample dependencies and then install the artifact over top of it and it should be good to go. TS samples will need to be built once that's done, of course. Currently, the sample runner doesn't support running the un-prepared samples (it wants to `require`

[2020-01-02 20:38] ramya0820 commented on #6716
Closed with https://github.com/Azure/azure-sdk-for-js/pull/6726

[2020-01-02 20:38] #6716 closed

[2020-01-02 21:25] ramya-rao-a commented on #3518
This is now complete with #6729

[2020-01-02 21:25] #3518 closed

[2020-01-02 23:09] ramya0820 commented on #6739
Actually, we are using this to track Service Bus changes as well for which I'll be sending out a PR soon.

[2020-01-02 23:44] jeremymeng commented on #6352
`@azure/core-http 1.0.3` has been released. Closing this issue.  Please let us know if anything else is not working as expected.

[2020-01-02 23:44] #6352 closed

[2020-01-02 23:45] jeremymeng commented on #6656
`@azure/core-http 1.0.3` has been released. Closing this issue.  Please let us know if anything else is not working as expected.

[2020-01-02 23:45] #6656 closed

[2020-01-02 23:47] jeremymeng commented on #6375
#6657 addressed this issue by sharing a http client by default for all clients. It will be available in next release of blob storage packages.

[2020-01-02 23:56] ramya0820 commented on #6739
https://github.com/Azure/azure-sdk-for-js/pull/6746 is the PR for changes reacting to separation of namespaces for browser vs Node.

- PR is based on top of management API feature branch since we have the latest improvements going in it.
- #6738 and #6723 changes seem simple - hence added those in to the current PR.

cc: @ramya-rao-a

[2020-01-02 23:57] ramya0820 commented on #6738
See comment https://github.com/Azure/azure-sdk-for-js/issues/6739#issuecomment-570406002

[2020-01-02 23:57] ramya0820 commented on #6723
See comment https://github.com/Azure/azure-sdk-for-js/issues/6739#issuecomment-570406002

[2020-01-03 00:32] jonathandturner commented on #6473
We're currently working on a solution to this which will allow you to reach the Azure CLI: https://github.com/Azure/azure-sdk-for-js/pull/6521

[2020-01-03 00:43] ramya-rao-a commented on #6739
The proposal in #6738 was to remove the getEntityNames() helper method and use the enum `EntityNameKeys` directly. The raw strings will not be directly used.

[2020-01-03 01:17] jeremymeng opened #6749 "azure-sdk bot should insert a new entry into CHANGELOG when incrementing version after package release"
Currently it updates versions in package.json and constants.ts.  We also would like to have a new entry added into CHANGELOG.md like

[code]

[2020-01-03 04:21] qiaozha commented on #6725
@natmegs  I think you should use "@azure/ms-rest-nodeauth": "^3.0.2". it works for me

[2020-01-03 05:36] HarshaNalluru opened #6756 "[Common Recorder] Port jsonToFileReporter function block in karma.conf to recorder package"
https://github.com/Azure/azure-sdk-for-js/blob/0c6eb3fd11ac9bc5f6d9eac66583b4484d6ba781/sdk/storage/storage-queue/karma.conf.js#L85

[2020-01-03 08:35] ahmedspiir commented on #6473
Thanks for the update @jonathandturner , any ETA for when it will be out?

[2020-01-03 11:18] ljian3377 commented on #6740
Somehow the first _List Shares_ returned no share item, but just a continuation token.
Will fix our test cases to continue the _List Shares_ till it returns a non-empty shareItems.

[2020-01-03 17:28] ramya-rao-a commented on #6749
For reference: #6742

[2020-01-03 17:37] ramya-rao-a commented on #6739
Closing this issue as #6741 and #6746 have done the needful to use a different namespace for browser tests.

Let's use #6738 and #6723 to follow up regarding other issues discussed here.

[2020-01-03 17:37] #6739 closed

[2020-01-03 17:40] ramya-rao-a commented on #6738
With #6746, the first item in this issue of not using `-browser` suffix on entity names is covered.

Pending work is the proposal to remove `getEntityNames()` helper method and use the enum `EntityNameKeys` directly after renaming it to `EntityNames`. This proposal is not about using the raw string literals directly in the test cases. It is about using the enum

[2020-01-03 18:36] ramya-rao-a commented on #4766
We want to ensure that the below works when using proxy
- send events
- receive using checkpoint store
    - update checkpoints
    - stop the program
    - restart the program: ensure it starts receiving from the checkpointed position

[2020-01-03 22:09] ramya0820 commented on #4766
Verified above with @azure/event-hubs library and proxy interaction works as expected.
cc: @ramya-rao-a

[2020-01-03 22:15] ramya0820 commented on #4766
Actually, I verified the events stop getting received on stopping the proxy.
But the process needed to be restarted (and then it receives events from checkpointed sequenece number as expected).
However, on restarting the process - the receive did not resume and it was just hanging indefinitely.

Is this an issue? Seems like a smoother user experience might be that the receive process resumes once

[2020-01-03 22:53] joshfree opened #6764 "Create Test Automation for Azure.Identity running in Azure Hosted Environments"
**Epic: Create Test Automation for Azure.Identity running in Azure Hosted Environments**

- [x] Azure Cloud Shell
  - [x] /sdk/e2e test assets checked-in so that they can be referenced from Vendor Instructions
  - [x] Language-specific instructions added to https://github.com/Azure/azure-sdk/issues/795
- [x] Azure VM
  - [x] /sdk/e2e test assets checked-in so that they can be referenced from Vendo

[2020-01-03 23:01] joshfree commented on #5898
Reactivating based on planning discussion in late-December.  @ellismg is driving Identity conceptual documentation push across all azure-sdk languages

[2020-01-03 23:15] joshfree opened #6765 "Make Azure.Identity Errors Simple, Consistent, and Actionable"
Tracking Issue for the Error Message Consistency push that we'll be doing in Azure.Identity

Related Items
- Simplify and consistent error messages across all Credential classes and all SDKs.
 https://github.com/Azure/azure-sdk-for-net/issues/8936
- POC PR Here: https://github.com/Azure/azure-sdk-for-net/pull/9038/files
- Help the user diagnose what is wrong. https://github.com/Azure/azure-sdk-for

[2020-01-03 23:27] joshfree opened #6767 "Make the User/Client-side Application Golden-Path for Azure.Identity Easy"
Tracking issue for addressing UX feedback on User/Client-side Application "Golden path" scenarios with Azure.Identity. Easy scenarios are still too complicated, require referring to documentation for too many conceptual topics, and it's not clear to new users how best to get started.

This work item tracks adding new simple one-shot or golden-path APIs specific to the User/Client-side Application

[2020-01-03 23:36] joshfree opened #6768 "Make the Service/Server-side Application Golden-Path for Azure.Identity Easy"
Tracking issue for addressing UX feedback on Service/Server-side "Golden path" scenarios with Azure.Identity. Easy scenarios are still too complicated, require referring to documentation for too many conceptual topics, and it's not clear to new users how best to get started.

This work item tracks adding new simple one-shot or golden-path APIs specific to Service/Server-side authentication flow sc

[2020-01-03 23:43] joshfree opened #6769 "Dev-time Credential Experience for Azure.Identity"
Tracking issue for feature work specific to Developer-time Azure.Identity Credential Experience

- [ ] ~~Bring back file based auth for Management Plane: https://docs.microsoft.com/en-us/dotnet/azure/dotnet-sdk-azure-authenticate?view=azure-dotnet#mgmt-auth AZURE_AUTH_LOCATION (see https://github.com/Azure/azure-sdk-for-net/pull/9312) (@ellismg driving design requirements)~~

- [x] Add Support for

[2020-01-04 00:45] daviwil opened #6773 "[core-http] Consider switching from tunnel to another proxy agent library"
While working on PR #6772 I had a hard time figuring out how TLS settings get propagated from `tunnel`'s options types down to the underlying HTTP(S) connections.  While looking into this, I happened across the [`node-https-proxy-agent`](https://github.com/TooTallNate/node-https-proxy-agent) library which is simpler, clearer, and seemingly more robust.  I think it would be wise to switch to it (or

[2020-01-04 00:48] southpolesteve commented on #6773
FYI We recommend https://github.com/TooTallNate/node-proxy-agent to Cosmos users. Same author as the one you linked above.