[2022-01-30 19:23] WeiJun428 commented on #15746
Thanks @deyaaeldeen for your answer! Now, I am trying to use [`no-restricted-import`](https://eslint.org/docs/rules/no-restricted-imports) to ban any `import` statement in `md` file. But I noticed that I should probably modify the existing scripts in each `package.json`, specifically:
[code]
so that `rush lint` and `rushx lint` will work as expected. Am I understanding it correctly? If so, how sho

[2022-01-31 04:22] Mohit-Chakraborty opened #20139 "[Search] Write troubleshooting guide for the SDK"

[2022-01-31 04:27] Mohit-Chakraborty commented on #20139
cc: @sarangan12

[2022-01-31 06:50] sarangan12 commented on #20137
Thanks @v-xuto for reporting this issue. I will look into this and update

[2022-01-31 07:35] sarangan12 commented on #20107
@davidemontanari Thanks for reporting this. I will add this soon and update this issue.

[2022-01-31 10:57] sajeetharan commented on #15533
This should have got fixed with #19836

@AntonOnyshch  can you validate ?

[2022-01-31 11:24] AntonOnyshch commented on #15533
@sajeetharan I've done. Works perfectly. No issues.
Thank you.

[2022-01-31 14:57] cthakor commented on #19138
@jeremymeng
As I mentioned earlier, vulnerability is found in types/node-fetch and not node-fetch. I understand that when node-fetch is upgraded to v3.x it won't need types but until your package supports v3 of node-fetch we cannot upgrade to that so we need to support type/node-fetch and see how to upgrade the version of type/node-fetch.

[2022-01-31 16:10] maorleger commented on #18680
That's odd!

While I wanted to use the pipeline for testing at the time it was so very broken that even deploying test resources wouldn't succeed (I saw an error related to ProvisionerApplicationOid I believe) so I had to make due with what I had - I got access to China cloud and was able to reproduce this issue reliably, and it worked reliably after applying my fix.

I can take another look, but

[2022-01-31 16:23] egemenuzunali commented on #5771
Hi All, is there any update on this matter?

[2022-01-31 16:28] sajeetharan opened #20140 "Support cross-partition continuation tokens in node.js SDK"
Right now, node.js SDK only supports continuation tokens for single partition queries. This is a request for cross-partition continuation token support in the node.js SDK.

[2022-01-31 16:37] sajeetharan opened #20141 "Support to do the point read operation with the new Partition Key object"
For the Sub partitioning feature in Data Explorer, JS SDK should support Support to do the point read operation with the new Partition Key object

[2022-01-31 16:51] maorleger commented on #20135
Sorry, @v-xuto I put the wrong assignee in the list for this package. I updated the spreadsheet 👍 and reassigning this issue to the correct owner

[2022-01-31 16:55] chlowell opened #20142 "Cloud Shell doesn't support user assigned identities"
Cloud Shell's token endpoint ignores unexpected parameters and always authenticates the signed in user. This means that when ManagedIdentityCredential requests a token for a user assigned identity, Cloud Shell returns a token for the signed in user instead. The credential should therefore throw an authentication failed exception when asked to get a token for a user assigned identity in Cloud Shell

[2022-01-31 17:11] srnagar opened #20143 "Add troubleshooting guide for Azure Monitor Query"
Add TROUBLESHOOTING.md under sdk/monitor/monitor-query to include steps to diagnose and troubleshoot common errors when using the library.

[2022-01-31 17:19] benbp commented on #18680
@zedy-wj @maorleger whatever branches you are/were testing on for the weekly pipeline need to be updated/rebased against the latest changes. That will fix the `ProvisionerApplicationOid` error.

[2022-01-31 17:20] sajeetharan commented on #15533
@AntonOnyshch Great, thanks for the update. Closing the issue!

[2022-01-31 17:20] #15533 closed

[2022-01-31 17:43] jeremymeng commented on #19138
@cthakor could you please share a reference to the vulnerability found in @types/node-fetch?  It just contains type definitions and has no impact on runtime as far as I understand.

[2022-01-31 17:45] jeremymeng commented on #18799
@EmmaZhu sounds good to me. Thanks for the investigation!

[2022-01-31 18:20] jeremymeng commented on #5771
@prakashbask @egemenuzunali we were able to use app-configure in a proof-of-concept prototype.  I plan to look into this issue in February and will update here.

[2022-01-31 18:22] #20135 closed

[2022-01-31 18:22] #20136 closed

[2022-01-31 18:34] jeremymeng commented on #20131
@winterAndvelvet thank you for reporting the issue!  Looking at the code and the screenshot, I am unable to see what went wrong.  Could you please enable more logging then share more detailed logs?  Please refer to the troubleshooting section for more information on getting debug logs:

https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/servicebus/service-bus/README.md#troubleshooting

[2022-01-31 18:56] egemenuzunali commented on #5771
@jeremymeng amazing!! Thanks for the insights

[2022-01-31 19:01] sarangan12 commented on #20137
I checked the Failing job. It works fine for the following combination:

1. Windows 2019 + node 14.18.3
2. Ubuntu 2004 + node 14.18.3
3. Windows 2019 + node 14.18.3

But, the code is not working only with the combination: Ubuntu 2004 + node 14.18.3. This is actually surprising. I am investigating the issue and update this issue soon

[2022-01-31 19:04] sarangan12 commented on #20137
The code that is causing the issue is introduced on 01/28/2022 in PR https://github.com/Azure/azure-sdk-for-js/pull/20125 as part of migrating the search-documents SDK to the new recorder by @HarshaNalluru. The code is straight-forward and should not be causing issues. I will investigate this further and update the issue.

[2022-01-31 19:14] HarshaNalluru commented on #20137
@sarangan12  Oops, I didn't see them probably because I didn't run live tests/min-max as part of my PR.

Let me know if you're not able to resolve the issue, or if need more(my) eyes.

[2022-01-31 19:52] xiangyan99 opened #20147 "Feature to add auxiliary authorization header"
We have auxiliary authorization header support for Java.

Azure/azure-libraries-for-java#884

Let's also add the support in JS to keep them consistent.

[2022-01-31 19:52] #19026 closed

[2022-01-31 19:54] YoDaMa opened #20148 "@azure/dtdl-parser(1.0.0-beta): preview PR feedback"
PR https://github.com/Azure/azure-sdk-for-js/pull/16728 will be merged without addressing all feedback. To capture that feedback for work on later releases and for incorporating into the PR for the dtdl-parser generator (https://github.com/Azure/azure-sdk-for-js/pull/19778), I am creating this issue.

- Update documentation for API surface: https://github.com/Azure/azure-sdk-for-js/pull/16728#pull

[2022-01-31 19:58] maorleger commented on #20028
I think the string "SecretPlaceholder" would be a great choice if you wanted to make that change in the swagger (let me know if you end up making that change so I can remove 123456789 from our suppression list) but we really don't have the basis to enforce this IMO. But, aggregate pipelines are green again! Thanks everyone for the help

[2022-01-31 19:58] #20028 closed

[2022-01-31 20:13] YoDaMa commented on #20148
cc @olivakar

[2022-01-31 21:32] deyaaeldeen commented on #15746
@WeiJun428 You're right that current npm linting scripts ignore the README.md files so they will have to be updated. Instead of adding all .md files, let's add README.md only to the linting commands:
[code]

[2022-01-31 21:43] jeremymeng commented on #19883
@MBurchard I see. I found that in some cases our code doesn't wait for user error handler to finish, so adding a delay probably wouldn't help for this error.  I will add a delay between attempts of re-connecting.

[2022-01-31 21:55] kurtzeborn commented on #19787
On the surface this sounds fine, but I'm worried about where we might be going with this.  We need to be super careful about creating a multi-stage build where later parts of the build depend on tools created in earlier parts of the build.  Assuming that's NOT where we're going with this, this all sounds fine.

[2022-01-31 23:15] xirzec commented on #20148
Some quick notes:

- [ ] Change parser options to an interface of boolean properties instead (e.g. `{enableFoo: true}`)
- [ ] Look at removing some parser public surface or make it readonly (e.g. `options`)
- [ ] Possibly move other parser properties into options? (e.g. `dtmiResolver`, `maxDtdlVersion`)
- [ ] Not sure what scenario `getSupplementalTypeCollection` is used for, some more docs could

[2022-01-31 23:19] sadasant commented on #12967
@baoj-dfo hello hello 👋 there’s no browser support from the Key Vault services. The only way to receive Key Vault information from the browser is through a proxy or through a server fetching that information and sending it through.

I hope that helps! Thank you for your time.

[2022-01-31 23:35] sadasant commented on #12967
@baoj-dfo a couple of comments ago, Ramya provided a link to https://github.com/Azure/azure-sdk-for-js/tree/master/samples/cors/ts

You can see the following in that sample’s README:

There’s a lot more information in that sample. Please take a look!

I hope this helps.

[2022-02-01 00:54] #19714 closed

[2022-02-01 01:14] #18210 closed

[2022-02-01 01:15] sarangan12 commented on #20137
I have synched with Harsha offline. The error is weird and needs more investigation.At present, I need to focus on Shim Project. So, In order to prioritize the tasks and at the same time remove the CI failures, I have reverted the changes done on Friday with the PR https://github.com/Azure/azure-sdk-for-js/pull/20149.

I have also confirmed that the CI is passing now. @HarshaNalluru will be focusi

[2022-02-01 01:15] #20137 closed

[2022-02-01 01:41] KarishmaGhiya commented on #17788
Update on the decision for migration guide with Scott - The only package that reached a stable 1.0 release was @azure/applicationinsights-query, which was last published 3 years ago. Based on the download count, usage is very low. The ROI for migration guide creation would be very low.

[2022-02-01 05:47] cthakor commented on #19138
@jeremymeng  Here are the details of the vulnerability. Vulnerability Id: 1903584 (CVE-2020-15168)

[2022-02-01 06:59] amit12cool opened #20158 "Migrate Event hub to the Event Hub in same region with same settings"
- **Package Name**:   @azure/event-hubs 5.5.2 & @azure/eventhubs-checkpointstore-blob 1.0.1
- **Operating system**: Linux

**Describe the bug**
We are planning to migrate to a new Event hub from existing eventhub due to change in naming convention for Event hub. This also applies to blob storage too. So we need to migrate the checkpointstore to new blob storagetoo.

The approach we decided is:-
-

[2022-02-01 11:19] andriinuts opened #20159 "[Javascript][Calling SDK] createView promise `pending` state forever"
- **Package Name**: communication-calling
- **Package Version**: 1.3.2
- **Operating system**:
- [X] **browser**
    - **name/version**:  Google Chrome 97.0.4692.99

After calling `createView()` promise in `pending` state forever when there is more than 6 camera video streams. This is why is not possible to render more than 6 video streams simultaneously.

Steps to reproduce the behavior:
1.  Open

[2022-02-01 11:43] andriinuts opened #20160 "Screen sharing from local stream"
- **Package Name**: communication-calling
- **Package Version**: 1.3.2

Is there is any possibility to share some local stream (like second camera) as screen sharing?

[2022-02-01 12:19] MBurchard commented on #19883
@jeremymeng Yes, it's obvious that a delay at the listener does not solve the problem. Also throttling helps only a little because there is still high CPU usage.
Your code can't wait until the user error handler finishes, because it is an asynchronous call and that is **good**.
A delay in your code between reconnect attempts is the optimal solution. What do you think, how often should it try per s

[2022-02-01 13:24] restfulhead opened #20161 "[core-rest-pipeline] Retry on ENOTFOUND"
Occasionally our Azure Function app, which uses `search-documents` does not seem to be able to resolve the search endpoint:

[code]

`search-documents` already has a [retry function in place](https://github.com/Azure/azure-sdk-for-js/blob/8b0b1d3d03ef7a007693dd8fc602e8015c8ab49e/sdk/search/search-documents/src/searchIndexingBufferedSender.ts#L461), but it only retries based on certain response cod

[2022-02-01 14:35] developer-ankursingh opened #20162 "Error Occured in Bulk OperationError: Partition key error. Either the partitions have split or an operation has an unsupported partitionKey type"
Azure based dependencies being used -
 @azure/cosmos":"^3.15.1"
 @azure/identity": "^2.0.1"

**Describe the bug**
We have been using Azure Cosmos library with Azure identity liberary for RBAC mechanism to perform bulk delete operation. Till 2 days back , it was working fine so we were able to delete multiple records from Cosmos DB. But now we are getting a weird error/exception each time we try to

[2022-02-01 15:50] thomasuebi commented on #18759
Same issue here. Continuation token missing as soon as I add an ORDER BY. Thus, is pagination with LIMIT OFFSET parameters the only way to query in that combination?

[2022-02-01 17:46] sajeetharan commented on #18759
@ketangupta34 Thanks for providing the sample with details. We will check on this and get back , @thomasuebi noted, thanks

[2022-02-01 18:54] akania commented on #20159
Hi @andriinuts , thanks for reporting, currently we support rendering up 4 video streams at the same time with web SDK ( https://docs.microsoft.com/en-us/azure/communication-services/concepts/voice-video-calling/calling-sdk-features#calling-sdk-streaming-support )

Current behavior is not correct - we should fail (reject promise) createView sooner - we'll work on this fix

[2022-02-01 19:06] andriinuts commented on #20159
This is recommended limits, below this table there is a comment: `While the Calling SDK won't enforce these limits, your users may experience performance degradation if they're exceeded.`, but thx for response.

[2022-02-01 19:14] jeremymeng commented on #19883
We allow customers to specify the delay via the retry options when creating the clients. We could use it here too.

[2022-02-01 19:23] sadasant opened #20165 "[Identity] Add ClientAssertionCredential to the public API"
What we know so far:
- Here’s .Net’s PR: https://github.com/Azure/azure-sdk-for-net/pull/26620/files
- Here’s Python’s version of this credential: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/azure/identity/_credentials/client_assertion.py
- Python uses it from their TokenExchangeCredential https://github.com/Azure/azure-sdk-for-python/blob/fff4d586eb5f348763

[2022-02-01 19:25] MBurchard commented on #19883
I'm not sure that's the right way to go.
I assume the retry option is the number of attempts until it stops altogether.
No one would expect to reach 2,000 retries per second on a fast machine.
A new parameter for the delay would certainly be conceivable and good. But there should also be a reasonable default value.
This brings us back to a reasonable default value... 100ms?

[2022-02-01 19:38] sadasant commented on #20165
Does the ClientAssertionCredential need persistence caching features?

[2022-02-01 19:58] akania commented on #20159
There are hard limits - and as you can see results is pending promise, we'll work on improving this

[2022-02-01 20:18] jeremymeng commented on #19883
@MBurchard I was referring to https://github.com/Azure/azure-sdk-for-js/blob/8b0b1d3d03ef7a007693dd8fc602e8015c8ab49e/sdk/servicebus/service-bus/src/constructorHelpers.ts#L46, where customers can specify `retryDelayInMs` and `maxRetryDelayInMs`.

https://github.com/Azure/azure-sdk-for-js/blob/b7638dcaf4a0641867172c94d6bd1bb4065e8c75/sdk/core/core-amqp/src/retry.ts#L68

Although the former has a de

[2022-02-01 20:23] MBurchard commented on #19883
Oh nice, but if it is not already used for the retry delay, what's the current purpose of this setting? Where is it used?

[2022-02-01 20:26] jeremymeng commented on #19883
It is used in our retry, but we have a bug where some errors in the code to re-establish connection do respect it.

[2022-02-01 20:44] HarshaNalluru commented on #16876
Now that #19920 is merged, I'll put a new PR with 725c2d988c01dff76d5aa28831698837d4b70fbf for both the perf framework and the recorder and close this issue.

[2022-02-01 21:03] diberry opened #20167 "@azure/storage-blob Could not load existing sourcemap of @azure/core-asynciterator-polyfill"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.8.0
- **Operating system**: win 10
- [ ] **nodejs** 14.7.1
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Buil

[2022-02-01 22:21] KarishmaGhiya opened #20174 "Ensure new client packages enable min-max testing from the start"
- The new packages that are onboarded don't have min-max testing enabled from the start. How do you ensure that min-max testing is enabled for packages from the start or an easy way to figure out that the devs are missing something? Look into multiple options like - linting rule or a rule check in the CI.

[2022-02-01 22:26] sarangan12 commented on #20161
@restfulhead Thanks for reporting this issue. I have looked into the issue. As you rightly pointed out, the `search-documents` SDK has a retry logic which is invoked for 3 error codes:

1. 422
2. 409
3. 503

Now, if there is a strong justification to add a new code for DNS ENOTFOUND (BTW what status code do you want to add?) we could do it. But, in this case, if the DNS entry is not found, it does

[2022-02-01 22:36] ramya-rao-a commented on #18553
The tests around round-tripping encoding/decoding are not stable even in our nightly runs. These are the [issues tracking this problem](https://github.com/Azure/azure-sdk-for-js/issues?q=is%3Aopen+is%3Aissue+label%3A%22Event+Hubs%22+label%3Atest-reliability+round+in%3Atitle)

Closing this issue as it is not a problem specific to testing in sovereign clouds

[2022-02-01 22:36] #18553 closed

[2022-02-01 22:38] ramya-rao-a commented on #17120
@zzhxiaofeng Based on your last comment, I am assuming we don't have this issue any more. If we do, please re-open this issue

[2022-02-01 22:38] #17120 closed

[2022-02-01 22:41] restfulhead commented on #20161
For us it's definitely a transient issue, because it happens once every day or two and usually only for a single request. Subsequent requests work again. During this time there have been no changes on our end. The same app does many other web service requests, but the ENOTFOUND error only happens with Azure Search. Therefore I think retry would help us here.

Yeah, I was thinking to also open a su

[2022-02-01 22:44] sarangan12 commented on #20161
Thanks @restfulhead for the quick response. With your explanation, I also believe adding such a code would definitely be helpful in your case. Let me start working on this and update you. Thanks

[2022-02-01 22:49] xirzec commented on #20148
Noticed in the pipelines some circular reference warnings:

[code]

This can create weird behavior for some bundlers, would be nice to see if the circular references can be avoided

[2022-02-01 22:56] maorleger commented on #18680
How do I run CI against china cloud? I tried kicking off https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1339688&view=results against my PR and it did not kick off the right set of tests...

[2022-02-01 23:21] maorleger commented on #18680
Oh I understand now what's going on. If you take a look at the original comment the failing test is:
"Can get a deleted certificate
    using **_beginDeleteCertificate's poller_**"

If you look this comment: https://github.com/Azure/azure-sdk-for-js/issues/18680#issuecomment-1025089023 the failing test is:

"Can get a deleted certificate
    using **_getDeletedCertificate_**"

The difference is su

[2022-02-01 23:23] YoDaMa commented on #20148
this will be a challenging rewrite. I'll sync with you and others on the team for input, because the C# code is very dependent on circular dependencies, and we created the internal.js as a workaround to handle ordering the files correctly.

[2022-02-01 23:32] KarishmaGhiya opened #20177 "[Identity] Should we include error codes for authorization endpoint errors for some credentials as part of troubleshooting guide"
Should we include error codes for authorization endpoint errors for some credentials as part of troubleshooting guide?
Examples of error codes for ClientClaimCredential could be - https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#error-codes-for-authorization-endpoint-errors
or for AuthCodeCredential could be - https://docs.microsoft.com/en-us/azure/active-directory

[2022-02-02 00:11] LuChen-Microsoft opened #20179 "Adding Model Mapping Support for Async Iterators Auto Generation"
Hi we have the issues for using auto generating codes for `PagedAsyncIterableIterator<Item>`. In the SDK client, we need to return `SdkModel` instead of auto generated `RestModel`. But with the auto generation of auto rest, the model mapping is not supported.

Currently we have set `disable-async-iterators: true` and manually writing all the list items methods. Wondering when will the mapping meth

[2022-02-02 00:11] azure-sdk commented on #20179
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Automation:0.2836721,Cosmos:0.21940956,App Services:0.026627377'

[2022-02-02 00:43] KarishmaGhiya commented on #20039
Closing in favor of - https://github.com/Azure/azure-sdk-for-js/issues/20165
This credential is called "ClientAssertionCredential"

[2022-02-02 00:43] #20039 closed

[2022-02-02 00:48] jeremymeng commented on #19138
@cthakor Thank you for the link!  It looks that CVE-2020-15168 only affects `node-fetch` package, not `@types/node-fetch` package.  Our semver range already covers the fixed `node-fetch` version.  You should be able to get the updated `node-fetch` version without needing a new version of `@azure/core-http`.

We added a wiki page on this topic with more details: https://github.com/Azure/azure-sdk-f

[2022-02-02 01:35] scottaddie commented on #20177
It doesn't hurt to link to these docs if they're applicable in some way.

[2022-02-02 07:00] ramya-rao-a commented on #19883
It is used in other operations on the sender and receiver. The `subscribe()` method is an exception as it was meant be retried forever until you explicitly stop it.

[2022-02-02 07:28] sarangan12 commented on #20107
@davidemontanari I have analyzed the requirement. As you have shown in the snapshot attached with the issue description, you are trying to read the headers from the `_response` property. This property has been used in our older versions which depends on `core-http` package.

But, with the search-documents SDK version `11.3.0-beta.4` and later, the underlying dependency has been changed from `core-

[2022-02-02 08:02] #10562 closed

[2022-02-02 12:14] subesokun opened #20184 "[core-http] move types to `devDependencies`"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Move NPM packages for types into the `devDependencies` section to reduce the number of sub dependencies introduced by this package. See

- https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/core/core-http/package.json#L120
- https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/core/c

[2022-02-02 14:07] developer-ankursingh commented on #20162
FYI, we are able to perform bulk update operation successfully but the bulk delete operation is throwing error for the same container.
I have attached debug logs & screenshots for both Update & Delete operations for your reference.

![Update_API_Azure_Cosmos_NodeJS](https://user-images.githubusercontent.com/63254030/152169260-fdaab999-f5d9-4820-aa9f-0b365387241f.jpg)
![Bulk_Delete_API_Azure_Cosmos

[2022-02-02 15:26] praveenkuttappan opened #20185 "Release pipeline fails for new package"
Release pipeline is failing to create a release for a new package if that package was never published to npm before. Pre release step to verify the package failed with rate limit error.

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1339659&view=logs&j=6861a166-d11b-5ad0-1fab-36d044195295&s=d0034250-771c-5c1f-b121-45053f7178df&t=fa64a77f-6502-5103-6f74-28e668c2b961&l=13

[2022-02-02 15:41] udaya-reddy opened #20186 "TypeError: coreTracing.createSpanFunction is not a function"
- **Package Name**:  @azure/storage-block
- **Package Version**:  12.7.0 or 12.8.0
- **Operating system**:  Linux ubuntu
- [x] **nodejs**
    - **version**:   14.13.2
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.5.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.c

[2022-02-02 15:41] azure-sdk commented on #20186
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.4408558,Azure.Core:0.32602042,Docs:0.023185596'

[2022-02-02 17:54] deyaaeldeen commented on #19841
code complete in https://github.com/Azure/azure-sdk-for-js/pull/18674

[2022-02-02 17:54] #19841 closed

[2022-02-02 17:55] #20062 closed, assigned to deyaaeldeen

[2022-02-02 18:49] sadasant commented on #20165
This issue is blocked by https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4481

[2022-02-02 18:59] xirzec commented on #20148
We may be able to cheat a little bit here by pulling out some interfaces and/or using type-only imports. Agreed that it can be a hard problem.

[2022-02-02 19:06] JasonYeMSFT commented on #14025
I don't have much knowledge to share here since we don't use the SDK in a browser process and we don't use that flag neither.

[2022-02-02 22:31] maorleger opened #20189 "[test-utils] - Export a chai instance containing common plugins"
Expected usage might be:

[code]

I'm thinking exporting chai.assert will be less jarring than

[code]

- [ ] See what the most common plugins are
- [x] Add chaiAzure as well
- [x] Import this into a client package and ensure all goes well

[2022-02-02 23:25] benbp commented on #18680
Looks like you figured out the missing line in `tests.yml`

[2022-02-02 23:51] KarishmaGhiya commented on #20068
There are significant updates from the CSS perspective on the existing TSG @sadasant

[2022-02-02 23:59] sadasant commented on #20068
@KarishmaGhiya ok ok! thanks!

[2022-02-03 00:16] #18680 closed

[2022-02-03 00:17] maorleger commented on #18680
So the root cause ended up being the same in both tests - we needed to wait for the certificate create poller to complete its operation.

There are likely other tests that need some attention in sovereign clouds, but I made sure these are passing in CI. For any other tests please file a new issue and I will address it ASAP. Thanks for letting me know about this!

[2022-02-03 01:14] ramya-rao-a commented on #20167
@witemple-msft Didnt you come across this a few weeks ago?

[2022-02-03 09:18] sajeetharan commented on #18759
@ketangupta34 Thanks, we are able to reproduce the issue at our end and we'll work on a fix. To unblock your development can you try LIMIT and OFFSET ?

[2022-02-03 11:02] sajeetharan opened #20194 "Support index metrics in node.js SDK"
Enable the support to have index metrics in node.js SDK https://docs.microsoft.com/en-us/azure/cosmos-db/sql/index-metrics

[2022-02-03 14:17] ketangupta34 commented on #18759
@sajeetharan yes i have implemented a round about using limit and offset for now.

[2022-02-03 14:59] danieljurek commented on #19776
@ramya-rao-a -- I've updated the mapping of the above packages' services to match the "Old" column. Have a look here: https://review.docs.microsoft.com/en-us/javascript/api/overview/azure/?view=azure-node-latest&branch=djurek%2Ftoc-autogeneration-iteration

@scottaddie -- The ToC node for "Other" services is now formatted by the automation and you can see that here: https://review.docs.microsoft.c

[2022-02-03 15:49] MRayermannMSFT commented on #13540
@EmmaZhu what feedback do you need from me?

[2022-02-03 18:38] witemple-msft commented on #20167
Yes, I masked these warnings in our rollup 2 configuration. The published copy of core-asynciterator-polyfill (1.0.0) is missing its source map. Somehow the version in main is 1.0.2, so we lost 1.0.1 somewhere along the way. I will spin up a build and release an update to core-asynciterator-polyfill that addresses this.

It is worth noting that core-asynciterator-polyfill is, for all intents and p

[2022-02-03 18:59] jeremymeng commented on #20167
We probably never publish 1.0.1, and the bot bumped the version to 1.0.2 in one of the glitched auto-PRs.  We could release as 1.0.1 I think.

[2022-02-03 19:01] jeremymeng commented on #20167
related: #15882

[2022-02-03 19:05] jeremymeng commented on #12161
Addressed in #20088

[2022-02-03 19:05] #12161 closed

[2022-02-03 20:59] benbp commented on #18680
Thanks for looking @maorleger !

[2022-02-03 21:47] adamstoffel opened #20205 "Add support for "top" filter to TableClient.listEntities in @azure/data-tables"
**Is your feature request related to a problem? Please describe.**
Unable to specify the "$top" OData parameter when querying a table.

**Describe the solution you'd like**
Add support for the "top" parameter in TableEntityQueryOptions

**Describe alternatives you've considered**
Call table REST API directly without using JS SDK

[2022-02-03 22:23] #19305 closed

[2022-02-03 23:18] davidemontanari commented on #20107
Thanks a lot @sarangan12 for the clarification. I'll try the beta SDK and provide feedback. Any ETA for the `v11.3.0` stable to be released?

[2022-02-03 23:49] maorleger commented on #19754
Looks like the issue is resolved as of Monday - so we can go ahead and close this https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1336836&view=results

[2022-02-03 23:49] #19754 closed

[2022-02-04 00:21] lilyjma opened #20208 "❓Survey: Your experience in this repo"
Whether you're a frequent visitor or a relatively new visitor of the repo, please tell us about your experience with our issue support and/or PR contribution process. The survey should only take a few minutes, and you can answer for up to 3 repos:

https://www.surveymonkey.com/r/8QTQTGJ?Source=azure-sdk-for-js

[2022-02-04 01:38] jeremymeng commented on #15044
@ralphie97 the service actually sends back some information back in the error's `details` property even though the `RestError` type doesn't have this property defined.

[code]

So a workaround could be digging into the details.

We might be able to return back a better error if the Storage rest api spec (swagger) specifies more details about the error.  Currently we could only maps `code` and `mes

[2022-02-04 02:05] ramya-rao-a commented on #19267
@CatalinMates Apologies for the delay in response here, we missed this in our triage. @HarshaNalluru will take look at this by next week

[2022-02-04 02:42] ramya-rao-a commented on #19550
The documentation points to https://github.com/Azure-Samples/azure-cache-redis-samples/tree/main/quickstart/nodejs which was updated 2 days ago in https://github.com/Azure-Samples/azure-cache-redis-samples/pull/17.

Updating the documentation is being tracked in https://github.com/MicrosoftDocs/azure-docs/issues/86087

Thanks for reporting @nidri!

[2022-02-04 02:42] #19550 closed

[2022-02-04 02:46] ramya-rao-a commented on #20057
@weshaggard In that case, should we move this to the azure-sdk-tools repo assuming this approach would apply to all languages?

[2022-02-04 03:22] bzhang0 commented on #12745
Hello! I'd like to try helping out on this issue. I was curious how exactly to start. I have located the ```"strict" : false``` section in ```/sdk/cosmosdb/cosmos/tsconfig.json```, and when I change it to ```true```, I get an error after running ```rushx build```, with a list of errors. Are these the errors that I need to fix?

[2022-02-04 04:12] ramya-rao-a commented on #20158
Hey @amit12cool

Checkpoints work because all events in a partition in an event hub instance have their offset and sequence number in the ascending order. When you start sending events to the new event hub, the events there will start with 0 offset and sequence number. Therefore, copying the checkpoints does not make sense here.

@kasun04 Can you share any guidance here?

[2022-02-04 04:57] developer-ankursingh commented on #20162
attached logs as wel
[bulk_delete_error_logs.txt](https://github.com/Azure/azure-sdk-for-js/files/8000192/bulk_delete_error_logs.txt)
l

[2022-02-04 05:46] amit12cool commented on #20158
Correct. For new event hub we will start from 0 and that is what our understanding is. But for old event hub will it not start from where it left i.e when we pass on the same checkpoints to other blob storage and restart our consumer.?

________________________________
From: Ramya Rao ***@***.***>
Sent: Friday, February 4, 2022 9:42:36 AM
To: Azure/azure-sdk-for-js ***@***.***>
Cc: Amit Dhawan ***

[2022-02-04 08:02] #12761 closed

[2022-02-04 13:31] petrsvihlik commented on #19224
I think the reason is that the jwt-decode v3 was still in beta by the time the mega PR was submitted. A first stable version was released a week after that.

[2022-02-04 13:36] petrsvihlik commented on #19380
fixed by #20133

[2022-02-04 13:36] #19380 closed

[2022-02-04 13:36] petrsvihlik commented on #19224
fixed by #20133

[2022-02-04 13:36] #19224 closed

[2022-02-04 16:16] #20189 closed

[2022-02-04 16:44] weshaggard commented on #20057
I would expect that each language would need to plugin the step independently based on their doc generation process. From a central EngSys prospective I think all the pieces are available.

[2022-02-04 17:06] maorleger opened #20213 "[tracing] - Upgrade a few packages to core-tracing preview.14 for dogfooding"
While we don't have data on usage yet, we will in a month, I believe the following packages would be good proxies for validating our changes:

- [x] @azure/data-tables often used by Storage Explorer
- [x] @azure/core-rest-pipeline
- [x] @azure/event-hubs

These will be a good start

[2022-02-04 17:08] maorleger commented on #20213
@KarishmaGhiya I assigned both of us, let's decide how we divide and conquer this effort. I believe eventhubs will be the more challenging one so I am happy to take that one and core-rest-pipeline if you want to take data-tables

[2022-02-04 17:53] deyaaeldeen commented on #19759
@Axel92Dev Thanks for your report! Do I understand correctly that this is no longer an issue based on your comment in https://github.com/Azure/azure-sdk-for-js/issues/19759#issuecomment-1009711881?

[2022-02-04 17:58] ramya-rao-a commented on #20057
Thanks @weshaggard

@JonathanCrd, Please work with @praveenkuttappan in the March milestone for this task

[2022-02-04 18:02] ramya-rao-a commented on #12745
@bzhang0 Thats right. Since we have many files to fix, please consider grouping a few files in one PR or single file in each PR. When sending the PR, revert the change to the tsconfig.json

[2022-02-04 18:08] ramya-rao-a commented on #20158
Do you want to start reading from the new event hub only after you complete reading from the old event hub?

[2022-02-04 18:28] deyaaeldeen commented on #12745
@bzhang0 Thanks for taking on this issue, I can try to help with any questions you have.

[2022-02-04 18:34] witemple-msft commented on #19912
Yeah, I will add this flag back. Originally the `force` argument was only about allowing the command  to overwrite _any files at all_, but now it needs to override the git test.

[2022-02-04 18:48] sajeetharan commented on #20082
@jmiguel77 are you using the emulator? can you add more details (Code/related info) on how you are trying to create the container?

[2022-02-04 18:50] jeremymeng commented on #20081
@angular-git-user thank you very much for reporting this issue.  Would it be possible to share some code snippet showing how you use our service bus client?  Also, could you please enable more logging and see if anything unusual/erroneous when the issue start happening? Please refer to the troubleshooting section for more information on getting debug logs:

https://github.com/Azure/azure-sdk-for-j

[2022-02-04 21:50] #18044 closed

[2022-02-04 22:55] Axel92Dev commented on #19759
Yes, it is not a problem for me anymore. But if you don't add this information in your docs, the next developer who tries to pass binary data on service bus will struggle for days.

Thanks

[2022-02-05 00:00] ramya-rao-a commented on #14400
Hey @jmealo

We have recently been working on a new producer client that we call `EventHubBufferedProducerClient` that encapsulates the features that you see in the `AsyncBatchingProducer` sample being discussed above. We would love for you to try it out and share feedback.

Meanwhile, I have a PR out to address some of the documentation concerns you've brought up. See https://github.com/Azure/azu

[2022-02-05 02:20] KarishmaGhiya commented on #20142
As decided, Throwing an exception will tie the client side behaviour to Service side impl details, if they change impl on service side in future, our logic of throwing exceptions can break. Instead, we will do some logging here to warn users on known targeted platforms and add some details to docs too.

[2022-02-05 06:05] amit12cool commented on #20158
Yes, correct

[2022-02-05 19:55] ramya-rao-a commented on #20158
A single instance of `EventHubConsumerClient` cannot listen to more than 1 event hub instance. Therefore, for the case where you want to read from both the old and the new at the same time, you will be using two different instances of `EventHubConsumerClient`, each using their own checkpoint store. The consumer client for the new event hub will not need to know anything about the old checkpoint st

[2022-02-06 11:00] amit12cool commented on #20158
Yes, I'm on the same page. And this is what we intend to do.

________________________________
From: Ramya Rao ***@***.***>
Sent: Sunday, 6 February 2022, 01:25
To: Azure/azure-sdk-for-js
Cc: Amit Dhawan; Mention
Subject: Re: [Azure/azure-sdk-for-js] Migrate Event hub to the Event Hub in same region with same settings (Issue #20158)

A single instance of EventHubConsumerClient cannot listen to mor

[2022-02-06 15:39] mikekistler opened #20299 "Support for OASIS Request Repeatability Headers"
**Describe the issue or request**

The Azure API Guidelines say that all operations should be idempotent. This is mainly an issue for POST operations. For situations where a POST needs to be made idempotent, the guidelines recommend

☑️ YOU SHOULD support repeatable requests according as defined in [OASIS Repeatable Requests Version 1.0](https://docs.oasis-open.org/odata/repeatable-requests/v1.0/r

[2022-02-06 20:05] bzhang0 commented on #12745
Just pushed my first PR! I noticed that the file was in the ```test/``` subdirectory - not sure if this is an intended area for fixing.

One thing I noticed when reading the errors from ```rushx build``` was that there were so many that I couldn't see the relevant files, except for the ones in ```test/```. Is there a way to see the errors for a specific file? Say I wanted to pinpoint my fixes on `

[2022-02-07 03:20] ruowan commented on #20028
This PR  https://github.com/Azure/azure-rest-api-specs/pull/17685

[2022-02-07 04:54] amit12cool commented on #20158
@ramya-rao-a Any way you can suggest to make know all events are consumed from event hub?

[2022-02-07 09:53] petrsvihlik commented on #15814
@sarangan12 @ramya-rao-a is there any deadline for the migration?

[2022-02-07 10:00] EmmaZhu commented on #16987
I'll try to repro the issue again. Did the issue happen consistently or randomly?

[2022-02-07 15:30] dean-dot-git opened #20232 "@azure/service-bus Module '"long"' has no exported member 'default'."
- **Package Name**:   @azure/service-bus
- **Package Version**:  7.4.0
- **Operating system**:  Windows
- [x ] **nodejs**:
    - **version**:  v16.13.1
- [ ] **browser**
    - **name/version**:
- [x ] **typescript**
    - **version**: v4.0.0
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describ

[2022-02-07 16:33] aselunar opened #20233 "Azure Identity SDK (JS) How to Authenticate to User's Azure Account"
I am designing my first dev tool with the Azure SDK (JavaScript), and I am having a difficult time understanding how to authenticate users in production so the dev tool can access the user's Azure account. The tool is going to retrieve metrics from all of the user's Azure Functions in their tenant to display React component graphs based on those metrics over time. The app will be run locally with

[2022-02-07 17:29] kushagraThapar commented on #20162
@developer-ankursingh - we are investigating this issue. @sajeetharan   can you please look into this ?

[2022-02-07 18:20] sarangan12 commented on #15814
@petrsvihlik We are working to complete all the migrations around March. @ramya-rao-a Can you confirm?

[2022-02-07 18:31] dean-dot-git commented on #20232
closing issue, my .tsconfig.json needed the following:  "esModuleInterop": true

[2022-02-07 18:31] #20232 closed, assigned to nobody

[2022-02-07 19:10] maorleger commented on #18654
I ran through most of the scenarios but we will likely push this off for a month

[2022-02-07 21:27] kurtzeborn commented on #20083
I'm trying to understand what this means. Once you're done automating ToC generation, I thought that meant that when new packages are added/on-boarded, they will automatically appear in the ToC when they release.  Is this issue because of track 1 packages maybe outside of our engineering/release system?

[2022-02-07 21:38] danieljurek commented on #20083
A quick synchronous perusal of those starting with "@azure" shows some cool stuff:

* @azure/arm-edgegateway -- [@azure/arm-edgegateway - npm (npmjs.com)](https://www.npmjs.com/package/@azure/arm-edgegateway) It's a track 2 looking package

* @azure/arm-resource -- [@azure/arm-resource - npm search (npmjs.com)](https://www.npmjs.com/search?q=%40azure%2Farm-resource) doesn't even exist on npmjs.

T

[2022-02-07 21:44] kurtzeborn commented on #20083
Since we have not (and currently don't) generate docs for packages in this list (despite the fact that they're listed in our ToC), I'm fine letting these fall to the wayside until we either on-board them to our engineering system (and our ref docs publishing by extension) or they come to us with some other related ask for docs.

[2022-02-07 21:44] #20083 closed

[2022-02-08 00:42] #16876 closed

[2022-02-08 00:48] ramya-rao-a commented on #20158
Ok, so we are in agreement that checkpoints need not be copied over?

Assuming you will start the consumer for the old event hub AFTER stopping sending any events to it, then you can call [EventHubConsumerClient.getPartitionProperties()](https://docs.microsoft.com/en-us/javascript/api/@azure/event-hubs/eventhubconsumerclient?view=azure-node-latest#@azure-event-hubs-eventhubconsumerclient-getpartit

[2022-02-08 01:16] HarshaNalluru commented on #19267
Hi @CatalinMates,

I've tried "listing" in a sample angular app, seems to work fine for me.

![image](https://user-images.githubusercontent.com/10452642/152897980-92dc5ec1-0fde-42ff-8edf-939e94118330.png)

I've created a sample angular app with the code to do the listing and it seems to work fine.
https://github.com/HarshaNalluru/angular-app-issue-19267

Please give that a try.
Or Let me know how

[2022-02-08 02:25] jeremymeng commented on #20232
Glad to hear that you fixed the issue! @dean-dot-git
We also call out in the required compiler options in the README

[2022-02-08 02:26] deyaaeldeen commented on #18770
I am fine with disabling nightly runs for the eslint pipeline since perf tests are being correctly linted now in their PRs.

[2022-02-08 03:10] JoshLove-msft opened #20245 "[Avro Encoder] Add logging of cache size"
As we discussed in the arch board review, we should log the size of the cache whenever a new entry is added.

[2022-02-08 03:18] v-jiaodi commented on #18261
The same issue reappears.
For more details check here:  https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1350108&view=results

[2022-02-08 03:24] amit12cool commented on #20158
# Ok, so we are in agreement that checkpoints need not be copied over?

Yes

[2022-02-08 03:25] amit12cool commented on #20158
Yes, I agree on copying over the checkpoints from old event hub event store. to our new store

[2022-02-08 05:35] v-jiaodi opened #20246 "[Event Hubs] Deploy test resources failing in nightly runs"
Event Hubs nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1351121&view=results

[2022-02-08 05:36] azure-sdk commented on #20246
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.47993132,Event Hubs:0.19473204,Docs:0.02010386'

[2022-02-08 06:17] ramya-rao-a commented on #20158
I hope you meant to say that you agree on **not** copying over checkpoints.

Also, is there anything else we can help you with?

[2022-02-08 06:22] amit12cool commented on #20158
There is some confusion. I meant the same that we will copy over the checkpoints of old event hub from old checkpoint store to new checkpoint store and start the consumer again to pick checkpoints from new store.

Is there something wrong in above approach? Im still clear if there is any dependency on checkpoint store only the checkpoint files should be there that the consumer depends on.

[2022-02-08 06:37] ramya-rao-a commented on #20158
What I am saying is that there is no need to copy any checkpoints at all.

Say you have Event Hub A using checkpoints from Storage Blob A
You then create Event Hub B and Storage Blob B to be used for the checkpoint store.

I am suggesting that in your code you do the below:
- Start the consumer for Event Hub A with checkpoint store using Blob A
- When you have read the last event (I have mentioned

[2022-02-08 06:45] amit12cool commented on #20158
This is one scenario. And I agree on this.

There is another scenario of ours. In this we don't want to wait and ordering of events is not important to us. The only thing important to us is we need to consume the events from both event hubs as soon as they arrived. For this scenario, I meant to copy over the checkpoints and start ready from where the consumer left.

For example:-
- Start the consu

[2022-02-08 07:06] ramya-rao-a commented on #20158
For your second scenario where you want to read from both event hub instances without waiting to complete reading from the old one, I would recommend the below

- Start the consumer for Event Hub A with checkpoint store using Blob A
- At the same time, start another consumer for Event Hub B with checkpoint store using Blob B
- When you have read the last event from Event Hub A, stop the consumer y

[2022-02-08 07:09] amit12cool commented on #20158
Ok, So it means we will have 2 blob storage for 2 consumer clients and as soon we are done with old storage and event hub we will delete both. Correct? If yes, lets close this here. :-)

[2022-02-08 07:16] nturinski opened #20249 "@azure/arm-network: The response for creating a virtualNetwork doesn't contain the resource in its response"
- **@azure/arm-network**:
- **26.0.0**:
- **Windows**:

**Describe the bug**
When invoking `NetworkManagementClient.virtualNetworks.beginCreateOrUpdateAndWait()`, the return type is supposed to be `VirtualNetworksCreateOrUpdateResponse` which is just another name for `VirtualNetwork` class.  However, the response only contains 3 properties:
[code]

I don't think that this is the expected behavior

[2022-02-08 07:26] nturinski commented on #20249
Note: I think this is reproducing on other network resource types.  I'm noticing the same behavior with `networkSecurityGroups` as well.

[2022-02-08 07:33] CataMates commented on #19267
Thanks for the reply and for the effort @HarshaNalluru!
The problem that I've encountered, is not when using the angular app. (works fine also for me for angular app). The problem occurred when I've tried to use the build of the angular app within electron context.
So, building the angular app, and serving the build using electron, to have a native (macOS/Windows) App

[2022-02-08 08:09] petrsvihlik commented on #15814
Thank you!

[2022-02-08 10:00] zedy-wj commented on #18642
This problem is no longer reproduced, the test has been stabilized, and this issue will be closed, thanks all!

[2022-02-08 10:00] #18642 closed

[2022-02-08 11:18] jin-chong opened #20251 "[iOS 15.2] at Group video call, call.unmute() does not work."
- **Package Name**: @azure/communication-calling
- **Package Version**: 1.3.2
- **Operating system**:
- [ ] **nodejs**
    - **version**:  14.18.2
- [ ] **browser**
    - **name/version**: Safari on iOS 15.2 and 15.3
- [ ] **typescript**
    - **version**:

**Describe the bug**
I implemented Group video call by React.js.
On iPad(15.2 or 15.3), if I turn off mic by call.mute(), then turn on it by c

[2022-02-08 11:18] azure-sdk commented on #20251
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.22090076,Azure.Core:0.13102573,Network - Virtual Network:0.096801296'

[2022-02-08 11:24] sajeetharan commented on #19006
@rappjt The properties are the same for the default policy https://github.com/Azure/azure-cosmosdb-node/blob/ef4b113757b72356475f6bad994dc87f17e49291/source/lib/documents.js#L285

[2022-02-08 13:47] developer-ankursingh commented on #20162
Thanks for the update @sajeetharan . We can also have a session if possible with your team to demo the issue. Please let us know since it is impacting our project developement .

[2022-02-08 14:07] rappjt commented on #19006
@sajeetharan Thanks for pointing me to the default policy.  This was very helpful.

[2022-02-08 14:07] #19006 closed

[2022-02-08 16:21] #11435 closed

[2022-02-08 17:43] jeremymeng commented on #20246
@praveenkuttappan any ideas? I've seen this more recently.

[2022-02-08 17:49] ramya-rao-a commented on #19267
@CatalinMates Can you provide a repo where you have this setup that we can use to replicate the issue?

[2022-02-08 17:50] ramya-rao-a commented on #20158
Yes!!

[2022-02-08 17:50] #20158 closed

[2022-02-08 17:52] kirankumarkolli commented on #18558
Attendees: @kirankumarkolli , @kushagraThapar , @sajeetharan , @JericHunter , @simorenoh

Azure Cosmos JS V4 SDK is built on azure core pipeline which are already observable as dependency by anyone like AI (Application Insights). Its practically the way other azure libraries are also instrumented and supported.

Next steps forward:

- Push AI guidance forward. @sajeetharan will try a sample E2E an

[2022-02-08 17:58] jeremymeng commented on #20246
Ah this is a manual run against an old commit.

[2022-02-08 18:21] HarshaNalluru commented on #19267
Thanks, @CatalinMates, haven't used that before. Will try it out and let you know if I can repro.
As Ramya asked, it would be better/faster if you provide the example.

[2022-02-08 21:09] joheredi commented on #20205
Hi @adamstoffel thanks for reaching out. We support the $top ODATA query filter in the tables SDK. Here is a sample (Line 92): https://github.com/Azure/azure-sdk-for-js/blob/3b01392d7fa2d6dc442de1eac5b976c867db7599/sdk/tables/data-tables/samples-dev/queryEntities.ts#L85-L100

We renamed it to `maxPageSize` which is a name that makes the intent clear. Using the $top ODATA filter according to the Ta

[2022-02-08 22:56] maorleger commented on #17969
@lmolkova I'm reviewing our remaining issues and was wondering if this is still needed?

[2022-02-08 23:01] maorleger commented on #19299
@ramya-rao-a if anything was to slip this would be it - this is the long tail issue tracking upgrading all the packages to core-tracing preview.14...

[2022-02-08 23:18] deyaaeldeen commented on #12745
@bzhang0 Thank you!

Yes, we would like all code in this project to be compliant with the strictness rule. That being said, source files under `test` import the source files under `src` so the ones in `src` will have to be fixed first. Think of the source files as nodes in a graph where imports and exports between those files represent directed edges in that graph. To fix this strictness issue, we

[2022-02-08 23:59] HarshaNalluru opened #20266 "[Recorder] Add support to skip recording the request body"
https://github.com/Azure/azure-sdk-tools/pull/2692 added support to skip recording the request body.

However, the docker image/tag is not published yet with that support.
Usage in .NET - https://github.com/Azure/azure-sdk-for-net/pull/26847/files

## TODO
- [x] Wait for the new docker image/tag from ENG SYS
- [ ] Add the feature to the recorder
- [ ] Re-record form-recognizer tests with the new f

[2022-02-09 00:15] lmolkova commented on #17969
I believe it it's relevant (as I believe we see duplicates if we enable auto-collection for our http client in otel), except I'd love to  explore this suppression path instead:

https://github.com/open-telemetry/opentelemetry-js/blob/0dc4c3d8eb4f52b839365f964bb7aaac08dcefb2/packages/opentelemetry-sdk-trace-base/src/export/SimpleSpanProcessor.ts#L60

it's defined in otel-core package
https://github

[2022-02-09 01:55] winterAndvelvet opened #20274 "Service Bus v7.4.0(the latest version) hangs receiving messages"
- **Package Name**:  azure/service-bus
- **Package Version**: 7.4.0
- **Operating system**:linux debian
- [ ] **nodejs**
    - **version**: 14.15.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2022-02-09 01:56] jeremymeng opened #20275 "[ContainerRegistry] should extends from `CommonClientOptions`"
Currently it extends from `PipelineOptions`:

https://github.com/Azure/azure-sdk-for-js/blob/4b81b90a6a6b3a7c3d0ffcb76f62f45ec4c9b026/sdk/containerregistry/container-registry/src/containerRegistryClient.ts#L37

[2022-02-09 02:49] jdthorpe commented on #20186
I struggled with this for a couple hours after upgrading @azure/identity, @azure/keyvault-secrets and @azure/storage-blob with `yarn upgrade`.  I couldn't reproduce this in an minimal example, so deleted my `yarn.lock` file and re-installed. After that, the problem went away.

[2022-02-09 04:02] #19704 closed

[2022-02-09 04:15] udaya-reddy commented on #20186
After downgrading @azure-sdk/storage  to a lower version, this worked.... I have this as part of larger repo. Would need sometime to try to reproduce in a smaller setup.

[2022-02-09 08:44] dw511214992 commented on #20249
Hi @nturinski The response is returned by service, and you find many properties missed only in package v26.0.0 because v26.0.0 use virtual network's rest api with api version 2021-05-01 while v25.2.0 uses api version 2021-03-01. So it's service's behavior, and we cannot do anything in sdk side.
I will add label "Service Attenation" in this issue to ask help from service team.
thanks

[2022-02-09 09:01] dw511214992 commented on #20147
@xiangyan99 you can add [policy](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/core/core-rest-pipeline/src/pipeline.ts#L71) instead of change the sdk. For example: `client.pipeline.addPolicy`.
_The sdk is generated automatically, and we don't allow to change it manaully_
thanks

[2022-02-09 09:09] dw511214992 commented on #20138
@Rantoledo Package 5.0.0 is new generation sdk, and it's different from previous verisons of sdk. To get all tags, I think the following test code is a good start for you. https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/resources/arm-resources/test/resources_examples.ts#L81-L87

Thanks

[2022-02-09 09:48] #20251 closed

[2022-02-09 09:50] jin-chong commented on #20251
I found some ACS codes work in different way on iPad.
It is a bit difficult to explain.  sorry.
anyhow I found workaround so I closed this issue.
Thanks.

[2022-02-09 11:09] sajeetharan commented on #20162
@developer-ankursingh From the image looks like this happens in the stage environment right? We have checked the backend logs, we are able to see the 410 errors as well on this account, just wanted to confirm if this is only for deletion. We'll schedule a call to understand once we analyze the code and check with backend team.

[2022-02-09 12:43] developer-ankursingh commented on #20162
@sajeetharan It is happening in SIT & STAGING but not in DEV. Just to confirm this isssue pops up only for **DELETE** operation that too for only one of the containers but same code is working fine for other containers (all environments). It would be really nice if we can have a call where we can give you a walkthrough of the code.

[2022-02-09 13:15] ranjith-nuance opened #20281 "NPM Package @azure/identity not updated to latest of follow-redirects"
Hi,

The NPM module @azure/identity has security vulnerability. It is because of the older follow-redirects package it is using.

High            Exposure of sensitive information in follow-redirects

  Package         follow-redirects

  Dependency of   @azure/identity

  Path            @azure/identity > @azure/msal-node > axios >
                  follow-redirects

  More info       https://git

[2022-02-09 13:15] azure-sdk commented on #20281
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.30837834,Azure.Identity:0.30650994,Service Bus:0.080267586'

[2022-02-09 17:19] jakemangansw opened #20282 "Sending message to service bus hangs and does nothing?"
NodeJS version - v14.15.4
Azure-ServiceBus version - 7.4.0

**Describe the bug**
Using both batch and sendMessages hangs. Nothing gets sent to the service bus and the method doesn't return meaning  I have to manually stop execution of the program. I'm using this for tests and it worked at once point and then just stopped.

I am certain my connString and queueOrTopicName values are correct.

[code]

[2022-02-09 17:56] ramya-rao-a commented on #20281
Thanks for reporting @ranjith-nuance

From what I can see, the semver rules will allow the use of version 1.14.7 of follow-redirects. Therefore, if you follow the steps in [Dependency management](https://github.com/Azure/azure-sdk-for-js/wiki/Dependency-Management), you should be able to get the latest version of follow-redirects.

[2022-02-09 18:01] ramya-rao-a commented on #20274
Thanks for reporting @winterAndvelvet

While we look to replicate the issue, I noticed that you are calling your own message and error handlers. If you already have these handlers set up, can you share why you chose to use the `receiveMessages()` method in a loop instead of the `subscribe()` method that will take your handlers?

[2022-02-09 18:04] joshfree opened #20286 "fix filename casing of Azure Identity TSG"
The file https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/Troubleshooting.md should be renamed from Troubleshooting.md to TROUBLESHOOTING.md to be consistent with the other SDKs / repos.

Also the aka.ms links should be updated accordingly so they still reach the new filename

https://aka.ms/azsdk/js/identity/azclicredential/troubleshoot

https://aka.ms/azsdk/js/identity/v

[2022-02-09 18:15] sadasant commented on #20286
Thank you!

[2022-02-09 18:18] Balagii opened #20289 "Refused to set unsafe header "User-Agent" in Chrome"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.15.1
- **Operating system**: Win 10
- [ ] **nodejs**
    - **version**: 16.13.1
- [x] **browser**
    - **name/version**: Chrome 98.0.4758.82 (Official Build) (64-bit)
- [ ] **typescript**
    - **version**: 4.5.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https:

[2022-02-09 18:25] praveenkuttappan commented on #20185
This is already resolved with a change in common pipeline step to make github tags get request as an authenticated request.

[2022-02-09 18:25] #20185 closed

[2022-02-09 18:25] sadasant commented on #20281
Hello @ranjith-nuance !

While I was catching up with emails, our dear @maorleger did a clean install of Identity and noticed that our semver ranges support the patched version:

[code]

As @ramya-rao-a pointed out, you should be able to get the patched version of `follow-redirects` if you follow our [Dependency management](https://github.com/Azure/azure-sdk-for-js/wiki/Dependency-Management) step

[2022-02-09 18:30] praveenkuttappan commented on #17800
This was in pending state for some time and sorry for the delayed response. We can modify JS versioning tool to search for perf projects that requires the package we are incrementing the version and update the requirement in perf project to keep it sync.  In above e.g. when storage-blob version is changed, we can update perf-test/storage-blob also.

[2022-02-09 18:34] #20078 closed

[2022-02-09 19:16] #19235 closed

[2022-02-09 19:23] HarshaNalluru opened #20291 "[Form Recognizer] Specific test failing in min-max only"
![image](https://user-images.githubusercontent.com/10452642/153274828-67275b85-ecd3-4875-8ac7-d99b40287a0d.png)
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1353806&view=logs&j=1c9a204a-48a9-5154-5204-230e40dbc42f&t=80440deb-e0c4-5351-a2fc-e671cb2babbb

[2022-02-09 19:24] azure-sdk commented on #20291
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.30330625,Cognitive - Form Recognizer:0.27047768,Docs:0.055486377'

[2022-02-09 19:40] HarshaNalluru opened #20294 "[Recorder] Get rid of the TestProxy CI variable"
The presence of the `TestProxy` variable in `ci.yml` allows the CI to decide whether the proxy tool should be running for the pipeline.

Since we are now aggressively migrating the tests to use the new recorder, I feel we are in a good state to add the test proxy to our pipelines by default rather than having to add the variable in the CI.

Initially, we didn't add it as a default step since it wo

[2022-02-09 19:40] azure-sdk commented on #20294
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.17298144,Azure.Core:0.08119558,Data Factory:0.061806325'

[2022-02-09 20:22] jeremymeng opened #20296 "[Core] expose client options to add allowed headers/query parameters"
Other languages allow that (.NET's `Diagnostic` options, Java's `httpLogOptions`.  Currently we only configure those in convenience layer.  It would align with other languages and be quicker to unblock customers when they need to log additional things.

Also currently we concatenate a default list to the list passed via options, while .NET and Java allow override the lists.  Should we be consisten

[2022-02-09 21:49] maorleger commented on #17971
@KarishmaGhiya this should be mildly annoying but relatively straightforward - I believe you already did something like this for Identity. We just need to audit and fix the other packages that create long prefix'd span names. LMK if you have any questions or want to chat!

[2022-02-09 21:58] sarangan12 commented on #20107
@davidemontanari We are planning to release the v11.3.0 in May 22. In the mean time, please try the beta SDK. If you still face any issues, feel free to reopen the issue. Thanks

[2022-02-09 21:58] #20107 closed

[2022-02-09 21:59] maorleger commented on #5607
By the way, I demo'd this to @lmolkova and she was happy with the direction here. She had a few additional improvements like adding the continuation token as a span attribute.

If we are happy with the approach I listed above - @xirzec do you like this approach or not really? Assuming you are good with this -  what do we need to close out this issue?  Just guidance? Issues open for all packages? U

[2022-02-09 22:18] maorleger opened #20297 "[Aggregate Reports] - CredScan failing due to recorded secret"
@azure/communication-network-traversal has a secret that is not being properly sanitized and causing CredScan errors.

[code]

Do these tests use AZURE_CLIENT_SECRET env var? If so, that would have been sanitized by the recorder setup, otherwise we should add a customizationOnRecordings for this and re-record those tests. Please see this file for what I'm referring to: https://github.com/Azure/azu

[2022-02-09 22:18] maorleger commented on #20297
I spoke to Harsha earlier and he wanted to take a closer look at the recorder setup here, but I wanted to open this issue so we can track the aggregate pipeline failures

[2022-02-09 22:23] maorleger commented on #14204
Going to close this in favor of https://github.com/Azure/azure-sdk/issues/3202 as per the already closed parent epic https://github.com/Azure/azure-sdk/issues/3178

[2022-02-09 22:23] #14204 closed

[2022-02-09 22:30] xirzec commented on #5607
This seems like the most sensible thing we can do, even if the method itself isn't public it's pretty clear what is going on. We could establish a convention for how we name this thing to make it consistent (e.g. always take the list method name and suffix with Page)

[2022-02-09 22:43] #18729 closed

[2022-02-09 23:02] azure-sdk commented on #20299
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.18176156,Cosmos:0.16102698,Tables:0.074044585'

[2022-02-10 02:05] winterAndvelvet commented on #20274
For concurrency control eaily，we choosed the polling message style.In the first few hours,it worked well,but get message hang when queue incoming message increase to 4k.I don't konw if hang is related with message incoming count in queue.In addition,i tied to call receiveMessages with timeout.But when receiveMessages timeout ,it throw "The receiver is already receiving messages" at the next loop s

[2022-02-10 02:35] winterAndvelvet commented on #20274
By the way,when use:
[code]
also get **current receiver is already in state of receiving message**s exception,the maxWaitTimeInMs not work?

[2022-02-10 03:08] dw511214992 commented on #15421
Cannot get response from service  team for long time.

@bobalong79  could you please ask help in https://docs.microsoft.com/en-us/answers/topics/azure-cost-management.html ? In sdk side, we only can release the sdk with their release request.

Thanks

[2022-02-10 04:10] jdthorpe opened #20308 "DefaultAzureCredential.getToken() takes ~ 5 minutes in the standard Node:16 docker container"
- **Package Name**: @azure/identity
- **Package Version**: 2.0.2
- **Operating system**: buster (current `node:16` docker image)
- [x] **nodejs**
    - **version**:  v16.13.2
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:  3.9.7
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.mi

[2022-02-10 04:33] v-xuto commented on #17563
@deyaaeldeen @ramya-rao-a  Is there any progress on this issue? When is it planned to be fixed?

[2022-02-10 07:21] EmmaZhu commented on #16987
I tried to repro the hang with Node 14.17.3 and typescript 4.2.4, but still cannot get a hang.

@AyushG25 ,  I'll close this issue for now. If you'd need further assistant, please feel free to reopen it.

[2022-02-10 07:21] #16987 closed

[2022-02-10 09:30] EmmaZhu commented on #20093
PR got merged, the failure has been resolved.

[2022-02-10 09:30] #20093 closed

[2022-02-10 11:51] franpb90 opened #20311 "Add an Interface for DigitalTwinsClient in azure/digital-twins-core to allow the use of dependency injection."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I start a new project and to be able of injecting a digital twin client I need to define my interface and create a wrapper around it, to be able to inject it and create unit tests that test my repository classes. I am not completely sure if  I am missing something but I think the digitaltwinclient should

[2022-02-10 14:10] mikekistler commented on #20299
@sarangan12 Can you explain how you expect Azure Core to know and decide to add repeatability headers? Not all services support these headers, and even within a service not all methods necessarily support these headers.  They should only be added on methods that document that they are supported in the API definition. How will Azure Core determine this?

[2022-02-10 16:49] witemple-msft commented on #20167
We released a new hotfix version of core-asynciterator-polyfill (1.0.2) that should address this issue. @diberry please let us know whether or not this issue persists. I'm closing this issue for now, but please feel free to reopen it.

[2022-02-10 16:49] #20167 closed

[2022-02-10 17:22] ranjith-nuance commented on #20281
Hi Daniel,

Thank you so much for replying. Yes the Dependency management<https://urldefense.com/v3/__https:/github.com/Azure/azure-sdk-for-js/wiki/Dependency-Management__;!!L7QdHkQ!3WG0GBw6_WaE5nE1PiOA7N1IItvcZpsY4I4-L89GaWIsprZq3ToPZXglIczBYI8r$> did work for follow-redirects package.
Veracode scan is reporting vulnerability for node-fetch package as well. But npm audit is not reporting this as

[2022-02-10 17:30] witemple-msft opened #20313 "[ai-form-recognizer] Expand beta tracing support using `withSpan`"
The form recognizer beta package is using the new `withSpan` API, but we need to expand tracing support. The current stable Form Recognizer package (3.2.0) has full tracing support, but tracing is spotty at best in the beta.

We need to add traces to all work units in the Form Recognizer SDK. These include:

- [x] An outer span for each method of `DocumentAnalysisClient` and `DocumentModelAdminist

[2022-02-10 18:19] jeremymeng commented on #20274
@winterAndvelvet thank you for the detailed information! I will look into this.

[2022-02-10 19:02] deyaaeldeen commented on #17563
.NET TA client library added an audience option to support other clouds in https://github.com/Azure/azure-sdk-for-net/pull/26583. I am planning on doing the same and will try to finish it in this milestone.

[2022-02-10 21:34] #19306 closed

[2022-02-10 22:21] indoben opened #20320 ""Bad Request - Invalid URL" when using BlockBlobClient.uploadFile and .uploadStream"
- **@azure/storage-blob**:
- **12.8.0**:
- **Linux**:
- [ x] **nodejs**
    - **16.13.2**:
- [ x] **Chrome**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Upon creating a BlockBlobClient, attempts to use .uploadF

[2022-02-10 22:40] HarshaNalluru commented on #20291
Closing since this is a flaky service issue

Proof with a clean green run on main - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1360230&view=results

[2022-02-10 22:40] #20291 closed, assigned to HarshaNalluru

[2022-02-10 23:09] sadasant commented on #20281
@ranjith-nuance could it be a caching issue?

Let’s try this. Delete the contents of your .vscode/extensions folder, or `C:\Users\<username>\.vscode\extensions` folder, then scan again with Veracode. Does that help?

[2022-02-11 00:01] #20275 closed

[2022-02-11 00:27] #20297 closed, assigned to HarshaNalluru, AriZavala2

[2022-02-11 02:34] v-jiaodi opened #20329 "[Communication - Identity] Deploy test resources failing in nightly runs"
Communication - Identity nightly test runs are failing with:

InternalServerError
Headers:
Cache-Control                 : no-cache
Pragma                        : no-cache
x-ms-failure-cause            : gateway
x-ms-ratelimit-remaining-subscription-writes: 639
x-ms-request-id               : d576a068-30e0-4604-9e6b-faa6c8bada0b
x-ms-correlation-request-id   : d576a068-30e0-4604-9e6b-faa6c8bada0b

[2022-02-11 02:34] v-jiaodi opened #20330 "[Storage - File Datalake] Execute Samples failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

RequestId:0dc0876c-301e-0038-2b7f-1ddb72000000
Time:2022-02-09T06:40:51.7123800Z
 {
  "name": "RestError",
  "code": "InvalidResourceName",
  "statusCode": 400,
  "request": {
    "streamResponseStatusCodes": {},
    "url": "[https://***.blob.core.windows.net/newFileSystem1644388851676?restype=REDACTED",](https://%2A%2A%2A.blob.core.wind

[2022-02-11 02:43] EmmaZhu commented on #18809
Randomly failure, the testing target file might be writing by other process. Close this issue for now and waiting for a repro.

[2022-02-11 02:43] #18809 closed

[2022-02-11 02:44] EmmaZhu commented on #19884
Fixed with PR: https://github.com/Azure/azure-sdk-for-js/pull/20306

[2022-02-11 02:46] #20330 closed

[2022-02-11 02:58] v-xuto commented on #20329
@Azure/acs-identity-sdk for notification.

[2022-02-11 05:44] zedy-wj commented on #18680
@maorleger - The same problem also exists in `can update the tags of a certificate` and `can delete a certificate` tests. I modified it with reference to your PR #20176. The pipeline can be more stable, but there will be errors in CI. Could you help me take a look?

Notes: My PR is here: #20276, thanks!

[2022-02-11 05:45] EmmaZhu commented on #18262
Rerun the case passed. Could be caused by a transient network failure. Close the issue for now and wait for a repro to get more investigation info.

[2022-02-11 05:45] #18262 closed

[2022-02-11 06:08] winterAndvelvet commented on #20274
@jeremymeng  thank you

[2022-02-11 06:51] EmmaZhu commented on #19852
https://github.com/Azure/azure-sdk-for-js/pull/20332

[2022-02-11 06:52] EmmaZhu commented on #20012
Randomly failure. Close this issue and wait for a repro to get more information for investigation.

[2022-02-11 06:52] #20012 closed

[2022-02-11 06:55] EmmaZhu commented on #19731
All failures are for soft delete, seems soft delete is not enabled correctly in the account. Recent test pipeline passed. Close this issue and should be able to get more information for investigation if it repros in the future.

[2022-02-11 06:55] #19731 closed

[2022-02-11 06:56] EmmaZhu commented on #19433
Rerun passed. Close this issue for now and wait for a repro to get more information for investigation.

[2022-02-11 06:56] #19433 closed

[2022-02-11 08:58] ZejiaJiang opened #20334 "[servicebus] Check SDK support described types in message serialization and deserialization"
We received a [bug report](https://github.com/Azure/azure-sdk-for-java/issues/26065) in java SDK. Customer cannot cast property attribute from servicebus messages which are sent by .net SDK.

After investigation, we found that .net SDK support `Uri`, `DateTimeOffset` and `TimeSpan` object by using described types in amqp. But java SDK haven't mapped any of these described types.

Here is .net doc:

[2022-02-11 17:57] witemple-msft opened #20338 "[ai-form-recognizer] Support external `DocumentModel` objects."
`beginAnalyzeDocument` supports two types of model inputs:

- A model ID as a string.
- A `DocumentModel` instance.

![image](https://user-images.githubusercontent.com/77019085/153465065-86c9ccf8-fb71-43ba-ba95-c20a5e634f1b.png)

A `DocumentModel` has a model ID, a `fromDocument` transform function, and an associated `Result` type (a generic type parameter). Currently, all `DocumentModel` instance

[2022-02-11 18:05] levimiller-qhrtech opened #20339 "Joining a call always uses the default microphone"
- **Package Name**: @azure/communication-calling
- **Package Version**: ^1.3.0
- **Operating system**: Mac or Windows
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**: Version 97.0.4692.99
- [ ] **typescript**
    - **version**: 4.3.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.mic

[2022-02-11 18:05] azure-sdk commented on #20339
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.28985038,IoT:0.18415412,Service Bus:0.039348423'

[2022-02-11 18:48] sajeetharan commented on #20162
@developer-ankursingh Sorry for the delayed response, we were able to capture your requests in the backend and it looks like an issue to be on the SDK related to cache on the client side which maintains the partition key range. We will work on this fix soon.

[2022-02-11 19:27] sadasant commented on #20308
@jdthorpe This is indeed unintended. I’m working on a path of action! Thank you for bringing this to us, and for following up. This helps us a lot!

[2022-02-11 19:57] sadasant opened #20341 "[core-rest-pipeline] Explore adding request options to control the retry policies"
Currently, if an HTTP client is made with the default policies, and one tries to use it to send a single request to a service that answers with 5XX, the request will take about ~5 minutes to fail since it follows the exponential retry policy up to 10 retries.

Beyond that specific case, it might be interesting to add request options to control the retry policies on a per-request basis 🙂

[2022-02-11 20:30] jeremymeng opened #20343 "[Test][EventGrid] browser playback tests failing"
MS Internal: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1360673&view=logs&j=5e37f95d-839f-535f-6f78-cdadfd4e5b5d&t=47aa0d6e-0aaa-519c-b2d3-3f3e50f9f0e4
[code]

[2022-02-11 20:31] azure-sdk commented on #20343
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.26172054,Storage:0.09341167,Network - DNS:0.083794914'

[2022-02-11 20:33] HarshaNalluru commented on #20343
Going to go with HeaderlessMatcher

[2022-02-11 20:42] jeremymeng commented on #20282
@jakemangansw Thank you for reporting the issue!  I will try to reproduce it in our environment.  Meanwhile, you may want to turn on the detailed logging and see if there are anything unusual happening. Please refer to the troubleshooting section for more information on getting debug logs:

https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/servicebus/service-bus/README.md#troubleshooting

It

[2022-02-11 20:55] KarishmaGhiya commented on #18126
In this case we expect Msal to throw MsalInterationRequiredError/Exception.
So, whenever we get that, it means token is expired.
You can just mock out that exception from MSAL to simulate the error.

[2022-02-11 21:09] KarishmaGhiya commented on #20142
Fixed by #20226

[2022-02-11 21:09] #20142 closed

[2022-02-11 21:10] #20343 closed

[2022-02-11 21:19] xirzec commented on #20341
I like this idea, especially if we can do it without making the retry policies mega-complicated

[2022-02-11 21:21] joheredi opened #20346 "[DevTool] Run test:node command doesn't ignore browser folder in Windows"
Running the dev-tool comman `dev-tool run test:node-js-input -- --timeout 5000000 'dist-esm/test/**/*.spec.js'` doesn't seem to effectively ignore the browser folder when run in Windows systems, Mac and Linux seem to ignore correctly.

For example the data-tables SDK has the following folder structure:
[code]
The filter path that dev-tool has is not excluding browser in Windows systems
https://git

[2022-02-11 22:37] KarishmaGhiya opened #20347 "[identity] Expose "validate_authority" to users"
Goal: expose "validate_authority" so user can explicitly disable the validation if they want to use custom domain. https://github.com/Azure/azure-sdk-for-python/pull/22786/
[ClientSecretCredential.get_token() fails in case of azurestack if we provide 'authority' URL · Issue #22625 · Azure/azure-sdk-for-python (github.com)](https://github.com/Azure/azure-sdk-for-python/issues/22625)

[2022-02-11 23:10] maorleger opened #20348 "[linter] - ts-use-interface-parameters doesn't work when importing class from another package"
... I think

An easy way to reproduce this would be to:
- Change the type of `_containerClient` and the `containerClient` parameter here: https://github.com/Azure/azure-sdk-for-js/blob/af5fddef3dbc1ce81ee0cfa781996f249bc1ed81/sdk/eventhub/eventhubs-checkpointstore-blob/src/blobCheckpointStore.ts#L19-L27 to `ContainerClient` instead of `containerClientLike`
- Run the linter

Expected:
An error abou

[2022-02-12 02:34] developer-ankursingh commented on #20162
@sajeetharan  Thank you for the update ! Let us know whenever you push out the fix so that we can validate and confirm.

[2022-02-12 05:37] JonathanCrd commented on #20346
Something that could be related to this:
running `"unit-test:node": "dev-tool run test:node-ts-input -- --timeout 1200000 --exclude 'test/**/browser/*.spec.ts' 'test/**/*.spec.ts'"` is not recursive for Ubuntu and MacOS. Windows seems to be fining all tests inside any directory inside `test/`.

An example can be found in this PR: https://github.com/Azure/azure-sdk-for-js/pull/20178#issuecomment-10

[2022-02-12 09:32] franpb90 commented on #20311
Thank you, I would test it. I still think it would be good to have it. However, I understand the point of view against it, and implement the solution seems a quick and good approach.

[2022-02-12 09:32] #20311 closed

[2022-02-14 05:59] qiaozha commented on #20249
This issue is not related with the apiversion. even if we use 25.4.0 which is generated from 2021-05-01, Track1 SDK still works.

The reason why Track1 SDK works and Track2 SDK doesn't is because service backend returned 201 status and provisioningState updating for the inital response, and in previous we just think 201 as successful and won't keep polling just returned the result directly. but in

[2022-02-14 13:26] sajeetharan commented on #20082
@jmiguel77 do you have an update on the above? If not we will close the issue

[2022-02-14 14:05] azure-sdk opened #20363 "Dependency package lru-cache has a new version available"
We have identified a dependency on version 6.0.0 of lru-cache. A new version (7.4.1) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package (/sdk/

[2022-02-14 14:05] azure-sdk commented on #20363
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.31037417,Service Bus:0.14600384,Azure.Identity:0.05549664'

[2022-02-14 18:31] jeremymeng commented on #20131
by default, we retry on error up to 3 times, with initial delay of 30 seconds and max delay of 90 seconds.  One possibility is that the code was retrying but since no logs were printed out it might appear like a hang.

[2022-02-14 19:13] jeremymeng commented on #19883
@MBurchard we just released `@azure/service-bus` v7.5.0.  Now you should be able to specify a preferrable delay when creating the ServiceBusClient

[code]
The default delay is 30 seconds if the option is not specified.

I am closing this. Please let us know if you are seeing any issues.

[2022-02-14 19:13] #19883 closed

[2022-02-14 23:39] dehoward opened #20367 "[dtdl-parser] Github "Homepage" link on NPM page is broken"
https://www.npmjs.com/package/@azure/dtdl-parser

[2022-02-14 23:40] azure-sdk commented on #20367
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.4748111,Storage:0.04792062,Azure.Core:0.046438526'

[2022-02-15 01:52] EmmaZhu commented on #20320
Hi @indoben ,

I cannot see the root cause just from the function. If you can share the request ID for the 400 error, I'll try to find some clue from storage service.

Thanks
Emma

[2022-02-15 06:09] v-jiaodi opened #20369 "[Event Hubs] Execute Samples failing in nightly runs"
Event Hubs nightly test runs are failing with:

![image](https://user-images.githubusercontent.com/80496810/153983955-e095415d-92b7-4170-bd83-e001f5806aa7.png)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1365791&view=results

[2022-02-15 06:09] azure-sdk commented on #20369
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.4654374,Event Hubs:0.3075045,Docs:0.035000175'

[2022-02-15 06:09] v-jiaodi opened #20370 "[Schema Registry] SchemaRegistryClient fails to get schema ID when given invalid args failing in nightly runs"
Schema Registry nightly test runs are failing with:

    at isRejected (/mnt/vss/_work/1/s/sdk/schemaregistry/schema-registry/test/public/schemaRegistry.spec.ts:54:12)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1364018&view=results

[2022-02-15 07:54] EmmaZhu commented on #18219
Hi @mikeharder ,

Storage server can occasionally report this kind of error. Uploading large file would have larger rate to encounter this kind of error on server. Usually, client side should retry when meets the error.  Currently, there's no retry mechanism for file uploading.    Still have no idea why this error occurs in JS but .Net works well. I didn't see retry mechanism in .Net code either..

[2022-02-15 13:31] filipendo125 opened #20378 "Connecting directly to Azure Storage Container through Azure Storage JS"
- **Package Name**:  Azure Storage
- **Package Version**:  12.8.0
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [X] **browser**
    - **name/version**:  v12
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I am not fully su

[2022-02-15 15:15] lucasrsant opened #20379 "Update the @azure/communication-phone-numbers package to use the new @azure/communication-common"
This is a dependency for https://github.com/Azure/azure-sdk-for-js/issues/20056 and https://github.com/Azure/azure-sdk-for-js/issues/15814, please follow links in the issues to learn about the Core v2 migration effort.

The `@azure/communication-phone-numbers` package is currently using 1.1.0 version of the `@azure/communication-common`, which relies on Azure Core v1 instead of v2. The package mus

[2022-02-15 15:20] bwateratmsft opened #20380 "Most Track 2 SDKs do not actually support paging"
- **Package Name**: Most of them
- **Package Version**: Track 2
- **Operating system**: All
- [x] **nodejs**
    - **version**: 14
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Most of the T

[2022-02-15 16:09] maorleger opened #20381 "[test-util] - Add additional configuration options to `supportsTracing`"
When upgrading eventhubs in [this PR](https://github.com/Azure/azure-sdk-for-js/pull/20240) I noticed that the existing `supportsTracing` test helper could use some additional configuration. In the PR I just did those validations using sinon mocks, but ideally we'll be able to pass those into `supportsTracing`

Some things that I was missing:
- ignoreDuplicateSpanNames -> Since LROs poll N times w

[2022-02-15 16:10] azure-sdk commented on #20381
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Configuration:0.09364054,Azure.Core:0.09225228,Cosmos:0.07851388'

[2022-02-15 16:12] maorleger opened #20382 "Tracing - Copper"
This epic contains tracing related issues slated for the next semester. Feel free to move, rename, reparent, etc as you see fit!

[2022-02-15 16:16] maorleger opened #20383 "[test-util] - Developers can see tracing spans in verbose logging"
Idea: when a developer enables verbose logging we should be able to dump out tracing span information whenever a span is ended. This will allow additional observability in test failures and can be easy to do.

The only thing that is needed to figure this out is: what's the best way to set the instrumenter to our test-utils instrumenter when tests start. Is it a require option to mocha or something

[2022-02-15 16:17] indoben commented on #20320
@EmmaZhu Is this what you need:

`x-ms-client-request-id': {
          name: 'x-ms-client-request-id',
          value: 'f2ca7412-836d-4e8b-81bc-a81fa3614c3e'
        }`

[2022-02-15 18:22] jeremymeng opened #20384 "[engsys] core-amqp is always built when doing rush build"
Repro steps:

* run `rush build -t service-bus` twice

Actual:

core-amqp always get rebuilt

Expected:

core-amqp should be skipped in the 2nd and following build when there's no change.

Note: there's rollup circular dependency warnings when building core-amqp.

[2022-02-15 19:38] #20369 closed

[2022-02-15 19:39] #18973 closed

[2022-02-15 19:39] #18974 closed

[2022-02-15 19:39] #18975 closed

[2022-02-15 19:40] #18976 closed

[2022-02-15 19:40] #18972 closed

[2022-02-15 19:40] #18971 closed

[2022-02-15 19:40] #18970 closed

[2022-02-15 19:40] #18969 closed

[2022-02-15 19:40] #18968 closed

[2022-02-15 19:40] #18967 closed

[2022-02-15 19:40] #18966 closed

[2022-02-15 19:40] #18965 closed

[2022-02-15 19:40] #18964 closed

[2022-02-15 19:40] #18963 closed

[2022-02-15 19:40] #18962 closed

[2022-02-15 19:40] #18961 closed

[2022-02-15 19:42] jeremymeng opened #20388 "[ServiceBus] Live tests pipeline timed out"
Nightly live tests are timing out.  Likely related to PR #20316.

Now that we added delay before restarting retry cycle, the default delay of 30s and max delay of 90s for Exponential retries are probably too high for negative tests that test errors.

[2022-02-15 19:57] praveenkuttappan opened #20389 "Remove Eventhub-processor-host from track1 build"
Track1 build script is finding sample package inside azure-eventhub-processor-host and including it in listof packages to publish.

[2022-02-15 20:29] jeremymeng commented on #11850
@dcegress I haven't been able to repro the issue.  My connections are closed after clicking different positions of the progress bar.  Are there anything else I should set?

[2022-02-15 20:30] #18130 closed

[2022-02-15 20:34] jeremymeng commented on #18798
@zoladkow we have released `@azure/service-bus` v7.5.0 which includes a fix to this.  Please give it a try. Feel free to report back if there are any other issues.

[2022-02-15 20:34] #18798 closed

[2022-02-15 20:36] jeremymeng commented on #14431
I believe this has been addressed in the unified recorder?

[2022-02-15 20:36] #14431 closed

[2022-02-15 20:38] HarshaNalluru commented on #14431
Yes 😎

[2022-02-15 20:38] jeremymeng commented on #20388
Looks more like the mocha process didn't exit.  The tests finished after about an hour.
![image](https://user-images.githubusercontent.com/7583839/154145196-8a803f4d-c8b8-4521-a9a0-9f02421a2a12.png)

[2022-02-15 21:05] HarshaNalluru opened #20392 "[Recorder] Something wrong with sanitizers - recorder package tests"
Failing pipeline https://dev.azure.com/azure-sdk/public/_build/results?buildId=1369409&view=logs&jobId=e2d7a856-780b-57e9-ffc4-433b2df6e11f&j=8e53f975-cb08-5633-c657-6f4278fa23cb

there's exactly one test failing, and it's pretty consistent. Specifically, it looks like we're sanitizing properly, but the recording at rest doesn't have the same sanitization.

[code]

and the request actually starts

[2022-02-15 21:05] azure-sdk commented on #20392
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.40917987,Extensions:0.08247546,Functions:0.067320704'

[2022-02-15 22:01] #20205 closed

[2022-02-15 22:57] HarshaNalluru opened #20400 "[Recorder] Improve error messages - decode the unicodes in the error messages"
## Example error
[code]
The Unicode escaping makes it hard to see what is going on.
Improve error messages by decoding the Unicodes in the error messages

_Originally reported by @maorleger_

[2022-02-15 22:57] azure-sdk commented on #20400
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.4897069,Storage:0.12733443,Azure.Core:0.11423343'

[2022-02-15 23:02] deyaaeldeen commented on #20380
@bwateratmsft Thanks for your report! You're right, currently, the `byPage` method for ARM operations do not accept any options. Azure ARM packages are auto-generated and https://github.com/Azure/autorest.typescript/issues/1199 tracks updating the generated code for pageable operations to support options for `byPage`.

Some operations do support the same functionality though with an option on the

[2022-02-15 23:03] #20392 closed

[2022-02-15 23:04] HarshaNalluru opened #20401 "[Recorder] Add custom matcher support"
Add custom matcher support

![image](https://user-images.githubusercontent.com/10452642/154177264-9538b7a4-6020-4ff8-b398-1f2761456866.png)

[2022-02-15 23:05] azure-sdk commented on #20401
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.22862476,Cosmos:0.1554008,Automation:0.1437731'

[2022-02-15 23:29] arifibrahim4 opened #20402 "Core v2 migration @azure/communication-sms package and using new @azure/communication-common"
This is a dependency for https://github.com/Azure/azure-sdk-for-js/issues/20056 and https://github.com/Azure/azure-sdk-for-js/issues/15814, please follow links in the issues to learn about the Core v2 migration effort.

The @azure/communication-sms package is currently using 1.1.0 version of the @azure/communication-common, which relies on Azure Core v1 instead of v2. The package must be upgraded

[2022-02-16 00:47] ramya-rao-a commented on #19737
Closing in favor of #20379 which tracks updating this package to use core v2

[2022-02-16 00:47] #19737 closed

[2022-02-16 03:43] mikeharder commented on #18219
@EmmaZhu: This was found during JS perf testing, not a real-world scenario.

[2022-02-16 03:48] sadasant commented on #20308
@jdthorpe After narrowing down the problem, here’s the PR: https://github.com/Azure/azure-sdk-for-js/pull/20406

We will release a patch this week. Please stay tuned! We will ask you to confirm that this patch fixes the behavior you were experiencing.

[2022-02-16 03:49] sadasant commented on #20341
Turns out I didn’t need this feature. See this PR: https://github.com/Azure/azure-sdk-for-js/pull/20406

I’ll close this issue for now.

[2022-02-16 03:49] #20341 closed

[2022-02-16 07:16] qiaozha commented on #17499
@MRayermannMSFT I think this issue have been resolved. Could you try again and let us know if it's not ? Thanks

[2022-02-16 07:20] qiaozha commented on #20026
I will take a look at this issue later

[2022-02-16 09:50] petrsvihlik commented on #20329
waiting for RP to resolve the issue on their side. they have merged a PR with a fix, should be resolved once deployed.

[2022-02-16 09:50] #20329 closed

[2022-02-16 15:42] xiangyan99 commented on #20147
Yes. This request is to achieve language consistency. Java already supports the feature and we also created requests for Python and .net.

[2022-02-16 15:57] bwateratmsft commented on #20380
Thanks. I tried `top` and it does work as I would expect it to, but without extra work, it doesn't really solve our problem. We could load e.g. top 25, top 50, top 75, etc.--but recreating all of the items in the tree isn't right, so we would need to write extra code to ignore the first e.g. 0, 25, 50 items of those top 25, 50, 75 listings. Aside from this being a confusing pattern, I'd be concern

[2022-02-16 17:14] maorleger opened #20411 "[tracing] - Add guidelines for tracing"
Keeping a running list of guidelines we want to add in the next semester to https://azure.github.io/azure-sdk/typescript_implementation.html#general-distributed-tracing

- [ ] What methods must be traced
- [ ] SHOULD use supportsTracing test helper?
- [ ] How to trace through asyncIterator as per https://github.com/Azure/azure-sdk-for-js/pull/20399/files#r808190652

[2022-02-16 17:46] witemple-msft commented on #10086
Closing in favor of #19442

[2022-02-16 17:46] #10086 closed

[2022-02-16 17:47] #15244 closed

[2022-02-16 17:48] witemple-msft commented on #17996
@HarshaNalluru implemented this, so I'm closing this issue.

[2022-02-16 17:48] #17996 closed

[2022-02-16 18:02] witemple-msft commented on #8663
Closing this, as the new recorder seems to address it (BodilessMatcher) and we have another issue to track eliminating POST bodies from the recording files as well.

[2022-02-16 18:02] #8663 closed

[2022-02-16 19:06] HarshaNalluru commented on #17996
Thanks for closing the issue. 😎

[2022-02-16 19:23] xirzec commented on #20148
In general, I prefer the latter, since it's more obvious that it is a grab-bag, but if you think naming the indexer with `dtmi` makes better semantic sense in this case, I don't have a problem with it.

[2022-02-16 19:28] witemple-msft opened #20414 "[ai-form-recognizer] Gracefully handle 429 Conflict responses in model creation pollers."
Under certain circumstances, a model creation operation may succeed in creating an operation resource with a given ID, but produce a 500 error (because the backend fails to transmit the response or some similar issue). In such cases, our retry policy will attempt to send the request again, but because the operation actually succeeded, the result will be an HTTP 429 Conflict, indicating that a mode

[2022-02-16 19:28] YoDaMa commented on #20148
Currently `@azure/iot-modelsrepository` is a dependency of the package due to the necessity of populating `.getModels` in order to parse models with dependencies. This feels a bit circular since `@azure/iot-modelsrepository` has a `psuedoParser` field, which will eventually be replaced with the parser from `@azure/dtdl-parser`. We will need to resolve this between the planning teams of the Parser

[2022-02-16 19:30] YoDaMa commented on #20148
follow up, if we know that DTDL is a superset of JSON-LD, should we make the type of the returned value `{[dtmi: string]: JSON}`? Or create a `DTDL` interface that extends `JSON`? This will matter regardless of if we use `Record<string, unknown>` or the current way.

[2022-02-16 19:42] xirzec commented on #20148
There isn't really a `JSON` type, but if you can express a meaningful interface that's always helpful, otherwise `unknown` is a great placeholder for the dev needing to map it to the appropriate typing. (e.g. JSON.parse() is going to return some arbitrary shape based on the string, but if you know what you are parsing or inspect it at runtime you can cast.)

[2022-02-16 20:02] witemple-msft opened #20415 "[ai-form-recognizer] Test `"neural"` model build mode."
We currently don't test this build mode in Form Recognizer because it takes much longer than the "template" build mode to create (usually between fifteen minutes and an hour to build a neural model). We have proposed creating a static Form Recognizer resource (that won't be created/destroyed between test runs) and training a neural model in that resource, then using it to test neural analysis duri

[2022-02-16 20:19] witemple-msft opened #20416 "[ai-form-recognizer] Better test coverage of custom LRO implementation."
The Form Recognizer `PollerLike` implementation is custom, but not as thoroughly tested as the core-lro implementation. We currently rely on the Form Recognizer client API tests to inductively validate the implementation. We should add some test cases of the following scenarios to ensure the poller works correctly:

It would also be nice if the FR poller implementation could be added as an option

[2022-02-16 20:30] bwateratmsft commented on #20380
I just tried the above sample. The first page of five came through successfully, but then it threw an error on the next iteration (code `InvalidTopInQueryString`):
[code]

In your description though it suggests `top` is used to control page size, rather than `PageSettings.maxPageSize` as is passed in to `byPage()` (and ignored due to https://github.com/Azure/autorest.typescript/issues/1199).

[2022-02-16 20:48] deyaaeldeen commented on #20380
Yes, you can find `byPage` support for `PageSettings.maxPageSize` in data-plane libraries such as @azure/storage-blob but it is currently not supported in ARM ones.

Huh, interesting. I guess the continuation token part of the first response already has top set to 5 but the library wanted to set it to 5 again so the core library decided to merge the two values for the param by concatenation? We ca

[2022-02-16 20:55] bwateratmsft commented on #20380
Wouldn't it be clearer to make the return type a simple `AsyncIterableIterator<T>` then, rather than `PagedAsyncIterableIterator<T>`?

That code does work although without a quantity limit. We would have to wrap some sort of manual paging around that to preserve the user experience. But, then I'd worry it would break down if the ARM libraries started fully implementing `PagedAsyncIterableIterator<

[2022-02-16 21:04] witemple-msft opened #20419 "[ai-form-recognizer] Use field validator in all tests."
During the 4.0.0-beta.3 work cycle, I added a testing component called a "field validator" to the Form Recognizer package. The field validator is a tool used to verify expectations about the shapes of document outputs without writing a lot of assertions manually.

I implemented the field validator for W2 documents only, but would like to convert other document model tests to use the same feature:

[2022-02-16 21:27] deyaaeldeen opened #20420 "[core] parameters in an absolute URLs are not set correctly"
As indicated in https://github.com/Azure/azure-sdk-for-js/issues/20380#issuecomment-1042226746, the `top` parameter was being set by the client but it was also already set in the absolute URL to send the request to. The replacement process created a parameter set to both values with a comma in between which is not valid.

[2022-02-16 21:29] deyaaeldeen commented on #20380
Well, `byPage` is part of `PagedAsyncIterableIterator` only and even without accepting any options, it is still a useful method and making it support options is an additive change so existing code should not break.

So, it looks like you found a bug in how we set parameters in our core libraries! I opened https://github.com/Azure/azure-sdk-for-js/issues/20420 for tracking and I will try to make a

[2022-02-16 23:24] deyaaeldeen commented on #20370
Code complete in https://github.com/Azure/azure-sdk-for-js/pull/19723

[2022-02-16 23:24] #20370 closed

[2022-02-16 23:25] HarshaNalluru commented on #18007
#20273

[2022-02-16 23:25] #18007 closed

[2022-02-17 00:01] hamsa-s opened #20421 "Rush update fails using Node v17 on MacOS 11.6.1 (Big Sur)"
The following error occurs when running `rush update` using Node v17  but successfully passes when using v16.

Here are the versions I was using when the command failed:
Node - 17.0.0
NPM - 8.3.1
Python - 3.9.7
macOS - 11.6.1

The output of the error is below:

node_modules/.pnpm/https://github.com/Azure+msal-node-extensions@1.0.0-alpha.13/node_modules/@azure/msal-node-extensions:
Running install

[2022-02-17 01:41] sadasant commented on #20308
@jdthorpe we have released [@azure/identity@2.0.3](https://www.npmjs.com/package/@azure/identity/v/2.0.3) — it includes a fix that should work for your situation. Please, try it when you find some time! Your feedback is appreciated 🙏

[2022-02-17 01:55] EmmaZhu commented on #18219
I see. Thanks a lot. I'll put this as a feature request/improvement in our backlog.

[2022-02-17 03:14] KarishmaGhiya opened #20429 "[Identity] Move the common files between Identity and Identity plugins to a shared location"
We are running into build issues for upgrading the versions of identity. Here's the summary:

In the CI, the plugin packages identity-vscode and identity-cache-persistence are built first. Adn these import AzurePluginContext directly from the source files of identity package. The semver version dependency of these packages depend on the 2.0.x versions of identity and upgrading the local version of

[2022-02-17 08:02] #19888 closed

[2022-02-17 08:02] #19835 closed

[2022-02-17 09:01] bobalong79 commented on #15421
Hi @omrodrig is it possible for the team to release the cost management SDK?

[2022-02-17 09:51] PanzerHabba opened #20435 "[Communication Calling] - Unable to join group-call"
- **Package Name**: @azure/communication-calling
- **Package Version**: 1.3.2
- **Operating system**: Windows
- [ ] **nodejs**
    - **version**:
- [x ] **browser**
    - **name/version**: Chrome / 98.9.4758.102
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

[2022-02-17 10:14] EmmaZhu commented on #20378
Hi @filipendo125 ,

Could you share the URL you were using to create the container client instance? Please remove the "sig=****" part from the URL.

From the error message, it seems the URL format may not be correct for the parser, so I'd like to check the URL format first.

You won't expose your credential with removing the "sig=***" part.

Thanks
Emma

[2022-02-17 14:47] bwateratmsft commented on #20380
I think the answer is yes, but since we'd want to advance the page manually, would it work to just call `await pagingIterator.next()` when the user requests another page? As opposed to `for await (const page of client.resourceGroups.list().byPage()) { ... }`

[2022-02-17 17:34] deyaaeldeen commented on #20380
Absolutely! `byPage` itself returns an `AsyncIterableIterator` so you can next it as long as `done` of the previous item is false.

[2022-02-17 19:04] witemple-msft commented on #20421
Related conversation: https://github.com/Azure/azure-sdk-for-js/pull/20229#issuecomment-1042058965

[2022-02-17 19:55] omrodrig commented on #15421
Hi – we apologize for the late response. We recommend moving your workloads off of the Query API and onto the Usage Details API. We are no longer actively developing Query API and plan to retire it in the future. As such, we will not be updating any additional SDKs that use this API. To learn more about Usage details, see [Manage Azure costs with automation | Microsoft Docs](https://nam06.safelink

[2022-02-17 20:26] witemple-msft commented on #19952
@sabicd

I did a little digging, and given that the error is ENOTFOUND, I think this might be related to an issue we've also seen with some Linux deployments in Azure. It's quite a strange bug, but I wonder if you could provide the following info to help get to the bottom of it:

- Is the container using an Ubuntu or Debian base image (if not, which distribution is it using)?
- Does the container

[2022-02-17 21:06] sadasant commented on #20421
@hamsa-s hello hello!

I was unable to reproduce this problem. Can you try in a new fork, running `rush update` with Node 17? please tell me if it fails then.

Alternatively, you can remove all of the local cache that Rush has. You can run `rush reset-workspace` and then `rush update`. Keep in mind that: `rush reset-workspace` will remove all the .gitignored files, like your `.env` files.

Your fe

[2022-02-17 21:08] sadasant commented on #20421
Wait, I just realized I didn’t test in MacOS. I’ll be back.

[2022-02-17 21:43] #18877 closed

[2022-02-17 21:43] #18878 closed

[2022-02-17 21:43] #19594 closed

[2022-02-17 21:46] witemple-msft commented on #18877
@qiaozha The latest dev-tool changes have a fix for the default import. It is still required to change instances of `?.` and `??` to syntax that is compatible with Node 12 in order to generate the samples (until Node 12 support is dropped in November).

[2022-02-17 22:10] #20389 closed

[2022-02-17 23:01] JonathanCrd opened #20439 "[Template] sample.env file does not provide information on what type of resource is template based on"
While working on [Migrate Template project to use CoreV2 #19748](https://github.com/Azure/azure-sdk-for-js/pull/19748), I noticed that the `sample.env` file does not provide information on what resource to create in order to run the recordings, tests, and samples.

An extra line providing information about template being based on App Configuration could be helpful to know what type of resource the

[2022-02-17 23:24] deyaaeldeen commented on #20420
Related work: https://github.com/Azure/azure-sdk-for-js/pull/18310

[2022-02-17 23:28] maorleger commented on #5607
I have https://github.com/Azure/azure-sdk-for-js/pull/20399 demonstrating this approach and #20411 tracking adding all this info to the guidelines in the next semester so I think it's safe to close this. Let me know if you disagree and we can reopen it.

[2022-02-17 23:28] #5607 closed

[2022-02-17 23:34] sadasant commented on #20421
@hamsa-s alright, after upgrading msal-node-extensions to 1.0.0-preview.15 the problem went away for me! I have made a PR with this change: https://github.com/Azure/azure-sdk-for-js/pull/20441 — please let us know if that solves the problem you were experiencing 🙏

[2022-02-17 23:42] HarshaNalluru commented on #19267
As you haven't provided the exact steps to repro your issue, went ahead with a quick-start template for the angular app in the context of electron.
Followed the quick-start template and added the previous listing-settings snippet to the sample and was able to list the settings properly without much of a hassle.

Look at the screenshot below.
![image](https://user-images.githubusercontent.com/10452

[2022-02-18 02:11] jeremymeng opened #20445 "Remove url.ts and url.browser.ts"
Now that we only support LTS NodeJS versions. `URL` is available in global scope so we don't need these files anymore.  They should be removed.  `URL` can be used directly without any imports.  Browser mappings for these files in package.json should also be removed.

[code]

[2022-02-18 02:16] sadasant commented on #20308
@jdthorpe awesome! Thank you so much! Please count with us if you need anything else 🙏

[2022-02-18 02:16] #20308 closed

[2022-02-18 02:56] v-jiaodi opened #20446 "[Text Analytics] [APIKey] TextAnalyticsClient LROs #health operation metadata failing in nightly runs"
Text Analytics nightly test runs are failing with:

    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts:2895:18)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1373912&view=results

[2022-02-18 02:56] v-jiaodi opened #20447 "[Event Hubs] EventData round-tripping AMQP encoding/decoding null body failing in nightly runs"
Event Hubs nightly test runs are failing with:

    at Test.Runnable._timeoutError (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:442:10)
    at Timeout.<anonymous> (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:252:24)
    at listOnTimeout (internal/timers.js:554:17)
    at processTimers (interna

[2022-02-18 02:57] v-jiaodi opened #20448 "[Service Bus] Batching Receiver Batch Receiver - disconnects Session Batch Receiver failing in nightly runs"
Service Bus nightly test runs are failing with:

    at translateServiceBusError (D:\a\_work\1\s\sdk\servicebus\service-bus\src\serviceBusError.ts:86:63)
    at MessageSession._init (D:\a\_work\1\s\sdk\servicebus\service-bus\dist-esm\src\session\messageSession.js:39:1530)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details ch

[2022-02-18 04:02] #20281 closed

[2022-02-18 06:36] hamsa-s commented on #20421
Hmm for some reason I still get the same error. I pulled the PR and tried to run `rush update`. Is there anything else I should do?

[2022-02-18 08:49] PanzerHabba commented on #20435
Here are some more logging when I try to use the callAgent.join({groupId: <GUID>}, {audioOptions: {muted: false}}):

09:33:26.087 azure:ACS:warning 2022-02-18T08:33:26.087Z CallClient1:CallStack:MA:webrtc2-1:SSM Sender with media type Audio does not exist, do not update media stream
09:33:26.240 azure:ACS:warning 2022-02-18T08:33:26.240Z CallClient1:CallStack:MA:webrtc2-1 On ICE candidate error tu

[2022-02-18 12:12] PanzerHabba commented on #20435
azure:ACS:info 2022-02-18T12:06:54.382Z CallClient1:CallStack:PluginlessStack:Web[7344c3f5-c4d8-4849-a735-f92a2c83b387][818a007d][d35680e2][2]:[5126892c][joinOrStartWithMedia] failed={"error":{"stack":"Error:AssertNotNullfailed.:messagingchannelurlisnotset\natObject.assertNotNull(webpack-internal:///./node_modules/@azure/communication-calling/dist/sdk.bundle.js:85:487673)\natObject.get(webpack-int

[2022-02-18 14:20] bwateratmsft commented on #20380
So aside from the `top` [issue](https://github.com/Azure/azure-sdk-for-js/issues/20420), is it planned to implement support for the `maxPageSize` parameter across the ARM libraries?

[2022-02-18 14:55] sadasant commented on #20421
@hamsa-s it could be something else in the environment. I could also be missing something. Let’s try this:

- Can you run `rush reset-workspace` and then run `rush update`?
- Can you try on a fresh new clone of the repository?

[2022-02-18 16:46] witemple-msft commented on #20421
Also, please make sure you have the XCode developer tools (just the command-line tools are sufficient) from Apple: https://developer.apple.com/download/all/

[2022-02-18 17:15] jeremymeng commented on #20447
@deyaaeldeen  has been working on this one.

[2022-02-18 18:29] sarangan12 commented on #20380
@deyaaeldeen I will prioritize this issue and start working on it next week. I will release a new version shortly after that.

[2022-02-18 19:17] #20401 closed

[2022-02-18 20:49] HarshaNalluru opened #20456 "[Web PubSub] Setup live test pipeline"
There is no `js - web-pubsub - tests` pipeline.
This issue is to track the work to create the pipeline.

cc @bterlson

[2022-02-18 20:52] HarshaNalluru opened #20457 "[Web PubSub] test-resources.json and {sample|test}.env"
- `test-resources.json` is missing for web-pubsub
- Copying https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/webpubsub/test-resources.json can help, but a couple of tests are failing with those, the template would need tweaking
  - ![image](https://user-images.githubusercontent.com/10452642/154759745-281efd36-a7c7-4580-a73c-961b4625e4b6.png)
- Update/Add the test.env to show all the enviro

[2022-02-18 20:52] azure-sdk commented on #20457
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.19857042,Web Apps:0.08299871,Event Hubs:0.039494794'

[2022-02-18 22:00] billwert opened #20461 "Unify behavior of clientId and resourceId"
Recently we added the ability to set both a `clientId` and `resourceId` for user assigned managed identity lookups. This exposes the problem that if an environment sets `AZURE_CLIENT_ID` while the deployed code sets `resourceId` we'll hit an exception.

The work item here is two parts:
- [ ] decide what the correct behavior is when the environment variable is set. Do we throw? Do we always prefer

[2022-02-19 00:58] sadasant opened #20466 "[Identity] Add support for App Service 2019"
We removed support for it a while ago, let’s add it back.

Once we add it, let’s also support resource Id. Remember that the parameter for App Service 2019 is mi_res_id.

[2022-02-19 03:00] EmmaZhu commented on #20320
Hi idoben,

This is the client request id. I'd need request id returned from service with header: "x-ms-request-id".

Thanks
Emma

[2022-02-20 00:41] hamsa-s commented on #20421
I created a new clone of the repository, ran `rush reset-workspace` and `rush update` and the issue still exists. I have v11 of the command line XCode tools from Apple. Let me know if updating the XCode tools could make a difference and I can try that too!

[2022-02-20 00:42] sadasant commented on #20421
@hamsa-s thank you! I’ll take a look in a couple of days 🙏

[2022-02-21 02:33] amishra-dev commented on #20320
@EmmaZhu i don't think we will be able to look up the request id as the customer is saying
"Create a BlobServiceClient (tied to a storage account in a US Government region)"

@indoben Ben, if you look at the full http response, you will see the exact error (Error and error description). If you can share the body of the response we could help you.

[2022-02-21 05:10] lirenhe commented on #20380
@sarangan12, it seems this change would impact mgmt. SDK, could you share more details about that?
cc @qiaozha

[2022-02-21 06:26] EmmaZhu commented on #19852
Fix merged

[2022-02-21 06:26] #19852 closed

[2022-02-21 06:27] EmmaZhu commented on #19484
Fix merged.

[2022-02-21 06:27] #19484 closed

[2022-02-21 08:23] EmmaZhu commented on #16673
https://github.com/Azure/azure-sdk-for-js/pull/20480

[2022-02-21 08:50] PanzerHabba commented on #20435
I just want to give a little update on this issue:
It seems to be working again now and i really don`t know why...
I did update the azue-communication-calling sdk to the latest 1.4.2-beta.1 and made some adjustments to the instantiation of the CallClient-object (not a "long-living" object, but re-instantiated for each call)..

But I tried to re-deploy earlier releases of our application, where we

[2022-02-21 15:13] indoben commented on #20320
@EmmaZhu @amishra-dev Just in case, here is hte request ID:       requestId: 'f2ca7412-836d-4e8b-81bc-a81fa3614c3e',

This is the error message:

`RestError: <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<HTML><HEAD><TITLE>Bad Request</TITLE>
<META HTTP-EQUIV="Content-Type" Content="text/html; charset=us-ascii"></HEAD>
<BODY><h2>Bad Request - Invalid URL

[2022-02-21 15:56] dcegress commented on #11850
That is strange. How big is your video file - mine is about 1GB to allow for enough scrubbing before the whole file is cached

[2022-02-21 16:02] dcegress opened #20484 "Graph API Teams message update policyViolation fails on external messages"
- microsoft/microsoft-graph-client:
- 3.0,0:
- Windows 11:
- [ ] nodejs
    - version**: 16.13.2
- [ ] **browser**
    - N/A:
- [ ] **typescript**
    - N/A:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When using the Graph API for teams to set the policyViolation on message

[2022-02-21 16:21] dcegress commented on #20484
Apologies, issue raised in wrong project.

[2022-02-21 16:21] #20484 closed

[2022-02-22 02:03] EmmaZhu commented on #20320
Hi @indoben ,

Ashish is correct. We cannot look up for the request.  The error is "Invalid URL", is it OK for you to send request through fiddler and share the URL for the request to us?  If you are using SAS token credential, please make sure to remove "sig=***" part to remove your credential.

Thanks
Emma

[2022-02-22 05:39] v-jiaodi opened #20487 "[Form Recognizer] [AAD] analysis (Node) receipts specifying locale failing in nightly runs"
Form Recognizer nightly test runs are failing with:

    at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:251:17)
    at deserializeResponseBody (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:159:43)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-

[2022-02-22 05:40] v-jiaodi opened #20488 "[Digital Twins - Core] Deploy test resources failing in nightly runs"
Digital Twins - Core nightly test runs are failing with:

Line |
 732 |          $deployment = Retry {
     |                        ~~~~~~~
     | Exception calling "Invoke" with "0" argument(s): "The running
     | command stopped because the preference variable
     | "ErrorActionPreference" or common parameter is set to Stop:
     | 10:25:38 - The deployment 't32112c9d36f042c9' failed with

[2022-02-22 05:40] azure-sdk commented on #20488
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.300001,Service Bus:0.16243355,Azure.Core:0.0758674'

[2022-02-22 05:40] v-jiaodi opened #20489 "[Key Vault - Administration] Deploy test resources failing in nightly runs"
Key Vault - Administration nightly test runs are failing with:

12:17:10 - Creating 3 X509 certificates to activate security domain
12:17:10 - Downloading security domain from '***'
VERBOSE: Running registered exit actions
VERBOSE: Logging out of service principal '***'
VERBOSE: Performing the operation "New-TestResources.ps1" on target "***".
Export-AzKeyVaultSecurityDomain: /mnt/vss/_work/1/s/sd

[2022-02-22 09:26] gr4per opened #20490 "AppendBlob seal operation fails with REST API error using JavaScript SDK"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.8.0
- **Operating system**:
- [x ] **nodejs**
    - **version**: 16.14.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ x] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A seal o

[2022-02-22 16:03] sadasant commented on #20421
@hamsa-s I can’t follow up at the moment. Give me some more days

[2022-02-22 18:13] bwateratmsft commented on #10457
I verified this is working as expected.

[2022-02-22 18:48] jeremymeng opened #20491 "create an app-config react-native sample"
using service principal authentication

[2022-02-22 19:14] jeremymeng commented on #20388
Fixed

[2022-02-22 19:14] #20388 closed

[2022-02-22 19:27] jeremymeng opened #20492 "Using react-native `Platform` to set platform-specific data"
currently we have some hard coded value but it would be better to use react native Platform api to retrieve more detailed information.

https://github.com/Azure/azure-sdk-for-js/blob/c94fae72c0d1eeec4f9f7e95ea35a1abb62240dd/sdk/core/core-rest-pipeline/src/util/userAgentPlatform.native.ts#L18-L23

[2022-02-22 19:32] HarshaNalluru opened #20493 "[Digital Twins] Build failure - AAD tests fail in browser"
https://dev.azure.com/azure-sdk/public/_build/results?buildId=1384892&view=results

![image](https://user-images.githubusercontent.com/10452642/155208759-1001c296-ec0f-4cc4-b9b8-102f800c4a96.png)

Requests from the AAD browser tests are hitting the live service in playback mode instead of using the recordings.

_Originally pointed out by @YoDaMa_

[2022-02-22 19:33] azure-sdk commented on #20493
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.30419776,Azure.Identity:0.22281332,Digital Twins:0.064127654'

[2022-02-22 19:43] joheredi opened #20495 "Migrate Confidential Ledger tests to new recorder"
See migration guide:https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/MIGRATION.md

[2022-02-22 19:49] joheredi commented on #13085
Fixed with https://github.com/Azure/azure-sdk-for-js/pull/20398

[2022-02-22 19:49] #13085 closed

[2022-02-22 19:53] indoben commented on #20320
I don't have fiddler installed but here is what I presume is the same information that was dumped out on the error
[request info.txt](https://github.com/Azure/azure-sdk-for-js/files/8119756/request.info.txt)
.

[2022-02-22 20:03] joheredi opened #20496 "Migrate web-pubsub to new recorder"
See migration guide: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/MIGRATION.md

[2022-02-22 20:04] witemple-msft commented on #20421
Out of curiosity, is this an ARM Mac (M1, M1 Pro/Max), or an Intel Mac?

[2022-02-22 20:04] joheredi opened #20497 "Migrate Identity to new recorder"
See migration guide: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/MIGRATION.md

/cc: @sadasant

[2022-02-22 20:04] #19859 closed

[2022-02-22 20:08] #20493 closed

[2022-02-22 21:03] sadasant commented on #20466
Here’s the deleted file that used to support App Service 2019: https://github.com/sadasant/azure-sdk-for-js/blob/d981b57d72fd0ff00adc564681ebba46e1fd8c8f/sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2019.ts

How to add it back:

- What really matters from this deleted file are the names: the `client_id` property name, the name of the environment variables.
- For the

[2022-02-22 21:15] hamsa-s commented on #20421
It's an Intel Core i7 Mac.
Also, I'm still able to work in the repository with Node 16 so take your time with this issue! I'm not in a big rush or anything since I can get it working in other ways.

[2022-02-22 21:26] sadasant opened #20498 "[Identity] Ensure through testing that ManagedIdentityCredential doesn’t throw if tenantId is passed on getToken"
On `getToken`, the `ManagedIdentityCredential` can receive a tenant Id since the `GetTokenOptions` type supports it. However, the `ManagedIdentityCredential` does not send the tenant Id on the outgoing requests. Should we support this?

[2022-02-22 22:02] #20186 closed

[2022-02-23 00:44] deyaaeldeen commented on #20380
@lirenhe The feature requested is an improvement to pageable operations. Pageable operations return an object that has a `byPage` method which returns an iterator over pages of results. `byPage` takes an options bag as input but currently it is being ignored in management-plane libraries and the request is to support that options bag properly. The options include one for specifying the maximum num

[2022-02-23 01:21] wwlorey opened #20500 "Getting a token via `VisualStudioCodeCredential` using v0.10.0 of the Azure Account Extension results in an error"
- **Package Name**: @azure/identity
- **Package Version**: latest
- **Operating system**: Windows
- [ ] **nodejs**
    - **version**: 17.5.0
- [ ] **browser**
    - **name/version**: N/A
- [ ] **typescript**
    - **version**: 4.0.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug

[2022-02-23 01:31] jeremymeng commented on #20274
@winterAndvelvet You are right that the "isReceivingMessages" flag is only cleared at the end of the `receiveMessages()` call.  I would expect `maxWaitTimeInMs` to work but from the above code and logs I could not see what went wrong.  Is it possible that you enable more logging and see if anything unusual/erroneous when the issue starts happening? Please refer to the troubleshooting section for m

[2022-02-23 03:47] EmmaZhu commented on #20320
@indoben , Seems your blob name is too long, Azure Blob allows blob name no longer than 1024 characters.
I tried to upload a blob with the same blob name you shared to one of my own account, the response indicates that it's out of range.

I tried to decode the blob name you shared, it looks like a code fragment. Just curious, are you intending to use the code fragment as blob name?

[2022-02-23 04:19] EmmaZhu commented on #20490
Hi @gr4per ,

I tried with the code you shared, it succeeded to upload and seal an append blob.

Can this issue be reproduced? If so, could you share the request id for the 400 error to me? I'll try to find some clue from storage service.

Thanks
Emma

[2022-02-23 05:44] sadasant opened #20502 "[Identity] Add `allowLoggingAccountIdentifiers` to the credential options"
While investigating what sensitive logging to add to our credentials, we have determined that the most useful information we could log are the account identifiers after retrieving a token. This issue describes a flexible approach to add support to log the account information on our credentials.

Tasks:

1. Add `allowLoggingAccountIdentifiers` to the options of the credentials’ constructors.
2. Ret

[2022-02-23 09:46] franpb90 opened #20505 "Azure Digital Twin Client - Parametrized Query"
**Is your feature request related to a problem? Please describe.**
I feel insecure concatenating parameters to an ADT query. It seems like it would allow "SQL" injection. I am not sure if exists some way of passing parameters to the query, or what kind of measure should we take.

**Describe the solution you'd like**
I would like something like addParameter in tedious package. https://tediousjs.git

[2022-02-23 09:47] azure-sdk commented on #20505
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.33303243,Storage:0.052552722,Digital Twins:0.05226522'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5177256,Mgmt:0.48140714,Service:0.0007093635'

[2022-02-23 10:02] qiaozha commented on #20026
@JesperJakobsen Hi, I can't repo your issue, could you try it again and see if it has been resolved ?
![image](https://user-images.githubusercontent.com/55688292/155297539-28180747-c4b0-4e99-a422-1fba38b3144e.png)

[2022-02-23 15:18] gr4per commented on #20490
Hi Emma,

thanks for your qucik reply,
I just ran it again, here the details:
ubuntu@ubuntu:~/nmpi$ node reproduce.js
appendBlob.seal failed:  RestError: Value for one of the query parameters specified in the request URI is invalid.
RequestId:7d82e000-901e-0074-3cc8-28a9c6000000
Time:2022-02-23T15:16:32.3103081Z
 {
  "name": "RestError",
  "code": "InvalidQueryParameterValue",
  "statusCode": 400,

[2022-02-23 17:10] lmazuel commented on #20498
@sadasant I believe you cannot support ternant id on managed identity, since this is calling a localhost endpoint this is not how the flow is designed to work.

The update we did in the Python doc, is to say that when you implement the "get_token" protocol, you may ignore silently tenant_id if you can't do anything with it, as this parameter should be seen as a hint of how to get a valid token (it

[2022-02-23 17:33] acomito opened #20507 "@azure/storage-blob missing baseUri/endpoint to let you point to govcloud "https://management.usgovcloudapi.net""
"@azure/storage-blob": "^12.8.0",

packages like @azure/arm-network and @azure/arm-compute have a field for pointing the package to the govcloud

I'm not seeing the same for @azure/storage-blob -- does this exist or is it not needed for storage? Azure CLI requires a flag to point at govcloud so I would assume this package does too?

[2022-02-23 17:52] sadasant commented on #20498
@lmazuel oh ok! Gotcha.

So, my approach to solve this issue will be just to add tests. Thank you!

[2022-02-23 17:54] acomito commented on #20507
Ah, I guess you don't need it because getStorageBlobClient takes a url and that url will point to govcloud e.g.

[code]

[2022-02-23 18:20] danieljurek commented on #15104
Following entries should be moved to conceptual repo because they deal with conceptual docs:

[code]

However, one file is still interesting to the redirect process:

[code]

In this case, since the link points to our reference docs we're OK with keeping this in place.

[2022-02-23 18:52] MRayermannMSFT commented on #17499
@qiaozha can you be more specific on how/where it has been resolved? I tried again this morning and I am getting the same result. I am on v16.5.0 and I do not see a higher 16.x.y on NPM.

[2022-02-23 19:04] indoben commented on #20320
@EmmaZhu That I believe is the bug that I'm encountering. I'm using a UUID for the name and that shows up nowhere, instead, it injects a call-back function of some sort. The .upload function works just fine and puts the correct blob name in the URL.

[2022-02-23 20:04] timovv commented on #18008
Resolved as part of work for #19859

[2022-02-23 20:04] #18008 closed

[2022-02-23 20:07] HarshaNalluru opened #20511 "[Event Grid] CI - "js - eventgrid" pipeline fails at the build step for "scheduled builds""
Pipeline - https://dev.azure.com/azure-sdk/internal/_build?definitionId=1983&_a=summary
The scheduled builds are failing.
![image](https://user-images.githubusercontent.com/10452642/155399271-e2b64062-dcfa-4a6f-a816-17f3fcf8966d.png)
They fail with this error.
![image](https://user-images.githubusercontent.com/10452642/155399300-2cba444f-58e2-4b11-b5e6-507afb0c3099.png)
The only difference I seem

[2022-02-23 20:07] azure-sdk commented on #20511
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.5438407,Data Factory:0.12598567,Event Grid:0.09327903'

[2022-02-23 20:08] HarshaNalluru commented on #20511
Attempting to fix with https://github.com/Azure/azure-sdk-for-js/pull/20510

[2022-02-23 20:26] timovv opened #20512 "[Container Registry] OCI blob push/pull support"
Add support for OCI blob and manifest upload/download in order to achieve feature parity with .NET.

Cc: @jeremymeng

[2022-02-23 20:51] jeremymeng commented on #20512
for reference:
* .NET apiview for ContainerRegistryBlobClient https://apiview.dev/Assemblies/Review/ba57bf904e524ce3bf647dad124ddc7c#Azure.Containers.ContainerRegistry.Specialized.ContainerRegistryBlobClient

[2022-02-23 20:55] #20511 closed

[2022-02-23 23:18] billwert commented on #20461
Hello!

This issue is largely a reminder that we all need to come together before we release. I missed standup yesterday but plan to talk about it a bit next week.

Throwing in this case also seems reasonable to me. I mostly want to ensure we all do a similar thing so the conceptual experience is the same.

[2022-02-24 00:07] craxal opened #20514 "Inconsistent representation of binary values in `listEntity` results and query strings"
- **Package Name**: @azure/data-tables
- **Package Version**: 3.0.1-alpha.20220112.3
- **Operating system**: Windows 11
- [X] **nodejs**
    - **version**: 16.3.1
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 4.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

[2022-02-24 03:20] qiaozha commented on #17499
@MRayermannMSFT The version I am trying is 17.1.0
![image](https://user-images.githubusercontent.com/55688292/155450783-bf3707fa-6b31-4b86-b091-4337cef629c6.png)

I believe this is align with the swagger definition.

Actually I would suggest you to migration to version 17.x.x and above because we will going to have an announcement to deprecate version lower than 17.0.0 of @azure/arm-compute early

[2022-02-24 06:11] Ranjith-Eswaran-G opened #20518 "Cannot create collections in Comos DB Mongo API using @azure/cosmos node sdk"
I am trying to create collections in a Cosmos DB Mongo API database using the@azure/cosmos node sdk

[code]
I always get the following error
`Partition key path /_partitionKey is invalid for MongoDB API.\r\n`

I am using @azure/cosmos version 3.15.1

I can create collections using the mongodb sdk, but I am not able to specify the throughput options.

Can anyone help me on this issue?

[2022-02-24 08:02] #14025 closed

[2022-02-24 12:10] franpb90 commented on #20505
We are using @azure/digital-twins-core. This is the class [DigitalTwinsClient](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/digitaltwins/digital-twins-core/src/digitalTwinsClient.ts) the method is [queryTwins](https://github.com/Azure/azure-sdk-for-js/blob/812c232d848f86330a0d2fffbf1c1bd093ceaca5/sdk/digitaltwins/digital-twins-core/src/digitalTwinsClient.ts#L1156)

[2022-02-24 19:01] jeremymeng commented on #20274
@winterAndvelvet while we are figuring out the root cause of the issue, one workaround is to pass an abort signal to the `receiveMessages()` call then handle the error:

[code]

[2022-02-24 19:33] HarshaNalluru opened #20525 "[Form Recognizer] Mismatch in number of tests being run different OSes"
On windows, 78 tests are being run - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1390364&view=logs&j=b800360f-d572-5e16-3e20-e4f204d3fbd3&t=3b97752f-f53c-5e36-3379-45368efa0b3c&l=157
On mac/ubuntu, 20 tests are being run - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1390364&view=logs&j=85868684-9efd-59be-28df-cf947a6afe61&t=eb340d62-0e69-5acc-7783-797aab31d5

[2022-02-24 19:41] indoben commented on #20320
@EmmaZhu Apologies this ticket can be closed, this function was getting injected elsewhere in my code in an unexpected way, it seems to be working now.

[2022-02-24 19:41] #20320 closed

[2022-02-24 19:41] indoben commented on #20320
This issue can be closed

[2022-02-24 20:15] KarishmaGhiya commented on #20500
Thank you for filing the bug. The change in the cache name to store token has affected identity libraries in all languages. We are working on a solution. We will have an update for you before next Wednesday

[2022-02-24 21:12] joheredi commented on #20514
Thanks for reporting @craxal. I'll investigate this issue next week. I'll see if there is something reasonable that can be done in the client SDK to improve the UX.

[2022-02-24 22:41] KarishmaGhiya commented on #20500
@wwlorey I have a question for the VS Code team here - https://github.com/microsoft/vscode-azure-account/issues/443#issuecomment-1050331777

[2022-02-24 23:10] danieljurek opened #20530 "Create redirects for moved files"
Renamed files in this PR should have redirects: https://github.com/MicrosoftDocs/azure-docs-sdk-node/pull/1360

[2022-02-25 01:18] #13561 closed

[2022-02-25 02:44] dw511214992 opened #20537 "Don't build all packages under service directory in mgmt/dataplane pipeline"
Currently, mgmt/dataplane pipeline builds all packages under service directory, which is unreasonable. For mgmt pipeline, it should only build mgmt packages, and vice versa.

[2022-02-25 05:10] ramya-rao-a commented on #20505
Thanks @franpb90

@johngallardo, can you please help here?

[2022-02-25 05:53] MRayermannMSFT commented on #20380
@sarangan12 @deyaaeldeen @sarangan12 hard to tell from the conversation, so I have to ask: will the improvements include exposing the continuation token when listing by page? Similar to how it is in the storage data plane SDKs?

Specifically:
[code]

[2022-02-25 05:53] MRayermannMSFT commented on #17499
@qiaozha this issue is currently blocking our upgrading to v17: https://github.com/Azure/azure-sdk-for-js/issues/20380

[2022-02-25 06:38] sajeetharan commented on #20518
@Ranjith-Eswaran-G The @azure/cosmos SDK is intended to be only used with Cosmos SQL API accounts. You should use Mongo tooling to interact with Mongo accounts.

[2022-02-25 06:39] #20518 closed

[2022-02-25 07:45] v-jiaodi opened #20540 "[Communication - Chat] ChatThreadClient successfully adds participants failing in nightly runs"
Communication - Chat nightly test runs are failing with:

    at SerializerImpl.serialize (D:\a\_work\1\s\sdk\core\core-client\src\serializer.ts:148:13)
    at calculateUrlReplacements (D:\a\_work\1\s\sdk\core\core-client\src\urlHelpers.ts:88:52)
    at getRequestUrl (D:\a\_work\1\s\sdk\core\core-client\src\urlHelpers.ts:22:27)
    at ChatApiClient.sendOperationRequest (D:\a\_work\1\s\sdk\core\cor

[2022-02-25 07:46] v-jiaodi opened #20541 "[Communication - Identity] CommunicationIdentityClient [Playback/Live] successfully deletes a user failing in nightly runs"
Communication - Identity nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-http\src\policies\deserializationPolicy.ts:274:17)
    at D:\a\_work\1\s\sdk\core\core-http\src\policies\deserializationPolicy.ts:179:47
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/interna

[2022-02-25 07:47] v-jiaodi opened #20542 "[Communication - Network Traversal] CommunicationNetworkingClient [Playback/Live] [AAD] successfully gets a turn credential with user identity failing in nightly runs"
Communication - Network Traversal nightly test runs are failing with:

    at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:274:17)
    at /mnt/vss/_work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:179:47
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at NetworkRelayRestClient.sendOperationRequest (/mn

[2022-02-25 07:47] v-jiaodi opened #20543 "[Service Bus] Batching Receiver Batch Receiver failing in nightly runs"
Service Bus nightly test runs are failing with:

    at translateServiceBusError (/Users/runner/work/1/s/sdk/servicebus/service-bus/src/serviceBusError.ts:86:63)
    at ServiceBusSessionReceiverImpl._throwIfReceiverOrConnectionClosed (/Users/runner/work/1/s/sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts:110:1)
    at ServiceBusSessionReceiverImpl.completeMessage (/Users/runner/work/1/

[2022-02-25 08:00] v-xuto commented on #20541
@Azure/acs-identity-sdk  for notification.

[2022-02-25 08:02] #15044 closed

[2022-02-25 08:46] petrsvihlik commented on #20541
@rosebyte can you pls investigate?

[2022-02-25 13:05] Ginden opened #20545 "Invalid type signature of `ServiceBusReceiver.deadLetterMessage`"
- **Package Name**: `@azure/service-bus`
- **Package Version**: 7.5.0
- **Operating system**:
- [x] **nodejs**v16.13.0
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**:
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

**To Rep

[2022-02-25 13:24] EmmaZhu commented on #20490
Hi @gr4per ,

This should not be an issue on SDK, might be issue on service. I'm asking service team to look into it. Will get back to you later.

Thanks
Emma

[2022-02-25 21:42] paule96 commented on #15298
Hi @juancamilor and @asheniam any updates on this? the Q1 is soon over and the last thing I see is that this is moved to the backlog?

[2022-02-26 01:02] deyaaeldeen commented on #20380
@MRayermannMSFT We could expose it, but I am curious, what is the use case for accessing them directly? is it to be able to suspend and resume iterating? could that be done by saving the iterator itself?

[2022-02-26 01:06] MRayermannMSFT commented on #20380
Our paged loading of resources logic crosses process boundaries. Therefore It is easiest for us if we can simply return the continuation token along with the results to whatever is calling into "load more resources" function.

But sure, hypothetically we could cache the iterators for outstanding loadings of resources in the loading process, assign them like an ID or something, have that ID be a co

[2022-02-26 01:19] deyaaeldeen commented on #20380
Oh I see, I created https://github.com/Azure/autorest.typescript/issues/1326 for tracking. @sarangan12 I think we should support that use case.

@MRayermannMSFT To get you unblocked, you could use the `onResponse` callback in the operation options to access the raw response directly after each call is made. You can access the `nextLink` property on the response there. Something along the lines of

[2022-02-26 10:59] gr4per commented on #20490
Thank you, Emma! I tried already raising this as a service based ticket, but the automated validation on azure portal claimed no issues with the request ID and hence didn't let me post the issue. Quite odd, as this seems unexpected behaviour so something must be wrong indeed.

[2022-02-26 14:14] juancamilor commented on #15298
Hi @paule96 ,
We are actively working with our dependencies on this effort. It is tentatively scheduled to be released in Q2.

[2022-02-28 02:40] EmmaZhu commented on #20490
Hi @gr4per ,

Service team told me that sealing an append blob is not supported on HNS enabled account.  I tried with a HNS enabled account, also encountered the same 400 error.  Could you try with an account without HNS enabled?

Thanks
Emma

[2022-02-28 03:30] amishra-dev commented on #20507
That looks correct. @blueww could you kindly confirm

[2022-02-28 09:20] EmmaZhu commented on #16208
Enabled test cases with this PR: https://github.com/Azure/azure-sdk-for-js/pull/19817

[2022-02-28 09:20] #16208 closed

[2022-02-28 09:31] #20541 closed

[2022-02-28 14:03] azure-sdk opened #20565 "Dependency package @types/lru-cache has a new version available"
We have identified a dependency on version 5.1.1 of @types/lru-cache. A new version (7.4.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package

[2022-02-28 14:03] azure-sdk commented on #20565
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3633117,Service Bus:0.13564824,Azure.Identity:0.04821241'

[2022-02-28 16:42] maorleger opened #20567 "[instrumentation] - remove compatibility code"
In core-tracing preview.14 we renamed the namespace key from "az.namespace" to "@azure/core-tracing namespace" in tracingContext. Normally packages would not be concerned with this, but old core-rest-pipeline still looks for the `az.namespace` key in the context.

So to make things easier on the migration we added some compatibility code in @azure/opentelemetry-instrumentation-azure-sdk in https:/

[2022-02-28 19:19] #18738 closed

[2022-02-28 20:00] RozziP opened #20569 "[Event Hubs] Receiver source is not initialized upon sendRequest timeout"
- **Package Name**: @azure/core-amqp
- **Package Version**: 3.1.0
- [ ] **nodejs**
    - **version**:  16.14.0

We are running into an issue where an `EventHubProducerClient` will hit the default 1 minute timeout on a send request, but when it does so, `this.source` of the `receiver` object is uninitialized.
It is unclear if the receiver has been removed before the timeout expires, or if it simply

[2022-02-28 21:46] bwateratmsft opened #20570 "[swagger] HTTP 400 error when trying to deploy app service to custom location"
- **Package Name**: @azure/arm-appservice
- **Package Version**: 11.0.0
- **Operating system**: Win11
- [x] **nodejs**
    - **version**: 14
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.5.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
W

[2022-02-28 21:46] azure-sdk commented on #20570
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Services:0.53505015,Storage:0.295476,Service Bus:0.02428274'

[2022-02-28 21:52] #20498 closed

[2022-02-28 22:53] HarshaNalluru opened #20571 "[Web PubSub] Flaky test - "Simple clients can receive expected messages with different content types""
![image](https://user-images.githubusercontent.com/10452642/156071765-5b92b3be-de18-4dd7-a1e4-2420688feff1.png)
[Pipelines - Run 20220225.5 (azure.com)](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1395106&view=results)

Investigate and unskip the test "Simple clients can receive expected messages with different content types".

[2022-02-28 22:53] azure-sdk commented on #20571
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.56098634,Service Bus:0.06287475,Data Factory:0.028605472'

[2022-02-28 22:55] HarshaNalluru opened #20572 "[Web PubSub] Flaky test - "Subprotocol clients can receive expected messages with different content types""
![image](https://user-images.githubusercontent.com/10452642/156071994-26a54749-924e-4c18-8543-171eaa0a4e25.png)
[Pipelines - Run 20220225.5 (azure.com)](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1395106&view=results)

Investigate and unskip the test "Subprotocol clients can receive expected messages with different content types".

[2022-02-28 22:55] azure-sdk commented on #20572
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.58407414,Service Bus:0.047972083,Docs:0.0204217'

[2022-02-28 23:02] danieljurek opened #20574 "Docs CI fails on @azure/communication-react@1.0.1"
Docs are generated for version 1.0.0 until this is fixed.

Example build: https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=279861&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=ce91d5d6-0c55-50f5-8ab9-6695c03ab102

Error:

[code]

Process:

1. Fix the issue with docs CI
2. Remove the entry for `@azure/communication-react` from the `[Language-Settings.ps1](https://github.com

[2022-03-01 00:50] royramsta opened #20578 ""Received a batch message with no data in it" error when sending 1MB message."
- **Package Name**: azsdk-js-azureservicebus/7.5.0 Node
- **Package Version**: v12.18.0
- **Operating system**: x64-Windows_NT-10.0.19044

**Describe the bug**

Error occurred:  ServiceBusError: InvalidOperationError: The link 'G3S2:447478:de-test-queue-a2b85078-1322-1f46-ba03-85d80ec58c4b' is force detached by the broker because publisher(link139) received a batch message with no data in it. Deta

[2022-03-01 00:57] HarshaNalluru opened #20579 "[Web PubSub] Enable min-max testing"
The following libraries still have min-max testing disabled because of
[code]
- [ ] sdk\web-pubsub\web-pubsub\tests.yml

we need to ensure
1. their tests are separated into internal and public folders
2. enable min-max testing by removing the filter

[2022-03-01 00:58] azure-sdk commented on #20579
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.2020834,Compute - VM:0.11262538,Tables:0.0794268'

[2022-03-01 01:01] amishra-dev commented on #13578
please let us know if you still need help

[2022-03-01 01:02] amishra-dev commented on #7202
@EmmaZhu can you please take this one?

[2022-03-01 04:54] EmmaZhu commented on #7202
I'll add a sample code to using async copy to rename a blob.

[2022-03-01 16:15] maorleger commented on #20574
@danieljurek  The @azure/communication-react package does not live in this repo. Can you create this issue at https://github.com/Azure/communication-ui-library instead?

[2022-03-01 16:16] maorleger commented on #20574
@JamesBurnside FYI

[2022-03-01 17:10] JamesBurnside commented on #20574
@danieljurek is there somewhere we can see the full logs of the failed npm install command?

My guess is we moved some dependencies to peer dependencies that could potentially cause npm install to fail (cc @prprabhu-ms for vis)

[2022-03-01 17:21] azure-sdk commented on #20588
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.44791785,Commerce:0.10127564,Event Hubs:0.039066385'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.57995844,Client:0.41266745,Service:0.00585697'

[2022-03-01 18:01] johngallardo commented on #20488
Investigating.

[2022-03-01 18:12] #20456 closed

[2022-03-01 18:12] #20457 closed

[2022-03-01 18:31] jkewley opened #20589 "DefaultAzureCredential (Managed Ident) not sending auth headers for Node function app to table storage"
- **Package Name**: @azure/identity 2.0.2, @azure/data-tables 13.0.1
- **Operating system**: linux function app
- [x ] **nodejs**
    - **version**: 14
- [ ] **browser** N/A
    - **name/version**:
- [ ] **typescript** N.A
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describ

[2022-03-01 18:47] danieljurek commented on #20574
Moved to https://github.com/Azure/communication-ui-library/issues/1568 ... Closing here

[2022-03-01 18:47] #20574 closed

[2022-03-01 19:02] MRayermannMSFT opened #20590 "@azure/arm-storage ignores passed in API version"
- **Package Name**: @azure/arm-storage
- **Package Version**: 17.1.0
- **Operating system**: all
- [x] **nodejs**
    - **version**: 16
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

Passing in

[2022-03-01 19:24] jeremymeng commented on #20578
@royramsta Thanks for reporting the issue. This appears to be the same service issue reported in https://github.com/Azure/azure-sdk-for-net/issues/25381.  We are asking for an update from the service team.

[2022-03-01 19:34] joheredi opened #20592 "[Farmbeats] Migrate to new recorder"
Migrate @azure-rest/agrifood-farming to the new recorder

[2022-03-01 19:53] lilyjma commented on #20208
Thank you for your interest in the experience survey. The survey has now been closed.
If you didn't get a chance to provide feedback this time, please look out for future surveys.

[2022-03-01 19:53] #20208 closed

[2022-03-01 20:04] joheredi opened #20594 "[Synapse] Migrate to new recorder"
Migrate the following packages:

- [ ] @azure/synapse-access-control
- [ ] @azure/synapse-managed-private-endpoints
- [ ] @azure/synapse-spark

[2022-03-01 20:56] jkewley commented on #20589
Well, as is commonly the case, I figured out my issue shortly after reporting it here.
I had changed the name of one of my environment variables so the proper storage account name wasn't being picked up, meaning `account` was empty for this line:
[code]
Totally my fault, but the error message which resulted was unexpected and sent me down a rabbit hole. I wonder if the SDK could benefit from input

[2022-03-01 20:56] #20589 closed

[2022-03-01 21:01] maorleger commented on #20213
Closing as upgrades are done and am awaitng feedback from dogfooders

[2022-03-01 21:01] #20213 closed

[2022-03-01 21:14] maorleger commented on #18654
Ran through all the scenarios - worked with partners to help dogfood. There's nothing else to do here 👍

[2022-03-01 21:14] #18654 closed

[2022-03-01 22:19] #19776 closed

[2022-03-01 23:13] #20068 closed

[2022-03-01 23:47] sadasant commented on #20286
Remember to update links like this one: https://github.com/Azure/azure-sdk-for-js/pull/20602/files#diff-88a0ef47c58feb53bf93e6ad0e3edee0b59da7b0ba0f3da099bcba4f89c65dcaR74

[2022-03-01 23:54] jeremymeng commented on #19220
Fixed by #20229

[2022-03-02 00:27] #20040 closed

[2022-03-02 00:39] HarshaNalluru commented on #20571
cc @vicancy

[2022-03-02 01:57] sadasant commented on #20421
@hamsa-s I’m on Core i7 as well. Ohh! Can you try with Node 17.6.0? I can’t make it fail, but perhaps is that slight change of Node version.

[2022-03-02 02:33] v-jiaodi opened #20608 "[Communication - Chat] PhoneNumbersClient - lro - search [AAD] can search for 1 available phone number by default failing in nightly runs"
Communication - Chat nightly test runs are failing with:

    at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:274:17)
    at /mnt/vss/_work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:179:47
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at LROPolicy.sendRequest (/mnt/vss/_work/1/s/sdk/communication/c

[2022-03-02 03:22] HarshaNalluru opened #20610 "[Recorder] Allow sanitizer usage in playback mode"
From sanitizer docs
![image](https://user-images.githubusercontent.com/10452642/156288969-0a7ae4f4-326c-4b61-bfc1-5d08f270b1f4.png)

We did not allow setting the sanitizer in playback mode as the need was not anticipated, since the recordings can be tweaked in record mode to make them as needed in playback mode.

However, proxy tool offers the feature, so we should allow it to be used by the users

[2022-03-02 05:58] vicancy commented on #20571
Thanks for catching a service issue. The root issue is that when the client WebSocket believes it is "opened", the connection has not yet been registered completely into the service. That's why the first "sendToAll" is not delivered to the client. We will update the service logic to guarantee the behavior which sounds a natural expectation for the clients.

[2022-03-02 07:28] qiaozha commented on #20042
close this issue as this is a problem with rest api specs. please use https://github.com/Azure/azure-rest-api-specs/issues/17512 to track the process.

[2022-03-02 07:28] #20042 closed

[2022-03-02 07:37] dw511214992 commented on #15421
@omrodrig Where is the rest api of Usage Details API? Does it belong to cost management? thx

[2022-03-02 07:41] dw511214992 commented on #20147
@xiangyan99 Which version of sdk do you use? For previous sdk, we have deprecated it. For latest sdk, we don't allow manual change and I think there is a way to achieve the goal. About the PR to java sdk, I think it's previous java sdk, and the latest java sdk in https://github.com/Azure/azure-sdk-for-java. I don't think the change is included in latest java sdk. thanks

[2022-03-02 15:46] indoben opened #20627 "Upload freezing when using BlockBlobClient.uploadStream()"
@azure/storage-blob:
12.8.0:
Linux:
[ x] nodejs
16.13.2:
[ x] Chrome
name/version:
 typescript
version:
Is the bug related to documentation in
 README.md
 source code documentation
 SDK API docs on https://docs.microsoft.com/

**Describe the bug**
When uploading files over >5MB upload stream freezes and different intervals. Sometimes at 1MB, commonly at 6MB, and rarely as high as 11MB. But it free

[2022-03-02 15:56] #20121 closed

[2022-03-02 16:02] maorleger commented on #20489
This happens sporadically and is resolved by retrying. Unfortunately it's an issue with the HSM. The service team gets alerts when this happens so no action is needed other than retrying...

[2022-03-02 16:02] #20489 closed

[2022-03-02 16:07] maorleger commented on #19716
Moving to backlog, service support for OKP has been pushed out so we don't have ETA on when it should land

[2022-03-02 18:22] #17011 closed

[2022-03-02 18:34] sajeetharan commented on #18558
@kirankumarkolli @kushagraThapar  Here is the E2E sample that i built with JS and added AppInsights to generate some metrics. https://github.com/sajeetharan/cosmos-js-appInsights

I am adding some sample metrics produced for the insert and query operations :

QueryMetrics information is available in the **customDimensions**
[query_data.csv](https://github.com/Azure/azure-sdk-for-js/files/8171895/q

[2022-03-02 22:03] hamsa-s commented on #20421
@sadasant that worked!! Thank you so much for taking the time to look into this!

[2022-03-02 22:06] #18225 closed

[2022-03-02 22:40] sadasant commented on #20421
Awesome!!! I’ll close this issue then 👍 Thank you for your patience and for your contributions 🙏

[2022-03-02 22:40] #20421 closed

[2022-03-02 23:47] #15959 closed

[2022-03-02 23:55] #20610 closed

[2022-03-02 23:55] lmazuel opened #20632 "Azure Schema Registry GA"
[Azure Schema Registry](https://docs.microsoft.com/en-us/azure/event-hubs/schema-registry-overview) is a feature of Event Hubs, which provides a central repository for schema documents for event-driven and messaging-centric applications.

The [@azure/schema-registry-avro](https://www.npmjs.com/package/@azure/schema-registry-avro) package enables the SDK for JavaScript & TypeScript developers to se

[2022-03-03 00:07] diberry commented on #13798
@maorleger I get this issue with following dependencies on app service Linux/Node.js 14 LTS.

[code]

The error is

[code]

The index.js line 17 is the `.detectLanguage` call in the following code

[code]

[2022-03-03 02:00] xiangyan99 commented on #20147
Took offline.

[2022-03-03 06:57] sarangan12 commented on #8521
ms-rest-js is in maintenance mode. I don't think porting is necessary now. As there are no pending action items, I am closing this issue.

[2022-03-03 06:57] #8521 closed

[2022-03-03 14:05] JesperJakobsen commented on #20026
Hi @qiaozha,

I'll take a look look ASAP report back if the issues has been resolved!

[2022-03-03 14:34] JesperJakobsen commented on #20026
So I just tried to use the code above and it's still not working as i only get partial information back, but I can get the information directly from the API which will have to do for now.

[2022-03-03 16:18] kirankumarkolli commented on #18558
@sajeetharan what's your take on request diagnostics?

WE could do similar to JAVA/.NET OR we can start with OpenTelemetry integration which mean means the same you have will done in no-code way.

Personally I would like to start with OpenTelemetry as first step and enrich it fully and then later if needed include API level like JAVA/.NET. It has a big assumption that existing CX want OpenTelemetr

[2022-03-03 16:37] praveenkuttappan opened #20641 "Enable PR pipeline for ES lint plugin"
ESLint pipeline is not getting triggered when changes are made to ES lint plugin.

[2022-03-03 17:34] scottaddie opened #20644 "Document stats and visualizations support in Azure Monitor Query"
CXP recently asked for docs on stats and visualizations with regards to the Azure Monitor Query client library. Add the following details to a new section in the README:

- How to opt in to stats and/or visualizations data in a logs query request
- Explain the unstructured nature of the response

[2022-03-03 18:23] maorleger commented on #9666
This is actually done via #20240

[2022-03-03 18:23] #9666 closed

[2022-03-03 19:39] jeremymeng commented on #15746
@WeiJun428 I created a feature branch `feature/enable-linting-readme`. You can create PR targeting that branch for the rest of packages so we can avoid triggering massive CI validations.

[2022-03-03 20:32] danielortega-msft opened #20647 "AzureAsync polling strategy should also look for operation-location header"
The current implementation of `@azure/core-lro` does not provide out of the box support for LROs that return status monitors using the `operation-location` header. Instead, they only work when the `azure-asyncoperation` header is used, which was dictated by previous versions of the Azure REST API guidelines. However, the latest guidelines state that services should use the `operation-location` hea

[2022-03-03 20:32] azure-sdk commented on #20647
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.40197667,Communication:0.13697524,Storage:0.090877704'

[2022-03-03 21:43] amnguye opened #20648 "[QUERY] Check for case insensitive for parameter names in URL"
We received in an [issue](https://github.com/Azure/azure-sdk-for-net/issues/18401) in .NET where a customer attempted to use a URL with a version id. The versionid parameter name was formatted as `versionId` and the SDK was not able to find the parameter value because it was case sensitive and was looking for versionid in all lowercase.

The service is able to take parameter names with any cases.

[2022-03-03 22:10] #20641 closed

[2022-03-03 22:43] alexweininger opened #20651 "options.baseUri is always overwritten by options.endpoint in the WebSiteManagementClient constructor"
- **@azure/arm-appservice**:
- **11.0.0**:
- **macOS**:
- [x] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **4.3.5**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
`WebSiteManagementClient` constructor ignores and overwrit

[2022-03-03 23:15] #18770 closed

[2022-03-04 00:02] sadasant commented on #18126
To test this, you can manually change the received token. You will receive it in one of the functions on `src/client/identityCleint.ts`. Something similar to this should work:

[code]

We can sync up in case something is off 🙂 ✨team work✨

[2022-03-04 02:25] lirenhe commented on #20651
@qiaozha , could you help to take a look?

[2022-03-04 02:35] v-jiaodi opened #20653 "[Communication - Network Traversal] CommunicationNetworkingClient [Playback/Live] [AAD] successfully gets a turn credential with user identity failing in nightly runs"
Communication - Network Traversal nightly test runs are failing with:

    at handleErrorResponse$2 (../../core/core-http/src/policies/deserializationPolicy.ts:289:9 <- dist-test/index.browser.js:22007:20)
    at dist-test/index.browser.js:21943:50
    at async NetworkRelayRestClient.sendOperationRequest (../../core/core-http/src/serviceClient.ts:527:11 <- dist-test/index.browser.js:24061:32)

[2022-03-04 02:35] azure-sdk commented on #20653
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.59978116,Azure.Core:0.33309388,Azure.Identity:0.02611867'

[2022-03-04 02:35] v-jiaodi opened #20655 "[Storage - Blob] BlockBlobClient stageBlock, stageBlockURL and commitBlockList with CPK failing in nightly runs"
Storage - Blob nightly test runs are failing with:

RequestId:161eafbe-601e-0068-22e3-2e31f9000000
Time:2022-03-03T09:47:48.0180778Z
    at handleErrorResponse (/Users/runner/work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:274:17)
    at /Users/runner/work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:179:47
    at runMicrotasks (<anonymous>)
    at processTicksAnd

[2022-03-04 02:36] sadasant commented on #20233
Hello @aselunar ! I’m Daniel, and I’ll be doing my best to help you.

We’re actively working on a better browser experience for our Identity package. At the moment, the only credential available is the `InteractiveBrowserCredential`, which can be a bit tricky to use. This also means that the only authentication flow available for the browser is indeed the [Authorization Code Flow](https://docs.mic

[2022-03-04 02:46] v-jiaodi commented on #20653
issue repetition. #20542

[2022-03-04 02:46] #20653 closed

[2022-03-04 02:49] qiaozha commented on #20651
@alexweininger If it's possible you may use option.endpoint to by pass this issue to unblock yourself. I will work on the code change later.

[2022-03-04 03:09] EmmaZhu commented on #20627
Hi @indoben ,

From I understand, the issue happens consistently?  Could you share a reproducing project?

Please remove your storage account information, I can try with my own storage account.

Thanks
Emma

[2022-03-04 03:20] WeiJun428 commented on #15746
@jeremymeng I didn't see the feature branch `feature/enable-linting-readme` on my end. I wonder where am I supposed to find it?

[2022-03-04 06:13] EmmaZhu commented on #20507
Hi @acomito ,

You can create a blob service client like following:
    `const blobServiceClient = new BlobServiceClient("https://goodfellas.blob.core.usgovcloudapi.net/", <credential-object>);`

Thanks
Emma

[2022-03-04 07:19] EmmaZhu commented on #20655
Fixed with: https://github.com/Azure/azure-sdk-for-js/pull/20654

[2022-03-04 07:19] #20655 closed

[2022-03-04 09:27] zzhxiaofeng opened #20663 "Azure Lab Services Sample Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/labservices/arm-labservices/samples/v3-beta/javascript/putLab.js#L26)
![image](https://user-images.githubusercontent.com/20970631/156727964-000b988c-851c-404f-a1c6-abbe386c7f93.png)
![image](https://user-images.githubusercontent.com/20970631/156727975-655fa8d0-92b6-4b89-b618-e3345ce4fa8d.png)

Reason:
These values must be a

[2022-03-04 09:27] azure-sdk commented on #20663
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.10534923,Azure.Core:0.08491956,EngSys:0.063763574'

[2022-03-04 09:29] zzhxiaofeng opened #20664 "Azure Schema Registry Avro Sample Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/src/schemaRegistryAvroSample.ts#L10), [link2](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/schemaRegistryAvroSample.js#L10):
![image](https://user-images.githubusercontent.com/80496810/156683562-317

[2022-03-04 09:32] zzhxiaofeng opened #20665 "Azure Key Vault Keys Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/keyvault/keyvault-keys#configuring-your-key-vault):
![image](https://user-images.githubusercontent.com/20970631/156726308-251b01a2-10e1-480f-afc3-2c0b37bd65cb.png)

Reason:
Not output `name`.

Suggestion:
Remove property `name`.

@xirzec, @heaths, @dw511214992 for notification.

[2022-03-04 09:33] zzhxiaofeng opened #20666 "Azure Communication Chat Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/communication/communication-chat#send-a-message-to-the-thread)
![image](https://user-images.githubusercontent.com/20970631/156725199-49037d91-c344-473e-8b52-c9b60ee3d6ae.png)

Reason:
Type 'string' is not assignable to type 'ChatMessageType | undefined'

Suggestion:
Add type declaration for`sendMessageOptions` as following:

[2022-03-04 09:33] zzhxiaofeng opened #20667 "Azure Communication Network Traversal Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/communication/communication-network-traversal#getting-the-configurationrelay):
![image](https://user-images.githubusercontent.com/20970631/156724514-2fd0dd46-d69c-43fb-97f4-270c805a80b7.png)

Suggestion:
Add await before `relayClient`

@xirzec, @mayurid, @AriZavala2 for notification.

[2022-03-04 09:35] zzhxiaofeng opened #20668 "Azure Core Http Sample Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/core/core-http/samples/index.js#L20):
![image](https://user-images.githubusercontent.com/20970631/156723736-48412279-35b5-4a55-9d44-d2ad7c68d4e1.png)

Reason:
![image](https://user-images.githubusercontent.com/20970631/156734555-fdc36df8-85e9-4da7-8a5d-c8c538e70ddd.png)

Suggestion:
Add `clientOptions` to `ServiceClient`.
Up

[2022-03-04 09:39] zzhxiaofeng opened #20669 "Azure Cosmos Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/cosmosdb/cosmos#get-account-credentials)
![Screenshot 2022-03-04 172002](https://user-images.githubusercontent.com/20970631/156735679-afee624f-b515-479e-86aa-2be6019cd1b4.png)

Suggestion:
Update `documentEndpoint` to `primaryMasterKey`

@xirzec, @kyle-patterson, @KrzysztofCwalina, @dw511214992 for notification.

[2022-03-04 09:40] zzhxiaofeng opened #20670 "Azure Recovery Services Backup Sample Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/recoveryservicesbackup/arm-recoveryservicesbackup/samples/v8/javascript/createOrUpdateDailyAzureStorageProtectionPolicy.js#L33), [link2](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/recoveryservicesbackup/arm-recoveryservicesbackup/samples/v8/typescript/src/createOrUpdateDailyAzureStorageProtectionPolicy.ts#L36)

[2022-03-04 09:41] zzhxiaofeng opened #20671 "Azure Kusto Sample Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/kusto/arm-kusto/samples/v7/javascript/clustersCreateOrUpdateSample.js#L34), [link2](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/kusto/arm-kusto/samples/v7/typescript/src/clustersCreateOrUpdateSample.ts#L34):
![image](https://user-images.githubusercontent.com/20970631/156719306-06d1cc2e-5b55-4a06-8c48-c2aa59cd662

[2022-03-04 09:41] azure-sdk commented on #20671
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.25743133,EngSys:0.07582434,Storage:0.070970386'

[2022-03-04 09:41] zzhxiaofeng opened #20672 "Azure Monitor Opentelemetry Exporter Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/monitor/monitor-opentelemetry-exporter#distributed-tracing ):
![image](https://user-images.githubusercontent.com/20970631/156720510-68201af1-5f5e-4155-87f4-7e1f64fe4905.png)
Reason:
Don't have property`instrumentationKey`

Suggestion:
Update code as following:
[code]

@xirzec, @dw511214992 for notification.

[2022-03-04 09:49] JesperJakobsen commented on #20026
Hi @qiaozha,

I can confirm I'm running @azure/arm-consumption v9.0.0.
I'm not quite sure what my subscription type has to do with this issues as I can get the data directly from the REST API, which I assume is used in the SDK.

I'm calling the API directly with the code below, with the same AZ CLI identity, and I'm getting the correct data back.

[code]
Do you do any filtering inside the SDK base

[2022-03-04 09:53] zzhxiaofeng opened #20673 "Azure Service Fabric Mesh Sample Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/servicefabricmesh/arm-servicefabricmesh/samples/v3-beta/javascript/createSecretValue.js#L25), [link2](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/servicefabricmesh/arm-servicefabricmesh/samples/v3-beta/typescript/src/createSecretValue.ts#L28), [link3](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/servi

[2022-03-04 09:54] azure-sdk commented on #20673
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.1372975,Azure.Identity:0.08336048,Service Fabric:0.072814554'

[2022-03-04 09:54] zzhxiaofeng opened #20674 "Azure Core Tracing Readme Issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/core/core-tracing#enabling-tracing-using-opentelemetry):
![image](https://user-images.githubusercontent.com/20970631/156722586-2ed97f7c-a056-4b6b-a681-5e6e26eac269.png)

Suggestion:
Import the `NodeTracerProvider`:
[code]

2.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/core/core-tracing#manual-span

[2022-03-04 10:46] zedy-wj opened #20675 "[Key Vault Certificates]The environment windows2019_sample_12x and windows2019_browser_12x unstable on China cloud."
We are running live tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
These two environments are not stable on China cloud.
1) windows2019_sample_12x :
RestError: There was a conflict while updating pending certificate 'cert***********' in section `Execute Samples`. This can happen

[2022-03-04 10:46] azure-sdk commented on #20675
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'KeyVault:0.5896878,Azure.Identity:0.07684457,Azure.Core:0.0723724'

[2022-03-04 12:16] MuhamedSalihSeyedIbrahim commented on #4807
Hi Team - any update on the direct mode feature?

[2022-03-04 14:26] AnjaP7 opened #20676 "TypeError: client.beginAnalyzeDocuments is not a function"
- **Package Name**: "@azure/ai-form-recognizer",
- **Package Version**: "^4.0.0-beta.3",
- **Operating system**: Mac OS
- [ x] **nodejs**
    - **version**: v14.19.0
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I'm getting the error "An error occurred: TypeError: client.beg

[2022-03-04 16:55] maorleger commented on #20674
Thanks @zzhxiaofeng / @v-xuto - I agree with the recommendations. Could you open a PR making these changes?

[2022-03-04 16:58] maorleger commented on #20673
@qiaozha do you agree with the recommendations? If so, let @zzhxiaofeng know and they can open a PR making the changes (or feel free to assign within your team as appropriate of course)

[2022-03-04 16:59] maorleger commented on #20672
@hectorhdzg if this makes sense to you @zzhxiaofeng's team can open a PR with the recommended changes. Otherwise feel free to handle how you see fit

[2022-03-04 17:03] maorleger commented on #20670
@qiaozha by the way - I have been assigning management plane issue to you for further triage - are you the right person to assign these to or should I use someone else? If so - feel free to update the CODEOWNERS file to reflect package owners and I can use that to assign

[2022-03-04 17:04] maorleger commented on #20669
@jay-most are you the right person to assign cosmos related issues to? If not, who should I assign these to?

As for this issue, if you agree with the recommendation feel free to let @zzhxiaofeng know and add the "help-wanted" label and they can make the changes if you'd like...

[2022-03-04 17:12] maorleger commented on #20665
This makes sense to me if you can open a PR to make the change? We don't use `name` anywhere below either so I'm fine removing it

[2022-03-04 17:52] jeremymeng commented on #20668
@xirzec These samples are more for us to test the library before releasing than for the public. They didn't run before I updated them in PR #8148 but it looks that I forgot to update the browser version.

[2022-03-04 18:05] jeremymeng commented on #15746
@WeiJun428 This could be a permission issue.  I will try to find a solution, meanwhile you can work on your own branch.

[2022-03-04 18:15] jeremymeng commented on #15746
@WeiJun428 It should be available now at https://github.com/Azure/azure-sdk-for-js/tree/feature/enable-linting-readme

[2022-03-04 18:40] indoben commented on #20627
@EmmaZhu Code is attached. Please see the readme for setup instructions.
[dta.zip](https://github.com/Azure/azure-sdk-for-js/files/8188112/dta.zip)
.

[2022-03-04 19:18] jeremymeng commented on #20668
@zzhxiaofeng could you please open a PR to fix it?

[2022-03-04 20:45] sadasant commented on #6484
Moving it two milestones ahead to give #15809 some time.

[2022-03-04 22:08] heaths commented on #20665
It used to be an output property, but was recently removed.

[2022-03-05 02:04] #20647 closed

[2022-03-05 04:02] #20380 closed

[2022-03-05 08:43] amishra-dev commented on #20590
@qiaozha will you be the one owning this?

[2022-03-06 22:12] bbrusniak opened #20681 "Rush update fails using Node v16 on Windows 11"
The following error occurs when running rush update using Node v16.

Here are the versions I was using when the command failed:
Node - 16.14.0
NPM - 8.3.1
Python - 3.7.3
Windows 11 - Version: 21H2

Here is the output of running rush update:

node_modules/.pnpm/highlight.js@9.18.5/node_modules/highlight.js: Running postinstall script, done in 887ms
node_modules/.pnpm/core-js@2.6.12/node_modules/cor

[2022-03-06 22:12] azure-sdk commented on #20681
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.44006085,Service Bus:0.055425264,Azure.Identity:0.05532772'

[2022-03-07 02:03] qiaozha commented on #20673
@zzhxiaofeng are you from the Service Fabric Mesh team ? Actually the samples are generated from swagger examples, if the location is required parameters, You should update the swagger examples here https://github.com/Azure/azure-rest-api-specs/blob/main/specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-09-01-preview/examples/secrets/values/create.json#L11-L

[2022-03-07 02:07] qiaozha commented on #20671
Similar to the case here https://github.com/Azure/azure-sdk-for-js/issues/20673#issuecomment-1060114585

[2022-03-07 02:07] qiaozha commented on #20670
https://github.com/Azure/azure-sdk-for-js/issues/20673#issuecomment-1060114585 same here.

[2022-03-07 02:08] qiaozha commented on #20670
Yes, you can assign mgmt plane issue to me.

[2022-03-07 02:14] qiaozha commented on #20590
Yes. Already synced with @MRayermannMSFT in teams.

[2022-03-07 05:22] sajeetharan commented on #20669
@maorleger You can assign to me

[2022-03-07 08:02] #20138 closed

[2022-03-07 08:05] beyerleinf opened #20688 "@azure/arm-cdn - "A non-empty request body is required" when using beginEnableCustomHttpsAndWait"
- **Package Name**: @azure/arm-cdn
- **Package Version**: 6.0.0
- **Operating system**: Linux Mint
- [x] **nodejs**
    - **version**: 16.14.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.5.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2022-03-07 08:05] azure-sdk commented on #20688
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Network - CDN:0.5541763,Azure.Identity:0.07960774,Storage:0.04470061'

[2022-03-07 09:53] zzhxiaofeng commented on #20673
@qiaozha I am not a member of the Service Fabric Mesh team. Please help update the swagger examples when you are free.

[2022-03-07 11:11] gr4per commented on #20490
Hi Emma,

thanks for getting back. I tried with non HNS account and that goes through successfully.
I believe it would be a good idea to point this important piece out in the storage API docs.
Even more, it would be a great time saver for developers if the REST error would actually indicate a conflict with the storage account setup.

Cheers,

Arne

[2022-03-07 12:31] sajeetharan commented on #18558
@kirankumarkolli Based on the analysis of support requests related to Latency issues, having request diagnostics enabled on client is very useful to troubleshoot issues. These are actionable metrics for us but certainly not for customers.

[2022-03-07 16:13] #20665 closed

[2022-03-07 16:15] #20674 closed

[2022-03-07 16:25] maorleger commented on #20681
@sadasant / @witemple-msft at first glance this looks like its coming from msal-node-extensions so I figured one of you might be able to help but feel free to reassign as appropriate

[2022-03-07 17:43] omrodrig commented on #15421
@dw511214992 Usage Details belong to Microsoft.Consumption

[2022-03-07 17:50] mbhaskar opened #20689 "Partial document update fails with managed identity"
fetchAll/upsert/create method are working fine. But .patch is throwing below error.

Trace:
-------
97268cd7-4789-47fe-9dfe-2e8d42944e3f | ProductsCleaner | Error: Required Header authorization is missing. Ensure a valid Authorization token is passed.
ActivityId: eff8dfcc-c5ee-43af-9f07-691cc6ecc66c, Microsoft.Azure.Documents.Common/2.14.0
    at httpRequest (.../node_modules/@azure/cosmos/dist/in

[2022-03-07 17:54] nulltoken opened #20690 "@azure/storage-blob and ApplicationInsights no longer working together after a dependency upgrade"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.8.0
- **Operating system**:
- [x] **nodejs**
    - **version**: 16.13
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.6.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Follow

[2022-03-07 18:23] jeremymeng opened #20691 "[core] use the new User-Agent Client Hints API for browser telemetry information"
https://developer.mozilla.org/en-US/docs/Web/API/User-Agent_Client_Hints_API

Currently Firefox and Safari doesn't support this though, we could fallback to old way.

[2022-03-07 21:19] jeremymeng commented on #5665
This has been addressed. We now have CoC and PR template

[2022-03-07 21:19] #5665 closed

[2022-03-07 21:22] jeremymeng commented on #6514
The telemetry (user-agent info) is handled in generated clients in core-v2. We don't need to test them now as we don't have the code to set them.

[2022-03-07 21:22] #6514 closed

[2022-03-07 21:27] jeremymeng commented on #7371
@HarshaNalluru now every README has the troubleshooting section.  Are there anything else we should add? Event Hubs and Service Bus is a little special in that they use "debug"

[2022-03-07 21:28] maorleger commented on #20690
Possibly related to #20689

Hi @nulltoken! Not sure whether this is endemic to @azure/storage-blob or any Azure SDK library that interacts with applicationinsights@2.2.2

However, we just received another bug report in @azure/cosmos (see #20689) with the same sort of error message. So, I'd like to start with applicationinsights - @hectorhdzg FYI, do you think it could be related to appinsights?

[2022-03-07 21:37] jeremymeng opened #20697 "[eslint] consider `consistent-type-imports` rule"
The rule can help enforce usage of `import type` which benefits compilers/bundlers to eliminate types in generated code.  It also has a fixer.

https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/rules/consistent-type-imports.md

The drawback: we could have duplicate imports and have conflict with the `no-duplicate-imports` rule
https://github.com/Azure/azu

[2022-03-07 21:40] jeremymeng commented on #11684
related: https://www.npmjs.com/package/dotenv-json

[2022-03-07 21:54] jeremymeng commented on #17770
closing. we now have bot-created issues tracking dep upgrades.

[2022-03-07 21:54] #17770 closed

[2022-03-07 21:54] jeremymeng commented on #17771
closing. we now have bot-created issues tracking dep upgrades.

[2022-03-07 21:54] #17771 closed

[2022-03-07 21:56] jeremymeng commented on #17771
#19165

[2022-03-07 21:57] jeremymeng commented on #17778
closing. we now have bot-created issues tracking dep upgrades. #19242

[2022-03-07 21:57] #17778 closed

[2022-03-07 22:05] jeremymeng opened #20698 "[ServiceBus][Samples] browseMessages sample should be self-contained"
Currently it requires the `sendMessages` sample to run first. We could probably export a function from the send sample and used it before receiving messages?

[2022-03-07 22:05] jeremymeng commented on #18028
I agree that samples should be self-contained.  I logged #20698.  @HarshaNalluru do you know any other samples that have similar issue?

[2022-03-07 22:08] hectorhdzg commented on #20690
@nulltoken Application Insights SDK add tracing headers to all outgoing requests, you should be able to [configure](https://github.com/microsoft/ApplicationInsights-node.js#configuration) which domains to exclude using correlationHeaderExcludedDomains, following code make your test pass.

`
AppInsights.setup('00000000-0000-0000-0000-000000000000');
AppInsights.defaultClient.config.correlationHeade

[2022-03-07 22:13] HarshaNalluru commented on #18028
Same with receiving as well.
The session receiving sample does not have the send counterpart.

Better to run the check-node-versions script to see what needs prerequisites.

[2022-03-07 22:13] HarshaNalluru commented on #7371
Unsure if all the readmes have it. Feel free to close though 🙂

[2022-03-07 22:37] deltawi commented on #4245
Two years later, I am still facing the same issue, there is no clear example on how to use containerGroups.beginCreateOrUpdate() in order to create a container instance and deploy an image, I had to use this   [python example](https://github.com/Azure-Samples/container-instances-python-manage/blob/master/src/example.py)  which is not enough to have something working 100%. Can you please reopen thi

[2022-03-07 22:41] jeremymeng opened #20700 "[appconfig][doc] Readme is missing troubleshooting section"
It should be consistent with other packages.

./appconfiguration/app-configuration/README.md

[2022-03-07 22:43] jeremymeng commented on #7371
I only found one non-generated package that is missing troubleshooting section: https://github.com/azure/azure-sdk-for-js/issues/20700

Closing this.

[2022-03-07 22:43] #7371 closed

[2022-03-07 23:40] jeremymeng opened #20701 "[engsys] investigate using `swc` in build to reduce build"
some notes and ideas:
- we still need tsc to check types `tsc --noEmit`. We could use this in our `Analyze` pipeline
- we still need tsc to build type declarations for packaging/development
- we may be able to use `swc` to build test because only the output js files are needed to run tests and to bundle browser tests.
- some types are not erased when using `swc` becuase it doesn't check multiple f

[2022-03-08 00:02] qiaozha commented on #20688
@maorleger Client label means mgmt plane I think.

[2022-03-08 01:49] qiaozha commented on #20688
@MaryGao Could you take a look at this issue? Thanks

[2022-03-08 03:02] MaryGao commented on #20688
Will follow up this

[2022-03-08 03:29] qiaozha commented on #20590
@MRayermannMSFT I think this is probably a new feature we need to support. but in the meantime, you can use the following work around if you like.
First, define a Pipeline policy like this
[code]
And then add this line before you call the SDK.
[code]
Please don't forget to add the import logic
[code]

[2022-03-08 06:34] v-jiaodi opened #20713 "[Communication - Phone Numbers] PhoneNumbersClient - lro - search can search for 1 available phone number by default failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\communication\communication-phone-numbers\test\public\lro.search.spec.ts:49:14)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1415216&view=results

[2022-03-08 06:35] v-jiaodi opened #20714 "[Service Bus] Batching Receiver Batch Receiver - disconnects Session Batch Receiver - disconnects failing in nightly runs"
Service Bus nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/servicebus/service-bus/test/internal/batchReceiver.spec.ts:1359:18)
    at runNextTicks (node:internal/process/task_queues:61:5)
    at listOnTimeout (node:internal/timers:528:9)
    at processTimers (node:internal/timers:502:7)

For more details check here:

- https://dev.azure.com/azure-sdk/in

[2022-03-08 07:20] chandankumarzf opened #20716 "link not working for javascript sample"
check this link - https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/storage/storage-file-datalake/samples/javascript

[2022-03-08 11:22] nulltoken commented on #20690
@hectorhdzg Thanks a lot for the feedback!

@maorleger In order to try and help identify the source of the issue, I've bisected through the list of upgrades.

I've then updated the repro case with a new commit history.

![image](https://user-images.githubusercontent.com/92363/157228599-b7413bda-ac8e-4137-a2d1-2d41898e05ba.png)

The culprit seems to be the upgrade of `@azure/core-http` from 2.2.2 t

[2022-03-08 14:20] rido-min opened #20720 "[dtdl-parser] Review samples in README"
- **dtdl-parser**:
- **latest**:

- Is the bug related to **documentation** in
  - [x ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The sample in the README has some issues:

- incomplete (not using imports/require)
- missing async inside a forEach loop
- Incorrect initialization (model parsing options not found)

**To Reprod

[2022-03-08 14:20] azure-sdk commented on #20720
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.48036337,Cosmos:0.12427262,IoT:0.026789252'

[2022-03-08 16:08] maorleger commented on #20690
Thanks for that added info! Let me investigate a bit and see what could be happening. The changelog for 2.2.3 has these entries:

- Fix HttpHeaders.rawHeaders() to preserve header name case. As a result HttpClient now sends requests with their original header names. HttpHeaders.toJson() now has an option to preserve header key casing.
- Update dependency node-fetch version to 2.6.6 to address advi

[2022-03-08 17:48] deyaaeldeen opened #20721 "[Event Hubs] EventData adapter is broken"
The EventData adapter is supposed to extract the payload from an EventData but currently it makes the assumption that payload will be Uin8Array and in reality it is Buffer:
https://github.com/Azure/azure-sdk-for-js/blob/2998759db7fffd9edc08698266e5dad3b5587345/sdk/eventhub/event-hubs/src/eventDataAdapter.ts#L89-L101

For context: when you create an EventData using the schema registry avro encoder,

[2022-03-08 17:50] deyaaeldeen opened #20722 "[Schema Registry Avro] Re-enable integration tests"
They are mistakenly skipped.

[2022-03-08 18:23] #20721 closed

[2022-03-08 18:23] #20722 closed

[2022-03-08 19:48] nulltoken commented on #20690
@maorleger Thank you so much for the quick turnaround. This is exactly the reason why I invest some time in the repro cases 😉

[2022-03-08 21:04] #20672 closed

[2022-03-08 21:40] YoDaMa commented on #20148
linking @rido-min's issue: https://github.com/Azure/azure-sdk-for-js/issues/20720

[2022-03-08 21:57] keystroke commented on #20347
Please see this issue as well: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/3126

We also need to ensure "WithInstanceDiscoveryMetadata" is exposed to users as well, depending on the MSAL features here in JS. Or, perhaps Azure SDK could handle this internally on the back of the exposed authority validation boolean.

This is for JEDI / private cloud flows, where we

[2022-03-08 22:25] nturinski opened #20728 "`WebSiteManagementClient.checkNameAvailability` in @azure/arm-appservice"
- **@azure/arm-appserviceName**:
- **11.0.0*:
- **Windows 11**:
- [x] **nodejs**
    - **v16.13.2**:
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **4.3.5**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The call to `WebSiteManagementClient.checkNameAva

[2022-03-08 23:08] deyaaeldeen opened #20730 "[Schema Registry Avro] Rename Encoder to Serializer"
The architects recommended renaming back from encoder to serializer.

[2022-03-08 23:15] deyaaeldeen commented on #20664
Thanks for catching this! I will update the samples this week once we release beta.7.

[2022-03-08 23:41] #20730 closed

[2022-03-08 23:50] jeremymeng opened #20735 "[KeyVault][test] consider sanitizing private key value in the recording"
The test only verifies the certificate part of the retrieved secret, not the private key.

https://github.com/Azure/azure-sdk-for-js/blob/9ec685623747217beea9c3b919bb15e1c4105c34/sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts#L294-L305

we may want to replace the private key value with some placeholder, to avoid triggering credscan report.

https://github.com/Azure/azure-sdk-for-js/bl

[2022-03-08 23:53] jeremymeng commented on #20735
PR https://github.com/Azure/azure-sdk-for-js/pull/20727 manually replace the value in the recording with a placeholder but it would be better to have a sanitizer to do that.

[2022-03-08 23:59] jeremymeng commented on #20681
`keytar` installed fine. it's an arm package.

[2022-03-09 00:16] sadasant commented on #20347
@keystroke ok thanks!

@KarishmaGhiya This issue is about the following:

1. Test what happens when we set the authority host to `https://management.private_domain.onmicrosoft.com/<b9ae38c5-####>`. Does it break? If it breaks, can it work if we pass that host to `knownAuthorities`?
2. If it breaks, we need to see what’s the MSAL JS equivalent of the `validate_authority` boolean option that exists

[2022-03-09 00:28] sadasant commented on #20347
Other TODOs:
- We should ask the MSAL team if there’s a way to modify or skip the metadata request.

[2022-03-09 00:59] #20588 closed

[2022-03-09 04:25] #18006 closed

[2022-03-09 04:36] bbrusniak commented on #20681
@jeremymeng suggested cloning the folder directly into my C Drive. I did and it fixed the issue. Likely caused by file path being too long on Windows System

[2022-03-09 04:36] #20681 closed

[2022-03-09 04:37] sadasant commented on #20681
ooh wow! thanks!

[2022-03-09 07:22] dw511214992 commented on #15421
thanks @omrodrig

@bobalong79  could you move to use the usage details rest api in https://www.npmjs.com/package/@azure/arm-consumption to check whether it meets your requirements. thanks

[2022-03-09 07:24] qiaozha commented on #20147
close it as being taken offline.

[2022-03-09 07:47] qiaozha commented on #20728
@colawwj Can you take a look at this issue ? Thanks

[2022-03-09 08:02] #19468 closed

[2022-03-09 09:51] qiaozha commented on #20026
SDK won't do any filter. can you debug in your side and see what the original response look like in the SDK as I can not repro it on my side.

[2022-03-09 12:53] acomito commented on #20507
Thanks!

[2022-03-09 12:53] #20507 closed

[2022-03-09 16:06] bwateratmsft commented on #20570
@qiaozha @MaryGao this may block our release with the Track 2 API. Do you have any updates?

[2022-03-09 16:44] xiangyan99 commented on #20147
@qiaozha The issue is not solved yet. We took offline to clarify the ownership.

[2022-03-09 18:11] deyaaeldeen opened #20750 "Event Hubs Client Library for JS - April Milestone"
For general summary and goals, please see:  [Azure Event Hubs Commitments (April 2022 - September 2022) [#3990]](https://github.com/Azure/azure-sdk/issues/3990).  The work items linked to this issue herein represent the tasks needed to produce the JS Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [ ] Create issues and perform resource planning for the next

[2022-03-09 20:24] #20245 closed

[2022-03-09 20:24] #20363 closed

[2022-03-09 20:24] #20565 closed

[2022-03-09 21:24] #15821 closed

[2022-03-09 22:05] HarshaNalluru commented on #18782
Closing since identity has been migrated to the new recorder.

[2022-03-09 22:05] #18782 closed

[2022-03-09 22:08] jeremymeng commented on #5771
@egemenuzunali just an update. I am waiting for the work to move app-configuration to our newer version of core libraries #https://github.com/Azure/azure-sdk-for-js/issues/15809 first which should remove the need of hacky workaround. I should have an update before April.

[2022-03-09 22:10] jeremymeng commented on #11850
I tried on a 250 MB video.  Will try on a bigger file

[2022-03-09 22:13] jeremymeng commented on #20274
@winterAndvelvet have you got any chance to enable more detailed logging or try out the workaround using abort signal?

[2022-03-09 22:13] sadasant commented on #18782
@HarshaNalluru thank you!

[2022-03-09 22:32] jeremymeng commented on #20545
@Ginden Thank you for reporting this issue!  Yes the typing is incorrect.  Property values can only be one of `number | boolean | string | Date | null`.  We could fix the type but that might break existing code.  I will update the reference doc to call out the supported types.

[2022-03-09 22:43] jeremymeng commented on #20578
It's a service limitation and a workaround is provided in https://github.com/Azure/azure-sdk-for-net/issues/25381 by setting the `maxSizeInBytes` option when creating message batch.

[2022-03-09 22:49] egemenuzunali commented on #5771
@jeremymeng Thanks a lot for the update 👍 , looking forward to taking it for a spin here at the Municipality of Amsterdam.

[2022-03-09 23:23] jeremymeng commented on #17959
@HarshaNalluru is this still an issue? looks like we were not closing correctly thus mock server hung.

[2022-03-09 23:32] jeremymeng commented on #20282
@jakemangansw what kind of messages are you sending?  I've tried your code with a simple json message but it worked fine for me in a long loop.  if possible could you please enable detailed logging and share the logs?

[2022-03-09 23:57] StephenWeatherford commented on #20500
@wwlorey Does this affect all extensions that use azure account, or are we (the Bicep extension with some new code) affected by this based on us doing something differently?  Don't fully understand why you don't publish a reverted version to fix this until you get a real fix, especially if it's not just us.  Thx.

cc @ucheNkadiCode, @bhsubra

[2022-03-10 00:04] HarshaNalluru commented on #17959
Hmmm, doesn't look like the pipeline is failing anymore.

https://dev.azure.com/azure-sdk/public/_build?definitionId=940&branchFilter=127756%2C127756%2C127756%2C127756%2C127756%2C127756%2C127756%2C127756%2C127756%2C127756%2C127756%2C127756%2C127756%2C127756

Let's close and revisit if it appears again.

[2022-03-10 00:04] #17959 closed

[2022-03-10 03:35] indoben commented on #20627
Hi @EmmaZhu - wanted to follow up on this.

[2022-03-10 03:37] qiaozha commented on #17543
@diberry Thanks for reporting this. We have updated the samples in both track1 SDK https://github.com/Azure/azure-sdk-for-js/tree/feature/v4/sdk/subscription/arm-subscriptions and track2 SDK readme.md https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/subscription/arm-subscriptions#create-and-authenticate-a-subscriptionclient