[2021-04-12 19:00] joheredi commented on #14780
Thanks for reporting @nnofa, this behavior is by design. The reason behind the design, is that the service supports nano-second precision, however JS doesn't. We decided not to serialize and return the date as a string to avoid losing precision on round tripping. This is the same behavior for Int64 data types

I have filed #14842 to investigate the use of Temporal and BigInt to improve this behavi

[2021-04-12 19:00] #14780 closed

[2021-04-12 19:03] benbp commented on #14825
@jeremymeng I see, so as you say: log the failure, run the rest of the tests, dump out an error array and preserve the pipeline failure at the end?

[2021-04-12 19:20] #11196 closed

[2021-04-12 19:28] ramya-rao-a commented on #14496
@andrewcourtice Does the above workaround work for you?
@chradek Can we log an issue in the rhea repo for a follow up?

[2021-04-12 19:36] ramya-rao-a commented on #10091
@HarshaNalluru Can you see if this is still an issue and if there is anything for us to do here? If not, lets close this issue

[2021-04-12 20:56] catalinaperalta commented on #6769
@sadasant I took a look at Chained Token Credential and you are missing the credential information in the success logs. On line:
https://github.com/Azure/azure-sdk-for-js/blob/1ca1f14e6018138da348c8d297aabd30d52dca1e/sdk/identity/identity/src/credentials/chainedTokenCredential.ts#L88

This log message should include the credential that succeeded or you can add an additional log message that states

[2021-04-12 21:01] sadasant commented on #6769
@catalinaperalta Thank you so much! I'll make a PR

[2021-04-12 21:11] HarshaNalluru commented on #14705
Hey @ropez,

I've created a PR that adds a sample react app for feature flags https://github.com/Azure/azure-sdk-for-js/pull/14845.
Let me know if that helps and feel free to review the PR.

[2021-04-12 22:41] bdelville commented on #14535
I was saying that we are running the instance with debug logs activated for "rhea" and "azure".
However this is still happening. I will re-open once we can give you more traces.

[2021-04-12 22:45] andrewcourtice commented on #14496
Hi @ramya-rao-a  - sorry it's taken me a little while to reply. Unfortunately the above solution didn't work. It caused various other things to break.

[2021-04-12 22:47] chradek commented on #14496
@andrewcourtice Can you share what else broke? Any chance you can update your repro with changes that trigger the failures?

[2021-04-12 22:51] #14467 closed

[2021-04-12 23:01] mkolt commented on #14803
@tudor33sud IfMatch is not needed to take care of concurrency for sprocs, if another transaction modified a doc, current transaction will fail with 449 (which is auto-retried to some extent in SDK and that's not currently configurable).

For error handling you have a couple of options. (1) as in your example, you can use substatus code and then check that on the client side. You can also use custo

[2021-04-12 23:09] ramya-rao-a commented on #14535
Thanks @bdelville

When you get the logs, please open an Azure support ticket with the logs, the timestamp for when you see the issue, your service bus instance details, topic and subscription name. This will allow the support folks to query the service side logs to look for any abnormalities. Also ask them to loop in the Azure SDK team to look at the client side logs that you would be sharing. Fe

[2021-04-12 23:46] sadasant opened #14848 "Should TokenCredential have an optional "name" property?"
At the moment, classes implementing `TokenCredential` will have names through the `constructor.name` property. This is used to log what credential succeeded, and to simplify tracing within @azure/identity. While this is OK for classes, JavaScript allows using closures as classes, which means that a closure could return a `TokenCredential` and thus not have a custom name (`constructor.name` would r

[2021-04-13 00:16] HarshaNalluru commented on #10091
Looks like the problems are addressed, App Config has browser tests too which makes sure that the SDK works in the browser. Closing this issue.

Though not relevant, just mentioning here that App Config has some new features, for which we have published a preview version of the SDK.
Package - https://www.npmjs.com/package/@azure/app-configuration/v/1.2.0-beta.1
Changelog - https://github.com/Azure

[2021-04-13 00:16] #10091 closed

[2021-04-13 02:17] qiaozha commented on #14833
@ramya-rao-a @diberry Azure CLI calls Python SDK internally.  After I check azure cli code, the internal rest api call of creating a service principal is in data plane swagger https://github.com/Azure/azure-rest-api-specs/blob/057a2f0ecad93bf837e6299b3b0393bc662cbbd7/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json#L1206. which already has a data-plane JS package he

[2021-04-13 02:33] qiaozha commented on #14813
@diberry  I think you probably need to query all the available resourceType and apiVersions from here https://docs.microsoft.com/en-us/rest/api/resources/providerresourcetypes/list before you use resources package to create other kinds of resources.

from your error message. I think it indeed show the resourceType is invalid?
`code:'InvalidResourceType' message:'The resource type could not be foun

[2021-04-13 03:07] dilin-MS opened #14852 "[keytar] Does @azure/identity can not run on different platform with build-time platform."
- **Package Name**: @azure/identity
- **Package Version**: 1.3.0
- **Operating system**: win

Hi, I am creating this issue to ask whether `@azure/identity` can not run on different platform with the build-time machine.

We notice that `@azure/identity` has a `keytar` dependency. When we build `@azure/identity` on one machine (for example, x86), and run it on another machine (say ia32), since keyta

[2021-04-13 03:13] gmantri opened #14853 "[Service Bus] How to properly decode/deserialize a message?"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.0.3
- **Operating system**: macOS
- [x] **nodejs**
    - **version**: 14.15.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
We're

[2021-04-13 03:31] EmmaZhu commented on #14797
@ralphie97

Thanks a lot for reporting this to us. This issue may because: the SDK uses content length in header to do signature, while storage service uses the actual content length for request body.  We will fix this.

Does this issue blocks your scenario? Do you have a work around?

Thanks
Emma

[2021-04-13 03:38] EmmaZhu commented on #14831
@tudor33sud

JS SDK doesn't support client side encryption yet, I know that .Net SDK has supported it. I'll evaluate on this requirement.

Thanks
Emma

[2021-04-13 05:44] ralphie97 commented on #14797
@EmmaZhu

Currently, this acts as a blocker and we don't have a workaround.
When can we expect the fix?

Thanks
Nikhil

[2021-04-13 06:13] tudor33sud commented on #14803
Thanks for the ifmatch explanation, it seems then everything works as expected built in.

However, for problem no 2, I still don't think we are in the clear. I will walk you through the scenarios I just tested using SDK.

Sample stored procedure code:

    function asyncProcedure(input) {

	    async  function main() {
	    throw  '{"code":700}'
	    return {
	    message: "ok"
	    }
	}
    // th

[2021-04-13 12:45] diberry commented on #14833
Thank you for finding that. This seems like a hurdle for customers to find the right scenario/task api. Is there something I/we can do to make this easier - perhaps a higher level SDK that wraps service/provider SDKs?

[2021-04-13 16:30] #6769 closed

[2021-04-13 17:30] sadasant commented on #14852
@dilin-MS Hello hello! This is Daniel. I'll be doing my best to help you.

KeyTar does include pre-compiled binaries for some environments, but for now, 1.3.0 is expected to run in the same machine used to build it. We're working on a 2.0.0 release which will not include Keytar in the base `@azure/identity` package. The features related to Keytar will be available through a separate optional depen

[2021-04-13 19:33] richardpark-msft commented on #14853
Hi @gmantri,

The issue here is that older .NET Service Bus packages automatically do some encoding of the underlying body, even when you think you're just sending a string. So in this case the interop problem is on the sending side, not necessarily on the receiving side.

The sender would need to alter their code such that it encodes the message as bytes, rather than attempting to do any serializ

[2021-04-13 21:13] richardpark-msft opened #14864 "[core-amqp] retry<T> alters the passed in arguments"
retry updates the passed in arguments if it detects they're undefined, and shouldn't:

[code]

It really shouldn't - we can fix this by making a copy (if need be) or simply holding onto these limits in local variables and not touching the original passed in parameters.

[2021-04-13 21:17] schaabs opened #14865 "[FEATURE REQ] Create AzureApplicationCredential"
This issue is to track the design and implementation of the `AzureApplicationCredential` for applications calling service APIs not suited for `DefaultAzureCredential`. Details can be found [here](https://gist.github.com/9793dbc036d16708fb7d8fe411fe0f1f)

[2021-04-13 21:23] ramya-rao-a commented on #3212
@karthik2146 There is no Java counterpart to the open method as far as I know. You can post a question in https://github.com/azure/azure-sdk-for-java for queries on the azure-messaging-servicebus Java package

[2021-04-13 21:24] ramya-rao-a commented on #13156
Feedback from API review for API alignment copied over from #14787

- Change "authenticate" for "authorize" in the challenge callbacks.
- Do not pass `challenge: string` on `authenticateRequestOnChallenge`, pass the whole response through `ChallengeCallbackOptions`.'
- Do not expose the default callbacks on the public API.

[2021-04-13 21:25] ramya-rao-a commented on #14787
Moving this feedback to the issue tracking the Continous Access Evaluation feature i.e. #13156

[2021-04-13 21:25] #14787 closed

[2021-04-13 21:27] heaths opened #14866 "Update Key Vault Administration README with assignment recommendations"
Please have a look at PR Azure/azure-sdk-for-net#20359 and make similar changes to your README to recommend and link to information about role assignments.

[2021-04-13 21:37] sadasant commented on #13872
@ashic thank you for using our SDKs! Please let us know if you find any other issue.

[2021-04-13 22:03] #12318 closed

[2021-04-13 23:20] sima-zhu commented on #14457
@ramya-rao-a Thanks for the feedback! I have worked with Daniel about the notification. I will walk through the github UI to see how I can get the better notification. Unfortunately, it is empty queue in my notification list.
![image](https://user-images.githubusercontent.com/48036328/114632390-7ac78400-9c73-11eb-8211-95c38939384e.png)

For the issue here, could you please update the your package

[2021-04-13 23:26] andrewcourtice commented on #14496
@chradek I have updated the reproduction and the error now seems to be resolved with the shims solution. I'm not sure what changed between when I tested it last and now but it works.

This will do well as an interim solution however it would be good to eventually do away with this necessity as it ships an additional ~60KB to the browser.

Thanks again for your help.

[2021-04-14 00:18] witemple-msft commented on #14852
@dilin-MS , @azure/identity 1.3.0 _only_ uses keytar for the VisualStudioCodeCredential. If you aren't using that credential, then you should be able to ignore the keytar depdendency. We have a feature goal for Identity 2.0 to remove this dependency entirely, as @sadasant mentioned. If you're using VisualStudioCodeCredential, then yes, `npm install` needs to be run on a machine with the same CPU a

[2021-04-14 01:01] gmantri commented on #14853
Thank you @richardpark-msft. It is indeed very helpful. It may not be possible to change the sender code (I am looking into it though). What would be the alternative in that case? Do string manipulation and strip out unnecessary encoding information? Is there a good way to do that? In my case, we may get both JSON and XML data.

[2021-04-14 01:13] HarshaNalluru opened #14871 "[Recorder] Support filtering request body and path before matching the requests"
## Description
Request body and path may contain unique ids which make tests with such ids not fit for playback.
It'd be great if the recorder supports filtering the body and path during playback to allow bypass the unique ids.

Some background below.
### Anatomy of a request
- Method (required) — (Example: GET)
- Host (required) — (Example: www.bing.com)
- Path (required) —(Example: /search)
- HT

[2021-04-14 01:32] #14485 closed

[2021-04-14 01:50] sima-zhu commented on #14362
We temporarily remove the href, so it will display the API ref link instead of 404. e.g. [Anomaly Detector](https://docs.microsoft.com/en-us/javascript/api/overview/azure/cognitive-services?view=azure-node-latest&WT.mc_id=aiml-0000-ayyonet). We previously support the github clone in docs OPS build. It is broken recently. Will update the ticket cut to docs team.

[2021-04-14 01:51] sima-zhu commented on #14362
Closed the issue as we already update this in docs.ms. Will have follow up in docs team ticket.

[2021-04-14 01:51] #14362 closed

[2021-04-14 01:53] sima-zhu commented on #13019
It is now updated to legacy moniker. Close this issue. Feel free to reopen if anything unaddressed.

[2021-04-14 01:53] #13019 closed

[2021-04-14 01:53] sima-zhu commented on #13019
https://docs.microsoft.com/en-us/javascript/api/@azure/event-processor-host/?view=azure-node-legacy

[2021-04-14 03:24] ljian3377 opened #14873 "[core-http & core-rest-pipeline] NO_PROXY load from env too early"
https://github.com/Azure/azure-sdk-for-js/blob/887eb013a7c9278b7eedb2c04c5e1bac0b984ebe/sdk/core/core-http/src/policies/proxyPolicy.ts#L20

The `NO_PROXY` is read from env when core-http module is loaded. This makes env tools like dotenv not feasible as the `dotenv.config()` call may run after that.

Could we load this variable afterwards when the pipeline is created just like the other env variab

[2021-04-14 06:09] ramya-rao-a commented on #13019
Thanks @sima-zhu!

[2021-04-14 07:32] qiaozha commented on #14828
The available locations can also be found in this rest api. https://docs.microsoft.com/en-us/rest/api/resources/providerresourcetypes/list

[2021-04-14 13:52] seanmcc-msft opened #14876 "[Storage] Does BlobClient.Exists() function correctly for blobs encrypted with CPK?"
https://github.com/Azure/azure-sdk-for-net/issues/20361

[2021-04-14 15:19] zfoster commented on #14739
@zzhxiaofeng I still am unable to run the sample and consistently generate delete conflicts however I think this PR should fix the issue and seems to fix the sample for me most of the time
https://github.com/Azure/azure-sdk-for-js/pull/14875

[2021-04-14 15:19] zfoster commented on #14739
Feel free to make a PR for any further fixes

[2021-04-14 15:19] #14739 closed

[2021-04-14 17:28] hectorhdzg commented on #12856
We are not adding support for telemetry processors in Azure Monitor Exporter, this is out of scope of the exporter and similar functionalities could be achieved using Resources SDK https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/sdk.md and SpanProcessors https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md

[2021-04-14 17:28] #12856 closed

[2021-04-14 17:31] sadasant commented on #14865
@schaabs I like this! I have a similar proposal regarding `InteractiveCredential`, which tries `InteractiveBrowserCredential` and defaults to `DeviceCodeCredential`. This will be incredibly useful for new users, since neither of these two require creating an AAD app, nor having the Azure CLI installed.

[2021-04-14 17:35] sadasant opened #14879 "[Identity] Should we disable ClientSecretCredential in the browser?"
On Identity, both v1 and v2, `ClientSecretCredential` is enabled on the browser bundles. Most credentials are not, and the only credential that can work through CORS is `InteractiveBrowserCredential`, but to considerably simplify our testing setup, we currently run our automated browser tests with `ClientSecretCredential` by disabling web security in our Karma configuration.

Should we disable `Cl

[2021-04-14 17:46] sadasant commented on #14879
Today, @willmtemple and I talked about this idea. Will proposed some interesting approaches:

- To export a TokenCredential implementation from the recorder.
  - Similar to `export (isPlaybackMode() ? NoOpCredential : DefaultAzureCredential) as TestCredential;`.
  - With the caveat that `DefaultAzureCredential` doesn’t work in browsers.
  - We could still do it if we host a copy of the older non M

[2021-04-14 22:12] HarshaNalluru opened #14884 "[App Config] FeatureFlag sample - Add timewindow concepts"
So code like this is going to be in a normal sample as well, correct?

_Originally posted by @richardpark-msft in https://github.com/Azure/azure-sdk-for-js/pull/14845#discussion_r611950537_

[2021-04-14 22:26] richardpark-msft opened #14885 "[service-bus] Retry when settling on management link"
As of #14867 we're retrying when settling on the receiver link.

When the receiver link is not available we will fallback to retrying on the management link. We should add retries for that code path as well.

My original pass at this added it to the entirety of the RequestResponseLink but that turns out to be a bit invasive. So scoping this work down to just the settlement code path should be good

[2021-04-14 22:45] HarshaNalluru opened #14886 "[Service Bus] AmqpAnnotatedMessage followups"
### a. Custom logic to calculate absolute_expiry_time
Make sure the other languages have this

   ![](https://user-images.githubusercontent.com/10452642/114106415-8c7be680-9883-11eb-81df-bb7dbc3d5eb5.png)
   (.NET and JS have it https://github.com/Azure/azure-sdk-for-js/pull/14786#discussion_r610181333)

### b. Re-evaluate the AmqpAnnotatedMessage interface for sending

UPDATE: removing this from

[2021-04-14 23:33] #12883 closed

[2021-04-15 01:00] richardpark-msft commented on #14853
There isn't a good way that I'm aware of. From the article I linked above they do have some workaround code that should be translatable to other languages, but it's doing exactly what you describe - attempting to strip out the serialization envelope by looking for delimiters:

[code]

It's not ideal but, short of changing the sender, this might be the simplest workaround.

[2021-04-15 01:21] richardpark-msft commented on #13292
Closing for now. We're focusing on failures within the last 14 days.

[2021-04-15 01:21] #13292 closed

[2021-04-15 02:57] dilin-MS commented on #14852
Hi @witemple-msft @sadasant , thanks for your reply. It helps us. We would like to know are there a ETA of the identity 2.0.0 release? Thanks!

[2021-04-15 03:22] gmantri commented on #14853
Thanks @richardpark-msft! I agree with you that there's no clean way to accomplish this. Let me try to come up with some code as well. Thanks for all your help.

[2021-04-15 03:22] #14853 closed

[2021-04-15 03:43] EmmaZhu commented on #14876
It has cpkInfo passed in. Need to have a try to validate it with the storage service.

[2021-04-15 04:48] heaths opened #14893 "Re-enable the verify-samples template"
After PRs #14892 and https://github.com/Azure/azure-sdk-tools/pull/1559 are merged, re-enable the verify-samples template.

[2021-04-15 04:48] heaths commented on #14893
Also for python: https://github.com/Azure/azure-sdk-for-python/issues/18066

[2021-04-15 04:49] mitchdenny commented on #14893
JS change was merged to disable.

[2021-04-15 04:55] EmmaZhu commented on #14797
@ralphie97 ,

Do you need a released package, or a fix in master branch code also works for you?

Thanks
Emma

[2021-04-15 05:11] EmmaZhu commented on #14797
Hi @ralphie97

My proposed fix is to set the Content-Length as the actual length of the body, which won't cause 403 or 400 error because of the mismatch content length.   Does this fix work for your solution?

Thanks
Emma

[2021-04-15 06:01] ramya-rao-a commented on #14457
Thanks @sima-zhu
Please review https://github.com/MicrosoftDocs/azure-docs-sdk-node/pull/1207

[2021-04-15 06:11] dzarate379 opened #14895 "The access token has expired. Please acquire a new token and retry AAD Pod Identity nodejs"
I am trying to access the azure resources using managed pod identities from within the cluster, using the azure SDK (Node JS).
I use the AAD pod identity to talk to the Azure PostGres service.
Each time I make a call I am getting the access token that is valid for 24 hours when the token expires after 24 hours and the new token is not being generated, due to which I am getting the following error.

[2021-04-15 06:15] ramya-rao-a commented on #14833
Good catch @diberry

@qiaozha Please pass the feedback to Azure CLI team that they are using older Graph APIs and might want to look into upgrading.

@diberry Does the new [@microsoft/microsoft-graph-client](https://www.npmjs.com/package/@microsoft/microsoft-graph-client) help with creating the service principal?

[2021-04-15 09:30] jiasli commented on #14833
Azure CLI currently still uses AD Graph to create service principal. The migration to MS Graph is tracked at https://github.com/Azure/azure-cli/issues/12946, but it has not been planned yet.

[2021-04-15 15:25] diberry commented on #14833
@ramya-rao-a I searched for service principal across the repo and only found it in a [unit test](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/spec/development/workload/users.ts#L28). I looked at the [package dependencies](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/package.json#L14), hoping it might be pulled in from a separate package, but that doesn't s

[2021-04-15 16:15] ramya-rao-a commented on #14833
I would say let's first start with it being a request for [@microsoft/microsoft-graph-client](https://www.npmjs.com/package/@microsoft/microsoft-graph-client) as they claim to the be the replacement for `@azure/graph` which did let you create service principals

cc @schaabs, our resident representative for Identity in Azure SDK team, for any additional insights

[2021-04-15 16:20] diberry commented on #14833
@ramya-rao-a Is the @microsoft/microsft-graph-client not on docs on purpose or are there does someplace else on microsoft.com? The docs in the GitHub repo are not as complete as I would hope.

[2021-04-15 16:31] zfoster commented on #14803
Hey @tudor33sud, I agree using the error messages is cumbersome, it seems to add an escape for every error wrapper that is thrown downstream.

I have a sample for stored procedures using the `throw string` style approach, here's a simplified example.

[code]

The message log output looks like this which seems more manageable:

[code]

I don't have any good recommendations beyond that on parsing it

[2021-04-15 16:31] #14803 closed

[2021-04-15 16:34] #14893 closed

[2021-04-15 16:51] ramya-rao-a commented on #14833
No idea. Logged https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/424, hopefully we should get an answer soon

[2021-04-15 16:54] ramya-rao-a commented on #14885
Arent all requests on the $management link getting retries already? See https://github.com/Azure/azure-sdk-for-js/blob/4dac947d84326cd86f68d52295def99a5802baf1/sdk/servicebus/service-bus/src/core/managementClient.ts#L299

[2021-04-15 20:21] sadasant opened #14896 "[External] [Identity] MSAL's acquireTokenByDeviceCode hangs if the incoming interval is too small"
MSAL's `acquireTokenByDeviceCode` polls the authentication endpoint based on an `interval` value that it receives from the server. This value generally is `5` for 5 seconds.

On @azure/identity, we have recorded tests for the `DeviceCodeCredential`. This 5 seconds interval value for our automated tests is just too much, from a quality of life perspective. We've decided to reduce this timeout. Firs

[2021-04-15 20:59] witemple-msft commented on #10086
We're making progress on this in all Tier I languages, but are having a few issues getting the tests to finish within our timeout window.

[2021-04-15 21:02] sima-zhu commented on #14597
I have two pipelines setup for the task:
1. Update target CI.
Pipeline:https://dev.azure.com/azure-sdk/internal/_build?definitionId=2509
Branch:https://github.com/Azure/azure-sdk-for-js/tree/regen_package_json
2. Merge Job CI commit to live.
Pipeline: https://dev.azure.com/azure-sdk/internal/_build/index?definitionId=2588&_a=completed
Branch:https://github.com/Azure/azure-sdk-for-js/tree/merge_liv

[2021-04-15 21:05] sima-zhu commented on #14597
More cleanup scripts needed for the tasks.

We enabled the two pipeline for docs repo.
We onboard with two functionalities:
1. We are able to sync with release csv, and have correct supersedes version for all packages.
2. We are able to make docs live everyday, instead of manually doing this weekly.

[2021-04-15 21:12] mikeharder commented on #14896
I took a quick look at the MSAL sources.  I believe this is where the interval is used:

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/44bc5edc3104400bef0e876c68ea529ce543e398/lib/msal-common/src/client/DeviceCodeClient.ts#L148

`setTimeout()` invokes the function at the interval time, even if the previous invocation hasn't completed.  So I suspect the problem happens if

[2021-04-15 21:45] heaths opened #14898 "Document Translator samples have invalid product slug"
Samples with invalid product slugs will not show up in Samples Browser. I found these below:

[code]

For other languages, we used `azure-translator`.

[2021-04-15 22:14] #14757 closed

[2021-04-15 22:33] sadasant commented on #14896
Made an issue on the MSAL repo: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3476

[2021-04-15 22:44] #6485 closed

[2021-04-15 22:45] jeremymeng commented on #6485
Added a sample demonstrating how to implement a custom HttpClient using `got` in #14870

[2021-04-16 05:57] dmakeev opened #14904 "continuationToken missing in usageAggregates.list"
- **Package Name**: arm-commerce-profile-2020-09-01-hybrid
- **Package Version**: 1.0.0
- **Operating system**: Linux (Ubuntu)
- [ ] **nodejs**
    - **version**: 12.21.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 4.1.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microso

[2021-04-16 08:43] zzhxiaofeng commented on #14739
@zfoster  Thank you for solving the second issue. But the first issue still exists. Can you have a look when you are free?

[2021-04-16 09:32] zzhxiaofeng commented on #14739
@zfoster  I find the final place to send the request is [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/src/ClientContext.ts#L87)
![Screenshot 2021-04-16 170739](https://user-images.githubusercontent.com/20970631/115001547-53bcbc80-9ed6-11eb-9d90-fb8a8ba33f4e.png)
It should throw an error "Not Found" when send request to read an non-existent item but it is not. May

[2021-04-16 11:30] tudor33sud commented on #14803
Sorry about reopening the issue, I understood everything that you mentioned. This is what I needed, a confirmation that currently errors thrown inside procedures are hard to manage if you need specific information from inside. There are times when maybe you want to highlight the document which thrown a certain error so that the client could possibly correct it if it was a validation issue with ano

[2021-04-16 14:06] zfoster commented on #14803
@tudor33sud Probably this issue is best: https://github.com/Azure/azure-sdk-for-js/issues/6305

When we begin working on v4, these tasks will likely come out in a flurry

[2021-04-16 15:32] sadasant commented on #14852
@dilin-MS we need some days to have an ETA. Apologies!

[2021-04-16 16:49] zfoster commented on #14739
ah yeah @zzhxiaofeng sorry for missing that, I already see the issue is that the 404 won't cause the try {} catch {} to fail

[2021-04-16 17:28] benbp commented on #10086
@witemple-msft most of the sovereign cloud tests timeouts are much highyer, li

[2021-04-16 20:28] ramya-rao-a opened #14909 "[Identity] Prepare v1 release without persistent cache feature"
At this point, we have shipped versions 2.0.0-beta.1 and 2.0.0-beta.2 with multiple new features and a few breaking changes. One of the features is the new persistent cache feature which depends on `@azure/msal-node-extensions` which pulls in native dependencies. While we work on solutions to improve the experience here (See https://github.com/Azure/azure-sdk-for-js/issues/14346, https://github.co

[2021-04-16 22:33] HarshaNalluru opened #14913 "[Identity] Browser tests"
Currently, the identity package doesn't have run the browser tests (`echo skipped`).
However, individual SDKs use ClientSecretCredential with disabled security in the browser through karma conf.

- We should find a way to test with the InteractiveBrowserCredential in the CI,  and get rid of the ClientSecretCredential in our browser tests. (Also consider how the recorder would play in this scenario

[2021-04-16 23:11] jeremymeng commented on #14349
I spent some time exploring AAD `scope` occurrences in our recordings. Here are some cases and ideas that we could use to modify `scope` value when the request is made in playback mode, so the request can match sanitized recordings.

- Requests sent by the TokenCredentials.  We could have a test wrapper around token credential that when in playback mode, sends requests using the sanitized scope va

[2021-04-17 21:15] HarshaNalluru commented on #14349
This looks great and would be a great addition to the recorder.
For a similar task, I'm working on https://github.com/Azure/azure-sdk-for-js/pull/14897 to allow tweaking request bodies and matching new bodies with unique ids.

[2021-04-19 01:33] zzhxiaofeng commented on #14739
@zfoster In issue2, I find the reason that it doesn't return error when the error is `NotFound`, The process code is [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/src/client/Item/Item.ts#L94)
![Screenshot 2021-04-19 093157](https://user-images.githubusercontent.com/20970631/115170020-319f8600-a0f2-11eb-89be-bcf153a7b66d.png)

[2021-04-19 05:21] ralphie97 commented on #14797
@EmmaZhu

A rekeased package will suffice.

And regarding the fix, what should be expected if the content-length provided doesn't match the body-length. Does the body gets truncated?

Thanks
Nikhil

[2021-04-19 05:28] EmmaZhu commented on #14797
@ralphie97 ,

If the content-length provided doesn't match the body-length, we would propose to set value of content-length as body-length. This way, the uploading request will succeed.

Thanks
Emma

[2021-04-19 05:31] ralphie97 commented on #14797
@EmmaZhu

What if the content-length provided is smaller than the actual body-length?

[2021-04-19 06:20] EmmaZhu commented on #14797
The SDK won't truncate request. Our proposal is to try to set the content-length to the correct value (actual body length), no matter whether content length is larger/smaller than actual body length. What do you think?

Thanks
Emma

[2021-04-19 06:51] colawwj commented on #14904
@dmakeev
We can repro this case,and you can find ```continuationToken``` in nextLink by response.
![image](https://user-images.githubusercontent.com/70128817/115193390-b0aab380-a11e-11eb-9db3-bdbbcdfa5e0b.png)

[2021-04-19 07:03] ramya-rao-a opened #14922 "Update mgmt plane packages to support credentials from @azure/identity"
All JS management/control plane packages today are auto generated and expect credentials from either `@azure/ms-rest-nodeauth` or `@azure/ms-rest-browserauth` packages for authentication.

These authentication packages use older APIs for Azure Active Directory and MSAL. Moreover, since active development is on the newer `@azure/identity` package since 2019, these packages receive only critical bug

[2021-04-19 07:37] ralphie97 commented on #14797
@EmmaZhu

That seems fine. Hope this doesn't create any issue.
Can you please let us know by when this fix will be available with the general release?

Thanks
Nikhil

[2021-04-19 12:15] EmmaZhu commented on #13519
We prefer not introducing client side validation as server side naming convention may changes then client side validation may introduce unnecessary limitation.

Thanks
Emma

[2021-04-19 16:17] chradek opened #14923 "[event-hubs][service-bus][core-amqp] fix incorrect logging"
In Event Hubs, we found that sometimes the connection id a consumer or producer was using was logged incorrectly as a previous connection id.

Here's a link to discussion around this in PR #14844
https://github.com/Azure/azure-sdk-for-js/pull/14844/files/3a27f381d503f07db136d10e70aabdb0912d448a#r615148008

In some cases, especially where we call the `retry` method, we were copying the connectionId

[2021-04-19 17:32] #14583 closed

[2021-04-19 18:26] sadasant commented on #14909
After thinking this better, I'll do the v2 branch before reverting changes.

I need to remove the persistence layer from v1, which then we would need to add to the v2 branch, since we already shipped a v2 branch with it. Seems cleaner to keep v2 branch as is and start dropping changes on master.

[2021-04-19 18:27] ellismg opened #14928 "[EventGrid] Generate System Mapping Table automatically"
To aid in consuming system events from Azure, the EventGrid SDK contains [a table](https://github.com/Azure/azure-sdk-for-js/blob/36436fdee129dfd51196f9bdee579b48e0558e7c/sdk/eventgrid/eventgrid/src/predicates.ts#L109-L319) which maps event type names (as they appear in the event envelope in either the `eventType` or `type` property) to TypeScript types which represent the structure of the event.

[2021-04-19 18:44] schaabs opened #14929 "[Identity] Enable config.auth.clientCapabilities CP1 by default."
@sadasant says:
Whenever creating an MSAL client, we should set config.auth.clientCapabilities to ["CP1"] by default. Unless the users send `AZURE_IDENTITY_DISABLE_CP1`.

---

Original description from @schaabs :

Details can be found in [this gist](https://gist.github.com/schaabs/cdf28cc3811072e47bce9af417e3c03f).

[2021-04-19 18:51] #14866 closed

[2021-04-19 19:04] #14376 closed

[2021-04-19 19:10] witemple-msft commented on #13950
Closing in favor of tracking #14346

We'll handle this in the same way as we handle msal-node-extensions, since it's shaping up to be that we'll have a separate package that allows us to add these native dependency modules dynamically.

[2021-04-19 19:10] #13950 closed

[2021-04-19 19:24] sadasant commented on #14909
Feature branch for Identity 2.0.0-beta.3: [tree/identity-2.0.0-beta.3](https://github.com/Azure/azure-sdk-for-js/tree/identity-2.0.0-beta.3).

[2021-04-19 19:31] ramya-rao-a commented on #14783
For the moment, we will keep the InteractiveBrowserCredential as is and focus on clearer docs where we talk about client side and server side applications separately like we have started to in http://aka.ms/azsdk/js/identity/examples

https://github.com/Azure/azure-sdk-for-js/issues/14909 captures our plans to not have a v2 at the moment. This would mean that the implicit auth flow in InteractiveB

[2021-04-19 19:31] #14783 closed

[2021-04-19 19:40] zfoster commented on #14739
@zzhxiaofeng that is by design, it follows similar databases to simply give a 404 response rather than throw, so that simple checks for items aren't error responses, I've fixed the sample to also return for response code 404 instead of error

[2021-04-19 21:13] sadasant commented on #14295
Moved to June since this isn't urgent.

[2021-04-19 21:30] ramya-rao-a commented on #13839
As part of https://github.com/Azure/azure-sdk-for-js/issues/14396, we did add a document with basic sample code for all our credential classes.

In https://github.com/Azure/azure-sdk-for-js/pull/14920, I attempt to document required setup for each credential as well. Not sure if everything is captured, but that is for the PR reviewers to let me know.

That leaves the point on screenshots.
@g2vinay

[2021-04-19 22:24] sima-zhu opened #14934 "Fix JS hard-coded master branch"
- [x] https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/synapse/arm-synapse/src/models/parameters.ts (Seems not related to branch, leave it to JS expert to verify)
- [x] https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/storage/storage-blob/recordings/node/blobclient_begincopyfromurl_poller/recording_supports_updating_on_progress_events.js
- [x] https://github.com/Azure/azure-sdk-f

[2021-04-19 22:43] sadasant commented on #11724
@joshfree I believe that this isn't about automated smoke tests, since we don't have a way to automate tests for these environments. This task is mainly about having written instructions to run a manual test in this environment, is that correct?

[2021-04-19 22:43] sadasant commented on #11725
@joshfree I believe that this isn't about automated smoke tests, since we don't have a way to automate tests for these environments. This task is mainly about having written instructions to run a manual test in this environment, is that correct?

[2021-04-19 22:46] joshfree commented on #11724
@sadasant yes just open https://github.com/Azure/azure-sdk/issues/1908 and you can port the instructions and test code from one of the other languages to JS for this one

[2021-04-19 23:04] ramya-rao-a commented on #13839
Also, looks like we do have the required set up for each credential already documented in detail with screenshots in https://github.com/Azure/azure-sdk-for-java/wiki/Set-up-Your-Environment-for-Authentication

Any reason this cannot be done in a language agnostic way and be shared by all languages?

cc @g2vinay, @schaabs, @joshfree

[2021-04-19 23:09] sadasant commented on #11724
@maorleger So, in summary, this issue is about:

- Manually test Identity (DefaultAzureCredential and ManagedIdentityCredential) in Azure Arc.
- Write clear instructions on how to create the resource, deploy some testing code, and run the testing code.
- Put the code and instructions in `tests/e2e/azure-arc`.
  - There should be a README.md, sample code and a package json.

I wrote some instructio

[2021-04-19 23:09] schaabs commented on #13839
[code]

We've moved this directly into the readme's for two reasons. First to avoid having to link out to this information. Secondly, because this information is different for different languages. Not all languages support authenticating in via different IDEs. For instance authenticating in Visual Studio is only supported in .NET and authenticating in IntelleJ is currently only supported for Java.

[2021-04-19 23:11] sadasant commented on #11725
@KarishmaGhiya So, in summary, this issue is about:

- Manually test Identity (DefaultAzureCredential and ManagedIdentityCredential) in Azure Service Fabric.
- Write clear instructions on how to create the resource, deploy some testing code, and run the testing code.
- Put the code and instructions in `tests/e2e/azure-service-fabric`.
  - There should be a README.md, sample code and a package json

[2021-04-19 23:52] sadasant commented on #14895
@dzarate379 hello hello! I'm Daniel and I'll be doing my best to help you.

If you use credentials directly from Identity 1.x.x, our `getToken` methods do not do any form of caching of tokens. Can you enable logs to see if HTTP requests are going out on each `getToken` call? You may do so by setting the environment variable `AZURE_LOG_LEVEL` to `debug`.

[2021-04-20 01:22] zzhxiaofeng commented on #14739
@zfoster  Ok, thank you.

[2021-04-20 17:28] AlexGhiondea opened #14943 "Azure Container Registry for JavaScript (June 2021)"
This tracks the work for ACR for June milestone

[2021-04-20 19:29] jeremymeng commented on #13899
We allow custom agents in core v2 via  `agent` after Jeff's PR #14450.  Are we fine with not having this in core-http?

[2021-04-20 19:39] HarshaNalluru opened #14946 "[Service Bus] Service Bus JS/TS samples in docs.microsoft.com not showing up if searched for "servicebus""
Service Bus JS/TS samples not showing up if we search for "servicebus"
![image](https://user-images.githubusercontent.com/10452642/115453819-e611d880-a1d4-11eb-822d-efcb7316c46d.png)
We have to add the hiphen "service-bus".
![image](https://user-images.githubusercontent.com/10452642/115453915-0346a700-a1d5-11eb-9e12-86a37ab4f33f.png)

Not sure how this can be improved or if it can be.
Could be nic

[2021-04-20 19:56] ramya-rao-a commented on #13899
Having this in core v2 is good enough for me.
This is coming from service fabric which uses ms-rest-js. Even if core-http gets the fix, this would involve Service Fabric to use the new code generator, at which point they might as well use core v2

[2021-04-20 20:06] HarshaNalluru opened #14948 "[App Config] Date in client filters is a Date or string"
Re-open conversation with other languages and with the service team to figure out the type for Date.

So if we're pretty confident it's always parseable as a Date...are we just going to make it a Date object instead?

_Originally posted by @richardpark-msft in https://github.com/Azure/azure-sdk-for-js/pull/14845#discussion_r611951543_

[2021-04-20 20:52] sadasant commented on #14607
I finished testing the credentials of Identity v1.1.0 on Node 8. Ramya will open a PR updating the README asking our users to use v1.1.0 on Node 8.

[2021-04-20 21:23] armansabaa opened #14950 "[Dependency-Testing] Enable minmax testing on packages from NPM feed."
**Describe the bug**
Turning on minmax testing for @azure/communication-chat package, dependency test jobs fails to retrieve package
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=852608&view=logs&j=3a7b9694-9187-531d-f2c8-3fe11d27bb4e&t=1fe0d3bf-00b5-5da5-0c90-c5224a36b2a3
![image](https://user-images.githubusercontent.com/7969768/115464343-c8973b80-a1e1-11eb-8d06-cd81fc20986f.pn

[2021-04-20 21:24] HarshaNalluru commented on #14871
https://github.com/Azure/azure-sdk-for-js/pull/14897 handles the node recordings with string request bodies to unblock indentity v2.

[2021-04-20 21:51] richardpark-msft commented on #14948
For an extra bit of context: the type here is pretty important because the developer actually does need to compare it against the current time to know when the filter should take effect. So treating it as an opaque piece of data (or just string) makes their job harder.

[2021-04-20 21:59] maggiepint opened #14953 "Planning and Roadmap Feedback - Second Half 2021"
Hello Azure SDK community!

The Azure SDK team is beginning our next planning cycle as part of Azure's twice a year planning process. As a part of this effort, we want to hear from you about what new features and services you are most interested in having as part of the New SDK. In general, we can separate requests into two categories:

1. Feature requests for various aspects of the SDK
2. Request

[2021-04-20 22:38] #14784 closed

[2021-04-20 23:37] sadasant commented on #11724
Small update: we already have a folder, test/manual-integration. Let's use that one for now!

[2021-04-20 23:37] sadasant commented on #11725
Small update: we already have a folder, test/manual-integration. Let's use that one for now!

[2021-04-21 00:41] sadasant opened #14955 "[Key Vault] Move the public test utilities into the public folder"
Turns out that having test utilities outside of the public folder bypasses the min-max testing logic. We should move them to the public folder to ensure that min-max tests are always using the right version.

As part of this issue, we need to verify
- [ ] if the fix made of moving the utils to public folder has increased the number of tests running on min and max tests
- [ ] and that all the tests

[2021-04-21 01:03] sadasant commented on #14581
# Upgrade order for the Azure SDK for JS packages to use the latest Identity:

I believe we should first go with the easy to update projects, then hard to update projects, then Identity manual tests, then samples across the repo. This is to ensure we can capture as many bugs as possible.

### Easy to update projects

- [ ] `template`.
- [ ] `keyvault-secrets`.
- [ ] `service-bus`.
- [ ] `event-hub

[2021-04-21 06:04] colawwj commented on #14922
Hi @ramya-rao-a
The follow is my step,but it will  request me repeated login in browser,

1 deploy my web app to nginx

    new a empty folder and named it as test-browserauth
    cd in this foler , ```npm init``` && ```npm i @azure/ms-rest-browserauth``` in command line
    new a ```test.html``` file and write the follow code in this file
[code]
set config in nginx.conf like follow picture
![imag

[2021-04-21 11:30] qiaozha commented on #14922
@colawwj  You are suppose to test against @azure/identity not @azure/ms-rest-nodeauth.

[2021-04-21 14:19] JensForstmann commented on #11998
@qiaozha
Will that be the case for just arm-compute or also other packages.
In particular I'm just looked for the changelog for @azure/arm-mediaservices but couldn't find any.

Since there was a major version update for me I'm concerned about breaking changes.

[2021-04-21 15:26] annelo-msft opened #14965 "Implement ACR API Updates"
We're making some design changes per arch board feedback.  Once these are complete, we'll need to implement these changes for all four languages.

This will include:
- [ ] Re-generating code from the updated swagger file
- [ ] Moving methods to repository and artifact helper classes
- [ ] Implementing the lazy digest lookup in RegistryArtifact
- [ ] Updating tests and samples

[2021-04-21 16:43] richardpark-msft commented on #14441
Newest failed run: [link](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=854339&view=logs&j=ad56abdb-07e3-5711-1773-8debdb969a7a&t=4f15decc-06e9-587a-9df9-988dfd6a8f76)

[2021-04-21 17:10] sadasant commented on #14607
Version 1.1.0 was the last version before we took dependency on msal-node and this version is tested on Node.js 8.

[2021-04-21 17:11] sadasant commented on #14607
I've tested v1.1.0 and the credentials work on Node 8 without troubles 👍

[2021-04-21 17:27] #11067 closed

[2021-04-21 17:33] maorleger commented on #11067
We no longer use `window`, preferring `self` instead. That fixes the first issue as of `@azure/core-http 1.2.4`. A linter rule prevents regressions in that area.

We investigated a few different approaches and it is unfortunate that DOM APIs are not available in web workers. We use them to avoid adding what are relatively heavy dependencies to parse XML. Given the relative infrequency of this issu

[2021-04-21 22:30] Zachery2008 commented on #13368
@zfoster In terms of bulk operation, if one item operation failed, does it will rollback for the whole bulk?

[2021-04-21 22:50] HarshaNalluru opened #14969 "[App Config] React sample for "targeting" client filter - feature flag"
@ripulvohra reached out regarding an example for targeting filter.
It isn't trivial on how the "targeting" client filter can be used in a user application, it would be great if this https://github.com/Azure/azure-sdk-for-js/pull/14845 react sample for feature flags can be extended to the targeting filter as well.

Reference (.NET example): https://docs.microsoft.com/en-us/azure/azure-app-configura

[2021-04-21 23:35] sadasant opened #14970 "[Identity] [v2] Remove the protected method getAzureCliAccessToken from the CLI credential"
The protected method `getAzureCliAccessToken` was released by mistake as part of v1. This shouldn't be part of v2.

[2021-04-22 00:11] #14273 closed

[2021-04-22 00:25] richardpark-msft commented on #14886
Item "b" is up for debate - no other languages are planning on adding any particular validation here. The reasoning is that customers that are using this workflow are familiar with AMQP and will not be confused about which fields would be reasonably set for sending vs receiving. My current thought is to strike it from the list, provided we can properly send messages with those fields.

[2021-04-22 00:40] #14269 closed

[2021-04-22 01:01] mitchdenny opened #14975 "Announcement: Renaming "master" to "main" in this repository"
On the 18th of June, 2021 (PST) we will be renaming the ```master``` branch in this repository to ```main```. When this occurs there will be some disruption to the engineering system as we address any issues that earlier preparations did not address. Please read the following centralized issue for more background on what to expect:

Localized issues in this repository can be discussed here.

# Eng

[2021-04-22 01:31] qiaozha commented on #11998
Also other packages.

[2021-04-22 07:28] dmakeev commented on #14904
So, the link is placed instead of the last element in the list.
It works, thank you.

[2021-04-22 07:28] #14904 closed

[2021-04-22 07:51] EmmaZhu commented on #14411
Hi @JasonYeMSFT, @jeremymeng
Just checked with our FE team. This is a known issue in storage service, I'll open a bug to FE team to follow-up it.

[2021-04-22 08:46] geoyws opened #14977 "Property 'beginRecognizeInvoicesFromUrl' doesn't exist on type `FormRecognizerClient`"
Thanks so much for the work that you guys do.

**Is your feature request related to a problem? Please describe.**
Documentation [clearly shows an example](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/client-library?tabs=preview%2Cv2-1&pivots=programming-language-javascript#analyze-invoices) of this property being used, but it doesn't exist in the codebase.

[2021-04-22 18:33] witemple-msft commented on #14977
@geoyws Which version of `@azure/ai-form-recognizer` are you using? Currently, only receipt recognition is available in the stable packages, as invoice recognition is in preview and only supported in the 3.1.0-beta.4 version of this package. I see that the docs you linked don't mention this, so I'll reach out to the documentation team to ask about clarifying the instructions there.

[2021-04-22 18:50] sadasant opened #14983 "[Recorder] Do not encode the replacement value if the env variable matches the main URI of a request"
At the moment, if I make an HTTP request to an endpoint based on an environment variable, and I configure the environment variable to be replaced by a default value on the recorder, the URI that gets used as the request URI gets encoded, which causes the outgoing requests to fail.

[2021-04-22 18:51] jeremymeng opened #14984 "skypack investigation"
We don't ship bundled browser distribution in out SDK packages and rely on users picking their bundlers for browser scenario.

However, there's value if our packages can be consumed directly in browsers, for example, service team would like to do easy demo without going through bundler.

https://www.skypack.dev/ is a service that allow loading optimized npm packages with no install and no build to

[2021-04-22 19:09] sadasant commented on #14983
**An example:**

Let's say I have an environment variable "ENDPOINT", with a value similar to `https://github.com`.

Then let's say I add that env variable to the recorder configutations:

[code]

(then I use those settings in the recording, of course)

Then I record some network request to `env.ENDPOINT`, the recordings will have something similar to `http%3A%2F%2Flocalhost`, which breaks on play

[2021-04-22 19:30] HarshaNalluru commented on #14983
I can't seem to find it now, but I think we have an issue logged for this already.
While replacing URLs, the issue will be fixed if we consider the [anatomy of the URL](https://doepud.co.uk/blog/anatomy-of-a-url)s and then do the replacements.
<img src="https://user-images.githubusercontent.com/10452642/115774410-6582e180-a366-11eb-99f4-5f120f30db16.png" width=500>

[2021-04-22 20:04] HarshaNalluru commented on #14983
[Talked offline with @sadasant]
Reference: https://github.com/Azure/azure-sdk-for-js/pull/7204 deals with the replacements.

The problem in this issue is not with the replacements, but with the encoding.
Please add a link to the test so that we verify the fix properly.

[2021-04-22 20:43] HarshaNalluru opened #14988 "[Identity] Try out msal-react with TokenCredential for a better user story for react apps"
Using IBC is a bit worrying to me. Newing up IBC in an effect hook will work fine for a sample using the popup-based flow, but it doesn't model what we would want a user to actually do. Could we use `msal-react` and wrap its access token mechanism in a `TokenCredential` instead? Long term I think this is what we'll want to do for React users since the MSAL folks have been working on a good story h

[2021-04-22 23:06] joheredi opened #14990 "[Tables] Decouple batch data from batch Client"
Improve batch implementation to allow users more control on the batch. One of the scenarios that are limiting with today's design is when a user sends a batch which failed, there is no way for her to fix the entity that caused problems and re-submit as we don't expose the collection.

For reference, python implemented a collection based approach: https://gist.github.com/seankane-msft/9a8beebd7693f

[2021-04-22 23:09] joheredi opened #14991 "[Tables] Feedback from API Review"
- [x] Only keep createTable and deleteTable methods which don't throw on 404
- [x] Incorporate SasCredential and SharedKeyCredential from @azure/core-atuh
- [x] Rename Batch to Transaction and all its references
- [x] Make updateMode default to `merge`
- [x] Expose url and account name as readonly memebers of the client

[2021-04-22 23:23] octogonz commented on #14346
@witemple-msft How does `Make msal-node-extensions an optional dependency` solve the originally stated problem of `we would like to avoid adding any packages with native binaries as dependencies (not even peer or optional dependencies)`?

FWIW Rush really cannot wait much longer. Today [someone reported](https://rushstack.zulipchat.com/#narrow/stream/262513-general/topic/Adding.20to.20Docker.20ima

[2021-04-22 23:39] sadasant commented on #14435
@maorleger recently updated the JavaScript samples. He specifically added [AzureIdentityExamples.md](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/samples/AzureIdentityExamples.md), which covers many of the sample cases in other languages. Let's dive into what is covered and what is not covered:

| Sample about | Done in JS? | Language that has this |
| --- | --- | --

[2021-04-22 23:49] sadasant commented on #14983
@HarshaNalluru seems like this shouldn't be a bug. I tried to reproduce this using the recorder's tests and I couldn't. I want to gather more info from @bterlson - I'll make sure to narrow this down and I'll provide a concrete sample.

[2021-04-22 23:54] sadasant commented on #14346
@octogonz The Identity package will release a v2-beta in a couple of weeks without Keytar. The solution @willmtemple is working on is on having an entirely separate package that will contain the binaries. The main `@azure/identity` v2 won't have any binary dependency. This v2 will go GA in a couple of months though. Would you be able to work with the v2-beta we'll release in a couple of weeks? We'

[2021-04-23 00:35] octogonz commented on #14346
@sadasant Yes -- given that the Azure build cache feature is still considered "experimental", Rush seems like a great candidate for testing a `v2-beta`.

[2021-04-23 00:41] mikeharder commented on #14346
@octogonz: You might be able to use a `v2-alpha` even earlier.

@sadasant: How soon do you think we might have a `v2-alpha` without any native deps?

[2021-04-23 00:54] witemple-msft commented on #14346
@octogonz My title change apparently wasn't saved. It's updated now. As far as timeline, we are pushing towards a GA solution within the next month and a half or so, beta availability for a stripped down package within a couple of weeks. `@azure/identity` 2.0.0 will not have any native package dependencies, peer, optional, or otherwise, and native extensions to identity will be moved into their ow

[2021-04-23 06:28] geoyws commented on #14977
@witemple-msft My sincere apologies, I switched to v3.1.0-beta.3 but tsserver didn't restart so Intellisense still showed an error. It's working now.
![image](https://user-images.githubusercontent.com/1738396/115828325-22953c80-a440-11eb-8d03-c0c4cf050172.png)

[2021-04-23 15:44] sadasant opened #14998 "[Key Vault] resumeFrom overlap with required parameters may cause unintended behaviors"
Many of Key Vault pollers accept `resumeFrom` serialized states that has copies of the main parameters of the methods that return those pollers. Although generally the `resumeFrom` properties that overlap are discarded in favor of the required function parameters, on multiple pollers, users may erroneously pass different values in both.

For example, `beginDeleteKey` requires a `name` parameter, a

[2021-04-23 16:55] dzabeu opened #14999 "How to add metadata on uploadFile method"
Hi,

I didnt find any place how to insert metadata using the ".uploadFile".

Is it possible using this library? how to insert metadata on file on uploading the file

`async function uploadFile(fileSystemClient, localFilePath, dataLakeDir){ const fileClient = fileSystemClient.getFileClient(dataLakeDir); try { console.log("uploading file from: "+ localFilePath); await fileClient.uploadFile(localFile

[2021-04-23 18:23] bterlson opened #15001 "[dev-tool] Support omitting the api ref links completely when generating sample readmes"
Today I can customize the api ref link using the `apiRefLink` key in my package.json. But what if I don't have ref docs yet e.g. when I am releasing a new package? In cases where there are no docs.microsoft docs yet, and the azure.github.io docs won't generate until the first release goes out, it would be convenient to be able to omit the `apiRefLink` entirely (and with it the entire next steps se

[2021-04-23 18:43] g2vinay commented on #13839
also, setup instructions for the credentials without screenshots (MS docs doesn't like screenshots) are also mentioned in Identity MS Docs for java.
once JS has the Identity MS Docs ported over. We can reference to the setup instructions on MS Docs from READMEs too.

[2021-04-23 18:45] chradek opened #15002 "[event-hubs] EventHubProducerClient.sendBatch can throw TypeError "Cannot read property 'credit' of undefined""
## Description

The EventHubProducerClient.sendBatch() method can throw an unexpected `TypeError:  "Cannot read property 'credit' of undefined"` if both
1. a connection disconnect occurs _after_ the sender link has been initialized and
2. one of the `send` attempts fails with a retryable error, the connection is disconnected, and retries have not been exhausted.

## Which versions of `@azure/event

[2021-04-23 20:06] #14582 closed

[2021-04-23 20:31] richardpark-msft commented on #14923
Potential idea: enhance the logger to carry the "log prefix" data and a way to refresh it. This would simplify some of our internals a bit where we pass around the prefix and eliminate this problem at the source.

[2021-04-23 22:01] HarshaNalluru opened #15007 "[Identity] Browser tests with AAD failed with unhelpful errors"
Browser tests were failing with the following for keyvault-secrets.

[code]
The errors thrown were unhelpful. (Came up while looking at AAD for browser tests for communication packages with @beltr0n .)

Creating an issue to find the cause for the failures.

[2021-04-23 22:47] #11724 closed

[2021-04-23 23:46] ramya-rao-a commented on #14346
@octogonz, @iclanton,

While we wait for v2, if it is indeed the case that rush currently uses only the device code login flow and you do not care about whether the underlying implementation for this uses the newer MSAL or not, then another option for you can be to update the identity dependency to use `~1.0.0` instead of say `^1.0.0`. The `keytar` dependency came into play when we added the Visua

[2021-04-24 21:07] YoDaMa opened #15013 "samples for core-rest-pipeline"
**Is your feature request related to a problem? Please describe.**

The @azure/core-rest-pipeline folder does not currently have any samples.

**Describe the solution you'd like**

A sample outlining how to create a simple request object, send the request, and handle the response.

[2021-04-25 06:48] dilin-MS commented on #14852
Hi @sadasant could you please keep us informed once the ETA is decided? We need to add it in our millstone and remove the keytar, too. Thx!

[2021-04-26 15:16] #13510 closed

[2021-04-26 15:28] maorleger commented on #14955
Thanks @sadasant - can you add more information here?

1. Which KeyVault libraries are impacted - all 4?
2. what are the symptoms - how do you know things aren't working as expected?
3. how can I validate that I fixed the issue.

Thanks in advance!

[2021-04-26 16:15] #14723 closed

[2021-04-26 18:03] HarshaNalluru commented on #14705
Some more information.. the recommendation from the service team for our users would be to use App Configuration on their server-side and let the service cache and pass feature-flags to the clients.

Azure App Configuration is currently tailored to provide configuration/feature flags for server-side applications. It is possible to retrieve configuration/feature flags from a client-side application

[2021-04-26 20:24] octogonz commented on #14346
@ramya-rao-a I confirmed that your suggestion does eliminate the `keytar` dependency (PR https://github.com/microsoft/rushstack/pull/2647)

[2021-04-26 21:20] kurtzeborn commented on #14349
Hey @HarshaNalluru, I'm assigning this back to you because Sima is out on leave and you've begun working with @scbedd on a more general solution to JS recordings.  I'm hoping this can be something you work into that project.

[2021-04-26 21:56] kurtzeborn commented on #14975
Removed date from title and updated description with new date.

[2021-04-26 22:19] #15002 closed

[2021-04-26 23:46] #13156 closed

[2021-04-27 08:39] Marchelune commented on #8163
Hi,
I face a similar issue to @AZOPCORP. I'm trying to ensure that `BlobServiceClient` works behind corporate proxies. I'm using Electron (on the main thread) and [Fiddler Everywhere](https://www.telerik.com/download/fiddler-everywhere) to see that the traffic is correctly routed to the proxy.

Doing this, when I use the blobServiceClient to access containers, no traffic shows on Fiddler and it se

[2021-04-27 09:22] simonhbw opened #15036 "[Blob Storage] Data corruption Failure (armv7)"
Hi, i have a problem downloading compressed files from blob storage on armv7 devices.

When downloading the file, the downloads fails after a bunch of megabytes with the error message:

the issue seems siliar to #6411

im using node 14.16.1 (LTS) but the issue occuress also when using different versions (12, 15, 16, ..)
im using @azure/storage-blob: 12.5.0
im using raspbian (debian) 5.4.79-v7l+

t

[2021-04-27 12:09] simonhbw commented on #15036
just found out, that the issue does **not** ocurr, when using

-node v11.x
-node v12, when using "http-parser=legacy"
-running any node version on an x86/64 plattforms

maybe the error is related to llhttp parser which may cause a bug on arm plattforms

[2021-04-27 20:26] #14697 closed

[2021-04-27 20:55] mikeharder opened #15038 "Improve usability of pipeline "npm - admin - tasks""
@ramya-rao-a had some suggestions for improving the usability of pipeline "npm - admin - tasks":

* The Package version is confusing when deprecating because npm allows you to deprecate individual versions as well as the whole package. Ideally, the pipeline should allow us to do both, but not sure how it currently behaves.
  * Response: The package version can be set to "all".
* Package version is

[2021-04-27 22:21] jeremymeng commented on #8163
Yes there is a bug that we would reset `options.proxyOptions` to empty.

https://github.com/Azure/azure-sdk-for-js/blob/85dcd6ed32108eadf0f023b4acaf6058d113db66/sdk/storage/storage-blob/src/BlobServiceClient.ts#L415

[2021-04-27 22:31] ramya-rao-a commented on #14909
Turns out the most of the other features are not as useful to the end user in the absence of the persistent cache feature
- Disabling of automatic auth by prompting user input when silent auth does not work. And the accompanying authenticate() method giving control to users on when to have the user input
- Serialization and deserialization of authentication record, re-authentication of a previous

[2021-04-27 22:31] #14909 closed

[2021-04-27 22:38] jeremymeng commented on #8163
It probably should be
[code]
This would ignore `proxyUri` in connection string when user passes in proxyOptions via options.
/cc @HarshaNalluru

[2021-04-27 23:28] sadasant commented on #14983
I'll close this until we can reproduce it again.

[2021-04-27 23:28] #14983 closed

[2021-04-27 23:43] #14760 closed

[2021-04-27 23:56] sadasant commented on #13788
ARM related efforts are not actionable for JS yet, so I'll put a line over those items.

[2021-04-28 01:39] EmmaZhu commented on #14999
Hi @dzabeu

I see you specified concurrency and chunk size in FileParallelUploadOptions for the uploadFile method. metadata is also included in the FileParallelUploadOptions.

Code like following should just work.

`
fileClient.uploadFile(localFilePath, { metadata: [ keyname: "value"] }
`

Thanks
Emma

[2021-04-28 01:43] EmmaZhu commented on #8163
Got it. Will fix it.

[2021-04-28 01:47] EmmaZhu commented on #15036
@simonhbw

I'll try to have a repro and look into it. Will get back to you with any progress.

Thanks
Emma

[2021-04-28 12:19] ralphie97 opened #15044 "Getting the same error messages for different invalid input combinations across multiple operations!"
- **Package Name**: @azure/storage-blob, @azure/identity
- **Package Version**: 12.3.0, 1.2.0
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: v14.16.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: v1.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.mic

[2021-04-28 16:09] maorleger opened #15045 "[core] - tracing spans do not set status in core tracing policies"
Noticed in passing when testing KeyVault tracing. it looks like we don't set the status [here](https://github.com/Azure/azure-sdk-for-js/blob/acaccac412df1c697cf629d9a7e1c9d3086e5f47/sdk/core/core-http/src/policies/tracingPolicy.ts#L91-L94) and [here](https://github.com/Azure/azure-sdk-for-js/blob/acaccac412df1c697cf629d9a7e1c9d3086e5f47/sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts#L9

[2021-04-28 18:16] #14463 closed

[2021-04-28 18:16] KarishmaGhiya commented on #14476
Closed in #14951

[2021-04-28 18:16] #14476 closed

[2021-04-28 18:16] joheredi commented on #14484
Synapse doesnt have samples. Closing the issue

[2021-04-28 18:16] #14484 closed

[2021-04-28 18:19] deyaaeldeen commented on #14465
attestation does not have samples at the moment, so closing for now.

[2021-04-28 18:19] #14465 closed

[2021-04-28 20:59] octogonz commented on #14346
@ramya-rao-a Downgrading to `~1.0.0` did not work for us in PR https://github.com/microsoft/rushstack/pull/2647:

[code]

It seems that maybe we do need to wait for `2.0.0-beta.x`.

CC @elliot-nelson

[2021-04-28 21:32] heaths opened #15059 "Reduce polling intervals Key Vault tests"
To reduce call volume, decrease polling intervals for certificate, key, and secret creation, updates, deletions, or purges. Often times we may check status ever 1s or 2s, but could probably safely reduce this to 5s when running live tests or recording tests.

Also note that creating a certificate does send back a `Retry-After` header of 10s. Please check if any LRO helpers your SDK may use honors

[2021-04-28 21:39] #14898 closed

[2021-04-28 21:40] richardpark-msft commented on #9666
(related PR: https://github.com/Azure/azure-sdk-for-js/pull/10505)

[2021-04-28 21:40] richardpark-msft commented on #10015
Closing as it has not appeared in builds for the last 2 weeks.

[2021-04-28 21:40] #10015 closed

[2021-04-28 21:41] richardpark-msft commented on #10459
Closing as it has not appeared in builds for the last 2 weeks.

[2021-04-28 21:41] #10459 closed

[2021-04-28 23:05] #14475 closed

[2021-04-28 23:21] sarangan12 commented on #14577
Code completed with https://github.com/Azure/azure-sdk-for-js/pull/14857

[2021-04-28 23:21] #14577 closed

[2021-04-28 23:21] sarangan12 commented on #13967
Code completed with https://github.com/Azure/azure-sdk-for-js/pull/14857

[2021-04-28 23:21] #13967 closed

[2021-04-28 23:31] maorleger opened #15064 "[KeyVault] - Document how to work with MHSM for library contributors"
I realized today that we never added MHSM documentation for contributors. So folks would not be able to update any live MHSM tests without reverse-engineering the code.

This issue is for me to keep track of what should be added:

- [ ] How do I deploy a MHSM with our test resources script? (Arm template parameters)
- [ ] Which tests depend on MHSM and how do they know if one is deployed (presence

[2021-04-29 06:10] zzhxiaofeng opened #15071 "Azure Core LRO Sample Issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-lro/samples/typescript/samplesClient.ts#L227), [link2](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-lro/samples/typescript/samplesClient.ts#L236)
![Screenshot 2021-04-28 162825](https://user-images.githubusercontent.com/20970631/116506970-f28ee300-a8f0-11eb-941a-fcb8298a3cd9.png)
Reason:
!

[2021-04-29 07:04] zzhxiaofeng opened #15072 "Azure Search Documents Sample Issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/search/search-documents/samples/typescript/src/indexes/analyzeText.ts#L33)
![Screenshot 2021-04-26 164642](https://user-images.githubusercontent.com/20970631/116509222-8793db00-a8f5-11eb-8ca2-15f70ab66650.jpg)
Reason:
The mappings property must be set in the `MappingCharFilter` definition
![Screenshot 2021-04-26 164905](ht

[2021-04-29 07:27] zzhxiaofeng opened #15073 "Azure Key Vault Admin Sample Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-admin/samples/v4/typescript/README.md#setup)
![Screenshot 2021-04-29 151310](https://user-images.githubusercontent.com/20970631/116515744-43a5d380-a8ff-11eb-9832-8324f301cbd5.png)
Suggestion:
Update to `accessControlHelloWorld.js`

@jongio for notification.

[2021-04-29 07:54] zzhxiaofeng opened #15074 "Azure Communication Phone Numbers Readme Issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/communication/communication-phone-numbers#search-for-available-phone-numbers), [link2](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/communication/communication-phone-numbers#purchase-phone-numbers-from-a-search), [link3](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/communication/communication-pho

[2021-04-29 07:58] zzhxiaofeng opened #15075 "Azure Communication Chat Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/communication/communication-chat#create-a-thread-with-two-users)
![Screenshot 2021-04-19 180851](https://user-images.githubusercontent.com/20970631/116519030-92556c80-a903-11eb-991c-30c5bd79f9cf.png)
Suggestion:
Update to `id: { communicationUserId: '<USER_ID>' }`

@jongio for notification.

[2021-04-29 08:03] zzhxiaofeng opened #15076 "Azure Communication Identity Readme Issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/communication/communication-identity#creating-and-refreshing-a-user-token)
![Screenshot 2021-04-19 162632](https://user-images.githubusercontent.com/20970631/116519484-1c9dd080-a904-11eb-8626-65722b8c394f.png)
Reason:
Declaration or statement expected.

2.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/maste

[2021-04-29 08:15] colawwj opened #15077 "When using “@azure/identity” InteractiveBrowserCredential, setting parameters “clientId” and “tenantId”. it will cause an error."
- **@azure/identity**:
- **^1.3.0**:
- **windows10**:
- [ ] **nodejs**
    - **v12.18.3**:
- [ ] **browser**
    - **chrome**:
- [ ] **typescript**
    - **4.1.3**:

**When using “@azure/identity” InteractiveBrowserCredential, setting parameters “clientId” and “tenantId”. it will cause an error.**

**To Reproduce**

1. Create a test.ts file like below:
![image](https://user-images.githubuserconten

[2021-04-29 11:54] hswimmer opened #15078 "Add state parameter in authentication requests"
We use state parameter for single redirect url for many sites.

with msal we send:
[code]
any idea how we can send it with InteractiveBrowserCredential

[2021-04-29 17:39] #15074 closed

[2021-04-29 17:39] #15075 closed

[2021-04-29 17:39] #15076 closed

[2021-04-29 17:53] KarishmaGhiya opened #15084 "[Metrics Advisor] Enable list datafeed by pages test"
- List datafeed by list has been disabled by the https://github.com/Azure/azure-sdk-for-js/pull/14860/ since there is a regression on the service side for this API where some of the datafeeds aren't listed. Enable this test when the issue is mitigated from the service side.

[2021-04-29 18:58] sadasant commented on #15078
Hello @hswimmer ! I'll be doing my best to help.

We should definitely support this.

We'll start working on this issue in a couple of weeks. I'll make sure to give you an update of when we'll release this feature!

[2021-04-29 19:04] sadasant commented on #15078
I'll leave this link for context, for myself: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/3a730d5ad842eaa8fc643015817cd7c20415e921/lib/msal-browser/src/request/PopupRequest.ts#L20

[2021-04-29 20:23] sadasant commented on #13948
Python's test for AAD Pods can be found here: https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/identity/azure-identity/tests/pod-identity

[2021-04-29 20:39] sadasant commented on #13948
Python's approach is way more complete and harder than what I expected, but I want to follow it on JS to get that experience. I really like what they did.

[2021-04-29 21:07] sadasant commented on #13948
Moved to next milestone!

[2021-04-29 22:35] chradek commented on #9202
This has been fixed in version 5.5.1 of event-hubs now that we've plumbed the `abortSignal` through all our operations (except close).

[2021-04-29 22:35] #9202 closed

[2021-04-29 22:51] KarishmaGhiya opened #15095 "[Keyvault secrets] Remove KEYVAULT_NAME env variable usage"
- The tests in keyvault secrets don't really use "KEYVAULT_NAME" but it's there in the recorder replacements
- [ ] We should either remove all references of KEYVAULT_NAME or actually use it everywhere in the .env and re-record wherever required
- [ ] Make the sample.env compatible with whatever approach you take

[2021-04-30 00:29] octogonz commented on #14346
Following up, we are still having trouble getting https://github.com/microsoft/rushstack/pull/2647 to build.

How close are we to having a `2.0.0-beta.x` beta release?

[2021-04-30 01:55] tmschbgr opened #15099 "Metadata of blob storage automatically gets PascalCased"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.5.0
- **Operating system**: Windows 10 Enterprise 18363.1500
- [ ] **nodejs**
    - **version**:
- [x] **browser**
    - **name/version**: Chrome/Version 90.0.4430.93 (Official Build) (64-bit)
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  -

[2021-04-30 02:12] zzhxiaofeng commented on #15074
@0rland0Wats0n  In issue 1 and issue 2, the link2 are missed. Please have a look and update it.

[2021-04-30 05:54] tmschbgr commented on #15099
I created a small vue app to replicate this issue:

https://github.com/tmschbgr/AzureBlobMetadataDebug

Running this results for me in:

![Metadata_Prototype](https://user-images.githubusercontent.com/22215462/116654362-51755a80-a9cc-11eb-90c8-891c52b1337d.PNG)

[2021-04-30 07:18] bdelville commented on #14535
Hello, we reproduced and now have the logs.
However this is something that never occurred with the library version 1.x, so the issue is certainly linked in some way with the library.
[topic-stream-error.log](https://github.com/Azure/azure-sdk-for-js/files/6403542/topic-stream-error.log)

[2021-04-30 08:27] EmmaZhu commented on #15099
Hi @tmschbgr

I've tried with your project, but didn't repro the issue you mentioned.

![image](https://user-images.githubusercontent.com/6396650/116668320-de6de300-a9cf-11eb-8655-aa2d050c1bf5.png)

I used fiddler to try to look into the request sent:
![image](https://user-images.githubusercontent.com/6396650/116668585-255bd880-a9d0-11eb-8d5d-705f22c8a996.png)

List response content is like follow

[2021-04-30 13:28] maorleger commented on #15073
@zzhxiaofeng thanks for that. We recently moved our samples to a new mechanism, so I suspect this is something that should be fixed globally. I can fix this in dev-tool and then regenerate the samples.

[2021-04-30 15:19] maorleger opened #15102 "`withTrace` pattern can be moved to core-tracing"
Talking to Richard and Jeff about this a bit, sounds like we can move some of the tracing enhancements so that other libraries can share them:

1. Move https://github.com/Azure/azure-sdk-for-js/blob/afa90ebd6b1231c7a4e3b226fd82d6a63938b5d2/sdk/keyvault/keyvault-common/src/tracingHelpers.ts#L35 to @azure/core-tracing so that other packages can consume it.
2. Move https://github.com/Azure/azure-sdk-

[2021-04-30 15:43] chradek commented on #14606
#14844 implements a fix for this issue and has been released as part of `@azure/event-hubs` version 5.5.1. Please feel free to reach out if you encounter any other issue!

[2021-04-30 15:43] #14606 closed

[2021-04-30 15:43] #14704 closed

[2021-04-30 16:33] #14477 closed

[2021-04-30 16:36] #15073 closed

[2021-04-30 18:15] danieljurek opened #15104 "Ref docs repo content/configuration audit"
Audit for content/configurations that are outside of the scope of reference docs (e.g. conceptual content, conceptual docs redirects).

Items outside of this scope should be placed in the appropriate repositories.

[2021-04-30 19:24] #15064 closed

[2021-04-30 19:24] #15095 closed

[2021-04-30 20:27] sarangan12 opened #15107 "arm-datafactory SDK generation takes hours to complete"
The arm-datafactory SDK takes several hours to generate the SDK. This must be investigated.

**Command Used**
[code]

[2021-04-30 20:43] annelo-msft opened #15108 "Updates to ACR API for Beta 3"
This will include the addition of
- ManifestWriteableProperties
- TagWriteableProperties
- RepositoryWriteableProperties

to replace ContentProperties in the API so that these can evolve independently.

See [rev 62/63 diff](https://apiview.dev/Assemblies/Review/ba57bf904e524ce3bf647dad124ddc7c?diffRevisionId=b590120c49ce43ec87050f8a92328e55&doc=False&diffOnly=False) and [latest](https://apiview.de

[2021-05-02 03:56] georgeOsdDev opened #15113 "cosmosdb Wrong example in tsdoc"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.11.1
- **Operating system**: ALL
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**Describe the bug**
tsdoc example for qu

[2021-05-02 06:29] ramya-rao-a commented on #14346
_Update_: The rush team has been unblocked for now. Please see https://github.com/microsoft/rushstack/pull/2647 for details

[2021-05-03 05:27] HarshaNalluru opened #15114 "[Service Bus] Stress scenario streaming - can't receive more than 2047 messages"
### Case - Receiving in "peeklock" mode for partitioned queue

If the circular buffer hits the limit of 2047 messages(meaning.. 2047 unsettled messages), new messages can't be received even after the previous ones are settled.

However, receiving from unpartitioned queue works fine after settling the previous messages.

### Related to https://github.com/Azure/azure-sdk-for-js/issues/11633
### Code

[2021-05-03 05:28] HarshaNalluru commented on #15114
This issue will be resolved with https://github.com/Azure/azure-sdk-for-js/pull/14060

[2021-05-03 06:35] HarshaNalluru opened #15115 "[Service Bus] Message loss with receiveMessages in receiveAndDelete mode when maxWaitTime is under 2 seconds"
### Message loss with receiveMessages in receiveAndDelete mode
When the maxWaitTime is smaller such as 1500ms, calling `await receiver.receiveMessages(50, { maxWaitTimeInMs: 1500 })` repeatedly in a while loop causes message loss.

Reason could be the placement of drain call.

- Not seen with larger maxWaitTime.
- Not seen with subscribe (more reason to believe the issue is related to draining cre

[2021-05-03 06:57] HarshaNalluru opened #15116 "[Service Bus] DeliveryCount not incremented for messages in a session when abandoned(non-programatically)"
### Scenario
- receive messages from a sessionful-queue in peeklock
- close the client
- receive messages from the sessionful-queue in peeklock again
- if checked the deliveryCount on the messages, it is not incremented

If abandoned with `receiver.abandonMessage()`, deliveryCount was incremented.

### Code to repro
- sessions - https://github.com/HarshaNalluru/sb-2048-issues/blob/main/sessions-un

[2021-05-03 09:30] bdelville commented on #14535
Thanks for looking into it,
I will also start a ticket in Azure too, and link to this ticket

[2021-05-03 17:32] AlexGhiondea opened #15118 "Azure Search Improvements for JavaScript (June 2021)"
This tracks the work for Cognitive Search for the June milestone

[2021-05-03 18:04] sarangan12 opened #15119 "[search-documents]Add 3 new V3 Skills to the search-documents SDK"
The search-documents swagger will be introducing 3 new skills to their service.

1. SentimentV3
2. EntityLinkingV3
3. EnttyRecognitionV3

The Swagger changes to introduce these new skills is at  https://github.com/Azure/azure-rest-api-specs-pr/pull/3395. Per the current plan these new skills will be globally available after May 17, 2021.

The SDK Changes should be completed for the June Release

[2021-05-03 18:45] ramya-rao-a commented on #15116
The delivery count is incremented by the service and the client only reads it to surface it to the user

@axisc, @shankarsama I recall reporting this behavior earlier, but don't recall the conclusion :)
Is this a bug or intended behavior from the service's perspective?

[2021-05-03 19:37] #12036 closed

[2021-05-03 21:58] #14633 closed

[2021-05-04 04:04] pharring commented on #8117
@xirzec @jiacfan I know this is an old issue (and I don't have permissions to reactivate it), but I just want to express how frustrating this issue is for me and, I suspect other users of Azure Storage Explorer which, as you know, uses this SDK.

I work on an Azure service that uses the Storage SDK for .NET. The service writes blob metadata using mixed-case keys. For the metadata names, we use com

[2021-05-04 05:15] deyaaeldeen opened #15127 "[Text Analytics] Remove the word Batch from the analyze definitions"
mainly, `beginAnalyzeBatchActions` -> `beginAnalyzeActions`.

[2021-05-04 05:17] deyaaeldeen opened #15128 "[Text Analytics] Add support for sentiment analysis actions"

[2021-05-04 11:48] dhoepelman opened #15130 "Azure schema registry SDK does hava a "schema does not exists" return value"
**Is your feature request related to a problem? Please describe.**

When retrieving a schema with a method like `SchemaRegistryClient.getSchemaId` or `SchemaRegistryClient.getSchemaById`, an error is thrown if the schema does not exists.

This does not leave me with a clear way to differentiate a functional error (the schema doesn't exists) from a technical errors (like 'there is no network connec

[2021-05-04 13:28] dhoepelman opened #15131 "Azure schema registry does not work if schema JSON contains newlines"
- **Package Name**: @azure/schema-registry
- **Package Version**: 1.0.0-beta.1
- **Operating system**: OS X 11.2
- [x] **nodejs**
    - **version**: v14.15.4
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.1.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Des

[2021-05-04 16:02] annelo-msft opened #15132 "Standardize on repositoryName parameter in ConainerRegistryClient methods"
The following methods should take `repositoryName` as the parameter for the name of the repository:

- DeleteRepository
- GetArtifact
- GetRepository

Please see the [latest APIView](https://apiview.dev/Assemblies/Review/ba57bf904e524ce3bf647dad124ddc7c) for details.

[2021-05-04 16:33] jeremymeng opened #15133 "[core] allow programmatic configuration of no proxy list"
One problem with current approach is that we load the noProxyList from NO_PROXY env var and cache it in first `proxyPolicy()` call, therefore
- it is not possible to change the list when creating new pipelines.
- it is not easy to configure noProxyList programmatically. For example, storage explorer allow users to configure proxy settings from the UI instead of using the NO_PROXY environment varia

[2021-05-04 20:04] rathboma commented on #11067
@maorleger I'm also seeing this issue with `@azure/ms-rest-js` when included through the `mssql` and `tedious` libraries. Is this as easily fixable, or do I need to include a different version of something?

I'm using Electron so my web workers have access to Node packages, but not DOM modules.

[2021-05-04 20:56] 01 commented on #14346
Any guidance on work around until this is released?

[2021-05-04 21:00] jeremymeng commented on #15132
Addressed as part of PR #15109

[2021-05-04 22:14] jeremymeng commented on #8117
It is due to the behavior of our underlying http client dependencies.  It looks that with core v2 moving to use NodeJS built-in `https` module, we should be able to preserve the casing.  However, there isn't an ETA yet on when Storage will finish moving to core v2.

![image](https://user-images.githubusercontent.com/7583839/117076483-4fbcd700-aceb-11eb-9d8d-2d9da51efaa0.png)

[2021-05-04 23:22] pallavit commented on #14943
@AlexGhiondea this should be assigned to Jeremy - no?

[2021-05-04 23:54] DominikMe commented on #14466
@LuChen-Microsoft can you take this? @0rland0Wats0n is willing to support and help if you have questions

[2021-05-05 00:05] HarshaNalluru opened #15135 "[App Config] Add tests for the consistency checklist"
https://github.com/Azure/azure-sdk/issues/2801

[2021-05-05 02:09] #14686 closed

[2021-05-05 05:44] ramya-rao-a commented on #14374
Node.js 8 support will be dropped in v2 of `@azure/identity` package. We will be announcing formal policy on support for Node.js versions that have reached end of life soon.

Closing this issue as there are no further action items to take here.

[2021-05-05 05:44] #14374 closed

[2021-05-05 05:46] ramya-rao-a commented on #14607
Version 1.1.0 will be documented as the last version of  `@azure/identity` with guaranteed Node.js 8 support as further versions of the package take a dependency on the new `@azure/msal-node` package.

Furthermore, Nodejs.8 support will be dropped in v2 of `@azure/identity` which is currently in beta

We will be announcing the formal policy on supporting Node.js versions that have reached end of l

[2021-05-05 05:46] #14607 closed

[2021-05-05 05:49] ramya-rao-a commented on #14581
We have quite a few packages updated to use v2 of `@azure/identity` in their tests.
This gives us enough confidence on v2 of `@azure/identity` to go ahead with the current release.
So, removing the `blocking release` label and moving this issue to the next milestone to complete the rest of the move

[2021-05-05 07:38] ralphie97 commented on #15044
@EmmaZhu Could u please update me on the above issue?

Also,
`The value for one of the HTTP headers is not in the correct format.`

Why this error message is having HTTP headers when we are using azure SDK, it's confusing to understand.

[2021-05-05 10:42] SumitPopat commented on #14673
Hi, any updates on this?

[2021-05-05 11:38] #14705 closed

[2021-05-05 16:18] #14578 closed

[2021-05-05 16:43] witemple-msft opened #15140 "[dev-tool] Smarter analysis of which sample files require `@summary`"
We recently introduced an `@azsdk-util` attribute for sample files that aren't meant to be included in sample README files, and including it renders `@summary` optional, but this is just a stopgap solution that we included to unblock progress on samples. A proper solution would be to:

1. Walk the sample files and identify files that are imported by some other file.
2. Require `@summary` _only_ on

[2021-05-05 16:45] nguerrera commented on #15130
@dhoepelman Thanks for your feedback!

@xirzec @ramya-rao-a @bterlson Do we have a standard pattern / guideline in the SDK for how to report "not found"? I feel like all of these suggestions in the issue could work, but I want to be sure we're consistent about it, and maybe there are yet more options from other SDKs of ours to consider.

Thankfully we're still in preview and can design the right c

[2021-05-05 16:52] nguerrera commented on #15131
@dhoepelman Thanks again for the feedback. I will take a look. I believe this is a response from the service judging from the 400 in the thrown error. Agree this is totally unexpected either way. I'll confirm if it's the service behaving this way and forward the feedback along to the service owners if so. If not,  I'll fix it on our side. :)

[2021-05-05 17:01] nguerrera commented on #15131
Heads up, @hmlam, I'll let you know what I find, but maybe you've seen something like this already?

[2021-05-05 18:57] dhoepelman commented on #15131
It's not on the server side, because replicating the underlying call with curl works fine if the schema contains newlines

[code]

[2021-05-05 19:14] nguerrera commented on #15131
OK, interesting and surprising, I'll dig in. Thank you for the added detail

[2021-05-05 19:31] xirzec opened #15142 "Add documentation/samples for how to build clients against @azure/core-client"
Need to give some examples, perhaps pointers to existing usages. Need to at least cover what goes in convenience client constructors.

Bonus: Talk about how to port to corev2

[2021-05-05 19:53] xirzec commented on #15130
Unfortunately, I think it depends a bit on the scenario. Is this something the consumer will regularly to expect to not exist? Then returning `undefined`/`null` makes sense (I prefer `undefined`). But if it's something exceptional, then throwing (rejecting the promise) makes more sense.

In this specific case I'm leaning more towards the `Schema | undefined` solution.

[2021-05-05 19:55] xirzec commented on #15130
FWIW text analytics has a "NotFound" code for their custom error shape: https://github.com/Azure/azure-sdk-for-js/blob/887eb013a7c9278b7eedb2c04c5e1bac0b984ebe/sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md

[2021-05-05 19:57] nguerrera commented on #15130
Yeah, I'm leaning that way too. I could see it as not being very exceptional in this case.

[2021-05-05 20:00] xirzec commented on #15133
In `core-rest-pipeline` we could load it per-pipeline without much overhead, since unlike in `core-http`, we don't call the policy constructor more than once per pipeline.

To answer your specific questions - do we know any customers who use this feature today? I'd love to get their insight about how they use it in the wild.

[2021-05-05 20:02] HarshUpadhyay-MSFT opened #15143 "@azure/arm-synapse hard coded to public cloud endpoint on operationSpec"
- **Package Name**: @azure/arm-synapse
- **Package Version**: all versions, including master
- **Operating system**:
- [x] **nodejs**
    - **version**: N/A
- [x] **browser**
    - **name/version**: N/A
- [x] **typescript**
    - **version**: N/A
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**De

[2021-05-05 20:06] ramya-rao-a commented on #14346
@01 The workaround depends on which features of `@azure/identity` you depend on. Can you share which credential are you using? If using DefaultAzureCredential, which of the multiple credentials it uses internally is used by your code?

[2021-05-05 21:44] nguerrera commented on #15131
So far, I haven't managed to reproduce this.

When I registered the schema using code above, it succeeded.

![image](https://user-images.githubusercontent.com/75470/117213385-6711c800-adb0-11eb-89fe-85c2a5b9c464.png)

[2021-05-05 21:45] nguerrera commented on #15131
I'm going to retry with 1.0.0.beta.1, maybe this was fixed since.

[2021-05-05 21:59] 01 commented on #14346
Simply using DefaultAzureCredential with a system assigned managed identity for an Azure App Service

[2021-05-05 22:05] nguerrera commented on #15131
Yep, something fixed this between 1.0.0-beta.1 and now! 😁

I'm fairly convinced it was https://github.com/Azure/azure-sdk-for-js/pull/11650. There had been some issues with the swagger and autorest around the body being a raw string. Also, there really hasn't been any other interesting changes since beta 1.

<details>

[code]

[2021-05-05 22:34] ramya-rao-a commented on #14346
@01 In that case, please try the solution suggested at https://github.com/Azure/azure-sdk-for-js/issues/14346#issuecomment-825995352.

[2021-05-05 22:53] ramya-rao-a commented on #15077
@sadasant The `@azure/arm-compute` used above is not from the published package, but from this PR: https://github.com/Azure/azure-sdk-for-js/pull/14356

[2021-05-05 23:06] ramya-rao-a commented on #15143
Thanks for reporting @HarshUpadhyay-MSFT

You should be able to override this by passing the `baseUri` option to the client constructor.
Can you give that a try?

[2021-05-05 23:07] jeremymeng opened #15148 "[ContainerRegistry] Make AAD resource scope match cloud"
We are currently hard-coding resource scope in the client:

We'll need to use a different resource id per cloud:
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-resource-manager

Per : The registry domain will be different for every cloud, we have myregistry.azurecr.io for public, myregistry.azurecr.cn for China e

[2021-05-06 00:18] HarshUpadhyay-MSFT commented on #15143
I'll try it out and will mark as closed if it works out, thanks.

[2021-05-06 00:50] pharring commented on #8117
Hi, @jeremymeng (long time!) Thanks for re-opening this for consideration. Much appreciated.

[2021-05-06 01:28] nguerrera commented on #15130
#15149 is out for review with that approach

[2021-05-06 01:45] EmmaZhu commented on #15044
Hi @ralphie97

The content or header value checking happens on Azure Storage service, client side (SDK) prefer not doing any validation about them as service behavior may change sometimes.

Changing error message would be a breaking change, so I don't think Azure Storage Service would make any change..

Thanks
Emma

[2021-05-06 05:20] #15143 closed

[2021-05-06 06:25] dhoepelman commented on #15131
Ah ok, [npm registry](https://www.npmjs.com/package/@azure/schema-registry) lists 1.0.0-beta.1 as the latest version. Is there any planning to release a new version?

[2021-05-06 08:00] #14828 closed

[2021-05-06 08:00] #14813 closed

[2021-05-06 11:39] dhoepelman opened #15154 "Azure schema registry SDK does not have a way to check if a new schema is compatible"
**Is your feature request related to a problem? Please describe.**

We want to signal in our build pipeline at PR time if a new schema introduced is incompatible with the existing one, according to the rules set in the schema registry.

We encountered 2 limitations: there doesn't seem to be an API method to check if a schema is compatible without actually registering it (this would require additio

[2021-05-06 12:19] ralphie97 opened #15155 "Getting additional data from Download operation!"
- **Package Name**: @azure/storage-blob, @azure/identity
- **Package Version**: 12.3.0, 1.2.0
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: v14.16.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: v1.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.mic

[2021-05-06 12:21] ralphie97 opened #15156 "Delete operation gives success result, when provided invalid properties!"
- **Package Name**:  @azure/storage-blob, @azure/identity
- **Package Version**: 12.3.0, 1.2.0
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: v14.16.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: v1.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.mi

[2021-05-06 13:19] nguerrera commented on #15131
Yes, we'll try to push a release. I'll update here when I have an ETA.

[2021-05-06 15:04] nguerrera commented on #15154
Thanks again for your feedback, @dhoepelman

Adding @hmlam for service perspective.

[2021-05-06 15:11] hmlam commented on #15154
Thanks for the feedback. this requirement is something that we are aware of, and it is in our backlog of design items to go through as we get closer to GA the service.

[2021-05-06 16:05] zfoster opened #15157 "[cosmos] hr.URL is not a constructor"
https://github.com/Azure/azure-sdk-for-js/pull/15147

A user is experiencing an issue with URL not importing correctly in a global context (node v10). I'm unable to reproduce in a sandbox environment but opening this issue to try to debug

[2021-05-06 16:05] zfoster commented on #15157
cc @ProblemTryer

[2021-05-06 17:04] ProblemTryer commented on #15157
Thank you
Similar issue:
Uncaught (in promise) TypeError: **url__WEBPACK_IMPORTED_MODULE_12__.URL is not a constructor**
at _callee2$ (RequestHandler.ts:79)
at tryCatch (runtime.js:63)
at Generator.invoke [as _invoke] (runtime.js:293)
at Generator.next (runtime.js:118)
at tslib.es6.js:76
at new Promise ()
at __awaiter (tslib.es6.js:72)
at httpRequest (RequestHandler.ts:33)
at _callee$ (Plugin.ts:6

[2021-05-06 17:04] ProblemTryer commented on #15157
@zfoster

[2021-05-06 18:00] AlexGhiondea opened #15158 "KeyVault for JavaScript (June 2021)"
This tracks the work planned for the June milestone

[2021-05-06 19:01] zfoster commented on #15157
@ProblemTryer Can you try to reproduce with a basic sample and give me the details of the node environment?

[2021-05-06 19:24] MuhamedSalihSeyedIbrahim opened #15161 "Cosmosdb latest sdk throw this error : Message: {"Errors":["PartitionKey extracted from document doesn't match the one specified in the header"]}"
Hi Team,
Description:
we recently flooded this mentioned exception.
Message: {"Errors":["PartitionKey extracted from document doesn't match the one specified in the header"]}

Note:
  1. our item doc that is about to upsert always have proper id and partition keys set and we did not pass any other field to upsert lib function (Eg:. client.upsert({ id:xx, partitionKey:aa}); )
  2. we use partition

[2021-05-06 19:51] ProblemTryer commented on #15157
@zfoster Thanks for your reply.
The node version is v14.15.3, a basic sample: https://github.com/ProblemTryer/A-basic-sample
I am not sure what content do you need, so I created an extremely simple react app to show it.  It still shows a similar error.  Also, it has a similar error when I deploy the web app using Azure DevOps. I think Azure DevOps installs standard env.
![image](https://user-image

[2021-05-06 20:51] sadasant commented on #15077
Hello @colawwj, I'm Daniel! I'll be doing my best to help you.

I'm currently working on studying the issue you've reported and other similar ones, to see what we can fix and how we can improve our documentation.

While I go through some local tests with my own resources, I wanted to ask you to try something.

In the past, when I have encountered a similar error as the one you've shared, I've been

[2021-05-06 22:32] zfoster commented on #15161
hey @MuhamedSalihSeyedIbrahim, is this still an issue if you downgrade to 3.10.6?

[2021-05-06 23:13] MuhamedSalihSeyedIbrahim commented on #15161
@zfoster
i have tried with v3.9.5 and v3.11.0.
Ok give me some time i shall try that particular mentioned version and revert back.

[2021-05-06 23:25] MuhamedSalihSeyedIbrahim commented on #13181
@southpolesteve thanks for info i kind of managed to get end to end trackinng of http apis.

[2021-05-06 23:28] MuhamedSalihSeyedIbrahim commented on #13181
@zfoster
As you said you are taking it as feature-request
And
Now I felt like my question is addressed by @southpolesteve

Shall we close this thread or
We leave it to track the updates of feature-request?

Both the above ways I am fine

[2021-05-06 23:37] sadasant opened #15168 "[Identity] [InteractiveBrowserCredential] [Node] Enable PKCE"
While InteractiveBrowserCredential on Node and on Browsers both use the [Auth Code Flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow), and both use MSAL, MSAL only handles PKCE automatically on browsers. For Node, MSAL supports it, but it's not done automatically.

It should be done though,

From the OAuth docs for native apps ([link](https://tools.ietf

[2021-05-07 02:16] colawwj commented on #15077
@sadasant
I did it according to the above instructions, and my application has assigned owner permission, but I still can’t successfully sign in like below,
![image](https://user-images.githubusercontent.com/70128817/117386704-eb338f00-af19-11eb-84cd-1faf505337d1.png)

[2021-05-07 05:55] EmmaZhu commented on #15156
Hi @ralphie97

The customerProvidedKey is only used to encrypt content, it isn't required / doesn't take effect for deletion.

We should not expose this setting in options for delete method, but removing it would cause a breaking, so we may still keep the setting in interface, but it won't take effect in requests.

Thanks
Emma

[2021-05-07 06:14] EmmaZhu commented on #8117
Hi @pharring

Which interface do you use to get blob's metadata? Do you use the listing method, or the GetProperties method?

Thanks
Emma

[2021-05-07 08:00] #14543 closed

[2021-05-07 12:28] EmmaZhu commented on #15155
Thanks for reporting this to us. I'll do a repro and try to find the root cause, will update you later.

Thanks
Emma

[2021-05-07 14:37] zfoster commented on #15161
I don't necessarily know the cause yet, I've seen this error before caused by chunked encoding not being stitched back together correctly

[2021-05-07 14:40] zfoster commented on #15161
If you have `core-rest-pipeline` (peer dependency) it has to be version 1.0.2 or higher I believe for the encoding to correctly work

[2021-05-07 15:28] MuhamedSalihSeyedIbrahim commented on #15161
@zfoster,
No, we are not using core-rest-pipeline.

I have deployed with latest version and also the mentioned version for observation.

I have locally tried to replicate it
I have following observation when I tried to replicate it:

1. When we have cosmosdb container which have partition key and id as same key in db json and when we try upsert or create a doc with the particual id/partition key a

[2021-05-07 15:39] MuhamedSalihSeyedIbrahim commented on #15161
Step we followed to replicate:

Create container with doc structure
{a:<id>,b:{ c: <partition key> } , d: 11}

We retrieved data from db:
Const updatedDoc = object.create();
Await DbcontainerObject.upsert(updatedDoc)
// last line throw error with code 400 and substatus code 1001

[2021-05-07 16:14] xirzec commented on #8483
This should be resolved once we upgrade KeyVault to use CoreV2

[2021-05-07 16:20] xirzec commented on #3720
This should be doable in coreV2

[2021-05-07 19:52] HarshaNalluru opened #15181 "[App Config] Remove the strongly typed client filter interfaces"
Make them just an array of json objects without strong types.

[2021-05-07 20:04] heaths opened #15182 "[Key Vault] Unify on createOrUpdateRoleDefinition API"
This is a tracking bug for https://github.com/Azure/azure-sdk-for-python/issues/18579, on which we'll discuss and settle on any changes.

[2021-05-07 20:13] ProblemTryer commented on #15157
Hi, any updates on this issue? I hope [this link](https://stackoverflow.com/questions/44738065/uncaught-typeerror-url-is-not-a-constructor-using-whatwg-url-object-support-for) can help.

[2021-05-07 20:30] zfoster commented on #15157
@ProblemTryer can you try version 3.11.1?

[2021-05-07 20:32] zfoster commented on #15157
this is a browser issue with URL, you can import { URL } in node 14 even if it's global (in that stackoverflow link)

[2021-05-07 20:34] zfoster commented on #15161
I'll try to reproduce. It is still happening with version 3.10.6?

[2021-05-07 20:41] MuhamedSalihSeyedIbrahim commented on #15161
Yes, but I believe its not due to sdk version, I can reproduce in local with 3.11 , 3.10.6 and the version we uses in dev server( 3.9.5) with cases i tried.

Still I have made changes and deployed to dev env with fix of removing object.create function as well as mentioned version 3.10.6 of cosmosdb sdk
want to confirm in the dev env.

[2021-05-07 20:46] ProblemTryer commented on #15157
Hi, do you mean node version 3.11.1?
I cannot change the @azure/cosmos package. Where should I import {URL} in my project?

[2021-05-07 20:48] zfoster commented on #15157
No, @azure/cosmos version 3.11.1

[2021-05-07 20:49] ProblemTryer commented on #15157
You can see my previous pull request [#15147](https://github.com/Azure/azure-sdk-for-js/pull/15147)  The error occurred in sdk/cosmosdb/cosmos/src/request/RequestHandler.ts

[2021-05-07 20:49] ProblemTryer commented on #15157
I see. Let me try

[2021-05-07 20:50] zfoster commented on #15157
if it doesn't work I'll get your small demo working on my machine and debug from there

[2021-05-07 20:50] zfoster commented on #15157
also, if it doesn't work you can try @azure/cosmos version 3.10.6

[2021-05-07 21:02] ProblemTryer commented on #15157
I tried @azure/cosmos version 3.11.1 and it worked well! Thank you!

[2021-05-07 21:06] zfoster commented on #15157
Excellent - yeah I had noticed we were using the wrong URL in the browser. Glad it's fixed!

[2021-05-07 21:06] #15157 closed

[2021-05-07 21:11] jeremymeng commented on #14965
PR #15109

[2021-05-07 21:14] jeremymeng opened #15183 "[ContainerRegistry] refresh token expiry time should be decoded from the token"
currently it's hard-coded to 3 hours later.

- [x] need to decode it from the JWT
- [ ] need to update recording/playback to still keep the expiry time while sanitizing the other parts.

[2021-05-07 22:14] jeremymeng commented on #14873
Fixed by #14880. will be available in next release of @azure/core-http

[2021-05-07 22:33] sadasant commented on #15182
More info from Heath on Teams:

[2021-05-07 22:57] sadasant opened #15186 "[Key Vault] Other API unification tasks"
Heath made this issue to track part of the API unification work: https://github.com/Azure/azure-sdk-for-js/issues/15182

Besides that issue, I'm aware that we also need to do the following:

- Key Vault Keys:
  - [x] `AesGcmDecryptParameters` 's `authenticationTag` shouldn't be optional.
  - [x] `KeyVaultKeyId` instead of `KeyVaultKeyIdentifier`, since other languages use `KeyVaultKeyIdentifier`.

[2021-05-07 23:21] sadasant commented on #15077
@colawwj seems like you need admin approval! I'm open to a meeting over Teams if that helps. Just let me know what time works for you 👍

[2021-05-08 00:53] sadasant opened #15188 "[Identity] Migrate AuthorizationCodeCredential to use MSAL"
`AuthorizationCodeCredential` currently does not use MSAL. It uses the older approach we had, where we called to the HTTP methods ourselves directly. Moving this to MSAL should be very easy, since we'll be using MSAL's `acquireTokenByCode`, HOWEVER, `acquireTokenByCode` does not implement PKCE by default, we'll need to do the same we'll be doing for `InteractiveBrowserCredential` for Node, meaning

[2021-05-08 01:08] beltr0n opened #15189 "[communication] LROs not throwing Exception on Failed state"
- **Package Name**: @azure/communication-phone-numbers
- **Package Version**: 1.0.0

**Describe the bug**
LRO pollers do not throw exceptions on failed state. Instead the poller state is set to completed.
Error is present and can be retrieved from the poller's state, but I would expect an Exception to be thrown.

**To Reproduce**
Steps to reproduce the behavior:
1. Run any of the LRO methods that

[2021-05-08 01:48] #15130 closed

[2021-05-08 01:50] jeremymeng opened #15191 "[storage] js - storage pipeline is failing"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=884524&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t=acc99708-be46-50ff-f197-4ecb2c3cab18

Seems to be related to tracing.
<details>
Invoking: tsc -p . && npm run build:nodebrowser && api-extractor run --local && npm run build:types

src/DataLakeLeaseClient.ts(25,85): error TS2345: Argument of type 'LeaseOperationOptions' is not

[2021-05-08 01:55] jeremymeng commented on #15191
hmm, likely because storage-file-datalake depends on storage-blob 12.5.0 which depends on core-tracing preview.10

[2021-05-08 03:26] #14535 closed

[2021-05-08 08:00] #13850 closed

[2021-05-09 12:53] maorleger commented on #13598
Hi @AlexGhiondea - the remaining open items were backlog items (1 tech debt item that is low priority and 2 items related to Key Export which we will not be implementing yet). I went ahead and moved them to the KeyVault backlog epic so I think we can close this now - feel free to let me know if anything doesn't look right still.

I'll also take a pass at other epics / issues and make sure things a

[2021-05-09 12:53] #13598 closed

[2021-05-09 12:58] maorleger commented on #8864
This is fixed actually via #14337 - I just didn't realize there was an issue associated with this

[code]

[2021-05-09 12:58] #8864 closed

[2021-05-10 05:50] ralphie97 commented on #15044
@EmmaZhu Thanks for the update!

So if we understand correctly, the message coming in the error response is likely to be changed in future for different service behaviour. Is that correct?

[2021-05-10 06:09] ralphie97 commented on #15156
@EmmaZhu Thanks for the update.
Closing the issue since nothing further can be accomplished on this.

[2021-05-10 06:09] #15156 closed

[2021-05-10 08:05] hartwig-wutscher-ibm commented on #14539
Hi!

 I've retested this using the above code with version 7.0.5 and the issue is persists, is the fix not yet published?

from package-lock.json:
[code]

output:
[code]

[2021-05-10 15:21] #15045 closed

[2021-05-10 15:21] maorleger commented on #11262
We now support encrypt/decrypt with AES-CBC-PAD. RSA support was added before I joined but it sounds like we added everything we can given the Node 8 constraints.

AES-CBC cannot be supported locally without our own crypto implementation - node's crypto implementation allows PKCS#7 padding or **no padding** but we require zero padded for AES-CBC so the local implementation will not be in parity wi

[2021-05-10 15:21] #11262 closed

[2021-05-10 15:27] 0rland0Wats0n commented on #14312
Fixed by #14814

[2021-05-10 15:27] #14312 closed

[2021-05-10 16:30] annelo-msft opened #15199 "Azure Container Registry for JavaScript (Backlog)"

[2021-05-10 17:48] annelo-msft opened #15200 "[ACR] Make AAD resource scope match cloud"
We are currently hard-coding the resource id for the token scope in our client library.  This won't work for non-public Azure clouds.

We'll need to use a different resource id per cloud as described in [this document](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-resource-manager).

We will obtain the cloud ide

[2021-05-10 17:55] jeremymeng commented on #15148
closing in favor of #15200

[2021-05-10 17:55] #15148 closed

[2021-05-10 18:30] richardpark-msft commented on #14539
@hartwig-wutscher-ibm - in your sample what you're running into is this behavior (this is copied from the service documentation here: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-auto-forwarding#using-autoforwarding)

In this case when you do this:

[code]

You are effectively setting up auto-forwarding, which means that the autoDeleteOnIdle parameter will basically be

[2021-05-10 19:57] zfoster commented on #15161
@MuhamedSalihSeyedIbrahim is the error still occurring in the dev env?

[2021-05-10 21:54] annelo-msft opened #15202 "[ACR] Create APIView for ACR arch board"
Please share by 05/12

[2021-05-10 21:55] annelo-msft opened #15203 "[ACR] Incorporate API review feedback from Arch Board"
- [x] Rename `GetTagProperties` to `GetTag` (or language appropriate)
- [x] Remove `LoginServer` and `Name` properties from `ContainerRegistryClient`
- [x] Come up with better name for `ArtifactManifestReference`
- [x] Remove the `DeleteRepositoryResult` type, and return a success result from `DeleteRepository` operation even when a 404 is received.
- [x] Evaluate `FullyQualifiedName` with regard

[2021-05-10 21:55] annelo-msft opened #15204 "[ACR] Incorporate API feedback from UX Study"
# General
## 1. Term `Artifact` and `getArtifact()` method.
  - 4 out of 5 participants did not associate `getArtifact()` with manifest when being asked to "lock a manifest with digest `sha256:9f....` in `hello-world` repository to prevent it from being deleted".
  - The last participant spent some time to read the concept doc and did not have this problem.
  - We already have a brief intro of key

[2021-05-10 22:59] annelo-msft opened #15205 "[ACR] Add Perf Tests"
Add perf tests for ACR types using language-appropriate approach

[2021-05-11 00:04] MuhamedSalihSeyedIbrahim commented on #15161
@zfoster - No,
After the fix given, I observe no Partition key errors till now (cosmosdb sdk version used -3.9.5 / 3.10.6 / 3.11.0).

[2021-05-11 00:28] heaths opened #15210 "Rename selective restore operation classes"
https://github.com/Azure/azure-sdk-for-js/blob/afa90ebd6b1231c7a4e3b226fd82d6a63938b5d2/sdk/keyvault/keyvault-admin/src/backupClient.ts#L263

Following APIView discussion, these should use a form of "KeyVaultSelectiveKeyRestore*".

Backup, Restore, etc. operations in the Administration package should all start with "KeyVault" following Java and discussions with adparch.

[2021-05-11 02:20] heaths opened #15212 "Collapse KeyVaultRoleAssignmentPropertiesWithScope into KeyVaultRoleAssignmentProperties"
https://github.com/Azure/azure-sdk-for-js/blob/887eb013a7c9278b7eedb2c04c5e1bac0b984ebe/sdk/keyvault/keyvault-admin/src/accessControlModels.ts#L158

Per APIView unification discussion, we'll just use 1 type named `KeyVaultRoleAssignmentProperties`.

[2021-05-11 13:57] BUONJG opened #15214 "Azure SNAT alert"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.11.0
- **Operating system**: Windows
- [X] **nodejs**
    - **version**: 14.15.1
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 4.2.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
We

[2021-05-11 17:26] richardpark-msft opened #15217 "[core-tracing] Make it so opentelemetry/api can be removed when bundling"
Currently core-tracing non-optionally uses opentelemetry/api which will cause it to be included when bundled by rollup or webpack, for instance.

To be more friendly to size constraints we should make it so you can use core-tracing interfaces without being locked into bundling opentelemetry (for instance, if your application already has a tracing/telemetry solution).

[2021-05-11 18:03] joheredi commented on #15189
Thanks for reporting this @beltr0n, I'm closing this issue in favor of https://github.com/Azure/autorest.typescript/issues/936

[2021-05-11 18:03] #15189 closed, assigned to nobody

[2021-05-11 18:20] #15161 closed

[2021-05-11 18:21] MuhamedSalihSeyedIbrahim commented on #15161
@zfoster thanks🙋🏻‍♂️

[2021-05-11 18:38] normand-MSFT opened #15221 "*Credential.getToken support for clientID and tenantId"
In C# if you are still using [AzureServiceTokenProvider.GetAccessTokenAsync(...)](https://github.com/Azure/azure-sdk-for-net/blob/17a5e48886b7ad8b93eda72ee08d98d2b719d2e9/sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/AzureServiceTokenProvider.cs#L312) and pass in a resource (clientID) and a tenantID, it allows you to directly call the Azure application. I do not see an equivale

[2021-05-11 18:56] mikeharder commented on #12777
Let's try to repro this again, test different values of parallel to see where it starts having problems, etc.  This might be expected behavior due to parallel being so high, HTTP requests timing out, etc.

[2021-05-11 19:53] JesperJakobsen opened #15225 "arm-consumption - UsageDetail unique id"
I''m currently using the arm-consumption library for getting billing information from Azure.

The data I'm getting is a list of these [UsageDetail](https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-arm-consumption/6.3.0/interfaces/usagedetail.html), and that is all working perfectly!

My problem comes when I need to insert data into my own system, as I want to ensure ensure that we

[2021-05-11 20:13] zfoster commented on #15214
@BUONJG I just released @azure/cosmos version 3.11.2, if 3.10.6 works, I think 3.11.2 should fix the issue now

[2021-05-11 20:22] BUONJG commented on #15214
@zfoster Thank you very much for the quick update. We rolled back for now to version 3.9.5.
So you confirm the version 3.11.0 was opening a new connection on each request?
It can explain why we had very slow access to the db sometimes? For instance, we observed today some requests lasting over 40 sec to get a single document.

[2021-05-11 20:26] BUONJG commented on #15214
Ok, I will keep you updated. (We will release new version in production next week probably...)

[2021-05-11 20:35] richardpark-msft commented on #14535
Hi @bdelville , we've recently released a fix that should address the error message you saw by being more aggressive about retries:

https://www.npmjs.com/package/@azure/service-bus/v/7.1.0

[2021-05-11 21:28] #13078 closed

[2021-05-11 21:43] #15132 closed

[2021-05-11 22:07] sadasant opened #15230 "[Identity] How to specify a custom permission instead of a scope?"
Currently, `getToken` accepts scopes. Among the possible scopes, it should accept permissions, but we have yet to test it and document this.

Let's write a test and a sample for this.

[2021-05-11 22:13] #14965 closed

[2021-05-11 22:14] #14351 closed

[2021-05-11 22:15] jeremymeng commented on #14654
#15029

[2021-05-11 22:15] #14654 closed

[2021-05-11 22:20] ramya-rao-a commented on #10796
Updated issue description to scope this issue to the suggestion around the soft-delete tests. Will re-open #9446 for the internal vs public folder and enabling of the min/max testing

[2021-05-11 22:21] ramya-rao-a commented on #9446
Re-opening as the scope in https://github.com/Azure/azure-sdk-for-js/issues/10796 has been reduced for easier issue management

[2021-05-11 22:22] #14731 closed

[2021-05-11 22:31] ramya-rao-a commented on #15221
Hey @normand-MSFT

I can see how you can get the access token from [AzureServiceTokenProvider.GetAccessTokenAsync(...)](https://github.com/Azure/azure-sdk-for-net/blob/17a5e48886b7ad8b93eda72ee08d98d2b719d2e9/sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/AzureServiceTokenProvider.cs#L312) like you have shown in the sample code, but I don't see the part that shows how you "direc

[2021-05-11 22:39] normand-MSFT commented on #15221
I may not have been clear. RunAs=App should translate to the system managed identity for the Azure Function. It's equivalent should be ManagedIdentityCredential without parameters. In the above example the clientID represents the client app that I want to obtain a token from so I can pass it to APIM.

[2021-05-11 22:47] jeremymeng commented on #10122
@ljian3377 @EmmaZhu please ignore all new parameters so they don't cause mismatch when playing back.

[2021-05-11 23:07] sadasant commented on #11374
I've changed the title to reflect the fact that the previous optional dependencies will now live in a separate package.

[2021-05-11 23:20] sadasant commented on #14379
Let's focus this task on re-enabling our main Identity package tests on OSX, I'll make a new issue to enable the extensions package on OSX.

[2021-05-11 23:28] sadasant commented on #13557
This issue Will be solved by https://github.com/Azure/azure-sdk-for-js/issues/9410 , so I'll close it!

[2021-05-11 23:28] #13557 closed

[2021-05-11 23:42] sadasant opened #15232 "[Identity] Make sure to have OSX tests on the extensions package"
When issue #14379 was originally made, we had persistence tests on the main package, and some were supposed to run on OSX. However, we couldn't make them work on OSX due to a CI issue. Later we decided to separate persistence from the main Identity package, making #14379 a very simple task. On this new package though, we should make sure to enable at least live tests on OSX.

[2021-05-12 00:12] annelo-msft opened #15234 "Merge Track 2 Swagger file into azure-rest-api-specs repo"
We've created a specialized swagger file for generating the Track 2 client.

Since we're planning to tie up loose ends in Beta 3, it would be ideal if we could merge that swagger into the azure-rest-api-specs repo.

This work includes coordinating with the service team regarding updates we've made to the swagger file, and merging with the changes they've made to the swagger since we branched from

[2021-05-12 01:07] deyaaeldeen commented on #14340
@mikeharder I see your point. I think the underlying issue here is that we want CI to do the right thing for each PR as much as possible. If I change perf tests, I need CI to check and make sure the test still builds at least. Currently, CI will build the package and run its playback tests which will most certainly turn up green even though the PR might be breaking perf tests.

I am all up for sim

[2021-05-12 01:18] deyaaeldeen opened #15237 "[Text Analytics] Consider writing a migration guide from Track 1 to 2"
cc @mssfang @maririos @iscai-msft

[2021-05-12 01:19] deyaaeldeen opened #15238 "[Text Analytics] Deprecate Track 1 package"
According to the instructions here https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/377/Updates-to-improve-track2-release-visibility.

Package link: https://www.npmjs.com/package/@azure/cognitiveservices-textanalytics

[2021-05-12 02:30] EmmaZhu commented on #10122
@jeremymeng

After recording, I'll run the call test cases again with playback mode. Are there any further actions needed to make sure the recording is correct?

Thanks
Emma

[2021-05-12 05:14] ramya-rao-a commented on #15221
Thanks for sharing the C# code snippet that you are trying to convert

I looked into the implementation of `AzureServiceTokenProvider` and it looks like it uses the ["connectionString" passed to the constructor](https://github.com/Azure/azure-sdk-for-net/blob/17a5e48886b7ad8b93eda72ee08d98d2b719d2e9/sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/AzureServiceTokenProvider.cs#L74)

[2021-05-12 08:30] JesperJakobsen commented on #15225
Hey @ramya-rao-a,

I came to the website via the GitHub repo for [azure-sdk-for-js](https://github.com/Azure/azure-sdk-for-js), there I just used the link to the versioned [developer docs](https://azure.github.io/azure-sdk-for-js/), choose [Consumption](https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-arm-consumption/6.3.0/index.html) and drilled down to the return types.

This is

[2021-05-12 08:38] BUONJG commented on #15214
@zfoster Is there any chance we have the same kind of issue on package @azure/service-bus version 7.0.5? We upgraded from version 7.0.3 to version 7.0.5.

[2021-05-12 11:16] geoyws opened #15244 "Better performance for Form Recognizer API"
**Is your feature request related to a problem? Please describe.**
The average time it takes to process an invoice is about 6-12 seconds. That's a bit too long for our use case. Perhaps I did something wrong on my end or perhaps I'm using the free tier?

**Describe the solution you'd like**
If we could have the process take about 1-2 seconds.

**Describe alternatives you've considered**
The time t

[2021-05-12 12:22] zfoster commented on #15214
I don't think so, I think our SDK was responsible

[2021-05-12 12:38] MatejSkrbis commented on #8117
I'm also using GetProperties to get metadata.

With azure-storage it was possible to set and retrieve upper-case words.
https://www.npmjs.com/package/azure-storage

Here we need to search for workarounds to use this functionality.

[2021-05-12 13:46] maorleger opened #15245 "[KeyVault] - add Add encryption algorithms A128CBC-HS256, A192CBC-HS384 and A256CBC-HS512"
Add encryption algorithms A128CBC-HS256, A192CBC-HS384 and A256CBC-HS512, to match Java.
This is not present in the swagger, but Java has a precedent (ask Victor if in doubts).

Moved from #15186

[2021-05-12 13:46] maorleger commented on #15186
I pulled the new encryption algorithms to a separate issue https://github.com/Azure/azure-sdk-for-js/issues/15245 as the rest can be done without new recordings, etc.

[2021-05-12 15:27] jeremymeng commented on #10122
@EmmaZhu you shouldn't need to regenerate the recording I think?  What I found was some connection string copied from the Azure portal would have `sr` but not all connection strings have them. It could be because of SKU difference, or service version difference.  Our existing recordings don't have that, so we just need to ignore them in the `queryParametersToSkip` list

[2021-05-12 16:29] #5011 closed

[2021-05-12 16:30] jeremymeng commented on #10821
Closing as core v2 supports this.

[2021-05-12 16:30] #10821 closed

[2021-05-12 16:31] jeremymeng commented on #14711
Closing. we should just follow beta.3 API design

[2021-05-12 16:31] #14711 closed

[2021-05-12 16:35] jeremymeng commented on #10069
No more planned work for now. Closing.

[2021-05-12 16:35] #10069 closed

[2021-05-12 17:23] maorleger commented on #10485
@KarishmaGhiya Just a friendly reminder that to call this done we need to Update Parent issue Azure/azure-sdk#899 with instructions for Test team.

You can see what we did for https://github.com/Azure/azure-sdk/issues/1908 if that helps

cc @sadasant

[2021-05-12 17:55] sarangan12 commented on #13966
CLosing this epic

[2021-05-12 17:55] #13966 closed

[2021-05-12 18:20] danieljurek opened #15248 "cspell - add "typescript" and "javascript" languages to cspell dictionaries list to prevent false positives in non-java files"
In non-source files (e.g. examples in markdown files) source code specific terms (e.g. `struct`) is treated as an error. Add the language to `dictionaries` in the `cspell.json` file to prevent these false positives.

Source: https://github.com/Azure/azure-sdk-for-net/pull/21027/files#r631288645

[2021-05-12 19:41] witemple-msft commented on #15244
@geoyws I will pass your feedback on to the Form Recognizer service team. The amount of time the request takes to process on the server can vary depending on the region's current load, the size of your documents, etc, and 6-12 seconds is in line with my expectations from our tests, so I don't think there's any action for the JavaScript SDK team to take here.

One thing that might be worth trying:

[2021-05-12 20:19] #14079 closed

[2021-05-12 20:19] #15127 closed

[2021-05-12 20:19] #15128 closed

[2021-05-12 21:47] diberry opened #15254 "@azure/core-http - dist\index.js.map not found"
- **Package Name**: @azure/search-documents
- **Package Version**: ^11.1.0
- **Operating system**:Win10 internal
- [ ] **nodejs**
    - **version**: nvm use 10
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describ

[2021-05-12 22:20] KarishmaGhiya opened #15257 "Update rollup-plugin-node-resolve to @rollup/plugin-node-resolve"
The following packages need to be updated to use `@rollup/plugin-node-resolve`  instead of `rollup-plugin-node-resolve`

- [ ] @azure/synapse-spark
- [ ] @azure/synapse-monitoring
- [ ] @azure/synapse-managed-private-endpoints
- [ ] @azure/synapse-artifacts
- [ ] @azure/synapse-access-control
- [x] @azure/iot-device-update
- [x] @azure/attestation
Because rollup-plugin-node-resolve is deprecated a

[2021-05-12 22:34] jeremymeng commented on #7568
I haven't seen this in current code base. closing.

[2021-05-12 22:34] #7568 closed

[2021-05-12 23:54] juancamilor commented on #12584
@mountju wanted to provide an update before closing this issue. The team is working on the new bot framework channel for chat I mentioned before, but that effort will likely take few months from now to hit the public. For the realtime notifications in node.js, unfortunately the library was not designed to work properly outside of a browser context (it works fine with reactnative for instance but n

[2021-05-12 23:54] #12584 closed

[2021-05-13 00:47] ramya-rao-a commented on #15225
I was just curious on how you landed on choosing to use the developer docs vs the public developer docs?

![image](https://user-images.githubusercontent.com/16890566/118061605-166b1380-b34a-11eb-8e4b-ebbe5df34cb0.png)

[2021-05-13 03:38] normand-MSFT commented on #15221
Please note that the target variable passed into GetAccessTokenAsync is the appid/clientid of an Enterprise App and not the same as the user-assigned identity you can assign to the Azure Functions.

[2021-05-13 14:20] YoDaMa commented on #15142
Thanks for creating this issue! Also, documentation for `CommonClientOptions`, since there doesn't seem to be any clear markdown files I could find anywhere (only was able to figure out to use it through asking you for the proper solution).

[2021-05-13 14:53] chradek commented on #5855
Is this still a requirement now that we don't bundle the browser versions of the SDK ourselves?

[2021-05-13 20:31] JesperJakobsen commented on #15225
Hi @ramya-rao-a

So the reason for me choosing the versioned developer docs over the official docs is that I find the layout better for finding things quickly in the versioned developer docs.

Compare the following screenshots:

![image](https://user-images.githubusercontent.com/589719/118182866-c3708980-b439-11eb-9d23-324c3a0e40ed.png)

![image](https://user-images.githubusercontent.com/589719/11

[2021-05-13 21:09] sadasant opened #15272 "[Identity] Browser samples"
Provide a set of first class, high quality browser samples.

- [ ] Include a vanilla one, that would use a bundler, an HTML page and a single button to log in, similar to: https://github.com/Azure/ms-rest-browserauth/tree/master/samples/vanilla
- [ ] Include one with React, similar to: https://github.com/Azure/ms-rest-browserauth/tree/master/samples/react-app
- [ ] Include one with Electron.

[2021-05-13 21:49] sarangan12 opened #15273 "[core][core-client] Catch the mandatory parameter missing error"
In the `core-client` package, when there is a request with a mandatory parameter is missing, the request is allowed to pass. This error is caught by the the `core-http` package.

[2021-05-13 22:41] JamesBurnside opened #15276 "@azure/communication-chat: `ChatMessageType` should be a string literal union type"
- **Package Name**: @azure/communication-chat
- **Package Version**: 1.0.0
- **Operating system**: Windows

**Describe the bug**
Currently `ChatMessageType` is just a string but it can actually only be a set of known, specific values. Having it as a string type means it does not provide any assurances to what its value could be.

https://github.com/Azure/azure-sdk-for-js/blob/63624ccc3b6f372056f34

[2021-05-13 22:42] #15210 closed

[2021-05-13 22:42] #15212 closed

[2021-05-13 23:55] jeremymeng commented on #15254
We do use the rollup sourcemaps plugin. Will looking into why .map is not generated.

[2021-05-14 15:45] joheredi commented on #13812
Fixed in https://github.com/Azure/azure-sdk-for-js/pull/14956

[2021-05-14 15:45] #13812 closed

[2021-05-14 17:29] richardpark-msft opened #15285 "[core-tracing] Enums in core-tracing's API surface break some usage patterns with inheritance"
Currently core-tracing has an exported options structure `OperationTracingOptions`. This structure is defined like this:

[code]

Due to a bug in one of our scripts we actually ended up in a situation where we were referencing `OperationTracingOptions` from `1.0.0-preview.11` and `1.0.0-preview.12`. These two versions are actually identical (.12 was just the typical automated version bump but we h

[2021-05-14 18:20] beltr0n commented on #15285
We encountered this issue during min-max testing for the azure communication services  sdks, and put in a workaround:

`
//SmsClientOptions is coming from the sms package, which has an internal dependency
// on core-http 1.2.x (where x > 0)
export function createSmsClient(): SmsClient {
  return new SmsClient(env.COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING, {
    httpClient: createTestHttpClie

[2021-05-14 18:46] sarangan12 commented on #15273
Code Merge Completed

[2021-05-14 18:46] #15273 closed

[2021-05-14 18:50] sadasant commented on #15186
Reopening since these are not done yet:  A128CBC-HS256, A192CBC-HS384 and A256CBC-HS512,

[2021-05-14 18:59] Mohit-Chakraborty opened #15287 "Release Search GA that maps to the current service GA features"

[2021-05-14 19:04] HarshaNalluru opened #15288 "[App Config] Import logger and log relevant messages"
The title says it all.. As discussed here https://github.com/Azure/azure-sdk-for-js/pull/15193#discussion_r632703387

[2021-05-14 23:10] jeremymeng commented on #15202
Done and updated the board review issue with links to apiview and samples

[2021-05-14 23:10] #15202 closed

[2021-05-15 01:36] octogonz commented on #14346
FYI since we downgraded to `"@azure/identity": "~1.0.0",` we are now seeing this warning during installation:

[code]

It's only a minor annoyance, but whenever `@azure/identity` 2.0.0 is ready I assume it will solve that.

[2021-05-15 01:47] richardpark-msft opened #15296 "[monitor-query] items to complete for first release (1.0.0-beta.1)"
Meta-issue to keep track of the various things I'm finding as I build out the monitor-query layer and will need to continue working on:

### Current

- [x] `statistics` doesn't appear to be modeled in the current swagger. They do come back in the raw response, however. (filed as separate issue: #16123)
- [x] Feedback from @xirzec: "Do we need to hardcode this?" (token scope ID): [link](https://git

[2021-05-15 18:29] ApurvGpt opened #15297 "Inconsistent behavior for groupby query in cosmos db"
- **@azure/cosmos**:
- **3.11.2**:
- **Windows 10**:
- [x] **nodejs**
    - **12.22**:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. My collection is partitioned by campaign Id
2. The collection has more than 400,000 records
3. When I run this query I get more than one row. The query works fine if I run in data explo

[2021-05-16 19:46] paule96 opened #15298 "Please make skype/tstrouter and azure/communication-signaling public too"
**Is your feature request related to a problem? Please describe.**
I currently trying to create a web-app / PWA that includes a chat with blazor. The current problem I have is that the .NET library hasn't any implementation to receive message in a event based way. So I try to lock into the JS client to find the implementation and try to reimplement it for .NET. So Desktop Apps, Blazor Apps, and Co

[2021-05-17 05:20] dw511214992 commented on #15225
In sdk side, we cannot give an unique id for this purpose. We only can ask the consumption service to return an unique id in the UsageDetails. I think it's a new feature request for service team.

[2021-05-17 05:27] dw511214992 commented on #15077
I have test it with my tenant and subscription with admin permission, the package works fine for me. I will close this issue. thanks

[2021-05-17 05:27] #15077 closed

[2021-05-17 06:47] v-xuto commented on #13033
azsdk-azurite

[2021-05-17 06:52] v-xuto commented on #12753
azsdk-azurite

[2021-05-17 06:52] v-xuto commented on #13085
azsdk-azurite

[2021-05-17 16:05] witemple-msft commented on #14346
@octogonz @iclanton -- Our latest beta release `@azure/identity@2.0.0-beta.3` (tag: `next`) on NPM has removed the optional dependency on `keytar` as well. Our plan is to move forward with a base `@azure/identity` 2.0.0 package that is free of machine code dependencies, and the functionality that the machine code dependencies provided in Identity 1.x will be restored through a separate extension p

[2021-05-17 16:07] sdsubhajitdas opened #15306 "Enabling client side pagination for @azure/arm-recoveryservicesbackup"
**Is your feature request related to a problem? Please describe.**
I currently am calling the `list` operation in the `BackupProtectedItems` class. I have around 200 backup items inside an Azure Recovery Services vault. When I use the `list` call I get data for all the 200 backup items. How do I enable client-side pagination?

**Describe the solution you'd like**
When I do a `list` call I want to

[2021-05-17 16:34] #14990 closed

[2021-05-17 16:34] joheredi commented on #14842
Temporal is still in Stage 3, we need to wait a bit more before integrating it. However bigint support is being added in this PR: https://github.com/Azure/azure-sdk-for-js/pull/15275

[2021-05-17 16:37] #14842 closed

[2021-05-17 17:35] DominikMe commented on #15276
I agree with the issue

@LuChen-Microsoft & @juancamilor Do you see any reason why we wouldn't make that change?

[2021-05-17 17:56] sadasant commented on #14998
@maorleger I moved this to July so that we can more easily remember to talk about it 🌞

[2021-05-17 17:58] richardpark-msft opened #15308 "[service-bus] docs.microsoft.com sample reporting "AMQP connection closed""
The sample: [https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-nodejs-how-to-use-queues](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-nodejs-how-to-use-queues)

Customer, in email thread, is reporting that the sample, prior to receiving all messages, reports "The underlying AMQP connection is closed". The sample itself only waits 5 seconds and the

[2021-05-17 18:51] joshfree commented on #11360
/cc @christothes @catalinaperalta

[2021-05-17 18:59] juancamilor commented on #15276
yup, I agree, thought it was implemented that way. This happens just in JS.
@LuChen-Microsoft could you add a defect in our backlog please?

[2021-05-17 19:08] LuChen-Microsoft commented on #15276
Create an item for it https://skype.visualstudio.com/DefaultCollection/SPOOL/_backlogs/backlog/Chat/Stories/?showParents=true&workitem=2448867

[2021-05-17 20:24] #4422 closed

[2021-05-17 20:30] deyaaeldeen opened #15310 "[Text Analytics] Implement Pii category filter in `beginAnalyzeActions`"
Need more information from the service team on the behavior of this. https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/9435182

[2021-05-17 20:36] chradek opened #15311 "[service-bus] add cancellation to init and use defaultCancellableLock"
Service bus equivalent of https://github.com/Azure/azure-sdk-for-js/issues/4422

PR https://github.com/Azure/azure-sdk-for-js/pull/14844 updated core-amqp/event-hubs to support cancelling acquireLock calls and AMQP resource creation. This issue is to track porting those changes to the service-bus package as well.

[2021-05-17 21:05] sarangan12 opened #15312 "[core][core-rest-pipeline] Delete Requests with a string body are erroring out"
In the `core-rest-pipeline` package, if you send in a request with operation type `DELETE` and body value as `true`, the request will fail. You can observe this in the V6 SDK Test Cases of:

1. should work for all delete200
2. should work for delete202
3. should work for delete204
4. should work for delete204
5. delete307 should return 200
6. delete503 should retry and return 200

Also, when there

[2021-05-17 21:08] sarangan12 opened #15313 "[core][core-rest-pipeline] Body with non-ASCII string errors out"
In the `core-rest-pipeline` package, when you send a `GET` request with a parameter `"啊齄丂狛狜隣郎隣兀﨩ˊ〞〡￤℡㈱‐ー﹡﹢﹫、〓ⅰⅹ⒈€㈠㈩ⅠⅫ！￣ぁんァヶΑ︴АЯаяāɡㄅㄩ─╋︵﹄︻︱︳︴ⅰⅹɑɡ〇〾⿻⺁䜣€"` the code fails.

You can observer this in the test case `should receive an UTF8 string in the response body` test case in the V6 SDK generator.

@ramya-rao-a FYI....

[2021-05-17 21:22] ramya-rao-a opened #15315 "Ref docs missing for azure-eventgrid package"
[azure-eventgrid](npmjs.com/package/azure-eventgrid) is the legacy package for Event Grid.
After that came v1 and v2 of `@azure/eventgrid`
The v4 of `@azure/eventgrid` is the latest package we took to GA 2 months ago.

We should have both `azure-eventgrid` and the v2 of `@azure/eventgrid` show up under the legacy reference docs.

Ref docs for `azure-eventgrid` was showing up just fine under https:

[2021-05-17 21:40] ramya-rao-a opened #15316 "Overview page for Event Grid ref docs still talking about v3 and previews"
In the [landing page for Event Grid ref docs](https://docs.microsoft.com/en-us/javascript/api/overview/azure/eventgrid?view=azure-node-latest), we still talk about v3 of `@azure/eventgrid` being in preview while v4 has gone GA :)

cc @lmazuel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb1e0b0-bee3-eeb8-fd9c-04e389

[2021-05-17 23:20] richardpark-msft commented on #15308
I've repro'd this (intermittently) by connecting to a not-in-Redmond Service Bus.

The issue appears to be that the client is closed but our auto-complete logic continues to run (or at least, it's finishing at the time when we're closed). What's interesting is that the exception in my repro throws from the management client - this would indicate that we noticed the link was closed and attempted to

[2021-05-17 23:27] richardpark-msft commented on #15308
Some more diagnostics:

There was a delay on the application closing, even after the service client was closed:

[code]

and then afterwards:

[code]

These are all occurring _way_ too late so it appears we might be missing some cleanup when the receiver has been closed.

[2021-05-17 23:35] richardpark-msft commented on #15308
Another little odd tidbit from the logs:

[code]
Note that at this point we have closed the receiver. I would not have expected the connection to still see one in it's map (it might be that we don't clean it up at that point).

[2021-05-17 23:54] jeremymeng commented on #11550
Looks that the linked opentelemetry issue has been fixed.  We should check back after upgrading to the version that contains the fix.

[2021-05-17 23:54] richardpark-msft commented on #15296
(this might release earlier than June, but it's the nearest milestone that has not passed)

[2021-05-18 00:11] #15254 closed

[2021-05-18 17:36] DominikMe commented on #15298
Hi @paule96, thanks for reaching out.
@juancamilor can talk more about our plans to bring real-time notifications to Chat for .NET

[2021-05-18 17:52] sarangan12 commented on #15312
Code Merged

[2021-05-18 17:52] #15312 closed

[2021-05-18 17:52] sarangan12 commented on #15313
Code Merged

[2021-05-18 17:52] #15313 closed

[2021-05-18 18:19] juancamilor commented on #15298
Hi @paule96 for reaching out.
We have a feature to add support for realtime notifications in our sdk for .NET, but it is not prioritized yet. However, you can use the event grid service which currently supports all the ACS events for chat, so you should be able to subscribe to those events from your server side application in .NET.
https://docs.microsoft.com/en-us/azure/event-grid/event-schema-com

[2021-05-18 18:35] ramya-rao-a opened #15324 "[Identity] Broken link in Identity examples"
The link to "Enable applications for device code flow" is broken in https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/samples/AzureIdentityExamples.md#authenticating-a-user-account-with-device-code-flow

![image](https://user-images.githubusercontent.com/16890566/118705442-172dfa80-b7cd-11eb-8148-1844661b7066.png)

[2021-05-18 18:42] HarshaNalluru opened #15325 "[Storage] storage-changefeed <~> specific unit test in a bad state only in NODE 8 though the tests succeed"
The following error seems to appear **only in node 8**.
![image](https://user-images.githubusercontent.com/10452642/118706007-beab2d00-b7cd-11eb-9b9c-193ed00dd7f8.png)

All the tests succeeded.
Seems like additional requests are being made after the test ends. Would be nice to acknowledge and fix the underlying issue.

@jeremymeng

[2021-05-18 18:56] #13700 closed

[2021-05-18 21:05] sadasant commented on #15221
I believe the confusion is regarding the functionality of client ID and tenant ID vs user-assigned Identity in regards to authentication.

Generally speaking, the user-assigned identity should be automatically picked up by the `ManagedIdentityCredential`. The authentication then will go through the resource's internal authentication endpoints (which happen to be located through environment variabl

[2021-05-18 21:28] zfoster commented on #9025
I think this is safe to close - we have added the Bulk API and also changed the http client

[2021-05-18 21:28] #9025 closed

[2021-05-18 22:06] zfoster commented on #14214
I'll close this for now, feel free to reopen if you end up with some reproducible. Happy to find an SDK-side fix if there is one.

[2021-05-18 22:06] #14214 closed

[2021-05-18 22:07] zfoster commented on #15297
Hey @ApurvGpt I'll take a look

[2021-05-18 22:26] KarishmaGhiya commented on #13816
We can close this issue - communication-chat has a separate issue logged for tracking

[2021-05-18 22:26] #13816 closed

[2021-05-18 23:54] annelo-msft commented on #15203
@jeremymeng, would you add JS/TS-specific items from arch board to this issue?

[2021-05-19 00:00] jeremymeng commented on #15203
Sure! Thanks @annelo-msft

[2021-05-19 00:12] sadasant commented on #15221
I asked @schaabs for help and he pointed me to this section of the code: https://github.com/Azure/azure-sdk-for-net/blob/a5afb863f8788c215515d599643dcee5bbf29804/sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/AzureServiceTokenProviderFactory.cs#L175-L184

This means that the snippet above that uses `RunAs=App` will eventually call to `MsiAccessTokenProvider`. This will ignore th

[2021-05-19 00:28] deyaaeldeen commented on #14640
@HarshaNalluru I created a wiki page here: https://github.com/Azure/azure-sdk-for-js/wiki/Run-your-Azure-TS-JS-samples-with-multiple-node-versions

[2021-05-19 00:39] deyaaeldeen commented on #14234
@joheredi I created a wiki page here that shows how to use this command: https://github.com/Azure/azure-sdk-for-js/wiki/Run-your-Azure-TS-JS-samples-with-multiple-node-versions

It does not have the fragile instructions to use the command with sudo.

[2021-05-19 01:56] dw511214992 commented on #15306
It seems the pagination in `list` operation doesn't work. Need help from service team to confirm
1. whether the pagination is implemented in service side?
2. the threshold of starting pagination in service side.

@sdsubhajitdas I think we need some time to wait for response from service team. So, if it is urgent, it's suggested to iterate through the results (in your case, it's all the 200 backup

[2021-05-19 02:11] normand-MSFT commented on #15221
Does this imply we can pass into the ManagedIdentityCredential constructor the clientID of an app registration? My understanding is it only accepted that of a user-assigned MSI.

[2021-05-19 13:12] EmmaZhu commented on #15325
@HarshaNalluru  I'm trying to reproduce the issue. The rush always tries to install pnpm@5.15.0 which requires Node >= 10.13. What should I do to run the test on Node.JS 8?

[2021-05-19 13:33] EmmaZhu commented on #15099
Got response from customer that it's an issue from browser.

[2021-05-19 13:35] EmmaZhu commented on #15044
@ralphie97

The error message used to be changed before, we would not recommend to distinguish error with its error message in code.

Thanks
Emma

[2021-05-19 14:17] ApurvGpt commented on #15297
Thanks @zfoster. Please feel free to ask if I can help with any other information.

[2021-05-19 16:30] ramya-rao-a commented on #14482
Done with #15068
Thanks @joheredi!

[2021-05-19 16:30] #14482 closed

[2021-05-19 17:13] sadasant commented on #15221
From our perspective, an app registration Client ID and the user-assigned MSI's client ID are about the same thing, in the sense that they both point to an identity application, just of different kinds. The underlying code (old and new) also suggest these should be treated as loosely equal! Please let me know how it goes once you use the App Registration on the ManagedIdentityCredential. If anythi

[2021-05-19 18:18] baybal commented on #6596
@chradek I am experiencing the same during high network latency

Please reopen

[2021-05-19 18:38] richardpark-msft commented on #14886
All work that was specifically for JS completed in a few PRs:

#15271: Reenabling the body type (temporarily disabled for 7.1.0 from the master branch
#15295: Adding in support for scheduleMessages()

[2021-05-19 18:38] #14886 closed

[2021-05-19 19:35] HarshaNalluru commented on #15325
@EmmaZhu you can refer https://dev.azure.com/azure-sdk/public/_build/results?buildId=901850&view=logs&j=05e435ef-f9e6-52c3-ba35-be4c84dde109 - we use node 14 to build the src and tests but use node 8 to run only.

However, we are dropping node 8 from the test infrastructure since it has been many months since its EOL, so we won't be running the tests in node 8. So, please ignore the issue for the

[2021-05-19 19:36] chradek commented on #6596
@baybal Do you have any additional info you can add to this? Are you also seeing an empty object passed to `processError` before seeing `processClose`?

Some additional questions that would help us troubleshoot:
 - What version of the library you are using? Are you running the latest? (5.5.1)
 - Does your consumer client recover after encountering this issue?
 - Are you able to reproduce this issu

[2021-05-19 20:14] baybal commented on #6596
I will check tomorrow

[2021-05-19 20:39] ramya-rao-a commented on #6596
@baybal When you get more information, please open a new issue

[2021-05-20 00:17] richardpark-msft commented on #12815
This original issue was handle some specific cases that were breaking in canary. We have broken those down into specific issues that we'll handle individually (for instance, #14441).

I am closing this particular issue in favor of tracking the more specific failures that have already been logged.

@jmealo - we've actually started doing more long-term and stress related testing across all of our me

[2021-05-20 00:17] #12815 closed

[2021-05-20 00:19] richardpark-msft commented on #14718
Removing milestone pending verification from @axisc that it needs to exist in our track 2 SDKs.

[2021-05-20 01:07] ramya-rao-a commented on #8436
@jongio, @sadasant, @schaabs,

We had started reading the AZURE_CLIENT_ID env variable to pick up the clientId for ManagedIdentityCredential when one uses the DefaultAzureCredential almost a year ago. It was added in https://github.com/Azure/azure-sdk-for-js/pull/7994

Is this issue about the need for ManagedIdentityCredential to do the same itself when used directly?

[2021-05-20 01:12] ramya-rao-a commented on #14367
@sadasant How is this different from #10963?

[2021-05-20 04:03] tonybaloney opened #15344 "Support for Postgres Flexbile Server"
The `arm-postgres` API in this SDK is missing the new Postgres Flexible Server service and corresponding APIs. Please could this be added?

Please see the .NET SDK which has implemented this API:

https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/postgresql/Microsoft.Azure.Management.PostgreSQL/src/postgresqlflexibleservers/Generated

[2021-05-20 17:37] paule96 commented on #15298
Hi @juancamilor,

has mentioned I don't wanna build a `server side` application. I use .NET in my client application. So yes it would be nice to have the features in the .NET SDK.

What is the timeframe to bring the missing functions to the .NET Client SDK? Is there any way I can offer my help?

[2021-05-20 17:39] ramya-rao-a commented on #14457
Last thing left to do is remove the ref docs for phone-numbers package from under the preview moniker

cc @danieljurek

[2021-05-20 18:08] james-zhou-inspire11 opened #15347 "Missing Data Fields in MySQL server"
There are several fields missing from the arm-mysql, servers.list data, such as byokEnforcement, publicNetworkAccess and etc.
Please add those missing fields in.
Thanks!

[2021-05-20 20:53] davidemontanari opened #15353 "[keyvault-keys] KeyProperties objects don't match the shape defined in the related interface"
- **Package Name**: `@azure/keyvault-keys`
- **Package Version**: 4.1.0
- **Operating system**: Windows 10 build 19042.985
- [X] **nodejs**
    - **version**: 14.17.0
- [X] **typescript**
    - **version**: 3.4.1

**Describe the bug**
Items of type `KeyProperties` don't match the shape defined in the related interface.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute `listPropertiesOf

[2021-05-20 21:01] zfoster commented on #15214
@BUONJG did that fix the issue?

[2021-05-20 21:02] zfoster commented on #15113
thanks @georgeOsdDev I can look into fixing it

[2021-05-20 21:55] sadasant commented on #15059
Moved to July, I can't do this this month.

[2021-05-20 22:46] heaths opened #15357 "Rename beginSelectiveRestore to beginSelectiveKeyRestore"
After #15210, rename the method as well. Probably resolved by PR #15354

[2021-05-20 22:53] annelo-msft opened #15358 "[ACR] Update ServiceVersion with date-based version string"
This will match the service's version string for the updated Track 2 swagger.

[2021-05-20 22:55] annelo-msft opened #15359 "Azure Container Registry for JavaScript (July 2021)"
This tracks the work for the July milestone.

[2021-05-20 23:42] #14675 closed

[2021-05-21 00:32] sadasant commented on #15353
Thank you for bringing this to our attention, @davidemontanari

This is indeed a bug. I have a solution in a branch, but I want to use this as an opportunity to see what else could be wrong and how can we improve things moving forward.

I'll make sure to release a hotfix in the first week of June.

[2021-05-21 03:43] #14824 closed

[2021-05-21 03:44] KarishmaGhiya commented on #14824
The workaround - https://github.com/Azure/azure-sdk-for-js/issues/15285#issuecomment-841420391

[2021-05-21 08:48] colawwj commented on #15344
Since the postgresql.json file in tag ([package-2020-02-14-preview](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/postgresql/resource-manager/readme.md#tag-package-2020-02-14-preview)) is able to implement Flexbile Server,but it's not used in default tag ( [package-2020-01-01](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/postgresql/resource-mana

[2021-05-21 08:52] colawwj commented on #15347
We need service help to confirm whether the default tag ([package-2020-01-01](Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/postgresql.json)) is ready so that we can release leatest sdk to fix this issue.

[2021-05-21 12:57] bobalong79 opened #15366 "arm-consumption: Argument of type 'DeviceTokenCredentials' is not assignable to parameter of type 'ServiceClientCredentials'. Types of property 'signRequest' are incompatible."
- **Package Name**: @azure/arm-consumption
- **Package Version**: 6.3.0 (with version 3.0.10 of @azure/ms-rest-nodeauth)
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 4.2.4
- Is the bug related to **documentation** in
  - [X] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on

[2021-05-21 14:49] praveenkuttappan opened #15367 "Analyze job in pipeline is not rerunnable"
Rerun of analyze job fails to publish artifact. Artifact directory is already present in devops job so rerun is failing to publish artifact with "already exists" error. We should utilize common publish artifact template to work around this failure.

[2021-05-21 15:26] randomprogramming opened #15368 "Having issues with uploading a ZIP file"
Hey, I'm trying to upload a zip file, which is generated by the `archiver` library. Basically, I append a bunch of PDF files to the zip, and then I pass the entire zip into this function:

[code]

The problem is that the size of the zip before uploading is: `size before upload  1111737`, while in the `on finish` callback, the size of the zip is `1303623`. So I'm doing something wrong, but I am not

[2021-05-21 17:14] davidemontanari commented on #15353
Thanks a lot @sadasant for looking into it! 🙂

[2021-05-21 18:08] ramya-rao-a commented on #15366
Thanks for reporting @bobalong79!

@dw511214992 We need to regenerate this package using the latest v4 code generator to solve this issue

[2021-05-21 19:23] #15357 closed

[2021-05-21 19:35] sadasant commented on #15245
Turns out that this isn’t needed on JS.

This was done on Java to match track 1, but only Java is adding this. Let’s not add this preemptively.

[2021-05-21 19:35] #15245 closed

[2021-05-21 19:36] #15186 closed

[2021-05-21 19:51] YoDaMa opened #15371 "userAgentPrefix doesn't use default policy"
- **Package Name**: @azure/iot-modelsrepository
- **Package Version**: 1.0.0-beta.1

**Describe the bug**
A clear and concise description of what the bug is.

From merge comment: https://github.com/Azure/azure-sdk-for-js/pull/14863#discussion_r637100831

UserAgentPrefix currently uses custom defined default UserAgent prefix if customer does not provide one. Per @xirzec, "but it'd be good to use th

[2021-05-23 18:23] randomprogramming commented on #15368
I was trying to overcomplicate things. Blob storage works just fine without the extra params.

[2021-05-23 18:23] #15368 closed

[2021-05-24 02:32] dw511214992 commented on #15366
hi @colawwj please regenerate this package and release it. thanks

[2021-05-24 08:43] dw511214992 commented on #15366
hi @bobalong79 please try with latest package: https://www.npmjs.com/package/@azure/arm-consumption/v/7.0.0
thanks

[2021-05-24 08:44] #15366 closed

[2021-05-24 10:00] bobalong79 commented on #15366
Thanks @dw511214992 , it's working now 👍

I've opened https://github.com/Azure/azure-sdk-for-js/pull/15382 to update the readme, fixing the second part of the issue above.

[2021-05-24 11:38] zfoster commented on #15297
Looking this week, last week was very busy

[2021-05-24 12:20] Sahana-Ramdurg opened #15383 "Azure servicebus subscriber stops receiving the messages"
Hi Team,

We upgraded node.js azure service bus sdk version to v7.0.3.

After version upgrade, we are still seeing issue where subscriber stops receiving messages. We also have messageHandler and errorHandler to capture error messages in case of any issues, but when this issue occurs there are no errors logged.

After restarting the subscriber, messages are received.

This issue is occurring frequ

[2021-05-24 17:23] richardpark-msft commented on #15383
Hi @Sahana-Ramdurg,

We recently fixed an issue in subscriptions that would fail in the way you described [PR#15098](#15098). We published this fix in the latest package: azure/service-bus 7.1.0: [link](https://www.npmjs.com/package/@azure/service-bus/v/7.1.0).

Do you mind trying this newer version out and seeing if the problem is similar? The newer version will retry in some edge conditions we'v

[2021-05-24 20:06] sadasant commented on #15353
@davidemontanari Hello David, the fix has been merged and we will release this as part of v4.2.0 on June 8th.

In the meantime, an alpha version will be available for your consumption by tomorrow. We don't recommend using these alpha versions, but if you can help us confirm that this fixes what you're seeing, that would be reassuring. If that's the case, the alpha version will be available on http

[2021-05-24 21:44] sadasant commented on #15230
We need to investigate this, but this isn’t really blocking the release.

[2021-05-24 21:56] sadasant commented on #14929
I’ll make a PR, but it won’t work until MSAL fixes this: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3676

[2021-05-25 00:43] LarryOsterman opened #15397 "Clean up snippets in attestation readme."
Sounds good, perhaps open an issue for it to be part of your release epic so it does not get lost before the release.

_Originally posted by @deyaaeldeen in https://github.com/Azure/azure-sdk-for-js/pull/15356#discussion_r638246497_

[2021-05-25 02:23] winterAndvelvet opened #15398 "[Service Bus] TypeError: Cannot read property 'maxMessageSize' of undefined"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.0.5
- **Operating system**:debian
- [ ] **nodejs**
    - **version**: 14.15.4
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**

**Describe the bug**
when i used sender.sendMessages encount this exception.I had set retryPolicy
{
            maxRetries: 20,
            retryDelayInMs: 500,
            max

[2021-05-25 02:49] davidemontanari commented on #15353
@sadasant, thanks for the update! I've installed `@azure/keyvault-keys@dev` and this is the result for the same operation as the one in the first post:

![image](https://user-images.githubusercontent.com/10497538/119429683-22e55980-bcc4-11eb-8673-dc5e0a945689.png)

I can see all the expected fields now (including `managed`). 🙌🎉

However, I've noticed a difference: the fields without values are now

[2021-05-25 04:12] ralphie97 commented on #15044
@EmmaZhu

Just to conclude, the following message that comes back in the response may be changed in the later versions of SDK to include more info about the error.

"message": "The value for one of the HTTP headers is not in the correct format.\nRequestId:839086ac-101e-0072-3df7-3bab72000000\nTime:2021-04-28T06:24:23.1887330Z"

[2021-05-25 05:33] MuhamedSalihSeyedIbrahim opened #15402 "Issue in @azure/core-rest-pipeline"
- **Package Name**:  @azure/core-rest-pipeline
- **Package Version**:  1.0.3
- **Operating system**: Windows
- [ ✔️] **nodejs** :
    - **version**: 12.18.3

**Error Stack**
Result: Failure Exception:.
 TypeError: Converting circular structure to JSON --> starting at object with constructor 'TLSSocket'
 | property '_httpMessage' -> object with constructor 'ClientRequest' --- property 'socket' clos

[2021-05-25 13:07] ArielYehezkely opened #15403 "@azure/data-tables - Multiple transactions with the same Partition Key"
- **Package Name**: @azure/data-tables
- **Package Version**: 12.0.0-beta.3
- **Operating system**: Windows
- [ ] **nodejs**
    - **version**: v12.16.1
- [ ] **browser**
    - **name/version**: Microsoft Edge/Version 90.0.818.66 (Official build) (64-bit)
- [ ] **typescript**
    - **version**: 4.2.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation

[2021-05-25 18:56] praveenkuttappan commented on #3739
This is definitely an issue. I see that audit step is currently disabled using a variable and all pipelines are skipping this step. I will have a look to understand why is it disabled and we will enable it back based on the reasoning behind current change.

![image](https://user-images.githubusercontent.com/55455725/119553117-50d0a980-bd69-11eb-9292-fd3c0944758c.png)

[2021-05-25 20:13] jeremymeng commented on #15402
From the search results of error message `TypeError: Converting circular structure to JSON --> starting at object with constructor 'TLSSocket'`, it looks that this happens when trying to stringify objects that contains circular refs.  It's likely that our `RestError.response` is causing the problem.

[2021-05-25 20:50] sadasant commented on #15353
Thank you, David! I'll close this for now. Please let us know as soon as you have any other feedback. We're here to help!

[2021-05-25 20:50] #15353 closed

[2021-05-25 21:39] #15367 closed

[2021-05-25 23:44] sadasant commented on #15078
@hswimmer would it make sense for you if the `InteractiveBrowserCredential` accepted a new constructor option called `loginState`? to then pass that option to MSAL’s popup/redirect login requests?

[2021-05-26 15:04] zfoster commented on #15214
going to close for now

[2021-05-26 15:04] #15214 closed

[2021-05-26 15:14] bobalong79 opened #15419 "Where is the Cost Management SDK?"
**Is your feature request related to a problem? Please describe.**
I can't find any SDK for the Cost Management API. I'd like to collect aggregate usage information as described in https://docs.microsoft.com/en-us/rest/api/cost-management/query/usage but I can't find any existing SDK that does this. Am I missing something or is this SDK not yet available?

**Describe the solution you'd like**
A SD

[2021-05-26 16:56] joshfree opened #15420 "[tracing] Update Tracing instructions to highlight AppInsights"
Tracking issue for completing the testing of AppInsights with Track2 SDKs (Blob Storage, Event Hubs, Cosmos) and then updating the repo's tracing instructions / samples to make AppInsights more prominent in the documentation and making it clear that the beta Monitor OpenTelemetry Exporter is a secondary option.

[2021-05-26 17:14] #15419 closed

[2021-05-26 17:17] bobalong79 opened #15421 "The Cost Management SDK is missing"
**Describe the bug**
Hi, the Cost Management SDK is missing. Please can you generate it and add to the project.

Specifically, I need the functionality provided by the Query API:

https://docs.microsoft.com/en-us/rest/api/cost-management/query

Many thanks

[2021-05-26 17:53] sadasant commented on #7647
Hello @swisman , thank you for the feedback! I’ll be opening an issue based on your comment. Give me some time to process things on my side.

[2021-05-26 17:57] witemple-msft commented on #14977
@geoyws I'm going to go ahead and close this, thank you for your input. The release of 3.1.0 is scheduled for today.

[2021-05-26 17:57] #14977 closed

[2021-05-26 17:59] sadasant commented on #13080
@nikithauc Sorry for the delay! I’ve seen your comment now. I’ll save some time in the following days to provide a detailed response.

[2021-05-26 18:17] sadasant commented on #13894
Thank you for letting us know, @ewh . You’re welcome here anytime!

[2021-05-26 19:28] MuhamedSalihSeyedIbrahim commented on #15402
@jeremymeng - Is there any fix available or tmp fix we can do?

[2021-05-26 19:32] zfoster commented on #15402
I'm also seeing this issue attempting to failover to new regions in Cosmos SDK

[2021-05-26 19:47] zfoster commented on #14389
Hey there, I think automatic failover is a separate issue. This issue is related to endpoint discovery. We received another notice that automatic failover isn't working, this is a regression and can be mitigated by downgrading to 3.10.6. Can you please open a new issue to track?

[2021-05-26 19:47] zfoster commented on #14389
@gkaniouris

[2021-05-26 19:48] zfoster commented on #15402
@MuhamedSalihSeyedIbrahim I recommend downgrading to 3.10.6 until we find a fix

[2021-05-26 19:58] MuhamedSalihSeyedIbrahim commented on #15402
@zfoster ok sure,but when can we expect the fix any estimates.

Cause We knew, js cosmosdb sdk not have the direct mode any time soon,
to compensate that we need
every release towards network caching and evolving connection mgmt versions are very imp for us( eg. cosmosdb@3.11.2 connection mgmt https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/CHANGELOG.md#3112-2021-05-11 )

[2021-05-26 20:04] zfoster commented on #15402
the 3.11.2 release is a regression bugfix, the client is cached between requests in 3.10.6 - this isn't relevant to core-rest-pipeline so if needed you can open a new issue for Cosmos SDK, but @azure/cosmos 3.10.6 will mitigate your issue until we have a fix

[2021-05-26 20:26] xirzec commented on #15402
@jeremymeng adding the ability to safely serialize JSON is something I've had to write once in every project I've been on now, if you don't mind me giving you a quick PR. :)

[2021-05-26 20:36] jeremymeng commented on #15402
@xirzec please!  I was going to ask you about the proper place to fix this, but a PR is better!

[2021-05-26 20:49] MuhamedSalihSeyedIbrahim commented on #15402
@zfoster thanks but no need for me  to open a new issue now
I shall better stick your tmp fix
I will downgrade till the patch is out

[2021-05-26 21:05] tjegbejimba commented on #13247
Fixed here: https://github.com/Azure/azure-rest-api-specs/pull/13492

[2021-05-26 21:05] #13247 closed

[2021-05-26 21:26] #14466 closed

[2021-05-26 21:33] g2vinay opened #15428 "Update Identity README/MSDocs"
Update Docs with details of:
- [ ] PowerShell Credential - Add it to the DAC chain diagram and the Development Platform Credentials matrix section in the README. Update MS Docs with this credential as well.
  - PR: https://github.com/Azure/azure-sdk-for-js/pull/17304
- [x] ~Authenticating with Sovereign Clouds - Add a brief description of the feature with code samples/link to code samples in READM

[2021-05-26 22:45] richardpark-msft commented on #15420
CC: @ramya-rao-a

We might need to pick a good spot for this. Today we embed all instructions into each readme but if we think things are going to be fluid maybe this'd be a better fit for a link in our github wiki.

[2021-05-26 22:51] richardpark-msft commented on #15420
Adding @maorleger as he's also tracking tracing work in the repo.

[2021-05-26 23:58] annelo-msft opened #15433 "[ACR] Add unit test for FullyQualifiedReference"
We'd like to ensure that test coverage is consistent across the languages.

Would you please review the unit and live tests for the .NET ACR library (found [here](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/containerregistry/Azure.Containers.ContainerRegistry/tests)), and make sure you have test coverage of the same scenarios?

And specifically, would you add a unit test for the `Fu

[2021-05-27 00:22] tmschbgr commented on #15099
This is very weird one, and I still have not figured what is causing it.

I am on the latest version of Chrome now and still having the issue:  91.0.4472.77 (Official Build) (64-bit)

I am not experiencing the issue with any other browsers. Nor do I have the issue when using Chrome and having Fiddler open to inspect traffic. As soon as fiddler is open, it works fine.

So I can confirm that the iss

[2021-05-27 00:51] sadasant commented on #15078
@hswimmer do you have a concrete example of how this property would help you?

[2021-05-27 02:55] #15402 closed

[2021-05-27 06:50] hswimmer commented on #15078
We have several clients app authenticated with AAD and using @azure/storage-blob package
We use one redirect url for all of them and from the redirect url we navigate back to the original site by url we send in state parameter.
When trying to use InteractiveBrowserCredential we send the 'global' redirect url but no way to send the original site url

[2021-05-27 07:18] Sahana-Ramdurg commented on #15383
@richardpark-msft  Thanks for your reply.

As per your suggestion we have upgraded service bus azure sdk version to v7.1.0 in our application.

We will keep monitoring for any issues and let you know.

Thanks & Regards,
Sahana

[2021-05-27 07:27] amit12cool commented on #14606
Hi @chradek I'm facing the same issue with ```MessagingError``` and ```Too much pending tasks```. I have gathered the logs at my end related the time they arrived. I see a difference of one week between timeout and too much pending task error messages. Check below for logs.

First timeout issue came on 13th May

[code]
First too much pending task issue came on 20th May

[code]

[2021-05-27 09:44] developeromI89 commented on #13267
Error: Unable to resolve module crypto from C:\Users\Documents\azure\AzureDemo\node_modules\@azure\storage-blob\dist\index.js: crypto could not be found within the project or in these directories:
  node_modules.

[2021-05-27 13:30] SamDecrock opened #15437 "Update apiVersion in Azure ConsumptionManagementClient SDK"
- **Package Name**: Azure ConsumptionManagementClient SDK for JavaScript
- **Package Version**: 7.0.0
- **Operating system**: MacOS
- **nodejs** : v14.15.4

**Describe the bug**
With the current apiVersion set to `2018-10-01` at [consumptionManagementClientContext.ts](https://github.com/Azure/azure-sdk-for-js/blob/8564c84bafcece1eb53c7aa96b7c3d0c9f6a24c8/sdk/consumption/arm-consumption/src/consump

[2021-05-27 14:05] MuhamedSalihSeyedIbrahim commented on #15402
@Team, when can we expect the update merge is release out in npm😅
awaiting for it

[2021-05-27 15:57] xirzec commented on #15402
Since master is on a beta version, we will be having to do this as a hotfix. Porting this over in #15439

[2021-05-27 18:03] MuhamedSalihSeyedIbrahim commented on #15402
@xirzec -sounds great, but Basically what we have to do to use this fix in our prj.

[2021-05-27 20:06] xirzec commented on #15402
1.0.4 just got published with the fix, and since cosmos depends on `^1.0.3` it should pull it in automatically (though you may have to delete your package-lock.json or whatnot depending on how your repo manages its dependencies.)

If you see `@azure/core-rest-pipeline` version 1.0.4 in your package graph, you have this fix!

[2021-05-27 20:31] sadasant commented on #15078
@hswimmer thank you. We’ll have an update in about a week.

[2021-05-27 20:47] sadasant commented on #10645
Hello hello! I’ll be trying to help you both.

@faraazhabeeb123

That is correct. Key Vault is not available through browsers, but there are ways to retrieve Key Vault values and use them from browsers: you would need to retrieve them from the backend and then send them back to the web client.

Those samples were using Key Vault some time ago by mistake; they’re now using Service Bus, which does h

[2021-05-27 21:30] heaths opened #15448 "Successful restore operations may yield error"
Managed HSM may return an "empty" error object in otherwise successful responses, e.g.:

[code]

This may yield an error depending on how the response is processed. To mitigate this possibility, check not only that the `error` object is null but that the [`error.code`](https://github.com/Azure/azure-rest-api-specs/blob/9875f8eebd8c1392a83c052bc50a79c8251b1174/specification/keyvault/data-plane/Micr

[2021-05-27 21:32] jeremymeng commented on #13907
Closing. We still have #15203 tracking the same task.

[2021-05-27 21:32] #13907 closed

[2021-05-27 21:38] #14531 closed

[2021-05-27 22:08] #14597 closed

[2021-05-27 23:04] HarshaNalluru opened #15454 "[Recorder] Feature Request : Allow "skip" to run the test but skip recording generation"
Currently, `recorder.skip()` skips the test in both record and playback.

@LarryOsterman asked for below instead.
- Live          - run the test
- Record     - run the test and not generate recording
- Playback  - skip the test and provide the reason

/cc @deyaaeldeen

[2021-05-27 23:31] sadasant commented on #13080
@nikithauc hello hello!

I’ll divide my answer in some segments:

- If you’re using the Azure SDK.
- If you want to renew the token directly.
- More information about token expiration.

## If you’re using the Azure SDK

Token renewal and refreshing is something we handle in our HTTP pipelines (originally [@azure/core-http](https://www.npmjs.com/package/@azure/core-http), now [@azure/core-rest-pipe

[2021-05-27 23:59] sadasant commented on #13036
@deepakhb2 hello, I’m Daniel! I’ll be doing my best to help you.

Do you mind describing how is your Azure App Registration configured? What permissions does it have? how have you assigned permissions to those app registrations though your key vault?

[2021-05-28 02:17] dw511214992 commented on #15437
Hi @SamDecrock The js sdk comes from swagger, I check the latest swagger and find the latest api-version is `2021-05-01`. Is it this version fine for you? If yes, we will ask consumption team to confirm whether the version is ready for release. If not, please tell us.
Thanks

[2021-05-28 08:10] EmmaZhu opened #15459 "[storage-file-share]Need to check whether source file is changing in Download"
During downloading request, if source file is changing, there's chance server may return status code of 200 and only close TCP connection.

SDK should have a way to check whether file is changing during downloading to avoid data corruption.

[2021-05-28 08:34] gerasimos1995 opened #15460 "The resource type 'operations' could not be found in the namespace 'Microsoft.Resources' for api version '2021-01-01'"
- @azure/arm-resources v4.1.0
- Windows 10
- NodeJS v14.17.0

Bug is related to the example shown here: https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-arm-resources/2.1.0/index.html

I am trying to test out the above example. The device authentication is successfull but the listing of Resources fails.

[code]

My code is:
[code]
Am I missing something?

[2021-05-28 14:08] Crafoord opened #15461 "DefaultAzureCredential failed to retrieve a token from the included credentials"
- **Package Name**: @azure/identity
- **Package Version**:  1.3.0
- **Operating system**: macOS Big Sur 11.1
- [x] **nodejs**
    - **version**: 14.16.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:

- Is the bug related to **documentation** in
  - [x] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**Describe the

[2021-05-28 15:35] sadasant opened #15462 "[Key Vault Certificates] Evaluate documentation suggestion"
A customer recently found challenging how to figure out the format necessary to specify to the Azure CLI to properly retrieve Key Vault Secret related to a certificate: https://github.com/Azure/azure-sdk-for-js/issues/7647

At the moment I’m not sure where we should put this in the doc. I’m making this issue to ensure we don’t forget this feedback.

[2021-05-28 16:22] chradek commented on #13500
Reopening as we've finally been able to reproduce this issue in one of our testing environments and I was able to track down what is happening.

So, the error that occurs is `TypeError: Cannot read property 'process' of undefined`. This is being thrown from rhea's `Connection.prototype._process` method when iterating over the local session channels:

[code]

This looks like it should be completely

[2021-05-28 17:16] sadasant commented on #14896
The MSAL team has merged my PR, so I’ll close this.

[2021-05-28 17:16] #14896 closed

[2021-05-28 22:11] scott-alvis opened #15465 "Create Index does not preserve the "analyzer" property."
- @azure/search-documents
- 11.1.0
- macOS Big Sur 11.2.2
- [x] **nodejs**
    - v12.21.0:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I altered the example below adding `analyzer: "en.microso

[2021-05-28 23:37] jeremymeng commented on #8117
I came up with a workaround of using a custom HTTP Client targeting this specific scenario (retrieving metadata via Blob getProperties() methods).

For `getProperties()` calls I am creating a new instance of client that uses a custom HTTP Client.
[code]

output:
[code]

Completed code:
https://gist.github.com/jeremymeng/36c8162b65fe8945c8dae59061d9ce1d

[2021-05-28 23:40] jeremymeng commented on #4966
If anyone is still interested, we might be able to address this issue after storage libraries move to target azure.core v2.  Meanwhile, there's a workaround: https://github.com/Azure/azure-sdk-for-js/issues/8117#issuecomment-850725128

[2021-05-29 00:22] richardpark-msft commented on #15420
For more context about what we have today:

* [core-tracing - how the Azure SDK reports tracing today]: (https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-tracing/README.md)
* [OpenTelemetry Exporter for Azure Monitor - takes care of actually pushing those traces into Azure Monitor](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/monitor/monitor-opentelemetry-exporter/R

[2021-05-29 03:01] katlimruiz opened #15468 "containerClient.generateSasUrl generates encoded dates"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.5.0
- **Operating system**:
- [x ] **nodejs**
    - **version**: 15
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When I generat

[2021-05-29 11:27] MuhamedSalihSeyedIbrahim commented on #15402
@xirzec - got that , very thank 💐

[2021-05-29 20:48] SamDecrock commented on #15437
That's fine too. Currently I'm calling the REST api directly to avoid any issues.

[2021-05-30 00:04] southpolesteve commented on #15297
@ApurvGpt Please use the option for [`forceQueryPlan`](https://docs.microsoft.com/en-us/javascript/api/@azure/cosmos/feedoptions?view=azure-node-latest#forceQueryPlan). That will get the same behavior as the portal while we investigate

[2021-05-31 01:39] dw511214992 commented on #15437
thanks @SamDecrock

Hi Comsuption Service Team, cloud you please verfiy whether the swagger with api version `2021-05-01` is ready for release? If yes, cloud you  please send a release request in https://portal.azure-devex-tools.com/tools/request-api-release
Thanks

[2021-05-31 01:46] dw511214992 commented on #15460
Hi @gerasimos1995 Thanks for reporting this issue.
This issue is caused by service, which returns 404 Not Found with Error Message:
[code]
**We need service team to confirm why we cannot list operations with tag** `2021-01-01`.
In [Swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2021-01-01/resources.json#L37), i

[2021-05-31 05:43] dw511214992 commented on #15421
Hi @bobalong79 Sorry for response late.
This sdk is first release in JS SDK, and there is no `readme.typescript.md` in [folder](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/cost-management/resource-manager).
@nickzhums Please confirm if we will release this sdk in track1 sdk. Thanks

[2021-05-31 05:58] v-jiaodi opened #15470 "Azure Web Pubsub Express Readme Issue"
1.
Section  [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/web-pubsub/web-pubsub-express#group):

![image](https://user-images.githubusercontent.com/80496810/120131364-e00f0e80-c1fa-11eb-9267-5b84816fcca5.png)

Suggestion:
Remove a duplicate `Group` content.

@jongio for notification.

[2021-05-31 06:03] v-jiaodi opened #15471 "Azure Ai Document Translator Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/documenttranslator/ai-document-translator-rest#using-an-api-key):

![image](https://user-images.githubusercontent.com/80496810/120130563-1186da80-c1f9-11eb-926a-f8421b663f6b.png)

Reason:
Wrong package name.

Suggestion:
Update `@azure-azure/ai-document-translator` to  `@azure-rest/ai-document-translator`

@jongio for noti

[2021-05-31 06:13] v-jiaodi opened #15472 "Azure Ai Text Analytics Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/textanalytics/ai-text-analytics#recognize-pii-entities):

![image](https://user-images.githubusercontent.com/80496810/120131708-8824d780-c1fb-11eb-9033-25578e418b24.png)

Reason:
The ` TextAnalyticsApiKeyCredential ` is not in the ` @azure/ai-text-analytics` .

Suggestion:
Update to:
[code]

@jongio for notification.

[2021-05-31 06:18] v-jiaodi opened #15473 "Azure Cosmos Samples Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/samples/v3/javascript/IndexManagement.js#L60)：

![image](https://user-images.githubusercontent.com/80496810/120134079-f5d30280-c1ff-11eb-9218-928ee253ba80.png)

Reason:
The query result still includes the given item which the  ` indexingDirective ` is exclude. Some details are as follows：

![image](https://us

[2021-05-31 06:21] v-jiaodi opened #15474 "Azure Container Registry Samples Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/containerregistry/container-registry/samples/v1/javascript/repositoryAndArtifact.js#L42):

![image](https://user-images.githubusercontent.com/80496810/120132490-02099080-c1fd-11eb-8f80-1082fe2b279a.png)

Reason :
When execute code `await artifact.delete();`, the repo is also deleted. Error: `Repository \"hello-world\" is n

[2021-05-31 06:25] v-jiaodi opened #15475 "Azure Cosmos Samples Issue"
Section : [link](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/samples/IndexManagement.ts#L186)

![image](https://user-images.githubusercontent.com/80496810/120134533-e4d6c100-c200-11eb-8684-13a8280b08ca.png)

Reason:  the fact that it includes paths that have been excluded，but There is no problem with the query results . Some details are as follows：

![image](https://u

[2021-05-31 06:29] v-jiaodi opened #15476 "Azure Cosmos Samples Issue"
Section : [link](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/samples/SasToken/SasTokenAuth.ts#L5)

![image](https://user-images.githubusercontent.com/80496810/120134929-bad1ce80-c201-11eb-9256-3d2d8c721f15.png)

Reason: nodejs does not support the export with ` export `. Some details are as follows：

![image](https://user-images.githubusercontent.com/80496810/12013494

[2021-05-31 06:31] v-jiaodi opened #15477 "Azure Web Pubsub Samples Issue"
Section : [link](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/web-pubsub/web-pubsub/samples/v1/javascript/managingGroups.js)

![image](https://user-images.githubusercontent.com/80496810/120135467-e5705700-c202-11eb-85e7-eb9c03594ccd.png)

Reason:  when I create a group and add user to it,  always get an error that user id not found. When I create a group and add connection to it,  alw

[2021-05-31 07:16] amit12cool opened #15478 "Events not received on consumer during ```Too much pending tasks``` error in Azure Event hub sdk"
- **Package Name**:  @azure/event-hubs
- **Package Version**:  5.4.0
- **Operating system**:
- [x] **nodejs**
    - **version**:  v14.15.4
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.1.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Som

[2021-05-31 07:23] drfbwilliams commented on #10645
Hi @sadasant - thanks for the response.

I have no issues with a server side API working some magic with KV - but to be honest, it defeats a lot of purpose if we are moving values back over the wire for a browser - pretty challenging to secure that data and in fact, a large number of big web applications are exposing api keys and passwords that way as well.

Absolutely we want to make sure the CD

[2021-05-31 09:31] #15477 closed

[2021-05-31 10:01] v-xuto commented on #15477
It is not a issue, so close it.

[2021-05-31 10:21] #15475 closed

[2021-05-31 10:21] #15476 closed

[2021-05-31 18:30] JamesBurnside opened #15479 "Build fail: `Cannot assign to "i" because it is a constant` (@azure/communication-calling)"
(Created on behalf @canperk, original bug filed in samples repo: https://github.com/Azure-Samples/communication-services-web-calling-hero/issues/64)

- **Package Name**: @azure/communication-calling
- **Package Version**: 1.0.0
- **Operating system**: Win10
- [x] **nodejs**
    - **version**: v14.15.0
- [x] **typescript**
    - **version**: 4.3.2

**Describe the bug**
Build failure when using @azu

[2021-05-31 18:38] canperk commented on #15479
Thank you @JamesBurnside that you mentioned SDK repository that I couldn’t find on npm page.

[2021-05-31 18:46] JamesBurnside opened #15480 "@azure/communication-calling npm page has no information on where to get support or file issues"
- **Package Name**: @azure/communication-calling
- **Package Version**: 1.0.0
- Is the bug related to **documentation** in
  - [x] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
There is nowhere on the npm page to point customers where to get support or file new issues: https://www.npmjs.com/package/@azure/communication-calling

[2021-05-31 18:46] JamesBurnside commented on #15479
You're right! Filed a separate issue for that to help folks in the future with filling issues and getting support https://github.com/Azure/azure-sdk-for-js/issues/15480

[2021-06-01 04:55] ramya-rao-a commented on #15480
Thanks for reporting @JamesBurnside!

@beltr0n, @DominikMe,  I don't see the source code for this package in this repo either. Is this part of the set of communication packages from your team?

[2021-06-01 05:01] ramya-rao-a commented on #15471
Thanks for catching this @v-jiaodi. Can you please send a PR to fix this?

[2021-06-01 05:02] ramya-rao-a commented on #15470
Thanks for catching this @v-jiaodi. Can you please send a PR to fix this?

[2021-06-01 05:02] ramya-rao-a commented on #15472
Thanks for catching this @v-jiaodi. Can you please send a PR to fix this?

[2021-06-01 06:59] EmmaZhu commented on #15468
@katlimruiz

Thanks for reporting this to us.

Both for the SAS formats should work well. I see you point that the SAS token format should keep consistent.  Current JS SDK behavior is consistent with SDKs in other languages.  JS SDK will keep current behavior. We'll need to discuss with other language SDKs' to see whether we need to be consistent with SAS token format on portal.

Thanks
Emma

[2021-06-01 07:40] nickzhums commented on #15421
Hi @bobalong79  could you explaining a little bit on your use case scenarios? We'd like to understand more because this will require us to release a SDK for the first time, thanks

[2021-06-01 07:48] DominikMe commented on #15480
@ramya-rao-a Yes, @azure/communication-calling is ours but closed source.

@akania Assigning this to you. Can you set up a process so that your team monitors Github issues? We have set up tooling to copy issues over to ADO, maybe we can help you with this.

[2021-06-01 07:49] DominikMe commented on #15479
Assigning to @akania who owns calling.

[2021-06-01 08:49] bobalong79 commented on #15421
Hi @nickzhums, sure thing.

I'd like to use the SDK to collect aggregate cost data for my azure subscriptions in a specific timeframe. I would like to collect stats such as "most expensive day", "cheapest day", "average daily cost" etc, and have these costs presented at a specified Granularity and grouped by ResourceType or None.

To achieve this I'm using the Query dimension of the API:

https://

[2021-06-01 08:55] v-jiaodi commented on #15471
@ramya-rao-a - Sure, I will create a PR to fix it.

[2021-06-01 08:56] v-jiaodi commented on #15470
@ramya-rao-a - Sure, I will create a PR to fix it.

[2021-06-01 08:56] v-jiaodi commented on #15472
@ramya-rao-a - Sure, I will create a PR to fix it.

[2021-06-01 09:32] ruowan opened #15485 "Event hub SDK support client side throttling"
**Is your feature request related to a problem? Please describe.**

When event hub consumer worker offline, it cause many events pipe up in event hub. If the worker online again, it will receive high peak events and cause worker overload. (high CPU and OOM)

To avoid worker overload, I think it's better to support client side throttling in event hub sdk.

**Describe the solution you'd like**

I wo

[2021-06-01 15:08] joheredi commented on #15403
@ArielYehezkely thanks for reporting this issue. I have identified the root cause and currently working on a fix. I'll post a link to the PR here as soon as it is ready

[2021-06-01 15:22] gkaniouris opened #15487 "[Cosmos] Automatic failover and retry of requests is not working"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.11.3, 3.10.6, 3.9.5, 3.8.0
- **Operating system**:
- [X] **nodejs**
    - **version**: 12.x.x
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the b

[2021-06-01 15:26] gkaniouris commented on #14389
@zfoster I have opened an issue for the failover here: https://github.com/Azure/azure-sdk-for-js/issues/15487

[2021-06-01 15:31] zfoster commented on #15487
Hey @gkaniouris, we had a regression in version 3.11.x and above in a subdependency, which was hotfixed. I was using your script to reproduce, let me try again with the new version to see what's going on.

[2021-06-01 15:32] zfoster commented on #15487
When I downgraded to 3.10.6 last week, the failover was successfully working, but I see you've listed 3.10.6 as a version.

[2021-06-01 15:44] zfoster commented on #15487
After removing `package-lock.json` and `node_modules` and running `npm i`, I am now correctly failing over once again on v3.11.3

[2021-06-01 15:49] jeffwilcox opened #15488 "Service Bus v7 hangs receiving messages"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.x (7.0.5 specifically in our case)
- **Operating system**: Alpine Linux container
- [x] **nodejs**
    - **version**: LTS 14.17.0

**Describe the bug**

About 20 days ago we deployed an update to our ancient service bus background processor, moving from `azure-sb` 0.11.1 (which was using REST-based slow polling) to the modern `@azure/

[2021-06-01 16:48] sadasant opened #15491 "[core lro] Idea: Separate error handling from updating the state"
@maorleger ’s idea:

[2021-06-01 16:51] maorleger opened #15492 "[KeyVault] - use PowerShell cmdlets for Managed HSM deployment"
Now that PowerShell cmdlets for Managed HSM are readily available in our build agents, you can change the lines that used the azure CLI to use only PowerShell, which also prevents the azure CLI from logging in as the test application (something I couldn't really mitigate, unlike the PowerShell cmdlets):

https://github.com/Azure/azure-sdk-for-net/blob/554d35b562a97433c83e8ef0b54b41430a76febb/sdk/k

[2021-06-01 17:08] ramya-rao-a commented on #12967
For anyone looking for the sample that @maorleger built, please see https://github.com/Azure/azure-sdk-for-js/tree/master/samples/cors

[2021-06-01 17:10] ramya-rao-a commented on #10645
Hey @drfbwilliams

#12967 captures the investigation we did on this front a few months ago. Please take a look. We would love to get your feedback on the approaches taken there.

[2021-06-01 17:30] sadasant commented on #10645
@drfbwilliams Thank you for your answer. I would be particularly interesting on what you’re trying to achieve. Keep in mind the following: Even if the Key Vault we know was able to be used in browsers, users of the browser application would be able to inspect network calls and retrieve the values going in and out of their browsers. Do you mind describing what problem you’re trying to solve? We may

[2021-06-01 17:43] drfbwilliams commented on #10645
@ramya-rao-a thanks for that response! I also went down a route to look at Azure API implementation (from React as @maorleger describes) it was a while ago, but I didn't quite get a result with a block along the path.

@sadasant - thanks for the response as well. I guess in most part, I have a very large solution in terms of backend infrastructure which is all supporting a React frontend sitting i

[2021-06-01 17:49] sarangan12 commented on #13901
With JS We are not having a seperate queue for retry. So, the first criteria does not apply to JS. The second one is already completed in JS.

[2021-06-01 17:49] #13901 closed

[2021-06-01 18:11] sadasant commented on #10645
@drfbwilliams, thank you! Give us some time to figure out an answer for you. Going forward, @maorleger will be the one to follow up.

[2021-06-01 18:14] #14970 closed

[2021-06-01 18:21] deyaaeldeen opened #15494 "[Text Analytics] Build failure for v5.0.1 with core-http@1.2.4"
[code]

[2021-06-01 19:12] maorleger commented on #10645
@drfbwilliams what you're saying makes sense. Looking at the thread here I noticed that there are two issues we're conflating:

1. EnvironmentCredential not supported in the browser - I believe that was answered.
2. Key Vault client libraries (which take _any_ of our credentials into the constructor, so not directly related to EnvironmentCredential) cannot be used in the browser.

The reason for (

[2021-06-01 19:46] deyaaeldeen commented on #15494
@richardpark-msft pointed out that `.d.ts` files inside `node_modules` are being built which means it is a misconfiguration in the compiler options for this project. So closing.

[2021-06-01 19:46] #15494 closed

[2021-06-01 19:56] sadasant opened #15499 "[Recorder] Avoid recording cookies by default"
Based on this conversation: https://github.com/Azure/azure-sdk-for-js/pull/15456#discussion_r643435450

Since we’ve got confirmation that the cookies in our recordings are not a security issue, there’s no need to alter our current recordings. However, moving forward, we should disable recording cookies by default.

[2021-06-01 20:07] gkaniouris commented on #15487
Ok so the problem is most likely a transient dependency that is common across versions. It was locked in and did not change even when I change the cosmos library version.

Below are the dependencies for each version from the commit history:

&nbsp; | 3.8.0 | 3.9.5 | 3.10.6 | 3.11.3
-- | -- | -- | -- | --
@azure/core-auth | &nbsp; | &nbsp; | ^1.3.0 | ^1.3.0
@azure/core-rest-pipeline | &nbsp; | &nbs

[2021-06-01 21:06] #15448 closed

[2021-06-01 23:35] jeremymeng commented on #15474
Fixed as part of #15289

The listManifestsByPages() call has been moved before artifact.delete() call.

[2021-06-02 00:23] sadasant commented on #15461
@Crafoord, hello, I’m Daniel! I’ll be doing my best to help you.

Before I give you a more concrete answer, please help me by answering the following questions:

- It wasn’t clear for me, does `VisualStudioCodeCredential` work for you if you use it directly?
- What version of Visual Studio Code are you using?

With that information, please give us about a day more for us to prepare a good response

[2021-06-02 01:42] v-jiaodi commented on #15474
OK. Thanks @jeremymeng

[2021-06-02 01:50] normand-MSFT commented on #15221
Passing in the clientid of the app worked. The confusing part and why we didn't look at that before, even though from your perspective the user assigned MSI and app registration clientID are the same, is the [documentation](https://docs.microsoft.com/en-us/dotnet/api/azure.identity.managedidentitycredential.-ctor?view=azure-dotnet#Azure_Identity_ManagedIdentityCredential__ctor_System_String_Azure_