[2020-05-06 05:51] HarshaNalluru commented on #8669
@ramya-rao-a
I wasn't aware of the details before, just logged this issue as a reminder.
Looked into the problems now and added a TODO. Hope that helps. :)

[2020-05-06 08:35] sydneyvert commented on #8677
My company have not permitted the use of SAS tokens and have blocked the connection string option so unfortunately this seems the only way.
I currently get the token using the [msal](https://www.npmjs.com/package/msal) package as this was recommended to my colleague by our microsoft contact.
The code below shows how I obtain the token using this method (this code runs in a browser):
[code]
I follo

[2020-05-06 12:27] jiacfan commented on #8553
Glad to know it helps. Closing the issue.

[2020-05-06 12:27] #8553 closed

[2020-05-06 13:54] #8479 closed

[2020-05-06 14:19] JamesHenry commented on #8508
Awesome, thank you for the very quick turnaround. How can I try out the latest and greatest? Is it just a case of waiting for a new release of the lib, or has that already happened automatically?

[2020-05-06 14:20] southpolesteve commented on #8714
Worth considering to do this entirely using non-native APIs https://gist.github.com/stevendesu/2d52f7b5e1f1184af3b667c0b5e054b8

[2020-05-06 16:02] #7109 closed

[2020-05-06 16:09] ramya-rao-a commented on #8479
Are we planning to log a separate issue to investigate the error with the logger?

[code]

[2020-05-06 16:39] ramya-rao-a commented on #8677
Our apologies @sydneyvert
The `DEBUG` env variables should be set to `azure:service-bus` not `azure-servicebus`. Can you try again with the new value?

Web sockets are not enabled by default. I see that you mentioned proxy in one of your comments above. You can refer to the [useProxy.ts](https://github.com/Azure/azure-sdk-for-js/blob/%40azure/service-bus_1.1.6/sdk/servicebus/service-bus/samples/ty

[2020-05-06 16:40] ramya-rao-a commented on #8430
Done with #8707

[2020-05-06 16:40] #8430 closed

[2020-05-06 16:46] ramya-rao-a commented on #8534
This has been implemented in the latest update (5.2.0) to the `@azure/event-hubs` package. Related PR: https://github.com/Azure/azure-sdk-for-js/pull/8622

[2020-05-06 16:46] #8534 closed

[2020-05-06 16:49] ramya-rao-a commented on #8445
Closing this issue as the fix in the dependent library has been released. Please drop a comment if you continue to see the problem

[2020-05-06 16:49] #8445 closed

[2020-05-06 16:58] ramya-rao-a commented on #6643
Closing this issue as the 1.0.3 update for `@azure/identity` has been released.
Please drop in a comment if the problem is not fixed and we will look into it.

Thanks for reporting and working with us!

[2020-05-06 16:58] #6643 closed

[2020-05-06 17:14] jeremymeng commented on #8508
@JamesHenry For most of our Azure SDK client libraries we publish `dev` versions to npmjs.org. If you do `npm i @azure/ai-form-recognizer@dev` you should be able to get the latest changes.  For example the current latest dev version is https://www.npmjs.com/package/@azure/ai-form-recognizer/v/1.0.0-dev.20200505.2. Please bear in mind that dev versions might not be the most stable though.

Also we

[2020-05-06 17:17] chradek commented on #8673
@Rviku @snuffykl
`rhea` version 1.0.21 has been released with this fix. If you reinstall your node_modules you should get the latest version of `rhea`. (Note that you might need to clear any lockfiles, e.g. package-lock.json if you're using them to make sure 1.0.20 gets installed).

I just tested with a clean install of `@azure/service-bus` and verified that the latest version of `rhea` was instal

[2020-05-06 17:55] chradek commented on #8673
I'm closing this issue since `rhea` 1.0.21 is out now and `@azure/service-bus` will pick it up when installing node modules.

If you continue to face this issue please feel free to post here or open a new issue.

[2020-05-06 17:55] #8673 closed

[2020-05-06 18:12] glennmusa opened #8744 "[storage-file-datalake] 'Unable to extract accountName' exception when instantiating DataLakeServiceClient with a Gov Cloud ADLS File System endpoint"
- **Package Name**: @azure/storage-file-datalake
- **Package Version**: 12.0.0
- **Operating system**:
- [x] **nodejs**
    - **version**: 12.16.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**Describe the bug**

Instantiating a DataLakeServiceClient using an ADLS File System endpoint (e.g. `ht

[2020-05-06 18:53] sadasant commented on #5276
Marked sdk/template/template since it seems to already be standardized.

[2020-05-06 19:09] ramya-rao-a commented on #8356
Thanks @sarangan12
Closing this issue with #8582

[2020-05-06 19:09] #8356 closed

[2020-05-06 20:43] shlomiassaf commented on #7986
@richardpark-msft On another subject, I would appreciate if you guys take a look at [a new library](https://shlomiassaf.github.io/pebula-node/nesbus/docs/getting-started/introduction/) I built that allows using `@azure/service-bus` with `NestJS`.

This can significantly increase the exposure of service bus to a lot of JS developers.

Thanks!

[2020-05-06 21:03] chradek commented on #7112
@lmolkova
Sorry for the delay, we're addressing this in #8745.
One comment brought up was about casing for the `enqueuedTime` property. Does this need to be the same casing across languages and if so, is camelCase the intended format?

[2020-05-06 22:13] ramya-rao-a commented on #8677
I missed your earlier statement that your code runs in the browser.
In that case, yes, web sockets are used by default.

But if you are behind a proxy, then you need to use the sample I linked above to pass in the proxy settings. Since the code runs in the browser, you can use `window.WebSocket` instead of the `WebSocket` from the `ws` package.

Also, instead of `msal`, you can use the [@azure/ms-

[2020-05-06 22:13] richardpark-msft commented on #7986
@shlomiassaf, I've got a tentative solution that looks good to our team that will fix the issue you posted above. The fix is pretty simple - it just makes sure that if we're closing the receiver that we _wait_ until initialization has completed before returning.

The init process isn't easily cancellable at the moment so this is a simpler way of ensuring that you don't end up with an object that a

[2020-05-06 22:15] jeremymeng commented on #8508
We just released 1.0.0-preview.2 https://www.npmjs.com/package/@azure/ai-form-recognizer/v/1.0.0-preview.2

[2020-05-06 22:18] shlomiassaf commented on #7986
Yes, since `createReceiver()` returns void and changing it to return a promise will not break anything in the user applications.

I guess that with such a huge change moving from 1 to 7, this should pass without much noise but not sure that all of the consumers will refactor their code so it will handle that promise...

[2020-05-06 23:18] #7112 closed

[2020-05-07 06:25] beth-panx opened #8762 "Connect to cosmos and create database errors out when used within Teams webhook"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.6.3
- **Operating system**: MacOS
- [x] **nodejs**
    - **version**: 12.16.3
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.3.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Follo

[2020-05-07 06:53] sarangan12 commented on #7165
The Preview 3 has been released. Closing this task. All remaining items will be tracked in the task for Preview 4 - https://github.com/Azure/azure-sdk-for-js/issues/7166

[2020-05-07 07:01] #7985 closed

[2020-05-07 07:10] sarangan12 commented on #7166
1. Define onlyIfUnchanged parameter for CreateOrUpdate and Delete operations - https://github.com/Azure/azure-sdk-for-js/issues/8517
2. Search: ListIndexes operation should return a pageable collection - https://github.com/Azure/azure-sdk-for-js/issues/8484
3. Search: Proposed model and property renames - https://github.com/Azure/azure-sdk-for-js/issues/8383
4. [search] Add additional samples - ht

[2020-05-07 07:16] sarangan12 opened #8764 "Async Iterables & For await in our SDK"
All our readme documents indicate that we support Node 8.x.x. Several of our SDKs have async iterables and our readme have samples have for await. Both are supported only after Node 10.x.x. Or you must supply --harmony_async_iteration to node command. Discuss with team on how to resolve it.

[2020-05-07 11:32] rajagopal4890 commented on #8605
@ramya-rao-a apologies. Hold up with production releases. I'll get back by the end of this week.

[2020-05-07 13:42] kieran82 opened #8768 "How do you do the group by query"
I see you have group by support but when i run the query with a group by in the query i get an gateway error saying not supported. Do you know how to use it in the query or is there a parameter i missing

[2020-05-07 16:33] chradek commented on #8206
We discovered that the `EventDataBatch.tryAdd` method had poor performance that worsened as the number of events added increased: https://github.com/Azure/azure-sdk-for-js/issues/8567
In my testing, this was the major contributor to seeing poor performance when sending events, especially when compared to event-hubs v2 (which accepted an array of events to send rather than a batch object.)

This ha

[2020-05-07 16:50] ramya-rao-a commented on #8768
@kieran82 Please share which package are you using

[2020-05-07 16:56] jeremymeng opened #8770 "[core-auth][doc] GetTokenOptions inline type definition results in Object in ref doc"
which isn't as helpful.  We might want to defined the interfaces explicitly to get better docs.

![image.png](https://images.zenhubusercontent.com/5c51efcef73cf865af8994d5/fe14d119-6bc8-4bdc-9ad6-b4aeb1070b7f)

[2020-05-07 16:58] kieran82 commented on #8768
I’m using @azure/cosmos version 3.6.3 in node js

From: Ramya Rao <notifications@github.com>
Sent: Thursday 7 May 2020 17:51
To: Azure/azure-sdk-for-js <azure-sdk-for-js@noreply.github.com>
Cc: Kieran <kieran.moroney1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-js] How do you do the group by query (#8768)

@kieran82<https://eur05.safelinks.protection.outlo

[2020-05-07 18:04] southpolesteve commented on #8768
@kieran82 Can you provide some code showing your query and usage so we can try to reproduce the issue?

[2020-05-07 18:14] southpolesteve commented on #8762
[code]

@beth-panx Can you clarify what is going on in this code? What is `@OutgoingWebhookDeclaration` and where does it come from?

[2020-05-07 18:54] #8714 closed

[2020-05-07 19:04] wandrille-hubert opened #8775 "trafficmanager cannot use azure/ms-rest-nodeauth v3"
- **Package Name**:  @azure/arm-trafficmanager
- **Package Version**:  4.1.0
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 12.16.3
- [x] **typescript**
    - **version**: 3.8.3
- Is the bug related to **documentation** in
  - [x] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When I am using @azure/ms-rest-

[2020-05-07 19:58] ramya-rao-a commented on #4244
Hello all,

Thanks for your patience.

The cognitive services library takes a dependency on the `@azure/ms-rest-js` package where the fix needed to go. We have released an update for this package with the fix. See https://github.com/Azure/ms-rest-js/pull/382 and https://github.com/Azure/ms-rest-js/pull/390 for details.

Run `npm install` again in your application that uses the cognitive services s

[2020-05-07 19:58] #4244 closed

[2020-05-07 20:17] HarshaNalluru commented on #6670
Track 2 .NET has removed the additional properties. This is exactly the same as JS.
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/ConnectionStringProperties.cs

Coming to whitespaces and newlines.. core-amqp seems to be handling all the cases even better than expected.
![image](https://user-images.githubusercontent.com/10452642/81340528-d

[2020-05-07 22:07] ramya-rao-a commented on #6670
Thanks @HarshaNalluru!

For Track 1 SB, the next update will include the fix #8403

[2020-05-07 22:07] #6670 closed

[2020-05-07 22:17] kieran82 commented on #8768
Here is my script. This is the wasy I’d do it in an sql query normally.
const querySpec = {
            query: "SELECT value sum(r.quantityKG) FROM r WHERE r.species_name = @id GROUP BY r.speciesType ORDER BY r.supplierId DESC",
            parameters: [{
                name: "@id",
                value: 'test'
            }]
        };

From: Steve Faulkner <notifications@github.com>
Sent: Thur

[2020-05-07 22:19] syedhassaanahmed commented on #4808
+1 on change feed support in JS SDK

[2020-05-07 22:34] southpolesteve commented on #8768
It is a bit buried in the docs, but ORDER BY with GROUP BY is not supported https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-group-by#remarks

cc @bchong95 @zfoster

[2020-05-07 22:34] #8768 closed

[2020-05-07 23:19] heaths opened #8784 "Handle selected properties for List operations"
For list operations (e.g. listDataSources) do not expose a parameter that allows the customer to pass `$select`. Many properties of models can't be in a `$select`, and they are case sensitive which may not be intuitive to languages that use typed models with different property casing.

Instead, provide a separate method for getting just names (e.g. listDataSourceNames), which the server optimizes.

[2020-05-07 23:24] anthonyvercolano opened #8785 "@azure/storage-blob depends on depreciated package opentelemetry/types"
- **Package Name**: @azure/storge-blob
- **Package Version**: 12.0.0
- **Operating system**: any
- [ x] **nodejs**
    - **version**:
- [ ]
**Describe the bug**

npm WARN deprecated @opentelemetry/types@0.2.0: Package renamed to @opentelemetry/api, see https://github.com/open-telemetry/opentelemetry-js

**To Reproduce**
Steps to reproduce the behavior:
1. have a package.json that refers to "@azure

[2020-05-08 02:11] ramya-rao-a commented on #8775
Thanks for reporting @wandrille-hubert

@qiaozha This goes back to the problem of not all management libraries being compatible with the same version of `@azure/ms-rest-nodeauth`.

The packages that were re-generated using v4 of the code generator are compatible only with the latest version i.e v3 of `@azure/ms-rest-nodeauth` and the others are compatible with only v2 of `@azure/ms-rest-nodeauth`.

[2020-05-08 02:12] ramya-rao-a commented on #8770
Interesting..
The change we made was to inline the types here, see #8410

@xirzec, @willmtemple What would your recommendation be here?

[2020-05-08 02:38] qiaozha commented on #8775
okay. I will release a new package for trafficmanager later.

[2020-05-08 03:55] ramya-rao-a commented on #8785
Thanks for reporting @anthonyvercolano

@vinjiang, @XiaoningLiu, All the relevant changes are in the master branch. All that is needed is to do the actual release.

cc @jeremymeng

[2020-05-08 05:31] XiaoningLiu commented on #8432
The default type is application/octet-stream. Refer to https://docs.microsoft.com/en-us/rest/api/storageservices/put-blob and search "content-type".

[2020-05-08 06:37] zzhxiaofeng opened #8798 "Readme content of Azure Event Hubs is unclear"
**1**
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/@azure/event-hubs_5.2.0/sdk/eventhub/event-hubs/#consume-events-from-a-single-partition)
![Annotation 2020-05-07 103108](https://user-images.githubusercontent.com/20970631/81379179-3bc3b100-913b-11ea-9de8-2e9d5b4ee72b.png)
Comment: Correct it as `const { EventHubConsumerClient, earliestEventPosition } = require("@azure/event-hubs"

[2020-05-08 08:43] ljian3377 commented on #8626
I think the `delimiter` parameter of `listBlobsByHierarchy` may help. Say you have these blobs:
[code]
Then we list with
[code]
will conceptually return
[code]

If the returned item is a blob, you can fetch it from `result.segment.blobItems[]`.
If the returned item doesn't refer to a blob but is just a prefix, you can fetch it from `result.segment.blobPrefixes[]` which only has a name string as it

[2020-05-08 08:49] SoprasteriaPatrick commented on #6292
Hi, i cant seem to get runCommand to work properly.

[code]

It logs in fine, and i only get on of two results:
1 - Run command extension execution is in progress. Please wait for completion before invoking a run command.
2 - or no result back at all.

Any help?

[2020-05-08 11:33] ljian3377 commented on #8744
I don't think there is anything wrong with the `getAccountNameFromUrl` you mentioned. As it's called with a blobEndpoint url that is transformed with the original URL.

And I can not recreate it. Note that

  client secret credentials in the following environment variables:

How do you `getDefaultCredential()`?

Can you try this sample in your environment?
[code]

[2020-05-08 13:28] sadasant opened #8800 "[dotenv] Move the samples' sample.env to use the parent sample.env"
Hi! Should we only have a sample.env at the root level of each project? Right now we have three, one at that level, another one at the JavaScript samples level, and another one at the TypeScript samples level.

[2020-05-08 14:32] glennmusa commented on #8744
You're correct, @ljian3377 that that is how we're obtaining a DefaultAzureCredential from within an Azure Function.

I omitted the getDefaultCredential(), but it's just an abstraction of the checks you have in your `main` and returns a DefaultAzureCredential(). For reference, here's that omitted method (it's the same as the sample you provided):

[code]

I did make an update to the original Issue

[2020-05-08 16:28] AlexGhiondea opened #8801 "Release Azure Cognitive Search Track 2 Library Preview 5 for JS"

[2020-05-08 16:38] #7165 closed

[2020-05-08 19:48] ramya-rao-a commented on #8800
From my understanding:

- We should need separate env files for JS samples vs TS samples
- The one at the root is used for tests. Unless the samples use different env variables than the tests, we shouldnt need separate env files for tests vs samples

@willmtemple might know more

[2020-05-08 21:18] willmtemple opened #8810 "[ai-form-recognizer] Create tighter type-specifications in FormField"
In the `FormField` type, there is an opportunity to create a union tagged on `valueType`. The type of `value` can be refined if it is made dependent on the value of `valueType`.

Currently, all of the fields here are marked optional and have very broad types encompassing all possible values. We can narrow these types for the benefit of TypeScript customers.

[2020-05-08 21:28] #8691 closed

[2020-05-08 21:29] joheredi opened #8811 "[Tables] Sprint 1"
**Tasks**
- [x] [#8944] Familiarity with Azure Tables
   - Service Documentation
      - Azure Table storage overview ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-overview ))
      - Introduction to Table storage in Azure ([link](https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-overview ))
   - Review Existing SDKs ([link](https://github.com/Azure/azure

[2020-05-08 21:47] jeremymeng opened #8812 "[core-http] unnecessary .then() in retry policies"
https://github.com/jeremymeng/azure-sdk-for-js/blob/6481e3ab5c00d6761a24e711773de7d631a011a9/sdk/core/core-http/src/policies/exponentialRetryPolicy.ts#L233-L234

We've seen `.then()` call back passing the reponse to `retry()` method just to return the response.  This is not necessary.

[2020-05-08 21:53] joheredi opened #8813 "[Tables] Sprint 2"
**Tasks**
- [x] Create a new project for tables in the `azure-sdk-for-js` repo
   - [Project template](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/template/template)
   - This PR can be used as reference ([link](https://github.com/Azure/azure-sdk-for-js/pull/8621))
- [x] Construct an SDK around the generated code, things to consider:
   - Existing SDKs for [Storage Queues](https://gi

[2020-05-08 22:08] HarshaNalluru commented on #8193
.NET SDK allows the timeout to be less than the defaultTimeout, does not override as we do.

[2020-05-08 22:43] ramya-rao-a commented on #8193
Based on offline conversations, let's go ahead and remove the restriction and allow the timeout to be less than default timeout

[2020-05-08 23:32] chradek commented on #8584
I started looking into this today, and found that at some point the underlying connection has its remote state reset. This can happen when `connect` is called on a connection.

Sometimes this isn't a problem because the remote state is repopulated once the links are reattached by rhea. However if the send timeout is hit before this happens, there's a TypeError thrown because that remote state does

[2020-05-09 02:56] RodgeFu commented on #6292
@qiaozha , could you help to follow up? thanks.

[2020-05-09 07:26] HarshaNalluru commented on #8677
Hello @sydneyvert,

At first glance, a couple of updates to the msal-sample-code that you've provided.
- You're passing the `scopes` array to the `.loginPopup()` method directly which is invalid since the method expects a bag of options(`AuthenticationParameters`) among which the `scopes` in one of the attributes.
[code]
So, please update that `.loginPopup(scopes)` call appropriately.
For example

[2020-05-09 20:47] steveellis opened #8831 "How to make v12 package for the browser smaller?"
I need to upload to blob storage from client JS. Following the instructions here:

https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/Bundling.md

I end up with a file that is about 1.6MB after following the webpack instructions here: https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/Bundling.md. This makes me think I'm doing something wrong. I'm putting this in

[2020-05-10 06:31] kks010 commented on #6870
Hi,

I am still facing this issue after updating the library to 1.1.6 as well.

![image](https://user-images.githubusercontent.com/17687603/81492500-dfd16780-92b5-11ea-80b9-5b546b4301c9.png)

Please help @ramya-rao-a

[2020-05-10 09:47] JamesHenry commented on #8508
Installed and confirmed this is working for me! Thanks again for the super fast turnaround and great library 🙏

[2020-05-10 20:34] ramya-rao-a commented on #6870
@kks010 It is possible that all the retry attempts are exhausted and then you are getting notified of the error.

Please log a new issue with details on how your application works with Service Bus and the behavior you see around the timeline of the error. What is the time difference between the last message that was received and the error? Was there any Azure upgrade around this time?

- Share a c

[2020-05-11 02:48] jiacfan commented on #8831
Thanks for reaching us.

For the bundling size, are there other project files involved into the bundling, or 1.6MB is purely for v12 @azure/storage-blob?

And would you have a try on [RollUp](https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/Bundling.md#using-rollup), which is previoulsy used by v10 SDK for bundling.

Thanks,
Jiachen

[2020-05-11 03:19] qiaozha commented on #6292
@SoprasteriaPatrick Hi, I tried to reproduce the command in my local env, but I can get the "sending data to Client result" correctly.
Can you provide what package and which version version of JS SDK are you using ? I am using the @azure/arm-compute 12.0.0
Also it would be helpful if you can provide the VM spec For example the ostype, disk, memory etc. that you are using.

[2020-05-11 03:21] ramya-rao-a commented on #7317
Closing as https://docs.microsoft.com/en-us/samples/azure/azure-sdk-for-js/service-bus-typescript/ is now lit up with v1 samples

[2020-05-11 03:21] #7317 closed

[2020-05-11 04:50] kks010 opened #8835 "MessagingError [OperationTimeoutError]: Unable to create the amqp session due to operation timeout"
- **Package Name - Azure service bus**:
- **Package Version -  "@azure/service-bus": "^1.1.6",**:
![image](https://user-images.githubusercontent.com/17687603/81524546-35b61600-936f-11ea-9da2-f2ff1bc6aa02.png)

- **Operating system**:
- [ ] **nodejs**
    - **version - v12.13.0**

- The bug related to https://github.com/Azure/azure-sdk-for-js/issues/6870

**Describe the bug**
We have a service wher

[2020-05-11 05:05] kks010 commented on #8835
Also, I checked with azure support for the past 1 week and there was no update or unexpected behavior in the provided time.

FYI @ramya-rao-a

[2020-05-11 05:06] kks010 commented on #8835
Also, I see you have mentioned here regarding creating another receiver in case the link is broken, but I am not sure if this is actually done.

![image](https://user-images.githubusercontent.com/17687603/81525720-3d77b980-9373-11ea-8875-00b8ff8a1aca.png)

[2020-05-11 11:06] Alejoooooo opened #8836 "Azure Function and Azure Service Bus - Sessions"
- **Package Name**: **@azure/service-bus**
- **Package Version**: 1.1.6
- **Operating system**:
- [ ] **nodejs**
    - **version**: v10.16.0
- [ ] **typescript**
    - **version**: Version 3.8.3

**Describe the bug**
I have an issue with **Azure Functions** and **Service Bus** when managing **Session** based queues. I am using Typescript and @azure/service-bus library
I have a "producer" AF that p

[2020-05-11 12:19] isamllr commented on #8744
@glennmusa did you try the same using an account in the public cloud vs gov?

[2020-05-11 13:59] glennmusa commented on #8744
@isamllr accessing the public cloud storage account works as documented.

[2020-05-11 15:53] ms-premp commented on #8158
Thanks for the feedback. We will investigate and update this thread.

[2020-05-11 16:43] jeremymeng commented on #8831
@steveellis The bundling guide has `webpack --mode=development` (obviously for dev environment) so the output is not minified.  I just tried running `webpack` without the mode argument and got an result of ~350 KiB,  which is still a bit large compare to v10.

We had some ideas for improvement and will see how much we can shave off.

[2020-05-11 16:53] chradek commented on #8584
In my test case I'm seeing the following take place:
1. User calls createBatch, connection is established with the service, cbs session is created.
2. Call sendBatch in a tight loop. In a tight enough loop, the main thread can stay busy enough where the connection idle timeout is reached before a heartbeat is received from the service.
3. idle_timeout is triggered. This closes the local side of th

[2020-05-11 17:59] steveellis commented on #8831
Thanks @jeremymeng  and @jiacfan. 350KB is fine for my purposes.

I do think including a pre-build in your v12 npm distribution (like v10) would make for a better experience for people integrating the browser who aren't using one of the bundlers you recommend. I'm using grunt for example.

Another feedback item for you: it's not in the docs (unless I missed it) what the main entry point is to use

[2020-05-11 17:59] #8831 closed

[2020-05-11 18:04] KarishmaGhiya opened #8841 "[Identity] move away from using qs for query string parsing"
- Instead of using qs library for query string search, this can be handled more reliably with the native URL Search Parameters - https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams
cc - @xirzec

[2020-05-11 18:19] xirzec commented on #8841
maybe related to work in #8535

[2020-05-11 18:26] xirzec commented on #8831
Thanks for your feedback!

We looked at doing this before, though I think we were reluctant about bundling in ecosystem dependencies that would then be pinned to specific (and potentially insecure) versions.

There was also the consideration that bundlers would do a better job at producing a smaller bundle based on what a developer decides to import, though I admit that it's very easy at the momen

[2020-05-11 18:34] xirzec commented on #8770
This looks like tsdoc being extremely... unhelpful.

Would a reasonable workaround be to add a codeblock example that is just the TS interface shape?

[2020-05-11 19:10] #8378 closed

[2020-05-11 20:18] jeremymeng opened #8844 "[Test] browser test ouput folder consistency issue"
We still have two kinds output directories for browser test rollup: `dist-test/index.browser.js` v.s. `test-browser/index.js`

[2020-05-11 20:38] HarshaNalluru commented on #7691
It was unnamed session.

Not Track 1, I'd say Track 1.5, while designing track 2. Peek is only on the receiver, there was no QClient/SubClient at this point.

[2020-05-11 20:46] schaabs commented on #8436
@jonathandturner I don't think this is the design we want. The user already has the ability to specify no clientId to the constructor, in which case we consider the credential to not be a user assigned identity, but rather a system assigned identity, and I think we need to maintain this behavior.

In .NET what we have done is to read the environment variable only when constructing this credential

[2020-05-11 20:51] HarshaNalluru commented on #7691
This issue no longer repros with the current API in track 2. Hence, closing.

[2020-05-11 20:51] #7691 closed

[2020-05-11 22:05] jeremymeng opened #8848 "Rollup `if (isNode)` replacement doesn't work well for async functions"
As the async functions are re-written into statement machines, the `if (isNode)` condition only appears in one of the state thus replacement often doesn't do what we expected.  One example is:

Suppose we have an async  function

[code]
The transpiled code for browser would look like below (note compiler is being smart to flip the condition to return earlier: `if (!isNode) return [3 /*break*/, 7];

[2020-05-11 22:05] jeremymeng commented on #8848
/cc @bterlson

[2020-05-11 22:55] jeremymeng commented on #8610
PR #8808

[2020-05-12 00:35] ramya-rao-a commented on #8844
@sadasant What does our guideline in progress say about this? Does the template project follow the expected model?

cc @xirzec

[2020-05-12 02:01] ramya-rao-a commented on #8770
We do a pretty good job at this in https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-core-auth/1.1.2/interfaces/gettokenoptions.html

I would treat this as a bug to be fixed with docs team.

[2020-05-12 03:12] ramya-rao-a commented on #8835
Thanks for reporting @kks010

- Does your error handler log anything else before the `OperationTimeoutError`?
- Do you have any estimation on the time difference between the last message that was received and this error being thrown? Perhaps you can check Azure portal to see the time for the last outgoing message
- Am assuming you have already created a support ticket based on your comment in http

[2020-05-12 07:52] ramya-rao-a commented on #8836
Thanks for reporting @Alejoooooo

Do you have multiple applications/functions running against the same session?

The `SessionCannotBeLockedError` suggests that there is another active receiver against the same session in your queue. At any given point, you can have only one receiver for a given session. You can read more on sessions at https://docs.microsoft.com/en-us/azure/service-bus-messaging/m

[2020-05-12 08:13] jiacfan commented on #8785
Thanks @anthonyvercolano for the info! The planed release is on Jun which will involve several great new features in developing. We definitly appreciate the voice here, and wish to check if this works for you.

Thanks,
Jiachen

[2020-05-12 08:14] sydneyvert commented on #8677
Thanks @HarshaNalluru, I have made those changes.

@ramya-rao-a thanks for your quick replies. The login script runs in the browser, however the service bus part actually runs in node. Can I still use the example above to allow the use of AMQP web socket?

I have ```set DEBUG=azure:service-bus``` and am not getting any more information from my logs apart from the ```ServiceUnavailableError```

[2020-05-12 08:43] sydneyvert commented on #8677
@ramya-rao-a used the web socket example you suggested and it all works perfectly now. Thanks so much for all of your help.

[2020-05-12 10:35] kks010 commented on #8835
Hi @ramya-rao-a

Thanks for replying. Here are the answers to your questions:

1. No, only this error message is logged which I have shared above before it stops receiving service bus messages.
2. The last message was received at **9th May 2:26 am** and the error was thrown at **2020-05-09T02:25:30.595Z**
3. Yes, it didn't help. so I have created another one with high severity.
here is the ticket

[2020-05-12 12:22] kks010 commented on #8835
Also, I had a discussion Microsoft support team and found that there was an update from 12:03 am to 5:00 am UTC ON 9th May.

But according to them if the retry logic is written then the connection would have been re-established. But I am not sure if this has to be in the code logic.
As I can see here in this Pull https://github.com/Azure/azure-sdk-for-js/pull/8401

that the problem was resolved wi

[2020-05-12 15:10] sadasant opened #8864 "[KeyVault-Certificates] Playback tests are ridiculously slow in comparison"
KeyVault-Certificates playback tests are ridiculously slow in comparison to the keys and secrets playback tests. It's not clear to me why. This needs to be investigated.

[2020-05-12 15:12] soundoff opened #8865 "Create Application Configuration client that will work for browser targeted apps"
**Is your feature request related to a problem? Please describe.**
I attempted to use the @azure/app-configuration package in an Angular 8 client side application to attempt to use the feature flag capability used in our .net Core service api.  Unfortunately it is directly dependent on being used only in a node app, as it uses the node built in crypto package as a dependency.

**Describe the solut

[2020-05-12 15:29] Alejoooooo commented on #8836
Hi
Thanks for your response!
As you can see in attached implementation code, there is only one receiver with that sessionId. No other AFs are involved.
We have been able to make Azure Functions and Azure Service Bus integration working if both sender and receiver are in the same AF.
Is there any example of this scenario (one AF publisher and one consumer) working with Azure Service Bus (using @azu

[2020-05-12 16:24] ramya-rao-a commented on #8835
Thanks for your patience @kks010

We will look into why OperationTimeoutError is not retryable and make it so ASAP.
We will post a comment once we have an update

[2020-05-12 16:38] ramya-rao-a commented on #8677
That is great to hear @sydneyvert

@HarshaNalluru, At the very least we should make the below changes:

- Update jsdocs for `createFromTokenProvider` to mention that if one is using their own token provider against AAD, then what should be the "scopes" value to use.
- Do the same in the readme under the "Authenticate the client" section
- Update useProxy sample files that if in browser one does no

[2020-05-12 16:39] jeremymeng opened #8867 "Call out development v.s. production in bundling guide"
We have customer report of them following the bundling guide and end up with large size because the guide at https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/Bundling.md was using development mode (e.g., in webpack section).  We should add notes/instruction for production environment.

[2020-05-12 16:53] jeremymeng opened #8868 "[FormRecognizer] Copy model endpoint"
- [x] support copy model api
- [x] add sample

[2020-05-12 17:00] richardpark-msft commented on #8836
@Alejoooooo  - thank you for contacting us. The snippet of code you gave us looks good to me which makes me suspect that it might be related to the Azure Functions lifecycle instead.

Is your Azure Function set to run as a singleton (meaning no parallel instances or invocations?). If not, the usage you have is potentially incorrect - you'll need to do something like this:

[code]

We don't have an

[2020-05-12 17:13] NoelAbrahams opened #8869 "[Cognitive Services Text Analytics] Error Object not fully typed"
- **Package Name**:   "@azure/ai-text-analytics"
- **Package Version**:   "1.0.0-preview.4"

**Describe the bug**
The TypeScript type of the error object returned from an invalid operation does not contain some of the underlying properties such as `statusCode`.

**To Reproduce**
Trigger an error by using an invalid API key.

**Expected behavior**
The error object should contain the following prope

[2020-05-12 17:27] NoelAbrahams commented on #8869
Actually,  the error `TextAnalyticsError` is the one returned as part of the result set.

We'd like to handle the error  from the following and extract the HTTP status if possible:

[code]

[2020-05-12 19:01] aflinchb opened #8871 "@azure/identity@1.1.0-preview.3 fails to install"
- **Package Name**: @azure/identity
- **Package Version**: 1.1.0-preview.3
- **Operating system**: Ubuntu Linux (WSL 2 on Windows 10)
- [x] **nodejs**
    - **version**: v13.12.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.8.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs

[2020-05-12 19:05] aflinchb commented on #8871
As an update - I just tried this using Visual Studio Codespaces (which has node version 12.14.0) and it was able to successfully install.  Not sure if the failure is related to WSL or the node version I was using.

[2020-05-12 19:56] kwontae opened #8873 "Question on EPH vs ECC"
I have a question regarding the differences between EPH and Event hub consumer client.
I see on the latest official documentation of azure event hub sdk for node js version 5 is recommending Event hub consumer client with no mentioning of EPH. Is the ECC a wrapper around EPH? or is there a different use case scenario?

[2020-05-12 21:18] ramya-rao-a opened #8875 "[Service Bus] Port batching receiver improvements to sessions"
In Track 1 Service Bus, we have done a series of improvements that didnt get ported to sessions
- PR https://github.com/Azure/azure-sdk-for-js/pull/6601
- PR https://github.com/Azure/azure-sdk-for-js/pull/8401
- PR https://github.com/Azure/azure-sdk-for-js/pull/8552

We need to first try to repro these cases with sessions and then see what the fix should be. Since, we don't recover the receivers f

[2020-05-12 22:14] ramya-rao-a commented on #8869
@jeremymeng This reminds me of the issue with storage around deserializing error responses. Any idea if the two are related?

[2020-05-12 22:15] ramya-rao-a commented on #8865
Have you looked at our [Bundling guide](https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/Bundling.md)?

[2020-05-12 23:15] jeremymeng commented on #8869
`RestError` is the type to use here.  Note that `statusCode` could be `undefined`.

No, this question looks unrelated.

[2020-05-12 23:33] joheredi opened #8881 "[core-http] Allow defining multiple error responses for Operations"
**Is your feature request related to a problem? Please describe.**
Currently, when using sendOperationRequest, the operationSpec can only define a generic error under the `default` response code.

With this approach, the user is limited to a single shape of Error.

Instead if we allow to pass different error response definitions to the operationSpec we could throw an error with different shapes fo

[2020-05-13 01:08] HarshaNalluru commented on #3762
@dlukianenko, thanks for the sample, I was able to repro the issue.
The problem here is that the provided receive mode in your sample code is invalid.

The receive mode should have been
`ReceiveMode.receiveAndDelete` instead of `ReceiveMode.ReceiveAndDelete`.
(Lowercase vs Uppercase)

`@azure/service-bus` library defaults the receive mode to `ReceiveMode.peekLock` if the provided receive mode is n

[2020-05-13 01:08] #3762 closed

[2020-05-13 01:20] HarshaNalluru commented on #8693
#8772

[2020-05-13 01:20] #8693 closed

[2020-05-13 01:24] ramya-rao-a commented on #7720
Done with #8682

[2020-05-13 01:24] #7720 closed

[2020-05-13 01:26] HarshaNalluru commented on #8166
#8685

[2020-05-13 01:26] #8166 closed

[2020-05-13 01:38] ramya-rao-a commented on #8421
Fixed with #8693 8882

[2020-05-13 01:38] #8421 closed

[2020-05-13 02:50] ramya-rao-a commented on #8567
This is now resolved with #8637

Quoting @chradek's comments from the PR:

The _sizeInBytes and event counts matched exactly in both.
The total time to add events dropped drastically (from 30404 ms to 68 ms in this test).

[2020-05-13 06:17] HarshaNalluru commented on #1389
I could observe some differences with a sample code similar to the one posted in the above comments.

Avg. time taken to receive the 1000 messages is as follows.
- When the `maxConcurrentCalls` is not set
  - receive:  71856.105ms - for peekLock
  - receive: 171870.294ms - for receiveAndDelete
- When the `maxConcurrentCalls = 100`
  - receive:   1594.064ms - for peekLock
  - receive:   6912.411ms

[2020-05-13 16:47] Nurchik opened #8903 "Content-Length isn't sent for default node http client"
- **Package Name - Azure Storage Blob client library for JavaScript [@azure/storage-blob](https://www.npmjs.com/package/@azure/storage-blob)**
- **Package Version- 12.1.1**
- **Operating system - OS X 10.15.3**
- [ ] **nodejs**
    - **version - v12.13.0**
- Bug is related to https://github.com/Azure/azure-sdk-for-js/pull/3273

**Describe the bug**
Because of the workaround for bug with axios http

[2020-05-13 18:53] princjef commented on #8445
This fix appears to have resolved the problem for us. Thanks for your work!

(cc: @sasathy1)

[2020-05-13 20:07] ramya-rao-a commented on #7689
Thanks for your patience @evandropomatti

We just released another update for the `@azure/service-bus` package with version 1.1.7 which should cover the problem you are seeing here. Checkout the [changelog for 1.1.7](https://github.com/Azure/azure-sdk-for-js/releases/tag/%40azure%2Fservice-bus_1.1.7) for more details.

Please give the latest version a try and let us know if you still see any issue

[2020-05-13 20:07] #7689 closed

[2020-05-13 20:08] ramya-rao-a commented on #7907
Thanks for your patience @MikkoSaarikko

We just released an update to the `@azure/service-bus` package with version 1.1.7 where this is fixed.

[2020-05-13 20:08] #7907 closed

[2020-05-13 20:09] ramya-rao-a commented on #8677
The latest update to the `@azure/service-bus` package with version 1.1.7 has the above doc changes

[2020-05-13 20:09] #8677 closed

[2020-05-13 20:13] ramya-rao-a commented on #8835
We have released an update to the `@azure/service-bus` package with version 1.1.7 where the `OperationTimeoutError` will not be considered as a retryable error.

For more, see the [changelog for 1.1.7](https://github.com/Azure/azure-sdk-for-js/releases/tag/%40azure%2Fservice-bus_1.1.7)

Based on your support ticket, it looks like there were service upgrades happening during this time. In another s

[2020-05-13 20:13] #8835 closed

[2020-05-13 20:14] ramya-rao-a commented on #8673
We have just released an update to the `@azure/service-bus` package where the min version of `rhea` has been updated to 1.0.21 so that any existing application upgrading to latest service bus package will get the latest rhea package as well.

Thanks for reporting @snuffykl!

[2020-05-13 20:39] jonathandturner commented on #8871
@aflinchb - I'm not sure what distro in WSL you're running. If it's Ubuntu, if you install `libsecret-1-0` and `libsecret-1-dev` and try again, can you get farther?

[2020-05-13 21:27] Connor-Wood commented on #8437
Not seeing these issues anymore with latest sdk

[2020-05-13 21:27] #8437 closed

[2020-05-13 21:59] evandropomatti commented on #7689
@ramya-rao-a I tested on **Ubuntu 20.04** and **Windows 10** and the client operation was maintained after connectivity loss. Great job team!

There's one more thing:

While testing (normal, no debug logs) I found one minor adjustment that the team might want to take a look at, while you're at it.

On Linux, when the connectivity is lost, a message error is printed from time to time. That's ok.

B

[2020-05-13 22:47] #7933 closed

[2020-05-13 22:48] jeremymeng commented on #7933
Fixed in #8802

[2020-05-14 04:12] richardpark-msft commented on #5486
Closing this. This has been released.

[2020-05-14 04:12] #5486 closed

[2020-05-14 04:37] richardpark-msft commented on #8764
Similar question being asked here: #8635

[2020-05-14 04:55] ramya-rao-a commented on #6349
@HarshaNalluru This may be related to #1389

[2020-05-14 05:29] kks010 commented on #8835
Thanks @ramya-rao-a

[2020-05-14 07:53] HarshaNalluru commented on #8672
![image](https://user-images.githubusercontent.com/10452642/81907767-21476880-957d-11ea-9712-61ce93f0f681.png)
Wrapping it with this if check seems to fix the issue.

[2020-05-14 07:57] NoelAbrahams commented on #8869
@jeremymeng `RestError` doesn't appear to be exposed by your library.

The problem is that TypeScript does not provide the type for error objects handled in `catch`.  So, this necessitates a type assertion.

And, yes, I understand that `statusCode` can be undefined if an error occurs before the HTTP request was received by the server.

[2020-05-14 08:12] jeremymeng commented on #8869
You can import it from @azure/core-http which is a dependency of the text analytics package.  It feels like for convenience we should re-export it from text analytics.

[2020-05-14 11:08] NoelAbrahams commented on #8869
Great, thanks. The following works:

[code]

I'm happy enough with that, so, feel free to close it. (You should also provide a `ConnectionError` type, which I couldn't find.)

[2020-05-14 17:06] #7243 closed

[2020-05-14 17:13] jeremymeng opened #8927 "[formrecognizer] Handle "failed" status consistently across LROs"
See: https://github.com/Azure/azure-sdk-for-net/issues/11473 and https://github.com/Azure/azure-sdk-for-python/issues/11323

We should consider having consistent behavior across all endpoints (always raise on a "failed" status) or decide if it makes sense to not throw exceptions specifically for training operations.

We don't raise on a "failed" status for training and instead return the model wit

[2020-05-14 17:44] willmtemple commented on #8869
We are put in a bit of a bind by the language here. Error handlers are untyped, so there is always an issue with discoverability of the error type, especially if it's something that we've abstracted into @azure/core. And I think it's made even worse by having a `TextAnalyticsError` exported from the index. CC @bterlson any ideas on how we can make these types discoverable? We could re-export `Rest

[2020-05-14 17:50] willmtemple commented on #8800
The sample.env files in samples/javascript and samples/typescript are shipped with the sample bundles. We can't remove them, as they have to be there for publication.

[2020-05-14 19:36] xirzec commented on #8869
Re-exporting `RestError` feels ok to me, so you don't have to worry about mismatches (e.g. you depend on two packages that use different core-http versions.)

The lack of error typing continues to be problematic in JS, I think the best we can do is document errors in reference docs as best we can. Maybe for RestError we should talk about it in some central markdown somewhere (e.g. in core-http) an

[2020-05-14 20:01] #8527 closed

[2020-05-14 20:45] HarshaNalluru commented on #1389
Tried rhea-promise with `peekLock` and `receiveAndDelete`. (Receiving 1000 messages)
<pre>
recvAndDel mode   -  42557.193ms
peekLock mode     -   1666.800ms
</pre>

`peekLock` is much faster than the `receiveAndDelete` mode.

Code

[code]

[2020-05-14 21:11] jeremymeng commented on #7243
Fixed in #8909

[2020-05-14 21:29] HarshaNalluru commented on #1389
**Python SDK results for comparison** (From @yunhaoling)

in python, the performance is **almost the same**

**link-credit to 1000:**
PeekLock: received 1000 msg in 0.36406946182250977s
ReceiveAndDelete: received 1000 msg in 0.2190256118774414s

**link-credit to 1: (receive one msg per call)**
PeekLock: received 1000 msg in 55.45851230621338s
ReceiveAndDelete: received 1000 msg in 55.2548618316650

[2020-05-14 21:36] sadasant opened #8934 "[KeyVault] Implement LROs for restore operations"
The Key Vault restore operations happen instantly if the resource that is being restore has not been recently deleted. The amount of time between the deletion of the resource and a successful restoration is of unknown or at least unreliable length. The restore operations can be made into Long Running Operation methods, like create, delete and recover, since any restore operation can be marked as c

[2020-05-14 21:47] sadasant commented on #8378
We have released a fix for this issue with the versions below:

- keyvault-certificates 4.0.1: https://www.npmjs.com/package/@azure/keyvault-certificates/v/4.0.1
- keyvault-keys 4.0.3: https://www.npmjs.com/package/@azure/keyvault-keys/v/4.0.3
- keyvault-secrets 4.0.3: https://www.npmjs.com/package/@azure/keyvault-secrets/v/4.0.3

[2020-05-14 23:58] #8461 closed

[2020-05-15 02:53] qiaozha commented on #8775
@wandrille-hubert  the new package is out there now. Please have a try to see if the issue has been resolved https://www.npmjs.com/package/@azure/arm-trafficmanager/v/5.0.0 Thanks.

[2020-05-15 04:33] XiaoningLiu commented on #8744
Hi, ToBlobEndpointHostMappings and ToDfsEndpointHostMappings are exported by @azure/storage-file-datalake package.

Please add following mapping into ToBlobEndpointHostMappings and try again.

[code]

@ljian3377 We need to add national clouds suffixes into the default values of ToBlobEndpointHostMappings and ToDfsEndpointHostMappings.

[2020-05-15 05:11] ljian3377 commented on #8744
@XiaoningLiu  Are we able to enumerate all the possible hosts in the map? Or is it better if we simply replace the `dfs` part with `blob`.

[2020-05-15 05:18] NaveenKY commented on #8499
@jeremymeng As i see you had re-opened this issue, is it still not fixed?

[2020-05-15 09:42] ljian3377 commented on #8903
Sorry, I can not reproduce the issue with the snippet you provided. If you are using the SDK's default http client, it shouldn't have failed as node-fetch will add the 'Content-Length' header back.
https://github.com/node-fetch/node-fetch/blob/0936a9af0a049eb05897779f3f0df6b903a95d60/src/request.js#L237

Also we have plenty of tests covering this scenario.
So what we are missing here? Could it be

[2020-05-15 12:49] anthonyvercolano commented on #8785
@jiacfan

Is the master branch of storage-blob in a state that it is not suitable for release?

When I hear that the June release of storage-blob will include several new features, I fear that a problem with any those new features would further delay the release of storage-blob.

Storage-blob is downloaded 73000 per week.  That means 73000 times a user gets to see the depreciation warnings.

While

[2020-05-15 15:43] glennmusa commented on #8744
Thanks for pointing that out @XiaoningLiu. This works.

We'll use this method for now and will keep an eye out for the implementation that includes the national cloud suffixes.

Appreciate the help @XiaoningLiu, @ljian3377, and @isamllr!

[2020-05-15 15:56] glennmusa commented on #8744
I know of these three:

*.blob.core.usgovcloudapi.net
*.blob.core.chinacloudapi.cn
*.blob.core.cloudapi.de

[2020-05-15 16:08] jeremymeng opened #8942 "[FormRecognizer] Need to escape SPACE etc for url parameter in recognizeXxxxFromUrl() methods"
When the argument passed to url parameter contains SPACE it cause a 400 error from the service: "(1003) Parameter 'Source' is not a valid Uri."

Related issue https://github.com/Azure/azure-sdk-for-net/issues/11564

[2020-05-15 16:12] jeremymeng commented on #8499
It's fixed but I'd like to keep the issue open until we release a version that contains the fix.

BTW you can also try out our dev version from npmjs.  Currently it is at [v12.1.0-dev.20200507.1](https://www.npmjs.com/package/@azure/storage-file-datalake/v/12.1.0-dev.20200507.1)
[code]

[2020-05-15 16:54] jeremymeng opened #8943 "[FormRecognizer] add tests using Azure AD credential"

[2020-05-15 17:02] joheredi opened #8944 "[Tables] Get familiar with Azure Tables"
- [x] Explore Service Documentation
      - Azure Table storage overview ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-overview ))
      - Introduction to Table storage in Azure ([link](https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-overview ))
- [x] Review Existing SDKs ([link](https://github.com/Azure/azure-storage-node))
- [x] Review existing sample

[2020-05-15 17:09] joheredi opened #8945 "[Tables] Get familiar with Code gen"
- [x] Explore Autorest and Autorest.Typescript repo ([link](https://github.com/Azure/autorest.typescript/tree/v6))
- [x] Generate Azure Tables SDK using Autorest.Typescript
   - Instructions ([link](https://github.com/Azure/autorest.typescript/wiki/Generating-with-autorest-for-Typescript-v6))
   - Azure Tables Swagger ([link](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/

[2020-05-15 17:11] joheredi opened #8946 "[Tables] Create a sample NodeJs app that calls Azure Tables"
After generating Azure Tables SDK, write a NodeJS app using make a simple call. i.e. Insert, using the generated sdk.

[2020-05-15 17:19] joheredi commented on #7869
@ebower12 we've released a new version of @azure/ms-rest-js (2.0.7) with the fix for this issue. Can you please run npm install and verify if your problem is fixed?

[2020-05-15 18:14] joheredi commented on #4290
@ramya-rao-a I have reviewed the snippets. They are valid, just needed a few missing imports, included these changes in PR#8380

[2020-05-15 18:28] ramya-rao-a commented on #4290
Thanks @joheredi!

[2020-05-15 18:28] #4290 closed

[2020-05-15 19:06] jeremymeng commented on #8459
Fixed in #8803

[2020-05-15 19:07] #8459 closed

[2020-05-15 19:55] NoelAbrahams commented on #8869
TS have refused to type the error object because in JS it's possible to throw _anything_ as an error. So, allowing the catch statement to be typed would be misleading.

Library owners (such as your esteemed selves) can provide some help here by allowing clients to filter the list of possible errors that could be thrown.

Eg

[code]

TypeScript would also play along nicely if `AzureError` is set up

[2020-05-15 20:23] bterlson commented on #8869
+1 for re-exporting RestError. Storage is already doing this too for the record, probably others as well. Importing from core-* shouldn't be on the happy path for any important scenarios 😀

@NoelAbrahams another approach I've considered, curious what you think: exporting custom type guards like `isRestError`, `isTextAnalyticsError`, etc., so you can do:

[code]

Do you prefer one or the other appr

[2020-05-15 20:38] aeisenberg opened #8950 "Authentication is throttled when concurrently uploading a large file and several smaller ones"
- **Package Name**:  @azure/storage-blob
- **Package Version**: 12.1.1
- **Operating system**: Ubuntu
- [x] **nodejs**
    - **version**: 12.9
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.8
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2020-05-15 23:18] jeremymeng opened #8953 "[Cosmos] user agent string doesn't follow guideline"
Currently its format is `azure-cosmos-js/<version>`.  [The guideline](https://azure.github.io/azure-sdk/general_azurecore.html#telemetry-policy) suggests

 `[<application_id> ]azsdk-<sdk_language>-<package_name>/<package_version> <platform_info>`

Also for browser, we should use the `x-ms-useragent` header key. See https://github.com/Azure/azure-sdk-for-js/issues/6530.

[2020-05-16 00:29] jeremymeng commented on #8950
@aeisenberg looks like you are using DefaultAzureCredential? Would it be possible for you to test using StorageSharedKeyCredential to see whether the issue repros?

[2020-05-16 02:58] jeremymeng commented on #8942
Or document that users must encode url before passing it to us.

[2020-05-16 16:02] aeisenberg commented on #8950
Thanks. We'll look at this.

[2020-05-16 16:14] devigned commented on #8950
Why would the the `DefaultAzureCredential` not work? Seems like this is a pretty default case.

[2020-05-16 16:30] devigned commented on #8950
Welp, it seems that IMDS only supports 5 queries per second and the `ManagedIdentityCredential` doesn't handle 429s.

Per [IMDS docs](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#error).

[Further guidance states that a IMDS client should follow exponential backoff in the face of 429s](https://docs.microsoft.com/en-us/azure/active-directory/managed-iden

[2020-05-16 16:39] aeisenberg commented on #8950
Hmmm...that's pretty low. Thanks for pointing it out. So, we would expect that using a concurrency level of > 5 would _always_ fail. Perhaps this is something good to mention in the docs.

[2020-05-16 17:06] devigned commented on #8950
@aeisenberg I’m guessing this was an oversight in implementation. The error should be transient, so a simple retry in the ManagedIdentityCredential would probably solve the problem.

Might be a nice contribution if you feel like opening a PR.

[2020-05-16 18:33] ramya-rao-a commented on #8950
Thanks @devigned

@jeremymeng Would tweaking the retry options when creating the credential help based on the above comment from @devigned ?

Going by https://github.com/covid-modeling/model-runner/issues/32#issuecomment-629684698, it looks like we should rather look into why the token is not being cached

cc @jonathandturner to look into this from the credential side

[2020-05-16 18:37] ramya-rao-a commented on #8953
cc @bterlson

[2020-05-16 22:51] jeremymeng commented on #8950
Our throttlingRetryPolicy handles 429 but only retries once and there's a way to configure it.

[2020-05-17 01:59] JJ11teen opened #8961 "Cognitive Services Speech Service"
Hey Team,

Just wondering if the plan is to bring the speech services sdk (currently here: https://github.com/microsoft/cognitive-services-speech-sdk-js) into this new azure-sdk-for-js? And if so what the timeline for it might look like?

Thanks :)

[2020-05-17 02:06] jeremymeng commented on #8950
Sorry typo. There isn't a way to configure it. Throttling retry policy doesn't do exponential backoff retry.

[2020-05-17 02:12] ramya-rao-a commented on #8950
Thanks @jeremymeng, so am guessing this means that our normal retry policy does not treat 429 as retryable, and that the throttling retry policy retries only once?

@devigned,
I looked into token caching, and we do cache the access token and re-use it for subsequent calls.

@aeisenberg, as a workaround for now, can you try doing 1 upload first, and then do your 9 concurrent uploads after the first

[2020-05-17 16:15] aeisenberg commented on #8950
That would be an easy enough to do. Thanks for the suggestion, @ramya-rao-a. To be clear though, we’re only uploading 4 files and it’s because one of them is >250mb that the library automatically enables chunking the request that we hit the limit.

I can look for the smallest file to upload first and then upload the remainder when it’s complete.

[2020-05-17 20:16] jeremymeng commented on #8950
Correct.

Good point! The first call to use MSI credential can be other methods too, for example, `getProperties()`, if it keeps the upload logic simpler.

[2020-05-17 22:27] whakomatic opened #8965 "context.bindingData gives incorrect value"
for a Javascript Azure Function using a route
context.bindingData gives incorrect value when it is a passed a 0
(this is not solved by a type constraint on the route, see below)

+ working route binding
/myfunction/1/2

context.bindingData.param1
=> 1

context.bindingData.param2
=> 2

+ bad route binding
/myfunction/0/2

context.bindingData.param1
=> { string: '0', data: 'string' }

context.bindin

[2020-05-17 22:29] ramya-rao-a commented on #8961
Thanks for the question @JJ11teen
@loarabia Can you share any insights here?

[2020-05-18 01:59] jiacfan commented on #8950
Thanks @jeremymeng, for long term, is there plan to support configuring the [throttlingRetryPolicy](https://github.com/Azure/azure-sdk-for-js/blob/4555a454b5effde0d7e52b39e6b4996861c4d8d1/sdk/core/core-http/src/policies/throttlingRetryPolicy.ts)?
And an suggestion for token refresh scenario in short term and long term? Where the event to trigger refresh might be the expiration(or close to expirati

[2020-05-18 03:12] ramya-rao-a commented on #8672
I believe this needs more investigation.

`removeAllListeners` is not the only function being called on the socket in rhea which is not available in [WebSocket](https://developer.mozilla.org/en-US/docs/Web/API/WebSocket). You can see the below usage
[code]

So, how is it that we don't see errors due to any of the above?

[2020-05-18 06:30] jeremymeng commented on #8950
@jonathandturner can probably answer this better.

[2020-05-18 14:50] ebower12 commented on #7869
@joheredi thanks for the update. We don't actually import the `@azure/ms-rest-js` library itself, but it's used indirectly by the `@azure/arm-sql` library. Has that been updated to use the latest version of the ms-rest-js library to resolve this issue.?

[2020-05-18 15:02] southpolesteve commented on #8953
I'll need to sync with some other Cosmos people before making this change. We will likely need a backend change to accommodate CORS.

[2020-05-18 15:20] wandrille-hubert commented on #8775
@qiaozha awesome!  just tested it out and issue has been resolved.  thanks!

[2020-05-18 15:20] #8775 closed

[2020-05-18 16:34] ramya-rao-a commented on #8965
@whakomatic This repository is for JavaScript Azure SDKs. The issue you are seeing is Azure functions related and this is not the right home for related issues unless you are having problems with a particular Azure SDK in the Azure function.

Can you provide more details so that we can route you appropriately?

[2020-05-18 16:37] NoelAbrahams commented on #8869
@bterlson that should also work. I see a couple of advantages to using the Discriminated Union and the switch statement:

* The client (that's us) only needs to know the members of the `AzureErrorType` enum. We don't need to know of the existence of custom type guards — although I suppose you could define them all in one place.
* The discriminated union approach could permit exhaustiveness checks.

[2020-05-18 16:39] sadasant opened #8972 "[core-http] Re-enable no-prototype-builtins lint rule"
We've disabled the ESLint rule `no-prototype-builtins` in `azure/core-http` to minimize the changes in this PR: https://github.com/Azure/azure-sdk-for-js/pull/8687 This rule should be re-enabled, and the code breaking this rule should be changed.

For more context, please refer to this conversation: https://github.com/Azure/azure-sdk-for-js/pull/8687#discussion_r419804252

[2020-05-18 16:39] loarabia commented on #8961
@JJ11teen our plan is to hit most azure services as quickly as we can while ensuring high quality.

Speech is a team we've started discussions with but we have a bit of work to do with them before we can update their library to follow the guidelines and API designs we believe in. They have brought some new scenarios we need to work through API designs for as well as a different architecture in the

[2020-05-18 16:42] sadasant opened #8973 "[core-http] Remove unused functions"
As Jeff pointed out here: https://github.com/Azure/azure-sdk-for-js/pull/8687#discussion_r419807218 there are occurrences of unused functions in core-http. We study see what can be safely removed.

[2020-05-18 16:58] joheredi commented on #7869
@ebower12, since `@azure/arm-sql` has a dependency on `@azure/ms-rest-js@^2.0.4`, **npm install** would pull the latest version (2.0.7).

Please give it a try and let us know if you face any issues.

[2020-05-18 17:22] ebower12 commented on #7869
@joheredi after installing the latest versions it appears the issue is resolved! Thanks for you help, I'll close this issue.

[2020-05-18 20:03] karladler opened #8979 "Why there is no StorageSharedKeyCredential.fromConnectionString method?"
**Is your feature request related to a problem? Please describe.**
when I want to init `StorageSharedKeyCredential` I need to pass account name and key separately while I already use the connectionString in my other functions. So I wonder, why I would need to set redundant environment variables just to use this.

**Describe the solution you'd like**
There seems to be already an implementation in t

[2020-05-18 20:28] wandrille-hubert opened #8981 "TrafficManager Endpoint Type For Update/Create Functions"
**Is your feature request related to a problem? Please describe.**
In the trafficmanager endpoints.update and endpoints.createorupdate functions, it requires an endpointType.  However, it only works when only the name part of the endpoint type is given, and does not work when the full type is given.  To provide an example, if you pass in "externalEndpoints" for the endpointType, then it works.  Ho

[2020-05-18 20:35] jeremymeng commented on #8942
from @mikeharder

[1:08 PM] Mike Harder
    The questions is whether your language wants to automatically try to "smart escape" URLs.
​[1:09 PM] Mike Harder
    Python decided "no", I think because their HTTP transport is pluggable and there is no one standard for how to "smart escape", so anything they choose would be arbitrary and may not match some customers expectations.
​[1:09 PM] Mike Harder

[2020-05-18 20:40] jeremymeng opened #8982 "Error when following the Rollup section in bundling guide"
If this is not a product issue we will then need to update doc to have working steps

[code]

[2020-05-18 21:15] chradek commented on #8672
`rhea` has it's own wrapper around websockets:
https://github.com/amqp/rhea/blob/master/lib/ws.js

The interface that it interacts with after connecting has:
- end
- write
- on
- get_id_string

Link: (https://github.com/amqp/rhea/blob/1f4d279bbf05357df44a1d0a3ce962e9a95cdc1f/lib/ws.js#L38-L60)

I think this would be the place to add `removeAllListeners`, even if it is just a no-op.

Alternatively,

[2020-05-18 21:47] whakomatic commented on #8965
Ok, I will try and find a different one of the 1300 Azure repositories to post this.

[2020-05-18 21:47] #8965 closed

[2020-05-18 21:48] heaths opened #8984 "Search model renames"
There are a few more renames to make. But not just renames: the "V2" models should be collapsed with their v1 (no suffix, that is) counterparts and original `@odata.type` retained for round-tripping. When new ones are created, the "V2" equivalent should always be created because the v1s will cause the service to fail when using the new api-version.

Old name | New name | Notes
--- | --- | ---
Edge

[2020-05-18 21:55] heaths opened #8986 "Refactor SearchServiceClient into SearchIndexClient and SearchIndexerClient"
To avoid too many methods in `SearchServiceClient`, we will refactor it into two separate clients that group the functionality into index management, and skillsets (enrichments) management. Method names will retain their names they have today, like `CreateIndex`, `DeleteIndex`, `CreateDataSource`, `DeleteDataSource`, etc. This also means there should be the `GetServiceStatistics` like we should ha

[2020-05-18 22:08] heaths opened #8987 "Split searchindex.json and searchservice.json models and operations into separate namespaces"
Models and operations in searchindex.json shoud go into namespaces like so (adjusted for your language):

* Azure.Search.Documents (SearchClient, SearchClientOptions)
* Azure.Search.Documents.Models

Models and operations in searchservice.json should go into namespaces like so (adjusted for your language):

* Azure.Search.Documents.Indexes (SearchIndexClient, SearchIndexerClient)
* Azure.Search.Do

[2020-05-18 23:18] jeremymeng opened #8991 "[core] allow cofiguring throttlingRetryPolicy max retries"
~Should we support exponential backoff retry for throttlingRetryPolicy?~

~Or we might just merge 429 to the retriable status codes in exponentialRetryPolicy and remove throttlingRetryPolicy. Note current throttlingRetryPolicy supports custom handler though so users could provide their own retry logic.~

~We should allow multiple retries for 429 by porting https://github.com/Azure/ms-rest-js/pull/

[2020-05-18 23:30] jeremymeng opened #8992 "[identity] Managed identity credential parallel initial requests throttled"
The parallel uploading feature in Storage makes this easy to repro, but this issue seem generic to other libraries too if they sends the initial request concurrently.

So the problem is that when `blobClient.uploadFile()` is called on a big file (> 256 MB), the client library split the files into chunks and by default do `stageBlock()` with 5 concurrent requests.  Since they are all using the cred

[2020-05-18 23:50] ramya-rao-a commented on #8965
You can also provide some more details so that we can help you to find the right repository :)
For example, you share what triggers are you using or share the source code so that we can try and repro it etc.

[2020-05-18 23:58] ramya-rao-a commented on #8672
Thanks for the link to the wrapper @chradek!

Adding `removeAllListeners` as a no-op might not be agreeable for rhea, because then they would have done the same for the below instead of the `if` check
- [setNoDelay](https://github.com/amqp/rhea/blob/7a69a74672cf4ce862a2c9f4a8b7f59dbbc0d81a/lib/connection.js#L357-L359)
- [getPeerCertificate](https://github.com/amqp/rhea/blob/7a69a74672cf4ce862a2c9f

[2020-05-19 00:29] jeremymeng commented on #8950
I logged the following issue to follow up
- #8991 for throttlingRetryPolicy configuration
- #8992 for potential improvement in MSI credential

[2020-05-19 04:36] jeremymeng commented on #8979
@karladler you can pass connection strings to container/blob clients' constructors. Are there other things you do with the shared key credentials?

[2020-05-19 06:27] dw511214992 commented on #7989
Thank you @aiwilliams for your information. Will involve service team to check if service can return a time.

[2020-05-19 09:06] jiacfan commented on #8982
Hey, @jeremymeng, do you know if anyone will help to take a look on this? This might block newly released packages(using latest @azure\core-tracing) to be bundled with roll up.

[2020-05-19 10:10] karladler commented on #8979
okay, maybe I got it totally wrong ... my actual goal was to generate an SAS for a file I uploaded using the SDK. So the use case is:

1. backend uploads file, get some ID
2. backend stores the ID in DB
3. user requests file link: we generate a signed Link to the file and send it back
4. user receives the link and can load the file in the browser as long as the link is valid

Maybe I'm in the wron

[2020-05-19 10:23] tomi opened #9005 "Keyvault-Secrets: Request is missing a Bearer or PoP token error after upgrading to 4.0.3"
- **Package Name**: @azure/keyvault-secrets
- **Package Version**: 4.0.3
- **Operating system**: node:12.15-slim docker image
- [x] **nodejs**
    - **version**: 12.15
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 3.8.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.

[2020-05-19 10:24] dzmitryieu opened #9006 "How can I get credentials from SASKey?"
Hi! I'm trying to create instance of Subscriptions class from '@azure/arm-servicebus' to be able to manage subscriptions from node.
To create serviceBusManagementClientContext I need to pass as one of the arguments ServiceClientCredentials.
I have only SASKey and SASKeyName.
Is there any chances to get token or credentials directly using some of SDK's methods.
Thanks!

[2020-05-19 14:32] jeremymeng commented on #8982
This is a doc issue. Our broewser tests are bundled correctly. We are missing the cjs named exports for opentelemetry. I will summit a PR to the bundling guide.

[2020-05-19 15:09] jeremymeng commented on #8979
That is a scenario that comes up a couple of times in our internal discussions. We have #7765 tracking the work to make it easier to generate SAS tokens from clients. Although before that feature lands, yes currently you have to use the credential to generate the SAS query parameters.

I remember there was a desire to discourage using connection strings (one reason being that it may contain more t

[2020-05-19 15:16] jeremymeng commented on #8982
PR #9008

[2020-05-19 15:50] southpolesteve commented on #8953
cc @zfoster

[2020-05-19 16:44] dougmolineux opened #9009 "createSubscriptionClient() should throw error when subscription doesn't exist"
**Is your feature request related to a problem? Please describe.**
We had a subscription "expire" after 14 days, and couldn't figure out why. I would have thought that it would be useful for people to get an error when attempting to connect to a subscription that doesn't exist.

**Describe the solution you'd like**
[code]
This could throw an error, or even
[code]
This could throw one.

**Describe

[2020-05-19 18:16] ramya-rao-a commented on #9006
Hello @dzmitryieu

The `@azure/arm-servicebus` package uses ARM i.e [Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/overview) which can be authenticated using [Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-whatis) and not via SAS keys.

You will need to use the `@azure/ms-rest-nodeauth

[2020-05-19 18:17] #9006 closed

[2020-05-19 18:24] ramya-rao-a commented on #8991
cc @bterlson, @xirzec

[2020-05-19 18:31] sadasant commented on #9005
@tomi Thank you so much, I will be working on this today.

[2020-05-19 18:35] daviwil commented on #8992
I think we could store promises in the cache so that once the first request kicks off auth, a promise will be inserted that can be awaited by any other requests that come in while the original token request is still out.  That way the whole process is transparent to all API requests that need a token.

[2020-05-19 18:54] xirzec commented on #8991
I thought the purpose of throttling retry policy was that the service provided a retry-after header?

[2020-05-19 18:58] sarangan12 opened #9011 "ListSkillsets must take a select parameter in search documents"
In search-documents, the ListSkillSets operation must take a select parameter. Please fix the code.

[2020-05-19 19:14] sarangan12 commented on #9011
Code merged. Closing the issue

[2020-05-19 19:14] #9011 closed

[2020-05-19 19:28] kwontae commented on #8873
Will do! Thank you

[2020-05-19 19:31] aeisenberg commented on #8950
@jeremymeng, I tried your suggestion of initializing the auth by calling `getProperties()` before uploading and it is working for me! Thanks for your suggestion.

I'm happy with this workaround right now, but if you want me to try out something else, let me know.

[2020-05-19 19:44] kwontae commented on #8873
Another question. I found that with the consumer client, it takes a few minutes until the messages are consumed.  I've followed the example at the very bottom of the migration doc and it seems like at the subscribing & processing events section it takes a while until the events are processed. Any thoughts?

[2020-05-19 19:53] ramya-rao-a commented on #8873
@chradek should be able to answer your question

Meanwhile, can you share which overload of `subscribe()` method did you use? The one that takes a partitionId or the one that gives you events from all partitions? How many partitions do you have?

[2020-05-19 20:10] #8982 closed

[2020-05-19 20:12] kwontae commented on #8873
We are using the subscribe method that gives events from all partitions. 32 partitions and currently just single processor application. I know that from my experience with python sdk, load balancing partitions takes a few seconds, but never came across this cold start time prior to start of receiving events

[2020-05-19 20:22] #7670 closed

[2020-05-19 20:42] sarangan12 opened #9014 "Change SearchIndexClient to SearchClient"
In search-documents, Currently we have ```SearchIndexClient``` & ```SearchServiceClient```. This must be changed to ```SearchClient``` & ```SearchServiceClient```.

Once that change is completed, we can perform further refactorings mentioned in https://github.com/Azure/azure-sdk-for-js/issues/8986

This task is related to https://github.com/Azure/azure-sdk-for-js/issues/7166

[2020-05-19 20:56] kwontae commented on #8873
We are also not setting a batch size and I think the default is set to 1?
@chradek

[2020-05-19 22:03] sarangan12 commented on #9014
Task Completed

[2020-05-19 22:03] #9014 closed

[2020-05-19 22:48] ramya-rao-a commented on #9009
The `createSubscriptionClient` wouldnt throw an error as creating the client does not involve making any connection to the service. But, calling any methods on it like you did for `peek()` should have thrown an error.

We do have tests for this in case of non existing entities, see https://github.com/Azure/azure-sdk-for-js/blob/%40azure/service-bus_1.1.7/sdk/servicebus/service-bus/test/serviceBusC

[2020-05-19 22:48] chradek commented on #8873
@kwontae Are you using a [CheckpointStore](https://docs.microsoft.com/en-us/javascript/api/@azure/event-hubs/eventhubconsumerclient?view=azure-node-latest#eventhubconsumerclient-string--string--string--tokencredential--checkpointstore--eventhubclientoptions-) when instantiating your `EventHubConsumerClient`? The EventHubConsumerClient should attempt to grab all partitions as fast as it can if ther

[2020-05-19 22:57] HarshaNalluru opened #9017 "[Event Hubs v6] Allow retryTimeout lesser than 60 seconds"
Reference - https://github.com/Azure/azure-sdk-for-js/pull/8805
Pick up the changes from the above PR for service-bus, update event-hubs accordingly for the next major release.

[2020-05-19 23:02] kwontae commented on #8873
Yes we are using a CheckpointStore

[2020-05-19 23:03] kwontae commented on #8873
So the theory is that because we are using CheckpointStore, and the messages are being pushed to a partition 32 so it takes about ~320 seconds to claim?

[2020-05-19 23:07] chradek commented on #8873
@kwontae Correct. Currently if you had a single EventHubConsumerClient, and 32 partitions, it should take ~320 seconds to claim all partitions. You should start receiving events sooner than that though, since as soon as a partition is claimed (every ~10 seconds) you can start receiving events from that partition.

[2020-05-20 01:35] kwontae commented on #8873
Hmm yeah. that's what I'm expecting as well, but doesn't seem to be the case here... So a few more things.
1. Do I need to have a promise like in the example so it closes after a certain timeout?
2. Process event is triggered when there is an incoming event to be ingested therefore the events in the example `for(const event of events)`  will never be empty when triggered?
3. Do we not have to set

[2020-05-20 01:58] kwontae commented on #8873
Getting this error when I run the example without the promise statement.
![image](https://user-images.githubusercontent.com/24832412/82396415-b1186700-9a02-11ea-813e-f12b5b88a535.png)

[2020-05-20 02:23] kwontae commented on #8873
I see the issue occurs when it is claiming a partition without an event... which makes sense because if the events [] is empty, there won't be an event with the sequence number property therefore it throws an error when checkpointing. My understanding was that processEvent is only triggered when there is an event available for consumption upon partition claim.

[2020-05-20 02:30] chradek commented on #8873
@kwontae

I think you're referring to this piece:
https://github.com/Azure/azure-sdk-for-js/blob/4997350aa3ed80ea472fe7daed20ba95ec638010/sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsUsingCheckpointStore.ts#L70-L78

No, you don't need to close the subscription/client unless you don't want to receive any new messages. For the purpose of the sample, that's just in

[2020-05-20 02:36] kwontae commented on #8873
So in the example of using this with a checkpoint store, i see that the example has a try catch block where we try to `updateCheckpoint(events[events.length - 1])` This would be an issue if this is called with an empty events. We should probably have an if else statement to catch this edge case so it doesn't call updateCheckpoint on an empty events array. Shouldn't this be captured in the Doc?

[2020-05-20 04:08] dresch86 opened #9020 "[KeyVault] Can't Disable Old Certificate Version"
- @azure/keyvault-certificates:
- 4.0.3:
- Ubuntu 18.04:
- NodeJS 12.16.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The NodeJS API always returns "Nothing to update" even though the old certificate version is still enabled.

[code]
**To Reproduce**
Steps to reproduce the

[2020-05-20 04:57] HarshaNalluru commented on #9009
@dougmolineux, If the subscription is created in the azure portal, the "Auto delete on idle" property is set to 14 days by default which is probably why the subscription was expired after 14 days. (Inactivity)

![image](https://user-images.githubusercontent.com/10452642/82405572-2858f580-9a19-11ea-8f51-24a7c97e7b8a.png)
You are allowed to pick a higher value or even check "Never auto-delete".

---

[2020-05-20 05:57] ramya-rao-a commented on #8950
Thats good to hear @aeisenberg

We will close this issue and follow up in the 2 issues @jeremymeng logged above to see how we can improve. We will get back here if there are any other things we would want you to try out.

[2020-05-20 05:57] #8950 closed

[2020-05-20 06:11] HarshaNalluru commented on #9009
Thoughts and followup questions.. @dougmolineux,
- You've mentioned that you've haven't seen an error, does it mean the `peek` call returned with zero messages? Do you corresponding logs so that it would help us understand better?
- Do you think it is possible that when your code was executed, the subscription did exist, but when the portal was checked at a later point of time, the subscription ex

[2020-05-20 08:32] sarangan12 opened #9023 "Add delete methods with model as parameter"
In search-documents SDK, currently all the delete models get the name of the model as a parameter. Per the SDK design guidelines, the delete models should also get the model as one of the input parameter.

Once this issue is resolved, https://github.com/Azure/azure-sdk-for-js/issues/8517 can be worked.

This is related to https://github.com/Azure/azure-sdk-for-js/issues/7166

[2020-05-20 09:57] vjrantal opened #9025 "[Cosmos] Improve bulk insert performance with the latest SDK version"
**Is your feature request related to a problem? Please describe.**

While benchmarking bulk insert performance with a [test app](https://github.com/vjrantal/cosmos-typescript-bulk-import-throughput-optimizer), it was identified that there might be possibility for performance improvements with the latest SDK version.

A test showed that with version `2.0.1` of `@azure/cosmos` it was possible to ins

[2020-05-20 16:58] sadasant opened #9028 "[storage] Fix typos on the swagger spec"
Hi! This is just to keep track of the typos that need to be fixed in the storage swagger spec. More context at: https://github.com/Azure/azure-sdk-for-js/pull/8963#discussion_r427783749

[2020-05-20 17:18] jeremymeng opened #9029 "[FormRecognizer] move to getRecognizerClient() on training client"
remove getTrainingClient() on recognizer client

[2020-05-20 17:21] jeremymeng opened #9030 "[FormRecognizer] Release track 2 preview 4"

[2020-05-20 17:31] sadasant opened #9031 "[core-amqp v2] Address satusDescription"
Hi! This is a reminder that we need to work on a solution to the `CbsResponse`'s `satusDescription` typo.

For more context and ideas of how to move forward, you can go here: https://github.com/Azure/azure-sdk-for-js/pull/8956#discussion_r427696906

[2020-05-20 17:39] southpolesteve commented on #9025
Thanks, @vjrantal. We'll be investigating this as part of our upcoming bulk/batch work

[2020-05-20 19:31] sadasant opened #9033 "[KeyVault] Mention that the libraries are not ready to work on the browsers"
Even though we build and test everything in the browser, KeyVault currently doesn't provide browser-friendly authentication methods. This should be clearly stated in the README.

[2020-05-20 21:38] heaths opened #9037 "More Search renames"
Based on UX studies, please make the following changes as well:

Old name | New name | Notes
--- | --- | ---
SearchIndexerDataSource | SearchIndexerDataSourceConnection
SearchField.SynonymMaps | SearchField.SynonymMapNames | For dynamic languages with union support, you could instead accept either a string or object and, if an object that is a SynonymMap, extract it's name. But it's not always pra

[2020-05-20 21:59] hsheikhali opened #9038 "Create storage accounts"
**Is your feature request related to a problem? Please describe.**
I am not sure exactly how do to this. Every resource I reference walks me through creating storage accounts in the azure portal. The project I am working on requires me to create a storage account programmatically then create two containers within that storage account. I can do this using powershell but why not Python or NodeJS?

*

[2020-05-21 00:08] veeresh-work opened #9042 "Unable to open the amqp connection "connection-2" due to operation timeout"
@ramya-rao-a

- **Package Name**: "@azure/service-bus":
- **Package Version**:  "1.1.7" ,  "1.1.6",  "1.1.5"
- **Operating system**: centOS
- [y] **nodejs** yes
    - **version**:  v10.20.2

**Describe the bug**
Every now and then we are not able to push the message to the queue. The same code works other times. When we do bump into this issue, even the retry fails. For the retry we create a new s

[2020-05-21 00:45] ramya-rao-a commented on #9042
Thanks for reporting @veeresh-work

The logs clearly show that every attempt to make a connection to the service is failing with the timeout error.

It could be possible that the service has been down or being upgraded during these times. Can you check the activity logs in the portal for any signs for such an activity? You can also log a support ticket via the portal to get help in figuring out wh

[2020-05-21 00:57] jeremymeng commented on #8991
I have the exact the same thought. Just want to ensure we have discussions on whether there are any improvements we could do.

[2020-05-21 01:12] veeresh-work commented on #9042
@ramya-rao-a : Thanks for looking into this. Its very unlikely that the service-bus itself is down at that time. Even in the logs (towards the end) you will notice the same worker was able to receive a message.

This issue is happening quite regularly, atleast couple of times in a day. While one worker experiences this issue, the other workers continue to send and receive message without any issue

[2020-05-21 02:01] sarangan12 commented on #9023
Code completed

[2020-05-21 02:01] #9023 closed

[2020-05-21 02:02] sarangan12 commented on #8784
Code completed

[2020-05-21 02:02] #8784 closed

[2020-05-21 02:02] sarangan12 commented on #8986
Code completed

[2020-05-21 02:02] #8986 closed

[2020-05-21 03:37] #4282 closed

[2020-05-21 03:37] KarishmaGhiya commented on #4282
solved this with #9043

[2020-05-21 04:36] mikeharder opened #9048 "Re-enable package diff"
Package diff was disabled in #6363.  It should be re-enabled to help validate changes to update dependencies.

[2020-05-21 05:00] mikeharder opened #9050 "Upgrade to eslint 7.0.0"
ESLint v7.0.0 has [released](https://eslint.org/blog/2020/05/eslint-v7.0.0-released).  Now that we are only using Node 8 for testing (not building), we should be able to upgrade.

[2020-05-21 06:48] sarangan12 commented on #8383
Model | Property | Proposal | Notes
--- | --- | --- | ---
Analyzer | | LexicalAnalyzer
AnalyzerName | | LexicalAnalyzerName
AzureActiveDirectoryApplicationCredentials | | *remove* | Just uplift ApplicationId and ApplicationSecret to SearchIndexEncryptionKey
DataContainer | | SearchIndexerDataContainer
DataSource | | SearchIndexerDataSource
DataSource | Credentials | ConnectionString (string) | See

[2020-05-21 07:32] ramya-rao-a commented on #9042
Do you see this issue only with the worker that sends messages to the queue or even with the one that is receiving the messages? Can you share the code snippet you are using to receive the messages?

We have a 60 second timeout when trying to establish a connection with the service. The send operation has retry policy which consists of 3 attempts each. Since you are using a new SB client, queue cl

[2020-05-21 10:12] sadasant opened #9058 "[KeyVault] Refactor the challenge based authentication"
The logic in the challenge based authentication could be improved.

Here's my interpretation of some feedback I received from Jeff:

[2020-05-21 10:28] sadasant commented on #9005
@tomi We're working on a solution for this. We appreciate your patience!

A draft of the solution can be seen here: https://github.com/Azure/azure-sdk-for-js/pull/9059

The challenge based authentication hotfix introduces a bug in which: Either when the client is not authenticated, or when the token is invalid, parallel network requests end up in a race condition where while one request is authent

[2020-05-21 12:36] avivs2 opened #9061 "Deploy using arm-template"
**Is your feature request related to a problem? Please describe.**
I want to deploy batch of resources using arm-template. I want to be able to create a template that consists of few vms (which can have multiple data disks) and then redeploy from this template with some other parameters.

**Describe the solution you'd like**
Js sdk resouce client to create resources according to arm-template (as a

[2020-05-21 13:38] tstibbs opened #9062 "Ability to set tier when uploading a block blob"
**Is your feature request related to a problem? Please describe.**
When using `BlockBlobClient.uploadFile` or `BlockBlobClient.uploadStream` the blob is uploaded using the container's default tier (either `Hot` or `Cool`). There is no way to set the tier through these functions, meaning you have to upload to the default tier and then use `setAccessTier` to change the tier. This can incur additiona

[2020-05-21 14:09] jongio opened #9063 "DefaultAzureCredential logs make it look like ManagedIdentityCredential works locally."
I'm logged into cli.

[code]
This:

[code]

Only outputs this:
[code]

which makes it seem like Managed Identity is working, but obv it is not since I'm running locally.

It correctly fails if I used ManagedIdentityCredential directly

azsdke2e

[2020-05-21 16:33] ramya-rao-a commented on #9038
Have you tried the `@azure/arm-storage` package? It uses Azure Resource Management to create storage resources.

[2020-05-21 19:13] xirzec commented on #8987
@sarangan12  I don't think there is any work for us to do here, since we're using a module pattern rather than namespaces.

[2020-05-21 19:22] mikeharder opened #9066 "Update @rollup/plugin-commonjs"
Dependency `@rollup/plugin-commonjs` was pinned to `11.0.2` in #9045, since `11.1.0` causes build breaks in our repo.  The dependency should be updated to either `11.1.0` or the latest (currently `12.0.0`).

https://github.com/rollup/plugins/blob/master/packages/commonjs/CHANGELOG.md

CC: @HarshaNalluru

[2020-05-21 19:59] xirzec commented on #9066
Is there an example of the output from the build break?

[2020-05-21 20:04] HarshaNalluru commented on #9066
@xirzec

https://dev.azure.com/azure-sdk/public/_build/results?buildId=398738&view=logs&j=b4852f1b-cbff-5fc1-4b9a-0828dbc40956&t=8ca34846-5d9c-520f-8864-7ec996815e89

[2020-05-21 20:41] heaths commented on #8987
Translate that to "packages". I mean namespace here in the general sense. So you should have a single package, but the imports would still come from separate modules like @azure/search-documents-indexes, right?

[2020-05-21 21:07] mikeharder commented on #9066
We will also need the circular dependency fixes from this PR which were never merged:

https://github.com/Azure/azure-sdk-for-js/pull/8642

[2020-05-21 21:11] sadasant opened #9069 "[KeyVault] Rename folders and files"
`src/core` should be `src/generated`, and the `.test.` files should be `.spec.`.

[2020-05-21 21:45] ramya-rao-a commented on #8193
Done with #8805

[2020-05-21 21:45] #8193 closed

[2020-05-21 22:07] jeremymeng opened #9072 "[FormRecognizer] re-enable Copy Model live tests after the change to make `expirationDateTimeTicks` is in Production"
currently the test will fail in production because our core library cannot handle 64 bit integers in serialization/deserialization.

[2020-05-21 22:36] jeremymeng commented on #6731
We could drop legacy Edge now.

[2020-05-21 23:16] xirzec commented on #8987
No, we don't do deep imports (e.g. `import {} from "@azure/search-documents/foo/bar"`) as they are somewhat confusing for developers. We only have top level imports from the package.

We used to have namespaces for browser bundles, but we no longer ship those.

/cc @bterlson in case I'm mistaken here.

[2020-05-21 23:27] joheredi opened #9078 "[core-http] Array type validation during deserialization"
**Is your feature request related to a problem? Please describe.**
Even when an operation spec describes that an operation's output is of a type, if the service returns something different like a mixed type array, deserialization would succeed.

For example, expecting `Array<boolean>`,  if the service returns `[true, "something", false]`. Deserialization wouldn't complain. Since the type of the op

[2020-05-21 23:37] jeremymeng commented on #6731
on windows,

| | Chrome | FireFox |
|:-:|:-:|:-:|
|user agent|"core-http/1.1.3 OS/Win32" | "core-http/1.1.3 OS/WindowsNT 10.0; Win64; x64"|
|string for new Date("Mon, 01 Jan 0001 00:00:00 GMT")| "Mon, 01 Jan 2001 00:00:00 GMT" | "Mon, 01 Jan 0001 00:00:00 GMT"|

Error message when parseXml() on undefined/null

* Chrome:
[code]
* Firefox:
[code]

[2020-05-21 23:39] JJ11teen commented on #8961
Thanks @loarabia, that makes sense. My main concern is around how unclear it was that both this sdk and the speech sdk were current - a lot of the docs refer to this sdk as the place to go for everything Azure in js/ts.

As for feature requests it would be great to have an API for processing a whole file/stream/buffer and (async) returning all detected results, at the moment the speech sdk only su

[2020-05-22 01:24] xirzec commented on #9078
I guess one question I have is how much we are in the business of validating the service matches their swagger.

It seems strange to me that we'd do extra validation just to throw here, since while that may help us to find bugs quickly, it adds heavy checking to everyone's requests when the server's responses are valid. If the goal is to ensure server correctness, surely that can be done through s

[2020-05-22 01:43] hsheikhali commented on #9038
@ramya-rao-a I haven't looked into it only because the documentation didn't lead me down that path.. but I will check it out see if it provides me with what I need!

[2020-05-22 02:04] xirzec commented on #8620
I already have a working form of this in the new core-http lib (check out core-https)

[2020-05-22 02:07] mikeharder opened #9081 "Delete sdk/eventhub/testhub"
This utility was used for testing Track 1 Event Hubs, but is no longer used and can be removed from master.

[2020-05-22 03:51] ramya-rao-a commented on #1251
This utility was used for testing Track 1 Event Hubs, but is no longer used. Before deleting it we should review it and understand what it was attempting to do and how. It can help us in the stress test framework we are building

[2020-05-22 03:51] ramya-rao-a commented on #9081
Closing in favor of #1251

[2020-05-22 03:51] #9081 closed

[2020-05-22 05:45] ramya-rao-a opened #9083 "[Event Hubs] Program does not exit after subscribing to non existing namespace"
The below code subscribes to the consumer client that has been created for a namespace that does not exist. After 3 seconds, the client is closed. I would expect the program to exit, but it does not. Instead `processError()` keeps getting called every 10 seconds or so

[code]

[2020-05-22 05:46] ramya-rao-a commented on #9083
cc @richardpark-msft, @chradek

[2020-05-22 06:18] sarangan12 commented on #8987
Ok Based on the discussion above, I am closing this issue and marking this as cut in the parent issue. Thanks @xirzec for your input

[2020-05-22 06:18] #8987 closed

[2020-05-22 07:12] sarangan12 commented on #8517
Code completed and merged. Closing this task

[2020-05-22 07:12] #8517 closed

[2020-05-22 07:22] cveld opened #9087 "Microsoft.Resources client.operations.list() results in an error"
- **Package Name**: @azure/arm-resources
- **Package Version**: 2.1.0
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: v10.16.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com
  - [x] SDK API docs

[2020-05-22 10:33] cveld commented on #9087
Fixed with https://github.com/Azure/azure-sdk-for-js/pull/9089

[2020-05-22 14:03] unwitting opened #9090 "Missing documentation for computer vision: analyzeImage()"
The documentation at https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cognitiveservices/cognitiveservices-computervision/src/computerVisionClient.ts#L30 (and in other locations) states that:

It's clear how to provide an image URL as the first parameter to the call, but I can't work out what the intended mechanism is for uploading a local file: I've tried giving its full path in place of

[2020-05-22 18:54] dougmolineux commented on #9009
Thank you for the responses, perhaps I am doing something wrong. I was running this code
[code]
`messages` was undefined, and no error was thrown by peek. I am using version `"@azure/service-bus": "^1.1.5",`.

You are correct about it expiring, I had it set to 14 days, so it expired due to that. I refreshed it recently. I will need to do some more testing, perhaps a good test will be to set it to

[2020-05-22 18:55] dougmolineux commented on #9009
I have actually just realized that my code only has a try {} and finally {} block, i suspect this may have been the issue. Sorry about that! I will close this.

[2020-05-22 18:55] #9009 closed

[2020-05-22 19:36] ramya-rao-a commented on #9090
Thanks for reporting @unwitting

@dfulcer, @ChrisHMSFT, Can you route this to the appropriate contact in the Computer Vision team?

Like @unwitting mentioned the methods only take a url, but are documented to take an image as well.

[2020-05-22 19:42] ramya-rao-a commented on #9087
Thanks for reporting @cveld

@armleads-azure, If an operation is not supported in the current api version, then I would expect it not appear in the first place. Is that the wrong expectation?

cc @qiaozha

[2020-05-23 01:10] wiazur opened #9094 "Node.js REST sample using Axios not complete"
- **Package Name**: Face
- **Package Version**: v1.0
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: v12.13.0.
- [ ] **browser**
    - **name/version**: Edge
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation (the REST API: https://westus.dev.cognitive.microsoft.com/docs/services/563879b619

[2020-05-23 01:28] ggb88 opened #9095 "Is there a way to get MessageID after send?"
I have not found a way to obtain the messageID when I successfully send a message.
Reviewing the SDK it does not seem supported and the basic send sample contained in this repo does not show an example.

Is there a way to obtain please?

[2020-05-23 11:16] RodgeFu commented on #3724
@nickzhums for out of date example. thanks.

[2020-05-23 11:18] RodgeFu commented on #3721
Solution provided and no response for 2+ years so close to clean up old issues. Feel free to reopen if needed. thanks.

[2020-05-23 11:18] #3721 closed

[2020-05-24 00:58] ramya-rao-a commented on #9095
Hey @ggb88,

Am assuming that you are referring to the `@azure/service-bus` package.
As far as I know, the message id should be set on the message before sending it. The id is not generated by the client or by the service.

Is there any documentation that lead you to believe otherwise?

[2020-05-24 01:38] Aizulmansor88 commented on #9095
Aizulmansor88

On Sunday, 24 May 2020, Ramya Rao <notifications@github.com> wrote:

[2020-05-25 02:41] ramya-rao-a commented on #9094
Hey @wiazur

Have you tried the `@azure/cognitiveservices-face` package? It has a `FaceClient` class that allows to work with all the apis exposed by the service. It is generated based on the [swagger file](https://github.com/Azure/azure-rest-api-specs/blob/2d45351fc6859562e54e8f770ead98a86fa7f595/specification/cognitiveservices/data-plane/Face/stable/v1.0/Face.json) that describes the apis

@sara

[2020-05-25 05:27] zikalino commented on #9087
@cveld, seems like it's an example problem, however i will check this furter, perhaps supplying api version shouldn't be necessary at all.

[2020-05-25 08:30] PizzaPartyInc opened #9105 "Question: is it possible to create a Service Bus Queue from code?"
Hi!

I'm interested in a functionality to connect to azure service bus using connection string, check if queue exists or not, and if not - create it.

From what I have seen - it does not seem to be possible using `@azure/service-bus` of `@latest` and `@next` versions, but I remember similar functionality existed in a C# service bus library (at least in the past).

To put it in code perspective, I'

[2020-05-25 20:55] meghnatolani commented on #8598
Facing the same issue. Error logs
`Caused by: com.microsoft.azure.servicebus.amqp.AmqpException: The connection was inactive for more than the allowed 60000 milliseconds and is closed by container 'LinkTracker'. TrackingId:e9a6431fe3c94c89b3fdc7c64d77422a_G42, SystemTracker:gateway7, Timestamp:2020-05-25T19:32:55
	... 10 common frames omitted
2020-05-25 19:32:55 [ReactorThreada5d5e259-c5aa-4d37-8e

[2020-05-25 21:05] meghnatolani opened #9107 "[JAVA+Azure Service Bus+CentOS] The connection was inactive for more than the allowed 60000 milliseconds and is closed"
- **Package Name**:  azure-servicebus
- **Package Version**:  3.1.0
- **Operating system**: CentOS

**Describe the bug**
Trying to read messages from a queue, but as soon as the server comes up, the below errors come up and messages are not received.
`2020-05-25 19:32:55 [ReactorThreada5d5e259-c5aa-4d37-8e69-2c624c8076a0] INFO  c.m.a.s.primitives.MessagingFactory - Connection error. 'Error{conditi

[2020-05-25 22:29] jonathandturner commented on #9063
@jongio - can you also share the ManagedIdentityCredential code that you switch to? Would be good to have that to compare against.

[2020-05-25 22:37] ramya-rao-a commented on #8499
Closing this issue as the latest update 12.0.1 to the `@azure/storage-file-datalake` package has the fix

[2020-05-25 22:37] #8499 closed

[2020-05-25 22:40] ramya-rao-a commented on #7661
@ljian3377, @XiaoningLiu Is this still a feature request in the backlog or should the issue be closed with the workarounds mentioned above?

[2020-05-25 22:57] ramya-rao-a commented on #3720
@joheredi You were involved in the latest update to the `@azure/servicefabric` package in #6504. Any idea if something in the swagger file is stopping the `ServiceFabricClient` to take in AAD credentials? How does the client run without any authentication?

[2020-05-25 22:58] ramya-rao-a commented on #3720
Adding `Service Attention` label if we need a follow up via swagger changes or an answer around whether or not AAD creds are required to authenticate.

[2020-05-25 23:05] ramya-rao-a commented on #3724
@RodgeFu, @nickzhums, Since this issue is for the [azure-arm-datalake-store](https://www.npmjs.com/package/azure-arm-datalake-store) package which does not live in this repo, I would recommend transferring this issue to https://github.com/Azure/azure-sdk-for-node

[2020-05-25 23:09] ramya-rao-a commented on #3725
@RodgeFu, @nickzhums, @qiaozha Can we close this issue with a pointer to show how to configure the retry policy?

[2020-05-25 23:12] ramya-rao-a commented on #9105
Hey @PizzaPartyInc,

It is currently not possible to do so using the `@azure/service-bus` package, but our next update to this package will have this feature. Please subscribe to #1057 for updates.

Our next update will be another preview package and will be out next month

[2020-05-25 23:12] #9105 closed

[2020-05-25 23:18] ramya-rao-a commented on #4842
@joheredi Any thoughts on how the swagger can be tweaked to provide better type support?

Adding `Service Attention` label for improved docs

[2020-05-26 00:49] ramya-rao-a commented on #4395
Hey @polatengin

This issue is resolved when you use the latest version of the packages involved in the sample code you shared.

Thanks for reporting

[2020-05-26 00:49] #4395 closed

[2020-05-26 01:01] ramya-rao-a commented on #4320
`@azure/ms-rest-js` does have retry policy set in place. See https://github.com/Azure/ms-rest-js/blob/master/lib/serviceClient.ts#L424-L428. We have had this for quite a while and therefore would be present in the versions provided by @talam

@qiaozha The `@azure/arm-dns` package is using v1 of `@azure/ms-rest-js` and `@azure/ms-rest-azure-js`. So, I don't see how one can use v2 of these packages

[2020-05-26 01:10] ramya-rao-a commented on #4222
@daviwil, @jonathandturner,
Correct me if I am wrong, but the new `@azure/identity` does use the v2 endpoint right?

[2020-05-26 01:13] ramya-rao-a commented on #3116
Hello all,

Thanks for your patience.

Please subscribe to #1057 for further updates on this feature request.
The next preview update for `@azure/service-bus` package will be having the ability to perform CRUD operations on queues, topics, subscriptions and rules.

[2020-05-26 01:13] #3116 closed

[2020-05-26 01:20] ramya-rao-a commented on #5970
@tzhanl Can you provide some clarification as to what you are determining the feature request to be here? Based on what @JerryPei1997 explained, it looks like one storage account can have only one policy, and that is the one with the default one. Are you saying that the sdk should allow deleting of specific rule or that `defaultMethod()` should take policy name?

[2020-05-26 01:48] tzhanl commented on #5970
@ramya-rao-a DefaultManagementPolicy contains a set of rules, is it make sense to manage(delete/update/add) the rules for DefaultManagementPolicy? We can do this on the portal.

[2020-05-26 02:09] ramya-rao-a commented on #7828
This is most likely because `@azure/ms-rest-browserauth` is still using v1 of `@azure/ms-rest-js`. See https://github.com/Azure/ms-rest-browserauth/blob/8f4a086253bb36cd50faf727ed8b7cd08fb9ff4f/package.json#L45

https://github.com/Azure/ms-rest-browserauth/issues/29 should fix that

[2020-05-26 02:13] ramya-rao-a commented on #7763
@qiaozha, Yes that should be enough.
Please release an update to `@azure/arm-containerregistry` at the earliest

[2020-05-26 02:17] nickzhums commented on #3725
@RodgeFu @zikalino do we have any track 1 retry policy samples?

[2020-05-26 02:20] ramya-rao-a commented on #7828
The problem is that we have a mix of Azure sdks that depend on different major versions of `@azure/ms-rest-js`. The newer lot are incompatible with older dependency versions and vice versa. Therefore, all sdks cannot share a single copy of `@azure/ms-rest-js`.

[2020-05-26 02:43] ramya-rao-a commented on #7526
@caleteeter We are hoping that https://github.com/Azure/ms-rest-nodeauth/pull/91 would resolve this for you by exposing a function in `@azure/ms-rest-nodeauth` that will list all tenants for the account.

This is most likely a limitation of the v1 apis used by adal-node. We will not need the above workaround once we move to using v2 apis.

[2020-05-26 03:29] ljian3377 commented on #7661
@ramya-rao-a  It's a feature request for pausing and resuming. The guidance given is for cancelling.

[2020-05-26 04:35] ramya-rao-a commented on #7468
The interface is indeed exposed, but under `ComputeManagementModels`

Use the below import statement:

`import { ComputeManagementModels, ComputeManagementClient } from "@azure/arm-compute";`

and then use `ComputeManagementModels.Snapshot` instead of `Snapshot` for typing.

@joheredi,
When doing the above and typing `ComputeManagementModels.`, I don't get any completions for interfaces for any of

[2020-05-26 04:46] ramya-rao-a commented on #7336
@changlong-liu You can probably use the below code snippet

[code]

[2020-05-26 04:52] ramya-rao-a commented on #7258
@dw511214992, @qiaozha  We should be able to release a major version update to just the `@azure/arm-automation` package to fix this problem without waiting for service team's release requests. We have been doing this for other management packages on a case by case basis, mainly based on customer reported issues. Any reason to not do the same for automation?

[2020-05-26 04:56] ramya-rao-a commented on #7203
@dw511214992 Based on the error message, it looks like the code would be

[code]

[2020-05-26 05:12] matthewfarrell opened #9110 "Auth error using token authentication"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.6.2
- **Operating system**: Windows 10
- [x ] **nodejs**
    - **version**: v10.19.0
- [x ] **browser**
    - **name/version**: Brave/Version 1.9.72 Chromium: 81.0.4044.138 (Official Build) (64-bit)
- [x ] **typescript**
    - **version**: 3.2.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentatio

[2020-05-26 05:26] ramya-rao-a commented on #5970
@tzhanl I am not familiar with what features make sense and what don't for the `@azure/arm-storage` package. I am curious about what the next steps here are.

I believe the original question was to have the ability to delete a management policy by passing the name of the policy to the `client.managementPolicies.deleteMethod()`. @JerryPei1997 has clarified that since there is only one management po

[2020-05-26 05:29] ramya-rao-a commented on #8598
@meghnatolani The logs you shared suggest that you are using the Java SDK for Service Bus. This repository is for JavaScript SDKs for Azure. Please log your issue at https://github.com/Azure/azure-sdk-for-java

[2020-05-26 05:53] qiaozha commented on #7763
okay, I have a PR here, Could you help me review this PR #9111, Thanks

[2020-05-26 06:46] ramya-rao-a commented on #9038
@hsheikhali We are definitely invested in making documentation better. Can you share the docs that you saw and expected to lead you to this path? We can then look into what could have been done to improve the experience

[2020-05-26 11:53] sadasant opened #9113 "[eslint] Run subset of eslint rules on sample code"
Hi @willmtemple , I need your help.

If I ask our ESLint to include our samples, by adding "samples" to our eslint scripts, I get this error:

[code]

I get that we want to make sure we include the files we're using in our output, but I think we do need eslint on our samples too. 🤔 any help is appreciated.

(title edited by @willmtemple)

[2020-05-26 16:24] iscai-msft opened #9114 "[form recognizer] Rename `models` property of CustomFormModel to `submodels`"

[2020-05-26 16:27] annelo-msft commented on #9114
@iscai-msft , you put this in the .NET epic ... is there a JS one we can add it to?

[2020-05-26 16:29] iscai-msft commented on #9114
thanks @annelo-msft , sorry about that!

[2020-05-26 17:17] veeresh-work commented on #9042
@ramya-rao-a
So I changed the code to maintain a single instance of sbClient and queueClient per worker and that has reduced the amqp errors. In fact I haven't seen any in the past couple of days. Thanks for the suggestion.

I had also raised a azure support ticket and they are looking into it. They noticed around 22 latency issues during the time mentioned in the logs and are investigating it.

[2020-05-26 18:44] wiazur commented on #9094
Thanks @ramya-rao-a, I will try this and get back to you.

[2020-05-26 23:11] jeremymeng opened #9119 "[FormRecognizer] share pipeline for the client resulting from getFormRecognizerClient()"
Currently only the same credential is passed

[2020-05-26 23:23] #9029 closed

[2020-05-27 00:13] ramya-rao-a commented on #9042
Thanks @veeresh-work for getting back on this

We will close this issue as the code refactoring will help your case and the Azure support ticket you created will give more information on the latency issues.

Please do create a new issue if you see any other problems or have any feedback for the Service Bus package

[2020-05-27 00:13] #9042 closed

[2020-05-27 00:36] joheredi commented on #4842
@ramya-rao-a parameters is currently defined as a simple **object**

[code]

I think that if the parameter is defined as a dictionary, we could get a better type, something like

[code]

should result in

[code]

[2020-05-27 00:41] ramya-rao-a commented on #4842
Thanks @joheredi
Is there any other swagger that we can use as a reference for the service folks to consider?

[2020-05-27 00:43] joheredi commented on #7468
@ramya-rao-a, I'm not sure if I'm trying the same thing as you are, but I'm able to get completions in VSCode
![image](https://user-images.githubusercontent.com/21109913/82963525-0b23aa00-9f78-11ea-9b6d-22aa99c693d8.png)

Is this the same thing you are trying out?

[2020-05-27 00:54] joheredi commented on #4842
This definition in the [Kusto swagger ](https://github.com/Azure/azure-rest-api-specs/blob/945ce9037b678447f0a3322a1ba669856d0b9468/specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/kusto.json#L4078)may be useful as reference.

Also [this one](https://github.com/Azure/autorest.testserver/blob/23eb8f04399596f2efea1a8828f080946edfc049/swagger/complex-model.json#L187) from

[2020-05-27 07:21] johnmeng24 opened #9130 "blobCacheControl dont work"
Step:
1. I upload a file to azure. The file cached in local.
2. I delete this file in azure.
3. I hope dont show this file in local.

code snippet:
                                const config = {
                                    blobHTTPHeaders : {
                                        blobCacheControl : 'no-cache',
                                        blobContentType : file.type,

[2020-05-27 08:26] dw511214992 commented on #7203
Thank you @ramya-rao-a
Hi @sbutalia I tried in my side and don't see your issue. I think it may be casued by instability of network. Are you still encountering this issue?

Thank you

[2020-05-27 08:37] dw511214992 commented on #7258
Hi @ramya-rao-a  you are right. I will ask automation service team about whether it is fine to release arm-automation now.

[2020-05-27 10:19] ggb88 commented on #9095
Hi ramya - thank you for helping.  I am reviewing the API again to ensure my understanding is correct.

[2020-05-27 11:41] sadasant commented on #9063
Does this happen with other clients? I would assume this is not a keyvault-specific problem.

[2020-05-27 11:46] sadasant commented on #8800
That sounds reasonable. I will close this.

[2020-05-27 11:46] #8800 closed

[2020-05-27 11:50] sadasant opened #9134 "[KeyVault] Samples are timing-out on the nightly builds"
I need to somehow ensure that samples finish in reasonable time.

[2020-05-27 13:05] ggb88 commented on #9095
Hi Ramya,

To try and better explain.  in my node.js app, I only set the 'body' attribute in the object I wish to send.

![Screen Shot 2020-05-27 at 10 58 00 pm](https://user-images.githubusercontent.com/5636652/83021646-a8143f00-a06d-11ea-82a4-1252a549b725.png)

When the receiver obtains this payload, the attributes of the message now contain a GUID as a messageID (as shown in service bus explore

[2020-05-27 13:14] sadasant commented on #9020
Thank you, @dresch86

We'll be releasing a hotfix soon.

[2020-05-27 16:41] willmtemple commented on #8463
I am merging #8928 as-is so that we can deliver the README changes for Text Analytics p.5. Conversation is here: https://github.com/Azure/azure-sdk-for-js/pull/8928/files#r426892674

Still on the table is whether or not to move the AAD setup documentation to a common location or leave it in many places.

[2020-05-27 17:40] HarshaNalluru commented on #8192
Done Done Done!

[2020-05-27 17:40] #8192 closed

[2020-05-27 19:47] wiazur commented on #9094
Hi @ramya-rao-a, I just realized I was making a REST sample, so we weren't using the SDK for that one. Any other suggestions? The API testing console works fine, so it's a mystery why I can't get these other Http libraries to work.

[2020-05-27 20:42] ramya-rao-a commented on #9094
Understood. @sarangan12 should be able to help you this week

[2020-05-27 21:07] diego1686 opened #9137 "[Service Bus] scheduleMessage is returning the same seq number for multiple messages"
Hi! When I'm trying to schedule messages in parallel sharing the same sender (for example, scheduling from a message handler with `maxConcurrentCalls` > 1), the `scheduleMessage` method is always returning the same sequence number. Here is a similar scenario using Bluebird's `Promise.join` function:

[code]

This is what I got:

[code]

I'm using `node v10.17.0` and `"@azure/service-bus": "^7.0.0-

[2020-05-27 21:13] guillegette commented on #9137
I was able to replicate the same issue.

[2020-05-27 21:40] ramya-rao-a commented on #7828
@seekerlee We just released version 1.0.0 of the `@azure/ms-rest-browserauth` package where the dependency on `@azure/ms-rest-js` is updated. Please try this latest version and the issue you are seeing should be resolved.

[2020-05-27 21:40] #7828 closed

[2020-05-27 21:44] ramya-rao-a commented on #9137
Thanks for reporting @diego1686 and @guillegette!

While @HarshaNalluru takes a look into this, can you share what parts are working better than v1? We would love to get feedback on the preview versions we are working on

[2020-05-27 21:54] #9005 closed

[2020-05-27 21:54] #9058 closed

[2020-05-27 22:06] diego1686 commented on #9137
@ramya-rao-a thanks!

Honestly I'm just starting to use it, but the sintax is more clear, which is obviously better and the most important thing is on this kind of scenarios we got race conditions using the v1, I mean, scheduling operations taking a lot to get solved (between 15 or 25 seconds), duplicated messages, lock and timeout errors, etc. All those things are not happening with the new versi

[2020-05-27 22:11] iscai-msft opened #9139 "[form recognizer] CustomFormSubModel -> CustomFormSubmodel"
This is to remain consistent with the property being called `submodels`.

[2020-05-28 00:02] HarshaNalluru commented on #9137
You're right, @diego1686. We definitely don't want you to create 1000 clients at the same time just to send a message with each of them. It is recommended to reuse the same client and the same sender wherever possible.

I was able to repro the issue, the sequence numbers are the same when the scheduled messages in parallel. Most likely, the issue is with the service since the sequence numbers are

[2020-05-28 00:52] tzhanl commented on #5970
@ramya-rao-a we meant to support manage rules of DefaultManagementPolicy.

[2020-05-28 05:57] guillegette commented on #9137
@HarshaNalluru if you don't mind me asking, is that really a possibility? because if you run multiple Node.js processes in parallel scheduling messages, you don't encounter this issue. You can peak the messages that are scheduled and each of them have a different sequence number. Could it be a bug in the SDK when multiples requests are starting at the same time ? has something like this been repor

[2020-05-28 07:20] #9114 closed

[2020-05-28 07:25] ramya-rao-a commented on #5970
Ok, in that case can we close this issue as there is no planned work on the sdk side?

[2020-05-28 08:05] HarshaNalluru commented on #9137
@guillegette, thanks for the comment. It is the responsibility of the service to assign unique sequence numbers to the messages, SDK has no role in assigning the sequence number for a message. It is possible that the sequence numbers are generated based on the attributes provided while making the scheduling request at the SDK level and those relevant attributes might have been the same when we sch

[2020-05-28 08:52] tzhanl commented on #5970
sure, thanks.

[2020-05-28 09:28] Aizulmansor88 commented on #5970
Dihantar daripada telefon Huawei saya-------- Mesej asal --------Daripada: "Zhanle Tu (MSFT)" <notifications@github.com>Tarikh: Kha, 28 Mei 2020, 4:53 PTGKepada: Azure/azure-sdk-for-js <azure-sdk-for-js@noreply.github.com>Sk: Subscribed <subscribed@noreply.github.com>Tajuk: Re: [Azure/azure-sdk-for-js] Cannot delete management policy (#5970)
sure, thanks.

—You are receiving this because you are s

[2020-05-28 09:28] Aizulmansor88 commented on #5970
Dihantar daripada telefon Huawei saya-------- Mesej asal --------Daripada: Ramya Rao <notifications@github.com>Tarikh: Kha, 28 Mei 2020, 3:26 PTGKepada: Azure/azure-sdk-for-js <azure-sdk-for-js@noreply.github.com>Sk: Subscribed <subscribed@noreply.github.com>Tajuk: Re: [Azure/azure-sdk-for-js] Cannot delete management policy (#5970)
Ok, in that case can we close this issue as there is no planned w

[2020-05-28 09:28] Aizulmansor88 commented on #9137
Dihantar daripada telefon Huawei saya-------- Mesej asal --------Daripada: Harsha Nalluru <notifications@github.com>Tarikh: Kha, 28 Mei 2020, 4:06 PTGKepada: Azure/azure-sdk-for-js <azure-sdk-for-js@noreply.github.com>Sk: Subscribed <subscribed@noreply.github.com>Tajuk: Re: [Azure/azure-sdk-for-js] [Service Bus] scheduleMessage is returning the same seq number for multiple messages (#9137)
@guille

[2020-05-28 09:28] Aizulmansor88 commented on #9114
Dihantar daripada telefon Huawei saya-------- Mesej asal --------Daripada: Jeremy Meng <notifications@github.com>Tarikh: Kha, 28 Mei 2020, 3:20 PTGKepada: Azure/azure-sdk-for-js <azure-sdk-for-js@noreply.github.com>Sk: Subscribed <subscribed@noreply.github.com>Tajuk: Re: [Azure/azure-sdk-for-js] [form recognizer] Rename `models` property of CustomFormModel to `submodels` (#9114)
Closed #9114.

—Yo

[2020-05-28 13:50] agiokas-dbg opened #9153 "response is null with `FormRecognizer`"
- **ai-form-recognizer**:
- **1.0.0**:
- **AWS lambda**:
- [ ] **Node JS 12.4.0**

**Describe the bug**
I am using AWS SAM, the UI and Step functions.
The AWS SAM (local execution) works absolutely fine!
However when I move on the lambda to AWS it produces an error which is related to the query to azure. I've turned on `DEBUG` to try and figure out why I get no response.
Similar lambdas I've writt

[2020-05-28 14:54] sadasant commented on #8844
The template project says `dist-test/index.node.js`. The test guidelines proposal point to this configuration file, assuming it is correct.

[2020-05-28 15:08] sadasant commented on #8463
I think we can close this for now.

[2020-05-28 15:08] #8463 closed

[2020-05-28 15:12] jeremymeng commented on #9153
@agiokas-dbg could you please give preview.2 a try? There might be some error but in preview.1 the poller doesn't throw errors.

If you are unable to use preview.2, please try the following to see whether any error is logged.

[code]

[2020-05-28 17:19] kaerm opened #9156 "Deprecate old Cognitive Services packages"
Run the `npm deprecate` command on the older set of azure-cognitiveservices-* packages with a message pointing to @azure/cognitiveservices-* packages.

Using the message:
`This package is deprecated in favor of ... which works both on node.js and browsers.`

[2020-05-28 17:26] sadasant commented on #4222
@ramya-rao-a I'm not being asked, but I don't think I'm wrong if I say that `@azure/identity` indeed uses the v2 endpoint: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/src/client/identityClient.ts#L141

[2020-05-28 17:31] mjyeaney commented on #4222
The new SDK's do definitely support V2...if you note the date this was opened, they weren't available back then (2018/2019).  Unfortunately my project moved on since then and had to simply not support live ID's.

[2020-05-28 17:32] #4222 closed

[2020-05-28 17:33] #9119 closed

[2020-05-28 19:04] ramya-rao-a commented on #9156
@KarishmaGhiya, to get the list of packages to deprecate take a look at the packages under https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/cognitiveservices. These are the new ones with names following `@azure/cognitiveservices-*` format. These should replace the corresponding `azure-cognitiveservices-*` packages

[2020-05-28 20:12] guillegette commented on #9137
Thanks @HarshaNalluru for the response. What I was trying to say is that, I (personally) don't think is a problem with the service. Giving a unique and incremental sequence number is core to the queue capabilities, failing at this would be a huge issue for everyone using the service.

I think when multiple requests are executed in parallel, the SKD library is not managing the response well for the

[2020-05-28 23:31] heaths commented on #9037
Note the typo I changed in the original description: should be `SearchIndexerDataSource` -> `SearchIndexerDataSourceConnection`.

[2020-05-28 23:36] heaths opened #9166 "Rename "DataSource" methods on SearchIndexerClient to "DataSourceConnection""
As part of #9037 to rename `SearchIndexerDataSource` to `SearchIndexerDataSourceConnection`, also rename methods on `SearchIndexerClient` idiomatically matching "*DataSource" to "*DataSourceConnection".

[2020-05-29 00:33] richardpark-msft opened #9167 "[service-bus] T2: Calling sender.send("hello") sends a message with a null body"
If you're using the @azure/service-bus package purely in JS and pass in a string as the parameter (rather than a ServiceBusMessage) you end up sending a message with a null body.

Based on discussion we'll change the code to throw an error which will leave us open for potential expansion later.

[2020-05-29 01:07] MRayermannMSFT opened #9171 "Cannot list blobs if any of the blobs have a metadata whose key is "_""
- **Package Name**:  core-http (ultimately the exception is being thrown here)
- **Package Version**:  1.1.2
- **Operating system**: Windows 10
- [X] **nodejs**
    - **version**: 12
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.m

[2020-05-29 01:14] southpolesteve commented on #9110
@matthewfarrell Thanks for the report. I'll do some investigating, but first glance this does look like a bug. I think your suggested fix is probably correct. cc @zfoster

[2020-05-29 02:42] ricklang opened #9174 "Does the package support user-assigned managed identity?"
Tried the sample code

[code]

It is working for system managed identity. When using user-assigned managed identity, it doesn't work when deploy to Azure Web App.

Also when deploy to Azure Web App container, the managed identity seems not working when used to access key vaults. Is it true or I did something wrong?

[2020-05-29 04:48] vjrantal opened #9176 "[Cosmos] Throughput throttling is not always handled gracefully within the SDK"
- **Package Name**:

@azure/cosmos

- **Package Version**:

3.6.3

**Describe the bug**

When there is not enough throughput provisioned in the target Cosmos DB and lots of items are created with the SDK, exceptions are getting thrown and item creations fail.

**To Reproduce**

Steps to reproduce the behavior:

1. Clone repro app from https://github.com/vjrantal/cosmos-typescript-bulk-import-throu

[2020-05-29 04:49] jongio commented on #9063
const credential = new ManagedIdentityCredential();

[2020-05-29 05:43] ramya-rao-a commented on #9139
@iscai-msft Please provide details on the package this change is for in the PR title or description. Am guessing this is for Form Recognizer?

[2020-05-29 09:53] RodgeFu commented on #4320
@qiaozha , are you able to repro the issue?

[2020-05-29 10:04] RodgeFu commented on #3730
seems a feature request for notification hub. + "service attention" label to include the service team to evaluate the request. thanks.

[2020-05-29 10:08] RodgeFu commented on #3726
assign to nick for doc issue. thx

[2020-05-29 11:10] agiokas-dbg commented on #9153
@jeremymeng hi, thanks for the reply! Should I do this in the callback while it's running or after?

[2020-05-29 12:44] agiokas-dbg commented on #9153
I suspect there's a version miss match happening here. The actual output from the AWS lambda is:

[code]
I added the lines you suggested, and here's the result:

[code]

[2020-05-29 13:20] ztrange commented on #3726
I'm no longer using notification hubs. I moved on to aws pinpoint

[2020-05-29 13:38] nickzhums commented on #3726
@ztrange I'm sorry our docs didn't give you the expected experience. I'm closing this issue for now, if there's anything we can do to help, feel free to re-open the issue, thank you

[2020-05-29 13:39] #3726 closed

[2020-05-29 13:47] changlong-liu commented on #7336
Hi service team,

I see DeploymentPropertiesExtended introduces outputResources since api_version 2019-10-01.
But JS SDK is using 2019-07-01: https://github.com/Azure/azure-sdk-for-js/blob/d084be232b25501efddd38e620e0a928c89da80b/sdk/resources/arm-resources/src/resourceManagementClientContext.ts#L47

So it shouldn't be expected to have outputResources in the response?

[2020-05-29 14:05] qiaozha commented on #4320
I tried to repro the issue, but didn't see the hang result.

[2020-05-29 14:06] qiaozha commented on #4320
@ramya-rao-a  let me double check what the @azure/ms-rest-js version I am using when try to repro the issue. and I will get back to you.

[2020-05-29 15:29] iscai-msft commented on #9139
Sorry, will add form recognizer to the issue title

[2020-05-29 16:26] agiokas-dbg commented on #9153
Also, I am now using `1.0.0-preview.2` and I am no longer getting this error.
I suspect it was some internal mechanism?

[2020-05-29 17:20] jeremymeng commented on #9153
@agiokas-dbg Glad to hear that preview.2 worked fine for you. I suspect that it's the same issue that was fixed by #8703, although what puzzled me is that your original report seems to indicate that the issue didn't happen in the emulator case. Now I guess only some input documents caused the error?

[2020-05-29 17:27] jeremymeng commented on #9139
Fixed in #9142

[2020-05-29 17:27] #9139 closed

[2020-05-29 18:33] ramya-rao-a commented on #7763
PR #9111 is merged

@dennisseah The issue you are seeing is fixed in the latest version of the `@azure/arm-containerregistry` package

[2020-05-29 18:33] #7763 closed

[2020-05-29 18:57] ramya-rao-a commented on #9167
I vote for throwing an error
While it does seem very convenient to send just the body content, this opens questions on what other data types will we allow. If we truly allow them, then shouldnt the method signature reflect that?

cc @bterlson

[2020-05-29 19:08] bterlson commented on #9167
Agree throwing for now is good. That leaves us free to add support for this later based on feedback.

[2020-05-29 19:15] HarshaNalluru commented on #9066
For more reference, ongoing investigation in the draft PR https://github.com/Azure/azure-sdk-for-js/pull/9074

[2020-05-29 20:18] jeremymeng commented on #9171
Right, it's an issue in xml2js https://github.com/Leonidas-from-XIV/node-xml2js/issues/385. I will see if we can workaround it.

[2020-05-29 20:53] jeremymeng commented on #9171
currently we are using "_" as the `charKey` in the parser settings.  We might be able to use another value, e.g., `___value` or something that is unlikely to appear in real world xml payload.  Will try it out

[2020-05-29 22:51] weshaggard opened #9184 "Support publishing private dev packages to private DevOps feed."
Similar to other languages like .NET we should enable publish of daily dev packages to a private DevOps feed, I already setup the feed at https://dev.azure.com/azure-sdk/internal/_packaging?_a=feed&feed=azure-sdk-for-js-pr.

[2020-05-30 00:26] #8868 closed

[2020-05-30 05:31] seekerlee commented on #7828
thank you! I will give a try. @ramya-rao-a

[2020-05-30 17:02] southpolesteve commented on #9176
Thanks for the detailed report! We do have code for handling [429 retries internally](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/src/retry/resourceThrottleRetryPolicy.ts#L28-L30), but eventually, they will be yielded up to the consumer. We will investigate

[2020-05-31 01:32] ggb88 commented on #9095
Hi @richardpark-msft,

Reading further, particularly this [link on MS](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messages-payloads) - specifically what I am trying to access after send from the node library is the _BrokerProperties_ where the MessageID is defined.

Does this line on the page mean that BrokerProperties cannot be accessed?
_The object model of the offi

[2020-05-31 15:25] dresch86 commented on #9020
@sadasant Thanks for looking into this! I appreciate the help.

[2020-06-01 02:57] qiaozha commented on #4320
@ramya-rao-a  you are right. the ms-rest-js and ms-rest-azure-env is 1.X version, but I can't repro the error.
@rohinkoul  Just wondering is it possible that the service backend has set some sort of defend logic that prevent frequently request from single IP etc. and because I am in the internal company network the server backend would not set such defend rule?

[2020-06-01 03:13] ramya-rao-a opened #9202 "[Event Hubs] AbortSignal for createBatch does not abort the program"
In the below code snippet, the abort signal is set to be fired in the event loop after `createBatch` is called. The expectation is that `createBatch` throws the AbortError and the program exits.

While we do see the `AbortError` being fired, the program does not exit

[code]

When logs are enabled, we see the reason for this is that the timer is set for 45 mins for token renewal. While we know fro

[2020-06-01 04:15] ramya-rao-a commented on #9083
This is because the event processor loop does not exit. Same happens when one runs `subscribe()` on a closed client.

[2020-06-01 05:57] ramya-rao-a opened #9209 "[Event Hubs] Use logger instead of debug package in test files"
The `debug` package was used for logging in older versions of the Event Hubs library. In the latest version, we moved to using the common `@azure/logger` package. Looks like we missed to do the same in the test files which continue to use the `debug` package.

This issue is to track the work needed to update the test files to use `@azure/logger` instead of `debug` for logging.

[2020-06-01 07:58] go-shinyashiki opened #9607 "About reception processing when maxConcurrentCalls is set"
[Overview]
It will not be reproduced in other SDKs, but only in the SDK of Node.js.

Set the "registerMessageHandler ()", "handlerOptions" as "maxConcurrentCalls: 1", but messages are received in parallel.
Unless executing "complete ()" or "abandon ()", it should be able to receive one message at a time, but that is not the case.
Could you please tell us why it cannot able to receive one message a

[2020-06-01 08:39] agiokas-dbg commented on #9153
@jeremymeng The same document is when run locally (SAM) worked, but failed on AWS. I thought it had to do with time-outs, but I suspect it may have to do with Unicode encoding? I honestly don't know because I've done about 16 different form models on Azure and this is the only one with this problem.

[2020-06-01 16:17] ramya-rao-a commented on #9202
cc @richardpark-msft, @chradek

[2020-06-01 16:34] iscai-msft opened #9213 "[text analytics] Upgrade to v3.1-preview.1"
- [ ] Add `aspects` and `opinions` to `SentenceSentiment` if `opinionMining` is True and passed to `analyzeSentiment`

[2020-06-01 16:40] richardpark-msft commented on #9095
@ggb88 - the message id, when not explicitly specified, is actually generated by the broker, not the client so we won't have an ID to return, unfortunately.

However, the overall idea of what you want to do is easily possible - you can just set the .messageId property (in the service bus message, when sent) to any GUID or value that you want, like so:

[code]

Which I believe will accomplish what

[2020-06-01 17:45] mssfang opened #9214 "[Form Recognizer] Redact accessToken information from Form Recognizer tests"
Add beginCopy tests back with redacted accessToken information.

[2020-06-01 20:40] sadasant opened #9215 "[keyvault-admin] Implement a new client with vault backup and restore operations"
Version 7.2-preview of our swagger introduces methods to backup and restore whole vaults. They need to exist in a new client. The name of the client hasn't been agreed as a team. The specs of the new clients should match the existing clients' backup and restore operations, with the difference that the restore operation should be an LRO.

[2020-06-01 23:15] jeremymeng commented on #9153
Is it possible for you to share the document that was causing problem?

[2020-06-01 23:42] jeremymeng commented on #6530
What's needed:

- SDK switch to `x-ms-useragent` in core-http.
  - Update app configuration library
- Service need to whitelist `x-ms-useragent` in their CORS allowed header keys.
- Service need to track the new header in their telemetry system.

Services

| **Service**       | **CORS Support** | **Service whitelist** | **Using core-http UserAgent policy** | Notes                      |
|---------

[2020-06-02 00:27] #8484 closed

[2020-06-02 02:11] sadasant commented on #9020
@dresch86 Hello! Good day to you!

Please try again with the new version: https://www.npmjs.com/package/@azure/keyvault-certificates/v/4.0.2

Here's pseudo code to create a certificate, disable a certificate and check that it has been disabled:

[code]

Here's pseudo code to create a certificate, disable a certificate **version** and check that it has been disabled:

[code]

Please let me know if

[2020-06-02 02:11] #9020 closed

[2020-06-02 02:15] sadasant commented on #9005
@tomi The wait is finally over! We have released new packages that address this issue.

All of the following three packages should work as you were expecting:

- https://www.npmjs.com/package/@azure/keyvault-keys/v/4.0.4
- https://www.npmjs.com/package/@azure/keyvault-secrets/v/4.0.4
- https://www.npmjs.com/package/@azure/keyvault-certificates/v/4.0.2

Thank you again for reporting this to us. I h

[2020-06-02 03:15] changlong-liu commented on #3725
Hi @itilitymaarten ,

You can find exponentialRetryPolicy, systemErrorRetryPolicy and throttlingRetryPolicy here: https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/core/core-http/src/policies

They can be used as any other policies in JS SDK, a sample for policy assignment can be found here:
https://github.com/Azure/azure-sdk-for-js/blob/7b0e5daab20d935fbb916875c97af4e3c08dcf67/sdk/core/co

[2020-06-02 04:33] ramya-rao-a commented on #3725
@changlong-liu That sample is for `@azure/core-http` where as the management libraries use `@azure/ms-rest-js`. Though the former is built on top of the latter, it might have had changes done to it. Have you tried that sample with `@azure/arm-commerce` package?

[2020-06-02 06:38] dresch86 commented on #9020
@sadasant You are very welcome! I tested it out and can confirm the changes work as expected now. I'll be on Azure for the foreseeable future, so I hope to get more involved. Have a great week!

[2020-06-02 09:56] tomi commented on #9005
Works now 👍  Thank you for the quick fix!

[2020-06-02 11:47] ljian3377 commented on #9062
Yes, we should support `tier` in the high-level upload methods. And it's simple to implement as these methods simply pass the option to upload.

[2020-06-02 16:17] jeremymeng commented on #6411
We have fixed this issue in @azure/storage-blob v12.1.2 so am closing this issue.  Thanks for reporting the issue!

[2020-06-02 16:17] #6411 closed

[2020-06-02 16:30] jeremymeng opened #9230 "[FormRecognizer] deprecate track 1 package after we GA track 2"

[2020-06-02 17:27] jeremymeng opened #9231 "[FormRecognizer] Remove US Receipt type from preview.3"
API diff: https://apiview.dev/Assemblies/Review/cf2c57b3d4c44ef08c2e8284f7441a2d?diffRevisionId=7b9a183b5a55436cb776325aa14ab17c

Related .NET change https://github.com/Azure/azure-sdk-for-java/blob/ad2a0e9e2b6e5f2b572c48aa3ae7244b3d7d9250/sdk/core/azure-core/README.md

[2020-06-02 18:30] MRayermannMSFT opened #9232 "Add Storage GetAccountInformation API"
**Is your feature request related to a problem? Please describe.**
The Storage GetAccountInformation API is not part of any of the Storage SDKs.

**Describe the solution you'd like**
The [GetAccountInformation](https://docs.microsoft.com/en-us/rest/api/storageservices/get-account-information) API should be added to the Storage SDKs.

**Describe alternatives you've considered**
I could call the API

[2020-06-02 21:21] joheredi commented on #8353
The issue seems to be in `core-http` `UrlBuilder` which ends up getting a miss formed url with the following format `/a/b/https://hostname/api/version/operation/` and seems to be caused by the logic of identifying the scheme when [setting the path](https://github.com/Azure/azure-sdk-for-js/blob/a53cc10ad65e9ac04ad0665d0f5e1b21821c3de5/sdk/core/core-http/src/url.ts#L225) which assumes that if "://"

[2020-06-02 22:31] sarangan12 opened #9238 "Non optional parameters should be moved out of the option bag"
In search-documents SDK APIs, all non optional parameters should be moved out of the option bag.

This is related to https://github.com/Azure/azure-sdk-for-js/issues/7166

[2020-06-02 22:33] sarangan12 opened #9240 "Change countDocuments to getDocumentsCount"
In search-documents SDK Change countDocuments to getDocumentsCount

[2020-06-02 22:35] sarangan12 opened #9241 "Pull searchText from optionBag to method parameter"
In search-documents SDK search API, Pull searchText from optionBag to method parameter

[2020-06-02 22:37] sarangan12 opened #9242 "Make deleteDocuments get multiple values and document parameter"
In search-documents SDK, Make deleteDocuments get multiple values and document parameter

[2020-06-02 22:38] mikeharder opened #9243 "[EngSys] Builds not failing if dependencies changed but no "rush update""
A couple PRs in the last week changed dependencies but `rush update` was not run (there were no changes to `pnpm-lock.yaml`).  A recent example is #9082.

What's unexpected is the validation builds for this PR passed.  I thought the build should fail if `pnpm-lock.yaml` does not match the deps in all the `package.json` files.  I thought `rush install` should always fail in this case, but even if n

[2020-06-02 22:39] sarangan12 opened #9244 "In indexDocuments method rename options parameter"
In search-documents SDK indexDocuments method rename options paramter

[2020-06-03 01:04] KarishmaGhiya commented on #9156
Below is the list of packages and versions deprecated -

1. - azure-cognitiveservices-autosuggest@1.0.0
2. -  azure-cognitiveservices-computervision@4.0.0
3. -  azure-cognitiveservices-contentmoderator@4.1.1
4. -  azure-cognitiveservices-customimagesearch@1.0.0
5. -  azure-cognitiveservices-customsearch@2.0.0
6. -  azure-cognitiveservices-customvision-prediction@3.0.0
7. -  azure-cognitiveservices

[2020-06-03 01:06] epomatti opened #9247 "Error "missing_environment_variables" for user account authentication"
- **Package Name**: @azure/identity
- **Package Version**: 1.0.3
- **Operating system**: Ubuntu 20.04
- [x] **nodejs**
    - **version**: v12.18.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I

[2020-06-03 01:25] mikeharder opened #9248 "[EngSys] Update dependencies to latest major version"
# Process
1. `rush unlink& git clean -xdf`
2. Edit `common\config\rush\common-versions.json` and set `implicitlyPreferredVersions=true`
3. Edit `rush.json` and set `strictPeerDependencies=false`
4. `rush update --full`
5. Collect list of dependencies with newer major versions
6. Revert changes to `common-versions.json` and `rush.json`
7. Create one PR for each dependency which needs a major versio

[2020-06-03 01:51] ramya-rao-a commented on #9156
Thanks @KarishmaGhiya!

[2020-06-03 01:51] #9156 closed

[2020-06-03 01:52] mikeharder opened #9250 "[Cosmos] Consider replacing runtime dependency "debug" with "@azure/logger""
In Track 2, most packages changed from using `debug` to `@azure/logger` for runtime logging.  Should `@azure/cosmos` do the same?

[2020-06-03 02:18] ramya-rao-a opened #9252 "Enable the sort-imports eslint rule"
The `sort-imports` eslint rule is pretty helpful to manage imports. Having the imports sorted helps with code reviews as well when PRs introduces a large number of imports.

_**Code pointers for anyone wanting to fix this:**_
- [Set up your dev env](https://github.com/Azure/azure-sdk-for-js/blob/main/CONTRIBUTING.md#setting-up-your-environment) if you have not already
- [ESLint Plugin source packa

[2020-06-03 02:25] jiacfan commented on #9232
@MRayermannMSFT

Thanks for sharing the finding. Personally, I think we should add this API support. I'll check with Core SDK team, and see if this API is bypassed due to some consideration. And will update this thread further.

Thanks,
Jiachen

[2020-06-03 07:11] simon276 commented on #5211
@XiaoningLiu any answer?

[2020-06-03 07:36] RodgeFu commented on #4320
Add "Service Attention" for service team to confirm the behavior in backend. thanks.

[2020-06-03 08:00] #8836 closed

[2020-06-03 11:26] agiokas-dbg commented on #9153
Hi @jeremymeng  Yes I can, I've also run into another document that seems to cause the same problem. I'm getting back no response. But when I try the dockerized UI tool, and I use it there it seems to work fine! It's attached below

[finish_early.pdf](https://github.com/Azure/azure-sdk-for-js/files/4722888/finish_early.pdf)

[2020-06-03 15:04] JeffreyCA opened #9268 "Latest @azure/arm-rediscache cannot use @azure/ms-rest-nodeauth v3"
- **Package Name**: @azure/arm-rediscache
- **Package Version**: 3.0.1
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: 12.16.3
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.8.3
- Is the bug related to **documentation** in
  - [x] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe th

[2020-06-03 16:14] mssfang opened #9269 "[Form Recognizer] Different account properties for a client with different authentication"
Ran the sample in Authentication sample, we have different values for the same operation, the max number of modeled can be trained for the same account is different.

[code]

[2020-06-03 16:43] ramya-rao-a commented on #9250
cc @bterlson

[2020-06-03 17:41] bterlson commented on #9250
Steve and I chatted about this some time ago, I think there's an uber issue someplace tracking this. Yes, cosmos should switch, but it's not as easy as just swapping the dependency. Cosmos is doing a similar-but-different thing layering on top of debug and it would be a breaking change to adopt @azure/logger. Hopefully we can do this as part of the next major update.

[2020-06-03 19:23] jeremymeng commented on #9153
Thanks! I will have a look at this document.

[2020-06-03 19:26] #8609 closed

[2020-06-03 19:26] #8610 closed

[2020-06-03 19:33] iscai-msft opened #9272 "[text analytics] update readme"
- [ ] Make sample links in readme absolute, not relative. This is potentially causing problems when being uploaded to docs.microsoft.com

[2020-06-03 19:47] jeremymeng commented on #9272
I believe EngSys team has a tool to convert github relative links before publishing to NPM

[2020-06-03 21:13] MahdiVarposhti commented on #8944
- Got familiar with how the Azure Tables service works and how to use it
-  Used the existing SDK to create a NodeJS app for creating and querying tables, inserting and updating entities

[2020-06-03 21:13] #8944 closed

[2020-06-03 21:24] MahdiVarposhti commented on #8945
- Successfully generated the Tables SDK using Autorest and the Azure Tables Swagger files

[2020-06-03 21:24] #8945 closed

[2020-06-03 22:40] sarangan12 commented on #8984
Code completed

[2020-06-03 22:40] #8984 closed

[2020-06-03 22:41] sarangan12 commented on #9037
Code complete

[2020-06-03 22:41] #9037 closed

[2020-06-03 22:41] sarangan12 commented on #8383
Code complete

[2020-06-03 22:41] #8383 closed

[2020-06-03 22:43] sarangan12 commented on #9166
Code completed

[2020-06-03 22:43] #9166 closed

[2020-06-03 22:43] sarangan12 commented on #9238
Code completed

[2020-06-03 22:43] #9238 closed

[2020-06-03 22:43] sarangan12 commented on #9240
Code completed

[2020-06-03 22:43] #9240 closed

[2020-06-03 22:43] sarangan12 commented on #9241
Code completed

[2020-06-03 22:43] #9241 closed

[2020-06-03 22:43] sarangan12 commented on #9244
Code completed

[2020-06-03 22:43] #9244 closed

[2020-06-03 23:50] jeremymeng opened #9278 "[core-http] Better fix to address the issue of needing @types/node in runtime dependency list"
https://github.com/Azure/azure-sdk-for-js/pull/9276 is a short-term fix that revert PR #8843.

The following options were considered but reverting was chose as the safer fix for that release.
- add `"@types/node": "*"` to dependencies
- shim node types - much more involved.

This issue tracks a better fix then reverting.

[2020-06-04 00:17] mikeharder opened #9281 "[template] Review dependency on "stream-browserify""
The `package.json` for `@azure/template` contains this reference to `stream-browserify`, but does not have a runtime or dev dependency on the package:

https://github.com/Azure/azure-sdk-for-js/blob/e924eafdffb8a0c58e8299595a14f8dbdb12730e/sdk/template/template/package.json#L8-L9

I think either this reference should be removed or a dependency should be added.

Related: #9281, #9282

[2020-06-04 00:19] mikeharder opened #9282 "[identity] Review dependency on "stream-browserify""
The `package.json` for `@azure/identity` contains this reference to `stream-browserify`, but does not have a runtime or dev dependency on the package:

https://github.com/Azure/azure-sdk-for-js/blob/e924eafdffb8a0c58e8299595a14f8dbdb12730e/sdk/identity/identity/package.json#L9-L10

I think either this reference should be removed or a dependency should be added.

Related: #9281, #9283

[2020-06-04 00:20] mikeharder opened #9283 "[service-bus] Review dependency on "stream-browserify""
The `package.json` for `@azure/service-bus` contains this reference to `stream-browserify`, but does not have a runtime or dev dependency on the package:

https://github.com/Azure/azure-sdk-for-js/blob/e924eafdffb8a0c58e8299595a14f8dbdb12730e/sdk/servicebus/service-bus/package.json#L22-L26

I think either this reference should be removed or a dependency should be added.

Related: #9281, #9282

[2020-06-04 02:08] thesiti92 commented on #8903
I think im having the same issue. I can upload a string to blob storage fine, but when i try to upload a buffer or a stream something breaks and i get this Auth error. A bug in content length headers could be the culprit.

[2020-06-04 03:37] ramya-rao-a opened #9287 "[Event Hubs] Program waits for 1 min to exit after closing consumer client when running against non existing event hub"
Run the below code with a connection string pointing to a valid namespace, `eventHubName` pointing to a non existing event hub.

[code]

The expectation is that the program exits right after `Client closed` is printed to the console, but it actually exits a minute later.

Enabling the logs doesnt help much as nothing is logged after `Client closed`.

Using [wtfnode](https://www.npmjs.com/package/w

[2020-06-04 03:37] ramya-rao-a commented on #9287
cc @richardpark-msft, @chradek

[2020-06-04 03:56] ramya-rao-a commented on #9268
Thanks for reporting @JeffreyCA!

@qiaozha, Can you please re-generate the `@azure/arm-rediscache` package such that it is compatible with the latest version of `@azure/ms-rest-nodeauth`?

[2020-06-04 04:00] changlong-liu commented on #3725
Thank you @ramya-rao-a .
 I have just had a try on @azure/arm-commerce, and found it's not using core-http, but the old  @azure/ms-rest-js 1.x.x.  And also an old version for ms-rest-nodeauth.
Correct the policy folder for ms-rest-js as:  https://github.com/Azure/ms-rest-js/tree/1.x/lib/policies
Reference code for creating policy factory: https://github.com/Azure/ms-rest-js/blob/master/lib/service

[2020-06-04 04:35] vjrantal opened #9288 "[identity] The 1.1.0-preview.3 installation fails in certain environments due to a native dependency"
- **Package Name**:

@azure/identity

- **Package Version**:

1.1.0-preview.3

**Describe the bug**

When adding a dependency to version 1.1.0-preview.3 of the package, `npm install` might fail unless the environment has right dependencies installed to build `keytar`.

**To Reproduce**

Steps to reproduce the behavior:
1. Create Dockerfile with following content:

[code]

2. Run `docker build .`
3

[2020-06-04 04:40] ramya-rao-a opened #9289 "[Event Hubs] processError() is stuck if subscription is closed in it"
Run the below code with a connection string to a valid namespace, but pass an invalid eventHubName so that `processError` is called

[code]

The program exits after a minute or so, but no code after `await subscription.close()` gets called.

cc @richardpark-msft, @chradek

[2020-06-04 06:52] ljian3377 commented on #8903
@thesiti92 @Nurchik
I really want to help. But I just can't recreate this. Tried with the snippet given by you and turned on the logger with
[code]
It succeeded and from the log we can see that content length was set correctly.
[code]

Also as I mentioned, we have plenty of test cases covering the buffer uploading scenario.
So could you please turn on the log as I did and provide the log here if y

[2020-06-04 07:44] iliassays opened #9294 "Does it works with Azure functions as a consumer?"
I am using serverless architecture. I need to know if I can use azure-eventhub for azure function specially when consuming.

[2020-06-04 08:00] #8865 closed

[2020-06-04 09:46] ggb88 commented on #9095
OMG @richardpark-msft - think I just had another episode of blue-screen blindness.  I totally missed Id, instead using ID.
Thanks for your assistance and patience!

[2020-06-04 09:46] #9095 closed

[2020-06-04 14:23] thesiti92 commented on #8903
ok will do. im not exactly sure if my issue is related to content-length, but i'll post here after and give you more info. Can make a new issue if need be. Thanks for the quick response!

[2020-06-04 14:26] ntapsrigowri opened #9297 "Get NetworkInterface Details API with api version 2020-04-01 failure"
- **Package Name**: "@azure/arm-network"
- **Package Version**: "21.1.0"
- **Operating system**:
- [ ] **nodejs**
    - 13.13.0

**Describe the bug**
GET https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}?api-version=2020-04-01  returns
{
  "error": {
    "code": "NoRegisteredProviderFo

[2020-06-04 14:57] faraazhabeeb123 opened #9298 "Error: Unable to open the amqp connection "connection-1" due to operation timeout."
Hello, I keep getting this issue when i am trying to send an event hub request. See below for new packages i added, i did not add https-proxy-agent as i have @azure/core-http
![image](https://user-images.githubusercontent.com/63436103/83772807-64ab6900-a649-11ea-941a-fef46f1ad926.png). My code is as below:
![image](https://user-images.githubusercontent.com/63436103/83773017-a2a88d00-a649-11ea-9ce4

[2020-06-04 14:59] thesiti92 commented on #8903
ok the issue was not to do with content length, but something is messing up the HMAC authentication, not sure if its you guys or me.

[2020-06-04 15:02] ChocoMomo opened #9299 ""[Symbol.iterator] is not a function" when using listConfigurationSettings"
I want to use the listConfigurationSettings like below.

[code]

But when i try to iterate i got the error:
`[Symbol.iterator] is not a function`

The object looks like this:
[code]

[2020-06-04 16:01] agiokas-dbg commented on #9153
Thanks Jeremy. It's still the case where the UI labeltool works fine, but I'm getting null responses.

[2020-06-04 16:04] thesiti92 opened #9300 "Cannot upload buffer in Express route NodeJS"
- **Package Name**: @azure/storage-blob
- **Package Version**: "^12.1.2"
- **Operating system**: windows 10 (WSL2)
- [ ] **nodejs**
    - **version**:  12
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 3.8.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Descri

[2020-06-04 16:35] richardpark-msft commented on #9095
No problem at all - thank you for contacting us :)

[2020-06-04 18:08] iscai-msft opened #9303 "[text analytics] review docs.microsoft.com of latest release"

[2020-06-04 18:21] HarshaNalluru opened #9305 "[Service Bus] Unable to add tests for the authentication with AAD - @azure/identity"
`keytar` being used in `@azure/identity` is causing the build to fail when imported for the tests for service-bus.

The rollup test bundling fails as follows..
![image](https://user-images.githubusercontent.com/10452642/82961963-a9f9d780-9f73-11ea-81a4-ed0096e12181.png)
![image](https://user-images.githubusercontent.com/10452642/82961981-b716c680-9f73-11ea-9a60-3d119d8ca1da.png)

[2020-06-04 20:30] ahsanhabib91 opened #9311 "[Event Hubs] TypeError: Cannot read property '_process' of undefined"
- **Package Name**: @azure/event-hubs
- **Package Version**: 5.2.0
- **Operating system**: macOS Catalina Version: 10.15.5
- [ ] **nodejs**
    - **version**: 12.16.1
- [ ] **typescript**
    - **version**: 3.9.2

**Describe the bug**
I am running 2 instances of a node.js script where I listen for the incoming messages/events from Azure Event Hubs. After a couple of hours, one of the Instances got

[2020-06-04 21:02] weshaggard opened #9312 "Organize Generated Artifacts Into Per-Package folders"
Part of https://github.com/Azure/azure-sdk/issues/799.

The more steps we have in our release process the more error prone it is to find the correct set of artifacts for each step. To help organize and ensure we don't make errors we should group the build artifacts into folders in the packages artifact. One folder per-package.

[2020-06-04 21:34] chadbr commented on #4815
Did continuation token support ever happen?

Thanks, Chad

[2020-06-04 21:44] #8584 closed

[2020-06-04 22:06] mikeharder opened #9313 "[core-amqp] Review dependency on "stream-browserify""
@chradek is unsure whether `core-amqp` still needs a dependency on `stream-browserify`:

https://github.com/Azure/azure-sdk-for-js/blob/c30bff3a71a2e6b9f94e12d109a7b77ca52abec3/sdk/core/core-amqp/package.json#L24-L29

According to @bterlson:

Related: #9281, #9282, #9283

[2020-06-04 23:04] sarangan12 commented on #9242
Code complete

[2020-06-04 23:04] #9242 closed

[2020-06-04 23:21] chradek commented on #8206
I'm closing this issue now that we've fixed the performance issue with tryAdd. Please feel free to comment if any of the above isn't clear.

[2020-06-04 23:21] #8206 closed

[2020-06-04 23:28] richardpark-msft commented on #8299
Final design (unless we hear feedback otherwise):

* createSender(), createReceiver() and createDeadLetterReceiver() will remain sync methods. These objects will support lazy-initialization of the connection but will also provide methods that allow a user to have a definitive indicator that the connection and receiver are initialized.

  `Sender`, like in track 1, will expose an `open()` method as

[2020-06-04 23:28] #8299 closed

[2020-06-05 00:18] heaths opened #9318 "Rename AnalyzeRequest to AnalyzeTextOptions, and add constructor overloads / helpers for required fields"
Per discussion,

- [ ] Rename `AnalyzeRequest` to `AnalyzeTextOptions`. `SearchIndexClient.AnalyzeText` should look like: `AnalyzeText(string indexName, AnalyzeTextOptions options, ...)`.
- [ ] Add constructor overloads or other initialization helpers to require `text`, and either `analyer` or `tokenizer` (or, if you want, `analyzerName`, and `tokenizerName`, though I'll open up a separate issue f

[2020-06-05 01:49] qiaozha commented on #9268
@ramya-rao-a  okay, I have a PR #9319 to release the new SDK, Could you help review my PR? thx

[2020-06-05 02:07] heaths opened #9321 "Rename properties and parameters for analyzer, tokenizer, and synonymMaps to *Name(s)"
To be consistent with past renames for SearchField, SearchIndex, et. al, please make sure that all properties and parameters of type `LexicalAnalyzerName` or `LexicalTokenizerName`, and any string or string[] parameters for synonym map name(s) end in "Name" or "Names", as appropriate.

The following list was generated from .NET. Some renames have already been done, but please check in your code al

[2020-06-05 02:58] mikeharder commented on #5431
@HarshaNalluru: Will `tslint` be removed from the `cosmos` dev dependencies when this issue is fixed?  `cosmos` is the only package in our repo still using `tslint`.

[2020-06-05 04:18] mikeharder opened #9329 "Update dev dependency "prettier""
# Overview
I tried updating to `prettier@^2.0.5` (draft PR #9325), but when I execute `npm run format`, there are a ton of formatting changes.  Examples include:

* Spaces are added after the word "function" in function expressions
  * https://prettier.io/blog/2020/03/21/2.0.0.html#always-add-a-space-after-the-function-keyword-3903httpsgithubcomprettierprettierpull3903-by-j-f1httpsgithubcomj-f1-jo

[2020-06-05 04:23] qiaozha commented on #9268
@JeffreyCA  The 4.0.0 is out there now https://www.npmjs.com/package/@azure/arm-rediscache/v/4.0.0 which should resolve your issues. Could you give it a try and let us know if there's still questions.

[2020-06-05 04:41] ramya-rao-a commented on #9250
Thanks @bterlson

@mikeharder I would recommend closing this issue. In the next major update for cosmos, we will anyway be making an inventory of things to change to bring it closer to Track 2. The logger would be taken care of then

[2020-06-05 04:46] #9250 closed

[2020-06-05 04:53] #5970 closed

[2020-06-05 04:55] ramya-rao-a commented on #4842
Thanks @joheredi

@RodgeFu, @qiaozha, Can you work with the corresponding service side owner to update the swagger if needed?

[2020-06-05 04:56] ramya-rao-a commented on #7468
Thanks @joheredi, it might have been some temp issue in my environment.

[2020-06-05 04:56] #7468 closed

[2020-06-05 05:07] willmtemple commented on #8390
This was addressed in #8928

[2020-06-05 05:07] #8390 closed

[2020-06-05 05:16] jiacfan commented on #9232
@MRayermannMSFT Please feel free to let us know if [API](https://github.com/Azure/azure-sdk-for-js/blob/1b7428dffc5568da7f1e886f48857c33aad2a411/sdk/storage/storage-blob/src/BlobServiceClient.ts#L604) is working good for you. Close the issue as public API is provided.

[2020-06-05 05:16] #9232 closed

[2020-06-05 05:48] dw511214992 commented on #7258
Still waiting for service team to validate the sdk.

[2020-06-05 06:16] ljian3377 commented on #8785
@jiacfan
Could we close this as the fix is already released?

[2020-06-05 06:48] MRayermannMSFT commented on #9232
Huh, not sure why that didn't come up when I searched. Thanks @jiacfan !

[2020-06-05 07:35] #9299 closed

[2020-06-05 07:35] ChocoMomo commented on #9299
I have found an fix for my issue, i needed to use a polyfill in my project:
**@babel/plugin-proposal-async-generator-functions**

[2020-06-05 07:41] ramya-rao-a commented on #9297
@qiaozha, Can you add the right label here to route it to the right team?

[2020-06-05 07:43] ramya-rao-a commented on #9305
@jonathandturner Any ideas here?

[2020-06-05 07:43] ramya-rao-a commented on #9311
Thanks for reporting @ahsanhabib91

@chradek #8884 should fix this right?

[2020-06-05 08:36] qiaozha commented on #9297
Add service attention tag. why this new API version swagger https://github.com/Azure/azure-rest-api-specs/pull/9282 is merged  and asked for SDK release if the service backend is not ready?

[2020-06-05 08:42] jeremymeng commented on #9153
@agiokas-dbg I want to ensure that I understand it thoroughly:
1. you use the dockerized label tool to label sample forms, train a custom model, and analyze the document `finish_early.pdf`.  It all worked fine there.
2. when using the JS SDK `beginRecognizeForms()` on `finish_early.pdf`
  a. Locally in AWS SAM environment it works fine too
  b. in AWS it failed with a null response
3. The issue ha

[2020-06-05 08:53] qiaozha commented on #9297
Just been told that this is because server end problem the new api verson has been add back. @ntapsrigowri  Can you try again to see if the problem is still there? thx

[2020-06-05 09:18] ntapsrigowri commented on #9297
i just verified it at my end too. It works , thank you !

[2020-06-05 09:24] agiokas-dbg commented on #9153
Hi @jeremymeng I think you can close this issue. I tried it again today, first with SAM locally, then invoking the AWS step function code and it seems to work now. I suspect I had the older version active in one of my apps/lambdas. The newer one seems to have fixed it!

[2020-06-05 15:56] JeffreyCA commented on #9268
Thanks for updating it! The new version is working fine.

[2020-06-05 16:09] #9268 closed

[2020-06-05 16:18] ramya-rao-a commented on #8785
Yes, definitely.

Thanks everyone!

[2020-06-05 16:18] #8785 closed

[2020-06-05 16:23] jeremymeng commented on #9153
Sounds good. Thanks for testing it.

[2020-06-05 16:23] #9153 closed

[2020-06-05 17:21] HarshaNalluru commented on #5431
@mikeharder, yes.
We should probably make it a priority to fix the eslint errors in all the packages and make the step mandatory in the CI.

[2020-06-05 17:37] HarshaNalluru commented on #9305
Adding the devDependency `"@azure/identity"` to the external list in for the rollup test config fixes the issue.

[2020-06-05 17:40] #8353 closed

[2020-06-05 18:11] chradek commented on #9311
#8884 fixes some issues we've seen with TypeErrors being thrown from our dependencies. We had discovered that under some conditions we were re-opening our existing connection. This reset the connection's state and could sometimes caused these TypeErrors to be thrown if some pending tasks then attempted to read some state that had now been reset.

Looking at the stack trace, this looks like it may

[2020-06-05 18:22] chradek commented on #9298
@faraazhabeeb123 Thanks for opening this issue.
I have a few questions.
1. Just to confirm, are attempting to run event hubs in a browser?
2. Were you able to run the browser sample for sending events, or did you run the node.js sample?
3. You mentioned https-proxy-agent, are you attempting to connect through a proxy?

We have a sample of running the `@azure/event-hubs` package in a web browser he

[2020-06-05 18:34] ramya-rao-a commented on #9305
Thanks!

[2020-06-05 18:34] #9305 closed

[2020-06-05 18:38] chradek commented on #9294
@iliassays
Do you want an Azure Function that is triggered when there are events to process, or do you have an Azure Function triggered by some other means and you wish to process events in it?

If you want an Azure Function that is triggered automatically as new events become available to process, then using the [Azure Event Hubs bindings for Azure Functions](https://docs.microsoft.com/en-us/azur

[2020-06-05 19:01] faraazhabeeb123 commented on #9298
To answer your questions:
1) Yes, I am trying to run event hubs in a browser.
2) I was not aware of this sample, I ran node.js sample.
3) No, I was just clearing that I am not making use of it as we dont need it, but you saw it as a package installed in your sample.

Will surely give it a try with this new sample. Is tenant id and client id compulsory? Cant i just send event hub connection string

[2020-06-05 20:18] faraazhabeeb123 commented on #9298
I uninstalled @azure/identity and then removed all code related to tenant id and client id, still it give some error related to tenant id.
![image](https://user-images.githubusercontent.com/63436103/83919225-bf26f100-a73f-11ea-85c6-2a27e4dbd139.png)

[2020-06-05 20:42] chradek commented on #9298
Can you show me what your `sendEvents.js` file look like (without your connection string filled in) so I can check if anything else needs to be removed? The error message looks like it's still trying to use the InteractiveBrowserCredentials with the tenantId that was in the configuration.

[2020-06-05 20:48] faraazhabeeb123 commented on #9298
![image](https://user-images.githubusercontent.com/63436103/83921376-d49e1a00-a743-11ea-94f5-2a99e15d1961.png)
fullyQualifiedNamespace actually has the connection string, not namespace, i just didnt rename the parameter. Remaining code of the sendEvents.js file is still the same.

[2020-06-05 21:33] #7436 closed

[2020-06-05 21:33] #9231 closed

[2020-06-05 21:34] jeremymeng commented on #7588
Likely a limitation on the document from the service.

[2020-06-05 21:36] #6948 closed

[2020-06-05 21:43] jeremymeng opened #9345 "[FormRecognizer] user opaque continuation token when listing by page"
Currently, the service return the following string on the property `nextLink` of the result from listing pages

"https://jeremy-fr-canary.cognitiveservices.azure.com:443/formrecognizer/v2.0-preview/custom/models?nextLink=2!204!MDAwMTA4IXN1YnNjcmlwdGlvbnMvYThlOGQzYTYzMzdlNDZjZmI3OWM2MzZhZjA3MzAzMDcvbW9kZWxzLzU0ODhiZGI2LWFiN2EtNDRlMy1iNjVhLWNlZGM0ZmZlMmE2Ni91c2VMYWJlbEZpbGUuanNvbiEwMDAwMjghOTk5OS0xM

[2020-06-05 21:47] chradek commented on #9298
I just tried using a connection string with the same changes and it worked. Just to be sure, did you rebuild the dist/app.js (via npm run build) after updating sendEvents.js?

Here's a copy of my modified sample just in case:
[code]

[2020-06-05 22:00] faraazhabeeb123 commented on #9298
Yes, it turned out to be browser cache, whereas for my local project, it keeps giving the same error in connection.js line 137 file of rhea, when i ran npm run build, i saw this error, may be you know what this error is talking about.
![image](https://user-images.githubusercontent.com/63436103/83925920-fdc3a800-a74d-11ea-94cf-7636e3e23e77.png)

[2020-06-05 22:09] chradek commented on #9298
@faraazhabeeb123 What bundler are you using in your project? This looks to be related to an issue where your bundler isn't able to resolve rhea's `os` dependency. Some bundlers like parcel and webpack handle this by default, but others (like rollup) need some additional config.

[2020-06-05 22:09] faraazhabeeb123 commented on #9298
I was able to fix these above build issues, but still getting error in line 137 of connection.js i.e.
![image](https://user-images.githubusercontent.com/63436103/83926395-55164800-a74f-11ea-9e22-dd8a4a3044ac.png)

[2020-06-05 22:11] chradek commented on #9298
Is it possible for you to share a sample project that reproduces this issue? The smaller the better as long as it exhibits this problem. If the sample is working but the client isn't working in your project I might need to see more details to help troubleshoot.

[2020-06-05 22:40] mikeharder opened #9348 "Update dev dependency "rollup""
Our repo is currently using `rollup@1.32.1`.  A new major version `rollup@2.0.0` was released on 3/6/2020.  The upgrade may require significant changes.

https://github.com/rollup/rollup/blob/master/CHANGELOG.md#200

[2020-06-05 22:45] sadasant commented on #9174
@ricklang Hello 👋 I'll be doing my best effort to help you.

I've been trying to reproduce what you're mentioning, but I haven't been successful. I am going to try to be as detailed as possible, so that you can help us see if we did something differently.

My plan is to:

1. [Create the resources](#creating-the-resources).
   We will create one KeyVault, one user managed identity and one Web App,

[2020-06-05 23:18] mikeharder opened #9349 "Update dev dependency "karma""
Our repo is currently using `karma@4.4.1` and `karma-mocha@1.3.0`.  New major versions of these dependencies have been released, however they dropped support for Node 8.  They might still work on Node 8, but given these packages are our test runner, it might be safer to say on the older versions.

PR updating to `karma@^5.1.0`: #10190

[2020-06-06 01:08] faraazhabeeb123 commented on #9298
[https://github.com/faraazhabeeb123/TestProject](url) I have added you to this test project and I am able to reproduce the error. I have added you as collaborator as well.

[2020-06-06 12:52] viveksesha opened #9353 "generateBlobSASQueryParameters(...).toString() returns improperly escaped URL query parameters"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.1.1
- **Operating system**: Ubuntu 18.04.4
- [x] **nodejs**
    - **version**: 12.16.1
- [x] **typescript**
    - **version**: 3.8.3

**Bug description**

generateBlobSASQueryParameters(...).toString() sometimes generates improperly escaped URL query parameters. This happens rarely. In all the instances it occurred, the improperly e

[2020-06-06 13:14] jiacfan commented on #9300
Thanks for reaching us.

Add link to issue [8903](https://github.com/Azure/azure-sdk-for-js/issues/8903).

At same time, @thesiti92 would you help to provide the detailed error messages?

Thanks,
Jiachen

[2020-06-06 14:30] thesiti92 commented on #9300
i get the generic `<AuthenticationErrorDetail>The MAC signature found in the HTTP request '<sig>' is not the same as any computed signature.` error message. is there any way i can get you more details?

[2020-06-06 14:30] thesiti92 commented on #8903
Opened a new issue #9300

[2020-06-07 17:29] southpolesteve commented on #6305
Migrate to azure core logging library https://github.com/Azure/azure-sdk-for-js/issues/9250

[2020-06-08 00:50] ramya-rao-a commented on #9318
@heaths I see this assigned to the June milestone which is already past its last date. Did you mean for this to be in the July milestone?

[2020-06-08 00:50] ramya-rao-a commented on #9321
@heaths I see this assigned to the June milestone which is already past its last date. Did you mean for this to be in the July milestone?

[2020-06-08 02:24] vennapusa4 opened #9359 "Unable to upload file with in for loop"
I am trying to upload records to azure blob if records size is more than 10000 i am spliting into multiple files and iterate through those files and uploading. but somehow loop is breaking and files are not getting upload

below is my Code

[code]

if i remove await in front of ` blockBlobClient.upload(selectedRowss, selectedRowss.length);` it works which is not i wanted

[2020-06-08 03:49] jiacfan commented on #9300
@thesiti92

Would you help to provide the server request id?

e.g. The RequestId field in body:

[code]

It would be nice if the repro is in 5 days.

Thanks,
Jiachen

[2020-06-08 05:29] ljian3377 commented on #8744
According to @XiaoningLiu, also could add these three.
[code]
Note that `preprod.core.windows.net` need to be put in front of `core.windows.net`.

[2020-06-08 05:46] #9028 closed

[2020-06-08 06:03] pvrk commented on #7630
@joheredi : this is being tracked against the recovery services module whereas it is clear that the investigation lies elsewhere. Can you please remove the recovery services label and assign the relevant one?

[2020-06-08 07:03] ramya-rao-a commented on #7630
@pvrk We will keep the label of `Recovery Services Backup` because the package for this service is being discussed. We have removed the `Service Attention` label which tells that there is nothing here for the service team to look at and that we will do the necessary followup

[2020-06-08 11:13] #8516 closed

[2020-06-08 15:00] thesiti92 commented on #9300
Here's my entire error string, repro'd 2 mins before posting this
[code]

[2020-06-08 17:45] heaths commented on #9318
I mentioned to the other devs in our standup on Thursday and in our Teams channel that I was going to open it against June in case they could make it, but that they should move it out if they couldn't.

[2020-06-08 17:45] heaths commented on #9321
I mentioned to the other devs in our standup on Thursday and in our Teams channel that I was going to open it against June in case they could make it, but that they should move it out if they couldn't.

[2020-06-08 19:07] richardpark-msft opened #9371 "[service-bus] T2 samples don't compile with current tsconfig.json and package.json"
We need to make sure the samples compile standalone - two issues I'm seeing:

- tsconfig.json doesn't have the lib entry for AsyncIterable so it doesn't compile
- package.json is referencing a version of `https-proxy-agent` (5.0.0) and that version doesn't compile against our sample.

[2020-06-08 20:31] jeremymeng commented on #8927
This is done.  Training now throw an error on invalid status, with error messages including information about the details of what documents have errors.

[2020-06-08 20:31] #8927 closed

[2020-06-08 20:33] jeremymeng commented on #9269
Is this Java work, or tracking JS work?

[2020-06-08 20:34] jeremymeng commented on #9345
We think the most important thing is that users can save a string and use the string to continue the paging. Whether it is a token, or a full string doesn't matter much.

/cc @ctstone

[2020-06-08 20:45] chradek commented on #7109
This change is now available in `@azure/event-hubs` version 5.2.1:
https://www.npmjs.com/package/@azure/event-hubs/v/5.2.1

Here's some more info on all the changes that went into this version:
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-hubs/CHANGELOG.md#521-2020-06-08

[2020-06-08 20:46] chradek commented on #7112
This change is now available in `@azure/event-hubs` version 5.2.1:
https://www.npmjs.com/package/@azure/event-hubs/v/5.2.1

Here's some more info on all the changes that went into this version:
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-hubs/CHANGELOG.md#521-2020-06-08

[2020-06-08 20:46] chradek commented on #8584
The fix for this issue is now available in `@azure/event-hubs` version 5.2.1:
https://www.npmjs.com/package/@azure/event-hubs/v/5.2.1

Here's some more info on all the changes that went into this version:
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-hubs/CHANGELOG.md#521-2020-06-08

[2020-06-08 20:48] chradek commented on #8419
This has been addressed by #9342.

[2020-06-08 20:48] #8419 closed

[2020-06-08 20:50] chradek commented on #8798
Thanks for reporting this issue! We've made both changes you've suggested and have published version 5.2.1 of the `@azure/event-hubs` package with these changes.

[2020-06-08 20:50] #8798 closed

[2020-06-08 20:54] chradek commented on #8873
@kwontae
We've updated the sample and the documentation for `processEvents` to make it clearer that `events` can be an empty array, and why that can happen as part of #9340

Thanks for pointing out how we could improve our docs! I'll close this issue since I believe we've addressed the original questions, but feel free to comment or open a new issue if there's more you want to discuss.

[2020-06-08 20:54] #8873 closed

[2020-06-08 20:55] HarshaNalluru opened #9375 "[Service Bus] ATOM Management followups"
- [x] Sample and readme updates
- [x] ISO 8601 Time stamp to Date type ?
- [x] [top, skip] -> [maxCount, skip] ?
- [x] ISO 8601 Time duration to number type ?
  - Conversation - https://github.com/Azure/azure-sdk-for-js/pull/9430#discussion_r440320811
  - Conclusion - Since JS lacks the special Duration type, we're sticking with the ISO 8601 Time duration string type. This also aligns with the app

[2020-06-08 20:57] xirzec commented on #8176
This was done by #8365

[2020-06-08 20:57] #8176 closed

[2020-06-08 21:24] sadasant commented on #9174
Just to report back with something I've been doing in parallel:

I have tried a very similar workflow as the one mentioned, but against Azure Functions instead of Azure App Services, and I can't reproduce the bug in Azure Functions. Azure App Services might take me some time.

[2020-06-08 21:33] sarangan12 commented on #7166
Closing this. Moving open issues to https://github.com/Azure/azure-sdk-for-js/issues/8801

[2020-06-08 21:33] #7166 closed

[2020-06-08 21:52] HarshaNalluru commented on #8672
Opened a draft at https://github.com/amqp/rhea/pull/305

[2020-06-08 22:08] chradek commented on #9298
@faraazhabeeb123 Thanks for creating a project to reproduce this. I'm taking a look.

[2020-06-08 22:36] mssfang commented on #9269
Sorry. Wrong repo

[2020-06-08 22:36] #9269 closed

[2020-06-08 22:58] anilpras opened #9378 "blockBlobClient.uploadFile, intermittently takes > 120s and timeout to upload an image of size approx. 800 KB, works all the time for smaller size image"
blockBlobClient.uploadFile(filePath,..) intermittently takes > 120 second followed by timeout for an image of size approx. 800 KB to upload. The upload happens one after the other. Sometimes, the 800 KB image gets uploaded in less than a second. **If I reduce the size of the image to < 100 KB it gets uploaded all the time, no failure has observed.**

This is an **azure app service** https://Sitena

[2020-06-08 23:07] HarshaNalluru opened #9379 "[Service Bus] Update method under ATOM Management Client"
Update method allows only a subset of parameters from QueueDescription to be changed, users may get confused by not knowing which ones are updatable.
Should we consider a new options bag for the update method?

https://docs.microsoft.com/en-us/rest/api/servicebus/update-queue

[2020-06-08 23:51] jeremymeng commented on #9378
@XiaoningLiu could your team have an initial investigation?

@anilpras could you turn on the info log level and see if anything interesting happens when the issue repro?
- by environment variable
   `export AZURE_DEBUG_LEVEL=info`
- or in the code
[code]

[2020-06-09 00:05] jonathandturner opened #9383 "[Identity] Align managed identity errors with .NET"
- **Package Name**: Identity

**Describe the bug**
This is a follow-up issue for https://github.com/Azure/azure-sdk-for-js/pull/9374. We need to go back over Managed Identity and ensure that the errors we're returning are the expected ones and meet the general spirit of how the SDK should error (or not error) to the user based on the way the connection to the service failed.

**To Reproduce**
Step

[2020-06-09 00:37] mikeharder opened #9385 "Update dev dependency "@types/eslint""
Our repo is currently using `@types/eslint@^4.16.8`, but the latest is currently `@types/eslint@6.8.1`.  Attempting to update results in type errors:

[code]

https://dev.azure.com/azure-sdk/public/_build/results?buildId=416460&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t=26452410-bb74-52b8-246c-3b6de8b4706f&l=117

Draft PR: https://github.com/Azure/azure-sdk-for-js/pull/9049

[2020-06-09 00:47] mikeharder opened #9386 "Update dev dependency "@types/estree""
Our repo is currently using `@types/estree@0.0.39`, but `@types/estree@0.0.44` is available. Attempting to update results in type errors:

[code]

https://dev.azure.com/azure-sdk/public/_build/results?buildId=416456&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t=26452410-bb74-52b8-246c-3b6de8b4706f&l=117

Draft PR: https://github.com/Azure/azure-sdk-for-js/pull/9051

[2020-06-09 02:45] dw511214992 commented on #7258
Service team need more time to validate the sdk. If you want to use the latest sdk now, which has not been validated, you can find it in https://github.com/Azure/azure-sdk-for-js/tree/release-arm-automation/sdk/automation/arm-automation.
Thank you

[2020-06-09 05:55] ramya-rao-a commented on #8502
@AnandKatta Hopefully the pinter @chradek provided above helps with checkpointing. Closing this issue now as we havent heard back from you in a while. Please log a new issue if you are still having problems using the event hubs package in angular

[2020-06-09 05:55] #8502 closed

[2020-06-09 06:15] ramya-rao-a commented on #9050
As part of this upgrade, we should consider updating all other eslint plugin related dependencies like
- @types/eslint
- @types/estree
- @typescript-eslint/eslint-plugin
- @typescript-eslint/experimental-utils
- @typescript-eslint/parser
- @typescript-eslint/typescript-estree

[2020-06-09 06:16] ramya-rao-a commented on #9385
Closing this issue as we will be tracking all eslint related upgrades as part of #9050

[2020-06-09 06:16] #9385 closed

[2020-06-09 06:17] ramya-rao-a commented on #9386
These updates can mostly not be done in isolation. The various eslint related dependencies in the eslint plugin are most likely tightly coupled.

Closing this issue as we will be tracking all eslint related upgrades as part of #9050

[2020-06-09 06:17] #9386 closed

[2020-06-09 07:53] qiaozha commented on #9297
Close this one as resolved

[2020-06-09 07:53] #9297 closed

[2020-06-09 07:55] ljian3377 opened #9403 "[storage][blob & file-datalake] fix uploadStream to support block size larger than buffer.constants.MAX_LENGTH"
Current implementation use Buffer as the internal container for the data been uploaded, which has a size limit of buffer.constants.MAX_LENGTH. Need to store the data for retry.
On 32-bit architectures, this value currently is (2^30)-1 (~1GB). On 64-bit architectures, this value currently is (2^31)-1 (~2GB).

This becomes a limitation as Jumb Putblock now supports a maximum block size of 4000MB.

#

[2020-06-09 10:53] jiacfan commented on #9130
@johnmeng24

Thanks for reaching us! And sorry for delay. Would you help to elaborate "file cached in local.", and what local mean?

BTW. As https://docs.microsoft.com/en-us/rest/api/storageservices/put-blob described, azure storage service stores the value of cache-control, while will not use or modify it in service side:

Cache-Control | Optional. The Blob service stores this value but does not

[2020-06-09 11:05] Deon-v commented on #4244
@ramya-rao-a Is there going to be an update for this on NuGet for .net Core 3.1 client, I have the same issue here?

[2020-06-09 12:01] AdamMachera commented on #8436
Can't you guys consider checking AZURE_CLIENT_MANAGED_ID if clientId was not passed to constructor. Some of customers want to use USER assigned identities and If internally ManagedIdentityClient cannot read clientId,
it is required to do something like this
            let tokenCredential: identity.TokenCredential;
            const clientId = process.env['AZURE_CLIENT_ID'];
            if (WEBSIT

[2020-06-09 12:06] sadasant opened #9404 "[Identity] Manual tests are outdated & instructions are insufficient"
Hi team!

Identity's manual tests are outdated, so they break when one tries to build them. The interactive browser credentials used in those tests are also not working for me, but I believe this is because of my setup. Perhaps something is wrong with the configurations or the resources I am trying to use.

The action items of this issue are:

- [ ] Fix the manual tests.
- [ ] Document how to make

[2020-06-09 12:59] jiacfan commented on #9300
The request is put file with sharedKey authN, and it looks like when route with express content-length is not provided.
More details: As described [here](https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key), the signature string to be sign should be in following format:
[code]
While in service side, we didn't see Content-Length field. Will check further and see if c

[2020-06-09 13:11] jiacfan commented on #9378
@anilpras would you provide a server request id for such failure. BTW, what's the Avg RTT between your service and storage account? And is the latency jittering?

[2020-06-09 14:24] faraazhabeeb123 commented on #9298
Sorry, I think I missed it, but I have added it now. Adding it still gives the error though.

[2020-06-09 16:21] zfoster opened #9406 "[Cosmos] Better runtime checks for CosmosClient initialization"
**Is your feature request related to a problem? Please describe.**
Currently, if you pass an object with undefined values to `new CosmosClient()`, you get a seemingly strange unrelated error message: `Cannot read property 'replace' of undefined`

**Describe the solution you'd like**
A good starting solution is to add trivial runtime checks to the CosmosClient initializer

**Describe alternatives y

[2020-06-09 16:49] ramya-rao-a commented on #4244
@Deon-v This repository is for the JS SDK for Azure services. For the .Net one, you will need to log an issue in the corresponding repo. If you can share the name of the nuget package you are using, I can direct you to the right repo

[2020-06-09 18:02] chradek commented on #9298
@faraazhabeeb123 I posted a comment in your repo but wanted to close the loop here as well.

The project was using a pollyfill for process.nextTick that was a no-op. Since `rhea`, our dependency, uses process.nextTick frequently, this caused rhea to be unable to respond to events from the websocket.

The solution in this case is to change the pollyfill for `process.nextTick` (my suggestion was to

[2020-06-09 18:07] sadasant opened #9408 "[Identity] Add support for the new environment variables."
The latest documentation available by the identity docs show that the Azure resources are moving from `MSI_ENDPOINT` and `MSI_SECRET` to `IDENTITY_ENDPOINT` and `IDENTITY_SECRET`. Here's an example:

https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=javascript#obtain-tokens-for-azure-resources

We should prepare for this by taking the value of the endpoint and the s

[2020-06-09 18:57] faraazhabeeb123 commented on #9298
Thanks for that hint. I searched how to add process package and when I added it, it seemed to work with no errors.

[2020-06-09 19:02] mikeharder opened #9409 "Update dev dependency "nyc""
Our repo is currently using `nyc@^14.0.0`.  A new major version `nyc@15.0.0` was released on 12/20/2019:

https://github.com/istanbuljs/nyc/blob/master/CHANGELOG.md#1500-2019-12-20

I attempted to upgrade, and it mostly worked but tests failed on Windows with the following error:

[code]

I believe this due to a bug in `pnpm` which impacts `nyc`: https://github.com/istanbuljs/nyc/issues/1308.  I t

[2020-06-09 19:20] mikeharder opened #9410 "Update dev dependency "@microsoft/api-extractor""
Our repo is currently using `@microsoft/api-extractor@7.7.11`.  The version is pinned because newer versions cause build breaks.

I attempted to upgrade to the latest version, but this causes other issues:

1. We would need to add type annotations to some of our public APIs, as a workaround for https://github.com/microsoft/rushstack/issues/1050.  A fix for this issue is being worked on, so alterna

[2020-06-09 20:15] anilpras commented on #9378
@jiacfan : sent you an email with the detail.

[2020-06-09 21:07] #9371 closed

[2020-06-09 21:12] richardpark-msft opened #9415 "[event-hubs] Validate websockets sample file"
Based on the issue here: https://github.com/Azure/azure-sdk-for-js/issues/9371

We should go through and check the same thing with eventhubs.

[2020-06-09 21:28] HarshaNalluru commented on #9379
Two problems with update requests..
- Default values would override if only a subset of properties of QueueDescription are provided in the request
- The update request with only a subset of attributes from QueueDescription would result in a response that doesn't contain all the attributes from QueueDescription(partial QueueDescription)

Above problems can be avoided by
- Telling users to make a ge

[2020-06-09 21:34] KarishmaGhiya opened #9416 "Script to automate creating PR by the bot fails with weird errors"
- Error -
[code]

- We need to first get the PS script output all the arguments properly to understand what the issue is
- Example failures -  https://dev.azure.com/azure-sdk/internal/_build/results?buildId=418186&view=logs&j=bba158a1-2b6a-5fe7-ed7e-1492a6d92e75&t=b0fd678a-ce64-584f-88fd-a6de1ebe2276

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=416325&view=logs&j=b8e84bfe-5a2

[2020-06-09 22:28] ramya-rao-a commented on #9410
My concern with the Location -> Location_2 change is that it s quite pervasive. Given that we use the output of the api extractor to do API reviews, this creates noise and not a pleasant experience

[2020-06-09 23:06] mikeharder commented on #9410
I believe the `Location -> Location_2` change was implemented in https://github.com/microsoft/rushstack/pull/1767.  According to @xirzec, the new behavior is more correct, and this is impacting some of our packages because they use type names which conflict with `dom.d.ts`.

We could create an issue in the `api-extractor` repo, requesting an option to revert this behavior change.  But I'm not sure

[2020-06-10 00:30] ramya-rao-a commented on #1057
Hello all,

We are happy to share that the third preview to v7 (7.0.0-preview.3) of the `@azure/service-bus` package now supports the CRUD & list operations on queues, topics, subscriptions and rules via a separate "client" that can be instantiated either via a connection strong or an AAD credential.

Please checkout the [sample for management operations](https://github.com/Azure/azure-sdk-for-js/

[2020-06-10 00:30] #1057 closed

[2020-06-10 00:32] ramya-rao-a commented on #3116
Hello all,

We are happy to share that the third preview to v7 (7.0.0-preview.3) of the `@azure/service-bus` package now supports the CRUD & list operations on queues, topics, subscriptions and rules via a separate "client" that can be instantiated either via a connection strong or an AAD credential.

Please checkout the [sample for management operations](https://github.com/Azure/azure-sdk-for-js/

[2020-06-10 00:33] ramya-rao-a commented on #6690
Hello!

We are happy to share that the third preview to v7 (7.0.0-preview.3) of the `@azure/service-bus` package now supports the CRUD & list operations on queues, topics, subscriptions and rules via a separate "client" that can be instantiated either via a connection strong or an AAD credential.

Please checkout the [sample for management operations](https://github.com/Azure/azure-sdk-for-js/blob

[2020-06-10 00:33] ramya-rao-a commented on #9105
Hello!

We are happy to share that the third preview to v7 (7.0.0-preview.3) of the `@azure/service-bus` package now supports the CRUD & list operations on queues, topics, subscriptions and rules via a separate "client" that can be instantiated either via a connection strong or an AAD credential.

Please checkout the [sample for management operations](https://github.com/Azure/azure-sdk-for-js/blob

[2020-06-10 00:33] ramya-rao-a commented on #8216
Hello!

We are happy to share that the third preview to v7 (7.0.0-preview.3) of the `@azure/service-bus` package now supports the CRUD & list operations on queues, topics, subscriptions and rules via a separate "client" that can be instantiated either via a connection strong or an AAD credential.

Please checkout the [sample for management operations](https://github.com/Azure/azure-sdk-for-js/blob

[2020-06-10 00:33] ramya-rao-a commented on #8195
Hello!

We are happy to share that the third preview to v7 (7.0.0-preview.3) of the `@azure/service-bus` package now supports the CRUD & list operations on queues, topics, subscriptions and rules via a separate "client" that can be instantiated either via a connection strong or an AAD credential.

Please checkout the [sample for management operations](https://github.com/Azure/azure-sdk-for-js/blob

[2020-06-10 00:34] ramya-rao-a commented on #7991
Hello!

We are happy to share that the third preview to v7 (7.0.0-preview.3) of the `@azure/service-bus` package now supports the CRUD & list operations on queues, topics, subscriptions and rules via a separate "client" that can be instantiated either via a connection strong or an AAD credential.

Please checkout the [sample for management operations](https://github.com/Azure/azure-sdk-for-js/blob

[2020-06-10 00:34] ramya-rao-a commented on #8086
Hello!

We are happy to share that the third preview to v7 (7.0.0-preview.3) of the `@azure/service-bus` package now supports the CRUD & list operations on queues, topics, subscriptions and rules via a separate "client" that can be instantiated either via a connection strong or an AAD credential.

Please checkout the [sample for management operations](https://github.com/Azure/azure-sdk-for-js/blob

[2020-06-10 00:34] ramya-rao-a commented on #7938
Hello!

We are happy to share that the third preview to v7 (7.0.0-preview.3) of the `@azure/service-bus` package now supports the CRUD & list operations on queues, topics, subscriptions and rules via a separate "client" that can be instantiated either via a connection strong or an AAD credential.

Please checkout the [sample for management operations](https://github.com/Azure/azure-sdk-for-js/blob

[2020-06-10 01:38] ramya-rao-a commented on #9415
If there are any changes to be done here, please also review https://github.com/Azure-Samples/azure-iot-samples-node/tree/master/iot-hub/Quickstarts/read-d2c-messages

[2020-06-10 02:57] ljian3377 commented on #8903
Nice catch on the `CONTENT_LENGTH` workaround though.
We can remove it as we do not use axio now.

[2020-06-10 02:57] jiacfan commented on #9300
[axios/axios#2107](https://github.com/axios/axios/issues/2107) @jeremymeng, as we changing to use node-fetch, it looks like the workaround is no more necessary, considering node-fetch brings override's semantic for content-length: https://github.com/node-fetch/node-fetch/blob/0936a9af0a049eb05897779f3f0df6b903a95d60/src/request.js#L237, what's your through?

[2020-06-10 04:15] jiacfan commented on #9378
@anilpras sure, let's follow up via email.

[2020-06-10 04:51] XiaoningLiu commented on #9353
Thanks for report! I'll check what happens, thanks for your efforts with over 1000 attempts.

[2020-06-10 04:54] XiaoningLiu commented on #9359
Hi @vennapusa4, can you help provide details here, such as errors or exceptions? We cannot help too much because the sample code is complex and needs your further debug to locate the error point.

[2020-06-10 04:56] XiaoningLiu commented on #9353
@ljian3377 Can you help check? Given the CRI assignment.

[2020-06-10 04:57] XiaoningLiu commented on #9359
@ljian3377

[2020-06-10 05:59] sarangan12 commented on #9094
@wiazur I apologize for the delay. I have attached a working sample code using our SDK and a working sample using `axios`. (Note: In both cases, I have used 3 face attributes. You can add more based on your requirement)  Please try them out and let me know if you have any questions:

**Sample Code Using SDK**

[code]

**Sample Code Using Axios**

[code]

**Output**(For Both the cases using SDK & A

[2020-06-10 06:22] ramya-rao-a commented on #8286
Closing this due to potential error scenarios due to batch being cleared in the process of sending and other corner cases. We will wait to see if there is user feedback here to revisit.

[2020-06-10 06:22] #8286 closed

[2020-06-10 07:41] simonauner commented on #7991
Works like a charm, exactly what I wanted. Thanks a lot!

[2020-06-10 08:00] ljian3377 opened #9436 "[storage][autorest] field added to the child class of serviceClient unexpectedly and `isXML = ture`"
[code]

1. **solved** - In storage-file-datalake's generated file "src\generated\src\storageClientContext.ts"
`StorageClientContext` has a new field `mode` causing complie issues.
`mode: Models.PathSetAccessControlRecursiveMode;`

2. In storage-file-share,
`createPermissionOperationSpec.isXML` is set to true, expecting false.

**Versions**:
AutoRest code generation utility [cli version: 3.0.6187;