[2020-01-04 07:44] devdnn commented on #6532
Agree, this is a good to have feature. Please plan on implementing this

Is the code sample on how to use getProperties method to check if a directory or a file exists in the File Storage? - [Link](https://docs.microsoft.com/en-us/javascript/api/@azure/storage-file-share/sharedirectoryclient?view=azure-node-latest#getproperties-directorygetpropertiesoptions-)

[2020-01-05 22:54] jonathandturner commented on #5898
@joshfree - to reactive, should we reopen issue?

[2020-01-06 13:24] keesschollaart81 opened #6780 "Commerce API breaks on deserializing BOM character in RateCard response?"
- **Package Name**:
@azure/arm-commerce

- **Package Version**:
2.1.1

- **Operating system**:
macOS Mojave 10.14.6

- [x] **nodejs**
    - **version**: v10.16.3
- [ ] **browser**
    - **name/version**: N/A
- [x] **typescript**
    - **version**: 3.4.1
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.co

[2020-01-06 16:41] natmegs commented on #6725
@qiaozha as explained above, I have not been able to use @azure/ms-rest-nodeauth due to a type error describe in the linked issue. Any suggestions on that issue, that might allow me to close this one, are highly appreciated! :)

[2020-01-06 16:57] ramya-rao-a commented on #4766
Ensuring that sending, receiving, receiving from checkpoint, recovering from network outage works as expected is good enough for the task being tracked in this issue.

Regarding issues for recovery from restarting the proxy itself, they are worth investigating. Please log a separate issue with details along with repro steps.

Regarding invalid consumer group, the client library does not have a way

[2020-01-06 16:57] #4766 closed

[2020-01-06 17:03] #6669 closed

[2020-01-06 17:11] chradek commented on #6564
#6737 updated how the SDK handles reconnect behavior for both sending and receiving events.

The SDK now treats errors as a result of disconnects as something that should be retryable as per the user-provided retry options. Previously, disconnects would trigger a background reconnection attempt with its own retry options that the user couldn't configure.

I validated that in both the sending and r

[2020-01-06 17:11] #6564 closed

[2020-01-06 17:26] weshaggard commented on #6749
Yes this should be added. @KarishmaGhiya can you please work on this and talk with @chidozieononiwu if you have any questions as he is working on the change log verification.

[2020-01-06 19:13] #6651 closed

[2020-01-06 19:17] ramya-rao-a commented on #4728
@kaerm, @maggiepint The above samples links continue to lead to 404

[2020-01-06 19:23] natmegs commented on #6725
Resolved upstream in linked issue.

[2020-01-06 19:23] #6725 closed

[2020-01-06 19:26] ramya-rao-a commented on #5488
Closing this issue as #6668 is merged.

[2020-01-06 19:26] #5488 closed

[2020-01-06 19:31] abshamsft commented on #3279
The on-demand test capability is available now is also supported through [portal](https://docs.microsoft.com/azure/application-gateway/application-gateway-create-probe-portal#test-backend-health-with-the-probe)
#please-close

[2020-01-06 20:41] ramya-rao-a commented on #6780
Thanks for reporting @keesschollaart81

@qiaozha Can you take a look if this is an sdk issue or a service side issue?

[2020-01-06 22:26] xirzec commented on #6297
`NiseRecorder` mocks out XHR with `const xhr = nise.fakeXhr.useFakeXMLHttpRequest();` inside `playback` and `record`, but `stop` doesn't restore the mock like `NockRecorder` does. Maybe that has an impact?

[2020-01-06 23:06] hally9k commented on #6596
@ramya-rao-a I have been super busy over the holiday period and have not had time to reproduce this. I have not forgotten though and will get to a reproduction case soon, hopefully.

[2020-01-06 23:49] #6756 closed

[2020-01-06 23:53] ramya-rao-a opened #6789 "[Event Hubs] Update logging instructions"
The Troubleshooting section in the Readme for Event Hubs talks has steps to [enable logs](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/eventhub/event-hubs#enable-logs) that might no longer be applicable after #6617 and therefore needs an update

[2020-01-07 00:10] et13 commented on #6548
@richardpark-msft, do you have an ETA for when the new package with be published?

[2020-01-07 00:20] richardpark-msft commented on #6548
We're planning on releasing tomorrow morning (1/7)

[2020-01-07 01:11] HarshaNalluru opened #6793 "Fix inconsistencies in the test scripts of package.json"
test, unit-test or integration-test should not have info about the TEST_MODE, that way they support all the modes.

Changes to be done..
#6804
- [x] Removing existing references of TEST_MODE in package.json,
- [x] If the TEST_MODE is not set, running any of the three commands should run the tests in playback.
    - [x] Update recorder package accordingly
- [x] For the CI's live and unit tests - in

[2020-01-07 01:33] xirzec commented on #6297
After some debugging, found this fix for the issue: https://github.com/HarshaNalluru/azure-sdk-for-js/commit/1bdc86b9bc5ecd1f83c6263c7788f8974977b469

[2020-01-07 01:34] xirzec commented on #6297
Seems like there is some issue with karma not properly logging unhandled exceptions from outside of a test and failing silently when using headless chrome

[2020-01-07 02:26] erwelch opened #6803 "BlobServiceClient.fromConnectionString only works for SAS connection strings"
- **Package Name**: azure/storage-blob
- **Package Version**: 12.0.1
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 10.14.1
- [x] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Per the [documentation](https://docs.microsof

[2020-01-07 03:01] qiaozha commented on #6780
I think it's a service side issue. the original responseBody has already contained the BOM.

[2020-01-07 03:58] tmschbgr opened #6805 "Storage Queue process message returns base64 encoded messages"
- **Package Name**: @azure/storage-queue
- **Package Version**: 12.0.1
- **Operating system**: Windows OS
- [x] **nodejs**
    - **version**: v12.13.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug

[2020-01-07 04:10] hally9k commented on #6706
@chradek @ramya-rao-a I just set up some new event hubs in another region (Australia East) with 32 partitions each and now I'm seeing this behaviour on my primary and only EPH instance. Can you please help me understand the issue here.

[2020-01-07 04:43] hally9k commented on #6706
This line that casts to any seems to be a bit fishy: https://github.com/Azure/azure-sdk-for-js/blob/beb20d6071254ba0e5b5517c758acd7d38abe0cd/sdk/eventhub/event-hubs/src/eventHubReceiver.ts#L613

[2020-01-07 12:26] rithinskaria commented on #6780
I am also facing the same issue, tested this call in python and I got this values added to the expected output:

root@UbuntuDocker:~# od -c test1.txt | head -5
0000000   **b   '   \   x   e   f   \   x   b   b   \   x   b   f**   {   "
0000020   O   f   f   e   r   T   e   r   m   s   "   :   [   ]   ,   "
0000040   M   e   t   e   r   s   "   :   [   {   "   E   f   f   e   c
0000060   t   i   v

[2020-01-07 14:56] angelqmx opened #6816 "Error sending scheduled Message, null payload."
When trying to send a schedule message using the code
[code]

The message is delivered on th correct time but the body is null. After checking the code on the sdk, on the schedule message the body is not being encrypted (which is diferent when we do a normal send), so if i add the line:
[code]
The message is delivered with the correct body.

[2020-01-07 16:10] bgklein commented on #5496
@manishsat I am going to go ahead and close this for now, as we know it was service related and made improvements to fix the core issues related to job manager tasks.  If you experience incorrect counts again feel free to create an issue on Azure/Batch Github repo or file a support ticket as it would likely be Service related (rather than SDK).

[2020-01-07 16:10] #5496 closed

[2020-01-07 16:46] EricJizbaMSFT commented on #4921
@v-dantch is on our test team for the Azure extensions in VS Code and I'm not sure why the bug was filed on this repo. @v-dantch was this supposed to be filed here? I'm guessing we can close this in favor of https://github.com/microsoft/vscode-azureappservice/issues/1342

[2020-01-07 18:08] #6625 closed

[2020-01-07 18:39] jeremymeng commented on #6024
Closing this. We now track issues by milestones and labels instead.

[2020-01-07 18:39] #6024 closed

[2020-01-07 19:17] jeremymeng commented on #6803
@erwelch could you please try removing the empty delimiter `''` from the `containerClient.listBlobsByHierarchy('')` call?  Or pass `undefined` to the call. Empty string doesn't work well with our API.  We have fixed similar issue for `prefix` of empty strings in #6001.  We could do similar for `delimiter` parameter too.

[2020-01-07 19:34] jeremymeng commented on #6805
@tmschbgr could you please share your code snippets that reproduced the issue? I just tried the sample of sending `"hello world"` and the received message text is still `"hello world"`, i.e., not base64-encoded.

[2020-01-07 20:14] erwelch commented on #6803
@jeremymeng since `listBlobsByHierarchy()` requires the prefix be a string, not `undefined` I converted to `listBlobsFlat()` to test this and it does work. Why the difference depending on the connection string passed though?

[2020-01-07 20:18] richardpark-msft opened #6821 "[core-http] Remove need for lib: ['dom'] in packages that consume core-http"
As part of building the samples for appconfig we were forced to add in the lib: ['dom'] in order to get the samples package to compile.

As mentioned by @bterlson:

_Originally posted by @bterlson in https://github.com/Azure/azure-sdk-for-js/pull/6817_

[2020-01-07 20:54] jeremymeng commented on #6803
You are right, we currently don't allow `undefined` delimiter.

I don't think it is related to the connection string. The error is not that obvious, but what happened is that `delimiter=` is included in the http request url query,  which caused problem for the service.

[2020-01-07 21:17] tmschbgr commented on #6805
The important question is if you encrypt message when adding it to the queue.

When manually adding a message to the queue in Azure Portal you get a checkbox "Encode the message body in Base64. I created an encrypted and an unencrypted message. In Node I get back:

**Encrypted:** SGVsbG8gV29ybGQgRW5jb2RlZA==
**Unencrypted:** Hello World Decoded

The messages I am trying to consume get generated by

[2020-01-07 21:23] #5994 closed

[2020-01-07 21:47] jeremymeng commented on #6805
Thanks @tmschbgr it is clearer to me now this is more a feature request of specifying option to decode the messages text when retrieving messages. /cc @XiaoningLiu  @bterlson

[2020-01-07 21:50] jeremymeng commented on #6803
This is probably the reason why we have two ways to list blobs. If you don't use the hierarchy then `listBlobsFlat()` is the right function to use.

[2020-01-07 22:13] richardpark-msft commented on #6548
@et13  - the AppConfig 1.0 package has been released!

[2020-01-07 22:47] #6323 closed

[2020-01-08 00:40] richardpark-msft commented on #6604
New features in V5:
* Backpressure
* Out of order event delivery has been removed.
* Retry is now fully configurable.

[2020-01-08 00:45] richardpark-msft commented on #6108
Customer has a case where their initialization per partition is expensive so stealing and constantly cycling partitions hurts their performance. This makes the greedy approach a non-starter for their use-case.

[2020-01-08 00:46] richardpark-msft commented on #6082
@conniey is looking into this design.

[2020-01-08 00:46] #6082 closed

[2020-01-08 00:53] chradek commented on #6706
@hally9k
Apologies for the late response, I was on holiday and missed the notification. I'll take a look at your logs.

Just to make sure I understand, to reproduce this you:
1. Use EPH to read events from an event hub using ConsumerGroup 1.
2. Use another EPH instance (assuming this is in a different process but please let me know) to read events from the same event hub using ConsumerGroup 2.

An

[2020-01-08 01:05] jeremymeng opened #6830 "[Storage] document DFS_ACCOUNT_* variables in CONTRIBUTING.md"
Can they use the same name as in other storage packages (blob/file-share/queue)? If not we need to call them out for file-datalake

[2020-01-08 01:09] richardpark-msft commented on #6508
This is done - I've added in a section to the readme as part of #6790

[2020-01-08 01:09] #6508 closed

[2020-01-08 01:14] HarshaNalluru commented on #6295
#6804 fixes this as well

[2020-01-08 01:16] #6789 closed

[2020-01-08 01:32] ramya-rao-a commented on #6816
Thanks for reporting @angelqmx

Looks like the [spec for scheduling messages](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-request-response#schedule-message) also point to the need for the message to be encoded.

@HarshaNalluru Can you please take a look at this?

[2020-01-08 02:24] hally9k commented on #6706
Actually, after switching my event hubs to a new region, from Australia South East to Australia East, I can't get a single EPH to connect at all. I get the same `amqp:not-allowed` for the same filter reason. Stumped. I contacted support as I thought it could be an infra issue, but I think they came back to you... Is that correct?

[2020-01-08 02:33] hally9k commented on #6706
As to your final question, I was using different partition manager storage, different consumer group but sharing a partition. I intended to simply have 2 EPH consuming the same duplicate stream of events, as opposed to sharing the load...

[2020-01-08 02:51] ramya-rao-a commented on #6599
done with #6791

[2020-01-08 02:51] #6599 closed

[2020-01-08 03:34] XiaoningLiu commented on #6830
No. It requires a storage account with with Hierarchical Namespace Enabled. The only difference between storage account used by blob/queue/fileshare.

with Hierarchical Namespace Enabled
![image](https://user-images.githubusercontent.com/6889160/71948387-d0a8b300-320a-11ea-8bf5-d088e9ba7334.png)

[2020-01-08 04:13] jeremymeng commented on #6830
I know the HNS needs to be enabled for datalake tests. I wanted to discuss the name of the environment variables.  I guess using different ones allows us run all the tests at the same times.

[2020-01-08 04:15] rithinskaria commented on #6780
Seems like the issue is fixed!

From yesterday's curl call dump:

root@MININT-N7C590P:/mnt/c/Users/riskaria# cat ratecard.json | od -c | head -10
0000000 **357 273 27**7   {   "   O   f   f   e   r   T   e   r   m   s   "
0000020   :   [   ]   ,   "   M   e   t   e   r   s   "   :   [   {   "
0000040   E   f   f   e   c   t   i   v   e   D   a   t   e   "   :   "
0000060   2   0   1   9   -   1

[2020-01-08 04:39] #5604 closed

[2020-01-08 04:52] qiaozha commented on #6780
I think it's fixed. @keesschollaart81  please check and verify.

[2020-01-08 09:52] #6740 closed

[2020-01-08 13:08] shanmuksai commented on #6640
@jiacfan  any update ?

[2020-01-08 15:49] sadasant commented on #6260
Should we close this?

[2020-01-08 15:55] sadasant opened #6840 "[keyvault] Write tests to verify the user agents."
This will help us make sure we're not omitting this during any release.

[2020-01-08 17:51] mortezasoft opened #6841 "How to assign PartitionKey in queries"
After upgrading the SDK from 2.1.5 to 3.5.2 the following code is no longer working.

I converted the line to the following but do not know how to assign the partition-key since it has apparently been removed from FeedOptions!

Any idea how to fix this?

[2020-01-08 18:07] southpolesteve commented on #6841
Partition keys should now be specified as part of the query:

[code]
I noticed this was missing from the [v3 migration guide](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/CHANGELOG.md#simplified-queryiterator-api-238-316). I will add some docs

[2020-01-08 18:07] #6841 closed

[2020-01-08 18:25] zhr1130 opened #6843 "Can't access storage queue for application in different tenant"
I have an application registered to a tenant but my storage queue is in another tenant. I followed the instruction in the README to grant my app permission to access storage account and in my queue I added the application to Storage Queue Data Contributor role. However when I tried to get message for the queue, I got 403 with error message: Server failed to authenticate the request. Make sure the

[2020-01-08 18:36] xirzec opened #6844 "Add helpers for mutating request options to add telemetry spans"
@richardpark-msft [suggested in a recent PR](https://github.com/Azure/azure-sdk-for-js/pull/6831#discussion_r364028173) that we consider consolidating some of the repeated code we have for updating `tracingOptions` / `spanOptions` across packages.

This is a good idea, so we should think about where this helper should live (perhaps in `core-tracing`?)

[2020-01-08 18:51] ramya0820 opened #6846 "[Service Bus] Merge feature/service-bus-atom branch to master"
This issue is for tracking efforts on final merge PR and other final things that may be necessary to get to releasing feature from `master` branch.

[2020-01-08 19:10] erwelch commented on #6803
Ok that makes sense. Thanks for your help @jeremymeng! A better error message would be helpful, but will close as I understand the API differences now.

[2020-01-08 19:48] jeremymeng commented on #6803
Yes we could still reject empty `delimiter` in `listBlobsByHierarchy()` by throwing an error.  I want to keep this issue open so @XiaoningLiu can chime in.

[2020-01-08 19:59] HarshaNalluru commented on #5697
The issue is fixed in mocha 7.0.0  - https://github.com/mochajs/mocha/pull/3741

However, after updating mocha to 7.0.0 in the central repo's SDKs,
`rush update` failed as below.

![image](https://user-images.githubusercontent.com/10452642/71944256-1b2d1f80-3178-11ea-95c0-f2f3edbac8c8.png)

This issue occurred because `mocha-multi` is still relying on an older version of `mocha`.

For comparison,

[2020-01-08 20:18] burkeholland commented on #6324
I just got bit by this one too. Upsert was working while replace was not, but I didn't realize I was creating a new document.

Two suggestions here...

1) We update this doc... https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview

2) We change the error so that it says that the partition key cannot be changed. Right now it says that the ID does not exist, which is misleading.

[2020-01-08 21:18] ramya-rao-a commented on #5127
`feature/service-bus-track-2` branch now has version 1.0.0 of `core-amqp`. Please use this issue to track the work needed to update Service Bus to use version 1.0.0 of `core-amqp`

[2020-01-08 21:29] burkeholland opened #6850 "[Cosmos DB] Item docs regarding "partitionKey" are confusing"
- **Package Name**: @azure/cosmosdb
- **Package Version**: 3.5.3
- **Operating system**: macOS 10.15.2
- [ ] **nodejs**
    - **version**: 10.16.0
- [ ] **browser** Edge
    - **name/version**: 80.0.345.0
- [ ] **typescript**
    - **version**: 2.5.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

[2020-01-08 23:10] #6850 closed

[2020-01-09 00:54] manishsat commented on #5496
This seems to be fixed. Thanks

[2020-01-09 01:00] jeremymeng opened #6860 "[Paged async iterator] Should we handle page with valid continuationToken and empty results?"
So far we've seen only a few cases where the service would return a segment response that has empty result items, but a valid next-marker.  For example, when `listShares()`, consumer of our `byPage()` api via iterator have to check for both `!done` and `shareItems` to skip empty pages.

Should we skip such empty segments internally so customers have a better experiences?

[2020-01-09 01:02] chradek commented on #6706
@hally9k, yes support did reach out to see what we can find out from the SDK side. Were you able to receive events using the preview version of event hubs? If so, was it using the same event hub/consumer group you tried before?

I created an Event Hub in Australia East as well, with 2 consumer groups (plus default). So far I'm able to run 2 EPH instances, each with a different consumerGroup.

I'm

[2020-01-09 01:02] willmtemple commented on #6634
@sbutalia Thank you for reporting this issue.

Just to clarify: the `@azure/graph` package is for the [legacy Azure Active Directory Graph API](https://docs.microsoft.com/azure/active-directory/develop/active-directory-graph-api). The package for the newer Microsoft Graph API is [`@microsoft/microsoft-graph-client`](https://www.npmjs.com/package/@microsoft/microsoft-graph-client).

When creating t

[2020-01-09 01:24] fiksen99 commented on #6221
@daviwil our webapp instance is owned by a different tenant than the keyvault account it is accessing. Is this still possible to do? (we are doing this while testing our buildout)

[2020-01-09 01:33] hally9k commented on #6706
I set up new blob storage for partition management in the new region so I don't think that's the issue.

Maybe I could reproduce it for you so we could see it happening? Happy to jump on a call and screen share.

I have switched over to using the event-hubs consumer for now which connects just fine so I've de-prioritised this issue for the time being, as we are on a very hard delivery schedule for

[2020-01-09 03:58] HarshaNalluru commented on #6816
Hey @angelqmx,

Thanks for reporting.

- I couldn't repro the part of issue where you said the body is `null`.
Can you let me know how you're receiving the message that you had sent?
- Though I couldn't repro the `body being null` part, I could compare and observe a difference between the sent messages from `scheduleMessage()` and `send()` methods in the [Service Bus Explorer](https://github.com/p

[2020-01-09 07:14] zhusijia26 commented on #5033
@XiaoningLiu could you please help understand what is pending for this issue? Thanks!

[2020-01-09 08:01] XiaoningLiu commented on #5033
@zhusijia26 Issue cannot be reproduced in my side. Needs more inputs from customer or we may close the issue.

[2020-01-09 08:31] chandrakantaS opened #6869 "No error handling in Management service update method"
- **Package Name**: @azure/arm-apimanagement
- **Package Version**: 5.1.1

**Describe the bug**
Update method does not support callback and promise is not handling error.
https://github.com/Azure/azure-sdk-for-js/blob/d4d55f73f985635bb6fcdb5a2e03a3ad289927bb/sdk/apimanagement/arm-apimanagement/src/operations/apiManagementService.ts#L82

**To Reproduce**
Steps to reproduce the behavior:
1.  call th

[2020-01-09 09:46] XiaoningLiu commented on #6803
Thanks @jeremymeng! We can do the type validation to avoid such kind of errors.

[2020-01-09 09:54] jiacfan commented on #6805
Thanks @tmschbgr for providing the feedback here.
BTW. Do you think "adding samples for this usage" is good for you? Or you prefer to an inline implementation?

[2020-01-09 10:01] jiacfan commented on #6803
@erwelch Thanks for the feedback! BTW, are you interested in contributing to this optimization?

[2020-01-09 12:09] MolochkoVitaly opened #6870 "[Service Bus]: Unable to create the amqp sender *senderID* due to operation timeout."
- **Package Name**: @azure/service-bus
- **Package Version**: 1.1.2
- **Operating system**: node:10.15.3-jessie (docker image)
- [ ] **nodejs**
    - **version**:  10.15.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
We have several services which communicate with each other

[2020-01-09 15:26] keesschollaart81 commented on #6780
That is correct, this now works in all my test cases/customers. Would you mind to share what the root cause was?

[2020-01-09 18:35] richardpark-msft opened #6874 "[sdk] Update the template project to incorporate some of the newer guidelines"
[template project](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/template/template)

Some things that have evolved recently:
* Samples organization (javascript + typescript) based on the structure that @willmtemple has established.
* Readme has a defined structure that we should encode into either the readme or perhaps a template readme that follows [this structure](https://review.docs

[2020-01-09 18:38] kaerm commented on #6180
the update has been merged. closing

[2020-01-09 18:38] #6180 closed

[2020-01-09 19:26] sadasant commented on #6440
I'll be fixing this as part of this PR: https://github.com/Azure/azure-sdk-for-js/pull/6845

[2020-01-09 20:58] zhusijia26 commented on #5033
@felixringbergbabyshop could you please provide more information to let us reproduce the issue?  I am closing the ticket at this moment, but whenever you have more detail, please reopen. Thanks!

[2020-01-09 20:58] #5033 closed

[2020-01-09 21:39] HarshaNalluru commented on #6830
Please take care of this too.. https://github.com/Azure/azure-sdk-for-js/pull/6804#discussion_r364633193

[2020-01-09 22:13] angelqmx commented on #6816
hello @HarshaNalluru today i have i very busy day i will try to make the example tomorrow or the weekend, in particular i was using a azure function to consume the message maybe is part of the bug. Gretings

[2020-01-09 22:41] #4980 closed

[2020-01-09 22:58] HarshaNalluru commented on #6816
Thanks, @angelqmx !!

[2020-01-09 23:27] ramya-rao-a commented on #6260
Just one thing left to do

@KarishmaGhiya Can we have the `@azure/keyvault` package deprecated with the below message;

[2020-01-09 23:53] wwlorey opened #6886 "URLs for nested files, directories, and blobs aren't decoded properly"
- **Package Name**: storage-file-share and storage-blob
- **Package Version**: 12.0.0
- **Operating system**: macOS
- [ ] **nodejs**
    - **version**: 10.16.3
- [ ] **browser**
    - **name/version**: N/A
- [ ] **typescript**
    - **version**: 3.7.0
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

[2020-01-10 00:50] jeremymeng commented on #6375
[@azure/storage-blob@12.0.2](https://www.npmjs.com/package/@azure/storage-blob/v/12.0.2) has been released.  I am closing this issue. @js-kyle @OP-Klaus please let us know if you are still seeing other issues.

[2020-01-10 00:50] #6375 closed

[2020-01-10 02:32] ramya-rao-a commented on #6870
Thanks for reporting @MolochkoVitaly
Can you provide more logs around the time from where the error `Unable to create the amqp sender senderID due to operation timeout..` was found?

[2020-01-10 02:50] HarshaNalluru opened #6891 "[Common Recorder] Followup issue - Unskip aborter tests"
Now that https://github.com/Azure/azure-sdk-for-js/pull/6786 is merged, we can now un-skip the aborter tests in storage and keyvault packages and generate recordings for them.

**Pending**
- [x] storage-file-datalake
- [ ] Keyvault

[2020-01-10 02:51] HarshaNalluru commented on #6297
#6786 is merged

[2020-01-10 02:51] #6297 closed

[2020-01-10 02:52] ljian3377 commented on #6843
No, currently AAD does **not** work across tenants. You need to get a token from the same tenant where the storage account belongs.

[2020-01-10 03:05] XiaoningLiu commented on #6886
Hi @wwlorey It's by design current `url` property of clients is url encoded. Every time you create a blob client using containerclient.newBlobClient(blobName), SDK will encode blobName to avoid errors for special characters.

See design considerations https://github.com/azure/azure-sdk-for-js/blob/ef519c3c3f14f167e923d6f55fec8fb88cd315e1/sdk/storage/storage-blob/src/utils/utils.common.ts#L9

If yo

[2020-01-10 06:32] ramya-rao-a opened #6898 "[Service Bus] Test to coerce RuleName into string consistently failing"
The test case with title `Add and Remove Rule: Coerce RuleName into string` is consistently failing with the below error in the nightly CI since 27th Dec, 2019

[code]

[2020-01-10 16:24] abouroubi opened #6902 "Does order by filter results also ?"
- **Package Name**:
'@azure/cosmos'
- **Package Version**:
v3.5.3
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I'm really surprised t

[2020-01-10 18:15] #6440 closed

[2020-01-10 18:35] MRayermannMSFT commented on #5011
Storage Explorer would like a fix for this to be prioritized to the following SDKs:
- all Storage SDKs
- arm-compute
- arm-resources
- arm-subscriptions

[2020-01-10 19:05] ramya-rao-a opened #6903 "[Service Bus] Use AwaitableSender from rhea-promise to send messages"
Currently, the simple sender from rhea-promise is used to send messages. The latest version of rhea-promise has the AwaitableSender which can be used to simplify the send related code that we have in Service Bus just like we did in Event Hubs.

This work needs to happen in the `feature/service-bus-track-2` branch after #6861 is merged

[2020-01-10 19:13] ramya0820 commented on #6898
Could you share link to the build that's failing?
 I dont see this failure on the latest run - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=230249

Once #6893 is merged, we should hopefully see better CI results / statistics

[2020-01-10 19:21] HarshaNalluru commented on #5011
@jeremymeng @daviwil

[2020-01-10 19:25] ramya-rao-a commented on #6898
Check the browser run on the same run you shared above.

[2020-01-10 20:38] jeremymeng commented on #3993
Some ideas from discussion with @HarshaNalluru
- split the nise recorder into a recorder.browser.ts or similar so `fs`/`fs-extra` used in nock recorder won't get bundled for browser
- basekarma.conf.ts provides a helper that is used by karam config of all libraries, but it is only used when running karma so ideally shouldn't be bundled into test rollup.

[2020-01-10 21:36] wwlorey opened #6904 "Uploading an empty buffer via ShareFileClient hangs indefinitely"
- **Package Name**: storage-file-share
- **Package Version**: 12.0.0
- **Operating system**: macOS
- [ ] **nodejs**
    - **version**: 10.16.3
- [ ] **browser**
    - **name/version**: N/A
- [ ] **typescript**
    - **version**: 3.7.0
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the b

[2020-01-10 22:49] HarshaNalluru commented on #6793
Waiting for #6907 and #6804 to be merged.

[2020-01-10 23:03] HarshaNalluru commented on #5747
@sadasant, can you provide me with a branch that repros this?

[2020-01-10 23:17] #6702 closed

[2020-01-10 23:57] mikeharder commented on #4196
I am currently working to get all live tests passing at 90% (with no test-level retries).  As part of this, we will need to disable retries in the JS tests and investigate the root causes.

[2020-01-11 00:01] mikeharder commented on #4196
PR to revert retries: https://github.com/Azure/azure-sdk-for-js/pull/6910/

[2020-01-11 01:05] HarshaNalluru commented on #6891
storage-file-datalake is being taken care of here - #6912

[2020-01-11 04:07] qiaozha commented on #6869
@chandrakantaS I am not sure I understand your question completely, but I tried this way. it did catch the error.
[code]
Would you mind show me your code of how you call this function so that I can see what's wrong?

[2020-01-11 04:34] southpolesteve commented on #6902
@abouroubi This is by design. `ORDER BY` pulls from the index and `undefined` values are not indexed by default. The solution can be found in this docs: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-order-by#remarks You will need to [add an explicit index](https://docs.microsoft.com/en-us/azure/cosmos-db/index-policy) to the property you are ordering on:

[code]

[2020-01-11 04:34] #6902 closed

[2020-01-11 12:40] abouroubi commented on #6902
Thanks for the answer @southpolesteve, I haven't read the note that explain the solution, because it says when using .NET SDK which I'm not, I'm using the JavaScript one.

Maybe this should be fixed in the doc

[2020-01-11 21:01] southpolesteve commented on #6902
Agreed. I have opened a docs PR https://github.com/MicrosoftDocs/azure-docs/pull/45992

[2020-01-12 00:21] AlexanderYW commented on #6577
@OJezu, I tried testing your gist, and it worked without any errors with a zero-length block blob

![image](https://user-images.githubusercontent.com/4184558/72212247-ae4bb980-34d8-11ea-836a-e5ec1c7634a7.png)

I transformed your gist a little to fit my setup, as shown below
![image](https://user-images.githubusercontent.com/4184558/72212300-b7895600-34d9-11ea-8b84-52fb50d579cd.png)

Also your exam

[2020-01-12 13:29] JonathanCa97 commented on #6870
Indeed, we have a similar same issues since a few days ago.
I don't know if it's related but this issue came up when the issue was fixed where service bus randomly stopped consuming without giving an error.

I don't have more info then this error:
**OperationTimeoutError: Unable to create the amqp session due to operation timeout.**

This is thrown from rhea-promise lib from the connection file on

[2020-01-12 23:01] angelqmx commented on #6816
@HarshaNalluru here is the example
The code without endcoding
`
       var argv = process.argv.slice(2);
      var dotenv;

      if(argv[0]){
        console.log(argv[0]);
          dotenv = require('dotenv').config({path:"./env."+argv[0]});
        if (dotenv.error) {
            console.error("You haven't the file .env, please create the file .env with the content of the file dev.stage or dev.p

[2020-01-13 03:40] XiaoningLiu commented on #6904
Confirmed it's a bug, refer to https://github.com/Azure/azure-sdk-for-js/pull/6924 for fix.

[2020-01-13 08:21] MolochkoVitaly commented on #6870
Hi @ramya-rao-a, unfortunately, we don't have any other logs. We could turn on debug level for library logs but due to this issue is hard to reproduce it will take time.

[2020-01-13 09:44] holgergp opened #6925 "Accessing the collection resource from an offer fails, works in documentdb"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.5.3
- **Operating system**: MacOS 10.15.2
- [x] **nodejs**
    - **version**: 10.16.3
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.7.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug

[2020-01-13 15:27] gdepouilly opened #6926 "[documentdb] `init is not defined` when transpiled with webpack"
- **Package Name**:  documentdb
- **Package Version**: 1.15-3
- **Operating system**:
- [x] **nodejs**
    - **version**: 6.11.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When transpiling my project to Node.js v6.11.2 and executing it in Azure Functions, it throws an erro

[2020-01-13 18:47] ramya0820 commented on #6898
Discussed offline - the browser script doesn't clean the namespace as is case for Node tests.
So the entity was left as created due to a previous run that was aborted midway. It had been verified that the failure doesn't occur when the entities are recreated, hence merging in #6893 would resolve this correctly.

[2020-01-13 18:50] wwlorey opened #6927 "SDK error messages are in XML format"
- **Package Name**: storage-file-share & storage-blob
- **Package Version**: 12.0.0
- **Operating system**: macOS
- [ ] **nodejs**
    - **version**: 10.16.3
- [ ] **browser**
    - **name/version**: N/A
- [ ] **typescript**
    - **version**: 3.7.0
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

*

[2020-01-13 19:41] HarshaNalluru commented on #5747
So, the test is being currently run only in node and live, rest opf the combinations fail.
 - node-live (yes)
 - node-playback (no)
 - browser-live (no)
 - browser-playback (no)

[2020-01-13 20:53] KarishmaGhiya commented on #5603
@ramya-rao-a The docs are updated now and get generated ONLY from the master branch. Do you want to close this isue? cc - @scbedd

[2020-01-13 20:56] KarishmaGhiya commented on #1945
Obselete issue. Closing it - cc - @jeremymeng

[2020-01-13 20:56] #1945 closed

[2020-01-13 20:57] KarishmaGhiya commented on #6025
Closing this issue, as there is no action to be taken.

[2020-01-13 20:57] #6025 closed

[2020-01-13 21:15] ramya0820 opened #6930 "[Service Bus] Test failures related to missing files in `dist-esm` folder"
It looks like dist-esm no longer has reference to `samples` and `package.json` file.

This issue is to track investigation for why these errors started showing up and what might have changed with the packaging / path references.

One work around is to have the path references fixed to existing ones in source.
Another option to explore is to package the samples folder and package.json files if need

[2020-01-13 21:26] xirzec opened #6932 "Text Analytics: Clean up samples"
Tracking work item for:

- [ ]  Putting samples in the right format
- [ ]  Adding the markdown file so they can get parsed by the docs site
- [ ]  Making them runnable by an npm script

[2020-01-13 21:27] xirzec opened #6933 "Text Analytics: Add recorded tests"
Tracking issue for adding recorded tests for the Text Analytics service

- [x] Set up test harness
- [x] Author tests that call each of the APIs (with at least a few error cases)
- [x] Record test runs and hook up playback to unit testing

[2020-01-13 21:30] xirzec opened #6934 "Text Analytics: Add live tests"
After doing #6933 this is a tracking task for setting up live tests against Text Analytics:

- [ ] Set up ARM template / resource generation for the test
- [ ] Set up CI pipeline to execute tests against live environment

[2020-01-13 21:30] HarshaNalluru commented on #5603
Please do!

[2020-01-13 21:52] sadasant commented on #6315
I'm closing this since the recommended approach now is to have new types that represent the PollerLike implementations, Like:

[code]

[2020-01-13 21:52] #6315 closed

[2020-01-13 22:15] bermann opened #6937 "Cannot use ORDER BY with CONTAINS method"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.5.2
- **Operating system**: MacOS Catalina 10.15.2
- [X] **nodejs**
    - **version**: 10.16.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [X] SDK API docs on https://docs.microsoft.com

**Describe the

[2020-01-13 22:18] ramya-rao-a commented on #6562
@scbedd The versions in the above list have been updated with the right values. All packages above have been released.

[2020-01-13 22:24] ramya-rao-a commented on #6930
@ramya0820 Can you trace back the first occurrences of the test failures related to this issue? Knowing the time window when this started occuring can help in determining what changes could have resulted this problem.

[2020-01-13 22:28] scbedd commented on #6562
1) Thank you!
2) Can you please check the release spreadsheet? I've posted the review links. ToC updates are coming. I just double checked to ensure that none of the "latest" packages have a specific version set Any new versions just need a new run of CI, no adjustments from my end.

[2020-01-13 22:33] #5603 closed

[2020-01-13 22:33] ramya-rao-a commented on #6562
The version numbers in the spreadsheet look good

[2020-01-13 22:33] KarishmaGhiya commented on #5603
Closing since this is already done

[2020-01-13 22:38] xirzec commented on #6315
The above statement doesn't make sense, since you can't assign a type to a const. The closest thing would be `type MyPoller = PollerLike<PollerState, ResultType>`, but that is just an alias. Type aliases are resolved away and the language service will show the full type, IIRC.

[2020-01-13 22:49] jeremymeng opened #6938 "[Test] Option to enable HTTP-level logging for live tests"
This should be very useful to investigate random failures that are hard to reproduce.  Ideally we should be able to set the logging level and save logs for only failed tests.

.NET already done similar. From Mike:

[2:39 PM] Mike Harder
Example output: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=228809&view=ms.vss-test-web.build-test-results-tab&runId=7891538&resultId=101161&pa

[2020-01-13 23:09] HarshaNalluru commented on #6816
Thanks for the detailed repro and your investigation, @angelqmx.
I could verify by consuming the message with the azure functions, message received is `undefined` when sent through the current scheduleMessage.

Encoding the message seems to fix the issues here
- `undefined` in the Azure Functions,
- a non-null corrupted message in the Service Bus Explorer
(Probably, both are caused by the same und

[2020-01-13 23:09] HarshaNalluru commented on #6816
In retrospection, the issue seems to be that Azure Functions/Service Bus Explorer might be employing different ways to consume the message(probably leveraging the .NET SDK or some other technique) which is why we couldn't find the bug any sooner since our tests are completely relying on and meant to test the JS SDK only.

[2020-01-14 00:05] ramya-rao-a commented on #6930
Most likely, `__dirname` is pointing to a different value than before.
The test failures started on the 9th of this month.

@HarshaNalluru Any chance the mocha changes done in #6744 affects the directory from which tests are run?

[2020-01-14 00:56] HarshaNalluru commented on #6930
Yes, I have caused it, sorry. I wasn't aware that file paths are being referenced in the tests.

[2020-01-14 01:05] ramya-rao-a commented on #6930
That's fine, its good to find the root cause :)

[2020-01-14 02:16] ramya-rao-a commented on #6930
Fixed with #6931

[2020-01-14 02:16] #6930 closed

[2020-01-14 04:27] ramya-rao-a opened #6940 "Deprecate the older azure package"
There is a package called [azure](https://www.npmjs.com/package/azure) that is essentially combines all packages that live in the [azure-sdk-for-node](https://github.com/azure/azure-sdk-for-node) repo.

This needs to be deprecated with a message that points users to the packages from the [azure-sdk-for-js](https://github.com/azure/azure-sdk-for-js) repo.

[2020-01-14 05:41] southpolesteve commented on #6925
@holgergp Thanks for the report. One of the main changes in v1 -> v2/v3 was using the user-provided `id` to reference databases/containers instead of `_rid`. Most of the change was internal except for Offers which still use `_rid` for some backend compatibility reasons.

I need to investigate more to find the best fix for this. In the meantime, you should be able to get the same info by matching `

[2020-01-14 06:11] chandrakantaS commented on #6869
@qiaozha as most of modules support callback too me and my team hear expecting this update call to support the callback to. So, we were trying to call this same function like below:

`client.apiManagementService.update(resourceGroupName, serviceName, parameters, (err, result) => {
console.log(err);
console.log(result)
})`

now in this case I will not get any response if any error occurs.

Hope I a

[2020-01-14 08:23] holgergp commented on #6925
Thanks! @southpolesteve for the quick reply!
I'll try the workaround today and post if this works. Looks promising!
Can I help document or fix this issue?

[2020-01-14 09:11] #5341 closed

[2020-01-14 10:18] holgergp commented on #6925
Thanks again @southpolesteve! I can confirm that your workaround is working.
Additionally this 'workaround' looks imho much nicer compared to my version using the responseHeader-field!

Maybe though it would be a good idea to provide this snippet in the examples section of the project `https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/cosmosdb/cosmos/samples`.
Maybe also including setting

[2020-01-14 14:16] Sidvicious03 opened #6944 "Mercusfreak@gmail.com"
- **Package Name**:
- **Package Version**:
- **Operating system**:
- [x] **nodejs**
    - **version**:
- [x] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A clear and concise description of what the b

[2020-01-14 14:17] Sidvicious03 commented on #6944
Delegación de uso

[2020-01-14 14:18] Sidvicious03 commented on #6944
Ya

[2020-01-14 14:18] #6944 closed

[2020-01-14 14:38] southpolesteve commented on #6925
That would be awesome! PRs definitely welcome. FYI it is also possible to set throughput on create for databases and containers. Updates must go through the offer API https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/CHANGELOG.md#set-throughput-as-part-of-dbcontainer-create-operation-220

[2020-01-14 14:49] southpolesteve commented on #6926
@gdepouilly Are you able to update to `@azure/cosmos`? There are known issues with the `documentdb` package and bundlers. One of the many improvements we made in the move to `@azure/cosmos` was to make it friendlier to bundlers.

I also recommend looking at rollup for bundling. I've personally had more success using it to bundle code for Azure functions.

[2020-01-14 17:07] #6891 closed

[2020-01-14 17:29] #6654 closed

[2020-01-14 18:06] angelqmx commented on #6816
I have no problem doing the PR, just one question after the fix encriptyng the message before sending is going to stop working? if that is the case if i update the lib is going to start failing?

[2020-01-14 18:27] richardpark-msft opened #6945 "[event-hubs] Load balancing can starve out new consumers"
When fixing a bug in load balancing I noticed a possible deadlock. Let's assume the following:

* We have two event processors ('a' and 'b')
* We have 4 partitions (although the number isn't important but it makes the example simpler)

Let's say that 'a' owns all partitions. So our partition map looks like this:

'a': [ 0, 1, 2, 3 ]

Now 'b' comes up at some later time (perhaps we're just scaling

[2020-01-14 19:07] sadasant opened #6947 "[KeyVault-Certificates] Fix unsupported doc features."
The KeyVault-Certificates documentation is using unsupported features. If one goes to: https://review.docs.microsoft.com/en-us/javascript/api/@azure/keyvault-certificates/?view=azure-node-latest&branch=smoke-test

it's possible to see that some types show an unsupported tag in their descriptions. This tag can be seen as `<xref:[some content]>`. For example, `BackupCertificateOptions` shows in the

[2020-01-14 19:12] ramya-rao-a commented on #6947
This is due to the usage of the link tags.

This is a known issue that we are working with the docs team to resolve.
The same problem exists for other key vault libraries along with storage

As of now, we keep these.

[2020-01-14 19:12] #6947 closed

[2020-01-14 19:14] xirzec opened #6948 "Text Analytics: Improve reference docs for generated types"
The swagger doesn't have good doc annotations for every type, so we end up with these rather robotic descriptions from the generated types we re-export, e.g. `Options for the recognize linked entities operation.` and `An interface representing SentenceSentiment.` -- we should think about how to do better.

[2020-01-14 19:20] xirzec commented on #6948
Also the Statistics interfaces mention "if showStats=true", but the client lib uses "includeStatistics" instead.

[2020-01-14 20:18] mikeharder opened #6949 "[Test] Tests may be skipped if "after each" times out"
If the "after each" for a test times out, it appears the remaining tests in the fixture are skipped:

[code]

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=232827&view=logs&j=84bf07a8-cb34-5cff-7973-062fa4a8d0b8&t=d3a5319d-c8e2-55a9-49bb-c36db205fa20&l=361

Here are all the tests which should be run if there are no failures:

[code]

https://dev.azure.com/azure-sdk/internal/_buil

[2020-01-14 20:35] HarshaNalluru commented on #6816
Yes, but **only** after we release a new version of `@azure/service-bus` with the fix and you update to that new version.
I'm inclining to think that this is a non-breaking change and we will probably release a patch version to fix this issue. (Unless @ramya-rao-a thinks otherwise.)

In case you are pinning the [`@azure/service-bus`](https://www.npmjs.com/package/@azure/service-bus/v/1.1.2) packag

[2020-01-14 22:08] ramya0820 commented on #4983
Re-opening this as this affects our ability from SDK side - since an end to end browser sample using this feature would work only if web security is disabled in the browser.

Once we have updates from service side, we can use this issue to track investigation/efforts to update sample possibly

cc @AlexGhiondea @ramya-rao-a

[2020-01-14 22:10] ramya0820 commented on #6738
Closed with commits in #6746

[2020-01-14 22:11] ramya0820 commented on #6723
Closed with commits in #6739

[2020-01-14 22:11] #6723 closed

[2020-01-14 22:11] ramya0820 commented on #6846
Closed with #6893

[2020-01-14 22:11] #6846 closed

[2020-01-15 01:11] ramya-rao-a commented on #6738
@ramya0820 As mentioned in https://github.com/Azure/azure-sdk-for-js/issues/6738#issuecomment-570643511, the PR #6746 covers the first item in this issue. The second item is still pending.

[2020-01-15 01:19] ramya-rao-a commented on #5127
Completed with #6861

[2020-01-15 01:19] #5127 closed

[2020-01-15 02:00] sadasant opened #6952 "[core-lro] Better documentation"
Provide a robust typedoc documentation, and improve the README.

[2020-01-15 02:00] sadasant opened #6954 "[core-lro] March release"
Tasks:

- [x] getOperationState(): TState https://github.com/Azure/azure-sdk-for-js/issues/6654
- [x] Update the documentation of core-lro https://github.com/Azure/azure-sdk-for-js/issues/6952 (PR: https://github.com/Azure/azure-sdk-for-js/pull/6955)

[2020-01-15 02:04] HarshaNalluru commented on #6816
Some more info, @angelqmx!!

**[ Discussed offline with @ramya-rao-a ] : Summary**

**Bug**
- Send a message with `scheduleMessage()` method from the SDK.
- Receive the message through the Azure Function Triggers or [Service Bus Explorer](https://github.com/paolosalvatori/ServiceBusExplorer), the received message is `undefined` or corrupted.
(the same is not the case when received the message with

[2020-01-15 02:25] HarshaNalluru commented on #2144
Hey @itair-miguel,

We seem to have found the root cause for this issue, the issue is caused by the service-bus JS SDK.
Cause - Expected encoding was not being done in the `scheduleMessage()` method as opposed to the `send()` method.
While the issue occurred with the Azure Function Triggers, it is not the case when received the message with `Receiver.registerMessageHandler()` from the JS SDK, whic

[2020-01-15 02:29] ramya-rao-a commented on #6604
Some more feedback from docs review:
- Include package name in the title. One suggestion is: `Guide to migrate from @azure/event-hubs v2 to v5`
- In the general changes when talking about benefits of the new version, add a link to the guidelines we have used

[2020-01-15 05:50] Drewm3 commented on #6468
Currently this is not available, but we are working on the ability to get the status of a large number of VMs. It will support at least all VMs in a subscription or resource group. Additional filtering options may also be available over time.

I will update this thread when the initial new behavior is available.

[2020-01-15 07:18] MolochkoVitaly commented on #6870
Hi @ramya-rao-a and @chradek,
Are there any updates on this issue?

[2020-01-15 13:38] holgergp commented on #6925
Thanks! I've seen that throughput can be set on creation of the collection.
We have the use case that we want to change the throughput/RUPs of a specific collection e.g. during night time. We currently do this via a CI-job.

[2020-01-15 13:40] holgergp commented on #6925
I'll provide a PR with some docs/examples later this week. 😀

[2020-01-15 15:22] qiaozha commented on #6869
@chandrakantaS  I got your point now, but can you get any response when using createOrUpdate with error occurs?

[2020-01-15 15:28] qiaozha commented on #6869
Also, can you give me a normal example?

[2020-01-15 16:46] danieljurek opened #6968 "update dynamic test resource deployment scripts"
Currently seeing an issue with event hubs template where the resource group doesn't exist.

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=233884&view=logs&j=291aad5e-8689-5983-e460-98c01ad4e5a9&t=820fe917-9248-5954-c30d-92975a5cff35

[2020-01-15 17:35] MRayermannMSFT opened #6969 "Update typings for BlobGetPropertiesHeaders"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
In storage-blob, for the type `BlobGetPropertiesHeaders`, it'd be great if the field `accessTier` was typed more specifically (like: `accessTier?: "Hot" | "Cool" | "Archive"`) instead of just `string`.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-01-15 18:23] xirzec opened #6970 "Text Analytics: Allow for credential rolling of subscription keys"
Today there is no way to update the subscription key for a TextAnalyticsClient after constructing it. We should update the CognitiveServicesCredential to support it and add a convenience method to TextAnalyticsClient.

[2020-01-15 18:25] xirzec opened #6971 "Text Analytics: Improve Error Model for Cognitive Services"
As there is a standard error model for Cognitive Services, this task tracks making sure Text Analytics snaps to a consistent client representation of that model and aligns with other languages.

[2020-01-15 19:18] ramya0820 opened #6973 "[Service Bus] README / Sample updates"
This is to track investigation and efforts for README, sample updates and other documentation/release readiness related cleanup items that may be required now that the feature is merged to master.

[2020-01-15 19:23] chradek opened #6975 "[event-hubs] support timeout when listing ownerships or checkpoints"
The `EventHubConsumerClient.subscribe()` method will periodically call `listOwnerships` on a checkpointstore (if one was provided), and `listCheckpoints` when it starts receiving events from a partition after claiming it.

At one point when I was testing `subscribe` with an instance of `eventhubs-checkpointstore-blob`, it was taking an abnormally long time to get the list of blobs from `listCheckp

[2020-01-15 20:41] willmtemple opened #6977 "GitHub Relative Links do not work on docs.microsoft.com/samples"
When our readme pages are generated from the markdown for ingestion into docs.microsoft.com, relative links are not made relative to the document's location on github (as they would be if they were displayed here _on_ github). Instead, they convert into broken links that are relative to the page on docs.microsoft.com.

See this example : https://docs.microsoft.com/en-us/samples/azure/azure-sdk-for

[2020-01-15 22:19] chradek commented on #6870
@MolochkoVitaly
When you mention that you caught the `Unable to create the amqp sender` error, are you catching that in the error handler you pass to `registerMessageHandler`, or somewhere else?

Do you know if this is happening after a disconnect occurs? (This would be found in the logs, and the SDK will attempt to reconnect).

Can you also check which version of `rhea-promise` and `rhea` you are

[2020-01-15 22:24] HarshaNalluru opened #6979 "Add VS Code Debug configs for the SDKs"
Currently, Storage SDKs have two configs to debug the tests.
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/storage/storage-blob/.vscode/launch.json#L22-L57

It'd be nice if the other SDKs can replicate the same.

[2020-01-15 22:25] HarshaNalluru commented on #6979
@richardpark-msft @ramya-rao-a

[2020-01-15 22:46] ramya-rao-a commented on #2856
The 3 new keyvault libraries [@azure/keyvault-keys](https://www.npmjs.com/package/@azure/keyvault-keys), [@azure/keyvault-secrets](https://www.npmjs.com/package/@azure/keyvault-secrets), and [@azure/keyvault-certificates](https://www.npmjs.com/package/@azure/keyvault-certificates) mentioned in https://github.com/Azure/azure-sdk-for-js/issues/2856#issuecomment-531452018 are all out of preview.

The

[2020-01-15 22:46] #2856 closed

[2020-01-15 22:49] ramya-rao-a commented on #6260
Closing this epic as the certifcates package is now GA and the old `@azure/keyvault` package is marked as deprecated.

[2020-01-15 22:49] #6260 closed

[2020-01-15 22:59] ramya-rao-a opened #6980 "[App Config] Add support for record/playback"
App Config package does not support record/playback at the moment. It has only tests running against the live service and therefore no coverage for PRs.

This issue is to track the work needed to add the record/playback support to App Config
cc @richardpark-msft, @HarshaNalluru, @sadasant, @xirzec

[2020-01-15 23:02] willmtemple commented on #6634
@sbutalia We recently merged a fix to `@azure/graph` for the `baseUri` issue mentioned above. It should be resolved in version 5.0.1, published to NPM about an hour ago. This seems to me like the only action for us having to do with the SDK package itself.

If this resolution doesn't work for you, please reach out to us.

[2020-01-15 23:02] #6634 closed

[2020-01-15 23:08] ramya-rao-a commented on #6087
@ChrisHMSFT I believe making the `personGroupId` mandatory requires the swagger spec to be updated. Can you please loop in someone from the right team?

[2020-01-15 23:10] ramya-rao-a commented on #6233
@jspruance
Closing this issue as we havent heard back from you whether the new library works or if you have any other questions.

Please feel free to create a new issue if you see any problems with the new library [@azure/cognitiveservices-luis-authoring](https://www.npmjs.com/package/@azure/cognitiveservices-luis-authoring)

[2020-01-15 23:10] #6233 closed

[2020-01-15 23:20] ramya-rao-a commented on #4728
@HarshaNalluru Let's fix this on our own :)
Below are some pointers:
- https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/storage.md is the markdown file to update and send PR
- Use the Java counterpart as a reference if needed: https://github.com/Azure/azure-docs-sdk-java/blob/master/docs-ref-services/storage.md

[2020-01-15 23:27] ramya0820 commented on #6738
Closed with https://github.com/Azure/azure-sdk-for-js/pull/6956

[2020-01-15 23:27] #6738 closed

[2020-01-15 23:37] ramya-rao-a commented on #4728
On second thoughts, it seems redundant to have code snippets both here and maintain them on the package readmes.

How about having a 1 line description under the Client and the Management headers. Then add the list of packages available as links. The links should go to the npm package.

[2020-01-15 23:39] kaerm commented on #4728
shouldn't the links go to our README? Maybe the best way is to copy the table that Java has https://github.com/Azure/azure-docs-sdk-java/blob/master/docs-ref-services/storage.md

[2020-01-15 23:40] xirzec opened #6981 "Epic: Text Analytics 1.0.0-preview.2"
Tracking epic for preview2 items:

- [x] #6932 Clean up samples
- [x] #6933 Add recorded tests
- [x] #6934 Add live tests
- [x] #6970 Allow credential rolling
- [x] #6971 Improve error model
- [x] #7055 Respond to feedback

[2020-01-15 23:48] ramya-rao-a commented on #4728
The npm package link is our readme.
For example: https://www.npmjs.com/package/@azure/storage-blob

I like the table of available libraries, but I would very much like to avoid having any code snippets at this leve

[2020-01-15 23:52] kaerm commented on #4728
Right, I know. I am definitely happy with not maintaining code but it would be good to have links to npm, samples, QS, source

[2020-01-16 00:01] ramya-rao-a commented on #2557
Hello all,

We are happy to announce the version 5 of [@azure/event-hubs](https://www.npmjs.com/package/@azure/event-hubs) library is now out of preview.
Among other things, this replaces the need for the `@azure/event-processor-host` library and provides the flow control requested in this issue.

Please checkout the migration guide to see how you can migrate your application to use the latest ver

[2020-01-16 00:01] #2557 closed

[2020-01-16 00:01] #6649 closed

[2020-01-16 00:01] ramya-rao-a commented on #6121
Hello all,

We are happy to announce the version 5 of [@azure/event-hubs](https://www.npmjs.com/package/@azure/event-hubs) library is now out of preview.
Among other things, this replaces the need for the `@azure/event-processor-host` library and provides the flow control which resolves the problem described in this issue.

Please checkout the migration guide to see how you can migrate your applic

[2020-01-16 00:01] #6121 closed

[2020-01-16 00:04] ramya-rao-a commented on #1407
The latest update to the [@azure/event-hubs](https://www.npmjs.com/package/@azure/event-hubs) library replaces the need for the `@azure/event-processor-host` library which is now in maintenance state.

[2020-01-16 00:04] #1407 closed

[2020-01-16 00:24] ramya-rao-a commented on #2556
Closing this issue for the below reasons:
- As detailed by @chradek above, there are ways to get AAD to work in the browser with the current library
- The next major version of the Service Bus library will be supporting the [@azure/identity](https://www.npmjs.com/package/@azure/identity) library which has the browser support for AAD auth
- We have moved away from using `@azure/arm-servicebus` in C

[2020-01-16 00:24] #2556 closed

[2020-01-16 00:26] ramya-rao-a commented on #3366
@willmtemple Please close this issue once we have set up Service Bus samples to show up at docs.microsoft.com/samples

[2020-01-16 00:31] ramya-rao-a commented on #5384
@xirzec We can close this right?

[2020-01-16 00:32] ramya-rao-a commented on #4588
Closing this issue as #5384 covers the leftover tasks from here

[2020-01-16 00:32] #4588 closed

[2020-01-16 01:03] richardpark-msft commented on #5810
The service-team side of this is being tracked in this [issue](https://github.com/Azure/AppConfiguration/issues/217)

[2020-01-16 01:15] xirzec commented on #5384
Yes, I think we're good on this one. We can open a new epic for when OT goes to Beta/Release

[2020-01-16 01:15] #5384 closed

[2020-01-16 01:26] HarshaNalluru commented on #6980
@sadasant  started a PR already https://github.com/Azure/azure-sdk-for-js/pull/6542

[2020-01-16 02:48] HarshaNalluru commented on #4728
![image](https://user-images.githubusercontent.com/10452642/72488991-848bde80-37c7-11ea-9f6b-37b050af0b06.png)

How does it look?
Disclaimer: I don't have the links for the `#ToBeAdded` placeholders.

[2020-01-16 04:02] southpolesteve commented on #6937
@bermann Thanks for the report. That flag shouldn't be needed at all. It was deprecated some time ago, so I am surprised you are getting an error. I need to sync with our backend query team for more info. Is this a new collection or one that has existed for a while?

Also, you may want to file a support ticket with Azure if you have a support plan.

[2020-01-16 06:32] chandrakantaS commented on #6869
@qiaozha That is the issue, Not getting any response when error occurs. Because it is not getting into callback ever, the execution just hangs on there forever.

My code:

`
const azureArmAzure = require("@azure/arm-apimanagement");
const azureMsRest = require("@azure/ms-rest-js");
const credentials = myCreds;
const tokenCreds = new azureMsRest.TokenCredentials(credentials.token);
const client = n

[2020-01-16 07:10] ramya-rao-a commented on #4728
I would skip the column for the source code.
Source code link is available from the npm landing page.

Is the getting started meant for links to Quick starts?

Change column header `NPM link` to `Package` or `NPM package`

[2020-01-16 09:12] zzhxiaofeng commented on #5499
Can you try to create credential with "tokenAudience:graph"?
![image](https://user-images.githubusercontent.com/20970631/72509812-4c49d600-3883-11ea-83c4-c91b989f3eaf.png)
@jongio

[2020-01-16 17:56] jeremymeng opened #6994 "[Storage] Enable logging for retry policy"
`StorageRetryPolicy` still uses `HttpPipelineLogger`.  Plus the logging is not enabled

https://github.com/Azure/azure-sdk-for-js/blob/b3491ce0dd6866ced777d606a9a90e181f5eb35d/sdk/storage/storage-blob/src/policies/StorageRetryPolicy.ts#L301-L303

We need to enable logging for StorageRetryPolicy so that both customers and us can debug retry-related issues.

[2020-01-16 17:58] kaerm commented on #4728
Added comments in the PR

[2020-01-16 18:07] HarshaNalluru commented on #4728
@ramya-rao-a, yes. You'd like a rename?
Moreover... Currently, it has been written only for the blob package.

Updated rest of the feedback in the PR, let's continue over there.
PR - MicrosoftDocs/azure-docs-sdk-node#672

[2020-01-16 19:38] #6439 closed

[2020-01-16 19:44] richardpark-msft commented on #6604
Updated the guide to include a link to the Azure SDK TypeScript guidelines and mention consumer groups.

[2020-01-16 19:48] richardpark-msft commented on #6398
Hi @hally9k , it looks like this might have been a temporary issue. I've tried grabbing the latest version of this package with both `yarn` and `npm` and both appear to work.

I'm going to close this for now. Please let us know if you see this again.

[2020-01-16 19:48] #6398 closed

[2020-01-16 20:03] jeremymeng commented on #3993
After #6909 now storage rollup warnings are of two types, fs related, and nise related.  Both are common to all libraries. So removing Storage labels and use this to track fixing rollup warnings for all libraries if we want to (note that there are only warnings from test rollup. production rollup is all green).

[2020-01-16 20:03] jeremymeng commented on #3993
![image](https://user-images.githubusercontent.com/7583839/72558773-3b379f80-3858-11ea-8862-def279a53c52.png)

[2020-01-16 20:04] HarshaNalluru commented on #3993
Thanks!!!

[2020-01-16 20:14] jeremymeng commented on #5216
We decided to not add this function, mainly due to

- security concern: it would be easier to expose an SAS. Currently users need to put in extra efforts in order to generate SAS.
- different client behaviors: Since shared key credential is needed to generate SAS. This function would have different behaviors between clients with shared key credential and clients with other types of credentials. So

[2020-01-16 20:14] #5216 closed

[2020-01-16 21:11] chradek commented on #4182
I think to support detecting timeouts earlier, we should do something similar to what we did in event-hubs v5 (https://github.com/Azure/azure-sdk-for-js/issues/6564).

Basically, instead of retrying up to 150 times behind the scenes when a network is disconnected, we would honor the retry policy specified by the user and error out if we exhaust our retries.

#6737 includes the code changes to supp

[2020-01-16 21:36] willmtemple commented on #6973
#6997 addresses the issue of making the samples available on docs.ms and aligning them with the rest of the repo in terms of formatting, metadata, distribution, etc.

[2020-01-16 21:39] richardpark-msft commented on #6438
Closing for now. This particular test hasn't failed in the past 2 weeks through quite a few test runs. I'll re-open if it appears again.

[2020-01-16 21:39] #6438 closed

[2020-01-16 21:55] sadasant commented on #6980
I made a guide and assigned this issue to @richardpark-msft

Here's the guide: https://gist.github.com/sadasant/5834a913e2d454bb297b6d330c87efec

[2020-01-16 21:58] sadasant commented on #6874
@willmtemple when you start doing this, please ask me about:

- Live tests.
- Record and playback.

[2020-01-16 21:58] kurtzeborn commented on #5564
@ramya-rao-a the libraries teams have been writing/owning all of the linting rules for their respective languages.  I'm removing the EngSys tag.  Let's talk if you feel differently.

[2020-01-16 22:07] willmtemple commented on #5679
@kaerm when #6997 and #6998 are merged this will be closed.

[2020-01-16 22:08] willmtemple commented on #6162
@kaerm Is there anything in this that isn't addressed by the work for #5679 ?

[2020-01-16 22:10] kurtzeborn commented on #6650
Updating the label to be Client since that's the team that owns the work.  These should be owned by the libraries teams because they know what resources their tests required and how to create them.

[2020-01-16 22:10] kurtzeborn commented on #6652
Updating the label to be Client since that's the team that owns the work.  These should be owned by the libraries teams because they know what resources their tests required and how to create them.

[2020-01-16 22:36] chradek commented on #4394
When looking at how azure-sb handles the expiration date for credentials, the only thing that stuck out was it was using the `minutesFromNow` helper method in `azure-common`:
https://github.com/Azure/azure-sdk-for-node/blob/6faf0dce4bb2a7d65592047852cb5abeb5282bbc/lib/common/lib/util/date.js#L53-L56

This method probably could be using `setUTCMinutes` and `getUTCMinutes` instead of `setMinutes` an

[2020-01-16 22:36] #4394 closed

[2020-01-16 22:42] kaerm commented on #6162
Nope, this issue is fully addressed by https://github.com/Azure/azure-sdk-for-js/pull/6998

[2020-01-16 22:59] #6039 closed

[2020-01-16 23:21] chradek commented on #6407
@askeroglu
Are you still encountering this issue?

[2020-01-16 23:30] chradek commented on #6596
Hey @hally9k
Just checking if you've had a chance to investigate!

[2020-01-16 23:38] chradek commented on #5282
As @ramya-rao-a mentioned, if all the retries after disconnect fail, the error handler provided will be called as of version 1.1.1.

There is also #4182 to track detecting a lost connection more quickly. I'm going to close this issue given the error handler now gets invoked once the reconnects fail which addresses the original point of notifying the user when the connection fails and can no longer

[2020-01-16 23:38] #5282 closed

[2020-01-16 23:41] chradek commented on #6706
@hally9k
When you take another look at this feel free to reach out to support so we can discuss this in real time!

[2020-01-17 00:05] HarshaNalluru commented on #5747
**More updates on this test**
- node-playback is working fine.
- browser test is not working, So, we need to fix that first before even thinking about playback for browser test.

In conclusion, the issue is not with the recorder, but with the timeout functionality in the requestOptions offerec by `core-http`.

[2020-01-17 00:09] chradek commented on #2773
Here are the list of APIs that work with the event-hubs compatible iot hub connection string (which should be equivalent to using the regular IoT Hub connection string).
- getEventHubProperties/getPartitionIds
- getPartitionProperties
- subscribe

It is not possible to send events using the IoTHub connection string. I also tried with a device-specific connection string that works for sending with

[2020-01-17 02:43] southpolesteve commented on #6925
Great. You may have heard already, but we have an autopilot feature in
preview
https://docs.microsoft.com/en-us/azure/cosmos-db/provision-throughput-autopilot

On Wed, Jan 15, 2020, 8:40 AM Holger Grosse-Plankermann <
notifications@github.com> wrote:

[2020-01-17 03:30] danieljurek opened #7008 "JS smoke tests fail because of a misplaced yml template path"
Error message when running against `master` branch:

[code]

[2020-01-17 03:48] HarshaNalluru opened #7009 "[Storage] Test failures with a new storage account"
While working on the arm template test resource creator, realised the following.

If a new storage account is created as per the readme/contributing docs, the following tests fail

![image](https://user-images.githubusercontent.com/10452642/72582407-80c78d00-3897-11ea-8acf-6ac79639f2d1.png)

...with this error.
[code]

[2020-01-17 03:54] HarshaNalluru commented on #7009
**FIX**
After some debugging around the issue, it seems to be that..
we are supposed to provide the `Storage Blob Data Contributor` permissions explicitly in the portal, only after that, the tests succeeded.

Someone confirm the issue and make a PR to fix it.

[2020-01-17 04:04] HarshaNalluru opened #7010 "[STORAGE] Un-skip the tests involving ACCESS_TOKENs in the CI"
Some of the tests are simply skipped if ACCESS_TOKEN is not present.
We currently are not generating ACCESS_TOKENs in the CI, as a result, some of the integration tests are skipped.

This issue is to find out a way to get the ACCESS_TOKEN in the CI and make the tests use the token for 100% integration test coverage.

[2020-01-17 04:06] HarshaNalluru opened #7011 "[STORAGE] Better ways to get an ACCESS_TOKEN to run the tests"
While I have recently added a table with [descriptions](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/storage/CONTRIBUTING.md#configuration) related to the environment variables in the contributing docs, I had only mentioned the CLI option for getting an access token.

![image](https://user-images.githubusercontent.com/10452642/72583354-de110d80-389a-11ea-8d83-e2301b80d276.png)
We shou

[2020-01-17 04:23] HarshaNalluru opened #7012 "None of the integration tests should be skipped"
TO DO - Make the build fail in case an integration-test is skipped.

Currently, some storage integration tests are skipped programmatically https://github.com/Azure/azure-sdk-for-js/issues/7010

We need to make sure that all the live tests succeed, and we get a 100% coverage during the nightly CI builds.

[2020-01-17 06:22] ljian3377 commented on #6927
I don't think this is by design.
@jeremymeng Please take a look. I did some debugging. Is it due to some schema mismatch that we can't extract the error.message correctly?

https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-http/lib/policies/deserializationPolicy.ts#L192
[code]

The original reponse body is
[code]
`parsedErrorResponse` is
[code]
`parsedErrorResponse.error` is unde

[2020-01-17 08:42] holgergp commented on #6925
Nope! Did not hear about that. That sounds awesome! Thanks!! We'll give that a try.

[2020-01-17 08:48] holgergp commented on #6925
I'll close this issue, I will provide a documentation PR in another PR referencing this. Is that ok?

[2020-01-17 10:45] JonathanCa97 commented on #6870
I have this error in the error callback of the registerMessageHandler function.
rhea version: 1.0.15
rhea-promise version: 0.1.15

[2020-01-17 17:48] #4614 closed

[2020-01-17 18:26] richardpark-msft opened #7017 "[event-hubs] Load balancers can end up in an eternal fight for partitions"
Related to issue #6945, it's possible to end up in this situation (and possibly a simpler possible solution for that as well).

Assume two consumers, 'a' and 'b' and this partition layout (4 partitions total):

aaab

In this case to reach balance we need 'a' to go to 2 partitions, and 'b' to obtain an extra partition.

Today, the way that ownership works is that each consumer will continue to asse

[2020-01-17 18:28] jeremymeng opened #7018 "[Storage] retry on EPIPE error"
We have seen test failure with EPIPE error.  This error is not in the current retriable error list.

[code]

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=236997&view=ms.vss-test-web.build-test-results-tab&runId=8120646&resultId=100219&paneView=debug

[2020-01-17 18:31] #6650 closed

[2020-01-17 18:33] ramya0820 commented on #6650
Closed with https://github.com/Azure/azure-sdk-for-js/pull/6628

Regarding client vs Eng Sys, following are few issues that we had run into and needed Eng Sys intervention
- Fixing error due to pipeline configuration issue
[code]
- API version strings to use - just some guidance on which ones to use as this wasn't service specific.
- Few other wiki updates to factor in instructions on for adding r

[2020-01-17 19:07] chradek commented on #7018
Posting some context from the node.js docs on when this might be seen:
https://nodejs.org/api/errors.html#errors_common_system_errors

[2020-01-17 19:20] HarshaNalluru commented on #6295
Done with #6804

[2020-01-17 19:21] #6295 closed

[2020-01-17 19:35] JonathanCa97 commented on #6870
I also noticed something remarkable.
We get this error on different environments on the same moment?  We got those errors again today between 6pm and now (8.30pm) on our dev, uat and production environments.
Maybe there is something wrong with the MS socket service ?

[2020-01-17 19:45] HarshaNalluru commented on #6429
Closing since the test script inconsistencies got fixed.

[2020-01-17 19:45] #6429 closed

[2020-01-17 20:36] #6065 closed

[2020-01-17 21:32] #6604 closed

[2020-01-17 22:03] sadasant opened #7019 "[recorder] Use Recorder.skip in keyvault"
I've been using these conditionals to avoid tests on record or playback. See how much of Recorder.skip we can use for the keyvault tests.

More info:

In the KeyVault projects, I'm using conditionals such as the one below to prevent a certain test from being executed during record (or playback):

    if (isNode && !isPlaybackMode()) {

The idea is to replace them all with `Recorder.skip`, but I do

[2020-01-17 22:19] richardpark-msft commented on #7017
Java is already doing this:
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClient.java#L121

So we will follow suit.

[2020-01-17 22:25] ramya0820 commented on #5757
While we practically have seen the issue so far in just the `receiveAndDelete` mode and could be a service side behavior/issue - the possibility of new message timer exceeding for `peekLock` mode does exist theoretically? (Changes in #6601 got me thinking about how if we don't handle the credit drain event, we might end up in receiving messages over wire but not in code for newMessageWaitTime exce

[2020-01-17 22:37] jeremymeng commented on #6927
Looking.

first finding: it is same in v10

[2020-01-18 00:27] ramya-rao-a commented on #6505
Notes from offline sync:
- We would like to remove the classes `EventHubClient`, `EventHubProducer` and `EventHubConsumer`.
- The `EventHubProducerClient` and `EventProcessor` should use `EventHubSender` and `EventHubReceiver` directly

[2020-01-18 03:40] qiaozha commented on #6869
I am using `@azure/ms-rest-nodeauth` this one to do the login, it updated successfully and when I try to pass the wrong parameter, it threw out the error instead of hanging there.
Can you provide which version of `@azure/ms-rest-js` you're using?

[2020-01-18 06:19] HarshaNalluru opened #7022 "Time to drop Node.js 8 ?"
https://nodejs.org/en/about/releases/
![image](https://user-images.githubusercontent.com/10452642/72659598-230a7200-3977-11ea-8fa6-c47a557dad5f.png)

Is it time to drop Node.js v8 from our CI, pipelines, readmes, etc?

[2020-01-18 08:59] jiacfan commented on #6969
Thanks for the suggestion!
I see using strong type provides better user experience. And at same time, AccessTier is a field likely to be extended (for Page Blob). So using string brings flexibility, i.e. when more access tiers are supported, client doesn't need update the SDK, while user could get right accessTier with SDK. Will discuss with team to consider optimize AccessTier, e.g. reply strong

[2020-01-18 20:12] ramya-rao-a commented on #7019
Hey @sadasant,

Can you update the issue description with more details?
It is not clear as to what conditionals you are referring to and if the intention is to replace them or use more of them or use less of them.

[2020-01-19 18:54] nastia723 commented on #5873
Hello.
I have one similar issue.
I am using         "@azure/storage-blob": "^12.0.2", in Reactjs.

"dependencies": {
        "@azure/storage-blob": "^12.0.2",
        "@babel/runtime": "^7.7.6",
        "@glidejs/glide": "^3.3.0",

By the way, I cannot fix the issue like attached image.
If I declare this in Reactjs side.
import { BlobServiceClient, StorageSharedKeyCredential } from '@azure/storage

[2020-01-20 01:33] torres-roberto opened #7026 "Reoccuring empty events!"
- **Package Name**: @azure/event-hubs
- **Package Version**: 5.0.0
- **Operating system**: kali linux
- [x] **nodejs**
    - **version**: 10.17.0

**Describe the bug**
I have Azure IoT Hub and an Event Hub subscription to it. I am using the `EventHubConsumerClient` and I can receive events just fine via the subscription. Every 30 seconds I get a blank event that comes in. I see via the Azure Porta

[2020-01-20 06:30] ljian3377 commented on #6927
I guess @wwlorey means the [v2](https://github.com/Azure/azure-storage-node) by _old SDK_?

[2020-01-20 10:03] ljian3377 commented on #7018
I can't reproduce the failure in local environment. Do we need to figure out the RCA?

[2020-01-20 10:42] nastia723 commented on #5873
Let me know how to fix it?

[2020-01-20 20:22] HarshaNalluru commented on #5873
Hey @nastia723,

From your code, it seems to me that you're importing `StorageSharedKeyCredential` which is meant to be used only for Node.js, not for browsers ([differences-between-nodejs-and-browsers](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-blob#differences-between-nodejs-and-browsers)).

After importing the `BlobServiceClient` in your react app's js modules,
tr

[2020-01-20 21:08] bterlson commented on #5873
Agree we need some react samples!

@nastia723 can you say more about how you build your application? It seems like, in addition to what @HarshaNalluru observed, that you're also not using the browser versions of storage dependencies. See in the stack there is an entry for `utils.node.js` which should not be present if you are building for browser. I'd like to understand how this is happening!

[2020-01-20 21:14] nastia723 commented on #5873
Hello, HarshaNalluru!
Thank you. By the way, Once I declare
---------------
import { BlobServiceClient } from '@azure/storage-blob';
--------------
then the same error occurs.
https://user-images.githubusercontent.com/47790805/72686477-44e62f00-3b06-11ea-8e33-c2b443cac857.PNG

So I cannot import BlobServiceClient. What's the reason? But that works well in only Node project.

[2020-01-20 21:15] bterlson commented on #7022
I don't want to drop Node 8 unless we can show our users have moved on. I would be surprised of Node 8 going EOL means we don't have to deal with Node 8 deployments. On the other side of the coin, Node 8 isn't super expensive to support -it's not another IE6/IE11 situation.

/cc @southpolesteve

[2020-01-20 21:50] HarshaNalluru commented on #5873
@nastia723,
You should be able to import `BlobServiceClient` to my understanding.

HarshaNalluru/sample-react-app-azure-storage-blob@8f03c1f

The above minimal sample to upload and download data with a react app is working fine for me.

If the above sample app didn't work for you, can you provide me with a minimal repro including the steps to build your application and other necessary details?  Th

[2020-01-20 22:46] HarshaNalluru opened #7033 "[Recorder] Use import over require for the dependencies"
In the recorder, to import some of the modules like nock or path, we depend on `require` and conditionally serve whenever needed and avoid `import` statements in order not to fail in the browsers.

We can handle this better by
- separating out the node and browser code
- use import instead of require
- with proper shimming through rollup
- and tree-shaking with rollup

[2020-01-20 23:00] OP-Klaus commented on #6375
Just to round this out for people viewing this issue in the future, the timeout problem we were experiencing was a problem with a server in a data center , which we have resolved by migrating.

Thanks for the work to optimise the client caching, and for all the attention this issue received. The support we have received has assured me that this library was a good choice for us.

[2020-01-20 23:23] nastia723 commented on #5873
My project is Meteor + Reactjs.
The import line is ok in Server side(node), but I cannot declare the import line in Client side (React code file) because of the util.promisify error.
I look forward to hearing from you.
I will make simple Meteor+React project including this line, and share with you.
Thank you.

[2020-01-20 23:27] #6925 closed

[2020-01-21 06:03] southpolesteve commented on #7022
I agree with Brian. The data I have seen suggests we should not drop Node 8 support.

[2020-01-21 11:30] bermann commented on #6937
Thanks for the answer @southpolesteve it's a pretty old collection, it was created around nov 2017. I'll submit a support ticket also

[2020-01-21 13:17] kirankumarkolli commented on #5581
Resolving the issue, please re-active with repro.

[2020-01-21 13:17] #5581 closed

[2020-01-21 13:29] kirankumarkolli commented on #3732
@southpolesteve can you please take a look?

[2020-01-21 13:46] AlexWil opened #7038 "Fixed containers not consumable by mongo client without partitionKey"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.5.3
- **Operating system**: Ubuntu 19.10
- [x] **nodejs**
    - **version**: 10.16.3
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.7.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug*

[2020-01-21 14:05] southpolesteve commented on #3732
These error messages are improved in v2/v3

[2020-01-21 14:05] #3732 closed

[2020-01-21 15:57] southpolesteve commented on #6576
A backend change has been deployed that fixes this issue. Using `enableEndpointDiscovery: false` is no longer necessary to support CORS

[2020-01-21 15:57] #6576 closed

[2020-01-21 17:12] chradek commented on #7026
@torres-roberto
Thanks for filing this issue. It's expected behavior to see an empty list of events if there are none available in the event hub after a certain period of time. When calling `subscribe`, the last parameter contains two options to control how events are batched and received:
1. [maxBatchSize](https://docs.microsoft.com/en-us/javascript/api/@azure/event-hubs/subscribeoptions?view=azu

[2020-01-21 17:17] MRayermannMSFT commented on #6969
You make a good point regarding access tiers being extended. If y'all end up deciding to not strongly type the field, could you at least comment what the possible values are (at least at the time that version of the SDK is published)?

From a developer point of view, the reason just having a plain `string` is annoying is because if I want to write say some code that says:

[code]

The only way for

[2020-01-21 17:34] wwlorey commented on #6927
Yeah @ljian3377 I was originally using v2

[2020-01-21 17:34] chradek commented on #5623
Since there is already the [uploadStream](https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/blockblobclient?view=azure-node-latest#uploadstream-readable--undefined---number--undefined---number--blockblobuploadstreamoptions-) method for uploading a Node.js stream, I'm curious what the motivation is for adding support for streams to `upload` as well. Is the idea that we could then

[2020-01-21 18:18] bterlson commented on #7022
Going to close this for now unless someone wants to make an argument for dropping node 8 support? Otherwise lets keep an eye on our UA strings and remove support when it will have minimal impact.

[2020-01-21 18:23] YijunXieMS commented on #7017
In Java's implementation, does the jitter cause a new problem? Not sure if I understand that part of Java code correctly.
For instance 'b' successfully steals the partition. Then 'a' claims the partition right after 'b' finishes and kicks 'b' out because they use the same owner level. So 'b' is short-lived for that partition.

[2020-01-21 18:29] AlexGhiondea opened #7039 "KeyVault Backlog"
This issue is tracking the work that is on the KeyVault backlog.

Items that are associated with this Epic must be triaged into the Epic.

[2020-01-21 18:30] southpolesteve commented on #7038
@AlexWil It is not possible to create fixed collections with the V3 JS SDK. There are a few options available:

1. Use the Cosmos custom actions to create the collection via your mongo client https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-custom-commands#create-collection
2. Pass `undefined` or `null` as your shard key when performing a query. I'm not 100% sure if this will work. I am no

[2020-01-21 19:24] bterlson commented on #5873
@nastia723 looking forward to the repro! Fairly confident the issue is webpack (which is being used under the covers) is being told to bundle the node versions of our dependencies rather than the browser ones. Should be able to take a look at a repro and find out why, hopefully it's just some configuration that's missing (and we can document for anyone in the future following a similar path 😀)

[2020-01-21 19:48] #5793 closed

[2020-01-21 20:53] jeremymeng commented on #5623
In the old design there are two kinds of methods: protocol ones (almost) correspond to each REST api, the others at a higher level than the protocol ones. so `upload()` is in former camp while `uploadStream()` is high level. They used to be global exported functions before we moved them into clients. I don't think we plan to deprecate `uploadStream` yet. Yes currently it's NodeJs only.

[2020-01-21 21:00] jeremymeng commented on #7018
It happened in my stress runs. only seen it once though.

[2020-01-21 21:18] jeremymeng opened #7044 "[Storage] should newPipeline() use the cached DefaultHttpClient instance by default?"
if none is specified in the storage pipeline options?

When we fix client constructors to use the cached DefaultHttpClient instance by default, the `newPipeline()` function is not touched. The reason was that `newPipeline()` now is considered an advanced usage scenario so we should respect whatever is and is not in the option bag.

But customers migrating from v10 might not be aware of this since

[2020-01-21 21:22] xirzec commented on #7044
I think treating those two cases differently (e.g. checking the property presence) would be weird, since even though it's technically possible, most wouldn't think about it being a meaningful distinction. If we wanted a sentinel value, I think `false` or `null` would make more sense.

[2020-01-21 22:20] jeremymeng opened #7048 "[core-http] Should we still use RequestPolicyOptions?"
Currently it only contains one private property:

[code]

the constructor of RequstPolicy takes in RequestPolicyOptions.  However, none of our core-http built-in request policy factory methods are passing in an option for the logger.  It is not possible to pass in a logger in current Storage request policy factories either.

Also HttpPipelineLogger is not directly compatible with our core-logger.

[2020-01-21 22:36] #6615 closed

[2020-01-21 22:42] KarishmaGhiya opened #7050 "Dependency Test Matrix - max and min matching published versions"

[2020-01-21 22:58] southpolesteve commented on #4711
This has been fixed

[2020-01-21 22:58] #4711 closed

[2020-01-21 22:59] southpolesteve commented on #2672
Completed

[2020-01-21 22:59] #2672 closed

[2020-01-22 00:14] jeremymeng commented on #5458
closing in favor of #6715

[2020-01-22 00:14] #5458 closed

[2020-01-22 00:35] xirzec opened #7055 "Text Analytics: Respond to User Feedback"
Based on feedback we expect to have to make some changes to the library. This is a placeholder issue for handling these items and will be updated later with details.

[2020-01-22 01:26] #4728 closed

[2020-01-22 01:51] HarshaNalluru commented on #5156
My proposal is to run the playback mode for the tests and if the test fails, then record it.

[2020-01-22 05:07] #7018 closed

[2020-01-22 06:42] AlexWil commented on #7038
Hey @southpolesteve
Thanks for your quick response!

I was not yet aware of cosmos custom actions. Those might be a solution for my problem.

It sounds like microsoft wants to make partitioned collections the new default. Is that right?
In the long term I might have to migrate my fixed collections into partitioned collections anyway.

[2020-01-22 06:42] #7038 closed

[2020-01-22 08:05] ramya-rao-a opened #7066 "[Service Bus] Update websocket options shape in ServiceBusClientOptions"
The web socket related options in Event Hubs was updated to present a simplified shape to the user. Similar change needs to be done in `ServiceBusClientOptions` in the `feature/service-bus-track-2` branch.

Websocket related options in Service Bus today:

[code]

Websocket related options Event Hubs latest version:

[code]

[2020-01-22 08:12] ramya-rao-a opened #7067 "[Service Bus] Add createBatch() to Sender"
The `sendBatch()` method on the sender in Service Bus today allows users to send multiple messages by batching them into a single message. Currently, there is no way for the user to ensure that they dont go over the allowed max size for a batch. They have to send first, and then examine the error that gets thrown in such cases.

This issue is to add a `createBatch()` to the sender just like we did

[2020-01-22 10:04] ljian3377 opened #7070 "Board Review: Storage API review for STG71/Jul19"
Thank you for starting the process for approval of the client library for your Azure service.  Thorough review of your client library ensures that your APIs are consistent with the guidelines and the consumers of your client library have a consistently good experience when using Azure.

** Before submitting, ensure you adjust the title of the issue appropriately **

To ensure consistency, all Tier

[2020-01-22 16:57] southpolesteve commented on #7038
That is correct. All collections are partitioned now and previously fixed collections were "upgraded" so they could start using partition keys. They added a default partition key and you can still interact with them exactly the same by supplying an empty partition key value. It was designed to all just work, but edge cases do happen and this looks like one of them (JS SDK for management, Mongo API

[2020-01-22 17:04] southpolesteve commented on #3062
Not going to do this since we will do any v2 maintenance release from the other repo

[2020-01-22 17:04] #3062 closed

[2020-01-23 04:37] jiacfan commented on #6969
Thanks for reply with detailed ideas illustrated!

From SDK aspect, we will try to optimize the user experience at best effort, with both document and trying to parse accessTier.

At same time, when accessTier returned from service side is extended, please be aware of as service's REST API version is not bumped up for accessTier updates, the new accessTier might be not that easy to be probed in SD

[2020-01-23 09:12] surajmb commented on #3279
@kurtzeborn , can we close this?

[2020-01-23 18:24] jeremymeng opened #7076 "[Storage][File-share] intermittent SAS live tests failures"
Only happening in all three windows build in the most recent run:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=241573&view=ms.vss-test-web.build-test-results-tab

failures like

[code]

[2020-01-23 18:30] jeremymeng opened #7077 "[Storage] possible bug in streamToBuffer2() when pos === bufferSize at the end"
From @mikeharder (slightly updated for code formatting)

This now downloads the whole response but fails with:

[code]
However, this exactly matches the content-length of the GET response, so I don't know why the buffer is not large enough:

[code]

[Yesterday 6:54 PM] Mike Harder
    well, it looks like the `streamToBuffer2()` function (which I did not modify) has a bug
​[Yesterday 6:55 PM] Mike

[2020-01-23 18:36] jeremymeng commented on #7076
Although this test always passed

`Shared Access Signature (SAS) generation Node.js only generateFileSASQueryParameters should work for file with access policy`

[2020-01-23 19:05] dyladan opened #7079 "OpenTelemetry types package renaming"
Hello. I am one of the maintainers of the OpenTelemetry JS project. This is not a bug or a feature request.

The OpenTelemetry JS project is renaming the `@opentelemetry/types` package to `@opentelemetry/api` and bringing all API related concerns which used to reside in `@opentelemetry/core` into the new package. This change is intended to make it so that library vendors can rely on only the `@ope

[2020-01-23 19:12] #6932 closed

[2020-01-23 23:08] ramya-rao-a commented on #6898
Closing this as we now have clean namespaces being used for both node and browser which pre-empts the issue causing the test failure

[2020-01-23 23:08] #6898 closed

[2020-01-23 23:19] ramya-rao-a commented on #4262
Completed with the work done in #5436

[2020-01-23 23:19] #4262 closed

[2020-01-24 00:58] richardpark-msft commented on #5810
Hi @BigBd1, this has now been fixed in @azure/app-configuration 1.0.0.

Closing this issue - please let me know if things do not work as expected.

[2020-01-24 00:58] #5810 closed

[2020-01-24 01:18] #5679 closed

[2020-01-24 01:21] #6162 closed

[2020-01-24 01:21] #3366 closed

[2020-01-24 04:10] ramya-rao-a commented on #6682
Closing this issue as the said workaround has been reverted in #7080
We don't need the workaround anymore as each test run uses a clean namespace.

The original problem with the Service Bus entity is being looked into offline.

[2020-01-24 04:10] #6682 closed

[2020-01-24 05:03] HarshaNalluru opened #7087 "[Storage] CORS rules for the arm-template for the test resources aren't reflected for storage-queue"
### Description

While the Storage template allows enabling CORS rules for blob and file-share services, it doesn't allow the same for queue.
CORS settings that are provided in the template are not being reflected(for the new accounts) which is why the browser tests are failing.

Commits - e572d73 and 4eaacdb

Here's the PR https://github.com/Azure/azure-sdk-for-js/pull/6982 that adds the arm-temp

[2020-01-24 05:20] southpolesteve commented on #6937
@bermann It does appear this is a backend issue. Some older collections are still on a legacy indexing system. Can you send me your subscription ID, account name, database ID, and collection ID via email? stfaul@microsoft.com. I'll get someone on the backend team to help migrate you.

[2020-01-24 05:20] #6937 closed

[2020-01-24 08:38] middiu opened #7088 "@azure/cosmos and transpiling problem:"
- **Package Name**: @azure/cosmos
- **Package Version**: latest
- **Operating system**: All
- [ ] **nodejs**
    - **version**: 10
- [ ] **browser**
    - **name/version**: Chrome, Firefox, IE11

**Describe the bug**
Hi Guys,

I need your help with @azure/cosmos module and transpiling.
I'm developing a Sharepoint webpart using [SPFx](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/sharepoint-

[2020-01-24 09:53] JonathanCa97 commented on #6870
@chradek @ramya-rao-a any updates on this? This is a really annoying error....

[2020-01-24 09:55] Pruxis commented on #6870
Anyone got any insights on this topic? We're having this issue pop up daily in production.

[2020-01-24 09:56] Pruxis commented on #6870
@ramya-rao-a
A visual representation of the stacktrace, if that helps.
![image](https://user-images.githubusercontent.com/6225486/73060452-27172200-3e98-11ea-96a3-e461b1311457.png)

[2020-01-24 09:57] kepikoi opened #7089 "[STORAGE] generateBlobSASQueryParameters should accept DefaultAzureCredential for auth"
**Is your feature request related to a problem? Please describe.**
This is a UX request. Currently `generateBlobSASQueryParameters` does only accept *StorageSharedKeyCredential* for authentication. `BlobServiceClient` does accept *DefaultAzureCredential* as authentication as a few other Azure services I'm using.

I think `generateBlobSASQueryParameters` should also accept *DefaultAzureCredential*.

[2020-01-24 10:02] KevinDenys commented on #6870
Same issue in our production environment

[2020-01-24 12:08] ahmedspiir opened #7090 "Code samples for @azure/arm-monitor"
Arm monitor page https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/monitor/arm-monitor
doesn't include any simples or any explanation for how the package should be used and this is inconsistent with the other packages in this repo since I'll always expect to have examples or samples.

[2020-01-24 12:19] Pruxis commented on #7067
Also what we have noticed is that by sending multiple messages everytime a event listener is created, meaning when sending large amounts of messages in parallel or in batch your server can go out of memory.

[2020-01-24 16:28] hanvyj opened #7092 "Headers are not exposed in query operations in @azure/cosmos"
**Is your feature request related to a problem? Please describe.**

I have a requirement to track our cosmos usage so we know when to scale up the database etc, and which parts of our system need work etc. As part of this we want to track retry counts and 429s.

**Describe the solution you'd like**

All of the cosmos operations (`read`, `upsert`, `create` etc) expose the response headers in a `hea

[2020-01-24 17:30] chradek commented on #6870
@Pruxis and @KevinDenys
Do you have logging enabled for service-bus (setting DEBUG=azure:*error would be useful to start)? It would be very useful to see what's happening in the library leading up to the operation timeout (e.g. is there a temporary network issue).

After you receive this error do you need to restart your receiver before getting more messages?

[2020-01-24 17:59] jeremymeng commented on #5179
@khaosdoctor due to resource allocation we may not be able to work on this in near future. But we do have some ideas on creating another convenience/utility library on top of the @azure/storage-blob package.

[2020-01-24 18:43] khaosdoctor commented on #5179
This would be great! I might be able to create this and include some functionality on my github then, if you'd like to, you all could join the code :)

[2020-01-24 19:19] jeremymeng opened #7097 "[storage] not easy to update file/blob content while keeping the existing properties and metadata"
Discussions at https://github.com/microsoft/vscode-azurestorage/pull/558#discussion_r364895510

from @wwlorey

[2020-01-24 19:59] sadasant commented on #5747
Here's something interesting.

If we set the following `keyvault-keys` to `.only` (and remove any conditionals around them), they do **pass on record and playback** for Node:

[code]

However, if after doing that one does `.only` to a previously passing test (I mean one that would already pass on record and playback on master), that test passes, but the others with .only don't. Example: Let's say

[2020-01-24 20:01] sadasant commented on #5747
I closed this by mistake.

[2020-01-24 22:07] AlexGhiondea opened #7099 "Release Azure Cognitive Search Track 2 Library Preview 1 for JS"
This tracks the work to release the Azure Cognitive Search Track2 Preview 1 Library for JS

### API Design
- [x] Document operation APIs #7189
- [x] Document upload/merge/delete APIs #7190
- [x] Service APIs #7191
- [x] ArchBoard review for querying
- [x] API Review

### Implementation / investigations
- [x] Document Operations #7192
- [x] Document upload/merge/delete APIs #7193
- [ ] Language agn

[2020-01-24 23:22] ChuckByram opened #7106 "DefaultAzureCredential not available for storage-file-share?"
I have a storage component that uses a DefaultAzureCredential to access Azure Blob storage, but when I tried to use DefaultAzureCredential to access File Share in the same Storage Account, it doesn't look like it gets used and I get a 404. The storage-blob readme does mention @azure/identity, while the storage-file-share readme does not. Can you confirm that DefaultAzureCredential should not work

[2020-01-25 00:02] HarshaNalluru opened #7108 "[Recorder] Unknown test failure in playback from storage-queue for a new recording"
HOW TO REPRO -

![image](https://user-images.githubusercontent.com/10452642/73112294-a91c4080-3ec2-11ea-9f3e-4073982718e9.png)

- Generate a new recording for this test and the playback would fail.
- The existing recording works fine

[2020-01-25 00:21] HarshaNalluru commented on #7106
@ChuckByram, `@azure/storage-file-share` doesn't support `@azure/identity` currently, so `DefaultAzureCredential` can't be used.

/cc - @daviwil @jeremymeng for more details

[2020-01-25 00:29] daviwil commented on #7106
Hi @ChuckByram, when we originally created the `@azure/identity` library there wasn't any support for Azure Active Directory authentication with the Storage File Share service.  It looks like that may have changed now:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-overview

We will need to investigate adding support for `@azure/identity` and `DefaultAzureCred

[2020-01-25 00:32] lmolkova opened #7109 "Distributed tracing for Event Hub: do not populate schema in peer.address attribute"
- **Package Name**: @azure/event-hubs
- **Package Version**:  2.1.0
- **Operating system**: any
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Azure SDKs for E

[2020-01-25 00:35] KarishmaGhiya opened #7110 "Builds broken with rush purging only the first package and exiting with non-zero code"
- Example build broken- https://dev.azure.com/azure-sdk/public/_build/results?buildId=243579&view=results

To repro :
- clone the repo azure-sdk-for-js
 - First make sure the repo builds with `rush install` and `rush build` on your local with whatever node version you have
- Install the latest node (of whatever version - 10.18.1 or 12.14.1)
- Delete the temp folder under azure-sdk-for-js/common/te

[2020-01-25 01:12] daviwil commented on #7106
I just found [another documentation page](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth?toc=%2fazure%2fstorage%2fblobs%2ftoc.json) which says that AAD support is *not* enabled for the REST API (which `@azure/storage-file` uses):

![aad_not_supported](https://user-images.githubusercontent.com/79405/73114099-9eff3f80-3ecc-11ea-8ec9-43e1ecf37ed0.png)

It appears we still cannot e

[2020-01-25 01:29] lmolkova opened #7112 "[FEATURE REQ] Distributed tracing for EventHubs: add enqueueTime to Process span links"
**Is your feature request related to a problem? Please describe.**
One of the interesting questions for EventHubs tracing is how much time message spent in EventHubs (or when it was enqueued). It helps to detect worker scaling issues.

Today, we trace when message was sent and also when processing has started. This, however, only helps if the same tracing tool is used on both sides AND if users ha

[2020-01-25 02:56] KarishmaGhiya commented on #7110
Update - the reason why this broke was because rush depends on -
    rush-lib@5.18.0 depends on @pnpm/link-bins@~1.0.1
    https://unpkg.com/browse/@microsoft/rush-lib@5.18.0/package.json
    This depends on mkdirp-promise@^5.0.1, which is the broken package
   https://unpkg.com/browse/@pnpm/link-bins@1.0.3/package.json

mkdirp-promise has a dependency of "*" on mkdirp in their package.json - whic

[2020-01-25 02:59] middiu commented on #7088
Hi,

quick update:

I realized that the previous error was caused by a wrong babel-loader configuration, now that is fixed but I get a new compiling error about @azure/cosmos lib transpiling:

[code]

and this is the new babel-loader conf:
[code]

any help is appreciated.

Regards

[2020-01-25 03:06] tony-gutierrez commented on #4807
Approaching half a year later... Any updates on direct mode?

[2020-01-25 03:17] tony-gutierrez commented on #3009
Any update? It's been months and still no notification hub SDK?

[2020-01-25 03:46] ChuckByram commented on #7106
Thank you guys for looking into this so quickly. I'll make my updates accordingly.

[2020-01-25 03:46] #7106 closed

[2020-01-25 05:09] HarshaNalluru commented on #7108
Figured out the issue.

![image](https://user-images.githubusercontent.com/10452642/73116589-a3882000-3eed-11ea-8784-1338c2155aed.png)

An attribute(marker) in the new recording wasn't getting replaced properly.

[2020-01-25 08:08] #7110 closed

[2020-01-25 21:27] NoelAbrahams opened #7115 "Unable to generate a blob SAS using a stored policy"
- **Package Name**:  @azure/storage-blob
- **Package Version**: 12.0.2

**Describe the bug**
The SAS signature generated for a blob is wrong when a policy is specified.

**To Reproduce**

Try to generate blob SAS query parameters via the following:
[code]

**Expected behavior**
This should generate a SAS with `sr=b`

**Actual behaviour**
This generates a container-level SAS `sr=c`.

We want to use

[2020-01-25 21:40] middiu commented on #7088
sorry guys, I managed to fix this by changing babel-loader and webpack configuration, it was all about transpiling options.

[2020-01-26 02:58] qiaozha commented on #7090
Is https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/monitor/arm-monitor#sample-code  the sample you're looking for? Otherwise, can you tell me what kind of samples you're expecting?

[2020-01-26 17:30] southpolesteve commented on #7088
@middiu Glad you got it sorted. Getting the right transpiling config for IE can be tough. You also will need to polyfill a bunch of ES6 builtins. Pulling in core-js is probably the easiest path. We do have several internal apps that use the JS SDK and we transpile it with Typescript. Here is what that config looks like:

[code]

[2020-01-26 17:30] #7088 closed

[2020-01-26 20:59] middiu commented on #7088
Thanks Steve,

What about a wiki page or a section in the main Readme file? I’m sure I’m not the only one dealing with IE11 🙂

[2020-01-26 22:11] southpolesteve commented on #7092
@hanvyj We opted not to expose the full headers object anymore because most queries result in many requests. So calling them "headers" was inaccurate. RUs were aggregated properly, but some other header values were whatever was returned by the last request. Misleading and caused confusion.

I'm definitely open to adding more of these back into FeedResponse. Besides retry count and total wait time

[2020-01-26 22:14] southpolesteve commented on #2248
Note: Should add info about using Cosmos in the browser and how to transpile for IE11 https://github.com/Azure/azure-sdk-for-js/issues/7088#issuecomment-578542603

[2020-01-26 22:15] southpolesteve commented on #7088
@middiu Good idea. I've added a note for myself over in #2248 2248

[2020-01-27 08:00] hanvyj commented on #7092
Yes, I can see that would be an issue looking at the code. Other than storing and exposing an array of headers, I can see it would just be details of the last response and be confusing.

Those were the two ones we're looking at for the moment.

[2020-01-27 08:18] ahmedspiir commented on #7090
@qiaozha
Comparing to keyvault https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/keyvault/keyvault-secrets

and Blob samples for example https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-blob/samples

The information for Monitor is not enough, i had to read the API docs and examples for SDKs in other languages to figure out how i should use it.

It will be nice to h

[2020-01-27 14:05] natinati8520 opened #7117 "arm-compute: resource list - return resource tags along with the resource"
Using ResourceManagementClient for `client.resources.list` returns the resource (i.e. a vm),  but without its tags.

ComputeManagementClient's `client.virtualMachines.list` returns the vms' tags - but it's unfilterable via its options* in anyway (correct me if I'm wrong).

*i.e. ``client.virtualMachines.list({filter: `tagname eq something`})``

[2020-01-27 14:50] nickzhums commented on #7090
@ahmedspiir  Thanks for reporting this, we will look into it :)

[2020-01-27 16:58] milashenko opened #7118 "Unable to upload blob using SAS"
- **Package Name**:
@azure/storage-blob
- **Package Version**:
^12.0.2
- **Operating system**:
- [x] **nodejs**
v12.11.1

**Describe the bug**
It is impossible to upload/download blobs using generateBlobSASQueryParameters and BlockBlobClient

**To Reproduce**
Steps to reproduce the behavior:
Run the following:
[code]
Results in response from server:
[code]

**Expected behavior**
File is uploaded

[2020-01-27 18:22] richardpark-msft commented on #4666
We'll have to test this a bit more - it's not necessarily our immediate library that uses events but it could be one of our dependencies (like reha, for intsance). So after we do this we'd need to be pretty thorough about testing the library.

[2020-01-27 18:49] #6840 closed

[2020-01-27 18:55] jeremymeng commented on #5796
This may be addressed by PR #7107

[2020-01-27 19:02] #6539 closed

[2020-01-27 19:07] HarshaNalluru commented on #5438
@ramya-rao-a, IIRC, the issue here was that the error caught at core-http wasn't propagated to storage.

[2020-01-27 19:07] #6952 closed

[2020-01-27 21:42] #6970 closed

[2020-01-27 23:51] #6994 closed

[2020-01-28 00:23] HarshaNalluru commented on #7108
Fix here #7119

[2020-01-28 00:38] #6652 closed

[2020-01-28 00:52] ramya-rao-a commented on #6653
The version 5 of the event hubs library is now released.
The [readme](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/eventhub/event-hubs) has all the relevant links

[2020-01-28 00:52] #6653 closed

[2020-01-28 01:16] JasonPan opened #7132 "Cosmos Read requestCharge header type"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.5.3
- **Operating system**: macOS
- [x] **nodejs**
    - **version**: v10.16.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.5.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
`req

[2020-01-28 05:41] HarshaNalluru opened #7135 "[Recorder] Coupling `RecorderEnvironmentSetup` with the record call"
- Scope the environment setup meant for the recorder to a test level rather than at the test-suite level

[2020-01-28 05:43] HarshaNalluru commented on #7135
https://github.com/Azure/azure-sdk-for-js/pull/7083 and #7085

[2020-01-28 09:12] milashenko commented on #7118
ok. It starts working when expiryTime is changed to expiresOn, and startTime => startsOn. I.e. I was using property names from examples of previous @azure/storage-blob versions.

Anyways it would be nice to have better messaging when required properties are missing.

[2020-01-28 12:23] Roma36 commented on #6870
@chradek We (with @MolochkoVitaly ) are using rhea-promise: **v0.1.15** and rhea: **v1.0.15**

[2020-01-28 15:49] nickzhums commented on #7090
@ahmedspiir are there any specific scenarios you are looking for?

[2020-01-28 17:17] #6714 closed

[2020-01-28 18:47] jeremymeng commented on #3465
In a conference call with a customer, we (@bterlson, me, and @MRayermannMSFT) witnessed that the proxy that the customer was using is `https://` and it did work as expected.  Closing this.

[2020-01-28 18:47] #3465 closed

[2020-01-28 20:16] richardpark-msft commented on #4199
@bterlson, @ramya-rao-a - in light of possible changes to the way we implement retry policies in core-http would we like to delay this to the next milestone (March, not Feb)? There might be better chance of at least having a semi-similar design between the two, even if they don't share code.

Currently I believe we only have exponential and "linear-ish" (via the throttling policy).

[2020-01-28 20:25] bterlson commented on #4199
I have no objections.

[2020-01-28 20:40] HarshaNalluru commented on #7108
#7119 Merged

[2020-01-28 20:41] #7108 closed

[2020-01-28 21:16] sadasant opened #7139 "[KeyVault] Expose the parser of the KeyVault identifier"
Our KeyVault clients use the `parseKeyvaultEntityIdentifier` method from the generated code, specifically located at `./core/utils`. This code needs to be publicly available.

Tasks:

- [x] Check the public API that other languages will be using for this functionality. Document it back in this issue.
- [x] Do an initial PR for KeyVault-Keys.
- [x] Do the remaining PRs for KeyVault-Keys and secrets

[2020-01-28 21:29] sadasant commented on #7139
The currently discussed cross-language approach mixes this code: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.Shared/src/KeyVaultIdentifier.cs

With this idea:

[code]

However, the discussions continue.

[2020-01-28 21:32] sadasant commented on #7139
Seems like the preferred name so far is `KeyVaultIdentityParser`.

[2020-01-28 21:41] sadasant opened #7140 "[KeyVault-Keys] The CryptographyClient should allow to be created with a KeyVaultKey"
To facilitate local cryptography on other clients, the CryptographyClient should allow being created by a KeyVault-Key.

This is currently a supported feature, see the following code:

https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-keys/src/cryptographyClient.ts#L676-L680

However, we should write at least a test and a sample making sure that this fulfills the expected

[2020-01-28 21:44] #6562 closed

[2020-01-28 21:55] sadasant opened #7141 "[KeyVault] Support for multiple KeyVault service API versions"
The KeyVault service will continue to evolve over time. This means new API versions with potential breaking changes. Our clients need to be able to support switching from one API version to the other, so that customers can stay on the API version that makes their system work, and eventually migrate.

For this reason, our main task with this issue is:

- [ ] Support specifying a service API version

[2020-01-28 22:01] sadasant commented on #7039
Sprint 165 (due on February 7th):

- [ ] [KeyVault] Expose the parser of the KeyVault identifier #7139
- [ ] [KeyVault-Key] The CryptographyClient should allow to be created with a KeyVaultKey #7140

Sprint 166 (due on February 28th):

- [ ] [KeyVault] Support for multiple KeyVault service API versions #7141

[2020-01-28 22:01] ramya-rao-a commented on #7067
Thanks for the feedback @Pruxis!
That concern should be taken care of in #6903

[2020-01-28 22:25] heaths commented on #7141
Could you clarify,

Seems that would be something in the management plane, which is defaulting to `true` already. How would this affect the data plane?

One thing we might want to consider is if, and in what cases, does the service validate and fork on API version.

[2020-01-28 22:39] chradek commented on #1297
We now use either the [loopUntil](https://github.com/Azure/azure-sdk-for-js/blob/20e205723b1a8dbb9a02d92ae6988157403f35a0/sdk/eventhub/event-hubs/test/utils/testUtils.ts#L43) method or a delay within a loop to poll state in tests rather than a hard-coded time.

[2020-01-28 22:39] #1297 closed

[2020-01-28 22:39] sadasant commented on #7141
@heaths I don't really know what that means right now. I need some time to catch up with this. I'll make sure to answer you when that day comes.

[2020-01-28 23:10] ramya-rao-a commented on #6793
@HarshaNalluru This can be closed now right?

[2020-01-28 23:17] #6793 closed

[2020-01-29 01:14] jeremymeng opened #7143 "[storage][test] fs.unlinkSync() still leaves file handle opened on Linux"
This is probably not a big problem in regular runs, but may impact stress runs with large number of iterations.

In highlevel.node.spec.ts, we use `fs.unlinkSync()` to delete the temp files. However, file handle of those deleted files are still left open. Here's result of `lsof` from a stress run.

[code]

[2020-01-29 01:17] jeremymeng commented on #7143
interestingly, this only happens for tempfile, but not for `downloaded.` files

[2020-01-29 01:39] jeremymeng commented on #7143
Someone indicates that `fs.truncate()` may work around the issue https://stackoverflow.com/questions/48529030/nodejs-fs-unlink-not-releasing-file-handles

[2020-01-29 01:43] ramya-rao-a commented on #5034
I believe @bterlson did something to remove the noise created by the recordings in PRs. See #6701

So, this issue can be closed?

[2020-01-29 01:53] ramya-rao-a commented on #6973
The sample for the atom based management apis got merged to master along with the feature itself in #6893

There are no plans to update the readme for this feature.

[2020-01-29 01:53] #6973 closed

[2020-01-29 01:53] HarshaNalluru commented on #5034
Yes IMO.
Also, I came across an issue that @kurtzeborn logged this morning https://github.com/Azure/azure-sdk/issues/976 to move the recordings out of the repos. Not sure if it would materialize soon.

[2020-01-29 01:56] ramya-rao-a commented on #5317
We believe this issue is a duplicate of #5757, which got fixed via #6265 in the latest version of the Service Bus package

[2020-01-29 01:56] #5317 closed

[2020-01-29 02:01] ramya-rao-a commented on #5318
There is no further planned work for amqp-common and so, removing the dependency on the ms-rest-nodeauth library is not in scope anymore.

We will very soon be moving to use the `@azure/core-amqp` package instead which does not use the ms-rest-nodeauth library.

Therefore, closing this issue

[2020-01-29 02:01] #5318 closed

[2020-01-29 02:03] ramya-rao-a commented on #5273
The reason preview 6 of ampq-common was not browser friendly is explained in #5318

There is no further planned work for amqp-common and so, removing the dependency on the ms-rest-nodeauth library is not in scope anymore. Which means there is no current problem in amqp-common not being browser friendly.

We will very soon be moving to use the `@azure/core-amqp` package instead.

Therefore, closing

[2020-01-29 02:03] #5273 closed

[2020-01-29 05:03] HarshaNalluru opened #7145 "Testing the recorder library"
- [ ] Create a fake project where we can probably start a server and hit the server for testing
   - [ ] Has to be done for both node and browser separately
   - [ ] For any new feature that we want to test, there are two tasks..
      - [ ] run record to test the feature - generate the recording
      - [ ] run playback and test the recording
      - [ ] for any new feature to be tested, HTTP req

[2020-01-29 08:48] ahmedspiir commented on #7090
@nickzhums I managed to figure out my case but it will nice in general to have solid examples.
I wanted to get the storage size in Cosmos DB and Storage Account.
It wasn't clear what kind of properties i need to provide, how the value will look like after receiving a response.
[code]
[code]
[code]

[2020-01-29 10:00] qiaozha commented on #7117
Is your issue similar with this one https://github.com/Azure/azure-sdk-for-js/issues/6468? I think they are dealing with it

[2020-01-29 14:54] natinati8520 commented on #7117
Hi and thanks, it does seem a bit similar; what I need is the resources.list to return the resource tags, along with the other attributes it's already returning (#6468 asks for the statuses only I think).

or a _filter_ option in the arm-compute virtualMachines.list, just like the one in resources.list :)

Thank you so much for the help!

[2020-01-29 15:44] sadasant commented on #7139
Use `Identifier` instead of `Identity`.

[2020-01-29 16:25] #7132 closed

[2020-01-29 16:28] southpolesteve commented on #7132
@JasonPan I'll have a fix for this released in the next few hours

[2020-01-29 16:45] nickzhums commented on #7090
@ahmedspiir Thanks much for providing your code, we are currently working on updating the documentation but there are a lot of things to improve so we are kind of sorting our priority list. Will definitely take your suggestion

[2020-01-29 18:12] sadasant opened #7147 "[KeyVault-Keys] Bring back ESLint"
Let's bring back ESLint. Look at the Certificates PR for an example: https://github.com/Azure/azure-sdk-for-js/pull/7136

[2020-01-29 18:23] sadasant opened #7148 "[KeyVault-Secrets] Bring back ESLint"
Let's bring back ESLint. Look at the Certificates PR for an example: #7136

[2020-01-29 20:28] joelrbrandt commented on #6656
Thanks for tracking this downstream fix and notifying us here!

@jeremymeng Just my $0.02 -- it seems like it might be worth updating the core-http dependency in this package to `^1.0.3`. I'd hate for someone to experience this bug just because something else in their code requires `=1.0.0` for core-http (and thus npm's dedupe uses 1.0.0 for this package too).

[2020-01-29 20:47] chradek commented on #6556
This does not appear to be an issue that the JS implementation of the event hubs receiver has. I tested receiving events that were between 512 KB - 1024 KB over 3 partitions and logged the credit/delivery counts over time. I did not find any discrepancies with how credits on the receiver link were being calculated.

[2020-01-29 20:47] #6556 closed

[2020-01-29 21:35] chradek commented on #6437
Closing this issue as we have not seen this test failure in the last 30 days. The test pipeline has also been completely green for the last 2 weeks.

[2020-01-29 21:35] #6437 closed

[2020-01-29 21:45] HarshaNalluru opened #7156 "Where should the `.env` files used by the tests of our SDKs reside?"
### Where should the `.env` files used by the tests of our SDKs reside?
#### Potential answers
-  `sdk/service/` folder
-  `sdk/service/service-sdk` folder
-   `root` folder - only one .env file for all the SDKs (and make sure no conflicting names across the services)

#### Current Situation
For storage, it is placed under `sdk/service/` folder.
For eventhubs packages, it is placed at `sdk/service

[2020-01-29 22:11] chradek commented on #6512
I've confirmed this does happen in version 5.0.0 of the library as well.

[2020-01-29 22:45] HarshaNalluru opened #7158 "[Storage] Add tests with `coreHttp.requestOptions`"
While keyvault noticed an issue/inconsistency with the `requestOptions` - https://github.com/Azure/azure-sdk-for-js/issues/5747, storage didn't notice such an issue. Probably, storage doesn't have tests with `requestOptions` from core-http.

It would be good to have some tests.

[2020-01-29 23:29] HarshaNalluru commented on #5747
### Notes
The issue is `requestOptions timeout` test is failing in the browser while it succeeds in node.
![image](https://user-images.githubusercontent.com/10452642/73406662-d5153880-42ab-11ea-82a2-056038e36790.png)

The test expects AbortError to be thrown.
Upon some digging through the internals of it in core-http, found this..
In node, we do a setTimeout with abort().
![image](https://user-ima

[2020-01-30 00:04] ramya-rao-a commented on #5160
Closing in favor of #7145 as it has more details

cc @HarshaNalluru, @xirzec

[2020-01-30 00:04] #5160 closed

[2020-01-30 00:05] ramya-rao-a commented on #7145
From #5160 by @sadasant

[2020-01-30 00:06] ramya-rao-a commented on #5034
Closing this issue after offline discussion with @sadasant

The problem of recordings causing noise in PR is solved by @bterlson's work in #6701

https://github.com/Azure/azure-sdk/issues/976 will cover future work of possibly not having the recordings in the repo in the first place.

[2020-01-30 00:06] #5034 closed

[2020-01-30 00:06] HarshaNalluru commented on #7135
#7083 and #7085

[2020-01-30 00:06] #7135 closed

[2020-01-30 00:10] sadasant commented on #6006
This issue will take considerable time without considerable benefit today. I'll close it.

[2020-01-30 00:10] #6006 closed

[2020-01-30 00:13] ramya-rao-a commented on #4227
Closing this issue as the task to move the ARM libraries to new Azure Core will commence as a separate cross language effort later in the year.

[2020-01-30 00:13] #4227 closed

[2020-01-30 00:17] ramya-rao-a commented on #4226
Closing this issue as the task to move the ARM libraries to new Azure Core will commence as a separate cross language effort later in the year.

[2020-01-30 00:17] #4226 closed

[2020-01-30 00:18] ramya-rao-a commented on #4194
Closing this issue as the task to move the ARM libraries to new Azure Core will commence as a separate cross language effort later in the year.

[2020-01-30 00:18] #4194 closed

[2020-01-30 00:19] #3516 closed

[2020-01-30 01:33] chradek commented on #3651
The above tasks have been completed and the changes were included prior to the GA releases of our libraries. Closing the issue.

[2020-01-30 01:33] #3651 closed

[2020-01-30 08:25] ahmedspiir commented on #7090
Thanks @nickzhums , hopefully will be soon. A good package with documentation is hard to be used.

[2020-01-30 08:49] jeremymeng commented on #6656
Good point @joelrbrandt! I've been thinking of doing that too after making more bug fixes in core-http for storage.

[2020-01-30 11:18] marcosmcb opened #7162 "[STORAGE] Ability to filter blobs based on metadata attributes"
**Is your feature request related to a problem? Please describe.**
When using BlobStorage, I'd like to retrieve blobs based on the value of a metadata attribute that I added when creating the blob file.

**Describe the solution you'd like**
Ideally, the solution should be a method that returns the blobNames of the blobs that match my criteria.

For example: if I need all the blobs in a container t

[2020-01-30 13:37] Avocher opened #7163 "Browser friendly release of @azure/storage-blob for snowpack"
**Is your feature request related to a problem? Please describe.**
It is currently required to have a bundler that can add the Node.js specific apis to the bundle to use the @azure/storage-blob package in browser.

**Describe the solution you'd like**
It would be amazing if the package could ship an ES Module that could be used as is either through a cdn or something like snowpack https://www.snow

[2020-01-30 18:08] bterlson commented on #7163
@Avocher I haven't tested with snowpack yet, but our library should work out-of-box with a variety of bundlers and includes the shims and other things required for the Node APIs to work in the browser. We do ship our packages with ESMs that support both node and browser as well! You can find them in the dist-esm folder of our package.

That said, we used to ship a browser-specific bundle with our

[2020-01-30 18:09] bterlson commented on #7163
Also if you want to give snowpack a shot, let me know how it goes! It's on my list of things to test out soon, but hopefully it "just works" based on same machinery that makes webpack, rollup, and parcel  "just work" 😀

[2020-01-30 18:39] jeremymeng commented on #3513
- storage is not using the rollup .d.ts yet.
- there are still some warnings that need to be fixed.

[code]

This is expected as we don't want users to use `StorageClient` directly:
`// Warning: (ae-forgotten-export) The symbol "StorageClient" needs to be exported by the entry point index.d.ts`

[2020-01-30 18:40] AlexGhiondea opened #7164 "Release Azure Cognitive Search Track 2 Library Preview 2 for JS"
This tracks the work to release the Azure Cognitive Search Track2 Preview 2 Library for JS

### Arch board
- [x] Review user defined schemas (part 2)
  - [ ] ~FieldBuilder (reflection driven schema definition)~

### Features
- [x] Service APIs
- [x] React to feedback from Preview 1 around document operations #7838
- [x] Finish the Document upload/merge/delete implementation
- [x] Implement index m

[2020-01-30 18:41] AlexGhiondea opened #7165 "Release Azure Cognitive Search Track 2 Library Preview 3 for JS"
This tracks the work to release the Azure Cognitive Search Track2 Preview 3 Library for JS

### Arch board
- [x] API review for Index operations: https://github.com/Azure/azure-sdk/issues/1143

### Features
- [x] Design and implement Indexers #8225
- [x] Design and implement DataSources #8290
- [ ] ~Design and implement batching operation for document operations~ (postponed until after GA)
- [ ] C

[2020-01-30 18:41] AlexGhiondea opened #7166 "Release Azure Cognitive Search Track 2 Library Preview 4 for JS"
This tracks the work to release the Azure Cognitive Search Track2 Preview 4 Library for JS

### API Review
- [x] Cross language consistency review
- [x] Finalize review and get approval for Indexer and Skillset API

### Features
- [ ] Test environment setup (moving to an index per test)
- [ ] Strongly typed facet results
- [ ] API review feedback

### Docs
- [ ] Samples

[2020-01-30 18:47] HarshaNalluru opened #7167 "[Keyvault] Add more info on creating a new keyvault account in the readme"
### With the ARM template
Readme doesn't mention creating the AAD app.
User is supposed to deploy the template, create a keyvault account and assign owner role to the AAD app. Assigning the role is not mentioned as well.

### Without the ARM template
While template is definitely handy, it is better to provide the complete set of steps to create a new keyvault account manually too.

[2020-01-30 21:19] jeremymeng opened #7172 "[Storage] "BlobClient undelete" live test failure"
This might be similar to the segment result having a valid nextMarker but an empty result array

[code]

[2020-01-31 06:11] chandrakantaS commented on #6869
@qiaozha I am using `version: 1.7.0`

[2020-01-31 06:13] qiaozha commented on #7117
@nickzhums  Can you have someone in compute team take a look at this issue? I think this is a new feature request.

[2020-01-31 06:42] qiaozha commented on #6869
Can you try to upgrade the ms-rest-js version?

[2020-01-31 06:43] chandrakantaS commented on #6869
Sure. Any suggestion on which version to! Or just the latest one.

[2020-01-31 06:44] qiaozha commented on #6869
Just the latest one.

[2020-01-31 12:34] MolochkoVitaly commented on #6870
Hey @chradek we've recently faced this issue again and now we have more logs.
Here you can find it: https://github.com/MolochkoVitaly/Azure-Service-Bus-Logs/blob/master/2020_01_31_RD00155D87AFC7_default_docker.log.txt

[2020-01-31 15:18] nickzhums commented on #7117
@mjconnection  @Drewm3 Could you take a look at this to see if this is a feature request? Thanks

[2020-01-31 16:57] danieljurek commented on #7008
This was fixed on 1/17

[2020-01-31 16:57] #7008 closed

[2020-01-31 16:59] danieljurek commented on #6968
This was handled by https://github.com/Azure/azure-sdk-for-js/pull/6999

[2020-01-31 16:59] #6968 closed

[2020-01-31 17:36] jeremymeng commented on #5764
This is the same as #5873.  We are waiting for customer response on a potential repro there.

[2020-01-31 17:47] jeremymeng opened #7181 "[Storage] "BlobServiceClient SetProperties" live test failure"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=248736&view=ms.vss-test-web.build-test-results-tab&runId=8409346&resultId=100067&paneView=debug

[code]

[2020-01-31 18:14] #4544 closed

[2020-01-31 18:39] jeremymeng commented on #5852
This is done via #7094

[2020-01-31 19:00] grahamehorner opened #7185 "Q: looking the the Cognitive Services Speech SDK"
I'm trying to find the cognitive service speech sdk and typescript samples as I'm having issues using the currently published 'microsoft-cognitiveservices-speech-sdk' v1.9.0

[2020-01-31 20:18] AlexGhiondea opened #7187 "[Cognitive Search] Create samples and snippets"
This tracks the work for generating the samples and snippets.

[2020-01-31 20:18] AlexGhiondea opened #7188 "[Cognitive Search] Create readme"
This tracks the work for generating the readme for the library

[2020-01-31 20:19] AlexGhiondea opened #7189 "[Cognitive Search] Design document operation APIs"
This tracks the work to design the APIs for the document operations endpoint.

This includes:
- Search
- Suggestions
- Autocomplete
- Lookup
- Count

[2020-01-31 20:19] AlexGhiondea opened #7190 "[Cognitive Search] Design document upload/merge/delete APIs"
This tracks the work to design the APIs for the document upload/merge/delete APIs endpoint.

This includes:
- Upload/merge/delete APIs

[2020-01-31 20:19] AlexGhiondea opened #7191 "[Cognitive Search] Design service APIs"
This tracks the work to design the APIs for the document Service APIs endpoint.

This includes:
- Service APIs

[2020-01-31 20:20] AlexGhiondea opened #7192 "[Cognitive Search] Implementation for document operations"
This tracks the work for implementing the design from #7189

[2020-01-31 20:20] AlexGhiondea opened #7193 "[Cognitive Search] Implementation for upload/merge/delete APIs"
This tracks the work for implementing the design from #7190

[2020-01-31 20:23] AlexGhiondea opened #7194 "[Cognitive Search] Create getting started documentation"
This tracks the work for generating the getting started documentation for the library

[2020-01-31 20:48] jtsmedley commented on #7194
Just start over on the documentation.  It has been a nightmare to even try to find how to copy/rename a blob.

Really makes me want to switch to lesser known libraries with documentation that is readable.  Your API reference is not.

[2020-01-31 21:18] maggiepint commented on #7194
Hi @jtsmedley - this is something that I'm actively working on right now. We know that legibility in the refdocs can be problematic sometimes. I would love to know more details of what your biggest pain points are in more detail. Happy to follow up in this thread or to have a call if you were interested.

[2020-01-31 21:32] jtsmedley commented on #7194
@maggiepint My main issue today is there is no reference to how to rename a blob which appears to need a copy instead, but I can't get the copy to work off the documentation.

[2020-01-31 21:41] AlexGhiondea commented on #7194
@jtsmedley can you share more about the package you are using?

[2020-01-31 23:04] jeremymeng commented on #5873
I created a Meteor + React sample by following the step-by-step tutorial at https://www.meteor.com/tutorials/react/components to the point where I can add a client UI under `imports/ui`.
Then I use the storage code in the client https://github.com/jeremymeng/meteor-react-test/blob/master/imports/ui/App.js.  I was able to retrieve container and blob information using the @azure/storage-blob package

[2020-01-31 23:10] jeremymeng opened #7202 "[Storage] How to copy/rename a blob?"
Forked from https://github.com/Azure/azure-sdk-for-js/issues/7194#issuecomment-580905453

@jtsmedley

jtsmedley commented 2 hours ago
Just start over on the documentation. It has been a nightmare to even try to find how to copy/rename a blob.

Really makes me want to switch to lesser known libraries with documentation that is readable. Your API reference is not.

@maggiepint

Member
maggiepint com

[2020-01-31 23:18] jeremymeng commented on #7194
@jtsmedley I created #7202 to continue discussion specific to storage blob api. It's our bad that we didn't have enough information to indicate that this issue is tracking the doc work for the Cognitive Search library.

You are still welcome to continue providing more feedback either here or through new issues.  Thank you!

[2020-01-31 23:31] ramya-rao-a commented on #7185
Hey @grahamehorner

We dont have an sdk for Cognitive Services speech in this repo at the moment.
It is something that we may look into in the future though

Have you tried logging an issue in https://github.com/Microsoft/cognitive-services-speech-sdk-js?

[2020-02-01 00:04] #3279 closed

[2020-02-01 00:51] jeremymeng commented on #7202
@jtsmedley

The Azure Storage Blob service doesn't provide a REST api to rename blobs. We didn't provide a helper function in our library either.  This sounds like a useful method that we may want to provide either in `@azure/storage-blob`, or another utility/convenience library on top of `@azure/storage-blob`. /cc @bterlson @XiaoningLiu @jiacfan @ljian3377

Meanwhile here's one approach that we c

[2020-02-01 01:01] jeremymeng commented on #7162
@marcosmcb I don't think the service currently supports filtering by metadata (https://docs.microsoft.com/en-us/rest/api/storageservices/list-blobs). So if we were to add a method into the client library, it would be the same as you described in the alternatives section above.

[2020-02-01 01:19] sbutalia opened #7203 "Getting timeouts on API requests"
Package:
[code]

code:
[code]

error:
[code]

[2020-02-01 16:34] marcosmcb commented on #7162
@jeremymeng  thanks for your answer, I found a way to speed up my query by using the metadata object of my container as a look up table. I'm wondering if there's any limitation on the size of the metadata object, for example, could it support 2MI entries?

[2020-02-01 22:03] jeremymeng commented on #7162
Could you please provide more details on how you do the indexing on the containers?

[2020-02-01 22:35] marcosmcb commented on #7162
So, my problem is - I need to delete blobs that are X days old from my container and don't have a certain field in their metadata.

I add the value for that field, in my metadata, after the user makes a purchase, then once I have the confirmation I need to add the order NO to the blob metadata.

So, for blobs that are X days old and don't have the order NO field in their metadata, I can delete the

[2020-02-03 04:23] jiacfan commented on #7115
Hi, @NoelAbrahams

Thanks for providing the feedback, we'll optimize the case reported.

Best Regards,
Jiachen

[2020-02-03 05:57] dw511214992 commented on #7203
checking

[2020-02-03 08:31] jiacfan commented on #5117
Close this issue as the fix is already in place.

[2020-02-03 08:31] #5117 closed

[2020-02-03 08:34] jiacfan commented on #5433
Close this issue as no feedback for months. @sidkasat Please feel free to let us know if there is anything further regarding this issue we can help.

[2020-02-03 08:34] #5433 closed

[2020-02-03 08:35] jiacfan commented on #5556
Close this issue as there is no feedback for months. @timfpark please feel free to tell us if there is anything we can help regarding this issue.

Thanks,
Jiachen

[2020-02-03 08:35] #5556 closed

[2020-02-03 08:42] jiacfan commented on #6120
+ @XiaoningLiu per comments in [#6060 (comment) ](https://github.com/Azure/azure-sdk-for-js/pull/6060#discussion_r342888276)

[2020-02-03 12:04] dw511214992 commented on #7203
Hi @sbutalia

Cloud you show your full code?  What does computeClient refer to in you sharing code?

Thanks

[2020-02-03 12:30] #7019 closed

[2020-02-03 12:59] NoelAbrahams commented on #7115
Thanks, Fan. You should use a semicolon here to avoid a comma-splice:

Otherwise it'll be seen as a bug in your writing. Also, always aim for a simple implementation, where that is possible (KISS). For example:

[2020-02-03 14:12] jiacfan commented on #6640
Hi, @shanmuksai

Thanks for the latest reply, and sorry for the latency. Is the issue still happening in your side? Have you tried to register some testing onRejected functions, e.g:

[code]

And would that work and print error reason properly in your environment? BTW what's the detailed package version you're using?

Best Regards,
Jiachen

[2020-02-03 16:11] sadasant commented on #5156
What I want to do:

- [ ] Separate the Node Recorder and the Browser Recorder into two files.
- [ ] Separate the code that deals with reading and writing files into re-usable logic, if possible.
- [ ] Separate the code that deals with running each test into re-usable logic, if possible.
- [ ] Write unit tests for the separated methods.
- [ ] See how to best fit a mechanism to prevent recording fro

[2020-02-03 16:14] BertholetDamien commented on #4021
Hi team,

We try the "@azure/storage-blob": "^12.0.1" and the issue is still there.

And my Workaround doesn't work anymore with these version so we had rollback to 10.4.1 with the work around.

Can you tell me if you will be able to investigate ?

Thanks a lot for your time

[2020-02-03 16:56] weshaggard opened #7209 "Clean-up branches in main repo"
We have a lot of branches (~200)  polluting our main repo we need to clean those up and only have branches that match the repo branching policy (https://azure.github.io/azure-sdk/policies_repobranching.html)
and fix any tooling, like autorest, to stop creating branches in the main repository. Those tools should use branches in a fork to avoid polluting our main repo.

[2020-02-03 17:40] #7087 closed

[2020-02-03 17:51] chradek commented on #6870
@MolochkoVitaly
Thank you very much for providing these logs! I'll look into these and let you know what I can find.

[2020-02-03 18:05] #6041 closed

[2020-02-03 23:50] sadasant commented on #5156
Ignore the previous points, here's my draft PR: https://github.com/Azure/azure-sdk-for-js/pull/7213

My current plan is to finish the unit tests and turn it ready for review.

[2020-02-04 03:09] KarishmaGhiya commented on #6749
https://github.com/Azure/azure-sdk-for-python/pull/9648/ - eg PR in python to integrate

Update-Change-Log.ps1 in eng\common is the script to update change log

[2020-02-04 06:00] dw511214992 commented on #6869
Close this issue now. If not resolved, reopen it.

[2020-02-04 06:00] #6869 closed

[2020-02-04 06:07] dw511214992 commented on #6343
@nickzhums  Please help check, thanks

[2020-02-04 06:11] dw511214992 commented on #6292
Don't get response from customer any more, so close this issue. If it remains, reopen it.

[2020-02-04 06:24] #4982 closed

[2020-02-04 07:32] nickzhums commented on #6343
The documentation mismatch between Node JS SDK and Javascript/Typescript SDK is a known issue. This will be cleaned up altogether when Track 2 JS SDK is introduced @ramya-rao-a

[2020-02-04 08:47] shanmuksai commented on #6640
@jiacfan
Issue was resolved. Thanks for your support.

[2020-02-04 08:47] #6640 closed

[2020-02-04 11:07] ljian3377 commented on #7077
@jeremymeng
I tried to repro it but failed. Could you provide more details?

Are you talking about this test case?
https://github.com/Azure/azure-sdk-for-js/blob/c75db3ce8f9afb207b22442910c062141a773dfd/sdk/storage/storage-blob/test/node/highlevel.node.spec.ts#L194

[2020-02-04 11:53] ljian3377 commented on #7076
https://dev.azure.com/azure-sdk/internal/_test/analytics?definitionId=159&contextType=build
These tests succeeded except that three run. Will look into the service log for more info.

[2020-02-04 12:21] XiaoningLiu commented on #7162
Hi @marcosmcb Azure Storage is working on a feature to boost blobs query. It should help for your case. Stay tuned : )

[2020-02-04 12:24] XiaoningLiu commented on #7172
Thanks @jeremymeng , will take a look.

[2020-02-04 13:39] XiaoningLiu commented on #4021
Hi @BertholetDamien I'll try to take a look when I get time. Besides that, if possible, try to disable keep alive options and see if it works in latest version.
[code]

[2020-02-04 13:54] XiaoningLiu commented on #7097
That's a good point! Let's evaluate what we can do to improve the convenience.

[2020-02-04 14:05] XiaoningLiu commented on #7044
Agree. Prefer to treat them same.

Also reasonable for newPipeline() use the cached DefaultHttpClient instance by default. It's what we recommend. And customer can always specific a new http client object by options bag.

[2020-02-04 18:52] bterlson commented on #7162
Given that metadata entries are sent over http headers, and http headers are in practice often limited (8kb total in Node, Nginx, Apache), it seems unlikely that Blob Storage would support millions of metadata entries for a container.

@XiaoningLiu is right though - hopefully the need for additional metadata in the container will be removed soon 😉

[2020-02-04 19:14] sadasant opened #7233 "[KeyVault-Keys] Align with Java's Local Cryptography flow"
Java's Local Crypto flow seems close to what we're doing, but we need to dig deeper and ensure there's nothing missing.

Graph: https://github.com/g2vinay/KVSpec/blob/master/KVLocalCrytpoFlow.md

This issue is most likely going to be useful for this alignment: https://github.com/Azure/azure-sdk-for-js/issues/7140

[2020-02-04 19:17] HarshaNalluru opened #7234 "[Storage] Live test pipeline for storage-file-datalake"
TO DO -
- Use the storage account for file-datalake sdk created by the template,
- properly propagate the values like DFS_ACCOUNT_NAME, etc and
- have the pipeline setup similar to the other three storage-packages.

References
- https://github.com/Azure/azure-sdk-for-js/pull/6982#issuecomment-582072692
- https://github.com/Azure/azure-sdk-for-js/pull/7195

[2020-02-04 20:09] HarshaNalluru commented on #7145
https://github.com/Azure/azure-sdk-for-js/pull/7204#discussion_r374303580

[2020-02-04 20:40] mikeharder commented on #7077
I will create a PR with a unit test showing the issue and what I believe is the fix.

[2020-02-04 20:55] mikeharder commented on #7077
Here's a new test I added which should pass, but fails due to the bug in `streamToBuffer2()`.  I'm still thinking of the best way to fix this.

https://github.com/Azure/azure-sdk-for-js/pull/7236/files#diff-519893dc04f5187705f69451f9b53880R234-R259

[2020-02-04 22:37] HarshaNalluru commented on #5747
Closing with #7159
Scoping this issue to core-http browser issue.

Logging separate issues for node and browser playback.

[2020-02-04 22:37] #5747 closed

[2020-02-04 22:40] HarshaNalluru opened #7240 "[Recorder] Core-http requestOptions timeout issue - Node record/playback"
## Summary/Context
Unexpected behaviour of the `requestOptions.timeout` tests in keyvault with the recorder.
Three tests -`random test`, `timeout test A`, `timeout test B`
 
Case 1
- If `Timeout test A` is being executed alone
  - Test succeeds in record and playback

Case 2
- If `random test`, `timeout test A` are both being executed
  - Random test succeeds, timeout test A fails during playback

[2020-02-04 22:42] HarshaNalluru opened #7241 "[Recorder] Core-http requestOptions timeout issue - Browser record and playback"
Record/playback fails for the test.
Reference - #5747
Better to pick up this issue after fixing https://github.com/Azure/azure-sdk-for-js/issues/7240

[2020-02-04 23:31] xirzec opened #7243 "Rollup: replace config is wrong"
Per https://github.com/rollup/plugins/tree/master/packages/replace

Our replace config should look like
[code]

instead of

[code]

Which doesn't replace anything anymore. Not sure if this changed since a previous plugin version, but tested it on core-http.

Not a big deal since we're not shipping browser bundles, but still seems like it should be cleaned up.

[2020-02-04 23:58] mikeharder commented on #7077
PR is ready for review: https://github.com/Azure/azure-sdk-for-js/pull/7236

[2020-02-05 00:28] HarshaNalluru opened #7245 "[core-http] Outdated links in the `architectureOverview.md`"
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-http/docs/architectureOverview.md

![image](https://user-images.githubusercontent.com/10452642/73799644-587ed000-476b-11ea-97a4-7ed71312c6cc.png)

1. Pointing to a different repo
2. Not pointing to a specific commit, that makes the doc outdated whenever the file gets updated.

[2020-02-05 02:00] xirzec commented on #6940
This package is now marked as deprecated on npm: https://www.npmjs.com/package/azure

[2020-02-05 02:00] #6940 closed

[2020-02-05 03:53] BertholetDamien commented on #4021
Thanks ! I will check this option when I will have time.

Keep me posted if you look further.

[2020-02-05 07:55] jiacfan commented on #7181
Thanks @jeremymeng. We searched log in service side, while it has already been rolled out. We'll check latest testings results, and if there is new failure, we'll look into it further.

[2020-02-05 09:32] jiacfan commented on #7089
Hi, @kepikoi

Thanks for reaching us!

[Here](https://github.com/Azure/azure-sdk-for-js/blob/79917335f0c49d873090fa5a3a56739adac8cb18/sdk/storage/storage-blob/src/BlobSASSignatureValues.ts#L250) is an example for generating SAS with token credential.

After create blobServiceClient with DefaultAzureCredential, try:
[code]

BTW. Generating SAS with sharedKey and token(via AAD) use different logic f

[2020-02-05 09:40] jiacfan commented on #7115
Thanks for the suggestion.

[2020-02-05 16:21] vshulev opened #7253 "Service bus wraps message body in quotes"
- **Package Name**: @azure/service-bus
- **Package Version**: 1.1.2

- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**To Reproduce**

The following code:

[code]

Where `body` is a string

**Expected behavior**
A message should be created with the given body.

**Actual behavior**
The message body

[2020-02-05 18:39] #6933 closed

[2020-02-05 20:27] ysalo opened #7258 "Argument of type 'ApplicationTokenCredentials' is not assignable to parameter of type 'ServiceClientCredentials'"
- **Package Name**: @azure/ms-rest-nodeauth, @azure/arm-automation
- **Operating system**: windows 10
- [ ] **nodejs**
    - **version**: 3.7.4
- [ ] **typescript**
    - **version**:3.7.4

**Describe the bug**
I'm trying to use @azure/ms-rest-nodeauth (3.0.3) and @azure/arm-automation (9.1.0), but I can't create an AutomationClient because the credential types don't match up
**To Reproduce**
Step

[2020-02-05 20:45] KarishmaGhiya opened #7260 "[key vault, cosmos, app-config, storage] Remove all the hard-coded versions in the source code"
- Following are the places where the versions are hard-coded :
- src/appConfigurationClient.ts
- src/generated/src/appConfigurationContext.ts

This requires us to update these hard-coded versions everytime we update the version of the current code in package.json. We prefer that package.json should be the only place where the version should reside to prevent inconsistencies.

Reference PR - https:

[2020-02-05 21:47] ramya-rao-a commented on #7258
Thanks for reporting @ysalo
Does using version 2.0.5 of @azure/ms-rest-nodeauth work with @azure/arm-automation?

@qiaozha This could be due to the management libraries depending on[ v1 of ms-rest-azure-js and ms-rest-js](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/automation/arm-automation/package.json#L7-L8). The v3 of ms-rest-nodeauth works with v2 of ms-rest-azure-js and ms-rest-

[2020-02-05 22:04] ramya-rao-a commented on #7260
Is this an App Config only concern? I would imagine Keyvault and Storage libraries would be on the same boat?

[2020-02-05 22:17] richardpark-msft commented on #7260
No, we all do it the same way. I believe that @southpolesteve has the same technique in his library as well?

[2020-02-05 23:09] #6215 closed

[2020-02-05 23:43] #6934 closed

[2020-02-05 23:56] KarishmaGhiya commented on #7260
@ramya-rao-a Yes there are other libraries too which have hard-coded versioning, and we can identify them and use the same fix for those libraries.

[2020-02-06 00:01] southpolesteve commented on #7260
For Cosmos, we rewrite a string (`REPLACE_SDK_VERSION`) after typescript compilation, but before running rollup https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/writeSDKVersion.js

[2020-02-06 00:22] #6749 closed

[2020-02-06 00:23] willmtemple commented on #7055
Closed with #7220 merged

[2020-02-06 00:23] #7055 closed

[2020-02-06 00:53] chradek commented on #7253
@vshulev
Thanks for logging this issue! The `@azure/service-bus` sender will do one of two things to the body depending on the body's type:
1. If the body is a buffer, it will send it as is.
2. If the body is not a buffer, it will JSON.stringify it before sending the message. When receiving the message using the SDK, the body will be parsed using JSON.parse.

We won't be able to change the default

[2020-02-06 03:29] Petermarcu commented on #5655
We are planning to have an updated version of the Tables libraries that aligns with the Azure SDK guidelines as we have with Blobs, Files, and Queues so far. We aren't at a point where we know concrete dates but we hope to be able to share more in the next couple months and follow that with some previews.

[2020-02-06 03:39] dw511214992 commented on #7258
checking

[2020-02-06 03:50] ramya-rao-a commented on #7260
For Keyvault, Storage and App Config
- We can look into having the version in one place instead of two. Either we update the user agent string related code path to use the package version from the generated code or remove the package version definition from the generated code as it doesnt get used at all. The latter approach will introduce noise the next time we re-generate the code, but I guess w

[2020-02-06 03:53] ramya-rao-a commented on #6940
cc @jongio

[2020-02-06 03:57] ramya-rao-a commented on #6343
Are you referring to the Track 2 JS SDK for management libraries?
If yes, then why?

There are new set of JS packages for management libraries available for over a year.
There is no reason why our docs should be referring to the older Node JS SDK

[2020-02-06 04:01] nickzhums commented on #6343
Hi Ramya, the Track 2 JS SDK will include both data-plane and management-plane, and will be available soon, as part of the new SDK effort, the whole documentation for JS SDK will be re-visited and re-structured, so docs cleanup is a part of the this process. I agree that the docs shouldn't referring to the older Node JS SDK and certainly will address this for the Track 2 JS SDK

[2020-02-06 05:35] jeremymeng commented on #7260
storage use the version defined in constants.ts. Since we don't use the version in the generated code, we could keep it forever as 1.0.0 by not passing package version to autorest when doing the codegen I guess.

[2020-02-06 06:17] HarshaNalluru commented on #7240
The difference between case 2 and 3 is as follows.
Recording for case 2 doesn't have any nock scopes with request-responses defined. Basically, case 2 has an empty recording, nock's global environment is loaded which is not cleaned up.
Recording for case 3 does have nock scopes with request-responses defined, which makes nock to actually respond to the requests, and it fails when there is no match

[2020-02-06 06:28] jongio commented on #6940
Great!

[2020-02-06 06:29] dw511214992 commented on #7258
Hi @ramya-rao-a ,
After discussed with @qiaozha, the problem is that some sdks may have already been released using the new code generator. and they have new code change since last release but haven't submit the release requirement or service haven't ready for release yet. So I think the best way is that we only update the code generator when the service asks us to release sdk.
Thanks

[2020-02-06 06:34] ramya-rao-a commented on #7258
In that case, I would suggest that at the very least, we should add a note to the readme, explaining that the package will work only with v2 of `@azure/ms-rest-nodeauth` and release a patch update.

[2020-02-06 08:37] dw511214992 commented on #7258
Hi @ramya-rao-a
Now, we are not able to ensure new released sdks are the same as exisiting sdks. So it is dangerous to add notes and release it. Our team is going to have a discuss on this issue and will figure out a solution.

[2020-02-06 13:23] MateRadz opened #7270 "How do I create a blob for append?"
When I create manually append blob in portal and try this:

const blockBlobClient = containerClient.getAppendBlobClient('appendtest.csv');
const uploadBlobResponse = await blockBlobClient.appendBlock('test,','test,'.length);

works like a charm.

But If I try:

const blockBlobClient = containerClient.uploadBlockBlob('appendtest2.csv','test,','test,'.length, {"x-ms-blob-type":"AppendBlob"});
const

[2020-02-06 15:06] katlimruiz commented on #5756
[code]
and it doesn't filter by partitionKey.

If I set siteId as part of the query obviously it filters out, but that should not be needed.

"@azure/cosmos": "^3.5.4"

[2020-02-06 16:13] katlimruiz commented on #5756
My workaround is

[code]

[2020-02-06 17:33] chradek commented on #5364
We've made updates to rhea to better support bundling, and updated core-amqp to work with bundling by using the `filename.ts` and `filename.browser.ts` pattern to avoid importing node built-ins in unified code.

We should be able to backport what we did in core-amqp to amqp-common to fix this issue in service-bus v1. Alternatively we could add a `"dns": "empty"` key/value in the package.json brows

[2020-02-06 19:49] MateRadz commented on #7270
This solved the issue, but it really should be in the documentation:

const blockBlobClient = await containerClient.getAppendBlobClient('appendtest5.csv');
**const createresponse = await blockBlobClient.create();**
const uploadBlobResponse = await blockBlobClient.appendBlock('test,','test,'.length);

[2020-02-06 20:32] xirzec commented on #7270
/cc @XiaoningLiu for the opportunity to improve docs

[2020-02-06 21:15] southpolesteve opened #7274 "[Cosmos] Add disableCrossPartitionQuery flag"
In v3 we removed `enableCrossParitionQuery` as it was no longer necessary and simplified the API. But some customers desire the old behavior where it was not possible to accidentally perform a cross partition query. Adding this flag will let them opt into the old behavior.

[2020-02-06 21:57] heaths opened #7277 "March release of KeyVault for JS"
# Features

- [x] Add new Soft Delete properties to Key Vault data plane (#7435)
- [x] [KeyVault] Support for multiple KeyVault service API versions (#7141)
- [x] KeyOperations needs to support "import" for 7.1-preview (#7470)

# Bugs

- [x] Importing PEM-encoded certificates may not work (#7407)

[2020-02-06 21:58] heaths opened #7278 "Support local key encryption for CryptographyClient"
(description added by @sadasant)

This issue requires the creation of a `LocalCryptographyClient` that can be created offline, without ever contacting the service, by providing a JSON Web Key, which only will do local cryptography operations based on this JWK.

The existing CryptographyClient should use the new `LocalCryptographyClient` without changing it's API surface.

[2020-02-06 21:59] vshulev commented on #7253
Thanks for the help, the solutions you described solved the problem. Much obliged!

[2020-02-06 21:59] #7253 closed

[2020-02-06 22:01] heaths opened #7279 "[keyvault-admin] Support Role-based Access Control (RBAC) for data plane via new KeyVaultAccessControlClient"

[2020-02-06 22:17] ysalo commented on #7258
Passing the credential as any to AutomationClient constructor seems to work.

[2020-02-06 22:43] #6512 closed

[2020-02-06 22:45] HarshaNalluru commented on #7240
#7264 and #7265

[2020-02-07 00:55] HarshaNalluru opened #7282 "[Recorder] Refactoring `addRecordings` in karma.conf"
https://github.com/Azure/azure-sdk-for-js/pull/7213#discussion_r376163967

[2020-02-07 02:00] ramya-rao-a commented on #7270
Re-opening as a means of tracking the opportunity to improve docs

[2020-02-07 02:21] chradek commented on #2773
#7060 contains a sample showing how to convert an Iot Hub connection string to the built-in event hubs connection string that can then be used by the EventHubConsumerClient.

[2020-02-07 02:33] sadasant commented on #7282
Thank you for logging this issue!

[2020-02-07 12:12] dw511214992 commented on #4395
Hi @polatengin
Which version of @azure/arm-appservice you used? it works well when I use 5.8.0. Please update your package to this version.
Thank you.

[2020-02-07 15:37] Avocher commented on #7163
I'm really glad to hear that this is of your interest!

You are correct in that the CDN package would be fairly large if shipped as is, but perhaps if it was using the unpkg module feature there could be multiple entries to keep the size down?

Also I tried getting @azure/storage-blob working with snowpack but it sadly failed on:
`Error: 'EventEmitter'  is not exported by node-resolve:empty.js`
My

[2020-02-07 19:26] sadasant opened #7291 "Recorder backlog"
This issue will host all of the issues related to the recorder's backlog.

[2020-02-07 19:30] sadasant commented on #7145
My PR goes a different way than the separate package, it works by mocking the most minimal set of things we need to test this. I've been able to catch some bugs with it, though my fixes are very similar to the HTTP timeout fixes that Harsha has found. I believe that with my PR and Harsha's PRs in, the recorder is now good enough moving forward. We will be able to make progress to separate fixes an

[2020-02-07 19:38] sadasant commented on #7291
Talked with @ramya-rao-a and decided to go without this.

[2020-02-07 19:38] #7291 closed

[2020-02-07 19:42] ramya-rao-a commented on #7291
In favor of #4229

[2020-02-07 19:44] sadasant commented on #6300
This is done by this point. Closing this issue.

[2020-02-07 19:44] #6300 closed

[2020-02-07 21:58] sadasant opened #7295 "[Recorder] Address the browser tests problem path"
The main .gitignore used to have the word `browser` in an individual line, which caused the browser bundles and the browser tests to be skipped. To add browser tests, I changed the main .gitignore with the following diff:

[code]

However, as Harsha pointed out, if we ever have a new file type like `.js.tmp`, we'd have to add more entries in the .gitignore file.

A possible fix is to rename the br

[2020-02-07 22:12] johnbigley opened #7296 "Angular is consuming dist-esm instead of dist"
- Azure Storage Blob client library for JavaScript
- 12.0.2
- Windows 10
- Chrome and Firefox

When I navigate to the Angular App I see the following in the Chrome console:

utils.node.js:159 Uncaught TypeError: util__WEBPACK_IMPORTED_MODULE_2__.promisify is not a function
    at Module../node_modules/@azure/storage-blob/dist-esm/src/utils/utils.node.js (utils.node.js:159)
    at __webpack_require

[2020-02-07 22:55] HarshaNalluru commented on #7296
Thanks for reporting the issue, @johnbigley .

The issue is on our radar, @jeremymeng is coming up with the fix soon.

[2020-02-08 00:29] jeremymeng commented on #7296
Thank you @johnbigley!  Could you please provide a minimal project or steps to do to reproduce this issue?  We think we know where the problem is but would like to confirm that it is actually the issue you are hitting.

[2020-02-08 03:23] johnbigley commented on #7296
Unfortunately, I wrote a proof of concept and it worked fine. I put it in our product and I ran into this error. I am not sure what the difference is. I can't give you our product, but I will try to reproduce it.

[2020-02-09 21:39] ramya-rao-a commented on #6343
Based on offline conversations, we are going with the making the below changes to the files at https://github.com/MicrosoftDocs/azure-docs-sdk-node/tree/master/docs-ref-services t
- Replace "nodejs" with "JavaScript" in the main title
- Update the instruction for "npm install" to use the right package name i.e use the `@azure/arm-*` instead of `azure-arm*`
- Delete sample, instead add a pointer to

[2020-02-10 00:03] Drewm3 commented on #7117
What is the service API being called here? This sounds like a resource manager API instead of a microsoft.compute API. If that is the case, then we should start with the resource manager owners to understand why the tags are not shown. Also, it is unclear if the stated behavior of tags not being shown is specific to microsoft.compute resources, or if this is a generic request to azure resource man

[2020-02-10 02:10] qiaozha commented on #7117
@Drewm3  The issue owner wants the list operations have `tags` in the results and support `filter` parameter. The problem is that the api provided by `arm-resources` supports `filter` but doesn't have `tags`. And the api provided by `arm-compute` that have `tags` in the result but doesn't support `filter`.
So it can also be solved in microsoft.compute API if the list operation https://github.com/A

[2020-02-10 02:21] qiaozha opened #7303 "Azure Consumption Usage List"
- **Package Name**: arm-consumption
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
arm-consumption usagedetails

[2020-02-10 07:29] sauravmndl commented on #7303
client.usageDetails.list({expand: 'meterDetails', filter:'tags eq \'xxx:yyy\' AND properties/usageStart ge \'2020-02-08T00:00:00.000Z\' AND properties/usageEnd le \'2020-02-08T01:00:00.000Z\''

Response:

{
...
usageStart: 2020-02-08T00:00:00.000Z,
usageEnd: 2020-02-08T23:59:59.000Z,
....

}

[2020-02-10 09:31] jiacfan commented on #7270
Thanks for the feedbacks, we will improve the doc for append blob's create method.

[2020-02-10 09:55] dw511214992 commented on #7258
After discussing, we figure out the following solution. Firstly, add notes in document. And then fix each sdk when the sdk is released next time.

[2020-02-10 17:24] ramya-rao-a commented on #6101
In January this year, we released the below packages
- v5.0.0 of [@azure/event-hubs](https://www.npmjs.com/package/@azure/event-hubs)
- v1.0.0 of [@azure/eventhubs-checkpointstore-blob](https://www.npmjs.com/package/@azure/eventhubs-checkpointstore-blob)

[2020-02-10 17:24] #6101 closed

[2020-02-10 17:25] ramya-rao-a opened #7310 "Release Event Hubs March 2020 update for JavaScript"
This is a parent issue tracking the work planned for Event Hubs for the March update.
Code complete date: March 6th, 2020

## API design
- [ ] **In Progress** Propose smarter send APIs such that the user doesnt have to one by one fill the `EventDataBatch` to be able to send events
- [ ] **In Progress** Propose API to control greedy claiming of partitions by the Event Processor

## Features
- [x] C

[2020-02-10 18:16] joshfree commented on #6764
Updating issue as Functions and App Services has been moved to the backlog

[2020-02-10 19:31] ysalo commented on #7258
When can we expect a fix?

[2020-02-10 19:38] jeremymeng opened #7311 "[Storage] js - storage pipeline failing only in nightly builds"
​[11:09 AM] Karishma Ghiya

So I was in talks with Xiaoning Liuabout this issue. My suspect was that the storage-datalake was not compatible with the older versions of storage-blob, like 12.0.0 and 12.0.1 and the code in storage-file-datalake completely relies on the source code version of storage-blob

Edited​[11:32 AM] Jeremy Meng
    hmm, so in dev nightly builds we would get dependencies from

[2020-02-10 19:39] #6971 closed

[2020-02-10 19:47] jeremymeng opened #7313 "[Doc] error when following Bundling guide rollup example"
There are some issues in the rollup example at https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/Bundling.md#rollup-with-javascript

1. `rollup-plugin-node-resolve` is deprecated, we should now use `rollup-plugin-node-resolve`
2. when running `rollup --config`, I hit an error

[code]

It looks like we should add the following line to the `rollup.config.js`, like other libraries d

[2020-02-10 20:02] HarshaNalluru commented on #7313
You're also expected to add `"@opentelemetry/types"` in the dependencies.

/cc - @xirzec

[2020-02-10 20:17] jeremymeng commented on #7313
still getting the same error after `npm -i @opentelemetry/types@^0.2.0`

[2020-02-10 23:21] HarshaNalluru opened #7317 "[Service Bus] Samples are outdated"
![image](https://user-images.githubusercontent.com/10452642/74199267-8905b480-4c18-11ea-9d2f-d2f9b27790f1.png)
![image](https://user-images.githubusercontent.com/10452642/74199274-8e62ff00-4c18-11ea-8a4e-8db2f5c44ba5.png)
![image](https://user-images.githubusercontent.com/10452642/74199288-94f17680-4c18-11ea-93d7-26b45d7cbfc5.png)

[2020-02-10 23:30] KarishmaGhiya opened #7318 "sample issue to test why msft bot is triggering"

[2020-02-10 23:32] HarshaNalluru opened #7319 "Some random new issue - Test the bot"
This is to verify if the msftbot is acting on unintended issues.

[2020-02-10 23:38] #7319 closed

[2020-02-10 23:45] HarshaNalluru commented on #7066
https://github.com/HarshaNalluru/azure-sdk-for-js/pull/26/files

[2020-02-11 00:07] weshaggard commented on #6434
@KarishmaGhiya has added support to publish under different tags but I suspect you are asking for more then that with this issue @mikeharder. Is there some specific logic you want to see for which tag we publish under?

[2020-02-11 00:09] weshaggard commented on #5911
At this point I don't think this is interesting. People can use the existing set version script to set it to a particular version if they want to increment only a particular part.  Also since this issue was filed we have switched the default increment for JS repo to only increment the patch so that is kind of the default now.

[2020-02-11 00:09] #5911 closed

[2020-02-11 00:10] weshaggard commented on #5651
@KarishmaGhiya I believe you have recently done this work correct?

[2020-02-11 00:11] weshaggard commented on #2571
@mikeharder @KarishmaGhiya is this something we think we want to do still?

[2020-02-11 00:16] KarishmaGhiya commented on #5651
Yes it does do 2 things - 1. when there is increment version script run, it will add the new version in the CHANGELOG.md with [unreleased] 2. When set-version script is run, it will replace the "unreleased" version with the said version and put the current date (that work is done by the update-changelog script - i am just calling the PS script from the above two JS script to cover the above 2 scen

[2020-02-11 00:16] KarishmaGhiya commented on #5651
But i don't know about the standardizing breaking changes part

[2020-02-11 00:21] HarshaNalluru opened #7320 "[Service Bus] Update the tests to rely on the same environment - same connection string"
![image](https://user-images.githubusercontent.com/10452642/74202193-9b83ec00-4c20-11ea-91bf-6b882fd42bd3.png)

Remove the necessity of the `_BROWSER` variable, the variable too.

[2020-02-11 00:25] HarshaNalluru opened #7321 "[Service Bus] [Event Hubs] Remove the tag #RunInBrowser in the tests"
Service Bus tests rely on `#RunInBrowser` in the test titles to run the tests in browser.
For consistency, remove the `#RunInBrowser`, if some tests are not capable of running in browsers, separate them to a different folder and update rollup config appropriately.

[2020-02-11 00:32] lilyjma opened #7322 "test issue"
issue to test if bot is working appropriately.

[2020-02-11 00:46] #7322 closed

[2020-02-11 01:19] dw511214992 commented on #7258
Hi @ysalo  When one sdk is released, the bug will be fixed. This issue will be fixed step by step. But we will add notes to document to notify customers.

[2020-02-11 02:34] HarshaNalluru commented on #6903
https://github.com/HarshaNalluru/azure-sdk-for-js/pull/27

[2020-02-11 04:06] ramya-rao-a commented on #1714
In #1757 and #5946 we determined that only upto 1000 concurrent connections are allowed when using AMQP.

I have created a PR to update the docs as linked in the comment above https://github.com/Azure/azure-sdk-for-js/issues/1714#issuecomment-478092416

Closing this issue as there is no further work regarding this in the client package

[2020-02-11 04:06] #1714 closed

[2020-02-11 04:10] ramya-rao-a commented on #6147
#2885 is not planned for Track 1 Service Bus anymore, therefore no change is needed for amqp-common.

A similar change may be needed for core-amqp when we re-visit #2885 for Track 2 Service Bus, in which case the change in core-amqp will be done as part of #2885. Therefore, we dont need another tracking issue.

[2020-02-11 04:10] #6147 closed

[2020-02-11 04:11] ramya-rao-a commented on #3870
These tests have not been failing in the past couple of months, so closing this issue.
We will revisit if these errors are seen again and look into improving reliability then

[2020-02-11 04:11] #3870 closed

[2020-02-11 04:16] ramya-rao-a commented on #1983
The stress test suite for Event Hubs and Service Bus is being re-visited. This includes infrastructure as well as scenario updates. Therefore, we are de-prioritizing improving existing stress test cases.

[2020-02-11 04:16] #1983 closed

[2020-02-11 04:16] ramya-rao-a commented on #1959
The stress test suite for Event Hubs and Service Bus is being re-visited. This includes infrastructure as well as scenario updates. Therefore, we are de-prioritizing improving existing stress test cases.

[2020-02-11 04:16] #1959 closed

[2020-02-11 04:17] ramya-rao-a commented on #1915
The stress test suite for Event Hubs and Service Bus is being re-visited. This includes infrastructure as well as scenario updates. Therefore, we are de-prioritizing improving existing stress test cases.

[2020-02-11 04:17] #1915 closed

[2020-02-11 04:17] ramya-rao-a commented on #1958
The stress test suite for Event Hubs and Service Bus is being re-visited. This includes infrastructure as well as scenario updates. Therefore, we are de-prioritizing improving existing stress test cases in their current state

[2020-02-11 04:17] #1958 closed

[2020-02-11 04:19] ramya-rao-a commented on #1988
The stress test suite for Event Hubs and Service Bus is being re-visited. This includes infrastructure as well as scenario updates. Therefore, we are de-prioritizing improving existing stress test cases in their current state

[2020-02-11 04:19] #1988 closed

[2020-02-11 04:20] ramya-rao-a commented on #2707
@chradek In our recent work to re-work MessagingError in core-amqp, does the above get handled?

[2020-02-11 04:21] ramya-rao-a commented on #2706
This bug has been fixed in core-amqp since quite a few releases.

[2020-02-11 04:21] #2706 closed

[2020-02-11 04:35] chradek commented on #2707
That should be the case, yes. We only convert AmqpErrors and SystemErrors into MessagingError now. AmqpErrors are errors that have the condition or value property, and checking the rhea code, their TypeErrors have neither. This should now be safe to close.

[2020-02-11 04:39] ramya-rao-a commented on #2707
Great, thanks!

[2020-02-11 04:39] #2707 closed

[2020-02-11 08:58] ahmedspiir commented on #6473
@jonathandturner Any update?

[2020-02-11 09:47] XiaoningLiu commented on #6411
@bterlson Sorry for the late response due to the long holiday.

Agree on provide an option for switch. Question is what's the default behavior.

Unluckily, in my previous large scale testing before SDK GA. It's very likely to happen for partial response retry especially for downloading files over hundred GBs. Without retry, the readable stream will trigger end event before downloading finishes. Pi

[2020-02-11 10:06] vinjiang commented on #5880
As Track2 does support this, we won't fix in v10.

[2020-02-11 10:06] #5880 closed

[2020-02-11 13:23] aperona-hai opened #7336 "[arm-resources] DeploymentPropertiesExtended type definition has a wrong named property"
- **Package Name**: arm-resources
- **Package Version**: 2.1.0
- **Operating system**: Linux
-  **nodejs**
    - **version**: 10.9.0
-  **typescript**
    - **version**: 3.7.5

**Describe the bug**
The returned object when making a deployment using ```createOrUpdate()``` , doesn't completely match the definition. ```DeploymentPropertiesExtended``` mentions a property named **outputs** but in the o

[2020-02-11 13:46] ljian3377 opened #7337 "[Storage] Provide summary for execute:samples"
When doing regression with `npm run execute:samples`, it's quite difficult to figure out whether there are failure cases.

[2020-02-11 16:30] johnbigley commented on #7296
I am unable to reproduce this outside of the product code. Any progress?

[2020-02-11 17:32] weshaggard commented on #5651
That part is kind of handled by our updated guidance on ChangeLogs https://github.com/Azure/azure-sdk/blob/master/docs/policies/releases.md#changelog-guidance

[2020-02-11 17:32] #5651 closed

[2020-02-11 17:43] ljian3377 opened #7340 "[storage-blob] BlobClient undelete failing in live tests intermittently"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=258275&view=logs&j=c3142c8c-6fb3-58b5-7116-69742b691cda&t=9ccf6c44-95bd-5164-8643-79a58e292a94
[code]

[2020-02-11 18:21] ramya-rao-a commented on #7321
The idea here was less of "they are not capable of running in browsers" and more of "they dont add any extra value by running in browser".

This was done during a time when the node and browser test matrix runs were running sequentially and we wanted to reduce the net time taken by the test pipeline.

Now that we have the node and browser test matrix runs running in parallel using separate namespa

[2020-02-11 18:24] ramya-rao-a commented on #3474
Closing this issue as #7321 tracks the work to remove the browser specific tags from tests.

Regarding the second point around https://github.com/Azure/azure-sdk-for-js/pull/3445#discussion_r290853031, with latest set of changes, all env variables are mandatory.

[2020-02-11 18:24] #3474 closed

[2020-02-11 18:25] ramya-rao-a commented on #7320
In the master branch, `SERVICE_BUS_CONNECTION_STRING_BROWSER` is not in use at the moment. We removed it when working on the MQ item to use ARM templates to set up resources....

[2020-02-11 18:27] ramya-rao-a commented on #7317
We need to be careful here...

The samples are not outdated if you consider the published version of the Service Bus package.
They are outdated if you consider Track 2 code

If we update the samples to work with Track 2 code, that can result in the updated samples showing up in docs.microsoft.com/samples, which we dont want as Track 2 is not published yet.

cc @willmtemple

[2020-02-11 18:39] jeremymeng commented on #7340
duplicate of #7172

[2020-02-11 18:39] #7340 closed

[2020-02-11 19:03] jeremymeng commented on #7296
@johnbigley we merged in a fix in PR #7298. Would you be able to give the private build a try? The storage-blob package can be download from https://dev.azure.com/azure-sdk/public/_build/results?buildId=255573&view=artifacts&type=publishedArtifacts

Once you download the file `azure-storage-blob-12.0.3.tgz` to local disk, you can install it by running `npm i path\to\downloaded\azure-storage-blob-1

[2020-02-11 19:07] sadasant commented on #6514
This is done in KeyVault already 🌞

[2020-02-11 19:09] xirzec commented on #6981
Preview 2 released!

[2020-02-11 19:09] #6981 closed

[2020-02-11 19:10] ysalo opened #7342 "Passing an empty string to getAccount returns a list of automation accounts."
- **Package Name**: @azure/ms-rest-nodeauth, @azure/arm-automation
- **Operating system**: windows 10
- [ ] **nodejs**
    - **version**: 3.7.4
- [ ] **typescript**
    - **version**:3.7.4

**Describe the bug**
After authentication If you call AutomationClinet.getAccount(resourceGroup, "") like this you will get a list of all automation accounts in that resource group.
**To Reproduce**
Steps to re

[2020-02-11 19:16] xirzec commented on #6228
Solved this in #7247 while removing webpack from the build

[2020-02-11 19:16] #6228 closed

[2020-02-11 19:24] xirzec commented on #4108
@ramya-rao-a I'm not sure what the work remaining here is -- is it only in the identity space?

[2020-02-11 19:27] xirzec commented on #5916
I'm not sure that it's worth touching core-arm, but we should update core-http and core-tracing.

[2020-02-11 19:27] xirzec commented on #3956
Deduping this into #5916

[2020-02-11 19:27] #3956 closed

[2020-02-11 19:33] xirzec commented on #5143
@gamaya-developer Sorry for the slow reply, but are you happy with your workaround for now?

@daviwil  @bterlson perhaps we should consider not using the global ref for fetch and use the import value, since this codepath is node-only anyway? The docs seem to indicate this may be a good idea: https://www.npmjs.com/package/node-fetch#loading-and-configuring-the-module

[2020-02-11 19:40] jeremymeng commented on #3513
PR is ready, but pushing to next milestone to not disrupt the incoming storage release

[2020-02-11 19:42] ysalo commented on #7342
JobOperations.get() method likewise lists all jobs per account if an empty string is passed in for jobName. Is this intended behavior?

[2020-02-11 19:43] johnbigley commented on #7296
Yes, I will give it a try and get back to you.

[2020-02-11 19:44] sadasant opened #7343 "Generate the browser bundles in dist-browser instead of the browser folder."
Remove these unnecessary lines in the process: https://github.com/Azure/azure-sdk-for-js/pull/7213#discussion_r377332098

[2020-02-11 19:55] jeremymeng opened #7344 "azure-sdk bot should include library name in the title of version-increment PR"
for example #7341 doesn't have it.  I remember seeing library names previously. Is this by-design change or regression?

[2020-02-11 19:56] HarshaNalluru commented on #7317
@willmtemple, how is the work going on with the docs.microsoft.com w.r.t publishing samples from a pinned version in a different branch ?? i.e., multiple versions of samples in docs.microsoft.com.

[2020-02-11 20:14] mikeharder commented on #2571
I'm not sure what this issue is about, so I would close it.

[2020-02-11 20:17] johnbigley commented on #7296
I am getting the following compilation errors:
ERROR in node_modules/@azure/storage-blob/typings/src/Clients.d.ts(704,9): error TS1086: An accessor cannot be declared in an ambient context.
node_modules/@azure/storage-blob/typings/src/Clients.d.ts(708,9): error TS1086: An accessor cannot be declared in an ambient context.
node_modules/@azure/storage-blob/typings/src/Clients.d.ts(2657,9): error TS1

[2020-02-11 20:19] mikeharder commented on #6434
Say a pipeline publishes two packages, one is GA `foo@1.0.0` while another is preview `bar@1.0.0-preview.1`.  When publishing the GA package, only the `latest` tag should be updated.  However, when publishing the Preview package, both the `latest` and `next` tags need to be updated.  This was a frequent issue in the past, requiring us to manually update tags after a release pipeline.

Ideally, the

[2020-02-11 20:19] #5156 closed

[2020-02-11 20:20] xirzec commented on #7296
@johnbigley what version of TypeScript are you using?

[2020-02-11 20:21] #2571 closed

[2020-02-11 20:22] weshaggard commented on #6434
That doesn't seem like it should be too difficult to to implement. @KarishmaGhiya can you try to add that logic our npm publishing steps?

[2020-02-11 20:24] KarishmaGhiya commented on #6434
Yes I can try this

[2020-02-11 20:30] johnbigley commented on #7296
"typescript": "~3.1.1"

[2020-02-11 20:49] HarshaNalluru commented on #7320
Doing as part of #7312

[2020-02-11 20:56] KarishmaGhiya opened #7348 "[dev-feeds] Cover more cases for package-diff skipping dev feeds"
Example pipeline run - for [keyvault-certificates](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdev.azure.com%2Fazure-sdk%2Finternal%2F_build%2Fresults%3FbuildId%3D256725%26view%3Dlogs%26j%3Db1e79959-24d8-5aa9-2799-72d40c3e051b%26t%3D52817674-d19f-518b-48e6-83892d5791a6&amp;data=02%7C01%7CKarishma.Ghiya%40microsoft.com%7Ca54069f940a14428794408d7af236917%7C72f988bf86f141af91ab2

[2020-02-11 21:01] bterlson commented on #5143
I think in any case we should not be relying on global mutation, so I support `import fetch from 'node-fetch'`.

[2020-02-11 21:54] HarshaNalluru opened #7351 "[Service Bus] [Event Hubs] Add jitter for the `delay` during send event - RetryConfig"
Reference - https://github.com/Azure/azure-sdk-for-js/pull/7312#discussion_r377430462

[2020-02-11 22:26] jeremymeng opened #7352 "[Storage] add a test for consuming packages from lower version of typescript compiler"
We are currently using typescript 3.7 to build our libraries.  These could cause problems for customers who are still using lower version of typescript. For example, https://github.com/Azure/azure-sdk-for-js/issues/7296#issuecomment-584830838

We should add a test similar to what Cosmos has for down level typescript compilers.

[2020-02-11 22:44] jeremymeng commented on #7296
@johnbigley We migrated to typescript 3.7 for building our libraries and the generated type definition file are not compatible with typescript 3.1~3.5.  @xirzec submit a fix to also include types that are compatible with down-level typescript compilers.  Could you please try out the private build from https://dev.azure.com/azure-sdk/public/_build/results?buildId=258631&view=artifacts&type=publishe

[2020-02-11 22:45] #6262 closed

[2020-02-11 23:02] bterlson commented on #6411
@XiaoningLiu welcome back!!

I think I agree with your analysis that a default of not doing decompression in Node is probably the right choice. Let's make sure we document that the decompress flag is default false in Node and default true (and unconfigurable) in browsers.

[2020-02-11 23:02] johnbigley commented on #7296
I am now getting this runtime error:
compiler.js:6440 Uncaught Error: Cannot assign to a reference or variable!
    at _AstToIrVisitor.push../node_modules/@angular/compiler/fesm5/compiler.js._AstToIrVisitor.visitPropertyWrite (compiler.js:6440)
    at PropertyWrite.push../node_modules/@angular/compiler/fesm5/compiler.js.PropertyWrite.visit (compiler.js:5371)
    at convertActionBinding (compiler.j

[2020-02-11 23:30] jeremymeng commented on #7296
@johnbigley this is mysterious. Does this only happen in your production? If not, could you please share a repro project?

[2020-02-12 00:00] #7318 closed

[2020-02-12 03:49] zzhxiaofeng commented on #5499
How is this issue going? Feel free to let us know if further help is needed.

[2020-02-12 03:55] zzhxiaofeng commented on #5499
Hi @fwang-teradici ,
How is this issue going? Feel free to let us know if further help is needed.

[2020-02-12 05:51] qiaozha commented on #7303
@nickzhums  Could you have someone from consumption service team to take a look at this? it's been two days.

[2020-02-12 06:15] nickzhums commented on #7303
@ms-premp Could you take a look at this? Thanks. It seems the issue is related to the consumption service itself

[2020-02-12 11:09] MolochkoVitaly commented on #6870
Hey @JonathanCa97, we've recently faced a familiar issue
[code]

[2020-02-12 13:59] sadasant opened #7361 "[KeyVault] Deploy button improvements and documentation"
Our READMEs per package should contain a deploy button, with the following syntax (new lines added for clarity):

[code]

This deploy button will lead the users to a page in the Azure portal where they can provide some details to create the resources necessary to run our integration tests. The following image comes from the button on KeyVault's README:

![image](https://user-images.githubuserconte

[2020-02-12 14:33] sadasant opened #7363 "[App Configuration] Deploy button improvements and documentation"
Our READMEs per package should contain a deploy button, with the following syntax (new lines added for clarity):

[code]

This deploy button will lead the users to a page in the Azure portal where they can provide some details to create the resources necessary to run our integration tests. The following image comes from the button on KeyVault's README:

![image](https://user-images.githubuserconte

[2020-02-12 14:36] sadasant opened #7364 "[Service Bus] Deploy button improvements and documentation"
Our READMEs per package should contain a deploy button, with the following syntax (new lines added for clarity):

[code]

This deploy button will lead the users to a page in the Azure portal where they can provide some details to create the resources necessary to run our integration tests. The following image comes from the button on KeyVault's README:

![image](https://user-images.githubuserconte

[2020-02-12 14:39] sadasant opened #7365 "[Event Hubs] Deploy button improvements and documentation"
Our READMEs per package should contain a deploy button, with the following syntax (new lines added for clarity):

[code]

This deploy button will lead the users to a page in the Azure portal where they can provide some details to create the resources necessary to run our integration tests. The following image comes from the button on KeyVault's README:

![image](https://user-images.githubuserconte

[2020-02-12 14:40] sadasant opened #7366 "[Storage] Deploy button improvements and documentation"
Our READMEs per package should contain a deploy button, with the following syntax (new lines added for clarity):

[code]

This deploy button will lead the users to a page in the Azure portal where they can provide some details to create the resources necessary to run our integration tests. The following image comes from the button on KeyVault's README:

![image](https://user-images.githubuserconte

[2020-02-12 16:06] johnbigley commented on #7296
It happens in production. I will be looking into it today.

[2020-02-12 17:14] richardpark-msft opened #7367 "[app-configuration] Rules for wildcards have changed and requires adjustments to tests and docs."
The rules for when wildcards can be applied has changed in the AppConfiguration service (this service has not yet gone GA).

This doesn't affect the API surface directly (we had no checking or enforcement of the wildcard string for list()'ing settings) but it does break a number a few of our tests and will require some adjustments to doc comments.

Specifically these used to be allowed:
- *a
- *a*

[2020-02-12 18:59] sadasant opened #7370 "[KeyVault] Move root level .gitignore configurations to the keyvault folder"
I'm talking about this line `sdk/keyvault/*/src/**/*.js`.

[2020-02-12 19:50] HarshaNalluru opened #7371 "Update readmes with #enable-logs section for all the SDKs"
Event Hubs looks good with all the necessary info in the readme. [/event-hubs#enable-logs](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/eventhub/event-hubs#enable-logs)

All other SDKs can follow the precedent.

[2020-02-12 22:16] johnbigley commented on #7296
It was a problem with some new html. It now compiles and runs. When will this version be released?

[2020-02-12 22:31] #7348 closed

[2020-02-13 02:41] #7343 closed

[2020-02-13 03:18] jeremymeng commented on #7296
Glad to know that! We just released the new version today.

[2020-02-13 12:07] sauravmndl commented on #7303
Can you please provide the filter for hourly basis usage details?

[2020-02-13 12:19] JulidaRocks opened #7381 "Module '"url"' has no exported member 'URLSearchParams'"
- **Package Name**:  @azure/storage-blob
- **Package Version**:  ^12.1.0
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: 12.13.0
- [ ] **browser**
    - **name/version**: N/A
- [x] **typescript**
    - **version**: 3.4.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Descr

[2020-02-13 12:50] ljian3377 commented on #7202
Copy to rename seems quite inefficient to me. Can we do better?

[2020-02-13 16:33] johnbigley commented on #7296
I appreciate you addressing this problem so quickly. It makes a big impact on the project that I am working on.

[2020-02-13 18:31] ms-premp commented on #7303
Hour level grain is not supported for Usage Details API.
This is by design and feature is in our backlog.

[2020-02-13 19:03] mikeharder opened #7385 "[Storage] Refactor duplicate code in storage-blob and storage-files-datalake"
The duplicate code in `storage-blob\utils` and `storage-files-datalake\utils` should be refactored into a shared dependency.  Several files in these directories are identical or nearly identical (and the nearly identical cases may be bugs where one copy was updated but the other was not).

[2020-02-13 20:06] #7370 closed

[2020-02-13 21:21] jeremymeng commented on #7202
Copying should be completed immediately within the same storage account.  I am not aware of other ways unless service add support for it?

[2020-02-13 22:21] jeremymeng commented on #7381
@JulidaRocks do you have a simplified example project demonstrating this issue, or a step-by-step instruction to reproduce the issue using a out-of-box Angular8 app from the template?

[2020-02-13 22:46] sadasant opened #7386 "[Recorder] Make the stop() method asynchronous."
The stop() method does many things, among them, it's supposed to create a file with the recording (although in the browser it *just* logs to the console, but that eventually creates a file). It would be really helpful if we could make this method an async method, so that we could wait for it to finish.

[2020-02-14 00:33] xirzec commented on #7385
Is the idea that we create a "storage-common" package? This seems fine to me if we aggressively version it.

[2020-02-14 04:20] changlong-liu commented on #7336
Hi @aperona-hai , would you please provide complete sample code here? Thanks.

[2020-02-14 04:44] ljian3377 commented on #7158
We don't use `coreHttp.requestOptions` in storage code. Instead we are utilizing the `RequestOptionsBase.abortSignal` to provide `timeout` for a request.

https://github.com/Azure/azure-sdk-for-js/blob/5acd77612bddc72cbe389f22f71c07562b5d29d7/sdk/storage/storage-blob/test/aborter.spec.ts#L28-L36

[2020-02-14 05:11] Zyclotrop-j opened #7395 "InteractiveBrowserCredential doesn't work with ShareServiceClient"
# Summary

Using InteractiveBrowserCredential with ShareServiceClient is broken.

## How to reproduce

In the browser, instantiate a new InteractiveBrowserCredential and feed it to a new ShareServiceClient.
Make a request using the newly instantiated ShareServiceClient.

## Expectation

The request succeeds; if necessary the InteractiveBrowserCredential logs in the user.

## Actual

The request al

[2020-02-14 05:42] ljian3377 commented on #7381
You need to update your version of node typings. `"@types/node": "^8.0.0"` works fine.

[2020-02-14 07:05] shivarajnaidu commented on #6192
Not able to set content type.. it's by default getting saved as octane stream (Default)
[code]

[2020-02-14 07:23] heaths opened #7396 "April release of KeyVault for JS"
# Features

- [ ] Support Role-based Access Control (RBAC) for data plane (#7279)

[2020-02-14 07:58] ljian3377 commented on #6192
@shivarajnaidu
The interface you used dosen't support additional parameters apart from the `blobName`.
[code]

Could you refer to the code I provided?
[code]

Or are you asking for a way to save the setting for the blob?

[2020-02-14 07:59] jeremymeng commented on #7395
I suspect it is because File Share currently only has limited scope of support for Azure Active Directory. According to the doc at https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad

[2020-02-14 08:06] jeremymeng commented on #6927
#7107 was reverted. Need a better fix

[2020-02-14 08:38] shivarajnaidu commented on #6192
Thanks for the clarification @ljian3377

[2020-02-14 08:42] JulidaRocks commented on #7381
Thank you very much - this fixed it!

[2020-02-14 08:42] #7381 closed

[2020-02-14 16:11] chradek opened #7398 "[event-hubs] Test in Azure Stack and document any workarounds"
This issue is to track testing the Event Hubs track2 SDK in Azure Stack including the storage blob checkpoint store and document any workarounds needed.

- [x] Test Event Hubs track 2 SDK in Azure Stack
- [x] Test Event Hubs with Storage Blob checkpoint store in Azure Stack
- [x] Document any workarounds needed to support checkpointing.

To validate that Event Hubs is working correctly, we should

[2020-02-14 17:34] jeremymeng opened #7399 "[linter] warning against Regex.test() with global flag"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/lastIndex#Description

With global flag `g` RegExp will advance/reset lastIndex based on the results of `test()` or `exec()`. This could lead to undesirable behavior.  It might be helpful to warn against this use cage.

[2020-02-14 17:35] jeremymeng commented on #7399
/cc @willmtemple

[2020-02-14 17:42] sadasant commented on #6441
I haven't been able to reproduce this. I'm trying though.

[2020-02-14 17:58] sferguson12 commented on #6221
I'm having the same issue with the --subscription switch.  If I make the desired subscription my default and run "az keyvault secret list" it works fine.  If I have a different subscription as my default and use the --subscription switch, I get an error similar to the one in the original report.