[2020-10-06 16:42] AElharouny commented on #11631
Yes correct. That's in @azure/arm-servicebus package. Appologies for missing some details.

[2020-10-06 16:45] ramya-rao-a commented on #11631
No problem at all

The `@azure/arm-servicebus` package is an auto-generated one based on the swagger files that represent the service APIs.
The rules part of the package is generated from this [swagger file for rules](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2017-04-01/Rules.json)

I doubt the service would chan

[2020-10-06 16:51] AElharouny commented on #11631
I see. The good thing is that this will be only a change in API definition (i.e. operation id) rather than a change in service API itself.

[2020-10-06 16:55] sadasant commented on #11463
@balazsmolnar To help us narrow this issue down, we'll be asking you to test our latest Identity beta version once we release it, most likely today. I'll follow up with instructions as soon as I'm able to. Thank you for your time!

[2020-10-06 16:58] jeremymeng commented on #5228
This has been fixed. #7069

[2020-10-06 16:58] #5228 closed

[2020-10-06 17:11] #11489 closed

[2020-10-06 17:53] sadasant opened #11669 "[Identity] DeviceCodeCredential: Make ClientId optional."
ClientId should be optional.

One possible way to approach this is to overload the constructor.

[2020-10-06 17:55] sadasant opened #11670 "[Identity] DeviceCodeCredential: Add a timeout optional parameter."
Python currently offers a way to timeout the authentication request. We should investigate if we can add the same feature.

[2020-10-06 18:13] sadasant opened #11672 "[Identity] Success logging (Both in Interactive and in DeviceCode)"
Other languages seem to have logging on success. Investigate if we already do this. If we don't already do this, add this.

[2020-10-06 19:02] richardpark-msft opened #11675 "[service-bus] Cleanup and consolidate internals for options/receive mode"
Now that the dust has finally settled and we can take a look at removing some cruft that's accumulated when we built a facade over some of the internals:

- MessageHandlerOptions/MessageHandlerOptionsBase vs SubscribeOptions/SessionSubscribeOptions - these are pretty close to the same thing at this point and can probably be united.
- Internally we are still calling into some form of "registerMessa

[2020-10-06 19:19] xirzec commented on #11582
I don't think samples are particularly edifying for core, though we could perhaps make a few samples for how to use core-http (or its successor) as a standalone http stack.

Mostly, I think we need better documentation on our core components so partners can learn about internals: https://github.com/Azure/azure-sdk-for-js/issues/10239

[2020-10-06 19:55] abc516 commented on #10780
Hi @praveenkuttappan , is this still an open issue? I'm willing to take it on

[2020-10-06 19:59] praveenkuttappan commented on #10780
This still seems like an open issue. Adding @deyaaeldeen and @ramya-rao-a to confirm,

[2020-10-06 20:06] nguerrera commented on #11649
cc @arerlend @hmlam

[2020-10-06 20:13] deyaaeldeen commented on #10780
@abc516 @praveenkuttappan Yes this is still an issue, here is the linting [report](https://github.com/Azure/azure-sdk-for-js/files/5336458/report.txt).

[2020-10-06 20:30] abc516 commented on #10780
ok @deyaaeldeen @praveenkuttappan can you assign this to me?

[2020-10-06 20:58] jeremymeng opened #11681 "[MetricsAdvisor] Anomaly.dimension should be Anomaly.seriesKey"

[2020-10-06 21:25] richardpark-msft opened #11682 "[service-bus] lock auto renewal - use the lock token (rather than the message ID) as the key field"
Auto-lock renewal currently tracks the lock renewals for messages using the message ID as the unique key.

Message ID is not required to be unique within the context of a queue or subscription (there is a "duplicate detection" which would ensure this but this is not a default setting). Also, I believe that setting works over a window of time so it's still possible to have duplicate messages.

Lock

[2020-10-06 23:00] JoshLove-msft opened #11684 "Consider adding support for json.env files to Test Framework"
Using the -OutFile flag of the [New-TestResources.ps1](https://github.com/Azure/azure-sdk-tools/blob/master/eng/common/TestResources/New-TestResources.ps1#L71) script, will cause the script to create a test-resources.json.env file next to the test-resources.json file that contains the environment settings in an encrypted format.

The .NET Test Framework [reads](https://github.com/Azure/azure-sdk-f

[2020-10-06 23:08] #11442 closed

[2020-10-07 00:25] HarshaNalluru opened #11687 "[Service Bus][Event Hubs] Refactoring among event-hubs and service-bus, cleanup related to "Tracing for Send""
Followup for #11651
Note for both Event Hubs & Service Bus for improvements and to make changes for both packages at once:

- The name `createMessageSpan()` is slightly misleading as it may indicate that I can use it at any time when a message is involved. In reality, this method is tied to the "producer" kind, so is usable only when sending message.
- Also, jsdoc for this method would be helpful

[2020-10-07 05:35] ramya-rao-a commented on #10780
@abc516 Please go ahead and submit a PR for fixing the linter errors

[2020-10-07 06:24] mrlancelot commented on #11440
Hi @ramya-rao-a ,

noImplicitReturns is already set to true in the tsconfig file. If there is anything more to be please guide me through it.

[2020-10-07 16:44] ramya-rao-a commented on #11440
Thanks for letting us know about that @mrlancelot

Looks like the PR #11453 resolved #11438 #11439 and #11440, but the issues were not closed.

You can take a look at any other issues with the label "help wanted" or "good first issue"

[2020-10-07 16:44] #11440 closed

[2020-10-07 16:45] ramya-rao-a commented on #11438
Resolved with #11453

[2020-10-07 16:45] #11438 closed

[2020-10-07 16:45] ramya-rao-a commented on #11439
Resolved with #11453

[2020-10-07 16:45] #11439 closed

[2020-10-07 17:24] zfoster commented on #11259
hey @FlourishS - to answer your issue, we don't intend to mutate the input (`newItem` in your example code), it's a side effect of autogenerating an ID for the create operation.

So ID is generated on the client if you don't provide it, whereas etag is generated server side and contained in the response, so we won't mutate your input item with that data. Use the response here instead (`newItem2` i

[2020-10-07 17:24] #11259 closed

[2020-10-07 17:39] #11666 closed

[2020-10-07 19:35] HarshaNalluru commented on #9792
@NoelAbrahams, yes.
All the fixes that were made to version 1.1.x have been ported to the preview versions too.
Specifically, related to TypeError fixes, the observed issues coming from the internal "rhea" library have been addressed and the SDK has been updated to pick the latest "rhea" library as well as handling the errors better in the SDK.

All the observed issues related to the TypeError hav

[2020-10-07 20:37] sadasant opened #11698 "[Key Vault] LRO improvements"
- To make a better example of the core-lro usages, remove the pollerClient by moving the this.createSpan outside of the KeyVault client classes.
- Move the client to be only a parameter of the creation of the poller and not a part of the operation state.

**This should not represent a public API change.**

@willmtemple

[2020-10-07 20:43] jeremymeng opened #11699 "[MetricsAdvisor] Generated types appears in ref doc even they are not exported"
This might not be specific to a library

![image.png](https://images.zenhubusercontent.com/5c51efcef73cf865af8994d5/6affa094-bca7-4d7c-b4cc-a6cdc5d3e010)

[2020-10-07 21:02] HarshaNalluru opened #11701 "[Service Bus] API Review feedback for 7.0.0-preview.7"
The following are the required API changes to be acted on as per the feedback from the API Review which would make the JS Service Bus SDK more inline with the .NET, Java and Python SDKs.

### Renames
~~- [ ] Rename interface `CreateBatchOptions` -> `CreateMessageBatchOptions`~~
- [ ] Rename `properties` attribute in the `ServiceBusMessage` interface to `applicationProperties`
- [ ] Rename `label`

[2020-10-07 22:04] richardpark-msft commented on #11441
There's really good lineup with this and prefetch. Placing in backlog for now.

[2020-10-07 23:13] vikram-m commented on #7342
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-07 23:34] sadasant commented on #11595
@noelbundick Hello Noel, we have released [@azure/Identity@1.2.0-beta.2](https://www.npmjs.com/package/@azure/identity/v/1.2.0-beta.2)! Please install it and try again. I'm planning to dive deeper into this issue in the following days, but please let us know if that version helps.

[2020-10-07 23:35] sadasant commented on #11451
@mhoeger Hello, Marie!

We have released [@azure/Identity@1.2.0-beta.2](https://www.npmjs.com/package/@azure/identity/v/1.2.0-beta.2)! Please install it and try again. Let us know if that version provides the expected relief!

Have a good week 👋

[2020-10-07 23:37] sadasant commented on #11463
@balazsmolnar Hello! I hope things are going good for you!

We have released [@azure/Identity@1.2.0-beta.2](https://www.npmjs.com/package/@azure/identity/v/1.2.0-beta.2)! Please install it and try again. Your feedback will help us narrow down this issue.

[2020-10-07 23:41] ramya-rao-a opened #11714 "[Service Bus] Remove the use of InternalReceiveMode"
In the Service Bus package, the receive mode is represented via string literals "peekLock" and "receiveAndDelete".
Internally, these get mapped to enum `InternalReceiveMode` which does not add much value at the moment and can be refactored out in favor of the string literals themselves.

PRs are welcome to make this change.
Code pointers:
- [Set up dev env](https://github.com/Azure/azure-sdk-for-j

[2020-10-07 23:43] ramya-rao-a commented on #11675
- #11711 handles the clean up for the options
- Logged #11714 for InternalReceiveMode and marked it with "help wanted" and "good first issue" labels
- Removing the "good first issue" from this issue as rest of the work are not trivial or straight forward. We can add the label back once we have clarity on exact changes we are looking for

[2020-10-07 23:47] KarishmaGhiya commented on #11699
This is typedoc error. We are waiting for their library mode to go GA to use it. https://www.npmjs.com/package/typedoc/v/0.17.0-3
There were some errors the last time while I was trying to use the beta version

[2020-10-07 23:53] KarishmaGhiya commented on #11699
Adding in notes from the previous runs I did for form recognizer -

Using TypeScript 3.7.5 from C:\Users\kaghiya\AppData\Roaming\npm\node_modules\typedoc\node_modules\typescript\lib
Warning: Some names refer to reflections that do not exist.
This can be caused by exporting a reflection only under a different name than it is declared when excludeNotExported is set
or by a plugin removing reflection

[2020-10-08 01:03] jmwombeki opened #11715 "BadRequest error creating HDInsight cluster"
- **Package Name**:
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I am trying to create HDInsight cluster using

[2020-10-08 06:54] NoelAbrahams commented on #9792
@HarshaNalluru, thanks for the update. The error from the rhea library was occurring in version `7.0.0-preview.3'. We've now updated to `7.0.0-preview.7` and hopefully that should fix it.

[2020-10-08 07:59] HarshaNalluru commented on #9792
Good to know, @NoelAbrahams!
Feel free to log an issue in case you encounter one. 🙂

[2020-10-08 18:12] HarshaNalluru opened #11718 "[Service Bus] Test failure related to "sending messages with different session-ids in a batch for partitioned entities""
![image](https://user-images.githubusercontent.com/10452642/95497331-0116ac80-0957-11eb-9588-c1d34e6fefde.png)

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=567200&view=logs&j=0421300e-d7b4-5c64-f530-fa21e83c0a48&t=be90f061-ea95-551c-fa29-249cf564c712

TODO:
- Confirm the issue
- Reach out to the service

[2020-10-08 19:39] ramya-rao-a opened #11719 "[Service Bus] subscribe() call should continue to try to receive messages unless stopped by the user"
Today, in the latest preview of v7 of the `@azure/service-bus` package, the `subscribe()` call on the receiver is responsible to continuously receive messages. It stops receiving when
- encountering a non retryable error on the AMQP receiver link
- encounters a retryable error and exhausts the retry attempts as defined in the retry policy set on the client.

Since the usage of this call is to rece

[2020-10-08 19:43] ramya-rao-a commented on #11719
Another variation is to use `processClose()` only when the client sees a fatal error and decides to close the `subscribe()` call.

[2020-10-08 19:48] sadasant commented on #11698
I really, really really, really want to do this during November 😄

[2020-10-08 20:03] HarshaNalluru commented on #11719
Scoping `processClose()` for fatal errors, when retries exhausted and for absolute stop seems better.
For non-fatal errors, we should stick to passing them to `processError()`, even for the link or connection issues.

Clear demarcation for `processClose()` feels convenient from a user's perspective.

[2020-10-08 20:22] sadasant opened #11720 "[Key Vault] Stop using the spread operator."
The spread operator leaves room for inconsistencies in the supported properties. The Key Vault clients use this operator a bunch. We should clean this up. The last time this was pointed out was by Jeff here: https://github.com/Azure/azure-sdk-for-js/pull/11717#discussion_r501982262

[2020-10-08 20:32] HarshUpadhyay-MSFT opened #11722 "404 error for DataLakeFileSystemClient.getAccessPolicy() calls from localhost"
- **Package Name**: @azure/storage-file-datalake
- **Package Version**: 12.1.0
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: v10.14.2
- [x] **browser**
    - **name/version**: chrome/Version 85.0.4183.121 (Official Build) (64-bit)
- [x] **typescript**
    - **version**: 3.9.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  -

[2020-10-08 20:50] diberry opened #11723 "Ref Docs for Storage Blob - page doesn't display correctly"
Ref doc page - https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/blobserviceclient?view=azure-node-latest

Issue is with string `Creates a <xref:ContainerClient> object` where the xref should instead be translated into a link.

![image](https://user-images.githubusercontent.com/41597107/95512019-1565a400-096d-11eb-80ef-3eef2d631d10.png)

I would like to know if this is localized

[2020-10-08 20:53] diberry commented on #11723
Another one -
![image](https://user-images.githubusercontent.com/41597107/95512403-a0469e80-096d-11eb-97f2-2b5761016bb0.png)

[2020-10-08 20:59] sadasant commented on #11670
Here's what I know so far,

DeviceCodeCredential (DCC) uses PublicClientApplication, from @azure/msal-node. PublicClientApplication extends ClientApplication, which has at least two distinct notions of a timeout:

- [`const hash = await interactionHandler.monitorPopupForHash(popupWindow, this.config.system.windowHashTimeout);`](https://github.com/AzureAD/microsoft-authentication-library-for-js/blo

[2020-10-08 21:02] diberry commented on #11723
![image](https://user-images.githubusercontent.com/41597107/95513228-d7697f80-096e-11eb-8e75-abd2cd1866a7.png)

[2020-10-08 21:11] sadasant commented on #11669
DeviceCodeCredential currently requires the ClientID parameter to be specified: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/src/credentials/deviceCodeCredential.ts#L77

However, .Net allows ClientID to be null, and calls to MSAL's `MsalPublicClient` to otherwise retrieve the client (does that make sense?). ([link](https://github.com/Azure/azure-sdk-for-net/blob/mast

[2020-10-08 21:19] sadasant commented on #11653
The main concern that I have is with this conditional: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/src/credentials/managedIdentityCredential.ts#L269-L335

That conditional conveys several different authentication workflows. Scott mentioned to me that .Net has a better separation of concerns.

I believe it'd be nice to move these into their own functions or classes i

[2020-10-08 21:21] sadasant commented on #11669
Vinay mentioned to me that:

Not sure what's that yet! 😁 sorry. I'll be back with more information later.

[2020-10-08 21:23] sadasant commented on #10995
Done for October!

[2020-10-08 21:23] #10995 closed

[2020-10-08 21:39] joshfree opened #11724 "Create Identity e2e tests for running in Azure Arc"
Tracking item to create new /sdk/e2e Azure.Identity smoke tests for running in Azure Arc hosted environment.

1. Add new /sdk/e2e tests for Azure Arc
2. Update Parent issue https://github.com/Azure/azure-sdk/issues/1908 with instructions for Test team

[2020-10-08 21:45] joshfree opened #11725 "Create Identity e2e tests for running in Azure Service Fabric"
Tracking item to create new /sdk/e2e Azure.Identity smoke tests for running in Azure Service Fabric hosted environment.

1. Add new /sdk/e2e tests for Azure Service Fabric
2. Update Parent issue https://github.com/Azure/azure-sdk/issues/901 with instructions for Test team

Python has some instructions already merged - https://github.com/Azure/azure-sdk/issues/901#issuecomment-715604282
Referencing

[2020-10-08 22:31] richardpark-msft commented on #10982
Need to cross-check this - the .NET client does have a sessionInitialize/sessionClose event.

[2020-10-08 22:52] diberry opened #11727 "Ref docs for Storage blobs - sample code for setting content type for upload"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.2.1
- **Operating system**: Win10-internal
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [X ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Th

[2020-10-08 23:34] ramya-rao-a commented on #11720
Doesnt #9730 cover the same thing?

[2020-10-08 23:37] ramya-rao-a commented on #11723
Hey @diberry

This is a known issue with the rendering system used by docs.microsoft.com for reference docs that we reported more than a year ago.
In the source code, these are `@link` tags pointing to other classes in the same package.

What would your recommendation here be?
Our hope was that the docs rendering system would catch up and have these fixed rather than lose out a chance to have inte

[2020-10-09 01:38] zzhxiaofeng commented on #11491
@sadasant You are indeed correct.

[2020-10-09 03:49] ljian3377 commented on #11722
Need more information. Could you turn on the logger and share us the log?
[code]

[2020-10-09 05:04] richardpark-msft commented on #11465
@jmealo - the logging that we internally produce is intended for troubleshooting so it can be quite detailed. The feature above would be a better fit for overall health/monitoring in that it'll give you an idea of how long messages take to go through your processing, etc...

However, a dead receiver is different - this should have triggered an error or message that would have shown up as an except

[2020-10-09 06:38] qiaozha commented on #11715
@jmwombeki Thanks for reporting this. I will get back to you soon.

[2020-10-09 07:00] balazsmolnar commented on #11463
@sadasant I can test it early next week, I will let you know the results.

[2020-10-09 08:02] aim-for-better commented on #11715
I am looking at this.

[2020-10-09 09:19] aim-for-better commented on #11715
Hi @jmwombeki , Thanks for your feedback.
I have checked the logs, it seems that you have tried to create cluster with the same name "test". The first time you specified the zookeeper node is 1 then Rp returns the error indicates the zookeeper node size should be 3.

You continued to create after the first failure with the same name "test", then RP returns the error
[code]

The weird thing is that

[2020-10-09 10:02] ljian3377 commented on #10793
2. File: Change the `accessPolicy` in `SignedIdentifier`'s fields and itself to optional
https://github.com/Azure/azure-sdk-for-js/pull/11527

[2020-10-09 10:05] HarshaNalluru opened #11736 "[Service Bus] Too many "renewlock" operations lead to "MaxListenersExceededWarning" from many "sender_error" & "receiver_error" listeners"
### To Repro
- Send 20 messages
- Receive all the messages using `receiveMessages` api
- Attempt renewlock for all the messages in parallel

### Example Warning
Too many "renewlock" operations lead to "MaxListenersExceededWarning" from many "sender_error" & "receiver_error" listeners
![image](https://user-images.githubusercontent.com/10452642/95570572-f7835800-09db-11eb-947b-2b1676586253.png)

[2020-10-09 11:34] qiaozha commented on #11715
@aim-for-better I believe the log you describe is from my request. I did see the error of name test has been used and zookeeper nodesize and then change my code accordingly. But in the final I got the same error of internal_error. I don't think JS SDK will truncate the error. @ramya-rao-a for double confirm.

[2020-10-09 12:12] sadasant commented on #11463
@balazsmolnar thank you!

[2020-10-09 12:35] sadasant commented on #11672
Here's more info:

![image](https://user-images.githubusercontent.com/417016/95582841-37146900-0a09-11eb-9fd6-7a6e3dd4db16.png)

So, the idea is to change this browser message.

I couldn't find any `OK` match on msal-node, other than https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/78334c21280ed0d2afd815cb1a7ff16b82f5a311/lib/msal-node/test/network/HttpClient.spec.ts . I bel

[2020-10-09 12:36] sadasant commented on #11698
Having the Keys work done and merged, I'll be able to provide the rest of the PRs for the rest of the KV clients in less than a day worth of work.

[2020-10-09 12:43] sadasant commented on #11653
Since this refactoring is about abstractions and not about a behavioral change (same inputs, same outputs), then it should be easy to verify as correct. Also, considering a round of feedback, I believe up to 2 days is a fair estimate.

[2020-10-09 12:47] sadasant commented on #11578
These changes can be copied from the interactive browser changes. However, since I'm unfamiliar with MSAL, I believe a fair estimate would be 2 days.

[2020-10-09 12:50] sadasant commented on #11396
Doing the investigative work will potentially take some hours. Making the tests work can take from one day to some more days depending on whether the resources provided on automation, or at least the resources I have, are properly configured. I would expect the reviews to take little time though. I think a fair estimate would be up to 3 days.

[2020-10-09 12:55] sadasant commented on #11213
This might take up to a day because of I need to understand how to create these resources by ensuring that I can create them, then by generating a valid ARM template, then by executing the tests. Plus, I don't yet know when this will become available, so I'm adding 2 to be generous and to try to prevent unexpected problems from consuming this budget.

[2020-10-09 13:03] sadasant commented on #11182
The .Net readme for Key Vault Admin has some interesting tidbits: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.Administration/README.md

[2020-10-09 13:36] jmwombeki commented on #11715
@qiaozha That's correct, I did not submit that  'test' request, and I do not get the message 'dns name 'test' is already in use'.

@aim-for-better, I have just resubmitted a test with cluster name 'jenhdiclusterspark', if you want to check that in the logs. I got the same error as in my original message.

[2020-10-09 16:59] jeremykirc opened #11740 "Add communication-calling package"
The communication-calling package is not available on Github like the other communication packages. I have issues when trying to use the package as it appears to be released in npm with a different directory structure than the other communication packages. I get the following error when trying to import the CallClient in my React app and I do not get issues with any of the other @azure/communicati

[2020-10-09 17:26] #10638 closed

[2020-10-09 19:28] sadasant commented on #10235
This is ready to start testing!

Simple instructions:

1. Create a non-Azure VM.
2. Install azure arc.
3. Make sure your user has admin privileges and has the correct group.
4. Run your test.

Ask internally for more details.

[2020-10-09 19:31] sadasant commented on #11720
@ramya-rao-a That is true! Thank you! I'll close this one.

[2020-10-09 19:31] #11720 closed

[2020-10-09 22:38] sadasant commented on #10238
McCoy updated the SF testing issue Josh made: https://github.com/Azure/azure-sdk/issues/901#event-3857392220

McCoy also has a draft PR here with our current Python implementation: https://github.com/Azure/azure-sdk-for-python/pull/14025

[2020-10-10 00:06] HarshaNalluru opened #11750 "[Service Bus] `MaxListenersExceededWarning` from too many message listeners on receiver for the managementLink when attempted many parallel requests"
### To Repro
- Send 20 messages
- Receive all the messages using receiveMessages api
- Attempt renewlock for all the messages in parallel

### Example Warnings
`MaxListenersExceededWarning` from too many message listeners on receiver for the managementLink when attempted many parallel requests
[code]

[2020-10-10 01:39] ramya-rao-a commented on #11750
How is this different from #11736?

[2020-10-10 02:06] qiaozha commented on #11567
Thanks for reporting this. I will take a look at this and get back to you ASAP.

[2020-10-10 03:46] DominikMe commented on #11740
Hi @jeremykirc, thanks for filing! The communication-calling package is closed-source, adding @akania who is working on the calling part for JS.

In the meantime, can you share how you import the module and what your webpack config looks like? Calling gets packaged as UMD modules.

[2020-10-10 15:52] ewfian opened #11758 "An exception thrown on Safari 5.0"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.2.1
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [x] **browser**
    - **name/version**: Safari 5.0 (iPad; CPU OS 9_3_5 like Mac OS X) AppleWebKit/601.1.46 (KHTML, likeGecko) Version/9.0 Mobile/13G36 Safari/601.1
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md

[2020-10-10 21:31] diberry opened #11760 "Ref docs: Storage Blob - Blob item properties competes with Ref Doc properties"
In the Azure/storage-blob ref docs, looking at the [BlobItem doc](https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/blobitem?view=azure-node-latest), the object has a property named "properties", and the ref doc page also has a section named "Properties". Both are the HTML bookmarks, or at least function that way so that in order to find the properties, I have to scroll down. If

[2020-10-11 01:19] walisc opened #11761 "CreateOrUpdate not requiring any values related to the 'properties' attributes, yet 'properties' attribute required by endpoint"
- **Package Name**:  @azure/arm-appservice / @azure/ms-rest-js
- **Package Version**: 6.1.0 / 2.0.8
- **Operating system**: Ubuntu 18.04.5 LTS
- [X] **nodejs**
    - **version**: v10.16.0

**Describe the bug**
* When calling the `createOrUpdate` method of a WebSiteManagementClient instance, the only property required in the `SiteEnvelope` is the `location`.
* When no siteEnvelope properties that h

[2020-10-11 03:03] HarshaNalluru commented on #11750
The other issue is from the excess "sender_error" and "receiver_error" listeners added at the managementClient in service-bus.
This issue is from the many "message" event listeners added at the RequestResponseLink.sendRequest in core-amqp. The console output pasted in this issue is obtained after taking the fixes from https://github.com/Azure/azure-sdk-for-js/pull/11738

Added more text to disting

[2020-10-11 18:44] mtth commented on #11620
Hi there. If you update `avsc` to `5.5.1`, you can use an option to omit these methods:

[code]

Note that decoded record values will still have a named constructor for performance reasons. If you'd like to hide this constructor as well, you can do so with a type hook. For example to copy the values into plain objects:

[code]

Sample usage:

[code]

You can tweak the logical type's implementation

[2020-10-11 19:22] nguerrera commented on #11620
@mtth Awesome, thanks!

[2020-10-12 02:32] changlong-liu commented on #10045
Hi @stevengum , @VanyLaw , the botservice JS package is available here: https://microsoft.sharepoint.com/:u:/t/AzureManagementExperience/EesAOwtz9LZPsOex0y0AI54BegRKJUFDa5Oz4zNPqiYQcQ?e=TDGtYM

Would you verify it before public release? Thank you!

[2020-10-12 05:31] ramya-rao-a commented on #11758
Thanks for reporting @ewfian

@jeremymeng, Can you take a look at this issue and the linked PR?

[2020-10-12 05:40] ramya-rao-a commented on #11760
@diberry I dont believe there is a straight forward way to get this information. For the new set of libraries, we have the [api extractor](https://www.npmjs.com/package/@microsoft/api-extractor) to generate a file which has the user facing api. So, it would be an easy search here. But none of the management libraries that also live in this repo use the api extractor.

[2020-10-12 05:43] ramya-rao-a commented on #11760
But all such packages that do not use the api extractor are auto generated using the swagger file that represents the service. So, you can search the swagger files to get a count.

Also, all this information is only for the packages that live in this repo, there are potentially other JS packages in Azure and elsewhere in other repos that all have their reference docs rendered in docs.microsoft.com

[2020-10-12 05:46] qiaozha commented on #11567
@devployment  I am able to repro this issue with pure JS SDK now.

[2020-10-12 09:36] VanyLaw commented on #10045
Hi @changlong-liu , it can work in my site. Thanks!

[2020-10-12 10:13] ChrisKlug commented on #11567
The reason is that the `options` parameter to `enableCustomHttps` can't be optional as the `customDomainHttpsParameters` property is required. So both the `options` and `customDomainHttpsParameters` need to be made required, or have a default value.

To sort out the Pulumi resource, you can use

[code]

[2020-10-12 15:58] jeremykirc commented on #11740
@DominikMe Webpack version is 4.44.2. I'm importing the module as the documentation describes **import { CallClient, CallAgent } from "@azure/communication-calling";** This is a Rails + React app, which doesn't directly use a webpack config, Rails generates this based on a combination of a few files. I am using a few different loaders (jsx loader, typescript loader), which I thought could be the s

[2020-10-12 16:45] ramya-rao-a commented on #8302
@ljian3377 What are the next steps here?

[2020-10-12 17:30] #9867 closed

[2020-10-12 17:32] g2vinay opened #11778 "[BUG] VsCode Credential not reading correct values from the access token cache."
**Describe the bug**
VsCode credential is reading in the token value of 'Azure' account from the VSCode iDE cache. This value is never purged, so cannot be relied upon. This results in following issues:
1. VSCode credential reads token even if no user logged in the IDE.
2. VSCode credential reads in expired tokens, if the user hasn't logged in the VSCode IDE in weeks/months.
3. Azure CLI can never

[2020-10-12 17:34] HarshUpadhyay-MSFT commented on #11722
Here are the logs - I did this on a simple react sample app.
[localhost-datalake.log](https://github.com/Azure/azure-sdk-for-js/files/5366667/localhost-datalake.log)

[2020-10-12 17:38] sadasant opened #11779 "[Key Vault Keys] Local cryptography test improvements."
Revisit Ramya's feedback here: https://github.com/Azure/azure-sdk-for-js/pull/11549#discussion_r499198082 and improve the Key Vault Keys tests for the local cryptography code.

[2020-10-12 19:21] xirzec commented on #11620
@mtth you rock! Thank you so much.

[2020-10-12 19:26] sarangan12 opened #11784 "Hide the BufferedSender Constructor"
Currently the BufferedSender class can be instantiated in 2 methods.

1. Using `new` directly from User code
2. Through search client

Arch Board does not want the first option. They wanted to instantiate the buffered sender only through the Search Client.

[2020-10-12 20:10] jeremymeng commented on #11758
/cc @xirzec @bterlson

[2020-10-12 20:52] nguerrera commented on #11620
I put up a PR with omitRecordMethods: https://github.com/Azure/azure-sdk-for-js/pull/11786

Worked like a charm. Thanks again, @mtth!

I didn't do the maneuver to drop the named constructor. I wasn't sure it was necessary and there's some risk of losing perf to copying every object, right? @xirzec Do you think it's OK to leave the constructor being something else than Object?

[2020-10-12 21:12] nguerrera commented on #11620
https://twitter.com/nick_guerrera/status/1315761788181340165?s=20

[2020-10-12 21:21] ramya-rao-a commented on #11714
Fixed with #11755

Thanks @mohsin-mehmood!

[2020-10-12 21:21] #11714 closed

[2020-10-12 21:26] xirzec commented on #11620
I'm not worried about that; I think JSON.stringify() will work fine without the Object constructor.

[2020-10-12 21:34] ramya-rao-a commented on #11784
@sarangan12 Can you add some details to the issue description here? Something around why we are doing this, is this over a preview or change over a GA package etc

[2020-10-12 22:16] sarangan12 commented on #11186
WIth this https://github.com/Azure/azure-sdk-for-js/pull/11618 the release is complete

[2020-10-12 22:16] #11186 closed

[2020-10-12 23:22] mikeharder opened #11789 "Consider requiring PRs to update pnpm-lock.yaml"
For background, there are 3 "levels" of the `rush update` command, which is used to update the `pnpm-lock.yaml` file:

1. `rush update`: Only makes the minimum updates needed to satisfy the `package.json` files.
2. `rush update --recheck`: Additional updates to ensure the `pnpm-lock.yaml` file is consistent with the `package.json` files.
3. `rush update --full`: Updates all dependencies to the lat

[2020-10-12 23:23] mikeharder commented on #9243
Dup of #11789

[2020-10-12 23:23] #9243 closed

[2020-10-12 23:34] sarangan12 commented on #11784
Code complete with this PR: https://github.com/Azure/azure-sdk-for-js/pull/11785

[2020-10-12 23:34] #11784 closed

[2020-10-12 23:51] jeremymeng commented on #11758
Or @ewfian did you have a typo in the report? Most common user agent string for safari has "Mozilla/5.0"

[2020-10-13 01:45] ewfian commented on #11758
@jeremymeng What the browser actually returns through `navigator.appVersion` is: `5.0 (iPad; CPU OS 9_3_5 like Mac OS X) AppleWebKit/601.1.46 (KHTML, likeGecko) Version/9.0 Mobile/13G36 Safari/601.1`
name/version
The issue template shows `name/version`, So I just added `Safari` in front but forgot '/'. Sorry for the confusion.

[2020-10-13 02:00] ewfian commented on #11758
The device we are having issue with is iPad3, it can only be compatible with iOS9. The version of Safari on iOS9 is 5.0.

![image](https://user-images.githubusercontent.com/12423122/95805835-4e24c500-0d41-11eb-9fb9-4b7515e6814a.png)

![image](https://user-images.githubusercontent.com/12423122/95805855-5846c380-0d41-11eb-964e-851c9755a2c4.png)

reference:
https://developer.apple.com/support/app-sto

[2020-10-13 02:27] dw511214992 commented on #11761
Based the description, it seems the service side asks `properties` in `SiteEnvelope` should be marked as required. However, in [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#L1649), it's not marked as required.
Need service team to confirm and fix the swagger if the swagger is wrong. Then

[2020-10-13 02:49] qiaozha commented on #11567
@ChrisKlug  I had a try of your suggestion. It works. I also see your PR since the JS SDK code is generated from azure-rest-api-specs let me see how to leverage that.

[2020-10-13 04:40] ljian3377 commented on #8302
Update the documentation if needed.

[2020-10-13 05:52] qiaozha commented on #11522
close as resolved. Thanks

[2020-10-13 05:52] #11522 closed

[2020-10-13 06:11] ramya-rao-a commented on #11715
@joheredi Are you aware of whether or not we truncate the error messages as described above?

[2020-10-13 06:14] ramya-rao-a commented on #11627
We will not be having a Key Vault release for the November milestone as we are investing our time elsewhere this month.
The December and January milestones will be used for backlog reduction and infrastructure improvement tasks.
Updating this issue to reflect the February milestone/release.

cc @sadasant, @AlexGhiondea

[2020-10-13 06:14] qiaozha commented on #11341
@raidraptor  close this issue as it should be resolved with the latest release https://www.npmjs.com/package/@azure/arm-iothub/v/4.0.0. Let me know if there's other issues. Thanks

[2020-10-13 06:14] #11341 closed

[2020-10-13 07:22] ljian3377 commented on #11722
The getAccessPolicy() and setAccessPolicy is not supported when authenticated with RBAC. It's only supported when authenticated with Shared Key, for security considerations.
So SDK is working by design. There are discussions on this service behavior. Let us know if you have any strong argument.

[code]

[2020-10-13 07:58] ljian3377 opened #11796 "[test-utility & Engsys] test support"
- Support playback only notation like .NET
https://github.com/Azure/azure-sdk-for-net/blob/1637f4b9ed998c40d9ae3fe054de3382b4769150/sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs#L79

- Support specifying the supported service version range for a case conveniently.
https://github.com/Azure/azure-sdk-for-net/blob/1637f4b9ed998c40d9ae3fe054de3382b4769150/sdk/storage/Azure.Storage

[2020-10-13 08:58] HarshaNalluru opened #11798 "[Core AMQP] Debug logs contain "NaN""
![image](https://user-images.githubusercontent.com/10452642/95839205-98815400-0cf7-11eb-9775-033eacf4c386.png)

[2020-10-13 13:05] abc516 commented on #10780
Hi @deyaaeldeen @ramya-rao-a @praveenkuttappan I'm working on this issue atm. I'm running into a lot of lint errors regarding unit tests (no-useless catch). According to the rule on eslint (https://eslint.org/docs/rules/no-useless-catch), I could delete the catch block but I feel that would mess up the logic. I'd like some input before I proceed, please. Thanks. Here's a snippet from the searchInd

[2020-10-13 20:36] sadasant commented on #11627
Thank you for doing this!
(Woah! I'm seeing in to the future!)

[2020-10-13 21:02] sadasant commented on #11672
Ok, so this issue is about two different things.

1. InteractiveBrowserCredential shows `OK` on the browser once it succeeds.
2. DeviceCodeCredential should use the logger on success (as other languages are doing).

Both changes are one-liners. I'll be doing a PR soon.

[2020-10-13 21:21] jeremymeng commented on #11758
Thank you for the clarification @ewfian. Could you please address @xirzec's comment in the PR?

[2020-10-13 22:17] mikeharder opened #11809 "Enable Browser Testing in Safari on Mac"
Currently, I believe our browser tests on Mac will use headless Chrome, the same as Windows and Linux.  We should enable browser testing in Safari on Mac to increase our test matrix.

Once the tests themselves run in Safari on Mac, this configuration should be added to our test matrixes (#9462).

From @HarshaNalluru:

[2020-10-13 22:48] sadasant commented on #11669
Alright so I discussed with Jonathan about the API change and we agreed so far on making this parameter optional. Then, the default value seems to be the same as this: https://github.com/Azure/azure-sdk-for-js/blob/752628be7932cd03833c66b9697d12e5430fa3ec/sdk/identity/identity/src/constants.ts#L12

I'll make a draft PR with that information.

[2020-10-13 22:54] ramya-rao-a commented on #5796
Closing this issue as we have not had any feedback to support this feature request.

[2020-10-13 22:54] #5796 closed

[2020-10-13 23:10] ramya-rao-a commented on #11796
This is in our radar for the coming months already

Don't we already support this via the TEST_MODE env variable? Or are you referring to wanting to specify this at individual test level?

[2020-10-13 23:41] #11620 closed

[2020-10-14 02:18] mtth commented on #11620
Happy to help. Thanks for the kind words :).

[2020-10-14 03:48] mariusu-msft commented on #11740
@jeremykirc I'm trying to investigate your issue, would you be able to tell me more about your setup? WebPack version, React version, JS only or React + Typescript?

[2020-10-14 04:53] akania commented on #11740
@jeremykirc are you to provide us with a sample project with minimal setup that would allow us to repro this issue
we can also start by looking at your webpack config, which webpack TS loader are you using.

[2020-10-14 05:29] changlong-liu commented on #10045
Hi @VanyLaw , the botservice is released here: https://www.npmjs.com/package/@azure/arm-botservice/v/2.0.0

[2020-10-14 05:53] ljian3377 commented on #11796
Yes, I mean specify this at individual test. Nice to have bug no big deal though.
Now we have
[code]

[2020-10-14 06:46] ljian3377 commented on #11505
The temporary fix now is available in @azure/storage-file-share@12.3.0-beta.

[2020-10-14 16:47] richardpark-msft commented on #10980
Thank you @sunilsmith. Let me know if I can help in any way.

[2020-10-14 17:48] nVitius commented on #11007
The docs on the Microsoft website still show up with the outdated version of this code:
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-node-get-started-send

[2020-10-14 18:39] joheredi commented on #11336
The fix for this has been published

[2020-10-14 18:39] #11336 closed

[2020-10-14 18:39] joheredi commented on #11328
This has been addressed by #11110

[2020-10-14 18:39] #11328 closed

[2020-10-14 20:02] diberry commented on #11582
Not for external consumption, generally speaking. Ok, so close.

[2020-10-14 20:02] #11582 closed

[2020-10-14 20:06] jeremykirc commented on #11740
As previously stated Webpack version is 4.44.2. React version. Our app is just a React app, no typescript, but we are importing a package from an adjacent team that is typescript and requires us to use typescript loader. Typescript version is 4.0.3. React version is 16.13.1.

[2020-10-14 20:08] jeremykirc commented on #11740
TS loader I am using is "ts-loader" version 8.0.4. I'll see if I can put together a stripped down sample version of the app.

[2020-10-14 20:22] jeremykirc commented on #11740
[](url)

[2020-10-14 21:45] sadasant commented on #11578
Jonathan has this already advanced in his branch, so I assigned this to @jonathandturner !

[2020-10-14 21:57] sadasant commented on #11670
I had a conversation with @jonathandturner about this feature and how Python approaches it ([here](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/identity/azure-identity/azure/identity/_credentials/device_code.py#L85-L88)) and, since this issue relates to MSAL and to the work he's already doing, we decided on assigning this back to him! Thank you, Jonathan!

[2020-10-14 23:08] praveenkuttappan opened #11827 "Doc publishing step to github.io failed to publish"
Step to publish docs to github.io has timed out after 1 hour for @azure/storage-blob package for JS.  Time out was caused by a powershell bug in comparing content in html file. This step processes each html file and replaces release tag and compares it against original content. If content has 65K lines then powershell script comparison is stuck for long time. ( Didn't complete in 1 hour). Comparin

[2020-10-14 23:18] #11465 closed

[2020-10-14 23:57] jeremymeng opened #11830 "[MetricsAdvisor] method parameters of `Date` should accept `Date | string`"
we convert the string into `Date` object before passing it to service.

this is for both
* parameters of Date type
* option property of Date type (only one `ListFeedbacksOptions`)

[2020-10-14 23:59] jeremymeng commented on #11614
#11790

[2020-10-15 00:02] jeremymeng opened #11831 "[MetricsAdvisor] fix typo `lastOccuredTime` to `lastOccurredTime`"

[2020-10-15 00:06] praveenkuttappan commented on #11827
We should use -raw when reading content and handle set-content accordingly.

[2020-10-15 00:07] jeremymeng opened #11832 "[MetricsAdvisor] use number instead of Date for timestamp properties"
Any properties with "timestamp" in names should have `number` type, which is the value of `date.getTime()`. We should handle the translation between service and convenience layer.

just the following two
- DataPointAnomaly.timestamp
- AnomalyAlert.timestamp

More from generated model that we used.  Need to re-define and use convenience layer model
- DataFeedIngestionProgress.latestActiveTimestamp

[2020-10-15 00:12] jeremymeng opened #11833 "[MetricsAdvisor] createDateFeed() sample should type out one single const object"
instead of assembling various objects into one. e.g.,

[code]

[2020-10-15 00:14] jeremymeng commented on #7352
Closing this as it is covered by a broader task #11319

[2020-10-15 00:14] #7352 closed

[2020-10-15 00:42] richardpark-msft commented on #11682
On talking with the service team a safer value to use would be the sequence number, which is required to be unique per message.

[2020-10-15 02:35] ramya-rao-a commented on #10780
In the above code snippet, I dont see how removing the catch block would change the logic. The finally block would still work even if we don't have the explicit catch block which does nothing but rethrow the error

@sarangan12, Do you recall the reason you had the above catch block?

[2020-10-15 07:43] balazsmolnar commented on #11463
@sadasant We tested the fix yesterday, and I'm happy to report that we did not experience any managed identiy related issue. Thnk you for the fix!

[2020-10-15 08:00] #11369 closed

[2020-10-15 08:00] #11292 closed

[2020-10-15 08:00] #9061 closed

[2020-10-15 08:10] sarangan12 commented on #10780
Originally, I thought I can do some retry in the catch. Later, decided they were not necessary. I am Ok with removing the catch block.

[2020-10-15 09:34] mitchdenny opened #11848 "Convert from pipeline-per-package to pipeline-per-service"
I've created this issue to start a conversation around getting the JS repo to align to all the other language repos around having just a single live test pipeline per service directory. Today, .NET, Java, and Python all have just a single ```tests.yml``` file per service directory with a track 2 library. When this pipeline spins up it tests the libraries within that service directory.

Whilst the

[2020-10-15 09:35] mitchdenny commented on #11848
/cc @praveenkuttappan @ramya-rao-a @weshaggard

[2020-10-15 13:54] ljian3377 opened #11849 "[storage-file-datalake] unexpected behavior with copysource including special char"
Should url encode the copysource. Would fail when
[code]

[2020-10-15 15:11] weshaggard commented on #11848
https://github.com/Azure/azure-sdk-for-js/issues/6446 is where we had a discussion about this in the past.

I will also add that we have plans to eventually remove the tests.yml file complete and generate test pipelines from the ci.yml file and when doing that work we will need to figure out what granularity we want to generate those test pipelines at. Would they be at the service level, the packa

[2020-10-15 15:20] dcegress opened #11850 "[storage-blob] blobClient.download does not close network connection if the stream is not fully read"
- **Package Name**: storage-blob
- **Package Version**: 12.2.1
- **Operating system**: Centos 7/Windows 10
- [ ] **nodejs**
    - **version**: 12.19.0
- [ ] **browser**
    - **name/version**:  Any
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe th

[2020-10-15 15:29] sadasant commented on #11463
@balazsmolnar that's awesome! Thank you so much. I'll close this issue for now. Feel free to re-open this issue or make any other issue anytime! We're here to help 👋

[2020-10-15 15:29] #11463 closed

[2020-10-15 15:58] sadasant opened #11851 "[Identity] Improve the documentation of DeviceCodeCredential"
Provide samples and inline comments with a concrete demonstration of how to use the `DeviceCodeCredential`.

[2020-10-15 15:59] sadasant opened #11852 "[Identity] Improve the documentation of InteractiveBrowserCredential"
Provide samples and inline comments with a concrete demonstration of how to use the `InteractiveBrowserCredential`.

[2020-10-15 16:33] jeremymeng commented on #5623
I think we should steer users to the better `uploadStream()` method.  We could revisit browser `ReadableStream` after it's commonly supported in major browsers.

[2020-10-15 16:33] #5623 closed

[2020-10-15 17:03] jeremykirc commented on #11740
@akania can you provide me with an email address where I can send you a sample version of our application?

[2020-10-15 17:52] jeremymeng commented on #11849
We are applying the heuristic strategy one mentioned https://github.com/Azure/azure-storage-js/blob/e6fe50e3a5f3e15026587ed4d56e5e14a6a0662c/file/lib/utils/utils.common.ts#L46.  I believe it's the same cross all storage libraries.

[2020-10-15 19:26] richardpark-msft opened #11858 "[service-bus] Distributed tracing for additional operations (peek, lock renewal, scheduling, settlement)"
It looks like we can break down the tracing into separate groups of activities:

Core messaging activities (already done):
- `sendMessages`, batch operations, `receiveMessages`, `subscribe` and the message iterator

Not yet done:

Additional activities that introduce/retrieve messages from queues:
- `scheduleMessages()`, `receiveDeferredMessages`

Further out:
- `cancelScheduledMessages` - we don'

[2020-10-15 19:52] HarshaNalluru opened #11859 "[Service Bus] "SupportOrdering" property in QueueDescription"
"SupportOrdering" attribute is present in the "topic" related interfaces, but not the queue.
Same is the case with the .NET SDK.

However, the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/1f4095f20a2b89c056c40e85b17af7a534bffc4d/specification/servicebus/data-plane/servicebus-swagger.json#L722) defines it for queue and Java, python SDKs should be having this in the QueueProps/QueueD

[2020-10-15 19:58] HarshaNalluru opened #11860 "[Service Bus] ATOM API - Confusion with the update method"
For example, pick `ServiceBusAdministrationClient.updateQueue` method,
We expect users to pass the modified properties object to the updateQueue method. However, we don't return just the properties object anywhere.

We return `PropsResponse = Props & {_response: HTTPResponse}` with the create and get methods. We have observed in the user studies that the users would get confused not knowing what t

[2020-10-15 20:45] richardpark-msft commented on #11860
Some questions:
- [ ] How does ARM represent this relationship?
- [ ] Can a user realistically create a "queue response" to update a queue without querying it first? ie, are there things like etags, etc... that would be required or needed to do it properly?
- [ ] What does the type hinting look like in VSCode when we do aliases?
- [ ] What does the documentation look like?

[2020-10-15 22:36] #10103 closed

[2020-10-15 23:09] jeremymeng commented on #11681
PR #11790

[2020-10-15 23:15] jeremymeng opened #11867 "[MetricsAdvisor, sample] introduce local const for listing iterators"
Use the following form instead of inlining method call inside for-await-of statement

[code]

[2020-10-15 23:46] ramya-rao-a opened #11869 "[Service Bus] Pass error source, namespace, entityPath details in the error callback"
In the API that registers message and error handlers to receive messages continuously in Service Bus, the error callback does not have any additional context on the error. The below context would be very helpful
- error source: The error may have come from the receiver's attempt to
     - auto complete the message on message callback completion
     - auto abandon the message on message callback f

[2020-10-15 23:51] ramya-rao-a commented on #11038
This is completed with https://github.com/Azure/azure-sdk-for-js/pull/11152

Thanks @mohsin-mehmood!

[2020-10-15 23:51] #11038 closed

[2020-10-15 23:52] ramya-rao-a opened #11870 "[Service Bus] Update the name of the options passed to methods that create senders and receivers"
In the latest v7 of the Service Bus preview package, we have the below options that can be passed to methods that create the sender, receiver and session receiver
- CreateSenderOptions
- CreateReceiverOptions
- AcceptSessionOptions

Our friends in .Net have the below names for the same
- ServiceBusSenderOptions
- ServiceBusReceiverOptions
- ServiceBusSessionReceiverOptions

In Internal API review

[2020-10-15 23:52] ramya-rao-a commented on #11870
cc @HarshaNalluru, @richardpark-msft, @bterlson

[2020-10-15 23:58] ramya-rao-a commented on #11859
The above is from the Service Bus team. Since setting this for queues has no affect, I dont see the point of having it in the APIs

[2020-10-16 00:11] abc516 commented on #10780
OK @sarangan12 I made a PR for this. Can you add the label **hacktoberfest-accepted** to the PR please?

[2020-10-16 00:39] HarshaNalluru commented on #11859
If it has no affect, swagger needs to be updated and the JAVA/Python SDKs need to followup on this.

[2020-10-16 05:15] ramya-rao-a commented on #11701
This is completed with #11782

Thanks @mohsin-mehmood!

[2020-10-16 05:15] #11701 closed

[2020-10-16 05:21] ramya-rao-a commented on #11858
Should the settlement methods also be considered here?

[2020-10-16 06:31] ramya-rao-a opened #11878 "[Service Bus] Use the term "Message" in batch related apis"
In the latest v7 of the Service Bus preview package, we have the method `createBatch()` that takes `CreateBatchOptions` and returns a object that has the method `tryAdd()`.

It is being suggested that we add the term "Message" in the above APIs to make it easy for people to find the right method to use

Since we are using the term "message" in all the apis on the sender and receiver, it is not a s

[2020-10-16 07:20] XiaoningLiu commented on #11727
Thanks for the suggestions! Contribution is also welcome!

[2020-10-16 08:00] #10498 closed

[2020-10-16 08:00] #10472 closed

[2020-10-16 09:29] dcegress commented on #11850
Sample code...

'use strict'

const express = require('express')
const router = require('express').Router()
const { BlobServiceClient, StorageSharedKeyCredential } = require('@azure/storage-blob')

const storageAccount ='XXXX'  		// Storage Account Name
const storageKey='XXXX'		  		// Storage Account Key
const storageContainer='test' 		// Container name
const storageFile='WRoutro.MOV' 	// File nam

[2020-10-16 09:32] dcegress commented on #11850
The alternate method of

stream.on('data', function (chunk) {
    res.write(chunk)
})

Does close the connection, however it causes delay because it continues to read from the Azure blob stream even though the response is closed rather than terminating the request.

[2020-10-16 10:57] AddySanto commented on #9864
GuyGugah's comment is the official guidance so I will close this ticket.

[2020-10-16 10:57] #9864 closed

[2020-10-16 11:46] cveld opened #11886 "How to get az-cli context or az-PowerShell context?"
- **Package Name**: @azure/ms-rest-nodeauth
- **Package Version**: 3.0.3
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 10.16.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 3.9.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

(also posted o

[2020-10-16 14:57] mohsin-mehmood commented on #11870
@ramya-rao-a Can you confirm that interface `CreateSenderOptions` name is correct that needs to be updated.

[2020-10-16 17:49] jeremymeng commented on #9171
The fix in linked PR #9599 would require a major version bump of core-http.  We will also do some more testing on the fix.

[2020-10-16 17:50] MRayermannMSFT commented on #9171
Sure thing. Thanks for the update! :)

[2020-10-16 20:26] jsquire opened #11891 "Implement a Service Bus Shared Access Key Credential"
# Summary

Service Bus allows for authorization using a shared key and shared access signature that is currently only supported when using a connection string.  To align with best practices, we would like to guide library users to down the path of using Identity credentials for production applications.   In order to provide a unified approach to authorization around the use of a credential for all

[2020-10-16 20:27] jsquire opened #11892 "Implement an Event Hubs Shared Access Key Credential"
# Summary

Event Hubs allows for authorization using a shared key and shared access signature that is currently only supported when using a connection string.  To align with best practices, we would like to guide library users to down the path of using Identity credentials for production applications.   In order to provide a unified approach to authorization around the use of a credential for all

[2020-10-16 20:59] jsquire opened #11893 "Implement a Service Bus Connection String Parser"
# Summary

Service Bus allows for authorization using a shared key and shared access signature that is supported using a service-specific shared access key credential.  It is common for the shared key or shared access signature to be passed with the service endpoint and entity path as part of a connection string.  To align with best practices, we would like to guide library users to down the path

[2020-10-16 21:01] jsquire opened #11894 "Implement an Event Hubs Connection String Parser"
# Summary

Event Hubs allows for authorization using a shared key and shared access signature that is supported using a service-specific shared access key credential.  It is common for the shared key or shared access signature to be passed with the service endpoint and entity path as part of a connection string.  To align with best practices, we would like to guide library users to down the path o

[2020-10-16 21:32] ramya-rao-a commented on #11870
@mohsin-mehmood Yes. `CreateSenderOptions`, `CreateReceiverOptions` and `AcceptSessionOptions`, all three need to be renamed

[2020-10-17 13:34] ewfian commented on #5771
@jeremymeng  Is there any new update? I saw it was tagged.

[2020-10-18 08:42] aim-for-better commented on #11715
Hi @jmwombeki , Thanks for your update. I have found the reasons. You can try to add the bellow code to the property `clusterDefinitions`
[code]
After the change the `clusterDefinitions` should be like:
[code]

[2020-10-19 03:08] mitchdenny opened #11907 "Codespaces onboarding for JavaScript repository"
This is a tracking issue for anything that comes up when folks start dogfooding Codespaces against the repository. As folks discover tools/configuration that they'd like to have pre-installed by default note it here and we can submit PRs that put it there by default.

[2020-10-19 03:16] jongio commented on #11595
@noelbundick - Did this resolve this issue for you?

[2020-10-19 05:01] ramya-rao-a commented on #11878
Done with #11887
Thanks @mohsin-mehmood!

[2020-10-19 05:01] #11878 closed

[2020-10-19 06:24] ramya-rao-a commented on #11886
Do you mean the one currently selected in Azure CLI?
The credential object you get should have a `subscriptionInfo` property on it which should have the subscription details

[2020-10-19 08:40] HarshUpadhyay-MSFT opened #11913 "MissingApiVersionParameter error in all paged calls"
- **Package Name**: @azure/arm-synapse
- **Package Version**: 2.0.0
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
As an example, calls

[2020-10-19 09:03] HarshaNalluru commented on #11907
This is amazing!
"rush", "ts-node" and "typescript" can come pre-installed.
- `npm i -g @microsoft/rush`
- `npm i -g ts-node`
- `npm i -g typescript`

[2020-10-19 13:31] gwintca opened #11914 "Support for CompleteBatch for service bus queueClient"
Is there support for queueClient CompleteBatch method?
https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.queueclient.completebatch?view=azure-dotnet
If not is there a workaround to improve performance while using peekLock receive mode?

[2020-10-19 17:08] HarshaNalluru commented on #11633
### More info/observations
"Receiving with Batching receiver in a loop - the last call doesn't end as per the defined timeout".
- Happens for the unpartitioned queues only
- Happens only in "peekLock" mode
- Drain call doesn't fire the event upon receiving 2047 messages
- Ends fine for partitioned-queues - returns an empty array upon timeout after 2047
- Rhea should probably throw an error upon re

[2020-10-19 17:25] schaabs opened #11915 "Remove Application Authentication API from 1.2.0 GA release"
The APIs specific to this feature are:

EnablePersistentCache
AllowUnencryptedCache
DisableAutomaticAuthentication
AuthenticationRecord
Authenticate
AuthenticationRequiredException

[2020-10-19 17:54] jeremymeng opened #11917 "[MetricsAdvisor] Remove skip from GetMetricEnrichedSeriesDataOptions"
It's not a paging operation and doesn't support skip.

[2020-10-19 19:06] mikeharder opened #11919 "[core-https] "write after end" test failure on Node 14"
Two tests in `core-https` are failing on Node 14:

[code]

https://dev.azure.com/azure-sdk/public/_build/results?buildId=576983&view=logs&j=5156becd-11a6-53cb-b80b-50fcb338b499&t=96b03519-0d03-5e92-2355-2d37223b59da&l=1967

[2020-10-19 19:19] deyaaeldeen commented on #11907
I would say just `rush` is enough, strictly speaking. `ts-node` and `typescript` could be useful for hacking on something outside our SDKs but that is not a common scenario I guess. Also consider that version mismatch between what we have in our `package.json` files and the one installed could be confusing.

[2020-10-19 19:24] joheredi commented on #11715
I looked into the generated code and `@azure/core-http` and it doesn't look like we are manipulating the error message

[2020-10-19 19:33] weshaggard commented on #11827
Fixed by https://github.com/Azure/azure-sdk-tools/pull/1103

[2020-10-19 19:33] #11827 closed

[2020-10-19 20:44] jeremymeng opened #11924 "[MetricsAdvisor] create aka.ms link to api ref doc on Microsoft Docs site"
We used the akams link in readme.md
https://aka.ms/azsdk/js/metricsadvisor/docs

[2020-10-19 21:03] jeremymeng commented on #11656
hookType is used as the discriminator property in the base/common type, need to test whether renaming both can work as expected.

[2020-10-19 21:09] xirzec commented on #11907
Seems like the codespace might be doing `npm install` in the root of the repo which upsets rush:

Warning: A phantom "node_modules" folder was found. This defeats Rush's protection against NPM phantom dependencies and may cause confusing build
errors. It is recommended to delete this folder:
"/home/codespace/workspace/azure-sdk-for-js/node_modules"

[2020-10-19 21:27] jeremymeng commented on #11833
we have datefeed.ts/js and quickstart.ts/js.  We might have other places whether we didn't use a single object in other samples (detection config/alert config).

[2020-10-19 21:28] sarangan12 commented on #8881
Code complete with this PR https://github.com/Azure/azure-sdk-for-js/pull/11841

[2020-10-19 21:28] #8881 closed

[2020-10-19 21:42] richardpark-msft opened #11926 "[service-bus] API: move settlement/renewLock from message object to Receiver"
As part of an internal API review we've decided that the settlement and lock renew methods are located in two separate spots across our SDKs - on the Receiver (Java, C#) or on the ServiceBusMessage (Python, JavaScript).

Rather than allowing these SDKs to diverge we've chosen to unite them and to put the methods onto the Receiver object. This also aligns with the idioms we've applied across our ot

[2020-10-19 22:15] xirzec commented on #11919
Seems like two bugs here: one is us sometimes calling `end` after `pipe` (which calls end implicitly) on the request, the other one appears to be related to this change which moved some errors into async: https://github.com/nodejs/node/pull/29744/files so they're not getting handled by the outer async function anymore

[2020-10-19 23:13] ramya-rao-a commented on #11919
Do these fail only in Node 14 and consistently so?

[2020-10-19 23:22] mikeharder commented on #11919
yes and yes :)

[2020-10-19 23:23] xirzec commented on #11919
I have a fix, just need to get out of meeting to push the PR

[2020-10-19 23:52] xirzec commented on #11907
If you leave the codespace idle, after a while it'll refresh itself triggering 3 successive dialogs in Edge warning you about navigating away from the site and that you're going to lose work, etc, but whatever you click doesn't seem to change anything.

[2020-10-19 23:55] jeremymeng commented on #11919
Do we need similar fix in core-http?

[2020-10-20 00:37] ramya-rao-a commented on #11155
Closing in favor of #8105

[2020-10-20 00:37] #11155 closed

[2020-10-20 01:20] jmwombeki commented on #11715
@aim-for-better Thanks very much, I was able to create a Spark cluster with your suggested update above. Thank you.

[2020-10-20 01:29] ramya-rao-a commented on #11893
@jsquire Can you share the error message you are using so that we use similar verbiage for the below error scenarios:
- Missing endpoint in connection string
- Both SAS and key present in connection string
- No SAS or Key name, but key present in connection string

[2020-10-20 01:43] mitchdenny commented on #11907
@xirzec yeah, as soon as we specify a custom postCreateCommand it'll stop doing ```npm install```. The default behavior is to try and be clever and invoke the _Oryx_ build system which just doesn't understand rush.

[2020-10-20 01:44] mitchdenny commented on #11907
Can you record a video of that next time it happens? Would like to give that feedback to the Codespaces team.

[2020-10-20 03:25] xirzec commented on #11919
Nah, this is in the new client built directly on top of the `https` module.

[2020-10-20 03:31] jiacfan commented on #11850
Hey, @dcegress

In the mentioned case, is "Response closed, destroying stream" printed?
[code]

When using stream.unpipe() and stream.destroy():
[code]
Will you be able to recieve `close` event on `stream`?

Drain the buffer with stream.on('data', function...) with ensuring stream can get properly closed may be a good state, which ensures no memory and TCP connection elak.

Thanks,
Jiachen

[2020-10-20 03:40] ljian3377 commented on #11850
@jeremymeng for visibility as well.

[2020-10-20 03:48] umamimolecule opened #11947 "[CosmosDB] Dependency on node-fetch@2.6.0 with security vulnerability"
CosmosDB [SDK has a reference](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/package.json) to node-fetch@2.6.0.  This is reported have a [medium level DoS security vulnerability](https://snyk.io/vuln/SNYK-JS-NODEFETCH-674311) which they say has been addressed in [version 2.6.1](https://github.com/node-fetch/node-fetch/security/advisories/GHSA-w7rc-rwvf-8q5r).

This is b

[2020-10-20 04:04] umamimolecule commented on #11947
Actually my bad, I see it's ^2.6.0, and installing the latest version of the SDK in our project seems to have pulled in node-fetch@2.6.1.

[2020-10-20 04:04] #11947 closed

[2020-10-20 04:47] aim-for-better commented on #11715
Got it, thanks for confirmation. I just close this issue.

[2020-10-20 04:47] #11715 closed

[2020-10-20 04:47] aim-for-better commented on #11715
Thanks for help. The issue has been solved now.

[2020-10-20 06:24] dcegress commented on #11850
Yes the close event triggers and with the unpipe() and destroy() we can see in the debugger the stream itself is destroyed but the network connection remains ESTABLISHED.

Draining the stream with on.data allows the stream to reach its end() event and properly close down and close the network connection, however this means for a very large file we have to consume all the data unnecessarily.

[2020-10-20 06:46] ronkot commented on #11331
Thanks! That makes sense, I'll check it out 😎

[2020-10-20 07:16] mariusu-msft commented on #11740
@jeremykirc if you are using rails webpacker, can you try this fix highlighted here: https://github.com/rails/webpacker/blob/master/docs/v4-upgrade.md#excluding-node_modules-from-being-transpiled-by-babel-loader

Pasting from link:

[code]

[2020-10-20 08:09] ljian3377 commented on #11850
@dcegress
Jiachen means drain the internal buffer of the stream rather than the whole stream. But it is irrelevant now since you mentioned the close event is triggered.
Could you elaborate on how you tell "the stream itself is destroyed"?

And we will look into this.

[2020-10-20 08:33] dcegress commented on #11850
Sure - I ran the code via a debugger (Visual Studio Code) with a breakpoint.  At the point after stream.destroy() is executed I can see that stream.destroyed returns true and any further operation on the stream is not possible.

If you run the code above, open a browser to localhost:2323/serve/video, wait for the page to load then check your netstat you will see that although the Browser has close

[2020-10-20 08:50] dcegress commented on #11850
There is an even simpler way to reproduce. Using the below code to stream a large file from Azure Blob to the browser in a download link, then click cancel half way through.  The res is closed, but the network connection remains from node to blob.

blobClient.download(streamRange.start, (streamRange.end - streamRange.start) + 1).then ( function (response) {
        var stream=response.readableStre

[2020-10-20 09:26] ljian3377 commented on #11850
Wait a minute. Are you using our library in browser or in Node.js?

[2020-10-20 09:28] dcegress commented on #11850
Node,js

[2020-10-20 09:28] dcegress commented on #11850
The comment about browser was just to illustrate the problem.  Browser-> Node.js -> Azure Blob when Browser closes the connection to Node, Node does not close it to Azure.

[2020-10-20 10:22] ljian3377 commented on #11850
Got it. Recreated locally with following code. Manually GC didn't help. @jeremymeng please take a look.
[code]

[2020-10-20 14:19] jsquire commented on #11893
We're using the same messages that we currently do during parsing.

The connection string used for an Event Hub client must specify the Event Hubs namespace host, and either a Shared Access Key (both the name and value) or Shared Access Signature to be valid. The path to an Event Hub must be included in the connection string or specified separately.

The authorization for a connection string may s

[2020-10-20 14:52] serkantkaraca commented on #11332
Connected/disconnected lifecycle events are available through Event Grid integration. https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-event-grid

You are employing message routing which only provides created/deleted lifecycle events. You cannot expect device to send connected/disconnected events after all.

[2020-10-20 16:32] ramya-rao-a commented on #11914
@gwintca Can you share some more details on the performance hit you are seeing that a feature of completing messages in a batch would help in? If you could share a code snippet of how you are using the receiver and settling messages would also help in this discussion.

Meanwhile we will look into the link that you shared above

[2020-10-20 16:33] ramya-rao-a commented on #11914
cc @richardpark-msft

[2020-10-20 17:39] diberry commented on #11727
@XiaoningLiu Is that just a PR to this repo?

[2020-10-20 18:30] jeremykirc commented on #11740
@mariusu-msft This solve my issue! I ended up using a more targeted solution, but both seemed to work.
`const nodeModulesLoader = environment.loaders.get('nodeModules')
if (!Array.isArray(nodeModulesLoader.exclude)) {
  nodeModulesLoader.exclude = (nodeModulesLoader.exclude == null)
    ? []
    : [nodeModulesLoader.exclude]
}
nodeModulesLoader.exclude.push(/@azure\/communication-calling/)`

[2020-10-20 19:38] ramya-rao-a opened #11953 "[Service Bus] Swap the order of messages & enqueuedTime in scheduled_messages method"
The `scheduled_messages()` method in the Service Bus package takes the time first and the messages later. It is more intuitive to swap this order because the message(s) is the main entity here. This also makes us consistent with the Service Bus packages in other languages

PRs are welcome to add this feature.
Code Pointers:
- [Set up environment](https://github.com/Azure/azure-sdk-for-js/blob/mast

[2020-10-20 19:42] ramya-rao-a opened #11954 "[Service Bus] Add abortSignal and tracing options to message settlement and lock renewal methods"
In the Service Bus package, the 4 message settlement methods and the two methods to renew locks are async operations and so should take the abortSignal. This issue is to update these methods to take the `OperationOptionsBase` and plumb the abortSignal support.

_**Code pointers to anyone who wants to help!**_
- [Set up your dev environment](https://github.com/Azure/azure-sdk-for-js/blob/main/CONTR

[2020-10-20 19:45] ramya-rao-a opened #11955 "[Service Bus] Remove viaPartitionKey to be added when we have Transactions support"
The ServiceBusMessage in the Service Bus package has the `viaPartitionKey` property which is related to the Transactions feature in Service Bus that we dont support yet. This issue is to remove this property for now to allow any re-design/re-name on this front in the future

PRs are welcome to add this feature.
Code Pointers:
- [Set up environment](https://github.com/Azure/azure-sdk-for-js/blob/ma

[2020-10-20 19:50] ramya-rao-a opened #11956 "[Service Bus] Remove the namespaceType from NamespaceProperties"
The output of `getNamespaceProperties()` method in the Service Bus package returns a json object that follows the interface `NamespaceProperties` which includes `namespaceType` which is not relevant anymore. This API was long ago used by an SDK that supported Event Hubs and Service Bus. Therefore, having the namespace type mattered. Now that we have dedicated SDKs for these services, the namespace

[2020-10-20 20:11] ramya-rao-a commented on #6616
Closing in favor of #7905

[2020-10-20 20:11] #6616 closed

[2020-10-20 20:19] ramya-rao-a commented on #10982
Now that we are doing https://github.com/Azure/azure-sdk-for-js/issues/11719, does this still apply?

[2020-10-20 20:22] ramya-rao-a commented on #11736
@HarshaNalluru Can we close this since https://github.com/Azure/azure-sdk-for-js/pull/11738 is merged or we want to wait until we run the stress tests one more time after the fix?

[2020-10-20 20:23] ramya-rao-a commented on #11750
@HarshaNalluru Can we close this since https://github.com/Azure/azure-sdk-for-js/pull/11749 is merged or we want to wait until we run the stress tests one more time after the fix?

[2020-10-20 20:28] richardpark-msft commented on #10982
Closing this now that we've, more or less, subsumed all the functionality we would have gotten here with other issues.

Adding in a more resilient error strategy coupled with retries should completely eliminate the need for processInitialize - the user can feel safe calling subscribe() and knowing that it will not quit in the face of a majority of errors while still providing good information via

[2020-10-20 20:28] #10982 closed

[2020-10-20 20:38] ramya-rao-a commented on #11893
I am thinking of going with the below for JS:
- Connection string should have the Endpoint.
- Connection string cannot have both SharedAccessSignature and SharedAccessKey details.
- Connection string with SharedAccessKey should have SharedAccessKeyName as well.
- Connection string with SharedAccessKeyName should have SharedAccessKey as well.

[2020-10-20 20:39] ramya-rao-a commented on #7727
Closing in favor of #11108

[2020-10-20 20:39] #7727 closed

[2020-10-20 20:52] HarshaNalluru commented on #11914
Thanks for asking @gwintca.
Service doesn't support completing (or settling) a batch of messages. So, we won't be supporting the CompleteBatch (as of now at least).

And regarding the `CompleteBatch` method that was pointed out, it was from the older Service Bus SDK for .NET.
Summarizing the things I learned from @JoshLove-msft on the `CompleteBatch` method:
- When `CompleteBatch` is called by the

[2020-10-20 20:53] HarshaNalluru commented on #11736
Can be closed, it has been fixed :)

[2020-10-20 20:53] #11736 closed

[2020-10-20 20:54] HarshaNalluru commented on #11750
Can be closed, has been fixed :)

[2020-10-20 20:54] #11750 closed

[2020-10-20 21:34] #11919 closed

[2020-10-20 22:17] jeremymeng opened #11957 "[MetricsAdvisor] Add an alias type for parameter type to createDataFeed()"
Currently it's in-lined as `Omit<DataFeed, "id" | "metricIds" | "isAdmin" | "status" | "creator" | "createdTime">`. It should look better after we add an alias type for it.

[2020-10-20 22:48] HarshaNalluru commented on #9850
Final thoughts regarding correlation-rule props and types supported keeping interop with .NET SDK in mind... https://github.com/Azure/azure-sdk-for-js/issues/9850
- Long
    - Setting long values in props on message doesn't work through AMQP side as of now
    - If we ever add support, it would be non-breaking to add in the mgmt side since we would have a type
- Number as int and double
    -  Cur

[2020-10-20 22:50] kurtzeborn commented on #11405
@benbp, is this even needed given the new smoke tests infrastructure?

[2020-10-20 22:55] noelbundick commented on #11595
@sadasant sorry for the delay. Still broken for me w/ the same issue.

The initial `ManagedIdentityCredential` call fails as expected, but it doesn't cascade down and try what should be the next credential - the one that uses my User-Assigned Identity

[code]

[2020-10-20 22:55] benbp commented on #11405
@kurtzeborn the package.json based config was added for the new infra. I agree with @praveenkuttappan that we should move it out of that file into its own dedicated config. It would be nice for us to eventually standardize this config format as well as we roll out the model to other language repos.

[2020-10-20 23:37] HarshaNalluru commented on #9850
@xirzec 's suggestion
[code]

[2020-10-20 23:37] noelbundick commented on #11595
I believe the root cause is in the error handler here: https://github.com/Azure/azure-sdk-for-js/blob/ff0ac514bcadd0791c9ed855312c18e526932838/sdk/identity/identity/src/credentials/managedIdentityCredential.ts#L481

I suspect this is yet another case of IMDS does one thing, and AppService does another (or maybe AppService does different things based on whether it gets passed the `secret` / `x-iden

[2020-10-20 23:55] noelbundick commented on #11595
I think there's some additional unusual behavior in the handline of `api-version` going on here. Clearly we're being supplied with `IDENTITY_ENDPOINT` and `IDENTITY_HEADER` as we see in the logs. The handling here seems to use that to explicitly translate that we're using api-version `2019-08-01` (which is in this case incorrect): https://github.com/Azure/azure-sdk-for-js/blob/35b68e4e760a8f91b0ea

[2020-10-21 02:08] XiaoningLiu commented on #11727
Yes, the API reference like https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/blockblobclient?view=azure-node-latest#query_string__BlockBlobQueryOptions_ are generated from source code. Add an sample into source code JSDoc is enough.

[2020-10-21 04:09] #11849 closed

[2020-10-21 05:34] XiaoningLiu commented on #11349
If you are referring to browser console outputs. Don't worry if SDK doesn't throw any errors. Browsers may display network errors by default no matter SDK retries or not.

[2020-10-21 05:40] ljian3377 commented on #10796
@XiaoningLiu  @jiacfan for awareness.

[2020-10-21 05:55] ljian3377 commented on #7234
I think the live test pipeline is properly set up now for storage-file-datalake.
https://dev.azure.com/azure-sdk/internal/_build?definitionId=1808

[2020-10-21 05:55] #7234 closed

[2020-10-21 06:01] ljian3377 commented on #7337
The command has been changed now to use dev-tool which is maintained by
I also added back the old exectue-sample.js script for validation against the published packages in my forked repo which works for me now anyway.
https://github.com/ljian3377/azure-sdk-for-js/blob/sample_sanity_check/sdk/storage/execute-samples.js

[2020-10-21 06:01] #7337 closed

[2020-10-21 06:08] ljian3377 commented on #7542
Duplicate of #7534

[2020-10-21 06:08] #7542 closed

[2020-10-21 06:09] ljian3377 commented on #7543
#7541 may be related too.

[2020-10-21 07:49] ljian3377 commented on #11138
Closing this as there is not much we can do in storage SDK. Let us know if there is anything needed from us.

[2020-10-21 07:49] #11138 closed

[2020-10-21 08:05] ljian3377 commented on #7162
Now that [Blob Tags](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-manage-find-blobs?tabs=azure-portal) is available since 12.2.0, could you utilize it to support this scenario?

[2020-10-21 08:11] ljian3377 commented on #7202
We won't support it as a helper function as it won't be guaranteed to be a atomic operation if we are calling copy blob underlying.
Should probably add more documentation on how to copy and rename a blob.

[2020-10-21 08:13] jiacfan commented on #11484
Yes, we'll optimize doc.

[2020-10-21 08:24] dw511214992 commented on #11913
check the sdk and find parameter `api-version` is missed in operation `listNext`.
[code]
An issue is created in codegen: https://github.com/Azure/autorest.typescript/issues/770

[2020-10-21 08:41] ljian3377 commented on #9449
Who are expected to do this for storage?

[2020-10-21 08:46] ljian3377 commented on #5806
What's the status of storage packages now regarding the guideline?
Can we add some pipeline rule to enforce it?

[2020-10-21 08:57] ljian3377 commented on #5937
We don't have a 2019-02-02 version in the repo so far and the version is transformed to the latest service version every time.
https://github.com/Azure/azure-rest-api-specs/tree/storage-dataplane-preview/specification/storage/data-plane/Microsoft.QueueStorage

[2020-10-21 08:57] #5937 closed

[2020-10-21 09:07] ljian3377 commented on #6119
Could be done together with #9500.

[2020-10-21 09:10] ljian3377 commented on #6394
I think this is because the wrapped response is only returned in Node.js which added the retry functions?
So returning the base type is the right thing to do here.

[2020-10-21 09:15] ljian3377 commented on #6450
Maybe a blog would be of better help. @bterlson @xirzec

[2020-10-21 09:17] ljian3377 commented on #6451
Then there would be too much to document and hard to maintain as the service evolves.
Probably simply need to link to the API reference doc.

[2020-10-21 09:17] #6451 closed

[2020-10-21 09:18] ljian3377 commented on #6477
@HarshaNalluru @jeremymeng
Does the issue still persist? Could you help take a look?

[2020-10-21 09:25] ljian3377 commented on #6532
@devdnn
Here is the implementation in BlobClient for exists(). It's basically the same for file.
https://github.com/Azure/azure-sdk-for-js/blob/6078ce8c176d594679bc0f51410a491ba8e8de87/sdk/storage/storage-blob/src/Clients.ts#L1444

[2020-10-21 09:32] ljian3377 commented on #6830
Looks like we can't use the same name as we used one configuration for all packages.

[2020-10-21 09:34] ljian3377 commented on #6830
Can we simply direct the user to the sample.env where we document it for each pacakge?

[2020-10-21 09:39] ljian3377 commented on #7009
Roles are properly configured now. https://github.com/Azure/azure-sdk-for-js/blob/6078ce8c176d594679bc0f51410a491ba8e8de87/sdk/storage/test-resources.json#L69

[2020-10-21 09:39] #7009 closed

[2020-10-21 09:44] ljian3377 commented on #7011
We can get token via the credential's `getToken()` method. But that's too much to document?

[code]

[2020-10-21 09:47] ljian3377 commented on #4275
What's the status now?

[2020-10-21 09:51] #5081 closed

[2020-10-21 09:52] ljian3377 commented on #5098
What's the status and who should follow up?

[2020-10-21 10:03] jiacfan commented on #11484
Close the issue as it's a node.js usage related pattern and welcome feedback if anyone hit similar isse.

[2020-10-21 10:03] #11484 closed

[2020-10-21 12:25] patelhirn commented on #11349
So are you saying just ignore multiple errors and go ahead(consider as messages)? if that's the case then it's difficult to believe.
For testing purposes, I used another library angular-azure-blob-service(https://www.npmjs.com/package/angular-azure-blob-service). I am able to upload the file to blob storage without any error in the console.

As per my understanding, there should not be any errors

[2020-10-21 12:49] cveld commented on #11886
Thanks! You nailed it!

[2020-10-21 12:49] #11886 closed

[2020-10-21 13:22] gwintca commented on #11914
Thanks for your replies. I ended up running complete() in parallel which improved the performance:

`await Promise.all(
            messages.map(async m => {
              await m.complete();
            }),
          );`

[2020-10-21 15:49] JasonBeneteau commented on #11595
@noelbundick Your on to something here...

There is a bug in these lines:

https://github.com/Azure/azure-sdk-for-js/blob/35b68e4e760a8f91b0eaa9e707ddb97216a1a625/sdk/identity/identity/src/credentials/managedIdentityCredential.ts#L134

https://github.com/Azure/azure-sdk-for-js/blob/35b68e4e760a8f91b0eaa9e707ddb97216a1a625/sdk/identity/identity/src/credentials/managedIdentityCredential.ts#L148

I b

[2020-10-21 16:09] deyaaeldeen opened #11970 "Address feedback from UX studies for 5.1.0-beta.x"
- [ ] Add visual to the documentation to explain the mined opinions structure and naming better. i.e. Small graphic with opinion, sentence etc. in sample/
- [ ] Consider improving the docstrings for all the Options bags to include what type of options are there.
- [ ] Adding helper method to get opinions? Is helper method for optional property feasible?

Based on https://github.com/Azure/azure-sdk

[2020-10-21 17:02] #11869 closed

[2020-10-21 17:03] ramya-rao-a commented on #3027
Additionally, the linter should also catch the cases where we have jsdoc tags that makes sense in a JavaScript code, but are not needed in TypeScript code. Examples:
- `@member`
- `@memberof`
- `@interface`
- `@class`

The format of the the jsdoc lines for parameters should also be standardized:
- No need to have square brackets around optional parameters. This was required in JS code, but tooling

[2020-10-21 17:03] ramya-rao-a commented on #5806
I'll close this in favor of https://github.com/Azure/azure-sdk-for-js/issues/3027.
In the coming months we will look into linter checks that we can add which will help here

[2020-10-21 17:03] #5806 closed

[2020-10-21 17:29] richardpark-msft commented on #11858
I'll update. The current thought is there is a basic span that is closed when the message is received and a second sibling span can then be created to represent the <message received> -> <settlement> option.

This also guarantees that at least one span gets reported, even if the user fails to process the message before the lock expires.

[2020-10-21 17:35] jeremymeng commented on #6927
@ljian3377
azrue.core already deserialize the error code and message into `error.details`.  I think we could do some checking like when `error.code` is `undefined`, and `error.details.Code/message` is available, override `error.code` and `error.message` with them. We already catch errors to set tracing span status then re-throw.  We could add the check and override before re-throwing.

![image](ht

[2020-10-21 17:45] jeremymeng commented on #6394
Yes, we can close this.

[2020-10-21 17:45] #6394 closed

[2020-10-21 17:59] ramya-rao-a commented on #11914
Yes, that is what we were about to recommend once we saw your code snippets.
Also, I believe you can remove the async/awaits in there

`await Promise.all(messages.map(m => m.complete()));`

While we have you here, can you share which API on the receiver are you using to receive messages? The one that gives you a promise that resolves to a batch of messages, or the async iterator or the one where y

[2020-10-21 17:59] jeremymeng commented on #10094
I feel it's fine to log twice if it's too costly to fix.

[2020-10-21 18:01] jeremymeng commented on #10821
Looks like we currently don't support parsing ipv6

[2020-10-21 18:42] praveenkuttappan commented on #11479
This is already taken care in PR 11537

[2020-10-21 18:42] #11479 closed

[2020-10-21 18:55] ramya-rao-a commented on #11893
Done with #11949

[2020-10-21 18:55] #11893 closed

[2020-10-21 18:57] ramya-rao-a commented on #11894
PRs are welcome to add the connection string parser.

Code Pointers:
- [Set up environment](https://github.com/Azure/azure-sdk-for-js/blob/master/CONTRIBUTING.md#setting-up-your-environment) and run `rush build`
- Open the `sdk/eventhub/event-hubs` folder in your editor/IDE, and follow the approach used in #11949 where we did the same for Service Bus

[2020-10-21 19:02] HarshaNalluru commented on #6477
I think it is still present, I'll take a look and add notes here.

@ljian3377 Just letting you know.
EngSys team is leading the efforts to attempt to build a unified recorder solution for all our four repos (JS, .NET, Java, Python). So, we've decided to not put too many efforts into the current recorder package since it would be redundant if we indeed go for the unified solution.

For now, we'll s

[2020-10-21 19:11] HarshaNalluru commented on #10094
karma-remap-istanbul is not being maintained well, it hasn't had an update in the past couple of years, it cannot be reliable.
We need to build an alternate karma plugin this time just like we did with the mocha-multi reporter.

[2020-10-21 19:33] HarshaNalluru commented on #5098
Not sure, I believe some of them are done!

[2020-10-21 20:13] samvaity commented on #11858
That is my understanding. We do have precedence set by Eventhubs for all the languages and I think we could follow that.
For Java that would mean span names being, ServiceBus.send, ServiceBus.Receive, ServiceBus.Message, ServiceBus.Process etc

[2020-10-21 20:55] sadasant opened #11975 "[EngSys] Version bump automation is trying to update the wrong file."
KeyVault had a version in `src/core/constants.ts`. The `core` folder was supposed to be for generated files only, we didn't have it as such by mistake. This constants file was moved out of that folder into `src/constants.ts`.

[2020-10-21 20:56] #11614 closed

[2020-10-22 01:25] snuffykl opened #11980 "[Cosmos] Pagination with continuation token"
**Is your feature request related to a problem? Please describe.**
I am trying to find if pagination works with @azure/cosmos sdk but looks like it is not supported yet: [Here](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-pagination#continuation-tokens). For my use case I need to query same partition instead of cross partition, however I got an error return from the SDK saying **"Con

[2020-10-22 02:07] gwintca commented on #11914
I'm using receiveMessages(number, undefined | number) - the one that resolves to a batch of messages. The reason for my choice is I eventually would need save message data to a database and I would prefer to do it in one query -

[code]

so using something like receiveMessages(100, 60) would give me "batching receiver". I didn't find any other way to receive message batch.

I also have a question

[2020-10-22 02:08] abc516 commented on #10782
Hi @praveenkuttappan @ramya-rao-a can I take this one on too?

[2020-10-22 02:09] abc516 commented on #10779
Hi @praveenkuttappan @ramya-rao-a @deyaaeldeen can I tackle this one too?

[2020-10-22 02:11] ramya-rao-a commented on #11926
@richardpark-msft My one concern with this move of settlement methods to the receiver is that you now need to access the receiver from inside the message callback to settle messages or renew their locks. Before this, the callback was passed everything that you would need from the client. So, I could define my callback in another part of my code and simply pass that in. Now, I need to ensure that t

[2020-10-22 04:08] ljian3377 commented on #5111
I have fixed the case to not check it differently in IE.
https://github.com/Azure/azure-sdk-for-js/blob/cb9c277821000e4ccb64a0d0b73bc2533bf957b6/sdk/storage/storage-file-share/test/fileclient.spec.ts#L186

[2020-10-22 04:08] #5111 closed

[2020-10-22 04:15] ljian3377 commented on #5204
We will consider using these for new interfaces if applicable. But will only modify existing interfaces if they are causing issue.
Could we close this or do you want to use this to track interfaces that you think we should change?

[2020-10-22 04:17] ljian3377 commented on #5243
Is it realistic to support type checking in JavaScript without too much effort? Or should we suggest them to use Typescript instead?
@bterlson @xirzec

[2020-10-22 04:24] ljian3377 commented on #5266
Adding same set of cases for both emulator endpoint and normal endpoints can be very inefficient.
Could we do it in a test infrastructure level? I mean find a way to support running the same test cases with different endpoints.

[2020-10-22 05:03] ramya-rao-a commented on #10780
@sarangan12, @xirzec, The pending linting errors and warning are:

![image](https://user-images.githubusercontent.com/16890566/96826777-edeced80-13e8-11eb-9194-ab00ea975fc6.png)

In #11868, we discussed about disabling
- the rule ts-naming-options for `SearchClientOptions`
- no-unused-expression for `interval?.unref()`

How do you want to tackle the two warnings about classes being passed to metho

[2020-10-22 05:04] ramya-rao-a commented on #10779
Yes, please go ahead

[2020-10-22 05:04] ramya-rao-a commented on #10782
Yes, please go ahead.

[2020-10-22 05:24] ljian3377 commented on #5267
Does the DevOps pipeline provide a emulator now?

[2020-10-22 05:31] ljian3377 commented on #5329
We have `getBlobAndContainerNamesFromUrl` so I think we are good?
https://github.com/Azure/azure-sdk-for-js/blob/3b1a3fc99a8752a5ca000531470de3847b04cb4f/sdk/storage/storage-blob/src/Clients.ts#L2280

[2020-10-22 05:34] ljian3377 commented on #5483
Could we close this issue now as it seems to be about a past release?

[2020-10-22 05:48] ljian3377 commented on #5785
@bterlson @xirzec
Are we agree with the way Jeremy suggested, which is the current way?

[2020-10-22 05:55] ljian3377 commented on #4163
@kurtzeborn #5111 is already fix.
Is there any update on support for automated testing with different browsers?
For now we are doing manual regression for IE every release.

[2020-10-22 06:00] ljian3377 commented on #7012
It's a great goal to skip no test case.
But It is not realistic to block if it's not 100% coverage for now as when we are working on features in preview, sometimes the deployment status blocks us from running the cases.

Close this in favor of https://github.com/Azure/azure-sdk-for-js/issues/10699.

[2020-10-22 06:00] #7012 closed

[2020-10-22 06:03] ljian3377 commented on #9446
Closing this in favor of #10796.

[2020-10-22 06:20] ljian3377 commented on #11505
Does the fix solve your problem? @gmantri

[2020-10-22 06:24] gmantri commented on #11505
@ljian3377 Thanks for following up. Unfortunately I haven't had the opportunity to try it out yet. I noticed that you made a beta release for this. Can you tell me an ETA for a general release? Considering we're using all features of Azure Storage in our application, I would rather not take a dependency on a beta version. I will wait for a general release of the next version of SDK. Thanks.

[2020-10-22 06:25] ljian3377 commented on #5106
Related to #7765. With generate SAS on blob level, this may be resolved.

[2020-10-22 06:26] ljian3377 commented on #11505
The next GA release would be in the early November.

[2020-10-22 06:27] gmantri commented on #11505
Thanks @ljian3377. I will wait till then. Thank you for your prompt response. It is very much appreciated.

[2020-10-22 09:42] HarshaNalluru commented on #11914
That specific sample was not meant to use directly as it is. The intention behind the sample is to show one way of how the user can manage the receiver if a "retryable" error is seen.

You're right about creating the receiver once and keeping it open forever to receive the messages, that is what the `registerMessageHandler` is meant to be.

In the sample, with the looping, when a retryable error i

[2020-10-22 11:17] C3PablO opened #11992 "TypeError: Cannot read property 'size' of undefined"
- Package Name _@azure/storage-blob_:
- Package Version _12.2.1_:
- Operating system _MAC OS Mojave 10.14.6_:
- nodejs _12.3.1_:

**Describe the bug**
I'm getting this error when using the uploadFile method: TypeError: Cannot read property 'size' of undefined

**To Reproduce**
[code]

[2020-10-22 17:10] joheredi commented on #11913
@dw511214992 I would expect the service to return a `nextLink` containing all the info it needs to be called, including the api-version i.e.  `/page/2?api-version=2020-10-22`.

Pulling all the query params from `list()` into `listNext()` can cause conflicts or unintended overrides to other queryParams returned by services in `nextLink`

[2020-10-22 17:40] HarshUpadhyay-MSFT commented on #11913
if the behavior is expected please add a working sample that uses nextLink. The samples on the npm page seem inadequate :(

[2020-10-22 17:54] xirzec commented on #10780
I think we should replace the class reference with an interface that is compatible with whatever searchIndexingBufferedSender actually needs to call.

[2020-10-22 18:13] NivedhaChellam commented on #11196
1. [Get SQL VM List by Resource Group](https://docs.microsoft.com/en-us/rest/api/sqlvm/sqlvirtualmachines/listbyresourcegroup) call returns the **list of SQL VM** in the resource group.
2. To get the properties of individual SQL VM, Please use [Get SQL Vm](https://docs.microsoft.com/en-us/rest/api/sqlvm/sqlvirtualmachines/get) call

[2020-10-22 18:42] imbstack opened #11998 "Changelog for arm-compute package"
**Is your feature request related to a problem? Please describe.**
Should there be a changelog for arm-compute? I believe I see some other packages having changelogs. As it stands I want to update from 12.0.0 to 15.0.0 but am not sure what exactly has changed. It seems lot of the code is generated so it is hard to find needles in the haystack.

**Describe the solution you'd like**
A changelog woul

[2020-10-22 18:59] ramya-rao-a commented on #11914
Thanks @HarshaNalluru!

@gwintca Thanks for engaging with us. We are currently wrapping up our work on the next version of the Service Bus package. We would love to hear your feedback on the API design changes we have done there. If you are interested please try out version 7.0.0-preview.7 of the same `@azure/service-bus` package and let us know what you think via another GitHub issue. Here is a [

[2020-10-22 18:59] #11914 closed

[2020-10-22 19:27] diberry opened #11999 "Q: Core logging and Application Insights"
Core logging is meant to be used by Azure Service teams - or that is how I understand it. But it also appears to be a logging library akin to Winston in some ways.

Application Insights is more about collecting logging and metrics into an Azure data store (conceptual data store). I've used Application Insights and like it.

A few questions:
Would a customer ever use both, such as core logging feed

[2020-10-22 19:35] ramya-rao-a commented on #8272
Closing in favor of #11892

[2020-10-22 19:35] #8272 closed

[2020-10-22 19:40] ramya-rao-a commented on #11953
This is done with #11994
Thanks @mohsin-mehmood!

[2020-10-22 19:40] #11953 closed

[2020-10-22 20:13] HarshaNalluru opened #12000 "[Service Bus] Test failure in the canary region"
![image](https://user-images.githubusercontent.com/10452642/96924972-50390300-1468-11eb-9b54-a690dc03e0ea.png)

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=586878&view=logs&jobId=d25e7329-9524-595e-1030-bc1e9a340f40&j=d25e7329-9524-595e-1030-bc1e9a340f40&t=849dcfaf-cd9f-5429-92c9-ac245669e22a

Happened
- Only in the canary region(Probably, consistent too)
- Instance 1 - https:/

[2020-10-22 20:17] ramya-rao-a commented on #11926
With #11962, I have retained the overloads for `createReceiver` and `createSessionReceiver` methods even though there is no difference between the overloads anymore. This is to facilitate the next step of ensuring that users in ReceiveAndDelete mode do not see the settlement methods or the renewMessageLock method. There are two approaches to this which are experimented with in
- https://github.com

[2020-10-22 20:28] bterlson commented on #11926
I am not convinced this complexity is paying for itself anymore. Can we reconsider using the fancy TS-magic and just throwing an informative error and documenting when these methods apply?

[2020-10-22 20:59] jmwombeki commented on #10473
@ramya-rao-a Did anybody get any update in this issue? Thanks

[2020-10-22 21:14] bterlson commented on #5785
I am fine with AbortSignal in a base interface, I don't see it as being hidden. Docs should flatten those things down so users just see the list of options the method takes (in other words, it's not being hidden). I don't have a strong preference but less repetition seems better to me.

[2020-10-22 21:15] ramya-rao-a commented on #11956
This is done with #11995
Thanks @pathway27!

[2020-10-22 21:15] #11956 closed

[2020-10-22 21:25] bterlson commented on #5243
This is what TypeScript is for, yeah. We've gotten feedback in the past about the opposite problem - aggressive type checking of every argument to every function causing lots of overhead.

That said, I think I would be in favor of type checking if there is something particular to this situation that makes it problematic, like it's especially easy to confuse or data shows that JS users make this mi

[2020-10-22 21:27] richardpark-msft commented on #11926
I think we're good to stop here and just leave things with the same receiver for both peekLock and receiveAndDelete.

The original thinking here was well intentioned but I think that most users are not going to get too confused about what's going on - we can clarify this in the readme and samples simply enough and we'd _always_ have to deal with the runtime aspects regardless, since we want to pro

[2020-10-22 21:28] richardpark-msft commented on #11926
This problem is shared with all the other SDKs as well - I think we're okay to just leave it as is. Then there's no difference in how you deal with message settlement whether you're using subscribe, receiveMessages or the iterator.

[2020-10-22 21:40] ramya-rao-a commented on #11926
The .Net and Java counterparts to our subscribe() call is the processor which has only start/stop/close methods. The call back gets passed ways to settle the message

This change can be additional in the future if needed as well.

[2020-10-22 21:42] #9462 closed

[2020-10-22 21:43] HarshaNalluru commented on #11926
Also, settling messages in the callback is not a must. Users can very well store the messages from the callbacks and settle them wherever they have the access to the receiver.
Keeping this in mind, providing multiple ways of settling would rather be confusing for the users?

[2020-10-22 21:57] ramya-rao-a opened #12004 "[Service Bus] Amqp Message Properties and Header defined both in Service Bus and core-amqp"
We now export `AmqpMessageProperties` and `AmqpMessageHeader` from the Service Bus package
Similar things are exported from `@azure/core-amqp` as well.

We shouldnt need to duplicate these.
Consider re-using the ones from `@azure/core-amqp`

[2020-10-22 23:07] deyaaeldeen opened #12009 "deserialize null faithfully"
Currently `core-http` deserialize empty body response with a default value and not a null (here is an [example](https://github.com/Azure/autorest.typescript/blob/f7b474fb7608dbf820dfb9642f282b5768dde2b8/test/integration/bodyDictionary.spec.ts#L40)). The reason we do not deserialize to `null` is we always attach a `_response` information to our response values and this is not possible with a `null`

[2020-10-22 23:11] HarshaNalluru commented on #12009
So, the "null" response would not have a corresponding `_response`?

[2020-10-22 23:12] jeremymeng commented on #11850
@dcegress I see that you are are specifying a pipeline option `{ keepAliveOptions: { enable: false } }`.  I would expect that with keepAlive disabled, after the `stream.destroy()`, the TCP connection would be in `CLOSE_WAIT` state, and after a certain time, those `CLOSE_WAIT` connection would be gone.  That's what I saw at least on my Linux machine. Are you seeing the connections remain as `ESTABL

[2020-10-23 00:08] HarshaNalluru opened #12012 "[Service Bus] Throw better error when user tries to complete a peekedMessage"
### Current Error
![image](https://user-images.githubusercontent.com/10452642/96942141-22b08180-1489-11eb-9e08-a6e95ad7f924.png)

For example:
Error thrown when tried to complete a message received in "receiveAndDelete" mode is clearer.
`Error: Failed to complete the message as the operation is only supported in 'PeekLock' receive mode.`

[2020-10-23 00:26] HarshaNalluru commented on #11860
They can. Since the service doesn't support eTags properly(yet), we don't put the restriction.
Once the service supports, we'll update the logic for eTags too which would ensure that they need to query it first.

[2020-10-23 01:46] dw511214992 commented on #11913
hi @joheredi I have seen https://github.com/Azure/autorest.common/pull/58 is merged. When will it be released? After released, we need to check with service team whether the swagger is ready for release new sdk. And then we need to do release for this js sdk. thanks

[2020-10-23 02:53] ramya-rao-a commented on #11870
This is done with #11993
Thanks @mohsin-mehmood!

[2020-10-23 02:53] #11870 closed

[2020-10-23 02:58] HarshaNalluru commented on #4983
Error seen in the browser

[2020-10-23 03:48] deyaaeldeen commented on #12009
@HarshaNalluru `_response` is added to the response using intersection types and the intersection of `_response` and `null`, is, yes you guessed it [right](https://github.com/microsoft/TypeScript/pull/31838), `never`. We sidestep the issue by not returning a null to begin with. To fix this and faithfully deserialize the response, we need to change our representation of the response to either make

[2020-10-23 04:23] ljian3377 commented on #11992
Why are you passing an url to `blockBlobClient.uploadFile()`
`blockBlobClient.uploadFile()` is for uploading a file at local. You should being passing in a file path.
[code]
Use the `path` module to avoid issue with different separators on different OS. And make sure you have the right access in the blobUrl to create and write it since you seem to be using SAS.

And if you want to upload a BlockBl

[2020-10-23 05:20] C3PablO commented on #11992
sorry, "url" was just wrong naming for the example.  What I'm trying to upload is actually a local file. I'm gonna try using path.

[2020-10-23 05:34] ljian3377 commented on #11992
I believe it asserted in this line?
[code]

Could you try `fs.stat()` with your path to check if your file path is valid?
[code]

[2020-10-23 05:56] snuffykl commented on #11980
I found the issue due to my API stripped off the `+` in the continuation Token due to it is part of the Query Parameters. In addition, partitionKey has to be specified in the FeedOptions object. It is working now.

[2020-10-23 05:56] #11980 closed

[2020-10-23 06:05] dcegress commented on #11850
Yes the connections stay ESTABLISHED.  It makes no difference what KeepAlive is set to.

I don’t think it’s just connection re use because there is unread data in the Recv-Q of the socket. If it was just sat waiting to be used for another request that wouldn’t be the case.

[2020-10-23 06:09] sebansal commented on #10705
Closing issue as its been addressed.

[2020-10-23 06:09] #10705 closed

[2020-10-23 06:37] ljian3377 commented on #5243
I see. Then I will close this issue and create new ones if we find cases where we think the advantages outweigh the disadvantages

[2020-10-23 06:44] ljian3377 commented on #5785
It might be too much effort to change existing interfaces now. Could we we simply add the `abortSignal` to `CommonOptions` and leave the `abortSignal` in the old interface there as it is? 😺

[code]
Will this pattern introduce other issues apart from not good looking?

[2020-10-23 06:52] C3PablO commented on #11992
It's actually in `(_b.send()).size` it errors out.
The path seems to be valid. In the callback `stats.isFile()` returns true.
And I still getting the error even though I'm doing: `blockBlobClient.uploadFile(path.join(filepath))`

thanks

[2020-10-23 06:55] ljian3377 commented on #11992
I see. Could you turn on the logger and share me the log?
Or could you share me your configuration and code so I can reproduce it?
[code]

[2020-10-23 07:11] C3PablO commented on #11992
I'm gonna try setting `setLogLevel` to "info". In the meantime here is a screenshot from the devtools if that helps.
<img width="763" alt="Screen Shot 2020-10-23 at 9 08 40 AM" src="https://user-images.githubusercontent.com/3966942/96967241-7a91cb80-150f-11eb-8f56-8aca6288fe65.png">

[2020-10-23 07:44] C3PablO commented on #11992
bringing `setLogLevel("info");` doesn't seem to give any more logs.

Here is the code that tries to upload the file:

[code]

[2020-10-23 07:58] ljian3377 commented on #11992
Actually it is failing in that line in `const size = (await fsStat(filePath)).size;`
I guess you are triggering `uploadFile` in the browser where the `fsStat()` is just a stub returning `undefined`.
Please note that the `uploadFile` only works in Node.js.

[2020-10-23 08:09] C3PablO commented on #11992
I'm not using `uploadFile` in the browser. It's an Adobe CEP application using Node 12.3.1

[2020-10-23 08:13] HarshaNalluru commented on #5483
Yes, I think we have good coverage now!

[2020-10-23 08:13] #5483 closed

[2020-10-23 08:16] ljian3377 commented on #11992
Then could you run the following code with your filePath and share me the result?
[code]

[2020-10-23 08:49] C3PablO commented on #11992
Here is the output:
<img width="567" alt="Screen Shot 2020-10-23 at 10 47 53 AM" src="https://user-images.githubusercontent.com/3966942/96977443-5fc65380-151d-11eb-879b-126ed1e920f7.png">

[2020-10-23 09:09] C3PablO commented on #11992
Also as I understand from the switch in BlockBlobClient the file path is taken as a readable stream as it would try to call `this.uploadResetableStream` after the error

[2020-10-23 09:36] C3PablO commented on #11992
ok, I think we got it sorted out. It seems like as storage-blob is using node dependencies we need to import the azure packages in a specific way required by Adobe CEP, so nothing wrong at this side. Thank for all the help and sorry for the trouble

[2020-10-23 09:57] ljian3377 commented on #11992
Good to know. Let us know if anything needed from us.

[2020-10-23 09:57] #11992 closed

[2020-10-23 10:25] dcegress commented on #11850
It's worth noting we have shifted the stream to use the got module instead of BlobClient and the problem doesn't happen, however we obviously have to handle a lot more of the API than we need to if we could use the modules instead.

[2020-10-23 15:53] jeremymeng commented on #11992
@C3PablO could you please share a bit more details? I am very curious about how you resolved the issue.

[2020-10-23 16:56] jeremymeng commented on #11850
@dcegress you are right. The file I was downloading in my test is small so downloading finished and the connections move to CLOSE_WAIT state.

Looking at our core-http code, we pass a abortSignal to node-fetch, however, [after we got response back, we removed the listener](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-http/src/fetchHttpClient.ts#L200).  It seems an issue to m

[2020-10-23 18:01] jeremymeng opened #12029 "[core-http] abortSignal not able to abort download stream"
using code similar to following to download a big file then abort the operation

[code]

Expect:
The underlying download stream should also get destroyed.

Actual:
The download stream is still receiving data. This can be verified by running `netstat --tcp` and see the connection to Azure Blob is still in `ESTABLISHED` state, and `Recv-Q` indicates incoming data.

Looking at our core-http code, we

[2020-10-23 18:47] bterlson opened #12030 "[Abort Controller] Signals leak when using parent signals"
- **Package Name**:  abort-controller
- **Package Version**:  latest
- **Operating system**: all

**Describe the bug**
Abort signals avoid leaking memory by using weakmaps to associate abort handlers with their signals. This way, if a signal is collected (e.g. because it has gone out of scope and cannot be referenced at all by the user), then we will also collect all of its handlers. Very handy.

[2020-10-23 18:51] bterlson commented on #11926
I am in favor of doing the simpler thing now (not passing in the settlement methods), and adding them later based on feedback!

[2020-10-23 19:16] xirzec commented on #12009
consider for #8535

[2020-10-23 19:26] xirzec commented on #11999
I'm assuming this is a question about `@azure/logger`? The main motivation for the package is we wanted a consistent logging story for our packages that gave the developer control and mimicked popular NodeJS logging behavior (i.e. the `debug` package.)

I would expect most Node applications to use `debug` or similar directly. The only reason we couldn't depend upon `debug` ourselves is that it doe

[2020-10-23 19:29] xirzec commented on #5243
+1 for Brian's point about some runtime type-checks can be helpful if there is frequent/easy developer confusion, especially if the checks happen irregularly (e.g. every time a client is created vs every time an operation is performed.)

[2020-10-23 19:30] xirzec commented on #5785
I don't believe duplicating it on the parent interface will cause any problems for TS.

[2020-10-23 19:42] bterlson commented on #12030
After talking this through with @xirzec I came up with a possible solution:

* When a signal is created with a parent signal, initialize an empty `activeSignals` set and an `abortLinks` abort handler that will abort everything in that set. Do not attach it at this time.
* When a handler is attached to a signal's handler set, if that signal has a parent, add this signal to the parent's `activeSigna

[2020-10-23 19:59] diberry commented on #11999
@xirzec When  you use the term 'developer', is that generally an Azure SDK service team building a client library or is that any one inside or outside MSFT? Who is the intended audience?

[2020-10-23 20:02] xirzec commented on #11999
Sorry I should have said `consumer` which is our term for developers who depend on SDK packages.

In general though, we don't expect consumers to depend directly on any of the core packages.

[2020-10-23 20:03] xirzec commented on #6450
A blog is a nice idea! /cc @jongio

[2020-10-23 20:05] HarshaNalluru commented on #12000
The test did not fail on my local machine.
Did not fail with the existing canary namespace.
Did not fail with a new canary namespace.

Now trying to repro on the CI with 1000 iterations.

[2020-10-23 21:11] diberry commented on #11999
Ok, got it.

[2020-10-23 21:11] #11999 closed

[2020-10-23 21:23] HarshaNalluru opened #12032 "[Service Bus] Cross-check types of props in AMQPAnnotatedMessage"
Protocol - http://docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-messaging-v1.0-os.html#type-properties
#### AMQP
- [ ] Types issues
    - [x] Correlation-id and message-id
        - .NET - string
        - JS - number | string| Buffer
        - Spec allows more types
         **.NET updated to accept more types, nothing left to do here**
    - [x] To and replyTo
        - .NET - string
        -

[2020-10-23 22:01] KarishmaGhiya commented on #11833
https://github.com/Azure/azure-sdk-for-js/pull/12035

[2020-10-23 22:26] lmazuel opened #12036 "Document EventGrid and distributed tracing"
We should have a Readme section, or a sample, or maybe both, to describe what we do with distributed tracing.

This should include  a lien to https://github.com/cloudevents/spec/blob/master/extensions/distributed-tracing.md
This should explain our auto-magic behavior to populate the extension if we detect the HTTP headers.

[2020-10-23 23:18] jeremymeng commented on #11850
Logged issue #12029 and submitted a PR #12038 to fix it. with that, users can use `aborter.abort()` to terminate the node-fetch download stream, with code like:

[code]

[2020-10-24 00:53] HarshaNalluru opened #12041 "[Service Bus] Limits on ServiceBusMessageBatch"
### Issue
There is a limit of 4500 messages that can be sent on the link
#### To repro
- put a byte of buffer in the body for each message
- keep adding messages with the `tryAdd` method
- A total of 33K messages will be added
- Upon sending the batch, service throws an error
    ![image](https://user-images.githubusercontent.com/10452642/97064028-2c54ea80-1558-11eb-900e-075fc1d36deb.png)
- If sto

[2020-10-24 01:03] HarshaNalluru commented on #4983
Talked to @sadasant on this.

Thoughts after the discussion:
Ideally, the service should provide an option to the users to set the CORS policy on the namespace similar to what storage does.
![image](https://user-images.githubusercontent.com/10452642/97064311-ca958000-1559-11eb-89b1-8b0fb569e26f.png)
https://docs.microsoft.com/en-us/rest/api/storageservices/Cross-Origin-Resource-Sharing--CORS--Supp

[2020-10-24 03:08] ljian3377 commented on #11850
@jeremymeng @XiaoningLiu @jiacfan @bterlson @xirzec
Is it better to abort when the stream is closed in core-http, rather than user have to manually do this?

[2020-10-24 03:50] dcegress commented on #11850
That would save a lot of work having to remember to code the abort controller for every request.

[2020-10-24 23:14] ramya-rao-a commented on #12041
Do we know if Event Hubs has a similar limitation?

[2020-10-25 03:10] jongio commented on #6450
That would be good as a sample or how to IMO

[2020-10-26 02:52] qiaozha commented on #11998
Thanks for reporting this, we have a plan to automatically add changelog for JS SDK. Right now I will put it into the backlog.

[2020-10-26 06:00] ramya-rao-a commented on #4983
What affect does this have on users writing web applications? Is the problem only when they try to add tests for their code?

[2020-10-26 06:29] #11926 closed

[2020-10-26 06:47] ramya-rao-a commented on #5098
@ljian3377 I would recommend that you do another review of the tasks above and create a new issue for ones that you see are still applicable.

[2020-10-26 07:26] JosueJoshua opened #12049 "Azure Storage File Datalake Readme Issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-file-datalake#download-a-file-and-convert-it-to-a-string-browsers)
![image](https://user-images.githubusercontent.com/24564161/97144343-3caad680-179f-11eb-9af8-7ff370b1a2f5.png)

Reason:
DefaultAzureCredential is not used in browsers.

Suggestion:
Update to:
[code]
@jongio for notification.

[2020-10-26 07:26] JosueJoshua opened #12050 "Azure Metrics advisor Readme Issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/metricsadvisor/ai-metrics-advisor#examples)
![image](https://user-images.githubusercontent.com/24564161/97143588-eee19e80-179d-11eb-91a6-bea2e9628176.png)

Reason:
The two do not match.

Suggestion:
Update to:
`Add a data feed from a sample data source`
@jongio for notification.

[2020-10-26 07:26] JosueJoshua opened #12051 "Azure Service Bus Samples Issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/src/sendMessages.ts)
![image](https://user-images.githubusercontent.com/24564161/97143323-7084fc80-179d-11eb-804b-186b73fb9bee.png)

Reason:
The change is caused by this [PR](https://github.com/Azure/azure-sdk-for-js/pull/11782).
"label" does not exist in type ServiceBusMessage.

S

[2020-10-26 07:26] JosueJoshua opened #12052 "Azure Identity Samples Issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/samples/authorizationCodeSample.ts)
![image](https://user-images.githubusercontent.com/24564161/97142833-64e50600-179c-11eb-8a45-80dc013f089f.png)

Reason:
No import dotenv, cannot use sample.env file.

Suggestion:
Add the follow code:
[code]
@jongio for notification.

[2020-10-26 07:27] JosueJoshua opened #12053 "Azure Tables Samples Issues"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/tables/data-tables/samples/javascript/src/authenticationMethods.js), [Link2](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/tables/data-tables/samples/javascript/sample.env)
![image](https://user-images.githubusercontent.com/24564161/97142279-4fbba780-179b-11eb-8a39-c6784f1862e5.png)
![image](https://user-image

[2020-10-26 07:28] JosueJoshua opened #12054 "Azure Search Readme and Samples Issues"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushSizeBased.ts), [Link2](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushTimerBased.ts), [Link3](https://github.com/Azure/azure-sdk-for-js/bl

[2020-10-26 07:52] HarshaNalluru commented on #4983
Anybody who's trying to use `ServiceBusAdministrationClient` directly through the browsers would run into this issue(blocked request), not just testing.
If the service lets users manage/enable CORS rules or allow all the origins by default(*), this issue will be resolved.
Another option is to launch the browser by providing a flag to disable web security, which is not ideal since it is not as secu

[2020-10-26 08:03] #12049 closed

[2020-10-26 16:31] jeremymeng commented on #11850
We could abort in in the `on("error")` case. But I want to check whether this is the expected/convention for NodeJS streams.

[2020-10-26 16:49] #10779 closed

[2020-10-26 16:51] ramya-rao-a commented on #4983
Ok, lets document this in the readme for now and then work with the service team in the coming months to see how best to fix this

[2020-10-26 17:04] ramya-rao-a commented on #12050
Thanks for reporting @JosueJoshua

@KarishmaGhiya Should the link text be updated here or the example header?

[2020-10-26 17:05] ramya-rao-a commented on #12051
Thanks for reporting @JosueJoshua

Your recommendation is right. `label` needs to be updated to `subject`

[2020-10-26 18:28] ramya-rao-a commented on #11955
This is done with #12026

Thanks @mohsin-mehmood!

[2020-10-26 18:28] #11955 closed

[2020-10-26 18:41] chlowell opened #12058 "UnsupportedApiVersion using managed identity in Azure Functions"
IDENTITY_ENDPOINT and IDENTITY_HEADER are set in Functions apps on Linux Consumption hosting plans. However, the endpoint returns an error for version 2019-08-01, for example: "(UnsupportedApiVersion) The HTTP resource that matches the request URI 'http://localhost:8081/msi/token?api-version=2019-08-01&resource=https://vault.azure.net' does not support the API version '2019-08-01'"

Lacking a way

[2020-10-26 19:00] sadasant commented on #11595
@noelbundick & @JasonBeneteau thank you so much for that detailed response! I'll be able to follow up soon.

[2020-10-26 19:44] bterlson commented on #12030
For posterity, here's a script that demonstrates about 1kb memory growth every few seconds (on my machine anyway):

[code]

[2020-10-26 20:03] bterlson commented on #12030
If we want to take https://github.com/Azure/azure-sdk-for-js/pull/6045, I don't see that this approach is possible. Needs more thought.

[2020-10-26 20:15] HarshaNalluru commented on #5204
Since the library is stable, I don't see many returns for the investment here. Let's close!

[2020-10-26 20:15] #5204 closed

[2020-10-26 20:30] HarshaNalluru commented on #5329
The intention behind this issue is to make a method(or a class with a constructor) that would take a connection string as the input, and return an object with the key-value pairs from connection string.

That would probably consolidate `getBlobAndContainerNamesFromUrl`, `getValueInConnectionString`, `extractConnectionStringParts` and `getAccountNameFromUrl`.(logic in these would still be relevant)

[2020-10-26 20:48] #11205 closed

[2020-10-26 20:48] #9449 closed

[2020-10-26 21:47] praveenkuttappan commented on #11975
@sadasant : Versioning tool looks for constants file based on configuration in package.json.  Can you please update package.json to point to correct constants file in keyvault packages?
for e.g. path should be updated here for keyvault-keys
https://github.com/Azure/azure-sdk-for-js/blob/348cbeac5204e1f9d24f507f484eb6619854d66b/sdk/keyvault/keyvault-keys/package.json#L79

Please refer this link.
ht

[2020-10-26 22:31] HarshaNalluru commented on #12041
Just tested event-hubs, it doesn't seem to have the same limit.
I was able to add the messages until I maxed out w.r.t max_batch_size and could send the batch.

[2020-10-26 23:43] HarshaNalluru opened #12064 "[Service Bus] Improve debug logs for ATOM API"
Logs corresponding to the methods under `ServiceBusAdministrationClient` are shown as below.
Example: The initial log inside the createQueue method.
`azure:service-bus:administration:verbose Performing management operation - createQueue() for "partitioned-queue" with options: [object Object]`

Update the log statement to show better info for the options instead of `[object Object]`.(Maybe use JSON

[2020-10-27 02:13] ljian3377 commented on #5329
Close this since the code logic are stablized and I don't see the urgent need of refactoring.

[2020-10-27 02:13] #5329 closed

[2020-10-27 02:31] dw511214992 commented on #11913
a pr is created to fix the issue: https://github.com/Azure/azure-sdk-for-js/pull/12075

[2020-10-27 04:25] HarshaNalluru commented on #12000
More observations from 1000 iterations in the CI
- With max_wait_time=5000ms
  - Did not fail in canary, failed 1/1000 iterations in Linux_Node_10 and Windows_Browser runs - [Pipeline](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=591702&view=logs&j=d25e7329-9524-595e-1030-bc1e9a340f40)
- With max_wait_time=60000ms
  - Did not fail at all - all the matrix entries are green - [Pip

[2020-10-27 05:25] dw511214992 commented on #11913
released with fix: https://www.npmjs.com/package/@azure/arm-synapse/v/2.1.0
Please use latest sdk. thanks

[2020-10-27 05:25] #11913 closed

[2020-10-27 06:07] ljian3377 opened #12079 "[storage-blob] add missing features of delegation SAS v2 in blob"
The other SAS features (saoid, scid, and the Move, Execute, Ownership, and Permission permissions) are valid in a SAS even without HNS, but the Ownership and Permission permissions are only used by operations exposed by HNS enabled accounts.

[2020-10-27 06:12] ljian3377 opened #12080 "[storage][datalake] Container/Filesystem Soft Delete in datalake"

[2020-10-27 06:25] ljian3377 opened #12081 "[storage][test] add coverage for special chars in path for datalake"
We have some test cases in blob: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/storage/storage-blob/test/specialnaming.spec.ts

We could have found #11849 if we had tested it. Two ways to do this for datalake:

- Add a test suite similarly in datalake
- Change the test framework to add special chars automatically to every test cases

The latter way probably need less maintenance effort

[2020-10-27 06:51] C3PablO commented on #11992
@jeremymeng, due how our application works we need to import the Azure dependencies like so:
`const storageBlob = window.cepRequire('@azure/storage-blob');`

[2020-10-27 13:11] abc516 commented on #9801
Hi @jeremymeng @ramya-rao-a need someone to take this on?

[2020-10-27 16:44] ramya-rao-a commented on #12064
PRs are welcome to add this feature.
Code Pointers:

- [Set up environment](https://github.com/Azure/azure-sdk-for-js/blob/master/CONTRIBUTING.md#setting-up-your-environment) and run `rush build`
- Open the `sdk/servicebus/service-bus` folder in your editor/IDE, find the `ServiceBusAdministrationClient` class and get started
- To change the log levels, you can tweak the `AZURE_LOG_LEVEL` env varia

[2020-10-27 18:04] ramya-rao-a commented on #9801
Yes, please go ahead

[2020-10-27 18:26] jeremymeng opened #12089 "[MetricsAdvisor] Arch Board feedback"
All languages

- [x] KC would like us to reconsider the client naming to have something about "anomaly"
    Logged #12343
- [x] Look at flattening `DataFeedOptions` PR #12263
- [x] `listAnomalies()` and `listIncidents()` overloads taking either
  - detection config id
  - Alert object
- [x] list_alerts_for_alerting_config -> list_alerts    PR #12231
- [x] ~Ensure good ref doc for `EmailNotificatio

[2020-10-27 18:49] jeremymeng commented on #11850
As a stream could have multiple consumers, is it the right behavior to abort the source stream when one consumer stream is destroyed/aborted?

[2020-10-28 00:11] jeremymeng commented on #5179
@XiaoningLiu @ljian3377  I don't think we have plan to work on this area in near future.  Let me know if it's okay to close.

[2020-10-28 00:27] HarshaNalluru opened #12094 "[Service Bus] Add `build:samples` step in the CI"
Add `build:samples` step in the CI in (only) one of the entries in the matrix to avoid outdated samples such as https://github.com/Azure/azure-sdk-for-js/issues/12051

[2020-10-28 02:00] HarshaNalluru opened #12095 "[Service Bus] `receiveDeferredMessages` - Bad error thrown for empty array as input"
[code]

Instead of service throwing the error, we can throw a more meaningful error from the SDK for the empty array case.

[2020-10-28 05:44] ljian3377 commented on #5179
Okay to close. This is kind of the contrary of our current archtecture to have all APIs in one level.

[2020-10-28 05:44] #5179 closed

[2020-10-28 05:55] #11740 closed

[2020-10-28 05:58] ljian3377 commented on #11850
@jeremymeng
No. I though we were destroying the original stream here rather than the consumer stream.
Want underneath network resources get released when the original downloaded stream get destroyed either by user manually doing it or the GC process.

[2020-10-28 06:03] ljian3377 commented on #6486
I am not quite clear about the context here. Could you be more elaborate?
And probably One SDK Team should work on this if needed?

[2020-10-28 06:10] ramya-rao-a commented on #10841
@HarshaNalluru Is there anything left to do here or does #12015 cover what we wanted to do?

[2020-10-28 06:15] ljian3377 commented on #6715
We may need stop somewhere before we duplicate every interface of the Blob on the Container level.
For now I think we only offer the create/get and delete to Container level. `uploadBlockBlob` is actually a creation as well.
We have a bunch of overloads for blob download. Won't do this until we get customer ask.

[2020-10-28 06:21] ljian3377 commented on #6715
We may need to stop somewhere before we duplicate every interface of Blob on the Container level. For now I think we only add create/get and delete Blob to Container. `uploadBlockBlob` is a create operation as well.

We have a bunch of overloads for blob download. Won't support it until we got customer ask.

[2020-10-28 06:21] #6715 closed

[2020-10-28 06:28] #11332 closed

[2020-10-28 07:26] ljian3377 commented on #7097
@wwlorey
Are you saying that you created the file and use `FileClient.uploadFile()` to update the content?
You should use `FileClient.uploadRange()` to do updates, which don't change the properties or metadata.
Or you call the highlevel uploadFile/uploadStream/uploadData without needing to create the file first.

The `FileClient.uploadFIle`, `uploadStream` and `uploadData` is designed for parallel

[2020-10-28 07:47] ljian3377 commented on #7661
If we pause the upload stream body for a while within one REST API call, it will soon time out. I guess this won't be satisfying.
Another way is uploading in divided parts via several `stageBlock` and `commitBlockList` while keeping track of where you are. This is better to be done in your own code since our SDK are designed to be stateless.

Does azcopy solve your issue? We may not address this i

[2020-10-28 07:53] HarshaNalluru commented on #10841
#12015 closes this issue

[2020-10-28 07:53] #10841 closed

[2020-10-28 08:07] ljian3377 commented on #4021
@jeremymeng
Could this be related to that recent issue? https://github.com/Azure/azure-sdk-for-js/issues/12029

[2020-10-28 09:29] ljian3377 commented on #6927
@jeremymeng
Why don't azure-core do the overwrite for us if it's the right way to do? I don't see anything that's specially for the storage. Other clients depending on azure core will have the same issue.

[2020-10-28 11:32] faissalMT opened #12106 "[cosmodb] checkURL fails with _URL is not a constructor"
- **@azure/cosmodb**:
- **3.9.2**:
- **Windows**:
- [x] **nodejs**
    - **6.11.2**:

**Describe the bug**
Nodejs 6.11.2 has neither `URL` nor `require("url").URL` so I get the error `_URL is not a constructor` when `checkURL()` is called:
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/src/utils/url.ts#L3

**To Reproduce**
Steps to reproduce the behavior:
1. Run `new Cos

[2020-10-28 14:24] jeremymeng commented on #6927
I remember there's some issue in storage swagger and we were just following what was specified in swagger.

@sarangan12 do you remember more details on why storage errors do work as we want them to?

I can re-visit my previous PR to see whether something else can be applied.

[2020-10-28 14:37] jeremymeng commented on #4021
Maybe. I don't remember whether v10 dependency is still using axios or not. Either way there might be similar code.

[2020-10-28 17:27] sean-keane25 opened #12107 "Max Retries for ResourceManagementClient"
- **Package Name**: @azure/arm-resources
- **Package Version**: 3.0.0
- **Operating system**: Windows
- [ X] **nodejs**
    - **version**: v13.8.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [X ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2020-10-28 17:47] richardpark-msft opened #12109 "[service-bus] Cleanup for track 2 - remove the _error handlers in StreamingReceiver (and potentially others)"
The API for rhea documents that the various _error callbacks will be followed by a _close callback.

Today we're covering these events with two callbacks:

(receiver|session)_error <--- we can get rid of these
(receiver|session)_close

The error is already available in _close() so we don't need to have two callbacks anymore.

[2020-10-28 19:48] ramya-rao-a commented on #12094
Closing in favor of #8669

[2020-10-28 19:48] #12094 closed

[2020-10-28 21:02] BertholetDamien commented on #4021
@jeremymeng yes, v10 was using axios.
But v12 wasn't and I had the same problem with v12.

@ljian3377 You're seem right, theses related issues look to be the same problem.

For now on, I can't update my sdk version because of that issue. So I'm still in the v10 version.

[2020-10-28 21:51] g2vinay opened #12113 "Address Client Certificate Credential Consistency Review feedback"
Following changes need to be done, based on the review discussion:

- [x] Update Tenant ID Validation Message
- [x] Rename includeX5c param to send certificate chain.
- [x]  Investigate credential behavior when scope is passed as undefined (How does the credential handle it , what error does user see?). if its appropriately handled then no action is needed.
- [x] Investigate Sucess and Failure log

[2020-10-28 21:51] g2vinay opened #12114 "[Identity] ClientCertificateCredential PFX and password support"
Following changes need to be done, based on the review discussion:

- [x] Add password support for PEM certs
- [ ] Add PFX cert support

[2020-10-28 23:09] ramya-rao-a commented on #11860
Done with #12013

[2020-10-28 23:09] #11860 closed

[2020-10-29 00:18] wwlorey commented on #7097
@ljian3377 We create the file then use `uploadData` to update it.

If nothing else it would be cool to have info about how `uploadRange` handles properties & metadata in the function comments. I didn't see that info when I was figuring out which upload function to use.

[2020-10-29 00:33] HarshaNalluru opened #12116 "[Core AMQP] Version 2 and its breaking changes"
- [x] No need to re-export rhea types `MessageHeader` and `MessageProps`(ongoing https://github.com/Azure/azure-sdk-for-js/pull/12091)
- [x] Move AmqpMessageHeader and AmqpMessageProeprties from service-bus (ongoing #12091)
- [x] New AmqpAnnotatedMessage (ongoing https://github.com/Azure/azure-sdk-for-js/pull/12091)
- [x] Re-export rhea's message as "RheaMessage" and not "AmqpMessage" (ongoing #12

[2020-10-29 00:41] ramya-rao-a commented on #12116
Consider removing the below after a review
- IotSharedKeyCredential
- IotHubConnectionConfig
- delay
- Timeout
- executePromisesSequentially
- EventHubConnectionStringModel, IotHubConnectionStringModel, StorageConnectionStringModel, ServiceBusConnectionStringModel
- Func
- isIotHubConnectionString
- randomNumberFromInterval
- isNode

[2020-10-29 00:47] richardpark-msft opened #12117 "[service-bus] Unify errors to remove inconsistencies"
Previously Service Bus handled most errors internally and, while they were available, users were not encouraged to look at MessagingError.code field.

This has changed as part of the "forever loop" changes that allow a subscribe() call to be more robust, but this means we need to look harder at what our error codes look like (and are documented as).

Let's take a look at simplifying the 'code's in

[2020-10-29 01:27] richardpark-msft commented on #8653
Will close this in favor of #12117 which will document the errors both in the code and making sure they match across languages.

[2020-10-29 02:18] ramya-rao-a opened #12118 "[Service Bus] Sample to send messages to make use of the batch object"
The [sendMessages](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/javascript/sendMessages.js) sample should show the use of the batch object and the benefits it has over sending the messages directly. Same goes for the readme page

Something like the below

[code]

[2020-10-29 02:45] ljian3377 commented on #7097
@wwlorey
You don't need to create the file first. `FileClient.uploadFIle, uploadStream and uploadData` will do the creation as well as uploading. They call `create` and then call multiple `uploadRange` in parallel.

We have a long way to go for the documentation improvement. Will adding a pointer to the original REST API documentation help? https://docs.microsoft.com/en-us/rest/api/storageservices

[2020-10-29 02:50] ljian3377 commented on #7097
Would it be better to separate the creation and upload in these highlevel upload functions in File?
Or add an option to support both?
@XiaoningLiu @bterlson @xirzec

[2020-10-29 09:08] ruowan opened #12146 "[EventHub] Add a code sample for express"
**Is your feature request related to a problem? Please describe.**
I am using EventHub. When I first use EventHub I found there is missing some complex code sample, such as how to integrate EventHub with Node express.  I believe there maybe be other people who have the same issue. So I want to share my service scenario code.

**Describe the solution you'd like**
I want to contribute EventHub code

[2020-10-29 09:32] ljian3377 commented on #9500
Remember to update the README's "Differences between Node.js and browsers". #9927

[2020-10-29 13:12] zfoster commented on #12106
Hey @faissalMT, because node 6 has been end-of-life for a little over a year now, we're not planning any active development around bugs/features specific to node 6. I do agree with the proposed behavior, and I can create a new issue for community development, thanks!

[2020-10-29 13:12] #12106 closed

[2020-10-29 13:14] zfoster opened #12149 "[Cosmos] Throw error when initializing CosmosClient in node 6"
**Is your feature request related to a problem? Please describe.**
Cosmos throws an obscure error related to the URL constructor when initializing in node 6.
https://github.com/Azure/azure-sdk-for-js/issues/12106

**Describe the solution you'd like**
We can simply recognize when URL isn't available (in the node 8 case here https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/s

[2020-10-29 13:14] zfoster commented on #12106
https://github.com/Azure/azure-sdk-for-js/issues/12149

[2020-10-29 14:01] mohsin-mehmood commented on #12064
@HarshaNalluru and @ramya-rao-a I think one option is to use '%j' format specifier as logger is using nodejs util.format method. Should we use this approach?
[code]

Also, is there a way to verify these logging statement output on my local?

[2020-10-29 14:54] faissalMT commented on #12106
It's fair that you don't want to support Node 6, my only concern is that v1 of the function runtime is still available and uses Node 6 and it's also still the default for Terraform. It had me baffled for a while until I realised the Node version I'd specified in Azure was being ignored because I was on v1 of the function runtime.

[2020-10-29 17:56] sadasant commented on #11595
@noelbundick @JasonBeneteau Thank you for your feedback! I'm working on this right now.

[2020-10-29 18:50] HarshaNalluru commented on #12064
@mohsin-mehmood, it should be fine if it works.

### Setup
- A well-formed connection string should be enough since this specific log happens before the request is made.
- Add a `.env` file in the `servicebus/service-bus` folder with a connection string such as `SERVICEBUS_CONNECTION_STRING=Endpoint=endpoint/;SharedAccessKeyName=key;SharedAccessKey=key` - [sample.env](https://github.com/Azure/azur

[2020-10-29 19:07] HarshaNalluru opened #12152 "Samples should not require us to specify devDependencies in root package folder"
https://github.com/Azure/azure-sdk-for-js/pull/12111#discussion_r514489086

- Ideally, we should not need a devDependency in the root folder for something that's used only in the samples
- Check why there is such a need
- Remove the devDep in service-bus
- Followup with dev-tool if needed updates

[2020-10-29 19:28] richardpark-msft commented on #12116
I'm all for making the encoding/decoding (by default) more basic (string -> bytes) but perhaps only bytes on return. This would make us a bit more consistent with the other languages since they're not doing any auto-decoding. We can still offer the ability to slot in their own decoder/encoder.

[2020-10-29 19:42] #11833 closed

[2020-10-29 20:08] ramya-rao-a commented on #12116
decode should not parse JSON?
 Give users a way to opt-out of the default JSON serialization/deserialization?
 Allow users to provide their own serializer

I wouldnt touch this now. I'd prefer Event Hubs and Service Bus approach the encode/decode in the same way. Changing this, or allowing users to opt out of the default behavior or allowing them to provide their own serializer can be done in the

[2020-10-29 20:28] HarshaNalluru opened #12156 "[Core AMQP] Revisit the generated typedoc and add @internal @ignore tags"
Revisit the generated typedoc and add `@internal` `@ignore` tags for the methods/interfaces that are not exported through `index.ts`
<img src="https://user-images.githubusercontent.com/10452642/97628821-77ed1580-19ea-11eb-8eb2-446684f29602.png" height=500>

[2020-10-29 20:56] #12051 closed

[2020-10-29 21:47] ramya-rao-a commented on #12004
Done with #12091

[2020-10-29 21:47] #12004 closed

[2020-10-29 21:49] ramya-rao-a commented on #7905
@richardpark-msft Can we close this now that #12111 is merged and move the pending tasks to #12117?

[2020-10-29 21:59] #11831 closed

[2020-10-29 21:59] #11917 closed

[2020-10-29 21:59] #11681 closed

[2020-10-29 22:35] HarshaNalluru opened #12161 "[Service Bus] Session based stress tests : MaxListenersExceededWarning"
### Test - [scenarioRenewSessionLock.ts](https://github.com/Azure/azure-sdk-for-js/blob/8a46d91885f1c1d991ca121ea4ec6a8a2a344e2b/sdk/servicebus/service-bus/test/stress-test-track-2/scenarioRenewSessionLock.ts)

### Case 1
- `ts-node scenarioRenewSessionLock.ts --testDurationInMs=36000000 --delayBetweenSendsInMs=10000 --numberOfSessions=1000 --settleMessageOnReceive=false --autoLockRenewal=true > t

[2020-10-29 22:39] jonathandturner commented on #11670
Request on MSAL for reference: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2494

[2020-10-29 22:43] jonathandturner commented on #11915
Now removed for the GA: https://github.com/Azure/azure-sdk-for-js/pull/11871

[2020-10-29 22:43] #11915 closed

[2020-10-29 22:44] jonathandturner commented on #11672
Fixed with https://github.com/Azure/azure-sdk-for-js/pull/11871

[2020-10-29 22:44] #11672 closed

[2020-10-29 22:45] richardpark-msft commented on #12161
@GaryWilber, @HarshaNalluru was able to reproduce your error in our stress testing.

Just FYI.

[2020-10-29 22:46] jonathandturner commented on #11672
Fixed with https://github.com/Azure/azure-sdk-for-js/pull/11871

[2020-10-29 22:49] jonathandturner commented on #12113
Finished with https://github.com/Azure/azure-sdk-for-js/pull/11871

[2020-10-29 22:49] #12113 closed

[2020-10-29 23:02] MiYanni opened #12163 "[ServiceBus] Set message count limit for tryAdd on message batch"
Currently, the service only allows 4500 messages in a batch. To accommodate for this, we should make tryAdd on a message batch fail if trying to add more than 4500 messages.

[2020-10-29 23:17] ramya-rao-a commented on #12041
For now, we will be updating `tryAddMessage()` to return false if the 4500 limit is reached.
We will be logging a feature request with the service to either remove this limit or provide this information on the link so that they are free to increase the limit and we dont need to ship an update

[2020-10-29 23:17] ramya-rao-a commented on #12163
Closing in favor of #12041

[2020-10-29 23:17] #12163 closed

[2020-10-29 23:26] MiYanni commented on #12041
Related: https://github.com/Azure/azure-service-bus/issues/397

[2020-10-30 00:16] mitchdenny commented on #9312
@praveenkuttappan came up again today :)

[2020-10-30 00:39] richardpark-msft commented on #7905
yes definitely!

[2020-10-30 00:39] #7905 closed

[2020-10-30 00:49] #12000 closed

[2020-10-30 04:08] ljian3377 commented on #6927
Will be resolved by https://github.com/Azure/azure-sdk-for-js/pull/12150.

[2020-10-30 06:02] #12079 closed

[2020-10-30 13:40] ljian3377 commented on #8302
We do have a `visibilityTimeout` on the receive side. https://docs.microsoft.com/en-us/rest/api/storageservices/get-messages#remarks
But not sure if it could achieve what you wanted.

[2020-10-30 19:11] sadasant commented on #11595
@noelbundick @JasonBeneteau I have a solution! I'll try to write you over teams first.

[2020-10-30 19:28] willmtemple opened #12193 "[test-utils-recorder] replaceableVariables initialization pitfalls"
There are some really unfortunate pitfalls with using `env` from test-utils-recorder.

Using this method to access environment variables in tests is preferred, because it allows the recorder to perform replacement of environment variable values with the default "safe" values given in the recorder configuration. Not using this method to access the environment variables can result in the recorder fa

[2020-10-30 19:36] sadasant commented on #11595
Alright, so I confirmed with @noelbundick that the latest version of the Identity package, with my refactoring changes, solves this problem. I'm going to spin some time digging up what exactly fixes this from the refactoring, then I'll comment again, and I'll reference the PR that fixes it.

[2020-10-30 20:07] MiYanni commented on #12041
Instead of adding this hard limit client-side, we are instead going to place information in the documentation for tryAdd, since the limit for Basic and Standard tier is 4500 and the limit for Premium is ~15885. It would be best to link to Service Bus documentation on these limits instead of hard-coding into our reference documentation. However, we'd have to wait until they publish that information

[2020-10-30 21:36] willmtemple opened #12197 "[test-utils-recorder] Eliminate large POST bodies from recordings"
In Form Recognizer, we have tests that POST some files to the service. The files can be a few megabytes large, which has a couple of consequences for the recordings:

- The recording files are _extremely_ long because they contain the entire base64-encoded file, sometimes long enough to crash my editor if I open them.
- Playback of these tests is slow (I assume because of parsing, decoding, and ma

[2020-10-30 21:47] willmtemple opened #12198 "[test-utils-recorder] ignore volatile headers by default"
When we record a service interaction, we are capturing a lot of information about the time that the recording took place that isn't necessary (such as the `Date` header). In practice, any "volatile" header (one that will always have a different value for a real request) can likely be eliminated.

It would be helpful if we could ignore all of these headers by default and omit them from the recordin

[2020-10-30 22:04] sadasant commented on #11595
I'm running out of time today for studying what exactly fixes this, but my guess is that the parameters get polluted  on the current code. The PR that fixes this is: https://github.com/Azure/azure-sdk-for-js/pull/11976

[2020-10-30 22:37] willmtemple opened #12200 "[test-utils-recorder] Don't Record AAD Auth Flow"
We're currently saving the AAD authentication requests to the recordings. While we do remove the access token from the recording files, we wouldn't have to do this if we didn't save them in the first place. Storing any requests to/from login.microsoft.com has some inherent risk, and it shouldn't be necessary since we remove the only thing (access_token) that it serves to provide.

Additionally, sa

[2020-10-30 22:56] bterlson commented on #12032
My thoughts:

- priority
  - _"number" is appropriate for JS, do we need to validate that it is positive and is less than 2^8?_
    I don't think so.
- Absolute expiry time, creation time
  - _"rhea" picks number here, can make it a Date by converting in the SDK_
    IIRC the property is called timestamp. If so, I'd expect a number. If instead it has an In/On/Date suffix, perhaps converting to dat

[2020-10-30 23:01] #12118 closed

[2020-10-30 23:24] HarshaNalluru commented on #11633
[code]

[2020-10-30 23:47] wwlorey commented on #7097
I think a more simple explanation in the function comments would be helpful. The info from intellisense goes a long way when trying to figure out the details of a function

[2020-10-31 00:14] #11669 closed

[2020-10-31 00:59] dw511214992 commented on #12107
Hi @sean-keane25 By default, js client uses three kinds of retry policy, which you can find them in @azure/ms-js-rest
[code]
`exponentialRetryPolicy` : The default retry count is **3**. retry when response code is 501, 505 or less than 500 but not 408.
`systemErrorRetryPolicy` :The default retry count is **3**. retry when response contains some system error, and you can find the details of conditi

[2020-10-31 01:12] #11722 closed

[2020-10-31 02:10] heaths opened #12205 "February Release of Key Vault for JavaScript"

[2020-10-31 02:15] heaths opened #12206 "Add support for custom role definitions"
Once Azure/azure-rest-api-specs#11465 is checked in, regenerate source to support custom role definitions.

[2020-10-31 02:17] heaths commented on #12205
Duplicate of #11627

[2020-10-31 02:17] #12205 closed

[2020-10-31 03:35] ramya-rao-a opened #12209 "[Core-AMQP] Add userId to AMQP Message Properties"
With #12208, we pulled out userId from `@azure/core-amqp` for the time being.
This issue is to track the work needed to add it back once the type issue is resolved in rhea i.e. when https://github.com/amqp/rhea/issues/323 is fixed and an update is released

[2020-10-31 03:36] ramya-rao-a commented on #12032
Thanks @HarshaNalluru and @bterlson

With #12208, we will pull out userId from `@azure/core-amqp` for now.
We will add it back once the type issue is resolved in rhea i.e. when https://github.com/amqp/rhea/issues/323 is fixed and an update is released

Logged #12209 to track that work and closing this issue

[2020-10-31 03:36] #12032 closed

[2020-10-31 14:54] ljian3377 commented on #9500
Go with one function for both Node.js and Browsers. Improved the implementation to really support `ArrayBuffer | ArrayBufferView`.
[code]

[2020-10-31 16:24] ljian3377 commented on #7535
We do have the same issue. Reproduced in #12212
But I am not sure if using full url is the right fix.

[2020-11-01 06:53] ramya-rao-a commented on #12146
Hey @ruowan

We have generic documentation on [bundling](https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/Bundling.md) which would apply to all our packages.

We also have an [event hubs specific browser sample](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/eventhub/event-hubs/samples/browserSample)

Please feel free to create a PR to add another folder say "express"

[2020-11-01 19:11] jonathandturner commented on #11220
Since this is specific to the browser, and the node one was fixed with https://github.com/Azure/azure-sdk-for-js/pull/11591, moving this out of this release as we're not planning on updating to msal-browser until the next beta.

[2020-11-01 19:35] #11778 closed

[2020-11-02 05:31] ljian3377 commented on #7535
We **don't** have the same issue. According to the REST API doc: https://docs.microsoft.com/en-us/rest/api/storageservices/blob-batch

- The subrequest URL should only have the path of the URL (i.e without the host).
- Each subrequest will be authorized and authorized separately with the provided information in the subrequest.

And we are correctly assembling the sub requests. For example, in this

[2020-11-02 06:00] ljian3377 opened #12219 "[storage] StorageClient not setting the `credential` correctly"
when using TokenCredential. This leads to the Blob batch operations won't work for the `BlobClient` overload.
[code]

Root cause:
https://github.com/Azure/azure-sdk-for-js/blob/b853e0d6ad61fb82c912a847cda99e20c1aaaa95/sdk/storage/storage-blob/src/StorageClient.ts#L93
[code]

But factory is `bearerTokenAuthenticationPolicy` in this case.
https://github.com/Azure/azure-sdk-for-js/blob/79b0fdf31b0a70

[2020-11-02 06:01] #7535 closed

[2020-11-02 07:00] ljian3377 commented on #12219
@jeremymeng @daviwil @HarshaNalluru
Looks we are not able to retrieve the credential from the BearerTokenAuthenticationPolicy factory, thus not able to recover the credential from the pipeline when constructiong `StorageClient`. Is it possible for BearerTokenAuthenticationPolicy factory to support the retrieval of the `credential` passed in?

Or we probably should not have exposed the `credential`

[2020-11-02 08:07] ramya-rao-a commented on #12064
Done with #12187

Thanks @mohsin-mehmood!

[2020-11-02 08:07] #12064 closed

[2020-11-02 18:15] jeremymeng commented on #12219
One possible option is to set the credential (if provided) in every constructor instead after the `super()` call. Not very pretty though

[2020-11-02 18:18] #12095 closed

[2020-11-02 19:44] ramya-rao-a commented on #12012
This is fixed with #12216

[2020-11-02 19:44] #12012 closed

[2020-11-02 19:59] jonathandturner opened #12224 "[KeyVault] Remove dist-browser"
- **Package Name**: keyvault packages
- **Package Version**: current

As per the current recommendations: we shouldn't ship `dist-browser` directories as part of our npm packages. Looks like keyvault is still shipping these directories.

This is a reminder to remove this directory so that developers won't depend on it. Instead, we should encourage them to bundle their own set of libraries.

Curren

[2020-11-02 22:25] #11830 closed

[2020-11-03 01:05] HarshaNalluru opened #12232 "[Service Bus] Incorrect logs related to `actionAfterWaitTimeout` - batching receiver"
### actionAfterWaitTimeout
![image](https://user-images.githubusercontent.com/10452642/97935056-5b274980-1d2c-11eb-87f6-b018c183ce22.png)

Timers are set at different times
- `totalWaitTimer = setTimeout(actionAfterWaitTimeout, args.maxWaitTimeInMs);`
- `totalWaitTimer = setTimeout(actionAfterWaitTimeout, getRemainingWaitTimeInMs());`

Consider the scenario - with the workflow
- timer-1 is set - `

[2020-11-03 01:10] ljian3377 commented on #12219
Some constructors take a pipeline as a option. In that case, what should we do with `this.credential`?
[code]

[2020-11-03 03:02] #9031 closed

[2020-11-03 05:52] qiaozha commented on #10473
@ramya-rao-a Hi. The reason I am getting the error of "Make sure to create your workspace using a client which support MSI" is because server side needs the input of identity type.
But the SDK was generated with the old version 2019-05-01 and the identity type only has one single value SystemAssigned, and codegen will treat it as constant and won't need user to pass the identity type as you can se

[2020-11-03 05:54] qiaozha commented on #10473
@jmwombeki we will let you know once the new version of SDK is public released and how should it work? Thank you

[2020-11-03 07:10] qiaozha commented on #10473
@jmwombeki The 4.0.0 https://www.npmjs.com/package/@azure/arm-machinelearningservices/v/4.0.0 is released.
You may try it with the following example to create a Machine Learning Workspace.

[code]
As dicussed above, you need to make sure you are login with MSI.

Please make sure the resource ids of applicationinsights, keyVault, containerRegistry, storageAccount are valid and can be accesssed by t

[2020-11-03 08:00] #11760 closed

[2020-11-03 08:07] XiaoningLiu commented on #5801
Hi @ramya-rao-a, this needs support from poller to export interfaces like `getLastResponse().` suggested by Brain. Tagged with Azure Core and assign to you for better tracking.

[2020-11-03 08:30] ljian3377 commented on #10122
Ignore iprange as well?

[2020-11-03 08:37] XiaoningLiu commented on #11349
@patelhirn Can you please have a screenshot of the console outputs? Needs to check the output message and types.

[2020-11-03 08:38] #7764 closed

[2020-11-03 09:19] ljian3377 commented on #6830
We agreed that we could use this table as a place to track all these ENV varibles used in our tests.
Missining ones should be added ASAP.

[2020-11-03 09:43] ljian3377 commented on #7097
@wwlorey
Will upload to an existing file (overwrite the whole content, but keep most metadata and properties) be a valid scenario for you?

We are considering some improvement for parallel upload but need to know more about users' scenarios.
Another option is to change parallel upload to simply parallel `uploadRange`. But is it a common use pattern to update a file **partially**.

[2020-11-03 14:08] yairv13 opened #12255 "ARM Compute: virtualMachines: List/get: return the vms state & ip too"
Currently, to get vms with their current IP address and state, the developer has to:
1. call virtualMachines.list
2. for each vm:
    a. call virtualMachines.instanceView
    b. call networkInterfaces.get

that results in hundreds of requests, instead of just returning the IP and state with the virtualMachines.list.

Is there a chance to implement that feature for us all? :)

[2020-11-03 18:10] KarishmaGhiya commented on #12050
I'll open a PR to fix this

[2020-11-03 19:21] #11616 closed

[2020-11-03 19:52] #12156 closed

[2020-11-03 20:50] richardpark-msft opened #12260 "[service-bus] Surface different types of errors sooner than others"
# Background

As part of our making the "forever loop" in `receiver.subscribe` we made it so we have this kind of flow:

[code]

This means that the user doesn't get notified until _all_ retries have been exhausted - this is true regardless of the type of error reported to the user.

Prior to this change we had a distinction between retryable and non-retryable errors. Retryable errors were things

[2020-11-03 21:15] HarshaNalluru commented on #12161
### More observations

#### Disconnected Lsteners
- Seem to consistently repro(though it takes 2-3 hours for the test to repro this.)
- I confirm that we as the SDK are definitely not adding more than one "disconnected" listeners(trying to see who's causing MaxListenersExceeded).
- I seem to see the warning only after some renew locks fail with SessionLockLostError, no other errors.. not even disc

[2020-11-03 21:59] #12050 closed

[2020-11-03 23:12] ramya-rao-a commented on #10980
Hey @sunilsmith,
Closing the issue for now as we have not heard back from you in a while.
If you have an open support ticket for this, please ask them to loop the Azure SDK team in if they need any help.

[2020-11-03 23:12] #10980 closed

[2020-11-04 00:14] ramya-rao-a opened #12264 "[Service Bus] isServiceBusError should not expose AmqpError which is an internal type"
In #12237, we introduced the `ServiceBusError` along with a helpful `isServiceBusError()` method. As discussed in https://github.com/Azure/azure-sdk-for-js/pull/12237#discussion_r516478520, the `AmqpError` type used here is internal to the package and the user need not be aware of it.

This issue is to track the work to not expose `AmqpError` to the user

[2020-11-04 00:42] #11623 closed

[2020-11-04 01:50] richardpark-msft commented on #12264
One easy fix here is just to remove it altogether and accept AmqpError more broadly - we do a .name field check for ServiceBusError so it's unlikely that it'd get caught in our existing filter.

[2020-11-04 03:04] kasobol-msft opened #12272 "[FEATURE REQ] Ability to traverse blob hierarchy upwards. BlobClient->BlobContainer"
Propagating from .NET https://github.com/Azure/azure-sdk-for-net/issues/16359 for parity.

[2020-11-04 03:47] ramya-rao-a commented on #12255
@yairv13 Can you share which package are you currently using for this?

[2020-11-04 04:20] #8302 closed

[2020-11-04 07:25] qiaozha commented on #12255
Does the virtualMachines.listALL meets your requirement?  https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/compute/arm-compute/src/operations/virtualMachines.ts#L273
You can use statusOnly=true to get the run time status of all VirtualMachines.

[2020-11-04 07:42] #6927 closed

[2020-11-04 08:19] #9500 closed

[2020-11-04 08:19] #6119 closed

[2020-11-04 08:19] #6120 closed

[2020-11-04 08:19] #9927 closed

[2020-11-04 17:31] chradek opened #12278 "[event-hubs] processEvents ignoring maxWaitTime after retryable disconnect event"
## Summary of issue
The subscription created by `EventHubConsumerClient.subscribe()` can get into a bad state where the `processEvents` handler is invoked rapidly with 0 events after a connection is disconnected due to a retryable error. When in this state, the `maxWaitTimeInSeconds` parameter is ignored and instead the `processEvents` handler is called as quickly as possible.

## Steps to reprodu

[2020-11-04 18:14] sarangan12 commented on #11625
Task Completed with PR: https://github.com/Azure/azure-sdk-for-js/pull/12275

[2020-11-04 18:14] #11625 closed

[2020-11-04 18:57] HarshaNalluru commented on #12161
### More Updates

#### MaxListenersExceeded: (Based on the logs)
- Happening because of Session.close() in rhea-promise
- Session.close() - adds the disconnected listener, and the listener would be removed upon "session_close" event
- "Listeners exceeded" occurs only when there are ongoing errors with SessionLockLost
- When there are many sessions with "SessionLockLost" error triggered by the rene

[2020-11-04 19:15] #11758 closed

[2020-11-04 19:40] richardpark-msft commented on #8653
The original motivation for this was to make it simple for users to integrate with service bus in a way that would properly retry/restart.

This has been implemented across two separate PRs:
1. PR#12237  - ServiceBusError has a 'reason' field that we demonstrate in our samples to show how a user can identify what an error is.
2. PR#11973 - make subscribe() treat all errors as retryable

Between th

[2020-11-04 19:40] #8653 closed

[2020-11-04 19:48] #11233 closed

[2020-11-04 20:42] wwlorey commented on #7097
Yes that scenario is used pretty frequently in our extension. Right now we don't have any scenarios that update a file partially

[2020-11-04 21:20] richardpark-msft commented on #12117
The only work item left on this is to see if we can make it simpler for our internal code to not fall out of sync. The customer facing portions of this are complete.

[2020-11-04 21:43] #11832 closed

[2020-11-04 22:52] #10235 closed

[2020-11-04 22:52] #10238 closed

[2020-11-04 22:52] #11595 closed

[2020-11-04 22:52] #11653 closed

[2020-11-04 22:52] #12058 closed

[2020-11-04 23:32] jeremymeng opened #12287 "[dev-tool] failingt test on Windows: 1) Project Resolution resolution finds dev-tool package"
Error:

  5 passing (53ms)
  1 failing
  1) Project Resolution
       resolution finds dev-tool package:
     AssertionError: expected 'C:\\github\\jeremymeng\\jssdk\\common\\tools\\dev-tool' to match /.*\azure-sdk-for-js\common\tools\dev-tool/
      at C:\github\jeremymeng\jssdk\common\tools\dev-tool\test\resolveProject.spec.ts:25:12
      at Generator.next (<anonymous>)
      at fulfilled (test\

[2020-11-05 03:23] ljian3377 commented on #7097
@wwlorey What's the relation of the new file with the existing file in your case?
In your code, the `fileHttpHeaders.fileContentMD5` is most likely to be different. Why are other HTTP headers guaranteed to be the same?

[2020-11-05 16:59] hanvyj opened #12308 "[cosmos] continuationToken is not returned with an ORDER BY query"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.9.2
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: v10.19.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:

**Describe the bug**
Continuation tokens are not returned for `ORDER BY` queries. The query `SELECT * FROM a` returns a continuation token as expected, however `SELECT * FROM

[2020-11-05 17:41] sadasant commented on #11595
@noelbundick & @JasonBeneteau hi hi! I've merged the fix. I'll reach out to you for a final test this week, then I'll reply back once the package is finally released.

[2020-11-05 18:28] heaths opened #12309 "Clarify when CertificatePolicy.contentType is required"
Based on https://github.com/Azure/azure-sdk-for-net/pull/16610, please update documentation and optionally add samples to clarify when CertificatePolicy.contentType is required, which is when importing a PEM-formatted certificate, or even for a PKCS#12/PFX when setting any other policy (i.e. when a policy is used, contentType is required, it seems, regardless of what swagger says).

[2020-11-05 19:36] richardpark-msft opened #12312 "[service-bus] Make client validation consistent with other languages"
There are a few areas within the Service Bus package where we do client-side validation. After a review with the other language crews we've come up with the following changes that need to be made:

(using row numbers from our internal onenote):
- [ ] 1. Partition key != session ID: @JoshLove-msft to determine error message by Fri.
- [x] 2. settle a message twice: "The message has either been delet

[2020-11-05 19:48] wwlorey commented on #7097
In our extension we don't support users updating any headers (other than when the MD5 updates on its own) so the only thing that we ever want to change is the file content when a user edits a file.

[2020-11-05 19:48] jeremymeng opened #12313 "[core-xml,core-client] Port PR 12065 from core-http"
#12065

[2020-11-05 22:01] sadasant opened #12318 "[Identity] The IMDS MSI should retry with exponential backoff on 404"
If the IMDS MSI receives a 404 during its getToken request, it should retry with exponential backoff.

Some context...

- IMDS specifies the reasons why one should retry to get the token [in this link](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#error-handling). It says that exponential backoff should be used if the service answers

[2020-11-05 22:10] sadasant opened #12319 "[Key Vault] Address Arch Board feedback."
I'll leave it short to avoid spinning too much at this moment.

- Align with .Net by following through this issue: https://github.com/Azure/azure-sdk-for-net/pull/16624
- Remove line 29 on the TS sample (and JS), the one where I get just one role definition. Use a placeholder like "<role-definition-id>".
- Update the API to remove the folder name.
- Blob storage URIs can have sasTokens! Avoid doub

[2020-11-05 22:40] #11957 closed

[2020-11-05 22:59] #12278 closed

[2020-11-05 23:50] #10945 closed

[2020-11-06 03:24] qiaozha commented on #11567
The new cdn SDK is released now https://www.npmjs.com/package/@azure/arm-cdn/v/5.1.0. It should be able to resolve your issue @devployment @ChrisKlug

[2020-11-06 07:23] rudfoss opened #12330 "[AppConfiguration] 403 when using DefaultAzureCredential or VisualStudioCodeCredential with App Configuration"
- **Package Name**: `app-configuration`
- **Package Version**: `1.1.0`
- **Operating system**: `Windows 10`
- [x] **nodejs**
    - **version**: `12.16.0`
- [X] **typescript**
    - **version**: `4.0.5`

**Describe the bug**
With VSCode with the `Azure Account` extension described [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/README.md#authenticating-via-visual-

[2020-11-06 08:59] ChrisKlug commented on #11567
Thank you! That is great news!

[2020-11-06 09:41] ljian3377 opened #12331 "[storage-queue] queue improvements"
Quoting Kamil,

I was working in a codebase in .NET where I had a need to receive/peek just one message and found that it requires lot of repetitive code to achieve such a simple thing. So I went ahead and added such convenience. I can see that we already have something like that in Java but not in Python.
I think in .NET and Java this is needed as compiler makes you write too much code to just re

[2020-11-06 09:41] hanvyj commented on #12308
I went into the library and hacked out the continuation token (it looses it when it passes the headers into `mergeHeaders`:

[code]

I then get a continuation token, however when I try use it I get the following error thrown in `createDocumentProducersAndFillUpPriorityQueueFunc`:

[code]

The only workaround I can think of is to manually use the REST API:

[code]

[2020-11-06 09:54] ljian3377 opened #12333 "[storage-file-datalake] New DataLake SDK API - DataLakeDirectoryClient.GetPaths()"
PR in .NET - https://github.com/Azure/azure-sdk-for-net/pull/16089
calling filesystem's listPath underneath.

Will wait till we get customer ask.

[2020-11-06 10:33] ljian3377 commented on #5594
It will introduce breaking changes now as we are already GA and we conform to the original REST API's behavior.
We could add a overwrite option default to true, or a `uploadIfNotExists` interface.

@bterlson @xirzec @XiaoningLiu What do you think now?

[2020-11-06 10:56] ljian3377 commented on #6532
Should have been resolved by https://github.com/Azure/azure-sdk-for-js/pull/8964
which was shipped in @azure/storage-file-share@12.2.0

[2020-11-06 10:56] #6532 closed

[2020-11-06 11:56] ljian3377 commented on #7097
I think a simple improvement we can make is returning a `FileHttpHeaders` in `FileGetPropertiesResponse`, just as you suggested.

Note that you have to include other http headers if you want to set one of them. So this improvement can be useful for the set properties scenario as well.

https://docs.microsoft.com/en-us/rest/api/storageservices/set-file-properties#remarks

x-ms-cache-control
x-ms-co

[2020-11-06 13:54] shubhamthakare711 opened #12334 "EnvironmentCredential is not supported in the browser"
I am trying to create a connection with azure storage account via angular 9 application. I am using a npm package named @azure-storage-blob. After adding a account name , access key , creating  a blobservice client , uploading a blob to the azure  container I am facing the error 'EnvironmentalCredential is not supported in the browser'.  Any help would be appreciated. thanks in advance.

[2020-11-06 14:36] zfoster commented on #11309
Intended to close this as we've released the quality of life fix

[2020-11-06 14:36] #11309 closed

[2020-11-06 14:54] zfoster commented on #12308
Hey @hanvyj,

Your investigation led you down the right path, unfortunately this feature is not supported in the SDK. There have been issues around supporting it but this work is not scheduled. https://github.com/Azure/azure-sdk-for-js/issues/4815

Our recommendation is to ideally model your data such that cross partition queries are not needed. Here is a good guide of some examples of how to do t

[2020-11-06 14:54] #12308 closed

[2020-11-06 16:18] gmantri opened #12335 "[Storage Blob] Question about blob batch operation"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.2.1
- **Operating system**: macOS
- [ x] **nodejs**
    - **version**: 10.16.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Not

[2020-11-06 17:15] jeremymeng commented on #12334
@shubhamthakare711 thank you for the report. Could you please share some code snippets showing how you create the blob service client and upload?

[2020-11-06 18:23] jeremymeng commented on #11924
Doc (Preview): https://docs.microsoft.com/javascript/api/overview/azure/ai-metrics-advisor-readme-pre?view=azure-node-preview

[2020-11-06 18:33] #11924 closed

[2020-11-06 18:33] jeremymeng commented on #11924
Updated.

[2020-11-06 18:56] jeremymeng opened #12337 "[MetricsAdvisor] Consider returning a CreatedDataFeed object just containing the id. Arch Board doesn't like extra GET operation."
Currently we do a GET after on the id after creating the data feed. Consider returning an object with the id

[code]

[2020-11-06 19:18] ramya-rao-a commented on #12334
@jonathandturner If I recall correctly, this is the expected behavior right? What is our recommendation for people writing web apps and wanting to use Azure Identity? And if this recommendation is different from using the `DefaultAzureCredential`, then we need to document that in the readme of every package where we are recommending its use

[2020-11-06 19:45] chradek commented on #12260
@richardpark-msft

Looking through the service bus code, I don't think I see where this flow exists except during initialization, so please help me find this flow in the 'forever loop'!

I'm a bit confused by this, because the sample you show above does treat transient versus nontransient errors differently doesn't it?

`retry` in core-amqp checks if an error is retriable, and if it isn't it throw

[2020-11-06 19:50] xirzec commented on #5594
If we've already GA'd overwrite behavior, then I think we could add the inverted flag (`throwOnOverwrite = false`) and maybe consider logging a verbose/debug message when we're overwriting with instructions on how to flip the flag if this behavior is unexpected?

[2020-11-06 20:57] HarshaNalluru commented on #5267
I'm not sure if this is important or something we need to do.
DevOps pipeline doesn't provide the emulator. However, it is possible to tweak the pipeline to add the emulator in our unit-test pipeline and run tests with it with ENG SYS help.
Not sure what we'd be getting with the efforts/investment in this area.

@jeremymeng @ramya-rao-a

[2020-11-06 22:42] jeremymeng opened #12343 "[MetricsAdvisor] Board feedback: KC would like us to reconsider the client naming to have something about "anomaly""

[2020-11-06 22:48] jeremymeng opened #12344 "[MetricsAdvisor] Board feedback: DimensionKey should it be just Dimension?"
The type name `DimensionKey`, should it be just `Dimension`?

Key usually is something simple.

[2020-11-06 22:49] #11867 closed

[2020-11-06 22:59] jeremymeng commented on #12089
Logged separate Backlog issues for left overs. Closing this issue for Nov milestone.

[2020-11-06 22:59] #12089 closed

[2020-11-06 23:00] xavier-d opened #12345 "[service-bus] topic subscription receives messages even with option status=Disabled"
- **Package Name**:  service-bus
- **Package Version**: 7.0.0-preview.8
- **Operating system**: windows10
- [ ] **nodejs**
    - **version**: 10.15.3

**Describe the bug**
While creating a subscription on a Topic Service Bus with many incoming messages even with disabled status option, messages are received.

**To Reproduce**

_use a service bus with many activity_

    const serviceBusAdminClient

[2020-11-06 23:05] sarangan12 commented on #12054
closed with https://github.com/Azure/azure-sdk-for-js/pull/12342

[2020-11-06 23:05] #12054 closed

[2020-11-06 23:19] jeremymeng commented on #5267
It's nice to have but not required.

suppose a test is added using emulator, does its recordings work as expected?

[2020-11-06 23:59] jeremymeng opened #12348 "[MetricsAdvisor] rename listDimensionValuesForDetectionConfig()"
We still need to align on the name for this method.
- [ ] rename
- [ ] add usage into sample
- [ ] update/fix doc comments - it's missing a @param for dimensionName
Not sure which file is the best place.  incidentsAndAlerts maybe, since this method should have been called `listAnomalyDimensionValues()` or similar.

[2020-11-07 00:08] #11615 closed

[2020-11-07 00:14] jeremymeng commented on #12219
I don't think it's a good idea to have credential on storage clients but it's been shipped already. Looks to me that the credential is used in blob batch only, and it won't work when token credential is used, or when the BlobClient instance passed to BlobBatch was created with (url, pipeline)?  Is it possible we somehow re-use the pipeline factories, instead of creating new pipeline? (it would be

[2020-11-07 00:47] HarshaNalluru commented on #5267
I suppose so, but I don't think of using it that way. The test run with the emulator would already be the equivalent to the playback version, hence there is no point in doing it.

[2020-11-07 00:58] jeremymeng commented on #5267
I was thinking about the scenario where a developer don't have a storage account. How would a test added with emulator work in our pipelines (live or recorded)

[2020-11-07 01:50] HarshaNalluru commented on #5267
We should be able to record the tests and play them back with proper settings w.r.t environment variables in both the modes.
However, it feels redundant to have both the emulator and playback recordings for the same purpose(unit-tests). If we are going for emulator(once confirmed that it is reliable), we can completely depend on the emulator for unit-tests instead of recordings.

[2020-11-08 08:29] middiu opened #12353 "Cosmsodb: Error: Browser does not support cryptography functions"
- **Package Name**: @azure/cosmos
- **Package Version**: >= 3.7.0
- **Operating system**: All
- [ x] **typescript**
    - **version**: 3

**Describe the bug**
Once the package is updated to  >= 3.7.0 I get the following error: Error: Browser does not support cryptography functions
![image](https://user-images.githubusercontent.com/428032/98460439-8f04e200-21f8-11eb-9cd5-5a9efab1f960.png)

Everythi

[2020-11-08 12:02] rudfoss commented on #12330
Just wanted to add that I've tested with the latest dev version of the package `"@azure/app-configuration": "^1.1.1-alpha.20201030.1"` and the problem persists.

[2020-11-08 18:58] AlexGhiondea opened #12355 "Autorest Improvements"

[2020-11-08 18:58] AlexGhiondea opened #12356 "Docs & Samples"

[2020-11-08 18:59] AlexGhiondea opened #12357 "Enable Code Coverage in each of our languages"

[2020-11-08 18:59] AlexGhiondea opened #12358 "Improve build and reduce test flakiness"

[2020-11-08 18:59] AlexGhiondea opened #12359 "Performance Investigations"

[2020-11-08 18:59] AlexGhiondea opened #12360 "Synapse Client Library"

[2020-11-08 18:59] AlexGhiondea opened #12361 "Update ArchBoard guidelines"

[2020-11-08 19:16] AlexGhiondea opened #12362 "Investigation of JS reference doc generation, suggestions for modern tooling"

[2020-11-08 19:16] AlexGhiondea opened #12363 "Add deprecation notes in npm for Track 1 Storage, KeyVault, Event Hubs packages"
Please wait for this issue to be updated with the template for the deprecation message

[2020-11-08 19:16] AlexGhiondea opened #12364 "Migration Guide for Event Hubs"
Please wait for this issue to be updated with the link to the Migration Guide template.

[2020-11-08 19:16] AlexGhiondea opened #12365 "Migration Guide for Key Vault"
Please wait for this issue to be updated with the link to the Migration Guide template.

[2020-11-08 19:16] AlexGhiondea opened #12366 "Migration Guide for Service Bus"
Please wait for this issue to be updated with the link to the Migration Guide template.

[2020-11-08 19:16] AlexGhiondea opened #12367 "Migration Guide for Event Grid"
Please wait for this issue to be updated with the link to the Migration Guide template.

[2020-11-08 19:17] AlexGhiondea opened #12368 "Update Learn modules for Event Hubs"
~~This issue is to review the learn modules in https://docs.microsoft.com/en-us/learn/ that are for JavaScript/TypeScript developers in the area of Event Hubs and update them if they are not using the latest version of the Event Hubs package~~

Update from @ramya-rao-a:

We are changing the scope of this task as follows:
- Review the [Event Hubs learn modules](https://docs.microsoft.com/en-us/sear

[2020-11-08 19:17] AlexGhiondea opened #12369 "Update Learn modules for Key Vault"
~~This issue is to review the learn modules in https://docs.microsoft.com/en-us/learn/ that are for JavaScript/TypeScript developers in the area of Key Vault and update them if they are not using the latest version of the Key Vault packages~~

Update from @ramya-rao-a:

We are changing the scope of this task as follows:
- Review the [Key Vault learn modules](https://docs.microsoft.com/en-us/search

[2020-11-08 19:17] AlexGhiondea opened #12370 "Update Learn modules for Service Bus"
~~This issue is to review the learn modules in https://docs.microsoft.com/en-us/learn/ that are for JavaScript/TypeScript developers in the area of Service Bus and update them if they are not using the latest version of the Service Bus package~~

Update from @ramya-rao-a:

We are changing the scope of this task as follows:
- Review the [Service Bus learn modules](https://docs.microsoft.com/en-us/s

[2020-11-08 19:17] AlexGhiondea opened #12371 "StackOverflow cleanup Track 1 references, answer unanswered questions for Event Hubs"

[2020-11-08 19:17] AlexGhiondea opened #12372 "StackOverflow cleanup Track 1 references, answer unanswered questions for Service Bus"

[2020-11-08 19:17] AlexGhiondea opened #12373 "StackOverflow cleanup Track 1 references, answer unanswered questions for Key Vault"

[2020-11-08 19:17] AlexGhiondea opened #12374 "Reference doc bug bash (look for both content issues and rendering issues) for Event Hubs"

[2020-11-08 19:17] AlexGhiondea opened #12375 "Reference doc bug bash (look for both content issues and rendering issues) for Key Vault"

[2020-11-08 19:17] AlexGhiondea opened #12376 "Reference doc bug bash (look for both content issues and rendering issues) for Service Bus"

[2020-11-08 19:17] AlexGhiondea opened #12377 "Bug bash to find samples for Event Hubs that need to use the latest package"
_Update from @ramya-rao-a_

Review the JavaScript samples for Event Hubs in the below locations to find the ones that do not use the latest version of the  package. Update this issue with the list of samples that need updating.

- [Event Hubs JavaScript samples repos under Azure-samples org](https://github.com/Azure-Samples?q=%22Event+Hubs%22&type=&language=javascript)
- [Event Hubs JavaScript sam

[2020-11-08 19:17] AlexGhiondea opened #12378 "Bug bash to find samples for Key Vault that need to use the latest package"
_Update from @ramya-rao-a_

Review the JavaScript & TypeScript samples for Key Vault in the below locations to find the ones that do not use the latest version of the Key Vault packages. Update this issue with the list of samples that need updating.

- [Key Vault JavaScript samples repos under Azure-samples org](https://github.com/Azure-Samples?q=%22Key+Vault%22&type=&language=javascript)
- [Key V

[2020-11-08 19:17] AlexGhiondea opened #12379 "Bug bash to find samples for Service Bus that need to use the latest package"
_Update from @ramya-rao-a_

Review the JavaScript samples for Service Bus in the below locations to find the ones that do not use the latest version of the Service Bus package. Please note that some of these maybe using the preview version of the latest Service Bus package, these need to be identified as well. Update this issue with the list of samples that need updating.

- [Service Bus JavaScrip

[2020-11-08 19:17] AlexGhiondea opened #12380 "Updated outdated content from bug bash in docs.microsoft.com for Event Hubs"

[2020-11-08 19:17] AlexGhiondea opened #12381 "Updated outdated content from bug bash in docs.microsoft.com for Service Bus"
- [Quick start for Topics & Subscriptions](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-nodejs-how-to-use-topics-subscriptions)
    - Update title which is still referring to a "preview" package. Use the title for other languages as reference
    - Update the metadata for both this and the queues page to stop using "preview"
    - The "next steps" is pointing to Python

[2020-11-08 19:17] AlexGhiondea opened #12382 "Updated outdated content from bug bash in docs.microsoft.com for Key Vault"

[2020-11-08 19:17] AlexGhiondea opened #12383 "Updated outdated content from bug bash in samples for Event Hubs"
_Update from @ramya-rao-a_ :

Update the outdated content found in https://github.com/azure/azure-sdk-for-js/issues/12377

[2020-11-08 19:17] AlexGhiondea opened #12384 "Updated outdated content from bug bash in samples for Service Bus"
Update the outdated samples found in https://github.com/azure/azure-sdk-for-js/issues/12379

[2020-11-08 19:17] AlexGhiondea opened #12385 "Updated outdated content from bug bash in samples for Key Vault"
_Update from @ramya-rao-a:_

Update the outdated content found in #12378

[2020-11-08 19:40] AlexGhiondea opened #12386 "Ensure we have code coverage collected for each library in each language"
We do have a way to use nyc to generate the code coverage as part of our nightly builds for the node tests. This issue is to ensure that all the Track 2 packages are following this and then to investigate how we can do this for the browser build as well.

[2020-11-08 19:40] AlexGhiondea opened #12387 "Ensure that the numbers are reported in the right place"
#12386 will ensure we have code coverage numbers for all Track 2 packages. This issue is to brainstorm with other language representatives and see if we are reporting the numbers in a similar way or if there is anything we need to do to be more consistent.

[2020-11-08 19:46] AlexGhiondea opened #12388 "Make autorest track2 default CI, and infra help"

[2020-11-08 19:46] AlexGhiondea opened #12389 "Make autorest --typescript default to track2"

[2020-11-08 19:46] AlexGhiondea opened #12390 "Autorest doc for Javascript"

[2020-11-08 19:46] AlexGhiondea opened #12391 "Swagger to SDK JS"

[2020-11-08 19:46] AlexGhiondea opened #12392 "Autorest migration to track2 for JavaScript"
This issue is to ensure all the Track 2 packages are using the latest v6 code generator.

We have the below issues already logged for a few services

- For Search: https://github.com/Azure/azure-sdk-for-js/issues/9592
- For Key Vault: https://github.com/Azure/azure-sdk-for-js/issues/9590
- For Text Analytics: https://github.com/Azure/azure-sdk-for-js/issues/9591
- For App Config: #12408

The Form

[2020-11-08 19:50] AlexGhiondea opened #12393 "Investigate flaky tests and address issues as applicable"

[2020-11-08 19:55] AlexGhiondea opened #12394 "Create performance tests for Track 2 libraries"

[2020-11-08 19:58] AlexGhiondea opened #12395 "Implement design for low-level rest client"

[2020-11-08 20:02] AlexGhiondea opened #12396 "Write / update arch board guidelines"

[2020-11-09 01:42] ramya-rao-a opened #12397 "[Core AMQP] move common duplicate internal code in SB & EH back to core-amqp"
There is quite a bit of common code between Service Bus and Event Hubs which were previously housed in and exported from `@azure/core-amqp`. But most of these are internal details and need not be exposed to user allowing us to change/break the apis.

As part of v2 for `@azure/core-amqp`, we are moving such code to Service Bus and Event Hubs packages. This issue is to have a folder to house these c

[2020-11-09 03:15] AlexGhiondea opened #12403 "JS Pre-release script to update version, create PR, populate Release DevOps"
Please reach out to @kurtzeborn and @weshaggard for more details

[2020-11-09 06:17] praveenkuttappan opened #12407 "Reduce JS build and test run"
Currently JS PR and CI test jobs takes longer since it builds all packages in repo even if many of those packages are not required for testing. This is to ensure all transitive dependencies are built  when running test job. Rush doesn't build any required dependency for any of child dependents and this has forced us to build all packages. We need a fix in rush runner to properly identify packages

[2020-11-09 07:01] ramya-rao-a opened #12408 "[App Config] Regenerate swagger using Autorest Typescript v6"
_Copied from #9592_

This issue tracks the work to re-generate the sawgger using the latest version of @autorest/typescript

In order to use the new generator 2 changes need to be done in swagger/readme.md files

[code]
**Note**
The latest `@autorest/typescript` version can be found [here](https://github.com/Azure/autorest.typescript/releases)

[2020-11-09 14:24] zfoster commented on #12353
i'll look into this, we made some changes indirectly related to browser

[2020-11-09 15:45] zfoster commented on #12353
@middiu There was a bug in version 3.7.0, can you try 3.7.1 or a later version?

https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/CHANGELOG.md#371-2020-06-12

[2020-11-09 15:45] #12353 closed

[2020-11-09 16:47] zfoster commented on #12353
Let me know if you still have issues, I'm unable to reproduce

[2020-11-09 18:05] #9944 closed

[2020-11-09 18:05] #10620 closed

[2020-11-09 18:38] willmtemple commented on #12287
Hm. This looks like I just incorrectly assumed that the sdk would be checked out into a directory named `azure-sdk-for-js`. This should be an easy fix. Thanks for reporting this @jeremymeng .

[2020-11-09 19:03] ramya-rao-a opened #12413 "[Service Bus] Review Quick Start doc for Track 2 Service Bus"
This issue is to track the review of the quick start docs that @spelluru has written for the latest v7 of the servicebus library.
Use either this issue or email to share feedback with @spelluru and close this issue once we are satisfied with the content.

- [Quick start for Queues](https://review.docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-queues?branch=release

[2020-11-09 19:05] heaths opened #12414 "Add links in doc comments for releasePolicy properties"
When available, add links in doc comments for various `releasePolicy` properties to more information about authoring and using release policies. This information should be available by end of "Iron".

[2020-11-09 19:08] heaths commented on #12205
Moved out of epics since it kept showing up erroneously in IssueCreator.

[2020-11-09 19:13] spelluru commented on #12413
Hi @chradek - Please wait until tomorrow morning to review the quick start. I am going to test with the latest preview packages and update the quick starts today. Thanks!

[2020-11-09 19:43] #8105 closed

[2020-11-09 19:58] middiu commented on #12353
@zfoster i tried with any version above 3.7.0 but the only working version for me is 3.6.3

This is my entire package.json

[code]

and node version is **v12.19.0**

This how I initiate my Cosmosdb client:

[code]

do you need any other info that could help you to reproduce the problem?

Cheers

[2020-11-09 20:09] zfoster commented on #12353
which browser are you using @middiu ?

[2020-11-09 20:11] middiu commented on #12353
Google Chrome.

I'll try with others and I will let you know in 10 mins.

[2020-11-09 20:15] middiu commented on #12353
just installed 3.9.2 version and tried with:

last version of Firefox, last version of Edge, last version of Brave.

Same problem with all.

I'm working on a Mac with macOs Catalina, 10.15.7

[2020-11-09 20:36] HarshaNalluru commented on #12345
Thanks for reaching out @xavier-d!
Your sample was helpful, I acknowledge the problem.

We'll check with the service team on the "Disabled" behavior and get back.

[2020-11-09 21:10] patelhirn commented on #11349
Here is the attached screenshot as requested.

![2020-11-09 16_01_31-WcgConnexusWeb](https://user-images.githubusercontent.com/9003879/98596781-f0cf5580-22a5-11eb-9297-82337701977d.png)

If you are looking for more detail then take a look at the ErrorDetail file.
[ErrorDetail.txt](https://github.com/Azure/azure-sdk-for-js/files/5513308/ErrorDetail.txt)

[2020-11-09 21:27] HarshaNalluru commented on #8633
This repetition is caused by karma and not the recorder, hence updating the title appropriately

[2020-11-09 21:44] xavier-d commented on #12345
I was expecting to use this feature in order get only the messages I want; Create the subscription as Disabled then update the rule as I want. 'SendDisabled' option has been tested and not working either.
Another solution would be to configure the default rule during the subscription creation... but not sure if it is a planned feature

[2020-11-09 22:48] HarshaNalluru commented on #12345
As per the service team, EntityStatus only affects SENDs/ RECEIVEs coming from external clients, messages going from topic to subscriptions are not affected by it.

For your use case, the only solution as of now would be to add a rule after creation.
According to the service team, configuring the rule while creation is supported, JS SDK needs to add support for the same(TODO).
Hopefully, we'll get

[2020-11-09 23:25] sadasant opened #12419 "[Core] Allow custom certificate verification on HTTPS requests."
Our core HTTP tools should allow custom verifications of HTTP requests.

This is possible on Node. An example of how one might approach this with NodeJS's features only: http://hassansin.github.io/certificate-pinning-in-nodejs

It is not currently possible to achieve this using our core libraries. I've reached to the next core libraries dev team and there are plans to have this available then. I'm

[2020-11-09 23:34] sadasant opened #12420 "[Identity] Azure Fabric should be added back to the list of MSIs supported by Managed Identity Credential."
To allow Fabric again we must have support for custom SSL verification through our core libraries. The issue tracking that core feature is: https://github.com/Azure/azure-sdk-for-js/issues/12419

Once we have that, the changes on the Fabric MSI should be minimal.

[2020-11-09 23:45] ramya-rao-a commented on #12345
Also, may I just say a thank you for trying out our previews!
We appreciate the feedback and look forward to hearing anything else in the future

[2020-11-09 23:45] HarshaNalluru commented on #12345
Keeping the issue open to track the feature support.

[2020-11-09 23:57] xirzec commented on #12419
In Corev2 we use Node's `https` module directly, so we should be able to implement the necessary changes here: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-https/src/nodeHttpsClient.ts

[2020-11-10 02:02] ljian3377 commented on #12331
https://github.com/Azure/azure-sdk-for-net/pull/16689

[2020-11-10 02:02] ljian3377 commented on #7765
https://github.com/Azure/azure-sdk-for-net/pull/15972

[2020-11-10 02:35] zfoster commented on #12353
@middiu I'm still unable to reproduce. I created a fresh `create-react-app` and installed the 3.9.3, 3.6.3 and 3.7.0 versions of the SDK. I also configured the client initialization to resemble the code you've pasted, but the app still loads successfully and I can log a queried container to the console.

We throw the error you're seeing in the case where we don't have a `crypto` library to use. ht

[2020-11-10 03:12] middiu commented on #12353
Thanks @zfoster,

nothing that I can think of would "remove" crypto from build.

In my package-lock.json/yarn.lock I can see crypto-browserify "^3.11.0" installed as dependency, this is the only "crypto" keyword I can find if I do a search.

I do not have any custom gulp script or webpack extension.

Are you using the same node version I'm using? v12.19.0

[2020-11-10 03:22] middiu commented on #12353
I think I found the issue @zfoster

this is what I see if I type window.crypto in the console when the error is raised.
Apparently crypto.subtle property is undefined.

Reading from chromium page, **crypto.subtle** is supposed to be undefined in insecure contexts
https://www.chromium.org/blink/webcrypto

and yes, I'm not using HTTPS on my local development machine.

does it mean that from 3.7.0 we

[2020-11-10 03:37] sarangan12 commented on #11571
Task completed with the release of search-documents. Refer: https://www.npmjs.com/package/@azure/search-documents/v/11.1.0-beta.2

[2020-11-10 03:37] #11571 closed

[2020-11-10 03:50] ljian3377 commented on #12335
There is no documentation on whether the subresponse from the service are ordered. And our SDK doesn't do any re-ordering.
Even though we have some test cases assuming it's ordered and they have never broke, I still suggest we shouldn't expect them to be in order as it's not promised.

We have a `_request` field containing the the corresponding subrequst in each sub response. Better to check it be

[2020-11-10 04:18] ljian3377 commented on #5267
The emulator is often behind the service for feature parity and can not be used as a substitute for the service when we develop new features. So I don't see the value of depening on an emulator for our tests. To save costs, we can depend on playback mode. For some specific mocking purpose, I would perfer to do it in our own code.

[2020-11-10 05:40] changlong-liu commented on #10045
Hi @VanyLaw , shall I know whether have any issue on the packages, shall we close this issue?

[2020-11-10 07:26] HarshaNalluru commented on #5267
Thanks, @ljian3377.
Closing the issue since we don't intend to expand the tests for the emulator for the CI. If one wants to run the tests with the emulator, a proper environment setup should be enough. The minimal test suite meant to run with the emulator would help to guide the env setup.