[2020-07-09 08:23] XiaoningLiu commented on #9929
@bweggersen It sounds not correct to hang forever. Will the sample based vanilla http request also hang after removing the timeout? If so, most possible it's not SDK issue.

SDK download is a thin wrapper based on underlay HTTP client. By default SDK download stream is directly returned from internal HTTP client (which is fetch.js I think) and doesn't do additional changes (besides retry). If the

[2020-07-09 14:46] shlomiassaf commented on #9958
BTW, the log is for registration in sequence, I can also send one in parallel but that way to messy to follow...

[2020-07-09 15:59] bweggersen commented on #9929
Yes, it hangs without the timeout. I can leave the script running for 1 hr and it will stay in this hung state.

I updated the sample repo with a script (`httpRequestChrome.ts`) which downloads 50 instances of Chrome (130 MB) from googleapis.com concurrently. I've ran this script seven times and it never hangs. The script will simply download the blob to disk. Since I had piped the download stream

[2020-07-09 16:09] kenieva commented on #9981
Hi sean-keane25, thank you for your feedback. Policy triages feature request from our UserVoice: https://feedback.azure.com/forums/915958-azure-governance. Feel free to add this feature request on our UserVoice and also vote for other items.

[2020-07-09 16:09] #9981 closed

[2020-07-09 16:42] chradek commented on #8715
This might be fixed by porting the TypeError fixes we made for event-hubs: https://github.com/Azure/azure-sdk-for-js/issues/9914

When testing event-hubs, I was able to reproduce the above error prior to making the TypeError fixes. I haven't tried reproducing this in service bus but I suspect the cause is the same.

[2020-07-09 16:47] sean-keane25 commented on #9981
@kenieva thanks for the quick response does this project allow pull requests ? Ie can I submit a pull request with the changes I describe above ?

[2020-07-09 16:48] kenieva commented on #9981
To my knowledge, we do not.

[2020-07-09 16:57] sean-keane25 commented on #9981
The contributing guide indicates that code submissions are allowed for the azure-sdk-for-js. So is it just that code submissions are not allowed for arm-policyinsights SDK ?

https://github.com/Azure/azure-sdk-for-js/blob/master/CONTRIBUTING.md

[2020-07-09 18:19] cwhitten commented on #9980
@zidaneymar please complete the issue template with reproduction steps and expected behavior, thanks!

[2020-07-09 18:28] southpolesteve commented on #9980
@ramya-rao-a Do you know why this was triaged to us? The cosmos ARM SDK is not under our ownership.

[2020-07-09 20:16] chradek opened #9988 "[core-amqp] Make CbsClient.negotiateClaim cancellable"
The `CbsClient.negotiateClaim` method in core-amqp is async, but doesn't currently accept an `abortSignal`. This means that if a connection is closed while the claim is being negotiated, the process won't exit until the operation timeout (default 60 seconds) has been reached.

This behavior can be reproduced using the sample provided in https://github.com/Azure/azure-sdk-for-js/issues/9615.

In th

[2020-07-09 21:41] richardpark-msft commented on #9971
First, thanks for submitting this. You're becoming a semi-regular issue contributor for me and we really appreciate your findings.

Okay, now onto your issue - first a little history and then a follow up question.

The purpose of `clone()` was to do "just enough" work to allow a message that was received to be sent - there are some fields that are present in a message that has been received that c

[2020-07-09 21:59] iscai-msft opened #9989 "Opinion Mining Text Analytics Javascript Epic"
- [x] Regenerate v3.1-preview.1: https://github.com/Azure/azure-sdk-for-js/issues/9991
- [x] Clear final design with architect: https://github.com/Azure/azure-sdk-for-js/issues/9992
- [x] implement design: https://github.com/Azure/azure-sdk-for-js/issues/9993
- [x] tests: https://github.com/Azure/azure-sdk-for-js/issues/9994
- [x] samples: https://github.com/Azure/azure-sdk-for-js/issues/9995

[2020-07-09 22:05] iscai-msft opened #9991 "[text analytics] regenerate v3.1-preview.1"

[2020-07-09 22:06] iscai-msft opened #9992 "[text analytics] clear final opinion mining design with architect"

[2020-07-09 22:08] iscai-msft opened #9993 "[text analytics] implement opinion mining design"

[2020-07-09 22:10] iscai-msft opened #9994 "[text analytics] opinion mining tests"

[2020-07-09 22:11] iscai-msft opened #9995 "[text analytics] opinion mining samples"

[2020-07-09 22:13] iscai-msft opened #9996 "[text analytics] Opinion Mining Text Analytics Java Epic"

[2020-07-09 22:14] #9996 closed

[2020-07-09 22:52] sadasant opened #9997 "[Identity] Support multiple versions of the DefaultAzureCredential"
The DefaultAzureCredential should allow users to specify what version of the credential chain they want to pick. This can be done by passing a version property through the constructor.

[2020-07-09 22:56] sadasant commented on #9791
I assigned an estimate of 3 because this needs some agreement with the other teams, since the error messages should be about the same.

[2020-07-09 23:06] sadasant commented on #9408
Gave it a cost of 2 because of communication with other members of the team, and feedback.

[2020-07-09 23:11] shlomiassaf commented on #9971
Hi, thanks for the quick response!

I'll start by saying the a domain managed `clone()` function is required, because as you said, there are some things needed to be done to convert an incoming message into a sendable message. This logic should be out for guess, it should be managed by the library.

I did not see any `clone` logic expose in the `Sender`, I guess it's encapsulated inside...

I'm us

[2020-07-09 23:20] ramya-rao-a commented on #9980
@southpolesteve,

Reading the issue title, it looked like the problem with ARM side of things and less of a problem with the generated code, so added the `Service Attention` label.

Apologies for that.

Looking at the details now, this is most likely due to the way permissions were set up or the credentials used.

@zidaneymar,
Please share the code snippet that shows how you created the client and

[2020-07-09 23:53] richardpark-msft commented on #9971
Oh, definitely!

I wasn't clear above but this is built-in and done _internally_ in the Sender - if it was anything but that it'd be completely incorrect for us to claim `clone()` is obsolete/unneeded.

So you can just pass the message you received to all the send APIs and it will work.

Some example code:

[code]

[2020-07-10 00:07] shlomiassaf commented on #9971
Great, thanks!

[2020-07-10 00:09] shlomiassaf commented on #9971
@richardpark-msft I do have a question now, does the order count?

[code]

[2020-07-10 01:08] ramya-rao-a commented on #9988
Looks like we have `RequestResponseLink.sendRequest()` respecting the abort signal passed to it.
What we need to do is
- Ensure `CbsClient.negotiateClaim()` in core-amqp takes the abortSignal and passes it to sendRequest()
- Update Service Bus & Event Hubs, to pass the abortSignal to `CbsClient.negotiateClaim()`

Then there is the matter of `CbsClient.init()` not being cancellable. Not sure if we

[2020-07-10 02:44] HarshaNalluru commented on #9818
The current state of eTag...
ETag mismatch should ideally throw a 412 response code, but the service currently throws a 409 which is also thrown in other cases.
So, we can't reliably determine the eTag mismatch with 409.

Service might change the behavior to rightly throw 412.

[2020-07-10 05:13] dw511214992 commented on #9980
Hi @zidaneymar Could you please share the code of how you created the client and related credentials? I try in my side, and cannot see the error. Thanks

[2020-07-10 06:10] ljian3377 commented on #9920
The new PowerShell will be released in the early August. Will our EngSys update to use the latest one?

[2020-07-10 06:20] blueww commented on #9920
And we can have a preview module release early than that, or a private PSH package release early, can you use the preview module PSH module, or private PSH package?

[2020-07-10 08:31] zidaneymar commented on #9980
@dw511214992 Hi Wei, Here are the concrete codes:
[code]

[2020-07-10 08:34] d-burr opened #10004 "checkNameAvailability in @azure/arm-sql does not deserialise the response"
- **Package Name**: @azure/arm-sql
- **Package Version**: 7.0.0
- **Operating system**: Windows
- [ ] **nodejs**
    - **version**: 10.15.2
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 3.7.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Th

[2020-07-10 11:19] ljian3377 opened #10009 "[recorder] binary response encoded in 'hex' do not work well"
When the response body is binary data, our recoder will store the data in hex.
When consuming the data in playback mode, we can't infer the encoding: `response.readableStreamBody?.readableEncoding = null`.

If I set the encoding manually with `response.readableStreamBody?.setEncoding("hex");` The data get decoded correctly. Yet the length of data is not right. As in live mode, we are expecting bin

[2020-07-10 12:31] sunilsmith commented on #9926
@ramya-rao-a @richardpark-msft I have rephrased and attached additional details to the issue for better understanding

[2020-07-10 16:45] #9615 closed

[2020-07-10 17:30] ramya-rao-a commented on #10004
Thanks for reporting @d-burr

Can you share the shape of what you get in the returned result?

@qiaozha Can you carry out the initial investigation here? We can jump in if you see an issue with ms-rest-js

[2020-07-10 17:31] richardpark-msft commented on #9926
Thank you @sunilsmith, that's some great detail. We will be taking a look at this.

[2020-07-10 19:53] karthikm249 opened #10014 "[Identity] Using existing Azure credentials for local development"
In the Azure .NET packages, we have the ability to make use of existing Visual Studio Azure creds or Azure CLI creds for local development as part of the connection string available in the AzureServiceTokenProvider instead of setting up the environment variables or dealing with service principal secrets. Is there a possibility of setting something similar up for the Node package as well as part of

[2020-07-10 20:19] HarshaNalluru opened #10015 "[Service Bus] Flaky test while testing retry functionality"
![image](https://user-images.githubusercontent.com/10452642/87199339-ed07d400-c2af-11ea-898e-3dd410d103f4.png)
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=454469&view=logs&jobId=34d05327-3286-5fd0-44d3-76aebff5d924&j=bbd7d436-e05d-51a8-99a8-0701dc9dffeb&t=b35bd286-0ff8-5789-8141-60cce3239968

[2020-07-10 23:29] daviwil commented on #4108
@ramya-rao-a Try it with `loginWithServicePrincipalSecret`, it returns an instance of `ServiceClientCredentials`.  The variant you're using returns an `AuthResponse` which contains a token.

[2020-07-10 23:31] daviwil commented on #4108
You'll also need a fourth parameter with the proper `tokenAudience`:

[code]

[2020-07-11 00:22] richardpark-msft commented on #9971
This should be fine. We only use a small set of fields from the message for completion and userProperties is not part of them.

[2020-07-11 02:01] ramya-rao-a commented on #9958
@shlomiassaf, Can you share if this was around 1 minute or less or more?

Creating of an AMQP receiver link to receive messages involves the below steps:
- Claim negotiation: An AMQP session with a sender link & receiver link to $cbs endpoint is created on current connection. New connection is opened if no open connection is available
- Receiver link creation: An AMQP session is created first, the

[2020-07-11 23:40] jeremymeng commented on #10009
Is this issue in Node or browser, or both?  For Node, according to nock doc, the binary response body should be decoded using `hex` encoding.

[2020-07-12 12:03] HarshaNalluru commented on #10009
The test is under node folder, executes only in node.
Is the API not meant for browsers, @ljian3377 ?

We may need to tweak the recording while being saved.

I was not able to execute the test mentioned in the issue with my storage account, running into an error with 404 status code for the `blockBlobClient.query()` step. Does this test require any special configuration or should the account belon

[2020-07-12 15:44] DVassilev opened #10026 "Sample for revoking SAS with a stored access policy"
I've tried digging through the documentation but couldn't find enough information.

Is there a sample for creating a stored access policy to be used to then generate a SAS that can be revoked by removing the stored access policy? Is there an alternative method for revoking a SAS?

[2020-07-12 16:47] GuyGugah commented on #9864
Hi,

Azure Security Center recommends using the new "Assessments" API:

https://docs.microsoft.com/en-us/rest/api/securitycenter/assessments/list

[2020-07-13 02:33] jiacfan commented on #9939
@mtorres27 Thanks for reaching us. Reactive native is not yet supported by this library. We'll keep this topic open to collect feedbacks, and evaluate accordingly.

Thanks,
Jiachen

[2020-07-13 02:48] ljian3377 commented on #10009
The API should support both browser and Node in the end. We are still working on it.

@HarshaNalluru Yes, the subscription needs to register the quick query feature and probably it now only works in Canada central and France in production. I will ping you with the account info I am using.

[2020-07-13 03:07] dw511214992 commented on #9980
Hi @zidaneymar I tried with your codes and cannot see your error in my side.
Cloud you share how you get `this.creds` and the version of `@azure/ms-rest-nodeauth` and `@azure/ms-rest-js`? The versions I used are:
[code]

[2020-07-13 03:22] tzhanl commented on #7598
PR merged.

[2020-07-13 03:22] #7598 closed

[2020-07-13 05:36] tzhanl commented on #7676
@XiaoningLiu how is this issue going?

[2020-07-13 06:11] ramya-rao-a commented on #10026
Can you please share which Azure service are you trying this with?

[2020-07-13 06:16] ramya-rao-a commented on #9090
@ryogok While we can fix the docs manually, it will get overidden the next time the package is re-generated as a reaction to changes in the swagger file. Can you or anyone from the service team take a look at fixing the swagger?

cc @areddish who last updated the swagger files

[2020-07-13 06:17] DVassilev commented on #10026
@ramya-rao-a Azure Storage, particularly blob storage.

[2020-07-13 06:37] ramya-rao-a commented on #10014
I believe this feature is available in the latest preview version of the `@azure/identity` package. Please try version 1.1.0-preview.4 or higher.

cc @sadasant  to correct me if I got the above wrong

[2020-07-13 08:22] zidaneymar commented on #9980
Close this issue.
Reason: The database name includes non-alphanumeric characters, make the request url not parse correctly.

[2020-07-13 08:22] #9980 closed

[2020-07-13 08:39] d-burr commented on #10004
Hi,

Thank for the quick reply. I believe I get the same result as you:
[code]

To access the information such as the available field I would have todo the following:
[code]
I believe by the types I should be able todo this:
[code]

[2020-07-13 09:43] XiaoningLiu commented on #9929
Thanks @bweggersen! Then it needs further investigation on Azure Storage production instead of a SDK issue. Wish for any updates from Azure Storage.

[2020-07-13 09:52] XiaoningLiu commented on #7676
Track this into next iteration fix list.

[2020-07-13 15:53] ramya-rao-a commented on #10026
Thanks @DVassilev

@XiaoningLiu Can you provide some guidance here?

[2020-07-13 16:37] #6475 closed

[2020-07-13 17:03] willmtemple opened #10032 "[ai-form-recognizer] @azure/ai-form-recognizer@3.0.0"
Tracking epic for work to be completed for Form Recognizer preview 5.

[2020-07-13 17:18] willmtemple opened #10033 "[ai-form-recognizer] Revert DataTable to single cells array"
Instead of indexing table cells automatically by row, we will revert to using a single `cells` array. The current layout is just close enough to the DOM to be confusing, as it requires some extra pre-processing to be able to map to the DOM correctly.

Since we can add convenience methods/conversions later additively, we're going to return the layout exposed by the REST API for now.

[2020-07-13 18:36] jeremymeng commented on #8303
Does the service return an error in this case?

@tg-msft How did .NET solve this problem without multiple backends?

[2020-07-13 19:37] richardpark-msft opened #10034 "[service-bus] Move peekLock/receiveAndDelete flag into `options`"
As part of of our API consistency we want to move the lockmode parameter to be part of the options bag (with the default value being 'peekLock`).

This parameter in the signature is currently used to provide some nice type safety (via `Receiver<ReceivedMessageWithLock|ReceivedMessage>`) which should be preserved when we move the parameter.

In addition we just want to make sure that the doc for th

[2020-07-13 22:50] leaderiop opened #10036 "can't attach/detach public ip from nic"
**Is your feature request related to a problem? Please describe.**
i'm user @azure/arm-network when i want to attach/detach a pulic ip to/from my nic i had to update all my nic

i prefer to use a code like this to attach a public ip to my nic
client.publicIPAddresses.attach(groupName,nicName,privaetIpName,publicIpName)

i prefer to use a code like this to detach a public ip from my nic
client.publ

[2020-07-13 23:13] willmtemple commented on #9113
We generally don't want to run the SDK linter on the samples. `eslint-plugin-azure-sdk/azure-sdk-base` is specifically for library code, and sample code doesn't need to be subject to its limitations. We could run a different config, or create a subconfig in our plugin's package for samples.

[2020-07-14 02:13] dw511214992 commented on #10004
thank you @d-burr.

Hi @ramya-rao-a
I find the response of service is a xml, which looks like:
[code]
It's different from the swagger definition, which defines response as json:
[code]
So, we need to ask service team to fix the swagger and ask for a new release.

An additional question, does ms-rest-js support deserialise xml response as an object?

[2020-07-14 02:20] XiaoningLiu commented on #10026
@DVassilev See https://github.com/Azure/azure-sdk-for-js/blob/3157a3d2e8c920c6d1cb6f4fe5f1882f647263a1/sdk/storage/storage-blob/test/node/sas.spec.ts#L561

[2020-07-14 03:31] VanyLaw opened #10044 "update @azure/arm-appinsights and @azure/arm-botservice package."
**Is your feature request related to a problem? Please describe.**
I can not new a ApplicationInsightsManagementClient instance(come from @azure/arm-appinsights) and AzureBotService instance (come from @azure/arm-botservice) if I only have a accessToken.

I create a TokenCredentials instance with accessToken, which is implement the ServiceClientCredentials, and try to use this as the parameter to

[2020-07-14 03:34] VanyLaw opened #10045 "error when create a ApplicationInsightsManagementClient instance"
- **Package Name**: @azure/arm-appinsights ; @azure/arm-botservice
- **Package Version**: newest in npm
- **Operating system**: window
- [x] **nodejs**
    - **version**:
- [x] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

[2020-07-14 03:47] ramya-rao-a commented on #10004
Yes, I believe so.
cc @joheredi to confirm

[2020-07-14 04:32] chradek commented on #9926
@sunilsmith
Thank you for the logs! I was able to reliably reproduce the `TypeError` you're seeing and have created #10046 to address this.

In the case where the receiver is no longer receiving messages and you don't see the `TypeError`, do you ever see the error handler invoked, or does the receiver silently 'give up'?

[2020-07-14 06:32] HarshaNalluru commented on #10009
Here's a fix in a draft that works for these "query" tests - draft #10048

Adding a new function(private) that helps to update the fixture before the recording is saved, by wrapping the hex-value string with `Buffer.from(<val>, "hex")`.

![image](https://user-images.githubusercontent.com/10452642/87392142-df2caa00-c560-11ea-86af-30c5250a0ed7.png)

[2020-07-14 06:38] ljian3377 commented on #10009
That's great. Wonder if the test recording in browser has the same problem.

[2020-07-14 08:37] sunilsmith commented on #9926
@chradek I did not got any TypeError or the error handler getting invoked, as you have mentioned the receiver silently 'gave up'.

[2020-07-14 09:38] qiaozha commented on #9961
https://www.npmjs.com/package/@azure/arm-dns/v/4.0.0 @davisfreimanis Hi, Can you try the 4.0.0 to see if it works for you? Thanks.

[2020-07-14 11:20] DVassilev commented on #10026
@XiaoningLiu I see, is it possible to apply it to a blob though as opposed to a container? I don't see a setAccessPolicy on the blob client in the documentation.

I'm trying to make it so that I can generate SAS for accessing a blob and then be able to revoke it. My understanding is that I could use stored access policies to do that.

[2020-07-14 11:21] sunilsmith commented on #9926
@chradek
Thank you for looking into this issue.
I have capturing the logs for @azure/service-bus package and it's stack trace can be found in the attachment.
[debug-13-7-20.log](https://github.com/Azure/azure-sdk-for-js/files/4918399/debug-13-7-20.log)

I will monitor error handler and will update the ticket in case I notice any errors getting logged in the errorHandler.

[2020-07-14 14:10] davisfreimanis commented on #9961
Thank you for resolving this so swiftly. I have downloaded the newest package and it works as expected.

[2020-07-14 14:10] #9961 closed

[2020-07-14 16:40] ramya-rao-a commented on #4320
Small update:

The latest version of the `@azure/arm-dns` package will now be using v2 of `@azure/ms-rest-azure-js` and `@azure/ms-rest-js": "^2.0.4`.

[2020-07-14 19:14] HarshaNalluru opened #10052 "[Service Bus] Expose `deadletterErrorDescription` and `deadletterReason` on the `ReceivedMessage`"
Currently, it is hidden under the properties, add new fields and populate them appropriately.
This makes it consistent with the other languages(.NET and Java has them, Python is adding them)

[2020-07-14 20:10] HarshaNalluru commented on #9912
I tried to repro on my local machine.
This test did not fail even once in 1000 iterations.

[2020-07-14 20:59] jssuttles commented on #5143
Is there a temporary workaround for this issue? I'm running into this while using nwjs as well (https://github.com/nwjs/nw.js)

[2020-07-14 22:26] southpolesteve commented on #7797
@mortezasoft Are you still seeing this on the latest SDK?

[2020-07-14 22:26] southpolesteve commented on #7825
Closing this issue as stale. If the above example does not work, please modify it to reproduce the issue. Thanks!

[2020-07-14 22:26] #7825 closed

[2020-07-14 22:27] southpolesteve commented on #8762
@beth-panx Are you still seeing this issue with the latest SDK?

[2020-07-14 22:48] chradek commented on #9926
@sunilsmith
Thanks for the additional stack trace and logs. It looks like after a long duration, there's an issue with the underlying connection to the service and a new connection is being created. While this is happening, you're hitting the race condition that #10046 fixes where the old connection still exists briefly and enters a bad state (this sometimes causes an unhandled error like the `idl

[2020-07-15 02:07] qiaozha commented on #10045
@changlong-liu  Can you please take a look at this issue? Thanks

[2020-07-15 02:23] ramya-rao-a commented on #9958
Updates on the next steps:

cc @shankarsama, @axisc from the service team for an update

For the current version, we ask that as a user, you add retries on your end. In the upcoming new major version of the package, we allow configurable retry policy that you can tweak and have the package do the retries. We are working on a sample to show how you can do this, will update with a link soon.

Curren

[2020-07-15 03:17] XiaoningLiu commented on #10026
setAccessPolicy is only for container. But you can generate SAS using container access policy ID for a blob. You can revoke container access policy to revoke the blob SAS.

[2020-07-15 03:21] qiaozha commented on #10036
Looks like this is a new feature request add service team to confirm

[2020-07-15 03:43] VanyLaw commented on #10045
**FYI. Error messages are:**
error TS2345: Argument of type 'import("/Composer/plugins/node_modules/@azure/ms-rest-js/es/lib/credentials/serviceClientCredentials").ServiceClientCredentials' is not assignable to parameter of type 'import("/Composer/plugins/node_modules/@azure/arm-appinsights/node_modules/@azure/ms-rest-js/es/lib/credentials/serviceClientCredentials").ServiceClientCredentials'.
  Ty

[2020-07-15 05:33] ramya-rao-a commented on #8273
Receiver Redirect and SharedKeyCredential features are moved to the Backlog

Version 5.2.2 was released with bug fixes
Version 5.3.0-preview.1 was released with options to configure the load balancing feature

See [Changelog](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-hubs/CHANGELOG.md#530-preview1-2020-07-07) for more details

[2020-07-15 05:33] #8273 closed

[2020-07-15 05:45] ramya-rao-a commented on #3896
When this issue was logged, we were working on a very different client structure with individual senders and receivers. Does the concern here still apply to the model that we eventually shipped?

[2020-07-15 05:47] zzhxiaofeng opened #10065 "Azure Storage SDK has a error when running BlockBlobClient highlevel unit test"
Package Name: @azure/storage-blob
Package Version: v12.1.2
Operating System: windows 10
Nodejs Version: v12.18.0
Typescript Version: v3.9.5

Issue Description:
Run BlockBlobClient highlevel unit test with Azure Storage SDK In azure-sdk-for-js, an error is shown in the figure below:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/20970631/87412644-d9d06d80-c5fb-11ea-91a8-e42b647d9

[2020-07-15 05:51] ramya-rao-a commented on #4666
`events` is used in `rhea-promise` and in the test code in `@azure/core-amqp`

It is included in the rollup script for the latter as well

[2020-07-15 06:34] ramya-rao-a commented on #3057
Updated link: https://github.com/Azure/azure-sdk/blob/master/_includes/tables/environment_variables.md

The ones under `Identity` section is handled by the `@azure/identity` package.
AZURE_LOG_LEVEL is already taken care of in the `logger` package.

@xirzec, Can AZURE_TRACING_DISABLED be handled in a central location i.e. in the `core-tracing` package?

https://github.com/Azure/azure-sdk-for-js/is

[2020-07-15 06:39] ramya-rao-a opened #10069 "Review ObjectSerializer proposal for JavaScript"
https://github.com/Azure/azure-sdk/issues/1454 tracks the proposal for ObjectSerializer from the .Net perspective.
Java has something similar.

We need to review the discussion there to see if Azure Core in the JavaScript land needs any counterparts to ObjectSerializer or not.

One upcoming use case for this would be the Avro serializers for Azure Event Hubs.
Another related aspect to this is our

[2020-07-15 06:40] DVassilev commented on #10026
@XiaoningLiu good tip! Is there a limit to the number of stored access policies per container?

[2020-07-15 06:44] ramya-rao-a commented on #10069
Related issue in Python: https://github.com/Azure/azure-sdk-for-python/issues/12557

[2020-07-15 06:53] ramya-rao-a opened #10076 "Onboard Schema Registry service"
Schema Registry is a new service that is currently in private preview.
This issue is to track work to onboard the SDK for this service.
This work is planned for the August milestone and does not involve shipping the package which will be done in the September milestone.

- decide package name
- auto generate the package using the latest v6 code generator on the [swagger](https://github.com/Azure/a

[2020-07-15 07:17] gwh-cpnet opened #10077 "[cosmos] resourceTokenExpirySeconds range in resource token generation"
- **Package Name**:  @azure/cosmos
- **Package Version**:  3.7.4
- **Operating system**:
- [x] **nodejs**
    - **version**:  12.18.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [*] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Based on my li

[2020-07-15 07:37] XiaoningLiu commented on #10026
Max 5 access policies for a container.

[2020-07-15 09:13] XiaoningLiu commented on #10026
Closing this, not a SDK issue.

[2020-07-15 09:13] #10026 closed

[2020-07-15 09:14] XiaoningLiu commented on #9929
Not SDK issue, closing this. Also looking forward to any findings from Azure Storage side.

[2020-07-15 09:14] #9929 closed

[2020-07-15 09:21] XiaoningLiu commented on #9359
No response for long time, closing issue.

[2020-07-15 09:21] #9359 closed

[2020-07-15 09:21] #5279 closed

[2020-07-15 09:22] #5739 closed

[2020-07-15 09:23] mortezasoft commented on #7797
@southpolesteve The function is using the SDK version 3.6.2 and the issue is still there. Shall I upgrade the SDK?

[2020-07-15 09:23] XiaoningLiu commented on #5211
@simon276 Browser `File` or `Blob` type doesn't require loading data into memory. You can upload a local file (serveral GBs) via this method.

[2020-07-15 09:25] XiaoningLiu commented on #6577
Closing it without response for long time. Feel free re-open if any updates.

[2020-07-15 09:25] #6577 closed

[2020-07-15 09:25] #6886 closed

[2020-07-15 09:26] ljian3377 commented on #8979
Close as inactive.

[2020-07-15 09:26] #8979 closed

[2020-07-15 09:26] XiaoningLiu commented on #8583
Long time no response, closing issue.

[2020-07-15 09:26] #8583 closed

[2020-07-15 09:26] #8432 closed

[2020-07-15 09:27] XiaoningLiu commented on #8626
No response for long time, closing it.

[2020-07-15 09:27] #8626 closed

[2020-07-15 09:31] #5197 closed

[2020-07-15 09:34] #5211 closed

[2020-07-15 12:48] go-shinyashiki commented on #9607
Sorry it took me so long to reply!
We've solved the problem! Thanks for the answer!

[2020-07-15 15:03] southpolesteve commented on #7797
Yes. We did fix up a couple bugs in the request pipeline. I am not 100% sure they are the cause here, but doesn't hurt to try.

[2020-07-15 15:37] beth-panx commented on #8762
Nope I am all good. Thanks for helping out!!

[2020-07-15 15:37] #8762 closed

[2020-07-15 16:29] jeremymeng commented on #10065
@zzhxiaofeng the error `ENETUNREACH` indicates that there were network issues thus you could not connect to azure.  Storage live tests are running in a nightly build pipeline without this issue.  Do you have another more stable network to try again?

[2020-07-15 17:19] southpolesteve commented on #10077
Unfortunately, the 10 minute minimum is a backend limit and not changeable by the SDK: https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#per-request-limits. If you need more details, you can always open up an Azure support ticket

[2020-07-15 18:26] violetviolinist opened #10079 "ClientSecretCredential authentication mechanism not working with this SDK"
I have a use case where I need to authenticate the storage-blob SDK using the `clientSecretCredential` object built programmatically. I have to do this because my use case doesn't allow me to manipulate the environment variables required to use the `DefaultAzureCredential`.

Is it possible to support the ClientSecretCredential for authentication in this SDK?

Currently, I get the following error w

[2020-07-15 19:23] ramya-rao-a opened #10081 "[Service Bus] Update input & output interfaces for CRUD operations on the ManagementClient"
This issue is to track the below changes in the `ServiceBusManagementClient` class based on discussions in https://github.com/Azure/azure-sdk-for-net/issues/13352

- [x] The interfaces *RuntimeInfo renamed to *RuntimeProperties
- [x] The interfaces *Description renamed to *Properties
- [ ] Input to Create* operations to be `Create*Options` with everything but name as optional
- [ ] Output of Creat

[2020-07-15 19:25] ramya-rao-a opened #10082 "[Service Bus] Flatten MessageCountDetails in ManagementClient"
This issue is to track the changes to message count details in the *RuntimeInfo interface based on the discussions in https://github.com/Azure/azure-sdk-for-net/issues/13353
- flatten the MessageCountDetails
- rename `messageCount` to `totalMessageCount`

[2020-07-15 20:50] sadasant opened #10084 "[Identity] Only wait to refresh tokens if there's no token, or if the token expired"
This task is about only refreshing the token if there's no token of if it expired.

The C# implementation comes from: https://github.com/Azure/azure-sdk-for-net/pull/13087

We can deviate in the implementation, since this is considerably tied to how the async works in each language.

Some requirements:

- Do not trigger multiple retries, just one.
- Do not trigger this more than once every 30 seco

[2020-07-15 21:16] HarshaNalluru commented on #10081
Opened a draft for CreateQueueOptions and restricted response with readonly props that are not updatable.
https://github.com/Azure/azure-sdk-for-js/pull/10049/files

[2020-07-15 22:14] danieljurek opened #10086 "Onboard Form Recognizer live testing resources in sovereign clouds"
Form recognizer fails to deploy in US Gov and China Clouds because it is trying to generate SAS tokens for accounts that aren't available.

1. Create storage accounts
1. Upload assets into locations in the storage accounts
1. Update `*ArmTemplateParameters` in smoke-tests.yml file to include these new params

[2020-07-15 22:45] richardpark-msft commented on #9971
Going to close this issue, please let me know if you have more questions.

[2020-07-15 22:45] #9971 closed

[2020-07-15 22:48] ramya-rao-a commented on #8111
Fixed in #8849

[2020-07-15 22:48] #8111 closed

[2020-07-15 22:52] #9607 closed

[2020-07-15 22:59] ramya-rao-a commented on #10079
@violetviolinist,
Can you share a code snippet of how use created the credential and then used it with the storage blob sdk?

@jeremymeng,
AFAIK, all credentials from the `@azure/identity` package are usable with the storage sdk right?

[2020-07-15 23:06] jeremymeng commented on #10079
Yes, `ClientSecretCredential` implements `TokenCredential` so it should work with blob sdk.

[2020-07-15 23:06] HarshaNalluru opened #10087 "[Service Bus] Fix the user-agent string in the browsers and pass it for the ATOM MgmtClient"
Reference from EventHubs from @chradek
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-hubs/src/util/runtimeInfo.ts https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-hubs/src/util/runtimeInfo.browser.ts

[2020-07-15 23:15] xirzec commented on #3057
I'm actually curious what we should do in the case that `AZURE_TRACING_DISABLED` is set but the user passes us a valid tracer and parent span.

Certainly we could make a helper for looking at the variable and put that in `core-tracing`, though I'm less certain about the best way to implement since today we use a NoopSpans in the null case. Maybe if that variable is set, we simply throw if you try

[2020-07-15 23:16] chradek commented on #9792
@ahsanhabib91
We've just released service-bus 1.1.8 that fixes many of the TypeError issues we've encountered.
https://www.npmjs.com/package/@azure/service-bus/v/1.1.8

Can you give this new version a try?

[2020-07-15 23:17] chradek commented on #9926
@sunilsmith
We have just released version service bus version 1.1.8!
https://www.npmjs.com/package/@azure/service-bus/v/1.1.8

Can you give this a try so we can be sure this fixes the issue you were seeing?

[2020-07-15 23:28] richardpark-msft commented on #9958
Hi @shlomiassaf, we've updated our `receiveMessagesStreaming` sample to show how to add in an externalized retry around recreating a receiver:

https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples-v1/typescript/src/receiveMessagesStreaming.ts

[2020-07-16 01:20] ashinzekene opened #10091 "[App-configuration] Usage on the browser"
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

Sorry, it's just a quick question. From the [App-configuration readme](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/appconfiguration/app-configuration/README.md#prerequisites), there is a requirement for Node 8.x.x+

I want to know if its

[2020-07-16 01:49] DVassilev commented on #10026
@XiaoningLiu I see, so in that case it's not suitable for using it for revoking SAS as there could be thousands at the same time. I presume in that case that Storage doesn't have an equivalent that can support it?

[2020-07-16 02:14] gwh-cpnet commented on #10077
@sourabhguha , Thanks for pointing out the related doc page. Just wish this link can show up in somewhere near

https://docs.microsoft.com/en-us/javascript/api/@azure/cosmos/requestoptions?view=azure-node-latest#resourcetokenexpiryseconds

or

the `five hours` part at https://docs.microsoft.com/en-us/azure/cosmos-db/secure-access-to-data#resource-tokens-

So developers would not have to test it ou

[2020-07-16 03:08] changlong-liu commented on #10045
Hi applicationinsights service team, the JS SDK is using a old version of ms-rest, would you confirm we need to release a new SDK based on latest swagger? Thank you.

[2020-07-16 03:55] gwh-cpnet commented on #4972
This workaround works but quite ugly.

The typical use case for resource tokens is for 3rd parties to access to their restricted, aka partitioned, section of the whole container.items.

But as for me, the platform, aka API endpoints, we do not want to let the 3rd parties to know their being restricted.

So when the 3rd parties run query like `SELECT VALUE COUNT(1) FROM c`, it would return the full

[2020-07-16 04:29] sunilsmith commented on #9926
@chradek
Great news!!! Looking forward the earliest release of v1.1.8 and appreciate your work.

As far i monitored did not notice any error getting logged in the errorHandler but will update the ticket if errorHandler logs any error. I peridocally check the receiver state using **receiver.isReceivingMessages()** method.

Great News..!! Sure will run the apllication and see whether i can able to r

[2020-07-16 04:47] southpolesteve commented on #4972
@gwh-cpnet We added partitionKey back to the feed options in 3.6.3 https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/CHANGELOG.md#363-2020-4-08 so initial headers should not be needed anymore.

Unfortunately completely hiding the partition key is difficult. The resource tokens for Cosmos do not contain metadata for operations. IE, the SDK has no way to tell from a single re

[2020-07-16 05:25] gwh-cpnet commented on #4972
@southpolesteve Thanks for feedback.

I have verified that replacing the `initialHeaders` with [`partitionKey`](https://docs.microsoft.com/en-us/javascript/api/@azure/cosmos/feedoptions?view=azure-node-latest#partitionkey) property works fine.

Even though resource token is lack of metadata, calling `cosmos.user(userId).permissions.readAll().fetchAll()` would return newly generated token along wit

[2020-07-16 06:23] ramya-rao-a commented on #5655
Hello all,

Just adding an update here that we will be releasing the first preview next month.

Thanks for your patience!

[2020-07-16 06:34] mpth commented on #5655
Great news - thanks for the update!

[2020-07-16 06:38] stingray111 opened #10093 "Argument of type 'MSIAppServiceTokenCredentials' is not assignable to parameter of type 'ServiceClientCredentials'."
- **Package Name and Version**:
"@azure/arm-containerinstance": "^5.4.0"
"@azure/ms-rest-nodeauth": "^3.0.5"

- **Operating system**:
Linux
- [x] **nodejs**
    - **version**: v10.18.0
- [x] **typescript**
    - **version**: ^3.9.6

**Describe the bug**
Typescript gives warning when I try to use loginWithAppServiceMSI in "@azure/ms-rest-nodeauth" to authenticate ContainerInstanceManagementClient i

[2020-07-16 06:52] sunilsmith commented on #9926
@chradek

In our application we are dealing only with ServiceBus Topics but i'm curious to know whether this issue was present for ServiceBus Queues as well and need to know whether this release will fix issues related to ServiceBus Queues if applicable.

[2020-07-16 07:17] ramya-rao-a commented on #10093
@stingray111

You are using a very old version of the `@azure/arm-containerinstance` package which is not compatible with the latest version of the `@azure/ms-rest-nodeauth` package.

You have one of two options to move forward:
- Either change the version of `@azure/ms-rest-nodeauth` from v3 to v2
- Or change the version of `@azure/arm-containerinstance` to v9 or above

[2020-07-16 07:21] ljian3377 opened #10094 "[storage][test-utility] test case in browser log twice"
Now our test cases under storage-blob/test/ get run twice with `npm run test:browser`.

I am configuring those thing for our new pacakges; so wonder if this is by design. If not, how to fix?

[2020-07-16 07:21] ramya-rao-a opened #10095 "Add github releases and tags for auto-published packages"
We use 2 different pipelines to publish packages from this repo
- The one that supports auto-publishing the package when a PR is merged with an updated package version. This is for all the auto generated packages both data & management plane
- The other that is triggered manually for each of the newer packages that are hand written. For these, we have GitHub releases and tags created.

The use of

[2020-07-16 07:22] ramya-rao-a commented on #5901
Hey all,

The readme on the luis packages now have a table that maps package version to the service api version being used.
#10095 has been logged to track the feature request to have git tags for each release.

There is no further action item here, so closing the issue.

[2020-07-16 07:22] #5901 closed

[2020-07-16 07:25] ramya-rao-a commented on #5053
Closing this issue as there has been no user activity here after the clarification provided above.
Please create a new issue for further questions

[2020-07-16 07:25] #5053 closed

[2020-07-16 07:25] stingray111 commented on #10093
@ramya-rao-a

Thank you for your response. I would like to update the @azure/arm-containerinstance but the latest I can search for is 5.4.0 ( https://www.npmjs.com/package/@azure/arm-containerinstance). Can you give me some pointer on how to get a v9 library for that?

[2020-07-16 07:36] violetviolinist commented on #10079
@ramya-rao-a
Here's my code sample:

[code]

My guess is that the SDK is working as it should be, but the backend is responding differently to `ClientSecretCredential` vs `DefaultAzureCredential` for some reason

[2020-07-16 07:51] XiaoningLiu commented on #10079
Error message is from AAD, remove storage tag.

[code]

[2020-07-16 07:51] HarshaNalluru commented on #10094
Commands in the `package.json` look good to me.

Karma gets disconnected based on the timeout specified at karma.conf, I wonder if some test is taking more time than that triggering a disconnect and restarting karma. I haven't tested yet.

Is it with the live tests only? Is it happening only on local?

[2020-07-16 08:00] changlong-liu commented on #10044
close since it's dup with https://github.com/Azure/azure-sdk-for-js/issues/10045

[2020-07-16 08:00] #10044 closed

[2020-07-16 08:00] #7785 closed

[2020-07-16 08:13] KarishmaGhiya commented on #10095
I think yes, this makes sense. We should have this feature for the management pipelines too.

[2020-07-16 08:17] ljian3377 commented on #10094
The test case didn't take much time. I guess this is due to the `files` property of our karma conf but not sure how to make it right.
[code]

Do we have some experts of karma?

[2020-07-16 08:45] Tianyun-G opened #10096 "Service Bus Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/servicebus/Azure.Messaging.ServiceBus#using-the-processor):
![image](https://user-images.githubusercontent.com/65581162/87649594-137fb080-c783-11ea-8a8a-f2bc1431ac9b.png)

Reason:
'ProcessMessageEventArgs' does not contain a definition for 'CompleteMessageAsync'.

Suggestion:
Update `CompleteMessageAsync`  to `CompleteAsy

[2020-07-16 08:51] Tianyun-G opened #10097 "Azure.Search.Documents Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/search/Azure.Search.Documents#use-searchdocument-like-a-dictionary-for-search-results)
![image](https://user-images.githubusercontent.com/65581162/87650560-6a39ba00-c784-11ea-8944-f58d4e679bb7.png)

Reason:
System.Collection.Generic.KeyNotFoundException:
Could not find a member called 'hotelId' and 'hotelName' in the docu

[2020-07-16 09:08] violetviolinist commented on #10079
So, the correct way to instantiate the `ClientSecretCredential` object was this:
[code]

and not this (a JSON object):

[code]

I'm embarrassed, but thank you for the prompt attention!

[2020-07-16 09:08] #10079 closed

[2020-07-16 09:08] Tianyun-G opened #10098 "Azure.Identity Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/identity/Azure.Identity#contributing):
![image](https://user-images.githubusercontent.com/65581162/87652380-b8e85380-c786-11ea-9c2e-4c6b75b75333.png)

Suggestion:
Add hyperlink for `Code of Conduct FAQ`.
Link:  https://opensource.microsoft.com/codeofconduct/faq/

2.
Section [link](https://github.com/Azure/azure-sdk-for-ne

[2020-07-16 09:12] #10098 closed

[2020-07-16 09:13] #10097 closed

[2020-07-16 09:14] #10096 closed

[2020-07-16 11:34] ashinzekene commented on #10091
I run into a couple of errors after importing `AppConfigurationClient`.

1. `setTimeout()` returns `Node.Timeout` instead of `number`
2. Subsequent variable declarations must have the same type.  Variable 'require' must be of type '
       LocalRequire', but here has type 'NodeRequire'.
3. Duplicate identifier 'Module'
4. Subsequent variable declarations must have the same type.  Variable 'require

[2020-07-16 15:13] ramya-rao-a commented on #10093
@stingray111 My apologies, I misunderstood and assumed that you were using `@azure/arm-containerservices`.

@changlong-liu, This would need us to re-generate the `@azure/arm-containerinstance` using the latest v4 code generator and release an update.

[2020-07-16 15:14] ramya-rao-a commented on #10091
@ashinzekene, Can you provide a gist showing an example of how you have used `AppConfigurationClient` in the browser project so that we can try and replicate the issue?

[2020-07-16 15:20] ramya-rao-a commented on #9926
@sunilsmith,

The fix we put is agnostic to whether you are using queues or topics. So, it will apply to both.
Were you able to replicate your issue with the latest update?

[2020-07-16 15:36] #4921 closed

[2020-07-16 15:46] #9939 closed

[2020-07-16 16:20] jeremymeng commented on #10094
`run test:browser` will run `unit-test:browser` and `integration-test:browser`.  You could pick either one to run locally.

[2020-07-16 16:23] deyaaeldeen commented on #9213
Close this issue in favor of #9989.

[2020-07-16 16:23] #9213 closed

[2020-07-16 16:28] jeremymeng commented on #10094
Please discard the above. I was wrong. It only runs `unit-test:browser`.

[2020-07-16 16:45] jeremymeng commented on #10094
The build pipelines look fine.

[2020-07-16 17:06] richardpark-msft commented on #10091
Also, @ashinzekene, can you share which bundler you're using?

[2020-07-16 20:34] richardpark-msft commented on #10091
@ashinzekene - (just to mention, my question was in addition to what @ramya-rao-a was asking).

If you can post a gist that replicates your issue we'll be able to help you faster.

[2020-07-16 21:30] joheredi opened #10103 "[core-http] Fetch default redirect handling disables core-http RedirectPolicy"
Looking into an issue in Autorest, I found that the RedirectPolicy doesn't seem to be executing. From my investigation, I think the reason is that by default the Fetch API would set its `redirect` option to "Follow" which would try to follow redirects, so our Policy doesn't have a chance to execute.

@xirzec, do we want to set `redirect: "manual"` so that fetch doesn't handle redirects for us and

[2020-07-16 21:42] HarshaNalluru commented on #10094
I don't think so. Files under `files` array are loaded into the browser as soon as karma starts and that's the end of the story, if you've observed something related to the files, I believe it must be that the karma restarted and the files were loaded again.

---------------------------------------------------------------
I'll execute the tests with `test:browser` to see if I can repro.

[2020-07-16 21:50] jonathandturner commented on #10014
@ramya-rao-a - You're right. The latest preview allows you to use your Azure CLI or your VS Code (Azure Account extension) credentials.

@karthikm249 - If you run DefaultAzureCredentials using one of these preview versions, it should automatically pick up the local credentials, without any additional configuration required in your code.

[2020-07-16 21:53] jonathandturner commented on #9904
The `@azure/identity` package doesn't support SharedTokenCacheCredential, yet, though we're working on adding support for it.

If you use one of the preview versions of the `@azure/identity` npm package, you can use DefaultAzureCredential. This will connect to Managed Identity as the chain of credentials it tries. It also comes pre-configured to connect via Azure CLI and VS Code (using the Azure A

[2020-07-16 21:56] xirzec commented on #10103
I'm ok with passing that option to fetch if that causes the right behavior.

`core-https` doesn't use fetch, so I don't think we need to worry there.

[2020-07-16 22:08] ashinzekene commented on #10091
I'm trying to reproduce it on a simple project but I haven't been able to. The error just comes up once the library is imported

![image](https://user-images.githubusercontent.com/20991583/87727648-46449b80-c7b9-11ea-9723-be059128791d.png)

[2020-07-16 22:23] ramya-rao-a commented on #10014
Thanks @jonathandturner

@karthikm249 Please try out the previews and share any feedback you have

[2020-07-16 22:23] #10014 closed

[2020-07-16 22:24] ramya-rao-a commented on #9904
Thanks @jonathandturner

@isaacjoe, Please try out the previews and share any feedback you have

[2020-07-16 22:24] #9904 closed

[2020-07-16 22:27] #9958 closed

[2020-07-17 01:58] changlong-liu commented on #10093
Thanks @ramya-rao-a .

And I see the swagger for containerinstance has been changed greatly since last release, a regeneration will involve these changes, including some breaking changes. So add service team to advise whether we need to release new package based on latest swagger.

[2020-07-17 02:00] changlong-liu commented on #10093
Hi service team, would you help to confirm the swagger for containerinstance are ready for release, and send sdk-release-request if it does. Thank you!

[2020-07-17 02:51] ljian3377 commented on #10094
Note that I discover this by adding some `console.log()` in the test case. Then it will have two line logged for a single log line.

Output for https://github.com/ljian3377/azure-sdk-for-js/tree/karma-twice, where I simply add a `console.log` to a single case.

[code]

[2020-07-17 03:49] qiaozha commented on #10095
@KarishmaGhiya  That's truly useful. how may I help here?

[2020-07-17 04:02] jeremymeng commented on #10094
I updated browser console log recently. Could be related. However it looks like the test is executed once.

[2020-07-17 04:43] ramya-rao-a opened #10113 "Use api extractor in the auto generated packages"
This repo has two kinds of packages
- Packages that are auto generated and auto published
- Packages that are either completely hand written or partially hand written over auto generated code

The second kind runs the api extractor tool as part of build generating a markdown file that represents the public API surface of the package. The same would be very helpful for the first kind to determine w

[2020-07-17 05:51] #9956 closed

[2020-07-17 06:04] jeremymeng commented on #10094
I believe this is logging bug. It also happens before my recent changes to test recorder.

[2020-07-17 06:18] ljian3377 commented on #10094
Agreed. Looking at the web requests and they are only sent once.

[2020-07-17 06:27] jeremymeng opened #10122 "[storage][recording] "sr" query parameter should added to the ignore list"
Recording now saves it

![image.png](https://images.zenhubusercontent.com/5c51efcef73cf865af8994d5/55ee9ecf-d5ca-4733-b3f5-f749190333ee)

https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/storage/storage-queue/test/utils/testutils.common.ts#L34

[2020-07-17 07:01] ashinzekene commented on #10091
@ramya-rao-a @richardpark-msft  Here's a link to the public gist

https://gist.github.com/ashinzekene/da87b8ce3a26fd6e16ba17348d0f42fb

Also, we use `Q.Promise` which is compatible with `Promise` from `lib.es5.d.ts`, but importing `AppConfiguration` loads from `lib.es2015.iterable.d.ts` which throws this error

![image](https://user-images.githubusercontent.com/20991583/87758089-b1b35b00-c803-11ea

[2020-07-17 08:00] #6234 closed

[2020-07-17 09:17] HarshaNalluru commented on #10094
I believe this is logging bug. It also happens before my recent changes to test recorder.

No, this is not from the recorder.
This issue existed from the beginning, I believe the issue is caused because of the reporters we use in **karma.conf**.

**Related issues**
https://github.com/karma-runner/karma/issues/2342
https://stackoverflow.com/questions/42326095/how-to-avoid-duplicate-logging-with-kar

[2020-07-17 09:25] HarshaNalluru commented on #10094
Just verified by disabling `karma-remap-istanbul` and executed the test

![image](https://user-images.githubusercontent.com/10452642/87770463-e90a1380-c7d3-11ea-9ec1-d72abd848b7a.png)

Without the `karma-remap-istanbul` reporter, the console.log is logged only once (no more duplication).

[2020-07-17 09:27] HarshaNalluru commented on #10094
We need `karma-remap-istanbul` for the test coverage. So, we either have to live with the duplication or look for another coverage plugin that would remove the duplication.

[2020-07-17 10:35] rubiin opened #10125 "Handling error"
I could not find any error handling for the connection. Also how could i know that the connection was a success

[2020-07-17 11:13] DivyaNaveen31 commented on #9485
how to delete a container
I tried await database.delete();,but it throws error

[2020-07-17 13:03] sadasant commented on #9247
Hello, @epomatti !! Good day to you.

So, as far as I'm able to understand at the moment, the error is saying that at least one of the following environment variables is missing:

[code]

And, as you mentioned, you're providing the following environment variables:

[code]

For the authentication method you're trying to use, you must at least additionally provide the `AZURE_CLIENT_ID` environment v

[2020-07-17 16:04] #9645 closed

[2020-07-17 16:25] ramya-rao-a commented on #10125
Hey @rubiin

Can you please share the package you are using and a sample code snippet that shows what it is that you are trying to do?
Some more details on your scenario and requirement will also help

[2020-07-17 18:21] rubiin commented on #10125
i am using `@azure/service-bus` .
the code i am following is
[code]

so how can i know the connection established successfully on line `ServiceBusClient.createFromConnectionString(connectionString); `

[2020-07-17 18:37] richardpark-msft commented on #10091
Thank you for providing the gist! It looks like you're having a few problems so let's see if we can work through them one at a time:

## Your questions

1. (original issue): I want to know if its possible/any security implications using the package on the browser, especially with a read-only connection string

    Any time that you expose credentials in the browser you run the risk that the user w

[2020-07-17 19:34] bterlson commented on #8303
Just chiming in to say that I suppose an `apiVersion` PipelineOptions with methods which throw when they know they can't work with the selected API version. Agree with Jeremy that we can't do multiple back-ends because the package will be too fat.

[2020-07-17 19:44] ramya-rao-a commented on #10125
The `createFromConnectionString()` method does not establish the connection.
The package does lazy connection initialization once it encounters a user initiated action that does need the connection.

In the code snippet you have shared, the connection is established when the first message is sent.
You use the `await sender.open()` to ensure that the connection is established before sending your fi

[2020-07-17 19:54] ashinzekene commented on #10091
Thanks a lot @richardpark-msft for this detailed response.

`unrelated-file` is actually in the `Client` folder.

I was able to partially recreate the issue on codesandbox. You might have to clone the project locally and run `npm install`.

**Instructions:**
1. After running `npm install` check the return type of the `setTimeout` call in the `example.ts` file
2. Comment out the `AppConfiguration`

[2020-07-17 20:08] Oblarg opened #10128 "for...await through async iterator returned by cognitive search API infinite loops on first page of results"
- **Package Name**: search-documents
- **Package Version**: 1.0.0-preview2
- **Operating system**:
- [*] **nodejs**
    - **version**: 13.11.0

**Describe the bug**

Looping through the `results` prop of the object returned by `SearchIndexClient.search` with `for...await` when the results are paginated will not properly loop through the entire set of results.  Instead, it will infinitely loop thro

[2020-07-17 20:29] #9883 closed

[2020-07-17 21:23] mahdiva opened #10131 "[Tables] Sprint 3"
**Tasks**

- [x] Converting the client methods to using Generic Types for working with the Entities
- [x] Implement Entity Serialization/Deserialization
   - Create helper classes for Int64, Guid and Binary (ArrayBuffer) types

- [x] Create convenient methods for working with OData queries
- [x] Create Enum Types for the different modes of Update and Upsert
- [ ] Implement async iterables for page

[2020-07-17 21:28] zhenlan commented on #10091
@ashinzekene to your original questions
- When a connection string is included in a browser app, you basically granted *anonymous* access to your App Configuration store. One could exhaust the quota of your store and cause disruption of your legit usage. As  @richardpark-msft mentioned, the store will be billed for any overage too.
- Each standard tier App Configuration store has a limit of 20,000

[2020-07-17 22:55] chradek opened #10132 "[eventhubs-checkpointstore-blob] improve perf with versioned containers"
When calling `updateCheckpoint`, a new Blob is uploaded to Storage Blob. In the case where the storage account has soft deletes or blob versioning enabled, rather than explacing the existing blob when performing an upload, the older versions of the checkpoint blobs stick around in the container according to a retention policy.

What we discovered was that as we continuously updated checkpoints, th

[2020-07-17 23:29] epomatti commented on #9247
tx @sadasant how did I miss that. I must have automatically assumed user & pass only.

Anyways, we ended up building it in Python, creating an App registration and using a Service Principal with `CLIENT_SECRET` which is way better than anyone's password.

[2020-07-17 23:29] #9247 closed

[2020-07-17 23:59] ramya-rao-a commented on #10128
Hey @Oblarg,

Looks like you are using the preview version of the package.
We recently moved it out of preview.
Please try the latest version.

Meanwhile, @sarangan12 to see if this problem occurs in the latest version or not

[2020-07-18 00:12] sadasant commented on #9247
@epomatti I'm really happy that this worked for you! Thank you for answering so fast! Have a great weekend 🙌

[2020-07-18 08:00] #9601 closed

[2020-07-18 08:00] #9294 closed

[2020-07-18 08:31] sunilsmith commented on #9926
@chradek @ramya-rao-a
I am currently monitoring the new release and ensuring the issue is not replicated if the serviceBus is idle for longer duration.
I will share you the details once the test is completed.

[2020-07-18 21:34] Oblarg commented on #10128
I took the liberty of testing this on the latest version (v11.0.0) and the bug still occurs.

[2020-07-19 17:54] ramya-rao-a commented on #10128
Thanks for confirming the issue with the latest version.
We will look into the issue soon and get back here with an update

[2020-07-19 18:07] ramya-rao-a opened #10135 "[Service Bus] Document when exactly is a connection made with the service"
We have had a few customer reported issues around the confusion on when exactly a connection is made with the service.
#10125 is the most recent one.

This issue is to update the docs on the below methods to clarify whether these would result in making a connection or not
- ServiceBusClient constructor
- createSender()
- createReceiver()
- createSessionReceiver()
- createDeadletterReceiver()

[2020-07-19 18:30] ramya-rao-a commented on #8605
Hey @rajagopal4890

We will be closing this issue as we have not heard back from you regarding our questions above.
We have released 2 more updates to the Service Bus package since this issue was logged with more fixes to the connection reliability.

Please log a new issue with code snippets and logs if you are still seeing problems with the latest package.

Thanks for your patience.

[2020-07-19 18:30] #8605 closed

[2020-07-19 18:43] ramya-rao-a commented on #9311
Thanks for your patience here @ahsanhabib91

We will be closing this issue as we believe the improvements in the latest version of the Event Hubs package should solve the problem.

Similar fixes have been made to Service Bus as well and #9792 has been updated accordingly.

Please feel free to create a new issue if you continue to see this error.

[2020-07-19 18:43] #9311 closed

[2020-07-19 22:00] ramya-rao-a commented on #9702
@jeremymeng, Now that the fix to `@azure/core-auth` has been released, what are the next steps here?

[2020-07-19 22:32] ramya-rao-a commented on #1811
Here are the updated links as the ones in the issue description are broken:
- [Resource Group Name parameter in App Service](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/appservice/arm-appservice/src/models/parameters.ts#L618-L632)
- [Resource Group Name parameter in Storage](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/storage/arm-storage/src/models/parameters.ts#L277-L2

[2020-07-19 22:54] ramya-rao-a commented on #5290
@fashaikh, @erwinbooij,

Currently the connection string support in both Event Hubs and Service Bus libraries is restricted to having only the SharedAccessKey and SharedAccessKeyName in it, using which the library then creates the SAS token.

In the example shared in the issue description here, looks like what is being asked is the ability to pass in the SAS token itself in the connection string.

[2020-07-19 22:59] ramya-rao-a commented on #4097
@qiaozha, Can you please check if you can replicate this issue?

[2020-07-19 23:00] ramya-rao-a commented on #4293
@qiaozha, Can you please check if this issue persists on the latest version of `@azure/arm-operationalinsights`?

[2020-07-19 23:01] Oblarg commented on #10128
I suspect the bug is here:

https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/search/search-documents/src/searchClient.ts#L295

If I'm not mistaken, this is passing the original continuation token to the `searchDocuments` function repeatedly, forever.  It should decode `result.continuationToken` and pass that, instead.

[2020-07-19 23:08] ramya-rao-a commented on #4188
Our apologies @omerlh
Looks like we mislabelled this issue.

Based on the method call, I believe the package being used here is `@azure/arm-containerservice`

[2020-07-19 23:16] ramya-rao-a commented on #7989
This issue depends on https://github.com/Azure/ms-rest-js/issues/394 being fixed

[2020-07-19 23:18] ramya-rao-a commented on #9087
@zikalino Any updates here?
I would imagine that the swagger file would need to be updated to ensure that the operation is mapped to the right api version?

cc @joheredi for any insights

[2020-07-19 23:30] ramya-rao-a commented on #10045
@changlong-liu The last update to `@azure/arm-appinsights` was almost a year ago. Since then, the swagger spec has been updated multiple times and corresponding automated PRs have been opened in this repo as well, but none were merged. See https://github.com/Azure/azure-sdk-for-js/pulls?q=is%3Apr+appinsights+is%3Aclosed+in%3Atitle

I would take that as an indication that the service team has been

[2020-07-19 23:36] ramya-rao-a commented on #6780
@qiaozha, There was no changes done to the packages, so my guess is that something was fixed in the service side?

[2020-07-19 23:52] ramya-rao-a commented on #10128
Ah! That is a good catch!

We will get this fixed soon, but if you would like to send a PR to make the change we can work with you on it as well.
Given that you did the work to find the root cause, you should get the credit for making the fix too :)

If you are interested, below are some code pointers in the Contributing Guide:
- [Setting up your environment](https://github.com/Azure/azure-sdk-for

[2020-07-19 23:59] Oblarg commented on #10128
Will do, thanks for the pointers!

[2020-07-20 02:05] qiaozha commented on #6780
Yes. we haven't done anything in the package side.

[2020-07-20 02:09] qiaozha commented on #9087
I will take a look at this issue as Zim has transfered to another team

[2020-07-20 02:13] changlong-liu commented on #10045
Hi @ramya-rao-a , thanks for comments. I'll involve you in the mail thread we discussing this with the issue submitter and ApplicationInsights service team.

The reasons we didn't release new package by ourselves are:
1. the swagger has changed a lot since last release, we don't know whether they are ready in service side.
2. has breaking changes
3. the current swagger has definition issues, it's

[2020-07-20 03:04] qiaozha commented on #4097
@nickshiling Hi I am unable to repro this on my side. Can you check whether your subscription has the available locations that the message requires? And What's your default location?

[2020-07-20 03:27] qiaozha commented on #4293
@LalitTurbot  I think there's a minor error in your code. You can try to change the
`client.workspaces.createOrUpdate(resourceGroupName, workspaceName,{ "tags": tags }, (err, result) => {`
into
`client.workspaces.createOrUpdate(resourceGroupName, workspaceName, tags, (err, result) => {`
to see if it works.
This is because the third parameter is the workspace properties. but according to your `tags

[2020-07-20 03:47] qiaozha commented on #9087
I can repro your issue. But according to the swagger here https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/resources.json#L42 Operations_List is defined in 2019-10-01 and I remember there's an ARM rule that requires all the swagger should support Operations_List, I think service team should work on that to make

[2020-07-20 05:13] ramya-rao-a commented on #9061
@apclouds, looping you in here since you responded in #8217 which is a related issue. Do you have any insights here?

[2020-07-20 05:19] ramya-rao-a commented on #7618
In #9766, we improve the error message to `Failed to get a lock on the session ${this.sessionId}` with error code as `SessionCannotBeLockedError`. What our .Net friends have is definitely better, and we can make the update

[2020-07-20 05:20] ramya-rao-a commented on #7616
@chradek, Please do the required follow up here to help come to a decision on whether we want to make this change or not

[2020-07-20 05:22] ramya-rao-a commented on #7588
@jeremymeng, Did you mean to add the `Service Attention` label here instead of `Service`?

@willmtemple,  Have we heard back from the service team as to what the next steps here should be?

[2020-07-20 05:27] ramya-rao-a commented on #8088
Perhaps we can add a small section in the Contributing.md file.
Assigning to @deyaaeldeen as he has been working with the new VS Code node debugger which would work out of the box without the need for any debug configuration

[2020-07-20 05:33] ramya-rao-a commented on #5049
Closing as the builds have been stable in the recent past

[2020-07-20 05:35] ramya-rao-a commented on #4925
@southpolesteve Given that we have #4815 tracking the continuation token requirement, I believe there is nothing more that we can do here. If so, can we close this issue?

[2020-07-20 05:47] ramya-rao-a commented on #6191
@dparkar Our apologies for the very late reply here.
Can you clarify which service were trying to get the quota and usage information for?

[2020-07-20 05:49] ramya-rao-a commented on #4822
@southpolesteve Any updates we can share here now that we are on v3 is out?

[2020-07-20 06:37] nawarajsubedi commented on #7907
``

[2020-07-20 06:59] ruowan opened #10138 "@azure/applicationinsight-query authentication is not valid"
- **Package Name**:  @azure/applicationinsight-query@1.1.0 @azure/ms-rest-nodeauth@2.0.4
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.co

[2020-07-20 07:21] ramya-rao-a commented on #4293
That looks right based on the method definition @qiaozha, thanks!

I'll close this issue because it was originally logged over a year ago, and I doubt @LalitTurbot is still blocked on this particular code path.

@LalitTurbot, if you still see any problems, please log a new issue and our apologies for the late reply.

[2020-07-20 07:21] #4293 closed

[2020-07-20 16:20] jeremymeng commented on #7588
Right, this is not a place to track service issues. We should follow up with service team instead and close this.

[2020-07-20 16:25] sadasant commented on #9791
For this issue, I have proposed this change: https://gist.github.com/sadasant/133abbdedec7ccfe4ffd50092a3b6e05 but it's an API change that we won't be able to make for the next identity release.

[2020-07-20 16:41] ramya-rao-a commented on #8163
@jeremymeng Is there anything else we can do here?

[2020-07-20 16:43] ramya-rao-a commented on #8078
@XiaoningLiu, Is there anything else we can do here or should this issue be closed?

[2020-07-20 16:44] ramya-rao-a commented on #7983
@chethanack, Hopefully the above pointers have helped you.
Please feel free to log a new issue if you have more questions or feedback regarding the Storage library

[2020-07-20 16:44] #7983 closed

[2020-07-20 16:45] ramya-rao-a commented on #7848
@XiaoningLiu, Is there anything we can do here to improve the docs to clarify the feature?

[2020-07-20 17:02] HarshaNalluru commented on #5049
@ramya-rao-a, the builds are green because the sample is skipped #5094

[2020-07-20 17:04] ramya-rao-a commented on #6969
@jiacfan What are the next steps here? Are we going to do any documentation updates or change in the type?

[2020-07-20 17:07] ramya-rao-a commented on #5049
![](https://media2.giphy.com/media/AjYsTtVxEEBPO/giphy.gif)

[2020-07-20 17:08] ramya-rao-a commented on #7588
Thanks! Assigning to @willmtemple to log an issue with the service team and close this

[2020-07-20 17:15] HarshaNalluru opened #10140 "[Service Bus] Move `getRuntimeInfo` for userAgent from service-bus and event-hubs to core-amqp"
Reference - https://github.com/Azure/azure-sdk-for-js/pull/10092#discussion_r456615876

[2020-07-20 17:21] ramya-rao-a commented on #10138
@ruowan Based on the stack trace, that error is coming from the service.
But, the fact that it is showing up as `UnhandledPromiseRejectionWarning` is concerning.

Can you add a try/catch around the code that is dealing with the ApplicationInsightsDataClient to ensure that this error is actually caught?

Apart from this, I would recommend working with the service team to figure out the cause of the

[2020-07-20 17:21] ramya-rao-a commented on #10138
cc @qiaozha

[2020-07-20 17:37] d-burr commented on #10004
Hi,

Sorry to chase but could I have an ETA on the fix for this?

Thanks

[2020-07-20 17:38] jeremymeng commented on #9702
We are still blocked by https://github.com/open-telemetry/opentelemetry-js/issues/902. I think it is still useful to have this as a tracking issue.  Not sure how it would impact out issue status reporting though.

[2020-07-20 17:59] jongio commented on #10065
Is this happening in CI or on local?

[2020-07-20 18:03] joheredi opened #10141 "[core-https] SendOperationRequest doesn't set "Accept" header"
The "Accept" header is never set in core-http this causes issues such as #7869 in which some services may send something different by default if the Accept header is not set.

For example in the bug mentioned above, JSON is assumed, however the default service default behavior is to send XML.

A workaround for this issue has been to send the Accept header with each operation, however we should be

[2020-07-20 18:07] joheredi commented on #10004
@d-burr can you please try using `{ customHeaders: { accept: "application/json" } }` in the operation options and let us know if this helps working around your issue?

[code]

This seems to be an issue with `ms-rest-js` not setting the `Accept` header and the Service responding with XML by default when the header is not set (Azure/ms-rest-js/issues/395)

[2020-07-20 18:29] jonathandturner commented on #9288
We're currently investigating a fix for this, which we hope to be in place for the next release of the library. I'll link to more information once the fix is ready.

[2020-07-20 18:45] joheredi commented on #3720
Unfortunately, we currently don't support Certificate Authentication. This needs to be implemented in `core-http` to allow users to pass the certificate to establish the HTTP connection.

@ramya-rao-a I see that this is already marked as a Feature Request, I'll set milestone to backlog to give it visibility during planning.

[2020-07-20 19:09] sadasant commented on #6221
Hi @pconnell99, @raftAtGit, @fiksen99, @sferguson12

I need some help to provide a better answer to you all.

My current impression is that the following is happening:
The identity being used does not have access to the targeted Key Vault through the subscription you want to be using.

To discard this possibility, do you mind sharing with me how is your setup? By making a diagram like the followin

[2020-07-20 19:34] jonathandturner commented on #9288
We've added a fix that makes the `keytar` dependency optional, rather than required. With this, you should be able to build and install @azure/identity even if you aren't able use keytar. If keytar is not available, we just disable the credentials that require it (currently just the VSCode credential)

More info available here: https://github.com/Azure/azure-sdk-for-js/pull/10142

[2020-07-20 21:34] HarshaNalluru opened #10144 "[Service Bus] ATOM API: Do not override status code of the get response for a non-existing entity"
For a non-existing entity, service returns a response with 200 status code for the get request, we override the status code to 404 and throw a new RestError with MessagingEntityNotFoundErr as the error code.
TODO: Retain the logic to parse the response, not override the status code but keep it as is.

[2020-07-20 22:08] #4925 closed

[2020-07-20 22:56] jeremymeng commented on #8163
@AZOPCORP we don't set `blobServiceClient.pipeline.options` because it is already passed to the service client via the request policy factories.  Please re-open if there are actual issues when connecting to the service using a proxy.

[2020-07-20 23:56] sarangan12 commented on #10128
@Oblarg Thanks a lot for pointing this issue and also pointing the fix. Since this is an issue that will impact several customers, I wanted to fix this ASAP. So, I have merged the code changes and released a new patch version https://www.npmjs.com/package/@azure/search-documents/v/11.0.1. Thanks for your help.

[2020-07-21 00:15] xirzec commented on #5143
@jssuttles do you have a repro for this that we can try with the fix in #9880 ?

[2020-07-21 01:07] jssuttles commented on #5143
@xirzec Here you go.
https://github.com/jssuttles/azure-fetch-test

[2020-07-21 02:01] XiaoningLiu commented on #8078
Close this as no evidence as SDK issue.

[2020-07-21 02:01] #8078 closed

[2020-07-21 02:16] XiaoningLiu commented on #7848
Docs mentioned here refer to Azure Storage service documents instead of SDK JSDoc. JS SDK provides details implementation of different SAS calculation as good example.

[2020-07-21 02:16] #7848 closed

[2020-07-21 02:20] ramya-rao-a commented on #7848
@XiaoningLiu, we can still log issues for the Azure Storage service documents for follow ups if we have ideas on how they can be improved

[2020-07-21 02:34] HarshaNalluru opened #10151 "[Service Bus] ATOM API: Rename the listing APIs by updating the prefix from "get" to "list""
Listing methods with pagination such as `getQueues` are not following the suggested naming convention from the guidelines
https://azure.github.io/azure-sdk/typescript_design.html#ts-approved-verbs

This issue is to track the work to update the same.

[2020-07-21 02:36] XiaoningLiu commented on #7848
For the original 3 questions, I think original documents have answers.

Question 1: Please clarify the required Base64 encoding.

The standard base64 with UTF-8 source character set. https://en.wikipedia.org/wiki/Base64

Question 2: I am assuming the "key" is the Storage Account "Access Key1" or "Access Key2", although it could equally be the "Delegation" key. Please could you clarify.

3 document

[2020-07-21 02:40] ramya-rao-a commented on #6085
Thanks @nerajput1607

@AskYous Closing this issue as per the findings above from @nerajput1607.
Please log a new issue if you see any problems with the latest version of the library

[2020-07-21 02:40] #6085 closed

[2020-07-21 06:42] mahdiva opened #10157 "[Tables] Implement Entity Serialization/Deserialization"
* Serialize/Deserialize entities for different types:
  - String
  - Boolean
  - Int32
  - Int64
  - Double
  - Binary (Buffer/ArrayBuffer)
  - DateTime
  - Guid
* Create helper classes for Int64, Guid

[2020-07-21 06:56] bingisbestest opened #10158 "[cognitiveservices-qnamaker] Fix sample code on the page: https://www.npmjs.com/package/@azure/cognitiveservices-qnamaker-runtime"
- **Package Name**: cognitiveservices-qnamaker-runtime
- **Package Version**: na
- **Operating system**:na
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Fix s

[2020-07-21 06:58] ghost opened #10159 "[cognitiveservices-qnamaker] Prompts to add not working"
https://docs.microsoft.com/en-us/javascript/api/@azure/cognitiveservices-qnamaker/updateqnadtocontext?view=azure-node-latest#promptstoadd prompts to add not working

[2020-07-21 07:00] bingisbestest opened #10160 "[cognitiveservices-qnamaker] Rename deleteProperty to match other fields naming"
Rename delete property in docs:

https://docs.microsoft.com/en-us/javascript/api/@azure/cognitiveservices-qnamaker/updatekboperationdto?view=azure-node-latest

to just Readme

[2020-07-21 07:01] bingisbestest opened #10161 "[cognitiveservices-qnamaker] Cross ref authoring and prediction packages for qnamaker in npm page"
Cross ref authoring and prediction packages for qnamaker in npm page

[2020-07-21 07:06] ramya-rao-a commented on #6426
@jeremymeng, @bterlson, I believe we worked with the Storage Explorer team offline on this and came to a resolution. Can either of you provide the update and close this issue?

[2020-07-21 07:21] ramya-rao-a commented on #10158
Can you share what the problem with the existing sample code is?

[2020-07-21 07:21] ramya-rao-a commented on #10159
Please provide a code snippet of how you tried to use the package, your expected result/output and the actual result/output.

[2020-07-21 07:27] ramya-rao-a commented on #10160
@bingisbestest,
You mean rename `deleteProperty` to `delete`?

@sarangan12, The swagger spec at https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/QnAMaker/stable/v4.0/QnAMaker.json does have this listed as `delete`. Any idea how the generated SDK is using `deleteProperty` instead?

[2020-07-21 07:28] ramya-rao-a commented on #10161
Can you provide more details on what you are looking for here?

[2020-07-21 07:32] ramya-rao-a commented on #10144
So, we would still be throwing the `MessagingEntityNotFoundError`, but keep the status code same as what the service returns?

I believe we had changed this to 404 based on prior discussions with @bterlson when we last touched this piece of code.
Perhaps git blame will find the right PR and the right discussion?

[2020-07-21 08:07] zzhxiaofeng commented on #10065
This is happening in CI. But the unit test code are running successfully on local.

[2020-07-21 08:40] ljian3377 commented on #9436
Do we know how to fix the second issue? It has been like this for a long time.

createPermissionOperationSpec.isXML is set to true, expecting false.

[2020-07-21 11:24] PoTing-Lin commented on #9904
@ramya-rao-a , @jonathandturner , it works perfectly, awesome!! thank you for supporting and responsive quickly

[2020-07-21 13:14] kamesh95 opened #10165 "Routing rule operations in @azure/arm-frontdoor v4.0.0"
- **Package Name**: @azure/arm-frontdoor
- **Package Version**: 4.0.0
- **Operating system**: Ubuntu 18
- [x] **nodejs**
    - **version**: 12
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
In th

[2020-07-21 14:13] jongio commented on #10065
Does it happen every time?  Maybe something that @jeremymeng can help debug

[2020-07-21 14:35] jeremymeng commented on #10065
Do you have a link to the failing ci build?

[2020-07-21 14:41] jeremymeng commented on #9436
@joheredi looked into the isXML issue. Any update Jose? There's a issue tracking this in the code generator repo.

[2020-07-21 15:01] ramya-rao-a commented on #10165
#8411 was the PR that last made changes to this package.

@qiaozha, Can you  provide details as to which version of the swagger spec for the service API was used to generate the package and then loop in whoever made the above change around rule operations in the swagger?

[2020-07-21 16:08] MRayermannMSFT commented on #6426
For the record, from my recollection there was an issue with the auto detection of proxy settings. I believe the problems were specifically when a username and password were included in the environment variables. Since discovering the issue we've been creating the proxy policies ourselves/not relying on auto detection.

I'm not sure if Jeremy and Brian ever got around to fixing the auto detection.

[2020-07-21 17:00] #9926 closed

[2020-07-21 17:26] jeremymeng commented on #6426
Yeah I remember at that time the workaround was passing the username and password programmatically.

Yes we already fixed the parsing of credential in the proxy url in #7211.  So I am closing this.

[2020-07-21 17:26] #6426 closed

[2020-07-21 18:34] #9649 closed

[2020-07-21 18:48] richardpark-msft commented on #10091
@ashinzekene - just wanted to update.

Based on @zhenlan's feedback it sounds like it would be the more secure option to make these requests on the backend (ie, server-side), rather than the frontend.

With that said - I've looked more into what is going on with the type definitions. The problem is that one of our libraries (core-http) is referencing types from node. What you have in your tsconfig

[2020-07-21 19:31] ashinzekene commented on #10091
Yeah @richardpark-msft, I'd be moving forward with the more secure option.

Also, another workaround would be using `window.setTimeout`

[2020-07-21 19:44] xirzec commented on #5143
@jssuttles thank you!

@jeremymeng can you verify your PR against this?

[2020-07-21 19:50] jeremymeng commented on #5143
Thanks @jssuttles for the repro.  I am on it.

[2020-07-21 20:04] jeremymeng commented on #5143
Yup, the issue is fixed by #9880

![image](https://user-images.githubusercontent.com/7583839/88101187-7e016980-cb52-11ea-970a-941c18c7aacc.png)

[2020-07-21 22:07] ramya-rao-a opened #10170 "[Text Analytics] Enable linting on test files and fix resulting linting errors"
Currently, the `lint` script for the Text Analytics project looks like the below

`"lint": "eslint src --ext .ts -f html -o textAnalytics-lintReport.html"`

On inspecting the lint report, it looks like we are all green, but we are missing linting the test files.

This issue is to track the below requirements
- Include the `test` folder as part of linting
- Fix any linting errors that are found in

[2020-07-21 22:09] KarishmaGhiya opened #10171 "Storage-file-datalake tests failing"
- Test run - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=463587&view=logs&j=bbd7d436-e05d-51a8-99a8-0701dc9dffeb&t=b35bd286-0ff8-5789-8141-60cce3239968

- Probably happening due to the resources not being created with the arm-template test-resources.json
@jeremymeng  @ljian3377

[2020-07-21 22:12] ramya-rao-a opened #10172 "[Text Analytics] Enable linting on package.json, tsconfig.json and api-extractor.json files"
Currently, the `lint` script for the Text Analytics project looks like the below

`"lint": "eslint src --ext .ts -f html -o textAnalytics-lintReport.html"`

On inspecting the lint report, it looks like we are all green, but we are missing linting the package.json, tsconfig.json and api-extractor.json files

This issue is to track the work needed to make sure the above files are included in the lin

[2020-07-21 22:13] ramya-rao-a commented on #10172
Please note that the linting errors arising for package.json are most likely appearing in all other Track 2 packages as well. So consider making the fix in all applicable packages.

cc @sadasant, @willmtemple

[2020-07-21 22:16] ramya-rao-a opened #10173 "[Text Analytics] Run linter as part of build"
Once #10170 and #10172 are taken care of and the lint report is green, we should run the linter as part of build. We have avoided doing so till now across various projects because we were yet to fix the linting errors.

Am guessing we need to the below to run linter as part of build
- Remove the html formatting in the `lint` script so that output goes to terminal
- Include `npm run lint` in the `b

[2020-07-21 22:20] HarshaNalluru opened #10174 "[Service Bus] Improve error message when user tries to settle an already settled deferred message"
We figure out if a message is deferred by looking at the `requestResponseLockedMessages`.
![image](https://user-images.githubusercontent.com/10452642/88112222-3edc1400-cb64-11ea-830b-936ea31c02f4.png)

`delivery.link` would be undefined for a deferred message.

Once the deferred message is settled, it is removed from the list of `requestResponseLockedMessages`.

At this point, if a user tries to s

[2020-07-21 22:57] ramya-rao-a commented on #10052
Done with #10106

[2020-07-21 22:57] #10052 closed

[2020-07-21 22:58] southpolesteve commented on #4822
@zfoster Can you take a look at this? If this behavior isn't already in v3, lets add it.

[2020-07-21 22:59] ramya-rao-a commented on #9846
Done with #9951

[2020-07-21 22:59] #9846 closed

[2020-07-21 22:59] chradek commented on #9914
This has been completed by #10046 and #10051

[2020-07-21 22:59] #9914 closed

[2020-07-21 22:59] ramya-rao-a commented on #9796
Done with https://github.com/Azure/azure-sdk-for-js/pull/9987

[2020-07-21 22:59] #9796 closed

[2020-07-21 23:00] chradek commented on #8715
This is fixed now that #9914 has been completed.

[2020-07-21 23:00] #8715 closed

[2020-07-21 23:18] richardpark-msft commented on #9718
With the merge of #9968 and #10107 this is now complete.

[2020-07-21 23:18] #9718 closed

[2020-07-21 23:28] d-qdev opened #10176 "azure/service-bus SubscriptionClient.Peek() does not return scheduled messages"
- **Package Name**: @azure/service-bus
- **Package Version**: 1.1.7
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 10
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The documentation states that peek method should return all the messages:
"The peek operati

[2020-07-21 23:45] zfoster commented on #4822
I'll take a look

[2020-07-22 00:46] ramya-rao-a opened #10179 "App Configuration not appearing in the overview for reference docs"
https://docs.microsoft.com/en-us/javascript/api/?view=azure-node-latest lists all the Azure SDKs for JS
The packages for App Config are missing here
- [@azure/app-configuration](https://www.npmjs.com/package/@azure/app-configuration)
- [@azure/arm-appconfiguration](https://www.npmjs.com/package/@azure/arm-appconfiguration)

cc @richardpark-msft

[2020-07-22 01:17] ramya-rao-a commented on #10179
And ref docs for `@azure/arm-appconfiguration` dont appear under https://docs.microsoft.com/en-us/javascript/api/overview/azure/app-configuration-readme?view=azure-node-latest either

[2020-07-22 01:35] ramya-rao-a commented on #7618
@JoshLove-msft, Do you still use the same message as above in Track 2? In Track 1 it made sense as the method used was called `acceptSession` or something like that. In Track 2, the user facing methods are `createSessionReceiver()` and `createSessionProcesor`. I would expect the error message to change to something generic like

[2020-07-22 01:53] tzhanl commented on #10065
@jongio @jeremymeng this error happen in our work machine occasionally (around 2 times in 10) while MSFTVPN not connected, not consistently.  According to @jeremymeng suggestion, we create a VM in Azure, the error never happen, and this issue not happen either while the MSFTVPN connected in our work machine. There is no CI error in Azure SDK. @zzhxiaofeng  means there is CI error in Azurite where

[2020-07-22 02:08] ramya-rao-a opened #10182 "[Service Bus] TopicRuntimeProperties is missing MessageCountDetails"
As per https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.management.topicruntimeinfo, the `TopicRuntimeInfo` is to have MessageCountDetails as well which we are missing in the `@azure/service-bus` package

[2020-07-22 02:26] JoshLove-msft commented on #7618
I think this message comes from the service, so yes we still use it.

[2020-07-22 03:07] zidaneymar opened #10186 "Arm Template Cognitive Service QnA Account Issue"
- **Package Name**: @azure/arm-resources
- **Package Version**: "2.1.0"
- **Operating system**: windows
- [x] **nodejs**
    - **version**: v12.18.1
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.9.6
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2020-07-22 03:19] ljian3377 commented on #10171
I created the pipeline recently. But haven't got the time to dig in the ARM documentation to get the ARM template right for storage-file-datalake.

[2020-07-22 03:52] sunilsmith commented on #9926
@chradek @ramya-rao-a  The test is completed and we did not able to reproduce the error in the new release v1.1.8.
Thank you for your support.

[2020-07-22 05:11] ramya-rao-a commented on #9926
Thanks for confirming @sunilsmith!

[2020-07-22 06:10] Petermarcu commented on #3009
@ramya-rao-a are this one and https://github.com/Azure/azure-sdk-for-js/issues/3733 both tracking the work to split NotificationHubs out?

[2020-07-22 06:19] ramya-rao-a commented on #3009
Hello all,

Thanks for your patience.

At the moment, there are no plans to create a new library for Azure Notifications Hub in this repository like we did for Azure Service Bus following the [TypeScript Guidelines for Azure SDKs](https://azure.github.io/azure-sdk/typescript_introduction.html).

We will be moving users off of `azure-sb` to use the newer `@azure/service-bus` which uses the faster A

[2020-07-22 06:20] ramya-rao-a commented on #3009
@Petermarcu, #3733 is more about an existing bug that will not be fixed with the split. That one needs more investigation with input from the service team

[2020-07-22 06:29] ramya-rao-a commented on #3733
Hello all,

Thanks for your patience.

There are a few different queries here, I'll try and address them all.

- Is there a new SDK for Azure Notifications Hub?
   - See https://github.com/Azure/azure-sdk-for-js/issues/3009#issuecomment-662265634
- Where are the docs for `azure-sb` package ??
   - Subscribe to https://github.com/Azure/azure-sdk-for-node/issues/5180 on updates on reference docs for

[2020-07-22 06:37] Petermarcu commented on #8252
@ramya-rao-a is this backlog still or something going into the next version?

[2020-07-22 07:14] HarshaNalluru commented on #10144
Yes, that also makes us align with .NET.

https://github.com/Azure/azure-sdk-for-js/pull/6054#discussion_r346647767
https://github.com/Azure/azure-sdk-for-js/pull/6586#discussion_r360254693

[2020-07-22 07:57] qiaozha commented on #10165
@ramya-rao-a  from the change here https://github.com/Azure/azure-sdk-for-js/pull/8411/files#diff-1780906b458af40779ae01686849bf3cL29-R39 the last version seems to be generated from 2018-08-01. But from the https://github.com/Azure/azure-rest-api-specs/tree/master/specification/frontdoor/resource-manager/Microsoft.Network/stable here, I can't find the folder of 2018-08-01. Not sure what happened a

[2020-07-22 07:59] qiaozha commented on #10165
Also, I tried to find operation path https://github.com/Azure/azure-sdk-for-js/blob/89bf1979/sdk/frontdoor/arm-frontdoor/src/operations/routingRules.ts#L200 from the whole swagger repo. Still can't get anything.

[2020-07-22 10:15] zzhxiaofeng opened #10188 "Azure Service Bus Readme and Sample Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/tree/@azure/service-bus_7.0.0-preview.4/sdk/servicebus/service-bus/#manage-resources-of-a-service-bus-namespace), [link2](https://github.com/Azure/azure-sdk-for-js/blob/%40azure/service-bus_7.0.0-preview.4/sdk/servicebus/service-bus/samples/typescript/src/advanced/managementClient.ts#L40)
![Annotation 2020-07-21 172455](https://user-imag

[2020-07-22 12:09] chistov commented on #6368
What does it mean? It solves the error?

[2020-07-22 15:08] davej opened #10191 "Cannot set Certificate Transparency for a manual enrollment"
- **Package Name**: @azure/keyvault-certificates
- **Package Version**: 4.0.2
- **Operating system**: MacOs 10.15.3
- [x] **nodejs**
    - **version**:  12.18.2

**Describe the bug**
I can not create a cert with Certificate Transparency turned on

**To Reproduce**
Steps to reproduce the behavior:
[code]

Error:
[code]

**Expected behavior**

Certificate request is created

[2020-07-22 15:26] ebower12 opened #10192 "arm-sql serverAzureADAdministrators.listByServer() not returning results."
- **Package Name**:
`@azure/arm-sql`

- **Package Version**:
v6.0.0 and v7.0.0

- **Operating system**:
- [x] **nodejs**
    - **version**: 11.8.0

- [ ] **browser**
    - **name/version**:

- [x] **typescript**
    - **version**: 3.7.4

- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe th

[2020-07-22 16:17] ramya-rao-a commented on #6368
@chistov This issue was about getting the `Argument of type 'ApplicationTokenCredentials' is not assignable to parameter of ...` error when using version 1.5.0 of `@azure/eventgrid` package with latest version of `@azure/ms-rest-nodeauth` package

We have made the fix in the `@azure/eventgrid` package to resolve this error.
So, as long as you update your code to use the latest version of the `@azu

[2020-07-22 16:29] ramya-rao-a commented on #10165
@qiaozha Please loop in who-ever made the last change to the swagger spec for this service. They would have more context on the different operations.

[2020-07-22 16:30] #10082 closed

[2020-07-22 16:32] ramya-rao-a commented on #8252
Yes, this is in the Backlog as the milestone hints :)
Both in Python & JS, we plan to pick this up once the current version 7 of the Service Bus package moves out of preview.

[2020-07-22 17:35] ramya-rao-a commented on #10076
Please wait until the swagger makes it to the https://github.com/Azure/azure-rest-api-specs/ repo. I'll post an update here when it does

[2020-07-22 18:30] southpolesteve commented on #4815
Unfortunately, no. This is still not supported and we have no ETA at this time.

[2020-07-22 18:47] joheredi commented on #10141
Discussed this offline with @xirzec, we think this can be addressed by adding a property in the OperationSpec interface to hold the Accept header value and adding the header in sendOperationRequest.

The value for the Accept header should be available from the Swagger definition.

Also talked to @ramya-rao-a and we'd like to scope this work for Core V2 only.

[2020-07-22 18:59] ramya-rao-a commented on #10158
From offline conversations, the issue is that  the sample code in the Readme for `@azure/cognitiveservices-qnamaker-runtime` is using `@azure/cognitiveservices-qnamaker` instead

[2020-07-22 19:07] ramya-rao-a opened #10196 "Update sample code in readme files for the Cognitive Services auto generated packages to use JavaScript"
Currently, the code sample generated in the readme file of a generated package is in TypeScript.

To help with copy -> paste -> run code workflow, it is much easier to have the same in JavaScript than TypeScript.

There is a higher probability of TypeScript users knowing JavaScript than the other way around.

This issue is to update the readme files in all the generated packages under sdk/cognitiv

[2020-07-22 19:15] ramya-rao-a opened #10198 "Missing docs for QnAMaker Runtime package"
We are missing API reference docs for the [@azure/cognitiveservices-qnamaker-runtime](https://www.npmjs.com/package/@azure/cognitiveservices-qnamaker-runtime) package.

It should appear under the [Cognitive Services](https://docs.microsoft.com/en-us/javascript/api/overview/azure/cognitive-services?view=azure-node-latest) node and as a sibling node for the existing `QnA Maker`

[2020-07-22 19:23] ramya-rao-a commented on #10161
From offline discussions, the ask is to have the readme for the authoring and query packages link to each other to help customers.

@bingisbestest, @nerajput1607, Please feel free to send a PR to update the below two files as needed
- https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cognitiveservices/cognitiveservices-qnamaker/README.md
- https://github.com/Azure/azure-sdk-for-js/blob/mas

[2020-07-22 20:19] deyaaeldeen opened #10200 "Standardize coverage tests across all SDKs"
Some SDKs have coverage tests and some do not. For the ones they do, the configs are not always consistent.

[2020-07-22 20:19] deyaaeldeen commented on #10200
#5342 is also related.

[2020-07-22 20:39] jeremymeng commented on #5342
Closing.  I remember some discussion offline with @ramya-rao-a when we try to reduce and standardize npm test scripts.  we agreed that it is not too much a trouble to tweak npm scripts when running test locally.

[2020-07-22 20:39] #5342 closed

[2020-07-22 20:41] jeremymeng commented on #10065
Thanks for the info @tzhanl.  Another open question here is whether the SDK should retry on ENETUNREACH error.

[2020-07-22 20:44] sarangan12 commented on #10128
No pending action items on this issue. Closing this

[2020-07-22 20:53] joshfree commented on #6765
Closing as we've completed and will ship all intended logging and error improvements in the next Identity GA

[2020-07-22 20:53] #6765 closed

[2020-07-22 20:53] joshfree commented on #6764
Closing completed epic

[2020-07-22 20:53] #6764 closed

[2020-07-22 20:53] joshfree commented on #6767
Closing completed epic

[2020-07-22 20:53] #6767 closed

[2020-07-22 20:54] joshfree commented on #6768
Closing completed epic

[2020-07-22 20:54] #6768 closed

[2020-07-22 20:55] joshfree commented on #6769
Moving this to the September milestone for tracking in the next Identity wave

[2020-07-22 21:32] ramya-rao-a commented on #10192
Thanks for reporting @ebower12

Can you use the workaround suggested in https://github.com/Azure/azure-sdk-for-js/issues/10004#issuecomment-661248299 about using customHeaders and see if it helps?

[2020-07-22 22:13] HarshaNalluru commented on #10176
Hey @d-qdev,

Thanks for reporting, I was able to repro the issue on my end.
`SubscriptionClient.peek()` does not return scheduled messages, but the `QueueClient.Peek() works as expected.

We'll reach out to the service team on the issue and will keep you posted.

[2020-07-23 00:15] ellismg opened #10204 "Create a `core-crypto` package and expose sha256 HMAC from it"
Multiple libraries have the need to be able to compute SHA256 HMACs of data at runtime.  So far we've just had every package roll their own support (which is non trivial since node and browsers differ on how this should be accomplished)  We're up to about ~5 packages doing this now, so we'd like to centralize the logic.

We considered exporting these functions from `core-http` but we have some non

[2020-07-23 01:15] v-xuto commented on #10188
@jongio for notification.

[2020-07-23 01:30] ramya-rao-a commented on #3057
I should be able to tweak the env variable and disable tracing without having to change my code.
So, my vote is to not throw and use the no-op tracer

[2020-07-23 01:32] ramya-rao-a opened #10205 "Respect the AZURE_TRACING_DISABLED env variable"
Our [guidelines on env variables](https://github.com/Azure/azure-sdk/blob/master/_includes/tables/environment_variables.md) list that `AZURE_TRACING_DISABLED` env variable should be respected.

One option is to use the No-op tracer when this env variable is set.

[2020-07-23 01:32] ramya-rao-a commented on #3057
Logged #10205 to track the work on AZURE_TRACING_DISABLED

[2020-07-23 01:33] ramya-rao-a commented on #3057
Closing as no further work is pending here

[2020-07-23 01:33] #3057 closed

[2020-07-23 01:36] qiaozha commented on #10165
@MoustafaEid Hi, I saw you recently change the frontdoor swagger in https://github.com/Azure/azure-rest-api-specs/tree/master/specification/frontdoor/resource-manager/Microsoft.Network/stable this folder. Can you take a look at this issue or loop whoever you think might have the background of why the routingRules operations are being removed even from the swagger specs?

[2020-07-23 01:42] ramya-rao-a commented on #5696
Looks like #7069 will handle the NO_PROXY env var.
#10205 is tracking AZURE_TRACING_DISABLED

Do we know how we expect Azure Core to respect the below?
I would expect this to be handled by individual libraries.
- AZURE_SUBSCRIPTION_ID
- AZURE_RESOURCE_GROUP
- AZURE_CLOUD
- AZURE_AUTHORITY_HOST

For AZURE_TELEMETRY_DISABLED, am guessing we disable the user agent policy?

cc @xirzec

[2020-07-23 04:15] JasonYeMSFT commented on #7536
The change (trimming the first space in User Agent Prefix) was intentionally introduced in this PR https://github.com/Azure/azure-sdk-for-js/pull/2812. The link for the telemetry guideline doesn't work anymore. Do you know which part of the guideline requires that?

[2020-07-23 05:04] ramya-rao-a commented on #10188
Thanks for all the catches here @zzhxiaofeng

For the last point, am guessing doing the below should also work?

`const receiverPromises: Promise<void>[] = [];`

[2020-07-23 06:07] zzhxiaofeng commented on #10188
@ramya-rao-a Yes, The code works well. thank you!

[2020-07-23 06:10] MoustafaEid commented on #10165
Hi @kamesh95,

We've recently released Rules Engine for Front Door to replace routing rules. You can find more information here:
-	Overview: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-rules-engine
-	Tutorial (Portal & CLI): https://docs.microsoft.com/en-us/azure/frontdoor/front-door-tutorial-rules-engine
-	Action: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-rules-e

[2020-07-23 08:27] tzhanl commented on #10065
@jeremymeng do you mean current SDK would retry 4 time on ECONNRESET error? No retry on ENETUNREACH error.

[2020-07-23 10:28] sarangan12 commented on #10160
The short answer is: `delete` is a reserved keyword in JS. So, we are appending the `Property` to it. If you want to find the exact code:

1. The `ReservedWords` declaration could be found [here](https://github.com/Azure/autorest.typescript/blob/master/src/vanilla/CodeNamerTS.cs#L28). I have provided the code below for reference:

[code]
2. The appending value `Property` is defined in `autorest.co

[2020-07-23 10:30] chistov opened #10216 "Code example compilation shows an error"
- **Package Name**:
@azure/arm-servicebus

- **Package Version**:
"@azure/arm-servicebus": "^3.2.0",

- **Operating system**:
MacOs 10.15.6

- [ ] **nodejs**

    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
"typescript": "^3.9.7",

- Is the bug related to **documentation** in
  - [ ] README.md

**Describe the bug**
Compilation fails with error.

[2020-07-23 12:59] ebower12 commented on #10004
@joheredi That workaround fixed the problem, I'll go ahead and close this issue. Thanks!

[2020-07-23 13:01] ebower12 commented on #10192
@ramya-rao-a That workaround seems to have fixed the problem. I'll go ahead and close this issue, thanks!

[2020-07-23 13:01] #10192 closed

[2020-07-23 15:04] d-burr commented on #10004
@joheredi Thanks for the work around that has fixed the problem. Please can we leave this issue open until its fixed in the SDK. I would rather not leave this in my code as it could cause issues in the future

[2020-07-23 16:05] #10188 closed

[2020-07-23 16:08] ramya-rao-a commented on #10192
Thanks for confirming @ebower12!

We are using #10004 to track the original problem and will have an update soon so that you dont have to add the workaround yourself

[2020-07-23 16:10] ramya-rao-a commented on #10004
@d-burr Yes, we will keep the issue open until we release an update to fix this in the package itself.

[2020-07-23 16:14] ramya-rao-a commented on #10160
Thanks @sarangan12!

Would using transforms help?

[2020-07-23 16:45] ramya-rao-a commented on #10216
Thanks for reporting @chistov

@qiaozha Can we have the `@azure/arm-servicebus` re-generated using the latest v4 version of the code generator to fix this?

[2020-07-23 16:56] apclouds commented on #8217
Hi @avivs2 please join our waitlist at: aka.ms/templateSpecOnboarding

[2020-07-23 16:56] #8217 closed

[2020-07-23 17:30] kamesh95 commented on #10165
Hi @MoustafaEid, makes sense. I will check that out. Thanks :)

[2020-07-23 19:00] ramya-rao-a commented on #10165
Thanks @MoustafaEid!

@kamesh95, hope those links provide the answers you need.
We will be closing this issue now, if you have further questions, please log a new one.

[2020-07-23 19:00] #10165 closed

[2020-07-23 19:38] joshfree opened #10222 "Azure Identity Iron Semester for JS"
The Azure Identity library provides Azure Active Directory token authentication support across the Azure SDK. It provides a set of TokenCredential implementations which can be used to construct Azure SDK clients which support AAD token authentication.

This issue tracks the new features, reliability improvements, and the release of minor updates to Azure.Identity for the Javascript programming lan

[2020-07-23 19:43] ramya-rao-a commented on #10160
@bingisbestest, @nerajput1607, @diberry,

@sarangan12 and I synced offline.

His above investigations provide details on the current state of things. Our recommendation would be to use transforms to update `deleteProperty` to some other suffix that would make most sense in the context of `UpdateKbOperationDTO`. If doing so, you might want to consider using the same suffix for `add` and `update` as

[2020-07-23 19:45] willmtemple commented on #9905
Blocked by a service bug causing AAD auth failures.

[2020-07-23 19:51] ramya-rao-a commented on #6342
Looks like the below is all that is left:

<img width="273" alt="Screen Shot 2020-07-23 at 12 50 56 PM" src="https://user-images.githubusercontent.com/16890566/88332313-2cd4af80-cce3-11ea-9e8f-ab6b65ce0c3a.png">

The ms-rest-* ones can remain here.
Others need to be moved up

[2020-07-23 19:55] joshfree opened #10225 "Move to latest App Services MSI API version"
- Move Azure.Identity to the latest App Services MSI API version.
- Update /sdk/e2e Azure Functions date parsing tests

[2020-07-23 20:00] joshfree opened #10226 "Add ADFS / Azure Stack Support"
- On-prem active directory instance support
- Requested by CLI / PSH for .NET and Python

[2020-07-23 20:08] scbedd commented on #10179
Added to CI in [this commit](https://github.com/MicrosoftDocs/azure-docs-sdk-node/commit/665f0050e912c4d2c83f7941704baee4f880fadc) results should be on smoke-test review site soon.

[2020-07-23 20:09] scbedd commented on #10198
Added to CI in [this commit](https://github.com/MicrosoftDocs/azure-docs-sdk-node/commit/665f0050e912c4d2c83f7941704baee4f880fadc)

[2020-07-23 20:13] HarshaNalluru commented on #10182
.NET SDK too does not have this.
<img src="https://user-images.githubusercontent.com/10452642/88333735-95249080-cce5-11ea-83a6-869a2a641e9a.png" height="200">

I think it might have been a conscious decision to remove since they are more relevant for queues and subscriptions instead.
<img src="https://user-images.githubusercontent.com/10452642/88333887-ca30e300-cce5-11ea-86ac-72c5ae1b495a.png" hei

[2020-07-23 20:16] JoshLove-msft commented on #10182
See https://github.com/Azure/azure-sdk-for-net/issues/11817#issuecomment-634415524

[2020-07-23 20:18] joshfree opened #10229 "Add "Use Console" Option to DeviceCodeCredential"
Investigate adding a "Use Console" option for Device Code Credential

[2020-07-23 20:42] joshfree opened #10232 "Add IntelliJCredential Support"
Connect to Azure using the credential provided by the IntelliJ extension 'Azure Account'. Once the user has logged in via the extension, this credential can share the same refresh token that is cached by the extension.

[2020-07-23 20:43] ramya-rao-a commented on #10182
Great, closing!

[2020-07-23 20:43] #10182 closed

[2020-07-23 20:43] HarshaNalluru commented on #10182
Thanks for the confirmation, Josh.
And it looks like the docs are from an older version, nothing left to do here.

[2020-07-23 20:50] joshfree opened #10233 "Release Azure.Identity Preview using MSAL for NodeJS Beta"
Currently Azure.Identity for JS does not have feature parity with Azure.Identity for .NET/Java/Python due to the unavailability of a supported version of MSAL for NodeJS.

This work item tracks catching JS up to feature parity using the beta MSAL for NodeJS
- shipping a public preview of Azure.Identity for JS using the first public beta MSAL for NodeJS
- Reviewing and unifying the usage of MSAL /

[2020-07-23 20:58] willmtemple opened #10234 "[ai-form-recognizer] Improve samples"
A short list of improvements to samples we can make before GA:

- [x] Make return-value length checks simpler (recognizeContent.ts:33)
- [x] not necessary to print "First receipt" (et al.) when only one object is expected in the output
- [x] Replace uses of `for ... in v` with `for [name, value] of Object.entries(v)` or similar
- [x] Make sure the process for labeling data in the containers is cle

[2020-07-23 22:02] joshfree opened #10235 "Azure.Identity Support for Managed Identity for Azure Arc Applications"
Managed identities for Azure resources provide Azure services with an automatically managed identity in Azure Active Directory. Using a managed identity, you can authenticate to any service that supports Azure AD authentication without having credentials in your code.

https://azure.microsoft.com/en-us/services/azure-arc/

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-

[2020-07-23 22:50] xirzec opened #10237 "[docs] Create documentation for what "idiomatic" JS/TS consists of"
Beyond what we go through in the design guidelines, we should consolidate the style preferences we have so that folks can quickly write code that is consistent with our client libraries.

[2020-07-23 23:12] joshfree opened #10238 "Azure.Identity Support for Managed Identity for Service Fabric Applications"
A common challenge when building cloud applications is how to securely manage the credentials in your code for authenticating to various services without saving them locally on a developer workstation or in source control. Managed identities for Azure solve this problem for all your resources in Azure Active Directory (Azure AD) by providing them with automatically managed identities within Azure

[2020-07-23 23:14] xirzec opened #10239 "[docs] Create documentation for core"
.NET has a nice overview README for their core code:

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/README.md

We should author something similar that talks about the core packages and high-level concepts like pipelines and requests/responses.

[2020-07-23 23:14] AlexGhiondea commented on #10191
@sadasant could you take a look?

[2020-07-23 23:15] xirzec opened #10240 "[docs] Update CONTRIBUTING.md"
We have a lot of stuff in CONTRIBUTING.md that I think can be streamlined a bit better so that it plugs nicely into the partner tutorials we're working on.

[2020-07-23 23:29] joheredi commented on #10141
This may not be needed after all. It looks like there is an alternate way to fix this in Autorest ModelerFour by adding a constant header parameter. I think this approach would be preferable as (1) it would fix it for all languages (2) no changes in either Typescript code gen nor core would be needed.

I'll keep this issue open for tracking

This is the issue tracking this in ModelerFour: Azure/au

[2020-07-23 23:29] willmtemple commented on #8635
Closing this in favor of #8764 which has more discussion @danieljurek

Currently, we require either Node >10 or Node 8 with the `--harmony_async_iteration` flag to guarantee that samples can run.

[2020-07-23 23:29] #8635 closed

[2020-07-23 23:51] HarshaNalluru opened #10241 "[Service Bus] ATOM API: Add `ScheduledMessageCount` to `TopicRuntimeProperties`"
Scheduled messages remain in the topic until their scheduled time, so the `ScheduledMessageCount` is not relevant for subscriptions.

TODO:
- [ ] Remove `ScheduledMessageCount` from the `SubscriptionRuntimeProperties`.
- [ ] Add `ScheduledMessageCount` to the `TopicRuntimeProperties`

[2020-07-24 00:34] #4666 closed

[2020-07-24 01:31] JosueJoshua opened #10243 "Search Readme Issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/search/search-documents#azure-cognitive-search-client-library-for-javascript)
![image](https://user-images.githubusercontent.com/24564161/88261977-e474bc00-ccf9-11ea-86a5-6d307cdfd32d.png)

Suggestion:
It should be in the following format:
![image](https://user-images.githubusercontent.com/24564161/88262171-433a3580-ccfa-1

[2020-07-24 01:34] JosueJoshua opened #10244 "App Configuration Readme Issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/appconfiguration/app-configuration#create-and-get-a-setting)
![image](https://user-images.githubusercontent.com/24564161/88263264-52ba7e00-ccfc-11ea-953d-1e516bfaaa64.png)
Reason:
Parameter form error in getConfigurationSetting method.

Suggestion:
Update to:
[code]

[2020-07-24 01:35] JosueJoshua opened #10245 "Form Recognizer Readme Issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/formrecognizer/ai-form-recognizer#examples)
![image](https://user-images.githubusercontent.com/24564161/88263605-e0966900-ccfc-11ea-9062-ad566838e348.png)

Suggestion:
Add a summary of examples. As follows:
![image](https://user-images.githubusercontent.com/24564161/88263728-10de0780-ccfd-11ea-8f94-433223baba5e.png)

[2020-07-24 01:38] JosueJoshua opened #10246 "Storage Blob Readme Issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-blob#examples)
![image](https://user-images.githubusercontent.com/24564161/88263833-44209680-ccfd-11ea-82ee-1b425575444f.png)
Suggestion:
Add a summary of examples. As follows:
![image](https://user-images.githubusercontent.com/24564161/88264015-9c579880-ccfd-11ea-8222-ba41f5d176a5.png)

2.
Section [Link](h

[2020-07-24 01:43] JosueJoshua opened #10247 "Storage File Datalake Readme Issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-file-datalake#examples)
![image](https://user-images.githubusercontent.com/24564161/88270550-6370f100-cd08-11ea-8d5d-b3fe8c2c9930.png)

Suggestion:
Add a summary of examples. As follows:
![image](https://user-images.githubusercontent.com/24564161/88270595-75eb2a80-cd08-11ea-965d-3ee128a14ad3.png)

[2020-07-24 01:46] JosueJoshua opened #10248 "Storage Blob Changefeed Readme and Samples Issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-blob-changefeed#examples)
![image](https://user-images.githubusercontent.com/24564161/88271088-3ffa7600-cd09-11ea-8ba7-7c2b05c8c987.png)

Suggestion:
Add a summary of examples. As follows:
![image](https://user-images.githubusercontent.com/24564161/88271144-556fa000-cd09-11ea-9139-bd0a8532a58c.png)

2.
Sect

[2020-07-24 01:47] JosueJoshua opened #10249 "Storage File Share Readme Issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-file-share#examples)
![image](https://user-images.githubusercontent.com/24564161/88274835-f1e87100-cd0e-11ea-850b-9453c7dab536.png)

Suggestion:
Add a summary of examples. As follows:
![image](https://user-images.githubusercontent.com/24564161/88274868-03ca1400-cd0f-11ea-9490-9313bae3b8cb.png)

[2020-07-24 01:50] JosueJoshua commented on #10243
@jongio for notification.

[2020-07-24 01:50] JosueJoshua commented on #10244
@jongio for notification.

[2020-07-24 01:50] JosueJoshua commented on #10245
@jongio for notification.

[2020-07-24 01:50] JosueJoshua commented on #10246
@jongio for notification.

[2020-07-24 01:50] JosueJoshua commented on #10247
@jongio for notification.

[2020-07-24 01:50] JosueJoshua commented on #10248
@jongio for notification.

[2020-07-24 01:50] JosueJoshua commented on #10249
@jongio for notification.

[2020-07-24 01:59] jeremymeng commented on #10249
Regarding 2: AnonymousCredential is optional when SAS token is used. Is the code not running as expected with a valid SAS?

[2020-07-24 02:01] XiaoningLiu commented on #7536
@JasonYeMSFT which guideline are your referring to?

[2020-07-24 02:04] ramya-rao-a commented on #10176
Thanks for reporting @d-qdev!

After talking to folks from the service team, we found that this was a documentation bug and peek() on a subscription does not return scheduled messages by design.

We have logged https://github.com/MicrosoftDocs/azure-docs/issues/59641 to fix the docs. It also has more details on the why the behavior is so.

[2020-07-24 02:04] #10176 closed

[2020-07-24 03:14] JasonYeMSFT commented on #7536
The linked guideline in the PR committing the change.
https://azuresdkspecs.z5.web.core.windows.net/#general-telemetry
 https://github.com/Azure/azure-sdk/blob/master/docs/design/Telemetry.mdk

Neither of the link work anymore.

[2020-07-24 03:45] LianwMS commented on #10004
@ramya-rao-a, it seems that the issues need to wait https://github.com/Azure/ms-rest-js/issues/395 being fixed and js sdk doing version bump then release again. Correct?

[2020-07-24 03:49] LianwMS commented on #10216
@ramya-rao-a, sure, I will try to re-generate the code and try

[2020-07-24 04:13] jeremymeng commented on #7536
The telemetry guideline is now https://azure.github.io/azure-sdk/general_azurecore.html#telemetry-policy

[2020-07-24 05:00] ramya-rao-a commented on #10004
@joheredi made further investigations here and we have decided to close ms-rest-js issue in favor of a manual workaround for now. See https://github.com/Azure/ms-rest-js/issues/395#issuecomment-663346459 for more details.

@joheredi will send a PR to do the manual tweak. Yes, future code-generations will override this change, but we will add a comment around the change explaining what it is so tha

[2020-07-24 06:08] JosueJoshua commented on #10249
@jeremymeng - You're right. If there is no AnonymousCredential, the code can work normally with a valid SAS.

Thank you for your advice. I've updated it.

[2020-07-24 14:55] MTCMarkFranco commented on #8483
Hi There,

sorry for the late response...me environment details:

NodeJS Team MessageExtension generated by the Team Yo generator. Basically, I was incorporating KeyVault access into the project (not part of the default template) using the following libraries:

@azure/identity
@azure/keyvault-secrets

full code:
`const credential = new DefaultAzureCredential();
 const vaultName = process.env["KEYV

[2020-07-24 16:08] javivelasco opened #10259 "Error "The read/write session is not available" in Cosmos JS SDK v3"
- **Package Name**:
`@azure/cosmos`
- **Package Version**:
"3.7.4"

**Describe the bug**
We are updating from v2 to v3 progressively and we started getting an error that we've never seen before: "The read/write session is not available". Here is a sample with some data from the response:

[code]

**To Reproduce**
There is no direct way to reproduce, we get this error a few times a day in a very bi

[2020-07-24 16:46] #9704 closed

[2020-07-24 16:47] ramya-rao-a commented on #10159
Code snippet from @diberry

[code]

[2020-07-24 16:51] #10033 closed

[2020-07-24 16:55] ramya-rao-a commented on #10159
Extra info from @diberry

[2020-07-24 17:42] ramya-rao-a commented on #9867
@willmtemple Do you have an issue to track removing rollup for testing? If so, then this issue would go away when that work is done

[2020-07-24 18:37] sadasant commented on #9516
After studying these and other plugins, we decided to not move through with them. Instead, we will make sure ESLint is enforced for identity: https://github.com/Azure/azure-sdk-for-js/pull/10257/files

[2020-07-24 18:37] #9516 closed

[2020-07-24 18:37] ramya-rao-a commented on #10248
@JosueJoshua, Changing require statements to import statements makes the assumption that we are converting JS samples to TS. It is very intentional that we have JS samples in the readme and not TS samples so that it is easy for people to copy/paste into a JS files and just run node. TS code requires the user to first convert to JS or use a smart editor or use ts-node

Can you elaborate on what iss

[2020-07-24 18:45] amrenbin commented on #10259
We are seeing exactly same issue here.

[2020-07-24 18:52] amrenbin opened #10275 "[cosmos] TypeError: Cannot read property 'add' of undefined"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.7.4
- **Operating system**: Linux
- [ ] **nodejs**
    - **version**: 12.0.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 3.7.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Seeing

[2020-07-24 19:46] sadasant commented on #9134
@ramya-rao-a I thought I had fixed it, but I only fixed it in our tests, not in the samples. The samples issue is different. I'll pick this up eventually.

[2020-07-24 20:00] markwolff opened #10276 "[EventHubs][DistributedTracing] Azure.EventHubs.message should contain message_bus.destination and peer.address attributes"
**Describe the bug**

https://gist.github.com/lmolkova/e4215c0f44a49ef824983382762e6b92#send-messages

Spans generated for event hubs message creation should contain same attributes as other event hubs spans. Only `Azure.EventHubs.message` is missing these 2 extra attributes (`message_bus.destination` and `peer.address`).

**Screenshots**
![image](https://user-images.githubusercontent.com/5515583/

[2020-07-24 20:32] #10132 closed

[2020-07-24 21:33] HarshaNalluru commented on #9912
**Observations**
- Only seen on macOS that too occasionally
- Failure - The queue is initially empty, we schedule 3 messages, get their sequence numbers, receive the 3 messages, and the error is that one of the sequence numbers do not have a counterpart in the received messages.

[2020-07-24 21:36] southpolesteve commented on #10275
@zfoster  Will take a look

[2020-07-24 21:42] HarshaNalluru commented on #9818
eTags for subscription.. both valid and invalid eTags resulted in 500 InternalServerError.
(Service doesn't yet support eTags for subscription)

[2020-07-24 21:44] HarshaNalluru commented on #9818
Dropping the issue since the service supports eTags only for queues/topics and not for subscriptions/rules, the status codes are inconsistent for queues/topics.

[2020-07-24 21:44] #9818 closed

[2020-07-24 22:04] #4822 closed

[2020-07-24 22:10] sadasant commented on #10191
@davej

The `certifciateTransparency` flag on the policy causes Key Vault to notify the issuer to publish the certificate to the certificate transparency list when new certs are signed. This only applies for supported issuers which Key Vault integrates with to issue new certificates.

In this case you have specified the issuer "Unknown" which indicates that Key Vault will merely create the certifi

[2020-07-24 22:16] ramya-rao-a commented on #10191
Adding the `Service Attention` label to see if the service team can improve the docs around this.

[2020-07-24 22:35] sadasant commented on #9069
We're now using `.spec.`, so I'll only do the folder change.

[2020-07-24 22:54] diberry opened #10279 "@azure/logger reference documentation isn't published"
- **Package Name**:  @azure/logger
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The reference documentation fo

[2020-07-24 23:24] HarshaNalluru commented on #10151
#10223 Merged

[2020-07-24 23:24] #10151 closed

[2020-07-24 23:25] HarshaNalluru commented on #10087
#10092 Merged

[2020-07-24 23:25] #10087 closed

[2020-07-24 23:57] #10244 closed

[2020-07-25 00:31] zfoster commented on #10275
Yep - I already noticed this. We seem to have conflicting formatting and it might be that CI isn’t failing on either because I’ve noticed lint changes that change files back to the way they were before. Should be able to fix.

Software Engineer
CosmosDB
________________________________
From: Steve Faulkner <notifications@github.com>
Sent: Friday, July 24, 2020 5:36:52 PM
To: Azure/azure-sdk-for-js

[2020-07-25 06:28] sarangan12 commented on #10159
**Context**
The user provided sample (in the [comment](https://github.com/Azure/azure-sdk-for-js/issues/10159#issuecomment-663631252) above) essentially does 3 things:

1. Creates a Knowledge Base
2. Updates a Knowledge Base
3. Deletes a Knowledge Base

Here, steps (1) and (2) do not have any issues. The issue reported by the user happens in the step (2).
I am providing only the relevant section h

[2020-07-25 12:40] davej commented on #10191
@sadasant That's super helpful, thank you.

For context, I guess my confusion came from two angles.

1. The error message not clear to me. Perhaps this is due to my ignorance about certs though.
2. This seems to be possible through the Azure Portal UI. I was porting a manual operation that was done on Azure Portal to an API request that we can do automatically, so I was trying to maintain a 1:1 ma

[2020-07-25 19:08] ramya-rao-a opened #10288 "When should a package have its own typedoc.json file?"
Today, we have a `typedoc.json` file for the below packages:

<img width="391" alt="Screen Shot 2020-07-25 at 12 02 40 PM" src="https://user-images.githubusercontent.com/16890566/88464348-c381a780-ce6e-11ea-91e0-69dab22c4593.png">

That leaves the below Track 2 packages
- template
- text analytics
- form recognizer
- identity
- event hubs
- service bus
- any of the core packages

The ones for the

[2020-07-25 19:09] ramya-rao-a commented on #10288
cc @sadasant, @jeremymeng, @richardpark-msft, if they recall anything from the time these files were added to key vault, storage and app config packages respectively.

[2020-07-25 19:44] ramya-rao-a commented on #10159
Thanks for the detailed analysis @sarangan12!

@bingisbestest, looks like the generated code is as per the swagger spec. Assigning it back to you if you want to consider any swagger changes

[2020-07-27 01:50] joheredi opened #10291 "[Storage + Tables] Move Shared Key authorization building blocks to a common place for reuse"
Shared Key authorization shares some common functionality across Storage Services and Tables Service. It would be great if we could abstract some of these common building blocks into a core package so that they can be reused by Services that need them.

[2020-07-27 03:03] dw511214992 commented on #10004
Hi @ramya-rao-a I agree to do manual fix now. But I think we need to ask codegen team to fix this bug as soon as possible, because it's unreasonable to do manual fix again in next release. Thank you

[2020-07-27 08:03] bingisbestest commented on #10161
I can take this up. Will send PR.

[2020-07-27 08:11] bingisbestest commented on #10160
@sarangan12, @ramya-rao-a Thanks for digging deeper into it. Glad to know the actual serialized string value is correct. GIven this was issue with the old generator, Can we just regen the sdk with the new generator ? Once that is done we can release a major version bump ?

[2020-07-27 08:30] LianwMS commented on #10186
Hi @zidaneymar have you tried using template from portal ? https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/quickstart-create-templates-use-the-portal
Is the issue also report from portal?

[2020-07-27 08:36] zidaneymar commented on #10186
No, I just added a additional config section named 'condition' to the template file, If this condition is 'true', the template could be deployed successfully, if this condition is 'false', the arm template should not try to deploy the resources but skip those resources, but the arm tempalte threw an unexpected exception as I mentioned in this issue:

[code]

[2020-07-27 08:36] zidaneymar commented on #10186
The whole template file is mainly based on the template generated from the azure portal.

[2020-07-27 08:43] LianwMS commented on #10186
Got it, so which client are you using to deployment the template? could you try portal?

[2020-07-27 08:47] zidaneymar commented on #10186
I'm using this client:
[code]

[2020-07-27 16:02] ramya-rao-a commented on #10160
@sarangan12 When you mention the "new code generator", you meant v6 right?

@bingisbestest, The v6 of the code generator is still under development and we are onboarding selected services to use it which have been included in our semester planning. It also brings in new way of doing authentication and differently shaped APIs as per our new SDK guidelines. It includes onboarding the package to a se

[2020-07-27 16:50] joshfree commented on #9288
@jonathandturner this issue can be closed now that #10142 has been merged, correct?

[2020-07-27 18:03] nguerrera commented on #10076
@ramya-rao-a  Is there a formal process for approving a name? Should we pick an interim name pending a review? `@azure/schema-registry`?

[2020-07-27 18:04] jonathandturner commented on #9288
Yes, going ahead and closing as this should be available in 1.1.0-preview.5.

[2020-07-27 18:04] #9288 closed

[2020-07-27 18:05] nguerrera commented on #10076
I checked with Arthur about this and he will be looking at this soon.

[2020-07-27 18:30] sarangan12 commented on #10160
Yes. The new one, i mentioned, is v6. which is under dev and uses new Auth, tests and the whole 9 yards.

[2020-07-27 18:35] #10004 closed

[2020-07-27 19:13] markwolff opened #10298 "[EventHubs][DistributedTrace] Azure.EventHubs.send missing peer.address protocol"
Span attribute `peer.address` is set with correct event hub instance, but it is missing the `sb://` protocol that other event hubs spans include. This causes a separate node to appear in the Azure Monitor application map (one with `sb://` on top, one without on bottom)

[code]

![image](https://user-images.githubusercontent.com/5515583/88581705-91fa0f00-d01b-11ea-8cf1-53725102a568.png)

[2020-07-27 19:42] ramya-rao-a commented on #10076
`@azure/schema-registry` sounds perfect. @bterlson, do we have your blessing?

[2020-07-27 20:26] sadasant commented on #10191
@davej I have submitted the feedback to our team.

I wonder, have we resolved your concerns? Please let me know if there's anything else we could do.

[2020-07-27 20:28] #8615 closed

[2020-07-27 20:29] xirzec commented on #6457
This was done in `core-client` as part of #9854

[2020-07-27 20:29] #6457 closed

[2020-07-27 20:30] xirzec commented on #8620
This was achieved in `core-client` and `core-https`

[2020-07-27 20:30] #8620 closed

[2020-07-27 20:31] xirzec commented on #6773
`core-https` uses `node-proxy-agent`. I don't think it's worth going back and modifying the existing `core-http` though, so I'm going to close out this issue.

[2020-07-27 20:31] #6773 closed

[2020-07-27 20:31] davej commented on #10191
@sadasant Yes. Definitely one of the best experiences that I've had posting an issue to a commercial Github repo. Feel free to close this issue.

[2020-07-27 20:36] #10191 closed

[2020-07-27 21:02] joheredi commented on #7869
@ebower12 we have released a fix for this issue with version `7.0.1`, so the workaround shouldn't be necessary after updating.

[2020-07-27 21:03] joheredi commented on #10004
We have released a fix for this issue with version `7.0.1`, so the workaround shouldn't be necessary after updating.

[2020-07-27 21:04] ramya-rao-a commented on #10198
Thanks @scbedd!

The docs are now showing up as expected in https://docs.microsoft.com/en-us/javascript/api/@azure/cognitiveservices-qnamaker-runtime/?view=azure-node-latest

cc @diberry, @bingisbestest, @nerajput1607.

[2020-07-27 21:04] #10198 closed

[2020-07-27 21:06] ramya-rao-a commented on #10179
Thanks @scbedd!

Docs for `@azure/arm-appconfiguration` are now appearing as expected at https://docs.microsoft.com/en-us/javascript/api/@azure/arm-appconfiguration/?view=azure-node-latest

But, the app config packages dont appear in https://docs.microsoft.com/en-us/javascript/api/?view=azure-node-latest yet. Should this be tracked separately @scbedd?

[2020-07-27 21:08] scbedd commented on #10179
Feel free to leave this one open. It should be resolved today. Pinging the channel again :)

[2020-07-27 21:12] nguerrera commented on #10076
The current swagger caused a problem for the generator, sent https://github.com/Azure/autorest.typescript/pull/705 to fix it

[2020-07-27 21:14] richardpark-msft opened #10300 "[service-bus] Track 2 - cleanup of internal code"
As we're refactoring and looking at older code we're spotting areas where we're guarding against conditions that don't exist (ie, undefined checks where the API won't send us undefined, etc..).

I'm collecting all of the known ones that Ramya spotted recently in one of my PRs (#10277). Some of these are just small investigations to confirm what the rhea contract is.

- [ ] [What is the contract of

[2020-07-27 21:26] #9069 closed

[2020-07-27 22:02] chradek commented on #10298
We had an earlier issue asking us to remove the `scheme` from spans: https://github.com/Azure/azure-sdk-for-js/issues/7109
It sounds like we're inconsistently setting it now, so should make sure we remove it from all spans to be consistent with the other languages.

Here's the PR where we removed it from `send` spans: https://github.com/Azure/azure-sdk-for-js/pull/8709

[2020-07-27 22:10] bterlson commented on #10076
+1 for @azure/schema-registry.

[2020-07-27 22:17] markwolff commented on #10298
Removing them altogether works for me too.

[2020-07-27 22:20] richardpark-msft commented on #6349
@chradek  pointed out an area where we might be removing message handlers a bit earlier. This issue will probably be within that area quite a bit so we might as well tighten it up.

https://github.com/Azure/azure-sdk-for-js/pull/10277#discussion_r461040440

[2020-07-27 23:37] sarangan12 opened #10304 "Relase QnAMaker & QnAMaker Runtime SDKs after Readme Update"

[2020-07-27 23:37] sarangan12 commented on #10196
All samples in the readme have been updated. All SDKs have been released except

1. QnAMaker
2.QnAMakerRuntime
3. Text Analytics
4. LUIS Authoring
5. LUIS Runtime

Created Issue https://github.com/Azure/azure-sdk-for-js/issues/10304 for QnAMaker & QnAMaker Runtime SDKs. Rest do not need release now

[2020-07-27 23:37] #10196 closed

[2020-07-28 00:11] JoshLove-msft opened #10306 "Consider reconnecting session link on transient errors"
See https://github.com/Azure/azure-sdk-for-net/pull/13735

[2020-07-28 02:59] ruowan opened #10311 "Azure event processor host update checkpoint failed"
- **Package Name**:  @azure/event-processor-host
- **Package Version**:  2.1.1
- **Operating system**: linux
- [ ] **nodejs** 10.x
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug*

[2020-07-28 03:01] XiaoningLiu commented on #7536
I think it's a valuable point. As it's a breaking change, we will consider this in next major version updates.

[2020-07-28 04:10] stingray111 commented on #10093
@ramya-rao-a

May I know if there is ETA regarding this issue? We would like update on library asap as we recently faced a fatal error on Azure Function with the old libraries. The Azure Support we contacted suggested us to update the library.

[2020-07-28 05:00] ramya-rao-a commented on #10093
@stingray111 Looks like 4 days ago, an update was released via #10253. So, the latest version i.e. 6.0.0 should work as expected.

[2020-07-28 05:03] ramya-rao-a commented on #10093
Please use the latest version and drop in a comment if you see any other issues

Thanks for reporting!

[2020-07-28 05:03] #10093 closed

[2020-07-28 06:13] ramya-rao-a commented on #5505
The package `@azure/graph` is for the older [Azure AD Graph API](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api) which is being deprecated in favor of the newer Microsoft Graph API.

Based on the blog post [Microsoft Graph or the Azure AD Graph](https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-or-azure-ad-graph/), Azure AD Graph is curr

[2020-07-28 06:13] #5505 closed

[2020-07-28 06:13] ramya-rao-a commented on #4247
The packages `azure-graph` and `@azure/graph are for the older [Azure AD Graph API](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api) which is being deprecated in favor of the newer Microsoft Graph API.

Based on the blog post [Microsoft Graph or the Azure AD Graph](https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-or-azure-ad-graph/), Azu

[2020-07-28 06:13] #4247 closed

[2020-07-28 06:15] ramya-rao-a commented on #4242
The packages `azure-graph` and `@azure/graph` are for the older [Azure AD Graph API](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api) which is being deprecated in favor of the newer Microsoft Graph API.

Based on the blog post [Microsoft Graph or the Azure AD Graph](https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-or-azure-ad-graph/), Az

[2020-07-28 06:15] #4242 closed

[2020-07-28 06:36] sarangan12 commented on #9592
@joheredi I tried this and autorest is complaining that it is not able to find it. So, I used `--use` command to pint to local build. Here, I am getting the following error:

[code]

Here, `DocumentsAutocompleteGetOptionalParams` is defined as:

[code]
The requestOptions defined above and in coreHttp seems to be incompatible. Any ideas?

[2020-07-28 06:57] zidaneymar commented on #10186
I tried on portal with the following template but failed. It passed the validation but failed at deployment.
It's the same with the error on azure-js-sdk, which is the 'condition' section doesn't work for QnA account. (But work for Luis Account).

![image](https://user-images.githubusercontent.com/9328933/88629974-86255000-d0e2-11ea-9db4-e2f078fb29eb.png)

[code]

[2020-07-28 07:32] LianwMS commented on #10186
I am agree with you. It seems not only js sdk have the issue. More like service side have the issue. Add service attention here

[2020-07-28 07:34] LianwMS commented on #10216
working on release

[2020-07-28 08:56] bingisbestest commented on #10160
Thanks for the clarification guys, We discussed this internally and given that the json sent is consistent with other apis. We will wait for the v6 generator based release. Thanks.

[2020-07-28 08:56] #10160 closed

[2020-07-28 12:56] ljian3377 opened #10316 "[storage][datalake] uploadFile does not abort when timeout"
https://github.com/Azure/azure-sdk-for-js/blob/752628be7932cd03833c66b9697d12e5430fa3ec/sdk/storage/storage-file-datalake/test/node/highlevel.node.spec.ts#L488

I expected the timeout aborter could abort the uploadFile operation. But it doesn't. The 4GB upload hasn't done yet after 6 minutes. We passed the abortSignal to underlying requests so what's going wrong? @XiaoningLiu @jeremymeng
https://g

[2020-07-28 16:15] ramya-rao-a commented on #10311
@ruowan Do you have any client side logs that we can use to determine what is happening?

Also, we have a newer, more reliable way to work with Event Hubs in v5 of the `@azure/event-hubs` package. We would recommend you move to using that and share how that works out for you.

Please refer to the [migration guide](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-hubs/migrat

[2020-07-28 16:18] ramya-rao-a commented on #10304
Waiting for https://github.com/Azure/azure-sdk-for-js/issues/10161 to be resolved.
This release would include changes made for https://github.com/Azure/azure-sdk-for-js/issues/10158

[2020-07-28 16:18] ramya-rao-a commented on #10158
Closing this issue as the sample has been updated. #10304 will track the release so that the changes appear on npm

[2020-07-28 16:18] #10158 closed

[2020-07-28 16:51] kurtzeborn commented on #7934
It looks like the issue @KarishmaGhiya linked to above is still open, so the new feature is likely not available in rush yet.  We should explore other options to accomplish what's being asked for here and make a recommendation back to @HarshaNalluru and @ramya-rao-a or close the issue if we don't see a way to accomplish this.

[2020-07-28 17:00] kurtzeborn commented on #4827
@ramya-rao-a, @sadasant what's the specific ask of the EngSys team here?

[2020-07-28 17:12] KarishmaGhiya commented on #7934
Currently we do not have a way of allowing the reporter to run outside of npm scripts. For now i will close this.

[2020-07-28 17:12] #7934 closed

[2020-07-28 17:28] ramya-rao-a commented on #9349
PR updating karma-mocha: #10303

[2020-07-28 17:31] southpolesteve commented on #4827
This issue got moved over from the old Cosmos repo. We haven't done any work on it.

In general, it would be nice to have automated checks to ensure we don't regress on bundle size. But if central SDK doesn't consider it a short term priority, this can be closed.

[2020-07-28 18:22] kellyjjrusk opened #10318 "The requested module '@azure/arm-authorization' is expected to be of type CommonJS, which does not support named exports."
- **Package Name**: @azure/arm-authorization
- **Package Version**: 8.3.2"
- **OS**: Google Chromebook OS Version 84.0.4147.94 (Official Build) (64-bit)
- [X] **nodejs**
    - **version**: 14.5.0
- [X] **browser**
    - **name/version**: Chrome Version 84.0.4147.94 (Official Build) (64-bit)
- [ ] **typescript**
    - **version**:

- Is the bug related to **documentation** in
  - [ ] README.md
  -

[2020-07-28 19:30] sadasant commented on #5704
DefaultAzureCredentialOptions already exists here: https://github.com/Azure/azure-sdk-for-js/blame/master/sdk/identity/identity/review/identity.api.md#L83-L87 Can this be considered done?

[2020-07-28 19:31] #9349 closed

[2020-07-28 19:40] ramya-rao-a opened #10319 "[Service Bus] Error handlers for batching receiver before credits are added"
In #10277, we are now introducing the below workflow:
- User calls `receiveMessages()`
- If an open AMQP receiver link is not available, a new one is created with listeners for `receiver_error` and `session_error` events. These listeners track error in a variable. If any such error occurs after a successful link initialization and before the next step, this error is surfaced to the user.
- Require

[2020-07-28 19:50] daviwil commented on #5704
The type exists but its functionality isn't in line with .NET API yet.  The part that is missing is the series of flags that enable the user to customize which credentials will be tried:

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/src/DefaultAzureCredentialOptions.cs#L57-L97

I'd recommend discussing it with @schaabs to see what the latest thinking is on it.

[2020-07-28 19:51] deyaaeldeen opened #10320 "[Abort Signal] Re-enable extract-api as part of build script"
[code]

[code]

`readonly` should be kept.

[2020-07-28 20:19] richardpark-msft commented on #10319
An additional thing to think about as we go through this:

1. Do we have a constructive spot to report the error?
2. Is there a way to have a basic unified error response from both our subscribe() and receiveMessages() flows?
3. Any issues we have to think of with regards to how we handle this in sessions vs non-sessions?

[2020-07-28 20:57] daniekpo commented on #5290
@ramya-rao-a in my case a different team is managing the event hub that we're writing to. They recently changed from issuing a connection string that has `SharedAccessKey` and `SharedAccessKeyName` properties to one that only has `SharedAccessSignature`. Apparently the .Net Core client can connect using this SAS token (as the team demonstrated in their documentation).

[2020-07-28 22:02] ahuggins-nhs commented on #5655
Oh boy: https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/tables/azure-tables

[2020-07-28 23:05] ramya-rao-a commented on #10076
https://github.com/Azure/azure-rest-api-specs/pull/10220 is the link to the PR adding the swagger to the rest-api-specs repo. Please retry the generation and see if there are any other issues now that the upstream bug with the code generator is fixed

[2020-07-28 23:19] sadasant commented on #9777
Closing this issue on favor of #10084 since the feature crew team moved away from public API changes.

This PR, once reviewed and approved, should fix this for us: https://github.com/Azure/azure-sdk-for-js/pull/10085

[2020-07-28 23:19] #9777 closed

[2020-07-28 23:22] sadasant commented on #5704
Alright, I need to talk about those parameters with Jonathan.

Regarding the second point:

@schaabs said that this PR fixed that point: https://github.com/Azure/azure-sdk-for-js/pull/8127

[2020-07-29 00:10] nguerrera commented on #10076
Generation succeeds on https://github.com/Azure/azure-rest-api-specs/commit/1296087cd0050d62dce3292b1d0d2eab2e7729b9 (latest commit in PR at this time). :)

[2020-07-29 00:54] richardpark-msft opened #10326 "[service-bus] Failure with non-matching partitionkey/sessionid caused us to do retries. Should have been considered fatal."
As part of #10325 @JoshLove-msft discovered that the rules for how Service Bus deals with invalid messages (specifically - sending a message to a non-partitioned entity (ie, `TestClientType.UnpartitionedQueueWithSessions`) changed.

This is just a workaround. We have some follow-up work:

- [ ] Why was this failure marked as retryable? It could be that we can't distinguish this error (bad data) fr

[2020-07-29 02:06] dw511214992 commented on #7258
Hi @vikram-m
In case you missed the sdk package I sent you before, you can download it [here](https://sdkautomation.blob.core.windows.net/sdkautomation-pipeline/Azure/azure-rest-api-specs/8411/azure-sdk-for-js/Azure/azure-sdk-for-js/@azure/arm-automation/azure-arm-automation-9.1.0.tgz), which is the same as the one I sent to you in email. Thank you

[2020-07-29 02:33] ramya-rao-a commented on #10076
If you have not started yet, please do use the `template` folder in the repo. We'd like to hear what works and what doesn't when using the template as a reference to add a new package to the repo

[2020-07-29 02:42] sarangan12 commented on #10076
Ok. I will use the template folder 📂

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ramya Rao <notifications@github.com>
Sent: Tuesday, July 28, 2020 7:33:26 PM
To: Azure/azure-sdk-for-js <azure-sdk-for-js@noreply.github.com>
Cc: Sarangan Rajamanickam <sarajama@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-js] Onboard Schem

[2020-07-29 02:52] LianwMS commented on #10216
Release and test pass. @chistov please install latest version: https://www.npmjs.com/package/@azure/arm-servicebus and try again

[2020-07-29 02:58] changlong-liu commented on #10045
Update for current status:
Appinsights: swagger issue is fixed(https://github.com/Azure/azure-rest-api-specs/pull/10228/). The service team is fixing issues in service side, and we can expect to release sdk after service is ready.
Botservice: don’t get response from service side yet.

[2020-07-29 03:27] JosueJoshua commented on #10248
Hi @ramya-rao-a
`let changeFeedEvents: BlobChangeFeedEvent[] = [];`The code will be produce a error message that type annotations can only be used in TypeScript files. And `BlobChangeFeedEvent`  isn't being used as a type here  if use require statement. Thans for your proposal.

[2020-07-29 03:29] southpolesteve commented on #10259
@zfoster will take a look this week. We've been unable to reproduce so far, but this shouldn't be happening. The SDK should catch session unavailable errors and retry

[2020-07-29 04:10] ramya-rao-a commented on #10318
Thanks for reporting @kellyjjrusk

@joheredi, Can you take a look at this since this could be a common problem with any generated package?

[2020-07-29 04:16] ramya-rao-a commented on #10248
Ok, then the action item here would be to remove the type declaration.
Samples in readme files should be runnable when pasted to a JS file

[2020-07-29 08:00] ruowan commented on #10311
Thanks,  I already migrate to event hub 5. Will event processor host sdk  be deprecated?

client side log is:

[code]

[2020-07-29 14:16] nguerrera commented on #10076
@sarangan12 @ramya-rao-a This issue got assigned to me and I have started on it (a little). So far I just copied an autorest config file from another library and pointed it at various in-progress versions of the swagger. This led to https://github.com/Azure/autorest.typescript/pull/705. I haven't started on setting up the build or anything, so nothing much to redo starting from the template, which

[2020-07-29 14:55] hanvyj opened #10330 "[Service Bus] OperationTimeoutError: Unable to create the amqp receiver when reading message without specifying session id"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.0.0-preview.4
- **Operating system**: Win 10
- [x] **nodejs**
    - **version**: v10.19.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2020-07-29 15:04] sadasant commented on #5966
In an attempt to understand this problem:
If the user creates two clients with two credentials, each one with a different tenant, isn't this result achieved?

[2020-07-29 15:13] hanvyj commented on #10330
Aha! I think I've found the problem.

This issue occurs ONLY when there are no messages! That's why I'd seen it working in the past.

[2020-07-29 16:22] ramya-rao-a commented on #10076
There was a slight confusion here :)

The issue was initially assigned to @sarangan12, so when he got notified of my comment above, he jumped to reply without seeing the previous context

No harm done, this is all you @nguerrera, go on full steam ahead!

[2020-07-29 16:30] ramya-rao-a commented on #10311
Yes, the event processor host sdk will eventually be deprecated to a state where we will only provide critical bug fixes.
The new event hubs v5 has a lot of improvements as discussed in the migration guide over the previous event-processor-host package and so we strongly recommend it.

The error you shared does not help much unfortunately. It only says that an error has occurred when updating the

[2020-07-29 16:54] YoussefSbeiti opened #10331 "Custom-vision training iteration JavaScript export"
- **Package Name**:  @azure/cognitiveservices-customvision-training
- **Package Version**: 5.1.1
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

*

[2020-07-29 17:28] ramya-rao-a commented on #9702
Removing the `Service Attention` label as the pending work here is related to our dependency on Open Telemetry.
Assigning to @xirzec

Either we wait for OT to fix this and then we update our dependency
Or we look for alternative solutions like downlevel compiling the types package

[2020-07-29 17:37] AndeYashwanth commented on #10318
I just landed here googling the same issue but with express.
You got that error because `azure-sdk-for-js` doesn't have `"type": "module"` in it's paackage.json. Which means node treats it as a commonjs module and not es6 module.
It has nothing to do with `"type": "module"` in your own project as it is [scope](https://nodejs.org/api/esm.html#esm_package_scope_and_file_extensions) based.
**Solution

[2020-07-29 18:13] ramya-rao-a commented on #10331
Thanks for reporting @YoussefSbeiti

@areddish, @tburns10, Can you clarify if this is expected behavior?

cc @sarangan12 in case the service team needs any follow up from the client side

[2020-07-29 18:36] KarishmaGhiya commented on #9863
if your command prints anything to STDERR (as opposed to STDOUT), then Rush considers it a "success with warnings" which causes exit code 1

[2020-07-29 18:45] ramya-rao-a commented on #9863
@southpolesteve,

To make rollup warnings fail the build, you can update the rollup script itself. You currently have the below for cosmos

[code]

You can change this to the below to break the build on rollup warnings

[code]

@willmtemple is working on having a common roll up script that each package can extend. See This bit can go to the common script. If any package has existing warnings, they

[2020-07-29 18:49] ramya-rao-a commented on #9775
The `OperationTimeoutError` is more understandable, but the `SessionCannotBeLockedError` is mysterious.
Either way, we can update the error message on the `OperationTimeoutError` to be more user friendly.
As shared in #10330, currently the message is not very helpful. It goes into details of the underlying AMQP receiver and AMQP session which is not needed.

[2020-07-29 18:51] ramya-rao-a commented on #9775
@JoshLove-msft, What do you get in .Net in this case?
@KieranBrantnerMagee, What do you see when you finally "open" your receiver in this case?

[2020-07-29 19:04] JoshLove-msft commented on #9775
In .NET we always just timeout. How is it that the session receiver can be successfully created without session info?

[2020-07-29 19:10] areddish commented on #10331
@ramya-rao-a Yes, this is expected behavior.

@YoussefSbeiti exporting an iteration is an asynchronous process, you are getting this error because `exportIteration` was already called on the iteration and it's still queue'd or currently in the process of being exported. We don't allow multiple exports of the same iteration to happen in parallel, you have to wait for the currently queue'd export to

[2020-07-29 19:17] YoussefSbeiti commented on #10331
Thank you for the reply @areddish @ramya-rao-a .
I still get the same Uncaught Error even though the status of the previous request is "Done"
![image](https://user-images.githubusercontent.com/38791367/88842901-3b710a00-d1ae-11ea-8250-985243faba9b.png)

[2020-07-29 19:26] sadasant opened #10333 "[core-tracing] Provide tracing wrappers"
As our clients have evolved, with changes like the switch from RequestOptionsBase to OperationOptions, in the process, our tracing functionalities have become a significant factor on the number of lines of code that any given client might have.

Ideally, core-tracing could provide some wrapper that could be used to define tracing for any client method, with the following requirements:

- It should

[2020-07-29 19:43] ramya-rao-a commented on #9775
And what is the error message associated with the timeout error?

That needs some deeper digging.

[2020-07-29 19:54] scbedd commented on #6342
[Cleanup Commit](https://github.com/MicrosoftDocs/azure-docs-sdk-node/commit/ee3545b893391d70eaab756ada3c804ece2b0caf)

[2020-07-29 20:06] deyaaeldeen opened #10334 "Investigate using VS Code debugger on samples"
`dev-tools` compiles samples and runs them from a different location making them hard to debug.

[2020-07-29 20:46] JoshLove-msft commented on #9775
```Azure.Messaging.ServiceBus.ServiceBusException : The operation did not complete within the allocated time 00:00:09.9560000 for object receiver10. (ServiceTimeout)```

[2020-07-29 21:22] sadasant opened #10335 "[core-tracing] Provide tree validators, for tests"
Provide test support in @azure/test-utils for package authors.

There are two aspects to this:
1. Low-level support using the `useInstrumenter` api in core-tracing. A user should be able to configure an in-memory instrumenter that can be used for validation purposes
2. High-level support: As a package owner, there should be a single mocha helper or method that allows me to ensure a method supports

[2020-07-29 22:55] nguerrera commented on #10076
@ramya-rao-a I put up a *draft* PR: #10336. Feedback welcome. It's still completely untested and likely missing things to get it to work end-to-end. My next step will be to try to use it, adding appropriate tests and samples.

[2020-07-29 23:24] kellyjjrusk commented on #10318
Thanks for that insight. When I changed it to the following, it was able to get pas the error:

[code]
However, it now fails on:
[code]

I am wondering if these are related errors. A bit of a noob question re: TypeScript, but do I need to install TypeScript in my node project as well?

[2020-07-29 23:33] kellyjjrusk commented on #10318
Thanks for that insight. When I changed it to the following, it was able to get past the error:

i```
mport pkg from '@azure/arm-authorization';
const { AuthorizationManagementClient, AuthorizationManagementModels, AuthorizationManagementMappers } = pkg;
[code]
msRestNodeAuth.interactiveLogin().then((creds) => {
               ^
TypeError: msRestNodeAuth.interactiveLogin is not a function
    at f

[2020-07-30 02:19] southpolesteve commented on #7479
Hey issue watchers! Bulk support has been merged. We've held off on doing an official release while we get some feedback on the public API shape. Please do tell us what you think! This is designed to be a low level flexible API. We may add some higher level convenience methods later.

Examples in the PR above and you can get it by installing the dev release: `npm install @azure/cosmos@dev`

[2020-07-30 07:01] AndeYashwanth commented on #10318
I didn't use typescript before, but quick googling told me to install it using `npm I -D typescript`
I suggest you to look for some tutorial on it if you are new to typescript.

[2020-07-30 07:59] kellyjjrusk commented on #10318
Thanks. I looked at the same and have taken a few tutorials. I was more wondering if TypeScript is required/a dependency for running the Azure SDK for Node.

[2020-07-30 12:30] sadasant commented on #5696
Question,

Is AZURE_CLOUD the same as AZURE_AUTHORITY_HOST?

[2020-07-30 13:20] kamesh95 opened #10350 "@azure/arm-sql: Incorrect header in beginImportMethod when the database restore is in progress"
- **Package Name**: @azure/arm-sql
- **Package Version**: 7.0.1
- **Operating system**: macOS Catalina
- [x] **nodejs**
    - **version**: 12
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I am u

[2020-07-30 13:52] DerKobe opened #10352 "Cannot encrypt with key with kty = RSA-HSM"
- **Package Name**: keyvault-keys
- **Package Version**: 4.0.4
- **Operating system**: MacOS
- [X] **nodejs**
    - **version**: v10.17.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I try to e

[2020-07-30 14:28] deyaaeldeen opened #10353 "prettiers outputs valid but unprocessable Azure Pipeline templates"
Azure DevOps is not able to process the result YAML files.

[2020-07-30 14:54] javivelasco commented on #10259
@southpolesteve Is that retrying supposed to be tight to the retries parameter we can pass on client instantiation? If so maybe we can retry ourselves when this happens. The thing is that it wasn't happening on v2 unless it was throwing a different error code/type caught by our retry layer.

Also, are timeouts so common? Maybe we should low down the max timeout if that's gonna happen that often.

[2020-07-30 15:43] Petermarcu commented on #5143
Should this come out of the backlog and into a milestone? When are we targeting a release of this change?

[2020-07-30 15:48] #10170 closed

[2020-07-30 15:48] #10172 closed

[2020-07-30 15:48] #10173 closed

[2020-07-30 15:57] joheredi commented on #10318
@kellyjjrusk Typescript is not a required dependency for the Azure SDK. You should be able to import the libraries as @AndeYashwanth  suggested. Looking at your current error, and your initial post it looks like it may be caused by the `msRestNodeAuth` import. Can you try with the following imports?

[code]

[2020-07-30 16:10] roddolf opened #10354 "[cosmos] QuerySpec do not accept readonly arrays"
- **Package Name**: cosmos
- **Package Version**: 3.7.4
- **Operating system**: Windows
- [x ] **nodejs**
    - **version**:  10.22.0
- [ ] **browser**
    - **name/version**:
- [x ] **typescript**
    - **version**: 3.8.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The typ

[2020-07-30 16:19] joheredi commented on #10318
Unfortunately we don't support native ESM yet, and that is the reason why named imports don't work with Javascript + Node.
To be able to use named imports, the code would need to be transpiled into cjs using e.g. Babel or Typescript.

The samples in the README.md on this package are written in Typescript, so they won't run in Javascript. I'll send out a PR to update the sample.

[2020-07-30 16:49] ramya-rao-a commented on #10350
Thanks for reporting @kamesh95

Can you please try version 7.0.0 of the package and share if you see the same problem?

We recently made a change to include the `accept` header with value `application/json` for all requests made via `@azure/arm-sql` because the service would otherwise return xml where as the code expected json. Am not saying that this is the cause for the issue you are seeing, but

[2020-07-30 16:51] ramya-rao-a commented on #10350
@qiaozha, Please have someone from your team do the initial investigation here.
@joheredi can jump in if any change is needed from ms-rest-js or the code generator after your initial invesitgation.

[2020-07-30 17:25] weshaggard commented on #5784
@mitchdenny I believe you completed this work correct?

[2020-07-30 17:44] southpolesteve commented on #10259
@javivelasco Yes sharing your constructor options would be helpful here. My guess is that for some reason the SDK is skipping the session retry code (maybe based on your retry config) and that is causing this problem.

[2020-07-30 18:02] chradek commented on #3896
Since we moved to the model of having a single client for receivers and a single client for producers, I don't think this is needed anymore. Closing!

[2020-07-30 18:02] #3896 closed

[2020-07-30 18:05] chradek commented on #9792
I'm closing this issue as we believe it is resolved in service-bus version 1.1.8. If you encounter the `TypeError: _process of undefined` exception after updating please open a new issue and we'll investigate.

[2020-07-30 18:05] #9792 closed

[2020-07-30 18:08] southpolesteve commented on #10259
@javivelasco Can you create a new issue about timeouts? That looks to be a separate issue. Can you provide more details beyond "very common". Looking for a specific # of requests compared to total and if they correlate to any specific operations, ie read, write, query.

[2020-07-30 18:36] epomatti opened #10358 "Can't set the DomainType (or Project Type) when creating a project in Custom Vision / Cognitive Services"
- **Package Name**: @azure/cognitiveservices-customvision-training
- **Package Version**: 5.1.1
- **Operating system**: Ubuntu 20.04
- [x] **nodejs**
    - **version**: v12.18.2

**Describe the bug**
I don't know if this is a bug or not, but I cannot find a way to set the `DomainType` when creating a project using the SDK.

In the Custom Vision portal there are two domain types (called Project Typ

[2020-07-30 19:01] kellyjjrusk commented on #10318
Thank you for the detailed response and education on the reasons why. When attempting the straight froms you recommended, the authorization fails after devicelogin:

[code]

I got around this by changing this:
`import armAuthorization from "@azure/arm-authorization";`

to this:

[code]

However, after devicelogin, it can't find the subscription despite being declared as a constant. If I add my sub

[2020-07-30 19:20] scbedd commented on #10179
They need to execute on some updates before re-indexing. Sent a follow-up mail.

[2020-07-30 19:45] joheredi commented on #10318
`process.env["mysubguidadded"];` is trying to find `mysubguidadded` in your environment variables. There are 2 options to have it working

1) in your console set the environment variable

**windows**
[code]

**linux**
[code]

After setting the variable `const subscriptionId = process.env["mysubguidadded"];` should be able to grab it

2) Using a package such as dotenv https://www.npmjs.com/package/

[2020-07-30 20:29] jeremymeng commented on #5143
We are planing to include a fix in the next release of core-http.

[2020-07-30 20:37] jeremymeng commented on #5143
August 2020 release that is.

[2020-07-30 20:44] richardpark-msft commented on #10330
Hi @hanvyj,

Thanks for submitting this and also providing a clear repro - that was very helpful!

Part of the complication with the "next random session" workflow is that there are two "requests" happening here (which makes it different from the "open a distinct session" workflow):
1. Asking Service Bus to hand back a non-empty session
2. Asking Service Bus for messages for a session

The first r

[2020-07-30 20:44] #10330 closed

[2020-07-30 20:55] ramya-rao-a commented on #10241
Done with #10250

[2020-07-30 21:05] ramya-rao-a commented on #10353
This can be closed now that #10351 is merged?

[2020-07-30 21:29] epomatti opened #10362 "Access denied due to invalid subscription key or wrong API endpoint (Cognitive Services Custom Vision)"
- **Package Name**: @azure/cognitiveservices-customvision-training
- **Package Version**: 5.1.1
- **Operating system**: Ubuntu 20.04
- [x] **nodejs**
    - **version**: v12.18.2

I'm trying to connect to my Cognitive Services resource but I'm getting the following error:

[code]

I created the the resource with kind `CognitiveServices` like this:

[code]

Using kind `CustomVision.Training` didn't

[2020-07-30 21:42] ramya-rao-a commented on #10358
@areddish, @tburns10,

The JS SDK is generated based on the swagger file at https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.3/Training.json

Can you share if there is any endpoint in the swagger spec that would help with the above feature request?

[2020-07-30 22:47] restfulhead commented on #8992
Seems like we just encountered this issue under slightly different circumstances. Instead of uploading files, we are downloading many files in parallel (basically by using `Promise.all`). I've now added code to throttle/limit downloading to 1 at a time. However, it would be much better if this was fixed, so that only the initial authentication is throttled and not the entire download. Has there be

[2020-07-30 22:50] #8616 closed

[2020-07-30 22:51] xirzec commented on #8617
Have to think about this some more, might want to wait until we move away from `OperationSpec`

[2020-07-30 23:30] sadasant commented on #10352
@DerKobe Hello Mr Claren,

Thank you for making this issue! We are studying the problem. We will be making the fixes soon. Please give us some days to coordinate this.

[2020-07-30 23:40] sadasant commented on #6769
Question:

Was this done here? https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/src/credentials/defaultAzureCredential.ts#L42-L46

Please let me know if I'm missing something 🙂

[2020-07-30 23:43] sadasant commented on #5696
To update this with an answer to my question, I asked my question above to @schaabs over a private channel and his response was more or less the following:

[2020-07-31 01:12] kellyjjrusk commented on #10318
That makes complete sense. Appreciate all the sharing and opening a PR for the documentation updates. I am closing this as the needs are met.

[2020-07-31 01:12] #10318 closed

[2020-07-31 02:01] qiaozha commented on #10350
okay, I will take a look here.

[2020-07-31 04:48] kamesh95 commented on #10350
@ramya-rao-a I tried using v7.0.0 and this time it fails in the response that acknowledges that the import has been started. So it doesn't even reaches the polling code for this operation. See stack trace:

[code]

[2020-07-31 05:16] qiaozha commented on #6487
@macolso @mostafaez  Is there any update on this?

[2020-07-31 05:20] qiaozha commented on #5085
@panchagnula, @Nking92, @antcp, ping again, Any updates on this?

[2020-07-31 05:22] qiaozha commented on #4842
I will take a look at this later.

[2020-07-31 05:30] qiaozha commented on #3894
@dkkapur  Is there any updates on this? Could you provide some doc for the user about the ContainerInstance service?

[2020-07-31 05:40] qiaozha commented on #7336
@armleads-azure Can you release a new JS SDK release request on this based on the api-version in use is not the latest one?

[2020-07-31 06:45] sarangan12 commented on #10362
@ramya-rao-a I have checked the provided steps and also my previous projects and created new projects and tested it. The service is returning the same error as "Access denied due to invalid subscription key or wrong API endpoint".

I have validated the values with the portal. The URL/Endpoint, headers are all the same. When I try using the portal, it is suceeding. In our SDK it is failing. I have

[2020-07-31 07:34] ramya-rao-a commented on #10362
@areddish, @tburns10,

The latest package version is 5.1.1, but all that included was a change in the readme file.

The previous version 5.1.0 released 24 days ago had the changes from re-generating the package for the swagger update made in https://github.com/Azure/azure-rest-api-specs/pull/9522.
At this time, it was working as expected. Something must have changed in the service between then and

[2020-07-31 12:44] helmesjo commented on #6396
Was this ever resolved? Seeing the same issue. On windows (42s) and linux (1s).

[2020-07-31 14:16] areddish commented on #10362
The issue is with the credentials class that is being used. CustomVision doesn't use `CognitiveServicesCredentials `as that has a hard coded header value that is not compatible with our API. You are using the correct credentials class in the C# example, which is why it works. You need to use the same credentials class for your JavaScript code - `ApiKeyCredentials`. For example:

[code]

For a more

[2020-07-31 14:17] DVassilev opened #10368 "Get blob count in container"
Is it possible to get the number of blobs in a container? I haven't found it in the API reference but see it's possible to find from Storage Explorer so I imagine it must exist.

[2020-07-31 14:51] epomatti commented on #10362
@areddish thanks, I got my sample from the official [@azure/cognitiveservices-customvision-training](https://www.npmjs.com/package/@azure/cognitiveservices-customvision-training) npm package documentation, we need to fix that:

[code]

I tried running your code but I'm getting an error: `TypeError: ApiKeyCredentials is not a constructor`

It also printed my key in the console. Is it possible to im

[2020-07-31 15:04] areddish commented on #10362
@epomatti My apologies, I copied the imports from your example and didn't notice that my imports are using a different [msRest package](https://www.npmjs.com/package/@azure/ms-rest-js).

[code]

[2020-07-31 15:28] epomatti commented on #10362
@areddish I didn't see it as well :grin: It works. I forked it and sent this [pull request](https://github.com/Azure/azure-sdk-for-js/pull/10371) to reflect that change in the documentation.

Anything that can be done about the key being printed in the console when an exception occurs?

[2020-07-31 15:58] ramya-rao-a commented on #10362
Thanks @areddish! Has this always been the case or any recent change in the service?

Thanks for the PR @epomatti!

@sarangan12, Any questions you have for @areddish?

[2020-07-31 16:12] areddish commented on #10362
@epomatti What exception caused the key to print into the console? The above screen shot is a code generation/transpile error that is dumping the line of code. That would be expected as it's a dev environment thing using node or tsc.

@ramya-rao-a A few changes back (few months) we aligned with the cognitive services to use the credentials classes. But it's only been ApiKeyCredentials. It looks li

[2020-07-31 16:15] epomatti commented on #10362
@epomatti you're right, I hardcoded it to make it short and that obviously will be printed.

[2020-07-31 16:16] #10362 closed

[2020-07-31 16:39] ramya-rao-a commented on #8801
After preview 4, the next update for `@azure/search-documents` was a stable release with [version 11.0.0 ](https://www.npmjs.com/package/@azure/search-documents/v/11.0.0) made in July

[2020-07-31 16:39] #8801 closed

[2020-07-31 17:09] mahdiva opened #10374 "[Tables] Transition to using object descriptors for Int32, Int64 and Guid types"
Our initial plan was to use custom wrapper classes for Int64 and Guid types for serializing and deserializing the entities. An outcome of the architecture board review was to resort to using object descriptors for representing non-native types namely Int32, Int64 and Guid.

[2020-07-31 17:09] mahdiva opened #10375 "[Tables] Make eTag parameter optional in deleteEntity()"
the ifMatch parameter should be renamed to eTag and made optional with a default value of * in the deleteEntity method.

[2020-07-31 17:13] mahdiva opened #10376 "[Tables] Overload deleteEntity method to also accept an entity object"
The deleteEntity() method should also accept an entity object that contains partitionKey and rowKey for deleting a table entity.

[2020-07-31 17:15] mahdiva opened #10377 "[Tables] Restrict TableServiceClient to high level service operations only"
Right now the TableServiceClient class has access to all of the methods of TableClient. It should be restricted to only high level service operations such as getStatistics, getProperties, setProperties etc...

[2020-07-31 17:20] mahdiva opened #10378 "[Tables] Flatten the response object for getEntity and listEntity methods and Error response"
Currently the response object for the methods that retrieve entities and tables, contains the data under the .value property. Ideally the entities/tables should be available directly as the return value as either an array or the entity object. All the additional response headers should be stored under ._response

[2020-07-31 17:50] mahdiva opened #10379 "[Tables] Use types instead of enums for UpdateMode"
We should use TypeScript types for the two kinds of UpdateMode, Replace and Merge instead of enums.

[2020-07-31 17:52] mahdiva opened #10380 "[Tables] Add delete method to TableClient"
The TableClient class should have a public .delete method for deleting a specific table.

[2020-07-31 17:54] mahdiva opened #10381 "[Tables] Convert pascal casing of PartitionKey and RowKey to camel casing"
An outcome of the architecture board review was to use camel casing for PartitionKey and RowKey, as opposed to pascal casing defined by the service in an attempt to make the sdk more idiomatic with JavaScript.
This change requires the implementation of proper mapping between the two names in the serialization and deserialization of the entities and also any odata filter expressions when querying.

[2020-07-31 18:12] ramya-rao-a commented on #10350
Thanks for that @kamesh95! That confirms that the change made in 7.0.1 is not the root cause here

[2020-07-31 18:49] mikeharder commented on #6396
We solved this in our repo by the following:

1. Before publishing test results, run `rush unlink` which clears the `node_modules` folder in each of our package sub folders.  This significantly reduces the number of files `PublishTestResults` needs to scan.

https://github.com/Azure/azure-sdk-for-js/blob/1d25f3eeb29cb082cef5c6b9cd94b36e1135546f/eng/pipelines/templates/jobs/archetype-sdk-client.yml

[2020-07-31 21:02] sarangan12 commented on #10243
@JosueJoshua Thanks a lot for reporting these issues.

I have fixed the first two of them and released the package. The `odata` works fine. So, I have not changed it.
2. First 2

[2020-07-31 21:03] jeremymeng commented on #9171
How important is this scenario?  I changed to use `#` instead of `_` in #9599, however, we are concerned about breaking existing customers.

[2020-07-31 21:05] MRayermannMSFT commented on #9171
It's a customer reported bug: https://github.com/microsoft/AzureStorageExplorer/issues/2954

Feel free to ask the customer if this is important to them. My guess would be fairly important since it prevents them from using our tool. But maybe they can change key.

[2020-07-31 21:19] xirzec commented on #9702
The OpenTelemetry issue was fixed in this PR: https://github.com/open-telemetry/opentelemetry-js/pull/1368

As soon as they publish a release that contains that fix, we can adopt the new version.

[2020-07-31 21:22] willmtemple commented on #10234
See #10386

[2020-07-31 21:29] chradek commented on #10276
To fix this, we'll need to update our function for generating message spans to set the additional attributes. We should be able to pass the `destination` and `peer.address` values into the function.
Current implementation for message span creation:
https://github.com/Azure/azure-sdk-for-js/blob/6384f602b28983187b2ffa0e46a0ee51fcc623f3/sdk/eventhub/event-hubs/src/diagnostics/messageSpan.ts#L11-L20

[2020-07-31 21:30] nguerrera commented on #10076
#10336 is out of draft. I am going to look at testing as part of building the outer convenience layer. #10336 doesn't export anything so there's nothing to test as part of that PR.

[2020-07-31 22:01] #5143 closed

[2020-07-31 23:43] chradek opened #10388 "[storage-blob] abstract class StorageClient is not exported"
The `@azure/storage-blob` v12 package doesn't currently export the `StorageClient` abstract class from its entry point.
This is causing a TypeScript compiler issue for one of our samples for the `@azure/eventhubs-checkpointstore-blob` package because it can't find the protected `pipeline` member on a `ContainerClient`, which would be inherited from the `StorageClient` class.

## Sample that causes

[2020-08-01 00:00] bganapa opened #10390 "Release @azure/arm-storage package supporting the api version 2017-10-01"
**Is your feature request related to a problem? Please describe.**
AzureStack Storage RP supports only the api version 2017-10-01.  Some of our big customers are asking for vscode storage extension and function extensions support . These extensions are moving to use the nodejs sdk from azuer-sdk-for-js.
The earliest @azure/arm-storage package version is 0.1.0 and it is using the api version 2018-0

[2020-08-01 02:53] jeremymeng commented on #10388
We chose to not expose it to discourage from attempting to use it because of its good name. One option was to remove it. But then we don't have a place to hold common logic.  Another option was giving it a name that is unlikely be picked from intellisence.

[2020-08-01 04:09] ramya-rao-a opened #10391 "Trim down the dev dependencies in the template project"
The package.json for the [template project](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/template/template) has a long list of dev dependencies, some of which are not used by the project. Since we use the template project as a reference while creating new packages, these get copied around unnecessarily.

This issue is to go over the dev dependencies list and remove the ones not used i

[2020-08-01 20:48] ramya-rao-a commented on #9702
That is great news @xirzec!

Another piece of good news is that there doesnt seem to be any breaking changes to deal with from our side when moving to 0.6.1 to the latest 0.10.1. See https://github.com/Azure/azure-sdk-for-js/pull/10393

Assuming the same proves for the next version, it should be a trivial change for us

[2020-08-02 01:34] ramya-rao-a opened #10395 "[Service Bus] Inconsistencies with errors when settling deferred message in ReceiveAndDelete mode"
In the below JavaScript code using Service Bus version 7.0.0-preview.4, we
- send a message
- receive and defer the message
- receive this deferred message in ReceiveAndDelete mode
- settle this receive message, catch any error thrown at this point

The expectation is that the client throws a meaningful error as the message cannot be settled due to it being received in ReceiveAndDelete mode.

[cod

[2020-08-02 01:40] ramya-rao-a commented on #10395
Same problem for when trying to renew lock on a deferred message that was received in Receive And Delete mode.

We see the TypeError: Cannot read property 'name' of undefined error in below cases
- unpartitioned queue
- unpartitioned subscriptions

We see no errors with
- partitioned queue
- partitioned subscriptions

Where as trying to renew lock on a normal i.e. non deferred message received in

[2020-08-02 01:51] ramya-rao-a commented on #10395
The root cause for why the partitioned queue/subscription with no sessions return no error from the service is most probably the same as the one for #2268, but we should be able to do better on the client side even if the service is buggy

[2020-08-02 06:13] ramya-rao-a opened #10397 "[Service Bus] Settling a deferred message twice gives TypeError"
In the below code, we try to settle an already settled deferred message.
Instead of getting a helpful error, we get `TypeError: Cannot read property 'name' of undefined`

[code]

[2020-08-02 16:41] epomatti commented on #10358
I was able to create an Object Detection project using the following code:

[code]

Perhaps we should change the comment: `Defaults to General` to `Defaults to Classification` instead?

Now for the "Domains" selection in the portal, are these to be informed in the `targetExportPlatforms` array? It's confusing because the portal allows for single selection only:

![image](https://user-images.github

[2020-08-02 23:29] scbedd commented on #6342
[Merged the cleanup](https://github.com/MicrosoftDocs/azure-docs-sdk-node/pull/786)

What it looks like:

![image](https://user-images.githubusercontent.com/45376673/89134852-51980680-d4dd-11ea-8960-09ce44c52470.png)

[2020-08-02 23:29] #6342 closed

[2020-08-02 23:29] jonathandturner commented on #9627
@jongio - going back over this now. Will try to track down why the docs are missing.

The first link should probably be:
https://docs.microsoft.com/en-us/javascript/api/@azure/identity/defaultazurecredential?view=azure-node-preview

Since the docs are still in preview.

For the second link, the AzureCliCredentials and VSCodeCredentials are documented.

That said, what documentation is there is a b

[2020-08-03 01:21] ramya-rao-a commented on #10388
@jeremymeng, @bterlson, @xirzec

What would be the recommendation for someone wanting to customize the pipeline in this case?

[2020-08-03 01:58] #10243 closed

[2020-08-03 02:01] qiaozha commented on #10390
@bganapa Are you sure simply release @azure/arm-storage can replace azure-arm-storage if it can support api-version 2017-10-01? I remember I had a issue of other RP they found the dependency of vscode extension is not the same as @azure/arm-* package but the same as azure-arm-* package.

[2020-08-03 02:07] XiaoningLiu commented on #10368
Hi @DVassilev, unfortunately there is no API to get number of blobs under a specific container. You can find all RESTful APIs provided by Azure Storage. SDK is a wrapper based on these RESTful APIs. https://docs.microsoft.com/en-us/rest/api/storageservices/blob-service-rest-api

[2020-08-03 02:17] DVassilev commented on #10368
@XiaoningLiu any plans to expose it as it seems to be available in Storage Explorer?

[2020-08-03 02:27] ruowan commented on #10311
Thanks, I have moved to new package.

I think the root cause is event processor host is busy dealing with receiving events.  And update checkpoint function can't be scheduled by Node event loop.  As a result, a lot of checkpoints queued at the same time event hub can't get the lastest checkpoint offset and eph will re-process event. And update checkpoints function queued cause many of them fail to

[2020-08-03 02:36] XiaoningLiu commented on #10388
Our typical recommendation to customize pipeline is to create a new customized pipeline object and pass into ContainerClient constructor. For example,

https://github.com/azure/azure-sdk-for-js/blob/5897322a3980e1e771b0e37cda7556cdcb5ee66f/sdk/storage/storage-blob/samples/typescript/src/customPipeline.ts#L27

[code]

It's by design `pipeline` property is imutabble for every client object. We don't

[2020-08-03 03:38] ramya-rao-a commented on #10311
Thanks @ruowan

Closing this issue as you have moved to the new package.
Please feel free to log a new issue if you see similar problems after the move.

[2020-08-03 03:38] #10311 closed

[2020-08-03 03:38] ramya-rao-a commented on #6342
Thanks @scbedd!

[2020-08-03 03:39] nickzhums commented on #6342
+1, thanks @scbedd

[2020-08-03 05:34] XiaoningLiu commented on #10368
Storage Explorer is built based on storage JS SDK. Storage explorer calls list blobs to get blobs under specific level.

[2020-08-03 06:56] ramya-rao-a commented on #10125
Hey @rubiin

We have not heard back from you in two weeks, so am assuming that the above has answered your question.
Please feel free to log a new issue if you find any other problems.

[2020-08-03 06:56] #10125 closed

[2020-08-03 07:07] HarshaNalluru commented on #10397
Logged already https://github.com/Azure/azure-sdk-for-js/issues/10174 :)

[2020-08-03 08:41] sashakorman opened #10411 "[@azure/arm-marketplaceordering] does not work"
- **@azure/arm-marketplaceordering**
- **1.3.1**
- **Windows/Linux**
- [x] **nodejs**
    - **14.7.0**

**Describe the bug**
Got the following error while trying to invoke get operation:
_Cookie not in this host's domain. Cookie:storeapi.azure.com Request:management.azure.com_

**To Reproduce**
Execute the following code:
[code]

**Expected behavior**
Marketplace agreement information expected

**

[2020-08-03 13:49] deyaaeldeen commented on #10353
Yes, this issue should be resolved now. However, it would be interesting to understand why this happened. @mitchdenny would you mind sharing a diff of a screwed YAML template?

[2020-08-03 13:49] #10353 closed

[2020-08-03 15:46] sandersn opened #10414 "azure-sdk fails to build on Typescript 4.0"
- **Package Version**:
building from master
- [ ] **typescript**
    - **version**:4.0

**Describe the bug**
Typescript 4.0 has two changes that break azure-sdk:

1. The Typescript API now requires all 3 arguments to `typeToTypeNode`. The last 2 can be `undefined`, but must be provided.
2. `delete` may now only delete properties marked as optional. Typescript now uses control flow to mark deleted

[2020-08-03 16:24] ramya-rao-a commented on #10411
Thanks for reporting and getting to the root cause @sashakorman!

@qiaozha Can we have the package re-generated using the latest v4 of the code generator so that the fix to `@azure/ms-rest-js` is absorbed?

[2020-08-03 16:28] ramya-rao-a commented on #3719
The linked docs are for the older [Azure AD Graph API](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api) which is being deprecated in favor of the newer Microsoft Graph API.

Based on the blog post [Microsoft Graph or the Azure AD Graph](https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-or-azure-ad-graph/), Azure AD Graph is currently in a

[2020-08-03 16:28] #3719 closed

[2020-08-03 16:32] chradek commented on #10388
Apologies, it looks like my local project had multiple copies of `@azure/storage-blob`, after reinstalling packages it looks like StorageClient is actually making it into the bundled definitions file, but `pipeline` is stripped away because it is marked `@internal`.

That makes sense actually now that you've mentioned you did not expect `pipeline` to be exposed like this. It looks like with the ol

[2020-08-03 16:35] ramya-rao-a commented on #10397
:(

[2020-08-03 16:35] #10397 closed

[2020-08-03 17:03] jeremymeng commented on #10388
Yeah I'd vote for creating a full customized pipeline in the sample.

The core-http v2 work would make customizing pipelines easier.  Another related feature is multi-version support for storage clients which would deprecate this sample.

It was an Arch Board feedback to remove StorageClient, and we made a trade-off by hiding it.  We could bring the discussion back if there are enough benefits.

[2020-08-03 17:10] bganapa commented on #10390
@qiaozha @ramya-rao-a Thanks for the response here. @EricJizbaMSFT recently moved to azure-sdk-for-js @azure/arm-* package with this PR
Having the @azure/arm-* package supporting 2017-10-01 is very much needed for us to enable vscode-storage/functions  for azurestack .
Please also let us know how i could generate locally this package with autorest to unblock us.  Appreciate your help here
https://

[2020-08-03 17:14] ramya-rao-a commented on #9944
In https://github.com/Azure/azure-sdk-for-js/pull/9710, we share the $management link between senders/receivers to the same entity. If each sender/receiver is required to have it's own $management link, then a reference to the same is needed to be carried by each message as well

[2020-08-03 17:37] ramya-rao-a commented on #10388
Yes, lets use the `newPipeline` way.

[2020-08-03 18:17] sadasant opened #10418 "[Identity] Rename VSCodeCredential to VisualStudioCodeCredential"
Rename VSCodeCredential to VisualStudioCodeCredential

[2020-08-03 19:11] joshfree commented on #10418
Moving this from September to August and tagging issue

[2020-08-03 19:13] sadasant commented on #10418
@joshfree thank you!

[2020-08-03 19:25] jongio commented on #6769
@sadasant - it was decided to not have MICred read the env var.  It's done via DAC.

[2020-08-03 19:31] jongio commented on #9627
I expected it here:
![image](https://user-images.githubusercontent.com/2163001/89219750-397bc200-d585-11ea-94cb-05336ea5896e.png)

[2020-08-03 21:08] deyaaeldeen opened #10422 "Investigate remove--config and --ignore-path parameters to prettier in format and check-format scripts"
`prettier` is not able to find configuration files automatically when it runs in `format` and `check-format` scripts which contradicts this quote in its [documentation](https://prettier.io/docs/en/configuration.html):

[2020-08-03 21:13] HarshaNalluru commented on #10422
Maybe it meant to say until the project's root(same place as `package.json`, example: `sdk\storage\storage-blob`)?

[2020-08-03 21:16] deyaaeldeen commented on #10422
@HarshaNalluru I am not sure yet, I did not check if it can locate them automatically in the current directory. I will report back when I get back to this.

[2020-08-03 21:29] xirzec commented on #10391
Let's *please* get rid of the `events` dependency too. So many folks don't take this out and then have a useless runtime dep in their package.

Also consider dropping the browser mapping for `stream` since that gets copypasted too and `stream-browserify` isn't even in the deps anymore.

[2020-08-03 23:23] jeremymeng opened #10426 "[core-http] Browser streaming support"
Currently, our browser http client uses `XMLHttpRequest`. Its response doesn't support streaming.

We could get a `ReadableStream` using `Blob.stream()`, but I believe it's reading the whole blob at once then provide a stream interface. Furthermore, `Blob.stream()` [doesn't have wide support across browsers](https://developer.mozilla.org/en-US/docs/Web/API/Blob/stream).

Fetch api has `ReadableStr

[2020-08-03 23:42] #10418 closed

[2020-08-03 23:46] #10076 closed

[2020-08-04 02:47] qiaozha commented on #10390
1. Do you just need a private package? or you need both a locally package and a published version of 2017-10-01 ? If it's a published package of version 2017-10-01 you need, have you confirmed with storage team about this release? Do they also agree on this release?
2. Why do you insist on the 2017-10-01 version? I really don't think npm can allow us to release a package with its current version n

[2020-08-04 03:01] qiaozha commented on #10350
@kamesh95 Have you tried to load the string as json by yourself. It looks like it complains about the json string parse error. If this string is not in a correct json format, we need service team to take a look.
And can you share which operation are you using here?

[2020-08-04 03:17] qiaozha commented on #10411
@ramya-rao-a  Can you help review this PR #10428 Thanks

[2020-08-04 03:27] ramya-rao-a commented on #10034
The options being considered in https://github.com/Azure/azure-sdk-for-js/pull/10102 are
- Push `receiveMode` to options bag. Use conditional types. See https://github.com/Azure/azure-sdk-for-js/commit/e663dfc9578d8bb8121fb6dfd93a7ef83a9b6a8c
- Push `receiveMode` to options bag. Use overloads for the two values of receive mode. See https://github.com/Azure/azure-sdk-for-js/commit/ecee4ca327b26463c

[2020-08-04 04:28] qiaozha commented on #4188
@omerlh I tried the latest package "@azure/arm-containerservice": "^11.1.0", it has returned the tags now. Could you try the latest package to see if it works?

[2020-08-04 04:51] qiaozha commented on #4842
@weswigham  The current swagger we are using is 2.0 doesn't supoort oneof in the schema, therefore code generator doesn't know it supports two types and can be either of them and service team will use "type":"object" to work around.

[2020-08-04 05:10] qiaozha commented on #10411
@sashakorman https://www.npmjs.com/package/@azure/arm-marketplaceordering/v/2.0.0 Can you please try 2.0.0 version of this package to see if it works ? Thanks

[2020-08-04 05:27] bganapa commented on #10390
1. @qiaozha I have not confirmed with the storage team. Could you please loop them in here? I believe releasing it as the version 0.0.5 should not do any harm.  We need a local private package to unlock us and then a public package. Again appreciate your quick response here
2. I will be really surprised if npm doesnt allow packages to be updated with a older ones (think of many hotfix scnearios)

[2020-08-04 11:51] sashakorman commented on #10411
@qiaozha thank you for the quick fix. Everything works as expected now.

[2020-08-04 15:12] nguerrera opened #10434 "Misleading "DO NOT EDIT" comments in ci.yml"
There are [comments](https://github.com/search?q=%22DO+NOT+EDIT+THIS+FILE%22+repo%3AAzure%2Fazure-sdk-for-js+filename%3Aci.yml) in all of the ci.yml files indicating that they are generated and should not be hand edited. For example:
https://github.com/Azure/azure-sdk-for-js/blob/d740741ae878d0c7055af982ffa2024127fceb0c/sdk/appconfiguration/ci.yml#L1-L2

However, apparently this [isn't true](https

[2020-08-04 16:16] kurtzeborn commented on #4827
We haven't had any asks around this and we're not sure what the concrete work to be done on this is.  So closing.  Please reopen if more details become available.

[2020-08-04 16:16] #4827 closed

[2020-08-04 16:24] kamesh95 commented on #10350
@qiaozha Yes I have tried to parse the json, it works fine. The reason it is failing here is because it is going to XML parser as the response header contains application/xml content type header.

[2020-08-04 17:21] ramya-rao-a commented on #10434
I believe @mitchdenny would have more context here
cc @KarishmaGhiya

[2020-08-04 17:22] #10411 closed

[2020-08-04 17:27] deyaaeldeen opened #10435 "[Text Analytics] Remove logic that turns error.id="" into 400 exception"
once the service starts returning status 400

[2020-08-04 17:34] ramya-rao-a opened #10437 "[Schema Registry] Add convenience layer for SchemaRegistryClient"
This issue is a follow up for #10076

Using the [Java SchemaRegistryClient](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/schemaregistry/azure-data-schemaregistry) as a reference, add a convenience layer to the generated client in `@azure/schema-registry` package applying [TypeScript SDK guidelines](https://azure.github.io/azure-sdk/typescript_introduction.html).

The corresponding p

[2020-08-04 17:55] ramya-rao-a opened #10438 "[Schema Registry] Explore caching in SchemaRegistryClient"
This issue is a follow up for #10437

Once we have a convenience layer over the auto-generated SchemaRegistryClient, the next step would be to support caching for some of the operations on the client.

This issue is to
- identify which operations need caching
- get guidelines around whether caching should be done at the client level or the consumer of the client is responsible for this
- if this i