[2022-06-17 21:22] JasonYeMSFT commented on #13247
The buggy regex seems to be reintroduced in more recent specification files and the same bug has reproduced in at least arm-storage and arm-resources. Could you check where the regex come from and fix it for the SDK?

[2022-06-17 21:24] HarshaNalluru opened #22299 "[Recorder] Throw better error for not being able to hit the test-proxy"
@qiaozha reached out...

Browser tests failed below because the environment variable TEST_PROXY_HTTP_PORT is not added in the envPreprocessors list in karma.conf which caused the recorder to try http://localhost:5000 instead in the browsers, and failed to hit the test-proxy because it is not running at the port.

The error thrown from the recorder should have been better so that the cause/fix is a

[2022-06-17 21:33] #19221 closed

[2022-06-17 21:33] #22181 closed

[2022-06-18 02:12] zfyseu commented on #22281
We have deploy our service both in dev environment (for development and test ) and prod environment (for customer). The error seems only appear in our dev environment.

Here is the code:
    let batch = null
    try {
       batch = await this.ehProducer.createBatch()
    } catch(error) {
      console.log(`helloworld`)
      that.logger.error(`zfyseu  error = ${error}, stack = ${error.stack}`)

[2022-06-18 08:03] #21728 closed

[2022-06-18 09:54] tbshrr commented on #10706
if anyone facing issues from @NateShaq  Code above related to operation type or getting a status code: 424 then please add 1 lines to the code and replace `operationType: "Create"` to `operationType: BulkOperationType.Create`

[code]

[2022-06-18 17:02] oekekezie opened #22300 "Need documentation for createEntity options parameter (How to echo back created entity, strip metadata from response, etc.?)"
What are the possible options for the options parameter of type OperationOptions for the createEntity function? It would be great if that were explicitly documented somewhere in JS. Thanks!

P.S.

I'm asking because in previous versions of the client you could specify echoContent, payloadFormat, etc. How can I echo back the entity that was inserted? Strip the metadata from the response? Unfortunat

[2022-06-18 18:56] NateShaq commented on #10706
` operations.push({
                operationType: "Upsert",
                id: superItem.id,
                resourceBody: superItem
 });`

 I have moved to an **Upsert** type operation, I assume that I can just use=> **operationType: BulkOperationType.Upsert**

[2022-06-18 19:00] NateShaq commented on #10706
Error Occured in Bulk OperationError: Bulk request errored with: Message: {"Errors":["Operation type 'BulkOperationType.Upsert' is not supported in Batch.","Batch json content is invalid."]}

[2022-06-18 19:03] NateShaq commented on #10706
Error Occured in Bulk OperationError: Bulk request errored with: Message: {"Errors":["Operation type 'BulkOperationType.Create' is not supported in Batch.","Batch json content is invalid."]}

[2022-06-18 19:03] NateShaq commented on #10706
I'm just sending [ {doc}, {doc}, {n...}] as the body.
Both report error.

[2022-06-18 23:42] mpodwysocki commented on #22274
Upstream merged, will update the clients once released as https://github.com/Azure/autorest.typescript/pull/1424 is merged and closed

[2022-06-19 03:39] tbshrr commented on #10706
@NateShaq  Are you including below in the top of the code?

`const { BulkOperationType } = require('@azure/cosmos')`

[2022-06-19 06:58] NateShaq commented on #10706
@tbshrr Thank you! I had that lined commented out from previous attempts. Thanks for the reminder.
`
const { BulkOperationType } = require('@azure/cosmos')

operations.push({
                operationType: BulkOperationType.Upsert,
                id: superItem.id,
                resourceBody: superItem
            });`

Code is working as expected now.

[2022-06-19 14:19] dvalko opened #22301 "maxAutoLockRenewalDurationInMs does not work as expected"
- **Package Name**: azure/service-bus
- **Package Version**: 7.5.0
- **Operating system**:
- [ ] **nodejs**
    - **version**: v16.14.2
- [ ] **typescript**
    - **version**:4.5.4
- Is the bug related to **documentation** in
  - [ ] SDK API docs on https://docs.microsoft.com/en-us/javascript/api/@azure/service-bus/servicebusreceiveroptions?view=azure-node-latest

**Describe the bug**
I use the se

[2022-06-20 03:19] v-xuto commented on #20671
Close this issue, because it has been fixed.

[2022-06-20 03:19] #20671 closed

[2022-06-20 06:26] clemensv commented on #22116
Point-in-time information is often confusing when trying to pin down issues related to connection states, therefore the desired information is [exposed through logs](https://docs.microsoft.com/en-us/azure/event-hubs/monitor-event-hubs-reference)

[2022-06-20 06:31] navba-MSFT commented on #22116
Thanks @clemensv

@selvaganesh22 Could you please refer [this article](https://docs.microsoft.com/en-us/azure/event-hubs/monitor-event-hubs-reference)? This should provide you the desired information about the clients. Awaiting your reply.

[2022-06-20 07:14] selvaganesh22 commented on #22116
I tried using the active connections chart , but it ranges from 1 to 6 and changes every day , I am not sure if it gives the correct number of consumer clients information (currently we have just one consumer client setup to consume events).
I would like to know if there is any chart that can give number of consumer clients connected for a given event hub

[2022-06-20 07:48] navba-MSFT commented on #22116
@selvaganesh22 Thanks for getting back. Active Connections metrics should have given you the required information. If you want to validate and isolate this further, You can also leverage the [_Connections Opened_ and _Connections Closed_ ](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported#microsofteventhubnamespaces) metrics and apply splitting dimension to the` Ent

[2022-06-20 08:40] selvaganesh22 commented on #22116
Yeah, above combination works for us. Thanks!

[2022-06-20 13:08] azure-sdk opened #22304 "Dependency package @typescript-eslint/eslint-plugin has a new version available"
We have identified a dependency on version 5.27.1 of @typescript-eslint/eslint-plugin. A new version (5.28.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for

[2022-06-20 13:08] azure-sdk opened #22305 "Dependency package @typescript-eslint/experimental-utils has a new version available"
We have identified a dependency on version 5.27.1 of @typescript-eslint/experimental-utils. A new version (5.28.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folde

[2022-06-20 13:08] azure-sdk opened #22306 "Dependency package @typescript-eslint/parser has a new version available"
We have identified a dependency on version 5.27.1 of @typescript-eslint/parser. A new version (5.28.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each s

[2022-06-20 13:08] azure-sdk opened #22307 "Dependency package @typescript-eslint/typescript-estree has a new version available"
We have identified a dependency on version 5.27.1 of @typescript-eslint/typescript-estree. A new version (5.28.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder

[2022-06-20 13:08] azure-sdk commented on #22305
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.30075553,Service Bus:0.18016264,EngSys:0.050129663'

[2022-06-20 13:08] azure-sdk commented on #22306
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.31700188,Service Bus:0.18909876,EngSys:0.046307024'

[2022-06-20 13:08] azure-sdk commented on #22307
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3688033,Service Bus:0.19405213,EngSys:0.036775123'

[2022-06-20 17:56] xirzec commented on #22300
Hi @oekekezie - `OperationOptions` is documented here: https://docs.microsoft.com/en-us/javascript/api/@azure/core-client/operationoptions?view=azure-node-latest

Perhaps the most useful member of it would be the `onResponse` callback that will allow you to inspect the HTTP response from the server directly. I'm not familiar with the previous version of the Tables client though, so I defer to @joh

[2022-06-20 17:57] xirzec commented on #22301
@HarshaNalluru can you investigate?

[2022-06-20 17:59] xirzec commented on #22307
@timovv A few related dependency upgrades for you, let me know if you have any trouble with them!

[2022-06-20 18:42] deyaaeldeen commented on #22289
This succeeded in the last run https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1653248&view=results

[2022-06-20 18:42] #22289 closed

[2022-06-20 21:55] agorischek opened #22310 "single `upsert` and bulk `Upsert` accept divergent document types"
- **Package Name**:  `@azure/cosmos`
- **Package Version**:  `3.16.1`
- **Operating system**: Windows ARM
- [x] **nodejs**
    - **version**: `16.15.1`
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: `4.7.4`
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describ

[2022-06-21 02:04] yixi8524 commented on #22274
Thanks a lot for the quick response, I will test when 4.0.0-beta.5 is ready.

[2022-06-21 02:50] v-jiaodi opened #22312 "[Communication - Identity] CommunicationIdentityClient [Playback/Live] [AAD] successfully gets a token for a user [multiple scopes] failing in nightly runs"
Communication - Identity nightly test runs are failing with:

    at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:251:17)
    at deserializeResponseBody (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:159:43)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.c

[2022-06-21 02:50] v-jiaodi opened #22313 "[Key Vault - Administration] Integration test libraries failing in nightly runs"
Key Vault - Administration nightly test runs are failing with:

       beginBackup
         throws when polling errors:
     RestError: The customer provided SAS token is malformed. The SAS token does not contain the expiry field
      at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:251:17)
      at deserializeResponseBody (/mnt/vss/_work/1/s/sdk/core/c

[2022-06-21 02:50] v-jiaodi opened #22314 "[Monitor - Opentelemetry Exporter] Test OpenTelemetry Versions - Monitor failing in nightly runs"
Monitor - Opentelemetry Exporter nightly test runs are failing with:

Rush Multi-Project Build Tool 5.63.0 - Node.js 12.22.12 (LTS)

file:///D:/a/_work/1/s/sdk/monitor/monitor-opentelemetry-exporter/test-opentelemetry-versions.mjs:2
import packageJson from './package.json' assert { type: 'json' };
                                         ^^^^^^
SyntaxError: Unexpected identifier
    at Loader.modu

[2022-06-21 02:50] v-jiaodi opened #22315 "[Service Bus] ServiceBusClient live tests Errors after close() Errors after close() on receiver PartitionedSubscriptionWithSessions: errors after close() on receiver failing in nightly runs"
Service Bus nightly test runs are failing with:

    at translateServiceBusError (dist-test/index.browser.js:42111:20)
    at MessageSession._init (dist-test/index.browser.js:47266:32)
    at async MessageSession.create (dist-test/index.browser.js:47588:13)
    at async ServiceBusClient.acceptSession (dist-test/index.browser.js:47691:36)
    at async ServiceBusTestHelpers.acceptSessionWithPeekLock

[2022-06-21 02:50] azure-sdk commented on #22314
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Monitor - Exporter:0.4821287,Azure.Core:0.21361233,Monitor:0.14619675'

[2022-06-21 02:51] v-jiaodi opened #22316 "[Aggregate-reports] Link verification check failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

'file:///D:/a/_work/1/s/sdk/databricks/arm-databricks/samples/v3-beta/javascript/README.md' has 1 broken link(s):
  https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/udr
'file:///D:/a/_work/1/s/sdk/compute/arm-compute/samples/v19/typescript/README.md' has 1 broken link(s):
  https://docs.microsof

[2022-06-21 02:51] azure-sdk commented on #22316
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.41295305,Azure.Core:0.20296557,Azure.Identity:0.038878124'

[2022-06-21 03:16] azure-sdk commented on #22314
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Monitor - Exporter:0.4821287,Azure.Core:0.21361233,Monitor:0.14619675'

[2022-06-21 03:39] kotewar opened #22317 "Download from Blob storage gets stuck sometimes and never completes"
- **Package Name**: Azure/azure-storage-node
- **Package Version**: v12.9.0
- **Operating system**: Ubuntu 20.04.4 LTS
- [ ] **nodejs**
    - **version**:  v16.13.0
- [ ] **browser**
    - **name/version**: NA
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

*

[2022-06-21 03:39] kotewar opened #22321 "Download from Blob storage gets stuck sometimes and never completes"
- **Package Name**: Azure/azure-storage-node
- **Package Version**: v12.9.0
- **Operating system**: Ubuntu 20.04.4 LTS
- [ ] **nodejs**
    - **version**:  v16.13.0
- [ ] **browser**
    - **name/version**: NA
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

*

[2022-06-21 21:39] timtucker-dte opened #22322 "Cosmos DB - Allow setting request level timeouts (vs. global timeouts at the connection level)"
**Is your feature request related to a problem? Please describe.**
The Cosmos SDK currently allow setting request timeouts at the connection policy level, but not at the individual request level.

We're using Azure Functions with the recommended pattern of having a singleton for the client connection, so the timeout value only gets specified once each time the app starts up.

**Describe the soluti

[2022-06-21 21:55] timtucker-dte commented on #22322
In theory we could have multiple singletons, each with a different connection policy, i.e.:
Client 1 has a timeout of 10s
Client 2 has a timeout of 20s
Client 3 has a timeout of 30s
Client 4 has a timeout of 40s
Client 5 has a timeout of 50s

Which would put us somewhere in between a singleton and creating a new connection for every request.

[2022-06-22 02:34] #22197 closed

[2022-06-22 02:34] #22203 closed

[2022-06-22 03:44] qiaozha commented on #20590
Should be able to resolve this issue with https://www.npmjs.com/package/@azure/arm-storage/v/17.2.1 this version

[2022-06-22 03:46] edmundcong opened #22325 "MonitorClient.diagnosticSettings.list(resource)` returns empty when it should return settings"
- **Package Name**: @azure/arm-monitor
- **Package Version**: 7.0.0
- **Operating system**: MacOS
- [X] **nodejs**
    - **version**: v16.15.0
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: v10.7.0
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug

[2022-06-22 06:04] kazrael2119 commented on #20663
Hi @zzhxiaofeng,
This issue has been fixed.
Here is the package link: https://www.npmjs.com/package/@azure/arm-labservices/v/3.0.0-beta.3

[2022-06-22 06:11] zzhxiaofeng commented on #20663
@kazrael2119 Thank you, I will close the issue now.

[2022-06-22 06:11] #20663 closed

[2022-06-22 07:04] kazrael2119 commented on #22060
Hi @v-jiaodi,
This issue has been fixed.
Here is the package link:  https://www.npmjs.com/package/@azure/arm-machinelearningexperimentation/v/2.0.0-beta.3

[2022-06-22 17:56] #22228 closed

[2022-06-22 19:52] xirzec commented on #22322
Seems like a good feature. The underlying HTTP pipeline supports it: https://docs.microsoft.com/en-us/javascript/api/@azure/core-client/operationrequestoptions?view=azure-node-latest#@azure-core-client-operationrequestoptions-timeout

So it should just be a matter of passing this through the Cosmos request object.

[2022-06-22 22:44] #22314 closed

[2022-06-23 01:35] witemple-msft commented on #22274
@yixi8524 I just published version 4.0.0-beta.5, removing the lookbehind regular expression. Please let me know if this addresses your issue.

[2022-06-23 05:35] yixi8524 commented on #22274
Cool. Test with our demo, the fix in 4.0.0-beta.5 is worked.

[2022-06-23 07:35] #22312 closed

[2022-06-23 08:06] HarshaNalluru commented on #22301
Thanks for the issue, @dvalko.

Looks like you may have misunderstood what the option meant/.

Description of `maxAutoLockRenewalDurationInMs`.

To disable autolock renewal, set this to 0.

By default, the lock on the message is renewed until 5 minutes, and then the lock is not renewed.

If you want to keep the message active for more than 15 minutes(your processing time), set `maxAutoLockRenewalD

[2022-06-23 08:22] HarshaNalluru commented on #22281
@zfyseu Well, setting the environment variable `DEBUG=azure*,rhea*` would have printed some logs related to the internals of the service-bus SDK. Maybe, the environment variable is not set correctly.

- May I know which command you have used to set the environment variable? You'd use `set X=Y` for windows and `export X=Y` for linux-like systems.
- And also how you're running your application?
- Ca

[2022-06-23 08:37] zzhxiaofeng opened #22338 "Azure Communication Email Readme Issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/communication/communication-email#send-email-with-attachments)
![image](https://user-images.githubusercontent.com/20970631/175251922-100a1c4c-6c47-4fbd-a37e-250504c9f389.png)
Reason:
`toRecipients` does not exist in type `EmailRecipients`.

Suggestion:
Update `toRecipients` to `to`.

2.
Section [link](https://github.com/Azur

[2022-06-23 08:50] zzhxiaofeng opened #22339 "Azure Text Analytics Readme Issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/textanalytics/ai-text-analytics#healthcare-analysis), [link2](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/textanalytics/ai-text-analytics#extractive-summarization), [link3](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/textanalytics/ai-text-analytics#custom-entity-recognition), [link4](https://github.c

[2022-06-23 15:00] witemple-msft commented on #20676
Documentation pages look to have been updated. Closing.

[2022-06-23 15:14] #20487 closed

[2022-06-23 15:16] witemple-msft commented on #19604
We pretty consistently see one or two `Invalid request` errors at random in each live test run. I'm not sure if it's the characteristics of the test that are inducing it or not.

[2022-06-23 16:22] cjsahansra opened #22340 "Azure getConfigurationSetting to retrieve Azure feature flags - client side"
I'm trying to use getConfigurationSetting to retrieve Azure feature flags from a React application. Are there any limitations to pulling the config data on the client-side?  Is this an acceptable pattern, or should the config data only be pulled by a server-side application?

[2022-06-23 19:04] KarishmaGhiya commented on #22066
@fesaza I am currently working on it. Will notify when the fix is available.

[2022-06-23 20:32] tmcgannon opened #22341 "[Tables] multiple concurrent submitTransaction() calls submits the same transaction multiple times"
- **Package Name**: @azure/data-tables
- **Package Version**: 13.1.2
- **Operating system**: MacOS 12.3.1
- [x] **nodejs**
    - **version**: 16.15.1
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.7.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe th

[2022-06-23 20:38] alexweininger commented on #22017
I've done some surface level exploration and PoC work using the released JS rest level client package for appservice. The client works as expected and is very promising for our use case. I'm excited to be able to eventually convert our projects to use only rest level clients in the future.

It seems like we have some engineering work to do until we are able to easily move to the RLC. For example,

[2022-06-23 20:41] charlestbell opened #22342 "Missing documentation on Updating Documents (js sdk)"
**Is your feature request related to a problem? Please describe.**
I can find a ton of examples of creating documents in cosmos using the js sdk, but no working examples of updating a document with new key/value pairs, new children, etc.
What I want to do is go to an item by it's id, and write new data in that document. I've spent 8 straight hours trying to figure that out with no luck.

**Describ

[2022-06-23 21:09] HarshaNalluru commented on #22301
Summarizing here..
Talked/chatted offline and clarified more, made a PR #22343 which can possibly improve the docs.

[2022-06-23 21:16] johnlop commented on #22263
We tried a fix by importing the AbortController manually in the Node global scope but the error is still happening intermittently.

[2022-06-23 23:04] #22301 closed

[2022-06-24 00:37] joheredi commented on #22342
/cc @jay-most

[2022-06-24 00:38] joheredi commented on #22341
Thanks for reporting this issue and for your thorough explanation. I'll take a look at this and come back with more information

[2022-06-24 02:40] v-jiaodi opened #22346 "[Digital Twins - Core] Deploy test resources failing in nightly runs"
Digital Twins - Core nightly test runs are failing with:

Headers:
Cache-Control                 : no-cache
Pragma                        : no-cache
x-ms-failure-cause            : gateway
x-ms-ratelimit-remaining-subscription-writes: 1197
x-ms-request-id               : f2aa134a-babe-48fd-8806-aa0c67f1fdcf
x-ms-correlation-request-id   : f2aa134a-babe-48fd-8806-aa0c67f1fdcf
x-ms-routing-request-i

[2022-06-24 02:41] azure-sdk commented on #22346
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.08382528,Cosmos:0.055322632,Service Bus:0.052121855'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.56830376,Client:0.39854106,Service:0.03153773'

[2022-06-24 02:41] v-jiaodi opened #22347 "[Schema Registry] Remove test resources failing in nightly runs"
Schema Registry nightly test runs are failing with:

At D:\a\_work\_temp\6d2dffe1-01cf-4031-aaa4-553f0d03e87d.ps1:9 char:1
 eng/common/TestResources/Remove-TestResources.ps1 `~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 CategoryInfo          : NotSpecified: (:) [Write-Error], WriteErrorException
 FullyQualifiedErrorId : Microsoft.PowerShell.Commands.WriteErrorException,Remove-TestResources

[2022-06-24 02:41] azure-sdk commented on #22347
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Schema Registry:0.24970597,ARM:0.14620616,Resource Graph:0.034890216'

[2022-06-24 02:41] v-jiaodi opened #22348 "[Schema Registry - Avro] Deploy test resources failing in nightly runs"
Schema Registry - Avro nightly test runs are failing with:

Conflict
Headers:
Cache-Control                 : no-cache
Pragma                        : no-cache
x-ms-failure-cause            : gateway
x-ms-ratelimit-remaining-subscription-writes: 1199
x-ms-request-id               : dfa92e0d-045e-4c52-9050-1af3095a53b8
x-ms-correlation-request-id   : dfa92e0d-045e-4c52-9050-1af3095a53b8
x-ms-routin

[2022-06-24 02:41] v-jiaodi opened #22349 "[Storage - File Datalake] DataLakePathClient DataLakeFileClient create with relative expiry failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\storage\storage-file-datalake\test\pathclient.spec.ts:126:12)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1661437&view=results

[2022-06-24 02:41] azure-sdk commented on #22348
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.10173002,ARM:0.10134433,Schema Registry:0.080535784'

[2022-06-24 03:43] edmundcong opened #22351 "`SecurityCenter.securityContacts.list` returns old payload"
- **Package Name**: @azure/arm-security
- **Package Version**: 5.0.0
- **Operating system**: MacOS
- [X] **nodejs**
    - **version**: v16.15.0
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: v10.7.0
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bu

[2022-06-24 04:08] navba-MSFT commented on #22160
Adding Service team to look into this ask.

[2022-06-24 06:50] qiaozha commented on #22325
The SDK is using an older api version 2017-05-01-preview which is defined in the rest api specs default tag. I am trying to contact service team to update the version in default tag, after they fix it, we can release a new version SDK which should be able to resolve this issue.

[2022-06-24 07:01] MaryGao commented on #22072
@turdigicode Thanks for bringing this up! I reproduced this issue in my local and will be back to you soon!

[2022-06-24 07:17] HarshaNalluru commented on #22188
Hey @GeorgeCodeHub, looks like the wetransfer link is expired, can you provide one again?

[2022-06-24 07:22] HarshaNalluru commented on #22340
@cjsahansra thanks for reaching out, it is recommended that you use App Configuration on your server-side and let your service cache and pass configurations/feature-flags to your clients.

Similar concerns were addressed before at this issue https://github.com/Azure/azure-sdk-for-js/issues/10091#issuecomment-660345113 - please go through the comments for more information regarding the same.

[2022-06-24 11:05] GeorgeCodeHub commented on #22188
No problem. Here you go: https://we.tl/t-qWVnqowHAB

[2022-06-24 18:22] johngallardo commented on #22346
Looks like @joheredi has addressed this:
https://github.com/Azure/azure-sdk-for-js/commit/d562fa81aba0a68e7374b577adf1ce1a529a39a9

[2022-06-24 18:26] johngallardo commented on #22346
Not sure if @joheredi has the right fix. @sjiherzig  can you please follow up.

[2022-06-24 18:44] joheredi commented on #22346
@johngallardo I was trying a quick fix to the error saying that `westus` was not a valid location for the test resource. This issue was fixed but it uncovered more issues. I would appreciate it if your team can continue with the investigation. Heres the link to the run with my change. [Test failure (MSFT Internal)](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1666282&view=logs&j

[2022-06-24 19:14] sjiherzig commented on #22346
Looking into it - this is being tracked in #22086.

[2022-06-24 19:56] joheredi commented on #22300
@oekekezie, thanks for reaching out. We are investigating a nice way to expose this in our client. In the meantime, you can get the inserted entity through `onReponse`. These are the options you'd like to pass to the request.

[code]

Let me know if this works for you.

The work to support this is tracked by https://github.com/Azure/azure-sdk-for-js/issues/16733

[2022-06-24 20:00] joheredi commented on #22156
Thanks for reaching out. I'll investigate and come back with more information. The REST API definition mentions DateTime filtering, so I'm thinking this may be an encoding issue in the Tables Client

https://docs.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#filtering-on-datetime-properties

[2022-06-24 20:54] HarshaNalluru opened #22359 "[Service Bus] Stress Testing"
- Revisiting the stress tests of service-bus. Check with Richard on the stress tests.
- Onboard/upgrade them to the new stress testing framework that Richard and Ben(ENG SYS) have been working on.
- Co-ordinate with other languages on the scenarios and initiate long-running test runs, log issues for the bugs that show up, and investigate them.

[2022-06-24 21:48] #22304 closed

[2022-06-24 21:48] #22305 closed

[2022-06-24 21:48] #22306 closed

[2022-06-24 21:48] #22307 closed

[2022-06-24 22:07] witemple-msft commented on #22274
Great! Thanks for reporting this and again, sorry for the inconvenience. Closing.

[2022-06-24 22:07] #22274 closed

[2022-06-24 22:08] #22129 closed

[2022-06-24 22:23] deyaaeldeen commented on #22347
The issue is now fixed

[2022-06-24 22:23] #22347 closed

[2022-06-24 22:24] deyaaeldeen commented on #22348
The issue is now fixed

[2022-06-24 22:24] #22348 closed

[2022-06-25 23:48] HarshaNalluru opened #22364 "[Service Bus] Add diagnostic scopes for rule manager"
**.NET**
- https://github.com/Azure/azure-sdk-for-net/pull/29407
- https://github.com/Azure/azure-sdk-for-net/issues/29137

[2022-06-25 23:49] azure-sdk commented on #22364
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.49055666,Docs:0.15299948,Azure.Identity:0.039805237'

[2022-06-26 05:46] kotewar commented on #22321
@xirzec - I used v12.10.0 and I am able to reproduce the same issue.

Logs here - https://github.com/kotewar/cron-action-test-download-bug/runs/7047939232?check_suite_focus=true

[2022-06-26 22:26] kkreine commented on #9252
Hi @ramya-rao-a, is this issue resolved, or is there further work to be done?

[2022-06-27 02:21] qiaozha commented on #22060
@v-jiaodi Can we close this issue now ?

[2022-06-27 02:36] v-jiaodi commented on #22060
Yes. I will close it.

[2022-06-27 02:36] #22060 closed

[2022-06-27 13:08] azure-sdk opened #22371 "Dependency package puppeteer has a new version available"
We have identified a dependency on version 14.4.1 of puppeteer. A new version (19.2.2) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package (/sd

[2022-06-27 15:53] sdebacq opened #22372 "[Storage Datalake] md5 verification"
Is there a way we can do md5 verification when using the "@azure/storage-file-datalake'-sdk. In the code below we've tried to use the contentMD5 property in pathHttpHeaders, but this only sets the CONTENT-MD5 metadata even if we send a wrong md5 the call succeeds and just puts the wrong md5 as metadata without any verification.

[code]
![Screenshot 2022-06-27 at 13 41 19](https://user-images.githu

[2022-06-27 18:39] corybekk opened #22373 "@azure/arm-reservations client.quota.beginUpdateAndWait() provisioning state failed"
- **Package Name**:
- arm-reservations
- **Package Version**:
- ^7.1.0
- **Operating system**:
- macos bigsur
- [v16.14.0] **nodejs**
    - **version**:
- [chrome 94] **browser**
    - **name/version**:
- [NA] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [NA] README.md
  - [NA] source code documentation
  - [NA] SDK API docs on https://docs.microsoft.com

**De

[2022-06-27 18:40] azure-sdk commented on #22373
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.2793935,Docs:0.1620588,Reservations:0.13087344'

[2022-06-27 19:05] dhadka commented on #22321
For reference, https://github.com/actions/toolkit/blob/main/packages/cache/src/internal/downloadUtils.ts#L212 shows how `actions/cache` is using the Azure SDK. Note it is passing in

[code]

which is set to `30000` (30 seconds) by default.  From [the docs](https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/storageretryoptions?view=azure-node-latest):

And from the screenshots prov

[2022-06-27 21:45] zane-atomus opened #22375 "PolicyAssignment Invalid Type"
- **Package Name**:  @azure/arm-policy
- **Package Version**:  5.0.1
- **Operating system**:
- [x] **nodejs**
    - **version**:  16.15.1
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.7.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When

[2022-06-27 21:45] azure-sdk commented on #22375
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Authorization:0.100955054,Service Bus:0.08651081,Cosmos:0.04724401'

[2022-06-28 01:51] qiaozha commented on #22373
@MaryGao Is this the issue you are currently working on ?

[2022-06-28 02:25] MaryGao commented on #22373
I am working on this one and will try to reproduce in my local env.

[2022-06-28 04:16] MaryGao commented on #22373
@corybekk I can't reproduce this in my local env and I could update the quota of  my resource type successfully. Here are my steps:

- Implement the updating code by referring this [sample](https://github.com/Azure/azure-sdk-for-js/blob/%40azure/arm-quota_1.0.0-beta.4/sdk/reservations/arm-reservations/samples/v7/javascript/quotaUpdateSample.js)
- Update to my own tenantId, client id, client secret

[2022-06-28 05:46] v-jiaodi opened #22382 "[App Configuration] AppConfigurationClient listConfigurationSettings Using `select` via `fields` failing in nightly runs"
App Configuration nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/appconfiguration/app-configuration/test/public/index.spec.ts:701:14)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1670681&view=re

[2022-06-28 05:46] v-jiaodi opened #22383 "[Communication - Phone Numbers] PhoneNumbersClient - lists [AAD] can list all purchased phone numbers failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:251:17)
    at deserializeResponseBody (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:159:43)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/

[2022-06-28 05:46] v-jiaodi opened #22384 "[Service Bus] Message Lock Renewal Using configurable renew durations PartitionedQueue failing in nightly runs"
Service Bus nightly test runs are failing with:

    at Object.should.equal (/Users/runner/work/1/s/common/temp/node_modules/.pnpm/chai@4.3.6/node_modules/chai/lib/chai/interface/should.js:98:35)
    at testAutoLockRenewalConfigBehavior (/Users/runner/work/1/s/sdk/servicebus/service-bus/test/internal/renewLock.spec.ts:359:18)
    at Context.<anonymous> (/Users/runner/work/1/s/sdk/servicebus/servic

[2022-06-28 05:47] azure-sdk commented on #22383
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.58694565,Communication:0.14105757,Azure.Identity:0.023347806'

[2022-06-28 08:02] qiaozha commented on #22017
@alexweininger Hi Thanks for the great feedback, I will look into why the api version doesn't work and get back to you soon.

[2022-06-28 08:03] #22111 closed

[2022-06-28 09:12] qiaozha commented on #22017
@alexweininger hi, I am trying to set the apiVersion as what you did and found it's replacing the apiVersion parameter correctly
![image](https://user-images.githubusercontent.com/55688292/176140391-ede9db0c-52ea-4be9-86b3-02b70cd58d6c.png)

Can you add the following debug code
[code]

in your side and share more details with us about it didn't add that api version into the request ? so that I can

[2022-06-28 18:39] poulinjf commented on #22027
As we won't be moving forward with the SDK and cosmos, we'll be closing this issue on our side

[2022-06-28 18:39] #22027 closed

[2022-06-28 23:04] EmmaZhu commented on #22372
Azure Storage Service can only validate content-md5 for one transaction, which is one upload request. `uploadFile` calls `create`, `append` and `flush` to upload a file, there's no way for it to pass one transaction's content-md5 to server, because there could be more than one transactions.
`append` interface provides options to let server side validate content-md5 of a transaction: `options..tran

[2022-06-28 23:55] sjiherzig commented on #22086
This has been resolved in #22363 . Nightly runs are green again: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1671647&view=results

[2022-06-28 23:55] #22086 closed

[2022-06-28 23:57] sjiherzig commented on #22346
This has now been resolved (see #22363). Nightly runs are green again: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1671647&view=results

[2022-06-28 23:57] #22346 closed

[2022-06-29 02:21] qiaozha commented on #22375
@kazrael2119 Can you help take a look at this issue? Thanks

[2022-06-29 04:03] EmmaZhu commented on #22321
Hi @kotewar ,

I'm trying to get a reproduce with purely calling download interface within @azure/storage-blob.

At the meantime, could you share how to use @actions/cache to trigger downloading from storage?  It's difficult to debug it from a workflow in github.

Thanks
Emma

[2022-06-29 04:29] kotewar commented on #22321
Hi @EmmaZhu,
[downloadCacheStorageSDK](https://github.com/actions/toolkit/blob/main/packages/cache/src/internal/downloadUtils.ts#L212) function is what we use for downloading from Azure Blob storage using the `BlockBlobClient `

[2022-06-29 06:17] kazrael2119 commented on #22375
Hi @zane-atomus ,
I tried to fix it and then  regenerate this package.
Here is the package:
[azure-arm-policy-5.0.2.zip](https://github.com/Azure/azure-sdk-for-js/files/9007717/azure-arm-policy-5.0.2.zip)
You can use this package to create policy.
I hope it can help you.
Thanks

[2022-06-29 07:43] qiaozha commented on #20907
I think we have finished all the task for samples migration from track1 to track2 @v-xuto feel free to correct me if I am missing anything here. We can close this issue now ?

[2022-06-29 07:48] v-xuto commented on #20907
Yes, we have finished all the task for samples migration. We can close this issue now.

[2022-06-29 09:30] MaryGao commented on #22072
@turdigicode We found this is a known issue and we'll release a new package to fix it. @kazrael2119 Could you help release a new package?

[2022-06-29 09:37] JesperJakobsen commented on #15225
Hi @jsquire, @ShilpiGautam and @adwise3,

Just a quick follow-up on this one, as I've found a few issues with the above from @adwise3.

I currently doing a few different things on cost data from Azure, but I need to the data to be unique so I'm able to update it.

I've been working with a version where I'm doing a hash of a combination of resourceId, date and meterId, as that is what @adwise3 stat

[2022-06-29 15:29] foron23 opened #22398 "api-version parameter not being set using "@azure/batch" package"
- **Package Name:** @azure/batch

- **Package Version:** 10.1.0

- **Operating system:** Ubuntu 20.04

- [ ] nodejs version:
-  v10.16.0

**Describe the bug**
The task is submitted successfully, but it will not be queued for execution. After some investigation, I found that the "api-version" parameter is not being set when using `task.add` method of @azure/batch.`

To Reproduce
[code]

Task is sub

[2022-06-29 19:12] djaglowski commented on #22321
In case it is helpful, you can find many examples of this error occurring within the failures of [this workflow](https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/workflows/build-and-test.yml?query=is%3Afailure+event%3Apull_request). All or nearly all failures that show a runtime of `6h Xm Ys` are due to this problem. There are roughly 40 examples in the last week.

[2022-06-30 06:39] qiaozha commented on #20907
close it as completed. Thanks so much for the help @v-xuto

[2022-06-30 06:39] #20907 closed

[2022-06-30 06:54] adedayotoheeb opened #22402 "Storage-blob: Docs issue when using SAS token"
The documentation for connecting to Azure Blob Storage using the SAS TOKEN is wrong.
Below is the current implementation:

const { BlobServiceClient } = require("@azure/storage-blob");

const account = "<account name>";
const sas = "<service Shared Access Signature Token>";

const blobServiceClient = new BlobServiceClient(`https://${account}.blob.core.windows.net${sas}`);

The correct implementati

[2022-06-30 08:18] paulmorar commented on #22340
I think that this would benefit from splitting it into a server-side basic SDK and a client-side one. I tried to use this in a Production application for the feature flags, and honestly, it is rather disappointing.
Cache management on the client-side is either the hard cache or no cache regardless of the headers you send. The disappointment comes from the lack of documentation, as the README shoul

[2022-06-30 08:20] #21883 closed

[2022-06-30 14:13] hirenchalodiya1 opened #22407 "beginCreateAndWait method is returning operation status instead of tracked resource (@azure/arm-workloads)"
- **Package Name**:  `@azure/arm-workloads`
- **Package Version**:  `1.0.0-beta.1`
- **Operating system**: `Windows`
- [X] **nodejs**
    - **version**: `16.8.0`

**Describe the bug**
While monitor creation `beginCreateAndWait` function has data type `Monitor`
[code]
![image](https://user-images.githubusercontent.com/32496777/176698670-e76cecb3-1813-4ff0-a0b7-c6325ff70497.png)

But response is lon

[2022-06-30 14:14] azure-sdk commented on #22407
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Monitor:0.5532203,ARM:0.043992866,Network - Virtual Network:0.018207463'

[2022-06-30 17:48] zane-atomus opened #22408 "Monitor query: executing a query with custom endpoint throws 404."
- **Package Name**: @azure/monitor-query
- **Package Version**: 1.0.2
- **Operating system**:
- [x] **nodejs**
    - **version**: 16.15.1
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.7.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
If y

[2022-06-30 17:48] azure-sdk commented on #22408
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.39073363,Monitor - LogAnalytics:0.078578636,Cognitive - Text Analytics:0.047570035'

[2022-06-30 17:48] azure-sdk commented on #22408
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.39073363,Monitor - LogAnalytics:0.078578636,Cognitive - Text Analytics:0.047570035'

[2022-06-30 18:04] vcolin7 opened #22409 "Update Key Vault documentation"
We need to update the Key Vault documentation in a few places:

- [ ] **Authentication in Samples:** Our samples should show the use of Managed Identity instead of Service Principals with Client Secrets as the default authentication method. We can still show how to use the former for scenarios where the use of Managed Identity is not possible.
- [x] **Cryptographic operations using CBC and CBCPAD:

[2022-06-30 18:57] vcolin7 commented on #19717
We decided OKP will not be supported locally, as the default crypto libraries we us in our languages don't have a proper implementation for the algorithm.

[2022-06-30 18:57] #19717 closed

[2022-06-30 20:40] witemple-msft opened #22411 "[ai-form-recognizer] API consistency and naming"
There are some inconsistencies between the JS API for Form Recognizer and other languages that we need to clean up before a stable package is eventually released:

Note: where applicable, we should change the names of these methods in the swagger file as well, either by submitting them as PRs to change the operation IDs, type names, etc. or if that isn't possible, by using README transforms:

Chan

[2022-06-30 20:51] witemple-msft opened #22412 "[ai-form-recognizer] Remove the checked in assets from the repo"
This is something of a wishlist item.

I'd really like to be able to remove the `assets` folder from Form Recognizer and just download test assets from our storage account at runtime as needed.

For samples, we could host a zip of the assets at an aka.ms link and add instructions for downloading them to the sample README files.

It'll be nice to be able to avoid messing with version controlling th

[2022-07-01 02:19] v-jiaodi opened #22415 "[Communication - Phone Numbers] PhoneNumbersClient - lro - search can search for 1 available phone number by default failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\communication\communication-phone-numbers\test\public\lro.search.spec.ts:49:14)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1678739&view=results

[2022-07-01 04:53] zfyseu commented on #22281
Hello, we have found the reason for this error. It's not an SDK problem.   The IP address of our service is not in the access white list of eventhub so that the error occurs.
 Thanks for your help.

[2022-07-01 05:30] #22281 closed

[2022-07-02 01:04] joheredi commented on #22398
@dpwatrous, would you mind taking a look at this issue?

[2022-07-02 11:32] eero3 commented on #21884
First of all, thank you for the fast fix!

Unfortunately I cannot test the changes due my summer vacation - but I briefly checked the source code for the beta and it seems to include the changes that were requested in the issue!

[2022-07-03 01:37] nwf-msr commented on #22011
I've thought about this a bit more, off and on, and have proposed extending the `node.js` `crypto` API to handle the case of keys in HSMs more directly.  As I wrote [over there](https://github.com/nodejs/node/issues/43653), this approach looks like it would work well all the way up through `msal`, but the ad-hoc validation logic in https://github.com/Azure/azure-sdk-for-js/blob/191e4ce330acd60e014

[2022-07-04 05:53] EmmaZhu commented on #22321
@djaglowski ,

I don't know which section of your work flow would need to download with the storage SDK, thus I cannot find needed log from it.

@kotewar , Thanks for pointing me to the code.  I have copied your code to try to have a repro and have succeeded with downloading a 8GB blob.

From the screenshot you pasted, seems it's stuck at downloaded length:  2143289343.
In my testing, the followin

[2022-07-04 08:09] v-xuto commented on #20670
@qiaozha  Are there any plans or progress on this issue?

[2022-07-04 13:08] azure-sdk opened #22428 "Dependency package @typescript-eslint/eslint-plugin has a new version available"
We have identified a dependency on version 5.29.0 of @typescript-eslint/eslint-plugin. A new version (5.30.4) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for

[2022-07-04 13:08] azure-sdk opened #22429 "Dependency package @typescript-eslint/experimental-utils has a new version available"
We have identified a dependency on version 5.29.0 of @typescript-eslint/experimental-utils. A new version (5.30.4) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folde

[2022-07-04 13:08] azure-sdk opened #22430 "Dependency package @typescript-eslint/parser has a new version available"
We have identified a dependency on version 5.29.0 of @typescript-eslint/parser. A new version (5.30.4) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each s

[2022-07-04 13:08] azure-sdk opened #22431 "Dependency package @typescript-eslint/typescript-estree has a new version available"
We have identified a dependency on version 5.29.0 of @typescript-eslint/typescript-estree. A new version (5.30.4) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder

[2022-07-04 13:08] azure-sdk commented on #22429
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.30565712,Service Bus:0.17675608,EngSys:0.0491995'

[2022-07-04 13:08] azure-sdk commented on #22431
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.37441057,Service Bus:0.19026281,KeyVault:0.038898144'

[2022-07-05 03:35] v-jiaodi opened #22436 "[Service Bus] receive and delete Settlement of deferred msg in ReceiveAndDelete mode UnpartitionedSubscriptionWithSessions: defer() throws error failing in nightly runs"
Service Bus nightly test runs are failing with:

    at translateServiceBusError (dist-test/index.browser.js:42119:20)
    at MessageSession._init (dist-test/index.browser.js:47255:35)
    at async MessageSession.create (dist-test/index.browser.js:47596:13)
    at async ServiceBusClient.acceptSession (dist-test/index.browser.js:47699:36)
    at async ServiceBusTestHelpers.createReceiveAndDeleteRec

[2022-07-05 07:49] qiaozha commented on #20670
@zzhxiaofeng how do you know that we should use 2021-09-29T08:00:00Z ? Does this applies to all the datetime type parameters in typescript SDK ?

[2022-07-05 08:02] kazrael2119 commented on #22375
Released here：https://www.npmjs.com/package/@azure/arm-policy/v/5.0.2

[2022-07-05 08:13] guy-microsoft opened #22441 "Consistent 400 response code followed by 200 when using ManagedIdentityCredential"
We have a VMSS with multiple user assigned identities. We noticed that when we use the `ManagedIdentityCredential`, the SDK always makes 2 subsequent GET requests to the `/metadata/identity/oauth2/token` endpoint on the VM - the first one returns 400, and the second one returns 200.
Does the first call return 400 by design?

[2022-07-05 09:37] zzhxiaofeng commented on #20670
@qiaozha The issue can not reproduce at present, We will close the issue now.

[2022-07-05 09:37] #20670 closed

[2022-07-05 17:04] xirzec commented on #22441
@KarishmaGhiya is this something you can answer or do we need to ping the service team?

[2022-07-05 17:29] jeremymeng commented on #22316
@qiaozha could you have a look?

[2022-07-05 20:16] guy-microsoft opened #22451 "DefaultAzureCredential with MSI results in big performance hit in scale"
- **Package Name**:  @azure/identity
- **Package Version**: 2.0.5
- **Operating system**: Windows/Linux
- [x] **nodejs**
    - **version**: 14.15.4
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2022-07-05 20:49] jeremymeng commented on #22287
@hectorhdzg The sample run now times out starting 06/27 https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1671187&view=results.  Please have a look.

[2022-07-05 21:00] diberry opened #22454 "Storage account sas used with URI that includes a container name"
- **Package Name**: @azure/storage-blob
- **Package Version**: ^12.9.0
- **Operating system**: windows 11 internal
- [X ] **nodejs** v16.13.1
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [X] SDK API docs on https://docs.microsoft.com

**Descri

[2022-07-05 21:00] diberry commented on #22454
@jeremymeng @EmmaZhu

[2022-07-05 21:27] jeremymeng commented on #22451
We do cache the access token.  Is it possible that at the very beginning, since there's no valid access token yet so all these clients are trying to get access token at the same time?  @guy-microsoft you can try creating one client, doing some operation (`getProperties` on a container for example), waiting for its completion at the beginning, before doing work using the thousands of clients.  It c

[2022-07-05 21:33] guy-microsoft commented on #22451
Thanks @jeremymeng , I will try it and will update if it works.
Are there any plans of fixing this issue, so the workaround won't be needed?

[2022-07-05 22:10] jeremymeng commented on #22451
The access token for key vault may not work with storage as the two services have different scopes.  I would expect a single instance works for all Storage clients.

yeah, ideally, we don't want any workaround. We will need to understand the issue first then come up with plans.

[2022-07-05 22:55] #22313 closed

[2022-07-05 22:57] #22428 closed

[2022-07-05 22:57] #22429 closed

[2022-07-05 23:26] #22287 closed

[2022-07-06 06:15] qiaozha commented on #22316
This issue should be fixed by PR #22464  and https://github.com/Azure/azure-rest-api-specs/pull/19682

[2022-07-06 06:43] MaryGao commented on #21101
@nturinski Could you create an issue for the package `arm-appcontainers` considering they are different packages so we could better track their status?

[2022-07-06 07:47] qiaozha commented on #22375
@zane-atomus Can you check if the version 5.0.2 can resolve your issue ? Thanks

[2022-07-06 07:48] qiaozha commented on #22407
@MaryGao Can you help follow up on this issue ? Thanks

[2022-07-06 08:31] sinedied commented on #21726
Sorry for the lag @KarishmaGhiya, I just tested 2.0.5 and it perfectly fixes the issue, thanks! 👍

[2022-07-06 09:36] guy-microsoft commented on #22451
@jeremymeng , I tried the suggested workaround (making a simple operation on table and blob clients and waiting for them to return), but unfortunately it didn't work, and there are still many requests to MSI.

[2022-07-06 13:31] kotewar commented on #22321
@EmmaZhu, the failure as I mentioned doesn't happen always, so if you check the successful jobs in the same run, you'll notice that same file or segment where it got stuck was downloaded successfully by other jobs.
So yes, this might take time for you to reproduce, but one observation from our end has been the following -
`This issue mostly occurs when the same file is getting downloaded in parall

[2022-07-06 16:12] diberry opened #22472 "Where can I not use a DefaultAzureCredential in the SDKs?"
Now that DefaultAzureCredential is becoming required when available for all docs and samples, it will be necessary for all reference documentation to explicitly state what can't be used with DefaultAzureCredential.

As an example:

If I want to create a SAS token for my customers to upload files to their own Blob Storage containers, how do I do create the SAS token with managed identity?

I don't

[2022-07-06 18:11] johngallardo commented on #20505
This is a feature request.

[2022-07-06 18:20] #22045 closed

[2022-07-06 18:20] johngallardo commented on #22045
no longer repo.

[2022-07-06 18:21] #19029 closed

[2022-07-06 18:56] jeremymeng commented on #22472
generateBlobSASQueryParameters has an overload that takes a UserDelegationKey, which can be created by using the BlobServiceClient that has been authenticated using token credential.

https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/?view=azure-node-latest#@azure-storage-blob-generateblobsasqueryparameters-1

[2022-07-06 19:21] diberry commented on #22472
The [UserDelegationKey](https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/blobserviceclient?view=azure-node-latest#@azure-storage-blob-blobserviceclient-getuserdelegationkey) says 'ONLY AVAILABLE WHEN USING BEARER TOKEN AUTHENTICATION (TokenCredential). Retrieves a user delegation key for the Blob service. This is only a valid operation when using bearer token authentication.'

S

[2022-07-06 21:10] sarangan12 commented on #21247
Code complete and merged

[2022-07-06 21:10] #21247 closed

[2022-07-07 08:03] #22243 closed

[2022-07-07 08:45] qiaozha commented on #22351
after dig into it. there're multiple reasons for this issue.
1. As the SDK is generated from api version 2017-08-01-preview which is configured from  https://github.com/Azure/azure-rest-api-specs/tree/main/specification/security/resource-manager#tag-package-composite-v3
![image](https://user-images.githubusercontent.com/55688292/177729053-34e8ff5b-4c10-46a7-8b74-166f183b566a.png)
And some of the p

[2022-07-07 13:07] VRabadan opened #22487 "[identity] - Azure CLI Credential not working as advertised"
- **azure/identity**:
- **2.0.5**:
- **Operating system**:
- [Windows 11 ]
    - **nodejs**
    - **16**:
- Is the bug related to **documentation** in
  - [x ] SDK API docs on https://docs.microsoft.com (maybe? - Document citations below)

**Describe the bug**
I'm trying to get a credential in order to interact further with azure withing a JavaScript program.
My intended method is to use AZCLI to

[2022-07-07 13:11] VRabadan commented on #22487
I'm aware that the code has "DefaultAzureCredential" and I'm bug hunting "AzureCliCredential", but the first also includes the second and the result is the same. I've tried calling directly to AzureCliCredential with nothing changing.

[2022-07-07 19:55] jeremymeng opened #22492 "[react native support] test management libraries"
Test some representative mgmt libraries on React-Native

[2022-07-07 19:55] jeremymeng opened #22493 "[react native support] test keyvault libraries"

[2022-07-07 19:55] azure-sdk commented on #22492
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'API Management:0.2084645,Tables:0.055047255,Storage:0.026429541'

[2022-07-07 20:11] scbedd opened #22494 "[Test-Proxy-Integration] Newest Version Crashing Record Tests in js - core"
[Build Failure](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1690165&view=logs&j=5e37f95d-839f-535f-6f78-cdadfd4e5b5d&t=47aa0d6e-0aaa-519c-b2d3-3f3e50f9f0e4&l=1959)
[PR that reverted](https://github.com/Azure/azure-sdk-for-js/pull/22491)

I was _not_ expecting this to be a breaking change, but something definitely broke. I need to investigate and resolve.

[2022-07-07 21:10] jeremymeng opened #22496 "[dev-tool] add a command to ensure packages names have `@azure-*` scopes"
Another option is to add an eslint rule. However, it may be simpler to just have dev-tool checks the package json and report on non-conforming names.

[2022-07-08 02:13] v-jiaodi commented on #20487
The same issue reappears.
For more details check here: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1690872&view=results

[2022-07-08 02:29] v-jiaodi opened #22500 "[Monitor - Query] LogsQueryClient live tests - server timeout serverTimeoutInSeconds failing in nightly runs"
Monitor - Query nightly test runs are failing with:

    at getInnermostErrorDetails (/mnt/vss/_work/1/s/sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts:532:11)
    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts:499:30)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

For more details check here:

- htt

[2022-07-08 02:29] v-jiaodi opened #22501 "[Storage - File Datalake] LeaseClient from Directory breakLease failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\storage\storage-file-datalake\test\leaseclient.spec.ts:383:12)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1690387&view=results

[2022-07-08 02:29] azure-sdk commented on #22500
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Monitor - Query:0.5115997,Storage:0.17659214,Monitor:0.08074136'

[2022-07-08 02:29] v-jiaodi opened #22502 "[Aggregate-reports] Verify Repository Resource Refs failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

	File: D:\a\_work\1\s\eng\pipelines\templates\jobs\perf.yml, Repository: azure-sdk-tools.
Please ensure you add a Ref: when using repository resources
More Info at https://aka.ms/azsdk/engsys/tools-versioning
##[error]PowerShell exited with code '1'.

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?build

[2022-07-08 03:27] MaryGao commented on #21101
@nturinski  Yes, you are right and this is re-named package. Please edit your first comment to reflect them. Thanks!

[2022-07-08 16:08] #21820 closed

[2022-07-08 18:46] KarishmaGhiya opened #22515 "[Identity] Refactor the null checks to explicitly throwing errors"
Reference discussion - https://github.com/Azure/azure-sdk-for-js/pull/22419#discussion_r916280560

[2022-07-08 18:46] azure-sdk commented on #22515
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.39298445,Docs:0.08443859,Event Hubs:0.06019152'

[2022-07-08 20:24] xirzec commented on #22263
Ah and I'm assuming using Node 16 is not currently possible for you, so it sounds like we need to get the fix into cosmos itself. /cc @jay-most

[2022-07-08 20:40] xirzec commented on #21168
@jeremymeng do you have any thoughts on this one?

[2022-07-08 21:04] #22494 closed

[2022-07-08 21:40] jeremymeng commented on #21168
ECONNRESET error means that the service closes the tcp connection.  It would be great to know what happens on the client side.

@laudibert would it be possible to share some code snippet showing how you use our service bus SDK?  Also, could you please enable more logging and see if anything unusual/erroneous when the issue start happening? Please refer to the troubleshooting section for more infor

[2022-07-08 22:27] #22502 closed

[2022-07-08 23:32] #22340 closed

[2022-07-09 01:01] #22066 closed

[2022-07-10 23:21] cjshelton commented on #22310
Hi @xirzec - I see you've been somewhat active on this issue, so I'm just reaching out to see if you know any further details on this? I see it has been added to the "2022-08 milestone" - does this mean the issue has been acknowledged and planned to be fixed for then?

I'm seeing this exact issue when trying to save an object which has a `Date` type on it. `Date` does not seem to satisfy the `JSON

[2022-07-11 06:11] MaryGao opened #22522 "Fail to create managedClusters in ContainerService after replacing the api-version with client one"
- **Package Name**: @azure-rest/arm-containerservice
- **Package Version**: Note: the version is not released now and release pr is [here](https://github.com/Azure/azure-sdk-for-js/pull/22417)
- [ ] **nodejs**
    - **version**: v16.13.2

**Describe the bug**

Recently we are preparing the RLC SDK for ContainerService([pr here](https://github.com/Azure/azure-sdk-for-js/pull/22417)) and found that

[2022-07-11 06:12] azure-sdk commented on #22522
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Container Service:0.19672604,Docs:0.057876498,Cognitive Services:0.04380909'

[2022-07-11 08:40] azure-sdk commented on #22522
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Container Service:0.20626919,Docs:0.05365391,Cognitive Services:0.051884238'

[2022-07-11 12:12] laudibert commented on #21168
@jeremymeng I just looked into our logs again now and noticed a few things :
- This error is rare (no occurences since the 4th of July across all our services)
- When it happens, it most often happens in multiple services at the same time
- It sometimes happens simultaneously on different environments, each connected to different Service Bus instances
- All the services are nodejs applications tha

[2022-07-11 12:41] timtucker-dte opened #22527 "Allow custom DNS lookup function when creating a ServiceBusClient"
**Is your feature request related to a problem? Please describe.**
We see occasional failures for DNS lookups in Node in Azure Functions, including when creating a ServiceBusClient.

**Describe the solution you'd like**
In most of our code that makes connections, we pass in a custom httpsAgent with a caching DNS resolver specified as the lookup function.

Node's native Socket also allows for passi

[2022-07-11 13:08] azure-sdk opened #22529 "Dependency package @opentelemetry/api-metrics has a new version available"
We have identified a dependency on version 0.32.0 of @opentelemetry/api-metrics. A new version (0.33.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each

[2022-07-11 13:08] azure-sdk opened #22530 "Dependency package @opentelemetry/instrumentation-http has a new version available"
We have identified a dependency on version 0.32.0 of @opentelemetry/instrumentation-http. A new version (0.33.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder

[2022-07-11 13:08] azure-sdk opened #22531 "Dependency package @opentelemetry/sdk-metrics-base has a new version available"
We have identified a dependency on version 0.29.2 of @opentelemetry/sdk-metrics-base. A new version (0.30.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for

[2022-07-11 13:08] azure-sdk commented on #22529
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.23042427,Service Bus:0.12294551,Azure.Identity:0.058299534'

[2022-07-11 13:08] azure-sdk commented on #22530
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.48727116,Service Bus:0.077228844,KeyVault:0.042571474'

[2022-07-11 13:08] azure-sdk commented on #22531
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.2741286,Service Bus:0.11419563,EngSys:0.056488175'

[2022-07-11 14:25] agorischek commented on #22310
Hey @cjshelton, I'm far from a Cosmos expert but my understanding is that in your case, yes, you'll want to convert your Date object to a string first. The JavaScript `Date` object has a bunch of methods on it (e.g. `getMonth`, `getDay`) and those can't be represented in JSON. In particular I'd encourage you to try `.toISOString()` on your date before storing.

[2022-07-11 17:27] cjshelton commented on #22310
Yep that's what I've been thinking. Thanks for taking the time to respond @agorischek

[2022-07-11 17:39] JasonYeMSFT opened #22534 "[storage-blob] NodeJS list blob cannot handle undefined Content-MD5 in list blobs response"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.9.0
- **Operating system**: n/a

**Describe the bug**
If a blob has empty content MD5 (""), Azurite will send `undefined` for the Content-MD5 property in the list blobs response.
https://github.com/Azure/Azurite/issues/1592

This is because the Content-MD5 property is not required in the spec
https://github.com/Azure/azure-rest-api-

[2022-07-11 18:29] KarishmaGhiya commented on #22066
Released the fix for this in Identity 2.1.0 GA.  Fix - https://github.com/Azure/azure-sdk-for-js/pull/22421

[2022-07-11 19:52] jeremymeng commented on #22527
currently we don't expose the underlying rhea connection options in our Service Bus SDK.

@timtucker-dte we have a sample showing how to use websocket and passing a proxy agent in websocket constructor options. I imagine your custom https agent can be passed in a simiar way:

https://github.com/Azure/azure-sdk-for-js/blob/f51e095156c0a6d45969b118f3c0367777742a8f/sdk/servicebus/service-bus/samples/

[2022-07-11 20:49] xirzec commented on #22310
I'm also not a cosmos expert, but if it works with type casting it seems we might just need to fix our typings here?

I'll let @sajeetharan and @jay-most comment as to when this work will be able to be completed

[2022-07-11 22:31] tracker1 commented on #13281
It might be easier to refactor the JS libraries to build fist with Deno.. then it's easy enough to duplicate the source directory, replacing the `/import [^"]+"[^"]+.ts";/` excluding the `.ts` ... then the Deno version can be referenced directly from github rawContent, since it tends to get cached.... at least initially.. would be easier to test for Deno usage as well.  Then webpack or whatever bu

[2022-07-12 01:39] timtucker-dte commented on #22527
@jeremymeng -- thanks, that definitely helps.  Did a quick test and it seemed to use the lookup function.

A few follow-up questions, though:
- Docs mention there being additional latency from using WebSockets over https instead of tcp -- how much extra delay should we expect?
- Is there any way to prime a connection to a sender without sending a message?  From what I can tell, no connection attem

[2022-07-12 06:11] v-jiaodi opened #22543 "[Text Analytics] [APIKey] TextAnalysisClient analyzeBatch general behavior invalid language hint failing in nightly runs"
Text Analytics nightly test runs are failing with:

    at Function.<anonymous> (D:\a\_work\1\s\common\temp\node_modules\.pnpm\chai-exclude@2.1.0_chai@4.3.6\node_modules\chai-exclude\chai-exclude.js:142:66)
    at Function.methodWrapper (D:\a\_work\1\s\common\temp\node_modules\.pnpm\chai@4.3.6\node_modules\chai\lib\chai\utils\addMethod.js:57:25)
    at assertActionResults (D:\a\_work\1\s\sdk\texta

[2022-07-12 06:11] v-jiaodi opened #22544 "[App Configuration] Deploy test resources failing in nightly runs"
App Configuration nightly test runs are failing with:

CorrelationId: 14fd4384-ccb0-4738-a4a9-97f45358a569"
At D:\a\_work\1\s\eng\common\TestResources\New-TestResources.ps1:725 char:23
         $deployment = Retry {
[code]

[2022-07-12 06:53] MaryGao commented on #21478
@NoTuxNoBux We released a new version for this fix - https://www.npmjs.com/package/@azure/arm-containerinstance/v/8.2.0. Could you have a try?

[2022-07-12 21:13] KarishmaGhiya commented on #22441
There are 2 calls made when we use any TokenCredential - the first call is for the discovery instance `discovery/instance` and has an authorization endpoint as one of the query parameters, and the second one is the call to the actual authorization endpoint . When I check any request on my end (haven't tested on VM managed Identity) it returns 200 status code in both cases.

Perhaps it's unable to

[2022-07-12 21:24] KarishmaGhiya commented on #22451
Hi, we still need to provide token caching support for managed identity credential. Do you think this feature that I am currently working on will solve your issue? https://github.com/Azure/azure-sdk-for-js/issues/21065

[2022-07-12 21:29] KarishmaGhiya commented on #19609
Released 2.1.0 - https://www.npmjs.com/package/@azure/identity

[2022-07-12 21:30] KarishmaGhiya commented on #21978
@baywet We have released our GA 2.1.0 - https://www.npmjs.com/package/@azure/identity

[2022-07-12 21:35] KarishmaGhiya commented on #22011
@nwf-msr We have released the ClientAssertion Credential - https://www.npmjs.com/package/@azure/identity in the 2.1.0 release. Please feel free to check it out and give us feedback. It won't actually solve the scenario that you are looking for, but your feedback will help us formulate the feature request that you initially asked for.

[2022-07-12 21:35] KarishmaGhiya commented on #21970
@jeremymeng can we close this?

[2022-07-12 21:38] KarishmaGhiya commented on #21606
Released the fix in Identity 2.1.0 GA - https://www.npmjs.com/package/@azure/identity

[2022-07-12 21:45] #21978 closed

[2022-07-12 21:46] KarishmaGhiya commented on #21778
VS Code credential are broken right now. So pushing this to a later milestone.

[2022-07-12 22:01] witemple-msft commented on #21778
To clarify, the mechanism we used to use to communicate with the credential store was changed in a recent version of VS Code, so even if we fix this bug, it won't be able to access the credential store and retrieve the session from the VS Code extension, meaning that for now, identity-vscode is effectively unusable if your version of the Azure Account extension is up to date.

[2022-07-12 22:17] jeremymeng commented on #22451
I did a debugging session with @guy-microsoft earlier today on why the workaround I mentioned above doesn't work.  I got some repro code and looked further. It looks that when we create one instance of Blob client or Table client via constructor that takes a token credential, we will create a new http request pipeline, as a result, [we create a new in-memory token cache](https://github.com/Azure/a

[2022-07-12 23:12] #22411 closed

[2022-07-12 23:30] jeremymeng commented on #22451
Even though Table clients expose `pipeline`, it seems I still need to do some hack to reuse a request pipeline
[code]

[2022-07-12 23:38] jeremymeng commented on #22527
@timtucker-dte we had a method on the sender before to initiate the connection but decided to remove it.  We still want to bring it back https://github.com/Azure/azure-sdk-for-js/issues/12611.

For the other questions I am asking owners and will get back to you as soon as possible.

[2022-07-12 23:52] azure-sdk opened #22559 "Dependency package @types/estree has a new version available"
We have identified a dependency on version 0.0.52 of @types/estree. A new version (1.0.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package (

[2022-07-12 23:52] azure-sdk opened #22560 "Dependency package @types/mustache has a new version available"
We have identified a dependency on version 4.1.2 of @types/mustache. A new version (4.2.1) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package

[2022-07-12 23:52] azure-sdk opened #22561 "Dependency package inquirer has a new version available"
We have identified a dependency on version 9.3.7 of [inquirer](https://www.npmjs.com/package/inquirer). A new version (12.6.3) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to th

[2022-07-12 23:52] azure-sdk commented on #22559
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.39202768,Service Bus:0.12400684,Azure.Identity:0.0488258'

[2022-07-12 23:52] azure-sdk commented on #22561
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.26710087,Service Bus:0.18234554,Azure.Identity:0.059957925'

[2022-07-12 23:52] azure-sdk commented on #22560
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3373441,Service Bus:0.12806672,KeyVault:0.052840613'

[2022-07-13 07:32] qiaozha commented on #20590
close it as resolved. @MRayermannMSFT feel free to reopen it if you still found any issues in it. Thanks

[2022-07-13 07:32] #20590 closed

[2022-07-13 07:38] qiaozha commented on #21884
close it as addressed. @eero3 feel free to reopen it if you still found any issues in it. Thanks

[2022-07-13 07:38] #21884 closed

[2022-07-13 07:43] MaryGao commented on #22407
Sure I am preparing the package for this fix.

[2022-07-13 08:59] AbhishekSinha-AEP commented on #21606
@KarishmaGhiya it is working now, able to fetch creds
Thanks :D

[2022-07-13 12:54] mwiedemeyer opened #22568 "[Storage-blob] ContainerClient encodes blobName including folder which produces are problematic url"
- **Package Name**: storage-blob

**Describe the bug**
The problem is [this line](https://github.com/Azure/azure-sdk-for-js/blob/b350efd749bc3f74fccdfd53c228ff4ddbe734fb/sdk/storage/storage-blob/src/ContainerClient.ts#L896). It encodes the blobName, but the blobName can also include a folder, like `folderA/blob.txt`.

This produces the following URL:
`https://mystorageaccount.blob.core.windows.net

[2022-07-13 14:35] lidiexy-palinode opened #22569 "Please, include entities again into the AnalyzedDocument result."
**Is your feature request related to a problem? Please describe.**
Identifying entities with the level of detail Form Recognition had (confidence, boundingRegions, etc) becomes a hard task, forcing to use other services and tools that will not bring the same info.

**Describe the solution you'd like**
Rollback or include the entities field as part of the AnalyzedDocument result removed in the 2022

[2022-07-13 17:10] jeremymeng commented on #22527
@timtucker-dte we also support [specifying a custom endpoint](https://github.com/Azure/azure-sdk-for-js/blob/b350efd749bc3f74fccdfd53c228ff4ddbe734fb/sdk/servicebus/service-bus/test/internal/unit/client.spec.ts#L11).  Its main purpose is for proxy server scenario, but it may work if you pass an IP address.  We will use the host and port from the custom endpoint if specified to make connections.

[2022-07-13 19:12] djaglowski commented on #22321
Any update on this?

Here are two more occurences within the same workflow run:
1. https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7323581388?check_suite_focus=true#step:4:15265
2. https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7323582447?check_suite_focus=true#step:4:632

[2022-07-13 19:30] timtucker commented on #12611
What about "warmup"?

That would be the same naming as Azure functions trigger that we're looking at calling this type of functionality from.

[2022-07-13 21:04] #21606 closed

[2022-07-13 21:04] KarishmaGhiya commented on #21606
I am glad we were able to work this out.

[2022-07-14 09:07] kazrael2119 commented on #22407
Hi @hirenchalodiya1 ，
I fixed this issue and regenerated this package. You can use this package to verify whether your problem is solved.
Here is the package:
[azure-arm-workloads-1.0.0-beta.2.zip](https://github.com/Azure/azure-sdk-for-js/files/9110348/azure-arm-workloads-1.0.0-beta.2.zip)

[2022-07-14 13:01] diberry opened #22587 "How to create a Storage sas token from DefaultAzureCredential for Container or Blob"
I'm logged into Azure in VSCode with my Microsoft account. What permissions does the SAS need to verify if the container exists?

The error I receive is:

[code]

The same account has the following IAM roles:

![image](https://user-images.githubusercontent.com/41597107/178988037-2281fe42-0573-478c-9c63-9055ba1cdfd2.png)

My complete code looks like:

[code]

[2022-07-14 22:27] diberry commented on #22587
Posting working code that will eventually go in docs.

[code]

[2022-07-14 22:27] #22587 closed

[2022-07-14 22:38] FabianMeiswinkel opened #22591 "@azure/cosmos - split internal and public constants into two classes"
**Is your feature request related to a problem? Please describe.**
Currently all constants are exposed in public surface area.

**Describe the solution you'd like**
Instead, only constants meant to be used externally should be exposed publicly - and a separate class for internal constants should be used. Removing constants from public surface area would be considered breaking - but still worth add

[2022-07-15 00:07] KarishmaGhiya opened #22593 "[Monitor Ingestion] Implement gzipping for browser using pako - beta-2"
-We implemented gzipping in node for beta-1 library using "zlib" library. But zlib is in-built in node.
- For browser, investigations show that OSS supports pako as second to "zlib" library and it supports browser. So we can implemet the gzipping policy for browser using this library - https://www.npmjs.com/package/pako

[2022-07-15 06:11] v-jiaodi opened #22599 "[Key Vault - Administration] Deploy test resources failing in nightly runs"
Key Vault - Administration nightly test runs are failing with:

VERBOSE: Logging out of service principal '***'
VERBOSE: Performing the operation "New-TestResources.ps1" on target "***".
Write-Error: /mnt/vss/_work/1/s/eng/common/TestResources/New-TestResources.ps1:755
Line |
 755 |              &$postDeploymentScript -ResourceGroupName $ResourceGroupN …
     |              ~~~~~~~~~~~~~~~~~~~~~~~

[2022-07-15 06:11] v-jiaodi opened #22600 "[Storage - Queue] Deploy test resources failing in nightly runs"
Storage - Queue nightly test runs are failing with:

Status Message: A hash conflict was encountered for the role Assignment ID. Please use a new Guid. (Code:HashConflictOnDifferentRoleAssignmentIds)
CorrelationId: 9be2bdc0-599d-47d6-94fc-8acf8d27d307"
At D:\a\_work\1\s\eng\common\TestResources\New-TestResources.ps1:725 char:23
         $deployment = Retry {
[code]

[2022-07-15 06:11] v-jiaodi opened #22601 "[Aggregate-reports] Post Analysis (PoliCheck) failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

  Guardian is searching for results that meet the given criteria to break the build.
  Results Query Summary:
    Tool Filters (Include): policheck:Warning
    Baselines: default
    Suppression Sets: default
    Policy: Microsoft
##[error]1. PoliCheck Error SEV1 - File: common/config/rush/pnpm-lock.yaml. Line: 1692. Column 115.
  Tool: PoliCh

[2022-07-15 06:12] azure-sdk commented on #22600
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.32530656,Storage:0.22230934,EngSys:0.1969358'

[2022-07-15 06:12] azure-sdk commented on #22601
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.09311758,KeyVault:0.0903956,Data Factory:0.061943136'

[2022-07-15 08:21] EmmaZhu commented on #22568
@mwiedemeyer ,

Do you mean if you use an Apache proxy, the proxy won't work for a URL like
`https://mystorageaccount.blob.core.windows.net/my-container/folderA%2Fblob.txt`
and only work for URL like
`https://mystorageaccount.blob.core.windows.net/my-container/folderA/blob.txt` ?

Hi @jeremymeng ,
I can access to a blob with '/' in its name without encoded. Are you aware of any environment in whic

[2022-07-15 08:46] mwiedemeyer commented on #22568
Hi,
correct. Normally everything works with `https://mystorageaccount.blob.core.windows.net/my-container/folderA%2Fblob.txt` and `https://mystorageaccount.blob.core.windows.net/my-container/folderA/blob.txt`.

However the Apache proxy does not work with the `%2f` in the url. The raw / should always work (like any other URL)

[2022-07-15 15:25] diberry opened #22607 "README issue for "Managed Identity Support" section"
Should Storage and Key vault be added to [this list](https://www.npmjs.com/package/@azure/identity#managed-identity-support)? Might be others like Azure Functions and Cosmos DB?

![image](https://user-images.githubusercontent.com/41597107/179254904-6189a5cb-a84b-43a3-a076-fd799bcec3fa.png)

Can you also link to some doc somewhere "How to set up managed identity?"

[2022-07-15 15:33] abhisarswami opened #22608 "Error running the docker container while consuming azure identity module with caching option enabled"
- **@azure/identity**:
- **2.0.0**:
- **Debian**:
- [ ] **nodejs**
    - **14.16.1**:

**Description**
Our nodeJs application consumes azure identity module to generate the access token. The application executes fine when run in local windows environment. But when the application is dockerized using the official nodejs base image we get the following error;

We have added following statements to e

[2022-07-15 16:02] deyaaeldeen commented on #21865
This issue has been addressed for lroEngine in https://github.com/Azure/azure-sdk-for-js/blob/ff143a1844fe230e086762a02c2b07dfb42983ab/sdk/core/core-lro/test/engine.spec.ts#L2105-L2226

[2022-07-15 16:02] #21865 closed

[2022-07-15 17:10] deyaaeldeen commented on #21970
@KarishmaGhiya yes!

[2022-07-15 17:10] #21970 closed

[2022-07-15 17:55] xirzec commented on #22608
@KarishmaGhiya is the expert here, but can I confirm that you enabled the plugin by calling `useIdentityPlugin`?

[code]

[2022-07-15 18:22] abhisarswami commented on #22608
Sorry I missed that piece of information, but yes I enabled it.

[2022-07-15 19:20] jeremymeng commented on #22568
[Our own doc](https://docs.microsoft.com/en-us/rest/api/storageservices/Naming-and-Referencing-Containers--Blobs--and-Metadata#blob-names) says reserved url characters should be encoded but also the same doc shows samples with '/'.  I guess '/' is special and we may want to special-case it for storage. The path url encoding code is from track 1, @XiaoningLiu probably knows more?

[2022-07-15 21:01] diberry opened #22613 "For conceptual docs - @azure/storage-blob - which blob clients can I upload files to?"
The JS and .NET SDKs seem to differ on which clients can upload files. If I have a [BlobClient](https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/blobclient?view=azure-node-latest), how do I upload to it?

Am I supposed to either get a BlockBlobClient from BlobClient or just spin up a BlockBlobClient without first using Blob?

[2022-07-15 22:48] jeremymeng commented on #22613
@diberry if you know what blob type you want to use, you can then choose one of the blob client sub type to do upload without using `BlobClient`, their upload methods are different.
- BlockBlobClient has `upload*()` , and `stageBlock()/commitBlockList()` methods
- AppendBlobClient has `create()` and `append()`
- PageBlobClient has  `create()` and `appendPages()`

`BlobClient` is the base class of

[2022-07-16 00:50] KarishmaGhiya opened #22615 "[Monitor Ingestion] Add support for streaming log objects/ strings for huge incoming data - beta-2"
Support an overload for streaming log objects (or strings), see how we do streaming upload in storage-blob.

[2022-07-18 02:21] EmmaZhu commented on #22454
Hi @diberry ,

The issue is not because of SAS token, it's because you tried to create a service client with a container URL. The operation to fetch Blob Service properties against a container is not valid.

Thanks
Emma

[2022-07-18 07:10] EmmaZhu commented on #22613
@diberry  For uploading operation, the SDK would need to know the blob type you'd want to upload to.  As Jeremy has mentioned above, there are different uploading interfaces for different blob types.

If you already have a `BlobClient` instance, you can call `getAppendBlobClient`, `getBlockBlobClient `or `getPageBlobClient` interface to get a instance for a specific blob type.

You can also get cl

[2022-07-18 08:32] guy-microsoft commented on #22451
Thanks @jeremymeng , is there an ETA of when this change will be integrated to the package?

[2022-07-18 11:09] pvpetrac opened #22620 "CosmosDB with managed Identity - Provided AAD token has been expired"
- **Operating system**: Windows (app service and function apps both premium)
- [ ] **nodejs**
    - **version**: >=16

We are using libraries:
    "@azure/cosmos": "^3.16.3",
    "@azure/identity": "^2.1.0"

Cosmos sdk does not refresh aad token. We have issues with both app service and function apps.
{"code":"Unauthorized","message":"Request blocked by Auth cosmos-public-serverless-scus : Provide

[2022-07-18 11:10] azure-sdk commented on #22620
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.55361664,Azure.Identity:0.3827961,AppAuthentication:0.016587596'

[2022-07-18 13:09] azure-sdk opened #22622 "Dependency package eslint-plugin-markdown has a new version available"
We have identified a dependency on version 2.2.1 of eslint-plugin-markdown. A new version (3.0.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such p

[2022-07-18 13:09] azure-sdk commented on #22622
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.2674396,Service Bus:0.18771523,Azure.Identity:0.053066816'

[2022-07-18 15:38] Jonas-Nke opened #22624 "Custom Text Classification with Node.js / JavaSkript"
- **Package Name**: @azure/ai-text-analytics
- **Package Version**: 5.1.0
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: 16.13.1
- [x] **browser**
    - **name/version**: Chrome 103.0.5060.114
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft

[2022-07-18 15:42] abhisarswami commented on #22608
@KarishmaGhiya any updates would really help.

[2022-07-18 15:59] diberry commented on #22613
Thank you - adding to this doc page - https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-upload-javascript

[2022-07-18 15:59] #22613 closed

[2022-07-18 21:42] #22622 closed

[2022-07-18 21:50] charlestbell opened #22628 "Does not work with React Native Expo SDK 42+ Please Remove Isomorphic-Webcrypto"
Currently building a React Native app and just finished porting it over from Firebase to CosmosDB.

Everything looked great, but when I went build it for deployment, I get this error on eas build:
❌  ld: 12 duplicate symbols for architecture arm64

Turns out, I am by no means the first. Others in the community narrowed down the problem to a package called @unimodules/core, which is a dependency of

[2022-07-18 21:51] azure-sdk commented on #22628
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.40485868,Storage:0.09189288,Cosmos:0.0918496'

[2022-07-18 22:25] timovv commented on #22561
The new major of this package is breaking because they [migrated to ESM](https://github.com/SBoudrias/Inquirer.js/releases/tag/inquirer%409.0.0). I don't think we're in a position to upgrade. The only package in our repo using `inquirer` is the [API management custom widgets scaffolder](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/apimanagement/api-management-custom-widgets-scaffolder).

[2022-07-18 22:29] timovv commented on #22180
This is effectively the same issue as #22599, just the error message has changed as we've added more debug output. Closing this one since it's outdated.

[2022-07-18 22:29] #22180 closed

[2022-07-18 23:56] timovv commented on #22559
Fixed in #22610

[2022-07-18 23:56] #22559 closed

[2022-07-19 02:15] v-jiaodi opened #22630 "[Storage - Blob] ContainerClient Find blob by tags should work failing in nightly runs"
Storage - Blob nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\storage\storage-blob\test\containerclient.spec.ts:1011:12)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1714589&view=results

[2022-07-19 09:53] sajeetharan commented on #22620
@pvpetrac Thanks for reporting the issue. We will investigate and get back on this!

[2022-07-19 11:04] NoTuxNoBux commented on #21478
@MaryGao Thanks for the update. I've created an internal ticket to do so, but it might take a while before I get to it. (If you prefer to close this ticket in the meantime, please feel free to do so, I can always respond later if it turns out not to be fixed, or create a new ticket.)

[2022-07-19 13:12] hirenchalodiya1 commented on #22407
@MaryGao @kazrael2119
New package resolves the issue.

[2022-07-19 16:32] xirzec commented on #22628
@jeremymeng can you look into this and make a recommendation for how to best resolve?

[2022-07-19 17:45] jeremymeng commented on #22628
cosmos uses `isomorphic-webcrypto` for sha-256 [digest](https://github.com/Azure/azure-sdk-for-js/blob/bdf740cb2e3a83527dcbe64ecb93b696f0a97838/sdk/cosmosdb/cosmos/src/utils/digest.browser.ts#L9) and [hmac](https://github.com/Azure/azure-sdk-for-js/blob/bdf740cb2e3a83527dcbe64ecb93b696f0a97838/sdk/cosmosdb/cosmos/src/utils/hmac.browser.ts#L6) computation when targeting React Native.  We could chan

[2022-07-19 18:47] charlestbell commented on #22628
Update: I found a temporary workaround, which is to use Expo's classic build service, instead of their newer EAS build service. Unfortunately, the classic build service is deprecated and goes offline in about 160 days. So I'm reaching out to them and see if they can get EAS build to work like classic in this regard, or hold off on deprecating classic.

Thanks @jeremymeng  and @xirzec for looking i

[2022-07-19 18:54] jeremymeng commented on #22568
.NET does not encode '/'.  We will want to do the same too: https://github.com/Azure/azure-sdk-for-net/blob/0ce8e17b4dee01d7d3c2e0aff6977706d448eee0/sdk/storage/Azure.Storage.Common/src/Shared/StorageExtensions.cs#L12-L28

[2022-07-19 18:56] charlestbell commented on #22628
https://github.com/expo/eas-build/issues/121#issue-1309922843

[2022-07-19 19:11] adnan-ashfaq opened #22790 "Wrong error bar and it persists in communication-react."
**Describe the bug; what happened?**

1. Enabling the camera while it's being used by other application, it displays wrong error bar. I see `"Failed to start video"`, but instead it should dispatch `"Unable to access camera. It may already be in use by another application."`
2. the error bar stays even after the camera is closed in other app and is enabled in the meeting.

**What are the steps to

[2022-07-19 20:35] vcolin7 commented on #22409
You can refer to [this Java PR](https://github.com/Azure/azure-sdk-for-java/pull/29996) for the second item (CBC crypto).

[2022-07-20 02:07] EmmaZhu commented on #22534
The issue has been fixed in @azure/storage-blob@12.10.0.

Thanks
Emma

[2022-07-20 03:30] #20987 closed

[2022-07-20 03:33] MaryGao commented on #20570
@bwateratmsft  Bug created to track this in service team - https://msazure.visualstudio.com/Antares/_workitems/edit/14974879

[2022-07-20 03:38] MaryGao commented on #22522
Issue resolved after the pr merged. Close it.

[2022-07-20 03:38] #22522 closed

[2022-07-20 05:54] MaryGao commented on #21101
@nturinski Could you suggest why you add the two deletion operations again?

After checking the original [issue](https://github.com/Azure/azure-sdk-for-js/issues/21101#issuecomment-1098293940), I think we have an agreement that there is no change for `containerApps.beginDeleteAndWait` and  the below description is expected behavior:
- For the operation containerApps.beginDeleteAndWait, it will ret

[2022-07-20 07:44] qiaozha commented on #21478
close it as it should have been resolved. @NoTuxNoBux feel free to reopen it if you still found any issues about it. Thanks

[2022-07-20 07:44] #21478 closed

[2022-07-20 07:49] qiaozha commented on #22407
close it as resolved.

[2022-07-20 07:49] #22407 closed

[2022-07-20 07:51] qiaozha commented on #22599
remove the mgmt label as this is not a library related with mgmt plane.

[2022-07-20 13:18] gazolt opened #22655 "@azure/arm-monitor - get diagnostic settings data missing property categoryGroup for log settings"
- **Package Name**: @azure/arm-monitor
- **Package Version**:  7.0.1
- **Operating system**: Windows 10
- [x ] **nodejs**
    - **version**:  v16.14.2
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug

[2022-07-20 13:18] azure-sdk commented on #22655
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Monitor:0.05576504,Storage:0.050457276,Cosmos:0.04847992'

[2022-07-20 14:06] bwateratmsft commented on #20570
Thanks @MaryGao!

[2022-07-20 17:48] #20246 closed

[2022-07-20 22:24] jeremymeng commented on #22451
I was only providing workaround above.  In our current design, the http request pipeline is not share across instances of clients when you create them via the constructor that takes credentials.  The MSI caching feature @KarishmaGhiya mentioned above may help in the MSI scenario.

For `@azure/storage-blob` the recommended way is to pass a shared pipeline to the constructor, or get child clients fr

[2022-07-21 11:36] guy-microsoft commented on #22451
Ok @jeremymeng , I see. So I guess that for @azure/data-tables it may take time until specifying a shared pipeline will be possible natively.

[2022-07-21 12:18] guy-microsoft commented on #22451
Btw, I see the client constructors (e.g. `BlobServiceClient`) that accepts `pipeline `argument, do not accept `StoragePipelineOptions`. Is there an ability to pass them both when creating a client?

[2022-07-21 13:25] alexgagnon opened #22661 "Include browser based examples for @azure/search-documents"
**Is your feature request related to a problem? Please describe.**
I'm struggling to find examples of running the `@azure/search-documents` clients in the browser. The package references nodejs modules `http/https`, `os`, and `util` and I haven't been able to find anywhere recommendations on if/how these modules should be shimmed/mocked, or if there is an alternate way to build the package in a br

[2022-07-21 13:25] azure-sdk commented on #22661
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Search:0.599915,Docs:0.18959805,Storage:0.03906939'

[2022-07-21 14:42] pvpetrac commented on #22620
Meanwhile, we reverted to cosmos connection via key. FYI, couple of weeks ago, we have implemented Managed Identity for Service Bus and Storage Account, and there was no similar issues there.

[2022-07-21 16:45] jeremymeng commented on #22451
@guy-microsoft the option can be passed when calling `newPipeline()`

[code]

[2022-07-21 18:32] nturinski commented on #21101
I think I misunderstood the first time. Currently, `beginDeleteAndWait` doesn't return undefined and does throw an error.

![image](https://user-images.githubusercontent.com/5290572/180287831-671f19ce-e801-4794-9e99-b65eb5f969ef.png)

[code]

I think that this should be the expected behavior.

[2022-07-21 18:47] LastTribunal commented on #19075
What a POS this .net cosmos client is (new and old)..  The only way to run this this thing is as a singleton.  Constant Instantiation will guarantee memory leak disasters in Prod, as I learned the hard way.
GC will not lean up, it will linger in Gen2 heap, till it blows up your server.

MS needs to either un'f the client and make it garbage collectable, or put a disclaimer about its use and potent

[2022-07-21 18:49] LastTribunal commented on #19075
<img width="607" alt="image" src="https://user-images.githubusercontent.com/4235993/180293097-164b7bf8-3555-43b5-a1b1-40eae08197f0.png">

[2022-07-21 18:56] LastTribunal commented on #19075
dispose() will still result in a leak, albeit a slower one

[2022-07-21 19:23] xirzec commented on #22661
@sarangan12 can you assist?

[2022-07-21 19:23] azure-sdk commented on #22655
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Monitor:0.05576504,Storage:0.050457276,Cosmos:0.04847992'

[2022-07-21 19:56] xirzec commented on #19075
@LastTribunal are you using the JS package or the .NET one? This is the repo for the JS SDK

[2022-07-21 21:03] diberry opened #22666 "Azure Blob Storage migration guide - please add Resiliency section"
Please add comparable version of [.NET's resiliency section](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Azure.Storage.Blobs/AzureStorageNetMigrationV12.md#resiliency) - if you could also add text to explain the code that would be awesome.

[2022-07-21 21:13] LastTribunal commented on #19075
@xirzec thanks for letting me know... I am using the .net.   I'll post the same to the .net page

[2022-07-21 23:32] sarangan12 commented on #22661
@xirzec I will create them soon and provide the link

[2022-07-22 02:24] v-jiaodi opened #22668 "[Digital Twins - Core] DigitalTwins Models - create, read, list, delete operations create models empty failing in nightly runs"
Digital Twins - Core nightly test runs are failing with:

    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/digitaltwins/digital-twins-core/test/public/testModels.spec.ts:105:14)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1724508&view=resu

[2022-07-22 02:24] v-jiaodi opened #22669 "[Storage - Blob] syncUploadFromURL large content with timeout failing in nightly runs"
Storage - Blob nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\storage\storage-blob\test\node\blockblobclient.spec.ts:632:14)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1724372&view=results

[2022-07-22 02:24] v-jiaodi opened #22670 "[Aggregate-reports] Link verification check failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

Checking 24 links found on page file:///D:/a/_work/1/s/sdk/cognitivelanguage/ai-language-text/samples/v1-beta/typescript/README.md
##[warning]broken link https://docs.microsoft.com/javascript/api/@azure/ai-language-text
Checking 2 links found on page file:///D:/a/_work/1/s/sdk/cognitivelanguage/ai-language-text/swagger/README.md
Checking 0 lin

[2022-07-22 02:24] azure-sdk commented on #22670
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.37663954,Cognitive - Text Analytics:0.25607947,Docs:0.122019455'

[2022-07-22 06:24] qiaozha commented on #22655
it turns out to be caused by the same reason as https://github.com/Azure/azure-sdk-for-js/issues/22325, we are trying to contact service team on what the correct api version we should use in generating the SDK.

[2022-07-22 09:33] deyaaeldeen commented on #22624
Hi @Jonas-Nke, thanks for reaching out! v5.1.0 doesn't support custom classification actions but v6.0.0-beta.1 supports it. Please note that v6 is beta and we strongly advise not to use it in production code. I will keep you posted once custom classification is released in a stable version.

[2022-07-22 17:43] selvaganesh22 opened #22681 "2 Instances of one consumer group processing one event twice"
- **Package Name**: @azure/event-hubs
- **Package Version**:
- **Operating system**: Windows
- [ ] **nodejs**16
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I wrote a simple

[2022-07-22 17:43] jeremymeng commented on #21903
JS has a sample for `deferMessages()`

[2022-07-22 18:03] schmod commented on #15114
Is there a plan to fix this? This has been open for more than a year, and is a fairly serious issue for us.

[2022-07-22 18:53] selvaganesh22 commented on #22681
Do i need chexkpointstore. Could you point me to the documentation page where I can find information on multiple instances and single consumer group scenario.

[2022-07-22 22:28] johngallardo commented on #22668
Strangely, these tests are passing for some environments, but not others. They pass for `ubuntu2004_14x_node`, but fail for `ubuntu2004_node_12x_max` and `ubuntu2004_node_12x_min`. For the failure cases, I don't see evidence of the request failing in the service (the test is expecting a failure for this negative case).

[2022-07-22 22:37] johngallardo commented on #22668
@abhinav-ghai  can you take a look?

[2022-07-22 23:00] johngallardo commented on #22668
@jeffyou543 seems related to https://github.com/Azure/azure-sdk-for-js/commit/f55930df9ef78743a14e349a1b35069b40ed26e1

[2022-07-22 23:02] jeremymeng commented on #17776
Most packages have been moved to v4.6.  Codegen is also updated to use v4.6 in generated code.  There are some track1 packages that remain untouched.  We will keep them that way.

[2022-07-22 23:02] #17776 closed

[2022-07-22 23:11] jeremymeng commented on #19237
Only a couple management packages still depend on 0.4.2.  They should be updated in next refresh.

[2022-07-22 23:22] jeremymeng commented on #19350
No work to be done here. Only old, generated packages depend on v3.4.0

[2022-07-22 23:24] jeremymeng commented on #19237
No work to be done here.  Keep this issue open for the bot.

[2022-07-22 23:24] jeffyou543 commented on #22668
The test failure is due to the use of azure/core-http dependency. But regardless the test should have no issue passing in each environment. The root cause is uncertain, but I want to check and see if anyone from the SDK team might have some insights on this?

@v-jiaodi @v-xuto ?

[2022-07-24 06:39] guy-microsoft commented on #22451
@jeremymeng So it's impossible (at least for now) to share a single pipeline across different clients that have different `StoragePipelineOptions`?

[2022-07-24 08:57] Lazzaretti opened #22687 "[Service Bus] peekMessages() can't be repeated"
- **Package Name**: @azure/service-bus
- **Package Version**:  7.6.0
- **Operating system**: Mac
- [x] **nodejs**
    - **version**: v16.13.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.7.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2022-07-25 06:37] tiwarishub commented on #22321
👋 , we are seeing multiple customer issues created for this issue. Do we have any update for this

[2022-07-25 07:04] GeorgeCodeHub commented on #22188
Hello there,

Did you manage to see the issue and recreate it from your end?

[2022-07-25 13:08] azure-sdk opened #22697 "Dependency package eslint-plugin-no-only-tests has a new version available"
We have identified a dependency on version 2.6.0 of eslint-plugin-no-only-tests. A new version (3.0.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each s

[2022-07-25 13:08] azure-sdk commented on #22697
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.30852073,Service Bus:0.14105353,Azure.Identity:0.05260466'

[2022-07-25 17:25] JasonYeMSFT commented on #22534
I have verified the problem is fixed.

[2022-07-25 17:25] #22534 closed

[2022-07-25 17:41] jeremymeng commented on #22687
@Lazzaretti The expected type of `fromSequenceNumber` property is `Long`.  Assuming you are using JavaScript? You can do the following

[code]

If TypeScript is used, it would have helped by showing an type mismatch

![image](https://user-images.githubusercontent.com/7583839/180840237-d0fb5021-c6ca-4cd7-8c39-3d67729fb8a6.png)

There's also a bug where we should have reported an error when the valu

[2022-07-25 17:55] azure-sdk opened #22698 "Dependency package @typescript-eslint/eslint-plugin has a new version available"
We have identified a dependency on version 5.30.7 of @typescript-eslint/eslint-plugin. A new version (5.31.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for

[2022-07-25 17:55] azure-sdk opened #22699 "Dependency package @typescript-eslint/experimental-utils has a new version available"
We have identified a dependency on version 5.57.1 of [@typescript-eslint/experimental-utils](https://www.npmjs.com/package/@typescript-eslint/experimental-utils). A new version (5.62.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all pack

[2022-07-25 17:55] azure-sdk commented on #22698
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.27997243,Service Bus:0.26287484,Azure.Identity:0.03979683'

[2022-07-25 17:55] azure-sdk opened #22700 "Dependency package @typescript-eslint/parser has a new version available"
We have identified a dependency on version 5.30.7 of @typescript-eslint/parser. A new version (5.31.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each s

[2022-07-25 17:55] azure-sdk commented on #22699
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.30658433,Service Bus:0.17879307,EngSys:0.0497486'

[2022-07-25 17:56] azure-sdk opened #22701 "Dependency package @typescript-eslint/typescript-estree has a new version available"
We have identified a dependency on version 5.30.7 of @typescript-eslint/typescript-estree. A new version (5.31.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder

[2022-07-25 17:56] azure-sdk commented on #22700
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3230474,Service Bus:0.18756206,EngSys:0.045930713'

[2022-07-25 17:56] azure-sdk commented on #22701
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3751404,Service Bus:0.19223258,EngSys:0.036430296'

[2022-07-25 18:19] jeremymeng commented on #22687
PR https://github.com/Azure/azure-sdk-for-js/pull/22702

[2022-07-25 20:44] timovv opened #22705 "[KeyVault] Publish `keyvault-common` as a package"
keyvault-common has burned us a few times, most recently with Jonathan's migration of Key Vault to Core v2. Currently, making a change to keyvault-common means making a change to all Key Vault packages at once. Publishing and versioning keyvault-common would give us greater control over the common code and allow us to make incremental changes without affecting all three KV packages at once.

[Gist

[2022-07-25 22:08] KarishmaGhiya commented on #22608
@abhisarswami Is this the same issue you are facing? https://github.com/Azure/azure-sdk-for-js/issues/21778

[2022-07-26 06:33] guy-microsoft commented on #22441
The application is able to authenticate and get a token back after the second request.
Looking into the aad-pod-identity-nmi pod logs, I see the following error regarding the 400 response code:
[code]

Is it the normal behavior since we create the credential using this command?
`const credential: DefaultAzureCredential = new DefaultAzureCredential();`

[2022-07-26 06:54] bishal-pdMSFT commented on #22321
@EmmaZhu bumping this up as this is increasingly affecting more and more customers. The worse part here is that the download gets stuck forever and hence the GitHub Actions workflow run gets stuck. Since the run minutes are billed, it is causing a lot of concern.

There are two issues in play here:
1. The download gets stuck - the repro steps and SDK logs have been provided already but please let

[2022-07-26 06:57] Lazzaretti commented on #22687
@jeremymeng Thanks! Using `Long` works!

[2022-07-26 06:58] #22687 closed

[2022-07-26 07:27] v-jiaodi opened #22707 "[Form Recognizer] [API Key] analysis (Node) vaccinationCard jpg file stream failing in nightly runs"
Form Recognizer nightly test runs are failing with:

    at [fromDocument] (D:\a\_work\1\s\sdk\formrecognizer\ai-form-recognizer\dist-esm\src\prebuilt\models.js:19:445)
    at D:\a\_work\1\s\sdk\formrecognizer\ai-form-recognizer\src\lro\analysis.ts:210:36
    at Array.map (<anonymous>)
    at toAnalyzeResultFromGenerated (D:\a\_work\1\s\sdk\formrecognizer\ai-form-recognizer\src\lro\analysis.ts:210

[2022-07-26 07:28] v-jiaodi opened #22708 "[Communication - Chat] syncUploadFromURL large content with timeout failing in nightly runs"
Communication - Chat nightly test runs are failing with:

  "CommunicationError": {
    "Code": "NotFound",
    "Details": []
  }
}
    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:251:17)
    at deserializeResponseBody (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:159:43)
    at processTicksAndRejections (node:internal/process/task_q

[2022-07-26 07:30] v-jiaodi opened #22709 "[Key Vault - Administration] Deploy test resources failing in nightly runs"
Key Vault - Administration nightly test runs are failing with:

VERBOSE: Logging out of service principal '***'
VERBOSE: Performing the operation "New-TestResources.ps1" on target "***".
Write-Error: /mnt/vss/_work/1/s/eng/common/TestResources/New-TestResources.ps1:755
Line |
 755 |              &$postDeploymentScript -ResourceGroupName $ResourceGroupN …
     |              ~~~~~~~~~~~~~~~~~~~~~~~

[2022-07-26 07:32] v-jiaodi opened #22710 "[Key Vault - Keys] Remove test resources failing in nightly runs"
Key Vault - Keys nightly test runs are failing with:

VERBOSE: Running registered exit actions.
VERBOSE: Logging out of service principal '***'
Remove-AzResourceGroup : The request was canceled due to the configured HttpClient.Timeout of 100 seconds elapsing.
At D:\a\_work\1\s\eng\common\TestResources\Remove-TestResources.ps1:248 char:5
     Remove-AzResourceGroup -Name "$ResourceGroupName" -Force

[2022-07-26 07:37] v-jiaodi opened #22711 "[Service Bus] Sender Tests PartitionedQueueWithSessions: Schedule multiple messages failing in nightly runs"
Service Bus nightly test runs are failing with:

    at translateServiceBusError (D:\a\_work\1\s\sdk\servicebus\service-bus\src\serviceBusError.ts:86:63)
    at MessageSession._init (D:\a\_work\1\s\sdk\servicebus\service-bus\dist-esm\src\session\messageSession.js:39:282)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at Function.creat

[2022-07-26 08:01] EmmaZhu commented on #22402
@adedayotoheeb

Thanks a lot for reporting this to us. We'll update the document.

Thanks
Emma

[2022-07-26 09:09] EmmaZhu commented on #22321
Hi @bishal-pdMSFT ,

The stuck can have several causes. For now, I can repro a stuck with unplugging network cable from my local machine. For a downloading, the SDK will split it into small pieces and send out a downloading request for each piece parallel. We'll need to set a timeout for each request to download the small chunks.  I'll make a fix ASAP.

Thanks
Emma

[2022-07-26 14:37] jeffyou543 commented on #22668
Issue has now been resolved by the following merged PR: https://github.com/Azure/azure-sdk-for-js/pull/22703

[2022-07-26 15:09] abhisarswami commented on #22608
@KarishmaGhiya Looks like similar issue.

[2022-07-26 21:18] KarishmaGhiya commented on #22441
On the 2nd request, in the aad-pod-identity-nmi-logs, was it able find the client id / resource id?

[2022-07-26 21:28] jeremymeng commented on #22451
@guy-microsoft if you need to use different `StoragePipelineOptions` it means you need different request pipeline, no?

[2022-07-26 21:30] KarishmaGhiya commented on #22607
We have the "Configuration Settings" in our Troubleshooting guides. https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/TROUBLESHOOTING.md#troubleshoot-managed-identity-authentication-issues Do you think we should still add them to readme?

[2022-07-26 22:55] #18003 closed

[2022-07-27 01:20] v-xuto commented on #22668
@jeffyou543 Thanks for your contribution to this issue. We did not reply to you in time as we are also still investigating.

[2022-07-27 01:35] EmmaZhu commented on #21341
Seems your scenario would need JS to be able to recognize a URL with port as ip style? Will work with .Net about this.

Thanks
Emma

[2022-07-27 06:09] guy-microsoft commented on #22441
From the following log, I guess it did:
`matched identityType:0 clientid:7########`

[2022-07-27 06:12] guy-microsoft commented on #22451
I hadn't been aware of request pipelines until I encountered this issue. Maybe indeed different `StoragePipelineOptions` requires different request pipeline. But does it mean that different clients with different `StoragePipelineOptions` cannot share token cache? (because we share the request pipeline for sharing the cache, at least in the workaround)

[2022-07-27 07:39] qiaozha commented on #22709
@praveenkuttappan @xirzec I don't think this issue is related with mgmt plane, Can you check why the bot add mgmt label ? Thanks

[2022-07-27 07:40] qiaozha commented on #22710
@praveenkuttappan @xirzec the same issue here.

[2022-07-27 08:03] #22375 closed

[2022-07-27 08:03] #22373 closed

[2022-07-27 08:03] #22017 closed

[2022-07-27 12:31] Delapouite opened #22722 "Managed Identity - DefaultAzureCredential - RestError: [TokenExpired] Error validating token: 'S2S12086'"
- **Package Name**:
- `@azure/identity`
- **Package Version**:
-  `^2.0.0`
- **Operating system**:
-  Linux
- [x] **nodejs**
    - **version**:  16.x
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug*

[2022-07-27 13:54] MaryGao commented on #21101
@nturinski  we reproduced the errors in local and these two deletions are identified as client errors. We are working on the fixes and will let you know once ready!

Please notice this error is different from the `client.containerApps.listSecrets`.

[2022-07-27 16:41] xirzec commented on #22709
@jsquire the machine still needs some learning, I guess? 😄

[2022-07-27 16:41] xirzec commented on #22710
/cc @jsquire

[2022-07-27 16:49] jsquire commented on #22709
@qiaozha: The bot is AI-based and predicts the labels based on patterns; the goal is about 80% accuracy.   Mistakes like this are expected.   My best guess is that "Administration" probably has a good representation in terms for management packages.

@xirzec:  If we can ask the folks filing these to include the name of the package, that'd increase the accuracy.

[2022-07-27 17:32] #22670 closed

[2022-07-27 18:01] #21903 closed

[2022-07-27 18:05] raymonddavis opened #22726 "[Cosmos] GlobalEndpointManager never makes endpoints available after they are set unavailable"
- **Package Name**: "@azure/cosmos"
- **Package Version**: "^3.9.0"
- **Operating system**:
- [ ] **nodejs**
    - **version**: v16.13.0
- [ ] **typescript**
    - **version**: "^4.3.5"

**Describe the bug**
The GlobalEndpointManager will never make an endpoint location available after it has set the location to unavailable.

If an `ENOTFOUND` error is returned [here](https://github.com/Azure/azur

[2022-07-27 19:12] deyaaeldeen commented on #22701
The problem with the linter packages is that it could have breaking changes between minor versions, which could be annoying to fix in automatic rush update --full PRs. Perhaps we could relax this upgrade requirement for linter packages? it is not super important to stay on latest and they shouldn't cause security vulnerabilities AFAICT. /cc @jeremymeng @xirzec

[2022-07-27 19:16] jeremymeng commented on #22701
yeah, I am thinking about just parking these work items as lower priority and upgrade @typescript-eslint dependencies less frequently.

[2022-07-27 19:41] deyaaeldeen commented on #22681
@selvaganesh22 Thanks for reaching out! As you noticed, by default, a consumer will read all events in the partition(s) it subscribes to, and it doesn't matter if those events are being read by another consumer.

If you pass in a checkpoint store, the internal load-balancing mechanism will use it to keep track of which partition is subscribed to by which consumer. You can read more about the archi

[2022-07-27 20:25] jeremymeng commented on #22017
`ms-rest-js` is now in maintenance mode.  Depends on what features you are using, please have a look at @azure/core-rest-pipeline and @azure/core-client and let us know if you have any questions.

[2022-07-27 21:43] KarishmaGhiya commented on #22441
Which azure resource are you trying to access? If it is keyvault, then it does return 401 by design.

[2022-07-27 22:05] jeremymeng commented on #20027
Let us know if there's any other issues.

[2022-07-27 22:05] #20027 closed

[2022-07-27 23:17] jeremymeng commented on #22697
Fixed by PR #22704

[2022-07-27 23:17] #22697 closed

[2022-07-28 00:50] jeremymeng commented on #22188
@GeorgeCodeHub sorry for the delay.  I've done some research and it looks that project created from `create-react-app` has all their config files hidden.  In order to customize webpack you would need to
- `npm run eject` then edit files under configs/.  However, this is irreversible thus not really recommended.
- There's a tool `react-app-rewired` that allow overriding configuration.  I was able t

[2022-07-28 04:16] GP4cK opened #22731 "How to handle "The specified block list is invalid"?"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.4.1
- **Operating system**: Docker image node:16.13.2-slim
- [x] **nodejs**
    - **version**: 16.13.2
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.5.4
- Is the bug related to **documentation** in
  - [x] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft

[2022-07-28 07:02] kazrael2119 opened #22732 "SDKs lack of samples"
Heres some SDKs lack of samples：
@azure/arm-avs_3.1.0: succeeded, no change **√**
@azure/arm-analysisservices_4.1.0: succeeded, no change **√**
@azure/arm-mediaservices_12.0.0: succeeded, no change **√**
@azure/arm-appinsights_5.0.0-beta.4: succeeded, no change
@azure/arm-deviceprovisioningservices_5.0.1: succeeded, no change**√**
@azure/arm-recoveryservices_5.0.1: succeeded, no change **√**
@azur

[2022-07-28 08:08] xboxeer commented on #21572
Close this one as this is document issue not JS SDK issue, new issue created in https://github.com/MicrosoftDocs/azure-dev-docs/issues/851

[2022-07-28 08:08] xboxeer commented on #21572
Close this one as this is document issue not JS SDK issue, new issue created in https://github.com/MicrosoftDocs/azure-dev-docs/issues/851

[2022-07-28 11:44] guy-microsoft commented on #22441
The resource is indeed keyvault, and we run on K8S with VMSS which has a user assigned identity.
Since the second request consistently returns 200 and the 400 has no real impact on us, I think the issue can be closed for now, and in case I will see that it causes any problem, I will reopen.

[2022-07-28 11:59] RazYahkovnia commented on #22115
Hi we sent new logs with verbose level

[2022-07-28 19:26] #22441 closed

[2022-07-28 19:59] #19239 closed

[2022-07-29 02:45] v-jiaodi opened #22741 "[Storage - File Datalake] DataLakePathClient DataLakeFileClient createIfNotExists with relative expiry failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/storage/storage-file-datalake/test/pathclient.spec.ts:308:12)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1740468&view=results

[2022-07-29 03:07] EmmaZhu commented on #22731
`getBlockList` returns an array of `Block` in which: `name` means id for the block, `size` is content length for the block.  The `commitBlockList` only requires block ids.  For your scenario, using `response.uncommittedBlocks.map(block => block.name)` to get out an array for block ids would works.
BTW, please check whether ``response.uncommittedBlocks` has a value before using it.

Thanks
Emma

[2022-07-29 03:14] EmmaZhu commented on #21341
Hi @ksstott ,

Could you share a code sample on how you'd invoke .Net SDK and JS SDK when you meet this issue on JS SDK?

The behavior in .Net and JS SDK are different. Although, technically `https://devstoreaccount1.blob.azurite.local:10001/` is not an IP style URL and the SDK should be able to get storage account from the host name,  we should get SDKs for different languages have a consistent b

[2022-07-29 05:56] tiwarishub commented on #22321
👋  @EmmaZhu, Any update for fix or if you can provide the timeline for the fix. We are constantly getting more issues related to this on actions/cache repo

[2022-07-29 05:59] EmmaZhu commented on #22321
@tiwarishub ,

We are planning to have a preview release in August and a GA release in September. Would it work for you?  Or does a daily build package work for you?

Thanks
Emma

[2022-07-29 06:03] kazrael2119 commented on #22325
Hi @edmundcong ,
We have fixed this issue and I regenerate this SDK now.
Here are the new monitor SDK:
[azure-arm-monitor-8.0.0-beta.2.zip](https://github.com/Azure/azure-sdk-for-js/files/9216641/azure-arm-monitor-8.0.0-beta.2.zip)
and PR: https://github.com/Azure/azure-sdk-for-js/pull/22739
You can verify that this SDK solves your issue.
Thanks

[2022-07-29 06:03] kazrael2119 commented on #22655
Hi @gazolt ,
We have fixed this issue and I regenerate this SDK now.
Here are the new monitor SDK:
[azure-arm-monitor-8.0.0-beta.2.zip](https://github.com/Azure/azure-sdk-for-js/files/9216641/azure-arm-monitor-8.0.0-beta.2.zip)
and PR: https://github.com/Azure/azure-sdk-for-js/pull/22739
You can verify that this SDK solves your issue.
Thanks

[2022-07-29 06:16] bishal-pdMSFT commented on #22321
@EmmaZhu this would qualify for a hot-patch. Can we take that route? We need a quick resolution.

[2022-07-29 06:18] shashankkr opened #22744 "[cosmos] Invalid Continuation Token"
Hi! I have few items in a container with this structure
[code]

To get all the users across all the items, I am running the below query
[code]

This gives me the first 100 items out of 500 with the following response headers
[code]

The next time I make a query like this:
[code]

I get the below error:
[code]

I am trying to create a restful api and I want my user to call the REST operation by pas

[2022-07-29 07:25] GP4cK commented on #22731
Thanks Emma!

[2022-07-29 07:25] #22731 closed

[2022-07-29 07:34] kazrael2119 commented on #22732
![image](https://user-images.githubusercontent.com/98569699/181708460-37b5c6c9-23e3-478b-9db1-bb0cf6853d46.png)
https://github.com/Azure/autorest.typescript/blob/db84676cdb03dcc0ee494633aec19e9103d8612b/packages/autorest.typescript/src/transforms/samplesTransforms.ts#L164

[2022-07-29 08:06] kazrael2119 commented on #22325
Hi @edmundcong ，
You can use this public released SDK to  verify whether this SDK solves your issue.
Here is the link: https://www.npmjs.com/package/@azure/arm-monitor/v/8.0.0-beta.2.

[2022-07-29 08:06] kazrael2119 commented on #22655
Hi @gazolt ,
You can use this public released SDK to  verify whether this SDK solves your issue.
Here is the link: https://www.npmjs.com/package/@azure/arm-monitor/v/8.0.0-beta.2.

[2022-07-29 08:28] paulius-valiunas opened #22747 "Browser-friendly CJS exports in `@azure/storage-blob`"
**Is your feature request related to a problem? Please describe.**
Currently `@azure/storage-blob` has Node.js-specific CJS exports, and both browser-friendly and Node.js-specific ESM exports. Due to compatibility requirements we're unable to use ESM modules in our frontend code, we have to use CJS in our Typescript config and then use Webpack to bundle the CJS output.

**Describe the solution you

[2022-07-29 09:02] kazrael2119 commented on #22732
recoveryservices is released 4 days ago

[2022-07-29 09:39] zzhxiaofeng opened #22749 "Azure Purview Catalog Rest Sample Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/purview/purview-catalog-rest/samples/v1/javascript/typedefs.js#L10)
![GetImage (26)](https://user-images.githubusercontent.com/20970631/181728524-ad1c9a64-c241-4fe0-a41f-d943247f7f37.png)
Reason:
The function `createClient` exports by `export default` is not  imported by `require`

Suggestion:
Update the code as following:
[

[2022-07-29 09:39] zzhxiaofeng opened #22750 "Azure Form Recognizer Sample Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/javascript/getInfo.js#L24), [link2](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/javascript/getInfo.js#L24)
![image](https://user-images.githubusercontent.com/20970631/181731618-50ab85b8-c6df-42c6-b822-f29ac00cbf3a

[2022-07-29 09:40] azure-sdk commented on #22749
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.14575885,Storage:0.1033114,Purview:0.07926952'

[2022-07-29 10:04] #22624 closed

[2022-07-29 10:59] sinedied opened #22751 "[Bug] Service principal login with EnvironmentCredential or ClientSecretCredential not working"
- **Package Name**: @azure/identity
- **Package Version**: 2.1.0
- **Operating system**: MacOS 12.4
- [x] **nodejs**
    - **version**: 16.14.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

Whe

[2022-07-29 11:37] sinedied opened #22752 "[Bug] InteractiveBrowserCredential not failing in non-interactive environments"
- **Package Name**: @azure/identity
- **Package Version**: 2.1.0
- **Operating system**: MacOS 12.4
- [x] **nodejs**
    - **version**: 16.14.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When

[2022-07-29 15:28] subhod-i commented on #22172
@jeremymeng Any updates on this?

[2022-07-29 18:14] tyler-dunkel opened #22754 "Type `OperationsManagementModels.SolutionProperties` is incorrect"
- **@azure/arm-operations**:
- **3.0**:
- **OSX**:
- [x ] **nodejs**
    - **17**:
- [n/a ] **browser**
    - **name/version**:
- [X ] **typescript**
    - **4.3.5**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ x] source code documentation
  - [ x] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The TS type `OperationsManagementModels.SolutionProperties` i

[2022-07-29 18:15] azure-sdk commented on #22754
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.1563961,Cosmos:0.045064796,Search:0.042672012'

[2022-07-29 19:05] xirzec commented on #22747
@paulius-valiunas What bundler are you using that doesn't support ESM? Right now we're using rollup to bundle for CJS+Node, but I don't quite understand bundling to CJS just to re-bundle again for the browser.

[2022-07-29 19:21] xirzec commented on #22752
@sinedied I'm trying to understand your scenario, is the idea that this code needs to run both in the browser for customers (using InteractiveBrowserCredential) but also in CI? Can I ask how you are configuring `ChainedTokenCredential`?

As a possible workaround, would it be possible for you to switch with credential you use based on the current environment?

Perhaps the fix could be allowing deve

[2022-07-29 20:04] xirzec commented on #22172
@mpodwysocki this is related to the investigation you are doing for native Node module support

[2022-07-29 20:05] mpodwysocki commented on #22172
@xirzec correct, we could fix this with the exports and ESM modules

[2022-07-29 20:43] jeremymeng commented on #22747
@paulius-valiunas or did you mean that you can only use `require()` in your code?

[2022-07-29 21:56] billwert opened #22759 "Update VisualStudioCodeCredential exception text"
For Copper we are updating the exception text for VisualStudioCodeCredential to point to the troubleshooting guide which explains it is broken with the current workaround. Please ensure the exception includes a link to this TSG:

https://aka.ms/azsdk/js/identity/troubleshoot#troubleshoot-visual-studio-code-authentication-issues

[2022-07-29 22:26] KarishmaGhiya commented on #22751
@sinedied
- I tried the repro steps provided, but it gets stuck with the `az ad command`

[code]
Output -
[code]

And then the terminal is just stuck.

- Can you create the service principal using the Azure Portal? That is working for me.

[2022-07-29 22:52] KarishmaGhiya commented on #22722
This seems a little strange, do you notice the same issue using the latest version of @azure/identity 2.1.0?

[2022-07-29 23:34] KarishmaGhiya commented on #22487
@VRabadan For using any of the TokenCredentials, you need a service principal (an App registration). The tenant id and client id is always required for these. For Azure Cli though the default client id is -  `04b07795-8ddb-461a-bbee-02f9e1bf7b46` (Microsoft Azure CLI) and we don't need to specify it.

But in your app registration, you do need to give permissions to that client id.
On the Azure Por

[2022-07-30 07:09] yinfangchen opened #22761 "Typo for the error code "IncrementalCopyOfEarlierVersionSnapshotNotAllowed""
**Describe the bug**
I think the error code "IncrementalCopyOf**Eralier**VersionSnapshotNotAllowed" here has a typo right? It should be "IncrementalCopyOf**Earlier**VersionSnapshotNotAllowed".

https://github.com/Azure/azure-sdk-for-js/blob/1806332f87efb42d6ae80d8ed71a0c03f1dacf23/sdk/storage/storage-blob/src/generated/src/models/index.ts#L2472

If the user uses it to parse the error code, they wi

[2022-07-30 08:03] #22300 closed

[2022-07-30 19:36] dfberry opened #22762 "Question: Blob Storage - documentation is inaccurate"
![image](https://user-images.githubusercontent.com/1517008/181959234-3c6f5c32-2dba-46f5-a7eb-2e9c4a18a60c.png)

The blockblob operation, query, provides a code example. The query provided, "select * from BlobStorage", using the `BlobStorage` term in the query implies that the query runs against all of storage because the term `BlobStorage` is used in the documentation to imply the Blob Storage ser

[2022-07-31 01:42] EmmaZhu commented on #22600
Rerun passed.

[2022-07-31 01:42] #22600 closed

[2022-07-31 11:40] itamarazulay-wiz commented on #22325
@kazrael2119 is there any update for Azure SDK for Go ? what version should we use ?

[2022-08-01 02:21] kazrael2119 commented on #22732
Can't generate samples in powerbiembedded ,because it doesn't have examples in swagger

[2022-08-01 05:44] kazrael2119 commented on #22732
machinelearningcompute already has samples

[2022-08-01 06:03] kazrael2119 commented on #22732
Can't generate samples in commitmentplans ,because it doesn't have examples in swagger

[2022-08-01 06:12] kazrael2119 commented on #22732
Can't generate samples in links ,because it doesn't have examples in swagger

[2022-08-01 06:27] kazrael2119 commented on #22732
customerinsights error
![image](https://user-images.githubusercontent.com/98569699/182085226-364b0966-183c-45df-a81b-2bfb7d790ebd.png)
https://github.com/Azure/autorest.typescript/blob/db84676cdb03dcc0ee494633aec19e9103d8612b/packages/autorest.typescript/src/transforms/samplesTransforms.ts#L164
https://github.com/Azure/azure-rest-api-specs/blob/e4400c42d2adf0545578414a1b07d2bdca61bfe8/specificatio

[2022-08-01 06:35] jcocchi opened #22765 "Cosmos DB maxIntegratedCacheStalenessInMs should handle 0 as input"
- **Package Name**: azure/cosmos
- **Package Version**: 3.26.0
- **Operating system**: Windows 11
- [x] **nodejs**
    - **version**: 14.17.1
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Setting `maxIntegratedCacheStalenessInMs` doesn't set the staleness to 0 and instead it

[2022-08-01 06:53] Delapouite commented on #22722
Hi.

After a bit more investigation, the problem appeared because our dependency on `@azure/identity` was a bit loose semver-wise.
Meaning that everything was fine with version `2.0.5` and problem started to appear when `2.1.0` was released.

My understanding after looking at the log message is that the library is working well with a token returned from an endpoint using the `2017` API but somethi

[2022-08-01 08:07] qiaozha commented on #22325
@tadelesh Can you help answer the above question for Go SDK ?

[2022-08-01 08:20] tadelesh commented on #22325
@itamarazulay-wiz Regarding it is not easy for customer to upgrade to a new major version in Go, and there is another breaking change on the way for monitor, we will hold Go release until next service release request. If you have any further concern, feel free to open an issue in Go SDK repo.

[2022-08-01 08:23] itamarazulay-wiz commented on #22325
@tadelesh so how should we override the API version in GO ? just fork the relevant classes of diagnostics ?

[2022-08-01 08:41] qiaozha commented on #22749
I think this sample is autogenerated samples-dev folder and by design, @joheredi  Could you help confirm ? Thanks

[2022-08-01 09:06] tadelesh commented on #22325
Unfortunately, we do not give an easy way to set api-version in Go SDK. Besides changing the source code directly, you could accomplish it by add a special policy to the diagnostics client. Something like the following:

[code]

[2022-08-01 09:24] kazrael2119 commented on #22732
apimanagement error
![image](https://user-images.githubusercontent.com/98569699/182117063-4a008d74-2c32-43eb-b2c8-660571d96dc4.png)
https://github.com/Azure/autorest.typescript/blob/db84676cdb03dcc0ee494633aec19e9103d8612b/packages/autorest.typescript/src/transforms/samplesTransforms.ts#L164
https://github.com/Azure/azure-rest-api-specs/blob/54c64d870b60a2498de3dc7fee58f6344d3c3006/specification/a

[2022-08-01 10:47] paulius-valiunas commented on #22747
yes, we're using a tsconfig that transpiles any `import` into `require`.

We don't "bundle" to CJS, but we compile the Typescript code first, which converts everything to CJS. Then we use Webpack to bundle the compiled Javascript. The problem is that Webpack picks up the CJS exports, at least with our config.

[2022-08-01 15:34] ssidnal commented on #22620
Is there any workaround on this issue? It is effecting us on many environemnts including production.

[2022-08-01 19:08] KarishmaGhiya commented on #22608
The docker container may support the token caching persistence but may not have libsecret already installed. You may either install libsecret in the container or to configure the application so that when it's running in the container, it doesn't use persistence. Let me know if that works for you @abhisarswami

[2022-08-01 19:11] jeremymeng commented on #22761
This is derived from the swagger spec and currently exists in all languages.  I don't know whether the actual error code from service has the typo or not.

[2022-08-01 19:15] abhisarswami commented on #22608
@KarishmaGhiya I did try to install libsecret in container as below. Is there anything else you want me to do.
RUN apt-get update -y
RUN apt-get install libsecret-1-dev -y
RUN npm install keytar

[2022-08-01 20:47] KarishmaGhiya opened #22770 "[Identity] Redis samples - Update the scope once Azure redis is public"
We need to update the scope in the samples code for node-redis and io-redis that we have fixed for private preview once Azure Redis service is public. - https://github.com/Azure/azure-sdk-for-js/pull/22164#discussion_r934886155 and https://github.com/Azure/azure-sdk-for-js/pull/22164#discussion_r934887393

[2022-08-01 20:49] KarishmaGhiya commented on #22608
@abhisarswami After installing the library, does it work?

[2022-08-01 20:52] azure-sdk commented on #22770
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.19254147,Redis Cache:0.17604834,Docs:0.06160163'

[2022-08-01 20:52] azure-sdk commented on #22770
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.19254147,Redis Cache:0.17604834,Docs:0.06160163'

[2022-08-01 21:14] jay-most commented on #22620
there is no workaround. The ADD token refresh feature is not implemented in NODEJS SDK. You will have to manually refresh.

[2022-08-01 21:57] xirzec commented on #22747
Oh I think I see the trouble, webpack likely isn't pulling in the `browser` mappings from `package.json` if it's just resolving `main` and getting the node-flavored files that are bundled with our CJS rollup build.

Can you share some excerpts about how you are configuring Webpack (or for bonus cookies, provide a small GitHub example repo)?

[2022-08-01 22:03] abhisarswami commented on #22608
@KarishmaGhiya Its is mentioned in the initial description of the issue that I tried it but still it gives the same error.

[2022-08-02 01:33] KarishmaGhiya commented on #22608
Are you facing the same issues with the latest version of the @azure/identity 2.1.0 library?

[2022-08-02 02:22] qiaozha commented on #22754
This is because their rest api spec is defined this way https://github.com/Azure/azure-rest-api-specs/blob/main/specification/operationsmanagement/resource-manager/Microsoft.OperationsManagement/preview/2015-11-01-preview/OperationsManagement.json#L734-L767 and SDK is generated from their swagger, reaching out to the service team.

[2022-08-02 03:10] EmmaZhu commented on #22762
Thanks a lot for reporting this error to us.

Yes, the query should be in the block blob content.  We should update the document accordingly.

Thanks
Emma

[2022-08-02 03:20] EmmaZhu commented on #22761
Server side also has the same value. As the fix would break customer relying on this error code, I don't think server side would want to fix this typo.  Anyway, I'll report this to server side.

Thanks
Emma

[2022-08-02 05:46] EmmaZhu commented on #22321
@bishal-pdMSFT , we don't have the plan to release a hotfix for it.

[2022-08-02 06:14] v-jiaodi opened #22774 "[Communication - Phone Numbers] PhoneNumbersClient - get phone number [AAD] errors if phone number not found failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/communication/communication-phone-numbers/test/public/get.spec.ts:41:16)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1749306&view=results

[2022-08-02 06:14] v-jiaodi opened #22775 "[Service Bus] Deploy test resources failing in nightly runs"
Service Bus nightly test runs are failing with:

Status Message: The requested resource SasAccessKey does not exist. (Code:DeploymentOperationFailed)
CorrelationId: ab3fed89-7503-4a2b-b63d-eea868c95b2b"
At D:\a\_work\1\s\eng\common\TestResources\New-TestResources.ps1:725 char:23
         $deployment = Retry {
[code]

[2022-08-02 06:48] kazrael2119 commented on #22732
deviceprovisioningservices_5.0.1 already has samples

[2022-08-02 08:04] #21168 closed

[2022-08-02 08:15] paulius-valiunas commented on #22747
@xirzec yup that sounds right. Our webpack config isn't all that bloated, so I guess this can act as an example repo:
https://github.com/iTwin/itwinjs-core/blob/master/full-stack-tests/core/webpack.config.js#L39
The code calling `@azure/storage-blob` is in another repo and it's not very straightforward to find how it's used, but I guess it doesn't matter too much because the webpack config will pi

[2022-08-02 09:37] kazrael2119 commented on #22732
By deleting redundant properties in swagger, samples can be generated.

[2022-08-02 09:39] dhensby commented on #22722
I'm experiencing this problem and it appears that it started after upgrading from 2.0.5 -> 2.1.0. I'm yet to downgrade my package to verify the problem, but I will attempt to do that and report back.

[2022-08-02 09:47] gluwer commented on #22156
Hi,

I have similar issue with version 13.1.2. The problem is within odata handling. My current workaround:

[code]

The odata only checks for strings, but it should also check if Date object was passed and properly add `datetime` plus convert it to iso value. When this will be added above workaround won't be needed.

[2022-08-02 13:26] pvpetrac commented on #22620
Can you please :pray: :pray: post some example? If I start diggin in, I'll have to invest time into it.
I haven't found the way to access token from CosmosClient object. Maybe ManagedIdentityCredential should handle it? By documentation GetToken method is getting  a new token, but how to reach existing one?

I appreciate your time @jay-most
I hope you'll have the understanding for my client budget

[2022-08-02 18:10] jeremymeng commented on #22747
@paulius-valiunas we used to provide browser bundle for @azure/storage-blob in v10.  One of the main reasons why we stop publishing it is because it makes sharing dependencies hard if not impossible when multiple azure sdk packages are used together.  Since bundle size is mostly a browser concern, we decided to provide ESM files and let bundlers do their job.

[2022-08-02 23:29] mpodwysocki commented on #21677
Can also be used on a PEM without password such as the following code.  This will strip out everything and keep only the PRIVATE KEY section.  Currently, the calls to MSAL add the complete certificate information with bag properties, however with the following code, it will strip it out.

[code]

[2022-08-02 23:35] mpodwysocki commented on #22053
Closed via #22782

[2022-08-02 23:35] #22053 closed

[2022-08-03 07:27] qiaozha commented on #22325
@edmundcong @itamarazulay-wiz I will close this issue now as the JS SDK issue should have been resolved . Feel free to open a new issue in Go SDK repo if you still want to discuss this. Thanks

[2022-08-03 07:27] #22325 closed

[2022-08-03 07:28] qiaozha commented on #22655
close this issue as it should have been addressed with latest release. @gazolt feel free to reopen it if you still found it not working. Thanks

[2022-08-03 07:28] #22655 closed

[2022-08-03 07:32] qiaozha commented on #22351
@josefree  Hi Could you help take a look at this issue? their swagger readme includes some older api versions even if they have newer api version? Also, they have a swagger correctness issue in their newer api version as I mentioned above. Thanks

[2022-08-03 07:45] qiaozha commented on #22749
@willmtemple Can you also help take a look at this issue ? if the sample publish dev tool should improve ? Thanks

[2022-08-03 08:10] paulius-valiunas commented on #22747
well I'm not suggesting a browser "bundle" in this case, I'm just suggesting you could do the same thing that you did with ESM (exporting both index.js and index.browser.js, same for other files), but with CJS. It wouldn't have to be bundled into one file, just a variant that uses CJS-style imports/exports. That wouldn't change anything about the "main" and "module" fields or the way dependencies

[2022-08-03 13:49] timtucker-dte opened #22789 "Cosmos ErrorResponse code typing should be number or string"
- **Package Name**:

@azure/cosmos

- **Package Version**:

3.16.3

- **Operating system**:
- [x] **nodejs**
- [X] **typescript**

**Describe the bug**
A clear and concise description of what the bug is.

Cosmos SDK is returning string values like ETIMEDOUT for ErrorResponse.code in addition to numbers, but the type in the interface is only set to number.

Types should be updated to indicate that

[2022-08-03 14:32] scottaddie commented on #21196
After reviewing with the arch board, a decision was made to not make this change. As a workaround, the Draft service team can run a contains operation on the user agent string to identify the caller. This workaround has been communicated to Dan Hadari.

[2022-08-03 14:32] #21196 closed

[2022-08-03 14:37] ssidnal commented on #22620
@jay-most  We have been using cosmos connection using System Managed Identity `new CosmosClient({endpoint, aadCredentials: new DefaultAzureCredential()})` from last 5 months in all our environments.
Never seen this issue, If refresh was not implemented how was this working all these days and started breaking now in the last 2 weeks? I feel something is not right here.

[2022-08-03 15:18] sajeetharan commented on #22620
@ssidnal @pvpetrac We'll prioritise this. Can you provide a sample with your code that would help

[2022-08-03 16:39] azure-sdk commented on #22790
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.5088483,App Services:0.06142631,Azure.Core:0.037003655'

[2022-08-03 21:06] levimiller-qhrtech opened #22795 "Failed to create CallAgent"
- **@azure/communication-calling**:
- **1.5.4**:
- **Mac OS 12.4 Apple M1 Max**:
- [ ] **nodejs**
    - **version**:
- [ ] **Chrome**
    - **Version 103.0.5060.134 (Official Build) (arm64)**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug

[2022-08-03 21:06] azure-sdk commented on #22795
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.50544393,Azure.Identity:0.03577357,Cosmos:0.031830344'

[2022-08-03 21:17] jeremymeng commented on #22747
ah sorry I misunderstood. when I saw `rollups` I thought about bundled as we use `rollup` to bundle our libraries.

If I understand correctly, we would also have the build targeting CommonJS too, then have browsers mapping between NodeJS CJS files and browser CJS files?

[2022-08-03 21:51] patels-MS-SB commented on #22115
Sorry, but those logs was not related to this GitHub issue.
So, SDK team will wait for new logs and temporary on stand by status.

[2022-08-03 22:03] #22681 closed

[2022-08-03 22:16] #22189 closed

[2022-08-03 22:16] #22190 closed

[2022-08-03 22:16] #22191 closed

[2022-08-03 22:16] #22192 closed

[2022-08-03 22:41] levimiller-qhrtech commented on #22795
I reinstalled chrome and it worked after that, probably an issue with the version I had.

[2022-08-03 22:41] #22795 closed

[2022-08-04 00:31] HarshaNalluru opened #22800 "[Recorder] Throw error if the file path validation fails"
Example: If the relative recording path is not provided in karma conf, the folder in which the recordings would be generated will be `/undefined/`.

Instead, throw errors and navigate users to do the right thing from the error description.

[2022-08-04 00:31] azure-sdk commented on #22800
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.1774803,Azure.Core:0.15592274,Service Bus:0.06639808'

[2022-08-04 06:01] #22732 closed

[2022-08-04 08:10] paulius-valiunas commented on #22747
Yup, that is what I meant. In my particular use case, even adding a simple `"./dist/index.js": "./dist-esm/storage-blob/src/index.browser.js"` might work because webpack would just bundle everything anyway. I can't speak for other bundlers, though, because that would force them into using ESM for this package and there might be weird bugs because of conflicts between ESM and CJS.

[2022-08-04 14:27] ssidnal commented on #22620
Thanks, @sajeetharan  for confirming. We have been creating instances of the database like below,

[code]

[2022-08-04 15:08] Delapouite commented on #22620
@ssidnal Could it possibly be related to https://github.com/Azure/azure-sdk-for-js/issues/22722 ?

In other words, did you upgrade `@azure/identity` recently to `2.1.0`?

[2022-08-04 17:08] KarishmaGhiya commented on #22722
Can you enable the logs and provide it so that I understand what the error message is when it starts interacting with 2019 API? https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/identity/identity#logging

[2022-08-04 19:36] xirzec opened #22807 "[engsys] Release Pipeline check for prerelease package dependencies"
Today it's easy to accidentally GA an SDK that still has a runtime dependency on a pre-release package. It would be great if part of our release pipeline checks verified that direct dependencies of GA packages are also GA.

Example: For a package "@azure/foo" that depends on "@azure/bar": "1.0.0-beta.1", the release will be blocked unless "@azure/foo" is also using a pre-release version number.

[2022-08-04 20:38] mikeharder commented on #22807
@xirzec: Would you extend this to transitive dependencies?  I would, with an exception mechanism when needed.

[2022-08-04 22:06] joheredi opened #22811 "Farmbeats CI Failure"
Farmbeats CI is failing: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1758370&view=logs&s=6884a131-87da-5381-61f3-d7acc3b91d76&j=7e17f77e-2815-52ab-caf2-e231a45542b7

Need to migrate to the new recorder and re-record

[2022-08-04 22:43] ShivangiReja opened #22813 "[Search] Enable national cloud support for Azure Search SDK"
We need to enable multi cloud support in Azure Search SDK. Search service currently supports challenge based authentication,  however the support is not always guaranteed. Since challenge based response isn’t guaranteed, add configuration to allow the users to set the audience when using a cloud other than public cloud.

Please refer .NET implementation to see how to expose the audience:
https://g

[2022-08-05 02:05] ssidnal commented on #22620
Thanks @Delapouite. Yes we are using `2.1.0` version of `@azure/identity`. Let us verify by downgrading it to `2.0.5`. Thank you for the suggestion.

[2022-08-05 05:36] sajeetharan commented on #22620
@Delapouite  @ssidnal Looks like similar issue https://github.com/Azure/azure-sdk-for-js/issues/22722#issuecomment-1205536176 , we are checking on it and will provide an update soon!

[2022-08-05 07:22] AFengKK opened #22821 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=309927&view=results

@danieljurek for notification.

[2022-08-05 07:22] azure-sdk commented on #22821
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5975913,Azure.Core:0.19199824,Azure.Identity:0.024576101'

[2022-08-05 17:41] jeremymeng commented on #22172
@subhod-i I tested the scenario and PR #22804 appears to have addressed the issue.  Will continue working on getting it merged.

[2022-08-05 18:25] jeremymeng opened #22832 "[engsys] `rushx audit` failing"
because our dev dependencies dev-tool and eslint-plugin v3 haven't been published to npm.  One could work around by temporarily removing the two dev dependencies.

Some question:
- Should we remove the "audit" NPM script?  I am not sure who is running this nowadays, given that it is broken, and nobody complains.  We have Component Governance that reports security issues.

- If we want to keep it,

[2022-08-05 18:36] jeremymeng opened #22834 "[language-text] samples links should point to `samples/` folder after they are published"
Currently they point to `sampes-dev/` folder.

Related PR# https://github.com/Azure/azure-sdk-for-js/pull/22833

[2022-08-05 19:57] xirzec commented on #22807
Yeah, if it didn't generate too much noise. Maybe start with direct deps and then experiment with going deeper?

[2022-08-05 19:57] #20338 closed

[2022-08-05 20:58] xirzec commented on #22747
@paulius-valiunas Something I'm a little confused about is the default for `mainFields` is

[code]

To my inexpert eye it looks you're explicitly removing the mapping lookup for `browser` even though you are bundling for the web. Wouldn't this cause problems with other packages that rely on `browser` mappings?

[2022-08-05 21:26] jeremymeng opened #22837 "[dev-tool] quotes/double quotes around mocha glob argument are removed on Linux/MacOS"
I noticed that on Linux and MacOS, dev-tool removes quotes around option arguments, this leads to incorrect handling of Mocha globs and missing tests.

From Search-Documents internal live test pipeline:
On windows, the command has the single quotes

On Linux/MacOS, the single quotes around glob pattern are missing
Linux

MacOS

[Mocha recommends](https://mochajs.org/#the-test-directory)
![image](h

[2022-08-05 22:46] jeremymeng commented on #22837
Looks that `process.argv` already have the quotes removed

[2022-08-05 23:02] jeremymeng commented on #22837
Now I don't understand how the original  `nyc mocha ...` npm scripts can receive process argv with quotes...

[2022-08-05 23:14] jeremymeng commented on #22837
One theory: on *NIX, when using dev-tool, the files got shell expanded before passing to mocha.  When using nyc or nyc mocha in NPM script, the pattern is passed to mocha.

[2022-08-08 04:54] wilsonzlin opened #22840 "@azure/ai-form-recognizer type definitions do not match actual response data"
- **Package Name**: @azure/ai-form-recognizer
- **Package Version**: 4.0.0-beta.4
- **Operating system**: Linux
- [X] **nodejs**
    - **version**: 16
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 4.7
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2022-08-08 04:55] azure-sdk commented on #22840
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.22933961,Cognitive - Form Recognizer:0.12730777,Cognitive Services:0.064615086'

[2022-08-08 07:33] paulius-valiunas commented on #22747
I thought the default was `['module', 'main']` but maybe I was wrong. Either way, in my understanding the `browser` field has two completely different uses:
1. npm allows providing an entry point using this field: https://docs.npmjs.com/cli/v8/configuring-npm/package-json#browser
2. Webpack and other bundlers allow providing browser-specific overrides for specific files, which is the way you're us

[2022-08-08 07:35] kazrael2119 commented on #22072
Hi @turdigicode ,
We fixed this issue ,here is the new SDK:
[azure-arm-machinelearning-2.0.0.zip](https://github.com/Azure/azure-sdk-for-js/files/9279710/azure-arm-machinelearning-2.0.0.zip)

You can vertify whether the SDK resolve your issue in your local environment. If it is good for you, please tell me, because we will release this new SDK version : https://github.com/Azure/azure-sdk-for-js/pu

[2022-08-08 13:04] azure-sdk opened #22842 "Dependency package @types/inquirer has a new version available"
We have identified a dependency on version 8.2.2 of @types/inquirer. A new version (9.0.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package

[2022-08-08 13:04] azure-sdk opened #22843 "Dependency package @types/mime has a new version available"
We have identified a dependency on version 2.0.3 of @types/mime. A new version (3.0.1) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package (/sd

[2022-08-08 13:04] azure-sdk commented on #22842
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.36273944,Service Bus:0.15280256,Azure.Identity:0.044179644'

[2022-08-08 13:04] azure-sdk commented on #22843
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.34756213,Service Bus:0.14077246,EngSys:0.046907064'

[2022-08-08 16:28] sajeetharan commented on #22744
hey @shashankkr This feature is not supported yet https://github.com/Azure/azure-sdk-for-js/issues/4815. You can try this workaround if you are running your application with containers. https://github.com/Azure-Samples/Cosmosdb-query-sidecar

[2022-08-08 16:36] azure-sdk commented on #22840
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.22933961,Cognitive - Form Recognizer:0.12730777,Cognitive Services:0.064615086'

[2022-08-08 16:37] xirzec commented on #22840
@jsquire the package name is in the issue title and description this time, but the bot is still struggling to assign. Maybe a good issue to add to the training corpus?

[2022-08-08 17:26] diberry opened #22845 "@azure/core - how do I get a user's tenant?"
Which SDK would help me get a user's tenant, if I had the user's access token via easy auth?

@xirzec

[2022-08-08 17:26] azure-sdk commented on #22845
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.14730692,Storage:0.07840615,AppAuthentication:0.075076066'

[2022-08-08 18:10] jsquire commented on #22840
It's got the right labels on it to qualify for getting picked-up the next time we run training.

[2022-08-08 19:20] xirzec commented on #22845
@diberry so I can make sure I understand the scenario, you're using the built-in authentication with App Service and fishing out the AAD token for the user from a `X-MS-TOKEN-AAD-ACCESS-TOKEN` header or something else?

[2022-08-08 19:24] xirzec commented on #22845
Also curious what setting you picked for this section in your app registration:

<img width="409" alt="image" src="https://user-images.githubusercontent.com/639216/183497962-3ef440db-2146-4095-8de4-7f248de4e5ab.png">

[2022-08-08 19:29] diberry commented on #22845
@xirzec Yes - using the easy auth header. Generally I write docs using the current tenant, but I do have one doc that uses AD + personal Microsoft accounts. How would that change the work needed?

[2022-08-08 19:42] xirzec commented on #22845
From what I can glean from reading around:

https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant

It appears that most of what changes is the issuer (sometimes abbreviated `iss` in claims) is what tells you where the user came from and by convention you can get the tenant id if it's from an AAD account (`https://sts.windows.net/{tenantid}/`)

If you

[2022-08-08 19:43] xirzec commented on #22845
More reading: https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#payload-claims

So if the token is a JWT you should be able to unpack it and check the `iss` field

[2022-08-08 20:19] praveenkuttappan commented on #21094
This has been resolved by PR #21339

[2022-08-08 20:19] #21094 closed

[2022-08-08 20:22] praveenkuttappan opened #22846 "Add Node 18 to build matrix"
JS packages are not tested using node 18. We should test packages using node 18 instead of node 17 and add node 19 when it's available as additional matrix entry.

[2022-08-08 20:23] praveenkuttappan commented on #21800
This can be closed. We have resolved this issue.

[2022-08-08 20:23] #21800 closed

[2022-08-08 20:24] praveenkuttappan commented on #21765
fixed in https://github.com/Azure/azure-sdk-for-js/pull/22069

[2022-08-08 20:24] #21765 closed

[2022-08-08 20:24] #21786 closed

[2022-08-08 20:25] praveenkuttappan commented on #21636
This has already been completed.

[2022-08-08 20:25] #21636 closed

[2022-08-08 21:27] sima-zhu opened #22848 "Revisit suppression placeholder list"
Refer to the issue: https://github.com/Azure/azure-sdk-tools/issues/3885

[2022-08-08 22:25] diberry commented on #21572
@Kondamon What operating system were you running this tutorial on?

[2022-08-08 23:54] sharathmalladi opened #22849 "SDK for Personalizer cognitive service"
**Is your feature request related to a problem? Please describe.**
Add initial version of SDK for Personalizer cognitive service.

**Describe the solution you'd like**
Create the SDK for Personalizer.

**Describe alternatives you've considered**
No alternative. SDK for javascript is required.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-08-08 23:54] azure-sdk commented on #22849
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.10895948,Cognitive - Form Recognizer:0.09136208,Cognitive - Speech:0.08672955'

[2022-08-09 06:46] Kondamon commented on #21572
@diberry MacOS Monterey.

[2022-08-09 16:01] xirzec commented on #22849
@sharathmalladi Thanks for opening a tracking issue. Feel free to open a PR that leverages our quickstart and I can tag folks for feedback: https://github.com/Azure/azure-sdk-for-js/blob/main/documentation/RLC-quickstart.md

[2022-08-09 16:08] xirzec commented on #9528
@XiaoningLiu @EmmaZhu Is there more work to do here? I notice we have https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/storage/storage-blob/src/policies/StorageBearerTokenChallengeAuthenticationPolicy.ts

[2022-08-09 16:09] xirzec commented on #11202
@mpodwysocki did you run into this at all with NotificationHubs?

[2022-08-09 17:10] #21316 closed

[2022-08-09 18:53] witemple-msft commented on #22840
@wilsonzlin Thanks for reporting this. We transform the `number[]` into `Point2D[]` for convenience in the API, but due to some loose type constraints in one of our internal functions, we missed it specifically on `DocumentLine` objects.

We're scheduled to release a new beta: `4.0.0-beta.6` _today_ that should resolve this issue.

[2022-08-09 19:33] witemple-msft commented on #22608
@abhisarswami Even if libsecret is installed in the container, there may not be an available keychain. For example, on a typical linux desktop machine, if you don't have a keychain created and an application tries to invoke libsecret, you'll get an interactive popup asking you to create a new chain for the first time.

What the credential is doing in this case is expected. When `tokenCachePersiste

[2022-08-09 19:58] lmolkova opened #22858 "ACR: add troubleshooting guide"
Add troubleshooting guide for ACR.

Here's [Java TSG](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/containerregistry/azure-containers-containerregistry/TROUBLESHOOTING.md).

[2022-08-09 20:24] KarishmaGhiya commented on #22759
In JS our error messages do point to the TS guide.

[2022-08-09 20:24] #22759 closed

[2022-08-09 20:47] #22840 closed

[2022-08-09 23:22] diberry opened #22859 "Blob Storage reference docs - request SAS 1:1 with .NET"
Is it possible with the existing Blob Storage SDK v12 for JS to have an equivalent of this .NET code? I can't see it in the ref docs or the samples in this SDK repo.

.NET SDK code

[code]

This is the code I have with permissions as a string in JS but I would like to use something from the SDK without a string.

JS SDK code

[code]

[2022-08-10 02:24] danbridgellc opened #22864 "Send operations in NotificationHub fails with Maximum call stack size exceeded"
- **@azure/notification-hubs**:
- **Package Version**:
- **Windows 11**:
- [X] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I am trying to use the beta version of

[2022-08-10 02:24] azure-sdk commented on #22864
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Notification Hub:0.5372226,Event Hubs:0.064163685,Azure.Core:0.041337542'

[2022-08-10 07:25] qiaozha commented on #21638
close it as swagger lint rule has added. Thanks

[2022-08-10 07:25] #21638 closed

[2022-08-10 07:28] qiaozha commented on #22351
@xboxeer Can you help take a look at this issue ? Thanks

[2022-08-10 07:29] qiaozha commented on #22754
@xboxeer Can you help take a look at this issue ? Thanks

[2022-08-10 11:04] sajeetharan commented on #22744
Closing as the resolution is provided, feel free to open!

[2022-08-10 11:11] sajeetharan commented on #22789
@timtucker-dte can you provide a sample ErrorResponse?

[2022-08-10 16:15] xirzec commented on #22859
I'm not a storage expert, but it looks like the `generateAccountSasUrl` method on `BlobServiceClient` could make this a little simpler?

Also you should be able to do something like `AccountSASPermissions.from({read: true, list: true})` to make the permissions a bit more legible.

[2022-08-10 16:54] mpodwysocki commented on #22864
@danbridgellc What line does it fail on?  It's not obvious for example, what the payload looks like.

[2022-08-10 18:12] Toonshorty opened #22870 "TranslatorDetectResponse has incorrect definition"
The `TranslatorDetectResponse` type from `@azure/cognitiveservices-translatortext` currently has the following definition:

[code]

The actual response should include the following fields:

https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-detect

[code]

[2022-08-10 18:12] azure-sdk commented on #22870
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive Services:0.35998043,Cosmos:0.2543908,Cognitive - Translator:0.047575'

[2022-08-10 18:55] diberry commented on #21572
Hi @Kondamon, we can't repro the issue on M1 but we do have the xbuild autoconfig'd in the Docker desktop. Can you please check if you have that configured or what version of docker you are using?

[2022-08-10 19:45] Kondamon commented on #21572
Hi @diberry I was using Docker 4.7.0 (77141). Where did you enable the xbuild autoconfig in Docker?

[2022-08-10 23:28] diberry commented on #22859
@xirzec Can you tag an engineer that might be closer to SAS token generation on JS?

[2022-08-11 00:54] danbridgellc commented on #22864
I am sorry - it is on the send operation itself so the line:

`const result = await hub.sendNotification(tags, wnspayload, sendOptions);`

and the full payload value stored to wnspayload is:

`<toast><visual><binding template="ToastText01"><text id="1">test push notification from mongodb</text></binding></visual></toast>`

[2022-08-11 14:59] mpodwysocki commented on #22864
@danbridgellc You're missing a step in creating the message for WNS.  You need to use the `createWindowsToastNotification` to create a toast message to send to Notification Hubs such as the following code.  The `Notification` interface has a `body` which you set to your notification.  This also has such things as `headers` if you need to set the headers for any reason.  You're using a string here

[2022-08-11 15:24] praveenkuttappan opened #22874 "Create API reviews using generated code files: APIView sandboxing"
Convert API extracter api.json file to APIView code file by CI and PR pipeline and generate/compare API review diff using these generated code files instead of running APIView parser within APIView server.

[2022-08-11 15:39] abhisarswami commented on #22608
@witemple-msft thanks for your response.
The reason for using the cache is to optimize the performance. In case we if we do not use the caching option, can you please advice if the impact on performance would be significant and any other way we can mitigate it.

[2022-08-11 16:13] danbridgellc commented on #22864
@mpodwysocki Hey sorry i should have been more complete in my explanation...the code I shared was just the latest version I had attempted.  I thought I read that the notification could be raw JSON or XML so I tried that thinking it would be simplest form.  The fact is I had tried creating Apple and Windows notifications and tried sendNotification as well as sendBroadcast and all attempts resulted

[2022-08-11 16:17] danbridgellc commented on #22864
@mpodwysocki If I remark out the sendNotification line of code:

`const result = await hub.sendNotification(tags, notification, sendOptions);`

This is my result:

Sending for Tags: "zip:45065" - Payload: "test from mongodb"

{
  "$undefined": true
}

EJSON.parse('{"$undefined":true}')

[2022-08-11 16:44] xirzec commented on #22870
@sarangan12 is this one of the packages we were planning to release a track 2 version of?

[2022-08-11 17:51] pallavit opened #22876 "[ACR] Add troubleshooting guides for ACR SDK"
Please add troubleshooting guides for ACR SDK

Please use - https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/containerregistry/azure-containers-containerregistry/TROUBLESHOOTING.md as reference.

[2022-08-11 18:16] lmolkova commented on #22858
closing as dup of #22876

[2022-08-11 18:16] #22858 closed

[2022-08-11 18:58] xirzec commented on #22859
I think @EmmaZhu is the best point of contact for this.

[2022-08-11 19:01] sarangan12 commented on #22870
@xirzec

**Reference Links**

**Package Name** `@azure/cognitiveservices-translatortext`
**Source** https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/cognitiveservices/cognitiveservices-translatortext
**NPM** https://www.npmjs.com/package/@azure/cognitiveservices-translatortext
**Last Version Released** 1.0.1
**Last Released Date** 2 Years Ago

** Details **
1. First, I agree that the defini

[2022-08-11 19:05] swmachan commented on #22870
cc @krishna-doss-mohan

[2022-08-11 19:21] mpodwysocki commented on #22864
@danbridgellc I created a minimal repository with Notification Hubs here called [nhtest](https://github.com/mpodwysocki/nhtest) which does not have these Stack Overflow issues.  Let me know if you have any issues running this example

[2022-08-11 20:15] #22409 closed

[2022-08-11 23:47] MRayermannMSFT opened #22881 "Header deserialization should be case insensitive"
- **Package Name**: core-http
- **Package Version**: 2.2.5 and 2.2.6
- **Operating system**: all
- [X] **nodejs**
    - **version**: all
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: all
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

We are

[2022-08-11 23:48] azure-sdk commented on #22881
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.53638357,Storage:0.2408054,Cosmos:0.08460428'

[2022-08-12 01:43] EmmaZhu commented on #22859
Hi @diberry ,

The permission in JS is defined as a class instead of an enum type, parsing from a string to create a permission object is recommended.

Thanks
Emma

[2022-08-12 03:09] timtucker-dte commented on #22789
Did some more looking and it looks like I had a bad assumption that I would be getting back an ErrorResponse on error.

It looks like what I'm getting back is a RestError from the underlying @azure/core-rest-pipeline:

Stack:
[code]

Error object:
[code]

[2022-08-12 06:25] danbridgellc commented on #22864
@mpodwysocki Honestly I am not that experienced with Node.js / Javascript (I am .Net developer) so I attempted to load this project in VS Code and was not able to get it to run however I am sure it just because I am a novice with JS - I will continue to work on it.  However, I really need this to work within the Atlas Serverless functions as part of a MongoDB realm deployment.  If I am not able to

[2022-08-12 14:11] diberry commented on #22859
@EmmaZhu Are you saying my sample code at the top of this issus is the recommended? If not, can you please provide an example of "a string".

[2022-08-12 19:18] xirzec commented on #22881
@MRayermannMSFT I'd like to understand the need for a custom HttpClient a bit more, since we did work in 2.2.3 to enable returning the original casing via `rawHeaders()`: https://github.com/Azure/azure-sdk-for-js/blob/fdb65d1b84259ae1fe946cc573ab01939d00cc23/sdk/core/core-http/src/httpHeaders.ts#L177

See PR https://github.com/Azure/azure-sdk-for-js/pull/18561

[2022-08-12 19:44] #21734 closed

[2022-08-12 19:46] xirzec commented on #10616
@KarishmaGhiya I think this is a duplicate of your recent PR that uses `pako` ?

[2022-08-12 21:21] MRayermannMSFT commented on #22881
@xirzec great question. I think it's best answered by the change log from the PR:

That PR only had an effect on the **sending** side of things. For receiving, the default http client does not respect header casings. Ultimately the thing to blame for that is node fetch. So that's why, at least for header name casing respecting, we are using a custom HTTP client.

[2022-08-12 22:14] xirzec commented on #22881
@MRayermannMSFT it's all coming back to me now, dug up this old task: https://github.com/Azure/azure-sdk-for-js/issues/8117

I know @EmmaZhu is working on migrating to the new core which should solve this once and for all, but I understand that you would like to resolve this a bit sooner. I opened a PR to try out your proposed solution here, if you'd like to give it a look: https://github.com/Azur

[2022-08-12 23:46] richardpark-msft commented on #7616
Just assigning some people since this issue was orphaned with no owner.

[2022-08-13 00:27] MRayermannMSFT commented on #22881
@xirzec I tested it locally and it seems to work well/as expected.

[2022-08-13 01:21] KarishmaGhiya commented on #10616
seems like this is for monitor-opentelemetry exporter package. I am not familiar with that package. But seems like for their node gzipping they use zlib library too.

[2022-08-14 19:51] barneaoren opened #22890 "[KeyVault] listPropertiesOfSecretVersions failing from 2nd page"
I'm using @azure/keyvault-secrets version 4.5.0 with the following code
[code]

The above code is based on the sample from the official documentation and used to work with version 4.4.0.
After upgrading to version 4.5.0 I started seeing 404s on the 2nd page of this call.

Downgrading back to version 4.4.0 works well and inspecting the code showed that both calls seems to go to the same URL with th

[2022-08-15 09:02] EmmaZhu commented on #22859
@diberry Yes, we'd recommend to input the permission with code like: `permissions: AccountSASPermissions.parse("rwdlacupi")`

[2022-08-15 13:04] azure-sdk opened #22897 "Dependency package @types/long has a new version available"
We have identified a dependency on version 4.0.2 of @types/long. A new version (5.0.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package (/sd

[2022-08-15 13:05] azure-sdk commented on #22897
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3180939,Service Bus:0.16029331,KeyVault:0.07163238'

[2022-08-15 15:55] xirzec commented on #22881
Excellent! Since this is going into core, we usually try to avoid hotfixes to reduce risk. Are you good with us shipping this early September on our normal cycle?

[2022-08-15 15:57] MRayermannMSFT commented on #22881
@xirzec yes, early September is fine.

[2022-08-15 15:58] MRayermannMSFT commented on #22881
Would it be possible to publish a beta package though so we can start testing with the fix, help to/continue to look for any unseen side effects?

[2022-08-15 16:32] xirzec commented on #22881
Assuming CI is cooperative this should merge today and be out in a nightly alpha tomorrow. Would that work for you?

[2022-08-15 16:52] #22881 closed

[2022-08-15 17:59] timovv commented on #22890
Hi @barneaoren, thanks for the report! I have reproduced the issue and am investigating.

[2022-08-15 18:46] pkraj0 opened #22899 "@azure/event-hubs leaking memory"
- **@azure/event-hubs**:
- **5.8.0**:
- **windows and linux**:
- [ ] **nodejs**
    - **16.13.2**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
EventHubConsumerClient receiving packets from azu

[2022-08-15 20:28] #22890 closed

[2022-08-15 20:41] timovv commented on #22890
I have identified the issue and will be releasing a 4.5.1 with the fix later today. I've also fixed the gap in our test coverage that allowed this to slip through the cracks. Appreciate your patience, and apologies for the inconvenience.

[2022-08-15 22:45] xirzec commented on #22890
Just a quick note that I see this is already live:
<img width="289" alt="image" src="https://user-images.githubusercontent.com/639216/184733354-508ac9e3-eb46-4065-9a78-0072c3672cda.png">

@barneaoren please give the update a try and let us know if you are still having any issues.

Huge thank you to @timovv for the quick fix!

[2022-08-15 22:56] barneaoren commented on #22890
@xirzec - Just updated my code to pick up with v4.5.1 and was able to run it with no errors.
Thanks for the super quick turnaround @timovv

[2022-08-16 02:16] billwert opened #22904 "Tracking SSO Investigation"
`VisualStudioCodeCredential` will depend on a new authentication tool which replaces the Azure Account extension in Visual Studio Code. This tool is not yet built; more details to come.

[2022-08-16 02:18] billwert commented on #20500
This issue has been mitigated for Copper and will be resolved more fully in Zinc. #22904

[2022-08-16 02:18] #20500 closed

[2022-08-16 02:31] billwert commented on #21063
This was addressed in #22851. Exceptions already had good links to TSGs.

[2022-08-16 02:31] #21063 closed

[2022-08-16 06:34] kotewar commented on #22321
@EmmaZhu, is there update on this? Can you please share any tentative release dates with us for the same when we can expect it?

[2022-08-16 08:00] yahorsi commented on #5771
any news?

thank you

[2022-08-16 17:31] sarangan12 commented on #22813
Done

[2022-08-16 17:31] #22813 closed

[2022-08-16 19:25] abhisarswami commented on #22608
@witemple-msft Can you please help me with the caching options, apart from persistence options?

[2022-08-16 20:07] xirzec commented on #22881
@MRayermannMSFT looks like this actually made the nightly (which is really a daily) build yesterday. Give `@dev` or [2.2.7-alpha.20220815.2](https://www.npmjs.com/package/@azure/core-http/v/2.2.7-alpha.20220815.2) a try!

[2022-08-16 20:40] dhensby commented on #22722
This is still an issue

[2022-08-16 22:33] KarishmaGhiya commented on #22722
@dhensby Can you provide us with more logs so that we understand what the error message is when it starts interacting with 2019 API? https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/identity/identity#logging

[2022-08-16 22:40] dhensby commented on #22722
I don't have the capacity at the moment to run this in any of my environments with the bad release. I can confirm the problem is not present in 2.0.5 and it is present in 2.1.0.

Sorry I can't be of more help in the immediate term on this.

[2022-08-16 22:51] sharathmalladi opened #22908 "Personalizer SDK"
**Is your feature request related to a problem? Please describe.**
This is to enable support for Javascript SDK for Personalizer product.

**Describe the solution you'd like**
Rely on autorest to create the sdk for javascript.

**Describe alternatives you've considered**
No other alternatives considered.

**Additional context**
Link to the REST api spec: https://github.com/Azure/azure-rest-api-spe

[2022-08-16 22:51] azure-sdk commented on #22908
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.2875746,Cognitive - Form Recognizer:0.05902686,Azure.Core:0.033149615'

[2022-08-17 01:44] EmmaZhu commented on #22321
PR to for the fix is merge: https://github.com/Azure/azure-sdk-for-js/pull/22894
We are planning to have a preview release in this week.

[2022-08-17 06:37] AFengKK opened #22911 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=313152&view=results

@danieljurek for notification.

[2022-08-17 06:38] azure-sdk commented on #22911
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.48635656,Azure.Identity:0.089361206,Storage:0.039391227'

[2022-08-17 07:22] qiaozha commented on #22072
@MaryGao Can you finish the release and provide the new version here? Thanks

[2022-08-17 08:08] vtregner-cen29414 opened #22912 "Missing new CallClient methods in ts typings"
- **Package Name**: @azure/communication-calling
- **Package Version**: 1.6.2
- **Operating system**: win
- [ ] **nodejs**
    - **version**: 16.15.0
- [ ] **browser**
    - **name/version**: Chrome
- [ ] **typescript**
    - **version**: 4.5.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Desc

[2022-08-17 13:30] Jcodevisible opened #22914 "[Communication Calling][1.6.0-beta.1][CSS reported] - Screen Orientation on Android is Inconsistent"
**Package Name**:  https://www.npmjs.com/package/@azure/communication-calling/v/1.6.0-beta.1
**Package Version**: 1.6.0-beta.1
**Operating system**:] Android 10+

**ISSUE DESCRIPTION:**  Inconsistent Android phone screen orientation experience

We’ve noticed there is inconsistent Android phone experience as it relates to screen orientation while in an SDK session (azure-communications-calling vers

[2022-08-17 13:31] azure-sdk commented on #22914
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.501995,Automation:0.15485297,Service Bus:0.07925081'

[2022-08-17 13:32] Jcodevisible commented on #22914
I'm not sure how to link the ADO but here is the Work Item number - 2949249

[2022-08-17 16:00] mpodwysocki opened #22916 "[notification hubs] - Add telemetry header"
Add support for telemetry as noted in the [Azure SDK Telemetry Policy](https://azure.github.io/azure-sdk/general_azurecore.html#telemetry-policy) with adding the `X-MS-SDK-Telemetry` HTTP header.

[2022-08-17 16:02] mpodwysocki opened #22917 "[notification hubs] Add default user-agent support"
Add to the `User-Agent` HTTP header for information about Notification Hubs in the form of `azsdk-js-messaging-notificationhubs/${SDK_VERSION}`

[2022-08-17 16:04] mpodwysocki opened #22918 "[notification hubs] Remove core-amqp dependency"
Notification Hubs should remove `@azure/core-amqp` as very little of the library is used, and instead should inline the `SasTokenProvider` and connection string parsing.

[2022-08-17 16:07] mpodwysocki opened #22919 "[notification hubs] Fix CommonJS output"
Currently, the beta 1 release of Notification Hubs outputs the CommonJS to `/dist/index.js` which causes issues for Node to recognize that it is CJS.  We should rename `index.js` and `index.js.map` to `index.cjs` and `index.cjs.map` respectively.

[2022-08-17 16:07] azure-sdk commented on #22919
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Search:0.5737705,Storage:0.08855446,Notification Hub:0.06878889'

[2022-08-17 16:09] mpodwysocki opened #22920 "[notification hubs] Add recorded tests"
Currently, notification hubs only supports live integration tests.  We should support recorded tests to ensure that we can test the request/response without needing a Notification Hub.

[2022-08-17 16:10] mpodwysocki opened #22921 "[notification hubs] Add browser test support"
Currently browser unit and integration tests are not supported.  This is to get them working via karma or playwright.

[2022-08-17 19:45] azure-sdk commented on #22914
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.501995,Automation:0.15485297,Service Bus:0.07925081'

[2022-08-17 19:46] xirzec commented on #22914
@petrsvihlik can you help route this?

[2022-08-17 19:47] xirzec commented on #22914
/cc @anjulgarg too

[2022-08-17 21:45] anandkumarpatel opened #22927 "`ManagedIdentityCredential` hangs indefinity when using keyvault"
- **Package Name**:  @azure/keyvault-secrets
- **Package Version**:  2.1.0
- **Operating system**: MacOS M1
- [x] **nodejs**
    - **version**:  v16.16.0

**Describe the bug**
Using `ManagedIdentityCredential` with `@azure/keyvault-secrets` hangs when managed identity not available.
I want to use `DefaultAzureCredential` because my laptop uses `AzureCliCredential` and our cloud environments use `M

[2022-08-17 22:49] #22897 closed

[2022-08-17 22:49] #22843 closed

[2022-08-17 22:49] #22842 closed

[2022-08-18 06:48] petrsvihlik commented on #22914
redirecting to @fizampou and @akania

[2022-08-18 07:12] sharathmalladi commented on #22908
Duplicate of https://github.com/Azure/azure-sdk-for-js/issues/22849

[2022-08-18 07:12] #22908 closed

[2022-08-18 10:12] baybal opened #22936 "[event-hubs] Documentation refers to backpressure implementation sample, but it's missing"
- **Package Name**: @azure/event-hubs
- **Package Version**: 5.8.0
- **Operating system**: linux
- [x] **nodejs**
    - **version**: 18
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [x] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Backpressure

[2022-08-18 14:52] diberry opened #22937 "@azure/msal-node missing README.md"
- **Package Name**: @azure/msal-node
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The readme is missing from n

[2022-08-18 14:53] azure-sdk commented on #22937
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'EngSys:0.25159988,Storage:0.11310404,SQL:0.058010887'

[2022-08-18 17:47] sabharwal-garv commented on #20578
Hi @jeremymeng  This issue is not same as https://github.com/Azure/azure-sdk-for-net/issues/25381 and as per the document [large-messages-support](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-premium-messaging#large-messages-support) Batching is not supported for Large Messages and as per the sendMessage code https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/servi

[2022-08-18 18:17] HarshaNalluru commented on #22899
Thanks for reporting, @pkraj0, I'll look into it soon.

[2022-08-18 20:19] xirzec commented on #22927
/cc @timovv

[2022-08-18 20:22] xirzec commented on #22937
@diberry can you open an issue at https://github.com/AzureAD/microsoft-authentication-library-for-js/issues ? Since they're not part of the Azure org I can't transfer it and I want to make sure the right folks see it.

Can I also ask why you are needing to use it directly? We've tried to mostly encapsulate it inside `@azure/identity`. /cc @KarishmaGhiya

[2022-08-18 20:30] HarshaNalluru commented on #22936
Thanks for reporting, @baybal, I'll look into it soon.

[2022-08-18 20:55] diberry commented on #22937
I'll move it to the other repo - I just thought there was an all-up repo.

The code I'm trying to use is below - which I cobbled together from AAD samples and OBO docs. If there is another way to convert the token, with your @azure/identity library, please let me know. The main function I _think_ I need is `clientCredentialAuthority.acquireTokenOnBehalfOf`.

[code]

[2022-08-18 21:17] #19847 closed

[2022-08-18 21:19] #19848 closed

[2022-08-18 21:19] #20540 closed

[2022-08-18 21:20] #20960 closed

[2022-08-18 21:20] #21086 closed

[2022-08-18 21:21] #22130 closed

[2022-08-18 21:21] #20608 closed

[2022-08-18 22:50] timovv opened #22940 "[Monitor Ingestion] Add perf tests"
Perf tests for Monitor Ingestion library.

[2022-08-18 22:52] timovv opened #22941 "[Monitor Ingestion] Add test-resources.json ARM template for live tests"

[2022-08-18 22:52] timovv opened #22942 "[Monitor Ingestion] Troubleshooting guide"

[2022-08-19 06:38] badsyntax opened #22945 "[@azure/storage-blob] Unable to set blobHTTPHeaders using uploadData() in browser"
- **Package Name**:  @azure/storage-blob
- **Package Version**:  12.11.0
- **Operating system**: MacOS
- [x] **browser**
    - **name/version**:  Chrome Version 104.0.5112.101
- [x] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [X] SDK API docs on https://docs.microsoft.com

**Describe the bug**

I can't seem

[2022-08-19 07:11] badsyntax commented on #22945
I've figured out that there is no bug in the library, and the content type is actually set, but I had another process that was resetting the headers 🤦. Apologies for the noise!

[2022-08-19 07:11] #22945 closed

[2022-08-19 07:38] zzhxiaofeng opened #22949 "[Form-Recognizer] Analysis (Node) custom forms with selection marks failing in nightly runs"
Form-Recognizer nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1789884&view=results

[2022-08-19 07:38] zzhxiaofeng opened #22950 "[Communication - Chat] Deploy test resources failing in nightly runs"
Communication - Chat nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1792107&view=results

[2022-08-19 07:38] zzhxiaofeng opened #22951 "[Communication - Identity] Deploy test resources failing in nightly runs"
Communication - Identity nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1790136&view=results

[2022-08-19 07:38] zzhxiaofeng opened #22952 "[Communication - Phone Numbers] Deploy test resources failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1788670&view=results

[2022-08-19 07:38] zzhxiaofeng opened #22953 "[Communication - SMS] Deploy test resources failing in nightly runs"
Communication - SMS nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1791582&view=results

[2022-08-19 07:38] zzhxiaofeng opened #22954 "[Key Vault - Keys] Deploy test resources failing in nightly runs"
Key Vault - Keys nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1790813&view=results

[2022-08-19 07:38] zzhxiaofeng opened #22955 "[OpenTelemetry Instrumentation] Rush update failing in nightly runs"
OpenTelemetry Instrumentation nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1792003&view=results

[2022-08-19 07:38] zzhxiaofeng opened #22956 "[Search Documents] Update CHANGELOG.md failing in nightly runs"
Search Documents nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1790655&view=results

[2022-08-19 07:38] zzhxiaofeng opened #22957 "[Service Bus] Batching Receiver Batch Receiver - disconnects Batch Receiver - disconnects (non-session) can receive and settle messages after a disconnect failing in nightly runs"
Service Bus nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1790758&view=results

[2022-08-19 07:38] azure-sdk commented on #22951
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'EngSys:0.21987216,Communication:0.18845722,Azure.Identity:0.0878564'

[2022-08-19 07:38] azure-sdk commented on #22952
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'EngSys:0.22813743,Communication:0.2178162,ARM:0.082805485'

[2022-08-19 07:38] azure-sdk commented on #22953
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'EngSys:0.23994598,Communication:0.20076162,ARM:0.085217275'

[2022-08-19 07:38] zzhxiaofeng opened #22958 "[Storage - Blob] SyncUploadFromURL large content with timeout failing in nightly runs"
Storage - Blob nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1790152&view=results

[2022-08-19 07:38] azure-sdk commented on #22950
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.39555746,EngSys:0.17459098,ARM:0.06475891'

[2022-08-19 07:38] zzhxiaofeng opened #22959 "[Aggregate-reports] Post Analysis failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1792855&view=results

[2022-08-19 07:38] azure-sdk commented on #22956
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Search:0.4213692,Azure.Core:0.32739633,Azure.Identity:0.022421794'

[2022-08-19 07:39] azure-sdk commented on #22959
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.15347172,Network - Virtual Network:0.06839138,azure-spring:0.06777605'

[2022-08-19 08:12] bishal-pdMSFT commented on #22321
@EmmaZhu just for clarity, the fix is for the root issue of download getting stuck or for the mitigation using time out?