[2019-08-06 20:17] joshfree commented on #4316
Closing Epic tracking Distributed Tracing Preview 2 feature work

[2019-08-06 20:17] #4316 closed

[2019-08-06 20:26] chradek commented on #4542
Completed by #4583 and #4621

[2019-08-06 20:26] #4542 closed

[2019-08-06 20:29] chradek commented on #3375
Completed by #4446 and #4637.

[2019-08-06 20:29] #3375 closed

[2019-08-06 20:32] chradek commented on #4081
Closing this as we have published Event Hubs preview 2 on NPM:
https://www.npmjs.com/package/@azure/event-hubs/v/5.0.0-preview.2

Changelog can be found at https://github.com/Azure/azure-sdk-for-js/blob/%40azure/event-hubs_5.0.0-preview.2/sdk/eventhub/event-hubs/changelog.md

[2019-08-06 20:32] #4081 closed

[2019-08-06 20:52] ShivangiReja commented on #4363
The latest release of the [@azure/event-processor-host](https://www.npmjs.com/package/@azure/event-processor-host/v/2.1.0) has the fix to the above issue.

[2019-08-06 20:52] #4363 closed

[2019-08-06 20:56] ShivangiReja commented on #3378
The latest release of the [@azure/event-processor-host](https://www.npmjs.com/package/@azure/event-processor-host/v/2.1.0) has the support for proxy. Please see the sample - [websockets.ts]( https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-processor-host/samples/websockets.ts)

[2019-08-06 20:56] #3378 closed

[2019-08-06 21:41] jonathandturner commented on #4695
Fixed with https://github.com/Azure/azure-sdk-for-js/pull/4696

[2019-08-06 21:41] #4695 closed

[2019-08-07 01:25] #3326 closed

[2019-08-07 03:16] ramya-rao-a commented on #2809
With #3326 now resolved, we should aim at enabling the browser tests in CI in the current sprint

[2019-08-07 15:25] ramya0820 opened #4704 "[Service Bus] Investigate performance of Service Bus API"
This issue is to track
- [x] general investigation of Service Bus API performance and user experience in light of customer reported problems on slowness of API
- [ ] identify and confirm actionable items to take for addressing gaps, if any

[2019-08-07 15:59] ramya0820 commented on #4704
About receive,
- In `receiveAndDelete` mode, following are the time taken to receive 1000 messages from a topic subscription using Standard tier entity with no partitioning
     - Using Service Bus SDK with `maxConcurrentCalls` set to, this took 135415.899 ms. On setting the config to 1000, this took 2482.895ms
     - Using amqp10 with is native credit and buffer management, this took 3496.847ms

[2019-08-07 16:23] ramya0820 commented on #4704
About receive,
- In `receiveAndDelete` mode, following are the time taken to receive 1000 messages from a topic subscription using Standard tier entity with no partitioning
     - Using Service Bus SDK with `maxConcurrentCalls` set to, this took 135415.899 ms. On setting the config to 1000, this took 2482.895ms
     - Using amqp10 with is native credit and buffer management, this took 3496.847ms

[2019-08-07 17:46] AlexGhiondea commented on #4704
What is the impact of setting the maxConcurrentCalls to 1000?

What does that impact?

What is the current default?

[2019-08-07 18:25] sadasant commented on #4670
Before writing these tests, we'll work on a document that would describe the shape of the option bags that we use, so that we can build a set of patterns from which we will write the tests, as well as drive possible API improvements.

[2019-08-07 19:03] jonathandturner commented on #4025
Released!

[2019-08-07 19:03] #4025 closed

[2019-08-07 19:08] HarshaNalluru opened #4707 "[ANNOUNCEMENT] [Storage] Browser bundles for storage packages"
# Browser bundles

Historically, the browser bundles have been attached to the Github release page and users were expected to download the same. For example, see the [release for @azure/storage-blob_12.0.0-preview.1](https://github.com/Azure/azure-sdk-for-js/releases/tag/%40azure%2Fstorage-blob_12.0.0-preview.1).

Moving forward, we want to instead encourage users to use `npm install` to download

[2019-08-07 19:58] jonathandturner commented on #4361
Just to check - @bterlson are there recommendations about linting, specifically eslint, for the APIs?

[2019-08-07 20:09] jonathandturner opened #4708 "[KeyVault] Add support for tracing to all public APIs"
This placeholder marks the requirement to add tracing support for the public APIs (as well as potentially the service calls).

[2019-08-07 20:18] jonathandturner commented on #4624
Builds on #4640

[2019-08-07 20:28] ramya0820 commented on #4704
On the receive operations, this would result in faster throughput.

If included as the default for Track 2, using the SDK and APIs out of the box for new users would be faster (in case setting this value was missed)
Since this is configurable, it shouldn't impact any other feature.
Stress and performance tests suite may surface issues - CPU usage may remain or go high and would need further invest

[2019-08-07 21:47] mjrousos opened #4711 "Cosmos SDK docs missing from azure.github.io/azure-sdk-for-js"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.1.1

**Describe the bug**
This repository's landing ReadMe.md says that docs are found at [Azure SDK for JavaScript documentation](https://azure.github.io/azure-sdk-for-js/), but I don't see docs for the @azure/cosmos SDK there. Are they missing?

I see other new SDK docs there (storage and keyvault SDKs, for example), but nothing on @azur

[2019-08-08 02:11] omarsourour commented on #3731
Is there an API exposed in the SDK to get the tenants for an account?

Also, is there an API exposed in the SDK to get the subscriptions for a tenant?

[2019-08-08 03:51] ramya0820 commented on #4140
@mikesarfaty Could you clarify what is the _exact_ value used for `nextRecv` in your code? Also, is the Service Bus version being used `1.0.2` or `1.0.0-preview.2`?

[2019-08-08 04:02] ramya0820 commented on #1611
It seems like this issue did not get resolved. Seeing issues or maybe it was verified with Streaming Receiver. @HarshaNalluru could you share the tests you were going to add per ^ comment?

I'm using following sample with Batching Receiver and this is failing when using values >= 2048 for `maxMessageCount`.

On looking into things deeper, although `addCredit` sets `link_credit` value to given inpu

[2019-08-08 15:35] mjrousos opened #4717 "[Storage] RetryOptions members unnecessarily readonly"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.0.0-preview.2
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 12.8.0
- [x] **typescript**
    - **version**: 3.5.3

**Describe the bug**
This is a minor issue, but there seems to be some inconsistency in the [RetryOptions interface](https://github.com/Azure/azure-sdk-for-js/blob/%40azure/storage-queue_12.0.0-prev

[2019-08-08 17:37] #4396 closed

[2019-08-08 17:38] #4225 closed

[2019-08-08 18:41] AlexGhiondea opened #4718 "Release KeyVault Track 2 Library Preview 4 for JavaScript"
### API Design ###
- [ ] Crypto with Keys
  - [ ] Design approved
- [ ] Certificates API
  - [ ] Proposal ready
  - [ ] Design approved

### Done tasks
- [x] Address feedback for certificates APIs (#5226)
- [x] Implement Pem Key Converter (JWK->PEM)  (#4571)
- [x] **[PR #5237]** Add how to use the CI templates to the readme (#4848).
- [x] [KeyVault] *Base to *Properties #5226
- [x]  **[PR #5237]**

[2019-08-08 19:41] mjrousos opened #4719 "[Storage] Progress callback called incorrectly from BlockBlobClient.uploadFile"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.0.0-preview.2
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 12.8.0
- [x] **typescript**
    - **version**: 3.5.3

**Describe the bug**
If a progress callback is provided in `UploadStreamToBlockBlobOptions` when calling [`BlockBlobClient.uploadFile`](https://github.com/Azure/azure-sdk-for-js/blob/%40azure/storag

[2019-08-08 19:57] mjrousos commented on #4719
Digging into this more, it seems to be specific to `BlockBlobClient.uploadFile` because the following repro using `BlockBlockClient.uploadStream` works as expected:

[code]

This sort of makes sense since `uploadFile` only uploads a single 'chunk' for files <256MB. What's strange, though, is that the progress callback is called many times all at once. If only a single `stageBlock` call is made, I

[2019-08-08 20:05] jonathandturner opened #4720 "[KeyVault][Secrets] API extractor .d.ts file is not being included in package"
As reported in https://github.com/Azure/azure-sdk-for-js/pull/4716, the .d.ts file from API extractor is not being included in the package for npm.

Looking at the history, it looks like the change happened before preview 2.

https://github.com/Azure/azure-sdk-for-js/commit/f27498ed71e58baf61e43957e95ad4863f565338

Assigning to @sadasant, who made the change.

[2019-08-08 20:08] sadasant commented on #4720
Thanks! I'll fix asap

[2019-08-08 20:38] bsiegel opened #4721 "Generate and publish dependency reports for releases"
Currently we publish nightly dependency reports in the nightly build pipeline, based on the state of the source code at the time the nightly is built.

We should also create and publish a dependency report in each release pipeline, so that we have a report of dependencies that are required for each release we make. Python already does this today, so we just need to update the release pipelines for

[2019-08-08 21:10] mikesarfaty commented on #4140
@ramya0820 I tested it with 2, 250, and 500. I tested it with 1 and it worked fine. The version I used was 1.0.2

[2019-08-08 21:29] sadasant opened #4723 "[KeyVault-Keys] Fix the published types to only include the necessary .d.ts"
Right now we include the whole /types directory as part of the build. We should only include `types/keyvault-keys.d.ts`.

[2019-08-08 22:57] JonathanCrd opened #4725 "Create Pipeline for JS Smoke Test"
Create and setup a new pipeline for JS Smoke Test

[2019-08-09 00:45] kurtzeborn commented on #2417
We are already building the browser bundle as part of the build for storage libraries in JS.  There is a discussion going on with the storage Shanghai team currently about whether we should continue to ship this as a release artifact at all.  Regardless, the bundle is being built currently, it's just not hooked up to automatically release.

[2019-08-09 00:45] #2417 closed

[2019-08-09 01:08] KarishmaGhiya commented on #4350
Rush issue to track the behaviour of `-from` tag https://github.com/microsoft/web-build-tools/issues/1447

[2019-08-09 02:22] XiaoningLiu commented on #4573
Hi @phawxby Please refer to this https://github.com/Azure/azure-storage-js/issues/45

[2019-08-09 02:58] XiaoningLiu commented on #4634
Hi @ricklang storage package currently provides commonjs module. I don't think `package.json` allows a package point `main` field to both commonjs and esm modules.

You can try to import from `dist-esm/src/index.js` directly of the package which is es6 module format.

[2019-08-09 03:45] AlexGhiondea commented on #4704
Do we know why a default of 1 was selected?

What happens when we have the maxConcurrentCalls set to 1000 -- what are the side-effects of that?

[2019-08-09 05:17] ramya-rao-a commented on #4704
Using any value greater than 1 creates unpredictable behavior for the user in case they were not expecting the second message to arrive wheel the first one is still being processed. We will be re-visiting this design in the coming months based on what we learnt in Event Hubs.

What I am concerned at the moment is the supposed difference in perf in ReceiveAndDelete mode when compared to PeekLock mo

[2019-08-09 05:31] HarshaNalluru opened #4728 "[Storage] Updates to the Storage Overview page in reference docs"
Following docs refer to `azure-storage` package.
https://review.docs.microsoft.com/en-us/javascript/api/overview/azure/storage?view=azure-node-preview&branch=master

Should be updated to V10 storage packages (and V12) (Update https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/storage.md)

[2019-08-09 06:18] ramya-rao-a commented on #1611
@ramya0820 This issue was regarding not able to receive more than 2047 messages across multiple receive operations in a single receiver when in ReceiveAndDelete mode. The auto accept fix that we did fixed this.

What you are seeing is the case when we ask for more than 2047 messages at one go i.e in a single call to `receiveMessages`. Please log a separate issue for this.

Since rhea has an intern

[2019-08-09 06:18] #1611 closed

[2019-08-09 13:01] #4720 closed

[2019-08-09 14:31] phawxby commented on #4573
Thanks @XiaoningLiu. I'll leave this one open as it's in the active repository. I'm disappointed that the recommendation is to just use the legacy API.

[2019-08-09 15:35] vinnybrown opened #4730 "REST calls are appending "api-version" querey string parameter, causing BadRequest response"
- **Package Name**: @azure/graph
- **Package Version**: 5.0.0
- **Operating system**: Windows
- [x ] **nodejs**
    - **version**: 10.15.3
- [x ] **browser**
    - **name/version**: chrome
- [x ] **typescript**
    - **version**: 3.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2019-08-09 17:19] mikeharder opened #4731 "Reduce repo size"
Here is the clone size of the JS repo under four scenarios:

1. Full history of `gh-pages`: `2.16 GB`
2. Squashed `gh-pages`: `83 MB`
3. Delete `gh-pages`: `43 MB`
4. Delete all branches except `master`: `40 MB`

Squashing the branch is by far the most important, but even squashed the branch accounts for 50% of the total JS repo clone size.

All other branches combined add less than 10% to the rep

[2019-08-09 17:43] mikeharder opened #4732 "Release pipeline should support multiple tags"
For packages which only have preview releases, we usually want to update both the `next` and `latest` tags to the latest version.  Currently, only one tag can be updated by the release pipeline, and the other needs to be updated manually after the release.  The release pipeline should be updated to support at least two tags.  One will be passed to `npm publish`, and the other tag(s) will be passed

[2019-08-09 19:07] chradek commented on #2845
## Summary
The `@azure/event-hubs` library currently supports logging through the `debug` module.
The library implemented logging prior to the general logging [guidelines](https://azure.github.io/azure-sdk/typescript_implementation.html#general-logging) were published.
The areas before will describe an attempt to bring `@azure/event-hubs` logging in line with out guidelines.

## Supported Log Chan

[2019-08-09 20:12] loarabia commented on #4730
Hi @vinnybrown I've labeled the bug so that the feature teams should be able to find it.

[2019-08-09 20:44] vinnybrown commented on #4730
Do let me know if you need any more info. As a workaround, I've had to go into the compiled javascript in graph.js and comment out the queryParameters array in the operation spec variables that I'm using (createOperationSpec and createOperationSpec$2). Obviously, that hack fix will be overwritten if we upgrade or reinstall the package.

[2019-08-09 21:34] ramya-rao-a commented on #2715
Hey @chrimc62,

Can you share the error in the output you are seeing?

[2019-08-09 22:05] mayurid opened #4733 "Release Cosmos Track 2 Library Preview 4 for JS"
**Features**
- [x] Naming Consistency (#5263 )
- [x] Crypto (#5023)
- [ ] Abort Controller (#5264) (- beyond the scope of this Epic at this point)

[2019-08-09 23:07] sadasant commented on #4670
Here is a zoom on some of the API methods we have, focusing on expanding on the properties of their optional parameters:

[code]

The majority of them have named properties of options specific to underlying
APIs. These options work well when passed, without needing to mix them into a
mixed object of options. Having said that, it seems to me that we shouldn't allow
some of the children options to t

[2019-08-10 03:55] ramya-rao-a commented on #4145
@v-jaswel This can happen if you have independently installed `@azure/ms-rest-js`.

In a clean folder, if you run `npm install @azure/cognitiveservices-luis-runtime`, it will install the right version of `@azure/ms-rest-js`

If `@azure/ms-rest-js` is independently installed then you will end up getting newer version which will not be compatible.

Can you elaborate on your scenario where you have t

[2019-08-10 03:59] ramya-rao-a commented on #1163
Be able to create an instance of FaceClient using ApiKeyCredentials.

Can you try the below to create an instance of ApiKeyCredentials?

[code]

[2019-08-10 04:04] ramya-rao-a commented on #2715
@ahmedabuamra Can you please verify if the sample is providing compile issue?

[2019-08-10 04:10] ramya-rao-a commented on #3004
@ArsenyYankovsky Can you try the below? In this way, you dont need to set the header in each api call in `AnomalyDetectorClient`

[code]

[2019-08-10 04:12] ramya-rao-a commented on #4160
@ahmedabuamra As discussed offline in one of our emails, regeneration of the library using the latest code generator should fix the problem with the base uri. Please consider re-generating the library at the earliest.

[2019-08-10 04:38] ramya-rao-a commented on #4168
@kellyjandrews The first argument to `client.detectLanguage` should be a json object but a boolean value is being passed here.
Please update your code from
`client.detectLanguage(showStats, languageBatchInput)`
to
`client.detectLanguage({ showStats }, languageBatchInput)` and that should solve the problem.

_More details if you are interested._

The error is coming from https://github.com/Azure/ms

[2019-08-10 04:38] #4168 closed

[2019-08-10 04:47] ramya-rao-a commented on #4189
@v-jaswel First off thanks for the very detailed bug report and apologies for not responding sooner.
I have a question though. You say the below in this issue:

If that issue is resolved by setting the LUIS Authoring client to use LUIS version 2.0, it will not be possible to write code to use the Azure SDK for JS to do the following.
- Create an application (this uses the Authoring client).
- Quer

[2019-08-10 04:48] ramya-rao-a commented on #4189
@ahmedabuamra Do you have any thoughts on why the runtime client uses v3-preview?

[2019-08-10 04:57] ramya-rao-a commented on #4220
The library needs be re-generated using the latest version of the code generator which should fix the problem with the baseuri

[2019-08-10 05:14] ramya-rao-a commented on #4221
Thanks for the very detailed bug report @v-jaswel

Based on everything you have shared, this looks like it is most likely a problem with the swagger spec that was used to generate the library

cc @ahmedabuamra

[2019-08-10 05:18] ramya-rao-a commented on #4414
The library here needs to be re-generated using the latest code generator which should fix the problem with the baseuri

[2019-08-10 05:26] ramya-rao-a commented on #4609
The `require` statement returns the entire module, therefore you cannot use `new` on it.

Change `const PredictionAPIClient = ` to `const { PredictionAPIClient } =` and you should be able to instantiate the client

[2019-08-10 05:26] #4609 closed

[2019-08-10 05:26] ramya-rao-a commented on #4698
This library needs to be re-generated using the latest code generator which should fix the problem with baseuri

[2019-08-10 18:58] ramya-rao-a commented on #1163
Another option

[code]

[2019-08-10 19:00] ramya-rao-a commented on #4160
@v-jaswel Currently you are setting up the endpoint as below

`const endpoint = 'https://' + region + '.api.cognitive.microsoft.com/';`

Can you try setting the endpoint as below and let me know if that helps at all?

`const endpoint = 'https://' + region + '.api.cognitive.microsoft.com/luis/api/v2.0';`

[2019-08-10 21:12] ramya-rao-a commented on #4289
**Corrections to the client constructor in the samples:**

- Need to investigate if CognitiveServicesCredentials should be the creds to use in samples or the interactive login.
- Second argument in constructor should be endpoint, not subscriptionId.
   - anomalydetector
   - computervision
   - face
   - formRecognizer
   - luis-runtime
   - personalizer
   - textanalytics
- Second argument in con

[2019-08-10 22:21] ramya-rao-a commented on #4289
@daviwil, @amarzavery

Are the below 2 cases a consequence of how the swagger spec was written or the result of using different flags/options when running the code generator? I am trying to see where the long term fix should go.

- Constructor takes apikey and no credentials ([customvision-prediction](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cognitiveservices/cognitiveservices-cus

[2019-08-11 17:23] #4723 closed

[2019-08-11 17:35] jonathandturner commented on #3672
Completed with https://github.com/Azure/azure-sdk-for-js/pull/4657

[2019-08-11 17:35] #3672 closed

[2019-08-11 17:38] jonathandturner opened #4734 "[KeyVault][Certificates] Fill out API doc samples"
We currently have the bare minimum API docs for certificates. Ideally, these should also have sample code just like we did with Keys and Secrets.

[2019-08-11 18:25] jonathandturner commented on #4023
Added in #4141

[2019-08-11 18:25] #4023 closed

[2019-08-12 16:52] Connor-Wood opened #4737 "ServiceBus Receiver Pause"
**Is your feature request related to a problem? Please describe.**
All messages that a service bus receiver is currently processing will fail when scaling down the service that is using it by using "close"

**Describe the solution you'd like**
Ability to "pause" / "resume" a receiver by setting credits to 0. This will allow no new messages to be delivered but can still finish the messages it curre

[2019-08-12 17:10] mitchdenny opened #4738 "Implement Unified Pipelines for JavaScript"
Following the pattern established in our Java mono-repo setup a unified release pipeline for the track 1 and track 2 packages.

[2019-08-12 18:00] amarzavery commented on #4289
In **_ContentModerator swagger spec_** the `ApiKey` is defined in [security and securityDefinitions](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/ContentModerator/stable/v1.0/ContentModerator.json#L8-L19) whereas in
**_Prediction swagger spec_** the `ApiKey` is defined in [global parameters section](https://github.com/Azure/azure-rest-api-spe

[2019-08-12 18:33] mikeharder opened #4739 "Squash commits in branch gh-pages"
To reduce repo size, the branch `gh-pages` should be squashed to a single commit.  This should be done once to remove the current history, and also done every time the branch is updated with new docs.

Here's the current size of the branch:

[code]

Here's the size after squashing to a single commit:

[code]

[2019-08-12 19:10] ShivangiReja opened #4742 "[Event Hubs] Partition load balancer implementation in Event Processor"
The goal is to implement an algorithm that would (almost) evenly distribute ownership of Event Hub partitions among all the active Event Processors registered for a given Event Hub + consumer group combination. Each event processor is responsible for processing events from the partition it owns.

Use https://gist.github.com/srnagar/7ef8566cfef0673288275c450dc99590 algorithm to implement partition

[2019-08-12 19:13] HarshaNalluru opened #4743 "Remove the older cosmos SDK (V2) from azure-sdk-for-js repo"
Remove the older cosmos SDK (V2) in azure-sdk-for-js to allow bringing in cosmos V3 SDK from the azure-cosmos-js repo

[2019-08-12 19:20] ramya-rao-a commented on #4289
cc @v-jaswel because he has been involved in getting started scenarios for a couple of Cognitive Services
cc @chrishmsft who can help with reaching out to individual service teams as needed

[2019-08-12 19:57] sadasant commented on #4670
With that in mind, I had a meeting with Jonathan where we went through the original PR that sparked this discussion: https://github.com/Azure/azure-sdk-for-js/pull/4656/files and I was finally able to understand the issue. I'll describe it.

The issue is not that requestOptions is taking over options. The issue is that if we received options, then requestOptions should've been sent as the last par

[2019-08-12 20:39] sadasant opened #4744 "[KeyVault] Wrong CLI command: "set""
In the README we use this command to grant proper authorization to perform key operations, but actually, there's no such "set" permission for operating key in keyvault.

Solution: change "set" to "create" in above command.

[2019-08-12 20:42] sadasant opened #4745 "[KeyVault] Wrong code snippet in the README"
We're using `client.createKey` when we should have used `keysClient.createKey`.

[2019-08-12 20:45] sadasant opened #4746 "[KeyVault-Keys] Wrong code snippet"
The code snippet here needs to declare the `buffer` variable: https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/keyvault/keyvault-keys#verify-data

[2019-08-12 20:51] ramya0820 opened #4748 "[Service Bus] Cannot receive more than 2047 messages in a single receive call"
This issue is to track the bug surfaced while investigating where more than 2047 messages cannot be received in a single receive call.
- I,e., when attempting to receive more than 2047 messages, say 3000 - the program hangs as the underlying buffer used by Rhea is full and it is unable to receive more messages on the network.

Possible approaches to fix:
   - Update implementation o internally mak

[2019-08-12 22:21] mikeharder commented on #4731
Closing in favor of:

* Squash commits in branch gh-pages (https://github.com/Azure/azure-sdk-for-js/issues/4739)
* Investigating moving GitHub Pages content out of main repos (https://github.com/Azure/azure-sdk/issues/572)

[2019-08-12 22:21] #4731 closed

[2019-08-12 23:14] chradek opened #4752 "[Event Hubs] EventProcessor test plan"
This issue is to track a rough test plan for the `EventProcessor` work in the event hubs SDK.

This list can grow/shrink as needed.

# Event Processor Testing Plan

## EventProcessor instantiation
- [ ] EventProcessor constructor throws `TypeError` if any required parameters are missing.

## EventProcessor accessors
- [ ] EventProcessor.id should return a unique id.

## EventProcessor start
- [x]

[2019-08-13 17:46] joshfree opened #4755 "Release Azure.Identity Library Preview 4 for JavaScript"
**API Design**
- [ ] **Preview 4** Review Exception Patterns across languages (@schaabs)
- [ ] **Preview 4** Review Authority Host Configuration and ensure consistency across Languages (@schaabs)

**Feature Work**
- [x] **Preview 4**  Authorization Code Flow support with MSAL https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow
- [x] **Preview 4** Create a combi

[2019-08-13 17:59] sadasant commented on #4622
Based on conversations with @jonathandturner , @schaabs and @bterlson , this issue is about local AES cryptography. We'll follow up on the next release.

[2019-08-13 18:01] sadasant commented on #4026
Removed mutli-block encryptio n for this preview since it's about adding a local implementation of AES encryption and decryption. Jonathan, Scott, Brian and I talked about it and decided to move it to the next preview.

[2019-08-13 18:49] #4744 closed

[2019-08-13 18:49] #4745 closed

[2019-08-13 18:49] #4746 closed

[2019-08-13 20:19] KarishmaGhiya commented on #4739
Fixed the issue by rewriting history :

- starting from a commit (moved to a fixed branch - gh-pages-root)
- Making changes (copying the artifacts) to a local new branch (branched off of gh-pages-root branch which contain only 1 file - an empty .nojekyll file)
- commit these changes
- force pushing the changes from this branch (local) to gh-pages (upstream)

With these steps, changes are always fo

[2019-08-13 20:20] ramya0820 commented on #4704
About using maxConcurrentCalls value of 100 and comparing the peekLock and receiveAndDelete modes, following are the results on it -
-	In `peekLock` mode (`autoComplete` set to `true`), receiving of 1000 messages with `maxConcurrentCalls` set to 100 took 8385.942 ms
-	In `receiveAndDelete` mode, receiving of 1000 messages with `maxConcurrentCalls` set to 100 took 5136.766 ms
- However, using `peek

[2019-08-13 20:23] KarishmaGhiya commented on #4732
- updated the npm-publish script under azure-sdk-build-tools to support additional (just one more) tag
- waiting for a real release to happen on npm that uses the script to make sure there are no bugs etc.

[2019-08-13 21:55] YoDaMa opened #4758 "[Storage] Blob Readme: compete to complete"
there's a small typo in the readme that says compete when it should say complete.

https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage

[2019-08-13 22:46] #4725 closed

[2019-08-13 22:51] AlexGhiondea opened #4760 "Release AzConfig Track 2 Library Preview 3 for JavaScript"
For the September Preview, we will be focusing on

- [x] Auto generating the sdk using the swagger created internally by the Python team
- [x] Adding a convenience layer on top of the above
- [x] Updating jsdocs
- [x] Update readme
- [x] Update samples
- [ ] ~Add tracing~ (moved to Preview 4)

[2019-08-13 23:50] kurtzeborn opened #4761 "Release daily JS packages to DevOps feed"
This issue includes doing the following:
- [ ] Implement automatic versioning of dev builds
- [ ] Update pipeline to publish all SDK libraries automatically each night to the DevOps feed

[2019-08-14 00:34] #4739 closed

[2019-08-14 01:40] mikeharder opened #4763 "Update lint command for package "identity" to align with other pacakges"

[2019-08-14 01:50] SamJarmanPP commented on #3764
We've also seen this over 1500 times since our service using service into production a few months ago. Are there any queue configurations to check or anything we can do before raising a support query? Thanks @ramya-rao-a :)

[2019-08-14 01:50] SamJarmanPP commented on #3764
As a work around, would it make sense to check `message.isSettled` before processing? Does that get successfully written in the case of these timeouts?

[2019-08-14 01:52] chradek opened #4764 "[Service Bus] Make use of sendable event when sending messages"
In the service-bus package, we perform a check to see if the sender has credits to send messages via the `sendable()` method:
https://github.com/Azure/azure-sdk-for-js/blob/56bd4aae9a1120abd1b8e5eab3692bd4bd3bb5da/sdk/servicebus/service-bus/src/core/messageSender.ts#L265

If the sender isn't ready to send messages, we force a retry to give the service a chance to give us more credits:
https://gith

[2019-08-14 01:55] ramya-rao-a commented on #1389
@gio-frigione A follow up question for you.
When you ran your experiments that you described in https://github.com/Azure/azure-sdk-for-js/issues/1389#issuecomment-476783383, did you set `autoComplete` to `true` or `false` when running in PeekLock mode?

[2019-08-14 02:14] ramya-rao-a commented on #4704
The difference between auto complete enabled and disabled in peek lock mode is understandable.
We add credit for the next message right after user code is done executing.

When auto-complete is disabled, the user code pays the tax for the time taken to complete the message.
When auto-complete is enabled, we the library complete the message after the credit has been added.

We do manual credit mana

[2019-08-14 02:17] ramya0820 commented on #4704
Agree, although it's unclear why `receiveAndDelete` was found to be slower, as this seems to be fastest among the 3 scenarios.

[2019-08-14 02:52] ramya-rao-a commented on #3764
@SamJarmanPP Unfortunately no. he `isSettled` property on a message gets set on the service side before it sends the message to the client. Once the client makes the request to settle the message, the client then waits for an acknowledgement from the service. This is where the time out happens. The `message` object is entirely on the client side at this point and is not mutated.

[2019-08-14 03:04] ramya-rao-a commented on #4140
@mikesarfaty We havent been able to replicate this issue. Can you enable and share logs which might shed some more light on what is going on here?

To begin with, you can set the DEBUG env variable to `azure:service-bus*` and this should give all logs from the library. The ones that would be of interest would be the ones with the below prefixes
- azure:service-bus:error
- azure:service-bus:receive

[2019-08-14 03:29] SamJarmanPP commented on #3764
@ramya-rao-a Ah okay, darn. I asked [over here](https://github.com/Azure/azure-sdk-for-js/pull/2828#issuecomment-521078024) what we should do in these cases - looking forward to hearing back :) We just want to make sure the message is processed once and only once, and that this is guaranteed. (Are we asking too much? haha)

[2019-08-14 06:59] binzywu commented on #3764
@SamJarmanPP please could you open a support case and provide us more details of namespace, entity, timestamp and ideally few sample message ids will be very helpful.

[2019-08-14 16:37] deborahc opened #4765 "[Cosmos][Docs] Sample to delete a stored procedure"
**Is your feature request related to a problem? Please describe.**
Add a sample showing how to delete a stored procedure. We should add the other CRUD operations as well.

Docs issue: https://github.com/MicrosoftDocs/azure-docs/issues/36850

[2019-08-14 17:57] ShivangiReja opened #4766 "[Event Processor Host] Test EPH end to end including checkpoint with proxy enabled"
Test EPH features end to end including checkpoint with proxy enabled.

[2019-08-14 19:36] axisc commented on #4737
@Connor-Wood

Thanks for submitting this feature request. We will triage this internally and provide a milestone if applicable.

[2019-08-14 20:36] SamJarmanPP commented on #3764
@binzywu Sure but I feel the answer you provide would be applicable to anyone receiving this error?

[2019-08-14 20:51] HarshaNalluru commented on #3289
@bterlson

[2019-08-14 21:02] HarshaNalluru commented on #4578
Similar support in other languages?

@kurtzeborn @alzimmermsft @rakshith91 @tg-msft

[2019-08-15 00:06] HarshaNalluru commented on #4161
@sadasant

[2019-08-15 00:11] HarshaNalluru commented on #4208
@sadasant

[2019-08-15 00:13] HarshaNalluru commented on #4205
@sadasant

[2019-08-15 00:14] ramya0820 commented on #4140
@mikesarfaty could you also share the Service Bus pricing tier you are using? (Basic / Standard / Premium).

As we investigated, we found that receiving more than 2047 messages in a single call results in hanging and not receiving of messages. (I.e. if `n` in `receiveMessages(n)` and 'nextRecv' in your code has value more than 2047).
But, it looks like the code you are running uses `receiveMessage

[2019-08-15 00:58] mikeharder opened #4767 "[Event Hubs] Concurrent calls to getPartitionProperties() are extremely slow"
Concurrent calls to `getPartitionProperties()` are extremely slow:

[code]

Full repro: https://github.com/mikeharder/EventHubsPerf/blob/492df6a017a4aaf33149b340429de6aa58022823/js/event-hubs-consume-perf/concurrentGetPartitionProperties.ts

[2019-08-15 01:26] ramya-rao-a commented on #4748
@ramya0820 Please update the issue description to include details around what the behavior is when
more than 2047 messages are requested in a single call.

Doing multiple request calls under the hood can cause complications when handling the overall timeout or the eventual retry feature that we will be adding.

A short term fix would be to update that docs on the method that at max, this will only

[2019-08-15 05:47] ramya-rao-a commented on #3764
@SamJarmanPP Opening a support case/ticket will help @binzywu's team investigate the problem because they can then check the logs from the service side as well. Once they come to a conclusion on what the problem is, @binzywu or his team will surely update this GitHub issue with the answer and possible steps that can be taken to fix it

[2019-08-15 06:19] ramya-rao-a commented on #4292
This has been resolved with the work in the PR #4754.
Thanks @mikesprague!

[2019-08-15 06:19] #4292 closed

[2019-08-15 16:19] Petermarcu commented on #3735
Looks like this was done and located here: https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/streamanalytics

[2019-08-15 16:19] #3735 closed

[2019-08-15 16:23] Petermarcu commented on #3731
@omarsourour please open a new issue to track follow up questions.

I'm closing this issue now because the version relevant to the initial report should have been rolled out to all regions by now and the client updated.

[2019-08-15 16:23] #3731 closed

[2019-08-15 19:49] ramya-rao-a commented on #4737
@Connor-Wood Can you share the error you see in these cases? And does this apply to both ways of receiving messages i.e via `receiveMessages()` as well as `registerMessageHandlers`?

[2019-08-15 19:55] ramya-rao-a commented on #4737
As part of `close()` we do a series of clean ups which includes closing the AMQP link and connection.

When using `receiveMessages()`, ideally one should not call close() until all the received messages are processed i.e either completed, abandoned, deferred or deadlettered.

When using `registerMessageHandlers()`, it seems like the right way would have been for this method to return something tha

[2019-08-15 19:55] ramya-rao-a commented on #4737
As part of `close()` we do a series of clean ups which includes closing the AMQP link and connection.

When using `receiveMessages()`, ideally one should not call close() until all the received messages are processed i.e either completed, abandoned, deferred or deadlettered.

When using `registerMessageHandlers()`, it seems like the right way would have been for this method to return something tha

[2019-08-15 20:02] ramya-rao-a commented on #4667
As part of our next big wave of improvements we will be adding the ability to configure the retry policy used by the send operation. This will include the ability to control the per try timeout for the send operation. This work is being tracked in #4376

Currently, the timeout value is 60 seconds. Can you elaborate your scenario where you want to change this value? Is the default value too big or

[2019-08-15 20:27] SamJarmanPP commented on #3764
@binzywu @ramya-rao-a opened one yesterday - 119081423002394 :)

[2019-08-15 20:37] Connor-Wood commented on #4667
We would want to change this for all sends. Doesn't make sense to wait 60 seconds, its way to big, our request from the frontend would have already timed out.

[2019-08-15 20:45] mikesarfaty commented on #4140
I will take a stab at this tomorrow and let you know if I see any oddities. Thank you for following up on, I'll be sure to include `azure/service-bus` logs and service bus tier as well.

[2019-08-15 20:58] Connor-Wood commented on #4737
We use `registerMessageHandlers()`, we haven't seen any explicit errors yet from calling close but we were mostly assuming that something "error like" is happening since the AMQP link is closed and we could still have messages.

Calling `stop()` on something seems like a good approach. How would we know when we are done processing all messages received? We could keep track ourselves but seems like

[2019-08-15 21:39] ramya0820 commented on #4764
When attempting to send over 100000 messages continuously, `SenderBusyError` used to get thrown repeatedly and further messages were not getting sent even when re-tried infinitely.
Thus, needed to catch this error and then re-establish the sender links such as at - https://github.com/ramya0820/azure-sdk-for-js/blob/service-bus-track-1-1.0.3/sdk/servicebus/service-bus/test/customer_issues/1389/1.0.

[2019-08-15 22:11] shurd commented on #4765
Hi @deborahc, I do not think we support stored procedures yet in this management SDK. We are currently working on adding support for managing stored procedures through our resource provider. I think those documents are for the data plane SDK: https://github.com/Azure/azure-cosmos-js

[2019-08-15 23:49] funkydev opened #4774 "Identity: Implement Interactive Authentication Support for Node.js applications"
Gets the token through an interactive process that prompts the user for credentials through a browser like in [`@azure/ms-rest-nodeauth`](https://github.com/Azure/ms-rest-nodeauth/blob/master/lib/login.ts#L421) library.

It is necessary for authenticating user/password with configured 2FA in the Azure portal.

Notice that node.js doesn't support opening browser window, so library needs to return t

[2019-08-16 01:22] ramya-rao-a commented on #4140
In @ramya0820 's sample code above, we need to be careful when using `await` inside `forEach` as it will not work as expected. The article [async-await with foreach](https://codeburst.io/javascript-async-await-with-foreach-b6ba62bbf404) explains this quite well.

After updating the sample code to take this into consideration, I am able to see the below warning show up and hang my program

Sample C

[2019-08-16 04:55] ssyrell commented on #4631
It seems like the issue is that the regex is not taking AM/PM into account. Looking at [the documentation](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?toc=%2fazure%2fazure-functions%2ftoc.json#rest-protocol-examples), the date format is:

`"09/14/2017 00:00:00 PM +00:00"`

[2019-08-16 07:18] ramya-rao-a commented on #4737
Just to make sure that we are on the same page.... Are you saying that you are receiving messages after calling close() or you fail to complete/abandon/defer/deadletter the already received messages after calling close()?

[2019-08-16 07:24] ramya-rao-a commented on #4667
Thanks for the clarification.

I will be closing this issue in favor of #4376, we are tracking this work to be done in the coming months.

Since the timeout doesn't effect the actual send operation to the service and only helps in your program regaining control in case you have an `await`, I would suggest to use a `Promise.race` to simulate your timeout instead.

[code]

[2019-08-16 07:24] #4667 closed

[2019-08-16 18:10] axisc commented on #3764
Thanks @SamJarmanPP,

I'll close the issue now and we can track this via the support ticket.

[2019-08-16 19:25] tg-msft commented on #4578
Yes, we do support that in .NET (see https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Common/src/StorageConnectionString.cs).

[2019-08-16 21:53] deborahc opened #4783 "[Cosmos][Docs] Add samples for changing throughput"
**Is your feature request related to a problem? Please describe.**
We should add a sample that shows throughput (RU/s) operations - read and replace to here: https://github.com/Azure/azure-cosmos-js/tree/master/samples.

This will address this docs issue: https://github.com/MicrosoftDocs/azure-docs/issues/36970

cc @SnehaGunda, @southpolesteve

[2019-08-16 22:18] loarabia commented on #4774
Tagging for review to see if this is something that could be in the common libraries for the SDKs.

[2019-08-16 22:37] sadasant opened #4784 "[KeyVault] Add tests to remove resources before listing them"
Currently, our tests that deal with listing existing and deleted resources might fail due to pre-existing resources in the targetted keyvaults. To ensure the tests pass consistently moving forward, we should add a test that simply removes and purges all of the pre-existing resources.

[2019-08-16 22:47] #4673 closed

[2019-08-16 23:05] ramya-rao-a commented on #3764
@axayjo Based on the support ticket logged by @SamJarmanPP, his issue is with what is being discussed at https://github.com/Azure/azure-sdk-for-js/pull/2828#issuecomment-521110301

Originally, this issue was logged by @dlukianenko who doesn't have a subscription with tech support. Can you suggest any other way you can look into why the service is not able to settle messages within 20 seconds?

[2019-08-18 07:07] #3947 closed

[2019-08-18 19:12] #4623 closed

[2019-08-18 19:12] #4624 closed

[2019-08-18 20:20] jonathandturner commented on #4784
I think what we may want instead is to be resilient against data already being in the key vault.

Let's say that you're testing listing all the deleted secrets. You may want to list the deleted secrets, so that you can capture what is already then, then delete a new secret, and then check again, this time comparing the new set to the expected set.  The same would be true for listing secrets and so

[2019-08-19 11:17] polatengin commented on #4395
Hi @maggiepint , is there any updated on this?

[2019-08-19 12:51] kayousef commented on #4189
Hi @v-jaswel
Thank you for reporting your concern.

Please note that API version for authoring is totally independent from the runtime. However, all versions communicate with the same service, so you can author your apps using Authoring V2.0 and query them using Runtime V2.0 or V3.0-preview.

As for your specific issue, I'd like you to share your exact requests for publishing the app, and query us

[2019-08-19 13:56] sadasant commented on #4784
We already do what you're mentioning! If I understand correctly. Seems to me that the issue is that there are too many deleted-but-not-purged resources, which is causing the current tests to fail.

[2019-08-19 16:58] ak99372 opened #4793 "[KeyVault] - Types of property signRequest are incompatible (outdated ms-rest-js 1.0 reference)"
- **Package Name**: @azure/keyvault
- **Package Version**: 0.1.0
- **Operating system**:
- [x] **nodejs**
    - **version**: 10.15.1
- [x] **typescript**
    - **version**: 3.4

**Describe the bug**
KeyVault package is referencing outdated `ms-auzre-js` package version 1.0 (ServiceClientCredentials) and fails to compile when used with `ms-rest-nodeauth` reference with following error:

[code]

**T

[2019-08-19 17:35] AlexGhiondea opened #4795 "Build code generator for JavaScript"
This will track the work for building a code generator for JavaScript

[2019-08-19 17:35] AlexGhiondea opened #4796 "Build code generator for Python"
This will track the work for building a code generator for Python

[2019-08-19 19:20] sadasant opened #4797 "[KeyVault-Certificates] Replace the updateCertificateOperation with cancelCertificateOperation"
Based on our meeting the 16th of August.

[2019-08-19 21:57] sadasant commented on #4626
Our polling core utility is available inside core-arm's "IroPollStrategy" and IroPoller": https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/core/core-arm/lib

As per @bterlson, core-arm is intended to be used only by management plane libraries. For data plane libraries, we will need to make a new package only focused on polling, which he recommends that should be called "core-lro".

With t

[2019-08-19 21:58] sadasant commented on #4626
Waiting for review from @jonathandturner before bumping up the estimate.

[2019-08-19 22:08] AlexGhiondea commented on #4796
Closing in favor of https://github.com/Azure/azure-sdk-for-python/issues/6859

[2019-08-19 22:08] #4796 closed

[2019-08-19 22:09] bterlson commented on #4626
LROs should be fully spec'd out, but do need an implementation. @daviwil was looking into this at one point as well. Idea was to create a vastly simpler poller that can serve as both the LRO poller for data plane libraries and the base class for the more "fully featured" poller in core-arm.

[2019-08-19 22:19] sadasant commented on #4626
I will get in touch with @daviwil !

[2019-08-19 22:26] HarshaNalluru opened #4799 "[Cosmos] Update readmes with missing headers"
Build failed because of the missing headers in test/readme

[code]

#4798 Ignores this check.

Update Readme.md files by adding the missing headers.

[2019-08-19 22:32] sadasant commented on #4386
Made a PR here: https://github.com/Azure/azure-rest-api-specs/compare/master...feature/no-azure-arm?quick_pull=1 but I'm not sure what's the goal.

[2019-08-19 23:16] sadasant opened #4800 "[KeyVault-Certificates] Add more tests"
We need to have tests for:

- Merging certificates.
- Updating a certificate's policy, issuser, opperation and contacts.
- Restore a certificate (couldn't test it, it was taking forever).

[2019-08-19 23:33] sadasant commented on #4626
Just confirmed with David Wilson that he hasn't been able to start with this effort, so I will start this week!

[2019-08-19 23:51] sadasant opened #4803 "[KeyVault] API inconsistencies"
| Purpose | -keys | -secrets | -certificates | Needs update |
| ---         | ---     | ---         | ---              | ---                  |
| Create   | createKey | setSecret | createCertificate | ???   |
| Create parameters | name: string, keyType: JsonWebKeyType, options?: CreateKeyOptions | secretName: string, value: string, options?: SetSecretOptions | name: string, options?: KeyVaultClien

[2019-08-19 23:51] sadasant opened #4804 "[KeyVault] API inconsistencies"
- KeyVault-Keys uses updateKey.
- KeyVault-Secrets uses updateSecretAttributes.
- KeyVault-Certificates uses updateCertificate.
- KeyVaut-Secrets uses getSecret(name, { version: stirng }):
- KeyVault-Certificate uses getCertificate(name, version: stirng);

More inconsistencies soon...

[2019-08-19 23:51] sadasant commented on #4804
Duplicate of: https://github.com/Azure/azure-sdk-for-js/issues/4803

[2019-08-19 23:51] #4804 closed

[2019-08-20 00:00] JianqinWang opened #4805 "set container acl - start + expiry"
- **Package Name**: @azure/storage-blob
- **Package Version**: 10.4.0
- **Operating system**: MacOS Mojave
- [x] **nodejs**
    - **version**: v10.16.0
**Describe the bug**
For set container ACLs, there is a behavior discrepancy.
When using az cli, the older node client `azure-storage`, as well as the Azure portal UI, I am able to set access policies that look like such:
[code]
I can set only star

[2019-08-20 00:05] zhusijia26 commented on #4634
Close the issue due to idle time. Please reopen if there is quesiton.

[2019-08-20 00:05] #4634 closed

[2019-08-20 03:49] christopheranderson opened #4808 "Change Feed Processor support"
Support the equivalent of Change Feed Processor in JS lib

## Problem

Reading changes across many partitions in a reactive way is difficult to do because you can only query by partition key.

## Proposed solution

Change Feed Processor pattern allows for subscribing on all changes across many machines, for better throughput.

## Next steps

- [ ] Implement initial support

[2019-08-20 03:53] christopheranderson opened #4809 "Support default Request/Feed options at each object level"
If you're setting request or feed options, it's fairly frequent that you ALWAYS want to set them for that particular target, especially once we split (Paritioned) Container from NonPartitionedContainer so it'll be less often you need to dynamically touch the parittionkey/etc.

[2019-08-20 04:21] christopheranderson opened #4826 "Partition Key Range token support"
## Problem

Some operations (especially feed operations) benefit from parallelism across a range of partition keys, rather than a single partition key. The SDK doesn't currently support this. (Previously we supported it, but in a very error prone fashion)

## Solution

Expose an API get "partitionKeyRangeTokens" which represent a range of partition keys (rather than a specific physical node id).
A

[2019-08-20 05:56] HarshaNalluru commented on #4743
#4741

[2019-08-20 05:56] #4743 closed

[2019-08-20 12:00] lakshaygaur opened #4829 "[containerservice] unable to create aks cluster"
Hi,
Im trying to create an aks cluster ( not container service which is going to be retired on jan,2020). Is this feature yet supported by azure sdk ?

[2019-08-20 13:33] #4829 closed

[2019-08-20 17:49] YoDaMa opened #4830 "Storage Blob Advanced Sample: request failed, reason: getaddrinfo ENOTFOUND"
- **Package Name**: storage-blob
- **Package Version**: 6.9.2
- **Operating system**: Windows
- [x] **nodejs**
    - **version**:  10.15.3

**To Reproduce**
Steps to reproduce the behavior:
1. Run the advanced.js sample, with an Azure Storage V2 Account.

**Error**
request to https://******* failed, reason: getaddrinfo ENOTFOUND ****.blob.core.windows.**** ****.blob.core.windows.*****:443

[2019-08-20 18:09] kayousef commented on #4221
@v-jaswel Thanks for reporting the issue. The issue is fixed from LUIS side. The SDK should work normally now.

[2019-08-20 18:09] #4221 closed

[2019-08-20 18:11] Connor-Wood commented on #4737
My understanding is that we would fail to complete/abandon/defer/deadletter the already received messages after calling close()

[2019-08-20 18:23] YoDaMa commented on #4830
Update: not a bug. I used a storage key instead of a SAS token.

[2019-08-20 18:23] #4830 closed

[2019-08-20 19:31] kurtzeborn commented on #2783
Moving this to the unified pipelines epic.  We have smoke tests in place for all libraries now, and we want to figure out the right way to incorporate some library validation into the release leg of our universal pipelines.

[2019-08-20 19:51] sadasant opened #4832 "core-lro epic"
- [ ] Create a new package called core-lro based on the LRO polling strategies in core-arm (Minimal setup, no README or samples) (#4900)
- [ ] Update core-arm to use then new core-lro (#4835)
- [ ] Use core-lro from keyvault-certificates. Add tests and samples (#4626)
- [ ] Complete core-lro with a standard README, samples, tests and a browser build (#4901)

[2019-08-20 19:56] sadasant opened #4833 "[KeyVault] Create KeyVaults for each parallel test environment"
Create separate keyvaults for each keyvault-* package, for each test environment (Node versions, browsers and OSs).

[2019-08-20 20:00] sadasant opened #4834 "[KeyVault] Add separate client for service crypto"
Add separate client for service crypto.

[2019-08-20 20:06] sadasant opened #4835 "[core-arm] Use core-lro"
Make use of core-lro.

Needs this issue to be resolved first: https://github.com/Azure/azure-sdk-for-js/issues/4832

[2019-08-20 20:31] sadasant commented on #4626
I made these issues to track the LRO effort:
- For Preview 3: Make a new package for core-lro (#4832).
- For Preview 4: Move core-arm to use core-lro (#4835).

I will have a meeting today with Vinay to discuss our current API and I'll make another issue that will deal with missing API features, with references or description of the samples we want to be able to have and tests. I'll come back with

[2019-08-21 00:21] #4732 closed

[2019-08-21 00:35] sadasant commented on #4626
Talked with Vinay. What needs to be done here in keyvault-certificates is:

- Make a sample where we create a certificate, then use core-lro to wait until it finishes being created.
- Make a test where we create a certificate, then use core-lro to wait until it finishes being created.

[2019-08-21 02:06] XiaoningLiu commented on #4805
@JianqinWang Start and Expiry are defined as required parameters in V10. Will double confirm.

[2019-08-21 02:44] weswigham opened #4841 "@azure/graph GraphRbacManagementClient.applications.create with password is nonfunctional against https://graph.microsoft.com/beta/"
- **Package Name**: @azure/graph
- **Package Version**: 5.0.0
- **Operating system**:
- [x] **nodejs**
    - **version**: 12.7.0

**Describe the bug**
After patching #4730 locally so the graph client doesn't send an `apiVersion` query parameter, the types for an application `PasswordCredential` don't match up with what the server expects in an application create request, resulting in a request err

[2019-08-21 03:34] weswigham opened #4842 "@azure/arm-resources backend doesn't accept an app id"
- **Package Name**: @azure/arm-resources
- **Package Version**: 1.1.0
- **Operating system**: windows
- [x] **nodejs**
    - **version**: 12.7.0

**Describe the bug**
Invoking `ResourceManagementClient.deployments.createOrUpdateAtSubscriptionScope` with an `appId` generated via `@azure/graph` in uuid form results in an error from the server akin to
[code]

**To Reproduce**
Steps to reproduce the b

[2019-08-21 03:40] XiaoningLiu commented on #4805
Will be fixed in 10.4.1

[2019-08-21 03:54] weswigham commented on #4842
Update: Thanks to much sleuthing, I have determined the cryptic serialization error message is caused by the `parameters` "key value pairs" being in the wrong format - they need to be in a format akin to the one specified for [parameter files](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-deploy#parameter-files), so `appId: { value: "..." }`.

So while there

[2019-08-21 11:26] trebler opened #4843 "@azure/arm-containerservice listOrchestrators method does not work (wrong api version)"
- **Package Name**: @azure/arm-containerservice
- **Package Version**: 9.0.0
- **Operating system**:
- [x] **nodejs**
    - **version**: 10.16.3
- [x] **typescript**
    - **version**: 3.5.3

**Describe the bug**
Calling method `.containerServices.listOrchestrators` of `ContainerServiceClient` results in error being thrown:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Execute the foll

[2019-08-21 14:04] kumarunster opened #4844 "ManagedIdentityCredential cannot handle response from golden host, because of wrong content type"
- **Package Name**: @azure/identity
- **Package Version**: 1.0.0-preview.2
- **Operating system**: linux
- [X] **nodejs**
    - **version**: v12.8.0
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 3.2.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2019-08-21 15:24] kumarunster opened #4845 "No chance to debug/log http pipeline policies, because log method is not called"
- **Package Name**: @azure/core-http
- **Package Version**: 1.0.0-preview.2
- **Operating system**: linux
- [X] **nodejs**
    - **version**: v12.8.0
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 3.2.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe th

[2019-08-21 17:08] #4721 closed

[2019-08-21 20:37] HarshaNalluru opened #4846 "[Keyvault] AAD setup - CLI command fails - "set" vs "create""
Update

to

[2019-08-21 21:14] HarshaNalluru opened #4847 "[Cosmos] Cosmos Pipelines - `Copy packages` step fails in `Build` job"
https://dev.azure.com/azure-sdk/public/_build/results?buildId=93177&view=logs&j=ca395085-040a-526b-2ce8-bdc85f692774

/cc @KarishmaGhiya

[2019-08-21 21:31] sadasant opened #4848 "[KeyVault] Add how to use the templates to the README"
Daniel Jurek is adding templates to automatically create KeyVaults for our CI tests. These templates will live in our repository, and it will be possible for anyone to use them to make their own resources. We should update the README with instructions on how to use these templates as a way to help people to run our tests, which will therefore reduce the complexity of participating in our repos.

[2019-08-21 21:38] #4784 closed

[2019-08-21 21:52] kurtzeborn commented on #1998
This should use release tags instead of pointers to any branch to ensure that the source matches what was actually released.

[2019-08-21 21:59] kurtzeborn commented on #1304
This account had an invite out for read access to the repo, but didn't actually have access.  I've canceled the invite and I'm closing this issue.

[2019-08-21 21:59] #1304 closed

[2019-08-21 22:14] JianqinWang commented on #4805
thanks!

[2019-08-21 22:18] kaerm commented on #4841
Hi @weswigham we labeled the issue so that the right team can find it. Thanks

[2019-08-21 22:19] kaerm commented on #4842
Thanks @weswigham for reporting this as well, tagging the right teams

[2019-08-21 22:24] kaerm commented on #4843
Hi @trebler thanks for reporting this, tagging the right team to take a look at this.

[2019-08-21 22:25] kaerm commented on #4844
Thanks @kumarunster for reporting the issue, our team will take a look at this

[2019-08-21 22:28] kaerm commented on #4845
Thank you @kumarunster for reporting this. cc: @ramya-rao-a

[2019-08-21 22:57] bterlson opened #4849 "Inline options documentation"
The docs on docs.microsoft.com as well as azure.github.io/azure-sdk-for-js need to do a better job presenting options. The options for a method should be documented along with the method itself, not behind an indirection that requires clicking on a strange sounding type name.

[2019-08-21 23:21] HarshaNalluru opened #4850 "Record And Playback - Breaking changes in mocha@6"
Recorder assumes the absence of "currentTest" property in the Mocha.Context for `before` section.

While this is true in mocha@5, mocha@6 came up with the new "currentTest" property even for the `before` section.

/cc - @mikeharder

[2019-08-22 00:52] ramya-rao-a opened #4852 "Release Event Hubs Track 2 Library Preview 4 for JavaScript"
For general summary & goal, please see: [Release Event Hub Track 2 Library (#442)](https://github.com/Azure/azure-sdk/issues/442)

The work items linked to this issue herein represent the tasks needed to produce the 4th preview for the "track two" Event Hubs client library.

## API Design Review with the Board
- [x] Create and send batch

## Features
- [x] Act on feedback from API review board for

[2019-08-22 10:30] funkydev commented on #4774
In my opinion that should be implemented as soon as possible. Your team says that `@azure/ms-rest-nodeauth` will be deprecated soon and `@azure/identity` doesn't support all functionalities.

Interactive authentication is the only one method, which you can authenticate AAD user with 2FA configured.

[2019-08-22 11:32] kumarunster opened #4855 "ManagedIdentityCredential cannot ping golden host directly after container start, because of hardcoded timeout of 500ms"
- **Package Name**: @azure/identity
- **Package Version**: 1.0.0-preview.2
- **Operating system**: linux
- [X] **nodejs**
    - **version**: v12.8.0
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 3.2.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2019-08-22 12:44] daviwil commented on #4855
Thanks for the thorough report!  I'll discuss increasing the timeout and making it configurable with some folks here so that we can include the fix in a future preview release.

I'll also make sure that Identity has a useful amount of logging before we take it out of Preview.

[2019-08-22 12:46] daviwil commented on #4844
Thanks again for the extremely helpful report, @kumarunster!  I'll add `text/plain` as one of the expected JSON content types as you mentioned here.

In the future if you'd like to submit a PR to fix an issue you find, we'd be happy to accept it!

[2019-08-22 12:55] daviwil commented on #4774
Hi Kacper, let me clarify what I was telling the PR author in https://github.com/Azure/ms-rest-nodeauth/pull/75#issuecomment-519198541:  we aren't deprecating `ms-rest-nodeauth` anytime soon, I was merely letting the author know that we are focusing our attention on `@azure/identity` at the moment.

Regardless of what I said there, we are taking steps to ensure that `ms-rest-nodeauth` [remains com

[2019-08-22 13:10] kumarunster commented on #4844
@daviwil thanks for feedback. I'll try to provide a PR next time

[2019-08-22 15:22] #4658 closed

[2019-08-22 16:06] ramya-rao-a opened #4856 "[Event Hubs] Better error messages when constructing client"
- Connection string without EntityPath, and no event hub name parameter
     - The error message talks about `path`, but it should talk about `eventHubName` instead.
     - This error is coming from `core-amqp` and therefore the word `path` is used. But this can confuse our users. Therefore, even if parameter checks are made in core-amqp, we should do our own checks in Event Hubs so that we can pr

[2019-08-22 16:33] schaabs commented on #4803
I would suggest the following.

| Purpose | -keys | -secrets | -certificates | Needs update |
| ---         | ---     | ---         | ---              | ---                  |
| Create   | createKey | setSecret | createCertificate | I would suggest no change.  If we absolutely believe they have to be consistant, then I would change setSecret to createSecret, but setSecret is consistent with all th

[2019-08-22 16:53] sadasant opened #4857 "[KeyVault] Fix tests that expect a minimum size"
We have a couple of tests that measure the API results wrongly. Let's just expect that the size is above zero.

[2019-08-22 17:25] southpolesteve opened #4884 "Failing Cosmos VALUE Query"
SELECT VALUE IS_PRIMITIVE(r["Enrich"]["BotInfo"]["ModelCandidate"]) FROM r

Results in `Cannot set property 'headers' of undefined`

Repros in the portal and locally

[2019-08-22 17:29] YoDaMa opened #4858 "[storage-blob]: createBlobServiceWithSas API"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
In the old Storage-Blob API, there was a call `createBlobServiceWithSas` which would take as input a `hostName` and `sasToken` and return a `blobService`.

In the new API, the same call takes multiple l

[2019-08-22 19:01] daviwil commented on #4386
OK, I think this change can't actually be done without making changes to `autorest.typescript`:

The KeyVault libraries depend on generated request paging methods ending in `*Next` like [`getKeyVersionsNext`](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-keys/src/index.ts#L752) to provide API methods that can return async iterators over the results.  These methods cur

[2019-08-22 19:17] ramya-rao-a opened #4860 "[Event Hubs] Improve error message when missing parameters"
In the UX study, when the user was using Javascript to write their code, there are higher chances of them getting the `Missing parameter parameter-name-here` error.

This error message doesnt contain the method name at the moment and expects user to figure out the method name from the call stack.

We can make it easier for the user by including the method name in the error messages. For example:

[2019-08-22 19:29] funkydev commented on #4774
That's clear now. Thank you @daviwil.

I wanted that information to know, how should I have to plan my work. I'm working on a project which needs Interactive Authentication support and now I know what is going on.

I'm waiting for any updates 👀

[2019-08-22 19:48] bterlson commented on #4860
Sounds like a great guideline to me. One concern: it seems ambiguous which parameter was missing. Given a signature like `foo(a: string, b: number)` and user code like `foo(10)`, we'd probably say missing parameter `b` while the user thinks they passed it in. Did anything like this show up at all with the current error message?

Another option is to give an arity-related error: `createConsumer cal

[2019-08-22 20:35] HarshaNalluru commented on #4850
Port the changes from the PR - https://github.com/Azure/azure-sdk-for-js/pull/4859 to the new common recorder to make it work with mocha@6

[2019-08-22 20:52] HarshaNalluru commented on #4850
604b420ac35e4bed8b6b25cde4bde9e632f7f500

[2019-08-22 22:36] chradek opened #4868 "[Event Hubs] Update APIs to include examples"
Many of our APIs specify interfaces for parameters or return values. This can be confusing for non-TypeScript users that may interpret these as classes.

We should include examples for our public-facing methods to make it clear what can be passed in.

We can also include examples on our interfaces that show how they can be constructed as objects.

[2019-08-22 23:19] chradek opened #4869 "[Event Hubs] shorten receiveBatch wait time after receiving some messages"
The `receiveBatch` allows the user to specify both the max number of messages and the max wait time. Currently, the operation won't return until _either_ the max number of messages have been received, or the max wait time has elapsed.

Instead, once we've received at least one message, we should shorten the remaining wait time to shorter of:
 - remaining time left on maxWaitTime
 - 2 seconds

[2019-08-22 23:48] kurtzeborn commented on #3968
We're not going to write an OCR tool for this.  Next time you have to go through this, please come talk to me or someone on my team and we'll work with you to figure out the best option here.  I agree it shouldn't be as difficult as you experienced.  However, I want to understand the problem better since this issue is tracking a possible solution without fully explaining the problem.

Please just

[2019-08-22 23:48] #3968 closed

[2019-08-22 23:52] kurtzeborn commented on #4087
@danieljurek I'm adding this to the standardize tests epic.  Please work with Daniel to find the right place to add this to the team wiki under the test guidelines you've been collating.

[2019-08-23 00:50] HarshaNalluru commented on #3939
#4281

[2019-08-23 00:50] #3939 closed

[2019-08-23 00:51] HarshaNalluru commented on #4850
#4281

[2019-08-23 00:51] #4850 closed

[2019-08-23 00:52] HarshaNalluru commented on #4240
#4281

[2019-08-23 00:52] #4240 closed

[2019-08-23 00:53] HarshaNalluru commented on #4284
#4281

[2019-08-23 00:53] #4284 closed

[2019-08-23 00:54] HarshaNalluru commented on #4276
#4281

[2019-08-23 00:54] #4276 closed

[2019-08-23 01:41] #4847 closed

[2019-08-23 02:05] #4805 closed

[2019-08-23 03:39] sadasant opened #4872 "[KeyVault] Make sure our repos follow the new recorder guidelines"
The new recorder has detailed guidelines with best practices. We might not be following them. For example, we're using a custom function to generate a unique string, while the new recorder has this: https://github.com/Azure/azure-sdk-for-js/blob/9789a27adc6b145c20982c2006fc50a85930be89/sdk/test-utils/recorder/src/recorder.ts#L94

Guidelines: https://github.com/Azure/azure-sdk-for-js/blob/master/sd

[2019-08-23 14:38] sadasant commented on #4625
It seems fine! Can we close this?

[2019-08-23 14:58] sadasant commented on #4803
@schaabs Based on that, is it ok if I only use the last suggestion? I think that's the one that will be most impactful. The first two don't seem to really affect the user, but I believe it was great to discuss this, for the record.

[2019-08-23 15:03] sadasant commented on #4803
Ooh we already had GetCertificateOptions! Interesting.

[2019-08-23 15:14] sadasant opened #4876 "[KeyVault] Remove the tests that remove all the available records"
Also remove the mention of this issue on the respective readmes.

Once we have [the templates in the README](https://github.com/Azure/azure-sdk-for-js/issues/4848) we won't need these deletion tests, since the target keyvaults will always be clean.

**IMPORTANT:** After this cleanup, we should mention that the test might fail if the user doesn't create a new keyvault with the template for each tes

[2019-08-23 15:24] sadasant opened #4877 "[KeyVault] Study why tests fail on a polluted KeyVault"
Our tests that involve listing records fail if a KeyVault has many pre-existing items. We've gone around this issue, but we should study what's going on.

[2019-08-23 15:51] sadasant opened #4879 "[Record and Playback] Optimizations on new recordings"
When small changes happen in the tests, they generate snapshots that might not be necessary to add as changes to the repository, since they only consist on minor variations that are irrelevant to the tests, such as a date change or the value of a temporary token. See the screenshot below:

![SharedScreenshot](https://user-images.githubusercontent.com/417016/63605567-3833ce00-c59c-11e9-9f9b-e419c2f

[2019-08-23 18:29] axisc commented on #3764
@dlukianenko

We will need to access the service logs for the specified namespace to debug the root cause of the delay in completing the message.

In the meantime, there are some options
   * Increasing the operation timeout (in other lang clients, the default timeout is 60 seconds)
   * Rely on retry logic

I'm closing the issue for now. Please feel free to reopen if you still have questions.

[2019-08-23 18:29] #3764 closed

[2019-08-23 21:19] sadasant commented on #4872
With this issue, follow up and resolve the feedback here: https://github.com/Azure/azure-sdk-for-js/pull/4883

[2019-08-24 21:47] #4640 closed

[2019-08-25 21:26] ljgago opened #4890 "[storage-blob 12 preview] Error using BlobServiceClient on production app"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.0.0-preview 1 and 2
- **Operating system**: Ubuntu 18.04
- [x] **nodejs**
    - **version**: 12.9.0
- [x] **browser**
    - **name/version**: Chrome Versión 76.0.3809.100
- [x] **typescript**
    - **version**: 3.5.3

**Describe the bug**
I am working with react and azure storage blob.
On build the project for production with `yarn

[2019-08-26 06:36] gluwer opened #4891 "Cosmos DB - ParallelQueryExecutionContextBase gets Maximum call stack size exceeded"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.1.1
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 12.2

When trying to execute a query like:
`SELECT TOP 50 * FROM c WHERE STARTSWITH(c.name, @value) AND c.type = 'z' ORDER BY c.name` there is exception Maximum call stack size exceeded. Query is executed with option `enableCrossPartitionQuery: true`. Removing the ORDE

[2019-08-26 18:16] mikeharder opened #4895 "[Cosmos] Update dependencies to latest"
Unless there is an exception, all runtime and dev dependencies should use caret (`^`) and the latest major version.  The following changes should be made to the Cosmos `package.json`:

* [x] Prepend a caret `^` to all dependencies
* [x] Update the following dependencies to the latest version
  * [x] execa 1.0.0 (2.0.4 is available)
  * [x] universal-user-agent 2.1.0 (4.0.0 is available)
  * [x] ty

[2019-08-26 18:35] mikeharder opened #4897 "Align npm scripts across all track 2 packages"
The npm scripts (e.g. `build`, `test`, `pack`) should be aligned across all track 2 packages.  Currently, there is significant variation across packages for a given script.  For example, some packages may always run `build` before `pack`, while others assume it is the developers responsibility to run `build` before `pack`.

I believe we should use the principle that each npm script does the minimu

[2019-08-26 21:58] sadasant opened #4900 "Create a basic usable package for core-lro"
Follow the guidelines, but forget documentation and samples initially. Let's do that as part of another issue, to keep PRs as clean as possible.

[2019-08-26 22:01] sadasant opened #4901 "[core-lro] Add documentation, samples and tests"
Polish the core-lro package so that it's ready for users.

[2019-08-26 22:24] sadasant opened #4902 "[KeyVault-Certificates] API changes based on Scott Schaab's feedback"
- [x] createCertificates parameters should be: name, policy, enabled (optional), tags (optional).
- [x] Separate getCertificate into:
    - getCertificateWithPolicy: Doesn't take a version.
    - getCertificate: Version required. Only returns a certificate (no policy).
- [ ] ~See if an enum would work for the KeyUsages, since KeyUsages can only be: NonRepudaition, KeyEncipherment, DataEncipherment

[2019-08-26 23:47] mikeharder opened #4905 "Investigate pipeline caching"
Investigate whether the JS pipelines can use the "pipeline caching" feature to improve build times.

Java PR: https://github.com/Azure/azure-sdk-for-java/pull/5086
Overview: https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/?view=azure-devops

[2019-08-26 23:54] YoDaMa opened #4906 "[storage-blob] environment variable inputs and samples with error handling"
**Environment Variables in Samples**

This one is simple. Rather than having users edit and paste in their Account and Account Key, pass them in as environment variables. This is easy to do when debugging using VSCode, and also takes minimal effort through the command prompt. The benefit is that users will be less likely to publish personal information in files.

**Samples with Error Handling**

I

[2019-08-27 18:08] imalao opened #4910 "Service Bus Queue message deadlettering resulting in InternalServerError"
- **Package Name**:  @azure/service-bus
- **Package Version**: 1.0.3
- **Operating system**: MacOS 10.13.6
- **nodejs**  v10.16.2

**Describe the bug**
A clear and concise description of what the bug is.

I am trying to dead letter messages from a queue but am receiving InternalServerErrors:

[code]

**To Reproduce**
Steps to reproduce the behavior:
Following the sample https://github.com/Azure/az

[2019-08-27 18:48] pnetesa opened #4911 "OperationTimeoutError/"Unable to create the amqp receiver...""
- **Package Name**: @azure/service-bus
- **Package Version**: 1.0.3
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: 10.15.0

Hi guys

In node.js project I'm getting error all the time after approximately one minute idle time waiting for new messages in FIFO queue. And when no messages received **OperationTimeoutError** occurs. Is this a correct behavior? To demonstrate probl

[2019-08-27 22:25] sergsalo opened #4925 "Same SQL query is charged differently using portal vs CosmosClient API"
I noticed that when running simple query in portal.azure.com data explorer - the RUs charge is small. If I use CosmosClient to run the same query - the RUs charge is way bigger. It doesn't happen when my query includes "when c.partitionKey = 'partitionKey' " . Example,

Query:
`select top 100 * from c where startswith(c.id, 'groups') and c.state = 'open' order by c.updated`

RUs in portal: 9
RUs u

[2019-08-27 23:22] bterlson opened #4917 "Consider removing dependency on xmlbuilder and xml2js"
These are huge dependencies of which we use a small fraction. Additionally, these libraries are not optimized for browser bundle size, resulting in a fairly hefty bundle. Also, these libraries suffer from circular reference issues that make bundling difficult, especially with Rollup.

Other possibilities:

* Swap out these libraries for other libraries that better meet our needs
* Implement our ow

[2019-08-28 00:34] mikeharder opened #4918 "[core-http] Expose NodeFetchHttpClient and fetch options"
I would like to create a `BlobClient` which allows self-signed SSL certificates.  I believe this would be fairly easy if `core-http` exposed `NodeFetchHttpClient` and allowed setting the fetch options, like so:

[code]

See this issue for how to set `rejectUnauthorized` on `node-fetch` itself: https://github.com/bitinn/node-fetch/issues/15

While my scenario is specific to `rejectUnauthorized`, I

[2019-08-28 02:33] v-dantch opened #4921 "[Intermittent]Pop up an error when creating a new Linux web app when another creation is in progress"
**Extension:** [App Service Extension](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azureappservice)
**OS:** Windows_NT x64 10.0.17763
**Node.js:** 10.11.0

### **VS Code Insiders Info:**
**Electron:** 4.2.9
**Chrome:** 69.0.3497.128
**Version:** 1.38.0-insider (user setup)
**Commit**: 8cd00a7935eabef4aad0b0130b1d46daca0a47aa
**V8**: 6.9.427.31-electron.0

**Repro Steps

[2019-08-28 07:09] sarink opened #4923 "SAS Storage Blob Connection string?"
How do you connect via a connection string with SAS? The current examples only show something like,
[code]
or
[code]
Where/how do you get a "url including SAS signature"?

And where does the SAS Token get used?

[2019-08-28 09:24] sarink commented on #4923
Update: I was able to figure this out, I just didn't fully understand how all these pieces fit together, and the docs don't explain things very well. In case it helps anyone:
[code]

[2019-08-28 10:43] gluwer commented on #4891
Hi, the query has most of the time a pretty long name so in 9 of 10 cases there is only one row returned and the call stack exceeded happens also in this case. I do not think it is the too much data issue because in this case order by shoudn't have any that big impact. I suppose that with parallel without order by it just skips the OrderByQueryExecutionContext, so maybe there is an issue.

In the

[2019-08-28 12:17] pnetesa commented on #4911
Sorry, had to delete repository since there is confidential code. Hopefully registerMessageHandler() is the solution which will work for us.

[2019-08-28 12:17] #4911 closed

[2019-08-28 19:21] sarink commented on #4923
@HarshaNalluru is 12.0.0-preview.2 production ready/stable?

[2019-08-28 19:23] sarink commented on #4923
Also, it appears that my code still doesn't work for uploading an image. If you put the SAS Token in the query parameter like that, it looks like it just gets stripped out anyway?

I cannot figure out how to make browser uploads work with SAS. Is there an example anywhere?

[2019-08-28 20:17] sarink commented on #4923
@HarshaNalluru wow... v12 is like _another_ complete rewrite? Looks like....
[code]
None of these exist anymore? I literally just moved from the "legacy SDK", am I already writing outdated code?

[2019-08-28 21:27] southpolesteve commented on #4925
I have a couple more things to try
- Can you try it without TOP? Just use fetchNext() until you have 100 results and add up the returned request charges.
- Set maxItemCount to 100 in the SDK and see if the results are the same. The default maxItemCount in the portal = 100. The SDK has no default which means the backend decides.

[2019-08-28 21:58] sergsalo commented on #4925
first request matches both in Portal and in app using fetchNext() with 100 results and uses about 20 RUs. Apparently portal keeps the connection open because subsequent calls to "Load More" in portal use about 9 RUs, where for the app it is a restart of iterator...

[2019-08-28 23:36] ramya-rao-a commented on #1277
@ramya0820 Am closing this issue as you now have an understanding of how this is implemented in the older azure-sb sdk and have a working plan on what needs to be done for the new sdk.

cc @AlexGhiondea

[2019-08-28 23:36] #1277 closed

[2019-08-28 23:51] ramya-rao-a opened #4927 "[Service Bus] Remove dependency on ms-rest-nodeauth"
With https://github.com/Azure/azure-sdk-for-js/issues/4508, we are now adding a dependency on `@azure/core-http`. The Service Bus library already pulls in `@azure/ms-rest-js` as a dependency. Since the two serve the same purpose, it took us down the road of trying to understand if we really need the `@azure/ms-rest-js` dependency.

Turns out the dependency on `@azure/ms-rest-js` dependency got int

[2019-08-29 00:19] ramya-rao-a opened #4929 "[Service Bus] Pipeline policies for ATOM based management api features"
As part of #4508 we are updating `@azure/core-http` to include a policy that can help making http requests to ATOM based management api end points.

This is being done as part of support such apis in Service Bus.
This issue is to figure out which of the pipeline policies apply to such http requests

- The pipeline in core-http supports policies for retries, logging, user agent etc. We should compa

[2019-08-29 01:13] HarshaNalluru commented on #4923
Thanks for the questions, @sarink.

-----------------------------
**Question 1**

Is this with V10? Can you provide a little more info or code so that I can repro the issue on my end?

-----------------------------
**Question 2**

In case you are referring to V10, you can leverage `uploadBrowserDataToBlockBlob`.
You can look at https://github.com/Azure/azure-storage-js/issues/18 or [Wiki - Customi

[2019-08-29 01:15] ramya-rao-a opened #4930 "[Event Hubs] Expose message_annotations as SystemProperties on EventData"
Track 1 .Net & Java SDKs for Event Hubs exposed the `message_annotations` on the AMQP message as `SystemProperties` on the `EventData` class.

In Track 2 we assumed we didnt need this, but now we know that IotHub customers have a use for this as IotHub services adds some extra information via the message_annotations that is useful to customers

This issue is to track the work needed to add the `sy

[2019-08-29 01:29] mikeharder opened #4931 "[KeyVault] Packages do not include browser bundle"
There is a `browser` section in package.json, but the `browser` folder is not included in the `files` section:

https://github.com/Azure/azure-sdk-for-js/blob/e44ecb31a76dd1ea636cd776cafac3addc5046b9/sdk/keyvault/keyvault-keys/package.json#L27-L40

[2019-08-29 01:56] KarishmaGhiya commented on #4192
#4786

[2019-08-29 01:59] bterlson commented on #4917
@johanste do you know how swagger models xml attributes etc.?

[2019-08-29 02:03] johanste commented on #4917
See https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#xmlObject.

[2019-08-29 02:04] kurtzeborn opened #4932 "Support multi-part/mixed content type in Azure.Core"

[2019-08-29 04:28] ramya-rao-a commented on #4910
@imalao In the sample code you have shared, you log at 3 different positions.
- In the catch() for when `deadletter()` fails
- In the catch() for when `abandon()` fails
- The error handler that is passed to `receiver.registerMessageHandler`

It is not clear which of these 3 is logging the error you are seeing. If you are able to consistently replicate this issue, then can you tweak the logs a bit

[2019-08-29 04:33] sarink commented on #4923
@HarshaNalluru the code is the same as above. I've simplified a bit if this helps:
[code]

<img width="1274" alt="Screen Shot 2019-08-29 at 10 02 46 AM" src="https://user-images.githubusercontent.com/1881761/63910405-3064a580-ca44-11e9-899f-9cb07ebbd50e.png">

[2019-08-29 05:34] ramya-rao-a commented on #4748
@ramya0820 Do you recall if you saw this issue with ReceiveAndDelete mode or PeekLock mode?

With ReceiveAndDelete mode, I was replicate this, but soon realized that the program doesn't hang necessarily. The promise does get resolved, but after a very very very long time.
In PeekLock mode, I see no issues.

On further investigation, I found that this was not related to rhea's buffer limit of 2047

[2019-08-29 06:31] XiaoningLiu commented on #4805
10.4.1 was published into npm.

[2019-08-29 07:04] XiaoningLiu commented on #4923
@saasri Your SAS is invalid. A valid SAS sample here:

?sv=2017-04-17&ss=bfqt&srt=sco&sp=rwdlacup&se=2019-09-18T05:33:48Z&st=2017-09-16T21:33:48Z&spr=https,http&sig=S4WFjjmiuWEJTPqhaKeCqU90HQWHKrIqXMiDxXgfK1g%3D

[2019-08-29 07:29] sarink commented on #4923
Original issue was solved by parsing it out myself, and it looks like this is fixed in v12. Next problem was the `sig` parameter not passing through, but it seems that it _does_, so long as your SAS is definitely valid.

[2019-08-29 07:29] #4923 closed

[2019-08-29 08:17] rschili commented on #4890
Seems to be something with webpack, we are facing the same error right now. Excluding this module (and all of its dependencies) from webpack fixes the problem... But that's a bad option. Please investigate

[2019-08-29 10:18] gluwer commented on #4891
The problem seems to be different than I originally thought. The problem is not in the ORDER BY by itself as it now happened also without but with maxItemCount set. Sometimes redoing the query returns value, sometimes it returns the same excpetion (but now without the OrderByQueryExecutionContext part).

[2019-08-29 11:47] kayousef commented on #4189
@v-jaswel I'll close the ticket for now as there has been no response from your side. Please, feel free to reopen the ticket if needed.

[2019-08-29 11:47] #4189 closed

[2019-08-29 12:46] bweggersen opened #4935 "Not all SAS connection strings come with all Endpoints"
I think this regex needs to be relaxed. I have a service that only has a blob endpoint, so the SAS connection string only includes a BlobEndpoint and the SharedAccessSignature. That connection string fails. If I add empty endpoints for the other three (QueueEndpoint, FileEndpoint, TableEndpoint), it passes.

@azure/storage-blob-12.0.0-preview.2

https://github.com/Azure/azure-sdk-for-js/blob/d3971

[2019-08-29 16:43] JianqinWang commented on #4805
thanks!

[2019-08-29 16:53] southpolesteve commented on #4925
@sergsalo you shouldn't need continuation token at all. Just calling `fetchNext()` is enough. The iterator internally maintains its state. FYI we don't support continuation tokens on CP queries in the JS SDK currently. We would like to do it, but don't have an ETA at this time.

[2019-08-29 17:13] ssyrell commented on #4631
@saikrishnav We've gotten around this by referencing keyvault secrets at deployment time. In my ARM template, I'm pulling secrets from keyvault and just setting them as environment variables. Doing this means we don't need this library at all. Documentation can be found here:

https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references

[2019-08-29 18:09] imalao commented on #4910
It's a dead letter error -- thanks!
[code]

[2019-08-29 18:09] HarshaNalluru commented on #4758
#4924

[2019-08-29 18:09] #4758 closed

[2019-08-29 18:25] HarshaNalluru commented on #4935
Thanks for reporting, @bweggersen!
We already have an issue tracking this - https://github.com/Azure/azure-sdk-for-js/issues/4578.
Ongoing PR for the same - https://github.com/Azure/azure-sdk-for-js/pull/4789.

We'll be fixing this in `12.0.0 preview 3` release for the storage-blob, storage-queue and storage-file packages. Thanks.

[2019-08-29 18:27] sadasant commented on #4902
@schaabs KeyUsages is already enum, I think:

https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-certificates/src/core/models/index.ts#L2282

[2019-08-29 19:08] HarshaNalluru opened #4937 "[Cosmos] Setting up DevOps pipelines/jobs"
Pipelines from azure-cosmos-js repo
https://cosmos-db-sdk-public.visualstudio.com/cosmos-db-sdk-public/_build/results?buildId=12569
https://cosmos-db-sdk-public.visualstudio.com/cosmos-db-sdk-public/_build/results?buildId=12568

Pipelines – Setting up DevOps pipelines/jobs for
 a.	building the sdk,
 b.	live tests,
 c.	unit tests(and the emulator)
 d. samples
 e. consumer-tests

[2019-08-29 19:32] #4931 closed

[2019-08-29 21:08] rcoenen commented on #4609
Except for it does not. Now I am getting a "TypeError: PredictionApiClient is not a function"

[2019-08-29 21:09] sergsalo commented on #4925
I need continuation token, because the client will request the next page if he wants to. So, it is up to the client to request the next page of data.

[2019-08-29 21:09] mikeharder opened #4939 "[Event Hubs] Multi-proc Event Hubs perf test"
Use `child_process.fork()` to distribute work to multiple child processes, for a more fair comparison with .NET/Java.

[2019-08-29 21:29] chradek opened #4940 "[Event Hubs] Fix Samples readme"
The `@azure/event-hubs` samples README has a few issues:
1. It states that it is for version 3.0.0 of the SDK, but should say 5.0.0 preview.
2. Installation instructions say to run `npm install @azure/event-hubs`, but should say to run `npm install @azure/event-hubs@next`
3. The README should call out that the samples are meant to be run in a separate project. If a user attempted to clone the repo

[2019-08-29 21:47] southpolesteve commented on #4925
Unfortunately, we don't have that for JS. We have an issue tracking that feature: https://github.com/Azure/azure-sdk-for-js/issues/4815.

We do support CP tokens in the .NET SDK, but I would still advise caution. A few concurrent users executing a CP query can quickly exhaust your RU budget, especially if the data set grows over time. Can you set up the data such that it is not a cross partition q

[2019-08-29 22:13] kurtzeborn commented on #2474
This probably becomes less interesting with the move to unified pipelines because we'll be releasing one package at a time in pretty much all cases.  The situation where we're releasing a group of packages at a time won't exist anymore.

[2019-08-29 22:13] #2474 closed

[2019-08-29 22:35] ramya0820 commented on #4748
@ramya-rao-a The problem was consistently reproducible on multiple runs where messages would stop receiving at 2047 mark. Did you specifically reproduce the not receiving of messages beyond 2047?
If it's a timer issue, then it shouldn't be related to specific number of 2047 right? (Which is rhea's buffer size).
Can you post the sample you are using to test the fix?

[2019-08-29 23:15] ChrisHMSFT commented on #4248
Hi @stephanbisser,

Can you try again with the latest version of this SDK?

https://www.npmjs.com/package/@azure/cognitiveservices-spellcheck

Thanks,
Chris

[2019-08-29 23:52] ramya-rao-a commented on #4748
Yes, I used a number > 2047.
In _ReceiveAndDelte_ mode, I am able to receive more than 2047 messages after a very very long time
In _PeekLock_ mode, I am able to receive only 2047 messages.
But in neither case is the program **hanging**.

Sample code:
[code]

In ReceiveAndDelete mode, I see the below across multiple runs
[code]

In PeekLock mode, I see the below across multiple runs
[code]

With t

[2019-08-29 23:57] ramya-rao-a commented on #4609
The below javascript code runs correctly and logs the api key for me

[code]

Output:
`<your prediction key>`

Are you running javascript or typescript code?

[2019-08-30 00:08] HarshaNalluru opened #4942 "[Storage] Get version bump @azure/storage-blob_10.4.1 changes into feature/storage"

[2019-08-30 00:13] HarshaNalluru commented on #4942
live tests - [file](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=98897&view=results) | [queue](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=98898&view=results) | [blob](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=98896&view=results)

unit-tests - https://dev.azure.com/azure-sdk/public/_build/results?buildId=98895&view=results

[2019-08-30 00:20] #4942 closed

[2019-08-30 01:20] #4939 closed

[2019-08-30 06:11] HarshaNalluru opened #4949 "[Cosmos] Get latest commits from azure-cosmos-js repo"
Porting the latest commits in azure-cosmos-js repo after the migration https://github.com/azure/azure-sdk-for-js/issues/4759 to azure-sdk-for-js repo.

[2019-08-30 06:18] HarshaNalluru commented on #4937
Done with #4881

[2019-08-30 06:18] #4937 closed

[2019-08-30 06:59] HarshaNalluru commented on #3239
Done as part of https://github.com/Azure/azure-sdk-for-js/pull/4828

[2019-08-30 06:59] #3239 closed

[2019-08-30 07:04] HarshaNalluru commented on #1977
Done with #4759

[2019-08-30 07:04] #1977 closed

[2019-08-30 10:10] Saisankeerthpopcorn opened #4950 "Can't find variable:DOMParser"
![Simulator Screen Shot - iPhone 7 - 2019-08-30 at 15 39 20](https://user-images.githubusercontent.com/11170575/64012948-5cfbe880-cb3c-11e9-8afe-0900898290af.png)

We are using this package in react-native v 0.59

[2019-08-30 15:53] danieljurek opened #4952 "Automatic version bump tool for JS"
Bump version according to: https://github.com/Azure/azure-sdk/blob/master/docs/policies/releases.md#javascript

Should fit in the Unified Pipeline model. Need to trace a package back to its package.json

[2019-08-30 22:30] HarshaNalluru opened #4953 "[Cosmos] Fix warnings in the `rush build` script"
https://dev.azure.com/azure-sdk/public/_build/results?buildId=99502&view=logs&j=ca395085-040a-526b-2ce8-bdc85f692774
![image](https://user-images.githubusercontent.com/10452642/64054282-2e314280-cb3b-11e9-836d-a39d88d8ad2e.png)

[2019-08-30 22:32] southpolesteve opened #4954 "Improve Error Message for Cross Partition Order By on Mixed Types"
Current: "Expected Number, but got NoValue."

New Message: "Cannot execute cross partition order-by queries on mix types. Consider using IS_STRING/IS_NUMBER to get around this exception."

[2019-08-30 22:51] ramya-rao-a commented on #4929
After offline discussions with @bterlson, we concluded that most of the pipeline policies do apply to the ATOM based management api features and most will have to be configured as well. Below is the list of policy and a note on whether what we get from user today can be translated internally to a "policy".

- Retry Policy
    - For Track 1, there will be no retry policy as suggested by the service

[2019-08-30 23:30] ramya0820 commented on #4929
Couple of corrections/insights
- `rhea` is AMQP / data plane operations specific and most of the tech around it is not applicable for the current HTTP based operations.
  - For instance, WebSockets protocol is different from HTTP protocol and is better suited for use-cases where server pushes real-time information to clients, such as in case of the data plane operations.
- Older library `azure-sb`

[2019-08-31 00:48] HarshaNalluru opened #4957 "[Storage] Build Failures in the feature/storage branch"
![image](https://user-images.githubusercontent.com/10452642/64057151-48285080-cb4e-11e9-9dbe-7ec103693f2b.png)

https://dev.azure.com/azure-sdk/public/_build/results?buildId=99448&view=logs&j=a97256f3-b8e9-54e2-327d-0de92430fe3f

**Context**
Merged the upstream master into the feature/storage branch recently.
Latest mater branch consisted of changes from cosmos sdk.
Pipeline -  js - storage - ci s

[2019-08-31 03:20] #4797 closed

[2019-08-31 03:20] #4800 closed

[2019-08-31 03:33] sadasant commented on #4625
I'll close this. Please feel free to open it again if there's something missing.

[2019-08-31 03:33] #4625 closed

[2019-08-31 03:40] sadasant opened #4959 "[KeyVault-Certificates] Add samples"
From the tests for now :)

[2019-08-31 03:40] sadasant commented on #4386
Can we close this? or move it to the next release? I'm not sure what's the current action item.

[2019-08-31 18:29] #4161 closed

[2019-09-01 23:09] jonathandturner opened #4961 "[Record and Playback] Filling out README with instructions"
The current record/playback package has a pretty simple README. Other folks would like to use this, too, so we could help them by adding more instructions. Some things that came to mind:

* How to record
* How to playback a test once you've recorded it
* How to use the it from inside of rush
* How to use the it from outside of rush
* How and when tests will be written (or overwritten)
* How to mar

[2019-09-02 06:21] XiaoningLiu commented on #2802
`@azure/storage-blob` 10.4.1 already support keep alive options. It's enabled by default.

[2019-09-02 06:21] #2802 closed

[2019-09-02 06:21] #3336 closed

[2019-09-02 06:31] XiaoningLiu commented on #4719
@mjrousos You can customize `options.maxSingleShotSize` of `uploadFile` . Be default it's 256MB. You can give it a smaller value like 4MB, then it will upload by 4MB block per request, and update progress only when each 4MB finished uploading.

[2019-09-02 06:39] XiaoningLiu commented on #4717
@mjrousos It's by desing to be readonly for options. Because underlayer code does't keep a reference to the original retry policy options. See https://github.com/Azure/azure-sdk-for-js/blob/c7ce347e0248916d9b41f8119a371f2d41f2a277/sdk/storage/storage-blob/src/policies/RetryPolicy.ts#L86

Is any reason for this requirement?

[2019-09-02 06:41] XiaoningLiu commented on #4890
@ljgago Will v10 @azure/storage-blob package has this issue?
@HarshaNalluru Do you have time take a look?

[2019-09-02 06:43] XiaoningLiu commented on #4906
@HarshaNalluru Do you have time for sample update about error handling in track2?

[2019-09-02 06:45] XiaoningLiu commented on #4858
@YoDaMa We are working on v12 which introduced lots of convenience improvements. You can do this simply like

[code]

[2019-09-02 13:37] ljgago commented on #4890
@XiaoningLiu the @azure/storage-blob V10 has not this issue.

[2019-09-03 05:28] tonytamps commented on #2933
Hi @Kirushanr - I've encountered the same error and am curious why you closed this?
Did you solve it?

[2019-09-03 14:28] mjrousos commented on #4717
I see. Thanks for explaining, @XiaoningLiu. There's no scenario where this is required since there are simple work-arounds, I just had a use case where I created `RetryOptions` and wanted other code to have an opportunity to change them before creating the `RetryPolicy`. This can be done by creating new retry options but it seemed strange that that was necessary for `RetryOptions` and not for othe

[2019-09-03 14:30] mjrousos commented on #4719
Even with the default settings, though, the callback is called many times before any data has actually uploaded, which is misleading. With a block size of 256MB I would expect that the progress callback shouldn't be called until 256MB (or the entire file if it's smaller than that) has uploaded.

[2019-09-03 15:22] ramya-rao-a opened #4963 "[Event Hubs] Updates to EventProcessor post UX Study"
We had a UX Study for the new Event Hubs library where we saw a bigger success in user understanding the usage of the EventProcessor after we replaced the factory model for Partition Processor that returned objects with the concept of having a base class defined that the user can extend.

Though in the Javascript community one can create objects far easier than classes and would prefer the same, t

[2019-09-03 16:37] sdnetwork opened #4964 "[storage-blob][APPENDBLOCK] Memory Leak"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.0.0-preview.2
- **Operating system**: ALL
- [ ] **nodejs**
    - **version**: 10.15.3

**Describe the bug**

when you append a block to appendblob, the memory increase at each append to finally reach the limit of process

**To Reproduce**
Steps to reproduce the behavior:
1. just append a block to an appendblob

[2019-09-03 16:44] kurtzeborn commented on #4957
@KarishmaGhiya I believe you're already working on this, so assigning it to you and moving to the Dev column in ZenHub.

[2019-09-03 16:51] kurtzeborn commented on #4666
Sending this to the client team to confirm it's the right path and implement if so.

[2019-09-03 16:59] bterlson opened #4965 "[Identity] MSI doesn't work with Function Apps, expires on date format is incorrect."
- **Package Name**: @azure/identity
- **Package Version**: 1.0.0-preview.2

**Describe the bug**
DefaultAzureCredential and ManagedIdentityCredential do not handle the expires on date format provided by MSI on Azure Function Apps (and possibly Azure App Service as well). It sends a date format like `MM/DD/YYYY H:MM:SS AM/PM +MM:SS` but expects a date format matching the regexp `/(\d\d)\/(\d\d)\/(\

[2019-09-03 17:00] chevtek opened #4966 "Blob metadata from getProperties has lowercase keys while including metadata when listing blobs preserves the original casing."
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.0.0-preview.2
- **Operating system**:
- [x] **nodejs**
    - **version**: 10.16.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2019-09-03 17:15] HarshaNalluru commented on #4961
[sdk/test-utils/recorder/GUIDELINES.md](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/test-utils/recorder/GUIDELINES.md) document discusses some of the points you've mentioned.

[2019-09-03 17:37] schaabs opened #4968 "Remove SimpleTokenCredential from @azure/core-auth"
The SimpleTokenCredential class is an anti-pattern which we don't want to encourage, and is contrary to the Azure SDK Guidelines as it does not allow for refreshing of the token.

This class could be implemented by someone easily on top of TokenCredential, but it is not a type we should expose from our libraries.

[2019-09-03 17:50] jonathandturner commented on #4961
@HarshaNalluru - Ah okay. These instructions should be part of the README itself, so they can be easily found. If you want, you could but all the basic instructions in the README and then link from there to more advanced instructions in a separate markdown file.

[2019-09-03 18:27] andreujuanc commented on #3116
We are very interested in this. Subscribing to the thread.

[2019-09-03 18:31] kurtzeborn opened #4969 "Sort out npmjs permissions for the @azure org"
The `@azure` org on npmjs.com should only have azure-sdk libraries in it (as it does today).  Other orgs should be created for other stuff not directly related to azure sdk libraries for customers (examples `@autorest`, `@azure-tools`).  Since all azure sdk library packages are released using the azure-sdk account on npmjs, there should be no reason for other users to be in that org.

## Things to

[2019-09-03 18:51] HarshaNalluru commented on #4694
### Migration
- [x] 1.	Delete existing cosmos(v2) from the azure-sdk-for-js repo - #4743
- [x] 2.	Migrate cosmos v3(master branch) from the azure-cosmos-js repo to the azure-sdk-for-js repo  - #4759
  - [x] a.	Ensure the builds, live tests succeed
- [ ] 3.	Cleanup for files
  - [x] a.	Update rollup, karma.config and any test framework related things as needed
  - [ ] b.	Update License headers
  -

[2019-09-03 18:58] jonathandturner commented on #4844
@kumarunster - I'm currently looking into this issue and I wanted to clarify some of the details as part of the fix.

1) What is Golden Host? I'm not familiar with it.  Is it a service you're using together with Azure?
2) Do you know why Golden Host doesn't give the correct MIME content type for the data it's sending?  We can add support for text/plain, but this might cause problems with other sys

[2019-09-03 19:39] kumarunster commented on #4844
Hi @jonathandturner , thanks for looking into this.
1: We've used this terminology for key servers in our infrastructures. It is similar to a [Jump Server](https://en.wikipedia.org/wiki/Jump_server). Here, for my understanding the Golden Host is everything under the ip adress 169.254.169.254, which is THE single point for auth in azure network for managed identities. It is also the server, which i

[2019-09-03 19:47] matheuss opened #4971 "Allow user agent to be customized and/or appended"
It would be really useful to be able to replace – or, at least, append a string to it – the user agent.

With that, we would be able to go on [Log Analytics](https://docs.microsoft.com/en-us/azure/cosmos-db/logging) and query usage by each of our services that use Cosmos – that would be incredibly useful on analyzing and optimizing our usage.

[2019-09-03 21:37] #4192 closed

[2019-09-03 23:11] prashanthmadi opened #4972 "COSMOSDB - Unable to query with resourcetoken when we set resourcePartitionKey"
[code]
[code]

I get results for query as expected when i remove below part in above code
[code]
with above content i get below error
[code]
with below
[code]
i get

[code]

could you help us use PermissionDefination with resourcePartitionKey
https://docs.microsoft.com/en-us/javascript/api/@azure/cosmos/permissiondefinition?view=azure-node-latest#resourcepartitionkey

[2019-09-04 00:17] dmattatall-teradici opened #4973 "Potential Leak in long running node processes"
npm info @azure/keyvault-secrets

@azure/keyvault-secrets@4.0.0-preview.4 | MIT | deps: 6 | versions: 4
Isomorphic client library for Azure KeyVault's secrets.
https://github.com/Azure/azure-sdk-for-js#readme

keywords: node, azure, typescript, browser, isomorphic, keyvault

dist
.tarball: https://registry.npmjs.org/@azure/keyvault-secrets/-/keyvault-secrets-4.0.0-preview.4.tgz
.shasum: 6b85728dfc

[2019-09-04 02:10] ramya-rao-a commented on #4968
fyi @daviwil

[2019-09-04 02:40] XiaoningLiu commented on #4719
When uploading happens block by block, then progress only updates per block uploads succesfully.

When uploading happens in a single PUT Blob request (for size less than maxSingleShotSize), progress will update when reading the stream.

[2019-09-04 10:47] gluwer commented on #4891
I've spent a day trying to check what happens adding logs and it is likely not a bug in the Cosmos DB library, as all seems to works (there is no unexpected looping etc.).

Because we in the same time updated library to 3.x and node to 12.2 (we use zeit/pkg project to compile everything to one exe), I've started to check the other possible cause and I ended up with the below issue: https://github.

[2019-09-04 10:47] #4891 closed

[2019-09-04 11:02] gluwer opened #4978 "Optimize Cosmos DB query plan retrieval (reduce not required traffic)"
This feature request is related to @azure/cosmos 3.x library.

When the query is made to the Cosmos DB there is always an additional request made to retrieve query plan, even if query plan is not really needed (like query with simple filters, see https://docs.microsoft.com/en-us/rest/api/cosmos-db/querying-cosmosdb-resources-using-the-rest-api#queries-that-cannot-be-served-by-gateway).

The reason

[2019-09-04 13:36] mjrousos commented on #4719
I see what you mean about this being a single-block PUT, but it still seems like reporting progress while reading the stream (instead of after the block has been uploaded) is confusing. It seems like the progress callback is used differently in this case than in other cases (like `uploadStream`) which isn't a good experience.

[2019-09-04 16:43] mikeharder opened #4979 "[KeyVault] Stop generating *.js files under src"
After a build, the KeyVault packages contain generated `*.js` files under the `src` folder.  This causes a few problems:

1. The files need to be special-cased in `.gitignore`:

https://github.com/Azure/azure-sdk-for-js/blob/11134107c727ac20797f80131e46fe693eaccb91/.gitignore#L152-L153

2. The `src/*.js` files are included in the shipping package:

https://unpkg.com/browse/@azure/keyvault-keys@4.0

[2019-09-04 17:08] mikeharder opened #4980 "Management pipelines should fully exclude data-plane libraries"
The management pipelines (`js - mgmt - ci` and `js - mgmt - pr`) should fully exclude the data-plane libraries.  Two parts:

1. The list of path exclusions should be generated by a tool which scans the repo for `sdk-type: client` in `package.json`.  This may be similar to the existing tool which creates the per-library data-plane pipelines.  This is required to avoid running the pipeline unnecessa

[2019-09-04 17:14] mikeharder opened #4981 "[Cosmos] Rename or remove folders "typings" and "types""
The folders `typings` and `types` are excluded in the root `.gitignore`, and I have verified we want to keep these exclusions.  Thus, Cosmos must either remove or rename these folders to be compatible with our repo:

[code]

Typically, typings should be coming from packages rather than checked-in sources, so it may be possible to remove these folders completely.

[2019-09-04 17:28] KarishmaGhiya commented on #4980
Points of investigation:
- Why is js-mgmt-ci and mgmt-pr running on data-plane libraries?
 "sdk-type": "client" - this should be used to filter
- Path based filter exclusion list should be updated to reflect all data-plane libraries (generated by tool)
-

[2019-09-04 17:50] mikeharder opened #4982 "Differences between pipelines `js - mgmt - pr` and `js - mgmt - ci`"
A few questions about pipelines `js - mgmt - pr` and `js - mgmt - ci`:

1. Why are there separate pipelines for PR and CI?  Could a single pipeline definition be used for both?

2. If the PR and CI pipelines need to be different, they should still be as similar as possible to prevent a change from passing the PR pipeline but failing the CI pipeline.  For example, the CI pipeline runs `gulp pack` b

[2019-09-04 18:20] #4844 closed

[2019-09-04 18:25] jonathandturner commented on #4844
@kumarunster - I've gone ahead and added text/plain, which should help with the issue you're seeing.

[2019-09-04 18:43] jeremymeng commented on #4570
when we made it optional we thought `Aborter.none` is a good default value. However, passing the optional abort signal through should be working as well.

[2019-09-04 18:49] mikeharder commented on #4957
I believe this was fixed by #4970

[2019-09-04 18:49] #4957 closed

[2019-09-04 18:55] ramya0820 opened #4983 "[Service Bus] `ServiceBusAdministrationClient` Browser requests do not work unless web security is disabled"
The ATOM management API currently don't work in the browser unless web security is disabled.
- This is due to a CORS policy error and it looks like the response headers are not being set properly.
Specifically -> `Access-Control-Allow-Origin`
- For requests that go via the Azure Portal, this gets set to `https://ms.portal.azure.com` by the service.
- More investigation is needed by service team; w

[2019-09-04 19:39] ramya-rao-a commented on #4980
@mikeharder When you refer to "data-plane" libraries here, do you also include the Track 1 auto-generated data-plane libraries like batch, graph, storage data lake, cognitive services in the mix?

[2019-09-04 19:41] mikeharder commented on #4980
@ramya-rao-a: That is a great question.  I'm not sure if or how we decided to handle these libraries, though it should be consistent across languages.

[2019-09-04 22:47] mikeharder commented on #4973
@dmattatall-teradici: Thanks for the detailed description, we will try to reproduce this.

[2019-09-04 22:59] dmattatall-teradici commented on #4973
Thanks,

There is also a very strange beheviour that after ~4800 requests, the latency just shoots up.

I've attached a graph and log output of a node process manager.

________________________________
From: Mike Harder <notifications@github.com>
Sent: Wednesday, September 4, 2019 3:47 PM
To: Azure/azure-sdk-for-js <azure-sdk-for-js@noreply.github.com>
Cc: David Mattatall <dmattatall@teradici.com>

[2019-09-04 23:09] mikeharder commented on #4973
@dmattatall-teradici: I think you will need to add the attachments to the issue via the web UI.  It appears the email-reply-to-issue bridge doesn't support email attachments.

[2019-09-05 00:04] dmattatall-teradici commented on #4973
[cid:e0899e22-3bbf-40bf-b6b1-b6c67fc3610d]Graph Showing "jump"
[cid:646185ad-d7c9-4711-beb3-38297b1d27c6]
Logs showing "jump" after 4840 iterations

These were two independent runs on two different machines in two different networks. The keyvault itself shows no correlated slowdown.
________________________________
From: Mike Harder <notifications@github.com>
Sent: Wednesday, September 4, 2019 4:0

[2019-09-05 00:07] dmattatall-teradici commented on #4973
Graph Showing "jump"
![bad graph](https://user-images.githubusercontent.com/49921868/64302038-615a4400-cf36-11e9-838d-8ca91ed3e54d.png)

Logs showing "jump" after 4840 iterations
![azure-sdk-dies-at-4841](https://user-images.githubusercontent.com/49921868/64302045-67502500-cf36-11e9-8b56-a85a9a188eed.png)

These were two independent runs on two different machines in two different networks. The key

[2019-09-05 00:30] jonathandturner commented on #4965
#2 seems like the better path, though I think we would want to apply it and then watch for any possible side effects of the increase in lenience.  Perhaps we could slate this for the preview 4 release?

[2019-09-05 00:34] jonathandturner commented on #4968
@schaabs - I notice we're using this in the tests. Is there another credential we should use for testing in its place?

[2019-09-05 00:38] bterlson commented on #4965
I feel like sooner is better, considering this is a core scenario for DefaultAzureCredential...

@schaabs do you have any thoughts on the excess leniency of Date.parse? Do we need a regexp?

[2019-09-05 02:26] southpolesteve commented on #4891
@gluwer Thanks for the update. If you do find the root cause I would love to know

[2019-09-05 03:43] XiaoningLiu opened #4999 "Error handling in storage SDKs"
**Is your feature request related to a problem? Please describe.**

Using @azure/storage-blob and other storage SDKs. We need to catch errors when invoking storage async APIs. However, the errors caught doesn't parser x-ms-error-code and other Azure Storage error message or descriptions from returned HTTP body. For example, when getting properties from non exist blob.

[code]

![image](https://use

[2019-09-05 06:26] XiaoningLiu commented on #4719
The progress update callback is scheduled in underline @azure/core-http implemention. @HarshaNalluru do you know who can help improve this?

[2019-09-05 06:35] kumarunster commented on #4844
great, thank you @jonathandturner!

[2019-09-05 07:51] Shawngbk opened #5005 "Thrown “SCRIPT1028: SCRIPT1028: Expected identifier, string or number” in Edge browser."
Hi @southpolesteve

Thanks for your help! Could you please look into the below issue?

When using an Angular app which use the @azure/cosmos and run it at Edge browser, it will hit the below error message.
“SCRIPT1028: SCRIPT1028: Expected identifier, string or number”
Clicking the error, I found the error throwed by the line 39.
After search it, found this github link: https://github.com/sindreso

[2019-09-05 09:24] kumarunster commented on #4855
@jonathandturner @daviwil @schaabs thank you all for looking into the issue.

Meanwhile I was running App Service (containerized as well). in that case MSI branch is used. Here I've noticed the that msi golden host unavailability is much longer as in IMDS case. I fear the ping and timeout should be implemented for MSI as well.

For App Service it takes in average ca. 10 seconds after container sta

[2019-09-05 16:45] christopheranderson commented on #4978
The query plan returned in the 400 response is an "old" query plan that we actually throw away now, but we still need to send the first request without the query plan for backwards compatibility. Our hope to avoid the 400 response is to support a query builder which allows us to parse the query on the client, but we've not committed to this work yet.

Closing this as "by design".

[2019-09-05 16:45] #4978 closed

[2019-09-05 17:41] sadasant opened #5003 "[KeyVault] Remove nise and nock as a dependency"
They shouldn't be needed since we're using the common recorder!

[2019-09-05 19:58] manishsat opened #5006 "Getting error for Authorization header not formed correctly"
- **@azure/storage-datalake**:
- **0.1.1**:
- **Mac OS**:
- [x] **nodejs**
    - **v12.6.0**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **3.5.3**:
- Is the bug related to **documentation** in
  - [x] README.md
  - [X ] source code documentation
  - [ X] SDK API docs on https://docs.microsoft.com

Used the sample to test with Azure Data Lake Gen2.

**Describe the bug**
A

[2019-09-05 20:27] bterlson opened #5007 "[Storage] Expose containerName on container client; blobName on blobClient"
It is often useful to be able to pass a container client to another function and pull out the container name. Likewise for the blobName of a *BlobClient.

[2019-09-05 21:57] HarshaNalluru opened #5011 "[core-http] URLBuilder in proxy policy doesn't support username/password"
Reference - https://github.com/Azure/azure-sdk-for-js/pull/5009#issuecomment-528603230

https://github.com/Azure/azure-sdk-for-js/blob/e66dae957424779946e1725fd14682a6a0f05704/sdk/core/core-http/lib/policies/proxyPolicy.ts#L37

URLBuilder doesn't support urls with username and password.

[2019-09-05 22:17] chradek opened #5013 "[App Configuration] exported type aliases lack documentation"
The `@azure/app-configuration` package exports the input and output shapes for its APIs as type aliases:
https://github.com/Azure/azure-sdk-for-js/blob/e66dae957424779946e1725fd14682a6a0f05704/sdk/appconfiguration/app-configuration/src/index.ts#L53-L69

The types are aliased so that inputs/outputs for different methods can be updated separately as needed.

When TypeDoc renders a type alias, it sho

[2019-09-05 22:20] rparkms commented on #5013
Would it be possible for us to change the code generation so we could use their models directly?

[2019-09-05 22:45] AlexGhiondea opened #5017 "Consider moving EventProcessor to the root namespace"
The EventProcessor is the main way for people to interact with Event Hubs. It should be easy to find and putting it in the root namespace might help with that.

[2019-09-05 22:52] ramya0820 opened #5018 "[core-http] [Service Bus] Enable and verify proxy support for HTTP requests in Node and Browser"
This issue tracks efforts required for the Atom API support for Service Bus SDK and is based on motivation to ensure the user experience of passing in the ProxyOptions is same or better since `azure-sb` implementation in `azure-sdk-for-node` repo.

Related issues https://github.com/Azure/azure-sdk-for-js/pull/5009 https://github.com/Azure/azure-sdk-for-js/issues/3121
https://github.com/Azure/azure

[2019-09-05 23:30] jeremymeng opened #5020 "[Pipeline] Investigate why proxy policy needs to be closer to the transportation"
The proxy policy doesn't work correctly when it is pushed first (closer to the application layer). Moving it closer to the wire (e.g., right before pushing the credential) fixed it. It could be that some request policy didn't pass the proxy information down in the pipeline.

[2019-09-05 23:32] #4570 closed

[2019-09-05 23:33] mikeharder opened #5021 "[KeyVault] ChallengeBasedAuthenticationPolicy improperly caches access token and challenge"
While testing keyvault-secrets, I discovered that a new bearer token is requested for each call to get/set a secret, while I believe the bearer token should be cached per the `expires_in` field.  Here's the response from `login.microsoftonline.com`:

[code]

I discovered this by running the following code with Fiddler as an HTTP proxy, and I can see a call to `login.microsoftonline.com` for each c

[2019-09-06 00:08] southpolesteve opened #5023 "Core Library Request: Crypto Shim"
Cosmos currently needs these platform crypto functions in both browser and node:

* SHA1
* HMAC-256
* atob

We currently use [crypto-hash](https://github.com/sindresorhus/crypto-hash) but it does not support HMAC256 and uses syntax incompatible with Edge. I propose the development of a new core library that shims these and any other required crypto functions for azure SDK packages.

cc @bterlson

[2019-09-06 00:13] bterlson commented on #5023
/cc @schaabs @jonathandturner

[2019-09-06 00:41] christopheranderson commented on #4972
So the correct way is:

[code]

but query won't work unless you specify the partition key via a header (which we removed in V3). You can work around it by overriding the header:

[code]
<details>
<summary>Here's a full sample</summary>
[code]
</details>

[2019-09-06 00:42] christopheranderson commented on #4972
@southpolesteve - this is tricky. We should probably expose `partitionKey` on `FeedOptions` since it's easy. I'll reach out to the query team to see why they aren't parsing the partitionKey out, but there's a good chance they say this is by design.

[2019-09-06 00:45] mikeharder commented on #5021
Currently, the following requests are made for **each** call to a KeyVault API:

1. Request: KV with no bearer token
Reponse: 401 Unauthorized
2. Request: login.microsoftonline.com
Response: 200 with Bearer Token
3. Request: KV with bearer token
Response: 200

According to @chlowell:

* The first request should only happen for the first service call.  Even after the token expires, the first reques

[2019-09-06 01:21] mikeharder commented on #4973
@dmattatall-teradici: We believe we are able to reproduce the increase in latency you are seeing.  We are still investigating the root cause.

[2019-09-06 03:24] #4803 closed

[2019-09-06 03:24] #4902 closed

[2019-09-06 06:18] michaeljqzq commented on #4982
`js - mgmt - pr` is triggered when a PR is raised.
`js - mgmt - ci` is triggered when a PR is merged, and the CI will trigger the autopublish CD pipeline to do npm publish

[2019-09-06 11:16] gluwer commented on #4978
Thanks for the response. OK, I understand that new SDK shoudn't be using the returned "old" value and I also think query parser would be best option (like in https://github.com/zeit/cosmosdb-query) and in this case request is required.

But the second case remains. In the project we have >90% queries that are not advanced queries requiring query plan, but the request for it is still send. The code

[2019-09-06 13:12] felixringbergbabyshop opened #5033 "[storage-file] 10.2.0 uploadFileToAzureFile function throws error "TypeError: fetch is not a function""
10.1.0 seems to be working

[2019-09-06 15:46] sadasant opened #5034 "[recorder] Zip recordings and add recordings/ to the .gitignore"
Every time the tests are updated, new recordings need to be generated. This is extremely disruptive for PR reviews. We can avoid this by zipping the recordings and dealing with the unzip process in the background. Once we do that, we can also .gitignore the recordings folder.

[2019-09-06 15:59] HarshaNalluru commented on #5034
Compressing into a zip folder would mean that it might be hard to review in PRs?

[2019-09-06 16:13] sadasant commented on #5034
The recordings would at this point be impossible to review in PRs, but should they be reviewed in PRs?

The value I'm trying to achieve is to reduce the thousands of lines in the diffs of PRs that are meaningless because they belong to the recordings, which will help to emphasize in the actual changes that the PR is trying to reflect.

[2019-09-06 16:59] bterlson commented on #5033
Where are you seeing this error (what browser version/node version)?

[2019-09-06 17:34] AlexGhiondea opened #5035 "Ensure enum values outside of expected values do not cause issues."

[2019-09-06 18:44] schaabs commented on #5021
The problem here is actually in the Key Vault client library, specifically in ChallengeBasedAuthenticationPolicy.  This class caches the challenge response from the service on a instance member "cachedChallenge" and the cached access token on the instance member "cachedToken". The problem with this is that the policy instance is different for every invocation of the pipeline as all policies are re

[2019-09-06 18:45] schaabs commented on #5021
Also it's possible the same issue is affecting BearerTokenAuthenticationPolicy in @azure/core-http this should be investigated at the same time.

[2019-09-06 19:00] prashanthmadi commented on #4972
Thanks @christopheranderson . I was able to make it work with workaround mentioned above.

[2019-09-06 19:10] rparkms commented on #5013
In some cases it looks like we could get away with importing the type under more than one name:

Example:
[code]

It also has a nice side effect of allowing me to directly browse from our method signatures directly to the type in question.

However, this doesn't work for some of our other cases where we do Pick's or combine types (&).

[2019-09-06 21:01] sadasant opened #5037 "[KeyVault-Certificates] Test tweaks"
- Rename the tests folder "test" to be in coordination with the rest of the keyvault packages.
- Add tests for updating a certificate's issuer with updateCertificateIssuer.
- Change "can import a certificate from a backup" to "can import a certificate from a certificate's base64 secret value".

[2019-09-06 21:51] jeremymeng commented on #3480
When we used the unified swagger json we should be getting the same names across languages. No need to do extra work here.

[2019-09-06 22:20] ramya-rao-a opened #5041 "[Event Hubs] EventPosition static helper parameter checks"
Event Position
- `fromOffset` should throw error if anything other than number is passed
- `fromEnqueuedTime` should throw error if anything other date or number is passed

[2019-09-06 22:31] ShivangiReja opened #5042 "[Event Hubs] [eventhubs-checkpoint-blob] Update the metadata when reading from the blob storage sdk"
We use metadata keys - `OwnerId`, `SequenceNumber`, `Offset` to upload the data into the blob but when we read it returns all in lower case i.e. `ownerid`, `sequencenumber`, `offset`.

Reference: https://github.com/Azure/azure-sdk-for-js/pull/5012#discussion_r321923793
Issue: https://github.com/Azure/azure-sdk-for-js/issues/4966

Update `eventhubs-checkpoint-blob` package after fixing this bug in

[2019-09-06 22:37] HarshaNalluru commented on #5011
https://github.com/Azure/azure-sdk-for-js/pull/5009/commits/87629d0b063812f17186087374353c48e11dff46

[2019-09-06 22:38] HarshaNalluru commented on #5011
https://github.com/Azure/azure-sdk-for-js/pull/5009#discussion_r321880589

[2019-09-06 23:42] KarishmaGhiya opened #5049 "[COSMOS] Flaky sample - ItemManagement"
- Cosmos builds failing - detected from this point - https://dev.azure.com/azure-sdk/public/_build/results?buildId=101532
- These errors are same as on feature/storage branch - https://dev.azure.com/azure-sdk/public/_build/results?buildId=101601
- Another example - https://dev.azure.com/azure-sdk/public/_build/results?buildId=101532
- It seems like it can't find some resource

@HarshaNalluru @sout

[2019-09-07 00:04] mikeharder commented on #4973
@dmattatall-teradici: We believe this is fixed in our master branch, and the fix should be included in our next preview release.  If you would like to test the fix sooner, you can manually download and install the packages from our CI server:

1. Browse to https://dev.azure.com/azure-sdk/public/_build?definitionId=614&_a=summary
2. Select the latest successful build of master (currently https://de

[2019-09-07 00:04] #4973 closed

[2019-09-07 00:06] HarshaNalluru opened #5051 "[Storage] Test TokenCredentials from `@azure/identity` with storage SDKs(both node and browser)"
https://github.com/Azure/azure-sdk-for-js/pull/4788#discussion_r321944713

Test TokenCredentials from @azure/identity with storage SDKs(both node and browser) and add some samples.
Add tests and samples leveraging Credentials from @azure/identity.
//cc @jeremymeng @ramya-rao-a

[2019-09-07 00:08] #5020 closed

[2019-09-07 00:23] HarshaNalluru commented on #4636
#4788

[2019-09-07 00:23] #4636 closed

[2019-09-07 07:37] himadrinath commented on #4964
also seeing this with uploadFileToBlockBlob with blockBlobURL memory increase when uploading and still holding their after upload finished

[2019-09-07 13:16] NOA-Louis opened #5053 "[Question][IoT-*] DPS registration with X509 certs"
Hello all,

Is there any chance that I can go through a DPS registration with X509 certificates via this SDK?

I have an end-to-end solution working with the `azure-iot-sdk-node` SDK, and now I would like to have the same process with a client logic, through a mobile app (NativeScript here).

Could you please tell me how I should proceed?

[2019-09-08 00:27] #5041 closed

[2019-09-08 09:01] orrabinovich88 opened #5056 "Improve performance of uploading file to block blob: use fs.stat() instead of fs.statSync()"
- **Package Name**:
@azure/storage-blob
- **Package Version**:
10.4.1
- **Operating system**:
macOs
- [ ] **nodejs**
    - **version**:
v12.5.0
- [ ] **browser**
    - **name/version**:
Chrome 76 on macOS (Mojave)
- [ ] **typescript**
    - **version**:
3.2.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [yes] SDK API docs on https://docs.micr

[2019-09-08 15:51] bterlson commented on #5056
Thanks for the report @orrabinovich88 (and welcome to GitHub!! 😄). Preferring async over sync for these built-ins makes sense.

Curious, did you notice some slowness or blocking of main thread in your application? If so can you quantify how much/how bad it was?

[2019-09-09 06:38] orrabinovich88 commented on #5056
Hi @bterlson, and thanks for the quick reply!

Yes, once you work with a huge amount of files that are processed together, you will feel the difference with no doubt, and that's exactly what i'm doing at my job :).

Moreover Node actually do not recommend using this function anymore.
Thanks.

[2019-09-09 13:09] ricklang opened #5062 "Check whether a storage container or blob already exists"
Is there an easy way to check whether a storage container already exists? Same for a blob.

[2019-09-09 15:15] lrxw opened #5063 "Reusing Receiver after receiveMessages"
I'm not sure if I encountered a bug or if I used a Receiver the wrong way.
I have a class which should delete all messages on a topic at server (NodeJS) startup. After that I register a message handler to get updates from the topic. Background is, that we load all data from the database into memory and only listen to changes from the topic.
The simplified code looks like this:
[code]
`cleanup()` g

[2019-09-09 16:39] #4959 closed

[2019-09-09 16:44] dmattatall-teradici commented on #4973
I can confirm this has resolved the issue!

Thanks @mikeharder for the diligent work!

[2019-09-09 17:53] #4578 closed

[2019-09-09 18:10] #5037 closed

[2019-09-09 18:46] bterlson commented on #5062
Maybe the easiest way today is calling getProperties on BlobClient and checking for a 404 status code. I think we should implement `exists`, however! /cc @XiaoningLiu @jeremymeng

[2019-09-09 19:23] sadasant opened #5071 "[KeyVault] Use RequestOptionsBase and remove the RequestOptions type"
For keyvault-keys and keyvault-secrets

[2019-09-09 20:57] #4971 closed

[2019-09-09 21:06] sadasant commented on #4734
Fixed by: https://github.com/Azure/azure-sdk-for-js/pull/5038

[2019-09-09 21:06] #4734 closed

[2019-09-09 21:07] sadasant commented on #4659
I reviewed it, and it seems fine!

[2019-09-09 21:07] #4659 closed

[2019-09-09 21:09] richardpark-msft opened #5074 "[AppConfiguration]: AppConfiguration client doesn't work properly when you don't want to use a label"
There's a bug in the way the models are generated that causes the Javascript AppConfigurationClient to insert a default value for the label for a setting (%00).

This makes it so you can't interact with values that don't have labels - creating or getting them won't work.

We're on the verge of updating to a newer set of generated models. I've added in a simple workaround for now but I want to revi

[2019-09-09 21:15] #4708 closed

[2019-09-09 21:21] #4816 closed

[2019-09-09 21:40] jeremymeng commented on #4890
This may be related the circular references we have between the clients. It looks like the react app tries to load `appendBlobClient.js` first, while we have a specific loading order for the clients in `index.js`.

[2019-09-09 22:44] ifeoluwaokunoren commented on #4835
@sadasant I see you labelled this issue as ARM-Core, can you please provide more details on what the requirements are?

[2019-09-09 23:15] #5003 closed

[2019-09-09 23:34] chradek opened #5079 "[Release Pipeline] split core stage into multiple stages"
The release pipeline for core packages groups all core packages into a single stage for publishing.
Ideally, core packages would be published in the order that they are needed. For example, core packages with no dependencies on other core packages would be released 1st. Then core packages that depend only on the 1st group of packages would be released 2nd, and so on.

Separating the pipeline into

[2019-09-10 00:17] mikeharder opened #5080 "[Storage] Cannot run "npm install" in samples as instructed in README"
The Storage samples [README](https://github.com/Azure/azure-sdk-for-js/blob/af68e83bc7807071a0ee2732d823ca269111a382/sdk/storage/storage-blob/samples/README.md#install-the-library) instructs users to run the following command:

[code]

However, this command fails when run in a clone of the full repo (using `preview.2` since `preview.3` was not published at the time of issue creation):

[code]

[2019-09-10 00:26] HarshaNalluru commented on #5080
We will be releasing the preview 3 storage SDKs tomorrow.

[2019-09-10 00:41] mikeharder commented on #5080
@HarshaNalluru: I don't think the issue is related to `preview.2` vs `preview.3`.  I think the root cause is npm will not allow the install of `@azure/storage-blob` under the `sdk/storage/storage-blob/samples` folder.  It would work in a different folder not under `sdk/storage/storage-blob`.

[2019-09-10 01:07] mikeharder opened #5081 "[Storage] JS does not support all connection strings supported by .NET"
The following connection string works in the latest builds of both .NET and JS:

[code]

However, if this is reduced to a more minimal connection string:

[code]

It still works in .NET (you can verify with an HTTP debugger like Fiddler), but it fails in JS with:

[code]

It appears the JS SDK is more strict about connection string parsing than the .NET SDK.  I'm not sure which is more correct or

[2019-09-10 01:20] ramya-rao-a commented on #2914
Recent Update:

With #4907 the timeout value has been increased from 20sec to 60sec

[2019-09-10 02:39] ramya-rao-a commented on #5063
Thanks for reporting @lrxw
After you lose the first message, do you continue to receive rest of the messages?
Does this happen consistently or intermittently?

We would need the rest of the logs before you see the error to determine what is happening.
Can you share them?

@jfggdl Can you get any service side logs based on the Tracking Id?

[2019-09-10 02:44] ramya-rao-a commented on #5053
@NOA-Louis Can you provide more details regarding what you are trying to do? Are you looking for library in this repo to interact with iot?

[2019-09-10 02:49] HarshaNalluru commented on #5080
Thanks, Mike. I guess I didn't read the whole message.

This can be avoided by having a dummy package.json in the samples folder or add "npm init -y" step in the samples/readme before `npm install @azure/storage-blob@12.0.0-preview.2` step.

I'll create a PR for this.

[2019-09-10 02:54] ramya-rao-a commented on #4160
This should be fixed with the latest version of the luis libraries.
Please give them a try

[2019-09-10 02:54] #4160 closed

[2019-09-10 02:54] ramya-rao-a commented on #4160
cc @ahmedabuamra

[2019-09-10 02:55] ramya-rao-a commented on #4145
This should be fixed with the latest version of the luis libraries if you are using the latest version of `ms-rest-js`
Please give them a try.

[2019-09-10 02:55] #4145 closed

[2019-09-10 02:59] HarshaNalluru commented on #5081
Thanks, Mike.
Currently, JS SDK expects `DefaultEndpointsProtocol` and `AccountKey` to be present in an Account Connection String.

https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string#configure-a-connection-string-for-an-azure-storage-account

And the Development Connection String support is currently being added - https://github.com/Azure/azure-sdk-for-js/pul

[2019-09-10 06:30] XiaoningLiu commented on #4950
@Saisankeerthpopcorn React native is currently not supported by @azure/storage-blob package.

[2019-09-10 06:30] lrxw commented on #5063
After the first message everything works fine.

This happens every time I startup the server.

https://justpaste.it/776hv
I hope this is enough. If something is missing, just let me know which DEBUG log options I should set.

[2019-09-10 08:21] HarshaNalluru opened #5084 "[Storage] Async Iterator tests in storage-queue fail"
![image](https://user-images.githubusercontent.com/10452642/64596503-e2677000-d368-11e9-815a-f3691b4f7ea2.png)

[2019-09-10 08:25] XiaoningLiu commented on #5033
@felixringbergbabyshop Can you provide a simple sample for reproducing?

[2019-09-10 08:41] XiaoningLiu commented on #4966
@ramya-rao-a @chevtek

Get blob properties is getting metadata from headers, while lsit blobs is from XML body.

Autorest typescript generator generates code which forces lowercases of metadata which parsed from header keys and values. For listing blobs, the metadata are parsed from XML body which doesn't force to use lower case.

This doesn't avoid conflict with HTTP protocol which says HTTP head

[2019-09-10 08:44] XiaoningLiu commented on #5056
Definitly we should use async operations, thanks for heading up!
At the same time, welcome contribution!

[2019-09-10 08:47] XiaoningLiu commented on #5062
Agree

[2019-09-10 09:22] chevtek commented on #4966
Either way works for me, my only real concern is that there should be consistency to avoid confusion.

[2019-09-10 09:41] pskrbasu opened #5085 "[AppService] The api call getConfiguration() gives incorrect value for pythonVersion for some web apps"
- **Package Name**: @azure/arm-appservice
- **Package Version**: 5.8.0

**Description**
The rest api do not replicate the correct settings and values associated with the web app.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a web app(not a free tier app) associated with a `standard S1` app service plan.
2. Go to configuration under Settings and select General Settings.
3. Select th

[2019-09-10 15:37] Sokal21 opened #5086 "Fetching previous documents when using OFFSET and LIMIT in query"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.1.1
- **Operating system**:
- [ ] **nodejs**
    - **version**: 11.10.1
- [ ] **browser**
    - **name/version**: Chrome
- [ ] **typescript**
    - **version**: ^3.5.3

**Describe the bug**
I'm using the SDK via browser, when I made a query with an offset and limit parameter, all previous document get fetched anyways so the query takes a l

[2019-09-10 17:08] chradek opened #5087 "[core-tracing][test-utils] Create test exporter"
Currently a few packages (keyvaults) are set up to support tracing, and core-http contains a `TracingPolicy`. While we have tests for the `TracingPolicy`, we currently rely on manual testing to ensure that we're starting and ending spans correctly in our data-plane packages.

Writing a custom exporter would go a long way towards writing automatable tests around tracing. The opencensus exporters ha

[2019-09-10 17:12] ramya-rao-a opened #5088 "Proposed Keyvault doc updates for Preview 3 release"
- Update README file for all 3 keyvault libraries to remove the section on "logging" that uses the `debug` module as we dont use this module for keyvault
- The Key concepts section and the Examples section have an overlap in all 3 cases. Was this intentional?
    - For example, in [Event Hubs Key Concepts](https://www.npmjs.com/package/@azure/event-hubs/v/5.0.0-preview.2#key-concepts), we talk abo

[2019-09-10 17:12] ramya-rao-a commented on #5088
cc @jonathandturner, @AlexGhiondea

[2019-09-10 17:15] ramya-rao-a commented on #5088
I would also suggest a small TOC for Examples. When you have more than 3, a toc always helps.
For example, see the [Event Hubs examples](https://www.npmjs.com/package/@azure/event-hubs/v/5.0.0-preview.2#examples)

[2019-09-10 17:20] ramya-rao-a commented on #5088
Some more :)

Why the TODO? Link to samples is enough. Links from the individual examples to the individual samples might be helpful, but I would suggest logging an issue and not a TODO for this
![image](https://user-images.githubusercontent.com/16890566/64635260-1fa51f80-d3b4-11e9-8512-756ded83eb39.png)

Most of what you have in the Contributing section is already covered in
![image](https://user

[2019-09-10 18:06] bterlson commented on #5062
I confirmed with @JeffreyRichter that `exists` makes some sense, but there's a concern that `exists` encourages coding patterns that might seem reliable but aren't in practice. For example, upload-if-not-exists might be implemented as `if (!(await client.exists())) { await client.upload() }` but another node might be running the same check at the same time and the uploads will still clobber each o

[2019-09-10 18:43] ShivangiReja commented on #4742
Done with https://github.com/Azure/azure-sdk-for-js/pull/4839

[2019-09-10 18:43] #4742 closed

[2019-09-10 19:02] trebler commented on #4843
This issue is resolved as of version 10.0.0 of `@azure/arm-containerservice` (See #5030, [commit](https://github.com/Azure/azure-sdk-for-js/commit/62c47a190112343ada8022bf9c5ce5323673dcb2#diff-98fb5d59d4c2452c22f83f3c08fd5c8e)).

REST API for `locations/orchestrators` now also seems to accept two additional versions of API. Compare 3 weeks ago:
[code]
vs today:
[code]

@kaerm, fill free to close t

[2019-09-10 20:03] YoDaMa commented on #4999
This is related to the issue filed in the autorest repo: https://github.com/Azure/autorest.typescript/issues/464

[2019-09-10 20:03] YoDaMa commented on #4999
Is there an eta on when this will be sorted out?

[2019-09-10 20:05] #4587 closed

[2019-09-10 20:57] chradek commented on #4930
Closed by #5008

[2019-09-10 20:57] #4930 closed

[2019-09-10 21:45] #3960 closed

[2019-09-10 21:45] #4546 closed

[2019-09-10 22:42] sarangan12 commented on #5006
I have investigated this issue and I am able to reproduce this issue. There are 2 issues:

1. For Bearer Authorization, the service expects the protocol must be https. Per the swagger, both http/https are accepted. This is correct. Because for other auth mechanisms, http is a valid value. But in our generated SDK we ignore https and use only http. This should be resolved.

2. Even with the above c

[2019-09-10 22:49] junhuagu commented on #5006
Hi Sarangan,

The error code is same, but the issue is different, currently the service fails with audience mismatch, and could you confirm the https://storage.azure.com is the audience you used for acquire AD token.

Thanks,
Junhua Gu
From: Sarangan Rajamanickam <notifications@github.com>
Sent: Tuesday, September 10, 2019 3:43 PM
To: Azure/azure-sdk-for-js <azure-sdk-for-js@noreply.github.com>
Cc

[2019-09-10 23:15] sadasant opened #5093 "[KeyVault] Create tests instructions in a README.md inside of the test folders"
To follow up on Ramya's request here: https://github.com/Azure/azure-sdk-for-js/issues/5088 . Make sure you replace the respective READMEs sections with a link to this new file.

A PR solving this should potentially also address this other issue: https://github.com/Azure/azure-sdk-for-js/issues/4848

[2019-09-10 23:17] sadasant commented on #5088
I'll follow up on the tests section through this issue: https://github.com/Azure/azure-sdk-for-js/issues/5093

[2019-09-11 00:15] sadasant commented on #4026
Confirmed with Alex that this is fine left open.

[2019-09-11 01:47] ramya-rao-a commented on #4966
@XiaoningLiu What do our sdks in other languages do in this case?

[2019-09-11 02:34] maggiepint commented on #5086
Hi,
I think you are using the SQL service (@jaredmoo ), but a few different Azure services support a SQL like syntax. Which one is this?

[2019-09-11 02:35] #5088 closed

[2019-09-11 03:19] XiaoningLiu commented on #4999
@ramya-rao-a Typescript generator related, please take a look.

[2019-09-11 03:22] HarshaNalluru commented on #4949
#4948

[2019-09-11 03:22] #4949 closed

[2019-09-11 03:24] XiaoningLiu commented on #4966
Needs to confirm. But it's worth for a discussion for alignment between languges and APIs.

One option is to make generated code doesn't force the cases, and let convenience layer SDK do the case handling.

[2019-09-11 07:50] michaeljqzq commented on #4843
@trebler , sorry for not updating issue in time since mgmt part are under transition. If there's no further problem, this issue is going to be closed.

[2019-09-11 07:50] #4843 closed

[2019-09-11 08:48] HarshaNalluru commented on #5051
https://github.com/Azure/azure-sdk-for-js/pull/5082#discussion_r323110376

[2019-09-11 09:04] HarshaNalluru commented on #5084
Fixed in #5082

[2019-09-11 09:04] #5084 closed

[2019-09-11 13:13] Sokal21 commented on #5086
We are using cosmos DB @maggiepint

[2019-09-11 16:54] MikaGurrola opened #5095 "Include Headers for uploadBrowserDataToBlockBlob()"
- **Package Name**:  "@azure/storage-blob"
- **Package Version**: "^10.3.0"
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [x] **browser**
    - **name/version**: Modern Browsers (chrome)
- [x] **typescript**
    - **version**: "~3.4.3"
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

[2019-09-11 18:56] jeremymeng commented on #5007
And `containerName` for blob clients to make it easeir to navigate up

[2019-09-11 18:58] southpolesteve opened #5096 "EngSys Request: Better Issue Notifications"
## Problem

Github doesn't have great support for granular notifications. Repo level options are:
1. Watch the repo
2. Don't want the repo

1 is very noisy. 2 means stuff gets missed.

Even with 2, GitHub sometimes opts you into notifications on threads for other reasons:

- Mentioned in an issue (good)
- Codeowner
- .... TODO there are probably more

Codeowner is interesting. I do want to get a n

[2019-09-11 19:24] EnriqueSampaio commented on #5086
Exactly same problem here

[2019-09-11 19:24] jeremymeng opened #5097 "[Storage] Investigate OAuth2 scopes for storage clients"
Currently we use a scope of `https://storage.azure.com/.default` for storage clients

example: https://github.com/azure/azure-sdk-for-js/blob/feature%2Fstorage/sdk/storage/storage-blob/src/Pipeline.ts#L232

Is it possible to have other scopes (e.g., for different Azure stack).

[2019-09-11 19:33] HarshaNalluru opened #5098 "[Storage] Cleanup - Post Preview 3"
- [ ] JSDoc comments
  - `options` or `options={}` https://github.com/Azure/azure-sdk-for-js/pull/5082#discussion_r323419877
  - https://github.com/Azure/azure-sdk-for-js/blob/27c033672dc452044af6413e2b87f5511b76edec/sdk/storage/storage-file/src/DirectoryClient.ts#L920
- [ ] JSDoc comments - add the @type and @memberof info
  - https://github.com/Azure/azure-sdk-for-js/pull/5082#discussion_r323386

[2019-09-11 19:38] ramya0820 opened #5099 "[Service Bus] Issue with Message Disposition failures"
This issue is to track investigation and fix of multiple test failures with error `ServiceUnavailableError: Operation to settle the message has timed out. The disposition of the message may or may not be successful`.

Root cause was found to be due to changes made as part of https://github.com/Azure/azure-sdk-for-js/pull/4907/files
Can use this issue to revisit the changes made in here since they

[2019-09-11 19:48] jeremymeng opened #5101 "[Storage] Async iterator for DirectoryClient listHandles()"
We need to use async iterator instead of the old `listHandlesSegment()` function.

[2019-09-11 19:56] jeremymeng opened #5102 "[Storage][Queue] rename MessagesClient dequeue() to receiveMessages()"
Since the current function doesn't remove the messages.  See discussion at https://github.com/Azure/azure-sdk-for-java/issues/4457

There's a field from the response named `dequeueCount`.  If we rename the method, we'd also need a better name for that field and use autorest trasnformation to rename it.

We should go with

- sendMessage()
- receiveMessages()

result types for the four operations: <

[2019-09-11 19:57] ramya-rao-a opened #5103 "[Event Hubs] Updates to PartitionProcessor post API review"
Below are the actionable items from the feedback on the PartitionProcessor in the API review

- Move away from current implementation which has a base class that implements all 4 methods that do nothing but log to an abstract class. Customer should be forced to inherit this class and implement the "ProcessEvents" method. Us implementing "ProcessEvents" such that it only logs doesnt help much in th

[2019-09-11 19:59] #4258 closed

[2019-09-11 20:01] ramya0820 opened #5104 "[amqp-common] Release preview.7"
This issue is to track items for releasing preview.7 version.

So far we have
- Changes in PR #5010
- Ensuring `amqp-common` branch release process is same as one used for `amqp-common-preview.6` cc @KarishmaGhiya @mikeharder
- Using above process for the preview.7 release

[2019-09-11 20:06] christopheranderson opened #5105 "Don't recommend global install of rush"
## Problem

Global installation of project specific tools like rush is (imo) an anti-pattern. Just as you would not install typescript globally anymore, same would apply for rush. It makes it so different projects using different versions of a dependency have to clean up their global installs to fix it. There is additional friction, as well, when switching between Node versions as most folks have

[2019-09-11 20:15] khaosdoctor opened #5106 "[Storage] Easier way to obtain Blob URI"
**Is your feature request related to a problem? Please describe.**
Creating a public URI from a Blob is very complicated, we have to get the blob, generate a new SAS Credential and then concatenate both of them like this

**Describe the solution you'd like**
The `BlobURL` or `BlobItem` class could have a method called `getPublicUrl` which generates a full public read URL to the resource.

**Descri

[2019-09-11 20:20] chradek commented on #5074
Is this closed by #5073 or is there more work to do?

[2019-09-11 20:34] HarshaNalluru opened #5107 "[Cosmos] - Duplicated Pipelines"
`js - cosmos - ci` and `js - cosmosdb - ci` seem to run the same steps. 

![image](https://user-images.githubusercontent.com/10452642/64733124-fdd19880-d498-11e9-8fc8-e0fa4dd63571.png)

/cc - @KarishmaGhiya, @danieljurek @southpolesteve

[2019-09-11 21:00] HarshaNalluru opened #5109 "[Storage] Add samples for the new features in Track 2"
Example - Batch

[2019-09-11 21:04] sadasant commented on #4026
4.0.0-preview.5 is released now across the board, so we're good to close this now.

[2019-09-11 21:04] #4026 closed

[2019-09-11 21:31] chradek commented on #4963
Closing this as we've made changes to EventProcessor, and have further changes described in #5103

[2019-09-11 21:31] #4963 closed

[2019-09-11 21:35] rparkms commented on #5074
@chradek - I wanted to keep this open until we get the next swagger drop (and generate models) to see if the issue is gone or if we need to address this some other way.

[2019-09-11 23:05] YoDaMa commented on #4999
I think this is related to this issue, but the `BlobUploadCommonResponse` interface has no parameter with a statusCode description. The status code can be found with `uploadResponse._response.statusCode` but the most suitable value to have a description of the statusCode, which would be bodyAsText, always is empty. See on a successful call to `BlobUploadCommonResponse`:
[code]

[2019-09-11 23:47] HarshaNalluru opened #5111 "[Storage] Test failure in IE and Edge due to unexpected browser behavior "cache-control: no-cache" or "cache-control:max-age=0" sent for every requests"
The following test (from storage-file tests) failed in Edge and IE browsers but succeeded in Chrome and Firefox.
![image](https://user-images.githubusercontent.com/10452642/64743181-a8ef4b80-d4b3-11e9-88af-36fe1c787623.png)
![image](https://user-images.githubusercontent.com/10452642/64743185-b0165980-d4b3-11e9-8685-df0ac030ced2.png)

The issue is present in 10.3.0 and 12.0.0-preview.3 storage-file

[2019-09-12 00:36] HarshaNalluru opened #5112 "[Storage] Optimize `this.skip();` instead of `return;` in the test for TokenCredential."
Tests that leverage ACCOUNT_TOKEN are being skipped in the CI integration tests due to the lack of a valid ACCOUNT_TOKEN.

![image](https://user-images.githubusercontent.com/10452642/64744831-49e10500-d4ba-11e9-9aac-b1f84a0105fe.png)

Instead of "return"ing, we can leverage mocha's `this.skip()` to skip the test.
That way we can be sure we are not testing it when we don't have ACCOUNT_TOKEN.

[2019-09-12 02:06] XiaoningLiu commented on #5095
Hi @MikaGurrola It should be not a SDK bug.

According to the error message "403 CORS not enabled or no matching rule found for this request.", please check your CORS settings. It means, server doesn't find correct CORS settings for your request.

Or you can share the "x-ms-request-id" returned in this error response.

For the options, you can input header value instead of header name. Like to set

[2019-09-12 05:24] ramya-rao-a commented on #5099
The test run kicked off after merging the fix for this issue no longer sees failure due to the above mentioned issue.

[2019-09-12 05:24] #5099 closed

[2019-09-12 06:06] jiacfan commented on #5111
IE11/Edge will send "cache-control: no-cache"/"cache-control:max-age=0" for every requests, which could cause `result.cacheControl` returned with unexpected value.
This would be same case when looking from customer's aspect, as customer set nothing for cache-control, and browser do sets default values, considering this is unexpected behavior, log this as a known issue.

[2019-09-12 06:52] jiacfan opened #5117 "[Storage] Redundant accessTier option in IBlockBlobCommitBlockListOptions."
In definition of `IBlockBlobCommitBlockListOptions`, additional option `accessTier` exists despite the option `tier`.
`tier` option is defined to specify accurate blob tiers can be set on block blob, and should be used instead of `accessTier`. And the additional `accessTier` property should be removed.

[code]

This issue has been found in 10.5.0 and fixed in 12.0.0-preview.3 storage-blob.

Report

[2019-09-12 09:15] steveland83 opened #5119 "receiveMessages returns misleading "No messages to receive" message for innaccessible subscriptions"
- **Package Name**: @azure/service-bus
- **Package Version**: 1.0.3
- **Operating system**: Windows 10
- **nodejs**
    - **version**: 12.3.1
- **typescript**
    - 3.6

**Describe the bug**
When attempting to pull messages from a topic subscription which exists but is inaccessible for the current connection, using the method `receiveMessages` the SDK returns the misleading message: No messages to

[2019-09-12 09:34] #5119 closed, assigned to nobody

[2019-09-12 18:16] ramya-rao-a opened #5121 "[Service Bus] Test for createFromAadTokenCredentials failing consistently"
The last few runs of the nightly CI are failing for the `createFromAadTokenCredentials` test

[code]

[2019-09-12 21:21] #5121 closed, assigned to ramya0820

[2019-09-12 22:02] chradek opened #5126 "[Event Hubs] Expose runtime metrics feature on EventProcessor"
#5036 added support for getting the `LastEnqueuedEventInfo` on each received event. This is enabled by setting the `trackLastEnqueuedEventInfo` flag to true on the `EventHubConsumerOptions`.

This issue is to track extending #3180 to also apply to the `EventProcessor`. Since the `EventProcessorOptions` already includes fields for configuring how to receive events, it seems reasonable to also add `

[2019-09-13 00:16] ramya0820 opened #5127 "[Service Bus] Update to use latest preview version of core-amqp"
This issue is to track changes required to bring Service Bus upto speed with changes on master.
This builds over changes on `master` and `feature/service-bus-track-2` branches

[2019-09-13 15:33] manishsat commented on #5006
Thanks for the update, everyone. I want to make sure we realize that the SDK is broken and that is not a great customer experience. I would appreciate if someone fix this asap and unblock not only me but also whosoever is using this out in the world.

[2019-09-13 16:29] jeremymeng commented on #5106
Thanks for the great feedback! There are concerns around exposing SAS tokens. However, if this is only limited to generating a readonly url given some expiration date, I think it could be useful.  We are also considering exposing container names and blob names on a blob client (#5007) to make it easier navigate back to container.

[2019-09-13 16:52] chradek commented on #2542
I think that's a good improvement, as long as it is part of the signature if we're going to explicitly support passing messages like this. Am I right in assuming this would also apply to arrays of strings?

My reasoning on why I think it should be part of the signature, and not silently transformed (magic):
1. Making it part of the signature helps out TypeScript users. I think being able to pass a

[2019-09-13 16:55] mikeharder commented on #1155
@chiel: It worked!  Thank you so much.

[2019-09-13 16:55] #1155 closed

[2019-09-13 18:28] jeremymeng commented on #4719
We just pass the parameter of type `TransferProgressEvent` which defines `loadedBytes`. I don't see we are using any upload/download progress events from `WebResource`.  The difference is likely between due to the implementation of `BufferScheduler` and `Batch`?

[2019-09-13 18:32] HarshaNalluru commented on #4252
https://github.com/Azure/azure-sdk-for-js/releases/tag/%40azure%2Fstorage-blob_12.0.0-preview.3
https://github.com/Azure/azure-sdk-for-js/releases/tag/%40azure%2Fstorage-file_12.0.0-preview.3
https://github.com/Azure/azure-sdk-for-js/releases/tag/%40azure%2Fstorage-queue_12.0.0-preview.3

Done.

[2019-09-13 18:32] #4252 closed

[2019-09-13 20:48] jeremymeng commented on #4890
Simplified webpack repro: https://github.com/jeremymeng/webpacktest

[2019-09-13 21:07] HarshaNalluru commented on #4084
#4898

[2019-09-13 21:07] #4084 closed

[2019-09-13 21:20] HarshaNalluru commented on #4461
Browser tests import the src code directly and all the test files get rolled-up. And the rolled-up test files are executed.
package.json doesn't come into the picture here and thus, we are not testing the browser mappings in the browser tests.

We can either update our test-framework to
- import the browser bundles and run the tests - for browser tests or
- import the tar zip of the SDK and in the

[2019-09-13 21:56] kurtzeborn commented on #2862
SharedKeyCredential is not something we support in the browser.  Since this issue has evolved from it's original question (which I believe was answered), I'm closing the issue.

@SogoGolf, @sposaro, @avalanche1 Thanks for reaching out and commenting.  If you have any other questions or bugs that you find in our preview libraries, don't hesitate in opening a new issue to get help!

[2019-09-13 21:56] #2862 closed

[2019-09-13 21:57] kurtzeborn commented on #4021
Looks like the question has been addressed here.  @BertholetDamien, thanks for reaching out.  If you have further questions, please open another issue and we'll get right on it.

[2019-09-13 21:58] kurtzeborn commented on #4707
Not a single comment or concern on this.  I think we're good now that we've released the next preview without the browser bundle on github.

[2019-09-13 21:58] #4707 closed

[2019-09-13 22:00] kurtzeborn commented on #4717
Closing as it looks like this discussion is complete.  @mjrousos, please open a new issue if you have any further questions or find any other bugs in the preview.  Thank you for trying it out!

[2019-09-13 22:00] #4717 closed

[2019-09-13 22:03] kurtzeborn commented on #4858
Looks like we've got something for you to try now in the new preview of v12 @YoDaMa.  Give it a shot.  Please open a new issue if you have any more questions or encounter any other bugs.  Thanks for reaching out with your question!

[2019-09-13 22:03] #4858 closed

[2019-09-13 22:27] BertholetDamien commented on #4021
The problem is not solved and I don't have personnal time to check that deeper.
So for, now, I use the workaround (see the description).

[2019-09-13 22:51] HarshaNalluru commented on #4895
Looks like `execa 2.0.4` and `universal-user-agent 4.0.0` have breaking changes that affect the comsos SDK.

/cc - @southpolesteve

[2019-09-13 22:51] jeremymeng commented on #4717
Hi Mike @mjrousos let's embrace immutability using spread operator

[code]

[2019-09-13 22:53] jeremymeng commented on #4950
Closing as it looks like this discussion is complete. @Saisankeerthpopcorn please open a new issue if you have any further questions or find any other bugs in the preview. Thank you for trying it out!

[2019-09-13 22:53] #4950 closed

[2019-09-13 22:56] jeremymeng commented on #4964
@sdnetwork  @himadrinath Thanks for the feedback! We will look into it.

[2019-09-13 23:13] sarangan12 commented on #5006
For the Issue 1, I have created a PR https://github.com/Azure/azure-rest-api-specs/pull/7213. Even after this, the requests will fail unless you specify the xMsVersion. In order to resolve this, the service team must update the default rest version value. I have created an issue for that: https://github.com/Azure/azure-rest-api-specs/issues/7214.

Once the PR has been merged, I will regenerate and

[2019-09-14 00:01] bterlson commented on #2542
I'm reluctant to make this change.

1. The rules around when a parameter is lifted into the `body` property of the message seem unclear. A rule like "any value which doesn't have a body property is set as the body property" makes things like `{Body: 'foo'}` "work", but probably not how the user expects. Other rules like primitives get lifted, objects must have a body property feel arbitrary and ha

[2019-09-14 01:19] louistiti commented on #5053
@ramya-rao-a indeed, I would like to register my devices against the DPS with a JavaScript client SDK other than the Node.js one. And then interact with my devices directly from my browser/client without going through a tiers back-end service.

But from my understanding, it seems that this repository (`azure-sdk-for-js`) is dedicated to the Azure portal level services. Which means I cannot registe

[2019-09-14 01:20] NOA-Louis commented on #5053
@ramya-rao-a indeed, I would like to register my devices against the DPS with a JavaScript client SDK other than the Node.js one. And then interact with my devices directly from my browser/client without going through a tiers back-end service.

But from my understanding, it seems that this repository (azure-sdk-for-js) is dedicated to the Azure portal level services. Which means I cannot register

[2019-09-14 02:13] kurtzeborn opened #5141 "Release Storage Track 2 Library Preview 5 for JS"
### Fit and Finish
- [ ] Error handling improvements #4999
- [ ] Metadata casing incorrect #4966
- [ ] Docs/Samples #4728 #3954 #4680 #4906 #5109
- [ ] Tests
  - [ ] Sample automation #3450
- [ ] Azure Identity completeness #5097 #5051
- [ ] API Tweaks #5102 #5106 #5216
- [ ] Bugs
  - [ ] [storage-file] 10.2.0 uploadFileToAzureFile - "TypeError: fetch is not a function" #5033
  - [x] Packaging bro

[2019-09-14 05:34] ramya-rao-a commented on #5053
Is [azure-iot-security-x509](https://www.npmjs.com/package/azure-iot-security-x509) the library that you are currently using for registering your devices?

Are you interested in only the features from the above package or event the others listed at [Azure IoT SDKs for Node.js](https://github.com/Azure/azure-iot-sdk-node#how-to-use-the-azure-iot-sdks-for-nodejs)?

[2019-09-14 05:46] ramya-rao-a commented on #2856
@holwech

There are no ongoing efforts to support the [@azure/keyvault](https://www.npmjs.com/package/@azure/keyvault) library.

Instead, we are currently working on splitting the keys, secrets and certificates features from this library to 3 separate libraries [@azure/keyvault-keys](https://www.npmjs.com/package/@azure/keyvault-keys), [@azure/keyvault-secrets](https://www.npmjs.com/package/@azure

[2019-09-14 05:55] NOA-Louis commented on #5053
Yes, I'm using `azure-iot-security-x509` for registering my devices.

I'm also interested into `azure-iot-device` to do device-to-cloud communication via events/messages/reported twin properties; invoking direct methods on the device.

[2019-09-14 20:46] khaosdoctor commented on #5106
Yeah this is pretty cool actually, one other thing would be to create a single BlobClient instead of instantiating several objects. But this is for another issue :)

[2019-09-14 22:45] ramya-rao-a commented on #5126
Resolved with #3180

[2019-09-14 22:45] #5126 closed

[2019-09-14 23:00] jeremymeng commented on #5106
@khaosdoctor could you please log a new issue?  We would love to hear about it in more details.

[2019-09-15 04:50] ramya-rao-a commented on #4927
done with #5010

[2019-09-15 04:50] #4927 closed

[2019-09-15 04:52] ramya-rao-a commented on #5104
The `amqp-common` branch has all the relevant changes needed for shipping preview 7. Below are pending items

- Set up CI to run the unit tests for amqp-common. @KarishmaGhiya
- Update the date in the changelog on the day when we decide to release it. @ramya0820
- Release Preview 7. @ramya0820

[2019-09-15 05:06] ramya-rao-a commented on #5053
Thanks for the clarification @NOA-Louis
At present, there is no support in this repo for the libraries you are looking for.

@maggiepint, @loarabia Can you provide any more information on future plans in this area?

[2019-09-15 07:59] mrsufgi commented on #5109
for SAS generation I followed the test spec files for a "how to", I also dug in a little deeper and found:

[code]

[2019-09-15 16:33] khaosdoctor commented on #5106
Sure thing :)

[2019-09-15 22:43] gamaya-developer opened #5143 "Electron app error: Failed to execute 'fetch' on 'Window': member signal is not of type AbortSignal."
issue appears in electron render process, because '@azure/core-http' use global [variable](https://github.com/Azure/azure-sdk-for-js/blob/d211c97fdaa96ff4f1146029ac178b5666cb1678/sdk/core/core-http/lib/nodeFetchHttpClient.ts#L7) for fetch() and it's replaced. Window(global object for electron) has 'fetch' as well. Possible fix for file https://github.com/Azure/azure-sdk-for-js/blob/d211c97fdaa96ff

[2019-09-15 22:59] jonathandturner commented on #4855
@kumarunster - For the case where the MSI branch is used, are you seeing a timeout after the 10 seconds?

[2019-09-15 23:02] jonathandturner commented on #4855
There's also a related issue, and I wonder if what you're experiencing with the MSI branch is related to that issue:

https://github.com/Azure/azure-sdk-for-js/issues/4965

[2019-09-15 23:31] jonathandturner commented on #4965
Is https://github.com/Azure/azure-sdk-for-js/issues/4631 also related to this issue?

[2019-09-16 01:49] ramya-rao-a commented on #5103
Completed with https://github.com/Azure/azure-sdk-for-js/pull/5130

[2019-09-16 01:49] #5103 closed

[2019-09-16 02:10] ramya-rao-a commented on #1972
The docs at https://docs.microsoft.com/en-us/javascript/api/@azure/event-hubs/?view=azure-node-preview are not showing the reference docs for the preview packages.

@scbedd I recall you were looking into getting docs generated for all the Track 2 libraries in preview. Is this something you can follow up on?

[2019-09-16 02:13] ramya-rao-a opened #5145 "[Event Hubs] Partition Manager should use namespace to guarantee uniqueness"
Today, the Partition Manager takes the event hub name, consumer group name and partition id to ensure uniqueness for the checkpoint and ownership infor.

Since the same event hub name and consumer group name can exist in another namespace, we need to use the namespace as well to ensure uniqueness.

While doing so, the fully qualified domain name should be used i.e just `my-namespace` wont suffice,

[2019-09-16 06:14] XiaoningLiu commented on #5095
@MikaGurrola Checked server side log, the request is rejected because of "CORS not enabled or no matching rule found for this request".  Please check your CROS settings and make sure the origin and methods are allowed in your CORS settings.

[2019-09-16 06:21] XiaoningLiu commented on #4692
@kurtzeborn @HarshaNalluru @jeremymeng Will you help create the branch for adlsgen2 from feature/storage? Or I can create the branch by myself, just check any naming patterns needed for the new branch. I'll change PR destination to the new branch.

[2019-09-16 06:24] XiaoningLiu commented on #4719
@jeremymeng Progress update for single request is scheduled in core-http. `Batch` & `BufferScheduler` updates progress request by request.

[2019-09-16 06:37] XiaoningLiu commented on #4021
recently released 12.0.0-preview.3 or 10.5.0 deprecates axios and switches to node-fetch, worth a try.

[2019-09-16 06:53] spaelling opened #5146 "Unable top get basic auth example to work"
- **Package Name**: @azure/ms-rest-browserauth
- **Package Version**: 0.1.0 - 2018-09-17
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**:
- [x] **browser**
    - **name/version**: Firefox/69.0
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [x] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.c

[2019-09-16 11:56] BertholetDamien commented on #4021
Nice to hear ! I will check (one of these day) if this update will fix the issue and report it here.

[2019-09-16 12:01] schaabs commented on #4965
@jonathandturner, I believe the two issues are the same.

[2019-09-16 15:46] southpolesteve commented on #4895
I will look at both this week

[2019-09-16 16:38] jeremymeng commented on #4719
@XiaoningLiu Got it.  So the issue only happens when uploading files with size < 256 MB.  I see the option being passed in `upload()` now.

[2019-09-16 16:56] southpolesteve commented on #4895
https://github.com/Azure/azure-sdk-for-js/pull/5148

[2019-09-16 17:10] jeremymeng commented on #4719
It's likely that we reported befoer the data is actually pushed. https://github.com/Azure/azure-sdk-for-js/blob/feature/storage/sdk/core/core-http/lib/fetchHttpClient.ts#L91

[2019-09-16 17:34] shurd commented on #5086
@christopheranderson has more context on this behavior.

[2019-09-16 18:34] kurtzeborn commented on #4163
@HarshaNalluru, as part of this work we also want to remove the problematic test from #5111 until that issue is resolved (which the Shanghai team is following up on separately).

[2019-09-16 18:45] jeremymeng commented on #4278
We have #3993 tracking rollup warning for storage. Removing storage label from this.

[2019-09-16 19:06] HarshaNalluru commented on #4895
https://github.com/Azure/azure-sdk-for-js/pull/5137

[2019-09-16 19:32] jeremymeng commented on #5081
@XiaoningLiu do you know where we can find a specification for all the formats of supported connection strings?

[2019-09-16 19:42] scbedd commented on #1972
Yep. I was occupied with release support last week and didn't have a chance to follow-up on any of the pending doc requests.

I'll go after these today.

[2019-09-16 19:52] jonathandturner commented on #4774
@funkydev - We've added a few additional ways to authenticate to the Identity library.

One possible fit for what you're looking for is device code credential, which let's you interactively get a code on your device that you can use to log in with. Is this similar to what you're looking for, by chance?

[2019-09-16 20:15] axisc commented on #4910
@imalao, Thanks for opening the support ticket. Based on internal logs, it appears to have been caused by transient issues due to service side upgrades.

Could you confirm if this is still an issue?

[2019-09-16 21:10] HarshaNalluru commented on #4692
I suggest `feature/storage-adlsgen2`. Fine ?

[2019-09-16 21:39] HarshaNalluru commented on #5080
#5134

[2019-09-16 21:39] #5080 closed

[2019-09-16 22:17] HarshaNalluru opened #5152 "[CommonRecorder] Import common recorder in storage packages"
Storage packages currently use the duplicated `recorder.ts` file, instead use `@azure/test-utils-recorder`.

[2019-09-16 22:48] chradek commented on #4767
### Background
In `event-hubs`, we use the `RequestResponseLink.sendRequest` method to get information from an Event Hub such as the list of partition ids.

When making multiple requests in parallel, we were seeing a significant slowdown in the time it took to to complete the requests vs the time it took to complete them in serial. (#4767 contains examples)

In `core-amqp`, calling `sendRequest` w

[2019-09-16 23:26] sadasant opened #5156 "[Record and Playback] Only record the tests that have changed"
To reduce the amount of changes per PR, as well as to keep older untraceable tests clean of the folder tree, we should:

1. Find the set of tests that changed (see note below).
2. Only record the tests that changed.
3. Find the recording files that have no matching test.
4. Remove the files that didn't match any existing test.

**Note:** To find the changing tests we can either:

a. Use git (eithe

[2019-09-16 23:33] HarshaNalluru commented on #5156
Some thoughts on how to implement this -
We can customize the console logs in the afterEach sections and in case a test fails in during playback, we generate the recording for the test.

Discussion in https://github.com/mochajs/mocha/issues/1998 might be helpful.

[2019-09-16 23:36] sadasant commented on #5156
This might also be sufficient to close this other issue: https://github.com/Azure/azure-sdk-for-js/issues/4879

[2019-09-16 23:50] sadasant opened #5157 "[Common Recorder] Update the KeyVault packages to use the latest API"
Follow the list here: https://github.com/Azure/azure-sdk-for-js/issues/4229

[2019-09-16 23:55] sadasant opened #5158 "[Common Recorder] Add tests to the common recorder"
We should add tests to the common recorder. Probably by having a fake project inside of the test folder where we would check all the functionalities that the recorder provides.

[2019-09-16 23:57] sadasant opened #5159 "[Common Recorder] Add tests to the common recorder"
We should add tests to the common recorder. Probably by having a fake project inside of the test folder where we would check all the functionalities that the recorder provides.

[2019-09-16 23:57] sadasant opened #5160 "[Common Recorder] Add tests to the common recorder"
We should add tests to the common recorder. Probably by having a fake project inside of the test folder where we would check all the functionalities that the recorder provides.

[2019-09-17 00:18] KarishmaGhiya commented on #5104
@ramya-rao-a Set up ci pipeline for releasing the amqp-common - https://dev.azure.com/azure-sdk/internal/_build?definitionId=891&_a=summary

For future releases can we get the amqp-common folder to the master from amqp-common branch- so that the Engineering system updates and other changes like resolving alerts for component governance- we make to the repo are not needed to be revisited again ? Th

[2019-09-17 00:20] KarishmaGhiya commented on #5104
@ramya-rao-a Can we go ahead and delete the amqp-common-preview-6 branch?

[2019-09-17 00:30] southpolesteve commented on #5086
This is expected. For cross partition queries, any OFFSET happens on the client as it is not distributable operation. The SDK has no way of knowing in advance which partitions contain results matching the query (or how many). In other words, there is no way the SDK can "skip ahead" in this context. We must skip over results on the client-side.

For containers with large numbers of partitions, the

[2019-09-17 00:30] #5086 closed

[2019-09-17 01:37] ramya-rao-a commented on #5104
Am ok with getting amqp-common to master branch as long as there is a way to do that while maintaining history.

Yes, we can delete the amqp-common-preview-6 branch as long as there is a git tag on preview 6 release

[2019-09-17 01:54] ramya-rao-a opened #5162 "[Event Hubs] Allow user to configure initial position in the subscribe method when receiving from all partitions"
There needs to be a way for user to specify the initial position for each partition that the EventHubConsumerClient decides to process events from if **checkpoints are not available**

Current proposal is to use the options to pass a map between partitionId and EventPosition

[2019-09-17 02:23] ramya-rao-a opened #5163 "[Event Hubs] SASCredential that follows TokenCredential"
This issue is to track the investigation on whether the SAS Credential object we now have can be modified to implement the TokenCredential interface.

Apparently our friends at .Net & Java already do this.

Having the SAS Credential object follow TokenCredential will allow us to have a simpler constructor story for EventProcessor

[2019-09-17 02:23] ramya-rao-a commented on #5163
cc @chradek

[2019-09-17 05:50] #4767 closed

[2019-09-17 06:21] Shawngbk commented on #5005
hi @southpolesteve
May I know is there the current ETA for replacing the cypto-hash?

[2019-09-17 07:26] XiaoningLiu commented on #4692
Looks good.

[2019-09-17 07:35] XiaoningLiu commented on #4719
Yes.

[2019-09-17 07:37] XiaoningLiu commented on #5081
Just like the doc link Harsha pasted https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string#configure-a-connection-string-for-an-azure-storage-account

[2019-09-17 07:42] sarangan12 commented on #5006
The PR has been merged. The issue with xMsVersion has also been resolved and closed. I have regenerated the SDK (Bumped the minor version - since this is just a bug fix) and published the PR. Once this PR is merged and SDK published, this should resolve the issue. I will also add a working sample here after the publishing.

[2019-09-17 16:15] southpolesteve commented on #5005
No ETA at this time. We are evaluating making our own crypto shim in #5023

[2019-09-17 16:55] kurtzeborn commented on #5105
@christopheranderson The decision to use rush to manage our dependencies and JS builds was not taken lightly.  Having a predictable build was the main thrust here.  What's stopping you from installing it locally in a folder rather than globally?

CC: @mikeharder, @bterlson

[2019-09-17 16:57] mikeharder commented on #5105
CC: @bsiegel

[2019-09-17 17:47] jonathandturner opened #5166 "[KeyVault][Certificates] NPM package for 4.0.0-preview5 is missing .d.ts file"
As reported by the China team, the @azure/keyvault-certificates npm package is missing the types directory and with it the main .d.ts file for certificates.

This package should match the other keyvault packages and:

* Provide the ./types/keyvault-certificates.d.ts file
* Update the "types" setting in package.json to point to this .d.ts file

If we haven't already, we should also make sure the .d

[2019-09-17 17:47] bsiegel commented on #5105
One additional wrinkle is that Rush uses pnpm as the package manager under the hood. Using both npm (to install rush) and pnpm in the same repo is definitely going to cause problems.

@christopheranderson The solution here is the same as we use in CI - for simplicity we recommend that devs who are working in the repo install Rush globally, however the repo does contain scripts that will automatica

[2019-09-17 17:52] bsiegel commented on #5105
You could probably add some aliases to make this easier to manage, let me know if this is helpful:

[code]

[2019-09-17 17:58] HarshaNalluru commented on #5159
#5160

[2019-09-17 17:58] #5159 closed

[2019-09-17 17:58] HarshaNalluru commented on #5158
#5160

[2019-09-17 17:58] #5158 closed

[2019-09-17 18:52] manishsat commented on #5006
Thx for the update, appreciate your help !!

[2019-09-17 23:41] #4965 closed

[2019-09-17 23:43] jonathandturner commented on #4631
We recently landed a fix that should help with this case (https://github.com/Azure/azure-sdk-for-js/pull/5144), which should allow more date formats to be accepted.

This fix will be part of the next release.

[2019-09-17 23:44] jonathandturner commented on #4855
We've landed a fix for what might be causing the timeout to not be properly parsed, though I'm not sure if it will address the core issue you're hitting.

If you're able to test what's in master, it would help us know if the issue was addressed. It should also be part of the next release of the Identity library.

https://github.com/Azure/azure-sdk-for-js/pull/5144

[2019-09-17 23:47] sadasant opened #5169 "[KeyVault] [README] Implement the "Deploy to Azure" button"
Implement the "Deploy to Azure" button, just like how it was made for the .Net SDK For EventHubs: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/README.md

Make sure to mention how to get the tools to run these (az, perhaps?).

[2019-09-17 23:49] sadasant opened #5170 "[KeyVault] Add a powershell script to create a keyvault based on our ARM template"
Add a powershell script to create a keyvault based on our ARM template. Just like how it was made for the .Net SDK For EventHubs: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/assets/live-tests-azure-setup.ps1

[2019-09-18 01:10] sadasant opened #5172 "[eslint-plugin-azure-sdk] Test that the types file is correctly configured"
The types file should be correctly configured and referenced in the package.json of each one of our libraries. We can do this by verifying the path (which doesn't change across libraries) with the project name, which should coincide with the project name.

[2019-09-18 01:10] sadasant opened #5173 "[KeyVault] Add eslint-plugin-azure-sdk to our keyvault libraries"
Follow up of this PR: https://github.com/Azure/azure-sdk-for-js/pull/4772

[2019-09-18 01:23] #5166 closed

[2019-09-18 02:29] wiazur commented on #3936
I tested this again, and now the `const client = new LUIS.LUISAuthoringClient (endpoint, creds);` gives the error, and it's flip of params does not:
`const client = new LUIS.LUISAuthoringClient (creds, endpoint);`

[2019-09-18 02:30] ramya-rao-a opened #5174 "[EventHubs] PartitionId should be number, not string"
As per feedback from the Service team, it is guaranteed that partition ids with be numbers starting from 0 until n-1 where n is the number of partitions. With this in mind, below changes would be needed in the Event Hubs library

- The result from `getProperties()` should contain partition count instead of the partition Ids
- The method `getPartitionIds()` no longer needed as users can start from

[2019-09-18 04:50] jeremymeng opened #5177 "[Storage] Incorrect comment on BlobGetPropertiesHeaders.contentLength"
https://github.com/Azure/azure-sdk-for-js/blob/2696e506b57101035de6dfad4eb3b6e5aab3eb4d/sdk/storage/storage-blob/src/generated/src/models/index.ts#L3989

The generated code says
[code]

but the REST Api doc https://docs.microsoft.com/en-us/rest/api/storageservices/get-blob-properties shows

[code]

I suppose this is from the swagger json @XiaoningLiu

[2019-09-18 05:00] devaradhanm opened #5178 "DefaultAzureCredential not working on storage blob apis"
@azure/identity - 1.0.0-preview.3
@azure/storage-blob - 12.0.0-preview.2
OS - Windows 10
nodejs - v10.15.1

**Describe the bug**
This is a follow up bug for https://github.com/Azure/azure-sdk-for-js/issues/2934
To download a blob file, if we use DefaultAzureCrendential instead of SharedKeyCredential, like the code below, I am getting the error:

    Unexpected status code: 403

      at new RestEr

[2019-09-18 06:11] michaeljqzq commented on #5143
Hi @daviwil , this is an issue regarding core-http library. Could you take a look? Thanks

[2019-09-18 06:17] michaeljqzq commented on #5085
This is REST API issue. Remove `mgmt` tag

[2019-09-18 06:18] michaeljqzq commented on #4982
Hi @mikeharder , is there any furthur concern regarding this issue ?

[2019-09-18 06:51] kumarunster commented on #4855
thanks, @jonathandturner! I'll do some tests today.

[2019-09-18 08:34] ruowan commented on #5146
It seems some errors about simple code.  You can move all scripts html tag into html body tag. It works for me.  Bellow is a correct simple. Pls, try it again.

[code]

[2019-09-18 10:07] spaelling commented on #5146
Got it to work. There is some additional config needed as below.

I need to enable ID Tokens.

<img width="410" alt="vmiXJMZdIC" src="https://user-images.githubusercontent.com/871412/65139106-5dd1bd00-da0c-11e9-8a13-f14a01d5bfda.png">

And also grant API permissions to *Azure service management*.

<img width="534" alt="jjXQSeVESv" src="https://user-images.githubusercontent.com/871412/65139141-6cb8

[2019-09-18 15:51] MikaGurrola commented on #5095
@XiaoningLiu Yes absolutely, currently my CORS are as follows:
`ALLOWED ORIGINS: *`
`ALLOWED METHODS: DELETE, GET, HEAD, MERGE, POST, OPTIONS, PUT`
`ALLOWED HEADERS: x-ms-*` <- This is the only setting not to *
`EXPOSED HEADERS: *`
`MAX AGE: 240`

What do I have to add to `azureBlobStorage.uploadBrowserDataToBlockBlob()`?
I'm getting a CORS error on the OPTIONS call. I'm assuming I'd have to edit

[2019-09-18 17:20] khaosdoctor opened #5179 "[Storage] Improve developer experience with less object instances"
**Is your feature request related to a problem? Please describe.**
This is not a bug, I would not consider a feature because it wouldn't actually add nothing new, it's more like an improvement. This is a follow-up from #5106

Today, in order to list all blobs from a container we have to do the following:

[code]

We need at least 5 lines just of object instantiation:

[code]

The same goes to almo

[2019-09-18 17:20] khaosdoctor commented on #5106
Done on #5179 ;)

[2019-09-18 18:10] jfggdl commented on #5063
@lrxw, please share the support request number once you have it. Thanks.

[2019-09-18 18:30] richardpark-msft commented on #5074
This will be fixed properly by the newly generated models from the latest swagger.

#5176 (Regenerated models, fixing AppConfigurationClient)

[2019-09-18 18:54] jpeterson88 commented on #3762
@ramya-rao-a, I can verify what @dlukianenko is saying is accurate. I created a simple node server with the example from the documentation and am experiencing Messages not being deleted from the subscriptions even with the ReceiveMode as ReceiveAndDelete. I've added the peek to the example above:

`async function main() {
    const sbClient = ServiceBusClient.createFromConnectionString(connectionS

[2019-09-18 19:47] mikeharder commented on #4982
@michaeljqzq: Yes, see point #2 above.  I understand the pipelines need to be different since CI triggers autopublish but PR does not, but outside of this difference I think both pipelines should run the same checks.

[2019-09-18 20:20] chradek opened #5180 "[Event Hubs] Add support for tracing"
This issue tracks the work needed to add tracing support to Event Hubs.

Reference spec:
https://gist.github.com/lmolkova/e4215c0f44a49ef824983382762e6b92#file-minimal_instrumentation-md

[2019-09-18 23:05] BulldogCTISolutions opened #5183 "COSMOS: Uncaught ReferenceError: process is not defined in @azure/cosmos/dist-esm/common/logger.js:3"
- **Package Name**:  @azure/cosmos
- **Package Version**: 3.2.0
- **Operating system**: Windows 10 x64 build 17763.737
- [ ] **nodejs**   node = 10.16.0, angular cli  = 7.3.9
    - **version**:
- [ ] **browser**  Chrome v77
    - **name/version**:
- [ ] **typescript**   3.2.2
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ]

[2019-09-19 01:01] scbedd opened #5185 "Generate Individual Package Documentation in CI Builds - JS"
### Intent and Context
We currently generate documentation as a single unit holistic `doc site`. We need to extend this capability to generate doc sites at the _per package_ level.

Eventually, our unified pipelines will publish these artifacts to a blob storage static web hosting container, but first we need to generate them.

Expected output at the end of this:

1. An additional DevOps `build ar

[2019-09-19 01:08] ramya-rao-a commented on #5174
As per feedback from the API review, removal of getPartitionIds() results in new users trying to find a way to fetch the partition id from the client, keeping it with it returning numbers from 0 to n-1 feels silly. Since the service team is not intending to change the API for `runtimeinfo` and will continue to return partition ids as strings, the decision is to continue treating them as strings

[2019-09-19 01:08] #5174 closed

[2019-09-19 01:56] ramya-rao-a commented on #2542
So, if no body was provided, do we go ahead and send an empty message?

[2019-09-19 02:36] HarshaNalluru commented on #5178
Thanks for creating the issue, @devaradhanm !
I could repro the issue on my end with both @azure/storage-blob - `12.0.0-preview.2` and `12.0.0-preview.3`, will get back soon.

[2019-09-19 03:43] Shawngbk commented on #5005
Appreciate your help!
Looking forward to the further steps.

[2019-09-19 08:48] ruowan commented on #5146
Thanks for your feedback.  We will plan to update the documentation soon.

[2019-09-19 17:07] ShivangiReja commented on #5145
Closed with https://github.com/Azure/azure-sdk-for-js/pull/5153

[2019-09-19 17:07] #5145 closed

[2019-09-19 17:08] BulldogCTISolutions commented on #5183
Looking at the code:  azure-sdk-for-js/sdk/cosmosdb/cosmos/src/common/logger.ts   line 4  is this:
const cosmosLevelFilter = process.env.COSMOS_LOG_LEVEL || "warn|error";

The ReferenceError cannot find where 'process' is defined.  Is there a peer dependency that's missing?

[2019-09-19 18:30] richardpark-msft commented on #4760
Tracing fell off, I'll add it to our epic for Preview 4.

[2019-09-19 18:36] richardpark-msft opened #5189 "Release AzConfig Track 2 Library Preview 4 for JavaScript"
Focus on stabilizing interface and adding in diagnostics:

Interface changes:
- [x] Support AsyncIterator pattern using @azure/core-paging for listConfigurationSettings and listRevisions (provided it supports paging)
- [x] Use newly generated Swagger models (possible changes)
- [x] Add two new methods - lock and unlock (names subject to change pending API review) [#5297]
- [x] Update conditional A

[2019-09-19 18:40] xirzec opened #5190 "keyvault packages mutate passed spanOptions"
- **Package Name**: keyvault-certificates, keyvault-keys, keyvault-secrets
- **Package Version**: 4.0.0-preview.6

**Describe the bug**

Operations can take a manual tracing span like this

[code]

The problem arises that under the covers these libraries mutate spanOptions inside a private `createSpan` helper:

[code]

The issue being that if a user does two operations with a re-used options bag (

[2019-09-19 19:00] jonathandturner commented on #4571
Completed as part of #5150

[2019-09-19 19:00] #4571 closed

[2019-09-19 19:10] #4823 closed

[2019-09-19 20:10] richardpark-msft opened #5191 "Document public fields in newly generated models"
The newly generated models are missing documentation for fields. Need to figure out how to properly get them documented.

-Originally posted by @chradek in https://github.com/Azure/azure-sdk-for-js/pull/5176_

[2019-09-19 20:13] richardpark-msft opened #5192 "[AzConfig] Allow the user to pass in proxy settings"
Allow users to pass in proxy configuration settings via the constructor.  Should be at parity with other clients do.

_Originally posted by @chradek in https://github.com/_render_node/MDIzOlB1bGxSZXF1ZXN0UmV2aWV3VGhyZWFkMjAwMzc4NzYyOnYy/pull_request_review_threads/discussion_

[2019-09-19 20:55] sadasant opened #5193 "[KeyVault-Keys] Incorrect CLI command"
In the keyvault-keys's readme we're using `--secret-permissions`, which is not a valid flag on the CLI.

It also says "to perform secret operations on the keyvault", which is probably not relevant to keyvault-keys. This also means that this issue is also probably in the keyvault-secrets and keyvault-certificates packages.

[2019-09-19 20:56] sadasant opened #5194 "[KeyVault-Keys] No content for "Iterating list of keys""
Add content to the "Iterating list of keys" section of the README.

[2019-09-19 21:08] sadasant opened #5195 "[KeyVault-Keys] Wrong code snippets"
- "getResult" is not found on the "getting a key" section.
- Wrong code snippet related to "client.createKey()" and "result.version" on the "creating and updating keys with attributes" section.
- Wrong code snippet related to "encrypt", "decrypt:" and decrypt.toString() on the encrypt and decrypt sections.
- Wrong code snippet related to "cryptoClient" and "signature" on the "sign data" section.
-

[2019-09-19 21:11] sadasant opened #5196 "[KeyVault-Certificates] No content for "Iterating list of certificates""
What the title says.

[2019-09-19 21:27] kiboliu opened #5197 "Retry download after Aborter is aborted due to timeout"
**Is your feature request related to a problem? Please describe.**
No retry after Aborter.timeout is triggered

**Describe the solution you'd like**
I set 30min Aborter.timeout for downloading data from blob, recently I find the frequency of timeout increases (maybe due to some connection issues?). I think @azure/storage-blob have already provided retry policy, but Aborter.timeout seem like not tr

[2019-09-19 21:45] #4350 closed

[2019-09-19 23:20] sadasant opened #5198 "Run the existing tests against the released versions of our libraries"
We should build a CI task that would copy every package's tests into a folder where the path of the local dependencies can be overwritten to use the location of the latest artifacts, then build the tests with typescript to potentially find missing types, then run the unit tests (against the available recordings).

This is inspired in Brian Terlson's idea:

 For each test, examine the types it uses

[2019-09-19 23:21] sadasant commented on #5198
The labels are probably wrong, but I need someone else to look at this.

[2019-09-20 00:20] KarishmaGhiya opened #5199 "combine the publish and additional tagging into 1 script"
Combine the two steps [here](https://dev.azure.com/azure-sdk/internal/_git/azure-sdk-build-tools?path=%2Fpipelines%2Fstages%2Farchetype-js-release.yml&version=GBmaster)

[2019-09-20 00:25] sadasant commented on #4835
@ifeoluwaokunoren Hi! This is an ongoing effort with @bterlson to move Azure/azure-sdk-for-js's core-arm to use a new design of a central strategy for long running operations that we're calling: core-lro. You can read more here: https://github.com/Azure/azure-sdk-for-js/issues/4832

[2019-09-20 00:34] jeremymeng commented on #5179
Thank you @khaosdoctor for the feedback and proposals! They are helpful in our API design. We recently released preview of the Azure storage client library which might have addressed some (but not all) of the issues you described above.  For example, we added new constructor overloads for various *URL (*Client in the new version) that takes
 - connection string
 - url and credential

Please try ou

[2019-09-20 01:17] HarshaNalluru commented on #4895
Done

[2019-09-20 01:17] #4895 closed

[2019-09-20 01:21] HarshaNalluru commented on #2462
Closing this since cosmos V2 doesn't exist in this repo anymore.

[2019-09-20 01:21] #2462 closed

[2019-09-20 01:22] HarshaNalluru commented on #3236
Done!

[2019-09-20 01:22] #3236 closed

[2019-09-20 01:24] HarshaNalluru commented on #2732
@southpolesteve I believe you've done this already.
If yes, can we close this issue?

[2019-09-20 01:25] HarshaNalluru commented on #3083
Do we still need this ?

@jeremymeng @southpolesteve

[2019-09-20 01:29] #2732 closed

[2019-09-20 02:17] XiaoningLiu commented on #5197
Hi @kiboliu It's by design. Abort will stop further retry happens. Abort timeout should take consideration time of all retries.

[2019-09-20 03:35] XiaoningLiu commented on #5095
@MikaGurrola `IUploadToBlockBlobOptions` will not help with the Options failed.
You can narrow down the root casue by setting cors values all to "*", and see if it works. Then update to a samaller values untils find out which settings blocks your request.

[2019-09-20 03:37] MikaGurrola commented on #5095
@XiaoningLiu sure did, it works when I have everything set to '*' , the only time I can't make a successful call when I had a rule to 'ALLOWED HEADERS'

[2019-09-20 03:43] XiaoningLiu commented on #5177
Yes, it's from swagger definition. Should update swagger for fix.

[2019-09-20 03:45] XiaoningLiu commented on #5095
I think there are other headers needed to be whitelisted in cors instead of `x-ms-*`. You need to figure out a full header list.

[2019-09-20 03:45] MikaGurrola commented on #5095
gotcha

[2019-09-20 05:03] kiboliu commented on #5197
@XiaoningLiu Thank you for your reply! I'm wondering how is the retry implemented? Will the retry happen on the same connection, or kill current connection and build a new connection for retry? The reason why I ask this is that I think my issue is due to connection issues, so if the retry is implemented on the same connection maybe it does not work as expected.

[2019-09-20 15:41] richardpark-msft commented on #5198
An idea I was toying around with that's similar in nature to this was to make it so that we generate samples/sections from a unit test (provided we obey some rules).

This would allow us to have the best of both worlds - we'd get to have our samples be fully tested and a tool would make them "user ready" so they'd import the actual package rather than having a comment that says "replace ../AppConf

[2019-09-20 15:51] khaosdoctor commented on #5179
Sure thing! I'm going to try it out here, not going to put it in production just yet because our policy here does not allow us to put preview packages in production envs, however I'll keep an eye out for this particular release.

**Ps:** By the way, really cool stuff you guys did with the asynchronous iterators when getting blobs and containers, awesome work!

[2019-09-20 16:37] jeremymeng opened #5202 "[Keyvault] Paged async iterator issue when using continuation token in .byPage()"
Keyvault might have similar issue as in Storage when continuation token is used. e.g.,

[code]

One possible fix: https://github.com/Azure/azure-sdk-for-js/pull/5168