[2022-04-26 12:21] EmmaZhu commented on #21402
Hi @amit12cool , this is not a SDK issue. You should be able to get more detailed answer about service behavior by the Help Request from Azure Portal.

![image](https://user-images.githubusercontent.com/6396650/164195954-ea3a7795-cf17-4a50-952b-46cf1e900a39.png)

[2022-04-26 12:22] EmmaZhu commented on #21089
Fixed.

[2022-04-26 12:22] #21089 closed

[2022-04-26 13:25] EmmaZhu commented on #21110
Hi @jeremymeng ,

I may understand the issue wrong, please correct me if I'm wrong.

The issue here is: when customer set `nodeIntegration: true`, `isNode` which detects the environment in runtime would return true, but the file is picked up in compiling and the compiler thinks it's a browser.

I see we only support `disableResponseDecompressionPolicy` in Node.JS, because we have no control on whe

[2022-04-26 17:23] AbhishekSinha-AEP opened #21606 "Unable to authenticate via subject name and issuer to AAD app"
- **package: @azure/identity**:
- **version: latest**:
- **OperatingSystem: Windows 11**:
- [ ] **nodejs**
    - **14.17.0**:
- [ ] **browser**
    - **NA**:
- [ ] **typescript**
    - **4.5.4**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I am using the @azure/identity (ty

[2022-04-26 19:12] jeremymeng opened #21607 "[tables][doc] Readme has duplicate info on TableClient authentication with TokenCredential"
https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/tables/data-tables/README.md#tableclient-with-tokencredential-azure-active-directory

and

https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/tables/data-tables/README.md#tableclient-with-tokencredential-aad

looks almost the same

[2022-04-26 21:32] KarishmaGhiya commented on #21606
@AbhishekSinha-AEP  Hello! Thank you for reporting this issue to us. We will do our best to help you.
We had a few questions for you that will help us investigate better -
1. What version of @azure/identity are you using?
2. How are you setting up your app registration? Can you share the API permissions that your app registration has and the permissions granted on the key vault resource for the ap

[2022-04-26 21:47] AbhishekSinha-AEP commented on #21606
@KarishmaGhiya
1. This is what I am using in package.json dependency "@azure/identity": "latest"
2. As far as I understand, we need to setup trustedCertificateSubjects for the certficate which is present.
The app has all permissions on the keyvault resource. As for the API permissions, User.Read for microsoft graph
3. Yes we are doing certificate rotation, thats why we want to use subject name and

[2022-04-27 00:03] jeremymeng commented on #14800
@hamsa-s The service documentation about dead-letter queue is at https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues

There's some information on migrating from older version of service bus JavaScript SDK https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/servicebus/service-bus/migrationguide.md#settling-messages, but note that the older version of JS l

[2022-04-27 05:31] MaryGao commented on #21478
@NoTuxNoBux Thanks for reporting this issue! We reproduced in local environment and we think this is a valid issue and are contacting the service team to fix it. Will let you know once we have a release to fix it!

[2022-04-27 05:37] w01w13 opened #21614 "[Azure Communications] Calling the startVideo / stopVideo or mute/unmute repeatedly will cause uncaught exceptions"
- **Package Name**: @azure/communication-calling
- **Package Version**: 1.4.4
- **Operating system**: MacOS
- [] **nodejs**
    - **version**:
- [X ] **browser**
    - **name/version**: Chrome 100.0.4896.127 / Edge 100.0.1185.50
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://do

[2022-04-27 05:37] azure-sdk commented on #21614
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.16745946,Compute:0.09351083,Docs:0.09309866'

[2022-04-27 05:40] alghandianalytics commented on #20984
I am having the same issue: can not put container group into subnet while deployment:
`{"status":"Failed","error":{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"BadRequest","message":"{\r\n  \"error\": {\r\n    \"code\": \"Priva

[2022-04-27 06:46] petrsvihlik commented on #15814
all the communication packages have been migrated. a couple of them are still due for a release.

[2022-04-27 06:46] #15814 closed

[2022-04-27 06:47] petrsvihlik commented on #18689
done in https://github.com/Azure/azure-sdk-for-js/pull/21193

[2022-04-27 06:47] #18689 closed

[2022-04-27 07:07] petrsvihlik opened #21624 "[Communication] - phone-numbers - Migrate to @azure-tools/test-recorder V2"
Migrate the `communication-phone-numbers` package tests to use the new `@azure-tools/test-recorder` implementation, which replaces the existing nock/nise-based recorder with a solution that uses the language-agnostic test proxy server. For more details, see: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/MIGRATION.md.

You can also get inspired by the other ACS modalit

[2022-04-27 07:22] colawwj commented on #20728
The latest sdk link,https://www.npmjs.com/package/@azure/arm-appservice/v/12.0.0

[2022-04-27 07:23] colawwj commented on #20651
The latest sdk link,https://www.npmjs.com/package/@azure/arm-appservice/v/12.0.0

[2022-04-27 07:23] qiaozha commented on #20728
@nturinski please try the latest SDK of @azure/arm-appservice and see if the problem has been resolved. Thanks

[2022-04-27 07:32] qiaozha commented on #21589
@MaryGao Can you help take a look at this issue ? Thanks

[2022-04-27 14:36] praveenkuttappan opened #21635 "Track1 mgmt pipeline failure"
Track1 mgmt pipeline is failing with CG error. This pipeline is not using global variable template that's used by CI pipeline.

[2022-04-27 14:36] azure-sdk commented on #21635
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.58676684,Client:0.4091297,Service:0.0022023972'

[2022-04-27 15:03] praveenkuttappan opened #21636 "Update default build node version to 16"
JS packages are built using Node 14 currently. We should update default build version to 16 now since we have node 18 also available.

[2022-04-27 15:16] #21152 closed

[2022-04-27 15:17] maorleger commented on #21614
@petrsvihlik I wasn't sure who to assign this to, would you mind triaging further if you're not the correct assignee? Thanks so much!

[2022-04-27 15:31] maorleger opened #21638 "Generated management libraries using locale links"
See this PR for an example: https://github.com/Azure/azure-sdk-for-js/pull/20606/files#diff-f46f1e77a805cf4787ad307ba749477b58eb4a8be597b428d135aefef31580a5R15

I am not well versed in the generation process, and where the source of truth is for these links, but we should not include locale information in links.

Either the swagger repo needs a validation rule against locale links (en-us for examp

[2022-04-27 15:31] azure-sdk commented on #21638
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.08740165,Data Factory:0.04072615,CodeGen:0.03683309'

[2022-04-27 16:55] #21597 closed

[2022-04-27 17:34] jeremymeng opened #21640 "[storage-datalake] deprecate @azure/storage-datalake"
The last version published is 0.2.0 three years ago.  We should
- [ ] deprecate the package
- [ ] delete the source code

[2022-04-27 20:28] AbhishekSinha-AEP commented on #21606
@KarishmaGhiya till when can I expect an update on this issue?

[2022-04-27 20:43] maorleger commented on #21587
Interesting, thank for you letting us know! I will route this to the appropriate team for further investigation. @qiaozha since this relates to PostgreSQLManagementClient would you mind taking a look and helping @blured75 see the network requests when using the AZURE_LOG_LEVEL variable?

[2022-04-27 22:33] jeremymeng opened #21645 "[monitor-query] deprecated dependency `@opentelemetry/tracing` and `@opentelemetry/node`"
It's reported during installation:

[code]

[2022-04-27 23:51] deyaaeldeen commented on #20878
Addressed, closed.

[2022-04-27 23:51] #20878 closed

[2022-04-28 00:25] griffinbird opened #21650 "Update readme.md to include a section on Cosmos DB JS SDK limitations"
**Is your feature request related to a problem? Please describe.**
This isn't a problem per se but to enhance documentation and keep in-line with Cosmos DB Python SDK.

**Describe the solution you'd like**
To follow suit with the Cosmos DB Python SDK which lists out the [limitations](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/cosmos/azure-cosmos#limitations), it would be good to d

[2022-04-28 00:45] #20063 closed

[2022-04-28 01:55] EmmaZhu commented on #20716
Hi @chandankumarzf ,

Any help needed please feel free to reopen this issue or open a new one.

Thanks
Emma

[2022-04-28 01:55] #20716 closed

[2022-04-28 02:28] WeiJun428 commented on #6529
Hi @jeremymeng, I wish to have some clarification: is adding scenario means adding an extra chunk of code that sends + receive + delete multiple messages or we just change the current sample to multiple messages?

[2022-04-28 05:23] petrsvihlik commented on #21614
@akania Can you please assign someone from the Calling team?

[2022-04-28 07:58] Kondamon commented on #21572
I was able to resolve the issue via specifying the correct architecture:
`docker buildx build --platform linux/amd64 --rm --pull -f Dockerfile …`
Maybe you should mention this in the tutorial.

[2022-04-28 08:03] #21262 closed

[2022-04-28 15:50] jeremymeng commented on #6529
@WeiJun428 For this we can just add extra code into the same file.  Like send three messages at the beginning, receive one (existing scenario), then receive two.

[2022-04-28 17:18] praveenkuttappan opened #21673 "Verify file paths in package.json"
We have seen few failures during version increment due to file path in incorrect case in package.json. These files are modified to update version reference when it's mentioned in package.json.

for eg. package.json says file path is "src/TestABC.ts" when actual file path is "src/testABC.ts".

We should analyze all file paths given in package.json and make sure path is correct.

[2022-04-28 18:33] azure-sdk opened #21675 "Dependency package @opentelemetry/instrumentation has a new version available"
We have identified a dependency on version 0.27.0 of @opentelemetry/instrumentation. A new version (0.28.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for e

[2022-04-28 18:33] azure-sdk opened #21676 "Dependency package @opentelemetry/instrumentation-http has a new version available"
We have identified a dependency on version 0.28.0 of @opentelemetry/instrumentation-http. A new version (0.29.1) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder

[2022-04-28 18:33] azure-sdk commented on #21675
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.28138027,Service Bus:0.15045695,Azure.Identity:0.04556676'

[2022-04-28 18:33] azure-sdk commented on #21676
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.48046187,Service Bus:0.07696313,KeyVault:0.043280646'

[2022-04-28 19:18] KarishmaGhiya opened #21677 "[Identity] Allow customers to pass in certificates with Bag Attributes and Key Attributes"
If we receive a certificate with Bag Attributes and Key Attributes, it should be removed in the code while processing https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/src/msal/nodeFlows/msalClientCertificate.ts#L63

Read this for more context- https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/ac876cd1c8fecb7c0f8365082800de30ab60ec60/lib/msal-node/docs

[2022-04-28 20:24] sima-zhu commented on #21569
https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=290655&view=results

[2022-04-28 21:13] #21635 closed

[2022-04-28 21:48] jeremymeng commented on #20492
Fixed by #21644

[2022-04-28 21:48] #20492 closed

[2022-04-29 03:17] qiaozha commented on #21638
@maorleger I create a new lint rule proposal here https://github.com/Azure/azure-openapi-validator/issues/282

[2022-04-29 08:02] #20081 closed

[2022-04-29 16:50] jeremymeng commented on #19226
Some relevant information from ts-node doc: https://github.com/TypeStrong/ts-node#mocha-7-and-newer
[code]

[2022-04-29 18:40] maorleger commented on #21140
Fixed with #21671

[2022-04-29 18:40] #21140 closed

[2022-04-29 18:40] maorleger commented on #21596
Flaky service error

[2022-04-29 18:40] #21596 closed

[2022-04-30 03:21] EmmaZhu commented on #21554
It's a service side issue, fixed.

[2022-04-30 03:21] #21554 closed

[2022-04-30 09:19] EmmaZhu commented on #20627
From the reproducing, it doesn't seem like an issue in SDK. Any further assistant needed, please feel free to reopen the issue.

[2022-04-30 09:19] #20627 closed

[2022-04-30 11:54] EmmaZhu commented on #20648
JS SDK can take URL with `versionId` in query parameter correctly and can get its properties successfully.  No fix required from JS.

[2022-04-30 11:54] #20648 closed

[2022-04-30 11:58] EmmaZhu commented on #16673
https://github.com/Azure/azure-sdk-for-js/issues/16362

[2022-04-30 13:57] EmmaZhu commented on #21361
Delay a longer time should be able to make it more stable. Transient failure, will fix it if it happens a again.

[2022-04-30 13:57] #21361 closed

[2022-04-30 13:59] EmmaZhu commented on #21302
Failed when trying to check out from github, it's not storage SDK issue. Rerun passed, should fix it if it happens again.

[2022-04-30 13:59] #21302 closed

[2022-04-30 14:06] EmmaZhu commented on #14876
Fixed as required.

[2022-04-30 14:06] #14876 closed

[2022-04-30 14:07] #14797 closed

[2022-05-02 07:11] HarshaNalluru commented on #19226
We already have too many configurations, if we add more it would look like
- `dev-tool run test:node-ts-input` with v7 mocha
- `dev-tool run test:node-js-input` with v7 mocha
- `dev-tool run test:mocha-v9-ts`
- `dev-tool run test:mocha-v9-js`

[2022-05-02 14:47] selenecodes commented on #21309
This was entirely due to me not setting up CORS in Azure Portal.
If you're running into this issue be sure to:
- Disable any CORS bypass extensions on your web browser
You should now not be able to request any data.

To solve this follow this [documentation page](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/how-to-configure-cross-origin-resource-sharing)

[2022-05-02 14:47] #21309 closed

[2022-05-02 17:10] #20379 closed

[2022-05-02 17:45] jeremymeng commented on #6529
@WeiJun428 Thanks for the PR!  It looks great to me! It looks that we switched to a new process for sample authoring after this issue was logged and I haven't updated the issue description.  Sorry for that.

Could you please have a look at the https://github.com/Azure/azure-sdk-for-js/wiki/Samples-v2-Migration-Guide and add the new scenarios into samples-dev/queueclient.ts, then re-publish the TS

[2022-05-02 18:40] scbedd commented on #18222
@timovv This is a product of adding features without thinking holistically of the process.

1. Sanitizers apply at `save` time, because I had the thought in the back of my head about `session` vs `request` level Sanitizers. EG a sanitizer that applies, but requires the full context of the recording to properly apply. That would be implemented in our `ContinuationSanitizer`. Aside from that, we don

[2022-05-02 21:14] timovv commented on #18222
Thanks for the follow up, Scott. Agreed that this is low priority. I'll update the title of this issue too and leave it in the backlog.

[2022-05-02 21:16] timovv commented on #18222
Actually, on second thought, I think that the new issue covers this one well. I'll close this one out.

[2022-05-02 21:16] #18222 closed

[2022-05-02 22:17] JonathanCrd opened #21708 "[KeyVault Keys] Missing required env variable in Sample.env"
`AZURE_KEYVAULT_ATTESTATION_URI` is not in the sample.env file but it is required to run the tests for KeyVault Keys.

[2022-05-02 23:09] timovv opened #21709 "[Recorder] Make recorder handle redirects in browser"
Background:
* https://github.com/Azure/azure-sdk-for-js/issues/21219
* https://github.com/Azure/azure-sdk-tools/issues/3083

The test proxy no longer follows redirects by default, instead passing the redirect status back to clients for them to handle. While this behavior is more realistic than what it was before, it may cause issues with browser tests since redirects will be handled by the browser

[2022-05-02 23:32] JonathanCrd opened #21710 "[KeyVault] Generated Async iterators are disabled in KeyVault data-plane packages"
In the Autorest configuration readme, the flag `disable-async-iterators` is set to true for KeyVault Admin, Certificates, Keys and Secrets.

The pagination iterators and logic are located in the convenience layer, most likely because the iterator methods were introduced before the code generator supported them. We might want to change this behavior, since any changes in the future that will be tac

[2022-05-03 17:42] praveenkuttappan commented on #21463
@xirzec Do we want to start failing build job if it is above a threshold level?

[2022-05-03 17:44] praveenkuttappan commented on #21053
Duplicate of #21054

[2022-05-03 17:44] #21053 closed

[2022-05-03 17:53] jeremymeng commented on #21054
I found that most of the warnings reported at the beginning are indirect dependencies.

[2022-05-04 00:02] hamsa-s commented on #14800
@jeremymeng Thank you so much for the resources! After looking through the documentation and current samples, I found that there are some samples for the dead-letter queue that seem to replicate the behavior from the .NET version. Are these sufficient for the issue or is there something more that is needed?

Current samples:
https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/servicebus/servic

[2022-05-04 00:47] jeremymeng commented on #14800
@hamsa-s Thanks for the links!  I think it still has value to add a new sample that contains scenarios in https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.Azure.ServiceBus/DeadletterQueue, since the sample is used as a companion of the doc page.  Our existing samples doesn't cover some of the concepts in that doc page.

[2022-05-04 08:02] #21327 closed

[2022-05-04 13:17] andrewhafer opened #21717 "Multiple resource tokens on different partitions of same collection"
When creating a new CosmosClient, is there a way to provide multiple resource tokens that all apply to the same collection, but each to a different partition key in that collection?  (And to have @azure/cosmos select the correct resourceToken based on the partitionKey used in the operation?)

Something like this:

[code]

As far as I can tell from reviewing the docs and code, you can specify the i

[2022-05-04 18:15] danielortega-msft commented on #21225
This was resolved in PR https://github.com/Azure/azure-sdk-for-js/pull/21202.

[2022-05-04 18:15] #21225 closed

[2022-05-05 01:37] zedy-wj commented on #20675
The problem is no longer reproduced, we will close this issue, thanks all!

[2022-05-05 01:37] #20675 closed

[2022-05-05 02:35] EmmaZhu commented on #15594
https://github.com/Azure/azure-sdk-for-js/issues/8117

[2022-05-05 02:36] EmmaZhu commented on #8117
https://github.com/Azure/azure-sdk-for-js/issues/15594

[2022-05-05 05:00] KarishmaGhiya commented on #21606
@AbhishekSinha-AEP
We found a bug in @azure/msal-node for parsing certificates. This PR https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/4790 which should fix the problem.

We will discuss with the msal-node team for updates on when this will be released.

[2022-05-05 07:29] sinedied opened #21726 "@azure/identity: app never exits when using InteractiveBrowserCredential"
- **Package Name**: @azure/identity
- **Package Version**: 2.0.4
- **Operating system**: MacOS 12.3.1
- [x] **nodejs**
    - **version**: 16.14.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Wh

[2022-05-05 14:21] luki-sk opened #21728 "Reservation Orders and Reservations - Dates populated with empty strings"
- **Package Name**: @azure/arm-reservations
- **Package Version**: ^7.1.0
- **Operating system**: Windows Server 2019
- [ x ] **nodejs**
    - **version**: v16.14.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**De

[2022-05-05 15:49] kirk-quinbar opened #21729 "beginCopyFromUrl method fails with "resource does not exist" error when using SAS token uri"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.8.0
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: 14.7.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2022-05-05 16:40] bwateratmsft commented on #20570
Are there any updates? We are still blocked from deploying to custom locations.

[2022-05-05 17:38] victormimo commented on #20676
@witemple-msft Thanks! I discovered this myself a few weeks ago after diving into the package code.

The plural function definition is still referenced in the descriptions [here](https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/quickstarts/try-v3-javascript-sdk) but it looks like its been changed in the code sample already.

Hope it helps!

[2022-05-05 20:12] jeremymeng opened #21734 "Move typeguard utilities into core-util"
We have the following files under sdk/ folder.  It would be greate to move these utilities into @azure/core-util

[code]

The most common ones they have are `isDefined`, and `isObjectWithProperties`

[2022-05-05 21:18] heaths opened #21736 "Add entityId to secrets, keys, and certificates"

[2022-05-05 21:39] #21709 closed

[2022-05-06 02:12] v-jiaodi opened #21741 "[Form Recognizer] Secure Supply Chain Analysis failing in nightly runs"
Form Recognizer nightly test runs are failing with:

sdk/identity/identity/test/manual-integration/Kubernetes/Dockerfile - Container usage from external registry 'docker.io' found.
sdk/identity/identity/test/manual-integration/Kubernetes/Dockerfile - Container usage from external registry 'docker.io' found.
sdk/identity/identity/test/manual-integration/Kubernetes/Dockerfile - Container usage from

[2022-05-06 03:07] qiaozha commented on #21728
@colawwj Can you help take a look at this issue ? Thanks

[2022-05-06 07:05] hund030 opened #21745 "@azure/core-tracing@1.0.1: Type alias 'Resolved' circularly references itself."
- **@azure/core-tracing**:
- **1.0.1**:
- [ ] **nodejs**
    - **v14.19.1**:
- [ ] **typescript**
    - **3.9.10**:

**Describe the bug**
[code]
**To Reproduce**
pacakge.json
[code]
index.ts
[code]
tsconfigs.json
[code]
1. npm install
2. npm run build

**Expected behavior**
Project should build successfully.

[2022-05-06 08:23] davidvesp opened #21748 "Support driver_instance_pool_id for Databricks job creation"
Nowadays it's not possible to select the driver pool when we want to create a new job (always use the same pool as workers)

If we review the Databricks API documentation (https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/2.0/jobs), when we create a new job we can provide a different pool, one for the driver (driver_instance_pool_id) and another for the workers (instance_pool_id). If

[2022-05-06 08:24] azure-sdk commented on #21748
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Batch:0.21768185,SQL - Elastic Jobs:0.111113384,Cosmos:0.087488465'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.57291985,Client:0.27958295,Service:0.13928708'

[2022-05-06 09:10] pedrosaraiva commented on #20026
Hi,
Is this issue solved? I am also having the same problems with multiple calls that don't return all the fields. Calling the API directly looks fine.

[2022-05-06 11:42] hugo-dlb commented on #13161
We faced the same issue and also believe our antivirus was the cause.
Here's a workaround that worked for us if that can help anyone in the future:
[code]
We reduced the default size of the chunks from 256 to 4MB (best is to increase the chunk size as the file gets bigger) and we no longer faced this issue. The downside of this approach is that the `onProgress` callback is only called when a chunk

[2022-05-06 18:27] praveenkuttappan opened #21765 "Update identity docker file to use internal container repository"
sdk/identity/identity/test/manual-integration/Kubernetes/Dockerfile used external docker.io image. We need to update this docker file to use internal image in acr or mcr.

[2022-05-06 18:29] praveenkuttappan opened #21766 "Update service bus docker file to refer image from internal repo"
sdk/servicebus/service-bus/test/stress/Dockerfile uses external image from docker.io. New guidelines require us to update image location to internal repository.

[2022-05-06 19:54] #6529 closed

[2022-05-07 04:03] WeiJun428 commented on #19010
I recently merged a PR #21704 related to this sample and I think I might fix this too. @EmmaZhu, how do you think I should approach

Particularly, I am unsure what *descriptions (which are currently in the comments)* are.

[2022-05-07 06:48] jucabot opened #21778 "@azure/identity-vscode leads to crash the app on Linux / App Service Linux"
- **Package Name**: @azure/identity-vscode
- **Package Version**: 1.0.0
- **Operating system**: Linux
- [x] **nodejs**
    - **version**: v14.15.1
- [ ] **browser**
    - **name/version**: n/a
- [x] **typescript**
    - **version**: 4.6.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe t

[2022-05-07 06:49] azure-sdk commented on #21778
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.38180134,Storage:0.120151035,Azure.Core:0.109225556'

[2022-05-07 15:34] kirk-quinbar commented on #21729
To make this even more confusing, I can download the blob using the same url below and .download() on the blob client and stream it to a buffer just fine. Its only when I use the beginCopyFromURL that I have the issue with it not finding the resource.

[2022-05-08 07:12] MaryGao commented on #21589
@blured75 I **couldn't** reproduce this in my azure function. But when I published my local code to azure function I did encounter the authentication issue.

Here are the steps:
1. Everything works well in local function environment
2. I published to my online azure function and tested my online function in portal referencing the [doc](https://docs.microsoft.com/en-us/azure/azure-functions/functio

[2022-05-08 22:25] ttaylor29 commented on #8117
Hello,

I'm seeing this issue and I'm making sure I understand it properly.

I have uploaded a lot of files via C# SDK into our Azure Blob Storage.

Here is the code I'm using to obtain the Metadata properties on a blob:

`
BlobProperties properties = await blobItem.GetPropertiesAsync().ConfigureAwait(false);
`

Our tester reported an issue with one file that it would not download. I realized this

[2022-05-09 00:23] freakyfriday commented on #11301
any updates?

[2022-05-09 11:21] hund030 commented on #21745
I just workaround this issue by adding
[code]
in my tsconfig.json

[2022-05-09 11:42] guafan100 opened #21783 "VisualStudioCodeCredential doesn't work due to inactive refresh token"
**Describe the bug**
An error occurred: AuthenticationError: invalid_grant Status code: 400
More details:
AADSTS700082: The refresh token has expired due to inactivity. The token was issued on 2021-12-29T12:37:40.1100073Z and was inactive for 100.00:00:00.
Trace ID: 827abcf5-fbb5-4440-9071-50182a9d1e00
Correlation ID: fcc584f0-0669-49cd-a38e-66a862336da1
Timestamp: 2022-05-09 06:48:11Z

[2022-05-09 11:45] guafan100 commented on #21783
After re login I could get the token

[2022-05-09 11:45] #21783 closed

[2022-05-09 12:44] EmmaZhu commented on #21729
Hi @kirk-quinbar ,

I cannot see issue from your code.  Could you try a new reproduce and share the destination account name and the time when the issue happens? I'll try to take a look at service side to see why service cannot access the source. Please don't share you credential, destination account name and the exact time is enough.

Thanks
Emma

[2022-05-09 13:33] kirk-quinbar commented on #21729
@EmmaZhu
I ran a test against our own azure storage and am getting the same error, even though the blob does exist so its not limited to the vendor's azure storage. lets start with testing on our own storage

I did 3 different tests this morning against our account lcdataprod.
the last date/time in the logs from within the azure function is:
2022-05-09T13:24:12.103Z
This would be around 8:24 AM CS

[2022-05-09 13:57] kirk-quinbar commented on #21729
example of log:
[storage_error.txt](https://github.com/Azure/azure-sdk-for-js/files/8652351/storage_error.txt)

[2022-05-09 15:09] BoostSebastian commented on #20026
I have the same issue running on v.9.0.1

[2022-05-09 16:37] praveenkuttappan opened #21786 "Remove unused old docker file from test-utils service"
testutils service directory has an unused dockerfile that was added for test purposes but not used any more. We should clean up this unused docker file.

[2022-05-09 16:37] azure-sdk commented on #21786
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.5924389,Storage:0.20928511,Service Bus:0.068933435'

[2022-05-09 17:02] MRayermannMSFT commented on #8117
@ttaylor29 I would recommend not having your code be case sensitive with regards to checking metadata keys. Given that metadata are simply HTTP headers, there really is nothing in the HTTP spec that is ensuring you will get the same casing you used originally.

No. More like: there is now a setting you can enable that will help prevent issues, but things still aren't perfect because [AzCopy](https

[2022-05-09 17:30] nihonjinboy85 opened #21787 "Token from DefaultAzureCredential expires/limited based on app config"
- **Package Name**: @azure/identity
- **Package Version**: 2.0.4
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: 16.13.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [x] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A cl

[2022-05-09 19:43] beyerleinf commented on #20688
I think this can be closed. Thanks for fixing!

[2022-05-09 22:05] ellismg commented on #19863
Updated milestone based on current understanding of when the service will go GA.  We added support for this feature in preview in #21411.

Note as part of #21411 we had to update the event grid performance test to depend on the pre-release version of the package, since the general constraint of `^4.0.0` would no longer pick up the preview package.  As part of going GA, we should undo that change s

[2022-05-09 22:21] akania commented on #21568
Assigning to ACS Web UI team,

Please ignore "403 No events are from an allowed domain" - this is related to technical metrics that sdk may send and that can be throttled/sampled ( it's being addressed separately )

@ggghhh27 when you mean "same group channel" - how did you establish a call?  are you sure you've provided exactly same groupId on both sides?

Can you please share call id from both s

[2022-05-10 00:12] timovv opened #21791 "[Perf framework] Investigate adding logging"
Perf framework is getting significantly bigger, might be better to add the azure logger support just like we are doing for the recorder.

_Originally posted by @HarshaNalluru in https://github.com/Azure/azure-sdk-for-js/pull/20736#discussion_r868314137_

[2022-05-10 00:12] azure-sdk commented on #21791
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.48532146,Docs:0.038387146,Network - Virtual Network:0.023838632'

[2022-05-10 00:27] xirzec opened #21792 "[agrifood-farming] REST API docs are confusing / outdated"
@tg-msft pointed out the following docs page is providing a poor developer experience:

https://docs.microsoft.com/en-us/javascript/api/@azure-rest/agrifood-farming/?view=azure-node-preview

We should look into how we want to generate these docs in a coherent manner.

[2022-05-10 05:50] seetoml opened #21796 "TypeError: coreTracing.createSpanFunction is not a function"
I have tried to use library on @azure/identity, running on local is fine. But when building the docker and running it will create error.
![image](https://user-images.githubusercontent.com/52555537/167557216-4248e7ac-9afe-4f87-b7d2-d767fcca0dd1.png)
I am using v2.0.4
![image](https://user-images.githubusercontent.com/52555537/167557274-67b0d152-ab9a-4c32-914b-c2b8947504eb.png)
This is the Dockerfil

[2022-05-10 05:51] azure-sdk commented on #21796
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.30336845,KeyVault:0.23757066,Docs:0.043947723'

[2022-05-10 08:43] ashut0shk opened #21798 "[KeyVault] Keyvault access is broken in newer version on Managed Identity"
- **Package Name**: @azure/identity
- **Package Version**: 4.4.0
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: 8.17
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.9.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
W

[2022-05-10 15:48] tidhar-ziv commented on #21796
This also started happening recently on local windows system
[code]

[code]

[2022-05-10 16:28] maorleger commented on #21796
Hi @seetoml - thanks for creating this issue and I'm sorry to hear about this. To help me reproduce, I tried creating a small snippet that would ideally recreate the issue.

Here's what I have:

[code]

With the following `index.ts`:

[code]

And this runs fine...

Would you mind sharing the results of running `npm ls @azure/core-tracing` as well as `npm ls @azure/core-rest-pipeline`? Maybe by com

[2022-05-10 16:35] maorleger commented on #21798
@sadasant / @KarishmaGhiya I wonder if this has something to do with multi-tenant support that was recently added to Identity?

I'm not too familiar with these changes so hopefully you could offer some guidance? https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/keyvault/keyvault-secrets/CHANGELOG.md#features-added-1

@ashut0shk turning on verbose logging could hopefully help here by providin

[2022-05-10 17:30] praveenkuttappan opened #21800 "Disable docker image warning temporarily"
Disable auto injected step to verify docker image usage from public docker container. Disable this warning until issues #21765 and #21766 are resolved

[2022-05-10 19:50] HarshaNalluru commented on #15892
Policies are now merged

[2022-05-10 19:50] #15892 closed

[2022-05-10 19:51] HarshaNalluru commented on #7638
Clsoing since it is not relevant anymore

[2022-05-10 19:51] #7638 closed

[2022-05-10 19:53] HarshaNalluru commented on #8633
Clsoing since it is not relevant anymore

[2022-05-10 19:53] #8633 closed

[2022-05-10 19:54] HarshaNalluru commented on #9753
Not doing anything here, switch to recorder v2

[2022-05-10 19:54] #9753 closed

[2022-05-10 20:01] jeremymeng commented on #19221
- [ ] sdk/monitor/monitor-opentelemetry-exporter/package.json:97:    "execa": "^5.0.0",
- [x] sdk/storage/storage-file-datalake/package.json:147:    "execa": "^6.0.0",
- [ ] sdk/cosmosdb/cosmos/package.json:125:    "execa": "^5.0.0",

[2022-05-10 20:35] jeremymeng commented on #19242
- [ ] sdk/cosmosdb/cosmos/package.json:103:    "universal-user-agent": "^6.0.0",

[2022-05-10 21:19] jeremymeng opened #21808 "[arm-operations] build failure"
Invoking: npm run clean && tsc && rollup -c 2>&1 && npm run minify && mkdirp ./review && npm run extract-api

samples-dev/managementAssociationsListBySubscriptionSample.ts(23,18): error TS2554: Expected 5-6 arguments, bu
t got 2.
samples-dev/managementConfigurationsCreateOrUpdateSample.ts(29,18): error TS2554: Expected 5-6 arguments, but
got 2.
samples-dev/managementConfigurationsDeleteSample.ts(2

[2022-05-10 21:35] jeremymeng commented on #21808
@praveenkuttappan is looking into why PR validation wasn't triggered.

[2022-05-10 21:49] jeremymeng commented on #21676
- [ ] sdk/monitor/monitor-opentelemetry-exporter/package.json:90:    "@opentelemetry/instrumentation-http": "^0.27.0",
- [ ] sdk/monitor/monitor-opentelemetry-exporter/samples/v1/typescript/package.json:43:    "@opentelemetry/instrumentation-http": "0.22.0"
- [ ] sdk/monitor/monitor-opentelemetry-exporter/samples/v1/javascript/package.json:39:    "@opentelemetry/instrumentation-http": "0.22.0"

[2022-05-10 21:51] jeremymeng commented on #21347
- [ ] common/tools/eslint-plugin-azure-sdk/package.json:75:    "glob": "^7.1.2",
- [ ] sdk/core/core-http/package.json:155:    "glob": "^7.1.2",
- [ ] sdk/servicebus/service-bus/package.json:152:    "glob": "^7.1.2",

[2022-05-10 22:36] KarishmaGhiya commented on #21778
@jucabot Thanks for filing the issue and reaching out. I wanted to ask you if there's a particular reason why you are using `@azure/identity-vscode` by itself and not along with `@azure/identity`. Or is it that you are still planning to use it as a plugin along with the identity package but encountered this crashing issue on the import of the `@azure/identity-vscode`  on app service?

[2022-05-10 22:59] sima-zhu commented on #21569
Some one fixed the Component Detection issues. Closed the issue. Please feel free to reopen if issue still exists.

[2022-05-10 22:59] #21569 closed

[2022-05-10 23:17] jeremymeng commented on #19213
- [ ] common/tools/dev-tool/package.json:44

[2022-05-10 23:20] jeremymeng commented on #19214
No packages depend on this now.

[2022-05-10 23:20] #19214 closed

[2022-05-10 23:22] jeremymeng commented on #19223
- [ ] sdk/cosmosdb/cosmos/package.json:98:    "jsbi": "^3.1.3",

[2022-05-10 23:24] jeremymeng commented on #19238
- [ ] sdk/core/core-amqp/package.json:117:    "rollup-plugin-terser": "^5.1.1",
- [ ] sdk/eventhub/event-hubs/package.json:180:    "rollup-plugin-terser": "^5.1.1",
- [ ] sdk/appconfiguration/app-configuration/package.json:142:    "rollup-plugin-terser": "^5.1.1",
- [ ] sdk/communication/communication-network-traversal/package.json:144:    "rollup-plugin-terser": "^5.1.1",
- [ ] sdk/digitaltwins/d

[2022-05-10 23:27] tidhar-ziv commented on #21796
@maorleger
createSpanFunction, which is part of @azure/core-tracing@1.0.0-preview.13, was removed from @azure/core-tracing@1.0.1, although it is required by @azure/identity.
any one of these @azure/core-tracing versions could be picked as the top-level dependency, depending on internal package management logic, build scripts, etc.
if version 1.0.1 is picked @azure/identity will crash as the functi

[2022-05-10 23:58] bzhang0 commented on #14798
I'm currently trying to make a sample in ``.ts`` similar to how the sample for TopicFilters was written in ``.cs`` (two reference samples [here](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/samples/TopicFilters/Program.cs) and [here](https://github.com/Azure/azure-service-bus/blob/master/samples/DotNet/GettingStarted/Microsoft.Azure.ServiceBus/Topi

[2022-05-11 00:07] jeremymeng commented on #19216
This should not be needed after PR #21805

[2022-05-11 00:07] #19216 closed

[2022-05-11 01:43] seetoml commented on #21796
Hi @maorleger,
This is the result of npm ls @azure/core-tracing
![image](https://user-images.githubusercontent.com/52555537/167751303-9f790759-a516-4270-abe4-d87f7e953a5e.png)

This is the result of npm ls @azure/core-rest-pipeline
![image](https://user-images.githubusercontent.com/52555537/167751418-6eeb3c60-71c2-4585-9fc3-eff93f6238af.png)

I believe the new version of @azure/identity causes the

[2022-05-11 02:42] MaryGao opened #21820 "Customised bearerTokenAuthenticationPolicy will fail to get access token at the first time"
- **Package Name**: @azure/core-rest-pipeline
- **Package Version**: 1.8.2
- **Operating system**: Windows
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

In HLC we have below codes to add bearerTokenAuthenticationPolicy to enable the CAE feature, but once the policy is enable

[2022-05-11 02:42] azure-sdk commented on #21820
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.18170801,Storage:0.14154309,Docs:0.06791836'

[2022-05-11 07:15] qiaozha commented on #20147
@xiangyan99 any updates on other languages support ? when will we start the support in JS ?

[2022-05-11 07:16] qiaozha commented on #20249
@colawwj Can you have a try with the 28.0.0 package to see if the problem still exists ? Thanks

[2022-05-11 07:19] qiaozha commented on #20651
@alexweininger Can you try lates package and see if the problem still exists? Thanks

[2022-05-11 07:20] qiaozha commented on #20688
close it as issue resolved. Thanks

[2022-05-11 07:20] #20688 closed

[2022-05-11 07:27] qiaozha commented on #21572
@diberry Can you help take a look at this issue and see if we need update the document according to the comments above? Thanks

[2022-05-11 08:52] qiaozha commented on #21808
The build failure should have been resolved by pr #21822

[2022-05-11 09:12] wangmingliang-ms opened #21827 "`Apps.beginCreateOrUpdateAndWait` returns an operation but not the promised created `AppResource`"
- **Package Name**:  @azure/arm-appplatform
- **Package Version**: 2.0.0.beta.5
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 12.18.3
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.3.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Descr

[2022-05-11 09:12] azure-sdk commented on #21827
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Services:0.52789253,App Configuration:0.071017645,ARM:0.051436894'

[2022-05-11 09:13] wangmingliang-ms commented on #21827
@qiaozha can you help check this problem.

[2022-05-11 09:36] wangmingliang-ms commented on #21827
`Deployments.beginCreateOrUpdateAndWait` and `Services.beginCreateOrUpdateAndWait` have same problem

[2022-05-11 10:27] craignicol opened #21839 "multipleOf validation fails when the value is fractional"
**Describe the bug**

Given an openAPI spec that contains validation of `multipleOf: 0.1`  for a `double` type, there are several valid values for which the validation fails, and therefor the API request is not sent.

**To Reproduce**

Steps to reproduce the behavior:
1. Use autorest to generate a typescript client with the following type contained
2. Attempt to call the API with a value of 2.0
3.

[2022-05-11 16:11] nihonjinboy85 commented on #21787
### Update
After doing more testing, this code is working fine on prod and my mock server, just not on staging. This leads me to believe it's not related to the @azure/identity package, but rather something to do with our staging SQL server config.

However, I would still like confirmation of two points before I close this issue:
1. Is it best practice to create a single instance of the `DefaultAz

[2022-05-11 18:00] nmarinel commented on #21745
I'm having this issue as well. I have a package that depends on `"@azure/arm-network": "^26.0.0"`. I can reproduce the problem using the steps @hund030 provided, substituting the following for package.json and index.ts respectively:
[code]

[code]

`npm run build` results in a whole heap of error including `node_modules/@azure/core-tracing/types/core-tracing.d.ts:81:21 - error TS2456: Type alias '

[2022-05-11 19:02] #13184 closed

[2022-05-11 19:06] kepikoi commented on #14389
It seems to me that this option prevents in-memory instances of the `CosmosClient` client from being garbage collected in Azure Functions (v3) runtime. This is especially problematic if the Functions implementation does not honor the [recommendation to use singleton clients](https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections?tabs=javascript#azure-cosmos-db-clients) multiplyi

[2022-05-11 19:14] azure-sdk opened #21834 "Dependency package puppeteer has a new version available"
We have identified a dependency on version 13.7.0 of puppeteer. A new version (14.0.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package (/sd

[2022-05-11 19:14] azure-sdk commented on #21834
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.28339764,Service Bus:0.17050031,Azure.Identity:0.05797889'

[2022-05-11 20:09] xirzec commented on #21834
@jeremymeng can you look into how big this is?

[2022-05-11 20:33] xirzec commented on #21796
Something I am confused about here is the Error thrown in your original post. If you are on `@azure/core-rest-pipeline@1.8.1` I'm not sure how it is throwing an error about `createSpanFunction` being missing as that method isn't called in `dist/index.js`: https://unpkg.com/browse/@azure/core-rest-pipeline@1.8.1/dist/index.js

Maybe there is some kind of bundling issue? I'm happy to consider hotfix

[2022-05-11 21:27] deyaaeldeen opened #21836 "[core-paging] v2 wishlist"
- [ ] [Simplify the iteration implementation by ignoring iterating over non-arrays](https://github.com/Azure/azure-sdk-for-js/pull/21815)

[2022-05-11 21:35] jeremymeng commented on #21834
I am not sure what do we use this for now. Some packages depend on it, but not all

sdk/batch/batch/package.json:56:    "puppeteer": "^10.1.0",
sdk/core/core-rest-pipeline/package.json:130:    "puppeteer": "^13.5.1",
sdk/core/core-http/package.json:168:    "puppeteer": "^13.5.1",
sdk/core/core-amqp/package.json:112:    "puppeteer": "^13.5.1",
sdk/core/logger/package.json:99:    "puppeteer": "^13.5

[2022-05-11 21:45] jeremymeng commented on #21834
The previous upgrade looked easy: https://github.com/Azure/azure-sdk-for-js/pull/20782

[2022-05-11 21:50] xirzec commented on #21834
Seems like karma pulls this in for browser testing? I wonder if we could eventually migrate away to playwright

[2022-05-11 22:07] jeremymeng commented on #21834
Right, we basically use it to install chrome for browser testing.  all browser tests need it but probably due to how rush/pnpm links to shared downloads, those packages that don't depend on `puppeteer` could still load the module somehow.

[2022-05-11 22:20] jeremymeng commented on #21834
while investigating this I went ahead and opened PR https://github.com/Azure/azure-sdk-for-js/pull/21837.  We need to drop nodejs v12 from our test matrix first though.

[2022-05-11 22:26] xirzec commented on #21834
We're dropping support for node 12 in October, right? April + 6 months? Though presumably we could stop testing in it before then.

[2022-05-11 22:32] azure-sdk commented on #21839
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.086542636,Service Bus:0.07491286,Azure.Core:0.05635434'

[2022-05-11 22:38] jeremymeng commented on #21839
@joheredi @sarangan12 could you please have a look?

[2022-05-11 22:44] sarangan12 commented on #21839
Taking a look at it. Will update soon with my findings

[2022-05-11 23:26] jeremymeng opened #21840 "[storage] Add browser support for User Delegation key"
Since the user delegation key can be created using the AAD token.

A desire scenario is that logged in users can directly access a blob (pdf, image, etc.) that they have permission to, using its url + SAS token from a user delegation key in the browser.

We'd need to enable this for browsers

There are already existing packages that do hmac computation in browsers.  core-util also provides `comput

[2022-05-11 23:54] jeremymeng commented on #21834
It turns out that we actually install and build using node v14, then runs on v12.  So the pipelines are passing

[2022-05-12 00:35] joheredi commented on #21792
In general, for all RLC generated docs, the only useful part is the factory function, other than that it is just the opposite of useful.
![image](https://user-images.githubusercontent.com/21109913/167966463-18a89b7f-a9ff-4b8f-bac2-002e46b7b4fe.png)

Ideally, I would love our RLC ref docs to look something [like this](https://elements-demo.stoplight.io/?spec=https://raw.githubusercontent.com/Azure/

[2022-05-12 02:33] MaryGao opened #21842 "[RLC-Quickstart] Fix the Quickstart issues found in bug bush"
We collected some feedbacks in bugbash and need to fix them:

- Please provide windows command for 'export TEST_MODE=record && rushx test '  as 'export' is not supported in windows
- As js test is built on top of recording test, please provide some description/link so service team could know how to update the test cases.
- Need to include @types/chai": "^4.3.1 in the generated package.json
- [0] [

[2022-05-12 02:33] azure-sdk commented on #21842
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.16920274,Storage:0.095259205,Service Bus:0.07856771'

[2022-05-12 04:41] #20030 closed

[2022-05-12 12:43] witemple-msft commented on #21778
If this is an issue of identity-vscode crashing when it is imported/required, even though it's not being enabled through `useIdentityPlugin`, then we'll do what we can to address it, as we don't want it to throw an exception until `useIdentityPlugin(vsCodeCredentialPlugin)` is called.

@KarishmaGhiya I will need to do some tests to understand the exact nature of the bug, but the problem for us is

[2022-05-12 21:05] KarishmaGhiya commented on #21606
This fix will be released by MSAL in June. After which we will integrate it in identity sdk and release it in the upcoming GA

[2022-05-12 22:47] KarishmaGhiya commented on #21787
1. The DefaultAzureCredential is comprised of a chain of five credentials - where it proceeds to next credential when the authentication from the previous credential fails. You can read more about it here -
   Yes, you should create a single instance of the credential like you have right now in your above example.

   I have a follow up for you, what request specifically are you asking about here

[2022-05-12 22:51] #21132 closed

[2022-05-12 23:14] xirzec commented on #21808
Confirmed that this appears to be resolved in main

[2022-05-12 23:14] #21808 closed

[2022-05-13 06:26] v-jiaodi opened #21857 "[Communication - Identity] PhoneNumbersClient - get phone number [AAD] can get a purchased phone number failing in nightly runs"
Communication - Identity nightly test runs are failing with:

    at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:251:17)
    at deserializeResponseBody (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:159:43)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.c

[2022-05-13 06:28] v-jiaodi opened #21858 "[Communication - SMS] SmsClient [Live] [AAD] test send method can send an SMS message failing in nightly runs"
Communication - SMS nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:251:17)
    at deserializeResponseBody (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:159:43)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sd

[2022-05-13 06:29] azure-sdk commented on #21858
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.5301955,Service Bus:0.17931397,Communication:0.05120644'

[2022-05-13 06:50] v-jiaodi opened #21860 "[Eventhubs - Checkpointstore Blob] Blob Checkpoint Store ownership: attempt to retrieve incorrectly formatted blobs failing in nightly runs"
Eventhubs - Checkpointstore Blob nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1564156&view=results

[2022-05-13 06:51] azure-sdk commented on #21860
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.5022574,Storage:0.32728583,Event Hubs:0.16002059'

[2022-05-13 06:52] v-jiaodi opened #21861 "[Aggregate-reports] Post Analysis (PoliCheck) failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

  Tool: PoliCheck: Rule: SEV2 (Severity 2).
  The term [FFS](http://policheck.azurewebsites.net/Pages/TermInfo.aspx?LCID=9&TermID=79668) was used in file 'deviceSettingsUpdateSecuritySettingsSample.ts' and may not be appropriate to ship in all contexts.  When used as an abbreviation for profanity, remove the term. In all other contexts, leave

[2022-05-13 06:52] azure-sdk commented on #21861
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.25958616,Data Factory:0.07685198,Azure.Identity:0.040174'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5754844,Mgmt:0.41318154,Service:0.010675035'

[2022-05-13 07:00] v-xuto commented on #21857
@Azure/acs-identity-sdk for notification.

[2022-05-13 08:33] v-xuto commented on #19442
@HarshaNalluru About the fix of this issue, how is the current progress? Or what are your plans?

[2022-05-13 09:09] v-xuto commented on #21153
@jeremymeng , @benbp Do you have any thoughts on this test timeout issue? For more details, see the comments above.

[2022-05-13 10:23] HarshaNalluru commented on #19442
Hi @v-xuto,

#20522 should fix the problem, but the samples were failing in the China Cloud with conflict errors as far as I recall, which I thought could be avoided if the samples were run sequentially(one after the other).
Samples failure related investigation is pending along with the related support from dev-tool itself - https://github.com/Azure/azure-sdk-for-js/pull/20522#issuecomment-106739

[2022-05-13 11:34] petrsvihlik commented on #21857
looking at the error, this seems to be related to the phone number service

[2022-05-13 12:37] PramodValavala-MSFT commented on #21748
@davidvesp Could you elaborate on the ask here?

You can either [attach a cluster to one or more pools](https://docs.microsoft.com/en-us/azure/databricks/clusters/instance-pools/cluster-instance-pool) or leverage the REST API using the properties you've mentioned. And you can create such a cluster while creating the job or use an existing cluster configured to use a pool.

[2022-05-13 13:43] witemple-msft commented on #21778
Alright, thanks @jucabot for the clarification and I'll start working on a fix for this. We definitely don't want it to throw on import.

[2022-05-13 14:02] MasDevProject commented on #14742
Unfortunately the bug is still there.
The `os` variable in not null, it is an empty object `{}`, so the if condition is satisfied the it crashed on `os.type()` because the type() method is not present in `os`.

[2022-05-13 15:34] nmarinel commented on #21745
Yep this worked just fine when I added typescript 4.6 as a dependency on my module that uses @azure/arm-network. Luckily no breaking changes. Thanks @maorleger !

[2022-05-13 16:37] jeremymeng commented on #21153
It looks like a previous issue.  I opened PR# https://github.com/Azure/azure-sdk-for-js/pull/21850 for this.

[2022-05-13 16:39] jeremymeng commented on #21860
Looks like some Storage Blob behavior change. working on a repro.

[2022-05-13 17:42] jeremymeng opened #21863 "[storage blob] metadata behavior change when listing blob with empty metadata"
[code]

After setting an empty metadata, blob.metadata now returns `undefined`

Blob metadata: '{"b":"value b"}'
Blob: test
Blob metadata: 'undefined'

previously it returns an empty string

Blob metadata: '{"b":"value b"}'
Blob: test
Blob metadata: '""'

This could cause runtime failure in existing code because previously we could try accessing `blob.metadata.ownerid` and get back `undefined`.  N

[2022-05-13 18:09] jeremymeng commented on #21153
It's very likely that we didn't clean up properly in the case of test failure

[2022-05-13 18:11] deyaaeldeen opened #21865 "[core-lro] Add tests for poller behavior when cancelled"
We should test how calling `poller.cancel()` affects the behavior of the poller. For example, what happens when calling `poll()`, `pollUntilDone()`, and `getResults()`.

[2022-05-13 18:38] jeremymeng commented on #20274
@CodeJuggernaut just an update that this is actually a known issue https://github.com/Azure/azure-sdk-for-js/issues/11633. While we are working on a solution. I wonder whether the above workaround would work for you?

[2022-05-13 18:56] MaryanneNjeri opened #21867 "Updating msal-node version"
- **Package Name**:  @azure/identity
- **Package Version**:  2.0.4
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Is it possible to upd

[2022-05-13 18:56] azure-sdk commented on #21867
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Configuration:0.18427534,Cognitive - LUIS:0.12385963,Authorization:0.058723003'

[2022-05-13 18:59] davidvesp commented on #21748
Hello,
If you attach the job to a cluster, you have two issues:
1. You are sharing the same cluster with multiple jobs and in some situations is better to isolate the jobs
2. The price is different (All-purpose Compute DBU is bigger than Jobs Compute DBU)
I have checked this documentation page (https://docs.microsoft.com/en-us/javascript/api/@azure/arm-datafactory/azuredatabrickslinkedservice?view

[2022-05-13 19:16] malavika1 commented on #21857
The number has been put back on the resource and the pipeline is working again.

[2022-05-13 19:16] #21857 closed

[2022-05-13 20:24] jeremymeng commented on #21860
Should be fixed by https://github.com/Azure/azure-sdk-for-js/pull/21864

[2022-05-13 20:39] jeremymeng commented on #21867
@MaryanneNjeri We use caret version for @azure/msal-node, so you should be able to get the latest version without code change on our side.  Is there anything preventing you from doing so?

[code]
You can find more information here: https://github.com/Azure/azure-sdk-for-js/wiki/Dependency-Management

[2022-05-13 20:46] joheredi opened #21870 "[Farmbeats] CI test failing `should create a satelite job`"
Re-enable the failing test and fix the failure. There seems to be a problem with the query string parameters when sending out the LRO requests

This is the url trying to be matched

`https://endpoint/scenes/satellite/ingest-data/jhjob103node?api-version=2021-03-31-preview&api-version=2021-03-31-preview`

[2022-05-13 21:24] xirzec commented on #21792
@witemple-msft I'm sure you have some opinions on this space as well ;)

[2022-05-13 22:33] jeremymeng commented on #21840
@XiaoningLiu has a good point on security concern:

[2022-05-14 00:13] KarishmaGhiya commented on #21798
Hello @ashut0shk I have tried the above code snippet with @azure/keyvault-secrets (v 4.4) and @azure/identity (v2.0.4) and it worked, provided the access policies are set correctly.
In order to help with the above issue, let's try a few things -

First, I want to see the exact error message you are seeing on your end. Make sure you don't have any env variables set while doing this, since you want

[2022-05-14 00:54] KarishmaGhiya commented on #21726
@sinedied Thank you for reporting. We were able to reproduce this issue on mac, but works fine on windows. We are investigating into this.

[2022-05-16 02:33] qiaozha commented on #21728
I don't have the permission to repro this, need service team to take a look at it.

[2022-05-16 02:43] qiaozha commented on #21587
@joheredi is there a way to show the raw response and request in core-client ?

[2022-05-16 07:13] ashut0shk commented on #21798
Hi @sadasant, I tried rechecking with setting up the variable `AZURE_IDENTITY_DISABLE_MULTITENANTAUTH` but with no luck. The same error is still there.

[2022-05-16 07:21] ashut0shk commented on #21798
Hi @KarishmaGhiya, thank you for the suggestion. I have captures the exact output of the above code snippet.
PS: there aren't any environment variable setup on the machine.

    at ChallengeBasedAuthenticationPolicy.parseWWWAuthenticate (C:\test\node_modules\@azure\keyvault-secrets\dist\index.js:1226:19)
    at ChallengeBasedAuthenticationPolicy.regenerateChallenge (C:\test\node_modules\@azure\key

[2022-05-16 07:33] ashut0shk commented on #21798
In case verbose logging information is needed, please refer below.
@maorleger thank you for the suggestion.

azure:core-client:warning The baseUri option for SDK Clients has been deprecated, please use endpoint instead.
azure:core-client:warning The baseUri option for SDK Clients has been deprecated, please use endpoint instead.
azure:identity:info VisualStudioCodeCredential => Failed to load the

[2022-05-16 07:50] MaryGao opened #21883 "[RLC Doc] Update the RLC doc to guide on how to write test cases"
Update the RLC doc to guide on how to write test cases

[2022-05-16 07:52] azure-sdk commented on #21883
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.3041032,Azure.Core:0.1127136,Cosmos:0.056042995'

[2022-05-16 08:09] v-xuto commented on #19442
@HarshaNalluru Thank you for your prompt reply. I look forward to your PR being merged soon.
Please let me know if there is any progress. Thanks a lot.

[2022-05-16 08:49] eero3 opened #21884 "[@azure/arm-monitor] containsAny support for ActivityLogAlertLeafCondition"
**Feature request**
In order to create and update Service Health Activity Log Alerts with `containsAny` property inside `allOf` condition the SDK needs to support the property.

It seems that the SDK uses `apiVersion: 2017-04-01` which does not yet support `containsAny` property. Azure portal seems to already use `apiVersion: 2020-06-01` which does support it.

This results in a scenario where I c

[2022-05-16 08:49] azure-sdk commented on #21884
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.25861862,Container Registry:0.0316679,KeyVault:0.026365932'

[2022-05-16 10:15] azure-sdk commented on #21883
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.3041032,Azure.Core:0.1127136,Cosmos:0.056042995'

[2022-05-16 10:16] azure-sdk commented on #21884
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.25861862,Container Registry:0.0316679,KeyVault:0.026365932'

[2022-05-16 12:58] sadasant commented on #21798
I currently believe the error comes specifically from this line in the code: https://github.com/Azure/azure-sdk-for-js/blob/e6dbd47cfda9973c4550ee63e712e8728cbef462/sdk/keyvault/keyvault-common/src/parseWWWAuthenticate.ts#L68

However, I can't imagine why the code within the `try` statement would be a problem. If I try this locally it works:

[code]

I wonder two things:

- I wonder if the authori

[2022-05-16 14:29] ashut0shk commented on #21798
Hi @maorleger

That is a viable catch. I wonder, however, how the previous version manages to circumvent the issue.
Meanwhile, I'll try to confirm the issues' regeneration with latest node LTS, that I believe could shed some light on it.

[2022-05-16 14:50] pedropacheco92 opened #21890 "Result empty in cosmos changeFeed"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.15.1
- **Operating system**: Mac OS
- [ ] **nodejs**
    - **version**: v16.14.2
- [ ] **browser**
    - **name/version**: -
- [ ] **typescript**
    - **version**: 4.2.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2022-05-16 15:56] nihonjinboy85 commented on #21787
Hi @KarishmaGhiya ,

Thanks for this additional information. My example wasn't creating a single instance of the credential, but rather creating one for each GET request sent to the root route ("/"). However, while awaiting your reply I've already refactored my API to create a single credential upon server startup, so all good there.

Regarding checking the `expiresOnTimestamp` property of the tok

[2022-05-16 17:34] HarshaNalluru opened #21891 "[Recorder] Build Public recorder with v2.0"
This issue tracks the work needed to make the recorder usable outside the JS repo as part of the better customer testing strategy with Azure SDKs.

[2022-05-16 18:07] nihonjinboy85 commented on #21787
Thanks for the advice, @KarishmaGhiya . Based on this advice, here are the adjustments I've made:

1. I've added the token object (result of calling `credential.getToken`) to app.locals. Example:
[code]
2. I've refactored my `configureSQLAsync` function to accept the token string as a parameter instead of the credential (separating token creation/refresh from DB config). Example:
[code]
3. Added t

[2022-05-16 18:11] xirzec commented on #21865
@deyaaeldeen Can we make sure to get these tests implemented and merged before we ship the changes to core-lro?

[2022-05-16 22:23] deyaaeldeen commented on #21865
@xirzec We're already have some test cases for when canceling an LRO, see [this](https://github.com/Azure/azure-sdk-for-js/blob/466391802284c5153826afc0d2230477ff123edf/sdk/core/core-lro/test/engine.spec.ts#L131-L141) for example. This issue tracks testing more aspects of the poller but imo, it is unrelated to the recent change.

The recent change in core-lro enables library authors to have a dyna

[2022-05-16 23:51] jeremymeng commented on #21860
Closing as the build is now green.

[2022-05-16 23:51] #21860 closed

[2022-05-16 23:52] jeremymeng commented on #21553
This has been fixed.

[2022-05-16 23:52] #21553 closed

[2022-05-16 23:54] jeremymeng commented on #21466
This failed only on MacOS.  It has been passing since then though.

[2022-05-17 00:00] jeremymeng commented on #21428
Added a guard against accessing property of `undefined` in #21866

[2022-05-17 00:02] jeremymeng commented on #21430
Should be fixed already by PR #21646

[2022-05-17 00:02] #21430 closed

[2022-05-17 00:03] jeremymeng commented on #21030
Closing as the build has been green recently.  The issue was fixed after rush update --full

[2022-05-17 00:03] #21030 closed

[2022-05-17 00:06] jeremymeng commented on #20447
We added a workaround.  Closing as this tracks SDK test issue, and not a good place to track service issue.

[2022-05-17 00:06] #20447 closed

[2022-05-17 00:09] jeremymeng commented on #18750
This test should have been fixed already. We added a workaround for the service issue when initial partitions are empty

[2022-05-17 00:09] #18750 closed

[2022-05-17 00:10] jeremymeng commented on #18137
Closing. This test has been passing recently

[2022-05-17 00:10] #18137 closed

[2022-05-17 00:14] jeremymeng commented on #19547
I believe this test has been fixed.

[2022-05-17 00:14] #19547 closed

[2022-05-17 00:27] jeremymeng commented on #20973
- [ ] common/tools/dev-tool/package.json:52:    "yaml": "~1.10.0"

[2022-05-17 02:47] v-jiaodi opened #21897 "[Metrics Advisor] [AAD] MetricsAdvisorClient listAnomaliesForDetectionConfiguration() failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

    at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:251:17)
    at deserializeResponseBody (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:159:43)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

For more details check here:

- https://dev.azure.com/azure-

[2022-05-17 02:48] v-jiaodi opened #21898 "[Event Hubs] EventHub Sender Create batch should be sent successfully with properties failing in nightly runs"
Event Hubs nightly test runs are failing with:

    at Test.Runnable._timeoutError (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:442:10)
    at Timeout.<anonymous> (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:252:24)
    at listOnTimeout (internal/timers.js:557:17)
    at processTimers (interna

[2022-05-17 07:02] qiaozha commented on #20026
@pedrosaraiva Thanks for the information. I will look into it.

[2022-05-17 09:58] HarshaNalluru commented on #10946
Closing since the new app-config release has it. 🙂🎉

[2022-05-17 09:58] #10946 closed

[2022-05-17 15:24] jsquire opened #21902 "Service Bus: Client Identifier Support"
# Summary

When creating one of the Service Bus client types, it can be useful for a host application to be able to uniquely identify the client instance.  The Service Bus service also supports setting the identifier of an AMQP link, which it will associate with some error messages to make it easier to correlate errors with a given client instance.

# Scope of Work

- The options for each Service

[2022-05-17 15:58] jsquire opened #21903 "Service Bus: Sample Scenarios Consistency"
# Summary

To ensure developers are able to be productive using the Service Bus client library, a consistent set of samples should be available across all languages to illustrate usage for core scenarios.

# Scope of Work

- Ensure that the following core scenarios are captured in samples:<br />
  - [x] Constructing ServiceBusClient with the various auth forms - connection string, `TokenCredential

[2022-05-17 17:09] KarishmaGhiya commented on #21787
I think you want to do the call to getToken when the token expires, I would tweak the logic to be -
[code]

[2022-05-17 17:17] KarishmaGhiya commented on #21787
Another question, when does the call to `/` get triggered? Can you explain me the flow of the application?

[2022-05-17 18:13] nihonjinboy85 commented on #21787
I just did a sanity check and since the expiresOnTimestamp is analogous to `Date.now() + (24 * 60 * 60 * 1000)` upon creation, it will be **greater than or equal to** `Date.now()` until it expires, which would cause my app to refresh the token on every request, rather than only as needed when it expires.

Can you please confirm this, or correct any misunderstandings I have?

[2022-05-17 18:28] jeremymeng commented on #5771
Some (late) updates: at this time, I was able to run some samples of Storage blob/file share/file datalake/queue, Text Analytics, App Configuration, Data Tables in a React Native Expo project on the Android Emulator.  Connection Strings/keys are used in testing.  @azure/identity does not work at the moment. However, if an AAD access token is available via third party plugins/libraries, they can be

[2022-05-17 18:39] jeremymeng commented on #21574
Done in PR #21698

[2022-05-17 20:34] jeremymeng opened #21906 "[eslint-plugin] re-visit disabled `@typescript-eslint/no-invalid-this` rule."
in PR #21733 this rule is disabled because of false positives

github issue suggests that it doesn't work for some callbacks because it is just
a simple rule that doesn't do type analysis.

This issue tracks the work to re-visit this rule later to see if there's any improvement in the rule so that this could be re-enabled

[2022-05-17 21:32] xirzec commented on #21745
@nmarinel I'm glad to hear you were able to resolve your issue by upgrading TS!

@witemple-msft can you weigh in on how much work it would be to support older TS?

[2022-05-17 21:35] xirzec commented on #21890
/cc @jay-most

[2022-05-17 21:37] KarishmaGhiya commented on #21787
@nihonjinboy85 I misunderstood, the logic you have is correct. I would add an equals check too to the existing logic.
[code]

In case it helps the access tokens from Azure AD expire in an hour.

[2022-05-17 21:38] KarishmaGhiya commented on #21787
Yes, that makes sense. Let me know how this works after you try it out. So far this looks good to me.

[2022-05-17 21:52] nihonjinboy85 commented on #21787
Thanks for confirming, @KarishmaGhiya . Are you sure that the access token is only good for one hour? When I log the `expiresOnTimestamp` value on server startup, it shows 24 hours from the time the server starts up.

Also, even with these checks in place on all SQL-connected routes, I'm still receiving the following error ~24 hours after server startup:
[code]

[2022-05-17 22:15] KarishmaGhiya commented on #21787
Can you enable the logs and provide that information? Turning on verbose logging could hopefully help - by providing detailed logs from @azure/identity - could you run the same scenario with the azure logger in verbose mode? Instructions can be found here: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/README.md#logging
You can either set an environment variable AZURE_LO

[2022-05-17 23:05] nihonjinboy85 commented on #21787
Yes, I'll enable verbose logging with the env variable as mentioned and let you know as soon as I have the results of that, as I'll have to wait until it errors out again after the change, which seems to be around 24 hours.

FYI, the error logged to our console was a bit different, so maybe this will help:
[code]

[2022-05-18 00:04] jeremymeng commented on #5771
@prakashbask @egemenuzunali Please see this PR for a react-native (Expo) sample of using AppConfig SDK https://github.com/Azure/azure-sdk-for-js/pull/21907

[2022-05-18 00:11] jeremymeng commented on #21347
Done in #21905. The major change is dropping of NodeJS v12, which should be fine for us.

[2022-05-18 00:11] #21347 closed

[2022-05-18 10:48] MaryGao commented on #20570
@bwateratmsft We didn't receive any update in this thread from service team. I would recommend you to raise up a [support ticket](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) for the `appservice service team`.  That is expected to have a quick response.

[2022-05-18 18:00] AsafMah opened #21914 "InteractiveBrowserCredential - select open port dynamically/better handling of used port"
- **Package Name**: @azure/identity
- **Package Version**:  2.0.4
- **Operating system**: Windows 10
- [ X] **nodejs**
    - **version**:  14
- [ ] **browser**
    - **name/version**:
- [X] **typescript** 4.1.3
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2022-05-18 18:09] bwateratmsft commented on #20570
Thanks @MaryGao, I opened a support ticket.

[2022-05-19 00:55] joheredi commented on #21792
@witemple-msft, do you know if there is a process to offboard from docs.ms?

[2022-05-19 02:02] EmmaZhu commented on #21863
Hi @jeremymeng ,

I see the issue here. I'll try a fix for it.

Thanks
Emma

[2022-05-19 02:38] EmmaZhu commented on #21729
Hi @kirk-quinbar ,

I see that Copy to your own storage service doesn't work, could you help to try with copying to azure storage service?

Thanks
Emma

[2022-05-19 08:02] #20728 closed

[2022-05-19 08:41] #21842 closed

[2022-05-19 14:10] kirk-quinbar commented on #21729
when i say to our own storage, i meant azure storage.

[2022-05-19 16:14] sima-zhu commented on #20530
The issue has been resolved. Close the issue.

[2022-05-19 16:14] #20530 closed

[2022-05-19 17:01] nihonjinboy85 commented on #21787
Hi @KarishmaGhiya ,

Great news! I've turned on the verbose logging as discussed and waited 24 hours for the server startup token to expire. In reviewing the logs, it looks like the new token is successfully being created. What I think is actually happening is that the `mssql` NPM package is not establishing a new connection to my SQL DB using the new token, but rather responding with the existing

[2022-05-19 17:01] #21787 closed

[2022-05-19 17:59] mccoyp opened #21927 "[Key Vault] Ensure port numbers are preserved in vault URLs parsed from IDs"
See https://github.com/Azure/azure-sdk-for-python/issues/24446 for issue context, and https://github.com/Azure/azure-sdk-for-python/pull/24466 for Python's fix.

[2022-05-19 18:34] KarishmaGhiya commented on #21787
That's great!! Thanks @nihonjinboy85

[2022-05-19 18:53] sarangan12 commented on #21839
@xirzec @jeremymeng Per our SDK Guidelines, we should not be doing any validations. Any reasons why we should still keep these validations? Why can't we remove them altogether?

[2022-05-19 20:34] jeremymeng opened #21932 "[eslint-plugin] update `@azure/azure-sdk/ts-package-json-types` rule to also consider beta trimmed dts rollup"
currently this rule ensures our type rollup file name matches the package directory name.  However, with @beta marked APIs we might need to ship beta-trimmed version of the dts rollup file.  If we keep using the same file name, but override it with public-trimmed or beta-trimmed version, then this rule don't need to change.  However, if we decided to use different file name, this rule needs to be

[2022-05-19 20:53] sarangan12 commented on #21839
I have sent a note to the Autorest crew abount these validations and based on their input, I will decide on removing the constraints.

[2022-05-19 21:08] timovv commented on #21927
I had a play around and if I'm understanding correctly it doesn't look like JS has this issue. I raised a PR adding a test case to make sure :)

[2022-05-19 21:18] #21927 closed

[2022-05-20 00:27] jeremymeng commented on #21861
These two has been addressed.  There's a new one which should be addressed soon too

  Tool: PoliCheck: Rule: SEV2 (Severity 2).
  The term [whitelist](http://policheck.azurewebsites.net/Pages/TermInfo.aspx?LCID=9&TermID=80411) was used in file 'firewallPoliciesCreateOrUpdateSample.ts' and may not be appropriate to ship in all contexts.  When industry naming conventions or consistency make replace

[2022-05-20 05:42] v-jiaodi opened #21941 "[Communication - SMS] SmsClient [Live] [AAD] test send method can send an SMS message with options passed in failing in nightly runs"
Communication - SMS nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:251:17)
    at deserializeResponseBody (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:159:43)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/

[2022-05-20 05:42] v-jiaodi opened #21942 "[Key Vault - Keys] Deploy test resources failing in nightly runs"
Key Vault - Keys nightly test runs are failing with:

VERBOSE: Logging out of service principal '***'
VERBOSE: Performing the operation "New-TestResources.ps1" on target "***".
Export-AzKeyVaultSecurityDomain: /mnt/vss/_work/1/s/sdk/keyvault/test-resources-post.ps1:102
Line |
 102 |  Export-AzKeyVaultSecurityDomain -Name $hsmName -Quorum 2 -Certificate …
     |  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2022-05-20 05:43] v-jiaodi opened #21943 "[Service Bus] Convert tests to run against package references failing in nightly runs"
Service Bus nightly test runs are failing with:

  versions.forEach((v) => {
           ^
TypeError: versions.forEach is not a function
    at Object.maxSatisfying (/mnt/vss/_work/1/s/eng/tools/dependency-testing/node_modules/semver/ranges/max-satisfying.js:13:12)
    at findAppropriateVersion (/mnt/vss/_work/1/s/eng/tools/dependency-testing/index.js:209:37)
    at processTicksAndRejections (node:

[2022-05-20 05:43] v-jiaodi opened #21944 "[Storage - Blob] ContainerClient.generateSasUrl should work with filtertag permission failing in nightly runs"
Storage - Blob nightly test runs are failing with:

RequestId:c8d42ec1-301e-003f-7d5e-6b9bca000000
Time:2022-05-19T08:55:02.0457289Z
    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-http\src\policies\deserializationPolicy.ts:274:17)
    at D:\a\_work\1\s\sdk\core\core-http\src\policies\deserializationPolicy.ts:179:47
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node

[2022-05-20 06:05] v-xuto commented on #21941
@DimaKolomiiets for notification.

[2022-05-20 10:18] qiaozha commented on #21587
@blured75 Can you try to add the following way in your code. This should be able to log some information you needed
[code]

[2022-05-20 12:54] EmmaZhu commented on #21729
I see the blob URL from the log you shared:
`"url": "http://127.0.0.1:10000/devstoreaccount1/email-aspca-dev/slalom%2Fcampaign%2F20220406%2Fsalesforcecampaign_20220406_060001_to_20220506_060001.csv"`

It's not a URL to an azure storage target, it's like a URL to the service running on your own machine.

Is it OK, could you try with two accounts to azure storage service and share the account name a

[2022-05-20 16:53] jeremymeng commented on #21943
@praveenkuttappan is looking at the min max version script from EngSys side.

[2022-05-20 18:56] jeremymeng commented on #21943
PR #21948

[2022-05-20 20:01] kirk-quinbar commented on #21729
after getting on a screenshare with MS support, i was unable to reproduce this issue when using beginCopyFromURL. Although i didnt intentionally update the @azure/storage-blob package, i am wondering if there was a minor update that fixed things. I updated @azure/storage-blob from 12.9.0 to 12.10.0 and it still works as expected, so for the time being this issue can be closed. thanks for any sugge

[2022-05-20 20:02] #21729 closed

[2022-05-20 21:27] jeremymeng commented on #21863
@EmmaZhu do you think the new behavior is more "correct", since our type for metadata is `metadata?: { [propertyName: string]: string; }, and users should have asserted it before using its property?

[2022-05-20 23:23] jeremymeng commented on #19180
upgrade to ^8.0.0 in PR #21733

[2022-05-20 23:23] #19180 closed

[2022-05-20 23:24] jeremymeng commented on #19169
upgrade to ~5.22.0 in PR #21733

[2022-05-20 23:24] #19169 closed

[2022-05-20 23:24] jeremymeng commented on #19168
upgrade to ~5.22.0 in PR #21733

[2022-05-20 23:24] #19168 closed

[2022-05-20 23:25] jeremymeng commented on #19170
upgrade to ~5.22.0 in PR #21733

[2022-05-20 23:25] #19170 closed

[2022-05-20 23:26] jeremymeng commented on #19219
upgrade to ^8.0.0 in PR #21733, and 83e13d88f9

[2022-05-20 23:26] #19219 closed

[2022-05-20 23:26] jeremymeng commented on #19171
upgrade to ~5.22.0 in PR #21733

[2022-05-20 23:26] #19171 closed

[2022-05-20 23:27] jeremymeng commented on #19160
upgrade to ~8.4.0 in PR #21733

[2022-05-20 23:27] #19160 closed

[2022-05-20 23:34] jeremymeng commented on #20701
We rely on TSC to output the d.ts files and it took almost the same time using --omitDeclarationOnly v.s. full build.  Currently there's no way around it.

[2022-05-20 23:34] #20701 closed

[2022-05-20 23:44] jeremymeng commented on #20491
PR #21907

[2022-05-20 23:44] #20491 closed

[2022-05-21 15:07] dfberry commented on #21587
@maorleger @xirzec I think this should be investigated more as a feature request to the plaform - how does a customer identify auth issues when the code hasn't changed between deployment environments? Clearly this customer understands at a base level it is the REST API. Can there be something smarter in logging or the platform to help resolve these issues?

[2022-05-21 15:23] MoshiulRabbi commented on #21572
facing same error,deploying django container using docker hub single container public image.

Container smartlib_0_dc086ccb didn't respond to HTTP pings on port: 80, failing site start. See container logs for debugging.

[2022-05-23 01:28] qiaozha commented on #21572
@MoshiulRabbi Does the work around @Kondamon mentioned above work for you ?

[2022-05-23 01:54] EmmaZhu commented on #21863
@jeremymeng ,  yes, we define metadata as a nullable value, the new behavior should be more expected.

BTW, how did you find out this change? Did customer report any issue for it? If no customer reported this issue, maybe customer also expects that metadata can be undefined.

Thanks
Emma

[2022-05-23 04:57] wangmingliang-ms commented on #21827
Thank you all, close it since this bug disappears in the stable version of SDK.

[2022-05-23 04:57] #21827 closed

[2022-05-23 08:03] BoostSebastian opened #21953 "using arm-consumption sdk with billingAccountId give 401"
- **Package Name**: @azure/arm-consumption
- **Package Version**: 9.0.1
- **Operating system**:
- [x] nodejs
    - 14
- [x] typescript

- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ x ] SDK API docs on https://github.com/Azure/azure-sdk-for-js/tree/aee346be5458df5c81e53dbb09e1a7f3a7b07e1a/sdk/consumption/arm-consumption

**Describe the bug**

[2022-05-23 08:04] azure-sdk commented on #21953
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Consumption - UsageDetailsAndExport:0.17040057,Azure.Identity:0.09310639,Storage:0.05245811'

[2022-05-23 13:08] azure-sdk opened #21955 "Dependency package @typescript-eslint/eslint-plugin has a new version available"
We have identified a dependency on version 5.22.0 of @typescript-eslint/eslint-plugin. A new version (5.27.1) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for

[2022-05-23 13:08] azure-sdk opened #21956 "Dependency package @typescript-eslint/experimental-utils has a new version available"
We have identified a dependency on version 5.22.0 of @typescript-eslint/experimental-utils. A new version (5.27.1) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folde

[2022-05-23 13:08] azure-sdk opened #21957 "Dependency package @typescript-eslint/parser has a new version available"
We have identified a dependency on version 5.22.0 of @typescript-eslint/parser. A new version (5.27.1) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each s

[2022-05-23 13:08] azure-sdk opened #21958 "Dependency package @typescript-eslint/typescript-estree has a new version available"
We have identified a dependency on version 5.22.0 of @typescript-eslint/typescript-estree. A new version (5.27.1) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder

[2022-05-23 13:08] azure-sdk commented on #21955
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.29059657,Service Bus:0.25879,Azure.Identity:0.039178416'

[2022-05-23 15:45] jay-most commented on #20669
PR has been merged.

[2022-05-23 15:45] #20669 closed

[2022-05-23 17:34] #21943 closed

[2022-05-23 17:35] #21428 closed

[2022-05-23 17:38] #18550 closed

[2022-05-23 17:40] jeremymeng commented on #18828
Added a guard against accessing property of undefined in https://github.com/Azure/azure-sdk-for-js/pull/21866

[2022-05-23 17:40] #18828 closed

[2022-05-23 17:59] xirzec commented on #21587
We've been trying to go back and add better error messages / log statements for this reason (e.g. https://github.com/Azure/azure-sdk-for-js/blob/4bbe22736dcbe6c316dc6f628273e4f30fe022c2/sdk/identity/identity/src/credentials/clientCertificateCredential.ts#L121 )

When we figure out the cause here perhaps we can add something specific to this scenario that would speed up diagnosis next time. /cc @Ka

[2022-05-23 19:18] KarishmaGhiya commented on #21914
Hello @AsafMah, thank you for reaching out to us. Based on the steps you provided to reproduce the behaviour, I have the following code (on the browser side) -

`js
 document.getElementById(<button_id>).onclick = async()=>{
   //for ibc, we need single page application for registering redirect URIs
   const credential = new InteractiveBrowserCredential({clientId:<client-id-1>, tenantId:tenantId, l

[2022-05-23 21:32] xirzec commented on #21839
Per our offline discussion, I agree we can remove this check on the client side

[2022-05-23 22:00] xiangyan99 opened #21966 "Double check PII logging implementation and make sure we handle non-base64 encoded string gracefully"
access token returned from AAD may be not a base64 encoded string.

Please check our implementation to make sure we handle it gracefully.

Feel free to close it if it does not apply to your situation.

[2022-05-23 22:05] xirzec commented on #21966
@KarishmaGhiya can you determine if there's any work for us to do here?

[2022-05-23 22:08] xirzec commented on #21953
@qiaozha is this something you can help with?

[2022-05-23 23:26] mpodwysocki commented on #21645
Closed as per #21967

[2022-05-23 23:26] #21645 closed

[2022-05-24 00:47] qiaozha commented on #21953
Yes, I will take a look. Thanks

[2022-05-24 03:08] v-jiaodi opened #21970 "[Event Hubs] Create clients using Azure Identity creates an EventHubProducerClient from an Azure.Identity credential failing in nightly runs"
Event Hubs nightly test runs are failing with:

More details:
endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detail: ClientConfigurationError: untrusted_authority: The provided authority is not a trusted authority. Please include this authority in the knownAuthorities config parameter.
    at /Users/runner/work/1/s/common/temp/node_modules/.pnpm

[2022-05-24 03:08] v-jiaodi opened #21971 "[Storage - File Datalake] LeaseClient from File breakLease failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/storage/storage-file-datalake/test/leaseclient.spec.ts:260:12)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1591626&view=results

[2022-05-24 03:48] qiaozha commented on #21953
Look like this is a service backend error that related with your billing account. I tried on my side, get another 404 error.
[code]

[2022-05-24 05:10] yogeshmo opened #21973 "Work Items for Email JS SDK"
These following items will be completed for the next communication-email beta package release.

- [ ] Change the samples in the README.md to use JavaScript instead of TypeScript.
- [ ] Change the "api" object in EmailClient.ts to "generatedClient"
- [ ] Update the autorest version, regenerate the SDK, and refactor the email client authentication
- [ ] Update the "cC" and "bCC" properties to "cc" a

[2022-05-24 05:10] azure-sdk commented on #21973
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.24010335,Communication:0.08338186,SQL:0.032242257'

[2022-05-24 07:27] qiaozha commented on #21884
@MaryGao Can you help take a look at this issue ? Thanks

[2022-05-24 07:43] qiaozha commented on #20984
@MaryGao Can you help take a look at this issue ? Thanks

[2022-05-24 09:00] BoostSebastian commented on #21953
I have an case but no finding yet.
What is the required access role in the EA portal for API? Or is it enough to assign an root read only on the root managment group?

[2022-05-24 10:52] AsafMah commented on #21914
That's odd, maybe it's because I'm using it in node and not in the browser?

[2022-05-24 13:40] sharangthorat opened #21977 "Authorization Error from beginCopyFromURL API from Javascript library (@azure/storage-blob) when executed from local minikube cluster."
- **Package Name**: @azure/storage-blob
- **Package Version**:  latest
- **Operating system**: Linux 5.10.16.3-microsoft-standard-WSL2 ( Minikube on Windows 10)
- [ ] **nodejs**
    - **version**:  14.18.2
- [ ] **browser**
    - **name/version**:  N/A
- [ ] **typescript**
    - **version**: N/A
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [

[2022-05-24 18:25] baywet opened #21978 "Continuous Access Evaluation (CAE) doesn't seem to be working for device code flow"
Hi from the Microsoft Graph SDKs team 👋

We're in the process of implementing CAE in our SDKs, which rely on Azure identity.

First, the [GetTokenOptions](https://github.com/Azure/azure-sdk-for-js/blob/9d78d165275683896b08adef1b2e52bc212778e5/sdk/core/core-auth/src/tokenCredential.ts#L27) interface doesn't expose a "claims" property, when the [dotnet equivalent does](https://github.com/Azure/azure

[2022-05-24 18:26] azure-sdk commented on #21978
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.47996175,Azure.Identity:0.2467415,IoT:0.03852034'

[2022-05-24 18:34] KarishmaGhiya commented on #21914
I don't think that should matter. But you can try switching it around. Also can you share your code snippet if possible?

[2022-05-24 19:04] xirzec opened #21979 "[arm-rediscache] Filter secrets in test recordings"
I don't think this secret being compromised is a problem since the resource was cleaned up, but we should configure the recorder to sanitize the `primaryKey` and `secondaryKey` fields of this 201 response:

https://github.com/Azure/azure-sdk-for-js/blob/84f8ed15f93516ef2716085fcefb7bdf76a4f6fd/sdk/redis/arm-rediscache/recordings/node/redis_test/recording_redis_create_test.js#L278-L278

@qiaozha ca

[2022-05-24 19:25] #14864 closed

[2022-05-24 20:52] jeremymeng commented on #21978
The [identity doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/claims-challenge#claims-request) seems to suggest to base64-decode the claims from the response, url-encode it then add it to the claims parameter of the authorization request

[2022-05-24 22:47] jeremymeng commented on #21978
I think it makes sense to have `claims` on `GetTokenOptions` for consistency with other languages. @KarishmaGhiya @mpodwysocki

[2022-05-24 23:38] mikeharder opened #21982 "[Storage] ConnectionString requires EndpointSuffix"
I am trying to use the Blob connection string sample:

https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/storage/storage-blob/samples/v12/typescript/src/connectionStringAuth.ts

With the first example shown in the Storage Connection String docs:

[code]

https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string#configure-a-connection-string-for-an-azure-storag

[2022-05-25 00:05] qiaozha commented on #21979
Okay, I will take a look today. Thanks

[2022-05-25 00:20] zane-atomus opened #21984 "monitor-query: LogsQueryClient custom endpoint incorrect scope"
- @azure/arm-monitor:
- 7.0.0:
- Windows 10:
- [x] **nodejs**
    - v16.13.2:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When creating a `LogsQueryClient` with `endpoint` specified in the `op

[2022-05-25 00:20] azure-sdk commented on #21984
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.21463631,Monitor - Query:0.1489828,Storage:0.07144132'

[2022-05-25 02:47] qiaozha commented on #21979
@xirzec  I found the secret has been changed in the main branch. Do we need to clean the other branch ?

[2022-05-25 06:03] AMKovalenko commented on #15893
Hello! @amit12cool , could you inform us if you solved the issue? If yes, could you please, share your workaround?
Hello, @chradek , could you please tell us if the issue was fixed or something we can do to overcome the problem?

I just faced the same error using your Java SDK:

[code]

[2022-05-25 06:12] qiaozha commented on #21979
it should have been resolved in pr #21987

[2022-05-25 07:42] qiaozha commented on #21953
need service team knowledge here to answer the above question. Thanks

[2022-05-25 11:12] coderbyheart opened #21999 "Hardcoded API version 2022-02-05 in @azure/arm-deviceprovisioningservices dpsClient cannot be overwritten and is not supported on "northeurope""
- **Package Name**: @azure/arm-deviceprovisioningservices
- **Package Version**: 5.0.0
- **Operating system**: Linux
- [x] **nodejs**
    - **version**: v16.15.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.6.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

*

[2022-05-25 11:12] azure-sdk commented on #21999
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'IoT:0.13072868,Compute:0.06210977,Container Registry:0.056126487'

[2022-05-25 11:19] coderbyheart commented on #21999
The error message however lists `northeurope` as a supported region.

[2022-05-25 11:20] coderbyheart commented on #21999
Hardcoding `2021-10-15` in dpsClient.js will make it work.

[2022-05-25 13:00] sajeetharan commented on #20194
Adding relevant pull requests

.NED SDK : https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2948/files
JAVA SDK : https://github.com/Azure/azure-sdk-for-java/pull/23497

[2022-05-25 13:32] baywet commented on #21978
Thanks for the reply @jeremymeng After adding encodeURIComponent (after the base64 decode), this is still not working as expected.
I also added `setLogLevel("info");` to get a better understanding of what's happening, and it seems the library is ignoring the claims property all together. Here are the logs

[code]

I'd expect Azure Identity to either fail on the silent token acquisition and fallbac

[2022-05-25 15:12] baywet commented on #21978
I believe the code should instead be

[code]

[2022-05-25 15:53] jsquire opened #22000 "Event Hubs: Client Identifier Support"
# Summary

When creating one of the Event Hubs client types, it can be useful for a host application to be able to uniquely identify the client instance.  The Event Hubs service also supports setting the identifier of an AMQP link, which it will associate with some error messages to make it easier to correlate errors with a given client instance.

# Scope of Work

- The options for each Event Hubs

[2022-05-25 15:57] baywet commented on #21978
after some more investigation I can confirm that the claims goes all the way here, but msal replies with the same access token that it already returned, from the cache.
https://github.com/Azure/azure-sdk-for-js/blob/dd0b9d9b0955a2c2c5d10e3d5b2f913b3ca77bc7/sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts#L278

[2022-05-25 16:04] jsquire commented on #22000
Duplicate of #16406.

[2022-05-25 16:04] #22000 closed

[2022-05-25 17:34] jeremymeng commented on #21840
Could that we a way that we enforce an expiration date that is sooner for browser version?

[2022-05-25 17:39] raskyer opened #22003 "Cannot find name 'DedicatedGatewayRequestOptions'"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.16.0
- **Operating system**: Windows
- [v] **nodejs**
    - **version**:  16.15.0
- [v] **typescript**
    - **version**: 4.0.0
- [v] **Functions**
    - **version**: 3.0.0

**Describe the bug**
I am trying to use @azure/cosmos inside an Azure Function written in typescript.
When I try to `npm run build`, the build fails with : `node_modul

[2022-05-25 17:43] raskyer commented on #22003
![image](https://user-images.githubusercontent.com/16725289/170328879-f98a0b22-0299-4d96-951f-b504ccfced68.png)

In `cosmos.d.ts`

My package.json :
[code]

[2022-05-25 17:44] baywet commented on #21978
After more investigation, azure identity 2.0.4 (current version at the time of writing) [uses msal node 1.3.0](https://github.com/Azure/azure-sdk-for-js/blob/%40azure/identity_2.0.4/sdk/identity/identity/package.json#L113)

[MSAL node 1.7.0](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-node-v1.7.0) has a bugfix specific to claims and tokens caching.

For san

[2022-05-25 22:48] xirzec commented on #21978
Since we depend on `^1.3.0`, which is compatible with `1.8.0`, we actually do use `1.8.0` currently:

https://github.com/Azure/azure-sdk-for-js/blob/f5de1196170c647e9dc9bef0833640b7bb5572e7/common/config/rush/pnpm-lock.yaml#L1009

We could still bump up the minimum version to be higher in order to force folks to get the bugfix, though. @KarishmaGhiya can you take care of this?

I'm a bit confused

[2022-05-25 23:22] xirzec commented on #21979
Thank you for taking care of this! 😄

[2022-05-25 23:22] #21979 closed

[2022-05-25 23:24] xirzec commented on #21982
/cc @jeremymeng any thoughts on this one?

[2022-05-25 23:25] azure-sdk commented on #21984
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.24198627,Monitor - Query:0.14843735,Storage:0.073176526'

[2022-05-25 23:26] xirzec commented on #21984
Thanks @zane-atomus for debugging this for us!

[2022-05-25 23:27] azure-sdk commented on #21999
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'IoT:0.12981337,Compute:0.061891172,Container Registry:0.055920307'

[2022-05-25 23:27] azure-sdk commented on #21999
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'IoT:0.12981337,Compute:0.061891172,Container Registry:0.055920307'

[2022-05-25 23:35] jeremymeng commented on #21982
Looks that instead of throwing error, we could use a default value of `"core.windows.net"`?

https://github.com/Azure/azure-sdk-for-js/blob/f5de1196170c647e9dc9bef0833640b7bb5572e7/sdk/storage/storage-blob/src/utils/utils.common.ts#L208-L212

[2022-05-26 00:20] baywet commented on #21978
The Microsoft graph sdks are not using the same http pipeline azure sdks are.

[2022-05-26 00:23] xirzec commented on #21978
Would you be willing to try it out? You can configure your own pipeline with all custom policies or pick and choose which of our policies make sense for you.

[2022-05-26 00:33] baywet commented on #21978
That original decision predates my time on the team. I believe @darrelmiller had conversations with your architects at the time.

[2022-05-26 00:43] EmmaZhu commented on #21982
I agree. We should have a default endpoint value. I'll fix it.

[2022-05-26 01:57] EmmaZhu commented on #21977
Hi @sharangthorat

From service side log, seems there's time skew between Azure Storage Service and the client, the start time used in source SAS token was later than server time.

We'd suggest not using start time in SAS token to avoid this kind of failure caused by time skew.

Thanks
Emma

[2022-05-26 02:35] KarishmaGhiya commented on #21798
@ashut0shk Checking with you if updating the node version resolves the issue you are having?

[2022-05-26 04:55] EmmaZhu commented on #21840
Hi @jeremymeng

From my understand, the whole scenario should be:
1. Customer get a user delegation key with AAD token
2. Customer get a SAS token for a blob with the user delegation key.
3. Access the blob with the SAS token credentials.

`GetUserDelegationKey` from AAD token is supported in browser, and accessing blob from a SAS token is also supported in browser.  To support the scenario, we'd

[2022-05-26 07:09] qiaozha commented on #21999
@colawwj Can you help regenerate the package with the latest code generator ? Thanks

[2022-05-26 07:20] qiaozha commented on #21999
we will generate a new package that allows customers to change the api version in the client options.
But it still needs service team's attention for the version of 2022-02-05, as it has been merged into the rest api specs main branch https://github.com/Azure/azure-rest-api-specs/tree/main/specification/deviceprovisioningservices/resource-manager#basic-information but we can't find this api versio

[2022-05-26 07:53] sharangthorat commented on #21977
Thanks a lot Emma. I have verified your solution and removing start time makes it work perfectly. If start time is added in sas token it works intermittently for nearest blob location ( central india ). I believe this issue can be closed.

[2022-05-26 10:15] asdaandrewhaigh commented on #20689
We have encountered the same issue, is there any updates on this?

[2022-05-26 11:54] raskyer commented on #22003
@xirzec Is there a workaround ? Downgrading the version or an action I can do on my side ? And if no workaround exists, do you have an idea of how long it will take to have a fixed release ?

I don't want to urge you, of course! But it prevents my team and I from developing our project for the french elections on Azure. If no workaround is found we will have to migrate to another cloud service.

[2022-05-26 13:19] nwf-msr opened #22011 "identity: ClientCertificateCredential with secret key in TPM?"
**Is your feature request related to a problem? Please describe.**

The `ClientCertificateCredential` implementation requires that the application itself handle secret keying material, either as a string directly or indirectly as a file name that is, ultimately, opened and turned into a string internally.  This, in turn, implies that the system on which the application is running has cleartext acc

[2022-05-26 15:42] HarshaNalluru opened #22012 "[Recorder] TEST_MODE - eliminate case sensitivity"
**_Message from @MaryGao from an email thread_**

Idea looks good and would definitely improve the user experience. Would like to have this feature in the recorder for the next patch version.

[2022-05-26 15:50] ashut0shk commented on #21798
@KarishmaGhiya I have not been able to upgrade the node on the managed identity machine (mainly because of a lot of dependencies) to validate the existence of the issue with latest one. I, however, tried to reproduce the same on a regular machine and it appears that it does vanish away with latest Node LTS, i.e., v16.15.xx

NB: On regular machine with Node v8.xx, I was still hitting the same error

[2022-05-26 16:46] #16119 closed

[2022-05-26 16:46] sajeetharan commented on #22003
@xirzec Thanks for reporting this. We are investigating on this and we will update here! @jay-most any thoughts?

[2022-05-26 18:37] witemple-msft commented on #22003
@raskyer As a quick workaround until we can get a fix released, you can enable the [`skipLibCheck` option](https://www.typescriptlang.org/tsconfig#skipLibCheck) in your tsconfig file. This option will cause the typescript compiler to skip checking dependencies' .d.ts files for completeness. Your code will still be checked against the cosmos.d.ts types, but the cosmos.d.ts file itself will not be c

[2022-05-26 19:36] xirzec commented on #22011
@mpodwysocki @KarishmaGhiya this sounds like an interesting scenario - can you help with guidance?

[2022-05-26 21:29] jay-most opened #22016 "Promote Warning: (ae-incompatible-release-tags) to error in CI builds"
Can we promote this warning to an error?
**Describe the bug**
Warning: (ae-incompatible-release-tags)

**To Reproduce**
Steps to reproduce the behavior:
Extend a @public interface with a @beta modifier.

 Warning: (ae-incompatible-release-tags) The symbol "Interface A" is marked as @public, but its signature references "Interface B," which is marked as @beta

The @beta modifier is one of the four

[2022-05-26 21:56] alexweininger opened #22017 "Client classes aren't tree-shakable, resulting in unnecessarily large bundles"
**Is your feature request related to a problem? Please describe.**

Clients like `WebSiteManagamentClient` are implemented as extremely large classes with large nested classes inside. Module bundlers like webpack are not able to tree-shake unused code from these client classes. Meaning >75% of the bundled code is not needed. This is frustrating considering the SDK bundle is larger than all other b

[2022-05-26 23:54] MRayermannMSFT commented on #22017
Agreed that this would be great to have. Storage Explorer has also noticed that the Azure SDKs are greatly contributing to bundle size, so being able to tree shake them would be of great value to our users.

[2022-05-27 02:27] qiaozha commented on #21984
@xirzec looks like the problematic code is in @azure/monitor-query package not in @azure/arm-monitor https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/monitor/monitor-query/src/logsQueryClient.ts#L59.

[2022-05-27 02:28] qiaozha commented on #21984
@zane-atomus Can you also help confirm which package is really causing the issue ? Thanks

[2022-05-27 02:47] lirenhe commented on #22017
@qiaozha , could you take a look at this ask?  I am wondering whether the RLC work could help for this case.

[2022-05-27 03:03] timtucker-dte commented on #20161
Also seeing this show up as well -- lots of requests from Azure functions showing up as failing

[2022-05-27 04:10] v-jiaodi opened #22023 "[Tables] Integration test libraries failing in nightly runs"
Tables nightly test runs are failing with:

[browser-tests]     listTables
[browser-tests]       × "after all" hook for "should list a specific page with continuationToken"
[browser-tests]         Chrome Headless 102.0.5002.0 (Windows 10)
[browser-tests]       Error: Timeout of 10000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves.
[brow

[2022-05-27 04:10] azure-sdk commented on #22023
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'azure-sdk-bom:0.2510874,Tables:0.18426567,Azure.Identity:0.13838397'

[2022-05-27 07:47] navba-MSFT commented on #11301
Removing the CXP attention label and re-adding the Service Attention so that the SErvice team can help on this.

CXP team would be happy to help on this backlog on best effort basis.

[2022-05-27 09:59] PramodValavala-MSFT commented on #21728
@luki-sk The screenshots you've shared, seem to be printing for the dates. Could you confirm if that is just whitespace? Also, if you debug your code, do you see null values for these fields as well?

[2022-05-27 12:47] dfberry opened #22026 "Cognitive Services samples are missing"
**Is your feature request related to a problem? Please describe.**
I expect to find all samples for SDKs in this repo - Cognitive Service, Computer Vision is missing. All Cog Serv may be missing.

**Describe the solution you'd like**
Please make sure all sdk's conform to providing samples in JS and TS and that the samples are available from this repo. If they are contained in another repo, this re

[2022-05-27 12:48] azure-sdk commented on #22026
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.33465552,Storage:0.09294173,Docs:0.053625647'

[2022-05-27 13:45] dfberry commented on #22026
@xirzec What does the @azure-sdk bot message mean?

[2022-05-27 14:33] poulinjf opened #22027 "[cosmosdb] Performance issue under high load/throughput"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.15.0
- **Operating system**: ARO/OCP 4.8.x
- [ x] **nodejs**
    - **version**: v14.19.0
- [ x] **npm**
    - **version**: v6.14.16

**Describe the bug**
Under high load/throughput, we can see the SDK slowing down connections to cosmosdb compared to another NoSQL solution, like Couchbase. When this happens, we're not even close of maxing o

[2022-05-27 15:45] nwf-msr commented on #22011
A follow-up with a more specific avenue that may be worth considering.  The OpenSSH agent protocol is widely spoken by cryptographic service providers, apparently fairly easy to speak from JS, and capable of signing JWTs, as demonstrated by https://github.com/ptxmac/ssh-jwt.  There's even support in OpenSSH's implementation for using PKCS#11 tokens and specifically the TPM as such: https://blog.le

[2022-05-27 16:06] zane-atomus commented on #21984
Oops, yes I meant @azure/monitor-query. Thanks.

[2022-05-27 16:25] xirzec commented on #21984
Ah my mistake for not looking closely enough at the bug description! Thanks @qiaozha for pointing that out

[2022-05-27 16:27] xirzec commented on #21984
@KarishmaGhiya If the fix is as simple as it looks, would you mind making a quick PR?

[2022-05-27 16:29] xirzec commented on #22003
Yeah, I agree this one is a bit odd due to the fact a stable interface depends on it. I think this will be a good case study as we figure out the guidelines for beta APIs.

[2022-05-27 17:15] timovv opened #22028 "[KeyVault] Authentication scope is hard-coded"
Currently we hard-code the scope which is used for [challenge authentication](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/keyvault/keyvault-admin/src/constants.ts#L22) in keyvault-admin. We should instead be using the scope that comes back in the `WWW-Authenticate` header from the challenge.

Maybe look at [.NET implementation](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/k

[2022-05-27 17:29] xirzec commented on #22026
The ML it uses for guessing what package/service you are talking about wasn't confident enough to assign a label directly, so I get to do it manually. :)

[2022-05-27 17:32] xirzec commented on #22016
@praveenkuttappan is this something you can help us with, or do we just need to make sure api-extractor throws and fails rush when this happens?

[2022-05-27 23:11] KarishmaGhiya commented on #18001
We have an ongoing service issue due to which all our live tests across the languages are failing. Won't be able to work on this until the live tests are green. Moving this to August for now.

[2022-05-28 03:23] zhangxin511 opened #22033 "Upload blob runtime error"
- **Package Name**: @azure/storage-blob
- **Package Version**: ^12.10.0
- **Operating system**: Ubuntu 20.04.4 LTS
- [x] **nodejs**
    - **version**: v14.18.2
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describ

[2022-05-30 03:42] sajeetharan commented on #22027
@poulinjf Thanks for the detailed report! We will investigate

[2022-05-30 08:02] #21589 closed

[2022-05-30 08:36] asdaandrewhaigh commented on #20689
We have verified the following fix works, using https://www.npmjs.com/package/patch-package:

[code]

[2022-05-30 15:25] sajeetharan commented on #20689
@asdaandrewhaigh Thanks for looking into this! We will investigate and make the changes!

[2022-05-30 16:10] MoshiulRabbi commented on #21572
Sorry, wrong thread. I should check the python sdk

[2022-05-30 18:41] danielortega-msft commented on #20871
Resolved as of #22008

[2022-05-30 18:41] #20871 closed

[2022-05-31 06:08] v-jiaodi opened #22045 "[Digital Twins - Core] DigitalTwins - create, read, update, delete and telemetry operations query digital twin failing in nightly runs"
Digital Twins - Core nightly test runs are failing with:

    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/digitaltwins/digital-twins-core/test/public/testDigitalTwins.spec.ts:879:14)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1607952&vi

[2022-05-31 06:08] v-jiaodi opened #22046 "[Key Vault - Certificates] Deploy test resources failing in nightly runs"
Key Vault - Certificates nightly test runs are failing with:

Line |
 721 |          $deployment = Retry {
     |                        ~~~~~~~
     | Exception calling "Invoke" with "0" argument(s): "The running
     | command stopped because the preference variable
     | "ErrorActionPreference" or common parameter is set to Stop:
     | 22:08:28 - The deployment 't7cfa8e5974884ae0' failed with

[2022-05-31 06:08] v-jiaodi opened #22047 "[Service Bus] UnpartitionedQueue: AMQP (live testing) AmqpAnnotatedMessage UnpartitionedQueue failing in nightly runs"
Service Bus nightly test runs are failing with:

    at Function.<anonymous> (dist-test/index.browser.js:14928:65)
    at Function.methodWrapper (dist-test/index.browser.js:5867:29)
    at receiveMsg (dist-test/index.browser.js:116450:30)
    at async Context.<anonymous> (dist-test/index.browser.js:116459:21)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?

[2022-05-31 06:09] v-jiaodi opened #22048 "[Aggregate-reports] Secure Supply Chain Analysis failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

For more information please visit: https://aka.ms/nugetsecurityanalysis
Starting Multifeed Nuget Security Analysis:
Starting Multifeed Python Security Analysis:
Starting CFS NuGet Analysis:
Starting CFS NPM Analysis:
common/config/rush/.npmrc - External feeds found in the file.
Starting DockerFile Analysis:
sdk/identity/identity/test/manual-in

[2022-05-31 06:09] azure-sdk commented on #22048
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.45412168,Container Registry:0.18195026,Azure.Core:0.12866394'

[2022-05-31 07:27] zedy-wj commented on #21153
@jeremymeng - The problem is no longer reproduced in the pipeline. We will close it. Thanks for the fix for this issue :)

[2022-05-31 07:27] #21153 closed

[2022-05-31 09:19] zedy-wj opened #22050 "[Event Hubs] Subscribed to multiple partitions failed on China cloud."
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
Live test `when subscribed to multiple partitions` failed in all environments on `China` cloud in [weekly pipeline](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1609120&view=logs&j=90d65a40-c17

[2022-05-31 11:09] AsafMah commented on #21914
Not sure what do you mean by app registration.
We are using this to connect to a kusto cluster (we are making a kusto/azure data explorer SDK for node) , our code is here https://github.com/Azure/azure-kusto-node/blob/5fef09101a84b4d7dd35ca9ecf456d6f48fee07e/packages/azure-kusto-data/source/tokenProvider.ts#L211

But to summerize:

[code]

And when we create both of these quickly one after another

[2022-05-31 14:31] alzimmermsft opened #22051 "search-documents Guides and Samples Updates"
The guides and samples for `search-documents` should include new features such as:

- [ ] Using AAD for authentication
- [ ] Querying with semantic search
- [ ] Resetting documents and skills

[2022-05-31 15:12] amrit-moomie commented on #21110
Hi @EmmaZhu @jeremymeng

Possible to get a fix for this in the coming version?

[2022-05-31 15:28] xirzec commented on #22033
@zhangxin511 Thanks for reporting this! I'm guessing we're not currently handling `Blob` when used in Node, since it's not a part of the native platform. Is there a reason your example can't use a Node stream instead?

[2022-05-31 15:34] zhangxin511 commented on #22033
@xirzec Thanks for replying.
I was trying to get some performance analysis for request body using different types between `string`, `stream`, `ArrayBuffer`, `blob`  and noticed this.

If I read the code correctly, eventually everything was serialized to `string` so using a string body is most efficient, especially the item I want to save is already a string?

[2022-05-31 15:37] xirzec commented on #22033
Aha! That makes perfect sense.

Yes, I am not surprised by this, though I think for large files stream may work better so it's not pulling the whole thing into memory at once.

[2022-05-31 15:39] zhangxin511 commented on #22033
@xirzec Cool thank you!

[2022-05-31 15:58] deyaaeldeen commented on #21406
These renames have been adopted by the swagger for v2022-04-01-preview and v6.0.0-beta.1 is following that swagger closely so I believe this issue has been addressed for JS.

[2022-05-31 15:58] #21406 closed

[2022-05-31 15:59] #21304 closed

[2022-05-31 15:59] deyaaeldeen commented on #21239
This issue has been addressed

[2022-05-31 16:00] deyaaeldeen commented on #20929
This issue has been addressed

[2022-05-31 16:00] #20929 closed

[2022-05-31 16:00] #20750 closed, assigned to deyaaeldeen

[2022-05-31 16:00] #20632 closed

[2022-05-31 16:00] #20446 closed

[2022-05-31 16:01] deyaaeldeen commented on #20032
Cancellation will be supported in v6

[2022-05-31 16:01] #20032 closed

[2022-05-31 16:02] deyaaeldeen commented on #18217
Has been addressed in v6

[2022-05-31 16:02] #18217 closed

[2022-05-31 16:03] deyaaeldeen commented on #17997
This has been addressed

[2022-05-31 16:03] #17997 closed

[2022-05-31 16:03] #16749 closed

[2022-05-31 16:06] deyaaeldeen commented on #17585
I am going to close this issue since there is no other reports on it and it seems to have been resolved for the author. Please feel free to re-open it should you encounter it again, thanks!

[2022-05-31 16:06] #17585 closed

[2022-05-31 17:15] jeremymeng commented on #22016
according to the [api-extractor doc](https://api-extractor.com/pages/setup/configure_api_report/), warnings will cause non-zero exit code, unless `addToApiReportFile` is set to `true`.  And it appears to be the case for this error where the default setting configures that

https://github.com/microsoft/rushstack/blob/cf03d9be6d50cf1fb37ded1b5977c1041b172abc/apps/api-extractor/src/schemas/api-extrac

[2022-05-31 17:59] chlowell opened #22053 "EnvironmentCredential supports certificate passwords"
Add this support by having the credential read a password from `AZURE_CLIENT_CERTIFICATE_PASSWORD`. See https://github.com/Azure/azure-sdk-for-go/pull/17099 for an example.

[2022-05-31 19:38] jeremymeng commented on #22033
This error is from core-http. We might need some fix in core as well.
https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/core/core-http/src/serializer.ts#L425

[2022-05-31 19:52] #21834 closed

[2022-05-31 19:53] deyaaeldeen commented on #21898
All tests are green now

[2022-05-31 19:53] #21898 closed

[2022-05-31 20:26] #22003 closed

[2022-05-31 20:32] jeremymeng opened #22055 "Guideline for developing beta features/api in main branch"
When we have preview features in main branch for a package that is not ready for GA, we need to do extra work to publish stable version of the same package.  Some approaches used so far:

- release GA version from a servicing/hotfix branch that based on a commit prior to the preview feature was introduced.  Sometimes this involves cherry-picking engsys fixes to pipelines etc.

- Temporarily remove

[2022-05-31 20:41] jeremymeng commented on #22055
Previous related discussions
- cosmos PR https://github.com/Azure/azure-sdk-for-js/pull/21240#discussion_r870660965
- cosmos issue https://github.com/Azure/azure-sdk-for-js/issues/22003
- service bus PR https://github.com/Azure/azure-sdk-for-js/pull/21872#issuecomment-1129332008

[2022-05-31 20:52] xirzec commented on #22033
Since the check given is `typeof Blob === "function" || typeof Blob === "object") && value instanceof Blob)` perhaps you could cheese the logic by making the constructor global? Something like `global.Blob = Blob` ?

[2022-05-31 20:57] xirzec commented on #22003
@raskyer We have published the fix in `3.16.1` to npm, please let me know if you experience any further issues with the TS compiler when using this new version. 😄

[2022-05-31 20:58] sarangan12 commented on #21839
Removed the constraints check. Closing this issue

[2022-05-31 20:58] #21839 closed

[2022-05-31 23:47] MikhailTryakhov commented on #20249
Closing due to no responses happened

[2022-06-01 00:03] jeremymeng commented on #21110
I don't know a lot about Electron.  It seems that `nodeIntegration: true` would allow access to nodejs apis.  I wonder whether there's a way to let Electron go through our NodeJS code path, then the behavior would not be a surprise.

[2022-06-01 02:45] HarshaNalluru opened #22059 "[Recorder] Test proxy and the ports"
Recorder from the `@azure-tools/test-recorder` v2 package expects the test-proxy tool is run at the ports 5000 and 5001 (HTTP and HTTPS respectively).

It works because all the following commands run the test-proxy tool at those ports by default
- dev-tool run test:node-js-input
- dev-tool run test:node-ts-input
- dev-tool run test:browser
- docker run -v /workspaces/azure-sdk-for-js/:/srv/testpro

[2022-06-01 02:45] azure-sdk commented on #22059
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.58147585,Storage:0.06634899,Cognitive - Form Recognizer:0.025332628'

[2022-06-01 06:48] v-jiaodi opened #22060 "Azure ML Team Management Sample Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/accountCreate.ts#L20), [link2](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/accountCreate.js#L20), [link3](https://github.com/Azure/azure-sdk-f

[2022-06-01 06:48] azure-sdk commented on #22060
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.23064412,Machine Learning:0.11325477,Azure.Core:0.050880525'

[2022-06-01 07:25] qiaozha commented on #20570
@bwateratmsft can we close this issue as you have a support ticket to track this ?

[2022-06-01 07:39] qiaozha commented on #21953
Add cxp-attention as there's no response from service team.

[2022-06-01 12:59] bwateratmsft commented on #20570
I think that it should stay open as it is a bug that needs to be fixed. I am not having much luck with the support ticket either.

[2022-06-01 15:23] witemple-msft opened #22066 "[identity] `DefaultAzureCredential#getToken` error message is unhelpful."
- **Package Name**: @azure/identity
- **Package Version**: 2.0.4 (as ^2.0.4)
- **Operating system**: Linux
- [x] **nodejs**
    - **version**: 16.15.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.7.2

**Describe the bug**

When calling `getToken()` on a DefaultAzureCredential instance where the Azure CLI is not installed, the error message for the whole call

[2022-06-01 16:08] witemple-msft commented on #22066
@KarishmaGhiya the bot won't let me mark this as `needs-triage`, so I'm assigning you to it. Please feel free to forward it to whomever.

[2022-06-01 16:24] witemple-msft opened #22067 "[core-lro] `pollUntilDone` may resolve incorrectly if operation is cancelled."
There are two ways an operation may end up in a "cancelled" state:

- The user calls `cancelOperation`, and the poller's internal promise will reject with a cancellation error.
- The service polling API _returns_ a cancelled state without cancellation being called on the local poller.

This issue is about the _second_ condition. This might occur, for example, if a node process is awaiting `pollUnt

[2022-06-01 17:04] timovv commented on #22059
Related: #18240

[2022-06-01 19:03] baywet commented on #21978
@KarishmaGhiya thanks for the follow up. This would be enough for us, no need for an intermediate release.

[2022-06-01 19:04] KarishmaGhiya commented on #21798
I can definitely try to capture the original error message where we are using the URL class and throw that error message. Thanks!

[2022-06-01 20:58] turdigicode opened #22072 "[arm-machinelearning] Incorrect JobBaseDetails mapper"
- **@azure/arm-machinelearning**

### **The bug description**
Hello, I wanted to use your new package, but I found a small problem with it. When trying to create a job, I got an error about an invalid request body.
At first, I thought that I made a mistake myself, but I double-checked.

<img width="1407" alt="image" src="https://user-images.githubusercontent.com/97175615/171498955-691c5db9-b66d-41

[2022-06-01 20:58] azure-sdk commented on #22072
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.07501003,Azure.Core:0.064508736,Compute - VM:0.05811521'

[2022-06-01 22:13] MikhailTryakhov commented on #20249
reopened

[2022-06-01 22:19] #21984 closed

[2022-06-01 23:51] vcolin7 opened #22074 "[Key Vault] Add error logging for when downloading an HSM's security domain fails."
Downloading an HSM's Security domain sometimes fails for our live tests without us logging a possible error message from the Powershell cmdlet. We can leverage [.NET](https://github.com/Azure/azure-sdk-for-net/blob/79fddcfff8d895a19cbea334ccea6d1a20cc918a/sdk/keyvault/test-resources-post.ps1#L99)'s approach to alleviate this in [test-resources-post.ps1](https://github.com/Azure/azure-sdk-for-js/bl

[2022-06-02 05:27] v-jiaodi commented on #21106
This issue has been fixed.

[2022-06-02 05:31] v-jiaodi commented on #21108
This issue has been fixed.

[2022-06-02 06:29] #21108 closed

[2022-06-02 06:29] #21106 closed

[2022-06-02 08:02] #21796 closed

[2022-06-02 08:02] #20651 closed

[2022-06-02 09:37] v-jiaodi opened #22086 "[Digital Twins - Core] DigitalTwins Models - create, read, list, delete operations create models empty failing in nightly runs"
Digital Twins - Core nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/digitaltwins/digital-twins-core/test/public/testModels.spec.ts:105:14)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1613063&vi

[2022-06-02 09:37] v-jiaodi opened #22087 "[Key Vault - Certificates] Certificates client - create, read, update and delete cannot create a certificate with an empty name failing in nightly runs"
Key Vault - Certificates nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts:112:12)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1614347&view=results

[2022-06-02 09:38] v-jiaodi opened #22088 "[Schema Registry] SchemaRegistryClient fails to get schema ID when no matching schema exists failing in nightly runs"
Schema Registry nightly test runs are failing with:

    at isRejected (D:\a\_work\1\s\sdk\schemaregistry\schema-registry\test\public\schemaRegistry.spec.ts:60:14)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1615096&view=results

[2022-06-02 09:38] v-jiaodi opened #22089 "[Service Bus] ServiceBusClient live tests Random scheme in the endpoint failing in nightly runs"
Service Bus nightly test runs are failing with:

    at Object.should.equal (/Users/runner/work/1/s/common/temp/node_modules/.pnpm/chai@4.3.6/node_modules/chai/lib/chai/interface/should.js:98:35)
    at testPeekMsgsLength (/Users/runner/work/1/s/sdk/servicebus/service-bus/test/public/utils/testutils2.ts:558:10)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/proc

[2022-06-02 11:45] coderbyheart commented on #21999
Can confirm that the 5.0.1 version fixes it for me.

[2022-06-02 13:54] poulinjf commented on #22027
Sure thing, here's a bit more context.

The application is a custom REST API that provides read access to data stored in a database. It has a specific endpoint that lets clients retrieve multiple documents in one single request.

Here are sample IDs of documents being requested by the aggregator call that we used in our performance tests

- catalog==products==10488042
- catalog==products==10488042

[2022-06-02 15:43] #20488 closed

[2022-06-02 16:15] sajeetharan opened #22091 "Expose partition key delete in nodeJS SDK -> Delete all by partition key"
**Is your feature request related to a problem? Please describe.**
In a partitioned collection, it would be useful to have the option delete all data with a given partitionId.

**Describe the solution you'd like**
Node SDK should have the capability to delete all the data for a given partition key

**Additional context**
.NET SDK : [[PREVIEW] PartitionKeyDelete: Adds public preview by Shaleen-Kals

[2022-06-02 18:03] jay-most commented on #22027
@poulinjf do you have a full sample on Github that I can use to repro?

[2022-06-02 18:28] johngallardo commented on #22086
@abhinav-ghai, can you please have a look?

[2022-06-02 18:44] nulltoken commented on #18164
Hi @msftbot

Thanks for this. As an experienced bot, you might have noticed that **I** have been waiting for some feedback from @EmmaZhu for  6 months.

Maybe could you liaise with this person (or @RakeshMohanMSFT who tagged this as "needs author feedback") to try and understand what's happening?

Meanwhile, would you please be so kind as to not close this issue?

Thanks in advance and lots of ❤️

[2022-06-02 20:35] jeremymeng commented on #22086
Could be related to PR #22029 where client side constraint validation was removed.

[2022-06-02 23:18] #22087 closed

[2022-06-02 23:39] #22074 closed

[2022-06-03 07:50] AL1068469 opened #22102 "[Azure Storage] Support resuming for File upload"
When we talk about uploading a big file on the azure storage the resuming capability for the upload is always part of the dicussion with our customer.
Unfortunatly, the uploadData function of the BlockBlobClient interface of the sdk doesn't support resuming.
The issue is due to the fact that only the last upload block are commited to the storage,not the previous uncommited block already uploaded.

[2022-06-03 13:28] xujiongda opened #22103 "[Data Factory] Failed to pass string Parameter to ADF pipeline"
- **Package Name**: @azure/arm-datafactory
- **Package Version**: @azure/arm-datafactory@10.5.0
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: v14.16.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.c

[2022-06-03 16:36] #21371 closed

[2022-06-03 18:48] xirzec commented on #22102
I like this scenario; it seems like an interesting case to consider for enhancement. /cc @jeremymeng

[2022-06-03 20:28] jeremymeng opened #22108 "[service bus] switch to use core-paging primitives in RuleManager.listRules()"
currently it is using a couple private methods to get pages and list all rules.

[2022-06-03 22:36] KarishmaGhiya commented on #21914
@AsafMah Can you add verbose logging and report all the errors/ logs to this so that I can understand better on why that message is being thrown? Instructions can be found here: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/README.md#logging
You can either set an environment variable AZURE_LOG_LEVEL to "verbose" or set the log level in code as per instructions.

[2022-06-03 22:57] KarishmaGhiya commented on #22011
@nwf-msr  We do not currently support protected certificate or key storage and we don't have any immediate plans to add support. But I could create a feature request for this.
We will be releasing a new GA for @azure/identity 2.1.0 with client assertion credential support. With that you could build and sign the assertion yourself for the hardware protected key.

[2022-06-04 03:31] qiaozha commented on #22072
I will take a look earlier next week.

[2022-06-05 01:02] Neo-wise opened #22111 "App Sample"
https://github.com/Microsoft/vsts-auth-samples/blob/master/OAuthWebSample/appstart.png

[2022-06-06 02:50] zhangjiayu1993 opened #22112 "on Windows computers, the upload file service using blob is unstable"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.0.0
- **Operating system**:Windows 10
- [ ] **nodejs**
    - **version**: 8.12.0
- [ ] **browser**
    - **name/version**: electron
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe th

[2022-06-06 03:39] navba-MSFT commented on #21999
@coderbyheart Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. This is a quick follow-up to check if the above plan has fixed the issue ? or do you still need any assistance on this ? Awaiting your reply.

[2022-06-06 03:58] qiaozha commented on #21999
@navba-MSFT Are you from deviceprovisioningservice team ? if yes, you need to update your manifest

[2022-06-06 04:10] navba-MSFT commented on #21999
@qiaozha I am not from from deviceprovisioningservice team. I am working with the Service team in the background and I will update this thread once I hear back from them.

[2022-06-06 04:24] navba-MSFT commented on #21953
@BoostSebastian Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I believe you are trying to get usage details at the enrollment level. You need to ensure that you have the right permissions.  The EnrollmentReader role is required to view usage and charges across all accounts and subscriptions under Enrollment XXXXX.

Here's how auth is done from SPN https://d

[2022-06-06 06:25] xujiongda commented on #22103
Hi @qiaozha,
I tired the this, and received the error below.

node test.js
(node:25912) UnhandledPromiseRejectionWarning: Error: Error "options.parameters must be of type object." occurred in serializing the payload - "parameters".
    at serializeRequestBody (C:\Users\jiongdaxu\node_modules\@azure\core-client\dist\index.js:1496:19)
    at Object.sendRequest (C:\Users\jiongdaxu\node_modules\@azure

[2022-06-06 06:50] qiaozha commented on #22103
@xirzec @joheredi  @sarangan12  The original swagger definition for this parameter type is something like this.
[code]
It's trying to express that this ParameterValueSpecification is a map type, And our generated code is looking like
[code]
it looks we are using `Record<string, unknown>` to express `any` type. but this would rule out `string` itself
I wonder whether we should change it to
[code]
I

[2022-06-06 08:20] coderbyheart commented on #21999
As I wrote already, it's fixed for me.

[2022-06-06 08:20] #21999 closed

[2022-06-06 14:06] AsafMah commented on #21914
Here is the full verbose trace:

[code]

As far as the app registration - up until this point it didn't have any platform authentication and worked fine with every type of library.
But I did create a "Single Page Application" and the issue still remains.

[2022-06-06 15:47] RazYahkovnia opened #22115 "Event Hub SDK - Specific partition stoped consuming"
- **Package Name**: @azure/event-hubs
- **Package Version**: 5.7.0
- **Operating system**: Ubuntu
- [ ] **nodejs**
    - **version**: 16

**Describe the bug**
The service is stopped to consume events from specific partition while other partitions are working fine.
On service reset its start to consume again from all partitions (total 8 partitions)

**Additional context**
Case number in Azure: 2204

[2022-06-06 17:08] selvaganesh22 opened #22116 "Get Consumer client (host and port) information"
**Is your feature request related to a problem? Please describe.**
I need consumer clients information connected to a consumer group. It will be useful to get if any of the clients are dead or not

**Describe the solution you'd like**
Add consumer client information in response(https://github.com/Azure/azure-sdk-for-js/blob/0379a2987b1dd5f145498813ade5af59378f8ecf/sdk/eventhub/arm-eventhub/samples

[2022-06-06 17:08] azure-sdk commented on #22116
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.56316024,Storage:0.059177,Docs:0.04633726'

[2022-06-06 17:28] jeremymeng opened #22117 "[schema-registry-avro] deprecated dependency `@types/lru-cache`"
This warning is reported during rush install/update

tions, so you do not need this installed.

- [  ] `sdk/schemaregistry/schema-registry-avro/package.json:92:    "@types/lru-cache": "^7.4.0",`

[2022-06-06 19:17] #22117 closed

[2022-06-06 19:47] xirzec commented on #22116
/cc @jeremymeng

[2022-06-06 19:49] xirzec commented on #22112
/cc @jeremymeng

[2022-06-06 19:52] xirzec commented on #22112
@zhangjiayu1993 Thank you for bringing this to our attention. I wonder if it's an issue with Electron specifically. Are you able to test your scenario out using Node on the same machine? I also notice your node version is quite old, The latest Electron release is on Node 16.14.2

[2022-06-06 19:53] xirzec commented on #22111
@Neo-wise I'm sorry, I don't understand the issue you are having. Can you provide us some more details?

[2022-06-06 19:54] xirzec commented on #21955
@jeremymeng would you mind taking care of this?

[2022-06-06 19:54] jeremymeng commented on #22112
/cc @mikeharder who has done a lot of storage perf investigation.

[2022-06-06 20:00] xirzec commented on #21043
@mpodwysocki I think you already did this?

[2022-06-06 20:02] #20382 closed, assigned to maorleger

[2022-06-06 21:05] xirzec commented on #11858
@jeremymeng can you evaluate if there is anything left to do here?

[2022-06-06 21:08] xirzec commented on #9899
@xt0rted `@rollup/plugin-commonjs` is now at version 22 and hopefully the issue has been resolved along the way? Can you confirm if you are still blocked?

[2022-06-06 21:12] xirzec commented on #4229
@HarshaNalluru is there still work to do from this issue?

[2022-06-06 21:23] xirzec commented on #21168
@trafalgarf Are you still experiencing this issue? Have you tried the latest version of the SDK (7.5.1)?

[2022-06-06 21:30] #21107 closed

[2022-06-06 21:33] #20666 closed

[2022-06-06 21:41] xirzec commented on #22103
@qiaozha What if instead of "object" we used a basic mapper of type any for the additional properties mapper?
[code]

[2022-06-07 00:23] mikeharder commented on #22112
@zhangjiayu1993: Would you be able to provide a small application to reproduce this behavior, plus a description of your test environment?  Here is the configuration and results of our internal perf test.  We are seeing throughput over 500x faster than you reported (128 MBps vs 0.2 MBps), but there are a lot of differences between the two environments.

* Client
  * **Operating System**: Windows S

[2022-06-07 01:03] KarishmaGhiya commented on #21675
seems like this got fixed by PR #21967

[2022-06-07 01:04] #21675 closed

[2022-06-07 02:42] qiaozha commented on #22116
Looks like this is a new feature request for service team ?

[2022-06-07 02:45] qiaozha commented on #22103
@xirzec Thanks Jeff, Jose told me to use a m4 option `modelerfour.treat-type-object-as-anything: true`, I will try to regenerate the package and see if it can resolve this issue.

[2022-06-07 04:08] MaryGao commented on #20984
@SvenAeltermanInfo  Thanks for reporting this! I am investigating this now and will be back to you soon!

[2022-06-07 04:09] jay-most commented on #22027
Okay, @poulinjf  what is the maxDegreeOfParallelism setting on your feedoptions?
https://docs.microsoft.com/en-us/javascript/api/@azure/cosmos/feedoptions?view=azure-node-latest#@azure-cosmos-feedoptions-maxdegreeofparallelism

[2022-06-07 06:01] v-jiaodi commented on #21089
This issue reappears.

For more details check here:
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1621451&view=results

[2022-06-07 06:08] v-jiaodi opened #22129 "[Form Recognizer] [API Key] model management compose model (template) failing in nightly runs"
Form Recognizer nightly test runs are failing with:

    at ClientRequest.<anonymous> (/mnt/vss/_work/1/s/sdk/core/core-rest-pipeline/src/nodeHttpClient.ts:221:11)
    at Object.onceWrapper (events.js:520:26)
    at ClientRequest.emit (events.js:400:28)
    at ClientRequest.emit (domain.js:475:12)
    at TLSSocket.socketErrorListener (_http_client.js:475:9)
    at TLSSocket.emit (events.js:400:28)

[2022-06-07 06:08] v-jiaodi opened #22130 "[Communication - Chat] ChatClient Chat Operations successfully creates a thread failing in nightly runs"
Communication - Chat nightly test runs are failing with:

  "CommunicationError": {
    "Code": "Forbidden",
    "Details": []
  }
}
    at handleErrorResponse (/Users/runner/work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:251:17)
    at deserializeResponseBody (/Users/runner/work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:159:43)
    at processTicksAndRejections (node:intern

[2022-06-07 06:09] v-jiaodi opened #22131 "[Template] getConfigurationSetting predetermined setting has expected value failing in nightly runs"
Template nightly test runs are failing with:

    at MsalClientSecret.handleError (D:\a\_work\1\s\sdk\identity\identity\src\msal\utils.ts:172:18)
    at MsalClientSecret.doGetToken (D:\a\_work\1\s\sdk\identity\identity\src\msal\nodeFlows\msalClientSecret.ts:47:18)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sd

[2022-06-07 08:02] #20026 closed

[2022-06-07 08:40] #4205 closed

[2022-06-07 09:55] BoostSebastian commented on #21953
Hi, the solution was that we needed to add the required permissions in the EA portal with API.
@navba-MSFT Thanks for the link.

[2022-06-07 09:56] #21953 closed

[2022-06-07 11:14] petrsvihlik opened #22133 "[Smoke Tests] Re-enable failing samples - communication-identity"
This task is a subtask of #21344.

The following samples were failing and disabled (#21241):
- [ ] [communication-identity] disabled sample `getTokenForTeamsUser.js`

The task is to fix them and re-enable.

Related ADO task: https://skype.visualstudio.com/SPOOL/_workitems/edit/2815719, replaced with https://skype.visualstudio.com/SPOOL/_workitems/edit/3105974

[2022-06-07 16:25] jay-most commented on #18062
@firewave-remo did you try @alp-garcia comment? @firewave-remo re open if needed.

[2022-06-07 16:29] jay-most commented on #18734
@harikapampatti please reopen if needed. Issue stale.

[2022-06-07 16:29] #18734 closed

[2022-06-07 17:18] jay-most commented on #20289
@selenecodes wrote:
This was entirely due to me not setting up CORS in Azure Portal.
If you're running into this issue be sure to:

Disable any CORS bypass extensions on your web browser
You should now not be able to request any data.
To solve this follow this [documentation page](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/how-to-configure-cross-origin-resource-sharing)

Closed Issue:
ht

[2022-06-07 17:21] #15297 closed

[2022-06-07 17:22] jay-most commented on #16313
@harikapampatti Please reopen if needed. Issues stale.

[2022-06-07 17:22] #16313 closed

[2022-06-07 17:24] jay-most commented on #15542
@sajeetharan track this internally. thanks @MuhamedSalihSeyedIbrahim

[2022-06-07 17:25] gfortaine opened #22134 "[web-pubsub-express] Event Handler erroneous behavior due to ce-hub header not preserving case"
- **Package Name**:
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
It looks like that ce-hub header coming from

[2022-06-07 17:25] azure-sdk commented on #22134
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.5070867,App Services:0.08271342,SQL:0.059524897'

[2022-06-07 17:26] jay-most commented on #4813
Issue stale

[2022-06-07 17:26] #4813 closed

[2022-06-07 17:32] #12445 closed

[2022-06-07 17:41] jay-most commented on #4807
@antempus s What were your results?

[2022-06-07 17:42] jeremymeng commented on #21958
Addressed in PR #22123

[2022-06-07 17:42] #21958 closed

[2022-06-07 17:42] #21957 closed

[2022-06-07 17:42] jeremymeng commented on #21956
Addressed in PR #22123

[2022-06-07 17:42] #21956 closed

[2022-06-07 17:42] jeremymeng commented on #21955
Addressed in PR #22123

[2022-06-07 17:42] #21955 closed

[2022-06-07 18:37] azure-sdk commented on #22134
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.5070867,App Services:0.08271342,SQL:0.059524897'

[2022-06-07 18:38] jay-most commented on #4812
`const { database } = await client.databases.createIfNotExists({ id: databaseId });`

[2022-06-07 18:38] #4812 closed

[2022-06-07 19:18] jeremymeng commented on #22048
This should be addressed now.

[2022-06-07 19:18] #22048 closed

[2022-06-07 19:19] jeremymeng commented on #21861
Fixed

[2022-06-07 19:19] #21861 closed

[2022-06-07 19:42] joheredi commented on #22023
Looks like this was a transient issue, pipeline has been passing for the last few days

[2022-06-07 19:42] #22023 closed

[2022-06-07 20:40] selenecodes commented on #20289
Ehm @jay-most I believe you've closed this issue prematurely. #21309 needed to be closed as this was a user error. However, the `User-Agent` bug described here persists and needs to be fixed.

**See:**

[2022-06-07 20:49] xirzec commented on #20289
Reopening to follow up on @selenecodes comment

[2022-06-07 21:25] mikeharder opened #22141 "[Perf] Hang in storage-file-share 10MB and 1GB perf tests"
The storage-file-share 10MB and 1GB download and upload perf tests are hanging in the perf pipeline:

https://dev.azure.com/azure-sdk/playground/_build/results?buildId=1623839&view=results

I have disabled the failing tests to prevent blocking the pipeline.

[2022-06-07 23:09] mikeharder opened #22146 "[Perf] Hang in storage-blob 1GB parallel=8 upload perf tests on Windows"
The storage-blob 1GB parallel=8 upload perf test is hanging on Windows.  Passes on Linux.

[code]

https://dev.azure.com/azure-sdk/playground/_build/results?buildId=1623614&view=logs&j=7854a7fa-9e5b-58bf-6743-23a6287ace00&t=bbfbb13e-480b-59c6-bc0b-9c4440773063&l=52803

[2022-06-08 06:03] #22103 closed

[2022-06-08 08:12] qiaozha commented on #22103
released a new package here https://www.npmjs.com/package/@azure/arm-datafactory/v/10.6.0 which should be able to fix this issue.

[2022-06-08 08:48] guy-microsoft opened #22156 "Unable to query entities by range with property with type DateTime"
- **Package Name**: @azure/data-tables
- **Package Version**: 12.1.2
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 14.15.4
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.4.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug

[2022-06-08 11:20] poplevente commented on #17523
I would like to re-open this. i'm doing a POC app, and inside a thread, any use can delete any message, does not matter who's it is. can someone double check if it's the case?

[2022-06-08 15:27] vikramd-ms commented on #17499
@MRayermannMSFT, @qiaozha

Can the original issue with grantAccess be considered resolved?

[2022-06-08 16:01] MRayermannMSFT commented on #17499
I haven't had a chance to migrate to 17 yet. I understand y'all wanting to close this issue though if you think the issue is resolve there. I can always open another issue post migration.

[2022-06-08 16:44] poulinjf commented on #22027
This is interesting, the dev team was not setting any value for maxDegreeOfParallelism (which would default to 0 based on the doc). We've asked them to set it to -1 and run another performance test. Will let you know how it goes :)

[2022-06-08 16:53] abhinav-ghai commented on #22086
We've identified a issue on service side. We'll be rolling out a hotfix to address this issue. I'll provide ETA shortly.

[2022-06-08 17:41] #22012 closed

[2022-06-08 19:52] poplevente opened #22160 "communication-chat issue with SDK permissions and multiple users"
I would like to re-open this. i'm doing a POC app, and inside a thread, any use can delete any message, does not matter who's it is. can someone double check if it's the case?

one user is using the composit component (in angular from the chatComposite.js) and the other is creating/editing/deleting messages from code through the @azure/communication-chat package and creating a chatclient. both hav

[2022-06-08 19:52] azure-sdk commented on #22160
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.4478128,Communication:0.12162509,Storage:0.046889376'

[2022-06-08 19:54] xirzec commented on #22134
Resolved by #22136

[2022-06-08 19:54] #22134 closed

[2022-06-08 19:55] azure-sdk commented on #22160
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.4478128,Communication:0.12162509,Storage:0.046889376'

[2022-06-08 20:49] #22059 closed

[2022-06-08 20:49] HarshaNalluru commented on #18240
#22145

[2022-06-08 21:28] #21676 closed

[2022-06-08 23:45] #21245 closed

[2022-06-09 06:38] firewave-remo commented on #18062
@jay-most There was nothing to try. @alp-garcia just added more info. So if you did not do anything the issue is still there. (Currently not working in the cosmos db area, so I can not verify)

[2022-06-09 08:57] subhod-i opened #22172 "Can't import the named export 'RestError' from non EcmaScript module (only default export is available)"
- **Package Name**: @azure/core-rest-pipeline
- **Package Version**: 1.8.1
- **Operating system**: MacOS Mont.
- **create-react-app**: : 4.0.0

**Describe the bug**
Trying to perform
       `import { RestError } from '@azure/core-rest-pipeline';`
in a ECMAScript Module file (.mjs).

returns build error with the message
`Can't import the named export 'RestError' from non EcmaScript module (only def

[2022-06-09 17:21] jeremymeng commented on #22172
The conditional export feature may be a solution.
- https://nodejs.org/docs/latest-v16.x/api/packages.html#conditional-exports
- https://nodejs.org/docs/latest-v16.x/api/packages.html#dual-commonjses-module-packages Our current setup is close to Approach 2

We need to be careful about state though

[2022-06-09 18:34] jeremymeng opened #22175 "[storage][file-datalake] unused file execute-samples.js?"
This file appears outdated and unused. Is it okay to remove?

- [ ] `sdk/storage/storage-file-datalake/execute-samples.js`
- [ ] if it is removed, we should also remove "execa" dependency from package.json as well.

[2022-06-09 18:58] #20890 closed

[2022-06-09 19:00] jeremymeng commented on #14804
Going to close this as the goal of smoke tests is to test integration of packages inside a same project, not to run all the samples (even though we are doing so today).

[2022-06-09 19:00] #14804 closed

[2022-06-09 22:01] xirzec commented on #22172
Let me make sure I understand the issue here:

- We only expose our MJS version by using the `module` field in `package.json`, which is *not* used by Node, but is used by bundlers.
- Since Node can't find our MJS version, it loads our CJS version which doesn't play nicely with import statements.

The request then is to expose our MJS version to Node's native ES Module support. In order to do that,

[2022-06-09 22:11] xirzec commented on #22172
It seems like `.cjs` was added in Node 12, so we should be okay to use it.

[2022-06-09 22:13] HarshaNalluru opened #22178 "[Core] [Perf Test] Add node-fetch perf test"
Perf tests under `perf-tests/core-rest-pipeline` include tests for various stacks `core-http`, `core-rest-pipeline`, `fetch (Node 18)`, `undici`, and `http request`.

Adding perf test for node-fetch v3 led to the following error.

[code]

More information

And v2 needs support for HTTPS server than just HTTP that this #21544 PR has, which would need self-signed certificates.

This issue is to trac

[2022-06-09 23:07] #22067 closed

[2022-06-09 23:07] HarshaNalluru commented on #6296
not relevant anymore

[2022-06-09 23:07] #6296 closed

[2022-06-09 23:09] HarshaNalluru commented on #6284
fine with this tradeoff now, nothing left to do here.

[2022-06-09 23:09] #6284 closed

[2022-06-09 23:10] HarshaNalluru commented on #4230
V2 is nicer :)

[2022-06-09 23:10] #4230 closed

[2022-06-09 23:12] HarshaNalluru commented on #4229
Closed irrelevant ones, kept just a couple of (low priority / good to have) issues open.

Bye bye, EPIC.

[2022-06-09 23:12] #4229 closed

[2022-06-10 03:02] v-jiaodi opened #22180 "[Key Vault - Administration] Deploy test resources failing in nightly runs"
Key Vault - Administration nightly test runs are failing with:

11:21:29 - Creating 3 X509 certificates to activate security domain
11:21:30 - Downloading security domain from '***'
VERBOSE: Running registered exit actions
VERBOSE: Logging out of service principal '***'
VERBOSE: Performing the operation "New-TestResources.ps1" on target "***".
Export-AzKeyVaultSecurityDomain: /mnt/vss/_work/1/s/sd

[2022-06-10 03:02] v-jiaodi opened #22181 "[Monitor - Opentelemetry Exporter] Test OpenTelemetry Versions - Monitor failing in nightly runs"
Monitor - Opentelemetry Exporter nightly test runs are failing with:

Instead rename index.js to end in .cjs, change the requiring code to use import(), or remove "type": "module" from D:\a\_work\1\s\common\temp\node_modules\.pnpm\execa@6.1.0\node_modules\execa\package.json.
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1015:13)
    at Module.load (internal/modules/cjs/loade

[2022-06-10 03:03] azure-sdk commented on #22181
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.41735408,Azure.Core:0.19096695,Monitor - Exporter:0.16029927'

[2022-06-10 03:24] azure-sdk commented on #22181
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.41735408,Azure.Core:0.19096695,Monitor - Exporter:0.16029927'

[2022-06-10 11:05] GeorgeCodeHub opened #22188 "Error when adding service-bus to React project"
Hello there,

I am trying to set up a ReactJS project with Azure's service bus but I get the following errors:

[code]

I tried setting up a `webpack.config.js`  with the following:

[code]

However, I still get the same errors. Have I set up something wrong?

[2022-06-10 11:05] azure-sdk commented on #22188
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.14856467,Azure.Core:0.1328716,Cosmos:0.1197663'

[2022-06-10 14:52] poulinjf commented on #22027
@jay-most the team has set maxDegreeOfParallelism to -1 but we couldn't see much improvement compared to the last runs
<img width="180" alt="Screen Shot 2022-06-10 at 10 48 41 AM" src="https://user-images.githubusercontent.com/60519999/173091647-a7366214-cc1d-450d-8ea6-fe4319ec7075.png">
![Screen Shot 2022-06-07 at 6 11 56 PM](https://user-images.githubusercontent.com/60519999/173091688-fe12c5cd-7

[2022-06-10 16:12] mpodwysocki opened #22189 "[Notification Hubs] Implement Registration CRUD Operations"
This issue to implement the Registration Operations for Azure Notification Hubs:

- [Create Registration](https://docs.microsoft.com/en-us/rest/api/notificationhubs/create-registration)
- [Update Registration](https://docs.microsoft.com/en-us/rest/api/notificationhubs/update-registration)
- [Upsert Regisration](https://docs.microsoft.com/en-us/rest/api/notificationhubs/create-update-registration)

[2022-06-10 16:16] mpodwysocki opened #22190 "[Notification Hubs] Implement Registration Query Operations"
This is to implement the registration query operations for the notificationhubs/notification-hubs project.  This includes paging operations for each query.

- [Read All Registrations of a Channel](https://docs.microsoft.com/en-us/rest/api/notificationhubs/read-all-registrations-channel)
- [Read All Registrations with a Tag](https://docs.microsoft.com/en-us/rest/api/notificationhubs/read-all-regist

[2022-06-10 16:19] mpodwysocki opened #22191 "[Notification Hubs] Implement Bulk Operations APIs"
This is to implement the bulk operations via the Jobs API for notificationhubs/notification-hubs

- [Import Job](https://docs.microsoft.com/en-us/azure/notification-hubs/export-modify-registrations-bulk#import)
- [Export Job](https://docs.microsoft.com/en-us/azure/notification-hubs/export-modify-registrations-bulk#export)

[2022-06-10 16:23] mpodwysocki opened #22192 "[Notification Hubs] Implement Platform Feedback Operations"
This is to implement for the notificationhubs/notification-hubs project for the feedback operations.  This requires ATOM+XML operations.

- [Get PNS Feedback](https://docs.microsoft.com/en-us/rest/api/notificationhubs/get-pns-feedback)

[2022-06-10 16:26] mpodwysocki opened #22193 "[Notification Hubs] Add Live and Recorded Tests"
This is to add live and recorded tests for the following scenarios that are already implemented.

- Installation CRUD operations
- Send Operations
- Get Feedback Container URL

[2022-06-10 16:29] mpodwysocki opened #22194 "[Notification Hubs] Create initial release of Azure Notification Hubs Data Plane"
This is to release the first version of the Azure Notification Hubs Data Plane.

- [ ]  #22104
- [ ]  #22189
- [ ]  #22190
- [ ]  #22191
- [ ]  #22192
- [ ]  #22193

[2022-06-10 16:30] azure-sdk commented on #22194
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Notification Hub:0.5209441,SQL:0.07106572,Azure.Identity:0.06281194'

[2022-06-10 16:57] jeremymeng commented on #22188
@GeorgeCodeHub Thanks for reporting the issue!  We had @azure/service-bus code running on React before.  Webpack 5 may have a different way for polyfills now.  Could you please check out the doc here to see whether it helps? https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/servicebus/service-bus/README.md#javascript-bundle

We also have a Rect sample for @azure/event-hubs, which is very sim

[2022-06-10 17:00] abhinav-ghai commented on #22086
The issue should be fixed now, where can we check the results of latest run?

[2022-06-10 20:31] abhinav-ghai commented on #22086
This looks related to https://github.com/Azure/azure-sdk-for-js/pull/22029 change. This failing test is checking for MinItems constraint while passing empty values. Do we need to edit the test to look for a different error? Or since we are removing the constraint from SDK, remve this test altogether?

[2022-06-10 20:45] deyaaeldeen commented on #22086
@abhinav-ghai that ^ should be fine.

[2022-06-10 21:12] v-alje opened #22197 "Duplicate H1s in ARM generated README files"
The following pages in Docs are all using the same H1 title heading 'Azure Service client library for JavaScript - Version 2.0.1'. First level headings must be unique within a docset.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/latest/arm-managementpartner-readme.md (13,1)
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/latest/

[2022-06-10 21:12] v-alje opened #22198 "Duplicate H1s Titled 'Azure Service client library for JavaScript - Version 3.0.0'"
The following pages in Docs are all using the same H1 title heading 'Azure Service client library for JavaScript - Version 3.0.0'. First level headings must be unique within a docset.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/latest/arm-avs-readme.md (13,1)
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/maindocs-ref-services/latest/arm-vmwarecloud

[2022-06-10 21:12] v-alje opened #22199 "Duplicate H1s Titled 'Azure Service client library for JavaScript - Version 3.0.1'"
The following pages in Docs are all using the same H1 title heading 'Azure Service client library for JavaScript - Version 3.0.1'. First level headings must be unique within a docset.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/latest/arm-marketplaceordering-readme.md (13,1)
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/lates

[2022-06-10 21:12] v-alje opened #22200 "Duplicate H1s Titled 'Azure Service client library for JavaScript - Version 1.0.0-beta.3'"
The following pages in Docs are all using the same H1 title heading 'Azure Service client library for JavaScript - Version 1.0.0-beta.3'. First level headings must be unique within a docset.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/arm-orbital-readme.md (11,1)
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/a

[2022-06-10 21:12] v-alje opened #22201 "Duplicate H1s Titled 'Azure Service client library for JavaScript - Version 1.0.0-beta.1'"
The following pages in Docs are all using the same H1 title heading 'Azure Service client library for JavaScript - Version 1.0.0-beta.1'. First level headings must be unique within a docset.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/arm-deviceupdate-readme.md (11,1)
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/prev

[2022-06-10 21:12] v-alje opened #22202 "Duplicate H1s Titled 'Azure Service client library for JavaScript - Version 3.0.0-beta.1'"
The following pages in Docs are all using the same H1 title heading 'Azure Service client library for JavaScript - Version 3.0.0-beta.1'. First level headings must be unique within a docset.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/arm-resourcehealth-readme.md (14,1)
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/pr

[2022-06-10 21:12] v-alje opened #22203 "Duplicate H1s Titled 'Azure Service client library for JavaScript - Version 4.0.0-beta.1'"
The following pages in Docs are all using the same H1 title heading 'Azure Service client library for JavaScript - Version 4.0.0-beta.1'. First level headings must be unique within a docset.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/arm-analysisservices-readme.md (14,1)
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/

[2022-06-10 21:12] azure-sdk commented on #22197
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.13402756,Azure.Core:0.10191736,Docs:0.07583123'

[2022-06-10 21:12] azure-sdk commented on #22198
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.17418817,Docs:0.0584932,Service Bus:0.056028176'

[2022-06-10 21:12] azure-sdk commented on #22199
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.13536078,Marketplace Ordering:0.063470505,Docs:0.061572045'

[2022-06-10 21:12] azure-sdk commented on #22200
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.22187577,Security:0.06873243,SecurityInsights:0.06597099'

[2022-06-10 21:12] azure-sdk commented on #22201
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.12752996,Docs:0.07022103,IoT:0.047487866'

[2022-06-10 21:12] v-alje opened #22204 "Duplicate H1s Titled 'Contributing'"
The following pages in Docs are all using the same H1 title heading 'Contributing'. First level headings must be unique within a docset.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/core-amqp-readme.md (263,1)
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/iot-modelsrepository-readme.md (174,1)

These appear to

[2022-06-10 21:13] v-alje opened #22205 "Duplicate H1s Titled 'Next steps'"
The following pages in Docs are all using the same H1 title heading 'Next steps'. First level headings must be unique within a docset.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/core-amqp-readme.md (259,1)
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/iot-modelsrepository-readme.md (164,1)

These appear to co

[2022-06-10 21:13] azure-sdk commented on #22202
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Resource Health:0.56870633,Service Bus:0.055173837,Azure.Core:0.022848492'

[2022-06-10 21:13] azure-sdk commented on #22203
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Security:0.16406552,Azure.Core:0.107829824,Service Bus:0.104320414'

[2022-06-10 22:01] v-alje opened #22206 "Missing H1 for Identity Area"
The following pages on Docs are using H2 header elements in place of an H1 title header. Docs throws a warning when there is no H1 element at the top of the page.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/latest/identity-cache-persistence-readme.md
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/identity-cache-persist

[2022-06-10 22:01] v-alje opened #22207 "Missing H1 for Synapse Area"
The following pages on Docs are using H2 header elements in place of an H1 title header. Docs throws a warning when there is no H1 element at the top of the page.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/synapse-managed-private-endpoints-readme.md
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/synapse-spark-

[2022-06-10 22:01] v-alje opened #22208 "Missing H1 for Quantum Area"
The following page on Docs are using H2 header elements in place of an H1 title header. Docs throws a warning when there is no H1 element at the top of the page.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/quantum-jobs-readme.md

This appears to have been imported from the following readme file: sdk/quantum/quantum-jobs/README.md

The readme file shoul

[2022-06-10 22:01] v-alje opened #22209 "Missing H1 for Storage Area"
The following pages on Docs are using H2 header elements in place of an H1 title header. Docs throws a warning when there is no H1 element at the top of the page.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/storage.md
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/latest/storage/storage-mgmt-overview.md
https://github.

[2022-06-10 22:01] v-alje opened #22210 "Missing H1 for Key-Vault Area"
The following pages on Docs are using H2 header elements in place of an H1 title header. Docs throws a warning when there is no H1 element at the top of the page.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/latest/key-vault/key-vault-index.md
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/key-vault/key-vault-index.md
h

[2022-06-10 22:01] v-alje opened #22211 "Missing H1 for Core-Auth Area"
The following pages on Docs are using H2 header elements in place of an H1 title header. Docs throws a warning when there is no H1 element at the top of the page.

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/legacy/core-auth-readme.md
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/core-auth-readme.md

This may have been

[2022-06-10 22:01] azure-sdk commented on #22208
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.23352472,Azure.Core:0.13711227,Docs:0.04791413'

[2022-06-10 22:12] v-alje opened #22212 "Multiple H1s in core-amqp Area"
The following pages on Docs contain multiple H1 headers. Only one top-level H1 header is allowed on a Docs page.

docs-ref-services/latest/core-amqp-readme.md - Change header level: 'Contributing'.
docs-ref-services/legacy/core-amqp-readme.md - Change header level: 'Contributing'.
docs-ref-services/preview/core-amqp-readme.md - Change header level: 'Next steps'.
docs-ref-services/preview/core-amqp

[2022-06-10 22:12] v-alje opened #22213 "Multiple H1s in iot-modelsrepository Area"
The following pages on Docs contain multiple H1 headers. Only one top-level H1 header is allowed on a Docs page.

docs-ref-services/preview/iot-modelsrepository-readme.md - Change header level: 'Getting started'.
docs-ref-services/preview/iot-modelsrepository-readme.md - Change header level: 'Examples'.
docs-ref-services/preview/iot-modelsrepository-readme.md - Change header level: 'Troubleshootin

[2022-06-10 22:30] v-alje opened #22215 "Missing Table Column Headers for Active-Directory Area"
Column headers are required for tables in Docs. Add appropriate header text or remove any extra table cells that cause an extra column in the following topics:

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/active-directory.md
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/legacy/active-directory.md

[2022-06-10 22:30] v-alje opened #22216 "Missing Table Column Headers for Database-for-PostgreSql Area"
Column headers are required for tables in Docs. Add appropriate header text or remove any extra table cells that cause an extra column in the following topics:

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/latest/database-for-postgresql.md
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/legacy/database-for-postgresql.md
https://g

[2022-06-10 22:30] v-alje opened #22217 "Missing Table Column Headers for Virtual-Machines Area"
Column headers are required for tables in Docs. Add appropriate header text or remove any extra table cells that cause an extra column in the following topics:

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/latest/virtual-machines.md
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/legacy/virtual-machines.md
https://github.com/Micr

[2022-06-10 22:30] azure-sdk commented on #22215
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Tables:0.37524632,Docs:0.08202803,Azure.Core:0.05833136'

[2022-06-10 22:30] v-alje opened #22218 "Missing Table Column Headers for Storage Area"
Column headers are required for tables in Docs. Add appropriate header text or remove any extra table cells that cause an extra column in the following topic:

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/latest/storage/storage-overview.md

[2022-06-10 22:30] azure-sdk commented on #22216
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'SQL:0.29031166,PostgreSQL:0.22986184,Tables:0.19988501'

[2022-06-10 22:30] v-alje opened #22219 "Missing Table Column Headers for Key-Vault Area"
Column headers are required for tables in Docs. Add appropriate header text or remove any extra table cells that cause an extra column in the following topic:

https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/legacy/key-vault/key-vault-index.md

[2022-06-10 22:30] azure-sdk commented on #22217
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute - VM:0.25957736,Tables:0.0945846,SQL - VM:0.052224055'

[2022-06-10 23:13] KarishmaGhiya commented on #21726
@sinedied We did some investigation on our end and found that this issue exists on both Mac and linux OS. We do have a workaround for Mac OS but this workaround still doesn't work for linux. We have filed an issue on the open dependency - https://github.com/sindresorhus/open/issues/287

For now we will release the bug fix 2.0.5 so that we can unblock your issue. We will let you know when we releas

[2022-06-12 00:17] nwf-msr commented on #22011
Pardon, I am not sure why this is tagged as needs-author-feedback.  Thank you for converting this into an appropriate feature request.  Thanks, too, for the heads up about @azure/identity 2.1.0; could you link me to / will there be an example of using client assertion credential support this way?

[2022-06-13 02:52] qiaozha commented on #22203
I will look into that.

[2022-06-13 04:12] qiaozha commented on #22017
@alexweininger I have release a new JS rest level client package for appservice. https://www.npmjs.com/package/@azure-rest/arm-appservice which should have a smaller bundle size. Can you have a try and let us know if you have any kinds of comments?

[2022-06-13 05:43] EmmaZhu commented on #22102
Hi @AL1068469 ,

Just want to understand more details about the scenario.
If I understand it wrong, please correct me. From my understand the scenario is: customer may want to upload a big file with upload method in the SDK, but due to some reason ( for example transient network issue) the uploading failed. Customer may want to upload the remaining content instead of upload to the file from the ve

[2022-06-13 09:53] Mike-E-angelo commented on #7202
I am currently seeing 10 seconds of time to complete a 16MB copy.

[2022-06-13 13:08] azure-sdk opened #22228 "Dependency package typedoc has a new version available"
We have identified a dependency on version 0.15.2 of typedoc. A new version (0.22.17) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package (/sdk

[2022-06-13 13:08] azure-sdk commented on #22228
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.25756505,Service Bus:0.17612441,EngSys:0.054823127'

[2022-06-13 16:20] deyaaeldeen opened #22229 "[Text Analytics] Revise documentation"
[Make sure the documentation looks good before releasing the stable version](https://review.docs.microsoft.com/en-us/javascript/api/overview/azure/ai-text-analytics-readme?view=azure-node-preview&branch=main).

[2022-06-13 16:21] deyaaeldeen opened #22230 "[Text Analytics] Revise README.md"
Make sure the README.md file is good and has a link to the migration guide.

[2022-06-13 16:30] deyaaeldeen opened #22231 "[Text Analytics] Finalize LRO cancellation"
Currently, the `beginAnalyzeBatch` method returns a poller that polls the LRO operation and also includes a `cancelOperation` method that sends a cancellation request to the service. However, the JS team is thinking of deprecating this method.

Decide whether to keep it or to add a new method on the client that can send that cancellation request instead.

Note that:
- Python and .NET pollers don't

[2022-06-13 18:19] KarishmaGhiya commented on #22011
Hi @nwf-msr I will add code samples for using client assertion credential. We are planning to release it in July.

[2022-06-13 18:46] #13318 closed

[2022-06-13 20:04] xirzec commented on #22217
@diberry - do you know where these docs come from? We have quite a few issues filed against these markdown files but I can't tell if this is something generated from our repo or if it just lives in the MicrosoftDocs org.

[2022-06-13 20:07] diberry commented on #22217
@xirzec This is ref docs content. Sending internal email.

[2022-06-13 21:03] xirzec commented on #15878
@praveenkuttappan is there still work to do for this one?

[2022-06-13 22:01] sima-zhu commented on #22197
@v-alje I am not able to open up these files.
Could you double check with the warnings?

[2022-06-13 22:07] sima-zhu commented on #22199
Docs links are not working.

[2022-06-13 22:07] v-alje commented on #22197
@sima-zhu It looks like I had duplicated "docs-ref-services/" in the URL. The duplication has been removed from the URLs in this issue.

[2022-06-13 22:08] v-alje commented on #22198
@sima-zhu The links have been fixed in the issue description.

[2022-06-13 22:09] v-alje commented on #22199
@sima-zhu The links in this issue should work now.

[2022-06-13 22:13] v-alje commented on #22200
@sima-zhu Th links should work now.

[2022-06-13 22:14] sima-zhu commented on #22197
Yes. Review again

[2022-06-13 22:35] sima-zhu commented on #22197
@xirzec The issue here needs to bring your attention.
**Background**
Docs.Ms is running checks against our readme.
They have a roadmap of cleaning up all these warnings.

**Issues**
The arm packages lists in the issue use the same title as `Azure Service client library for JavaScript` and they share the same version number.
It violates the rule of no duplicated titles across system.

**Open questi

[2022-06-13 22:39] xirzec commented on #22197
@sima-zhu I want to check my understanding, is your request here that we lift the requirement on the unique README titles for ARM packages to resolve this?

[2022-06-13 22:54] KarishmaGhiya commented on #21726
@sinedied We have released the @azure/identity 2.0.5 which solves the issue on Mac OS. Please let us know if that works for you and if you have any questions.

[2022-06-13 22:56] KarishmaGhiya commented on #21978
@baywet Heads up! Our GA 2.1.0 has been delayed to July. Let me know if you have any questions/ concerns.

[2022-06-13 23:00] HarshaNalluru commented on #14352
recorder v2 solved this :)

[2022-06-13 23:00] #14352 closed

[2022-06-13 23:11] sima-zhu commented on #22197
@xirzec For the following readmes (also listing in description):
[code]

Can we have more package specific readme title instead of using the same one?

[2022-06-13 23:19] sima-zhu commented on #22204
@xirzec
Here is another warning categories:
Docs check duplicate H1s for each readme. For the readme listing above, there are two h1s:
[code]
Can we change one of them to h2 or other headings?

[2022-06-13 23:20] sima-zhu commented on #22204
[https://github.com/Azure/azure-sdk-for-js/issues/22204](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure%2Fazure-sdk-for-js%2Fissues%2F22204&data=05%7C01%7CSima.Zhu%40microsoft.com%7C8c0111e0b13a4af1425b08da4b321fa5%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637904975895619526%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI

[2022-06-13 23:27] sima-zhu commented on #22206
@xirzec This is another category
Docs required each readme has one and only one h1.
Here are all similar issue:
[https://github.com/Azure/azure-sdk-for-js/issues/22206](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure%2Fazure-sdk-for-js%2Fissues%2F22206&data=05%7C01%7CSima.Zhu%40microsoft.com%7C8c0111e0b13a4af1425b08da4b321fa5%7C72f988bf86f141af91ab2d7cd011db47%

[2022-06-13 23:35] sima-zhu commented on #22215
These two files are only in docs repo. Not deploy through our release pipeline.
Fixed them in docs repo.
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/preview/active-directory.md
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/main/docs-ref-services/legacy/active-directory.md

[2022-06-13 23:35] #22215 closed

[2022-06-13 23:38] sima-zhu commented on #22216
Issue only exists in docs repo. Fixed them over there. Not deploy through our system

[2022-06-13 23:38] #22216 closed

[2022-06-13 23:42] sima-zhu commented on #22217
This needs to fix in docs repo.
I have made the initial changes. If you want any better changes please go ahead submit PR in docs repo.
The file here is not automated through our system, so it is safe to do manual change.
https://github.com/MicrosoftDocs/azure-docs-sdk-node

[2022-06-13 23:44] sima-zhu commented on #22217
Fixed them in docs repo. Close the issue for now.

[2022-06-13 23:44] #22217 closed

[2022-06-13 23:45] sima-zhu commented on #22218
Only an issue for docs repo. Fixed over there

[2022-06-13 23:45] #22218 closed

[2022-06-13 23:46] sima-zhu commented on #22219
Fixed them in docs repo. Closed.

[2022-06-13 23:46] #22219 closed

[2022-06-13 23:59] deyaaeldeen commented on #22088
This test has been succeeding with no issues.

[2022-06-13 23:59] #22088 closed

[2022-06-14 02:41] v-jiaodi opened #22241 "[Service Bus] Deploy test resources failing in nightly runs"
Service Bus nightly test runs are failing with:

Status Message: A hash conflict was encountered for the role Assignment ID. Please use a new Guid. (Code:HashConflictOnDifferentRoleAssignmentIds)
CorrelationId: ea1e4378-b518-4a91-9f6c-d6f0db15262a"
At D:\a\_work\1\s\eng\common\TestResources\New-TestResources.ps1:721 char:23
         $deployment = Retry {
[code]

[2022-06-14 02:41] azure-sdk commented on #22241
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.553301,Authorization:0.19028893,EngSys:0.07116151'

[2022-06-14 07:53] RazYahkovnia commented on #22115
Any update?

[2022-06-14 09:05] SushantDogra opened #22243 "azureServiceBus: acceptNextSession() not working as expected | unable to set maxConcurrentSessions, maxSessionIdleTimeout, subscriberKeepAlive"
- **Package Name**:      "@azure/service-bus": "^7.0.3",
- **Package Version**:   "^7.0.3",
- **Operating system**: MacOS / Linux
- [ ] **nodejs**
    - **version**:  v16.13.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: Version 4.5.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https:/

[2022-06-14 11:21] GeorgeCodeHub commented on #22188
Thank you for the quick response, Jeremy.

I followed the guide from the https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/servicebus/service-bus/README.md#javascript-bundle but I still get the same error.

[2022-06-14 13:32] GeorgeCodeHub commented on #22188
I have found what the issue is. If I downgrade the `react-scripts` from 5 to 4 version the service-bus works. However, this is an unwanted solution because it blocks me from using the latest version of typescript. Is there a workaround for this issue?

[2022-06-14 17:40] #19222 closed

[2022-06-14 18:08] jeremymeng commented on #22188
@GeorgeCodeHub we will have a look.  If you could share a minimum project that demonstrates the issue that would be very helpful! /cc @HarshaNalluru

[2022-06-14 18:22] #22028 closed

[2022-06-14 18:36] jeremymeng commented on #21741
This should already be fixed for the whole repo

[2022-06-14 18:36] #21741 closed

[2022-06-14 22:03] deyaaeldeen commented on #22115
Hi, thanks for opening this issue and I apologize for the delay.

Thanks for sharing the logs! I looked at them but I can't find anything related to the SDK, it is mostly debugging messages coming from the rhea dependencies. Could you please share updated logs in the verbose level? Steps to do so are documented in our troubleshooting guide: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/e

[2022-06-15 02:31] kazrael2119 commented on #21109
Hi @zzhxiaofeng
This issue has been fixed.
Here is the package link：https://www.npmjs.com/package/@azure/arm-iothub/v/6.1.2

[2022-06-15 03:29] lirenhe commented on #22197
cc @qiaozha

[2022-06-15 03:55] qiaozha commented on #22197
I think this is probably a code gen issue. I will look into that.

[2022-06-15 05:36] zzhxiaofeng commented on #21109
@kazrael2119 Thank you, I will close the issue now

[2022-06-15 05:36] #21109 closed

[2022-06-15 06:35] GeorgeCodeHub commented on #22188
Oh but of course. Below I have WeTransfer link that contains two react projects created with `create-react-app`.
https://we.tl/t-dH1CfQleDp

The one named `servicebus-react-scripts-4` is the one that works and has the following dependencies:
[code]

The other is `servicebus-react-scripts-5` is the one that crashes and has the following dependencies:
[code]

The @azure/service-bus is used in `App.t

[2022-06-15 07:30] MaryGao commented on #21884
@eero3 You could try the latest version [8.0.0-beta.1](https://www.npmjs.com/package/@azure/arm-monitor/v/8.0.0-beta.1) which should include this change.

[2022-06-15 07:44] HarshaNalluru commented on #22243
Hey @SushantDogra,

We have a sample [sessionRoundRobin.ts](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/servicebus/service-bus/samples/v7/typescript/src/advanced/sessionRoundRobin.ts) that reads messages from all the available sessions which seem to be what you're looking for, can you refer to the sample and update your code accordingly?

[2022-06-15 08:05] #21542 closed

[2022-06-15 13:00] AL1068469 commented on #22102
The idea of using uncommited block is to be able to resume the upload even if the browser is closed or user press F5 by mistake. In this situation you will lost your context in javascript. So by querying the uncommitted block list before the upload i am able to know if some data are already uploaded or not, without having to keep that state on my side.
Then the issue with the UploadData method fro

[2022-06-15 15:51] johnlop opened #22263 "CosmosDB - AbortController is not a constructor"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.16.1
- **Operating system**: Azure App Service (Windows)
- **nodejs**
    - **version**: 12.18.0
- **typescript**
    - **version**: 4.2.3

**Describe the bug**
When trying to create an item in CosmosDB in our production environment, we get this error:

`2022-06-14T14:58:54.116 ERROR - TypeError: AbortController is not a constructor
    at

[2022-06-15 16:32] Sandido commented on #17499
@MRayermannMSFT , I will go ahead and close this issue for now. If this issue is not resolved when you migrate and test on 17, feel free to reopen this or make a new issue.

[2022-06-15 18:02] xirzec commented on #22263
Looks like cosmos needs to take a dependency on https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/core/abort-controller/README.md

@johnlop You should be able to work around this by importing AbortController manually and putting it in the Node global scope

[2022-06-15 18:02] xirzec commented on #22263
Alternatively, you could use Node 15+

[2022-06-15 19:13] HarshaNalluru opened #22266 "[Recorder] Unexpected "ReferenceError: atob is not defined" is seen when recording mismatches in the CI"
@MaryGao reached out in an email regarding the recorder error when recording mismatches in the CI.

Could you help check the issue? The error  - ` ReferenceError: atob is not defined` happened in ci pipeline [link here](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdev.azure.com%2Fazure-sdk%2Fpublic%2F_build%2Fresults%3FbuildId%3D1636777%26view%3Dlogs%26j%3D7e17f77e-2815-52ab-c

[2022-06-15 19:13] azure-sdk commented on #22266
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.13726345,azure-spring:0.084928505,Batch:0.059002154'

[2022-06-15 20:29] xirzec commented on #22204
Yeah, the only H1 should be the package name, the others should be H2 I believe

[2022-06-15 20:49] xirzec commented on #22198
Consolidating into #22197

[2022-06-15 20:49] #22198 closed

[2022-06-15 20:50] xirzec commented on #22199
Consolidating into #22197

[2022-06-15 20:50] #22199 closed

[2022-06-15 20:50] xirzec commented on #22200
Consolidating into #22197

[2022-06-15 20:50] #22200 closed

[2022-06-15 20:50] #22201 closed

[2022-06-15 20:50] xirzec commented on #22202
Consolidating into #22197

[2022-06-15 20:50] #22202 closed

[2022-06-15 20:53] xirzec commented on #22212
Addressed by the same fix as #22204 and #22205

[2022-06-15 20:53] #22212 closed

[2022-06-15 20:53] #22213 closed

[2022-06-15 20:54] xirzec commented on #22207
Tracking in #22206

[2022-06-15 20:54] #22207 closed

[2022-06-15 20:54] xirzec commented on #22208
Tracking in #22206

[2022-06-15 20:54] #22208 closed

[2022-06-15 20:54] xirzec commented on #22209
Tracking in #22206

[2022-06-15 20:54] #22209 closed

[2022-06-15 20:54] xirzec commented on #22210
Tracking in #22206

[2022-06-15 20:54] #22210 closed

[2022-06-15 20:55] xirzec commented on #22211
Tracking in #22206

[2022-06-15 20:55] #22211 closed

[2022-06-15 20:56] xirzec commented on #22197
@sarangan12 can you advise on the fix needed in the generator? Seems like we're not getting a proper title for these docs

[2022-06-15 21:12] xirzec commented on #22206
I believe I have addressed all the issues in our tree with #22267

However, some of the content in the docs repo appears to be from past releases of our packages. @sima-zhu do you know if these will get cleaned up eventually or do we have to manually update them in the docs repo?

[2022-06-15 21:33] timovv commented on #22266
I did a quick bit of investigation the other day and it looks like this might have to do with `atob` being deprecated in Node. We can use the Buffer API instead for Node (see https://stackoverflow.com/questions/23097928/node-js-throws-btoa-is-not-defined-error), but we'd still want to use `atob` in the browser.

[2022-06-15 21:53] HarshaNalluru commented on #19504
#21950

[2022-06-15 21:53] #19504 closed

[2022-06-15 21:53] #22204 closed

[2022-06-15 21:53] #22205 closed

[2022-06-15 21:53] #22206 closed

[2022-06-15 21:56] joheredi commented on #17998
This is done now

[2022-06-15 21:56] #17998 closed

[2022-06-15 23:20] HarshaNalluru commented on #22266
#22268

[2022-06-15 23:20] #22266 closed

[2022-06-16 03:03] yixi8524 opened #22274 "Safari cannot work with 4.0.0-beta.4 sdk"
- **Package Name**: @azure/ai-form-recognizer
- **Package Version**: 4.0.0-beta.4
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [x] **browser**
    - **name/version**: Safari
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2022-06-16 03:03] azure-sdk commented on #22274
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Form Recognizer:0.20226039,Azure.Core:0.11498859,Docs:0.0981031'

[2022-06-16 08:24] navba-MSFT commented on #22116
@selvaganesh22 Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-16 09:33] zfyseu opened #22281 "MessagingError: Unable to create the amqp session due to operation timeout"
**package version**: @azure/event-hubs": "5.6.0"
**nodejs version**: v14.17.6

**code:**
 `try {
       batch = await this.ehProducer.createBatch()
    } catch(error) {
      that.logger.error(`zfyseu  error = ${error}, stack = ${error.stack}`)
      return false
    }
`

**error stack:**

![image](https://user-images.githubusercontent.com/9625145/174040281-ba1cc30b-7e9d-445a-a0e8-8b4c6687cdcf.png

[2022-06-16 09:40] qiaozha commented on #22197
@xirzec I have identified the issue in the code generator, I will make a PR to fix it and then refresh all the mgmt plane SDK.

[2022-06-16 12:52] fesaza commented on #22066
I'm also having this issue :(

[2022-06-16 21:08] xirzec commented on #22274
@mpodwysocki would you mind helping Will take a look at this?

[2022-06-16 22:53] mpodwysocki commented on #22274
@xirzec our code generation is bad here as we have the following method inside the `generatedClient.ts` which has a lookbehind RegEx, which is not supported in Safari, and doesn't seem to be on their radar as per [CanIUse RegEx lookbehind](https://caniuse.com/js-regexp-lookbehind)

In particular, this is the problem spot:

[code]

Full context below:

[code]

This also affects the following packag

[2022-06-16 23:31] sima-zhu commented on #22206
@xirzec It will get updated for the next release.
Let me know if any packages do not go through our monthly release. I can copy them to docs repo to fix them in a short run.

[2022-06-17 01:59] zzhxiaofeng commented on #20673
@kazrael2119  Thank you, I will close the issue now.

[2022-06-17 01:59] #20673 closed

[2022-06-17 02:14] yixi8524 commented on #22274
Thanks for the quick response, @mpodwysocki is right.

This quick response is significant for us. Currently, we have a Demo for our users based on JavaScript SDK. We downgrade to version 4.0.0-beta.3. Is there any timeline about this fix will merge into the latest release?

[2022-06-17 03:07] v-jiaodi opened #22286 "[Service Bus] ServiceBusClient live tests Errors after close() failing in nightly runs"
Service Bus nightly test runs are failing with:

    at translateServiceBusError (D:\a\_work\1\s\sdk\servicebus\service-bus\src\serviceBusError.ts:86:63)
    at MessageSender.open (D:\a\_work\1\s\sdk\servicebus\service-bus\src\core\messageSender.ts:72:26)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- http

[2022-06-17 03:07] v-jiaodi opened #22287 "[Monitor - Opentelemetry Exporter] Execute Samples failing in nightly runs"
Monitor - Opentelemetry Exporter nightly test runs are failing with:

Error: The command "execute:samples" is not defined in the package.json file for this project.
Available commands for this project are: "build", "build:browser", "build:node", "build:samples", "build:test", "check-format", "clean", "extract-api", "format", "functional-test", "generate:client", "integration-test", "integration-te

[2022-06-17 03:08] v-jiaodi opened #22288 "[Key Vault - Secrets] Deploy test resources failing in nightly runs"
Key Vault - Secrets nightly test runs are failing with:

"
At D:\a\_work\1\s\eng\common\TestResources\New-TestResources.ps1:725 char:23
         $deployment = Retry {
[code]

[2022-06-17 03:08] v-jiaodi opened #22289 "[Event Hubs] Deploy test resources failing in nightly runs"
Event Hubs nightly test runs are failing with:

Line |
 721 |          $deployment = Retry {
     |                        ~~~~~~~
     | Exception calling "Invoke" with "0" argument(s): "The running
     | command stopped because the preference variable
     | "ErrorActionPreference" or common parameter is set to Stop:
     | 17:57:43 - The deployment 't2817a2013b894c5e' failed with
     | error(

[2022-06-17 20:13] HarshaNalluru commented on #22281
Thanks for reaching out, @zfyseu.

This is certainly not what is expected. My best guess is that your network connection may have been flaky or the service/endpoint may have been flaky for the (small) duration you may have noticed this.

Also, it is hard to tell what may have caused this without more information.
Can you give us more information by providing code snippets so that we can reproduce