[2020-09-08 18:40] #11103 closed

[2020-09-08 19:45] #11097 closed

[2020-09-08 19:54] #10553 closed

[2020-09-08 20:10] richardpark-msft opened #11114 "[core-amqp] Update documentation and samples."
Going through the release checklist it looks like core-amqp's readme isn't compliant with our normal package format:

- [ ] Needs a "support matrix" listed for node.js/browsers
- [ ] readme snippets are missing some variables and imports so you can't just copy/paste them and run

[2020-09-08 21:07] zfoster commented on #6370
Closed in #8837

[2020-09-08 21:07] #6370 closed

[2020-09-08 21:15] zfoster commented on #11061
hey @madhur, this SDK uses the SQL API and is not designed to work with SpringJava Mongo drivers (or other Mongo implementations). This SDK should only be used for SQL API accounts and SQL API tooling, and Mongo accounts should only use Mongo tools.

[2020-09-08 21:15] #11061 closed

[2020-09-08 21:18] praveenkuttappan opened #11118 "Disable git shallow fetch to support build using older SHA"
Git clone as part of pipeline for JS fetches only last 20 commit and this is enabled using shallowdepth pipeline variable. This causes pipeline failure when someone wants to queue a build from a branch and SHA and if that SHA is not one of last 20 commits. This especially causes an issue during release when library team wants to ensure that they are releasing using a SHA which they have tested wel

[2020-09-08 21:32] sadasant commented on #10498
@krisalay @mavr1982

Do you mind sharing what was your `tsconfig.json` when this error appeared? I was able to reproduce this when my tsconfig had specific `lib` values, like `"lib": ["ESNext"]`. We would like to know more about your specific scenarios.

[2020-09-08 21:48] Obi-Dann commented on #11067
Thanks @salqueng!
There's also an issue with https://github.com/Azure/azure-sdk-for-js/blob/99f531906125f2d22a613957571a32ca792d009d/sdk/core/core-http/src/policies/msRestUserAgentPolicy.browser.ts#L21 which should be quite easy to fix by replacing `window.navigator` with `self.navigator`

[2020-09-09 01:28] #11084 closed

[2020-09-09 03:16] jiacfan commented on #11071
Thanks @avenmia, I'm following up this issue with colleagues working on deserialization.

[2020-09-09 05:14] qiaozha commented on #11051
@jmwombeki Thank you for reporting this. Let me check and get back to you.

[2020-09-09 05:48] vjrantal commented on #10721
I can confirm that this works now as expected with the additional note that one must use new `BulkOperationType.Create` instead of `OperationType.Create` which was referenced in the description of this issue.

[2020-09-09 06:35] ramandeep-singh-1983 opened #11138 "Get blob upload notifications in Node.js"
- **@azure/storage-blob**:
- **Package Version**: 12.1.1
- **Operating system**:
- [x] **nodejs**
    - **version**: 12.16.0
- [x] **typescript**
    - **version**: 3.7.3

I need to get notification/event in Node.js service whenever a file is uploaded to Azure blob storage. I found that IoT hub SDK supports file upload notifications on storage account: https://github.com/Azure/azure-iot-sdk-node/b

[2020-09-09 07:50] jiacfan commented on #6803
Close as optimization released.

[2020-09-09 07:50] #6803 closed

[2020-09-09 07:51] jiacfan commented on #8903
Close as fix released.

[2020-09-09 07:51] #8903 closed

[2020-09-09 07:51] jiacfan commented on #9300
Close as fix released.

[2020-09-09 07:51] #9300 closed

[2020-09-09 07:52] jiacfan commented on #9896
Close as fix released.

[2020-09-09 07:52] #9896 closed

[2020-09-09 07:55] jiacfan commented on #10520
Hi, @pritesha

Custom domain support has been released with [@azure/storage-blob](https://www.npmjs.com/package/@azure/storage-blob) 12.2.0, welcome to have a try.

Thanks,
Jiachen

[2020-09-09 08:07] ljian3377 commented on #10876
Seems to be working now. Closing this.

[2020-09-09 08:07] #10876 closed

[2020-09-09 08:09] qiaozha commented on #11051
@jmwombeki  Hi I think the way you are using is to import Azure ContainterRegistry. If you need to import a public registry the parameter should be like this
[code]
The key inside the `source` should be `registryUri` https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ImportImageF

[2020-09-09 09:00] sarangan12 commented on #11062
The code change on the SDK side is complete. But, I need to confirm with the service team about their support for these method of credential. (None of their documentation mention any other method of authentication except the Key) I have already looped in Bruce to get me the service side details. Once I get a response and confirm the code is working, I will create the PR.

[2020-09-09 13:39] #11078 closed

[2020-09-09 13:39] #11095 closed

[2020-09-09 13:40] #11093 closed

[2020-09-09 13:45] #11081 closed

[2020-09-09 14:57] dgellow opened #11147 "@azure/cognitiveservices-imagesearch not compatible with ms-rest-azure"
- **Package Name**: either `ms-rest-azure` or `@azure/cognitiveservices-imagesearch`
- **Package Version**:
[code]

- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: Not relevant
- [ ] **typescript**
    - **version**: Not relevant
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

[2020-09-09 15:27] #10893 closed

[2020-09-09 15:28] #11089 closed

[2020-09-09 16:14] praveenkuttappan opened #11148 "Support empty tag and additional tag for JS release build"
Currently release job fails if tag or additional tag is not set. We should set default value for additional tag to empty instead of failing the job at release phase. Similarly we should set a default value for tag and allow user to update value at queue time.

[2020-09-09 16:39] mohsin-mehmood commented on #11038
@ramya-rao-a I can work on this

[2020-09-09 17:24] sarangan12 commented on #11062
Ok. I have confirmed with Bruce Johnston that the service team is yet to work on supporting AAD. As of now, the only way to access Search Service is the API Keys (which we support). There is no ETA for supporting AAD on the service side. So, I would suggest to hold off on this issue and take this on a future date if and when the service supports other methods of authentication.

Also, sent a note

[2020-09-09 17:31] xirzec opened #11150 "[core-http] support for nd-json payloads"
Monitor Exporter needs the ability to send [NDJSON ](http://ndjson.org/) over the wire.

It's a pretty simple format, and I think this can be done easily in a policy after deserialization occurs by converting an outer JSON array into the newline-delimited format.

Example using Java code: https://github.com/srnagar/appinsights-demo/tree/master/com/azure/appins/demo

[2020-09-09 17:37] xirzec commented on #9702
@ljian3377 is there a release planned this month still?

[2020-09-09 17:40] ramya-rao-a commented on #10638
With #11058 we are now using `@azure/logger` and the expected log levels like error, warning, info and verbose
Moving this issue to the October milestone to follow up with making the logged statements themselves consistent regarding the prefix they use as well as to review the verbose logging we have

[2020-09-09 17:41] richardpark-msft commented on #10638
Sounds good :)

[2020-09-09 17:41] jeremymeng commented on #9702
new versions of Storage libraries have just been released which should fix this.  Closing.

[2020-09-09 17:41] #9702 closed

[2020-09-09 17:56] ramya-rao-a commented on #11038
Hey @mohsin-mehmood, that's great to hear!

I believe this link from the old .Net library can be used as a reference: https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.entityavailabilitystatus?view=azure-dotnet

[2020-09-09 18:29] sarangan12 commented on #11062
Response from Bruce regarding the link:

"I think MSI is about having the search service authenticate to other services (KeyVault in particular, to support encryption with customer-managed keys). You can't authenticate to a search service using AAD yet."

So, my earlier suggestion still stands. We can hold this task now and take it up on a future date once the service is ready.

@ramya-rao-a FYI..

[2020-09-09 19:00] dgellow commented on #11147
Ok, I found a solution. So the documentation is out of date, to make it work I had to use `import { CognitiveServicesCredentials } from "@azure/ms-rest-azure-js"` instead of the library `ms-rest-azure`.

[2020-09-09 19:18] jonathandturner commented on #8435
Should be fixed by https://github.com/Azure/azure-sdk-for-js/pull/10808

[2020-09-09 19:18] #8435 closed

[2020-09-09 19:36] HarshaNalluru opened #11154 "[Service Bus] MaxListenersExceededWarning during the test runs - both node and browser"
Warning occurring in both node and browser.
`MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 sender_error listeners added to [Sender]. Use emitter.setMaxListeners() to increase limit`

![image](https://user-images.githubusercontent.com/10452642/92644920-e76f4000-f298-11ea-96e8-426727e7f9a9.png)

Pipeline https://dev.azure.com/azure-sdk/internal/_build/results?buildId=53

[2020-09-09 19:41] jonathandturner commented on #9776
We're still blocking on some bugfixes on the MSAL team. Bumping to October

[2020-09-09 19:48] HarshaNalluru opened #11155 "[v2 core-amqp] Do not stringify `undefined` for the entityPath, allow it to be undefined"
Though this fixes the test, I think the true fix should be made at core-amqp to not stringify `undefined`.
![image](https://user-images.githubusercontent.com/10452642/92576633-992d5300-f23e-11ea-87d3-f5f68877bb75.png)

_Originally posted by @HarshaNalluru in https://github.com/Azure/azure-sdk-for-js/pull/11144#issuecomment-689423511_

Update the validation logic to not stringify `undefined` and ma

[2020-09-09 20:22] jeremymeng commented on #11071
Looks like a deserialization issue in core-http.  Will investigate further and work on a fix.

[2020-09-09 20:40] danieljurek commented on #10569
From our discussion:

* Update samples to include something like:

[code]

* Update https://github.com/Azure/azure-sdk-for-js/blob/master/common/tools/dev-tool/src/commands/samples/prep.ts to include the ability to put some collection of options, probably a string, into the above code. Possibly something like:

[code]

cc: @willmtemple

[2020-09-09 21:12] jonathandturner commented on #4774
Closing as this is now available as part of https://www.npmjs.com/package/@azure/identity/v/1.2.0-beta.1. You can use the InteractiveBrowserCredential in node, and doing so will pop up the user's default web browser, start a web server, and redirect the token from the browser back to your application.

Please let us know how this works for you.

[2020-09-09 21:12] #4774 closed

[2020-09-09 21:49] #1303 closed

[2020-09-09 22:09] #10689 closed

[2020-09-09 22:29] #8723 closed

[2020-09-09 22:52] HarshaNalluru commented on #8382
#11160 adds that to track 2, not planning on adding it to track 1 hotfix branch since we are so close to GA

[2020-09-09 23:58] sadasant commented on #10684
Here are some things I can spot:

- Missing `sample.env`.
- Readme
  - Missing reference to the samples.
- Samples folder:
  - Missing the JavaScript and TypeScript folder split.
  - Missing the respective readmes for both folders.
- Live tests are also missing! For that we have another issue: https://github.com/Azure/azure-sdk-for-js/issues/10963

We could also go through the available docs and t

[2020-09-10 00:21] ramya-rao-a commented on #11147
Thanks for reporting @dgellow!

The workaround you used is indeed correct.

@diberry, @kaerm,

Recently we updated all the docs to use the newer `@azure/cognitiveservices-*` packages instead of the older `azure-cognitiveservices-*` packages. While doing so, all usage of `ms-rest-azure` should have been replaced with `@azure/ms-rest-azure-js` as well. This package is used to get the `CognitiveServi

[2020-09-10 02:44] ljian3377 opened #11163 "[storage][test] intermittent failure with uploadStream cases"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=529700&view=logs&j=34d05327-3286-5fd0-44d3-76aebff5d924&t=d726e143-6308-5465-2a45-ec34d6ea866c

[code]

[2020-09-10 03:33] jiacfan commented on #10520
Closing the issue as custom domain support has been released. Welcome leave message if need further assistant.

Thanks,
Jiachen

[2020-09-10 03:33] #10520 closed

[2020-09-10 03:35] #10518 closed

[2020-09-10 05:07] ramya-rao-a commented on #11041
That's great to hear! Thanks for closing the loop on this.

[2020-09-10 05:10] ramya-rao-a commented on #10993
@nickzhums If we are considering a manual update, the process would be
- Update the patch version of the package
- Add the below line in the readme before the code snippet for node

[2020-09-10 05:23] ljian3377 commented on #8744
This should have been fixed in @azure/storage-file-datalake@12.1.0.

[2020-09-10 05:23] #8744 closed

[2020-09-10 05:26] ljian3377 commented on #7172
Not seeing failures in last 30 days. Consider it fixed by #7293.

[2020-09-10 05:26] #7172 closed

[2020-09-10 05:28] ljian3377 commented on #9500
Related to https://github.com/Azure/azure-sdk-for-js/issues/6120

[2020-09-10 07:43] pritesha commented on #10520
Thanks @jiacfan.

[2020-09-10 11:19] jostyposty commented on #5655
Nothing there?

[2020-09-10 12:32] #11076 closed

[2020-09-10 12:32] #10770 closed

[2020-09-10 12:32] #11077 closed

[2020-09-10 12:38] #11087 closed

[2020-09-10 13:22] #11100 closed

[2020-09-10 13:24] deyaaeldeen commented on #11105
This can be closed now after all issues here have been fixed.

[2020-09-10 13:24] #11105 closed

[2020-09-10 14:17] ahuggins-nhs commented on #5655
They renamed it. https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/tables/data-tables

Developer previews are now available!

[2020-09-10 16:48] joheredi opened #11179 "[Tables] Discussion - Azure Tables SDK Beta.1"
_The intent of this issue is to solicit feedback from the community in
advance of the GA of the new Azure Tables library `@azure/data-tables`
which replaces the Azure Tables support in the older `azure-storage-node`
(which will follow several Beta releases)._

_As a reference, the JavaScript Azure SDK guidelines can be found here:
https://azure.github.io/azure-sdk/typescript_introduction.html#_

#

[2020-09-10 17:04] joheredi commented on #5655
Hello everyone! We are happy to announce that we have released the first Beta of the new [Azure Tables SDK](https://www.npmjs.com/package/@azure/data-tables). It conforms to our new [guidelines on writing JS SDKs for Azure services](https://azure.github.io/azure-sdk/general_introduction.html) which ensure it will remain idiomatic, consistent and diagnosable.

You can install it with `npm install @

[2020-09-10 17:07] joheredi commented on #9625
Hello @ebower12 ! We are happy to announce that we have released the first Beta of the new [Azure Tables SDK](https://www.npmjs.com/package/@azure/data-tables). It conforms to our new [guidelines on writing JS SDKs for Azure services](https://azure.github.io/azure-sdk/general_introduction.html) which ensure it will remain idiomatic, consistent and diagnosable.

You can install it with `npm install

[2020-09-10 17:08] mpth commented on #5655
@joheredi looks promising 🙂

[2020-09-10 17:15] diberry commented on #11147
@jongio Is this something you are tracking for a fix or something the Cognitive Services team needs to track?
@erhopf FYI

[2020-09-10 17:21] MRayermannMSFT commented on #9171
@jeremymeng any update on this?

[2020-09-10 19:01] mohsin-mehmood commented on #10783
@ramya-rao-a Will it be better to fix these lint errors related project tasks after #10967 is closed?

[2020-09-10 19:30] ramya-rao-a commented on #10783
@mohsin-mehmood I believe we can get started on these without having a dependency on #10967 which is very specific to duplicate imports

[2020-09-10 20:42] christothes opened #11181 "Update KeyVault.Keys test suite to target MHSM"
When MHSM becomes available as a live test resource, update the Keys live test suite to target a MHSM resource and mitigate any discovered issues.

[2020-09-10 20:45] christothes opened #11182 "Update KeyVault Keys and Administration READMEs for MHSM"
MHSM has a few different requirements for provisioning, such as downloading the security domain using the CLI before it is usable. Update the README with these details in Getting Started.

This applies to both `Keys` and `Administration` clients. Getting Started details can be found [here](https://review.docs.microsoft.com/en-us/azure/key-vault/managed-hsm/quick-create-cli?branch=pr-en-us-106014)

[2020-09-10 20:45] heaths opened #11183 "Allow status of backup and restore operations to be queried"
To facilitate long-running backup and restore operations, provide idiomatic APIs to query status. This may be on the `KeyVaultBackupClient` directly, or on public operation classes.

[2020-09-10 22:04] AlexGhiondea opened #11186 "Azure Cognitive Search October Release"
- [x] Advanced batch support https://github.com/Azure/azure-sdk-for-js/issues/11275
- [x] Fix CI issue https://github.com/Azure/azure-sdk-for-js/issues/11276
- [x] Add odata filter expression helpers https://github.com/Azure/azure-sdk-for-js/issues/11277
- [x] Regenerate based on latest swagger https://github.com/Azure/azure-sdk-for-js/issues/11279
  - [x] Scoring profile
  - [x] IndexingParameter

[2020-09-10 22:31] JacksonKearl opened #11187 "@azure/storage-blob@>12.2.0 throws `Bad Request - Invalid Verb` on upload"
Similar to #11163.

I have script running every 5 minutes for all of eternity that uploads to blob storage, starting ~a day ago I started getting consistent `Bad Request - Invalid Verb` errors from this code:
[code]

This is consistent with the release of 12.2.0, which I see made some changes to the `uploadStream` method.

The exact response is as follows:
[code]

[2020-09-11 00:40] joheredi commented on #10573
We are happy to announce that we have released the first Beta of the new [Azure Tables SDK](https://www.npmjs.com/package/@azure/data-tables). It conforms to our new [guidelines on writing JS SDKs for Azure services](https://azure.github.io/azure-sdk/general_introduction.html) which ensure it will remain idiomatic, consistent and diagnosable.

You can install it with `npm install @azure/data-table

[2020-09-11 02:57] XiaoningLiu commented on #11060
Hi @thebernardlim, next generation of Azure Table JS SDK is going to publish soon, please stay tuned :) Refer to https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/tables/data-tables

[2020-09-11 03:09] ljian3377 commented on #11138
Blob storage events are pushed using Azure Event Grid to subscribers such as Azure Functions, Azure Logic Apps, or even to your own http listener: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-overview

Does this solve your issue?

It could also be achieved with the [change feed ](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-change-feed?tabs=azure-por

[2020-09-11 04:37] #10573 closed

[2020-09-11 04:40] #5655 closed

[2020-09-11 04:52] hdavidzhu opened #11192 "Cannot use @azure/ms-rest-nodeauth loginWithServicePrincipalSecret for @azure/arm-sqlvirtualmachine"
- **Package Name**: @azure/arm-sqlvirtualmachine
- **Package Version**: @azure/arm-sqlvirtualmachine@3.1.0, @azure/ms-rest-nodeauth@3.0.5
- **Operating system**: linux, macOS
- [x] **nodejs**
    - **version**: v12.17.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: v4.0.2
- Is the bug related to **documentation** in
  - [x] README.md
  - [ ] source code document

[2020-09-11 05:47] freakyfriday commented on #11179
Thanks @joheredi for starting this library. Is there any chance we will get sorting for this library on the CosmosDB Tables API? It's been available in DotNet for a while - https://github.com/Azure-Samples/azure-cosmos-table-dotnet-core-getting-started/blob/f5b352fec591a4ce702cfc7ef333480bdbd4b366/CosmosTableSamples/AdvancedSamples.cs#L390

[2020-09-11 07:16] ljian3377 commented on #11187
Oops, I thought it is something wrong with our live tests pipeline.
Does the error happen consistently for you or intermittently? I failed to find a way to recreate it locally 😢
Are you on Mac OS?

[2020-09-11 07:18] ramandeep-singh-1983 commented on #11138
The event grid solution doesn't solve my issue and change feed package seems to be an overkill for my use case.

Here's my requirement: my app is running behind nginx load balancer in a Kubernetes cluster. I want all pods of my app to get blob created event. This is not possible through event grid as the web hook call from event grid will go through the load balancer and will reach only 1 random p

[2020-09-11 07:19] ljian3377 commented on #11187
If you can recreate it easily, could you turn on the log and share me the logs specially the requestId via

[code]

[2020-09-11 08:03] hdavidzhu opened #11196 "autoBackupSettings not found on Microsoft.SqlVirtualMachine/sqlVirtualMachines"
- **Package Name**: @azure/arm-sqlvirtualmachine
- **Package Version**: @azure/arm-sqlvirtualmachine@3.1.0
- **Operating system**: linux
- [x] **nodejs**
    - **version**: v12.16.1
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: Version 4.0.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [X] SDK API docs on h

[2020-09-11 08:20] ljian3377 commented on #11138
We will look deeper into this. The IOT SDK uses the AMQP protocol for notification while currently storage SDKs communicate over HTTP with storage service. So to support this we may need fundamental changes.

Easy approaches:
1. Workaround the Event Grid limitation by broadcasting or forwarding the notificaion.
2. Polling the storage service with our SDK.

[2020-09-11 08:29] ramandeep-singh-1983 commented on #11138
Thanks for the info. I got your point.  About the workarounds:
1. Workaround the Event Grid limitation by broadcasting or forwarding the notification: do you mean configuring the nginx load balancer or ingress to broadcast the event on all pods? Not sure if this is possible but i have asked our DevOps team.
2. Polling the storage service with our SDK: do you mean using the change feed? Can you ela

[2020-09-11 08:53] ljian3377 commented on #11138
@ellismg Do you have any advice on how to workaround the Event Grid limitation or who on the service team we can contact?

[2020-09-11 09:09] ljian3377 commented on #11138
@ramaganesan-rg

Yes. Though I haven't tried.

I mean with storage-blob, basically by listing blobs at interval to see if there is a new one. And I don't like this way either. Forget it.

[2020-09-11 12:10] ljian3377 commented on #11187
I can't recreate it even with the live tests pipeline now with https://github.com/Azure/azure-sdk-for-js/pull/11195. And the change for uploadStream in REST API level is only switching from `upload(Buffer)` to `upload(()=>Readable)`. Don't see how this could cause the regression.
@jeremymeng Any idea?

@JacksonKearl  Could you kindly share the log if you can recreate it?

[2020-09-11 14:38] jonathantzh commented on #11187
I confirm similar behaviour upon installing @azure/storage-blob v12.2.0, which does not appear when downgrading to v12.1.0.

[2020-09-11 14:51] jeremymeng commented on #11187
I wonder if it is related to a change in the latest @azure/core-http v1.1.8.  @jonathantzh is it possible for you to try pinning @azure/core-http 1.1.7 while using @azure/storage-blob v12.2.0?

[2020-09-11 15:05] jonathantzh commented on #11187
@jeremymeng Pinning @azure/core-http to v1.1.7 while using @azure/storage-blob v12.2.0 does not resolve the issue for me

[2020-09-11 15:16] dorcilio commented on #11187
I have the same problem

[2020-09-11 15:18] gmantri opened #11200 "[Cosmos DB] Suppress output (resourceBody) for successful batch operation"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.9.1
- **Operating system**: MacOS
- [X] **nodejs**
    - **version**: 10.16.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Not really

[2020-09-11 15:19] JacksonKearl commented on #11187
Tried reproducing with the logging but now I'm getting a different error, not sure if it's related or not:

[code]

[2020-09-11 15:35] JacksonKearl commented on #11187
Also, I first encountered this in a GitHub action -- https://github.com/microsoft/vscode/runs/1099066807?check_suite_focus=true, which is running on linux.

[2020-09-11 16:12] joheredi opened #11202 "[core-http] Support XmlNamespaces in mappers"
OpenAPI supports xml namespace and prefixes ([link](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#fixed-fields-22)). However `core-http` serializer doesn't honor them.

[ServiceBus swagger](https://github.com/Azure/azure-rest-api-specs/tree/sb_dataplane_namespace/specification/servicebus/data-plane), for example, uses XML namespaces.

Here are some samples on the expec

[2020-09-11 16:17] ljian3377 commented on #11187
For those who can recreate it, could you turn on the log and share me the logs via
[code]
I'd like to figure out the root cause instead of simply roll back.

[2020-09-11 16:20] ljian3377 commented on #11187
And for anyone who encounter this issue and v12.1.0 doesn't work for you, please let me know and we will come up with a hotfix to undo the uploadStream change but with all other new features and bug fixes if we can't find the right fix in time.

[2020-09-11 16:28] ljian3377 commented on #11187
@JacksonKearl Probably unrelated.

[2020-09-11 16:43] ljian3377 commented on #11163
The "uploadStream should abort" get recreated.
https://dev.azure.com/azure-sdk/590cfd2a-581c-4dcb-a12e-6568ce786175/_apis/build/builds/533794/logs/98

[code]

[2020-09-11 17:14] willmtemple opened #11204 "[ai-form-recognizer] Release 3.1.0 Beta"
This is a tracking epic for work related to the release of `@azure/ai-form-recognizer` version `3.1.0-beta.1`, with support for service version 2.1-preview.2.

[2020-09-11 17:21] willmtemple opened #11205 "[ai-form-recognizer] Migrate to 2.1-preview.1 endpoint and generated code layer"
Use autorest to migrate to the new OpenAPI spec for Form Recognizer.

[2020-09-11 17:24] willmtemple opened #11206 "[ai-form-recognizer] New selection mark data type"
The new `2.1-preview.1` spec defines a selection mark data type in analysis results. This issue tracks supporting that type and exposing it through the convenience layer.

[2020-09-11 18:58] sadasant commented on #9868
The current keyvault-admin client doesn't have this rollup warning 🌞

At least I can't find anything [here](https://dev.azure.com/azure-sdk/public/_build/results?buildId=534075&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t=4fc2278e-dafd-525f-7501-d396c9a4758e), or see anything locally when I run rush build.

I'll close this for now.

[2020-09-11 18:58] #9868 closed

[2020-09-11 19:02] sadasant commented on #9867
Moved to October.

[2020-09-11 19:11] joheredi opened #11209 "[Discussion] Proposal to provide more idiomatic entities in @azure/data-tables"
_The intent of this issue is to solicit feedback from the community in
advance of the GA of the new Azure Tables library `@azure/data-tables`
which replaces the Azure Tables support in the older `azure-storage-node`
(which will follow several Beta releases)._

_As a reference, the JavaScript Azure SDK guidelines can be found here:
https://azure.github.io/azure-sdk/typescript_introduction.html#_

T

[2020-09-11 19:14] sadasant commented on #10948
Moved to the October release.

[2020-09-11 19:22] joheredi opened #11210 "[Discussion] Proposal to provide automatic serialization in @azure/data-tables"
_The intent of this issue is to solicit feedback from the community in
advance of the GA of the new Azure Tables library `@azure/data-tables`
which replaces the Azure Tables support in the older `azure-storage-node`
(which will follow several Beta releases)._

_As a reference, the JavaScript Azure SDK guidelines can be found here:
https://azure.github.io/azure-sdk/typescript_introduction.html#_

T

[2020-09-11 19:29] bganapa commented on #6191
@dparkar Azure stack does not ship js sdk for the administrator/operator API. We only ship powershell at the moment and the demand for other SDKs is low/non-existent.  If you need it, the only way is to use REST query directly. Could you please clarify on the need? We will consider it in future

[2020-09-11 20:33] sadasant commented on #10799
Done! Closing!

[2020-09-11 20:33] #10799 closed

[2020-09-11 20:33] #9215 closed

[2020-09-11 20:34] sadasant opened #11213 "[Key Vault Admin] Run the tests on the live pipelines"
Run the Key Vault Admin tests on the live pipeline.

[2020-09-11 21:27] sarangan12 commented on #11062
@ramya-rao-a I have discussed with Alex. He also feels this task in not in his radar and we do not know any ETA. He also feels it is ok to close this task for now. We can support other forms of authentication when the service supports it. (Other language reps also agree).

[2020-09-11 23:36] richardpark-msft commented on #8143
All PRs have been merged.

[2020-09-11 23:36] #8143 closed

[2020-09-11 23:48] ellismg commented on #11138
@ljian3377

It's possible that configuring Event Grid to deliver to either an Event Hubs hub or Service Bus Topic may allow you to get the behavior you want, by using either a subscription or consumer group per pod.  However, if you have a large number of pods that all need to listen for the same event, you may run into limits on the number of consumer groups/subscriptions.  I have spoken with som

[2020-09-12 00:04] jeremymeng commented on #11187
I try to run the live tests on using Node v12 on Linux/Windows/MacOS.  So far the only failures are on MacOS the failed tests is the same as the first failure in #11163.  I couldn't repro the second, Invalid Verb, failure though

[2020-09-12 00:05] jeremymeng commented on #11187
https://dev.azure.com/azure-sdk/internal/_build?definitionId=158&_a=summary

[2020-09-12 00:15] g2vinay opened #11219 "[BUG] Identity Node credentials don't work against Azure Stack."
- **Package Name**:   azure/identity
- **Package Version**:  1.1.0
- **Operating system**: Windows
- [x] **nodejs**
    - **version**:

**Describe the bug**
Node supported Identity credentials: ClientSecretCredential, ClientCertificateCredential,  AuthorizationCodeCredential, DeviceCodeCredential and UsernamePasswordCredential

These credentials target v2.0 endpoint to retrieve the token. The v2.0

[2020-09-12 00:21] g2vinay opened #11220 "[BUG] Interactive Browser Credential doesn't support Azure Stack"
- **Package Name**:  azure/identity
- **Package Version**:  1.1.0
- **Operating system**: Windows
- [ ] **nodejs**
    - **version**:

**Describe the bug**
MSAL underneath tries to validate the ADFS Authority host passed into the credential and fails.
Disable the ADFS authority validation.

**To Reproduce**
Steps to reproduce the behavior:
1. Run InteractiveBrowserCredential against ADFS backed Az

[2020-09-12 02:32] ramya-rao-a commented on #9006
Hello!

We are happy to share that the latest preview to v7 (7.0.0-preview.3) of the `@azure/service-bus` package now supports the CRUD & list operations on queues, topics, subscriptions and rules via a separate "client" that can be instantiated either via a connection string or an AAD credential.

Please checkout the [sample for management operations](https://github.com/Azure/azure-sdk-for-js/blo

[2020-09-12 02:35] #8382 closed

[2020-09-12 23:21] brother-donkey commented on #11187
Experiencing the same, but not on only on 12.2, on 12.0.0 and 12.1.0 as well. Seems that the issue is not relative directly to the storage sdk.

[2020-09-13 00:05] AElharouny opened #11223 "[Service Bus] WebSocket handshake error when using a TokenCredential"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.0.0-preview.6
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [x] **browser**
    - **name/version**:  Chrome 79.0.3945.117
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describ

[2020-09-13 00:08] jeremymeng commented on #11187
When pinning to core-http 1.1.7, could you please also check your package-lock.json to verify that core-http 1.1.8 is not pulled in?

[2020-09-13 10:59] jonathantzh commented on #11187
@jeremymeng Tried deleting package-lock.json and node_modules folder in @azure/storage-blob@12.2.0 package, pinned @azure/core-http version to v1.1.7 in package.json, ran npm install and verified version using npm list @azure/core-http with result:

/@azure/storage-blob
├── @azure/core-http@1.1.7
└─┬ @azure/core-lro@1.0.2
  └── @azure/core-http@1.1.7  deduped

[2020-09-13 12:51] v-jaswel opened #11224 "[BUG][Face] OperationStatus does not deserialize correctly due to attribute map mismatch"
- **Package Name**: @azure/cognitiveservices-face
- **Package Version**: 4.1.0
- **Operating system**: Windows 10 Enterprise 1909
- [x] **nodejs**
    - **version**: v10.16.0
- [ ] **browser**
    - **name/version**: N/A
- [x] **typescript**
    - **version**: Version 3.5.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on http

[2020-09-13 18:06] jonathandturner opened #11225 "[Identity] Move Challenge-Based Authentication to core"
**Is your feature request related to a problem? Please describe.**
Currently, KeyVault holds a copy of challenge-based auth as it was the only known consumer. Now, more services are beginning to use this method.

**Describe the solution you'd like**
Centralize challenge-based auth so that more parts of the SDK can use it.

**Describe alternatives you've considered**
There are a couple places we mi

[2020-09-13 20:13] patrikmolsson commented on #11187
@ljian3377 , Don't know if it's still relevant, but happens for me on Windows. Will attach my logs.

I also ran some other versions, `12.2.0-dev.20200901.1` and `12.2.0-alpha.20200903.1`. `12.2.0-dev.20200901.1` _worked_, but `12.2.0-alpha.20200903.1` did not. I attached logs from `12.2.0` and `12.2.0-dev.20200901.1`.

### `12.2.0`

[code]

### `12.2.0-dev.20200901.1`
[code]

[2020-09-14 03:26] ljian3377 commented on #11187
@patrikmolsson
How often did it fail for you for the 12.2.0 version?

@jeremymeng
The error is from the http server rather than our storage service. So we narrow down this to some underlying http layer. Is there any log that we can turn on to know what http requests were exactly sent in the end?

[2020-09-14 04:42] jeremymeng commented on #11187
@ljian3377 so the failing request didn't even reach service code, and looked like was rejected by IIS? It's weird to get invalid http verb error as we used PUT as logs showed. Maybe something else caused the error.

We don't log more lower level info than shown above in core-http. We redact sensitive info, and do not log bodies.

One of the other easy ways to is to use fiddler as a proxy and allow

[2020-09-14 05:06] jeremymeng commented on #11187
https://httptoolkit.tech/javascript seems useful for intercepting HTTP(S) traffic. Never used it though.

[2020-09-14 05:19] ramya-rao-a commented on #11062
Thanks @sarangan12

@restfulhead, Thanks for reporting
We will follow up and see if we can improve the docs to reduce the confusion moving forward. If you have any suggestions, please provide it via the feedback link on that page.

[2020-09-14 05:19] #11062 closed

[2020-09-14 05:54] FlourishS opened #11229 "[Cosmos DB] stack trace is incomplete in FetchError making it very hard to troubleshoot root cause (SQL API)"
### Steps to reproduce

1. Flood a cosmosdb container (SQL) with read requests so that rate limiting will occur
2. Log the errors that are thrown

### Expected

Errors thrown by the SDK do contain a **meaningful stack trace** so that developers know which part of their application code is responsible for the error.

### Actual

The FetchError thrown by the SDK contains an incomplete stack trace. T

[2020-09-14 06:17] sunilsmith commented on #10980
@ramya-rao-a @richardpark-msft
Hi Any update on this ticket.
we got this error again in our production web app and need your immediate attention. I have attached the error logs we got for your reference.
[ErrorLog11-Sep.txt](https://github.com/Azure/azure-sdk-for-js/files/5216400/ErrorLog11-Sep.txt)

[2020-09-14 06:23] ljian3377 commented on #11187
Surely we can use Fiddler but we can't recreate it locally and asking the customer for Fiddler tracing seems to be too much to ask. 😢

@Patrik Olsson
In case you want to try use Fiddler, set these env variables for running storage-blob.
[code]

[2020-09-14 06:44] ljian3377 commented on #11187
Good news. Successuflly recreated it locally. Will look into the Fiddler Tracing.

[2020-09-14 07:05] XiaoningLiu commented on #11060
Good news, latest table SDK is released, check https://www.npmjs.com/package/@azure/data-tables

[2020-09-14 07:05] XiaoningLiu commented on #11060
Will close this about legacy azure-storage.

[2020-09-14 07:05] #11060 closed

[2020-09-14 07:53] jeremymeng commented on #11187
I see the failure in #11163 in my custom runs which is also the same invalid verb failure. I logged requests, however, the logs didn't show anything unusual at first glance https://dev.azure.com/azure-sdk/internal/_build/results?buildId=535651&view=logs&j=34d05327-3286-5fd0-44d3-76aebff5d924&t=d726e143-6308-5465-2a45-ec34d6ea866c

[2020-09-14 09:20] ramandeep-singh-1983 commented on #11138
Thanks for the reply @ellismg
I am aware of the Azure event hub/service bus topic approach but don't want to use it for just changing the log level. Our service already listens to Event hub but uses check-pointing so each event from event hub is still delivered to only 1 pod.

I am taking to our DevOps team and investigating more options.

[2020-09-14 11:00] matrus2 opened #11231 "[app configuration] Doesn't allow to use query params"
- **Package Name**: @azure/app-configuration
- **Package Version**: 1.1.0
- **Operating system**: MacOs Catalina
- [ ] **nodejs**
    - **version**: 12.18.3

**Describe the bug**
Based on documentation [here](https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-key-value#query-key-values) there should be possibility to retrieve configs with wildcards and now it is not possible.

[2020-09-14 13:44] willmtemple opened #11232 "[ai-form-recognizer] Composed Model Support"
A headline feature of Form Recognizer 2.1 will be support for model composition.

- [x] Support training a composed model with multiple model IDs as inputs
- [x] API/implementation changes to support recognition using a composed model
- [ ] Test plan for model composition
  - [x] Train composed model using live training documents
  - [ ] Validate model can disambiguate multiple form types
- [x] Cr

[2020-09-14 13:48] willmtemple opened #11233 "[ai-form-recognizer[ Model Display Name"
- [ ] Optionally specify display name during model training
- [ ] Validate model display name in tests

[2020-09-14 13:53] willmtemple opened #11234 "[ai-form-recognizer] Receipt locale parameter"
- [ ] support new optional `locale` parameter of `recognizeReceipts`
- [ ] Ensure output shape does not exceed the `RecognizedForm` type with new parameter
- [ ] test receipt recognition with at least two locales explicitly set
  - [ ] add new required example documents to test resources
- [ ] add information about receipt locale to samples
  - [ ] README
  - [ ] samples folder

[2020-09-14 14:25] willmtemple opened #11235 "[ai-form-recognizer] Business Card prebuilt"
- [ ] client methods for business card prebuilt endpoint
- [ ] tests for business card response values
- [ ] samples for business card recognition

[2020-09-14 14:28] willmtemple opened #11236 "[ai-form-recognizer] Update recognition result with new fields"
- [x] Align model result with new generated result type, exposing new fields such as `modelId`, `formTypeConfidence`, etc.
- [x] Adjust tests to account for changes

[2020-09-14 16:20] sadasant commented on #9590
Now that I have a better picture of what's required to update this, I need to go back to the drawing board. There are some updates that are potentially public API changes. I'm asking the feature crew.

[2020-09-14 16:44] sadasant commented on #9590
Likely no need for API changes. But more clarity on what properties we’re sending.

[2020-09-14 16:49] richardpark-msft commented on #10980
Hi @sunilsmith, I am currently looking at this (sorry, meant to update this issue last week). I haven't yet made any headway on it but I will update this issue when I have more information.

[2020-09-14 17:12] ramya-rao-a commented on #11224
Thanks for reporting @v-jaswel

@sarangan12, Can you take a look at this?

[2020-09-14 17:16] ramya-rao-a commented on #11192
Thanks for reporting @hdavidzhu!

@qiaozha, Can we have the package re-generated using the latest v4 of the code generator to fix this?

[2020-09-14 17:18] ramya-rao-a commented on #8973
@xirzec, Do you want to keep this issue given that we are mainly investing in Azure Core v2 now?

[2020-09-14 17:45] joheredi commented on #11060
@thebernardlim, we are happy to announce that we have released the first Beta of the new [Azure Tables SDK](https://www.npmjs.com/package/@azure/data-tables). It conforms to our new [guidelines on writing JS SDKs for Azure services](https://azure.github.io/azure-sdk/general_introduction.html) which ensure it will remain idiomatic, consistent and diagnosable.

You can install it with `npm install @

[2020-09-14 17:49] richardpark-msft commented on #11231
@matrus2 - I believe you're looking for [listConfigurationSettings](https://docs.microsoft.com/en-us/javascript/api/@azure/app-configuration/appconfigurationclient?view=azure-node-latest#listconfigurationsettings-listconfigurationsettingsoptions-)

getConfigurationSetting is for when you know the exact name and don't want fuzzy matching.

[2020-09-14 17:55] richardpark-msft commented on #10943
Hi @Connor-Wood , we've released [@azure/service-bus 1.1.10](https://www.npmjs.com/package/@azure/service-bus/v/1.1.10) which now properly handles this condition.

[2020-09-14 17:55] #10943 closed

[2020-09-14 18:41] ramya-rao-a commented on #9383
Please update the issue title with context

[2020-09-14 18:41] ramya-rao-a commented on #6769
@jonathandturner Please add a link to the MSAL issue that we are now blocked on

[2020-09-14 18:46] ramya-rao-a commented on #9780
Closing as there are no actionable items at the moment.

[2020-09-14 18:46] #9780 closed

[2020-09-14 19:09] ramya-rao-a commented on #9726
Let's work on this after #9590 is done and use the v6 code generator

[2020-09-14 19:20] ramya-rao-a commented on #11028
@sadasant Can we split the above list to algorithms supported by the service vs the ones that need local implementation?
We can then log a separate issue for the former, target it sooner and keep this issue to do further investigation on the latter.

[2020-09-14 19:20] deyaaeldeen opened #11240 "[ESLint Plugin] Run test suite in CI"
It currently does not run in CI. Furthermore, CI should also ~build~ run the analyze step for all our SDKs using the updated plugin to check if there are any inconsistencies with the updated rules.

[2020-09-14 19:21] deyaaeldeen commented on #11240
cc @praveenkuttappan

[2020-09-14 19:23] ramya-rao-a commented on #11182
@christothes, Can you provide more details as to which readme (admin vs keys) needs the update and pointers to what exactly needs to be updated?

[2020-09-14 19:27] ramya-rao-a commented on #11183
@heaths We have the poller object that provides the status. What else are we looking for here?

[2020-09-14 19:27] sarangan12 commented on #11224
@v-jaswel Thanks for reporting the issue.

@ramya-rao-a I will check and update the issue shortly.

[2020-09-14 19:35] xirzec commented on #8973
I agree we can close this in favor of v2.

[2020-09-14 19:50] ramya-rao-a commented on #11225
@jonathandturner, Can you share which services are needing the challenge based auth apart from Key Vault at the moment?

[2020-09-14 19:56] richardpark-msft commented on #10980
Hi @sunilsmith , can you open a support ticket for this? It'll help in getting diagnostics on the service-side as well, so we can get a better picture of what was happening during that window of time.

https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2020-09-14 20:09] #8973 closed

[2020-09-14 20:16] bterlson opened #11242 "Core-paging not polyfilling properly"
- **Package Name**: @azure/core-paging
- **Package Version**: latest

**Describe the bug**
Many partner teams are reporting that importing core-paging is insufficient to get a working PAII in Node 8, resorting to polyfilling in their own libraries. The intention was that simply importing core-paging would be enough, so we should investigate to see what is amiss in this scenario.

[2020-09-14 20:27] heaths commented on #11183
I apologize for not being more clear (similar issue with the one I opened for .NET). The poller is fine, but customers need a way to create it without having to start another backup or restore operation - like what should exist for certificate creation in the certs package. The idea is that if your process is shut down (lose your poller, whatever) you can recreate one to continue polling for compl

[2020-09-14 20:55] pcgeek86 opened #11243 "Authenticate to Azure SDK for JavaScript using oAuth token from Azure AD"
1. I'm writing a vanilla JavaScript application using Express.js and Node.js version 14.10.
1. I'm using the Microsoft Authentication Library (MSAL) for JS to log into Azure Active Directory

### Question

How do I authenticate to Azure Resource Management APIs using an oAuth token that I received from Azure Active Directory (AAD)? I can't find any constructor to feed the oAuth token into, so I ca

[2020-09-14 22:09] zfoster commented on #11200
Hey @gmantri, at the moment there is no way to suppress the `resouceBody`, but one option would be to remove it in some kind of call after the response, like

[code]

I have a second round of work planned for Bulk and I can add this for consideration but there's no plan at the moment to implement something like this within the SDK.

[2020-09-14 23:07] jonathandturner commented on #11225
@schaabs do you know offhand which services are switching to challenge-based auth?

[2020-09-15 00:00] ramya-rao-a commented on #11183
Wouldnt the need to check the status of an ongoing service side operation be applicable to other services as well? And therefore, am guessing there should be a guideline for this?

cc @bterlson

[2020-09-15 00:05] heaths commented on #11183
It already is: https://azure.github.io/azure-sdk/general_design.html#long-running-operations

So many rules. So little RAM.

[2020-09-15 00:18] ramya-rao-a commented on #11183
Oh wow, Thanks!

cc @xirzec

[2020-09-15 02:28] gmantri commented on #11200
Thanks @zfoster. That is certainly an option but it will not solve the purpose. Essentially I am looking at a server-side operation where I could instruct the API not to send the resource body. This is just to reduce the network traffic and costs considering we pay for egress traffic. To give you an example, please look at `Prefer` request header in Storage Table Insert Entity operation: https://d

[2020-09-15 03:26] HarshaNalluru commented on #11223
Thanks for reporting, @AElharouny! ✨

Here's a PR to fix the issue https://github.com/Azure/azure-sdk-for-js/pull/11250.
With the above fix and with proper permissions to the AAD app, your sample code should work fine.

You can expect this to be fixed in the next release.
I'll share the dev build from the PR for you to try out if interested.

[2020-09-15 03:33] AElharouny commented on #11223
Thanks, sure will be happy to test that.

[2020-09-15 04:15] qiaozha commented on #11192
@ramya-rao-a  Hi, I have a PR #11252 to fix this issue. Could you please help review it? Thanks

[2020-09-15 05:09] ramya-rao-a commented on #11243
Hey @pcgeek86

Which package in Azure SDK for JS are you trying to use?

Are you trying to talk to the ARM APIs directly or are trying to use any of the management packages? A typical management package in this repo would have its name starting with `@azure/arm-` and requires one to use a credential object created by using any of the login methods as listed in [@azure/ms-rest-nodeauth package read

[2020-09-15 05:23] ramya-rao-a opened #11255 "Run rush lint without warnings or failures"
Until #11240 is fixed, we need to rely on running `rush lint` locally as and when we change/add a linting rule to the eslint plugin in this repo. While running this today, we see the below error:

![image](https://user-images.githubusercontent.com/16890566/93168497-da5ab280-f6d7-11ea-9d25-a4f5b028e483.png)

While the PR #11254 fixes the above PR, we are left with the below warnings which should be

[2020-09-15 05:26] ljian3377 commented on #11187
@patrikmolsson @JacksonKearl
Could you help share us the Fiddler tracing if you can recreate it? I failed to recreate when I use Fiddler as the proxy with these env.
[code]

[2020-09-15 05:37] ramya-rao-a commented on #11240
@deyaaeldeen, am guessing this is the matter of adding a tests.yml file and then a pipeline would get added for the plugin?
@willmtemple, would this be a problem since we don't really publish this package?

cc @KarishmaGhiya if there is anything she can recall from past conversations

[2020-09-15 05:40] mohsin-mehmood commented on #10781
I started looking into this and found that many errors are reported by custom eslint rule [ts-naming-options](https://github.com/Azure/azure-sdk-for-js/blob/master/common/tools/eslint-plugin-azure-sdk/docs/rules/ts-naming-options.md). Fixing these errors will require many new interfaces to be created with method name prefix and may limit the common interfaces reuse.

We can obviously disable this

[2020-09-15 05:45] sarangan12 commented on #11224
I have checked the code and confirmed that the issue happens. The appropriate solution will be to fix the swagger. I have created a PR to fix the issue in the swagger: [#10790](https://github.com/Azure/azure-rest-api-specs/pull/10790).

I have validated the changes before and after changes snapshots (Look at the Snapshot ID Field):
<img width="799" alt="Face_Sample_Before_Changes" src="https://use

[2020-09-15 05:58] ramya-rao-a opened #11256 "Have consistent lint scripts for all packages that use the eslint plugin"
We currently have a mix of different ways the `lint` script is written in the package.json file of the packages that use the eslint plugin:

- eslint -c ../../.eslintrc.old.json src test samples --ext .ts
- eslint package.json api-extractor.json src test --ext .ts

and a few others...

The only difference we should have is whether the output is routed to an html file and ignore errors using the `|

[2020-09-15 06:04] qiaozha commented on #11196
I can also repro this in Azure CLi. looks like the service backend list result has missed the autoBackupSettings. add service-attention label.

[2020-09-15 06:35] ramya-rao-a commented on #11224
Thanks for sharing the investigation @sarangan12
I'd like to hear from the service team first to confirm your findings
Since this issue affects more than just the JS SDK, we should hear their preference first.

[2020-09-15 07:13] qiaozha commented on #11192
@hdavidzhu  Could you please try https://www.npmjs.com/package/@azure/arm-sqlvirtualmachine/v/4.0.0. This should resolve your problem. Thanks

[2020-09-15 07:22] HarshaNalluru commented on #10710
Delegated permissions can be added to the AAD app for service-bus.
<img src="https://user-images.githubusercontent.com/10452642/93178264-d97e4c80-f6e8-11ea-9c93-f85390412aa0.png" height="400">

This issue is more related to the issue with the service-bus SDK.

[2020-09-15 08:51] ljian3377 commented on #11187
Patrik has this issue consistenly. But when he tried with the Fiddler proxy in the way above, it doesn't fail any more.
Also tried with `stageBlock` and `commitBlockList` separately and it didn't fail him either.

[2020-09-15 10:01] matrus2 commented on #11231
@richardpark-msft Thx, I missed it, works.

[2020-09-15 10:01] #11231 closed

[2020-09-15 10:38] mtrcn commented on #11179
Thank @joheredi, I wonder that will whether support replication or not ?

[2020-09-15 10:58] brianpham93 commented on #11187
I've hit this error as well when try to upload multiple images sequentially

[code]

[2020-09-15 11:20] tal2 commented on #11187
I consistently hit the same error and see a very similar log to that posted by @brianpham93 .

It occurs when using the `uploadStream` function to upload a stream read from a small text file. `upload` seems to work as expected.
I can reproduce it on a Docker container (`FROM node:12`) and on Windows 10.

Downgrading to version 12.1.2 makes the issue go away.

`"user-agent": "azsdk-js-storageblob/1

[2020-09-15 11:40] FlourishS opened #11259 "[Cosmos] Optimistic concurrency is not working on newly created items (SQL API)"
### Steps to reproduce

1. Create a new item
2. Change a property of the item
2. Update the item with optimistic concurrency control (accessCondition / IfMatch)

### Expected

The update is performed successfully.

### Actual

The updated fails with error 412 (precondition not met).

The reason is that _container.items.create(..)_ returns a resource that lacks the "_etag" property which is mandato

[2020-09-15 11:41] sadasant commented on #9404
Moved this to October so we could talk about it.

[2020-09-15 11:52] sadasant commented on #11183
The current poller design already does this! :)

[2020-09-15 11:53] sadasant commented on #11183
It's even in the documentation of the KV-Admin client: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-admin/src/backupClient.ts#L121-L127

The same feature is available in all of the KV pollers.

[2020-09-15 11:54] sadasant commented on #11183
Here's even a test on the KV-Keys client's Delete poller: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-keys/test/public/lro.delete.spec.ts#L53-L84

[2020-09-15 12:21] FlourishS commented on #11259
It appears that the item passed into items.create(...) is NOT containing the etag after successful operation however the returned item from items.create(...) actually does contain the etag.

Please me clarify:

[code]

[2020-09-15 12:22] sadasant opened #11260 "[Key Vault Keys] Add new algorithms, remote only"
This is a copy of: https://github.com/Azure/azure-sdk-for-js/issues/11028

With one exception, which is that this issue does not cover: `As many of these as possible should be supported locally without writing our own cryptography.`

For the local encryption side of things, I've made two new issues:

The relevant content of the original issue follows.

---

For Key Vault 7.2-preview, to `Encryptio

[2020-09-15 12:28] sadasant opened #11261 "[Key Vault Keys] Investigate what algorithms can be supported locally in NodeJS v8"
Including the existing algorithms supported by the Key Vault Keys types https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-keys/src/cryptographyClientModels.ts#L9-L27, and the algorithms added as part of: https://github.com/Azure/azure-sdk-for-js/issues/11260 , investigate how many of them can be implemented locally to work with NodeJS v8.

[2020-09-15 12:39] sadasant opened #11262 "[Key Vault Keys] Add support for all the algorithms that can be locally supported"
This issue is meant to be started after these two issues are completed:

- [Key Vault Keys] Add new algorithms, remote only #11260
- [Key Vault Keys] Investigate what algorithms can be supported locally in NodeJS v8 #11261

The idea is that, once we know what algorithms we can support in Node 8, to add this support to the KV Keys client.

The majority of the work should have been done on #11261 al

[2020-09-15 12:42] sadasant commented on #11028
To avoid editing the description of this issue (it seemed rude to me), I made a new issue for the remote only changes: https://github.com/Azure/azure-sdk-for-js/issues/11260, it's a copy of this one, without `As many of these as possible should be supported locally without writing our own cryptography.` in the description.

Since the goal is to have as many algorithms working locally as possible,

[2020-09-15 12:42] #11028 closed

[2020-09-15 12:47] zfoster commented on #11200
Thanks for the reply @gmantri. Cosmos has support for `Prefer` in the request headers as well, I believe we support it in places in the SDK. I can look into if it already works with Bulk or what we need to do to get it working. Thanks again!

[2020-09-15 12:56] sadasant commented on #9867
Moved to estimate of 1. The KV cryptography stuff is related, so I don't want to sub-estimate working with something that is already complex.

[2020-09-15 13:02] sadasant commented on #10726
Moved to October to talk about this during today's meeting.

[2020-09-15 13:10] gmantri commented on #11200
Thanks @zfoster! I'll close this issue now. Hoping to see the support for this in the SDK soon. I do have a clarification question about the bulk operations (basically trying to understand the behavior). I will create a separate issue for that.

[2020-09-15 13:10] #11200 closed

[2020-09-15 14:08] willmtemple commented on #9329
@mikeharder It looks like this upgrade is required to support `import type` statements (and any other new additional syntax that shows up, I imagine). This seems more important now, given that we are running prettier on all of our staged files for commit, so if I use something that has `import type`, I'm now seeing the commit hook fail.

CC @xirzec @ramya-rao-a @deyaaeldeen

Don't want to speak fo

[2020-09-15 14:18] pcgeek86 commented on #11243
Hello @ramya-rao-a, for starters, I am looking to use the Azure Subscription API to list subscriptions and then Resources API to manage Resource Groups. Before that, I need to figure out how to construct the appropriate credentials to use with them.

The part I'm struggling to figure out is how to obtain an oAuth token using redirects, and use that token to authenticate to the Azure ARM APIs. Righ

[2020-09-15 16:14] hdavidzhu commented on #11192
Will do, thanks! (I'll report back later today.)

[2020-09-15 16:42] hdavidzhu commented on #11192
Looks like it worked! Thank you for all your help.

[2020-09-15 16:42] #11192 closed

[2020-09-15 16:53] praveenkuttappan commented on #11240
@deyaaeldeen  @ramya-rao-a: I will look into this and see what we can do to enable building all packages when eslint is changed. I will check if we can add this path as trigger to existing pipelines so any change in this plugin will make sure to test all packages.

[2020-09-15 17:08] sadasant commented on #11183
Alright, so I spoke with Heath and here's the action item:

- Ensure that the KV-Admin pollers can be re-created without serialization.
  - This can be done by accepting the intermediate-state properties through optional parameters and skipping the first request.
  - This is an alternative to serialization.
  - We do this in the other KV clients.

The serialization and the current way to get the o

[2020-09-15 17:14] sadasant opened #11263 "[Key Vault Keys] createKey should accept "curve"."
The current `createKey` method should accept "curve" as an optional property. `createKey` is the catch-all method for all of the possible key creations, this includes the "curve" property.

I found this was missing through this PR: https://github.com/Azure/azure-sdk-for-js/pull/11245#discussion_r488783772

[2020-09-15 19:28] ramya-rao-a commented on #11255
https://github.com/Azure/azure-sdk-for-js/pull/11254 unblocks the `rush lint` command by ignoring the array index in the no-magic-numbers rule. An alternate solution to the problem is welcome as well

[2020-09-15 20:22] #11118 closed

[2020-09-15 20:46] praveenkuttappan opened #11270 "Remove next tag from npm automatically when package is moved from beta to GA"
Currently we need to manually remove existing next tag when package is promoted as GA from beta or preview version. This should be handled automatically as part of release step by comparing the versions.

[2020-09-15 20:47] ramya-rao-a commented on #11154
While this is fixed with the changes in #11175, the long term fix as described in https://github.com/Azure/azure-sdk-for-js/pull/11175#discussion_r486536436 is still desriable

[2020-09-15 21:02] praveenkuttappan commented on #11270
This can also support setting tags automatically by comparing versions.

tag `latest` should be set:
- if package is GA version and higher than current latest version.
- if package is beta version and this package was never GAed and higher than current latest version.

tag `next` should be set:
- if new package version is beta and it's higher than current latest and next(if present) version.

Note

[2020-09-15 21:03] praveenkuttappan commented on #11270
@KarishmaGhiya @sadasant @ramya-rao-a This issue is to track automatically set/remove tags as part of release process. Please let me know if I have missed any specific scenario on tags.

[2020-09-15 21:39] jonathandturner commented on #9776
Closing in favor of #9778

[2020-09-15 21:39] #9776 closed

[2020-09-15 21:41] jonathandturner commented on #10226
@g2vinay - can you update here with the results of the investigation of the latest source?

[2020-09-15 21:43] jonathandturner commented on #11219
@g2vinay - This is the out-of-date implementation. We recently replaced our implementation with msal-node. Closing, but please create a new issue if this is still a problem with the latest version.

[2020-09-15 21:43] #11219 closed

[2020-09-15 21:43] jonathandturner commented on #11220
Were you able to test IBC for Node, by chance?

[2020-09-15 21:52] sarangan12 opened #11275 "[Search] - Advanced Batch Support"
3 Scenarios have to be supported:

1. AutoFlush Set to True
    a. When Documents hit batch size, the request has to be flushed.
    b. When the windowInterval is hit, the request has to be flushed.
2. AutoFlush Set to False
    a. When User calls Flush

Open Questions:
1. Which should be considered?
    batch size/payload size/both

[2020-09-15 21:56] sarangan12 opened #11276 "[Search] - Fix CI issue"
I am getting notifications for search failures. I have listed some of the links below:

[Link 1](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=535166&view=results)
[Link 2](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=535039&view=results)
[Link 3](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=531860&view=logs&j=0421300e-d7b4-5c64-f530-fa21e83c

[2020-09-15 21:58] sarangan12 opened #11277 "[Search] - Add odata filter expression helpers"
Actual Requirements yet to be obtained.

[2020-09-15 22:00] sarangan12 opened #11278 "[Search] - More samples"
Samples around Batch Feature/OData have to be added.

[2020-09-15 22:02] faraazhabeeb123 commented on #10645
So, using an angular application, I cannot access key vault? Are the samples mentioned in https://www.npmjs.com/package/@azure/identity work then?

[2020-09-15 22:04] sarangan12 opened #11279 "[Search] - Regenerate based on latest swagger"
At the time of this issue creation, we cannot regenerate. Because, the swagger is not merged. Why? Because, it has some features which might break the SDK generation process. Details to be collected yet.

Further details needed whether we need custom layer modification (I am marking the estimate to 2. If there is no custom layer code is required it might change to 1)

[2020-09-15 22:39] kurtzeborn commented on #10701
This is the scenario we discussed as a group and agreed it qualifies as a perf scenario which should be run through the new perf automation framework @mikeharder is standing up.

CC: @mitchdenny, @weshaggard

[2020-09-15 22:50] xirzec commented on #9329
I also would like to move to prettier2. I don't mind trailingComma being es5, I think it's easier on diffs.

[2020-09-15 22:56] sadasant commented on #9590
I had to close my latest PR. The latest Autorest & Autorest Typescript forces us to use api-version 7.1. It doesn't allow us to specify api-version 7.0, which is a regression. We'll come back to this issue during the next release cycle.

[2020-09-16 02:23] ramya-rao-a commented on #11270
Looks good

[2020-09-16 02:47] ljian3377 commented on #11187
The bug is related to the stream length.

[2020-09-16 02:53] brianpham93 commented on #11187
any workaround we can apply to avoid this temporarily ?

[2020-09-16 03:14] ljian3377 commented on #11187
A fix is coming soon. Before that, could you call `uploadFile` for file. Or `stageBlock` and `commitBlockList` individually.
[code]

[2020-09-16 03:50] ljian3377 commented on #11187
Bug located and a hotfix is coming soon. Caused by sending data longer than specified by content-length.
@jeremymeng Could the node-fetch throw when the stream length doesn't match the content-length?

[2020-09-16 06:05] ramya-rao-a commented on #11243
Thanks for the details @pcgeek86

For apps running in the browser, you would need [@azure/ms-rest-browserauth](http://npmjs.com/package/@azure/ms-rest-browserauth) instead. Can you give that a try?

https://docs.microsoft.com/en-us/azure/developer/javascript/node-sdk-azure-authenticate is definitely outdated. We will look into getting that updated.

@daviwil, Am guessing we can have a class implem

[2020-09-16 08:47] himanshu849 opened #11292 "After aborting the request next all request is also getting abort automatically."
- **@azure/abort-controller**:
- **1.0.1**:
- **windows 10**:
- [ ] **nodejs**
    - **12.18.3**:
- [ ] **Chrome**

### Hi, I have implemented an abort signal to cancel the upload video request, and it's working fine. that means the request is getting aborted when I call the abort() method but here the problem is when I make another request without calling abort() then also the request is getting

[2020-09-16 08:49] ljian3377 opened #11293 "[storage][common] add test cases for BufferSchedule, PooledBuffer and BuffersStream"

[2020-09-16 11:23] sadasant commented on #9590
Also, for the record:
This made me realize we weren't sending a property in createKey: https://github.com/Azure/azure-sdk-for-js/pull/11245#discussion_r488783772

Which led to this new issue: https://github.com/Azure/azure-sdk-for-js/issues/11263

[2020-09-16 11:40] IDONTSUDO opened #11294 "Unit tests err: The user, group or application"
-  @azure/keyvault-secrets, @azure/identity
- **Package Version**:
   @azure/identity: ^1.1.0,
   @azure/keyvault-secrets: ^4.1.0

- **Operating system**: Linux/Ubuntu 20
    - **node version**:  node 14.0.1
- [ yes] **typescript**
    - **version**: ^4.0.2

**Describe the bug**
I want to write some unit tests using mocha.

script to run.

[code]
console output:
[code]

My code.

[code]

I want to

[2020-09-16 12:26] kostia7alania commented on #11294
PLUS+++

[2020-09-16 12:58] sadasant commented on #11294
Hello! @IDONTSUDO (and @kostia7alania)

I'll be doing my best to help you.

My first guess is that this seems to be an issue with the environment variables.

With the parameters you've sent, it isn't clear to me how things are working together. I'll first write about what I don't understand from your issue, then I'll provide a next step that you can try, just in case it helps us find a quick solut

[2020-09-16 14:00] pcgeek86 commented on #11243
I took a look at the `@azure/ms-rest-browserauth` project, and it looks like that is for applications that run exclusively in the browser. I'm using the Express.js module to build my web application, so it's running on the server side.

Is there a way to just do a simple Authorization Code Grant flow, using one of the Azure SDK libraries? Maybe I shouldn't be using MSAL at all, if I'm trying to ob

[2020-09-16 14:17] willmtemple commented on #11240
@ramya-rao-a I don't think it's a problem.

@praveenkuttappan , I wonder if there's a good way to bake this into the pipeline logic using Rush? It seems like any time we change any package, what we really want to do is run CI on that package and all of its dependents (`rush -f` does this on the CLI, but I don't know how it would work with the path-based triggers in the pipelines). Would it be poss

[2020-09-16 16:58] #4375 closed

[2020-09-16 17:06] richardpark-msft opened #11296 "[service-bus] Using abortSignals with subscribe has a smaller scope than expected"
Using abortSignal's with subscribe can be "tricky", in that it has a more limited scope than might be expected. This is deliberate, but on further discussion, doesn't appear to be intuitive.

Currently the abortSignal only applies to the logical initialization phase of the subscribe. So in that window of time before the message handlers have been added to the receiver. In non-session receivers thi

[2020-09-16 17:11] daviwil commented on #11243
Hey Trevor, long time no see!

@ramya-rao-a's most recent suggestion is the simplest way to go, you'll want to create a simple class or object that implements [`ServiceClientCredentials`](https://github.com/Azure/ms-rest-js/blob/master/lib/credentials/serviceClientCredentials.ts) to wrap the token you get back from MSAL.  Here's a full example of how you'd do that in JavaScript:

[code]

You can t

[2020-09-16 17:13] jeremymeng commented on #11187
I don't think stream has a length, or did I miss anything?

keep-alive is enabled by default.  Only storage libraries use keep-alive.  I remember @XiaoningLiu added the keep-alive support but I couldn't locate the history.

[2020-09-16 17:20] zfoster commented on #11229
hey @FlourishS, this stack trace is all internal to node and is coming from `node-fetch` rather than the SDK. The SDK handles errors to provide meaningful stack traces often but in this instance it seems the developer would be aware of where the application is causing the error since this is intentionally being rate limited. We can improve errors and messages so if there's a case where it's unclea

[2020-09-16 17:48] deyaaeldeen commented on #10334
The VS Code debugger can be used on the compiled js files located in `dist-samples/typescript/dist/dist-samples/typescript/src/` with the following profile:
[code]

[2020-09-16 18:03] deyaaeldeen commented on #10877
I think we should wait on finalizing the discussion here https://github.com/Azure/azure-sdk-for-js/issues/10887 before doing any work.

[2020-09-16 18:44] joheredi opened #11301 "[Tables] Support OrderBy in queries"
Currently, neither CosmosDB Tables API nor Storage Tables support [OrderBy](https://docs.microsoft.com/en-us/rest/api/storageservices/Query-Operators-Supported-for-the-Table-Service?redirectedfrom=MSDN#unsupported-query-operators) when querying entities.

However, there is a .NET package ([Microsoft.Azure.Cosmos.Table](https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table)) that allows query

[2020-09-16 18:58] joheredi commented on #11179
@freakyfriday thanks for bringing this up. Unfortunately, neither CosmosDB Tables Rest API nor Storage Tables support [OrderBy](https://docs.microsoft.com/en-us/rest/api/storageservices/Query-Operators-Supported-for-the-Table-Service?redirectedfrom=MSDN#unsupported-query-operators). The new Tables SDKs are based on the REST APIs, so we can't support OrderBy at this point. I have filed a Feature Re

[2020-09-16 19:14] ramya-rao-a commented on #4868
Done with https://github.com/Azure/azure-sdk-for-js/pull/10769

[2020-09-16 19:14] #4868 closed

[2020-09-16 19:15] ramya-rao-a commented on #10953
Done with https://www.npmjs.com/package/@azure/keyvault-admin

[2020-09-16 19:15] #10953 closed

[2020-09-16 19:16] ramya-rao-a commented on #10532
Done with https://www.npmjs.com/package/@azure/data-tables

[2020-09-16 19:16] #10532 closed

[2020-09-16 19:55] #10644 closed

[2020-09-16 19:56] joheredi commented on #10644
We decided to go with flattening since _response is non-enumerable it doesn't get serialized when sending the entity object to the service

[2020-09-16 19:56] #10531 closed

[2020-09-16 19:56] joheredi commented on #10531
Samples for hero scenarios have been checked into the repo

[2020-09-16 19:57] #9910 closed

[2020-09-16 19:59] #10536 closed

[2020-09-16 19:59] #9513 closed

[2020-09-16 19:59] #10535 closed

[2020-09-16 20:09] mtrcn commented on #11179
@joheredi Maybe I asked unclearly. I know Azure Cosmos offers replication and other features about it. However, Table API in Storage SDK does not offer to set prefred location to read data like below;
[code]
taken from here; https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-global-distribution-sql-api?tabs=dotnetv2%2Capi-async#nodejsjavascript

Hopefully, we can have this settings with thi

[2020-09-16 21:22] #11223 closed

[2020-09-16 21:22] HarshaNalluru commented on #10710
Fixed with #11250

[2020-09-16 21:22] #10710 closed

[2020-09-16 21:29] jeremymeng opened #11303 "[Test,Recorder] Date vs UTC date issue in playback"
I have `new Date("2020/08/05")` in test code for a request body, the recording saved has a string representation of the **local** date time.  However, when the test is running on another machine, the date time on that machine might have a different time zone offset thus caused mismatch between request body, and the body in saved recording, i.e.,

Saved:

`{"activeSince":"2020-08-05T07:00:00.000Z"}

[2020-09-16 21:43] praveenkuttappan commented on #11240
@willmtemple : What I am trying out is to add path to eslint plugin into trigger path in CI.yml which will ensure to trigger that CI job when any change is done in eslint plugin. This change will be required in all CI.yml as opposed to adding a new pipeline which runs test of all packages.

[2020-09-16 22:16] HarshaNalluru commented on #11223
Hey @AElharouny,

The fix has been merged, will be part of the next preview release.
For the time being, you can use the dev version which has the mentioned fix - https://www.npmjs.com/package/@azure/service-bus/v/7.0.0-alpha.20200916.1.

You can try out the fix by installing the package with `npm install @azure/service-bus@7.0.0-alpha.20200916.1`
or by using the dev tag `npm install @azure/servic

[2020-09-17 02:34] ljian3377 commented on #11187
The input is a stream factory. So theoretically you can count the length before hand but is just inefficient.

[2020-09-17 03:25] luhan2017 commented on #10045
@stevengum , Hi, could you please help submit a release request for bot service?

[2020-09-17 06:00] cpwr commented on #5062
yeah, has it?

[2020-09-17 07:46] jeremymeng commented on #5062
implemented in #5333

[2020-09-17 09:07] AElharouny commented on #11223
Hi @HarshaNalluru
Justed tested the last dev package and problem is solved, I can confirm being able to use `InteractiveBrowserCredential` to interact with Service Bus. Thanks a lot for the fix :)

[2020-09-17 13:53] badgerowluke commented on #8871
I'm running into the same issue with version 1.1.0 attempting to build against Github Actions for Azure Static Websites.  Not sure if the ask here is specific to the build container for the Github Action or with the package.

[2020-09-17 14:17] gmantri opened #11309 "[Cosmos DB] Bug in "Delete Bulk" operation with "undefined" partition key value"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.9.1
- **Operating system**: macOS
- [X] **nodejs**
    - **version**: 10.16.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When perfor

[2020-09-17 14:46] gmantri commented on #11309
I dug a bit deep into this and found that if I provide an empty object(`{}`) instead of `undefined` for partition key value, the delete operation works well.

[2020-09-17 15:52] FlourishS commented on #11229
Hey @zfoster thank you very much for your explanation.

To make the case more tangible: Assume a production application with hundred different business entities that are persisted in cosmosdb. Outside of peak hours you find some of these FetchErrors in your app logs. Unfortunately you will not be able to trace down the problem due to this stack trace. Instead you will need to enable the highly pro

[2020-09-17 15:53] vinjiang commented on #10368
@DVassilev if SE has this functionality, it could implement more comprehensive logic in its own code instead of using sdk API directly. Given the facts that listing blobs can be unpredictable in terms of duration or resource consumption, we don't have plan to add this feature to storage js sdk yet. If you do believe it deserves a SDK feature, feel free to let us know.

[2020-09-17 15:53] #10368 closed

[2020-09-17 16:42] #10944 closed

[2020-09-17 17:28] scbedd opened #11312 "[Doc.MS CI] Failure against ai-anomaly-detector@next"
[Isolated Debugging Build](https://apidrop.visualstudio.com/Content%20CI/_build?definitionId=2892&_a=summary)

[code]

Digging in.

[2020-09-17 17:39] pcgeek86 commented on #11243
Thanks @daviwil! I'll give this a try.

[2020-09-17 18:30] ramya-rao-a commented on #8871
@badgerowluke Can you please log a new issue with more details?

[2020-09-17 18:34] v-jaswel commented on #11224
Per sbowles, this is going to be fixed on the server side and not the SDK side. Therefore I am closing.

[2020-09-17 18:34] #11224 closed

[2020-09-17 20:27] marcodalessandro opened #11316 "[@azure/event-hubs] Trying to close a subscription for which there is no Container for checkpoints, gives error"
- **Package Name**: @azure/event-hubs
- **Package Version**: 5.2.2
- **Operating system**: Docker container running node:12.18.2-slim [linux; amd64]
- [x] **nodejs**
    - **version**:  12.8.2
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.9.7
- Is the bug related to **documentation** in
  - [x] README.md
  - [x] source code documentation
  - [ ] SDK API docs o

[2020-09-17 21:24] deyaaeldeen opened #11319 "Supporting a minimum TS version"
This epic is to track adding support for a minimum TS version of 3.5.

- [ ] merge https://github.com/Azure/azure-sdk/pull/1805.
- [ ] close https://github.com/Azure/azure-sdk-for-js/issues/8275.
- [ ] there are some packages that contain type declarations for 3.1 and some do not.
  - for packages that do not contain the type declarations for 3.1, do the following:
    1. add [`downlevel-dts`](htt

[2020-09-17 22:14] #11225 closed

[2020-09-17 22:48] ramya-rao-a commented on #9404
@sadasant Are you referring to https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/identity/identity/test/manual-integration when you say manual tests?

[2020-09-17 22:51] ramya-rao-a commented on #10229
@jonathandturner Can you add details as to what exactly is required here?

[2020-09-17 23:04] ramya-rao-a commented on #10945
@jonathandturner As discussed offline, please check if this issue is still applicable

[2020-09-18 00:50] g2vinay opened #11323 "[BUG] Identity Node credentials don't work against Azure Stack."
- **Package Name**:   azure/identity
- **Package Version**:  1.2.0-beta.1
- **Operating system**: Windows
- [x] **nodejs**
    - **version**:

**Describe the bug**
**Node supported Identity credentials**: ClientSecretCredential, ClientCertificateCredential,  AuthorizationCodeCredential and UsernamePasswordCredential

1. These credentials target v2.0 endpoint to retrieve the token. The v2.0 endpoin

[2020-09-18 01:02] ocdi opened #11324 "Readme for queue package omits the simplest method to connect"
**Is your feature request related to a problem? Please describe.**

The README for instantiating the `QueueServiceClient` covers low level and manual methods. Coming from a C# world, I often just use the connection string. No need to parse it out and have separate settings for account name, account key, or anything else.

https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/storage/storage-qu

[2020-09-18 02:20] joheredi opened #11328 "[Anomaly Detector] Add snippets to Anomaly Detector Readme"
Add snippets to Anomaly Detector Readme

[2020-09-18 02:21] #10865 closed

[2020-09-18 03:28] ljian3377 commented on #11187
We belive this issue is addressed in the hotfix: @azure/storage-blob@12.2.1 and @azure/storage-file-datalake@12.1.1
Let me know if not.

[2020-09-18 03:28] #11187 closed

[2020-09-18 03:28] ljian3377 commented on #11163
We belive this issue is addressed with the hotfix: @azure/storage-blob@12.2.1 and @azure/storage-file-datalake@12.1.1

[2020-09-18 03:28] #11163 closed

[2020-09-18 06:25] ronkot opened #11331 "Cosmos query WHERE key IN (@arrayOfKeys) does not return items"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.9.2
- **Operating system**: MacOS 10.15.6
- [x] **nodejs**
    - **version**: 10.15.3
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.9.7
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug

[2020-09-18 07:26] vikas-mundra opened #11332 "Not getting the device Connect and Disconnect event on event hub"
- **Package Name**: @azure/event-hubs
- **Package Version**: ^5.0.2
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**:  v12.16.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: ^3.7.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe th

[2020-09-18 08:37] dw511214992 commented on #10457
Hi @ramya-rao-a Is there an issue in ms-rest-js to track this issue? thanks

[2020-09-18 11:54] badgerowluke opened #11333 "@azure/identity@1.1.0"
- **Package Name**: @azure/identity
- **Package Version**: 1.1.0
- **Operating system**: Github Actions ubuntu-latest
- [x] **nodejs**
    - **version**: 12.18.2
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Descr

[2020-09-18 13:16] IDONTSUDO commented on #11294
thx!

[2020-09-18 13:16] #11294 closed

[2020-09-18 14:15] sadasant commented on #11294
@IDONTSUDO (and @kostia7alania), and others,

Come back anytime! We'll be here, ready to help! 👍

[2020-09-18 14:26] joheredi opened #11336 "[Anomaly Detector] Missing types in package"
Types are missing in the `@azure/ai-anomaly-detector` package. This problem was fixed with https://github.com/Azure/azure-sdk-for-js/pull/10916 and will be available in the next beta release.

The latest alpha versions already have this fix.

[2020-09-18 14:29] sadasant opened #11337 "Unable to authenticate using service principal"
We're currently aware that some users are reporting being unable to authenticate using the Service Principal, see this issue in the Python repository: https://github.com/Azure/azure-sdk-for-python/issues/13871

We are already in communication with the services.
Soon we will be corroborating whether this is also an issue in TypeScript or not.

Please reply to this issue if you have encountered a si

[2020-09-18 14:41] sadasant commented on #10828
@KevinBurton We might have an update for this issue later this year. For now we're pretty busy. I hope things are good on your side!

[2020-09-18 15:56] gmantri opened #11338 "[Storage Queue] How to use retry policy?"
- **Package Name**: @azure/storage-queue
- **Package Version**: 12.1.0
- **Operating system**: macOS
- [X] **nodejs**
    - **version**: 10.16.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
In

[2020-09-18 16:28] ihatecodinglikeking opened #11339 "InvalidOperationException: Error: EPERM: operation not permitted"
AZURE downloadFile function is looking in to wrong directory

I am not sure what is real issue but my code is working fine in one env and not working on other

Error:
`2020-09-18T15:26:54.375 [Error] A ScriptHost error has occurred
2020-09-18T15:26:54.375 [Error] System.InvalidOperationException : Error: EPERM: operation not permitted, open 'D:\Windows\system32\tmp\dsf5sdf-s8sdf5sd-sdfsd8'
    at

[2020-09-18 17:53] ramya-rao-a commented on #11332
Hey @vikas-mundra

Given that you are seeing certain events do coming through, I do not believe this is a problem with the Event Hubs SDK.
This is most likely related to how the message routing is happening from Iot Hub to Event Hubs.

Please log an Azure support ticket from the Azure portal so that our support teams can assist you in figuring out what is happening here.

@serkantkaraca, Can you c

[2020-09-18 18:29] #11243 closed

[2020-09-18 18:31] raidraptor opened #11341 "arm-iothub uses depreciated ms-rest-js"
It wouldn't work with "@azure/ms-rest-js": "^2.0.8" since webresource got changed to webresourcelike

[2020-09-18 20:18] joshfree opened #11343 "Improve Doc phrasing for DefaultAzureCredential.GetToken"
Tracking Work Item

The statement from the XML docs mentioned above, was meant to discourage people from calling GetTokenAsync directly in the most common case that they are using a client from Azure SDK which supports authenticating using a TokenCredential.  Let's clarify the message as at least 2 users have been confused by the phrasing above.

Related https://github.com/Azure/azure-sdk-for-net/

[2020-09-18 20:19] joshfree commented on #11343
tagging as `blocking-release` purely to make this stand out for the October milestone.

/cc @jianghaolu who is looking at this now for Java (we'll want to make this consistent across all 4 languages)

[2020-09-18 21:15] sadasant commented on #10229
Here's from Vinay:

From Scott Schaab:

[2020-09-18 22:03] richardpark-msft commented on #11316
Hi @marcodalessandro, let me explain what's happening first and then we can talk about a path forward.

The reason that the subscription causes a checkpoint store to occur is that the subscription, when stopped, is updating the remote blob store so any other consumers will be aware that the partitions are now abandoned (ie, no longer be read from). Without this the consumers would all have to cont

[2020-09-18 22:12] marcodalessandro commented on #11316
Hey @richardpark-msft thanks for the answer :)

We delete the checkpoint mainly to clean up them when we don't need them anymore (i.e.: the eventhub to which they refer to, has been deleted).
In this scenario which actor should be in charge of deleting the checkpoint?
Being several instances of the same microservice running on the same eventhub in a multi processor scenario, and being them statele

[2020-09-18 22:28] richardpark-msft commented on #11316
Ah, I see :)

In this case the eventprocessor.stop() is doing the abandon as the last step - it's the last critical piece so it's done after all of message retrieval code is deactivated.

You can see that [here](https://github.com/Azure/azure-sdk-for-js/blob/b8e3ac20261e0781ed7fc8fcfe8a048300d37388/sdk/eventhub/event-hubs/src/eventProcessor.ts#L611)

Given that you specifically do not care about u

[2020-09-18 22:40] richardpark-msft commented on #11316
I'm going to resolve this issue with a doc update - it seems worth mentioning that .close() of the subscription does update remote state to indicate that it's no longer consuming from a partition, which can be useful to know.

[2020-09-18 23:26] #11316 closed

[2020-09-18 23:44] HarshaNalluru opened #11346 "[Service Bus] Fix docs generated in Typedoc"
Following is a sceenshot from the generated docs with typedoc
![image](https://user-images.githubusercontent.com/10452642/93653443-be079000-f9cd-11ea-9454-8aa435c27a6e.png)
https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-service-bus/7.0.0-preview.6/index.html
logger, isError and toAmqpAnnotatedMessage are meant to be internal and are not exported through `index.ts`, however they s

[2020-09-19 00:55] jongio opened #11348 "Create Auto Release Notes Script"
Take this .NET script that Pavel created and adapt it to JS/TS.

https://github.com/Azure/azure-sdk-for-net/blob/master/eng/scripts/Collect-Changelogs.ps1

[2020-09-19 03:15] sarangan12 commented on #11277
Code complete

[2020-09-19 03:15] #11277 closed

[2020-09-19 03:30] patelhirn opened #11349 "Error: Uncaught (in promise): RestError: Failed to send request"
Hi

PackageName: @azure/storage-blob
Version : 12.2.1
Node: v14.4.0
OS : Windows

Here is my code for upload files to Blob:

[code]

Getting below errors after 5-10 seconds of uploading the files, though file/s is/are successfully uploaded...

Any suggestion?

**Error # 1**
ERROR Error: Uncaught (in promise): RestError: Failed to send request to https://AzureBlobStorage/Files/FBEB2AE9-B14C-4C78-8F

[2020-09-19 10:02] master-maintenance1-peer-connect opened #11353 "query(with OFFSET&LIMIT) in cosmos DB-node.js SDK is too slow than REST-API"
- **Package Name**:    "@azure/cosmos" (Azure/azure-sdk-for-js)
- **Package Version**:  3.7.2
- **Operating system**: Linux on Azure
- [v] **nodejs - version: 10.21
- [v] **browser**
    - **name/version**:  EDGE, Chrome
- [v] **typescript    - version**:   4.0.2, 3.9.7, 3.8
       -- related package:  "webpack": "^4.42.0",  "webpack-cli": "^3.3.12","babel-loader": "8.1.0"

- Is the bug related to

[2020-09-19 13:43] sadasant commented on #11337
We have been unable to reproduce this. About all of the automated tests we have that check this behavior against the latest version of our packages have gone green over the last couple of days. This issue seems to be specific to Python. I'll close it.

[2020-09-19 13:43] #11337 closed

[2020-09-21 04:25] ramya-rao-a commented on #11243
Looks like that solution worked for you @pcgeek86, thanks for reporting the issue.

@daviwil,
As discussed offline, can you update the readme for `@azure/ms-rest-nodeauth` to include a note on the above solution if the one already has an access token? Logged https://github.com/Azure/ms-rest-nodeauth/issues/103

[2020-09-21 05:24] ramya-rao-a opened #11359 "[Identity] Wrapper for packages that use @azure/ms-rest-nodeauth"
Most of the JS packages for Azure services use the credentials from the [@azure/ms-rest-nodeauth](https://www.npmjs.com/package/@azure/ms-rest-nodeauth). These follow the [TokenClientCredentials](https://docs.microsoft.com/en-us/javascript/api/@azure/ms-rest-nodeauth/tokenclientcredentials?view=azure-node-latest) interface.

Now the latest docs around Identity will lead people to the [@azure/ident

[2020-09-21 05:26] ramya-rao-a commented on #11360
@jonathandturner, @schaabs, Any thoughts on the above idea?

[2020-09-21 06:37] ramya-rao-a commented on #10457
@dw511214992, We do not have an issue for this. Please log one in https://github.com/Azure/ms-rest-js/issues

[2020-09-21 06:57] dw511214992 commented on #10457
Hi @chenjianfei2017 please create an issue in https://github.com/Azure/ms-rest-js/issues thanks

[2020-09-21 11:55] gmantri opened #11368 "[Storage Queue] Return HTTP Status Code in result"
**Is your feature request related to a problem? Please describe.**

According to the [`REST API documentation`](https://docs.microsoft.com/en-us/rest/api/storageservices/create-queue4), if one tries to create a queue with same name/metadata as that of an existing queue, the service returns a 204 status code. However currently the Storage Queue SDK (version 12.1.0) does not expose the HTTP status c

[2020-09-21 13:00] sadasant commented on #9726
Just to reiterate, for @autorest/typescript v6 and autorest v3 we have this other issue: https://github.com/Azure/azure-sdk-for-js/issues/9590

[2020-09-21 13:37] ricklang opened #11369 "@azure/identity"
- **@azure/identity**:
- **1.1.0**:
- **@azure/keyVault**:
- **4.1.0**:
- **Ubuntu 20.04**:
- [ ] **nodejs**
    - **14.7.0**:
- [ ] **browser**
    - **chrome/latest**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [*] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Try to access Azure

[2020-09-21 14:07] sadasant commented on #11027
The create key parameters seem to be missing several properties. Here's another example: https://github.com/Azure/azure-sdk-for-js/issues/11263

I'll probably address these in the same PR. Something like "align create key options bag".

[2020-09-21 15:47] ramaganesan-rg commented on #8158
Thanks for your feedback. We believe this issue has been fixed.

[2020-09-21 15:47] #8158 closed

[2020-09-21 16:11] jefjos opened #11371 "2 network calls when calling sign API"
- **Package Name**:  @azure/keyvault-keys
- **Package Version**:  4.0.0
- **Operating system**:
- [ ] **nodejs**
    - **version**:  14.x

**Describe the bug**

Key sign API makes 2 network calls

POST https://my-kv-eus.vault.azure.net/keys/tls-root/d5832f21538e4cb6bf6ea9207038b922/sign?api-version=7.0 HTTP/1.1
content-type: application/json; charset=utf-8
user-agent: azsdk-js-keyvault-keys/4.0.4

[2020-09-21 16:37] sadasant commented on #11027
Disregard, the createKey method receives the keyType directly. That leaves #11263 out of the picture.

[2020-09-21 16:41] sadasant commented on #9845
Changed the body of the issue and the title to more generally refer to test alignments across languages.

[2020-09-21 16:42] sadasant commented on #11027
I believe that #11370 is enough to close this issue.

[2020-09-21 17:51] sadasant commented on #11029
Note from Heath, from the teams chat:

[2020-09-21 17:53] heaths commented on #11029
For now, hold off. I looped you all into a thread where MHSM just wants this as an opaque JSON blob, so model structure won't matter.

😉

[2020-09-21 18:04] sadasant commented on #11029
I didn't see that on time! Thank you!

[2020-09-21 20:25] deyaaeldeen opened #11373 "[Abort Controller] Investigate the role of arguments"
Investigate the issue raised here: https://github.com/Azure/azure-sdk-for-js/pull/11269/files#r489043950.

[2020-09-21 21:04] sadasant opened #11374 "[Identity] Document the extension package when available"
Today, if one tries to install `@azure/identity@next` it will fail and then give warnings for various reasons. This is all due to required and optional dependencies.

In Linux, to install MSAL, the user needs to install first `pkg-config`.

The rest of the dependencies are optional, but we're yet to document how to install them and what they're used for. These optional dependencies include `libsec

[2020-09-21 21:07] jonathandturner commented on #11374
[code]

You don't need `pkg-config` either. We just missed that @azure/identity was installing correctly after skipping the optional dependency.

[2020-09-21 21:09] sadasant commented on #11374
This is related to: https://github.com/Azure/azure-sdk-for-js/issues/11333

[2020-09-21 21:24] sadasant commented on #11333
@badgerowluke hello, Mr Badgerow

I'm Daniel, I'll be doing my best to help you.

Do you mind installing the package `pkg-config`? I believe this could be the solution.

I believe it should be possible to add this step to your workflow. In one of the jobs, something like `sudo apt install -y pkg-config`.

Please report back when you can.
Thank you for submitting this issue!

[2020-09-21 21:34] sadasant commented on #11333
Something to point out is that NPM is only showing warnings at the end. Are you able to reproduce this locally?

[2020-09-21 21:38] #10229 closed

[2020-09-21 21:59] xirzec opened #11376 "Collapse generated files in review"
GitHub has support via .gitattributes to treat generated files as do-not-display-by-default in PRs:

https://docs.github.com/en/github/administering-a-repository/customizing-how-changed-files-appear-on-github

It also avoids them counting towards language metrics on the repo, which is neat.

We should do this for all recordings + AutoRest.TypeScript generated code.

[2020-09-21 22:01] HarshaNalluru commented on #11376
We do this for the recordings already.

[2020-09-21 22:03] #9726 closed

[2020-09-21 22:03] #11027 closed

[2020-09-21 22:29] ramya-rao-a commented on #11341
Thanks for reporting @raidraptor

@qiaozha Can we please update the `@azure/arm-iothub` package using the latest v4 code generator to fix this?

[2020-09-21 22:31] xirzec opened #11378 "Enable a sample-first development experience for new packages"
Today authoring samples is very difficult (no good IntelliSense) and is oriented towards providing content that will work on docs.microsoft.com.

However, it is very useful for a library author to be able to interactively build up a sample program while they are testing out and designing their new client. As such, I'd like to accomplish the following:

1. A library author can easily create a new l

[2020-09-21 22:40] ramya-rao-a commented on #11067
@bterlson, @xirzec, Any thoughts on how we should proceed here?

[2020-09-21 22:43] ramya-rao-a commented on #10642
The latest package version 12.2.0 is in sync with what the docs are showing now.

Thanks for reporting @youn123!

[2020-09-21 22:43] #10642 closed

[2020-09-21 22:47] ramya-rao-a commented on #11069
I doubt if a customer can do this.
@sarangan12 I recall you had done some investigation in this area. Can you share any details?

@ljian3377,
Can you share more details on how you encountered the failure?
Do you see this in CI or when you run manually?
Do you see it when using certain node versions?

[2020-09-21 22:56] KarishmaGhiya opened #11379 "Bug in recordings for replacement"
- There is a bug in test-utils-recorder - both for browser and node in `test\util\recordedClients.ts` in the logic for replacing the secrets where it is not able to handle these cases correctly-
1. When there is a pattern like * or @ in a query parameter the text replacement doesn't work, risking the exposure of secrets
2. When there is a common word like "Azure" as an environment variable, it rep

[2020-09-21 22:57] praveenkuttappan commented on #9920
@ljian3377 : I will work on this change. Can you please share more details on changes required?

[2020-09-21 22:58] ramya-rao-a commented on #7311
Given that this is more than 6 months old and we have had countless changes since then and that the builds are green now, closing this :)

[2020-09-21 22:58] #7311 closed

[2020-09-21 23:10] ramya-rao-a commented on #11338
Thanks for reporting @gmantri

@xirzec This falls into the bucket of some common documentation we should have in this repo that applies across packages to cover topics like retries and logging. Can you log an issue to track all such documentation we want to have?

@jeremymeng  Meanwhile, can you share pointers on how to use the retry policy?

[2020-09-21 23:16] HarshaNalluru commented on #11379
Query params are not saved in the node recordings. Query params to not save can be skipped with the API exposed through the recorder (`queryParamsToSkip` parameter).
We assume the environment variables required in the tests to be secrets. If a certain env var is not a secret and can be public, there is no point for it to be an environment variable, hard-code it in the tests instead.

[2020-09-21 23:22] jeremymeng commented on #11292
@himanshu849 are you sharing your controller instance among different requests?  My understanding is that once an abortcontroler triggered abort signal, it will remain aborted. If that's the case, you might want to create new abortcontroller instance for new requests.

[2020-09-21 23:31] jeremymeng commented on #11379
we have this in saved recording `{"connectionString":"sqlServer_connection_string","query":"select * from blob_container2 where Timestamp = @StartTime"}`.  When playback, we do have quests with replaced value, which caused mismatch. `{\"connectionString\":\"sqlServer_connection_string\",\"query\":\"sqlServer_query\"}`.  Something isn't right when saving the recording?

[2020-09-21 23:42] HarshaNalluru commented on #11379
Recordings have an additional encoding with `\` ?

[2020-09-21 23:42] xirzec commented on #11067
We already pull in `xml2js` for the node case, presumably we may be able to leverage this for the browser case as well (in exchange for bundle expansion, of course.)

[2020-09-22 00:07] jeremymeng commented on #11379
I think the `\"` is just what was logged to console. The mismatch is the connection string value. We worked around it by manually update the recordings to have the replacement value.

[2020-09-22 00:57] ramya-rao-a commented on #10762
@praveenkuttappan, Can you share some examples of such service specific steps?

[2020-09-22 01:00] ramya-rao-a commented on #10725
@praveenkuttappan, @willmtemple, Do either of you have more details on this? I was under the assumption that smoke test was against packages published to npm. This seems to be for the dev feed.

[2020-09-22 01:02] ramya-rao-a commented on #10288
@KarishmaGhiya, Do you recall anything regarding the above?
cc @praveenkuttappan

[2020-09-22 01:07] praveenkuttappan commented on #10725
Smoke test uses daily dev(alpha) versions in npm. I think issue is to ensure npm has recent dev versions and we are running smoke test against latest changes instead of getting false positive if smoke test is using old dev packages.

[2020-09-22 01:12] bterlson commented on #11067
We should replace `window.navigator` with `self.navigator`, agree with @Obi-Dann there.

I worry about adding yet another required dependency in the browser, but a way to plug in xml2js when you need it seems like a good idea, possibly in addition to making missing xml a late error when you use functionality that depends on it. @jeremymeng is this late error a possibility, or is XML used in too ma

[2020-09-22 01:16] ramya-rao-a commented on #7472
@KarishmaGhiya, Can you share details on which utils/scripts folder are you referring to here?

[2020-09-22 01:17] ramya-rao-a commented on #5784
@mitchdenny ?

[2020-09-22 01:21] ramya-rao-a commented on #4969
@kurtzeborn This issue is over a year old. Is this still applicable or have you gone through the above steps already?

[2020-09-22 01:23] ramya-rao-a commented on #3739
@KarishmaGhiya, Can you provide an update on whether this is still a problem or not based on the last time you gave this a look?

[2020-09-22 01:24] ramya-rao-a commented on #3264
@bterlson, Do we still need this given that the TS team includes running their latest on our code anyway?

[2020-09-22 01:27] xirzec opened #11381 "[search-documents] Reference docs pulling from generated types instead of exported ones"
It seems that the reference docs are not properly grabbing our public interfaces.

Example problem:

The docs for SearchOptions show up here:

https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-search-documents/11.0.3/interfaces/searchoptions.html

![image](https://user-images.githubusercontent.com/639216/93836487-cc58e480-fc37-11ea-813d-47859ac09d3c.png)

It also confusingly shows u

[2020-09-22 01:54] ramya-rao-a commented on #1998
I am in two minds of updating the home page to point to the root folder. That makes it the same as the `repository` field which then begs the question what is the difference between the two?

The `repository` fields helps in multiple cases
- customers wanting to log issues
- contributors wanting to open a PR
- curious folks to check out the code
      - but since we are a mono repo, unless we have

[2020-09-22 03:18] ljian3377 commented on #11324
Saw you PR. Thanks for contributing.

[2020-09-22 03:29] ljian3377 commented on #9920
@praveenkuttappan
I think you only need to upgrade the PSH storage package we used for storage resource management in pipeline to the latest version.
I need to be able to create an account SAS that support the newly added SAS permissions, which will naturally be supported if we upgrade to the latest version of the PSH storage management package.

[2020-09-22 03:40] ljian3377 commented on #11069
Do you see this in CI or when you run manually?
Do you see it when using certain node versions?

I encountered this when testing manually at local. I created an account with "Mininum TLS version" set as "Version 1.2". I am using Node.js v12.18.4.
According to this comment, TLSv1.2 is the default TLS minimum? Then I don't know why it failed. How to find out which version we are acctually using.

ht

[2020-09-22 05:35] sarangan12 commented on #10457
I looked into the issue of ms-rest-js. Yes. We do not consider 404 as an error. It is not being thrown like other error codes. Actually, We do have test exclusively for this scenario [Link](https://github.com/Azure/ms-rest-js/blob/master/test/defaultHttpClientTests.ts#L41):

[code]
Now, How does other languages handle this scenario? I have checked Ruby SDK and it also does not consider 404 as an e

[2020-09-22 06:39] gmantri commented on #11338
Thanks @ramya-rao-a!

One more issue I would like to pile on with this is the ability to add `client request id` in the new SDK. I looked around but could not find a way to include that in the SDK. In the older SDK, it was as simple as `clientRequestId` as one of the request options. I would appreciate if documentation can be updated to include a sample for that as well.

On a different note, is t

[2020-09-22 08:35] HarshaNalluru commented on #5654
Abort signal - addEventListener instances
- service-bus
  - [checkAndRegisterWithAbortSignal](https://github.com/Azure/azure-sdk-for-js/blob/dac8fcd53d25e0f176915049e41bf75380b6c249/sdk/servicebus/service-bus/src/util/utils.ts#L561) is the only instance and it returns a method which when executed, removes the listener. This method wherever being used, calls the returned method to remove the listen

[2020-09-22 08:35] #5654 closed

[2020-09-22 09:15] mitchdenny commented on #5784
Yes. I think that they are all using the same set up logic now.

[2020-09-22 09:48] jis260 opened #11394 "Building for browser as webpack library"
I'm looking for guidance please on my issue building module, azure/storage-blob, for the browser environment.

My index.js is:
`const { BlobServiceClient, AnonymousCredential, ContainerClient, BlobClient, BlockBlobClient } = require("@azure/storage-blob");
export { BlobServiceClient, AnonymousCredential, ContainerClient, BlobClient, BlockBlobClient };`

My webpack.config.js is:
`const path = requi

[2020-09-22 11:37] sadasant opened #11396 "[Key Vault] Align with the new features test coverage in other languages"
As part of the October release, align as much as possible with the test coverage of new features done by other languages.

I'll add more information to the body of this issue as soon as I find it.

[2020-09-22 13:39] badgerowluke commented on #11333
I'll throw the pkg-config on as soon as I can get a few minutes @sadasant, I was expecting that was going to be part of the solution but didn't get to my workstation over the weekend.  I haven't been able to repro the same conditions locally as I'm building directly on a mac and haven't done the bootcamp/dockerizing/other steps necessary to produce a clean linux environment to build through.

The

[2020-09-22 13:50] sadasant commented on #9383
Here's what I've found so far.

First, some links:

- .Net https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
- TS https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/src/credentials/managedIdentityCredential.ts

The two errors I see in .Net are: `AuthenticationResponseInvalidFormatError` and `MsiUnavailableError`

[2020-09-22 13:53] sadasant commented on #11374
Added the October milestone to get attention to this.

[2020-09-22 13:55] sadasant commented on #11333
@badgerowluke While we're studying this, even though we've experienced similar issues, we haven't been able to conclude that the error you're seeing is the source of the build failure. Even though it does produce an error, at the end NPM just skips the dependency entirely, see these lines:

[code]

We have made an issue to make this clearer: https://github.com/Azure/azure-sdk-for-js/issues/11374 (

[2020-09-22 13:56] sadasant commented on #11333
@badgerowluke I'm also taking a note on Azure actions. That's a scenario we haven't explored in depth. I'll try to budget some time to write a sample project similar to what you're describing.

[2020-09-22 14:01] badgerowluke commented on #11333
I'd love to help out with that, time budgeting permitting.

[2020-09-22 14:03] zfoster commented on #11353
Hi @master-maintenance1-peer-connect,

This behavior you're seeing in the portal is not an issue with the SDK, the portal sends the request to the SDK with a query plan because the portal does not assume whether you have a single partition, multiple partitions, or that the partitions will not split before or after the request. You can use the SDK with limit/offset on a single partition and it will

[2020-09-22 14:03] #11353 closed

[2020-09-22 14:04] sadasant commented on #11333
It might take me about a month to start this, so keep that in mind. If I happen to be able to schedule it, I will write you back for sure!

[2020-09-22 14:14] zfoster commented on #11331
Hey @ronkot, I think we have some missing docs related to this, but the way to fetch these is using: [ARRAY_CONTAINS](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-array-contains)

[code]

this should work

[2020-09-22 14:14] #11331 closed

[2020-09-22 14:19] badgerowluke commented on #11333
sounds great.  The specifics here aren't blocking.

[2020-09-22 15:28] colbroth opened #11397 "Unable to download a snapshot of an append blob in v12"
**Is your feature request related to a problem? Please describe.**
Problem:
Having trouble downloading an actively updating append blob using v12 library. I am in the process of updating our code to v12. In v11, I used the approach recommended here "https://github.com/Azure/azure-storage-js/wiki/Read-an-Actively-Updating-Append-Blob". This approach recommended create a snapshot and download the sn

[2020-09-22 15:36] deyaaeldeen opened #11398 "[ESLint Plugin] Should accept "types": "types/latest/<package-name>.d.ts""
Some of our packages supports multiple type declaration files to support older versions of TypeScript and in those packages the `types` field in `package.json` points to the type declaration in `types/latest` but the ESLint plugin always looks for the file in `types` only. The fix should be to allow both cases.

[2020-09-22 15:41] deyaaeldeen commented on #11398
closing, false alarm.

[2020-09-22 15:41] #11398 closed

[2020-09-22 17:06] #9888 closed

[2020-09-22 17:31] EricJizbaMSFT commented on #10457
@sarangan12 I don't think this should be closed. If you're not going to throw an error (which I still prefer), you at least need to update the return type to be something like this: `Promise<Models.WebAppsGetResponse | Models.DefaultErrorResponse>`.

This bug caused us a lot of weird behavior when switching from the old sdk package ("azure-arm-website") because I guess that would return `undefined

[2020-09-22 18:12] sadasant commented on #11396
Depending on the availability of the 7.2-preview service resources, we might or might not be able to tackle this issue for this release. In the mean time, we'll wait.

[2020-09-22 18:25] sadasant commented on #11374
Moved this to backlog by mistake (the page wasn't fully loaded), but since we haven't budgeted this, I think it's better in backlog now.

[2020-09-22 18:28] praveenkuttappan opened #11402 "Smoke test for storage-blob-changefeed is failing with authentication error"
Smoke test is failing for storage-blob-changefeed with below error. Currently smoke test is disabled for this package. We should reenable this test once issue in this sample testing is resolved.

##[error]Test Failed - Package: storage-blob-changefeed - Sample File:basic.js
Exception: RestError: ﻿<?xml version="1.0" encoding="utf-8"?><Error><Code>NoAuthenticationInformation</Code><Message>Server f

[2020-09-22 18:46] snaheth commented on #9061
@avivs2 - You can sign up for [TemplateSpecs](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/quickstart-create-template-specs?tabs=azure-powershell), which is in preview, for your scenario.

I know your request above is to do this directly within the JS SDK. I'm not sure what the plan for that is - @apclouds or @alex-frankel can speak to it better.

[2020-09-22 18:48] deyaaeldeen opened #11404 "[ESLint] Investigate how to satisfy the no-invalid-this rule"
Currently, we disable this rule in a lot of places in our code base but we should spend some time when we use `this` in those places. The code can become more simpler to reason about when there is no `this` usage.

[2020-09-22 18:49] apclouds commented on #9061
Hi @avivs2 Template Specs is scheduled to Public Preview in mid October. In the meantime, you can sign up for the private preview here: https://aka.ms/templateSpecOnboarding

[2020-09-22 18:55] schaabs commented on #9383
So in .NET the relevant exception types are `AuthenticationFailedException` and `CredentialUnavailalbleException`. The main distinction between these two exception types is how they are handled by `DefaultAzureCredential` and `ChainedTokenCredential`. These chained credential types will handle `CredentialUnavailableException` and continue trying to get a token with the next credential in the chain

[2020-09-22 18:57] praveenkuttappan opened #11405 "Add new json config for smoke test configuration at package level"
Currently smoke test configuration like whether package or any specific sample file is opted out is configured in main package.json in package root. This actually adds more details in package.json which already has lot of. configuration details. Smoke test configuration should be moved into its own json configuration file like smoke-test.json in package root directory and this configuration can be

[2020-09-22 19:07] schaabs commented on #9383
Also it should be noted that we also raise `CredentialUnavailableExcpetion` from `ManagedIdentityCredential` in the case that no endpoint is available.  This in practice means that no endpoint is specified via the environment either through `MSI_ENDPOINT` or `IDENTITY_ENDPOINT` and no connection can be made to the well known IMDS endpoint `http://169.254.169.254/`

[2020-09-22 19:11] sadasant commented on #11333
@badgerowluke In the mean time, is the problem that the build is currently broken or breaking for this specific issue? or is it that the warnings make it look like it's breaking for that reason?

[2020-09-22 19:24] xirzec commented on #10239
Also should discuss common client options like retry policies and logging.

[2020-09-22 19:26] badgerowluke commented on #11374
It is failing the build.  Because of the ARM Deployment in the azure pipeline portion The "app" deploys, but the angular/node api does not.  I'll be able to tell you more this evening when I can add the apt-get step

[2020-09-22 19:32] xirzec commented on #11338
@ramya-rao-a  the tracking issue for core documentation is here: https://github.com/Azure/azure-sdk-for-js/issues/10239

@gmantri We automatically set a client request id in this policy: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-http/src/policies/generateClientRequestIdPolicy.ts

If you really want to set your own header for this you could set a custom header with the cor

[2020-09-22 19:38] #5784 closed

[2020-09-22 21:15] sadasant commented on #11371
@jefjos Hello! I'm Daniel and I'll doing my best to help.

This response is organized in two parts:

- First we'll point out the concept behind these network requests.
- Then we'll go through a more concrete example.

### Concept: The Challenge Based Authentication

Azure Key Vault requires that access tokens are scoped to different audiences, depending on which cloud the Key Vault exists in. Beca

[2020-09-22 21:30] scbedd commented on #11312
This ended up being because we didn't publish types. Resolved by pointing at dev feed temporarily on Friday, followed by Jose releasing a patch release that resolved this issue as well.

[2020-09-22 21:30] #11312 closed

[2020-09-22 21:38] zfoster commented on #11309
gotcha, thanks @gmantri! I think the `{}` is the correct value to pass for undefined. I may need to fix the type on partitionKey for Bulk!

[2020-09-22 21:39] zfoster commented on #11259
hey @FlourishS - I'll look into this and get back to you tomorrow, thanks for reporting

[2020-09-22 22:27] praveenkuttappan commented on #9920
@ljian3377 Live test is already using latest az.storage pwsh version. Last night run for storage-blob test has used az.Storage 2.6.0
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=547149&view=logs&j=bbd7d436-e05d-51a8-99a8-0701dc9dffeb&t=506acce4-5dbd-59cf-ef88-f828766a41e9&l=634

Are you looking to install any specific version of az.Storage module or any other module?

[2020-09-22 22:35] jeremymeng commented on #11379
It's the other env var replace ment caused the mismatch.  we have another unrelated env var with value `adsample`, then we have the original query as `select * from adsample where Timestamp = @StartTime`.  `adsample` was replaced because of the replacement of the unrelated env var and we got `select * from blob_container2 where Timestamp = @StartTime`.  Therefore the search/replace would fail to f

[2020-09-22 22:43] KarishmaGhiya commented on #7857
This has been updated to Typedoc 0.18.x

[2020-09-22 22:43] #7857 closed

[2020-09-22 22:46] KarishmaGhiya commented on #9535
https://github.com/Azure/azure-sdk-for-js/blob/master/eng/pipelines/aggregate-reports.yml#L21 Examples like these  - node version, vmImage etc should be pulled in from https://github.com/Azure/azure-sdk-for-js/blob/master/eng/pipelines/templates/variables/globals.yml

[2020-09-22 22:57] KarishmaGhiya commented on #10288
From what I can recollect some of the libraries wanted their own custom configuration for typedoc, which is why they decided to overwrite the central configurations. But it will be great to have a mutual agreement for a standard typedoc configuration among the various libraries, for standardization.

[2020-09-22 23:07] sadasant commented on #11369
@ricklang Hello, I'm Daniel. I'll be doing my best to help you today.

I am not 100% sure I am understanding your issue, but I'll do a first iteration according to the following:

I can work with that!

I'm also taking in consideration the following:

- @azure/identity version 1.1.0.
- @azure/keyVault version 4.1.0.

---

I'm organizing this response in the form of a quick tutorial. My goal is to

[2020-09-22 23:28] KarishmaGhiya commented on #2485
This issue was created before we adopted to use rush - I think the deprecation warnings are no longer shown now - but we need to manually check on the deprecation warnings or security vulnerabilities using these steps now - https://github.com/Azure/azure-sdk-for-js/issues/9248

[2020-09-22 23:37] HarshaNalluru commented on #11379
Interesting case.
I'm thinking of handling this scenario by having a tree structure where the env var which is a substring of another env var will be a child node.

[code]

And the replacements will be done by traversing the tree.

Thoughts?

[2020-09-22 23:43] sadasant commented on #11379
Does the solution to this need to be universal? If it's only for one client of a small set of clients, this could live in the client's test code. The recorder already provides solutions for arbitrary replacements.

[2020-09-22 23:45] sadasant commented on #11379
The complexity of supporting hiding all the possible secrets is unbounded.

[2020-09-22 23:47] HarshaNalluru commented on #11379
You're right about this happening for only one client, but this is a potential problem for all the SDKs, if a new env var is added ever.
And with the tree structure, we could fix the issue once and for all and that too in a non-breaking fashion.

[2020-09-22 23:49] sadasant commented on #11379
If you ask me, I believe we can copy the code used for this specific client in the other clients. I believe we should change the core only when the value of the change has proven to be sufficient, and not preemptively.

[2020-09-23 00:37] gmantri commented on #11309
@zfoster Thanks! You may also want to think about `null` values as well because the code snippet I mentioned above should fail for that as well as the code will be calling `replace` operation on `null`.

[2020-09-23 01:37] ramya-rao-a commented on #9799
Closing in favor of #11255

[2020-09-23 01:37] #9799 closed

[2020-09-23 02:14] ljian3377 commented on #11402
@praveenkuttappan

How is the process env set in the smoke-test environment? Does the account has the change feed feature enabled?
Change feed samples use the credentials in the same way as other storage packages. I wonder why it is failing with authentication error.
There is some "The container ($blobchangefeed) does not exist" errors in the log. If that's the real cause, the it's probably due to

[2020-09-23 02:27] mikeharder commented on #11402
The test account is deployed with this ARM template:

https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/storage/test-resources.json

[2020-09-23 02:43] ljian3377 commented on #9920
Then why it's still failing when I tried to create SAS with ` "signedPermission": "rwdxftlacup"`.
https://github.com/Azure/azure-sdk-for-js/pull/11004

live tests pipeline log:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=548243&view=logs&j=34d05327-3286-5fd0-44d3-76aebff5d924&t=69f66ec9-cb96-5533-f751-56577de2d134

@blueww what package we are talking about exactly?

[2020-09-23 03:24] blueww commented on #9920
The permission should be supported from Az 4.5.0 (Az.Storage 2.4.0): https://github.com/Azure/azure-powershell/releases/tag/v4.5.0-August2020
And I just tested it on latest Az.storage 2.6.0, it work well:

[code]

Please run "Get-module", and check which version of Az.Storage do you use?

[2020-09-23 04:11] ramya-rao-a commented on #11394
Thanks for reporting @jis260

@XiaoningLiu, Can you take a first look at this?

[2020-09-23 05:11] ramya-rao-a commented on #5290
Hello all,

The latest Event Hubs package with version 5.3.0 and the latest preview of the Service Bus package with version 7.0.0-preview.6 now support taking connection string that has SharedAccessSignature specified.

Please give it a try and let us know if you see any issues with it.

Thanks for your patience!

[2020-09-23 05:11] #5290 closed

[2020-09-23 05:19] ramya-rao-a commented on #9536
@markwolff, @richardpark-msft, Any thoughts here?

[2020-09-23 05:33] ramya-rao-a commented on #3993
@willmtemple, Is there any other pending work here to be done other than using the shared rollup config once it is available?

[2020-09-23 05:47] master-maintenance1-peer-connect commented on #11353
@zfoster Thank for replay.

I See.

I understood that this issue was not a bad implementation at SDK,
but a lack of specification as a distributed database.

   If there is a feature in Cosmos DB preferences that allows I to use only a single partition,
please let me know.

Therefore, I want to send a feature request.
Please indicate the appropriate request destination.

* A. SDK Function-1:
    L

[2020-09-23 06:02] ramya-rao-a commented on #5276
#8671 has covered most of the packages listed above. thanks to @sadasant!
cosmos and identity packages are pending

[2020-09-23 06:50] ellismg commented on #9685
As of `@azure/eventgrid@3.0.0-beta.1` we now have support for using a SAS key with eventgrid.  You can see how to do so in the [README.md](https://github.com/Azure/azure-sdk-for-js/tree/%40azure/eventgrid_3.0.0-beta.1/sdk/eventgrid/eventgrid#using-a-sas-token).

[2020-09-23 06:50] #9685 closed

[2020-09-23 08:31] jefjos commented on #11371
Thanks @sadasant , this helps! Closing this issue.

[2020-09-23 08:31] #11371 closed

[2020-09-23 09:44] XiaoningLiu commented on #11339
Hi @ihatecodinglikeking I don't think it's a SDK issue. Please check your application working directory. It defines TMP_FOLDER default location.

[2020-09-23 09:48] XiaoningLiu commented on #11349
Hi, these errors are from network layer, usually caused by network spike. Please double check uploaded data integrity, although blob is created. Recommend to increase max retry count in client options if you want to deal with some bad network situations.

[2020-09-23 09:58] XiaoningLiu commented on #11368
Hi, raw HTTP response is accable via `response._response`.

[2020-09-23 09:58] #11368 closed

[2020-09-23 11:01] gmantri commented on #11368
Thanks @XiaoningLiu for replying. Unfortunately the response is not available for `Create Queue` operation.

Here's the code I am using:

[code]
Here's the output I am seeing:

[code]
As you can see from above, the output doesn't contain the `response` attribute. I'm using `12.1.0` version of Storage Queue Node SDK.

[2020-09-23 11:31] sadasant commented on #11371
@jefjos thank you and have a good day! You're welcome here anytime.

[2020-09-23 11:56] jis260 commented on #11394
Thanks for looking into this.
I also noticed that if you try to create a with ContainerClient()

You get an error too:
`Clients.js:3709 Uncaught TypeError: _this.getContainerNameFromUrl is not a function`

For the BlobServiceClient() it works as expected without any errors.

[2020-09-23 12:55] gmantri commented on #11338
Thanks @xirzec for replying. I am wondering if you can share a code sample for setting custom header. I looked up the link you shared but unfortunately still clueless as to how you would go about using it. I would really appreciate that.

[2020-09-23 15:36] zfoster commented on #11309
that's right and needs resolving. I'll reopen this issue and mark as bug since it's not only erroneous documentation (and in fact, we may want `undefined` to just work the same way as `{}`)

[2020-09-23 16:03] markwolff commented on #9536
:+1: I think this is a good change proposal

[2020-09-23 16:20] zfoster commented on #11353
Hi @master-maintenance1-peer-connect,

A) You can currently specify the partitionKey in the options (`FeedOptions` in your screenshot)

B) I've communicated this to the portal team, they've added it their backlog. You can do this now by specifying the partitionKey as part of the query. (Note: it still may use a query plan and execute too many requests)

C) If I'm understanding correctly, this func

[2020-09-23 16:34] #9283 closed

[2020-09-23 16:41] jeremymeng commented on #11338
@gmantri Storage libraries don't use `OperationOptions` from core-http. So customHeaders does not exist in their option types. However if you are using JavaScript, you can add it to the options object like below:

[code]

We also have [a sample showing how to set the `x-ms-client-request-id` using a custom policy](https://github.com/Azure/azure-sdk-for-js/blob/677189c84bf25cdbc9d2032d74d822fb5d4b1

[2020-09-23 16:50] jeremymeng commented on #11338
For retry please use [StorageRetryOptions](https://docs.microsoft.com/en-gb/javascript/api/@azure/storage-queue/storageretryoptions?view=azure-node-latest) to customize the pipeline: https://github.com/Azure/azure-sdk-for-js/blob/5fa7f3f7606275b93dff18c2985c1cb9d3d708dd/sdk/storage/storage-queue/samples/typescript/src/customPipeline.ts#L26-L28

[2020-09-23 17:12] tfitzmac commented on #10186
I believe you are getting the error because you are using the reference function and listAdminKeys with resources that are conditionally deployed. You need to add the if function to evaluate those functions only when the condition is true.

[https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/conditional-resource-deployment#runtime-functions](https://docs.microsoft.com/en-us/az

[2020-09-23 18:56] alex-frankel commented on #9061
I don't think this is actually related to #8217. @avivs2  - it looks like you are trying to take an ARM template and redeploy it with a different set of parameters using the Java SDK. Does that sound right? Where are you currently running into issues with that process?

[2020-09-23 19:14] jeremymeng commented on #11338
@gmantri Please let us know if you have any further questions.  We have tracked the doc issue of `Object` type in another system.

[2020-09-23 20:29] jeremymeng commented on #11394
@jis260 you should use `new` with the constructor call.  Could you please give it a try?

[code]

[2020-09-23 20:40] master-maintenance1-peer-connect commented on #11353
@zfoster Thank for replay.

I may need to change my feature-request.

* Similar to the COSMOS DB REST API,
    I want azure-sdk-for-js to provide a means to reduce the amount of transfer from the AZURE cloud environment to the client WAN side.
    REST-API loads almost all rows from all partitions in a high-speed communication environment inside Azure Cosmos DB on the other side of the cloud,

[2020-09-23 21:03] jeremymeng commented on #11394
Also `updateBrowserData()` is a function in `BlockBlobClient` so you should use `new azurestorage.BlockBlobClient()` instead.

`blobBlockClient.blobContext` is our internal construct that we use to make service calls.

[2020-09-23 21:22] praveenkuttappan commented on #9920
@ljian3377 I have checked this further on how resources are deployed. So pipeline uses resource manager template test-resources.json to deploy all required resources for the service using powershell command "New-AzResourceGroupDeployment". So it is not using any specific storage powershell command. I am not sure how azure resource management further drills down deployment of individual resources b

[2020-09-23 22:23] ramya-rao-a opened #11431 "Deprecate @azure/core-arm package and delete the folder"
The `@azure/core-arm` package is the counterpart to the older `@azure/ms-rest-azure-js` just like how `@azure/core-http` is the counterpart to the older `@azure/ms-rest-js`

The older `@azure/ms-rest-azure-js` was used when the code generator was used with a certain flag when you 
- needed support for long running operations
- are one of the Cognitive Services and therefore used the common Cogniti

[2020-09-23 22:25] bterlson commented on #11431
No concerns, and yay for deleting unneeded software!

[2020-09-23 22:31] xirzec commented on #11431
Yes! Goodbye `@azure/core-arm` 🗡️ 🗡️ 🗡️

[2020-09-23 23:02] ramya-rao-a opened #11435 "[Cosmos] Set noFallthroughCasesInSwitch to true in tsconfig"
With #11424, we now have the tsconfig.json file in the cosmos project extending the base configuration, but it overrides the `noFallthroughCasesInSwitch` option set in the base file. This issue is to remove this override and fix any resulting errors in the project.

PRs are welcome to make this change.
Code pointers:
- [Set up dev environment](https://github.com/Azure/azure-sdk-for-js/blob/master/

[2020-09-23 23:03] ramya-rao-a commented on #11435
cc @zfoster for any extra thoughts on the subject

[2020-09-23 23:04] ramya-rao-a opened #11436 "[Cosmos] Set noImplicitReturns to true in tsconfig"
With #11424, we now have the tsconfig.json file in the cosmos project extending the base configuration, but it overrides the `noImplicitReturns` option set in the base file. This issue is to remove this override and fix any resulting errors in the project.

PRs are welcome to make this change.
Code pointers:
- [Set up dev environment](https://github.com/Azure/azure-sdk-for-js/blob/master/CONTRIBUT

[2020-09-23 23:05] ramya-rao-a commented on #11436
cc @zfoster for any extra thoughts on the subject

[2020-09-23 23:06] ramya-rao-a opened #11437 "[Cosmos] Set strict to true in tsconfig"
With #11424, we now have the tsconfig.json file in the cosmos project extending the base configuration, but it overrides the `strict` option set in the base file. This issue is to remove this override and fix any resulting errors in the project.

PRs are welcome to make this change.
Code pointers:
- [Set up dev environment](https://github.com/Azure/azure-sdk-for-js/blob/master/CONTRIBUTING.md#sett

[2020-09-23 23:07] ramya-rao-a commented on #11437
cc @zfoster for any extra thoughts on the subject

[2020-09-23 23:10] ramya-rao-a opened #11438 "[Identity] Set noUnusedLocals to true in tsconfig"
With #11424, we now have the tsconfig.json file in the identity project extending the base configuration, but it overrides the `noUnusedLocals` option set in the base file. This issue is to remove this override and fix any resulting errors in the project.

PRs are welcome to make this change.
Code pointers:
- [Set up dev environment](https://github.com/Azure/azure-sdk-for-js/blob/master/CONTRIBUTI

[2020-09-23 23:11] ramya-rao-a opened #11439 "[Identity] Set noUnusedParameters to true in tsconfig"
With #11424, we now have the tsconfig.json file in the identity project extending the base configuration, but it overrides the `noUnusedParameters` option set in the base file. This issue is to remove this override and fix any resulting errors in the project.

PRs are welcome to make this change.
Code pointers:
- [Set up dev environment](https://github.com/Azure/azure-sdk-for-js/blob/master/CONTRI

[2020-09-23 23:12] ramya-rao-a opened #11440 "[Identity] Set noImplicitReturns to true in tsconfig"
With #11424, we now have the tsconfig.json file in the identity project extending the base configuration, but it overrides the `noImplicitReturns` option set in the base file. This issue is to remove this override and fix any resulting errors in the project.

PRs are welcome to make this change.
Code pointers:
- [Set up dev environment](https://github.com/Azure/azure-sdk-for-js/blob/master/CONTRIB

[2020-09-23 23:37] jeremymeng commented on #11067
Making missing xml a later error probably wouldn't help storage as most if not all of storage feature depends on it.

[2020-09-23 23:58] #11150 closed

[2020-09-24 00:04] richardpark-msft commented on #9209
I'll take a look and see if we even want to keep these.

[2020-09-24 00:10] zfoster commented on #11259
I think I know the issue here but haven't confirmed yet. I'll report back soon @FlourishS

[2020-09-24 00:21] richardpark-msft opened #11441 "[service-bus] Investigate performance differences for changing over subscribe() to being receiveMessages() in a loop"
EventHubs' `subscribe()` method is implemented as a loop, continually calling receiveMessages(). This loop has been performant enough and has a much simpler model internally - it doesn't have to handle detach (as there's no persistent state between receiveMessage calls), for instance.

We'd like to investigate using a similar method in ServiceBus, to replace our subscribe method. As part of this w

[2020-09-24 00:23] richardpark-msft opened #11442 "[service-bus] Make auto-lock renewable usable outside of `subscribe()`"
Currently `subscribe()` allows users to enable auto-lock renewal, which ensures that we continue to renew a lock token for a specified duration. This is a very convenient feature but it is restricted to subscribe() callers only - we don't enable this for users that are using iterators (via getMessageIterator) or via receiveMessages.

We would like to make this same feature available (probably on t

[2020-09-24 01:01] ramya-rao-a commented on #10783
Closing this issue as the tables package has no linting errors at the moment.

[2020-09-24 01:01] #10783 closed

[2020-09-24 01:37] ramya-rao-a commented on #10778
Closing this issue as there are no more linting errors in the Form Recognizer package

[2020-09-24 01:37] #10778 closed

[2020-09-24 01:57] ramya-rao-a opened #11448 "Other copyrights should be supported by the linter"
Today we have the [github-source-headers](https://github.com/Azure/azure-sdk-for-js/blob/master/common/tools/eslint-plugin-azure-sdk/docs/rules/github-source-headers.md) linting rule which requires every typescript file to have the Microsoft copyright.

But there are very valid cases where we will have source files with other copy rights. For example: https://github.com/Azure/azure-sdk-for-js/blob

[2020-09-24 01:57] ramya-rao-a commented on #11448
cc @bterlson, @willmtemple, @deyaaeldeen

[2020-09-24 02:43] gmantri commented on #11338
@jeremymeng Thank you for your help! I am all set.

[2020-09-24 02:43] #11338 closed

[2020-09-24 03:38] ljian3377 commented on #9920
I changed the storageApiVersion to 2019-12-12. Now it's giving this new error.

Status Message: No registered resource provider found for location 'canadacentral' and API version '2019-12-12' for type 'storageAccounts'. The supported api-versions are '2019-06-01, 2019-04-01, 2018-11-01, 2018-07-01, 2018-03-01-preview, 2018-02-01, 2017-10-01, 2017-06-01, 2016-12-01, 2016-05-01, 2016-01-01, 2015-06-

[2020-09-24 03:54] ljian3377 commented on #9920
The problem is we are calling SRP to generate the SAS. But SRP isn't always kept up with dataplane SDK.
Probably we should generate the SAS in the test-resource-post.ps1 file using storage dataplane PSH.

[2020-09-24 06:27] PIC123 opened #11451 "Managed Identity Login Fails on local machine"
- **Package Name**: @azure/identity
- **Package Version**:  1.1.0
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.0.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When

[2020-09-24 06:27] jis260 commented on #11394
Thank you @jeremymeng for helping - I can confirm that it all works for me.

[2020-09-24 06:27] #11394 closed

[2020-09-24 06:31] PIC123 opened #11452 "VSCode Credential doesn't work"
- **Package Name**:  @azure/identity
- **Package Version**:  1.1.0
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.0.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When

[2020-09-24 06:58] HarshaNalluru commented on #8875
Summarizing investigations and offline discussions

### Observations and Issues
- "receiveAndDelete" is relatively faster for sessions when compared to that of non-sessions.
- For large numbers of maxMsgCount(say 10000), receiving from sessions seems to hang.
	- The above issue exists for both the peekLock and receiveAndDelete modes
	- With peekLock, the renewlocks keeps happening and it doesn't r

[2020-09-24 09:26] XiaoningLiu commented on #11368
I can get raw response via following code.

[code]

![image](https://user-images.githubusercontent.com/6889160/94126970-e6d6cc00-fe8a-11ea-8001-c93141d4c94b.png)

[2020-09-24 09:29] gmantri commented on #11368
Thanks @XiaoningLiu! Hmm....weird! Can you try without specifying metadata? Essentially use something like the following:

[code]

[2020-09-24 13:53] balazsmolnar opened #11463 "Javascript SDK DefaultAzureCredentials stops working under high load"
- **Package Name**:  @azure/identity"
- **Package Version**: 1.1.0
- **Operating system**: Linux
- [x] **nodejs**
    - **version**:  12.13.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

We ha

[2020-09-24 14:19] RoyCrivolotti commented on #11067
Is there any update on this issue? I also found it to be problematic not being able to use Azure Blob Storage's SDK from inside the context of a Web Worker.. The fix suggested above does not work for me since I'm using TypeScript and `self.window`/`self.document` are read-only properties.

[2020-09-24 15:25] ihatecodinglikeking commented on #11339
![image](https://user-images.githubusercontent.com/22953261/94165841-a52d2d80-fe58-11ea-84c3-a839525027bd.png)
it set to . /tmp/ dont know why its pointing to system32

[2020-09-24 16:01] ramya-rao-a commented on #11405
@praveenkuttappan Can you add some pointers to a file or share examples for what you mean by the above?

[2020-09-24 17:00] sunilsmith commented on #10980
@ramya-rao-a @richardpark-msft we are connecting with our Cloud team to raise a support ticket for this issue, will keep you posted.

[2020-09-24 17:06] ramya-rao-a opened #11465 "Review Distributed Tracing features in the new Service Bus library"
When we were working on the latest Event Hubs package, we had a definite set of requirements of how each send request and the different modes of receiving events did tracing. Service Bus is in a similar boat as Event Hubs in terms of tracing needs with the addition of a whole new set of methods for peek, receiving deferred messages, sending scheduled messages etc.

This issue is to review how much

[2020-09-24 17:09] deyaaeldeen commented on #11448
Is this scenario pervasive enough to warrant a change in the plugin? If not, I would suggest to turn off this rule for that specific file.

[2020-09-24 17:24] praveenkuttappan commented on #11405
@ramya-rao-a Here is an example of disabling smoke test using configuration in package.json. https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/formrecognizer/ai-form-recognizer/package.json#L144

Issue is filed to isolate this configuration into a separate json file instead of putting them into package.json to keep package.json more of package and product specific rather than mixing with E

[2020-09-24 17:42] #9881 closed

[2020-09-24 18:13] sigmer opened #11470 "Resource not found in the namespace 'Microsoft.Network' for api version '2020-05-01' in dogfood"
- **Package Name**: @azure/arm-network
- **Package Version**: 22.0.0
- **Operating system**: Windows
- [ ] **nodejs**
    - **version**: 14.0.0
- [ ] **browser**
    - **name/version**: Edge
- [ ] **typescript**
    - **version**: 3.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2020-09-24 18:34] sadasant commented on #11183
Just to post here something I thought useful from a chat we had:

[2020-09-24 18:49] sadasant commented on #11333
@badgerowluke since we're improving this through this issue: https://github.com/Azure/azure-sdk-for-js/issues/11374

How are you feeling regarding this specific issue (11333)? Should we close it for now? Is there anything else we could do to help?

[2020-09-24 18:52] sadasant commented on #10498
If the solution posted above works: https://github.com/Azure/azure-sdk-for-js/issues/10498#issuecomment-678236271
Then let this issue roll and we'll automatically close it. We'll be cleaning this up through this issue: https://github.com/Azure/azure-sdk-for-js/issues/10726

Thank you for helping us make the SDKs better!

[2020-09-24 19:16] jay-most opened #11474 "Rush Multi-Project Build Tool - Some third-party scripts might produce unexpected results due to the change in macOS version from 10.x to 11. (62477208)"
- **Package Name**:  Rush Multi-Project Build Tool
- **Package Version**: 5.28.0
- **Operating system**: Mac Big Sur
Node.js version is 14.10.1 (pre-LTS)
- Is the bug related to **documentation** in
Rush Multi-Project Build Tool 5.28.0
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Rush Multi-Project Build Tool 5.28.0 - h

[2020-09-24 19:17] sadasant commented on #11343
Here are some specific suggestions by Scott: https://github.com/Azure/azure-sdk-for-net/issues/13531#issuecomment-667481486

[2020-09-24 19:23] sadasant commented on #11343
I'll make a PR with:

[2020-09-24 19:42] #11260 closed

[2020-09-24 19:56] badgerowluke commented on #11333
yeah.  go ahead and close it. I'm good with keeping eyes on with #11374

[2020-09-24 20:21] mhoeger commented on #11451
+1, seeing this issue intermittently :( also an ms internal engineer and can provide repro

[2020-09-24 20:23] sadasant commented on #11451
Hello @PIC123 and @mhoeger ! I'm Daniel,

I'll be doing my best to help you.

I'll have an answer for you shortly (as in, up to a couple of hours). Thank you for your patience!

[2020-09-24 20:24] mhoeger commented on #11452
+1! Here is my exception:

[code]

[2020-09-24 20:27] sadasant commented on #11343
So, this is an interesting case,

TypeScript doesn't have this method visible as part of the DefaultAzureCredential, since it's inherited.

So, the DefaultAzureCredential code can be seen here: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/src/credentials/defaultAzureCredential.ts

The `getToken` method comes from the `ChainedTokenCredential`: https://github.com/Azure

[2020-09-24 21:33] #11071 closed

[2020-09-24 21:39] jeremymeng commented on #11067
@RoyCrivolotti I have not tried, but you might want to try casting `(self as any)` before assigning to window or document? very hacky though.

[2020-09-24 21:43] sadasant commented on #11452
Hello @PIC123 and @mhoeger ! I'm Daniel,

I'll be doing my best to help you.

I'll have an answer for you shortly (as in, up to a couple of hours). Thank you for your patience!

[2020-09-24 21:56] joshfree commented on #11343
@sadasant that comment looks perfectly reasonable.  The work item is to track getting all 4 languages in-sync on the xml doc comment as at least .NET (and python?) have comments that are unintentionally too scary and lead users down the wrong path in some cases.  @jianghaolu can you share more?

[2020-09-24 22:28] praveenkuttappan opened #11479 "Setup an automation pipeline to perform adhoc npm operations"
Sometimes we need to manually run scripts to perform tasks on released package in npm. For e.g. Following are the examples of these tasks:

1. Remove "next" tag from a package version
2. Set "Latest" or "next" tag
3. Deprecate a package version.

Pipeline will abstract access permissions to npm and act as a self service tool to trigger such tasks without having access to npm admin access.

[2020-09-24 22:35] jianghaolu commented on #11343
The comment we've agreed to change to is

[code]

@joshfree  we currently also don't have the "scary comment" in Java either. We can either add this comment, or not do anything at all.

[2020-09-24 23:25] Ethan-Arrowood opened #11481 "StorageAccount primaryEndpoints should not be optional properties"
- **Package Name**: @azure/arm-storage
- **Package Version**: 15.1.0
- **Operating system**: mac
- [x] **nodejs**
    - **version**: 14
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

https://azuresdkdocs.blob.core.

[2020-09-24 23:32] sadasant opened #11482 "[Identity] Options is unused in the getToken() method for certain credentials"
Some credentials have an options bag in their getToken methods, yet they're not using them. Why?

This question comes from: https://github.com/Azure/azure-sdk-for-js/pull/11453#discussion_r494390578

[2020-09-25 00:06] sadasant commented on #11451
I am fairly sure that this is a misalignment we have between JS and other languages. The misalignment being that we should skip this error instead of throwing like that.

There's an issue to align with other languages already: https://github.com/Azure/azure-sdk-for-js/issues/9383#issuecomment-696915350

This specific version of that error shows that the credential tried to reach 169.254.169.254:80

[2020-09-25 00:31] sadasant commented on #11452
@PIC123 , @mhoeger

I need some help!

For this credential, were you able to authenticate via the Azure Account Extension? https://marketplace.visualstudio.com/items?itemName=ms-vscode.azure-account

I'll continue investigating tomorrow! thank you for your time.

[2020-09-25 00:42] Ethan-Arrowood opened #11484 "Update BlockBlobClient.uploadStream to use NodeJS.ReadableStream instead of Readable"
- **Package Name**: storage-blob
- **Package Version**: 12
- **Operating system**: mac
- [x] **nodejs**
    - **version**: 14
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Due to this method u

[2020-09-25 01:09] Ethan-Arrowood commented on #11484
Did a bit more digging seems like I've been confused by new vs old streams using `new Readable().wrap(oldStream)` i was able to get everything working correctly and type safe. https://nodejs.org/api/stream.html#stream_readable_wrap_stream

I'll leave this open for others to comment. Maybe we can add something like this to the docs or examples?

[2020-09-25 04:23] sadasant commented on #11451
I'm taking tomorrow off, but I'll come back as soon as possible.

[2020-09-25 04:23] sadasant commented on #11452
I'm taking tomorrow off, but I'll come back as soon as possible.

[2020-09-25 06:00] mhoeger commented on #11451
Hi @sadasant , thanks for your follow-up!! Unfortunately in my case, I'm not on VPN (@PIC123 if you are, I can open a separate ticket to track my issue)

When I tried pinging the endpoint, I got this:
[code]
My exception details (again - can file a separate issue if helpful!)
[code]

[2020-09-25 06:23] PIC123 commented on #11451
I'm also not on a vpn, but a thing to note if forgot to mention earlier, the azure sub I'm trying to hit is on a private proxy so that may cause some issues too

[2020-09-25 06:24] PIC123 commented on #11452
Hey! So for me, if I use the VSCodeCredential, I just get the error I noted above, and it doesn't fall back to any login options. I have the extension set and logged in, but it seems to fail before reaching there even

[2020-09-25 06:26] mhoeger commented on #11452
Hi @sadasant , thank you for the quick response, and enjoy the time off! I also have the extension installed and logged in.

On my end, one thing that I have a valid scope: `//.default`

My exception changed to this... I tried Azure Logout and then Azure Login again
[code]

[2020-09-25 06:56] ramya-rao-a commented on #11481
Thanks for reporting @Ethan-Arrowood

While @qiaozha looks into the question around `primaryEndpoints`, can you share how did you land on https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-arm-storage/11.0.0/globals.html#storageaccount? From what I know this website is not linked from any of the well known documentation sites

[2020-09-25 06:58] ramya-rao-a commented on #11482
The credentials in question are InteractiveBrowserCredential and VisualStudioCodeCredential.
If the IdentityClient is used in these credentials, then the options should be passed to it.
Otherwise, the support for abortsignal and tracing should be added manually

[2020-09-25 07:42] zzhxiaofeng opened #11489 "Azure Tables Readme And Sample Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/tables/data-tables#key-concepts)
![Screenshot 2020-09-23 161113](https://user-images.githubusercontent.com/20970631/94239899-0df1d400-ff45-11ea-8a04-196aa0c88de1.png)
Reason:
Misspelled word.

Suggestion:
Update to "such".

2.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/tables/data-tables#list-

[2020-09-25 07:43] zzhxiaofeng opened #11490 "Azure Text Analytics Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/textanalytics/ai-text-analytics#recognize-pii-entities)
![Screenshot 2020-09-23 155502](https://user-images.githubusercontent.com/20970631/94217134-d28ae180-ff13-11ea-86dd-0245a8a5350e.png)
Reason:
Wrong property name.

Suggestion:
Update to `entity.confidenceScore`.

@jongio for notification.

[2020-09-25 07:43] zzhxiaofeng opened #11491 "Azure Key Vault Administration Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/keyvault/keyvault-admin#create-keyvaultaccesscontrolclient)
![Screenshot 2020-09-25 173928](https://user-images.githubusercontent.com/20970631/94252191-2ae2d300-ff56-11ea-98d6-893f886071d9.png)
Reason:
Import wrong class "KeyVaultBackupClient".

Suggestion:
Update `KeyVaultBackupClient` to `KeyVaultAccessControlClient`.

@

[2020-09-25 07:43] zzhxiaofeng opened #11492 "Azure Key Vault Certificate Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/keyvault/keyvault-certificates#examples)
![Screenshot 2020-09-22 150158](https://user-images.githubusercontent.com/20970631/94217566-eaaf3080-ff14-11ea-82a4-11b1e109baf8.png)
Reason:
No corresponding sample related to `List all versions of a certificate`.

Suggestion:
Delete the link related to `List all versions of a cert

[2020-09-25 07:44] zzhxiaofeng opened #11493 "Azure Key Vault Keys Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/keyvault/keyvault-keys#sign)
![Screenshot 2020-09-25 174102](https://user-images.githubusercontent.com/20970631/94252345-62517f80-ff56-11ea-8e79-7aae635dbabd.png)
Reason:
Use wrong function.

Suggestion:
Update `signData` to `sign`.

@jongio for notification.

[2020-09-25 07:44] zzhxiaofeng opened #11494 "Azure Event Hub Readme Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/eventhub/event-hubs#consume-events-in-a-single-process), [link2](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/eventhub/event-hubs#consume-events-from-a-single-partition)
![Screenshot 2020-09-17 182706](https://user-images.githubusercontent.com/20970631/94250627-0be34180-ff54-11ea-8f63-b4c3b600bdfd.png)
Sugges

[2020-09-25 07:45] zzhxiaofeng opened #11495 "Azure Storage Data Lake Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-file-datalake#download-a-file-and-convert-it-to-a-string-browsers)
![Screenshot 2020-09-16 180533](https://user-images.githubusercontent.com/20970631/94218331-d835f680-ff16-11ea-9327-f701b96468a5.png)
Reason:
DefaultAzureCredential  is not supported in the browser.

Suggestion:
Update code as below:
[code]

[2020-09-25 07:45] zzhxiaofeng opened #11496 "Azure Form Recognizer Sample Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/stronglyTypingRecognizedForm.ts#L130)
![Screenshot 2020-09-25 191335](https://user-images.githubusercontent.com/20970631/94260770-5324fe80-ff63-11ea-9263-1906cf5c6871.png)
Reason:
Property does not exist on type 'string | number | Record<string, FormField> | Date | F

[2020-09-25 07:45] zzhxiaofeng opened #11497 "Azure Event Grid Sample Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventgrid/eventgrid/samples/typescript/src/sendCloudEvent.ts#L23)
![GetImage (11)](https://user-images.githubusercontent.com/20970631/94219652-efc2ae80-ff19-11ea-8dcd-8f4428972317.png)
Reason:
Use wrong function.

Suggestion:
Update code as below:

[code]

@jongio for notification.

[2020-09-25 09:42] jiacfan commented on #11484
Hey, @Ethan-Arrowood

Thanks for reaching us and good to know you have found the right approach. Yes, according to Readable's definition, using [wrap](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/6c915c17c22353e4088005e5ede8fa6fd3bde51c/types/node/v12/stream.d.ts#L43) is the right approach. This is a valuable topic related to old vs new stream, and might help others as well.

Thanks,
Ji

[2020-09-25 12:50] Ethan-Arrowood commented on #11481
https://azure.github.io/azure-sdk-for-js/storage.html
Scroll down and there is a @azure/arm-storage v11 link

[2020-09-25 14:46] #11333 closed

[2020-09-25 14:54] gmantri opened #11505 "[Azure Storage Files] Bug with getting shared access signature"
- **Package Name**: @azure/storage-file-share
- **Package Version**: 12.2.0
- **Operating system**: macOS
- [x] **nodejs**
    - **version**: 10.16.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug*

[2020-09-25 16:04] RoyCrivolotti commented on #11067
So, jut as an update for anyone that might encounter this issue while a more permanent fix is found by Azure's team: The workaround suggested above did indeed work for us in the end, although we did have to tell `ts` to ignore the obvious issues for it to compile. There was another obscure error we hadn't seen (caused by the worker loader and another package conflicting) that was fixed by debuggin

[2020-09-25 17:07] praveenkuttappan commented on #9920
I am making a change in resource deployment for storage to support running post deployment script which can set/override  env key. This will allow to run pwsh to create SAS and set it as ENV key.

[2020-09-25 17:55] joshfree commented on #11343
@jianghaolu please add the new agreed upon doc comment to Java for consistency

[2020-09-25 18:20] praveenkuttappan commented on #9920
I have added additional steps in post deployment script to create SAS with additional permissions.
https://github.com/Azure/azure-sdk-for-js/pull/11509

[2020-09-25 19:16] HarshaNalluru commented on #11346
Done with #11427

[2020-09-25 19:16] #11346 closed

[2020-09-25 19:36] ramya-rao-a commented on #11496
Thanks for reporting @zzhxiaofeng

@willmtemple Do you agree with the recommendation above? If yes, then please add the `help wanted` and `good first label`.

[2020-09-25 19:38] ramya-rao-a commented on #11495
Thanks for reporting @zzhxiaofeng

@ljian3377  Do you agree with the recommendation above? If not, then please provide your recommendation. After this,  please add the labels `help wanted` and `good first issue` and assign the issue to the backlog milestone.

[2020-09-25 19:42] ramya-rao-a commented on #11497
Thanks for reporting @zzhxiaofeng

@ellismg  Do you agree with the recommendation above? If not, then please provide your recommendation after which
- add the labels `bug`, `help wanted` and `good first issue`
- remove the label `needs-team-triage`
- assign the issue to the backlog milestone

[2020-09-25 19:42] ramya-rao-a commented on #11493
Thanks for reporting @zzhxiaofeng

@sadasant, Do you agree with the recommendation above? If not, then please provide your recommendation after which
- add the labels `bug`, `help wanted` and `good first issue`
- remove the label `needs-team-triage`
- assign the issue to the backlog milestone

[2020-09-25 19:43] ramya-rao-a commented on #11492
Thanks for reporting @zzhxiaofeng

@sadasant, Do you agree with the recommendation above? If not, then please provide your recommendation after which
- add the labels `bug`, `help wanted` and `good first issue`
- remove the label `needs-team-triage`
- assign the issue to the backlog milestone

[2020-09-25 19:43] ramya-rao-a commented on #11491
Thanks for reporting @zzhxiaofeng

@sadasant,  Do you agree with the recommendation above? If not, then please provide your recommendation after which
- add the labels `bug`, `help wanted` and `good first issue`
- remove the label `needs-team-triage`
- assign the issue to the backlog milestone

[2020-09-25 19:44] ramya-rao-a commented on #11489
Thanks for reporting @zzhxiaofeng

@joheredi, Do you agree with the recommendation above? If not, then please provide your recommendation after which
- add the labels `bug`, `help wanted` and `good first issue`
- remove the label `needs-team-triage`
- assign the issue to the backlog milestone

[2020-09-25 19:45] ramya-rao-a commented on #11490
Thanks for reporting @zzhxiaofeng

@deyaaeldeen, Do you agree with the recommendation above? If not, then please provide your recommendation after which
- add the labels `bug`, `help wanted` and `good first issue`
- remove the label `needs-team-triage`
- assign the issue to the backlog milestone

[2020-09-25 20:29] ellismg commented on #11497
Thanks for pointing this out, @zzhxiaofeng.  I went ahead and addressed your feedback and opened a PR!

[2020-09-25 20:46] deyaaeldeen commented on #11490
Thanks @zzhxiaofeng for reporting and you are indeed correct, that needs to be fixed as you described.

[2020-09-25 20:48] willmtemple commented on #11496
@zzhxiaofeng I'm unable to reproduce this error. Can you provide the following information to help me diagnose this?

- TypeScript Compiler Version
- Node.js Version
- Versions of installed azure SDK packages for the sample:
  - `@azure/ai-form-recognizer`
  - `@azure/identity`
- `tsconfig.json` settings

[2020-09-25 22:44] ramya-rao-a commented on #11147
The documentation issue is now resolved and the above page has been updated

[2020-09-25 22:44] #11147 closed

[2020-09-25 23:59] #11497 closed

[2020-09-26 02:54] knaveenr commented on #11494
I would like to work on it, can I take up this issue?

[2020-09-27 02:26] zzhxiaofeng commented on #11496
@willmtemple Well, my configurations are shown as below:
- TypeScript Version: 3.9.5
- Node.js Version: 12.18.0
- Versions of installed azure SDK packages for the sample:
   - `@azure/ai-form-recognizer`: 3.0.1-alpha.20200924.1
   - `@azure/identity`: 1.2.0-alpha.20200921.2
- `tsconfig.json` settings:
[code]
I find the reason must be I specify ECMAScript target version as `ES6`. Please have a look

[2020-09-27 02:43] #11324 closed

[2020-09-27 02:54] ljian3377 commented on #11495
You are right. Probably we need to check the other packages to see if the same issue exists in the README.md and sampels.

[2020-09-27 05:33] chenjianfei2017 commented on #11481
'primaryEndpoints' defined as readonly, which means service will return the value to client side.
and if create success, primaryEndpoints will not be undefined.
if you find primaryEndpoints is undefined, and service return no error, there may be some weired actions about service.

[2020-09-27 05:43] chenjianfei2017 commented on #11470
inlcude service team, whether dogfood env is ready for api version 2020-05-01

[2020-09-27 07:15] ljian3377 commented on #9920
Now the test cases needing the new SAS permissions pass. Thank you, Praveen.

[2020-09-27 07:15] #9920 closed

[2020-09-27 08:17] XiaoningLiu commented on #11339
@ihatecodinglikeking `. /tmp/` is a relative path instead of a fixed patch to "wwwroot". I think you should open a ticket to Azure Function. Seems SDK cannot provide further help.

[2020-09-27 08:17] #11339 closed

[2020-09-27 08:25] XiaoningLiu commented on #11505
Thanks for reporting! @gmantri Put this into our backlog for following releases. Welcome contribution too and marked with good first issue.

[2020-09-27 12:57] diberry opened #11522 "@azure/arm-billing - link to homepage is broken"
The NPM page for billing has a link to the "homepage" on the right side of the page - which doesn't work - 404.

Bad URL: https://github.com/azure/azure-sdk-for-js/tree/master/packages/@azure/arm-billing

Correct URL: https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/billing/arm-billing

![0909-20202-billing-npm-broken-link](https://user-images.githubusercontent.com/41597107/94365425-c161e

[2020-09-28 10:02] mitchdenny opened #11526 "New issue #1 (test)"
Ignore, just debugging some tooling.

[2020-09-28 15:40] deyaaeldeen commented on #9799
no

yes

However, this error is not because of a missing `.eslintrc.json` file but instead because `eslint` was not listed as a dependency in `keyvault-common`. It is fixed in https://github.com/Azure/azure-sdk-for-js/pull/11515.

[2020-09-28 15:40] southpolesteve commented on #6305
Drop support for < TS 3.5 https://github.com/Azure/azure-sdk/pull/1805

[2020-09-28 15:52] joheredi commented on #11489
I do agree with the recomendations. Just a comment on (2):

Since the sample is Javascript any cast is not needed. However there is a bug, that needs to be fixed, it is to rename entity.PartitionKey to entity.partitionKey and entity.RowKey to entity.rowKey

[2020-09-28 20:31] jonathandturner commented on #10804
Closing this as the blockers are now fixed as of last week

[2020-09-28 20:31] #10804 closed

[2020-09-28 20:32] sarangan12 commented on #11276
Issue has been resolved by PR: https://github.com/Azure/azure-sdk-for-js/pull/11518. Closing this issue

[2020-09-28 20:32] #11276 closed

[2020-09-28 20:33] deyaaeldeen commented on #11256
Now that https://github.com/Azure/azure-sdk-for-js/pull/11266, https://github.com/Azure/azure-sdk-for-js/pull/11468, https://github.com/Azure/azure-sdk-for-js/pull/11469, https://github.com/Azure/azure-sdk-for-js/pull/11471,  https://github.com/Azure/azure-sdk-for-js/pull/11472, and https://github.com/Azure/azure-sdk-for-js/pull/11515 have been merged, this issue has been resolved and can be close

[2020-09-28 20:33] #11256 closed

[2020-09-28 20:38] sarangan12 commented on #11279
Code complete with PR https://github.com/Azure/azure-sdk-for-js/pull/11533

[2020-09-28 20:38] #11279 closed

[2020-09-28 21:05] scbedd opened #11535 "Add `Analyze` Check - Verify Links in package.json"
As seen in #11522 . We should add a check to verify that these are valid links.

[2020-09-28 21:22] deyaaeldeen commented on #8697
Closing this in favor of https://github.com/Azure/azure-sdk-for-js/issues/10775.

[2020-09-28 21:22] #8697 closed

[2020-09-28 21:34] deyaaeldeen commented on #10597
This issue has been broken into smaller ones corresponding to our packages here: https://github.com/Azure/azure-sdk-for-js/issues/10782, https://github.com/Azure/azure-sdk-for-js/issues/10781, https://github.com/Azure/azure-sdk-for-js/issues/10780, https://github.com/Azure/azure-sdk-for-js/issues/10779, https://github.com/Azure/azure-sdk-for-js/issues/10777, https://github.com/Azure/azure-sdk-for-

[2020-09-28 22:24] praveenkuttappan opened #11540 "Add option to tag API review as public and external users should be able to see them"
Support public(external) users to view any reviews that are tagged as public reviews. System should ensure these reviews are displayed in read only mode and external users should not be able to create or alter any reviews.

[2020-09-28 22:35] sadasant commented on #11526
Hi Mitch! Good luck with what you're doing! Take care 👋

[2020-09-29 06:37] chunyu3 commented on #11522
Homepage is changed.
After the new verision is released, the issue will be fixed.

[2020-09-29 06:41] gaurav16694 commented on #2540
@ramya-rao-a
request you to please open this issue i am facing this issue for past few months
message handler - OperationTimeoutError>
Unable to create the amqp receiver bot-incoming-message-430a5f0f-e241-5b44-84f7-d453a75d12ca due to operation timeout

[2020-09-29 12:19] sadasant commented on #9867
I decided to do #11549 while I was investigating on how to explain the issue to other people.

[2020-09-29 14:21] blrchen opened #11550 "BlobServiceClient.js depends on '@opentelemetry/types'. CommonJS or AMD dependencies can cause optimization bailouts."
- **Package Name**: azure/storage-blob
- **Package Version**: 12.1.1
- **Operating system**: windows 10
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I am usi

[2020-09-29 14:46] diberry commented on #11522
@chunyu3 When is the new version expected?

[2020-09-29 18:08] richardpark-msft commented on #8454
We've gone quite far past the design issues originally posed in this issue so I'm going to close it - it does reflect an interesting snapshot in time.

Just to update with present day:
* We've opted to not rename the peek() method (it was renamed temporarily and then put back) to avoid breaking backward compatibility. It is not an optimal name but it's not bad enough to warrant changing.
* Connect

[2020-09-29 18:08] #8454 closed

[2020-09-29 18:08] richardpark-msft commented on #9536
LGTM.

[2020-09-29 18:54] richardpark-msft commented on #9209
Did a little spot check of these - considering that occasionally errors lead to the tests hanging these seem like useful things to be able to selectively activate. So porting them to maybe use a single "test" logger should be enough and not horribly difficult.

And for the most part all of these should probably just go to the .verbose() stream since it's in the live tests only.

[2020-09-29 19:24] jamescarpinter opened #11555 "[Digital Twins] Error when paging relationships records"
- **Package Name**: @azure/digital-twins
- **Package Version**: 1.0.0-preview.1
- **Operating system**: macOS
- [ ] **nodejs**
    - **version**:
- [X] **browser**
    - **name/version**: Chrome 85
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe th

[2020-09-29 19:38] #11343 closed

[2020-09-29 20:10] allegradomel commented on #10036
@qiaozha - is this an API or service side issue?

[2020-09-29 21:24] ramya-rao-a commented on #11555
Thanks for reporting @jamescarpinter

@zolvarga, Can you take a look at this issue and the corresponding PR https://github.com/Azure/azure-sdk-for-js/pull/11556 ?

[2020-09-29 21:25] ramya-rao-a commented on #11526
Enjoy!

[2020-09-29 21:26] ramya-rao-a commented on #11535
@scbedd The linked issue is for a management package that is auto generated and uses a different pipeline than the data plane packages. Are you planning to update the management package pipeline to include the analyze step?

[2020-09-29 21:54] jeremymeng commented on #11550
Related to https://angular.io/guide/build#configuring-commonjs-dependencies.

Looks like we could add esm output for core-paging like we did for most of our libraries.

[2020-09-29 22:31] xirzec commented on #11550
I'm confused, is this related to `core-paging` or to OpenTelemetry?

[2020-09-29 22:36] xirzec commented on #11550
The original issue looks like a duplicate of https://github.com/open-telemetry/opentelemetry-js/issues/1253

[2020-09-29 23:31] sadasant commented on #11451
I got in contact with @mhoeger and I was able to reproduce this. I'm actively working on it.

[2020-09-30 00:32] sadasant commented on #11451
I was able to test it and find a fix. I've added this fix to an existing pull request. Therefore: This fix will go out next week. Thank you!

[2020-09-30 00:44] jeremymeng commented on #11550
I guess those two are causing warnings when using storage libraries.

For core-paging, something like https://github.com/Azure/azure-sdk-for-js/pull/11563 should work?

[2020-09-30 01:04] xirzec commented on #11550
Ah, I somehow missed the middle error. Yes, it seems like we can resolve the `core-paging` one rather easily. I'm surprised about the `uuid` one, since I'm pretty sure they support ESM the last time I checked.

[2020-09-30 01:48] ramya-rao-a commented on #11550
Should we log an upstream issue for uuid like the one logged for open telemetry?

[2020-09-30 01:53] ramya-rao-a commented on #11484
@jiacfan What are the next steps here? Are we looking at updating docs or something else?

[2020-09-30 01:55] ramya-rao-a commented on #11229
@zfoster Do you have any issue tracking the move away from node-fetch which we can close this issue in favor of?

[2020-09-30 02:23] qiaozha commented on #10036
@allegradomel  Hi, I believe it's a new feature request. what @leaderiop asking is that whether we can support attach or detach a public ip from nic here. https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/publicIpAddress.json

[2020-09-30 05:06] zfoster commented on #11229
good question, we’ve been tracking an issue in the node-fetch repo, cc @southpolesteve. I think we don’t because they haven’t fully committed to breaking the browser flag and moving it to a new project.

Software Engineer
CosmosDB
________________________________
From: Ramya Rao <notifications@github.com>
Sent: Tuesday, September 29, 2020 9:55:58 PM
To: Azure/azure-sdk-for-js <azure-sdk-for-js@nor

[2020-09-30 11:43] sadasant commented on #11451
I was able to reproduce this by doing the following:

- Made a new folder with a simple package.json
  - Setting `@azure/identity` to a specific version...
    - First to `1.2.0-beta.1`.
    - Then to `1.2.0-alpha.20200924.1`.
    - Then to something along the lines of `./azure-sdk-for-js/sdk/identity/identity/azure-identity-1.2.0-beta.2.tgz`.
- Used a simple script that creates a `DefaultAzureCre

[2020-09-30 12:35] #11526 closed

[2020-09-30 12:36] mitchdenny commented on #11526
Well, its generating the e-mails correctly. They just aren't arriving due to spam filters ;(

[2020-09-30 14:46] devployment opened #11567 "CustomDomains.enableCustomHttps returns error: The resource format is invalid"
- **Package Name**: @azure/arm-cdn
- **Package Version**: 5.0.0
- **Operating system**: macOS
- [x] **nodejs**
    - **version**: v12.16.3

**Describe the bug**
Following [the pulumi example](https://www.pulumi.com/docs/tutorials/azure/azure-ts-dynamicresource/) I get an error as `customDomains.enableCustomHttps` gets called. It's not really related to pulumi I guess, as internally the `@azure/arm

[2020-09-30 17:30] southpolesteve commented on #11229
@zfoster Let's add it to the v4 issue and close this one

[2020-09-30 17:32] jeremymeng commented on #11550
lol, I somehow managed to miss the uuid warning.  yes it supports esm.  I wonder whether it's our usage pattern though. we are not importing the default, but v4 from uuid.

[code]

[2020-09-30 17:34] xirzec commented on #11550
They already support it: https://github.com/uuidjs/uuid/blob/ac1b3afbf410e2dab259a1b7df0f27da919aabff/package.json#L32

They even support the fancy version: https://github.com/uuidjs/uuid/blob/ac1b3afbf410e2dab259a1b7df0f27da919aabff/package.json#L24

I think we might need to update to latest since the version we're on has a slightly different setup:

https://unpkg.com/uuid@8.1.0/package.json

Not

[2020-09-30 17:44] jeremymeng commented on #11550
Right I do not see the uuid warning in my testing today, likely 8.3.0 is pulled down.

[2020-09-30 18:08] heaths opened #11571 "November release of Cognitive Search for JavaScript"
- [X] Hide the BufferedSender Constructor https://github.com/Azure/azure-sdk-for-js/issues/11784
- [x] Modify the logic around batch Size to Threshold Size and expose it
- [x] Modify the logic around the Window Interval and expose it
- [x] Confirm the naming convention/logic to be in sync with .NET SDK
- [ ] Add Integration Test Cases for Search SDK

[2020-09-30 18:27] jonathandturner commented on #11360
Hi @lovew-lc

Our current plans here are that we're working on a new version of the library. We'll support multi-tenant in a future version of this library. We don't have a timeline just yet, only that we're planning on moving more ARM work to this new set of libraries, and this feature will be part of that work.

As for msRestNodeAuth, we've moved our new feature development to the newer librarie

[2020-09-30 18:45] mhoeger commented on #11451
You rock! Thanks @sadasant !

[2020-09-30 21:14] weshaggard opened #11574 "Enable SDK Automation for new code generator"
The SDK Automation spec can be found at https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/sdkautomation/sdk_customization.md.

- [ ] Add [automation configuration](https://github.com/Azure/azure-rest-api-specs/blob/master/specificationRepositoryConfiguration.json) for new code generator in the specs repo
- [ ] Add new swagger_to_sdk configuration file in the language repo
- [

[2020-09-30 21:27] areddish commented on #10331
Thanks - yes, this is an error in the error message that get's generated. I've logged an issue in our internal task system to provide a better error message and will address in a future roll out.

[2020-09-30 21:44] areddish commented on #10358
@epomatti  Yes, that's the  correct way to specify an OD detection project. You first must find an object detection domain and provide that. I've logged an item to update the documentation to make it more clear that Classification is the default.

The goal of the targetExportPlatforms is for you to be able to specify more information on how you plan to use the model for export, if at all. By provi

[2020-09-30 22:14] sadasant commented on #11029
I'll push this for next month's release due to time budget.

[2020-09-30 22:21] sadasant commented on #10995
Update:

 - ~Secure Key Release design and implementation~ Moved to November.
 - ~Arch Board review for Secure Key Release~ November.
 - ~Expose status methods for LRO backup/restore methods~ November.
 - ~API unification meeting~ November.
 - ~Setup CI tests for Admin package https://github.com/Azure/azure-sdk-for-js/issues/11213~ November.
 - [ ] Address customer feedback // On it.
 - ~[ ] [stre

[2020-09-30 22:21] sadasant commented on #11396
I'll push this for next month since I'm seeing I won't have time to do this for this release.

[2020-09-30 23:14] sadasant commented on #11452
I was able to reproduce this issue. I'm working on it.

[2020-09-30 23:15] jonathandturner opened #11578 "[Identity] DeviceCodeCredential does not yet support silent authentication"
- **Package Name**: Identity
- **Package Version**: Latest master

**Describe the bug**
InteractiveBrowserCredential for Node now supports silent flow by loading from the cache, if the user provides it. This is great. Unfortunately, DeviceCodeCredential isn't fully hooked into the cache. Doing so should be pretty trivial, just follow the steps that IBC uses.

**To Reproduce**
Steps to reproduce th

[2020-09-30 23:43] #9778 closed

[2020-10-01 06:51] ewfian opened #11581 "The parseHeaders in xhrHttpsClient.ts and xhrHttpClient.ts is not strong enough"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.2.1
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [x] **browser**
    - **name/version**: AppleWebKit/605.1.15
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug

[2020-10-01 08:21] jeremymeng commented on #11581
However, the spec for `getAllResponseHeaders()` has 0x3A 0x20 between header name and header value.

[2020-10-01 08:22] jeremymeng commented on #11581
https://xhr.spec.whatwg.org/#the-getallresponseheaders()-method

[2020-10-01 09:48] ewfian commented on #11581
Thanks for spec.

[2020-10-01 12:47] diberry opened #11582 "Add samples for all core libraries that are easy to run"
Each core library has some typescript example code but no typescript /sample directory will all the elements to try the code out. The sample code should have complete package.json and transpiling so a customer just clones, installs and runs. The Core paging sample code is very TypeScript/Modern. It might transpile to JS but isn't easy to read and decipher. As such, it isn't helpful and customers w

[2020-10-01 13:18] #10358 closed

[2020-10-01 17:21] #11490 closed

[2020-10-01 18:02] sadasant commented on #11452
After some investigation and through a chat with the team, we've spotted the exact cause of the bug, and we've found a fix! I'll be making a detailed PR soon.

[2020-10-01 19:30] avirishuv commented on #10764
Sorry for the delay, still following up on this.

[2020-10-01 20:50] chidozieononiwu opened #11589 "Unify version update Logic."
- [x] Unify version update such that logic is shared across https://github.com/Azure/azure-sdk-for-js/blob/master/eng/scripts/SetTestPipelineVersion.ps1 and https://github.com/Azure/azure-sdk-for-js/blob/master/eng/tools/versioning/increment.js

- [x] Move common logic into eng/common

[2020-10-01 20:56] nguerrera opened #11590 "Autorest should use version from package.json"
See https://github.com/Azure/azure-sdk-for-js/pull/10890#discussion_r482319283

Filing this as follow-up as requested.

### Repro steps
* clone this repo
* `npm install -g autorest`
* Change the version in `sdk/textanalytics/ai-text-analytics/package.json`
* Run `autorest` in `sdk/textanalytics/ai-text-analytics/swagger`

### Expected behavior
* Generated code in `sdk/textanalytics/ai-text-analyti

[2020-10-01 22:37] nguerrera opened #11594 "[schema registry] Align surface area to Python"
There's no good reason for Python and JavaScript to have different API shape for schema registry (modulo some_name vs someName of course).

However, there are some slight differences today.

The following API diff would bring JavaScript in line with Python:

[code]

## Summary of changes
* SchemaId renamed to SchemaProperties (avoids SchemaId.id we have currently)
* Schema *contains* SchemaId inst

[2020-10-01 22:40] noelbundick opened #11595 "DefaultAzureCredential fails on Azure App Service when using User-Assigned Identity"
- **Package Name**: @azure/identity
- **Package Version**: 1.1.0 / 1.2.0-beta.1
- **Operating system**: Linux
- [x] **nodejs**
    - **version**: v12.13.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2020-10-01 23:05] xirzec commented on #11594
I agree with you that expanding `SchemaDescription` into separate parameters feels bad and is easy to get wrong.

Sticking `schema` everywhere also feels redundant to me.

Calling it `schemaId` implies to me that there are other kinds of id, but that doesn't seem to be the case? Generally if there is one canonical identifier for an object, I expect that property to be called `id`.

If I could play

[2020-10-01 23:08] noelbundick commented on #11595
Note: I believe this will be resolved via https://github.com/Azure/azure-sdk-for-js/pull/11426

[2020-10-01 23:21] nguerrera commented on #11594
My understanding from talking to @yunhaoling was that there had been considerable discussion on the Python side that led to many of these differences. I didn't feel strongly enough about any of these points to push back so I figured I'd put up a proposal here to match Python and see where the discussion takes us.

[2020-10-01 23:22] patelhirn commented on #11349
Hi, , Thanks for the quick response, but unfortunately, I am still seeing issues. As suggested,  I increased the retry and uploaded a 20-40Kb file. The file uploads correctly, but I still see the error in the browser. Please let me know if you need more information

[2020-10-01 23:54] sadasant commented on #11491
@ramya-rao-a I had some questions, but I decided to make a PR instead of pushing this to the backlog.

@zzhxiaofeng the screenshot you provided seems correct to me! However I did find a bug in the readme, just with another section. I've made a PR: https://github.com/Azure/azure-sdk-for-js/pull/11599

Is that correct? Am I missing something?

Thank you for your time 🙌

[2020-10-02 02:35] sarangan12 commented on #11278
Code completed in PR https://github.com/Azure/azure-sdk-for-js/pull/11544

[2020-10-02 02:35] #11278 closed

[2020-10-02 02:36] sarangan12 commented on #11275
Code complete in PR https://github.com/Azure/azure-sdk-for-js/pull/11544

[2020-10-02 02:36] #11275 closed

[2020-10-02 03:41] joheredi opened #11603 "[Tables] Batch integration test fail when run in playback mode against browser"
`batch operations` tests fail when run in `playback` mode against browse, they work fine when run in `live` mode. Tests targeting node work with any test mode.

[code]

@sadasant have you ever seen something like this?

[2020-10-02 11:50] sadasant commented on #11452
For the record, I was able to confirm the fix in #11598 was also valid for @mhoeger by working together through an internal chat.

[2020-10-02 14:05] sadasant commented on #11603
@joheredi We need more information.

- Turn on the logs and see if you can find the HTTP request that sets that header. Do this your favorite way. We need to see both the request and the response, if possible. If we obtain a response, and we see the error in the response, this changes drastically how we will approach this problem.
- I can imagine this either being a Karma problem, or a bug in the

[2020-10-02 14:14] #11491 closed

[2020-10-02 14:14] #11492 closed

[2020-10-02 14:15] #11493 closed

[2020-10-02 14:16] #11451 closed

[2020-10-02 14:18] sadasant commented on #9383
Closed by https://github.com/Azure/azure-sdk-for-js/pull/11426

[2020-10-02 14:18] #9383 closed

[2020-10-02 14:39] jmealo commented on #11465
@ramya-rao-a: this would be super helpful. We're on the preview of the service-bus library and have an issue where our queues stop processing after a number of hours regardless of volume. Since the refactoring of logging to be compatible with IE11, `debug` no longer works as expected with `pino-debug` which causes all the Azure logging to side-step our logging facilities and go to std-err as multi

[2020-10-02 18:50] #11452 closed

[2020-10-02 18:58] jeremymeng opened #11614 "[Metrics Advisor] better names"
- Rename types whose names are too general
  - Alert
  - Metric
  - Dimension
  - DataFeed
  - Anomaly
  - Severity
  - Hook
  - TimeMode when listing alerts

  when we rename these, should we also rename other types starts with them? e.g.,
  - AnomalyValue
  - AlertSnoozeCondition

  probably not the names are not so common.

- Properties names that needs clarifications
  - `admins` and `viewers`

[2020-10-02 19:00] ramya-rao-a commented on #11494
Thanks for your interest @naveen-kumar-r and our apologies for not responding sooner.
This issue has been now addressed with #11606, so we will be closing it.

Please feel free to pick up any of the other issues with the `help wanted` label

[2020-10-02 19:00] #11494 closed

[2020-10-02 19:00] jeremymeng opened #11615 "[Metrics Advisor] Release beta 2"
- [x] #11614 better names
- [x] #11830 Methods taking Date parameters should also take datatime strings
- [x] #11832 Timestamp properties should be of `number` type
- [x] #11867 in samples, use local const variables instead of inlining listing calls in the for statement.
- [x] #11957 Add alias types for parameters to createDataFeed(), ~updateDataFeed(), create*Config() and update*Config()~
- [x] #

[2020-10-02 19:04] jeremymeng opened #11616 "[Metrics Advisor] should the pages response types extend Array"
We should extend `Array<ItemType>` and assign `_response` to the array

This applies to all listing page response types.

Here's an example PR : #11857

[2020-10-02 19:30] nguerrera opened #11620 "[schema registry] Avsc details leak through prototypes given to deserialized objects"
Forking distinct issue from #10950

I debugged through this and put a repro of the underlying cause below.

Summary: `avsc` gives objects it deserializes a prototype that causes the result returned to have 7 additional inherited enumerable properties: clone, compare, isValid, toBuffer, toString, wrap, wrapped.  This is what causes chai to throw on deepEqual comparison as it considers all enumerabl

[2020-10-02 19:59] #11056 closed

[2020-10-02 21:05] #10737 closed

[2020-10-02 21:26] jeremymeng opened #11623 "[Metrics Advisor] translate Granularity.Minutely/Secondly to PerMinute and PerSecond"

[2020-10-02 21:34] willmtemple commented on #11496
I can't think of any reason that changing the target would have this effect, but indeed it does. The sample compiles with TypeScript 4.0.0.There is some manipulation we can do to the `StrongObjectField` and `StrongArrayField` types to make them more accurate. I have a feeling that's what is causing the weirdness here.

@zzhxiaofeng thanks for reporting this issue, we've added this to the November

[2020-10-02 21:38] #11323 closed

[2020-10-02 21:50] #10226 closed

[2020-10-02 21:57] sadasant commented on #11463
@balazsmolnar Hello! I'm Daniel, I'll be doing my best to help you.

Recently, we did considerable fixes to the Managed Identity Credential. Out of a quick guess, I believe that our fixes could have had a positive impact to resolve this issue.

What we recently did was: https://github.com/Azure/azure-sdk-for-js/pull/11426

These changes will go out next week. Before we release, I'll do my best to

[2020-10-02 23:20] heaths opened #11625 "Regenerate Search libraries from swagger"
With https://github.com/Azure/azure-rest-api-specs/pull/10839 having been merged for api-version 2020-06-30, please regenerate models. This PR adds `encryptionKey` to `searchIndexer`, `searchIndexerDataSource`, and `searchIndexerSkillsets` but should look similar to `searchIndex.encryptionKey` which uses the `searchResourceEncryptionKey` model.

[2020-10-02 23:40] heaths opened #11627 "February Release of Key Vault for JavaScript"
# Features

- [ ] Secure key release
- [ ] Local cryptography (as many algorithms - including new - as possible)

# Testing

- [ ] RBAC
- [ ] Backup/restore
- [ ] Secure key release
- [ ] Local cryptography

[2020-10-03 09:57] AElharouny opened #11631 "[Service Bus] Function rename suggestion"
Hi,

Just a suggestion to rename `Rules.listBySubscriptions` function to `listBySubscription` as it lists rules associated with a single subscription.

[2020-10-03 12:23] piraces commented on #11505
I would like to contribute to this issue if possible

[2020-10-03 12:42] piraces commented on #11489
I would like to help resolve the issue

[2020-10-04 08:00] #11051 closed

[2020-10-04 08:34] HarshaNalluru commented on #10671
The error is coming from the deprecated `istanbul` package which is being used by `karma-remap-istanbul`(seems outdated which doesn't have any releases since a couple of years).

We may need to fix the `karma-remap-istanbul` package or look for an alternative for code-coverage.

[2020-10-05 07:10] HarshaNalluru opened #11633 "[Service Bus] Stress scenario receiveBatch - seems to hang upon receiving 2047 messages"
### Scenario
Looping over receiveBatch over a test duration of 100 seconds.

### Issue
The last receiveBatch doesn't end and hence not letting the test to end

### More Info
Same is not happening for smaller test durations like 10 seconds. Ideally speaking, receiveBatch should honor the maxWaitTime and end gracefully.

Code to repro - https://github.com/Azure/azure-sdk-for-js/pull/11546

[2020-10-05 12:40] dw511214992 commented on #10764
Hi @nturinski We have released the sdk recently and it contains sshPublicKeys. Please download it and have a test. we will close this issue and you can reopen it if the issue still exisits.
sdk link: https://www.npmjs.com/package/@azure/arm-compute/v/15.0.0
cc: @avirishuv There is a release request recently and the sdk has been released.
thanks

[2020-10-05 12:40] #10764 closed

[2020-10-05 17:04] stevengum commented on #10045
@luhan2017 @VanyLaw @changlong-liu, sorry for the delay the release request has been filed.

[2020-10-05 17:32] joheredi commented on #11489
@piraces, thanks a lot for submitting the PR!

[2020-10-05 17:37] #11011 closed

[2020-10-05 17:38] #10658 closed

[2020-10-05 17:38] #10918 closed

[2020-10-05 19:31] chrismeller commented on #10658
Hey, I just wanted to check in. There are no commits referenced - are we closing this because it’s done, or just because it has been bumped to a later release?

[2020-10-05 19:33] HarshaNalluru commented on #8875
Repro repo - https://github.com/HarshaNalluru/issue-8875

[2020-10-05 19:38] joheredi commented on #10658
Hi @chrismeller thanks for your interest! We merged the initial batch support a couple of days ago with https://github.com/Azure/azure-sdk-for-js/pull/11551, the dev/alpha build should be available in a few hours. This will be part of our next Beta release as well, which will happen in the next couple of days.

If you get a chance to try the SDK and this feature, we'd be very happy to hear your fe

[2020-10-05 20:03] lmazuel opened #11647 "EventGrid November 2020 release"

[2020-10-05 20:25] HarshaNalluru commented on #10009
#10892 has been merged.

I'll get to the missing request issue soon!

[2020-10-05 20:57] jlichwa commented on #10705
Linked rest api PR - https://github.com/Azure/azure-rest-api-specs/pull/11042

[2020-10-05 21:25] nguerrera opened #11649 "Response with text media type is parsed to a JSON object instead of a string"
The schema registry service returns schemas as text/plain. Avro schemas happen to be JSON, but future serialization formats could represent their schema in text that is not JSON.

Prior version of schema registry swagger indicated to send the schema as a string in JSON. So the body was quoted and escaped. It was very confusing. Now the body is just text/plain, UTF-8. However, upon regenerating the

[2020-10-05 21:29] sadasant commented on #11463
@balazsmolnar We're actively talking about this internally. In the mean time, do you mind answering me the following questions?

- Do you have a sample code we could try?
- Do you have the HTTP logs relative to the exception? Or at least some portion of the logs?
- Where is this running? In Azure containers, for example? The details of the environment can help immensely.
- For how long was this ru

[2020-10-05 22:19] nguerrera commented on #10659
With the latest schema registry sending/receiving schema as text/plain instead of JSON this no longer impacts schema registry tests. I believe there's a genuine bug here, but it was triggered by a strange case where schema registry used to encode the body as one JSON string (quoted and escaped.) I'm closing this since I don't think this will be common and we probably should only prioritize fixing

[2020-10-05 22:19] #10659 closed

[2020-10-05 22:46] HarshaNalluru commented on #10659
That's great to hear, @nguerrera. 🎈
Please un-skip the tests that were affected. Please reach out if you encounter something else.
I was planning to get to this by the end of the week, looks like I don't need to. 😀

It is still good that we have a reference in case some other service encounters this, which would then be investigated as needed.

[2020-10-05 22:49] xirzec commented on #11620
Looks like this logic mostly happens here: https://github.com/mtth/avsc/blob/f3c6b1c104815bf239b08311fab1c5dc1ec1290d/lib/types.js#L2185

It's somewhat vexing to me that the library author has no option to provide plain objects.

[2020-10-05 22:57] sadasant opened #11653 "[Identity] Refactor Managed Identity Credential"
Separate the Managed Identity Credential source based on the different endpoints that can be used. Follow .Net's approach. Make sure it's easy to follow what's going on. Include justification on why it does what it does.

[2020-10-05 23:01] sadasant commented on #11463
@balazsmolnar If you decide to share some logs with us, please remember to *remove any information about your credentials, secrets or passwords*.

We will be releasing tomorrow an update to the Identity library that might help your case, but to be sure we would need more information indeed. Thank you for submitting this issue! We want to make sure your issue is resolved. Take your time on providin

[2020-10-05 23:16] jeremymeng commented on #11649
@nguerrera Looks like this is a recorded test, and the recorded response has content-type of `application/json`? So core-http will de-serialize it from JSON to object.

[2020-10-05 23:44] nguerrera commented on #11649
Ah! You’re right. I should have checked that!. Looks like the server is not actually responding with text/plain like the swagger says it will! Thanks, I’ll follow up with the service folks.

[2020-10-05 23:45] joheredi commented on #11590
Thanks for reporting this issue @nguerrera. I'm porting this issue to https://github.com/Azure/autorest.typescript/issues/737

[2020-10-05 23:45] #11590 closed

[2020-10-05 23:47] jeremymeng opened #11655 "[Test] some xml tests failed in Firefox"
Seems to be related to xml namespace. /cc @joheredi

[code]

[2020-10-05 23:49] jeremymeng opened #11656 "[MetricsAdvisor] HookInfo.hookType should be just type"
hookId => id
hookName => name

[2020-10-05 23:52] joheredi commented on #11655
Hmm looks like we're getting an unexpected namespace. I'm looking into this now

[2020-10-06 07:16] balazsmolnar commented on #11463
@sadasant Thanks for looking into it!

We have an AKS cluster in Azure which uses managed identity to access some of the resources e.g. Storage Account, it's pretty basic:

[code]
Note that the credential is cached between requests.

The problem occurs under high load only so it's hard to reproduce. In our load test setup we provision 100 VMs to send requests to the server.
The errors we see in th

[2020-10-06 08:00] #6191 closed

[2020-10-06 09:06] sunilsmith commented on #10980
we have created the support ticket and they are looking into the issue.

[2020-10-06 12:58] NoelAbrahams commented on #9792
@chradek did this fix also go into the [preview versions](https://www.npmjs.com/package/@azure/service-bus/v/7.0.0-preview.6)? If so, into which version did this fix go?

[2020-10-06 16:11] ramya-rao-a commented on #9792
@HarshaNalluru, Can you help with the above query?

[2020-10-06 16:14] deyaaeldeen opened #11666 "[Monitor] Uses locate-path@6.0 which is not compatible with Node 8"
locate-path@6.0 makes use of optional catch binding, not available in Node 8. This was discovered in this PR https://github.com/Azure/azure-sdk-for-js/pull/1162. The failure is:
[code]

cc @markwolff @willmtemple

[2020-10-06 16:25] deyaaeldeen opened #11667 "[ESLint Plugin] Investigate why the peer deps are not needed to be deps in the using packages"
The plugin has peer dependencies (see [here](https://github.com/Azure/azure-sdk-for-js/blob/c5f9aa8887a4010ce6e753f10b10ad3ead9cb0de/common/tools/eslint-plugin-azure-sdk/package.json#L59)) and they are supposed to be listed as dependencies in our packages as well according to the [docs](https://eslint.org/docs/user-guide/configuring#configuring-plugins):

However, the plugin somehow works fine wit

[2020-10-06 16:25] sadasant commented on #10705
@jlichwa  that looks cool! Thank you!

[2020-10-06 16:27] sadasant commented on #11578
Oh! Sure can do. I'm glad this is for November though. For a moment I got worried.

[2020-10-06 16:32] sadasant commented on #11595
@noelbundick Thank you, Noel! We'll most likely be releasing today. I'll send you instructions a bit later. After that, if you have the time to try again, please let us know. Otherwise, I'll go more in depth later this week.

[2020-10-06 16:37] ramya-rao-a commented on #11631
Thanks for the feedback @AElharouny

Can you confirm that this feedback is for the `@azure/arm-servicebus` package which is for resource management for Service as I don't see this method in `@azure/service-bus` package which is more for the data operations on Service Bus

[2020-10-06 16:42] ramya-rao-a commented on #11582
@diberry Thanks for the feedback

The core packages are not meant for direct consumption by the end customers. The people who would be referring to these samples would be people writing the SDKs for Azure services which are written in TypeScript and not in JavaScript. Therefore, I do not see this as an adoption blocker for end customers. Thoughts?

cc @xirzec