[2022-10-17 06:46] lirenhe commented on #23519
@qiaozha, could you take a look?

[2022-10-17 06:56] zzhxiaofeng commented on #22749
@joheredi We use rush command to install the dev-tool(version: 1.0.0) and run `dev-tool samples publish` under purview-catalog. Then it return an error as following. Please have a look when you are free.
![Screenshot 2022-10-17 145218](https://user-images.githubusercontent.com/20970631/196108462-5ec0f477-8e58-4fbf-bdcf-ad33eef3cda8.jpg)

[2022-10-17 07:04] qiaozha commented on #23519
@kazrael2119 Can you help take a look and try to fix it in the code gen side ?

[2022-10-17 17:18] #18005 closed

[2022-10-17 17:39] jeremymeng commented on #23474
@proohit glad to hear that you got it running!  Curious did you test on real hardware too, or just emulator?

Yes, some nodejs modules are not really used when running in browsers.  However, since in previous versions, they are all `require`d by the commonjs version, react-native packager or bundler would report error if they are not found during build time.   We just merged a PR to allow importin

[2022-10-17 19:49] jeremymeng commented on #20274
@zfyseu ah sorry I thought you were having the batching issue.  Is it possible for you to turn on more detailed logging and share the logs when the SDK stops receiving messages?

[code]

[2022-10-17 20:03] proohit commented on #23474
I tested it on the simulators, but it only worked on iOS due to some old bridge libraries on android. As I said this has nothing to do with azure sdk, but it would be great not to be dependent on polyfills as much. Your PR looks promising and I'm eager to find out which polyfills you want to include! Have you got some examples for the mappings?

[2022-10-17 20:34] vcolin7 opened #23531 "[KeyVault] - Add support for new Settings endpoints"
In order to support the new Settings endpoints added to Key Vault, the following changes need to be made:

- Create a new client called `KeyVaultSettingsClient` in the Key Vault Administration library.
- Have said client support all 3 operations outlined in the service's swagger [specification](https://github.com/Azure/azure-rest-api-specs/blob/fead0dec636e7554fb8401370418085136d4f052/specificatio

[2022-10-17 23:01] jeremymeng commented on #22172
@subhod-i also it looks like an issue in create-react-app v4.  The latest v5 worked fine for me without changes from PR #22804

[2022-10-17 23:05] jeremymeng commented on #22172
Some references:
https://github.com/facebook/create-react-app/issues/10356
https://stackoverflow.com/a/72959074/2170938

[2022-10-18 00:51] Drewm3 commented on #23516
Moving this to Azure Resource Manager (ARM) because the filtering is managed by ARM. There are alternative options that are being considered. So this feature request may end up being declined.

[2022-10-18 03:05] v-jiaodi opened #23535 "[Text Analytics] [AAD] TextAnalyticsClient LROs #health show stats and model version failing in nightly runs"
Text Analytics nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:251:17)
    at deserializeResponseBody (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:159:43)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

For more details check here:

- ht

[2022-10-18 03:05] v-jiaodi opened #23536 "[Communication - Chat] Deploy test resources failing in nightly runs"
Communication - Chat nightly test runs are failing with:

CorrelationId: 248f252d-91ca-4d15-a1f9-fb10a8d5da13"
At D:\a\_work\1\s\eng\common\TestResources\New-TestResources.ps1:725 char:23
         $deployment = Retry {
[code]

[2022-10-18 03:05] v-jiaodi opened #23537 "[Communication - Phone Numbers] SipRoutingClient - get trunks can retrieve not empty trunks failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at Context.<anonymous> (dist-test/index.browser.js:87968:26)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1923831&view=results

[2022-10-18 03:05] v-jiaodi opened #23538 "[Service Bus] Batching Receiver Batch Receiver - disconnects Session Batch Receiver - disconnects (sessions) failing in nightly runs"
Service Bus nightly test runs are failing with:

    at translateServiceBusError (/Users/runner/work/1/s/sdk/servicebus/service-bus/src/serviceBusError.ts:86:63)
    at MessageSession._init (/Users/runner/work/1/s/sdk/servicebus/service-bus/dist-esm/src/session/messageSession.js:39:1517)
    at processTicksAndRejections (node:internal/process/task_queues:95:5)
    at Function.create (/Users/runner

[2022-10-18 03:05] azure-sdk commented on #23536
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.39902252,ARM:0.09725183,Container Registry:0.0826118'

[2022-10-18 03:05] azure-sdk commented on #23537
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.38692057,Communication:0.3129438,Azure.Identity:0.05086261'

[2022-10-18 06:08] azure-sdk commented on #23536
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.39902252,ARM:0.09725183,Container Registry:0.0826118'

[2022-10-18 10:22] sajeetharan commented on #23518
We are investigating on this!

[2022-10-18 20:23] jeremymeng commented on #23470
@chidozieononiwu could you please help update the exclusion list?

[2022-10-18 20:26] jeremymeng opened #23550 "[Aggregate-Reports] arm-webservices broken links"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1925333&view=results (MS INTERNAL)

'file:///D:/a/_work/1/s/sdk/machinelearning/arm-webservices/samples/v1/javascript/README.md' has 1 broken link(s):
  https://docs.microsoft.com/javascript/api/@azure/arm-webservices?view=azure-node-preview
'file:///D:/a/_work/1/s/sdk/machinelearning/arm-webservices/samples/v1/typescript/README.md' h

[2022-10-18 22:48] jeremymeng commented on #22172
I did some testing with @subhod-i's repro project.  With PR #22804, webpack 4 now reports a different error:

Importing from a .mjs file in a simple project works fine when webpack is not involved.  It feels that webpack doesn't work very well with ESM.  I will continue to check if there's anything we can do.

[2022-10-19 02:34] #23535 closed

[2022-10-19 03:32] navba-MSFT commented on #23318
Adding Service team to look into this.

[2022-10-19 03:33] navba-MSFT commented on #23318
@antcp, @AzureAppServiceCLI Could you please look into this issue and provide an update ?

[2022-10-19 07:19] qiaozha commented on #23519
This has been fixed in codegen, we will fix this issue in our next refresh. Thanks

[2022-10-19 07:24] qiaozha commented on #23456
@kazrael2119 can you help change the core-client version into ^1.6.1 in autorest.typescript？ Thanks

[2022-10-19 07:25] qiaozha commented on #23407
close it as resolved. Thanks

[2022-10-19 07:25] #23407 closed

[2022-10-19 16:39] #22999 closed

[2022-10-19 16:40] #22916 closed

[2022-10-19 16:40] #22917 closed

[2022-10-19 16:40] #22918 closed

[2022-10-19 16:40] #22919 closed

[2022-10-19 16:40] #22529 closed

[2022-10-19 16:40] #22530 closed, assigned to mpodwysocki

[2022-10-19 16:49] #13841 closed

[2022-10-19 16:50] #19299 closed

[2022-10-19 16:50] #21043 closed

[2022-10-19 16:50] #21269 closed

[2022-10-19 18:25] witemple-msft commented on #23385
@kawazoe Thanks for checking it out and apologies that I had to drop this for a bit. I'm glad it mostly works the way you expect. On your points:

1. (recur on arrays) I'll sync with @dgetu to try to understand all the scenarios we need to handle. This is one of those areas where I'm just not familiar enough with the service's capabilities but others on our team are, and I don't see how recursing

[2022-10-19 19:08] jeremymeng commented on #23550
Looks that this is now passing.  Maybe redirects from docs.microsoft.com to learn are now working.

[2022-10-19 19:08] #23550 closed

[2022-10-19 23:21] #22940 closed

[2022-10-20 00:02] jeremymeng commented on #22172
It is still not clear to me why from a .mjs file, webpack couldn't use the `module` field in our package.json.  However, the following workaround seems to work for me
[code]

[2022-10-20 01:31] zfyseu commented on #20274
@jeremymeng OK, I'm a little busy these days. I'll collect the logs later.

[2022-10-20 06:39] HarshaNalluru opened #23567 "[ARM] Migrate tests to use recorder v2 instead of v1"
We have an ongoing effort of moving recordings for all the tests out of the JS repository to the assets repo.
For that, each of the packages have to be on recorder v2.

[code]
So, 111 arm packages depend on recorder v1.

Most of them look like dummy test files.
<img width="507" alt="image" src="https://user-images.githubusercontent.com/10452642/196874499-5ac929ee-4aed-46d5-8360-ae1b6b55f837.png">

[2022-10-20 07:00] kazrael2119 commented on #23456
I have updated the version in autorest.typescript. In later versions, it will be ^1.6.1

[2022-10-20 16:34] jeremymeng commented on #22172
@davidyuk I added `"type": "module"` in PR #22804.  However, the repro project now gives another error [as mentioned above](https://github.com/Azure/azure-sdk-for-js/issues/22172#issuecomment-1283098185).  I am still trying to figure out whether there's anything I can do to fix that.

[2022-10-20 20:36] marcosaguilera-glober opened #23573 "Event message returns known/unusual Date format"
- **Package Name**: "@azure/event-hubs"
- **Package Version**:  "latest"
- **Operating system**:  Windows 10
- [x ] **nodejs**
    - **version**: 18
- [ ] **browser**
    - **name/version**:
- [x ] **typescript**
    - **version**: 4.8
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2022-10-21 00:10] styfle commented on #22321
@EmmaZhu Checking in again since we've passed the second week of October.

When can we expect the fix to be released? Perhaps you can backport the patch if something else is causing the delay?

[2022-10-21 00:29] jeremymeng commented on #23573
@marcosaguilera-glober if it's a Long, you can use the "long" package to handle it: https://www.npmjs.com/package/long

[2022-10-21 03:25] v-jiaodi opened #23579 "[Communication - Phone Numbers] SipRoutingClient - set routes can set a new route with trunk failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/communication/communication-phone-numbers/test/public/siprouting/setRoutes.spec.ts:103:14)
    at processTicksAndRejections (node:internal/process/task_queues:95:5)
      + expected - actual
      -[]
      +[
      +  {
      +    "description": "myFirstRoute's description"

[2022-10-21 03:25] azure-sdk commented on #23579
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.109801225,Communication:0.0973858,Azure.Identity:0.08730764'

[2022-10-21 03:25] v-jiaodi opened #23580 "[Key Vault - Secrets] Secrets client - Long Running Operations - recoverDelete can attempt to recover a deleted secret with requestOptions timeout failing in nightly runs"
Key Vault - Secrets nightly test runs are failing with:

    at assertThrowsAbortError (test/public/utils/common.ts:30:14 <- dist-test/index.browser.js:88483:20)
    at async Context.<anonymous> (test/public/recoverBackupRestore.spec.ts:17:7 <- dist-test/index.browser.js:89609:13)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1932950&view=results

[2022-10-21 06:55] AFengKK opened #23582 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=326805&view=results

@danieljurek for notification.

[2022-10-21 06:56] azure-sdk commented on #23582
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.1561077,Event Hubs:0.10485453,Cosmos:0.104346484'

[2022-10-21 08:03] #23298 closed

[2022-10-21 10:06] 3TanE opened #23587 "Data Lake StorageV2+client.notifyBlobUploadStatus = Bad Request"
- **Package Name**: <azure-iot-device>
- **Package Version**: 12.12.0
- **Operating system**: Ubuntu 22.04
- [X] **nodejs**:  Node.js v18.7.0
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [X] SDK API docs on https://docs.microsoft.com

**Describe the bug**
In combination with a Data Lake StorageV2  client.notifyBlobUploadStatus responds with 4

[2022-10-21 16:00] mpodwysocki commented on #22864
@danbridgellc none of the modules listed are used by Azure Notification Hubs.  Those are very low level APIs and this is a REST library dealing with HTTPS traffic

[2022-10-21 16:35] xirzec commented on #23582
I'm a little suspicious of the fact that the logs mention Node 19, which only recently dropped. Perhaps we have a CI script somewhere that is always grabbing the latest node?

[2022-10-21 17:16] danieljurek commented on #23582
Indeed the pipeline is using Node >= 10.x

However, I see passing builds using Node 19 and [successfully building docs for `@azure/core-https@1.0.0-beta.1`](https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=326194&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=10d4dedf-3ed0-5c6c-5844-62d0cbb3c253&l=700)

This reads like a regression.

[2022-10-21 17:18] #23183 closed

[2022-10-24 16:03] gingi commented on #21110
I have the exact same issue. We use `@azure/storage-blob` in an Electron web view, and try to use browser-only flows (which is not ideal), but then encounter this error ("DisableResponseDecompressionPolicy is not supported in browser environment") when trying to list storage containers (`BlobServiceClient.listContainers()`). In addition to addressing this particular issue, it would be helpful to p

[2022-10-24 18:05] scbedd commented on #23420
Had a brief discussion, easiest way to tackle this will be to add the proxy devcert to the set of trusted certificates in a pipeline policy.

I will double check if there aren't any easy environment variable settings that could also work here.

[2022-10-24 18:06] tony0918 commented on #15893
Hi Team,
Is there any updates for this issue? I was getting this issue in latest SDK.

"@azure/event-hubs": "^5.8.0",
"@azure/eventhubs-checkpointstore-blob": "^1.0.1",

[2022-10-25 02:06] EmmaZhu commented on #21110
Seems the root cause for this issue is: `isNode` function in our SDK determines it's a node environment, but the bundle still thinks it's a browser and uses the browser version file.

The best fix should be to make `isNode` and the bundle behavior consistent.  But for now, we still don't know what the difference happens.

[2022-10-25 02:37] EmmaZhu commented on #21110
Hi @jeremymeng ,

If we add a browser version `isNode` implementation which always returns `false`, would this cause any potential issues? This way the `isNode` behavior would be consistent with the bundle way. I'm still worried this may cause other issues we don't know about for now.

Thanks
Emma

Thanks
Emma

Thanks
Emma

[2022-10-25 03:13] EmmaZhu commented on #23587
@3TanE

`client.notifyBlobUploadStatus` is from `azure-iot-device` package which is built from this repository https://github.com/Azure/azure-iot-sdk-node

Owner of `azure-iot-device` package should know more about your issue.
Could you open an issue for the IoT repository (https://github.com/Azure/azure-iot-sdk-node)?

[2022-10-25 05:00] deyaaeldeen commented on #15893
Hi @tony0918, could you please share more details about the issue you're facing and how your environment is setup? What are the recent changes performed by the load balancer right up to the occurrence of the issue?

Please see the [troubleshooting guide] (https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/eventhub/event-hubs/TROUBLESHOOTING.md#current-receiver-receiver_name-with-epoch-0-is-ge

[2022-10-25 06:49] kotewar commented on #22321
@EmmaZhu, has the GA version released yet? Can you please update regarding the same?

[2022-10-25 07:29] 3TanE commented on #23587
sure thank you very much for your reply

[2022-10-25 07:38] EmmaZhu commented on #22321
Hi, the timeout fix has been released in the latest GA version: @azure/storage-blob@12.12.0.

[2022-10-25 08:44] v-jiaodi opened #23600 "[Key Vault - Keys] Keys client - Long Running Operations - delete can resume from a stopped poller failing in nightly runs"
Key Vault - Keys nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\keyvault\keyvault-keys\test\public\lro.delete.spec.ts:72:12)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1939727&view=results

[2022-10-25 08:44] v-jiaodi opened #23601 "[Service Bus] Message Lock Renewal PartitionedSubscription: Batch Receiver failing in nightly runs"
Service Bus nightly test runs are failing with:

    at Object.should.equal (/Users/runner/work/1/s/common/temp/node_modules/.pnpm/chai@4.3.6/node_modules/chai/lib/chai/interface/should.js:98:35)
    at assertTimestampsAreApproximatelyEqual (/Users/runner/work/1/s/sdk/servicebus/service-bus/test/internal/renewLock.spec.ts:416:14)
    at testBatchReceiverManualLockRenewalHappyCase (/Users/runner/wo

[2022-10-25 08:44] v-jiaodi opened #23602 "[Storage - File Datalake] LeaseClient from File renewLease failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/storage/storage-file-datalake/test/leaseclient.spec.ts:207:12)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1941463&view=results

[2022-10-25 08:44] v-jiaodi opened #23603 "[Tables] AuthMethods Test AccountConnectionString node TableServiceClient "before each" hook for "Create and Delete Table" failing in nightly runs"
Tables nightly test runs are failing with:

    at getAccountConnectionString (D:\a\_work\1\s\sdk\tables\data-tables\src\utils\accountConnectionString.ts:21:5)
    at extractConnectionStringParts (D:\a\_work\1\s\sdk\tables\data-tables\src\utils\connectionString.ts:31:52)
    at getClientParamsFromConnectionString (D:\a\_work\1\s\sdk\tables\data-tables\dist-esm\src\utils\connectionString.js:13:477)

[2022-10-25 17:27] witemple-msft commented on #22608
Closing as I feel there is no action for the SDK to take here and the issue has been inactive for around a month. Please feel free to reopen if you feel it's necessary.

[2022-10-25 17:27] #22608 closed

[2022-10-25 18:43] ShivangiReja opened #23605 "[App Configuration] Add Key-value snapshots feature"
Key-value snapshots allow developers to create a point-in-time snapshot of their configuration store. These snapshots are immutable. They can be deleted, but will have soft-delete enforced. During creation, developers can add filters to their snapshots to filter what key-values get put inside. This allows developers to create immutable, composed views of their configuration store that they can rel

[2022-10-26 05:18] MaryGao commented on #23567
@HarshaNalluru I have an rough estimation, there are

-  ~90 `sampleTest.ts` files which are the dummy files generated by codegen
-  ~35 testing files which are written manually

I think for the generated dummy files we could have a script to exec the steps in [upgrading to v2 gist ](https://gist.github.com/MaryGao/8ec455b13f3d197fb2204d5be0e988d9).

[2022-10-26 05:53] muhammadalhrake commented on #22963
@HarshaNalluru
I've jute made this in the receiver

`export const receiveMessage = async (
	sbClient: ServiceBusClient,
	queueName: string,
	handler: ( brokeredMessage: ServiceBusReceivedMessage ) => Promise<void>,
	maxConcurrentCalls: number = 1
) => {
	try {
		let queueReceiver = sbClient.createReceiver( queueName);
		console.log("tracking the receiver link",queueReceiver.identifier,"queue name"

[2022-10-26 10:03] #23503 closed

[2022-10-26 15:58] jackUTS opened #23609 "Custom Entity Recognition - SyntaxError: Missing initializer in const declaration"
- **Package Name**: @azure-sdk
- **Package Version**: "latest"
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: 16.16.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Follow

[2022-10-26 15:59] azure-sdk commented on #23609
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.18694614,Azure.Identity:0.11207476,Cosmos:0.09292228'

[2022-10-26 18:10] xirzec commented on #23609
This looks to me like you are using TS syntax inside a JS file?

Try removing the `:AnalyzeBatchAction[]` part here:

[code]

to make it:

[code]

[2022-10-26 20:25] ronniegeraghty opened #23612 "[AppConfig] Support for AAD authentication challenge"
Provide customers with a proper way to obtain AAD authentication tokens with proper audience for different clouds.

[2022-10-26 20:41] ronniegeraghty opened #23613 "[AppConfig] Support for configuration snapshot"
Add APIs to the SDK for new REST APIs fo the configuration snapshot feature in App Config.

[2022-10-26 21:08] ronniegeraghty opened #23614 "[Core] Regional Fallback"
Add regional fallback to azure core.

[2022-10-26 21:35] ronniegeraghty commented on #23613
Duplicate of #23605

[2022-10-26 21:35] #23613 closed

[2022-10-27 00:35] deyaaeldeen opened #23616 "[Language Text] Unskip LRO cancellation test"
The `cancel after progress` test currently throws the following exception:

However, it is expected the test will succeed as the sent cancellation request should be received successfully by the service.

[2022-10-27 00:55] deyaaeldeen opened #23617 "[Language Text] Remove Dynamic Classification output rename mitigation"
The API should return responses with the `class` property but it is currently returning `classifications` instead. The client library currently handles both names but it should handle the `class` name only once the API is updated.

[2022-10-27 00:58] deyaaeldeen opened #23618 "[Language Text] Dynamic Classification output doesn't match swagger"
The property should be named [`class`](https://github.com/Azure/azure-rest-api-specs/blob/574be7aa7087e815bc21e2ea0c5357038830dd10/specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/analyzetext.json#L755) instead of `classifications`.

[2022-10-27 00:59] deyaaeldeen commented on #23618
Once this issue is addressed, https://github.com/Azure/azure-sdk-for-js/issues/23617 should be addressed too.

[2022-10-27 03:29] EmmaZhu commented on #23587
Not a storage issue, close it for now. Any further assistant required, please feel free to reactive it.

[2022-10-27 03:29] #23587 closed

[2022-10-27 05:34] jackUTS commented on #23609
Hi @xirzec,

This seemed to fix the issue, thanks, not sure where I got the typescript from.

I'm now having issues with TextAnalysisClient, as below.
const client = new TextAnalysisClient("https://custom-ner.cognitiveservices.azure.com/", new AzureKeyCredential("0b1e830d8d4e420bb6798f8007b8d511"));
                 ^

TypeError: TextAnalysisClient is not a constructor

Any chance you could assist

[2022-10-27 05:36] zfyseu commented on #20274
Hi @jeremymeng , The time of the receiver hang is around 2022-10-26T17:31:40 UTC time. I take a screenshot of some logs near the time.

![debugLogSnipaste_001](https://user-images.githubusercontent.com/9625145/198200146-c31a8c5e-329d-42ae-8b69-e63ecd330841.png)

![debugLogSnipaste_002](https://user-images.githubusercontent.com/9625145/198200183-e4c631ff-b838-4c2e-8c82-5c2eab4abb2f.png)

![debugLog

[2022-10-27 06:30] EmmaZhu commented on #22568
The fix has been released in @azure/storage-blob@12.12.0.

[2022-10-27 06:30] #22568 closed

[2022-10-27 06:51] EmmaZhu commented on #21341
https://github.com/Azure/azure-sdk-for-js/pull/22895

[2022-10-27 06:51] EmmaZhu commented on #21341
The fix has been released in @azure/storage-blob@12.12.0. Would you like to have a try?

[2022-10-27 07:23] wcdutoit2 opened #23623 "ScheduleMessages() method throws a ServerTimeout instead of MessageSizeExceeded exception"
- **Package Name**: azure-sdk-for-js/sdk/servicebus
- **Package Version**: 7.3.0
- **Operating system**: Windows
- **nodejs** : v14.17.0
- **browser** : chrome/106.0.5249.103

**Describe the bug**
The SDK does not return a meaningful message when calling _.scheduleMessages()_ using a payload that exceeds the Azure Service Bus message size limit. The error message received from _scheduleMessages()_

[2022-10-27 09:21] FranckAtZelros opened #23624 "[Storage - Blob] : Azure Storage version "2021-10-04" does not exist"
- **Package Name**: azure-sdk-for-js/storage/storage-blob (npm : @azure/storage-blob)
- **Package Version**: 12.12.0
- **Operating system**: MacOS (All)
- [x] **nodejs**
    - **version**: 16
- [ ] **browser**
    - **name/version**: N/A
- [x] **typescript**
    - **version**: 4.6.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API doc

[2022-10-27 16:41] tony0918 commented on #15893
@deyaaeldeen , I was running my Nodejs application with Azure Event SDK on my local laptop. The application is connecting to an Event Hub via connection string and save checkpoints on Storage account by SAS connection string. The Event Hub has 32 partitions but only one application was running. When application just started, no error log but after ~30 seconds, it repeated appears.

[2022-10-27 16:59] jeremymeng commented on #23624
@FranckAtZelros Thanks for reporting the issue!  Could you please share more information about your Blob Storage resources?  What's the region?  Is it on a non-public cloud?

[2022-10-27 17:01] jeremymeng commented on #23623
@wcdutoit2 Thank you for reporting this issue!  I will have a look at this shortly.

[2022-10-27 17:25] xirzec commented on #23609
@jackUTS Above it looked like you were using `@azure/ai-text-analytics` which has a `TextAnalyticsClient`: https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/textanalytics/ai-text-analytics

But now it seems like you are trying to use the newer `TextAnalysisClient` from `@azure/ai-language-text`? https://github.com/Azure/azure-sdk-for-js/blob/b16bb8e2b97e4602257c6639bd8aad2d80cbb3f1/sdk/cogni

[2022-10-28 00:25] deyaaeldeen commented on #23609
@jackUTS Could you please use @azure/ai-language-text@1.0.0? Here is a sample for [custom entity recognition](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cognitivelanguage/ai-language-text/samples/v1/javascript/customEntityRecognition.js). Please note that @azure/ai-text-analytics@6.0.0-beta.1 is a beta library that we're planning to deprecate.

[2022-10-28 00:31] deyaaeldeen commented on #15893
@tony0918 Thanks for the context, could you share a small repro code that I can use for testing on my end?

[2022-10-28 01:39] elliot-huffman opened #23633 "Unable to enable FIPS mode on latest Node 18 LTS"
- **Package Name**:  @azure/identity
- **Package Version**: 3.0.0
- **Operating system**: Windows 11 22H2
- [X] **nodejs**
    - **version**:  18.12.0
- [ ] **browser**
    - **name/version**: N/A
- [X] **typescript**
    - **version**: 4.8.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Descri

[2022-10-28 04:40] yyvess commented on #23624
@jeremymeng
Public cloud in West Europe

[2022-10-28 06:08] v-jiaodi opened #23637 "[Eventhubs - Checkpointstore Blob] Deploy test resources failing in nightly runs"
Eventhubs - Checkpointstore Blob nightly test runs are failing with:

Status Message: Default eventHub endpoint 'operationsMonitoringEvents' is missing from the EventHub Endpoints. If you contact a support representative please include this correlation identifier: 0bbca652-4c81-4de9-a0fc-a2a205de82f8, timestamp: 2022-10-27 12:31:58Z, errorcode: IH404010. (Code:404010)
CorrelationId: b2883cee-4c98-

[2022-10-28 16:26] xirzec opened #23641 "[core] Update tsconfig compilerOptions.target"
Now that we have a new minimum supported version of Node (node 14), we should revisit our current setting for compilerOptions.target:

https://github.com/Azure/azure-sdk-for-js/blob/0b91e87129b7de5861b60d489b6974ea9abe9bcf/tsconfig.json#L3

It looks like the recommended config for node14 recommends "es2020": https://github.com/tsconfig/bases/blob/main/bases/node14.json

Updating this will allow us

[2022-10-28 17:30] scottaddie opened #23642 "[Monitor Query] Document sovereign cloud support in logs and metrics query clients"
In the Azure Monitor Query library, public cloud is the default. Add a section to the README that explains how to configure the library's clients for non-public cloud usage. I suggest adding this guidance in https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/monitor/monitor-query/README.md#create-the-client.

[2022-10-28 17:42] xirzec commented on #23633
@elliot-huffman which credential are you using and is there a particular service call you're trying to make?

[2022-10-28 18:14] elliot-huffman commented on #23633
I am using `ClientSecretCredential` or `ManagedIdentityCredential` in a `ChainedTokenCredential`.
Just Graph API calls using the `@microsoft/microsoft-graph-client` package.

[2022-10-28 19:29] jeremymeng commented on #20274
@zfyseu Thank you for sharing the log. Just to confirm, this is with the abortSignal workaround?  Do you see my logs for "[connection-8]" afterwards?

[2022-10-29 02:34] zfyseu commented on #20274
@jeremymeng  Yes, this is with the abortSignal workaround.  And the AbortSignal is 5s after maxWaitTimeInMs.

![image](https://user-images.githubusercontent.com/9625145/198780501-99db257b-3f4e-472f-b8b7-0b5d0a7a4cc2.png)

[2022-10-30 10:11] josendf-basetis opened #23647 "[Storage Blob] Server failed to authenticate the request after upgrade to v12.12.0"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.12.0
- **Operating system**: Linux and Windows
- [x] **nodejs**
    - **version**: 16.18.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.8.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Desc

[2022-10-31 06:05] EmmaZhu commented on #23624
Seems like a service side issue.  I'll bring it to storage service.

[2022-10-31 15:25] Dylan24Martin opened #23653 "400 Response when authenticating with the DefaultAzureCredential"
- **@azure/identity**:
- **1.1.0**:
- **Windows**:
- [ ] **nodejs**
    - **16.14.2**:
**Describe the bug**
I am using Azure node serverless REST functions to create resources with the DefaultAzureCredential with the ComputeManagemmentClient and ReasourceManagementClient. When the DefaultAzureCredential is called there is a 400 response. The functions were working before this issue and there were

[2022-10-31 15:57] xirzec commented on #23647
@josendf-basetis thanks for reporting! Can you share which mechanism you are using for authentication?

[2022-10-31 16:14] josendf-basetis commented on #23647
Hi @xirzec,

We are creating the blob service client from a connection string:

[code]

[2022-10-31 16:40] xirzec commented on #23633
@elliot-huffman I'm struggling a bit to get this to work with Graph since I think to do what you want would require either admin consent to allow the app to access graph without a signed in user or to use a different credential type that would permit delegated access.

I did try it against keyvault:

[code]

But the error I get back is an SSL one instead:

[code]

If you use `ClientSecretCredentia

[2022-10-31 16:41] minhanh-phan commented on #23509
This issue is also present in `app-configuration` services in the `index.spec.ts` file in all the `accepts operation options` as shown [here](https://github.com/minhanh-phan/azure-sdk-for-js/blob/5aaad5796c8e97c99ab4468316870fe0061499dc/sdk/appconfiguration/app-configuration/test/public/index.spec.ts#L165 ), [here](https://github.com/minhanh-phan/azure-sdk-for-js/blob/5aaad5796c8e97c99ab4468316870

[2022-10-31 17:22] xirzec commented on #23647
@josendf-basetis thanks! Can I assume you are using account key authentication with the connection string rather than a SAS token?

[2022-10-31 17:36] josendf-basetis commented on #23647
Hi @xirzec

We are using account key authentication, connection string provided by Azure Portal.

[2022-10-31 19:52] joheredi commented on #23603
This seems to be a PR run, I'm closing as the latest scheduled runs are passing

[2022-10-31 19:52] #23603 closed

[2022-10-31 22:24] #23263 closed

[2022-10-31 22:31] #23397 closed

[2022-10-31 23:38] minhanh-phan opened #23659 "[App Configuration] Authentication test errors"
Test for `token authentication` fails for browser test because of a rest error: `RestError: Error sending request: Failed to fetch`. We are currently skipping the browser test for authentication (here)[https://github.com/Azure/azure-sdk-for-js/blob/f7addb6869c55b0a5ce9a016d03d330091724329/sdk/appconfiguration/app-configuration/test/public/auth.spec.ts#L29]

[2022-10-31 23:56] photomoose commented on #22963
I'm also seeing this error, roughly every 10 minutes, as follows:

[code]

Sample code that causes this - note that I handle the error by re-establishing a new connection, which seems to work:

[code]

[2022-11-01 00:34] jeremymeng commented on #22963
@photomoose Thanks for sharing your code! According to [the doc](https://learn.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-troubleshoot#link-is-closed), this error is expected when there's no send/receive are made for 10 minutes. Do you know whether that's the your case (i.e., no activity for 10 minutes).

[2022-11-01 01:18] vicancy commented on #20571
Should be resolved now

[2022-11-01 10:33] Mad-Kat commented on #21778
Thanks for pointing this out after I deployed our Extension it stopped working (builds on Linux and I'm running MacOS). For me that just shows that I should rely solely on `Azure Account`-Extension and build the gathering of the credentials from there. Would it be possible to write this information to the Docs? So that future developers don't build something that doesn't work atm?

[2022-11-01 20:51] #20834 closed

[2022-11-02 08:04] #22351 closed

[2022-11-02 09:07] EmmaZhu commented on #23624
Hi @FranckAtZelros , Does the issue still exist?

[2022-11-02 12:48] algattik opened #23679 "enable AAD authentication on your Purview resource"
The text "enable AAD authentication on your Purview resource" is confusing. AAD authentication does not need enablement.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 420d58d4-100d-64f4-2ddf-917946e02003
* Version Independent ID: 3dec8c03-83f0-5b4c-7e79-3097f9a52307
* Content: [Azure Purview Catalog REST client libra

[2022-11-02 12:48] azure-sdk commented on #23679
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.20329334,Purview:0.117525,Azure.Identity:0.047571123'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.54696125,Mgmt:0.3802194,Service:0.037581'

[2022-11-02 19:06] gingi commented on #21110
@EmmaZhu: It looks like `isNode()` works properly within the Electron renderer process (it returns `true`). But `@azure/core-http` still uses the browser version of several policies, including `DisableResponseCompressionPolicy`, which throw this error. It seems to be defined in [`package.json`'s "browser" section](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/core/core-http/package.json#

[2022-11-02 21:33] wesleyae opened #23682 "@azure/arm-subscriptions SubscriptionClient `subscriptions.list` fails in AzureGovernment"
- **Package Name**: @azure/arm-subscriptions
- **Package Version**: 5.0.1
- **Operating system**: Linux
- [x] **nodejs**
    - **version**: v16.18.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2022-11-02 21:39] #15930 closed

[2022-11-02 21:40] #18010 closed

[2022-11-03 01:54] EmmaZhu commented on #23624
Hi @yyvess ,

We did update the version on purpose. Seems the document is not updated.

The tenant may have some issue on upgrading supported version, if the issue still exists.  We'll look into it.

[2022-11-03 02:28] qiaozha commented on #23682
@wesleyae Can you try the suggestion here https://github.com/Azure/azure-sdk-for-js/issues/23134#issuecomment-1258740602 to see if it's works for you ?

[2022-11-03 07:03] zzhxiaofeng opened #23690 "Azure Key Vault Keys Readme Issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/keyvault/keyvault-keys#configuring-automatic-key-rotation)
![GetImage](https://user-images.githubusercontent.com/20970631/199656312-42f1ac24-f434-415d-8bf6-c1c252dd7a8b.jpeg)

Reason1: Url is not defined.
Reason2: Key is not defined.

Suggestion1:
Update `vaultUrl` to `url`.
Suggestion2:
Update `key.name` to `keyName`.

2.
S

[2022-11-03 08:52] vitalymelni opened #23693 "Multi-tenant authentication does not work with a client secret credentials"
- **Package Name**: @azure/identity
- **Package Version**: 3.0.0
- **Operating system**: macOS 12.6
- [X] **nodejs**
    - **version**: v16.16.0
- [X] **typescript**
    - **version**: 4.8.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Trying to authenticate with a tenant id

[2022-11-03 11:23] leomelin commented on #23624
I also stumbled upon this issue. I did a bit of digging and noticed that when the `new BlobServiceClient` is created (it inherits `StorageClient` and calls that super method. There it creates the `StorageClientContext` that holds the `version` of the API that should be used. Although the constructor of `StorageClientContext` newer gets version from contstructor options as the code calls `pipeline.

[2022-11-03 13:27] wesleyae commented on #23682
Thanks @qiaozha. I was able to list subscriptions when the `credentialScopes` option was specified:

[code]

Is there documentation that describes how such options should be formed when utilizing AzureGovernment? I wasn't able to find such documentation.

[2022-11-03 17:50] jeremymeng commented on #23624
Currently we don't support configurating multiple api versions because it's not garanteed to work as expected.  There are workarounds but generally the latest version should work fine.

[2022-11-03 18:17] sebrenna commented on #23420
@scbedd any further updates on that? Still investigating?

[2022-11-03 21:15] tasdflkjweio opened #23706 "Update @azure/storage-blob docs to clarify the intended lifetime of a client"
**Is your feature request related to a problem? Please describe.**
It's not clear whether `@azure/storage-blob` clients should be created per request or if they can be shared.

**Describe the solution you'd like**
Please update the documentation to clarify the intended usage. Should the client be cached or a singleton? Is there any pooling built in? If not, does it make sense to use a pool with th

[2022-11-03 21:28] joshfree opened #23707 "Expose an API to log out the current account and clean up any related cached credential"
Related to https://github.com/Azure/azure-sdk-for-net/issues/31498

[2022-11-03 22:25] HarshaNalluru commented on #23420
@sebrenna still looking, will let you know if there are updates.

[2022-11-03 22:54] HarshaNalluru commented on #22544
not seen anymore

[2022-11-03 22:54] #22544 closed

[2022-11-04 03:25] v-jiaodi opened #23712 "[Text Analytics] [APIKey] TextAnalyticsClient LROs #analyze output order is same as the input's one with multiple actions failing in nightly runs"
Text Analytics nightly test runs are failing with:

    at parseActionError (/mnt/vss/_work/1/s/sdk/textanalytics/ai-text-analytics/src/analyzeActionsResult.ts:300:13)
    at categorizeActionErrors (/mnt/vss/_work/1/s/sdk/textanalytics/ai-text-analytics/src/analyzeActionsResult.ts:326:25)
    at createAnalyzeActionsResult (/mnt/vss/_work/1/s/sdk/textanalytics/ai-text-analytics/src/analyzeActionsRe

[2022-11-04 03:25] v-jiaodi opened #23713 "[Communication - Phone Numbers] SipRoutingClient - set trunks [AAD] cannot set trunks without trunk used in route failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/communication/communication-phone-numbers/test/public/siprouting/setTrunks.spec.ts:184:14)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/r

[2022-11-04 03:25] v-jiaodi opened #23714 "[Key Vault - Administration] Deploy test resources failing in nightly runs"
Key Vault - Administration nightly test runs are failing with:

Line |
 753 |              &$postDeploymentScript -ResourceGroupName $ResourceGroupN …
     |              ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | Failed to export security domain data.
##[error]PowerShell exited with code '1'.

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/re

[2022-11-04 04:03] #23609 closed

[2022-11-04 06:33] qiaozha commented on #23682
Actually, we don't have such document yet, For this specific issue, we are working on issue #23134 so that customer only need to pass endpoint in the government cloud like the way you did before. I will keep this thread posted once it's resolved.

[2022-11-04 13:29] EmmaZhu commented on #23624
@leomelin @FranckAtZelros  @yyvess . Could you share the account name to me? I also tried with a West Europe account but didn't see the issue.

[2022-11-04 13:44] EmmaZhu commented on #21110
@gingi :

I think the issue is because: The bundler dectects it's a browserfy environment and choses the browser version `DisableResponseCompressionPolicy` definition when `isNode()` is not invoked yet. While in runtime, `isNode()` is invoked and returns `true `due to configure of `nodeIntegration: true`

[2022-11-04 13:50] josendf-basetis commented on #23647
Hi @EmmaZhu

Thank you for reviewing this issue, following details of a new request, storage account in Azure West Europe region:

[code]

[2022-11-04 16:25] #23653 closed

[2022-11-04 16:36] chrissmiller commented on #23420
FYI -- our previous workaround no longer works, apparently due to some change in what is stored on base-uri header by the recorder. I've updated our code with a new fix in the above PR.

[2022-11-04 18:42] tasdflkjweio commented on #23706
@xirzec thank you!

[2022-11-04 19:21] jeremymeng commented on #23624
Is there a possibility that Azure Storage Blob resources were deployed with a specific api version? If so, does it affect what REST APIs versions that we can use?

[2022-11-04 20:04] victor-meng opened #23723 "ActivityId is always undefined in FeedResponse"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.16.2
- **Operating system**: Windows
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
ActivityId prope

[2022-11-04 20:18] xirzec commented on #23331
@yzhengamat @dyuan-boxlabs circling back on this, can you try enabling logging? https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/README.md#logging

When using a `ClientSecretCredential` against keyvault and setting `AZURE_LOG_LEVEL=info` in my environment, I was able to see the initial request to my keyvault endpoint which got back a 401 that contained a www-authenticate h

[2022-11-04 21:35] deyaaeldeen commented on #23712
It is the service being flaky, I reran the test and it succeeded

[2022-11-04 21:35] #23712 closed

[2022-11-04 23:44] antkmsft commented on #21323
This was an issue back in April. I tried it now, and it no longer repros in Germany West Central.

[2022-11-05 00:15] HarshaNalluru commented on #23420
Hey @chrissmiller, recorder headers such as `x-recording-upstream-base-uri` are meant to be part of the testing process.
I advise against putting them in the src code.

Please don't merge your workaround PR.
If something doesn't work in playback right now, skip the test in playback until we figure out the solution.

I am working on a solution here https://github.com/Azure/azure-sdk-for-js/pull/237

[2022-11-05 01:23] xirzec opened #23731 "Purview CI failures"
It looks like the CI job for purview has been failing since Aug 9: https://dev.azure.com/azure-sdk/internal/_build?definitionId=2683

Please investigate these failures and update the tests as necessary

[2022-11-05 01:46] EmmaZhu commented on #23624
"2021-10-04" is the latest version used in storage, while there could be some issue on deployment which may failed to deploy latest version on some specific tenant.  We'd need to locate the exact tenant to fix the issue.

[2022-11-05 06:59] bm77525-kr opened #23732 "[notification hubs] SDK cannot parse valid JSON response"
- **Package Name**: @azure/notification-hubs
- **Package Version**: 1.0.0-beta.7

**Describe the bug**
When retrieving an installation via `getInstallation`, a `RestError` is thrown stating the response body could not be parsed. The response body is valid JSON format. After debugging, I found the response headers contain a `Content-Type` of `application/xml` even though the response itself is JSON

[2022-11-05 07:00] azure-sdk commented on #23732
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.08663254,Storage:0.06025839,KeyVault:0.057102457'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.59070516,Mgmt:0.3959275,Service:0.009578549'

[2022-11-05 16:04] chrissmiller commented on #23420
@HarshaNalluru We would strongly prefer any way we can avoid putting the workarounds in source. Due to the nature of our service, creating dependent resources and running full tests live takes several hours, which is not practical for us to do while developing. I'm happy to skip the tests in the pipeline, but we need a way to run tests in playback mode locally to enable development/ensuring our ch

[2022-11-05 23:48] bm77525-kr opened #23733 "[notification hubs] getNotificationOutcomeDetails omits notification body property from response"
- **Package Name**: @azure/notification-hubs
- **Package Version**: 1.0.0-beta.7

**Describe the bug**
The underlying API response for `getNotificationOutcomeDetails` returns a `NotificationBody` property that contains the body of the notification that was sent. The `NotificationDetails` interface also defines the `notificationBody` property, but the internal method that's parsing the response is

[2022-11-06 23:16] HarshaNalluru commented on #23420
I didn't mean for you to skip all the tests. Just the tests that were affected by this. 🙂
You can simply do the following inside the test to skip it.
[code]

BTW, my PR https://github.com/Azure/azure-sdk-for-js/pull/23724 adds support for the HTTPS endpoint of the test-proxy which should unblock you properly soon.

[2022-11-07 03:32] dyuan-boxlabs commented on #23331
@xirzec

Hi Jeff, here are the logs with AZURE_LOG_INFO set to info

[Nest] 22316  - 11/06/2022, 10:26:06 PM     LOG [NestFactory] Starting Nest application...
azure:identity:info EnvironmentCredential => Found the following environment variables: AZURE_TENANT_ID, AZURE_CLIENT_ID, AZURE_CLIENT_SECRET
azure:identity:info EnvironmentCredential => Invoking ClientSecretCredential with tenant ID: ${TEN

[2022-11-07 08:31] qiaozha commented on #23731
Thanks @xirzec for reporting this, I will take a look.

[2022-11-07 14:51] elliot-huffman commented on #23633
I'll build a once off test project and get the results back here.

[2022-11-07 16:31] azure-sdk commented on #23732
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.08663254,Storage:0.06025839,KeyVault:0.057102457'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.59070516,Mgmt:0.3959275,Service:0.009578549'

[2022-11-07 18:28] mpodwysocki commented on #23732
@bm77525-kr The Azure Notification Hubs service team is aware of the issue and will sync back here once we have an answer.  cc @marstr

[2022-11-07 18:40] pallavit opened #23738 "GA blob client for ACR"
- [x] Consistency review for API Surface Area
- [x] Samples and readme consistency review

        https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/containerregistry/azure-containers-containerregistry/README.md#sync-examples
- [x] Changelog consistency review
- [x] TSG review

[2022-11-07 18:41] pallavit opened #23739 "Enable support for large blob upload/download in the Blob client"

[2022-11-07 20:02] timovv commented on #23331
Hi @dyuan-boxlabs, thanks for providing the logs. Is there anything in your network configuration that could be getting in the way of authentication, e.g. a proxy?

[2022-11-07 20:35] dyuan-boxlabs commented on #23331
@timovv Hi Tim, no there is no proxy. I went through the Azure support desk and a support engineer confirmed that my set up was not using a proxy and sent these logs to the dev team.

[2022-11-07 21:31] KarishmaGhiya commented on #23331
@dyuan-boxlabs Can you try passing in the `authorityHost` in the credentials and check if you receive the same error?

[2022-11-07 21:34] xirzec commented on #23331
From the logs we can see this is blowing up inside of MSAL. Looking carefully at the error and noticing that it comes right after we hit the discovery endpoint, I believe it is being thrown from here:

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/288a777d8958e3ba40e6d3fd2acdf8aad5906a3e/lib/msal-common/src/authority/AuthorityFactory.ts#L46

The inner error I believe is c

[2022-11-07 21:50] xirzec commented on #23331
For reference the next request I see after the discovery/instance one is `"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0/.well-known/openid-configuration` followed by the token request `https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token`

[2022-11-07 22:09] xirzec commented on #23331
@dyuan-boxlabs if you want to see what the discovery instance is returning for you, you can replace TENANT_ID with your tenant id and open this in your browser: `https://login.microsoftonline.com/common/discovery/instance?api-version=1.1&authorization_endpoint=https://login.microsoftonline.com/TENANT_ID/oauth2/v2.0/authorize`

[2022-11-07 22:16] xirzec commented on #17821
Closing as duplicate of  https://github.com/Azure/azure-sdk-for-js/issues/19843

[2022-11-07 23:08] xirzec commented on #23331
One thing that stands out to me is your repro is using `@azure/msal-node@1.13.0` and mine is using ` @azure/msal-node@1.14.2` - perhaps that could be causing some issue? Could you try updating that to latest?

[2022-11-07 23:25] minhanh-phan commented on #5192
This issue has been resolved.

[2022-11-07 23:27] xirzec commented on #23633
much appreciated!

[2022-11-07 23:27] minhanh-phan commented on #21466
Closing the issue since the test has been passing in the nightly test runs.

[2022-11-07 23:27] #21466 closed

[2022-11-07 23:29] minhanh-phan commented on #9722
The recordings have been updated when migrating to the new recorder at [this PR](https://github.com/Azure/azure-sdk-for-js/pull/23520).

[2022-11-07 23:29] #9722 closed

[2022-11-08 03:02] EmmaZhu commented on #23624
@leomelin  @FranckAtZelros  @yyvess , apologize for bothering you again. It'd be really helpful, if you could share the problematic account name to us to help us to locate the tenant. Appreciate!

[2022-11-08 04:11] v-jiaodi opened #23747 "[Event Hubs] Authentication via (service version live) AzureSASCredential supports key rotation EventHubConsumerClient receive calls failing in nightly runs"
Event Hubs nightly test runs are failing with:

    at D:\a\_work\1\s\sdk\eventhub\event-hubs\test\public\auth.spec.ts:311:21
    at Object.processEvents (D:\a\_work\1\s\sdk\eventhub\event-hubs\test\public\auth.spec.ts:336:29)
    at PartitionProcessor.processEvents (D:\a\_work\1\s\sdk\eventhub\event-hubs\src\partitionProcessor.ts:107:41)
    at D:\a\_work\1\s\sdk\eventhub\event-hubs\src\partition

[2022-11-08 04:11] v-jiaodi opened #23748 "[Service Bus] Deploy test resources failing in nightly runs"
Service Bus nightly test runs are failing with:

CorrelationId: d2b19c52-d330-4ea3-8f16-418f71ec4bf4"
At D:\a\_work\1\s\eng\common\TestResources\New-TestResources.ps1:725 char:23
         $deployment = Retry {
[code]

[2022-11-08 04:11] v-jiaodi opened #23749 "[Storage - File Datalake]LeaseClient from File breakLease failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/storage/storage-file-datalake/test/leaseclient.spec.ts:260:12)
    at processTicksAndRejections (node:internal/process/task_queues:95:5)
      + expected - actual
      -breaking
      +broken

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?bu

[2022-11-08 11:13] kotewar commented on #22321
Hi @EmmaZhu, thanks for the update.

I have been testing the changes extensively in a workflow with this latest version. Although I've seen some improvements, we haven't seen consistency in the download. I've shared my observations [here](https://github.com/actions/cache/issues/810#issuecomment-1307028598).

To summarise, out of the multiple rans we ran in past couple weeks we saw -
1. 1 timeout w

[2022-11-08 16:37] StevanFreeborn commented on #13005
@ramya-rao-a could I be assigned this issue to work on? Or do I need to be assigned the issue to work on it?

[2022-11-08 20:23] xirzec commented on #13005
@StevanFreeborn happy to let you work on it. Was there a particular SDK you were thinking of starting with?

[2022-11-08 21:36] xirzec commented on #13005
@StevanFreeborn perhaps avoid `arm-` packages initially since I think dataplane packages have more tests. I think separate PRs per SDK will be easiest to get review / merge.

Perhaps search would be a fine starting point? Most of the unit tests should be pretty straightforward to convert, e.g.
 https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/search/search-documents/test/internal/base64.spe

[2022-11-08 21:51] StevanFreeborn commented on #13005
@xirzec ah okay good to know. I shall work accordingly. And agreed separate PRs for each SDK seems like a good way to organize it. Thank you for the direction. Very much appreciated.

[2022-11-08 21:58] xirzec commented on #13005
Thank **you** for your time and effort! Please feel free to comment here or open a draft PR if you have any trouble and we can take a look. 😄

[2022-11-08 22:31] StevanFreeborn commented on #13005
Of course I very much appreciate the opportunity to contribute. I've gone ahead and opened an initial PR for making the necessary changes to the `search-documents` package to confirm I'm moving in the right direction.

I ran the test suite locally for that package using `rushx test` before and after making the changes also to verify things remain as they should.

[2022-11-08 22:56] cburatto opened #23762 "ContainerClient listBlobsFlat stops working from 12.8.0 to 12.9.0 and up"
- **Package Name**:  storage-blob
- **Package Version**: +12.9.0
- **Operating system**:
- [x] **nodejs**
    - **version**: 18.12.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
`listBlobsFlat(

[2022-11-08 23:53] xirzec commented on #23762
/cc @jeremymeng interesting since we recently removed the workaround in this method, maybe it works again in the latest dev build?

[2022-11-09 00:51] jeremymeng commented on #23762
Yes, `@azure/storage-blob@dev` works as expected.

[2022-11-09 03:34] jhlggit opened #23765 "wrong http verb in @azure/storage-queue sendMessage"
- @azure/storage-queue:
- 12.11.0  :
- WSL Ubuntu 20.04:
- [ ] **nodejs**
    - v18.12.0:
- [ ] **browser**
    - Edge/Version 107.0.1418.35 (Official build) (64-bit):
- [ ] **typescript**
    - 3.8.3:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
In the @azure/storage-queue

[2022-11-09 06:17] kazrael2119 opened #23767 "refresh all mgmt sdks with latest @autorest/typescript"
need to refresh all sdks by using @autorest/typescript@6.0.0-rc.3.20221108.1

[2022-11-09 06:51] lirenhe commented on #23767
Please be careful about the breaking changes in mgmt. SDK.

[2022-11-09 07:27] qiaozha commented on #23682
@kazrael2119 Can you help refresh the SDK for Subscriptions ? Thanks

[2022-11-09 09:54] MaryGao commented on #23731
There is a LRO test case failure - `purview catalog glossary test - should work with LRO helper` in [ci log](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1976312&view=logs&j=6efdeaf0-1a41-51ed-b971-2dcbbbf3f363&t=4c6fb447-1b2c-5782-aad8-8917a253f2d4&l=316) and this failure is introduced since the dependency(`@azure/core-lro`) upgraded from 2.2.4 to 2.4.0.
https://github.com/Azur

[2022-11-09 11:07] topshot99 commented on #23723
@victor-meng can you please share entire headers object. I don't see x-ms-activity-id field in the header which you shared.

[2022-11-09 12:02] topshot99 commented on #23723
@victor-meng we found it bit difficult to reproduce the object (shared in screen shot) by following the steps mentioned. Can you please describe your steps to reproduce more?

[2022-11-09 12:32] algorys commented on #23762
Hi here,

Same for me with the following configuration:

Package Name: storage-blob
Package Version: +12.9.0
Operating system:
  nodejs
  - [x ] version: v16.14.0

 OS: Windows 8/10

Is there some fixed version today, except the dev version ?

Thanks :)

[2022-11-09 14:14] joaomoreno commented on #23762
Same here.

[2022-11-09 15:53] paulsmithkc opened #23771 "fetchNext() does not return the first result"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.17.1
- **Operating system**: MacOS and Azure App Services
- [x] **nodejs**
    - **version**: 14 and 16
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.8.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

[2022-11-09 16:01] dyuan-boxlabs commented on #23331
Hi @xirzec

Updated @azure/msal-node to 1.14.3 and still no dice.

Here's the discovery instance info I got from the browser.

{"tenant_discovery_endpoint":"https://login.microsoftonline.com/TENANT_ID/v2.0/.well-known/openid-configuration","api-version":"1.1","metadata":[{"preferred_network":"login.microsoftonline.com","preferred_cache":"login.windows.net","aliases":["login.microsoftonline.com","l

[2022-11-09 17:02] mpodwysocki commented on #23732
@bm77525-kr The Azure Notification Hubs team has been able to reproduce the issue and are working on a fix.  Update here when the fixed has been rolled out

[2022-11-09 17:09] xirzec commented on #23762
Thank you all for the reports, we are working to get a hotfix out for `@azure/core-http` to address this problem and will update this issue as soon as it is up in npm. As a temporary workaround I believe you can force a dependency on ~2.2 to avoid the problem.

[2022-11-09 18:30] xirzec commented on #23762
@joaomoreno @algorys @cburatto `@azure/core-http@2.3.1` is now live in npm (thanks @jeremymeng !) and I have confirmed that it works locally for me in resolving this trouble. Please let us know if you still experience issues.

My sincere apologies for the disruption, we will revisit our release strategy and be more cautious of these kinds of changes in the future.

[2022-11-09 18:30] #23762 closed

[2022-11-09 19:05] victor-meng commented on #23723
@topshot99 Here's the HAR file.
[ActivityId missing in FeedResponse.zip](https://github.com/Azure/azure-sdk-for-js/files/9974320/ActivityId.missing.in.FeedResponse.zip)

[2022-11-09 19:14] victor-meng commented on #23723
You can only get the FeedResponse in the screenshot by setting break-points in our data explorer code. We get the FeedResponse after calling `QueryIterator.fetchNext`. Here's what we do in data explorer:
1.	We call `client().database(databaseId).container(containerId).items.query(query, options)` to get the query iterator.
2.	We call `fetchNext` on the query iterator to get the query response.

I

[2022-11-09 19:16] victor-meng commented on #23723
Another thing to add is that the ErrorResponse does contain the ActivityId:
![image](https://user-images.githubusercontent.com/56978073/200920865-ae1a4ddf-bf94-4a23-9c00-85a7f69cb114.png)

[2022-11-09 19:31] jeremymeng commented on #23765
@jhlggit Thank you for reporting the issue!  I noticed that even https://learn.microsoft.com/en-us/rest/api/storageservices/put-message mentioned "Put Message" as the name of the API, the request method should be POST:

![image](https://user-images.githubusercontent.com/7583839/200923635-c2673616-e3a9-4c22-bd35-c188449ae951.png)

Could you please verify your CORS settings that "POST" method is all

[2022-11-09 19:34] cburatto commented on #23762
Fantastic -- I confirm after a cleanup and reinstall of @azure/storage-blob@12.12.0 works as expected. Thanks for the quick action!

[2022-11-09 21:44] deyaaeldeen commented on #23731
When a `Location` header is returned, the body is ignored according to the spec. Is there a reason why they return `Location` instead of `Operation-Location`?

[2022-11-09 23:01] Robbie-Microsoft commented on #23331
@yzhengamat it appears your vault url is set to an empty string.

[2022-11-10 01:18] #17821 closed

[2022-11-10 01:23] EmmaZhu commented on #23624
Azure Storage Service just fixed the issue of failure in deployment, the API version should have been enabled successfully. Could you have a try again?

[2022-11-10 03:08] MaryGao commented on #23731
@yifan-zhou922 It seems that Purview's LRO implemenation didn't follow [the spec](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#long-running-operations--jobs) which caused we couldn't get the correct resouce in POST `/glossary/name/{glossaryName}/terms/import` action.

Could you suggest on below questions?

- Is there a reason why they return `Location` instead of `Ope

[2022-11-10 03:39] #23531 closed

[2022-11-10 03:41] timovv opened #23782 "[keyvault] Fix reference doc links in CBC decryption warning"
See Heath's comment here: https://github.com/Azure/azure-sdk-for-js/pull/23743#discussion_r1018561024

[2022-11-10 03:53] yifan-zhou922 commented on #23731
Thanks @MaryGao for the knowledge sharing. The service side will later fix this issue to align with the guidelines.

[2022-11-10 04:32] jhlggit commented on #23765
Sorry - I've just realised my mistake; as shown in the code snippet above, I wrote `https://${storageAccountName}.blob.core.windows.net/?${sasToken}`, when I should have written `https://${storageAccountName}.queue.core.windows.net/?${sasToken}`.  So, the queueServiceClient object was connecting to a blob service in Azure, and not a queue service at all!  My bad.

[2022-11-10 04:32] #23765 closed

[2022-11-10 06:34] deyaaeldeen commented on #23731
@MaryGao I suggest to pin the version of core-lro to 2.2.4 for now. I will start an email thread regarding this issue with the architects.

[2022-11-10 07:45] MaryGao commented on #23731
@deyaaeldeen Could you help reivew the pr : https://github.com/Azure/azure-sdk-for-js/pull/23784? I fixed the core-lro version.

[2022-11-10 08:12] joaomoreno commented on #23762
Thanks for the speedy recovery!

[2022-11-10 09:31] adomrockie commented on #23017
The fix for me was combination of updating @azure/identity and @azure/keyvault-secrets to latest versions

[2022-11-10 10:36] rudfoss commented on #23017
I'm closing this now since a fix has been released. Thanks for the help!

[2022-11-10 10:36] #23017 closed

[2022-11-10 10:57] SabarishShivakumar opened #24239 "DateTime-Custom/Application property returns epoch value rather than date format"
# Description

## Actual Behavior
1. Date time custom property is set to a service bus message and processed and when tried to receive the message it is found that the property value returned as epoch Timestamp value in JavaScript library. When the same message is received in .Net or in service bus explorer it is working as expected.
2. It is mentioned in JavaScript library that application proper

[2022-11-10 11:10] bgavrilMS commented on #23331
I think this issue has been reported by others on MSAL node repo: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4879

[2022-11-10 11:19] bgavrilMS commented on #23331
The root cause seems to be:

`
azure:identity:info ClientSecretCredential => ERROR. Scopes: https://vault.azure.net/.default. Error message: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detail: ClientConfigurationError: untrusted_authority: The provided authority is not a trusted authority. Please include this authority in the knownAuthorities

[2022-11-10 11:22] bgavrilMS commented on #23331
I don't think we have enough info at this point to fully understand what is happning. I would think that this error is thrown wrongly and it simply masks the underlying cause.

Would it be possible to get verbose logs @dyuan-boxlabs ? If you are concerned about PII here on GitHub, please send the logs directly to me - bogavril at microsoft com

[2022-11-10 14:40] davidtimovski opened #23788 "Example code isn't formatted"
It looks like the first code Example has no code formatting, it's just text.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f0c435a7-56db-d954-1ef6-402114b72264
* Version Independent ID: 31677979-777a-2936-f3cf-4ef9c2eb62ad
* Content: [TokenCredential class](https://learn.microsoft.com/en-us/javascript/api/@azure/stor

[2022-11-10 14:40] azure-sdk commented on #23788
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5208336,Azure.Identity:0.40358555,Docs:0.036573317'

[2022-11-10 17:24] lmolkova opened #23790 "ACR] Document upload/download artifacts samples"
- [x]  Add samples code
- [x]  Update Readme
- [x] Nice-to-have: Live tests

[2022-11-10 17:33] dyuan-boxlabs commented on #23331
@bgavrilMS sent you an email with the logs

[2022-11-10 17:45] jeremymeng commented on #23765
@jhlggit Glad to know that it's working for you now.  Yes sometimes subtle mistake like this can take a long time to debug! I often made similar kind of mistakes too.

[2022-11-10 17:47] MRayermannMSFT opened #23792 "`ContainerListBlobsOptions` in storage-blob is missing `includePermissions`"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.12.0
- **Operating system**:
- [x] **nodejs**
    - **version**: all
- [x] **browser**
    - **name/version**: all
- [x] **typescript**
    - **version**: all
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The [

[2022-11-10 18:32] timtucker-dte opened #23794 "Cosmos: Batch delete operations fail when partition key is provided"
- **Package Name**:
@azure/cosmos

- **Package Version**:
3.17.1

- **Operating system**:
- [x ] **nodejs**
- [x ] **typescript**

**Describe the bug**
Providing a partition key in both the FeedOptions and DeleteInputOperations for batch requests causes them to fail.

**To Reproduce**
Steps to reproduce the behavior:
Scenario 1 -- this works:
Start a batch with one or more delete operations.
Each

[2022-11-10 18:32] azure-sdk commented on #23794
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.4529597,Event Hubs:0.07835549,Subscription:0.038059745'

[2022-11-10 23:06] azure-sdk commented on #23788
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5208336,Azure.Identity:0.40358555,Docs:0.036573317'

[2022-11-10 23:06] xirzec commented on #23788
/cc @hector-norza

[2022-11-11 00:20] Robbie-Microsoft commented on #23331
@dyuan-boxlabs We're taking a look at this, but in the mean time I have a question.

Can you change your DefaultAzureCredential config to look like the following?
[code]

re-run your app with this and let me know if you see the same error or a different one. For reference, I was looking at this example [here](https://github.com/Azure/azure-sdk-for-js/blob/@azure/identity_3.1.0/sdk/identity/identit

[2022-11-11 03:00] sajeetharan commented on #20689
@v1k1 tag the PR for the fix, we will be releasing this with the next release 3.17.2

[2022-11-11 03:24] EmmaZhu commented on #22321
@kenhowardpdx

Thanks a lot for the detailed testing.

About the #1 result, do you mean it still got stuck but your test script/pipeline got timeout?

About the #2 result, do you mean that the download operation paused for a while and timeout later, then your test script and pipeline can recover from it, or do you mean the download operation paused for a while and recovered by itself?

Stuck can b

[2022-11-11 04:33] MaryGao opened #23804 "Upgrade the core-lro to the latest in Purview Catalog rest client"
In this [thread ](https://github.com/Azure/azure-sdk-for-js/issues/23731) we notice the LRO implementation  needs to be reviewed in purview catalog service so we fixed the core-lro to 2.2.4 in this [pr](https://github.com/Azure/azure-sdk-for-js/pull/23784).

We need to undo the pinning once the service fixes the behavior on their end, so I create this issue to track undo thing.

[2022-11-11 04:33] azure-sdk commented on #23804
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.30677328,Service Bus:0.07100483,Docs:0.051514395'

[2022-11-11 06:47] v-jiaodi opened #23805 "[Communication - Chat]Deploy test resources failing in nightly runs"
Communication - Chat nightly test runs are failing with:

CorrelationId: cec30973-f55b-427c-9303-50e71583454d"
At D:\a\_work\1\s\eng\common\TestResources\New-TestResources.ps1:725 char:23
         $deployment = Retry {
[code]

[2022-11-11 06:47] v-jiaodi opened #23806 "[Monitor - Query]Deploy test resources failing in nightly runs"
Monitor - Query nightly test runs are failing with:

Line |
 725 |          $deployment = Retry {
     |                        ~~~~~~~
     | Exception calling "Invoke" with "0" argument(s): "The running command
     | stopped because the preference variable "ErrorActionPreference" or
     | common parameter is set to Stop: 03:40:34 - The deployment
     | 'te8fb7df8d80740ad' failed with error(s)

[2022-11-11 06:47] azure-sdk commented on #23805
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.36720943,ARM:0.11583261,Container Registry:0.053091925'

[2022-11-11 06:47] v-jiaodi opened #23807 "[OpenTelemetry Instrumentation ] Rush update failing in nightly runs"
OpenTelemetry Instrumentation nightly test runs are failing with:

.
└─┬ @rush-temp/azure-opentelemetry-instrumentation-azure-sdk-test
  ├─┬ @opentelemetry/sdk-trace-base
  │ ├── ✕ unmet peer @opentelemetry/api@">=1.0.0 <1.3.0": found 1.3.0
  │ ├─┬ @opentelemetry/core
  │ │ └── ✕ unmet peer @opentelemetry/api@">=1.0.0 <1.3.0": found 1.3.0
  │ └─┬ @opentelemetry/resources
  │   └── ✕ unmet peer @op

[2022-11-11 06:47] azure-sdk commented on #23806
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.15209293,EngSys:0.11541613,Authorization:0.09170789'

[2022-11-11 06:48] v-jiaodi opened #23808 "[Storage - File Datalake ]Shared Access Signature (SAS) generation Node.js only GenerateUserDelegationSAS should work for filesystem with all configurations failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

RequestId:d02ba7fd-901e-0071-4cbc-f4dbea000000
Time:2022-11-10T04:24:46.9288179Z
    at handleErrorResponse (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/@azure+core-http@2.2.7/node_modules/@azure/core-http/src/policies/deserializationPolicy.ts:274:17)
    at /mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/@azure+core-http@2.2.7/n

[2022-11-11 07:16] SabarishShivakumar opened #23809 "DateTime-Custom/Application property returns epoch value rather than date format"
- **Package Name**: @azure/service-bus
- **Package Version**: ^7.5.0
- **Operating system**: windows
- [Yes] **nodejs**
    - **version**: v14.17.5
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2022-11-11 13:31] ka-nikos-oikonomou opened #23811 "Cognitive Search - Index creation doesn't properly set similarity k1 and b options"
- **Package Name**: @azure/search-documents
- **Package Version**: 11.2.1
- **Operating system**:
- [x] **nodejs**
    - **version**: v16.14.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Creat

[2022-11-11 18:56] xirzec commented on #23811
@dgetu can you take a look and see if this is an SDK issue or an API issue?

[2022-11-11 19:01] ka-nikos-oikonomou commented on #23811
FYI requesting the same via Rest works as expected. E.g. PUT+the definition above.

[2022-11-11 19:10] xirzec commented on #23811
Thanks for confirming!

[2022-11-11 21:00] kexugit opened #23814 "Xref link in API reference document is not resolved for KnowDocumentBuildMode"
- **Package Name**: @azure/ai-form-recoognizer
- **Package Version**: preview
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x ] SDK API docs on https://learn.microsoft.com

**Describe the bug**
Xref lin

[2022-11-11 21:01] azure-sdk commented on #23814
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.20910336,Storage:0.13050297,Cognitive - Form Recognizer:0.088224106'

[2022-11-11 21:28] HarshaNalluru opened #23815 "[Service Bus] Add perf pipeline"
Add perf pipeline yml configs and setup the pipeline similar to that of storage

[2022-11-11 21:52] HarshaNalluru opened #23816 "[Event Hubs] Add perf pipeline"
Add perf pipeline yml configs and setup the pipeline similar to that of storage

[2022-11-11 23:35] dgetu commented on #23811
Hi, @ka-nikos-oikonomou. I was able to reproduce the issue with the latest stable version. It looks like it's been fixed in beta version 11.3.0-beta.3 onwards. Would it be possible for you to use the latest beta version (11.3.0-beta.8)?

[2022-11-12 10:42] abdullah-lt opened #23820 "Permission Issue when downloading/uploading blob to storage using Managed Identity"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.4.0
- **Operating system**: linux
- [x] **nodejs**
    - **version**: 12
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I am usin

[2022-11-12 12:29] ka-nikos-oikonomou commented on #23811
I can make the switch in our dev and staging environments but I would prefer not to ship a beta version in our production, as the search is a very critical part of our application. Is there a release date for a stable version that will include this fix?

[2022-11-14 02:08] kotewar commented on #22321
Hi @EmmaZhu ,

You can ignore the  [1st result](https://github.com/bbq-beets/test-cache-load/actions/runs/3346942857/jobs/5544367963#step:2:133) `1 timeout where the download got stuck` situation, it seems due to some different reason, I'll spend more time on it separately as it occurred only once in last 3 weeks.

Coming on [2nd result](https://github.com/bbq-beets/test-cache-load/actions/runs/33

[2022-11-14 02:35] kazrael2119 commented on #23682
released here:https://www.npmjs.com/package/@azure/arm-subscriptions/v/5.1.0

[2022-11-14 13:49] SarathKumarVelusamy opened #23927 "Azure Service Bus - Not able to publish the message to service bus in azure using node SDK"
Packages: "@azure/service-bus": "^7.7.2", @azure/identity": "^3.0.0"
Operating System: MacOs Monterey Version 12.6.1
Node Version: v18.12.1

**Environment Setup**
Running the service bus in Private VNET with the private end point configured and trying to access it from local machine with VPN.

**Describe the bug**
Not able to publish the message using connection_string (shared access policies) to

[2022-11-14 14:04] azure-sdk opened #23832 "Dependency package @opentelemetry/instrumentation has a new version available"
We have identified a dependency on version 0.33.0 of @opentelemetry/instrumentation. A new version (0.34.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for e

[2022-11-14 14:04] azure-sdk opened #23833 "Dependency package @opentelemetry/instrumentation-http has a new version available"
We have identified a dependency on version 0.33.0 of @opentelemetry/instrumentation-http. A new version (0.34.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder

[2022-11-14 14:04] azure-sdk opened #23834 "Dependency package @opentelemetry/sdk-metrics has a new version available"
We have identified a dependency on version 0.33.0 of @opentelemetry/sdk-metrics. A new version (1.8.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each s

[2022-11-14 15:06] amrit-moomie commented on #21110
Hi @EmmaZhu Is there a way we can override the usage of such policies so that SDK can be used in such setup.

[2022-11-14 21:06] gbrueckl commented on #22904
Any update on this new authentication tool?
It has been some months now since the last update

[2022-11-14 23:39] Robbie-Microsoft commented on #23331
@dyuan-boxlabs Please send it to @bgavrilMS, he will forward it to me.

[2022-11-15 02:33] v-jiaodi opened #23838 "[Text Analytics] [APIKey] TextAnalyticsClient LROs #analyze output order is same as the input's one with multiple actions failing in nightly runs"
Text Analytics nightly test runs are failing with:

    at parseActionError (dist-test/index.browser.js:16131:20)
    at categorizeActionErrors (src/analyzeActionsResult.ts:336:12)
    at createAnalyzeActionsResult (test/internal/util.spec.ts:1:1)
    at BeginAnalyzeActionsPollerOperation._listAnalyzeActionsResultsSinglePage (src/lro/analyze/operation.ts:226:12)

For more details check here:

- ht

[2022-11-15 02:33] v-jiaodi opened #23839 "[Communication - Chat] Remove test resources failing in nightly runs"
Communication - Chat nightly test runs are failing with:

WARNING: Attempt 1 failed: Exception calling "Invoke" with "0" argument(s): "Resource group is in 'Succeeded' state, expected 'Deleting'". Trying again in 10 seconds...
WARNING: Attempt 2 failed: Exception calling "Invoke" with "0" argument(s): "Resource group is in 'Succeeded' state, expected 'Deleting'". Trying again in 20 seconds...
VERB

[2022-11-15 02:33] azure-sdk commented on #23839
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.2553504,ARM:0.11641613,Compute:0.06944885'

[2022-11-15 02:33] v-jiaodi opened #23840 "[Service Bus] Sender Tests UnpartitionedQueue: Cancel single Scheduled message failing in nightly runs"
Service Bus nightly test runs are failing with:

    at translateServiceBusError (/mnt/vss/_work/1/s/sdk/servicebus/service-bus/src/serviceBusError.ts:86:63)
    at ManagementClient._makeManagementRequest (/mnt/vss/_work/1/s/sdk/servicebus/service-bus/src/core/managementClient.ts:146:14)
    at ManagementClient.scheduleMessages (/mnt/vss/_work/1/s/sdk/servicebus/service-bus/src/core/managementClie

[2022-11-15 07:48] a1exwang opened #23846 "`rmClient.resourceGroups.list().byPage({ maxPageSize: 100 })` throws "maxPageSize is not supported by this operation" ` after upgrading to @azure/arm-resources 5.1.0"
- **Package Name**: @azure/arm-resources
- **Package Version**: 5.1.0
- **Operating system**: Windows 10
- [x ] **nodejs** 14
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A c

[2022-11-15 09:23] EmmaZhu commented on #23820
`Contributor role` only has management permissions, it doesn't have access to data, you can see details from here: [Contributor role](https://learn.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#contributor)

Storage blob data contributor role has access to data: [Storage blob data contributor role](https://learn.microsoft.com/en-us/azure/role-based-access-control/built-in-role

[2022-11-15 10:52] jrpedrianes opened #23849 "Missing 'await' when prepareFormData is called"
- **Package Name**:  @azure/core-rest-pipeline
- **Package Version**:  1.10.0
- **Operating system**: MacOS
- [ X ] **nodejs**
    - **version**: v16.18.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2022-11-15 11:34] topshot99 commented on #23723
Hey @victor-meng,

tried these configurations:
Package Name: @azure/cosmos
Package Version: 3.16.2
Operating system: Windows

over my system and ran this basic query mentioned in our readme document.

[code]
And I was getting activity id in the response also it was present inside header(check ss). Attaching screenshot here:
<img width="787" alt="image" src="https://user-images.githubusercontent.co

[2022-11-15 13:19] abdullah-lt commented on #23820
I am using following CLI commands.
`
az login --identity
az storage blob upload \
    --account-name <storage-account> \
    --container-name <container> \
    --name helloworld \
    --file helloworld
`

[2022-11-15 17:25] dyuan-boxlabs commented on #23331
@Robbie-Microsoft sent the logs to @bgavrilMS

[2022-11-15 18:37] jeremymeng commented on #23849
@jrpedrianes Thank you very much for reporting the issue! I think you are right! We will work on fixing it.

[2022-11-15 18:49] victor-meng commented on #23723
Thanks @topshot99 for investigating. I see that the basic query that you ran didn't include an `options` parameter, so I suspect the issue is with the `FeedOptions` that we are using. Here's the exact `options` object that we are passing to the SDK:
{
    "enableCrossPartitionQuery": true,
    "populateQueryMetrics": true,
    "enableScanInQuery": true,
    "forceQueryPlan": true,
    "maxItemCoun

[2022-11-15 20:30] xirzec commented on #23849
+1 great catch, thanks for reporting

[2022-11-15 20:31] azure-sdk commented on #23839
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.2553504,ARM:0.11641613,Compute:0.06944885'

[2022-11-15 20:35] scottaddie opened #23857 "Add configurable process timeout for dev-time credentials"
Add configurable process timeout for the following credential types:

- Azure CLI
- Azure PowerShell

Related to https://github.com/Azure/azure-sdk-for-net/pull/28792

[2022-11-15 20:42] xirzec commented on #23846
@a1exwang thanks for reporting! The main issue here is we don't currently have a way for swagger authors to declare the pagination parameter of their SDK. In the case of the above example, it looks like the service uses `top` to control the number of resources returned:

https://github.com/Azure/azure-sdk-for-js/blob/ae240b289bcb5007f48028f548867a61fc1eaeed/sdk/resources/arm-resources/src/models/i

[2022-11-16 05:40] MaryGao commented on #23567
@kazrael2119 Could you share the status of refreshing the package?

[2022-11-16 05:43] kazrael2119 commented on #23567
update advisor test-recording at 11/14:https://github.com/Azure/azure-sdk-for-js/pull/23821/files#diff-b06dfb4dca0a193e7b28ca252c2e1e838904ba7ebc46f1a36b728e00db009576

[2022-11-16 06:47] a1exwang commented on #23846
@xirzec Do you have plan to support ` await rmClient.resourceGroups.list().byPage({ maxPageSize: 100 })` in future releases? We need to decide whether we fix `@azure/arm-resources` version to < 5.1 temporarily or change our code logic.

[2022-11-16 07:03] topshot99 commented on #23723
Hey @victor-meng ,
You are correct feed options is causing this issue. Also, I have figured out that these options ("forceQueryPlan": true and "maxDegreeOfParallelism": 6) is causing this issue. After removing these 2 options I was able to fetch activity id.

[2022-11-16 07:30] topshot99 commented on #23794
@timtucker-dte can you please add relevant details like Package Name, Version, To Reproduce and expected vs desired behavior here so that we can start with debugging.

[2022-11-16 07:34] islishude commented on #22321
docker push action has this issue too, but it uses self implemented code

[2022-11-16 07:36] kotewar commented on #22321
@islishude, does it use the same SDK, although its a self implemented code? or it is completely self implemented upload?
Also the docker registry where you are trying to push, does it use Azure Blob storage for storing the images?

[2022-11-16 11:04] jeme95 opened #23875 "Service Bus with Angular Testing"
- **azure/service-bus**:
- **7.7.1**:
- **Windows 10**:
- [x] **nodejs**
    - **v16.16.0**:
- [x] **browser**
    - **Chrome Headless/107.0.5304.107**:
- [x] **typescript**
    - **4.9.0-dev.20220917**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
calling  ``` sender.sendMe

[2022-11-16 12:16] paulius-valiunas commented on #22747
I'll close this issue since we have a workaround and there's little interest in updating CJS code any further. Thanks for the insight.

[2022-11-16 12:16] #22747 closed

[2022-11-16 14:44] timtucker-dte commented on #23794
Sorry about that -- I'd started typing up the issue & wound up restarting my PC before I thought I'd submitted it and then forgot about it.

I went ahead and updated the original description.

[2022-11-16 15:12] lirenhe commented on #23846
@qiaozha, could you work with Jose on that?

[2022-11-16 18:10] xirzec commented on #23846
Are you saying that today you are passing `.byPage({ maxPageSize: 100 })`? In the previous version this would have done absolutely nothing with the parameter, which is why we put the error message in the updated codegen.

[2022-11-16 18:13] xirzec commented on #23875
@jeme95 any chance you could give us a small repo to clone that shows the issue? I am wondering if some of it has to do with how your test runner or bundler are configured.

[2022-11-16 18:26] victor-meng commented on #23723
Awesome, thank you for confirming @topshot99 !

[2022-11-16 19:12] jeremymeng commented on #23809
possible dupe of https://github.com/Azure/azure-sdk-for-js/issues/13975

[2022-11-16 19:26] #14800 closed

[2022-11-16 19:33] paulsmithkc opened #23879 "@azure/cosmos@3.17.2 fails to install"
- **Package Name**:  @azure/cosmos
- **Package Version**: 3.17.2
- **Operating system**: MacOS and Linux
- [x] **nodejs**
    - **version**: 16.16.0
- [x] **typescript**
    - **version**: 4.9.3

**Describe the bug**
Trying to install @azure/cosmos@3.17.2 from npm as below:

[code]

Is currently failing with the following error message:

[code]

**Expected behavior**
@azure/cosmos@3.17.2 installs

[2022-11-16 21:13] PramodValavala-MSFT commented on #23879
@paulsmithkc Looks like you are using a private registry here and hence the problem. You might just have to [authenticate correctly](https://docs.npmjs.com/cli/v9/configuring-npm/npmrc#auth-related-configuration) or switch to using the public registry.

[code]

[2022-11-16 21:30] jeme95 commented on #23875
@xirzec
[here ](https://github.com/jeme95/azure_bus_issue) is a demo

[2022-11-17 00:13] paulsmithkc commented on #23879
Working now. Seems like it rolled over to the 17th UTC, and entered a new billing cycle or something.

[2022-11-17 00:22] timovv commented on #23739
Related: #21179

[2022-11-17 01:02] deyaaeldeen commented on #23617
The service team will stick to the "classifications" name for this version.

[2022-11-17 01:02] #23617 closed

[2022-11-17 01:32] caelangrgurovic opened #23885 "ContainerClient.listBlobsFlat: Throwing "Only absolute URLs are supported""
- **Package Name**: @azure/blob-storage
- **Package Version**: 12.12.0
- **Operating system**: macOS Monterey 12.6
- [ ] **nodejs**
    - **version**: 18.12.1
- [ ] **browser**
    - **name/version**: Chrome/107.0.5304.110
- [ ] **typescript**
    - **version**: 4.8.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://do

[2022-11-17 02:16] EmmaZhu commented on #22321
Hi @kotewar ,

Could you share some details about the test environment:

- the data number: How many blobs in there, blob types and blob size
- Where is the client and the account located: the client is on a VM which is in the same DC with the account, or the client is on a VM which is in a different DC, or is the client on a machine outside Azure?
- If the client is located on a VM, could you als

[2022-11-17 05:44] topshot99 commented on #23794
Hey @timtucker-dte,

Thanks for the quick response, can you also attach the code snippets used along with the response which you were getting form sdk.

[2022-11-17 06:10] topshot99 commented on #23794
Also @timtucker-dte , from the description provided by you I am assuming that batch delete operation is not working when you are providing partition key in the feedoptions.

[2022-11-17 06:53] #23807 closed

[2022-11-17 09:15] sajeetharan commented on #23879
Verified it and it works fine! please reopen if you face it again!

[2022-11-17 09:15] #23879 closed

[2022-11-17 09:15] ka-nikos-oikonomou commented on #23811
Any updates on this? Is there a release plan schedule to follow?

[2022-11-17 09:22] kazrael2119 commented on #23567
The libs are upgraded to recorder v2 at 11/17:

- @azure/arm-attestation
- @azure/arm-azureadexternalidentities
- @azure/arm-azurestack
- @azure/arm-azurestackhci [link ]https://github.com/Azure/azure-sdk-for-js/pull/23867

[2022-11-17 16:44] #23832 closed

[2022-11-17 16:44] #23833 closed

[2022-11-17 16:44] #23834 closed

[2022-11-17 16:48] mpodwysocki commented on #23116
@googol Should be fixed in Beta 10

[2022-11-17 16:48] #23116 closed

[2022-11-17 16:48] #22980 closed

[2022-11-17 16:49] #22864 closed

[2022-11-17 16:50] mpodwysocki commented on #23693
Fixed as per #23704 and #23734

[2022-11-17 17:37] praveenkuttappan opened #23892 "Enable check to ensure preview release has package name approval"
Enable approval for preview release. We should fail build job if APIView returns error code 202 for a preview version package when release date is set in change log.

[2022-11-17 17:45] xirzec commented on #23885
/cc @jeremymeng could you take a quick look to see if this repros for you?

[2022-11-17 18:18] jeremymeng commented on #23885
The same code snippets works fine for me.  I am using ClientSecretCredential under the cover so this may be different.

@illigant Could you please try setting the environment variable before running it to enable more detailed logging and check what URL is used to send request to Azure Blob Service?
[code]
![image](https://user-images.githubusercontent.com/7583839/202525577-f28a248e-3b39-4e5f-8740-

[2022-11-17 18:21] #18002 closed

[2022-11-17 19:35] proohit commented on #23474
Amazing! Looking forward!

[2022-11-17 19:40] jeremymeng commented on #5771
Update: I just merged PR https://github.com/Azure/azure-sdk-for-js/pull/23610, which adds a sample showing Event Hubs and Service Bus JS SDK usage in React-Native.

Now we have samples show the usage of
- AppConfig
- Storage Blob
- Messaging
in React-Native Expo projects [under our samples directory](https://github.com/Azure/azure-sdk-for-js/tree/eca833593b2df8150e2e5245274bc64abc2b0c94/samples/fr

[2022-11-17 19:41] jeremymeng commented on #20807
Looks like for now we need to manually test for React-Native.

[2022-11-17 19:41] #20807 closed

[2022-11-17 19:42] jeremymeng commented on #23875
@jeme95 thanks for sharing the project.  I will have a look now.

[2022-11-17 19:55] xirzec commented on #23811
@ka-nikos-oikonomou thank you for your patience and sorry about the delay. There is some unfortunate engineering debt in how Search packages are produced that has introduced complexity in getting out a fix. @dgetu can you comment on what would be a reasonable timeline for hotfixing this?

[2022-11-17 20:27] ka-nikos-oikonomou commented on #23811
Is there a way I can help to speed things up?

[2022-11-17 21:05] minhanh-phan opened #23894 "[ai-text-analytics] Test pipeline failures for LRO"
The Text Analytics nightly test pipeline is failing for the nightly test runs. The issue is being investigated with the service team in an email thread. The test will be skipped for now.
For reference, the issue for the failing pipeline is documented [here](https://github.com/Azure/azure-sdk-for-js/issues/23838)

[2022-11-17 23:52] #23420 closed

[2022-11-18 02:14] deyaaeldeen opened #23900 "[Language Text] Handle LRO's partiallySucceeded status"
The service could return "partiallySucceeded" as the status of the long-running operatin, e.g.
[code]

The implementation in core-lro ignores unknown statuses and keeps sending more polling requests.

Java and .NET raise exceptions in this case. Python raises an exception if the response body doesn't have JSON pointers to the culprit actions but otherwise succeeds.

One approach to fix this is to

[2022-11-18 02:18] deyaaeldeen commented on #23838
I investigated the issue and it is due to https://github.com/Azure/azure-sdk-for-js/issues/23900. I opened https://github.com/Azure/azure-sdk-for-js/pull/23901 to skip this test for now.

[2022-11-18 02:19] deyaaeldeen commented on #23838
The test have been skipped for now until the service team fixes the issue.

[2022-11-18 02:19] #23838 closed

[2022-11-18 02:22] EmmaZhu commented on #23647
@josendf-basetis

The request failed due to "signature not match" error, which means: 1. Key used by client side is different with the one used on service. 2. string to sign used by client side is different with the one on service side.

I compared "string to sign" on service side with one generated from the SDK, they match well.

From the account's info, I didn't see key rotation either.

I have

[2022-11-18 04:06] d-yoshimura opened #23903 "Access token is not refreshed when workload indentity is used in AKS"
- **Package Name**: @azure/identity
- **Package Version**: 3.1.0
- **Operating system**:
- [x] **nodejs**
    - **version**: 16.18.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**:4.8.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Incorrect

[2022-11-18 05:41] EmmaZhu commented on #23820
Hi @abdullah-lt

I tried with the CLI commands you shared, it prints following info and the upload is succeeded:

It mentioned that the CLI command will try to get the account's key credential first for the uploading, the SDK won't do this.

`Contributor role` does have permission to get account's key credentials.

Thanks
Emma

[2022-11-18 06:01] kazrael2119 commented on #23567
The libs are upgraded to recorder v2 at 11/18:

@azure/arm-changeanalysis
@azure/arm-changes
link:https://github.com/Azure/azure-sdk-for-js/pull/23888

[2022-11-18 07:35] v-jiaodi opened #23913 "[Form Recognizer] [AAD] analysis (Node) tax - US - w2 png file stream failing in nightly runs"
Form Recognizer nightly test runs are failing with:

    at validateSpec (/Users/runner/work/1/s/sdk/formrecognizer/ai-form-recognizer/test/utils/fieldValidator.ts:70:14)
    at validateObjectSpec (/Users/runner/work/1/s/sdk/formrecognizer/ai-form-recognizer/test/utils/fieldValidator.ts:104:5)
    at /Users/runner/work/1/s/sdk/formrecognizer/ai-form-recognizer/test/utils/fieldValidator.ts:164:5

[2022-11-18 07:35] v-jiaodi opened #23914 "[Communication - Phone Numbers] PhoneNumbersClient - lro - update can update a phone number's capabilities failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:251:17)
    at deserializeResponseBody (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:159:43)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

For more details check here:

- https://dev.azure.com/

[2022-11-18 07:35] v-jiaodi opened #23915 "[Aggregate-reports] Link verification check failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

'file:///D:/a/_work/1/s/sdk/monitor/monitor-query/README.md' has 1 broken link(s):
  https://dev.loganalytics.io/documentation/Using-the-API/Limits
Checked 23561 links with 1 broken link(s) found.

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1994756&view=results

[2022-11-18 07:36] azure-sdk commented on #23914
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.5793299,Azure.Core:0.26731047,KeyVault:0.010785338'

[2022-11-18 07:36] azure-sdk commented on #23915
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.41712588,Docs:0.3094088,Azure.Identity:0.019563884'

[2022-11-18 08:04] cveld commented on #22927
Out of curiosity, from a node module library engineering perspective, how did you manage to support two versions of `@azure/identity` from within 4.6.0? Is it as simple as that the interface between the two versions are compatible? And you set the dependency version range accordingly; allowing for two major version ranges?

With 3.0.0 our local experience runs smooth again. With version 2.1.0, `Ma

[2022-11-18 08:11] AndriiDidkivsky commented on #5771
Great, will check and migrate to SDK in the next App release if everything is ok

[2022-11-18 11:31] josendf-basetis commented on #23647
Hi @EmmaZhu,

Below you will find a ZIP file containing two directories: `v12.11.0/` and `v12.12.0/`, each directory  contains the requests for a batch of 406 files, same OS, client software and identical files, only replacing the `@azure/storage-blob` package version. The v12.11 version succeeds to upload the files, the v12.12 version fails at file number 399.

[storage-blob-issue-23647.zip](http

[2022-11-18 14:22] hemm1 commented on #20894
I can confirm that this still exists. Just wasted a few hours debugging this. Was planning to use CosmosDB as a simple key/value store, but I had major trouble just querying the simplest of documents using the ID. Very confusing for a beginner trying CosmosDB for the first time.

[2022-11-18 16:03] xirzec commented on #22927
The SDKs themselves don't actually depend on `@azure/identity` directly, only on `@azure/core-auth` which holds the interfaces. Since we don't need to create credentials, they are always passed into clients, this works out pretty well.

I'm glad to hear it is smooth now!

There were two main issues going on, one was we were using a much higher timeout than intended and the other was us being overl

[2022-11-18 16:22] xirzec commented on #23903
@d-yoshimura thank you for the detailed issue and debugging! I can't imagine what the year 54903 is going to be like, but hopefully we aren't still using epoch ticks by then. 😄

If I understand correctly, the solution here is for us to take `resultToken?.expiresOnTimestamp` and calculate the number of seconds it is from `Date.now()`?

[2022-11-18 16:47] #22927 closed

[2022-11-18 17:17] gingi commented on #21110
**Update:**

I modified our webpack config to favor the node versions of both `@azure/storage-blob` and `@azure/core-http` (we need the latter because of policy enforcements):

[code]

However, I am now facing the error `Failed to execute 'fetch' on 'Window': Illegal invocation`, which is thrown by:

https://github.com/gingi/azure-sdk-for-js/blob/80949a8a07f168c1e45188f52d9ddf09fffa8edc/sdk/core/c

[2022-11-18 18:43] #14884 closed

[2022-11-18 19:38] jeremymeng commented on #23875
I tried the repro and was able to see that at the beginning SDK works fine, websocket connection is established and transmitting data.  However, after some handshake, code just stops running and eventually test times out.
![image](https://user-images.githubusercontent.com/7583839/202787844-d5f45410-6fdc-4ee0-b5fa-3c66b5a86340.png)

I suspect when running in the jasmine/test environment, either pro

[2022-11-18 21:16] xirzec commented on #23811
@ka-nikos-oikonomou we just released `@azure/search-documents@11.3.1` - can you see if it resolves your trouble? The repro you provided seems to be unblocked by it.

[2022-11-18 21:35] ka-nikos-oikonomou commented on #23811
@xirzec the new version resolves the issue. Thanks! Closing this issue.

[2022-11-18 21:35] #23811 closed

[2022-11-18 22:49] xirzec commented on #23875
One thing that stands out to me is here: https://github.com/jeme95/azure_bus_issue/blob/bdc4740cb7f83d4662676b82689e8b7e7fde488d/src/polyfills.ts#L50

[code]
Defining `process.nextTick` as an empty function that never calls back its argument seems like a good way to hang code that thinks it is running in Node.

[2022-11-18 22:53] xirzec commented on #23875
`rhea` at least seems to rely on nextTick too: https://github.com/amqp/rhea/blob/a41397806dc1232a2d4d84d8fe07319a2ec127cc/lib/connection.js#L755

Polyfilling with something like `nextTick: function(cb) { setTimeout(cb, 0) }` might be sufficient?

[2022-11-18 23:14] ealsur opened #23923 "Cosmos DB: Bulk operations can go over the 2Mb limit"
- **Package Name**:  @azure/cosmos
- **Package Version**: All
- **Operating system**:
- [x] **nodejs**

**Describe the bug**
Cosmos DB has a limit in the request size to 2Mb. When Bulk is used, the SDK applies hashing to distribute documents across partitions/batches and then sends them:

https://github.com/Azure/azure-sdk-for-js/blob/e6dbd47cfda9973c4550ee63e712e8728cbef462/sdk/cosmosdb/cosmos/sr

[2022-11-18 23:33] #23903 closed

[2022-11-18 23:54] jeremymeng commented on #23875
@xirzec `nextTick: function(cb) { setTimeout(cb, 0) }` made the test passed!

Now I need to figure out how did the same code work in the app with the empty `nextTick`

[2022-11-19 01:01] jeremymeng commented on #23875
@jeme95 Looks that the app itself is using the polyfills provided by the `process` package.  However, for some reason, the test framework was not able to use that.  Thus the added empty function to get around the error? You should probably use
[code]
in the polyfills.ts

[2022-11-19 10:16] jeme95 commented on #23875
Indeed, passing a callback function as argument for  ```nextTick``` and calling it back made it works.

As jeremy described, the test framework couldn't use the process package, so i had to define it manually to get around the error. I followed [this](https://stackoverflow.com/a/57346368/13024425) answer on Stackoverflow, which got rid of the error message but apparently didn't solve the problem,

[2022-11-19 10:16] #23875 closed

[2022-11-19 18:24] wpitallo commented on #21572
Tried using buildx and still getting the same issue, it works locally but not with the aoo :( very sad!

[2022-11-19 18:36] wpitallo commented on #21572
This is seriously frustrating please can MSFT actually provide a turorial that works and that they have tested been wating hours now, going to try on AWS as this basic stuff should not be such a struggle...

[2022-11-19 18:41] wpitallo commented on #21572
@diberry please can you provide a link to a working example, I have tried everying now for hours with these updates and it still does not work. I am running Ubuntu on WSL.

[2022-11-21 02:41] qiaozha commented on #21572
@wpitallo Can you sharemore details on how to repro this issue and if you don't mind, can you open a new issue for us to track  it ? Thank you

[2022-11-21 02:41] #21572 closed

[2022-11-21 03:51] deividkamui opened #23928 "importing @azure/event-hubs on React App fails to compile"
- **Package Name**: @azure/event-hubs
- **Package Version**: 5.8.0
- **Operating system**: windows11
- [X] **nodejs**
    - **version**: 14.16.1
- [X] **typescript**
    - **version**: 4.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

On a react-app importing the EventHubC

[2022-11-21 04:17] topshot99 commented on #23794
@timtucker-dte can you please update here.

[2022-11-21 08:54] photomoose commented on #22963
@jeremymeng yes, it looks like it is caused by no activity as you describe. Presumably this is safe to ignore? (i.e. I don't have to re-create the receiver instance, I can simply call `receiver.subscribe()` again when I want to receive further messages?)

[2022-11-21 13:51] mallikarjungurav commented on #6643
@ramya-rao-a and @jntrnr
I am using Java SDK azure identity 1.0.7 to upload the blobs and still I am getting the same authentication errors intermittently.
I know I need to upgrade this to latest version but as you stated this issue has been fixed in 1.0.3, I must say the issue is not fixed at all.

[2022-11-21 13:56] ahwitz opened #23938 "Blob Storage: "The block list may not contain more than 50,000 blocks." error"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.11.0
- **Operating system**: Red Hat/Windows
- [x] **nodejs**
    - **version**: 16.16.0
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Uploading an extremely large file with `BlockBlobClient.uploadStream` retur

[2022-11-21 19:40] #23892 closed

[2022-11-22 03:09] v-jiaodi opened #23951 "[Event Hubs] EventHubConsumerClient subscribe() with EventPosition specified as 'after a particular sequence number' should receive messages correctly failing in nightly runs"
Event Hubs nightly test runs are failing with:

    at createMultipleDoneError (/Users/runner/work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/errors.js:289:13)
    at multiple (/Users/runner/work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:294:24)
    at done (/Users/runner/work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_mod

[2022-11-22 03:09] v-jiaodi opened #23952 "[Storage - Blob] Enable codeQL for scheduled CI jobs failing in nightly runs"
Storage - Blob nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build?definitionId=158&_a=summary

[2022-11-22 03:10] v-jiaodi opened #23953 "[Monitor - Query] Rush update failing in nightly runs"
Monitor - Query nightly test runs are failing with:

└─┬ @rush-temp/azure-monitor-query-test
  └─┬ @azure/monitor-opentelemetry-exporter
    └─┬ @opentelemetry/sdk-metrics
      ├─┬ @opentelemetry/core
      │ └── ✕ unmet peer @opentelemetry/api@">=1.0.0 <1.3.0": found 1.3.0
      └─┬ @opentelemetry/resources
        └── ✕ unmet peer @opentelemetry/api@">=1.0.0 <1.3.0": found 1.3.0
The command fai

[2022-11-22 12:55] kotewar commented on #22321
Hi @EmmaZhu, I am gathering the details you have asked for, but this is from my knowledge currently.

These results are from production environment. We use the storage accounts to store lots (thousands) of caches on a daily basis. The blob types are all compressed files (example: tar) that we download and extract and the size ranges from few KBs to few GBs (below 10GB). We've seen this issue only

[2022-11-23 05:58] kazrael2119 commented on #23134
Hi @minkom-ms,
Here is the new sdk version:https://www.npmjs.com/package/@azure/arm-cognitiveservices/v/7.3.1
Please verify whether this issue has been resolved，thanks

[2022-11-23 08:08] qiaozha commented on #23456
close it as issue should have been resolved. Thanks

[2022-11-23 08:08] #23456 closed

[2022-11-23 08:58] kazrael2119 commented on #23567
The libs are upgraded to recorder v2 at 11/23:

@azure/arm-confluent
@azure/arm-containerregistry
@azure/arm-customerinsights
link:https://github.com/Azure/azure-sdk-for-js/pull/23905

@azure/arm-deploymentmanager
@azure/arm-desktopvirtualization
@azure/arm-devspaces
@azure/arm-devtestlabs
link:https://github.com/Azure/azure-sdk-for-js/pull/23937

@azure/arm-dns
@azure/arm-domainservices
@azure/ar

[2022-11-23 09:25] topshot99 commented on #23518
This is released.

[2022-11-23 09:25] #23518 closed

[2022-11-23 09:46] prb1337 opened #23971 "ManagedIdentityCredential authentication failed in AzureChina when starting from function app"
- **Package Name**:  @azure/identity
- **Package Version**:  3.1.1
- **Operating system**:
- [x] **nodejs**
    - **version**: azure function app v4

**Describe the bug**
I have a function app that queries data from Log Analytics. For Azure Public everything works fine, but in Azure China I'm getting the error:
[code]
The function app is deployed in Azure China and wants to query a log analytics w

[2022-11-23 14:07] wstest123 commented on #15893
@chradek We got the same error when using checkpointstore SDK to consume message from EventHub. And we found that the entity which occur the same issue is an **empty** entity.  We didn't send any messages to this entity during the past one month, could you please help clarify if the empty entity would cause this issue? Thanks so much!

[2022-11-23 14:29] zhangyunbo1994 commented on #15893
Hi @chradek , we encounter this same issue, we have one namespace with 2 empty entity(except for those 2 empty entity, we also has some entity in use). So we are afraid those 2 empty can cause claim eventhub partition timeout? And we also saw lots of timeout errors in logs. Any comments are welcome, thanks in advance!
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/443

[2022-11-23 14:57] danny-people-plus commented on #23026
Agree, we would love to be able to use cosmos with our Cloudflare Workers project.  Currently considering https://fauna.com/ if anyone is looking for alternatives.

Anything we can do to help?

[2022-11-23 18:51] jeremymeng commented on #23928
@deividkamui Thanks for reporting the issue.  Could you please check out the bundling section of README and see whether it helps?

https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/eventhub/event-hubs/README.md?plain=1#L66

You might need some additional work in order to be able to customize webpack options for the React app.  See [here for the similar discussion for enabling Service Bus SDK

[2022-11-23 19:04] jeremymeng commented on #6643
@mallikarjungurav can you please clarify whether you are using Java SDK or JavaScript SDK?  This repo is for the latter, JavaScript SDK. /cc @KarishmaGhiya

[2022-11-23 19:06] jeremymeng commented on #23927
@SarathKumarVelusamy Thank you for reporting this issue! We will have a look at it.

[2022-11-23 21:27] #23051 closed

[2022-11-23 21:29] jeremymeng commented on #22987
PR #23322

[2022-11-23 21:29] #22987 closed

[2022-11-23 21:49] jeremymeng commented on #23938
@ahwitz Thank you for reporting this issue!  Internally `uploadStream()` uses [Pub Block](https://learn.microsoft.com/en-us/rest/api/storageservices/put-block) and [Pub Block List](https://learn.microsoft.com/en-us/rest/api/storageservices/put-block-list) REST APIs.  Could you please try passing a larger number to the `bufferSize` parameter?  The default is 8 MB, which is probably too samll for hu

[2022-11-24 00:26] jeremymeng commented on #22959
I believe now we only report warnings for PoliCheck issues.

[2022-11-24 00:26] #22959 closed

[2022-11-24 05:54] mallikarjungurav commented on #6643
I have clearly mentioned as Java SDK.

[2022-11-24 14:43] 03byron opened #23993 "Events passed to processEvents are not always ordered by sequenceNumber"
- **Package Name**: @azure/event-hubs
- **Package Version**: 8.19.2
- **Operating system**: Docker: node:18.12.1-alpine
- **nodejs**
    - **version**: 18.12.1

**Describe the bug**
The list of events passed into the `processEvents` callback is not always ordered by `sequenceNumber`. This leads to processing the events in a wrong order. If that is intended it would be good to mention it in the doc

[2022-11-25 02:29] EmmaZhu commented on #23938
Hi @ahwitz
As @jeremymeng has mentioned, you can set `bufferSize` parameter to customize block size used in `uploadStream()`.  We cannot predict the stream size, so we cannot predict required block size.

If you want to upload a file, `uploadFile()` should be better. It can adjust block size according to file length.

[2022-11-25 05:01] ajmeraaxesh commented on #7983
Any suggestions on setting concurrency and blob block size  parameter. Current my configuration is like this
` // create blobClient for container
    const blobClient = containerClient.getBlockBlobClient(`${directoryName}/${fileName}`)

    // set mimetype as determined from browser with file upload control
    const options = { blobHTTPHeaders: { blobContentType: file.type } }

    // upload file

[2022-11-25 05:49] v-jiaodi commented on #23084
The current issue reappears.
For more details check here:
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=2011760&view=results

[2022-11-25 06:13] v-jiaodi opened #23996 "[Event Hubs] EventHubConsumerClient "after each" hook: Closing the clients for "'after a particular offset' should receive messages correctly" failing in nightly runs"
Event Hubs nightly test runs are failing with:

    at afterWriteDispatched (node:internal/stream_base_commons:160:15)
    at writeGeneric (node:internal/stream_base_commons:151:3)
    at Socket._writeGeneric (node:net:917:11)
    at Socket._write (node:net:929:8)
    at writeOrBuffer (node:internal/streams/writable:392:12)
    at _write (node:internal/streams/writable:333:10)
    at Socket.Writab

[2022-11-25 06:13] v-jiaodi opened #23997 "[Key Vault - Secrets] Secret client - create, read, update and delete operations can timeout adding a secret failing in nightly runs"
Key Vault - Secrets nightly test runs are failing with:

    at assertThrowsAbortError (test/public/utils/common.ts:29:14 <- dist-test/index.browser.js:92361:20)
    at async Context.<anonymous> (test/public/CRUD.spec.ts:80:5 <- dist-test/index.browser.js:93022:13)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=2011773&view=results

[2022-11-25 06:13] v-jiaodi opened #23998 "[Key Vault - Administration] Deploy test resources failing in nightly runs"
Key Vault - Administration nightly test runs are failing with:

VERBOSE: Logging out of service principal '***'
VERBOSE: Performing the operation "New-TestResources.ps1" on target "***".
Write-Error: /mnt/vss/_work/1/s/eng/common/TestResources/New-TestResources.ps1:764
Line |
 764 |              &$postDeploymentScript -ResourceGroupName $ResourceGroupN …
     |              ~~~~~~~~~~~~~~~~~~~~~~~

[2022-11-26 08:05] topshot99 commented on #23025
Hey @sabharwal-garv we are looking into this.
Can you provide us with the activity id of this request?

[2022-11-26 18:54] ahwitz commented on #23938
Is there a way to use that for a 200GB file without loading the entire file into memory?

Will try bumping that up soon and seeing if my 'Stream watermark is close, but I'm not sure it's actually correct.' comment from above is correct.

[2022-11-26 19:29] jrpedrianes opened #24002 "Openapi with a query param with name 'type' is incorrect generated"
- **Package Name**:  @autorest/typescript
- **Package Version**:  6.0.0-rc.3
- **Operating system**: MacOS
- [ x ] **nodejs**
    - **version**: v16.18.1
- [  ] **browser**
    - **name/version**:
- [  ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe th

[2022-11-26 19:29] azure-sdk commented on #24002
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.32226473,Storage:0.07049318,Service Bus:0.052659698'

[2022-11-27 08:58] cloudxpc opened #24003 "Error TimeoutOverflowWarning: xxxxx does not fit into a 32-bit signed integer when using ManagedIdentityCredential for ServiceBusClient"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.7.3
- **Operating system**: Azure Function Windows
- [ ] **nodejs**
    - **version**: ~16
- [ ] **browser**
    - **name/version**: -
- [ ] **typescript**
    - **version**: -
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe

[2022-11-27 08:59] azure-sdk commented on #24003
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.55933166,Service Bus:0.42610386,SQL:0.001241071'

[2022-11-27 14:18] abdullah-lt commented on #23820
Thanks.

[2022-11-27 14:18] #23820 closed

[2022-11-27 20:57] elliot-huffman commented on #23633
Just ran a test and I was able to retrieve an access token while in FIPS mode, this is most likely an issue with the Microsoft Graph client. I will open a ticket with them.
Here is the code I ran to get the Access Token (Using VS Code's auth session):

[code]

[2022-11-28 06:59] kazrael2119 commented on #23567
The libs are upgraded to recorder v2 at 11/28：

@azure/arm-features
@azure/arm-locks
@azure/arm-policy
@azure/arm-links
@azure/arm-managedapplications
@azure/arm-templatespecs
@azure/arm-resources-subscriptions
link:https://github.com/Azure/azure-sdk-for-js/pull/23959

[2022-11-28 08:08] HansNDS opened #24005 "isAvailabeChanged event of RemoteVideoStream not fired"
- **Package Name**: @azure/communication-calling"
- **Package Version**: 1.6.3
- **Operating system**: Windows 11 Enterprise
- [ ] **nodejs**
    - **version**: 16.14.2
- [ ] **browser**
    - **name/version**: Chrome 107.0.5304.107 (Official Build) (64-bit) (cohort: Stable)
- [ ] **typescript**
    - **version**: 4.7.2

We have developed a website with Angular and TypeScript that allows someone t

[2022-11-28 08:08] azure-sdk commented on #24005
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.36802208,Event Hubs:0.070358515,Cosmos:0.054741785'

[2022-11-28 09:33] mjafferi-msft opened #24012 "Update the version of "@azure-tools/test-recorder" to 2.x.x in test-utils sdk"
**Is your feature request related to a problem? Please describe.**
Live Test for AAD Authentication passes when the value for the Test Mode is set in lowercase TEST_MODE="live", however it fails is  when the value is set in uppercase TEST_MODE="LIVE". Test cases should pass irrespective of the case.

**Describe the solution you'd like**
Value check happens in utils file referenced from test-record

[2022-11-28 14:05] azure-sdk opened #24017 "Dependency package @rollup/plugin-typescript has a new version available"
We have identified a dependency on version 9.0.2 of @rollup/plugin-typescript. A new version (10.0.1) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each su

[2022-11-28 14:06] azure-sdk commented on #24017
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.32562485,Service Bus:0.18433695,Azure.Identity:0.04323594'

[2022-11-28 17:43] jeremymeng commented on #6643
@mallikarjungurav could you please log an new issue in the Java SDK repo https://github.com/Azure/azure-sdk-for-java?

[2022-11-28 17:47] jeremymeng commented on #24003
@cloudxpc Thank you for reporting the issue!  This is likely a known issue in our identity library. /cc @KarishmaGhiya

[2022-11-28 17:47] azure-sdk commented on #24003
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.55933166,Service Bus:0.42610386,SQL:0.001241071'

[2022-11-28 17:55] azure-sdk commented on #24005
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.36802208,Event Hubs:0.070358515,Cosmos:0.054741785'

[2022-11-28 17:57] azure-sdk commented on #24017
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.32562485,Service Bus:0.18433695,Azure.Identity:0.04323594'

[2022-11-28 18:01] xirzec commented on #24012
@timovv @HarshaNalluru can one of you take a look? Hopefully this is an easy change. :)

[2022-11-28 19:14] jeremymeng opened #24019 "Port https://github.com/Azure/ms-rest-js/pull/475 from ms-rest-js"
port PR  https://github.com/Azure/ms-rest-js/pull/475
to core-rest-pipeline

[2022-11-28 20:16] HarshaNalluru commented on #24012
Hmmm, weird, I think we have made sure that case sensitivity doesn't affect recorder v2.
Meaning, LIVE or live should mean the same.

@timovv can you check?

[2022-11-28 20:25] azure-sdk opened #24022 "Dependency package fs-extra has a new version available"
We have identified a dependency on version 10.1.0 of fs-extra. A new version (11.0.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package (/sdk

[2022-11-28 20:26] azure-sdk commented on #24022
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.2993037,Service Bus:0.15117098,Azure.Identity:0.05599662'

[2022-11-28 21:04] timovv commented on #24012
Yeah, the mismatch going on here is due to the fact that the `test-utils` package still takes a dependency on the 1.0 recorder. `test-utils` uses `isLiveMode` in the modified Mocha globals which are created here: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/test-utils/src/multiVersion.ts. This must be causing failures somehow, since the 1.0.0 recorder's TEST_MODE _is_ case-se

[2022-11-29 01:06] #24022 closed

[2022-11-29 01:17] #24017 closed

[2022-11-29 02:19] EmmaZhu commented on #13033
@zzhxiaofeng , I just tried with the latest Azurite and JS SDK, it succeeded without error. Could you have a try again to see whether the issue still exists?

[2022-11-29 03:00] kazrael2119 commented on #23567
The libs are upgraded to recorder v2 at 11/29：

@azure/arm-databox
@azure/arm-databoxedge
@azure/arm-databricks
link:https://github.com/Azure/azure-sdk-for-js/pull/23917

[2022-11-29 06:20] sajeetharan commented on #21650
@griffinbird This is completed !

[2022-11-29 06:20] #21650 closed

[2022-11-29 06:21] sajeetharan commented on #20689
This is completed and released!

[2022-11-29 06:21] #20689 closed

[2022-11-29 06:22] sajeetharan commented on #22620
This is completed and released!

[2022-11-29 06:22] #22620 closed

[2022-11-29 06:24] zzhxiaofeng commented on #13033
@EmmaZhu well, I rerun the code and the issue has been fixed. I will close the issue now.

[2022-11-29 06:24] #13033 closed

[2022-11-29 08:17] zzhxiaofeng opened #24041 "Azure Load Testing Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/loadtestservice/load-testing-rest#running-a-test)
![Screenshot 2022-11-29 154344](https://user-images.githubusercontent.com/20970631/204468799-3649e8b5-d971-4676-9190-109693961fbf.png)
Reason:
`client` is not defined.

Suggestion:
Update to `Client`. Capitalize the first letter.

@joheredi, @dw511214992 for notification.

[2022-11-29 08:17] zzhxiaofeng opened #24042 "Azure Maps Route Readme Issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/maps/maps-route-rest#using-a-subscription-key-credential)
![GetImage (35)](https://user-images.githubusercontent.com/20970631/204470639-da0967c7-5959-450a-98b9-36780516c628.png)
Reason:
Don't have package `@azure-core-auth`.

Suggestion:
Update to `@azure/core-auth`.

2.
Section [link1](https://github.com/Azure/azure-sdk-for

[2022-11-29 08:17] zzhxiaofeng opened #24043 "Azure Maps Search Readme Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/maps/maps-search#make-a-reverse-address-search-to-translate-coordinate-location-to-street-address), [link2](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/maps/maps-search#translate-coordinate-location-into-a-human-understandable-cross-street)
![GetImage (38)](https://user-images.githubusercontent.com/20970631/2044

[2022-11-29 08:17] zzhxiaofeng opened #24044 "Azure Monitor OpenTelemetry Exporter Readme Issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/monitor/monitor-opentelemetry-exporter#distributed-tracing), [link2](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/monitor/monitor-opentelemetry-exporter#sampling)
![GetImage (39)](https://user-images.githubusercontent.com/20970631/204474007-161f605c-57af-4c8a-8204-ac1c10f132b1.png)
Reason:
`Resource` and `Semanti

[2022-11-29 08:17] azure-sdk commented on #24041
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.087502696,Storage:0.08255051,Azure.Core:0.06489762'

[2022-11-29 08:17] azure-sdk commented on #24042
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.14379305,Azure.Core:0.13846812,Compute:0.059187043'

[2022-11-29 08:17] azure-sdk commented on #24043
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Search:0.42868474,Azure.Core:0.056775294,Docs:0.047776468'

[2022-11-29 11:58] topshot99 commented on #23794
Hey @timtucker-dte,
For now, you can run this batch job by removing up partition key from DeleteOperationInput this would solve your problem.
We would also work over a fix from our end in order to accommodate this.

[2022-11-29 11:58] #23794 closed

[2022-11-29 17:47] deyaaeldeen commented on #23993
Thanks for the report! Could you share the subscription id, EH namespace, and the Event Hub name, in addition to an approximate time window when the behavior was observed?

[2022-11-29 17:56] KarishmaGhiya commented on #23971
Hello @prb1337 ! Thank you for reporting this. Can you run your application with this version of @azure/identity [3.1.2-alpha.20221128.2](https://www.npmjs.com/package/@azure/identity/v/3.1.2-alpha.20221128.2) and **add verbose logging** and generate the logs and send them to me? This will help me with further investigation.

[2022-11-29 17:58] KarishmaGhiya commented on #24003
Hello, can you confirm the version of @azure/identity being used. I believe this was a bug in 3.1.0 version and was fixed in 3.1.1 @cloudxpc

[2022-11-29 18:15] witemple-msft commented on #22569
I'm going to close this issue as there isn't any action we can take on the SDK side to restore this feature. Our recommendation is that if you need to extract entities from the text, you can access the text from the Form Recognizer result and pass it to the Text Analytics API in your own application. See: [`@azure/ai-text-analytics`](https://npmjs.com/package/@azure/ai-text-analytics) and its asso

[2022-11-29 18:15] #22569 closed

[2022-11-29 19:01] PieterT2000 commented on #23707
To what file location does the `cachePersistencePlugin` function from the @azure/identity-cache-persistence package save the DeviceCodeCredential? (Mac and Windows)

[2022-11-29 19:02] PieterT2000 commented on #23033
+1

[2022-11-29 19:49] lmolkova commented on #23953
@MSNev can you please help us find a good approach here? It seems we need to update dependencies with every Otel release. Is there anything we can do on the Azure SDK side or on the OTel side to prevent it? Thanks!

[2022-11-29 19:53] richardpark-msft opened #24046 "[stress] Update your Dockerfiles to use a more recent node.js version"
The stress tests are using an older version of node which has fallen very far out of support and aren't getting updated Docker image updates.

You'll want to update your FROM to use the latest LTS (or possibly 16.x, since that's what appears to be supported in Azure Functions).

[2022-11-29 21:29] xirzec commented on #24046
@richardpark-msft can you look at #24047 to see if I updated this right?

[2022-11-29 23:57] timovv opened #24048 "[ACR] Resettable streams don't work for `uploadBlob` and `uploadManifest`"
Passing in a resettable stream (type `() => NodeJS.ReadableStream`) to `uploadBlob` results in the following error:

[code]

While `core-rest-pipeline` has support for resettable streams, a change needs to be made to the validation logic in `core-client` to accept them.

[2022-11-30 01:00] minhanh-phan opened #24050 "[Language Text] Mocking the service"
Create mocking system for the service to test edge case scenario, for example, `partiallySucceeded` status returned from the service, see [here](https://github.com/Azure/azure-sdk-for-js/pull/24025)

[2022-11-30 01:00] azure-sdk commented on #24050
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.15887633,Cognitive Services:0.08604395,Docs:0.06861559'

[2022-11-30 01:59] cloudxpc commented on #24003
Hello, i was using 3.1.0 before. but I changed to @azure/identity 3.1.1 and tested, the issue still comes.

[2022-11-30 05:49] kazrael2119 commented on #23567
The libs are upgraded to recorder v2 at 11/30：

@azure/arm-healthbot
@azure/arm-healthcareapis
@azure/arm-hybridcompute
@azure/arm-hybridkubernetes
link:https://github.com/Azure/azure-sdk-for-js/pull/23999

[2022-11-30 06:40] topshot99 commented on #23489
we are looking into this.

[2022-11-30 07:37] prb1337 commented on #23971
Hi @KarishmaGhiya , I will try it with the new version. How can I activate verbose logging?

[2022-11-30 09:15] petrsvihlik opened #24060 "[Smoke Tests] PSTN smoke tests break the js - communication pipeline"
This is a subtask of #21344

Failing tests:

- getPurchasedPhoneNumber.js
- getPurchasedPhoneNumbers.js
- updatePhoneNumberCapabilities.js

Related ADO task: https://skype.visualstudio.com/SPOOL/_workitems/edit/3076112

[2022-11-30 09:24] petrsvihlik opened #24062 "[Smoke Tests] ShortCodes smoke tests break the js - communication pipeline"
This is a subtask of #21344

Failing tests:

- createAndDeleteProgramBrief.js
- getAllProgramBriefs.js
- getAllShortCodes.js
- getAndUpdateProgramBrief.js

Related ADO task: https://skype.visualstudio.com/SPOOL/_workitems/edit/3076112

[2022-11-30 09:29] petrsvihlik opened #24063 "[Smoke Tests] SMS smoke tests break the js - communication pipeline"
This is a subtask of #21344

Failing tests:

- sendSms.js
- sendSmsWithOptions.js
- usingAadAuth.js

Related ADO task: https://skype.visualstudio.com/SPOOL/_workitems/edit/3076127

[2022-11-30 10:20] petrsvihlik opened #24065 "[Smoke Tests] Email smoke tests break the js - communication pipeline"
This is a subtask of #21344

Failing tests:

- checkMessageStatus.js
- sendEmailMultipleRecipients.js
- sendEmailSingleRecipient.js
- sendEmailWithAttachments.js

Related ADO task: https://skype.visualstudio.com/SPOOL/_workitems/edit/3076112

[2022-11-30 10:32] petrsvihlik opened #24066 "[Smoke Tests] Chat smoke tests break the js - communication pipeline"
This is a subtask of #21344

Failing tests:

- messageOperations.js - `##[error]RestError: The provided subscription identifier '12345' is malformed or invalid.`

Related ADO task: https://skype.visualstudio.com/SPOOL/_workitems/edit/3076167

[2022-11-30 10:38] petrsvihlik opened #24067 "[Smoke Tests] ARM Communication smoke tests break the js - communication pipeline"
This is a subtask of https://github.com/Azure/azure-sdk-for-js/issues/21344

Pipeline: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1964124&view=logs&j=89e62377-9e04-50bb-9899-0c18e3d4a884&t=ab8e6574-ea4b-5b6b-b184-81f068de1fb4
Raw log: https://dev.azure.com/azure-sdk/590cfd2a-581c-4dcb-a12e-6568ce786175/_apis/build/builds/1964124/logs/712

Failing tests:

[2022-11-30 10:45] petrsvihlik commented on #24067
This conversation might be useful: https://teams.microsoft.com/l/message/19:344f6b5b36ba414daa15473942c7477b@thread.skype/1667903473169?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1667903473169&teamName=Azure%20SDK&channelName=Language%20%E2%80%93%20JS%E2%80%89%EF%BC%86%E2%80%89TS%20%F0%9F%A5%B7&createdTime=1667903473169&allowXTenantAc

[2022-11-30 22:15] KarishmaGhiya commented on #23971
https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/identity/identity#logging
This is one way -

[code]

[2022-11-30 23:41] #24048 closed