[2021-03-08 20:40] zfoster commented on #14157
Yep that sounds good, thanks! nothing I can think of so closing this one

[2021-03-08 20:40] #14157 closed

[2021-03-08 22:00] witemple-msft opened #14180 "Samples Quality Effort Tracking Issue"
# Samples Quality Effort

This is an issue to track work in the April sprint related to the ongoing samples quality effort and the next generation of sample tools.

## Running all samples in CI

Three packages are opted out of samples CI entirely, through their CI matrix configuration:
- [ ] mixedreality-authentication
- [ ] eventhubs-checkpointstore-blob
- [ ] digital-twins-core
    - samples are

[2021-03-08 22:07] sadasant commented on #13799
I'll close this since we currently don't have plans to make the environment variable names configurable. Thank you for the suggestion though!

[2021-03-08 22:07] #13799 closed

[2021-03-08 22:18] sadasant commented on #14160
@waldekmastykarz hello! I'm Daniel. I'll be doing my best to help.

We don't currently publish our packages pre-compiled for the browsers through CDN nor NPM. We recommend using bundlers. For that purpose we have the following resources:

- Here's our guide on how to bundle the Azure SDK libraries for browser applications: [link](https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/

[2021-03-08 22:20] sadasant commented on #13894
@ewh hello again. We've released Identity 1.2.4, which includes a fix that should help for your case: https://www.npmjs.com/package/@azure/identity/v/1.2.4

I'll close the issue for the time being! Please let us know if anything else comes up. We're here to help!

[2021-03-08 22:20] #13894 closed

[2021-03-08 22:28] jeremymeng opened #14182 "Rush update error on NodeJS v14"
`rush update` works fine on NodeJS v12 but failed on v14 with the following error. Not sure if it's a rush bug or something in our system.

[code]

[2021-03-08 22:46] ramya-rao-a commented on #14165
Thanks for reporting @diberry

@sarangan12 Didnt we fix this recently?

[2021-03-08 23:04] andrew-st-angelo-77media opened #14186 "WebApp | Service Principal cannot createOrUpdateSourceControl"
- **Package Name**: `@azure/arm-appservice`
- **Package Version**: `6.1.0`
- **Operating system**:
- [x] **nodejs**
    - **version**: `12.15.0`

**Describe the bug**
Using a Service Principal, the `webSiteManagementClient.webApps.createOrUpdateSourceControl()` request/call fails, with a code of `NotFound` and a message of "Cannot find User with name XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX." (where t

[2021-03-08 23:17] HarshaNalluru opened #14187 "Smaller matrix for live test pipelines"
Live test pipeline for service-bus
<img src="https://user-images.githubusercontent.com/10452642/110394222-eb4e0600-8020-11eb-915c-0a8776cc0968.png" height=300>

As discussed offline..
- `Canary` - We just want to catch the service regressions before they go public. Having the huge matrix with different OSes, node-versions, coverage, and min-max seems an overkill.
  Consider having a single job to

[2021-03-09 00:39] southpolesteve opened #14190 "[@azure/identity] Uncaught Error: EnvironmentCredential is not supported in the browser."
Package/Version: @azure/identity@1.2.1

**Is your feature request related to a problem? Please describe.**
When I attempt to use @azure/identity in the browser I get this error:
`Uncaught Error: EnvironmentCredential is not supported in the browser.`

**Describe the solution you'd like**
I would like this use case to actually work. We inject env vars into the build using webpack. Its a convenient

[2021-03-09 01:13] freakyfriday commented on #11301
Hi @klaaslanghout, any news on supporting sorting for CosmosDB TablesAPI using the REST API endpoint?

[2021-03-09 01:26] maorleger commented on #14001
Thanks for the report @zzhxiaofeng - those are great catches! I double checked and what you recommend looks correct. I'm adding the help wanted label - please tag me on the resulting PR for review and I'll test it.

[2021-03-09 02:57] zzhxiaofeng commented on #14001
@maorleger The PR is sent, please have a look when you are free.

[2021-03-09 03:28] ljian3377 commented on #14025
@MGibson1
Could you help verify if the browser version file of `disableResponseDecompressionPolicy` is being used?
https://github.com/Azure/azure-sdk-for-js/blob/78db83fe148b8dad1fe8db4112cf92b45ffb13d3/sdk/core/core-http/src/policies/disableResponseDecompressionPolicy.ts
https://github.com/Azure/azure-sdk-for-js/blob/ab612a816be2b71e8c33280a298b1cd6b475aa10/sdk/core/core-http/src/policies/disable

[2021-03-09 06:49] qiaozha commented on #14176
@colawwj  Could you take a look at this issue ? Thanks

[2021-03-09 06:52] qiaozha commented on #14176
provisioningState is used to trace the status of creating or updating operations to that resource.

[2021-03-09 13:32] EmmaZhu opened #14196 "[storage] Interface change in migrating to V6 code generator"
V6 code generate will generate code for string enum as following:

[code]
The origin code is like following:
`export type GeoReplicationStatusType = 'live' | 'bootstrap' | 'unavailable';
`

This is an interface change which need approval from arch board team.

[2021-03-09 18:50] ramya-rao-a commented on #14196
cc @jeremymeng

[2021-03-09 18:56] ramya-rao-a commented on #14190
@southpolesteve Can you share the version of `@azure/identity` package you are using? Also, related prior discussions can be found in
- https://github.com/Azure/azure-sdk-for-js/issues/13407
- https://github.com/Azure/azure-sdk-for-js/issues/13799
- https://github.com/Azure/azure-sdk-for-js/issues/9791

[2021-03-09 20:52] joshfree opened #14204 "Azure Monitor OpenTelemetry Exporter for JavaScript (July 2021-March 2022)"
This epic tracks the work required by the Azure SDK team to support the [OpenTelemetry](https://opentelemetry.io/) 1.0/stable release in JavaScript

- [x] Update \@azure/core-tracing to the latest OpenTelemetry 1.0/stable release (current: 1.0.0-rc0)
   - [x] Update all SDK packages to reference \@opentelemetry/api stable.
- [ ] Investigate if a plain text logger exists for JavaScript for OpenTele

[2021-03-09 23:32] joshfree opened #14210 "Azure.Identity Improvements for JavaScript (June - October 2021)"
# Azure.Identity June - October 2021 Releases

## June Release Cycle - Start Early Feature Design for Nickel Beta-1

### **Design:** Beta-1 Features

1.  **Feature: Support Tenant Id Challenges / Hints [tenant-hint.md](https://gist.github.com/christothes/34b713a70aad4e94f228b5a9b64f92a4)**
    - Support Key Vaults across multiple tenants
    - Address common issues when customers use VS/VSCode cre

[2021-03-10 00:27] mindlessroman opened #14211 "CosmosDB's Bulk Upsert Responds with 400"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.9.5
- **Operating system**: WSL Ubuntu 18.04
- [x] **nodejs**
    - **version**: 10.23.3
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.2.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**Describe the

[2021-03-10 00:30] HarshaNalluru opened #14212 "[Service Bus] Handle "disconnect" for streaming receiver sessions"
Streaming receiver for sessions doesn't recover upon a disconnect, instead of hanging forever, close the streaming receiver after notifying session-lock-lost through `processError`.

_Originally posted by @HarshaNalluru in https://github.com/Azure/azure-sdk-for-js/pull/13956#discussion_r590849249_

[2021-03-10 01:26] southpolesteve commented on #14190
@azure/identity@1.2.1, added to issue body too.

I see I have waded into an area with a lot of past discussion 😄 @sadasant Feel free to close roll this into another issue if you want. Right now I think I only have two loose opinions:
- Injecting `process.env.VARIABLE` is a valid use case with webpack and a library shouldn't restrict that use case
- Agree with #9791 that if the current behavior is

[2021-03-10 01:33] BertholetDamien commented on #4021
@ljian3377
That was with the Aborter. The problem I had with the v12, when I test it day ago, I don't know if it's still related to the same problem (file descriptor leak) or something else. I haven't investigate, because I was in the middle of a big release, I had to manage a lot of others things.
Maybe it's not even the SDK and it was me who made a mistake. So I don't think investigating this is

[2021-03-10 01:42] donaldduy-lb opened #14214 "Unique Key Policy is not being enforced"
- **package**: @azure/cosmos
- **version**: ^3.6.2
- **Linux**:
- [x] **nodejs**
    - **version**:  ^8.5.4
- [x] **Google Chrome**
    - **version/name**:  88.0.4324.190 (Official Build) (64-bit)
- [x] **typescript**
    - **version**: ^3.7.3

**Describe the bug**
The container I have created is not following the unique key policy that I have set. I suspect this is due to the fact that both items

[2021-03-10 03:49] qiaozha commented on #14186
@colawwj Could you take a look at it? Thanks

[2021-03-10 06:48] colawwj commented on #14176
@bendavis78
I can repro this case,
![image](https://user-images.githubusercontent.com/70128817/110586711-91c71200-81ad-11eb-96fc-0f91c5c41cba.png)
And by my test,you need by the follow code to get state about current container, and see prameter of instanceView in response,
[code]

[2021-03-10 12:01] Gobal-kovai opened #14219 "[Service Bus] 'ViaPartitionKey' and 'ForcePersistence' properties not available"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.0.3
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: 14.15.1

**Describe the bug**
'ViaPartitionKey' and 'ForcePersistence' properties are not available while sending new messages (ServiceBusMessage interface) in the new SDK version(7.0.3). But 'ViaPartitionKey' property is available while peeking messages inside

[2021-03-10 12:17] RazYahkovnia commented on #14161
No. this is happening on are Consumer, and after a reset of the service the issue despaired, but I worried it will happen again.
On the time we got the error, the service was not consuming any events.

[2021-03-10 16:56] zfoster commented on #14211
@mindlessroman The 400 error is caused by [this PR](https://github.com/Azure/azure-sdk-for-js/pull/13913) not being released yet - I kicked off a release but it failed and didn't rerun it, I'll get that out now. Unfortunately, we only get the response codes back from bulk failures.

As for the compilation failures when you use "toot", that seems to either be from an old build or from the type bein

[2021-03-10 18:13] chradek commented on #14161
@RazYahkovnia
Thanks for the info. Did you detect this in your `processError` handler then? Was it being invoked continuously (without any events coming in to your client) until you reset, or was it sporadic? And any idea the span of time this was occurring for?

Do you also happen to have more of the stack trace available? The SDK should recover automatically while consuming events. It's hard to

[2021-03-10 18:15] chradek commented on #14032
Closed by #14100

[2021-03-10 18:15] #14032 closed

[2021-03-10 18:35] andrew-st-angelo-77media commented on #14186
So, I'm not crazy.  That's always good to hear.

Is there anything else I can do or provide for this ticket?

[2021-03-10 20:18] zfoster commented on #14214
Hey @donaldduy-lb, taking a look at this now

[2021-03-10 20:33] ramya-rao-a commented on #13500
@Sahana-Ramdurg This issue is specific to the `TypeError: Cannot read property '_process' of undefined` scenario which is not your case. Please log a support ticket in the Azure portal with information around the timestamp for when you see the subscriber stop receiving messages, so that they can also check the server side logs to see if we can learn something from there. Please ask for the Azure S

[2021-03-10 20:49] sadasant commented on #13369
@prashanthmadduri We went back and forward and we're working on a different fix: https://github.com/Azure/azure-sdk-for-js/pull/14223

We will release this as soon as possible. Ideally this week.

[2021-03-10 21:00] chrnola opened #14224 "[storage] Blob Change Feed Client returns continuation tokens that it cannot parse"
- **Package Name**: @azure/storage-blob-changefeed
- **Package Version**: 12.0.0-alpha.20210210.1
- **Operating system**: Linux (Debian)
- [x] **nodejs**
    - **version**:  12.13.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.9.8
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://d

[2021-03-10 23:12] chrnola opened #14229 "[storage] Blob Change Feed Client returns empty continuation token for final page in iterator"
- **Package Name**: @azure/storage-blob-changefeed
- **Package Version**: 12.0.0-alpha.20210210.1
- **Operating system**: Linux (Debian)
- [x] **nodejs**
    - **version**:  12.13.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.9.8
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://d

[2021-03-11 00:29] zfoster commented on #14211
I'm working on a release, a few have failed. Should be out by end of day - 3.10.1

[2021-03-11 00:32] sadasant opened #14232 "[Identity] Improve tracing"
Identity tracing doesn't currently go all the way through MSAL to the HTTP client (which we call IdentityClient in the Identity code), so the tracing doesn't show the final HTTP requests. We need to figure out how to add the HTTP request to the tracing spans to align with other languages.

[2021-03-11 00:49] sadasant commented on #14232
Right now we only have one tracing level, let's say `Credential.getToken`. There are many things happening underneath, but that does represent generally speaking one network request.

This task could be just about confirming that this is ok.

[2021-03-11 01:01] deyaaeldeen opened #14234 "[Dev Tool] Improve samples check-node-versions command:"
## Issues that are still pending:
- [ ] color the output of every node version in a different color
  - Context: The `dev-tool samples check-node-versions` prints the output of running all samples to the console with each node version so it could be more helpful to use a unique color for the output resulted from each node version.

## Issues that has been addressed:
- [x] the logs when pulling doc

[2021-03-11 04:10] jeffwilcox opened #14236 "TS project using azure/cosmos 3.10.1 breaks without identity package installed"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.10.1
- **Operating system**: MacOS
-  **nodejs**
    - **version**: 15.8.0
-  **typescript**
    - **version**: 4.2.2

**Describe the bug**
Installing just the `@azure/cosmos` NPM without also installing `@azure/identity` causes a TypeScript build break.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install the package, but

[2021-03-11 04:21] jeffwilcox commented on #14236
FYI submitted a PR https://github.com/Azure/azure-sdk-for-js/pull/14237

[2021-03-11 04:25] qiaozha commented on #14186
I think there's something need to be done with the github authorization but not sure. Add Service Attention for further support.

[2021-03-11 07:44] EmmaZhu commented on #14224
Thanks @chrnola for reporting this to us.
The issue root cause is mainly as your investigation result.
The SDK returns continuation token with `"EndTime": null,` when it's returned in the second page, which is because convert a null string to an invalid date object.

We'll fix this bug in a future release.

Thanks
Emma

[2021-03-11 08:00] #13554 closed

[2021-03-11 08:40] ljian3377 commented on #4021
Yes. So we strongly encourage you to migrate to V12.

[2021-03-11 12:54] waldekmastykarz commented on #14160
Thank you for the reply and links @sadasant. It's a shame that using bundlers is the only way forward. May I ask why you decided not to offer a version on CDN like MSAL does?

[2021-03-11 14:24] zfoster commented on #14236
Merged that PR - https://www.npmjs.com/package/@azure/cosmos

[2021-03-11 14:24] #14236 closed

[2021-03-11 14:28] zfoster commented on #14211
release 3.10.2 should autogenerate IDs for `Upsert` operations in bulk now

[2021-03-11 14:28] #14211 closed

[2021-03-11 17:38] sadasant opened #14248 "[Identity] Add the SharedTokenCacheCredential"
.Net has this SharedTokenCacheCredential. We should have it too. .Net's API: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs#L214

Also use this credential from DefaultAzureCredential, and add these options to DefaultAzureCredential's constructor: `excludeSharedTokenCacheCredential`, `sharedTokenCacheTenantId` and `sharedToken

[2021-03-11 19:41] benbp opened #14253 "Smoke test samples detection only uses javascript directory for manifest generation"
The pipeline that runs live test samples currently uses an [underlying script](https://github.com/Azure/azure-sdk-for-js/blob/master/common/smoke-test/Initialize-SmokeTests.ps1#L93) that gathers metadata about what samples to build/run and which dependencies to install. This script currently checks only the javascript samples directory for higher level information that is then used to run both ts

[2021-03-11 20:35] maorleger opened #14254 "Add local support for AES-CBC"
We added support for AES-CBC-PAD but are unable to add local support for AES-CBC until https://msazure.visualstudio.com/One/_workitems/edit/9511776 is resolved.

The summary here is that AES-CBC should not be padded. We can implement local AES-CBC support today, but won't have the confidence of local encrypt / remote decrypt and local decrypt / remote encrypt without the service side changes.

[2021-03-11 21:13] ramya-rao-a commented on #14212
We do not recover the streaming receiver for sessions when we see an error on the AMQP link or session due to the locks being on the entire session and not just the lock. In a system where one may have multiple receivers for next available sessions, this may result in frequent SessionLockLost errors. For more see https://github.com/Azure/azure-sdk-for-js/issues/2826 and #10306

This issue can be u

[2021-03-11 21:45] maorleger commented on #14254
Update - we're unable to support AES-CBC locally. It's expected to be zero-padded and node JS crypto does not provide that. It either provides PKCS7 padding or no padding and we cannot implement our own.

[2021-03-11 21:45] #14254 closed

[2021-03-11 22:58] #13321 closed

[2021-03-11 23:05] maorleger opened #14258 "KeyVault Keys - recorder interaction bug when URIs have trailing slashes"
For some reason trailing slashes in KEYVAULT_URI or AZURE_MANAGEDHSM_URI cause formatting issues in the recorder .

Repro:

- Make sure these two env vars have a trailing slash
- Record a test that creates a key
- Playback the test

Should get a no match error. Try the same without trailing slashes and it works.

Somewhere we're parsing that incorrectly in the recorder. Product code doesn't seem i

[2021-03-12 00:29] HarshaNalluru commented on #14258
Can you add more info on how the recordings look like?

Example:
<img src="https://user-images.githubusercontent.com/10452642/110873492-b7741a00-8286-11eb-91a8-abb073c25228.png" height=200>
Are you saying that the recordings instead have `https://fakestorageaccount.blob.core.windows.net/:443` and that breaks things?

[2021-03-12 02:02] sadasant commented on #14160
@waldekmastykarz we had a pre-bundled version for a bit, as part of the NPM packages, but we decided to move away from that direction some months ago. Eventually we will consider this again! - Delivering the best possible experience for browsers is not trivial, and our resources have plenty of work already.

Hopefully sooner than later we'll be able to reconsider the CDN approach, but in the mean

[2021-03-12 02:02] #14160 closed

[2021-03-12 02:15] octogonz commented on #13950
https://github.com/volta-cli/volta/issues/906#issuecomment-797117860 is saying that [Volta](https://volta.sh/) cannot be used with Rush unless we can eliminate the native dependencies.

[2021-03-12 03:22] deyaaeldeen commented on #14180
text analytics rejoined the smoke tests pipeline here https://github.com/Azure/azure-sdk-for-js/pull/14255, so I ticked its box.

[2021-03-12 04:14] ljian3377 commented on #14229
Also, are you comfortable with using the `alpha` i.e. daily build versions?
We can get the fixes into master branch ASAP, but the release may come later.

[2021-03-12 04:18] chrnola commented on #14229
@ljian3377 yes I'm definitely comfortable with using the daily builds. Thanks for picking this up so quickly!

[2021-03-12 08:00] #13503 closed

[2021-03-12 09:49] Sahana-Ramdurg commented on #13500
@ramya-rao-a  Thanks a lot for your reply. We have created support ticket - 2103120060003217

[2021-03-12 16:45] witemple-msft opened #14266 "[storage-blob] Asserting bearer policy class name in tests"
While working on a rewrite of the bearer token authentication policy (#14223) I noticed some failures in storage-blob tests due to it making assertions about the name of the BearerTokenAuthenticationPolicy class, which I had renamed to avoid confusion between the new and old implementations. The code that performs this test is in [`test/utils/assert.ts`](https://github.com/azure/azure-sdk-for-js/b

[2021-03-12 18:04] sadasant opened #14267 "[Identity] Reduce playback timeout"
As of this PR: https://github.com/Azure/azure-sdk-for-js/pull/14064/files I've increased the playback timeout because I haven't figured out a way to speed up MSAL's internals. We should investigate and make this better.

For more context: https://github.com/Azure/azure-sdk-for-js/pull/14064/files#r593361018

[2021-03-12 19:56] richardpark-msft commented on #14219
Hi @Gobal-kovai,

- `viaPartitionKey` was removed as we evaluate how we're going to properly support transactions within Service Bus - currently they are not. Are you just hoping to be able to read the value, but not necessarily trying to initiate or start a transaction from JavaScript?

I'm still looking into the forcePersistence property

[2021-03-12 19:59] mikeharder opened #14269 "Add Node 15 (which includes npm v7) to test matrix"
Node 15 should be added to our test matrix.  In particular, Node 15 includes npm v7 which is a major version bump and includes some big changes.

https://github.blog/2020-10-13-presenting-v7-0-0-of-the-npm-cli/

Since we need to continue testing on Node 8-14, this would be an additional row in our test matrixes, rather than a replacement.  However, since we have moved to the 1ES agents, this shoul

[2021-03-12 20:43] mikeharder opened #14272 "Add Node 15 to CI test matrix"
Child of #14269

[2021-03-12 20:44] mikeharder opened #14273 "Add Node 16 to smoke test matrix"
- Child of #14269

[2021-03-12 20:45] mikeharder opened #14274 "Add Node 15 to live test matrix"
- Child of #14269

[2021-03-12 21:05] zfoster commented on #14211
3.10.3 removes the `@azure/identity` dependency so should be preferred to 3.10.2, just wanted to leave a note

[2021-03-12 21:36] sadasant opened #14276 "[Identity] Drop the Implicit Auth flow for 2.0.0"
While we were working on adding the Auth Code flow, we were thinking on doing a smaller update to the Identity package. Now that we're aiming to publish 2.0.0, keeping an authentication method that is going to be deprecated in the future (Implicit Auth) doesn't seem to be as worthwhile.

If removed, we should also remove references to this from the README and other docs.

[2021-03-13 00:46] sadasant opened #14279 "[Identity] Should we pick the latest used account from MSAL's getAllAccounts?"
We currently re-authenticate if we don't have an account already picked in memory, and we go read MSAL and receive multiple accounts. Perhaps we can pick the latest used account from MSAL's getAllAccounts? This could even be done across languages.

[2021-03-13 16:39] sarangan12 opened #14280 "[Search] - Potential Issue with Search Test Failures"
In the past 2 weeks, I am seeing the test failures for Search in CI. Link: https://dev.azure.com/azure-sdk/internal/_pipeline/analytics/stageawareoutcome?definitionId=1650.

It might be legitimate. Or there might be an underlying issue. Anyway, I need to look into this issue.

FYI, @ramya-rao-a

[2021-03-14 02:30] BertholetDamien commented on #4021
@ljian3377  Thanks for the warning. I will plan that in the futur.
And like I said, I will open an other ticket if needed.
Thanks a lot team!

[2021-03-15 06:06] Gobal-kovai commented on #14219
Thank you @richardpark-msft for your reply. We just want to view *viaPartitionKey* property.

[2021-03-15 13:36] kktam opened #14284 "Is there a way to use uploadBrowserData() method in @azure/storageblob to upload directly to a folder inside a blob"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.4.1
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: v14.15.2
- [ ] **browser**
    - **name/version**:  Chrome
- [ ] **typescript**
    - **version**: 3.9.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Des

[2021-03-15 16:38] ramya-rao-a commented on #13959
@ljian3377 Can we close this issue if it was fixed in the latest update 12.4.0 that was released last week?

[2021-03-15 16:56] ramya-rao-a commented on #14276
cc @schaabs, @bterlson, @maorleger, @chradek

[2021-03-15 16:59] christothes opened #14286 "Implement AzurePowerShellCredential and add to DefaultAzureCredential chain"
See .NET implementation here:  https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/src/AzurePowerShellCredential.cs

[2021-03-15 17:08] sadasant opened #14287 "[Identity] Ideas for some small refactorings"
- [ ] The IdentityClient has two main use cases that can grow in widely different directions. Should we separate it into two?
- [ ] MsalOpenBrowser's usage of the HTTP client could use some cleaning, as in: separating functions from the main class, for example.

[2021-03-15 17:21] jeremymeng commented on #14266
In core v2 we have constant policy names. In core v1 we don't have a good way to identify a policy.  Other options include checking for existence of private methods, but that is also tight coupling with internals.

[2021-03-15 17:27] sadasant commented on #14276
For context,

- `msal` is deprecated ([npm link](https://www.npmjs.com/package/msal )). Right in their readme you can read ` This library is no longer receiving new features and will only receive critical bug and security fixes. All new applications should use @azure/msal-browser instead.`
- `@azure/msal-browser` uses Auth Code flow with PKCE: ([npm readme link](https://www.npmjs.com/package/@azur

[2021-03-15 17:42] #14001 closed

[2021-03-15 17:51] sadasant commented on #6769
These two items:

- [ ] Add Support for writing back to the SharedTokenCache (@schaabs driving design requirements) (blocked on #9778)
- [ ] Add Linux and Mac SharedTokenCache Support (@jianghaolu driving design requirements) (blocked on #9778)

Are fixed by this PR: https://github.com/Azure/azure-sdk-for-js/pull/14064

[2021-03-15 17:54] sadasant commented on #14010
Closed since our current core already handles this as the specs require.

[2021-03-15 17:54] #14010 closed

[2021-03-15 18:02] sadasant commented on #13788
I'm tracking this issue through other issues, but once those are fixed I'll come back and clean this up.

[2021-03-15 18:07] chradek commented on #14276
If our own official documentation is suggesting that apps move away from implicit grant flow, it seems reasonable to me to stop supporting it in identity v2.

[2021-03-15 18:40] ramya-rao-a commented on #14190
cc @jeremymeng, @chradek, @bterlson, @xirzec, @maorleger for any additional thoughts before closing

[2021-03-15 20:07] sadasant commented on #13788
Here are the issues (and other relevant info):

- For CAE: https://github.com/Azure/azure-sdk-for-js/issues/13156
  - I made this PR earlier for the new core: https://github.com/Azure/azure-sdk-for-js/pull/13888 the idea is to merge it once the new core is released, but the new core got delayed.
  - The core feature, as agreed upon with @schaabs , should be only the bare basics to implement any sp

[2021-03-15 20:22] bterlson commented on #14190
I think I'm fine with manually plumbing environment variables. It might be convenient for tests to have this auto-picked up but it feels like such a risky thing to enable/have built in support for. You really should think hard using env vars in the browser.

[2021-03-15 20:48] richardpark-msft opened #14292 "[rollup] Incorrect snippet in some rollup.config's causes us to ignore _any_ circular reference."
Quite a few of our rollup configurations have a bit (in their onWarn) that looks like this:

[code]

This has a bug because it's actually calling `.indexOf` on result of the logical comparison of `path.normalize === 0`. It should probably be something similar to this:

[code]

Or it might be that `importer` isn't an exact match so we'll need to allow for matching later in the string. But the first

[2021-03-15 21:32] bterlson commented on #14276
I am ok with this as well, but I want to make sure it doesn't make sense/isn't a good idea to include support for a major with a deprecation notice in place? Any idea how prevalent usage of this is?

[2021-03-15 21:33] MRayermannMSFT opened #14293 "storage-blob sets accessPolicy to be undefined for SignedIdentifier with empty policy fields"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.5.0
- **Operating system**: all
- [x] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The return val

[2021-03-15 22:39] sadasant opened #14295 "[Identity] Separate the IdentityClient class into two in the same package"
Identity has a notion of an Identity client that conveys a common ServiceClient on the SDK with a notion of a network interface from MSAL. Even though these two have some underlying commonalities, they can grow into very different ends. Consider separating them into two different classes.

**IMPORTANT:**
Before doing this task, consider whether it will be better separated or not.

[2021-03-15 22:41] sadasant opened #14296 "[Identity] MsalOpenBrowser refactoring"
MsalOpenBrowser's usage of the HTTP client could use some cleaning, as in: separating functions from the main class, for example. I'm sure that if we invest some time thinking how to clean it up, we'll arrive to something interesting, I see it as a matter of spending time doing the cleanup rather than something specific.

[2021-03-15 22:41] sadasant commented on #14287
Separated into:

- https://github.com/Azure/azure-sdk-for-js/issues/14295
- https://github.com/Azure/azure-sdk-for-js/issues/14296

[2021-03-15 22:41] #14287 closed

[2021-03-15 22:42] jeremymeng commented on #1008
@mathewc would app service API still work fine if our SDK ignores the `Set-Cookie` header and don't do anything?  We are considering removing cookie support from SDK core libraries, and we don't feel that there's an actual need to use cookies in REST APIs.

[2021-03-15 22:43] sadasant commented on #14267
I have asked the MSAL team and they'll consider allowing us to control their polling interval.

[2021-03-15 23:37] ramya-rao-a commented on #13654
@EmmaZhu, you can use the [migration guide template](https://github.com/Azure/azure-sdk/blob/master/docs/policies/migration-guide-template.md) as a reference as well

[2021-03-16 01:21] praveenkuttappan commented on #7866
@weshaggard  Another alternate option is to find the highest version available on npm. If version is below highest version on npm then no need to  increment version. Assuming this logic is required for all languages so I will try to have some common logic with functions plugged in in Language settings script.

[2021-03-16 01:35] ljian3377 commented on #13959
@EmmaZhu Please remember to close the issues that's resolved in a earlier release.

[2021-03-16 01:37] ljian3377 commented on #13959
@dzabeu
The fix is available now in the [@azure/storage-file-datalake@12.4.0](https://www.npmjs.com/package/@azure/storage-file-datalake/v/12.4.0).

[2021-03-16 01:39] ljian3377 commented on #14284
Who do you mean by `a folder inside a blob`?

[2021-03-16 03:33] aadamsx commented on #13281
What is the status of Deno support, is it on the roadmap somewhere?

[2021-03-16 05:27] jeremymeng commented on #14284
@kktam are you using some path separator for your hierarchy? I suppose you can give your blob a name like `path/to/my/blob` to achieve the goal?

[2021-03-16 08:44] cveld commented on #13281
@aadamsx So this exploration of mine was part of assessing the effort it would take to adopt Deno. I found it surprising that Deno currently does not seem to provide a good migration story coming from nodejs. To start with, TypeScript files are completely incompatible due to the way import statements are processed, i.e. Deno requires the ts extension everywhere whereas with Nodejs you need to leav

[2021-03-16 10:24] qiaozha opened #14302 "@azure/arm-eventgrid is not published as PR got merged"
Recently we merged a PR  https://github.com/Azure/azure-sdk-for-js/pull/13867 to release @azure/arm-eventgrid package per service team's request, but it doesn't get published into npmjs.
Then I found there's no package packed in this task https://dev.azure.com/azure-sdk/public/_build/results?buildId=773411&view=logs&j=ca395085-040a-526b-2ce8-bdc85f692774&t=3374e909-b3a0-5fde-4fba-1f1bb546637f

[2021-03-16 15:02] ewh commented on #13894
Hi @sadasant. I _finally_ got around to testing this issue today (testing with the alpha release package you mentioned earlier). It appeared to completely address the issue! Thanks so much for your help with this!

I'll upgrade to `1.2.4` now!

[2021-03-16 16:15] chradek commented on #13500
Unfortunately I haven't been able to reproduce this issue. We're going to close this issue due to inactivity, but if someone encounters it again please open a new issue and if possible provide logs by setting the DEBUG environment variable to `DEBUG=azure*,rhea*,-rhea:raw,-rhea:message,-azure:core-amqp:datatransformer`

[2021-03-16 16:42] jsquire opened #14303 "Azure.Core: AzureNamedKeyCredential"
# Summary

When using a shared key for authorization, some services require that the name of the key be used as a component of the algorithm to form the authorization token.  For these cases, `AzureKeyCredential` and `AzureSasCredential` aren't adequate as they track only a single value.  A new credential type, `AzureNamedKeyCredential` has been approved to address this gap.

# Goals

- Offer a to

[2021-03-16 17:18] #10992 closed

[2021-03-16 17:25] HarshaNalluru opened #14304 "Followup of #14302 - gulp pack should exclude `track-1` perf test projects"
https://dev.azure.com/azure-sdk/public/_build/results?buildId=773411&view=logs&j=ca395085-040a-526b-2ce8-bdc85f692774&t=3374e909-b3a0-5fde-4fba-1f1bb546637f
![image](https://user-images.githubusercontent.com/10452642/111352369-54490580-8641-11eb-8635-dee946039c89.png)

Track 1 perf test projects have been included in the `gulp pack` step probably because they are not managed by rush toolchain.

`g

[2021-03-16 17:29] HarshaNalluru commented on #14302
I've observed the `gulp pack` step in the pipeline included track-1 perf test packages probably because they are not managed by rush toolchain.
It won't cause any problems but is a step that's being done unnecessarily.
Logged a separate issue https://github.com/Azure/azure-sdk-for-js/issues/14304

[2021-03-16 17:55] sadasant opened #14305 "[Key Vault] Move to the new HTTP core."
Move Key Vault to use the new HTTP core.

I'm not sure of all that this entails. We should ask @sarangan12 for tips.

The reason we want to move Key Vault to the new core is to use CAE. Here's the PR where I did that with the old core (we decided to close it since we decided to have the feature on the new core): https://github.com/Azure/azure-sdk-for-js/pull/13388

[2021-03-16 17:58] sadasant opened #14306 "[Key Vault] Use the CAE feature."
Once CAE is merged to the new core, Key Vault should use it.

Let's sync on when we get there. The changes should be small, I have already done a similar set of changes in a previous PR (that I did when I did CAE in the old core).

The reason we want to move Key Vault to the new core is to use CAE. Here's the PR where I did that with the old core (we decided to close it since we decided to have th

[2021-03-16 18:21] sadasant commented on #14276
@bterlson we are currently supporting both. We default to Auth Code and allow the flow to be switched if a user requires it. If that's the right call, we could close this issue.

[2021-03-16 18:23] danieljurek opened #14307 "Nightly docs.ms publishing"
Publish docs.ms docs to a nightly branch for dev review

[2021-03-16 18:46] bterlson commented on #14276
@sadasant is there a deprecation notice in place?

[2021-03-16 18:48] jeremymeng opened #14308 "[Core] retry on WRITE connection resets"
from @southpolesteve

Today, we do retry ECONNRESET on reads but not writes. The argument is that a non-idempotent write (increment a value) may have been committed but connection got reset before the response.

I think 99% of customers want to retry on writes on ECONNRESET

[12:53 PM] Steve Faulkner
We get users who hit connection reset errors. Which I could retry, if I could inpsect the request

[2021-03-16 18:52] sadasant commented on #14276
@bterlson I can add it! I'll use this issue to track that then.

[2021-03-16 19:26] bterlson commented on #14276
I'm not necessarily arguing for it, and would still like to understand how prevalent the usage is. If we feel highly confident that almost no one is using the bad name then deleting it next major without a warning in place for a while seems fine. If it's common, I worry. Thoughts?

[2021-03-16 19:34] sadasant commented on #14276
well, at the moment everybody using browser authentication with Identity are using implicit auth, and the AAD applications are not 100% compatible with the new flow. So, we can force them to update their AAD apps if they can't authenticate, and that will resolve moving to the new authentication method. I don't mind keeping implicit auth around until it's no longer available too.

[2021-03-16 20:49] richardpark-msft commented on #14219
Hi @Gobal-kovai,

After looking into this more we felt like it would be potentially confusing to expose this flag officially, as it's still in discussion how we're going to expose transactions in JS. So your current workaround is the correct solution, for now.

I'm going to close this, but please re-open if you have some more questions.

[2021-03-16 20:49] #14219 closed

[2021-03-16 20:50] sadasant commented on #14276
So, here's the plan, based on what we discussed with Brian and Scott:

- Make a Pull request ONLY removing Implicit flow. If we get a customer issue requiring us to add it back, it should be very easy to revert the changes.

[2021-03-16 20:50] #13716 closed

[2021-03-16 20:53] xirzec opened #14311 "[core] bearerTokenAuthenticationPolicy shouldn't sign HTTP URLs"
It was mentioned to me by @lmazuel that we should put some checks into bearerTokenAuthenticationPolicy  so that we don't include auth tokens when hitting HTTP (as opposed to HTTPS) URLs. This seems like a good idea and helps mitigate some checks we otherwise have to do in service client constructors.

/cc @willmtemple @sadasant

[2021-03-16 21:03] chradek opened #14312 "[communication-phone-numbers] samples fail in smoke test pipeline"
The samples from the `@azure/communication-phone-numbers` are currently failing in our smoke tests pipeline: [internal pipeline](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=786879&view=logs&j=f3570516-c8fe-5ce9-92b2-b737df25d5ea&t=f7e12054-28e8-5a56-a94b-45551d60467c&l=1964)

It looks like they're failing because our subscription does not have the required permissions to call t

[2021-03-16 21:33] ramya-rao-a commented on #14303
Thanks @jsquire
@chradek, Lets add this to `@azure/core-auth`. Then, use it in Event Hubs and Service Bus for the time being along with AzureSasCredential

[2021-03-16 21:55] weshaggard commented on #7866
I actually don't think this is an issue any longer after https://github.com/Azure/azure-sdk-tools/pull/458. So any increment PR's should be targeting the same branch which the release was made from.

[2021-03-16 22:29] #7866 closed

[2021-03-16 22:46] sadasant commented on #11670
Turns out this is an inconsistency in Python. In JS it can be resolved with the abort signal. I'll close this for now.

[2021-03-16 22:46] #11670 closed

[2021-03-17 00:31] ramya-rao-a commented on #14312
@0rland0Wats0n, @DominikMe Can one of you take a look at this at the earliest?

[2021-03-17 01:41] seanquijote commented on #11007
MS Azure Event Hub [JS docs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-node-get-started-send) still shows the outdated code. Good thing I found this issue.

[2021-03-17 02:43] EmmaZhu commented on #14293
@MRayermannMSFT

Thanks a lot for reporting this to us.

I understand your concern.  From storage scenario perspective, an access policy in container is used to 1. generate a SAS which you can modify or revoke anytime you want, 2. provide some common part used to generate SAS tokens.

An access policy in container without a start, expiry, or any permissions cannot be used in any of the above scena

[2021-03-17 02:53] MRayermannMSFT commented on #14293
No, I'm not blocked. Though it would be nice if eventually either:
1. the typing was fixed
2. any functions that create SignedIdentifiers respect the typing as it currently is

That way I don't have to have a comment in my code linking to this issue that describes why I'm checking to see if something exists when by definition it should always exist.

[2021-03-17 16:45] Connor-Wood opened #14329 "Service Bus sdk typing"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.0.3

We are migrating from v1 to v7 and noticed the below:

userProperties?: { [key: string]: any };

has been changed to

applicationProperties?: {
        [key: string]: number | boolean | string | Date;
    };

this no longer allows `null` to be sent and forces casting to `any` all throughout our code. Request would be to change it

[2021-03-17 18:19] deyaaeldeen opened #14331 "[KeyVault Certificates] Logging information printed by some tests"
Please remove those messages. cc @sadasant

Here are some:
![kvtests](https://user-images.githubusercontent.com/6074665/111517523-8b93e100-872b-11eb-9918-8aaee8d13560.PNG)

[2021-03-17 18:20] xirzec commented on #5804
This can be easily done with core-rest-pipeline, so new service clients built on top will be able to configure it

[2021-03-17 18:20] #5804 closed

[2021-03-17 18:30] deyaaeldeen opened #14332 "[KeyVault Certificates] Some tests in playback mode are really slow"
For instance, here are some:
[code]

Please review all tests and make sure they have a reasonable runtime in playback mode. If they are LROs, please make sure the polling interval is 0 in playback mode. Please see [text analytics tests](https://github.com/Azure/azure-sdk-for-js/blob/0ae8bf4ccd81da74e5a3b8e0b48c1f6e8d5da7f5/sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts

[2021-03-17 18:47] danieljurek opened #14333 "Package moniker supersedence"
Publishing a GA package should remove a superseded Preview package from the docs onboarding configuration.

e.g. Publish azure-core@1.0.0, Remove azure-core@1.0.0-beta.1 from the Preview moniker.

[2021-03-17 18:48] sima-zhu opened #14334 "Scanning all warnings for Doc.Ms OPS build report."
Needs to review the OPS build report and better to address this as much as possible.

[2021-03-17 18:55] sima-zhu opened #14335 "Scrub the "Other" section in the ToC in Doc.Ms site"
We currently have increased number of APIs fall into Other page. Better to scrub and provide some automation to clean them up.

[2021-03-17 18:57] sima-zhu opened #14336 "Add a CONTRIBUTING.md file to the docs repo"

[2021-03-17 19:44] deyaaeldeen opened #14340 "[EngSys] CI should be aware of perf tests"
When I make a change to a perf-tests package, CI will run the analyze step and tests for the SDK which does not make a lot of sense. Instead, I suggest to just run the build and analyze steps for the perf-tests package itself.

cc @mikeharder @ramya-rao-a @HarshaNalluru

[2021-03-17 19:54] maorleger commented on #14332
Thank you Deya! I have fixes for both this and #14331 and I'll open a PR shortly

[2021-03-17 19:55] HarshaNalluru commented on #14340
I had to add some code to the rush-runner [here #13770](https://github.com/Azure/azure-sdk-for-js/pull/13770/files?file-filters%5B%5D=.env&file-filters%5B%5D=.js&file-filters%5B%5D=.json&file-filters%5B%5D=.md&file-filters%5B%5D=.ts&file-filters%5B%5D=.yml#diff-b7cc02940fc84bca7c778c9dfcd5d13009003d67696910bfab1bd736fc5b78c6) to allow picking up perf test projects for `build`ing since they are 4 l

[2021-03-17 20:49] #14331 closed

[2021-03-17 20:49] #14332 closed

[2021-03-17 21:29] richardpark-msft commented on #11007
Thank you @nVitius  and @seanquijote, working on getting that updated.

[2021-03-17 21:35] vikrampraveen opened #14345 "[EventGrid] No system event mappings for `ChatThreadParticipantAdded` and `ChatThreadParticipantRemoved`"
- **Package Name**:
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
AcsChatParticipantAddedToThreadEvent/AcsChatP

[2021-03-17 21:37] sadasant opened #14346 "[Identity] Create a separate package for optional native components of @azure/identity"
In Identity, we would like to avoid adding any packages with native binaries as dependencies (not even peer or optional dependencies).

- [ ] `VisualStudioCodeCredential` depends on `keytar`, which uses native binaries to commmunicate with the platform credential manager.
- [ ] persistence through msal-node-extensions requires a native DPAPI component that is installed with the package. As Mike re

[2021-03-17 21:54] mikeharder commented on #14346
Making the dependency option doesn't help much, as explained in https://github.com/Azure/azure-sdk-for-js/issues/13950.  Instead, I think the `identity` package should be split into one or more packages, one with native dependencies and one without.

[2021-03-17 22:00] sadasant commented on #14346
@mikeharder that sounds about right. I've been thinking of two packages too!

[2021-03-17 22:34] deyaaeldeen commented on #13898
The hook is now gone so closing this.

[2021-03-17 22:34] #13898 closed

[2021-03-17 22:53] HarshaNalluru opened #14348 "AAD only supports bearer tokens, so you should never get a `token_type` other than Bearer."
AAD only supports bearer tokens, so you should never get a `token_type` other than Bearer.

_Originally posted by @witemple-msft in https://github.com/Azure/azure-sdk-for-js/pull/12759#discussion_r596396386_

[2021-03-17 23:02] HarshaNalluru opened #14349 "Replace the `scope` values in the recordings to suppress credscan warnings"
Example:
[code]

Scope value is not sensitive data, but replacing it with a common place holder value could help us in suppressing credscan warnings using regex pattern match.

_Originally posted by @jeremymeng in https://github.com/Azure/azure-sdk-for-js/pull/12759#discussion_r596434526_

Suppressing the credscan warnings will help us reduce the noise.
https://github.com/Azure/azure-sdk-for-js/pu

[2021-03-17 23:51] AlexGhiondea opened #14350 "Azure Container Registry for JavaScript (April 2021)"
This tracks the work for ACR for the April milestone

[2021-03-17 23:51] AlexGhiondea opened #14351 "Azure Container Registry for JavaScript (May 2021)"
This tracks the work for ACR for the May milestone

[2021-03-18 00:27] sadasant opened #14352 "[Recorder] Allow for the customization of outgoing requests, before they get matched"
While writing the Identity tests and talking with @schaabs about the limitations of the current recorder, it became clear that if the recorder allowed for altering outgoing requests before they get matched, we would be able to both sanitize the recordings with something as simple as dropping the whole body of outgoing requests, while also still allowing the playback behavior to match those outgoin

[2021-03-18 00:50] sadasant opened #14353 "[Identity] [Recorder] Sanitization of username and password"
For some reason, the recorder is sanitizing the environment variables for Azure usernames and passwords multiple times, causing the recordings to end up with things like: `azure_azure_usernamenamename=azure_azure_usernamename&azure_azure_password=azure_azure_password`.

These replacements should only be `azure_username` and `azure_password`.

This started to happen as part of: https://github.com/A

[2021-03-18 14:48] #11007 closed

[2021-03-18 16:56] maorleger commented on #14258
@HarshaNalluru sorry for the delay in replying. I wanted to investigate a bit more before updating and assumed it was specific to KeyVault (and not that interesting to others). It _is_ specific to KeyVault and how we set things up but I'll sync up with you offline to discuss what's the best way for me to handle.

[2021-03-18 17:12] ramya-rao-a commented on #14345
Hey @vikrampraveen

Can you share which package are you using here for Communication Chat?
This repo is for JS SDKs for Azure services.
Looking at the details you shared, it looks like you are using the .Net SDK in which case https://github.com/Azure/azure-sdk-for-net is the right place to log the issue

[2021-03-18 19:27] ramya-rao-a commented on #14312
While https://github.com/Azure/azure-sdk-for-js/pull/14358 skips the samples for this package from the smoke tests, let's re-use this issue to bring the samples back to the smoke tests with the right configuration

[2021-03-18 19:43] levimiller-qhrtech opened #14360 "Error: source was not of type VideoDeviceInfo"
- **@azure/communication-calling**:
- **^1.0.0-beta.9**:
- **Mac OS 10.15.7**:
- [ ] **nodejs**
    - **version**:
- [x] **browser**
    - **name/version**:  Chrome 89.0.4389.82
- [x] **typescript**
    - **version**: ~4.0.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Passi

[2021-03-18 20:46] Yonet opened #14362 "All of the Overview pages for Cognitive Services specific services are broken links."
**Suggestion:** we can have tests to make sure the links are going somewhere using [Microsoft Playright](https://github.com/microsoft/playwright?WT.mc_id=aiml-0000-ayyonet) or any other tool.
**Reproduce:**

- On the table of content, click [Cognitive Services](https://docs.microsoft.com/javascript/api/overview/azure/cognitive-services?view=azure-node-latest&WT.mc_id=aiml-0000-ayyonet) drop down
-

[2021-03-18 21:07] annelo-msft opened #14364 "ACR README file"
Create README for ACR for Preview 1

[2021-03-18 21:08] annelo-msft opened #14365 "Write Samples for ACR Preview 1"

[2021-03-18 22:19] chrnola commented on #14229
Apologies for accidentally closing. 🤦‍♂️ This issue is definitely still relevant.

[2021-03-18 22:22] sadasant opened #14367 "[Identity] Enable live tests"
With this PR: https://github.com/Azure/azure-sdk-for-js/pull/14064 Identity should be ready to have live tests enabled.

Here are some reasonable steps I can think of:

- [x] Make a live test pipeline for Identity.
- [x] Add the missing files required to run the live tests.
  - [x] One file will be the test-resources.json. Keep in mind that while we don't need resources, the account used for the l

[2021-03-18 22:31] sadasant opened #14368 "[Identity] Write mocked browser tests"
While we have manual browser tests, we should be able to write mocked tests for the browser credentials. This will help us a lot to catch unintended bugs.

[2021-03-18 22:55] #14272 closed

[2021-03-18 23:13] ramya-rao-a commented on #14362
Thanks for reporting @Yonet

@diberry Can you help updating this page?

[2021-03-18 23:16] ramya-rao-a commented on #14360
Thanks for reporting @levimiller-qhrtech

@0rland0Wats0n I don't see the `@azure/communication-calling` package in this repo. Is this part of the communication package your team owns?

[2021-03-18 23:20] sadasant opened #14372 "[Identity] [External] Remove the InMemoryCache"
As part of this PR: #14064 we're adding an `InMemoryCache` plugin to MSAL to enable silent authentication to work if no cache is provided. This cache plugin shouldn't be necessary. Sync with the MSAL team to make sure this is not necessary. One way to show that this is currently required is by removing the plugin from the MSAL configuration and running the internal tests for UsernamePasswordCreden

[2021-03-18 23:24] sadasant opened #14373 "[Identity] [External] MSAL silent flow shouldn't require manually reading from the cache"
As part of PR #14064 we're introducing a change that fixes `acquireTokenSilent` In some cases, this method doesn't work unless we first read from the cache with the following code:

[code]

This shouldn't be necessary.

At the date of this issue, the MSAL team is currently working on a sample that shows how this is fixed.

[2021-03-18 23:26] diberry commented on #14362
@Yonet Thank you for reporting the issue. #in-progress

[2021-03-18 23:27] sadasant opened #14374 "[Identity] [External] MSAL should support Node 8, or we should drop Node 8 support"
Neither MSAL nor msal-node-extensions are intended to work with Node 8:

- MSAL's engines section: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/package.json#L75
- msal-node-extensions engines section: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/extensions/msal-node-extensions/package.json#L21

Moreover, msal-node-extensio

[2021-03-18 23:31] sadasant opened #14375 "[Identity] MSAL should allow configuring polling interval"
MSAL has some authentication methods that call to the service after some sensible polling interval to confirm whether authentication has been finished or not. We are adding live and playback tests to our cycle as part of #14064. Since we're not able to control the interval time, our tests take several seconds to complete (a single test case can take 5 seconds at best). If MSAL allowed configuring

[2021-03-18 23:39] sadasant opened #14376 "[Identity] [External] MSAL should allow canceling DeviceCode authentications"
While the canceling option of the DeviceCode authentication method exists, we weren't able to use it. The MSAL team is aware and has made some updates here: https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/3229

Once that is resolved, please update our source code and resolve this issue.

[2021-03-18 23:43] sadasant opened #14377 "[Identity] [External] MSAL requires localAccountId only in JS"
MSAL currently requires localAccountId only in JS when one specifies an account through the configuration options. This value is returned from the account information we receive on the response objects. In .Net, this value is not returned on the response objects and not required.

As part of this PR #14064 I have made the workaround of re-using the homeAccountId to fulfill the localAccountId requi

[2021-03-18 23:50] sadasant opened #14379 "[Identity] Re-enable tests on OSX (Main Identity package)"
Currently, OSX tests are having an issue with the system password. These tests uses the system Keychain to authenticate. I am not sure how I'll solve this problem on CI yet. Are OSX tests not being executed on other languages?

---

Let's focus this task on re-enabling our main Identity package tests on OSX, I'll make a new issue to enable the extensions package on OSX.

[2021-03-19 00:15] sadasant opened #14381 "[Identity] [External] Availability of MSAL cache plugins"
As part of #14064, I'm determining whether a MSAL cache plugin is available by attempting a read. If the read throws, I fall back to storing the cache in a plain file, if the user has allowed this to be a possibility.

In .Net however, their cache plugins provide a specific method to confirm whether the persistence plugin is available. They call it `VerifyPersistence` and can be seen here: https:/

[2021-03-19 15:44] #11183 closed

[2021-03-19 17:33] richardpark-msft commented on #14329
Hi @Connor-Wood, I'll test this out and see if there are any ramifications but it seems straightforward enough.

[2021-03-19 19:15] sadasant commented on #14374
Also important:

It should be possible to install with Node 14, then reinstall with Node 15.

[2021-03-19 19:26] #14258 closed

[2021-03-19 20:07] richardpark-msft commented on #14212
@HarshaNalluru's working on a fix for a negative side of this - by not recovering we also don't notify the streaming or batching receivers that their connection has died (and thus their link is invalid).

Transferring to him.

[2021-03-19 20:27] #13626 closed

[2021-03-19 20:30] ramya-rao-a commented on #14161
Based on the error message, it looks like the error is coming from https://github.com/Azure/azure-sdk-for-js/blob/%40azure/event-hubs_5.4.0/sdk/eventhub/event-hubs/src/managementClient.ts#L428. This part of the code is reached only for the below operations on the producer or consumer client
- getEventHubProperties
- getPartitionIds
- getPartitionProperties

None of these should affect the consumin

[2021-03-19 20:39] southpolesteve opened #14389 "[Cosmos] Implement background refresh of endpoints"
When [we reimplemented failover one item ](https://github.com/Azure/azure-sdk-for-js/pull/6283)we skipped was background refresh of regional endpoints. Without this feature the SDK cannot recover automatically after an outage. The client must be reinitialized or the process rebooted.

Opening this issue to track work on implementing refresh. The initial plan is to match .NET behavior and async ref

[2021-03-19 20:43] ramya-rao-a commented on #13626
Warning note added to the readme in this repo in #14299 and the one on npm is updated as well: https://www.npmjs.com/package/@azure/graph

Thanks for reporting @Stono!

[2021-03-19 22:29] ramya-rao-a commented on #13733
cc @sharmasejal, @anthonyvercolano as requested

[2021-03-19 22:31] ramya-rao-a commented on #13814
cc @sharmasejal, @anthonyvercolano as requested

[2021-03-19 22:31] ramya-rao-a commented on #13295
cc @sharmasejal, @anthonyvercolano as requested

[2021-03-19 22:31] ramya-rao-a commented on #12729
cc @sharmasejal, @anthonyvercolano as requested

[2021-03-19 22:31] ramya-rao-a commented on #10989
cc @sharmasejal, @anthonyvercolano as requested

[2021-03-19 22:32] ramya-rao-a commented on #13586
cc @sharmasejal, @anthonyvercolano as requested

[2021-03-19 22:40] g2vinay opened #14396 "Update Identity README and MS Docs"
Identity README Changes:
- [x] Remove the part from intro that says "This library currently supports...." and ensure intro section looks like [this](https://github.com/g2vinay/azure-sdk-for-java/blob/update-identity-readme/sdk/identity/azure-identity/README.md#azure-identity-client-library-for-java).
- [x] Add Detailed Identity examples in the wiki for Identity Scenarios mentioned [here](https://g

[2021-03-19 23:18] #14329 closed

[2021-03-19 23:56] #14303 closed

[2021-03-20 04:40] aadamsx commented on #13281
I’m just going to use MongoDB (or CouchDB or others) via a service or running on a container.  Of course there are drivers for this in Deno.

As for Azure cloud storage, I’ve resorted to using AWS S3 as again there are Deno drivers.

In general I will have to move away from Azure, or at least not be as tightly coupled to it, in order to use my tool of choice, Deno.

[2021-03-20 16:23] khowling opened #14397 "Any plans for a Writable steam on AppendBlobClient"
I'd love a writable stream on the AppendBlobClient, as each block can be upto 4MiB in size.

Is this being considered?

Thanks

[2021-03-20 19:47] ramya-rao-a commented on #11404
The [eslint rule no-invalid-this](https://eslint.org/docs/rules/no-invalid-this) allows the use of `this` in a function if the function uses the `@this` tag in the jsdocs to denote what "this" refers to. Can we use this in our test files which is where we seem to have this rule being broken the most?

[2021-03-21 00:14] kktam commented on #14284
Yes, I am trying to upload a blob directly to a path already created inside the container using the .net method.

[2021-03-21 07:29] RazYahkovnia commented on #14161
Hi, sorry about the delay.  yes I'm getting the error from the `processError` handler, and yes its invoked continuously without any events coming in to our client, and yes on reset it was resolved until it happened again
The stack trace:
![image](https://user-images.githubusercontent.com/38473228/111897298-dc575280-8a27-11eb-83d0-db6bebb9a44d.png)

[2021-03-21 22:42] jmealo opened #14400 "Event Hub Producer Client: Documentation Improvements / Async Batch Creation Helpers"
- **Package Name**: event-hubs
- **Package Version**: latest
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**Describe the bug**

https://docs.microsoft.com/en-us/javascript/api/@azure/event-hubs/eventhubproducerclient?view=azure-node-latest

I think that the included examples could do more to ill

[2021-03-22 02:50] #12009 closed

[2021-03-22 12:08] mitchdenny commented on #11907
Looks like we can close this down since the postcreatecommand is configured and you are installing Rush. I am interested to know whether folks are actually using this? @HarshaNalluru, @deyaaeldeen, @xirzec

[2021-03-22 12:08] #11907 closed

[2021-03-22 16:48] ramya-rao-a commented on #13959
Closing issue as the fix is out in the latest update.
@dzabeu Please drop a comment if you see otherwise

[2021-03-22 16:48] #13959 closed

[2021-03-22 16:56] chradek commented on #14400
@jmealo Thanks for opening the issue, always appreciate your feedback :smile:

Just to be sure I follow, are you talking specifically about cases like event listeners where handlers will be called sequentially but won't wait for any non-blocking code (e.g. it won't await the handler) before calling the next handler?
If so, I could see this potentially causing issues with too many parallel batches

[2021-03-22 17:01] #10948 closed

[2021-03-22 17:01] #11182 closed

[2021-03-22 17:24] sadasant opened #14403 "[Identity] [External] Could MSAL binaries be compiled once and work even if we switch the Node version?"
Currently MSAL extensions use binaries that get compiled during the installation of the dependency. So that if we switch Node versions, these binaries fail. The error says that the binaries haven't been compiled for the Node version we're using. Our current fix for CI is to re-install the dependencies for Identity after switching Node versions. Would it be possible for MSAL to make it so changing

[2021-03-22 17:28] sadasant commented on #14403
An example of the errors I get when I switch from one Node version to another:

[code]

[2021-03-22 17:41] HarshaNalluru commented on #11907
@mitchdenny I have been using codespaces through VSCode for half of my regular dev work, it's super fast and has been great.

[2021-03-22 18:14] ellismg commented on #14345
This is related to EventGrid and how we handle system events.  Assigning to myself.

[2021-03-22 18:20] #11578 closed

[2021-03-22 18:20] #13921 closed

[2021-03-22 20:06] jeremymeng commented on #14284
@kktam you should be able to do that by naming your blob accordingly.

[code]

Is there an issue you are hitting?

[2021-03-22 20:19] mpodwysocki commented on #3729
@ztrange currently this is not supported in the existing azure-sb Node module.

[2021-03-22 20:27] mpodwysocki commented on #3730
@tony-gutierrez this is currently not supported as we only support simple string insertions. We will consider in the future to allow for richer content such as JSON objects.

[2021-03-22 20:58] jeremymeng commented on #13961
* #12759 - mask access_token in recorder instead of individual libs doing their own.

[2021-03-22 20:59] jeremymeng commented on #13961
- #12882 [Recorder] Add default set of replaceableVariables in the RecorderEnvSetup. This would be the common place to do replacement which makes it easier to suppress credscan warnings.

[2021-03-22 21:03] jeremymeng commented on #13961
- #14348 no-op token credential for record and playback so no need to save/replace credentials
- #14349 replace `scope` values too in recordings.  reduce varieties to make it easier to suppress credscan if there's need.

[2021-03-22 21:20] jeremymeng opened #14409 "[recorder] use a common recording replacement for username/password across all libraries"
We should have a common replacement of username/password in recordings, instead of each library comes up with their own.  Single location would make suppressing credscan warnings much easier.
- Placeholder key/secret in test src code. E.g password = "123".

[2021-03-22 21:36] mpodwysocki commented on #3733
@tony-gutierrez Cannot reproduce using the following code where you can add tags successfully to a registration without tags, and then add the tags at a later point.

[code]

Having a valid APNS device token, I got back the following in the results which has the first instance without tags, and then the second, I'm adding tags to the existing registration.  As you can see from the `tags` element i

[2021-03-22 21:49] JasonYeMSFT opened #14411 "Core-http mistaken xml response as json response when there is no 'content-type' header"
- **Package Name**: core-http
- **Package Version**: 1.2.3
- **Operating system**: N/A
- [x] **nodejs**
    - **version**: 12.16.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:

**Describe the bug**
When a response doesn't have the 'content-type' header, core-http by default parse it as an JSON object. However, this may be incorrect. If I have a premium GPV2 sto

[2021-03-22 21:57] sadasant opened #14412 "[Identity] [External] msal-node-extensions to upgrade KeyTar to 7.4.0"
msal-node-extensions depends on KeyTar 7.0.0, but KeyTar has released some updates that would improve the developer experience since then. The latest version available on KeyTar is 7.4.0.

External issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3333

[2021-03-22 21:57] sadasant commented on #14412
One of the reasons this will be useful is because of: https://github.com/atom/node-keytar/issues/317

[2021-03-22 22:40] ramya-rao-a commented on #3730
Closing this issue due to the service limitation. See more in https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-templates-cross-platform-push-messages#template-expression-language

[2021-03-22 22:40] #3730 closed

[2021-03-22 23:25] HarshaNalluru opened #14416 "[Recorder] Add a section in the readme about the things that get sanitized by default"
One less thing for me as a package owner to worry about 😄

Other than just knowledge / experience in our repo is there a place where things that get sanitized by default are defined? I'm thinking about future me that will likely forget that `access_token` is sanitized by default

_Originally posted by @maorleger in https://github.com/Azure/azure-sdk-for-js/pull/12759#r598987317_

[2021-03-22 23:39] #8844 closed

[2021-03-22 23:49] jeremymeng commented on #7752
Not important enough now since the fix make IE 11 scenario. working.

[2021-03-22 23:49] #7752 closed

[2021-03-23 00:01] sadasant opened #14420 "[Identity] Should we remove the overload on the DeviceCodeCredentialConstructor?"
Since all of the parameters are optional, should we remove the overload that has some of the parameters separated from the options bag?

[2021-03-23 00:38] sadasant opened #14421 "[Identity] Align getToken method to avoid returning null."
All of the Identity credentials should not have `null` in the possible return values. At this date, we have already made this change on some of the credentials. We should proceed and fix it across credentials. We should update also the code that is using getToken directly everywhere in our repo, in case they're testing for null values.

[2021-03-23 00:51] #11404 closed

[2021-03-23 01:21] jmealo commented on #14400
Thank you :D

Yes, exactly!

Yes, we hit this in production on a Friday afternoon in November while the new library was in customer preview. Once I isolated the issue, the break fix was to flush on a fixed interval so the "race condition" couldn't be encountered.

Yep, exactly, we have a service that exposes a `sendEvent` function. It's called from HTTP request handlers.

`AsyncBatchingProducer` i

[2021-03-23 01:23] jmealo commented on #14400
@chradek: `AsyncBatchingProducer` fits our use case perfectly, I can't say for sure if we would have found the correct example if we wrote this today or not. Based on how badly it'll blow up, I think some warnings about improper usage may be warranted. Your call.

[2021-03-23 01:36] ellismg commented on #13585
Coverage data is now being reported correctly, here's a screen shot from a recent run:

![image](https://user-images.githubusercontent.com/9602953/112079494-7d83fd00-8b3d-11eb-90e7-d2a5c97bf979.png)

[2021-03-23 01:36] #13585 closed

[2021-03-23 02:05] #7651 closed

[2021-03-23 02:05] #10334 closed

[2021-03-23 03:36] tony-gutierrez commented on #3733
It's been a long time, and perhaps the issue was corrected already. The only difference I can see from your example is that we were using template registration at the time, not native. We worked around it by added a trash tag at creation.

[2021-03-23 05:15] ramya-rao-a commented on #3733
Thanks for looping back @tony-gutierrez
Closing this issue as there is no further action item.

[2021-03-23 05:15] #3733 closed

[2021-03-23 07:52] EmmaZhu commented on #14293
@MRayermannMSFT,

I see your scenario. I need to think a way to fix this in JS.  Will update in this issue when got any progress.

Thanks
Emma

[2021-03-23 08:26] praveenkuttappan commented on #11148
Verified using @azure/template release pipeline to publish version 1.0.9-beta.798246 without changing tag:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=798246&view=logs&j=8a59aa26-f1cb-5dea-999b-76ab4b63e138&t=3aff0b02-11c2-52e1-59c8-fe61f5396ef2

[2021-03-23 12:31] Azbesciak opened #14429 "Which components should I use for custom image per machine scheduling?"
Hello, excuse me for this question but I cannot find any FAQ/use cases, etc, everything is a little bit scattered and not assigned to the single-use case.
So, could you please advise what components should I use?
I need to allow my users to execute their docker image (from custom repository also), on configured by him machine (one of some predefined is enough, on one or many if possible), and also

[2021-03-23 16:03] ramya-rao-a commented on #14429
@Azbesciak Are you looking for a general how-to or you are using one of the JS packages and want to learn more? If it is the latter, can you share the name of the packages you have tried so far?

@qiaozha Are you aware of any of the management plane packages that can help with the scenario here?

[2021-03-23 16:06] Azbesciak commented on #14429
Hi @ramya-rao-a , so far I have nothing, just looking for the place to start and what can be useful.

[2021-03-23 16:36] MRayermannMSFT commented on #14293
The scenario is setting and getting access policies which do not have a startsOn, expiresOn, or permissions defined. We (storage explorer) have customers who choose to do create and manage access policies that are like this.

[2021-03-23 17:06] annelo-msft opened #14431 "[recorder] Sanitize tokens in recorded tests for auth"
We'll need to sanitize token values in both headers and message bodies in our tests once.

In the .NET test framework, I needed to add:
- Sanitization for tokens in headers values
- Sanitization for tokens in message bodies

For message bodies, .NET did not support sanitization of `application/x-www-form-urlencoded` content types.  This needed to be added specially to the ACR-specific sanitizer.

[2021-03-23 17:44] sadasant opened #14435 "[Identity] Align with samples in other languages"
Other languages have specific samples that show recent features that we are currently adding to Identity, so we don't have these samples yet in our repo.

One place to look for is on the .Net samples folder: https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/identity/Azure.Identity

This is related to: https://github.com/Azure/azure-sdk-for-js/issues/13788

[2021-03-23 17:45] sadasant commented on #13788
I'll be counting on Maor for the following tasks:

- To align with C# and Python samples.
  - I've made an issue: https://github.com/Azure/azure-sdk-for-js/issues/14435
- To align with the Readmes in other languages.
  - Vinay already made a PR: https://github.com/Azure/azure-sdk-for-js/issues/14396
  - But, @maorleger keep in mind the "next steps" section and the champion scenarios, as Alex menti

[2021-03-23 18:09] HarshaNalluru commented on #14431
Thanks for the issue @annelo-msft.
Can you point me to the PR or the code that you have added to .NET test framework for reference?

[2021-03-23 18:24] annelo-msft commented on #14431
Sure!

Here is the PR: https://github.com/Azure/azure-sdk-for-net/pull/19696

You can see the `ContainerRegistryRecordedTestSanitizer` class I added for .NET here: https://github.com/Azure/azure-sdk-for-net/pull/19696/files?file-filters%5B%5D=.cs#diff-df9ae6fe8cf7eaf74104691a4fe7b2aeb4890d35aa6432ec4688154451429879R11

[2021-03-23 18:51] #14151 closed

[2021-03-23 19:00] HarshaNalluru opened #14437 "[Service Bus] Browser tests are not running"
![image](https://user-images.githubusercontent.com/10452642/112203022-4b22e000-8bcf-11eb-9fb0-d460636453fc.png)
Found this in one of my PR test runs.

[2021-03-23 19:09] sarangan12 commented on #14280
This issue was happening because of the existence of the production endpoint in the test case.  I have removed it with PR https://github.com/Azure/azure-sdk-for-js/pull/14426 which resolves this issue also.

[2021-03-23 19:09] #14280 closed

[2021-03-23 19:14] HarshaNalluru commented on #14437
Looks like #14384 missed required updates.
(Friendly tip: @KarishmaGhiya Please wait for more approvals if the PR is touching all the SDKs in the repo.)

[2021-03-23 19:14] KarishmaGhiya commented on #12343
As a crew, we thought that renaming the client to "anomaly" might make it be confused with the anomaly services. We choose to stick to the service naming. Will close this issue.

[2021-03-23 19:14] #12343 closed

[2021-03-23 19:29] jeremymeng commented on #14411
@ljian3377 @EmmaZhu could you please help check with service team on why content-type is not set for premium GPV2 storage account? Is it a bug in the service?

[2021-03-23 19:45] HarshaNalluru opened #14441 "[Service Bus] Disconnect test flakyness/failure (session "may be locked by another receiver")"
I had been looking into this particular test failure..
<img src="https://user-images.githubusercontent.com/10452642/111846448-14458500-88c4-11eb-9d86-5d1207f3c411.png" height=300>

![image](https://user-images.githubusercontent.com/10452642/111846472-20314700-88c4-11eb-92b8-48d9b86baced.png)

- The test "returns messages if drain is in progress" has some flakyness when tried to create a new receiv

[2021-03-23 19:50] HarshaNalluru commented on #14437
@KarishmaGhiya I'm keeping this issue open so that you can look into the rest of the packages in #14384 in case something's missing like the one for service-bus tests.

[2021-03-23 20:42] #14421 closed

[2021-03-23 21:08] #14345 closed

[2021-03-23 21:39] sadasant opened #14445 "[Identity] DefaultAzureCredential should use InteractiveBrowserCredential"
While reviewing the Identity package for JS, we realized that DefaultAzureCredential has different behaviors in JS and .Net. In .Net, if no credentials are available, it uses InteractiveBrowserCredential. We should align in JS!

Here's .Net's code: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs#L24

Keep in mind that in .Net they us

[2021-03-23 21:50] #8875 closed

[2021-03-23 22:39] ramya-rao-a commented on #14445
Have we checked with our friends over at Java and Python SDKs as well?

[2021-03-23 22:46] jeremymeng opened #14448 "[Core v2] incorrect replacement in path if the value contains query parameters"
in ACR we have an operation spec with path: "{nextLink}", and get an value like `/acr/v1/_catalog?last=library%2Falpine&n=2&orderby=` for the replacement

**Expect:**
url has path of `/acr/v1/_catalog?last=library%2Falpine&n=2&orderby=`

**Actual:**
the question mark is encoded to `/acr/v1/_catalog%3Flast=library%2Falpine&n=2&orderby=`, which leads to 404 errors.

[2021-03-23 22:46] sadasant commented on #14445
@ramya-rao-a Python also uses InteractiveBrowserCredential as the last credential:

https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/identity/azure-identity/azure/identity/_credentials/default.py#L123 they also have the `exclude_interactive_browser_credential` parameter.

[2021-03-23 22:46] sadasant commented on #14445
They have many "exclude" parameters! That's interesting.

[2021-03-23 22:49] jeremymeng commented on #14448
changing in `appendPath()` seems to make the scenario pass

[code]

[2021-03-23 22:49] ramya-rao-a opened #14449 "Readme title and description does not talk about the service in auto generated mgmt plane packages"
Taking Azure Compute as an example, the auto generated ARM package has the below title in the generated readme

And the below 1 line description

For someone landing on this readme either in this repo or on npm, there is no indication as to what this package is used for.

Can we extract these two lines from the readme file with metadata that accompanies the swagger files used to generate these pac

[2021-03-23 23:16] xirzec commented on #4918
Since we don't depend on node-fetch in corev2, exposing fetch options no longer makes sense.

[2021-03-23 23:16] #4918 closed

[2021-03-23 23:57] Mohit-Chakraborty commented on #13901
When submitting documents for indexing, we split batches on unique key of the documents, so that any exception from the service side can be correctly mapped and our document submission retry mechanism is stable. When designing a solution, we should aim to -
1. Try to fill the entire batch
2. Maintain the order of document submission

For .NET, we modified the batching algorithm via https://github.

[2021-03-24 00:30] jeremymeng commented on #13235
Fixed in #13192 too

[2021-03-24 00:30] #13235 closed

[2021-03-24 01:05] #14420 closed

[2021-03-24 02:55] EmmaZhu commented on #14397
Hi @khowling

From my understand, do you want a feature that we wrap AppendBlobClient into a WritableStream, when you write to the stream the SDK should upload the content to append blob?

Thanks
Emma

[2021-03-24 02:55] ramya-rao-a commented on #14445
All users of auto generated JS packages for both data plane and mgmt plane packages so far have been using the Device Code auth as the getting started experience. This can be seen in the code snippet in the generated readme of these files.

But I can see how InteractiveBrowserCredential can be a smoother experience given that I dont have to click on a url and copy paste in the code.

So, what woul

[2021-03-24 06:43] sadasant commented on #14445
@ramya-rao-a The only advantage of DeviceCodeCredential over InteractiveBrowserCredential is that DeviceCode doesn't need a browser, thus can be used in applications without graphical server or browsers. Let's say somebody deploys a project with Identity in a Heroku instance, they could see the logs and authenticate the remote app manually even though they might have nothing in the environment to

[2021-03-24 10:33] qiaozha commented on #14429
@Azbesciak Do you mean shared image then users can use that shared image to create docker or vm etc?

[2021-03-24 10:40] Azbesciak commented on #14429
Users will be allowed to only use previously predefined images, but I need to pass a config for them via configuration files (some external, application-specific)

[2021-03-24 18:03] #13590 closed

[2021-03-24 19:34] ramya-rao-a opened #14457 "Reference docs for Communication packages not updated"
Follow this link to [ref docs for communication packages that are in preview](https://docs.microsoft.com/en-us/javascript/api/overview/azure/communication?view=azure-node-preview)

![image](https://user-images.githubusercontent.com/16890566/112372361-ecc43300-8c9c-11eb-95f7-36ed5833a5b6.png)

Issues
- Even though the packages `@azure/communication-phone-numbers` and `@azure/communication-identity`

[2021-03-24 19:42] ramya-rao-a commented on #14445
This is an area where we should definitely align across languages so that expectation from DefaultAzureCredential is same for a customer when they move from one language to another. Please share an update after discussing with the rest of the Identity feature crew!

[2021-03-24 19:48] ramya-rao-a commented on #13465
https://github.com/Azure/azure-sdk-for-js/pull/13800 has the changes needed to remove our dependency on express which is now in the master branch and will ship as part of our 2.0.0-beta.1 update.

It is worth shipping a v1 update with this change as v2 is not GA yet and it may take some time for people to take in a major version update.

Re-opening this issue to port the fix to v1

[2021-03-24 22:30] donaldduy-lb commented on #14214
@zfoster Hi Zachary, just wondering if there has been any progress on this issue?

[2021-03-24 22:41] richardpark-msft commented on #1251
CC: @chradek

[2021-03-24 22:56] witemple-msft opened #14463 "[anomalydetector] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the anomalydetector folder to the new layout:
- [ ] ai-anomaly-detector

There

[2021-03-24 22:56] witemple-msft opened #14464 "[appconfiguration] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the appconfiguration folder to the new layout:
- [ ] app-configuration

There a

[2021-03-24 22:56] witemple-msft opened #14465 "[attestation] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the attestation folder to the new layout:
- [x] attestation

There are a few th

[2021-03-24 22:56] witemple-msft opened #14466 "[communication] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the communication folder to the new layout:
- [x] ~~communication-administratio

[2021-03-24 22:56] witemple-msft opened #14467 "[containerregistry] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the containerregistry folder to the new layout:
- [ ] container-registry

There

[2021-03-24 22:57] witemple-msft opened #14468 "[cosmosdb] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the cosmosdb folder to the new layout:
- [ ] cosmos

There are a few things to

[2021-03-24 22:57] witemple-msft opened #14469 "[deviceupdate] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the deviceupdate folder to the new layout:
- [ ] iot-device-update

There are a

[2021-03-24 22:57] witemple-msft opened #14470 "[digitaltwins] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the digitaltwins folder to the new layout:
- [ ] digital-twins-core

There are

[2021-03-24 22:57] witemple-msft opened #14471 "[eventgrid] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the eventgrid folder to the new layout:
- [ ] eventgrid

There are a few things

[2021-03-24 22:57] witemple-msft opened #14472 "[eventhub] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the eventhub folder to the new layout:
- [ ] event-hubs
- [ ] eventhubs-checkpo

[2021-03-24 22:57] witemple-msft opened #14473 "[formrecognizer] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the formrecognizer folder to the new layout:
- [ ] ai-form-recognizer

There ar

[2021-03-24 22:57] witemple-msft opened #14474 "[identity] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the identity folder to the new layout:
- [ ] identity

There are a few things t

[2021-03-24 22:57] witemple-msft opened #14475 "[keyvault] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the keyvault folder to the new layout:
- [ ] keyvault-admin
- [ ] keyvault-cert

[2021-03-24 22:57] witemple-msft opened #14476 "[metricsadvisor] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the metricsadvisor folder to the new layout:
- [ ] ai-metrics-advisor

There ar

[2021-03-24 22:57] witemple-msft opened #14477 "[mixedreality] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the mixedreality folder to the new layout:
- [ ] mixedreality-authentication

T

[2021-03-24 22:57] witemple-msft opened #14478 "[monitor] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the monitor folder to the new layout:
- [ ] monitor-opentelemetry-exporter

The

[2021-03-24 22:57] witemple-msft opened #14479 "[quantum] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the quantum folder to the new layout:
- [ ] quantum-jobs

There are a few thing

[2021-03-24 22:57] witemple-msft opened #14480 "[schemaregistry] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the schemaregistry folder to the new layout:
- [ ] schema-registry
- [ ] schema

[2021-03-24 22:57] witemple-msft opened #14481 "[search] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the search folder to the new layout:
- [ ] search-documents

There are a few th

[2021-03-24 22:58] witemple-msft opened #14482 "[servicebus] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the servicebus folder to the new layout:
- [ ] service-bus

There are a few thi

[2021-03-24 22:58] witemple-msft opened #14483 "[storage] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the storage folder to the new layout:
- [ ] storage-blob
- [ ] storage-blob-cha

[2021-03-24 22:58] witemple-msft opened #14484 "[synapse] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the synapse folder to the new layout. **However**, it does not appear that ther

[2021-03-24 22:58] witemple-msft opened #14485 "[tables] Migrate to Samples Workflow V2"
**This issue is part of the Azure SDK for JavaScript sample quality effort.**

The new sample tool (`dev-tool samples publish`) has been made available to all package maintainers, and we would like to migrate all packages to the new system.

## What do I need to do?

This issue is to track migrating all packages within the tables folder to the new layout:
- [ ] data-tables

There are a few things

[2021-03-24 23:01] richardpark-msft commented on #13838
I believe @ramya-rao-a  merged a fix into rhea-promise that should make this easier (or maybe zero work).

[2021-03-24 23:12] HarshaNalluru commented on #14349
I guess.. since this is part of the request body instead of the response, masking the scope through the recorder would result in not responding for the request during playback.

We(@sadasant) are thinking of other approaches such as modifying the requests before being sent during playback for some other issues. - This can potentially be handled when that is implemented in the recorder.

_[Talked o

[2021-03-25 04:18] ramya-rao-a commented on #13838
There are 2 places where the error message needs to be updated in event hubs other than releasing rhea-promise and using the latest version. I can pick that up

[2021-03-25 04:30] ramya-rao-a commented on #13387
@KarishmaGhiya As discussed last week, looks like we missed communication packages when doing this review. Re-opening this issue so that we do one more round of review of all the packages that use rush

[2021-03-25 04:48] qiaozha commented on #14429
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-intro Maybe this is what you are looking for ?

[2021-03-25 06:43] andrewcourtice opened #14496 "NODE_DEBUG is undefined in bundled env that doesn't support node shimming (eg. Vite)"
[code]

**Describe the bug**
The `NODE_DEBUG` global is undefined when using a bundler such as Vite which doesn't support node shimming. A repo with a reproduction of the error is available [here](https://github.com/andrewcourtice/vite-process-error).

This issue was originally raised in the Vite repository but I have been advised that the issue is related to how `@azure/event-hubs` is bundled. Se

[2021-03-25 07:55] doron-au10tix opened #14499 "@azure/eventhub error: "err is a required parameter and must be of type 'object'""
Hi,

Receieved this error from the @azure/eventhub package. Writing the error stack:

`Error: err is a required parameter and must be of type 'object'.\n    at Object.isAmqpError (/src/node_modules/rhea-promise/dist/lib/util/utils.js:83:15)\n    at isAmqpError (/src/node_modules/@azure/core-amqp/dist/index.js:873:24)\n    at Object.translate (/src/node_modules/@azure/core-amqp/dist/index.js:803:9)

[2021-03-25 09:18] qiaozha commented on #14449
Actually. I have the same issues in Azure CLI generation.

Currently, there seems no probably information in the swagger that we can directly use for an overall description of what that service is about.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/cloudService.json#L5 There's is a description in here, but 1. n

[2021-03-25 10:08] Azbesciak commented on #14429
@qiaozha Maybe, I noticed that there is something in azure's docker page/and CLI to push the containers.
But for first, I need some JS components which allow to communicate with azure API, list available containers (at least) etc.

[2021-03-25 10:36] qiaozha commented on #14429
https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/containerinstance/arm-containerinstance
https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/containerregistry/arm-containerregistry
You can take a look at these two see if it works for you

[2021-03-25 14:25] RazYahkovnia commented on #14161
Hi,

Anyone got the change to check it out? @ramya-rao-a , @chradek

[2021-03-25 15:55] #12768 closed

[2021-03-25 16:59] #14187 closed

[2021-03-25 17:23] DominikMe commented on #14360
@akania Can you take this?

[2021-03-25 17:38] sadasant opened #14502 "[Identity] Do we need PersistentCredentialOptions?"
`PersistentCredentialOptions` intends to represent the common properties for all the credentials that support persistence. It has only one property for now. Is it likely that we'll be adding more persistence-specific options? If not, we should remove it. cc: @schaabs

[2021-03-25 17:57] #13997 closed

[2021-03-25 18:03] ramya-rao-a commented on #14302
@qiaozha, Can we close this?

[2021-03-25 18:15] ramya-rao-a commented on #9814
Turns out that we do indeed have an exclude list, but this now puts the responsibility on every new package that gets onboarded to rush to add itself to the exclude list.

Instead, we should have an include list where we include all the `@azure/arm-*` packages along with the handful data plane packages that use the Track 1 code gen.

Another way to do this is to identify all the packages that are

[2021-03-25 18:18] ramya-rao-a commented on #11240
Are we planning to have only scheduled runs of this or run this in PRs that touch the plugin project or both?

[2021-03-25 18:22] deyaaeldeen commented on #11240
My vote is for both if possible. If not, I would vote for running in the plugin PRs as the priority.

[2021-03-25 18:25] #14302 closed

[2021-03-25 18:26] praveenkuttappan commented on #14367
resource deployment json file needs to be prepared and merged before we can create live test.

[2021-03-25 18:28] ramya-rao-a commented on #11240
Each package's scheduled daily run will be running the lint step for itself. So, am wondering the benefits of having a scheduled run here.

[2021-03-25 18:47] deyaaeldeen commented on #11240
@ramya-rao-a good point but maybe it is worth it for things that do not have nightly runs? perhaps internal packages?

[2021-03-25 18:51] ramya-rao-a commented on #11240
Can we not rely on the PR CI of the internal packages instead?

[2021-03-25 18:54] deyaaeldeen commented on #11240
I am fine with that.

[2021-03-25 18:56] praveenkuttappan commented on #14304
@HarshaNalluru : Can we skip all projects in `@azure-tests` org from gulp pack script in management pipeline?

[2021-03-25 19:02] furmangg commented on #13785
It looks like @azure/synapse-access-control points at the GA *.dev.azuresynapse.net/rbac APIs like
https://docs.microsoft.com/en-us/rest/api/synapse/data-plane/getroledefinitions/getroledefinitions

Attempting to create a role assignment with a new preview role (like the new Synapse Contributor role) fails currently:
await client.createRoleAssignment({
      roleId: '7572bffe-f453-4b66-912a-46cc5e

[2021-03-25 19:37] HarshaNalluru commented on #14304
Yes, @praveenkuttappan. That should be enough.

[2021-03-25 20:25] #13994 closed

[2021-03-25 21:20] kurtzeborn commented on #4969
Not sure these changes were necessary.  I did some of this, but this issue is old and we seem to have a good system in place now.  No need to change things.  Closing this issue.

[2021-03-25 21:20] #4969 closed

[2021-03-25 21:37] #14274 closed

[2021-03-25 22:19] chradek commented on #14496
@andrewcourtice
Thanks for logging this issue and providing a repro case! I'll work on reproducing this on my side; `Vite` is a new bundler to me.

[2021-03-25 22:25] HarshaNalluru opened #14520 "[App Config] Looks like App Config has unintended exports in the docs"
![image](https://user-images.githubusercontent.com/10452642/112551445-3e90ba00-8d7e-11eb-96eb-617acd16f3ae.png)
Add `@internal/@hidden` tags wherever needed to fix the issue.

[2021-03-25 22:27] witemple-msft commented on #12729
I'm going to leave this issue open for now, but it has been superseded by #14470. There is a new samples workflow enabled in the repo, so whatever action we decide to take on this package (whether it's removing the existing sample set or rewriting them in TypeScript), it should be done with the migration to Samples V2 in mind.

[2021-03-25 22:34] witemple-msft commented on #14470
This issue supersedes #12729. digital-twins-core has some samples in the repo that are only written to JavaScript. Compatibility with Samples V2 requires that samples be written in TypeScript.

The action for digitaltwins here is to:

1. Decide whether or not digital-twins-core should have sample programs (is this a user facing package that customers are expected to interact with directly?)
2. If

[2021-03-25 22:38] #12729 closed

[2021-03-25 22:55] andrewcourtice commented on #14496
@chradek Thanks 😄

[2021-03-25 22:57] sadasant commented on #14376
MSAL has a PR here fixing the issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/3229

[2021-03-26 01:18] HarshaNalluru opened #14531 "[Service Bus] Update sessions streaming receiver samples to show the handling of disconnects"
We recently had updates related to the disconnects for sessions.
This issue is to track the work required to update the sessions streaming receiver samples to show the handling of disconnects.

[2021-03-26 03:08] chradek commented on #14499
@doron-au10tix Thanks for opening this issue!

I've created #14534 so that the SDK can handle unexpected thrown values.

Do you have any additional info about this specific case you're seeing? Are you able to reproduce it, and/or do you have logging enabled? While the linked PR will allow the SDK to handle the error you're seeing more gracefully, I'm very curious what is being thrown.

[2021-03-26 03:24] sarangan12 commented on #13900
Task Completed with these PRs:

1. https://github.com/Azure/azure-sdk-for-js/pull/14426
2. https://github.com/Azure/azure-sdk-for-js/pull/14072

[2021-03-26 03:24] #13900 closed

[2021-03-26 03:28] sarangan12 commented on #12962
I have included this code change for April Release. Once the PR is merged, I will close this issue.

[2021-03-26 03:38] sarangan12 commented on #14003
I have included the code changes for April Release. I will close this issue once the PR is merged

[2021-03-26 04:15] sarangan12 commented on #14165
@ramya-rao-a Yes. This link has been fixed already. This link was fixed with the PR: https://github.com/Azure/azure-sdk-for-js/pull/13878 on February 19, 2021. The last release happened on February 16, 2021. That is the reason it has not reflected in the npmjs.com This will be resolved with the April release of Search Documents.

No pending action items on this issue. Closing it.

[2021-03-26 04:15] #14165 closed

[2021-03-26 05:09] bdelville opened #14535 "The topic receiver silently failed. isClosed does not reflect"
- **@azure/service-bus**: 7.0.3
- **Operating system**: Alpine Linux
- **nodejs**: 12.16.3

**Describe the bug**
The topic receiver silently failed. Then calling isClosed does not return a disconnected status

**To Reproduce**
Steps to reproduce the behavior:

Hard to reproduce as it happened without anything special after running for 16 days on Kubernetes.
Actually running with full Azure logs ac

[2021-03-26 07:57] Azbesciak commented on #14429
@qiaozha ok, this allows me to get to know about available containers, but what with scheduling work to some specific machine type (with defined by user parameters/chosen from a list), get pricing and final cost? I would also finally get a result from the container.

[2021-03-26 09:54] hartwig-wutscher-ibm opened #14539 "autoDeleteOnIdle cannot be set on queue creation when also setting a dead letter forward"
- **Package Name**:  @azure/service-bus
- **Package Version**: 7.0.3
- **Operating system**: linux
- [x] **nodejs**
    - **version**: v12.21.0
- [x] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.7.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug*

[2021-03-26 13:21] zfoster commented on #14214
hey @donaldduy-lb, still looking, I should have an update soon

[2021-03-26 14:13] prashanthmadduri opened #14543 "getProperties of ContainerClient class with condition leaseId as invalid value is returning results instead error"
- **Package Name**:  @azure/storage-blob, @azure/identity
- **Package Version**:  12.3.0, 1.2.0
- **Operating system**: Windows 10
- [X] **nodejs**
    - **version**:  v12.16.3
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 1.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [X] SDK API docs on https://docs.m

[2021-03-26 15:39] kktam commented on #14284
@jeremymeng  the code snippet is correct. I am now able to load a file directly inside a folder now. Thanks.

[2021-03-26 15:41] #14372 closed

[2021-03-26 15:41] #14373 closed

[2021-03-26 16:27] jeremymeng commented on #14284
@kktam Glad to know that it is working for you! I am closing this.  Please open new issues if you have any other feedback.

[2021-03-26 16:27] #14284 closed

[2021-03-26 17:03] #14499 closed

[2021-03-26 18:11] #13838 closed

[2021-03-26 18:34] AlexGhiondea opened #14548 "App Configuration for JavaScript (April 2021)"
This tracks the work in the April milestone

[2021-03-26 18:35] AlexGhiondea opened #14549 "App Configuration for JavaScript (May 2021)"
This tracks the work in the May milestone

[2021-03-26 18:35] HarshaNalluru commented on #13980
https://github.com/Azure/azure-sdk-for-js/pull/14507

[2021-03-26 18:35] AlexGhiondea opened #14550 "Consistency API Review"
This tracks the work in the April milestone

[2021-03-26 18:49] chradek commented on #14496
@andrewcourtice
It looks like our dependency `rhea` requires some shims to work in the browser, so we'll need to push updates to that before we can fully resolve the issue you're seeing.

That said, I was able to come up with a workaround for your sample by creating a shims file and importing it in your `index.ts`.

Here's what it looks like:
`npm install --save buffer process`
__src/shims.ts__
[c

[2021-03-26 20:10] HarshaNalluru opened #14553 "[Service Bus] Compare/investigate send perf among v1 and v7 libraries"
Without using sendBatch API, with a single sender
- V7 is sightly faster than V1 for large messages at all levels of concurrency
- V7 is 5-6 fold faster than V1 for all the medium-sized messages(order of KB) at high levels of concurrency.
- At lower levels of concurrency for the medium-sized messages(order of KB), V1 is better than V7, investigate why? and see if it can be improved?

[2021-03-26 20:32] sadasant commented on #13465
I've released a hotfix that includes this change: https://github.com/Azure/azure-sdk-for-js/pull/14521 I'll close this!

[2021-03-26 20:32] #13465 closed

[2021-03-26 20:33] sadasant commented on #6769
The PR is merged so I'm making those two items as done.

[2021-03-26 20:47] praveenkuttappan commented on #11240
PR pipeline is created for ESLint
https://dev.azure.com/azure-sdk/public/_build?definitionId=2490&_a=summary

[2021-03-26 20:47] #11240 closed

[2021-03-26 20:48] #11148 closed

[2021-03-26 21:39] sadasant commented on #14445
After we talked internally, we decided not to add `DeviceCodeCredential` to the `DefaultAzureCredential` pool. We will nonetheless add `InteractiveBrowserCredential`, and align with the optional parameters.

[2021-03-26 21:46] schaabs commented on #14248
We don't plan to add this to JS, the `SharedTokenCacheCredential` actually has some fairly fundamental issues which is why we have removed it from the `DefaultAzureCredential` authentication flow by default, and we're not recommending it's use.

[2021-03-26 21:46] #14248 closed

[2021-03-26 21:47] sadasant commented on #14248
@schaabs Thank you for the update!

[2021-03-27 00:35] ramya-rao-a commented on #13103
Update: We have removed the dependency on express in https://github.com/Azure/azure-sdk-for-js/pull/14521 and the version 1.2.5 of the `@azure/identity` package has these changes

Thanks for reporting @chattersley!

[2021-03-27 19:27] abdou89 commented on #4983
Hello team !
is there a fix to the CORS error yet ? i'm currently working on a app that uses the service bus sdk and make calls from the browser but i'm stuck on this , disabling web security is not an option for me  ..thanks !

[2021-03-29 03:21] nickzhums commented on #14429
have you looked at :
https://docs.microsoft.com/en-us/azure/cost-management-billing/cost-management-billing-overview?

[2021-03-29 03:24] nickzhums commented on #14429
@Azbesciak Also please note that we are not experts on this matter, since we are mostly focused on the SDK. If you need further guidance on which Azure product can achieve your scenario, I believe it'd better to talk to a specialist : https://azure.microsoft.com/en-us/overview/contact-azure-sales/

[2021-03-29 06:19] njbraun commented on #13281
It would be great to use this with something like skypack.

For an example, create a new file that looks like:

[code]

Running that yields 39 TS errors that all look like:

[code]

[2021-03-29 07:38] zzhxiaofeng opened #14572 "Azure Communication Services for Chat Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/communication/communication-chat#create-a-thread-with-two-users)
![Screenshot 2021-03-29 150831](https://user-images.githubusercontent.com/20970631/112799842-790d9600-90a1-11eb-8622-74febc3caadb.png)
Reason:
Wrong variable name.

suggestion:
Update to `createChatThreadResult`.

2.
Section [link](https://github.com/Azure/az

[2021-03-29 07:56] zzhxiaofeng opened #14573 "Azure Event Grid Sample Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventgrid/eventgrid/samples/javascript/src/sendCloudEvent.js),[link2](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventgrid/eventgrid/samples/typescript/src/sendCloudEvent.ts)
![GetImage (15)](https://user-images.githubusercontent.com/20970631/112803485-e9b6b180-90a5-11eb-82e8-f2071fb7617b.png)
Reason:
Accor

[2021-03-29 09:41] Azbesciak commented on #14429
@nickzhums I suppose 'from the surface' I did but I am looking, in all cases, SDK components that would allow me to access this, no UI etc.

[2021-03-29 11:50] EmmaZhu commented on #14543
Hi @prashanthmadduri

A lease on a container only blocks delete operation without lease id, it doesn't block get operation.

Please reference to document [here ](https://docs.microsoft.com/en-us/rest/api/storageservices/lease-container#remarks)for details.

Thanks
Emma

[2021-03-29 17:06] sadasant commented on #14445
Here's the summary of what we talked internally:

- `InteractiveBrowserCredential` offers a better experience for new users than `DeviceCodeCredential`.
- People deploying to an environment without a browser would probably not mind to use `DeviceCodeCredential` directly.
- This means that if we were to add any of these two to `DefaultAzureCredential`, we would add `InteractiveBrowserCredential`.
-

[2021-03-29 17:09] #11589 closed

[2021-03-29 17:23] AlexGhiondea opened #14577 "Add support for semantic search"
This tracks the work to expose the semantic search in our library

[2021-03-29 17:31] maorleger commented on #13313
@heaths I am going to close this and append the above task to #13598 since it was done already

[2021-03-29 17:31] #13313 closed

[2021-03-29 17:48] maorleger opened #14578 "May release of Key Vault for JavaScript"
## Tasks

- [x] Performance tests
- [ ] Archboard API review for upcoming GA

[2021-03-29 17:49] maorleger commented on #13598
Perf tests and archboard review are both in progress, tracked in #14578

[2021-03-29 19:23] zfoster commented on #14214
hey @donaldduy-lb, are you able to try using the new bulk apis on container? I'm going to work on reproducing this but I suspect this may be an issue with stored procedures. Here's a simple sample: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/samples/Bulk.ts

[2021-03-29 19:34] praveenkuttappan commented on #13837
We have upgraded rush version to 5.40.7 without any issues.

[2021-03-29 19:34] #13837 closed

[2021-03-29 19:34] sadasant opened #14581 "[Identity] Upgrade all of our packages to to use 2.0.1 of @azure/identity"
Richard Park started doing this in his PR. I'm aware that there's a circular dependency issue that I was able to spot due to storage-blob. This is about doing `rush add -p @azure/identity@2.0.1--make-consistent` in one of the packages that depends on identity and to fix any issues that might arise.

There are some issues that we're aware of that need to be resolved per package:

- `tenantId` now c

[2021-03-29 19:44] ellismg commented on #14573
Will fix this as part of the samples refactoring I am doing to move us to V2.

[2021-03-29 19:50] sadasant opened #14582 "[Identity] Implement AzurePowerShellCredential and add to DefaultAzureCredential chain"
This new credential should be easy to implement. We should first investigate if it's not easy to implement and inform the team. `DefaultAzureCredential` will need the option: `useLegacyPowerShell` to enable this credential. This credential should be used before `InteractiveBrowserCredential`. Some useful links:

- .Net's API refrence: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/iden

[2021-03-29 19:55] sadasant opened #14583 "[Identity] UsernamePasswordCredential API alignment"
Remove `authenticationRecord` and `disableAutomaticAuthentication` from the optional parameters to this credential.

While MSAL does support this, allowing `authenticationRecord` arguably could result in users authenticating through an account other than the one they're specifying with the username and the password.

[2021-03-29 20:01] sadasant opened #14584 "[Identity] AuthenticationRecord API alignment"
To align with other languages:

- [ ] Add `clientId` alongside the `tenantId` that this interface already has.
    - Although we won't make use of `clientId` in our current implementation of this feature (in neither language), it could be useful in the future.
- [ ] Make serialize and deserialize both top level methods.
    - We already have deserializeAuthenticationRecord.
- [ ] Serialize's forma

[2021-03-29 20:04] sadasant opened #14585 "[Identity] AuthenticationRequired API alignment"
To align with other languages, add properties `scopes` and `getTokenOptions` to this error.

[2021-03-29 20:59] sadasant opened #14588 "[Identity] MSAL should support Node 15"
Currently, MSAL doesn't support Node 15. This issue is to track our request for them to support Node 15. I'll be making an issue on their repo later today.

External issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3334

[2021-03-29 21:08] maorleger opened #14589 "[KeyVault] - Add support for testing multiple service versions in KeyVault Keys"
This issue tracks the efforts to test all our supported service versions.

KeyVault currently supports 7.0, 7.1, and 7.2

[2021-03-29 21:25] heaths opened #14590 "Retrying failed initial Key Vault request may result in empty body"
In the following code, if a policy further down the chain were to throw, the body would not be restored. The retry policy would then re-attempt authentication, but then the previously-emptied body would be cached, such that the original body is never sent.

I found this during live tests for .NET and opened Azure/azure-sdk-for-net#19916 as result.

https://github.com/Azure/azure-sdk-for-js/blob/71

[2021-03-29 22:45] donaldduy-lb commented on #14214
@zfoster Thanks for bringing this to my attention! I'm also suspecting the issue lies with the stored procedure, I'll give the API a shot and update you shortly

[2021-03-29 22:46] sadasant commented on #14403
External issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3332

[2021-03-29 22:57] #14134 closed

[2021-03-29 23:09] sadasant commented on #14412
External issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3333

[2021-03-29 23:17] #14471 closed

[2021-03-29 23:17] #14573 closed

[2021-03-29 23:18] sadasant commented on #14588
External issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3334

[2021-03-29 23:26] richardpark-msft commented on #13573
Okay, this is now complete with #14208 having been merged in. Closing.

OpenTelemetry is obviously approaching GA, so I'll create another issue to track that upgrade when it comes in.

[2021-03-29 23:26] ramya-rao-a commented on #13324
Closing as we no longer have any service related docs under the Other node

[2021-03-29 23:26] #13324 closed

[2021-03-29 23:27] richardpark-msft opened #14596 "[telemetry] Upgrade to opentelemetry/api 1.0.0 GA"
This issue just tracks the work to upgrade to opentelemetry/api@1.0.0 GA when it releases.

We've very recently completed the upgrade to 1.0.0-rc.0, and hope that future updates will be less disruptive and simple.

[2021-03-29 23:28] #13573 closed

[2021-03-29 23:29] #13172 closed

[2021-03-29 23:30] ellismg commented on #13454
I reviewed all the usages of `@internal` and and `@hidden` and confirmed that they follow these guidelines.

[2021-03-29 23:30] #13454 closed

[2021-03-29 23:31] sadasant commented on #14381
External issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3335

[2021-03-29 23:31] #13766 closed

[2021-03-29 23:32] joheredi commented on #14469
Assigning to @dpokluda who owns this package

[2021-03-29 23:38] #13903 closed

[2021-03-29 23:52] sadasant commented on #14377
External issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3336

[2021-03-30 00:03] sadasant commented on #14374
External issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3337

[2021-03-30 00:08] danieljurek opened #14597 "Docs onboarding automation"
In the `<lang> - docindex` pipeline:

1. Add a script in eng/scripts/ that reads the language-specific package .csv file ([example](https://github.com/Azure/azure-sdk/blob/master/_data/releases/latest/java-packages.csv))
2. Generates the appropriate onboarding outputs (package.json, latest.csv, etc.) for the language
3. Opens a PR against the docs repo with the updated onboarding artifact.

[2021-03-30 00:13] sadasant commented on #14375
External issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3338

[2021-03-30 00:21] donaldduy-lb commented on #14214
Hey @zfoster, quick question. When using `bulk`, is a rollback performed on the database if any of the operations fail?

[2021-03-30 00:47] #13813 closed

[2021-03-30 06:30] HarshaNalluru commented on #9850
Moving the PR #12570 that attempted to add the duration support to a branch as suggested by @ramya-rao-a

https://github.com/Azure/azure-sdk-for-js/tree/harshan/sb%2Fissue-9850%2Ffilter-interop

[2021-03-30 06:35] HarshaNalluru commented on #9912
Interesting findings from #10053
 ![image](https://user-images.githubusercontent.com/10452642/89228263-23c1c900-d594-11ea-995c-37fe02ee57f3.png)
In the failed instances, one of the sequence numbers from the returned messages is off by a small value.
Since this happens only on macOS, I'm wondering if the `Long` library is not working as expected in macOS.

[2021-03-30 07:17] HarshaNalluru opened #14601 "[Perf Framework] Unit tests for perf framework"
Unit tests of the perf framework were stale
- fix the test failures
- make sure they are up-to-date
- add a unit-test step for the CI possibly

[2021-03-30 07:38] HarshaNalluru opened #14602 "[Storage][Recordings] Regenerate recordings - follow-up of #12759"
### Masking access tokens
https://github.com/Azure/azure-sdk-for-js/pull/12759 masks access tokens in the recordings through the recorder rather than expecting users to provide it through the custom config `customizationsOnRecordings` from `RecorderEnvironmentSetup`. [#12759](https://github.com/Azure/azure-sdk-for-js/pull/12759)
  With this change, users don't have to add callbacks(to mask `access

[2021-03-30 09:50] hilfor opened #14606 "Receiving "Too much pending tasks" error when we use the event-hubs library to process messages"
- **Package Name**: @azure/event-hubs
- **Package Version**: 5.4.0
- **Operating system**: Linux container
- [X] **nodejs**
    - **version**: 14.16.0
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 3.9.9
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe t

[2021-03-30 12:08] sadasant opened #14607 "[Identity] Test all the credentials on Node 8"
Since rush and pnpm don't work on Node 8, and the only way to test Node 8 is to install things on another node and switch back, I hardly ever test things on Node 8. I was by mistake on Node 8 when I ran a script with `InteractiveBrowserCredential` when I realized that the Node version of this credential fails. It fails because `URL` is not defined, but we are yet to know what are all the other ins

[2021-03-30 14:28] zfoster commented on #14214
It is not - we're calling that Transactional batch and there are some asks for it. It's not actively being worked on but there's definitely a plan to get it done in the coming months https://github.com/Azure/azure-sdk-for-js/issues/13368

[2021-03-30 15:06] ramya-rao-a commented on #13518
https://github.com/MicrosoftDocs/azure-docs-sdk-node/pull/1181 fixes the remaining issue

[2021-03-30 15:06] #13518 closed

[2021-03-30 15:39] sadasant commented on #14607
- The dependency `open` supports engines 12 and above: https://github.com/sindresorhus/open/blob/main/package.json#L14 - In node 8 it right away fails.

[2021-03-30 16:28] chradek commented on #9666
@richardpark-msft This is close.
We actually create a span processingSpan right before we call the user's `processEvents` handler, then close it when their handler resolves. The processing span creates links with each received event so there is a relationship there.

I believe what's being asked for here is a way for the user to create a span that is a child of the processing span. With all the re

[2021-03-30 16:36] donaldduy-lb commented on #14214
I don't think I can reliably use `bulk` then. The database I have is using CQRS and Event Sourcing architecture. The original intent of using this stored procedure was to perform a transaction. We either want all the events to be stored or none of them if any of events in the batch fails to persist.

[2021-03-30 17:48] witemple-msft commented on #12556
Closing. We have a number of other issues at this point to track packages' individual work in migrating to v2 samples, which includes a system for running samples in CI by default.

[2021-03-30 18:06] HarshaNalluru opened #14614 "[Recordings] Simplify `customizationsOnRecordings` array w.r.t access_tokens"
### Masking access tokens
https://github.com/Azure/azure-sdk-for-js/pull/12759 masks access tokens in the recordings through the recorder rather than expecting users to provide it through the custom config `customizationsOnRecordings` from `RecorderEnvironmentSetup`. [#12759](https://github.com/Azure/azure-sdk-for-js/pull/12759)
  With this change, users don't have to add callbacks(to mask `access

[2021-03-30 19:59] sadasant opened #14616 "[Identity] DefaultAzureCredential to throw CredentialUnavailable if open() doesn't work"
open() will throw an error if there's no browser available. If it throws an error, we should throw CredentialUnavailable. We should also add a test to test this behavior.

[2021-03-30 20:01] sadasant commented on #14607
For the `URL` issue in InteractiveBrowserCredential, we could solve it by replacing it with these two functions:

[code]

[2021-03-30 20:36] sadasant commented on #14396
.Net has these samples in Markdown files in the samples folder: https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/identity/Azure.Identity/samples

We also have a Markdown file with samples in the samples folder: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/samples/ClientSideUserAuthentication.md I believe similar files should be ok. The main focus is to get

[2021-03-30 20:42] maorleger commented on #14396
Thanks @sadasant - I can go with that approach for now. We can do markdown right now to get them out of the README and we can always iterate later if we need to.

[2021-03-30 21:35] #7602 closed

[2021-03-30 21:39] KarishmaGhiya commented on #1583
Will be opening issues for track 2 packages that don't align with the guidelines

[2021-03-30 22:11] mabecth commented on #13481
I ran npm install @opentelemetry/api@latest but the tracing still does not work. Still disconnected components in application map. Is there anything else you have to do?

[2021-03-30 23:01] #14616 closed

[2021-03-31 00:15] ramya-rao-a commented on #14396
I agree with @maorleger

I'd expect samples to be under the package folder or in the samples folder at the root of the repo.
Markdown files in the samples folder under the Identity project makes sense to me.

If in the future we do want a wiki on this, it can always point to the samples in the Identity project

[2021-03-31 00:59] HarshaNalluru commented on #13166
@snuffykl
You can specify the retryOptions at the client level such as below.
[code]

[2021-03-31 02:06] ramya-rao-a commented on #14445
https://github.com/Azure/azure-sdk-for-js/pull/14561 adds InteractiveBrowserCredential to DefaultAzureCredential. This is enabled only via enabling an option `includeInteractiveCredentials` which is disabled by default.

This issue originally came up while reviewing #14356 where we are updating the management plane auto generated packages to support credentials from the `@azure/identity` package.

[2021-03-31 02:08] sadasant commented on #14445
@ramya-rao-a thank you!

[2021-03-31 02:42] sadasant commented on #14607
Moved to May since this won't block our preview on April.

[2021-03-31 11:50] sadasant opened #14632 "[Identity] Write performance tests for Identity"
Similar to Java here:

- https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/identity/azure-identity-perf
- https://github.com/Azure/azure-sdk-for-java/pull/19360

Other languages have similar performance tests. Vinay has been leading this, so Java is the best reference.

On regards of how to write them on JS, Maor was the last one that I am aware that wrote performance tests: https://gith

[2021-03-31 11:51] sadasant commented on #13788
For performance tests, I created a new issue: https://github.com/Azure/azure-sdk-for-js/issues/14632

[2021-03-31 12:42] sadasant opened #14633 "[core-rest-pipeline] Add performance tests for challenges"
We're tracking challenges with another issue: https://github.com/Azure/azure-sdk-for-js/issues/13156 (PR https://github.com/Azure/azure-sdk-for-js/pull/13888).

Performance tests for challenges have been implemented as part of the Identity tests, like in Java here: https://github.com/Azure/azure-sdk-for-java/pull/19360 , and I have an issue tracking Identity performance tests https://github.com/Az

[2021-03-31 13:42] sadasant commented on #13369
@prashanthmadduri it has been a while, but we've finally released core-http version with the fix: https://www.npmjs.com/package/@azure/core-http/v/1.2.4 If you have time to try it, please let us know if you find issues with it, or any other issue you might encounter with any of our SDKs. Thank you for using these libraries!

[2021-03-31 16:49] witemple-msft opened #14635 "[event-hubs] Move express sample to root /samples"
In #14074, I suggested relocating a potential storage sample that uses Azure Functions to /samples, reasoning being that only samples that explicitly deal with the package API should be included in the package's own samples directory.

We should consider doing the same for the [`expressSample` in Event Hubs](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/eventhub/event-hubs/samples/expr

[2021-03-31 16:58] #14464 closed

[2021-03-31 16:59] witemple-msft commented on #14482
Wrong issue got tagged in the linked PR. I closed the AppConfig issue and reopened this one (@HarshaNalluru @richardpark-msft FYI)

[2021-03-31 17:14] witemple-msft commented on #5959
I'm closing this. (CC @xirzec, @XiaoningLiu, @ramya-rao-a).

Node 14 and up allow for the use of ESM syntax (`import`) without a flag. Node 12 only allows it with the `--experimental-modules` flag. Even with Node 14, the `"type"` field in package.json must be specified to be `"module"` (you can read all the convloluted rules on the [Node docs](https://nodejs.org/api/packages.html#packages_determin

[2021-03-31 17:14] #5959 closed

[2021-03-31 17:17] witemple-msft commented on #14266
We could probably add a late pipeline step to check for the presence of the `Authorization` header and ensure that its value starts with `Bearer`.

[2021-03-31 17:19] witemple-msft commented on #14059
IMO there needs to be a unified way that both live CI and smoke tests should use to figure out which region to deploy to. If we put it in `//sampleConfiguration`, then I'd want CI to utilize that as well so that we don't have two places to chase down when we want to move samples or tests to a different region.

[2021-03-31 17:37] HarshaNalluru commented on #14482
Oops!

[2021-03-31 18:06] benbp commented on #14059
@willmtemple I think converging the smoke tests into the live tests yml configuration OR having the script respect region defaults in the `test-resources.json` file is probably the most flexible approach that we can use across languages here.

[2021-03-31 19:16] HarshaNalluru opened #14639 "[Service Bus] .env in the samples folder is outdated"
Review the samples and update the sample.env file with the variables that are needed for samples.

[2021-03-31 19:20] HarshaNalluru opened #14640 "[dev -tool] Improve "check-node-versions" console output and more"
- [ ] Throw an error if the provided argument is not in the list of expected arguments
- [ ] Add a console statement to show
  - [ ] which sample is being run at the beginning of the logs for that sample
  - [ ] another at the end upon its successful completion
- [x] When downloading the alpine images, the color of the logs is red, change to something else to not denote it as an error.
- [x] Add a

[2021-03-31 19:55] sadasant commented on #14583
Pushed to May because I won't have time to get this reviewed before the April milestone ends.

[2021-03-31 21:22] sarangan12 commented on #13970
Code complete with PR https://github.com/Azure/azure-sdk-for-js/pull/14605

[2021-03-31 21:22] #13970 closed

[2021-03-31 22:03] deyaaeldeen commented on #14640
@HarshaNalluru thanks for your feedback! I am excited for this tool to get better.

I think there is some overlap between yours and https://github.com/Azure/azure-sdk-for-js/issues/14234 so please limit this one to things not in the other one.

[2021-03-31 23:29] jeremymeng opened #14650 "[ACR] Use swagger from spec repo"

[2021-03-31 23:43] witemple-msft commented on #14292
Moving this to May with the rest of the rollup items.

[2021-03-31 23:43] #14585 closed

[2021-03-31 23:59] maorleger commented on #14002
Not @sadasant but here's what I think:

1. I would actually prefer to remove that `await` call altogether - It doesn't align with the rest of the samples that only construct a client using a credential. I think this just adds noise here.
2. Express request and response are actually pretty complex types, but they are inferred correctly when you include the express types. This specific file doesn't

[2021-04-01 00:04] sadasant commented on #14002
I trust @maorleger

[2021-04-01 00:12] #13372 closed

[2021-04-01 00:13] #14445 closed

[2021-04-01 00:14] #14002 closed

[2021-04-01 00:15] witemple-msft commented on #10086
FYI @benbp

[2021-04-01 00:26] maorleger opened #14653 "KeyVault multi-version tests for certs / secrets / (possibly) admin"
In #14587 we added multi-version test support for KV Keys.

This issue tracks adding the same support for:

- [ ] KeyVault Certificates
- [ ] KeyVault Secrets

I'm debating about KeyVault Admin. Currently there's only one version that supported, but on the other hand 7.3 will come soon enough.

[2021-04-01 00:28] jeremymeng opened #14654 "[ACR] cache tokens in the auth flow"

[2021-04-01 00:28] #14589 closed

[2021-04-01 00:29] maorleger commented on #14589
Closed with #14587

[2021-04-01 00:32] HarshaNalluru commented on #14482
Woah.. the bots are taking over.

[2021-04-01 00:46] HarshaNalluru opened #14656 "[Core HTTP] [App Config] No meaningful error thrown if deserialization went wrong"
![image](https://user-images.githubusercontent.com/10452642/113228000-ca0bbe80-9248-11eb-97d0-779fc6f7810c.png)

TO REPRO: https://github.com/HarshaNalluru/azure-sdk-for-js/pull/new/harshan/app-config/next-gen-error-repro

[2021-04-01 05:18] doron-au10tix commented on #14161
Hi, any update on this?

[2021-04-01 15:31] chradek commented on #14161
Hi,
We're working with support through a customer support ticket and the service team to determine why there may be timeouts.

@doron-au10tix if you are also seeing this, can you either open a support ticket as well, or provide logs for your scenario? This is a fairly generic timeout error so we may need more info from the service team to identify if anything looks out of the ordinary there during

[2021-04-01 15:47] chradek opened #14661 "[service-bus] investigate adding SASCredential support to ServiceBusAdministrationClient"
Issue #14658 added support for NamedKeyCredential and SASCredential to ServiceBusClient, but only NamedKeyCredential to ServiceBusAdministrationClient.

The ServiceBusAdministrationClient doesn't currently support using a SharedAccessSignature in the connection string either. I suspect this is because the `signRequest` function uses the full URL for the operation when creating the signature:
https

[2021-04-01 15:48] #11891 closed

[2021-04-01 17:21] ramya-rao-a commented on #14449
Yes. I believe moving to Track 2 can be an opportunity to require the service teams to provide meaningful data in the swagger.

I have started offline discussions on this and will update this thread once we have a confirmation

[2021-04-01 18:49] sadasant opened #14662 "[Identity] Should CredentialUnavailable be called CredentialUnavailableError?"
At the moment, errors `CredentialUnavailable` and `AuthenticationRequired` in Identity do not end in `Error`. Should they?

`CredentialUnavailable` was GAd with v1, but we could do this change since we're releasing v2 soon.

This issue is only about the name of those errors!

[2021-04-01 19:34] ramya-rao-a commented on #14662
We generally do have the `Error` suffix on the custom error classes in Identity and in other packages. In Identity itself,  we already have `AuthenticationError` and `AggregateAuthenticationError`.

I would definitely recommend `AuthenticationRequired` that was introduced in v2 beta to be renamed to `AuthenticationRequiredError`

For the `CredentialUnavailable` case, I don't mind renaming it to `C

[2021-04-01 19:36] ramya-rao-a commented on #14662
But this might also end up confusing users who might see the class `CredentialUnavailableError` and expect the name to also be `CredentialUnavailableError`. :(

[2021-04-01 19:50] alzimmermsft opened #14664 "Add a Convenience Method to Create a SynonymMap from a File/Stream"
Add a convenience method, or constructor, which allows creation of a synonym map from a file or stream.

[2021-04-01 19:54] deyaaeldeen commented on #1583
@KarishmaGhiya

Long-term, https://github.com/Azure/autorest.typescript/pull/895 addresses this issue by including the required sections in the auto-generated readmes. So once all packages adopt the new code gen, all readmes will follow our guidelines. You can still of course still choose to not verify those readmes, at least for the time being. cc @ramya-rao-a

[2021-04-01 20:03] sadasant commented on #14662
Let's also get @bterlson or @xirzec here to see one additional perspective. We have some time (couple of weeks) to make this decision.

[2021-04-01 20:33] #14632 closed

[2021-04-01 21:01] sadasant commented on #14583
@christothes @schaabs should we also drop the "authenticate()" method from this credential? I see it in .Net: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs#L264-L265

[2021-04-01 21:36] sadasant commented on #12114
From Vinay:

Best way is to look at [ClientCertificateCredential](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredential.java) implementation in Java.
Java also needs some minor API changes around this to align with .NET, but functional implementation is there.

[2021-04-01 22:02] xirzec commented on #14662
I like the general rule of Errors having constructor names that end in Error. I **strongly** think the name property should match the constructor name. I am supportive of renaming errors across a major version change, assuming we rename both the property and the constructor.

[2021-04-01 22:42] sadasant commented on #12114
This MSAL PR should help: https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/3128/files Also this doc file: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/2a6a17094e2493262ab1d3240aaeecbffce1f2f3/lib/msal-node/docs/sni.md#app-configuration

Seems like we just need to make sure we're able to read the PEM-like content of the `.pfx` files, and pass that t

[2021-04-01 22:52] pallavit opened #14668 "Enable anonymous authorization support for ACR library"

[2021-04-02 00:10] #14590 closed

[2021-04-02 00:21] sadasant commented on #12318
Would it be possible for this credential to alter the request to signal the retry policy to add specific error codes to it?

- core-http: https://github.com/Azure/azure-sdk-for-js/blob/78db83fe148b8dad1fe8db4112cf92b45ffb13d3/sdk/core/core-http/src/policies/exponentialRetryPolicy.ts#L135-L146
- core-rest-pipeline: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-rest-pipeline/sr

[2021-04-02 01:49] HarshaNalluru commented on #14150
Mocha v8 dropped Node 8.
So, that's a blocker.

[2021-04-02 08:38] Abhyudaya1 opened #14673 "Support for getAccessPolicy call in azure/arm-storage library for storage queue"
**Is your feature request related to a problem? Please describe.**
The `arm-storage` package today does not have an API call to get access policy details on queues. It'd be great if an API call to get such details can be added.

**Describe the solution you'd like**
Adding the calls/apis regarding the access policies in the `azure/arm-storage` for storage queue.

**Describe alternatives you've cons

[2021-04-02 14:48] mountju commented on #12584
hello, guys!
@juancamilor
Do you have any news regarding the question?

[2021-04-02 14:57] AlexGhiondea opened #14674 "[ACR] Write additional samples"
Revisit the current set of samples and add more as needed.
- [ ] add samples of advanced scenarios for iterators

[2021-04-02 15:02] AlexGhiondea opened #14675 "Remove delay from tests that validate delete"
Remove the artificial delay from the tests that validate the delete functionality

[2021-04-02 15:42] akania commented on #14360
As explained in https://github.com/Azure/Communication/issues/157 - most of the objects aren't simply a property bags, but rather instances that expose more functionality, and they can mutate/update their state over time.

We'll improve our documentation [#2413808]( https://skype.visualstudio.com/SPOOL/_workitems/edit/2413808)

Regarding putting these in the storage :
`This is very important if th

[2021-04-02 17:01] sadasant commented on #12114
Seems like MSAL-node doesn't support PFX files, they support PEMs generated from PFX files. As far as I can tell.

On .Net, for example, PFX certificates are read differently from PEM certs: https://github.com/Azure/azure-sdk-for-net/blob/b749d806f126648c63321c3351eae2db54e6d33f/sdk/identity/Azure.Identity/src/ClientCertificateCredential.cs#L240-L286

[2021-04-02 17:09] #13904 closed

[2021-04-02 17:13] #13905 closed

[2021-04-02 17:14] ramya-rao-a commented on #14668
@pallavit, @jeremymeng Can either of you add details to the issue description here?
@jeremymeng Please assign to the appropriate milestone

[2021-04-02 17:22] #10777 closed

[2021-04-02 18:36] KarishmaGhiya commented on #1583
@deyaaeldeen Yes we can use that issue for the track 1 packages readme that are autogenerated. Will that also make the readme generated by swagger similar to package readme? This is an example of the swagger readme I am refering to - https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/metricsadvisor/ai-metrics-advisor/swagger
This is an example of the samples readme I am refering to - https:

[2021-04-02 18:44] #1251 closed

[2021-04-02 20:04] maorleger opened #14684 "Allow users to identify which packages support identity / TokenCredential"
I don't think other languages track what packages use identity and what packages don't use identity. That seems easy to get out of date.

On the problem of "how to identify which packages support identity", what if we open an issue for that?

Packages that use identity could have some label in their package.json, and then we could use a search query to quickly point people to those packages. That

[2021-04-02 20:23] xirzec commented on #12318
Hmm is the need to do this only for requests to a specific operation rather than to all requests on the client?

Certainly we could extend request to have yet another property, but it's feeling a bit tedious to have to keep inventing new properties for niche scenarios.

Instead, could you supplement the identity pipeline with a new policy which is ordered after the retry policies that notices a 40

[2021-04-02 20:26] sadasant commented on #12318
@xirzec

When you say Identity pipeline, what do you mean? Do you mean policies in core-rest-pipeline? Identity only has TokenCredentials (getToken(scope, getTokenOptions) => token).

[2021-04-02 20:35] sadasant commented on #12114
Ok, I've spent some time investigating...

I'll define the base of my arguments by exposing some truth with links, then I'll write my argument.

Truths:

- Other languages are relying on X509 implementations that already come with PKCS12 support.
  - .Net reads the PFX certificate right into their `System.Security.Cryptography.X509Certificates`: [Source link](https://github.com/Azure/azure-sdk-for

[2021-04-02 20:52] deyaaeldeen commented on #1583
@KarishmaGhiya you're right, the swagger and samples readmes will never follow the package readme structure and have to be excluded from validation.

[2021-04-02 20:53] #14396 closed

[2021-04-02 20:57] sadasant commented on #14232
@richardpark-msft confirmed to me the other day that this was ok.

Since Richard is the goalkeeper for tracing, I'll close this.

[2021-04-02 20:58] HarshaNalluru opened #14686 "[App Config] Post preview: Follow-up of #14342 : Add prefix to the key if not provided for feature flag"
Given our JS nature, we could say "well, you're specifying feature flag things so we'll add-prefix-if-not-exist". What do you think of that for post-preview?

_Originally posted by @richardpark-msft in https://github.com/Azure/azure-sdk-for-js/pull/14342#discussion_r606357054_

[2021-04-02 21:27] richardpark-msft commented on #14232
In this particular case, assuming msal is not using core-http, we can't get a good span tree going, at least from the Azure SDK level.

Basically, we can trace from:
* identity -> our classes -> core-http/core-rest-pipeline (span parenting should work)
* identity -> msal (best we can do is `identity` creating spans).

Is the MSAL library planning on doing any opentelemetry work - if so we can star

[2021-04-02 21:39] sadasant commented on #14232
@richardpark-msft I made an issue to suggest them to provide OpenTelemetry support: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3380

I'll re-open this issue and move it to the backlog.

[2021-04-02 21:40] richardpark-msft commented on #14232
Just as a word of caution - they should definitely _wait_ until it hits GA so they don't run into the plethora of issues we have in trying to keep up with this dependency :)

[2021-04-02 21:41] sadasant commented on #14232
Oh good point!

[2021-04-02 22:11] jlichwa commented on #13061
We don't support passing the values, but you can correlate your client logs using x-ms-request-id which is generated by server and returned in response.

Definition:
x-ms-request-id – is a server generated value that is returned on the response and also used in logging as correlation id.

There is also client request id:
x-ms-client-request-id - should be returned in the response header if it was

[2021-04-02 22:12] jlichwa commented on #13061
#please-close

[2021-04-02 22:15] jlichwa commented on #13061
@sadasant @ramya-rao-a  can you close the issue?

[2021-04-02 22:15] #13061 closed

[2021-04-02 22:38] xirzec commented on #12318
Presumably, this request is ultimately being made by some pipeline inside of Identity client? So I'm asking you to modify whatever client pipeline is being used to make the getToken request.

[2021-04-02 22:42] sadasant commented on #12318
@xirzec ohhh I see your point: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/src/client/identityClient.ts#L67-L75

Ok ok, I'll do that! Thank you!

[2021-04-02 23:25] ramya-rao-a commented on #14684
The package readmes do call out if they support credentials from the `@azure/identity` package. Isnt that enough?

Do we expect users to choose a credential and then look around for SDKs that they can use it with or to choose a service to work with, then find the SDK for it and then figure out auth by refering to readme/samples?

[2021-04-02 23:26] ramya-rao-a commented on #14684
@sadasant This was also discussed in #12836

[2021-04-02 23:46] jeremymeng opened #14695 "[recorder] move sanitizing customization in ACR to test recorder"
Some customization in ACR test utils can be move to centralized test recorder.

[2021-04-03 00:34] jeremymeng opened #14697 "[ACR] enable browser tests"
currently node `process` was bundled and caused failure. It could be caused by using management library to import images.  It has a dependency on `@azure/ms-rest-nodeauth`.

[2021-04-03 01:04] #14502 closed

[2021-04-03 04:58] sadasant commented on #14588
Found what was happening: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3334#issuecomment-812811403 Though I still need to update our code to remove the Node 15 checks.

[2021-04-03 05:24] sadasant opened #14701 "[Identity] Re-hydration of an authentication record make the next silent request fail"
This could be a MSAL bug, but I need to confirm.

For the following test, why would the last `doGetTokenSpy.callCount` be 2? Should be 1 if the silent token cache had succeeded.

[code]

[2021-04-03 18:18] richardpark-msft commented on #14539
hi @hartwig-wutscher-ibm, I was able to replicate this bug and I really appreciate you taking the time to report it.

The actual bug was with the way we're sending the ATOM requests, which handle the entity update you're trying to do. I've got a fix submitted in this PR(#14692). This bug was actually causing forwarding to _not_ be properly setup, even though the API claimed that it was.

With that

[2021-04-04 05:44] hilfor commented on #14606
Hi @chradek , sorry for the late response.

We are creating an EventHub listener in the order:
[code]

The number of EventHub partitions is 8 :) so it is not even close to 10000

I will check if we can turn on logging with `DEBUG` but it might take some time to manifest :|

[2021-04-04 07:58] RazYahkovnia opened #14704 "On Consumer - Error: Too much pending tasks"
- **Package Name**: @azure/event-hubs
- **Package Version**: 5.3.1
- **Operating system**: ubuntu docker
- [ ] **nodejs**
    - **version**: 14.15

*Describe the bug*
Getting "Error: Too much pending tasks" on consumer service.
There seems to be no impact on the consumption of events but still we are getting a lot of this error.

*Stack*
`Error: Too much pending tasks
    at AsyncLock.acquire (/sr

[2021-04-04 12:53] ropez opened #14705 "Checking feature flags in client-side application"
I'm trying to figure out how to use Feature flags in a front-end application (SPA). Specifically, an application build with Vue,js, but it would have been the same if the application was build for instance with React or Angular.

I find it difficult to understand how the `@azure/app-configuration` package is helpful for this scenario.

* The package seems to have a lot of functionality that is not

[2021-04-04 12:57] hilfor commented on #14606
@chradek , I've also noticed that just before these errors start showing up, we can see the following error message:
[code]

[2021-04-04 22:24] HarshaNalluru commented on #14705
Hey @ropez,

Thanks for reaching out.
Feature flag support in the SDK is currently under development.
https://github.com/Azure/azure-sdk-for-js/pull/14342 PR adds the support you expect w.r.t feature flags.

We'll be releasing a new **preview** version `1.2.0-beta.1` version for `@azure/app-configuration` this week with the feature flag support as part of the [new features](https://github.com/Azur

[2021-04-05 07:10] ropez commented on #14705
Thanks for the reply, @HarshaNalluru

Unfortunately, looking through the PR that you've linked to, the functionality seems to be consistent with the points I made above. All the examples and test cases seems to be focused on _editing_ feature flags, not using them in an application to toggle features. So I don't feel like my question was answered, if there is Javascript tools to support that use-c

[2021-04-05 07:34] KarishmaGhiya opened #14707 "[Identity][Core-Tracing] Test errors on changing the rollup output file"
The rollup output folder for all the packages is "dist-test/index.js". Identity and core-tracing have "test-dist/index.js". When trying to make the rollup output folder same as other packages as part if this PR - https://github.com/Azure/azure-sdk-for-js/pull/14693 and this issue - https://github.com/Azure/azure-sdk-for-js/issues/13387,  there were build and test failures that occurred -
Identity

[2021-04-05 16:12] #14584 closed

[2021-04-05 16:24] sadasant commented on #12114
Changed the title to more closely express the issue.

[2021-04-05 17:10] jeremymeng opened #14711 "[ACR] add a method to get all tags for a given image"
From @annelo-msft

[2021-04-05 17:19] maorleger opened #14713 "KeyVault Keys - ensure failed local crypto gets remoted correctly"
1. When a hybrid (local-remote) crypto client errors locally we should ignore the exception and remote the operation.
2. When a local only crypto client errors we should throw the original exception.

We currently do (2), but I don't think we do (1) at least not consistently. So this issue tracks fixing that.

[2021-04-05 17:57] KarishmaGhiya opened #14714 "[Core- abort-controller] Readme Headers Missing"
- As part of readme verification, we would want all headers to have required sections. The package core abort-controller is missing the following sections:
- Troubleshooting
- Next steps
Refer issue : https://github.com/Azure/azure-sdk-for-js/issues/1583

The packages should have following headers:
Azure .+ client library for JS
^Getting started$
^Key concepts$
^Examples$
^Troubleshooting$
^Next s

[2021-04-05 17:58] chradek commented on #14606
@hilfor
Can you tell approximately how long you see `MessagingError` before you start seeing `Too much pending tasks`?

I believe I'm starting to see the "pending tasks" on management operations (e.g. getPartitionIds) increase very slowly over time when I prevent the service from being able to respond. This increase in pending tasks is surprising, but doesn't appear to be happening if the connecti

[2021-04-05 18:01] KarishmaGhiya opened #14715 "[Core-amqp] Missing readme headers"
As part of readme verification, we would want all headers to have required sections. The package core core-amqp is missing the following sections:
^Examples$
^Troubleshooting$
^Next steps$
Refer issue : #1583

The packages should have following headers:
Azure .+ client library for JS
^Getting started$
^Key concepts$
^Examples$
^Troubleshooting$
^Next steps$
^Contributing$

[2021-04-05 18:03] KarishmaGhiya opened #14716 "[Core core-auth] Missing Readme Headers"
As part of readme verification, we would want all headers to have required sections. The package core core-auth is missing the following sections:
^Getting started$
^Key concepts$
^Examples$
^Troubleshooting$
^Next steps$

Refer issue : #1583
The packages should have following headers:
Azure .+ client library for JS
^Getting started$
^Key concepts$
^Examples$
^Troubleshooting$
^Next steps$
^Contri

[2021-04-05 18:10] HarshaNalluru commented on #14705
That's good feedback @ropez. I'll check with the team and get back on the use cases.

[2021-04-05 18:13] #13586 closed

[2021-04-05 18:21] chradek commented on #14704
@RazYahkovnia
So you're still seeing events come in even while encountering this error?

This looks the same as #14606 except in that case I believe we're not seeing any events come in while this is happening.

[2021-04-05 19:17] HarshaNalluru opened #14718 "[Service Bus] ATOM API: CreateTopicOptions missing field - FilteringMessagesBeforePublishing"
FilteringMessagesBeforePublishing is present in .NET but not in JS.
Noticed by @richardpark-msft at https://github.com/Azure/azure-sdk-for-js/pull/14692
Reference - https://github.com/Azure/azure-sdk-for-net/blob/8af2dfc32c96ef3e340f9d20013bf588d97ea756/sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/TopicPropertiesExtensions.cs#L175

[2021-04-05 19:45] #14539 closed

[2021-04-05 19:47] HarshaNalluru commented on #14539
#14692 is merged, we'll release a new version for the package soon.

[2021-04-05 21:42] maorleger opened #14723 "KeyVault - Ensure tracing tests are consistent with Identity"
Pairing with Daniel and noticed he has a much more comprehensive test case for tracing than we do in KeyVault. We test tracing in KeyVault but we should model this test case: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/test/public/node/clientSecretCredential.spec.ts#L62-L83

(and helper that this uses).

Adding a backlog item for myself to add these tests to all 4 k

[2021-04-05 22:20] KarishmaGhiya opened #14725 "[core core-tracing] Missing readme headers"
As part of readme verification, we would want all headers to have required sections. The package core core-tracing is missing the following sections:
^Troubleshooting$
^Next steps$

Refer issue : #1583
The packages should have following headers:
Azure .+ client library for JS
^Getting started$
^Key concepts$
^Examples$
^Troubleshooting$
^Next steps$
^Contributing$

[2021-04-05 22:22] KarishmaGhiya opened #14726 "[Logger] Missing readme headers"
As part of readme verification, we would want all headers to have required sections. The package core/logger is missing the following sections:
^Troubleshooting$
^Next steps$

Refer issue : #1583
The packages should have following headers:
Azure .+ client library for JS
^Getting started$
^Key concepts$
^Examples$
^Troubleshooting$
^Next steps$
^Contributing$

[2021-04-05 22:38] KarishmaGhiya opened #14727 "[Event-processor-host] Missing readme headers"
As part of readme verification, we would want all headers to have required sections. The package event-processor-host is missing the following sections:
^Getting started$
^Key concepts$
^Troubleshooting$
^Next steps$
^Contributing$

Refer issue : #1583
The packages should have following headers:
Azure .+ client library for JS
^Getting started$
^Key concepts$
^Examples$
^Troubleshooting$
^Next step

[2021-04-05 22:47] #11496 closed

[2021-04-05 22:47] #14473 closed

[2021-04-05 22:48] KarishmaGhiya opened #14728 "[Test-utils] Missing Readme headers"
As part of readme verification, we would want all headers to have required sections. The package test-utils multi-version is missing the following sections:
^Next steps$

Refer issue : #1583
The packages should have following headers:
Azure .+ client library for JS
^Getting started$
^Key concepts$
^Examples$
^Troubleshooting$
^Next steps$
^Contributing$

[2021-04-05 22:56] KarishmaGhiya opened #14729 "[Log-analytics] Missing Readme Headers"
As part of readme verification, we would want all headers to have required sections. The package operationalinsights/loganalytics is missing the following sections:
Azure .+ client library for JS
^Getting started$
^Key concepts$
^Examples$
^Troubleshooting$
^Next steps$
^Contributing$

Refer issue : #1583
The packages should have following headers:
Azure .+ client library for JS
^Getting started$

[2021-04-05 23:06] KarishmaGhiya opened #14731 "[storage-datalake] Missing readme headers"
As part of readme verification, we would want all headers to have required sections. The package storage-datalake is missing the following sections:
Azure .+ client library for JS
^Getting started$
^Key concepts$
^Examples$
^Troubleshooting$
^Next steps$
^Contributing$

Refer issue : #1583
The packages should have following headers:
Azure .+ client library for JS
^Getting started$
^Key concepts$
^

[2021-04-05 23:08] KarishmaGhiya opened #14732 "[Service Fabric] Missing readme headers"
As part of readme verification, we would want all headers to have required sections. The package service-fabric is missing the following sections:
Azure .+ client library for JS
^Getting started$
^Key concepts$
^Examples$
^Troubleshooting$
^Next steps$
^Contributing$

Refer issue : #1583
The packages should have following headers:
Azure .+ client library for JS
^Getting started$
^Key concepts$
^Ex

[2021-04-05 23:58] #14713 closed

[2021-04-06 00:03] chradek commented on #14606
Just wanting to dump my findings thus far here.

So as I mentioned earlier, I am able to see the "Too much pending tasks" occur when I prevent the service from responding to the client. Note that the client still attempts to connect to the service, but creating the connection times out.

Here's what I'm seeing happen:
1. EventHubConsumerClient.subscribe() called.
2. The [EventProcessor._runLoopWit

[2021-04-06 01:00] #13448 closed

[2021-04-06 01:14] ramya-rao-a commented on #14729
This is a purely auto generated package and should be exempted from our readme checks. When the code gen gets updated and the package regenerated based on service team's request, it will get the new readme. Can we close this issue?

[2021-04-06 01:14] ramya-rao-a commented on #14731
This is a purely auto generated package and should be exempted from our readme checks. When the code gen gets updated and the package regenerated based on service team's request, it will get the new readme. Can we close this issue?

[2021-04-06 01:14] ramya-rao-a commented on #14732
This is a purely auto generated package and should be exempted from our readme checks. When the code gen gets updated and the package regenerated based on service team's request, it will get the new readme. Can we close this issue?

[2021-04-06 01:24] ramya-rao-a commented on #14718
@axisc, We see this property in the older WindowsAzure.ServiceBus package, but not in the later Microsoft.Azure.ServiceBus package. See
-[ TopicDescription in WindowsAzure.ServiceBus](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.topicdescription.enablefilteringmessagesbeforepublishing?view=azure-dotnet)
- [TopicDescription in Microsoft.Azure.ServiceBus](https://docs.m

[2021-04-06 05:39] qiaozha commented on #14673
@blueww Looks like this is a feature request for storage team ? Could you take a look or route it to the right team?  Thanks

[2021-04-06 05:48] blueww commented on #14673
@zfchen95, @tonykjose, @priyapansrp
Would you please help to look at the feature request for SRP?

[2021-04-06 06:37] samriddhi-motorq commented on #9298
hey, could you tell how you resolved the issue? I'm getting the same issue

[2021-04-06 08:31] zzhxiaofeng opened #14739 "Azure Cosmos Sample Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/samples/MultiRegionWrite/ConflictWorker.ts#L467), [link2](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/samples/MultiRegionWrite/ConflictWorker.ts#L655)
![GetImage (16)](https://user-images.githubusercontent.com/20970631/113678569-60306080-96f1-11eb-9f77-8ca7f58a5fb9.png)
Reason

[2021-04-06 08:50] hilfor commented on #14606
hi @chradek

I've checked the logs and we're seeing these timeout errors for about a week before `Too much pending tasks` errors start showing up.
This timeout message appears every 5 minutes.
This message is printed inside the `processError` callback.
Unfortunately, we're not seeing any other errors around or near the timeouts.

We can also see that once `Too much pending tasks` starts showing th

[2021-04-06 08:56] HarshaNalluru commented on #13978
#14342

[2021-04-06 08:56] #13978 closed

[2021-04-06 08:56] HarshaNalluru commented on #13979
#14342

[2021-04-06 08:56] #13979 closed

[2021-04-06 08:56] #13980 closed

[2021-04-06 09:05] orgads commented on #14412
PR #14740.

[2021-04-06 14:49] MasDevProject opened #14742 "Storage-blob crashes on Electron"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.5.0
- **Operating system**: MacOs
- [ ] **electron**
    - **version**: 12
- [ ] **typescript**
    - **version**: 4.0.2

**Describe the bug**
In my Angular 11 application, running on browser everything works well, but on Electron 12 when I create a `BlobServiceClient` I get the following error:

[code]

This is my code:
[code]

See

[2021-04-06 15:30] deyaaeldeen opened #14744 "[Dev Tool] check-node-versions should use images containing all native deps needed by our samples"
[Dev Tool](https://github.com/Azure/azure-sdk-for-js/tree/main/common/tools/dev-tool) is a command-line tool with various commands that automate common workflows. One of the commands is `dev-tool samples check-node-versions` which runs a particular package's samples inside a docker container. However, some samples need native dependencies that have to be installed inside the container. For instanc

[2021-04-06 16:34] chradek commented on #14606
@hilfor
Thanks for the info! While you're seeing these MessagingError errors, are you seeing any incoming events? Not just that the processEvents handler is called, but that you're seeing actual events? In my testing I was seeing an 'all or nothing' type of scenario where if I was getting the MessagingError, I also was not receiving events so I'm curious if you are seeing the same.

[2021-04-06 16:52] zfoster commented on #14739
@zzhxiaofeng i'll take a look

[2021-04-06 16:53] zfoster commented on #14214
Sounds good, thanks for the info. We've had a few asks like I said for Transactional batch so I can see that coming soon. I'm still planning to find time to verify I can reproduce this and would then hand it to the backend team.

[2021-04-06 17:00] maorleger commented on #11396
I think this can be closed, it's from October and we likely have progressed a ton with test coverage since

[2021-04-06 17:00] #11396 closed

[2021-04-06 18:46] hilfor commented on #14606
@chradek
I've checked the logs and we have the exact same scenario.
I just want to point out that these particular screenshots were taken from a service that has 5 other consumers (connected to different EventHubs) working without any issues.

[2021-04-06 19:08] chradek commented on #14606
@hilfor
Thanks for confirming. I'm working on some changes that will prevent the too much pending tasks error from occurring, but I'm still unsure how much they will affect the MessagingErrors you're seeing. I'll keep this issue posted on those changes.

Would you be able to create a support case so we can work with the service team as well to determine why your connection to event hubs from your

[2021-04-06 20:10] #13295 closed

[2021-04-06 20:10] sadasant opened #14751 "[Identity] Decouple CredentialUnavailableError from AuthenticationRequiredError"
While both errors CredentialUnavailableError from AuthenticationRequiredError can be used in the same scenario, the one of skipping ChainedTokenCredential, the way to assert for errors in JavaScript is through the error names, which we overwrite regardless of the inheritance (the child class gets to have its own name only, not the parent name). So, if it's only for the name, which is the current u

[2021-04-06 20:51] #14662 closed

[2021-04-06 21:04] maorleger opened #14755 "Consolidate identity docs"
This issue tracks consolidating https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/using-azure-identity.md and the newly added https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/samples/AzureIdentityExamples.md

Ideally both can be combined, and the existing file can point to the new file.

[2021-04-06 21:26] HarshaNalluru opened #14757 "[Service Bus] Flaky test - peeking into sessions"
![image](https://user-images.githubusercontent.com/10452642/113780446-142aef00-96e4-11eb-91ce-e0a347e64368.png)
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=827897&view=logs&j=87f83084-55f5-5f24-c14b-4ae968e9776d&t=0c9c77e6-f78a-5ae3-2f27-75b7e96deaf9&s=e1cfda09-5da2-5701-1d18-8913ba179eab

[2021-04-06 21:59] jeremymeng commented on #14431
Currently done in ACR

[2021-04-06 22:00] jeremymeng commented on #14364
#14736

[2021-04-06 22:00] #14364 closed

[2021-04-06 22:00] #13906 closed

[2021-04-06 22:00] #14172 closed

[2021-04-06 22:05] jeremymeng opened #14760 "[ACR] Move to depend on core after CAE work is in core v2"
- remove private copy of tokenBearerChallengedAuthenticationPolicy
- move to depending on the one from core-rest-pipeline

[2021-04-07 00:05] jeremymeng opened #14767 "[core-client] x-www-form-urlencoded parameters not serialized"
Some ACR generated methods use `application/x-www-form-urlencoded` to send request.  Currently an error is thrown when using those generated methods.

Here's new unit test that represents the scenario.
[code]

[2021-04-07 00:46] joheredi opened #14771 "Upgrade Prettier and api-extractor dependencies"
In order to support newer Typescript features like String Literal Template types we need to upgrade Prettier and api-extractor to the latest versions:
"@microsoft/api-extractor": ["7.13.2"],
    "prettier": ["2.2.1"]

[2021-04-07 02:42] weshaggard commented on #11348
Tracking the work with https://github.com/azure/azure-sdk/issues/1694

[2021-04-07 02:42] #11348 closed

[2021-04-07 05:00] sarangan12 commented on #14003
Can be closed now. Release is complete

[2021-04-07 05:00] #14003 closed

[2021-04-07 05:01] sarangan12 commented on #13969
Code completed and Released

[2021-04-07 05:01] #13969 closed

[2021-04-07 05:01] sarangan12 commented on #13968
Code completed and Released

[2021-04-07 05:01] #13968 closed

[2021-04-07 05:02] sarangan12 commented on #13965
Release Complete https://www.npmjs.com/package/@azure/search-documents/v/11.2.0-beta.1

[2021-04-07 05:02] #13965 closed

[2021-04-07 05:03] sarangan12 commented on #13902
Code complete and Released with https://www.npmjs.com/package/@azure/search-documents/v/11.2.0-beta.1

[2021-04-07 05:03] #13902 closed

[2021-04-07 05:03] sarangan12 commented on #12962
Code complete and Released. https://www.npmjs.com/package/@azure/search-documents/v/11.2.0-beta.1

[2021-04-07 05:03] #12962 closed

[2021-04-07 08:00] #14176 closed

[2021-04-07 10:16] ffMathy opened #14778 "Fetch client does not include all response headers"
When I try to use the fetch browser-based client, there are no response headers other than `Content-Type` and `Content-Length` included, although I can see in Chrome (in the network tab) that many other custom headers are being sent.

Is this a known issue somehow?

I should mention that I am using Autorest's TypeScript generator for this, but I don't think that should mean anything.

[2021-04-07 13:33] nulltoken commented on #13481
@hectorhdzg Hrmpf. It looks like upgrading dependencies to latest versions makes the "trick" regress.

Applying this patch brings us back to the initial position where storage accounts related dependencies were not logged

[code]

Did I mess up the upgrade?

FWIW, I've upgraded the repro repository would you need it for troubleshooting at https://github.com/nulltoken/azure-storage-blob-repro-case

[2021-04-07 14:02] deyaaeldeen commented on #14771
There exists issues for this already. The issue that tracks the effort to upgrade prettier: https://github.com/Azure/azure-sdk-for-js/issues/9329 and the one for api-extractor is https://github.com/Azure/azure-sdk-for-js/issues/9410.

[2021-04-07 14:02] #14771 closed

[2021-04-07 16:13] nnofa opened #14780 "Type and value is returned instead of only value"
- **Package Name**:  @azure/data-tables
- **Package Version**: 12.0.0-beta.2
- **Operating system**: Windows
- [x] **nodejs**
    - **version**:  12.20.0
- [ ] **browser**
    - **name/version**: N/A
- [x] **typescript**
    - **version**: 4.1.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Des

[2021-04-07 16:19] ramya-rao-a commented on #14778
Thanks for reporting @ffMathy

Are you using one of our published packages? If so, which one?
Based on your comment on the code generator, it looks like you are using a client that you have generated yourself. If so, then https://github.com/Azure/autorest.typescript would be the right place to log the issue

[2021-04-07 16:35] ffMathy commented on #14778
I see, thanks!

[2021-04-07 16:35] #14778 closed

[2021-04-07 17:42] levimiller-qhrtech commented on #14360
Documentation would help, but it's pretty bad practice to depend so heavily on a specific implementation of an interface. When a interface is exposed, I'd expect any implementation of it to work: https://en.m.wikipedia.org/wiki/Liskov_substitution_principle

As for the storage, that is the work around we're using. However, it'd be way more useful if we could store more than just the device's id in

[2021-04-07 18:00] hectorhdzg commented on #13481
@nulltoken give a try using OpenTelemetry API latest before release candidate version (0.18.1), you can see [here](https://github.com/open-telemetry/opentelemetry-js#compatibility-matrix) that API RC version is still not compatible with other packages, we are waiting for version 1.0.0 to be available in OpenTelemetry to update all packages we own and hopefully this issue will not happen anymore.

[2021-04-07 18:16] #1583 closed

[2021-04-07 18:34] sadasant opened #14783 "[Identity] Should we separate InteractiveBrowserCredential? One for Node, one for the browser."
InteractiveBrowserCredential currently can be used in Node and in the browser, however:

- In the browser, the AAD apps have to be of type SPA, while in Node they have to be Web.
- In the browser, `clientId` is necessary.
- In the browser, we allow passing configuration like "loginStyle".

I believe we started these thinking of an isomorphic experience because we were overly optimistic, but at thi

[2021-04-07 19:01] nnofa opened #14784 "@azure/data-tables batch does not have upsertEntity"
**Is your feature request related to a problem? Please describe.**
On azure-storage, batch have insertOrReplace entity.
That's not the case with batch in @azure/data-tables. createEntity returns 409 for me if entity exist, and updateEntity returns 404 if entity does not exist.

**Describe the solution you'd like**
Add upsertEntity function to batch

**Describe alternatives you've considered**
It's

[2021-04-07 20:50] sadasant opened #14787 "[core-rest-pipeline] Challenge API alignment"
- Change "authenticate" for "authorize" in the challenge callbacks.
- Do not pass `challenge: string` on `authenticateRequestOnChallenge`, pass the whole response through `ChallengeCallbackOptions`.'
- Do not expose the default callbacks on the public API.

[2021-04-07 22:34] HarshaNalluru opened #14788 "[Communication] communication-chat and communication-identity smoke test failures"
Smoke tests failed - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=830439&view=results

![image](https://user-images.githubusercontent.com/10452642/113943145-e9f63180-97b6-11eb-8aeb-31460de7ae39.png)

Example
![image](https://user-images.githubusercontent.com/10452642/113943641-ee6f1a00-97b7-11eb-8435-b8647c9a2c3a.png)

[2021-04-07 22:38] HarshaNalluru opened #14789 "[Keyvault] keyvault-keys and certificates smoke test failures - missing resources"
Smoke tests failed - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=830439&view=results

![image](https://user-images.githubusercontent.com/10452642/113943681-0181ea00-97b8-11eb-8d58-42700eda61a1.png)

[2021-04-07 22:39] HarshaNalluru opened #14790 "[Service Bus] Smoke tests failed for service-bus - Resources missing"
Smoke tests failed - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=830439&view=results

![image](https://user-images.githubusercontent.com/10452642/113943716-13fc2380-97b8-11eb-9794-dfd7c7939d95.png)

[2021-04-07 22:42] HarshaNalluru opened #14791 "[Storage] Blob, file-share and queue - smoke test failures - resources missing"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=830439&view=logs&j=f3570516-c8fe-5ce9-92b2-b737df25d5ea&t=f7e12054-28e8-5a56-a94b-45551d60467c

![image](https://user-images.githubusercontent.com/10452642/113943595-e020fe00-97b7-11eb-8e31-d3aa5c36015e.png)

[2021-04-08 00:05] sadasant commented on #12114
My suspicions on the lack of support for these features from MSAL were confirmed here: https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/3128#discussion_r607134850

[2021-04-08 00:08] jeremymeng commented on #14787
Address in late commits of #13888

[2021-04-08 00:08] sadasant commented on #14412
@orgads wow thank you!

[2021-04-08 00:10] sadasant commented on #14412
I'll consider this done. I still need to upgrade @azure/msal-node, but that will include more than this fix.

[2021-04-08 00:10] #14412 closed

[2021-04-08 00:12] sadasant commented on #14286
@christothes @chlowell @joshfree Hi team, I already have this issue: https://github.com/Azure/azure-sdk-for-js/issues/14582 I'll close this one on favor of https://github.com/Azure/azure-sdk-for-js/issues/14582

[2021-04-08 00:12] #14286 closed

[2021-04-08 00:14] sadasant commented on #14787
@jeremymeng thank you!

[2021-04-08 01:08] HarshaNalluru opened #14794 "[Recorder] Come up with a plan for `uuid`s in the source code"
As we cannot mock the generateUuid used in the src code through the recorder, that makes it hard to capture the value that is generated to replay.

This issue is to come up with a solution or a pattern that makes it possible to mock such tests using the recorder.

[2021-04-08 02:12] HarshaNalluru opened #14796 "[Smoke Tests] App Config is missing"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=816182&view=logs&j=f3570516-c8fe-5ce9-92b2-b737df25d5ea&t=f7e12054-28e8-5a56-a94b-45551d60467c

App config samples are not being run along with the other smoke tests.

[2021-04-08 02:13] HarshaNalluru commented on #14796
I guess the reason being.. the migration to v2 samples.

@witemple-msft

[2021-04-08 03:42] EmmaZhu commented on #14742
@MasDevProject,

Thanks for reporting this issue.  I will figure out a way to fix this. Does this issue block you?  Not sure whether it's OK for you to directly change this line of code to unblock your scenario first..

Thanks
Emma

[2021-04-08 05:46] karthik2146 commented on #3212
@ramya-rao-a  What is the java SDK version equivalent of the nodejs version 1.1.6?, we are using azure-messaging-servicebus versino 7.0.2 but i m not able to find the open method.

[2021-04-08 05:53] ralphie97 opened #14797 "Receiving 403 AuthenticationFailed error instead of 400 Bad-Request!"
- **Package Name**: @azure/storage-blob, @azure/identity
- **Package Version**:  12.3.0, 1.2.0
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: v14.16.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: v1.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.mi

[2021-04-08 05:56] ramya-rao-a opened #14798 "[Service Bus] Sample needed for Topic Filters"
The section on [Rules and actions in docs for Service Bus](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-queues-topics-subscriptions#rules-and-actions) links to a sample that uses the older .NET package Microsoft.Azure.ServiceBus.

Ideally, there should be links to samples that use packages from all languages. This issue is to add a corresponding sample that uses the `@a

[2021-04-08 06:08] joheredi commented on #14784
Thanks for reporting @nnofa I have sent out a PR with a fix #14799

[2021-04-08 06:09] ramya-rao-a opened #14800 "[Service Bus] Sample needed for Dead Letter Queues"
The doc [Overview of dead letter queues](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues) links to a sample that uses the older .NET package WindowsAzure.ServiceBus

Ideally, there should be links to samples that use packages from all languages. This issue is to add a corresponding sample that uses the `@azure/service-bus` package so that it can be linke

[2021-04-08 09:01] RazYahkovnia commented on #14704
As I can see we are not losing data, but we are getting a lot of this errors. is there an update on that?

[2021-04-08 09:02] RazYahkovnia commented on #14161
@chradek Any update?

[2021-04-08 10:12] tudor33sud opened #14803 "Question: CosmosDb optimistic concurrency within stored procedures"
Hi,

I have a couple of questions related to stored procedures:

1. Assuming I am querying and replacing a document inside a stored procedure (within 3 seconds transaction), if another client updates one of the documents that I read inside the transaction, does optimistic concurrency control happens automatically and stored procedure is rejected,? I am using this async helper function to be found

[2021-04-08 14:45] drfbwilliams commented on #10645
Hi,
I was following along here:

https://docs.microsoft.com/en-us/javascript/api/overview/azure/keyvault-secrets-readme?view=azure-node-latest

This uses DefaultAzureCredential as well - if it isnt supported, why does this not say it right at the top in bright red text?

Further to @faraazhabeeb123 asking the question - I have a React TS app and I need to pull values from keyvault. Can someone on

[2021-04-08 17:19] MasDevProject commented on #14742
@EmmaZhu
I can fix it on my side, please just let me know when the fix will be published  :)

Thanks a lot!

[2021-04-08 17:29] witemple-msft commented on #14796
Yeah, this indeed looks like the reason. I'll need to review the smoke test logic and teach it how to find the nested samples.

[2021-04-08 17:31] zfoster commented on #14803
hey @tudor33sud, we'll look into this and get you some answers.

cc @southpolesteve

[2021-04-08 17:31] ramya-rao-a commented on #14788
@HarshaNalluru, @witemple-msft Is this due to the pending work in migrating the samples to the new framework? If so, will #14773 resolve this?

[2021-04-08 17:36] #14751 closed

[2021-04-08 17:47] HarshaNalluru commented on #14788
@ramya-rao-a No, this is unrelated. Samples v2 is not handled in the smoke tests pipeline logic yet.

All samples v2 will probably be skipped like this https://github.com/Azure/azure-sdk-for-js/issues/14796.

[2021-04-08 18:27] HarshaNalluru opened #14804 "[Smoke Tests] Service Bus samples have 2 levels and the 2nd level seems to be missing"
There are 8 samples at the `samples/typescript/src` level and 7 more at `samples/typescript/src/advanced` level.

- Of the 8 samples at the root level, 4 were skipped in package.json.
    ![image](https://user-images.githubusercontent.com/10452642/114077506-be2d8700-985c-11eb-9ac9-83a8fee37e1e.png)
  - The rest 4 are being run, here is a screenshot of the logs from smoke test pipeline.
    ![image

[2021-04-08 18:47] DominikMe commented on #14788
@lsundaralingam has OCE duty and is looking into root-causing the failures.

[2021-04-08 20:00] zfoster commented on #14214
hey @donaldduy-lb i have a working sample. Could you by chance paste me a couple items I can attempt to use to reproduce? I've tried with undefined partition key and with subject

[2021-04-08 20:12] donaldduy-lb commented on #14214
Nope that looks correct. I think the issue occurs specifically when the two items are inserted independently at the same time.
Perhaps something like 10 items that violate the unique key constraints and performing a Promise.all() on 10 independent calls to the stored procedure would better replicate my issue?

[2021-04-08 20:29] witemple-msft commented on #6821
Holding off on backporting the core-rest-pipeline shimming pattern and finally closing this ancient issue until we can resolve an issue that the new shims caused with ref doc publication. Moving to May.

[2021-04-08 20:32] jeremymeng commented on #14760
PR #14805

[2021-04-08 20:45] jeremymeng commented on #12997
This has been fixed.
![image](https://user-images.githubusercontent.com/7583839/114093983-9d6f2c80-9870-11eb-8174-e025232394cb.png)

[2021-04-08 20:45] #12997 closed

[2021-04-08 20:48] jeremymeng commented on #14365
PR #14750

[2021-04-08 21:29] donaldduy-lb commented on #14214
@zfoster You're right, I'm getting the error as well. This is so strange, I'm consistently experiencing unique key constraint violations in my production environment. Do you have any idea how else this could happen?

[2021-04-08 22:00] sadasant commented on #14295
I had this as blocking-release by mistake.

[2021-04-09 00:25] bluefooted commented on #11196
@qiaozha Are we OK to close this now? @NivedhaChellam has created a repair item for us to update the document.

[2021-04-09 01:18] ramya-rao-a commented on #12997
This is great to hear!

@jeremymeng Can we add a similar comment in #5796 just in case anyone lands there?

[2021-04-09 01:20] EmmaZhu commented on #14742
Just to add some explanation, we'd still like to keep the information in user-agent for other Frameworks. If your scenario doesn't care the OS information, you can directly remove the problematic code. For us, we'd need to figure out a way to fix it for all frameworks...

Thanks
Emma

[2021-04-09 01:20] ramya-rao-a commented on #14161
Hey @RazYahkovnia

Looks like we got looped in on the email thread with you on this issue. Let's use that for further Q&A and we can post the summary of findings in this issue once we get to a conclusion on what the issue is.

[2021-04-09 03:18] juancamilor commented on #12584
Hi @mountju,
On the bot framework integration, we have good news, we are currently working on the creation of a new bot channel specifically for ACS. We are planning the release of the first version around June this year.

For the realtime notifications constraint on node.js, we are currently looking at what prevents us (if anything) from supporting that feature in the server side, but there is no

[2021-04-09 07:45] nulltoken commented on #13481
@hectorhdzg :+1: Switching back @opentelemetry/api to 0.18.1 worked. Huge thanks!

[2021-04-09 10:05] zzhxiaofeng commented on #14739
@zfoster
issue 1:
It doesn't return any information when run the code. I print the response of read operation on non-existent item as following:
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/20970631/114147563-6588e780-994b-11eb-8431-afa279af1e42.png)
The response have the error status code `404`. However, it doesn't catch error here. if it doesn't catch error, it will not

[2021-04-09 14:03] #13733 closed

[2021-04-09 14:05] mabecth commented on #13481
@nulltoken And you don't get the #13798 problem?

[2021-04-09 14:57] mountju commented on #12584
Thank you very much for such great news and for the detailed information @juancamilor

[2021-04-09 15:12] #14470 closed

[2021-04-09 16:23] maorleger commented on #14653
Closing in favor of #13662 - did not realize an issue was already created

[2021-04-09 16:23] #14653 closed

[2021-04-09 16:26] maorleger commented on #13662
For reference you can see how we enabled this for KeyVault Keys here: https://github.com/Azure/azure-sdk-for-js/pull/14587

[2021-04-09 16:34] jeremymeng commented on #5796
Storage error code and message now appear at the top level after PRs  #12211, #12150, and #13192.

[2021-04-09 16:34] jeremymeng commented on #12997
Done

[2021-04-09 16:52] ramya-rao-a commented on #14457
Latest status:

Preview:

![image](https://user-images.githubusercontent.com/16890566/114214044-ad424b80-9918-11eb-9893-af0782d0ddfa.png)

Latest:

![image](https://user-images.githubusercontent.com/16890566/114214092-bcc19480-9918-11eb-930c-019f00ccec14.png)

- `@azure/communication-administration` is deprecated, but still appears under preview. This should be moved to appear under "legacy" or re

[2021-04-09 16:56] jeremymeng commented on #14448
Already fixed by #14492

[2021-04-09 16:56] #14448 closed

[2021-04-09 17:00] ramya-rao-a commented on #14312
@0rland0Wats0n, @DominikMe I realize that the phone numbers package is in preview. This issue should be resolved before it goes GA. Can you assign this issue to the right milestone where you expect to fix this?

[2021-04-09 17:06] ramya-rao-a commented on #9814
Done with https://github.com/Azure/azure-sdk-for-js/pull/14599

[2021-04-09 17:06] #9814 closed

[2021-04-09 17:06] jeremymeng commented on #14266
Yes, or we could just verify the test token credential's `getToken()` is called in the tests (need to send some request though while current verification don't need to).  @EmmaZhu can you please work on this?

[2021-04-09 17:13] KarishmaGhiya commented on #13387
We can close this issue now.

[2021-04-09 17:13] #13387 closed

[2021-04-09 17:13] KarishmaGhiya commented on #14437
We can close this issue

[2021-04-09 17:13] #14437 closed

[2021-04-09 17:15] ramya-rao-a commented on #14639
Huh... I reviewed all occurrences of `process.env.` in the samples files and I see all of them listed in our sample.env file except HTTPS_PROXY which is fine, because we do list HTTP_PROXY which is used in the same samples

Was there anything in particular you found missing?

[2021-04-09 17:22] diberry opened #14813 "How do I figure out apiVersion for @azure/arm-resources?"
- **Package Name**: @azure/arm-resources
- **Package Version**: 4.0.0
- **Operating system**: Windows
- [ ] **nodejs**
    - **version**: 12
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A clea

[2021-04-09 18:30] nulltoken commented on #13481
@hectorhdzg Thanks for following up. I haven't tried it yet since switching to 0.18.1. Will test and keep you updated.

[2021-04-09 18:50] HarshaNalluru commented on #14212
Done with #13956

[2021-04-09 18:50] #14212 closed

[2021-04-09 19:29] #14588 closed

[2021-04-09 19:30] jeremymeng commented on #14467
Done in #14750

[2021-04-09 19:31] #14365 closed

[2021-04-09 19:32] #14350 closed

[2021-04-09 21:00] LuChen-Microsoft commented on #14572
Thanks! Will fix them in doc

[2021-04-09 22:45] HarshaNalluru commented on #14789
Closing as @jeremymeng is working on fixing the pipeline with ENG SYS.

[2021-04-09 22:45] #14789 closed

[2021-04-09 22:45] HarshaNalluru commented on #14790
Closing as @jeremymeng is working on fixing the pipeline with ENG SYS.

[2021-04-09 22:45] #14790 closed

[2021-04-09 22:45] HarshaNalluru commented on #14791
Closing as @jeremymeng is working on fixing the pipeline with ENG SYS.

[2021-04-09 22:45] #14791 closed

[2021-04-09 22:46] HarshaNalluru commented on #14788
Closing as @jeremymeng is working on fixing the pipeline with ENG SYS.

[2021-04-09 22:46] #14788 closed

[2021-04-09 22:51] jeremymeng opened #14820 "[Communication] communication-chat smoke tests failure"
It failed to import @azure/communication-identity

![image.png](https://images.zenhubusercontent.com/5c51efcef73cf865af8994d5/1be44a60-7cac-4285-8bb0-5bc681dfdab0)

[2021-04-10 00:09] HarshaNalluru commented on #14639
Hmmm.. TOPIC_NAME, TOPIC_FILTER_SUBSCRIPTION_1, etc are not used but are present in the sample.env

[2021-04-10 00:11] HarshaNalluru commented on #14531
The streaming receiver is closed for sessions upon a disconnect.
Samples should take that into account.

[2021-04-10 00:50] KarishmaGhiya opened #14824 "Min-max testing readme to highlight testing procedure"
- Discuss with team if it's worth to have some sort of doc which documents how to run min-max locally, while onboarding sdks to min-max tests
- Also document the use of core-http in the tests - the tests affected communication-sms - and will affect other packages too - depending on how they use the interface

Passing in the options AS SmsClientOptions. This will help with the type inference
`let o

[2021-04-10 00:54] jeremymeng opened #14825 "Smoke test runner crashed when one sample is missing dependency"
would it be possible to log a failure for that sample, and continue to run other samples?

In the following failure, communication-chat samples' package.json is missing the required dependency `@azure/communication-identity`.

![image.png](https://images.zenhubusercontent.com/5c51efcef73cf865af8994d5/13de650b-70f1-46bc-b4d8-65a8eda2edb3)

[2021-04-10 00:55] KarishmaGhiya commented on #13603
This has been completed with the PR - https://github.com/Azure/azure-sdk-for-js/pull/14288 and https://github.com/Azure/azure-sdk-for-js/pull/14769

[2021-04-10 00:55] #13603 closed

[2021-04-10 01:02] #14820 closed

[2021-04-10 01:09] DominikMe commented on #14312
@ramya-rao-a Orlando has an open PR to enable smoke tests for phone numbers

I had worked with Azure Eng to add the right variable group to the smoke test pipeline so that our tests can use the static resource that we need to do phone number things. (We can't purchase new numbers all the time, hence the static resource workaround for live tests and smoke tests)

[2021-04-10 01:49] KarishmaGhiya commented on #12344
Crew discussion - we'll leave this as is

[2021-04-10 01:49] #12344 closed

[2021-04-10 01:53] KarishmaGhiya commented on #13380
https://github.com/Azure/azure-sdk-for-js/pull/14067 fixes the issue we had spoken about in the past. @jeremymeng  is there anything else you'd like to be addressed?

[2021-04-10 02:18] KarishmaGhiya commented on #14182
Possibly related PR - https://github.com/Azure/azure-sdk-for-js/pull/13599
@jeremymeng I faced the same issue as Daniel mentioned on node 12. Upgrading to node 14 helped. I see that your nvm has node 12 still. Another thing I wanted to follow up on was did you see this message -
[code]
I got this same error message.
What was your Internal error message?
Also we have recently cleaned up our pnpm lo

[2021-04-10 12:29] diberry opened #14828 "How do I figure out location values for arm resources?"
- **Package Name**:  @azure/arm-resources
- **Package Version**: 4.0.0
- **Operating system**: Win10
- [ ] **nodejs**
    - **version**: 12
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [X ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The ARM

[2021-04-10 14:41] MasDevProject commented on #14742
@EmmaZhu the bug is present running the library inside Electron 12.
The userAgent is: "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_1_0) AppleWebKit/537.36 (KHTML, like Gecko)/1.0.0 Chrome/89.0.4389.90 Electron/12.0.2 Safari/537.36"

[2021-04-12 02:07] qiaozha commented on #11196
@bluefooted added need author feedback label. which will automatically close this issue if the issue author doesn't have any objections in 7 days.

[2021-04-12 02:08] qiaozha commented on #14813
@colawwj Could you take a look at this issue? Thanks

[2021-04-12 03:47] #14572 closed

[2021-04-12 03:56] ramya-rao-a commented on #14312
Sounds good, will move this issue to the May milestone

[2021-04-12 04:00] ramya-rao-a commented on #14639
Ah! You were thinking of unused variables in .env file and I was thinking of missing variables in .env file :)
The topic filter one was used by the topic filter sample which we removed at some point when working on v7
In #14798, we will be bringing it back!

I don't see any other variables that are unused. So, lets use #14798 to clean up the TOPIC related env variables

[2021-04-12 04:00] #14639 closed

[2021-04-12 04:00] ramya-rao-a commented on #14798
Note: Please use this issue to also clean up the sample.env file as discussed in #14639

[2021-04-12 06:52] tudor33sud commented on #14803
@zfoster  while you are at it, may I also ask how clients are supposed to handle stored procedure errors? It seems to me that other than a substatus, you cannot send any custom message back to the client.

Supposing I have a use case where I insert N items inside in a transaction, if one of the item fails for let's say unique policy violation, what is your recommended way of letting the client kno

[2021-04-12 07:24] tudor33sud opened #14831 "Blob ClientSide Encryption for JS sdk"
**Is your feature request related to a problem? Please describe.**
Issue is coming from the deprecated Repo. I will copy paste my text message from there.

**Describe the solution you'd like**
Client side blob encryption added in the JS sdk as it is already implemented in .NET, Java .

**Describe alternatives you've considered**
No workaround

**Additional context**

https://github.com/Azure/azure

[2021-04-12 08:09] colawwj commented on #14813
@diberry
I found that you set ```resourceType``` to ```parameters.kind```. Since it's designated as  ```Microsoft.CognitiveServices/accounts``` in template,you can change it into ```accounts``` and run code again.
Sample code:
[code]
**response**

[code]

[2021-04-12 11:12] debottam31 commented on #8762
I am still facing the same issue, and I am using @azure/cosmos: ^3.9.5 and @azure/storage-blob: ^12.5.0
I am using express and typescript and getting the same error with the function createIfNotExists
@beth-panx @southpolesteve

[2021-04-12 13:09] diberry commented on #14813
@colawwj Thank you for the fix. Now that I know what the issue with the code was, I believe there is both a doc bug and an sdk bug:

1) [doc bug](https://docs.microsoft.com/en-us/javascript/api/@azure/arm-resources/resources?view=azure-node-latest#beginCreateOrUpdate_string__string__string__string__string__string__GenericResource__msRest_RequestOptionsBase_) - explain possible values for resourceT

[2021-04-12 13:11] diberry commented on #14813
The original issues stands too - how are customers expected to find the apiVersion?

[2021-04-12 15:34] hdavidzhu commented on #11196
Just so I understand, this will be in-the-works? Looking at the [docs](https://docs.microsoft.com/en-us/rest/api/sqlvm/sqlvirtualmachines/listbyresourcegroup) just now, I don't see it updated.

Thanks!

[2021-04-12 16:03] diberry opened #14833 "How can I create a service principal or other app registrations with SDK?"
I can create a service principal with the portal, Azure CLI, and Powershell. How can I do it with the Azure SDK for JS?

[2021-04-12 16:08] sadasant commented on #14403
It's not possible to make this happen for GA. Moving this out of the May milestone.

[2021-04-12 16:17] sadasant commented on #13557
Pushed to June since time is running out and we'll likely not have budget for this.

[2021-04-12 17:23] ramya-rao-a commented on #14833
@qiaozha, Are you aware of any mgmt plane SDK that can do this?

[2021-04-12 17:29] joshfree commented on #14582
@g2vinay could you give an update on this?

[2021-04-12 17:32] #14548 closed

[2021-04-12 17:35] HarshaNalluru commented on #13842
Done with #13770

[2021-04-12 17:35] #13842 closed

[2021-04-12 17:39] zfoster commented on #14214
@donaldduy-lb if you're having trouble reproducing, you could consider filing a support ticket. We may eventually reproduce in the SDK but the SDK doesn't really do anything here, if the backend is capable of inserting multiple items which violate a unique key policy, I suspect nothing we can change in the SDK will fix that issue.

[2021-04-12 17:52] christothes opened #14837 "Add support for tenant discovery in ClientCredentials"
Currently, for services that return challenges which include context about the tenant that can service a failed service request, such as `authorization_url`,
 Azure.Identity does not utilize this information to request a new token with the correct tenantId.

 This is a proposal to enhance Azure.Identity to make it possible for service clients to interpret challenges to request tokens for the corre

[2021-04-12 18:00] ramya-rao-a commented on #14535
Hey @bdelville

Apologies for the late response here.

Do you mean to say that you are now running with all logs activated?

Without client side logs, there is not much we can do.

If you have the timestamp on when this happened, you can log an Azure support case where the support folks can then look at service side logs to see if there was anything unexpected that happened during that time on you

[2021-04-12 18:16] #14267 closed

[2021-04-12 18:16] #14375 closed

[2021-04-12 18:21] bluefooted commented on #11196
@hdavidzhu Yes we have filed an internal tracking item to get the documentation updated.

[2021-04-12 18:25] jeremymeng commented on #14825
It was a missing dependency that got fixed in #14823.  However, this issue is more about error recovery when similar happens again so we could have some failures and rest of tests running fine.

[2021-04-12 18:29] #13136 closed

[2021-04-12 18:59] joheredi opened #14842 "[Tables] Investigation to use Temporal and BigInt"
Currently the Tables SDK doesn't serialize Date and Int64 data types to avoid losing precision as the service supports a different precision than JS Date and Number types.

This issue tracks the work for investigating and prototyping a solution to use Temporal and BigInt  to enable serialization of Edm.DateTime and Edm.Int64