[2022-03-10 03:40] MaryGao commented on #20688
@beyerleinf Thanks for reporting this! The reason is that the `options` parameter to `beginEnableCustomHttpsAndWait` can't be optional as the `customDomainHttpsParameters` property is required. So both the `options` and `customDomainHttpsParameters` need to be made required, or have a default value.  This is similar to [this one](https://github.com/Azure/azure-sdk-for-js/issues/11567). But when we

[2022-03-10 03:53] Raveen-Aderant opened #20758 "Cannot update Search Index that has charFilters and/or tokenFilters"
- **Package Name**: @azure/search-documents
- **Package Version**: 11.2.1

- Is the bug related to **documentation** in
https://docs.microsoft.com/en-us/javascript/api/@azure/search-documents/searchindexclient?view=azure-node-latest#@azure-search-documents-searchindexclient-createorupdateindex

**Describe the bug**
Unable to update search index via createOrUpdateIndex if the index has charFilters

[2022-03-10 05:50] EmmaZhu commented on #20490
Thanks Arne.  We've opened a task to updated the REST API references for it.

[2022-03-10 05:51] EmmaZhu commented on #20490
Further assistant needed, please feel free to reopen the issue.

[2022-03-10 05:51] #20490 closed

[2022-03-10 05:53] EmmaZhu commented on #20627
Hi Ben, I'm trying to repro the issue. It requires to reboot after installing docker. Due to COVID-19, we are working from home now. I'll go to office to reboot my desktop today.

[2022-03-10 07:37] EmmaZhu commented on #20627
Hi Ben, got an error like following when trying to start the container:
`Error response from daemon: Ports are not available: listen tcp 0.0.0.0:3700: bind: An attempt was made to access a socket in a way forbidden by its access permissions.`

Should I update any config?

[2022-03-10 08:45] EmmaZhu commented on #20716
Sample for file-datalake is here: https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/storage/storage-file-datalake/samples/v12/javascript.

Could you share the document which is using the sample link?

[2022-03-10 08:49] chandankumarzf commented on #20716
please check this link - https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/storage/storage-file-datalake/samples/javascript

and this is document link - https://docs.microsoft.com/en-us/javascript/api/overview/azure/storage-file-datalake-readme?view=azure-node-latest ,checkout at last more code example section

[2022-03-10 14:55] indoben commented on #20627
@EmmaZhu In the docker-compose.yml file on line 16, you can change the port (the first number) that this service is being mapped to on your local machine. It sounds like something else is running on this port already.

[2022-03-10 18:24] jeremymeng commented on #6133
@praveenkuttappan could you please check whether we still need this?

[2022-03-10 18:24] jeremymeng commented on #5096
Closing this as the fabric bot assigns areas now.

[2022-03-10 18:24] #5096 closed

[2022-03-10 18:28] jeremymeng commented on #10095
As we are moving to track 2, we may not need this any more.

[2022-03-10 18:39] HarshaNalluru opened #20773 "[dev-tool] Running samples with "execute:samples" sequentially"
`"execute:samples"` loads the samples one after the other but doesn't wait for their completion, making the samples run in parallel.

Ask of this issue is to provide a new option or a flag to allow running samples in order instead of parallel.

This might help with the CI-only failure investigation at https://github.com/Azure/azure-sdk-for-js/pull/20522

[2022-03-10 18:39] azure-sdk commented on #20773
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.2397814,Service Bus:0.09383923,Event Hubs:0.049250294'

[2022-03-10 19:13] HarshaNalluru opened #20774 "[Form Recognizer] Renaming properties"
Message from @kinelski

[2022-03-10 19:13] azure-sdk commented on #20774
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.16680437,Azure.Core:0.097498246,azure-spring:0.085774936'

[2022-03-10 19:16] jeremymeng commented on #20545
You are right! I will merge my PR #20577.

[2022-03-10 22:47] KarishmaGhiya commented on #20286
fIXED WITH https://github.com/Azure/azure-sdk-for-js/pull/20702

[2022-03-10 22:47] #20286 closed

[2022-03-10 23:00] HarshaNalluru opened #20778 "[core-rest-pipeline] Retry logic doesn't honor abort signal"
Retry logic in core-rest-pipeline doesn't honor abort signal.

Found while investigating https://github.com/Azure/azure-sdk-for-js/pull/20766

TODO: Should take abortsignal into account while adding delays in the retry logic.

/cc @jeremymeng @sadasant @xirzec

[2022-03-10 23:00] azure-sdk commented on #20778
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Logic App:0.5218872,Azure.Identity:0.10023784,Azure.Core:0.06827206'

[2022-03-10 23:43] deyaaeldeen opened #20779 "[Schema Registry Avro] Test different schemas with Event Hubs"
Mainly add infrastructure for rountripping with event hubs for different schemas so that we can test consistency across languages.

[2022-03-11 00:21] #20774 closed

[2022-03-11 01:35] jeremymeng opened #20787 "[Core][React-Native] FetchHttpClient is not working"
It looks that streaming is not supported in React-Native's Fetch implementation. We are not able to get bodyAsText from the response body.

Current workaround is to have a copy of `xhrHttpClient` and pass it via client options.

We could use some polyfill but it involves a bunch of other polyfill too, and also requires passing a non-standard option to the Fetch api.

https://www.npmjs.com/package/

[2022-03-11 03:15] WeiJun428 commented on #15746
@jeremymeng I wonder if there is a good way to track the progress of enable linting readme in all sdk? Something like a list or checkbox of all to-be-fixed sdk?

[2022-03-11 04:02] #20233 closed

[2022-03-11 04:11] #20779 closed

[2022-03-11 09:33] zedy-wj opened #20802 "[Event Hubs]The integration test AzureNamedKeyCredential and AzureSASCredential failed in all clouds."
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error description:**
Tests [`AzureNamedKeyCredential`](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/eventhub/event-hubs/test/public/auth.spec.ts#L102-L178) and [`AzureSasCredential`](https://github.com/Azure/azure-sdk-for-

[2022-03-11 17:56] jeremymeng opened #20806 "React-Native support"
This tracks investigation and development towards supporting React Native in JS SDK libraries. Work includes

* Necessary SDK code changes
* Samples and documentation for customer

[2022-03-11 17:58] jeremymeng opened #20807 "[React-native support] Test coverge"

[2022-03-11 17:58] azure-sdk commented on #20806
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.2598161,Storage:0.17497268,Azure.Core:0.08992475'

[2022-03-11 17:58] azure-sdk commented on #20807
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.14622208,Container Instances:0.09056026,Recovery Services:0.07465235'

[2022-03-11 17:59] jeremymeng opened #20808 "[React Native support] Merge the text-analytics sample"
Complete and merge Chris's draft PR of react native Text Analytics sample

[2022-03-11 18:06] jeremymeng commented on #15746
@WeiJun428 good question!  We don't have inventory of non-generated SDK libraries.  Let me double check to see if I can find anything helpful.  The main goal of this work is helping SDK customers who copy and paste code. It doesn't really apply to internal tools so we don't need to enable this rule for them.

[2022-03-11 19:40] jeremymeng opened #20810 "[EngSys] we should use consistent versions for our dev dependencies as much as possible"
since now we don't enforce the consistent versions in rush settings, various version numbers started floating around.  For runtime dependencies, different library might have needs to depend on different version, but for dev dependencies ideally we should use the same version.  We probably want to standardize on the semver ranges: e.g.,

^x.0.0
~x.x.0

[2022-03-11 20:02] #19234 closed

[2022-03-11 20:28] jeremymeng commented on #15746
@weiThe list below should be pretty close

- [ ] `@azure/ai-anomaly-detector` - sdk/anomalydetector/ai-anomaly-detector
- [ ] `@azure/app-configuration` - sdk/appconfiguration/app-configuration
- [ ] `@azure/attestation` - sdk/attestation/attestation
- [ ] `@azure/communication-chat` - sdk/communication/communication-chat
- [ ] `@azure/communication-common` - sdk/communication/communication-common

[2022-03-11 20:35] beyerleinf commented on #20688
Thanks for getting back, @MaryGao! I will try that out next week.

[2022-03-11 20:36] #20778 closed

[2022-03-11 21:11] jeremymeng commented on #17827
Work completed.

[2022-03-11 21:11] #17827 closed

[2022-03-11 23:01] HarshaNalluru opened #20813 "[core-rest-pipeline] Throttling-retry-policy logic should include "retry-after-ms", "x-ms-retry-after-ms" headers as well"
Throttling retry policy logic should include "retry-after-ms", "x-ms-retry-after-ms" headers along with "Retry-After" header.

## What/Why?
This issue asks to add support for "retry-after-ms" and "x-ms-retry-after-ms" headers as well.
- Bridging this gap will make us consistent with "core" from other languages.
- And allows app-config to leverage the default retry policy directly as opposed to imp

[2022-03-11 23:03] HarshaNalluru commented on #20813
cc @jeremymeng @sadasant @xirzec @bterlson

[2022-03-11 23:43] bterlson commented on #20813
+1 seems good to support this in core.

[2022-03-11 23:44] deyaaeldeen opened #20814 "[Schema Registry Avro] Drop "MessageData" in method names"
@JoshLove-msft talked to the architects about simplifying method names back to just `serialize` and `deserialize`.

[2022-03-12 16:27] bobalong79 commented on #15421
Hi - I'm not able to test the usage details API right now but if you're planning on discontinuing the consumption API then I'll have to find a way to make it work! Thanks for letting me know.

[2022-03-12 16:27] #15421 closed

[2022-03-14 01:36] EmmaZhu commented on #20716
Hi @chandankumarzf ,

We've changed folder path for the sample codes, link should be updated with a new version package released.
The links in the document you shared (https://docs.microsoft.com/en-us/javascript/api/overview/azure/storage-file-datalake-readme?view=azure-node-latest ) works fine, it uses sample path specified to that version: https://github.com/Azure/azure-sdk-for-js/tree/@azure/st

[2022-03-14 03:31] EmmaZhu commented on #20627
Hi @indoben ,

I still cannot get the docker work, so I tried to run the project directly from local machine. Since busboy only support to upload file with a submit form, so I made some change to return a form. I can successfully uploaded a 200+MB file. The issue is most likely not in the SDK.

Thanks
Emma

[2022-03-14 10:20] alexg-axis opened #20824 "Cosmos DB upsert documentation inaccurate - does not support partition key"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.15.1
- **Operating system**: macOS
- [x] **nodejs**
    - **version**: 14.18.3
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.6.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A cl

[2022-03-14 10:23] alexg-axis commented on #20824
Current workaround is to use the batch API instead:

[code]

[2022-03-14 17:18] jeremymeng commented on #15961
Closing as this tracks work till March.

[2022-03-14 18:07] HarshaNalluru commented on #16118
Handling as part of #20781 and https://github.com/Azure/azure-sdk-for-js/pull/20766

[2022-03-14 18:21] sadasant commented on #20347
IMPORTANT: The property name picked in .NET is: `DisableAuthorityValidationSafetyCheck`.

[2022-03-14 18:31] maorleger opened #20828 "Add coverage for application insights"
Consider issues that only occur when application-insights is enabled such as:
- https://github.com/Azure/azure-sdk-for-js/issues/20690
- https://github.com/Azure/azure-sdk-for-js/issues/17471
- https://github.com/Azure/azure-sdk-for-js/issues/18260

Since we do not include applicationinsights in our smoke tests, integration tests, etc. we have missed some compatibility issues leading to costly inv

[2022-03-14 19:03] ankuratudemy commented on #20161
We are having the exact same issue. Using azure-search-client and seeing random dns resolution issues.

[2022-03-14 19:08] xirzec opened #20831 "[core-rest-pipeline] Support resettable streams"
Currently our request body takes `NodeJS.ReadableStream | ReadableStream<Uint8Array>` - but we should also support passing a resettable stream (i.e. `() => ReadableStream`)

This also helps reduce a gap from `core-http` migration

[2022-03-14 20:29] jeremymeng opened #20832 "Azure Service Bus Commitments for JS (April 2022 - September 2022)"

[2022-03-14 20:34] AriZavala2 commented on #20542
Added new version which should fix this issue. Seems the last builds since this was checked in are healthy.
https://github.com/Azure/azure-sdk-for-js/pull/20692

Closing the Issue.

[2022-03-14 20:34] #20542 closed

[2022-03-14 20:51] #15957 closed

[2022-03-14 20:52] #15960 closed

[2022-03-14 20:57] jeremymeng opened #20833 "Azure Core Fundamentals for JS (April 2022 - September 2022)"

[2022-03-14 20:57] azure-sdk commented on #20833
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3954939,Storage:0.045235015,Functions:0.030329706'

[2022-03-14 22:41] maorleger opened #20834 "[instrumentation] - consider renaming AZURE_HTTP_TRACING_DISABLED"
The scenario now makes perfect sense but yes I was confused by the name.

Maybe `AZURE_HTTP_TRACING_CHILDREN_DISABLED` or something?

_Originally posted by @xirzec in https://github.com/Azure/azure-sdk-for-js/pull/20776#discussion_r826428637_

[2022-03-14 22:43] maorleger opened #20835 "[core-util] - Add function to convert environment variable to boolean"
Consider Adding a `isEnvBooleanTrue` or something along those lines to @azure/core-util so that we can handle truthy-ness of environment variables in a consistent way.

Treat the empty string as `false`
Treat undefined as `false`
Treat the strings "false", "FALSE", "FaLsE" (etc.), and "0" as `false`

Open questions:
- Should this function just take a string and convert it to boolean or should it a

[2022-03-14 22:43] azure-sdk commented on #20835
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.311302,Azure.Identity:0.26307535,Cosmos:0.09530021'

[2022-03-14 23:32] #20813 closed

[2022-03-15 01:48] zedy-wj commented on #20675
@benbp, @ramya-rao-a, @AlexGhiondea, @dw511214992, @maorleger - Do you have any suggestion?

[2022-03-15 02:51] v-jiaodi opened #20839 "[Schema Registry - Avro] With messaging clients Event Hub Serialize with `Schema` failing in nightly runs"
Schema Registry - Avro nightly test runs are failing with:

    at handleErrorResponse$2 (core/core-client/src/deserializationPolicy.ts:261:4)
    at deserializeResponseBody$2 (core/core-client/src/deserializationPolicy.ts:172:21)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1429525&view=results

[2022-03-15 02:53] v-jiaodi opened #20840 "[Service Bus] Streaming Receiver Tests UnpartitionedSubscription failing in nightly runs"
Service Bus nightly test runs are failing with:

    at Object.should.equal (/Users/runner/work/1/s/common/temp/node_modules/.pnpm/chai@4.3.6/node_modules/chai/lib/chai/interface/should.js:98:35)
    at testConcurrency (/Users/runner/work/1/s/sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts:736:14)
    at runNextTicks (node:internal/process/task_queues:61:5)
    at processTimers

[2022-03-15 04:09] indoben commented on #20627
@EmmaZhu Thanks for taking a look, what did you mean by "made some change to return a form"?

[2022-03-15 08:34] v-xuto commented on #15473
@sajeetharan , @kushagraThapar , @simorenoh Is there any progress on this issue so far?

[2022-03-15 15:06] sajeetharan commented on #15473
@v-xuto Not yet, Thanks for notifying again, We will investigate and update the progress here

[2022-03-15 17:09] TylerDurham commented on #11301
any update?

[2022-03-15 17:21] #17969 closed

[2022-03-15 17:25] danielortega-msft opened #20871 "[Communication] - short-codes - Migrate to `@azure-tools/test-recorder` V2"
Migrate the `communication-short-codes` package tests to use the new `@azure-tools/test-recorder` implementation, which replaces the existing nock/nise-based recorder with a solution that uses the language-agnostic test proxy server. For more details, see: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/MIGRATION.md.

You can also get inspired by the other ACS modalitie

[2022-03-15 17:25] azure-sdk commented on #20871
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.3017539,Azure.Core:0.24326132,Storage:0.044237006'

[2022-03-15 18:46] #20525 closed

[2022-03-15 18:47] HarshaNalluru commented on #16452
![image](https://user-images.githubusercontent.com/10452642/158449706-182b4d04-2062-4b08-8d2b-74dc91b66ebe.png)
2 seconds seems fine, hence closing.

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1362826&view=logs&j=7e17f77e-2815-52ab-caf2-e231a45542b7&t=2fd39703-6caf-5836-7b9d-598e61e479d7&l=184

[2022-03-15 18:47] #16452 closed

[2022-03-15 18:48] witemple-msft commented on #16452
Great to see improvements to the test process paying off like this.

[2022-03-15 19:22] HarshaNalluru commented on #20414
Closing since we don't see this in the recent runs in the CI.
Will revisit and let the service team know if we ever hit it again in the CI.

[2022-03-15 19:22] #20414 closed

[2022-03-15 22:51] deyaaeldeen commented on #19476
Closed

[2022-03-15 22:51] #19476 closed

[2022-03-16 00:11] deyaaeldeen opened #20878 "Schema Registry Avro Serializer Library for JS - April Milestone"
For general summary and goals, please see:  [Azure Schema Registry Commitments (April 2022 - September 2022) [#3980]](https://github.com/Azure/azure-sdk/issues/3980).  The work items linked to this issue herein represent the tasks needed to produce the JS Schema Registry Avro serializer library for the current milestone.

# Design, Review, and Planning

- [x] [Wrapping exceptions](https://github.c

[2022-03-16 00:13] deyaaeldeen opened #20879 "[Schema Registry Avro] Rename MessageWithMetadata to MessageContent"
And rename the `body` to `data`.

[2022-03-16 00:15] deyaaeldeen opened #20880 "[Schema Registry Avro] Drop the postfix "Message" in the adapter methods"
To simplify the names

[2022-03-16 02:16] MaryGao commented on #20570
We are investigating this issue

[2022-03-16 07:16] dw511214992 commented on #20147
@xiangyan99 have you synced with @sarangan12 ? If yes, could you create a new issue in https://github.com/Azure/autorest.typescript/issues to track this feture request? Thanks

[2022-03-16 07:50] MaryGao commented on #14186
@andrew-st-angelo-77media Is this issue still valid for you? Do you need to follow on it?

[2022-03-16 09:21] MaryGao commented on #20570
@bwateratmsft Thanks for reporting this! I reproduced this issue in my local and it's truly a swagger issue. I created a [s360 item](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1501350) for service team to fix it.

[2022-03-16 13:41] bwateratmsft commented on #20570
Thanks @MaryGao! Will the fix to the Swagger definition require a new `@azure/arm-appservice` package version or is it purely a service-side?

[2022-03-16 13:55] diiiiego83 opened #20886 "Cosmos: cannot change request consitency level due to a typo in code"
- **Package Name**:  @azure/cosmos
- **Package Version**: 3.14.1

**Describe the bug**
There is a typo here making the check always false:
https://github.com/Azure/azure-sdk-for-js/blob/d31a7b8a5430488e54e56c9eca1a270ab43c223a/sdk/cosmosdb/cosmos/src/documents/DatabaseAccount.ts#L77

**body.UserConsistencyPolicy** should be changed to **body.userConsistencyPolicy** with the u of user lowercase

Th

[2022-03-16 16:04] maorleger opened #20887 "Aggregate Reports - PoliCheck analysis failing for arm-appservice-profile-2020-09-01"
Looks like arm-appservice-profile-2020-09-01 introduces a few terms that have been flagged by Policheck.

## Errors

[code]

Specifically, it looks like whitelist is correctly identified by policheck as a problematic term that we should reconsider.

## Build URL

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1437233&view=results

## What to do

1. Decide whether the term can be c

[2022-03-16 16:59] sadasant commented on #20675
@benbp I don’t know at the moment. I wonder if we could get some logs. On the surface, this seems to be more related to the state of the Key Vault service at the moment the sample was executed, rather than something tied with authentication.

[2022-03-16 17:05] maorleger commented on #20675
I agree with @sadasant - I think either the samples need updating or the samples should run serially. If it's a conflict _between_ samples: Ideally samples should not conflict though so I would prefer to fix the sample itself instead of depending on ordering...

Either way, I will have to investigate but my bandwidth is pretty limited at this time so I haven't been able to look at this yet

[2022-03-16 17:24] sadasant commented on #20461
If the correct approach is to throw if both are provided, we currently do that. I believe this is the correct approach based on the conversations we’ve had on our weekly meetings. Should we close this issue?

[2022-03-16 17:28] EmmaZhu commented on #20627
@indoben , I changed the get event to be like:

[code]

Thanks
Emma

[2022-03-16 17:39] HarshaNalluru commented on #20675
@benbp I agree that this is not the same browser issue that was seen in formrecognizer here https://github.com/Azure/azure-sdk-for-js/pull/20522.

But in the same formrecognizer PR #20522, we see samples failure in the China Cloud only, and that too in the CI only(doesn't occur on local).
To me, the error seemed to appear when the requests are made to the service in parallel(in China Cloud) upon t

[2022-03-16 18:00] JoshLove-msft opened #20890 "[FEATURE REQ] Add ability to manage rules with the ServiceBusReceiver"
This existed in Track 1, and allowed users with only Listen claims to manage rules on the subscription that they had listen claims for. In Track 2, this can be done using the ServiceBusAdministrationClient, but it requires Manage claims.

.NET issue - https://github.com/Azure/azure-sdk-for-net/issues/25523
.NET PR - https://github.com/Azure/azure-sdk-for-net/pull/27346

[2022-03-16 18:05] sadasant commented on #20461
Ok we chatted on teams and this issue is done. I’ll close it.

[2022-03-16 18:05] #20461 closed

[2022-03-16 18:16] sarangan12 commented on #20147
Yes. I have synched up with @xiangyan99. The gist of the conversation is:

1. We need to create a new Policy (name undecided yet) in the core-client package. This Policy will be very similar to the `bearerTokenAuthenticationPolicy` with some changes on the name of the header to use.
2. Once the Policy is created and a new core-client version is released, then we need to make some changes in the ge

[2022-03-16 19:11] deyaaeldeen opened #20892 "How to model Azure package dependencies"
Consider the following two packages p1 and p2 where p2 depends on p1 and the unpublished versions live in the main branch:

| package/version | published | unpublished |
|-----------------|-----------|-------------|
| p1       | 1.0.0     | 1.1.0       |
| p2       | 1.0.0     | 1.1.0       |

The open questions are:
1. which version of p1 should p2 depend on in the main branch?
  Depending on the

[2022-03-16 19:17] praveenkuttappan commented on #20892
1. p2 can depend on p1 ^1.0.0 or 1.1.0. If p2 depends on p1@1.1.0 or higher then p2 1.1.0 must be released before p1.
2. yes. This is what min max test does.
3. Release pipeline ensures required dependency is already available on npm. Why are we releasing p2 1.0.0 if that needs p1@1.1.0 and if p1@1.1.0 is not yet available?

[2022-03-16 20:09] balman opened #20894 "Cannot read an item in CosmosDB without a partition key"
- **Package Name**: @azure/cosmos
- **Package Version**: 13.15.1
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: 14.18.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [x] README.md
  - [x] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The

[2022-03-16 20:09] jeremymeng commented on #20802
Seems starting to fail after #20240. May be related to `sinon`

[2022-03-16 22:33] timovv opened #20898 "[Container Registry] `parseWWWAuthenticate` helper breaks when value contains a comma ','"
## Describe the bug

We have a [`parseWWWAuthenticate` helper](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/containerregistry/container-registry/src/utils/wwwAuthenticateParser.ts) which we use to parse a `WWW-Authenticate` header. For example,

[code]

would be parsed to give

[code]

However, when the value of one of the parameters in the header contains a comma, the rudimentary algor

[2022-03-16 22:36] timovv opened #20899 "[KeyVault] parseWWWAuthenticate helper breaks when value contains a comma ','"
This is a similar issue to ACR as it uses the same code (see #20898).

## Describe the bug

KeyVault has a [`parseWWWAuthenticate` helper](https://github.com/Azure/azure-sdk-for-js/blob/efd7194742815250347c0e4d26b87333804adcaa/sdk/keyvault/keyvault-common/src/parseWWWAuthenticate.ts) which we use to parse a `WWW-Authenticate` header. For example,

[code]

would be parsed to give

[code]

However,

[2022-03-16 22:38] maorleger commented on #20898
There's a very good likelihood Key Vault suffers from the same issue...

https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/keyvault/keyvault-common/src/parseWWWAuthenticate.ts#L42

[2022-03-16 22:40] timovv commented on #20898
Raised an issue for Key Vault as well: #20899 :)

[2022-03-17 01:53] MaryGao commented on #20570
It will be a new package version.

[2022-03-17 06:18] WeiJun428 commented on #15746
Thanks! @jeremymeng. I have tried to create a PR targeting that branch but I noticed that it also includes 12 other commits perhaps due to difference between the versions of repo that I fetch and the branch. Would that be an issue?

[2022-03-17 06:34] qiaozha commented on #20887
@maorleger Just out of curious there's whitelist being used in @azure/arm-appservice here https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/appservice/arm-appservice/src/models/index.ts#L707 why is not reported.

[2022-03-17 07:29] petrsvihlik commented on #18688
this has been done as a part of the migration to core v2 in #19043
fyi @danielortega-msft

[2022-03-17 07:54] petrsvihlik commented on #15814
- [x] ShortCodes @danielortega-msft
- [x] PhoneNumbers @danielortega-msft
- [ ] Identity @petrsvihlik
- [ ] SMS
- [ ] NetworkTraversal @AriZavala2

[2022-03-17 08:02] #19952 closed

[2022-03-17 09:38] qiaozha opened #20907 "[Mgmt] Samples update for all mgmt plane SDKs from track1 SDK/Node SDK to track2"
This issue is used to track the migration of samples updates for all mgmt plane SDKs from track1/Node SDK to track2 SDK.

[2022-03-17 09:39] azure-sdk commented on #20907
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.2820546,Cosmos:0.07952941,Azure.Core:0.053864084'

[2022-03-17 10:10] qiaozha commented on #20728
@nturinski I have identified the issue, it comes from the code generator, create an issue to track it https://github.com/Azure/autorest.typescript/issues/1342 I will work on the fix, once the fix is ready, we will refresh the SDK.

[2022-03-17 15:54] xirzec opened #20910 "[core-rest-pipeline] Move logging policy in default pipeline"
Currently, logging occurs after the retryPhase (and nominally after the tracing and redirect policies), but authentication (added by core-client) comes earlier.

However, now that we've added the `sign` phase after retry, an auth policy that uses this new phase in order to re-sign retried requests won't get logged. I feel like we should move the loggingPolicy into `afterPhase: "Sign"` to account f

[2022-03-17 15:55] azure-sdk commented on #20910
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.25389853,azure-spring:0.20232049,Storage:0.11080181'

[2022-03-17 17:11] deyaaeldeen commented on #20910
That makes sense to me!

I think it makes sense not to move it because otherwise we will be wasting time asking for new tokens after each retry unless the previous token expired for some reason.

[2022-03-17 17:18] jeremymeng commented on #15746
@WeiJun428 Let me see if I can update the feature branch to also include those changes.

[2022-03-17 17:36] joheredi commented on #20910
+1 on both points. We can move the logging policy and keep the default auth where it is now, shouldn't affect the auth path since 4xx errors are not retried anyway.

[2022-03-17 17:36] #20839 closed

[2022-03-17 18:14] craxal opened #20913 "Blank `NextRowKey` URL parameter leads to "invalid parameter" error responses"
- **Package Name**: @azure/data-tables
- **Package Version**: 13.0.1-alpha.20220103.2
- **Operating system**: N/A
- [X] **nodejs**
    - **version**: 16.3.1
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 4.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Desc

[2022-03-17 19:55] jeremymeng commented on #15729
@KarishmaGhiya is this already completed by you?

[2022-03-17 20:18] #20802 closed

[2022-03-17 22:40] JonathanCrd opened #20917 "[Metrics-Advisor] Add and implement `core-http-compat`"
This package has already migrated to Core V2 (`core-client` and `core-rest-pipeline`). However, this introduced many braking changes. In order to decrease the impact, `core-http-compat` was created.

We need to integrate this dependency in the package.
More information about the packages migration to Core V2 can be found in https://github.com/Azure/azure-sdk-for-js/issues/15594

[2022-03-17 22:49] JonathanCrd opened #20919 "[KeyVault Admin] Add and implement `core-http-compat`"
This package has already migrated to Core V2 (`core-client` and `core-rest-pipeline`). However, this introduced many braking changes. In order to decrease the impact, `core-http-compat` was created.

We need to integrate this dependency into the package.
More information about the migration to Core V2 can be found in https://github.com/Azure/azure-sdk-for-js/issues/15594

[2022-03-17 23:03] #16118 closed

[2022-03-18 00:28] JasonYeMSFT opened #20920 "[@azure/app-configuration] Incorrect typing for ConfigurationSettingParam or ListConfigurationSettingPage"
- **Package Name**: @azure/app-configuration
- **Package Version**: 1.3.1
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The typing of

[2022-03-18 01:41] danielortega-msft opened #20923 "Query parameters overwritten by default values in relative URLs"
The current version of the [Azure REST API Guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#collections) state that the `nextLink` property in collection responses should be an absolute URL. However, APIs released before this restriction was introduced (August 6, 2021; see related PR https://github.com/microsoft/api-guidelines/pull/264) may not be using absolu

[2022-03-18 05:56] v-jiaodi opened #20928 "[Metrics Advisor] [API Key] MetricsAdvisorClient Feedback creates Anomaly feedback failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:251:17)
    at deserializeResponseBody (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:159:43)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1441569&view=results

[2022-03-18 05:57] v-jiaodi opened #20929 "[Text Analytics] [AAD] TextAnalyticsClient fast tests #analyzeSentiment service has a bug when referencing assessments in doc #6 or greater failing in nightly runs"
Text Analytics nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\textanalytics\ai-text-analytics\test\public\textAnalyticsClient.spec.ts:133:20)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1442199&view=re

[2022-03-18 05:58] v-jiaodi opened #20930 "[Key Vault - Certificates] Execute Samples failing in nightly runs"
Key Vault - Certificates nightly test runs are failing with:

    "error": {
      "code": "CertificateNotFound",
      "message": "A certificate with (name/id) cert1647555157636 was not found in this key vault. If you recently deleted this certificate you may be able to recover it using the correct recovery command. For help resolving this issue, please see [https://go.microsoft.com/fwlink/?linki

[2022-03-18 06:00] v-jiaodi opened #20931 "[Aggregate-reports] Post Analysis (PoliCheck) failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

<img width="543" alt="image" src="https://user-images.githubusercontent.com/80496810/158945433-131eff2c-7436-4f6e-b5bc-2204ef32f690.png">

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1442300&view=results

[2022-03-18 12:50] ascended27 opened #20933 "[Policy Insights] Policy Events Query Options doesn't match Operation Spec"
In @azure/arm-policyinsights v5.0.0 the QueryOptions type provides fields for filtering records on a `to` date and a `from` date. The path to these when calling a function would be `options.queryOptions.from` and `options.queryOptions.to`. However, the OperationQueryParameter in src/models/parameters.ts defines the path for `from` as `options.queryOptions.fromParam`. Since the path for the from fi

[2022-03-18 12:51] azure-sdk commented on #20933
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.20105343,Storage:0.1497423,Monitor - ApplicationInsights:0.08711738'

[2022-03-18 13:52] nagendramishr opened #20934 "js web worker sample doesnt work"
- **Package Name**:
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A clear and concise description of what the b

[2022-03-18 15:13] mario-guerra opened #20936 "[FEATURE REQ] Enable Azure Table Storage cross-tenant support"
Library name
@azure/data-tables

Please describe the feature.
Customer description of issue:

We are trying to enable cross-tenant OAuth based access to customer Azure Tables from our application. As of now, to enable OAuth based Table access between cross-tenant Storage Accounts would require prior knowledge of both tenants. However, with Tenant Discovery enabled for Tables we wouldn’t need the p

[2022-03-18 15:19] maorleger commented on #20934
Hi @nagendramishr - thank you for creating this issue. To clarify, is this the sample you are referring to: https://github.com/Azure/azure-sdk-for-js/tree/main/samples/web-workers ?

[2022-03-18 15:22] nagendramishr commented on #20934
Yes:

***@***.***

From: Maor Leger ***@***.***>
Sent: Friday, March 18, 2022 11:20 AM
To: Azure/azure-sdk-for-js ***@***.***>
Cc: Nagendra Mishr ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-js] js web worker sample doesnt work (Issue #20934)

Hi @nagendramishr<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fnagendramishr&data=04%7C01%7CNagend

[2022-03-18 16:59] #20419 closed

[2022-03-18 18:04] xirzec commented on #20923
I'm reluctant to add more behavior to core for this considering we have fairly complex logic when it comes to query parameters already:

https://github.com/Azure/azure-sdk-for-js/blob/e62f7b86bec53242c71491d46049f02a1fecc353/sdk/core/core-client/src/urlHelpers.ts#L33

Furthermore, I don't think core itself should be reasoning about request payloads and trying to modify them - if anything this logi

[2022-03-18 18:09] maorleger opened #20938 "[linter] - investigate adding a linter rule for min/max testing"
Because of how min/max testing must work, any internal references in a test file will cause min/max testing to skip that file entirely. Unfortunately, the developer will not be aware this is happening.

In order to raise awareness to the issue of internal references (as in, not the top-level barrel / index file) we would like to investigate adding a linter rule that enforces this.

Assuming I have

[2022-03-18 18:27] deyaaeldeen commented on #20923
As a matter of principle, I think we should not overwrite existing values in any URL (relative or absolute) with default values and I wonder if implementing this principle could simplify our core logic somehow. We also seen issues related to violating that principle fairly frequently (most recently in https://github.com/Azure/azure-sdk-for-js/issues/20420 as well).

That being said, I agree with @

[2022-03-18 18:38] JonathanCrd opened #20939 "[Search Documents] Add and implement `core-http-compat`"
This package has already migrated to Core V2 (`core-client` and `core-rest-pipeline`). However, this introduced many braking changes. In order to decrease the impact, `core-http-compat` was created.

We need to integrate this dependency into the package.
More information about the migration to Core V2 can be found in https://github.com/Azure/azure-sdk-for-js/issues/15594

[2022-03-18 19:57] #20930 closed

[2022-03-18 19:59] dsab123 commented on #20933
Having the same issue as @ascended27

[2022-03-18 20:20] #17460 closed

[2022-03-18 20:20] #20502 closed

[2022-03-18 21:25] jeremymeng commented on #20910
Makes sense to me!  Just to help my understanding, logging policy will not be applied to to our default auth policy?

[2022-03-18 22:19] xirzec commented on #20910
Sort of, the way this works is we aren't going to list any auth headers/parameters as loggable:

https://github.com/Azure/azure-sdk-for-js/blob/dccf667a3a39f35a40c041e3c657ec079e09e466/sdk/core/core-rest-pipeline/src/policies/logPolicy.ts#L25

The current list is here: https://github.com/Azure/azure-sdk-for-js/blob/dccf667a3a39f35a40c041e3c657ec079e09e466/sdk/core/core-rest-pipeline/src/util/sanit

[2022-03-18 22:23] danielortega-msft commented on #20923
Thank you so much for your insight on this topic.

I agree that this appears to be more of an issue with the generated `OperationSpec`; it doesn't make sense to have `skip` and `top` as parameters for that operation since the URL is generated on the server-side. I did manually remove them in my local copy of the repository and that solved the issue. I will bring this up to the autorest team.

[2022-03-18 22:45] joheredi commented on #20923
@sarangan12, I think you were looking into this issue. I agree with Jeff and Deya on fixing this in the generator. I think the fix would probably be in the Mapper/OperationSpec generator where we drop any `queryParams` when generating the next operationSpec.

[2022-03-18 22:56] danielortega-msft commented on #20923
FYI, I just filed an issue in the autorest repo: https://github.com/Azure/autorest.typescript/issues/1347

[2022-03-18 23:40] mikeharder opened #20942 "[Perf] Command-line parser does not allow negative numbers"
The JS perf command-line parser does not allow negative numbers:

[code]

I know that negative values might not make sense for the `warmup` option, but it might be used for other options (`-1` is often used as a "magic number" to mean "unlimited").

[2022-03-21 02:40] qiaozha commented on #20933
This is a code generator bug. I am working on the fix.

[2022-03-21 08:02] #20378 closed

[2022-03-21 13:03] azure-sdk opened #20949 "Dependency package @opentelemetry/core has a new version available"
We have identified a dependency on version 1.0.1 of @opentelemetry/core. A new version (1.1.1) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such pack

[2022-03-21 17:09] JasonYeMSFT opened #20950 "[storage-blob] Interface of BlobItem breaking change in 12.9.0"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.9.0
- **Operating system**: all
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
We need to sup

[2022-03-21 17:44] maorleger commented on #18400
You can use https://github.com/Azure/azure-rest-api-specs/commit/e2ef44b87405b412403ccb005bfb3975411adf60 to regenerate from

[2022-03-21 18:12] HarshaNalluru commented on #20942
Thanks for reporting @mikeharder

[2022-03-21 18:13] HarshaNalluru commented on #20920
Thanks for reporting, @JasonYeMSFT. I will take a look.

[2022-03-21 19:42] #18471 closed

[2022-03-21 19:42] #17952 closed

[2022-03-21 20:18] christothes opened #20954 "Make "2019-08-01" API version of the App Service Managed Identity endpoint available"
Library name
Azure.Identity

Please describe the feature.
Make "2019-08-01" API version of the App Service Managed Identity endpoint appear before the older API version in the Managed Identity sources tried by the Managed Identity Credential.

[2022-03-21 21:40] #18400 closed

[2022-03-21 23:27] timovv opened #20957 "[core-rest-pipeline] Authorization header maintained after redirect"
I encountered this with ACR when working on the new OCI blob push/pull support. When downloading an OCI blob, the service initially responds with a `307 Temporary Redirect` pointing to a storage blob URL with a SAS token. Our client follows this redirect, but it also provides the bearer token used for the initial request in the Authorization header. The storage endpoint does not accept this token

[2022-03-22 01:00] #20466 closed

[2022-03-22 01:28] KarishmaGhiya commented on #15729
yes it is completed during MQ last year.

[2022-03-22 01:28] #15729 closed

[2022-03-22 03:29] KarishmaGhiya commented on #20954
Fixed by #20789

[2022-03-22 03:29] #20954 closed

[2022-03-22 03:43] zedy-wj commented on #20447
@deyaaeldeen - How is the progress so far?

[2022-03-22 04:15] v-jiaodi opened #20960 "[Communication - Chat] Deploy test resources failing in nightly runs"
Communication - Chat nightly test runs are failing with:

Line |
 732 |          $deployment = Retry {
     |                        ~~~~~~~
     | Exception calling "Invoke" with "0" argument(s): "The running
     | command stopped because the preference variable
     | "ErrorActionPreference" or common parameter is set to Stop:
     | 6:25:04 PM - The deployment 'ta4be3f2b43d54a9b' failed with

[2022-03-22 04:15] v-jiaodi opened #20961 "[Communication - Network Traversal] CommunicationNetworkingClient [Playback/Live] successfully gets a turn credential failing in nightly runs"
Communication - Network Traversal nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/communication/communication-network-traversal/test/public/communicationNetworkTraversalClient.spec.ts:141:14)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?b

[2022-03-22 04:16] v-jiaodi opened #20962 "[Communication - Phone Numbers] PhoneNumbersClient - get phone number failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:251:17)
    at deserializeResponseBody (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:159:43)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.co

[2022-03-22 04:16] v-jiaodi opened #20963 "[Service Bus] shared receiver code retryForever respects retry options failing in nightly runs"
Service Bus nightly test runs are failing with:

    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/servicebus/service-bus/test/internal/unit/receiverCommon.spec.ts:350:14)
For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1447597&view=results

[2022-03-22 04:16] azure-sdk commented on #20960
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.18806878,Service Bus:0.18323283,ARM:0.052411392'

[2022-03-22 05:46] deyaaeldeen opened #20965 "[Schema Registry Avro] Perform cross-language testing"
Receive Event Hubs messages sent by other languages with serialized payloads and make sure the JS serializer can deserialize them to expected values.

[2022-03-22 14:44] maorleger commented on #20934
Just following up here - it looks like `SharedArrayBuffer` has been turned off by most modern browsers. JSDOM uses webidl-conversions which is where this error comes from (source: https://github.com/jsdom/webidl-conversions/issues/38). An article about why `SharedArrayBuffer` has been disabled is posted here: https://developer.chrome.com/blog/enabling-shared-array-buffer/

In short, we will need t

[2022-03-22 15:13] azure-sdk opened #20973 "Dependency package yaml has a new version available"
We have identified a dependency on version 1.10.2 of [yaml](https://www.npmjs.com/package/yaml). A new version (2.2.2) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root f

[2022-03-22 15:14] azure-sdk commented on #20973
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3002148,Service Bus:0.1532595,Azure.Identity:0.056179903'

[2022-03-22 15:32] praveenkuttappan opened #20974 "Labels are removed from dependency upgrade issues"
Azure-sdk bot file issues automatically when it finds a new version of external package as available option. If bot finds an existing issue for that package it will update the issue with latest version available if that mismatch with the recommendation in the issue. bot incorrectly removes all manually assigned label when updating existing issues.

[2022-03-22 17:44] sadasant commented on #20347
Since I’ll revert the PR we did, I’m re-opening this issue.

[2022-03-22 18:06] HarshaNalluru opened #20977 "[Service Bus] Perf Test for "subscribe" method"
https://github.com/Azure/azure-sdk-for-js/pull/18859 added perf framework for the subscribe method along with the perf tests for
- the subscribe method offered by the service-bus receiver(track 2)
- mock receiver with subscribe method similar to service-bus receiver

TODO
- [ ] Add perf test for the subscribe method offered by the service-bus receiver(track 1)
(for comparison)

[2022-03-22 18:10] HarshaNalluru opened #20978 "[Event Hubs] Perf Test for "subscribe" method"
https://github.com/Azure/azure-sdk-for-js/pull/18859 added perf framework for the subscribe method along with the perf tests for
- the subscribe method offered by the event-hubs receiver(track 2)
- mock receiver with subscribe method similar to event-hubs receiver

TODO
- [ ] Add perf test for the subscribe method offered by the event-hubs receiver(track 1)
(for comparison)

[2022-03-22 18:26] maorleger opened #20980 "[opentelemetry] - Revisit semver ranges for OTel packages"
Due to the way OTel does peer dependencies we have tightened up the semver range in opentelemetry-instrumentation package.

At the least, we should revisit that decision and make sure it's the right long term range.

See here for context on why we did it:

- Original PR: #20144
- OpenTelemetry bug: https://github.com/open-telemetry/opentelemetry-js/issues/2753

It does sound like Otel have fixed t

[2022-03-22 18:43] praveenkuttappan commented on #10095
Closing this issue based on the discussion with @jeremymeng earlier. We don't need this change in track1 release pipeline.

[2022-03-22 18:43] #10095 closed

[2022-03-22 19:05] pallavit commented on #20957
Hi @jeremymeng our redirect policy is not removing the auth token. I have not tested this scenario, let me try it out and get back to you.

[2022-03-22 21:17] #20965 closed

[2022-03-22 22:14] HarshaNalluru commented on #20497
@sadasant resolved this

[2022-03-22 22:14] #20497 closed

[2022-03-22 22:31] SvenAeltermanInfo opened #20984 "[Container Instance] Setting IP address to 'Private' requires a network profile, but network profiles are deprecated"
- **Package Name**: @azure/arm-containerinstance
- **Package Version**: 8.0.0
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 16
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.6.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2022-03-22 22:31] azure-sdk commented on #20984
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Container Instances:0.15297927,Network:0.13898627,Cosmos:0.104849234'

[2022-03-22 22:33] HarshaNalluru commented on #6484
https://github.com/Azure/azure-sdk-for-js/pull/20817

[2022-03-22 22:33] #6484 closed

[2022-03-22 22:34] HarshaNalluru commented on #17995
@jeremymeng  Can you use this migration guide https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/MIGRATION.md
and try migrating the ATOM management tests to use the new recorder?

[2022-03-22 22:37] HarshaNalluru commented on #18005
Use this migration guide https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/MIGRATION.md and try migrating the tests to use the new recorder.

And please reach out if you have feedback or for any blockers.

[2022-03-22 22:38] HarshaNalluru commented on #18003
Use this migration guide https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/MIGRATION.md and try migrating the tests to use the new recorder.

And please reach out if you have feedback or for any blockers.

[2022-03-22 22:38] HarshaNalluru commented on #18002
Use this migration guide https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/MIGRATION.md and try migrating the tests to use the new recorder.

And please reach out if you have feedback or for any blockers.

[2022-03-22 22:39] HarshaNalluru commented on #18009
Search documents was done! 🙂

[2022-03-22 22:39] #18009 closed

[2022-03-22 22:43] HarshaNalluru commented on #18001
Use this migration guide https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/MIGRATION.md and try migrating the tests to use the new recorder.

And please reach out if you have feedback or for any blockers.

[2022-03-22 22:44] HarshaNalluru commented on #17997
Use this migration guide https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/MIGRATION.md and try migrating the tests to use the new recorder.

And please reach out if you have feedback or for any blockers.

[2022-03-22 22:44] pallavit commented on #20957
I tested the scenario and I can confirm we have the same issue as JS. Java does not remove the authentication header. Redirects should remove authentication header for security reasons https://stackoverflow.com/questions/28564961/authorization-header-is-lost-on-redirect#:~:text=Most%20HTTP%20clients%20(by%20default,disclose%20your%20authorization%20token%20to. Relevant .Net issue - https://github.

[2022-03-22 23:29] xiangyan99 opened #20985 "Move validate_authority feature into beta release"
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4625

[2022-03-22 23:29] azure-sdk commented on #20985
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.19612332,Authorization:0.1263882,Storage:0.06594101'

[2022-03-22 23:59] jasonnutter commented on #20347
For MSAL.js, were aware of issue for private clouds where MSAL.js attempts to call the public cloud for metadata. Furthermore, we're working on ways to have the library not make those calls at all for certain, well-known authorities.

Today, authority metadata discovery can be bypassed, details [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs

[2022-03-23 00:25] joheredi commented on #20923
Closing this in favor of https://github.com/Azure/autorest.typescript/issues/1347

[2022-03-23 00:25] #20923 closed

[2022-03-23 00:28] joheredi commented on #20936
Look at keyvault implementation of this:
https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts

[2022-03-23 00:29] joheredi commented on #20913
Fixed by https://github.com/Azure/azure-sdk-for-js/pull/20916

[2022-03-23 00:29] #20913 closed

[2022-03-23 01:35] MaryGao opened #20987 "[Metrics Advisor] RLC only get the first page data and can't return nextLink when getting dataFeeds list"
- **Package Name**: @azure-rest/ai-metrics-advisor
- **Package Version**:  Local generation version
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: 16.14.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.5.4

**Describe the bug**
Currently I am working on the Metrics Advisor experiment and to verify whether the RLC generated code work well

[2022-03-23 01:35] azure-sdk commented on #20987
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.15583117,Data Factory:0.09981825,Monitor:0.052653193'

[2022-03-23 01:51] qiaozha commented on #20987
@MaryGao  Please help to check if that's the case for all the RPs with parameters of `$` sign. You can take one of the mgmt plane RP which has parameters like $top or $filter and generate it with rlc code generator and see whether the server side can handle the encoded $top or $filter or not ?

[2022-03-23 05:36] sajeetharan commented on #20669
@jay-most This has been fixed already, please approve the PR so that I can close the issue

[2022-03-23 08:48] MaryGao commented on #20987
@qiaozha @joheredi After checking with other PRs I found that they could handle the `$` sign correctly even encoding or not. So I think this is not a general scenario but a metrics advisor behavior.

![image](https://user-images.githubusercontent.com/9943211/159658989-6b85c399-40ea-4a40-a521-d4e42ff319b6.png)

[2022-03-23 17:38] sadasant commented on #20985
I’ll close this on favor of: https://github.com/Azure/azure-sdk-for-js/issues/20347

[2022-03-23 17:38] #20985 closed

[2022-03-23 19:28] HarshaNalluru opened #21003 "[Perf] Micro Benchmarking as part of the perf framework"
_Originally reported by @mikeharder_

Context - https://github.com/Azure/azure-sdk-for-js/pull/20283 adds a perf improvement to the core-rest-pipeline, along with a perf test to measure the improvement.

Performance improvements such as https://github.com/Azure/azure-sdk-for-js/pull/20283 can be tested with some sort of micro-benchmarking tools/functionality support instead of having to add a new

[2022-03-23 19:28] azure-sdk commented on #21003
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.08831879,Network - Virtual Network:0.073076226,Docs:0.05010764'

[2022-03-23 19:45] jeremymeng commented on #20000
fix by testing on .js files.

[2022-03-23 19:45] #20000 closed

[2022-03-23 19:47] jeremymeng commented on #14804
Looks that current smoke test runner only enumerates .js files under the sample folder, not going into sub folders.

[2022-03-23 19:50] mikeharder commented on #21003
If we can find an actively-maintained project in JS/TS similar to Benchmark.NET, we should compare it to our internal perf framework.  Otherwise, I think we should use our internal framework for both end-to-end and micro benchmarks, and add features to our internal framework for micro-benchmarks as needed.

[2022-03-23 20:04] xiangyan99 commented on #20147
This is to track the work to add the policy and update code generator across languages.

We will start the work from other languages.

[2022-03-23 20:40] JonathanCrd opened #21005 "[Monitor Query] Nit: getRequiredEnvVar helper method is no longer necessary with latest recorder"
The new recorder has a helper function `assertEnvironmentVariable()` that provides the same functionality as the current `getRequiredEnvVar()` method.

This is a nit change, originally suggested by @timovv on https://github.com/Azure/azure-sdk-for-js/pull/20178#discussion_r805041218, while upgrading to the new recorder.

[2022-03-23 21:05] sarangan12 commented on #20758
1. The customer is using version 11.2.1 (9 months old version)
2. Yes. The bug exists in that version.
3. I have verified with the latest version - 11.3.0-beta.7. The issue has already been fixed. (This fix will be in GA during the release in May 1st week)

I recommend the user to upgrade to the latest version.

**Code Used for Testing**

[code]

As you can see from the above code, I have created

[2022-03-23 21:21] deyaaeldeen opened #21007 "[Schema Registry Avro] Register schemas after serializing"
There is a chance that serializing a value could fail, so let's make sure it doesn't before registering a schema when auto registration is on.

[2022-03-23 21:21] deyaaeldeen commented on #20892
Discussed offline

[2022-03-23 21:21] #20892 closed

[2022-03-23 21:26] deyaaeldeen opened #21008 "[Schema Registry Avro] Add comprehensive tests for error cases"

[2022-03-23 22:21] mikekistler commented on #20987
This sounds like an issue with Metrics advisor.  The rules for percent-encoding of URLs are very complicated, but I believe that any "reserved" character ("$" is one of several) can be percent-encoded in the query string when it does not have a "special meaning" (signify URL structure).  So services should handle that correctly.

Do we have a way to open an issue against the service team?

[2022-03-24 00:30] KarishmaGhiya commented on #18126
I am positive that the [approach above](https://github.com/Azure/azure-sdk-for-js/issues/18126#issuecomment-1058683152) will help us debug the scenario of timeout and evaluate if we get appropriate error message in that scenario. But for now this credential is broken because of [this bug](https://github.com/Azure/azure-sdk-for-js/issues/20500). Due to this, when we try to run the application using

[2022-03-24 00:47] sadasant commented on #18126
Thank you, @KarishmaGhiya

[2022-03-24 01:17] scottaddie opened #21014 "Document Azure Identity's account identifier logging feature in README"
The new feature was added in https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/README.md#logging. Now let's add details to the [README's Logging section](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/README.md#logging).

[2022-03-24 12:15] #20545 closed

[2022-03-24 15:34] maorleger commented on #20984
Hi @SvenAeltermanInfo - thank you for opening this issue! I am routing this to the appropriate team who could help troubleshoot

[2022-03-24 17:55] jeremymeng opened #21019 "[EventHubs][Test] remove workaround in PR https://github.com/Azure/azure-sdk-for-js/pull/20982"
In PR https://github.com/Azure/azure-sdk-for-js/pull/20982 we work around an issue by pre-sending messages to all partitions of a freshly created hub.  This item tracks the removal of the workaround, once the issue is resolved/fixed.

[2022-03-24 18:26] deyaaeldeen commented on #20447
@zedy-wj Thanks for following up. @jeremymeng did some debugging and it seems to be a service bug. We're following up with them to get it fixed.

[2022-03-24 18:27] #21008 closed

[2022-03-24 18:41] xirzec commented on #20957
Looks like a good issue to address in redirectPolicy. @timovv did you want to make the fix?

[2022-03-24 18:43] xirzec commented on #19449
Is this resolved by #20423 ?

[2022-03-24 18:45] deyaaeldeen commented on #19449
That sounds sufficient to me, but I would like to keep the issue around as a place for any other wishes.

[2022-03-24 18:46] xirzec commented on #19449
Sure!

[2022-03-24 19:02] timovv commented on #20957
Yup, happy to make the fix

[2022-03-24 20:30] maorleger opened #21022 "[keyvault] - Upgrade packages to core-tracing 1.0.0"
Now that we GA'd the KV releases we should prepare the next releases by first upgrading to core-tracing 1.0.0.

- [ ] admin
- [ ] certificates
- [ ] keys
- [ ] secrets

[2022-03-24 23:25] jeremymeng opened #21027 "[core-http] port https://github.com/Azure/azure-sdk-for-js/pull/21026"
PR https://github.com/Azure/azure-sdk-for-js/pull/21026 fix core-rest-pipeline to clear auth header when redirecting requests.   This issue tracks porting the fix to core-http.

[2022-03-24 23:42] #20957 closed

[2022-03-25 00:41] JonathanCrd commented on #20919
A new version of Key Vault admin has been released without `core-http-compat`

[2022-03-25 00:41] #20919 closed

[2022-03-25 00:41] #21005 closed

[2022-03-25 02:38] v-jiaodi opened #21030 "[App Configuration] Build libraries failing in nightly runs"
App Configuration nightly test runs are failing with:

test/public/utils/testAuthentication.ts(42,7): error TS2322: Type 'import("D:/a/_work/1/s/sdk/core/core-rest-pipeline/types/latest/core-rest-pipeline").HttpClient | undefined' is not assignable to type 'import("D:/a/_work/1/s/common/temp/node_modules/.pnpm/@azure+core-rest-pipeline@1.6.0/node_modules/@azure/core-rest-pipeline/types/latest/core

[2022-03-25 02:38] v-jiaodi opened #21031 "[Communication - SMS] SmsClient [Live] [AAD] test send method can send an SMS message failing in nightly runs"
Communication - SMS nightly test runs are failing with:

    at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:274:17)
    at /mnt/vss/_work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:179:47
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at SmsApiClient.sendOperationRequest (/mnt/vss/_work/1/s/sdk/core

[2022-03-25 12:37] diberry opened #21038 "Docs/Samples - please replace all uses of `node` with `Node.js` for clarity."
This [storage](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/storage/storage-blob/samples/v12/javascript/connectionStringAuth.js#L18) sample uses the word `node` to indicate the functionality is only available on `Node.js`.

Please change all occurences of `node` to `Node.js` for clarity. If this is about functionality that specifically only run in Node.js or browser, please use the same

[2022-03-25 12:38] diberry commented on #21038
I see the bot as added storage and client but this comment is about all samples across the repo.

[2022-03-25 16:37] jeremymeng commented on #20806
@dittmarconsulting thank you for the interests! I am looking into this, currently investigating what's needed to be able to use @azure/app-configuration package in react-native.

Thank you for the pointer to `nodejs-mobile-react-native`.  Would you mind explaining in more details what the package does and how you use it with @azure/identity?

[2022-03-25 17:07] jeremymeng commented on #21030
I am working on this. It's related to new feature in latest core-rest-pipeline in repo source.

[2022-03-25 17:19] #20072 closed

[2022-03-25 17:43] azure-sdk opened #21042 "Dependency package @opentelemetry/sdk-trace-base has a new version available"
We have identified a dependency on version 1.0.1 of @opentelemetry/sdk-trace-base. A new version (1.1.1) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each

[2022-03-25 17:43] azure-sdk opened #21043 "Dependency package @opentelemetry/sdk-trace-node has a new version available"
We have identified a dependency on version 1.0.1 of @opentelemetry/sdk-trace-node. A new version (1.1.1) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each

[2022-03-25 17:43] azure-sdk commented on #21042
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.33031297,Service Bus:0.13840482,EngSys:0.05357374'

[2022-03-25 17:43] azure-sdk commented on #21043
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.33352602,Service Bus:0.11814047,Azure.Identity:0.064441174'

[2022-03-25 18:19] sadasant opened #21045 "[Identity] [Localhost to cloud] New Node.js credential"
Thanks to customer feedback, we have identified that Node.js developers would benefit from a new authentication approach that matches more closely their experience.

Node.js developers tend to work in localhost environments that are deployed to the cloud, and are more often than not involved with the authentication of users in web servers.

This issue is to tie up the development of a new feature:

[2022-03-25 18:32] deyaaeldeen opened #21046 "[Schema Registry Avro] Live test failed with Cannot create schema validation.User in group *** because no more than 25 schemas is allowed."
Live test: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1459741&view=results

[2022-03-25 18:41] sadasant opened #21050 "[Identity] [Localhost to cloud] New browser credentials"
Thanks to customer feedback, we have identified that browser developers would benefit from a new authentication approach that matches more closely their experience.

Browser developers tend to work in localhost environments that are deployed to the cloud, and are more often than not involved with the authentication of users in web servers.

This issue is to tie up the development of a new set of f

[2022-03-25 19:46] sadasant opened #21052 "[Identity] [Localhost to cloud] Authenticating a browser app and a Node.js app at once"
Thanks to customer feedback, we have identified that Node.js and browser developers are having a hard time understanding how to authenticate a browser application and a Node.js application together.

Browser developers tend to work in localhost environments that are deployed to the cloud, and are more often than not involved with the authentication of users in web servers.

This issue is to tie up

[2022-03-25 20:56] jeremymeng opened #21053 "[engsys] deprecated dependency not reported"
Maybe the format of the rush output has changed so pattern matching no longer work?

[2022-03-25 20:56] jeremymeng opened #21054 "[engsys] deprecated dependency not reported"
Maybe the format of the rush output has changed so pattern matching no longer work?

[2022-03-25 21:44] sadasant opened #21055 "[Identity] Investigate why the tests where the tenantId is passed on getToken are failing on live CI"
The tests where we’re passing the `tenantId` on `getToken` are failing on live mode on CI. Here is an example one: https://github.com/Azure/azure-sdk-for-js/pull/20729/files#diff-2a2034bf131e0ff6cfe59db7a26a84486a9db034f8c54f594d50968fb9ef35efR95

Some notes:
- This issue seems to be happening in all the credentials where the feature is tested.
- This issue isn’t happening locally, neither in reco

[2022-03-25 22:13] sadasant opened #21056 "[Identity] Simplify the environment variables used for testing"
Recently we increased the number of tests that Identity was executing on our CIs on live mode through this pull request: https://github.com/Azure/azure-sdk-for-js/pull/20729 — As part of the changes, we now have several more environment variables, and some seem to overlap with existing environment variables.

To keep compatibility with the way we used to run tests before, now we’re supporting both

[2022-03-25 22:45] sadasant commented on #21045
Another idea is that instead of having the `getRedirectUri` method, the users could pass a redirect function on the `authenticate` method, like:

[code]

[2022-03-25 22:49] sadasant commented on #21050
Question from Karishma: Can we open a new tab instead of redirection?

[2022-03-25 22:50] #20496 closed

[2022-03-25 23:19] sadasant commented on #21052
This challenge is really about authenticating two apps, the browser app and the backend Node.js app. This can be done in many ways:

One scenario that would work currently is as follows:

If you wanted to have only one **manual authentication**, what would you do?

If you can get away with authenticating the user for two different Azure subscriptions, with access to potentially completely differen

[2022-03-25 23:22] joshfree opened #21058 "ioredis - AAD Auth Sample"
Tracking issue for dogfooding and creating code samples (or documentation) to show best practices for how to use AAD Auth with popular 3rd party OSS Redis clients when connecting to Azure.

Depending on the outcome of the dogfooding:

**Possible Outcome 1:** 0-1 days of extra work (minimal sample code is required to enable the experience):
- Check-in a thin / simple code sample project to our sdk

[2022-03-25 23:22] joshfree opened #21059 "node-redis - AAD Auth Sample"
Tracking issue for dogfooding and creating code samples (or documentation) to show best practices for how to use AAD Auth with popular 3rd party OSS Redis clients when connecting to Azure.

Depending on the outcome of the dogfooding:

**Possible Outcome 1:** 0-1 days of extra work (minimal sample code is required to enable the experience):
- Check-in a thin / simple code sample project to our sdk

[2022-03-25 23:23] sadasant commented on #21052
Another question we have is: if a user authenticates with backend redirection using the `AuthorizaitonCodeCredential`, would then an `InteractiveBrowserCredential` immediately authenticate since the user information was already captured in the redirect endpoint?

[2022-03-25 23:29] deyaaeldeen commented on #21007
could not reach a consensus for this one

[2022-03-25 23:29] #21007 closed

[2022-03-25 23:52] joshfree opened #21062 "Collaborate on solution for validate_authority with MSAL team"
Tracking issue for collaborating with the MSAL team to expose consistent capabilities / APIs such that Azure Identity SDK can then expose a simple and easy to use API for enabling the use of custom domains.

Related Issues:
- expose "validate_authority" so user can explicitly disable the validation if they want to use custom domain. https://github.com/Azure/azure-sdk-for-python/pull/22786/
- [Clie

[2022-03-26 00:02] joshfree opened #21063 "VSCodeCredential Improvements for Copper"
For Copper we are removing `VisualStudioCodeCredential` from `DefaultAzureCredential`'s credential chain. In a future semester we intend to fix it and restore it.

- [x] Remove `VisualStudioCodeCredential` from `DefaultAzureCredential`
- [ ] Ensure troubleshooting guides recommend users use the Azure CLI to log in for developemnt time scenarios
- [x] Ensure any logging or exception text no longer

[2022-03-26 00:21] joshfree opened #21065 "Add Token Caching Support for Managed Identity"
**Intro**
When application developers use the developer SDKs and libraries provided by Azure to build apps that run on Azure, they expect built-in support for common and repeatable tasks. From Azure’s perspective, adding support to common patterns helps increase the resilience of the apps running on Azure.  Managed Identity token caching is a common task that’s currently missing in the Azure Ident

[2022-03-26 00:41] joshfree opened #21066 "Add Windows Web Account Manager (WAM) Brokered Authentication Support"
This is a tracking work item for creating/finishing the new Azure.Identity.BrokeredAuthentication client library (separate package from the existing Azure Identity client library).

Related:
- https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity.BrokeredAuthentication/README.md

Dependencies:
- MSAL WAM is supported (Beta) in .NET and Python today
- MSAL WAM support (Be

[2022-03-26 23:48] #20980 closed

[2022-03-27 09:56] EmmaZhu commented on #20950
Hi @JasonYeMSFT ,

I didn't see following definition:

`interface BlobHierarchyListSegment {
    Blob: UndocumentedBlobItemInterface[];
}`

Could you share how did you find it?

And let me check anything I can do to expose all undefined properties.

Thanks
Emma

[2022-03-27 19:06] #20758 closed

[2022-03-28 10:44] IshaTyagi opened #21074 "Getting error in React Native: /node_modules/@azure/app-configuration/dist/index.js: crypto could not be found within the project or in these directories:"
- **Package Name**: @azure/app-configuration
- **Package Version**: 1.3.1
- **Operating system**: MAC
- [ ] **nodejs**
    - **version**: 16.14.0
    -
**Describe the bug**
Getting error: crypto could not be found within the project or in these directories in react native project

**To Reproduce**
Steps to reproduce the behavior:
1. Installed the @azure/app-configuration package
2. Try running the

[2022-03-28 12:20] dhensby opened #21075 "[@azure/identity] azureCliCredential just because there is content in stderr doesn't mean there's an error"
- **Package Name**: @azrure/identity
- **Package Version**: all versions
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 14.17.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

[2022-03-28 15:54] maorleger commented on #20887
Hi @qiaozha - just wanted to check in on this issue. Any updates on your side? Do you think it makes sense to just add these to the Policheck exclusion list if they can't be changed by the service anyway?

[2022-03-28 16:27] JasonYeMSFT commented on #20950
@EmmaZhu Yes, the definition of that interface doesn't exist. However, as you can see from the screenshot, at runtime, there is a "Blob" property next to the "blobItems" property which contains the raw blob properties of the list response. For example, in "Blob" all the values are string values without any parsing (e.g. contentLength is not parsed to a number and last modified is not parsed to Dat

[2022-03-28 18:51] xiangyan99 opened #21078 "Make sure links to troubleshooting guideline are added into error message"
- **Package Name**:
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A clear and concise description of what the b

[2022-03-28 21:13] jeremymeng commented on #21074
@IshaTyagi thank you for reporting this issue! Currently our SDK doesn't support React-Native and we are tracking the work in #20806

[2022-03-28 21:55] JonathanCrd commented on #20057
@weshaggard are you suggesting to validate that the URLs work after checking that they don't contain the locale information?

I mean, check for 2 things: validity and locale?

[2022-03-28 21:57] weshaggard commented on #20057
Yes the work here is to run the verify-links script across all the generated html docs and that will verify that the links are both valid links and follow our guidelines like don't contain "en-us", etc.

[2022-03-28 22:39] scottaddie opened #21082 "Add sample for using Monitor Query library's visualization data in graph"
### Library name

@azure/monitor-query

### Please describe the feature.

Customers need guidance on how to use the visualization JSON with a graphing library (D3.js, Kendo UI, etc.). Add a code sample that shows how to accomplish this. Related comment: https://github.com/Azure/azure-sdk-for-net/issues/27286#issuecomment-1068575952

[2022-03-29 02:37] qiaozha commented on #20887
@maorleger sorry about the delay response. I have sent an email to pinged service team a few weeks ago, no respond from them. I also suggest swagger team to enable the policheck in azure-rest-api-specs repo to fix it from the origins. Swagger team should be able to enable the check very soon.

 I think we can add the exclusion this time.

[2022-03-29 03:54] v-jiaodi opened #21086 "[Communication - Chat] Execute Samples failing in nightly runs"
Communication - Chat nightly test runs are failing with:

 {
  "name": "RestError",
  "code": "REQUEST_SEND_ERROR",
  "request": {
    "streamResponseStatusCodes": {},
    "url": "***/identities?api-version=2021-03-07",
    "method": "POST",
    "headers": {
      "_headersMap": {
        "content-type": "application/json",
        "user-agent": "azsdk-js-communication-identity/1.0.0 core-http/1.2

[2022-03-29 03:55] v-jiaodi opened #21087 "[Communication - SMS] SmsClient [Live] test send method throws an exception when sending from a number you don't own failing in nightly runs"
Communication - SMS nightly test runs are failing with:

    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/communication/communication-sms/test/public/suites/smsClient.send.ts:104:14)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1465219&view=results

[2022-03-29 03:55] v-jiaodi opened #21088 "[Key Vault - Certificates] Install dependencies failing in nightly runs"
Key Vault - Certificates nightly test runs are failing with:

  │ └── ✕ unmet peer @opentelemetry/api@">=1.1.0 <1.2.0": found 1.0.4
  └─┬ @opentelemetry/sdk-trace-node
    └── ✕ unmet peer @opentelemetry/api@">=1.1.0 <1.2.0": found 1.0.4
The command failed:
Giving up after 3 attempts
 D:\a\_work\1\s\common\temp\pnpm-local\node_modules\.bin\pnpm install --store D:\a\_work\1\s\common\temp\pnpm-store

[2022-03-29 03:55] v-jiaodi opened #21089 "[Storage - Blob] BlobClient Node.js only query should work with arrow output configurations failing in nightly runs"
Storage - Blob nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\storage\storage-blob\test\node\blobclient.spec.ts:786:12)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1464413&view=results

[2022-03-29 06:28] qiaozha commented on #20984
I will take a look.

[2022-03-29 08:02] #19267 closed

[2022-03-29 13:13] sinedied opened #21090 "@azure/identity-cache-persistence crashing on WSL/Debian when libsecret is not installed"
- **Package Name**: @azure/identity-cache-persistence
- **Package Version**: 1.0.0
- **Operating system**: Windows (WSL / Debian)
- [x] **nodejs**
    - **version**: v16.14.0
- [ ] **browser**
    - **name/version**:  /
- [ ] **typescript**
    - **version**: /
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.micr

[2022-03-29 18:33] praveenkuttappan opened #21094 "Smoke test is failing when package version is GA"
Smoke test is failing if a new released package is GA. If package is GA then next tag will not be present on npm. Smoke test should use latest tag if next tag is not present to handle this scenario.

[2022-03-29 19:30] #17887 closed

[2022-03-29 21:30] #20974 closed

[2022-03-29 23:36] #20787 closed

[2022-03-29 23:49] alp-garcia commented on #18062
[code]
Looks like although the SDK supports a call to read the change feed for the entire container (see below):

https://github.com/Azure/azure-sdk-for-js/blob/d7fe99ae40b83a3458380dfa2d3f4e83bbb20b74/sdk/cosmosdb/cosmos/src/client/Item/Items.ts#L191

But there is a validation that requires specifying a partition key:
https://github.com/Azure/azure-sdk-for-js/blob/e6dbd47cfda9973c4550ee63e712e872

[2022-03-30 00:13] nturinski opened #21101 "[swagger]containerApps.listSecrets throws response code 204 as an error"
- **@azure/arm-appcontainers**:
- **^1.0.0*:

**Describe the bug**
`client.containerApps.listSecrets` considers the 204 response code to be an error.  This happens if the container app pinged has no secrets associated with it.  It should probably just return an empty array rather than throwing an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Call `client.containerApps.listSecrets` o

[2022-03-30 00:14] azure-sdk commented on #21101
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Services:0.43074873,Storage:0.09991559,Container Instances:0.09626426'

[2022-03-30 00:14] nturinski commented on #21101
Note: This also occurs with `containerApps.beginDeleteAndWait` which would also return 204 once the content is deleted.

[2022-03-30 00:23] maorleger commented on #20690
👋 Just wanted to give a quick update here - after investigation it ended up that the change needed to go in to https://www.npmjs.com/package/applicationinsights - @hectorhdzg made the change in https://github.com/microsoft/ApplicationInsights-node.js/pull/921

I'm not sure what Application Insights' release schedule is so I will let Hector speak to that but the issue should be addressed in the nex

[2022-03-30 03:19] MaryGao commented on #20987
Thanks for Mike's comment! I dropped an email to MA team and will follow up this.

[2022-03-30 05:42] sajeetharan commented on #18558
Is this done? There is no associated PR?

[2022-03-30 05:43] sajeetharan commented on #20082
Closing this as there is no update!

[2022-03-30 05:43] #20082 closed

[2022-03-30 07:32] jmoconPhitopolis commented on #20026
I'm having the same issue as @JesperJakobsen

Still having the same result
`[{
    "id": "<USAGEID>",
    "name": "<NAME>",
    "type": "Microsoft.Consumption/usageDetails",
    "tags": null,
    "kind": "modern",
    "meterId": "<METERID>"
}]`

I even tried copying @qiaozha 's work.. but still  not luck

[2022-03-30 08:33] qiaozha commented on #20651
@colawwj Can you help refresh the SDK with latest code generator ? Thanks

[2022-03-30 08:34] qiaozha commented on #20728
@colawwj Can you help refresh the SDK with latest code generator ? Thanks

[2022-03-30 08:36] qiaozha commented on #20933
@colawwj Can you help refresh the SDK with latest code generator ? Thanks

[2022-03-30 09:16] qiaozha commented on #20026
I don't think Service Principal could be the cause, but let me try and get back to this.

[2022-03-30 10:17] zzhxiaofeng opened #21105 "Azure Digital Twins Definition Language Parser Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/digitaltwins/dtdl-parser#parse-a-dtdl-model)
![image](https://user-images.githubusercontent.com/20970631/160803971-0f891466-f70f-4685-aeac-484031fc3ec8.png)
Reason:
1.Await need to be used in async function.
2.`[value]` is not be parsed, the value is shown as following:
![image](https://user-images.githubusercontent.com/2097

[2022-03-30 10:17] azure-sdk commented on #21105
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Digital Twins:0.31620476,Azure.Core:0.12696677,EngSys:0.05034725'

[2022-03-30 10:19] zzhxiaofeng opened #21106 "Azure Files Data Lake Sample Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/storage/storage-file-datalake/samples/v12/javascript/dataLakeServiceClient.js#L58), [link2](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/storage/storage-file-datalake/samples/v12/typescript/src/dataLakeServiceClient.ts#L56)
![image](https://user-images.githubusercontent.com/20970631/160803703-381223de-0439-46e4-9

[2022-03-30 10:20] zzhxiaofeng opened #21107 "Azure Form Recognizer Readme Issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/formrecognizer/ai-form-recognizer#create-and-authenticate-a-client)
![image](https://user-images.githubusercontent.com/20970631/160802552-dfe25af1-e969-4e03-8b0b-31c00b890671.png)
Reason:
The command can not output endpoint.

Suggestion:
Update `endpoint` to `properties.endpoint`.

2.
Section [link](https://github.com/Azure/

[2022-03-30 10:22] zzhxiaofeng opened #21108 "Azure Net App Sample Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/netapp/arm-netapp/samples/v15/javascript/netAppResourceCheckNameAvailabilitySample.js#L28), [link2](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/netapp/arm-netapp/samples/v15/typescript/src/netAppResourceCheckNameAvailabilitySample.ts#L28), [link3](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/netapp/ar

[2022-03-30 10:22] azure-sdk commented on #21108
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Services:0.53605705,Docs:0.03607178,App Configuration:0.027883478'

[2022-03-30 10:58] jmoconPhitopolis commented on #20026
here are the versions I'm using
all other items I pull returns the way they are, except for usageDetails

[code]

[2022-03-30 11:01] jmoconPhitopolis commented on #20026
verified Service Principal is not the cause

I tried it on postman and got the needed details using same details:
client Id
client secret
subscription
tenant id
scope

I think this is only an sdk issue

[2022-03-30 11:06] qiaozha commented on #20026
can you also share the package-lock.json about the @azure/arm-consumption part?

[2022-03-30 11:08] qiaozha commented on #20026
It's weird that I can't repro it and when you call rest api directly, it works fine.

[2022-03-30 11:13] jmoconPhitopolis commented on #20026
this is my yarn.lock

[code]

    it's same as yours

    I hate it when code God is playing with me

[2022-03-30 11:19] zzhxiaofeng opened #21109 "Azure Iot Hub Sample Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/iothub/arm-iothub/samples/v6/javascript/iotHubResourceCreateOrUpdate.js#L89)
![image](https://user-images.githubusercontent.com/20970631/160811624-66ac3b43-3a6d-42c3-97d4-07476c89979d.png)
Reason:
`DataResidency` is not available in 'centraluseuap' region.
![image](https://user-images.githubusercontent.com/20970631/160813032

[2022-03-30 14:47] amrit-moomie opened #21110 "DisableResponseDecompressionPolicy error with electron app using azure sdk from angular renderer"
I have a desktop app that uses electron and angular. I am trying to upload the Blob storage using `@azure/storage-blob` in the angular renderer process.  When uploadData method is called library will just crash with following error:

[code]

Please note I am using nodeIntegration: true when opening the angular portal like below:

[code]

From my understanding is that disableResponseDecompressionPo

[2022-03-30 14:47] azure-sdk commented on #21110
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5366847,Azure.Core:0.18370384,Azure.Identity:0.06410674'

[2022-03-30 15:33] maorleger commented on #21110
@amrit-moomie thank you for creating this issue! I have routed it to the appropriate team for investigation. @EmmaZhu could someone from the storage team take a look?

[2022-03-30 15:48] maorleger commented on #21108
@qiaozha not sure if your team is already familiar with these kinds of issues, but our vendors routinely check our samples and README's for inconsistencies, inaccuracies, and other issues.

As we discussed I'm assigning them to you for triage but there may be many so feel free to reassign as appropriate!

For some issues the vendors can open a PR if you reply that you agree with recommendation and

[2022-03-30 16:31] maorleger commented on #21105
@YoDaMa if you agree with these recommendations, @zzhxiaofeng can open a PR with the changes. Just reply here that you agree and add the "help-wanted" label.

Otherwise, please provide your recommendations here or in a PR. Thanks!

[2022-03-30 16:33] YoDaMa commented on #21105
I agree with the changes. Feel free to open a PR @zzhxiaofeng

[2022-03-30 16:40] sadasant commented on #21075
This is great feedback, @dhensby ! thank you!

We’ll follow up as soon as possible.

[2022-03-30 16:43] #21078 closed, assigned to sadasant

[2022-03-30 18:05] ealsur opened #21115 "Cosmos DB: Missing Composite Index support on Indexing Policy"
- **Package Name**: azure/cosmos
- **Package Version**:  latest
- **Operating system**: windows
- [x ] **nodejs**
    - **version**:  Any
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Cosmos DB

[2022-03-30 18:44] gpduck opened #21116 "webApps.beginInstallSiteExtensionAndWait always returns a 400 error due to missing request body in the API spec"
- **Package Name**: @azure/arm-appservice
- **Package Version**: 11.0.0
- **Operating system**: Windows 10
- [ x] **nodejs**
    - **version**: v12.22.9
- [ x] **typescript**
    - **version**: 3.7.7
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

The API spec for installing s

[2022-03-30 20:15] #20917 closed

[2022-03-30 20:41] maorleger commented on #1029
Any thoughts on which milestone we should move this to?

[2022-03-30 21:12] #20939 closed

[2022-03-30 21:22] diberry opened #21117 "Storage - npm readme.md and ref Doc overview - create client object from key"
Based on teams chat with Jeff - @xirzec - creating issue:

Please add more info to ref docs and npm readme.md to explain that you can create any client from the url if it's publicly readable (such as container or blob).

I always thought I had to go through BlobServiceClient but apparently that isn't the case.

[2022-03-31 00:54] deyaaeldeen opened #21120 "[Schema Registry Avro] Add schemaId to AvroSerializationError"
The crew agreed on adding a `schemaId` property to `AvroSerializationError` so recovery code could programmatically get the schema and register a new version to potentially recover.

[2022-03-31 01:00] jeremymeng commented on #21117
Even not publicly available, you can construct client directly with its url and proper credentials.  In the public accessible case, you can pass in an AnonymousCredential to the constructor, or even omit the credential.

We probably want to mention this in readme.

[2022-03-31 01:27] qiaozha commented on #21101
Hi @MaryGao  Can you take a look at this issue ? Thanks

[2022-03-31 03:00] colawwj commented on #20933
@ascended27
I  have regenerated the package, https://github.com/Azure/azure-sdk-for-js/pull/21123
we would like your help us to verify whether the package works as your expected,thanks.

[2022-03-31 14:55] lirenhe commented on #21116
@qiaozha, could you take a look at this issue?

[2022-03-31 18:23] jeremymeng commented on #1029
Moving this to Backlog for now. It needs newer version of mocha.  I found it not straightforward to upgrade in my brief attempt.

[2022-03-31 19:09] timovv opened #21132 "[ACR] Update `core-tracing` to 1.0.0"
Migrate our tracing calls to the nifty new `tracingClient.withSpan(span => {...})` syntax throughout ACR.

[2022-04-01 00:20] KarishmaGhiya opened #21137 "[Identity] Discrepancies in Troubleshooting guideline errors for invalid inputs"
I noticed a few discrepancies in the error details/ messages for the following scenarios wit hwhat we currently have in our Troubleshooting guidelines -

### - Invalid tenant id:
Actual error object looks like -
[code]
Currently we don't have this error message documented in the Troubleshooting guideline.

Proposed changes to TS guide:
	- Add this right after `Permission Issues` - Invalid inputs
P

[2022-04-01 01:38] jmoconPhitopolis commented on #20026
@qiaozha could this be caused by node version? currently we are using 12.22.6 and we can't upgrade it for now

[2022-04-01 03:06] v-jiaodi opened #21139 "[Metrics Advisor] [AAD] MetricsAdvisorClient lists anomalies for alert failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

    at handleErrorResponse (../../core/core-client/src/deserializationPolicy.ts:274:9 <- dist-test/index.browser.js:62084:20)
    at deserializeResponseBody (../../core/core-client/src/deserializationPolicy.ts:182:37 <- dist-test/index.browser.js:62019:46)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?b

[2022-04-01 03:06] v-jiaodi opened #21140 "[OpenTelemetry Instrumentation] Rush update failing in nightly runs"
OpenTelemetry Instrumentation nightly test runs are failing with:

.
└─┬ @rush-temp/azure-opentelemetry-instrumentation-azure-sdk-test
  ├─┬ @opentelemetry/sdk-trace-base
  │ ├── ✕ unmet peer @opentelemetry/api@">=1.0.0 <1.1.0": found 1.1.0
  │ ├─┬ @opentelemetry/core
  │ │ └── ✕ unmet peer @opentelemetry/api@">=1.0.0 <1.1.0": found 1.1.0
  │ └─┬ @opentelemetry/resources
  │   └── ✕ unmet peer @op

[2022-04-01 08:02] #17543 closed

[2022-04-01 09:09] qiaozha commented on #20026
I don't think so, because I am using node 12 as well.

[2022-04-01 10:17] qiaozha commented on #20026
@JesperJakobsen  can you try to debug into the SDK code to see what's the original response the SDK get when you call the SDK ?

[2022-04-01 10:49] cephalin opened #21151 "@azure/identity error output doesn't show you the real error but gives you some nebulous message."
- **Package Name**: @azure/identity
- **Package Version**: 2.0.4
- **Operating system**: Debian
- [x] **nodejs**
    - **version**: v17.8.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Running

[2022-04-01 12:09] zedy-wj opened #21152 "[Key Vault Certificates] The specified version (7.3) is not recognized on UsGov cloud."
We are running live tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
The latest results in pipeline at here: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1469387&view=results.
When calling the `beginCreateCertificate()` method on the `UsGov` cloud to create a ce

[2022-04-01 12:09] azure-sdk commented on #21152
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.52620995,Client:0.46991643,Service:0.0034750726'

[2022-04-01 12:13] azure-sdk commented on #21152
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.52620995,Client:0.46991643,Service:0.0034750726'

[2022-04-01 13:03] zedy-wj opened #21153 "[Event Hubs] Time out on UsGov and China clouds."
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
The latest result in pipeline at here: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1469381&view=results.

Test `should support start after stopping` was blocked until time out in pipeline on `

[2022-04-01 15:35] maorleger commented on #21152
Hi @zedy-wj - thanks for raising this issue. The 7.3 rollout to sovereign clouds is in progress but likely not completed yet.

I don't think rolling the API version back is the right thing to do though, instead I would recommend passing in the service version via an environment variable. I know we pass through the SERVICE_VERSION environment variable via https://github.com/Azure/azure-sdk-for-js/b

[2022-04-01 16:21] diberry opened #21155 "Storage Ref Doc Bug - Overview table for getContainerClient"
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ X] SDK API docs on https://docs.microsoft.com

**Describe the bug**
This overview for Blob Storage [methods](https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/blobserviceclient?view=azure-node-latest#methods) says the getContainerClient returns a getContainerClient but it actual

[2022-04-01 16:22] joheredi opened #21156 "[Tables] query filter issue when calling list Tables by page"
The following code returns all tables even when there is no match to the filter

[code]

Result:

[code]

Expected: `[]` since none match.

Note: iterating over all the elements works as expected, the issue only reproduces in byPage

[2022-04-01 16:31] maorleger commented on #20931
Thanks for raising this issue! I fixed the aggregate reports build https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1475347&view=results

[2022-04-01 16:31] #20931 closed

[2022-04-01 16:32] maorleger commented on #20887
Thank you, we added the exclusion for these instances 👍

[2022-04-01 16:32] #20887 closed

[2022-04-01 16:53] diberry opened #21157 "Blob Storage - README and ref docs"
The ability to create a blob or container object directly instead of going through BlobServiceClient seems to support a use case where the application owner wants individual AAD users of the app to manage their own resources (container and/or blobs in a container).

* While I get that BlobServiceClient is the top parent object, what I don't get from the README or ref docs, is the ability to create

[2022-04-01 17:08] diberry opened #21158 "Blob Storage - how do I programmatically delete $root container"
I can't delete the $root container through the @azure/storage-blob SDK. And I can't delete it in the portal unless I check the "Override Azure Policy and RBAC role settings".

* In the SDK, the error returns that the container doesn't exist.
* In the portal, if the checkbox isn't checked, the error is that it is a system container.

How do I delete the $root container programmatically? That seems

[2022-04-01 17:14] #21120 closed

[2022-04-01 17:18] #21022 closed

[2022-04-01 17:22] diberry opened #21160 "Blob Storage reference docs - delete container immediately or at garbage collection"
Please have the descriptions of all the following to include text indicating that BlobServiceClient.delete happens immediately and ContainClient delete operations wait until garbarge collection. Because all the methods, across the 2 objects, don't state this a customer isn't aware they may be using a delete methodology they don't actually want.

* BlobServiceClient.deleteContainer
* ContainerClien

[2022-04-01 17:36] azure-sdk opened #21162 "Dependency package rollup-plugin-polyfill-node has a new version available"
We have identified a dependency on version 0.8.0 of rollup-plugin-polyfill-node. A new version (0.12.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each

[2022-04-01 17:37] azure-sdk commented on #21162
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.36768338,Service Bus:0.1396759,Azure.Identity:0.06084747'

[2022-04-01 17:46] hectorhdzg commented on #17471
Azure App Services should have version of the SDK with the fix

[2022-04-01 17:46] #17471 closed

[2022-04-01 17:55] #21158 closed

[2022-04-01 17:56] #21160 closed

[2022-04-01 18:09] benbp commented on #21152
@maorleger is ServiceVersion a value specific to keyvault or all the SDKs? If the former, then we should move it out of globals.yml and change the keyvault test matrices to import the base matrix but append a ServiceVersion to each entry. If it's a value global to all SDKs, then we should still move it out of variables.yml and into the base platform matrix. Either way, the usgov cloud config (and

[2022-04-01 18:14] #20934 closed

[2022-04-01 20:01] sadasant opened #21166 "Make a first Playwright test"
This issue is to make a first Playwright test, so that we can discuss it as a team.

Playwright: https://playwright.dev/

[2022-04-01 20:26] DeneshPohar commented on #18946
FYI this is a potential adoption blocker for my team using Feature Flags... we have multiple environments to support (NodeJS, C#, Python).  Would be great to have a server-side solution to evaluate feature flags.

[2022-04-01 21:36] maorleger commented on #21152
@benbp I'm not sure I fully understand what you mean - might need your help filling in the gaps. But here's where we set the value: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/keyvault/keyvault-keys/platform-matrix.json#L23 - as you can see we expand out available service versions that we would like to test against as additional builds here which allows us default our live tests to run

[2022-04-01 21:52] benbp commented on #21152
@maorleger that's where the value is set for keyvault, but the keyvault matrix is configured as an "additional" matrix, so it will also run the default test matrix located [here](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/keyvault/keyvault-keys/tests.yml#L26), which does not define a `ServiceVersion` variable. So for all the default test matrix cases it is undefined, meaning it will d

[2022-04-02 00:12] jeremymeng commented on #21089
@EmmaZhu Other two failures in live test pipeline look related to finding blobs by tag.  The request both timed out.  Any ideas? Service side changes?

       Find blob by tags should work:
     Error: Timeout of 300000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves. (/Users/runner/work/1/s/sdk/storage/storage-blob/dist-esm/storage-blob

[2022-04-02 00:40] EmmaZhu commented on #21089
Thanks @jeremymeng  for helping looking into the failures.

It's timeout issue, most likely encountered a network failure.  Let me check whether I can add some retries in the test case.

[2022-04-02 00:55] EmmaZhu commented on #21106
Thanks for reporting this to us. I will fix it.

[2022-04-02 01:35] sadasant commented on #21151
Hello @cephalin ! I’ll be able to follow up early next week. Thank you for your patience!

[2022-04-02 01:36] sadasant commented on #19421
Closed on favor of #21166

[2022-04-02 01:36] #19421 closed

[2022-04-02 01:45] #20512 closed

[2022-04-02 01:49] EmmaZhu commented on #21110
Storage only uses `disableResponseDecompressionPolicy` when it determined Node.js environment in runtime, but seems for Electron it still selects the browser path.
[code]

@jeremymeng , any suggestions how we could deal with this situation?

Thanks
Emma

[2022-04-02 01:51] EmmaZhu commented on #21117
Sure, we should add more samples to avoid confusing.

[2022-04-02 06:56] dittmarconsulting commented on #20806
Hi @jeremymeng,

Sorry for the delay.

I have successfully integrated `azure-iot-device-mqtt` and `azure-iot-device` into my RN app by installing `nodejs-mobile-react-native`.

It creates a NodeJS environment within the RN app including its own `node_modules` folder and `package.json` file.

The entry point is the `main.js` file where I hooked up the iot stuff because it's a node env like that

[c

[2022-04-02 09:58] #20814 closed

[2022-04-04 15:53] #19807 closed

[2022-04-04 15:55] maorleger commented on #20313
👋 @witemple-msft I'm cleaning up old issues, mind moving this to the appropriate milestone when you get a chance?

[2022-04-04 15:55] maorleger commented on #19912
👋 @witemple-msft I'm cleaning up old issues, mind moving this to the appropriate milestone when you get a chance?

[2022-04-04 15:56] maorleger commented on #19863
👋 @ellismg I'm cleaning up old issues, mind moving this to the appropriate milestone when you get a chance?

[2022-04-04 15:56] maorleger commented on #12041
👋 @HarshaNalluru I'm cleaning up old issues, mind moving this to the appropriate milestone when you get a chance?

[2022-04-04 16:04] deyaaeldeen opened #21175 "[Schema Registry Avro] schema is still registered if serialization fails is failing"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1479547&view=logs&j=b800360f-d572-5e16-3e20-e4f204d3fbd3&t=3b97752f-f53c-5e36-3379-45368efa0b3c

[2022-04-04 16:16] #15973 closed

[2022-04-04 16:19] maorleger commented on #15972
👋 I chatted with Alex and he mentioned it's safe to close these epics now.

But... there are a lot of open issues that are parented here. I am going to close this, but feel free to reopen if needed. Ideally we'd find a new home for them but that's up to the EH crew

[2022-04-04 16:19] #15972 closed

[2022-04-04 16:19] #15968 closed

[2022-04-04 16:19] #15964 closed

[2022-04-04 17:10] kushagraThapar opened #21177 "Client Side request diagnostics implementation"
Currently NodeJS doesn't have client side request diagnostics. It is very important to have diagnostics for all the operations to cover the tracks of a slow request or high latency.

This issue tracks the code implementation and code complete of client side request diagnostics in NodeJS SDK.

[2022-04-04 17:10] kushagraThapar commented on #18558
This issue is only targeting the spec and documentation of Client Side request diagnostics. @jay-most is working with @ealsur on the documentation. Once the documentation is approved, then we will close this issue.

For code complete and implementation of client side request diagnostics in NodeJS, we will be tracking the work here - https://github.com/Azure/azure-sdk-for-js/issues/21177

[2022-04-04 17:11] #21175 closed

[2022-04-04 17:29] timovv opened #21178 "[ACR] OCI push/pull: Capture and validate `Docker-Content-Digest` header in `downloadBlob`"
At the moment, we don't validate the content digest in `downloadBlob`. The reason for this is because the service returns a 307 Temporary Redirect to the blob which is stored in Blob Storage. The `Docker-Content-Digest` header is returned in the response containing the redirect status, and not in the final response after the redirect. Due to how our pipeline handles redirection, the header from th

[2022-04-04 17:35] heaths commented on #21152
Note: 7.2 is deployed to sovereign clouds but the fact the message says 7.1 is misleading. This is a bug. I left @jlichwa know about this a week or two ago when I noticed it during some manual testing.

@benbp this is likely a problem with all services shortly after version deployment. I'd be surprised if it's specific to Key Vault. Is what you're suggesting what we do for other services? If we do

[2022-04-04 17:38] timovv opened #21179 "[ACR] Streaming blob push/pull"
In our preview release, `uploadBlob` and `downloadBlob` pull the entire blob into memory for the purposes of calculating the digest. This was necessary for the calculation of the digest, since we couldn't consume the stream twice.

Blobs can get quite large in size. If a user were to upload multiple large blobs at once, they could run into memory issues. Now that core supports resettable streams,

[2022-04-04 17:55] jlichwa commented on #21152
@heaths not sure why 7.2 is not working. Are we saying that if call REST API in sovereign cloud with 7.2 api version, it returns error? Or there is some additional configuration which is missed and that is why we are seeing misleading error message.

[2022-04-04 17:57] ellismg commented on #19863
@maorleger - Done!

[2022-04-04 17:58] maorleger commented on #21152
@jlichwa 7.2 is deployed and working in sovereign cloud, it's just the error message when you pass a non-working version is misleading.

Today if I pass "7.3" for example, I get back this error: The specified version (7.3) is not recognized. Consider using the latest supported version (7.1).

Which is misleading, because the latest supported version is 7.1. So I think the bug is related to the con

[2022-04-04 22:10] deyaaeldeen opened #21184 "[Event Hubs] Uint8Array is stringified before getting sent"
When sending a message with `Uint8Array` (which is not strictly a `Buffer`), the client will stringify the payload first, see the last branch in:
https://github.com/Azure/azure-sdk-for-js/blob/7926782dcb48b46cafe51cf1648d9c53b5320ec7/sdk/eventhub/event-hubs/src/dataTransformer.ts#L42-L67

This behavior forces the receiver on the other end to unnecessarily unstringify the payload first.

[2022-04-04 22:16] sima-zhu commented on #19266
Link is broken. I do not have context about this. I'd prefer to close for now. Please feel free to reopen if the issue still exists. I'd happy to help address the issue.

[2022-04-04 22:16] #19266 closed

[2022-04-04 22:58] timovv commented on #20898
Fixed in #20529.

[2022-04-04 22:58] #20898 closed

[2022-04-04 23:00] maorleger opened #21188 "[KeyVault] - Update tests that depend on non-exported constant"
- [ ] keyvault-admin
- [ ] keyvault-keys
- [ ] keyvault-certificates
- [ ] keyvault-secrets

Being on core v2 makes this test significantly simpler as we can just use a pipeline policy to grab the user-agent string. So I am going to wait until KV is on core v2 before updating the rest of them...

[2022-04-04 23:50] deyaaeldeen opened #21190 "[Event Hubs] Fix endianness when hashing partition keys"
The hashing algorithm is sensitive to the endianness of the local machine:
https://github.com/Azure/azure-sdk-for-js/blob/73fc3c1d68f80d8e54125df650146907440f8019/sdk/eventhub/event-hubs/src/impl/patitionKeyToIdMapper.ts#L14-L16

but it should not be. Otherwise, generated hashes could be inconsistent with what the service generates.

[2022-04-04 23:51] maorleger commented on #15896
Also related https://github.com/Azure/azure-sdk-for-js/issues/21188 which will be unblocked once we move to core v2

[2022-04-05 00:00] nturinski opened #21192 "ServiceCredentials Tokens don't work for creating `ContainerRegistryClient`"
- **@azure/container-registry**:
- **1.0.0*:
- **Operating system**:

**Describe the bug**
If ADAL tokens are used, the credentials aren't passed along to the request.  The audience options are also ignored.
![image](https://user-images.githubusercontent.com/5290572/161649266-93f4412e-5539-4d47-a795-bc700a73dd9a.png)

This is happening because credentials is never actually set outside of the Token

[2022-04-05 01:25] #21188 closed

[2022-04-05 13:56] sinedied opened #21195 "@azure/identity-cache-persistence install crashing (missing pre-built native binaries)"
- **Package Name**: @azure/identity-cache-persistence
- **Package Version**: 1.0.0
- **Operating system**: Windows 10, OSX, Linux
- [x] **nodejs**
    - **version**: v16.14.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft

[2022-04-05 13:57] azure-sdk commented on #21195
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.31549555,Service Bus:0.076137386,Event Hubs:0.04573978'

[2022-04-05 15:25] scottaddie opened #21196 "Set x-ms-app HTTP request header in Monitor Query library"
### Library name

@azure/monitor-query

### Please describe the feature.

The Azure Monitor Log Analytics service team stores the caller information for their REST APIs. To support tracking HTTP requests from the Azure Monitor Query library, send an `x-ms-app` request header. The header's value should be set to `AzureMonitorQuerySDK`. The metrics team uses the user agent to identify the caller. Se

[2022-04-05 17:03] #21190 closed

[2022-04-05 17:28] maorleger opened #21199 "Upgrade all pacakges to core-tracing 1.0"
- [x] #21245
- [x] identity/identity/package.json
- [x] #21311
- [x] #21312
- [x] #21313
- [x] #21314
- [x] #21315
- [ ] anomalydetector/ai-anomaly-detector/package.json
- [x] textanalytics/ai-text-analytics/package.json
- [x] #21316
- [x] web-pubsub/web-pubsub/package.json
- [x] iot/iot-modelsrepository/package.json
- [x] digitaltwins/digital-twins-core/package.json
- [x] #21132
- [x] #21248
- [x

[2022-04-05 19:22] timovv commented on #21192
Hi @nturinski, thanks for the report.

We only support an implementation of `TokenCredential` (an interface provided by `@azure/core-auth`) for authentication. Passing anything else into the constructor, such as what you're describing, would result in a compile error if using TypeScript, and is not supported.

Can you clarify what exactly you mean by an ADAL token in this context? You may want to

[2022-04-05 20:29] #18558 closed

[2022-04-05 20:44] youngbob opened #21210 "@azure/arm-authorization beta release missing roleDefinitions"
- **Package Name**: @azure/arm-authorization
- **Package Version**: 9.0.0-beta.1

**Describe the bug**
The 9.0.0-beta.1 release of arm-authorization is missing the roleDefinitions operation. This operation is available in the 8.4.1 release.

**To Reproduce**
Steps to reproduce the behavior:
1. Update @azure/arm-authorization to 9.0.0-beta.1
2. Attempt to call `client.roleDefinitions.list()`
3. `ro

[2022-04-05 20:58] youngbob commented on #19994
This parameter was removed in v5.0.0 of `@azure/arm-security`.

[2022-04-05 20:58] #19994 closed

[2022-04-05 20:59] nturinski commented on #21192
Hi @timovv

Thanks for getting back to me so quickly!  A lot of previous Azure SDKs that were track 1 used to implment `ServiceClientCredentials`.  Because we migrated all of our SDKs to use T2, we were forced to create forward-compatible tokens because T2 SDKs all implement `TokenCredential` as you mentioned.

The major differences between the two are their implementation of `getToken` and `signR

[2022-04-05 21:31] #20537 closed

[2022-04-05 22:27] timovv commented on #21192
Thanks for the detail! I think I see where you're coming from. The SDK isn't in fact trying to handle multiple token types, and only supports `TokenCredential` -- it may help if you look at the [TypeScript source](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/containerregistry/container-registry/src/containerRegistryClient.ts#L65-L156). Let me try and explain what's going on:

We declare

[2022-04-05 23:16] #21184 closed

[2022-04-05 23:51] richardpark-msft commented on #11675
@HarshaNalluru , I'm sure you can find the right owner for this. If ever

[2022-04-05 23:55] timovv opened #21219 "[Unified recorder] Redirected requests not being sent to test proxy"
Related:
- https://github.com/Azure/azure-sdk-tools/issues/2982

When using the redirectless test proxy image (tag `1.0.0-dev.20220401.2`), redirected requests are not sent to the test proxy and instead go to the live service directly. This is an issue in record mode, as these requests don't get recorded, and also in playback mode, when the live service may not exist and probably won't accept the

[2022-04-06 00:12] sadasant commented on #21151
@cephalin Hello hello! Beyond improving the error message, let me ask you: How did you resolve the problem? Were you able to authenticate?

[2022-04-06 03:44] v-jiaodi opened #21224 "[Metrics Advisor] [AAD] MetricsAdvisorAdministrationClient Ingestion lists ingestion status failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

    at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:251:17)
    at deserializeResponseBody (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:159:43)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

For more details check here:

- https://dev.azure.com/azure-

[2022-04-06 03:44] v-jiaodi opened #21225 "[Communication - Phone Numbers] Build test package failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

utils/recordedClient.ts(19,10): error TS2305: Module '"../node_modules/@azure/core-client/types/latest/core-client"' has no exported member 'AdditionalPolicyConfig'.
The script failed with exit code 2

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1483117&view=results

[2022-04-06 03:45] v-jiaodi opened #21226 "[Event Hubs] Create clients using Azure Identity tracing getEventHubProperties() creates a span with a peer.address attribute as the FQNS failing in nightly runs"
Event Hubs nightly test runs are failing with:

    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/eventhub/event-hubs/test/public/node/client.spec.ts:121:16)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1482675&view=results

[2022-04-06 03:45] v-jiaodi opened #21227 "[Service Bus] ServiceBusClient live tests Errors with non existing Namespace throws error failing in nightly runs"
Service Bus nightly test runs are failing with:

    at Object.should.equal (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/chai@4.3.6/node_modules/chai/lib/chai/interface/should.js:98:35)
    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts:171:16)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/result

[2022-04-06 07:13] qiaozha commented on #20147
@sarangan12 how is the process for this issue ? Are you working on it already ? if no, we are glad to help to work on it. :)

[2022-04-06 07:22] qiaozha commented on #21116
@colawwj Can you help take a look at this issue ? Thanks

[2022-04-06 09:57] agribot2 commented on #10331
Please provide a fix for this defect. I do  believe it is only a problem with the error message wording. I believe that there is also a functional ( code ) defect that is causing the system to invoke an error message.

[2022-04-06 14:18] selenecodes commented on #20289
Also running into this issue, any way to fix this?

[2022-04-06 15:34] jsquire opened #21239 "Event Hubs Troubleshooting Guide"
# Summary

In order to provide guidance for customers encountering difficulties with the client library, and support representatives working customer issues, a troubleshooting guide is needed.  The guide should be focused on common scenarios for the client library and not attempt to address service-specific issues.

# Scope

- Wait for the forthcoming  [Java troubleshooting guide](https://github.c

[2022-04-06 15:36] maorleger commented on #21226
I'll take this @jeremymeng since it's tracing related

[2022-04-06 15:45] #17669 closed

[2022-04-06 16:59] timovv commented on #21219
Some findings:
* It's unlikely we can get around this in browser. XHR will always follow redirects and there's no option to disable. `fetch` has a "manual" mode, but [it doesn't really do what we want](https://github.com/Azure/azure-sdk-for-js/pull/21051).
* Redirects definitely aren't being sent to the test proxy when using `core-rest-pipeline`. Still need to test out the `core-http` case.

[2022-04-06 17:02] sajeetharan commented on #20289
@selenecodes can you attach a sample?  I have tested this with the version 3.15.1 on both edge and chrome. It does not throw the error on console

[2022-04-06 17:15] joshfree commented on #19609
Updating JS milestone to May

[2022-04-06 17:16] jeremymeng commented on #18797
@chriso86 Sorry for the confusion.  By "client" we mean it is client of Azure services.  I will look into this deeper but I believe with proper polyfill @azure/service-bus should be able to run in browsers.

[2022-04-06 17:52] selenecodes commented on #20289
Certainly, I created a mockup using the node.js quickstart on https://observablehq.com/@selenecodes/cosmosdb-user-agent-header-issues.

It shows two things:
1. An error in the console: `Refused to set unsafe header "User-Agent"`
2. ChangeFeeds not working as they should (e.g. `iterator.hasMoreResults` never returns `false` and `iterator.fetchNext()` continues providing repeat values.

[2022-04-06 18:08] joshfree commented on #21066
Link to dependency - https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4346

[2022-04-06 18:26] xirzec opened #21244 "[core-rest-pipeline] upgrade core-tracing to 1.0.0"

[2022-04-06 18:26] HarshaNalluru opened #21245 "[Monitor Query] Update the package to use core-tracing 1.0"
Original issue https://github.com/Azure/azure-sdk-for-js/issues/21199

Reference https://github.com/Azure/azure-sdk-for-js/pull/21254

[2022-04-06 18:27] jeremymeng opened #21246 "servicebus/service-bus/package.json"

[2022-04-06 18:28] JonathanCrd opened #21247 "upgrade to core-tracing 1.0.0 for search/search-documents"

[2022-04-06 18:28] HarshaNalluru opened #21248 "upgrade to core-tracing 1.0.0 for appconfiguration/app-configuration"

[2022-04-06 18:28] maorleger opened #21249 "upgrade to core-tracing 1.0.0 for eventgrid/eventgrid"

[2022-04-06 18:47] deyaaeldeen opened #21250 "Samples do not get published automatically by the pos-release automation PR"
This happens when I release @azure/schema-registry-avro, the samples are not published in the post-release automation PR, see last one for instance: https://github.com/Azure/azure-sdk-for-js/pull/21217

[2022-04-06 19:11] praveenkuttappan commented on #21250
@deyaaeldeen Looks like @willmtemple has disabled sample gen step in release pipeline in this PR. https://github.com/Azure/azure-sdk-for-js/pull/18556

[2022-04-06 19:13] deyaaeldeen commented on #20664
Samples @zzhxiaofeng samples have been updated, please let me know if there are any other issues.

[2022-04-06 20:53] sadasant commented on #21195
For the `@azure/identity-cache-persistence` package, we rely on `@azure/msal-node-extensions` which does not include pre-built binaries. The MSAL team has so far decided not to provide pre-built binaries: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3332#issuecomment-816919595

We’re sorry for the inconvenience.

I will close this issue in favor of a prior one: https:/

[2022-04-06 20:53] #21195 closed

[2022-04-06 20:53] sadasant commented on #21090
For the `@azure/identity-cache-persistence` package, we rely on `@azure/msal-node-extensions` which does not include pre-built binaries. The MSAL team has so far decided not to provide pre-built binaries: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3332#issuecomment-816919595

We’re sorry for the inconvenience.

I will close this issue in favor of a prior one: https:/

[2022-04-06 20:53] #21090 closed

[2022-04-06 21:26] witemple-msft commented on #21090
I'd also say that in this case we're talking about dynamic linking of the module. We'd have to attempt to `dlopen` libsecret.so on linux ourselves and simply do nothing in the plugin if it doesn't exist on the system. Consider the flip side of this issue where the plugin silently fails for users who don't have libsecret on their development machines and don't know that they need it.

Also, when th

[2022-04-06 21:27] #20313 closed

[2022-04-06 22:14] sarangan12 commented on #20147
@qiaozha No. I have not started working on it. Per discussion with @xiangyan99 he would coordinate with other languages (Python specifically) and once the work is completed there,we could do the same for JS.

[2022-04-06 22:15] #21226 closed

[2022-04-06 22:38] jeremymeng commented on #19217
Doing this for all packages at once will trigger all packages' build pipeline.  We better work with EngSys team to merge change via an alternative way.

[2022-04-06 23:32] glv1at118 opened #21262 "TypeError: Cannot read properties of undefined (reading 'AZURE_TRACING_DISABLED')"
- **Package Name**:  @azure/storage-blob
- **Package Version**:  ^12.9.0
- **Operating system**: Windows 10
- [ No] **nodejs**
    - **version**:
- [ Yes] **browser**
    - **name/version**: Chrome/ 99.0.4844.84
- [ Yes] **typescript**
    - **version**: ^4.1.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ Yes] source code documentation
  - [ Yes] SDK API docs on https://doc

[2022-04-06 23:32] azure-sdk commented on #21262
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.4647488,Azure.Core:0.40466124,Container Instances:0.023207719'

[2022-04-07 00:30] maorleger commented on #21262
Hi @glv1at118 - thank you for opening this issue! My theory is that you have some polyfill for `process` that does not include `process.env`...

This function should return early in the browser, as `process` would not be defined...

https://github.com/Azure/azure-sdk-for-js/blob/5762893591c904be4880a47a56041c7298dc959a/sdk/core/core-tracing/src/createSpan.ts#L52-L65

Is it possible that you have s

[2022-04-07 00:44] ki1729 opened #21266 "Servicebus Client.Close() does not release all resources"
- **Package Version**: 7.1.0 and higher
- **Operating system**: Unknown

**Describe the bug**
@AndyNolpa reported client.close() does not close all recievers. Their comment verbatim is

This behavior appears since version 7.1.0 and higher. For Version 7.0.5 the close() does the work for sender and reciever as expected.

This comment was on a similar Java bug - Link to comment -> https://github.com

[2022-04-07 00:49] deyaaeldeen opened #21267 "[Perf tests] Consider making `run` accept parameters"
Currently, `run` takes no parameters and it needs to access members of the class for anything initialized in the constructor or the `setup` method. This makes it awkward for things initialized in `setup` because their types have to allow for `undefined` since they were not initialized in the constructor. This forces `run` to either perform an unnecessary runtime check to convince the typechecker t

[2022-04-07 01:30] maorleger opened #21269 "`supportsTracing` does not support side-by-side installs of core-tracing"
Suppose @azure/identity pins @azure/core-tracing to 1.0.0, but @azure/test-utils floats it at ^1.0.0 as an example).

In that case, `supportsTracing` will set the instrumenter at @azure/core-tracing@1.0.1, but identity will use @azure/core-tracing@1.0.0 and the tests will fail.

In production, at least in node, this is not an issue because of how OTel wires up the plugin (using require-in-the-midd

[2022-04-07 07:29] manekinekko commented on #21195
Thank you @sadasant for taking the time to look at this issue. We will be exploring other options for now.

[2022-04-07 07:43] sinedied commented on #21090
@sadasant This issue is not linked to pre-built binaries, but how this lib handle the lack of libsecret being installed on the system.
At least based on what @witemple-msft said, providing a way to check if libsecret.so is present on the system before adding the cache plugin would allow to gracefully handle the use case. For now it's an internal crash and there's not much we can do about it.

A wa

[2022-04-07 13:09] praveenkuttappan commented on #21094
@ckairen It seems smoke test relies on next tag in npm for the package. Not all package will have next tag, especially when a package is released as GA. We need to handle this scenario to pull correct package tag if next is not present on nom.

[2022-04-07 14:57] maorleger opened #21281 "Upgrade to core-tracing 1.0 - quantum/quantum-jobs"

[2022-04-07 14:58] azure-sdk commented on #21281
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5020448,EngSys:0.062038407,Machine Learning:0.01342657'

[2022-04-07 17:38] craxal commented on #21156
I can confirm the fix resolves my issue!

[2022-04-07 18:12] deyaaeldeen opened #21288 "[Schema Registry Avro] Type 'MessageAdapter<EventData>' is missing the following properties from type 'MessageAdapter<EventData>': produce, consume"
Min testing is failing: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1488178&view=logs&j=6080fc5e-b925-535b-661b-682a75b9c63c&t=ec03a7ac-e300-5e96-52e8-f6116c85334d

[2022-04-07 18:14] jeremymeng commented on #20963
This should be fixed by #21134

[2022-04-07 18:14] #20963 closed

[2022-04-07 18:29] nu11modem opened #21291 "DataLake filesystem ACL issue"
- **Package Name**:  '@azure/storage-file-datalake';
- **Package Version**:   @azure/storage-file-datalake@12.8.0
- **Operating system**:  Windows 10
- [x] **nodejs**
    - **version**:  v12.16.1
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**:  typescript@4.6.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ]

[2022-04-07 18:40] #21288 closed

[2022-04-07 18:43] xirzec commented on #20289
In other SDKs we use `x-ms-useragent` in the browser for this exact reason. It seems like Cosmos is setting the `User-Agent` header explicitly though: https://github.com/Azure/azure-sdk-for-js/blob/2214c6a4845c5ba134f2dcb9388a06da1734ac64/sdk/cosmosdb/cosmos/src/CosmosClient.ts#L88

I think the right fix here is to migrate Cosmos to using our centrally provided userAgent policy instead of manually

[2022-04-07 19:01] mikeharder commented on #21267
@deyaaeldeen: Can you give an example of where this is needed?

If this would improve or simplify the JS perf tests, I don't have a problem with it.  However, we haven't seen a need for this in any of the other languages, so I wonder if there's a different way to solve this in JS without needing to change the perf framework.

[2022-04-07 19:16] jeremymeng commented on #21266
@AndyNolpa Thanks for reporting the issue.  I will have a look.  Have you tried the latest version of `@azure/service-bus`? We have fixed some issue around closing while there are errors.  Also, it would be great if you could enable more detailed logging and share the log when the issue happens with us. Here's the instructions to enable logging:

https://github.com/Azure/azure-sdk-for-js/blob/main

[2022-04-07 19:24] deyaaeldeen commented on #21267
@mikeharder Please see lines 22 and 40 in https://github.com/Azure/azure-sdk-for-js/blob/e4884eabf19272af3d552f17136b415b6fa4bea0/sdk/schemaregistry/perf-tests/schema-registry-avro/test/deserialize.spec.ts#L22-L42

[2022-04-07 19:36] deyaaeldeen commented on #21267
With my proposal, this will be updated to:
[code]

[2022-04-07 20:35] deyaaeldeen opened #21294 "[Schema Registry Avro] Include Group Name and Schema name in SchemaProperties"
See https://github.com/Azure/azure-sdk-for-net/issues/27623 for details

[2022-04-07 20:55] jeremymeng commented on #20334
We don't have corresponding types for Uri, DateTimeOffset, or TimeSpan. We have and support `Date`. In the future there will be a `Temporal.Duration` [api](https://tc39.es/proposal-temporal/docs/duration.html).  Keep this for tracking purpose.

[2022-04-07 21:36] nturinski commented on #21192
Thanks @timovv!  Very helpful explanation.  Since it doesn't appear that this is a bug, feel free to close this issue.

[2022-04-07 21:54] #15809 closed

[2022-04-07 21:56] beyerleinf commented on #20688
Hi @MaryGao, sorry for not getting back earlier. It works, but I had to use a different config:

[code]

Thanks for your help!

[2022-04-07 22:08] joheredi commented on #21156
Released @azure/data-tables@13.1.0 which contains the fix

[2022-04-07 22:08] #21156 closed

[2022-04-07 22:36] timovv commented on #21192
Awesome, glad it was helpful :)

[2022-04-07 22:36] #21192 closed

[2022-04-07 23:20] jeremymeng opened #21299 "Treat `Uint8Array` the same as `Buffer` when sending message"
This is fixed in Event Hubs.  We probably want to do the same for Service Bus.

[2022-04-07 23:23] #21294 closed

[2022-04-07 23:31] mikeharder commented on #21267
I discussed this with @deyaaeldeen.  Personally, I prefer the current test code (with `this.serialized!`) for a few reasons:

1. It is more object-oriented.  Object should own their state, callers shouldn't need to be passing state between methods.
2. There is no runtime cost to the `!`, and it's only a single character in source code.
3. Most state should be initialized in `constructor()`.  I thi

[2022-04-08 00:16] jeremymeng commented on #18797
I found that some bundlers can handle our NodeJs dependencies and provide the browser polyfills automatically.  For example, Parcel, and webpack in react-app.

I just gave Parcel a try with `@azure/event-hubs` which is very similar to `@azure/service-bus`.  It worked nicely and added `os-browserify` and `path-browserify` for me automatically.

https://gist.github.com/jeremymeng/022ec05e362cdbc8be2

[2022-04-08 01:00] ascended27 commented on #20933
It appears to work as expected.

[2022-04-08 01:00] #20933 closed

[2022-04-08 03:04] masterashu-motorq commented on #4808
Are there any updates on this?

[2022-04-08 03:10] v-jiaodi opened #21302 "[Storage - Queue] Checkout Azure/azure-sdk-for-js@main to s failing in nightly runs"
Storage - Queue nightly test runs are failing with:

##[warning]Git fetch failed with exit code 128, back off 8.29 seconds before retry.
git -c http.extraheader="AUTHORIZATION: basic ***" fetch --force --tags --prune --prune-tags --progress --no-recurse-submodules origin
fatal: could not read Username for '[https://github.com'](https://github.com%27/): terminal prompts disabled
##[warning]Git fetc

[2022-04-08 03:11] v-jiaodi opened #21303 "[Communication - SMS] SmsClient [Live] test send method throws an exception when sending from a number you don't own failing in nightly runs"
Communication - SMS nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\communication\communication-sms\test\public\suites\smsClient.send.ts:104:14)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1491382&view=results

[2022-04-08 03:12] v-jiaodi opened #21304 "[Event Hubs] hashPartitionKey Generated hashes match the ones the service would have generated failing in nightly runs"
Event Hubs nightly test runs are failing with:

Require stack:D:\a\_work\1\s\sdk\eventhub\event-hubs\dist-esm\test\internal\partitionKeyHashMap.spec.js
D:\a\_work\1\s\common\temp\node_modules\.pnpm\mocha@7.2.0\node_modules\mocha\lib\esm-utils.js D:\a\_work\1\s\common\temp\node_modules\.pnpm\mocha@7.2.0\node_modules\mocha\lib\mocha.js
 D:\a\_work\1\s\common\temp\node_modules\.pnpm\mocha@7.2.0\node_

[2022-04-08 03:12] azure-sdk commented on #21304
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.5993666,Azure.Core:0.12282363,Azure.Identity:0.05401112'

[2022-04-08 11:29] selenecodes commented on #20289
Sounds great, I was wondering though. Should I open a new issue for the ChangeFeed issue?

[2022-04-08 13:58] dsab123 commented on #20933
Thanks guys!

[2022-04-08 14:40] sajeetharan commented on #20289
@selenecodes yes please, we will investigate that separately. Thanks.

[2022-04-08 15:15] selenecodes opened #21309 "Azure CosmosDB ChangeFeeds never exhaust and the feed continues to repeat last value when using `fetchNext`"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.15.1
- **Operating system**: Windows 10 Version 21H2 (Build 19044.1586)
- [x] **nodejs**
    - **version**: 16
- [x] **browser**
    - **name/version**: Chrome 100.0.4896.75 (Official Build) (64-bit) (cohort: Stable)
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code d

[2022-04-08 15:18] selenecodes commented on #20289
#21309 For anyone dealing with the ChangeFeed issues please head to this new issue.

[2022-04-08 16:48] maorleger opened #21311 "[storage-blob-changefeed] - Upgrade to core-tracing 1.0"

[2022-04-08 16:49] maorleger opened #21312 "[storage-file-share] - Upgrade to core-tracing 1.0"

[2022-04-08 16:49] maorleger opened #21313 "[storage-queue] - Upgrade to core-tracing 1.0"

[2022-04-08 16:49] maorleger opened #21314 "[storage-blob] - Upgrade to core-tracing 1.0"

[2022-04-08 16:49] maorleger opened #21315 "[storage-file-datalake] - Upgrade to core-tracing 1.0"

[2022-04-08 17:06] maorleger opened #21316 "Upgrade synapse packages to core-tracing 1.0"

[2022-04-08 17:44] maorleger commented on #21316
Leaving this open, but speaking to @joheredi we decided it's probably better to just wait for the codegen updates and regenerate these packages instead of doing the upgrades in our monorepo

[2022-04-08 17:44] maorleger commented on #21316
Leaving this open, but speaking to @joheredi we decided it's probably better to just wait for the codegen updates and regenerate these packages instead of doing the upgrades in our monorepo

[2022-04-08 18:14] HarshaNalluru commented on #18021
Not doing anything here, recommending to migrate to new recorder if anyone faces this. 😉

[2022-04-08 18:14] #18021 closed

[2022-04-08 18:44] HarshaNalluru opened #21320 "Release recorder and test-credential packages"
Reasons
- Required to migrate the tests in the autorest.typescript repo, to unblock the validation and testing RLC
- Since we intend to make it public (as requested by Dina for a better customer testing strategy)
- Since it is already published - for the v1

[2022-04-08 19:56] stephajn commented on #6805
There's still no mention of this in the documentation. This really needs to be raised front and center if this is the default.  I am using an Azure Function to write a message to a queue using the QueueAttribute. When I look at the queue in Azure Storage Explorer, I don't see my messages Base64 encoded.  But then when I use the Azure.Storage.Queues library to download these messages, they are comi

[2022-04-08 20:36] jeremymeng commented on #6805
@stephajn thank you for the report!  I see you are using `Azure.Storage.Queues`. Just want to make sure that you are using JavaScript SDK, or we might need to improve the docs for other langauges as well if you are using .NET/Java/Python etc.

@EmmaZhu maybe mentioning in the ref doc of `receiveMessages()` that if the received message is base64-encoded, you can decode it with something like `Buffe

[2022-04-08 21:03] sadasant commented on #21090
@sinedied I believe the approach you’re proposing makes a lot of sense. Give me couple of days to follow up.

[2022-04-08 21:31] stephajn commented on #6805
@jeremymeng I am using the .NET SDK. It looks like this is an issue that is across other languages too.

[2022-04-08 23:10] antkmsft opened #21323 "AppConfiguration can't auth in Germany West Central cloud using connection string?"
There was a bug reported for Go SDK, when AppConfig client couldn't authorize in Germany West Central cloud using the connection string: https://github.com/Azure/azure-sdk-for-go/issues/17424

The fix is to use and sign `Date` header instead of `x-ms-date` (the Go PR is linked in the Go issue, it is a 2-line change).

I searched your code base for `"SignedHeaders"` to easily find the place that ha

[2022-04-09 03:01] ynauls commented on #12667
Is there any plan to support "$top" operation?

[2022-04-10 11:43] amitShimon1983 opened #21327 "@azure/storage-blob generateSasUrl Invalid permission: ["
- **Package Name**:  @azure/storage-blob
- **Package Version**: 12.9.0
- **Operating system** :windows
- [x] **nodejs** : true
    - **version**: 14
- [ ] **browser**: chrome
    - **name/version**: Version 100.0.4896.75 (Official Build) (64-bit)
- [x] **typescript**: true
    - **version**:4.3.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [

[2022-04-10 17:00] AndyNolpa commented on #21266
As there are some days gone since my last report and a had task on a different project, i will try to check the newest version as soon as i can. After that i will let you know if the problem still appears.

[2022-04-11 01:22] lirenhe opened #21329 "documentation for RLC should be put under the correct TOC in docs.microsoft.com"
**Is your feature request related to a problem? Please describe.**

After we release deviceupdate for RLC, I found the TOC is under other->Uncategorized Packages

![image](https://user-images.githubusercontent.com/9100546/162649789-ecb8292d-bca1-4074-9688-fc09107626f0.png)

**Describe the solution you'd like**
It should be add into the correct TOC after the package is released.

[2022-04-11 01:22] azure-sdk commented on #21329
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.28791994,Docs:0.081144385,EngSys:0.052420065'

[2022-04-11 12:42] #19787 closed

[2022-04-11 17:11] jeremymeng commented on #21327
@amitShimon1983 are you passing a simple object to as the permission? The SDK expects an instance of the class `BlobSASPermission`, not just any objects.  We have this issue to track the improvement in this scenario https://github.com/Azure/azure-sdk-for-js/issues/18799

[2022-04-11 17:36] ksstott opened #21341 "isIpEndpointStyle inconsistent with .net equivalent"
The implementation of [isIpEndpointStyle](https://github.com/Azure/azure-sdk-for-js/blob/7835871560a0963b8bef4eb16ed5273c308250c5/sdk/storage/storage-queue/src/utils/utils.common.ts#L361) is inconsistent with the .net equivalent implementation [here](https://github.com/Azure/azure-sdk-for-net/blob/a70183c292c4b6eec2195e2ee585fd00964caaf1/sdk/storage/Azure.Storage.Common/src/Shared/UriExtensions.cs

[2022-04-11 20:35] xirzec commented on #20831
Looks like this is resolved by @jeremymeng 's change

[2022-04-11 20:36] xirzec commented on #10946
@HarshaNalluru is this resolved with your recent changes?

[2022-04-11 20:46] joheredi opened #21344 "[Smoke Tests] Re-enable failing samples"
The following samples were failing and disabled:

- [ ] ARM Samples: Hardcoded subscriptionId has to be read from env
- [ ] [app-configuration] disable optimisticConcurrencyViaEtag.js
- [ ] [arm-communication] #24067
- [ ] [communication-identity] disabled sample `getTokenForTeamsUser.js` #22133
- [ ] [communication-phone-numbers] disabled `releasePhoneNumber.js`, `getPurchasedPhoneNumber.js`, `up

[2022-04-11 21:42] azure-sdk opened #21347 "Dependency package glob has a new version available"
We have identified a dependency on version 7.2.3 of glob. A new version (8.0.3) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package (/sdk/servi

[2022-04-11 21:42] azure-sdk commented on #21347
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.31968108,Service Bus:0.18660183,Azure.Identity:0.05010119'

[2022-04-11 21:57] #20567 closed

[2022-04-11 21:57] #21244 closed

[2022-04-11 22:36] joheredi opened #21350 "Add helpers to mock Stream responses to test-utils"
@azure/core-rest-pipeline and @azure-rest/core-client contain some code to mock https and fetch stream responses. We may want to move this to @azure/test-utils so that other libraries can leverage it in their tests

[2022-04-11 22:43] joheredi opened #21351 "[core-rest-pipeline] Declare NodeJs compatible types in core-rest-pipeline"
Have core-rest-pipeline declare its own EventEmitter / ReadableStream / WritableStream interfaces to avoid pulling in Node-specific types.

/cc: @xirzec

[2022-04-11 23:35] HarshaNalluru commented on #21248
#21254 solves it

[2022-04-11 23:35] #21248 closed

[2022-04-12 01:54] EmmaZhu commented on #21291
Hi @nu11modem ,

Storage service only accepts lower cased permissions string.  Could you try again with specify the permission with lower case letters?
`permissions: 'rwd',`

Thanks
Emma

[2022-04-12 02:50] v-jiaodi opened #21360 "[App Configuration] Integration test libraries failing in nightly runs"
App Configuration nightly test runs are failing with:

D:\a\_work\1\s\sdk\appconfiguration\app-configuration\src\internal\tracing.ts:5
import { packageVersion } from "../appConfigurationClient";
ReferenceError: packageVersion is not defined
    at Object.<anonymous> (D:\a\_work\1\s\sdk\appconfiguration\app-configuration\src\internal\tracing.ts:5:60)
    at Generator.next (<anonymous>)
    at Objec

[2022-04-12 02:50] v-jiaodi opened #21361 "[Storage - File Datalake] LeaseClient from File renewLease failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\storage\storage-file-datalake\test\leaseclient.spec.ts:207:12)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1494112&view=results

[2022-04-12 03:00] qiaozha commented on #21210
checking with the service team.

[2022-04-12 09:27] nulltoken commented on #20690
@hectorhdzg Once again, you nailed it! Thanks a ton. :heart:

[2022-04-12 09:27] #20690 closed

[2022-04-12 13:47] MaryGao commented on #21320
@HarshaNalluru Any update for this issue?

[2022-04-12 15:01] #21249 closed

[2022-04-12 17:28] joheredi opened #21369 "[Smoke Test] Use the same approach to run samples as dev-tool"
Currently, there is a disconnect in the way smoke-test and dev-tool run samples, this will cause issues in the long run. We should consolidate the logic to either re-use the code that dev-tool uses or call dev-tool within the smoke-test.

/cc: @praveenkuttappan, @benbp, @willmtemple, @jeremymeng

[2022-04-12 17:42] HarshaNalluru commented on #21320
Both the packages, test-recorder, and the test-credential are released.

https://www.npmjs.com/package/@azure-tools/test-recorder/v/2.0.0
https://www.npmjs.com/package/@azure-tools/test-credential/v/1.0.0

[2022-04-12 19:35] jay-most commented on #18759
Using the sample code from above, @mfatima21 sets the partition key on the feed options. There is no partition key on Feed Options.
Argument of type '{ maxItemCount: number; continuationToken: string; partitionKey: string; }' is not assignable to parameter of type 'FeedOptions'.
  Object literal may only specify known properties, and 'partitionKey' does not exist in type 'FeedOptions'.ts(2345)

[2022-04-12 19:36] #14367 closed

[2022-04-12 20:05] #15199 closed

[2022-04-12 21:04] #21320 closed

[2022-04-12 21:06] #18242 closed

[2022-04-12 21:07] HarshaNalluru commented on #18241
We no longer think this is required

[2022-04-12 21:07] #18241 closed

[2022-04-12 21:07] HarshaNalluru commented on #15641
Migrate to recorder v2 please

[2022-04-12 21:07] #15641 closed

[2022-04-12 21:11] HarshaNalluru commented on #10664
Closing this since it is not relevant to recorder v2

[2022-04-12 21:11] #10664 closed

[2022-04-12 21:12] HarshaNalluru commented on #8110
Closing this as it is not relevant for recorder v2

[2022-04-12 21:12] #8110 closed

[2022-04-12 21:15] HarshaNalluru commented on #18221
Checking with @sadasant if we still need it

[2022-04-12 21:18] HarshaNalluru opened #21371 "[Recorder] Add logging - with azure logger"

[2022-04-12 21:18] azure-sdk commented on #21371
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3062493,Azure.Identity:0.08070849,App Services:0.04038524'

[2022-04-12 21:21] HarshaNalluru commented on #19410
Please migrate to recorder v2

[2022-04-12 21:21] #19410 closed

[2022-04-12 21:24] HarshaNalluru commented on #17415
Migrated to new recorder, no longer a problem

[2022-04-12 21:24] #17415 closed

[2022-04-12 21:26] HarshaNalluru commented on #15954
Not needed for recorder v2, will handle anything remotely related in OAuth sanitizer issue

[2022-04-12 21:26] #15954 closed

[2022-04-12 21:27] HarshaNalluru commented on #15454
Not relevant for recorder v2

[2022-04-12 21:27] #15454 closed

[2022-04-12 21:28] #14614 closed

[2022-04-12 21:30] HarshaNalluru commented on #13682
not relevant

[2022-04-12 21:30] #13682 closed

[2022-04-12 21:32] HarshaNalluru commented on #13526
Pipelines will now handle this with the credscan tool running on the repo

[2022-04-12 21:32] #13526 closed

[2022-04-12 21:33] HarshaNalluru commented on #13077
New recorder doesn't have any relevance

[2022-04-12 21:33] #13077 closed

[2022-04-12 21:33] HarshaNalluru commented on #12996
we have it now :)

[2022-04-12 21:33] #12996 closed

[2022-04-12 21:33] sadasant commented on #18221
@HarshaNalluru I don’t think we do 🤔

[2022-04-12 21:34] HarshaNalluru commented on #12882
We don't record AAD traffic, so all good

[2022-04-12 21:34] #12882 closed

[2022-04-12 21:34] HarshaNalluru commented on #12881
not relevant for recorder v2

[2022-04-12 21:34] #12881 closed

[2022-04-12 22:55] jay-most commented on #18759
@mfatima21 try using "continuation" instead of continuationToken.

[2022-04-12 23:20] jeremymeng commented on #18797
PR #21357 adds information about required polyfills.

[2022-04-13 07:37] qiaozha commented on #20590
@colawwj Can you help refresh @azure/arm-storage for this issue with latest dev release of @autorest/typescript. Thanks

[2022-04-13 07:51] qiaozha commented on #21210
service team is working on add this back and we will release a new package by then. Thanks

[2022-04-13 07:58] MaryGao commented on #21101
@nturinski I tried in my local, Are these behaviors expected from your side?

- For the operation client.containerApps.listSecrets, it will throw the RestError with 204 header
- For the operation containerApps.beginDeleteAndWait, it will return undefined and NOT throw any error with 204 header

[2022-04-13 10:13] blomm commented on #20030
Is there a time-frame on this please?
Really could use this feature.

[2022-04-13 10:31] shahtajk7 opened #21382 "Azure Purview Catalog SDK - Unable to assign 'Attributes' while creating Entity using Javascript SDK"
Hi,

I'm trying to create an entity using azure purview catalog javascript SDK, I'm unable to assign `qualifiedName` attribute in the request body (which is a mandatory field), `attributes` filed in entity creation body is accepting the property value with type `Record<string, Record<string, unknown>>`, but that's not always the case, most of the attributes accepts a string value. When I make the

[2022-04-13 10:32] azure-sdk commented on #21382
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.49971756,Mgmt:0.49581075,Service:0.0039556646'

[2022-04-13 10:56] shahtajk7 commented on #21382
I Fixed the property value in `AtlasStruct` in library directly and it works

changing this

to this

works.

[code]

[2022-04-13 12:17] Sanjay-Jeyavel opened #21383 "Azure cosmos upsert - Autogeneration of ID before upsert (Question)"
Hey Team,

Consider a scenario where there’s a container created with partition key as /id. A JSON doc like the below is being upserted.
{
 foo: "bar"
}

**Expectation**: Since the JSON document doesn't have any "id" field. The upsert method should generate the unique ID and create the document in the cosmos container as below

{
foo: "bar",
id: a new uuid()
}

But right now the upsert method reje

[2022-04-13 15:29] sajeetharan commented on #20886
https://github.com/Azure/azure-sdk-for-js/pull/21102

[2022-04-13 15:29] #20886 closed

[2022-04-13 16:29] sajeetharan commented on #18558
Reopening as we need to review the documentation @kirankumarkolli  @jay-most @kushagraThapar

[2022-04-13 16:51] sajeetharan commented on #20030
Hi @blomm we are working on this. You can expect this to be released soon.

[2022-04-13 16:59] #21281 closed

[2022-04-13 17:15] craxal opened #21385 "Attempting to delete table using storage account SAS with only Read and List permissions does not throw error"
- **Package Name**: @azure/data-tables
- **Package Version**: 13.1.0
- **Operating system**: Windows 11
- [X] **nodejs**
    - **version**: 16.13.1
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 4.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2022-04-13 17:22] #20667 closed

[2022-04-13 17:31] sajeetharan commented on #18759
Reopening as the code needs to be modified to support!

[2022-04-13 17:45] joheredi commented on #21382
@shahtajk7 thanks for reaching out and reporting this issue! We'll publish a fix in the next release (the first week of May). Meanwhile, you can work around this issue in your application by casting to `any` for example:

[code]

Let me know if this unblocks you.

----
I'd really appreciate it if you can share feedback on your development experience using this library. Here are a few general quest

[2022-04-13 17:53] kmaramr opened #21387 "Service bus topic subscription erroring out."
- **Package Name**: @azure/service-bus
- **Package Version**: 7.5.1
- **Operating system**: Windows
- [x] **nodejs**
    - **version**:  17.6.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com
  - [x] Samples (https://g

[2022-04-13 18:27] shahtajk7 opened #21388 "Getting typescript errors during npm build on azure-rest/core-client used by azure purview data catalog SDK"
I'm trying to use `azure-rest/purview-catalog` Javascript SDK (https://www.npmjs.com/package/@azure-rest/purview-catalog), after importing/installing in into my project, I'm getting below errors when I'm running the build using command `npm run build`.

[code]

`azure-rest/purview-catalog` uses `azure-rest/core-client` and this code below in this library is resulting in these errors:
[code]

I tri

[2022-04-13 18:27] azure-sdk commented on #21388
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.23571861,Storage:0.11249013,Azure.Identity:0.06860241'

[2022-04-13 18:31] shahtajk7 commented on #21382
@joheredi your suggestion worked for me, thanks.
I'm facing one more major issue with this SDK, posted the issue separately here : https://github.com/Azure/azure-sdk-for-js/issues/21388 and I'm really looking forward to get a quick help on this (ran the build earlier by commenting out this code piece).
Also, I like to know is this current Purview Catalog SDK version stable enough to be used in a p

[2022-04-13 19:26] jeremymeng commented on #21387
@kmaramr if possible could you please share your code or a minimal project that reproduces this issue?

Also, could you please enable more logging and see if anything unusual/erroneous happened leading to this error? Please refer to the troubleshooting section for more information on getting debug logs:

https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/servicebus/service-bus/README.md#troub

[2022-04-13 19:51] joheredi commented on #21388
Hi @shahtajk7, this looks like an issue from an older version of TypeScript not supporting string literals. I see that you are using TypeScript version `4.6.3` which should support this feature. Is there any chance that an older version of TypeScript is installed globally in your system and is being used instead of the TS version you installed in your project?

A quick way to check the global TS v

[2022-04-13 22:52] KarishmaGhiya opened #21392 "[Identity] Authorization Code Credential is failing without providing client secret"
- Authorization Code Credential fails without a client secret - we get no response. There are two things to this -
1. Currently the `doGetToken` of `MsalAuthorizationCode` only accepts a `confidentialApp`. It should also allow the possibility of a `publicApp`. https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/src/msal/nodeFlows/msalAuthorizationCode.ts#L48

This is somethin

[2022-04-14 00:50] joheredi commented on #21385
It looks like we missed re-throwing the exception when the status code is not 404 when migrating to the new tracing version https://github.com/Azure/azure-sdk-for-js/pull/20399. I'll send out a fix soon

[2022-04-14 01:06] KarishmaGhiya opened #21395 "[Identity] Add documentation for users to discover the allowing public client in Authorization Code Credential"
In Authorization Code Credential, we need the following settings to be enabled in Azure Portal app registration to allow public client authorization, otherwise we get the error `AuthenticationRequiredError: invalid_client: 7000218 - [2022-04-13 21:48:53Z]: AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'.`

1. Enabling Public Client flows

[2022-04-14 06:52] shahtajk7 commented on #21382
@joheredi your suggested solution worked for now, thanks.
Also, I would like to know that would you guys recommend using this SDK in the production environment for now ?

[2022-04-14 06:54] shahtajk7 commented on #21388
@joheredi Thanks, yes the project was using the old version, fixing it fixed the errors, thanks.

[2022-04-14 08:46] amit12cool opened #21402 "Event not received when blob is appended in blob storage account"
- **Package Name**:  @azure/storage-blob
- **Package Version**:  12.9.0
- **Operating system**: Linux
- [x] **nodejs**
    - **version**:   v14.16.1
- [x] **browser**
    - **name/version**:  NA
- [x] **typescript**
    - **version**: NA
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe th

[2022-04-14 10:23] cephalin commented on #21151
@sadasant apart from manually inserting logging code into `node_modules/@azure/identity/dist/index.js` as I mentioned above, all I did was just following the error messages to enroll my device into InTune, etc. Which makes being able to see the error messages all the more important. There were other errors after the `AADSTS50005` one, but it was pretty straightforward to fix one after another as l

[2022-04-14 10:24] cephalin commented on #21151
@sadasant And yes I'm able to authenticate now.

[2022-04-14 15:37] rossb-mmt opened #21405 "DataChangeDetectionPolicy loses column name in serialisation"
- @azure/search-documents:
- 11.2.1:
- Windows:
- [ ] **nodejs**
    - 16.3.0:
- [ ] **typescript**
    - 4.0.0:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When creating or updating a DataSourceConnection to a cosmosdb data source, when you pass e.g. a HighWaterMarkChangeD

[2022-04-14 15:37] azure-sdk commented on #21405
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.24762703,Search:0.1694629,Storage:0.14159'

[2022-04-14 16:47] joheredi commented on #21388
Glad to hear that the issue is solved. Please keep the feedback coming in 😄

[2022-04-14 16:47] #21388 closed

[2022-04-14 17:17] deyaaeldeen opened #21406 "[Text Analytics] Updates/Renames for Custom Text and language"
In the context of Custom Text (models, method names, samples, docs, etc), the service team requested the following renames:
1. `Category` (as in machine learning class/label and not to be confused with entity category) to `Label`
2. `Custom Entity` to `Custom Named Entity`
3. Any prefixes/postfixes to `projectName` and `deploymentName` to be dropped. For instance `CUSTOM_ENTITIES_PROJECT_NAME` sho

[2022-04-14 18:02] #21219 closed

[2022-04-14 18:35] jsquire commented on #21406
@deyaaeldeen:  Thanks for linking this over to the other repos; it's helpful for tracking.  For this to be actionable, we'll need to break things down into the details of specific changes that need to be made rather than the high level that we have currently.

Mainly, what I'll be taking from this is what types in the API surface we'll be coordinating to change across languages.

[2022-04-14 18:54] jsquire commented on #21406
Related: [#27608](https://github.com/Azure/azure-sdk-for-net/issues/27608)

[2022-04-14 19:53] deyaaeldeen commented on #21406
@jsquire Here is a list of things that are proposed to be changed:

### Category => Label
- [`TextAnalyticsActions.SingleCategoryClassifyActions`](https://github.com/Azure/azure-sdk-for-net/blob/1722fc8329bd848d400faf73daeba06d9d718cc1/sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs#L884) => `TextAnalyticsActions.SingleLabelClassifyActions`
- [`SingleCategoryC

[2022-04-14 20:00] jsquire commented on #21406
Thanks, @deyaaeldeen.   That's exactly what I was after.

[2022-04-14 20:07] jeremymeng opened #21410 "[storage-blob][sample] `error.details` doesn't have `requestId` or property"
https://github.com/Azure/azure-sdk-for-js/blob/597adef6ae4b87cf59da0ba0a470edc8966b3e69/sdk/storage/storage-blob/samples-dev/advancedRequestOptions.ts#L53

![image.png](https://images.zenhubusercontent.com/5c51efcef73cf865af8994d5/d06c6f28-b83b-4606-8a64-1896716a151a)

[2022-04-14 20:31] kmaramr commented on #21387
@jeremymeng Thanks for checking on this issue. This seems to be a **user error**. I was not handling the service bus client properly and closing it pre-maturely.

[2022-04-14 20:36] jeremymeng commented on #21387
@kmaramr I assume things are working for you now?  Feel free to ask any further questions.

[2022-04-14 21:22] amishra-dev commented on #21341
@EmmaZhu / @jaschrep-msft / @seanmcc-msft can you folks sync once and come up with a strategy to handle this.

[2022-04-14 23:17] JonathanCrd commented on #21188
@maorleger did you intentionally closed this issue?
I suspect it might got closed with PR 21189, but that only updated KV Admin, not all of the packages listed in the description

[2022-04-15 01:14] #21392 closed

[2022-04-15 01:16] #20143 closed

[2022-04-15 01:52] KarishmaGhiya commented on #20054
Logs look good

[2022-04-15 01:52] #20054 closed

[2022-04-15 01:54] KarishmaGhiya commented on #20174
- Make the lint rule for identifying internal references in test/public folder
- Make some kind of lint rule (maybe?) to identify the correct folder structure for test

[2022-04-15 02:01] KarishmaGhiya commented on #21137
We opened a PR for case 1 - #21201
For case 2 - For now we will let what we have in the TS guide be as is since we have the Error code from the service there. Can update later if we get more customer feedback.

[2022-04-15 02:01] #21137 closed

[2022-04-15 02:03] sadasant commented on #21014
This issue is about documenting: https://github.com/Azure/azure-sdk-for-js/pull/20516

[2022-04-15 06:23] v-jiaodi opened #21427 "[Communication - Network Traversal] CommunicationNetworkingClient [Playback/Live] [AAD] successfully gets a turn credential with user identity failing in nightly runs"
Communication - Network Traversal nightly test runs are failing with:

    at new RestError (dist-test/index.browser.js:67563:29)
    at handleErrorResponse (../../../common/temp/node_modules/.pnpm/@azure+core-http@1.2.6/node_modules/@azure/core-http/src/policies/deserializationPolicy.ts:281:9 <- dist-test/index.browser.js:68335:18)
    at dist-test/index.browser.js:68271:19

For more details chec

[2022-04-15 06:24] v-jiaodi opened #21428 "[Event Hubs] Event Processor "after each" hook failing in nightly runs"
Event Hubs nightly test runs are failing with:

    at Receiver.get address [as address] (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/rhea-promise@2.1.0/node_modules/rhea-promise/lib/link.ts:96:24)
    at Timeout._onTimeout (/mnt/vss/_work/1/s/sdk/core/core-amqp/src/requestResponseLink.ts:158:39)
    at listOnTimeout (internal/timers.js:557:17)
    at processTimers (internal/timers.js:500:7)

[2022-04-15 06:24] azure-sdk commented on #21428
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.5597996,Azure.Core:0.36814898,Network - Virtual Network:0.01158499'

[2022-04-15 06:24] v-jiaodi opened #21429 "[Monitor - Query] LogsQueryClient live tests queryLogsBatch with types failing in nightly runs"
Monitor - Query nightly test runs are failing with:

    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts:300:13)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1507031&view=results

[2022-04-15 06:24] azure-sdk commented on #21429
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.25747517,Monitor - Query:0.24358249,Cosmos:0.09449836'

[2022-04-15 06:24] v-jiaodi opened #21430 "[Service Bus] Operation Options Tracing getNamespaceProperties with tracing failing in nightly runs"
Service Bus nightly test runs are failing with:

    at Context.<anonymous> (/Users/runner/work/1/s/sdk/servicebus/service-bus/test/internal/operationOptionsForATOM.spec.ts:277:14)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1505344&view=

[2022-04-15 06:25] v-jiaodi opened #21431 "[Storage - Blob] Install dependencies failing in nightly runs"
Storage - Blob nightly test runs are failing with:

.
└─┬ @rush-temp/opentelemetry-instrumentation-azure-sdk
  ├─┬ @opentelemetry/sdk-trace-base
  │ └── ✕ unmet peer @opentelemetry/api@">=1.1.0 <1.2.0": found 1.0.4
  └─┬ @opentelemetry/sdk-trace-node
    └── ✕ unmet peer @opentelemetry/api@">=1.1.0 <1.2.0": found 1.0.4
The command failed:
 D:\a\_work\1\s\common\temp\pnpm-local\node_modules\.bin\pn

[2022-04-15 06:25] azure-sdk commented on #21431
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.55220926,Azure.Core:0.34520206,Monitor - Exporter:0.084003985'

[2022-04-15 10:06] v-xuto commented on #21153
@jeremymeng  Is there any progress or plan about this issue?

[2022-04-15 15:24] #21360 closed

[2022-04-15 17:18] nu11modem commented on #21291
Ok that helped.  Now i'm getting a 404 with this error message.

"message": "The specified resource does not exist."

Can you tell me what the format for the 'id' is supposed to be?  Is it just the 'id' parameter of the AAD user or Group?

[2022-04-15 17:27] jeremymeng commented on #18797
@zoladkow Thanks for the detailed information.  I've added relevant information to the readme files of Service Bus and Event Hubs.  With proper polyfills they work nicely in browser via websockets.  Closing this now.  Let me know if there are any further concerns.

[2022-04-15 17:27] #18797 closed

[2022-04-15 17:29] jeremymeng commented on #12041
No service doc available about this limit yet. Moving into backlog.

[2022-04-15 17:42] wup-dps commented on #20689
I'm encountering the same thing. is it advised to try downgrading the @azure/core-http dependency?

[2022-04-15 19:09] sarangan12 commented on #21405
@rossb-mmt, Thanks for raising the issue. I have validated the scenarios with the latest version of search-documents SDK (11.3.0-beta.7) with the following code:

[code]

I am able to verify that the code changes are working fine and the properties are serialized correctly. Could you please validate with the above code and version? Let me know if you are still blocked.

[2022-04-15 21:54] #21075 closed

[2022-04-16 08:18] Neo-wise opened #21439 "Defender"
https://github.com/microsoft/mdefordownlevelserver/blob/main/InterCA.zip

[2022-04-16 08:18] azure-sdk commented on #21439
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.17431663,Event Hubs:0.14838986,Azure.Core:0.043768644'

[2022-04-16 13:07] EmmaZhu commented on #21431
Resolved.

[2022-04-16 13:07] #21431 closed

[2022-04-18 09:36] MaryGao commented on #21101
Hi Nathan, thanks for reporting this and the first one is identified as an swagger issue and their swagger definition didn't take 204 as success status code and we are contacting the service team to fix it now!

[2022-04-18 14:50] mpodwysocki commented on #21105
@YoDaMa We should be able to close this issue as per #21200

[2022-04-18 15:37] #21439 closed

[2022-04-18 16:13] maorleger commented on #20899
I just tried this with a few samples (most relevant one below):

[code]
So it looks like we're ok on KV, likely because we expect a comma to be followed by a space. We also will not have scope strings like ACR

Going to close this, but feel free to let me know if you have a better header that fails to parse for KV

[2022-04-18 16:13] #20899 closed

[2022-04-18 16:46] joheredi commented on #21385
Fixed with PR #21408

[2022-04-18 16:46] #21385 closed

[2022-04-18 17:06] joheredi commented on #21382
@shahtajk7, I'm glad to hear that you are unblocked! I'm working on a fix for this issue and I'll give an update once the fix is available so that you can remove the workaround.

We are getting close to a stable version of this library, and we are expecting to release stable in the next few months. Since this is a beta version there **might** be breaking changes in future versions, in addition to

[2022-04-18 17:26] timovv commented on #20899
Cool cool, makes sense. Should be fine as long as you're confident that the service will always return a space after the comma (since it doesn't technically have to, as I found out in ACR!).

[2022-04-18 17:48] maorleger commented on #21088
This has been "fixed" upstream on OTel side, so safe to close

[2022-04-18 17:48] #21088 closed

[2022-04-18 18:07] sarangan12 commented on #10331
@areddish Do we have an update on this issue?

[2022-04-18 18:29] kmaramr commented on #21387
Thanks @jeremymeng. It is working for me now. :)

[2022-04-18 18:33] jeremymeng commented on #21387
@kmaramr good to know.  I am closing this issue then.

[2022-04-18 18:33] #21387 closed

[2022-04-18 20:06] jeremymeng commented on #21153
@zedy-wj @benbp Is it possible to override the build pipeline parameter `TimeoutInMinutes` for other clouds?   For public cloud the tests usually finish within one hour, but they seem to take much longer to finish on other clouds.

We didn't want to set a higher timeout because we don't want to keep build agents to hang for a long time when some tests time out.  But if there is no easy way to over

[2022-04-18 22:15] xirzec opened #21463 "[EngSys] Add size monitoring of generated packages to CI"
Per our last retrospective, there was a desire to configure a mechanism for tracking the packed size of SDKs over time, especially core libraries.

Ideally, we could see the change created by each PR (similar to public API changes) before merging.

[2022-04-18 22:17] xirzec opened #21464 "[EngSys] Test README code snippets as part of package CI"
Per our last retrospective, a common source of user confusion is caused by non-functional code snippets inside README.md files. Since today this has to be manually tested before package release, it would be ideal if we could test this in a CI run, similar to how we run samples.

[2022-04-19 03:08] v-jiaodi opened #21466 "[App Configuration] AppConfigurationClient addConfigurationSetting accepts operation options failing in nightly runs"
App Configuration nightly test runs are failing with:

    at assertThrowsAbortError (/Users/runner/work/1/s/sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts:195:14)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)
    at Context.<anonymous> (/Users/runner/work/1/s/sdk/appconfiguration/app-configuration/test/public/

[2022-04-19 03:08] v-jiaodi opened #21467 "[Communication - Identity] CommunicationIdentityClient [Playback/Live] [AAD] successfully deletes a user failing in nightly runs"
Communication - Identity nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:251:17)
    at deserializeResponseBody (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:159:43)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure

[2022-04-19 03:08] azure-sdk commented on #21467
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.500474,Azure.Identity:0.31509563,Communication:0.14146455'

[2022-04-19 03:08] v-jiaodi opened #21468 "[Tables] Reinstall native dependencies failing in nightly runs"
Tables nightly test runs are failing with:

npm ERR! gyp ERR! configure error
npm ERR! gyp ERR! stack Error: 500 status code downloading arm64 node.lib
npm ERR! gyp ERR! stack     at C:\hostedtoolcache\windows\node\17.9.0\x64\node_modules\npm\node_modules\node-gyp\lib\install.js:256:17
npm ERR! gyp ERR! stack     at runMicrotasks (<anonymous>)
npm ERR! gyp ERR! stack     at processTicksAndRejectio

[2022-04-19 03:12] v-xuto commented on #21467
@Azure/acs-identity-sdk for notification.

[2022-04-19 06:52] amit12cool commented on #21402
@EmmaZhu  any updates on this?

[2022-04-19 08:09] rossb-mmt commented on #21405
Thank you, I can confirm 11.3.0-beta.7 does indeed work correctly.

[2022-04-19 08:09] #21405 closed

[2022-04-19 12:00] EmmaZhu commented on #21402
Hi @amit12cool ,

You can see from the document, it only triggers event for four types of operations: https://docs.microsoft.com/en-us/azure/event-grid/event-schema-blob-storage?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=cloud-event-schema#list-of-events-for-blob-rest-apis

Upload/append won't trigger the event.

Thanks
Emma

[2022-04-19 15:11] praveenkuttappan opened #21477 "ES lint is not run as part of PR pipeline check"
ES Lint is skipping lint check for package and runs only tests in ES lint plugin. This was a recent breakage after rush runner script was modified to separate ARM/client packages in pipeline build/test run.

[2022-04-19 15:11] NoTuxNoBux opened #21478 "[swagger][Container Instance] Username is required even if user assigned identity is passed"
- **Package Name**: `@azure/arm-containerinstance`
- **Package Version**: 7.1.0
- **Operating system**: Linux x86-64
- [x] **nodejs**
    - **version**: 17
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.6.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Descr

[2022-04-19 15:12] azure-sdk commented on #21478
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Container Registry:0.30219007,Container Instances:0.2790609,Azure.Identity:0.1704673'

[2022-04-19 15:30] #21105 closed

[2022-04-19 15:30] mpodwysocki commented on #20445
Closed as per #21181

[2022-04-19 15:30] #20445 closed

[2022-04-19 15:33] mpodwysocki commented on #19225
Closed as per #21208

[2022-04-19 15:33] #19225 closed

[2022-04-19 15:36] mpodwysocki commented on #17945
Closing as per #21297

[2022-04-19 15:36] #17945 closed

[2022-04-19 17:30] joheredi commented on #21468
Seems to have been a transient issue with npm. Pipeline is passing: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1513245&view=results

[2022-04-19 17:30] #21468 closed

[2022-04-19 18:09] #21014 closed

[2022-04-19 19:59] witemple-msft commented on #21090
@sinedied @sadasant I'll add some more substance to what I described above. I'm against just logging a message internally, for the reasoning I outlined:

It should be up to the application code to decide how to handle (and it should be required to handle) cases where the plugin may fail to load at runtime. In general, if your app calls `useIdentityPlugin(x)`, then my view is that we either need to

[2022-04-19 21:21] #21477 closed

[2022-04-19 22:55] timovv commented on #18222
I did a bit of digging here. During record mode, [sanitizers are not applied](https://github.com/Azure/azure-sdk-tools/blob/main/tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs#L75-L78) until __recording is stopped__ and we're writing the recording to disk. This means that if we do something like:

1. add a sanitizer
2. make a request
3. add ResetSanitizer (this removes the entry fo

[2022-04-20 00:46] bzhang0 commented on #14798
Hello! I'd like to try out this issue. I'm currently in the intended directory ``sdk/servicebus/service-bus/samples-dev``, but I'm not quite sure where to proceed from here. What exactly is expected in this issue?

[2022-04-20 01:42] jeremymeng commented on #14798
@bzhang0 Thanks for the help!  I think the first step is to see if you can get the existing samples running.
1. please following information in `servicebus/service-bus/README.md` to create a Service Bus namespace, and create a queue within it
2. copy `servicebus/service-bus/sample.env` to `servicebus/service-bus/.env`
3. edit `servicebus/service-bus/.env` and add information (you can find it in az

[2022-04-20 03:22] qiaozha opened #21499 "JS package cannot be released if npm has only one version present with alpha tag"
see detailed error message here https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1514675&view=logs&j=fad5caa0-24eb-51d7-9ee8-d55d6e9ffe5a&t=4b903053-dc5b-56d4-4838-edf64acaab7d but at that time I triggered the release, we don't release version 1.0.0 yet just one alpha release triggered by the nightly build.

[2022-04-20 03:22] azure-sdk commented on #21499
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.18132111,Storage:0.103799306,Service Bus:0.0698275'

[2022-04-20 06:19] amit12cool commented on #21402
@EmmaZhu Does the update event trigger when we use the `PutBlock` or `PutBlockList` method?

[2022-04-20 06:21] EmmaZhu commented on #21402
I don't own the feature. From my understand, `PutBlock` or `PutBlockList` method should not trigger event for now.

[2022-04-20 09:21] EmmaZhu commented on #21402
@amit12cool , This is not a SDK issue. You can open a help request on Azure Portal to ask service about this:
![image](https://user-images.githubusercontent.com/6396650/164195954-ea3a7795-cf17-4a50-952b-46cf1e900a39.png)

[2022-04-20 14:06] praveenkuttappan opened #21523 "API review gen step is failing for JS with latest api-extractor"
api-extractor version ^7.22.1 added a new property in json file but this is not yet present in tsdoc schema. So json deserialization is failing when validating the json against schema before deserializing it.

Work around is to pin api-extractor version to 7.18.11 and reach out to rush team to get more details on solution to this failure.

[2022-04-20 15:29] amrit-moomie commented on #21110
Hi @EmmaZhu
Any update on how this can be resolved?

[2022-04-20 16:37] MRayermannMSFT commented on #20590
:)

[2022-04-20 17:00] CodeJuggernaut commented on #20274
Hello. I'm having this same issue. the `receiver.receiveMessages` freezes if it tries to receive more than 2000 messages at once, and the `maxWaitTimeInMs` is not respected. Therefore it hangs and requires a restart

[2022-04-20 17:21] jeremymeng commented on #20274
@CodeJuggernaut Thank you very much for the logs and repro code. I will have another look this week.  Is it possible for you to enable more details logging and share the logs when this issue happens by setting the following environment variable before running the test?

[code]

[2022-04-20 17:25] jeremymeng commented on #14798
@bzhang0 although we have a contributing guide.  If there's anything that is not clear or outdated, there's room for improvements.  Please take notes of obstacles that you encounter and share with us.

[2022-04-20 17:25] jeremymeng commented on #14798
https://github.com/Azure/azure-sdk-for-js/blob/main/CONTRIBUTING.md

[2022-04-20 17:36] CodeJuggernaut commented on #20274
Hi, thanks for the fast reply. I enabled that debug logs and its printing out 10,000 plus lines of debug logs... which ones should I share?

[code]

That repeats a lot, plus a bunch more.

[2022-04-20 18:28] benbp commented on #21153
@zedy-wj I think it's only global today but it's certainly something we could add to the cloud config that I think would make a lot of sense. We should do this for all repos so I've made a tracking issue in tools: https://github.com/Azure/azure-sdk-tools/issues/3174

[2022-04-20 18:29] jeremymeng commented on #20274
@CodeJuggernaut It would be helpful to see logs around when the test appears stuck then the call is aborted.  Let me think about the secure way of sharing.

[2022-04-20 19:06] jeremymeng commented on #21110
@EmmaZhu we could change the browser version of these policy to not throw and just log warning messages.  However, if angular app is running our Storage SDK code in the browser path, users might be surprised when their compressed blob get decompressed automatically by the browser when downloading.

[2022-04-20 20:07] #21151 closed

[2022-04-20 20:09] sadasant commented on #21151
@cephalin thank you! We have added changes that improve the error detection in our code. We will monitor the situation before we release this fix. Thanks again for using the Azure SDKs!

[2022-04-20 20:53] victormimo commented on #20676
Hi all,

Is the fix for this bug expected to be released for May 6th?

[2022-04-20 21:59] #7608 closed

[2022-04-20 22:35] KarishmaGhiya opened #21532 "[Identity] Check the functionality of error messages from service across different languages for Azure CLI"
- Check the functionality of exposing the error messages from the service across different languages for Azure CLI Credential. Are they appending these error messages to the type of errors (Credential Unavailable / Authentication Required).

- Should we expose these errors to the users for Azure CLI for better debugging for users? eg - https://github.com/Azure/azure-sdk-for-js/issues/21151

For re

[2022-04-20 22:43] sadasant commented on #21151
We have also made an issue to investigate supporting more error messages in the best way we can: https://github.com/Azure/azure-sdk-for-js/issues/21532

[2022-04-21 02:52] bzhang0 commented on #14798
Alright! I will take a look at this and see what I can do :) Thank you!

[2022-04-21 16:26] joshspicer opened #21542 "`Error: Cannot autolaunch D-Bus without X11 $DISPLAY` when using `VisualStudioCodeCredential` on Linux Codespace"
Hello! I am trying to use the `VisualStudioCodeCredential` helper to create a credential in VSCode (connected through a linux (debian) GitHub Codespace).

## Repro

1. Connect to a Codespace through the VsCode Client.

2. Attempt to `getToken` via the `VisualStudioCodeCredential`.

[code]

3. `getToken` fails with ` Error: Cannot autolaunch D-Bus without X11 $DISPLAY`.

[2022-04-21 17:36] jeremymeng opened #21543 "[central engsys] build using the next version of TypeScript"
It would be nice if we could have a weekly build that use the next version of TypeScript to build our repo so we are aware of possible incoming breaking changes and TypeScript regressions

[2022-04-21 20:59] sloughin commented on #10368
This would seem to be a useful feature to expose in the SDKs -- not sure why the request was closed other than perhaps difficulty in implementing it?  It takes a long time to enumerate the blobs just to count them.  It would seem more efficient to examine the index structure to determine this.

[2022-04-21 21:06] mpodwysocki commented on #18774
Closing as per #21212

[2022-04-21 21:06] #18774 closed

[2022-04-21 21:11] #21499 closed

[2022-04-21 21:12] #21523 closed

[2022-04-21 21:12] jeremymeng opened #21551 "[monitor-query][test] logsQueryClient unit test should not rely on ServiceClient internals"
Currently the test passes a custom endpoint via option then verify that private/protected properties of the generated client are set.

https://github.com/Azure/azure-sdk-for-js/blob/07a98c6359b61b8f7d0ad7dc4b3c93700a9d88d2/sdk/monitor/monitor-query/test/internal/unit/logsQueryClient.unittest.spec.ts#L35-L36

We can improve the test by testing that the option is passed to ServiceClient via a mock,

[2022-04-21 21:25] mpodwysocki commented on #19880
Closing as per #21186

[2022-04-21 21:25] #19880 closed

[2022-04-21 21:26] mpodwysocki commented on #15882
Closing as per #21290

[2022-04-21 21:26] #15882 closed

[2022-04-21 23:25] #18223 closed

[2022-04-22 00:41] KarishmaGhiya commented on #21395
@scottaddie Do you have a suggestion for a place where we could add this information? May be the samples? https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/samples/AzureIdentityExamples.md#authenticating-a-user-account-with-auth-code-flow

[2022-04-22 02:37] v-jiaodi opened #21552 "[Key Vault - Administration] Remove test resources failing in nightly runs"
Key Vault - Administration nightly test runs are failing with:

12:02:35 - Logging into service principal '***'
VERBOSE: Running registered exit actions.
VERBOSE: Logging out of service principal '***'
Write-Error: /mnt/vss/_work/_temp/46a7831d-b39f-42ae-b97c-b1f128fcd211.ps1:8
Line |
   8 |  eng/common/TestResources/Remove-TestResources.ps1 `
     |  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2022-04-22 02:37] v-jiaodi opened #21553 "[Monitor - Query] Build libraries failing in nightly runs"
Monitor - Query nightly test runs are failing with:

test/internal/unit/logsQueryClient.unittest.spec.ts(36,18): error TS7053: Element implicitly has an 'any' type because expression of type '"_baseUri"' can't be used to index type 'AzureLogAnalytics'.
  Property '_baseUri' does not exist on type 'AzureLogAnalytics'.
rush build (2 minutes 42.0 seconds)

For more details check here:

- https://dev.

[2022-04-22 02:38] v-jiaodi opened #21554 "[Storage - Blob] BlobClient Node.js only syncCopyFromURL - destination bearer token failing in nightly runs"
Storage - Blob nightly test runs are failing with:

RequestId:577daa26-b01e-0060-4b5c-556649000000
Time:2022-04-21T08:48:37.8794708Z
    at handleErrorResponse (/Users/runner/work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:274:17)
    at /Users/runner/work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:179:47
    at runMicrotasks (<anonymous>)
    at processTicksAnd

[2022-04-22 09:08] ggghhh27 opened #21568 "[Azure Communication] Issues where 'call' between mobile and desktop is not connected."
- **Package Name**:  (1) @azure/communication-react , (2) @azure/communication-calling
- **Package Version**:  (1) v1.2.0 , (2) v1.4.4
- **Operating system**: macOS
- [ ] **nodejs**
    - **version**:  v16.13.1
- [ ] **browser**
    - **name/version**: Chrome / v100.0.4896.127
- [ ] **typescript**
    - **version**: v4.5.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] sour

[2022-04-22 09:43] v-yilinhu opened #21569 "Ref docs issue"
Warnings:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=289522&view=results

@danieljurek for notification.

[2022-04-22 09:44] azure-sdk commented on #21569
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.59110767,Mgmt:0.35053807,Service:0.055785786'

[2022-04-22 14:37] maorleger commented on #21552
There was a bug introduced in the engsys tools that has since been fixed - so this is safe to close. Thank you for opening this issue!

[2022-04-22 14:37] #21552 closed

[2022-04-22 18:38] jeremymeng commented on #20274
@CodeJuggernaut it looks like there's some internal limitation of around 2000 messages that we can handle before they are processed (complete/abandan/defer/deadleter).  I will try to find out more but as a workaround, can you lower the number to 2000, and ensure they are processed before receiving the next 2000?

[code]

[2022-04-22 19:29] Kondamon opened #21572 "Container nodes webAppestapp_0_2ab2aa8a didn't respond to HTTP pings on port: 3000, failing site start."
- **Package Name**:
- Deploying a NodeJS app according this tutorial: https://docs.microsoft.com/en-us/azure/developer/javascript/tutorial/tutorial-vscode-docker-node/tutorial-vscode-docker-node-04
- **Package Version**: Not relevant
- **Operating system**: Every
- [x] **nodejs**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  -

[2022-04-22 21:08] sadasant commented on #21542
Hello @joshspicer !

It seems to me that an important part of the premise of the issue you’re brining to us is whether `@azure/identity-vscode` should work in Codespaces or not. At the moment, `@azure/identity-vscode` does not work in Codespaces. The first action item for me is to make this clear on the README of `@azure/identity-vscode`.

Now, why are we seeing this error?

@azure/identity-vscode

[2022-04-22 21:41] jsquire opened #21574 "Service Bus: Custom Endpoint Address Support"
# Summary

When using an Express Route circuit, there are some configurations which are not able to open the initial connection to the Service Bus service using the fully qualified namespace as the connection endpoint.  In these cases, a custom endpoint address is needed to ensure the correct routing for the connection but should only be used when first establishing the connection; after that poin

[2022-04-22 22:04] KarishmaGhiya commented on #20031
These tasks were done

[2022-04-22 22:04] #20031 closed

[2022-04-23 02:52] dozienwankwoh opened #21577 "Error while creating Azure Conitive search Index with Similarity defined"
I am attempting to create an index using the SDK with the below definition:

{
  "name": "example-index",
  "fields": [],
  "suggesters": [],
  "similarity": {
    "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
    "b" : 0.75,
    "k1" : 2.0
  },
  "scoringProfiles": [],
  "defaultScoringProfile": null,
  "corsOptions": {
    "allowedOrigins": [
      "*"
    ],
    "maxAgeInSeconds": 30

[2022-04-24 13:30] lirenhe commented on #21572
@qiaozha, could you take a look? thanks

[2022-04-25 02:54] lirenhe commented on #21329
In general, we should provide document for the sdk we released.
By checking the contents of deviceupdate, i found even we fix the TOC problem, the generated document is not useful.
1. No description on how to use the SDK in general. So it would be different to get started with this library.
2. Parameters, models, reponses are not well organized.
3. A lot of items are with no descrption and no link

[2022-04-25 04:26] joheredi commented on #21329
A while back I was talking to @bterlson about the generated documentation for REST Clients. We were thinking about not generating library-specific documentation and pointing users to a [general RLC doc](https://github.com/Azure/azure-sdk-for-js/blob/main/documentation/rest-clients.md) and the service REST API documentation. Once the users are familiar with the RLC pattern the REST API Reference wo

[2022-04-25 05:23] lirenhe commented on #21329
Document & samples are the key items for customer adoption.  I also agree the current autogenerated doc lack useful information which I believe we need to improve.
As our generated SDK contains models, parameters, routes etc.
I am not sure whether a generic doc would be helpful for end users to understand a specific SDK. Shall we ask them to read the Swagger spec to understand how to use the SDK?

[2022-04-25 06:19] HarshaNalluru commented on #16226
This is not a problem if migrated to the recorder v2, hence closing.

[2022-04-25 06:19] #16226 closed

[2022-04-25 07:10] joheredi commented on #21329
No the swagger wouldn't be a good resource either. I was referring to the Rest API reference, for example https://docs.microsoft.com/en-us/rest/api/deviceupdate/2021-06-01-preview/device-update

Those documents contain the api reference in an organized way, in RLC all paths, uri parameters, headers and body properties match 1:1 to what is described there.

The general RLC doc shows how to instanti

[2022-04-25 09:51] zedy-wj commented on #21153
@jeremymeng , @benbp - It's a great idea to configure different timeouts for different clouds. But the current timeout on UsGov and China is not caused by performance issues and insufficient time allocated. We set a longer time (eg: 150 minutes) to test in the pipeline, and it still fails. Because after the asynchronous operation `const partitionIds = await producerClient.getPartitionIds();`, the

[2022-04-25 10:54] selenecodes commented on #21309
I was wondering if there was any update on the status of this issue and if the specified behavior/reproduction case shed light on the issue (if not I can update it accordingly)

[2022-04-25 11:31] blured75 opened #21587 "Generate the rest API orders for debugging purpose when calling something from azure sdk"
Hi,

It could be really useful for debugging purpose to get the equivalent rest api calls that are made when we call something in azure SDK.

For example :
[code]

I'd like to have the rest api calls at runtime displayed in the logs,
[code]

Perhaps, there is already a way to do that, but I didn't find it.

Regards,
Blured.

[2022-04-25 11:31] azure-sdk commented on #21587
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.20619504,Subscription:0.1750699,AAD:0.10172653'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.5078264,Client:0.48878258,Service:0.002614309'

[2022-04-25 11:39] blured75 commented on #21587
Hi,

It could be really useful for debugging purpose to get the equivalent rest api calls that are made when we call something in azure SDK.

For example :
[code]

I'd like to have the rest api calls at runtime displayed in the logs,
[code]

Perhaps, there is already a way to do that, but I didn't find it.

Regards,
Blured.

[2022-04-25 13:16] blured75 opened #21589 "Get an empty list of firewallRules when querying a postgres instance through a AzureFunction"
- **Package Name**: @azure/arm-postgresql
- **Package Version**: 6.0.0
- **Operating system**: MacOS
- [X] **nodejs**
    - **version**: v14.18.3
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 4.4.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bu

[2022-04-25 13:16] azure-sdk commented on #21589
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.28440252,ARM:0.072985284,Storage:0.054815795'

[2022-04-25 15:57] maorleger commented on #21587
Hi @blured75 - thank you for reaching out! I believe all our client libraries support logging the network requests using our core Azure logger.

The simplest way to get started is by setting the `AZURE_LOG_LEVEL` environment variable to one of: VERBOSE, INFO, WARNING, and ERROR

AZURE_LOG_LEVEL=verbose will be the most noisy, but will print out any and all network requests. Do try it out and let u

[2022-04-25 18:23] danieljurek commented on #21569
@sima-zhu -- Would you take a look at these? I think the majority of issues can be resolved by moving `tools_repo_SHA` up to the value used in https://apidrop.visualstudio.com/Content%20CI/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=3453&view=Tab_Variables

[2022-04-25 21:04] #20400 closed

[2022-04-25 21:33] xirzec commented on #21329
I like the idea of RLC documentation having a flow similar to what @joheredi suggests:

1. Common RLC concepts and patterns
2. Links into specific REST documentation provided by the service
3. Any hand-authored samples / code snippets we think would be good for getting started / hero scenarios

If we can tie 3 into samples that are checked by CI I don't think it would be *too* much overhead for se

[2022-04-25 22:31] JasonYeMSFT commented on #10946
Is there any plans on addressing this issue or verifying if it is addressed? I feel this is big missing feature compared to other SDK clients.

[2022-04-25 22:33] sima-zhu commented on #21569
Looking

[2022-04-25 23:31] sarangan12 commented on #21577
@dozienwankwoh Thanks for reporting the issue. I have checked the latest code and found it is working fine. Let me provide the sample code:

[code]

Please try it and let me know if it resolves your issue

[2022-04-25 23:49] dozienwankwoh commented on #21577
Hi @sarangan12  thank you very much for your feedback.

With your method, how can I customize the k1 and b values for the similarity functionality. In your example, you don't customize these values.

Do you have any insight into this? thank you.

[2022-04-26 02:02] #21577 closed

[2022-04-26 03:08] v-jiaodi opened #21596 "[Key Vault - Keys] Integration test libraries failing in nightly runs"
Key Vault - Keys nightly test runs are failing with:

       releaseKey (service version 7.3)
         can create an exportable key and release it:
     RestError: AKV.SKR.1012: The specified attestation service *** cannot be reached.
      at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:274:17)
      at /mnt/vss/_work/1/s/sdk/core/core-http/src/

[2022-04-26 03:08] v-jiaodi opened #21597 "[Aggregate-reports] Link verification check failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

'file:///D:/a/_work/1/s/sdk/compute/arm-compute/samples/v17/typescript/README.md' has 1 broken link(s):
  https://docs.microsoft.com/en-us/azure/service-health/resource-health-overview
'file:///D:/a/_work/1/s/sdk/batch/arm-batch/samples/v7/typescript/README.md' has 1 broken link(s):
  https://docs.microsoft.com/en-us/azure/batch/batch-virtual-

[2022-04-26 03:08] azure-sdk commented on #21597
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Batch:0.31084323,Docs:0.2417744,Compute:0.23005308'

[2022-04-26 05:51] amit12cool commented on #21402
hey @EmmaZhu I noticed when I update/edit the blob on `Azure portal` of type `Block blob` I get a Blob Created event on my `event grid subscription`. Is there any api to update Block blob from code?

[2022-04-26 07:05] qiaozha commented on #21589
Thanks for reporting this, I will take a look.

[2022-04-26 08:48] HarshaNalluru commented on #10946
Oops, this issue wasn't part of a milestone and it fell off my radar.

App Configuration SDK has been migrated from core-http to use core-rest-pipeline recently. https://github.com/Azure/azure-sdk-for-js/pull/20766 This should allow passing policies.

However, the package hasn't been published after the migration to core-rest-pipeline.
We'll be releasing the `@azure/app-configuration@1.4.0-beta.1`

[2022-04-26 09:12] blured75 commented on #21587
/unresolve

[2022-04-26 09:13] blured75 commented on #21587
/unresolve

[2022-04-26 09:17] blured75 commented on #21587
Thanks for your answer. I've already tried it but saw no specific displayed queries in my logs. I've used the Configuration feature in my Azure Function App in Azure Portal to set this AZURE_LOG_LEVEL to 'verbose'. The application has been restarted, and I see no effect.