[2021-06-30 07:41] zzhxiaofeng opened #16105 "Azure Metrics Advisor Readme And Sample Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/metricsadvisor/ai-metrics-advisor#add-a-data-feed-from-a-sample-data-source)
![Screenshot 2021-06-30 153939](https://user-images.githubusercontent.com/20970631/123921371-85173580-d9b9-11eb-9b7f-38d2e37fbcd9.png)
Reason:
Wrong property of `source`.

Suggestion:
Update code as following:
[code]

2.
Section [link1](https://gith

[2021-06-30 08:00] #15099 closed

[2021-06-30 12:28] amit12cool commented on #15893
@chradek  Thanks for your response.

No, I see the pattern is like 2-3 consumers[ any consumer ] is loosing partition daily that too 2-3 or max 7 partitions. And for past 3 days, I did not see these errors too.

I have added the AZURE_LOG_LEVEL env in our service. Logs are coming in too. Please let me know where can I share those logs.

[2021-06-30 13:21] sadasant commented on #15945
@prashantchari If your concerns are resolved, please feel free to close this issue. In any case, please let us know if there’s anything else we can do. Thank you for your time using the Azure SDKs!

[2021-06-30 14:49] #15802 closed

[2021-06-30 17:38] #15769 closed

[2021-06-30 17:50] manoskow commented on #15709
@jhl0214 that's good! I'm going to close this issue, but don't hesitate to reopen or create a new one if you are seeing problems again. Thank you for the feedback!

FYI @LuChen-Microsoft

[2021-06-30 17:51] #15709 closed

[2021-06-30 19:13] vishnureddy17 commented on #10989
Looks like this issue is outdated and can be closed. @xirzec, can you confirm?

[2021-06-30 19:15] verikono opened #16112 ""Cannot read property 'ERROR' of undefined" raises on TableClient.submitTransaction"
- **Package Name**: @azure/data-tables
- **Package Version**: 12.0.0
- **Operating system**: Linux
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
It appears th

[2021-06-30 20:07] xirzec commented on #10989
Looks like this was done in #12167

[2021-06-30 20:07] #10989 closed

[2021-06-30 20:45] HarshaNalluru commented on #15181
The new GA version has them removed.
(With the redesign of the special config settings.)

[2021-06-30 20:45] #15181 closed

[2021-06-30 20:48] HarshaNalluru opened #16118 "[core-rest-pipeline] Throttling retry policy should account for abortSignal"
## Problem

The throttlingRetryPolicy in core-http has the potential to retry for an extended period if the service continues returning "retry after" headers on subsequent calls.

Here's the snippet of code that handles the "retry after" retries:

![image](https://user-images.githubusercontent.com/10452642/124029243-c99ad500-d9a9-11eb-8cd0-587339aefe48.png)

## TODO

- Similar to https://github.co

[2021-06-30 20:50] HarshaNalluru opened #16119 "[App Config] Add sample for UpdateSyncToken"
- Use this .NET sample for reference https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/appconfiguration/Azure.Data.AppConfiguration/samples/Sample8_ChangeNotification.md
- Create a TS sample based on the above at the sdk/appconfiguration/app-configuration/samples-dev
- This is the link you can use for [Set up your dev env if you have not already](https://github.com/Azure/azure-sdk-for-js/bl

[2021-06-30 20:52] HarshaNalluru opened #16120 "[App Config] Fix link related to the sync tokens in the src"
@xirzec pointed out an outdated link "https://github.com/Azure/AppConfiguration/blob/master/docs/REST/consistency.md" in the app-config src code.
- Find a suitable replacement for it
- Update the description to make more sense.

[2021-06-30 21:23] richardpark-msft commented on #15688
There is a workaround currently in main from https://github.com/Azure/azure-sdk-for-js/pull/15718. Remove once this is solved from the service side.

[2021-06-30 21:29] richardpark-msft opened #16123 "[monitor-query] `statistics` and `visualization` properties are not modeled (ie: they're of type 'any')"
The queryLogs() method lets you `includeStatistics` or `includeVisualization`, which causes extra data to come back in the `statistics` or `visualization` properties in the response. Currently, that data is of type `any`, which means customers have no way, at compile time, to know which fields could be exist, their names, etc..

This issue tracks that decision and can be closed if the team ultimat

[2021-06-30 21:38] richardpark-msft opened #16124 "[monitor-query] Unclear parameters (`workspaces` and `resourceUri`)"
There were two comments on the API review for monitor-query about some unclear areas. These currently mirror the REST API but perhaps they could be better:

1. There are several fields for specifying workspaces, or workspace-like items. Which ones do which? And how can we direct callers?
  * In JS: [code](https://github.com/Azure/azure-sdk-for-js/blob/44ba53098bb2c679021b124fc1f580e9aa0c6bab/sdk/m

[2021-06-30 21:38] #15296 closed

[2021-06-30 21:44] richardpark-msft commented on #15308
Leaving a last note on this, as I'm stepping away as maintainer of this particular package:

From what I can tell what we're running up against is the fact that `close()` is not "graceful" - it does not attempt to look at what activity is currently in process. This means that any in-process activity is going to be disrupted. This has always been the behavior of close, across all the other SDKs in

[2021-06-30 21:48] richardpark-msft commented on #13397
I believe this was actually a manifestation that I fixed in a PR: https://github.com/Azure/azure-sdk-for-js/pull/15716.

The message is accurate - we were accidentally not awaiting on some abandon()'s happening in the atomE2E tests.

[2021-06-30 21:48] #13397 closed

[2021-06-30 23:23] #15797 closed

[2021-06-30 23:34] tonybaloney commented on #15979
@dw511214992 as the TypeScript readme is updated, can the SDK be updated and a new version pushed now? thanks

[2021-06-30 23:44] maorleger commented on #16112
Hi @verikono, thanks so much for opening this issue - sorry to hear about the breaking changes, that must be frustrating!

I'd like to get a little more information from you. I see that you are using @azure/data-table 12.0.0 - are you also pulling in any @opentelemetry packages directly? Could you share your package.json is possible?

I'm looking at the code for coreTracing and I see that `SpanSta

[2021-06-30 23:48] annelo-msft opened #16127 "[ACR] [Before GA] Update cloud configuration API"
Once the service team has added data plane scopes, we will update the `AuthenticationScope` property on `ClientOptions` as follows:

- Remove `AuthenticationScope` property
- Add `Audience` (or similarly named) property instead
- `Audience` is an extensible enum, containing the audience strings for known clouds; the user can override with a string if needed
- If `Audience` is set, client library w

[2021-06-30 23:53] annelo-msft commented on #16127
@jeremymeng @schaabs FYI

[2021-07-01 00:02] richardpark-msft commented on #11718
After talking with the service team it turns out that while this might have been allowed before (and was a no-op) it could lead to problems further down the line for customers that had enabled message forwarding.

The SDK now checks that these fields match when sending messages (throwing `Error:  TypeError: The fields 'partitionKey' and 'sessionId' cannot have different values.`). So this bug can

[2021-07-01 00:02] #11718 closed

[2021-07-01 00:06] deyaaeldeen opened #16128 "[Text Analytics] Re-enable multiple actions per type"
Service v3.1 disallows multiple actions per type and the [client errors accordingly](https://github.com/Azure/azure-sdk-for-js/pull/16114). This was needed because the service accidently allows more than one PII action which is going to be fixed after the client release. Remove this check once the service officially removes this restriction.

[2021-07-01 01:43] #15606 closed

[2021-07-01 01:51] richardpark-msft commented on #15115
This has been fixed with #15989 and will be released with the release of Service Bus next week.

[2021-07-01 01:51] #15115 closed

[2021-07-01 14:25] verikono commented on #16112
Hi @maorleger ,

Find the EXTREMELY experimental repo here : https://github.com/verikono/simple-datalake-client . I wouldn't normally share this because it's a) a learning project for me using azure w/ node streams and b) it has no idea what it wants to be yet. It seems it wants to be, and is fast becoming a library of stream modules (Readables, Writables , Transforms etc) with a few QoL methods.

[2021-07-01 14:59] verikono commented on #16112
Allow me some time to sort some of this code out so I can give you a focused view on the actual problem. Will get back.

[2021-07-01 15:23] maorleger commented on #11261
We've done this already, closing

[2021-07-01 15:23] #11261 closed

[2021-07-01 15:23] maorleger commented on #10877
I don't think we should do this, core V2 will include the `onResponse` hook and we should focus our efforts on moving to core V2. Closing

[2021-07-01 15:23] #10877 closed

[2021-07-01 15:26] maorleger commented on #9665
I don't think this is applicable anymore since we don't support OpenCensus directly. Closing

[2021-07-01 15:26] #9665 closed

[2021-07-01 15:47] verikono commented on #16112
Right on the money @maorleger , right down to the package! I was importing a data tables client which had a fragment of stale code that imported applicationInsights.

Thank you for your time! It is greatly appreciated.

[2021-07-01 15:56] maorleger commented on #16112
@verikono my pleasure! I'll close this issue for now, but if you run into anything related to this feel free to reopen. And of course, we're here for you if you run into any other issues related to one of our packages so feel free to reach out!

By the way, I did take a quick look at the package you linked and completely unrelated: I think it's a really neat idea! Would love to see how it evolves

[2021-07-01 15:56] #16112 closed

[2021-07-01 17:45] verikono commented on #16112
Thanks!

The place I work is getting extremely excited (to the point of standardising) parquet with the idea that it is a "database in a file". We have databricks and spark for major implementations but something small that handles streaming parquet, csv into a few transformers and whatever else could be handy somewhere along the line.

[2021-07-01 18:18] #15615 closed

[2021-07-01 18:45] #13792 closed

[2021-07-01 19:24] zfoster commented on #15947
this should be fixed in the next release @ParkHost

[2021-07-01 22:20] deyaaeldeen commented on #15882
I do not mind keeping it around though as part of our "best effort support for node8" for existing packages. I just built it locally and rush said it took just 1.8s to do so. Do we have other reasons why we might want to remove it?

[2021-07-02 00:11] wwlorey commented on #16052
Thanks @sadasant, this was super helpful 🙏

I had been looking at MSAL docs on docs.microsoft.com like [this one](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-node-migration) but the samples you linked from this repo seemed more helpful, at least for me. Are any of those samples linked to from articles on docs.microsoft.com? If not that might be a nice way to get the word o

[2021-07-02 00:56] #14975 closed

[2021-07-02 08:02] #15461 closed

[2021-07-02 08:02] #15155 closed

[2021-07-02 08:02] #15036 closed

[2021-07-02 09:11] dilin-MS opened #16171 "Get verbose logging when deploy azure resources"
- **Package Name**: @azure/arm-resources
- **Package Version**: ^4.2.0
- **Operating system**: windows
- [x] **nodejs**
    - **version**: v12.16.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.2.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2021-07-02 15:31] aangelisc opened #16175 "DefaultAzureCredential fails to get a token when attempted from an Azure Function with a VNet integration"
- **Package Name**: @azure/identity
- **Package Version**:  1.3.0
- **Operating system**: Linux
- [x] **nodejs**
    - **version**: 14
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.4.0
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A clear

[2021-07-02 17:56] subuv commented on #16056
1. Attaching a snip of it here.
![image](https://user-images.githubusercontent.com/15037537/124312172-bf9ce180-db23-11eb-8358-22ef15d5b0f1.png)
2. We do **_not_**. It is coming from a dependency package of @azure/storage-blob.
3. Apologies I cannot a repo here.

[2021-07-02 20:11] witemple-msft commented on #15931
This is caused by trying to bundle the storage sources for prototyping purposes. Storage hasn't been onboarded to the shared rollup config, and has its own custom configuration (it has `EventEmitter` as a named export), so we'll have to use that one instead.

Since it's just for prototyping (ordinarily, the recorder wouldn't need to bundle storage, but rather the other way around), we should just

[2021-07-02 20:16] witemple-msft commented on #14346
This has been implemented via. an extension API, and alpha releases of the new extension packages are available on NPM. They will be available in beta as of `@azure/identity` version 2.0.0-beta.4:

- [@azure/identity-cache-persistence](https://npmjs.com/package/@azure/identity-cache-persistence)
- [@azure/identity-vscode](https://npmjs.com/package/@azure/identity-vscode)

[2021-07-02 20:16] #14346 closed

[2021-07-02 22:16] #13202 closed

[2021-07-03 03:23] richardpark-msft commented on #15488
@jeffwilcox - we found and recently fixed an interesting issue in receiveMessages with #15989.

Specifically, there were situations where, at the edge of a timeout, we would potentially ask Service Bus for more messages than were originally asked for by the caller. If more messages arrived (rare, but possible) we would not return them and they would effectively be lost. Without diagnostics logs it

[2021-07-03 03:42] richardpark-msft commented on #14441
I am able to sporadically reproduce this issue. I took the `pass 1 for maxConcurrentCalls(with sessions)` test and literally put a for loop around it with 1000 iterations and made it the only test in the run. Even then it doesn't fail immediately or even universally.

The test wrapper:
[code]

## Are we leaking receiver links?

My original thought was that perhaps we were accidentally leaking a re

[2021-07-03 03:42] richardpark-msft commented on #14441
Latest job with a failure: [azure devops build 982492](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=982492&view=logs&jobId=235ba172-7acc-5851-01ca-4cf393408ee7&j=e517abe2-c756-5f31-6632-46f22c00b720&t=f8f898eb-3a02-5541-4066-0717a1c2934e)

[2021-07-03 20:52] tmcdonnell87 opened #16185 "Elliptic Curve hashing algorithms missing in the algorithm-to-hash-algorithm map"
- **Package Name**: @azure/keyvault-keys
- **Package Version**: 4.2.1
- **Operating system**: Linux (Ubuntu)
- [X] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A c

[2021-07-04 21:11] KarishmaGhiya commented on #15579
Completed

[2021-07-04 21:11] #15579 closed

[2021-07-05 05:30] sarang-cabot opened #16197 "Online status of a user"
**Is your feature request related to a problem? Please describe.**
I couldn't find any documentation for showing the user online status, is there an event for that?

**Describe the solution you'd like**
It's good to have a signal event for showing the status when user comes online.

**Describe alternatives you've considered**
I am considering using sockets to do this if there is no solutions avail

[2021-07-05 06:40] amit12cool commented on #15893
@chradek Any update on this?

[2021-07-05 16:40] karol-majewski opened #16201 "@azure/storage-file-datalake is unusable due to a build failure"
- **Package Name**:  @azure/storage-file-datalake
- **Package Version**:  12.5.0
- **Operating system**:
- [x] **nodejs**
    - **version**:  v14.4.0
- [x] **browser**
    - **name/version**:  Chrome 93.0.4566.0
- [x] **typescript** 4.3.2
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsof

[2021-07-06 02:06] EmmaZhu commented on #16201
@karol-majewski

Is it OK for you to share a repro project?

[2021-07-06 05:06] sarangan12 commented on #15465
@scott-alvis I have checked your code and suggestion. Here is what I have found:

1. You are trying to call `createIndex` method of the `SearchIndexClient` class. The method call could be found [here](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/search/search-documents/src/searchIndexClient.ts#L357).
2. Now, this operation gets the `SearchIndex` object as the parameter. This object is d

[2021-07-06 06:42] EmmaZhu opened #16208 "[storage]Enable next set of service features when it's enabled in production"
Should enable test cases for following features, when they are enabled in production.:
- [ ] OAuth in copying source
- [ ] Immutable policy
- [ ] Parquet
- [ ] List File V2
- [ ] List deleted root blob.

[2021-07-06 06:54] v-xuto commented on #15473
@ramya-rao-a  - Please help assign this issue to the corresponding member?

[2021-07-06 08:40] EmmaZhu commented on #16068
@FeliciaMarlove

The code sample is to create a `BlobServiceClient` instance with SAS token credential. We should add '/' before the query string which presents a SAS token.

A SAS token string looks like `?sv=2019-07-07&sig=***&spr=https%2Chttp&se=2022-07-05T01%3A27%3A38Z&srt=sco&ss=bfq&sp=racupwdl`, the final URL for the `BlobServiceClient` should look like: `https://anaccount.blob.core.windows.

[2021-07-06 09:16] EmmaZhu commented on #16056
Hi @subuv

Is this issue blocking your scenario now? Do you have a workaround for it?

We'll try to have a repro in our local environment. Will update you with any progress.

Thanks
Emma

[2021-07-06 10:36] karol-majewski commented on #16201
@EmmaZhu While setting up one, I discovered the root issue. It was Yarn autocleaning directories called `test`, `tests` etc.

**`.yarnclean`**

[code]

As far as I can tell, using an autoclean config such as this one is a very standard approach.

Perhaps the solution is to rename the directory to something else in order to avoid false positives?

[2021-07-06 13:36] jonathanblancor commented on #15584
@sadasant, @maorleger any update on this?

[2021-07-06 14:57] maorleger commented on #16185
@tmcdonnell87 thanks for creating this issue! It looks like you're right, we're missing those entries.

I opened #16220 to resolve this, and we can patch 4.2.1 for you either this or next week.

[2021-07-06 15:15] maorleger commented on #15584
@jonathanblancor  thanks for following up! Let's see where we're at:

- The circular dependency was confirmed to be on @opentelemetry side (https://github.com/open-telemetry/opentelemetry-js-api/issues/87#issuecomment-862405002)
- It looks like it was fixed 20 days ago, and @opentelemetry/api@1.0.1 contains the fix (https://github.com/open-telemetry/opentelemetry-js-api/releases/tag/v1.0.1)
- We a

[2021-07-06 15:29] #15618 closed

[2021-07-06 15:29] maorleger commented on #15618
Closing as per team discussion - we want sample generation to be separate from making changes to samples-dev

[2021-07-06 15:31] #15669 closed

[2021-07-06 16:12] maorleger commented on #11029
I created #16086 to support SKR. Key Export is not yet ready on the service side. Moving this to backlog

[2021-07-06 16:19] chradek commented on #15893
@amit12cool
If there's no sensitive information, you can share logs here. Otherwise (or if uncomfortable sharing logs here), please open a support ticket and we can take a look at your logs through there. If you open a support ticket, feel free to mention me (chradek) so I get notified more quickly.

[2021-07-06 16:30] #6449 closed

[2021-07-06 16:59] #13707 closed

[2021-07-06 17:00] #13380 closed

[2021-07-06 17:00] jeremymeng commented on #11656
not doing this.

[2021-07-06 17:00] #11656 closed

[2021-07-06 17:01] chradek opened #16224 "investigate clock skew support"
This issue is meant to track investigating how the SDKs can support clock skew correction.

Clock skew is the delta between a client's clock and a service's clock. As the delta increases, we can start to see issues such as expired credentials due to the calculated expiry time on the client being viewed as already being past by the service. This occurs when not using AAD tokens (which come from a s

[2021-07-06 17:29] #14934 closed

[2021-07-06 17:39] jeremymeng commented on #16105
1) is fixed in #16223

[2021-07-06 17:47] deyaaeldeen opened #16226 "[Recorder] Escape high codepoints in browser recordings"
Because `karma` determines whether a file is binary or not using this package https://www.npmjs.com/package/isbinaryfile which flags non-ASCII characters. After a certain number of "weird" characters, the file is flagged as binary. We do not want recording files to be flagged as binary so that they can actually work, so all these weird characters should be escaped.

One test that sends emojis had

[2021-07-06 17:48] deyaaeldeen commented on #16226
Thanks @witemple-msft for the investigation and the findings!

[2021-07-06 18:34] sadasant commented on #16052
@wwlorey, I’m sending that feedback to our team! We’ll make sure to update the docs as soon as possible. In the meantime, I’ll close this issue. Please feel free to re-open it or to create a new one in case there’s anything that we haven’t answered or anything new that you spot! Feedback like yours helps us get better every day.

[2021-07-06 18:34] #16052 closed

[2021-07-06 19:26] #15924 closed

[2021-07-06 19:52] HarshaNalluru opened #16230 "[App Config] Update throttling test to cover both node and browser"
Reference https://github.com/Azure/azure-sdk-for-js/pull/16229

[2021-07-06 19:53] HarshaNalluru opened #16231 "[App Config] Fix test failures"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=984941&view=logs&j=235ba172-7acc-5851-01ca-4cf393408ee7&t=f4e8558c-d48a-5d26-e65c-7aaa4d533f69

[2021-07-06 19:58] #16231 closed

[2021-07-06 20:03] praveenkuttappan opened #16232 "Install and verify package artifact dependency"
Release stage doesn't have any step that installs artifact to be released to ensure all it's required dependency are already released. So release owner of the package/service needs to ensure packages are released in currect order. With the introduction of track2 management packages, this is going to be more difficult if management packages takes dependency on core packages. One of the suggestion f

[2021-07-06 20:26] #14307 closed

[2021-07-06 20:58] jeremymeng opened #16234 "[MetricsAdvisor][Samples] seriesData.js failed on node v12"
because of `?.` usage:

[code]

it should work with

[code]

[2021-07-06 21:12] scott-alvis commented on #15465
Then may I suggested updating the quick start below as it suggests using an index-definition.json file which uses `analyzer` which is not preserved when the index is created.

https://docs.microsoft.com/en-us/azure/search/search-get-started-javascript

[2021-07-06 21:44] chradek commented on #13048
Closing since we have not seen this occur since #13570 was merged.

[2021-07-06 21:44] #13048 closed

[2021-07-06 22:23] #15666 closed

[2021-07-06 22:44] jeremymeng opened #16239 "[Metrics Advisor][Sample] listFeedback output too many items."
We are specifying filter of start time and end time,
[code]

however, the first returned page has over 18k result.  Are there really so many results between the two dates?  Ideally we should not query for and output so many items

![image.png](https://images.zenhubusercontent.com/5c51efcef73cf865af8994d5/58d78fc0-38b6-4f85-a907-a8219d4e463b)

[2021-07-06 23:09] #15234 closed

[2021-07-06 23:18] sadasant commented on #10963
Closed on favor of: https://github.com/Azure/azure-sdk-for-js/issues/14367

[2021-07-06 23:18] #10963 closed

[2021-07-06 23:19] sadasant commented on #14367
I’ll push this to the backlog since I don’t believe we’ll be able to get to this before GA.

[2021-07-06 23:20] sadasant commented on #14295
It’s not necessary to fix this issue as part of #15595. If it’s simple enough, then we can do it without having to add it to the expected queue.

[2021-07-06 23:23] sadasant commented on #13168
Let’s move this to the backlog so that we can follow up out of schedule.

[2021-07-07 00:18] scbedd commented on #15829
Hey @harshanalluru, got some updates for ya.

## General Discussion and Advice

To begin, you don't need to install a specific tag of the docker image anymore. Use the `latest` tag when accessing the docker image. Additionally,
local builds are perfectly functional now.

When you're running in `live` mode, before _any_ tests invoke, ensure that you hit up the `Admin/AddSanitizer` to add appropriat

[2021-07-07 02:06] dw511214992 opened #16245 "Disable job "Update Package Version" for Track2 Mgmt Plane JS SDK in Pipeline"
As titled, we hope to disable the job "Update Package Version" for JS management plane sdk? Mgmt plane sdk doesn't need it. I know we can use variable Skip.UpdatePackageVersion to skip it, but it's troublesome to add the variable in release mgmt sdk every time.
we have a [tool](https://www.npmjs.com/package/azure-track2-js-sdk-release-tools) for track2 mgmt sdk, which compares the codes with the l

[2021-07-07 02:37] HarshaNalluru opened #16247 "[dev-tool] check-node-versions for running samples fails at the very first step"
Running samples with check-node-versions runs into this error for app-config.
![image](https://user-images.githubusercontent.com/10452642/124691901-789b4d00-de91-11eb-88cd-27e004fef828.png)

https://github.com/Azure/azure-sdk-for-js/wiki/Run-your-Azure-TS-JS-samples-with-multiple-node-versions

[2021-07-07 02:38] sarangan12 commented on #15465
@scott-alvis Thanks for pointing this documentation. I am working with the docs team and will fix the documentation soon

[2021-07-07 02:52] maorleger commented on #16185
@tmcdonnell87 an alpha / nightly release of @azure/keyvault-keys got deployed today containing this fix. Are you able to try the same scenario with `@azure/keyvault-keys@4.3.0-alpha.20210706.2` ? If things look good, I can backport the fix and release 4.2.2 for you within a few days.

Thanks in advance!

[2021-07-07 02:58] #12669 closed

[2021-07-07 03:04] scottaddie commented on #16052
@wwlorey There are plans to move the content in _AzureIdentityExamples.md_ into docs.microsoft.com, where it's more discoverable and localized. I expect that work to kick off in the coming months.

[2021-07-07 03:21] tmcdonnell87 commented on #16185
Yep, looks like that did it, thanks for the quick response/fix!

In the short term, I'm simply hashing it first. Will be great to replace for simplicity's sake (and makes mocking it for the tests easier) but not super urgent. Thanks!

[2021-07-07 03:21] #16185 closed

[2021-07-07 08:32] screamingworld opened #16258 "Azure SDK for js eventhub browser example (rbac) always runs into timeout"
- **azure-event-hubs-samples-browser**:
- **0.1.0**:
- **Windows 10**:
- [ ] **nodejs**
    - **version 14.15.5**:
- [ ] **browser**
    - **edge/91.0.864.64**:
- [ ] **typescript**
    - **version 4.1.3**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I have downloaded the b

[2021-07-07 09:09] mesen10 opened #16259 "Service Bus - Connection Pool"
We are using NodeJs library for Azure Service Bus. https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-nodejs-how-to-use-queues#send-messages-to-a-queue

Unfortunately this library doesn't support connection pooling. So we need to create a connection, send the message and close the connection as in the example.

Reopening a connection every time is causing SNAT port exhaustion

[2021-07-07 13:42] aangelisc commented on #16175
Any update on this?

[2021-07-07 15:28] chradek commented on #16258
@screamingworld
Does the user who is signing in also have the `Azure Event Hubs Data Sender` role assigned to them?

[2021-07-07 15:46] chradek commented on #16259
@mesen10
The `@azure/service-bus` package communicates to the Azure Service Bus service using the AMQP protocol, where it is considered relatively 'expensive' to create the connection, but once established that single connection can be used to send and receive messages with the service. The sample closes the connection once messages are sent to illustrate that the connection needs to be explicitly

[2021-07-07 16:02] deyaaeldeen commented on #16247
@HarshaNalluru please make sure the docker daemon is running before running the script. If the issue persists, feel free to reopen the issue with more details about the command you used.

[2021-07-07 16:02] #16247 closed

[2021-07-07 16:04] deyaaeldeen commented on #16247
I updated the getting started guide with an additional step to make sure the docker daemon is up and running.

[2021-07-07 16:13] screamingworld commented on #16258
yes - the redirect is the same (if not I am getting an other error... - more specific...) and I want to access like described in the example via an app registration (rbac). this app has a registered api permission for eventhubs resource and the eventhub has the the roles for sending and receiving messages for the registered app.

[2021-07-07 16:14] chradek commented on #16258
Does the user who is signing in also have the roles to access the Event Hub? Both the app and the user need to have the roles assigned.

[2021-07-07 16:18] screamingworld commented on #16258
hm there is no user who is signed in - I register to eventhub with the app id and the tenant... then I get the allow permission popup and then the timeout messages will raise...

[2021-07-07 16:21] chradek commented on #16258
Are you already logged into your Azure account? The sample should attempt to log you in if you're not already logged in when you press either the send or receive button. If you're already logged in then it makes sense you'd see the allow permission popup, but that should be for the user you're logged in as.

Can you try running the sample in another browser or in incognito mode to make sure you're

[2021-07-07 16:46] ramya-rao-a commented on #16201
cc @maorleger for the core-tracing angle on this issue

[2021-07-07 17:22] jeremymeng commented on #16201
related issue previously logged against service bus https://github.com/Azure/azure-sdk-for-js/issues/13367

[2021-07-07 17:31] maorleger commented on #16201
It's an interesting one. On the one hand [Yarn autoclean](https://classic.yarnpkg.com/en/docs/cli/autoclean) mentions this risk in the Defaults section. On the other hand, it's not reasonable to expect folks to know the internal structure of every single dependency. There's no help from version control since node_modules isn't versioned. It's also the type of issue that will get repeatedly raised

[2021-07-07 17:31] maorleger opened #16265 "Consider renaming the src/tracers/test folder in @azure/core-tracing"
yarn autoclean --init will generate an autoclean file with some defaults, one of the entries in it will delete the test folder in core-tracing/src where we have our test tracers, causing build errors.

From the original thread:

It's an interesting one. On the one hand [Yarn autoclean](https://classic.yarnpkg.com/en/docs/cli/autoclean) mentions this risk in the Defaults section. On the other hand,

[2021-07-07 17:32] maorleger commented on #16265
See #16201 and #13367 for instances of the issue here

[2021-07-07 17:33] HarshaNalluru commented on #16247
Re-installing the docker made it working fine.

[2021-07-07 19:06] #14943 closed

[2021-07-07 19:32] sadasant commented on #16175
@aangelisc hello, Mr Christou. I’m Daniel. I’ll be doing my best to help you.

While I investigate this on my side, I would really appreciate if you could try the following:

[code]

What result do you get when you run that? (please make sure to remove any token or sensitive information).

[2021-07-07 20:09] jeremymeng commented on #16239
Another thing to check is that maybe the service shouldn't return so many items for first page either.

[2021-07-07 20:41] xirzec commented on #15820
This was resolved by #16010

[2021-07-07 20:41] #15820 closed

[2021-07-07 21:52] jeremymeng commented on #16127
Although JS already GA'd `ServiceClientOptions.credentialScope` in Core v2, currently with two consuming libraries
- attestation, which passes a default value of `["https://attest.azure.net/.default"]` via it in `GeneratedClientContext`. It is not exposed in public API.
- data-table, which uses it internally in `submitTransaction()`. It is not exposed in public API.

So for data plane libraries on

[2021-07-07 22:47] #15646 closed

[2021-07-07 22:50] sadasant commented on #16175
@aangelisc I’ve tried to reproduce this issue today without success. Please let us know how it goes when you test with `https://graph.microsoft.com/.default`. This will help us identify if this is a permissions issue or an issue with the SDK.

[2021-07-07 22:51] richardpark-msft commented on #13975
Transferring this to @chradek as he is the new Service Bus package maintainer.

I will note the change has made it's way into `rhea` and has been absorbed into Service Bus. We need to understand how to properly expose it, however, as exposing it directly would be a breaking change.

[2021-07-07 22:54] richardpark-msft commented on #15606
Hi @enoeden, a fix for this has been released as part of https://www.npmjs.com/package/@azure/service-bus/v/7.3.0

[2021-07-08 01:24] ramya-rao-a commented on #14707
@KarishmaGhiya Can you please check if this issue is still applicable?
From what I can see the Identity package now uses the shared rollup script that uses `dist-test` and core-tracing uses `dist-test` directly.

[2021-07-08 03:05] amir4zh opened #16297 "Bug report"
- **Package Name**:
- **Package Version**:
- **Operating system**:
- [x] **nodejs**
    - **version**:
- [x] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A clear and concise description of what the b

[2021-07-08 03:08] amir4zh opened #16298 "Feature request"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-07-08 03:18] dw511214992 opened #16299 "add-identity-mgmt-lib.js fails"
When run add-identity-mgmt-lib.js for /sdk/subscription/arm-subscriptions and /sdk/reservations/arm-reservations, it fails:
[code]

[2021-07-08 04:25] pober opened #16301 "[service-bus] AbortError: Link has been permanently closed. Not reopening after upgrading to @azure/service-bus 7.2.0"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.2.0, 7.3.0
- **Operating system**: Azure Function App on Windows
- [x] **nodejs**
    - **version**: 14
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

A

[2021-07-08 05:25] danieljurek opened #16303 "@azure/identity-vscode excluded from docs.ms build because of CI errors"
Package causes this error when onboarded in docs CI: https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=230517&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=a04569be-1b08-5c9a-7e65-a83076350a0c

[code]

[2021-07-08 10:40] screamingworld commented on #16258
hm yes very strange - today registered the resources again an tried the sample again in incognito mode and now I get the following error after signing in: ServerError: invalid_client: 7000218 - [2021-07-08 10:39:50Z]: AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'.

[2021-07-08 11:47] aangelisc commented on #16175
Hi @sadasant,

I still receive the same error as before even with the `getToken` line added. What infrastructure were you using when you attempted to reproduce the issue?

[2021-07-08 11:59] PizzaPartyInc commented on #9929
Hey!
I'm experiencing a very similar issue while using `downloadToFile` concurrently on 82 files of size around 1 MB each and 1-2 files always hang.

Rough code example:
[code]
I used onProgress callback to see the download progress and at some point it could just stop being called, entering a handing state, not throwing errors or finishing.

I tried implementing an abort approach, since thrown er

[2021-07-08 12:39] sadasant commented on #16175
@aangelisc thank you for your response! Please give us some time to come up with a better answer.

[2021-07-08 14:58] maorleger commented on #16185
@tmcdonnell87 thanks for letting me know! @azure/keyvault-keys 4.2.2 has been published to npm which should resolve this issue. Please feel free to let me know if it does not.

Thanks

[2021-07-08 15:41] ramya-rao-a commented on #16297
Hey @amir4zh

We don't see any bug details in this report. Can you please share the description of the issue you are seeing?

[2021-07-08 15:42] ramya-rao-a commented on #16298
Hey @amir4zh

We don't see any feature request details in this report. Can you please share the description of the issue you are seeing?

[2021-07-08 15:56] danieljurek opened #16310 "@azure/identity-cache-persistence &@azure/identity-vscode excluded from docs.ms build because of CI errors"
Package caused this error when onboarded in docs CI: https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=230631&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=a04569be-1b08-5c9a-7e65-a83076350a0c

[code]

[2021-07-08 16:12] maorleger commented on #16056
Seems related to #13798 although that issue references @azure/storage-blob@12.4.1

I tried reproducing this by starting with @azure/storage-blob 12.5.0 and upgrading to @azure/storage-blob 12.6.0 and running the same bit of code that lists blobs (see below) and did not run into this error.

@EmmaZhu - have you been able to reproduce this yet?

@subuv I'm really sorry for the disruption this has ca

[2021-07-08 16:25] maorleger commented on #11550
@blrchen a nightly release of @azure/storage-blob has been released and I was wondering if you could help us out by trying it and seeing if the issue is resolved?

If you can give it a shot, the version you want to install is:

[code]

Feel free to let me know if the issue still persists - I tried it now and did not see the warning.

Thanks!

[2021-07-08 16:36] #16105 closed

[2021-07-08 16:36] #16234 closed

[2021-07-08 17:27] drub0y commented on #13798
FWIW, still a problem with `applicationinsghts v2.1.3` and, in my case, `@azure/eventgrid v4.3.0` which are currently the latest versions of both packages. Like @LukasNespor I was able to explicitly reference `@opentelemtry/api v1.0.1` and `@opentelemetry/tracing v0.23.0` (also current latest) to resolve the problem. Note, however, that, in my case, it did not go away until I referenced that lates

[2021-07-08 17:39] hectorhdzg commented on #13798
@drub0y this is the related [PR](https://github.com/microsoft/ApplicationInsights-node.js/pull/790) on ApplicationInsights SDK side, once this is merged we will publish a new version of the SDK solving this issue.

[2021-07-08 18:12] drub0y commented on #13798
Sounds good. I just wanted to provide some more details to help anyone else stumbling across this until the latest packages are ready. I'm very happy to have the temporary solution via the explicit package references, but certainly the best thing is for this to be addressed across the Microsoft packages ASAP so a thousand more devs don't have to figure it out for themselves.

[2021-07-08 18:20] prashantchari commented on #15945
Uggh. I realized the sdk's just moved the problem around. This is very misleading, but very inconvenient to have to fork the adapter and use it. Also, It appears to be very hard to avoid this problem given that the function signature for the SDK's that operate on ServiceClientCredentials takes in TokenCredentials now, and internally errors out because of this issue.

[2021-07-08 18:20] deyaaeldeen opened #16312 "[Post-release bot] Run samples publish"
The command is `dev-tool samples publish --force` and this is needed because the samples need to be refreshed in the docs to work with the just released package.

[2021-07-08 18:49] harikapampatti opened #16313 "Failing to insert all records"
- **Package Name**:
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A clear and concise description of what the b

[2021-07-08 18:59] #13440 closed

[2021-07-08 19:33] maorleger opened #16314 "Enable live testing of Secure Key Release across languages"
SKR requires an attestation service to produce the correct attestation, keys, etc.

Working with the service team I was able to deploy a mock attestation server (which is what they use as well) to record SKR tests.

But it's not a sustainable solution. To support cross-language live testing of SKR, we should find the right set of resources to deploy and automate it such that it becomes part of our

[2021-07-08 19:34] #13791 closed

[2021-07-08 19:35] ramya-rao-a commented on #13791
As of 6th July 2021, the [@azure/ai-metrics-advisor](https://www.npmjs.com/package/@azure/ai-metrics-advisor) package has moved out from beta to stable status

[2021-07-08 19:37] ramya-rao-a commented on #13790
No work was done for Cognitive - Translator during Jan - June 2021

[2021-07-08 19:37] #13790 closed

[2021-07-08 19:40] ramya-rao-a commented on #13789
Between Jan - June of 2021, we shipped multiple betas for version 3.1.0 of the JS SDK for [Form Recognizer](https://azure.microsoft.com/services/form-recognizer/).

As of June 2021, version 3.1.0 of [@azure/ai-form-recognizer](https://www.npmjs.com/package/@azure/ai-form-recognizer) package has moved out from beta to stable status

[2021-07-08 19:40] #13789 closed

[2021-07-08 19:42] ramya-rao-a commented on #13786
Between Jan - June of 2021, we shipped multiple beta versions of the JS SDK for [Azure Tables](https://azure.microsoft.com/services/storage/tables/).

As of June 2021,  the [@azure/data-tables](https://www.npmjs.com/package/@azure/data-tables) package has moved out from beta to stable status

[2021-07-08 19:42] #13786 closed

[2021-07-08 19:44] sadasant commented on #16175
@aangelisc Hello, Mr. Christou.

I’m still trying to reproduce the issue. So far, I have been unable to. I’ll share the steps I’m following. Would you please let me know if you spot anything I should be doing differently? In the meantime, I’m trying to reach other people in my team to make sure they take a peek at the issue you’re reporting and the steps I’m following, in case they may know someth

[2021-07-08 19:46] danieljurek commented on #16303
I'm following up with the Docs team to better understand the error message. I suspect that this is something that can be fixed in the SDK code (possibly package.json)

[2021-07-08 19:46] danieljurek commented on #16310
I'm following up with the Docs team to better understand the error message. I suspect that this is something that can be fixed in the SDK code (possibly package.json)

[2021-07-08 19:56] maorleger commented on #16265
@xirzec / @chradek  what do you think? The lazy person in me wants to go with (1) since it's the easiest, but now that we have @azure/test-util it almost feels like a better place for the test tracers...

How painful would (2) be?

[2021-07-08 20:16] ramya-rao-a commented on #13787
Azure Core tasks that were worked on during Jan - June 2021

![image](https://user-images.githubusercontent.com/16890566/124984297-e3fa3180-dfed-11eb-9f51-b9a93dba2446.png)

![image](https://user-images.githubusercontent.com/16890566/124984347-f4121100-dfed-11eb-92a1-632f918ec002.png)

[2021-07-08 20:24] maorleger commented on #9755
See also: https://github.com/Azure/azure-sdk-for-js/issues/11550#issuecomment-868709458

The summary here is that this was fixed upstream in @opentelemetry and that it should be fixed when @azure/storage-blob 12.7.0 is released.

[2021-07-08 20:27] witemple-msft commented on #8030
Implemented in identity-vscode: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity-vscode/test/public/node/visualStudioCodeCredential.spec.ts#L35

[2021-07-08 20:27] #8030 closed

[2021-07-08 20:29] xirzec commented on #16265
2 doesn't seem that bad, since it's a test-only dependency. I'd love to not have to support these as public surface anyway

[2021-07-08 20:30] xirzec commented on #16265
should be as simple as copy/paste the code and update the imports, no?

[2021-07-08 20:32] sarangan12 commented on #15465
I am still coordinating with Derek to update the docs. Otherwise, no work is pending on this issue. I will track the docs upgrade and close this issue. Until closing, I am moving this issue to August release.

[2021-07-08 20:33] sarangan12 commented on #15119
Code complete and released for July release

[2021-07-08 20:33] #15119 closed

[2021-07-08 20:33] sarangan12 commented on #13910
Code complete and released for July release

[2021-07-08 20:33] #13910 closed

[2021-07-08 20:34] #13815 closed

[2021-07-08 20:34] witemple-msft commented on #15724
If we want to stick with CommonJS, then we'll need to collect all the exports in the file and map them into a `module.exports = { ... }`. I.e., `export function foo() { ... } export function bar() { ... }` has to be transposed into:

[code]

In parallel, there is a thread of discussion around maybe changing our JS output to use babel to transpile, in which case we can maybe use ESM instead of Comm

[2021-07-08 20:34] sarangan12 commented on #15072
Will work on this for the August release

[2021-07-08 20:36] witemple-msft commented on #14180
Some samples are waiting on a solution to https://github.com/Azure/azure-sdk-for-js/issues/15724

In general, supporting sample util files needs a bit of work, and we can probably leverage a transpiler like babel to make it simpler.

CC @deyaaeldeen

[2021-07-08 20:36] sarangan12 commented on #14481
Moving this to August release

[2021-07-08 20:39] maorleger commented on #16265
Well I was starting to think about "what if someone outside the monorepo is importing these" and what that would mean for them. But given core-tracing's preview status maybe we are totally fine to move them over

[2021-07-08 21:34] ramya-rao-a commented on #15473
Thanks @v-xuto

@zfoster, Can you please review the recommended fixes above? If you agree, then @v-xuto can send a PR to fix them

[2021-07-08 21:38] jeremymeng commented on #16127
PR #16292

[2021-07-08 21:53] sarangan12 commented on #15072
@zzhxiaofeng I have looked into the 2 reported issues.

1. For the issue 1, I am not sure what the problem is? Could you please elaborate? I have executed the sample and find no issues with it.
2. For the issue 2, the program is just a sample that the user is supposed to use. I will change it to generic value today.

[2021-07-08 22:05] subuv commented on #16056
Hi Emma/Maor,

Thank you for getting back on this. As of now it is not a blocker for us. I have the stacktrace from when i reported this, providing it here. But if `openTelemetry/api` update to a stabilized 1.0 is not causing this, i will try updating `@azure/storage-blob` again and see if i am able to reproduce this.

**Stacktrace**:
TypeError: _a.context is not a function
    at Object.getSpanCo

[2021-07-08 22:20] chradek commented on #16265
My vote is also for the 2nd choice since these do seem to be test helpers.

[2021-07-08 22:25] chradek commented on #16258
Did you make any changes to the sample besides modifying the config file? Is this still with implict flow and identity v1?

[2021-07-08 22:27] chradek commented on #16301
@pober
That error _should_ only occur if the sender or connection is closed before sendMessages is called. Are you able to reproduce the issue with the above code exactly?

[2021-07-08 22:40] zfoster commented on #15473
I'll happily take a PR to fix them, I'm unsure on the issue in the first one but the latter 2 look pretty straightforward. I don't see the recommended fixes though, maybe it was edited?

[2021-07-08 22:43] ramya-rao-a commented on #16312
@praveenkuttappan,

Can you share pointers to where we can update/add the script to run the above so that samples get published correctly after a package update?

[2021-07-08 22:49] zfoster commented on #15747
Hey @patroza we have open issues for this. TransactionalBatch isn't supported yet but is in the pipeline

[2021-07-08 22:50] zfoster commented on #13368
no @Zachery2008

[2021-07-08 22:50] zfoster commented on #15747
Closing in favor of: https://github.com/Azure/azure-sdk-for-js/issues/13368

[2021-07-08 22:50] #15747 closed

[2021-07-08 22:51] zfoster commented on #16313
Can you try this instead?

[code]

What status codes do you get for records that fail? It's possible there is some rate limiting, bulk sometimes inserts too fast for the backend and we see throttling, an example: https://github.com/Azure/cosmos-explorer/pull/684/files#diff-10f7ddc360b5244e6be19c8ce0850ae5bc401d34074e6041fb199d8dbec7acb7

Also, bulk will fail all subsequent records in the array if

[2021-07-08 22:53] zfoster commented on #15928
@maorleger it seems to happen occasionally, we can upgrade anytime now. The build is fixed

[2021-07-08 22:54] zfoster commented on #15533
@AntonOnyshch is this still an issue for you? We had the wrong URL exported in the browser for a day

[2021-07-08 23:57] jeremymeng commented on #15538
PR #16292

[2021-07-09 00:41] pober commented on #16301
This is the code from our projects, I just changed some of the variable names. The sequence of awaits is the same.

The code has not changed much since we started using @azure/service-bus 1.1.0 and there were no such errors on versions 1.1.0, 1.1.7, 1.1.9, 1.1.10, 7.0.0 and 7.0.3.

Moreover, it seems that the error does not always appear. We were unable to reproduce it with single calls locally. I

[2021-07-09 03:37] screamingworld commented on #16258
no I only changed the config file and make some more logs - so I get traced the error... and yes the implicit flow... And I have an another question what is the recommmendation for using event directly from the browser but without a logged in user? For example when the eventhub is used to send tracking messages and this is should be done directly from client side because when first going over a we

[2021-07-09 04:42] harikapampatti commented on #16313
@zfoster -Thanks for responding.
With above mentioned scenario's , issue is not getting resolved.
Can you please let me know alternative way or can this issue be resolved?

[2021-07-09 05:11] ramya-rao-a commented on #15928
Thanks @zfoster
Created #16318, please review

[2021-07-09 06:01] v-jiaodi commented on #15473
@zfoster The first issue is similar to the second one. Create an item and set ` indexingDirective : "exclude" `, we can query the items. But We don't expect to find any item. Is there anything else I need to offer on the first issue？

Besides, we don't have the recommended fixes, just describing this issue.

[2021-07-09 06:06] ramya-rao-a commented on #15473
Ah! sorry about the comment on recommended fixes in that case.

@zfoster What would your recommendation be?

[2021-07-09 06:48] sarangan12 commented on #15465
The documentation has been updated. Closing this issue

[2021-07-09 06:48] #15465 closed

[2021-07-09 08:26] zzhxiaofeng commented on #15072
@sarangan12 Well, for the issue 1, I don't know how to elaborate it. I just run the code and it throw the error. I have seen the SDK code about this but I don't find something wrong. I run it in different computer and node version today with the latest SDK code. It is still throw the error. I can tell you my configuration for the sample. I hope it can help you.
1. I run it under `azure-sdk-for-js/

[2021-07-09 12:57] zfoster commented on #15473
I think we need to investigate why the first and second directives aren't behaving as expected, for the last issue I think we can fix whatever ts-node doesn't like

[2021-07-09 13:12] adam-dziomdziora-cybercom commented on #11550
@maorleger  it actually did resolve the issue. (installing version 12.7.0-alpha.20210707.1)

[2021-07-09 13:35] muhammadahmedmallick opened #16335 "React Native Support in communication-calling package"
Is this supported for React Native?

I want to integrate Azure communication for messages and video calling in my react native app. is this supported yet or not?
if not what is the way around to utilize ACS in react native app.

[2021-07-09 13:51] MuhamedSalihSeyedIbrahim opened #16336 "Abort controller combinated with comosdb query not properlly alowing timeout more than 1sec"
- **Package Name**: @azure/abort-controller
- **Package Version**: 1.0.4
- **Operating system**: windows 10
- [ ✔] **nodejs**
    - **version**: 12.18.3

**Describe the bug**
The abort controller is not properly throwing error when its specified with time out value of more than 1000ms

**To Reproduce**
Steps to reproduce the behavior:
1. use this below code to reporduce the issue
    await contain

[2021-07-09 14:35] zfoster commented on #15542
Hi @MuhamedSalihSeyedIbrahim sorry for the late reply, we work on updating samples and docs as we work on new features and bugfixes. Can you give a detailed and specific list of the asks?

@ramya-rao-a is there someone we can pass this to on the docs side?

[2021-07-09 14:35] zfoster commented on #15542
There may be some tests we can point to when samples are missing

[2021-07-09 15:00] MuhamedSalihSeyedIbrahim commented on #15542
Need a doc that gives optimal connection optimization in Nodejs SDK (sb, cosmos DB, blob, storages, etc..,)
Eg:- Nodejs Azure SDKs support HTTP agents but optimal config and its impact are not prescribed anywhere.

Need a doc for Azure SDKs that explains the physical exhausting nature, their impact, and their mitigations.
Eg: if the system is under load and heavy network operation behind the scene

[2021-07-09 15:07] MuhamedSalihSeyedIbrahim commented on #15542
My Ask for azure SDKs(mostly cosmos DB, sb, storages) docs focused on connection optimization and avoiding physical resource exhaustion.

Small documentation towards the best practice in handling SDK connection (mostly cosmosdb, sb, storage)
and Tabulation of azure SDK  that explains the physical system exhausting nature, their impact, and their mitigations.
will suffice my ask

[2021-07-09 16:11] mesen10 commented on #16259
@chradek
In this case, if I create a global ServiceBusClient object in the application context, every requests will be using the same object. Just before sending a message:
1.  I will create a new Sender
2. I will send the message

Does this guarantees the ServiceBusClient state? Do I need to check if the connection is still open or not.

[2021-07-09 17:10] ramya-rao-a commented on #16336
Thanks for reporting @MuhamedSalihSeyedIbrahim

@zfoster, Can you take a preliminary look here to see if the problem is in how cosmos uses abort controller or in abort controller itself?

cc @chradek in case it turns out that this indeed is a problem with the abort controller

[2021-07-09 17:30] sarangan12 commented on #16006
Epic completed

[2021-07-09 17:30] #16006 closed

[2021-07-09 18:11] #16201 closed

[2021-07-09 18:11] #16265 closed

[2021-07-09 18:15] maorleger commented on #16201
@karol-majewski thank you for bringing this to our attention - I went ahead and resolved this by removing the test tracers to our internal test support package so future releases of `@azure/core-tracing` will play nicely with the defaults created by Yarn autoclean.

It will take time for this change to flow through our normal release and integration process but we expect this to be resolved within

[2021-07-09 18:57] chradek commented on #16335
@muhammadahmedmallick
We don't currently test that our SDKs work with react native, though we are revisiting #5771 over the next few months to remove the barriers we've identified.

Which specific packages are you trying to use?

Our general advice for react native apps right now is use something like react-native-app-auth to handle authenticating to your AAD, then use those tokens with your own s

[2021-07-09 19:22] sadasant commented on #16175
@aangelisc Just an update: I’ve reached out to my team and they report the same results as I do.

[2021-07-09 19:33] #15928 closed

[2021-07-09 21:27] chradek commented on #16259
That will ensure that a single connection is used. Each sender/receiver created from a ServiceBusClient shares the connection using what's called a 'link' in AMQP parlance - this is how AMQP supports multiplexing over a single connection.

You don't need to check if the connection is still open or not. If for some reason the connection becomes disconnected (perhaps due to a temporary network issue

[2021-07-09 21:47] chradek commented on #16258
@screamingworld
For user's who aren't logged in, the best we can do currently is generate a `shared access signature` from a `shared access key` and `shared access key name` - these 2 fields are part of your connection string. The shared access signature gives the same access rights as the policy tied to the shared access key, except it has an expiration time that you can control. The shared acces

[2021-07-09 21:50] chradek commented on #16301
Thanks for the info. You mentioned that you had upgraded to 7.3.0 which didn't solve your issue. What version were you on previously that also showed this error cropping up?

I'm looking to see if there are other code paths aside from the explicit close call that can lead to this error occurring, but having a tighter version range might help pinpoint what may have changed.

[2021-07-09 22:38] jeremymeng commented on #14984
Using skypack, `@azure/storage-blob` is now working on https://codepen.io/pen/

[code]

[2021-07-09 22:44] #15679 closed

[2021-07-09 22:59] HarshaNalluru commented on #15931
Created a smaller testing package, imported storage-queue instead, along with part of the rollup config to test the recorder-new at #15826

[2021-07-09 22:59] #15931 closed

[2021-07-09 23:16] HarshaNalluru opened #16345 "[Unified Recorder] Running the test at #15826 in playback mode is also making a live request - fix the bug"
TO REPRO - https://github.com/Azure/azure-sdk-for-js/pull/15826/commits/7d7169703c7c91d66946962e2d2e5240fdd360ec
PR - https://github.com/Azure/azure-sdk-for-js/pull/15826
Bug: Running the test in both record/playback modes are making live requests - fix the problem.

[2021-07-10 00:26] sadasant commented on #15945
@prashantchari hello again! Thank you for giving us more information. Let’s use this issue to track the problem you’re seeing. I will need some days to route this problem internally properly. I’ll answer back next week, as soon as possible.

[2021-07-11 07:13] omerdolev-ms opened #16349 "Upsert with merge to Cosmos DB table API doesn't work"
- **Package Name**: @azure/data-tables
- **Package Version**: 12.1.0
- **Operating system**: Windows
- [V] **nodejs**
    - **version**: 14.15.0
- [ ] **browser**
    - **name/version**:
- [V] **typescript**
    - **version**: 3.9.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug

[2021-07-11 07:16] omerdolev-ms opened #16350 "Batch operations doesn't work with Cosmos DB table API"
- **Package Name**: @azure/data-tables
- **Package Version**: 12.1.0
- **Operating system**: Windows
- [V] **nodejs**
    - **version**: 14.15.0
- [ ] **browser**
    - **name/version**:
- [V] **typescript**
    - **version**: 3.9.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug

[2021-07-11 12:45] zfoster commented on #15947
@ParkHost can you try using 3.12.0?

[2021-07-11 12:46] zfoster commented on #14389
Released in 3.12.0

[2021-07-11 12:46] #14389 closed

[2021-07-12 01:12] pober commented on #16301
It was 7.2.0

[2021-07-12 05:59] PizzaPartyInc commented on #9929
It seems like download hanging was happening for me because of some azure storage problems, download operations were very slow and hanging was happening only during that time. After a weekend, download speed increased drastically, making the issue disappear. =\

[2021-07-12 13:15] blrchen commented on #11550
@maorleger thanks for letting me know, new version is working for me.

[2021-07-12 16:42] muhammadahmedmallick commented on #16335
Thank you..

I want to use it for video calling, screen sharing, and messages.

[2021-07-12 19:32] HarshaNalluru commented on #16345
Fixed with https://github.com/Azure/azure-sdk-for-js/pull/15826/commits/8b084adb508217caaf59976572153c7bb28ad669

[2021-07-12 19:32] #16345 closed

[2021-07-12 19:34] ellismg commented on #16349
Hi, @omerdolev-ms, thanks for reporting this issue.

I'm unfortunately having some problem reproducing the issue - I ran the following test program:

[code]

And it behaved as I would have expected:

[code]

This is with 12.1.0 of the library and Node 14.16.0 on Windows.

Does anything jump out at you as a difference between my setup and yours?  I am creating the client using a connection string w

[2021-07-12 19:55] #15712 closed

[2021-07-12 20:31] HarshaNalluru opened #16356 "[Unified Recorder] Unable to hit the localhost:5000 from a karma test"
Trying to hit the localhost:5000(test-porxy) fails with this error.
![image](https://user-images.githubusercontent.com/10452642/125351762-554f2280-e315-11eb-932f-b71ceccd0d01.png)

This needs to be fixed to be able to use the unified recorder in the browser tests.

[2021-07-12 21:09] deyaaeldeen commented on #16299
Hi @dw511214992, I think this issue have been fixed in the readmes themselves so I think it is safe to close this issue for now. Feel free to reopen it if needed.

[2021-07-12 21:09] #16299 closed

[2021-07-12 21:21] ellismg commented on #16350
Hi, @omerdolev-ms

Similar to #16349, I'm unable to reproduce the issue when I run a small test on Node 14.16.0 on Windows with the 12.1.0 version of the package.

From the error, I suspect whatever is causing #16349 is also causing this issue, here's the small test I ran:

[code]

Let me know if there's anything that jumps out at you as differences in our environments.  If not, we can try to coll

[2021-07-12 22:49] hectorhdzg commented on #13798
applicationinsights 2.1.4 and latest Azure SDK packages must not have this issue anymore

[2021-07-12 22:49] #13798 closed

[2021-07-12 22:55] maorleger commented on #16056
@hectorhdzg FYI - is this the same issue as #13798 and if so, would it be resolved by updating applicationinsights to 2.1.4?

[2021-07-12 23:02] hectorhdzg commented on #16056
@maorleger yes updating to applicationinsigths to 2.1.4 must solve this issue

[2021-07-12 23:06] maorleger commented on #16088
@lmolkova thanks for bringing this to our attention. I have a PR open that will address your concerns. I did want to mention that I went with `azure/core-tracing` instead of `azure/tracing-core` for the default name while we work through this. I will also create new issues for the third point "(if possible, it can also be done later): tracer for client libraries and convenience layer spans should

[2021-07-12 23:08] maorleger opened #16358 "[core] - tracer for client libraries and convenience layer spans should be library-specific with name/versions set to library name/versions"
Recommendation from Liudmila that I will not be addressing in #16347

See #16088

[2021-07-12 23:11] maorleger commented on #16056
Thanks for confirming! @subuv could you try applicationinsights 2.1.4 and see if it resolves your issue? If so, feel free to close this issue.

[2021-07-12 23:12] maorleger commented on #11550
Thanks folks! I will close this issue now that it's confirmed, and this fix will be released when @azure/storage-blob 12.7.0 is released.

[2021-07-12 23:12] #11550 closed

[2021-07-12 23:23] maorleger opened #16359 "[core] - can we remove all the re-exported interfaces from core-tracing?"
Agree that we are at a point where these thin wrappers around OT are less and less useful. They did save me a bunch of work when things moved to the `trace` namespace, but that should not happen anymore now that OT is 1.0...

Three reasons why I did not just rip that out now:

1. This is already a massive PR, so I wanted to keep changes manageable
2. We did a lot of work to remove @opentelemetry/a

[2021-07-12 23:24] maorleger commented on #16359
I think we can, and I think only core-http and core-rest-pipeline need to depend on @opentelemetry/api  (besides core-tracing of course)

[2021-07-13 01:09] HarshaNalluru commented on #16356
Proxy-tool spits out the following.
![image](https://user-images.githubusercontent.com/10452642/125374596-331ccb00-e33c-11eb-812f-8a2a1e713db8.png)

[2021-07-13 01:18] ramya-rao-a commented on #9481
@ljian3377, Can you confirm that this is an issue due to node-fetch? If so, then moving to the new[ Azure Core v2](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/core/core-rest-pipeline/documentation/core2.md) should fix this

[2021-07-13 01:26] jeremymeng commented on #6526
As far as I know, the XmlHttpRequest API doesn't support ReadableStream, only Fetch API does.  https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API

[2021-07-13 01:44] ramya-rao-a commented on #10426
@jeremymeng Can we close this in favor of #6526?

[2021-07-13 01:56] ramya-rao-a commented on #14767
What is the workaround that is being used at the moment?

[2021-07-13 01:57] ramya-rao-a commented on #15071
@deyaaeldeen Can you please share if you agree with the recommendations above? If so, @zzhxiaofeng can then send a PR

[2021-07-13 02:00] ramya-rao-a commented on #14596
@maorleger Can this be closed in favor of #16088?

[2021-07-13 02:07] maorleger commented on #14596
@ramya-rao-a absolutely, we already are on OTel 1.0.0. Closing

[2021-07-13 02:07] #14596 closed

[2021-07-13 06:33] EmmaZhu opened #16362 "[storage] Update to the latest @autorest/typescript"

[2021-07-13 09:07] dw511214992 commented on #16171
@dilin-MS Sorry for late response.
Could you try the following codes to check whether it meets your requirements?
1. Add import: `import {logPolicy} from '@azure/ms-rest-js'`
2. Add a new parameter when creating `ResourceManagementClient`:
[code]
thanks

[2021-07-13 15:35] AntonOnyshch commented on #15533
@zfoster Yep. Still the same.
Version 3.12.0.

Uncaught TypeError: url.URL is not a constructor
    at checkURL (checkURL.ts:6)
    at new CosmosClient (CosmosClient.ts:79)
    at Object.5rkFb.vue (index.js:10)
    at newRequire (index.3fafb3e2.js:71)
    at index.3fafb3e2.js:120
    at index.3fafb3e2.js:143

On this line **window.cosmosClient = new CosmosClient({endpoint, key});**

[2021-07-13 16:17] jeremymeng commented on #9481
Yes it's caused by node-fetch issue https://github.com/node-fetch/node-fetch/issues/893.

[2021-07-13 16:35] jeremymeng commented on #14767
https://github.com/Azure/azure-sdk-for-js/blob/67a3401547d74498b4cd97db05c930251a4b0e98/sdk/containerregistry/container-registry/src/containerRegistryTokenCredential.ts#L110-L130

[2021-07-13 16:43] zfoster commented on #15533
Can you send me your package.json and what env you are running in? We have a browser and node URL export, it feels like your env is picking up an old URL version

[2021-07-13 16:45] jeremymeng commented on #10426
Yes that makes sense.

[2021-07-13 16:45] #10426 closed

[2021-07-13 17:44] maorleger commented on #7233
We already GA'd local crypto and have done several rounds of alignments. Closing this to clean up the backlog

[2021-07-13 17:44] #7233 closed

[2021-07-13 18:01] jeremymeng commented on #9569
We'd like to have a unified retry policy that allows some degree of customization.

Here's what other languages are doing. They all have a single retry policy.
- Java

- .NET

- Python

- C++

[2021-07-13 18:06] jeremymeng commented on #9569
- Adding a new unified policy and keep the old ones around to avoid major version bump
- by default use the new one in our pipeline
- consider storage secondary host retry scenario

[2021-07-13 18:09] jeremymeng commented on #9568
- consider switching to Browser Fetch API
- node also have fetch api coming
- fold this work into Fetch work

[2021-07-13 18:10] AntonOnyshch commented on #15533
[package.json.zip](https://github.com/Azure/azure-sdk-for-js/files/6811058/package.json.zip)

I recently switched on Mac. Use VueJS

[2021-07-13 18:11] HarshaNalluru opened #16366 "[App Config] Expose retryOptions from app-config to make it configurable"
TODO:
- Add retryOptions to the client options to make it configurable

Things to keep in mind:
- custom throttling policy is different from what the core-http offers
- throttling policy should play well with the retryOptions

Ask from Maryanne Gichohi (internal customer - App config team)

[2021-07-13 18:15] jeremymeng commented on #9966
We now retries up to 3 times.

[2021-07-13 18:15] #9966 closed

[2021-07-13 18:16] ramya-rao-a commented on #8991
The only pending thing here is to configure the hard-coded retry attempt of 3 which will be done as part of #9569

[2021-07-13 18:16] #8991 closed

[2021-07-13 18:16] KarishmaGhiya commented on #14707
core-tracing seems to be fixed with this PR - https://github.com/Azure/azure-sdk-for-js/pull/16248/ and identity is fixed with this PR - https://github.com/Azure/azure-sdk-for-js/pull/14986

[2021-07-13 18:16] #14707 closed

[2021-07-13 18:18] ramya-rao-a commented on #3121
Pending task is around message digest for which there is no user feedback/interest at the moment. So, closing

[2021-07-13 18:18] #3121 closed

[2021-07-13 18:20] jeremymeng commented on #13391
check guideline about no_proxy pattern

[2021-07-13 18:24] jeremymeng commented on #13945
check the guideline and support in other languages

[2021-07-13 18:28] jeremymeng commented on #15133
we should follow up with Storage Explorer team to have clarity on how they would use the customized no_proxy

[2021-07-13 18:32] #9078 closed

[2021-07-13 18:37] jeremymeng commented on #6526
Could do this as part of Fetch api work.

[2021-07-13 18:39] ramya-rao-a commented on #16362
@EmmaZhu We have logged #15813 which tracks the work needed to not only move to the latest version of the code generator, but also use the new Azure Core v2

Are you looking to move to the latest version of the code generator, but without moving to the new Azure Core v2? If no, then you can close this issue in favor of #15813

[2021-07-13 18:58] #14478 closed

[2021-07-13 19:02] #13787 closed

[2021-07-13 19:08] #15492 closed

[2021-07-13 19:19] sadasant commented on #15569
@jasonjoh We have provided the following information in our documentation: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/samples/AzureIdentityExamples.md#authenticating-with-the-azuremsal-browser-public-client Let me know if that’s helpful!

[2021-07-13 19:28] jeremymeng commented on #15133
The guideline only requires supporting NO_PROXY in global configuration/environment variable: https://azure.github.io/azure-sdk/general_azurecore.html#global-configuration.

[2021-07-13 19:42] jeremymeng commented on #13391
The guideline requires supporting CIDR addresses: https://azure.github.io/azure-sdk/general_azurecore.html#azurecore-config-envvars-no-proxy-cidr
![image](https://user-images.githubusercontent.com/7583839/125514960-3167bf8b-3cd4-459e-a4f9-7ab144d5c203.png)

[2021-07-13 20:07] deyaaeldeen commented on #15071
@zzhxiaofeng Thanks for the report! Could you please send a PR? and I will review it.

[2021-07-13 20:49] ramya-rao-a commented on #15945
@prashantchari While the constructor signature for the SDKs now take in TokenCredentials, they support the older ServiceClientCredentials too.

See https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/iotDpsClient.ts#L36

![image](https://user-images.githubusercontent.com/16890566/125521295-de87b69d-896d-487c-86db-fbdb0cfd9510.png)

[2021-07-13 21:00] craxal commented on #15133
Storage Explorer is currently in the process of adding direct support for NO_PROXY.

Storage Explorer allows users to specify proxy settings using either system proxy settings, custom app proxy settings, or environment variables. Users can change these settings at any time, which means we need to be able to support changing proxy information used by the various networking modules we use (`request`

[2021-07-13 21:52] ParkHost commented on #15947
@zfoster , the error is gone but i dont get anything back in my `console.log(database.id)` ..?
please have a look at my repo, not sure if i do anything wrong, cause it is straight from the tutorial

[2021-07-13 22:03] sadasant commented on #15804
.NET’s PR: https://github.com/Azure/azure-sdk-for-net/pull/22146

[2021-07-13 22:12] ParkHost commented on #15947
solved it with: NODE_TLS_REJECT_UNAUTHORIZED=0 , thanks

[2021-07-13 22:12] #15947 closed

[2021-07-13 22:26] HarshaNalluru commented on #16366
Had a chat with @jeremymeng.

In conclusion, I'm going with the following approach,
- I'll extend the AppConfig client options with retry options with only maxRetries and the maxRetryDelay instead of all the four options of the RetryOptions interface in core-http
- Update the custom throttling policy in app-config to not retry forever - and to honour maxRetries
   -  reference https://github.com/A

[2021-07-13 22:40] jeremymeng opened #16368 "[Core] consider switching from XHR to Fetch API"
Now that we drop IE11 support, we can investigate replacing XmlHttpRequest with Fetch API as it provides "more powerful and flexible feature set".  Some nice ones include
- ReadableStream body

things to also consider
- [ ] investigate retry error codes for browser case (original issue #9568)

[2021-07-13 22:41] jeremymeng commented on #6526
Core work is now tracked in #16368

[2021-07-13 22:43] #15538 closed

[2021-07-13 22:44] jeremymeng commented on #9568
Tracked in #16368.  Closing this one.

[2021-07-13 22:44] #9568 closed

[2021-07-13 23:25] ramya-rao-a commented on #16366
Can we treat #6484 and #9569 as pre-requisites before we invest further in the specific retry logic for App Config?

[2021-07-13 23:43] HarshaNalluru commented on #16366
@ramya-rao-a
Internal customer(app-config team) is waiting on it.
We do have a clear idea of what to do for App Config, which is in sync with what we have duplicated in core-http.
Coming to the differences, app-config should ideally only differ with core-http's implementation w.r.t the header we pick for the retry-after-ms.

TODO in app-config
- Update the throttling policy to not retry forever
-

[2021-07-14 00:17] HarshaNalluru opened #16371 "[Perf framework] Use Proxy tool to mock/replay the requests"
References:
https://github.com/Azure/azure-sdk-for-net/pull/22621
https://github.com/Azure/azure-sdk-for-java/pull/22943

@mikeharder

[2021-07-14 00:21] ramya-rao-a commented on #16366
Ok, sounds good.
I'll assign the retry tasks in core to you @HarshaNalluru as at this point you are most familiar with all the different requirements here :)

[2021-07-14 00:51] maorleger commented on #16371
Key Vault is interested in this, and is likely a good candidate for testing! Just FYI

[2021-07-14 00:55] mikeharder commented on #16371
@maorleger: Yep, Key Vault is one of the first services we are testing through the proxy.  We already have it working for .NET, Java, and Python.  JS should be complete in the next few days.

[2021-07-14 02:11] dilin-MS commented on #16171
Thanks @dw511214992. Though this is not the log I am seeking for.
I manage to poll deployment status using the list operation of deployment. Add here in case other developers are looking for such a solution:
[code]

[2021-07-14 03:15] dw511214992 commented on #16171
thanks @dilin-MS for your codes. If you want to get the special log in js sdk, you need to write your own `requestPolicy` (you can check the function `logPolicy` in my codes as an example). I think it's complex, so if you can achieve the goal with your codes, just use it.
I will close this issue because it seems you don't need other help from my end. You also can reopen it if you have other questi

[2021-07-14 03:15] #16171 closed

[2021-07-14 05:06] dilin-MS commented on #16171
Thank you very much!

[2021-07-14 09:13] zzhxiaofeng commented on #15071
@deyaaeldeen  Well, for issue 1, I can send a PR. But please have a look at issue2 and give me some suggestions.

[2021-07-14 14:06] razvangoga opened #16384 "ASB + Application Insights - all dependencies for sent mesages show as failed"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.3.0
- **Operating system**: Windows 10 21H1 19043.1110
- [x] **nodejs**
    - **version**: 14.17.3 (LTS)
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

[2021-07-14 16:50] ramya-rao-a commented on #15945
In conclusion

- When creating a credential using `@azure/identity` pass in the authority host. For example:

[code]
- Create your copy of the adapter where the scope is `https://management.chinacloudapi.cn/.default` instead of `https://management.azure.com/.default`
- Pass the credential from `@azure/identity` that you created with the China authority host to this adapter to get a `ServiceClientC

[2021-07-14 17:05] chradek commented on #16368
Another thing to keep in mind is how to track upload/download progress. I think for fetch, the method to track upload progress would be to pipe the readable stream through a transform stream that could keep track of the number of bytes read.

However when I looked into ReadableStream support when uploading a few years back, browser support was in a mixed state:
https://bugs.chromium.org/p/chromium

[2021-07-14 17:06] zfoster commented on #15533
@AntonOnyshch are you able to make a small repo to reproduce? Is this running in the browser? You seem to be getting the wrong URL type for whatever environment you're running in

[2021-07-14 17:23] LarryOsterman opened #16386 "Update Attestation SDK to use the most recent identity APIs."
Can you please upgrade the identity version in the devDependencies in attestation to be the latest version? It currently uses v1 in https://github.com/Azure/azure-sdk-for-js/blob/c642e0473f59eace4b3e9679dce97ec93b0f0cc2/sdk/attestation/attestation/package.json#L101 but we would like it to use v2 similar to azure-sdk-for-js/package.json at main · Azure/azure-sdk-for-js (github.com). This could happ

[2021-07-14 17:23] LarryOsterman opened #16387 "Regenerate the generated SDK for the attestation SDK."

[2021-07-14 18:14] ramya-rao-a commented on #16386
@LarryOsterman We have #15759 that is tracking the same work. So, closing this issue

[2021-07-14 18:14] #16386 closed

[2021-07-14 18:37] vishnureddy17 commented on #15594
For folks working on this, after regenerating code don't forget to remove the dependency on core-http and add a dependency on @azure/core-client and @azure/core-rest-client.

[2021-07-14 20:20] xirzec commented on #15133
Yeah, this definitely feels like a case where environment variables are not the right solution. I like the idea of making proxy policy configurable in this way.

Since Storage is still on `core-http`, you'd have to recreate the client each time to get the updated policy rather than being able to dynamically swap the policies out, does that work okay for you?

[2021-07-14 20:27] ramya-rao-a commented on #14346
Beta releases for the above two new packages are now available

[2021-07-14 21:30] AlexGhiondea opened #16388 "Consistency review"
This tracks the work to do a consistency review across the languages.

[2021-07-14 21:45] craxal opened #16389 "Version 1.4.0 breaks package installation"
- **Package Name**: @azure/identity
- **Package Version**: 1.4.0
- **Operating system**: macOS
- [x] **nodejs**
    - **version**: 14.7.1
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 3.8.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
I ha

[2021-07-14 21:52] craxal commented on #15133
@xirzec We're already doing that, actually. We create a new client for every operation that is performed. Then we discard it when the operation completes and returns.

Historically, we never relied on environment variables. But users were reporting issues when their environments had these variables set. Since the underlying networking modules already used these variables, we thought at first just

[2021-07-15 00:06] richardpark-msft commented on #13094
There was an additional fix in this area: https://github.com/Azure/azure-sdk-for-js/pull/15989

It'd still be good to put in a perf/stress test for this that to see if this code can be eliminated altogether.

[2021-07-15 00:15] scbedd commented on #16356
Resolved in Azure/azure-sdk-tools#1814 and the `latest` tagged container has been updated.

Locally this checked out for me, but confirm at your leisure.

[2021-07-15 01:58] EmmaZhu commented on #15459
https://github.com/Azure/azure-sdk-for-js/pull/15604

[2021-07-15 01:59] EmmaZhu commented on #15459
Issue has been fixed with PR: https://github.com/Azure/azure-sdk-for-js/pull/15604

[2021-07-15 01:59] #15459 closed

[2021-07-15 10:50] qiaozha commented on #15940
I ran into the same issue in macos. it turns out the solution is to install XCode which is 11.68 GB. I really don't see the necessity of why a authentication library msal should depend on such large IDE software like visual studio or visual c++ toolset or XCode. Is it really a user friendly or elegant design for a library ? Can we create an issue to track the progress of removing such dependencies

[2021-07-15 12:43] mesen10 commented on #16259
Thanks @chradek ! That was really helpful.

[2021-07-15 14:11] jsquire opened #16406 "Event Hubs: Client Identifier Support"
# Summary

When creating one of the Event Hubs client types, it can be useful for a host application to be able to uniquely identify the client instance.  The Event Hubs service also supports setting the identifier of an AMQP link, which it will associate with some error messages to make it easier to correlate errors with a given client instance.

The event processor types currently support an inf

[2021-07-15 14:11] jsquire commented on #16406
//cc: @chradek

[2021-07-15 15:18] #15730 closed

[2021-07-15 15:18] #16088 closed

[2021-07-15 15:18] #10205 closed

[2021-07-15 15:43] dw511214992 opened #16408 "Disable nightly build in pipeline for mgmt sdk"
As title, we don't need build mgmt sdk nightly, which will leads to pipeline failures

[2021-07-15 16:12] chradek commented on #16259
Glad to hear it!

[2021-07-15 17:10] praveenkuttappan commented on #16312
@deyaaeldeen Can you please explain what exactly does this command do? Does it refresh samples in repo or push to docs also? Do we need to refresh samples before docs.ms release?

[2021-07-15 18:17] #16366 closed

[2021-07-15 18:36] ramya-rao-a commented on #12397
Based on the above discussions, we want to continue with having core-amqp as the place to share code.
Keeping this issue open to move the duplicate code back to core-amqp

[2021-07-15 18:37] deyaaeldeen commented on #16312
@praveenkuttappan this command updates the files under `<pkg-path>/samples` directory with the updates from `<pkg-path>/samples-dev`. These samples are used in docs.microsoft.com so we want to make sure they're updated after a package makes a release.

[2021-07-15 18:40] ramya-rao-a commented on #9700
We are moving to `@azure/core-rest-pipeline` across packages as part of #15594
Closing as we are not planning on further investments in `@azure/core-http`

[2021-07-15 18:40] #9700 closed

[2021-07-15 18:46] ramya-rao-a commented on #11242
Closing as Node.js 8 has reached end of life. See [support policy](https://github.com/Azure/azure-sdk-for-js/blob/main/SUPPORT.md#microsoft-support-policy) for more

[2021-07-15 18:46] #11242 closed

[2021-07-15 19:03] ramya-rao-a commented on #10141
@joheredi Is this still applicable?

[2021-07-15 19:07] ramya-rao-a commented on #9278
We are moving to `@azure/core-rest-pipeline` across packages as part of #15594
Closing as we are not planning on further investments in `@azure/core-http`

[2021-07-15 19:07] #9278 closed

[2021-07-15 19:55] ramya-rao-a commented on #16389
Hey @craxal

Thanks for reporting!

Can you share a small code snippet we can use to replicate the problem?

I see from the call stack that you are using the `@azure/storage-file-share` package and so I tried with a code snippet using the same. Here I am using the credential from `@azure/identity` with the blob client from `@azure/storage-blob` and then also using the file share package. Am using

[2021-07-15 20:18] bterlson commented on #16389
@craxal can you please share the output of your `npm list`, for azure packages and anything which depends on azure packages?

[2021-07-15 21:03] xirzec commented on #7484
There seem to be a few different concerns in this issue.

First: should we have a default timeout and I think the answer here is no, we should let the platform decide when to timeout. Otherwise, we'll have to be very careful that long/slow operations have their timeout bumped up, and since swagger doesn't give us that information, it would be manual and error-prone.

Second: exposing these control

[2021-07-15 22:08] chradek commented on #16384
@razvangoga Thanks for opening the issue and providing a repro!

I'm having some issues on my end running the repro project. I can see messages getting sent to service bus, and I can see that performance-related metrics (e.g. processor usage) are being sent to application insights, but I'm not seeing the dependency info getting logged. I tried uncommenting out some of the code you had commented ou

[2021-07-15 22:12] deyaaeldeen opened #16415 "[Text Analytics] Add support for extractive summarization tasks"
Swagger: https://github.com/Azure/azure-rest-api-specs/pull/15159

[2021-07-15 23:01] ramya-rao-a commented on #16389
Ok, I think I have a repro

[code]

And package.json dependencies are
[code]

Error when using ts-node is

[code]

No error when using 1.3.0 of the identity package

@maorleger Is this because the latest version of core-http is using a different version of core-tracing than the older version of the same?

@craxal Can you share what exactly are you importing from core-http?

[2021-07-15 23:02] razvangoga commented on #16384
@chradek i've uncommented all the configs - not sure why without them the the logs were not pushed. In any case, the processor added at line 21 dumps the log item to console, and in it it's visible that the dependency is marked as failed

![image](https://user-images.githubusercontent.com/1067494/125868119-cbdbdfdb-caa4-4c07-9974-e1dfa4bab938.png)
![image](https://user-images.githubusercontent.com

[2021-07-15 23:17] razvangoga commented on #16384
one thing to keep in mind is that Application Insights does have sometimes lag in processing and displaying logged items (up to a few minutes 3, 5... )

[2021-07-16 00:43] ramya-rao-a commented on #16408
@dw511214992 Can you elaborate as to why you wont be needing the nightly builds?

For packages that are auto published like Track 1 mgmt plane packages, I understand that there is no need for nightly builds as every PR results in the package being published.

The Track 2 packages will not be having auto publish. This means that there is potential for code to be checked in to the main branch, but n

[2021-07-16 00:45] craxal opened #16418 "Unexpected use of old proxy environment variables when proxy policy is used"
- **Package Name**: @azure/storage-blob (@azure/core-http)
- **Package Version**: 12.6.0
- **Operating system**: macOS
- [x] **nodejs**
    - **version**: 14.7.1
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.3.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

*

[2021-07-16 00:49] maorleger opened #16419 "Key Vault for JavaScript (September 2021)"

[2021-07-16 00:50] craxal commented on #16389
@ramya-rao-a I believe is one or more of `RequestPolicy`, `RequestPolicyFactory`, and `RequestPolicyOptions`, though we don't import any of those from core-http directly. We import them all from storage-file-share. We use those types in a custom policy for controlling the API version.

[2021-07-16 00:54] maorleger opened #16420 "[Key Vault] Add support for Key Rotation"
To support KeyVault Key Rotation, implement the following changes (modeled from JS, but use whatever API is idiomatic for your language):

## ARM Template changes

When creating a keyvault, add `rotate` to the keys' accessPolicies so that your test application has permissions to rotate and set the rotation policy.

## Key Client API

[code]

Note that policy behavior is against the latest version

[2021-07-16 03:43] chradek commented on #16301
@pober
Just wanted to give a status update. I looked through the code base with version 7.0.3 and 7.2.0, and in both cases the sender should only throw that error if either the sender or service bus client have been closed. Nothing stands out in the diffs that would hint at this either.

I'm going to run this in an Azure Function to see if I can reproduce what you're seeing. Does each invocation s

[2021-07-16 05:34] sarangan12 commented on #15940
@witemple-msft How is the progress on getting the dependency removed?

[2021-07-16 09:42] AntonOnyshch commented on #15533
[VueJSCosmos.zip](https://github.com/Azure/azure-sdk-for-js/files/6829642/VueJSCosmos.zip)

[code]

[2021-07-16 10:47] MuhamedSalihSeyedIbrahim commented on #16336
@zfoster comosDB version used when the issue is version: "3.11.0"

[2021-07-16 10:49] MuhamedSalihSeyedIbrahim commented on #16336
Sorry for the wrong operation(closing and reopeinging).

@zfoster - cosmosdb version used is 3.11.0

[2021-07-16 12:15] gmantri opened #16430 "[Azure Storage Files] Unable to create share with NFS protocol enabled"
- **Package Name**: @azure/storage-file-share
- **Package Version**: 12.6.0
- **Operating system**: macOS
- [x] **nodejs**
    - **version**: 14.15.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug*

[2021-07-16 17:04] craxal commented on #15133
I also wonder if #16418 is related. I've been running some experiments, and I'm getting some rather surprising results trying to create clients with different proxy policies. Take for example:

[code]

And this is the output:

[code]

Notice that both operations use the same proxy host, which I definitely was not expecting.

[2021-07-16 17:28] jeremymeng commented on #16418
This is due to a bug where we only cache one single agent for proxy so the first set of proxy settings will always be used.

https://github.com/Azure/azure-sdk-for-js/blob/1a7c5e2af6bba42d3c04f84e684c364af6d5d83a/sdk/core/core-http/src/nodeFetchHttpClient.ts#L44

more proper way would be caching based on host, port, username, and password

[2021-07-16 17:40] jeremymeng commented on #16418
Right, there isn't a way to configure an operation (e.g., a blob get properties operation) to run without proxy. When proxyPolicy is in the pipeline we will use the environment variable if no proxy settings is passed.  After PR #16414 it will be possible to customize no proxy pattern.  It would still require some non trivial work (assemble the request pipeline to call `proxyPolicy()` with non defa

[2021-07-16 17:40] craxal commented on #16418
@jeremymeng Yeah, that would explain it. Is generating a proxy agent considered expensive? I don't think too many folks are changing proxies frequently. Even if they were, caching each agent seems a bit extreme. I'd be surprised if there were more than 2 or 3 at any given time.

[2021-07-16 18:07] jeremymeng commented on #16418
@craxal No, it's just a bug on our side. We added the cache to avoid creating agent for every request but we incorrectly assume proxy settings would remain the same.

Yes, the cache is per http client, by default all storage clients share a cached http client, but it's possible to pass custom http client to the storage clients via pipeline options

[code]
Please let me know whether this works for

[2021-07-16 18:33] LarryOsterman commented on #15759
@KarishmaGhiya Playback is failing after updating recordings:

     CredentialUnavailableError: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detail: ClientAuthError: openid_config_error: Could not retrieve endpoints. Check your authority and verify the .well-known/openid-configuration endpoint returns the required endpoints. Attempted to retri

[2021-07-16 18:42] craxal commented on #16418
@jeremymeng Thanks. Yeah, I think using a custom HTTP client does the trick. Storage Explorer is already doing that in order to support OS proxy settings.

[2021-07-16 18:45] ramya-rao-a commented on #8841
Re-opening as `qs` is being used in Identity

[2021-07-16 18:45] jeremymeng commented on #14984
Latest `@azure/ai-text-analytics` also works fine.

[2021-07-16 18:53] sadasant opened #16436 "[Identity] v2 IdentityClient feedback"
From Jeff:

- [x] Ensure we use chai and not assert [1](https://github.com/Azure/azure-sdk-for-js/pull/16432#discussion_r671426398).
- [x] Ensure we use async/await instead of then on the IdentityClient [2](https://github.com/Azure/azure-sdk-for-js/pull/16432#discussion_r671426750).
- [x] Use `URLSearchParams` on `getCorrelationId` [3](https://github.com/Azure/azure-sdk-for-js/pull/16432#discussio

[2021-07-16 18:58] sadasant commented on #12420
Now that we’re moving to v2, it should be easier. Jeff has pointed us to a plausible direction:

[2021-07-16 21:25] jeremymeng commented on #14984
@azure/cosmos works too after configuring CORS to allow `https://cdpn.io`

[2021-07-16 21:31] #16056 closed

[2021-07-16 21:32] subuv commented on #16056
Updating to applicationinsights 2.1.4 has solved this issue. Thank you hector, maor and emma!

[2021-07-16 22:08] HarshaNalluru commented on #15759
More info: msal library checks for the ids and would fail if it doesn't like the syntax.

[2021-07-16 22:34] jeremymeng commented on #15133
Now it is possible to override the global NO_PROXY.  It is easy to replace a request policy in `core-rest-pipeline`. Unfortunately storage still depends on `core-http` and there isn't a supported way to replace a policy in existing pipeline other than a very hacky one of removing one at certain index in the array then inserting the new policy. Furthermore, some storage internal policies are not ex

[2021-07-16 23:14] KarishmaGhiya commented on #15759
@LarryOsterman msal library needs those to be just numbers not characters in the above format.

[2021-07-16 23:29] LarryOsterman commented on #15759
This is REALLY confusing then. AZURE_TENANT_ID is a GUID, not an array of numbers. But the replacement string needs to be a set of numbers, not a GUID?

Is that intentional? If so, why??

[2021-07-16 23:29] #15759 closed

[2021-07-16 23:29] #16387 closed

[2021-07-17 21:12] amishra-dev commented on #16430
Hi (@gmantri) Gaurav,
The error returned by the service is (i checked the service logs) that NFS protocol is not supported on standard file shares. This is documented in the [NFS documentation](https://azure.microsoft.com/en-us/blog/nfs-41-support-for-azure-files-is-now-in-preview/).

_Performance
The NFS protocol is available on **Azure Files premium tier**. Your performance will scale linearly w

[2021-07-18 08:02] #15511 closed

[2021-07-19 01:36] pober commented on #16301
Yes, it is. One of the affected functions calls sendMessages once per invocation and sends a single message.

Sure, I'll try it.

[2021-07-19 04:41] gmantri commented on #16430
Hi @amishra-dev - Thank you for looking into this issue. I really appreciate it. So I tried the same with a Premium File Storage account in my Azure Subscription and I am still encountering the same issue unfortunately. My request options look like the following:

[code]

Here're the error details:

[code]

I even tried using the REST API directly (created an Account SAS and tried to create a File

[2021-07-19 04:45] gmantri commented on #16430
So I tried the request by specifying just `SMB` for `x-ms-enabled-protocols` and that worked. Similarly if I specify `SMB|NFS`, then that also works. The issue comes only if I specify `NFS`.

[2021-07-19 09:10] VarditShimborsky opened #16444 "Some of messages are not consumed from the event hub"
- **Package Name**: @azure/event-hubs
- **Package Version**: 5.4.0
- **Typescript Version**: 4.24

We see strange behavior when retrieving messages from the event hub.

From a certain point in time, some of the messages did not consume and newer messages were consumed.

after the app restart, all the messages are consumed.

You can see the differences in the following picture
![eus-esb-ehub-pr-12

[2021-07-19 09:41] MuhamedSalihSeyedIbrahim opened #16445 "Cosmos DB bulk operation isn't working across partitions in some condition"
- **Package Name**:  Cosmosdb
- **Package Version**: 3.11.0 & 3.12.0
- **Operating system**:
- [✅ ] **nodejs**
    - **version**: 12.18.3

**Describe the bug**
Cosmos DB bulk operation failed to bulk insert when DB partition is inside an object
eg:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. design a cosmos DB doc with partition key deep one level.
eg:
[code]
2. do the bulk operati

[2021-07-19 09:43] MuhamedSalihSeyedIbrahim commented on #16445
is cross partition bulk operation is not available  in cosmos DB SDK v3.12.0 Pls fell free to close this ticket as of now

[2021-07-19 12:46] EmmaZhu commented on #16430
Hi @gmantri,

You cannot create share with `accessTier` on premium account, shares in premium account should always be 'premium' tier.
Remove `accessTier: 'TransactionOptimized',` from your code, it should work well.

Thanks
Emma

[2021-07-19 12:50] gmantri commented on #16430
@EmmaZhu - Thanks for replying. Agreed. If you look at my 2nd last response, I am not including `accessTier` in my request options. The request still fails if I only specify `NFS` for enabled protocols.

[2021-07-19 15:14] nulltoken opened #16447 "[@azure/storage-blob] span.context is not a function"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.6.0
- **Operating system**:
- [x] **nodejs**
    - **version**: 14.15
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.3.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Contex

[2021-07-19 17:10] chradek commented on #16444
@VarditShimborsky
Thanks for filing this issue. Can you tell me a little bit more about how your consuming messages? Are you consuming events with a single consumer, or multiple consumers? Are you passing a `CheckpointStore` to your `EventHubConsumerClient` to support checkpointing events? Do you see any errors coming into your `processError` handler when you notice that some messages weren't bein

[2021-07-19 17:17] deyaaeldeen opened #16448 "mixed-reality-remote-rendering's playback tests take a long time to finish"
[code]

[2021-07-19 17:17] ramya-rao-a commented on #16447
@nulltoken Thanks for reporting!
Can you share a code snippet showing how you are using  `@opentelemetry/api`, `@opentelemetry/tracing` and `applicationinsights` when using the storage blob package?

[2021-07-19 17:19] deyaaeldeen commented on #16448
@MalcolmTyrrell We always aim to keep playback tests to finish in a few seconds. Is there a chance we can bring down the runtime for the tests for this packages to be within that range? Are these tests calling long-running operations?

[2021-07-19 17:28] ramya-rao-a commented on #16389
If you are importing them all from storage-file-share, then you shouldnt be seeing this problem as far as we know.
We would really appreciate it if you can share a code sample where you see this error so that we can try and replicate it from our end.

[2021-07-19 17:31] HarshaNalluru commented on #15759
I believe msal expects tenant-id to be in that format. Do you have any specifics, @sadasant?

[2021-07-19 17:35] bterlson commented on #16389
@craxal probably missing something obvious, but I'm curious how to reproduce the first line of your error output without importing directly from core-http e.g. in that base class `StorageClient`.

In general, even though there's a major version involved, we try to keep APIs compatible in areas where we think the types from one version are likely to flow to another version for whatever reason. It's

[2021-07-19 18:31] sadasant commented on #14190
@ramya-rao-a @southpolesteve I don’t think this makes a lot of sense, since the only credential we really support in the browsers is the InteractiveBrowserCredential. EnvironmentCredential uses client secret or client certificate authentication, that can be made to work by disabling browser security in the browsers. Browsers will block these requests because they imply that CORS has been enabled f

[2021-07-19 18:49] JasonYeMSFT opened #16451 "[app-configuration] Expose the after option in listConfigurationSettingsByPage"
**Is your feature request related to a problem? Please describe.**
The `after` option is not exposed by the getKeyValues method, which is used by listConfigurationSettingsByPage.

**Describe the solution you'd like**
Expose the `after` option and use it if explicitly provided by the caller. Otherwise, use the cached one from the last response (the current behavior).

**Describe alternatives you've

[2021-07-19 19:01] witemple-msft commented on #15940
There have been some discussions, but there is no way to avoid requiring a C++ compiler to install msal-node-extensions because no prebuilt binaries are available for that package, and no clear way to avoid building the extension package without disconnecting it from our monorepo tree.

@qiaozha just to clarify, `@azure/identity` does not depend on the C/C++ compiler and identity customers do not

[2021-07-19 19:12] craxal commented on #16389
Some clarification: We have a package of our own containing some common code we share across our app that makes working with the SDK easier, which we call `@storage-explorer/azure-sdk-helpers`. This package has a direct dependency on `@azure/core-http` and uses types from that package.

[code]

[code]

We don't build these packages in tandem; there was an already-built `@storage-explorer/azure-sdk

[2021-07-19 19:17] deyaaeldeen opened #16452 "[Form Recognizer] Tests take a long time in playback"
Please set the poller's polling interval to 0 in playback mode.

[2021-07-19 19:31] nulltoken commented on #16447
@ramya-rao-a https://github.com/nulltoken/azure-storage-blob-repro-case/blob/main/src/repro.ts is a complete self-contained repro case.

Is that enough?

[2021-07-19 19:57] chlowell opened #16454 "Rename AZURE_POD_IDENTITY_TOKEN_URL -> AZURE_POD_IDENTITY_AUTHORITY_HOST"
The variable should be just the scheme and host of the URL, e.g. "http://169.254.169.254" (the default). ManagedIdentityCredential should add its default path  ("/metadata/identity/oauth2/token")

See e.g. Azure/azure-sdk-for-python/pull/19867

[2021-07-19 21:28] ramya-rao-a commented on #15882
Post discussion with @xirzec and @bterlson we concluded that we can indeed remove the dependency on  `@azure/core-asynciterator-polyfill` from individual packages. If nothing, it reduces bundle size by a small amount. We can call out that Node.js 8 users can pull in this dependency themselves.

[2021-07-19 21:31] ramya-rao-a commented on #15325
Closing as Node.js 8 support has been dropped as part of #14607

[2021-07-19 21:31] #15325 closed

[2021-07-19 21:37] ramya-rao-a commented on #15998
Thanks @chradek and @xirzec

@srnagar What is the monitor angle here? Is this issue a blocker for the monitor package going GA?

[2021-07-19 21:59] bterlson commented on #7484
Agree with the analysis - `timeout` property should be retried, the fact that it isn't seems like a bug. Absent any signals from github, I can't comment on the importance of this bug relative to other work planned this semester. @ramya-rao-a ?

[2021-07-19 22:09] danieljurek opened #16457 "Dev version not published for Track 2 mgmt plane packages preventing daily docs"
Daily dev publishing pipeline notes -- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1002718&view=logs&j=b1e79959-24d8-5aa9-2799-72d40c3e051b&t=616ae03f-d350-5ea1-2948-454bf182d472

Is this package onboarded into the repo correctly?

[2021-07-19 22:11] danieljurek opened #16458 "Dev version not published for @azure/arm-features preventing daily docs"
Build error -- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1002809&view=logs&j=b1e79959-24d8-5aa9-2799-72d40c3e051b&t=616ae03f-d350-5ea1-2948-454bf182d472

[code]

[2021-07-19 22:13] danieljurek opened #16459 "Dev version not published for @azure/arm-storage preventing daily docs"
Build error -- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1002580&view=logs&j=b1e79959-24d8-5aa9-2799-72d40c3e051b&t=b97da954-c4a5-5ae7-3b4d-d44c7a94e97d

[code]

[2021-07-19 22:15] danieljurek opened #16460 "Dev version not published for @azure/arm-compute preventing daily docs"
Build error -- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1002747&view=logs&j=b1e79959-24d8-5aa9-2799-72d40c3e051b&t=616ae03f-d350-5ea1-2948-454bf182d472

[code]

[2021-07-19 22:16] danieljurek opened #16461 "Dev version not published for @azure/arm-policy preventing daily docs"
Build error -- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1002709&view=logs&j=b1e79959-24d8-5aa9-2799-72d40c3e051b&t=616ae03f-d350-5ea1-2948-454bf182d472

[code]

[2021-07-19 22:17] danieljurek opened #16462 "Dev version not published for @azure/arm-managedapplications preventing daily docs"
Build error -- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1002739&view=logs&j=b1e79959-24d8-5aa9-2799-72d40c3e051b&t=616ae03f-d350-5ea1-2948-454bf182d472

[code]

[2021-07-19 22:18] danieljurek opened #16463 "Dev version not published for @azure/arm-resources preventing daily docs"
Build error -- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1002739&view=logs&j=b1e79959-24d8-5aa9-2799-72d40c3e051b&t=616ae03f-d350-5ea1-2948-454bf182d472

[code]

[2021-07-19 22:20] danieljurek opened #16464 "Dev version not published for @azure/arm-network preventing daily docs"
Build error -- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1002762&view=logs&j=b1e79959-24d8-5aa9-2799-72d40c3e051b&t=616ae03f-d350-5ea1-2948-454bf182d472

[code]

[2021-07-19 22:33] witemple-msft commented on #16452
We already have set the polling interval to zero in playback mode, but I think some requests still take a long time because of the size of some of the files we are sending.

CC @HarshaNalluru , I think this is a limitation of the recorder.

[2021-07-20 00:06] ramya-rao-a commented on #16457
This applies to the handful of other mgmt plane packages for which we released Track 2 previews recently.

![image](https://user-images.githubusercontent.com/16890566/126242756-f869e235-7feb-46e5-9fd5-d4af318f0c8c.png)

[2021-07-20 00:07] ramya-rao-a commented on #16458
Closing in favor of #16457

[2021-07-20 00:07] #16458 closed

[2021-07-20 00:07] ramya-rao-a commented on #16459
Closing in favor of #16457

[2021-07-20 00:07] #16459 closed

[2021-07-20 00:07] ramya-rao-a commented on #16460
Closing in favor of #16457

[2021-07-20 00:07] #16460 closed

[2021-07-20 00:07] ramya-rao-a commented on #16461
Closing in favor of #16457

[2021-07-20 00:07] #16461 closed

[2021-07-20 00:07] ramya-rao-a commented on #16462
Closing in favor of #16457

[2021-07-20 00:07] #16462 closed

[2021-07-20 00:07] ramya-rao-a commented on #16463
Closing in favor of #16457

[2021-07-20 00:07] #16463 closed

[2021-07-20 00:07] ramya-rao-a commented on #16464
Closing in favor of #16457

[2021-07-20 00:07] #16464 closed

[2021-07-20 00:08] ramya-rao-a commented on #16457
Might be related to #16408

[2021-07-20 00:51] qiaozha commented on #15940
Hi @witemple-msft Thanks for your clarifiction, actually, I have installed g++/gcc before I install XCode. but somehow it didn't work. Then I have no choice but to install XCode.

[2021-07-20 02:13] chradek commented on #16384
Hey @razvangoga
I've been trying to get your repro to work locally, but I'm still not seeing the RemoteDependencyData you're getting after each send event. I do see metrics related to the performance of the app (for example, I can see the average amount of available memory on my machine), but even the custom telemetry processor isn't logging the RemoteDependencyData.

Are you running this locally

[2021-07-20 02:17] ramya-rao-a commented on #16447
Thanks @nulltoken!

This looks like a case of mismatched dependencies.
`@azure/storage-blob` pulls in a preview version of `@azure/core-tracing` that depends on 1.0.0-rc.0 of `@opentelemetry/api`.
While you are pulling in the version 1.0.1 of `@opentelemetry/api`

Can you update your dependency of `@opentelemetry/api` to 1.0.0-rc.0 and try again?

For a longer term fix, the next storage-blob updat

[2021-07-20 03:05] HarshaNalluru opened #16467 "[App Config] Remove the maxPageSize option in listConfigurationSettings().byPage()"
App config service doesn't support page size as an option.
Remove that from the PagedAsyncIterableIterator.

Also reported by @JasonYeMSFT - related to https://github.com/Azure/azure-sdk-for-js/issues/16451

[2021-07-20 06:53] nulltoken commented on #16447
@ramya-rao-a Thanks for the feedback. I'll give it a try then will report back here.

Just a thought, it's a bit complicated to know which version of  `@azure/storage-blob`, `@opentelemetry/api`, `@opentelemetry/tracing`, `applicationinsights` have been tested and proven compatible. It's a little bit like shooting a moving target, in the dark ;-)

Would there be a way to have a compatibility matri

[2021-07-20 07:20] MalcolmTyrrell commented on #16448
Yes, the important calls in our service are LROs, so that's what's being tested. I could probably adjust the data in the recordings by hand to bring the times down. It's unlikely that I can bring it into the range of a few seconds, though. Do you know of any other service which solves this?

[2021-07-20 07:27] pragnikadia08 opened #16469 "get error getaddrinfo EAI_AGAIN sample.servicebus.windows.net while sending and receiving message from topic"
Error: getaddrinfo EAI_AGAIN sblovestitchprod.servicebus.windows.net
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:67:26) {
  name: 'SystemError',
  translated: true,
  retryable: false
}

[2021-07-20 07:51] YitongFeng-git opened #16470 "[arm-botservice] When to support AzureBot resource rather than Bot Channels Registration?"
**Is your feature request related to a problem? Please describe.**
The Bot Channels Registration will be deprecated on September 1, 2021,
![image](https://user-images.githubusercontent.com/72963627/126282433-441becc4-7dfb-40b7-9941-fc0f57772c48.png)

But currently the arm-botservice api `botclient.bots.create( )` can only support creating bot channels registration, when will support to create Azur

[2021-07-20 07:57] buerklma commented on #16447
Had the same issue after upgrading nestjs to version 8

yarn add @opentelemetry/api@1.0.0-rc.0
did resolve the issue

[2021-07-20 08:55] aangelisc commented on #16175
Hi @sadasant,

Thanks for the above. To clarify - were you also routing all traffic via the VNet? We are using the `WEBSITE_VNET_ROUTE_ALL` flag and also the `WEBSITE_DNS_SERVER` (set to 168.63.129.16). I expect this may be different from your setup which could be what is causing us an issue?

[2021-07-20 09:13] qiaozha commented on #16457
@ramya-rao-a @danieljurek Could you give me some instructions on what's daily docs ? Does the nightly build impact some docs generation ?

[2021-07-20 11:14] razvangoga commented on #16384
Hi @chradek

yes i'm running locally on win 10 + node lts
![image](https://user-images.githubusercontent.com/1067494/126312117-e98e7790-62fd-4159-89c4-d276cd76482c.png)

but the issue was spotted on an alpine node container running in Azure in AKS

-----------
i've rerun the repro on a different machine. Was able to repro the issue again. What i have done was to:

1. clone the repo (make sure you

[2021-07-20 13:01] EmmaZhu commented on #16430
@gmantri ,

I have looked into the request (with request id you have shared) and found the account you used. Seems your account doesn't have NFS shares feature enabled.

Seems your account was created at: 2020-10-15T05:24:33.3827243Z. At that time, NFS shares feature might not be available yet.  Would you have a try with creating a new account and create NFS against it?

Thanks
Emma

[2021-07-20 16:24] danieljurek commented on #16457
@qiaozha Daily docs use packages published to the dev feed (looks like that's not happening currently for mgmt packages because of #16408). These offer a snapshot of what docs will look like on docs.microsoft.com before packages publish.

Since docs.microsoft.com collateral is created from packages already released on npmjs this gives developers an opportunity to find and correct errors in documen

[2021-07-20 16:27] chradek commented on #16384
@razvangoga One more thing, can you share the output of running `npm ls @azure/core-tracing` in your package?

I tried your exact steps on another machine and still am not seeing the RemoteDependencyData logged to the console. This is what I see:

[code]
Do you mind opening a support ticket and mentioning my alias, chradek? That'll allow us to set up a teams meeting/call.

[2021-07-20 16:34] razvangoga commented on #16384
this is how it looks on my end
[code]

how / where do i open the support ticket?

[2021-07-20 16:34] danieljurek opened #16474 "Preview package for @azure/arm-network@30.0.0-beta.1 is failing docs CI build"
This is a different issue from the daily docs issue (where packages don't have daily dev releases). This is for our pipeline for generating production docs. It will need to be removed to enable docs generation.

Build -- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=232620&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=a04569be-1b08-5c9a-7e65-a83076350a0c&l=646

[code]

[2021-07-20 16:38] pober commented on #16301
@chradek
I guess the problem was in some of the dependencies.
We did a forced npm update couple of hours ago and it looks like everything is working fine now. At least on version @azure/service-bus 7.3.0. Unfortunately, I can't dig into package.lock changes now. Hope this was just our local issue.

I think we could close it now.
Thanks for your help!

[2021-07-20 16:42] chradek commented on #16384
There are some links for opening a support ticket here:
https://github.com/Azure/azure-sdk-for-js/blob/main/SUPPORT.md#azure-support-tickets

I am starting to suspect that the issue you're seeing is with the applicationinsights package. This is the code path that should be hit:
https://github.com/microsoft/ApplicationInsights-node.js/blob/5ce8855414ab552ad6b23eeddb27f1c20e6a2a2f/AutoCollection/dia

[2021-07-20 16:59] razvangoga commented on #16384
Ok, thank you!

I'll hold on a bit until he has some feedback, just to make  sure that the ticket is opened for the right package

[2021-07-20 17:06] chradek commented on #16301
Thanks for the update @pober!

I'll close, but don't hesitate to open a new issue if you run into it again!

[2021-07-20 17:06] #16301 closed

[2021-07-20 17:47] chradek commented on #16469
@pragnikadia08 This error indicates that DNS resolution timed out. This could be a temporary networking issue or suggest something wrong with your host's configuration.

Are you seeing this sporadically or all the time? Are you able to make requests to other services from the same application? Do you have any successful service calls?

To help us troubleshoot, it would also be helpful to know whic

[2021-07-20 18:08] ramya-rao-a commented on #16447
That is a fair point @nulltoken
We cannot expect users to look into the dependencies list in the package.json file to find the right version. This ought to have been documented.
This becomes even more important now that  `@opentelemetry/api` has gone GA i.e. has a stable release and has more people trying it out.

On the other hand, in our July release, we updated the `@azure/core-tracing` package

[2021-07-20 18:10] KarishmaGhiya commented on #16239
The service returns a lot of feedbacks that are outside of the given start time and end time frames. This does seem like a bug on the service side. Talking to service team about this.

[2021-07-20 19:22] sadasant commented on #11725
Moved to September as this issue needs https://github.com/Azure/azure-sdk-for-js/issues/12420

[2021-07-20 19:26] sadasant commented on #16175
@aangelisc thank you Andreas! I will follow up on your feedback this week. Thank you so much for your response. Please give me a bit of time to catch up.

[2021-07-20 19:50] joheredi commented on #10141
This is fixed in Autorest Modeler four and the Accept Parameter is now generated as a constant parameter, no need to have a fix in our core libraries. Closing this issue

[2021-07-20 19:50] #10141 closed

[2021-07-20 20:08] joheredi commented on #16349
@omerdolev-ms, would you mind turning on the logs and sharing the output? [Here are the instructions](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/tables/data-tables#logging) on how to turn them on.

I also tried reproducing locally, but couldn't get a repro. The logs should give us more information on what's going on.

[2021-07-20 20:08] joheredi commented on #16350
@omerdolev-ms, would you mind turning on the logs and sharing the output? [Here are the instructions](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/tables/data-tables#logging) on how to turn them on.

I also tried reproducing locally, but couldn't get a repro. The logs should give us more information on what's going on.

[2021-07-20 20:14] sadasant commented on #13788
Closing on favor of https://github.com/Azure/azure-sdk-for-js/issues/14210

[2021-07-20 20:14] #13788 closed

[2021-07-20 20:29] danieljurek opened #16476 "Preview package for @azure/arm-compute@30.0.0-beta.1 is failing docs CI build"
This is a different issue from the daily docs issue (where packages don't have daily dev releases). This is for our pipeline for generating production docs. It will need to be removed to enable docs generation.

Build -- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=232763&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=a04569be-1b08-5c9a-7e65-a83076350a0c

[code]

This e

[2021-07-20 20:29] danieljurek commented on #16474
Tracked in internal issue https://dev.azure.com/ceapex/Engineering/_workitems/edit/460588

[2021-07-20 21:04] danieljurek opened #16477 "Exclude from daily docs those packages which do not have a 'dev' version on NPM"
Some packages fail to publish daily NPM packages. Those should not block daily docs.

[2021-07-20 22:45] RivaCode commented on #15854
@joheredi there is still a problem with the `submitTransaction` API, as it [creates a new TableClient](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/tables/data-tables/src/TableClient.ts#L882) and skips the configured pipeline (and options) from the "parent" TableClient

[2021-07-21 00:46] ramya-rao-a commented on #7351
@chradek Is this still applicable? Does our guidelines around retries ask for jitter? If not, lets close this

[2021-07-21 01:11] hectorhdzg commented on #16384
We are investigating this, looks like issue is ApplicationInsights node.js SDK package, we will keep this issue updated

[2021-07-21 01:34] qiaozha commented on #16457
Got it. So the way to resolve this issue is to keep nightly build for mgmt packages i.e. to enable the alpha version bump for mgmt packages ?

[2021-07-21 02:16] qiaozha commented on #16470
@YitongFeng-git which package version are you using ? Based on the description, bots.create https://github.com/Azure/azure-rest-api-specs/blob/master/specification/botservice/resource-manager/Microsoft.BotService/preview/2021-05-01-preview/botservice.json#L35  should be the method to create a Bot Service and channels.create https://github.com/Azure/azure-rest-api-specs/blob/master/specification/bo

[2021-07-21 02:24] YitongFeng-git commented on #16470
@qiaozha I am using the arm-botservice sdk: https://github.com/Azure/azure-sdk-for-js/blob/cfa456f927ba1f23a5182b9308c386a2aece7a59/sdk/botservice/arm-botservice/src/operations/bots.ts#L37

I tried the latest sdk version, it still can only create bot channels registration, will this sdk support Azure Bot resource ?

[2021-07-21 02:25] chradek commented on #11892
Shared Access Key and Shared Access Signature credential support was added to event hubs as part of #14423 and included in version 5.5.0 of the `@azure/event-hubs` package.

[2021-07-21 02:25] #11892 closed

[2021-07-21 02:25] chradek commented on #13794
Items in this epic were completed, closing!

[2021-07-21 02:25] #13794 closed

[2021-07-21 02:27] chradek commented on #14161
Closing as this was fixed by #15042 and included in `@azure/event-hubs` versions 5.5.1+

[2021-07-21 02:27] #14161 closed

[2021-07-21 02:28] chradek commented on #15607
Closing this in favor of #16224 to track adding clock skew correction support.

[2021-07-21 02:28] #15607 closed

[2021-07-21 04:00] HarshaNalluru commented on #13209
#16391

[2021-07-21 04:00] #13209 closed

[2021-07-21 04:55] ramya-rao-a commented on #11102
This feature is available in version 7.2.0 of the `@azure/service-bus` package

[2021-07-21 04:55] #11102 closed

[2021-07-21 05:06] #13796 closed

[2021-07-21 05:13] #9476 closed

[2021-07-21 05:24] gmantri commented on #16430
@EmmaZhu - Thank you for replying.

So I created a new account just now as per your instructions and tried to create a File Share with `NFS` as enabled protocols. Unfortunately it is still failing. I tried with both the SDK as well as REST API directly.

The request id is `61e45636-c01a-00fe-2bf0-7d36a7000000` and the name of the storage account is `cerprefs` in case you want to look more into thi

[2021-07-21 06:13] HarshaNalluru commented on #15530
Here's the wiki page https://github.com/Azure/azure-sdk-for-js/wiki/Case-Study:-Investigating-a-pipeline-that-hangs :)

[2021-07-21 06:13] #15530 closed

[2021-07-21 08:34] colawwj commented on #16470
@YitongFeng-git
We can create it successfully by below code ,could you test it again?
![image](https://user-images.githubusercontent.com/70128817/126457976-7fce1db0-7450-42f1-8936-9cca7af785f5.png)

[2021-07-21 09:03] YitongFeng-git commented on #16470
Hi, @colawwj , I tried again, **it created an "Bot Channels Registration", rather than "Azure Bot"**
![image](https://user-images.githubusercontent.com/72963627/126461733-dc939128-2d40-44dc-a9fa-f220a5e465ad.png)

Here is my code, the difference is just less properties:
![image](https://user-images.githubusercontent.com/72963627/126461814-bea6f3b7-176b-4a7e-a08e-95b9786c3605.png)

I tried the vers

[2021-07-21 10:34] qiaozha commented on #16470
interesting. The resource type in properties show it's indeed Microsoft.BotService/botServices. @YitongFeng-git  Could you try set the kind value azurebot ?

[2021-07-21 11:33] YitongFeng-git commented on #16470
@qiaozha I can not, for in the sdk, the kind can only be the following values:
![image](https://user-images.githubusercontent.com/72963627/126482203-f7c4f533-abd8-481a-a213-3b9dcdae8c2c.png)

[2021-07-21 12:40] nulltoken commented on #16447
@ramya-rao-a As promised, I downgraded to @opentelemetry/api to 1.0.0-rc.0 and I come back with mixed results:
- No exception is thrown :tada:
- The call to the blob storage dependency is no longer tracked 😿 (which was the initial situation that led me to open https://github.com/Azure/azure-sdk-for-js/issues/13481 back in Jan, 2021)

[code]

[2021-07-21 14:56] christopheblin opened #16487 "[Key Vault] docs or tests using EC public key ?"
I've seen
* https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/keyvault/keyvault-keys#verify
* https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/keyvault/keyvault-keys/test/public/crypto.spec.ts#L299
* https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/keyvault/keyvault-keys/src/cryptography/conversions.ts#L94
* many other resources on the internet :)

However, when I use jwk-to-pe

[2021-07-21 16:57] joshfree commented on #15986
Closing as the crew is only doing 1 UX study for the 1.0 release

[2021-07-21 16:57] #15986 closed

[2021-07-21 17:21] simonbrunel opened #16489 "AnalyzerName is ignored when set on simple fields under complex fields"
- **Package Name**: @azure/search-documents
- **Package Version**: 11.2.0
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: 16.5.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.3.2

**Describe the bug**
The `analyzerName` property on child fields under complex fields is ignored (not set) when the index is created.

**To Reproduce**
[code]

[2021-07-21 17:40] hectorhdzg commented on #16447
This expected because ApplicationInsights SDK 2.1.4 is using latest OpenTelemetry and only tracks spans with latest structure, if you downgrade is possible you get issues with Azure SDK packages that were updated previous release and are in fact using latest OpenTelemetry

[2021-07-21 18:46] nulltoken commented on #16447
@hectorhdzg That's also my gut feeling hence, hence my initial request _"Just a thought, it's a bit complicated to know which version of  `@azure/storage-blob`, `@opentelemetry/api`, `@opentelemetry/tracing`, `applicationinsights` have been tested and proven compatible."_

[2021-07-21 19:25] HarshaNalluru opened #16493 "[App Config] Live Test failures - Browser test"
![image](https://user-images.githubusercontent.com/10452642/126547878-a4296f58-cd11-4a58-bb72-a6ff3a32fdf5.png)

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1006886&view=logs&j=235ba172-7acc-5851-01ca-4cf393408ee7&t=f4e8558c-d48a-5d26-e65c-7aaa4d533f69

[2021-07-21 20:34] prashantchari commented on #15945
Hi @ramya-rao-a , Correct, I am passing in the base uri as you mentioned above, I think the solution works for me.

[2021-07-21 20:50] maorleger commented on #16420
Keeping in September, but moving up so I can implement something for the rest of the v-team

[2021-07-21 21:20] HarshaNalluru commented on #16356
Just posting the current state if anybody cares..
After the new image, this is what I see.
![image](https://user-images.githubusercontent.com/10452642/126561583-bdd37dd1-7fcd-485e-bf82-e8725e28b792.png)

Currently, investigating on where the recording-id is lost.

[2021-07-21 21:33] #16451 closed

[2021-07-21 21:33] #16467 closed

[2021-07-21 21:56] joshfree commented on #13782
Closing as a duplicate of https://github.com/Azure/azure-sdk-for-js/issues/15980

[2021-07-21 21:56] #13782 closed

[2021-07-21 21:56] danieljurek opened #16495 "Packages which fail `npm install` break docs build"
It is possible to release packages which do not install properly. In these cases the Docs CI build will become blocked. To prevent this from happening, validate that onboarded packages do install, remove those packages which do not install.

Example -- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=232996&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=a04569be-1b08-5c9a-7

[2021-07-21 22:14] maorleger commented on #16487
Hi @christopheblin - thanks for reaching out! I'm not too familiar with jwk-to-pem so I'll need to do some investigation and get back to you with an update.

[2021-07-21 22:21] chradek commented on #7351
I don't think this is applicable for sending events. Jitter makes sense for the HTTP-based clients, but in AMQP land we use a persistent connection and have other mechanisms for knowing when the peer is able to receive messages.

[2021-07-21 22:21] #7351 closed

[2021-07-21 23:57] maorleger opened #16499 "Key Vault link verification check failed"
Started failing due to missing links: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1010139&view=logs&j=b70e5e73-bbb6-5567-0939-8415943fadb9&t=a880e989-7d1a-5c96-a41f-d540b383cc43

Links that are missing:
- https://docs.microsoft.com/azure/key-vault/quick-create-portal
- https://docs.microsoft.com/azure/key-vault/key-vault-soft-delete-cli
- https://docs.microsoft.com/azure/key-va

[2021-07-22 06:14] christopheblin commented on #16487
Hi @maorleger - thanks for your time.

If you find a solution that is not using jwk-to-pem (for ex, if you improve the conversion.ts file with support for x and y), that is not a problem for me

I'm only looking for a client side verification, whatever the lib to use

At first, I thought that the Azure JS SDK will do it, but in fact it seems it does the verification on the client side only for RSA

[2021-07-22 07:04] christopheblin commented on #16487
Just to be a little more precise about the "Azure SDK should verify client side"

    const key = await client.getKey('tmp'); //key is a "full" KeyVaultKey
    const cryptoClient = new CryptographyClient(
      key,
      new EnvironmentCredential(),
    );
    //at the moment, this is doing a remote call
    const verif = await cryptoClient.verifyData('ES256', content, sig.result);

When the key

[2021-07-22 07:06] EmmaZhu commented on #16430
Hi @gmantri ,

Could you share how you created the account?

I created account on the portal with setting like following:
![image](https://user-images.githubusercontent.com/6396650/126601197-c5717fce-1335-4aea-b6e5-4a7ab8bf6b34.png)

Following is the request/response I used to create the share with NFS enabled:

`PUT https://emmapftest.file.core.windows.net/share1162693736761806660?restype=share H

[2021-07-22 07:32] christopheblin commented on #16487
Also, after more investigation, publicly exporting the `convertJWKtoPEM` function would be very handy (when it supports EC keys 😄  )

You could even place the following in the documentation for RSA and EC

---

When you have a public key, you do not need to call Azure SDK at all to verify a signature

You only need to convert the key to PEM (which is the format natively supported by nodejs crypto)

[2021-07-22 08:04] christopheblin commented on #16487
Ok I made another progress

[code]

I then add a `console.log(publicKey)` in my test :

[code]

They are exactly the same, so converting the public key with jwk-to-pem is NOT the problem ...

But now, I really don't see how the nodejs verify can fail given the publicKey is correct 😭

[2021-07-22 13:47] eriolchan commented on #16470
@qiaozha let me first introduce the background. From Azure Portal, we find that "Bot Channels Registration will be deprecated on Sept 1st, 2021" and the official recommendation is to use Azure Bot instead. Since our product uses Azure management SDK to provision Azure resource, so we want to know which SDK package and API is provided to create an Azure Bot resource?

@YitongFeng-git has tried the

[2021-07-22 14:08] christopheblin commented on #16487
Here is another progress : if I use my own ecdsa key, it works (so nodejs crypto is capable to verify, it just doesn ot work when the signature comes from the result of sign operation....)

[code]

[2021-07-22 15:09] drub0y commented on #16447
The real key is getting `@azure/core-tracing` up to the `^1.0.0` version spec on `@opentelemetry/api` et al. At the time of this writing, `@azure/core-tracing`'s latest version is `1.0.0-preview13` and still references `@opentelemetry/api` `v1.0.0-rc.0` which causes these problems.

The latest versions of Azure SDKs (blob, event grid, etc) all seem to go through the `@azure/core-tracing` abstracti

[2021-07-22 15:58] ramya-rao-a commented on #16499
Even if the content was removed, these links should have been set to be redirected elsewhere!
Perhaps get someone from the service team involved?

[2021-07-22 16:20] ramya-rao-a commented on #16447
Thanks for your patience everyone

Slight correction here: 1.0.0-preview12 and 1.0.0-preview13 of `@azure/core-tracing` use `^1.0.0` and `^1.0.1` of  `@opentelemetry/api` respectively.

Talking about next steps....

Some of our packages already use 1.0.0-preview12 of `@azure/core-tracing` and so you should be free to use the latest `@opentelemetry/api` with them
- All our core packages `@azure/cor

[2021-07-22 17:30] #10774 closed

[2021-07-22 17:52] maorleger opened #16511 "[Key Vault] - Update `getRandomBytes` to return a model"
Context:

Our original design for `getRandomBytes` defined the following signature:

[code]

After internal discussions we have decided that returning a model instead will align with our guidelines and allow for future extensibility. Feel free to look at our [Azure SDK guidelines](https://azure.github.io/azure-sdk/general_design.html) for more information on our cross-language guidelines.

This is

[2021-07-22 17:54] sadasant commented on #16389
I haven't had time to investigate this, but: is this still a problem with @azure/identity 1.5.0? We migrated to core-rest-pipeline and released it on Monday. I'm hoping it helps with this as well 🙈

[2021-07-22 18:06] ramya-rao-a commented on #16389
Thanks @sadasant!

@craxal,

Since semver rules will allow you to pull in 1.5.0 of `@azure/identity`, you should be unblocked now.

But I am guessing that will be a short term fix as we are planning to release updates to the storage packages next week where we increment the version of `@azure/core-http` it uses to v2. This will probably require you to update your `@storage-explorer/azure-sdk-helpe

[2021-07-22 18:21] drub0y commented on #16447
Sorry, you are absolutely correct... my brain is fried after looking at this for days. It's `preview.13` that we want, but other dependencies like `@azure/core-http` and `@azure/core-rest-pipeline` are looking for `preview.11` and `preview.12` and that's forcing npm/yarn to pick `preview.11` as the main `node_modules` dependency and I think that ends up creating the dependency issue. I tried to un

[2021-07-22 18:39] scbedd commented on #16356
Bit more detail.

Chrome network tab can see the appropriate headers

![image](https://user-images.githubusercontent.com/45376673/126691421-3fd06eab-7ebb-4aed-8cc0-556c9b100f59.png)

But the XMlHttpRequest object that comes back to the code itself _does not_ see the headers.

I added a console.log() of `xhr.getallResponseHeaders()` within core-http, and this is all it sees:

![image](https://user-

[2021-07-22 19:04] chradek commented on #16511
Wait, I thought the discussion ended with us not returning a model.

[2021-07-22 19:34] sadasant commented on #16436
I've checked all of the items because I've addressed them on an upcoming PR.

[2021-07-22 19:52] scbedd commented on #16356
Got it! Need to EXPOSE the headers, not just ALLOW them through preflight!

[2021-07-22 19:55] mikeharder commented on #15285
Here's the TypeScript issue explaining this behavior:

https://github.com/microsoft/TypeScript/issues/1748

[2021-07-22 21:33] maorleger commented on #16499
@jlichwa FYI - We noticed the above links are now 404ing - have they been removed? If so, do you happen to know how I can contact to put a redirect in place? My concern is that we are likely not the only ones referencing these (search engines, blogs, etc)

[2021-07-22 21:34] deyaaeldeen opened #16516 "[Attestation] Update samples in README"
Some of the samples in the readme file need to be updated to match the updated public API surface.

[2021-07-22 21:34] maorleger commented on #16499
Actually, looks like they are not 404 anymore, and are properly redirecting - so someone else must have noticed before we did 😄

I will close this when a nightly keyvault build is green again

[2021-07-22 22:01] #16259 closed

[2021-07-22 22:19] ramya-rao-a commented on #16447
Can you share what those are?

[2021-07-22 22:43] jlichwa commented on #16499
@maorleger  Yes Heath reached out yesterday...

[2021-07-22 22:50] maorleger commented on #16495
FYI there is work in-flight to guard against this in release builds so we can catch it before releasing https://github.com/Azure/azure-sdk-for-js/pull/16410

Meanwhile, I do recommend pulling the package artifact from the build pipeline and running npm i /path/to/package to ensure it installs cleanly before approving a release
![image](https://user-images.githubusercontent.com/753570/126718711-976

[2021-07-22 23:23] HarshaNalluru commented on #16356
Amazing work, @scbedd!
This works with the latest image, I can see all the headers.
x-recording-id is also seen.
Resolving the issue now!

[2021-07-22 23:23] #16356 closed

[2021-07-22 23:34] deyaaeldeen opened #16519 "[Schema Registry] Migrate to core v2"

[2021-07-23 00:25] zfoster commented on #16445
@MuhamedSalihSeyedIbrahim I'll take a look

[2021-07-23 00:28] zfoster commented on #16445
Bulk should never make cross-partition requests since it handles putting the items into the correct partition key ranges for performing the request. I think this is a bug but should be supported

[2021-07-23 01:00] qiaozha commented on #16470
@eriolchan just forward you an email. We should get service team's confirm to release a new SDK to resolve this issue but didn't have any luck yet.

[2021-07-23 06:07] ramya-rao-a commented on #15945
Thanks for the confirmation @prashantchari

@sadasant Can you make a PR to make the required changes to `@azure/ms-rest-js`?

[2021-07-23 07:18] christopheblin commented on #16487
This is indeed done in the C# sdk for example : https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/EcCryptographyProvider.cs

[2021-07-23 07:24] #16448 closed

[2021-07-23 13:43] haldarsumana commented on #7661
This is a closed issue but I am trying to solve similar kind of problem. I am using Azure JavaScript library for uploading and downloading large files to Azure Blob Storage from browser. Is there any new way I can pause and resume my upload and download file?

[2021-07-23 14:32] SumitPopat commented on #14673
Hi, any updates on when this could be available?

[2021-07-23 16:23] danieljurek opened #16527 "Packages should only be released if they will install successfully"
Test installing a package that is about to be released before publishing to the package manager to ensure that, among other things, dependencies within the same service are all published. The test should run in isolation so that dependencies from the same service are only available if they are already published to the package manager.

[2021-07-23 16:37] deyaaeldeen opened #16528 "[Schema Registry] Expose known enums as needed"
After regeneration with latest code gen, known strongly typed enum `KnownSerializationType` has been created. Check with the crew whether this should be exposed and come to an agreement with them.

PR for that regeneration: https://github.com/Azure/azure-sdk-for-js/pull/16520

[2021-07-23 17:23] danieljurek opened #16530 "Grouped ToC ci-config.json generation"
Script runs as part of `js - docindex` so it can be assumed that only one instance is running at a time.

* Read [CSV metadata](https://github.com/Azure/azure-sdk/blob/main/_data/releases/latest/js-packages.csv)
* Group services by `ServiceName`
  * Clean up entries for which `ServiceName` is empty (these will be released under `Other` if the `ServiceName` is empty)
  * Add entries for packages no

[2021-07-23 17:29] danieljurek opened #16531 "Grouped ToC service overview metadata creation"
The service overview should be generated in `js - docindex` as there is not a service-specific pipeline execution.

* Read CSV metadata, include overrides from the `metadata` folder
* For each service
  * Generate tables for data plane packages and management packages
  * Generate links to packages on NPM (trivial)
  * Generate links to package source (use service directory to begin with, and use

[2021-07-23 17:40] danieljurek opened #16532 "Grouped ToC metadata generation"
Update `Update-DocsMsMetadata.ps1` for JS to copy md files to the new layout

[2021-07-23 17:45] danieljurek opened #16533 "Migrate existing metadata to new layout"
Copy files from existing locations to new layout. This should be sortable by service metadata.

[2021-07-23 17:50] danieljurek opened #16534 "Generate docfx.json configuration from repo"
Given the JS docs repo state, generate docfx.json entries. This should run in `js - docindex`

[2021-07-23 18:20] sadasant opened #16535 "[Identity] Migrate to the latest dev-tool's rollup"
More information here: https://github.com/Azure/azure-sdk-for-js/pull/16514#discussion_r675727507

[2021-07-23 18:25] danieljurek opened #16536 "Grouped ToC Redirect Script"
Given folder structure of the repo, generate redirects from existing URLs to new location in dev center. There is some added complexity here because we need to correlate the package names with the CSV metadata to arrive at the new service moniker (e.g. `azure-node-latest` -> `az-js-storage-v12`)

This script will be run manually to migrate old links to new layout as we shut down the old URLs.

[2021-07-23 19:08] danieljurek opened #16537 "Grouped ToC Docs CI script"
Loop over `ci-config.json` files and run build script. If the working directories of the Docs CI scripts are sufficiently isolated this may be done in parallel to save time.

[2021-07-23 21:34] simonbrunel commented on #16489
Note that's the same issue for some other field options:

[code]

These don't map correctly when nested under a complex field.

[2021-07-23 22:31] sarangan12 commented on #16489
@simonbrunel Thanks for reporting this issue. I will look into this issue and fix it soon and update this issue

[2021-07-23 22:40] #16499 closed

[2021-07-24 00:54] ramya-rao-a opened #16542 "Hot fix branch triggering mgmt pipelines"
The PR #16529 for a hotfix for Storage packages is currently blocked due to failure in the `js - mgmt - pr` pipeline. This pipeline should not have even been triggered for this PR. This pipeline is for Track 1 auto generated packages (both data plane & mgmt plane) and this PR does not touch any of those packages.

This issue is to figure out why the pipeline was triggered.

Meanwhile to unblock ou

[2021-07-25 09:19] omerdolev-ms commented on #16349
Sorry for the trouble, turns out I didn't get compilation error for using `TablesSharedKeyCredential` instead of `AzureNamedKeyCredential`.
Changed to the new class and now it works.
Thanks for the help.

[2021-07-25 09:20] #16349 closed

[2021-07-25 09:21] omerdolev-ms commented on #16350
Hi, same here, switched to `AzureNamedKeyCredential` and now it seems to work...
Thanks for the help

[2021-07-25 09:21] #16350 closed

[2021-07-26 06:55] christopheblin commented on #16487
I can confirm that it also works in python sdk

So it seems the js sdk is "underpowered" compared to others

[2021-07-26 15:21] maorleger commented on #16487
Hi @christopheblin - Thanks for all the updates! I apologize for not getting back to you sooner - I am heads-down focused on another issue but I intend to look at this as soon as I am able to.

In the meanwhile, for a bit of history - I did want to call out that while feature parity _is_ important between our SDKs, local cryptography is something that we've been limited in supporting fully because

[2021-07-26 15:38] maorleger opened #16548 "msft bot automatically merged a PR before checks are completed"
When a PR is opened against a hotfix branch, msft-bot might not wait for all checks to complete before merging.

For example: https://github.com/Azure/azure-sdk-for-js/pull/16543 was merged almost immediately after applying the auto-merge label.

In our case, all checks eventually passed, but it could be problematic otherwise

[2021-07-26 15:52] christopheblin commented on #16487
hi @maorleger - Thanks for keeping an eye on the issue

I was not aware of the support policy, so thanks for pointing out

As I understand it, you cannot use crypto.verify because it was added in v12 :(

However, I do not manage to use crypto.verify anyway :)

Here is my latest attempt, specifying the most options I can to avoid anything magic inside nodejs crypto

The main "fix" is to verify the

[2021-07-26 17:07] ramya-rao-a commented on #15854
@aaronhuggins We released an update to `@azure/data-tables` early this month. Can you confirm that the issue you were seeing is resolved?

@RivaCode Thanks for your patience. Can you log a separate issue as what you are seeing is probably different from what @aaronhuggins reported in this issue?

[2021-07-26 17:49] #16445 closed

[2021-07-26 18:12] witemple-msft commented on #12602
As of 2.1, the service itself supports file-type autorecognition. Future versions of the SDK will simply remove our file-type detection logic and offload it to the service, still allowing for manual file-type specification as needed. Closing.

[2021-07-26 18:12] #12602 closed

[2021-07-26 18:25] xirzec commented on #15670
Resolved by linked PR

[2021-07-26 18:25] #15670 closed

[2021-07-26 18:26] HarshaNalluru commented on #14969
#15088 attempts to add the sample

[2021-07-26 18:28] AlexGhiondea opened #16550 "Support Etag in AppConfig APIs"
There are several APIs that would benefit from having support for ETag.

[2021-07-26 18:44] HarshaNalluru commented on #13501
- This is the link you can use for [Set up your dev env if you have not already](https://github.com/Azure/azure-sdk-for-js/blob/main/CONTRIBUTING.md#setting-up-your-environment)
- Guide to writing performance tests https://github.com/Azure/azure-sdk-for-js/wiki/Writing-Performance-Tests - read through the wiki to get a feel of it

Feel free to reach out me/ comment here if you need help/are stuck

[2021-07-26 18:44] sadasant commented on #5198
I believe this gets fixed by the min/max tests of only public API.... would that assessment be true, @KarishmaGhiya ?

[2021-07-26 18:46] ramya-rao-a commented on #13083
@sarangan12 Please sync with @qiaozha to see if this issue is still applicable and what the next steps here should be

[2021-07-26 19:02] sadasant commented on #13834
I believe this issue was due to confusion. Back then we were still believing we could deliver an isomorphic experience for Node and the browsers, when in fact the experience needs to be very different for each one. In this attempt of unification, it was hard for us (for me, at least), to realize that the AAD application had to be entirely different for Node and for browsers. SPAs can only work on

[2021-07-26 19:46] ramya-rao-a commented on #11954
_Design ideas_

- The deadletterMessage() method already takes an options bag `DeadLetterOptions` that can be made to extend `OperationOptionsBase`
- The completeMessage() method takes no arguments today. So, we can have it take an optional parameter `options` that follows `OperationOptionsBase`
- The abandonMessage() and deferMessage() methods already take an optional argument named `propertiesTo

[2021-07-26 19:56] chradek commented on #11954
`OperationsOptionsBase` also supports `tracingOptions`. I actually think it makes sense to support tracing on these operations but I'm not sure if that's something that's already been discussed and approved/disapproved. If we can support tracing too, then totally let's just extend OperationsOptionsBase.

[2021-07-26 20:04] sadasant commented on #13834
Let's close this for now.

[2021-07-26 20:04] #13834 closed

[2021-07-26 20:08] deyaaeldeen commented on #11043
This has been resolved now since we use the `matrix` function to test both AAD and APIKey.

[2021-07-26 20:08] #11043 closed

[2021-07-26 20:18] HarshaNalluru opened #16556 "[Aggregate Reports] Broken links - related to arm packages"
Link - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1015125&view=logs&j=0874ffeb-2919-5b4b-20de-16a97970b94c&t=e7bed9f9-0a29-5520-1a6f-94a7c7ce4cd8

![image](https://user-images.githubusercontent.com/10452642/127053277-cc656ffb-67e1-47a7-b34c-c0a1f1e56f72.png)

@ramya-rao-a

[2021-07-26 20:42] ramya-rao-a commented on #10113
This is taken care of in the newer auto generated packages that use the new TS SDK code generator i.e. https://www.npmjs.com/package/@autorest/typescript

An example where the new code gen was used is https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/resources/arm-resources/review/arm-resources.api.md

[2021-07-26 20:42] #10113 closed

[2021-07-26 20:45] ramya-rao-a commented on #10095
@kurtzeborn, @praveenkuttappan,

The mgmt plane packages have started the process of using the new TS SDK code generator and moving away from auto publishing. So, this task is no longer needed for them. Therefore, removing the the `Mgmt-EngSys` label

We still have a handful data plane auto generated packages that still use the old pipeline and therefore are auto published. This feature request st

[2021-07-26 20:45] sadasant commented on #8633
@HarshaNalluru while that is true, if this gets completely disassociated from the recorder, it will be harder to track it. We mainly see this while running recorded tests.

[2021-07-26 20:47] sadasant commented on #8841
Updated the title to make the current focus of this issue easier to parse

[2021-07-26 21:14] #14190 closed

[2021-07-26 21:18] sadasant commented on #14852
@dilin-MS We’ll be releasing v2 officially in a couple of months. In the mean time, you could try our beta version, but keep in mind that it might change: https://www.npmjs.com/package/@azure/identity/v/2.0.0-beta.4

[2021-07-26 21:21] ramya-rao-a commented on #16312
@praveenkuttappan Can you share the requested pointers please?

[2021-07-26 21:32] ramya-rao-a commented on #15774
@praveenkuttappan From what you know about the rush commands and our customizations for them, can you share some pointers as to how we can add the prompt that Will is suggesting above?

[2021-07-26 21:39] ramya-rao-a commented on #14340
@mikeharder ping! Any additional thoughts here?

[2021-07-26 21:44] ramya-rao-a commented on #11954
We can use a separate issue to track the tracing needs and use this one for abort signal support

[2021-07-26 22:01] mikeharder commented on #14340
Our existing PR validation pipelines do verify the perf tests can be compiled:

[code]

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1017086&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t=acc99708-be46-50ff-f197-4ecb2c3cab18&l=36

We are currently using one pipeline per service directory (rather than one pipeline per package) as a tradeoff to keep the number of pipelines reaso

[2021-07-26 22:14] xirzec commented on #14190
@southpolesteve For the specific scenario you mention, would you be willing to consider writing a custom TokenCredential that does what you want?

[2021-07-26 23:00] danieljurek opened #16560 "Grouped ToC handwritten service overview pages"
Hand-written service overview pages are not tracked in our source repos today. Our automation should generate service overview pages automatically but do not have a way to incorporate this handwritten content as specified.

A couple options:

* Remove these pages and only use the auto-generated service overview pages?
* Check these pages into the source repos and place the automatically generated

[2021-07-26 23:01] ramya-rao-a commented on #14182
Just tried on Node.js 14. I don't see the issue. Closing for now, please re-open if the problem persists.
Am not using nvm and have installed Node.js 14 directly

[2021-07-26 23:01] #14182 closed

[2021-07-26 23:49] deyaaeldeen opened #16562 "[Schema Registry] Response body is not received when TEST_MODE=record"
After migrating Schema Registry to use core v2, all tests fail in record mode. After some investigations, it looks like the response body does not make it to core-rest-pipeline and we suspect it could be the case that nock is choking on something in that body but we're not sure yet. The tests pass in both live and playback modes.

Here is one body with this issue:
[code]

cc @HarshaNalluru

[2021-07-26 23:59] sadasant commented on #16175
@aangelisc I have configured both settings and I still get a token. I will try several times more between today and tomorrow, and I’ll ask someone else to help me understand what’s going on. Thank you for your patience.

[2021-07-27 00:15] sadasant commented on #16175
@aangelisc if you can help us debug this, do you mind setting this environment variable `AZURE_LOG_LEVEL` to `verbose`? to see if you can spot some more information

[2021-07-27 00:18] sadasant commented on #16175
@aangelisc if possible, try the steps I shared above, on https://github.com/Azure/azure-sdk-for-js/issues/16175#issuecomment-876697803, plus also setting `WEBSITE_VNET_ROUTE_ALL` to `1` and `WEBSITE_DNS_SERVER` to `168.63.129.16`. Please let me know if you can spot something I’m doing differently.

[2021-07-27 00:24] maorleger opened #16563 "[Key Vault] - Regenerate and add 7.3 RBAC roles to support SKR and RNG permissions"
When ready, we'll need to regenerate 7.3 RBAC roles to support the new permissions that have been added:

- Microsoft.KeyVault/managedHsm/rng/action
- Microsoft.KeyVault/managedHsm/keys/release/action

[2021-07-27 02:52] qiaozha commented on #16556
docs team is working on this via https://dev.azure.com/ceapex/Engineering/_workitems/edit/460588

[2021-07-27 09:11] nikhell86 opened #16574 "If the proxy parameters are wrong, exceptions are thrown. Is there a way to catch these exceptions and show to the user that what went wrong?"
The users sometimes accidently put wrong data in proxy. Is it possible to catch these exceptions?

[2021-07-27 09:30] aangelisc commented on #16175
Hi @sadasant, thank you for the quick response - I'll give this a go as soon as I get the chance!

[2021-07-27 10:26] #16574 closed

[2021-07-27 10:26] nikhell86 commented on #16574
Sorry ..l listed on wrong page

[2021-07-27 11:58] mesen10 commented on #16259
Hi @chradek

I am attaching the code sample.

In the constructor I am creating one ServiceBusClient and one TopicClient.
I am using `publish` method to publish messages. For every message I am creating a new Sender from TopicClient as you mentioned.

I am sending messages at the same time and getting an error "An open sender already exists on the TopicClient for "audit". Please close it and try ag

[2021-07-27 12:01] razvangoga commented on #16384
Hi @hectorhdzg, any updates on this?

[2021-07-27 12:02] mesen10 opened #16575 "Service Bus - Connection Pool-2"
Hi,

I got in touch recently with https://github.com/Azure/azure-sdk-for-js/issues/16259
Unfortunately the suggested solution didn't work. I need connection pooling for Azure Service Bus library.

I am attaching the code sample.

In the constructor I am creating one ServiceBusClient and one TopicClient.
I am using publish method to publish messages. For every message I am creating a new Sender fro

[2021-07-27 14:36] zfoster commented on #16445
3.12.3 should resolve this

[2021-07-27 14:49] MuhamedSalihSeyedIbrahim commented on #16445
Is .3 patch out? To npm ?
Yes then will check and update

Hope fix end this issue

[2021-07-27 15:35] maorleger opened #16580 "[core] - bypass tracing policy when tracing is disabled"
our tracingPolicy assumes it can skip if there is no tracingOptions.context; however, createSpanFunction in core-tracing will always
create a span and always update the context in tracingOptions which bypasses the above logic.

tracingPolicy should enable smarter guards such as using `isSpanContextValid` and bypass anything that isn't (requires changes in core-http and core-rest-pipeline)

I think

[2021-07-27 15:54] RivaCode commented on #15854
no, actually @ramya-rao-a, it is the same one - it is simply an incomplete solution.

@joheredi added new type of options to pass to the `TableClient` constructor (the 'allowInsecureConnection' options).
when we use [submitTransaction](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/tables/data-tables/src/TableClient.ts#L870), internally it creates the same `TableClient` instance (as above

[2021-07-27 15:55] praveenkuttappan commented on #16542
management pipeline were triggered because PR was created from a source branch with name starting "hotfix/" and some changes were done in common files. management pipelines got triggered due to branch name and it confused CI that it is actual hotfix branch and not a PR source. @maorleger and I have created another test PR from a fork of this branch and it didn't trigger mgmt pipelines. This happen

[2021-07-27 15:57] hectorhdzg commented on #16384
@razvangoga fix is merged and it will be available in next release of the SDK later this week
https://github.com/microsoft/ApplicationInsights-node.js/pull/797

[2021-07-27 16:17] ramya-rao-a commented on #16542
If we do not want source branches in PRs to be starting with "hotfix/" is there any checks we can put in place to avoid this in the future?

[2021-07-27 16:30] razvangoga commented on #16384
@hectorhdzg ok, thank you. i'll make a note to upgrade next week and come back the the app insights repo with feedback if any.

@chradek thanks for the time in triaging this 👍

closing this issue

[2021-07-27 16:30] #16384 closed

[2021-07-27 16:43] chradek commented on #16575
@mesen10
Can you share what version of the `@azure/service-bus` client you are using? The latest version is `7.3.0`, and does have a public constructor on the `ServiceBusClient`. The `createFromConnectionString` method was part of version `1.x`.

Here's a sample that matches pretty closely to what your above code is doing:
[code]

Note however, you don't need to close the sender after each publish

[2021-07-27 16:46] ramya-rao-a commented on #15711
@joheredi Can we target this milestone to get this done? We are almost at the end of updating all packages to use the latest Identity preview package in their tests!

[2021-07-27 16:53] HarshaNalluru opened #16582 "[Perf Framework] Average can be NaN when parallel.lastMillisecondsElapsed is zero"
### Example
[code]

[2021-07-27 17:14] danieljurek opened #16584 "Add ability to override Docs CI version"
In some cases the Docs CI version may not successfully produce docs. Daily docs should have a way to specify the Reference Automation repository branch to enable successful builds.

[2021-07-27 17:45] praveenkuttappan commented on #16457
I have added the change to support alpha version for track2 management pacakges in PR [16433](https://github.com/Azure/azure-sdk-for-js/pull/16433). Currently alpha versions are not published yet due to invalid links due to known issue in docs release for track2 management packages in docs system.

[2021-07-27 17:48] praveenkuttappan commented on #16457
We can add a link check exclusion for these links for now until docs are published for these packages. But it will get too ugly when more and more mgmt packages are onboarded to track2.

[2021-07-27 17:59] HarshaNalluru opened #16585 "Add Tables SDK Performance Tests"
Add Performance tests for the performance-critical champion scenarios of Communication SDKs.

Performance Test Writing Guidelines:
https://github.com/Azure/azure-sdk-for-js/wiki/Writing-Performance-Tests

[2021-07-27 18:28] maorleger opened #16586 "[KeyVault] - Change the names of `data` and `value` in keyvault key release"
While those are what the swagger define, value specifically and generic terms overall are against our JS guidelines.

This issue tracks coming up with names that make sense, are close to the swagger, while still having some specificity

[2021-07-27 18:58] xirzec commented on #15133
I'm okay with storage having an extra option, it shouldn't be too bad for compat later either...

[2021-07-27 18:59] maorleger commented on #16086
Closed with #16150

[2021-07-27 18:59] #16086 closed

[2021-07-27 19:25] praveenkuttappan commented on #16312
I don't have much idea how samples are integrated into docs.ms. As per the pipeline step to publish documentation to docs.ms, it only refers README.md in package directory so I am wondering how will this post release step `dev-tool samples publish --force` help in publishing samples. I will check further to figure out more info about docs publishing. In the meanwhile, I would like to know how is R

[2021-07-27 19:39] ellismg commented on #15854
Thanks for the report and the pointer @RivaCode.  I opened https://github.com/Azure/azure-sdk-for-js/pull/16587 which should address this issue (it turns out that even if we threaded the `clientOptions` into the internal `TableClient` we create when doing batch operations, we'd still have this issue, which I discovered when I tried to do that first to fix things).

[2021-07-27 21:23] danieljurek commented on #16232
@praveenkuttappan -- We hit this issue last week. Here's a write up of current research and you can probably close #16527 as a dupe.

[2021-07-27 22:18] KarishmaGhiya commented on #15982
- Completed in last milestone

[2021-07-27 22:18] #15982 closed

[2021-07-27 22:21] ramya-rao-a commented on #15981
Done with https://github.com/Azure/azure-sdk-for-js/pull/16539

[2021-07-27 22:21] #15981 closed

[2021-07-27 22:41] KarishmaGhiya commented on #16239
Service team responded - `By given time range under "MetricTimestamp" timemode, it means return all feedbacks that cover points which timestamp in this time range, and we will return the origin records that satisfy the filters instead of triming them by request time range.`
The interpretation of start time and end time seems different. Needs more clarification.

[2021-07-27 22:55] KarishmaGhiya opened #16591 "Debugging test failures due to row response not returned as expected"
The failed tests are :
- queryLogsBatch with types
- queryLogs (last day)

Happening bcz the row values of the table are returned as below instead of "string"
[code]

The service response seems reasonable -
[code]

Needs more investigation into why the code returns row in the above matter. Start from playing with - the function - `convertGeneratedTable` in modelConverters.ts

[2021-07-27 22:58] KarishmaGhiya commented on #15688
Service team is aware, but no ETA on the fix. Moving to backlog

[2021-07-27 23:05] KarishmaGhiya commented on #16124
Workspaces - the one in options will use `additionalWorkspaces` and the one in API method will use `workspaceId`

[2021-07-27 23:16] deyaaeldeen commented on #16312
@praveenkuttappan I believe what @ramya-rao-a asks for here is a pointer to where to update the post-release bot and you really do not need to get familiar with how samples get published to docs.microsoft.com to accomplish this task. This latter is an automated process that gets the samples in the main branch for each package and publish them in the docs website. This issue is about updating those

[2021-07-27 23:16] KarishmaGhiya commented on #16123
Discussed with the team. This is an advanced use case, so we will leave these parameters unmodelled as of now. The data type in JS has changed to "Record<string, undefined>" and the value will remain a JSON object with no structure defined. Closing the issue for now.

[2021-07-27 23:16] #16123 closed

[2021-07-27 23:30] deyaaeldeen commented on #14340
I see and I think this is good enough for now. It is still a bummer though that the analyze step for perf tests PRs does not verify the perf test package itself but it is not a deal breaker for me.

[2021-07-27 23:32] HarshaNalluru opened #16592 "[Recorder] Recording the tests fail/hang/get partial responses"
Branch to repro with attestation tests- https://github.com/LarryOsterman/azure-sdk-for-js/tree/LarryO-AddedBlobSupport

### Background
@LarryOsterman reached out regarding the issue with recording the attestation tests.
Some of the tests are hanging forever, some are saving incorrect recordings.

### Investigation
We observed that there is a race condition in processing the responses. While the li

[2021-07-27 23:44] deyaaeldeen commented on #15133
@jeremymeng if it is possible, did you consider moving storage to use core v2 instead or delaying fixing this until when the migration happens? cc @ramya-rao-a

[2021-07-27 23:47] #15854 closed

[2021-07-27 23:50] mikeharder commented on #14340
@deyaaeldeen: How does the analyze step work?  We currently have one pipeline per service dir which can contain multiple packages.  Does analyze currently run on all these packages?  If so can we just add the perf package(s) to the analyze step?

I don't want to add additional pipelines, but if we want to run more checks on the perf project within an existing pipeline I have no objections.

[2021-07-27 23:52] witemple-msft commented on #16535
I already did this in https://github.com/Azure/azure-sdk-for-js/commit/187bad7be84e4d1d5558d343e3f8cd589c00f3d1

[2021-07-27 23:59] deyaaeldeen commented on #14340
@mikeharder here is an example for the format part in the analyze step for storage: https://dev.azure.com/azure-sdk/public/_build/results?buildId=1017086&view=logs&j=b70e5e73-bbb6-5567-0939-8415943fadb9&t=d155e9a2-7cbb-5b0e-f3c1-03b63fe55961

It does not have the perf package so if it can be added, that would be fantastic! cc @praveenkuttappan

[2021-07-28 00:09] deyaaeldeen opened #16594 "Add an LRO section in the migration guide for Track 2 management-plane packages"
Guide location: https://github.com/Azure/azure-sdk-for-js/blob/main/documentation/MIGRATION-guide-for-next-generation-management-libraries.md

cc @qiaozha

[2021-07-28 00:12] ramya-rao-a commented on #15854
@RivaCode Please do try our nightly build and let us know if the solution works for you.
You can install that by using `npm install @azure/data-tables@dev` in about a day.

[2021-07-28 00:32] qiaozha commented on #16457
@praveenkuttappan I think this package link missing is because of this issue https://dev.azure.com/ceapex/Engineering/_workitems/edit/460588?src=WorkItemMention&src-action=artifact_link

[2021-07-28 01:40] praveenkuttappan commented on #16312
I understand it's probably not required to do this step But I would like to know the whole picture. I can definitely add this command  to post release step so it get pushed in same PR as version increment.

[2021-07-28 03:03] qiaozha commented on #16470
@YitongFeng-git @eriolchan The latest @azure/arm-botservice https://www.npmjs.com/package/@azure/arm-botservice/v/3.0.0 has been released to resolve this issue. Could you have a try and let us know if you have any more questions? Thanks

[2021-07-28 03:35] lmolkova opened #16603 "Add node.js app to distributed tracing sample app"
We're working on distributed tracing sample app between azure sdk and azure monitor. We want to publish it on Azure-Samples and let users play with it. It's also a reasonable testbed for us to test how instrumentation integrates with typical user apps and OTel ecosystem.

Here's a brief [plan (internal only)](https://microsoft-my.sharepoint.com/:w:/p/limolkova/EWC30UUMsypOh64yR1LTc80B3evAxckPo3yj9

[2021-07-28 03:35] lmolkova commented on #16603
/cc @maorleger

[2021-07-28 04:01] #16258 closed

[2021-07-28 05:03] HarshaNalluru opened #16604 "[Perf framework] Proxy tool linking doesn't work with parallel>1"
The draft from https://github.com/Azure/azure-sdk-for-js/pull/16518 at https://github.com/Azure/azure-sdk-for-js/pull/16518/commits/769e72c5f82dff6aab6cd7a49516e0eeab609609 works well when parallel=1, but throws an error when parallel is not equal to 1.

![image](https://user-images.githubusercontent.com/10452642/127266547-4824c842-85ef-4c46-b661-4671814365c3.png)

[2021-07-28 07:07] HarshaNalluru commented on #16604
Fixed at https://github.com/Azure/azure-sdk-for-js/pull/16518/commits/cea317301a19ad8abec488ec103ec94a99033a0e

[2021-07-28 07:07] #16604 closed

[2021-07-28 07:36] YitongFeng-git commented on #16470
@qiaozha thanks! How to use the sdk to deploy an Azure Bot?

[2021-07-28 08:37] v-jiaodi opened #16607 "[Form Recognizer] test failing in nightly runs"
Form Recognizer nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=921316&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=926900&view=results

[2021-07-28 08:38] v-jiaodi opened #16608 "[Text Analytics] test failing in nightly runs"
Text Analytics nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\textanalytics\ai-text-analytics\test\public\apiKey.spec.ts:210:18)
    at Generator.next (<anonymous>)
    at fulfilled (D:\a\_work\1\s\common\temp\node_modules\.pnpm\tslib@2.2.0\node_modules\tslib\tslib.js:114:62)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

For more deta

[2021-07-28 08:39] v-jiaodi opened #16609 "[Text Analytics] test failing in nightly runs"
Text Analytics nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\textanalytics\ai-text-analytics\test\public\textAnalyticsClient.spec.ts:488:41)
    at Generator.next (<anonymous>)
    at fulfilled (D:\a\_work\1\s\common\temp\node_modules\.pnpm\tslib@2.2.0\node_modules\tslib\tslib.js:114:62)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

[2021-07-28 08:40] v-jiaodi opened #16610 "[Text Analytics] test failing in nightly runs"
Text Analytics nightly test runs are failing with:

    at ClientRequest.<anonymous> (/mnt/vss/_work/1/s/sdk/core/core-rest-pipeline/src/nodeHttpClient.ts:151:18)
    at ClientRequest.emit (events.js:314:20)
    at ClientRequest.EventEmitter.emit (domain.js:483:12)
    at TLSSocket.socketErrorListener (_http_client.js:427:9)
    at TLSSocket.emit (events.js:314:20)
    at TLSSocket.EventEmitter.em

[2021-07-28 08:41] v-jiaodi opened #16611 "[App Configuration] test failing in nightly runs"
App Configuration nightly test runs are failing with:

    at dist-test/index.browser.js:77780:13
    at Generator.next (<anonymous>)
    at fulfilled (dist-test/index.browser.js:89:62)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=937305&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=949044&view=results
- https://d

[2021-07-28 08:42] v-jiaodi opened #16612 "[App Configuration] test failing in nightly runs"
App Configuration nightly test runs are failing with:

    at dist-test/index.browser.js:49906:17
    at Generator.next (<anonymous>)
    at fulfilled (dist-test/index.browser.js:89:62)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=937305&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=949044&view=results
- https://d

[2021-07-28 08:42] v-jiaodi opened #16613 "[App Configuration] test failing in nightly runs"
App Configuration nightly test runs are failing with:

    at Context.<anonymous> (dist-test/index.browser.js:77504:20)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=952956&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=955461&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=958620&view

[2021-07-28 08:42] v-jiaodi opened #16614 "[App Configuration] test failing in nightly runs"
App Configuration nightly test runs are failing with:

    at Context.<anonymous> (dist-test/index.browser.js:77489:25)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=952956&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=955461&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=958620&view

[2021-07-28 08:43] v-jiaodi opened #16615 "[Attestation] test failing in nightly runs"
Attestation nightly test runs are failing with:

    at D:\a\_work\1\s\common\tools\dev-tool\src\index.ts:10:11

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=926996&view=results

[2021-07-28 08:44] v-jiaodi opened #16616 "[Communication - Network Traversal] test failing in nightly runs"
Communication - Network Traversal nightly test runs are failing with:

    at Test.Runnable._timeoutError (/Users/runner/work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:442:10)
    at Timeout.<anonymous> (/Users/runner/work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:252:24)
    at listOnTimeout (internal/timers.js:554:17

[2021-07-28 13:20] MuhamedSalihSeyedIbrahim commented on #16445
Great!, Issue is fixed in CosmosDB@v3.12.3.
Thanks @zfoster !!

[2021-07-28 14:38] maorleger commented on #16607
Latest runs have passed repeatedly, so closing this

[2021-07-28 14:38] #16607 closed

[2021-07-28 14:39] maorleger commented on #16616
Latest runs consistently passing, closing this

[2021-07-28 14:39] #16616 closed

[2021-07-28 14:39] maorleger commented on #16615
Latest runs consistently passing, closing this

[2021-07-28 14:39] #16615 closed

[2021-07-28 14:44] maorleger commented on #16614
Merging existing issues #16613, #16612, and #16611

[2021-07-28 14:44] #16613 closed

[2021-07-28 14:45] maorleger commented on #16610
Latest runs consistently passing, closing this

[2021-07-28 14:45] #16610 closed

[2021-07-28 14:45] maorleger commented on #16609
Latest runs consistently passing, closing this

[2021-07-28 14:45] #16609 closed

[2021-07-28 14:45] maorleger commented on #16608
Latest runs consistently passing, closing this

[2021-07-28 14:45] #16608 closed

[2021-07-28 16:34] MRayermannMSFT opened #16617 "What's going on with `core-tracing`?"
What's going on with the `core-tracing` package? Is is it ever going to have a non-preview/actual version (e.g. just x.y.z)? It looks like the package has been in a non-GA state for almost 2 years now.

Having a version like `1.0.0-preview.x` is annoying for customers because unless both y'all keep all of the packages that depend on it up to date with the latest version and customers continually t

[2021-07-28 16:51] Zenious opened #16618 "[ServiceBus] Invalid parameter in documentation for getMessageIterator function"
- **Package Name**: @azure/service-bus
- **Package Version**: v7
- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [x] SDK API docs on https://docs.microsoft.com
- [x] **typescript**
    - **version**: 4.3.5

**Describe the bug**
Parameters option `maxWaitTimeInMs` shown in source code documentation and SDK API docs for ServiceBusReceiver's getMes

[2021-07-28 21:01] sadasant commented on #16535
I saw some weird behavior in https://github.com/Azure/azure-sdk-for-js/pull/16514, but eventually I was able to get rid of the problem and go back to what Will had: https://github.com/Azure/azure-sdk-for-js/pull/16514/commits/bb1033ab59759555aac0e224c86905bae7f0b2fd closing this!

[2021-07-28 21:01] #16535 closed

[2021-07-28 21:24] tapasudenia opened #16622 "[QUERY] - Get AAD Auth token from Azure Commercial to Azure Gov Cloud - is it possible?"
**Query/Question**
I am working on one project which is the integration of an app hosted in Azure commercial cloud with an app hosted in Azure Gov Cloud(.us). I need to get AAD auth token for an app-registration present in commercial cloud with the scope for an app registration created in Azure Gov Cloud.

**Scenario**

app registration id: app-reg-a-id
Tenant: some-commercial-tenant-a

app regist

[2021-07-28 21:26] deyaaeldeen opened #16623 "agent-string header has duplicate values for most packages that use core v2"
Here is the user-agent header attestation sends with their requests: `"user-agent":"azsdk-js-api-security-attestation/1.0.0 azsdk-js-attestation/1.0.0 core-rest-pipeline/1.1.2 Node/v14.17.0 OS/(x64-Linux-5.10.16.3-microsoft-standard-WSL2)"` and you can notice that attestation version comes up twice. The issue happens because packages that use core v1 used to set the user-agent header manually in t

[2021-07-28 22:01] praveenkuttappan commented on #14340
perf-tests projects are not included by rush runner when triggering any rush commands from CI. I assume it has been done this way to reduce the build and test time when any rush command is triggered since we already spent long time for build and tests for core etc. So we need to be careful when additional load is added into rush run step. I would suggest adding a new filter into rush runner so it

[2021-07-28 22:03] praveenkuttappan commented on #14340
@deyaaeldeen You can reopen and assign it to me if you are okay with above approach of selectively include perf-tests in rush step using additional option to rush-runner
@mikeharder @ramya-rao-a fyi.

[2021-07-28 22:09] deyaaeldeen commented on #14340
@praveenkuttappan if it is not too much trouble, could you add the perf tests and see how much overhead do we get? I guess it should not be too bad because those tests are small and do not even have to be compiled to files on disk. So if that is indeed true, we can just go ahead and always add them. If not, then I am fine with making it optional for any service to opt in.

[2021-07-28 22:23] danieljurek opened #16626 "Docs onboarding BVTs run only for packages with updated versions"
Only run BVTs for packages which have new content. This prevents having to run `npm install` on every package. If the BVT fails log a warning and keep the old version.

[2021-07-28 22:39] ellismg commented on #15854
@RivaCode The exact version (`12.1.1-alpha.20210728.1`)  is now [published to npm](https://www.npmjs.com/package/@azure/data-tables/v/12.1.1-alpha.20210728.1).

[2021-07-28 23:57] deyaaeldeen opened #16627 "[Tables] Remove manual code to handle agent-string"
in the client constructor. However, make sure to regenerate with a recent version of the code generator first so that you get auto-generated code that handles the agent-string for you.

[2021-07-29 01:34] qiaozha commented on #16470
@YitongFeng-git  if by deploy you mean publish to Azure, based on their rest api specs https://github.com/Azure/azure-rest-api-specs/blob/master/specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/botservice.json, I don't think this is support with rest api. If you've ever seen such kind of usage in other language SDK or rest api, show me the link, I am happy to find o

[2021-07-29 02:55] #16562 closed

[2021-07-29 02:55] #16592 closed

[2021-07-29 06:20] YitongFeng-git commented on #16470
Hi, @qiaozha You said https://www.npmjs.com/package/@azure/arm-botservice/v/3.0.0 resolved the issue, I upgraded the package and tried, but it still create an **Bot Channels Registration**, how to **create an Azure Bot**? How to modify my code? Any documents?
![image](https://user-images.githubusercontent.com/72963627/127441442-11b2b4e3-bb26-4d26-91d4-a0670d363ab5.png)

The following is [Azure Bot

[2021-07-29 08:37] v-jiaodi opened #16631 "[Metrics Advisor] test failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

    at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:266:17)
    at /mnt/vss/_work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:171:47
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at TracingPolicy.sendRequest (/mnt/vss/_work/1/s/sdk/core/core-http/s

[2021-07-29 08:37] v-jiaodi opened #16632 "[Metrics Advisor] test failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

    at handleErrorResponse (/Users/runner/work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:266:17)
    at /Users/runner/work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:171:47
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)
    at TracingPolicy.sendReque

[2021-07-29 08:37] v-jiaodi opened #16633 "[Metrics Advisor] test failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

    at Context.<anonymous> (test/public/datafeed.spec.ts:251:18 <- dist-test/index.browser.js:56392:31)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1016918&view=results

[2021-07-29 08:38] v-jiaodi opened #16634 "[Communication - Chat] test failing in nightly runs"
Communication - Chat nightly test runs are failing with:

    at Serializer.serialize (/mnt/vss/_work/1/s/sdk/core/core-http/src/serializer.ts:131:13)
    at getOperationArgumentValueFromParameterPath (/mnt/vss/_work/1/s/sdk/core/core-http/src/serviceClient.ts:914:18)
    at getOperationArgumentValueFromParameter (/mnt/vss/_work/1/s/sdk/core/core-http/src/serviceClient.ts:866:10)
    at ChatApiCli

[2021-07-29 08:38] v-jiaodi opened #16635 "[Communication - Chat] test failing in nightly runs"
Communication - Chat nightly test runs are failing with:

    at Test.Runnable._timeoutError (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:442:10)
    at Timeout.<anonymous> (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:252:24)
    at listOnTimeout (internal/timers.js:554:17)
    at processTimer

[2021-07-29 08:38] v-jiaodi opened #16636 "[Communication - Chat] test failing in nightly runs"
Communication - Chat nightly test runs are failing with:

    at ClientRequest.<anonymous> (D:\a\_work\1\s\common\temp\node_modules\.pnpm\node-fetch@2.6.1\node_modules\node-fetch\lib\index.js:1461:11)
    at ClientRequest.emit (events.js:314:20)
    at ClientRequest.EventEmitter.emit (domain.js:483:12)
    at TLSSocket.socketErrorListener (_http_client.js:427:9)
    at TLSSocket.emit (events.js:31

[2021-07-29 08:38] v-jiaodi opened #16637 "[Communication - Identity] test failing in nightly runs"
Communication - Identity nightly test runs are failing with:

    at tryParseConnectionString (D:\a\_work\1\s\sdk\communication\communication-common\src\credential\connectionString.ts:25:19)
    at parseConnectionString (D:\a\_work\1\s\sdk\communication\communication-common\src\credential\connectionString.ts:39:34)
    at createRecordedCommunicationIdentityClientWithToken (D:\a\_work\1\s\sdk\commu

[2021-07-29 08:39] v-jiaodi opened #16638 "[Communication - Phone Numbers] test failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/communication/communication-phone-numbers/test/public/lro.search.spec.ts:49:41)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1021178&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1021059&view=resul

[2021-07-29 08:39] v-jiaodi opened #16639 "[Key Vault - Certificates] test failing in nightly runs"
Key Vault - Certificates nightly test runs are failing with:

    at Test.Runnable._timeoutError (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:442:10)
    at Timeout.<anonymous> (/mnt/vss/_work/1/s/common/temp/node_modules/.pnpm/mocha@7.2.0/node_modules/mocha/lib/runnable.js:252:24)
    at listOnTimeout (internal/timers.js:554:17)
    at processT

[2021-07-29 08:39] v-jiaodi opened #16640 "[Monitor - Query] test failing in nightly runs"
Monitor - Query nightly test runs are failing with:

    at checkLogsHaveBeenIngested (D:\a\_work\1\s\sdk\monitor\monitor-query\test\public\logsQueryClient.spec.ts:471:13)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1017790&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1020065&view=results
- https://dev.azure.com

[2021-07-29 08:39] v-jiaodi opened #16641 "[Monitor - Query] test failing in nightly runs"
Monitor - Query nightly test runs are failing with:

    at /mnt/vss/_work/1/s/sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts:224:14
    at Array.map (<anonymous>)
    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts:212:16)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

-

[2021-07-29 08:40] v-jiaodi opened #16642 "[Search Documents] test failing in nightly runs"
Search Documents nightly test runs are failing with:

Parameter name: speller
    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-http\src\policies\deserializationPolicy.ts:266:17)
    at parse.then (D:\a\_work\1\s\sdk\core\core-http\src\policies\deserializationPolicy.ts:171:47)
    at process._tickCallback (internal/process/next_tick.js:68:7)

For more details check here:

- https://dev.azur

[2021-07-29 08:40] v-jiaodi opened #16643 "[Search Documents] test failing in nightly runs"
Search Documents nightly test runs are failing with:

Parameter name: queryType
    at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:266:17)
    at /mnt/vss/_work/1/s/sdk/core/core-http/src/policies/deserializationPolicy.ts:171:47
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at TracingPolicy.sendRequest (/mnt/vss/_wo

[2021-07-29 08:56] qiaozha commented on #16470
Did you change the kind value as azurebot ?

[2021-07-29 14:45] maorleger commented on #16633
Hey Karishma! I assigned 3 test failures to you for metrics advisor - feel free to triage as you see fit 😄 if any are false positives please let me know so I can pass the feedback along. Thanks!

[2021-07-29 14:55] maorleger commented on #16643
Hi @sarangan12 - I believe you own search documents right? I assigned two nightly test failures to you - feel free to triage as you see fit. Thanks!

[2021-07-29 15:06] maorleger commented on #16487
Hey @christopheblin - just wanted to provide a quick update although no definitive answer yet. I've tried remote signing and local verification as well and I am equally stumped; however, I followed up internally with a few folks on the Key Vault service team who might able to provide guidance. My guess is we're (as in you and I in our tests) using the wrong encoding - either for the signature payl

[2021-07-29 16:43] deyaaeldeen opened #16646 "[core-paging] It does not use the api-extractor"
So it does not have a review folder like every other package and the `types` folder is checked in git. This issue is to investigate why this is the case and whether we can make core-paging use the api-extractor.

[2021-07-29 16:55] maorleger commented on #16636
@juancamilor just FYI - we noticed that communication-chat nightly builds are failing. Our vendors create one issue per error type but it might be the same root cause. I'll assign the three communication-chat issues to you as codeowner but feel free to let me know if these are false positives. Thanks in advance!

[2021-07-29 16:58] juancamilor commented on #16636
@maorleger yes, they are. The test code itself is not failing, but we will take a look at the root cause.
FYI @LuChen-Microsoft

[2021-07-29 17:16] chradek opened #16648 "[data-tables] data-tables currently depends on beta version of core-xml"
The `@azure/data-tables` package currently depends on `@azure/core-xml` version 1.0.0-beta.1:
https://github.com/Azure/azure-sdk-for-js/blob/95487e073b1a6e531e9b7fbab4de6a3bf4f3f1d8/sdk/tables/data-tables/package.json#L79-L89

With the exception of core-tracing (for historical reasons), we don't want to depend on beta packages in GA'd libraries.

It looks like `@azure/core-xml` has not published v

[2021-07-29 17:17] praveenkuttappan commented on #16312
I have submitted PR [16621](https://github.com/Azure/azure-sdk-for-js/pull/16621) for this change in post release step. Following is the test pipeline I ran against this PR for template package release.
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1023328&view=logs&j=a8b3ef96-4a4b-559b-f023-10f869b6ec93&t=32eed7bb-af9f-5871-09eb-5ec74f49a120

[2021-07-29 18:09] sarangan12 commented on #16643
@maorleger

Thanks for raising this issue. I am working on it. It needs 2 fixed. I will create the PRs soon and will resolve them. Thanks

[2021-07-29 19:47] ramya-rao-a commented on #15488
@jeffwilcox The fix @richardpark-msft is talking about above is now out in the latest version of the `@azure/service-bus` package since 3 weeks.

If you are still seeing the issue after upgrading to the latest version and can share logs as recommended above, please log a new GitHub issue. Closing this one out as there are no planned next steps here.

Thanks for your patience!

[2021-07-29 19:47] #15488 closed

[2021-07-29 19:59] sadasant opened #16651 "[Aggregate Report] Broken link related to @azure/arm-compute"
File: `sdk/compute/arm-compute/README.md` has 1 broken link:
- https://docs.microsoft.com/javascript/api/@azure/arm-compute

The URI itself doesn’t seem incorrect, but the documentation is missing. What should we do?

[2021-07-29 20:00] sadasant commented on #16651
Closing, I just spotted Harsha’s issue: https://github.com/Azure/azure-sdk-for-js/issues/16556

[2021-07-29 20:00] #16651 closed

[2021-07-29 20:14] danieljurek commented on #16476
This has been fixed in the Docs CI build process.

[2021-07-29 20:14] #16476 closed

[2021-07-29 20:14] danieljurek commented on #16474
This has been fixed in the Docs CI build process.

[2021-07-29 20:14] #16474 closed

[2021-07-29 20:15] danieljurek opened #16653 "Re-add arm-compute and arm-network to docs build"
The underlying issue has been resolved.

[2021-07-29 20:18] #16477 closed

[2021-07-29 20:18] #16495 closed

[2021-07-29 20:33] maorleger commented on #16639
Engaged the service team. They had a perf regression back in June - getting confirmation whether there are any lingering issues that will impact perf

[2021-07-29 21:17] #16232 closed

[2021-07-29 21:41] ramya-rao-a commented on #16303
@danieljurek Any updates here?

[2021-07-29 21:45] witemple-msft commented on #14796
Closing. This is a bigger issue that involves all packages that have migrated to samples v2.

[2021-07-29 21:45] #14796 closed

[2021-07-29 21:58] witemple-msft opened #16656 "[smoke-tests] Smoke tests do not run with samples v2"
With samples v2, we introduced another directory into the samples path, and this has caused most packages (those that migrated to samples v2) to stop running their samples in smoke tests.

- **Old**: `sdk/formrecognizer/ai-form-recognizer/samples/javascript`
- **New**: `sdk/formrecognizer/ai-form-recognizer/samples/v3/javascript`

Notice the included major version number **`v3`**.

Since there cou

[2021-07-29 21:59] witemple-msft commented on #16656
See: https://github.com/Azure/azure-sdk-for-js/issues/14796

[2021-07-29 22:24] maorleger opened #16657 "[dev-tool] check-node-versions fails when using `--node-versions` flag without `--node-version`"
When using only node-versions without node-version you end up with the trailing empty string [here](https://github.com/Azure/azure-sdk-for-js/blob/main/common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts#L272) which causes downstream errors when building docker container names.

[code]

Showing the errors as well, because it's a good hint to what's happening

[code]

[code]

I think th

[2021-07-29 23:45] HarshaNalluru opened #16661 "[check-node-versions] Fails in 5 different ways"
I was releasing app-config and hit all sorts of errors with check-node-versions.

1. Codespaces
`npx dev-tool samples check-node-versions --artifact-path https://bit.ly/2Vj9AEo --node-versions "14,16"` is my command
![image](https://user-images.githubusercontent.com/10452642/127579006-e95085ec-743a-406e-a4eb-a72d7748d4a8.png)

2. I gave up and started using the dev-tool in my local.
![image](https

[2021-07-29 23:51] HarshaNalluru commented on #16614
The last three runs are fine.
![image](https://user-images.githubusercontent.com/10452642/127579582-637de198-2d85-4178-ae84-200d41114f67.png)

https://dev.azure.com/azure-sdk/internal/_build?definitionId=1358&_a=summary
I'm closing this now.
Will get to it if it ever repros again.

[2021-07-29 23:51] #16614 closed

[2021-07-30 00:09] maorleger commented on #16617
Hey @MRayermannMSFT - we appreciate you reaching out about this! I'm sorry to hear about all the disruption. To give you a little bit of history core-tracing relies on OpenTelemetry APIs. Because OpenTelemetry was in preview for so long we had to keep our core-tracing package in preview as well, which has been a source of frustration as (if I understand correctly) we did not expect OTel to stay in

[2021-07-30 00:13] MRayermannMSFT commented on #16617
@maorleger Thanks for the response. It looks like OpenTelemetry GA'd about 2 months ago. So do you have any idea on an ETA for 1.0.0 for core-tracing?

[2021-07-30 01:01] mikeharder commented on #14340
@praveenkuttappan: The perf test projects should be included by default if you are using the Rush selection parameters like `--from` or `--impactedBy`.  The perf test projects are in the Rush project graph, just like the shipping package projects.  You can see this in logs for the "build" job:

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1017086&view=logs&j=3dc8fd7e-4368-5a92-293

[2021-07-30 01:09] ramya-rao-a opened #16663 "Update older autogenerated data plane packages to support credentials from @azure/identity"
Similar to #14922, we have a handful of older data plane packages that are autogenerated

- @azure/applicationinsights-query
- @azure/batch
- @azure/graph
- @azure/loganalytics
- @azure/servicefabric
- @azure/storage-datalake
- All packages under `sdk/cogntivieserrvices` folder other than `@azure/arm-cognitiveservices`

Among these the cognitive services ones do not support AAD auth, and others ex

[2021-07-30 02:12] KarishmaGhiya commented on #16591
Added the fix in this PR - https://github.com/Azure/azure-sdk-for-js/pull/16606/files#diff-8aa12c8ea26880f18219cc56e10d023efb3833cacbcd3ef2c8d72ef6ca71067aR126

[2021-07-30 02:12] #16591 closed

[2021-07-30 04:40] danieljurek commented on #16303
This package does not export anything for which documentation can be generated. Instead of exiting without creating anything type2docfx throws an error because it assumes the presence of something from which to generate documentation.

[2021-07-30 04:54] danieljurek commented on #16310
This error has been replaced with a new error encountered during `npm install` ... However this error only happens when running in the context of the docs CI build. It doesn't happen when running the same `npm install` command directly from a shell.

Failure logs:

[code]

[2021-07-30 05:58] v-jiaodi opened #16666 "Azure Event hubs Samples Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/eventhub/event-hubs/samples/v5/typescript/src/iothubConnectionString.ts#L18), [link2](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/eventhub/event-hubs/samples-dev/iothubConnectionString.ts#L18):
![image](https://user-images.githubusercontent.com/57166602/127616625-c290bf97-2d91-4a03-90d9-d3bcfcb7e511.png)

Reason

[2021-07-30 05:58] v-jiaodi opened #16667 "Azure Web PubSub Samples Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/web-pubsub/web-pubsub/samples/v1/javascript/directMessage.js#L20),[link2](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/web-pubsub/web-pubsub/samples/v1/typescript/src/directMessage.ts#L20),[link3](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/web-pubsub/web-pubsub/samples-dev/directMessage.ts#L20):
![im

[2021-07-30 06:51] christopheblin commented on #16487
Hi @maorleger - thanks for the update ! at least now I have hope 😄

[2021-07-30 08:01] #16298 closed

[2021-07-30 08:01] #16297 closed

[2021-07-30 08:22] YitongFeng-git commented on #16470
Hi, @qiaozha thanks for the updates, but I found if I created an Azure Bot on the portal manually, it will create two resources, it will create a **key vault** with the Azure Bot, but **if using sdk there is no keyvault**, currently I haven't know whether this different behavior matters:
![image](https://user-images.githubusercontent.com/72963627/127623940-7b6e5a92-43f0-4c45-876e-064dc179aaa3.png)

[2021-07-30 10:54] harikapampatti opened #16670 "Failed to fetch the response from Cosmos DB"
- **Package Name**:
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A clear and concise description of what the b

[2021-07-30 16:01] shibayan opened #16673 "Always be set `x-ms-encryption-algorithm` HTTP header in all operations"
- **Package Name**: `@azure/storage-blob`
- **Package Version**: `12.6.0`
- **Operating system**: Ubuntu 20.04 (WSL 2)
- [x] **nodejs**
    - **version**: `v14.17.4`
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**D

[2021-07-30 16:34] zfoster commented on #16670
Hi @harikapampatti, can I see how you create the `rbacClient`? 429 errors are caused by `TooManyRequests` and should be retryable