[2020-12-18 23:47] richardpark-msft commented on #12375
Just an update - I believe @ramya-rao-a is creating an issue for the team that owns the ToC. I'm going to take a look at the some small issues I found in the code docs that we should be able to handle on our own.

[2020-12-18 23:52] richardpark-msft commented on #12815
Just adding in some more context - there is conversation in this issue (#12609) that is discussing what we have and what we're putting in place for long term tests.

[2020-12-19 00:01] sergsalo opened #12979 "Cosmos Bulk Delete Response Status {statusCode: -1, requestCharge: 0}"
@azure/cosmos
3.9.3
NodeJS 12

When Bulk operation is executed next response is returned:

`{statusCode: -1, requestCharge: 0}`

**Expected behavior**
successful status code with a body of deleted item

**Additional context**

My CosmosDB instance doesn't have partitionKey, so I don't pass it.

[code]
docId sample: 'ad159f73-9368-451a-8765-48ebd7772a1e'

[2020-12-19 00:01] richardpark-msft commented on #12375
To keep track of some of the work in-flight:
- https://github.com/MicrosoftDocs/azure-docs/pull/67902
- https://github.com/Azure/azure-sdk-for-js/pull/12977
-

[2020-12-19 00:10] richardpark-msft commented on #12948
Another note @deyaaeldeen - I'm getting 'AbortController' in my docs output, which is in a totally separate package. I note there is a `--excludeExternals` flag for typedoc - should we be using it?

[2020-12-19 00:16] sergsalo commented on #12979
[code]
write - works
read and delete - return statusCode = -1

[2020-12-19 00:38] ramya-rao-a commented on #12385
Closing this issue as we have a separate set of efforts to clean the samples from another team. We will use the findings from https://github.com/Azure/azure-sdk-for-js/issues/12378 as a reference

[2020-12-19 00:38] #12385 closed

[2020-12-19 00:41] chradek commented on #12974
@Gabriel-Santos-de-Menezes
Thanks for creating this issue. Currently, the Azure SDK for JS doesn't support react native. This is something we're investigating, and you can track that effort here:
https://github.com/Azure/azure-sdk-for-js/issues/5771#issuecomment-748340692

There are a few changes we need to make before we can support react native, and we also need to determine what changes to make

[2020-12-19 00:41] #12974 closed

[2020-12-19 02:00] #12375 closed

[2020-12-20 04:32] southpolesteve commented on #12979
Thanks for the detailed repo @sergsalo. We will investigate.

[2020-12-20 18:04] verikono commented on #12855
I apologise for the delayed response to this. Work pulling me left and right at this time.

I've put up a repo for this issue here:
https://github.com/verikono/eventhubs-test

It's a simple mocha test that you can run which shows either my misunderstanding of something or the issue i'm trying to highlight here.

You'll need to create a .env file based off the .env-dev file in the repo root. I left

[2020-12-20 20:05] iqfy-kyle commented on #12910
Thanks Richard.

In case anyone comes across this issue, the above workflow is also noted in the architecture diagram, which i missed https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/appconfig-key-vault#data-flow

[2020-12-20 20:06] mligtenberg opened #12983 "Servicebus SDK Invalid check if is NodeJS"
- **Package Name**: service bus
- **Package Version**: 7.0.0
- **Operating system**: Linux, though this will be an issue on any platform
- [x] **nodejs**
    - **version**: 12.18.2
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.0.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://do

[2020-12-20 21:33] iqfy-kyle commented on #12910
@richardpark-msft Is there a way to retrieve a secret from keyvault by using the uri in the JavaScript sdk? https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-keyvault-secrets/4.1.0/classes/secretclient.html#getsecret seems to only allow a key name, whereas the .NET example you linked uses the uri from what App Configuration returns

[2020-12-21 02:29] enoeden commented on #12711
hi @richardpark-msft

After my brief trial, seems the fix works and thanks a lot for the quick response and help!

[2020-12-21 07:21] ramya-rao-a commented on #12983
Thanks for reporting @mligtenberg

Looks like we did encounter the electron case when we were working on `@azure/event-hubs` and therefore the [isNode definition](https://github.com/Azure/azure-sdk-for-js/blob/https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-amqp/src/util/utils.ts/sdk/core/core-amqp/src/util/utils.ts#L63) in the `@azure/core-amqp` package is similar to your sugg

[2020-12-21 12:42] mligtenberg commented on #12983
So I created a pull request and did some more research. Though this line is wrong and can cause issues, I found that is unrelated to the issue described above. This is because the package.json has replacements defined for browsers.

Because of a mistake in my build process, I actually compiling my library for browsers.

One thing I did notice is that isNode is defined in core-amqp, core-http and c

[2020-12-21 16:13] deyaaeldeen opened #12986 "[Docs] use --excludeExternals in rushx docs command"
Without `--excludeExternals`, `typedoc` includes documentation for TS files outside the package and the goal for `rushx docs` is to document the current package only.

[2020-12-21 16:14] deyaaeldeen commented on #12948
I would say run `rushx lint` and see if the linting report has complains about comments.

That is a good point and it is supported by v0.15.0 that we use. I opened https://github.com/Azure/azure-sdk-for-js/issues/12986.

[2020-12-21 19:19] ramya-rao-a commented on #12983
Thanks for the PR @mligtenberg!

`@azure/core-http` is the base for all our libraries for services that are HTTP based and also the place where we keep the common code for such services.
`@azure/core-amqp` has the common code for Service Bus and Event Hubs services that are AMQP based.
Therefore, we chose to have `isNode` in both places. If we encounter more code that can be shared between the two

[2020-12-21 19:24] #12983 closed

[2020-12-21 19:26] ramya-rao-a commented on #12983
The PR has been merged. You can try out the fix in tomorrow's dev build, say in about 24 hours, which you can install using the `dev`.

The fix will be shipped in the stable build in early January.

[2020-12-21 20:05] willmtemple commented on #12915
PDF is supported, but the content type on the subsequent line must be changed to `"application/pdf"` (or removed). Was this observed with a change to the content type as well? Maybe we should just remove the line from this sample that sets the content type, since we support auto-detection of content type based on file magic.

[2020-12-21 20:47] deyaaeldeen opened #12990 "[Text Analytics] Tests should read env vars only after the recorder package was imported"
Some of our packages relies on the recorder package to read the environment variables needed for testing after the work done in this PR https://github.com/Azure/azure-sdk-for-js/pull/12796. However, some tests read the env vars before they were read by the recorder, e.g. in [text analytics](https://github.com/Azure/azure-sdk-for-js/blob/48e8212d9e5cb39e9bd689150c56c202ab5ece02/sdk/textanalytics/ai

[2020-12-21 23:18] #12365 closed

[2020-12-22 01:20] HarshaNalluru opened #12996 "[Recorder] Indicate the TEST_MODE while the running the tests"
Show the TEST_MODE while running the tests, which could be done as part of the test title.

[2020-12-22 01:22] maorleger opened #12997 "[@azure/storage-blob] Top level error fields missing data"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.3.0
- **Operating system**:
- [x] **nodejs**
    - **version**: 14.15.1
- [x] **typescript**
    - **version**: 4.1.3

**Describe the bug**

When encountering a rest error, specifically in my case an error downloading a non-existing blob, I noticed the following top-level fields missing:
- code (undefined)
- message (empty string)

[2020-12-22 01:36] zzhxiaofeng opened #12998 "Azure Synapse Access Control Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/synapse/synapse-access-control#examples)
![Screenshot 2020-12-17 164308](https://user-images.githubusercontent.com/20970631/102838367-f6899080-4438-11eb-902b-b14c8e71169a.png)
Suggestion:
Update to `mysynapse`

@jongio for notification.

[2020-12-22 03:03] zzhxiaofeng commented on #12915
@willmtemple Yes, I agree with you and update the issue.

[2020-12-22 03:43] ljian3377 commented on #12939
Use `uploadData` instead.

[2020-12-22 06:30] ljian3377 opened #12999 "[storage][test] Fix CI warning for changefeed"
[code]

[2020-12-22 07:08] #12372 closed

[2020-12-22 07:24] qiaozha commented on #12900
@psmanhas Please let us know if you need more help. Thanks.

[2020-12-22 12:49] ajmeraaxesh opened #13001 "Need help accessing existing certificate"
I have created my own certificate  which was initially in PEM format and uploaded PKCS12 version of the  file.

I am using **getCertificateVersion**  API to access the certificate.

The question is how do I reconvert this into ".pfx" or ".p12" file.

I am using the code exactly like
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-certificates/README.md#getting-a-key-vau

[2020-12-22 16:45] chradek commented on #12855
@verikono
I'm not seeing a delay between when you call subscribe and when you call sendBatch (createBatch will cause a slight delay but not a very long one.)

So, I believe you're still seeing the issue where you send an event before subscribe has had a chance to begin reading events. You could try putting a timed delay in, or wait for `processEvents` to be invoked once before moving on to your ne

[2020-12-22 17:46] #12990 closed

[2020-12-22 18:04] ramya-rao-a commented on #12997
That is good feedback @maorleger

@ljian3377 If I recall correctly, we had another issue tracking this request right? What was our conclusion here?

[2020-12-22 18:21] #12366 closed

[2020-12-22 18:43] jonathandturner commented on #13001
@ajmeraaxesh - In the section below the one you link, there's a code example with saving the certificate to a ".p12". That might be close to what you're looking for:

https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-certificates/README.md#getting-the-full-information-of-a-certificate

[2020-12-22 19:09] ramya-rao-a commented on #12387
The numbers being reported as expected for node tests
#12936 tracks the request to have the repost for browser tests as well

[2020-12-22 19:09] #12387 closed

[2020-12-22 19:10] ramya-rao-a commented on #12935
@HarshaNalluru, Lets log individual issues for the general, package agnostic follow up items in this issue  and then close this one

[2020-12-22 19:10] ramya-rao-a commented on #12386
Being tracked in #12935

[2020-12-22 19:14] ramya-rao-a commented on #12386
Tables is the last one remaining at this point
@HarshaNalluru, please close this issue once #12976 is merged

[2020-12-22 20:13] deyaaeldeen opened #13005 "[Tests] Move all our mocha test suites to use old functions instead of arrow functions"
This is advised by mocha team (see https://mochajs.org/#arrow-functions) and can cause issues that are hard to debug. It was a primary reason for failures in https://github.com/Azure/azure-sdk-for-js/issues/12819.

[2020-12-22 23:33] willmtemple opened #13007 "[samples] Unify smoke-tests and live samples skip lists"
Something that will go a long way towards making the samples and smoke-tests systems work better together will be to make them use the same configuration for deciding when to skip running a sample (CC @richardpark-msft ). Currently, smoke tests use a metadata field in `package.json`, and live samples rely on a hacky convention where they need to exit with a 0 status. For example, in the storage sa

[2020-12-23 00:14] #12364 closed

[2020-12-23 01:11] #12819 closed

[2020-12-23 06:50] ljian3377 commented on #12997
We fixed a related issue https://github.com/Azure/azure-sdk-for-js/issues/6927 in 12.3.0.
With my test, `err.message` is  "Unexpected status code: 404".
For `BlobNotFound`, the `err.details.code` and `err.details.message` haven't been properly set, not to mention being extract to the top level.

@jeremymeng The issue is the body is in the readableStreamBody even in the error case for download and

[2020-12-23 16:28] ajmeraaxesh commented on #13001
@jonathandturner  I did see that code. But that does presume that the key is already create by the KeyVault when creating a certificate. Which is not applicable in my case.

I have already uploaded an existing certificate which is very different from the above example. Would appreciate if any example of uploading an existing certificate and retrieving is shown in examples

[2020-12-23 19:39] jonathandturner commented on #13001
@ajmeraaxesh - once you import a certificate into Azure KeyVault, then it's assumed you'll use the certificate from inside of Azure. There isn't a way to export it back out. This is why you may choose to store it as a secret as well (there's an example in the link I sent), if you want to put it somewhere that you can later retrieve.

[2020-12-23 20:23] chradek commented on #12917
@JosueJoshua
Can you open up your browser's developer tools (typically accessed by pressing F12 in your browser) and check the `console` tab to see if an error is logged?

Did you replace the values in https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-hubs/samples/browserSample/src/configuration.js with valid ones?

[2020-12-23 22:18] #12986 closed

[2020-12-23 22:24] ramya-rao-a commented on #12986
Hmm... I may have prematurely merged #12987
See #5205. Looks like disbaling excludeExternals was intentional to enable us to jump to types from external packages in our docs in azure.github.io/azure-sdk-for-js

But the pipeline that generates docs for docs.microsoft.com/javascript/api does not allow the jumps to other packages. Assuming that the main purpose of the `docs` script is to show how doc

[2020-12-23 22:26] #12373 closed

[2020-12-23 22:28] ramya-rao-a commented on #12052
This should be fixed now with #12800

[2020-12-23 22:28] #12052 closed

[2020-12-23 22:55] #11069 closed

[2020-12-23 22:57] deyaaeldeen commented on #12986
@ramya-rao-a I agree merging #12987 is fine. `rushx docs` output is intended to be consumed by the corresponding package maintainer only and the goal is to help them write better documentation for their package only and there is no need to add more stuff for them to review.

[2020-12-23 23:06] ramya-rao-a commented on #12360
The first release of the Synapse packages to support the new Azure Synapse Analytics service is out

The packages released under the Synapse name are as follow:

- Azure Synapse Access Control: [@azure/synapse-access-control](https://www.npmjs.com/package/@azure/synapse-access-control/v/1.0.0-beta.1)
- Azure Synapse Artifacts: [@azure/synapse-artifacts](https://www.npmjs.com/package/@azure/synapse

[2020-12-23 23:06] #12360 closed

[2020-12-23 23:36] ramya-rao-a commented on #6190
Done with #12599

[2020-12-23 23:36] #6190 closed

[2020-12-23 23:44] ramya-rao-a opened #13019 "API reference docs missing for event-processor-host package"
https://docs.microsoft.com/en-us/javascript/api/overview/azure/eventhubs?view=azure-node-legacy is the landing page for Event Hubs in the "legacy" moniker.

It currently shows ref docs for `@azure/event-hubs` v2
Since we now have v5 of the same package under the "latest" moniker, we do not need to have the same package listed under "legacy". Instead, we should be having ref docs for `@azure/event-

[2020-12-24 00:07] ramya-rao-a commented on #11376
So, are we saying that all that is pending to do is to add the below?

[code]

[2020-12-24 00:10] HarshaNalluru commented on #11376
That should be enough @ramya-rao-a

[2020-12-24 02:51] JosueJoshua commented on #12917
Hi @chradek , it's nothing in the console. And the values is valid.
When I click the `send` botton, it will pop up a new web page with id_token in its url, which wiil not be closed automatically.

[2020-12-24 10:22] DVGY opened #13024 "How to access the blob name in function.json output bindings path key of a particular blob which triggered event grid"
I was referred to this repo by a official member.
[code]
I want to access the current filename (blob name on which function is being processed) on key "path": "container/{filename}"
suppose the file name is test.jpg so the container container should also store test.jpg.

Note: I have two different container. I am getting input from one container and want to store the processed blob with same filen

[2020-12-24 19:53] HarshaNalluru commented on #12394
https://github.com/Azure/azure-sdk-for-js/pull/12737
https://github.com/Azure/azure-sdk-for-js/pull/12746
https://github.com/Azure/azure-sdk-for-js/pull/12746
https://github.com/Azure/azure-sdk-for-js/pull/12993

[2020-12-28 02:53] ljian3377 commented on #13024
I am not familiar with the context of event grid. Could you rephrase your question? I don't understand what you were asking.

[2020-12-28 03:52] DVGY commented on #13024
So when a blob is created it triggers a blob created event and I receive my image as in input to the function.
This snippet make it's possible. This code gives recently uploaded image in binary format as an argument to function
[code]
Notice the path key it takes the value of url of blob.
Q1. What really happens when we write path:{data.url}? How data.url is made available inside ` "name": "inputB

[2020-12-28 06:11] ljian3377 commented on #13024
As for how to extract the blobName from a blob URI, you can refer to this internal utility function.
https://github.com/Azure/azure-sdk-for-js/blob/1a9d083abe4e878df475d01b0d441445c88b6064/sdk/storage/storage-blob/src/Clients.ts#L2411

For a standard blob URL like "https://myaccount.blob.core.windows.net/containername/blob", the URL path is "/containername/blob", [containername](https://docs.micro

[2020-12-28 06:19] DVGY commented on #13024
I think you missed my point. I am not using any library methods. I want to know how to dynamically pass blobName in function.json settings

In the code below I am using `context.bindings.outputBlob = inputBlob` to directly upload the blob using bindings settings in function.json
[code]

[code]

[2020-12-28 06:23] ljian3377 commented on #13024
@ramya-rao-a  Do we have any support team on the event grid?

I don't have the context to answer the question.

[2020-12-29 00:30] ramya-rao-a commented on #13024
Hey @DVGY

Thanks for the clarification and your patience

This repository is for the JavaScript libraries for different Azure services. Your question is more on the side of working with bindings in Azure functions. Based on [this pointer for reporting issues](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#reporting-issues), it looks like the right place for you to log

[2020-12-29 00:30] #13024 closed

[2020-12-29 07:10] DVGY commented on #13024
I was referred here by this member : https://github.com/Azure/azure-storage-node/issues/666

[2020-12-29 07:20] ramya-rao-a commented on #13024
Thanks @DVGY

@jiacfan fyi, please see https://github.com/Azure/azure-sdk-for-js/issues/13024#issuecomment-751905247

[2020-12-30 03:03] zzhxiaofeng opened #13033 "It will return an error when use storage service with Azurite secondary endpoint to perform getStatistics method"
**Error Description:**
When use storage service(blob/queue/table) with Azurite secondary endpoint to perform  getStatistics method, it will return an error as following:
![Screenshot 2020-12-29 153746](https://user-images.githubusercontent.com/20970631/103326350-ef8efd80-4a8a-11eb-8ee4-84138dd631dc.png)

**To Reproduce:**
Please run the demo code as following:
[code]

**Error Track:**
The reason i

[2020-12-30 13:15] asadm2706 opened #13034 "Scheduling Messages to Azure Service Bus is not working on some machines/environments."
- **Package Name**: "@azure/service-bus"
- **Package Version**: "1.1.10" AND "7.0.0"
- **Operating system**: Linux
- [&checkmark;] **nodejs**
    - **version**: "10.16.0"
- [&checkmark; ] **typescript**
    - **version**: "3.9.2"

**Describe The Bug**
Using the same "@azure/service-bus" version "1.1.10" or "7.0.0" for sending/scheduling and receiving messages, while scheduling messages seem to wor

[2020-12-30 23:14] HarshaNalluru commented on #13034
Thanks for reporting, @asadm2706.

As you have mentioned that this fails only in certain environments, it doesn't sound like an SDK issue. We are working with the service team for more insights.
While that is ongoing, can you let us know how your staging environment is different from the production environment? This might help us with simulating the issue.

### Questions
Answer these questions for

[2020-12-31 04:18] HarshaNalluru commented on #13034
Created a repo for the samples to show the migration https://github.com/HarshaNalluru/service-bus-nullref-schedule-msg.

To clear any confusion w.r.t migration, please check these schedule message samples that would result in the same kind of message(particularly - message.body) when received using the Service Bus Explorer in the portal.

- A sample using `@azure/service-bus` - version 1.1.10 base

[2020-12-31 08:00] #12642 closed

[2020-12-31 14:15] RomanDvorsky opened #13036 "RestError: AKV10032: Invalid issuer"
- **Package Name**: @azure/keyvault-secrets, @azure/identity
- **Package Version**: ^4.1.0, ^1.2.0
- **Operating system**: windows 10
- [ ] **nodejs**
    - **version**: 14.15.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 3.9.6
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.

[2021-01-01 04:02] deyaaeldeen commented on #4817
Closing this in favor of https://github.com/Azure/azure-sdk-for-js/issues/12745

[2021-01-01 04:02] #4817 closed

[2021-01-01 18:49] bendavis78 commented on #12900
I'm having trouble finding any documentation at all for managing container instances with the new javascript SDK. What modules do I need to install, and where is the module documentation?

[2021-01-01 21:59] bendavis78 opened #13041 "Examples in @azure/arm-containerinstance do not work as advertized"
- **Package Name**: @azure/arm-containerinstance
- **Package Version**: 6.0.0
- **nodejs version**:  12

In the package's README, it gives the following example:

[code]

Running this code results in the following error:
[code]

I have to change the import statement to the following:
[code]

Once that's fixed, you'll get the following error:
[code]
The `msRestNodeAuth` import statement should read

[2021-01-03 03:39] ramya-rao-a commented on #13041
Thanks for reporting @bendavis78

Can you share some more details on your set up? The example in the package readme is in TypeScript. Did you run it in JavaScript file or a Typescript file? How did you run the code? If you have a tsconfig.json file in your folder, can you share its contents?

[2021-01-04 02:08] qiaozha commented on #12900
https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/containerinstance/arm-containerinstance#how-to-use hope this helps.

[2021-01-04 10:01] tudor33sud commented on #12825
While I tried implementing a POC for this issue, I noticed that the continuation token error occurs while using a webserver to receive continuationTokens from clients. Unfortunately, it seems that when using web server (Express JS), while client sends continuationToken inside a query param, the value gets cut off probably because of special characters used inside the token.

Steps to close this is

[2021-01-04 17:44] jeremymeng commented on #11550
@bgcc93 `@azure\storage-file-datalake` and many of our SDK client libraries depend on `@azure\core-tracing` which in turn depends on `@opentelemetry/api`. You are not missing any peer dependency.

[2021-01-04 18:44] joheredi commented on #12973
Thanks @KarishmaGhiya, I don't think there is a reason for running integration test as part of unit-test, that was probably a bug. Thanks for taking care of it and enabling code coverage 😄

[2021-01-04 18:45] ramya-rao-a commented on #11555
@zolvarga I see that the PR #11556 is merged, but the fix has not been released yet. What are the plans for the release here?

[2021-01-04 18:50] ramya-rao-a commented on #10331
Hey @areddish,

This package had an update in Nov 2020 with the changes from #12427. Did we get the error message updated as part of this release?

[2021-01-04 19:05] jeremymeng opened #13044 "[Test-utils, multi-version] add environment variable to disable multi-version testing"
The live test running time will be multiplied by the # of service versions to test.  We have seen Storage .NET tests timed out when testing multiple service versions.   This tracks controlling multi-version testing via an environment variables so we can enable it only for weekly runs if we choose to.

[2021-01-04 19:17] #12973 closed

[2021-01-04 19:21] sarangan12 commented on #12962
I agree if you change it to

[code]

it will be type safe. But, there is nothing in the swagger that says the ```propertyName``` is actually a keyof T. Technically, the server can send anything. Even in .NET SDK, they use a similar definition like us. Refer this [link](https://github.com/Azure/azure-sdk-for-net/blob/fcf2d56a939fa7bb00adc8950fb09ddebb7ec3f0/sdk/search/Azure.Search.Documents/src/Mod

[2021-01-04 19:43] chradek commented on #12330
Apologies for the delayed response here. I reached out to the service team to let them know the page on roles could use some clarification so am closing the issue here on our side.

[This comment](https://github.com/Azure/azure-sdk-for-js/issues/12330#issuecomment-728823175) summarizes the access behavior working in the portal vs the API very well.

[2021-01-04 19:43] #12330 closed

[2021-01-04 19:46] xirzec commented on #12962
Looking at the REST docs here: https://docs.microsoft.com/en-us/rest/api/searchservice/search-documents#response

It does seem to imply that highlights are always keyed by field names:

[code]

So there's at least some evidence that this is how the server thinks about it. I'm not sure if that's strong enough to make it a contract though. @brjohnstmsft do you have any thoughts here?

[2021-01-04 19:52] joheredi commented on #12053
Thanks for reporting the issue and contributing with a fix! Closing this issue as the fix has been merged

[2021-01-04 19:52] #12053 closed

[2021-01-04 19:54] joheredi commented on #12914
Thanks for bringing this up! I'll get these fixed soon!

[2021-01-04 19:57] NoelAbrahams commented on #12962
A neat summary of everything that is wrong with relying on third-parties 🎉 😄

[2021-01-04 20:45] chradek commented on #12917
@JosueJoshua

Are you referring to the login page here? If you look at the networking tab in your browser's dev tools, what errors are you getting from the requests?

[2021-01-04 21:36] brjohnstmsft commented on #12962
@xirzec The proposed typing would match the intent of the `@search.highlights` body. My only concerns are:
  1. How this might break in the presence of bugs, either on the client or server side.
  2. Whether this would version cleanly if we add new properties to the response payload.

The actual payload returned by the server puts `@search.highlights` and `@search.score` as peers of the keys of ty

[2021-01-04 21:55] #12386 closed

[2021-01-04 22:25] chradek commented on #12371
As of today, this task is complete!

[2021-01-04 22:25] #12371 closed

[2021-01-04 22:25] HarshaNalluru opened #13047 "[Service Bus] Operation timeout error thrown caused the stress test app to break"
The stress test ran fine for a long period and abruptly ended as the OperationTimeoutError was thrown.

I think this was the cause https://github.com/Azure/azure-sdk-for-js/blob/309a14b6ecce12cfcfb66e88028ccd64af52377c/sdk/core/core-amqp/src/requestResponseLink.ts#L166

@richardpark-msft @chradek @ramya-rao-a

[2021-01-04 22:30] HarshaNalluru opened #13048 "[Service Bus] TypeError: sendRequest of undefined"
Occurred in a certain long-running streaming receiver test in peeklock mode where the messages are sent every hour.

I believe this was the cause
https://github.com/Azure/azure-sdk-for-js/blob/309a14b6ecce12cfcfb66e88028ccd64af52377c/sdk/core/core-amqp/src/cbs.ts#L204

TODO: remove exclamation and follow up with a fix by handling the undefined case

@chradek @richardpark-msft @ramya-rao-a

[2021-01-04 22:36] HarshaNalluru opened #13049 "[Service Bus] Empty SpanContexts when batching messages"
This screenshot is from the logs from a stress test where we see the empty span contexts when batching messages since tracing is not enabled.

<img src="https://user-images.githubusercontent.com/10452642/103586413-e1c9e580-4e99-11eb-968e-11fa421f12c2.png" height=500>

TODO: To improve it such that we don't add the _spanContexts when tracing isn't enabled.
@chradek @richardpark-msft @ramya-rao-a

[2021-01-04 22:46] HarshaNalluru opened #13050 "[Service Bus] Simplify verbose ReceivedMessage logs in the debug logs"
More often, the users don't care about each and every detail of the message. This issue is to improve the contents of the message logs from debug logs so that it doesn't consume a lot of space.

### Ideas
- Add a new level of logging? By default, print only a few fields in the logs
- Remove the unnecessary details

<details>
<summary><b>Toggle me for the example verbose logs of the received messag

[2021-01-04 22:51] HarshaNalluru opened #13051 "[Service Bus] Improve logging - Lock renewal info"
This screenshot is from the logs from a stress test where we see 6-7 lines of logging for a renew lock operation.

![image](https://user-images.githubusercontent.com/10452642/103587402-07f08500-4e9c-11eb-84f7-8d2e9372af6b.png)

Can be improved by collapsing to a single line by adding relevant info.

[2021-01-04 22:57] HarshaNalluru opened #13052 "[Service Bus (potentially EH)] Check if we're always passing in the abortSignal to retry<> and the underlying operation"
Check if we missed passing abortSignal in the core-amqp retry logic and add if it is required.
https://github.com/Azure/azure-sdk-for-js/blob/309a14b6ecce12cfcfb66e88028ccd64af52377c/sdk/core/core-amqp/src/retry.ts#L185

@richardpark-msft @chradek @ramya-rao-a

[2021-01-04 23:14] sadasant commented on #13036
@RomanDvorsky

Hi Roman! I'll be doing my best to help you.

When you say that, what do you mean?

The error shows a list of issuers, do you see your tenant in that list of issuers?

[2021-01-04 23:17] areddish commented on #12873
The list in the package is the minimum supported list, and is not exhaustive for all Flavors that may be passed into the system. To use `TensorFlowJs` in TypeScript you'll need to cast it:

`const options: TrainingAPIClientExportIterationOptionalParams = {flavor: 'TensorFlowJs' as Flavor};`
or
`const options: TrainingAPIClientExportIterationOptionalParams = {flavor: <Flavor>'TensorFlowJs' };`

[2021-01-04 23:30] ramya-rao-a commented on #13052
The [operation() in the retry config](https://github.com/Azure/azure-sdk-for-js/blob/309a14b6ecce12cfcfb66e88028ccd64af52377c/sdk/core/core-amqp/src/retry.ts#L93) is a parameter less function intentionally because the retry function is agnostic to what the operation method needs. The abort signal is passed to `retry()` for the purpose of cancelling retries if the abort signal was fired. The same a

[2021-01-04 23:31] ramya-rao-a commented on #13049
@HarshaNalluru Can you check if the same happens in Event Hubs as well?

[2021-01-04 23:35] sadasant commented on #12705
@emcveigh

Hello again! (Happy New Year 2021)!

I have some good news that could help you considerably. Would you mind trying the following and monitoring your system to see if the problem keeps appearing?

Steps:

- Make sure to remove your package-lock.json and your node_modules folder (if they happen to be there where this gets executed).
- Add `@azure/core-http` to your dependencies on your `p

[2021-01-05 00:34] ellismg opened #13053 "[Feature][core-auth] Add AzureSasCredential"
In https://github.com/Azure/azure-sdk/issues/1954 we decided to add a credential type for services that authenticate access via Shared Access Signature instead of each service having to implement it's own type (similar to what we have done for AzureKeyCredential).

Based on the discussion in the arch board coupled with how AzureKeyCredential is designed today (where we have both an interface an a

[2021-01-05 00:38] maorleger commented on #12967
I spent some time investigating options for this.

Conversation with @sadasant: From the KeyVault team it didn't sound like there were any strong objections to enable CORS in KV, it's mostly a matter of competing priorities and resources. Working on that assumption, I have these options:

### Lightweight server / proxy layer

This seems to be the most common solution to integrate with APIs that do

[2021-01-05 00:40] ellismg opened #13054 "[EventGrid] Replace EventGridSharedAccessSignatureCredential with AzureSasCredential"
Once https://github.com/Azure/azure-sdk-for-js/issues/13053 lands, we should adopt it in the EventGrid SDK and removed our own type we added for Shared Access Signature authentication.  We will want to do this before GA, as removal of the credential type will be a breaking change.

[2021-01-05 01:57] #12948 closed

[2021-01-05 06:20] RomanDvorsky commented on #13036
Hi, this was just an observation - I have no clue what is going on behind.

What I want to say that in my account I do have few tenants but none of those tenants match any of the listed issuers - no idea whether this can be related.

anyway, any idea what can be wrong, there? or whether I should try anything?

thx a lot,
Roman

[2021-01-05 07:17] qiaozha commented on #13041
@colawwj  Can you take a look at this issue? Thanks

[2021-01-05 08:31] JosueJoshua commented on #12917
@chradek
Yes, it's successful in login, then go to the reference page(localhost:8080, the content is the same as original page). One of the requests returned a status code of 101, as shown below:
Request URL: wss://my-eventhub-name.servicebus.windows.net/$servicebus/websocket
Request Method: GET
Status Code: 101 Switching Protocols

And others is all right.

[2021-01-05 09:15] marty2bell opened #13061 "Support setting of correlationId on Key Vault Operations"
**Is your feature request related to a problem? Please describe.**

For debugging issues with KeyVault operations, being able to directly correlate application logs with keyvault logs would be extremely valuable.  Key Vault does support a correlationId in it's diagnostic logs, but there doesn't seem to be any way to pass this through via the SDK.

**Describe the solution you'd like**

Support the

[2021-01-05 13:37] mnaeem95 opened #13063 "Correlation topic filter stopped working after upgrading the `@azure/service-bus` package version to `7.0.0`"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.0.0
- **Operating system**: Ubuntu 18.10
- [x] **nodejs**
    - **version**: v12.18.3
- [x] **typescript**
    - **version**: 3.4.5

**Describe the bug**
We have started working on updating our Azure Service Bus common wrapper implementation according to the migration guide for v7 and facing a strange issue where the correlation topic

[2021-01-05 13:43] mnaeem95 commented on #13063
@ramya-rao-a @richardpark-msft  Any help you can provide would be greatly appreciated. Thanks

[2021-01-05 18:22] HarshaNalluru commented on #13063
Thanks for reporting, @mnaeem95!

I was able to repro the issue, I'll get back once I investigate further.

[2021-01-05 19:22] jeremymeng commented on #12672
Storage has its own retry policy and not using retry policies from core-http. So need to change Storage behavior. In addition, the order of the two policy would need to be reversed in order for the retry policy to retry on the PARSE_ERROR from the deserialization policy

https://github.com/Azure/azure-sdk-for-js/blob/0b18dd62f8fb415d4690edee7e9b6b8ca6bcb769/sdk/storage/storage-blob/src/Pipeline.ts

[2021-01-05 19:26] jeremymeng commented on #12672
Or we could add another retry policy specific to this error, after deserialization.

[2021-01-05 20:01] joheredi commented on #12667
@AdamMachera thanks for reaching out. The way you can achieve this is by querying the table and setting the maximum number of items per page to N and just retrieving the first page. Something like this:

[code]

I hope this helps, please let me know if you have any questions

[2021-01-05 20:01] sadasant commented on #13036
@RomanDvorsky

Hello again! Let's see how we can dig through and solve this.

`DefaultAzureCredential` may be using an authentication method related to a different account or subscription based on the environment where you're executing this code. To narrow down the possible issues, let's use a different credential!

Let's try with `ClientSecretCredential`, where you can pass a tenant ID (subscript

[2021-01-05 22:03] sadasant commented on #13061
@marty2bell Hello! I'm Daniel, I'll be doing my best to help you.

I am currently studying what are the options to give you a proper reply. I'll be back as soon as I have something concrete.

[2021-01-05 22:20] chradek commented on #12812
The next tag has been removed. Verified by running `npm install --save @azure/event-hubs@next`.

It may take some time for the npm website to reflect these changes.

[2021-01-05 22:20] #12812 closed

[2021-01-05 23:15] #12730 closed

[2021-01-05 23:26] jeremymeng opened #13077 "[Test, recorder] date issue in record/playback possibly related to daytime saving"
storage test has this
[code]
when daytime saving changes between `now` and `tmr`.  The playback test could fail time zones that are different than the one in which recording is done.

The recording `storage-blob\recordings\node\generation_for_user_delegation_sas_nodejs_only\recording_sas_permission_m_e_for_blob_should_work.js` is done in China timezone which doesn't have day-time saving. we have i

[2021-01-05 23:28] jeremymeng commented on #13077
Not sure whether it's something we want to fix.  Test authors can workaround by avoiding the days when daytime saving changes, or use explicit UTC dates.

[2021-01-05 23:56] chradek commented on #12804
I started looking at the test failures today. The good news is there were no failures over the last 14 days (Passed 4/4 runs.)
There were 4 pipeline failures when looking back 30 days (Passed 12/16 runs.)

These failures were attributed to the following tests:
- __3/64 failures__: [EPH multiple should be able to run multiple eph successfully.](https://github.com/Azure/azure-sdk-for-js/blob/86f9d2e

[2021-01-06 00:16] danieljurek opened #13078 "Add spell checking to Analyze job"
Plan --
1.	Put the calling of “npx cspell…”directly into aggregate-reports pipeline (pretty much as it’s done now, maybe with a link to the wiki in the case of a non-zero exit code and continueOnError: true)
2.	Add this as an opt-in switch to Export-Api.ps1 – npx (which comes for free when installing nodejs) is required so we’ll check for its presence and throw an error if it’s not available (like

[2021-01-06 00:24] jeremymeng commented on #12672
Opened PR #13076

[2021-01-06 00:29] #12612 closed

[2021-01-06 01:03] nikithauc opened #13080 "Support for Authorization Code Flow with PKCE."
https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-00
https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-third-party-cookies-spas

I am working on an implementation in the @microsoftgraph/msgraph-sdk-javascript, which uses the @azure/identity `TokenCredential` feature. An example use case is that a user must be able to pass a `authorizationCodeCredential ` for a

[2021-01-06 01:05] seanknox commented on #12565
@sadasant thanks for the explainer, I've been wondering the differences for awhile! What is the recommendation for providing browser-based authentication (e.g. for webapps needing a credential)? `@azure/identity` has a browser method that works well, but the package is only supported by a small number of Azure service libraries. I'm using `@azure/arm-resources` and `@azure/arm-compute` which requi

[2021-01-06 01:12] HarshaNalluru commented on #13063
https://github.com/Azure/azure-sdk-for-js/pull/13069 should fix the bug.
This fix will be part of the next release.

In the meantime, I'll share the dev version for you to try out the fix once the PR is merged.

[2021-01-06 01:29] ramya-rao-a opened #13082 "parameter name changed to includeTotalCount"
Original issue: https://github.com/MicrosoftDocs/azure-docs-sdk-node/issues/856 and https://github.com/MicrosoftDocs/azure-docs-sdk-node/issues/918 for [the landing page for search package in API ref docs](https://docs.microsoft.com/en-us/javascript/api/overview/azure/search-documents-readme?view=azure-node-latest)

By @johnpbaldwin:

By @dereklegenzoff

[2021-01-06 01:30] ramya-rao-a commented on #13082
@sarangan12 The source of this page is https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/search/search-documents/readme.md which populates the https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/search-documents-readme.md on each release of the package. So, please check the readme

[2021-01-06 01:35] ramya-rao-a opened #13083 "Lack of administratorType property in SqlManagementModels.ServerAzureADAdministrator"
Original issue: https://github.com/MicrosoftDocs/azure-docs-sdk-node/issues/998

By @xzf0587

[2021-01-06 01:57] #11495 closed

[2021-01-06 02:09] sarangan12 commented on #13082
The Docs [page](https://docs.microsoft.com/en-us/javascript/api/overview/azure/search-documents-readme?view=azure-node-latest) mentions ```includeTotalResultCount``` which is incorrect. But, the master [readme](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/search/search-documents/README.md#pagination) file  has already changed this value to ```includeTotalCount```.

This change has hap

[2021-01-06 02:51] ramya-rao-a commented on #12565
@seanknox You can use the [@azure/ms-rest-browserauth](http://npmjs.com/package/@azure/ms-rest-browserauth) package when working with `@azure/arm-resources` and `@azure/arm-compute` packages for authentication needs in the browser. The readmes on these packages should have a code snippet that shows this:
- [Code snippet in readme for compute](https://www.npmjs.com/package/@azure/arm-compute#browse

[2021-01-06 03:00] #9714 closed

[2021-01-06 04:03] mnaeem95 commented on #13063
@HarshaNalluru Thanks a lot for the quick response. Please do let me when this PR gets merged. Thanks

[2021-01-06 05:50] #12813 closed

[2021-01-06 06:50] shagidelic commented on #13063
@HarshaNalluru thanks for the update. Can you kindly share the date of the next release?  We need it to update our plans accordingly.

[2021-01-06 07:37] XiaoningLiu commented on #13033
@zzhxiaofeng According to https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key#constructing-the-canonicalized-resource-string

`
If your storage account is replicated with read-access geo-replication (RA-GRS), and you are accessing a resource in the secondary location, do not include the –secondary designation in the CanonicalizedResource string. The resource URI use

[2021-01-06 08:17] HarshaNalluru commented on #13063
@shagidelic We intend to have the release early next week.

[2021-01-06 08:36] zzhxiaofeng opened #13085 "It lacks the test that use the storage table service with secondary endpoint to perform getStatistics operation"
It need to add the test that use the storage table service with secondary endpoint to perform getStatistics operation in [https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/tables/data-tables/test/integration/tableserviceclient.spec.ts](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/tables/data-tables/test/integration/tableserviceclient.spec.ts)

@jongio for notification.

[2021-01-06 11:56] compulim opened #13088 "@azure/identity is using vulnerable version of axios@0.20.0 with high severity"
- **Package Name**: `@azure/identity`
- **Package Version**: `1.2.0`
- **Operating system**:
- [x] **nodejs**
    - **version**: `14.10.1`
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

`axios@0

[2021-01-06 16:11] RomanDvorsky commented on #13036
Hi,

I did give a try the device code credential l and have this error message - but still do not get what I do wrong..

keyvault details:
![kvDetails](https://user-images.githubusercontent.com/36188474/103790293-4d9a8280-5041-11eb-9f3c-9eeb9ee67b16.png)
the assigned application (permissions are get and list):
![keyvault](https://user-images.githubusercontent.com/36188474/103790299-4e331900-5041-1

[2021-01-06 17:09] sadasant commented on #12967
That was awesome! Thank you, Maor!

[2021-01-06 17:21] sadasant commented on #13036
@RomanDvorsky

Thank you so much for your answer! I'll be back as soon as possible. Based on all you've shared so far, I'll be trying different things on my side to build up an answer.

[2021-01-06 17:29] ramya-rao-a commented on #13088
Thanks for reporting @compulim

cc @jonathandturner

[2021-01-06 17:34] ptc-snarain commented on #12873
Understandable. `TensorFlowJs` is just an example. This ticket to figure out what names are being used for all other flavors, particularly - `TensorFlow Lite Float16` and `CoreML Float16`.  Should we just assume pascal naming conventions?

[2021-01-06 17:58] MRayermannMSFT commented on #12813
Thanks for the fast resolution @ljian3377 !

[2021-01-06 18:24] jonathandturner commented on #13080
Thank you for the feature request.

We currently have this on our backlog of features to implement. We don't yet have a timeline for when it will be implemented, but once we do we'll add more information to this issue.

[2021-01-06 18:52] sergsalo commented on #11633
that's exactly the behavior I see. I receive messages in a loop to drain the queue, but call to receive messages just hangs after ~2000 messages received

`  const messages = await alarmQueueReceiver.receiveMessages(500); `

any workaround?

[2021-01-06 21:53] richardpark-msft opened #13093 "[service-bus] See if there are good cases for `receiveAndDelete` to return messages rather than throw"
With `receiveAndDelete`, if messages have been received by the client and have not yet been delivered to the user then those messages are effectively lost. To prevent this we have a few spots where we check the receive mode and `resolve`, rather than `reject` ([example](https://github.com/Azure/azure-sdk-for-js/blob/cd97a786e858f3166b612ccae450082479f7a600/sdk/servicebus/service-bus/src/core/batch

[2021-01-06 21:59] richardpark-msft opened #13094 "[service-bus] Test and remove old code paths that avoided 'drain'"
There is a code path currently that attempts to avoid draining when in receiveAndDelete mode ([code](https://github.com/Azure/azure-sdk-for-js/blob/cd97a786e858f3166b612ccae450082479f7a600/sdk/servicebus/service-bus/src/core/batchingReceiver.ts#L402)).

[code]

Based on the fixes made in these PRs (#12772, #12908, #13073), I'd like to see if we can still reproduce this. If not, we can remove this

[2021-01-06 22:11] #12914 closed

[2021-01-06 22:32] #12865 closed

[2021-01-06 23:43] sadasant commented on #13061
@marty2bell

Hello Mr Bell. I'm still investigating how to provide a quality response to you. In the mean time, our clients automatically send a GUID through the header ` x-ms-client-request-id`  on every request. You can specify your own request header `x-ms-client-request-id` that won't be overwritten by using a code similar to the following:

[code]

On the responses, Azure will send back a hea

[2021-01-07 00:25] #12922 closed

[2021-01-07 00:53] sadasant commented on #13036
@RomanDvorsky

The Device Code Credential requires special configuration on your Azure Active Directory application. This should help:

- Go to the Azure Active Directory page in the Azure portal.
- Go to "App Registrations" on the left, then find your app on the list that will load in the main area of the screen.
- There, go to your application. This will open a page that will show an "Authentica

[2021-01-07 02:21] colawwj commented on #13041
Hi  @bendavis78 ,
I am try to repro this case,but it is failed,and the package can be used normally.My env settings(
[code]
node version: v12.18.3
)

[2021-01-07 02:38] qiaozha commented on #13083
@colawwj  Could you take a look at it ? Thanks

[2021-01-07 02:47] qiaozha commented on #13041
@colawwj Can you also share your typescript version ?

[2021-01-07 04:00] joberume opened #13100 "No support for UseDevelopmentStorage=true on connection string"
- **Package Name**: @azure/data-tables
- **Package Version**: 1.0.0-beta.3
- **Operating system**: Windows 10
- [X] **nodejs**
    - **version**: 10
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 3.3.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Description*

[2021-01-07 06:04] ramya-rao-a commented on #13088
@jonathandturner The axios package is also used by `@azure/msal-node` which we use. Can we get it updated upstream as well? See https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/2ab1fb8f280ab49a42c7eaabfa4c3ec941aa19e1/lib/msal-node/package.json#L74

[2021-01-07 06:10] zzhxiaofeng commented on #13033
@XiaoningLiu Yes, you are indeed right. Please update the SDK code as you said.

[2021-01-07 06:59] RomanDvorsky commented on #13036
Ok, I tried but this does not help :(

I have modified the app as you mentioned, also tried to check the `Allow public client flows` checkbox
![appSettings](https://user-images.githubusercontent.com/36188474/103861362-9abc3a00-50bd-11eb-8045-d1930b76f24f.png)

but have still the same error message:
![error](https://user-images.githubusercontent.com/36188474/103861377-9e4fc100-50bd-11eb-9971-8993d0

[2021-01-07 09:03] qiaozha commented on #13083
@ramya-rao-a @joheredi

after  investigation, we found that the administratorType is a single value enum, with a modelAsString: true. which means it's a extendable enum allow for the users to input other values
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/ServerAzureADAdministrators.json#L250-L260
but Typescri

[2021-01-07 10:51] prashanthmadduri opened #13101 "AuthorizationFailure error while using DefaultAzureCredential authorization for Azure Storage Blob for creating new blob"
- **Package Name**:  @azure/storage-blob, @azure/identity
- **Package Version**:  12.3.0, 1.2.0
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**:  v10.16.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 1.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [X] SDK API docs on https://docs.m

[2021-01-07 12:21] gucharbon opened #13102 "@azure/arm-machinelearningcompute: Argument of type 'DeviceTokenCredentials' is not assignable to parameter of type 'ServiceClientCredentials'."
- **Package Name**: @azure/arm-machinelearningcompute
- **Package Version**:  1.1.0
- **Operating system**: Ubuntu Focal (20.04)
- [x] **nodejs**
    - **version**:  v14.15.1
- [x] **typescript**
    - **version**: 4.1.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**

When run

[2021-01-07 13:05] ceramcardle commented on #13061
Hello @sadasant
We have tried setting the custom headers as you suggested. Here is the code snippet (we set all the suggested headers):
`const ciphertext = await cryptographyClient.sign(SIGNING_ALGORITHM, hash,
                {
                    requestOptions: {
                        customHeaders: {
                            'x-ms-client-request-id': '1c0cb266-28ce-47ab-ae6a-c43b049dc14d'

[2021-01-07 14:53] chattersley opened #13103 "Express being brought in a dependency"
We are getting an error webpacking with the latest @azure/identity release, 1.2.0. It is dependent upon express. If it is not already included you get an error "Module not found: Error: Can't resolve 'express' in '...\node_modules\@azure\identity\dist-esm\src\credentials'". If you include it the overall built artefact size gets increased by +10MB!!! We are using this to build serverless artefacts,

[2021-01-07 15:36] tslavik commented on #11633
I have exatcly the same issue. Even if in the queue is a lot of messages I'm able to get only 2047 no matter how many units I have. No Error, just zero messages is received after that.

[2021-01-07 17:07] ramya-rao-a commented on #13102
Thanks for reporting @gucharbon

Regarding the npm audit issue, we will be releasing an update to the `@azure/ms-rest-js` package to update its dependency on axios

The actual error you are seeing should be fixed bu re-generating the `@azure/arm-machinelearningcompute` package using the latest v4 code generator. @qiaozha, Can you do the needful here?

[2021-01-07 17:12] sergsalo commented on #11633
my workaround: reinitialize the receiver after 2000 messages are received.

` if (resetBatch === 2000) {
        context.log(`Messages. Batch: ${resetBatch}, Received: ${i}`);
        await alarmQueueReceiver.close();
        alarmQueueReceiver = await alarmSbClient.acceptSession("alarm", sessionId, { receiveMode: "receiveAndDelete" });
        resetBatch = 0;
      }`

[2021-01-07 17:28] rahulbreddy commented on #13088
Will this be fixed in the 1.2.1 release? If yes, when can we expect 1.2.1 to be available?

[2021-01-07 17:37] #10597 closed

[2021-01-07 18:15] jeremymeng commented on #13044
Done in the same PR #12719

[2021-01-07 18:15] #13044 closed

[2021-01-07 18:25] richardpark-msft commented on #12955
Key thing is that \@ignore attributes need to be migrated to \@hidden.

I believe @deyaaeldeen also checked in a tsdoc.json file that has to exist as well to allow for \@hidden to work while we eliminate typedoc in our docs pipeline (this might have come in already in another PR).

[2021-01-07 18:31] deyaaeldeen commented on #12955
@richardpark-msft that has already been done across our code base here: https://github.com/Azure/azure-sdk-for-js/pull/12963. I also posted a PSA on our teams channel about not introducing more `@ignore`s. But there is still a risk more `@ignore`s could be added in packages not being checked by the linter.

[2021-01-07 18:49] rmiraballes commented on #13088
This issue is also affecting ` @azure/loganalytics`. Can be updated for this package too?

[2021-01-07 19:01] seanknox commented on #12565
@ramya-rao-a `@azure/ms-rest-browserauth` requires creating an AD app to authenticate users. Is that the only option for browser authentication, or is there another way can users authenticate directly to Microsoft auth, like [@azure/identity](https://www.npmjs.com/package/@azure/identity)'s `InteractiveBrowserCredential` method?

[2021-01-07 19:02] ramya-rao-a commented on #13088
@rmiraballes The `@azure/loganalytics` depends on `@azure/ms-rest-js` which in turn depends on `axios`. We merged the fix for this in https://github.com/Azure/ms-rest-js/pull/407 and will be releasing an update soon

[2021-01-07 19:22] #12904 closed

[2021-01-07 19:42] jeremymeng commented on #10316
I think this is the same issue in #12029. We remove the abort event handler after receiving response, instead of waiting for streaming to complete.

[2021-01-07 20:12] HarshaNalluru opened #13109 "[Service Bus] Session based tests - Subscribe method stops receiving after 2047 messages"
This is same as the issue seen in batching receive #8875.
Code to repro - https://github.com/HarshaNalluru/issue-8875/blob/main/sample-session-unending-subscribe.ts
Creating a new issue to make sure it would be addressed for subscribe too.

_Also reported by @tslavik in https://github.com/Azure/azure-sdk-for-js/issues/11633#issuecomment-756191136_

I have ServiceBus - premium tier

code snippet

[

[2021-01-07 20:21] HarshaNalluru commented on #11633
@sergsalo, your workaround seems fine to me. Unfortunately, we don't have a fix yet. We are working with the service team to get it resolved.

@tslavik I have logged a new issue with the code to repro at https://github.com/Azure/azure-sdk-for-js/issues/13109 since this issue talks about the API that deals with receiving in batches.

[2021-01-07 20:28] #12631 closed

[2021-01-07 22:45] sarangan12 commented on #9590
The keyvault-keys package migration has been completed in this PR - https://github.com/Azure/azure-sdk-for-js/pull/13092

[2021-01-07 23:40] sadasant commented on #13036
@RomanDvorsky hello hello!

The vault URL `https://kvgraphqldevwe.vault.azure.net/` is correctly passed on that snippet.

Would you mind trying with `ClientSecretCredential`? Sending a tenant ID, the client ID of your AAD application (not the object ID), and the secret of your AAD application?

In case it helps:

- Follow [Documentation to register a new application](https://docs.microsoft.com/azu

[2021-01-08 00:00] ramya-rao-a commented on #13088
@rmiraballes We just released an update for `@azure/ms-rest-js`, so you should be good with `@azure/loganalytics`

[2021-01-08 00:12] sadasant commented on #13061
@ceramcardle

Thank you for that message! That helps me see how to focus on finding a resolution path for you. I'll reply again once I have an answer that you can reproduce via a similar query.

[2021-01-08 00:41] lilyjma commented on #6780
Hi, since the issue was resolved and there hasn't been any activity on this issue for a while, I'll close it. Thanks!

[2021-01-08 00:41] #6780 closed

[2021-01-08 01:11] jeremymeng commented on #13101
@prashanthmadduri does **Storage Blob Data Contributor** role work? It feels that **Owner** role should have all of and more permissions than **Contributor** but worth a quick try.

[2021-01-08 01:50] qiaozha commented on #13102
@colawwj Could you help regenerate the package ? Thanks

[2021-01-08 02:05] sarangan12 commented on #10780
Code complete with PR: https://github.com/Azure/azure-sdk-for-js/pull/13114

[2021-01-08 02:05] #10780 closed

[2021-01-08 02:06] sarangan12 commented on #13082
@ramya-rao-a  The release has been moved to February. So, I can validate this only after that. So, moving this to February milestone

[2021-01-08 02:46] ramya-rao-a commented on #10780
Yay!

[2021-01-08 05:14] riverar opened #13118 "Is Azure Storage Emulator supported?"
I'm getting bounced around many different Azure libraries for Tables and growing increasingly frustrated. Does _this_ library support connections to the local emulator? Do you have an example that demonstrates `TableClient` instantiation with a local emulator connection string?

[2021-01-08 05:16] ljian3377 commented on #11850
In the case of download, I think we can consider `RetriableReadableStream` as the only consumer as the original stream isn't exposed to the customers.

[2021-01-08 05:28] HarshaNalluru commented on #13063
@mnaeem95 The fix has been checked in. The fix would be included in the release in the coming week.

If you'd like to try out the dev version of the package which includes the fix, please install with `npm install @azure/service-bus@dev`
(New dev versions are released once a day.)

Current dev version - https://www.npmjs.com/package/@azure/service-bus/v/7.0.1-alpha.20210107.2

[2021-01-08 05:44] prashanthmadduri commented on #13101
@jeremymeng We have added below attached three roles `Owner`, `Storage Blob Data Owner` and `Storage Blob Data Contributor` as attached screenshot but still we have same issue.

![image](https://user-images.githubusercontent.com/13807238/103978898-93229100-51a2-11eb-8cb6-9ea6172b622f.png)

[2021-01-08 06:14] ljian3377 opened #13119 "[storage] exact match for retry logic?"
Originated from https://github.com/Azure/azure-sdk-for-js/pull/13076/commits/b62d584e52013e9a0463709054f9a8c34aa877b7

https://github.com/Azure/azure-sdk-for-js/blob/b62d584e52013e9a0463709054f9a8c34aa877b7/sdk/storage/storage-blob/src/policies/StorageRetryPolicy.ts#L243
[code]

Need to figure out the pattern for each retriableError and replace `includes` with exact match if possible.

[2021-01-08 06:44] ramya-rao-a commented on #13102
Thanks @colawwj

@gucharbon Please use the latest version v2 of the `@azure/arm-machinelearningcompute` package where the reported problem is fixed

[2021-01-08 06:44] #13102 closed

[2021-01-08 07:04] ljian3377 commented on #13101
Please double check you have followed the doc. https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-blob#with-defaultazurecredential-from-azureidentity-package

* register your app in AAD, create a client secret
* in storage side, assign a role to that app
* set AZURE_TENANT_ID, AZURE_CLIENT_ID, AZURE_CLIENT_SECRET as environment variables in the .env

[2021-01-08 07:05] ljian3377 commented on #13101
If it still doesn't work, please provide more details.

[2021-01-08 07:57] gucharbon commented on #13102
@ramya-rao-a  Thanks, just tested it and it works fine :)

[2021-01-08 09:04] prashanthmadduri commented on #13101
@ljian3377

We have followed the steps mentioned above. Please find the request id for the same.
[code]

[2021-01-08 09:14] RomanDvorsky commented on #13036
Hi,

I have uncommented the code I did use the 1st time and all works fine. Even the device credentials approach works fine now - I have no clue what has happened and what is different now :(

So thx for your time and I'm going to investigate what has been changed

Regards,
R.

[2021-01-08 09:14] #13036 closed

[2021-01-08 09:43] mnaeem95 commented on #13063
@HarshaNalluru Thanks for the update. I will test it using this dev version.

[2021-01-08 11:04] ljian3377 commented on #13101
[code]

`Storage Blob Data Owner` is enough.
One thing that looks weird to me is that the types of the roles in the screenshot are "User" instead of "App".
Select the AAD app rather than your storage account when adding role assignment.

[2021-01-08 11:16] rmiraballes commented on #13088
@ramya-rao-a  Thanks

[2021-01-08 12:54] ccaspers commented on #13088
At least for me, the issue persists because version 1.2.1 depends an `"@azure/msal-node": "1.0.0-beta.1"` which in turn depends on `"axios": "^0.19.2"`

[2021-01-08 14:49] rmiraballes commented on #13088
Yes is still happening in ```@azure/identity@1.2.1```, because of the ```@azure/msal-node`` dependency:
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/identity/identity/package.json#L86

Is fixed on ```@azure/loganalytics```.

[2021-01-08 18:43] sadasant commented on #13036
@RomanDvorsky glad to know things are working now! Please let us know if anything else happens in the future. Have a good time!

[2021-01-08 18:59] ramya-rao-a commented on #13088
The PR to update axios in `@azure/msal-node` was merged yesterday, see https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/2825

Once an update to `@azure/msal-node` is released, we can look into updating our dependency on it as well

[2021-01-08 19:20] restfulhead opened #13123 "[arm-apimanagement] apiExport.get always returns empty response body"
- **Package Name**: @azure/arm-apimanagement
- **Package Version**: 6.0.0
- **Operating system**:
- [x] **nodejs**
    - **version**: v12.16.1
- [x] **typescript**
    - **version**: 4.1.2

**Describe the bug**
Calling `apiExport.get(..., 'openapi')` or `apiExport.get(..., 'openapi-link')` always returns an empty response body. I assume it's because the [documentation](https://docs.microsoft.com/e

[2021-01-08 19:36] richardpark-msft opened #13126 "[app-configuration] Filtering on fields for get (or list) configuration setting fails if the setting contains an underscore"
AppConfiguration provides a call operation (via `select`, in the REST API) that lets you exclude some fields of a configuration setting from being returned (for efficiency).

This works fine for fields where the name lines up with our exported model object (which is most of them) except for fields that would require an _ (`last_modified` and `content_type` - might want to double-check to make sure

[2021-01-08 20:21] restfulhead commented on #13123
If anyone is looking for the workaround. I've made it work by re-defining the mapper and then using the
`sendOperationRequest` function.

[code]

[2021-01-08 20:24] heaths opened #13129 "Key Vault Keys library should implement factory / builder methods for AES algorithms"
As in .NET and Java, JavaScript should implement factories (or whatever is idiomatic) to lead customers into the golden path of providing the necessary parameters, like an IV for CBC and CBCPAD. Tt's optional in .NET only because we generate one like an nonce for local encryption support; JavaScript, which passes it only to the service, might choose to send nothing instead since the service will,

[2021-01-08 20:35] sadasant commented on #11698
Fixed by https://github.com/Azure/azure-sdk-for-js/pull/12630

[2021-01-08 20:35] #11698 closed

[2021-01-08 23:17] sadasant commented on #12565
@seanknox Hello hello! I wonder if a credential like @azure/identity's DeviceCodeCredential can work for you. Would that be useful? In ms-rest-nodeauth we have `interactiveLoginWithAuthResponse`, which is similar.

[2021-01-08 23:56] sadasant commented on #12565
I understand that this wouldn't be on the browser though. Would it be possible to move to @azure/identity instead?

[2021-01-09 00:59] HarshaNalluru opened #13133 "[Attestation] sample.env with variables that do not use SNAKE_CASING"
The sample.env file has a few variables that do not use SNAKE_CASING.
It would be better to stay consistent, it would also require us to update the variables used in the tests.
Reference: https://github.com/Azure/azure-sdk-for-js/pull/13120#discussion_r554102088

@deyaaeldeen @LarryOsterman

[2021-01-09 01:07] HarshaNalluru opened #13134 "[Attestation SDK] Hard-coded URL in the test folder"
Tests pick this hard-coded url `https://shareduks.uks.attest.azure.net` which represents the "shared provider" in one of the supported regions (UKS in this case). Ideally, the region configured for the test instances is to be used.

Reference - https://github.com/Azure/azure-sdk-for-js/pull/13120#discussion_r554096676

@deyaaeldeen @LarryOsterman

[2021-01-09 01:27] HarshaNalluru opened #13136 "[Attestation SDK] (minor) Leftover feedback to address from #13120"
- [ ] License file
   - [ ] [NIT] I don't think we have the `.txt` extension elsewhere in the repo, can be removed
   - [ ] 2020 -> 2021 (Applicable everywhere in the repo, check with the architects on the guidline)
- [ ] Typo in the comment - https://github.com/Azure/azure-sdk-for-js/pull/13120#discussion_r554092101

@deyaaeldeen @LarryOsterman

[2021-01-09 02:15] joheredi commented on #13100
Thanks for reaching out, I'll be happy to look into this issue. Can you please share the exception you're getting

[2021-01-09 02:18] joheredi commented on #13118
Thanks for reaching out, I'll be happy to look into this and help getting you unblocked. I'll investigate and get back to you on Monday.

Meanwhile if you are getting any errors, would you mind sharing them please?

[2021-01-11 03:58] ljian3377 commented on #12758
Fixed by #12769

[2021-01-11 03:58] #12758 closed

[2021-01-11 05:05] prashanthmadduri commented on #13101
@ljian3377 Thank you for your inputs. It started working as expected after giving `Storage Blob Data Contributor` role to registered `App` instead account user as shown in attached screenshot.

![image](https://user-images.githubusercontent.com/13807238/104148535-9f079080-53f8-11eb-95fc-f1bbed4a1b59.png)

[2021-01-11 07:01] ljian3377 commented on #7661
I added a sample here: https://github.com/ljian3377/azure-storage-tools/blob/sample/uploadWithPauseAndResume.ts

The basic idea is to do multiple stageBlock and then commitBlockList. By pausing, you stop issuing any new http request and wait till ongoing http requests are done.

It got a bit more complicate as I used a `Batch` to stageBlock in parallel. We will see if we can improve the sample and

[2021-01-11 07:06] ljian3377 commented on #13101
Good to know. Will close the issue now. You can re-open it if anything is needed from us for this. Thanks.

[2021-01-11 07:06] #13101 closed

[2021-01-11 10:05] ljian3377 commented on #7097
Fixed the documentation in #13087

We can add an `overwrite` option to the highlevel upload functions to support  metadata and properties by only change the size/content-length of the file.

- If overwrite = true, create a new file regardlessly
- If overwrite = false,
- if file already exists, resize file while keeping existing properties - ignoring provided `fileHttpHeaders` and `metadata`.
- if

[2021-01-11 17:30] ramya-rao-a commented on #13123
Thanks for reporting @restfulhead
We will take a look at this soon

[2021-01-11 17:55] zfoster commented on #12979
We may have a bug in the type here @sergsalo. The read and delete operations should work if you pass `partitionKey: {}` as an argument. Read/Delete require a partitionKey since we can't extract one without a body present in the args

[2021-01-11 18:03] zfoster commented on #12979
Actually, I just wrote a patch that will default the `partitionKey` for `Read/Delete` operations if it's not present

[2021-01-11 18:05] jeremymeng opened #13142 "[MetricsAdvisor] AAD support"
Add back AAD support and a couple tests.

For reference, the support was removed in this commit (private repo): https://github.com/Azure/azure-sdk-for-js-pr/commit/9c705cf0ca1d7873c4da700b07519661d956c320#diff-84db8606813e152afa117831ef8f3a8722bdc0c50cb475d6c655c922c90334a4

[2021-01-11 21:42] sadasant commented on #12605
Maor is currently assigned to the update and cleanup of the Key Vault Admin API. We won't be releasing export/release this month though, so we will likely push this issue for a later date, but in the mean time I'll keep this issue open so Maor can decide.

[2021-01-11 21:44] sadasant commented on #12414
Maor is currently assigned to the update and cleanup of the Key Vault Admin API. We won't be releasing export/release this month though, so we will likely push this issue for a later date, but in the mean time I'll keep this issue open so Maor can decide.

[2021-01-11 21:47] sadasant commented on #11029
Maor is currently assigned to the update and cleanup of the Key Vault Admin API. We won't be releasing export/release this month though, so we will likely push this issue for a later date, but in the mean time I'll keep this issue open so Maor can decide.

[2021-01-11 22:28] maorleger opened #13149 "Standardize our language around CORS in documentation"
As a new developer integrating with our SDKs in a web application CORS will likely be one of the first stumbling blocks I will hit.

We have three categories of services that I can think of:

- CORS is available at the service level and documented in the client library. Example: https://www.npmjs.com/package/@azure/storage-blob#cors
- CORS is available at the service level and not documented in th

[2021-01-11 22:33] weshaggard commented on #12892
Given that these are showing up in the search results indicates that people are linking to these so it isn't a good idea to delete or blindly redirect them. All the docs currently have a dropdown with the versions at the top for all the documentation pages so people can pretty easily get to the latest version of the documentation no matter what version they land on.

![image](https://user-images.g

[2021-01-11 22:33] #12892 closed

[2021-01-11 22:36] sarangan12 opened #13150 "[KeyVault][Keys] Live Test Failures"
On January 7, 2021 the PR https://github.com/Azure/azure-sdk-for-js/pull/13092 was merged. That PR was to migate Keys SDK from old SDK generator to new TS SDK Generator. After this one merged, the live tests started failing.

This must be fixed ASAP.

[2021-01-11 23:27] #13053 closed

[2021-01-11 23:54] sadasant opened #13155 "[Identity] Upgrade to MSAL 2.0"
Make use of msal-browser 2.0 on the browser-friendly credentials. At least on the Interactive Browser Credential.

Where to find msal-browser 2.0: [link](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser).

[2021-01-12 00:06] sadasant opened #13156 "[Identity] Implement Continuous Access Evaluation"
You can see the Python changes here: https://github.com/Azure/azure-sdk-for-python/compare/feature/cae

Here's the one for .Net: https://github.com/schaabs/azure-sdk-for-net/tree/feature/caesupport

Here's the full documentation of the Continuous Access Evaluation authentication flow: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-continuous-access-evaluation

[2021-01-12 00:53] ramya-rao-a commented on #12565
@seanknox All [credential classes](https://docs.microsoft.com/en-us/javascript/api/%40azure/identity/?view=azure-node-latest#classes) in `@azure/identity` make use of the client id and therefore require you to create an app registration. The ones that don't default to the one corresponding to Azure CLI. So yes, the recommended way is to create an app registration and pass the clientId when creatin

[2021-01-12 01:13] joheredi opened #13159 "[core-http] URLBuilder struggles with parametrized URL and parametrized path"
We're facing a problem with the Tables SDK that I think I have been able to isolate to core-http's URLBuilder.

It seems like having the base URL with a path cause troubles, for example:

[code]

In this example, I would expect it to end up being `http://localhost:3000/param1/param2` however it turns out to dismiss the {param} and ends up as `http://localhost:3000/param1`

However, if the base URL

[2021-01-12 01:16] joheredi commented on #12753
I've filed an issue in core-http #13159 to track the fundamental issue. Meanwhile, I'm currently investigating a way to work around this limitation in the SDK side

[2021-01-12 01:19] joheredi commented on #13118
I was able to find the root cause that currently prevents the SDK to support Storage Emulator #13159. I'm currently investigating a way to work around this problem. I will provide an update soon when I have a proposal. This is my top priority at the moment.

[2021-01-12 01:19] joheredi commented on #13100
I was able to find the root cause that currently prevents the SDK to support Storage Emulator #13159. I'm currently investigating a way to work around this problem. I will provide an update soon when I have a proposal. This is my top priority at the moment.

[2021-01-12 01:31] riverar commented on #13118
Thanks @joheredi.

For context, my path thus far has been:
* Spin up an Azure Functions project utilizing Tables
* Fail due to Azurite not supporting Tables => Used older deprecated emulator
* Fail due to Azure Function table bindings not support upsert operations => moved to recommended `azure-storage-node`
* Blocked due to lack of Promise support in `azure-storage-node` => moved to recommended `

[2021-01-12 01:43] ramya-rao-a commented on #13088
`@azure/msal-node` has released an update with the fix
Re-opening this issue until we update the `@azure-msal-node` dependency in `@azure/identity`

[2021-01-12 03:11] #12939 closed

[2021-01-12 05:02] sadasant commented on #12565
Why don't they support @azure/identity? I'm interested in making it work.

If it makes sense, is it because of Continuous Access Evaluation (CAE) challenge based authentication? I believe this is important for ARM resources. We're adding support for CAE this month.

[2021-01-12 07:01] ramya-rao-a commented on #12565
This has nothing to do with CAE

All the management plane packages (the ones dealing with resource management) at the moment are auto generated. The generated code works with the credentials from `@azure/ms-rest-nodeauth` and `@azure/ms-rest-browserauth`. They are of a different shape than the TokenCredential interface which is implemented by all the credentials in the `@azure/identity` package. W

[2021-01-12 07:03] ramya-rao-a commented on #12565
@seanknox Please log an issue in the repo for `@azure/ms-rest-browserauth` for more on that package

We have https://github.com/Azure/azure-sdk-for-js/issues/12669 tracking improvements to the `@azure/identity` package which we will tackle this month.

We are independently tracking other efforts to improve documentation around auth. So, closing this issue.

Thanks for your patience everyone

[2021-01-12 07:03] #12565 closed

[2021-01-12 07:12] qiaozha commented on #13123
@colawwj Can you take a look at this issue. Thanks

[2021-01-12 09:10] HarshaNalluru commented on #13063
@mnaeem95 Version 7.0.1 for [`@azure/service-bus`](https://www.npmjs.com/package/@azure/service-bus) has been published and it should contain the fix. :)

You can install it with `npm install @azure/service-bus`.

[2021-01-12 09:10] #13063 closed

[2021-01-12 10:43] philwindsor opened #13161 "azure stageBlock onProgress event - incorrect progress reported"
- **@azure/storage-blob**:
- **12.1.1**:
- **Windows 10**:
- [ ] **nodejs**
    - **12.13.0**:
- [ ] **browser**
    - **Edge/chromium**:
- [ ] **typescript**
    - **4.1.2**:

**Describe the bug**
I'm using the stageBlock method and the onProgress callback. I thought I had this working when I wrote this 9 months ago but I'm doubting myself now. The progress update is showing "loadedBytes" and it

[2021-01-12 15:39] sarangan12 commented on #13150
Code complete with https://github.com/Azure/azure-sdk-for-js/pull/13152

[2021-01-12 15:39] #13150 closed

[2021-01-12 18:12] jeremymeng commented on #12997
Right. Currently in core we don't attempt to parse stream body, although it may make sense to do so in the error case.

[2021-01-12 18:39] joheredi opened #13164 "[Tables] Add Azurite/Emulator tests"
Run tests against Azurite/Emulator

[2021-01-12 18:45] ramya-rao-a commented on #13149
@ljian3377, @XiaoningLiu, @zfoster, @southpolesteve, @xirzec, @bterlson, @sadasant, Thoughts?

[2021-01-12 18:47] chradek opened #13166 "[event-hubs][service-bus] re-export `RetryMode` enum from core-amqp"
The clients from `@azure/event-hubs` and `@azure/service-bus` accept `RetryOptions` as defined in `@azure/core-amqp`.

One of the fields in `RetryOptions`, __mode__, is an enum called `RetryMode` that allows users to choose a fixed or exponential retry strategy.

Currently `RetryMode` is not re-exported by the `@azure/event-hubs` and `@azure/service-bus` packages, so to specify a __mode__, a user

[2021-01-12 18:48] chradek opened #13167 "[event-hubs][service-bus] Re-export `RetryMode` from core-amqp"
The clients from `@azure/event-hubs` and `@azure/service-bus` accept `RetryOptions` as defined in `@azure/core-amqp`.

One of the fields in `RetryOptions`, __mode__, is an enum called `RetryMode` that allows users to choose a fixed or exponential retry strategy.

Currently `RetryMode` is not re-exported by the `@azure/event-hubs` and `@azure/service-bus` packages, so to specify a __mode__, a user

[2021-01-12 18:56] maorleger opened #13168 "[Identity] - guidance for sharing stateful credentials among various services?"
When a developer wants to integrate with multiple Azure services, how should credentials be used?

For example - let's say I'm integrating with both Blob and EventHub - their constructors take a credential object. Should I instantiate a new credential for each and let caching handle the shared state or should I create a singleton and share it among the various services?

You can see in [this sampl

[2021-01-12 18:57] bterlson commented on #13149
README seems required since the instructions to enable CORS is fairly unique per service.

I'm a little bit skeptical of offering CORS proxy advice for libraries like keyvault since you really shouldn't put it in the browser unless you know what you're doing...

[2021-01-12 19:02] #13167 closed

[2021-01-12 19:06] chradek commented on #13155
Just curious, will we continue to support implicit grant flow for logins or also/only support `Authorization Code Flow with PKCE` when upgrading to msal 2.0?

[2021-01-12 19:06] heaths commented on #12605
FWIW, I'm closing this issue because "export" and "release" are actually separate (but similar). I closed .NET's and forgot I opened these across languages; however, both of these - if implemented - should be moved out of the February GA as they are slated for 7.3-preview service version.

[2021-01-12 19:06] #12605 closed

[2021-01-12 19:09] heaths commented on #12414
Note that these should be moved out of the February GA and prepared for the 7.3-preview service version.

[2021-01-12 19:09] heaths commented on #11029
This should be moved out of February GA and done for 7.3-preview service version.

[2021-01-12 19:14] jlichwa commented on #13061
@heaths how correlationId is passed from client?

[2021-01-12 19:22] southpolesteve commented on #13149
No strong preferences from me. It would be nice to have a note about CORS and link to our docs from the Cosmos README

[2021-01-12 19:23] heaths commented on #13061
I can't say for JS for sure without digging (@sadasant?), but in .NET we generate a new one (if not passed in directly) with each request.

[2021-01-12 19:40] MIchaelMainer commented on #13080
@thewahome and @bettirosengugi for visibility. Let's make sure that we state here in the case that we verify that SPA cannot use implicit auth with conditional access policy, and SPA must use authorization code flow + PKCE for conditional access. It may help in the prioritization of this work as it has the potential to affect many tenants + SPA scenarios.

[2021-01-12 19:45] sadasant commented on #13061
@jlichwa @heaths the field correlation ID is not part of our API, that I remember. For example, I'm unable to find mention of it on the swagger files (as an example: [link](https://github.com/Azure/azure-rest-api-specs/blob/f9caf92527ccff06c5b66380e6f2b4f50f5e82b3/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/keys.json)). What we've settled on sending is the header `x-ms

[2021-01-12 19:57] xirzec commented on #13149
I like having a standardized CORS section per package README that actually supports CORS, since as Brian mentions the process of turning it on is usually fairly unique.

[2021-01-12 20:07] joheredi opened #13172 "[Tables] Connection string keys should be case-insensitive"
Currently, the Tables SDK parses connection strings assuming Keys are case-sensitive. However, keys are case-insensitive according to ADO.NET docs: https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/connection-strings#connection-string-syntax

We should update our logic to handle keys as case-insensitive

[2021-01-12 20:08] joheredi opened #13173 "[Storage] Connection string keys should be case-insensitive"
Currently, the Storage SDKs parse connection strings assuming Keys are case-sensitive. However, keys are case-insensitive according to ADO.NET docs: https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/connection-strings#connection-string-syntax

We should update our logic to handle keys as case-insensitive

[2021-01-12 20:23] maorleger opened #13174 "[Storage Blob] - Storage Blob browser API does not work in Electron"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.3.0
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: 12.18.3
- [x] **browser**
    - **name/version**: Chrome 87.0.4280.88
 - [x] **electron**
    - Electron 11.1.1

**Describe the bug**
When using @azure/storage-blob to fetch a blob object in the renderer (chromium) process, the browser API `blobBody` is not a

[2021-01-12 20:54] #12979 closed

[2021-01-12 20:55] maorleger opened #13176 "[Identity] - Provide a story of how to use InteractiveBrowserCredential on Electron"
- **Package Name**: @azure/identity
- **Package Version**: 1.2.1
- **Operating system**: Windows 10
- [x] **nodejs**
    - **version**: 12.18.3
- [x] **browser**
    - **name/version**: Chrome 87.0.4280.88
 - [x] **electron**
    - Electron 11.1.1

**Describe the bug**
`InteractiveBrowserCredential` does not work in Electron even when run from the renderer (chromium) process.

**To Reproduce**
Ste

[2021-01-12 21:12] sergsalo commented on #12979
great, do you know when this will be released?

[2021-01-12 21:22] MuhamedSalihSeyedIbrahim opened #13181 "Correlation of azure functions and cosmosdb in log analytics required."
I use azure diagnostic table from log analytic to trace cosmos db exection. But the azure diagnostic log table does not capture correlation id, i find it always empty.
kindly resolve the issue, in corelating logs of azure function apim and cosmosdb

Lang :nodejs

Components:
Azure functions
Api management
Cosmosdb (client- nodejs sdk)
Servicebus
log analytics for logging and correlation various co

[2021-01-12 21:24] zfoster commented on #12979
@sergsalo within a couple days. For sure by end of the week Friday

[2021-01-12 21:36] ramya-rao-a commented on #13181
Thanks for reporting @MuhamedSalihSeyedIbrahim

- Can you share more details of your set up in Azure functions? How do you use Api management there?
- A code snippet that shows how you use the log analytics to trace the cosmos db parts would help.
- You also mention Service Bus. Does the correlation id problem occur there as well?

[2021-01-12 23:02] mikeharder opened #13184 "[Perf Framework] Add option to use multiple processes"
Add an option to spawn multiple processes, distribute the load evenly, and collect results.

* Name the option something like `--processes`
* A magic value like `0` or `-1` should set `processes == num_cores`
* Use a library like https://nodejs.org/api/worker_threads.html
* Use minimal inter-process communication for the best perf (should only need to communicate results once per second).
* For ex

[2021-01-12 23:48] deyaaeldeen opened #13186 "[ESLint Plugin] Some of the tests behavior changed after TS upgrade"
[`ts-use-promises`](https://github.com/Azure/azure-sdk-for-js/blob/main/common/tools/eslint-plugin-azure-sdk/src/rules/ts-use-promises.ts) changed its behavior after [upgrading TS to v4.1.2](https://github.com/Azure/azure-sdk-for-js/pull/12770) causing a unit test to fail:

# Detailed error

[code]

_**Code pointers for anyone wanting to fix this:**_
- [Set up your dev env](https://github.com/Azur

[2021-01-13 00:01] NivedhaChellam commented on #11196
@qiaozha  Autobackup settings is pulled in via expand as it is extension level property. Since, it is not stored in Metadatastore it is costly to expose such properties on GET calls. ListByResourceGroup falls in similar territory where we only want to return properties stored in Metadatstore vs making a call to Compute extensions.

[2021-01-13 00:25] sadasant opened #13191 "[Key Vault] Investigate challenge based authentication test race condition"
The challenge based authentication tests are hitting a weird race condition during playback if they're recorded on a specific order. We've flipped the order of two tests to resolve this temporarily. More context here: https://github.com/Azure/azure-sdk-for-js/pull/12821/files#r556182356

If the first two tests of the `challengeBasedAuthentication` test files are flipped (after that PR is merged),

[2021-01-13 00:35] #12917 closed

[2021-01-13 01:41] HarshaNalluru commented on #11633
@sergsalo @tslavik

https://github.com/Azure/azure-sdk-for-js/pull/13178 would fix the issues that you're seeing.
Before the next patch version is released, I can share a dev build for you to try out once the PR is merged.

[2021-01-13 02:59] colawwj commented on #13123
Hi @restfulhead
I was trying to repro this case,and also receive an empty result.Since the result is a link ```link=https://apimstpkxrcwfolvuykfugc5.blob.core.windows.net/api-export/name1.json?sv=2017-04-17&sr=b&sig=WfG7h6SxucU3W0ie1rwp%2BURezf0hutmStCpHjHA3vZ8%3D&se=2021-01-13T02:55:10Z&sp=r```  so that ```@azure/arm-apimanagement``` can not analyze,and I found the result is different from https:

[2021-01-13 03:59] ljian3377 commented on #13161
What kind of anomaly did you observe? Could you be more elaborate? How much is the delay?
The progress callback is passed to core-http. @jeremymeng Could you follow up this?

In Node.js, we use a transform stream to wrap the original upload body. There is a delay logically but I don't think it would be observable.
https://github.com/Azure/azure-sdk-for-js/blob/083643171860d068d2d66b668bc0a2ac7ef85

[2021-01-13 04:29] ljian3377 commented on #13174
I saw you set `nodeIntegration: true`?
https://github.com/maorleger/electron-repro/blob/32c9c9015758fe6f50116ae878ecee80aea6347e/main.js#L8

https://www.electronjs.org/docs/tutorial/quick-start#nodejs-api

[code]

Expert on Electron @JasonYeMSFT may know how to get the browser version of storage packages work in Electron render process or point us to some sample?

[2021-01-13 05:03] ljian3377 commented on #13173
Nice catch. I see a .NET PR addressing the same issue: https://github.com/Azure/azure-sdk-for-net/pull/17642

We also don't deal with secondary endpoint for connect string.
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Common/src/Shared/StorageConnectionString.cs

[2021-01-13 06:04] joheredi commented on #13100
The fix for this issue has been merged and a new [version ](https://www.npmjs.com/package/@azure/data-tables/v/1.0.0-beta.4)released. Please install the latest version of @azure/data-tables and let me know if you see any issues.

[code]

Sample to create a client to test with the emulator:

[code]

[2021-01-13 06:04] #13100 closed

[2021-01-13 06:05] joheredi commented on #13118
Thanks for reporting this issue and your help reviewing and validating the fix. The fix has been merged and a new beta  [version ](https://www.npmjs.com/package/@azure/data-tables/v/1.0.0-beta.4)released. Please install the latest version of @azure/data-tables and let me know if you see any issues.

[code]

Sample to create a client to test with the emulator/azurite:

[code]

[2021-01-13 06:05] #13118 closed

[2021-01-13 06:06] joheredi commented on #12753
Thanks for reporting this issue, a fix has been merged and a new [version ](https://www.npmjs.com/package/@azure/data-tables/v/1.0.0-beta.4)released. Please install the latest version of @azure/data-tables and let me know if you see any issues.

[code]

Sample to create a client to test with Azurite:

[code]

[2021-01-13 06:06] #12753 closed

[2021-01-13 07:34] qiaozha commented on #11196
@hdavidzhu Does the solution of get the autobackup settings via GET calls work for you?

[2021-01-13 07:53] MuhamedSalihSeyedIbrahim commented on #13181
1. **Azure Functions**

1.1. ** Azure function (Nodejs) -  setup**:

`// host.json
{
    "version": "2.0",
    "functionTimeout": "00:10:00",
    "extensionBundle": {
        "id": "Microsoft.Azure.Functions.ExtensionBundle",
        "version": "[1.*, 2.0.0)"
    },

    "aggregator": {
        "batchSize": 1000,
        "flushTimeout": "00:00:30"
    },

    "logging": {
        "console": {

[2021-01-13 08:00] #11349 closed

[2021-01-13 09:24] zzhxiaofeng commented on #12753
@joheredi Thank you for resolve the issue. But the latest version of @azure/data-tables just support use http connection string to access Azurite. Can you update the code and make @azure/data-tables to support use https connection string of Azurite?

[2021-01-13 09:32] marty2bell commented on #13061
@jlichwa @heaths @sadasant

Guys, just to clarify, we have tried passing the `x-ms-client-request-id` custom header via the key vault SDK (see code snippet above) which has not worked.

Does the javascript SDK support this?

[2021-01-13 13:58] prashanthmadduri opened #13196 "The uploadPages API of PageBlobClient is not working as expected"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.3.0
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: v10.16.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 1.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [X] SDK API docs on https://docs.microsoft.com

**Describe th

[2021-01-13 14:55] philwindsor commented on #13161
Hopefully this gif helps demonstrate the issue. I will record the steps as well

Select a file, click upload to begin. The total bytes does not mirror what is being sent across the wire. You can see the total bytes sent matches the file size long before the file has actually finished uploading. I'm either doing something wrong or the onProgress event is reporting the incorrect amount of bytes

![a

[2021-01-13 16:19] #12357 closed

[2021-01-13 17:09] sadasant commented on #13061
@marty2bell yes, our clients in JS create and send this header with a default value. The service team is investigating what's going on on their side. Thank you for your patience! We'll reply back as soon as we have more info.

[2021-01-13 18:10] hdavidzhu commented on #11196
It's not ideal, b/c we perform regular scans on this endpoint. So individual API calls would also be expensive on our end. For now, the feature I'm building is ignoring this field, and we likely won't pull it in if its expensive.

At a minimum, I'd love it if the documentation calls this out, as it's not clear by [this](https://docs.microsoft.com/en-us/rest/api/sqlvm/sqlvirtualmachines/listbyresou

[2021-01-13 19:56] deyaaeldeen opened #13202 "[Dev tool] "resolution finds dev-tool package" fails in CI"
As seen in https://github.com/Azure/azure-sdk-for-js/pull/13162.
[Link](https://dev.azure.com/azure-sdk/public/_build/results?buildId=685580&view=logs&j=985bc9e9-ba9a-5310-d065-f12f81e1ebec&t=fcc8d508-dce1-5564-8cce-164995549e5a&l=7339)
[code]

[2021-01-13 20:55] joheredi commented on #12753
@zzhxiaofeng, `UseDevelopmentStorage=true` shortcut is meant to be used in the most basic scenario. For more advanced scenarios such as using https, custom host or accountId you should be able to do this by explicitly setting the custom values. For example:

[code]

Please let me know if this works for you

[2021-01-13 21:01] wwlorey commented on #7097
I like the idea of adding an `overwrite` option but I agree that some ambiguity could be introduced, for instance here:

I could see silently ignoring the provided headers & metadata causing problems. I wonder if it would be better to have one function that can overwrite and a separate function that just resizes (no overwriting). That way `fileHttpHeaders` and `metadata` could be removed as parame

[2021-01-13 22:01] NivedhaChellam commented on #11196
We understand your concern, we would definitely update the document

[2021-01-13 22:11] ramya-rao-a commented on #13181
Thanks @MuhamedSalihSeyedIbrahim

@zfoster Is this something you can help with from the cosmos side or is this more of a loganalytics problem?

[2021-01-13 22:23] HarshaNalluru commented on #13109
@tslavik
Version 7.0.2 for [`@azure/service-bus`](https://www.npmjs.com/package/@azure/service-bus) has been published and it should contain the fix. :)

You can install it with `npm install @azure/service-bus`.

Feel free to open new issues in this repository in case you run into problems.

[2021-01-13 22:23] #13109 closed

[2021-01-13 22:31] HarshaNalluru commented on #11633
@sergsalo @tslavik From your code snippets, I see the issues with 2048 messages you have encountered are when dealing with sessions with the receive mode being "receiveAndDelete" mode.

We have addressed the bug at #13178. Version 7.0.2 for [`@azure/service-bus`](https://www.npmjs.com/package/@azure/service-bus) has been published and it should contain the fix. :)
Your issue will be resolved with

[2021-01-13 22:33] joheredi commented on #12395
Here's a prototype of how this low-level client would look like in Typescript: https://github.com/Azure/autorest.typescript/pull/827/files

[2021-01-13 22:34] joheredi commented on #12390
Docs have been updated with https://github.com/Azure/autorest.typescript/pull/825

[2021-01-13 22:34] #12390 closed

[2021-01-13 22:34] HarshaNalluru commented on #12711
@enoeden Thanks for the confirmation.

Version 7.0.2 for [`@azure/service-bus`](https://www.npmjs.com/package/@azure/service-bus) has been published and it should contain the fix. :)

You can install it with `npm install @azure/service-bus`.

Feel free to open new issues in this repository in case you run into problems.

[2021-01-13 22:34] #12711 closed

[2021-01-14 00:13] zfoster commented on #13181
Hi @MuhamedSalihSeyedIbrahim, I’ll mark this as a feature-request since we don’t support a correlation ID right now. I don’t have an ETA at this time but I’ll keep this issue updated when work is planned

[2021-01-14 00:42] lmazuel commented on #12391
From a technical POV, we have all the part:
https://github.com/AzureSDKAutomation/azure-sdk-for-js/pull/3218

We would need to discuss how we want that to fill in the workflow of the data-plane team

[2021-01-14 00:42] #12391 closed

[2021-01-14 00:43] lmazuel commented on #12388
![image](https://user-images.githubusercontent.com/1050156/104529390-7fba6000-55be-11eb-84b4-cf9c2f7fba2d.png)

[2021-01-14 00:43] #12388 closed

[2021-01-14 01:10] HarshaNalluru opened #13209 "[Perf Framework] Remove the "run" method from the PerfStressTest class"
As we only ever offer async methods for our APIs through the SDKs unlike other languages, it makes sense to remove the "run" method and related code.

Reference - https://github.com/Azure/azure-sdk-for-js/pull/13125#discussion_r554159841

[2021-01-14 01:38] zzhxiaofeng commented on #12753
@joheredi Yes, it works. I'm sorry to waste your time.

[2021-01-14 03:07] deyaaeldeen opened #13214 "[ESLint plugin] Check if `sdk-type` exists in package.json"
Client packages should have `"sdk-type": "client` in `package.json`. This check could be implemented as a new rule in the ESLint Plugin.

_**Code pointers for anyone wanting to fix this:**_
- [Set up your dev env](https://github.com/Azure/azure-sdk-for-js/blob/main/CONTRIBUTING.md#setting-up-your-environment) if you have not already
- [ESLint Plugin source code](https://github.com/Azure/azure-sdk-

[2021-01-14 04:07] HarshaNalluru opened #13215 "[Service Bus] Docs for release: Automated PR shows warnings"
![image](https://user-images.githubusercontent.com/10452642/104543724-f7968380-55da-11eb-9443-fa3e44a1eef7.png)

Reference - https://github.com/MicrosoftDocs/azure-docs-sdk-node/pull/1026#issuecomment-759773388

[2021-01-14 05:22] ljian3377 commented on #7097
That way we have to add such a function for FileClient.uploadFIle, uploadStream and uploadData. Seems to be an overkill just for one small difference.

[2021-01-14 08:00] #12855 closed

[2021-01-14 08:38] ljian3377 commented on #13196
"const pageBlobResponse = await pageBlobClient.create(**20971520** )"
Is this a typo or were you creating a 20MB file?

It would fail with `InvalidPageRange` if the range is beyond the size.

[code]

Please share us the request id so we can have a look at the log if it still doesn't work as expected for you.

[2021-01-14 08:45] laudibert opened #13219 "[Service Bus] getSubscriptionRuntimeProperties does not give correct message counts"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.0.2
- **nodejs**
    - **version**: v12.10.0
- **typescript**
    - **version**: 4.0.5

**Describe the bug**
Method `getSubscriptionRuntimeProperties` of class `ServiceBusAdministrationClient` does not give correct message counts in properties.

More precisely, the internal method `getMessageCountDetails` parses the ServiceBus respons

[2021-01-14 11:04] MuhamedSalihSeyedIbrahim commented on #13181
Thanks @zfoster.

 Is the any other way, as of now to correlate
Api management gateway logs , azure function logs  and cosmosdb logs via log analytic or some other way in azure ?

[2021-01-14 15:37] #12825 closed

[2021-01-14 18:11] HarshaNalluru commented on #13219
Thanks for all the details, @laudibert.

I am able to repro the issue. Looks like the tag in the service response has changed.
Will be coming up with a fix soon.

[2021-01-14 18:28] sadasant commented on #13061
@marty2bell so far, we've been able to confirm that this is a bug, meaning that, as we're describing this internally, the "x-ms-client-request-id should be returned in the response header if it was passed in the request". We'll let you know as soon as we have an update on that issue. Thank you for reporting this issue and for helping us narrow down the problem!

[2021-01-14 18:48] laudibert commented on #13219
@HarshaNalluru cheers.

[2021-01-14 18:53] JasonYeMSFT opened #13223 "storage-file-datalake sets incorrect resource type when generating SAS with stored access policy"
- **Package Name**: @azure/storage-file-datalake
- **Package Version**:  12.3.0

**Describe the bug**
When using a stored access policy to generate SAS using storage-file-datalake, the resource type is set to "c" instead of b/d.

**To Reproduce**
Steps to reproduce the behavior:
Call the generate SAS function with identifier and pathName. Look at the sr field in the generated SAS Token.

**Expecte

[2021-01-14 18:58] deyaaeldeen opened #13224 "[ESLint Plugin] Check if the correct type definitions file is shipped"
Shipped files should be listed in the `files` field in `package.json` but sometimes there're not listed correctly causing the actual type definition file to not be included in the released package which will block TypeScript customers from using the package. To fix this, we can update the [ts-package-json-files-required](https://github.com/Azure/azure-sdk-for-js/blob/master/common/tools/eslint-plu

[2021-01-14 19:01] #12394 closed

[2021-01-14 20:07] JasonYeMSFT commented on #13174
@maorleger `isNode` will be true since process.version will have a version number if nodeIntegration is enabled. As a result, you'll need to use the Node API in the Storage SDK. If you want to re-use code already written with Browser APIs, you can spawn a webview (a separate renderer process) with nodeIntegration disable and execute it there.

[2021-01-14 21:57] #12923 closed

[2021-01-14 22:39] HarshaNalluru commented on #13219
https://github.com/Azure/azure-sdk-for-js/pull/13229 should fix the bug. This fix will be part of the next patch release.

In the meantime, I'll share the dev version for you to try out the fix once the PR is merged.

[2021-01-14 22:46] sarangan12 commented on #12392
I have code complete and merged (not released) for the following SDKs:

- KeyVault - Keys
- KeyVault - Secrets
- AppConfiguration

WIP:
- KeyVault - Certificates (ETA: EOD Today/Tomorrow)
- Search Documents SDK

Blockers:
- All Blockers resolved for KeyVault - Certificates
- One Pending Blocker for Search - The ModelerFour is removing '__' from property names in the beginning. Even such names are

[2021-01-15 00:43] xirzec opened #13234 "[testhub] Remove testhub"
After talking to @ramya-rao-a, it seems like we can remove the `testhub` project from the source tree. I'd settle for at least removing it from `rush.json`, but happy to remove deprecated code.

[2021-01-15 01:09] jeremymeng opened #13235 "[core v2] incorrect way to determine whether a response body is a stream or not"
Currently, when sending a request, if any of the operation response body mapper has `Stream` type, we consider the operation a streaming one, and set `request.streamResponseBody` to true.

https://github.com/Azure/azure-sdk-for-js/blob/2ae1fb8ec6ff59c5081a313d4f3105af6ce79f59/sdk/core/core-http/src/operationSpec.ts#L98-L111

And we use the property `request.streamResponseBody` to determine the sha

[2021-01-15 01:31] heaths opened #13237 "Resolve architect board feedback for Key Vault"
Here are a few things that came up during the [archboard review](https://github.com/Azure/azure-sdk/issues/2221). Note that there is a discussion about whether to expose a `LocalCryptographyClient` or make it a "mode" of `CryptographyClient`, but that should only apply to .NET and Java. That is not listed below as prototyping is necessary. I will open a new bug shortly.

- [ ] Add service version

[2021-01-15 01:42] ramya-rao-a commented on #13234
Closing in favor of #1251

[2021-01-15 01:42] #13234 closed

[2021-01-15 01:43] ramya-rao-a commented on #1251
Hey @HarshaNalluru

This package was put in place as a stress test for the older versions of the `@azure/event-hubs` package and the `@azure/event-processor-host` package. Now that we have a new framework for stress/perf tests, we should be able to remove this.

[2021-01-15 01:47] richardpark-msft commented on #12393
Closing as all relevant issues have been filed.

[2021-01-15 01:47] #12393 closed

[2021-01-15 03:27] ljian3377 commented on #13223
Also need to fix it for storage-file-share.

[2021-01-15 07:11] prashanthmadduri commented on #13196
It is working as expected. I was adding data to different blob instead `5MB` size blob which was created. The above one is type I have created blob with `5242880` size.

[2021-01-15 07:20] laudibert commented on #13219
Thank you! Looking forward for the release then.

[2021-01-15 08:05] ljian3377 commented on #13196
@prashanthmadduri
Are you saying that the `uploadPage` is failing as expected with `InvalidPageRange` when the range goes beyond the size?
If so, we can close this issue.

[2021-01-15 10:56] sdsubhajitdas opened #13247 "Resource group name doesn't satisfy the constraint pattern /^[-\w\._\(\)]+$/"
- **Package Name**:  @azure/arm-resources
- **Package Version**: 4.0.0
- **Operating system**: MacOS Catalina Version 10.15.7
- [x] **nodejs**
    - **version**:  10.17.0
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

[2021-01-15 16:42] sadasant commented on #13155
@chradek I don't think so. I've been asking about the same. Let me reach out to you.

[2021-01-15 18:03] #9590 closed

[2021-01-15 18:04] sarangan12 commented on #12408
Code complete with this PR: https://github.com/Azure/azure-sdk-for-js/pull/13095

[2021-01-15 18:04] #12408 closed

[2021-01-15 18:05] sarangan12 commented on #9590
The keyvault-secrets package migration has been completed in this PR - https://github.com/Azure/azure-sdk-for-js/pull/12821

[2021-01-15 18:06] sarangan12 commented on #9590
The keyvault-certificates package migration has been completed in this PR - https://github.com/Azure/azure-sdk-for-js/pull/12820

[2021-01-15 18:17] sadasant commented on #13155
@chradek based on the conversation we had, it should be ok to move to PKCE. I will make sure an app that has already been enabled to work with the implicit flow can still work with the PKCE update 👍

[2021-01-15 21:47] #12358 closed

[2021-01-15 22:13] jeremymeng commented on #13161
for browser we just attach the event handler to `XMLHttpRequest.upload`.

@philwindsor  I couldn't repro using your React app project, or [with plain JavaScript](https://gist.github.com/jeremymeng/b01953832e1841554e91214a12fc88b5#file-test-browser-stageblock-progress-ts). I wonder whether there's some kind of caching going on in your network?
![stageblock-progress](https://user-images.githubuserco

[2021-01-15 22:57] zfoster commented on #13181
@southpolesteve do you know if there's another way to correlate these in azure?

[2021-01-16 00:47] maorleger opened #13265 "`ContainerClient.generateSasUrl` requires an options param"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.4.0
- **Operating system**:
- [x] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**:

**Describe the bug**

`ContainerClient.generateSasUrl` requires an options param

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
From reading the docs, `

[2021-01-16 00:48] jeremymeng commented on #13159
So when we parse "{url}", URLBuilder set its `host` to `{url}`, which isn't 100% correct as a url can contain all possible components. later after replacement the new `host` now contains another path component `/param1`.  Then setting the new host will cause the old `path` of `{param}` to be overwritten in the state machine.  I need to think more about this.

[2021-01-16 00:52] maorleger commented on #13174
Thanks @ljian3377 and @JasonYeMSFT - that makes sense to me!

[2021-01-16 00:52] #13174 closed

[2021-01-16 01:15] ramya-rao-a commented on #12363
The older Key Vault packages `azure-keyvault` and `@azure/keyvault` were already deprecated.
For Event Hubs, we just deprecated `@azure/event-processor-host`. No other deprecation required because we only updated existing package to use new version
For Storage, we will need to wait for the tables SDK to go GA which will be in the next few months, after which we can deprecate `azure-storage`

[2021-01-16 01:15] #12363 closed

[2021-01-16 01:17] #12356 closed

[2021-01-17 21:41] philipp-bananaware opened #13267 "Error "Can't resolve 'crypto' in node_modules\@azure\storage-blob\dist-esm\storage-blob\src\credentials"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.4.0
- **Operating system**: Windows 10
- [x] **typescript**
    - **version**: 4.0.5

**Describe the bug**
After upgrading  from "@azure/storage-blob": "^12.2.1", to  "@azure/storage-blob": "^12.4.0", the Angular 11 compiler shows following error after 'ng serve' was executed:
`
Error: ./node_modules/@azure/storage-blob/dist-esm/sto

[2021-01-17 21:52] philipp-bananaware commented on #13267
Just tested with version 12.3.0 => this version is working.

[2021-01-18 01:11] mahdi-ninja commented on #13267
I have the same issue with 12.4.0. Version 12.3.0 works fine for me.

Here's the error log:
[code]

[2021-01-18 02:20] ljian3377 commented on #13265
You need to specify either an id of the stored access policy or a pair of `expiresOn` and `permission`.

[2021-01-18 06:47] prashanthmadduri commented on #13196
Yes @ljian3377 it is working as expected. The uploadPage is failing as expected with InvalidPageRange when the range goes beyond the size. We can close this ticket. Thank you.

[2021-01-18 06:47] #13196 closed

[2021-01-18 11:34] kimsey0 opened #13268 "Content Security Policy error in XML parsing in Chrome"
- **Package Name**: azure/core
- **Package Version**: Unknown, but code introduced in https://github.com/Azure/azure-sdk-for-js/commit/d1bc00b00199f0bebcb52d064b7a12df90436c8e#diff-9e0e581981750681d3bfa10a039c1cae8e0aaba5193c40352eec62a20d3b6660R20
- **Operating system**: All
- [ ] **nodejs**
    - **version**:
- [x] **browser**
    - **name/version**: Google Chrome 86.0 (released October 6th) and

[2021-01-18 15:24] laudibert commented on #13219
Hey @HarshaNalluru, do you know when it will possible to get this fix merged?

[2021-01-18 16:12] philwindsor commented on #13161
Hi @jeremymeng thanks for looking into this.

The team is WFH due to covid so all on different (home) networks and it effects all of us.

If it was caching then its something inside of the azure-sdk that is doing it, as you can see in my screenshot the network request still pending.

I've tried chrome, edge and firefox and all behave the same for me. What is interesting is, if I change the network

[2021-01-18 16:49] philwindsor commented on #13161
I have attached another example, one with throttling and one without.

No throttling:
![az_progress_issue_network_online](https://user-images.githubusercontent.com/17576696/104942755-c1774c00-59ac-11eb-811c-06405690e051.gif)

throttled to "Fast 3G"
![az_progress_issue_network_throttled_fast_3g](https://user-images.githubusercontent.com/17576696/104942771-c3d9a600-59ac-11eb-8ee7-5a8e83c65847.gif)

[2021-01-18 20:31] HarshaNalluru opened #13272 "[Perf Tests] Storage - Followup with more tests"
Track 2 clients offer more methods on the client than track 1. https://github.com/Azure/azure-sdk-for-js/pull/12737 and https://github.com/Azure/azure-sdk-for-js/pull/12746 compare the methods that are available on the clients.

However, track 1 offers more high-level helper methods that can be leveraged for comparing the equivalent missing methods on track 1 clients.

### Followups
- [ ] Storage

[2021-01-18 21:21] philwindsor commented on #13161
So it turns out the issue is our works virus scanner (sophos). If I disable it, it works fine, sorry to have wasted your time!

[2021-01-18 21:21] #13161 closed

[2021-01-19 04:11] HarshaNalluru commented on #13219
Hey @laudibert, thanks for waiting.
I'll try my best to get it reviewed and merged tomorrow and share a dev version with you.

[2021-01-19 06:14] ramya-rao-a commented on #13088
@jonathandturner Can we close this issue now that 1.2.2 of `@azure/identity` is released?

[2021-01-19 07:05] qiaozha commented on #13247
@colawwj Could you take a look at this issue? Thanks

[2021-01-19 10:40] ljian3377 commented on #13267
The newly added `generateSasUrl` functions brought in the BlobSASSignatureValues -> UserDelegationKeyCredential -> crypto dependency chain. Will add a shim for `UserDelegationKeyCredential` in browser to fix this.

I didn't quite figure out why our regression in browser just worked. The bundled file has these lines in the top scope.
[code]
@HarshaNalluru @jeremymeng Could we change our rollup conf

[2021-01-19 16:30] joheredi commented on #12753
No waste at all, thanks for reporting the issue! I'm happy to hear that your problem got resolved!

[2021-01-19 16:46] jvandemark opened #13277 "Proxy policy uses an unbounded map"
- **Package Name**: @azure/storage-blob
- **Package Version**: ~12.1.0
- **Operating system**: all

**Describe the bug**
[proxyPolicy](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-http/src/policies/proxyPolicy.ts#L19) contains an unbounded Map which will not scale in a production environment.

**To Reproduce**
Add a few hundred thousand containers/blobs to a storage account.

[2021-01-19 17:22] jeremymeng commented on #13277
@jvandemark Thanks for reporting the issue!  You are right.  We should be caching based on `host`, not `uri`.

[2021-01-19 17:34] jeremymeng commented on #13277
/cc @bterlson so this is really a concern when thousands of different urls are used. Any small size cache as suggested in https://github.com/Azure/azure-sdk-for-js/pull/7069#discussion_r461075750 would miss majority of the requests.  I think we have to re-parse the uri and cache the host part instead?

[2021-01-19 17:42] bterlson commented on #13277
Sounds like a plan to me!

[2021-01-19 17:42] witemple-msft commented on #12729
@zolvarga Do you have any thoughts on this? We rely on samples to be organized according to a particular convention, and it seems like the samples for digitaltwins aren't written in TypeScript. Before we can get the digitaltwins samples validating in CI, we'll need to convert them to TypeScript first.

[2021-01-19 17:59] #12396 closed

[2021-01-19 17:59] #12361 closed

[2021-01-19 19:45] jeremymeng opened #13278 "[MetricsAdvisor] support rotation of keys in MetricsAdvisorKeyCredential"
We should support updating the keys like `AzureKeyCredential` does

https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-auth/src/azureKeyCredential.ts#L42-L52

proposal: `updateSubscriptionKey(subscriptionKey: string)` and `updateApiKey(apiKey: string)`. throws if null/undefined/empty is specified, e.g.,

[code]

[2021-01-19 20:48] KarishmaGhiya opened #13280 "[Metrics Advisor] Add a map of metric name => metric id to data feed"
- For DataFeedMetrics - https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/metricsadvisor/ai-metrics-advisor/src/models.ts#L105 - Make this a map of id, name (Record type of metric name and id)   instead of an array. This would mean converting DataFeedMetric interface into record type instead of object type

[2021-01-19 21:13] jeremymeng commented on #13280
Actually we want to keep the current array. And add the additional map.

[2021-01-19 21:21] cveld opened #13281 "Support for Deno"
Deno is a simple, modern and secure runtime for JavaScript and TypeScript that uses V8 and is built in Rust, currently at version 1.6.3.
It makes sense that the Azure SDK for JavaScript also would provide support for Deno.

More info on Deno can be found here:
https://deno.land/

[2021-01-20 00:13] HarshaNalluru opened #13289 "[Service Bus] Flaky test - Unexpected error thrown for lock renewal"
Failure seen at https://github.com/Azure/azure-sdk-for-js/pull/13229

[2021-01-20 00:14] bterlson commented on #13281
Deno is quite exciting! Anyone using Deno, please feel free to chime in with how you're using it and how you'd use the Azure SDKs with Deno.

On our side we're planning on which new platforms to enable next. It seems likely React Native is winning this battle, but probably that effort will teach us many things that will help light up Deno support.

If anyone has more concrete ideas for what it wou

[2021-01-20 00:37] jeremymeng opened #13290 "[Storage-blob] ContainerClient should have `name` property"
To be consistent with other languages, we should have `name` property on container client.  Unfortunately we shipped with `containerName`, we should add `name`, and deprecate `containerName`.

[2021-01-20 01:16] HarshaNalluru opened #13292 "[Service Bus] Flaky Test - renewlock test failed once in browser"
![image](https://user-images.githubusercontent.com/10452642/105113490-e7b6ed80-5a79-11eb-95d7-f558a05e6cb8.png)
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=692877&view=logs&j=073ebbf1-9390-59a1-0ff8-08c656576bcd&t=428931fe-c351-55db-0604-c27a1c97620f&s=d654deb9-056d-50a2-1717-90c08683d50a

[2021-01-20 01:27] maorleger commented on #13265
Thanks for that. I'm wondering if it makes sense either:

1. offer that info in the TypeDoc of generateSasUrl? I see that `generateBlobSASQueryParameters` adds this warning but maybe it makes sense to add that info on the public API?
2. Provide method overloads for easy usage of the common scenarios? (`expiresOn` + `permission` or `id`)

Feel free to ignore and close this issue, just wondering if

[2021-01-20 03:53] #9587 closed

[2021-01-20 03:53] #9588 closed

[2021-01-20 04:55] HarshaNalluru commented on #13219
@laudibert The fix has been checked in, it would be included in the `7.0.3` version, which we aim to release by the end of this week.

If you'd like to try out the dev version of the package which includes the fix, please install with `npm install @azure/service-bus@dev`
(New dev versions are released once a day.)

Current dev version - https://www.npmjs.com/package/@azure/service-bus/v/7.0.3-alph

[2021-01-20 04:58] #13219 closed

[2021-01-20 08:07] colawwj commented on #13247
@sdsubhajitdas
I can repro this case. Since "Instruktører" doesn't match the rest api regular exppression constraint defined https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/resources.json#L2542, the JS SDK's behavior is expected as the swagger definition. Thanks

[2021-01-20 08:12] sdsubhajitdas commented on #13247
Thanks for the response @colawwj.
Shouldn't this also prevent us from creating a resource group with this name `Instruktører` in the Azure portal, as per the regex pattern defined?

[2021-01-20 08:32] colawwj commented on #13247
@sdsubhajitdas
The constraint defined is vaild when you are create resourceGroup by js sdk ,but in the Azure portal ,the charactor scope is more widde.

[2021-01-20 09:14] qiaozha commented on #13247
This is a gap between the portal behavior and the swagger definition regarding the resource group name constraint. Need to involve service team for further explaination.

[2021-01-20 09:29] HarshaNalluru commented on #13267
@ljian3377 check this https://github.com/Azure/azure-sdk-for-js/pull/13293

[2021-01-20 13:00] laudibert commented on #13219
Thank you :)

[2021-01-20 16:00] deyaaeldeen opened #13295 "[Digital Twins] Use @azure/identity in samples in readme file"

[2021-01-20 16:02] deyaaeldeen commented on #12729
@zolvarga I also opened this issue https://github.com/Azure/azure-sdk-for-js/issues/13295 based on feedback from @kartben

[2021-01-20 17:40] srnagar opened #13297 "Azure Monitor Exporter API changes based on arch board review"
Based on the [arch board feedback](https://github.com/Azure/azure-sdk/issues/1975) for Azure Monitor exporter, update the APIs to support the following:

- [ ] Include an option to configure the service API version when constructing the exporter instance
- [ ] Provide a convenience method on the exporter to get the `endpoint`
- [ ] Consider adding APIs for configuring `endpoint` and `instrumentati

[2021-01-20 18:00] xirzec commented on #13159
Yeah, basically if you feed `URLBuilder` a url that already contains a path and then set it again later it replaces it instead of concatenating it. We rely on this behavior in other client libs, so we can't just fix it directly.

[2021-01-20 18:03] richardpark-msft opened #13298 "[app-configuration] Code cleanup - TODOs and duplication"
While working on #13258 I noticed a few spots where there was duplication or there was good room for some cleanup and improvement in the code. I did some small ones but there were a few others that I'd like to get to:

- [ ] Get eslint clean
- [ ] Cleanup TODOs about code duplication in the async iterator methods
- [ ] Cleanup the appconfig resource properly as tests complete (today cleanup is inc

[2021-01-20 18:18] #13126 closed

[2021-01-20 20:12] joshfree commented on #13297
/cc @richardpark-msft @xirzec

[2021-01-20 20:36] southpolesteve commented on #13181
I'm not aware of any. You might be able to manually track our calls using the app insights SDK, but I am not 100% sure that would work. I have not tried it before.

[2021-01-20 22:55] sadasant opened #13307 "[Identity] Update the InteractiveBrowserCredential manual test"
After #13155 the manual test we have for InteractiveBrowserCredential will fail, since MSAL 2.0's authentication flow (from the service side) will explicitly disallow requests that don't happen through CORS.

I have a draft PR here: https://github.com/Azure/azure-sdk-for-js/pull/13308

[2021-01-20 23:15] #12029 closed

[2021-01-21 00:48] heaths opened #13313 "April Release of Key Vault for JavaScript"
## Release

- [ ] Change api-version to "7.2"

[2021-01-21 04:38] ljian3377 opened #13315 "[storage] add fromConnectionString for datalake"
https://github.com/Azure/azure-sdk-for-js/blob/9e8763b7a333c127bdb9a2629a8720e408bf9f94/sdk/storage/storage-blob/src/BlobServiceClient.ts#L505

[2021-01-21 05:54] #13267 closed

[2021-01-21 08:10] cveld commented on #13281
Is there already an example build process somewhere that can show us how to easily service the various target platforms?
- Browser
- Nodejs
- Deno
- React native

I guess Nodejs is still the platform to run the build tooling on. Unfortunately it seems that the import semantics of Deno versus the rest is not compatible. Deno expects the ts file extension everywhere.  I tried to convert @azure/ms-re

[2021-01-21 09:18] HarshaNalluru opened #13318 "[Perf Test] Add "nodejs/undici" test for comparison among JS libraries with blob SAS URL"
`storage-blob/test/track-2` folder contains blob download using SAS URL tests with `storage-blob`, `core-http`, `core-https` and `node-fetch`. This issue is to add a test with `undici` to the list for comparison.

- This is the link you can use for [Set up your dev env if you have not already](https://github.com/Azure/azure-sdk-for-js/blob/main/CONTRIBUTING.md#setting-up-your-environment)
- Add th

[2021-01-21 09:27] kartben commented on #13295
I think the most urgent samples to fix are the ones that are actually listed in the README.md, and hence prominently featured on the npmjs.com listing, and what people will most likely end up copy-pasting when doing their first experiments.
@deyaaeldeen  and team, let me know if this should be a separate Github issue. Also happy to directly send a PR if that makes things easier.

[2021-01-21 09:32] praveenkuttappan opened #13320 "Github io docs release stage is failing if package name has azure keyword"
artifact name for Opentelemetry-exporter-azure-monitor package is azure-opentelemetry-exporter-azure-monitor. Github docs release step replaces "azure-" to generate package name which is usually present as prefix only. Due to recent naming changes, monitor package has got "azure-" within package name also and this also got replaced which lead to invalid doc name to stage.

Package name should be g

[2021-01-21 14:40] deyaaeldeen commented on #13295
@kartben Thanks a lot for your feedback! @zolvarga please address the issue. cc @ramya-rao-a

[2021-01-21 16:17] maorleger opened #13321 "[Key Vault] - refactor KeyVault Admin's LRO's update methods"
Currently we have `backup`, `restore`, and `selectiveRestore` LRO operations with a tick / update method that I want to refactor. This is the list of changes I want to address:

1. Separate the decision of kicking off an operation vs getting the status from actually handling the response (the latter is identical in both branches)
2. Move the processing of the response to a shared location as it it

[2021-01-21 17:06] #10204 closed

[2021-01-21 18:17] HarshaNalluru commented on #13034
Hey @asadm2706,

Please let me know if you're still facing the issue.

[2021-01-21 18:41] scbedd opened #13324 "Empty Other Node - Expected?"
I noticed this during my [perusal of the docs.](https://docs.microsoft.com/en-us/javascript/api/overview/azure/other?view=azure-node-latest) This doesn't necessarily mean anything bad, but we should check for any missing packages.

@azure/attestation is the one I'm particularly concerned about.

[2021-01-21 19:18] #12967 closed

[2021-01-21 21:12] jeremymeng commented on #13268
@kimsey0 Thank you for the report! We will looking into this shortly.

[2021-01-21 23:00] witemple-msft commented on #9885
Currently blocked on an upstream bug in @rollup/plugin-commonjs: https://github.com/rollup/plugins/issues/743

Migrating to rollup 2 and the newer versions of plugin-commonjs will ease the transition to the shared rollup configuration.

[2021-01-21 23:00] witemple-msft commented on #9348
Currently blocked on an upstream bug in @rollup/plugin-commonjs: https://github.com/rollup/plugins/issues/743

Migrating to rollup 2 and the newer versions of plugin-commonjs will ease the transition to the shared rollup configuration, so this is related to that as well.

[2021-01-21 23:00] witemple-msft commented on #9066
Currently blocked on an upstream bug in @rollup/plugin-commonjs: https://github.com/rollup/plugins/issues/743

Migrating to rollup 2 and the newer versions of plugin-commonjs will ease the transition to the shared rollup configuration, so this is related to that as well.

[2021-01-21 23:56] ramya-rao-a commented on #13324
Others is where I expected the core packages to go. If you look at the toc, one would expect a node for each Azure service. "Core" is not a service

[2021-01-21 23:59] maorleger commented on #11213
I think we do this now with my recent changes right @sadasant ?

[2021-01-22 00:27] sadasant commented on #12206
This is code regeneration based on the latest swagger. One way to see the missing endopoints is to do an API comparison between Key Vault Admin on JS and on .Net.

[2021-01-22 03:03] deyaaeldeen commented on #8662
Ok it looks like that the API extractor generating `tsdoc-metadata.json` is now undesirable as explained here: https://github.com/microsoft/rushstack/pull/1628#issuecomment-553665782 (the origin of the design is here: https://github.com/microsoft/rushstack/issues/959). Furthermore, in the same issue you are linking to, the idea of using a human-authored `tsdoc.json` was born and which I already in

[2021-01-22 03:03] #8662 closed

[2021-01-22 05:45] ljian3377 commented on #13265
Will improve the documentation as a quick fix.
Option 2 also make good sense. We will have a discussion regarding this.

[2021-01-22 07:22] prashanthmadduri opened #13344 "Looking for example and more information on BlobServiceClient.findBlobsByTags() and BlockBlobClient.query() APIs"
**Query/Question**
How can we help?

**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0] `@azure/storage-blob@12.4.0`
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): [e.g. Azure AppService or Windows 10 .NET Framework 4.8]
 - IDE and version : [e.g. Visual Studio 16.3]

1. We are looking for complet

[2021-01-22 08:54] caub opened #13342 "generateSasUrl url-encodes slashes in blob name, breaks url"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.4.0
- **Operating system**: Linux lubuntu 18.04
- [x] **nodejs**
    - **version**: 14.15.4

**Describe the bug**
generateSasUrl url-encodes slashes in blob name, resulting in broken url

**To Reproduce**
Steps to reproduce the behavior:
1. upload a blob with name: `foo/123/bar.jpg`
2. generate a SAS url using @azure/storage-blob:
[

[2021-01-22 13:50] deyaaeldeen commented on #13281
@cveld we have a template package here that can be useful for testing on and we use rollup for bundling compiled js files for node and browser. The rollup configuration for the template package is here https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/template/template/rollup.config.js which mainly calls into the main configurations found here: https://github.com/Azure/azure-sdk-for-js/blo

[2021-01-22 15:02] pjblakey opened #13343 "@azure/identity setting global axios defaults"
- **Package Name**: `@azure/identity`
- **Package Version**: `1.2.2`
- **Operating system**:
- [x] **nodejs**
    - **version**: `12.20.0`
- [ ] **browser**
    - **name/version**:
- [] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Use of thi

[2021-01-22 15:41] jsquire commented on #13344
Thank you for your feedback.  Because this refers to the JavaScript package, I've moved this over from the .NET repository into the JS repository to make sure that the folks best able to assist have visibility.

[2021-01-22 18:52] caub commented on #13342
@ljian3377 I believe it's a bug

For now I'm trying to reimplement it myself using this doc page https://docs.microsoft.com/en-us/rest/api/storageservices/create-account-sas

[2021-01-22 18:53] jeremymeng commented on #13268
note: I was able to repro by adding the following to my html

[code]

[2021-01-22 20:05] HarshaNalluru opened #13347 "[Service Bus] Improve logging - "azure:service-bus:sender:verbose""
"sender:verbose" logs the whole `ServiceBusMessageImpl` object for each message, it could be better
- if this is split to "sender:message" similar to "receive:messages" so that it can be excluded easily from the logs.
- if we don't log the whole object since it consumes a lot of space.

[2021-01-22 22:02] jeremymeng commented on #13268
When our module is loaded, we try to parse an invalid xml document then save the namespace of the <parsererror> element in the parsed result to `errorNS`. In Chrome and Firefox `DomParser.parseFromString()` returns a document with the expected <parsererror> element. In IE it throws an `DOMException` of `SyntaxError` but we ignore the error thus didn't set `errorNS`.

After every time we parse an x

[2021-01-22 22:54] zolvarga commented on #13295
@kartben
If you have a PR ready, could you please send it around?

Thanks,
Zoltan

[2021-01-22 23:12] zolvarga commented on #12729
@witemple-msft

Writing typescript samples in our backlog. The @azure/digital-twins-core package not intended to contain samples, so I don't think this is an error. I would close this issue following the first point in your notes.

What do you think?

Zoltan

[2021-01-23 00:35] kimsey0 commented on #13268
Unfortunately, Chrome and Firefox return different error documents. Firefox has the `parsererror` element as the root and in namespace `http://www.mozilla.org/newlayout/xml/parsererror.xml`, while Chrome has it wrapped inside `html` and `body` elements and with namespace `http://www.w3.org/1999/xhtml`.

I think every solution is going to be a workaround. One possibility could be to do a non-namesp

[2021-01-23 04:56] #9457 closed

[2021-01-23 05:04] sarangan12 commented on #9592
V6 SDK Migration for Search Documents - completed with PR https://github.com/Azure/azure-sdk-for-js/pull/12829

[2021-01-23 05:04] #9592 closed

[2021-01-23 16:29] sarangan12 opened #13364 ""npm run docs" command failing for Tables SDK"
- **Package Name**: @azure/data-tables
- **Package Version**: 1.0.0-beta.51.0.0-beta.5

**Describe the bug**
From the master branch, from the sdk/tables/data-tables directory, execute the following command:

[code]

This Error happens in this line (in ```TableClient.ts```):

[code]

The error could be fixed by replacing the above code with the following code:

[code]

It would be a lot better if t

[2021-01-23 21:30] caub commented on #13342
fixed by adding startsOn

[code]
I thought it was optional from the docs

[2021-01-23 21:42] caub commented on #13342
@ljian3377 But I think it'd still be good if blobName has slashes not encoded in URL, like the portal explorer does

[2021-01-24 01:09] kimsey0 commented on #13268
Basically, something like this:
[code]

[2021-01-24 07:04] prashanthmadduri commented on #13344
@jsquire we are using JavaScript package for `Azure Blob Storage` client development not `.NET`. I am looking for `Node JS`  or `Javascript` solution here. Thank you.

[2021-01-25 01:24] maorleger opened #13365 "[Key Vault] - Align with other languages on KeyVault keys/secrets/certs"
Refer to this draft PR https://github.com/Azure/azure-sdk-for-js/pull/13323 where the proposed changes were added to the review file. I'm currently working on the following changes:

- [x] Hide LocalCryptographyClient and instead add an overloaded constructor taking a single JsonWebKey as per arch board feedback (essentially making local/keyVault a "mode" of a crypto-client)
- [x] Add publicExpone

[2021-01-25 03:41] ljian3377 commented on #13342
The real cause is you were not correctly constructing a permission with `new BlobSASPermissions({ read: true })`.
We may consider to support this way. But for now, you should use either
[code]
or
[code]
Note that both `parse()` and `from()` are static method, so you don't need to call it with the `new` operator.

[2021-01-25 03:41] ljian3377 commented on #13342
startsOn **is** optional.

As you may already figured out, it doesn't matter whether we encode the slash.
The encoding is done in the `containerClient.getBlobClient('foo/123/bar.jpg');` If you prefer non-encoded blob name, you can use the BlobClient's constructor directly by passing in the URL.
[code]

[2021-01-25 04:28] parlux opened #13366 "GeographyPoint from search results has switched latitude and longitude"
- **Package Name**: @azure/search-documents
- **Package Version**: 11.0.3
- **Operating system**:
- [x] **nodejs**
    - **version**: 10.16.3

**Describe the bug**
Geography coordinates returned from search are parsed into a `GeographyPoint` incorrectly. It expects the arguments (`latitude, `longitude`), however it is being passed result coordinates in order, which is longitude then latitude.

**T

[2021-01-25 07:00] MBurchard opened #13367 "These relative modules were not found: ./tracers/test/testSpan and ./tracers/test/testTracer"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.0.2
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 14.15.4
- [x] **typescript**
    - **version**: 4.1.3

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Vue 3 project
2. Add Electron
3. add `@azure/service-bus`
4. try to use `@azure/service-bus` from the background.ts (b

[2021-01-25 08:18] ljian3377 commented on #13344
### Query Acceleration
official REST API doc: https://docs.microsoft.com/en-us/rest/api/storageservices/query-blob-contents
Query Acceleration: SQL Language Reference: https://docs.microsoft.com/en-us/azure/storage/blobs/query-acceleration-sql-reference
test cases:
https://github.com/Azure/azure-sdk-for-js/blob/388c649b281981dbef5b1bb519195c4ffdc74d17/sdk/storage/storage-blob/test/node/blobclient.

[2021-01-25 08:21] ljian3377 commented on #13344
Need to add samples for these two features.  Query Acceleration seems to be already GA.

[2021-01-25 09:28] caub commented on #13342
Thanks many times, perfect answer

[2021-01-25 09:37] wpitallo opened #13368 "TransactionBatch Node SDK"
Hi Is there going to be any upcoming support for TransactionBatch in the Node SDK?

[2021-01-25 10:05] ljian3377 commented on #13342
You are welcome. Will close this issue now. Feel free to re-open it if any help is needed from us regarding it.

[2021-01-25 10:05] #13342 closed

[2021-01-25 11:03] prashanthmadduri commented on #13344
@ljian3377  can you please share example for the above mentioned scenario, as per the documentation for `query` the example provided is not clear also, there is no example for `findBlobsByTags`.

[2021-01-25 12:08] jaspkaur28 commented on #7342
This is an expected behaviour as mentioned in my previous comment , hence closing it.

[2021-01-25 12:08] #7342 closed

[2021-01-25 12:55] prashanthmadduri opened #13369 "Acquiring new Azure AD access token for every request instead reusing the access token till it's validity time"
- **Package Name**: @azure/storage-blob, @azure/identity
- **Package Version**: 12.3.0, 1.2.0
- **Operating system**: Windows 10
- [X] **nodejs**
    - **version**: v10.16.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: v1.5.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [X] SDK API docs on https://docs.mic

[2021-01-25 13:46] jsquire commented on #13344
Understood.  That is why I moved this into the JavaScript repository.   You had opened it in the .NET repo originally.  :smile:

[2021-01-25 14:39] lflemingweb opened #13370 "Identity authentication issue with blob beginCopyFromUrl"
**Package Name:** @azure/identity
**Package Version:** 1.2.2
 **nodejs version:** 10

**Describe the bug**
Using the DefaultAzureCredential, ManagedIdentityCredential or StorageSharedKeyCredential along with @azure/storage-blob, there is an authentication issue when attempting to copy across storage accounts using beginCopyFromUrl on a blobClient.

_Result: FailureException: RestError: The specifi

[2021-01-25 14:51] ljian3377 commented on #13344
You mean use case 2?
I think it's simply
[code]

As for code example, could you refer to the test cases for now?

[2021-01-25 15:51] witemple-msft opened #13372 "[ai-form-recognizer] Use the new generated known-value enums in samples/tests"
#13360 introduces new enums for `KnownKeyValueType`, `KnownLanguage`, etc. This issue is to track updating the samples and tests to use these enums instead of bare strings to show how we expect them to be used.

- [x] `KnownLanguage`
- [ ] `KnownTextStyle`
- [x] `KnownSelectionMarkState`
- [ ] `KnownKeyValueType`

[2021-01-25 17:26] sadasant commented on #13061
I've added the Service Attention label since we've already determined this is a service issue. Sorry for the late update! I've been heads down doing something else.

[2021-01-25 18:12] praveenkuttappan opened #13376 "Skip API reviews for docmodel disabled packages"
Docmodel needs to be enabled to create api json file by api-extractor. docmodel is disabled for some of the packages currently. Automatic API review creation should skip creating review for packages for which docmodel is disabled. Currently it still searches for api file that causes CI failure.

[2021-01-25 18:15] #13320 closed

[2021-01-25 19:28] ramya-rao-a commented on #11555
@jamescarpinter The package `@azure/digital-twins` has been renamed to `@azure/digital-twins-core` which has since had releases which contain the fix to this issue.

Thanks for reporting and sending the PR

[2021-01-25 19:28] #11555 closed

[2021-01-25 19:57] xirzec opened #13379 "Browser code coverage disabled due to out of memory errors"
Some packages have code coverage disabled for their browser runs using karma because karma-coverage runs out of memory when loading sourcemaps for these bundles:

data-tables
identity
keyvault-certificates
keyvault-keys
keyvault-secrets
storage-blob
storage-file-datalake
storage-file-share
storage-queue
test-utils/recorder

I tried using rush hooks to force the `source-map` dependency to be upgrad

[2021-01-25 20:04] ramya-rao-a commented on #13370
Thanks for reporting @lflemingweb
Can you share the entire stack trace for the error you are seeing?
And you see the same error regardless of whether you use ManagedIdentityCredential or StorageSharedKeyCredential?

[2021-01-25 20:05] ramya-rao-a commented on #12964
Closing this issue as we have no planned next steps here.

We have added a npm script `docs` for all our packages that are not purely auto generated. This can be used to generate the docs that are closest to what would appear in docs.microsoft.com/javascript/api. This can be used to review the docs before a package is published.

[2021-01-25 20:05] #12964 closed

[2021-01-25 20:07] ramya-rao-a commented on #13368
Hey @wpitallo

Can you provide some more details as to which Azure service are you working with and any docs around the expected feature?

[2021-01-25 20:20] jeremymeng opened #13380 "[MetricsAdvisor] How to utilize the new Known* enum types"
PR #13363 introduces a couple of `Known*` enum types that can be used as the basis of extensible enums (with `| string`).  We should figure out how to better use them, instead of using string literals.

[2021-01-25 20:23] wpitallo commented on #13368
Hi @ramya-rao-a sure, I am using @azure/cosmos npm package for node. What I would like to do with transactions in node is what is described here: https://devblogs.microsoft.com/cosmosdb/introducing-transactionalbatch-in-the-net-sdk/.  I have had a look in the @azure/cosmos package but it seems its currently only supported in .NET SQL SDK.

[2021-01-25 20:28] ramya-rao-a commented on #13368
Thanks for the details! Looping in @zfoster who should be able to help

[2021-01-25 20:32] jeremymeng commented on #13268
Yes, this is exactly the same as I planned to do.  Also thanks for the code snippets @kimsey0!

[2021-01-25 22:12] ramya-rao-a commented on #8455
Closing this issue as we have decided to go ahead with not having lock token only message settlement at the moment.
If anyone has any scenarios that require this, please log a new issue with details on the requirement

[2021-01-25 22:12] #8455 closed

[2021-01-25 22:12] HarshaNalluru opened #13383 "[Service Bus] Fix flakyness in tests related to the peek method"
https://github.com/Azure/azure-sdk-for-js/pull/13346
Sometimes, the service returns zero messages for the peek call and we had to retry the peek operation until we get the message(s) so the live tests are successful.

When the live tests were initially written for service-bus SDK, we did not have the `ServiceBusAdministrationClient`. The only way a test can check the message count is by doing the

[2021-01-25 22:13] ramya-rao-a commented on #8462
Closing this issue as we decided to move the settlement methods from the message to the receiver. See #11926 for details

[2021-01-25 22:13] #8462 closed

[2021-01-25 22:26] sadasant commented on #13168
@maorleger I believe that one credential can be shared as many times as needed, as long as the clients support AAD, and as long as the account that gets authenticated has access to the intended resources. Let's ask @schaabs about what he thinks.

[2021-01-25 22:29] sadasant commented on #13369
@prashanthmadduri thank you! I'll be investigating this with more detail this week.

[2021-01-25 22:31] sadasant commented on #13080
@MIchaelMainer I'm working on adding support for this feature. We'll be releasing an update on early February.

[2021-01-25 22:39] lflemingweb commented on #13370
Hi, Please find stack trace attached. That's all i can seem to get from App Insights for my function execution. I've tried with both ManagedIdentityCredential and StorageSharedKeyCredential, both give the same error, thanks.

[stacktrace.txt](https://github.com/Azure/azure-sdk-for-js/files/5870077/stacktrace.txt)

[2021-01-25 23:31] sadasant commented on #13176
I'd like to test this with MSAL 2.0. I'll ping you about it.

[2021-01-25 23:33] sadasant commented on #13168
Moved to March.

[2021-01-25 23:35] sadasant commented on #12969
This won't be possible for February.

[2021-01-25 23:37] sadasant commented on #12669
Moved to March. Time is getting short on February.

[2021-01-25 23:38] sadasant commented on #12836
Moved to March. Time is getting short on February.

[2021-01-25 23:38] ramya-rao-a commented on #13376
Can you share the list of packages where this is disabled?

[2021-01-25 23:40] sadasant commented on #11725
Moved to March. Time is getting short on February.

[2021-01-25 23:40] sadasant commented on #11724
Moved to March. Time is getting short on February.

[2021-01-25 23:41] sadasant commented on #10485
Moved to March. Time is getting short on February.

[2021-01-25 23:43] sadasant commented on #6769
I believe we won't be adding support for writing back to the SharedTokenCache this month. Moving to March.

[2021-01-25 23:44] sadasant commented on #13088
@ramya-rao-a we're not using Axios anymore, we've confirmed. We're releasing other packages that are using Axios though.

[2021-01-26 00:01] sadasant commented on #11627
Some of these features have been moved out of the February beta release. The list ends up like:

# Features

- ~Secure key release~ Moved out of February.
- [ ] ~Local cryptography (as many algorithms - including new - as possible)~ Only remote support of these algorithms for February.

# Testing

- [ ] RBAC
- [ ] Backup/restore
- ~Secure key release~ Moved out of February.
- [ ] ~Local cryptograp

[2021-01-26 00:03] sadasant commented on #11213
Yes! You did this with your recent changes 🎉

[2021-01-26 00:03] #11213 closed

[2021-01-26 00:04] sadasant commented on #11183
We can safely push this to March (but not later).

[2021-01-26 00:05] sadasant commented on #11182
We can safely push this to March (but not later).

[2021-01-26 00:05] sadasant commented on #10948
We can safely push this to March.

[2021-01-26 00:13] HarshaNalluru opened #13387 "Review and fix inconsistencies in the package.json scripts and rollup/karma/.d.ts-types configurations across the repo"
https://github.com/Azure/azure-sdk-for-js/pull/13385 has fixed the package.json scripts, properties, and rollup/karma/.d.ts-types configs for the `quantum-jobs` package. Most of my feedback from that PR is applicable for app-config too since that was the reference for that PR.

As more and more packages are added to the repo, each package has slight differences in the configurations.

This issue i

[2021-01-26 00:34] heaths commented on #11627
Local crypto wasn't removed for the GA. The idea is to get everything you can in for Feb. At this time, we have no plans for a March release but you could if you have to for time.

[2021-01-26 00:57] HarshaNalluru commented on #8875
https://github.com/Azure/azure-sdk-for-js/pull/13374 fixes a bug with the disconnect-refresh logic and also talks about sessions.
- Upon connection disconnect, we do not call onDetached for sessions like we do for the normal batching and streaming receivers.
- onDetached is not implemented for MessageSession, unlike the MessageReceiver(base of batchign and streaming receivers).
- How should the on

[2021-01-26 01:01] HarshaNalluru opened #13390 "[Service Bus] (Minor) Internal rename"
As suggested at https://github.com/Azure/azure-sdk-for-js/pull/13374#discussion_r563950342,

`_batchingReceiverLite.close` can be better named as `_batchingReceiverLite.cancel` or `_batchingReceiverLite.terminate` since they seem to make more sense than `close`.

More code pointers:
- [Set up environment](https://github.com/Azure/azure-sdk-for-js/blob/master/CONTRIBUTING.md#setting-up-your-environ

[2021-01-26 01:08] jeremymeng opened #13391 "[core-http] better support of patterns in NO_PROXY environment variable"
Currently our code to test whether to bypass proxy server for a request is [ported from .NET](https://github.com/Azure/azure-sdk-for-net/blob/8cca811371159e527159c7eb65602477898683e2/sdk/core/Azure.Core/src/Pipeline/Internal/HttpEnvironmentProxy.cs#L210). This implementation does not support all patterns properly

- NO_PROXY is more a convention than a standard so there isn't a spec for it.
- in s

[2021-01-26 01:20] jeremymeng opened #13392 "[MetricsAdvisor] Remove extra GET calls from Update methods"
The return type should be RestResponse, similar to return types of Delete methods.  We don't need to return more information in order to know whether update process succeeds.

[2021-01-26 01:47] zzhxiaofeng opened #13393 "Azure Service Bus Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/servicebus/service-bus#using-a-connection-string)
![Screenshot 2021-01-21 163008](https://user-images.githubusercontent.com/20970631/105788047-a616cd00-5fba-11eb-9283-f9111b4c9afa.png)
Reason:
It doesn't have the variable declaration of `connectionString` here.

Suggestion:
Add the variable declaration of `connectionString

[2021-01-26 01:52] zzhxiaofeng opened #13394 "Azure Tables Readme Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/tables/data-tables#list-tables-in-the-account), [link2](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/tables/data-tables#list-entities-in-a-table)
![Screenshot 2021-01-20 181257](https://user-images.githubusercontent.com/20970631/105788733-0ce8b600-5fbc-11eb-9432-9d239637e67a.png)
Reason:
The code doesn't outp

[2021-01-26 01:56] ShrillShrestha commented on #13390
Hi there, I am a beginner and searching for some issues to learn and contribute. I am not fully knowledgeable about the project, but this seems a good issue to work on and learn. If anyone can guide me with the issue, I might be able to resolve it. Does this issue only needs renaming to be solved?

[2021-01-26 01:57] zzhxiaofeng opened #13395 "Azure Storage File Share Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-file-share#using-connection-string)
![Screenshot 2021-01-20 112648](https://user-images.githubusercontent.com/20970631/105789049-a9ab5380-5fbc-11eb-8fdf-295b66d030ca.png)
Reason:
The variable name is the same as the class name.

Suggestion:
Update `ShareServiceClient` to `shareServiceClient`.

@jongio for n

[2021-01-26 02:02] zzhxiaofeng opened #13396 "Azure Storage File Data Lake Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-file-datalake#using-connection-string)
![Screenshot 2021-01-20 101341](https://user-images.githubusercontent.com/20970631/105789473-75846280-5fbd-11eb-97e5-c7802091de61.png)
Reason:
Class `DataLakeServiceClient` don't have method `fromConnectionString`.

this method can be found in other language.

@jongio

[2021-01-26 02:25] HarshaNalluru opened #13397 "[Service Bus] `UnhandledPromiseRejectionWarning` thrown in the tests"
It is particularly interesting because none of the tests fail, but the error is thrown as a warning by node randomly around the ATOM management tests.
Not sure of the cause, needs more investigation.

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=702005&view=logs&j=34d05327-3286-5fd0-44d3-76aebff5d924

![image](https://user-images.githubusercontent.com/10452642/105791123-598bad00

[2021-01-26 02:34] HarshaNalluru commented on #13396
Good find.

@ljian3377 recently logged an issue for adding it https://github.com/Azure/azure-sdk-for-js/issues/13315 :)

[2021-01-26 04:05] hund030 opened #13398 "[arm-storage] listAccountSAS can generate sas token with multiple permissions"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
`listAccountSAS` consume an `AccountSasParameters` and return a response contains a sas token string. I want a sas token with which I can both read and write blobs and files. However `AccountSasParameters` defines permissions as enum type a

[2021-01-26 05:29] ljian3377 commented on #13370
This is by design.

The size of the source blob can be a maximum length of up to 256 MiB.
https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob-from-url

Yes, you should append the SAS to the copySource URL if the source blob is under another account.

[2021-01-26 05:36] ljian3377 commented on #13370
Also, if you are copying a Block Blob and you don't care about keeping the blocklist, you can use the `BlockBlobClient.syncUploadFromURL()` which has better performance but won't keep the block list structure.

[2021-01-26 06:46] HarshaNalluru commented on #13390
Yes, this issue is meant to rename and update with the new name wherever it is referenced.
`BatchingReceiverLite` class which is not part of the exported API and is used internally, has the `close` method - which we want to rename.

Please follow the links posted in the description for the instructions. Let me know if you're stuck at any step, I'll be able to help you through it.

[2021-01-26 08:00] #12900 closed

[2021-01-26 08:00] #12705 closed

[2021-01-26 08:24] WillemDuPlessis commented on #11067
Good day!

I'm also experiencing this issue and was just wondering if this issue is on schedule for the Feb 5th target?
I am strangely unable to get the suggested workaround mentioned above to work in my application.
Is it possible that the version of @azure/storage-blob (12.4.0) is referencing a different typescript library from my application and that is causing it to still have document as null

[2021-01-26 09:21] tzhanl commented on #13394
don't need an issue as output format is right.

[2021-01-26 09:21] #13394 closed

[2021-01-26 10:15] lflemingweb commented on #13370
Thanks. I have updated my script to use syncUploadFromUrl along with a SAS token appended to the source blob's url. It's now working fine, I can see the blobs are getting copied from source to destination account.

Appreciate you taking the time to have a look at this. Happy to close the ticket.

[2021-01-26 10:15] #13370 closed

[2021-01-26 15:16] ShrillShrestha commented on #13390
Sure @HarshaNalluru, I will try to work on it. If I have any questions, I will let you know.

[2021-01-26 16:06] Shachar1 opened #13399 "Azure Event Hub - The partitionId (1) set on sendBatch does not match the partitionId (1) set when creating the batch"
- **Package Name**:  @azure/event-hubs
- **Package Version**:  5.3.1
- **Operating system**: Win
    - **version**: 10

**Describe the bug**
When specifying an explicit and same partition id in the create batch and in the send batch methods I'm getting the following error:
 The partitionId (1) set on sendBatch does not match the partitionId (1) set when creating the batch

**To Reproduce**
Steps t

[2021-01-26 16:28] Shachar1 commented on #13399
partitionId should be string and not number...

[2021-01-26 16:28] #13399 closed

[2021-01-26 18:16] NivedhaChellam commented on #11196
@qiaozha we have created the repair item to update the document. We would triage and prioritize to amend the document.

[2021-01-26 18:18] #9171 closed

[2021-01-26 18:46] #12484 closed

[2021-01-26 18:51] #13142 closed

[2021-01-26 18:54] richardpark-msft commented on #13367
Hi @MBurchard, just tried this out but I'm getting a feeling I'm doing something differently than you.

I generated a vue3 typescript application, and added in electron using this command: `vue add electron-builder`.

After that I (in the `background.ts`) added in some simple Service Bus code just to prove that it was being run:

[code]

Then I did a `yarn run electron:serve` and it all appeared t

[2021-01-26 19:08] hectorhdzg commented on #12851
Fix available in latest release of the package
https://www.npmjs.com/package/@azure/opentelemetry-exporter-azure-monitor

[2021-01-26 19:08] #12851 closed

[2021-01-26 19:17] ramya-rao-a commented on #13395
Thanks for reporting @zzhxiaofeng

Please feel free to send a PR to fix the problem as suggested

[2021-01-26 19:18] ramya-rao-a commented on #13393
Thanks for reporting @zzhxiaofeng

Please feel free to send a PR to fix as suggested

[2021-01-26 19:20] jeremymeng commented on #11067
@WillemDuPlessis could you please share what issues you are having when trying the workaround?

[2021-01-26 20:37] sadasant opened #13407 "[Identity] Browser DefaultAzureCredential should only use InteractiveBrowserCredential"
We currently have a DefaultAzureCredential implementation for the browser that does compile but doesn't offer any concrete value, and in most cases won't work (as in, when web-security is enabled on the browsers). We should talk about this with the team (Jonathan mostly) and probably settle on using InteractiveBrowserCredential as the only credential in the chain for the browser.

Also, should Int

[2021-01-26 21:12] maorleger opened #13410 "KeyVault - use shared rollup config from dev-tool"
Context:

The Azure SDK for JS repository uses [rollup](http://rollupjs.org/) in order to produce browser bundles.
Historically, every package contained its own rollup configuration files when building a browser bundle for testing.

We have an effort in place to share rollup configuration across packages from a common source. This issue tracks migrating
the 4 Key Vault packages to use the shared r

[2021-01-26 22:51] ShrillShrestha commented on #13390
@HarshaNalluru, so I changed:
https://github.com/Azure/azure-sdk-for-js/blob/ee90255bf9b592bf3714969f779b19960cf17a88/sdk/servicebus/service-bus/src/core/batchingReceiver.ts#L311
to: `terminate(connectionError?: Error | AmqpError) {`.
The `close` method was referenced at:
https://github.com/Azure/azure-sdk-for-js/blob/ee90255bf9b592bf3714969f779b19960cf17a88/sdk/servicebus/service-bus/src/core/bat

[2021-01-26 23:00] ShrillShrestha commented on #13390
Also, how do I run a test to know if I broke anything? I tried doing `rushx test` as mentioned in the contribution guide, but it seems like there is no `test` command.
This is the error message I get:
`Error: The command "test" is not defined in the package.json file for this project.`
and mentions the available commands are `"build", "check:everything", "latest", "local", "preinstall"`.

[2021-01-26 23:15] ramya-rao-a commented on #13407
Another point to consider:

If there are no plans to have any other credential in the chain for the browser, is it even beneficial to advocate for DefaultAzureCredential in browser? How about officially advocating for DefaultAzureCredential in node, and InteractiveBrowserCredential in browser? This would simplify the documentation we have for DefaultAzureCredential where we explain the fallback me

[2021-01-26 23:52] jonathandturner commented on #13088
Closing this issue, since the issue with Axios for @azure/identity should be solved with 1.2.2.

[2021-01-26 23:52] #13088 closed

[2021-01-26 23:54] jonathandturner commented on #11578
AuthenticationRecord and cache are not yet part of the public API and would need more implementation work. Bumping to a later release.

[2021-01-27 01:20] maorleger commented on #11067
Thank you so much for the feedback! It's unfortunate that DOM APIs are not available in web workers.
What we want to do is support Storage Blobs in web workers without adding unnecessary dependencies to every other
package that does not need XML. The way our packages are currently set up our XML parsing logic lives in core-http, a dependency taken on by every package.

To that end, we have a separ

[2021-01-27 02:26] ljian3377 commented on #13290
But this is not causing any issue for now, So probably with a low priority.

[2021-01-27 02:35] HarshaNalluru commented on #13390
Based on the error message you posted, you might be running the command from the root of the repository.
You need to navigate to the project's folder, `sdk/servicebus/service-bus` level in this case.
You can see the available commands that you can run with rushx at  `sdk/servicebus/service-bus/package.json`.

The `test` command runs the live tests which would require Azure resources.
`unit-test` c

[2021-01-27 03:01] ljian3377 commented on #13398
This is a issue of the arm-storage package.

I agree with @hund030. Also the REST API doc is misleading.

signedPermission | True | Permissions | The signed permissions for the account SAS. Possible values include: Read (r), Write (w), Delete (d), List (l), Add (a), Create (c), Update (u) and Process (p).
-- | -- | -- | --

https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts/listac

[2021-01-27 05:17] prashanthmadduri commented on #13344
@ljian3377  we are looking for examples for both `query` and `findBlobsByTags` functionalities. I am not very clear with the above example for the use case mentioned above. Does this example query will return Blobs or Blob data which is matching. It would be great if we get complete working example with use case for both `query` and `findBlobsByTags`. Thank you.

[2021-01-27 05:53] WillemDuPlessis commented on #11067
Hi @jeremymeng
Thanks for the prompt reply.
I've implemented my typescript worker with the workaround as follows:
[code]
I use comlink-loader to to wire it up and add it to the module like this:
[code]

I then expose this by exporting it as:
[code]
An finally implement it in a delegator class:

[code]
When running, though, I still get the error:

Should the workaround be placed in the @azure/core-

[2021-01-27 06:11] prashanthmadduri commented on #13344
We have tried this, the execution is failing with `Unexpected status code: 400` error.

Attached is the sample `.csv` file uploaded as BlockBlob `Expeses_Monthwise_Sample.csv`
[Uploading Expeses_Monthwise_Sample.zip…]()

Below is the sample code:

[code]
Below is the error response:

[code]

Could you please help in running this as expected?

[2021-01-27 06:37] hund030 commented on #13398
Thank you @ljian3377 , the workaround works.

[2021-01-27 07:06] ljian3377 commented on #13344
FeatureNotEnabled

Looks like you need to register your subscription for this feature. https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-query-acceleration-how-to?tabs=azure-powershell%2Cpowershell#enable-query-acceleration

[2021-01-27 07:21] MBurchard commented on #13367
I also did that...

![grafik](https://user-images.githubusercontent.com/4256302/105950824-56dea400-606f-11eb-956a-9eec182cf755.png)

[code]

`vue add electron-builder`

[code]

I than implemented your example and it works, as you said. So where does the error come from.

I than updated to all latest versions (like I did in my other project) `yarn upgrade --latest` ... still working

I than took ov

[2021-01-27 08:00] #12667 closed

[2021-01-27 12:07] prashanthmadduri commented on #13344
@ljian3377  Is there any way to `Enable query acceleration` from UI if yes please share the steps for the same. Thank you.

[2021-01-27 12:32] ljian3377 commented on #13315
Duplicate of #13396

[2021-01-27 12:32] #13315 closed

[2021-01-27 17:24] maorleger commented on #12206
- [ ] Regenerate from swagger (and pin to sha instead of master)
- [ ] Upsert role definition
- [ ] Delete custom role definition (error handling when deleting a built-in role definition)
- [ ] Consider properties bag vs splatting parameters - I need to see what it looks like

@heaths @sadasant  is upsert the correct verb here? it's in the TS guidelines as an allowed verb but I wanted to double ch

[2021-01-27 17:27] sadasant commented on #11220
After a sync with Vinay, seems like we should be supporting Azure Stack at this point. I'll run a manual test to confirm.

[2021-01-27 18:10] jeremymeng commented on #11067
@WillemDuPlessis Thanks for sharing the repro code. It feels that our storage module got loaded before the polyfill. I am not familiar with comlink-loader. We will investigate more.

[2021-01-27 18:58] jeremymeng commented on #10821
I think we can table this until we receive customer requests.

[2021-01-27 18:59] DiegoSestito opened #13422 "SearchId from SearchClient.search"
Is it possible to retrieve the SearchId from a search using the SearchClient from @azure/search-documents? Or some other way to track a search event using appinsights track event?

[2021-01-27 20:36] HarshaNalluru commented on #13047
https://github.com/Azure/azure-sdk-for-js/pull/13264 done ⭐

[2021-01-27 20:36] #13047 closed

[2021-01-27 20:42] HarshaNalluru commented on #13289
Done with https://github.com/Azure/azure-sdk-for-js/pull/13311 and https://github.com/Azure/azure-sdk-for-js/pull/13346

[2021-01-27 20:42] #13289 closed

[2021-01-27 21:15] jeremymeng commented on #6526
Fetch API is not supported in IE. We can re-visit this when we drop IE from the support matrix.

[2021-01-27 21:16] JasonYeMSFT opened #13426 "Add a getPathClient() method in DataLakeFileSystemClient"
**Is your feature request related to a problem? Please describe.**
There exists a class called `DataLakePathClient` which combines `DataLakeFileClient` and `DataLakeDirectoryClient`. It is very convenient to use that class when the user doesn't care about/don't know what a resource is.

However, we cannot easily get a `DataLakePathClient` from a `DataLakeFileSystemClient`. There is only `getFileCl

[2021-01-27 22:09] richardpark-msft commented on #13367
Hi @MBurchard, okay I think I understand what happened here.

The problem here looks like it's related to `yarn autoclean`, specifically driven by this file:

https://github.com/MBurchard/azureProblemDemo20210127/blob/86f64e4e83033353c9d1442c9f477b8a4a777706/.yarnclean#L3

The line I've linked to above removes all `test` folders in node_modules, which also removes the `tracers/test` folder, causin

[2021-01-27 22:09] #13367 closed

[2021-01-27 22:11] xirzec commented on #13367
It seems strange that there is an assertion here that no package would ever legitimately have a folder named `test` that was needed at runtime. Many of our packages have a folder named `generated`, which someone could theoretically decide isn't important either.

Can I ask what the point of `.yarnclean` is? Is it to save disk space when developing? Wouldn't bundling and tree shaking solve the prob

[2021-01-27 22:43] jeremymeng commented on #12672
Closing this now that #13076 is merged.

[2021-01-27 22:43] #12672 closed

[2021-01-27 23:44] #12319 closed

[2021-01-28 00:33] lmazuel opened #13429 "Low-level client epic"

[2021-01-28 00:39] #13393 closed

[2021-01-28 02:31] ljian3377 opened #13431 "[storage] migrate from JSDoc to TSDoc"
https://teams.microsoft.com/l/message/19:344f6b5b36ba414daa15473942c7477b@thread.skype/1608171348573?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1608171348573&teamName=Azure%20SDK&channelName=Language%20%E2%80%93%20JS%E2%80%89%EF%BC%86%E2%80%89TS%20%F0%9F%90%B1%E2%80%8D%F0%9F%91%A4&createdTime=1608171348573

#12912

Address #12959 for

[2021-01-28 02:36] ljian3377 commented on #13344
It's a subscription level change. I am not aware of  any UI way. Forwarded to the feature team.

[2021-01-28 03:05] ljian3377 opened #13432 "[storage] fix stream wrappers"
Follow up #12899 .

- [ ] RetriableReadableStream in storage-file-share
- [ ] other wrapper streams like quick query response, avro...

Changes should involve:
- adding _destory() to  destroy the source when the wrapper is destroyed
- remove handling logic for abortSignal as it's already handled by core-http
- deal with source "error" event
- call destroy(error) when emitting error
- remove event

[2021-01-28 05:18] ramya-rao-a commented on #11894
Done with #12684

[2021-01-28 05:18] #11894 closed

[2021-01-28 06:36] jmealo commented on #12851
@hectorhdzg: @xirzec: @ramya-rao-a: @co3k:

I’m sorry that this isn’t the correct channel, however, I don’t have permission to open support tickets as I’m an outside contractor. I had to switch away from Open Telemetry after earlier versions caused a production outage. Now we’re out of preview and have been trying for several months reproduce a small fraction of what we had with Open Telemetry usi

[2021-01-28 06:44] jmealo commented on #12851
@DawgFan ^

[2021-01-28 08:57] prashanthmadduri commented on #13344
@ljian3377 we are looking for examples for `findBlobsByTags` functionality. We will check for `Enable query acceleration` for `query` execution.

[2021-01-28 09:10] ljian3377 commented on #13344
Like I said, could you please refer to the linked test cases for example for now? We probably won't add samples for these two features until they are GA.

https://github.com/Azure/azure-sdk-for-js/blob/388c649b281981dbef5b1bb519195c4ffdc74d17/sdk/storage/storage-blob/test/blobserviceclient.spec.ts#L474-L550

The sequences are

- create blob with tags (key value pairs) or call setTags() after creat

[2021-01-28 09:11] ljian3377 commented on #13344
It will return the Blob data.

[2021-01-28 09:56] jbreunung opened #13435 "InvalidHeaderValue x-ms-version 2020-04-08"
- **@azure/storage-file-datalake**:
- **12.3.0**:

**Describe the bug**
When we try to interact with a Data Lake Gen2 Storage Account where HNS is enabled we receive the error.
The same function is working fine with a Storage account where HNS is disabled.
When we revert to version 12.0.0 the same function (e.g.: DataLakeFileSysteClient.exists()) is working.

**To Reproduce**
getClient() {
    if

[2021-01-28 10:05] #13223 closed

[2021-01-28 10:28] MBurchard commented on #13367
Thank you for the support. So far I have not had any problems with the yarn autoclean feature.
I use it primarily to ensure that when modules are uninstalled, the dependencies that are no longer needed are also cleaned up.
I have commented out the entire section for testing.

[code]

[2021-01-28 13:58] johnwatson484 opened #13436 "@azure/identity does not work with AAD Pod Identity on first request"
- @azure/identity
- 1.2.2
- Azure Kubernetes Service (AKS)
- [ x] Node.js
    - 14.15.0

**Describe the bug**
We have a series of Node.js microservices running in AKS.  To avoid credential storage in applications, we are using AAD Pod Identity within our cluster for connecting to Azure resources such as Azure Postgres Server and Azure Service Bus.

The first request for a token is always too slow

[2021-01-28 16:45] deyaaeldeen commented on #13431
Hi @ljian3377, I already have this issue open for storage: https://github.com/Azure/azure-sdk-for-js/issues/12956 so I am closing this one.

[2021-01-28 16:45] #13431 closed

[2021-01-28 17:59] deyaaeldeen opened #13438 "[Text Analytics] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:00] maorleger opened #13439 "add AES-GCM and the various AES-CBC algorithms to KeyVault Keys"
These seem to be only supported in Managed HSM

[2021-01-28 18:00] deyaaeldeen opened #13440 "[Form Recognizer] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:01] deyaaeldeen opened #13441 "[Metrics Advisor] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:03] deyaaeldeen opened #13442 "[Cosmos] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:04] deyaaeldeen opened #13443 "[Service Bus] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
-  **NOTE: we've decided to just remove the tsdoc.json and not use hidden at all**. ~~use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to

[2021-01-28 18:05] deyaaeldeen opened #13444 "[Storage] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:06] deyaaeldeen opened #13445 "[App Configuration] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:06] deyaaeldeen opened #13446 "[Search] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:07] deyaaeldeen opened #13447 "[Tables] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:08] deyaaeldeen opened #13448 "[Communication] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:08] deyaaeldeen opened #13449 "[Core] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:10] deyaaeldeen opened #13450 "[Schema Registry] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:11] deyaaeldeen opened #13451 "[Anomaly Detector] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:11] ramya-rao-a commented on #12851
Hey @jmealo,

Assuming the problem is with using the `@azure/monitor-opentelemetry-exporter` package which has since been renamed to `@azure/opentelemetry-exporter-azure-monitor` with the most recent update happening last week, this GitHub repository is definitely the right place to open issues. Here, the engineers working on the package will be responding to you directly. Since folks from Azure M

[2021-01-28 18:12] deyaaeldeen opened #13452 "[Digital Twins] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:49] deyaaeldeen opened #13454 "[Event Grid] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:50] deyaaeldeen opened #13455 "[Event Hubs] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:51] deyaaeldeen opened #13456 "[Identity] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:51] deyaaeldeen opened #13457 "[Key Vault] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 18:52] deyaaeldeen opened #13458 "[Monitor] Fix usage of @internal and @hidden tags"
Please follow the following guidelines:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documentation for them on `docs.microsoft.com`
- do not use both `@internal

[2021-01-28 19:05] deyaaeldeen opened #13459 "[Docs] Fix usage of @internal and @hidden tags - Epic"
We should follow these guidelines after recent work done by the docs team to support the `@internal` tag:
- use the `@internal` tag only for definitions that are not exported by `src/index.ts` and you do not want to generate documentation for them on `docs.microsoft.com`
- use the `@hidden` tag only for definitions that are exported by `src\index.ts` but you still do not want to generate documenta

[2021-01-28 19:07] xirzec commented on #13449
Love the guidance. Beyond making a nice lint rule for this with some explanatory text, could we put a note into CONTRIBUTING.md?

[2021-01-28 19:07] richardpark-msft commented on #6270
At this point we've done a lot of work in this area and cases 2 and 3 above have been covered (and had fixes). I feel comfortable closing this.

Fixes:
* [PR 13374](https://github.com/Azure/azure-sdk-for-js/pull/13374)
* [PR 12772](https://github.com/Azure/azure-sdk-for-js/pull/12772)
* [PR 12908](https://github.com/Azure/azure-sdk-for-js/pull/12908)
* [PR 13073](https://github.com/Azure/azure-sdk

[2021-01-28 19:07] #6270 closed

[2021-01-28 19:13] richardpark-msft commented on #13052
@ramya-rao-a  - I think you and @HarshaNalluru are in agreement.

I believe this issue was created to make sure we are always passing the abortSignal in to both retry and the underlying operation. If there were any cases where we hadn't, then we could end up in a situation where retry will never actually terminate since the abortSignal only applied to retry, and the underlying operation just keeps

[2021-01-28 19:50] HarshaNalluru opened #13461 "[Service Bus] Flaky test - batch receiver "disconnect" in receiveAndDelete mode"
Observed at https://github.com/Azure/azure-sdk-for-js/pull/13419#pullrequestreview-578684802
![](https://user-images.githubusercontent.com/10452642/106072101-659f7800-60bc-11eb-813a-26c5ff010c83.png)
https://dev.azure.com/azure-sdk/590cfd2a-581c-4dcb-a12e-6568ce786175/_build/results?buildId=706097&view=logs&jobId=bbd7d436-e05d-51a8-99a8-0701dc9dffeb

[2021-01-28 20:16] christothes opened #13462 "Update docs for DefaultAzureCredential regarding AZURE_CLIENT_ID / managedIdentityClientId relationship"
Add documentation to `DefaultAzureCredential` indicating that setting the `AZURE_CLIENT_ID` environment variable is equivalent to setting the `managedIdentityClientId`.

[2021-01-28 20:25] deyaaeldeen commented on #13449
@xirzec yup, opened a PR: https://github.com/Azure/azure-sdk-for-js/pull/13463.

[2021-01-28 21:24] jonathandturner opened #13465 "[Identity] Investigate replacing Express with a lighter-weight http server solution"
**Is your feature request related to a problem? Please describe.**
As reported in https://github.com/Azure/azure-sdk-for-js/issues/13103 (note: a customer-reported issue), the current Express-based solution may be bringing additional resource cost to Identity.

**Describe the solution you'd like**
We have a few possible options here:

* We can investigate a lighter-weight solution to this, which c

[2021-01-28 21:25] jonathandturner commented on #13103
Thanks for the feedback. I've filed https://github.com/Azure/azure-sdk-for-js/issues/13465 to track a few ways we can address this issue.

[2021-01-28 21:37] richardpark-msft commented on #1480
Okay, coming back to this to square it against the coverage we've got:

- [x] Reconnect on connection failure - we have good test coverage for both the disconnect and the detach case.
- [x] No reconnect on non-retryable errors (for streaming we now retry on everything and that is tested)
- [x] No reconnect for batching receivers (this is correct, the user will just get an exception for peekLock an

[2021-01-28 21:37] #1480 closed

[2021-01-28 21:40] richardpark-msft commented on #11441
We've done some solid work in the subscriber area that makes this less desirable to spend time on:

* We greatly simplified the logic of detach, and always initiate a reconnect. @HarshaNalluru  also recently fixed a race condition in our connection recovery which made this even more robust.
* The subscribe() loop no longer has a "don't recover" case. All errors are considered retryable and the ret

[2021-01-28 21:40] #11441 closed

[2021-01-28 22:02] jonathandturner commented on #13343
Thank you for the report. I've filed a fix for this project: https://github.com/Azure/azure-sdk-for-js/pull/13468. I've also reached out to another dependency which may have a similar issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2951

[2021-01-28 22:27] #13445 closed

[2021-01-28 22:33] #13280 closed

[2021-01-28 22:41] HarshaNalluru opened #13471 "[Service Bus] $managementLink - "peek" returns zero messages if delayed for 15 min"
## Steps to repro
- Create a Queue
- send 10 messages
- peek 10 messages
- wait for 15 min      - // During this 15min, we see force-detached for sender link in the logs, but no such message for mgmt link
- peek 10 messages - // This call returns zero messages

Could be a service issue, but it would be nice to know the cause.
(In case management link needs to be initiated again based on some prope

[2021-01-28 22:51] maorleger opened #13472 "Add a linter rule to error when using window and recommend replacing with self"
This came up on a few occasions (see #11067 as one example).

I _think_ a linter rule that prevents usage of `window` and forces using `self` instead would be relatively straightforward to implement.

[2021-01-28 22:51] maorleger commented on #13472
@xirzec  @bterlson I'm really just learning about the difference between `window` and `self` here - `self` would correctly point to the global object in all cases right? Are there any reasons to ever prefer `window` over `self` so this rule is not right? Thanks in advance!

[2021-01-28 23:27] #13365 closed

[2021-01-28 23:30] chradek commented on #13407
Correct me if I'm wrong, but the user needs to supply at least the tenantId and applicationId to the InteractiveBrowserCredential, right?

If this is the case, then they'd have to pass those to DefaultAzureCredential as well for the browser use-case. Given you don't need to pass those when using DefaultAzureCredential in node.js, there's already a difference in configuration, so I agree that we co

[2021-01-29 00:14] heaths commented on #12206
We don't have a verb for that in .NET. I asked the same thing in @christothes's .NET PR and asked @KrzysztofCwalina. Given the generated method is `createOrUpdate` and because that's what we used in the Search APIs, I'm leaning toward `createOrUpdate`. I mean, it's also the method description and is clearer to customers that want to create or update a method. Not everyone may know what "upsert" me

[2021-01-29 00:51] sadasant commented on #13436
@johnwatson484

Hello, John! Thank you for submitting this issue.

I would like to understand this more. When you say the second time it works fine, how are you triggering this second request?

Our Identity package doesn't yet consider the possibility of credentials being eventually available. I'll bring this issue to my team to see what other ideas they have, but in the mean time, hoping this que

[2021-01-29 00:58] ramya-rao-a commented on #13462
@christothes Can you provide some context here? What documentation are we referring to? What confusion lead us to make this clarification?

[2021-01-29 05:58] ljian3377 commented on #13435
Could you share me the request id of the failing request?
This is bizarre because 2020-04-08 should have already been rolled out in the production environment.

[2021-01-29 07:18] sarangan12 commented on #13366
This issue has been fixed with PR: https://github.com/Azure/azure-sdk-for-js/pull/13405 The code changes will be included in the next release scheduled for next release

[2021-01-29 07:18] #13366 closed

[2021-01-29 07:49] amishra-dev commented on #11481
@Ethan-Arrowood please reactivate if your question is still not answered.

[2021-01-29 07:49] #11481 closed

[2021-01-29 08:00] #13041 closed

[2021-01-29 09:17] nulltoken commented on #13435
@ljian3377 I'm encountering the same kind of `InvalidHeaderValue` issue (although with a slightly different use case).

The following code (leveraging @azure/storage-blob 12.4.0) works ok against a DEV storage account, but fails against a TEST storage account.

_Note:_ both DEV and TEST storage account have been created using the exact same ARM template. However, they live under different subscrip

[2021-01-29 09:24] nulltoken commented on #13435
@ljian3377 The same exact code works perfectly against both our DEV and TEST storage accounts when using @azure/storage-blob v12.3.0

[2021-01-29 10:25] ljian3377 commented on #13435
The server hit is not rolled-out with the right configuration. Already notified the service team to fix it.

[2021-01-29 10:31] snuffykl commented on #13166
@chradek Curious is there a sample how I could specify a retry for `@azure/service-bus` package as a SB Topic sender when calling function sendbatch ?

[2021-01-29 10:32] ljian3377 commented on #13435
@jbreunung
Could you share us the failing request's `requestId` or your account name so that we can locate and fix the server for you?

[2021-01-29 11:32] nulltoken commented on #13435
@ljian3377 Awesome feedback! Thanks a lot. How could I monitor on my side the rollout? Is there an API I could call to check for a version change or a specific blade in Azure Portal?

[2021-01-29 11:59] ljian3377 commented on #13435
I am afraid not. I have asked the service team to notify you here when it's fixed.

[2021-01-29 12:39] ljian3377 commented on #13435
@nulltoken
It should be working now. Could you retry?

[2021-01-29 13:37] nulltoken commented on #13435
@ljian3377 Everything is 200 OK now on my side! Thanks you so much for your tremendous help and amazing support! <3

![image](https://user-images.githubusercontent.com/92363/106281324-5a288a00-623f-11eb-846c-a50982407322.png)

[2021-01-29 14:29] nulltoken opened #13481 "Allow tracking of https requests to storage account as ApplicationInsights dependencies"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.4.0
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 14.15
- [x] **typescript**
    - **version**: 4.13

**Describe the bug**
It seems that leveraging `BlobClient` doesn't (by default) allow interception of underlying https calls through the https://github.com/microsoft/applicationInsights-node.js library.

**To R

[2021-01-29 14:52] leolumicrosoft commented on #12565
then how about library @azure/msal-browser, this lib is using PublicClientApplication to achieve browser login and use graph or other web API. what distinguish it from @azure/identity?

[2021-01-29 15:54] christothes commented on #13462
Sure - This issue was the catalyst for the issue (created for each language)

https://github.com/Azure/azure-sdk-for-net/issues/18253

Relevant documentation is here: https://github.com/Azure/azure-sdk-for-js/blob/726292875e5bd227e88958f54c72db1d86cea275/sdk/identity/identity/README.md#specifying-a-user-assigned-managed-identity-with-the-defaultazurecredential

[2021-01-29 16:58] Rafael-Dabrowski commented on #13435
Hi together,
i am working with @jbreunung. It seems you fixed the problem. i can no longer reproduce the issue with version 12.3.0 to create a failing request id.
Thanks a lot for the very fast reply!

[2021-01-29 17:24] #12337 closed

[2021-01-29 17:50] ramya-rao-a commented on #13481
@deyaaeldeen We need to first investigate this from a app insights perspectives and less from storage because whatever the underlying cause is would apply to other packages we support

[2021-01-29 17:55] sadasant commented on #13436
@johnwatson484

I'm back with good news!

Turns out that we've encountered a similar issue before. What we do to solve this is to wait for the init container to authenticate before launching the application. Here's an example: [link](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/identity/azure-identity/tests/pod-identity/test-pod-identity/templates/job.yaml#L23https://github.com/Az

[2021-01-29 17:56] sadasant commented on #13436
(@chlowell  was key to discover how we managed to solve this issue during our tests)

[2021-01-29 18:00] ramya-rao-a commented on #13472
cc @chradek

[2021-01-29 18:09] #13166 closed

[2021-01-29 18:25] chradek commented on #12901
Closed again by #13287

[2021-01-29 18:25] #12901 closed

[2021-01-29 18:34] chradek commented on #13472
This seems reasonable to me! I can't think of a reason to use `window` instead of `self`, I'd imagine those scenarios would be rare for us to hit.

[2021-01-29 18:40] ramya-rao-a commented on #12565
@leolumicrosoft,

`@azure/identity` contains multiple credential classes, all following the [TokenCredential interface](https://docs.microsoft.com/en-us/javascript/api/@azure/core-auth/tokencredential?view=azure-node-latest). You would need to use these credentials when using our newer set of libraries.

When in browser, the only credential that applies from `@azure/identity` is the InteractiveBro

[2021-01-29 18:50] johnwatson484 commented on #13436
Hi @sadasant, thanks for taking the time to look at this for us.

I'll answer your original question first.  The second request is just running the same code above again.  In our exact context it's a Node.js web application that submits user data using that code to an Azure Service Bus queue.

Thanks for sharing the `initContainer approach`.  What we ended up doing as a workaround is wrap the abov

[2021-01-29 19:03] sadasant commented on #13436
@johnwatson484 , @paulsimonandrews thank you both for the great feedback!

There's a lot to unpack here, so give me a bit of time to write something back. This has been already extremely useful feedback in any case! Thank you for the time being. I'll provide a more extensive answer in a bit.

[2021-01-29 19:43] chradek commented on #13049
@xirzec
It looks like we're always creating empty spans on service-bus/event-hubs messages if the parentSpan doesn't exist.

We can stop doing this, but is there something we should be doing instead to get the parentSpan via automatic span propagation first? I'm not sure what the current state of open telemetry is.

[2021-01-29 19:49] #13392 closed

[2021-01-29 20:09] ramya-rao-a commented on #13049
cc @richardpark-msft

[2021-01-29 20:27] xirzec commented on #13481
I'm confused about the request here. I thought AppInsights was doing work to intercept requests made by any module, rather than every npm module that makes a request doing something special to allow AppInsights to work.

[2021-01-29 20:35] xirzec commented on #13481
/cc @hectorhdzg Hey Hector, do you have an idea of what could be going on here?

[2021-01-29 20:47] hectorhdzg commented on #13481
@nulltoken Application Insights node.js SDK supports automatic tracking of Azure SDKs but you need to install @opentelemetry/tracing package to make it work, I will make sure to update documentation to reflect this.
https://github.com/microsoft/node-diagnostic-channel/tree/master/src/diagnostic-channel-publishers#040-jun-18-2020

[2021-01-29 21:02] sadasant commented on #13436
Here's what I can gather from what we've talked so far:

Fun fact! Although we don't generally recommend to can call `getToken` directly, this is a completely valid use case. Your code is indeed a good solution, I believe!

For the `service-bus` updates, I've synced with @HarshaNalluru and he already mentioned several great ideas that can improve this experience. He mentioned he'll chime in next w

[2021-01-29 21:54] sadasant commented on #13436
I've been getting answers from my team regarding implementing some form of retry mechanism. The issue there is that we have no way of knowing when the resource will be available. This uncertainty might result in a worse experience since some users might keep waiting for something to happen when their authentication resource might never respond.

Regarding default timeouts, other languages have eve

[2021-01-29 21:55] sadasant commented on #13436
I've been getting this information from: @chlowell .
Charles, I'm tagging you in case you want to add or present the information in a different way.

I'm also tagging @schaabs in case he wants to chime in.

[2021-01-29 21:57] HarshaNalluru commented on #13436
Thanks for the detailed comments @johnwatson484.
I'll look into the parts that need to be added to service-bus.

[2021-01-29 22:06] sadasant commented on #13436
@johnwatson484 , @paulsimonandrews

Another important point, the `isAvailable` cache happens once per instance of the `ManagedIdentityCredential`, so you should be able to move the credential creation into the scope of the method where you call `sendMessage`, so that `isAvailable` is fresh each time. I'd be curious if that happens to help too. It would be even more interesting if that wouldn't hel

[2021-01-29 22:24] HarshaNalluru opened #13489 "[Service Bus] Perf tests with the framework - followup"
A couple of followups from the perf test addition PR to service-bus
- [ ] https://github.com/Azure/azure-sdk-for-js/pull/12993#discussion_r551665908
- [ ] https://github.com/Azure/azure-sdk-for-js/pull/12993#discussion_r567125224

[2021-01-30 00:06] sadasant commented on #12318
Moving this to March.

[2021-01-30 00:44] sadasant commented on #13176
We will check this a bit next week, but we will probably postpone it.

[2021-01-30 00:52] sadasant commented on #13462
I think I might be able to do this this month. Worst case scenario I move it to next month.

[2021-01-30 01:27] hectorhdzg commented on #13481
@nulltoken actually on second thought I realized that approach is when using internal logging for Azure SDKs, we may have an issue in the node.js SDK that is preventing this to work I'm currently investigating and will let you know about my findings

[2021-01-30 08:52] DarkPitch opened #13497 "WebSiteClientManagementClient.webApps.get does not get correct siteConfig properties"
- **Package Name**: @azure/arm-appservice
- **Package Version**: 6.1.0
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: 10.16.3
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 4.1.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe th