[2022-08-19 12:19] sabharwal-garv opened #22962 "Getting error from service bus on sending message of size greater then 1 MB for premium tier."
- **Package Name**: azsdk-js-azureservicebus
- **Package Version**: 7.7.1
- **Operating system**: Mac OS BigSur version 11.2.3
- [x] **nodejs**
    - **version**: 12.16.3
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.6.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [x] SDK API docs on https://docs.microso

[2022-08-19 12:23] laudibert opened #22963 "[Service Bus]: DetachForcedError"
- **Package Name**:  `@azure/service-bus`
- **Package Version**:  `7.5.1`
- **nodejs**
    - **version**: 16

**Describe the bug**
Sudden `DetachForcedError` happen across multiple servers (10 pods deployed on Kubernetes) listening on the same subscription. They then stop listening to the topics unless we restart the servers.

I have the extract of logs for one server with some `DEBUG` here :

[co

[2022-08-19 13:37] azure-sdk commented on #22950
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.39555746,EngSys:0.17459098,ARM:0.06475891'

[2022-08-19 13:40] azure-sdk commented on #22952
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'EngSys:0.22813743,Communication:0.2178162,ARM:0.082805485'

[2022-08-19 16:27] #22937 closed

[2022-08-19 19:57] #22941 closed

[2022-08-19 22:34] xirzec commented on #22937
We have tried to consolidate most things here, but I think the general rule is to file issues where the code lives. In this specific case, MSAL had their own repo before our team existed and it didn't seem worth the disruption to move them given the engineering system differences.

Aha. OBO is always a fun scenario. We do have an OBO credential, though I confess I have not used it myself and we ap

[2022-08-20 03:16] #20910 closed

[2022-08-20 08:03] #22751 closed

[2022-08-20 08:03] #22487 closed

[2022-08-22 04:34] shazron opened #22968 "@azure/cosmos@3.17.0 - cannot find module @azure/identity"
## Environment

- @azure/cosmos@3.17.0 in npm
 - macOS 12.5.1
 - nodejs 14.19.2

## Describe the bug

@azure/cosmos@3.17.0 (the latest), when `require`'d, has a `Cannot find module error` for `@azure/identity`.

[code]

`@azure/identity` is only a devDependency: https://github.com/Azure/azure-sdk-for-js/blob/57387dcc64a57d7e1d524291752c6c576af28ef7/sdk/cosmosdb/cosmos/package.json#L110

## To Repr

[2022-08-22 04:39] shazron commented on #22968
@jay-most

[2022-08-22 09:44] EmmaZhu commented on #22321
@bishal-pdMSFT , yes, when there's network breaking, if the operation to read response body cannot complete in time, it should fail.

[2022-08-22 09:57] MaryGao commented on #21101
@nturinski Could you try to install the latest [version ](https://www.npmjs.com/package/@azure/arm-appcontainers/v/1.1.0)?

We fixed the DELETE issue in client side what's more we found that `client.containerApps.listSecrets` is fixed from server side. So please have a try and let us know if it works for you.

[2022-08-22 10:23] MaryGao commented on #22072
@turdigicode We released one version to fix this issue, Could you try the latest [2.0.0 version](https://www.npmjs.com/package/@azure/arm-machinelearning/v/2.0.0)?

Feel free to let us know if this issue still exists!

[2022-08-22 13:04] azure-sdk opened #22972 "Dependency package @types/inquirer has a new version available"
We have identified a dependency on version 8.2.10 of [@types/inquirer](https://www.npmjs.com/package/@types/inquirer). A new version (9.0.7) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

[2022-08-22 13:05] azure-sdk commented on #22972
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.34575114,Service Bus:0.15636165,Azure.Identity:0.045208707'

[2022-08-22 14:32] xirzec commented on #22968
Looks like this was introduced in https://github.com/Azure/azure-sdk-for-js/commit/cc267fe571644752785c3b562cbe1abae2bf3e2b

For some reason the logger from identity is being used: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/src/request/request.ts#L3

instead of the cosmos logger: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/src/common/logger.

[2022-08-22 14:32] xirzec commented on #22968
/cc @sajeetharan

[2022-08-22 16:37] plodwick commented on #22963
Coincidentally, I have been also debugging a DetachForcedError in our code using the same version of the SDK.  It comes when we have a message handler that takes a long time to complete and are using the auto-renew-lock feature.  We are setting the maxAutoLockRenewal duration to 25 minutes and the messageHandler taking 20 minutes.  The simple code looks like:

[code]

The messageHandler is just:

[2022-08-22 19:15] sajeetharan commented on #22968
@jay-most Looks like a blocking issue, can you please check asap?

[2022-08-22 20:34] nturinski commented on #21101
Verified that this is fixed. Thanks!

[2022-08-23 02:35] v-jiaodi opened #22977 "[Communication - Chat] Deploy test resources failing in nightly runs"
Communication - Chat nightly test runs are failing with:

StatusCode: 409
ReasonPhrase: Conflict
OperationID : 36ea54c0-1242-4ae0-8bff-48445680364f"
At D:\a\_work\1\s\eng\common\TestResources\New-TestResources.ps1:560 char:22
     $resourceGroup = Retry {
[code]

[2022-08-23 02:35] v-jiaodi opened #22978 "[Key Vault - Administration] Deploy test resources failing in nightly runs"
Key Vault - Administration nightly test runs are failing with:

Line |
 755 |              &$postDeploymentScript -ResourceGroupName $ResourceGroupN …
     |              ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | Failed to export security domain data.

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1798983&view=results

[2022-08-23 02:36] v-jiaodi opened #22979 "[Key Vault - Certificates] Deploy test resources failing in nightly runs"
Key Vault - Certificates nightly test runs are failing with:

Status Message: A hash conflict was encountered for the role Assignment ID. Please use a new Guid. (Code:HashConflictOnDifferentRoleAssignmentIds)
CorrelationId: 120c97dc-6add-4baa-b8ce-d260f779b8ac"
At D:\a\_work\1\s\eng\common\TestResources\New-TestResources.ps1:725 char:23
         $deployment = Retry {
[code]

[2022-08-23 02:36] v-jiaodi opened #22980 "[OpenTelemetry Instrumentation] Rush update failing in nightly runs"
OpenTelemetry Instrumentation nightly test runs are failing with:

└─┬ @rush-temp/azure-opentelemetry-instrumentation-azure-sdk-test
  ├─┬ @opentelemetry/core
  │ └── ✕ unmet peer @opentelemetry/api@">=1.0.0 <1.2.0": found 1.2.0
  ├─┬ @opentelemetry/sdk-trace-base
  │ ├── ✕ unmet peer @opentelemetry/api@">=1.0.0 <1.2.0": found 1.2.0
  │ ├─┬ @opentelemetry/core
  │ │ └── ✕ unmet peer @opentelemetry

[2022-08-23 02:36] azure-sdk commented on #22977
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.49116734,EngSys:0.24553707,ARM:0.040168177'

[2022-08-23 02:36] v-jiaodi opened #22981 "[Storage - File Datalake] DataLakePathClient DataLakeFileClient create with all parameters failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\storage\storage-file-datalake\test\pathclient.spec.ts:188:12)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1795811&view=results

[2022-08-23 04:55] HarshaNalluru commented on #22962
Thanks for reaching out @sabharwal-garv and for your investigations.
I'll look into this.

[2022-08-23 05:19] #22593 closed

[2022-08-23 05:46] azure-sdk commented on #22977
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.49116734,EngSys:0.24553707,ARM:0.040168177'

[2022-08-23 08:04] #21266 closed

[2022-08-23 13:58] Marcus-James-Adams commented on #5696
Is there an update as to when support for AZURE_SUBSCRIPTION_ID will be supported?

[2022-08-23 17:13] deyaaeldeen opened #22983 "Automatic detection of JS breaking changes"
# API Guard - JS

Breaking client code degrades our customer experience and will likely hurt Azure adoption. Such breaking changes must be detected before making a release and be handled according to the [Azure SDK design guidelines](https://azure.github.io/azure-sdk/typescript_implementation.html#general-versioning-no-breaking-changes):![BreakingChangeGuideline](https://user-images.githubusercont

[2022-08-23 22:09] JoshLove-msft opened #22987 "[Service Bus] Create Troubleshooting Guide"
Here is the [template]( https://gist.github.com/JoshLove-msft/4b3ffbc041067602612a2d81fe514a97) that each language can follow to ensure all topics are covered in a consistent way.

As part of this work, we should update relevant exceptions to link out to aka.ms links that point to the corresponding section of the Troubleshooting guide, similar to what we did for [Identity](https://azure.grep.app/s

[2022-08-23 22:42] HarshaNalluru commented on #22962
Hey @sabharwal-garv, I have investigated the issue, and am acknowledging the problem.
I will reach out to the service-bus service team to manage the message batches better and probably throw errors while batching large messages(>1 MB) like your case, or whatever would avoid the `InvalidOperationError: The link 'G4S2....` error.

## Your Suggested Fix
Coming to the fix that you are considering... u

[2022-08-24 03:44] sabharwal-garv commented on #22962
Hi @HarshaNalluru , Thank you for your response, The workaround suggested by you will not fix our issue when single message size is of greater then 1 MB, till the message size limit for batch is increased or else case inside  SDK code on the `sendMessages` API is updated, as it is mentioned in issue description as per the documentation [large-messages-support](https://docs.microsoft.com/en-us/azur

[2022-08-24 07:21] qiaozha commented on #21101
close it as issue addressed. Thanks

[2022-08-24 07:21] #21101 closed

[2022-08-24 07:22] qiaozha commented on #22978
remove mgmt label as this is not related with mgmt plane packages. Thanks

[2022-08-24 08:56] sajeetharan opened #22991 "Adding Move Operation in accordance with the JSONPATCH RFC6902"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add support for Move operation in Patch

**Describe alternatives you've considered**

**Additional context**
[Add any other context or screenshots about the feature request here.](https://docs.microsoft.com/en-us/azure/cosmos-db/partial-document-update)

[2022-08-24 12:23] dhensby commented on #22722
@msftbot - what info are you waiting on?

[2022-08-24 15:35] sajeetharan commented on #22726
@raymonddavis do you have more details on the scenario? have you set preferredLocations?

[2022-08-24 17:13] lmolkova opened #22997 "GA OpenTelemetry tracing plugin"
We have a partner ask to GA OTel tracing plugins across all languages in [Zn], this is an uber-issue to track (node.js) work in this space.
Here're the sub-tasks:

- [ ] Support telemetry [schema versioning](https://opentelemetry.io/docs/reference/specification/schemas/overview/#schema-version-number)
  - Set it on tracer instrumentation scope

- [ ] Cleanups and breaking changes
  - Propagate con

[2022-08-24 17:13] azure-sdk commented on #22997
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Monitor - Exporter:0.2737961,Event Hubs:0.19156286,Service Bus:0.109126434'

[2022-08-24 20:26] mpodwysocki opened #22999 "[notification hubs] Fix Web Crypto SAS token creation"
Currently SAS Token Generation is broken for the browser as the return value from `signString` needs to be URI encoded through `encodeURIComponent`.

[2022-08-24 20:41] raymonddavis commented on #22726
I have set `preferredLocations` but this issue ignores `preferredLocations`.

I was able to get this reproduceable locally by forcing the http requests to cosmos to fail at the http layer.

If any of the follow error are returned from the http layer you can reproduce this.
[code]
Once that error throws you can see the client change regions, but the client will never attempt the failed region again

[2022-08-25 07:07] MaryGao opened #23004 "[Core HTTP] @azure/core-http Failed to set cookies when the domain is localhost after its sub-dependency upgraded"
- **Package Name**: @azure/core-http
- **Package Version**: both @azure/core-http@1 and @azure/core-http@2

**Describe the bug**
In autorest.typescript repo we have integration tests to set user agent info in cookies [code here](https://github.com/Azure/autorest.typescript/blob/main/packages/autorest.typescript/test/integration/userAgents.spec.ts#L14). In this test we add the @azure/core-http as t

[2022-08-25 11:11] olliglorioso commented on #12745
I fixed some issues a month ago, could someone check my PR?

[2022-08-25 17:50] sheilf-synapse commented on #23004
Salesforce is working on it
https://github.com/salesforce/tough-cookie/pull/253

[2022-08-25 18:55] xirzec commented on #23004
@MaryGao is there any work on core-http here? It looks like we're still depending on `^4.0.0`.

I believe you could work around this pulling in `4.1.0` by either depending on `~4.0.0` in your app itself or by using `overrides` in your `package.json`: https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides

Really having support for cookies in core is degenerate, we don't actually want

[2022-08-25 20:13] bperki8 opened #23006 "Error when attempting to use `InteractiveBrowserCredential` for downloading from blob storage"
- **Package Name**: `@azure/identity`
- **Package Version**: `2.0.0-beta.6`
- **Package Name**: `@azure/storage-blob`
- **Package Version**: `^12.11.0`
- **Operating system**: OSX
- [x] **nodejs**
    - **version**: `^13.7.0`
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: `~4.6.2`
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code

[2022-08-25 21:09] marche0133 opened #23007 "[Communication - Jobrouter] Complete unit and integration tests"
Complete unit and integration tests for current beta release

[2022-08-25 21:25] marche0133 opened #23008 "[Communication - Jobrouter] Add tracing to the sdk clients"
Template here: [azure-sdk-for-js/sdk/template/template/src/configurationClient.ts](https://github.com/Azure/azure-sdk-for-js/blob/295dbb025f646c6e846da877abda9e9d6b2ff8f8/sdk/template/template/src/configurationClient.ts#L143)

[2022-08-26 01:27] JameelKhan9 commented on #20689
@sajeetharan we have encountered the same issue, any update on the changes?

[2022-08-26 02:40] MaryGao commented on #23004
@xirzec If this issue could be resolved from the salesforce/tough-cookie lib, I think we don't need any work on core-http.

Thanks for the suggestion, we could lock our tough-cookie on `~4.0.0`. I believe this is our test cases existing in Track 1 and we'll investigate if we really need them in [here](https://github.com/Azure/autorest.typescript/issues/1516).

[2022-08-26 03:00] v-jiaodi opened #23013 "[Communication - Chat] Remove test resources failing in nightly runs"
Communication - Chat nightly test runs are failing with:

At D:\a\_work\_temp\257f7943-178e-4d59-a890-5985c02e0f2b.ps1:9 char:1
 eng/common/TestResources/Remove-TestResources.ps1 `
 CategoryInfo          : NotSpecified: (:) [Write-Error], WriteErrorException
 FullyQualifiedErrorId : Microsoft.PowerShell.Commands.WriteErrorException,Remove-TestResources.ps1

For more details check here:

- https://

[2022-08-26 03:01] azure-sdk commented on #23013
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.58670557,ARM:0.27928776,Resource Graph:0.025752967'

[2022-08-26 03:23] HarshaNalluru commented on #22962
Hey @sabharwal-garv,

Thanks for the message.

After talking to others in the feature crew for service-bus SDKs, we decided to go with "allow sending a single message without creating a batch for it", PR created for it https://github.com/Azure/azure-sdk-for-js/pull/23014. Feel free to provide feedback.

While we have this solution, we are also going to ask the service team for new properties on th

[2022-08-26 03:30] EmmaZhu commented on #22859
@diberry , anymore questions, please feel free to active the issue.

[2022-08-26 03:30] #22859 closed

[2022-08-26 05:42] EmmaZhu commented on #21863
Node customer reported this kind of issue, we'll keep current behavior.

[2022-08-26 05:42] #21863 closed

[2022-08-26 05:44] EmmaZhu commented on #21402
Any further assistant required, please feel free to reactive this issue.

[2022-08-26 05:44] #21402 closed

[2022-08-26 06:33] JameelKhan9 opened #23016 "RestError prototype mismatches class name instead is Error"
- **Package Name**: @azure/storage-blob
- **Package Version**: 12.11
- **Operating system**:
- [x] **nodejs**
    - **version**: v16.15.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: v4.8.2

**Describe the bug**
Facing issue with RestError imported from @azure/storage-blob.https://github.dev/Azure/azure-sdk-for-js/blob/80949a8a07f168c1e45188f52d9ddf09fffa8edc/s

[2022-08-26 06:49] theamanraj opened #23064 "@azure/arm-consumption - Issues while getting usageDetail data with SDK- v9.0.1"
Hi Team,

I'm using nodejs sdk to get usageDetail list:

![image](https://user-images.githubusercontent.com/33025632/186833390-7cf54717-f1c2-4bac-85c3-da53fa1b59cc.png)

In response I am getting the basic data as you can see in below snippet.

![image](https://user-images.githubusercontent.com/33025632/186838502-4734b88f-52d9-4198-9bd4-fb30caf4be8a.png)

But while using the API, I am getting the c

[2022-08-26 11:52] sabharwal-garv commented on #22962
Hi @HarshaNalluru ,
Thank you for the response.

I think this solution will work and will resolve our issue and I have gone through the code, just one suggestion if you think that will be helpful, please update the function description something like `for message having size greater then 1MB please send single message`, or please create separate function which will be only used to send large messa

[2022-08-26 13:01] rudfoss opened #23017 "Retrieving key vault secret takes 1m 40s with default credentials"
- **Package Name**: @azure/keyvault-secrrets
- **Package Version**: 4.5.1
- **Azure CLI Version**: 2.34.0
- **Azure PowerShell Version**: 7.2.1
- **Operating system**: Windows 10
- [ ] **nodejs**
    - **version**: 16.14.0
- [ ] **browser**
    - **name/version**: n/a
- [ ] **typescript**
    - **version**: 4.8.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code do

[2022-08-26 18:15] xirzec commented on #23017
Interesting! Is it any faster if you use either `AzureCliCredential` or `AzurePowerShellCredential` directly? Trying to figure out where the chain is getting held up.

[2022-08-26 18:23] xirzec commented on #23016
Not sure why the prototype is different, though `instanceof` works for me:
<img width="407" alt="image" src="https://user-images.githubusercontent.com/639216/186968000-491711a6-f6c9-4a57-97fa-68281774335f.png">

Can I ask what your code is doing that you need the prototype to match? Isn't checking the `name` property sufficient?

[2022-08-26 18:26] xirzec commented on #23016
Seems like this is consistent with vanilla ES6 classes:

<img width="190" alt="image" src="https://user-images.githubusercontent.com/639216/186968492-66d03818-fd3c-4ab3-90be-b1325549c808.png">

As an aside, you could use `e.constructor` if you wanted to check for if it was made by `RestError` or not

[2022-08-26 18:28] xirzec commented on #23004
I'm going to close this for now, but please reopen if there are changes you need in core-http to unblock this.

[2022-08-26 18:28] #23004 closed

[2022-08-26 18:57] timovv commented on #18004
Done in https://github.com/Azure/azure-sdk-for-js/pull/21702

[2022-08-26 18:57] #18004 closed

[2022-08-26 19:20] rudfoss commented on #23017
`AzureCliCredential` is pretty fast (about 4 seconds). I'd guess it's because I'm connecting to a Key Vault in East US from Norway.
`AzurePowerShellCredential` is about the same (5-ish seconds).

[2022-08-26 19:36] rudfoss commented on #23017
I've added logs from one of the slow runs here: https://github.com/rudfoss/keyvault-secret-test/blob/main/logs.txt

[2022-08-26 19:58] xirzec commented on #23006
@bperki8 just do double check the obvious, did you configure the redirect uri for the application whose client id you are passing to support localhost:8080? https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-app-registration#redirect-uris

[2022-08-26 20:20] timovv commented on #23017
Hey @rudfoss, thanks for the logs and detailed repro!

What environment are you running this on? Is it a local machine or somewhere in Azure (a VM, Azure Cloud Shell...)? It appears that DefaultAzureCredential is trying to authenticate with Managed Identity first and is failing. I can't deduce the reason from the logs alone, but maybe the Managed Identity service principal doesn't have the correct

[2022-08-26 20:31] bperki8 commented on #23006
@xirzec, that we did:

![image](https://user-images.githubusercontent.com/31372534/186986058-550b7577-d0db-467f-a9d0-58eb57a6ac54.png)

👍

[2022-08-26 20:40] mpodwysocki commented on #22955
Closed by #23018

[2022-08-26 20:40] #22955 closed

[2022-08-26 20:50] rudfoss commented on #23017
Ho @timovv. Thanks for the reply.

I'm running the code locally from my machine (win 10, node 16) connecting to a key vault in norway and east us, both set up with RBAC auth and my user assigned as Key Vault admin. I've installed the Azure CLI and Azure PowerShell and I'm signed in to both. I don't have the versions in front of me atm, but I'll add them tomorrow.

The authentication eventually wor

[2022-08-26 21:53] HarshaNalluru commented on #22962
Yes, @sabharwal-garv. I'll be updating the function description.

[2022-08-26 22:30] timovv commented on #23017
What you're describing, with the credential working fine for App Configuration, does strike me as odd.  When you make the fast call to `getConfigurationSetting` (or whatever App Configuration client method you're using), are you doing that after already making a call to `secretClient.getSecret`? If you're running them one after the other, it's possible that Identity is doing some caching. I'd also

[2022-08-26 23:07] xirzec commented on #23006
I spent a bit of time trying to repro this so I could debug it, but I can't seem to get past this blocker:

<img width="274" alt="image" src="https://user-images.githubusercontent.com/639216/187001338-5df2fbf7-8f13-47f5-8370-ef45ebb1dd01.png">

Whenever I have my app request user_impersonation of storage it claims it needs admin consent... even though I can't see any reason why it should. Using ot

[2022-08-26 23:23] bperki8 commented on #23006
@xirzec, we ran into that one, too. I believe the fix is to go to the `Permissions` tab of the app and grant admin consent for the entire tenant. In the case of an app on the Microsoft tenant, that means submitting an admin consent request through the [SPACE tool](https://spacetool.microsoft.com/). Once our admin consent request was approved, we no longer saw the "Need admin approval" message, and

[2022-08-27 00:46] NuttareeB opened #23023 "[event-hubs] Bundle size is large"
- **Package Name**: @azure/event-hubs
- **Package Version**:  5.8.0
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 16.14.2
- [x] **typescript**
    - **version**: 4.4.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Description and screenshots**
The event hubs bundle size is

[2022-08-27 02:35] heaths opened #23024 "Update Text Analytics swagger references"
Now that https://github.com/Azure/azure-rest-api-specs/issues/20024 is resolved, update your Text Analytics swagger references to pick up the properly cased `HealthcareEntityCategory` enum values:

* https://raw.githubusercontent.com/Azure/azure-rest-api-specs/1646226d874de6e8d36ebd3ad088c6c5f6cc6ed0/specification/cognitiveservices/data-plane/TextAnalytics/stable/v3.1/TextAnalytics.json
* https://

[2022-08-27 03:03] xirzec commented on #23006
Appreciate the tips! I might try making a separate test tenant to chase this down more, but can I understand your scenario a bit more?

I'm assuming you can't use some kind of managed identity or client secret to have the app itself authenticate to the storage account and do the download, which is why you are using a flow that requires user authentication. I wonder if the `OnBehalfOfCredential` wo

[2022-08-27 08:48] rudfoss commented on #23017
I've tried both ways including creating new instances of the credential for each one. Same behavior.

[2022-08-27 09:57] rudfoss commented on #23017
I'm stepping through the client core code atm and it seems there are several requests to:
[code]

Which eventually fails with `connect ETIMEDOUT 169.254.169.254:80`

A bit of googling turned up [this](https://serverfault.com/questions/427018/what-is-this-ip-address-169-254-169-254):
Of particular note, 169.254.169.254 is used in [AWS](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance

[2022-08-27 10:54] rudfoss commented on #23017
Ok, so I think I may have found at least **an** issue, though it's probably not the cause of mine.

The `ManagedIdentityCredential` eventually ends up calling `isAvailable` on this line: https://github.com/Azure/azure-sdk-for-js/blob/d63c111c9c6f4ad8e3c2303e205c1dee1fd8e89a/sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts#L112

On my machine this results in a request to `

[2022-08-27 13:03] sabharwal-garv opened #23025 "Not getting correct error response in case of timeout error"
- **Package Name**:  @azure/cosmos
- **Package Version**:  3.14.1
- **Operating system**: MAC
- [ ] **nodejs**
    - **version**: 16
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
A clear and con

[2022-08-27 13:04] azure-sdk commented on #23025
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.16400717,Storage:0.14568895,Service Bus:0.12786712'

[2022-08-27 15:57] isaac-mcfadyen opened #23026 "[CosmosDB] Force fetch instead of NodeHttpClient"
**Is your feature request related to a problem? Please describe.**
- Environments such as [Cloudflare Workers](https://workers.cloudflare.com/) can communicate over HTTP but don't support Node modules such as `http` and use a [built-in `fetch`](https://developers.cloudflare.com/workers/runtime-apis/fetch/) instead, similar to browsers.
- However, when installing `@azure/cosmos` NodeHttpClient is u

[2022-08-27 23:01] xirzec commented on #23017
I'll dig more into this on Monday, but since you were so wonderful to have debugged this so extensively, I wanted to point out one special thing about keyvault: namely that it uses challenge based authentication:

https://github.com/Azure/azure-sdk-for-js/blob/480e82cd0f9a8c40cd4ce66df978962661014c19/sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts#L45

This causes it to forc

[2022-08-29 00:33] JameelKhan9 commented on #23016
We are using typescript and rely on the `instanceof` to know what "type" of error we are working with.

Due to using typescript, an `Error` does not have a name, constructor, or proto property in its type definition. This is why I opened the issue, and for now will have to do this:
[code]

The reason behind us having to handle a RestError is that we are receiving errors from Web PubSub with empty

[2022-08-29 01:31] JameelKhan9 commented on #23016
Turns out that WebPubSub uses the RestError from `@azure/core-rest-pipeline`. That is why the `instanceof` in our runtime is returning false, they are not the same RestError.

@xirzec @maorleger I will let you both decide if they should be sharing the same RestError.

Also, the fact that messages are coming through as empty strings should probably be fixed or investigated. Do let me know if you wa

[2022-08-29 05:23] rudfoss commented on #23017
Thanks for the reply @xirzec , I didn't mean for people to work weekends on this. I just found it interesting enough to tinker with on the side and wanted to document my findings. I'm perfectly happy to wait for a resolution here, especially now that I've got my hacky workaround. Let me know if I can assist with debugging this.

I'm curious why there would need to be a blacklist of errors [here](h

[2022-08-29 07:31] mfehlhaber commented on #22722
I ran a test over the weekend. Just a simple timer triggered Function that writes to Cosmos DB. I had three versions of this Function App: `"@azure/identity": "^2.0.5"`, `"@azure/identity": "^2.1.0"`, and `"@azure/identity": "^3.0.0-beta.1"`

[code]

v2.1.0 as well as v3.0.0-beta.1 failed after ~24h. Not so v2.0.5. It still runs fine after more than 48h.

[2022-08-29 12:15] petrsvihlik commented on #22951
RG cleanup was failing...it has been stabilized

[2022-08-29 12:15] #22951 closed

[2022-08-29 17:39] xiangyan99 opened #23033 "Expose API to configure filename of token cache"
**Intro:**
Customers expect the identity can be shared between Azure PowerShell and Azure CLI. It allows the user to log into Azure once using either Azure PowerShell or Azure CLI. Customers can then switch script language according to their needs. It's very important to end users when there's a feature gap between Azure PowerShell and Azure CLI.

**Proposal:**
Currently, the token cache file is s

[2022-08-29 17:39] azure-sdk commented on #23033
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Configuration:0.56844413,Extensions:0.13713013,API Management:0.05199336'

[2022-08-29 17:48] xirzec commented on #23016
Ah yes, this is one of the issues that can arise. The other problem with `instanceof` is if you end up in a situation where you depend on different versions of the package that provides the error. We have a guideline related to this: https://azure.github.io/azure-sdk/typescript_implementation.html#ts-error-use-name

Because we are not totally heartless, we now provide a type guard you can use to a

[2022-08-29 17:52] xirzec commented on #23026
Exposing passing a custom `HttpClient` seems like the right thing here, since there are various reasons why consumers may wish to switch out the transport.

[2022-08-29 17:54] xirzec commented on #23023
/cc @jeremymeng

[2022-08-29 17:54] azure-sdk commented on #23025
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.16400717,Storage:0.14568895,Service Bus:0.12786712'

[2022-08-29 20:28] xirzec commented on #23017
No worries! I was very curious about this one so I couldn't help but look at it again briefly on Saturday.

Yes, this feels extra odd since the way we are making this request means it shouldn't be throwing if it gets back any kind of valid HTTP response (even if that response is a 4xx, 5xx, etc.) I'm very tempted to remove these checks and treat any throw as permanent failure.

My best guess here

[2022-08-29 21:26] xirzec commented on #23017
@rudfoss have an attempt at a fix in #23035 if you want to take a look! A lot of the folks who I want to review this are out this week, so this may have to ship in October if your workaround can hold that long. 😄

[2022-08-29 21:30] xirzec commented on #23016
Going to close this for now as I don't think there's specific work we intend to do in core for this, but please re-open if I'm missing something!

[2022-08-29 21:30] #23016 closed

[2022-08-29 22:09] xirzec commented on #22983
Making an attempt at pinning down some heuristics. I'm ready to be heavily edited/corrected for spec correctness.

An interface/type is considered a "return type" if it:
1. Is returned by a method
2. Is a publicly available property on a client or client-like

An interface/type is considered an "input type" if it:
1. Is used as the type of a parameter to a method or constructor

An interface/type

[2022-08-29 22:14] xirzec commented on #5696
@Marcus-James-Adams can you help me to understand where you would like to use `AZURE_SUBSCRIPTION_ID`? Are you trying to avoid having to retrieve the value from the environment manually when using a `ResourceManagementClient`?

It's not clear to me how Core / Identity can make use of this information at the moment.

[2022-08-30 00:10] JameelKhan9 opened #23036 "Web PubSub RestError errors contain empty message string"
- **Package Name**: @azure/web-pubsub
- **Package Version**: 1.0.0
- [x] **nodejs**
    - **version**: v16.15.0
- [x] **typescript**
    - **version**: v4.8.2

**Describe the bug**
Web PubSub errors are coming through as empty strings.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup local Function Apps with the incorrect role so that RBAC fails when communicating to Web PubSub
2. Have

[2022-08-30 00:10] azure-sdk commented on #23036
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Services:0.35826388,Web Apps:0.12612976,Service Bus:0.06609376'

[2022-08-30 02:18] azure-sdk opened #23038 "Dependency package typedoc has a new version available"
We have identified a dependency on version 0.15.2 of typedoc. A new version (0.23.11) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package (/sdk

[2022-08-30 02:18] azure-sdk commented on #23038
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.24685483,Service Bus:0.17888296,EngSys:0.055681795'

[2022-08-30 04:51] rudfoss commented on #23017
@xirzec Honestly, I expected this to be a problem in my code so having it addressed this quickly is great! I'll leave my workaround in place and remove it once a new release is available. The PR looks good to me at least :)

Thanks for looking at this so quickly! I really appreciate it.

[2022-08-30 06:17] zzhxiaofeng opened #23040 "Azure Text Analytics Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/cognitivelanguage/ai-language-text#custom-single-label-classification)
![GetImage (30)](https://user-images.githubusercontent.com/20970631/187339888-bcf42fcb-3316-4e8f-aef7-67134738ea46.png)
Reason:
The property `classification` does not exist in the returned result.

Suggestion:
Update `result.classification` to `result.cla

[2022-08-30 06:17] zzhxiaofeng opened #23041 "Azure Confidential Ledger Readme Issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/confidentialledger/confidential-ledger-rest#post-ledger-entry)
<img width="286" alt="GetImage (31)" src="https://user-images.githubusercontent.com/20970631/187340395-23afd965-3a4c-438c-8492-71d21104314d.png">
Reason:
Don’t find type `PostLedgerEntryParameters` under function `post`.

Suggestion:
Update `PostLedgerEntryParame

[2022-08-30 06:17] zzhxiaofeng opened #23042 "Azure Net App Sample Issue"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/netapp/arm-netapp/samples/v16/javascript/netAppResourceCheckNameAvailabilitySample.js#L31), [link2](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/netapp/arm-netapp/samples/v16/typescript/src/netAppResourceCheckNameAvailabilitySample.ts#L31), [link3](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/netapp/ar

[2022-08-30 06:17] azure-sdk commented on #23040
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Text Analytics:0.1691174,Notification Hub:0.10886719,KeyVault:0.056262285'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5209229,Mgmt:0.45072258,Service:0.021964157'

[2022-08-30 06:17] azure-sdk commented on #23042
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Services:0.28956097,Docs:0.062473122,Network - Virtual Network:0.040446203'

[2022-08-30 06:17] azure-sdk commented on #23041
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.2319962,Docs:0.062236477,Cognitive - QnA Maker:0.048790842'

[2022-08-30 06:55] zedy-wj commented on #19442
Currently `AAD tests` are skipped in the test code, this issue no longer affects multi-cloud tests, can we close it first?
![image](https://user-images.githubusercontent.com/81678720/187369985-9556a7b0-4f47-4364-b12c-4a3b0a06a120.png)

[2022-08-30 08:41] zzhxiaofeng opened #23044 "[Form Recognizer] Execute Samples failing in nightly runs"
Form Recognizer nightly test runs are failing with:

For more details check here:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1813054&view=results

[2022-08-30 08:41] zzhxiaofeng opened #23045 "[Communication - SMS] SmsClient [Live] [AAD] test send method can send an SMS message with options passed in failing in nightly runs"
Communication - SMS nightly test runs are failing with:

For more details check here:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1814596&view=results

[2022-08-30 08:41] zzhxiaofeng opened #23046 "[Event Hubs] Event Processor InMemory Partition Manager should receive events from the checkpoint failing in nightly runs"
Event Hubs nightly test runs are failing with:

For more details check here:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1813755&view=results

[2022-08-30 08:41] zzhxiaofeng opened #23047 "[Key Vault - Administration] Deploy test resources failing in nightly runs"
Key Vault - Administration nightly test runs are failing with:

For more details check here:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1813663&view=results

[2022-08-30 08:41] zzhxiaofeng opened #23048 "[Schema Registry] Install package failing in nightly runs"
Schema Registry nightly test runs are failing with:

For more details check here:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1816446&view=results

[2022-08-30 08:41] zzhxiaofeng opened #23049 "[Schema Registry - Avro] Install package failing in nightly runs"
Schema Registry - Avro nightly test runs are failing with:

For more details check here:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1816499&view=results

[2022-08-30 08:41] zzhxiaofeng opened #23050 "[Aggregate-reports] Download PoliCheck Exclusion Database failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

INFO: Scanning...
INFO: Any empty folders will not be processed, because source and/or destination doesn't have full folder support
failed to perform copy command due to error: cannot start job due to error: cannot list files due to reason -> github.com/Azure/azure-storage-blob-go/azblob.newStorageError, /home/vsts/go/pkg/mod/github.com/!azure

[2022-08-30 08:42] azure-sdk commented on #23048
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3260994,Schema Registry:0.16330522,Service Bus:0.043294013'

[2022-08-30 08:42] azure-sdk commented on #23049
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3738069,Schema Registry:0.1438945,Storage:0.07621872'

[2022-08-30 09:25] kotewar commented on #22321
Hi @EmmaZhu,

On what date would the GA release happen in September?

[2022-08-30 09:49] federicoder opened #23051 "Problem with integration with stencil js library."
- **Package Name**: @azure/servicebus
- **Package Version**: 7.7.0
- **Operating system**: linux
- [16.14.0 ] **nodejs**
- [Chrome ] **browser**
- [ 4.7.2] **typescript**
    - **version**:

**Describe the bug**
I'm tring to use azure service bus on stencil js library to build a sender of messages, but i have this error in console:

 https://i.stack.imgur.com/EoJZe.png

I have a topic on stack ove

[2022-08-30 11:42] paulius-valiunas commented on #22747
There hasn't been any activity in this issue since 3 weeks, is this still under consideration?

[2022-08-30 13:01] epsilonmb opened #23052 "@azure/cosmos 3.17.0 require @azure/identity, throws import error (Cannot find module)"
- **Package Name**:  @azure/cosmos
- **Package Version**:  3.17.0
- **Operating system**: linux
- [* ] **nodejs**
    - **version**:  v16.16.0
- [ *] **browser**
    - **name/version**:
- [ *] **typescript**
    - **version**:  4.7.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bu

[2022-08-30 13:41] HarshaNalluru opened #23054 "[Service Bus] Stress tests build failure"
![image](https://user-images.githubusercontent.com/10452642/187452632-daff9c5e-d728-4067-b778-799bcf98919e.png)

[2022-08-30 13:45] bperki8 commented on #23006
@xirzec , I'll have to look into the `OnBehalfOfCredential` to see if it will work for our needs. In the meantime, here's our situation in case you can tell us what credential *would* work.

We already have a script written that will perform this download suing the [`az artifacts universal download`](https://docs.microsoft.com/en-us/cli/azure/artifacts/universal?view=azure-cli-latest) command. But

[2022-08-30 15:37] bperki8 commented on #23006
After watching the video on [`What are managed identities for Azure resources?`](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview) and reading this section about the [`DefaultAzureCredential`](https://docs.microsoft.com/en-us/javascript/api/overview/azure/identity-readme?view=azure-node-latest#defaultazurecredential), I think this may be a solutio

[2022-08-30 15:52] goenning commented on #22722
Just lost 2 days troubleshooting this 😔

As reported by multiple people above, on version 2.1.0 sometimes the expiresOnTimestamp is `NaN`, which caused our internal refresh logic to fail and never refresh it, so after 24h the token became invalid and we were still trying to use it.

For context, we're using App Service with user-assigned managed identity.

[2022-08-30 17:46] deyaaeldeen commented on #23049
I reran the pipeline and it succeeded in https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1816499&view=results.

[2022-08-30 17:46] #23049 closed

[2022-08-30 17:50] xirzec commented on #23052
Looks like a duplicate of #22968

[2022-08-30 17:50] #23052 closed

[2022-08-30 17:52] xirzec commented on #23036
I'm guessing this is because the swagger does not have a payload for this response code and it is falling back to the basic "non-success" http behavior

[2022-08-30 18:03] xirzec commented on #23051
At a casual glance, `nextTick` is a node-ism that doesn't exist in the browser, so I suspect there is something going on with your node polyfills, though it seems like your config is a bit different from what we have in our README:

https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/servicebus/service-bus/README.md#javascript-bundle

[2022-08-30 19:44] xirzec commented on #23006
Ah I think I see the shape of this a bit better. Am I correct in understanding you are building a command-line tool that can download a blob using the user's credentials?

`DefaultAzureCredential` is magical when it works, though it does require some form of active identity present on the machine. Managed Identity is more about authenticating a deployed service without extra configuration than it

[2022-08-30 19:50] deyaaeldeen commented on #23048
I reran the pipeline and it succeeded in https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1816446&view=results

[2022-08-30 19:50] #23048 closed

[2022-08-30 19:51] #22876 closed

[2022-08-30 20:51] bperki8 commented on #23006
Yeah, sorry I wasn't clearer about that, but this is correct. We are doing this as part of a command line tool for downloading and installing our sdk binaries using the user's credentials.

[2022-08-31 07:40] qiaozha commented on #23023
cc @qiaozha Want to know the progress of how you handling this issue. Thanks

[2022-08-31 07:51] azure-sdk commented on #23064
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Consumption - UsageDetailsAndExport:0.12150846,Azure.Identity:0.078978546,EngSys:0.06952426'

[2022-08-31 10:31] federicoder commented on #23051
hi xiarzec, same error if i use webpack.config.js configuration explained here

[2022-08-31 11:47] SaNch0sE opened #23065 "Update @azure/core-util package on npm"
- **Package Name**: @azure/core-util
- **Package Version**: 1.0.0
- **Operating system**: Fedora 36
- [ ] **nodejs**
    - **version**: v16.13.2
- [ ] **browser**
    - **name/version**: -
- [ ] **typescript**
    - **version**: 4.3.5

**Describe the bug**
Error: "TypeError: coreUtil.isObjectWithProperties is not a function" in module @azure/notification-hubs is caused by invalid version of @azure

[2022-08-31 17:04] jeremymeng commented on #23065
We plan to release @azure/core-util v1.0.1 tomorrow.

[2022-08-31 17:04] jeremymeng commented on #23065
@SaNch0sE Thank you for reporting the issue!

[2022-08-31 17:08] jeremymeng commented on #23051
Looks that stencil js is using Rollup.  rollup node polyfills plugin claims that polyfills for the two node modules we use in service bus (process and buffer) are supported.  I will have a look.

[2022-08-31 18:06] xirzec commented on #23065
/cc @mpodwysocki heads up on this

[2022-08-31 18:07] #22800 closed

[2022-08-31 18:40] jeremymeng opened #23067 "[core-amqp noitification-hubs] use hmac helper from core-util"
instead of having its own https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/notificationhubs/notification-hubs/src/auth/hmacSha256.ts

we could use `computeSha256Hmac` from core-util

https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/core/core-util/src/sha256.ts

[2022-08-31 20:07] jeremymeng commented on #23050
This is due to our KeyVault key rotation which invalidates the SAS token to the blob. EngSys team is fixing this.

[2022-08-31 20:07] #23038 closed

[2022-08-31 21:42] bperki8 commented on #23006
Hey, @xirzec! We believe we've found the solution to our problem (while still using the `InteractiveBrowserCredential`). It took two things on our part.

1. We had not assigned the needed role (`Storage Blob Data Reader`) to the app that was doing the downloading in the relevant blob storage account. Adding that role was one of the steps that helped.
2. We changed the platform type from `Single Pa

[2022-08-31 21:42] #23006 closed

[2022-08-31 21:44] deyaaeldeen commented on #12745
@olliglorioso could you please share your PR?

[2022-08-31 23:41] azure-sdk opened #23070 "Dependency package @types/glob has a new version available"
We have identified a dependency on version 7.2.0 of @types/glob. A new version (8.0.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package (/sd

[2022-08-31 23:43] azure-sdk commented on #23070
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.38871658,Service Bus:0.16958246,Azure.Identity:0.040283725'

[2022-09-01 00:11] sharathmalladi opened #23071 "PUT calls with binary payload are not working as expected"
- **Package Name**: @azure-rest/ai-personalizer
- **Package Version**: 1.0.0-beta.1
- **Operating system**: Windows 11
- [ ] **nodejs**
    - **version**: v16.15.1
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: "typescript": "~4.2.0"
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://do

[2022-09-01 00:11] azure-sdk commented on #23071
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute:0.0732373,Storage:0.053144976,App Services:0.037913825'

[2022-09-01 06:06] kazrael2119 opened #23074 "Check operation definitions and swagger definitions"
Need to verify that sample parameters error is caused by the difference between operation definitions and swagger definitions or any other reasons

[2022-09-01 08:21] laudibert commented on #22963
@HarshaNalluru any clue to what could be happening? Any chance of having an automatic re-connection?

[2022-09-01 08:34] #23074 closed

[2022-09-01 09:01] SaNch0sE commented on #23065
Okay, waiting for updates today

[2022-09-01 18:40] jeremymeng commented on #23051
@federicoder I was able to send messages successfully to Azure Service Bus in a Stencil Component Starter template project.  Here's the most relevant pieces in my `stencil.config.ts`:

[code]

Note that I am using `rollup-plugin-polyfill-node` for NodeJS polyfills It is a more updated fork of `rollup-plugin-node-polyfills` that is mentioned in StencilJS documentation.

I am going to update our REA

[2022-09-01 19:41] #22316 closed

[2022-09-01 20:20] lmazuel opened #23075 "[FEATURE REQ] Update Schema Type to support JSON"
Library name
Schema Registry

Please describe the feature.
From Eric:
the schema registry client will need to support the same set of operations for avro with json and custom. Peeking at the code/api, it looks like the only thing that is preventing the current client to do things like put/get schema of other type is the schemaType parameter (which is an enum) so from interface point of view, addin

[2022-09-01 20:44] HarshaNalluru opened #23076 "[Service Bus] Live tests failing"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1820834&view=logs&j=b800360f-d572-5e16-3e20-e4f204d3fbd3&t=3b97752f-f53c-5e36-3379-45368efa0b3c

[2022-09-01 21:55] jeremymeng opened #23080 "[samples] review/update standalone samples"
I don't remember seeing an existing issue.

We have samples under https://github.com/Azure/azure-sdk-for-js/tree/main/samples.  Some are last touched over one year ago. It would be nice to update them to use latest dependency versions and update as needed.

[2022-09-02 00:01] jeremymeng commented on #22837
Fixed by #22836

[2022-09-02 00:01] #22837 closed

[2022-09-02 02:49] v-jiaodi opened #23084 "[Key Vault - Keys] Keys client - Long Running Operations - recoverDelete can resume from a stopped poller failing in nightly runs"
Key Vault - Keys nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\keyvault\keyvault-keys\test\public\lro.recoverDelete.spec.ts:79:12)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1824038&view=results

[2022-09-02 02:49] v-jiaodi opened #23085 "[Service Bus] Premium namespaces - Sending "before all" hook in "Premium namespaces - Sending" failing in nightly runs"
Service Bus nightly test runs are failing with:

    at parseServiceBusConnectionString (dist-test/index.browser.js:41130:19)
    at createConnectionContextForConnectionString (dist-test/index.browser.js:41211:24)
    at new ServiceBusClient (dist-test/index.browser.js:44786:43)
    at Context.<anonymous> (dist-test/index.browser.js:67998:32)

For more details check here:

- https://dev.azure.com/

[2022-09-02 07:06] vicancy commented on #23036
any concerns to empty "message"?

[2022-09-02 07:53] federicoder commented on #23051
@jeremymeng thank you, i updated my stencil.config.ts on my project and now it's work. Later i will try to build a receiver but i think i will not have problems.

[2022-09-02 11:00] ArunaSingh05 opened #23087 "[CommunicationService] - Call doesn't disconnect if PSTN callee rejects a call"
- **@azure/communication-calling**:
- **1.6.3**:
- **macOS, Windows, Linux**:
- [ ] **Javascript SDK**
    - **1.6.3**:
- [ ] **Chrome/ Safari/Firefox**
- [ ] **typescript**
    - **4.4**:

**Describe the bug**
I am using azure/communication-calling javascript SDK in my application. We are trying to build a calling feature using PSTN.
I found a bug or some weird behavior with the SDK. SDK doesn't

[2022-09-02 11:06] ArunaSingh05 opened #23088 "[CommunicationService] - Not able to hangUp call in none or connecting state ( PSTN )"
- **@azure/communication-calling**:
- **1.6.3**:
- **macOS, Windows, Linux**:
- [ ] **Javascript SDK**
    - **1.6.3**:
- [ ] **Chrome/ Safari/Firefox**
- [ ] **typescript**
    - **4.4**:

**Describe the bug**
I am using azure/communication-calling javascript SDK in my application. We are trying to build a calling feature using PSTN.
We found an issue with the SDK when a call is initiated and it

[2022-09-02 11:17] SaNch0sE commented on #23065
Version has been updated. Closing issue

[2022-09-02 11:17] #23065 closed

[2022-09-02 11:23] SaNch0sE opened #23089 "@azure/notification-hubs TypeError: xml.feed.entry is not iterable"
- **Package Name**: @azure/notification-hubs
- **Package Version**: 1.0.0-beta.3
- **Operating system**: Fedora 36
- **nodejs**
    - **version**: v16.13.2
- **typescript**
    - **version**: 4.3.5

**Describe the bug**
Error while using listRegistrationsByTag function:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create new NotificationHubsServiceClient
2. Use client.listRegistrat

[2022-09-02 11:23] azure-sdk commented on #23089
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Container Registry:0.51522,Notification Hub:0.17740136,Event Hubs:0.09134644'

[2022-09-02 11:24] ArunaSingh05 opened #23090 "[CommunicationService] - macOS - Safari getting noise when call gets mute from callee end ( PSTN )"
- **@azure/communication-calling**:
- **1.6.3**:
- **macOS, Windows, Linux**:
- [ ] **Javascript SDK**
    - **1.6.3**:
- [ ] **Chrome/ Safari/Firefox**
- [ ] **typescript**
         **4.4**

**### BROWSER: Safari 15.1**

**Describe the bug**
I am using azure/communication-calling javascript SDK in my application. We are trying to build a calling feature using PSTN.
I initiated a call to my cell p

[2022-09-02 19:14] jeremymeng commented on #23051
@federicoder glad to hear that there's progress!  Feel free to report to us if there are any further issues.

[2022-09-02 20:22] joheredi commented on #23090
@DominikMe can you please help me route this issue?

[2022-09-02 20:39] #20936 closed

[2022-09-02 20:40] joheredi commented on #20936
This is now supported by default

[2022-09-02 20:41] #11179 closed

[2022-09-02 20:41] #11209 closed

[2022-09-02 20:41] #11210 closed

[2022-09-02 21:36] tmcgannon commented on #22341
@joheredi Any updates on this issue?

[2022-09-05 02:09] kazrael2119 commented on #21116
When I tried to use sdk to create this resource, I got the same statusCode. And then I tried to create it on portal. I found that I must click the button called "Accept legal term" after choosing the extension. But in api ,I couldn't find any parameters about it.
![image](https://user-images.githubusercontent.com/98569699/188346367-f8b39f3c-bb1c-409d-a85c-0586427573a4.png)

![image](https://user-i

[2022-09-05 22:47] skywalker45 opened #23097 "Getting InvalidCharacterError when i try to connect to the cosmosdb."
- **Package Name: @azure/cosmos**:
- **Package Version: 3.17.0**:
- **Operating system: windows**:
- [x ] **nodejs**
    - **version: 18.6.0**:
- [x ] **browser**
    - **name/version: mozilla, edge**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describ

[2022-09-05 22:58] annatisch opened #23098 "[Tables] Support geo-redundancy for Cosmos and Storage"
Add support for Geo-redundancy in the Tables SDK.
This is supported by Cosmos as multiple failover regions for both read and write.

Initial proposal suggests exposing two client configuration settings:
- `read_regions`: A list of strings with the regional account URLs, in the order that they will be attempted.
- `write_regions`: Same but for write operations.

This should likely be implemented as

[2022-09-05 23:32] skywalker45 commented on #23097
Looking at the code, the connection object is structured wrong. Even though it connected to the db, the parameters were wrong. not a bug.

[2022-09-05 23:32] #23097 closed

[2022-09-06 02:51] v-jiaodi commented on #22670
This issue reappears.

For more details check here:
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1828805&view=results

[2022-09-06 02:57] v-jiaodi opened #23101 "[Form Recognizer] Execute Samples failing in nightly runs"
Form Recognizer nightly test runs are failing with:

    at extractField (D:\a\_work\1\s\sdk\formrecognizer\ai-form-recognizer\src\documentModel.ts:45:11)
    at toDocument (D:\a\_work\1\s\sdk\formrecognizer\ai-form-recognizer\src\documentModel.ts:120:84)
    at Array.map (<anonymous>)
    at transformResult (D:\a\_work\1\s\sdk\formrecognizer\ai-form-recognizer\src\documentModel.ts:102:42)
    at

[2022-09-06 02:57] v-jiaodi opened #23102 "[Communication - Chat] ChatThreadClient successfully sends typing notification failing in nightly runs"
Communication - Chat nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:251:17)
    at deserializeResponseBody (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:159:43)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk

[2022-09-06 02:57] v-jiaodi opened #23103 "[Event Hubs] EventHubConsumerClient subscribe() with EventPosition specified failing in nightly runs"
Event Hubs nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1830637&view=results

[2022-09-06 02:57] v-jiaodi opened #23104 "[Search Documents] The job running on agent azsdk-pool-mms-win-2019-general 11 failing in nightly runs"
Search Documents nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1830530&view=results

[2022-09-06 02:57] v-jiaodi opened #23105 "[Service Bus] Send Batch Send multiple homogeneous messages - size < max_batch_size_allowed UnpartitionedSubscription: SendBatch failing in nightly runs"
Service Bus nightly test runs are failing with:

    at buildError (/mnt/vss/_work/1/s/sdk/servicebus/service-bus/src/util/atomXmlHelper.ts:125:43)
    at deserializeAtomXmlResponse (/mnt/vss/_work/1/s/sdk/servicebus/service-bus/dist-esm/src/util/atomXmlHelper.js:31:162)
    at TopicResourceSerializer.deserialize (/mnt/vss/_work/1/s/sdk/servicebus/service-bus/src/serializers/topicResourceSerialize

[2022-09-06 02:58] v-jiaodi opened #23106 "[Storage - Blob] syncUploadFromURL large content with timeout failing in nightly runs"
Storage - Blob nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\storage\storage-blob\test\node\blockblobclient.spec.ts:632:14)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1826817&view=results

[2022-09-06 02:58] azure-sdk commented on #23104
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3472431,Search:0.3011779,Azure.Identity:0.049144026'

[2022-09-06 02:58] v-jiaodi opened #23107 "[Storage - File Datalake] DataLakePathClient DataLakeFileClient create with all parameters failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

    at Context.<anonymous> (test/pathclient.spec.ts:196:12 <- dist-test/index.browser.js:76654:22)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1828791&view=results

[2022-09-06 02:58] azure-sdk commented on #23107
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5933376,Data Lake Storage Gen2:0.39848974,Data Lake:0.0030199182'

[2022-09-06 05:55] kazrael2119 commented on #23064
Hi @theamanraj , you can use the latest sdk to list UsageDetails. It may help you to solve this issue. Here is the link: https://www.npmjs.com/package/@azure/arm-consumption/v/9.1.0

[2022-09-06 06:23] theamanraj commented on #23064
Yes, it works, thanks for looking into it.

[2022-09-06 06:23] #23064 closed

[2022-09-06 09:13] dhensby commented on #23017
I have run into this problem locally too. It looks like the cause has been correctly diagnosed in the linked PR. The timeout value when "pinging" the IMDS endpoint is set to `0` when I turn logging on, meaning it takes a very long time for this "ping" to fail.

What is odd is that I'm finding this behaviour to be intermittent. Sometimes I'll get a response quite quickly (the "ping" will fail fast)

[2022-09-06 15:30] xt0rted commented on #9899
It's been awhile since I last looked at this code, but the issue seems to be resolved now with the latest versions of everything.

[2022-09-06 17:03] jeremymeng commented on #23105
This might be related to new test added recently. @HarshaNalluru is looking into this.

[2022-09-06 17:04] jeremymeng commented on #23104
The test resource deployment has been slower recently.

[2022-09-06 17:06] jeremymeng commented on #23105
issue #23076

[2022-09-06 17:58] jeremymeng commented on #22980
Now this is blocking the `rush update --full` automation
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1832991&view=logs&j=ced21a9a-dda2-553c-e1fe-5294ad6c26a1&t=054ca053-fc29-50ab-055c-0b4011aca4ac (MS INTERNAL)
.
└─┬ @rush-temp/monitor-opentelemetry-exporter
  ├─┬ @opentelemetry/instrumentation-http
  │ └─┬ @opentelemetry/core
  │   └── ✕ unmet peer @opentelemetry/api@">=1.0.0

[2022-09-06 18:05] diberry commented on #21572
I ran this procedure on my mac monterey 12.5.1 with docker version 20.10.17 and didn't hit this issue. I'm going to link from the procedure to this issue.

#please-close

[2022-09-06 18:09] mpodwysocki commented on #23067
@jeremymeng the two are not equivalent as the `computeSha256Hmac` puts the `key` into a `Buffer` which is not necessary in my case.  core-util would have to expose a different method that does not put the key into a `Buffer` for this to be workable from Notification Hubs.

[2022-09-06 18:32] mpodwysocki commented on #23089
@SaNch0sE I am going to need more information on this bug.  I cannot reproduce on this side with this limited of information.

For example:

1. How many registrations do you currently have?  Do you know the number?  Is it empty?
2. Can you run the `samples-dev` samples for `listRegistrations.ts` and `listRegistrationsByTag` using your hub credentials?

[2022-09-06 19:12] mpodwysocki commented on #22980
@jeremymeng this PR should fix it https://github.com/Azure/azure-sdk-for-js/pull/23115

[2022-09-06 19:41] googol opened #23116 "Type conflict between two versions of @opentelemetry/instrumentation because of @azure/opentelemetry-instrumentation-azure-sdk dependency"
- **Package Name**: @azure/opentelemetry-instrumentation-azure-sdk
- **Package Version**: 1.0.0-beta1
- **Operating system**:
- [x] **nodejs**
    - **version**: 16.16.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.7.4
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsof

[2022-09-06 20:10] #22156 closed

[2022-09-06 20:25] JoshLove-msft opened #23118 "[Service Bus] Respect TryTimeout when opening next available session link"
The service hardcodes a max of 1 minute and 5 seconds when accepting a session. This means the TryTimeout that the user specifies in the client is ignored if they specify a value higher than this. We should specify the timeout property in the link settings properties when opening a link for next available session to support long polling. In the .NET library, we've found that using long polling res

[2022-09-06 21:40] Kondamon commented on #21572
@diberry, Azure documentation has already been updated by someone else (see my last comment). There is nothing more to do.

[2022-09-06 22:10] lmazuel opened #23122 "Provide a function for fetching schema from Schema Registry using group name, schema name and schema version."
See https://github.com/Azure/azure-sdk-for-python/pull/26055

[2022-09-06 22:46] mpodwysocki commented on #23089
Fixed per #23121

[2022-09-06 22:46] #23089 closed

[2022-09-06 23:02] mikeharder opened #23123 "[Perf] Packages are incorrectly being used for "from source" run"
Starting with the following build, packages are incorrectly being used for the "from source" run:

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1776649&view=logs&j=42ded549-05ee-5cdb-7ba7-7a948a0cc056&t=a103fa30-9714-51c6-dfba-9bd5390ed023&l=56

## Correct
| Name                | Requested | Runtime

[2022-09-06 23:47] deyaaeldeen opened #23124 "Language Pillar Commitments for Text Analytics for October 2022 - March 2023"
For general summary and goals, please see:  [Language Pillar Commitments for Text Analytics for October 2022 - March 2023 [#4792]](https://github.com/Azure/azure-sdk/issues/4792).  The work items linked to this issue herein represent the tasks needed to produce the JS Language Text client library for the current milestone.

# Design, Review, and Planning

- [ ] Create issues and perform resource p

[2022-09-07 07:32] deyaaeldeen commented on #22229
Addressed

[2022-09-07 07:32] #22229 closed

[2022-09-07 07:33] deyaaeldeen commented on #22230
Addressed

[2022-09-07 07:33] #22230 closed

[2022-09-07 08:04] zzhxiaofeng commented on #23042
@kazrael2119 It works well, thank you. I will close the issue now.

[2022-09-07 08:04] #23042 closed

[2022-09-07 08:17] #23076 closed

[2022-09-07 18:26] jeremymeng commented on #23070
V8 has some intended behavior change that unfortunately breaks patterning using `\` on Windows. #23117

[2022-09-07 18:31] minkom-ms opened #23134 "Usage of CognitiveServicesManagementClient in government clouds"
- **Package Name**: arm-cognitiveservices
- **Package Version**: 7.2.0
- **Operating system**:
- [ ] **nodejs**
    - **version**: LTS
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
We have the f

[2022-09-07 18:31] azure-sdk commented on #23134
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive Services:0.47048032,Cognitive - Speech:0.034162737,Docs:0.028623782'

[2022-09-07 18:34] #21902 closed

[2022-09-07 22:18] deyaaeldeen opened #23138 "[Language Text] Consider adding cancelOperation on the AnalyzeBatchPoller"
The poller can send a cancellation request by invoking the `sendCancellationRequest` member. Should we consider adding a `cancelOperation` member that doesn't resolve until the operation is truly cancelled?

[2022-09-07 22:25] mpodwysocki opened #23139 "[notification hubs] Add support for Test Send for Tag-Based Send Only"
**Is your feature request related to a problem? Please describe.**

Currently, Notification Hubs supports setting test send for both direct send and audience send.  It is, however, only supported through audience send.  We will also need to parse the XML result such as the following:

[code]

**Describe the solution you'd like**

The send result should now have the properties from the `Notificatio

[2022-09-07 22:50] HarshaNalluru commented on #23105
#23081 fixes this :)

[2022-09-07 22:50] #23105 closed

[2022-09-07 22:54] HarshaNalluru commented on #22962
@sabharwal-garv, the fix has been published with the `@azure/service-bus@7.7.1` version, please pull down the latest version and let us know if the fix works for you.

[2022-09-07 22:54] #22962 closed

[2022-09-08 01:56] chrissmiller opened #23147 "npm install fails consistently if gulp is not installed before the first install"
- **Operating system**: Win 11 Enterprise
- [x ] **nodejs**
    - **version**:  v16.17.0

npm version '8.15.0'

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo on fresh windows installation
2. Install npm, rush, Python, VS C++ tools, etc.
3. Run rush update/rebuild
4. Run npm install for a package (this was o

[2022-09-08 01:56] azure-sdk commented on #23147
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.46690896,Event Hubs:0.13112874,Service Bus:0.073649354'

[2022-09-08 07:10] SaNch0sE opened #23149 "[notification hubs] Cannot register FCM device"
- **Package Name**: @azure/notification-hubs
- **Package Version**: 1.0.0-beta.3
- **Operating system**: Fedora 36
- [ ] **nodejs**
    - **version**: v16.13.2
- [ ] **typescript**
    - **version**: 4.3.5
- Is the bug related to **documentation** in
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Error 400 from azure when creating registration with:
[code]
It doesn't matt

[2022-09-08 09:15] xiaolang124 opened #23150 "Failed to add AAD admin ''. Server active directory administrator type should be ActiveDirectory"
- **Package Name**: @azure/arm-sql
- **Package Version**: 9.0.1
- **Operating system**: win11
- [ ] **nodejs**
    - **version**: v14.18.2
- [ ] **typescript**
    - **version**:  4.1.2

**Describe the bug**
I use `SqlManagementClient.serverAzureADAdministrators.beginCreateOrUpdateAndWait` to add an admin user. But it will throw an error which includes information like 'Failed to add AAD admin ''.

[2022-09-08 12:44] BenLegra commented on #22722
Hi @KarishmaGhiya, I confirm that this line in appServiceMsiApp2019.ts is incorrect ([here](https://github.com/Azure/azure-sdk-for-js/blob/dc0d31c4b7761ecabbd9ea0f3aa115befe438cf9/sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2019.ts#L23)) :
`return Date.parse(requestBody.expires_on! as string);`
should be :
`return parseInt(requestBody.expires_on!) * 1000;`

[2022-09-08 15:04] scottaddie opened #23153 "Incorporate Monitor Ingestion Beta UX study feedback"
Tracking issue to update the next Azure Monitor Ingestion release to incorporate UX study feedback.

Action items:
- *README* file changes:
  - [ ] Add a “Handle logs ingestion response” section that shows the response object hierarchy. See [Handle logs query response](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/monitor/azure-monitor-query/README.md#handle-logs-query-response) for an

[2022-09-08 16:37] charlestbell commented on #22628
Update: can confirm that this issue is affecting android builds on Expo EAS, not just ios.

Any progress on removing isomorphic-webcrypto?

[2022-09-08 17:07] joheredi commented on #23147
Hi @chrissmiller which specific packages are you trying to build?

[2022-09-08 17:25] chrissmiller commented on #23147
@joheredi This occurred when I was generating a new package, but also occurred when I ran npm install on the azure cosmos package so didn't seem to be package specific

[2022-09-08 18:30] jeremymeng commented on #22628
@charlestbell I opened a draft PR #23156.  Please give try [the package produced by the CI automation](https://artprodcus3.artifacts.visualstudio.com/A0fb41ef4-5012-48a9-bf39-4ee3de03ee35/29ec6040-b234-4e31-b139-33dc4287b756/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL2F6dXJlLXNkay9wcm9qZWN0SWQvMjllYzYwNDAtYjIzNC00ZTMxLWIxMzktMzNkYzQyODdiNzU2L2J1aWxkSWQvMTgzODg5MC9hcnRpZmFjdE5hbWUvcGFja2FnZXM1/content

[2022-09-08 18:45] xirzec commented on #23147
I'm confused about the `gulp` dependency... do we actually use gulp somewhere?

[2022-09-08 19:29] jeremymeng commented on #22628
PR #23156 doesn't work in my testing. I will spend some more time on this then get back to you.

[2022-09-08 21:21] mpodwysocki commented on #23149
@SaNch0sE fixed as of #23140

[2022-09-08 21:55] jeremymeng commented on #22628
@charlestbell here's [an updated version](https://artprodcus3.artifacts.visualstudio.com/A0fb41ef4-5012-48a9-bf39-4ee3de03ee35/29ec6040-b234-4e31-b139-33dc4287b756/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL2F6dXJlLXNkay9wcm9qZWN0SWQvMjllYzYwNDAtYjIzNC00ZTMxLWIxMzktMzNkYzQyODdiNzU2L2J1aWxkSWQvMTgzOTQxNy9hcnRpZmFjdE5hbWUvcGFja2FnZXM1/content?format=file&subPath=%2Fazure-cosmos%2Fazure-cosmos-3.17.1.tg

[2022-09-08 22:59] jeremymeng commented on #23147
@chrissmiller when using rush (which uses pnpm to manage dependencies), we don't normally need to run `npm install` for a package.  Is there anything that are missing after running `rush update`?

[2022-09-09 00:15] DominikMe opened #23161 "`createCommunicationIdentifierFromRawId` doesn't handle phone number rawIds correctly"
- **Package Name**: @azure/communication-common
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
`createIdentifier

[2022-09-09 01:21] MaryGao commented on #23150
@xiaolang124 Thanks for reporting this issue and I am investigating now and will be back to you soon.

[2022-09-09 02:06] xiaolang124 commented on #23150
Previously, I used almost the same code with @azure/arm-sql `7.1.0`. It works fine.
![image](https://user-images.githubusercontent.com/13211513/189257113-95690627-1e64-4117-96ec-6c38f523e858.png)

[2022-09-09 03:02] kazrael2119 commented on #23150
Hi @xiaolang124, this issue could be caused by passing the wrong parameter in beginCreateOrUpdateAndWait().
In line 83 of your code:
![image](https://user-images.githubusercontent.com/98569699/189263244-ff536df4-f7ef-4f35-a3c0-d491c10a97ce.png)
It should be "ActiveDirectory" like:
![image](https://user-images.githubusercontent.com/98569699/189263338-5ce670f4-0fd0-4caf-b30d-caeadfb5b56f.png)
You ca

[2022-09-09 03:03] v-jiaodi opened #23165 "[Communication - Network Traversal] Deploy test resources failing in nightly runs"
Communication - Network Traversal nightly test runs are failing with:

Line |
 725 |          $deployment = Retry {
     |                        ~~~~~~~
     | Exception calling "Invoke" with "0" argument(s): "The running
     | command stopped because the preference variable
     | "ErrorActionPreference" or common parameter is set to Stop:
     | 01:28:18 - The deployment 'te21d8faaa61d489f' fa

[2022-09-09 03:03] v-jiaodi opened #23166 "[Event Hubs] Deploy test resources failing in nightly runs"
Event Hubs nightly test runs are failing with:

Line |
 725 |          $deployment = Retry {
     |                        ~~~~~~~
     | Exception calling "Invoke" with "0" argument(s): "The running
     | command stopped because the preference variable
     | "ErrorActionPreference" or common parameter is set to Stop:
     | 12:38:24 - The deployment 't517799b92d0b4ca8' failed with
     | error(

[2022-09-09 03:03] v-jiaodi opened #23167 "[Aggregate-reports] Spell check public API failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

cspell run complete, restoring original configuration and removing temp file.
##[error].\sdk\personalizer\ai-personalizer-rest\review\ai-personalizer.api.md:1:40 - Unknown word (personalizer)
##[error].\sdk\personalizer\ai-personalizer-rest\review\ai-personalizer.api.md:19:16 - Unknown word (Personalizer)
##[error].\sdk\personalizer\ai-persona

[2022-09-09 03:03] azure-sdk commented on #23165
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Authorization:0.1801848,Service Bus:0.12714688,ARM:0.070325814'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.5211459,Client:0.4688077,Service:0.009492821'

[2022-09-09 03:03] azure-sdk commented on #23167
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.1399435,Cognitive - Form Recognizer:0.13170506,Storage:0.09035201'

[2022-09-09 05:15] xiaolang124 commented on #23150
@kazrael2119 Thanks for the help, this solves my problem.

[2022-09-09 05:15] #23150 closed

[2022-09-09 12:12] modsen-hedgehog opened #23171 "Cannot start trigger in azure data factory using @azure/arm-datafactory, because of "The recurrence schedule of trigger has an invalid recurrence frequency 'Minute'.""
- **Package Name**: @azure/arm-datafactory
- **Package Version**:  10.7.0
- **Operating system**: Windows
- **nodejs**
    - **version**:  v14.19.0
- **typescript**
    - **version**:  4.7.3

**Describe the bug**

Cannot start trigger in azure data factory using @azure/arm-datafactory, while the same trigger can be started right from azure data factory

[code]
![image](https://user-images.githubus

[2022-09-09 17:32] deyaaeldeen commented on #23075
Status:

The client library was built such that it supports sending and receiving any type of schema as long as it is just bytes and its content type is [`application/json; serialization=${format}`](https://github.com/Azure/azure-sdk-for-js/blob/4bb610f11a0a2c0b700d24fe4226e6e476b00c15/sdk/schemaregistry/schema-registry/src/schemaRegistryClient.ts#L102) where `format` is the schema type.

I am loo

[2022-09-09 17:33] jeremymeng commented on #23167
@sharathmalladi could you please take a look? We probably need to suppress the term.  More information at https://aka.ms/azsdk/engsys/spellcheck

[2022-09-09 18:54] OldManMeta opened #23173 "Catastrophic Failure at getContainerNameFromURL (ContainerClient)"
**"dependencies": {
    "@azure/storage-blob": "^12.11.0",
    "@emotion/react": "11.10.4",
    "@emotion/styled": "11.10.4",
    "@mui/icons-material": "5.10.3",
    "@mui/material": "5.10.3",
    "@types/react": "18.0.18",
    "@types/react-dom": "18.0.6",
    "@types/uuid": "^8.3.4",
    "blob-util": "^2.0.2",
    "dotenv-webpack": "^8.0.1",
    "react": "^18.2.0",
    "react-cropper": "^2.1.8"

[2022-09-09 20:04] mpodwysocki commented on #23149
Closing as per release in Beta4

[2022-09-09 20:04] #23149 closed

[2022-09-09 20:05] mpodwysocki commented on #23139
Fixed as per Beta 4

[2022-09-09 20:05] #23139 closed

[2022-09-09 20:18] jeremymeng commented on #22492
Tested `@azure/arm-network` with a TestTokenCredential that retruns a valid access token from `getToken()`. Works fine.

[2022-09-09 20:18] #22492 closed

[2022-09-09 20:43] jeremymeng commented on #5771
@yahorsi which package(s) are you trying to use in react-native?

[2022-09-09 21:35] #22968 closed

[2022-09-09 21:42] jeremymeng commented on #22493
KeyVault SDK replies on identity to authenticate requests. Currently blocked as identity doesn't work in react-native environment.

[2022-09-09 22:26] xirzec commented on #23173
If I understand correctly, you are connecting to a local Azurite instance rather than a service account and having issues with calling `getContainerClient` off of the service client.

Can you share how you are creating the service client and passing the SAS token? I note from your screenshot that somehow the URL is getting mangled `https://http//127.0.0.1` instead of `http://127.0.0.1`

I agree wi

[2022-09-09 22:59] rakshith91 opened #23179 "Support uploading gzip for ingestion"
Currently, a list of logs is supported which is later gzipped.

It's not ideal that if the user has a gzipped file, they'd have to unzip it , upload it as a list and the we re-zip it again.

[2022-09-09 23:51] HarshaNalluru commented on #22963
@laudibert, I'm checking with the service team on the force detached error.
Can you provide us with the sample code to repro your issue, to help us investigate in terms of the reconnection?

[2022-09-10 00:00] #23122 closed

[2022-09-10 00:09] jeremymeng commented on #20807
Explored testing with Jest-Expo but found out that "react-native" mapping are not respected when running tests. Logged issue https://github.com/expo/expo/issues/19064.

[2022-09-10 03:33] OldManMeta commented on #23173
@xirzec - Jeff thanks for the response.

Your eagle eye has spotted what was indeed the source of the problem.

Let this be a lesson in 3am cut and paste.... I had noticed the local Azurite instance is running only on http, and so modifying a piece of my logic that constructs the URL, I had a pesky + symbol lurking around creating a concatenation.

Let me close this out, ruled as self inflicted st

[2022-09-10 03:33] #23173 closed

[2022-09-11 04:26] OldManMeta opened #23180 "TelemetryPolicyFactory broken in Electron App"
"dependencies": {
    "@azure/identity": "^2.1.0",
    "@azure/storage-blob": "^12.11.0",
    "@emotion/react": "11.10.4",
    "@emotion/styled": "11.10.4",
    "@minoru/react-dnd-treeview": "3.0.0",
    "@mui/icons-material": "5.10.3",
    "@mui/lab": "5.0.0-alpha.96",
    "@mui/material": "5.10.3",
    "@react-three/drei": "9.24.4",
    "@react-three/fiber": "^8.7.1",
    "@tippyjs/react": "4.2.

[2022-09-11 07:26] OldManMeta commented on #23180
Ok - for anyone else that comes across this - it is one of those Polyfill scenarios...

As I am using Webpack...

`npm install node-polyfill-webpack-plugin`

Then in webpack.config.js:

`const NodePolyfillPlugin = require("node-polyfill-webpack-plugin")

module.exports = {
    // Other rules...
    plugins: [
        new NodePolyfillPlugin()
    ]
}`

[2022-09-11 07:26] #23180 closed

[2022-09-12 08:00] BenLegra commented on #22620
Hi, as mentioned in this issue #22722, there's something wrong in @azure/identity library, in appServiceMsiApp2019.ts at this [line](https://github.com/Azure/azure-sdk-for-js/blob/dc0d31c4b7761ecabbd9ea0f3aa115befe438cf9/sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2019.ts#L23). The `expires_on` value (in payload returned by the local /msi/token endpoint) is a strin

[2022-09-12 17:54] joshfree opened #23183 "Azure Identity October Release Doc Consistency Review"
tracking item for README, Samples, TROUBLESHOOT, and Changelog consistency review

[2022-09-12 18:05] xirzec commented on #23173
@OldManMeta no worries, the number of times I've been smashing my face into my keyboard and then a coworker walks over and spots the problem in 5 seconds... well let's just say it's a bit bigger than zero. 😉

[2022-09-12 19:37] jeremymeng opened #23187 "[storage-blob] don't parse url to assign container name in cases where container name is passed or known"
As commented at https://github.com/Azure/azure-sdk-for-js/issues/23173#issuecomment-1242525926, we always parse the url to get the container name. It's unnecessary when the name is passed via constructor parameter.

It is also nice to check other storage packages to see if there's similar room for improvement

[2022-09-12 19:39] jeremymeng commented on #23167
@HarshaNalluru is fixing it in PR #23186

[2022-09-12 22:36] xirzec commented on #23006
@bperki8 I'm glad you were able to get this working! Identity can be pretty finnicky until you get the configuration just right.

@KarishmaGhiya when you are back, perhaps we can figure out some way to make this easier to diagnose? Or at least we can ask the Identity folks to update the error string. 😄

[2022-09-12 22:40] xirzec commented on #9899
Happy to hear it, please let me know if you run into further issues.

[2022-09-12 23:00] xirzec commented on #23017
@dhensby that log statement seems very suspicious given that the imds flow doesn't seem to use `MSI_ENDPOINT`, but `AZURE_POD_IDENTITY_AUTHORITY_HOST` instead:

https://github.com/Azure/azure-sdk-for-js/blob/1a66e5daff16c398809ca402674e8bb94a89f618/sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts#L81

Perhaps this has gotten a bit stale or was copied from another credenti

[2022-09-12 23:03] jeremymeng commented on #17777
Closing as we now favor bot created issues.

[2022-09-12 23:03] #17777 closed

[2022-09-12 23:08] jeremymeng commented on #9281
closing. template package.json no longer contain `stream-browserify`

[2022-09-12 23:08] #9281 closed

[2022-09-12 23:09] xirzec commented on #23017
@dhensby I went ahead and tried updating the log line to be more helpful: https://github.com/Azure/azure-sdk-for-js/pull/23035/commits/e406b949f671ce973feb89b44593c7f8c4084605

Appreciate any feedback you have!

[2022-09-12 23:14] jeremymeng opened #23190 "[engsys] Identify unused dependencies"
We should run depcheck on our packages to identify unused dependencies either from copy-n-paste, or outdated after usage in source code has been removed.

- examine output for package and confirm dependencies that are really not used
- file issues for individual package to remove unused dependencies.

[2022-09-12 23:18] jeremymeng opened #23191 "[engsys] Fix Inconsistent Internal Dependency: @azure-rest/core-client"
now that 1.0.0 has been GA'd, we should use "^1.0.0" for all

1.0.0
- @azure-rest/confidential-ledger runtime

1.0.0-beta.10
- @azure-rest/arm-containerservice runtime
- @azure-rest/arm-servicefabric runtime

^1.0.0
- @azure-rest/agrifood-farming runtime
- @azure-rest/ai-document-translator runtime
- @azure-rest/ai-personalizer runtime
- @azure-rest/arm-appservice runtime
- @azure-rest/iot-device-

[2022-09-12 23:21] jeremymeng opened #23192 "[engsys][test] we should use @azure-tools/test-credential@^1.0.0"
currently most of packages depend on ^1.0.0, but there are a couple exceptions:

1.0.0
- @azure-rest/iot-device-update

~1.0.0
- @azure/communication-rooms dev
- @azure/monitor-ingestion dev
- @azure/template dev

[2022-09-12 23:28] jeremymeng opened #23193 "[perf][test][app-config] should depend on latest GA version of appconfig?"
currently it depends on 1.2.0-beta.2

^1.2.0-beta.2	@azure-tests/perf-app-configuration runtime

[2022-09-13 02:29] qiaozha commented on #23134
I am looking into this issue.

[2022-09-13 02:36] qiaozha commented on #23134
I think for government clouds, you will need to pass the authorityHost when you create the credential, that credential you get from it will contains credentialScopes, and we will not override it with https://management.azure.com/ if it already has a credentialScopes.
Something like:
[code]
I don't think endpoint and authorityHosts are the same thing. Feel free to correct me if I am wrong @joheredi

[2022-09-13 02:38] qiaozha commented on #23171
This is a known issue, we will release a new package to resolve it. Thanks

[2022-09-13 03:50] shazron commented on #22968
I can confirm that with the repro steps above with v3.17.1, the issue is resolved.

[2022-09-13 05:22] deyaaeldeen opened #23197 "[Language Text] Add back Extractive Summarization and FHIR"
After they were removed in https://github.com/Azure/azure-sdk-for-js/pull/23127

[2022-09-13 05:23] deyaaeldeen opened #23198 "[Language Text] Support Abstractive Summarization"
As defined in the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/dev/cognitiveservices/data-plane/Language/analyzetext.json)

[2022-09-13 05:24] deyaaeldeen opened #23199 "[Language Text] Support dynamic classification"
As defined in the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/dev/cognitiveservices/data-plane/Language/analyzetext.json)

[2022-09-13 05:25] deyaaeldeen opened #23200 "[Language Text] Support script detection and automatic language detection"
As defined in the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/dev/cognitiveservices/data-plane/Language/analyzetext.json)

[2022-09-13 05:26] deyaaeldeen opened #23201 "[Language Text] Support document types and relation confidence scores in healthcare analysis"
As defined in the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/dev/cognitiveservices/data-plane/Language/analyzetext.json)

[2022-09-13 05:28] deyaaeldeen commented on #23024
completed in v1.0.0

[2022-09-13 05:28] #23024 closed

[2022-09-13 05:28] deyaaeldeen commented on #22231
Completed

[2022-09-13 05:28] #22231 closed

[2022-09-13 05:46] kazrael2119 commented on #23171
Hi @modsen-hedgehog ,
here is the new pakcage:https://www.npmjs.com/package/@azure/arm-datafactory/v/10.8.0.

[2022-09-13 06:38] Y-Sindo opened #23202 "Web PubSub SDK fails to refresh AAD access token with peak load"
- **Package Name**: @azure/web-pubsub
- **Package Version**: 1.0.0
- **Operating system**: arm64-Darwin-21.6.0
- [x] **nodejs**
    - **version**: v16.15.0
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Our customer uses Web PubSub JavaS

[2022-09-13 06:38] azure-sdk commented on #23202
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Services:0.32906505,Azure.Identity:0.1837112,AppAuthentication:0.056887608'

[2022-09-13 06:39] azure-sdk commented on #23202
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Services:0.32906505,Azure.Identity:0.1837112,AppAuthentication:0.056887608'

[2022-09-13 08:44] sajeetharan commented on #22968
@shazron thanks for confirming!

[2022-09-13 10:43] v-jiaodi opened #23203 "[Communication - Phone Numbers] SipRoutingClient - set trunks [AAD] can set multiple new trunks without affecting routes via PATCH failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at handleErrorResponse (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:251:17)
    at deserializeResponseBody (/mnt/vss/_work/1/s/sdk/core/core-client/src/deserializationPolicy.ts:159:43)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

For more de

[2022-09-13 10:43] v-jiaodi opened #23204 "[Service Bus] ServiceBusClient live tests Random scheme in the endpoint from connection string failing in nightly runs"
Service Bus nightly test runs are failing with:

    at Object.should.equal (D:\a\_work\1\s\common\temp\node_modules\.pnpm\chai@4.3.6\node_modules\chai\lib\chai\interface\should.js:98:35)
    at testPeekMsgsLength (D:\a\_work\1\s\sdk\servicebus\service-bus\test\public\utils\testutils2.ts:564:10)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97

[2022-09-13 12:31] franher opened #23206 "semver versioning is not followed accurately"
**Is your feature request related to a problem? Please describe.**

Breaking changes landed on versions that are not major releases.

**Describe the solution you'd like**

The SDK documentation reflects clearly the versioning approach that this SDK is following. If it's not following semver accurately (i.e. Breaking changes are released on major versions), it must be communicated to the SDK users

[2022-09-13 14:05] dhensby commented on #23017
@xirzec ah, that makes sense and the update looks good. 👍

[2022-09-13 16:16] xirzec commented on #23206
Hello @franher thank you for taking the time to leave feedback.

I'd like to better understand what broke for you. [Looking at the diff](https://github.com/Azure/azure-sdk-for-js/commit/8f72772736c27ae66120a71f1565b896f35bebf0#diff-2d620527bf0dbb3009c4057c9e4637f1464c55e3b3c026268c2240bea33d7442) from `@azure/keyvault-secrets` the main "break" I see is we switched away from re-exporting `PipelineO

[2022-09-13 18:00] timovv commented on #23206
Yeah, this appears to be an unfortunate mistake in the CHANGELOG. We've done this migration over a few different packages, with some of them removing the `_response` property (the breaking change described in the CHANGELOG). What I _suspect_ happened is that the CHANGELOG entry was copied over from one of the other packages that were migrated, and I didn't review closely enough and missed the disc

[2022-09-13 19:24] xirzec commented on #23134
Definitely they are different things, though related by the fact that govcloud endpoints necessitate using the right authority host. I don't think we do any smart detection on the endpoint url itself, though there is a `AZURE_AUTHORITY_HOST` environment variable that I believe we consult if you don't specify a host explicitly.

@schaabs do you have some wisdom here? I am not sure what the latest g

[2022-09-13 19:50] xirzec commented on #23036
This seems to be happening on the server side, if I'm understanding correctly. It would certainly be lovely if the server could provide a meaningful message.

[2022-09-13 20:00] xirzec commented on #22747
I'm not familiar with how `npm` uses `browser` directly, I always assumed that it was a bundler-only field and ignored by node/npm. /cc @bterlson for thoughts here.

I think I'm still a bit muddled on how to proceed here. It's possible that when we migrate to conditional imports that we use the `browser` condition: https://nodejs.org/dist/latest-v16.x/docs/api/packages.html#community-conditions-de

[2022-09-14 00:17] #23123 closed

[2022-09-14 01:55] dylanatimdex opened #23211 "Workflow received from workflows.get invalid for workflows.createOrUpdate"
We recently updated our @azure/arm-logic package from 6.0.2 to 8.0.0.
The following lines worked in 6.0.2 but do not work in 8.0.0

[code]
In 8.0.0 it results in the following error on the second line:
`RestError: The template validation failed: 'The provided value for the workflow parameter 'erpProductsApiUri' at line '1' and column '236' is not valid.'.`

The value of this parameter (which is a

[2022-09-14 03:28] Y-Sindo commented on #23202
Hi @witemple-msft , we think the problem might be related to `bearerTokenAuthenticationPolicy` and you might be the person most familiar with it as you rewrote the policy. Could you by any chance take a look at the issue?

[2022-09-14 03:34] azure-sdk commented on #23202
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.3452633,App Services:0.21217598,AppAuthentication:0.05836237'

[2022-09-14 03:41] azure-sdk commented on #23202
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.3452633,App Services:0.21217598,AppAuthentication:0.05836237'

[2022-09-14 04:15] vicancy commented on #23036
Yes the service returns empty... will be fixed in next release

[2022-09-14 07:22] qiaozha commented on #22072
close it as resolved. @turdigicode feel free to reopen it if you still found any issues about it. Thanks

[2022-09-14 07:22] #22072 closed

[2022-09-14 07:27] qiaozha commented on #23171
close it as fixed.

[2022-09-14 07:27] #23171 closed

[2022-09-14 07:46] MaryGao commented on #23211
I am investigating this issue and will be back to you soon.

[2022-09-14 15:33] charlestbell commented on #22628
Thank you, I'll take a look

[2022-09-14 17:44] xirzec commented on #23202
Interesting, so the hypothesis is that the function app is unable to refresh the token and eventually it gets stuck with a stale token. I wonder why the app platform would fail the token refresh but not block requests to WebPubSub too. Maybe we're not retrying the refresh properly?

[2022-09-14 17:44] xirzec commented on #23202
also /cc @mpodwysocki for good measure since he's been spelunking in Identity recently

[2022-09-14 19:05] mikeharder opened #23215 "[Perf] Remove runtime package version reporting from perf framework"
Runtime version reporting for JS is now implemented in the perf automation: https://github.com/Azure/azure-sdk-tools/pull/4092

Since it requires using `npm@8` and running `rush deploy` before `npm ls`, I think this code should live in the automation rather than the JS perf framework, and the feature should be removed from the JS perf framework.

[2022-09-14 21:00] SaNch0sE opened #23218 "[Notification Hubs] parseRegistrationFeed() error "xml.feed.entry is not iterable""
- **Package Name**: @azure/notification-hubs
- **Package Version**: 1.0.0-beta.4
- **Operating system**: Fedora 36
- [ ] **nodejs**
    - **version**: v16.13.2
- [ ] **typescript**
    - **version**: 4.3.5

**Describe the bug**
After using hubClient.listRegistrations() function, there is an error:
In node_modules/@azure/notification-hubs/dist/index.cjs:593:38 "xml.feed.entry" can not only be an ar

[2022-09-14 21:01] azure-sdk commented on #23218
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Container Registry:0.31043974,Notification Hub:0.1291175,Event Hubs:0.051178858'

[2022-09-14 21:11] diberry opened #23219 "@azure/cosmos - ref docs bug issue for stored procedures"
- **Package Name**: @azure/cosmos
- **Package Version**:
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [X ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
The explanatory text for the o

[2022-09-14 22:08] #23054 closed

[2022-09-14 22:45] GregorieCalderon commented on #21798
Has this issue been resolved? Currently running into it now.

[2022-09-14 23:39] timovv commented on #21798
Hey @GregorieCalderon! The original issue here stemmed from the use of Node 8, which we no longer support ([see above](https://github.com/Azure/azure-sdk-for-js/issues/21798#issuecomment-1127673850)). If you're using an unsupported Node version, my recommendation would be to upgrade to a supported version, if possible. This would hopefully resolve the underlying issue for you, although the problem

[2022-09-15 05:23] roblykens commented on #6576
I found this to still be an issue. I have a module that is called with helper classes to call the api (managed) and the api call the cosmos db to fetch data and bring it back to ultimately be used by the UI,

index>module>helpermodule>api>cosmos

I added the option to the code as noted above :
connectionPolicy: {
    enableEndpointDiscovery: false
  }
  and it worked properly to get the data, othe

[2022-09-15 07:41] SaNch0sE opened #23222 "[Notification Hubs] Add delete registrations function"
If a user is logged out of service, there is a need to remove registration of his device. I know that there is already a Rest API way to [delete registration](https://docs.microsoft.com/en-us/rest/api/notificationhubs/delete-registration), but it will be good if @azure/notification-hubs module had this functionality

[2022-09-15 07:42] azure-sdk commented on #23222
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Notification Hub:0.38325253,Container Registry:0.18662283,Communication:0.03378628'

[2022-09-15 08:05] Y-Sindo commented on #23202
I think I have found the root cause.

I saw the logs in the function app:

The code logs the above line is here: https://github.com/Azure/azure-sdk-for-js/blob/db18b89c7bdcd80104bc552a2ec2a19af2603c33/sdk/identity/identity/src/client/identityClient.ts#L139-L142

When `accessToken.expiresOnTimestamp` is NaN, the `shouldRefresh` and `mustRefresh` of `bearerTokenAuthenticationPolicy` is always false.

[2022-09-15 12:56] bhargav-kansagara opened #23223 "[AgriFood] Review for client updates to support API version 2021-07-31-preview"
Hi, requesting a review for changes in clients to support API version 2021-07-31-preview for AgriFood service

Link to API review - https://apiview.dev/Assemblies/Review/788e5820948d475cb5a7ae75de1057c7
Link to pull request - https://github.com/Azure/azure-sdk-for-js/pull/23189

[2022-09-15 12:57] azure-sdk commented on #23223
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.13307431,API Management:0.123134606,IoT:0.033713784'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5393933,Mgmt:0.44897026,Service:0.009109637'

[2022-09-15 13:33] ksstott opened #23224 "Server failed to authenticate the request. on docker App service with Managed identity after 24 hours"
- **Package Name**: @azure/identity & @azure/storage-queue
- **Package Version**: 2.0.4 & 12.9.0
- **Operating system**:
- [x] **nodejs**
    - **version**: 16
- [x] **typescript**
    - **version**: 4.8.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
We are using @azure/iden

[2022-09-15 14:54] Cartier0745 opened #23225 "No camera device found on the system on some Android device"
- **Package Name**: azure/communication-calling
- **Package Version**: 1.6.3
- **Operating system**: Android 9
- [ ] **nodejs**
    - **version**: v14.19.0
- [ ] **browser**
    - **name/version**: chrome on Android version 105
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://doc

[2022-09-15 15:06] minkom-ms commented on #23134
We're not using DefaultCredential. Our scenarios required that we use a custom credential that utilizes MSI credential internally. We're able to request and get tokens from the right authority. The issue is that the cognitive services client does not get configured properly and requests a token from our credential for the wrong audience. I don't think the authority host applies in our case.

This

[2022-09-15 17:08] charlestbell commented on #22628
I pasted the updated package slice inside my node modules folder in @azure/cosmos, but I'm still fuzzy on how to polyfill crypto.
I did some digging and came up with [rn-nodify.js ](https://github.com/tradle/rn-nodeify) but that option is looking scary.
What did you use @jeremymeng?

[2022-09-15 17:20] jeremymeng commented on #22628
@charlestbell I was able to use `isomorphic-webcrypto` on Android Emulator.  Here's my shim.js which I load at the beginning of app.js before importing Azure SDK packages.

[code]

[2022-09-15 18:55] azure-sdk commented on #23223
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.13307431,API Management:0.123134606,IoT:0.033713784'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5393933,Mgmt:0.44897026,Service:0.009109637'

[2022-09-15 18:57] azure-sdk commented on #23218
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Container Registry:0.31043974,Notification Hub:0.1291175,Event Hubs:0.051178858'

[2022-09-15 19:58] scottaddie opened #23228 "[Monitor Query] Add samples/docs for running big queries and overcoming API limits for size and record count"

[2022-09-15 20:16] #22874 closed

[2022-09-15 21:22] jeremymeng commented on #22722
Looks that in 2019-08-01 version the `expires_on` has been changed to a string of UNIX epoch seconds. https://github.com/Azure/azure-sdk-for-python/issues/11346

[2022-09-15 21:33] mpodwysocki commented on #23218
@SaNch0sE

Cannot reproduce this issue with the given data.  Please include more information such as the following:

- Number of registrations for your hub
- Are the results paged?

We have both results for an empty feed and a regular feed and neither of these throw this error in our [tests](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/notificationhubs/notification-hubs/test/internal/un

[2022-09-15 22:31] xirzec commented on #23202
@Y-Sindo thank you for all your diving into this and my apologies that it seems to be a duplicate of an existing issue. I put up a PR that I *think* fixes it at #23232 but I need to set up a test environment to validate still.

[2022-09-15 22:33] xirzec commented on #22722
Hi all, thank you very much for your patience on this fix. I have a PR (#23232) that I believe will resolve this issue, though I need to do manual testing to make sure it works in real environments.

[2022-09-16 03:09] v-jiaodi opened #23233 "[Key Vault - Keys] Keys client - create, read, update and delete operations key rotation (service version 7.3) failing in nightly runs"
Key Vault - Keys nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\keyvault\keyvault-keys\test\public\keyClient.spec.ts:462:16)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1852769&view=results

[2022-09-16 03:09] v-jiaodi opened #23234 "[Template] Install dependencies failing in nightly runs"
Template nightly test runs are failing with:

========================== Starting Command Output ===========================
/usr/bin/bash --noprofile --norc /mnt/vss/_work/_temp/b90c7bd1-a602-4005-89a2-8e5cfa10b64f.sh
The rush.json configuration requests Rush version 5.63.0
Transforming /mnt/vss/_work/1/s/common/config/rush/.npmrc
  --> "/mnt/vss/_work/1/s/common/temp/install-run/@microsoft+rush@

[2022-09-16 03:09] azure-sdk commented on #23234
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3713667,Service Bus:0.0630009,Network - Virtual Network:0.032647185'

[2022-09-16 07:15] dylanatimdex opened #23235 "CosmosDB patch operation cannot set a value to null."
- [ ] **@azure/cosmos**:
   - **3.13.0**
- [ ] **nodejs**
    - **v16.17.0**
- [ ] **typescript**
    - **4.2.4**

**Describe the bug**
CosmosDB patch operation cannot set a value to null.

**To Reproduce**
[code]

**Expected behavior**
The value '`aProperty`' is set to null on the document if `itemId `in `partitionKey`.

**Screenshots**

**Additional context**
'Remove' is not an option, cosmos qu

[2022-09-16 07:44] Y-Sindo commented on #23202
For the customer:
To mitigate the problem, you can downgrade the package [@azure/identity - npm (npmjs.com)](https://www.npmjs.com/package/@azure/identity) to 2.0.5 .

[2022-09-16 07:45] #23235 closed

[2022-09-16 07:45] dylanatimdex commented on #23235
Cannot replicate myself any more.

[2022-09-16 08:41] EmmaZhu commented on #23224
@ksstott ,

The code seems fine.  The issue could be caused by several different reasons. I'll try to run a sample for 24hours to see whether I can repro it. If the issue is reproduced in your side, could you share the exception info (as you have pasted above) for the most recent repro? I'll try to take a look in service side to find out why it returns 403 error.

Thanks
Emma

[2022-09-16 08:47] ksstott commented on #23224
Hi Emma

Thanks for getting back so quickly. The exception pasted above was from yesterday afternoon within the hour before I posted this issue so it is the latest repro (it'll happen again later when it gets to 24 hours again). Is there any particular extra exception info that you need in addition to what I've pasted above?

Thanks
Kelvin

[2022-09-16 08:57] qiaozha commented on #23134
I get your point now, for customers who are using public clould, we already set the default baseUri for them, the core-client can get a default credentialScopes from the baseUri anyway. And for customers who are using government clouds, we are asking them to provide both as of the default credential logic here is blocking the core-client logic to take effect.

looks like we should remove the logic

[2022-09-16 09:07] SaNch0sE commented on #23218
It seems like I have 101 registrations. So by page it was iterating by 100, and the last 1 registration comes like an object, not an array

[2022-09-16 09:53] franher commented on #23206
Hello @timovv, even if it seems the CHANGELOG is showing a change not related to `@azure/keyvault-secrets`, I have a breaking change using `@azure/keyvault-secrets@v4.5.0`, which is not happening when I use `@azure/keyvault-secrets@v4.4.0`.

Apologies, I cannot provide a functional environment to test the use case, but this is the code I'm using and the deps tree and the different behaviours I hav

[2022-09-16 14:53] mpodwysocki commented on #23218
@SaNch0sE Perfect test case, thank you!  The XML parser we use doesn't distinguish between arrays and single objects very well, so will fix.  Thanks!

[2022-09-16 17:49] timovv commented on #23206
Hey @franher, thanks for the detail. I have a feeling you are running into #23017, which is a new bug with how Key Vault's [challenge-based authentication mechanism](https://github.com/Azure/azure-sdk-for-js/blob/480e82cd0f9a8c40cd4ce66df978962661014c19/sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts) interacts with our Identity library. We have a fix in the works which we p

[2022-09-16 17:59] deyaaeldeen opened #23238 "[Language Text] Add support for entity resolution in NER"
See [swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/dev/cognitiveservices/data-plane/Language/analyzetext.json) for details.

[2022-09-16 18:00] deyaaeldeen opened #23239 "[Language Text] Consider renaming auto LD option"
It is currently named `defaultLanguage` which could be confusing.

[2022-09-16 18:14] #23222 closed

[2022-09-16 18:14] mpodwysocki commented on #23222
Closed as of Beta 5

[2022-09-16 18:14] mpodwysocki commented on #23218
Closed as of Beta 5

[2022-09-16 18:30] xirzec commented on #23206
@franher can you confirm what version of `@azure/identity` you are using in each case? It looks like `DefaultAzureCredential` is trying to check for IMDS but the proxy is returning a 502 instead of blocking the connection.

How are you configuring your proxy? I don't see anything in your above example code, but are you using environment variables like `HTTPS_PROXY` or `ALL_PROXY`?

[2022-09-16 18:42] xirzec commented on #23134
I personally love deleting code, so if everything still seems to work without the above I'm happy for us to remove it. I assume we'd have to update the generator? /cc @joheredi for his thoughts

[2022-09-16 19:21] charlestbell commented on #22628
Pardon my ignorance, but if this is still using isomorphic-webcrypto. Then how does it help me with my problem?

[2022-09-16 19:22] charlestbell commented on #22628
I don't have an issue with Android Emulator, I have an issue with Expo Application Services' build process, using the eas-cli.

[2022-09-16 19:41] jeremymeng commented on #22628
@charlestbell My PR removes cosmos' hard-coded `require` dependency on `isomorphic-webcrypto` so expo will not load it during build time, and customers have an opportunity to provide their own crypto polyfill.  At this point I don't know about other crypto polyfill that would satisfy EAS build. Maybe expo team has more insights on this?

[2022-09-16 20:08] charlestbell commented on #22628
Understood. Thank you.

I don't know where to find a polyfill either, so I'm in the same boat.

Thanks for doing what you've done though. If anyone knows of another polyfill, I'll give it a try with the version you provided.

[2022-09-16 22:33] deyaaeldeen opened #23242 "[Language Text] Improve README.md"
Each release supports additional set of features which made the README.md too long. Consider rewriting it to be shorter.

[2022-09-16 22:50] deyaaeldeen opened #23243 "[Language Text] Support warnings"
The service returns warnings in a warn-code and warn-text headers, design the SDK experience for exposing those warnings.

[2022-09-16 23:21] ChuckJonas opened #23245 "CosmoDB Partition Change Feed only returns single item"
- **Package Name**:  @azure/cosmos
- **Package Version**: ^3.16.4
- **Operating system**: windows
- [x] **nodejs**
    - **version**: 14
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**: 4.x
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
`items.

[2022-09-16 23:36] ChuckJonas commented on #20689
Is there an ETA on this fix?  Seems like this should be a urgent priority bug...

[2022-09-18 04:44] TheCodeTherapy commented on #23225
This is very likely to be a Chromium/Chrome bug. At least on Google Chrome 105 (I tested on several Linux devices), `mediaDevices.getUserMedia()` doesn't even ask the user to authorize access to the camera. Even adding Camera access permissions manually on the browser for a particular website results in the failure of the browser to capture the camera device.

Developer tools only shows:

`DOMExce

[2022-09-18 08:07] sajeetharan commented on #20689
@ChuckJonas we have tagged it for the milestone-september 28th

[2022-09-19 13:04] azure-sdk opened #23260 "Dependency package @opentelemetry/instrumentation has a new version available"
We have identified a dependency on version 0.32.0 of @opentelemetry/instrumentation. A new version (0.33.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for e

[2022-09-19 13:05] azure-sdk opened #23261 "Dependency package @opentelemetry/sdk-metrics has a new version available"
We have identified a dependency on version 0.32.0 of @opentelemetry/sdk-metrics. A new version (0.33.0) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each

[2022-09-19 13:05] azure-sdk commented on #23260
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.27875793,Service Bus:0.15521654,Azure.Identity:0.04514206'

[2022-09-19 13:05] azure-sdk commented on #23261
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.23882903,Service Bus:0.12289329,EngSys:0.059197545'

[2022-09-19 15:46] diberry commented on #21572
#please-close

[2022-09-19 16:32] pallavit opened #23263 "Enable OcrSkill and ImageAnalysisSkill and move to the latest preview swagger version in the search SDK"
Swagger version -

https://raw.githubusercontent.com/Azure/azure-rest-api-specs/904899a23a417768ce1ec1d5f89f33817f8ef8ad/specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/searchservice.json

https://raw.githubusercontent.com/Azure/azure-rest-api-specs/932e261a870475e1a29115f62def7bb84e4d7b38/specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/searchindex.j

[2022-09-19 18:02] timovv opened #23265 "[docs] Broken links to npmjs.org release page"
As of https://github.com/nodejs/nodejs.org/pull/4821, the page at https://nodejs.org/about/releases is no longer. We link to this page in our READMEs to give guidance about what Node versions we support (for example, [here](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/keyvault/keyvault-keys#currently-supported-environments)). The removal of this URL has caused broken links across the re

[2022-09-19 18:02] azure-sdk commented on #23265
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.39204732,Azure.Core:0.14116651,Azure.Identity:0.14090537'

[2022-09-19 18:07] xirzec commented on #23265
I'm for updating the links and skipping the redirect

[2022-09-19 18:53] jeremymeng opened #23267 "[engsys] remove link to nodejs lts versions from README.md"
We have a link to nodejs TLS versions in every README.  When the link got updated by NodeJS.org, we have to update it too.  We should remove the link.  We already point to our SUPPORT.md and include a link in it.

It may be good to do as part of updating our code base to remove Node v12 support.

[2022-09-19 19:10] jeremymeng commented on #23265
Log an issue #23267 to remove the link from package readme.

[2022-09-19 20:56] kurtzeborn commented on #18449
If you click on the top TOC entry, it takes you to a page where the bottom one is highlighted.  Seems like a pretty straightforward duplication problem.

[2022-09-19 21:26] #18057 closed

[2022-09-19 21:30] HarshaNalluru commented on #22359
#23053

[2022-09-19 21:30] #22359 closed

[2022-09-19 21:42] kurtzeborn commented on #17800
@xirzec, @mikeharder has done some recent work in the perf pipelines to enforce hard dependency versions in perf tests (to ensure apples-to-apples perf results with each run).  However, it does not fully address this issue because JS has some additional, language-specific challenges here...

Ideally, the dependency versions in the perf projects would always align with the SDK package sources.  We

[2022-09-19 22:10] #23167 closed

[2022-09-19 22:11] #18221 closed

[2022-09-19 22:31] HarshaNalluru commented on #22957
A transient issue, closing now.
Will revisit if repeated

[2022-09-19 22:31] #22957 closed

[2022-09-19 23:44] Trott commented on #23265
I can put the page back until we get the redirects in place. Obviously we should have done that first before removing the page.

[2022-09-19 23:52] Trott commented on #23265
OK, this is done so the link shouldn't be causing CI failures for you anymore. Sorry for the inconvenience and general disregard for basic web values.

That said, it would be great to update to point directly to the information in the GitHub repo instead.

[2022-09-19 23:53] Trott commented on #23265
Er...uh...that is once the deployment finishes in hopefully another minute or two.

[2022-09-20 00:02] Trott commented on #23265
Phew! OK, now it's back.

[2022-09-20 01:37] EmmaZhu commented on #23224
@ksstott ,

The exception was thrown at 2022-09-11T21:39:46.1437207Z, logs the request has been rolled out. Usually, service would keep logs for request for about 3 days.

Could you share a more recent repro?

Thanks
Emma

[2022-09-20 01:53] HarshaNalluru commented on #17800
I would like a build/analyze step that would make sure all the versions used in the perf projects are in sync with what's in main.

For example, `js - storage - ci` pipeline to have an additional step that makes sure the `@azure/storage-blob` version used by its perf project to be in sync with what's in main.

Also, whenever the automated version update PR makes a change, it should also account fo

[2022-09-20 01:56] v-jiaodi commented on #20487
The same issue reappears.
For more details check here: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1858166&view=results

[2022-09-20 02:00] anrothMSFT commented on #20487
Hi! I'm no on the Form Recognizer team any more, so I'm flagging this for the form recognizer team @vkurpad

[2022-09-20 03:17] v-jiaodi opened #23276 "[Communication - Phone Numbers] SipRoutingClient - set trunks can set a new trunk failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at handleErrorResponse (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:251:17)
    at deserializeResponseBody (D:\a\_work\1\s\sdk\core\core-client\src\deserializationPolicy.ts:159:43)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/

[2022-09-20 03:17] v-jiaodi opened #23277 "[Communication - SMS] SmsClient [Live] test send method throws an exception when sending from a number you don't own failing in nightly runs"
Communication - SMS nightly test runs are failing with:

    at Context.<anonymous> (/mnt/vss/_work/1/s/sdk/communication/communication-sms/test/public/suites/smsClient.send.ts:104:14)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1859197&view=results

[2022-09-20 03:17] v-jiaodi opened #23278 "[Service Bus] Streaming with sessions UnpartitionedQueueWithSessions failing in nightly runs"
Service Bus nightly test runs are failing with:

    at translateServiceBusError (D:\a\_work\1\s\sdk\servicebus\service-bus\src\serviceBusError.ts:86:63)
    at MessageSession._init (D:\a\_work\1\s\sdk\servicebus\service-bus\dist-esm\src\session\messageSession.js:39:282)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at Function.creat

[2022-09-20 03:17] v-jiaodi opened #23279 "[Storage - File Datalake] DataLakePathClient DataLakeFileClient create with relative expiry failing in nightly runs"
Storage - File Datalake nightly test runs are failing with:

    at Context.<anonymous> (D:\a\_work\1\s\sdk\storage\storage-file-datalake\test\pathclient.spec.ts:131:12)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1856806&view=results

[2022-09-20 03:44] sajeetharan commented on #23147
@joheredi can you try rush purge && rush update && rush rebuild -t @azure/cosmos

[2022-09-20 03:45] sajeetharan commented on #23245
@ChuckJonas Thanks for reporting the issue, we will investigate and update you with the findings!

[2022-09-20 12:50] Cartier0745 commented on #23225
Thanks! @TheCodeTherapy
I tested webRTC on Firefox and it also works fine but I see that ACS not support for Firefox yet.
Is it always the case that if webRTC works then ACS deviceManager.getCameras() works, if webRTC failed then ACS also failed?

[2022-09-20 15:36] chrissmiller commented on #23147
I'm not certain -- I was just following these docs: https://github.com/Azure/azure-sdk-for-js/blob/main/CONTRIBUTING.md#building-our-repository. Maybe the `npm install` step needs to be removed here?

[2022-09-20 15:39] xirzec commented on #23147
Ah very tricky that this is under "To build packages not managed by Rush:" -- we don't have nearly as many of these as we used to and I think the distinction about what is and isn't Rush managed is very confusing to newcomers.

I agree we should perhaps remove this section to avoid trouble.

[2022-09-20 17:08] jeremymeng commented on #22620
@asdaandrewhaigh a fix has been merged in PR #23232. It should be available in the next version of identity soon.

[2022-09-20 17:23] jeremymeng commented on #23265
Thanks @Trott! We updated the link to point to the github repo.

[2022-09-20 17:23] #23265 closed

[2022-09-20 18:00] HarshaNalluru commented on #22899
Hey @pkraj0,

I tried a test that ran for about 10 hours looks like the garbage collection seems to work fine as expected.

I did `node eventHubReceive.js`, below zip has the code and the logs.
[user-22899.zip](https://github.com/Azure/azure-sdk-for-js/files/9610171/user-22899.zip)

I would prefer you check them once and suggest a better repro of your case.

[2022-09-20 19:23] xirzec commented on #17800
@HarshaNalluru you mentioned that Mike had been leveraging PreferredVersions for this? Can you comment about what remaining work needs to be done and the rough cost/scope of it?

[2022-09-20 19:23] xirzec commented on #17800
... and of course I see Harsha's reply after it refreshes. 😅

[2022-09-20 19:25] xirzec commented on #23202
@Y-Sindo this *should* be fixed in `@azure/identity@3.0.0` which released yesterday, please let me know if you are still seeing issues.

[2022-09-20 19:25] #23202 closed

[2022-09-20 19:27] xirzec commented on #22722
Hi again patient friends, I would like to update this thread with the news that my fix was released as part of `@azure/identity` 3.0.0 yesterday. 🎉

I believe this should hopefully resolve the issue, so in my optimism I am going to resolve but please let me know if you are still having issues with token expiration!

[2022-09-20 19:27] #22722 closed

[2022-09-20 20:39] jeremymeng opened #23284 "[engsys] remove `namedExports` option from rollup commonjs plugin argument."
We have a couple of files that still passing `namedExports` to `cjs()`. The latest version of `@rollup/plugin-commonjs` no longer needs this and can figure out automatically.  We should not need to pass it now.

Example in current code base:

[code]
which can be updated to be just
[code]

[2022-09-21 05:08] MaryGao commented on #23211
@qiaozha Could you help review the swagger pr and sdk pr?
https://github.com/Azure/azure-rest-api-specs/pull/20798
https://github.com/Azure/azure-sdk-for-js/pull/23290

@dylanatimdex Could you try the below package in your local environment to check if it works for you?
[azure-arm-logic-8.1.0.zip](https://github.com/Azure/azure-sdk-for-js/files/9613148/azure-arm-logic-8.1.0.zip)

[2022-09-21 08:02] ksstott commented on #23224
@EmmaZhu,

Ah, that's App insights bunching together all the similar errors together and me not noticing that I'd selected one that was a few days old. Apologies, here is one that is from yesterday when it last occurred.

[code]

[2022-09-21 17:52] timovv commented on #23233
This is a known service issue. The underlying issue has been resolved, now we just have to wait for deployment (they say it will take about 2 weeks).

[2022-09-21 22:45] xirzec commented on #23017
I should mention that `3.0.0` of `@azure/identity` is out now with the identity-side fixes too!

[2022-09-21 23:52] horihiro opened #23298 "How to retry when response code is `409`"
Could you please let me know how to retry when an HTTP response code is `409 Conflict` with `@azure/core-pipeline-rest` package?

As far as reading the code, the package seems to use `408`, `500`, `502-504`, `506` or more as response codes that are need to retry.
https://github.com/Azure/azure-sdk-for-js/blob/82996230773ab8295f06b17a8b6f449f9d9f2a8c/sdk/core/core-rest-pipeline/src/retryStrategies/

[2022-09-22 06:42] kazrael2119 commented on #22351
Hi @edmundcong ,
This issue is fixed in the new SDK version:https://www.npmjs.com/package/@azure/arm-security/v/6.0.0-beta.1

[2022-09-22 08:50] EmmaZhu commented on #23224
The failure is because the token has been expired.

@jeremymeng , Could you help to take a look at this issue?

Seems `BearerTokenAuthenticationPolicy` failed to automatically refresh expired token.  From the code, I think it should be able to auto refresh token?
  `if (cycler.mustRefresh) return refresh(tokenOptions);`

[2022-09-22 16:36] jeremymeng commented on #23224
@ksstott for @azure/identity are you using the exact version `2.0.4` or with `~2.0.4` or `^2.0.4`? There was an issue affecting app service managed identity credential in v2.0.5.  The fix is now available in the latest v3.0.0 version.  Could you please give it a try?

[2022-09-22 18:06] xirzec commented on #23298
I'm not very familiar with Container Apps, but I don't think 409 is a retryable response code from a HTTP perspective as it usually indicates there is a problem with the request itself (e.g. you are issuing a PUT to an old version.)

Are you saying that an exact replay of the same request to this service will succeed without any conflict resolution needed?

/cc @JeffreyRichter @johanste

[2022-09-22 18:50] JeffreyRichter commented on #23298
Correct, normally a 409 is not retryable.

[2022-09-22 19:05] timovv commented on #22927
Hi @anandkumarpatel. It looks like this issue slipped through the cracks, sorry about that! I think you might be running into the same problem described in #23017. Are you able to upgrade to the new `@azure/identity` 3.0.0 (and the 4.6.0 version of `@azure/keyvault-secrets` for good measure) and see if the problem persists? The new release of Identity includes a fix which will hopefully fix the ha

[2022-09-22 19:45] horihiro commented on #23298
Thank you for your response, @xirzec @JeffreyRichter.

In this ACA case, the REST API for update([Container Apps - Update](https://learn.microsoft.com/ja-jp/rest/api/containerapps/container-apps/update?tabs=HTTP)) returns `409` during update from other clients, but after finishing the update from others, the API with exact same request returns `202`.
This is why I think 409 in this case is retryab

[2022-09-22 20:22] JeffreyRichter commented on #23298
If the PATCH operation is implemented as a long-running operation (which it sounds like it is), then retrying would potentially take a long time (by definition). For Azure data-plane operations, we forbid implementing PATCH as a long-running operation and instead require it be implemented as a POST-action LRO and if multiple clients issue this simultaneously, then the operations are queued and exe

[2022-09-22 21:06] horihiro commented on #23298
I understood that:
  - it's not appropreate for Azure operations to return 409 to PATCH request to update resources.
  - For long-running-operation, the requests should be POST requets, queued, and processed sequentially.

Is it right?

[2022-09-22 21:19] JeffreyRichter commented on #23298
First, data-plane and control-plane do not always follow the same guidelines. Second, there are some HTTP standards that should be adhered to and some parts of the standard can be ambiguous.

A 409-Conflict indicates that the current state of the resource and the operation being attempted are in conflict with each other. There is no reason to think that the resource will dynamically change to reso

[2022-09-22 21:52] horihiro commented on #23298
Thank you @JeffreyRichter for your explanation.

Because both of retrying for 409 response under a specific situation only and changing control-plane interface might not be practical, it's better that an application (GitHub Action in my case) retries to request in current status.

Is it appropriate to add a custom retry policy/strategy for 409 response to pipeline if the retry logic should be impl

[2022-09-22 21:57] JeffreyRichter commented on #23298
If you add retry on 409 to the pipeline (via client options) then this will apply to ALL operations on the client and this is not ideal.  It may OK for this service but we definitely wouldn't do this for all services. What a customer could do is use one client for all operations except this one and use another client for this 1 operation where the retry policy is configured to retry on 409.

[2022-09-22 22:01] JeffreyRichter commented on #23298
Some language SDKs allow configuring the retry policy via client options. From the code you show above, it looks like JS does not support this. The JS SDK could add this feature and a customer could be instructed to add support for 409 to solve the problem in this issue. For example, our Go SDK lets the customer configure/override the HTTP status codes to retry on; see https://github.com/Azure/azu

[2022-09-22 22:09] horihiro commented on #23298
Is it safe to [add](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/core/core-rest-pipeline/src/pipeline.ts#L71)/[remove](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/core/core-rest-pipeline/src/pipeline.ts#L76) the custom policy before/after a specific operation?

[2022-09-22 22:12] JeffreyRichter commented on #23298
No, once a client is constructed, its options are immutable. This is by-design so that behavior of a client can't be changed by arbitrary code - the behavior is fixed over the client's lifetime. Also, in languages that support threads, this prevents race conditions which are near impossible to debug. You could create a new client before calling each operation but this will create a lot of garbage

[2022-09-22 22:24] horihiro commented on #23298
Could you please let me confirm again?

Do you mean usage of the methods `addPolicy` and `removePolicy` in the following code is not valid?

[code]

[2022-09-22 22:30] JeffreyRichter commented on #23298
If this code works, I'd be surprised. In fact, I don't think that the pipeline field should be accessible to you. If this code "works" then I still wouldn't not recommend it. Let's say that the addPolicy function executes successfully, and then an exception occurs, now what state is the pipeline in? If this code executes again, then the policy is added multiple times to the pipeline. Basically, th

[2022-09-22 23:19] horihiro commented on #23298
Looks like the above code works on my side, `removePolicy` also can remove the specified policy from `client.pipeline`, then client opration is executed under the default pipeline state after the code.

In this issue, there are the following possible ways, but all of them are not easy or recommended, right?

  - change JS SDK
  - change Azure REST API interface
  - add/remove policy to client obje

[2022-09-22 23:34] JeffreyRichter commented on #23298
Changing the sdk to support retry options with status codes should be done.

Fixing the rest API in a non breaking way is likely possible.

A dedicated client that uses the changed sdk is a fine idea.

Changing the pipeline after client construction is strongly discouraged.

-- Jeffrey Richter
________________________________
From: Hirofumi Horikawa ***@***.***>
Sent: Thursday, September 22, 2022

[2022-09-22 23:37] horihiro commented on #23298
Thank you @JeffreyRichter !
We will consider how to achieve this on our side based on your comment.

[2022-09-22 23:39] johanste commented on #23298
@xirzec, is the js libraries retrying if a Retry-After header is present? If not, why not? The general recommendation is that a service should only include a Retry-After header if it feels like the request can be retried without any modifications.

[2022-09-22 23:50] horihiro commented on #23298
@johanste Thank you for your comment.

In this case, the response doesn't have `Retry-After` or similar header as following.

This is a log output by setting env `AZURE_LOG_LEVEL=verbose`.

[code]

[2022-09-23 00:22] jeremymeng commented on #22620
@BenLegra @asdaandrewhaigh @azure/identity 3.0.0 has been released, which includes fix to the `expires_on` parsing issue.

[2022-09-23 02:41] v-jiaodi commented on #22501
This issue occurs again.
 For more details check here:
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1866942&view=results

[2022-09-23 06:38] horihiro opened #23313 "PipelineDescriptor array in Pipeline object returned by Pipeline.clone() is original PipelineDescriptor array itself, not cloned."
`Pipeline#clone` method in `@azure/core-rest-pipeline` package calls a constructor of `HttpPipeline` class with its PipelineDescriptor member `_policies`.
https://github.com/Azure/azure-sdk-for-js/blob/0a981381b6b09405a17c8f592b0818af3ebe60d1/sdk/core/core-rest-pipeline/src/pipeline.ts#L186-L188

In the constructor, the passed PipelineDescriptor object itself is set, not cloned PipelineDescriptor

[2022-09-23 06:40] horihiro commented on #23313
This is about `Azure.Core`, not `Data Factory`. Please re-label this.

[2022-09-23 06:44] MaryGao commented on #23211
@dylanatimdex We released a version and could you have a try.
https://www.npmjs.com/package/@azure/arm-logic/v/8.1.0

[2022-09-23 07:24] FCHAPLIN opened #23314 "blobClient.delete() raising an error "TypeError: Only absolute URLs are supported""
- **@azure/storage-blob**:
- **12.11.0**:
- **Linux on WSL2 Window)**:
- [ x] **nodejs**
    - **18.8.0**:
- [x ] **typescript**
    - **4.8.3**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
When calling a `blobClient.delete()`, I'm getting this error :

[code]

**To Reprodu

[2022-09-23 08:28] ksstott commented on #23224
Yes digging out the lock file from the docker image we have deployed we are indeed using v2.1.0. We're going to trial version 3 over the weekend and see if the issue disappears. Will come back to you next week with our findings
Thanks

[2022-09-23 15:15] styfle commented on #22321
@EmmaZhu When can we expect this fix to be released?

[2022-09-23 18:39] jeremymeng commented on #23314
@FCHAPLIN thank you for reporting the issue!  Looking at your code I do not see anything wrong immediately.  What are your container name and blob name (`fileName` in the code)?  if possible, could you please follow [the troubleshooting instructions](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/storage/storage-blob/README.md#troubleshooting) and share more detailed logs for the failed r

[2022-09-23 18:50] xirzec commented on #23298
Yes we support throttling using `Retry-After` with no additional effort from the consumer.

@horihiro Back to the issue at hand, is it true that your 409 will resolve itself in a relatively short timeframe? By default, we attempt to retry 3 times and give up after no more than around 10 seconds. While you can configure this to allow for greater delays, this configuration applies to all retry reaso

[2022-09-23 18:59] xirzec commented on #23314
I see the problem. It's because `BlobServiceClient`'s constructor takes the endpoint URL, not the connection string: https://learn.microsoft.com/en-us/javascript/api/@azure/storage-blob/blobserviceclient?view=azure-node-latest#@azure-storage-blob-blobserviceclient-constructor-1

They're both strings, so the type system doesn't save you, but I guess we're not validating you are passing in a URL. If

[2022-09-23 19:08] xirzec commented on #23313
Thanks for reporting! I'll have a PR up momentarily.

[2022-09-23 20:45] horihiro commented on #23298
@xirzec Thank you for your suggestion. We will discuss how to retry on our side, including your suggestion also!

[2022-09-24 11:56] horihiro commented on #23298
@xirzec According to the following logs shown by `AZURE_LOG_LEVEL=verbose`, the process never attempt to retry when returning 409.
Both of two retry strategies (`throttlingRetryStrategy` and `exponentialRetryStrategy`) [included in `defaultRetryPolicy`](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/core/core-rest-pipeline/src/policies/defaultRetryPolicy.ts#L30) were skipped in this situa

[2022-09-25 01:45] EmmaZhu commented on #22321
@styfle , We are planning to have the GA release in the second week in October..

[2022-09-26 00:20] #23313 closed

[2022-09-26 11:12] ArunaSingh05 opened #23317 "[IOS][Azure communication service] - iOS safari - Call doesn't disconnect on page reload / tab close"
- **@azure/communication-calling**:
- **1.6.3**:
- **iPhone**:
- [ ] **nodejs**
    - **14**:
- [ ] **browser**
    - **Safari/15.4**:
- [ ] **typescript**
    - **4.4**:

**Describe the bug**
I am using azure/communication-calling Javascript SDK. I found a bug related to the call disconnect. Whenever a call is CONNECTED/ RINGING state and reload the page from my iPhone safari browser. ACS doesn't

[2022-09-26 12:52] lcssanches opened #23318 "Error while listing slot application settings"
- **Package Name**:  @azure/arm-appservice
- **Package Version**:  13.0.0
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 12.20.1
- [ ] **browser**
    - **name/version**:
- [X] **typescript**
    - **version**: 4.8.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe th

[2022-09-26 13:15] djaglowski commented on #22321
To clarify, this is for the workaround (timeout) fix, correct?

Any update on a root cause fix?

[2022-09-26 17:33] xirzec commented on #23298
Sorry for not being clearer. My advice is to forget about the pipeline and handle retrying the operation on the client yourself, such as:

[code]

[2022-09-26 21:04] kurtzeborn commented on #17286
Given the work we've done in generating TOCs, I don't think this is valid any more.  Reopen if you disagree or I've misunderstood.

CC: @sima-zhu

[2022-09-26 21:04] #17286 closed

[2022-09-26 21:05] kurtzeborn commented on #17016
This is done and the issue is no longer relevant.  Closing...

[2022-09-26 21:05] #17016 closed

[2022-09-26 21:06] danieljurek commented on #16626
This has been done

[2022-09-26 21:06] #16626 closed

[2022-09-26 21:07] danieljurek commented on #16584
This was done

[2022-09-26 21:07] #16584 closed

[2022-09-26 21:12] #23260 closed

[2022-09-26 21:12] #23261 closed

[2022-09-26 21:13] danieljurek commented on #16560
This can be closed. We have automation that generates service-level overviews and allows handwritten service-level overviews to prevail when they exist.

[2022-09-26 21:13] #16560 closed

[2022-09-26 21:14] danieljurek commented on #16537
Part of grouped ToC work. Not necessary anymore.

[2022-09-26 21:14] #16537 closed

[2022-09-26 21:14] danieljurek commented on #16536
Part of grouped ToC work. Not necessary anymore.

[2022-09-26 21:14] #16536 closed

[2022-09-26 21:15] danieljurek commented on #16534
Part of grouped ToC work. Not necessary anymore.

[2022-09-26 21:15] #16534 closed

[2022-09-26 21:15] danieljurek commented on #16533
Part of grouped ToC work. Not necessary anymore.

[2022-09-26 21:15] #16533 closed

[2022-09-26 21:15] danieljurek commented on #16532
Part of grouped ToC work. Not necessary anymore.

[2022-09-26 21:15] #16532 closed

[2022-09-26 21:16] danieljurek commented on #16531
Part of grouped ToC work. Not necessary anymore.

[2022-09-26 21:16] #16531 closed

[2022-09-26 21:16] danieljurek commented on #16530
Part of grouped ToC work. Not necessary anymore... Also, work to generate ToC entries followed similar logic and was completed in early 2022.

[2022-09-26 21:16] #16530 closed

[2022-09-26 22:55] joheredi commented on #23134
It seems reasonable to remove this code. @qiaozha is it safe to assume that the scope is always going to be `baseurl/.default`. If so I think removing the check should be safe.

@minkom-ms can you try setting up your client like this?

[code]

[2022-09-26 23:51] joheredi commented on #23071
@sharathmalladi can you try making this changes and let me know if the call succeeds? This will give me more information about whats going on.

[code]

[code]

Let's see if sending a stream makes the service happy

[2022-09-26 23:57] qiaozha commented on #23318
@kazrael2119 Could you help take a look at this issue ? Thanks

[2022-09-27 03:02] kazrael2119 commented on #23318
Hi @lcssanches ,
That's becausce in swaggerhttps://github.com/Azure/azure-rest-api-specs/blob/7a6ec0f1e66aac22421f9338c00cbb2d1c97547d/specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/WebApps.json#L9813,the slot name is required. So it can't be null or empty.
And when you use **listApplicationSettings**, slot name is not required in swaggerhttps://github.com/Azure/azure-rest-api-

[2022-09-27 03:05] qiaozha commented on #23134
@kazrael2119 Could you help remove the logic in all management plane libraries ? Thanks.

I will work on removing it in hlc codegen.

[2022-09-27 03:16] v-jiaodi commented on #22708
The same issue arises again.
For more details check here: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1875794&view=results

[2022-09-27 03:19] kazrael2119 commented on #23318
SDK and it's parameter definition is coming from swagger definition, slot Name is defined in swagger:
![image](https://user-images.githubusercontent.com/98569699/192424163-9d92ab5d-6452-4cdd-8cbc-cfd3d6e7b512.png)

[2022-09-27 05:21] v-jiaodi commented on #22089
The same issue arises again.
For more details check here: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1875080&view=results

[2022-09-27 10:59] federicoder opened #23325 "Service Bus: Add CORS support for topic creation in the browser"
- **Package Name**:
-  "@azure/identity": "^3.0.0",
    "@azure/service-bus": "^7.7.1",
- **Operating system**:
- ArchLinux
- [ v 18.7.0] **nodejs**

**Describe the bug**
Hi all, i try to create a topic with javascript sdk for **azure service bus** from stencilJS library, but i receive always this **error**:
(I receive the same error also when i import the webcomponent into angular, so i think it'

[2022-09-27 15:43] scottaddie opened #23326 "Create a workload identity credential for DAC auth flow"
**Intro:**
Azure AD workload identity federation is a new capability. It applies to both application identities and managed identities in Azure AD. The k8s team has built additional components around this that help customers use this capability in their k8s deployments. It's essential for the Azure Identity SDK to support this pattern so customers can easily benefit from this capability.

1. Allow

[2022-09-27 18:13] icanfathom opened #23327 "'The first argument must be an instance of Buffer' with valid buffer when calling uploadData()"
- azure/storage-blob:
- 12.11.0
- **Operating system**:
- [x] **nodejs**
    - 16.13.0
- [x] **typescript**
    - 4.6.3

**Describe the bug**
Similar to https://github.com/Azure/azure-sdk-for-js/issues/22534. But I updated to the latest release (@azure/storage-blob@12.11.0) and it's still failing. I'm also not trying to read any data; just uploading.

The error I get is
`TypeError [ERR_INVALID_ARG

[2022-09-27 18:24] scottaddie opened #23328 "Enable proactive renewal of Managed Identity tokens"
**Intro:**
Refreshing the tokens with half lifetime would improve resiliency for clients if there's an ESTS outage while fetching a token.

**Acceptance Criteria:**
All MSI tokens are refreshed at least half lifetime token request is made after half lifetime

MSI has token lifetime of 24 hours. Refresh the tokens if `refresh_in` is passed from ESTS or at half lifetime if `refresh_in` isn't passed.

[2022-09-27 18:41] scottaddie opened #23329 "Support PoP token binding via Signed HTTP Request (SHR) for public client apps"
**Intro:**
Proof of Possession is intended to ensure that the client that requests a token is the only client that can use the token. This is accomplished by the client generating a key pair and requesting that the public key be included in the issued access token. The client library then generates a wrapper token signing it with the private key that is only known to it.

**Proposal:**
1. Ensure a

[2022-09-27 18:54] jeremymeng commented on #23325
@federicoder thank you very much for reporting the issue! I tried to repo locally in a vanilla HTML + bundled JavaScript code, but this similar code below worked fine for me (after disabling browser security for CORS). I wonder whether something went wrong when integrating with other framework.  Is it possible for you to share a simplified project that demonstrates this issue?
[code]
![image](http

[2022-09-27 19:41] scottaddie opened #23330 "Add Continuous Access Evaluation (CAE) support for service principals"

[2022-09-27 20:31] yzhengamat opened #23331 "Node.js access keyvault failure"
I followed https://learn.microsoft.com/en-us/azure/key-vault/secrets/quick-create-node and uses latest packages for following packages   "@azure/identity": "^2.1.0",    "@azure/keyvault-secrets": "^4.5.1".

Code is like below
exports.getKeyValue3 = async function (req, res) {
const url = "<mykeyvaulturl>";
var secreteResponse;
try {
  console.log(process.env["AZURE_TENANT_ID"]);
  console.log(proc

[2022-09-27 22:10] xirzec commented on #23327
@icanfathom is this using a third party node canvas npm module? I'm mostly confused because the browser doesn't have buffers and Node doesn't have a DOM. 😅

[2022-09-27 22:42] xirzec commented on #23331
Looks like `DefaultAzureCredential` wasn't able to retrieve any credentials. Have you tried visiting the identity troubleshooting guide in the error message?

https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/TROUBLESHOOTING.md#troubleshoot-default-azure-credential-authentication-issues

[2022-09-27 23:47] pvaneck commented on #23183
Notable consistency updates:

### README

First, based on changes from the past semester:

- [ ] Add `AZURE_CLIENT_CERTIFICATE_PASSWORD` env variable to “Service principal with certificate” list in “Environment variables” [section](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/README.md#environment-variables). Also, remove “ (without password protection)” from  `AZURE_C

[2022-09-28 00:04] #23118 closed

[2022-09-28 09:05] SaNch0sE opened #23339 "[@azure/storage-blob] Get SAS Url of blob with prefix (folder name)"
Please, add new parameter to getBlockBlobClient \ getBlobClient functions, like 'prefix', that will be set as the folder name in Azure Blob Container. Because if I set prefix to my blob name string (ex: folder/blob-name) - it will be escaped (like:  folder%2Fblob-name), and I get error that "Blob not found".

[2022-09-28 10:03] federicoder commented on #23325
hi @jeremymeng , thank you for reply, I solved by disabling browser security for CORS.
I have question: Is there a way to create a topic, without disabling cors security for broswer?

[2022-09-28 16:17] pkraj0 commented on #22899
[testPavan-09272022.txt](https://github.com/Azure/azure-sdk-for-js/files/9666944/testPavan-09272022.txt)
Hi @HarshaNalluru,
I ran same code for couple of days and attached results. Following is my test set up
No message coming from eventHub, is there different behavior of sdk, if no messages coming from event hub

[2022-09-28 17:40] ChuckJonas opened #23341 "AppInsights distributed tracing (setting "Diagnostic-Id") for when calling `sendMessages`"
**Is your feature request related to a problem? Please describe.**
Is there some way to configure service bus to automatically receive the `traceparent` from the AppInsights.

PS: There is almost no documentation around Distributed tracing in general.  I noticed that send messages actually has an optional `traceContext` option, but it doesn't seem to accept the "traceContext" from a function conte

[2022-09-28 18:26] jeremymeng commented on #23325
@federicoder This is actually [a known issue due to Service Bus backend service](https://github.com/Azure/azure-sdk-for-js/issues/4983).  I am going to ask the service team about the status again but currently I am not aware of a way other than disabling browser CORS security.

[2022-09-28 19:52] xirzec commented on #23339
@SaNch0sE I'm a little confused by the title of your issue, is your problem with calculating a SAS for a blob with a `/` character in its name or is your issue retrieving and working with the blob itself?

I'm curious if this sample that demonstrates working with hierarchical blobs works for you: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/storage/storage-blob/samples/v12/javascript/li

[2022-09-28 22:26] icanfathom commented on #23327
@xirzec Yep, I'm using https://www.npmjs.com/package/canvas.

The weird backstory here is that this worked within the last month. I have images in my blob service with a date of Sep 6. But I was probably running with several-month-old versions of Node, etc. at that point, so I don't know which exact update broke it.

The tl;dr is that this seems to be failing for more recent versions of these pack

[2022-09-29 00:09] jeremymeng commented on #23341
@ChuckJonas Our tracing support is through opentelemetry. We provide the integration with opentelemetry in `@azure/opentelemetry-instrumentation-azure-sdk`. Here's [an example showing how to enable instrumentation for Azure SDK client libraries](https://github.com/Azure/azure-sdk-for-js/tree/c2dc63e14d447f32ecbc3d79d9aeaa05ae314f94/sdk/instrumentation/opentelemetry-instrumentation-azure-sdk#enable

[2022-09-29 06:52] SaNch0sE commented on #23339
HI. The problem here is that I need to upload a file to a folder\prefix in Azure Blob, but to do this I need to set up Blob client first. getBlockBlobClient function takes only one parameter, which is blobName string, but if I need to save a file into a specific folder - I need to add a prefix to the name. If I do this just by adding "myFolderPrefix/" to the blob name string - it will encode to th

[2022-09-29 08:43] federicoder commented on #23325
okay thank you very much @jeremymeng , can we keep in touch if you will know something about this thing in future?

[2022-09-29 09:09] EmmaZhu commented on #23339
@SaNch0sE , I see your issue here. The '/' in blob name should not be encoded. We just merged a PR to fix this behavior: https://github.com/Azure/azure-sdk-for-js/pull/22654

We are planning to have a release in 2~3 weeks which will include this fix.

[2022-09-29 09:30] EmmaZhu commented on #23327
@icanfathom ,  could you share a code snippet to reproduce the issue with using canvas create a buffer and uploading the buffer to a blob? I'll try to debug into the code to see how the issue happens.

[2022-09-29 09:45] SaNch0sE commented on #23339
Hello! I just tested, and it seems like even with escaped characters, it is working fine. But anyway it will be better if you added some documentation on usage of blob prefixes in this module

[2022-09-29 09:45] #23339 closed

[2022-09-29 14:28] actong opened #23349 "Unable to run Azure Monitor queries in US Government cloud"
- **Package Name**: @azure/monitor-query
- **Package Version**: 1.0.2
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 16.15.0
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.7.3
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bu

[2022-09-29 14:28] azure-sdk commented on #23349
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.21234705,Monitor - LogAnalytics:0.11265213,Cognitive - Text Analytics:0.06408675'

[2022-09-29 15:34] xirzec commented on #23349
@actong Thanks for reporting this issue. Can you confirm what version of `@azure/identity` you are using?

[2022-09-29 16:01] xirzec commented on #23349
I think I found something: https://github.com/Azure/azure-sdk-for-js/blob/3eeb725a96d944acb314899b2a164a4d2a373dac/sdk/monitor/monitor-query/src/logsQueryClient.ts#L60

Looks like we're assuming the scope can be built directly off the endpoint, which is not correct as the endpoint and the scope are not identical when we set the defaults for the public cloud.

[2022-09-29 16:38] jeremymeng commented on #23325
@federicoder yes, we will keep this issue open and I will update here.

[2022-09-29 16:56] jeremymeng commented on #23341
@ChuckJonas sorry for the poor documentation.  This has always been the area that we continue to improve.

Yes, there's [an exporter](https://www.npmjs.com/package/@azure/monitor-opentelemetry-exporter) that export SDK telemetry data to AppInsights. It's currently in Preview. Here's the doc page: https://learn.microsoft.com/en-us/azure/azure-monitor/app/opentelemetry-enable?tabs=nodejs#add-opentel

[2022-09-29 17:05] jeremymeng commented on #23314
Right in general we are not validating arguments that are passed to the service.  But for this particular case, we probably should
do a sanity check to ensure the endpoint passed to the constructor is a URL (at least starts with `http`). @EmmaZhu thoughts?

[2022-09-29 17:28] deyaaeldeen opened #23350 "[Language Text] Update Readme about gated preview features"
Add a language to the readme that highlights that the following two features are still in gated preview:
- Abstractive Summarization
- Dynamic Classification

[2022-09-29 17:31] diberry opened #23351 "@azure/cosmos - upsert doesn't quickly fail"
- **Package Name**: @azure/cosmos
- **Package Version**: 3.17.1
- **Operating system**: Win11
- [ ] **nodejs**
    - **version**: 14
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
If I run a scri

[2022-09-29 17:40] yzhengamat commented on #23331
@xirzec
Yes, I have gone through that link in the error message but it didn’t help me to solve the issue. In my code the console.log shows all the 3 environment variables are retrieved correctly.
Could you point out specifically what is missing or can be modified that cause the code "wasn't able to retrieve any credentials"?

[2022-09-29 17:55] actong commented on #23349
We're using 2.1.0.

Yeah I believe that's why we get the `AADSTS500011` error.

[2022-09-29 18:06] timovv commented on #23331
Hi @yzhengamat!

I may be missing something, but I can't actually see any errors in your output. The line

[code]

is not actually an error: it's just a property on `DefaultAzureCredential`, and it presumably contains the error message that would be returned if an error was indeed thrown (it's set in the source code [here](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/s

[2022-09-29 18:43] xirzec commented on #23331
Whoops, thanks @timovv for pointing out the above logs are literally the DefaultAzureCredential and SecretClient being logged as objects

[2022-09-29 18:47] yzhengamat commented on #23331
@timovv

The catch block get following error.message:

EnvironmentCredential authentication failed. To troubleshoot, visit https://aka.ms/azsdk/js/identity/environmentcredential/troubleshoot. Status code: 400\nMore details:\nendpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detail: ClientConfigurationError: untrusted_authority: The provided authori

[2022-09-29 18:53] xirzec commented on #23331
@yzhengamat there were some recent changes in Identity that I think might be affecting this. Could you try the latest version of
 `@azure/identity` (3.0.0)?

[2022-09-29 19:28] yzhengamat commented on #23331
@xirzec

After updated to version 3.0.0 and npm install again, I still get exact same exception error message as above.

[2022-09-29 21:00] yzhengamat commented on #23331
@xirzec not goverment cloud

[2022-09-30 20:52] kawazoe opened #23385 "[Azure Search] Cannot 'select' fields in schemas containing Edm.ComplexType fields using the TypeScript syntax"
- **Package Name**: @azure/search-documents
- **Package Version**: 11.3
- **Operating system**: n/a
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.8
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
Accordin

[2022-09-30 22:49] jeremymeng commented on #23234
Looks like some transient network problem. Recent js - template - tests runs are all green. Closing

[2022-09-30 22:49] #23234 closed

[2022-09-30 22:58] jeremymeng commented on #23050
Issue fixed.

[2022-09-30 22:58] #23050 closed

[2022-10-02 06:21] FCHAPLIN commented on #23314
Hi, I could resolve following [xirzec](https://github.com/xirzec) advice, using :
`const blobServiceClient = BlobServiceClient.fromConnectionString(connectionString)`

This is already very well documented, and may not require to add any code.
The issue is resolved for me. Thank you.

[2022-10-03 13:05] azure-sdk opened #23389 "Dependency package typedoc has a new version available"
We have identified a dependency on version 0.15.2 of typedoc. A new version (0.23.15) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such package (/sdk

[2022-10-03 13:05] azure-sdk commented on #23389
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.24357156,Service Bus:0.18623844,EngSys:0.05494139'

[2022-10-03 14:32] witemple-msft commented on #23101
This issue has been resolved.

[2022-10-03 14:51] witemple-msft commented on #22569
I'm tagging this with service-attention because this feature (`entities`) is not present in the 2022-08-31 REST API. The SDK for JavaScript returns all the information produced by the REST API.

[2022-10-03 14:52] witemple-msft commented on #22750
This has been resolved.

[2022-10-03 14:52] #22750 closed

[2022-10-03 18:23] xirzec commented on #23389
I've been working on this a little bit. There are considerable breaking changes to absorb (both to theming and how it parses files) so I am going through and rewriting our CI script

[2022-10-03 18:26] xirzec commented on #23385
Ah, good find and thanks for digging in, @kawazoe!

Tagging @witemple-msft for his thoughts on how best to express this in TypeScript

[2022-10-03 18:32] dstarn1 opened #23390 "CORS error with Azure Communication Services SDK"
- **Package Name**:
-   "@azure/communication-calling": "^1.6.3",
    "@azure/communication-common": "^2.1.0",
- **Package Version**:
- **Operating system**:
- [x] **nodejs**
    - **version**:
    - node v18.8.0
- [x ] **browser**
    - **name/version**:
    - Google Chrome  version 105.0.5195.127

**Describe the bug**
A clear and concise description of what the bug is.

I am using the Azure Comm

[2022-10-03 18:32] azure-sdk commented on #23390
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.52517945,Azure.Identity:0.44786534,Azure.Core:0.010602847'

[2022-10-03 18:57] kawazoe commented on #23385
I actually have a complete working prototype already. I'll post it here later today.

[2022-10-03 19:37] jeremymeng commented on #23389
The bot only reports version updates for rush projects, not the generate-doc tool.  This looks triggered by "maps-search" package.  I am going to submit a PR to remove it.  You can still have this issue though.

[2022-10-03 21:08] anrothMSFT commented on #22569
Hi! I've moved on to a new team. I've flagged this for @vkurpad. Additionally, I'm tracking down the list of correct owners to replace me and Chris as service owners here.

[2022-10-03 22:34] jeremymeng opened #23395 "[engsys] sunset NodeJS v12 support"
- [x] update automation pipeline #23354
- [x] "engines" should be updated to ">=14.0.0" https://github.com/Azure/azure-sdk-for-js/commit/98508cfa1864ca06be47c61fcc73bb14295ee5bf
- [x] "@types/node" should be "^14.0.0" https://github.com/Azure/azure-sdk-for-js/commit/98508cfa1864ca06be47c61fcc73bb14295ee5bf
- [x] update codegen: https://github.com/Azure/autorest.typescript/pull/1592
- [x] dev-tool

[2022-10-04 00:13] HarshaNalluru opened #23397 "[Form Recognizer] Add troubleshooting guide"
From Java
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/formrecognizer/azure-ai-formrecognizer/TROUBLESHOOTING.md

[2022-10-04 00:44] icanfathom commented on #23327
Friends.

I am the worst.

I refactored my project and forgot to put my new connection keys into local.settings.json. So that was the problem. I was passing in `undefined` for accountName, accountKey when calling `new StorageSharedKeyCredential()`.

I suppose it would be nice to get a more helpful error message in this case. But I leave that up to your (clearly) more capable minds.

@EmmaZhu Feel

[2022-10-04 02:57] pvaneck commented on #23183
FYI, Reference readme + troubleshooting has been merged: https://github.com/Azure/azure-sdk-for-python/pull/26483
I have notated the majority of the changes that should be made in the above comment. Let me know if additional assistance is needed.

[2022-10-04 03:36] kawazoe commented on #23385
Thanks to the help of a friend of mine ( @malinges ), I managed to produce a pair of types that can be used to generate the correct structures to implement this feature:

## low level types
[code]

## high level types
These types are specializations of the previous types to use the OData delimiter.

[code]

## Usage
With these two types, we can now define the `search()` method in `SearchClient` as

[2022-10-04 08:33] appleoddity commented on #20498
I've been beating my head against the wall on this. From what I'm reading if I want to use ManagedIdentityCredential I can't specify the tenant ID, which I thought I could do. However, when I do, I always pull the managed identity from the default tenant and not the tenant that I specify. Which makes sense now.

My understanding is that when I have a multi-tenant app (Azure Function) that uses a s

[2022-10-04 12:40] patrickdassier opened #23400 "ApiManagement SDK v8.1.1 unable to get access token with @azure/identity library"
- **Package Name**: @azure/arm-apimanagement
- **Package Version**: 8.1.1
- **Operating system**: whatever
- [ X] **nodejs**
    - **version**: 16.14.2
- [ ] **browser**
    - **name/version**:
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bu

[2022-10-04 15:23] ChuckJonas commented on #20689
Just checking in... did this go out?  Struggling to find a changelog in this monorepo...

[2022-10-04 15:50] nicolgit opened #23401 "How to implement Event Hub event receiver in angular web app?"
- **Package Name**: azure/event-hubs
- **Package Version**: 5.8.0
- **Operating system**: Windows 11 latest update
- [x] **nodejs**
    - **version**: 16.17.1
- [x] **browser**
    - **name/version**: Microsoft Edge - latest version
- [x] **typescript**
    - **version**: 4.7.2
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on

[2022-10-04 18:49] jeremymeng commented on #23401
@nicolgit you need to provide polyfills for a few NodeJS packages that are required our Event Hubs library.  Please see the browser section of README for more information: https://github.com/Azure/azure-sdk-for-js/blob/0906e6dead5fbc9d9ef03cba45e7653b2462b85a/sdk/eventhub/event-hubs/README.md?plain=1#L53

This StackOverflow post may help https://stackoverflow.com/questions/67572355/webpack-5-angul

[2022-10-04 19:25] vkurpad commented on #22569
The entities feature was removed from the GA API. Entities are no longer supported in the GA API and moving forward. If you need to extract the entities, you will need to call the NER on Text analytics https://learn.microsoft.com/en-us/azure/cognitive-services/language-service/named-entity-recognition/overview

[2022-10-04 19:44] xirzec commented on #23327
@icanfathom I have made more and sillier mistakes! Please don't feel bad. I'm very happy you were able to get to the bottom of your trouble.

@EmmaZhu perhaps putting some runtime checks into `StorageSharedKeyCredential` would be useful, since it shouldn't get run very often?

[2022-10-04 21:01] YunchuWang commented on #23400
Hi I am from Azure Python function team, one of our projects using azure/identity, we are also impacted and seeing the same error

[2022-10-04 21:16] vrdmr commented on #23400
I am hitting this issue as well - when doing `new DefaultAzureCredential()` while creating clients.

[2022-10-04 23:56] #22560 closed

[2022-10-05 00:10] jeremymeng commented on #23400
It may be related to https://github.com/Azure/azure-sdk-for-js/pull/23357/files#diff-01c227f4c236409ec98fdc49c05887f2f63f4d1c09b43a45181764f7ff886bfa, where the default scope is removed to unblock running in other sovereign clouds.  You can probably try passing a scope via options when constructing the client, something like
[code]

[2022-10-05 07:04] patrickdassier commented on #23400
OK, it works when adding _credentialScopes_ parameter.

Thanks

[2022-10-05 12:46] GeorgeCodeHub commented on #22188
Hello, @jeremymeng apologies I never checked back. I tested your solution and it works like a charm! Thank you very much for the support!!!

[2022-10-05 12:50] #22188 closed

[2022-10-05 15:15] YunchuWang opened #23407 "Arm-Appcontainers v1.1.1 having default auth scope set to undefined error"
- **Package Name**: @azure/arm-appcontainers
- **Package Version**:  1.1.1
- **Operating system**: N/A
- [ ] **nodejs**
    - **version**: v16.15.0
- [ ] **browser**
    - **name/version**: chrome
- [ ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the

[2022-10-05 16:59] jeremymeng commented on #23407
@YunchuWang could you please try passing `credentialScopes` to client constructor options, like mentioned in https://github.com/Azure/azure-sdk-for-js/issues/23400#issuecomment-1267751377

[2022-10-05 17:34] calvinkwtang opened #23408 "Rooms SDK Source Code Documentation Out of Date"
- **Package Name**: @azure/communication-rooms
- **Package Version**: 1.0.0-beta.2

- Is the bug related to **documentation** in
  - [ ] README.md
  - [x] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe the bug**
addParticipants, updateParticipants, and removeParticipants calls no longer return anything but the comments still suggest they return a list of p

[2022-10-05 17:34] azure-sdk commented on #23408
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.23461519,Communication:0.18160337,Docs:0.03196524'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.58050406,Client:0.41812566,Central-EngSys:0.000753602'

[2022-10-05 18:00] jeremymeng commented on #23400
It may be better if we don't have to specify this when running on public clouds as options.credentialScopes is optional.

[2022-10-05 18:04] azure-sdk commented on #23390
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.52517945,Azure.Identity:0.44786534,Azure.Core:0.010602847'

[2022-10-05 20:55] akania commented on #23390
Hi @dstarn1 , can you please share more information - a request ( with headers ) would help - you can remove personal information if there's one ( IPs etc.. )

[2022-10-05 21:12] witemple-msft commented on #23385
@kawazoe Thanks for this. This particular service isn't exactly in my wheelhouse but I'll comment on the TypeScript API we have. I definitely agree that the issue described in the original post is a bug. Our types should allow all valid select paths for the input type and not just the keys of the `Fields` param.

To make sure I thoroughly understand:
- Currently, we only allow `select`ing the _top

[2022-10-06 09:07] qiaozha commented on #23400
@patrickdassier Can you share what version of @azure/core-client which is one of the dependency of @azure/arm-apimanagement you are using ?

[2022-10-06 09:15] nicolgit commented on #23401
I figured out  what I was missing: I also had to run `npm install @types/node`

The README guide was very helpful, thank you!!

[2022-10-06 09:15] #23401 closed

[2022-10-06 09:47] patrickdassier commented on #23400
Here the piece of _package-lock.json_ file about @azure/arm-apimanagement:

       "node_modules/@azure/arm-apimanagement": {
              "version": "8.1.1",
              "dependencies": {
                "@azure/abort-controller": "^1.0.0",
                "@azure/core-auth": "^1.3.0",
                "@azure/core-client": "^1.5.0",
                "@azure/core-lro": "^2.2.0",

[2022-10-06 10:23] sajeetharan opened #23416 "Support sub-partitioning in Node SDK"
**Is your feature request related to a problem? Please describe.**
 https://learn.microsoft.com/en-us/azure/cosmos-db/hierarchical-partition-keys?tabs=net-v3%2Cbicep
With sub-partitioning customers can natively partition their container with up to three levels of partition keys

DOTNET SDK PR
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/1658

[2022-10-06 10:24] sajeetharan opened #23417 "Add support for Merge in Node SDK"

[2022-10-06 10:59] topshot99 commented on #23351
@diberry I tried to reproduce this issue on my system.
I used 3.17.1 version and tried to give non-existing names for databse and container. I got resource doesn't exist in response without much delay. Maybe I am missing something can you please share more details here?

[2022-10-06 15:06] chrissmiller opened #23420 "@azure/test-recorder breaks polling final status with original-uri"
- **Package Name**: @azure/test-recorder
- **Package Version**: 2.0.0
- **Operating system**: Windows 11 Enterprise

**Describe the bug**
A clear and concise description of what the bug is.
When in "record" mode, the test recorder updates initial request URLs to requests to the recorder proxy
e.g., a request to "GET https://myhost.myservice.azure.com/contoso/info" becomes "GET http://localhost:500

[2022-10-06 17:36] gitnwana opened #23422 "Unknown outgoing messages recorded in event hub metrics"
Hi,
We've been stress testing our application with large number of messages relayed from an event hub script (Node.JS) to an Azure Function (event hub triggered - c#)

Since past week we are noticing a certain number of unknown messages in the outgoing section of the graph, however, no messages are being sent or even received at the Azure Function end.

Screen-grab below. Any help appreciated.

![

[2022-10-06 18:51] witemple-msft commented on #23385
I came up with an alternative that I think could address the situation without requiring too much type machinery. They are specialized for the Search $select grammar.

There are two utility types:

- `UnionToIntersection<U>`, which converts a union `T1 | T2 | ... | TN` to an intersection `T1 & T2 & ... & TN`.
- `ExcludedODataTypes`, which is just a union of types that shouldn't be recursively mapp

[2022-10-06 19:08] kawazoe commented on #23385
I'll take a look later today. I can't wait to see how you approached this problem.

As for your question about nesting. It's returning the generic in an inferred way that triggered the issue, not even using the type itself. Something like this:

[code]

_(written on my phone)_

But, I did tested my solution with shallow and deeply nested types, including recursive ones. I figured that, even if the

[2022-10-06 20:34] jeremymeng commented on #23422
@gitnwana Could you please provide more details on how you relay messages in JavaScript? Some code snippets would be great too!

Are there any changes in your environment, application, or NPM dependencies in last week?

Also, you could enable more logging and see if there's anything unusual. Please refer to the troubleshooting section for more information on getting debug logs:

https://github.com

[2022-10-06 20:48] minhanh-phan opened #23424 "[core-paging] Naming convention for core-paging interface"
This is a discussion thread for naming inconsistency in the `PagedResult` interface, `PagedAsyncIterableIterator` interface, and the 'getPagedAsyncIterator' function in `core-paging`.

_Originally posted by @deyaaeldeen in https://github.com/Azure/azure-sdk-for-js/pull/23404#discussion_r988409201_

[2022-10-06 21:14] dsab123 commented on #23349
Thank you @actong for reporting this, and @mpodwysocki for fixing! Confirming that version 1.0.3 without the `v1/` worked for me in Government.

[2022-10-06 23:15] HarshaNalluru commented on #14602
Closing in favour of migrating the storage libraries to use recorder v2

[2022-10-06 23:15] #14602 closed

[2022-10-06 23:47] HarshaNalluru opened #23427 "[Storage Blob] Migrate tests to use the recorder v2"
Example migration PR - https://github.com/Azure/azure-sdk-for-js/pull/20164
Migration Guide - https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/MIGRATION.md

This issue tracks the work needed to migrate the storage-blob tests to use recorder v2 over the current v1, this is something that is being done for all the packages in the JS repository.

There are [advantages to mi

[2022-10-07 04:30] sajeetharan commented on #20689
hI @ChuckJonas Not yet, we are planning to release this with the next version 3.17.2 in couple of weeks time!

[2022-10-07 09:49] gitnwana commented on #23422
Hi @jeremymeng

Here is the send data function

    var eventData=JSON.stringify(obj);
    const eventDataBatch = await eventHubClient.createBatch(maxSizeInBytes);
    const didAdd = eventDataBatch.tryAdd({body:eventData});

    // checks if event added to batch and sends to event hub
    try {
		if (didAdd) {
			await eventHubClient.sendBatch(eventDataBatch);
			console.log("Sent Data: \t"+JSON.s

[2022-10-07 15:23] xirzec commented on #23349
Thanks for confirming the fix @dsab123 ! I'm going to go ahead and close this issue for now but @actong please let us know if you have any further trouble.

[2022-10-07 15:23] #23349 closed

[2022-10-07 18:10] kawazoe commented on #23385
@witemple-msft I just had a chance to look at your solution. It's really good! I considered "parsing" the paths as well but didn't find a way make it work so I resorted to parsing the type instead. You solution is much faster and it shows, especially for larger and more complex objects.

I did find a couple of small issues.
1/ I noticed you don't recur on arrays in `SearchSelectPaths` but it is re

[2022-10-07 22:07] minhanh-phan commented on #23424
Fixed in https://github.com/Azure/azure-sdk-for-js/pull/23404

[2022-10-07 22:07] #23424 closed

[2022-10-07 22:39] pallavit opened #23433 "[KeyVault] Update the LRO link that polls on recovery of deleted secrets"
https://github.com/Azure/azure-sdk-for-net/issues/31581 for more information.

[2022-10-09 02:05] qiaozha commented on #23407
@YunchuWang we have release a new version https://www.npmjs.com/package/@azure/arm-appcontainers/v/1.1.2  to fix this issue, Could you have a try and let us know if the issue resolved ? Thanks

[2022-10-09 02:09] qiaozha commented on #23400
@patrickdassier we have released a newer version of @azure/arm-apimanagement https://www.npmjs.com/package/@azure/arm-apimanagement/v/8.1.2. Could you have a try and see if this issue has been resolved ? Thanks

[2022-10-09 02:43] wangmingliang-ms opened #23456 "can not create app deployment after upgrading package to `arm-appplatform:2.1.0-beta.3`"
- **Package Name**: @azure/arm-appplatform
- **Package Version**: 2.1.0-beta.3
- **Operating system**: Windows
- [x] **nodejs**
    - **version**: 16.16.0
- [x] **browser**
    - **name/version**:
- [x] **typescript**
    - **version**: 4.3.5
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Descri

[2022-10-09 02:43] azure-sdk commented on #23456
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.22587277,Storage:0.15332974,Cosmos:0.082190745'

[2022-10-10 02:19] qiaozha commented on #23456
@wangmingliang-ms Can you check your @azure/core-client version in node_modules of  wangmi/dev branch see if it's 1.6.1  ? if no, can you try to upgrade it ? I

[2022-10-10 05:47] wangmingliang-ms commented on #23456
@qiaozha
We don't have a dependency on this package in our `package.json` because we don't use it directly.

**Its version in `node_modules` is `1.6.0`. After declaring a dependency on it in our `package.json` and setting the version to `1.6.1`, this error went away.**

If the latest `@azure/arm-appplatform` requires a version of `@azure/core-client:^1.6.1`, I think you should declare it explicitl

[2022-10-10 06:50] qiaozha commented on #23456
We can upgrade the version in our next release. As ^1.5.0 will automatically take the latest version of @azure/core-client if there's no package-lock.json in the customer side, we thought it's okay to not update the core-client version right now.

[2022-10-10 07:00] patrickdassier commented on #23400
@qiaozha : I confirm that release 8.1.2 fix the issue. Thanks

[2022-10-10 07:00] #23400 closed

[2022-10-10 07:57] wangmingliang-ms commented on #23456
sounds good, thanks.

[2022-10-10 11:45] gitnwana commented on #23422
Hi @jeremymeng . Any solution to this ?

[2022-10-10 13:04] azure-sdk opened #23463 "Dependency package @rollup/plugin-inject has a new version available"
We have identified a dependency on version 4.0.4 of @rollup/plugin-inject. A new version (5.0.3) is available for upgrade.

Following are the steps to upgrade package dependency.

  1. Understand the breaking changes between the version being used and the version you want to upgrade to.

  2. Identify all packages that take a dependency on this package.

  3. Go to the root folder for each such pa

[2022-10-10 13:04] azure-sdk commented on #23463
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.27491242,Service Bus:0.14822876,Azure.Identity:0.05896206'

[2022-10-10 14:52] azure-sdk commented on #23463
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.27491242,Service Bus:0.14822876,Azure.Identity:0.05896206'

[2022-10-10 20:33] KarishmaGhiya commented on #23153
The maximum concurrency level depends on a number of factors. For example, network capacity, application memory availability, and number of cores. It must be tuned as per your application and environment

[2022-10-10 20:38] KarishmaGhiya commented on #23153
- Also follow up on error handling discussions through the email
- Remove Upload Status

[2022-10-10 20:58] #21065 closed

[2022-10-10 23:07] minhanh-phan commented on #23040
Already done

[2022-10-10 23:07] #23040 closed

[2022-10-10 23:32] minhanh-phan commented on #23040
The change has been made.

[2022-10-11 02:47] v-jiaodi opened #23467 "[Form Recognizer] [AAD] analysis (Node) tax - US - w2 png file stream failing in nightly runs"
Form Recognizer nightly test runs are failing with:

    at validateSpec (/mnt/vss/_work/1/s/sdk/formrecognizer/ai-form-recognizer/test/utils/fieldValidator.ts:70:14)
    at validateObjectSpec (/mnt/vss/_work/1/s/sdk/formrecognizer/ai-form-recognizer/test/utils/fieldValidator.ts:104:5)
    at /mnt/vss/_work/1/s/sdk/formrecognizer/ai-form-recognizer/test/utils/fieldValidator.ts:164:5
    at Context

[2022-10-11 02:47] v-jiaodi opened #23468 "[Key Vault - Secrets] Remove test resources failing in nightly runs"
Key Vault - Secrets nightly test runs are failing with:

At D:\a\_work\1\s\eng\common\TestResources\Remove-TestResources.ps1:248 char:5
     Remove-AzResourceGroup -Name "$ResourceGroupName" -Force:$Force
[code]

[2022-10-11 02:47] v-jiaodi opened #23469 "[Service Bus] Deploy test resources failing in nightly runs"
Service Bus nightly test runs are failing with:

Status Message: The requested resource SasAccessKey does not exist. (Code:DeploymentOperationFailed)
CorrelationId: 0aeeb758-7a4d-43c6-b600-c73fcfe3b2d9"
At D:\a\_work\1\s\eng\common\TestResources\New-TestResources.ps1:725 char:23
         $deployment = Retry {
[code]

[2022-10-11 02:47] v-jiaodi opened #23470 "[Aggregate-reports] Post Analysis (PoliCheck) failing in nightly runs"
Aggregate-reports nightly test runs are failing with:

##[error]32. PoliCheck Error SEV2 - File: sdk/security/arm-security/samples/v6-beta/typescript/README.md. Line: 9. Column 320.
  Tool: PoliCheck: Rule: SEV2 (Severity 2).
  The term [whitelist](http://policheck.azurewebsites.net/Pages/TermInfo.aspx?LCID=9&TermID=80411) was used in file 'README.md' and may not be appropriate to ship in all cont

[2022-10-11 02:48] azure-sdk commented on #23470
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.122094594,azure-spring:0.07383769,App Services:0.06770269'

[2022-10-11 09:14] sarangan12 commented on #20923
My 2 cents:

  1.  I would be reluctant to introduce logic in core libraries. But, this piece of logic has already been introduced. So, I am Ok with that.
  2.  I agree with Jeff on removing the parameters will solve the issue. But, those values are coming from Swagger. For this case, we could do swagger transforms. But, it will not be a long standing solution for other services. So, we have to Ke

[2022-10-11 15:03] elizabethhalper opened #23473 "Integrity Checks"
**Is your feature request related to a problem? Please describe.**
We have multiple customers who are asking that integrity checks are performed on data transferred to and from blob storage.
We have learned from an engineer on this SDK team that "the SDK itself doesn't do any integrity checks. Storage service provided integrity checks properties, you can save checksums of the content in uploading

[2022-10-11 15:49] proohit opened #23474 "[@azure/service-bus] Websocket connection failed with react native polyfills"
- **Package Name**: @azure/service-bus
- **Package Version**: 7.7.1
- **Operating system**:
- [ ] **nodejs**
    - **version**:
- [ ] **browser**
    - **name/version**:
- [x] **react-native**
    - **name/version**: 0.70.1
- [x] **typescript**
    - **version**: 4.8.3
- Is the bug related to **documentation** in
  - [x] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://d

[2022-10-11 15:50] azure-sdk commented on #23474
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.46679074,Azure.Core:0.23571692,Storage:0.0883106'

[2022-10-11 16:37] ealsur opened #23475 "[Cosmos DB] Cross-region retry alignment across SDKs"
- **Package Name**:  @azure/cosmos
- **Package Version**: All
- **Operating system**:
- [x] **nodejs**

The Retry Utility (https://github.com/Azure/azure-sdk-for-js/blob/191e4ce330acd60e014c13412204b9598870cfa1/sdk/cosmosdb/cosmos/src/retry/retryUtility.ts) should align with the other language SDKs in terms of failover mechanics.

Right now, it is missing 2 areas:

* HTTP 503 (Service Unavailable)

[2022-10-11 17:04] xirzec commented on #22707
Duping this to #19604 since FR has known reliability issues.

[2022-10-11 17:04] #22707 closed

[2022-10-11 17:04] xirzec commented on #22949
Duping this to #19604 since FR has known reliability issues.

[2022-10-11 17:04] #22949 closed

[2022-10-11 17:04] xirzec commented on #23467
Duping this to #19604 since FR has known reliability issues.

[2022-10-11 17:04] #23467 closed

[2022-10-11 17:08] xirzec commented on #23473
@elizabethhalper If I understand you correctly, is the request that the SDK validate blob contents were uploaded successfully and provide some kind of thrown error if this doesn't happen from the upload operations?

[2022-10-11 19:16] timovv commented on #15896
Done in https://github.com/Azure/azure-sdk-for-js/pull/21702

[2022-10-11 19:16] #15896 closed

[2022-10-11 23:15] minhanh-phan commented on #22339
The change in the Readme files has already been made.

[2022-10-11 23:15] #22339 closed

[2022-10-12 01:28] EmmaZhu commented on #23473
@elizabethhalper ,

There are two levels of integrity, using uploading as an example:
1. Transactional integrity check: this could be used in `PageBlobClient.uploadPages`, `BlockBlobClient.stageBlock`, `AppendBlobClient.appendBlock`.  There's a header to set checksum for a request, storage service will compare the checksum in the header with the one it calculated from the request body and throw ou

[2022-10-12 08:54] sachabrants commented on #23473
We use BlockBlobClient.uploadData

Could that be prioritized?

[2022-10-12 10:01] nvictoros opened #23489 "cosmosdb | Consistent StatusCodes.NotFound handling for Item.ts operations"
**Is your feature request related to a problem? Please describe.**
- It is frustrating that [`read`](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/src/client/Item/Item.ts#L74) in [`Item.ts`](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/src/client/Item/Item.ts) does not throw an error for `StatusCodes.NotFound`, but the other operations (e.g. [`d

[2022-10-12 16:51] jeremymeng commented on #23474
@proohit Thank you very much for investigating and reporting the issue!  React-Native is not officially supported yet by our SDK.  We have https://github.com/Azure/azure-sdk-for-js/issues/5771 adding the support.  Currently a couple packages are working fine in the Android emulator after adding polyfills.  The messaging SDKs (service-bus/event-hubs) are in my plan to look into next.  Previously a

[2022-10-12 18:07] sarangan12 commented on #23263
Assigning it to @dgetu

[2022-10-12 21:35] proohit commented on #23474
@jeremymeng Thank you for your efforts, that sounds promising!

When the readme says to support browsers, what exactly is missing in react native? JavaScript Core has a lot of functionality + babel polyfills to align to web standards, including fetch and WebSockets over TCP. As far as I understand, the service-bus client doesn't use any specific web APIs, thus it should work on react native as wel

[2022-10-12 22:39] jeremymeng commented on #23474
I don't know the exact gap until I try it first. I haven't tested our service bus package on react-native.  One example of issues we hit previously was that [fetch api on react-native doesn't support stream](https://github.com/facebook/react-native/issues/27741).

You are right that service-bus client doesn't use any specific web APIs other than the websocket support.  We pass some websocket optio

[2022-10-13 06:17] EmmaZhu commented on #23473
I have add the feature request into backlog, and we'd need to discuss about the feature internelly.

[2022-10-13 06:19] EmmaZhu commented on #23327
Yes, I'll add some check for it.

[2022-10-13 09:43] xorinzor commented on #10531
@joheredi the [NPM docs](https://www.npmjs.com/package/@azure/data-tables#next-steps) still link to this issue rather then linking to the samples

![image](https://user-images.githubusercontent.com/4212335/195563005-17e512ca-ef2c-4f26-a0fc-cad0d443854e.png)

[2022-10-13 09:48] xorinzor opened #23501 "- deleted -"
- deleted -

[2022-10-13 09:55] franher commented on #23206
Hello, @xirzec thank you for your patience, and sorry for my late answer.

I'm using in both cases the same version of `@azure/identity`: `@azure/identity@2.0.5`.

I have configured my proxy as usual, using HTTPS_PROXY env var.

Definitively, what I do not see is why with `@azure/keyvault-secrets@v4.4.0` I do not have any issue, but the issue appears with `@azure/keyvault-secrets@v4.5.0`.

Thank y

[2022-10-13 10:04] #23501 closed

[2022-10-13 10:06] franher commented on #23206
EDIT: I've just tried with `@azure/identity@3.0.0` together `@azure/keyvault-secrets@v4.5.0` (also v4.6.0) and fortunately, the issue has disappeared 🎉.

[2022-10-13 10:06] #23206 closed

[2022-10-13 10:11] znjs opened #23503 "Documentation for @azure/arm-logic"
Is there any documentation available for arm-logic (@azure/arm-logic) with samples.

Is this library (@azure/arm-logic) production/release ready?

[2022-10-13 11:15] ksstott commented on #23224
Hi

After switching to version 3 and letting it run for a while we've had no issues. Thank you for your responses

[2022-10-13 11:15] #23224 closed

[2022-10-13 17:18] dyuan-boxlabs commented on #23331
Any updates to this? I'm running into the same issue, using EnvironmentCredential and I've verified that AZURE_TENANT_ID, AZURE_CLIENT_ID, AZURE_CLIENT_SECRET is correct.

[2022-10-13 17:45] deyaaeldeen commented on #23503
Hi @znjs

Please find an introduction to the library and the API reference in https://learn.microsoft.com/en-us/javascript/api/overview/azure/arm-logic-readme?view=azure-node-latest

And, yes it can be used in production. Please let us know if you have any questions!

[2022-10-13 18:58] xirzec commented on #23331
@KarishmaGhiya @schaabs do either of you know anything about this `untrusted_authority: The provided authority is not a trusted authority` error message? I'm a little confused about what could be causing it

[2022-10-13 22:34] timovv opened #23509 "[keyvault, recorder] Investigate failing timeout tests in playback"
We still need to skip the timeout tests even with the new recorder ([example](https://github.com/Azure/azure-sdk-for-js/pull/23496/files#diff-fa3b6a49db198509f7d1726b1ae21cb184e92bb2c5ece5dae750bb56a8fae40bR88)). We thought we were skipping these due to an issue with the old recorder, but even after migration, they are still flaky. This requires investigation and may involve a fix on the test prox

[2022-10-14 00:55] billwert opened #23511 "Create documentation for Identity credential cache"
Our current documentation for how our SDK interacts with the MSAL token cache is insufficient. We need to doc:

- What scenarios caching is useful for
- How caching is exposed from our library
- What expectations should be when caching is used (performance, throttling)
- How the disk cache is secured when used

[2022-10-14 02:07] lirenhe commented on #23503
@qiaozha,  I didn't see the JS SDK samples in https://learn.microsoft.com/en-us/rest/api/logic/maps/create-or-update?tabs=HTTP, could you double check or do I use the wrong link?

[2022-10-14 02:38] v-jiaodi opened #23512 "[Communication - Phone Numbers] SipRoutingClient - set trunks [AAD] can set empty trunks when not empty before failing in nightly runs"
Communication - Phone Numbers nightly test runs are failing with:

    at handleErrorResponse$3 (../../core/core-client/src/deserializationPolicy.ts:270:13 <- dist-test/index.browser.js:17299:23)
    at deserializeResponseBody$3 (../../core/core-client/src/deserializationPolicy.ts:179:18 <- dist-test/index.browser.js:17234:49)

For more details check here:

- https://dev.azure.com/azure-sdk/intern

[2022-10-14 04:22] deyaaeldeen opened #23515 "[Language Text] Fix all the FIXMEs in the tests"
- [x] Add AAD back
- [x] Enable checking `modifiedOn` is defined in the poller state
- [ ] Enable checking for `warnings` fields in document results for abstractive summarization
- [ ] Enable checking for warning messages for truncated documents

[2022-10-14 06:10] qiaozha commented on #23503
Codegen has some issues when generate samples for this RP.

[2022-10-14 08:45] v-xuto commented on #22749
@willmtemple Any ideas about this issue?

[2022-10-14 08:53] china-chaim opened #23516 "【返回数据过大】Resource Skus - List"
文档地址
https://learn.microsoft.com/zh-cn/rest/api/compute/resource-skus/list?tabs=HTTP

**Is your feature request related to a problem? Please describe.**
筛选器的参数现在只有位置，返回的数据量过大

**Describe the solution you'd like**
希望筛选器的参数可以增加resourceType参数，name参数。以及对应resourceType下capabilities的name信息

[2022-10-14 09:03] v-xuto commented on #15473
@sajeetharan Is there any progress on this issue?

[2022-10-14 10:06] zfyseu commented on #20274
Hello @jeremymeng

the workaround that pass an abort signal to the receiveMessages() call not work.  Afterthe receiveMessages() call abort, the receiveMessages() call hang again soon, as shown in the following figure.  I feel I need to create a new receiver.

![image](https://user-images.githubusercontent.com/9625145/195821068-3c9ce6ae-e804-485f-83db-91b4b9c269a1.png)

[2022-10-14 12:39] proohit commented on #23474
Sounds good. Though I would suggest something like https://github.com/heineiuo/isomorphic-ws, because it supports NodeJs **and** browsers (via `global.Websocket`), so in theory should work in RN too. I don't know if `global.Websocket` is defined in react-native, but that fix should be as easy as `global.Websocket = Websocket`.

If the override in `rhea` works and the APIs match, that should work.

[2022-10-14 13:59] dstarn1 commented on #23390
Hi @akania , apologies for the delay.

I had to reup my subscription so my errors have changed in the browser. Here is what now shows:
<img width="950" alt="image" src="https://user-images.githubusercontent.com/92059486/195861805-451209f8-97f6-4e0f-9b13-6e4537380277.png">
<img width="949" alt="image" src="https://user-images.githubusercontent.com/92059486/195862296-527b5c72-4926-43c6-97a4-3d10a36e

[2022-10-14 16:19] jeremymeng commented on #20274
@zfyseu is it possible for you to try the other mentioned workaround of processing at most 2000 messages in a batch?

[2022-10-14 17:02] timtucker-dte opened #23518 "Cosmos - batch operations should have a defined response type (similar to bulk operations)"
**Is your feature request related to a problem? Please describe.**
The Cosmos SDK bulk and batch calls both take in OperationInput[] to perform actions.

Items.bulk returns back OperationResponse[]

Items.batch has a very poorly defined return type of just Response<any>, although it appears to be returning a list of OperationResponse objects in response.results.

**Describe the solution you'd like

[2022-10-14 17:51] jeremymeng opened #23519 "[mgmt] some packages have build warnings (TS2688) Cannot find type definition file for 'node'."
`rush build` yields the following warnings.  Is this because we don't have `@types/node` dependencies in their package.json files?

[code]

[2022-10-14 18:06] jeremymeng commented on #23474
@proohit I just tried using "ws" in react-native. Unfortunately, react-native packager seemed to prefer the browser version and gave me [this error](https://github.com/websockets/ws/blob/master/browser.js#L4).

I looked at `isomorphic-ws` but it looks just a wrapper around "ws" and browser `WebSocket` and it doesn't support constructor options, which we allow users to pass in.

[2022-10-14 19:53] yogeshmo commented on #22338
Hi, this has been updated and will be published with the next beta release of the SDK. This will likely be sometime in December or January.

[2022-10-14 20:50] minhanh-phan opened #23521 "[Language Text] Add tests for new features in ai-language-text"
- [x] Add tests for dynamic classification
- [x] Add test for NER with resolution
- [x] Add test for healthcare with known document type
- [x] Add test for automatic language detection
- [x] Add test for script detection

[2022-10-14 20:51] azure-sdk commented on #23521
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Synapse:0.076764554,Storage:0.064869076,Notification Hub:0.055074163'

[2022-10-14 21:19] joheredi commented on #22749
I think this should be resolved with the latest version of dev-tool. Can you please run `dev-tool samples publish` under purview-catalog and verify?

[2022-10-14 21:54] proohit commented on #23474
Yes they don't wrap browser `WebSocket`, but instead suggest to evaluate by OR https://github.com/websockets/ws/issues/714#issuecomment-226181823 . So to speak default to a global WebSocket, if available.

[2022-10-14 22:01] timovv opened #23522 "[recorder] Improve test-proxy start/stop script reliability"
The script responsible for starting and stopping the test proxy container can be flaky. I have seen the following issues several times:
1. The script fails to stop the container after starting it, leaving a container running
1. The script _claims_ to have failed stopping the container, but the container stopped just fine
1. If a container is running already (usually caused by issue number 1 above)

[2022-10-14 22:34] jeremymeng commented on #23474
@proohit I found something during my investigation: react-native's `WebSocket.binaryType` by default is `undefined`, which is blocking rhea from behaving properly when running in browser.  I will create an expo sample project where I got service-bus to send messages on Android Emulator. If you want, you can try and see whether this solves the connection issue you were seeing:

[code]

[2022-10-14 23:25] rnavarroSF commented on #19468
Hi,
This is still happening in version 7.7.2. ie, it keeps retrying infinitely.

[2022-10-15 11:55] proohit commented on #23474
This worked! Got some incompatibilities with `react-native-tcp` and `react-native-udp`, but those are not related to this issue. After fixing all those, communication to service-bus was successful. Though, I would wish for a cleaner solution, without polyfilling almost all of node modules and being dependent on many (also outdated) dependencies.

[2022-10-16 08:04] #23211 closed

[2022-10-16 08:40] zfyseu commented on #20274
@jeremymeng My receiver only receives one message at a time.

[2022-10-17 06:23] qiaozha commented on #23516
Add service attention, this issue is asking whether service could provide more filter options in the ResourceSkus_List operations such as resourceType, name and capabilities name